﻿<link href="assets/theme/css/ltr/BellConfig.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="main_container">
    <div class="row sloat_header">
        <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="page-title">
                <h3>{{"Access Control - User"| translate }} <span class="semi-bold">{{"Config"| translate }}</span></h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-9 col-md-12 padding_right_none">
            <div class="white_bg box-shadow">
                <section class="pagesec">
                    <div class="section_heading">
                        <h4>{{"Define Access Control - User"| translate }}</h4>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="radio radio-success" style="padding-top: 0px;">
                                    <input type="radio" id="xrdRole" style="padding-left: 4px;"
                                        ng-click="getData('SRL')"
                                        name="rdOption1" id="xrdRole">
                                    <label for="xrdRole">&nbsp;<b>{{"Role"| translate }}</b></label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="radio radio-success" style="padding-top: 0px;">
                                    <input type="radio" style="padding-left: 4px;"  ng-click="getData('SDG')"
                                        name="rdOption1" id="xrdDesignation">
                                    <label for="xrdDesignation">&nbsp;<b>{{"Designation"| translate }}</b></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                             
                                <select id="cmb_role_desg" name="sections" multiple="multiple" required ng-model="edt.sims_role_deg_code">
                                    <option ng-repeat="i in roleDesigData" class="full-width"
                                        value="{{i.sims_role_deg_code}}">&nbsp;{{i.sims_role_deg_name}}
                                    </option>
                                </select>
                            </div>

                        <button type="button" style="margin-top: 0px !important; margin-bottom: 15px !important" class="btn btn-default addlecturebtn" ng-click="preview()">{{"Preview"| translate }} <!--<i class="glyphicon glyphicon-edit"></i>--></button>
                        <button type="button"  style="margin-top: 0px !important; margin-bottom: 15px !important " class="btn btn-default addlecturebtn" ng-click="saveconfig()">{{"Save"| translate }} <!--<i class="glyphicon glyphicon-edit"></i>--></button>

                        </div>
                    </div>
                    <div class="row heading_section toggle_btn">
                        <div class="col-lg-12 border_right text-left">
                            <h5>{{"Users"| translate }}</h5>
                        </div>
                        <span class="accordian_btn glyphicon glyphicon-minus" ng-click="accordian($event)"></span>
                    </div>
                    <div class="toggle_section">
                        <div class="row margin-top">
                            <div class="col-sm-12">
                                <table class="table table-bordered  dataTable table-hover" id="project-progress" role="grid" aria-describedby="project-progress_info">
                                    <thead>
                                        <tr role="row">
                                            <th tabindex="0" aria-controls="project-progress" aria-sort="ascending" aria-label="ID: activate to sort column descending" style="width: 15px;">{{"Sr. No"| translate }}
                                            </th>
                                            <th style="width: 120px;" tabindex="0" aria-controls="project-progress">{{"User Code"| translate }}</th>
                                            <th style="width: 120px;" tabindex="0" aria-controls="project-progress">{{"Name"| translate }}</th>
                                            <th style="width: 120px;" tabindex="0" aria-controls="project-progress">{{"Role"| translate }}</th>
                                            <th  style="height:20px;z-index:1;width:120px;vertical-align:middle" aria-controls="project-progress">
                                                <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" name="check" value="1" id="mainchk" ng-click="CheckMultiple();">
                                                <label for="mainchk">{{"Status"| translate }}</label>
                                        </div>
                                    </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="app in users" ng-class="row1">
                                            <td>
                                                <div class="text-default">{{$index+1}}</div>
                                            </td>
                                            <td>
                                                <div class="text-default">{{app.sims_user_name}}</div>
                                            </td>
                                            <td>
                                                <div class="text-default">{{app.sims_user_alias}}</div>
                                            </td>
                                            <td>
                                                <div class="text-default">{{app.sims_role_deg_name}}</div>
                                            </td>
                                            <td>
                                                <div class="checkbox check-success" style="height: 20px">
                                                    <input type="checkbox" name="chkAppConfigStatus" ng-click="check($index,app)" ng-model="app.sims_status" value="1" id="chk{{$index}}" />
                                                    <label for="chk{{$index}}">&nbsp;</label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                
                </section>
                <section class="pagesec"></section>
            </div>
        </div>
      
          <div class="col-lg-3 col-md-12 ">
            <div class="white_bg box-shadow">
                <div class="section_heading">
                    <h4>{{"Your summary"| translate }}</h4>
                </div>

                <div class="bellAcaSummery">
                    <strong>{{"Saved Access Criteria"| translate }} - </strong>
                    <div class="divider"></div>

                    <div id="{{bell.sims_access_code}}" class="summeryItem" ng-repeat="bell in savedBellData" >
                        <div class="pull-left" >
                            <!--<i data-acayear="{{bell.sims_access_code}}" data-bellcode="{{bell.sims_access_code}}" ng-click="editBell(bell)" class="editBell glyphicon glyphicon-pencil"></i>-->
                            <div class="radio radio-success" style="padding-top: 0px;">
                                <input type="radio" name="rdOption" ng-click="assign(bell.sims_access_code)" id="ix{{bell.sims_access_code}}">
                                <label for="ix{{bell.sims_access_code}}">{{bell.sims_accesss_name}}</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div ng-hide="true" id="showmessage" class=" text-white p-t-10 p-b-10 p-l-10 p-r-10"></div>


