﻿<style>
    .k-textbox .k-icon {
    top: 50%;
    margin: -9px -9px 0;
    position: absolute;
}
    .k-input {
    padding: 0em;
    margin-top:0px;
}
</style>
<div class="row">
    <div class="row" ng-show="notshow">
        <div class="col-xs-4">
            <div class="well" class="form-group">
                <div class="form-group">
                    <label>Current Page:</label>
                    <input placeholder="page"
                           class="form-control"
                           ng-model="currentPage"
                           ng-init="currentPage = 1" />
                </div>
                <div class="form-group">
                    <label>Page Size:</label>
                    <input placeholder="Page Size"
                           class="form-control"
                           ng-model="numPerPage" />
                </div>
                <div class="form-group">
                    <label>Total Items:</label>
                    <input placeholder="Total"
                           class="form-control"
                           ng-model="pagersize" />
                </div>
                <hr />
                <div class="form-group">
                    <label>Dots Display:</label>
                    <input placeholder="..."
                           class="form-control"
                           maxlength="3"
                           ng-model="dots"
                           ng-init="dots = '...'" />
                </div>

                <hr />
                <div class="form-group">
                    <label>UL Class:</label>
                    <input placeholder="pagination"
                           class="form-control"
                           maxlength="100"
                           ng-model="ulClass" />
                </div>
                <div class="form-group">
                    <label>Active Class:</label>
                    <input placeholder="active"
                           class="form-control"
                           maxlength="100"
                           ng-model="activeClass"
                           ng-init="activeClass = 'active'" />
                </div>
                <div class="form-group">
                    <label>Disabled Class:</label>
                    <input placeholder="disabled"
                           class="form-control"
                           maxlength="100"
                           ng-model="disabledClass"
                           ng-init="disabledClass = 'disabled'" />
                </div>
                <br />
                <table class="table">

                    <tr>
                        <td>
                            <label>Show Prev Next:</label>
                        </td>
                        <td>
                            <input type="checkbox"
                                   ng-model="showPrevNext"
                                   ng-init="showPrevNext = true" />
                            {{showPrevNext}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Show First Last:</label>
                        </td>
                        <td>
                            <input type="checkbox"
                                   ng-model="showFirstLast"
                                   ng-init="showFirstLast = true" />
                            {{showPrevNext}}
                        </td>
                    </tr>
                </table>
                <hr />
                <span class="btn btn-default" onclick="location.reload()">
                    <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                </span>
                <span class="btn btn-success" ng-click="currentPage = 0">
                    Apply Settings
                </span>
                <br />
                <br />
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Admission Classes"|translate}}</span>&nbsp;{{"Master"|translate}}</h3>
            </div>
            <div class="grid-body no-border">
            <div ng-show="display">
                <form name="Myform" ng-submit="Save(Myform.$valid)" novalidate="novalidate">
                    
                                <div class="row">
                                <div class="col-md-2">
                                            <label class="right inline">{{"Curriculum"|translate}} <span class="asterisk" style="color: red">*</span></label>

                                            <!--<label ng-show="label" style="background-color:#edeaea" class="form-control input-sm">{{edt.sims_house_code}}</label>-->
                                            <select name="house_cur" id="cmb_admission_curriculum" ng-model="edt.sims_cur_code" data-role="dropdownlist" class="form-control input-sm full-width" ng-change="getacademicYear(edt.sims_cur_code)"
                                                    ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in Curriculum" ng-disabled="disabledSimsCurCode">
                                               <!-- <option selected disabled value="">Please Select</option>-->
                                            </select>
                                        </div>

                                <div class="col-md-2" ng-class="{'has-error': !Myform.cmb_academic_year.$valid && (Myform.cmb_academic_year.$touched || Myform.$submitted) }">
                                          <label>{{"Academic Year"|translate}} <span class="asterisk" style="color: red">*</span></label>

                                            <!--<label ng-show="label" style="background-color:#edeaea" class="form-control input-sm">{{edt.sims_house_code}}</label>-->
                                            <!--<select name="cmb_academic_year" id="cmb_academic_year" ng-model="edt.sims_academic_year" class="form-control" ng-change="getGrade(edt.sims_cur_code,edt.sims_academic_year);Getterm1();"
                                                    ng-options="year.sims_academic_year as year.sims_academic_year_desc for year in AcademicYear" required>
                                                <option selected disabled value="">Please Select</option>
                                            </select>-->
                                            <select name="cmb_academic_year" id="cmb_academic_year" ng-model="edt.sims_academic_year" data-role="dropdownlist" class="form-control input-sm full-width" 
                                                ng-change="getGrade(edt.sims_cur_code,edt.sims_academic_year);Getterm1();" 
                                                 ng-options="year1.sims_academic_year as year1.sims_academic_year_desc for year1 in AcademicYear"
                                                required ng-disabled="readonlySimsAcademicYear"> 
                                                <!--<option selected disabled value="">Please Select</option>
                                                <option ng-repeat="year in AcademicYear" value="{{year.sims_academic_year}}" ng-selected="edt.sims_academic_year == year.sims_academic_year">{{year.sims_academic_year_desc}}</option>-->
                                            </select>
                                            <p class="help-block" ng-show="Myform.cmb_academic_year.$error.required &&  (Myform.cmb_academic_year.$touched || Myform.$submitted)">
                                                Please select academic year
                                            </p>
                                        </div>

                                <div class="col-md-2" ng-class="{'has-error': !Myform.cmb_grade_code.$valid && (Myform.cmb_grade_code.$touched || Myform.$submitted) }">
                                          <label> {{"Grade"|translate}} <span class="asterisk" style="color: red">*</span></label>

                                            <!--<label ng-show="label" style="background-color:#edeaea" class="form-control input-sm">{{edt.sims_house_code}}</label>-->
                                            <!--<select name="cmb_grade_code" id="cmb_grade_code" ng-model="edt.sims_grade_code" class="form-control" ng-change="getsection(edt.sims_cur_code,edt.sims_grade_code,edt.sims_academic_year)"
                                                    ng-options="grade.sims_grade_code as grade.sims_grade_name for grade in AllGrades" required>
                                                <option selected disabled value="">Please Select</option>
                                            </select>-->
                                            <select name="cmb_grade_code" id="cmb_grade_code" ng-model="edt.sims_grade_code" data-role="dropdownlist" class="form-control input-sm full-width" ng-change="getsection(edt.sims_cur_code,edt.sims_grade_code,edt.sims_academic_year)"
                                                    required ng-disabled="disabledGradeCode">
                                                <option selected disabled value="">Please Select</option>
                                                <option ng-repeat="grade in AllGrades" ng-selected="edt.sims_grade_code == grade.sims_grade_code" value="{{grade.sims_grade_code}}">{{ grade.sims_grade_name }}</option>
                                            </select>
                                            <p class="help-block" ng-show="Myform.cmb_grade_code.$error.required &&  (Myform.cmb_grade_code.$touched || Myform.$submitted)">
                                                Please select grade
                                            </p>
                                        </div>

                                <div class="col-md-2" ng-show="false" ng-class="{'has-error': !Myform.cmb_section_code.$valid && (Myform.cmb_section_code.$touched || Myform.$submitted) }">
                                        <label> {{"Section"|translate}} <span class="asterisk" style="color: red">*</span></label>

                                            <!--<label ng-show="label" style="background-color:#edeaea" class="form-control input-sm">{{edt.sims_house_code}}</label>-->
                                            <!--<select name="cmb_section_code" id="cmb_section_code" ng-model="edt.sims_section_code" class="form-control" ng-change="Getterm1()"
                                                  ng-selected="edt.sims_section_code == section.sims_section_code"  ng-options="section.sims_section_code as section.sims_section_name for section in getSectionFromGrade" required>
                                                <option selected disabled value="">Please Select</option>
                                            </select>-->
                                            <select name="cmb_section_code" id="cmb_section_code" ng-model="edt.sims_section_code" data-role="dropdownlist" class="form-control input-sm full-width"  ng-disabled="disabledSection">
                                                <option selected disabled value="">Please Select</option>
                                                <option ng-repeat="section in getSectionFromGrade" ng-selected="edt.sims_section_code == section.sims_section_code" value="{{section.sims_section_code}}">{{section.sims_section_name}}</option>
                                            </select>
                                            <p class="help-block" ng-show="Myform.cmb_section_code.$error.required &&  (Myform.cmb_section_code.$touched || Myform.$submitted)">
                                                Please select section
                                            </p>
                                        </div>

                                <div class="col-md-2" ng-class="{'has-error': !Myform.cmb_term_code.$valid && (Myform.cmb_term_code.$touched || Myform.$submitted) }">
                                                  <label>  {{"Term"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                                    <!--<label ng-show="label" style="background-color:#edeaea" class="form-control input-sm">{{edt.sims_house_code}}</label>-->
                                                    <!--<select name="cmb_term_code" id="cmb_term_code" ng-model="edt.sims_term_code" class="form-control"
                                                            ng-options="term.sims_term_code as term.sims_term_desc_en for term in  Termsobject" required>
                                                        <option selected disabled value="">Please Select</option>
                                                    </select>-->
                                                    <select name="cmb_term_code" id="cmb_term_code" ng-model="edt.sims_term_code" data-role="dropdownlist" class="form-control input-sm full-width" required ng-disabled="disabledTerm">
                                                        <option selected disabled value="">Please Select</option>
                                                        <option ng-repeat="term in Termsobject" ng-selected="edt.sims_term_code == term.sims_term_code" value="{{term.sims_term_code}}">{{term.sims_term_desc_en}}</option>
                                                    </select>
                                                    <p class="help-block" ng-show="Myform.cmb_term_code.$error.required &&  (Myform.cmb_term_code.$touched || Myform.$submitted)">
                                                        Please select Term
                                                    </p>
                                                </div>

                             
                              </div>
                                <div class="row margin-top">
                                        
                                        <div class="col-md-2">
                                            <label for="birthStartDate">{{"Birth Date From" | translate }}</label>
                                                        <input type="text" id="birth_from_date" placeholder="Select Date" name="birth_date" class="k-textbox input-sm full-width" ng-model="edt.simsBirthDateFrom">
                                                        <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                                    </div>

                                        <div class="col-md-2">
                                            <label for="birthEndDate">{{"Birth Date To" | translate }}</label>
                                                        <input type="text" id="birth_end_date" placeholder="Select Date" name="birth_date" class="k-textbox input-sm full-width" ng-model="edt.simsBirthDateTo">
                                                        <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                                    </div>

                                <div class="col-md-2">
                                                    <label>{{"Status"|translate}} </label>

                                                    <div class="checkbox check-success">
                                                        <input id="chk_admissionclasses_status" type="checkbox" value="1" checked="checked" ng-model="edt.simsStatus">
                                                        <label for="chk_admissionclasses_status"></label>
                                                    </div>
                                                </div>           
                                        <div class="col-md-2">
                                            <label for="admissionStartDate">{{"Admission Start Date" | translate }}</label>
                                                        <input type="text" id="admission_start_date" placeholder="Select Date" name="birth_date" class="k-textbox input-sm full-width" ng-model="edt.simsAdmissionStartFrom">
                                                        <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                                    </div>

                                        <div class="col-md-2">
                                            <label for="admssionEndDate">{{"Admission End Date" | translate }}</label>
                                                        <input type="text" id="admission_end_date" placeholder="Select Date" name="birth_date" class="k-textbox input-sm full-width" ng-model="edt.simsAdmissionEnd">
                                                        <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                                    </div>

                                </div>
                          

                        <div class="row">
                            <div class="col-md-12">
                    <div class="form-actions">
                        <div class="pull-right">
                            <!--<button class="btn btn-primary btn-cons" type="submit" ng-click="New()"><i class="icon-ok"></i>New</button>-->
                            <button class="btn btn-primary btn-small" type="submit" ng-show="save1">{{"Save"|translate}}</button>
                            <button class="btn btn-primary btn-small" type="button" ng-click="Update(Myform.$valid)" ng-show="update1">{{"Update"|translate}}</button>
                            <button class="btn btn-danger btn-small" type="button" ng-click="cancel()">{{"Cancel"|translate}}</button>
                        </div>
                    </div>
                                </div>
                        </div>
                </form>

            </div>

            <!--Table/Grid-->

            <div ng-show="grid">
                <div class="row">
                    <div class="col-md-6">
                        <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="10" class=" form-control input-sm">
                                10
                            </option>

                            <option value="20" class=" form-control input-sm">
                                20
                            </option>

                            <option value="All" class=" form-control input-sm">
                                All
                            </option>
                        </select>
                        &nbsp;
                        <button class="btn btn-success btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"|translate}}</button>
                        &nbsp;
                        <button class="btn btn-danger btn-small" type="button" ng-click="Delete()"><span class="semi-bold"></span>{{"Delete"|translate}}</button>
                    </div>

                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" placeholder="Grade / Year" ng-model="searchText" class="k-textbox input-sm full-width" ng-change="search()">
                                <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div class="row margin-top">
                        <div class="col-md-12">
                        <table class="table table-bordered table-condensed" id="example">
                            <thead>
                                <tr style="height:20px">
                                    <th style="vertical-align:middle">
                                        <div class="checkbox check-success" style="height:20px">
                                            <input type="checkbox" name="check" value="1" id="mainchk" ng-click="check();">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>
                                    <th class="bold">{{"Curriculum"|translate}}</th>
                                    <th class="bold">{{"Year"|translate}}</th>
                                    <th class="bold">{{"Grade"|translate}}</th>
                                    <!--<th class="semi-bold">{{"SECTION"|translate}}</th>
                                    <th class="semi-bold">{{"TREM"|translate}}</th>-->
                                    <th class="bold">{{"Birth From"|translate}}</th>
                                    <th class="bold">{{"Birth To" | translate}}</th>
                                    <th class="bold">{{"Admission Start"|translate}}</th>
                                    <th class="bold">{{"Admission End" | translate}}</th>
                                    <th class="bold">{{"Status"|translate}}</th>
                                    <th class="bold">{{"Action"|translate}}</th>
                                </tr>
                            </thead>
                            <tr ng-repeat="info in filteredTodos">
                                <td>
                                    <div class="checkbox check-success" style="height: 20px">
                                        <input type="checkbox" name="check" value="1" id="{{info.sims_cur_code+info.sims_grade_code+info.sims_section_code}}" ng-model="info.ischecked" ng-click="check1(info.sims_cur_code);">
                                        <label for="{{info.sims_cur_code+info.sims_grade_code+info.sims_section_code}}"></label>
                                    </div>
                                </td>
                                <td>{{info.sims_cur_short_name_en}}</td>
                                <td>{{info.sims_academic_year_description}}</td>
                                <td>{{info.sims_grade_name_en}} ({{info.sims_section_name_en}})</td>
                                <!--<td>{{info.sims_section_name_en}}</td>
                                <td>{{info.sims_term_desc_en }}</td>-->
                                <td>{{info.sims_birth_date_from}}</td>
                                <td>{{info.sims_birth_date_to }}</td>
                                <td>{{info.sims_admission_start_from}}</td>
                                <td>{{info.sims_admission_end }}</td>
                                <td class="v-align-middle">
                                    <span ng-if="info.sims_status==true" class="label label-success">{{"Active"|translate}}</span>
                                    <span ng-if="info.sims_status==false" class="label label-important">{{"In active"|translate}}</span>
                                </td>
                                <td>
                                    <!--<button class="btn btn-primary btn-cons" type="button" ng-click="change()">Update</button>-->
                                    <a href=""><i class="fa fa-edit" ng-click="edit(info)"></i></a>
                                </td>
                            </tr>

                        </table>
                    </div>
                        </div>
                     <div class="row"ng-show="pager" >
                        <div class="col-md-12">
                            <div class="pull-right">
                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                            ng-click="index(currentPage)">
                    </paging>
                                </div>
                            </div>
                         </div>
                </div>
            </div>
                </div>
            <!--End Table/Grid-->
        </div>
    </div>
</div>



<script src="assets/js/calender-datepicker-id.js"></script>





