﻿

<form style="display: hidden" action="http://econtent.asd.amity.ac.ae/sch/autologin.php" method="POST" id="form" target="_blank">
  <input type="hidden" id="u" name="u" value="{{uname}}"/>
  <input type="hidden" id="p" name="p" value="{{pass}}"/>
  <input type="hidden" id="t" name="t" value="t"/>
  <input type="hidden" id="sc" name="sc" value="asd"/>

</form>
