﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3>{{ "User Language" | translate }}</h3>
            </div>

            <div class="grid-body no-border">
                <div ng-show="display">
                    <form name="myForm" novalidate="novalidate" ng-submit="Save(myForm.$valid)">
                        <div class="row" ng-show="notshow">
                            <div class="col-xs-4">
                                <div class="well" class="form-group">
                                    <div class="form-group">
                                        <label>Current Page:</label>
                                        <input placeholder="page"
                                               class="form-control"
                                               ng-model="currentPage"
                                               ng-init="currentPage = 1" />
                                    </div>
                                    <div class="form-group">
                                        <label>Page Size:</label>
                                        <input placeholder="Page Size"
                                               class="form-control"
                                               ng-model="numPerPage" />
                                    </div>
                                    <div class="form-group">
                                        <label>Total Items:</label>
                                        <input placeholder="Total"
                                               class="form-control"
                                               ng-model="pagersize" />
                                    </div>
                                    <hr />
                                    <div class="form-group">
                                        <label>Dots Display:</label>
                                        <input placeholder="..."
                                               class="form-control"
                                               maxlength="3"
                                               ng-model="dots"
                                               ng-init="dots = '...'" />
                                    </div>

                                    <hr />
                                    <div class="form-group">
                                        <label>UL Class:</label>
                                        <input placeholder="pagination"
                                               class="form-control"
                                               maxlength="100"
                                               ng-model="ulClass" />
                                    </div>
                                    <div class="form-group">
                                        <label>Active Class:</label>
                                        <input placeholder="active"
                                               class="form-control"
                                               maxlength="100"
                                               ng-model="activeClass"
                                               ng-init="activeClass = 'active'" />
                                    </div>
                                    <div class="form-group">
                                        <label>Disabled Class:</label>
                                        <input placeholder="disabled"
                                               class="form-control"
                                               maxlength="100"
                                               ng-model="disabledClass"
                                               ng-init="disabledClass = 'disabled'" />
                                    </div>
                                    <br />
                                    <table class="table">

                                        <tr>
                                            <td>
                                                <label>Show Prev Next:</label>
                                            </td>
                                            <td>
                                                <input type="checkbox"
                                                       ng-model="showPrevNext"
                                                       ng-init="showPrevNext = true" />
                                                {{showPrevNext}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Show First Last:</label>
                                            </td>
                                            <td>
                                                <input type="checkbox"
                                                       ng-model="showFirstLast"
                                                       ng-init="showFirstLast = true" />
                                                {{showPrevNext}}
                                            </td>
                                        </tr>
                                    </table>
                                    <hr />
                                    <span class="btn btn-default" onclick="location.reload()">
                                        <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                                    </span>
                                    <span class="btn btn-success" ng-click="currentPage = 0">
                                        Apply Settings
                                    </span>
                                    <br />
                                    <br />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                          <!--  <div class="col-md-3">
                                <label class="form-label-sm">{{ "Module Code" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                <div ng-class="{'has-error': !myForm.moduleName.$valid && (myForm.moduleName.$touched || myForm.$submitted) }">
                                    <select id="cmb_ModuleName" name="moduleName"
                                            data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.sims_mod_code" ng-disabled="edit_data" required ng-maxlength="3" ng-minlength="1" ng-change="GetApplication(edt.sims_mod_code)"
                                            ng-options="item.comn_appl_mod_code as item.comn_appl_mod_name for item in module_data">
                                        <option value="">Please Select</option>
                                        
                                    </select>
                                </div>
                                <div class="error-container"
                                     ng-show="myForm.moduleName.$dirty && myForm.moduleName.$invalid || myForm.$submitted">
                                    <small class="help-block"
                                           ng-show="myForm.moduleName.$error.required && (myForm.moduleName.$touched || myForm.$submitted)">
                                        This Field is required.
                                    </small>
                                    
                                </div>
                            </div>-->



                            <div class="col-md-3">
                                <label class="form-label">{{ "Application Code" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                <div ng-class="{'has-error': !myForm.ApplicationName.$valid && (myForm.ApplicationName.$touched || myForm.$submitted) }">
                                    <select id="cmb_applName" name="ApplicationName"
                                            data-role="dropdownlist" class="form-control input-sm full-width" required   ng-disabled="edit_data" ng-minlength="1" ng-model="edt.sims_appl_code"
                                            ng-options="item1.comn_application_code as item1.comn_application_name for item1 in appl_data">
                                        <option value="">Please Select</option>
                                        <!-- <option ng-repeat="i in appl_data" ng-if="i.comn_application_code.length" value="{{i.comn_application_code}}">{{i.comn_application_name}}
                                        </option>-->
                                    </select>
                                </div>

                                <div class="error-container"
                                     ng-show="myForm.ApplicationName.$dirty && myForm.ApplicationName.$invalid || myForm.$submitted">
                                    <small class="help-block"
                                           ng-show="myForm.ApplicationName.$error.required && (myForm.ApplicationName.$touched || myForm.$submitted)">
                                        This Field is required.
                                    </small>
                                </div>
                            </div>


                      
                           
                        </div>

                        <div class="row">
                             <div class="col-md-3">
                                <label class="form-label">{{ "Text" | translate }}</label>
                                <input name="txt_desc" id="txt_desc" type="text" class="k-textbox input-sm full-width"
                                       placeholder="Please Enter" ng-model="edt.sims_english" maxlength="50">
                            </div>

                             <div class="col-md-3">
                                <label class="form-label">{{ "English" | translate }}</label>
                                <input name="txt_desc" id="Text1" type="text" class="k-textbox input-sm full-width"
                                       placeholder="Please Enter" ng-model="edt.sims_english_en" maxlength="50">
                            </div>

                             <div class="col-md-3">
                                <label class="form-label">{{ "Arabic" | translate }}</label>
                                <input name="txt_desc" id="Text2" type="text" class="k-textbox input-sm full-width"
                                       placeholder="Please Enter" ng-model="edt.sims_arabic_en" maxlength="50">
                            </div>

                        </div>
                       
                       


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-actions">
                                    <div class="pull-right">
                                        <!--<button class="btn btn-primary btn-cons" type="submit" ng-click="New()"><i class="icon-ok"></i>New</button>-->
                                        <button class="btn btn-primary btn-small" type="submit" ng-show="save1">{{ "Save" | translate }}</button>
                                        <button class="btn btn-primary btn-small" type="button" ng-click="Update(true)" ng-show="update1">{{ "Update" | translate }}</button>
                                        <!--<button class="btn btn-danger btn-cons" type="button" ng-click="Delete()" ng-show="delete1">Delete</button>-->
                                        <button class="btn btn-danger btn-small" type="button" ng-click="cancel()">{{ "Cancel" | translate }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!--grid 1-->
                <div ng-show="grid1">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="pull-left">
                                <select id="Select1" class="input-sm" style="width: 60px" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                                    <option value="10" class="form-control input-sm">10</option>
                                    <option value="20" class="form-control input-sm">20</option>
                                    <option value="All" class="form-control input-sm">ALL</option>
                                </select>
                            </div>

                            &nbsp;
                            <button class="btn btn-success btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{ "New" | translate }}</button>
                            &nbsp;
                        </div>
                        <div class="col-md-3">
                            <label class="form-label" style="text-align: right;">{{ "Filter By Application Name" | translate }}</label>
                        </div>

                        <div class="col-md-3">
                            <select id="cmb_appl" name="ApplicationName"
                                    data-role="dropdownlist" class="form-control input-sm less-width" required  ng-disabled="data" ng-minlength="1" ng-model="edt.comn_application_code" ng-change="GetSelectedApplication(edt.comn_application_code)"
                                    ng-options="item1.comn_application_code as item1.comn_application_name for item1 in appl_name | orderBy:'comn_application_name'">
                                <option value="">Please Select</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <div class="pull-right">
                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText"
                                           placeholder="Search..." class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <div class="row margin-top">
                            <div class="col-md-12">
                                <table class="table table-hover table-bordered table-condensed" id="fixedtable">
                                    <tr style="background-color: #e9e4e4">
                                      <!--  <th class="small-cell v-align-middle"><b>{{ "MORE" | translate }}&nbsp;</b></th>-->

                                       <!-- <th class="semi-bold" ng-click="orderByField='sort'; reverseSort = !reverseSort" style="width:13%">
                                            <label>
                                                <b>
                                                    <a href="">
                                                        <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort">
                                                            <i class="fa fa-caret-up" ng-if="orderByField"></i>
                                                        </span><span ng-show="reverseSort">
                                                            <i class="fa fa-caret-down"></i>
                                                        </span>&nbsp;{{ "Module Name" | translate }}
                                                </b>
                                            </label>
                                        </th>-->
                                        <th>{{ "Application Name" | translate }}</th>
                                        <th>{{ "Text" | translate }}</th>
                                        <th style="width:195px">{{ "Arabic" | translate }}</th>
                                        <th>{{ "Englis_en" | translate }}</th>
                                     
                                        <th class="small-cell v-align-middle" ng-hide="true"><i class="fa fa-cogs"></i></th>

                                    </tr>
                                    <tr ng-repeat="seq  in filteredTodos | orderBy:orderByField:reverseSort |filter:searchText" ng-class="row1">
                                       <!-- <td class="text-center"><i class="{{seq.icon}}" ng-click="expand(seq, $event);"></i></td>-->
                                       <!-- <td><div>{{seq.comn_mod_name_en}}</div></td>-->
                                        <td><div>{{seq.comn_application_name}}</div></td>
                                        <td><div>{{seq.sims_english}}</div></td>
                                        <td><div><input name="txt_desc" id="Text3" type="text" class="k-textbox input-sm full-width"
                                       placeholder="arabic" ng-model="edt.sims_arabic_en" maxlength="50"><!--{{seq.sims_arabic_en}}--></div></td>
                                        <td><div>{{seq.sims_english_en}}</div></td>
                                        <!--<td><div>{{seq.comn_academic_year_desc}}</div></td>-->
                                        
                                        <td ng-hide="true">
                                            <a><i class="fa fa-edit" ng-click="edit(seq)"></i></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row" ng-show="pager">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                            ng-click="index(currentPage)">
                                    </paging>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


               <!-- new grid-->
                   <div class="raw" style="margin-top: 7px;margin-left: -7px;margin-right: -7px;">
                        <div class="paddingcode grid-body no-border" style="background-color: white;">
                    <div ng-show="grid">
                               <div class="row">
                        <div class="col-md-3">
                            <div class="pull-left">
                                <select id="Select2" class="input-sm" style="width: 60px" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                                    <option value="10" class="form-control input-sm">10</option>
                                    <option value="20" class="form-control input-sm">20</option>
                                    <option value="All" class="form-control input-sm">ALL</option>
                                </select>
                            </div>

                            &nbsp;
                            <button class="btn btn-success btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{ "New" | translate }}</button> 
                            &nbsp;
                        </div>
                        <div class="col-md-3">
                            <label class="form-label" style="text-align: right;">{{ "Filter By Application Name" | translate }}</label>
                        </div>

                        <div class="col-md-3">
                            <select id="Select3" name="ApplicationName"
                                    data-role="dropdownlist" class="form-control input-sm less-width" required  ng-disabled="data" ng-minlength="1" ng-model="edt.comn_application_code" ng-change="GetSelectedApplication(edt.comn_application_code)"
                                    ng-options="item1.comn_application_code as item1.comn_application_name for item1 in appl_name | orderBy:'comn_application_name'">
                                <option value="">Please Select</option>
                            </select>
                        </div>
                                   <div class="col-md-3">
                            <div class="pull-right">
                                
                                 <button type="button" id="Button1" class="btn btn-primary btn-small" ng-click="updatetable()" ng-show="tableupdate">{{"Update" | translate }}</button>
                                </div>
                        </div>
                        <!--<div class="col-md-3">
                            <div class="pull-right">
                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText"
                                           placeholder="Search..." class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                </span>
                            </div>
                        </div>-->
                    </div>

                        <div id="Div1" class="dataTables_wrapper form-inline">
                            <div class="row margin-top">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-hover" id="fixTable">
                                        <thead>
                                           <tr style="background-color: #e9e4e4">
                                        <th class="small-cell v-align-middle"><b>{{ "MORE" | translate }}&nbsp;</b></th>

                                        
                                         <!--<th>{{ "Module Name" | translate }}</th>-->
                                        <th>{{ "Application Name" | translate }}</th>
                                        <th>{{ "Text" | translate }}</th>
                                        <th style="width:195px">{{ "Arabic" | translate }}</th>
                                        <th>{{ "Englis_en" | translate }}</th>
                                         
                                        <th class="small-cell v-align-middle" ng-hide="true"><i class="fa fa-cogs"></i></th>

                                    </tr>
                                        </thead>
                                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                                           <tr ng-repeat="seq  in filteredTodos | orderBy:orderByField:reverseSort |filter:searchText" ng-class="row1">
                                        <td class="text-center"><i class="{{seq.icon}}" ng-click="expand(seq);"></i></td>
                                        <!--<td><div>{{seq.comn_mod_name_en}}</div></td>-->
                                        <td><div>{{seq.comn_application_name}}</div></td>
                                        <!--<td><div>{{seq.sims_english}} </div> </td>-->
                                               <td>
                                                   <div>
                                                       <input type="text" class="full-width" ng-model="seq.sims_english" maxlength="50" style="min-height:25px !important" />
                                                       <!--{{seq.sims_arabic_en}}-->
                                                   </div>
                                               </td>
                                        <td><div> 
                                            <input type="text" class="full-width" ng-model="seq.sims_arabic_en" maxlength="50" style="min-height:25px !important"    />
                                         <!--{{seq.sims_arabic_en}}--></div></td>
                                        <td><div><input type="text" class="full-width" ng-model="seq.sims_english_en" maxlength="50" style="min-height:25px !important"    />
                                            <!--{{seq.sims_english_en}}--></div></td>
                                        
                                        
                                        <td ng-hide="true">
                                            <a><i class="fa fa-edit" ng-click="edit(seq)"></i></a>
                                        </td>
                                    </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--<div class="displayerror" ng-show="ImageView">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row form-row">
                                            <div>
                                                <p style="font: bold 24px large; color:black">
                                                    Sorry No Records Found!!!!!!!
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                            <!-- <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>-->
                        </div>
                    </div>

                <!--</div>-->

               <!-- <div class="col-md-12 margin-top">
                     
                        <div class="pull-right">
                            <button type="button" id="Button1" class="btn btn-primary btn-small" ng-click="updatetable()" ng-show="tableupdate">{{"Update" | translate }}</button>
                           
                        </div>
                    
                </div>-->
            </div>
            </div>
            </div>
        </div>
    </div>
</div>

<script src="assets/js/tableHeadFixer.js"></script>


