﻿body {
}
/* shahaji */
.rowc {  
    margin-right: 7px !important;
    margin-left: 7px !important;
    margin-bottom: 7px;
    background:#fff;
}
.grd { 
    padding: 14px 15px 7px;
    margin-bottom: 0;
    border-bottom: 0 !important;
}
.datepicheight {
    height: 30px !important;
}
/* end */

/* Amol */
.bluegrid {
background:#d8ebf4 !important;
padding-bottom:6px !important;
padding-top: 6px !important;
border: 1px solid #dddddd !important; 
}

.paddingcode {
    clear: both;
    padding: 0px 7px 7px 7px !important;

}
.raw {
    clear: both;
    padding: 0px 7px 7px 7px !important;
    margin-top: 0px;
    /*margin-bottom: 7px;*/
    /*margin-top: 78px  !important;*/
    /*background:white !important;*/
}

.rawbody {

  background-color: #ffffff;
  /*padding: 15px;*/
  border: 1px solid #dddddd;
  color: #6f7b8a;
}

.bluegrd {
    background:#d8ebf4 !important;

}

.brow {
    clear: both;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

/* end */


/* Poonam */
 .main_grid {
        margin-bottom:6px !important;
    }
.table_padding {
padding:4px 7px 7px 7px !important
}
#example_wrapper {
height:auto
}
.gridcolor {
background-color:#fff;
}
/* end */

/*Yogesh*/
.grid.simple {
    padding: 7px !important;
    padding-bottom: 6px !important;
}

.raws {
        background-color:white;
}

/*end*/
/*
.mschoice {
        border: none !important;
        height: 26px !important;
    }*/
/*RAhul*/

.topmargin{
    margin-top:3px;
}