﻿.tilesArea {
    width:100%;
    height:auto;
    min-height: 100px;
    max-height: 217px;
    background-color:lightgray;
    border: 1px solid black;
}

.slotArea {
    margin-top: 20px;
    max-height: 345px;
    min-height: 294px;
    min-width: 332px;
}

table {
    width : 100%;
}

.ui-droppable-hover {
    background-color: yellow;
}

.slotWidth {

}

.width1 {

}

.width2 {

}

.width3 {

}

.tileP {
    border: 0.5px dashed black;
    display: inline-flex;
    margin: 1.5px 2px;
    z-index: 100;
    left: 0 !important;
    top: 0 !important;
}

.tileT {
    border: 0.5px solid black;
    display: inline-flex;
    margin: 1.5px 2px;
    z-index: 100;
    left: 0 !important;
    top: 0 !important;
}

.subjectName {
    text-align: center;
    color: black;
}

.row {

}

.loadButton {
    height: 36px;
    font-style: initial;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
}

.sloat_header{
    margin-top: 50px;
}

.display-flex {
    display:flex;
}

.saveItem {
    height: 34px;
    float: right;
    margin-top: 15px;
}

.page-title h3 {
    width: 100% !important;
    top: initial;
}

.slot_options {
    margin: 8px 0;
    text-align: right;
}


.slot_options .btn {
    display : inline-block;
     margin : 0;
}


.selectpicker{
    vertical-align : middle;
    border-color : #fff;
}

.bootstrap-select>select {
    position: absolute!important;
    bottom: 0;
    left: 50%;
    display: block!important;
    width: .5px!important;
    height: 100%!important;
    padding: 0!important;
    opacity: 0!important;
    border: none;
}

.bootstrap-select .btn{
    background-color: #fff;
}


.bootstrap-select .text-muted{
    display: none;

}



@media screen  and  (max-width: 1024px){
    .sloat_header, .sloat_header .slot_options{
        text-align: center;
    }


}