﻿
.mix-filter {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
}

.mix-filter li {
  color: #222;
  cursor: pointer;
  padding: 6px 15px;
  margin-right: 2px;
  margin-bottom: 5px;
  background: #eee;
  display: inline-block;
}

.mix-filter li:hover,
.mix-filter li.active {
  color: white;
  background-color: #19b698;
}

.mix-grid .mix {
  display: none;
  margin-bottom: 15px;
}



.portfolio .portfolio-item {
  position: relative;
}

.portfolio .portfolio-item .portfolio-image {
  position: relative;
  overflow: hidden;
}

.portfolio .portfolio-item .portfolio-image img {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
  width: 100%;
}

.portfolio .portfolio-item .portfolio-image .portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.portfolio .portfolio-item .portfolio-image .portfolio-overlay a {
  position: absolute;
  top: 55%;
  left: 50%;
  background-color: #000;
  width: 40px !important;
  height: 40px !important;
  margin: -22px 0 0 -44px;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.portfolio .portfolio-item .portfolio-image .portfolio-overlay a.btn-right {
  left: auto;
  right: 50%;
  margin-left: 0;
  margin-right: -44px;
}

.portfolio .portfolio-item .portfolio-image .portfolio-overlay a.btn-middle {
  display: block;
  margin: -20px 0 0 -20px;
}

.portfolio .portfolio-item .portfolio-image .portfolio-overlay a:hover {
  background-color: #19b698;
}

.portfolio .portfolio-item .portfolio-image .portfolio-overlay a:active,
.portfolio .portfolio-item .portfolio-image .portfolio-overlay a:focus {
  outline: 0;
}

.portfolio .portfolio-item:hover .portfolio-image .portfolio-overlay {
  opacity: 1;
}

.portfolio .portfolio-item:hover .portfolio-image .portfolio-overlay a {
  top: 50%;
}

.portfolio .portfolio-item .portfolio-desc {
  z-index: 3;
  padding: 15px 5px 10px;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  transition: all 0.15s ease;
  position: relative;
}

.portfolio .portfolio-item .portfolio-desc h3, .portfolio .portfolio-item .portfolio-desc h4 {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.portfolio .portfolio-item .portfolio-desc h3 a, .portfolio .portfolio-item .portfolio-desc h4 a {
  color: #222;
}

.portfolio .portfolio-item .portfolio-desc h3 a:hover, .portfolio .portfolio-item .portfolio-desc h4 a:hover {
  color: #19b698;
}

.portfolio .portfolio-item .portfolio-desc span {
  display: block;
  margin-top: 3px;
  color: #888888;
}

.portfolio .portfolio-item .portfolio-desc span a {
  color: #888888;
}

.portfolio .portfolio-item .portfolio-desc span a:hover {
  color: #19b698;
}

.portfolio .portfolio-item .portfolio-desc h4 {
  font-size: 14px;
}

.portfolio .portfolio-item .portfolio-desc h4 + span {
  font-size: 12px;
}

.portfolio .portfolio-item .portfolio-desc:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 40px;
  background-color: #eaeaea;
  margin-left: -5px;
  bottom: 0;
}

.portfolio.portfolio-notitle .portfolio-item {
  overflow: hidden;
}

.portfolio.portfolio-notitle .portfolio-item .portfolio-desc {
  position: absolute;
  display: block !important;
  width: 100%;
  height: 78px;
  padding: 15px 5px;
  top: auto;
  bottom: -79px;
  left: 0;
  background-color: #FFF;
  border-bottom: 1px solid #EEE;
}

.portfolio.portfolio-notitle .portfolio-item .portfolio-desc:after {
  display: none;
}

.portfolio.portfolio-notitle .portfolio-item:hover .portfolio-image img {
  -webkit-transform: translateY(-30px) scale(1.05);
  -moz-transform: translateY(-30px) scale(1.05);
  -ms-transform: translateY(-30px) scale(1.05);
  -o-transform: translateY(-30px) scale(1.05);
  transform: translateY(-30px) scale(1.05);
}

.portfolio.portfolio-notitle .portfolio-item:hover .portfolio-image .slide img {
  -webkit-transform: translateY(-20px) scale(1);
  -moz-transform: translateY(-20px) scale(1);
  -ms-transform: translateY(-20px) scale(1);
  -o-transform: translateY(-20px) scale(1);
  transform: translateY(-20px) scale(1);
}

.portfolio.portfolio-notitle .portfolio-item:hover .portfolio-desc {
  bottom: 0;
}

.portfolio.portfolio-nospace .row {
  margin: 0;
}

.portfolio.portfolio-nospace .row > .portfolio-item {
  margin: 0;
  padding: 0;
}

.portfolio.portfolio-nospace .row > .portfolio-item .portfolio-desc {
  padding: 15px 15px 10px;
}