﻿<div class="container">
<div class="row login-container animated fadeInUp">
    <div class="col-md-7 col-md-offset-2 tiles white no-padding">
        <div class="p-t-30 p-l-40 p-b-20 xs-p-t-10 xs-p-l-10 xs-p-b-10">
           
            <h2 class="normal"> <img src="{{obj1.lic_school_logo}}" class="logo" alt=""  width="50px" height="50px"/>{{obj1.lic_school_name}} </h2>

            <!--<h2 class="normal">{{'Sign in to SIMS!!!' | translate}}</h2>-->
            <div class="alert" ng-show="showMessage" ng-class="messageClass" style="width:96%;">
                <button class="close" data-dismiss="alert"></button>
                {{message}}
            </div>
            <button type="button" class="btn btn-primary btn-cons" ng-click="login();" id="login_toggle">{{'Login' | translate}}</button> {{"or" | translate}}&nbsp;&nbsp;
            <button type="button" class="btn btn-info btn-cons" ng-click="toggleLoginScreen();" id="register_toggle"> {{'Forget Password?' | translate}}</button>
        </div>
        <div class="tiles grey p-t-20 p-b-20 text-black">
            <form id="frm_login" ng-hide="showForgetPaaword" class="animated fadeIn">
                <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                    <div class="col-md-6 col-sm-6 ">
                        <input name="login_username" id="login_username" ng-model="username" type="text" class="form-control" placeholder="{{ 'Please enter username or email id' | translate }}">
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <input name="login_pass" id="login_pass" type="password" ng-model="password" class="form-control" placeholder="{{'Please enter password' | translate }}">
                    </div>
                </div>
                <div class="row p-t-10 m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                    <div class="control-group  col-md-10">
                        <div class="checkbox checkbox check-success">
                            <input type="checkbox" id="checkbox1" value="1">
                            <label for="checkbox1">{{'Keep me signed' | translate }}</label>
                        </div
                    </div>
                </div>
            </form>
            <form id="frm_register" ng-show="showForgetPaaword" class="animated fadeIn">
                <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                    <div class="col-md-6 col-sm-6">
                        <input name="reg_username" id="reg_username" type="text" class="form-control" placeholder="{{'Enter your Email ID' | translate }}">
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <button type="button" class="btn btn-info btn-cons" ng-click="toggleLoginScreen();" id="register_toggle"> {{'Send reset password link' | translate }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

    </div>