﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                class="form-control"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                class="form-control"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="page-title">
                <h3><span class="semi-bold">{{"Approve Student"|translate}}  </span>&nbsp;{{"Transport"|translate}}</h3>
            </div>

            <div class="grid-body no-border">
               
                        <div class="row">

                            <div class="col-md-2">
                                <label>{{"Curriculum"| translate }}</label>
                                        <select id="cmb_cur_code" class="form-control input-sm full-width" data-role="dropdownlist"
                                            ng-model="edt.sims_cur_code"
                                            ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in curriculum"
                                            ng-change="getAccYear(edt.sims_cur_code)">
                                            <option value="">Please Select</option>
                                        </select>
                                    </div>


                            <div class="col-md-2">
                                <label>{{"Academic Year"| translate }}</label>
                                        <select id="cmb_academic_year" class="form-control input-sm full-width" data-role="dropdownlist"
                                            ng-model="temp.sims_academic_year"
                                            ng-options="yr.sims_academic_year as yr.sims_academic_year_desc for yr in Acc_year">
                                            <option value="">Please Select</option>
                                        </select>
                                    </div>


                            <div class="col-md-2">
                                <label>{{"Route Direction"|translate}}</label>
                                        <select id="cmb_direction_Code" class="form-control input-sm full-width" data-role="dropdownlist"
                                            ng-model="edt.sims_transport_route_direction"
                                            ng-change="getstopbydirection(temp.sims_academic_year,edt.sims_transport_route_direction)"
                                            ng-options="name.sims_transport_route_direction as name.sims_transport_route_direction_1 for name in  DirectionName" name="rdirect">
                                            <option value="">Please Select</option>
                                        </select>
                                    </div>

                            <div class="col-md-2">
                                <label>{{"Select Stop"|translate}}</label>
                                        <select id="cmb_section" class="form-control input-sm full-width" data-role="dropdownlist"
                                            ng-model="edt.sims_transport_stop_code"
                                            ng-change="getroutebydirection(temp.sims_academic_year,edt.sims_transport_route_direction,edt.sims_transport_stop_code)"
                                            ng-options="stop.sims_transport_stop_code as stop.sims_transport_stop_name for stop in stopdata">
                                            <option value="">Please Select</option>
                                        </select>
                                    </div>


                            <div class="col-md-4">
                                <label>{{"Select Route"|translate}}</label>
                                        <select id="Select1" class="form-control input-sm full-width" data-role="dropdownlist"
                                            ng-model="edt.sims_transport_route_code"
                                            ng-change="getvehiclebydirection(temp.sims_academic_year,edt.sims_transport_route_direction,edt.sims_transport_stop_code,edt.sims_transport_route_code)"
                                            ng-disabled="routedisabled"
                                            ng-options="route.sims_transport_route_code as route.sims_transport_route_short_name for route in get_route_data">
                                            <option value="">Please Select</option>
                                        </select>
                                    </div>

                        </div>
                   
                        <div class="row">

                            <div class="col-md-8">
                                <label>{{"Rejection Reason"| translate }}</label>
                                        <textarea id="Text3" ng-model="edt.sims_transport_route_reject_reason" class="form-control" />
                                    </div>

                            <div class="col-md-4">
                                <label>&nbsp;</label>
                                        <div class="pull-right">
                                            <button type="button" class="btn btn-primary btn-small" ng-click="Show_Data()">{{"Show"|translate}}</button>
                                            <button type="button" class="btn btn-warning btn-small" ng-click="Reset()">{{"Reset"| translate }}</button>
                                        </div>
                                    </div>

                        </div>
                   
              <!--  <hr />-->

                <div ng-show="NodataStudent">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-6">
                                    &nbsp
                                </div>
                                <div class="col-md-12">
                                    <h4 style="text-align: center">Sorry, There is no data found..!</h4>
                                </div>
                                <div class="col-md-3">
                                    &nbsp
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="ApproveDataStudent">

                    <div class="row">
                        <div class="col-md-6">
                            <select id="Select12" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                <option value="5" class="form-control input-sm">5
                                </option>

                                <option value="10" class="form-control input-sm">10
                                </option>

                                <option value="15" class="form-control input-sm">15
                                </option>
                            </select>
                            <!--&nbsp;
                <button class="btn btn-white" style="height: 35px" type="button" ng-click="deleterecord()"><span class="semi-bold"></span>{{"Delete"| translate}}</button>-->
                        </div>

                        <div class="col-md-6">
                            <div class="pull-right">
                                <div class="dataTables_filter" id="Div1">
                                    <span class="k-textbox k-space-right full-width">
                                        <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                        <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <div class="row margin-top">
                            <div class="col-md-12">
                            <table class="table table-bordered  table-condensed" id="fixTable">
                                <thead style="background-color: #edefef">
                                    <tr>
                                        <th class="small-cell v-align-middle" style="z-index: 1">
                                            <div class="checkbox check-success">
                                                <input type="checkbox" name="check" value="1" id="mainchk" ng-click="CheckAllChecked();">
                                                <label for="mainchk"></label>
                                            </div>
                                        </th>
                                        <th class="semi-bold" style="text-align: left; vertical-align: middle" ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                            <label>
                                                <b>
                                                    <a href="">
                                                        <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span>
                                                        <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"ENROLL NUMBER"|translate}}
                                                    </a>
                                                </b>
                                            </label>
                                        </th>
                                        <!--<th class="semi-bold" ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                            <label><b><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"ENROLL NUMBER" | translate }}</b></label>
                                        </th>-->
                                        <!--<th class="semi-bold">{{"ENROLL NUMBER"| translate }}</th>-->
                                        <th class="semi-bold">{{"STUDENT NAME"| translate }}</th>
                                        <!--<th class="semi-bold">{{"REQUEST BY"| translate }}</th>-->
                                        <th class="semi-bold">{{"ROUTE PICKUP STOP"| translate }}</th>
                                        <th class="semi-bold">{{"ROUTE DROP STOP"| translate }}</th>
                                        <th class="semi-bold" style="text-align: left; vertical-align: middle" ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                            <label>
                                                <b>
                                                    <a href="">
                                                        <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span>
                                                        <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"Reason"|translate}}
                                                    </a>
                                                </b>
                                            </label>
                                        </th>
                                        <!--<th class="semi-bold">{{"REASON"| translate }}</th>-->
                                        <th class="semi-bold">{{"STATUS"| translate}}</th>
                                    </tr>

                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    <!-- <tr ng-show="NodataStudent"><td colspan="5"><h4 style="text-align:center">Sorry, There is no data found..!</h4></td></tr>-->
                                    <tr ng-repeat="info in filteredTodos
                                         | orderBy:orderByField:reverseSort"
                                        ng-class="info.row1">
                                        <!--<tr ng-repeat="info in filteredTodos" ng-class="row1">-->
                                        <td class="small-cell v-align-middle">
                                            <div class="row-fluid" style="height: 20px">
                                                <div class="checkbox check-success">
                                                    <input type="checkbox" value="1" id="{{info.sims_transport_route_student_code}}" ng-disabled="info.read" ng-click="checkonebyonedelete()">
                                                    <label for="{{info.sims_transport_route_student_code}}"></label>
                                                </div>
                                            </div>
                                        </td>
                                        <td>{{info.sims_transport_enroll_number}}</td>
                                        <td>{{info.sims_student_name}}</td>
                                        <!-- <td>{{info.sims_transport_route_student_request_by}}</td>-->
                                        <td>{{info.sims_transport_pickup_stop_code}}</td>
                                        <td>{{info.sims_transport_drop_stop_code}}</td>
                                        <td>{{info.sims_transport_route_reject_reason}}</td>
                                        <td class="v-align-middle">
                                            <span ng-if="info.sims_transport_route_student_status==true" class="label label-success">Rejected</span>
                                            <span ng-if="info.sims_transport_route_student_status==false" class="label label-important">Pending</span>
                                        </td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>
                            </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                                <div class="pull-right">
                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                    </paging>
                                </div>
                            </div>
                    </div>

                </div>
                <div class="row">
                            <div class="col-md-12">
                <div class="form-actions">
                    <div class="pull-right">
                        <button type="button" id="btn_submit" class="btn btn-primary btn-small" ng-show="subbtn" ng-click="insertrecord(edt.sims_transport_route_reject_reason)">{{"Submit"|translate}}</button>&nbsp;
                        <button type="button" class="btn btn-warning btn-small" ng-show="cancelbtn" ng-click="Cancel()">{{"Cancel"| translate }}</button>
                    </div>
                </div>
                                </div>
                    </div>
            </div>


        </div>
    </div>
</div>


<div class="modal fade" id="message">
    <div class="modal-dialog" id="Div4" style="width: 300px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="semi-bold pull-left">Message</h5>
                <br />
            </div>
            <div class="modal-body">
                <br />
                <label>{{msg1.strMessage}}</label>
                <br />
            </div>
            <div class="modal-footer" style="height: 60px">
                <button type="button" class="btn btn-primary btn-small" data-dismiss="modal" ng-click="maindata();">{{"Ok"|translate}}</button>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!---end modal-->
</div>

<script src="assets/js/tableHeadFixer.js"></script>

<script src="assets/js/tabs_accordian.js"></script>


