﻿<style>
    .bluegreed{
        background: #d8ebf4 !important;
    padding-bottom: 6px !important;
    padding-top: 6px !important;
    }
    </style>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                class="form-control"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                class="form-control"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="page-title">
                <h3><span class="semi-bold">{{"Transport"|translate}}</span>&nbsp;{{"Student Fee or Transport Missing"|translate}}</h3>
            </div>


            <div class="grid-body no-border paddingcode"style="background-color:transparent;">
            <div ng-show="display">
               
         <div class="row bluegreed"style="margin-left:-7px;margin-right:-7px;">

                            <div class="col-md-2">
                                <label><i class="fa fa-calendar"></i>&nbsp;{{"Academic Year"|translate}} <span class="text-red">*</span></label>
                                        <select id="cmb_academic_year" class="form-control input-sm full-width" data-role="dropdownlist"
                                            ng-model="edt.sims_academic_year"
                                            ng-options="yeara.sims_academic_year as yeara.sims_academic_year_description for yeara in ActiveYear">
                                            <option value="">Please Select</option>
                                        </select>
                                    </div>
                            

                            <div class="col-md-2">
                                <label class="form-label-sm"><i class="fa fa-bus"></i>&nbsp;{{ "Bus Code" | translate }} <span class="text-red">*</span></label>
                                        <select id="Select8" class="form-control input-sm full-width" data-role="dropdownlist"
                                            ng-model="temp.v_Code"
                                            ng-change="getroutebybuscode(edt.sims_academic_year,edt.v_Code)"
                                            ng-options="Bcode.v_Code as Bcode.v_Name for Bcode in BusCode_Data">
                                            <option value="">Please Select</option>
                                        </select>

                                    </div>
                               

                            <div class="col-md-2">
                                <label><i class="fa fa-road"></i>&nbsp;{{"Route Code"|translate}} <span class="text-red">*</span></label>
                                        <select id="cmb_routeCode_name" name="cmb_routeCode_name" class="form-control input-sm full-width" data-role="dropdownlist"
                                            ng-model="sims_transport_route_code"
                                            ng-click="getdirectbyroute(sims_transport_route_code,edt.sims_academic_year)"
                                            ng-options="item as item.sims_transport_route_name for item in AllRouteName">
                                            <option value="">Please Select</option>
                                        </select>

                                    </div>


                            <div class="col-md-2">
                                <label><i class="fa fa-arrow-circle-left"></i>&nbsp;{{"Route Direction"|translate}} <span class="text-red">*</span></label>
                                        <select id="cmb_direction_Code" class="form-control input-sm full-width" data-role="dropdownlist"
                                            ng-model="edt.sims_transport_route_direction"
                                            ng-change="getstopbydirection(sims_transport_route_code,edt.sims_academic_year,edt.sims_transport_route_direction)"
                                            ng-options="name.sims_transport_route_direction as name.sims_transport_route_direction_1 for name in  DirectionName" name="rdirect">
                                            <option value="">Please Select</option>
                                        </select>
                                    </div>


                            <div class="col-md-2">
                                <label><i class="fa fa-hand-stop-o"></i>&nbsp;{{"Pick Up Stop"|translate}} <span class="text-red">*</span></label>
                                        <select id="cmb_Pick_Code" class="form-control input-sm full-width" data-role="dropdownlist"
                                            ng-model="edt.sims_transport_pickup_stop_code"
                                            ng-options="pickup.sims_transport_stop_code as pickup.sims_transport_stop_name for pickup in  PickupDrop" name="pickupstop">
                                            <option value="">Please Select</option>
                                        </select>

                                    </div>
                        <div class="col-md-2">
                             <label><i class="fa fa-align-justify"></i>&nbsp;{{"Select Condition"|translate}} <span class="text-red">*</span></label>
                                     <select id="Select1" class="form-control input-sm full-width" data-role="dropdownlist"
                                         ng-model="edt.sims_transport_condition_code"
                                            ng-options="ye.sims_transport_condition_code as ye.sims_transport_condition_desc for ye in AllConditionData">
                                                <option value="">Please Select</option>
                                                </select>
                         </div>
                        </div>
                   
                        <div class="row bluegreed"style="margin-left:-7px;margin-right:-7px;">
                             <div class="col-md-2">
                                <label><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Enroll Number"| translate }}</label>
                                        <input type="text" id="txtenrollname" ng-model="edt.sims_student_enroll_number" class="k-textbox input-sm full-width" />
                                    </div>

                            <div class="col-md-3">
                                <label><i class="fa fa-user"></i>&nbsp;{{"Student Name"| translate }}</label>
                                        <input type="text" id="Text2" ng-model="edt.sims_student_name" class="k-textbox input-sm full-width" />
                                    </div>
                            <div class="col-md-2"style="margin-top:20px;">
                                <div class="pull-right">
                                    <button class="btn btn-primary btn-cons" type="button" style="height: 33px" ng-click="Transport_Details()">{{"Submit"|translate}}</button>
                                    <button class="btn btn-warning btn-cons" type="button" style="height: 33px" ng-click="Reset()">{{"Reset"|translate}}</button>
                                </div>
                            </div>

                              
                    </div>
                        <div class="row">
                            <div class="col-md-12">
                                
                                        
                                    
                                  </div>
                        </div>

                </div>

            <div ng-show="table">
                <div class="row "style="background-color:white;margin-top:7px;">
                    <div class="col-md-6">
                        <select id="Select12" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                            <option value="All" class="form-control input-sm">All
                            </option>
                            <option value="10" class="form-control input-sm">10
                            </option>

                            <option value="20" class="form-control input-sm">20
                            </option>

                            
                        </select>

                    </div>


                  <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="Div1">
                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div class="row margin-top">
                        <div class="col-md-12"style="background-color:white;margin-top:-13px;">
                        <table class="table table-bordered table-hover table-condensed" id="example">
                            <thead>
                                <tr style="background-color: #edefef">

                                    <td class="small-cell v-align-middle">
                                        <div class="checkbox check-success">
                                            <input id="chk_min" type="checkbox" value="1" ng-click="chk()">
                                            <label for="chk_min"></label>
                                        </div>
                                    </td>
                                    <!-- <th class="semi-bold">{{"ACADEMIC"| translate }}</th>-->
                                    <th class="bold"><i class="fa fa-user"></i>&nbsp;{{"Student Name"| translate }}</th>
                                    <th class="bold"><i class="fa fa-bus"></i>&nbsp;{{"Bus No."| translate}}</th>
                                    <th class="bold"><i class="fa fa-road"></i>&nbsp;{{"Route Name"| translate }}</th>
                                    <th class="bold"><i class="fa fa-arrow-circle-left"></i>&nbsp;{{"Route Direction"| translate }}</th>

                                    <th class="bold"><i class="fa fa-hand-stop-o"></i>&nbsp;{{"Stop Code"| translate }}</th>
                                    <th class="bold"><i class="fa fa-dashboard"></i>&nbsp;{{"Drop Code"| translate }}</th>

                                    <th class="bold"><i class="fa fa-calendar"></i>&nbsp;{{"Start Date"| translate}}</th>
                                    <th class="bold"><i class="fa fa-calendar"></i>&nbsp;{{"End Date"| translate }}</th>
                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <tr ng-repeat="obj in filteredTodos" ng-class="row1">

                                   

                                    <td>
                                        <div class="checkbox check-success">
                                            <input id="{{obj.sims_enroll_number}}" type="checkbox" value="1" ng-model="obj.sims_enroll_number" />
                                            <label for="{{obj.sims_enroll_number}}"></label>
                                        </div>
                                    </td>
                                    <!--<td>{{obj.sims_academic_year_description}}</td>-->
                                    <td>{{obj.sims_student_name}}</td>
                                    <td>{{obj.v_Name}}</td>
                                    <td>{{obj.sims_transport_route_name}}</td>
                                    <td>{{obj.sims_transport_route_direction_1}}</td>
                                    <td>{{obj.sims_transport_pickup_stop_code_1}}</td>
                                    <td>{{obj.sims_transport_drop_stop_code_1}}</td>
                                    <td>{{obj.sims_transport_effective_from}}</td>
                                    <td>{{obj.sims_transport_effective_upto}}</td>

                                    <!--<td class="v-align-middle">
                                        <span ng-if="obj.sims_transport_stop_status==true" class="label label-success">Active</span>
                                        <span ng-if="obj.sims_transport_stop_status==false" class="label label-important">In active</span>
                                    </td>-->
                                    <!-- <td>
                                        <a href=""><i class="fa fa-edit" ng-click="up(obj)"></i></a>
                                    </td>-->

                                </tr>

                            </tbody>

                        </table>
                    </div>
                        </div>
                </div>

                <div class="row" ng-show="pager">
                    <div class="col-md-12"style="background-color:white;">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                    scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                    paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                    ng-click="index(currentPage)">
                                </paging>
                            </div>
                </div>
                    </div>
                
                <div class="row"style="background-color:white;padding-bottom:7px;">
                    <div class="col-md-3">
                        <button class="btn btn-primary btn-small" type="button" id="btn_atf" ng-click="Apply_Transport_Fee()">{{"Apply Transport Fee"|translate}}</button>
                    </div>
                </div>

            </div>


            <div  ng-show="table1">

                <div class="row margin-top-2">
                    <div class="col-md-6">
                        <select id="Select2" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="All" class="form-control input-sm">All
                            </option>

                            <option value="10" class="form-control input-sm">10
                            </option>

                            <option value="20" class="form-control input-sm">20
                            </option>
                        </select>

                    </div>


                   <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="Div2">
                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="Div3" class="dataTables_wrapper form-inline">
                    <div class="row">
                        <div class="col-md-12">
                        <table class="table table-bordered table-hover table-condensed" id="Table1">
                            <thead>
                                <tr style="background-color: #edefef">


                                    <!-- <th class="semi-bold">{{"ACADEMIC"| translate }}</th>-->
                                    <th class="semi-bold"><i class="fa fa-user"></i>&nbsp;{{"Student Name"| translate }}</th>
                                    <th class="semi-bold"><i class="fa fa-calendar"></i>&nbsp;{{"Expected Jan"| translate}}</th>
                                    <th class="semi-bold"><i class="fa fa-calendar"></i>&nbsp;{{"Expected Feb"| translate}}</th>
                                    <th class="semi-bold"><i class="fa fa-calendar"></i>&nbsp;{{"Expected Mar"| translate}}</th>
                                    <th class="semi-bold"><i class="fa fa-calendar"></i>&nbsp;{{"Expected Apr"| translate}}</th>
                                    <th class="semi-bold"><i class="fa fa-calendar"></i>&nbsp;{{"Expected May"| translate}}</th>
                                    <th class="semi-bold"><i class="fa fa-calendar"></i>&nbsp;{{"Expected Jun"| translate}}</th>
                                    <th class="semi-bold"><i class="fa fa-calendar"></i>&nbsp;{{"Expected Jul"| translate}}</th>
                                    <th class="semi-bold"><i class="fa fa-calendar"></i>&nbsp;{{"Expected Aug"| translate}}</th>
                                    <th class="semi-bold"><i class="fa fa-calendar"></i>&nbsp;{{"Expected Sep"| translate}}</th>
                                    <th class="semi-bold"><i class="fa fa-calendar"></i>&nbsp;{{"Expected Oct"| translate}}</th>
                                    <th class="semi-bold"><i class="fa fa-calendar"></i>&nbsp;{{"Expected Nov"| translate}}</th>
                                    <th class="semi-bold"><i class="fa fa-calendar"></i>&nbsp;{{"Expected Dec"| translate}}</th>
                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <tr ng-repeat="obj in filteredTodos" ng-class="row1">

                                    <!--<td>{{obj.sims_academic_year_description}}</td>-->

                                    <td>{{obj.sims_student_name}}</td>
                                    <td>{{obj.sims_fee_period1}}</td>
                                    <td>{{obj.sims_fee_period2}}</td>
                                    <td>{{obj.sims_fee_period3}}</td>
                                    <td>{{obj.sims_fee_period4}}</td>
                                    <td>{{obj.sims_fee_period5}}</td>
                                    <td>{{obj.sims_fee_period6}}</td>
                                    <td>{{obj.sims_fee_period7}}</td>
                                    <td>{{obj.sims_fee_period8}}</td>
                                    <td>{{obj.sims_fee_period9}}</td>
                                    <td>{{obj.sims_fee_period10}}</td>
                                    <td>{{obj.sims_fee_period11}}</td>
                                    <td>{{obj.sims_fee_period12}}</td>

                                </tr>

                            </tbody>

                        </table>
                    </div>
                        </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                    scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                    paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                    ng-click="index(currentPage)">
                                </paging>
                            </div>
                        </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-cons" type="button" style="height: 33px" ng-click="Apply_Transport()">{{"Apply"|translate}}</button>
                        <button class="btn btn-primary btn-cons" type="button" style="height: 33px" ng-click="export_Transport()">{{"Export"|translate}}</button>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>

</div>

<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/js/tabs_accordian.js"></script>

<script src="assets/plugins/fileSaver.js"></script>
<script src="https://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.12/xlsx.core.min.js"></script>
