﻿<script src="assets/js/tableHeadFixer.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Transport"| translate }}&nbsp;</span>{{"Vehicle Service"| translate }}</h3>
            </div>

            <div class="grid-title no-border">
            </div>

            <div class="grid-body no-border" ng-show="table">
                <form name="Myform" ng-submit="savedata(Myform.$valid)" novalidate="novalidate">

                        <div class="row">

                            <div class="col-md-2">
                                <label class="semi-bold">{{"Service Date"| translate }}<span style="color: red;">&nbsp;*</span></label>
                                <!--<div class="input-append success date" data-datepicker="true">
                                    <input type="text" name="dob" class="form-control" style="width: 105px" style="height: 12px" ng-model="dt.service_date" placeholder="Please Select" ng-disabled="hide5" ng-change="dateupdate()"/>
                                    <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                </div>-->
                                <div>
                                    <input placeholder="Select Date" class="k-textbox input-sm full-width" id="insu_exp_id" ng-model="dt.service_date" ng-change="dateupdate()">
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label class="semi-bold" for="EndDate">{{"Vehicle Reg. No."| translate }}</label>
                                <input type="text" name="Desc" id="Text4" class="k-textbox input-sm full-width" ng-model="temp.sims_transport_vehicle_registration_number" placeholder="Enter Service At" ng-show="hide4" ng-disabled="hide5"/>
                                <select id="cmb_vehicle_code" style="width: 100%;" ng-model="temp.sims_transport_vehicle_code" ng-show="hide6" ng-change="getdriver()"
                                    ng-options="itm.sims_transport_vehicle_code as itm.sims_transport_vehicle_registration_number for itm in vehicale">
                                    <option value="">Select Vehicle Reg. No.</option>
                                </select>

                            </div>

                            <div class="col-md-3">
                                <label class="semi-bold" for="EndDate">{{"Driver Name/Code"| translate }}</label>
                                <input type="text" name="Desc" id="Text5" class="k-textbox input-sm full-width" ng-model="temp.sims_driver_name" placeholder="Enter Service At" ng-show="hide4" ng-disabled="hide5" />
                                <select id="cmd_driver_code" style="width: 100%;" ng-model="temp.sims_driver_code" ng-show="hide6"
                                    ng-options="itm1.sims_driver_code as itm1.sims_driver_name for itm1 in driverdata">
                                    <option value="">Select Driver Name/Code</option>
                                </select>

                            </div>

                            <div class="col-md-4">
                                <label class="semi-bold">{{"Service At"| translate }}</label>
                                <input type="text" name="Desc" id="Text15" class="k-textbox input-sm full-width" ng-model="temp.serviceat" placeholder="Enter Service At" ng-disabled="hide5" />
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-5">
                                <label class="semi-bold">{{"Purpose"| translate }}</label>
                                <input type="text" name="Desc" id="Text14" class="k-textbox input-sm full-width" ng-model="temp.Purpose" placeholder="Enter Purpose" />
                            </div>

                            <div class="col-md-3">
                                <label class="semi-bold">{{"Approve By"| translate }}</label>
                                <input type="text" name="Desc" id="Text16" class="k-textbox input-sm full-width" ng-model="temp.approveby" placeholder="Enter Approve By" ng-disabled="hide5" />
                            </div>

                            <div class="col-md-2">
                                <label class="semi-bold">{{"Next Service Date"| translate }}<span style="color: red;">&nbsp;*</span></label>
                                <!--<div class="input-append success date" data-datepicker1="true">
                                    <input type="text" value="dt1.service_next_date" name="dob1" class="form-control"
                                        style="width: 105px" style="height: 12px" data-date="dt1.service_next_date" ng-model="dt1.service_next_date" placeholder="Please Select" />
                                    <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                </div>-->
                                <div>
                                    <input placeholder="Select Date" class="k-textbox input-sm full-width" id="date_if_purchase" ng-model="dt1.service_next_date">
                                </div>
                            </div>

                            <div class="col-md-2">
                                <label class="semi-bold">{{"Status" |  translate }}</label>
                                <div class="checkbox check-success" style="height: 20px">
                                    <input type="checkbox" value="1" id="chk_status1" ng-model="temp.sims_status" ng-disabled="hide5">
                                    <label for="chk_status1" />
                                </div>
                            </div>

                        </div>
                        <div class="row">
                        <div class="col-md-12">
                            <hr style="height: 6px; border: none; color: darkorange; background-color: darkorange;">
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="semi-bold" for="Quantity ">{{"Quantity "| translate }}<span style="color: red;">&nbsp;*</span></label>
                                <input type="text" name="RequestedQuantity" id="Text1" class="k-textbox input-sm full-width" ng-model="temp.service_quantity" ng-pattern="/^[0-9]{1,14}(\.[0-9]+)?$/" placeholder="Enter Quantity " ng-keypress="onlyNumbers2($event)" />
                                <p class="help-block" ng-show="Myform.Quantity .$error.required  &&  (Myform.Quantity .$touched || Myform.$submitted)">
                                    Enter only digit
                                </p>
                            </div>
                            <div class="col-md-2">
                                <label class="semi-bold" for="amount">{{"Amount"| translate }}<span style="color: red;">&nbsp;*</span></label>
                                <input type="text" name="RequestedQuantity" id="Text1" class="k-textbox input-sm full-width" ng-model="temp.service_charges" ng-pattern="/^[0-9]{1,14}(\.[0-9]+)?$/" placeholder="Enter Amount" ng-keypress="onlyNumbers2($event)"/>
                                <p class="help-block" ng-show="Myform.amount.$error.required  &&  (Myform.amount.$touched || Myform.$submitted)">
                                    Enter only digit
                                </p>
                            </div>

                            <div class="col-md-4">
                                <label class="semi-bold">{{"Service Discription"| translate }}</label>
                                <input type="text" name="Desc" id="Text3" class="k-textbox input-sm full-width" ng-model="temp.service_desc" placeholder="Enter Service Discription" />
                            </div>

                            <div class="col-md-4">
                                <label class="semi-bold" for="EndDate">{{"Select Vehicle For Update "| translate }}</label>
                                <select id="cmd_doc_no" style="width: 100%;" ng-model="temp.sims_transport_maintenance_doc_no" ng-click="Edit()"
                                    ng-options="itm2.sims_transport_maintenance_doc_no as itm2.sims_transport_vehicle_registration_number for itm2 in vehicaledoc">
                                    <option value="">Select Vehicle</option>
                                </select>

                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                            <!--Button-->
                            <div class="form-actions">
                                <div class="pull-right">
                                    <div class="dataTables_filter" id="example_filter">
                                        <button class="btn btn-primary btn-small" type="button" id="Button2" ng-click="Add()">{{"Add"| translate }}</button>
                                        <!--<button class="btn btn-primary btn-cons" style="height: 35px" type="button" id="Button1" ng-click="Edit()">{{"Edit"| translate }}</button>-->
                                        <button class="btn btn-warning btn-small" type="button" id="Button11" ng-click="Clear()">{{"Reset"| translate }}</button>
                                    </div>
                                </div>
                            </div>
                                </div>
                        </div>

                    <div ng-show="Grid">
                        <div class="row margin-top-2">
                                <div class="col-md-12">
                        <div ng-show="Main_table">
                            <label class="semi-bold" style="font-size: medium;font-weight:bold;">{{"Service Details"| translate }}</label>
                        </div>
                                    </div>
                            </div>
                        <div ng-show="Main_table">
                            <div class="row margin-top">
                                <div class="col-md-12">
                                <table class="table table-bordered table-hover table-condensed" id="fixTable">
                                    <thead style="background-color: white">
                                        <tr style="background-color: #edefef">

                                            <th class="semi-bold">
                                                <label>&nbsp;</label>
                                            </th>

                                            <th class="semi-bold">
                                                <label><b>{{"Line No." | translate }}</b></label>
                                            </th>

                                            <th class="semi-bold">
                                                <label><b>{{"Service Discription" | translate }}</b></label>
                                            </th>
                                            <th class="semi-bold">
                                                <label><b>{{"Quantity" | translate }}</b></label>
                                            </th>
                                            <th class="semi-bold">
                                                <label><b>{{"Amount" | translate }}</b></label>
                                            </th>
                                           
                                            <th class="semi-bold">
                                                <label><b>{{"Status" | translate }}</b></label>
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr ng-repeat="j in vehicaleservice track by $index | orderBy:orderByField:reverseSort" ng-class="row1">

                                            <td>
                                                <span class="semi-bold"><a href="" ng-click="Removeservicedetails($event,$index,vehicaleservice)">X</a></span>
                                            </td>

                                            <td>
                                                <label id="lbl">{{$index+1}}</label>
                                            </td>
                                            <td>
                                                <!-- <label id="Label1">{{j.service_desc}}</label>-->
                                                <input type="text" name="Desc" id="Text2" class="k-textbox input-sm full-width" ng-model="j.service_desc" />
                                            </td>
                                             <td>
                                                <input style="width: 70pSelect Vehicle For Updatex; height: 25px" aria-controls="example" ng-model="j.service_quantity" class="k-textbox input-sm full-width" ng-keypress="onlyNumbers2($event)">
                                            </td>
                                           
                                             
                                            <td>
                                                <input style="width: 70px; height: 25px" aria-controls="example" ng-model="j.service_charges" class="k-textbox input-sm full-width" ng-keypress="onlyNumbers2($event)">
                                            </td>

                                            <td class="v-align-middle">

                                                <div class="checkbox check-success" style="height: 20px">
                                                    <input type="checkbox" id="chk_status2-{{$index+1}}" ng-model="j.sims_status">
                                                    <label for="chk_status2-{{$index+1}}" />
                                                </div>

                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </div>

                        <div class="row" ng-show="Main_table">

                            <!--Button-->
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <label class="semi-bold" for="EndDate">&nbsp;</label>
                                    <div class="dataTables_filter" id="Div1">
                                        <label class="semi-bold" for="EndDate">&nbsp;</label>
                                        <button class="btn btn-primary btn-small" type="submit" ng-show="savedisabled">{{"Save"| translate }}</button>
                                        <button class="btn btn-primary btn-small" type="button" ng-show="Update_btn" ng-click="Update(Myform.$valid);">{{"Update"| translate }}</button>
                                        <button class="btn btn-warning btn-small" type="button" id="Button5" ng-click="Cancel()">{{"Cancel"| translate }}</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="loader0712">
    <div class="modal-dialog" id="top">
        <div class="modal-content">
            <div class="box1" style="position: fixed; margin-top: 50%; left: 50%;">
                <img src="assets/img/loading_transparent_.gif">
            </div>
        </div>
    </div>
</div>

<script src="assets/js/tabs_accordian.js"></script>
<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/js/moment.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>
