﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                class="form-control"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                class="form-control"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="row" ng-show="notshow1">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                class="form-control"
                                ng-model="currentPage1"
                                ng-init="currentPage1 = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage1" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                class="form-control"
                                ng-model="pagersize1" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots1"
                                ng-init="dots1 = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass1" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass1"
                                ng-init="activeClass1 = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass1"
                                ng-init="disabledClass1 = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showPrevNext1"
                                        ng-init="showPrevNext1 = true" />
                                    {{showPrevNext1}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showFirstLast1"
                                        ng-init="showFirstLast1 = true" />
                                    {{showPrevNext1}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage1 = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="page-title">
                <h3><span class="semi-bold">{{"Transport Route"|translate}}</span>&nbsp;{{"Student"|translate}}</h3>
            </div>

        <div class="grid-body no-border">
            <!--<form name="MyForm" ng-submit="Save(MyForm.$valid)" novalidate="novalidate">-->
            <div ng-show="display">
              
                            <div class="row">

                            <div class="col-md-2">
                                <label>{{"Academic Year"|translate}}</label>
                                        <select id="cmb_academic_year" class="form-control input-sm full-width" data-role="dropdownlist"
                                            ng-model="edt.sims_academic_year"
                                            ng-change="getroutecodename(edt.sims_academic_year)"
                                            ng-options="yeara.sims_academic_year as yeara.sims_academic_year_description for yeara in ActiveYear">
                                            <option value="">Please Select</option>
                                        </select>
                                    </div>


                            <div class="col-md-2">
                                <label class="form-label-sm">{{ "Bus Code" | translate }}</label>
                                        <select id="Select8" class="form-control input-sm full-width" data-role="dropdownlist"
                                            ng-model="Bcode.v_Code"
                                            ng-change="getroutebybuscode(edt.sims_academic_year,Bcode.v_Code)"
                                            ng-options="Bcode.v_Code as Bcode.v_Name for Bcode in BusCode_Data">
                                            <option value="">Please Select</option>
                                        </select>

                                    </div>

                            <div class="col-md-2">
                                <label>{{"Route Code"|translate}}</label>
                                        <select id="cmb_routeCode_name" name="cmb_routeCode_name" class="form-control input-sm full-width" data-role="dropdownlist"
                                            ng-model="sims_transport_route_code"
                                            ng-change="getdirectbyroute(sims_transport_route_code,edt.sims_academic_year)"
                                            ng-options="item as item.sims_transport_route_name for item in AllRouteName">
                                            <option value="">Please Select</option>
                                        </select>

                                    </div>


                            <div class="col-md-2">
                                <label>{{"Route Direction"|translate}}</label>
                                        <select id="cmb_direction_Code" class="form-control input-sm full-width" data-role="dropdownlist"
                                            ng-model="edt.sims_transport_route_direction"
                                            ng-change="getstopbydirection(sims_transport_route_code,edt.sims_academic_year,edt.sims_transport_route_direction)"
                                            ng-options="name.sims_transport_route_direction as name.sims_transport_route_direction_1 for name in  DirectionName" name="rdirect">
                                            <option value="">Please Select</option>
                                        </select>
                                    </div>

                            <div class="col-md-2">
                                <label>{{"Bus Seat Capacity"|translate}}</label>
                                        <input type="text" id="Text_seat" ng-model="tempp.sims_transport_vehicle_seating_capacity" class="k-textbox input-sm full-width" readonly />
                                    </div>

                            <div class="col-md-2">
                                <label>&nbsp;</label>
                                        <div class="pull-right">
                                            <button class="btn btn-primary btn-small" type="button" ng-click="SearchStudentWindow();">{{"Search"|translate}}</button>
                                            <button class="btn btn-warning btn-small" type="button" ng-click="cancel()">{{"Reset"|translate}}</button>
                                        </div>
                                    </div>
                        </div>
               
                    <!---------------------------------------------------INWARD Pick_Up_Stop Lat & Longitude----------------------------------------->
                    <div ng-hide="inward1">
                        <div class="row">
                            <div class="col-md-2">
                                <label>{{"Pick Up Stop"|translate}}</label>
                                        <select id="cmb_Pick_Code" class="form-control input-sm full-width" data-role="dropdownlist"
                                            ng-model="edt.sims_transport_pickup_stop_code"
                                            ng-change="getlangitude(edt.sims_transport_route_code,edt.sims_academic_year,edt.sims_transport_pickup_stop_code)"
                                            ng-options="pickup.sims_transport_stop_code as pickup.sims_transport_stop_name for pickup in  PickupDrop" name="pickupstop">
                                            <option value="">Please Select</option>
                                        </select>

                                    </div>

                            <div class="col-md-2">
                                <label>{{"Latitude"|translate}}</label>
                                        <input type="text" id="Text6" ng-model="templat.sims_transport_route_student_stop_lat" class="k-textbox input-sm full-width" readonly />
                                    </div>


                            <div class="col-md-2">
                                <label>{{"Longitude"|translate}}</label>
                                        <input type="text" id="Text7" ng-model="templat.sims_transport_route_student_stop_long" class="k-textbox input-sm full-width" readonly />
                                    </div>
                        </div>
                    </div>

                    <!---------------------------------------------------OUTWARD Drop_Stop Lat & Longitude----------------------------------------->
                    <div ng-hide="outward1">
                        <div class="row">

                            <div class="col-md-2">
                                <label>{{"Drop Stop"|translate}}</label>
                                        <select id="cmb_drop_Code" class="form-control input-sm full-width" data-role="dropdownlist"
                                            ng-model="edt.sims_transport_drop_stop_code"
                                            ng-change="getlangitudedropstop(edt.sims_transport_route_code,edt.sims_academic_year,edt.sims_transport_drop_stop_code)"
                                            ng-options="drop.sims_transport_stop_code as drop.sims_transport_stop_name for drop in  PickupDrop" name="dropstop">
                                            <option value="">Please Select</option>
                                        </select>

                                    </div>
                               
                            <div class="col-md-2">
                                <label>{{"Latitude"|translate}}</label>
                                        <input type="text" id="Text5" ng-model="edt1.sims_transport_stop_lat_drop" class="k-textbox input-sm full-width" readonly />
                                    </div>

                            <div class="col-md-2">
                                <label>{{"Longitude"|translate}}</label>
                                        <input type="text" id="Text1" ng-model="edt1.sims_transport_stop_long_drop" class="k-textbox input-sm full-width" readonly />
                                    </div>

                        </div>
                    </div>

                    <!---------------------------------------------------EFFECTIVE DATE FROM TO END----------------------------------------->
                 <div class="row margin-top">
                       <div class="col-md-12">
                        <!--<label id="lbl_itemset" for="chk_itemset" class="form-label">{{"Option For Select Second Bus"| translate }}</label>-->
                        <div class="checkbox check-success">
                            <input id="chk_term10" type="checkbox" ng-model="edt.status" ng-click="SelectsecondBus(edt.sims_transport_route_direction)">
                            <label for="chk_term10">{{"Option For Select Second Bus(Check this if the student uses a different bus while returning)"| translate }}</label>
                        </div>
                    </div>
                     </div>
                    <!-----------------------------------------------------------------------------------FOR SECOND BUS-------------------------------------------------------------------->
                    <div ng-show="secondbus">
                      
                                 <div class="row">

                                <div class="col-md-2">
                                    <label class="form-label-sm">{{ "Second Bus Code" | translate }}</label>
                                            <select id="Select25" classclass="form-control input-sm full-width" data-role="dropdownlist"
                                                ng-model="temp3.sims_transport_vehicle_code_2"
                                                ng-change="getroutebybuscode_2()"
                                                ng-options="Bcode.sims_transport_vehicle_code_2 as Bcode.sims_transport_vehicle_name_2 for Bcode in VehicleCode_2">
                                                <option value="">Please Select</option>
                                            </select>
                                        </div>

                                <div class="col-md-2" ng-show="RoutenamesOutward">
                                    <label>{{"Route Code"|translate}}</label>
                                            <select id="cmb_routeCode_name_out2" name="cmb_routeCode_name2" class="form-control input-sm full-width" data-role="dropdownlist"
                                                ng-model="edt2.sims_transport_route_code"
                                                ng-change="getdirectionfor2(edt2.sims_transport_route_code,edt.sims_academic_year)"
                                                ng-click="getdirectionfor2(edt2.sims_transport_route_code,edt.sims_academic_year)"
                                                ng-options="RT.sims_transport_route_code as RT.sims_transport_route_name for RT in AllRouteNameForOutward_Data" required>
                                                <option value="">Please Select</option>
                                            </select>
                                            <!--<p class="help-block" ng-show="MyForm.cmb_routeCode_name2.$error.required &&  (MyForm.cmb_routeCode_name2.$touched || MyForm.$submitted)">
                                                This field is required
                                            </p>-->
                                        </div>
                                   

                                <div class="col-md-2" ng-show="RoutenamesInward">
                                    <label>{{"Route Code"|translate}}</label>
                                            <select id="cmb_routeCode_name_in2" name="cmb_routeCode_name2" class="form-control input-sm full-width" data-role="dropdownlist"
                                                ng-model="edt2.sims_transport_route_code"
                                                ng-change="getdirectionfor2(edt2.sims_transport_route_code,edt.sims_academic_year)"
                                                ng-click="getdirectionfor2(edt2.sims_transport_route_code,edt.sims_academic_year)"
                                                ng-options="routeinward.sims_transport_route_code as routeinward.sims_transport_route_name for routeinward in AllRouteNameForInward_Data" required>
                                                <option value="">Please Select</option>
                                            </select>
                                            <!--<p class="help-block" ng-show="MyForm.cmb_routeCode_name2.$error.required &&  (MyForm.cmb_routeCode_name2.$touched || MyForm.$submitted)">
                                                This field is required
                                            </p>-->
                                        </div>


                                <div class="col-md-2" ng-show="DirectOutward">
                                    <label>{{"Route Direction"|translate}}</label>
                                            <select id="cmb_School_Code" class="form-control input-sm full-width" data-role="dropdownlist" name="rdirect2"
                                                ng-model="edt2.sims_transport_route_direction"
                                                ng-change="getstopbydirection1(edt2.sims_transport_route_code,edt.sims_academic_year)"
                                                ng-click="getstopbydirection1(edt2.sims_transport_route_code,edt.sims_academic_year)"
                                                ng-options="directoutward.sims_transport_route_direction as directoutward.sims_transport_route_direction_1 for directoutward in  DirectionNameOutward" required>
                                                <option value="">Please Select</option>
                                            </select>
                                            <!--<p class="help-block" ng-show="MyForm.rdirect2.$error.required &&  (MyForm.rdirect2.$touched || MyForm.$submitted)">
                                                This field is required
                                            </p>-->
                                        </div>
                                  

                                <div class="col-md-2" ng-show="DirectInward">
                                    <label>{{"Route Direction"|translate}}</label>
                                            <select id="Select1" class="form-control input-sm full-width" data-role="dropdownlist" name="rdirect2"
                                                ng-model="edt2.sims_transport_route_direction"
                                                ng-change="getstopbydirection1(edt2.sims_transport_route_code,edt.sims_academic_year)"
                                                ng-options="directinward.sims_transport_route_direction as directinward.sims_transport_route_direction_1 for directinward in  DirectionNameInward" required>
                                                <option value="">Please Select</option>
                                            </select>
                                            <!--<p class="help-block" ng-show="MyForm.rdirect2.$error.required &&  (MyForm.rdirect2.$touched || MyForm.$submitted)">
                                                This field is required
                                            </p>-->
                                        </div>


                                <div class="col-md-2">
                                    <label>{{"Bus Seat Capacity"|translate}}</label>
                                            <input type="text" id="Text2" ng-model="edtt.sims_transport_vehicle_seating_capacity" class="k-textbox input-sm full-width" readonly />
                                        </div>


                            </div>
                        </div>

                        <!---------------------------------------------------SECOND_BUS_INWARD Pick_Up_Stop Lat & Longitude----------------------------------------->
                        <div ng-show="secondbusinward">
                            <div class="row">

                                <div class="col-md-2">
                                    <label>{{"Pick Up Stop"|translate}}</label>
                                            <select id="Select2" class="form-control input-sm full-width" data-role="dropdownlist"
                                                ng-model="edtt.sims_transport_pickup_stop_code"
                                                ng-change="getlangitude1(edt2.sims_transport_route_code,edt.sims_academic_year,edtt.sims_transport_pickup_stop_code)"
                                                ng-options="pickup.sims_transport_stop_code as pickup.sims_transport_stop_name for pickup in  PickupDrop1" name="pickupstop1" required>
                                                <option value="">Please Select</option>
                                            </select>
                                            <!--<p class="help-block" ng-show="MyForm.pickupstop1.$error.required &&  (MyForm.pickupstop1.$touched || MyForm.$submitted)">
                                                This field is required
                                            </p>-->
                                        </div>


                                <div class="col-md-2">
                                    <label>{{"Latitude"|translate}}</label>
                                            <input type="text" id="Text3" ng-model="tempp.sims_transport_route_student_stop_lat" class="k-textbox input-sm full-width" readonly />
                                        </div>


                                <div class="col-md-2">
                                    <label>{{"Longitude"|translate}}</label>
                                            <input type="text" id="Text4" ng-model="tempp.sims_transport_route_student_stop_long" class="k-textbox input-sm full-width" readonly />
                                        </div>
                            </div>
                        </div>

                        <!---------------------------------------------------SECOND_BUS_OUTWARD Drop_Stop Lat & Longitude----------------------------------------->
                        <div ng-show="secondbusoutward">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>{{"Drop Stop"|translate}}</label>
                                            <select id="Select3" class="form-control input-sm full-width" data-role="dropdownlist"
                                                ng-model="edtt.sims_transport_drop_stop_code"
                                                ng-change="getlangitudedropstop1(edt2.sims_transport_route_code,edt.sims_academic_year,edtt.sims_transport_drop_stop_code)"
                                                ng-options="drop.sims_transport_stop_code as drop.sims_transport_stop_name for drop in  PickupDrop1" name="dropstop1" required>
                                                <option value="">Please Select</option>
                                            </select>
                                            <!--<p class="help-block" ng-show="MyForm.dropstop1.$error.required &&  (MyForm.dropstop1.$touched || MyForm.$submitted)">
                                                This field is required
                                            </p>-->
                                        </div>
                                <div class="col-md-2">
                                    <label>{{"Latitude"|translate}}</label>
                                            <input type="text" id="Text8" ng-model="edtt1.sims_transport_stop_lat_drop" class="k-textbox input-sm full-width" readonly />
                                        </div>
                                <div class="col-md-2">
                                    <label>{{"Longitude"|translate}}</label>
                                            <input type="text" id="Text9" ng-model="edtt1.sims_transport_stop_long_drop" class="k-textbox input-sm full-width" readonly />
                                        </div>
                            </div>
                        </div>

                
                    <!-----------------------------------------------------------------------------------FOR Date Selection-------------------------------------------------------------------->
                   
                              <div class="row margin-top">

                            <div class="col-md-2">
                                        <label id="label8" class="form-label">{{"Effective From"| translate}}</label>
                                       <!-- <div class="input-append success date col-md-10  no-padding" data-datepicker="true">
                                            <input type="text" id="startdate" name="startdate" class="form-control"
                                                ng-keypress="($event.charCode==13)?myFunct($event):return"
                                                ng-model="dt.sims_transport_effective_from">
                                            <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                        </div>-->

                                            <input placeholder="Select Date" class="k-textbox input-sm full-width" id="startdate" ng-model="dt.sims_transport_effective_from" ng-keypress="($event.charCode==13)?myFunct($event):return">
                                        </div>

                            <div class="col-md-2">

                                        <label id="label1" class="form-label">{{"Effective Upto"| translate}}</label>
                                       <!-- <div class="input-append success date col-md-10  no-padding" data-datepicker="true">
                                            <input type="text" id="enddate" name="enddate" class="form-control"
                                                ng-change="ChkDate(dt.sims_transport_effective_upto,'enddate');"
                                                ng-keypress="($event.charCode==13)?myFunct1($event):return"
                                                ng-model="dt.sims_transport_effective_upto">
                                            <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                        </div>-->
                                            <input placeholder="Select Date" class="k-textbox input-sm full-width" id="enddate" ng-model="dt.sims_transport_effective_upto" ng-keypress="($event.charCode==13)?myFunct($event):return">
                                        </div>

                        </div>
                </div>  
                    <!---------------------------------------------------------Student/Employee Grid---------------------------------------------------------->
                    <div id="Div2" class="dataTables_wrapper form-inline" ng-show="student_grid_record">
                            <div class="row margin-top">
                                <div class="col-md-12">
                                        <table class="table table-bordered table-condensed" id="fixTable1">
                                            <thead>
                                                <tr style="background-color: #edefef">
                                                    <th class="semi-bold">{{"MORE"| translate }}</th>

                                                    <th>{{"ENROLL NUMBER"| translate}}</th>
                                                    <th>{{"STUDENT NAME"| translate}}</th>
                                                    <th>{{"REMOVE"| translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                            <tr ng-repeat="roll in enroll_number track by $index">
                                                <td><i ng-disabled="roll.disabled" class="{{roll.icon}}" ng-click="expand(roll, $event);"></i></td>

                                                <td>{{roll.s_enroll_no}}</td>
                                                <td>{{roll.s_sname_in_english}}</td>
                                                <td><span class="semi-bold"><a href="" ng-click="RemoveEnrollMentNo($event,$index,enroll_number)">X</a></span>  </td>
                                            </tr>
                                        </table>
                                    </div>
                            </div>
                        </div>

                    <div id="Div1" class="dataTables_wrapper form-inline" ng-show="employee_grid_record">
                        
                              <div class="row margin-top">
                                <div class="col-md-12">
                                        <table class="table table-bordered table-condensed" id="fixTable3">
                                            <thead>
                                                <tr style="background-color: #edefef">
                                                    <th class="semi-bold">{{"MORE"| translate }}</th>

                                                    <th>{{"Common User Code"| translate}}</th>
                                                    <th>{{"Employee Name"| translate}}</th>
                                                    <th>{{"Remove"| translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                            <tr ng-repeat="user in common_user track by $index">
                                                <td><i ng-disabled="user.disabled" class="{{user.icon}}" ng-click="expand1(user, $event);"></i></td>

                                                <td>{{user.comn_user_name}}</td>
                                                <td>{{user.empName}}</td>
                                                <td><span class="semi-bold"><a href="" ng-click="RemoveCommonUserNo($event,$index,common_user)">X</a></span>  </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>

                 <div class="row">
                                <div class="col-md-12">
                <div class="form-actions">
                    <div class="pull-right">
                        <button class="btn btn-primary btn-small" type="submit" ng-show="saveStudent" ng-click="Save(sims_transport_route_code)">{{"Save"|translate}}</button>
                        <button class="btn btn-primary btn-small" type="submit" ng-show="saveEmployee" ng-click="SaveEmployee()">{{"Save"|translate}}</button>
                    </div>
                </div>
                                    </div>
                     </div>
           </div>

    </div>

</div>
</div>

            <!------------------------------------------------------Search Modal Pop-UP Student/Employee----------------------------------------------------------------->
            <div class="modal fade in" id="MyModal" role="dialog" style="display: none;">
                <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 1000px;">
                    <div class="modal-content" uib-modal-transclude="">
                        <div class="modal-header ng-scope" style="height: 40px">
                            <div class="pull-left">
                                <h4 class="modal-title custom-font" style="margin-top: -5px"><b>{{"Search User"|translate}}</b></h4>
                            </div>
                            <div class="pull-right">
                                <a href="">
                                    <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>
                                </a>
                            </div>
                        </div>


                        <div class="grid-body no-border">
                                <div class="col-md-12" style="padding:1%;">

                                                <ul class="nav nav-tabs" id="tab-01">
                                                    <li class="active" ng-click="Student_Details()"><a href="#Student_Details">{{"Student Search"|translate}}</a></li>
                                                    <li ng-click="emp_information()"><a href="#emp_information">{{ "Employee Search" | translate }} </a></li>
                                                </ul>

                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="Student_Details">
                                                        <div class="row column-seperation">
                                                            <div class="tab-pane" id="Div3" aria-expanded="true">

                                                                        <div class="row">

                                                                            <div class="col-md-2">
                                                                                <label>{{"Curriculum"|translate}}</label>
                                                                                        <select id="Select4" class="form-control input-sm full-width" data-role="dropdownlist"
                                                                                            ng-model="temp.s_cur_code"
                                                                                            ng-change="getAccYear(temp.s_cur_code)"
                                                                                            ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in curriculum">
                                                                                            <option value="">Please Select</option>
                                                                                        </select>
                                                                                    </div>
                                                                            <div class="col-md-2">
                                                                                <label>{{"Academic Year"|translate}}</label>
                                                                                        <select id="Select5" class="form-control input-sm full-width" data-role="dropdownlist"
                                                                                            ng-model="temp.sims_academic_year"
                                                                                            ng-change="getGrade(temp.s_cur_code,temp.sims_academic_year)"
                                                                                            ng-options="year1.sims_academic_year as year1.sims_academic_year_desc for year1 in Acc_year">
                                                                                            <option value="">Please Select</option>
                                                                                        </select>
                                                                                    </div>
                                                                            <div class="col-md-2">
                                                                                <label>{{"Grade"|translate}}</label>
                                                                                        <select id="cmb_grade_code" class="form-control input-sm full-width" data-role="dropdownlist"
                                                                                            ng-model="temp.sims_grade_code"
                                                                                            ng-change="getSection(temp.s_cur_code,temp.sims_academic_year,temp.sims_grade_code)"
                                                                                            ng-options="grade.sims_grade_code as grade.sims_grade_name for grade in Grade_code">
                                                                                            <option value="">Please Select</option>
                                                                                        </select>
                                                                                    </div>
                                                                            <div class="col-md-2">
                                                                                <label>{{"Section"|translate}}</label>
                                                                                        <select id="Select24" class="form-control input-sm full-width" data-role="dropdownlist"
                                                                                            ng-model="temp.sims_section_code"
                                                                                            ng-options="section.sims_section_code as section.sims_section_name for section in Section_code">
                                                                                            <option value="">Please Select</option>
                                                                                        </select>
                                                                                    </div>
                                                                            <div class="col-md-2">
                                                                                <label>{{"Enroll No"|translate}}</label>
                                                                                        <input type="text" id="txt_enroll" ng-model="temp.search_std_enroll_no" class="k-textbox input-sm full-width"
                                                                                            ng-keypress="($event.charCode==13)?SearchSudent(temp.s_cur_code,temp.sims_academic_year,temp.search_std_enroll_no,temp.search_std_name):return" />
                                                                                    </div>
                                                                            <div class="col-md-2">
                                                                                <label>{{"Name"|translate}}</label>
                                                                                        <input type="text" id="Text11" ng-model="temp.search_std_name" class="k-textbox input-sm full-width" />
                                                                                    </div>

                                                                        </div>
                                                                   
                                                                           <div class="row">
                                                                                <div class="form-actions">
                                                                                <div class="col-md-12">
                                                                                    <div class="pull-right">
                                                                                        <button type="button" class="btn btn-primary btn-small" ng-click="SearchSudent(temp.s_cur_code,temp.sims_academic_year,temp.search_std_enroll_no,temp.search_std_name);">{{"Search"|translate}}</button>
                                                                                        <button type="button" class="btn btn-primary btn-small" ng-click="Reset();">{{"Reset"|translate}}</button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                    </div>

                                                    <div class="tab-pane" id="emp_information">
                                                        <div class="row column-seperation">
                                                            <div class="tab-pane" id="Div5" aria-expanded="true">

                                                                
                                                                                <div class="row">

                                                                                    <div class="col-md-3">
                                                                                        <label>{{"Common User Code"|translate}}</label>
                                                                                                <input type="text" id="txt_user" ng-model="temp2.comn_user_name" class="k-textbox input-sm full-width" />
                                                                                            </div>


                                                                                    <div class="col-md-3">
                                                                                        <label>{{"Employee Name"|translate}}</label>
                                                                                                <input type="text" id="Text10" ng-model="temp2.EmpName" class="k-textbox input-sm full-width" />
                                                                                            </div>

                                                                                    </div>

                                                                                        <div class="row">
                                                                                            <div class="form-actions">
                                                                                            <div class="col-md-12">
                                                                                                <div class="pull-right">
                                                                                                    <button type="button" class="btn btn-primary btn-small" ng-click="SearchEmployee(temp2.comn_user_name,temp.EmpName);">{{"Search"|translate}}</button>
                                                                                                    <button type="button" class="btn btn-primary btn-small" ng-click="ResetEmployee();">{{"Reset"|translate}}</button>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>

                                                                        </div>
                                                        </div>
                                                    </div>
                                                    </div>

                                                    <div class="row" ng-show="busy">
                                                        <div class="col-md-12">
                                                            <div class="row form-row">
                                                                <div class="col-md-5">
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <img src="assets/theme/img/loading.gif" />
                                                                </div>
                                                                <div class="col-md-5">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div ng-show="searchtable">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <select id="Select7" style="width: 60px" name="user" class="input-sm" ng-model="pagesize" ng-change="size(pagesize)">

                                                                    <option value="{{x.val}}" class="form-control input-sm" ng-repeat="x in countData">{{x.data}}
                                                                    </option>
                                                                </select>
                                                                <!-- <select id="Select12" style="width: 60px" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                                                    <option value="5" class="form-control input-sm">
                                                                        5
                                                                    </option>

                                                                    <option value="10" class="form-control input-sm">
                                                                        10
                                                                    </option>

                                                                    <option value="15" class="form-control input-sm">
                                                                        15
                                                                    </option>
                                                                </select>-->
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="pull-right">
                                                                    <div class="dataTables_filter" id="Div4">
                                                                        <span class="k-textbox k-space-right full-width">
                                                                            <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                                                            <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div id="example_wrapper" class="dataTables_wrapper form-inline">
                                                            <div class="row margin-top">
                                                                <div class="col-md-12">
                                                                <table class="table table-bordered" id="fixTable2">
                                                                    <thead style="background-color: #edefef">
                                                                        <tr>
                                                                            <th class="semi-bold">{{"ENROLL NO"|translate}}</th>
                                                                            <th class="semi-bold">{{"Name"|translate}}</th>
                                                                            <th class="semi-bold">{{"CLASS"|translate}}</th>
                                                                            <th class="semi-bold">{{"Email ID"|translate}}</th>
                                                                            <th class="semi-bold">{{"MOBILE NO"|translate}}</th>

                                                                            <th class="small-cell v-align-middle" style="z-index: 1">
                                                                                <div class="checkbox check-success">
                                                                                    <input type="checkbox" name="check" value="1" id="mainchk1" ng-click="MultipleStudentSelect();">
                                                                                    <label for="mainchk1"></label>
                                                                                </div>
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                                        <tr ng-repeat="info in filteredTodos" ng-class="row1">

                                                                            <td>{{info.s_enroll_no}}</td>
                                                                            <td>{{info.s_sname_in_english}}</td>
                                                                            <td>{{info.s_class}}</td>
                                                                            <td>{{info.mail_id}}</td>

                                                                            <td>{{info.mobile_no}}</td>
                                                                            <td>

                                                                                <div class="checkbox check-success" style="height: 20px">
                                                                                    <input type="checkbox" name="check" value="1" id="{{info.s_enroll_no}}" ng-click="StudentEnrollNumber(info);">
                                                                                    <label for="{{info.s_enroll_no}}"></label>
                                                                                </div>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                                </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                    <div class="pull-right" ng-show="pager">
                                                                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                                                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                                                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                                                            ng-click="index(currentPage)">
                                                                    </paging>
                                                                    </div>
                                                                </div>
                                                        </div>

                                                        <div class="modal-footer" ng-show="searchtable">
                                                            <button class="btn btn-success btn-small" type="button" ng-click="DataEnroll()">{{"Ok"|translate}}</button>
                                                        </div>
                                                    </div>


                                                    <div ng-show="searchtableEmployee">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <select id="Select6" style="width: 60px" class="input-sm" name="user" ng-model="pagesize1" ng-change="size1(pagesize1)">

                                                                    <option value="{{x.val}}" class="form-control input-sm" ng-repeat="x in countDataemp">{{x.data}}
                                                                    </option>
                                                                </select>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="pull-right">
                                                                    <div class="dataTables_filter" id="Div6">
                                                                        <label>
                                                                            {{"Search"| translate}}  &nbsp;
                                                                            <input type="text" autofocus placeholder="Search" aria-controls="example" ng-model="searchText" class="input-medium" ng-change="search1();">
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div id="Div7" class="dataTables_wrapper form-inline">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                <table class="table table-bordered" id="fixTable4">
                                                                    <thead style="background-color: #edefef">
                                                                        <tr>
                                                                            <th class="semi-bold">{{"Common User Code"|translate}}</th>
                                                                            <th class="semi-bold">{{"Employee Name"|translate}}</th>
                                                                            <th class="semi-bold">{{"Email ID"|translate}}</th>
                                                                            <th class="semi-bold">{{"Mobile No"|translate}}</th>

                                                                            <th class="small-cell v-align-middle" style="z-index: 1">
                                                                                <div class="checkbox check-success">
                                                                                    <input type="checkbox" name="check" value="1" id="mainchkemp" ng-click="MultipleEmployeeSelect();">
                                                                                    <label for="mainchkemp"></label>
                                                                                </div>
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                                        <tr ng-repeat="emp in filteredTodos1" ng-class="row1">

                                                                            <td>{{emp.comn_user_name}}</td>
                                                                            <td>{{emp.empName}}</td>
                                                                            <td>{{emp.em_email}}</td>
                                                                            <td>{{emp.em_mobile}}</td>
                                                                            <td>

                                                                                <div class="checkbox check-success" style="height: 20px">
                                                                                    <input type="checkbox" name="check" value="1" id="{{emp.comn_user_name}}" ng-click="EmployeeNumber(emp);">
                                                                                    <label for="{{emp.comn_user_name}}"></label>
                                                                                </div>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                                </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                    <div class="pull-right" ng-show="pageremp">
                                                                        <paging class="small" page="currentPage1" page-size="pageSize1" total="pagersize1" pg-href="#GotoPage-{page1}" dots="{{dots1}}" show-prev-next="{{showPrevNext1}}"
                                                                            scroll-top="{{scrollTop1}}" hide-if-empty="{{hideIfEmpty1}}" ul-class="{{ulClass1}}" active-class="{{activeClass1}}" disabled-class="{{disabledClass1}}" show-first-last="{{showFirstLast1}}"
                                                                            paging-action="DoCtrlPagingAct('Paging Clicked', page1, pageSize1, totalItems1)"
                                                                            ng-click="index1(currentPage1)">
                                                                        </paging>
                                                                    </div>
                                                                </div>
                                                        </div>


                                                        <div class="modal-footer" ng-show="searchtableEmployee">
                                                            <button class="btn btn-success btn-small" type="button" ng-click="DataCommonUser()">{{"Ok"|translate}}</button>
                                                        </div>
                                                    </div>

                                                </div>
                                </div>
                        </div>

                    </div>
                </div>
        
<!--</div>
</div>-->

<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/js/tabs_accordian.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>