﻿
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">


            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>


            <div class="page-title">
                <h3><span class="semi-bold">{{"Bell"| translate }}&nbsp;</span>{{"Details"|translate}}</h3>
            </div>

            <div class="grid-body no-border">
            <form name="myForm" ng-submit="Save(myForm.$valid)" novalidate="novalidate">
                <div ng-show="operation">
                    
                            <div class="row">

                                <div class="col-md-2" ng-class="{'has-error': !myForm.ar.$valid && (myForm.ar.$touched || myForm.$submitted) }">
                                    <label id="Label2" for="txt_Acad_yr" class="form-label">{{"Academic Year"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <select id="cmb_academic_year" data-role="dropdownlist" class="form-control" name="ar" required ng-show="newmode"
                                            ng-model="edt.sims_bell_academic_year"
                                            ng-change="getBellDesc(edt.sims_bell_academic_year)"
                                            ng-options="yeara.sims_academic_year as yeara.sims_academic_year_description for yeara in ActiveYear">
                                        <option value="" selected disabled>Please Select</option>
                                    </select>
                                    <p class="help-block" ng-show="myForm.ar.$error.required &&  (myForm.ar.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                    <input type="text" id="Text_year" ng-model="edt.sims_academic_year_description" class="form-control input-sm" ng-show="editmode" disabled="disabled" />
                                </div>

                                <div class="col-md-2" ng-class="{'has-error': !myForm.belldesc.$valid && (myForm.belldesc.$touched || myForm.$submitted) }">
                                    <label id="Label1" for="txt_bell_desc" class="form-label">{{"Bell Code"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <select id="cmb_bell_desc" data-role="dropdownlist" class="form-control" name="belldesc" ng-show="newmode" required
                                            ng-model="edt.sims_bell_code"
                                            ng-change="getbellday(edt.sims_bell_academic_year,edt.sims_bell_code)"
                                            ng-options="bell.sims_bell_code as bell.sims_bell_desc for bell in BellDescByAcy">
                                        <option value="" selected disabled>Please Select</option>
                                    </select>
                                    <p class="help-block" ng-show="myForm.belldesc.$error.required &&  (myForm.belldesc.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                    <input type="text" id="Text1" ng-model="edt.sims_bell_desc" class="k-textbox" style="width: 100%;" ng-show="editmode" disabled="disabled" />
                                </div>

                                <div class="col-md-2" ng-class="{'has-error': !myForm.dcod.$valid && (myForm.dcod.$touched || myForm.$submitted) }">
                                    <label id="Label3" for="txt_Country_Code" class="form-label">{{"Day Code"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <select id="Select11" data-role="dropdownlist" class="form-control input-sm" ng-show="newmode" name="dcod" required
                                            ng-model="edt.sims_bell_day_code"
                                            ng-options="daydesc.sims_bell_day_code as daydesc.sims_bell_day_desc for daydesc in BellDayCode">
                                        <option value="" selected disabled>Please Select</option>
                                    </select>
                                    <p class="help-block" ng-show="myForm.dcod.$error.required &&  (myForm.dcod.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                    <input type="text" id="Text3" ng-model="edt.sims_bell_day_desc" class="k-textbox" style="width: 100%;" ng-show="editmode" disabled="disabled" />
                                </div>

                                <div class="col-md-2" ng-class="{'has-error': !myForm.slcode.$valid && (myForm.slcode.$touched || myForm.$submitted) }">
                                    <label id="Label4" for="txt_full_name" class="form-label">{{"Slot Code"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <input type="text" id="Text2" ng-model="edt.sims_bell_slot_code" class="form-control input-sm" ng-show="newmode" name="slcode" ng-maxlength="2" ng-pattern="/^[0-9]{1,20}$/" required />
                                    <p class="help-block" ng-show="myForm.slcode.$error.required &&  (myForm.slcode.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                    <p class="help-block" ng-show="myForm.slcode.$error.maxlength && (!myForm.$pristine && myForm.$submitted)">
                                        Slot Code should be 2 digit
                                    </p>
                                    <p class="help-block" ng-show="myForm.slcode.$error.pattern && (!myForm.$pristine && myForm.$submitted)">
                                        Enter Digit only
                                    </p>
                                    <input type="text" id="txt_slot_code" ng-model="edt.sims_bell_slot_code" class="k-textbox" style="width: 100%;" ng-show="editmode" disabled="disabled" />
                                </div>

                                <div class="col-md-4">
                                    <label id="label6" class="form-label">{{"Bell Day Slot Description"| translate}}</label>
                                    <!-- <textarea id="Text1" ng-model="edt.sims_house_objective" class="form-control"></textarea>-->
                                    <input type="text" id="Text4" ng-model="edt.sims_bell_slot_desc" class="k-textbox" style="width: 100%;" />
                                </div>

                            </div>
                       
                            <div class="row">

                                <div class="col-md-2" ng-class="{'has-error': !myForm.time.$valid && (myForm.time.$touched || myForm.$submitted) }">
                                    <label id="label8" class="form-label">{{"Start Time"| translate}} <span class="asterisk" style="color: red">*</span></label>
                                    <div class="input-group transparent clockpicker col-md-12">
                                        <input type="text" class="form-control" placeholder="Pick a time" name="time" ng-model="edt.sims_bell_start_time" ng-change="checktime(event_object.sims_calendar_event_start_time,event_object.sims_calendar_event_end_time)" required>
                                        <span class="input-group-addon ">
                                            <i class="fa fa-clock-o"></i>
                                        </span>
                                    </div>
                                   <!-- <div class="input-group transparent  col-md-12">
                                        <input type="text" id="start_time" style="width: 100%;" class="k-textbox" placeholder="Pick a time" name="time" ng-model="edt.sims_bell_start_time" ng-change="checktime(event_object.sims_calendar_event_start_time,event_object.sims_calendar_event_end_time)" required>
                                    </div>-->
                                    <p class="help-block" ng-show="myForm.time.$error.required &&  (myForm.time.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                </div>

                                <div class="col-md-2" ng-class="{'has-error': !myForm.etime.$valid && (myForm.etime.$touched || myForm.$submitted) }">
                                    <label id="label5" class="form-label">{{"End Time"| translate}} <span class="asterisk" style="color: red">*</span></label>
                                    <div class="input-group transparent clockpicker col-md-12">
                                        <input type="text" class="form-control" placeholder="Pick a time" name="etime" ng-model="edt.sims_bell_end_time" ng-change="checktime(event_object.sims_calendar_event_start_time,event_object.sims_calendar_event_end_time)" required>
                                        <span class="input-group-addon ">
                                            <i class="fa fa-clock-o"></i>
                                        </span>
                                    </div>
                                    <!--<div class="input-group transparent col-md-12">
                                        <input type="text" id="end_time" style="width: 100%;" class="k-textbox" placeholder="Pick a time" name="etime" ng-model="edt.sims_bell_end_time" ng-change="checktime(event_object.sims_calendar_event_start_time,event_object.sims_calendar_event_end_time)" required>
                                    </div>-->
                                    <p class="help-block" ng-show="myForm.etime.$error.required &&  (myForm.etime.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                </div>

                                <div class="col-md-2">
                                    <label id="Label7" for="txt_full_name" class="form-label">{{"Bell Break"| translate }}</label>
                                    <div class="checkbox check-success">
                                        <input id="chk_term1" type="checkbox" class="k-checkbox" ng-model="edt.sims_bell_break">
                                        <label for="chk_term1"></label>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <label id="Label9" for="txt_full_name" class="form-label">{{"Status"| translate }}</label>
                                    <div class="checkbox check-success">
                                        <input id="chk_term" type="checkbox" class="k-checkbox" ng-model="edt.sims_bell_status">
                                        <label for="chk_term"></label>
                                    </div>
                                </div>


                            </div>
                       <div class="row">
                        <div class="col-md-12">
                            <div class="form-actions">
                                <div class="pull-right">
                                    <button class="btn btn-primary btn-small" type="submit" ng-show="savebtn"><i class="icon-ok"></i>{{"Save"| translate }}</button>
                                    <button class="btn btn-primary btn-small" type="button" ng-show="updatebtn" ng-click="Update(myForm.$valid)"><i class="icon-ok"></i>{{"Update"| translate }}</button>
                                    <button class="btn btn-danger btn-small" type="button" ng-show="deletebtn" ng-click="deleterecord()"><i class="icon-ok"></i>{{"Delete"| translate }}</button>
                                    <button class="btn btn-danger btn-small" type="button" ng-click="cancel()">{{"Cancel"| translate }}</button>
                                </div>
                            </div>
                        </div>
                           </div>
                    </div>
                </form>



            <!--table-->


            <div ng-show="table1">

                <div class="row">
                    <div class="col-md-6">
                        <select id="Select12" class="input-sm" style="width: 60px" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="10" class="form-control input-sm">
                                10
                            </option>

                            <option value="20" class="form-control input-sm">
                                20
                            </option>

                            <option value="All" class="form-control input-sm">
                                All
                            </option>
                        </select>

                        &nbsp;
                        <button class="btn btn-primary btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate}}</button>
                        &nbsp;
                        <button class="btn btn-danger btn-small" type="button" ng-click="deleterecord()"><span class="semi-bold"></span>{{"Delete"| translate}}</button>
                    </div>

                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="Div1">
                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" placeholder="Search" aria-controls="example" ng-model="searchText" class="k-textbox input-sm full-width" ng-change="search();">
                               <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <!--<div style="width: 100%; height: 270px; overflow-x: auto; overflow-y: auto">-->
                     <div class="row margin-top">
                          <div class="col-md-12">
                         <table class="table table-hover table-bordered table-condensed" id="Table1">
                            <thead>
                                <tr style="background-color: #edefef">
                                    <th class="small-cell v-align-middle" style="z-index:1">
                                        <div class="checkbox check-success">
                                            <input type="checkbox" name="check" class="k-checkbox" value="1" id="mainchk" ng-click="CheckAllChecked();">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>

                                    <th class="semi-bold">{{"YEAR"| translate }}</th>
                                    <th class="semi-bold">{{"BELL CODE"| translate }}</th>
                                    <th class="semi-bold">{{"BELL DAY CODE"| translate}}</th>
                                    <th class="semi-bold">{{"SLOT CODE"| translate}}</th>
                                    <th class="semi-bold">{{"START TIME"| translate}}</th>
                                    <th class="semi-bold">{{"END TIME"| translate}}</th>
                                    <th class="semi-bold">{{"SLOT DESC"| translate}}</th>
                                    <th class="semi-bold">{{"BELL BREAK"| translate}}</th>
                                    <th class="semi-bold">{{"STATUS"| translate}}</th>
                                    <th class="semi-bold"><i class="fa fa fa-cogs"></i></th>

                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <tr ng-repeat="obj in filteredTodos" ng-class="row1">
                                    <td class="small-cell v-align-middle">
                                        <div class="row-fluid" style="height: 20px">
                                            <div class="checkbox check-success">
                                                <input type="checkbox" class="k-checkbox" value="1" id="{{obj.sims_bell_slot_code+$index}}" ng-click="checkonebyonedelete()">
                                                <label for="{{obj.sims_bell_slot_code+$index}}"></label>
                                            </div>
                                        </div>
                                    </td>
                                    
                                    <td>{{obj.sims_bell_academic_year}}</td>
                                    <td>{{obj.sims_bell_desc}}</td>
                                    <td>{{obj.sims_bell_day_desc}}</td>
                                    <td>{{obj.sims_bell_slot_code}}</td>
                                  
                                    <td>{{obj.sims_bell_start_time}}</td>
                                    <td>{{obj.sims_bell_end_time}}</td>
                                    <td>{{obj.sims_bell_slot_desc}}</td>
                                    <td class="v-align-middle">
                                        <span ng-if="obj.sims_bell_break==true" class="label label-success">Break</span>
                                        <span ng-if="obj.sims_bell_break==false" class="label label-important">No Break</span>
                                    </td>
                                    <td class="v-align-middle">
                                        <span ng-if="obj.sims_bell_status==true" class="label label-success">Active</span>
                                        <span ng-if="obj.sims_bell_status==false" class="label label-important">In active</span>
                                    </td>

                                    <td>
                                        <a href=""><i class="fa fa-edit" ng-click="up(obj)"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                         </div>
                </div>

                <div class="row" ng-show="pager">
                    <div class="col-md-12">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>
                        </div>
                </div>

            </div>

        </div>
        </div>
    </div>
</div>

  
<script>
    $(document).ready(function () {
        $("#start_time").kendoTimePicker({
            interval: 15
        });
        $("#end_time").kendoTimePicker();
    });
</script>
