﻿<!--<div class="loading-middle" ng-hide="display">
    {{ "Loading..." | translate }}
</div>-->

<style>
    .sortorder:after {
        content: '\25b2';
    }

    .sortorder.reverse:after {
        content: '\25bc';
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">

            <div class="page-title">
                <h3><span class="semi-bold">{{"Bell Section Subject Teacher"|translate}} </span></h3>
            </div>
            <div class="grid-body no-border">
                <div ng-show="Grid">

                    <div class="row">
                        <div class="col-md-2">
                            <label><i class="fa fa-book"></i>&nbsp;{{ "Curriculum" | translate}} <span class="asterisk" style="color: red">*</span></label>
                            <select id="cmb_School_Code" data-role="dropdownlist" class="form-control" name="user" ng-model="edt.sims_cur_code" ng-change="getacyr(edt.sims_cur_code)"
                                    ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in curriculum">
                                <option value="" selected disabled>Please Select</option>
                            </select>
                        </div>

                        <div class="col-md-2">
                            <label><i class="fa fa-sort-amount-desc"></i>&nbsp;{{ "Academic Year" | translate}} <span class="asterisk" style="color: red">*</span></label>
                            <select id="cmb_academic_year" data-role="dropdownlist" class="form-control" ng-model="edt.academic_year" ng-change="getsections(edt.academic_year);"
                                    ng-options="year.sims_academic_year as year.sims_academic_year_desc for year in getAcademicYear">
                                <option value="" selected disabled>Please Select</option>
                            </select>
                        </div>

                        <div class="col-md-2">
                            <label><i class="fa fa-sitemap"></i>&nbsp;{{ "Grade" | translate}} <span class="asterisk" style="color: red">*</span></label>
                            <select id="cmb_grade_code" data-role="dropdownlist" class="form-control" ng-model="edt.grade_code" ng-change="getsection(edt.sims_grade_code);">
                                <option value="" selected disabled>Please Select</option>
                                <option ng-if="edt.sims_cur_code==grade.grCur && edt.academic_year==grade.grAca" class="form-control input-sm" ng-repeat="grade in ComboBoxValues|filter:{sims_grade_name:''}" value="{{grade.sims_grade_code}}">{{grade.sims_grade_name}}</option>
                            </select>
                        </div>

                        <div class="col-md-2">
                            <label><i class="fa fa-align-justify"></i>&nbsp;{{ "Section" | translate}} <span class="asterisk" style="color: red">*</span></label>
                            <select id="cmb_section_code" data-role="dropdownlist" class="form-control" ng-model="edt.section_code" ng-change="get(edt.section_code);term_changeNew(edt.section_code);">
                                <option value="" selected disabled>Please Select</option>
                                <option ng-if="edt.sims_cur_code==section.secCur && edt.academic_year==section.secAca && edt.grade_code==section.secGr" class="form-control input-sm" ng-repeat="section in ComboBoxValues" ng-if="section.sims_section_name && section.secGr==edt.grade_code && section.secAca==edt.academic_year" value="{{section.sims_section_code}}">{{section.sims_section_name}}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label semi-bold"><i class=" fa fa-align-justify"></i>{{" Section Term" | translate }} <span class="asterisk" style="color: red">*</span></label>
                            <select class="form-control input-sm full-width" ng-model="edt.sims_section_subject_term_code"
                                    ng-options="tr.sims_term_code as tr.sims_term_desc_en for tr in terms_obj" style="width: 100%;">
                                <option value="" selected disabled>Please Select</option>
                                <!--<option ng-repeat="tr in terms_obj" value="{{tr.sims_term_code}}">{{tr.sims_term_desc_en}}</option>-->
                            </select>
                        </div>

                        <div class="col-md-2">
                            <label>&nbsp</label>
                            <div class="pull-right">                                
                                <button type="button" class="btn btn-primary btn-cons" ng-click="Show_Data_DMC()">{{ "Show" | translate}}</button>
                            </div>
                        </div>

                    </div>


                    <div ng-hide="busyindicator">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <div class="col-md-5">
                                            &nbsp;
                                        </div>
                                        <div class="col-md-5">
                                            <div class="row">
                                                <img src="assets/theme/img/loading.gif" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="example_wrapper" class="dataTables_wrapper form-inline" ng-show="insert">
                        <div ng-show="table">
                            <div class="row margin-top">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-condensed" id="fixTable">
                                        <thead>
                                            <tr style="background-color: #edefef">
                                                <th></th>
                                                <th style="z-index: 1"></th>
                                                <th class="semi-bold" style="vertical-align:middle" ng-click="sortBy('sims_subject_name')">
                                                    <label style="width:150px"><i class="fa fa-align-justify"></i>&nbsp;<b>{{ "Subject Name" | translate}}</b></label>
                                                    <span class="sortorder" ng-show="propertyName === 'sims_subject_name'" ng-class="{reverse: reverse}"></span>
                                                </th>

                                                <th class="semi-bold" ng-click="sortBy('sims_teacher_code')">
                                                    <i class="fa fa-align-justify"></i>&nbsp;<b>{{ "Teacher Name" | translate}}</b>
                                                    <span class="sortorder" ng-show="propertyName === 'sims_teacher_code'" ng-class="{reverse: reverse}"></span>
                                                </th>
                                                <th class="semi-bold" ng-click="sortBy('sims_bell_slot_group')">
                                                    <i class="fa fa-group"></i>&nbsp;<b>{{ "Slot Group" | translate}}</b>
                                                    <span class="sortorder" ng-show="propertyName === 'sims_bell_slot_group'" ng-class="{reverse: reverse}"></span>
                                                </th>
                                                <th class="semi-bold"><i class="fa fa-building"></i>&nbsp;<b>{{ "Slot Room" | translate}}</b></th>
                                                <!--<th class="semi-bold">{{ "GROUP ORDER" | translate}}</th>-->
                                                <th class="semi-bold"><i class="fa fa-calendar"></i>&nbsp;<b>{{ "Lecture / Week" | translate}}</b><br /><b> {{"Lec" | translate}}: &nbsp; {{All_Teacher_Name1[0].total_count}}</b></th>

                                                <th class="semi-bold"><i class="fa fa-square-o"></i>&nbsp;<b>{{ "Is Block" | translate}}</b></th>

                                                <th class="semi-bold"><i class="fa fa-sort-numeric-asc"></i>&nbsp;<b>{{ "Block Size" | translate}}</b></th>

                                                <!--  <th class="semi-bold">{{ "SLOT PER PRACTICAL" | translate}}</th>-->
                                                <!--    <th class="semi-bold">{{ "LESSON TYPE" | translate}}</th> -->
                                                <!--<th class="semi-bold">{{ "LECTURE COUNT" | translate}}</th>
                                                <th class="semi-bold">{{ "PRACTICAL COUNT" | translate}}</th>-->

                                            </tr>
                                        </thead>
                                        <tbody>


                                            <tr ng-repeat="info in All_Teacher_Name | orderBy:propertyName:reverse" ng-style="{'background-color': info.color}">
                                                <td>
                                                    <button class="btn btn-primary btn-mini btn-small" ng-click="AddNewData(info)">{{"Add New" | translate}}</button>
                                                </td>
                                                <td>
                                                    <div class="checkbox check-success" style="height: 20px">
                                                        <input type="checkbox" class="k-checkbox" name="check" value="1" id="{{info.sims_teacher_code+info.sims_subject_code}}" ng-click="CheckOnebyOneDelete(info)" />
                                                        <label for="{{info.sims_teacher_code+info.sims_subject_code}}"></label>
                                                    </div>
                                                </td>


                                                <td>{{info.sims_subject_name}}</td>
                                                <td>
                                                    <input style="width:200px" type="text" id="rcbItem" list="languages" tabindex="10" ng-model="info.sims_gb_teacher_code_name" class="form-control input-sm" ng-click="CheckTeacher(info)" ng-change="Check(info)">
                                                    <datalist id="languages">
                                                        <option class="form-control" ng-repeat="teacher in GetAllTeacherName" value="{{teacher.sims_teacher_code}}/{{teacher.sims_gb_teacher_code_name}}"></option>
                                                    </datalist>

                                                </td>
                                                <td>
                                                    <select id="Select2"
                                                            data-role="dropdownlist" class="form-control"
                                                            ng-model="info.sims_bell_slot_group" ng-change="Check(info)">
                                                        <option value="" selected disabled>Please Select</option>

                                                        <option ng-selected="info.sims_bell_slot_group==bell_group.sims_bell_slot_group"
                                                                ng-repeat="bell_group in ComboBoxValues | filter:{sims_bell_slot_group_desc:''}"
                                                                value="{{bell_group.sims_bell_slot_group}}">
                                                            {{bell_group.sims_bell_slot_group_desc}}
                                                        </option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="Select4" data-role="dropdownlist" class="form-control" ng-model="info.sims_bell_slot_room" ng-change="Check(info)">
                                                        <option value="" selected disabled>Please Select</option>
                                                        <option ng-selected="info.sims_bell_slot_room_desc==room.sims_bell_slot_room_desc"
                                                                ng-repeat="room in ComboBoxValues |filter:{sims_bell_slot_room_desc:''}"
                                                                value="{{room.sims_bell_slot_room_code}}">
                                                            {{room.sims_bell_slot_room_desc}}
                                                        </option>
                                                    </select>
                                                </td>

                                                <!--<td>
                                                    <input class="form-control input-sm k-textbox" ng-model="info.sims_bell_group_order" ng-change="Check(info)" />
                                                </td>-->
                                                <td>
                                                    <input class="form-control input-sm k-textbox" style="width: 30px;" ng-model="info.sims_bell_lecture_per_week" ng-change="Check(info)" />
                                                </td>
                                                <td>
                                                    <div class="checkbox check-success sub_checkbox" style="height: 20px">
                                                        <input type="checkbox" class="k-checkbox" name="check" value="1" id="{{info.sims_subject_code}}" ng-change="Check(info)" ng-click="chk_b(info.sims_bell_section_block,info.sims_bell_lecture_per_week,info)" ng-model="info.sims_bell_section_block" />
                                                        <label for="{{info.sims_subject_code}}"></label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <input class="form-control input-sm k-textbox" style="width: 30px;" ng-model="info.sims_bell_section_block_size" ng-change="Check(info)" ng-disabled="!info.sims_bell_section_block" />
                                                </td>
                                                <!--<td>
                                                    <input class="form-control input-sm k-textbox" ng-model="info.sims_bell_slot_per_practical" ng-change="Check(info)" />
                                                </td>
                                                <td>
                                                    <select id="Select5" data-role="dropdownlist"  class="form-control" ng-model="info.sims_lession_type1" ng-change="Check(info)">
                                                        <option value="" selected disabled>Please Select</option>
                                                        <option ng-selected="info.sims_lesson_type==lesson.sims_lesson_desc"
                                                                ng-repeat="lesson in ComboBoxValues |filter:{sims_lesson_desc:''}"
                                                                value="{{lesson.sims_lesson_code}}">  {{lesson.sims_lesson_desc}}
                                                        </option>
                                                    </select>
                                                </td>-->
                                                <!--<td>
                                                    <input class="form-control input-sm k-textbox" ng-model="info.sims_bell_lecutre_count" ng-change="Check(info)" />
                                                </td>
                                                <td>
                                                    <input class="form-control input-sm k-textbox" ng-model="info.sims_bell_lecture_practical_count" ng-change="Check(info)" />
                                                </td>-->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <form name="MyForm" ng-submit="SaveBellData(MyForm.$valid ,temp)" novalidate="novalidate">
                        <div id="Div1" class="dataTables_wrapper form-inline" ng-hide="insert">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-condensed" id="Table1">
                                        <thead>
                                            <tr style="background-color: #edefef">
                                                <th class="semi-bold" style="vertical-align:middle"><label style="width:150px"><i class="fa fa-pencil-square-o"></i>&nbsp;<b>{{ "Subject Name" | translate}}</b></label></th>
                                                <th class="semi-bold"><i class="fa fa-align-justify"></i>&nbsp;<b>{{ "Teacher Name" | translate}}</b></th>
                                                <th class="semi-bold"><i class="fa fa-group"></i>&nbsp;<b>{{ "Slot Group" | translate}}</b></th>
                                                <th class="semi-bold"><i class="fa fa-building"></i>&nbsp;<b>{{ "Slot Room" | translate}}</b></th>
                                                <!--<th class="semi-bold">{{ "GROUP ORDER" | translate}}</th>-->
                                                <th class="semi-bold">
                                                    <i class="fa fa-calendar"></i>&nbsp;<b>{{ "Lecture Per Week" | translate}}</b>



                                                </th>
                                                <!--<th class="semi-bold">{{ "SLOT PER LECTURE" | translate}}</th>-->
                                                <!--<th class="semi-bold">{{ "PRACTICAL PER WEEK" | translate}}</th>-->
                                                <!--<th class="semi-bold">{{ "SLOT PER PRACTICAL" | translate}}</th>
                                                <th class="semi-bold">{{ "LESSON TYPE" | translate}}</th>-->
                                                <!--<th class="semi-bold">{{ "LECTURE COUNT" | translate}}</th>
                                                <th class="semi-bold">{{ "PRACTICAL COUNT" | translate}}</th>-->

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="info in temp" ng-style="{'background-color': info.color}">


                                                <td>{{info.sims_subject_name}}</td>
                                                <td>
                                                    <input name="cmb_sims_gb_teacher_code" style="width:250px" type="text" id="Text2" list="Datalist1" tabindex="10" ng-model="temp.sims_gb_teacher_code_name" class="form-control input-sm" ng-change="CheckteacherAssigned(temp.sims_gb_teacher_code_name,temp.sims_subject_code);" required>
                                                    <datalist id="Datalist1">
                                                        <option class="form-control" ng-repeat="teacher in GetAllTeacherName" value="{{teacher.sims_teacher_code}}/{{teacher.sims_gb_teacher_code_name}}"></option>
                                                    </datalist>
                                                    <label>
                                                        <span style="color: red" ng-show="MyForm.cmb_sims_gb_teacher_code.$dirty && MyForm.cmb_sims_gb_teacher_code.$invalid || MyForm.$submitted">
                                                            <span ng-show="MyForm.cmb_sims_gb_teacher_code.$error.required">This field is required</span>
                                                        </span>
                                                    </label>

                                                </td>
                                                <td>
                                                    <select name="cmb_sims_bell_slot_group_desc"
                                                            id="Select6"
                                                            data-role="dropdownlist" class="form-control"
                                                            ng-model="temp.sims_bell_slot_group_code" required>
                                                        <option value="" selected disabled>Please Select</option>

                                                        <option ng-repeat="bell_group in ComboBoxValues | filter:{sims_bell_slot_group_desc:''}"
                                                                value="{{bell_group.sims_bell_slot_group}}">
                                                            {{bell_group.sims_bell_slot_group_desc}}
                                                        </option>
                                                    </select>

                                                    <span style="color: red" ng-show="MyForm.cmb_sims_bell_slot_group_desc.$dirty && MyForm.cmb_sims_bell_slot_group_desc.$invalid || MyForm.$submitted">
                                                        <span ng-show="MyForm.cmb_sims_bell_slot_group_desc.$error.required">This field is required</span>
                                                    </span>

                                                </td>
                                                <td>
                                                    <select data-role="dropdownlist" id="Select7" name="{{$index}}" class="form-control" ng-model="temp.sims_bell_slot_room" required>
                                                        <option value="" selected disabled>Please Select</option>
                                                        <option ng-repeat="room in ComboBoxValues |filter:{sims_bell_slot_room_desc:''}"
                                                                value="{{room.sims_bell_slot_room_code}}">
                                                            {{room.sims_bell_slot_room_desc}}
                                                        </option>
                                                    </select>

                                                    <span style="color: red" ng-show="MyForm.cmb_sims_bell_slot_room_desc.$dirty && MyForm.cmb_sims_bell_slot_room_desc.$invalid || MyForm.$submitted">
                                                        <span ng-show="MyForm.cmb_sims_bell_slot_room_desc.$error.required">This field is required</span>
                                                    </span>
                                                </td>

                                                <!--<td>
                                                    <input class="form-control input-sm k-textbox" name="txt_sims_bell_group_order" ng-model="temp.sims_bell_group_order" required />
                                                    <span style="color: red" ng-show="MyForm.txt_sims_bell_group_order.$dirty && MyForm.txt_sims_bell_group_order.$invalid || MyForm.$submitted">
                                                        <span ng-show="MyForm.txt_sims_bell_group_order.$error.required">This field is required</span>
                                                    </span>
                                                </td>-->
                                                <td>
                                                    <input class="form-control input-sm k-textbox" ng-model="temp.sims_bell_lecture_per_week" />
                                                </td>
                                                <!--<td>
                                                    <input class="form-control input-sm k-textbox" ng-model="temp.sims_bell_slot_per_lecture" />
                                                </td>-->
                                                <!--<td>
                                                    <input class="form-control input-sm k-textbox" ng-model="temp.sims_bell_practical_per_week" />
                                                </td>-->
                                                <!--<td>
                                                    <input class="form-control input-sm k-textbox" ng-model="temp.sims_bell_slot_per_practical" />
                                                </td>-->
                                                <!--<td>

                                                    <select id="Select8" data-role="dropdownlist"  class="form-control" ng-model="temp.sims_lesson_type">
                                                        <option value="" selected disabled>Please Select</option>
                                                        <option ng-repeat="lesson in ComboBoxValues |filter:{sims_lesson_desc:''}"
                                                                value="{{lesson.sims_lesson_code}}">
                                                            {{lesson.sims_lesson_desc}}
                                                        </option>
                                                    </select>
                                                </td>-->
                                                <!--<td>
                                                    <input class="form-control input-sm k-textbox" ng-model="temp.sims_bell_lecutre_count" /></td>
                                                <td>
                                                    <input class="form-control input-sm k-textbox" ng-model="temp.sims_bell_lecture_practical_count" />
                                                    </td>-->
                                            </tr>

                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-actions" ng-hide="insert">
                                    <div class="pull-right">
                                        <button type="submit" id="Button4" class="btn btn-primary btn-cons">{{"Submit"|translate}}</button>
                                        <button type="button" id="Button5" class="btn btn-white btn-cons" ng-click="Cancel(temp)">{{"Cancel"|translate}}</button>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-actions" ng-show="insert==true && table==true">
                                <div class="pull-right">
                                    <button type="button" id="Button1" class="btn btn-primary btn-cons" ng-click="UpdateBellData()">{{"Update"|translate}}</button>
                                    <button type="button" id="btn_update" class="btn btn-danger btn-cons" ng-click="DeleteTeacherData()">{{"Delete"|translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<script src="assets/js/tableHeadFixer.js"></script>
