﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">


            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>


            <div class="page-title">
                <h3><span class="semi-bold">{{"Bell"| translate }}</span></h3>
            </div>

            <div class="grid-body no-border">
            <form name="myForm" ng-submit="Save(myForm.$valid)" novalidate="novalidate">
                <div ng-show="operation">
                    
                            <div class="row">
                                
                                <!--<div class="col-md-3"  ng-class="{'has-error': !myForm.aca.$valid && (myForm.aca.$touched || myForm.$submitted) }">
                                    <label id="Label2" for="txt_Country_Code" class="form-label">{{"Academic Year"| translate }}</label>
                                    <select id="cmb_academic_year" class="form-control" ng-model="edt.sims_bell_academic_year" required name="aca">
                                        <option value="" selected disabled>Please Select</option>
                                        <option class="form-control input-sm" ng-repeat="year1 in ComboBoxValues | filter:{sims_acadmic_year:''}" value="{{year1.sims_acadmic_year}}">{{year1.sims_acadmic_year_desc}}</option>
                                    </select>
                                    <p class="help-block" ng-show="myForm.aca.$error.required &&  (myForm.aca.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                </div>-->

                                <div class="col-md-3" ng-class="{'has-error': !myForm.ar.$valid && (myForm.ar.$touched || myForm.$submitted) }">
                                    <label id="Label2" for="txt_Acad_yr" class="form-label">{{"Academic Year"| translate }}</label>
                                    <select id="cmb_academic_year" data-role="dropdownlist" class="form-control input-sm full-width" name="ar" required ng-show="newmode"
                                            ng-model="edt.sims_bell_academic_year"
                                            ng-options="yeara.sims_academic_year as yeara.sims_academic_year_description for yeara in ActiveYear">
                                        <option value="" selected disabled>Please Select</option>
                                    </select>
                                    <p class="help-block" ng-show="myForm.ar.$error.required &&  (myForm.ar.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                    <input type="text" id="Text_year" ng-model="edt.sims_academic_year_description" class="form-control input-sm" ng-show="editmode" disabled="disabled" />
                                </div>

                                <div class="col-md-6" ng-class="{'has-error': !myForm.bdesc.$valid && (myForm.bdesc.$touched || myForm.$submitted) }">
                                    <label id="label6" class="form-label">{{"Bell Description"| translate}}</label>
                                    <!-- <textarea id="Text1" ng-model="edt.sims_house_objective" class="form-control"></textarea>-->
                                    <input type="text" id="Text3" ng-model="edt.sims_bell_desc" class="k-textbox input-sm" style="width: 100%;" name="bdesc" ng-maxlength="50" required />
                                    <p class="help-block" ng-show="myForm.bdesc.$error.required &&  (myForm.bdesc.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                    <p class="help-block" ng-show="myForm.bdesc.$error.maxlength && (!myForm.$pristine && myForm.$submitted)">
                                        Max length is 50 character
                                    </p>
                                </div>

                                <div class="col-md-3 ">
                                    <label id="Label8" for="txt_full_name" class="form-label">{{"Status"| translate }}</label>
                                    <div class="checkbox check-success">
                                        <input id="chk_term" type="checkbox" class="k-checkbox" ng-model="edt.sims_bell_status">
                                        <label for="chk_term"></label>
                                    </div>
                                </div>

                                <!--<div class="col-md-1" ng-class="{'has-error': !myForm.bcode.$valid && (myForm.bcode.$touched || myForm.$submitted) }">
                                    <label id="lbl_bell" for="txt_full_name" class="form-label">{{"Bell Code"| translate }}</label>
                                    <input type="text" id="Text2" ng-model="edt.sims_bell_code"  class="form-control input-sm" name="bcode" ng-maxlength="2" required  ng-pattern="/^[0-9]{1,20}$/"/>
                                    <p class="help-block" ng-show="myForm.bcode.$error.required &&  (myForm.bcode.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                    <p class="help-block" ng-show="myForm.bcode.$error.maxlength && (!myForm.$pristine && myForm.$submitted)">
                                        Bell Code should be 2 digit
                                    </p>
                                    <p class="help-block" ng-show="myForm.bcode.$error.pattern && (!myForm.$pristine && myForm.$submitted)">
                                        Enter Digit only
                                    </p>
                                </div>-->


                            </div>
                       <div class="row">
                        <div class="col-md-12">
                    <div class="form-actions">
                        <div class="pull-right">
                            <button class="btn btn-primary btn-cons" type="submit" ng-show="savebtn"><i class="icon-ok"></i>{{"Save"| translate }}</button>
                            <button class="btn btn-primary btn-cons" type="button" ng-show="updatebtn" ng-click="Update()"><i class="icon-ok"></i>{{"Update"| translate }}</button>
                            <button class="btn btn-danger btn-cons" type="button" ng-show="deletebtn" ng-click="deleterecord()"><i class="icon-ok"></i>{{"Delete"| translate }}</button>
                            <button class="btn btn-warning btn-cons" type="button" ng-click="cancel()">{{"Cancel"| translate }}</button>
                        </div>
                    </div>
                </div>
        </div>
                    </div>
            </form>



            <!--table-->


            <div ng-show="table1">
                <div class="row">
                    <div class="col-md-6">
                        <select id="Select12" class="input-sm" style="width: 60px" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="5" class="form-control input-sm">
                                5
                            </option>

                            <option value="10" class="form-control input-sm">
                                10
                            </option>

                            <option value="15" class="form-control input-sm">
                                15
                            </option>
                        </select>

                        &nbsp;
                        <button class="btn btn-success btn-cons" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate}}</button>
                        &nbsp;
                        <button class="btn btn-danger btn-cons" type="button" ng-click="deleterecord()"><span class="semi-bold"></span>{{"Delete"| translate}}</button>
                    </div>


                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="Div1">
                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" placeholder="Search" aria-controls="example" ng-model="searchText" class="k-textbox input-sm" ng-change="search();">
                                <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <!--<div style="width: 100%; height: 270px; overflow-x: auto; overflow-y: auto">-->
                    <div class="row margin-top">
                        <div class="col-md-12">
                          <table class="table table-hover table-bordered table-condensed" id="Table1">
                            <thead>
                                <tr style="background-color: #edefef">
                                    <th class="small-cell v-align-middle" style="z-index:1">
                                        <div class="checkbox check-success">
                                            <input type="checkbox" name="check"  class="k-checkbox" value="1" id="mainchk" ng-click="CheckAllChecked();">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>

                                    <th class="semi-bold">{{"YEAR"| translate }}</th>
                                    <th class="semi-bold">{{"BELL CODE"| translate }}</th>
                                    <th class="semi-bold">{{"BELL DESCRIPTION"| translate}}</th>
                                    <th class="semi-bold">{{"STATUS"| translate}}</th>
                                    <th class="semi-bold"><i class="fa fa fa-cogs"></i></th>

                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <tr ng-repeat="obj in filteredTodos" ng-class="row1">
                                    <td class="small-cell v-align-middle">
                                        <div class="row-fluid" style="height: 20px">
                                            <div class="checkbox check-success">
                                                <input type="checkbox" class="k-checkbox" value="1" id="{{obj.sims_bell_code+$index}}" ng-click="checkonebyonedelete()">
                                                <label for="{{obj.sims_bell_code+$index}}"></label>
                                            </div>
                                        </div>
                                    </td>

                                    <td>{{obj.sims_bell_academic_year}}</td>
                                    <td>{{obj.sims_bell_code}}</td>
                                    <td>{{obj.sims_bell_desc}}</td>


                                    <td class="v-align-middle">
                                        <span ng-if="obj.sims_bell_status==true" class="label label-success">Active</span>
                                        <span ng-if="obj.sims_bell_status==false" class="label label-important">In active</span>
                                    </td>
                                    <td>
                                        <a href=""><i class="fa fa-edit" ng-click="up(obj)"></i></a>
                                    </td>
                                </tr>

                            </tbody>

                        </table>
                    </div>
                        </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>