﻿<style>
    .ms-choice {
        height:26px;
  }
    </style>
<!DOCTYPE html>
<html>
<body>
    <div class="grid-simple">
        <div class="content">
            <div class="row" >
                <div class="col-md-12" style="padding-left:14px !important;padding-right:14px !important;background:#d8ebf4 !important;">
                    <!--<div class="grid simple">-->
                        <div  style="padding-bottom:0px !important;padding-top: 4px !important">

                        <div class="row" style="background:#d8ebf4 !important;padding-bottom:12px !important;padding-top: 6px !important">
                             <div class="col-md-2">
                                    <label id="Label" for="txt_Nationality_Code" class="form-label">
                                        <i class="fa fa-book"></i>
                                        {{"Curriculum"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="temp.sims_cur_code" ng-selected="" name="sims_cur_code" ng-change="getAcademic_year(temp.sims_cur_code)"
                                            ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in cur_data" required></select>
                                </div>

                                <div class="col-md-2">
                                    <label id="Label1" for="txt_Nationality_Code" class="form-label">
                                        <i class="fa fa-calendar"></i>
                                        {{" Academic Year"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="Select1" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="temp.sims_academic_year" ng-selected="" name="sims_academic_year" ng-change="getbell(temp.sims_academic_year)"
                                            ng-options="acad.sims_academic_year as acad.sims_academic_year_desc for acad in acad_data" required></select>
                                </div>

                                <div class="col-md-2">
                                    <label id="Label2" for="txt_Nationality_Code" class="form-label">
                                        <i class="fa fa-bell-o"></i>
                                        {{"Bell"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="bell_id"  multiple="multiple"  class="full-width"
                                            ng-model="temp.sims_bell"  name="bell"   ng-change="getversion(temp.sims_bell,temp.sims_academic_year)"
                                           ng-options="acad.sims_bell_code as acad.sims_bell_desc for acad in Bell_as" required></select>
                                </div>

                                <div class="col-md-2">
                                    <label id="Label3" for="txt_Nationality_Code" class="form-label">
                                        <i class="fa fa-sort-numeric-asc"></i>
                                        {{"Select Version"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="version_id"  
                                            ng-model="temp.sims_version"  name="version" 
                                         style="height: 26px;   min-height: 26px;"  ng-options="acad.sims_bell_version_name as acad.sims_bell_version_name for acad in version_as" required></select>
                                </div>

                                <div class="col-md-2">
                                    <label id="Label4" for="txt_Nationality_Code" class="form-label">
                                        <i class="fa fa-bookmark-o"></i>
                                        {{"Select Type"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="type_id"  
                                            ng-model="temp.sims_type"  name="type" 
                                     style="height: 26px;  min-height: 26px;"      ng-options="acad.value as acad.desc for acad in type_as" required></select>
                                </div>

                                <div class="col-md-2" style="margin-top:2px">
                        <label>{{"Enter Value"|translate}} <span style="color:red">*</span></label>
                        <input type="text"  class="k-textbox input-sm full-width" value="100" id="enter_box" name="Order" ng-model="temp.enter_value" >
                     
                    </div>

                              <div class="col-md-12" style="margin-top: 3px;">

                      <!--  <div class="col-md-4">
                        <label id="Label5" for="txt_Nationality_Code" class="form-label">{{"Show By Bell Schedule"}}</label>
                        True :&nbsp;&nbsp;<input type="radio" ng-model="temp.sims_version" name="true_bell" value="T"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        False:&nbsp;&nbsp;<input type="radio" ng-model="temp.sims_version" name="false_bell" value="F">
                    </div> -->

                          <div class="col-md-4">
                                <div >
                                    <label id="Label8" for="txt_full_name" class="form-label">{{"Show By Bell Schedule"| translate }}</label>
                                    <div class="checkbox check-success">
                                        <input id="chk_report" type="checkbox" value="true" ng-model="temp.sims_version_show">
                                        <label for="chk_report"></label>
                                    </div>
                                </div>
                            </div> 


                        <div class="col-md-8" style="margin-top: 26px;">
                <div class="pull-right" >
                    
                   <button type="button" class="btn btn-primary btn-cons" ng-click="getdetails()" >{{"Preview"|translate}}</button>
                   <button class="btn btn-rounded btn-warning btn-cons" type="button" ng-click="reset_data()"><i class="icon-ok"></i>{{"Reset"|translate}}</button>
                   <button type="button" class="btn btn-primary btn-cons" ng-click="exportData()" style="background-color:#1f3853;">{{"Excel"|translate}}</button>
                    <button type="button" class="btn btn-primary btn-cons" ng-click="print()" style="background-color:#0090d9;">{{"Print"|translate}}</button>
                </div>
            </div>

                    </div>

                        </div>
                    <!--</div>-->

                  
                      

                </div>
            </div>

            <div ng-show="detailsField">

                <div class="content" style="margin-left:-9px;margin-right:-9px;">
                    <div class="grid-title no-border" >
                        <div class="col-md-12"  style=" margin-top: 6px !important;background-color: #fff;">
                            <div class="row margin-top">
                                <div class="col-md-6" style=" padding-left: 6px;">
                                    <select id=" select1" style="width: 60px;" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                        <option value="30" class=" form-control input-sm">
                                            30
                                        </option>

                                        <option value="60" class=" form-control input-sm">
                                            60
                                        </option>

                                        <option value="All" class=" form-control input-sm">
                                            All
                                        </option>
                                    </select>
                                </div>
                           
                         
                               

                                 <div class="col-md-6" ng-show="true">
                                   <!-- <label>&nbsp;</label>-->
                                    <div class="pull-right">
                                        <span class="k-textbox k-space-right">
                                            <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm" autofocus="autofocus" tabindex="1" ng-change="searched()"><!--</label>-->
                                            <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                        </span>
                                    </div>
                                </div>
                             </div>
                        </div>


                        <div id="example_wrapper" class="dataTables_wrapper form-inline">
                            <div class="row margin-top">
                                <div class="col-md-12">

                                    <div class="col-md-12" id="rpt_data1">
                                        <table class="table table-striped table-flip-scroll cf">
                                            <thead>
                                                <tr style=" text-align:left" background-color #edefef"  >
                                                    <th style="width:4%"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Sr No"|translate}}</b></th>
                                                     <th ng-click="sort('sims_bell_teacher_code')"><b><i class="fa fa-dashboard"></i>&nbsp;{{"Teacher Code"|translate}}</b></th>
                                                   <th ng-click="sort('sims_bell_teacher_emp_code')"><i class="fa fa-dashboard"></i>&nbsp;<b>{{"Employee Code"|translate}}</b></th>
                                                    <th ng-click="sort('sims_bell_teacher_desc')"><b><i class="fa fa-user"></i>&nbsp;{{"Teacher Name"|translate}}</b></th>
                                                    <th ng-click="sort('section_bell_teacher')"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Bell Section Teacher Count"|translate}}</b></th>
                                                    <th ng-show="temp.sims_version_show==true" ng-click="sort('cnt')"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Bell Schedule Count"|translate}}</b></th>
                                                </tr>
                                                




                                            </thead>

                                            <tbody align="left">
                                                <tr ng-repeat="r in filteredTodos|orderBy:colname:reverse|filter:searchText">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{r.sims_bell_teacher_code}}</td>
                                                    <td>{{r.sims_bell_teacher_emp_code}}</td>
                                                    <td>{{r.sims_bell_teacher_desc}}</td>
                                                    <td>{{r.section_bell_teacher}}</td>
                                                    <td ng-show="temp.sims_version_show==true">{{r.cnt}}</td>
                                                    
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                    <div ng-show="hideprintpdf">
                                        <div class="col-md-12" id="pdf_print">
                                            <table class="table table-bordered text-center">
                                                <thead>
                                                    <tr style=" text-align:left" background-color #edefef">
                                                        <th><b>{{"Sr No"|translate}}</b></th>
                                                     <th ng-click="sort('sims_bell_teacher_code')"><b>{{"Teacher Code"|translate}}</b></th>
                                                   <th ng-click="sort('sims_bell_teacher_emp_code')"><b>{{"Employee Code"|translate}}</b></th>
                                                    <th ng-click="sort('sims_bell_teacher_desc')"><b>{{"Teacher Name"|translate}}</b></th>
                                                    <th ng-click="sort('section_bell_teacher')"><b>{{"Bell Section Teacher Count"|translate}}</b></th>
                                                    <th ng-click="sort('cnt')"><b>{{"Bell Schedule Count"|translate}}</b></th>
                                                  
                                                    </tr>

                                                </thead>

                                                <tbody align="center">
                                                     <tr ng-repeat="r in filteredTodos|orderBy:colname:reverse|filter:searchText">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{r.sims_bell_teacher_code}}</td>
                                                    <td>{{r.sims_bell_teacher_emp_code}}</td>
                                                    <td>{{r.sims_bell_teacher_desc}}</td>
                                                    <td>{{r.section_bell_teacher}}</td>
                                                     <td>{{r.cnt}}</td>
                                                    
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="row" ng-show="pager">
                                        <div class="col-md-12">
                                            <div class="pull-right">
                                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                                        ng-click="index(currentPage)">
                                                </paging>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</body>
</html>
<!--<div class="col-md-12" id="subform">-->

<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/plugins/fileSaver.js"></script>
<script src="assets/js/jszip.js"></script>
<script src="assets/js/xlsx.js"></script>
<script src="assets/js/xlsx-reader.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>



