﻿<style>
    .ms-choice {
        height: 26px;
       
    }
     .greed-title {
            margin-bottom: 15px;

    }

</style>



    <div class="grid-simple">
        <div class="content">
            <div class="row" >
                <div class="col-md-12" style="padding-left:14px !important;padding-right:14px !important;background:#d8ebf4 !important;">
                    <!--<div class="grid simple">-->
                        <div class="greed-title no-border" style="padding-bottom:0px !important;padding-top: 4px !important">

                            <div class="row" style="background:#d8ebf4 !important;padding-bottom:12px !important;padding-top: 6px !important">

                                <div class="col-md-12">
                <div class="col-md-1">
                                    <label id="Label" for="txt_Nationality_Code" class="form-label">
                                        <i class="fa fa-book"></i>
                                        {{"Curriculum"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="temp.sims_cur_code" ng-selected="" name="sims_cur_code" ng-change="getAcademic_year(temp.sims_cur_code)"
                                            ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in cur_data" required></select>
                                </div>

                <div class="col-md-2" style="margin-right:-79px;padding-right: 80px;">
                                    <label id="Label1" for="txt_Nationality_Code" class="form-label">
                                        <i class="fa fa-calendar"></i>
                                        {{"Academic Year"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="Select1" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="temp.sims_academic_year" ng-selected="" name="sims_academic_year" ng-change="getbell_parameter(temp.sims_academic_year)"
                                            ng-options="acad.sims_academic_year as acad.sims_academic_year_desc for acad in acad_data" required></select>
                                </div>

                <div class="col-md-2">
                                    <label id="Label2" for="txt_Nationality_Code" class="form-label">
                                        <i class="fa fa-bell"></i>
                                        {{"Bell"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="bell" class ="form-control input-sm full-width"
                                            ng-model="temp.sims_bell_code" ng-selected="" name="sims_bell_code" 
                                            ng-options="temp.sims_bell_code as temp.sims_bell_desc for temp in bell_for" required></select>
                                </div>

                <div class="col-md-2">
                                    <label id="Label3" for="txt_Nationality_Code" class="form-label">
                                        <i class="fa fa-calendar"></i>
                                        {{"Select Day"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="day"  class ="form-control input-sm full-width"
                                            ng-model="temp.sims_bell_day_code" ng-selected="" name="sims_bell_day_code" 
                                            ng-options="temp.sims_bell_day_code as temp.sims_bell_day_desc for temp in day_for" required></select>
                                </div>
                                                
                <div class="col-md-2">
                                    <label id="Label6" for="txt_Nationality_Code" class="form-label">
                                        <i class="fa fa-pencil-square-o"></i>
                                        {{"Select Slot"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="slot" class ="form-control input-sm full-width"
                                            ng-model="temp.sims_bell_slot_group" ng-selected="" name="sims_bell_slot_group" 
                                            ng-options="temp.sims_bell_slot_group as temp.sims_bell_slot_group_desc for temp in slot_for" required></select>
                                </div>

                
                <div class="col-md-3">                 
                         
                <div class="pull-right">
                    <label>&nbsp;</label>
                    <button type="button" class="btn btn-primary btn-cons" ng-click="getdetails()">{{"Submit"|translate}}</button>
                    <button class="btn btn-rounded btn-warning btn-cons" type="button" ng-click="reset_data()"><i class="icon-ok"></i>{{"Reset"|translate}}</button>
                    <button type="button" class="btn btn-primary btn-cons" ng-click="exportData()">{{"Excel"|translate}}</button>
                    <button type="button" class="btn btn-primary btn-cons" ng-click="print()">{{"Print"|translate}}</button>
                </div>
            </div>
                                
                          </div>         

                            </div><!---- row -->
                           
                           



                        </div>
                    <!--</div>-->
                </div>
            </div>

            <div ng-show="detailsField">

                <div class="content" style=" margin-left:  -9px; margin-right: -7px;">
                    <div class="greed-title no-border" style="background-color:  white;">
                        <div class="col-md-12">
                            <div class="row margin-top">
                                <div class="col-md-6" style=" padding-left: 6px;">
                                    <select id=" select1" style="width: 60px;" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                        <option value="30" class=" form-control input-sm">
                                            30
                                        </option>

                                        <option value="60" class=" form-control input-sm">
                                            60
                                        </option>

                                        <option value="All" class=" form-control input-sm">
                                            All
                                        </option>
                                    </select>
                                </div>

                                <div class="col-md-6">                
                <div class="pull-right">
                    <span class="k-textbox k-space-right">
                        <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                        <a href="#" class="k-icon k-i-search">&nbsp;</a>
                    </span>
                </div>
            </div>
                            </div>
                        </div>

                        
           

                    <div class="grid-body no-border">
                <div class="row margin-top" >
                    <div class="row margin-top">
                        <div class="col-md-12" id="rpt_data1" style="overflow-x:auto;margin-left:6px !important;">
                            <table class="table table-striped table-flip-scroll cf" style="width:99% !important;">
                                <thead ng-if="!colsvis">
                                    <tr style="background-color:#edefef">
                                        <th><i class="fa fa-sort-numeric-asc"></i>&nbsp;<b>{{"Sr No"|translate}}</b></th>
                                        <th ng-click="sortBy('sims_teacher_code')"><i class="fa fa-dashboard"></i>&nbsp;<b>{{"Teacher Code"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_teacher_code'" ng-class="{reverse: reverse}"></span></th>
                                        <th ng-click="sortBy('sims_employee_code')"><i class="fa fa-dashboard"></i>&nbsp;<b>{{"Employee Code"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_employee_code'" ng-class="{reverse: reverse}"></span></th>
                                        <th ng-click="sortBy('teacher_name')"><i class="fa fa-user"></i>&nbsp;<b>{{"Teacher Name"|translate}}</b><span class="sortorder" ng-show="propertyName === 'teacher_name'" ng-class="{reverse: reverse}"></span></th>
                                        <th ng-click="sortBy('qualification')"><i class="fa fa-graduation-cap"></i>&nbsp;<b>{{"Qualification"|translate}}</b><span class="sortorder" ng-show="propertyName === 'qualification'" ng-class="{reverse: reverse}"></span></th>
                                       
                                    </tr>
                                </thead>
                                <thead ng-if="colsvis">
                                    <tr style="background-color:#edefef">
                                        <th style="text-align:left"><b>{{"Sr No"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Teacher Code"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Employee Code"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Teacher Name"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Qualification"|translate}}</b></th>
                                      

                                       
                                    </tr>
                                </thead>
                                <tbody align="center">
                                    <tr ng-repeat="r in filteredTodos | orderBy:propertyName:reverse|filter:searchText">
                                        <td style="text-align:left" >{{$index+1}}</td>
                                        <td style="text-align:left" >{{r.sims_teacher_code}}</td>
                                        <td style="text-align:left" >{{r.sims_employee_code}}</td>
                                        <td style="text-align:left" >{{r.teacher_name}}</td>
                                        <td style="text-align:left" >{{r.qualification}}</td>
                                      

                                    </tr>
                                </tbody>
                            </table>

                        </div>


                    </div>
                    <div class="row">
                        <div class="col-md-12" ng-show="pager">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            </div>

        </div>
    </div>
            </div>
        </div>

<!--<div class="col-md-12" id="subform">-->

<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/plugins/fileSaver.js"></script>
<script src="assets/js/jszip.js"></script>
<script src="assets/js/xlsx.js"></script>
<script src="assets/js/xlsx-reader.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>



