﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Teacher Time Table"| translate}}</span></h3>
            </div>

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox" class="k-checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox" class="k-checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="grid-body no-border">
                <div ng-show="grid">

                    <div class="row">
                        <div class="col-md-6">
                            <!--<select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                <option value="{{x.val}}" class=" form-control input-sm" ng-repeat="x in countData">
                                    {{x.data}}
                                </option>

                            </select>-->
                            <select id="Select12" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                <option value="10" class="form-control input-sm">
                                    10
                                </option>

                                <option value="20" class="form-control input-sm">
                                    20
                                </option>

                                <option value="All" class="form-control input-sm">
                                    All
                                </option>
                            </select>
                            <!--&nbsp;
                            <button class="btn btn-success btn-small" type="button" id="designew" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate }}</button>
                            &nbsp;
                            <button class="btn btn-danger btn-small" type="button" ng-click="Delete()"><span class="semi-bold"></span>{{"Delete"| translate }}</button>-->
                        </div>

                        <div class="col-md-6">
                            <div class="pull-right">
                                <div class="dataTables_filter" id="Div1">
                                    <span class="k-textbox k-space-right full-width">
                                        <!--<input type="text" aria-controls="example" ng-model="search.$" class="input-medium"></label>-->
                                        <input aria-controls="example" ng-model="searchText" class="input-sm k-textbox" placeholder="Search" autofocus="autofocus" type="search" ng-change="search()">
                                        <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- <div class="col-md-6">
                            <div class="pull-right">
                      <div class="dataTables_filter" id="example_filter">
                          <label>Search:&nbsp; <input type="text" aria-controls="example"  ng-model="search.$" class="input-medium"></label>
                      </div>
                        </div>

                        </div>-->

                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-hover table-condensed" id="fixTable">
                                    <thead style="background-color: white">
                                        <tr style="background-color: #edefef">
                                            <th><b>{{"Time Table Code"| translate}}</b></th>

                                            <th><b>{{"Curriculum"| translate}}</b></th>
                                            <th><b>{{"Academic Year"| translate}}</b></th>

                                            <th><b>{{"Emp Id"| translate}}</b></th>
                                            <th><b>{{"Employee name"| translate}}</b></th>

                                            <th><b>{{"File Name"| translate}}</b></th>

                                            <th><b>{{"Status"| translate}}</b></th>
                                            <th class="semi-bold">
                                                <label><i class="fa fa-cogs"></i></label>
                                            </th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="info in filteredTodos | orderBy:orderByField:reverseSort" ng-class="row1">
                                            <td>{{info.sims_timetable_number}}</td>
                                            <td>{{info.sims_timetable_cur_name}}</td>
                                            <td>{{info.sims_academic_year}}</td>

                                            <td>{{info.sims_timetable_employee_id}}</td>
                                            <td>{{info.employee_name}}</td>
                                            <td><a href="" ng-click="downloaddoc(info.sims_timetable_filename)">{{info.sims_timetable_filename}}  </a></td>
                                            <td>
                                                <span class="label label-success" ng-if="info.sims_timetable_status == true">{{"Active"| translate}}</span>
                                                <span ng-if="info.sims_timetable_status==false" class="label label-important">{{"In Active"| translate}}</span>

                                            </td>
                                            <td><a href=""><i class="fa fa-edit" ng-click="edit(info)"></i></a></td>
                                        </tr>


                                    </tbody>

                                </table>
                            </div>
                        </div>

                        <div class="row" ng-show="pager">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                            ng-click="index(currentPage)">
                                    </paging>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <form name="Myform" ng-submit="save(Myform.$valid)" novalidate="novalidate">
                    <div ng-show="display">

                        <div class="row">
                            <div class="col-md-2" ng-class="{'has-error': !Myform.txt_Section_name.$valid &amp;&amp; (Myform.txt_Section_name.$touched || Myform.$submitted) }">
                                <label id="Label19" for="txt_full_name" class="form-label ng-binding">{{'Curriculum' | translate}} <span class="asterisk" style="color: red">*</span></label>
                                <select id="txt_Section_name" name="txt_Section_name" ng-disabled="editflg" class="form-control input-sm full-wdith" ng-model="edt.sims_timetable_cur" required ng-change="curChange(edt.sims_timetable_cur)"
                                        ng-options="item.sims_cur_code as item.sims_cur_short_name_en for item in cmbcur">

                                    <!--<option ng-repeat="cur1 in cmbcur" value="{{cur1.sims_cur_code}}">{{cur1.sims_cur_short_name_en}}</option>-->
                                </select>
                                <p class="help-block ng-hide" ng-show="Myform.txt_Section_name.$error.required &amp;&amp;(Myform.txt_Section_name.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>
                            <div class="col-md-2" ng-class="{'has-error': !Myform.txt_name_en.$valid &amp;&amp; (Myform.txt_name_en.$touched || Myform.$submitted) }">
                                <label id="Label15" for="txt_full_name" class="form-label ng-binding">{{'Academic Year' | translate}} <span class="asterisk" style="color: red">*</span></label>
                                <select name="txt_name_en" id="txt_name_en" class="form-control input-sm full-wdith" ng-disabled="editflg" required ng-model="edt.sims_academic_year" ng-change="academicChange(edt.sims_academic_year)"
                                        ng-options="item.sims_academic_year as item.sims_academic_year_desc for item in cmbAcademic">
                                    <!--<option ng-repeat="cur1 in cmbAcademic" value="{{cur1.sims_academic_year}}">{{cur1.sims_academic_year_desc}}</option>-->
                                </select>
                                <p class="help-block ng-hide" ng-show="Myform.txt_name_en.$error.required &amp;&amp;(Myform.txt_name_en.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>
                            <div class="col-md-2" ng-class="{'has-error': !Myform.empId.$valid &amp;&amp; (Myform.empId.$touched || Myform.$submitted) }">
                                <label id="Label15" for="txt_full_name" class="form-label ng-binding">{{'Employee ID' | translate}} <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" class="input-sm k-textbox full-width" id="empId" name="empId" ng-model="edt.sims_timetable_employee_id" required />
                                <p class="help-block ng-hide" ng-show="Myform.empId.$error.required &amp;&amp;(Myform.empId.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>
                            <div class="col-md-2">
                                <div class="pull-left">
                                    <label id="Label15" for="txt_full_name" class="form-label ng-binding">&nbsp;</label>
                                    <button type="button" class="btn btn-primary btn-small" ng-click="GlobalSearch()">{{"Search Teacher"|translate}}</button>
                                </div>
                            </div>
                            <!-- <div class="col-md-4" ng-class="{'has-error': !Myform.txt_name_fr.$valid &amp;&amp; (Myform.txt_name_fr.$touched || Myform.$submitted) }">
                                 <label id="Label16" for="txt_full_name" class="form-label ng-binding">{{'Grade' | translate}}</label>
                                 <select name="txt_name_fr" id="txt_name_fr" style="width: 100%" ng-disabled="editflg" ng-model="edt.sims_grade" required ng-change="gradeChange(edt.sims_grade)"
                                         ng-options="item.sims_grade_code as item.sims_grade_name for item in cmbGrade">
                                     <!--<option ng-repeat="cur1 in cmbGrade" value="{{cur1.sims_grade_code}}">{{cur1.sims_grade_name}}</option>
                                 </select>-->
                            <!--    <p class="help-block ng-hide" ng-show="Myform.txt_name_fr.$error.required &amp;&amp;(Myform.txt_name_fr.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>
                            -->
                            <!--<div class="col-md-4" ng-class="{'has-error': !Myform.txt_name_ot.$valid &amp;&amp; (Myform.txt_name_ot.$touched || Myform.$submitted) }">
                                <label id="Label17" for="txt_full_name" class="form-label ng-binding">{{'Section' | translate}}</label>

                                <select name="txt_name_ot" id="txt_name_ot" style="width: 100%" ng-disabled="editflg" ng-model="edt.sims_section" required
                                        ng-options="item.sims_section_code as item.sims_section_name for item in cmbsection">
                                </select>
                                <p class="help-block ng-hide" ng-show="Myform.txt_name_ot.$error.required &amp;&amp;(Myform.txt_name_ot.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>-->
                            <div class="col-md-4" ng-class="{'has-error': !Myform.txt_namer.$valid &amp;&amp; (Myform.txt_namer.$touched || Myform.$submitted) }">
                                <label id="Label4" for="txt_full_name" class="form-label ng-binding">{{'File Name' | translate}} <span class="asterisk" style="color: red">*</span></label>

                                <label>
                                    <input name="txt_namer" type="text" class="k-textbox form-control input-sm ng-pristine ng-untouched ng-invalid ng-invalid-required" readonly id="txt_Name_reg" ng-model="edt.sims_timetable_filename" required="" style="width: 70%">

                                    <input type="file" id="file1" name="file" onchange="angular.element(this).scope().file_changed(this)"
                                           ng-files="getTheFiles($files)" accept="application/pdf" required style="float: initial; width: 120px; display: none" />
                                    <a href="" class="label label-important " type="button" ng-if="edt.sims_timetable_filename==''" ng-click="uploadClick(info)" onclick="document.getElementById('file1').click();"><i class="fa fa-cloud-upload"></i>Upload</a>
                                    <a href="" class="label label-important " type="button" ng-if="edt.sims_timetable_filename!=''" ng-click="uploadClick(info)" onclick="document.getElementById('file1').click();"><i class="fa fa-cloud-upload"></i>Change</a>
                                </label>

                                <p class="help-block ng-hide" ng-show="Myform.txt_namer.$error.required &amp;&amp;(Myform.txt_namer.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <label id="Label12" for="txt_full_name" class="form-label ng-binding">{{'Status' | translate}}</label>
                                <div class="checkbox check-success">
                                    <input id="check_house_status" type="checkbox" value="1" class="k-checkbox" checked="checked" ng-model="edt.sims_timetable_status">
                                    <label for="check_house_status"></label>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-actions">
                                    <div class="pull-right">
                                        <button class="btn btn-primary btn-small ng-binding" type="submit" ng-click="Save(Myform)" ng-show="save1">{{"Save"| translate}}</button>
                                        <button class="btn btn-primary btn-small ng-binding ng-hide" type="button" ng-click="Update(Myform)" ng-show="update1">{{"Update"| translate}}</button>
                                        <button class="btn btn-danger btn-small ng-binding" type="button" ng-click="cancel()">{{"Cancel"| translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>


            </div>

        </div>
    </div>

</div>


<div class="modal fade" id="message">
    <div class="modal-dialog" id="Div4" style="width: 300px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="semi-bold pull-left">Message</h5>
                <br />
            </div>
            <div class="modal-body">
                <br />
                <label>{{msg1.strMessage}}</label>
                <br />
            </div>
            <div class="modal-footer" style="height: 60px">
                <button type="button" class="btn btn-primary btn-cons" data-dismiss="modal" ng-click="maindata();">Ok</button>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!---end modal-->
</div>
