﻿<style>
    .sortorder:after {
        content: '\25b2';
    }

    .sortorder.reverse:after {
        content: '\25bc';
    }
</style>

<link href="assets/css/mino.css" rel="stylesheet" />
<div class="row">
    <div>
        <div>
            <div class="page-title">
                <h3>{{"Asset Master"|translate}}<span class="semi-bold"></span></h3>
            </div>

            
            <div ng-show="display">
                <div  class="paddingcode grid-body no-border">
                     
                 <div class="col-md-12" style="background: white;">
                <form name="myForm" novalidate="novalidate" ng-submit="Save(myForm)">
                    <div class="row" ng-show="notshow">
                        <div class="col-xs-4">
                            <div class="well" class="form-group">
                                <div class="form-group">
                                    <label>Current Page:</label>
                                    <input
                                        placeholder="page"
                                        class="form-control"
                                        ng-model="currentPage"
                                        ng-init="currentPage = 1" />
                                </div>
                                <div class="form-group">
                                    <label>Page Size:</label>
                                    <input
                                        placeholder="Page Size"
                                        class="form-control"
                                        ng-model="numPerPage" />
                                </div>
                                <div class="form-group">
                                    <label>Total Items:</label>
                                    <input
                                        placeholder="Total"
                                        class="form-control"
                                        ng-model="pagersize" />
                                </div>
                                <hr />
                                <div class="form-group">
                                    <label>Dots Display:</label>
                                    <input
                                        placeholder="..."
                                        class="form-control"
                                        maxlength="3"
                                        ng-model="dots"
                                        ng-init="dots = '...'" />
                                </div>

                                <hr />
                                <div class="form-group">
                                    <label>UL Class:</label>
                                    <input
                                        placeholder="pagination"
                                        class="form-control"
                                        maxlength="100"
                                        ng-model="ulClass" />
                                </div>
                                <div class="form-group">
                                    <label>Active Class:</label>
                                    <input
                                        placeholder="active"
                                        class="form-control"
                                        maxlength="100"
                                        ng-model="activeClass"
                                        ng-init="activeClass = 'active'" />
                                </div>
                                <div class="form-group">
                                    <label>Disabled Class:</label>
                                    <input
                                        placeholder="disabled"
                                        class="form-control"
                                        maxlength="100"
                                        ng-model="disabledClass"
                                        ng-init="disabledClass = 'disabled'" />
                                </div>
                                <br />
                                <table class="table">

                                    <tr>
                                        <td>
                                            <label>Show Prev Next:</label></td>
                                        <td>
                                            <input
                                                type="checkbox"
                                                ng-model="showPrevNext"
                                                ng-init="showPrevNext = true" />
                                            {{showPrevNext}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Show First Last:</label></td>
                                        <td>
                                            <input
                                                type="checkbox"
                                                ng-model="showFirstLast"
                                                ng-init="showFirstLast = true" />
                                            {{showPrevNext}}
                                        </td>
                                    </tr>
                                </table>
                                <hr />
                                <span class="btn btn-default" onclick="location.reload()">
                                    <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                                </span>
                                <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                                </span>
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-header" style="background-color: #039BE5; padding: .35rem 1.25rem;">
                                <span style="color: white; font-size: 16px">{{"Asset Master"|translate}}</span>
                            </div>
                        </div>
                        </div>
                    <div class="row margin-top">
                        <div class="col-md-3">
                            <div class="radio radio-success">
                                <input id="yes" name="optionyes" value="A"  ng-click="radio1Click()" type="radio">
                                <label for="yes">{{"Auto Item No" |translate}}</label>
                                <input id="no" name="optionyes" value="M" ng-click="radio2Click()" type="radio" checked="checked">
                                <label for="no">{{"Manual Item No" |translate}}</label>
                            </div>
                        </div>

                        <div class="col-md-3" ng-show="auto">
                                    <label class="form-label-sm"><i class=" fa fa-sort-numeric-asc"></i>&nbsp;{{ "Item No" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                        <div ng-class="{'has-error': !myForm.txt_item_no.$valid && (myForm.txt_item_no.$touched || myForm.$submitted) }">
                                            <input name="txt_item_no" id="txt_item_no" type="text" class="k-textbox input-sm full-width" placeholder="Please enter" ng-model="edt.gam_item_no" required ng-minlength="1" ng-maxlength="60" ng-disabled="true">
                                        </div>

                                            <div class="error-container"
                                                ng-show="myForm.txt_item_no.$dirty && myForm.txt_item_no.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm.txt_item_no.$error.required &&(myForm.txt_item_no.$touched || myForm.$submitted)">Item No is required.
                                                </small>
                                            </div>
                                        </div>

                        <div class="col-md-3" ng-show="manual">
                            <label class="form-label-sm"><i class=" fa fa-sort-numeric-asc"></i>&nbsp;{{ "Item No" | translate }} <span class="asterisk" style="color: red">*</span></label>
                            <div ng-class="{'has-error': !myForm.txt_item_no.$valid && (myForm.txt_item_no.$touched || myForm.$submitted) }">
                                <input name="txt_item_no" id="txt_item_no" type="text" class="k-textbox input-sm full-width" placeholder="Please enter" ng-model="edt.gam_item_no" required ng-minlength="1" ng-maxlength="60" ng-disabled="false">
                            </div>

                            <div class="error-container"
                                 ng-show="myForm.txt_item_no.$dirty && myForm.txt_item_no.$invalid || myForm.$submitted">
                                <small class="help-block"
                                       ng-show="myForm.txt_item_no.$error.required &&(myForm.txt_item_no.$touched || myForm.$submitted)">
                                    Item No is required.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                                <div class="col-md-6">
                                    
                                    <label class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{ "Description 1" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                            
                                      
                                        <div ng-class="{'has-error': !myForm.txt_desc1.$valid && (myForm.txt_desc1.$touched || myForm.$submitted) }">
                                            <input name="txt_desc1" id="txt_desc1" type="text" class="k-textbox input-sm full-width" placeholder="Please enter" ng-model="edt.gam_desc_1" required ng-minlength="1" ng-maxlength="100" >  <!--ng-pattern="/^[a-zA-Z0-9\s-]*$/"-->
                                        </div>
                                            <div class="error-container"
                                                ng-show="myForm.txt_desc1.$dirty && myForm.txt_desc1.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm.txt_desc1.$error.required &&(myForm.txt_desc1.$touched || myForm.$submitted)">Description 1 is required.
                                                </small>
                                               <!-- <small class="help-block"
                                                    ng-show="myForm.txt_desc1.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_desc1.$touched))">Enter Valid Data
                                                </small>-->
                                            </div>
                                         
                                 
                                
                                </div>

                                <div class="col-md-6">
                                   
                                         
                                            <label class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{ "Description 2" | translate }}</label>
                                       
                                       
                                            <input name="txt_desc2" id="txt_desc2" type="text" class="k-textbox input-sm full-width" placeholder="Please enter" ng-model="edt.gam_desc_2">
                                        


                                    
                                </div>
                            </div>
                   <div class="row">
                                <div class="col-md-3">
                                    <label>{{ "Department" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                        <div ng-class="{'has-error': !myForm.cmb_dept.$valid && (myForm.cmb_dept.$touched || myForm.$submitted) }">
                                            <select id="cmb_dept" name="cmb_dept" data-role="dropdownlist" class="form-control input-sm full-width"
                                                ng-model="edt.gam_dept_code" required ng-maxlength="2" ng-minlength="1" ng-disabled="edit_data"
                                                ng-options="item2.gam_dept_code as item2.gam_dept_code_name for item2 in dept_data">
                                                <option value="">Please Select</option>
                                            </select>
                                        </div>
                                            <div class="error-container"
                                                ng-show="myForm.cmb_dept.$dirty && myForm.cmb_dept.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm.cmb_dept.$error.required &&(myForm.cmb_dept.$touched || myForm.$submitted)">Department is required.
                                                </small>
                                            </div>
                                        </div>


                                <div class="col-md-3">
                                    <label class="form-label"><i class="fa fa-bookmark"></i>&nbsp;{{ "Asset Type" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                        <div ng-class="{'has-error': !myForm.cmb_asset_type.$valid && (myForm.cmb_asset_type.$touched || myForm.$submitted) }">
                                            <select id="cmb_asset_type" name="cmb_asset_type" data-role="dropdownlist" class="form-control input-sm full-width"
                                                ng-model="edt.gam_asst_type" required ng-maxlength="2" ng-minlength="1" ng-disabled="edit_data" ng-change="getAccountNo(edt.gam_asst_type)"
                                                ng-options="item2.gam_asst_type as item2.gam_asst_type_name for item2 in assetType_data">
                                                <option value="">Please Select</option>
                                            </select>
                                        </div>
                                      
                                            <div class="error-container"
                                                ng-show="myForm.cmb_asset_type.$dirty && myForm.cmb_asset_type.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm.cmb_asset_type.$error.required &&(myForm.cmb_asset_type.$touched || myForm.$submitted)">Asset Type is required.
                                                </small>
                                            </div>
                                        </div>

                                 
                                <div class="col-md-3">
                                    <label class="form-label"><i class="fa fa-dashboard"></i>&nbsp;{{ "Account Code" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                        <div ng-class="{'has-error': !myForm.txt_accnt_code.$valid && (myForm.txt_accnt_code.$touched || myForm.$submitted) }">
                                            <input name="txt_accnt_code" id="txt_accnt_code" type="text" class="k-textbox input-sm full-width" placeholder="Please enter" required ng-model="edt.gam_acct_code" maxlength="8" ng-disabled="true" ng-pattern="/^[a-zA-Z0-9\s-]*$/">
                                      
                                            <div class="error-container"
                                                ng-show="myForm.txt_accnt_code.$dirty && myForm.txt_accnt_code.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm.txt_accnt_code.$error.required &&(myForm.txt_accnt_code.$touched || myForm.$submitted)">Address Type is required.
                                                </small>
                                                <small class="help-block" ng-show="myForm.txt_accnt_code.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_accnt_code.$touched))">Enter Valid Data
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                               

                                <div class="col-md-3">
                                    <label class="form-label"><i class="fa fa-location-arrow"></i>&nbsp;{{ "Location" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                        <div ng-class="{'has-error': !myForm.cmb_location.$valid && (myForm.cmb_location.$touched || myForm.$submitted) }">
                                            <select id="cmb_location" name="cmb_location" data-role="dropdownlist" class="form-control input-sm full-width"
                                                ng-model="edt.gam_location" required ng-maxlength="2" ng-minlength="1"
                                                ng-options="item2.gam_location as item2.gam_location_name for item2 in location_data">
                                                <option value="">Please Select</option>
                                            </select>
                                        </div>

                                            <div class="error-container"
                                                ng-show="myForm.cmb_location.$dirty && myForm.cmb_location.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm.cmb_location.$error.required &&(myForm.cmb_location.$touched || myForm.$submitted)">Location is required.
                                                </small>
                                            </div>
                                        </div>
                                    
                            </div>
                 <div class="row">

                                <div class="col-md-3" ng-class="{'has-error': !myForm.cmb_sup.$valid && (myForm.cmb_sup.$touched || myForm.$submitted) }">
                                    <label class="semi-bold" for="cmb_sup"><i class="fa fa-bookmark"></i>&nbsp;{{"Custodian"| translate }} <!--<span class="asterisk" style="color: red">*</span></label>-->
                                    <select id="cmb_sup" name="cmb_sup" class="full-width" ng-model="edt.empcode">
                                                <!--ng-options="item.glac_acct_code as item.glac_acct_name for item in accNo_data"-->
                                                <option value="">Please Select</option>
                                                <option ng-repeat="i in Custodian1" 
                                                    value="{{i.empcode}}">{{i.empname}}
                                                </option>
                                            </select>
                                       <!-- <div class="error-container"
                                            ng-show="myForm.cmb_sup.$dirty && myForm.cmb_sup.$invalid || myForm.$submitted">
                                            <small class="error"
                                                ng-show="myForm.cmb_sup.$error.required">Custodian is required.
                                            </small>
                                        </div>-->
                                    </div>
                               
                                <div class="col-md-3">
                                    <label><i class="fa fa-bookmark"></i>&nbsp;{{ "Supplier Name" | translate }} </label> 
                                        <div ng-class="{'has-error': !myForm.cmb_supp.$valid && (myForm.cmb_supp.$touched || myForm.$submitted) }"> <!--ng-class="{'has-error': !myForm.cmb_supp.$valid && (myForm.cmb_supp.$touched || myForm.$submitted) }"-->
                                            <select id="cmb_supp" name="cmb_supp" data-role="dropdownlist" class="form-control input-sm full-width"
                                                ng-model="edt.gam_supl_code" ng-options="item2.gam_supl_code as item2.gam_supl_name for item2 in sup_data">
                                                <option value="">Please Select</option>
                                            </select> <!--required-->
                                        </div>
                                    </div> 
                                            <!--<div class="error-container"
                                                ng-show="myForm.cmb_supp.$dirty && myForm.cmb_supp.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm.cmb_supp.$error.required &&(myForm.cmb_supp.$touched || myForm.$submitted)">Supplier is required.
                                                </small>
                                            </div>-->
                                        
                                   

                                <div class="col-md-3">
                                    <label class="form-label"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{ "Order No" | translate }}</label>
                                            <select id="cmb_order_no" name="cmb_order_no" data-role="dropdownlist" class="form-control input-sm full-width"
                                                ng-model="edt.gam_order_no"
                                                ng-options="item2.gam_order_no as item2.gam_order_no for item2 in order_data">
                                                <option value="">Please Select</option>
                                            </select>
                                        </div>


                                <div class="col-md-3">
                                    <label class="form-label"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{ "Inv. No." | translate }} <!--<span class="asterisk" style="color: red">*</span>--></label>
                                        <div> <!--ng-class="{'has-error': !myForm.txt_inv_no.$valid && (myForm.txt_inv_no.$touched || myForm.$submitted) }"-->
                                            <input name="txt_inv_no" id="txt_inv_no" type="text" class="k-textbox input-sm full-width" placeholder="Please enter"   ng-model="edt.gam_invoice_no" maxlength="8" ng-pattern="/^[a-zA-Z0-9\s-]*$/">
                                        </div>

                                            <!--<div class="error-container"
                                                ng-show="myForm.txt_inv_no.$dirty && myForm.txt_inv_no.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm.txt_inv_no.$error.required &&(myForm.txt_inv_no.$touched || myForm.$submitted)">Inv. No. is required.
                                                </small>
                                                <small class="help-block" ng-show="myForm.txt_inv_no.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_inv_no.$touched))">Enter Valid Data
                                                </small>
                                            </div>-->
                                        </div>

                            </div>
                 
                                 <div class="row">
                                <div class="col-md-3">
                                    <label><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{ "Page No" | translate }}</label>
                                        <div ng-class="{'has-error': !myForm.txt_pg_no.$valid && (myForm.txt_pg_no.$touched || myForm.$submitted) }">
                                            <input name="txt_pg_no" id="txt_pg_no" type="text" class="k-textbox input-sm full-width" placeholder="Please enter" ng-model="edt.gam_page_no" maxlength="6" ng-pattern="/^[0-9]{1,30}$/">
                                        </div>
                                        <div class="error-container"
                                            ng-show="myForm.txt_pg_no.$dirty && myForm.txt_pg_no.$invalid || myForm.$submitted">
                                            <small class="help-block" ng-show=" myForm.txt_pg_no.$error.pattern && (!myForm.$pristine && (myForm.$submitted||myForm.txt_pg_no.$touched))">Enter Only Digit
                                            </small>
                                        </div>
                                    </div>
                           
                                   <div class="col-md-3">
                                       <label class="form-label"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{ "Line No" | translate }}</label>
                                        <div ng-class="{'has-error': !myForm.txt_line_no.$valid && (myForm.txt_line_no.$touched || myForm.$submitted) }">
                                            <input name="txt_line_no" id="txt_line_no" type="text" class="k-textbox input-sm full-width" placeholder="Please enter" ng-model="edt.gam_line_no" maxlength="6" ng-pattern="/^[0-9]{1,30}$/">
                                        </div>
                                        <div class="error-container"
                                            ng-show="myForm.txt_line_no.$dirty && myForm.txt_line_no.$invalid || myForm.$submitted">
                                            <small class="help-block" ng-show=" myForm.txt_line_no.$error.pattern && (!myForm.$pristine && (myForm.$submitted||myForm.txt_line_no.$touched))">Enter Only Digit
                                            </small>
                                        </div>

                                    </div>
                               

                                <div class="col-md-3">
                                    <label class="form-label"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{ "Quantity" | translate }}</label>
                                        <div ng-class="{'has-error': !myForm.txt_quantity.$valid && (myForm.txt_quantity.$touched || myForm.$submitted) }">
                                            <input name="txt_quantity" id="txt_quantity" type="text" class="k-textbox input-sm full-width" placeholder="Please enter" ng-model="edt.gam_quantity" maxlength="15" ng-maxlength="15" ng-pattern="/^[0-9]{1,12}(\.[0-9]+)?$/">
                                        </div>
                                        <div class="error-container"
                                            ng-show="myForm.txt_quantity.$dirty && myForm.txt_quantity.$invalid || myForm.$submitted">
                                            <small class="help-block" ng-show="myForm.txt_quantity.$error.maxlength && (!myForm.$pristine && myForm.$submitted)">length should be 15 
                                            </small>
                                            <small class="help-block" ng-show="myForm.txt_quantity.$error.pattern && (!myForm.$pristine && myForm.$submitted)">Quantity should be number and 2 digit
                                            </small>
                                        </div>
                                    </div>
                               
                                <div class="col-md-3">
                                    <label><i class="fa fa-money"></i>&nbsp;{{ "Inv. Amt." | translate }}</label>
                                        <div ng-class="{'has-error': !myForm.txt_inv_amt.$valid && (myForm.txt_inv_amt.$touched || myForm.$submitted) }">
                                            <input name="txt_inv_amt" id="txt_inv_amt" type="text" class="k-textbox input-sm full-width" placeholder="Please enter" ng-model="edt.gam_invoice_amount" ng-maxlength="18" step="0.01" ng-pattern="/^[0-9]{1,14}(\.[0-9]+)?$/">
                                        </div>
                                        <div class="error-container"
                                            ng-show="myForm.txt_inv_amt.$dirty && myForm.txt_inv_amt.$invalid || myForm.$submitted">
                                            <small class="help-block" ng-show="myForm.txt_inv_amt.$error.maxlength && (!myForm.$pristine && myForm.$submitted)">length should be 18 
                                            </small>
                                            <small class="help-block" ng-show="myForm.txt_inv_amt.$error.pattern && (!myForm.$pristine && myForm.$submitted)">Inv. Amt. should be number and 3 digit
                                            </small>
                                        </div>
                                    </div>
                        </div>

           <div class="row">

                                <div class="col-md-3">
                                    <label class="form-label"><i class="fa fa-calendar"></i>&nbsp;{{ "Receipt Date" | translate }}</label>
                                           <!-- <div class="col-md-4 no-padding" style="width: auto">-->
                                                <input  id="dp_recdate" placeholder="Select Date" name="dp_recdate" class="k-textbox input-sm full-width" ng-model="edt.gam_receipt_date">
                                                <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                            </div>

                                <div class="col-md-3">
                                    <label class="form-label"><i class="fa fa-money"></i>&nbsp;{{ "Val. Asst. Cum" | translate }}</label>
                                        <div ng-class="{'has-error': !myForm.txt_val_asst.$valid && (myForm.txt_val_asst.$touched || myForm.$submitted) }">
                                            <input name="txt_val_asst" id="txt_val_asst" type="text" class="k-textbox input-sm full-width" placeholder="Please enter" ng-maxlength="18" ng-model="edt.gam_val_add_cum" ng-pattern="/^[0-9]{1,14}(\.[0-9]+)?$/">
                                        </div>
                                        
                                            <div class="error-container"
                                                ng-show="myForm.txt_val_asst.$dirty && myForm.txt_val_asst.$invalid || myForm.$submitted">
                                                <small class="help-block" ng-show="myForm.txt_val_asst.$error.maxlength && (!myForm.$pristine && myForm.$submitted)">length should be 18 Digit
                                                </small>
                                                <small class="help-block" ng-show="myForm.txt_val_asst.$error.pattern && (!myForm.$pristine && myForm.$submitted)">Value should be number and 3 digit
                                                </small>
                                            </div>
                                        </div>

                                <div class="col-md-3">
                                    <label><i class="fa fa-money"></i>&nbsp;{{ "Val. Asst. MTH+" | translate }}</label>
                                        <div ng-class="{'has-error': !myForm.txt_val_mth.$valid && (myForm.txt_val_mth.$touched || myForm.$submitted) }">
                                            <input name="txt_val_mth" id="txt_val_mth" type="text" class="k-textbox input-sm full-width" placeholder="Please enter" ng-model="edt.gam_val_add_mtd" ng-maxlength="18" ng-pattern="/^[0-9]{1,14}(\.[0-9]+)?$/">
                                        </div>
                                       
                                            <div class="error-container"
                                                ng-show="myForm.txt_val_mth.$dirty && myForm.txt_val_mth.$invalid || myForm.$submitted">
                                                <small class="help-block" ng-show="myForm.txt_val_mth.$error.maxlength && (!myForm.$pristine && myForm.$submitted)">length should be 18 Digit
                                                </small>
                                                <small class="help-block" ng-show="myForm.txt_val_mth.$error.pattern && (!myForm.$pristine && myForm.$submitted)">Value should be number and 3 digit
                                                </small>
                                            </div>
                                        </div>
                                  

                                <div class="col-md-3">
                                    <label><i class="fa fa-money"></i>&nbsp;{{ "Val. Asst. YR+" | translate }}</label>
                                        <div ng-class="{'has-error': !myForm.txt_val_yr.$valid && (myForm.txt_val_yr.$touched || myForm.$submitted) }">
                                            <input name="txt_val_yr" id="txt_val_yr" type="text" class="k-textbox input-sm full-width" placeholder="Please enter" ng-model="edt.gam_val_add_ytd" ng-maxlength="18" ng-pattern="/^[0-9]{1,14}(\.[0-9]+)?$/">
                                        </div>
                                       
                                            <div class="error-container"
                                                ng-show="myForm.txt_val_yr.$dirty && myForm.txt_val_yr.$invalid || myForm.$submitted">
                                                <small class="help-block" ng-show="myForm.txt_val_yr.$error.maxlength && (!myForm.$pristine && myForm.$submitted)">length should be 18 Digit
                                                </small>
                                                <small class="help-block" ng-show="myForm.txt_val_yr.$error.pattern && (!myForm.$pristine && myForm.$submitted)">Value should be number and 3 digit
                                                </small>
                                            </div>
                                        </div>


                            </div>
    
                       <div class="row">

                                <div class="col-md-3">
                                    <label><i class="fa fa-money"></i>&nbsp;{{ "NBV" | translate }}</label>
                                        <div ng-class="{'has-error': !myForm.txt_nbv.$valid && (myForm.txt_nbv.$touched || myForm.$submitted) }">
                                            <input name="txt_nbv" id="txt_nbv" type="text" class="k-textbox input-sm full-width" placeholder="Please enter" ng-model="edt.gam_book_value" ng-maxlength="18" ng-pattern="/^[0-9]{1,14}(\.[0-9]+)?$/">
                                        </div>

                                            <div class="error-container"
                                                ng-show="myForm.txt_nbv.$dirty && myForm.txt_nbv.$invalid || myForm.$submitted">
                                                <small class="help-block" ng-show="myForm.txt_nbv.$error.maxlength && (!myForm.$pristine && myForm.$submitted)">length should be 18 Digit
                                                </small>
                                                <small class="help-block" ng-show="myForm.txt_nbv.$error.pattern && (!myForm.$pristine && myForm.$submitted)">Value should be number and 3 digit
                                                </small>
                                            </div>
                                        </div>
                                   

                                <div class="col-md-3">
                                    <label><i class="fa fa-money"></i>&nbsp;{{ "Cum. Depr." | translate }}</label>
                                        <div ng-class="{'has-error': !myForm.txt_cum_depr.$valid && (myForm.txt_cum_depr.$touched || myForm.$submitted) }">
                                            <input name="txt_cum_depr" id="txt_cum_depr" type="text" class="k-textbox input-sm full-width" placeholder="Please enter" ng-model="edt.gam_cum_deprn" ng-maxlength="18" ng-pattern="/^[0-9]{1,14}(\.[0-9]+)?$/">
                                        </div>

                                            <div class="error-container"
                                                ng-show="myForm.txt_cum_depr.$dirty && myForm.txt_cum_depr.$invalid || myForm.$submitted">
                                                <small class="help-block" ng-show="myForm.txt_cum_depr.$error.maxlength && (!myForm.$pristine && myForm.$submitted)">length should be 18 Digit
                                                </small>
                                                <small class="help-block" ng-show="myForm.txt_cum_depr.$error.pattern && (!myForm.$pristine && myForm.$submitted)">Value should be number and 3 digit
                                                </small>
                                            </div>
                                        </div>
                                   

                                <div class="col-md-3">
                                    <label><i class="fa fa-money"></i>&nbsp;{{ "YRLY. Depr." | translate }}</label>
                                        <div ng-class="{'has-error': !myForm.txt_yrly_depr.$valid && (myForm.txt_yrly_depr.$touched || myForm.$submitted) }">
                                            <input name="txt_yrly_depr" id="txt_yrly_depr" type="text" class="k-textbox input-sm full-width" placeholder="Please enter" ng-model="edt.gam_ytd_deprn" ng-maxlength="18" ng-pattern="/^[0-9]{1,14}(\.[0-9]+)?$/">
                                        </div>

                                            <div class="error-container"
                                                ng-show="myForm.txt_yrly_depr.$dirty && myForm.txt_yrly_depr.$invalid || myForm.$submitted">
                                                <small class="help-block" ng-show="myForm.txt_yrly_depr.$error.maxlength && (!myForm.$pristine && myForm.$submitted)">length should be 18 Digit
                                                </small>
                                                <small class="help-block" ng-show="myForm.txt_yrly_depr.$error.pattern && (!myForm.$pristine && myForm.$submitted)">Value should be number and 3 digit
                                                </small>
                                            </div>
                                        </div>
                                
                                <div class="col-md-3">
                                    <label><i class="fa fa-money"></i>&nbsp;{{ "MTH. Depr." | translate }}</label>
                                        <div ng-class="{'has-error': !myForm.txt_mth_depr.$valid && (myForm.txt_mth_depr.$touched || myForm.$submitted) }">
                                            <input name="txt_mth_depr" id="txt_mth_depr" type="text" class="k-textbox input-sm full-width" placeholder="Please enter" ng-model="edt.gam_mth_deprn" ng-maxlength="18" ng-pattern="/^[0-9]{1,14}(\.[0-9]+)?$/">
                                        </div>
                                        
                                            <div class="error-container"
                                                ng-show="myForm.txt_mth_depr.$dirty && myForm.txt_mth_depr.$invalid || myForm.$submitted">
                                                <small class="help-block" ng-show="myForm.txt_mth_depr.$error.maxlength && (!myForm.$pristine && myForm.$submitted)">length should be 18 Digit
                                                </small>
                                                <small class="help-block" ng-show="myForm.txt_mth_depr.$error.pattern && (!myForm.$pristine && myForm.$submitted)">Value should be number and 3 digit
                                                </small>
                                            </div>
                                        </div>
                            </div>
        

                            <div class="row">

                                <div class="col-md-3">
                                    <label><i class="fa fa-money"></i>&nbsp;{{ "Sale Value" | translate }}</label>
                                        <div ng-class="{'has-error': !myForm.txt_sale_value.$valid && (myForm.txt_sale_value.$touched || myForm.$submitted) }">
                                            <input name="txt_sale_value" id="txt_sale_value" type="text" class="k-textbox input-sm full-width" placeholder="Please enter" ng-model="edt.gam_sale_value" ng-maxlength="18" ng-pattern="/^[0-9]{1,14}(\.[0-9]+)?$/">
                                        </div>
                                            <div class="error-container"
                                                ng-show="myForm.txt_sale_value.$dirty && myForm.txt_sale_value.$invalid || myForm.$submitted">
                                                <small class="help-block" ng-show="myForm.txt_sale_value.$error.maxlength && (!myForm.$pristine && myForm.$submitted)">length should be 18 Digit
                                                </small>
                                                <small class="help-block" ng-show="myForm.txt_sale_value.$error.pattern && (!myForm.$pristine && myForm.$submitted)">Value should be number and 3 digit
                                                </small>
                                            </div>
                                        </div>


                                <div class="col-md-3">
                                    <label><i class="fa fa-money"></i>&nbsp;{{ "Replacement Cost" | translate }}</label>
                                        <div ng-class="{'has-error': !myForm.txt_replace_cost.$valid && (myForm.txt_replace_cost.$touched || myForm.$submitted) }">
                                            <input name="txt_replace_cost" id="txt_replace_cost" type="text" class="k-textbox input-sm full-width" placeholder="Please enter" ng-model="edt.gam_repl_cost" ng-maxlength="18" ng-pattern="/^[0-9]{1,14}(\.[0-9]+)?$/">
                                        </div>
                                            <div class="error-container"
                                                ng-show="myForm.txt_replace_cost.$dirty && myForm.txt_replace_cost.$invalid || myForm.$submitted">
                                                <small class="help-block" ng-show="myForm.txt_replace_cost.$error.maxlength && (!myForm.$pristine && myForm.$submitted)">length should be 18 Digit
                                                </small>
                                                <small class="help-block" ng-show="myForm.txt_replace_cost.$error.pattern && (!myForm.$pristine && myForm.$submitted)">Value should be number and 3 digit
                                                </small>
                                            </div>
                                        </div>


                                <div class="col-md-3">
                                    <label><i class="fa fa-calendar"></i>&nbsp;{{ "Sale Date" | translate }}</label>
                                           <!-- <div class="col-md-4 no-padding" style="width: auto">-->
                                                <input type="text" id="dp_sale_date" placeholder="Select Date" name="dp_recdate" class="k-textbox input-sm full-width" ng-model="edt.gam_sale_date">
                                                <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                            </div>
                                   

                                <div class="col-md-3">
                                    <label><i class="fa fa-calendar"></i>&nbsp;{{ "Entry Date" | translate }}<!-- <span class="asterisk" style="color: red">*</span>--></label>
                                        <div>    <!--ng-class="{'has-error': !myForm.dp_entry_date.$valid && (myForm.dp_entry_date.$touched || myForm.$submitted) }"-->
                                            <!--<div class="col-md-4 no-padding" style="width: auto">-->
                                                <input type="text" id="dp_entry_date" placeholder="Select Date" name="dp_entry_date"  class="k-textbox input-sm full-width" ng-model="edt.gam_entry_date">
                                                <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                            </div> <!--required-->
                                        
                                            <!--<div class="error-container"
                                                ng-show="myForm.dp_entry_date.$dirty && myForm.dp_entry_date.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm.dp_entry_date.$error.required &&(myForm.dp_entry_date.$touched || myForm.$submitted)">Entry Date is required.
                                                </small>
                                            </div>-->
                                        </div>

                            </div>
                      
                            <div class="row">
                                <div class="col-md-3">
                                    <label><i class="fa fa-calendar"></i>&nbsp;{{ "Amend Date" | translate }}</label>
                                            <!--<div class="date col-md-4 no-padding" style="width: auto">-->
                                                <input type="text" id="dp_amend_date" placeholder="Select Date" name="dp_amend_date" class="k-textbox input-sm full-width" ng-model="edt.gam_amend_date">
                                                <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                            </div>

                                <div class="col-md-3">
                                    <label><i class="fa fa-money"></i>&nbsp;{{ "Depr. %" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                        <div ng-class="{'has-error': !myForm.txt_depr.$valid && (myForm.txt_depr.$touched || myForm.$submitted) }">
                                            <input name="txt_depr" id="txt_depr" type="text" class="k-textbox input-sm full-width" placeholder="Please enter" ng-model="edt.gam_deprn_percent"  ng-pattern="/^[0-9]{1,3}(\.[0-9]+)?$/" required>
                                        </div>
                                        <div class="error-container"
                                            ng-show="myForm.txt_depr.$dirty && myForm.txt_depr.$invalid || myForm.$submitted">
                                            <small class="help-block"
                                                ng-show="myForm.txt_depr.$error.required &&(myForm.txt_depr.$touched || myForm.$submitted)">Depr. % is required.
                                            </small>
                                            <small class="help-block" ng-show="myForm.txt_depr.$error.maxlength && (!myForm.$pristine && myForm.$submitted)">Max length 3 Digit only
                                            </small>
                                            <small class="help-block" ng-show="myForm.txt_depr.$error.pattern && (!myForm.$pristine && myForm.$submitted)">Value should be Number
                                            </small>
                                        </div>


                                    </div>
                              
                                <div class="col-md-3">
                                    <label><i class="fa fa-bookmark"></i>&nbsp;{{ "Status" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                        <div ng-class="{'has-error': !myForm.cmb_status.$valid && (myForm.cmb_status.$touched || myForm.$submitted) }">
                                            <select id="cmb_status" name="cmb_status" data-role="dropdownlist" class="form-control input-sm full-width"
                                                ng-model="edt.gam_status_code" ng-maxlength="2" ng-minlength="1"
                                                ng-options="item3.gam_status_code as item3.gam_status_name for item3 in status_data" required>
                                                <option value="">Please Select</option>
                                            </select>
                                        </div>
                                            <div class="error-container"
                                                ng-show="myForm.cmb_status.$dirty && myForm.cmb_status.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm.cmb_status.$error.required &&(myForm.cmb_status.$touched || myForm.$submitted)">Status is required.
                                                </small>
                                            </div>
                                        </div>
                                    

                                <div class="col-md-3">
                                    <label class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{ "New Section" | translate }}</label>
                                        <div ng-class="{'has-error': !myForm.txt_new_sec.$valid && (myForm.txt_new_sec.$touched || myForm.$submitted) }">
                                            <input name="txt_new_sec" id="txt_new_sec" type="text" class="k-textbox input-sm full-width" placeholder="Please enter" ng-model="edt.gam_new_sec" maxlength="1" ng-pattern="/^[a-zA-Z0-9\s-]*$/">
                                        </div>
                                            <div class="error-container"
                                                ng-show="myForm.txt_new_sec.$dirty && myForm.txt_new_sec.$invalid || myForm.$submitted">

                                                <small class="help-block" ng-show="myForm.txt_new_sec.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_new_sec.$touched))">Enter Valid Data
                                                </small>
                                            </div>
                                        </div>
                                  
                            </div>
                       

            <div class="row">
                <div class="col-md-12">
                    <div class="form-actions">
                        <div class="pull-right">
                            <button class="btn btn-primary btn-small" type="submit" ng-show="save1">{{ "Submit" | translate }}</button>
                            <button class="btn btn-primary btn-small" type="submit" ng-show="update1" >{{ "Update" | translate }}</button>
                            <button class="btn btn-danger btn-small" type="button" ng-click="cancel()">{{ "Cancel" | translate }}</button>
                        </div>
                    </div>
                    </div>
            </div>
                </form>

                     </div></div>
            </div>

            <div ng-show="grid">

                  <div class="raw ">
                 <div  class="paddingcode grid-body bluegrd ">        
                
                 <div class="col-md-12 ">
                        <div class="col-md-3">
                            <label><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Item No/Name"|translate}}</label>
                            <input type="text" aria-controls="example" placeholder="Item No/Name" ng-model="edt.gam_item_no" class="k-textbox input-sm full-width" />
                        </div>

                        <div class="col-md-3">
                            <label><i class="fa fa-bookmark"></i>&nbsp;{{"Asset Type"|translate}}</label>
                            <!--<select id="cmb_Request_type" data-role="dropdownlist" class="form-control input-sm full-width" name="user" ng-model="edt.gam_asst_type">
                                <option value="" selected disabled>Please Select</option>
                                <option ng-repeat="gb in assetType_data" value="{{gb.gam_asst_type}}">{{gb.gam_asst_type_name}}</option>
                            </select>-->
                             <select id="cmb_Request_type" name="user" data-role="dropdownlist" class="form-control" ng-model="edt.gam_asst_type" required
                                        ng-options="doc.gam_asst_type as doc.gam_asst_type_name for doc in assetType_data">
                                        <!--<option value="" selected disabled>Please select</option>
                                        <option class="form-control input-sm" ng-repeat="cur in curriculum" value="{{cur.sims_cur_code}}">{{cur.sims_cur_short_name_en}}</option>-->
                                    </select>
                        </div>

                        <div class="col-md-3">
                            <label>&nbsp;</label>
                            <button class="btn btn-primary btn-small" type="button" ng-click="search_type(edt.gam_asst_type)">{{ "Search" | translate }}</button>
                          &nbsp;
                                <button class="btn btn-success btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"|translate}}</button>
                            &nbsp;
                                <button class="btn btn-danger btn-small" type="button" ng-click="Delete()"><span class="semi-bold"></span>{{"Delete"|translate}}</button>
                        </div>
</div></div></div>

                     <div>

             <div  class="paddingcode grid-body no-border">
                     
                 <div class="col-md-12" style="background: white;">
                 <!-- -->
                      <div class="col-md-6">
                            <!--<label>&nbsp;</label>-->
                            <select id="Select2" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                <option value="10" class=" form-control input-sm">10
                                </option>

                                <option value="20" class=" form-control input-sm">20
                                </option>

                                <option value="All" class=" form-control input-sm">All
                                </option>
                            </select>
                          
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                               <!-- <label>Search:&nbsp;</label>
                                <div class="dataTables_filter" id="example_filter">
                                    <input type="text" aria-controls="example" ng-model="search.$" class="k-textbox">
                                </div>-->
                                <!--<label>&nbsp;</label>-->
                                  <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search ..."  class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                        </div>

                     


                <div id="example_wrapper" class="dataTables_wrapper form-inline" ng-show="grid1">
                   <div style="width: 100%; height: auto; overflow-x: scroll; overflow-y: hidden">
                        <!--  <table class="table table-hover table-striped  no-more-tables">-->
                    <div>
                        <div class="col-md-12">
                        <table class="table  table-bordered  table-condensed dataTable" id="example">
                            <thead>
                                <tr style="background-color: #e9e4e4">

                                    <th class="small-cell v-align-middle">
                                        <div class="checkbox check-success">
                                            <input type="checkbox" name="check" value="1" id="mainchk" ng-click="CheckAllChecked();">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>
                                    <!--  <td>&nbsp;</td>-->
                                    <th><b>{{"Action"| translate }}</b></th>
                                    <th><b>{{"Comp"| translate }}</b></th>
                                    <th><b>{{"Dept"| translate }}</b></th>
                                    <th><b>{{"Asset Type"| translate }}</b></th>
                                    <th><b>{{"Item No"| translate }}</b></th>

                                    <th class="semi-bold" ng-click="sortBy('gam_desc_1')">{{"Description 1"| translate }}
                                     <span class="sortorder" ng-show="propertyName === 'gam_desc_1'" ng-class="{reverse: reverse}"></span>
                                    </th>

                                  
                                    <th><b>{{"Quantity"| translate }}</b></th>
                                    <th><b>{{"Inv. Amt."| translate }}</b></th>
                                    <th><b>{{"Cur. Depr"| translate }}</b></th>
                                    <th><b>{{"NBV"| translate }}</b></th>
                                    <th><b>{{"Status"| translate }}</b></th>
                                    <th><b>{{"Mth. Depr."| translate }}</b></th>
                                    <th><b>{{"Yrly. Dept."| translate }}</b></th>
                                    <th><b>{{"Val. Asst. Cum."| translate }}</b></th>
                                    <th><b>{{"Val. Asst. MTH+"| translate }}</b></th>
                                    <th><b>{{"Val. Asst. YR.+"| translate }}</b></th>
                                    <th><b>{{"Sale Value"| translate }}</b></th>
                                    <th><b>{{"Replacement Cost"| translate }}</b></th>
                                    <th><b>{{"Account Code"| translate }}</b></th>
                                    <th><b>{{"Order No."| translate }}</b></th>
                                    <th><b>{{"Inv. No."| translate }}</b></th>
                                    <th><b>{{"Receipt Date"| translate }}</b></th>
                                    <th><b>{{"Sale Date"| translate }}</b></th>
                                    <th><b>{{"Entry Date"| translate }}</b></th>
                                    <th><b>{{"Amend Date"| translate }}</b></th>
                                    <th><b>{{"New Section"| translate }}</b></th>
                                    <th><b>{{"Page No."| translate }}</b></th>
                                    <th><b>{{"Line No."| translate }}</b></th>
                                    <th><b>{{"Depr. %"| translate }}</b></th>
                                    <th><b>{{"Used On Item"| translate }}</b></th>
                                    <th><b>{{"Location"| translate }}</b></th>
                                    <th><b>{{"Description 2"| translate }}</b></th>
                                    <th><b>{{"Supplier Name"| translate }}</b></th>

                                </tr>
                            </thead>
                            <tbody>


                                <tr ng-repeat="mod in filteredTodos |orderBy:propertyName:reverse" ng-class="row1">
                                    <td>
                                        <div class="checkbox check-success" style="height: 20px">
                                            <input type="checkbox" name="check" value="1" id="asset-{{$index}}" ng-click="checkonebyonedelete()">
                                            <label for="asset-{{$index}}">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <a><i class="fa fa-edit" ng-click="edit(mod)"></i></a>
                                    </td>
                                    <td>
                                        <div>{{mod.gam_comp_code}}</div>
                                    </td>
                                    <td>
                                        <div>{{mod.gam_dept_code_name}}</div>
                                    </td>
                                    <td>
                                        <div>{{mod.gam_asst_type_name}}</div>
                                    </td>
                                    <td>
                                        <div>{{mod.gam_item_no}}</div>
                                    </td>
                                    <td>
                                        <div>{{mod.gam_desc_1}}</div>
                                    </td>
                                    <td>
                                        <div>{{mod.gam_quantity}}</div>
                                    </td>
                                    <td>
                                        <div>{{mod.gam_invoice_amount}}</div>
                                    </td>
                                    <td>
                                        <div>{{mod.gam_cum_deprn}}</div>
                                    </td>
                                    <td>
                                        <div>{{mod.gam_book_value}}</div>
                                    </td>
                                    <td>
                                        <div>{{mod.gam_status_name}}</div>
                                    </td>
                                    <td>
                                        <div>{{mod.gam_mth_deprn}}</div>
                                    </td>
                                    <td>
                                        <div>{{mod.gam_ytd_deprn}}</div>
                                    </td>
                                    <td>
                                        <div>{{mod.gam_val_add_cum}}</div>
                                    </td>
                                    <td>
                                        <div>{{mod.gam_val_add_mtd}}</div>
                                    </td>

                                    <td>
                                        <div>{{mod.gam_val_add_ytd}}</div>
                                    </td>
                                    <td>
                                        <div>{{mod.gam_sale_value}}</div>
                                    </td>
                                    <td>
                                        <div>{{mod.gam_repl_cost}}</div>
                                    </td>
                                    <td>
                                        <div>{{mod.gam_acct_code}}</div>
                                    </td>
                                    <td>
                                        <div>{{mod.gam_order_no}}</div>
                                    </td>
                                    <td>
                                        <div>{{mod.gam_invoice_no}}</div>
                                    </td>
                                    <td>
                                        <div>{{mod.gam_receipt_date}}</div>
                                    </td>
                                    <td>
                                        <div>{{mod.gam_sale_date}}</div>
                                    </td>
                                    <td>
                                        <div>{{mod.gam_entry_date}}</div>
                                    </td>
                                    <td>
                                        <div>{{mod.gam_amend_date}}</div>
                                    </td>
                                    <td>
                                        <div>{{mod.gam_new_sec}}</div>
                                    </td>
                                    <td>
                                        <div>{{mod.gam_page_no}}</div>
                                    </td>
                                    <td>
                                        <div>{{mod.gam_line_no}}</div>
                                    </td>
                                    <td>
                                        <div>{{mod.gam_deprn_percent}}</div>
                                    </td>
                                    <td>
                                        <div>{{mod.gam_used_on_item}}</div>
                                    </td>
                                    <td>
                                        <div>{{mod.gam_location_name}}</div>
                                    </td>
                                    <td>
                                        <div>{{mod.gam_desc_2}}</div>
                                    </td>
                                    <td>
                                        <div>{{mod.gam_supl_name}}</div>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                        </div>
                       </div>
                    <div class="row" ng-show="pager">
                        <div class="col-md-12">
                    <div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                            ng-click="index(currentPage)">
                                </paging>
                    </div>
                            </div>
                        </div>
                </div>
                 </div></div></div>
            </div>
        
    </div>
</div>

</div>
<script src="assets/js/calender-datepicker-id.js"></script>


