﻿<style>
    .sortorder:after {
        content: '\25b2';
    }

    .sortorder.reverse:after {
        content: '\25bc';
    }

    .k-textbox .k-icon {
        top: 50%;
        margin: -9px -9px 0;
        position: absolute;
    }
</style>
<script src="assets/plugins/fileSaver.js"></script>
<script src="https://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.12/xlsx.core.min.js"></script>


<div class="loading-middle" ng-hide="display">
    <img src="loading.gif" />
</div>






<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Bank Reconciliation View" | translate }}</span></h3>
            </div>

            <div class="grid-body no-border p-t-5">
                <div class="row">

                    <div class="col-lg-2 col-md-3">
                        <label id="Label1" for="txt_account_Code" class="form-label">{{"Ledger Account"| translate }}</label>
                        <select name="DocCode_jv" id="Cmb_Doc_Code" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="block1.gltd_doc_code" class="form-control input-sm full-width" data-role="dropdownlist"
                                ng-options="LedgerCode.gltd_doc_code as LedgerCode.gltd_doc_code for LedgerCode in getLedgCode">
                            <option value="" selected>Select Ledger Ac</option>
                        </select>
                    </div>

                    <div class="col-lg-3 col-md-3">
                        <label id="Label14" class="form-label">{{"Account"| translate }}</label>
                        <select id="cmb_acc_Code3" class="full-width" ng-model="block1.gldd_acct_code" ng-change="FetchOPBal(block1.gldd_acct_code)"
                                ng-options="AccountCode.gldd_acct_code as AccountCode.gldd_acct_name for AccountCode in getAllAccNos" name="AccountCode"></select>
                    </div>

                    <!--Cost Center Account-->
                    <div class="col-md-1" ng-show="chkcost">
                        <label id="Label12" for="txt_Status" class="form-label">{{"Cost Center"| translate }}</label>
                        <div class="checkbox check-success">
                            <input id="chk_term4" type="checkbox" class="k-checkbox" ng-model="temp.cost_chk" ng-click="cost_center(temp.cost_chk)">
                            <label for="chk_term4"></label>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3" ng-show="cost_combo">
                        <label id="Label13" for="txt_account_Code" class="form-label">{{"Cost Center Name"| translate }}</label>
                        <select id="costCenter" class="form-control input-sm full-width" data-role="dropdownlist"
                                ng-model="block1.glco_cost_centre_code"
                                ng-options="AccountCode.glco_cost_centre_code as AccountCode.coce_cost_centre_name for AccountCode in costcenter" name="CostCenter"></select>
                    </div>

                    <div class="col-lg-2 col-md-2">
                        <label id="Label2" for="txt_account_Code" class="form-label">{{"From Date"| translate }}</label>
                        <!--<div class="input-append success date">-->
                        <input type="text" id="from_date" name="from_date" placeholder="From Date" name="creation_date" class="k-textbox input-sm full-width" ng-model="block1.from_date">

                        <!--                    </div>-->
                    </div>

                    <div class="col-lg-2 col-md-2">
                        <label id="Label3" for="txt_account_Code" class="form-label">{{"To Date"| translate }}</label>
                        <!--<div class="input-append success date">-->
                        <input type="text" id="to_date" name="to_date" placeholder="To Date" name="creation_date" class="k-textbox input-sm full-width" ng-model="block1.to_date">
                        <!--</div>-->
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label id="Label4" for="txt_Status" class="form-label">{{"Cleared Transaction"| translate }}</label>
                        <div class="checkbox check-success">
                            <input id="txt_trans" type="checkbox" class="k-checkbox" ng-model="" ng-checked="true">
                            <label for="txt_trans"></label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label id="Label5" for="txt_Status" class="form-label">{{"Transaction Pending"| translate }}</label>
                        <div class="checkbox check-success">
                            <input id="txt_pend" type="checkbox" class="k-checkbox" ng-model="" ng-checked="true">
                            <label for="txt_pend"></label>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <label id="Label6" for="txt_account_Code" class="form-label">{{"Effective Date"| translate }}</label>
                        <!--<div class="input-append success date">-->
                        <input type="text" id="effective_date" name="effective_date" placeholder="Effective Date" name="creation_date" class="k-textbox input-sm full-width" ng-model="">
                        <!--</div>-->
                    </div>
                    <div class="col-md-5">
                        <label>&nbsp;</label>
                        <div class="pull-right">
                            <button type="submit" id="desigsub" ng-click="getViewDetails()" class="btn btn-primary btn-small">{{"View Details" | translate }}</button>
                            <button type="button" id="Button1" ng-click="exportStaffResigned()" class="btn btn-warning btn-small">{{"Export" | translate }}</button>
                            <button type="button" id="Button2" ng-click="printStaffResigned('fixTable1')" class="btn btn-success btn-small">{{"Print" | translate }}</button>&nbsp;
                            <button type="button" id="Button3" ng-click="saveStaffResigned()" class="btn btn-danger btn-small">{{"Save" | translate }}</button>
                            <button type="button" id="Button4" ng-click="clearStaffResigned()" class="btn btn-primary btn-small">{{"Clear" | translate }}</button>
                        </div>
                    </div>
                </div>

                    <!-- Modal content-->
                    <div class="row">
                        <div class="col-md-12">
                            <hr style="height: 6px; border: none; color: orange; background-color: burlywood;">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="pull-left">
                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" placeholder="Search" class="k-textbox input-sm full-width" ng-model="searchText_vry.$" />
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="" ng-show="tble_show">

                        <div id="example_wrapper" class="dataTables_wrapper form-inline">
                            <div class="row margin-top" id="printdata3">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-condensed" id="fixTable1" border="0">
                                        <thead style="background-color: #edefef !important;">
                                        </thead>
                                        <tbody>
                                            <tr style="background-color: #edefef !important;">
                                                <th>{{"Sr.No"| translate }}</th>
                                                <th class="small-cell v-align-middle" style="z-index:1">
                                                    <div class="checkbox check-success">
                                                        <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                                        <label for="mainchk"></label>
                                                    </div>
                                                </th>
                                                <th style="width: 100px" ng-click="sortBy('gltr_doc_date')">
                                                    {{"Post Date"| translate }}
                                                    <span class="sortorder" ng-show="propertyName === 'gltr_doc_date'" ng-class="{reverse: reverse}"></span>
                                                </th>
                                                <th ng-click="sortBy('gltr_doc_code')">
                                                    {{"Doc Code"| translate }}
                                                    <span class="sortorder" ng-show="propertyName === 'gltr_doc_code'" ng-class="{reverse: reverse}"></span>
                                                </th>
                                                <th>{{"Doc No"| translate }}</th>
                                               
                                                <th ng-click="sortBy('gltr_doc_narr')">
                                                    {{"Desc/Narration"| translate }}
                                                    <span class="sortorder" ng-show="propertyName === 'gltr_doc_narr'" ng-class="{reverse: reverse}"></span>
                                                </th>
                                                <th ng-click="sortBy('gltr_dr_amount')">
                                                    {{"Debit"| translate }}
                                                    <span class="sortorder" ng-show="propertyName === 'gltr_dr_amount'" ng-class="{reverse: reverse}"></span>
                                                </th>
                                                <th ng-click="sortBy('gltr_cr_amount')">
                                                    {{"Credit"| translate }}
                                                    <span class="sortorder" ng-show="propertyName === 'gltr_cr_amount'" ng-class="{reverse: reverse}"></span>
                                                </th>
                                                <th style="width: 100px" ng-click="sortBy('gltr_doc_date')">
                                                    {{"Effective Date"| translate }}
                                                    <span class="sortorder" ng-show="propertyName === 'gltr_doc_date'" ng-class="{reverse: reverse}"></span>
                                                </th>
                                                <th style="width: 100px" ng-click="sortBy('gltr_doc_date')">
                                                    {{"Month"| translate }}
                                                    <span class="sortorder" ng-show="propertyName === 'gltr_doc_date'" ng-class="{reverse: reverse}"></span>
                                                </th>
                                                <th style="width: 100px" ng-click="sortBy('gltr_doc_date')">
                                                    {{"Year"| translate }}
                                                    <span class="sortorder" ng-show="propertyName === 'gltr_doc_date'" ng-class="{reverse: reverse}"></span>
                                                </th>
                                            </tr>



                                            <tr ng-repeat="v_data in trans_data |orderBy:propertyName:reverse" ng-dblclick="Fetchdata(v_data.gltr_comp_code,v_data.gltr_doc_code,v_data.gltr_our_doc_no)">
                                      
                                                <td>{{$index+1}}</td>
                                                <td>
                                                    <div class="row-fluid">
                                                        <div class="checkbox check-success" style="height: 20px">
                                                            <input id="{{$index+v_data.gltr_doc_code}}" type="checkbox" value="1" ng-click="checkonebyonedelete()">
                                                            <label for="{{$index+v_data.gltr_doc_code}}"></label>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>{{v_data.gltr_post_date}}</td>
                                                <td>{{v_data.gltr_doc_code}}</td>
                                                <th>{{v_data.gltr_our_doc_no}}</th>
                                                <td>{{v_data.gltr_doc_narr}}</td>
                                                <td style="text-align:right">{{v_data.gltr_dr_amount | currency:'':2}}</td>
                                                <td style="text-align:right">{{v_data.gltr_cr_amount | currency:'':2}}</td>
                                                <td>{{v_data.gltr_post_date}}</td>
                                                <td>{{v_data.gltr_post_date}}</td>
                                                <td>{{v_data.gltr_post_date}}</td>
                                            </tr>
                                            
                                            <!--<tr>

                                                <td colspan="8">&nbsp;</td>
                                                <td>Total</td>
                                                <td style="text-align:right">{{trans_data[length].gltr_total_dr_amount | currency:'':2}}</td>
                                                <td style="text-align:right">{{trans_data[length].gltr_total_cr_amount | currency:'':2}}</td>
                                                <td style="text-align:right">{{closebal | currency:'':2}}</td>



                                            </tr>-->
                                        </tbody>

                                    </table>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2">
                                <label id="label7" class="form-label">&nbsp;</label>
                            </div>
                            <div>
                                <br />
                                <label id="Label5" class="bold">{{"Amount not reflected in account:"| translate}} {{amountbal |currency:'':2}} {{}} </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2">
                                <label id="label8" class="form-label">&nbsp;</label>
                            </div>
                            <div>
                                <br />
                                <label id="Label5" class="bold">{{"Begining Balance as per sys:"| translate}} {{opbal |currency:'':2}} {{cr}} </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2">
                                <label id="label9" class="form-label">&nbsp;</label>
                            </div>
                            <div>
                                <br />
                                <label id="Label5" class="bold">{{"Closing Balance as per sys:"| translate}} {{closebal |currency:'':2}} {{dr}} </label>
                            </div>
                        </div>
                       
                         <div class="col-md-12">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2">
                                <label id="label10" class="form-label">&nbsp;</label>
                            </div>
                            <div>
                                <br />
                                <label id="Label5" class="bold">{{"Begining Balance as per bank:"| translate}} {{opbankbal |currency:'':2}} {{}} </label>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2">
                                <label id="label11" class="form-label">&nbsp;</label>
                            </div>
                            <div>
                                <br />
                                <label id="Label5" class="bold">{{"Closing Balance as per bank:"| translate}} {{closebankbal |currency:'':2}} {{}} </label>
                            </div>
                        </div>
                    </div>

                </div>

        </div>
    </div>
</div>



<!--Model Popup-->

<div class="modal fade in" id="myModal4" ng-style="style" tabindex="-1">
    <div class="modal-dialog" id="jv_Voucher" style="height:600px;width:900px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="semi-bold pull-left">Voucher Details ({{temp_doc.gltd_doc_code}}-{{temp_doc.gltd_final_doc_no}})</h5>
                <button type="button" ng-hide="windowflg" ng-click="maxmize()" class="btn btn-white btn-xs btn-mini " style="float: right;border: none;"><i class="fa  fa-square-o"></i> </button>
                <button type="button" ng-show="windowflg" ng-click="manimize()" class="btn btn-white btn-xs btn-mini " style="float: right;border: none;"><i class="fa fa-clone"></i> </button>

                <br />
            </div>
            <div class="grid-body no-border">


                <div class="col-md-12">
                    <div class="row ">

                        <div class="col-md-2">
                            <label id="Label37" class="form-label">{{"Doc Code"| translate }}</label>
                            <input type="text" id="Text10" ng-model="temp_doc.gltd_doc_code" class="k-textbox input-sm" name="DocCode_jv1" ng-disabled="true" />

                        </div>

                        <div class="col-md-2">
                            <label id="Label38" for="txt_Doc_Date" class="form-label">{{"Doc Date"| translate }}</label>
                            <input type="text" id="Text3" name="DocDate" class="k-textbox" ng-model="temp_doc.gltd_doc_date" ng-disabled="true">

                        </div>

                        <div class="col-md-2">
                            <label id="Label39" for="txt_postdate" class="form-label">{{"Post Date"| translate }}</label>
                            <input type="text" id="Text5" name="PostDate" class="k-textbox" ng-model="temp_doc.gltd_post_date" ng-disabled="true">
                            <!--<div class="input-append success date md-4 no-padding" data-datepicker="true" style="z-index: 1">

                                <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                            </div>-->
                        </div>

                        <div class="col-md-5" style="margin-left:30px">
                            <label id="label40" class="form-label">{{"Doc Remark"| translate}}</label>
                            <input type="text" id="Text6" ng-model="temp_doc.gltd_remarks" class="k-textbox" name="docRemark" ng-disabled="true" />
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label id="label41" class="form-label">{{"Doc Narration"| translate}}</label>
                            <input type="text" id="Text7" ng-model="temp_doc.gltd_doc_narr" class="k-textbox" name="docNarration" ng-disabled="true" />
                        </div>
                    </div>

                </div>
                <div>
                    <div class="col-md-12">
                        <hr style="border: 2px solid; color: #735f87; background-color: #735f87;">
                    </div>
                    <div id="Div4" class="dataTables_wrapper form-inline">
                        <div style="width: 100%; height: 250px; overflow-x: auto; overflow-y: auto">
                            <table class="table table-bordered table-condensed" id="Table2">
                                <thead>
                                    <tr>
                                        <!--   <th class="finance_display">{{"COMP"| translate }}</th>-->
                                        <th class="finance_display">{{"LDGER CODE"| translate }}</th>
                                        <th class="finance_display">{{"ACCT CODE"| translate }}</th>
                                        <th class="finance_display">{{"ACCT NAME"| translate }}</th>
                                        <th class="finance_display" ng-show="cost">{{"COST CENTER"| translate }}</th>
                                        <th class="finance_display">{{"PTY REF NO"| translate }}</th>
                                        <th class="finance_display">{{"DEPT"| translate }}</th>
                                        <th class="finance_display">{{"PTY REF DATE"| translate }}</th>
                                        <th class="finance_display">{{"DOC NARRATION"| translate }}</th>
                                        <th class="finance_display">{{"DEBIT"| translate }}</th>
                                        <th class="finance_display">{{"CREDIT"| translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="JVCreate in prdocdata">
                                        <!-- <td>{{JVCreate.gldd_comp_code}}</td>-->
                                        <td>{{JVCreate.gldd_ledger_code}}</td>
                                        <td>{{JVCreate.gldd_acct_code}}</td>
                                        <td>{{JVCreate.gldd_acct_name}}</td>
                                        <td ng-show="cost">{{JVCreate.coce_cost_centre_name}}</td>
                                        <td>{{JVCreate.gldd_party_ref_no}}</td>
                                        <td>{{JVCreate.gldd_dept_code}}</td>
                                        <td>{{JVCreate.ptyref_date}}</td>
                                        <td>{{JVCreate.gldd_doc_narr}}</td>
                                        <td>{{JVCreate.gldd_doc_amount_debit}}</td>
                                        <td>{{JVCreate.gldd_doc_amount_credit}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-4">
                                <label id="label42" class="form-label">{{"Provision No: " | translate}}&nbsp;{{temp_doc.gltd_prov_doc_no}}</label>
                            </div>

                            <div class="col-md-3">
                                <label id="label50">{{"Debit Total: " | translate}}<span class="semi-bold">{{totalDebit}}</span></label>
                            </div>

                            <div class="col-md-3">
                                <label id="label51">{{"Credit Total: " |translate}}<span class="semi-bold">{{totalcredit}}</span></label>
                            </div>

                            <div class="col-md-2">
                                <button class="btn btn-primary btn-cons" type="button" ng-click="CheckPrintReport()">{{"Print"| translate }}</button>
                            </div>
                        </div>
                    </div>



                </div>





            </div>
        </div>
    </div>


</div>





<div class="modal fade" id="loader">
    <div class="modal-dialog" id="top">
        <div class="modal-content">
            <div class="box1" style="position: fixed; margin-top: 50%; left: 50%;">
                <img src="assets/img/loading_transparent_.gif">
                <!--<img src="assets/theme/img/loading.gif" />-->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<style>
    .inputtype {
        text-align: right;
    }
</style>
<script src="assets/plugins/modal_updated.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>
