﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">

            <div class="page-title">
                <h3><span class="semi-bold">{{"Bank Payment"|translate}}</span></h3>
            </div>

            <form name="myForm" ng-submit="Add(myForm.$valid)" novalidate="novalidate">
                <div class="grid-body no-border" ng-show="operation" style="padding-bottom: 0px;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-2">
                                    <label id="Label1" for="txt_Doc Code" class="form-label">{{"Doc Code"| translate }}</label>
                                    <input type="text" id="txt_Doc" ng-model="temp3.gldc_doc_short_name" class="k-textbox" style="width: 100%;" readonly="readonly" />
                                </div>

                                <div class="col-md-2">
                                    <label id="Label2" for="txt_Doc_Date" class="form-label">{{"Doc Date"| translate }}</label>
                                    <!--<div class="input-append success date col-md-6 no-padding" >-->
                                    <input type="text" id="DocDate12" name="DocDate" class="k-textbox" ng-model="edt4.DocDate" disabled>
                                    <!--</div>-->
                                </div>

                                <div class="col-md-3">
                                    <label id="Label3" for="txt_postdate" class="form-label">{{"Post Date"| translate }}</label>
                                    <div class="col-md-6 no-padding" style="z-index: 1">
                                        <input id="PostDate" name="PostDate" class="k-textbox" ng-model="edt4.PostDate" ng-change="check_post_date()">
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-12">
                                    <!--<label id="label5" class="form-label">{{"Doc Narration"| translate}}</label>-->
                                    <input type="text" id="narr" ng-model="temp.gltd_doc_narr1" placeholder="Please Enter Doc Narration" class="k-textbox" style="width: 100%;" name="docNarration" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-12">
                                    <!--<label id="label6" class="form-label">{{"Doc Remark"| translate}}</label>-->
                                    <input type="text" id="docremark" ng-model="temp.gltd_doc_remark" placeholder="Please Enter Doc Remark" class="k-textbox" style="width: 100%;" name="docRemark" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row">

                                <!--Account Number Code-->
                                <div class="col-md-3">
                                    <label id="Label4" for="txt_Account_Code" class="form-label">{{"Account Number Code"| translate }}</label>
                                    <!--<select id="cmb_Doc_Code" class="form-control" ng-model="edt5.master_acno" ng-change="getAccountName(edt5.master_acno)">
                                        <option value="" selected disabled>Please Select</option>
                                        <option class="form-control input-sm" selected="selected"  ng-repeat="bname in bankname">{{bname.master_ac_cdname}}</option>
                                    </select>-->
                                    <select id="cmb_account_Code" class="form-control"
                                        ng-model="edt5.master_acno" ng-change="getAccountName(edt5.master_acno)"
                                        ng-options="accountcode as accountcode.master_ac_cdname for accountcode in bankname" name="accountcode">
                                    </select>

                                </div>

                                <!--Cost Center Account-->
                                <div class="col-md-1" ng-show="chkcost_Ac">
                                    <label id="Label7" for="txt_Status" class="form-label">{{"Cost"| translate }}</label>
                                    <div class="checkbox check-success">
                                        <input id="cost_center_ac" class="k-checkbox" type="checkbox" ng-model="temp.cost_chk_ac" ng-click="cost_center_Account(temp.cost_chk_ac)">
                                        <label for="cost_center_ac"></label>
                                    </div>
                                </div>

                                <!--Cost Center-->
                                <div class="col-md-2" ng-show="cost_combo_AC">
                                    <label id="Label8" for="txt_account_Code" class="form-label">{{"Cost Center"| translate }}</label>
                                    <select id="Select1" style="width: 100%;" data-role="dropdownlist" class="form-control"
                                        ng-model="edt5.glco_cost_centre_code"
                                        ng-options="AccountCode.glco_cost_centre_code as AccountCode.coce_cost_centre_name for AccountCode in costcenter_account" name="CostCenter">
                                    </select>
                                </div>


                                <div class="col-md-2">
                                    <label id="Label9" for="txt_Bank_Name" class="form-label">{{"Account Name"| translate }}</label>
                                    <input type="text" id="Text4" ng-model="edt3.master_ac_cdname" class="k-textbox" style="width: 100%;" name="bank_name" />
                                </div>

                                <div class="col-md-2">
                                    <label id="Label26" for="txt_Country_Code" class="form-label">{{"Cheque No"| translate }}</label>
                                    <input type="text" id="Text1" ng-keypress="onlyNumbers($event)" ng-model="temp.gltd_cheque_No" class="k-textbox" style="width: 100%;" name="cheqNo" />
                                </div>

                                <div class="col-md-2">
                                    <label id="Label27" for="txt_paidfr" class="form-label">{{"Paid To"| translate }}</label>
                                    <input type="text" id="Text2" ng-model="temp.gltd_paid_to" class="k-textbox" style="width: 100%;" ng-pattern="/^(\D)+$/" name="paidfr" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <hr style="height: 6px; border: none; color: #FF6600; background-color: #FF6600;">
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-2">
                                    <label id="Label10" for="txt_cmb_l_Code" class="form-label">{{"Ledger Code"| translate }}</label>
                                    <select id="cmb_ledger_Code" data-role="dropdownlist" class="form-control"
                                        ng-model="edt.sllc_ldgr_code" ng-change="getSLAccNo(edt.sllc_ldgr_code)"
                                        ng-options="LedgerCode.sllc_ldgr_code as LedgerCode.sllc_ldgr_name for LedgerCode in LdgrCode" name="LedgerCode">
                                    </select>

                                </div>

                                <div class="col-md-3">
                                    <label id="Label11" for="txt_account_Code" class="form-label">{{"Account Code"| translate }}</label>
                                    <select id="cmb_acc_Code3" style="width: 100%;"
                                        ng-model="edt.gldd_acct_code" ng-change="getDepartcode(edt.gldd_acct_code);"
                                        ng-options="AccountCode.gldd_acct_code as AccountCode.gldd_acct_name for AccountCode in getAllAccNos" name="AccountCode">
                                    </select>

                                </div>

                                <!--Cost Center-->
                                <div class="col-md-1" ng-show="chkcost">
                                    <label id="Label12" for="txt_Status" class="form-label">{{"Cost Center"| translate }}</label>
                                    <div class="checkbox check-success">
                                        <input id="chk_term4" class="k-checkbox" type="checkbox" ng-model="temp.cost_chk" ng-click="cost_center(temp.cost_chk)">
                                        <label for="chk_term4"></label>
                                    </div>
                                </div>
                                <!--Cost Center-->
                                <div class="col-md-2" ng-show="cost_combo">
                                    <label id="Label13" for="txt_account_Code" class="form-label">{{"Cost Center Name"| translate }}</label>
                                    <select id="costCenter" data-role="dropdownlist" class="form-control" style="width: 100%;"
                                        ng-model="edt.glco_cost_centre_code" ng-change="getDepartcode(edt.gldd_acct_code);"
                                        ng-options="AccountCode.glco_cost_centre_code as AccountCode.coce_cost_centre_name for AccountCode in costcenter" name="CostCenter">
                                    </select>
                                </div>

                                <div class="col-md-2">
                                    <label id="Label14" for="Dcode" class="form-label">{{"Depart Code"| translate }}</label>
                                    <input type="text" id="Text3" ng-model="edt1.coad_dept_no" value="{{coad_dept_no}}" class="k-textbox" style="width: 100%;" name="Dcode"
                                        ng-pattern="/^(\d)+$/" ng-maxlength="2" />
                                </div>

                                <div class="col-md-2">
                                    <label id="Label15" for="partrefno" class="form-label">{{"Pty Ref No"| translate }}</label>
                                    <input type="text" id="Text5" ng-model="edt1.gldd_acct_code" value="{{gldd_acct_code}}" class="k-textbox" name="partrefno" />
                                </div>


                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-2">
                                    <label id="Label16" for="txt_party_ref" class="form-label">{{"Pty Ref Date"| translate }}</label>
                                    <div class="input-append success date col-md-10 no-padding">
                                        <input type="text" id="pty_ref_date" name="pty_ref_date_ft" class="k-textbox" ng-model="edt.gldd_party_ref_date">
                                        <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <label id="Label17" for="txt_Country_Code" class="form-label">{{"Amount"| translate }}</label>
                                    <input type="text" ng-model="edt.gldd_doc_amount" class="k-textbox" style="width: 100%; text-align: right;" name="amount" ng-pattern="/^[0-9]{1,14}(\.[0-9]+)?$/" />

                                </div>

                                <div class="col-md-5">
                                    <label id="label18" class="form-label">{{"Doc Narration"| translate}}</label>
                                    <input type="text" ng-model="edt.gldd_doc_narr" class="k-textbox" style="width: 100%;" name="dNarr" />
                                </div>

                                <div class="col-md-3">
                                    <label id="label19" class="form-label">&nbsp;</label>
                                    <button class="btn btn-primary btn-cons" type="submit" ng-show="addbtn" ng-click="datagrid(myForm.$valid)">{{"Add"| translate }}</button>
                                    <button class="btn btn-primary btn-cons" type="button" ng-show="updatebtn" ng-click="Update()">{{"Update"| translate }}</button>
                                    <button class="btn btn-warning btn-cons" type="button" ng-click="cancel()">{{"Cancel"| translate }}</button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </form>

            <!--table-->

            <div class="grid-body no-border" ng-show="table1">
                <!--<div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div style="width: 100%; height: 200px; overflow-x:auto;">
                    <div class="scrollableContainer">
                    <div class="scrollingArea">
                    <table class="table  table-striped  table-condensed" id="Table1" aria-describedby="example2_info" cellpadding="0" cellspacing="0" style="table-layout:fixed;">-->
                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div style="width: 100%; height: 180px; overflow-x: auto; overflow-y: auto">
                        <table class="table table-bordered table-condensed" id="fixTable" border="0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <!--<th class="finance_display" >{{"COMP CODE"| translate }}</th>-->
                                    <th class="finance_display" style="width: 110px">{{"Ledger Code"| translate }}</th>
                                    <!--<th class="finance_display" >{{"Acct Code"| translate }}</th>-->
                                    <th class="finance_display">{{"Acct Name"| translate }}</th>
                                    <th class="finance_display">{{"Center Name"| translate }}</th>
                                    <!--<th class="finance_display" style="width:90px" >{{"Dept Code"| translate }}</th>-->
                                    <th class="finance_display">{{"Pty Ref No."| translate }}</th>
                                    <th class="finance_display">{{"Pty Ref Date"| translate }}</th>
                                    <th class="finance_display">{{"Doc Narration"| translate }}</th>
                                    <th class="finance_display">{{"Amount"| translate }}</th>
                                    <!--<th class="finance_display" >{{"FC AMOUNT"| translate }}</th>-->
                                    <!--<td class="semi-bold"><i class="fa fa-cogs"></i></td>-->
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="Bankdetail in Bankdetails">
                                    <!--<td><button type="button" ng-click="Delete()">{{"Delete"| translate }}</button></td>-->
                                    <td>
                                        <input type="button" onmouseover="Remove" ng-click="Delete(Bankdetail);" value="X" /></td>
                                    <!-- <td><input type="text" readonly="readonly" style="border: none;" ng-model="Bankdetail.gldd_comp_code" maxlength="4" size="1"  value="{{Bankdetail.gldd_comp_code}}" /></td>-->
                                    <td>
                                        <input type="text" class="k-textbox" readonly="readonly" style="border: none;" ng-model="Bankdetail.sllc_ldgr_code" maxlength="2" size="1" value="{{Bankdetail.sllc_ldgr_code}}" /></td>
                                    <!--  <td><input type="text" readonly="readonly" style="border: none;" ng-model="Bankdetail.slma_acno" maxlength="10" size="5" value="{{Bankdetail.slma_acno}}" /></td>-->
                                    <td>
                                        <input type="text" class="k-textbox" readonly="readonly" style="border: none;" ng-model="Bankdetail.coad_pty_full_name" maxlength="50" size="20" value="{{Bankdetail.coad_pty_full_name}}" /></td>
                                    <td>
                                        <input type="text" class="k-textbox" readonly="readonly" style="border: none;" ng-model="Bankdetail.coce_cost_centre_name1" maxlength="10" size="4" value="{{Bankdetail.coce_cost_centre_name1}}" /></td>
                                    <!--<td><input type="text" readonly="readonly" style="border: none;" ng-model="Bankdetail.coad_dept_no" maxlength="2" size="1" value="{{Bankdetail.coad_dept_no}}" /></td>-->
                                    <td>
                                        <input type="text" class="k-textbox" style="border: none;" ng-model="Bankdetail.slma_acno" maxlength="15" size="4" value="{{Bankdetail.slma_acno}}" /></td>
                                    <td>
                                        <input type="text" class="k-textbox" ng-model="Bankdetail.gldd_party_ref_date" maxlength="12" size="7" value="{{Bankdetail.gldd_party_ref_date}}" /></td>
                                    <td>
                                        <input type="text" class="k-textbox" ng-model="Bankdetail.gldd_doc_narr" maxlength="500" size="25" value="{{Bankdetail.gldd_doc_narr}}" /></td>
                                    <td>
                                        <input type="text" class="k-textbox" ng-model="Bankdetail.gldd_doc_amount" style="text-align: right"
                                            ng-blur="totalAmountCount()"
                                            size="3" ng-keypress="onlyNumbers($event)"
                                            value="{{Bankdetail.gldd_doc_amount}}" /></td>
                                    <!--<td><input type="text"  ng-model="Bankdetail.gldd_fc_amount" maxlength="10" size="3" value="{{Bankdetail.gldd_fc_amount}}" /></td>-->

                                    <!--<td><input type="button" onmouseover="Remove" ng-click="Delete(Bankdetail);" value="X" /></td>
                                    <td>{{Bankdetail.gldd_comp_code}}</td>
                                    <td>{{Bankdetail.sllc_ldgr_code}}</td>
                                    <td>{{Bankdetail.slma_acno}}</td>
                                    <td>{{Bankdetail.coad_pty_full_name}}</td>
                                    <td>{{Bankdetail.coad_dept_no}}</td>
                                    <td>{{Bankdetail.slma_acno}}</td>
                                    <td>{{Bankdetail.gldd_party_ref_date}}</td>
                                    <td>{{Bankdetail.gldd_doc_narr}}</td>
                                    <td>{{Bankdetail.gldd_doc_amount}}</td>
                                    <td>{{Bankdetail.gldd_fc_amount}}</td>
                                    <td>
                                        <a href="" title="To Update Click Here."><i class="fa fa-edit" ng-click="up(Bankdetail)"></i></a>
                                    </td>-->
                                </tr>
                            </tbody>
                        </table>
                        <!--</div>
                </div>-->
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label id="label20" class="form-label">{{"Account Name"| translate}}</label>
                        <label id="label21" class="form-label">{{"Department Name"| translate}}</label>
                        <!--<label id="label3" class="form-label">{{"FOREIGN CURRENCY NAM"| translate}}</label>-->
                    </div>
                    <div class="col-md-4">
                        <label id="label22" class="form-label">{{edt1.gldd_acct_name}}</label>
                        <label id="label23" class="form-label">{{edt1.codp_dept_name}}</label>
                        <label id="label24" class="form-label"></label>
                    </div>
                    <div class="col-md-4">
                        <label id="totalamount" class="pull-right semi-bold">Total:-{{total}} </label>
                        <label id="label25" class="form-label">&nbsp;</label>
                        <button class="btn btn-primary" ng-disabled="preparebtn" type="submit" ng-click="Prepare()">{{"Prepare"| translate }}</button>
                        <button class="btn btn-primary" ng-disabled="verifybtn" type="submit" ng-click="Verify()">{{"Verify"| translate }}</button>
                        <button class="btn btn-primary" ng-disabled="authorizebtn" type="submit" ng-click="Authorize()">{{"Authorize"| translate }}</button>
                        <button class="btn btn-primary" type="button" ng-show="checkprintbtn" ng-click="CheckPrintReport()">{{"Print"| translate }}</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="assets/js/calender-datepicker-id.js"></script>
