﻿<style>
    .form-actions {    padding: 7px 20px 7px;}

    .grid.simple .form-actions{ margin-left:-7px!important; margin-right:-7px!important;}
</style>
    
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Bank "| translate }}</span>{{"Master"| translate }} </h3>
            </div>

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                class="form-control"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                class="form-control"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="grid-body no-border table_padding">
            <div ng-show="table">
                <div class="row form-row">

                    <div class="col-md-6">
                        <select id="Select1" style="width: 60px; margin-top:-7px;" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="10" class=" form-control input-sm">10
                            </option>

                            <option value="20" class=" form-control input-sm">20
                            </option>

                            <option value="All" class=" form-control input-sm">All
                            </option>
                        </select>
                        &nbsp;
                        <button class="btn btn-success btn-cons" type="button" id="designew" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate }}</button>
                        &nbsp;
                        <button class="btn btn-danger btn-cons" type="button" ng-click="OkDelete()"><span class="semi-bold"></span>{{"Delete"| translate }}</button>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                                <!-- <label>
                                    {{"Search"| translate }}:&nbsp;
                                   <input type="text" aria-controls="example" ng-model="search.$" class="input-medium"></label>
                                    <input aria-controls="example" ng-model="searchText" class="k-textbox" placeholder="Bank Code/Name/Srl No" autofocus="autofocus" type="search" ng-change="search()">
                                </label>-->
                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Bank Code/Name/Srl No" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div style="width: 100%; height: auto; overflow-x: auto; overflow-y: auto">
                        <table class="table table-bordered table-hover table-condensed" id="fixTable">
                            <thead>
                                <tr style="background-color: #edefef">
                                    <th class="small-cell v-align-middle" style="z-index: 1">
                                        <div class="checkbox check-success">
                                            <input id="mainchk" class="k-checkbox" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>
                                    <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                        <a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"Bank Code" | translate }}
                                    </th>

                                    <th>
                                        <i class="fa fa-building"></i>&nbsp;{{"Bank Name" | translate }}
                                    </th>

                                    <th>
                                       <i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Account Number"| translate }}
                                    </th>

                                    <th>
                                       <i class="fa fa-dashboard"></i>&nbsp;{{"SL Code" | translate }}
                                    </th>

                                    <th>
                                       <i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"SL Account No." | translate }}
                                    </th>

                                    <th>
                                        <i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"SRL No." | translate }}
                                    </th>

                                    <th>
                                        <i class="fa fa-flag"></i>&nbsp; {{"Posting Flag" | translate }}
                                    </th>

                                    <th class="semi-bold">
                                        <label><i class="fa fa-cogs"></i></label>
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="j in filteredTodos | orderBy:orderByField:reverseSort" ng-class="row1">
                                    <td class="small-cell v-align-middle" style="z-index: 1;">
                                        <div class="row-fluid">
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input id="bank-{{$index}}" type="checkbox" class="k-checkbox" value="1" ng-click="checkonebyonedelete()">
                                                <label for="bank-{{$index}}"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="text-align:right;">
                                        <label id="lbl">{{j.pb_bank_code}}</label>
                                    </td>
                                    <td style="text-align:center;">
                                        <label id="Label1">{{j.pb_bank_name}}</label>
                                    </td>
                                    <td>
                                        <label id="Label2">{{j.pb_gl_name}}</label>
                                    </td>


                                    <td>
                                        <label id="Label3">{{j.pb_sl_name}}</label>
                                    </td>
                                    <td>
                                        <label id="Label5">{{j.pb_sl_ac_name}}</label>
                                    </td>

                                    <td style="text-align:right;">
                                        <label id="Label4">{{j.pb_srl_no}}</label>
                                    </td>

                                    <td class="v-align-middle">

                                        <span class="label label-success" ng-if="j.pb_posting_flag==true">{{"Yes" | translate }}</span>
                                        <span class="label label-important" ng-if="j.pb_posting_flag==false">{{"No" | translate }}</span>

                                    </td>

                                    <td>
                                        <a href=""><i class="fa fa-edit" ng-click="edit(j)"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row" ng-show="pager">
                        <div class="col-md-12">
                    <div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                            ng-click="index(currentPage)">
                        </paging>
                    </div>
                            </div>
                    </div>

                </div>

            </div>

            <div ng-show="display">
                <form name="Myform" ng-submit="savedata(Myform.$valid)" novalidate="novalidate">
                    <!--1ST ROW-->
                    <div class="row">

                        <div class="col-md-12 form-group">

                            <!--Bank Code-->
                            <div class="col-md-2">
                                <label for="EndDate"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Sl A/C No"| translate }}</label>
                                <select id="SlAccountNo" data-role="dropdownlist" data-role="dropdownlist" class="form-control"
                                        ng-model="temp.slma_acno"
                                        ng-options="doc.gldd_acct_code as doc.gldd_acct_name for doc in slacno" ng-disabled="slno" name="sims_goal"></select>
                            </div>
                            

                            <!--Bank Name-->
                            

                            <!--Gl A/C No-->
                            <div class="col-md-3">
                                <label id="Label7" for="txt_Country_Code"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Gl A/C No"| translate }}  <span class="asterisk" style="color: red">*</span></label>
                              <!--  <select id="account_codes" style="width: 100%"
                                    ng-model="temp.acno"
                                    ng-options="doc.gldd_acct_code as doc.gldd_acct_name for doc in GlACNO" ng-change="setvisible();" ng-disabled="glaccno" name="sims_goal">
                                </select>-->
                                 <select id="account_codes"  style="width:100%" ng-model="temp.acno" ng-change="setvisible();" ng-disabled="glaccno" name="sims_goal">
                                                <option value="">Please Select</option>
                                                <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                                        value="{{i.gldd_acct_code}}">
                                                    {{i.gldd_acct_name}}
                                                </option>
                                            </select>
                                 <!--<p class="help-block" ng-show="Myform.sims_goal.$error.required &&  (Myform.sims_goal.$touched || Myform.$submitted)">
                                    This field required
                                </p>-->
                            </div>

                            <!-- <div class="col-md-3" style="padding:02px">
                                <label class="semi-bold" for="EndDate">{{"Gl A/C No"| translate }}</label>
                                <select id="AccountNo"  class="form-control"
                                        ng-model="temp.acno"
                                        ng-options="doc.acno as doc.glma_acct_name for doc in GlACNO" ng-change="setvisible();" ng-disabled="glaccno" name="sims_goal" ></select>
                               
                            </div>-->

                            <!--LedgerCode No-->
                            <div class="col-md-3">
                                <label for="EndDate"><i class="fa fa-dashboard"></i>&nbsp;{{"Ledger Code"| translate }}</label>
                                <select id="Ledger_Code" data-role="dropdownlist" class="form-control"
                                    ng-model="temp.sllc_ldgr_code"
                                    ng-options="doc.sllc_ldgr_code as doc.sllc_ldgr_name for doc in LdgrCode" ng-change="getSLAccNo(temp.sllc_ldgr_code)" ng-disabled="ldgno" name="sims_goal">
                                </select>

                            </div>

                        </div>
                    </div>
                    <!--2ND ROW-->
                    <div class="row">
                        <div class="col-md-12 form-group" style="margin-top:-9px;">

                            <!--Sl A/C No-->
                            <div class="col-md-2" ng-class="{'has-error': !Myform.Bank_Name.$valid && (Myform.Bank_Name.$touched || Myform.$submitted) }">
                                <label for="BankName"><i class="fa fa-align-justify"></i>&nbsp;{{"Bank Name"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" name="Bank_Name" id="bankname" class="k-textbox" style="width: 100%;" ng-model="temp.pb_bank_name" ng-maxlength="50"  ng-readonly="readonlybankname" required />
                                <p class="help-block" ng-show="Myform.Bank_Name.$error.pattern &&  (Myform.Bank_Name.$touched || Myform.$submitted)">
                                    {{"Please Enter only  Character" | translate }}
                                </p>

                                <p class="help-block" ng-show="Myform.Bank_Name.$error.required &&  (Myform.Bank_Name.$touched || Myform.$submitted)">
                                    {{"This field required" | translate }}
                                </p>

                                <p class="help-block" ng-show="Myform.Bank_Name.$error.maxlength &&  (Myform.Bank_Name.$touched || Myform.$submitted)">
                                    {{"Max Length 50 Character Required" | translate }}
                                </p>
                            </div>
                            

                            <div class="col-md-2" ng-class="{'has-error': !Myform.BankCode.$valid && (Myform.BankCode.$touched || Myform.$submitted) }">
                                <label id="Label6" for="txt_BankCode"><i class="fa fa-dashboard"></i>&nbsp;{{"Bank Code" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" name="BankCode" id="bankcode" class="k-textbox" style="width: 100%;" ng-model="temp.pb_bank_code" ng-maxlength="3" pattern="[A-Za-z0-9\s]+" ng-readonly="gtdreadonlyBnkcode" required />
                                <p class="help-block" ng-show="Myform.BankCode.$error.required &&  (Myform.BankCode.$touched || Myform.$submitted)">
                                    {{"This field is required" | translate }}
                                </p>
                                <p class="help-block" ng-show="Myform.BankCode.$error.maxlength &&  (Myform.BankCode.$touched || Myform.$submitted)">
                                    {{"Max Length 3 Character" | translate }}
                                </p>
                                <p class="help-block" ng-show="Myform.BankCode.$error.pattern &&  (Myform.BankCode.$touched || Myform.$submitted)">
                                    {{"Special Characher not allowed" | translate }}
                                </p>
                            </div>

                            <!--Srl No-->
                            <div class="col-md-2" ng-class="{'has-error': !Myform.Srl_No.$valid && (Myform.Srl_No.$touched || Myform.$submitted) }">
                                <label for="Srl No"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Bank Cheque Sr.No."| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" name="Srl_No" id="srlno" class="k-textbox" style="width: 100%;" ng-model="temp.pb_srl_no" ng-maxlength="6" ng-pattern="/^(\d)+$/" ng-readonly="gtdreadonly" required />
                                <p class="help-block" ng-show="Myform.Srl_No.$error.pattern  &&  (Myform.Srl_No.$touched || Myform.$submitted)">
                                    {{"Please Enter Only  Digit"| translate }} 
                                </p>

                                <p class="help-block" ng-show="Myform.Srl_No.$error.required  &&  (Myform.Srl_No.$touched || Myform.$submitted)">
                                    {{"This field required"| translate }}
                                </p>
                                <p class="help-block" ng-show="Myform.Srl_No.$error.maxlength  &&  (Myform.Srl_No.$touched || Myform.$submitted)">
                                    {{"Max Length Six Digit Allowed"| translate }}
                                </p>
                            </div>

                            <div class="col-md-3">
                                <label id="Label13" for="txt_full_name"><i class="fa fa-flag"></i>&nbsp;{{"Posting Flag"| translate }}</label>
                                <div class="row-fluid">
                                    <div class="checkbox check-success">
                                        <input id="checkbox3" class="k-checkbox" type="checkbox" ng-model="temp.pb_posting_flag">
                                        <label for="checkbox3"></label>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="form-actions">
                        <div class="pull-right">
                            <button type="submit" id="desigsub" ng-show="save_btn" class="btn btn-primary btn-cons">{{"Save" | translate }}</button>
                            <button type="button" ng-show="Update_btn" ng-click="update(Myform.$valid);" class="btn btn-primary btn-cons">{{"Update" | translate }}</button>
                            <button type="button" class="btn btn-danger btn-cons" ng-click="Cancel();">{{"Cancel"| translate }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    </div>
</div>
<script src="assets/js/tableHeadFixer.js"></script>
