﻿<div class="loading-middle" ng-hide="display">
    {{ "Loading..." | translate }}
</div>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>


                            <input placeholder="page"
                                class="form-control"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>


                            <input placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>


                            <input placeholder="Total"
                                class="form-control"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>


                            <input placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>


                            <input placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>


                            <input placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>


                            <input placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>


                                    <input type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>


                                    <input type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>

                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>



            <div class="page-title">
                <h3><span class="semi-bold">{{"Company"| translate }}</span>&nbsp;{{"Master"| translate }}</h3>
            </div>
            <!--<div class="grid-body no-border">-->
            <form class="profile-settings" name="myForm" novalidate ng-submit="Save(myForm.$valid)">
            <div class="raw">
                        <div class="paddingcode grid-body no-border" style="background-color: white;">
                <div ng-show="display">
                    <!--<form class="profile-settings" name="myForm" novalidate ng-submit="Save(myForm.$valid)">-->

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row form-row">
                                
                                    <div class="col-md-3" ng-class="{'has-error': !myForm.comp_code.$valid && (myForm.comp_code.$touched || myForm.$submitted) }">
                                        <label><i class="fa fa-sort-numeric-asc"></i>{{"Company Code" | translate }}  <span class="asterisk" style="color: red">*</span></label>
                                        <input type="text" class="k-textbox input-sm full-width" id="Text4" name="comp_code" maxlength="1" ng-maxlength="4" ng-model="edt.comp_code" ng-pattern="/^[0-9]{1,25}$/" ng-disabled="disabledata" ng-readonly="value" required />


                                        <p class="help-block" ng-show="myForm.comp_code.$error.pattern &&  (myForm.comp_code.$touched || myForm.$submitted)">
                                            Enter Only Digit
                                        </p>
                                        <p class="help-block" ng-show="myForm.comp_code.$error.required &&  (myForm.comp_code.$touched || myForm.$submitted)">
                                            Company Code is required.
                                        </p>


                                    </div>



                                    <div class="col-md-3">
                                                <label><i class="fa fa-user"></i>{{"Company Short Name" | translate }}</label>
                                                <input type="text" placeholder="" class="k-textbox input-sm full-width" id="Text2" name="txt_incidence_user_code" ng-model="edt.comp_short_name">
                                    </div>



                                    <div class="col-md-3">
                                                <label><i class="fa fa-building"></i>{{"Company Name" | translate }}</label>
                                                <input type="text" placeholder="" class="k-textbox input-sm full-width" id="Text10" name="txt_incidence_user_code" ng-model="edt.comp_name">
                                    </div>



                                     <div class="col-md-3">
                                        
                                                <label><i class="fa fa-sort-numeric-asc"></i>{{"Country Code" |translate }}</label>
                                           

                                                <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width"
                                                    aria-label="Please Select"
                                                    ng-model="edt.comp_cntry_code"
                                                    ng-options="sta.comp_cntry_code as sta.comp_cntry_name for sta in countryNames" name="student_sta"
                                                    ng-change="currency(edt.comp_cntry_code);">
                                                </select>
                                            
                                    </div>





                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="row form-row">


                                    <div class="col-md-3">
                                                <label><i class="fa fa-sort-numeric-asc"></i>{{"Currency Code"| translate }}</label>
                                                <select id="Select2" data-role="dropdownlist" class="form-control input-sm full-width"
                                                    aria-label="Please Select"
                                                    ng-model="edt.comp_curcy_code"
                                                    ng-options="sta.comp_curcy_code as sta.comp_curcy_name for sta in currencyDesc" name="student_sta">
                                                </select>
                                    </div>



                                    <div class="col-md-3" ng-class="{'has-error': !myForm.comp_curcy_dec.$valid && (myForm.comp_curcy_dec.$touched || myForm.$submitted) }">
                                        <label><i class="fa fa-sort-numeric-asc"></i>{{"Currency Decimal" | translate }} <span class="asterisk" style="color: red">*</span></label><!-- <span style="color:red; font-size:15px">*</span></label>-->
                                        <input type="text" class="k-textbox input-sm full-width" id="Text3" name="comp_curcy_dec" maxlength="12" ng-maxlength="12" ng-model="edt.comp_curcy_dec" ng-pattern="/^[0-9]{1,25}$/" required ng-disabled="disabledata" />
                                        <p class="help-block" ng-show="myForm.comp_curcy_dec.$error.required &&  (myForm.comp_curcy_dec.$touched || myForm.$submitted)">
                                            Currency Decimal is required.
                                        </p>

                                        <p class="help-block" ng-show="myForm.comp_curcy_dec.$error.pattern &&  (myForm.comp_curcy_dec.$touched || myForm.$submitted)">
                                            Enter Only Digit.
                                        </p>

                                    </div>

                                    <div class="col-md-3">
                                        <label><i class="fa fa-sort-numeric-asc"></i>{{"Departments Maximum" | translate }} <span class="asterisk" style="color: red">*</span></label><!-- <span style="color:red; font-size:15px">*</span></label>-->
                                        <div ng-class="{'has-error': !myForm.comp_max_dept.$valid && (myForm.comp_max_dept.$touched || myForm.$submitted) }">
                                            <input type="text" class="k-textbox input-sm full-width" id="Text20" name="comp_max_dept" maxlength="12" ng-maxlength="12" ng-model="edt.comp_max_dept" ng-pattern="/^[0-9]{1,25}$/" required ng-disabled="disabledata" />

                                          <p class="help-block" ng-show="myForm.comp_max_dept.$error.pattern &&  (myForm.comp_max_dept.$touched || myForm.$submitted)">
                                           Enter Only Digit
                                        </p>
                                              <p class="help-block" ng-show="myForm.comp_max_dept.$error.required &&  (myForm.comp_max_dept.$touched || myForm.$submitted)">
                                           Departments Maximum is required.
                                        </p>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label><i class="fa fa-sort-numeric-asc"></i>{{"Departments Minimum" | translate }} <span class="asterisk" style="color: red">*</span></label><!-- <span style="color:red; font-size:15px">*</span></label>-->
                                        <div ng-class="{'has-error': !myForm.comp_min_dept.$valid && (myForm.comp_min_dept.$touched || myForm.$submitted) }">
                                            <input type="text" class="k-textbox input-sm full-width" id="Text11" name="comp_min_dept" maxlength="12" ng-maxlength="12" ng-model="edt.comp_min_dept" ng-pattern="/^[0-9]{1,25}$/" required ng-disabled="disabledata" />
                                         <p class="help-block" ng-show="myForm.comp_min_dept.$error.required &&  (myForm.comp_min_dept.$touched || myForm.$submitted)">
                                           Departments Minimum is required.
                                        </p>
                                        <p class="help-block" ng-show="myForm.comp_min_dept.$error.pattern &&  (myForm.comp_min_dept.$touched || myForm.$submitted)">
                                           Enter Only Digit
                                        </p>
                                        </div>
                                    </div>
                                   



                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="row form-row">
                                      
                                    <div class="col-md-3" ng-class="{'has-error': !myForm.comp_tel_no.$valid && (myForm.comp_tel_no.$touched || myForm.$submitted) }">
                                              <label><i class="fa fa-sort-numeric-asc"></i>{{"Telephone No." | translate }} <span class="asterisk" style="color: red">*</span></label><!-- <span style="color:red; font-size:15px">*</span></label>-->
                                            <input type="text" class="k-textbox input-sm full-width" id="comp_tel_no" name="comp_tel_no" maxlength="12" ng-maxlength="12" ng-model="edt.comp_tel_no" ng-pattern="/^[0-9]{1,25}$/" required ng-disabled="disabledata" />

                                             <p class="help-block" ng-show="myForm.comp_tel_no.$error.required &&  (myForm.comp_tel_no.$touched || myForm.$submitted)">
                                           Telephone Number is required.
                                        </p>
                                              <p class="help-block" ng-show="myForm.comp_tel_no.$error.pattern &&  (myForm.comp_tel_no.$touched || myForm.$submitted)">
                                          "Enter Only Digit
                                        </p>
                                        </div>
                                   
                                    <div class="col-md-3">
                                                <label><i class="fa fa-align-justify"></i>{{"Address Line1" | translate }}</label>
                                                <input type="text" placeholder="" class="k-textbox input-sm full-width" id="Text1" name="txt_incidence_user_code" ng-model="edt.comp_addr_line1">
                                    </div>

                                    <div class="col-md-3">
                                                <label><i class="fa fa-align-justify"></i>{{"Address Line2" | translate }}</label>
                                                <input type="text" placeholder="" class="k-textbox input-sm full-width" id="Text8" name="txt_incidence_user_code" ng-model="edt.comp_addr_line2">
                                    </div>

                                    <div class="col-md-3">
                                                <label><i class="fa fa-align-justify"></i>{{"Address Line3" | translate }}</label>
                                                <input type="text" placeholder="" class="k-textbox input-sm full-width" id="Text9" name="txt_incidence_user_code" ng-model="edt.comp_addr_line3">
                                       </div>


                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="row form-row">
                                        <div class="col-md-3" ng-class="{'has-error': !myForm.comp_fax_no.$valid && (myForm.comp_fax_no.$touched || myForm.$submitted) }">
                                             <label><i class="fa fa-fax"></i>{{"Fax No." | translate }} <span class="asterisk" style="color: red">*</span></label><!-- <span style="color:red; font-size:15px">*</span></label>-->
                                            <input type="text" class="k-textbox input-sm full-width" id="Text6" name="comp_fax_no" maxlength="12" ng-maxlength="12" ng-model="edt.comp_fax_no" ng-pattern="/^[0-9]{1,25}$/" required ng-disabled="disabledata" />
                                            <p class="help-block" ng-show="myForm.comp_fax_no.$error.required &&  (myForm.comp_fax_no.$touched || myForm.$submitted)">
                                                 Telephone Number is required.
                                             </p>
                                              <p class="help-block" ng-show="myForm.comp_fax_no.$error.pattern &&  (myForm.comp_fax_no.$touched || myForm.$submitted)">
                                          "Enter Only Digit
                                        </p>
                                        </div>

                                        <div class="col-md-3">

                                        <label><i class="fa fa-envelope"></i>{{"Email" | translate }} </label>
                                        <!--<span style="color:red; font-size:15px">*</span></label>-->
                                        <div ng-class="{'has-error': !myForm.comp_email.$valid && (myForm.comp_email.$touched || myForm.$submitted) }">
                                            <input type="text" class="k-textbox input-sm full-width" id="comp_email" name="comp_email" maxlength="30" ng-model="edt.comp_email" pattern="[a-z0-9._%+-]+@[a-z0-9]+\.[a-z]{2,3}$" placeholder="abc@xyz.com" ng-disabled="disabledata" />

                                            <p class="help-block" ng-show="myForm.comp_email.$error.pattern &&  (myForm.comp_email.$touched || myForm.$submitted)">
                                              "Wrong pattern"
                                            </p>

                                        </div>
                                       
                                    </div>

                                         <div class="col-md-3" ng-class="col-md-12" ng-class="{'has-error': !myForm.website.$valid && (myForm.website.$touched || myForm.$submitted) }">
                                                 <label><i class="fa fa-globe"></i>{{"Website" | translate }}</label>
                                                <input type="text" class="k-textbox input-sm full-width" id="website" name="website" name="txt_incidence_user_code" ng-model="edt.comp_web_site" pattern="https?://.+" placeholder="http://www.xyz.com" maxlength="60">
                                          
                                               <p class="help-block" ng-show="myForm.website.$error.pattern &&  (myForm.website.$touched || myForm.$submitted)">
                                                   "Enter Valid Website"
                                            </p>

                                           
                                           
                                        </div>
                                   

                                       <div class="col-md-3" ng-show="hide">
                                                <label>{{"Enable Check Digit" | translate }}</label>
                                                <div class="checkbox check-success">
                                                    <input id="Checkbox6" type="checkbox" class="k-checkbox" value="1" checked="checked" ng-model="edt.comp_enable_chk_dgt">
                                                    <label for="Checkbox6"></label>
                                                </div>
                                       </div>



                                </div>
                            </div>
 
                            <div class="col-md-12">
                                <div class="row form-row">

                                    <div class="col-md-3">
                                                <label><i class="fa fa-money"></i>{{"Allow Multi Currency" | translate }}</label>
                                                <div class="checkbox check-success">
                                                    <input id="Checkbox5" type="checkbox" class="k-checkbox" value="1" checked="checked" ng-model="edt.comp_allow_multi_curcy">
                                                    <label for="Checkbox5"></label>
                                                </div>
                                    </div>

                                    <div class="col-md-3">
                                                <label><i class="fa fa-bookmark"></i>{{"Company Setup Status" | translate }}</label>
                                                <div class="checkbox check-success">
                                                    <input id="Checkbox4" type="checkbox" class="k-checkbox" value="1" checked="checked" ng-model="edt.comp_setup_status">
                                                    <label for="Checkbox4"></label>
                                                </div>
                                    </div>

                                </div>
                            </div>

                            <!--<div class="col-md-12">
                                <div class="col-md-12" style="background-color: #ffd800; height: 6px;"></div>
                            </div>-->




                           <!-- <div class="com-md-12">
                                <div class="row form-row">
                                    <div class="col-md-3">
                                        <label><i class="fa fa-sort-numeric-asc"></i>{{"Incorporation No" | translate }} </label>
                                        <div ng-class="{'has-error': !myForm.comp_fax_no.$valid && (myForm.comp_fax_no.$touched || myForm.$submitted) }">
                                            <input type="text" class="k-textbox input-sm full-width" id="Text7" name="comp_fax_no" ng-model="edt.comp_incorporation_number" />

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="Label2" for="txt_provision_number" class="form-label"><i class="fa fa-calendar"></i>{{" Incorporation reg.Date"| translate }}</label>
                                        <input type="text" id="to_date" name="sdate" class="k-textbox input-sm full-width" ng-model="edt.comp_incorporation_reg_date" />
                                    </div>

                                    <div class="col-md-3">
                                        <label id="Label1" for="txt_provision_number" class="form-label"><i class="fa fa-calendar"></i>{{" Incorporation Renewal.Date"| translate }}</label>
                                        <input type="text" id="to_date" name="sdate" class="k-textbox input-sm full-width" ng-model="edt.comp_incorporation_renewal_date" />
                                    </div>

                                    <div class="col-md-3">
                                        <label><i class="fa fa-calendar"></i>{{"Renewal Remind days" | translate }} </label>
                                        <div ng-class="{'has-error': !myForm.comp_fax_no.$valid && (myForm.comp_fax_no.$touched || myForm.$submitted) }">
                                            <input type="text" class="k-textbox input-sm full-width" id="Text13" name="comp_fax_no" ng-model="edt.comp_incorporation_renewal_remind_days" ng-change="valid365(edt.comp_incorporation_renewal_remind_days)" />

                                        </div>



                                    </div>
                                </div>


                            </div>

                            <div class="com-md-12">
                                <div class="row form-row">

                                    <div class="col-md-3">
                                        <label><i class="fa fa-sort-numeric-asc"></i>{{"PF No." | translate }} </label>
                                        <div ng-class="{'has-error': !myForm.comp_fax_no.$valid && (myForm.comp_fax_no.$touched || myForm.$submitted) }">
                                            <input type="text" class="k-textbox input-sm full-width" id="Text14" name="comp_fax_no" ng-model="edt.comp_pf_number" />

                                        </div>


                                    </div>

                                    <div class="col-md-3">
                                        <label id="Label3" for="txt_provision_number" class="form-label"><i class="fa fa-calendar"></i>{{" PF reg.Date"| translate }}</label>
                                        <input type="text" id="to_date" name="sdate" class="k-textbox input-sm full-width" ng-model="edt.comp_pf_reg_date">
                                    </div>

                                    <div class="col-md-3">
                                        <label id="PF_Posting1" for="txt_Country_Code"><i class="fa fa-accounts"></i>{{" PF Posting A/C"| translate }} </label>
                                        <select id="PF_Posting" style="width: 100%" ng-model="edt.comp_pf_posting_account_code" name="sims_goal">
                                            <option value="">Please Select</option>
                                            <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                                value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                            </option>
                                        </select>
                                    </div>


                                    <div class="col-md-3">
                                        <label><i class="fa fa-sort-numeric-asc"></i>{{"Sales Tax No." | translate }} </label>
                                        <div ng-class="{'has-error': !myForm.comp_fax_no.$valid && (myForm.comp_fax_no.$touched || myForm.$submitted) }">
                                            <input type="text" class="k-textbox input-sm full-width" id="Text17" name="comp_fax_no" ng-model="edt.comp_sales_tax_number" />

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="com-md-12">
                                <div class="row form-row">

                                    <div class="col-md-3">
                                        <label id="Label4" for="txt_provision_number" class="form-label"><i class="fa fa-calendar"></i>{{" Sales Tax reg.Date"| translate }}</label>
                                        <input type="text" id="to_date" name="sdate" class="k-textbox input-sm full-width" ng-model="edt.comp_sales_tax_reg_date">
                                    </div>

                                    <div class="col-md-3">
                                        <label id="Sales_Tax_Posting1" for="txt_Country_Code">{{"Sales Tax Posting A/C"| translate }} </label>
                                        <select id="Sales_Tax_Posting" style="width: 100%" ng-model="edt.comp_sales_tax_posting_account_code" name="sims_goal">
                                            <option value="">Please Select</option>
                                            <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                                value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="col-md-3">
                                        <label><i class="fa fa-sort-numeric-asc"></i>{{"VAT No." | translate }} </label>
                                        <div ng-class="{'has-error': !myForm.comp_fax_no.$valid && (myForm.comp_fax_no.$touched || myForm.$submitted) }">
                                            <input type="text" class="k-textbox input-sm full-width" id="Text18" name="comp_fax_no" ng-model="edt.comp_vat_number" />

                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label id="Label6" for="txt_provision_number" class="form-label"><i class="fa fa-calendar"></i>{{" VAT Reg.Date"| translate }}</label>
                                        <input type="text" id="to_date" name="sdate" class="k-textbox input-sm full-width" ng-model="edt.comp_vat_reg_date">
                                    </div>



                                </div>
                            </div>

                            <div class="com-md-12">
                                <div class="row form-row">
                                    <div class="col-md-2">
                                        <label id="Label8" for="txt_Country_Code">{{"VAT Posting A/C"| translate }} </label>
                                        <select id="VAT_Posting" style="width: 100%" ng-model="edt.comp_vat_posting_account_code" name="sims_goal">
                                            <option value="">Please Select</option>
                                            <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                                value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="col-md-2">
                                        <label id="inpitLabel8" for="txt_Country_Code">{{"Input VAT Posting A/C"| translate }} </label>
                                        <select id="Input_VAT_Posting" style="width: 100%" ng-model="edt.comp_input_vat_posting_account_code" name="sims_input_goal">
                                            <option value="">Please Select</option>
                                            <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                                    value="{{i.gldd_acct_code}}">
                                                {{i.gldd_acct_name}}
                                            </option>
                                        </select>
                                    </div>                                   

                                    <div class="col-md-2">
                                        <label id="Label113" for="txt_full_name">{{"VAT Enable"| translate }}</label>
                                        <div class="row-fluid">
                                            <div class="checkbox check-success">
                                                <input id="checkbox3" class="k-checkbox" type="checkbox" ng-model="edt.include_vat_enable_status">
                                                <label for="checkbox3"></label>
                                            </div>
                                        </div>
                                    </div>
                                  

                                    <div class="col-md-3">
                                        <label id="Label13" for="txt_full_name">{{"VAT Roundup Calculation"| translate }}</label>
                                        <div class="row-fluid">
                                            <div class="checkbox check-success">
                                                <input id="checkbox2" class="k-checkbox" type="checkbox" ng-model="edt.comp_vat_roundup_calculation">
                                                <label for="checkbox2"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label id="Label9" for="txt_Country_Code">{{"VAT Roundup Posting A/C"| translate }}</label>
                                        <select id="VAT_Roundup_Posting" style="width: 100%" ng-model="edt.comp_vat_roundup_posting_account_code" name="sims_goal">
                                            <option value="">Please Select</option>
                                            <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                                value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                            </option>
                                        </select>
                                    </div>


                                </div>
                            </div>

                            <div class="form-actions">
                            <div class="pull-right">
                                <button class="btn btn-primary btn-cons" type="submit" ng-show="save1"><i class="icon-ok"></i>{{"Save"| translate }}</button>
                                <button class="btn btn-primary btn-cons" type="button" ng-click="Update()" ng-show="update1"><i class="icon-ok"></i>{{"Update" | translate}}</button>
                                <button class="btn btn-danger btn-cons" type="button" ng-click="Delete()" ng-show="delete1"><i class="icon-ok"></i>{{"Delete" | translate}}</button>
                                <button class="btn btn-danger btn-cons" type="button" ng-click="cancel()">{{"Cancel" | translate}}</button>
                            </div>
                        </div>-->
                        </div>

                        
                    <!--</form>-->
                </div>
                

                <div ng-show="grid">
                    <div class="row" style="margin-top: 3px;margin-bottom: 3px;">
                        <div class="col-md-6">
                            <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                <option value="10" class=" form-control input-sm">10
                                </option>

                                <option value="20" class=" form-control input-sm">20
                                </option>

                                <option value="All" class=" form-control input-sm">All
                                </option>
                            </select>

                            &nbsp;
                        <button class="btn btn-success btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New" |translate}}</button>
                            &nbsp;
                        <button class="btn btn-danger btn-small" type="button" ng-click="Delete()"><span class="semi-bold"></span>{{"Delete" | translate}}</button>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <div class="dataTables_filter" id="example_filter">
                                    <span class="k-textbox k-space-right full-width">
                                        <input type="text" aria-controls="example" placeholder="Search ..." ng-model="searchText" ng-change="search();" class="k-textbox" autofocus="true">
                                        <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <!--<div style="width: 100%;  height: 320px; overflow-x: auto; overflow-y: auto">-->
                        <div class="row" style="margin-left: 0px;margin-right: 0px;">
                            <!--<div class="col-md-12">-->
                                <table class="table table-hover table-bordered table-condensed" id="Table1" aria-describedby="example2_info">
                                    <thead style="background-color: #edefef">
                                        <tr>
                                            <th><i class="fa fa-plus"></i>{{"More" | translate}}</th>

                                            <th class="small-cell v-align-middle">
                                                <div class="checkbox check-success">
                                                    <input type="checkbox" name="check" class="k-checkbox" value="1" id="mainchk" ng-click="multipledelete();" class="checkall">
                                                    <label for="mainchk"></label>
                                                </div>
                                            </th>

                                            <th class="semi-bold" ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                                <!--<label>-->
                                                <!--<b><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span>-->
                                                <!--<span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;-->
                                                <i class="fa fa-sort-numeric-asc"></i>{{"Company Code" | translate}}

                                        <!--</a></b></label></td>-->

                                                <th class="semi-bold"><i class="fa fa-building"></i>{{"Company Name" | translate}}</th>
                                            <th class="semi-bold"><i class="fa fa-building"></i>{{"Company Short Name" | translate}}</th>
                                            <th class="semi-bold" ng-show="hide">{{"Enable Check Digit" | translate}}</th>
                                            <th class="semi-bold"><i class="fa fa-money"></i>{{"Allow Multi Currency" | translate}}</th>
                                            <th class="semi-bold"><i class="fa fa-bookmark"></i>{{"Company Setup Status" | translate}}</th>
                                            <th class="semi-bold">{{"Action" | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="info in filteredTodos" class="row1">
                                            <td class="text-center"><i class="{{info.icon}}" ng-click="expand(info, $event);"></i></td>
                                            <td>
                                                <div class="checkbox check-success" style="height: 20px">
                                                    <input type="checkbox" name="check" class="k-checkbox" value="1" id="{{info.comp_code+$index}}" ng-click="delete_onebyone(info.comp_code)" />
                                                    <label for="{{info.comp_code+$index}}"></label>
                                                </div>
                                            </td>
                                            <td>{{info.comp_code}}</td>
                                            <td>{{info.comp_name}}</td>
                                            <td>{{info.comp_short_name}}</td>

                                            <!--  <td>{{info.comp_enable_chk_dgt}}</td>
                                      <td>{{info.comp_allow_multi_curcy}}</td>-->
                                            <td ng-show="hide">
                                                <div class="checkbox check-success" style="height: 20px">
                                                    <input type="checkbox" name="check" value="1" checked="checked" ng-model="info.comp_enable_chk_dgt" id="Checkbox3" />
                                                    <label for="{{info.comp_enable_chk_dgt}}"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkbox check-success" style="height: 20px">
                                                    <input type="checkbox" name="check" value="1" checked="checked" ng-model="info.comp_allow_multi_curcy" id="Checkbox1" />
                                                    <label for="{{info.comp_allow_multi_curcy}}"></label>
                                                </div>
                                            </td>

                                            <td class="v-align-middle">
                                                <span ng-if="info.comp_setup_status==true" class="label label-success">{{"Active" | translate}}</span>
                                                <span ng-if="info.comp_setup_status==false" class="label label-important">{{"In active" | translate}}</span>
                                            </td>


                                            <td><a href=""><i class="fa fa-edit" ng-click="edit(info)"></i></a></td>
                                        </tr>
                                    </tbody>

                                </table>
                            <!--</div>-->
                        </div>
                        <div class="row" ng-show="pager">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                        </paging>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
                </div>
            <div class="raw">
                        <div class="paddingcode" style="background-color: white;">
                            <div ng-show="display">
                            <div class="com-md-12">
                                <div class="row form-row">
                                    <div class="col-md-3">
                                        <label><i class="fa fa-sort-numeric-asc"></i>{{"Incorporation No" | translate }} </label>
                                        <div ng-class="{'has-error': !myForm.comp_fax_no.$valid && (myForm.comp_fax_no.$touched || myForm.$submitted) }">
                                            <input type="text" class="k-textbox input-sm full-width" id="Text5" name="comp_fax_no" ng-model="edt.comp_incorporation_number" />

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="Label5" for="txt_provision_number" class="form-label"><i class="fa fa-calendar"></i>{{"Incorporation reg.Date"| translate }}</label>
                                        <input type="text" id="Text12" name="sdate" class="k-textbox input-sm full-width" ng-model="edt.comp_incorporation_reg_date" />
                                    </div>

                                    <div class="col-md-3">
                                        <label id="Label7" for="txt_provision_number" class="form-label"><i class="fa fa-calendar"></i>{{"Incorporation Renewal.Date"| translate }}</label>
                                        <input type="text" id="Text15" name="sdate" class="k-textbox input-sm full-width" ng-model="edt.comp_incorporation_renewal_date" />
                                    </div>

                                    <div class="col-md-3">
                                        <label><i class="fa fa-calendar"></i>{{"Renewal Remind days" | translate }} </label>
                                        <div ng-class="{'has-error': !myForm.comp_fax_no.$valid && (myForm.comp_fax_no.$touched || myForm.$submitted) }">
                                            <input type="text" class="k-textbox input-sm full-width" id="Text16" name="comp_fax_no" ng-model="edt.comp_incorporation_renewal_remind_days" ng-change="valid365(edt.comp_incorporation_renewal_remind_days)" />

                                        </div>



                                    </div>
                                </div>


                            </div>

                            <div class="com-md-12">
                                <div class="row form-row">

                                    <div class="col-md-3">
                                        <label><i class="fa fa-sort-numeric-asc"></i>{{"PF No." | translate }} </label>
                                        <div ng-class="{'has-error': !myForm.comp_fax_no.$valid && (myForm.comp_fax_no.$touched || myForm.$submitted) }">
                                            <input type="text" class="k-textbox input-sm full-width" id="Text19" name="comp_fax_no" ng-model="edt.comp_pf_number" />

                                        </div>


                                    </div>

                                    <div class="col-md-3">
                                        <label id="Label10" for="txt_provision_number" class="form-label"><i class="fa fa-calendar"></i>{{"PF reg.Date"| translate }}</label>
                                        <input type="text" id="Text21" name="sdate" class="k-textbox input-sm full-width" ng-model="edt.comp_pf_reg_date">
                                    </div>

                                    <div class="col-md-3">
                                        <label id="Label11" for="txt_Country_Code"><i class="fa fa-sort-numeric-asc"></i>{{"PF Posting A/C"| translate }} </label>
                                        <select id="PF_Posting" style="width: 100%" ng-model="edt.comp_pf_posting_account_code" name="sims_goal">
                                            <option value="">Please Select</option>
                                            <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                                value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                            </option>
                                        </select>
                                    </div>


                                    <div class="col-md-3">
                                        <label><i class="fa fa-sort-numeric-asc"></i>{{"Sales Tax No." | translate }} </label>
                                        <div ng-class="{'has-error': !myForm.comp_fax_no.$valid && (myForm.comp_fax_no.$touched || myForm.$submitted) }">
                                            <input type="text" class="k-textbox input-sm full-width" id="Text22" name="comp_fax_no" ng-model="edt.comp_sales_tax_number" />

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="com-md-12">
                                <div class="row form-row">

                                    <div class="col-md-3">
                                        <label id="Label12" for="txt_provision_number" class="form-label"><i class="fa fa-calendar"></i>{{"Sales Tax reg.Date"| translate }}</label>
                                        <input type="text" id="Text23" name="sdate" class="k-textbox input-sm full-width" ng-model="edt.comp_sales_tax_reg_date">
                                    </div>

                                    <div class="col-md-3">
                                        <label id="Label14" for="txt_Country_Code"><i class="fa fa-sort-numeric-asc"></i>{{"Sales Tax Posting A/C"| translate }} </label>
                                        <select id="Sales_Tax_Posting" style="width: 100%" ng-model="edt.comp_sales_tax_posting_account_code" name="sims_goal">
                                            <option value="">Please Select</option>
                                            <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                                value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="col-md-3">
                                        <label><i class="fa fa-sort-numeric-asc"></i>{{"VAT No." | translate }} </label>
                                        <div ng-class="{'has-error': !myForm.comp_fax_no.$valid && (myForm.comp_fax_no.$touched || myForm.$submitted) }">
                                            <input type="text" class="k-textbox input-sm full-width" id="Text24" name="comp_fax_no" ng-model="edt.comp_vat_number" />

                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label id="Label15" for="txt_provision_number" class="form-label"><i class="fa fa-calendar"></i>{{"VAT Reg.Date"| translate }}</label>
                                        <input type="text" id="Text25" name="sdate" class="k-textbox input-sm full-width" ng-model="edt.comp_vat_reg_date">
                                    </div>



                                </div>
                            </div>

                            <div class="com-md-12">
                                <div class="row form-row">
                                    <div class="col-md-2">
                                        <label id="Label16" for="txt_Country_Code"><i class="fa fa-sort-numeric-asc"></i>{{"VAT Posting A/C"| translate }} </label>
                                        <select id="VAT_Posting" style="width: 100%" ng-model="edt.comp_vat_posting_account_code" name="sims_goal">
                                            <option value="">Please Select</option>
                                            <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                                value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="col-md-2">
                                        <label id="Label17" for="txt_Country_Code"><i class="fa fa-sort-numeric-asc"></i>{{"Input VAT Posting A/C"| translate }} </label>
                                        <select id="Input_VAT_Posting" style="width: 100%" ng-model="edt.comp_input_vat_posting_account_code" name="sims_input_goal">
                                            <option value="">Please Select</option>
                                            <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                                    value="{{i.gldd_acct_code}}">
                                                {{i.gldd_acct_name}}
                                            </option>
                                        </select>
                                    </div>                                   

                                    <div class="col-md-2">
                                        <label id="Label18" for="txt_full_name"><i class="fa fa-bookmark"></i>{{"VAT Enable"| translate }}</label>
                                        <div class="row-fluid">
                                            <div class="checkbox check-success">
                                                <input id="checkbox7" class="k-checkbox" ng-change="IsChecked()" type="checkbox" ng-model="edt.include_vat_enable_status">
                                                <label for="checkbox7"></label>
                                            </div>
                                        </div>
                                    </div>
                                  <div class="col-md-2">
                                        <label id="Label1" for="txt_full_name"><i class="fa fa-bookmark"></i>{{"VAT Percentage"| translate }}</label>
                                        <input id="vat_percentage" ng-disabled="vat_percentage" name="vat_percentage" class="form-control" type="text" ng-model="edt.comp_vat_per">
                                           
                                    </div>

                                    <div class="col-md-3">
                                        <label id="Label19" for="txt_full_name"><i class="fa fa-bookmark"></i>{{"VAT Roundup Calculation"| translate }}</label>
                                        <div class="row-fluid">
                                            <div class="checkbox check-success">
                                                <input id="checkbox8" class="k-checkbox" type="checkbox" ng-model="edt.comp_vat_roundup_calculation">
                                                <label for="checkbox8"></label>
                                            </div>
                                        </div>
                                    </div>

                                  </div>
                            </div>   

                                    <!--<div class="form-actions">-->
                             <div class="com-md-12"> 
                                 <div class="row form-row">
                                 <div class="col-md-3">
                                        <label id="Label20" for="txt_Country_Code"><i class="fa fa-sort-numeric-asc"></i>{{"VAT Roundup Posting A/C"| translate }}</label>
                                        <select id="VAT_Roundup_Posting" style="width: 100%" ng-model="edt.comp_vat_roundup_posting_account_code" name="sims_goal">
                                            <option value="">Please Select</option>
                                            <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                                value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                            </option>
                                        </select>
                                    </div>
                                 <div class="col-md-2">
                                    <label><i class="fa fa-sort-numeric-asc"></i>{{"Final P&L Account"|translate}}</label>
                                      <select id="final_pl_acct" style="width: 100%" ng-model="edt.comp_final_pl_acct" name="sims_final_pl_acct">
                                            <option value="">Please Select</option>
                                            <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                                value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                            </option>
                                        </select>
                                 </div>
                                  <!-- <div class="col-md-2">
                        <label><i class="fa fa-sort-numeric-asc"></i>{{"Final P&L Account"|translate}}</label>
                            <input style="width:200px" type="text" id="rcbItem" list="languages" tabindex="10"  ng-model="edt.comp_input_pl_posting_account_code" class="form-control input-sm"  > 
                            <datalist id="languages">
                              <option value="">Please Select</option>
                                            <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                                    value="{{i.gldd_acct_name}}">
                                              
                                            </option>
                            </datalist>
                    </div>-->
                            <div class="col-md-7">
                                <label>&nbsp;</label>
                            <div class="pull-right">
                                <button class="btn btn-primary btn-cons" type="submit" ng-show="save1"><i class="icon-ok"></i>{{"Save"| translate }}</button>
                                <button class="btn btn-primary btn-cons" type="button" ng-click="Update()" ng-show="update1"><i class="icon-ok"></i>{{"Update" | translate}}</button>
                                <button class="btn btn-danger btn-cons" type="button" ng-click="Delete()" ng-show="delete1"><i class="icon-ok"></i>{{"Delete" | translate}}</button>
                                <button class="btn btn-danger btn-cons" type="button" ng-click="cancel()">{{"Cancel" | translate}}</button>
                            </div>
     </div>
                      
                                     </div>           </div>
                        <!--</div>-->

                               

                            
                            </div>
                        </div>
                </div>
            </form>
        </div>
</div>
</div>

<script src="assets/js/calender-datepicker-id.js"></script>


