﻿<style>
    .sortorder:after {
        content: '\25b2';
    }

    .sortorder.reverse:after {
        content: '\25bc';
    }
</style>
<style>
    .k-textbox .k-icon {
    top: 50%;
    margin: -9px -9px 0;
    position: absolute;
}
    .k-input {
    padding: 0em;
    margin-top:0px;
}
</style>

<div class="loading-middle" ng-hide="display">
    {{ "Loading..." | translate }}
</div>

<div class="row">


    <div class="row" ng-show="notshow">
        <div class="col-xs-4">
            <div class="well" class="form-group">
                <div class="form-group">
                    <label>Current Page:</label>
                    <input
                        placeholder="page"
                        class="form-control"
                        ng-model="currentPage"
                        ng-init="currentPage = 1" />
                </div>
                <div class="form-group">
                    <label>Page Size:</label>
                    <input
                        placeholder="Page Size"
                        class="form-control"
                        ng-model="numPerPage" />
                </div>
                <div class="form-group">
                    <label>Total Items:</label>
                    <input
                        placeholder="Total"
                        class="form-control"
                        ng-model="pagersize" />
                </div>
                <hr />
                <div class="form-group">
                    <label>Dots Display:</label>
                    <input
                        placeholder="..."
                        class="form-control"
                        maxlength="3"
                        ng-model="dots"
                        ng-init="dots = '...'" />
                </div>

                <hr />
                <div class="form-group">
                    <label>UL Class:</label>
                    <input
                        placeholder="pagination"
                        class="form-control"
                        maxlength="100"
                        ng-model="ulClass" />
                </div>
                <div class="form-group">
                    <label>Active Class:</label>
                    <input
                        placeholder="active"
                        class="form-control"
                        maxlength="100"
                        ng-model="activeClass"
                        ng-init="activeClass = 'active'" />
                </div>
                <div class="form-group">
                    <label>Disabled Class:</label>
                    <input
                        placeholder="disabled"
                        class="form-control"
                        maxlength="100"
                        ng-model="disabledClass"
                        ng-init="disabledClass = 'disabled'" />
                </div>
                <br />
                <table class="table">

                    <tr>
                        <td>
                            <label>Show Prev Next:</label></td>
                        <td>
                            <input
                                type="checkbox"
                                ng-model="showPrevNext"
                                ng-init="showPrevNext = true" />
                            {{showPrevNext}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Show First Last:</label></td>
                        <td>
                            <input
                                type="checkbox"
                                ng-model="showFirstLast"
                                ng-init="showFirstLast = true" />
                            {{showPrevNext}}
                        </td>
                    </tr>
                </table>
                <hr />
                <span class="btn btn-default" onclick="location.reload()">
                    <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                </span>
                <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                </span>
                <br />
                <br />
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <!--<div class="grid simple">-->
            <div class="page-title">
                <h3><span class="semi-bold">{{"Create Edit Account Code"|translate}}</span></h3>
            </div>
            <div class="raw">
            <div  class="grid-body no-border" style="background-color:transparent;">
            <!--<div class="grid-body no-border">-->
                    <form name="MyForm" ng-submit="Save(MyForm.$valid)" novalidate="novalidate">
                        <div class="row paddingcode bluegrid"style="margin-left:-7px;margin-right:-7px;">
                            <div class="col-md-12">
                                <div class="row form-row">
                                    <div class="col-md-2">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <label><i class="fa fa-dashboard"></i>{{"Schedule Code"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                            </div>
                                            <div class="col-md-12">

                                           <select id="account_codes3"  style="width:100%" ng-model="edt.glac_sched_code"  ng-change="searchScheduleCode()" name="cmb_Schedule_Code"  required>
                                                <option value="">Please Select</option>
                                                <option ng-repeat="i in Schedule_Code" ng-if="i.glac_sched_code.length"
                                                        value="{{i.glac_sched_code}}">
                                                    {{i.glac_sched_desc}}
                                                </option>
                                            </select>

                                             <!--   <select data-role="dropdownlist" class="form-control input-sm full-width" name="cmb_Schedule_Code" id="cmb_Schedule_Code" ng-model="edt.glac_sched_code" required>
                                                    <option value="" selected disabled>Please Select</option>
                                                    <option ng-repeat="sc in Schedule_Code" value="{{sc.glac_sched_code}}">{{sc.glac_sched_desc}}</option>
                                                </select>-->


                                              <label>
                                                    <span style="color: red" ng-show="MyForm.cmb_Schedule_Code.$dirty && MyForm.cmb_Schedule_Code.$invalid || MyForm.$submitted">
                                                        <span ng-show="MyForm.cmb_Schedule_Code.$error.required">Code field is required</span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    

                                    <div class="col-md-1">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <label><i class="fa fa-dashboard"></i>{{"Code"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                            </div>
                                            <div class="col-md-12">
                                                <input class="k-textbox input-sm full-width" id="txt_code" limit-to="4" name="txt_code" type="text" ng-disabled="dis_acct_code" ng-model="edt.glac_acct_code"  ng-blur="displayAccount();AddDisplayAC();" ng-change="searchCode()" required ng-maxlength="4" />
                                            </div>
                                             <label>
                                                <span style="color: red" ng-show="MyForm.txt_code.$dirty && MyForm.txt_code.$invalid || MyForm.$submitted">
                                                    <span ng-show="MyForm.txt_code.$error.maxlength">only 4 Digits allowed</span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <label><i class="fa fa-money"></i>{{"Display Account"|translate}}</label>
                                            </div>
                                            <div class="col-md-12">
                                                <input class="k-textbox input-sm full-width"  ng-maxlength="20" ng-change="searchDisplayCode()" limit-to="20" id="Text1" type="text" ng-model="edt.glac_display_acct_code"
                                                    />
                                            </div>
                                             <label>
                                                <span style="color: red" ng-show="MyForm.glac_display_acct_code.$dirty && MyForm.glac_display_acct_code.$invalid || MyForm.$submitted">
                                                    <span ng-show="MyForm.glac_display_acct_code.$error.maxlength">only 20 Digits allowed</span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <label><i class="fa fa-user"></i>{{"Name"|translate}}</label>
                                            </div>
                                            <div class="col-md-12">
                                                <input class="k-textbox input-sm full-width" id="txt_name" type="text" ng-model="edt.glac_name"
                                                    ng-keyup="upperCase(edt.glac_name)" ng-change="searchName()" ng-blur="displayAccount()"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <label><i class="fa fa-bookmark-o"></i>{{"Type"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                            </div>
                                            <div class="col-md-12">
                                                <select data-role="dropdownlist" class="form-control input-sm full-width" name="cmb_type" id="cmb_type" ng-model="edt.glac_type_code" required>
                                                    <option value="" selected disabled>Please Select</option>
                                                    <option ng-repeat="act in All_Account_Types" value="{{act.glac_type_code}}">{{act.glac_type}}</option>
                                                </select>

                                                <label>
                                                    <span style="color: red" ng-show="MyForm.cmb_type.$dirty && MyForm.cmb_type.$invalid || MyForm.$submitted">
                                                        <span ng-show="MyForm.cmb_type.$error.required">Code field is required</span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <label><i class="fa fa-money"></i>{{"Parent Account"|translate}}</label>
                                            </div>
                                            <div class="col-md-12">

                                                 <select id="account_codes4"  style="width:100%" ng-model="edt.glac_parent_acct_code"   name="cmb_parent_Account">
                                                <option value="">Please Select</option>
                                                <option ng-repeat="i in All_Parent_Accounts" ng-if="i.glac_parent_acct_code.length"
                                                        value="{{i.glac_parent_acct_code}}">
                                                    {{i.glac_parent_acct}}
                                                </option>
                                            </select>

                                            </div>
                                        </div>
                                    </div>
                                
                                    </div>
                                   
                                </div>
                            <div class="col-md-12">
                                <div class="row form-row">
                                     
                                        <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label><i class="fa fa-pencil-square-o"></i>&nbsp;{{"Department"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                        </div>
                                        <div class="col-md-12">
                                            <select class="form-control input-sm" id="cmb_glma_dept_no" multiple="multiple"  name="cmb_glma_dept_no"  ng-model="edt.glma_dept_no"  required >
                                         
                                                <option ng-repeat="act in GetAll_glmaster_Department_Code" value="{{act.glma_dept_no}}">{{act.department_name}}</option>
                                            </select>
                                       <label>
                                <span style="color: red" ng-show="MyForm.glma_dept_no.$dirty && MyForm.glma_dept_no.$invalid || MyForm.$submitted">
                                    <span ng-show="MyForm.glma_dept_no.$error.required">{{"This field is required"|translate}}</span>
                                </span>
                            </label>
                           

                                        </div>
                                    </div>
                                </div>
                                    <div class="col-md-1" style="margin-left:20px;">
                                           
                                            <div>
                                                 <label><i class="fa fa-bookmark"></i>{{"Status"|translate}}</label>
                                                <div class="checkbox check-success" style="margin-top:14px;">
                                                    <input type="checkbox" class="k-checkbox" name="check" value="1" id="chk_post_all" checked="checked" ng-model="edt.glac_status">
                                                    <label for="chk_post_all"></label>
                                                </div>
                                           </div>
                                        
                                      </div>     
                                    <div class="col-md-2">
                                                  <label><i class="fa fa-sticky-note"></i>{{"Manual Posting Allowed"|translate}}</label>
                                        <div class="checkbox check-success" style="margin-top:14px;">
                                            <input type="checkbox" class="k-checkbox" name="check" value="1" id="post_stat" checked="checked" ng-model="edt.glac_post_allow">
                                            <label for="post_stat"></label>
                                        </div>
                                     </div>
                                </div>

                            </div>
                          
                        </div>

                    </form>
               
                    <div class="row paddingcode" style="background-color:white;margin-top:7px;margin-left:-7px;margin-right:-7px;">
                        <div class="col-md-6">
                            <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                                 <option value="All" class=" form-control input-sm">All
                                </option>
                                <option value="10" class=" form-control input-sm">10
                                </option>
                                <option value="20" class=" form-control input-sm">20
                                </option>
                                
                            </select>
                            &nbsp;
                        <button class="btn btn-danger btn-small" type="button" ng-click="Delete()"><span class="semi-bold"></span>{{"Delete"|translate}}</button>
                            <div class="pull-right">
                                <!--<button type="submit" class="btn btn-primary btn-sm btn-small" ng-show="save">{{"Save"|translate}}</button>&nbsp;-->
                                <button type="button" class="btn btn-primary btn-sm btn-small" ng-show="save" ng-click="Save(true)"style="margin-right:445px;">{{"Save"|translate}}</button>&nbsp;
                                <button type="button" class="btn btn-primary btn-sm btn-small" ng-click="Update()" ng-hide="save">{{"Update"|translate}}</button>
                                <button type="button" class="btn btn-warning btn-sm btn-small" ng-click="Reset()"style="margin-left:-447px;">{{"Reset"|translate}}</button>
                            </div>
                        </div>
                      
                        <div class="col-md-4">
                            
                        </div>

                          <div class="col-md-2">
                              <div class="pull-right">
                                  <div class="dataTables_filter" id="example_filter">
                                      <!-- <label>
                 {{"Search"|translate}} &nbsp;
             <input type="text" aria-controls="example" ng-model="searchText" class="k-textbox" ng-change="search()"></label>-->
                                      <span class="k-textbox k-space-right full-width">
                                          <input type="text" aria-controls="example" ng-model="searchText" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                                          <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                      </span>
                                  </div>
                              </div>
                         </div>
                    </div>
                   
                    <div id="example_wrapper" class="dataTables_wrapper form-inline" style="padding-top: 0px">
                       <div class="row paddingcode"style="margin-left:-7px;margin-right:-7px;background-color:white;">
                            <div class="col-md-12">
                         <div style="width: 100%; height: auto; overflow-x: auto; overflow-y: auto;margin-top: -5px;">
                            <table class="table table-bordered table-condensed" id="fixTable">
                                <thead>
                                    <tr style="background-color: #edefef">
                                        <th class="small-cell v-align-middle" style="z-index: 1">
                                            <div class="checkbox check-success">
                                                <input type="checkbox" class="k-checkbox" name="check" value="1" id="mainchk" ng-click="check();">
                                                <label for="mainchk"></label>
                                            </div>
                                        </th>

                                        <th class="semi-bold" ng-click="sortBy('comp_name')"><i class="fa fa-building"></i>{{"Company Name"| translate }}
                                       <span class="sortorder" ng-show="propertyName === 'comp_name'" ng-class="{reverse: reverse}"></span>
                                        </th>
                                        <th class="semi-bold" ng-click="sortBy('glac_sched_code')"><i class="fa fa-dashboard"></i>{{"Schedule Code"| translate }}
                                     <span class="sortorder" ng-show="propertyName === 'glac_sched_code'" ng-class="{reverse: reverse}"></span>
                                        </th>
                                        <th class="semi-bold" ng-click="sortBy('glac_acct_code')"><i class="fa fa-dashboard"></i>{{"Account Code"| translate }}
                                     <span class="sortorder" ng-show="propertyName === 'glac_acct_code'" ng-class="{reverse: reverse}"></span>
                                        </th>
                                          <th class="semi-bold" ng-click="sortBy('glac_display_acct_code')"><i class="fa fa-money"></i>{{"Display Account"| translate }}
                                     <span class="sortorder" ng-show="propertyName === 'glac_display_acct_code'" ng-class="{reverse: reverse}"></span>
                                        </th>
                                        <th class="semi-bold" ng-click="sortBy('glac_name')"><i class="fa fa-user"></i>{{"Name"| translate }}
                                         <span class="sortorder" ng-show="propertyName === 'glac_name'" ng-class="{reverse: reverse}"></span>
                                        </th>
                                        <th class="semi-bold" ng-click="sortBy('glac_type')"><i class="fa fa-bookmark-o"></i>{{"Type"| translate }}
                                     <span class="sortorder" ng-show="propertyName === 'glac_type'" ng-class="{reverse: reverse}"></span>
                                        </th>
                                        
                                        <th class="semi-bold" ng-click="sortBy('glac_parent_acct')"><i class="fa fa-money"></i>{{"Parent Account"| translate }}
                                     <span class="sortorder" ng-show="propertyName === 'glac_parent_acct'" ng-class="{reverse: reverse}"></span>
                                        </th>
                                       
                                        <th class="semi-bold"  style="z-index: 1" ng-click="sortBy('glac_status')"><i class="fa fa-bookmark"></i>{{"Status"| translate }}
                                     <span class="sortorder" ng-show="propertyName === 'glac_status'" ng-class="{reverse: reverse}"></span>
                                        </th>
                                         <th class="semi-bold"><i class="fa fa-sticky-note"></i>{{"Manual Posting Allowed"| translate }}</th>





                                        <!-- <th class="semi-bold" ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                            <label>
                                                <b><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span>
                                                    <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"COMPANY NAME"|translate}}</a></b></label></th>
                                        <th class="semi-bold">{{"ACCOUNT CODE"|translate}}</th>
                                        <th class="semi-bold">{{"NAME"|translate}}</th>
                                        <th class="semi-bold">{{"TYPE"|translate}}</th>
                                        <th class="semi-bold">{{"SCHEDULE CODE"|translate}}</th>
                                        <th class="semi-bold">{{"PARENT ACCOUNT"|translate}}</th>
                                        <th class="semi-bold" style="z-index: 1">{{"POST ALL"|translate}}</th>-->
                                    </tr>
                                </thead>
                                <tr ng-repeat="info in filteredTodos | orderBy:propertyName:reverse" ng-class="row1" ng-dblclick="edit(info)">
                                    <td>
                                        <div class="checkbox check-success" style="height: 20px">
                                            <input type="checkbox" name="check" value="1" id="{{info.glac_acct_code}}" ng-click="check1(info.glac_acct_code);">
                                            <label for="{{info.glac_acct_code}}"></label>
                                        </div>
                                    </td>
                                    <td>{{info.comp_name}}</td>
                                    <td>{{info.glac_sched_code}}</td>
                                    <td>{{info.glac_acct_code}}</td>
                                    <td>{{info.glac_display_acct_code}}</td>
                                    <td>{{info.glac_name}}</td>
                                    <td>{{info.glac_type}}</td>
                                    <td>{{info.glac_parent_acct}}</td>
                                    <td class="v-align-middle">
                                        <div class="checkbox check-success">
                                            <input type="checkbox" name="check" class="k-checkbox" value="1" id="Checkbox1" ng-model="info.glac_status" onclick="return false;" />
                                            <label for="Checkbox1"></label>
                                        </div>
                                    </td>
                                    
                                        
                                    <td class="v-align-middle">
                                        <span ng-if="info.glac_post_allow==true" class="label label-success">{{"Yes"| translate }}</span>
                                        <span ng-if="info.glac_post_allow==false" class="label label-important">{{"No"| translate }}</span>

                                 
                                    </td>
                                </tr>
                            </table>
                        </div>
                                </div>
                           
                        <div class="row" ng-show="pager">
                            <div class="col-md-12">
                                    <div class="pull-right">
                                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                            ng-click="index(currentPage)">
                            </paging>
                                    </div>
                                </div>

                        </div>
                           </div>
                    </div>
                </div>
                </div>
        <!--End Table/Grid-->
    </div>
</div>
 </div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

<script src="assets/js/tableHeadFixer.js"></script>
