﻿<!DOCTYPE html>
<html>
<body>

    <div class="grid simple">
        <div class="grid-body no-border">
            <div class="row" ng-hide="display">

                <div class="col-md-2">
                    <label id="Label" for="txt_Nationality_Code" class="form-label">{{"Company"|translate}}<span style="color:red">*</span></label>
                    <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width"
                            ng-model="temp.comp_code" ng-selected="" name="sims_cur_code" ng-change="getAllLedgerCode(temp.comp_code);"
                            ng-options="cur.comp_code as cur.comp_name for cur in sims_cur" required></select>
                </div>              
               
                <div class="col-md-2">
                    <label id="Label" for="txt_Nationality_Code" class="form-label">{{"Ledger Code"|translate}}<span style="color:red">*</span></label>
                    <select id="grade_box" data-role="dropdownlist" multiple="multiple"
                            ng-model="temp.sllc_ldgr_code" name="sims_grade_code">
                        <option ng-repeat="cur in ledger_code" value="{{cur.sllc_ldgr_code}} ">{{cur.sllc_ldgr_type}}</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <label class="ng-binding">{{"Start Date"|translate}} </label>
                    <!--<div class="input-append success  no-padding" data-datepicker="true" style="width: auto">-->
                    <span class="k-widget k-datepicker k-header k-textbox input-sm full-width k-input" style="width: 100%;">
                        <span class="k-picker-wrap k-state-default">
                            <input type="text" id="from_date" name="start_date"
                                   class="k-textbox input-sm full-width k-input ng-pristine ng-valid ng-touched" ng-model="mom_start_date "
                                   ng-change="" data-role="datepicker" role="combobox" aria-expanded="false" peaceholer="Select Date"
                                   aria-owns="start_date_dateview" aria-disabled="false" aria-readonly="false" style="width: 100%;"
                                   aria-activedescendant="8a8a008b-1b3c-42a7-be94-431c355f22e6_cell_selected">
                            <span unselectable="on" class="k-select" role="button" aria-controls="start_date_dateview">
                                <span unselectable="on" class="k-icon k-i-calendar">select</span>
                            </span>
                        </span>
                    </span>
                    <!-- <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
        </div>  -->
                </div>

                <div class="col-md-2">
                    <label class="ng-binding">{{"End Date"|translate}} </label>
                    <!--<div class="input-append success  no-padding" data-datepicker="true" >-->
                    <span class="k-widget k-datepicker k-header k-textbox input-sm full-width" style="width: 100%;">
                        <span class="k-picker-wrap k-state-default">
                            <input type="text" id="to_date" name="end_date"
                                   class="k-textbox input-sm full-width k-input ng-pristine ng-valid ng-touched" ng-model="mom_end_date"
                                   ng-change="" data-role="datepicker" role="combobox" aria-expanded="false"
                                   aria-owns="expiry_date_dateview" aria-disabled="false" aria-readonly="false" style="width: 100%;">
                            <span unselectable="on" class="k-select" role="button" aria-controls="expiry_date_dateview">
                                <span unselectable="on" class="k-icon k-i-calendar">select</span>
                            </span>
                        </span>
                    </span>
                    <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
        </div>-->
                </div>  
                
                <div class="col-md-2">
                    <label id="Label" for="txt_Nationality_Code" class="form-label">{{"View Report"|translate}}<span style="color:red">*</span></label>
                    <select id="schedule_box" data-role="dropdownlist" class="form-control input-sm full-width"
                            ng-model="temp.comn_appl_parameter"  name="comn_appl_parameter"
                            ng-options="cur.comn_appl_parameter as cur.comn_appl_form_field_value1 for cur in view_report" required></select>
                </div>                   
                   
                <div class="col-md-2">
                    <div class="pull-right">
                        <label id="Label" for="txt_Nationality_Code" class="form-label">&nbsp;</label>
                        <span class="k-textbox k-space-right">
                            <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                            <a href="#" class="k-icon k-i-search">&nbsp;</a>
                        </span>
                    </div>
                </div>
            
                     </div>           

            <div class="row">
                            

                <div class="col-md-6">
                    <div class="pull-right">
                        <label>&nbsp;</label>
                        <button type="button" class="btn btn-primary btn-cons" ng-click="cummulativeSummaryReport()">{{"Submit"|translate}}</button>
                        <button type="button" class="btn btn-primary btn-cons" ng-click="exportData()">{{"Export"|translate}}</button>
                        <button type="button" class="btn btn-primary btn-cons" ng-click="print('fixTable2')">{{"Print"|translate}}</button>

                    </div>
                </div>

                <div class="col-md-12" id="rpt_data1">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr style="background-color:#edefef">
                                <th ng-click="sort('sllc_ldgr_name')"><b>{{"Ledger Type"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                <th ng-click="sort('slma_acno')"><b>{{"Account No."|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                <th ng-click="sort('slma_name')"><b>{{"Account Name"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                <th ng-click="sort('slma_op_bal_amt')"><b>{{"Opening Balance"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                <th ng-click="sort('slma_tran_amt_dr')"><b>{{"Debit"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                <th ng-click="sort('slma_tran_amt_cr')"><b>{{"Credit"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>                                
                                <th ng-click="sort('sims_detention_point')"><b>{{"Closing Balance"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                </tr>
                        </thead>
                        <tbody align="center">
                            <tr ng-repeat="r in report_data|orderBy:colname:reverse|filter:searchText">
                                  <td>{{r.sllc_ldgr_name}}</td>
                                <td>{{r.slma_acno}}</td>
                                <td >{{r.slma_name}}</td>
                                <td>{{r.slma_op_bal_amt}}</td>
                                <td>{{r.slma_tran_amt_dr}}</td>
                                <td>{{r.slma_tran_amt_cr}}</td>
                                <td >{{r.slma_close_bal_amt}}</td>                             
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                 <td><b>Total</b></td>
                                <td><b>{{temp.total_opening_amt.toFixed(3)}}</b></td>
                                <td><b>{{temp.total_debit.toFixed(3)}}</b></td>
                                <td><b>{{temp.total_credit.toFixed(3)}}</b></td>
                                <td><b>{{temp.totalclosing.toFixed(3)}}</b></td>

                            </tr>
                                                           
                                </tbody>
                           </table>
                                </div>


                <!--For print and excell-->
                <div ng-show="dublicate">

                    <div class="col-md-12" id="rpt_data">
                        <table class="table table-bordered text-center">
                            <thead>
                                <tr>
                                    <th ><b>{{"Ledger Type"|translate}}</b></th>
                                    <th ><b>{{"Account No."|translate}}</b></th>
                                    <th ><b>{{"Account Name"|translate}}</b></th>
                                    <th ><b>{{"Opening Balance"|translate}}</b></th>
                                    <th ><b>{{"Debit"|translate}}</b></th>
                                    <th ><b>{{"Credit"|translate}}</b></th>
                                    <th ><b>{{"Closing Balance"|translate}}</b></th>
                                </tr>
                            </thead>
                            <tbody align="center">
                                <tr ng-repeat="r in report_data|orderBy:colname:reverse|filter:searchText">
                                <td>{{r.sllc_ldgr_name}}</td>
                                <td>{{r.slma_acno}}</td>
                                <td >{{r.slma_name}}</td>
                                <td>{{r.slma_op_bal_amt}}</td>
                                <td>{{r.slma_tran_amt_dr}}</td>
                                <td>{{r.slma_tran_amt_cr}}</td>
                                <td >{{r.slma_close_bal_amt}}</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td><b>Total</b></td>
                                    <td>{{temp.total_opening_amt.toFixed(3)}}</td>
                                    <td>{{temp.total_debit.toFixed(3)}}</td>
                                    <td>{{temp.total_credit.toFixed(3)}}</td>
                                    <td>{{temp.totalclosing.toFixed(3)}}</td>

                                </tr>
                                </tbody>
                            
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>

</body>
</html>

<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/plugins/fileSaver.js"></script>
<script src="assets/js/jszip.js"></script>
<script src="assets/js/xlsx.js"></script>
<script src="assets/js/xlsx-reader.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>



