﻿<div class="loading-middle" ng-hide="display">
    {{ "Loading..." | translate }}
</div>


<div class="row">
    <div class="col-md-12">
        <!--<div class="grid simple">-->
            
            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input
                                placeholder="page"
                                class="form-control"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input
                                placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input
                                placeholder="Total"
                                class="form-control"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input
                                placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input
                                placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input
                                placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input
                                placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="page-title">
                <h3><span class="semi-bold">{{"Currency"| translate }}</span>&nbsp;{{"Master"| translate }}</h3>
            </div>
            
            
            <div ng-show="display">
                <div class="raw">
            <div  class="paddingcode grid-body no-border" style="background-color:white;">
              <form class="profile-settings" name="myForm" novalidate ng-submit="Save(myForm.$valid)">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row form-row">
                            <div class="col-md-2">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label><i class="fa fa-building"></i>{{"Company Name" | translate}} <span class="asterisk" style="color: red">*</span></label>
                                    </div>
                                    <div class="col-md-12">
                                        <select id="student_sta" data-role="dropdownlist" class="form-control input-sm full-width"
                                                aria-label="Please Select"
                                                ng-model="edt.excg_comp_code"
                                                ng-options="sta.gdua_comp_code as sta.comp_name for sta in compcode" name="student_sta"
                                                ></select>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-2">
                              <div class="row form-row">
                                    <div class="col-md-12">
                                        <label><i class="fa fa-dashboard"></i>{{" Currency Code" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="text" placeholder="" class="k-textbox input-sm full-width" id="Text2" name="txt_incidence_user_code" ng-model="edt.excg_curcy_code">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                               <div class="row form-row">
                                    <div class="col-md-12">
                                        <label><i class="fa fa-align-justify"></i>{{" Description" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                    </div>
                                    <div class="col-md-12">
                                      <input type="text" placeholder="" class="k-textbox input-sm full-width" id="Text10" name="txt_incidence_user_code" ng-model="edt.excg_curcy_desc">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2" style="margin-top: 6px;">
                                   <label><i class="fa fa-sort-numeric-asc"></i>{{" Min Rate" | translate }} <span class="asterisk" style="color: red">*</span></label> <!-- <span style="color:red; font-size:15px">*</span></label>-->
                                <div ng-class="{'has-error': !myForm.excg_min_rate.$valid && (myForm.excg_min_rate.$touched || myForm.$submitted) }">
                                    <input type="number" class="k-textbox input-sm full-width" id="Text7" name="excg_min_rate"  maxlength="06"  ng-model="edt.excg_min_rate" min="0" max="{{maxvalue}}" ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" required  
                                        ng-blur="minrate(edt.excg_min_rate)"/>
                                </div>
                                    <div class="error-container help-block"  ng-show="myForm.excg_min_rate.$dirty && myForm.excg_min_rate.$invalid || myForm.$submitted ">
                                            {{"Min rate must be less than Max rate" | translate }}
                                    </div>
                                      <div class="col-md-12">
                                        <div class="error-container"
                                             ng-show="myForm.excg_min_rate.$dirty && myForm.excg_min_rate.$invalid || myForm.$submitted">
                                            <small class="help-block"
                                                ng-show="myForm.excg_min_rate.$error.required && (myForm.excg_min_rate.$touched || myForm.$submitted)">{{"Min Rate is required." | translate }}
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            <div class="col-md-2" style="margin-top: 6px;">
                                   <label><i class="fa fa-sort-numeric-asc"></i>{{" Max Rate" | translate }} <span class="asterisk" style="color: red">*</span></label><!-- <span style="color:red; font-size:15px">*</span></label>-->
                                <div ng-class="{'has-error': !myForm.excg_max_rate.$valid && (myForm.excg_max_rate.$touched || myForm.$submitted) }">
                                    <input type="number" class="k-textbox" style="width: 100%;" id="Text8" name="excg_max_rate"  maxlength="06"  ng-model="edt.excg_max_rate"  min="{{minvalue}}"  ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" required 
                                        ng-blur="maxrate(edt.excg_max_rate)" />
                                </div>
                                    <div class="error-container help-block"  ng-show="myForm.excg_max_rate.$dirty && myForm.excg_max_rate.$invalid || myForm.$submitted">
                                            {{"Max rate must be greater than Min rate" | translate }}
                                    </div>
                                <div class="col-md-12">
                                        <div class="error-container"
                                             ng-show="myForm.excg_max_rate.$dirty && myForm.excg_max_rate.$invalid || myForm.$submitted">
                                            <small class="help-block"
                                                ng-show="myForm.excg_max_rate.$error.required && (myForm.excg_max_rate.$touched || myForm.$submitted)">{{"Max Rate is required." | translate }}
                                            </small>
                                        </div>
                                    </div>
                              </div>
                            <div class="col-md-2" style="margin-top: 6px;">
                                    <label><i class="fa fa-sort-numeric-asc"></i>{{" Decimal" | translate }} <span class="asterisk" style="color: red">*</span></label><!-- <span style="color:red; font-size:15px">*</span></label>-->
                                <div ng-class="{'has-error': !myForm.excg_curcy_decimal.$valid && (myForm.excg_curcy_decimal.$touched || myForm.$submitted) }">
                                    <input type="text" class="k-textbox input-sm full-width" id="Text1" name="excg_curcy_decimal"  maxlength="06"  ng-model="edt.excg_curcy_decimal" ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" required  />
                                </div>
                                    <div class="error-container"  ng-show="myForm.excg_curcy_decimal.$dirty && myForm.excg_curcy_decimal.$invalid || myForm.$submitted">
                                            <small class="help-block" ng-show="myForm.excg_curcy_decimal.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.excg_curcy_decimal.$touched))">
                                            {{"Enter Only Digit" | translate }}
                                        </small>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="error-container"
                                             ng-show="myForm.excg_curcy_decimal.$dirty && myForm.excg_curcy_decimal.$invalid || myForm.$submitted">
                                            <small class="help-block"
                                                ng-show="myForm.excg_curcy_decimal.$error.required && (myForm.excg_curcy_decimal.$touched || myForm.$submitted)">{{"Decimal is required." | translate }}
                                            </small>
                                        </div>
                                    </div>
                              </div>
                        </div>
                    </div>
                    <!--<div class="col-md-12">
                        <div class="row form-row">-->
                          <!--  <div class="col-md-4">
                                  <div class="row form-row">
                                    <div class="col-md-12">
                                        <label>{{"Min Rate" |translate }}</label>
                              </div>
                                    <div class="col-md-12">
                                       <input type="text" placeholder="" class="form-control input-sm" id="Text11" name="txt_incidence_user_code" ng-model="edt.excg_min_rate">
                                     </div>
                                </div>
                            </div>-->

                           <!-- <div class="col-md-4">
                                  <div class="row form-row">
                                    <div class="col-md-12">
                                        <label>{{"Max Rate"| translate }}</label>
                        </div>
                                    <div class="col-md-12">
                                        <input type="text" placeholder="" class="form-control input-sm" id="Text1" name="txt_incidence_user_code" ng-model="edt.excg_max_rate">
                    </div>
                                </div>
                            </div>-->

                        <!--</div>
                    </div>-->

                          <div class="col-md-12">
                        <div class="row form-row">
                            <!--<div class="col-md-4">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label>{{"Reval Rate" | translate }}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="text" placeholder="" class="form-control input-sm" id="Text4" name="txt_incidence_user_code" ng-model="edt.excg_reval_rate">
                                    </div>
                                </div>
                            </div>-->
                            <div class="col-md-2">
                                    <label><i class="fa fa-sort-numeric-asc"></i>{{" Reval Rate" | translate }} <span class="asterisk" style="color: red">*</span></label><!-- <span style="color:red; font-size:15px">*</span></label>-->
                                <div ng-class="{'has-error': !myForm.excg_reval_rate.$valid && (myForm.excg_reval_rate.$touched || myForm.$submitted) }">
                                    <input type="text" class="k-textbox input-sm full-width" id="Text3" name="excg_reval_rate"  maxlength="06"  ng-model="edt.excg_reval_rate" ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" required  />
                                </div>
                                    <div class="error-container"  ng-show="myForm.excg_reval_rate.$dirty && myForm.excg_curcy_decimal.$invalid || myForm.$submitted">
                                            <small class="help-block" ng-show="myForm.excg_reval_rate.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.excg_reval_rate.$touched))">
                                            {{"Enter Only Digit" | translate }}
                                        </small>
                                    </div>
                                <div class="col-md-12">
                                          <div class="error-container"
                                                    ng-show="myForm.excg_reval_rate.$dirty && myForm.excg_reval_rate.$invalid || myForm.$submitted">
                                                    <small class="help-block"
                                                        ng-show="myForm.excg_reval_rate.$error.required && (myForm.excg_reval_rate.$touched || myForm.$submitted)">{{"Reval Rate is required." | translate }}
                                            </small>
                                            </div>
                                    </div>
                              </div>
                            <div class="col-md-2">
                                <label><i class="fa fa-align-justify"></i>{{" Decimal Description" | translate }}</label>
                                        <input type="text" placeholder="" class="k-textbox input-sm full-width" id="Text5" name="txt_incidence_user_code" ng-model="edt.excg_deci_desc">
                                    </div>
                            <div class="col-md-2">
                                <label><i class="fa fa-calendar"></i>{{" Effective Date" | translate }}</label>
                                      <!--<div class="col-md-4 no-padding"  style="width: auto; height: 20px">-->
                                          <input type="text" id="CM_Effective_Date" name="Subsexpdate" class="k-textbox input-sm full-width" ng-change="showdate(edt.excg_effective_date')" ng-model="edt.excg_effective_date">
                                           
                                        </div>
                            <div class="col-md-1">
                                <div class="pull-right">
                                                <label>{{"Status" | translate}}</label>
                                                <div class="checkbox check-success">
                                                    <input id="Checkbox2" type="checkbox" class="k-checkbox" value="1" checked="checked" ng-model="edt.excg_enabled_flag">
                                                    <label for="Checkbox2"></label>
                                                </div>
                                            </div>
                                </div>
                        </div>
                    </div>
                    

                </div>
                <!--<div class="form-actions">-->
                    <!-- ng-click="Save(myForm.$valid)"  -->
                   <!--  ng-click="Update(myForm.$valid)"-->
                    <div class="pull-right">
                         <button class="btn btn-primary btn-cons" id="save1" type="submit"  ng-show="save1"><i class="icon-ok"></i>{{"Save"| translate }}</button>
                     <button class="btn btn-primary btn-cons" id="update1" type="submit"  ng-show="update1"><i class="icon-ok"></i>{{"Update" | translate}}</button>
                        <button class="btn btn-danger btn-cons" type="button" ng-click="Delete()" ng-show="delete1"><i class="icon-ok"></i>{{"Delete" | translate}}</button>
                        <button class="btn btn-danger btn-cons" type="button" ng-click="cancel()">{{"Cancel" | translate}}</button>
                    </div>
                <!--</div>-->
                  </form>
                </div>
                </div>
            </div>

<!--Table/Grid-->
            <div class="raw">
            <div  class="paddingcode grid-body no-border" style="background-color:white;">
           <div ng-show="grid">
                <div class="row form-row">
                    <div class="col-md-6" style="margin-top: 7px;">
                        <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="itemsPerPage" ng-change="size(itemsPerPage)">
                              <option value="10" class="form-control input-sm">10</option>
                              <option value="20" class="form-control input-sm">20</option>
                           
                            <option value="All" class="form-control input-sm">All</option>
                        </select>
                        &nbsp;
                             <button class="btn btn-success btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New" |translate}}</button>
                        &nbsp;
                        <button class="btn btn-danger btn-small" type="button" ng-click="Delete()"><span class="semi-bold"></span>{{"Delete" | translate}}</button>
                    </div>

                    <div class="col-md-6" style="margin-top: 7px;">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                               <!-- <label>
                                    {{"Search" | translate }} &nbsp;
                                    <input type="text" aria-controls="example" ng-model="searchText" ng-change="search();" class="k-textbox" autofocus="true"></label>-->
                                     <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div class="row">
                        <div class="col-md-12">
                    <div style="width: 100%;  height: auto; overflow-x: scroll; overflow-y: auto">
                        <table class="table table-hover  table-bordered  table-condensed" id="Table1" aria-describedby="example2_info">
                            <thead style="background-color: #edefef">
                                <tr>
                                    
                                     <th class="small-cell v-align-middle" style="z-index:1">
                                        <div class="checkbox check-success">
                                            <input type="checkbox" class="k-checkbox" name="check" value="1" id="mainchk" ng-click="multipledelete();" class="checkall">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>

                                    <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                        <!-- <a href="">
                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort">
                                                <i class="fa fa-caret-up" ng-if="orderByField"></i></span>
                                                <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;-->
                                                <i class="fa fa-building"></i>{{" Company name" | translate}}</th>

                                    <th class="semi-bold"><i class="fa fa-dashboard"></i>{{" Code" | translate}}</th>
                                    <th class="semi-bold"><i class="fa fa-align-justify"></i>{{" Description" | translate}}</th>
                                    <th class="semi-bold"><i class="fa fa-sort-numeric-asc"></i>{{" Min Rate" | translate}}</th>
                                    <th class="semi-bold"><i class="fa fa-sort-numeric-asc"></i>{{" Max Rate" | translate}}</th>
                                    <th class="semi-bold"><i class="fa fa-sort-numeric-asc"></i>{{" Decimal" | translate}}</th>
                                    <th class="semi-bold"><i class="fa fa-sort-numeric-asc"></i>{{" Reval Rate" | translate}}</th>
                                    <th class="semi-bold"><i class="fa fa-align-justify"></i>{{" Decimal Description" | translate}}</th>
                                    <th class="semi-bold"><i class="fa fa-calendar"></i>{{" Effective Date" | translate}}</th> 
                                    <th class="semi-bold"><i class="fa fa-flag"></i>{{" Enabled Flag" | translate}}</th>                                    
                                    <th class="semi-bold">{{"Action" | translate}}</th>
                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <tr ng-repeat="info in filteredTodos" class="row1" >
                                   
                                   <td>
                                        <div class="checkbox check-success" style="height: 20px">
                                            <input type="checkbox" name="check" class="k-checkbox" value="1" id="{{info.excg_curcy_code+$index}}" ng-click="delete_onebyone($index)" />
                                            <label for="{{info.excg_curcy_code+$index}}"></label>
                                        </div>
                                    </td>
                                    <td>{{info.comp_name}}</td>
                                    <td>{{info.excg_curcy_code}}</td>
                                    <td>{{info.excg_curcy_desc}}</td>
                                    <td>{{info.excg_min_rate}}</td>
                                    <td>{{info.excg_max_rate}}</td>
                                    <td>{{info.excg_curcy_decimal}}</td>
                                    <td>{{info.excg_reval_rate}}</td>
                                    <td>{{info.excg_deci_desc}}</td>
                                    <td>{{info.excg_effective_date}}</td>
                                    <td class="v-align-middle">
                                        <span ng-if="info.excg_enabled_flag==true" class="label label-success">{{"Active" | translate}}</span>
                                        <span ng-if="info.excg_enabled_flag==false" class="label label-important">{{"Inactive" | translate}}</span>
                                    </td>

                                    <td><a href=""><i class="fa fa-edit" ng-click="edit(info)"></i></a></td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
               </div>
                    </div>
                     <div class="row" ng-show="pager">
                        <div class="col-md-12">
                    <div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                            ng-click="index(currentPage)">
                         </paging>
                    </div>
                            </div>
                         </div>

                </div>
            </div>
                </div>
                </div>
     
            <!--End Table/Grid-->
        <!--</div>-->
    </div>
</div>
</div>
<script src="assets/js/calender-datepicker-id.js"></script>
       