﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Document User"| translate }}</span> </h3>
            </div>

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>


            <!--<div class="grid-body no-border">-->
            <div class="raw">
                        <div class="paddingcode grid-body no-border" style="background-color: white;">
            <div ng-show="table">
                <div class="row">

                    <div class="col-md-6" style="margin-top: 3px;">
                        <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="10" class=" form-control input-sm">
                                10
                            </option>

                            <option value="20" class=" form-control input-sm">
                                20
                            </option>

                            <option value="All" class=" form-control input-sm">
                                All
                            </option>
                        </select>
                        &nbsp;
                        <button class="btn btn-success btn-small" type="button" id="designew" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate }}</button>
                        &nbsp;
                        <button class="btn btn-danger btn-small" type="button" ng-click="OkDelete()"><span class="semi-bold"></span>{{"Delete"| translate }}</button>
                    </div>
                    <div class="col-md-6" style="margin-top: 3px;">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                               <!-- <label>
                                    {{"Search"| translate }}:&nbsp;
                                    <input type="text" aria-controls="example" ng-model="search.$" class="input-medium"></label>
                                    <input aria-controls="example" ng-model="searchText" class="k-textbox" placeholder="Search" type="search" ng-change="search()">
                                </label>-->
                               <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div class="row margin-top">
                        <div class="col-md-12" style="margin-top: -7px;">
                    <div style="width: 100%; height: auto; overflow-x: auto; overflow-y: auto">
                        <table class="table table-bordered table-hover table-condensed" id="fixTable">
                            <thead style="background-color: white">
                                <tr style="background-color: #edefef">
                                    <th class="small-cell v-align-middle">
                                        <div class="checkbox check-success">
                                            <input id="mainchk" type="checkbox" class="k-checkbox" value="1" ng-click="CheckAllChecked()">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>

                                    <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                        <label><b><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class=" fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"User Name"| translate }}</a></b></label>
                                    </th>
                                   <!-- <th>
                                        <label><b>{{"User Name"| translate }}</b></label>
                                    </th>-->

                                    <th>

                                        <label><b><i class="fa fa-tasks"></i>{{"Prepare" | translate }}</b></label>
                                    </th>

                                    <th>

                                        <label><b><i class="fa fa-pencil-square-o"></i>{{"Department" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><i class="fa fa-cogs"></i></label>
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="j in filteredTodos | orderBy:orderByField:reverseSort" ng-class="row1">
                                    <td>
                                        <div class="row-fluid">
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input id="abc{{$index}}" type="checkbox" class="k-checkbox" value="1" ng-click="checkonebyonedelete()">
                                                <label for="abc{{$index}}"></label>
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        <label id="lbl">{{j.gldu_user_name}}</label>
                                    </td>

                                    <td class="v-align-middle">
                                        <span ng-if="j.gldu_prepare==true" class="label label-success">{{"True" | translate }}</span>
                                        <span ng-if="j.gldu_prepare==false" class="label label-important">{{"False" | translate }}</span>
                                    </td>

                                    <td>
                                        <label id="Label1">{{j.gldu_dept_no_name}}</label>
                                    </td>

                                    <td>
                                        <a href=""><i class="fa fa-edit" ng-click="edit(j)"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                            </div>
                    </div>
                    <div class="row" ng-show="pager">
                        <div class="col-md-12">
                    <div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                ng-click="index(currentPage)">
                        </paging>
                    </div>
                            </div>
                        </div>


                </div>

            </div>

            <div ng-show="display">
                <form name="Myform" ng-submit="savedata(Myform.$valid)" novalidate="novalidate">
                    <!--1ST ROW-->

                        <div class="row">

                            <!--User Name-->

                            <div class="col-md-3" ng-class="{'has-error': !Myform.usrcode.$valid && (Myform.usrcode.$touched || Myform.$submitted) }">
                                <label id="Label2" for="txt_Nationality_Code" class="form-label"><i class="fa fa-user"></i>{{"User Name" | translate }}<span class="text-red">*</span></label>
                                <input type="text" name="usrcode" class="k-textbox" ng-model="user.comn_user_name" ng-readonly="user_name" ng-disabled="user_name" required />
                                <p class="help-block" ng-show="Myform.usrcode.$error.required &&  (Myform.usrcode.$touched || Myform.$submitted)">
                                    {{"This field is required" | translate }}
                                </p>
                               
                            </div>

                            <!--Search Button-->
                            <div class="col-md-1">
                                <label id="Label12" for="txxt" class="form-label" style="display:block;">&nbsp;</label>
                                <button type="button" id="search" ng-show="search_btn" class="btn btn-primary btn-small" ng-disabled="search_one" ng-click="newSearch(1);">{{"Search" | translate }}</button>
                            </div>

                            <!--Prepare Status-->
                            <div class="col-md-2">
                                <label id="Label10" for="txt_Status" class="form-label"><i class="fa fa-tasks"></i>{{"Prepare"| translate }}</label>
                                <div class="checkbox check-success">
                                    <input id="chk_term2" type="checkbox" class="k-checkbox" ng-model="obj.gldu_prepare"  ng-readonly="Prepare" ng-disabled="Prepare_status" >
                                    <label for="chk_term2"></label>
                                </div>
                            </div>

                            <!--SmallTable Verify and Authorise-->
                            <div class="col-md-5" >
                                <label id="Label5" class="form-label" style="display:block;">&nbsp;</label>
                                 <div style="width: 100%; height: auto; overflow-x: auto; overflow-y: auto;" >
                                    <table class="table table-striped table-condensed" style="width:100%;height:auto">
                                        <thead>
                                            <tr>
                                                <td class="semi-bold">
                                                    <label><b><i class="fa fa-user"></i>{{"User Name"| translate }}</b></label>
                                                </td>

                                                <td class="semi-bold">

                                                    <label><b><i class="fa fa-check"></i>{{"Verify" | translate }}</b></label>
                                                </td>

                                                <td class="semi-bold">
                                                    <label><b><i class="fa fa-lock"></i>{{"Authorize" | translate }}</b></label>
                                                </td>
                                                <td>

                                                </td>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr ng-repeat="temp in  autorise | orderBy:orderByField:reverseSort">

                                                <td>
                                                    <label id="Label3" >{{temp.gldu_user_name}}</label>
                                                </td>
                                                <td>
                                                    <div class="checkbox check-success">
                                                        <input id="verify-{{$index}}" type="checkbox" class="k-checkbox" ng-model="temp.gldu_verify">
                                                        <label for="verify-{{$index}}"></label>
                                                    </div>
                                                  
                                                </td>
                                                <td>
                                                    <div class="checkbox check-success">
                                                        <input id="auto-{{$index}}" type="checkbox" class="k-checkbox" ng-model="temp.gldu_authorize">
                                                        <label for="auto-{{$index}}"></label>
                                                    </div>
                                                
                                                </td>
                                                <td>
                                                    <span class="semi-bold"><a href="" ng-click="Removeuser($event,$index,autorise)">X</a></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!--Search Button-->
                            <div class="col-md-1">
                                <label id="Label4" class="form-label" style="display:block;">&nbsp;</label>
                                <div class="pull-right">
                                <button type="button" id="Button1" ng-show="search_btn" class="btn btn-primary btn-small" ng-click="newSearch(2);">{{"Search" | translate }}</button>
                            </div>
                                </div>
                        </div>
                       <!--2ND ROW-->
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <div class="col-md-3" ng-class="{'has-error': !Myform.department.$valid && (Myform.department.$touched || Myform.$submitted) }" style="padding:02px">
                                <label class="semi-bold" for="EndDate"><i class="fa fa-pencil-square-o"></i>{{"Department" | translate }}</label>
                                <select id="department" name="department" data-role="dropdownlist" class="form-control"
                                        ng-model="temp.codp_dept_no"
                                        ng-options="doc.codp_dept_no as doc.codp_dept_name for doc in dept" ng-change="GetAccountCode();" ng-disabled="dept1" ></select>
                                    <p class="help-block" ng-show="Myform.department.$error.required &&  (Myform.department.$touched || Myform.$submitted)">
                                        {{"This field is required" | translate }}
                                    </p>
                            </div>
                        </div>
                    </div>

                    <!--<div class="form-actions">-->
                        <div class="pull-right">
                            <button type="submit" id="desigsub" ng-show="save_btn" class="btn btn-primary btn-small">{{"Save" | translate }}</button>
                            <button type="button" ng-show="Update_btn" ng-click="update();" class="btn btn-primary btn-small">{{"Update" | translate }}</button>
                            <button type="button" class="btn btn-danger btn-small ng-binding" ng-click="Cancel();">{{"Cancel"| translate }}</button>
                        </div>
                    <!--</div>-->
                </form>
            </div>
        </div>
        </div>
    </div>
</div>
</div>
<!--Tab Script-->
<div class="modal fade in" id="MyModal" role="dialog" style="display: none;">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 1000px;">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <h4> <span class="semi-bold">Global</span> Search</h4>
                    <!--<h4 class="modal-title custom-font" style="margin-top: -5px"><b>{{"Global Search"|translate}} </b></h4>-->
                </div>
            </div>

                <div class="grid-body no-border">
            
                    <div class="col-md-12" style="padding:2%;">
                    <ul class="nav nav-tabs" id="tab-01">

                        <li><a href="#Employee_Details" style="padding-left: 6px;">{{"Employee"|translate}}</a></li>
                        <!--<li><a href="#Parent_information" ng-click="parenclear();">{{ "Search by Parent" | translate }} </a></li>-->
                        <!--<li><a href="#MySearch_Details">{{"MySearch"|translate}}</a></li>-->

                    </ul>
                    <div class="tab-content">

                      <div class="tab-pane" id="Employee_Details">
                            <div class="row column-seperation">
                                <div class="tab-pane" id="Div5" aria-expanded="true">

                                                    <div class="row">
                                                        <!--username-->
                                                        <div class="col-md-3">
                                                            <label><i class="fa fa-user"></i>{{" User Name"|translate}}</label>
                                                                    <input class="k-textbox" ng-model="edt.comn_user_name" />
                                                                </div>

                                                        <!--EmployeeName-->
                                                        <div class="col-md-3">
                                                            <label><i class="fa fa-user"></i>{{" Employee Name"|translate}}</label>
                                                                    <input class="k-textbox" ng-model="edt.EmpName" />
                                                                </div>


                                                        <!--Search button-->
                                                        <div class="col-md-6">
                                                                        <label>&nbsp;</label>
                                                            <div class="pull-right">
                                                                        <button type="button" class="btn btn-primary btn-cons" ng-click="SearchEmployeedata();">{{"Search"|translate}}</button>
                                                                    </div>
                                                            </div>
                                                    </div>
                                               
                                        <div class="row" ng-show="busy">
                                            <div class="col-md-12">
                                                <div class="row form-row">
                                                    <div class="col-md-5">
                                                    </div>
                                                    <div class="col-md-2">
                                                        <img src="assets/images/loading.gif" />

                                                    </div>
                                                    <div class="col-md-5">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                          
                                                <div id="Div4" class="dataTables_wrapper form-inline">
                                                    <div class="row margin-top-2">
                                                        <div class="col-md-12">
                                                    <div style="width: 100%; height: auto; overflow-x: auto; overflow-y: auto">
                                                        <table class="table table-bordered table-condensed" id="Table4" aria-describedby="example2_info">
                                                            <thead>
                                                                <tr>
                                                                     <th class="semi-bold"><i class="fa fa-check"></i>Select</th>   
                                                                    <th class="semi-bold"><i class="fa fa-user"></i>{{" User Name"|translate}}</th>
                                                                    <th class="semi-bold"><i class="fa fa-user"></i>{{" Employee Name"|translate}}</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                               
                                                                 <tr ng-repeat="info in Search_Employee1">
                                                                    <td>
                                                                        <input id="Checkbox1" type="checkbox" ng-change="getUsername(info,$index)" ng-model="info.status">
                                                                        <label for="chk_term3"></label>

                                                                    </td>
                                                                    <td>{{info.comn_user_name}}</td>
                                                                    <td>{{info.empName}}</td>

                                                                </tr>



                                                            </tbody>
                                                        </table>
                                                    </div>
                                                            </div>
                                                    </div>
                                                </div>
                                               
                                           
                                    <div class="modal-footer margin-top-2">
                                        <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c btn-small" ng-click="okbuttonclick();" data-dismiss="modal" type="submit"><i class="fa fa-arrow-right"></i>{{"OK"|translate}}</button>
                                    </div>
                                </div>
                        </div>
                    </div>
                  </div>
                        </div>
               </div>
        </div>
    </div>
</div>



<script src="assets/js/tabs_accordian.js"></script>
