﻿<!--<link href="assets/plugins/bootstrap-select2/select2.css" rel="stylesheet" />-->
<link href="assets/plugins/jqx.base.css" rel="stylesheet" />
<script src="assets/plugins/jqxcore.js"></script>
<script src="assets/plugins/jqxbuttons.js"></script>

<script src="assets/plugins/jqxscrollbar.js"></script>
<script src="assets/plugins/jqxlistbox.js"></script>
<script src="assets/plugins/jqxdragdrop.js"></script>

<div class="loading-middle" ng-hide="display">
    {{ "Loading..." | translate }}
</div>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input
                                placeholder="page"
                                class="form-control"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input
                                placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input
                                placeholder="Total"
                                class="form-control"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input
                                placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input
                                placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input
                                placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input
                                placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>



            <div class="page-title">
                <h3><span class="semi-bold">{{"Document User"| translate}}</span>&nbsp;{{"Account"| translate}}</h3>
            </div>

          <div ng-show="display" >
              <div class="raw">
            <div  class="paddingcode grid-body no-border" style="background-color:white;">
              <form name="myForm" ng-submit="Save(myForm.$valid)" novalidate="novalidate">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label><i class="fa fa-building"></i>{{"Company" | translate}} <span class="asterisk" style="color: red">*</span></label>
                                    </div>
                                    <div class="col-md-12">
                                        
                                          <select id="student_sta" data-role="dropdownlist" class="form-control select2-sm"  required
                                                aria-label="Please Select"
                                                ng-model="edt.gdua_comp_code"
                                                ng-options="sta.gdua_comp_code as sta.comp_name for sta in compcode" name="student_sta1"
                                                ng-change="year(edt.gdua_comp_code);" ng-disabled="update"
                                                >
                                              <option>Please Select</option>
                                          </select>

                                         <label>  <span style="color: red" ng-show="myForm.student_sta1.$dirty  || myForm.$submitted">
                                                    <span ng-show="myForm.student_sta1.$error.required">{{"This field is required" | translate}}</span>
                                                </span>
                                             
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-2">
                              <div class="row">
                                    <div class="col-md-12">
                                        <label><i class="fa fa-calendar"></i>{{"Year" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                    </div>
                                   <div class="col-md-12">
                                        <!--<select class="form-control input-sm" id="Select4" ng-model="edt.gdua_year" ng-change="dept(edt.gdua_comp_code,edt.gdua_year)" >
                                              <option value="" selected disabled>Please Select</option>
                                               <option  class="form-control input-sm" ng-repeat="edt in years" value="{{edt.gdua_year}}">{{edt.gdua_year}}</option>
                                        </select-->
                                       <select id="Select2" data-role="dropdownlist" class="form-control select2-sm" required
                                                aria-label="Please Select"
                                                ng-model="edt.gdua_year"
                                                ng-options="sta.gdua_year as sta.gdua_year for sta in years" name="student_sta2"
                                                ng-change="dept(edt.gdua_comp_code,edt.gdua_year);" ng-disabled="update">
                                               <option>Please Select</option>
                                       </select>

                                        <label>  <span style="color: red" ng-show="myForm.student_sta2.$dirty  || myForm.$submitted">
                                                    <span ng-show="myForm.student_sta2.$error.required">{{"This field is required" | translate}}</span>
                                                </span>
                                             
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                               <div class="row">
                                    <div class="col-md-12">
                                        <label><i class="fa fa-align-justify"></i>{{"Department" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                    </div>
                                    <div class="col-md-12">
                                          <select id="Select4" data-role="dropdownlist" class="form-control select2-sm" required
                                                aria-label="Please Select"
                                                ng-model="edt.gdua_dept_no"
                                                ng-options="sta.gdua_dept_no as sta.gdua_dept_name for sta in depts" name="student_sta3"
                                                ng-change="accountcode(edt.gdua_dept_no)" ng-disabled="update" >
                                          </select>

                                         <label>  <span style="color: red" ng-show="myForm.student_sta3.$dirty  || myForm.$submitted">
                                                    <span ng-show="myForm.student_sta3.$error.required">{{"This field is required" | translate}}</span>
                                                </span>
                                             
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                  <div class="row">
                                    <div class="col-md-12">
                                        <label><i class="fa fa-paperclip"></i>{{"Document" |translate }} <span class="asterisk" style="color: red">*</span></label>
                                    </div>
                                   <div class="col-md-12">
                                         <select id="Select5" data-role="dropdownlist" class="form-control select2-sm" required
                                                aria-label="Please Select"
                                                ng-model="edt.gdua_doc_code"
                                                ng-options="sta.gdua_doc_code as sta.gldc_doc_name for sta in docs" 
                                                name="student_sta4" ng-disabled="update">
                                                   <option>Please Select</option>

                                         </select>

                                        <label>  <span style="color: red" ng-show="myForm.student_sta4.$dirty  || myForm.$submitted">
                                                    <span ng-show="myForm.student_sta4.$error.required">{{"This field is required" | translate}}</span>
                                                </span>
                                             
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                  <div class="row">
                                    <div class="col-md-12">
                                        <label><i class="fa fa-dashboard"></i>{{"Account Code"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                    </div>
                                    <div class="col-md-12">
                                        <select id="cmb_ac_code" name="cmb_ac_code" class="form-control select2" ng-model="edt.gdua_acct_code" ng-disabled="update" ng-hide="dropshow" required>
                                                <!--ng-options="item.glac_acct_code as item.glac_acct_name for item in accNo_data"-->
                                                <!--<option value="">Please Select</option>-->
                                                <option ng-repeat="edt in accounts"                                                   
                                                    value="{{edt.gdua_acct_code}}">{{edt.glma_acct_name}}
                                                </option>
                                            </select>
                                             <input type="text" style="background: #eeeeee;" ng-model="edt.gdua_acct_code" ng-disabled="true" ng-show="dropshow" />
                                          <label>  <span style="color: red" ng-show="myForm.cmb_ac_code.$dirty  || myForm.$submitted">
                                                    <span ng-show="myForm.cmb_ac_code.$error.required">{{"This field is required" | translate}}</span>
                                                </span>
                                             
                                        </label>
                                    </div>
                                      
                                </div>
                            </div>

                            <div class="col-md-2">
                                 <div class="row">
                                    <div class="col-md-12" ng-show="dropshow">
                                        <label><i class="fa fa-user"></i>{{"User Name" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                    </div>
                                    <div class="col-md-12">
                                     
                                        <!--<select id="Select6" class="form-control select2-sm" required
                                                aria-label="Please Select"
                                                ng-model="edt.gdua_doc_user_code"
                                                ng-options="sta.gdua_doc_user_code as sta.user_name for sta in docsusercodes" name="student_sta6"></select>-->
                                           <input type="text" style="background: #eeeeee;" class="k-textbox" ng-model="edt.gdua_doc_user_code" ng-disabled="true" ng-show="dropshow" />

                                         <label>  <span style="color: red" ng-show="myForm.student_sta6.$dirty  || myForm.$submitted">
                                                    <span ng-show="myForm.student_sta6.$error.required">{{"This field is required" | translate}}</span>
                                                </span>
                                             
                                        </label>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!--<div class="col-md-12">
                        <div class="row">
                            
                            
                            
                        </div>
                    </div>-->

                    <div class="col-md-12" >
                        <div class="row">
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-7">
                                         <!--<div class="row">-->
                                            <div class="col-md-12" ng-show="dropshow">
                                                <label style="margin-left: -4px;"><i class="fa fa-bookmark"></i> {{" Status" | translate}}</label>
                                            </div>
                                           <!-- <div class="col-md-12">-->
                                               <div  ng-hide="dropshow" style="width: 100%">
                                                    <span class="btn btn-small btn-success dropdown-toggle btn-demo-space" style="width: 100%;">{{"Select"|translate}}&nbsp;{{"Username"| translate}}
                                                          <div class="checkbox check-danger" style="float:right;">
                                                                <input id="Checkbox1" type="checkbox" class="k-checkbox" value="1" checked="checked" ng-model="edt.select" ng-click="selectAll()">
                                                                <label for="Checkbox1" style="color:#fff;">{{"Select All" | translate}}</label>
                                                            </div>
                                                    </span>
                                                    <div id="grade_module">
                                                    </div>
                                                </div>
                                                <div class="checkbox check-success" ng-show="dropshow">
                                                    <input id="Checkbox2" type="checkbox" class="k-checkbox" value="1" checked="checked" ng-model="edt.gdua_status" >
                                                    <label for="Checkbox2"></label>
                                                </div>
                                            <!--</div>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                            </div>
                            
                            <!--<div class="form-actions" >-->
                    <div class="pull-right">
                        <button class="btn btn-primary btn-cons" type="submit" ng-show="save1" style="margin-top: 300px;"><i class="icon-ok" ></i>{{"Save"| translate }}</button>
                        <button class="btn btn-primary btn-cons" type="button" ng-click="Update()" ng-show="update1"><i class="icon-ok"></i>{{"Update" | translate}}</button>
                        <button class="btn btn-danger btn-cons" type="button" ng-click="Delete()" ng-show="delete1"><i class="icon-ok"></i>{{"Delete" | translate}}</button>
                        <button class="btn btn-danger btn-cons" type="button" ng-click="cancel()" style="margin-top: 300px;">{{"Cancel" | translate}}</button>
                    </div>
                <!--</div>-->                                
                        </div>
                    </div>

                </div>
                
                  </form>
            </div>
            </div>
              </div>

          <div ng-show="grid">
              <div class="raw">
            <div  class="paddingcode grid-body no-border" style="background-color:white;">
                <div class="row">
                    <div class="col-md-6" style="margin-top: 7px;">
                        <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                              <option value="10" class=" form-control input-sm">10
                            </option>
                              <option value="20" class=" form-control input-sm">20
                            </option>
                              <option value="All" class=" form-control input-sm">All
                            </option>
                        </select>
                        &nbsp;
                             <button class="btn btn-success btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New" |translate}}</button>
                        &nbsp;
                        <button class="btn btn-danger btn-small" type="button" ng-click="Delete()"><span class="semi-bold"></span>{{"Delete" | translate}}</button>
                    </div>



                    <div class="col-md-6" style="margin-top: 7px;">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                                <!--<label>
                                    {{"Search" | translate }} &nbsp;
                                    <input type="text" aria-controls="example" ng-model="searchText" ng-change="search();"class="k-textbox"></label>-->
                                     <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText"  class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div style="width: 100%; height: auto; overflow-x: auto; overflow-y: auto" class="margin-top">
                        <table class="table  table-bordered  table-condensed" id="fixTable" aria-describedby="example2_info">
                            <thead>
                                <tr style="background-color: #edefef">
                                    
                                     <th class="small-cell v-align-middle" style="z-index:1">
                                        <div class="checkbox check-success">
                                            <input type="checkbox" name="check" class="k-checkbox" value="1" id="mainchk" ng-click="multipledelete();" class="checkall">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>

                                    <!--<th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                         <a>{{"Company" | translate}}</a></th>-->
                                                    <!--<i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort">-->
                                                <!--<i class="fa fa-caret-up" ng-if="orderByField"></i></span>-->
                                                <!--<span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;-->
                                              
                                    <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                        <a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"Company" | translate}}</a>
                                    </th>

                                    <th class="semi-bold"><i class="fa fa-align-justify"></i>{{"DEPARTMENT" | translate}}</th>
                                    <th class="semi-bold"><i class="fa fa-calendar"></i>{{"YEAR" | translate}}</th>
                                    <th class="semi-bold"><i class="fa fa-paperclip"></i>{{"DOCUMENT" | translate}}</th>
                                    <th class="semi-bold"><i class="fa fa-dashboard"></i>{{"ACCOUNT CODE" | translate}}</th>
                                    <th class="semi-bold"><i class="fa fa-dashboard"></i>{{"USER CODE" | translate}}</th>
                                    <th class="semi-bold"><i class="fa fa-bookmark"></i>{{"STATUS" | translate}}</th>
                                    <th class="semi-bold">{{"ACTION" | translate}}</th>
                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <tr ng-repeat="info in filteredTodos | orderBy:orderByField:reverseSort" ng-class="row1">
                                   
                                    <td>
                                        <div class="checkbox check-success" style="height: 20px">
                                            <input type="checkbox" class="k-checkbox" name="check" value="1" id="{{info.comp_name+$index}}" ng-click="delete_onebyone()" />
                                            <label for="{{info.comp_name+$index}}"></label>
                                        </div>
                                    </td>
                                    <td>{{info.comp_name}}</td>
                                    <td>{{info.codp_dept_name}}</td>
                                    <td>{{info.gdua_year}}</td>
                                    <td>{{info.gldc_doc_name}}</td>
                                    <td>{{info.glma_acct_name}}</td>
                                    <td>{{info.comn_user_name}}</td>
                                    <td class="v-align-middle">
                                        <span ng-if="info.gdua_status==true" class="label label-success">{{"Active" | translate}}</span>
                                        <span ng-if="info.gdua_status==false" class="label label-important">{{"In active" | translate}}</span>
                                    </td>

                                    <td><a href=""><i class="fa fa-edit" ng-click="edit(info)"></i></a></td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                <!--<div class="pull-right">
                                    <div class="dataTables_paginate paging_bootstrap pagination">
										<ul>
											<li class="prev" ng-class="prevPageDisabled()"><a href=""  ng-click="prevPage()"><i class="fa fa-chevron-left"></i></a></li>
											<li  ng-repeat="n in range()" ><a href="" ng-click="setPage(n)">{{n+1}}</a></li>
											<li class="next"  ng-class="nextPageDisabled()"  style="display: inline-block;margin-left:5px" ng-click="nextPage()"><a href=""><i class="fa fa-chevron-right"></i></a></li>
										</ul>
									</div>
                                </div>-->
                    <div class="row" ng-show="pager">
                        <div class="col-md-12">
                    <div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                            ng-click="index(currentPage)">
                         </paging>
                    </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            </div>
             </div>
     
        </div>
    </div>
</div>

<div class="modal fade" id="loader">
    <div class="modal-dialog" id="top">
        <div class="modal-content">
            <div class="box1" style="position: fixed; margin-top: 50%; left: 50%;">
                <img src="assets/img/loading_transparent_.gif">
                <!--<img src="assets/theme/img/loading.gif" />-->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
 <!--<script src="assets/plugins/bootstrap-select2/select2.min.js"></script>-->

<script src="assets/js/tableHeadFixer.js"></script>
