﻿<link href="assets/css/mino.css" rel="stylesheet" />

<style>

    .div_th {
        white-space: nowrap;
    }

     .loader {
            top:0;
            width: 100%;
            height: 100%;
            background-image: url(assets/img/loader.gif);
            background-repeat: no-repeat;
            position: fixed;
            opacity: 0.5;
            opacity: 0.7;
            z-index: 105;
            background-color:#22262e;
            background-position-x: 50%;
            background-position-y: 50%;
            background-origin: content-box;
        }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3>{{"Fee Posting"|translate}}<span class="semi-bold"></span></h3>
            </div>
            
            <div class="grid-body no-border paddingcode" style="background-color:transparent;">
            <div ng-show="grid">
                 <form name="myForm"  novalidate="novalidate" ng-submit="Save(myForm.$valid)">

                <div class="row" ng-show="notshow">
                        <div class="col-xs-4">
                            <div class="well" class="form-group">
                                <div class="form-group">
                                    <label>Current Page:</label>
                                    <input
                                        placeholder="page"
                                        class="form-control"
                                        ng-model="currentPage"
                                        ng-init="currentPage = 1" />
                                </div>
                                <div class="form-group">
                                    <label>Page Size:</label>
                                    <input
                                        placeholder="Page Size"
                                        class="form-control"
                                        ng-model="numPerPage" />
                                </div>
                                <div class="form-group">
                                    <label>Total Items:</label>
                                    <input
                                        placeholder="Total"
                                        class="form-control"
                                        ng-model="pagersize" />
                                </div>
                                <hr />
                                <div class="form-group">
                                    <label>Dots Display:</label>
                                    <input
                                        placeholder="..."
                                        class="form-control"
                                        maxlength="3"
                                        ng-model="dots"
                                        ng-init="dots = '...'" />
                                </div>

                                <hr />
                                <div class="form-group">
                                    <label>UL Class:</label>
                                    <input
                                        placeholder="pagination"
                                        class="form-control"
                                        maxlength="100"
                                        ng-model="ulClass" />
                                </div>
                                <div class="form-group">
                                    <label>Active Class:</label>
                                    <input
                                        placeholder="active"
                                        class="form-control"
                                        maxlength="100"
                                        ng-model="activeClass"
                                        ng-init="activeClass = 'active'" />
                                </div>
                                <div class="form-group">
                                    <label>Disabled Class:</label>
                                    <input
                                        placeholder="disabled"
                                        class="form-control"
                                        maxlength="100"
                                        ng-model="disabledClass"
                                        ng-init="disabledClass = 'disabled'" />
                                </div>
                                <br />
                                <table class="table">

                                    <tr>
                                        <td>
                                            <label>Show Prev Next:</label></td>
                                        <td>
                                            <input
                                                type="checkbox"
                                                ng-model="showPrevNext"
                                                ng-init="showPrevNext = true" />
                                            {{showPrevNext}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Show First Last:</label></td>
                                        <td>
                                            <input
                                                type="checkbox"
                                                ng-model="showFirstLast"
                                                ng-init="showFirstLast = true" />
                                            {{showPrevNext}}
                                        </td>
                                    </tr>
                                </table>
                                <hr />
                                <span class="btn btn-default" onclick="location.reload()">
                                    <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                                </span>
                                <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                                </span>
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>

                <!-- <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-3">
                                    <div class="row form-row">
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <div class="radio radio-success">
                                                <div class="col-md-3">
                                                <input id="chk_singlesec" type="radio" name="optionyes" value="true" ng-model="edt.sims_singlesec" ng-click="get_msgtypechecked(edt.sims_singlesec)">
                                                <label for="chk_singlesec">Single Sections&nbsp;</label>
                                                    </div>
                                                      <div class="col-md-6">
                                                <input id="chk_allsec" type="radio" name="optionyes" value="false" ng-model="edt.sims_singlesec" ng-click="get_msgtypechecked(edt.sims_singlesec)">
                                                <label for="chk_allsec">All Sections</label>
                                                          </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                   
                <div class="row bluegrid" style="margin-left:-11px;margin-right:-16px;">
                            <div class="col-md-1">
                                <label><i class="fa fa-align-justify"></i>&nbsp;{{"Curriculum"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                        <select id="cmb_cur" name="cmb_cur" data-role="dropdownlist" class="form-control select2-sm"
                                            ng-model="edt.sims_cur_code" required ng-maxlength="2" ng-minlength="1" ng-change="getacadyr(edt.sims_cur_code)"
                                            ng-options="item.sims_cur_code as item.sims_cur_short_name for item in cur_data">
                                            <option value=""  disabled>Please Select</option>
                                        </select>
                                    
                                        <div class="error-container"
                                            ng-show="myForm.cmb_cur.$dirty && myForm.cmb_cur.$invalid || myForm.$submitted">
                                            <small class="error"
                                                ng-show="myForm.cmb_cur.$error.required">This Field is required.
                                            </small>
                                        </div>
                                    </div>
                               
                            <div class="col-md-2">
                                <label><i class="fa fa-calendar"></i>&nbsp;{{"Academic Year"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                         <select id="cmb_acad_yr" name="cmb_acad_yr" data-role="dropdownlist" class="form-control select2-sm"
                                            ng-model="edt.sims_academic_year" required ng-maxlength="2" ng-minlength="1" ng-change="getgrade(edt.sims_cur_code,edt.sims_academic_year)"
                                            ng-options="item.sims_academic_year as item.sims_academic_year_description for item in acadyr_data">
                                            <option value="" disabled>Please Select</option>
                                        </select>
                                    </div>

                            <div class="col-md-1">
                                <label><i class="fa fa-sitemap"></i>&nbsp;{{"Grade"| translate }}</label>
                                        <!--<select id="cmb_grade" name="Grade" class="form-control select2-sm"
                                            ng-model="edt.sims_grade_code"   ng-change="getsection(edt.sims_cur_code,edt.sims_academic_year,edt.sims_grade_code)"
                                            ng-options="item.sims_grade_code as item.sims_grade_name for item in grade_data" ng-show="onesec">
                                            <option value="">Select Grade</option>
                                        </select>-->

                                        <select id="cmb_grade" name="Grade" multiple="multiple" class="full-width" ng-model="edt.sims_grade_code"
                                                 ng-change="getsection(edt.sims_cur_code,edt.sims_academic_year,edt.sims_grade_code)">
                                                <option ng-repeat="i in grade"
                                                    value="{{i.sims_grade_code}}">{{i.sims_grade_name}}
                                                </option>
                                            </select>
                                    </div>

                            <div class="col-md-1">
                                <label><i class="fa fa-align-justify"></i>&nbsp;{{"Section"| translate }}</label>
                                       <!-- <select id="cmb_section" name="cmb_section" class="form-control select2-sm" ng-model="edt.sims_section_code"
                                              ng-show="onesec"
                                            ng-options="item.sims_section_code as item.sims_section_name for item in section_data">
                                              <option value="">Select Section</option>
                                        </select>-->

                                        <select id="cmb_section" name="Section" multiple="multiple"  class="full-width"
                                                ng-model="edt.sims_section_code" >
                                                <option ng-repeat="j in section"
                                                    value="{{j.sims_section_code}}">{{j.sims_section_name}}
                                                </option>
                                            </select>
                                    </div>

                            <div class="col-md-2" style="margin-left:-141px;">
                                <label>&nbsp;</label>
                                <div class="pull-right">
                                        <button class="btn btn-primary btn-small" id="btn" type="button" ng-click="getfeeposting_accrualdata(edt.sims_cur_code,edt.sims_academic_year,edt.sims_grade_code,edt.sims_section_code)">
                                            {{"Submit"|translate}}
                                        </button>
                                    </div>
                                    </div>

                           <!-- <div class="col-md-1">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label>&nbsp;</label>
                                    </div>
                                    <div class="col-md-12">
                                        <select id="Select1" style="width: 65px" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="5" class=" form-control input-sm">5
                            </option>

                            <option value="10" class=" form-control input-sm">10
                            </option>

                            <option value="15" class=" form-control input-sm">15
                            </option>
                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label>
                                            {{ "Search:" | translate }} &nbsp;</label>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="text" aria-controls="example" ng-model="search.$" class="input-medium">
                                    </div>
                                </div>
                            </div>-->
                       </div>
                  

                <div class="row">
                                      <div class="col-md-12">
                                  <div class="loader" ng-show="BUSY">
                                      </div>
                                      </div>
                          </div>
                 
                

             
                </form>
            </div>
    </div>

            <div ng-show="grid" style="background-color:white;">
                <div class="row margin-top" style="margin-top:-3px;">
                    <div class="col-md-6">
                        <select id="Select1" style="width: 65px;margin-top:4px;margin-left:8px;" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="10" class=" form-control input-sm">
                                10
                            </option>

                            <option value="20" class=" form-control input-sm">
                                20
                            </option>

                            <option value="All" class=" form-control input-sm">
                                All
                            </option>
                        </select>

                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" ng-model="searchText" placeholder="Fee No/ Fee Description" class="k-textbox" autofocus="autofocus" tabindex="1" ng-change="search()">

                                    <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <!-- <div style="width: 100%; height: auto; overflow-x: scroll; overflow-y: hidden">
                 <table class="table table-hover table-striped  no-more-tables">-->
                    <div style="width: 99%;margin-left:6px; height: auto; overflow-x: scroll; overflow-y: hidden;background-color:white;">
                        <table class="table  table-bordered  table-condensed dataTable" id="example">
                            <thead>
                                <tr style="background-color: #e9e4e4">

                                    <th class="small-cell v-align-middle">
                                        <div class="checkbox check-success">
                                            <input type="checkbox" class="k-checkbox" name="check" value="1" id="mainchk" ng-click="CheckAllChecked();">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>
                                    <!--  <td>&nbsp;</td>-->
                                    <!--<th class="small-cell v-align-middle" style="font-size: large"><b><i class="fa fa-cogs"></i></b></th>-->
                                    <th>{{"Action"|translate}}</th>

                                    <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                        <a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"Fee Number"| translate }}</a>
                                    </th>
                                    <!--<th class="div_th"><b>{{"Fee Number"| translate }}</b></th>-->
                                    <th class="div_th"><b><i class="fa fa-align-justify"></i>&nbsp;{{"Fee Description"| translate }}</b></th>
                                    <th class="div_th"><b><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Revenue A/C No."| translate }}</b></th>
                                    <th class="div_th"><b><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Receivable A/C No."| translate }}</b></th>
                                    <th class="div_th"><b><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Discount A/C No."| translate }}</b></th>
                                    <th class="div_th"><b><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Advance Academic Year A/C No."| translate }}</b></th>
                                    <th class="div_th"><b><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Advance Recived A/C For"| translate }}</b></th>
                                    <th class="div_th"><b><i class="fa fa-calendar"></i>&nbsp;{{"Feb."| translate }}</b></th>
                                    <th class="div_th"><b><i class="fa fa-calendar"></i>&nbsp;{{"March"| translate }}</b></th>
                                    <th class="div_th"><b><i class="fa fa-calendar"></i>&nbsp;{{"April"| translate }}</b></th>
                                    <th class="div_th"><b><i class="fa fa-calendar"></i>&nbsp;{{"May"| translate }}</b></th>
                                    <th class="div_th"><b><i class="fa fa-calendar"></i>&nbsp;{{"June"| translate }}</b></th>
                                    <th class="div_th"><b><i class="fa fa-calendar"></i>&nbsp;{{"July"| translate }}</b></th>
                                    <th class="div_th"><b><i class="fa fa-calendar"></i>&nbsp;{{"Aug."| translate }}</b></th>
                                    <th class="div_th"><b><i class="fa fa-calendar"></i>&nbsp;{{"Sept."| translate }}</b></th>
                                    <th class="div_th"><b><i class="fa fa-calendar"></i>&nbsp;{{"Oct."| translate }}</b></th>
                                    <th class="div_th"><b><i class="fa fa-calendar"></i>&nbsp;{{"Nov."| translate }}</b></th>
                                    <th class="div_th"><b><i class="fa fa-calendar"></i>&nbsp;{{"Dec."| translate }}</b></th>
                                    <th class="div_th"><b><i class="fa fa-bookmark"></i>&nbsp;{{"Fee Posting Status"| translate }}</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="mod in filteredTodos | orderBy:orderByField:reverseSort" ng-class="row1">
                                    <!-- |filter:search:strict-->
                                    <td>
                                        <div class="checkbox check-success" style="height: 20px">
                                            <input type="checkbox" class="k-checkbox" name="check" value="1" id="{{$index}}" ng-model="mod.fins_fee_number1" ng-click="checkonebyonedelete()">
                                            <label for="{{$index}}">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="">
                                            <i class="fa fa-edit" ng-show="!mod.status" ng-click="edit(mod)"></i> &nbsp;
                                            <i class="fa fa-times" ng-hide="!mod.status" ng-click="cancel(mod)"></i>

                                        </a>
                                    </td>

                                    <td style="text-align:right">
                                        <div>{{mod.fins_fee_number}}</div>
                                    </td>
                                    <td>
                                        <div>{{mod.sims_fee_code_description}}</div>
                                    </td>
                                    <td>
                                        <div>
                                            <select id="cmb_acc_no" name="cmb_acc_no" data-role="dropdownlist" class="form-control"
                                                    ng-model="mod.fins_revenue_acno" style="width:150px" ng-disabled="!mod.status"
                                                    ng-options="item.fins_revenue_acno as item.fins_revenue_acname for item in AccountNo_data"></select>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <select id="cmb_rec_acc_no" name="cmb_rec_acc_no" data-role="dropdownlist" class="form-control"
                                                    ng-model="mod.fins_receivable_acno" style="width:150px" ng-disabled="!mod.status"
                                                    ng-options="item.fins_receivable_acno as item.fins_receivable_acname for item in AccountNo_data">
                                                <option value="">Select Account No</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <select id="cmb_discount_acc_no" name="cmb_discount_acc_no" data-role="dropdownlist" class="form-control"
                                                    ng-model="mod.fins_discount_acno" style="width:150px" ng-disabled="!mod.status"
                                                    ng-options="item.fins_discount_acno as item.fins_discount_acname for item in AccountNo_data">
                                                <option value="">Select Account No</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <select id="cmb_advance_academic_year_acno" name="cmb_advance_academic_year_acno" class="form-control select2-sm"
                                                    ng-model="mod.fins_advance_academic_year_acno" style="width:150px" ng-disabled="!mod.status"
                                                    ng-options="item1.fins_advance_academic_year_acno as item1.fins_advance_academic_year_acname for item1 in AccountNo_data">
                                                <option value="">Select Account No</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <select id="cmb_advance_received_acno_jan" name="cmb_advance_received_acno_jan" data-role="dropdownlist" class="form-control"
                                                    ng-model="mod.fins_advance_received_acno_jan" style="width:150px" ng-disabled="!mod.status" ng-change="getAllAccountData(mod.fins_advance_received_acno_jan,mod)"
                                                    ng-options="item.fins_advance_received_acno_jan as item.fins_advance_received_acname_jan for item in AccountNo_data">
                                                <option value="">Select Account No</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <select id="cmb_advance_received_acno_feb" name="cmb_advance_received_acno_feb" data-role="dropdownlist" class="form-control"
                                                    ng-model="mod.fins_advance_received_acno_feb" style="width:150px" ng-disabled="!mod.status"
                                                    ng-options="item1.fins_advance_received_acno_feb as item1.fins_advance_received_acname_feb for item1 in AccountNo_data">
                                                <option value="">Select Account No</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <select id="cmb_advance_received_acno_mar" name="cmb_advance_received_acno_mar" data-role="dropdownlist" class="form-control"
                                                    ng-model="mod.fins_advance_received_acno_mar" style="width:150px" ng-disabled="!mod.status"
                                                    ng-options="item.fins_advance_received_acno_mar as item.fins_advance_received_acname_mar for item in AccountNo_data">
                                                <option value="">Select Account No</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <select id="cmb_advance_received_acno_aprl" name="cmb_advance_received_acno_aprl" data-role="dropdownlist" class="form-control"
                                                    ng-model="mod.fins_advance_received_acno_apr" style="width:150px" ng-disabled="!mod.status"
                                                    ng-options="item.fins_advance_received_acno_apr as item.fins_advance_received_acname_apr for item in AccountNo_data">
                                                <option value="">Select Account No</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <select id="cmb_advance_received_acno_may" name="cmb_advance_received_acno_may" data-role="dropdownlist" class="form-control"
                                                    ng-model="mod.fins_advance_received_acno_may" style="width:150px" ng-disabled="!mod.status"
                                                    ng-options="item.fins_advance_received_acno_may as item.fins_advance_received_acname_may for item in AccountNo_data">
                                                <option value="">Select Account No</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <select id="cmb_advance_received_acno_june" name="cmb_advance_received_acno_june" data-role="dropdownlist" class="form-control"
                                                    ng-model="mod.fins_advance_received_acno_jun" style="width:150px" ng-disabled="!mod.status"
                                                    ng-options="item.fins_advance_received_acno_jun as item.fins_advance_received_acname_jun for item in AccountNo_data">
                                                <option value="">Select Account No</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <select id="cmb_advance_received_acno_july" name="cmb_advance_received_acno_july" data-role="dropdownlist" class="form-control"
                                                    ng-model="mod.fins_advance_received_acno_jul" style="width:150px" ng-disabled="!mod.status"
                                                    ng-options="item.fins_advance_received_acno_jul as item.fins_advance_received_acname_jul for item in AccountNo_data">
                                                <option value="">Select Account No</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <select id="cmb_advance_received_acno_aug" name="cmb_advance_received_acno_aug" data-role="dropdownlist" class="form-control"
                                                    ng-model="mod.fins_advance_received_acno_aug" style="width:150px" ng-disabled="!mod.status"
                                                    ng-options="item.fins_advance_received_acno_aug as item.fins_advance_received_acname_aug for item in AccountNo_data">
                                                <option value="">Select Account No</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <select id="cmb_advance_received_acno_sept" name="cmb_advance_received_acno_sept" data-role="dropdownlist" class="form-control"
                                                    ng-model="mod.fins_advance_received_acno_sep" style="width:150px" ng-disabled="!mod.status"
                                                    ng-options="item.fins_advance_received_acno_sep as item.fins_advance_received_acname_sep for item in AccountNo_data">
                                                <option value="">Select Account No</option>
                                            </select>
                                        </div>
                                    </td>

                                    <td>
                                        <div>
                                            <select id="cmb_advance_received_acno_oct" name="cmb_advance_received_acno_oct" data-role="dropdownlist" class="form-control"
                                                    ng-model="mod.fins_advance_received_acno_oct" style="width:150px" ng-disabled="!mod.status"
                                                    ng-options="item.fins_advance_received_acno_oct as item.fins_advance_received_acname_oct for item in AccountNo_data">
                                                <option value="">Select Account No</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <select id="cmb_advance_received_acno_nov" name="cmb_advance_received_acno_nov" data-role="dropdownlist" class="form-control"
                                                    ng-model="mod.fins_advance_received_acno_nov" style="width:150px" ng-disabled="!mod.status"
                                                    ng-options="item.fins_advance_received_acno_nov as item.fins_advance_received_acname_nov for item in AccountNo_data">
                                                <option value="">Select Account No</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>

                                        <div>
                                            <select id="cmb_advance_received_acno_dec" name="cmb_advance_received_acno_dec" data-role="dropdownlist" class="form-control"
                                                    ng-model="mod.fins_advance_received_acno_dec" style="width:150px" ng-disabled="!mod.status"
                                                    ng-options="item.fins_advance_received_acno_dec as item.fins_advance_received_acname_dec for item in AccountNo_data">
                                                <option value="">Select Account No</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="label label-success" ng-if="mod.fins_fees_posting_status == true">Active</span>
                                        <span ng-if="mod.fins_fees_posting_status==false" class="label label-important">In Active</span>
                                    </td>

                                    <!-- <td>
                                 <a><i class="fa fa-edit" ng-click="edit(mod)"></i></a>
                             </td>-->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row" ng-show="pager">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)" ng-hide="pagershow">
                                </paging>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row form-row">
                            <div class="pull-right">
                                <button class="btn btn-primary btn-cons" type="submit" ng-click="Save(true)" ng-disabled="tt">{{"Save" | translate}}</button>
                                <button class="btn btn-danger btn-cons" type="button" ng-click="mainCancel()" ng-disabled="tt">{{"Cancel" | translate}}</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
             
        </div>
    </div>

   
</div>




<script src="assets/js/tableHeadFixer.js"></script>