﻿<style>
    form-actions {
        padding: 7px 20px 7px;
    }
    .grid.simple .form-actions {
    margin-right: -7px !important;
    margin-left: -7px !important;
    margin-bottom: -15px !important;
}
</style>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Fee Posting "| translate }}</span>{{"Payment Mode"| translate }} </h3>
            </div>

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="grid-body no-border table_padding">
            <div ng-show="table">
                <div class="row">

                    <div class="col-md-6">
                        <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="10" class=" form-control input-sm">
                                10
                            </option>

                            <option value="20" class=" form-control input-sm">
                                20
                            </option>

                            <option value="All" class=" form-control input-sm">
                                All
                            </option>
                        </select>
                        &nbsp;
                        <button class="btn btn-success btn-small" type="button" id="designew" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate }}</button>
                        &nbsp;
                        <button class="btn btn-danger btn-small" type="button" ng-click="OkDelete()"><span class="semi-bold"></span>{{"Delete"| translate }}</button>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                               <span class="k-textbox k-space-right full-width">
                                    <!--<input type="text" aria-controls="example" ng-model="search.$" class="input-medium"></label>-->
                                    <input aria-controls="example" ng-model="searchText" class="input-medium" placeholder="Search" autofocus="autofocus" type="search" ng-change="search()">
                               <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                        </div>
                    </div>
                </div>



                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div class="row margin-top">
                        <div class="col-md-12" style="margin-top:-9px;">
                    <div style="width: 100%; height: auto; overflow-x: auto; overflow-y: auto">
                        <table class="table table-bordered table-hover table-hover table-condensed" id="fixTable">
                            <thead>
                                <tr style="background-color: #edefef">
                                    <th class="small-cell v-align-middle" style="z-index:1;">
                                        <div class="checkbox check-success">
                                            <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>
                                    <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                       <a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"Curriculum Name" | translate }}
                                    </th>


                                    <th>
                                        <i class="fa fa-calendar"></i>&nbsp; {{"Academic Year"| translate }}
                                    </th>

                                    <th>
                                        <i class="fa fa-money"></i>&nbsp;{{"Payment Type" | translate }}
                                    </th>

                                    <th>
                                        <i class="fa fa-money"></i>&nbsp;{{"Payment Account" | translate }}
                                    </th>
                                    <th>
                                       <i class="fa fa-calendar"></i>&nbsp;{{"Advance Year Account" | translate }}
                                    </th>
                                    <th>
                                        <i class="fa fa-money"></i>&nbsp;{{"Refund Account" | translate }}
                                    </th>
                                    <th>
                                       <i class="fa fa-bookmark"></i>&nbsp;{{"Status" | translate }}
                                    </th>

                                    <th class="semi-bold">
                                        <label><i class="fa fa-cogs"></i></label>
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="j in filteredTodos | orderBy:orderByField:reverseSort" ng-class="row1">
                                    <td class="small-cell v-align-middle">
                                        <div class="row-fluid">
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input id="{{j.fins_fee_cur_name+$index}}" type="checkbox" value="1" ng-click="checkonebyonedelete()">
                                                <label for="{{j.fins_fee_cur_name+$index}}"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <label id="lbl">{{j.fins_fee_cur_name}}</label>
                                    </td>
                                    <td>
                                        <label id="Label1">{{j.fins_fee_academic_year_desc}}</label>
                                    </td>
                                    <td>
                                        <label id="Label2">{{j.fins_fee_payment_type_desc}}</label>
                                    </td>

                                    <td>
                                        <label id="Label3">{{j.fins_fee_acno_name}}</label>
                                    </td>
                                    <td>
                                        <label id="Label4">{{j.fins_fee_advance_acno_name}}</label>
                                    </td>
                                    <td>
                                        <label id="Label5">{{j.fins_fee_refund_acno_name}}</label>
                                    </td>
                                    
                                    <td>

                                        <span ng-if="j.fins_fee_posting_status==true" class="label label-success">{{"Active" | translate }}</span>
                                        <span ng-if="j.fins_fee_posting_status==false" class="label label-important">{{"In active" | translate }}</span>


                                        <!--<label id="Label5">{{j.fins_fee_posting_status}}</label>-->
                                    </td>
                                   



                                    <td>
                                        <a href=""><i class="fa fa-edit" ng-click="edit(j)"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                            </div>
                    </div>
                     <div class="row" ng-show="pager">
                        <div class="col-md-12">
                    <div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                ng-click="index(currentPage)">
                        </paging>
                    </div>
                            </div>
                         </div>


                </div>

            </div>

            <div ng-show="display">
                <form name="Myform" ng-submit="savedata(Myform.$valid)" novalidate="novalidate">
                    <!--1ST ROW-->
                    <div class="row">

                        <div class="col-md-12 form-group">

                            <!--Curr Code-->

                            <div class="col-md-2" ng-class="{'has-error': !Myform.Cur_Code.$valid && (Myform.Cur_Code.$touched || Myform.$submitted) }">
                                <label class="semi-bold" for="CurCode"><i class="fa fa-dashboard"></i>&nbsp;{{"Curriculum Code"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <select id="currcode" class="form-control"
                                        ng-model="temp.sims_cur_code"
                                        ng-options="doc.sims_cur_code as doc.sims_cur_short_name_en for doc in Cname" ng-change="getacyr(temp.sims_cur_code)" ng-disabled="currcode1" name="Cur_Code" required></select>
                                <p class="help-block" ng-show="Myform.Cur_Code.$error.required &&  (Myform.Cur_Code.$touched || Myform.$submitted)">
                                    {{"This field is required"| translate }}
                                </p>
                            </div>
                        <!--Academic Year-->

                            

                            <!--Payment Type-->
                            

                            <!--Account Number-->
                            <!--<div class="col-md-3" ng-class="{'has-error': !Myform.Acc_no.$valid && (Myform.Acc_no.$touched || Myform.$submitted) }">
                                <label class="semi-bold" for="accno">{{"Account Number"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <select id="Accno" class="form-control"
                                        ng-model="temp.acno"
                                        ng-options="doc.acno as doc.glma_acct_name for doc in GlACNO" ng-change="setvisible();" ng-disabled="Accno1" name="Acc_no" required>
                                      <option value="">Please Select</option>
                                </select>-->

                            <div class="col-lg-3 col-md-3" ng-class="{'has-error': !Myform.Acc_no.$valid && (Myform.Acc_no.$touched || Myform.$submitted) }" style="margin-top:-2px;">
                                    <label id="Label14" class="form-label"><i class="fa fa-money"></i>&nbsp;{{"Payment Account"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <!--<select id="Accno" class="full-width"  ng-model="temp.acno"
                                    ng-options="doc.acno as doc.glma_acct_name for doc in GlACNO" 
                                     ng-change="setvisible();" ng-disabled="Accno1" name="Acc_no" required>
                                    <option value="">Please Select</option>
                                </select>-->

                                  <select id="Accno" class="full-width"
                                        ng-model="temp.acno"
                                          ng-change="setvisible();"  ng-disabled="Accno1" name="Acc_no" required>
                                      <option value="">Please Select</option>
                                      <option  ng-repeat="doc in GlACNO" value="{{doc.acno}}" >{{doc.glma_acct_name}} </option>
                                </select>
                                
                            
                                     
                                <p class="help-block" ng-show="Myform.Acc_no.$error.required &&  (Myform.Acc_no.$touched || Myform.$submitted)">
                                    {{"This field is required"| translate }}
                                </p>
                            </div>

                        </div>
                    </div>
                    <!--2ND ROW-->
                    <div class="row">
                        <div class="col-md-12 form-group">

                            <div class="col-md-2" ng-class="{'has-error': !Myform.Academc_year.$valid && (Myform.Academc_year.$touched || Myform.$submitted) }">
                                <label class="semi-bold" for="acdyear"><i class="fa fa-calendar"></i>&nbsp;{{"Academic Year"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <select id="year" class="form-control"
                                        ng-model="temp.sims_academic_year"
                                        ng-options="doc.sims_academic_year as doc.sims_academic_year_desc for doc in Academic_year" ng-change="setvisible();" ng-disabled="acdyear1" name="Academc_year" required></select>
                                <p class="help-block" ng-show="Myform.Academc_year.$error.required &&  (Myform.Academc_year.$touched || Myform.$submitted)">
                                    {{"This field is required"| translate }}
                                </p>
                            </div>

                             <!--Account Number-->
                            <!--<div class="col-md-3" ng-class="{'has-error': !Myform.Adv_no.$valid && (Myform.Adv_no.$touched || Myform.$submitted) }">
                                <label class="semi-bold" for="Select2">{{"Advance Year Payment A/c"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <select id="Select2" class="form-control input-sm full-width"
                                        ng-model="temp.acno_code"
                                        ng-options="doc.acno_code as doc.glma_acct_name_desc for doc in GlACNO1" ng-disabled="Accno1"   name="Adv_no" required>
                                     <option value="">Please Select</option>
                                </select>-->

                                 <div class="col-lg-3 col-md-3" ng-class="{'has-error': !Myform.Adv_no.$valid && (Myform.Adv_no.$touched || Myform.$submitted) }">
                                    <label id="Label6" class="form-label"><i class="fa fa-money"></i>&nbsp;{{"Advance Year Payment A/c"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <!--<select id="Select2" class="full-width"  ng-model="temp.acno_code"
                                    ng-options="doc1.acno as doc1.glma_acct_name for doc1 in GlACNO" 
                                     ng-change="setvisible();" ng-disabled="Accno1" name="Acc_no" required>
                                    <option value="">Please Select</option>
                                </select>-->
                                     <select id="cmb_adv_ac" class="full-width"  ng-model="temp.acno_code"
                                   
                                     ng-change="setvisible();" ng-disabled="Accno1" name="Acc_no" required>
                                    <option value="">Please Select</option>
                                    <option ng-repeat="doc1 in GlACNO" value="{{doc1.acno}}">{{ doc1.glma_acct_name}}</option>

                                        </select> 

                               <p class="help-block" ng-show="Myform.Adv_no.$error.required &&  (Myform.Adv_no.$touched || Myform.$submitted)">
                                    {{"This field is required"| translate }}
                                </p>
                            </div>

                            
                           
                            
                            <!--Status-->
                            

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12 form-group">

                           <div class="col-md-2" ng-class="{'has-error': !Myform.Pay_mode.$valid && (Myform.Pay_mode.$touched || Myform.$submitted) }">
                                <label class="semi-bold" for="paytype"><i class="fa fa-money"></i>&nbsp;{{"Payment Type"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <select id="Ptype" class="form-control"
                                        ng-model="temp.sims_appl_parameter"
                                        ng-options="doc.sims_appl_parameter as doc.sims_appl_form_field_value1 for doc in pay_mode" ng-change="setvisible();" ng-disabled="Ptype1" name="Pay_mode" required></select>
                                <p class="help-block" ng-show="Myform.Pay_mode.$error.required &&  (Myform.Pay_mode.$touched || Myform.$submitted)">
                                    {{"This field is required"| translate }}
                                </p>
                            </div>

                            <div class="col-lg-3 col-md-3">
                                <label id="Label7" class="form-label"><i class="fa fa-money"></i>&nbsp;{{"Refund Account"| translate }}</label>
                                <select id="cmb_refund_ac" class="full-width" ng-model="temp.fins_fee_refund_acno"
                                        ng-change="setvisible();" ng-disabled="Accno1" name="refund_acno">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="doc2 in GlACNO" value="{{doc2.acno}}">{{ doc2.glma_acct_name}}</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                            <label id="Label10" for="txt_Status" class="form-label"><i class="fa fa-bookmark"></i>&nbsp;{{"Status"| translate }}</label>

                            <div class="checkbox check-success">
                                <input id="chk_term2" type="checkbox" ng-model="temp.fins_fee_posting_status">
                                <label for="chk_term2"></label>
                            </div>
                                </div>
                            

                         </div>
                        </div>

                    <div class="form-actions">
                        <div class="pull-right">
                            <button type="submit" id="desigsub" ng-show="save_btn" class="btn btn-primary btn-cons">{{"Save" | translate }}</button>
                            <button type="button" ng-show="Update_btn" ng-click="update();" class="btn btn-primary btn-cons">{{"Update" | translate }}</button>
                            <button type="button" class="btn btn-danger btn-cons" ng-click="Cancel();">{{"Cancel"| translate }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    </div>
</div>
<script src="assets/js/tableHeadFixer.js"></script>