﻿<style>
    .grid.simple .grid-body{
        background-color:transparent;
    }
   
    .div_th {
        white-space: nowrap;
    }
                   
  
</style>
<link href="assets/css/mino.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3>{{"Fee Posting"|translate}}<span class="semi-bold"></span></h3>
            </div>
            <div class="grid-title no-border">
            </div>

            <div class="grid-body no-border paddingcode"style="margin-left:-17px;margin-right:-17px;" ng-show="grid">
                <form name="myForm" novalidate="novalidate" ng-submit="Save(myForm.$valid)">
                    <div class="grid-body no-border">
                        <div class="row" ng-show="notshow">
                            <div class="col-xs-4">
                                <div class="well" class="form-group">
                                    <div class="form-group">
                                        <label>Current Page:</label>
                                        <input placeholder="page"
                                            class="form-control"
                                            ng-model="currentPage"
                                            ng-init="currentPage = 1" />
                                    </div>
                                    <div class="form-group">
                                        <label>Page Size:</label>
                                        <input placeholder="Page Size"
                                            class="form-control"
                                            ng-model="numPerPage" />
                                    </div>
                                    <div class="form-group">
                                        <label>Total Items:</label>
                                        <input placeholder="Total"
                                            class="form-control"
                                            ng-model="pagersize" />
                                    </div>
                                    <hr />
                                    <div class="form-group">
                                        <label>Dots Display:</label>
                                        <input placeholder="..."
                                            class="form-control"
                                            maxlength="3"
                                            ng-model="dots"
                                            ng-init="dots = '...'" />
                                    </div>

                                    <hr />
                                    <div class="form-group">
                                        <label>UL Class:</label>
                                        <input placeholder="pagination"
                                            class="form-control"
                                            maxlength="100"
                                            ng-model="ulClass" />
                                    </div>
                                    <div class="form-group">
                                        <label>Active Class:</label>
                                        <input placeholder="active"
                                            class="form-control"
                                            maxlength="100"
                                            ng-model="activeClass"
                                            ng-init="activeClass = 'active'" />
                                    </div>
                                    <div class="form-group">
                                        <label>Disabled Class:</label>
                                        <input placeholder="disabled"
                                            class="form-control"
                                            maxlength="100"
                                            ng-model="disabledClass"
                                            ng-init="disabledClass = 'disabled'" />
                                    </div>
                                    <br />
                                    <table class="table">

                                        <tr>
                                            <td>
                                                <label>Show Prev Next:</label>
                                            </td>
                                            <td>
                                                <input type="checkbox"
                                                    ng-model="showPrevNext"
                                                    ng-init="showPrevNext = true" />
                                                {{showPrevNext}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Show First Last:</label>
                                            </td>
                                            <td>
                                                <input type="checkbox"
                                                    ng-model="showFirstLast"
                                                    ng-init="showFirstLast = true" />
                                                {{showPrevNext}}
                                            </td>
                                        </tr>
                                    </table>
                                    <hr />
                                    <span class="btn btn-default" onclick="location.reload()">
                                        <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                                    </span>
                                    <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                                    </span>
                                    <br />
                                    <br />
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="grid-body no-border">
                        <div class="row form-row">


                            <div class="col-md-12 bluegrid paddingcode" style="margin-top:-45px;border: 1px solid #dddddd;">
                                <!--Curriculam-->
                                <div class="col-md-2" ng-class="{'has-error': !Myform.sims_cur_name.$valid && (Myform.sims_cur_name.$touched || Myform.$submitted) }">
                                    <label id="Label27" for="txt_Nationality_Code" class="form-label"><i class="fa fa-book"></i>&nbsp;{{"Curriculam"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <select id="Select1" class="form-control input-sm full-width" data-role="dropdownlist"
                                        ng-model="temp.sims_cur_code" ng-selected="" name="sims_cur_name" ng-change="getAccYear(temp.sims_cur_code)"
                                        ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in curriculum" required>
                                    </select>

                                    <p class="help-block" ng-show="Myform.sims_cur_name.$error.required &&  (Myform.sims_cur_name.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>
                                </div>

                                <!--Academic Year-->
                                <div class="col-md-2" ng-class="{'has-error': !Myform.sims_academic_year.$valid && (Myform.sims_academic_year.$touched || Myform.$submitted) }">
                                    <label id="Label28" for="txt_Nationality_Code" class="form-label"><i class="fa fa-calendar"></i>&nbsp;{{"Academic Year"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <select id="Select4" class="form-control input-sm full-width" data-role="dropdownlist"
                                        ng-model="temp.sims_academic_year" ng-selected="" name="sims_academic_year" ng-change="getGrade(temp.sims_cur_code,temp.sims_academic_year)"
                                        ng-options="ay.sims_academic_year as ay.sims_academic_year_desc for ay in Acc_year" required>
                                    </select>
                                    <p class="help-block" ng-show="Myform.sims_academic_year.$error.required &&  (Myform.sims_academic_year.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>
                                </div>


                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="pull-left">
                                            <label id="Label1" class="form-label">&nbsp; </label>
                                            <button class="btn btn-success btn-small" style="margin-bottom:0px;border-radius:3px;height:30px !important; line-height:30px;" type="button" ng-click="Show(temp.sims_cur_code,temp.sims_academic_year)">{{"Show" | translate}}</button>
                                        </div>

                                    </div>
                                </div>



                            </div>


                            <!--   <div class="col-md-6">
                                <div class="pull-right">
                                    <div class="dataTables_filter" id="example_filter">
                                        <label>
                                            {{"Search" | translate}}:&nbsp;
                                            <input type="text" ng-model="searchText" placeholder="Fee No/ Fee Description" class="input-medium" autofocus="autofocus" tabindex="1" ng-change="search()">
                                        </label>
                                    </div>
                                </div>
                            </div>-->




                        </div>
                        <div id="example_wrapper" class="row dataTables_wrapper form-inline">
                            <div style="width: 100%; height: auto; overflow-x: scroll; overflow-y: hidden;background-color:white;padding-left:5px;margin-top:7px;">
                                <table class="table  table-bordered  table-condensed dataTable" id="example" style="width:540%;">
                                    <thead>
                                        <tr style="background-color: #e9e4e4">

                                         
                                            <th class="div_th"><i class="fa fa-edit"></i>&nbsp;{{"Action"|translate}}</th>
                                            <th ng-click="orderByField='ar_code'; reverseSort = !reverseSort"><i class="fa fa-bookmark-o"></i>&nbsp;<b>{{"Fee Type"| translate }} <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span></b></th>
                                            <!-- <th class="div_th"><b>{{"Description"| translate }}</b></th>-->
                                            <th class="div_th"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Revenue A/C NO."| translate }}</b></th>
                                            <th class="div_th"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Receiveable A/C NO."| translate }}</b></th>
                                            <th class="div_th"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Discount A/C NO."| translate }}</b></th>
                                            <th class="div_th"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Advanced A/C NO."| translate }}</b></th>
                                            <th class="div_th"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"VAT Posting A/C NO."| translate }}</b></th>

                                            <th class="div_th"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Current Advanced Received A/C NO.Jan"| translate }}</b></th>
                                            <th class="div_th"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Current Advanced Received A/C NO.Feb"| translate }}</b></th>
                                            <th class="div_th"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Current Advanced Received A/C NO.Mar"| translate }}</b></th>
                                            <th class="div_th"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Current Advanced Received A/C NO.Apr"| translate }}</b></th>
                                            <th class="div_th"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Current Advanced Received A/C NO.May"| translate }}</b></th>
                                            <th class="div_th"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Current Advanced Received A/C NO.Jun"| translate }}</b></th>
                                            <th class="div_th"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Current Advanced Received A/C NO.Jul"| translate }}</b></th>
                                            <th class="div_th"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Current Advanced Received A/C NO.Aug"| translate }}</b></th>
                                            <th class="div_th"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Current Advanced Received A/C NO.Sep"| translate }}</b></th>
                                            <th class="div_th"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Current Advanced Received A/C NO.Oct"| translate }}</b></th>
                                            <th class="div_th"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Current Advanced Received A/C NO.Nov"| translate }}</b></th>
                                            <th class="div_th"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Current Advanced Received A/C NO.Dec"| translate }}</b></th>






                                            <th class="div_th"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Current Advanced Reciveable A/C NO.Jan"| translate }}</b></th>
                                            <th class="div_th"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Current Advanced Reciveable A/C NO.Feb"| translate }}</b></th>
                                            <th class="div_th"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Current Advanced Reciveable A/C NO.Mar"| translate }}</b></th>
                                            <th class="div_th"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Current Advanced Reciveable A/C NO.Apr"| translate }}</b></th>
                                            <th class="div_th"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Current Advanced Reciveable A/C NO.May"| translate }}</b></th>
                                            <th class="div_th"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Current Advanced Reciveable A/C NO.Jun"| translate }}</b></th>
                                            <th class="div_th"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Current Advanced Reciveable A/C NO.Jul"| translate }}</b></th>
                                            <th class="div_th"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Current Advanced Reciveable A/C NO.Aug"| translate }}</b></th>
                                            <th class="div_th"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Current Advanced Reciveable A/C NO.Sep"| translate }}</b></th>
                                            <th class="div_th"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Current Advanced Reciveable A/C NO.Oct"| translate }}</b></th>
                                            <th class="div_th"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Current Advanced Reciveable A/C NO.Nov"| translate }}</b></th>
                                            <th class="div_th"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Current Advanced Reciveable A/C NO.Dec"| translate }}</b></th>
                                            <th class="div_th"><b><i class="fa fa-bookmark"></i>&nbsp;{{"Status"| translate }}</b></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="mod in all_data | orderBy:orderByField:reverseSort" ng-class="row1">
                                            <!-- ng-click="getAccountall()"-->
                                            <!-- |filter:search:strict-->
                                          
                                            <td  ng-click="getAccountall(mod)">
                                                <a href="">
                                                    <i class="fa fa-edit"></i> &nbsp;
                                                    
                                                </a>
                                            </td>
                                            <!--<td  ng-click="getAccountall(mod)">
                                                <a href="">
                                                    <i class="fa fa-edit" ng-show="!mod.status" ng-click="edit(mod)"></i> &nbsp;
                                                    <i class="fa fa-times" ng-hide="!mod.status" ng-click="cancel(mod)"></i>
                                                </a>
                                            </td>
                                            -->
                                            <td style="text-align:left;">
                                                <div>{{mod.sims_fee_code_description}}</div>
                                            </td>

                                           <!-- <td  style="text-align:right;">{{mod.fins_revenue_acno}}</td>
                                            <td  style="text-align:right;">{{mod.fins_receivable_acno}}</td>
                                            <td  style="text-align:right;">{{mod.fins_discount_acno}}</td>
                                            <td  style="text-align:right;">{{mod.fins_advance_academic_year_acno}}</td>-->
                                            
                                            <td>{{mod.revenue_acno_name}}</td>

                                            <td>{{mod.receivable_acno_name}}</td>
                                                
                                            <td>{{mod.discount_acno_name}}</td>
                                            <td>{{mod.advance_academic_year_acno_name}}</td>
                                            <td>{{mod.fins_vat_posting_acno_name}}</td>

                                            <!--1-->
                                            <td class="ng-hide" style="text-align:right;">{{mod.fins_curr_advance_received_acno_jan}}</td>
                                            <td>{{mod.fins_curr_advance_received_acno_jan_name}}</td>
                                            <!--2-->
                                            <td class="ng-hide" style="text-align:right;">{{mod.fins_curr_advance_received_acno_feb}}</td>
                                            <td>{{mod.fins_curr_advance_received_acno_feb_name}}</td>
                                            <!--3-->
                                            <td class="ng-hide" style="text-align:right;">{{mod.fins_curr_advance_received_acno_mar}}</td>
                                            <td>{{mod.fins_curr_advance_received_acno_mar_name}}</td>
                                            <!--4-->
                                            <td class="ng-hide" style="text-align:right;">{{mod.fins_curr_advance_received_acno_apr}}</td>
                                            <td>{{mod.fins_curr_advance_received_acno_apr_name}}</td>
                                            <!--5-->
                                            <td class="ng-hide"  style="text-align:right;">{{mod.fins_curr_advance_received_acno_may}}</td>
                                            <td>{{mod.fins_curr_advance_received_acno_may_name}}</td>
                                            <!--6-->
                                            <td class="ng-hide" style="text-align:right;">{{mod.fins_curr_advance_received_acno_jun}}</td>
                                            <td>{{mod.fins_curr_advance_received_acno_jun_name}}</td>
                                            <!--7-->
                                            <td class="ng-hide" style="text-align:right;">{{mod.fins_curr_advance_received_acno_jul}}</td>
                                            <td>{{mod.fins_curr_advance_received_acno_jul_name}}</td>
                                            <!--8-->
                                            <td class="ng-hide" style="text-align:right;">{{mod.fins_curr_advance_received_acno_aug}}</td>
                                            <td>{{mod.fins_curr_advance_received_acno_aug_name}}</td>
                                            <!--9-->
                                            <td class="ng-hide" style="text-align:right;">{{mod.fins_curr_advance_received_acno_sep}}</td>
                                            <td>{{mod.fins_curr_advance_received_acno_sep_name}}</td>
                                            <!--10-->
                                            <td class="ng-hide" style="text-align:right;">{{mod.fins_curr_advance_received_acno_oct}}</td>
                                            <td>{{mod.fins_curr_advance_received_acno_oct_name}}</td>
                                            <!--11-->
                                            <td class="ng-hide" style="text-align:right;">{{mod.fins_curr_advance_received_acno_nov}}</td>
                                            <td>{{mod.fins_curr_advance_received_acno_nov_name}}</td>
                                            <!--12-->
                                            <td class="ng-hide" style="text-align:right;">{{mod.fins_curr_advance_received_acno_dec}}</td>
                                            <td>{{mod.fins_curr_advance_received_acno_dec_name}}</td>

                                            <!--1-->
                                            <td class="ng-hide" style="text-align:right;">{{mod.fins_receivable_acno_jan}}</td>
                                            <td class="ng-hide" style="text-align:right;">{{mod.fins_receivable_acno_feb}}</td>
                                            <td class="ng-hide" style="text-align:right;">{{mod.fins_receivable_acno_mar}}</td>
                                            <td class="ng-hide" style="text-align:right;">{{mod.fins_receivable_acno_apr}}</td>
                                            <td class="ng-hide" style="text-align:right;">{{mod.fins_receivable_acno_may}}</td>
                                            <td class="ng-hide" style="text-align:right;">{{mod.fins_receivable_acno_jun}}</td>
                                            <td class="ng-hide" style="text-align:right;">{{mod.fins_receivable_acno_jul}}</td>
                                            <td class="ng-hide" style="text-align:right;">{{mod.fins_receivable_acno_aug}}</td>
                                            <td class="ng-hide" style="text-align:right;">{{mod.fins_receivable_acno_sep}}</td>
                                            <td class="ng-hide" style="text-align:right;">{{mod.fins_receivable_acno_oct}}</td>
                                            <td class="ng-hide" style="text-align:right;">{{mod.fins_receivable_acno_nov}}</td>
                                            <td class="ng-hide" style="text-align:right;">{{mod.fins_receivable_acno_dec}}</td>

                                            <td>{{mod.fins_receivable_acno_jan_name}}</td>
                                            <td>{{mod.fins_receivable_acno_feb_name}}</td>
                                            <td>{{mod.fins_receivable_acno_mar_name}}</td>
                                            <td>{{mod.fins_receivable_acno_apr_name}}</td>
                                            <td>{{mod.fins_receivable_acno_may_name}}</td>
                                            <td>{{mod.fins_receivable_acno_jun_name}}</td>
                                            <td>{{mod.fins_receivable_acno_jul_name}}</td>
                                            <td>{{mod.fins_receivable_acno_aug_name}}</td>
                                            <td>{{mod.fins_receivable_acno_sep_name}}</td>
                                            <td>{{mod.fins_receivable_acno_oct_name}}</td>
                                            <td>{{mod.fins_receivable_acno_nov_name}}</td>
                                            <td>{{mod.fins_receivable_acno_dec_name}}</td>

                                            <td class="v-align-middle">
                                                <span ng-if="mod.fins_fees_posting_status==true" class="label label-success">{{"Active"| translate }}</span>
                                                <span ng-if="mod.fins_fees_posting_status==false" class="label label-important">{{"Inactive"| translate }}</span>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--<div class="col-md-12" style="background-color:#fff;">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                    scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                    paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                    ng-click="index(currentPage)" ng-hide="pagershow">
                                </paging>
                            </div>
                            </div>-->
                        </div>
                      <!--  <div class="row">
                            <div class="col-md-12">
                                <div class="row form-row">
                                    <div class="pull-right">
                                        <button class="btn btn-success btn-cons" type="submit" ng-click="Save()">{{"Save" | translate}}</button>
                                        <button class="btn btn-warning btn-cons" type="button" ng-click="mainCancel()">{{"Cancel" | translate}}</button>
                                    </div>

                                </div>
                            </div>
                        </div>-->
                    </div>


                </form>
            </div>


        </div>
    </div>


</div>





<div class="modal fade in" id="FeeposModal" role="dialog" style="display: none;">
    <div class="modal-dialog" style="width: 1338px; border: solid; border-width: 02px; border-bottom-left-radius: 05px; border-bottom-right-radius: 05px; border-top-left-radius: 05px; border-top-right-radius: 05px; border-color: blue">
        <div class="modal-content" style="background-color:#eee;">
            <div class="modal-header ng-scope gridcolor" style="height: 40px;margin-left:10px;margin-right:10px;">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px"><b>Fee Type: </b>{{fee_type_desc}}-{{selected_year}}<b></b></h4>
                </div>
                <div class="pull-right">
                    <a href="">
                        <!---<h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>--->
                        <button style="margin-top :4px;margin-right :0px;height: 33px;line-height :23px;" class="btn btn-primary btn-cons" data-dismiss="modal" type="submit">Close</button>


                    </a>
                </div>

            </div>

            <div class="grid-body no-border">
                <div class="col-md-12" style="padding: 1%;">
                    <div class="row">
                        <div class="col-md-12 gridcolor paddingcode" style="margin-top:-9px;">
                            <!--Revenue A/C NO.-->
                            <div class="col-md-3">
                                <label id="Label7" for="txt_Country_Code"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Revenue A/C NO."| translate }}  <span class="asterisk" style="color: red">*</span></label>
                                <select id="account_codes1" style="width: 100%" ng-model="temp.fins_revenue_acno" name="sims_goal">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                        value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                    </option>
                                </select>
                            </div>

                            <!--Receiveable A/C NO.-->
                            <div class="col-md-3">
                                <label id="lable7" for="txt_Country_Code"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Receiveable A/C NO."| translate }}</label>
                                <select id="account_codes2" style="width: 100%" ng-model="temp.fins_receivable_acno" name="sims_goal1">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                        value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                    </option>
                                </select>
                            </div>

                            <!--Discount A/C NO.-->
                            <div class="col-md-3">
                                <label id="Label2" for="txt_Country_Code"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Discount A/C NO."| translate }}  </label>
                                <select id="account_codes3" style="width: 100%" ng-model="temp.fins_discount_acno" name="sims_goal1">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                        value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                    </option>
                                </select>
                            </div>

                            <!--Advanced A/C NO.-->
                            <div class="col-md-3">
                                <label id="Label3" for="txt_Country_Code"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Advanced A/C NO."| translate }} </label>
                                <select id="account_codes4" style="width: 100%" ng-model="temp.fins_advance_academic_year_acno" name="sims_goal1">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                        value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                    </option>
                                </select>
                            </div>

                        </div>



                        <div class="col-md-12 gridcolor paddingcode" style="margin-top:6px;">
                          <div class="col-md-4">
                            <div class="col-md-12">
                                  <label id="Label32" for="txt_Country_Code"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Current Advanced Received A/C NO."}}</label>
                            </div>
                             
                        </div>
                         <div class="col-md-4">
                            <div class="col-md-12">
                                  <label id="Label31" for="txt_Country_Code"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Current Advanced Reciveable A/C NO"}}</label>
                            </div>
                             
                        </div>
                            <div class="col-md-3">
                            <div class="col-md-12">
                                  <label id="Label33" for="txt_Country_Code" ng-show="vat_posting_acno"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"VAT Posting A/C NO"}}</label>
                                 
                            </div>
                             
                        </div>
                        </div>
                        <div class="col-md-12 gridcolor paddingcode">
                        <div class="col-md-4">
                        <!--<div class="col-md-12">-->
                            <!--1-->
                            <div class="col-md-12">
                                <div class="col-md-3">
                                 <label id="Label4" for="txt_Country_Code"><i class="fa fa-calendar"></i>&nbsp;{{"January"| translate }} </label>
                                    </div>
                                <div class="col-md-9">
                                <select id="cmb_jan1" style="width: 100%" ng-model="temp.fins_curr_advance_received_acno_jan" name="sims_goal">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                        value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                    </option>
                                </select>
                                    </div>
                            </div>

                            <!--2-->

                            <div class="col-md-12">
                                <div class="col-md-3">
                                  <label id="Label5" for="txt_Country_Code"><i class="fa fa-calendar"></i>&nbsp;{{"February"| translate }} </label>
                                </div>
                                <div class="col-md-9">
                                <select id="cmb_feb2" style="width: 100%" ng-model="temp.fins_curr_advance_received_acno_feb"  name="sims_goal">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                        value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                    </option>
                                </select>
                                </div>
                            </div>

                            <!--3-->

                            <div class="col-md-12">
                                <div class="col-md-3">
                                  <label id="Label6" for="txt_Country_Code"><i class="fa fa-calendar"></i>&nbsp;{{"March"| translate }} </label>
                                 </div>
                                <div class="col-md-9">
                                <select id="cmb_mar3" style="width: 100%" ng-model="temp.fins_curr_advance_received_acno_mar"  name="sims_goal">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                        value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                    </option>
                                </select>
                                    </div>
                            </div>

                            <!--4-->

                            <div class="col-md-12">
                                <div class="col-md-3">
                                  <label id="Label8" for="txt_Country_Code"><i class="fa fa-calendar"></i>&nbsp;{{"April"| translate }} </label>
                                 </div>
                                <div class="col-md-9">
                                <select id="cmb_apr4" style="width: 100%" ng-model="temp.fins_curr_advance_received_acno_apr"  name="sims_goal">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                        value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                    </option>
                                </select>
                                </div>
                            </div>

                        <!--</div>-->

                       <!-- <div class="col-md-12">-->

                            <div class="col-md-12">
                                <div class="col-md-3">
                                  <label id="Label9" for="txt_Country_Code"><i class="fa fa-calendar"></i>&nbsp;{{"May"| translate }} </label>
                                    </div>
                                <div class="col-md-9">
                                <select id="cmb_may5" style="width: 100%" ng-model="temp.fins_curr_advance_received_acno_may"  name="sims_goal">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                        value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                    </option>
                                </select>
                                    </div>
                            </div>
                            <!--6-->
                            <div class="col-md-12">
                                <div class="col-md-3">
                                  <label id="Label10" for="txt_Country_Code"><i class="fa fa-calendar"></i>&nbsp;{{"June"| translate }} </label>
                                </div>
                                <div class="col-md-9">
                                <select id="cmb_jun6" style="width: 100%" ng-model="temp.fins_curr_advance_received_acno_jun"  name="sims_goal">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                        value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                    </option>
                                </select>
                                    </div>
                            </div>
                            <!--7-->
                            <div class="col-md-12">
                                <div class="col-md-3">
                                  <label id="Label11" for="txt_Country_Code"><i class="fa fa-calendar"></i>&nbsp;{{"July"| translate }} </label>
                                    </div>
                                <div class="col-md-9">
                                <select id="cmb_jul7" style="width: 100%" ng-model="temp.fins_curr_advance_received_acno_jul"  name="sims_goal">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                        value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                    </option>
                                </select>
                                    </div>
                            </div>
                            <!--8-->
                            <div class="col-md-12">
                                <div class="col-md-3">
                                  <label id="Label12" for="txt_Country_Code"><i class="fa fa-calendar"></i>&nbsp;{{"August"| translate }} </label>
                                    </div>
                                <div class="col-md-9">
                                <select id="cmb_aug8" style="width: 100%" ng-model="temp.fins_curr_advance_received_acno_aug"  name="sims_goal">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                        value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                    </option>
                                </select>
                                    </div>
                            </div>



                        <!--</div>-->

                        <!--<div class="col-md-12">-->

                            <div class="col-md-12">
                                <div class="col-md-3">
                                  <label id="Label13" for="txt_Country_Code"><i class="fa fa-calendar"></i>&nbsp;{{"September"| translate }} </label>
                                 </div>
                                <div class="col-md-9">
                                <select id="cmb_sep9" style="width: 100%" ng-model="temp.fins_curr_advance_received_acno_sep" name="sims_goal">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                        value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                    </option>
                                </select>
                                    </div>
                            </div>


                            <!--10-->

                            <div class="col-md-12">
                                <div class="col-md-3">
                                  <label id="Label14" for="txt_Country_Code"><i class="fa fa-calendar"></i>&nbsp;{{"October"| translate }} </label>
                                    </div>
                                <div class="col-md-9">
                                <select id="cmb_oct10" style="width: 100%" ng-model="temp.fins_curr_advance_received_acno_oct"  name="sims_goal">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                        value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                    </option>
                                </select>
                                    </div>
                            </div>



                            <!--11-->

                            <div class="col-md-12">
                                <div class="col-md-3">
                                  <label id="Label15" for="txt_Country_Code"><i class="fa fa-calendar"></i>&nbsp;{{"November"| translate }} </label>
                                 </div>
                                <div class="col-md-9">
                                <select id="cmb_nov11" style="width: 100%" ng-model="temp.fins_curr_advance_received_acno_nov"  name="sims_goal">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                        value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                    </option>
                                </select>
                                    </div>
                            </div>


                            <!--12-->

                            <div class="col-md-12">
                                <div class="col-md-3">
                                  <label id="Label16" for="txt_Country_Code"><i class="fa fa-calendar"></i>&nbsp;{{"December"| translate }} </label>
                                    </div>
                                <div class="col-md-9">
                                <select id="cmb_dec12" style="width: 100%" ng-model="temp.fins_curr_advance_received_acno_dec"  name="sims_goal">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                        value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                    </option>
                                </select>
                                    </div>
                            </div>

                       <!-- </div>-->
                        </div>
                       
                         <div class="col-md-4">
                       
                       <!-- <div class="col-md-12">-->
                            <!--1-->

                            <div class="col-md-12">
                                <div class="col-md-3">
                                  <label id="Label17" for="txt_Country_Code"><i class="fa fa-calendar"></i>&nbsp;{{"January"| translate }} </label>
                                </div>
                                <div class="col-md-9">
                                <select id="cmb_fins_jan1" style="width: 100%" ng-model="temp.fins_receivable_acno_jan"  name="sims_goal">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                        value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                    </option>
                                </select>
                                    </div>
                            </div>


                            <!--2-->

                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label id="Label18" for="txt_Country_Code"><i class="fa fa-calendar"></i>&nbsp;{{"February"| translate }} </label>
                                </div>
                                <div class="col-md-9">
                                <select id="cmb_fins_feb2" style="width: 100%" ng-model="temp.fins_receivable_acno_feb" name="sims_goal">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                        value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                    </option>
                                </select>
                                    </div>
                            </div>

                            <!--3-->

                            <div class="col-md-12">
                                <div class="col-md-3">
                                 <label id="Label19" for="txt_Country_Code"><i class="fa fa-calendar"></i>&nbsp;{{"March"| translate }} </label>
                                    </div>
                                <div class="col-md-9">
                                <select id="cmb_fins_mar3" style="width: 100%" ng-model="temp.fins_receivable_acno_mar"  name="sims_goal">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                        value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                    </option>
                                </select>
                                    </div>
                            </div>

                            <!--4-->

                            <div class="col-md-12">
                                <div class="col-md-3">
                                <label id="Label30" for="txt_Country_Code"><i class="fa fa-calendar"></i>&nbsp;{{"April"| translate }} </label>
                                    </div>
                                <div class="col-md-9">
                                <select id="cmb_fins_apr4" style="width: 100%" ng-model="temp.fins_receivable_acno_apr"  name="sims_goal">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                        value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                    </option>
                                </select>
                                    </div>
                            </div>


                       <!-- </div>-->

                        <!--<div class="col-md-12">-->
                            <!--5-->
                             <div class="col-md-12">
                                <div class="col-md-3">
                                 <label id="Label20" for="txt_Country_Code"><i class="fa fa-calendar"></i>&nbsp;{{"May"| translate }} </label>
                                </div>
                                <div class="col-md-9">
                                 <select id="cmb_fins_may5" style="width: 100%" ng-model="temp.fins_receivable_acno_may"  name="sims_goal">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                        value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                    </option>
                                </select>
                                </div>
                            </div>

                            <!--6-->
                             <div class="col-md-12">
                                 <div class="col-md-3">
                                 <label id="Label21" for="txt_Country_Code"><i class="fa fa-calendar"></i>&nbsp;{{"June"| translate }} </label>
                                </div>
                                 <div class="col-md-9">
                                <select id="cmb_fins_jun6" style="width: 100%" ng-model="temp.fins_receivable_acno_jun"  name="sims_goal">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                        value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                    </option>
                                </select>
                               </div>
                            </div>

                            <!--7-->
                             <div class="col-md-12">
                                 <div class="col-md-3">
                                      <label id="Label22" for="txt_Country_Code"><i class="fa fa-calendar"></i>&nbsp;{{"July"| translate }} </label>
                                 </div>
                                 <div class="col-md-9">
                                <select id="cmb_fins_jul7" style="width: 100%" ng-model="temp.fins_receivable_acno_jul"  name="sims_goal">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                        value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                    </option>
                                </select>
                            </div>

                            <!--8-->
                            <div class="col-md-12">
                            <div class="col-md-3">
                                 <label id="Label23" for="txt_Country_Code"><i class="fa fa-calendar"></i>&nbsp;{{"August"| translate }} </label>
                                </div>
                                <div class="col-md-9">
                                <select id="cmb_fins_aug8" style="width: 100%" ng-model="temp.fins_receivable_acno_aug"  name="sims_goal">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                        value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                    </option>
                                </select>
                                    </div>
                            </div>

                        <!--</div>-->

                        <!--<div class="col-md-12">-->

                            <!--9-->
                          <div class="col-md-12">
                            <div class="col-md-3">
                                 <label id="Label24" for="txt_Country_Code"><i class="fa fa-calendar"></i>&nbsp;{{"September"| translate }} </label>
                                </div>
                              <div class="col-md-9">
                                <select id="cmb_fins_sep9" style="width: 100%" ng-model="temp.fins_receivable_acno_sep"  name="sims_goal">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                        value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                    </option>
                                </select>
                                  </div>
                            </div>

                            <!--10-->
                          <div class="col-md-12">
                            <div class="col-md-3">
                                 <label id="Label25" for="txt_Country_Code"><i class="fa fa-calendar"></i>&nbsp;{{"October"| translate }} </label>
                                </div>
                              <div class="col-md-9">
                                <select id="cmb_fins_oct10" style="width: 100%" ng-model="temp.fins_receivable_acno_oct"  name="sims_goal">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                        value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                    </option>
                                </select>
                                  </div>
                            </div>

                            <!--11-->
                        <div class="col-md-12">
                            <div class="col-md-3">
                                 <label id="Label26" for="txt_Country_Code"><i class="fa fa-calendar"></i>&nbsp;{{"November"| translate }} </label>
                                </div>
                            <div class="col-md-9">
                                <select id="cmb_fins_nov11" style="width: 100%" ng-model="temp.fins_receivable_acno_nov"  name="sims_goal">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                        value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                    </option>
                                </select>
                                </div>
                            </div>

                            <!--12-->
                        <div class="col-md-12">
                            <div class="col-md-3">
                                 <label id="Label29" for="txt_Country_Code"><i class="fa fa-calendar"></i>&nbsp;{{"December"| translate }} </label>
                                </div>
                            <div class="col-md-9">
                                <select id="cmb_fins_dec12" style="width: 100%" ng-model="temp.fins_receivable_acno_dec"  name="sims_goal">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                        value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                    </option>
                                </select>
                                </div>
                            </div>


                        <!--</div>-->
                            </div>
                        </div>
                         <div class="col-md-3" ng-show="vat_posting_acno"><!--ng-if="temp.vat_ac_status=='E'"-->
                             <div class="col-md-12" >
                             <select id="vat_posting_account" style="width: 100%"  ng-model="temp.fins_vat_posting_acno"  name="sims_vat_acno">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="i in GlACNO" ng-if="i.gldd_acct_code.length"
                                        value="{{i.gldd_acct_code}}">{{i.gldd_acct_name}}
                                    </option>
                                </select>
                            </div>
                         </div>
                           <div class="col-md-12">

                                <div class="row form-row">
                                    <div class="col-md-3">
                                          <div class="checkbox check-success">
                                                    <input id="chk_term" type="checkbox" class="k-checkbox" ng-model="temp.fins_fees_posting_status" >
                                                    <label for="chk_term"></label>
                                                </div>
                                    </div>
                                  <div class="col-md-9">
                                    <div class="pull-right">
                                        <button class="btn btn-success btn-cons" type="button" ng-click="Save1()">{{"Save" | translate}}</button>
                                        <button class="btn btn-warning btn-cons" type="button" ng-click="mainCancel()">{{"Cancel" | translate}}</button>
                                    </div>
                                  </div>

                                </div>
                            </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    </div>