﻿<style>
    form-actions {
        padding: 7px 20px 7px;
    }
        .grid.simple .form-actions{ margin-left:-7px!important; margin-right:-7px!important;}

</style>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Finn Parameter"| translate }}</span> </h3>
            </div>

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input
                                placeholder="page"
                                class="form-control"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input
                                placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input
                                placeholder="Total"
                                class="form-control"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input
                                placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input
                                placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input
                                placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input
                                placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="grid-body no-border paddingcode">
            <div ng-show="table">
                <div class="row">
                    <div class="col-md-6">
                        <select id="Select2" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="10" class=" form-control input-sm">10
                            </option>

                            <option value="20" class=" form-control input-sm">20
                            </option>

                            <option value="All" class=" form-control input-sm">All
                            </option>
                        </select>
                        &nbsp;
                            <button class="btn btn-success btn-small" type="button" id="designew" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate }}</button>
                        &nbsp;
                        <button class="btn btn-danger btn-small" type="button" ng-click="OkDelete()"><span class="semi-bold"></span>{{"Delete"| translate }}</button>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="Div1">
                               <!-- <label>
                                    {{"Search"| translate }}:&nbsp;
                               <input type="text" aria-controls="example" ng-model="search.$" class="input-medium"></label>
                                    <input aria-controls="example" ng-model="searchText" class="k-textbox" placeholder="Search" type="search" ng-change="search()"></label>-->
                                 <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div class="row margin-top">
                        <div class="col-md-12" style="margin-top:-11px;">
                    <div style="width: 100%; height: auto; overflow-x: auto; overflow-y: auto">
                        <table class="table table-bordered table-hover table-condensed" id="fixTable">
                            <thead style="background-color: white">
                                <tr style="background-color: #edefef">
                                    <th class="small-cell v-align-middle" style="z-index: 1">
                                        <div class="checkbox check-success">
                                            <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>
                                    <th><b>{{"More"| translate }}</b></th>

                                    <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                        <label><b><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class=" fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"Company Name"| translate }}</a></b></label></th>
                                                                        <th>
                                        <label><b><i class="fa fa-align-justify"></i>&nbsp;{{"Application Name"| translate }}</b></label></th>
                                    <th>
                                        <label><b><i class="fa fa-align-justify"></i>&nbsp;{{"Application Form Feild"| translate }}</b></label></th>
                                    <th>
                                        <label><b><i class="fa fa-align-justify"></i>&nbsp;{{"Finance Parameter"| translate }}</b></label></th>
                                    <th>
                                        <label><i class="fa fa-cogs"></i></label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="j in filteredTodos | orderBy:orderByField:reverseSort" ng-class="row1">

                                    <td>
                                        <div class="row-fluid">
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input id="{{$index}}" type="checkbox" value="1" ng-click="checkonebyonedelete()">
                                                <label for="{{$index}}"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td><i class="{{j.icon}}" ng-click="expand(j, $event);"></i></td>
                                    <td>
                                        <label id="lbl">{{j.fins_comp_name}}</label></td>
                                    <td>
                                        <label id="Label5">{{j.comn_appl_name_en}}</label></td>
                                    <td>
                                        <label id="Label3">{{j.fins_appl_form_field}}</label></td>
                                    <td>
                                        <label id="Label11">{{j.fins_appl_parameter}}</label></td>

                                    <td><a href=""><i class="fa fa-edit" ng-click="edit(j)"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                            </div>
                    </div>
                    <div class="row" ng-show="pager">
                        <div class="col-md-12">
                    <div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                            ng-click="index(currentPage)">
                         </paging>
                    </div>
                            </div>
                        </div>


                </div>

            </div>



            <div ng-show="display">
                <form name="Myform" ng-submit="savedata(Myform.$valid)" novalidate="novalidate">

                    <div class="row">

                        <div class="col-md-12 form-group">


                            <div class="col-md-2" ng-class="{'has-error': !Myform.company_name.$valid && (Myform.company_name.$touched || Myform.$submitted) }">
                                <label id="Label4" for="txt_Nationality_Code" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Company Name"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <select id="cmb_security_q" name="company_name" data-role="dropdownlist" class="form-control" ng-model="temp.fins_comp_code" required ng-disabled="disabled" >
                                    <option value="" selected disabled>Please Select Company</option>
                                    <option ng-repeat="t in comp" value="{{t.fins_comp_code}}">{{t.fins_comp_short_name}}</option>
                                </select>
                                <p class="help-block" ng-show="Myform.company_name.$error.required &&  (Myform.company_name.$touched || Myform.$submitted)">
                                    This Field Is Required...
                                </p>
                            </div>


                            <div class="col-md-2" ng-class="{'has-error': !Myform.Application_Name.$valid && (Myform.Application_Name.$touched || Myform.$submitted) }">
                                <label id="Label1" for="txt_Country" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Application Name"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <select id="cmb_applName" name="Application_Name" data-role="dropdownlist" class="form-control" ng-model="temp.fins_application_code" required>
                                    <option value="">Please Select Application</option>
                                    <option ng-repeat="app in appl_name" value="{{app.fins_application_code}}">{{app.fins_application_name}}
                                    </option>
                                </select>
                                 <p class="help-block" ng-show="Myform.Application_Name.$error.required &&  (Myform.Application_Name.$touched || Myform.$submitted)">
                                    This Field Is Required...
                                </p>
                            </div>

                            <div class="col-md-2" ng-class="{'has-error': !Myform.app_form_field.$valid && (Myform.app_form_field.$touched || Myform.$submitted) }">
                                <label id="Label2" for="txt_Country_Code" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Application Form Field"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" name="app_form_field" class="k-textbox" style="width: 100%;" ng-maxlength="50" ng-model="temp.fins_appl_form_field" required/>

                                <p class="help-block" ng-show=" Myform.app_form_field.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                    Application Form Field Should be Max 50
                                </p>
                                 <p class="help-block" ng-show="Myform.app_form_field.$error.required &&  (Myform.app_form_field.$touched || Myform.$submitted)">
                                    This Field Is Required...
                                </p>
                            </div>

                            <div class="col-md-2" ng-class="{'has-error': !Myform.fin_para.$valid && (Myform.fin_para.$touched || Myform.$submitted) }">
                                <label id="Label6" for="txt_Country_Code" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Finance Parameter"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" name="fin_para" class="k-textbox" style="width: 100%;" ng-maxlength="50" ng-model="temp.fins_appl_parameter" required />

                                <p class="help-block" ng-show=" Myform.fin_para.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                    Finance Parameter Length Should be Max 50
                                </p>
                                <p class="help-block" ng-show="Myform.fin_para.$error.required &&  (Myform.fin_para.$touched || Myform.$submitted)">
                                    This Field Is Required...
                                </p>
                            </div>
                        </div>

                        <div class="col-md-12 form-group" style="margin-top:-11px;">

                            

                            <div class="col-md-2" ng-class="{'has-error': !Myform.feild_value1.$valid && (Myform.feild_value1.$touched || Myform.$submitted) }">
                                <label id="Label7" for="txt_Country_Code" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Field Value 1"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" name="feild_value1" class="k-textbox" style="width: 100%;" ng-maxlength="50" ng-model="temp.fins_appl_form_field_value1" required/>

                                <p class="help-block" ng-show=" Myform.feild_value1.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                    Field Value1 Length Should be Max 50
                                </p>

                                <p class="help-block" ng-show="Myform.feild_value1.$error.required &&  (Myform.feild_value1.$touched || Myform.$submitted)">
                                    This Field Is Required...
                                </p>
                            </div>

                            <div class="col-md-2" ng-class="{'has-error': !Myform.feild_value2.$valid && (Myform.feild_value2.$touched || Myform.$submitted) }">
                                <label id="Label8" for="txt_Country_Code" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Field Value 2"| translate }}</label>
                                <input type="text" name="feild_value2" class="k-textbox" style="width: 100%;" ng-maxlength="50" ng-model="temp.fins_appl_form_field_value2" required />

                                <p class="help-block" ng-show=" Myform.feild_value2.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                    Field Value2 Length Should be Max 50
                                </p>
                                
                            </div>

                            <div class="col-md-2" ng-class="{'has-error': !Myform.feild_value3.$valid && (Myform.feild_value3.$touched || Myform.$submitted) }">
                                <label id="Label9" for="txt_Country_Code" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Field Value 3"| translate }}</label>
                                <input type="text" name="feild_value3" class="k-textbox" style="width: 100%;" ng-maxlength="50" ng-model="temp.fins_appl_form_field_value3" />

                                <p class="help-block" ng-show=" Myform.feild_value3.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                    Field Value3 Length Should be Max 50
                                </p>

                            </div>
                            <div class="col-md-2" ng-class="{'has-error': !Myform.feild_value4.$valid && (Myform.feild_value4.$touched || Myform.$submitted) }">
                                <label id="Label10" for="txt_Country_Code" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Field Value 4"| translate }}</label>
                                <input type="text" name="feild_value4" class="k-textbox" style="width: 100%;" ng-maxlength="50" ng-model="temp.fins_appl_form_field_value4" />

                                <p class="help-block" ng-show=" Myform.feild_value4.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                    Field Value4 Length Should be Max 50
                                </p>

                            </div>
                        </div>

                        

                    </div>

                    <div class="form-actions">
                        <div class="pull-right">
                            <button type="submit" id="desigsub" ng-show="save_btn" class="btn btn-primary btn-cons">{{"Save"| translate }}</button>
                            <button type="button" ng-show="Update_btn" ng-click="update();" class="btn btn-primary btn-cons">{{"Update"| translate }}</button>
                            <button type="button" class="btn btn-danger btn-cons" ng-click="Cancel();">{{"Cancel"| translate }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    </div>
</div>
<div class="modal fade" id="Div2">
    <div class="modal-dialog" id="Div3" style="width: 300px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="semi-bold pull-left">Message</h5>
                <br />
            </div>
            <div class="modal-body">
                <br />
                <label>{{msg1.strMessage}}</label>
                <br />
            </div>
            <div class="modal-footer" style="height: 60px">
                <button type="button" class="btn btn-primary btn-cons" data-dismiss="modal" ng-click="maindata();">Ok</button>
            </div>
        </div>
    </div>
</div>
<script src="assets/js/tableHeadFixer.js"></script>




