﻿
<script src="assets/plugins/fileSaver.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.12/xlsx.core.min.js"></script>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Fixed Asset Depreciation Calculation"| translate }}</span> </h3>
            </div>

            <!--<div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>-->


            <div class="grid-title no-border">
            </div>

            <div class="grid-body no-border bluegrid paddingcode" ng-show="display">
                <!--  <form name="Myform" ng-submit="savedata(Myform.$valid)" novalidate="novalidate">-->

                <div class="row">
                    <div class="col-md-12">

                        <div class="col-md-2" ng-class="{'has-error': !Myform.achieve_type.$valid && (Myform.achieve_type.$touched || Myform.$submitted) }">
                            <label id="Label1" for="txt_Nationality_Code" class="form-label"><i class="fa fa-calendar"></i>&nbsp;{{"Year" | translate }}</label>

                          <!--  <input type="text" name="achieve_desc" class="k-textbox" style="width: 100%;" ng-maxlength="100" ng-model="temp.year1" />
                            <p class="help-block" ng-show="Myform.achieve_type.$error.required &&  (Myform.achieve_type.$touched || Myform.$submitted)">
                                This field is required
                            </p>-->
                            
                            <select id="Select3" data-role="dropdownlist" class="form-control"
                                    ng-model="sims_academic_year" ng-disabled="disabled"
                                    ng-options="achive.sims_academic_year as achive.sims_academic_year_description for achive in getyear"></select>
                            
                        </div>


                        <div class="col-md-3" ng-class="{'has-error': !Myform.achieve_desc.$valid && (Myform.achieve_desc.$touched || Myform.$submitted) }">
                            <label id="Label4" for="txt_Nationality_Code" class="form-label"><i class="fa fa-calendar"></i>&nbsp;{{"Financial Periods"| translate }}</label>

                            <select id="Select1" data-role="dropdownlist" class="form-control"
                                    ng-model="temp.fins_financial_period_no" ng-disabled="disabled"
                                    ng-options="achive.fins_financial_period_no as achive.fins_financial_period_name for achive in periods_Name" ng-change="showCalculated_Depreciation(temp.year,fins_financial_period_no);" name="achieve_type" required></select>

                        </div>
                         <div class="col-md-4">
                                <div class="pull-right">
                                <label>&nbsp;</label>    
                                    <button type="submit" id="Button1" ng-show="save_btn" ng-click="calculateDep(temp.year1,temp.fins_financial_period_no);" class="btn btn-primary btn-cons">{{"Calculate"| translate }}</button>
                                    <button type="button" class="btn btn-warning btn-cons" ng-click="Clear();">{{"Reset"| translate }}</button>
                                    <button type="button" class="btn btn-warning btn-cons" ng-click="Show();">{{"Show"| translate }}</button>
                                </div>
                              </div>
                          
                            <div class="col-md-2" ng-show="export_btn">
                                 <div class="pull-right">
                                <label>&nbsp;</label>
                                <button type="button" class="btn btn-primary btn-small" style="width: 100px; height: 32px" ng-click="immport()">{{"Export"|translate}}</button>
                            </div>
                                  </div>

                      <!--  <div class="col-md-3">
                            <label id="Label13" for="txt_Nationality_Code" class="form-label">{{"Asset Type"| translate }}</label>
                            <select id="Select2" data-role="dropdownlist" class="form-control"
                                    ng-model="temp.gal_asst_type" ng-change="getItemsName(temp.gal_asst_type)"
                                    ng-options="achive.gal_asst_type as achive.gal_type_desc for achive in asset_type_data" name="ass_typ"></select>
                        </div>-->

                      <!--  <div class="col-md-3">
                            <label id="Label14" for="txt_account_Code" class="form-label">{{"Item Name"| translate }}</label>
                            <select id="cmb_acc_Code3" style="width:100%;" 
                                    ng-model="temp.gam_item_no" 
                                    ng-options="AccountCode.gam_item_no as AccountCode.gam_desc_1 for AccountCode in getAsset_type" name="AccountCode"></select>

                        </div>-->

                      </div>

                      <div class="col-md-12">
                           
                        </div>
                </div>
              
            </div>



            <div class="row" ng-show="busy">
                <div class="col-md-12">
                    <div class="row form-row">
                        <div class="col-md-5">
                        </div>
                        <div class="col-md-2">
                            <img src="assets/theme/img/loading.gif" />

                        </div>
                        <div class="col-md-5">
                        </div>
                    </div>
                </div>
            </div>


            <div class="grid-body no-border" ng-show="table" style="margin-top:6px;">
                <!--<div class="row form-row">

                    <div class="col-md-6">
                        <select id="Select2" style="width: 60px" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="5" class=" form-control input-sm">
                                5
                            </option>

                            <option value="10" class=" form-control input-sm">
                                10
                            </option>

                            <option value="15" class=" form-control input-sm">
                                15
                            </option>
                        </select>

                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                                <label>
                                    {{"Search"| translate }}:&nbsp;
                                    <input type="text" aria-controls="example" ng-model="search.$" class="input-medium"></label>
                                    <input aria-controls="example" ng-model="searchText" class="input-medium" placeholder="Search" type="search" ng-change="search()">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>-->

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div id="fixedAsset" style="width: 100%; height: 270px; overflow-x: auto; overflow-y: auto">
                        <table class="table table-bordered table-hover table-condensed" id="fixTable">
                            <thead style="background-color: white">
                                <tr style="background-color: #edefef">
                                    <!--  <th class="small-cell v-align-middle" style="z-index: 1">
                                          <div class="checkbox check-success">
                                              <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                              <label for="mainchk"></label>
                                          </div>
                                      </th>-->

                                    <th class="semi-bold">
                                        <label><i class="fa fa-bookmark-o"></i>&nbsp;<b>{{"Asset Type" | translate }}</label>
                                    </th>
                                    <th class="semi-bold">
                                        <label><i class="fa fa-description"></i>&nbsp;<b>{{"Asset Desc" | translate }}</label>
                                    </th>

                                    <th class="semi-bold" >
                                        <label><i class="fa fa-sort-numeric-asc"></i>&nbsp;<b>{{"Item Number" | translate }}</label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><i class="fa fa-align-justify"></i>&nbsp;<b>{{"Description" | translate }}</b></label>
                                    </th>
                                   
                                    <th class="semi-bold">
                                        <label><i class="fa fa-sort-numeric-asc"></i>&nbsp;<b>{{"Invoice Number" | translate }}</b></label>
                                    </th>
                                    <th class="semi-bold">
                                        <label><i class="fa fa-money"></i>&nbsp;<b>{{"Invoice Amount" | translate }}</b></label>
                                    </th>
                                    
                                    <th class="semi-bold">
                                        <label><i class="fa fa-book"></i>&nbsp;<b>{{"Book Value" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><i class="fa fa-align-justify"></i>&nbsp;<b>{{"Cum Description" | translate }}</b></label>
                                    </th>
                                    <th class="semi-bold">
                                        <label><i class="fa fa-align-justify"></i>&nbsp;<b>{{"Monthly Descpre" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><i class="fa fa-align-justify"></i>&nbsp;<b>{{"Descpreciation %" | translate }}</b></label>
                                    </th>
                                   
                                    <th class="semi-bold">
                                        <label><i class="fa fa-bookmark"></i>&nbsp;<b>{{"Status" | translate }}</b></label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="j in asset_Data | orderBy:orderByField:reverseSort" ng-class="row1">
                                   
                                  
                                    <td>
                                        <label id="lbl">{{j.gal_asst_type}}</label>
                                    </td>
                                    <td>
                                        <label id="Label2">{{j.gal_type_desc}}</label>
                                    </td>
                                    <td>
                                        <label id="Label3">{{j.gam_item_no}}</label>
                                    </td>
                                    <td>
                                        <label id="Label5">{{j.gam_desc_1}}</label>
                                    </td>
                                    <td>
                                        <label id="Label6">{{j.gam_invoice_no}}</label>
                                    </td>
                                    <td>
                                        <label id="Label7">{{j.gam_invoice_amount}}</label>
                                    </td>

                                    <td>
                                        <label id="Label8">{{j.gam_book_value}}</label>
                                    </td>

                                    <td>
                                        <label id="Label9">{{j.gam_cum_deprn}}</label>
                                    </td>

                                    <td>
                                        <label id="Label10">{{j.gam_mth_deprn}}</label>
                                    </td>

                                    <td>
                                        <label id="Label11">{{j.gam_deprn_percent}}</label>
                                    </td>

                                    <td>
                                        <label id="Label12">{{j.gam_status_name}}</label>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--<div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                ng-click="index(currentPage)">
                        </paging>
                    </div>-->
                </div>
            </div>



        </div>
    </div>
</div>


<div class="modal fade" id="Div1">
    <div class="modal-dialog" id="Div3" style="width: 300px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="semi-bold pull-left">Message</h5>
                <br />
            </div>
            <div class="modal-body">
                <br />
                <label>{{msg1.strMessage}}</label>
                <br />
            </div>
            <div class="modal-footer" style="height: 60px">
                <button type="button" class="btn btn-primary btn-cons" data-dismiss="modal" ng-click="maindata();">Ok</button>
            </div>
        </div>
    </div>
</div>
<script src="assets/js/tableHeadFixer.js"></script>
