﻿
<div class="loading-middle" ng-hide="display">
    <img src="loading.gif" />
</div>
<style>
    .k-textbox .k-icon {
    top: 50%;
    margin: -9px -9px 0;
    position: absolute;
}
    .k-input {
    padding: 0em;
    margin-top:0px;
}
    .records {
        background-color:#fff !important;
       margin-top: -9px;
    margin-left: -2px;
    }
    .main_container {
    background-color:transparent !important;
    padding: 0px !important;
    }
.grid_margin {
    margin-top:4px;
    }
    .grid_margin_bottom {
        margin-left: 2px !important;
        margin-bottom: 5px;
    }
    .doc_grid {
        margin-top:-23px;
    }
    .grid2 .col-md-9 {
    margin-top:-13px;
    }
    .grid1 .col-md-12, .grid2 .col-md-12, .authorize_grid, .acct_grid{
    background-color:#fff;
    }
    hr {
        margin: 13px 0 !important;
         border-top: 1px solid #A9A9A9;
    border-bottom: 0px solid #A9A9A9;
    }

    .grid1_div {
    margin-bottom:20px;
    margin-top:-30px;
    }
    #postdate .k-widget {
    float:right;
    width:138% !important;
    }
       #reportViewer1 {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 5px;
        overflow: hidden;
        font-family: Verdana, Arial;
    }
      .report_holder {
        height: 500px;
        position: relative;
    }
      .voucherbtn
    {
        opacity:0.6;
    }
</style>

<script src="https://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.12/xlsx.core.min.js"></script>
<link href="http://kendo.cdn.telerik.com/2015.3.930/styles/kendo.common.min.css" rel="stylesheet" />
<link href="http://kendo.cdn.telerik.com/2015.3.930/styles/kendo.blueopal.min.css" rel="stylesheet" />

<script src="ReportViewer/js/kendo.subset.2015.3.930.min.js"></script>
<script src="ReportViewer/js/telerikReportViewer-10.1.16.504.js"></script>
<script src="ReportViewer/js/telerikReportViewer-10.1.16.504.min.js"></script>
<div class="grid simple">
    <div class="page-title">
        <h3><span class="semi-bold">{{"JV Create" | translate }} {{jvtitle}} </span></h3>
    </div>

    <div class="grid-body no-border main_container">
        <div class="grid-body no-border" style="background-color:transparent;margin:-1px;">
    <div class="" ng-show="vis.main">

        <div class="col-md-12 gridcolor" >
            &nbsp;
            <div class="col-md-1 margin-top" style="text-align:center;width:81px;">
                <button class="btn btn-primary btn-small preparebtn" ng-disabled="preparebtn" type="submit" ng-click="Prepare()" style="width:76px;">{{"Prepare"| translate }}</button>


            </div>
            &nbsp;
            <div class="col-md-1 margin-top" style="text-align:center;width:70px;">
                <button class="btn btn-primary btn-small verifybtn" ng-disabled="verifybtn" type="submit" ng-click="Verify()" style="width:76px;">{{"Verify"| translate }}</button>

            </div>
            &nbsp;
            <div class="col-md-1 margin-top" style="text-align:center;">
                <button class="btn btn-primary btn-small authorizebtn" ng-disabled="authorizebtn" type="submit" ng-click="Authorize()" style="width:76px;">{{"Authorize"| translate }}</button>
            </div>
            <span style="padding:1px;"><label style="font-size: 15px;"><b>Select any option</b></label></span>
        </div>
         <div ng-show="vis.verify" class="col-md-12 gridcolor margin-top" >

            <div class="" >
                <div class="col-md-12 paddingcode">
                    <div class="row ">

                       <!-- <div class="col-md-1">
                            <label id="Label55" for="user" class="semi-bold">&nbsp;</label>

                            <button class="btn btn-primary btn-small" type="button" ng-click="back()">{{"BACK"| translate }}</button>
                        </div>-->
                        <div class="col-md-2">
                            <!--<label id="Label56" for="user" class="semi-bold">&nbsp;</label>-->

                            <input placeholder="Search" class="k-textbox" ng-model="searchText_vry.$" />
                        </div>
                        <div class="col-md-2">&nbsp;</div>
                        <div class="col-md-4">
                            <div class="col-md-12">
                                 <div class="col-md-4">
                            <label id="Label57" for="user" class="semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"Select Option"| translate }}</label>
                                     </div>
                                 <div class="col-md-5">
                            <select id="Select6" data-role="dropdownlist" class="form-control" name="SelectOption" ng-model="edt.SelectOption" ng-change="ShowFilterText(edt.SelectOption)">
                                <option value="">Clear</option>
                                <option value="Select Verify Records">Select Verify Records</option>
                                <option value="Select Revert Records">Select Revert Records</option>
                            </select>
                                     </div>
                                </div>
                        </div>
                        <div class="col-md-2" ng-show="filterVisible">
                            <label id="Label58" for="txt_full_name" class="semi-bold">&nbsp;</label>
                            <input type="text" name="txt_filter_range" id="Text13" class="k-textbox" ng-model="edt.txt_filter_range" ng-keypress="($event.charCode==13)?FilterCode($event):return" />
                        </div>
                        <div class="col-md-2" ng-show="filterVisible">
                            <div class="col-md-12">
                                <label id="Label59" for="txt_full_name" class="semi-bold">Clear Previous</label>
                                <div class="col-md-12 checkbox check-success" style="padding-top: 8px; padding-left: -5px !important;">
                                    <input id="Checkbox1" type="checkbox" class="k-textbox" name="chk_previous_clear" ng-model="block1.chk_previous_clear" checked>
                                    <label for="chk_previous_clear"></label>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal content-->

                <div class="col-md-12 grid_margin">
                   
                </div>

                <div class="grid-body no-border" style="background-color:transparent;">


                    <div id="Div3" class="dataTables_wrapper form-inline">
                        <div style="width: 100%; height: 350px; overflow-x: auto; overflow-y: auto">
                            <table class="table table-bordered table-condensed" id="Table3" border="0">
                                <thead style="background-color: #edefef !important;">
                                    <tr>
                                        <th><i class="fa fa-sort-numeric-asc"></i>&nbsp;<b>{{"No"| translate }}</b></th>
                                        <!--<th><i class="fa fa-align-justify"></i>&nbsp;<b>{{"Comp"| translate }}</b></th>-->
                                        <th><i class="fa fa-dashboard"></i>&nbsp;<b>{{"Doc Code"| translate }}</b></th>
                                      <!--  <th>{{"PROV NO"| translate }}</th>-->
                                        <th class="semi-bold" ng-click="sortBy('gltd_prov_doc_no')"><i class="fa fa-sort-numeric-asc"></i>&nbsp;<b>{{"Prov No"| translate }}</b>
                                     <span class="sortorder" ng-show="propertyName === 'gltd_prov_doc_no'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                        <!--<th>{{"AMOUNT"| translate }}</th>-->
                                        <th class="semi-bold" ng-click="sortBy('gldd_doc_amount')"><i class="fa fa-money"></i>&nbsp;<b>{{"Amount"| translate }}</b>
                                     <span class="sortorder" ng-show="propertyName === 'gldd_doc_amount'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                        <!--<th style="width:100px">{{"DOC DATE"| translate }}</th>-->
                                    <!--<th class="semi-bold" ng-click="sortBy('gltd_doc_date')"><i class="fa fa-calendar"></i>&nbsp;<b>{{"Doc Date"| translate }}</b>
                                     <span class="sortorder" ng-show="propertyName === 'gltd_doc_date'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    -->   <!-- <th style="width:100px">{{"POST DATE"| translate }}</th>-->
                                        <th class="semi-bold" ng-click="sortBy('gltd_post_date')"><i class="fa fa-calendar"></i>&nbsp;<b>{{"Post Date"| translate }}</b>
                                     <span class="sortorder" ng-show="propertyName === 'gltd_post_date'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                       <!-- <th>{{"NARRATION"| translate }}</th>-->
                                        <th class="semi-bold" ng-click="sortBy('gltd_doc_narr')"><i class="fa fa-align-justify"></i>&nbsp;<b>{{"Narration"| translate }}</b>
                                     <span class="sortorder" ng-show="propertyName === 'gltd_doc_narr'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                        <!--<th>{{"REMARK"| translate }}</th>-->
                                        <th class="semi-bold" ng-click="sortBy('gltd_remarks')"><i class="fa fa-bookmark"></i>&nbsp;<b>{{"Remark"| translate }}</b>
                                     <span class="sortorder" ng-show="propertyName === 'gltd_remarks'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                     <th class="semi-bold" ng-click="sortBy('gltd_prepare_user')"><i class="fa fa-user"></i>&nbsp;<b>{{"Prepared User"| translate }}</b>
                                     <span class="sortorder" ng-show="propertyName === 'gltd_prepare_user'" ng-class="{reverse: reverse}"></span>
                                    </th>

                                        <th style="z-index: 1">
                                           <i class="fa fa-check"></i>&nbsp; {{"Verify"| translate }}
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" name="veri-{{$index}}" class="k-checkbox" ng-model="v_data.gltd_verify1" ng-click="chk_click_verifyAll(v_data.gltd_verify1)" value="1" id="veri-{{$index}}" />
                                                <label for="veri-{{$index}}"></label>
                                            </div>
                                        </th>
                                        <th style="z-index: 1">
                                           <i class="fa fa-undo"></i>&nbsp; {{"Revert"| translate }}
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" name="revt-{{$index}}" class="k-checkbox" ng-model="v_data.gltd_revert1" ng-click="chk_click_revertAll(v_data.gltd_revert1)" value="1" id="revt-{{$index}}" />
                                                <label for="revt-{{$index}}"></label>
                                            </div>

                                        </th>
                                       


                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="v_data in verify_data |filter:searchText_vry:strict | orderBy:propertyName:reverse" ng-class="row1" ng-dblclick="Fetchdata(v_data.gltd_comp_code,v_data.gltd_doc_code,v_data.gltd_prov_doc_no)">
                                        <!--<td><button type="button" ng-click="Delete()">{{"Delete"| translate }}</button></td>-->
                                        <td style="width:5%;">{{$index+1}}</td>
                                        <!--<td style="width:5%;">{{v_data.gltd_comp_code}}</td>-->

                                        <td style="width:11%;">{{v_data.gldc_doc_short_name}}</td>
                                        <td style="width:5%;">{{v_data.gltd_prov_doc_no}}</td>
                                        <td style="width:6%;text-align:right;" >{{v_data.gldd_doc_amount}}</td>
                                        <!--<td>{{v_data.gltd_doc_date}}</td>-->
                                        <td style="width:7%;">{{v_data.gltd_post_date}}</td>
                                        <td style="width:30%;">{{v_data.gltd_doc_narr}}</td>
                                        <td style="width:5%;">{{v_data.gltd_remarks}}</td>
                                        <td style="width:13%;">{{v_data.gltd_prepare_user}}</td>
                                        <td style="width:8%;">
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" name="vry-{{$index}}" class="k-checkbox" ng-model="v_data.gltd_verify" ng-click="chk_click_ver(v_data)" value="1" id="vry-{{$index}}" />
                                                <label for="vry-{{$index}}"></label>
                                            </div>
                                        </td>
                                        <td style="width:8%;">
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" name="rev-{{$index}}" class="k-checkbox" ng-model="v_data.gltd_revert" ng-click="chk_click_rev(v_data)" value="1" id="rev-{{$index}}" />
                                                <label for="rev-{{$index}}"></label>
                                            </div>
                                        </td>
                                       
                                    </tr>
                                </tbody>

                            </table>

                            <!--</div>
                                                    </div>-->

                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="" style="float:right;">

                            <label id="label60" class="form-label">&nbsp;</label>
                            <button class="btn btn-primary btn-cons" style="background-color: #FF6600 !important;" type="button" ng-click="Verify_data()">{{"Verify"| translate }}</button>
                            <!-- <button class="btn btn-primary btn-cons"style="background-color: #FF6600 !important;" type="button" ng-show="checkprintbtn" ng-click="CheckPrintReport()">{{"Print"| translate }}</button>-->
                        </div>
                    </div>

                </div>

            </div>
        </div>
          <div ng-show="vis.Autorize" class="col-md-12 gridcolor margin-top">

            <div class="authorize_grid" >
                <div class="col-md-12 paddingcode">
                    <div class="row ">

                        <!--<div class="col-md-1">
                            <label id="Label61" for="user" class="semi-bold">&nbsp;</label>

                            <button class="btn btn-primary btn-small" type="button" ng-click="back()">{{"BACK"| translate }}</button>
                        </div>-->
                        <div class="col-md-2">
                            <!--<label id="Label62" for="user1" class="semi-bold">&nbsp;</label>-->

                            <input placeholder="Search" class="form-control input-sm" ng-model="searchText.$" />
                        </div>
                        <div class="col-md-2">&nbsp;</div>
                        <div class="col-md-4">
                            <div class="col-md-12">
                                <div class="col-md-4">
                            <label id="Label63" class="semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"Select Option"| translate }}</label>
                                    </div>
                                <div class="col-md-5">
                            <select id="Select7" data-role="dropdownlist" class="form-control" name="SelectOption_aut" ng-model="edt.SelectOption_aut" ng-change="ShowFilterText_Aut(edt.SelectOption_aut)">
                                <option value="">Clear</option>
                                <option value="Select Authorize Records">Select Authorize Records</option>
                                <option value="Select Revert Records">Select Revert Records</option>
                            </select>
                                </div>
                                </div>
                        </div>
                        <div class="col-md-2" ng-show="filterVisible_aut">
                            <label id="Label64" class="semi-bold">&nbsp;</label>
                            <input type="text" name="txt_filter_range_aut" id="Text14" class="k-textbox" ng-model="edt.txt_filter_range_aut" ng-keypress="($event.charCode==13)?FilterCode_aut($event):return" />


                        </div>
                        <div class="col-md-2" ng-show="filterVisible_aut">
                            <div class="col-md-12">
                                <label id="Label65" for="txt_full_name" class="semi-bold">Clear Previous</label>
                                <div class="col-md-12 checkbox check-success" style="padding-top: 8px; padding-left: -5px !important;">
                                    <input id="Checkbox6" type="checkbox" class="k-checkbox" name="chk_previous_clear_aut" ng-model="block1.chk_previous_clear_aut" checked>
                                    <label for="chk_previous_clear_aut"></label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Modal content-->

                <div class="col-md-12">
                    
                </div>

                <div  class="">

                    <div id="Div5" class="dataTables_wrapper form-inline paddingcode">
                        <div style="width: 100%; height: 350px; overflow-x: auto; overflow-y: auto">
                            <table class="table table-bordered table-condensed" id="Table4" border="0">
                                <thead style="background-color: #edefef !important;">
                                    <tr style="z-index: 1">
                                        <th style="width:3%;"><i class="fa fa-sort-numeric-asc"></i>&nbsp;<b>{{"No"| translate }}</b></th>
                                        <!--<th>{{"COMP"| translate }}</th>-->


                                        <!--<th>{{"DOC CODE"| translate }}</th>-->
                                         <th style="width:6%;" class="semi-bold" ng-click="sortBy('gltd_doc_code')"><i class="fa fa-dashboard"></i>&nbsp;<b>{{"Doc Code"| translate }}</b>
                                     <span class="sortorder" ng-show="propertyName === 'gltd_doc_code'" ng-class="{reverse: reverse}"></span></th>
                                       <!-- <th>{{"PROV NO"| translate }}</th>-->
                                         <th class="semi-bold" ng-click="sortBy('gltd_prov_doc_no')"><i class="fa fa-sort-numeric-asc"></i>&nbsp;<b>{{"Prov No"| translate }}</b>
                                     <span class="sortorder" ng-show="propertyName === 'gltd_prov_doc_no'" ng-class="{reverse: reverse}"></span></th>
                                      <!--  <th>{{"AMOUNT"| translate }}</th>-->
                                         <th style="width:6%;" class="semi-bold" ng-click="sortBy('gldd_doc_amount')"><i class="fa fa-money"></i>&nbsp;<b>{{"Amount"| translate }}</b>
                                     <span class="sortorder" ng-show="propertyName === 'gldd_doc_amount'" ng-class="{reverse: reverse}"></span></th>
                                       <!-- <th style="width:100px">{{"DOC DATE"| translate }}</th>-->
                                         <!--<th style="width:100px" class="semi-bold" ng-click="sortBy('gltd_doc_date')"><i class="fa fa-calendar"></i>&nbsp;<b>{{"Doc Date"| translate }}</b>
                                     <span class="sortorder" ng-show="propertyName === 'gltd_doc_date'" ng-class="{reverse: reverse}"></span></th>
                                     --> <!--  <th style="width:100px">{{"POST DATE"| translate }}</th>-->
                                         <th style="width:100px" class="semi-bold" ng-click="sortBy('gltd_post_date')"><i class="fa fa-calendar"></i>&nbsp;<b>{{"Post Date"| translate }}</b>
                                     <span class="sortorder" ng-show="propertyName === 'gltd_post_date'" ng-class="{reverse: reverse}"></span></th>
                                       <!-- <th>{{"NARRATION"| translate }}</th>-->
                                         <th class="semi-bold" ng-click="sortBy('gltd_doc_narr')"><i class="fa fa-align-justify"></i>&nbsp;<b>{{"Narration"| translate }}</b>
                                     <span class="sortorder" ng-show="propertyName === 'gltd_doc_narr'" ng-class="{reverse: reverse}"></span></th>
                                       <!-- <th>{{"REMARK"| translate }}</th>-->
                                         <th class="semi-bold" ng-click="sortBy('gltd_remarks')"><i class="fa fa-bookmark"></i>&nbsp;<b>{{"Remark"| translate }}</b>
                                     <span class="sortorder" ng-show="propertyName === 'gltd_remarks'" ng-class="{reverse: reverse}"></span></th>
                                        <th class="semi-bold" ng-click="sortBy('gltd_prepare_user')" style="width:8%;"><i class="fa fa-user"></i>&nbsp;<b>{{"Prepared User"| translate }}</b>
                                     <span class="sortorder" ng-show="propertyName === 'gltd_prepare_user'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                     <th class="semi-bold" ng-click="sortBy('gltd_verify_user')" style="width:7%;"><i class="fa fa-user"></i>&nbsp;<b>{{"Verified User"| translate }}</b>
                                     <span class="sortorder" ng-show="propertyName === 'gltd_verify_user'" ng-class="{reverse: reverse}"></span>
                                    </th>

                                        <th style="z-index: 1;width:8%;" >
                                           <i class="fa fa-lock"></i>&nbsp;<b>{{"Authorize"| translate }}</b>
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" name="auto-{{$index}}" class="k-checkbox" ng-model="A_data.gltd_authorize1" ng-click="chk_clickAll(A_data.gltd_authorize1)" value="1" id="auto-{{$index}}" />
                                                <label for="auto-{{$index}}"></label>
                                            </div>
                                        </th>
                                        <th style="z-index: 1;width:7%;">
                                            <i class="fa fa-undo"></i>&nbsp;<b>{{"Revert"| translate }}</b>
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" class="k-checkbox" name="all_very-{{$index}}" ng-model="A_data.gltd_very1" ng-click="very_chk_clickAll(A_data.gltd_very1)" value="1" id="all_very-{{$index}}" />
                                                <label for="all_very-{{$index}}"></label>
                                            </div>
                                        </th>


                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="A_data in Authorize_data |filter:searchText:strict | orderBy:propertyName:reverse" ng-class="row1" ng-dblclick="Fetchdata(A_data.gltd_comp_code,A_data.gltd_doc_code,A_data.gltd_prov_doc_no)">
                                        <td>{{$index+1}}</td>
                                        <!-- <td>{{A_data.gltd_comp_code}}</td>-->

                                        <td style="width:11%;">{{A_data.gldc_doc_short_name}}</td>
                                        <td>{{A_data.gltd_prov_doc_no}}</td>
                                        <td style="text-align:right;">{{A_data.gldd_doc_amount}}</td>
                                        <!--<td>{{A_data.gltd_doc_date}}</td>-->
                                        <td>{{A_data.gltd_post_date}}</td>
                                        <td>{{A_data.gltd_doc_narr}}</td>
                                        <td>{{A_data.gltd_remarks}}</td>
                                        <td style="width:13%;">{{A_data.gltd_prepare_user}}</td>
                                        <td style="width:8%;">{{A_data.gltd_verify_user}}</td>

                                        <td style="width:9%;">


                                            <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" name="aut-{{$index}}" class="k-checkbox" ng-model="A_data.gltd_authorize" ng-click="chk_click_aut(A_data)" value="1" id="aut-{{$index}}" />
                                                <label for="aut-{{$index}}"></label>
                                            </div>
                                        </td>
                                        <td style="width:9%;">
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" name="aut1-{{$index}}" class="k-checkbox" ng-model="A_data.gltd_verify" ng-click="chk_click_very(A_data)" value="1" id="aut1-{{$index}}" />
                                                <label for="aut1-{{$index}}"></label>
                                            </div>
                                        </td>
                                       

                                    </tr>
                                </tbody>

                            </table>

                            <!--</div>
                                                </div>-->

                        </div>
                    </div>

                    <div class="col-md-12 authorize_grid" >
                        <div class="col-md-12" style="margin-bottom:5px;">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-3">
                            </div>
                            <div class="pull-right">
                                <label id="label66" class="form-label">&nbsp;</label>
                                <button class="btn btn-primary btn-cons" style="background-color: #FF6600 !important;" type="submit" ng-click="Authorize_click()">{{"Approve"| translate }}</button>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
            </div>


    <div ng-hide="vis.main">
        <div ng-show="vis.prepare">

            <div class="">
                <div id="Prepare">
                     <div class="col-md-12 grid1_div bluegrid">
                        <div class="row " style="margin-bottom:3px;">
                            <div class="col-md-3">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <label><i class="fa fa-dashboard"></i>&nbsp;{{"Select Doc Code"| translate }}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <select name="DocCode_jv" id="Select1" data-role="dropdownlist" class="form-control input-sm"
                                                ng-model="block1.gltd_doc_code" ng-change="getprovno()"
                                                ng-options="DocCode_jv.gltd_doc_code as DocCode_jv.gldc_doc_short_name for DocCode_jv in geDocCode_jv"></select>

                                    </div>
                                </div>
                                </div>
                            <div class="col-md-3">
                                <div class="col-md-12">
                            <div class="col-md-6">
                                <label><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Select Provision No."| translate }}</label>
                            </div>
                            <div class="col-md-6">
                                <select id="comb_provision_number" data-role="dropdownlist" class="form-control"
                                        ng-model="block1.gltd_prov_doc_no"
                                        ng-options="prno.gltd_prov_doc_no as prno.gltd_prov_doc_no for prno in prnumber" name="prno" required></select>
                            </div>
                                    </div>
                                </div>
                            <div class="col-md-2" >&nbsp;</div>
                            <div class="col-md-3 pull-right" style="text-align:right;">
                                <button class="btn btn-primary btn-small" type="submit" ng-click="Show()">{{"Show"| translate }}</button>
                                 <button class="btn btn-primary btn-small" type="button" ng-click="clear()">{{"Reset"| translate }}</button>
                                <button class="btn btn-primary btn-small " ng-disabled="revdelete" ng-click="deleteReverted()" type="button" >{{"Delete"| translate }}</button> 
                                <button class="btn btn-primary btn-small" type="button" ng-click="back()">{{"Back"| translate }}</button>
                                 
                            </div>
                           
                        </div>
                         <div class="col-md-12 paddingcode" style="height: -2px; border: none; margin-top:0px;margin-bottom:-16px"  ng-show="vis.revert_grd">
                       

                    </div>

                    <div class="col-md-12 paddingcode" style="height: 44px; overflow-y: auto"  ng-show="vis.revert_grd">

                        <!--<label id="Label1" for="txt_provision_number" class="form-label">{{"You have Following Reverted Documents:-"| translate }}</label>-->
                        <div style="color: red; text-align: center" ng-repeat="rvdocument in revertdocument">{{"You have Following Reverted Documents"| translate }}:-{{rvdocument.revert_doc_no}}</div>
                    </div>

                      <div class="col-md-12 paddingcode" style="height: -1px; border: none;margin-top:-2px;margin-bottom:-15px" ng-show="vis.revert_grd">
                              
                                </div>

                    </div>
                    <div class="grid1">
                   

                   
                        </div>
                   <!-- <div class="col-md-12" ng-show="vis.revert_grd">
                        <hr>
                    </div>-->
                   

                    <!-- Modal content-->
                    <div>
                        <div>
                            <form name="myForm" ng-submit="Add(myForm.$valid)" novalidate="novalidate">
                                <div class="" ng-show="operation">

                                    <div class="col-md-9 paddingcode" style="background-color:#fff;margin-top:-13px;">
                                        <div class="row ">
                                            <!--//Doc Code-->
                                            <div class="col-md-4">
                                                <div class="col-md-12">
                                                    <div class="col-md-4">
                                                <label id="Label2" class="form-label"><i class="fa fa-dashboard"></i>&nbsp;{{"Doc Code"| translate }}</label>
                                                        </div>
                                                    <div class="col-md-8">
                                                <select id="cmb_doc_code" data-role="dropdownlist" class="form-control input-sm" required
                                                        ng-model="temp_doc.gltd_doc_code" ng-change="showhide()"
                                                        ng-options="DocCode_jv1.gltd_doc_code as DocCode_jv1.gldc_doc_short_name for DocCode_jv1 in geDocCode_jv" name="DocCode_jv1" ng-disabled="dcode" required></select>
                                                        </div>
                                            </div>
                                            </div>
                                            <div class="col-md-2"></div>
                                             <!--//Doc Date--> 
                                            <div class="col-md-3">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <label id="Label3" for="txt_Doc_Date" class="form-label"><i class="fa fa-calendar"></i>&nbsp;{{"Creation Date"| translate }}</label>
                                                     </div>
                                                    <div class="col-md-6">
                                                        <input type="text" id="txt_doc_date" name="txt_doc_date" style="background-color:#ddd;" class="k-textbox full-width input-sm " ng-model="temp_doc.gltd_doc_date" ng-disabled="true">
                                                    </div>
                                                </div>
                                            </div>


                                            <!--//POst Date-->
                                            <div class="col-md-3" id="postdate">
                                                <div class="col-md-12">
                                                    <div class="col-md-7" style="height: 71px;">
                                                <label id="Label4" for="txt_postdate" class="form-label"><i class="fa fa-calendar"></i>&nbsp;{{"Posting Date"| translate }} {{lbl_recur}}</label>
                                                        </div>
                                                    <div class="col-md-5">
                                                    <input type="text" id="PostDate" name="PostDate" class="k-textbox full-width input-sm " ng-model="temp_doc.gltd_post_date"  ng-change="check_post_date()">
                                                        </div>
                                            </div>
                                            </div>



                                            

                                        </div>

                                           
                                        </div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-2">

                                         <div >

                                                <label id="label26" class="form-label">&nbsp;</label>
                                                <button class="btn btn-primary btn-small" type="submit" ng-show="vis.ok" ng-click="Insert_temp_docs()">{{"Prepare"| translate }}</button>
                                                <button class="btn btn-primary btn-small" type="button" ng-show="checkprintbtn" ng-click="PrintReport()">{{"Print"| translate }}</button>
                                                <button class="btn btn-primary btn-small" type="submit" ng-show="vis.update" ng-click="Updatedatavalue()">{{"Update"| translate }}</button>
                                                <button class="btn btn-primary btn-small" type="submit" ng-show="vis.SendToVerify" ng-click="UpdateVerify()">{{"Send To Verify"| translate }}</button>
                                                <button class="btn btn-primary btn-small" type="submit" ng-show="vis.very" ng-click="JVerify_click()">{{"Verify"| translate }}</button>
                                                <button class="btn btn-primary btn-small" type="submit" ng-show="vis.autoriz" ng-click="JVAuthorize_click()">{{"Authorize"| translate }}</button>
                                            </div>
                                    </div>
                                    <div class="col-md-9 paddingcode" style="background-color:#fff;margin-top:-35px;">
                                        <div class="row">
                                        <div class="col-md-3"  ng-show="vis.is_recur">
                                            <div class="col-md-12">
                                                <div class="col-md-8">
                                                <label id="Label5" for="txt_Status" class="form-label"><i class="fa fa-credit-card"></i>&nbsp;{{"Is Recurring Voucher"| translate }}</label>
                                                    </div>
                                                <div class="col-md-2">
                                                <div class="checkbox check-success">
                                                    <input id="chk_rec" type="checkbox" class="k-checkbox" ng-model="temp_doc.chk_recur" ng-click="Chk_recur_voucher(temp_doc.chk_recur)">
                                                    <label for="chk_rec"></label>
                                                </div>
                                                </div>
                                            </div>
                                         </div>


                                            <div class="col-md-3" ng-show="vis.recur_periods">
                                                <div class="col-md-12">
                                                    <div class="col-md-4">
                                                <label id="Label6" for="txt_period" class="form-label"><i class="fa fa-calendar"></i>&nbsp;{{"Periods"| translate }}</label>
                                                        </div>
                                                    <div class="col-md-6">
                                                <input type="text" id="txt_recur_period" name="txt_period"  class="k-textbox" ng-model="temp_doc.gltd_recur_period" maxlength="2">
                                                        </div>
                                            </div>
                                                </div>

                                            <div class="col-md-3" ng-show="vis.recur_periods">
                                                <div class="col-md-12">
                                                    <div class="col-md-4">
                                                <label id="Label47" for="txt_days" class="form-label"><i class="fa fa-calendar"></i>&nbsp;{{"Days"| translate }}</label>
                                                        </div>
                                                    <div class="col-md-6">
                                                <input type="text" id="Text9" name="txt_days"  class="k-textbox" ng-model="temp_doc.gltd_recur_period_days" maxlength="2">
                                                        </div>
                                            </div>
                                                </div>
                                            </div>
                                    </div>

                                    <div class="col-md-9 paddingcode" style="background-color:#fff;">
                                        <div class="row ">
                                            <div class="col-md-6 ng-hide">
                                                <div class="col-md-12">
                                                    <div class="col-md-3">
                                                            <label><i class="fa fa-bookmark"></i>&nbsp;{{"Doc Remark" | translate}}</label>
                                                        </div>
                                                    <div class="col-md-9">
                                                         <input type="text" id="docremark" placeholder="Please Enter Doc Remark" ng-model="temp_doc.gltd_remarks" class="m-t-5 form-control full-width k-textbox" name="docRemark" />
                                                        </div>
                                                    </div>
                                            </div>
                                             <div class="col-md-12">
                                                 <div class="col-md-12">
                                                    <div class="col-md-2">
                                                <label><i class="fa fa-align-justify"></i>&nbsp;{{"Doc Narration" | translate}}</label>
                                                        </div>
                                                     
                                                    <div class="col-md-10">
                                                  <input type="text" id="narr"  placeholder="Please Enter Doc Narration" ng-model="temp_doc.gltd_doc_narr" class="m-t-5 form-control full-width k-textbox" name="docNarration" />
                                                        </div>
                                                     </div>
                                            </div>
                                            </div>
                                    </div>


                                        <div class="row" ng-show="vis.onchangedoccodeshow">

                                            <div class="col-md-12 acct_grid paddingcode" style="margin-left:3px;margin-top:6px;">
                                                <div class="row">
                                                  <div class="col-md-12">
                                                      <!--Account Code-->
                                                    <div class="col-md-2" ng-class="{'has-error': !myForm.accountcode.$valid && (myForm.accountcode.$touched || myForm.$submitted) }">
                                                        <label id="Label8" for="txt_Account_Code" class="form-label"><i class="fa fa-dashboard"></i>&nbsp;{{"Account Code"| translate }}</label>
                                                        <select id="cmb_account_Code" data-role="dropdownlist" class="k-textbox" ng-change="getAccountName(block2.master_acno)"
                                                                ng-model="block2.master_acno" 
                                                                ng-options="accountcode as accountcode.master_ac_cdname for accountcode in bankname" name="accountcode" required></select>
                                                    </div>

                                                    <!--Cost Center Account-->
                                                    <div class="col-md-1" ng-show="chkcost_Ac">
                                                        <label id="Label7" for="txt_Status" class="form-label"><i class="fa fa-money"></i>&nbsp;{{"Cost"| translate }}</label>
                                                        <div class="checkbox check-success">
                                                            <input id="cost_center_ac" type="checkbox" class="k-checkbox" ng-model="temp.cost_chk_ac" ng-click="cost_center_Account(temp.cost_chk_ac)">
                                                            <label for="cost_center_ac"></label>
                                                        </div>
                                                    </div>

                                                    <!--Cost Center-->
                                                    <div class="col-md-2" ng-show="cost_combo_AC">
                                                        <label id="Label1" for="txt_account_Code" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Cost Center"| translate }}</label>
                                                        <select id="Select2" style="width:100%;" data-role="dropdownlist" class="form-control"
                                                                ng-model="edt5.glco_cost_centre_code"
                                                                ng-options="AccountCode as AccountCode.coce_cost_centre_name for AccountCode in costcenter_account" name="CostCenter"></select>
                                                    </div>


                                                    <!-- Pty Ref No.-->
                                                    <div class="col-md-2">
                                                        <label id="Label9" class="form-label"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Pty Ref No."| translate }}</label>
                                                        <input type="text" id="Text4" ng-model="block2.pty_ref_no" class="k-textbox" name="pty_ref_no" />
                                                    </div>

                                                    <div class="col-md-2" ng-show="vis.cheq_no">
                                                        <label id="Label52" class="form-label"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Cheque No."| translate }}</label>
                                                        <input type="text" id="Text11" ng-model="block1.gltd_cheque_No" class="k-textbox" name="cheque_no" />
                                                    </div>
                                                       <div class="col-md-2" ng-show="vis.cheq_no">
                                                        <label id="Label19" for="gltd_payment_date" class="form-label"><i class="fa fa-calendar"></i>&nbsp;{{"Cheque Date"| translate }}</label>

                                                        <input id="PostDate" name="gltd_payment_date" class="k-textbox input-sm full-width" ng-model="block1.gltd_payment_date">
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label id="Label53" class="form-label">{{content}}</label>
                                                        <input type="text" id="Text12" ng-model="block1.gltd_paid_to" class="k-textbox" name="paid_to" />
                                                    </div>
                                                    <!--<div class="col-md-1">
                                                        <label id="Label10" for="Dcode" class="form-label">{{"Dept"| translate }}</label>
                                                        <input type="text" id="Text1" ng-model="block2.gldd_dept_code" value="{{gldd_dept_code}}" class="k-textbox" name="Dcode"
                                                            ng-pattern="/^(\d)+$/" ng-maxlength="2" />
                                                    </div>-->
                                                      </div>
                                                <div class="col-md-12">
                                                    <div class="col-md-5">
                                                        <label id="label54" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Doc Narration"| translate}}</label>
                                                        <input type="text" ng-model="block2.gldd_doc_narr" class="k-textbox" name="master_doc_narr" />
                                                    </div>

                                                    <!--Debit-->

                                                    <div class="col-md-2">
                                                        <label id="Label11" class="form-label"><i class="fa fa-credit-card"></i>&nbsp;{{"Debit"| translate }}</label>
                                                        <input type="text" ng-model="block2.gldd_doc_amount_debit" ng-disabled="dvalue" ng-change="chk_mstr_ac_dr();"
                                                               class="k-textbox" name="debit_amount_ac" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" ng-maxlength="17" />

                                                        <span style="color: red" ng-show="myForm.debit_amount_ac.$dirty && myForm.debit_amount_ac.$invalid || myForm.$submitted">
                                                            <span ng-show="myForm.debit_amount_ac.$error.pattern">Enter Only  Digits</span>
                                                    </div>

                                                    <!-- Credit-->
                                                    <div class="col-md-2">
                                                        <label id="Label12" for="txt_Country_Code" class="form-label"><i class="fa fa-credit-card"></i>&nbsp;{{"Credit"| translate }}</label>
                                                        <input type="text" ng-model="block2.gldd_doc_amount_credit" ng-disabled="cvalue" ng-change="chk_mstr_ac_cr();"
                                                               class="k-textbox" name="credit_amount_ac" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" ng-maxlength="17" />

                                                        <span style="color: red" ng-show="myForm.credit_amount_ac.$dirty && myForm.credit_amount_ac.$invalid || myForm.$submitted">
                                                            <span ng-show="myForm.credit_amount_ac.$error.pattern">Enter Only  Digits</span>
                                                    </div>
                                                  </div>
                                                    <div class="" style="float:right;"> 
                                                        <label>&nbsp;</label>
                                                        <button class="btn btn-primary btn-small" type="button" ng-show="vis.Add_show_hide" ng-click="AddMasterDataInGrid();"><i class="icon-ok"></i>{{"Add"| translate }}</button>
                                                        <button class="btn btn-primary btn-small" type="button" ng-show="vis.updatebtn1" ng-click="UpdateMasterDataInGrid()"><i class="icon-ok"></i>{{"Update"| translate }}</button>
                                                        <button class="btn btn-warning btn-small" type="button" ng-click="CancelMasterDataInGrid()">{{"Cancel"| translate }}</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                   <!-- <div class="col-md-12" ng-show="vis.main_acct_grid">
                                        <hr >
                                    </div>-->
                                  <div class="col-md-12 grid_margin">
                                
                                </div>



                                    <div class="grid2" ng-show="vis.main_acct_grid">

                                        <div class="col-md-12 paddingcode" style="background-color:#48d1cc;">
                                            <div class="row">
                                                <!--Ledger Code-->
                                                <div class="col-md-1">
                                                    <label id="Label13" class="form-label"><i class="fa fa-dashboard"></i>&nbsp;{{"Ledger"| translate }}</label>
                                                    <select id="Select3" data-role="dropdownlist" class="form-control" name="user" ng-model="block3.gldd_ledger_code" ng-disabled="ldgcd"
                                                            ng-options="lcode.sllc_ldgr_code as lcode.sllc_ldgr_name for lcode in LdgrCode"
                                                            ng-change="getSLAccNo()">
                                                        <option value="" selected disabled>Please Select</option>
                                                    </select>
                                                </div>

                                                <!-- Account Code-->
                                                <div class="col-md-3" ng-class="{'has-error': !myForm.AccountCode.$valid && (myForm.AccountCode.$touched || myForm.$submitted) }">
                                                    <label id="Label14" class="form-label"><i class="fa fa-dashboard"></i>&nbsp;{{"Account No."| translate }}</label>
                                                    <select id="cmb_acc_Code3" style="width: 100%;" 
                                                            ng-model="block3.gldd_acct_code" ng-change="getDepartcode(block3.gldd_acct_code);"
                                                            ng-options="AccountCode.gldd_acct_code as AccountCode.gldd_acct_name for AccountCode in getAllAccNos" ng-show="vis.cmb_acct" name="AccountCode" required></select>
                                                    <input type="text" id="Text8" ng-model="block3.gldd_acct_name" class="k-textbox" name="txt_acct_name" ng-show="vis.txt_acct" readonly />

                                                    <p class="help-block" ng-show="myForm.AccountCode.$error.required  &&  (myForm.AccountCode.$touched || myForm.$submitted)">
                                                        Please Select Account Code
                                                    </p>

                                                </div>

                                              

                                                <!--Pty Ref No-->
                                                <div class="col-md-1">
                                                    <label id="Label15" for="partrefno" class="form-label"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Pty Ref No"| translate }}</label>
                                                    <input type="text" id="Text2" ng-model="block3.gldd_party_ref_no" class="k-textbox" name="partrefno" />
                                                </div>
                                                 <div class="col-md-3">
                                                     <label><i class="fa fa-align-justify"></i>&nbsp;{{"Description"|translate}}</label>
                                                    <input type="text"   placeholder="Description"  ng-model="block3.gldd_doc_narr" class="k-textbox" name="dNarr" />
                                                </div>
                                                  <!--Debit-->
                                                <div class="col-md-1">
                                                    <label id="Label17" class="form-label" style="text-align:right;"><i class="fa fa-credit-card"></i>&nbsp;{{"Debit Amt."| translate }}</label>
                                                    <input style="text-align:right;" type="text" ng-model="block3.gldd_doc_amount_debit" ng-disabled="dramount" dirname="debi"
                                                           ng-change="checkevaluesdebit();"
                                                           value='0' class="k-textbox" name="debit_amount" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" ng-maxlength="17" />

                                                    <span style="color: red" ng-show="myForm.debit_amount.$dirty && myForm.debit_amount.$invalid || myForm.$submitted">
                                                        <span ng-show="myForm.debit_amount.$error.pattern">Enter Only  Digits</span>
                                                </div>

                                                <!-- Credit-->
                                                <div class="col-md-1">
                                                    <label id="Label18" style="text-align:right;" class="form-label"><i class="fa fa-credit-card"></i>&nbsp;{{"Credit Amt."| translate }}</label>
                                                    <input type="text" style="text-align:right;" ng-model="block3.gldd_doc_amount_credit" ng-disabled="cramount"
                                                           ng-change="checkevaluescredit();"
                                                           class="k-textbox"
                                                           name="credit_amount" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" ng-maxlength="17" />

                                                    <span style="color: red" ng-show="myForm.credit_amount.$dirty && myForm.credit_amount.$invalid || myForm.$submitted">
                                                        <span ng-show="myForm.credit_amount.$error.pattern">Enter Only  Digits</span>

                                                </div>

                                                <!--  Doc Narration-->
                                               

                                                

                                               
                                                 <div class="col-md-2" style="text-align:right;">
                                                    <label>&nbsp;</label>
                                                    <button class="btn btn-primary btn-small" type="button" ng-show="vis.add_grid" ng-click="Add_inner_grid()"><i class="icon-ok"></i>{{"Add"| translate }}</button>
                                                    <button class="btn btn-primary btn-small" type="button" ng-show="vis.updatebtn" ng-click="update_grid_data()"><i class="icon-ok"></i>{{"Update"| translate }}</button>
                                                    <button class="btn btn-warning btn-small" type="button" ng-click="cancel()">{{"Cancel"| translate }}</button>
                                                </div>
                                                <!--<div class="col-md-3">
                                                    <label id="Label16" for="Dcode" class="form-label">{{"Depart Code"| translate }}</label>
                                                    <input type="text" id="Text3" ng-model="block3.gldd_dept_code" class="k-textbox" name="Dcode" ng-pattern="/^(\d)+$/" ng-maxlength="2" />
                                                </div>-->



                                            </div>
                                        </div>

                                        <div class="col-md-12 paddingcode" style="background-color:#48d1cc">
                                            <div class="row ">
                                                
                                                  <!--Cost Center-->
                                                <div class="col-md-2" ng-show="chkcost">
                                                    <div class="row">
                                                     <div class="col-md-6">
                                                        <label id="Label45" for="txt_Status" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Cost Center"| translate }}</label>
                                                      </div>
                                                        <div class="col-md-2">
                                                    <div class="checkbox check-success">
                                                        <input id="chk_term4" type="checkbox" class="k-checkbox" ng-model="temp.cost_chk" ng-click="cost_center2(temp.cost_chk)">
                                                        <label for="chk_term4"></label>
                                                    </div>
                                                            </div>
                                                        </div>
                                                </div>

                                                <!--Cost Center-->
                                                <div class="col-md-2" ng-show="cost_combo">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                    <label id="Label46" for="txt_account_Code" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Cost Center"| translate }}</label>
                                                            </div>
                                                  <div class="col-md-6">
                                                    <select id="costCenter" style="width:100%;" data-role="dropdownlist" class="form-control"
                                                            ng-model="block2.glco_cost_centre_code"
                                                            ng-options="AccountCode.glco_cost_centre_code as AccountCode.coce_cost_centre_name for AccountCode in cost_center" name="CostCenter"></select>
                                                  </div>
                                                </div>
                                               </div>
                                              
                                                 <div class="col-md-2" ng-show="vis_vat">
                                                     <div class="row">
                                                          <div class="col-md-6">
                                                    <label id="vat_enable_field" for="txt_Status" class="form-label">{{"VAT Enable"| translate }}</label>
                                                              </div>
                                                    <div class="col-md-6 checkbox check-success">
                                                        <input id="vat_enable" type="checkbox" class="k-checkbox" ng-model="block3.gldd_vat_enable">
                                                        <label for="vat_enable"></label>
                                                    </div>
                                                         </div>
                                                </div>

                                                <div class="col-md-2"  ng-show="vis_vat">
                                                    <div class="row">
                                                          <div class="col-md-6">
                                                    <label id="inc_vat" for="txt_Status" class="form-label">{{"Including VAT"| translate }}</label>
                                                              </div>

                                                    <div class="col-md-6 checkbox check-success">
                                                        <input id="chk_amt" type="checkbox" class="k-checkbox" ng-model="block3.gldd_include_vat" ng-click="chk_including_vat()">
                                                        <label for="chk_amt"></label>
                                                    </div>
                                                              </div>
                                                </div>


                                                <div class="col-md-2" ng-show="vis_vat_amt" >
                                                    <div class="row">
                                                     <div class="col-md-6">
                                                        <label id="vat_amt" for="txt_vat" class="form-label"><i class="fa fa-money"></i>&nbsp;{{"VAT Amt."| translate }}</label>
                                                     </div>
                                                   <div class="col-md-6">
                                                     <input type="text" id="txt_VAT_mat" name="txt_vat" class="k-textbox" ng-model="block3.gldd_doc_vat_amt"  readonly>
                                                   </div>
                                                  </div>
                                                </div>
                                                
                                               

                                            </div>
                                        </div>

                                        

                                    </div>


                                 <div class="col-md-12 grid_margin">
                                
                                </div>

                                    <div ng-show="vis.doc_detail_grid">
                                        <div>
                                           <!-- <div class="col-md-12">
                                                <hr>
                                            </div>-->
                                             


                                            <div id="Div1" class="dataTables_wrapper form-inline">
                                                <div class="records" style="width: 100%; height: 180px; overflow-x: auto; overflow-y: auto">
                                                    <table class="table table-bordered table-condensed " id="Table1">
                                                        <thead>
                                                            <tr>
                                                                <th class="finance_display "><i class="fa fa-trash-o"></i>&nbsp;{{"Delete"| translate }}</th>
                                                                <th class="finance_display"><i class="fa fa-align-justify"></i>&nbsp;{{"Comp"| translate }}</th>
                                                                <th class="finance_display"><i class="fa fa-dashboard"></i>&nbsp;{{"Ledger Code"| translate }}</th>
                                                                <th class="finance_display" ng-show="false"><i class="fa fa-dashboard"></i>&nbsp;{{"Acct Code"| translate }}</th>
                                                                <th class="finance_display"><i class="fa fa-align-justify"></i>&nbsp;{{"Acct Name"| translate }}</th>
                                                                <th class="finance_display"><i class="fa fa-align-justify"></i>&nbsp;{{"Center Name"| translate }}</th>
                                                                <th class="finance_display"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"PTY Ref No"| translate }}</th>
                                                                <th class="finance_display"><i class="fa fa-pencil-square-o"></i>&nbsp;{{"Dept"| translate }}</th>
                                                                <th class="finance_display"><i class="fa fa-calendar"></i>&nbsp;{{"PTY Ref Date"| translate }}</th>
                                                                <th class="finance_display"><i class="fa fa-align-justify"></i>&nbsp;{{"Doc Narration"| translate }}</th>
                                                                <th class="finance_display"><i class="fa fa-credit-card"></i>&nbsp;{{"Debit"| translate }}</th>
                                                                <th class="finance_display"><i class="fa fa-credit-card"></i>&nbsp;{{"Credit"| translate }}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="JVCreate in prdocdata" ng-click="update_grid(JVCreate)">
                                                                <td>
                                                                    <input type="button" ng-click="Delete_Grid(prdocdata,$event,$index,JVCreate);" value="X" />
                                                                </td>
                                                                <td>{{JVCreate.gldd_comp_code}}</td>
                                                                <td>{{JVCreate.gldd_ledger_code}}</td>
                                                                <td ng-show="false">{{JVCreate.gldd_acct_code}}</td>
                                                                <td>{{JVCreate.gldd_acct_name}}</td>
                                                                <td>{{JVCreate.coce_cost_centre_name}}</td>
                                                                <td>{{JVCreate.gldd_party_ref_no}}</td>
                                                                <td>{{JVCreate.gldd_dept_code}}</td>
                                                                <td>{{JVCreate.ptyref_date}}</td>
                                                                <td>{{JVCreate.gldd_doc_narr}}</td>
                                                                <td>{{JVCreate.gldd_doc_amount_debit}}</td>
                                                                <td>{{JVCreate.gldd_doc_amount_credit}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                    <!--</div>
                                                    </div>-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 records">

                                            <div class="col-md-8">
                                                &nbsp;
                                            </div>

                                            <div class="col-md-2">
                                                <label id="label20">{{"Debit Total: " | translate}}<span class="semi-bold">{{totalDebit}}</span></label>
                                            </div>

                                            <div class="col-md-2">
                                                <label id="label21">{{"Credit Total: " |translate}}<span class="semi-bold">{{totalcredit}}</span></label>
                                            </div>
                                        </div>

                                        <div class="col-md-12 records">
                                            <div class="col-md-4" style="display:none;">
                                                <label id="label22" class="form-label">{{"Account Name: "| translate}}{{edt1.gldd_acct_name}}</label>
                                                <label id="label23" class="form-label">{{"Department Name: "| translate}}{{edt1.codp_dept_name}}</label>
                                            </div>
                                            <div class="col-md-4 h-align-middle" style="display:none;">
                                                <label id="label24" class="form-label">{{"Provision No: " | translate}}</label>
                                                <label id="label25" class="form-label">{{edt1.gldd_prov_doc_no}}</label>
                                            </div>
                                           
                                        </div>
                                    </div>


                                </div>

                            </form>

                            <!--table-->



                        </div>


                    </div>
                </div>
            </div>
        


      
    </div>
</div>
</div>
<!-- POP UP Window -->


<div class="modal fade in" id="myModal4" ng-style="style" tabindex="-1">
    <div class="modal-dialog" id="jv_Voucher" style="height:100%;width:100%">
        <div class="modal-content" >
            <div class="modal-header">
                <!--<button type="button" ng-click="closemodal()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                <button style="margin-top :4px;margin-right :0px;height :33px;line-height :23px;float: right;" class="btn btn-primary btn-cons" data-dismiss="modal" type="submit">Close</button>
                <h5 class="semi-bold pull-left"><b>Voucher Details ({{temp_doc.gldc_doc_short_name}}-{{temp_doc.gltd_prov_doc_no}})</b></h5>
				<!--<button type="button" ng-hide="windowflg" ng-click="maxmize()" class="btn btn-white btn-xs btn-mini " style="float: right;border: none;"><i class="fa  fa-square-o"></i> </button>
                <button type="button"  ng-show="windowflg" ng-click="manimize()"  class="btn btn-white btn-xs btn-mini " style="float: right;border: none;"><i class="fa fa-clone"></i> </button>-->

                <br />
            </div>
            <div class="grid-body no-border" ng-show="operation">
                    <div class="row">
                        <div class="col-md-1" ng-hide="report_show">
                                <div  ng-click="backModal()">
                                      <button class="btn btn-primary btn-cons btn-small" type="button">{{"Back"| translate}}</button>
                                </div>
                            </div>
                </div>
                <div ng-show="report_show">
                <div class="col-md-12" >
                    <div class="row ">

                        <div class="col-md-2">
                            <label id="Label37" class="form-label"><i class="fa fa-dashboard"></i>&nbsp;{{"Doc Code"| translate }}</label>
                            <input type="text" id="Text10" ng-model="temp_doc.gldc_doc_short_name" class="k-textbox" name="DocCode_jv1" ng-disabled="true" />

                        </div>

                        <div class="col-md-2">
                            <label id="Label38" for="txt_Doc_Date" class="form-label"><i class="fa fa-calendar"></i>&nbsp;{{"Creation Date"| translate }}</label>
                            <div class="input-append success date no-padding" data-datepicker="true">
                                <input type="text" id="Text3" name="DocDate" class="k-textbox input-sm" ng-model="temp_doc.gltd_doc_date" ng-disabled="true">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <label id="Label39" for="txt_postdate" class="form-label"><i class="fa fa-calendar"></i>&nbsp;{{"Posting Date"| translate }}</label>
                            <input type="text" id="Text5" name="PostDate" class="k-textbox input-sm" ng-model="temp_doc.gltd_post_date" ng-disabled="true">
                            <!--<div class="input-append success date md-4 no-padding" data-datepicker="true" style="z-index: 1">

                                <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                            </div>-->
                        </div>

                        <div class="col-md-5" style="margin-left:30px">
                            <label id="label40" class="form-label"><i class="fa fa-bookmark"></i>&nbsp;{{"Doc Remark"| translate}}</label>
                            <input type="text" id="Text6" ng-model="temp_doc.gltd_remarks" class="k-textbox" name="docRemark" ng-disabled="true" />
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label id="label41" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Doc Narration"| translate}}</label>
                            <input type="text" id="Text7" ng-model="temp_doc.gltd_doc_narr" class="k-textbox" name="docNarration" ng-disabled="true" />
                        </div>
                    </div>

                </div>

                <div ng-show="vis.doc_detail_grid">
                    <div>
                        <div class="col-md-12">
                            <hr >
                        </div>
                        <div id="Div4" class="dataTables_wrapper form-inline">
                            <div style="width: 100%; height: 335px; overflow-x: auto; overflow-y: auto">
                                <table class="table table-bordered table-condensed" id="Table2">
                                    <thead>
                                        <tr>
                                            <!--   <th class="finance_display">{{"COMP"| translate }}</th>-->
                                            <th class="finance_display"><i class="fa fa-dashboard"></i>&nbsp;{{"Ledger Code"| translate }}</th>
                                           <!-- <th class="finance_display">{{"ACCT CODE"| translate }}</th>-->
                                            <th class="semi-bold" ng-click="sortBy('gldd_acct_code')"><i class="fa fa-dashboard"></i>&nbsp;<b>{{"Acct Code"| translate }}</b>
                                     <span class="sortorder" ng-show="propertyName === 'gldd_acct_code'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                            <!--<th class="finance_display">{{"ACCT NAME"| translate }}</th>-->
                                       <th class="semi-bold" ng-click="sortBy('gldd_acct_name')"><i class="fa fa-align-justify"></i>&nbsp;<b>{{"Acct Name"| translate }}</b>
                                     <span class="sortorder" ng-show="propertyName === 'gldd_acct_name'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                            <th class="finance_display" ng-show="cost"><i class="fa fa-align-justify"></i>&nbsp;{{"Cost Center"| translate }}</th>
                                            <th class="finance_display"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"PTY Ref No"| translate }}</th>
                                            <th class="finance_display"><i class="fa fa-pencil-square-o"></i>&nbsp;{{"Dept"| translate }}</th>
                                            <th class="finance_display"><i class="fa fa-calendar"></i>&nbsp;{{"PTY Ref Date"| translate }}</th>
                                            <th class="finance_display"><i class="fa fa-align-justify"></i>&nbsp;{{"Doc Narration"| translate }}</th>
                                            <th class="finance_display"><i class="fa fa-credit-card"></i>&nbsp;{{"Debit"| translate }}</th>
                                            <th class="finance_display"><i class="fa fa-credit-card"></i>&nbsp;{{"Credit"| translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="JVCreate in prdocdata | orderBy:propertyName:reverse" ng-class="row1" ng-dblclick="edit(airfare)">
                                            <!-- <td>{{JVCreate.gldd_comp_code}}</td>-->
                                            <td>{{JVCreate.gldd_ledger_code}}</td>
                                            <td>{{JVCreate.gldd_acct_code}}</td>
                                            <td>{{JVCreate.gldd_acct_name}}</td>
                                            <td ng-show="cost">{{JVCreate.coce_cost_centre_name}}</td>
                                            <td>{{JVCreate.gldd_party_ref_no}}</td>
                                            <td>{{JVCreate.gldd_dept_code}}</td>
                                            <td>{{JVCreate.ptyref_date}}</td>
                                            <td>{{JVCreate.gldd_doc_narr}}</td>
                                            <td>{{JVCreate.gldd_doc_amount_debit}}</td>
                                            <td>{{JVCreate.gldd_doc_amount_credit}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">

                        <div class="col-md-4">

                            <label id="label42" class="form-label">{{"Provision No: " | translate}}&nbsp;{{temp_doc.gltd_prov_doc_no}}</label>

                        </div>

                        <div class="col-md-3">
                            <label id="label50">{{"Debit Total: " | translate}}<span class="semi-bold">{{totalDebit}}</span></label>
                        </div>

                        <div class="col-md-3">
                            <label id="label51">{{"Credit Total: " |translate}}<span class="semi-bold">{{totalcredit}}</span></label>
                        </div>
                        <div class="" style="margin-bottom: 20px;float: right;margin-right:14px;">
                            <button class="btn btn-primary btn-cons" type="button" ng-click="CheckPrintReport()">{{"Print"| translate }}</button>
                        </div>

                    </div>
                    <div class="col-md-12" ng-show="vis.user_vry">

                        <div class="col-md-3">

                            <label id="label43" class="form-label">{{"Verified User: " | translate}}&nbsp;{{temp_doc.gldu_verify}}</label>

                        </div>
                        <div class="col-md-3">
                            <label id="label44">{{"Verified Date: " |translate}}<span class="semi-bold">{{temp_doc.gltd_verify_date}}</span></label>
                        </div>

                    </div>

                    <div class="col-md-12" ng-show="vis.user_aut">
                        <div class="col-md-3">
                            <label id="label48">{{"Authorize User: " | translate}}<span class="semi-bold">{{temp_doc.gldu_authorize}}</span></label>
                        </div>


                        <div class="col-md-3">
                            <label id="label49">{{"Authorize Date: " |translate}}<span class="semi-bold">{{temp_doc.gltd_authorize_date}}</span></label>
                        </div>
                    </div>

                </div>
                </div>

                  <div class="col-md-12" ng-hide="report_show">
                                  <div class="row report_holder">
                                      <div id="reportViewer1">
                                          loading...
                                      </div>
                                  </div>
                              </div>

            </div>
        </div>
    </div>

</div>

<div class="modal fade in" id="vouchermodal" role="dialog" style="display: none;">
    <div class="modal-dialog" style="width: 1024px; border: solid; border-width: 02px; border-bottom-left-radius: 05px; border-bottom-right-radius: 05px; border-top-left-radius: 05px; border-top-right-radius: 05px; border-color: blue">
        <div class="modal-content">
            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px;font-weight:600">Voucher<b></b></h4>
                </div>
                <div class="pull-right">
                    <a href="">
                       <!--- <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>--->
                        <button style="margin-top :4px;margin-right :0px;height :33px;line-height :23px;" class="btn btn-primary btn-cons" data-dismiss="modal" type="submit">Close</button>

                    </a>
                </div>

            </div>
            <div class="grid-body no-border" ng-show="operation">
            <div class="col-md-12" ng-hide="voucher_report_show">
                <div class="row report_holder1">
                    <div id="reportViewer2">
                        loading...
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="loader">
    <div class="modal-dialog" id="top">
        <div class="modal-content">
            <div class="box1" style="position: fixed; margin-top: 50%; left: 50%;">
                <img src="assets/img/loading_transparent_.gif">
                <!--<img src="assets/theme/img/loading.gif" />-->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>



<style>
    .inputtype {
        text-align: right;
    }
</style>
<style>
    #reportViewer2 {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 5px;
        overflow: hidden;
        font-family: Verdana, Arial;
    }

    .report_holder1 {
        height: 500px;
        position: relative;
        
    }
</style>
<script src="assets/plugins/modal_updated.js"></script>


<script>
    $(document).ready(function () {
        $("#DocDate").kendoDatePicker();
        $("#PostDate").kendoDatePicker();

    });
</script>
<script src="assets/js/calender-datepicker-id.js"></script>
