﻿<style>
    .k-textbox .k-icon {
    top: 50%;
    margin: -9px -9px 0;
    position: absolute;
}
    .k-input {
    padding: 0em;
    margin-top:0px;
}
</style>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">


            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>


            <div class="page-title">
                <h3><span class="semi-bold">{{"Ledger"| translate }}</span>&nbsp;{{"Control"| translate }}</h3>
            </div>


            <form name="myForm" ng-submit="Save(myForm.$valid)" novalidate="novalidate">
                <div class="grid-body no-border" ng-show="operation">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-2" ng-class="{'has-error': !myForm.ldgrcode.$valid && (myForm.ldgrcode.$touched || myForm.$submitted)}">
                                    <label id="lbl_ledger" class="form-label">{{"Ledger Code"| translate}} <span class="asterisk" style="color: red">*</span></label>
                                    <input autofocus="autofocus" type="text" id="txt_ledger_code" ng-model="edt.sllc_ldgr_code" class="k-textbox" style="width:100%;" ng-show="newmode" name="ldgrcode" ng-maxlength="3" required ng-pattern="/^[0-9]{1,20}$/" />
                                    <p class="help-block" ng-show="myForm.ldgrcode.$error.required &&  (myForm.ldgrcode.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                    <p class="help-block" ng-show="myForm.ldgrcode.$error.maxlength && (myForm.ldgrcode.$touched || myForm.$submitted)">
                                        Max Length is 3 digits
                                    </p>
                                    <p class="help-block" ng-show="myForm.ldgrcode.$error.pattern && (myForm.ldgrcode.$touched || myForm.$submitted)">
                                        Enter Digit only
                                    </p>
                                    <input type="text" id="Text1" ng-model="edt.sllc_ldgr_code" class="k-textbox" style="width:100%;" ng-show="editmode" readonly disabled />
                                </div>


                                <div class="col-md-3" ng-class="{'has-error': !myForm.ledgername.$valid && (myForm.ledgername.$touched || myForm.$submitted)}">
                                    <label id="lbl_ledgername" class="form-label">{{"Ledger Name"| translate}} <span class="asterisk" style="color: red">*</span></label>
                                    <input type="text" id="txt_ledger_nm" ng-model="edt.sllc_ldgr_name" class="k-textbox" style="width:100%;" name="ledgername" ng-maxlength="30" required/>
                                    <p class="help-block" ng-show="myForm.ledgername.$error.required &&  (myForm.ledgername.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                    <p class="help-block" ng-show="myForm.ledgername.$error.maxlength && (myForm.ledgername.$touched || myForm.$submitted)">
                                        Max Length is 30 Characters
                                    </p>

                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !myForm.ledgertype.$valid && (myForm.ledgertype.$touched || myForm.$submitted)}">
                                    <label id="lbl_ledgertype" class="form-label">{{"Ledger Type"| translate}}</label>
                                    <input type="text" id="txt_ledger_type" ng-model="edt.sllc_ldgr_type" class="k-textbox" style="width:100%;" name="ledgertype" ng-maxlength="5" />
                                    <p class="help-block" ng-show="myForm.ledgertype.$error.maxlength && (myForm.ledgertype.$touched && myForm.$submitted)">
                                        Max Length is 5 Characters
                                    </p>
                                </div>

                                <div class="col-md-2" ng-class="{'has-error': !myForm.matchtype.$valid && (myForm.matchtype.$touched || myForm.$submitted)}">
                                    <label id="Label1" for="txt_match_type" class="form-label">{{"Match Type"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <select id="cmb_School_Code"  data-role="dropdownlist" class="form-control"
                                            ng-model="edt.sllc_match_type"
                                            ng-options="match.sllc_match_type as match.sllc_match_type_desc for match in Finsmatch_Data" name="matchtype" required></select>
                                    <p class="help-block" ng-show="myForm.matchtype.$error.required &&  (myForm.matchtype.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                </div>

                                <div class="col-md-2">
                                    <label>{{ "Earliest Posting Date" | translate }}</label>
                                                <input type="text" id="e_p_date" name="dp_visa_date" class="k-textbox full-width input-sm" ng-model="edt.sllc_earlst_pstng_date">
                                                <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                            
                                        </div>


                            </div>
                        </div>


                    </div>
                    <div class="form-actions">
                        <div class="pull-right">
                            <button class="btn btn-primary btn-small" type="submit" ng-show="savebtn"><i class="icon-ok"></i>{{"Save"| translate }}</button>
                            <button class="btn btn-primary btn-small" type="button" ng-show="updatebtn" ng-click="Update(myForm.$valid);"><i class="icon-ok"></i>{{"Update"| translate }}</button>
                            <button class="btn btn-danger btn-small"  type="button" ng-show="deletebtn" ng-click="deleterecord()"><i class="icon-ok"></i>{{"Delete"| translate }}</button>
                            <button class="btn btn-danger btn-small" type="button" ng-click="cancel()">{{"Cancel"| translate }}</button>
                        </div>
                    </div>
                </div>
            </form>


            <!--table-->
            <div class="grid-body no-border" ng-show="table1">
                <div class="row form-row">
                    <div class="col-md-6">
                        <select id="Select12" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="10" class="form-control input-sm">
                                10
                            </option>

                            <option value="20" class="form-control input-sm">
                                20
                            </option>

                            <option value="All" class="form-control input-sm">
                                All
                            </option>
                        </select>

                        &nbsp;
                        <button class="btn btn-success btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate}}</button>
                        &nbsp;
                        <button class="btn btn-danger btn-small" type="button" ng-click="deleterecord()"><span class="semi-bold"></span>{{"Delete"| translate}}</button>
                    </div>


                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="Div1">
                               <!-- <label>
                                    {{"Search"| translate}}  &nbsp;
                                    <input type="text" placeholder="Search" aria-controls="example" ng-model="searchText" class="k-textbox" ng-change="search();">
                                </label>-->
                                  <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div style="width: 100%; height: auto; overflow-x: auto; overflow-y: auto">
                        <table class="table table-bordered table-hover table-condensed" id="fixTable">
                            <thead>
                                <tr style="background-color: #edefef">
                                    <th class="small-cell v-align-middle" style="z-index:1">
                                        <div class="checkbox check-success">
                                            <input type="checkbox" name="check" class="k-checkbox" value="1" id="mainchk" ng-click="CheckAllChecked();">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>

                                    <th class="semi-bold">{{"Company Name"| translate }}</th>
                                    <th class="semi-bold">{{"Year"| translate }}</th>
                                    <th class="semi-bold">{{"Ledger Code"| translate }}</th>
                                    <th class="semi-bold">{{"Ledger Type"| translate }}</th>
                                    <th class="semi-bold">{{"Match Type"| translate }}</th>
                                    <th class="semi-bold">{{"Earliest Posting Date"| translate }}</th>
                                    <th class="semi-bold"><i class="fa fa-cogs"></i></th>

                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <tr ng-repeat="obj in filteredTodos" ng-class="row1">
                                    <td class="small-cell v-align-middle">
                                        <div class="row-fluid" style="height: 20px">
                                            <div class="checkbox check-success">
                                                <input type="checkbox" value="1" class="k-checkbox" id="{{obj.sllc_ldgr_code+$index}}" ng-click="checkonebyonedelete()">
                                                <label for="{{obj.sllc_ldgr_code+$index}}"></label>
                                            </div>
                                        </div>
                                    </td>

                                    <td>{{obj.company_name1}}</td>
                                    <td>{{obj.sllc_year}}</td>
                                    <td ng-click="OpenLdgrControl(obj);"><a href=""> {{obj.ldgr_name}}</a></td>
                                    <td>{{obj.sllc_ldgr_type}}</td>
                                    <td>{{obj.sllc_match_type_desc}}</td>
                                    <td>{{obj.sllc_earlst_pstng_date}}</td>

                                    <td>
                                        <a href=""><i class="fa fa-edit" ng-click="up(obj)"></i></a>
                                    </td>
                                </tr>

                            </tbody>

                        </table>
                    </div>

                </div>

                <div class="row" ng-show="pager">
                    <div class="col-md-12">
                        <div class="row form-row">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!--Modal table-->
            <div class="modal fade in" id="MyModal" role="dialog" style="display: none;">
                <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 1000px;">
                    <div class="modal-content" uib-modal-transclude="" style="height:550px;">
                        <div class="modal-header ng-scope" style="height: 40px">
                            <div class="pull-left">
                                <h4 class="modal-title custom-font" style="margin-top: -5px"><b>{{"Ledger Account Control"|translate}}</b></h4>
                            </div>
                            <div class="pull-right">
                                <a href="">
                                    <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>
                                </a>
                            </div>
                        </div>

                        <div class="grid simple">
                            <div class="grid-body no-border">
                                <div class="row">
                                    <div class="row" ng-show="busy">
                                        <div class="col-md-12">
                                            <div class="row form-row">
                                                <div class="col-md-5">
                                                </div>
                                                <div class="col-md-2">
                                                    <img src="assets/images/loading.gif" />
                                                </div>
                                                <div class="col-md-5">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <form name="myFormmodal" ng-submit="Save1(myFormmodal.$valid)" novalidate="novalidate">
                                        <div class="grid-body no-border" ng-show="modaloperation">
                                            <div class="row">

                                                <div class="col-md-12">
                                                    <div class="row form-row">

                                                        <div class="col-md-2" ng-class="{'has-error': !myFormmodal.cntrlclass.$valid && (myFormmodal.cntrlclass.$touched || myFormmodal.$submitted)}">
                                                            <label id="lbl_schedule" class="form-label">{{"Control Class"| translate}} <span class="asterisk" style="color: red">*</span></label>
                                                            <input autofocus="autofocus" type="text"  ng-model="temp.slac_cntrl_class" class="k-textbox" style="width:100%;" name="cntrlclass" ng-maxlength="1" required ng-pattern="/^[0-9]{1,20}$/" />
                                                            <p class="help-block" ng-show="myFormmodal.cntrlclass.$error.required &&  (myFormmodal.cntrlclass.$touched || myFormmodal.$submitted)">
                                                                This field is required
                                                            </p>
                                                            <p class="help-block" ng-show="myFormmodal.cntrlclass.$error.maxlength && (myFormmodal.cntrlclass.$touched || myFormmodal.$submitted)">
                                                                Max Length is 1 digits
                                                            </p>
                                                            <p class="help-block" ng-show="myFormmodal.cntrlclass.$error.pattern && (myFormmodal.cntrlclass.$touched || myFormmodal.$submitted)">
                                                                Enter Digit only
                                                            </p>
                                                        </div>

                                                        <div class="col-md-3" ng-class="{'has-error': !myFormmodal.cntrldesc.$valid && (myFormmodal.cntrldesc.$touched || myFormmodal.$submitted)}">
                                                            <label id="Label2" class="form-label">{{"Control Class Desc"| translate}} <span class="asterisk" style="color: red">*</span></label>
                                                            <input type="text"  ng-model="temp.slac_cntrl_class_desc" class="k-textbox" style="width:100%;" name="cntrldesc" ng-maxlength="20" required />
                                                            <p class="help-block" ng-show="myFormmodal.cntrldesc.$error.required &&  (myFormmodal.cntrldesc.$touched || myFormmodal.$submitted)">
                                                                This field is required
                                                            </p>
                                                            <p class="help-block" ng-show="myFormmodal.cntrldesc.$error.maxlength && (myFormmodal.cntrldesc.$touched || myFormmodal.$submitted)">
                                                                Max Length is 20 Characters
                                                            </p>
                                                        </div>

                                                        <div class="col-md-3">
                                                            <label id="Label3" for="txt_Country_Code" class="form-label">{{"Account No"| translate }}</label>
                                                            <select id="account_code" style="width:100%" 
                                                                    ng-model="temp.slac_ctrl_acno"
                                                                    ng-options="accno.slac_ctrl_acno as accno.glma_acct_name for accno in AccountCode_Data"></select>


                                                            <!--<select id="cmb_acc_Code3" style="width:100%;"
                                                                    ng-model="edt.gldd_acct_code" ng-change="getDepartcode(edt.gldd_acct_code);"
                                                                    ng-options="AccountCode.gldd_acct_code as AccountCode.gldd_acct_name for AccountCode in getAllAccNos" name="AccountCode"></select>-->


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-actions">
                                                <div class="pull-right">
                                                    <button class="btn btn-primary" type="submit" ng-show="savebtn1"><i class="icon-ok"></i>{{"Save"| translate }}</button>
                                                    <button class="btn btn-primary" type="button" ng-show="updatebtn1" ng-click="Update1(myFormmodal.$valid)"><i class="icon-ok"></i>{{"Update"| translate }}</button>
                                                    <button class="btn btn-danger"  type="button" ng-show="deletebtn1" ng-click="deleterecord1()"><i class="icon-ok"></i>{{"Delete"| translate }}</button>
                                                    <button class="btn btn-danger" type="button" ng-click="cancel1()">{{"Cancel"| translate }}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                    <div class="grid-body no-border" ng-show="Modaltable">
                                        <div class="row form-row">
                                            <div class="col-md-6">
                                                <select id="Select2" style="width: 60px" name="user" ng-model="pagesize1" ng-change="size1(pagesize1)">

                                                    <option value="5" class="form-control input-sm">
                                                        5
                                                    </option>

                                                    <option value="10" class="form-control input-sm">
                                                        10
                                                    </option>

                                                    <option value="15" class="form-control input-sm">
                                                        15
                                                    </option>
                                                </select>

                                                &nbsp;
                                                <button class="btn btn-success btn-cons" style="height: 35px" type="button" ng-click="New1()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate}}</button>
                                                &nbsp;
                                                <button class="btn btn-danger btn-cons"  style="height: 35px" type="button" ng-click="deleterecord1()"><span class="semi-bold"></span>{{"Delete"| translate}}</button>
                                            </div>


                                            <!--<div class="col-md-6">
                <div class="pull-right">
                    <div class="dataTables_filter" id="Div1">
                        <label>
                            {{"Search"| translate}}  &nbsp;
                            <input type="text" placeholder="Search" aria-controls="example" ng-model="searchText" class="input-medium" ng-change="search();">
                        </label>
                    </div>
                </div>
            </div>-->
                                        </div>

                                        <div id="Div2" class="dataTables_wrapper form-inline">
                                            <div style="width: 100%; height: 270px; overflow-x: auto; overflow-y: auto">
                                                <table class="table table-bordered table-hover" id="fixTable1">
                                                    <thead>
                                                        <tr style="background-color: #edefef">
                                                            <th class="small-cell v-align-middle" style="z-index:1">
                                                                <div class="checkbox check-success">
                                                                    <input type="checkbox" name="check" class="k-checkbox" value="1" id="mainchk1" ng-click="CheckAllCheckedModal();">
                                                                    <label for="mainchk1"></label>
                                                                </div>
                                                            </th>

                                                            <th class="semi-bold">{{"Company Name"| translate }}</th>
                                                            <th class="semi-bold">{{"Ledger Code"| translate }}</th>
                                                            <th class="semi-bold">{{"Control Class"| translate }}</th>
                                                            <th class="semi-bold">{{"Control Class Desc"| translate }}</th>
                                                            <th class="semi-bold">{{"Account No"| translate }}</th>
                                                            <th class="semi-bold"><i class="fa fa-cogs"></i></th>

                                                        </tr>
                                                    </thead>
                                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                        <tr ng-repeat="slac in filteredTodos1">
                                                            <td class="small-cell v-align-middle">
                                                                <div class="row-fluid" style="height: 20px">
                                                                    <div class="checkbox check-success">
                                                                        <input type="checkbox" value="1" class="k-checkbox" id="{{slac.slac_ldgr_code+slac.slac_cntrl_class+$index}}" ng-click="checkonebyonedeleteModal()">
                                                                        <label for="{{slac.slac_ldgr_code+slac.slac_cntrl_class+$index}}"></label>
                                                                    </div>
                                                                </div>
                                                            </td>

                                                            <td>{{slac.company_name}}</td>
                                                            <td>{{slac.slac_ldgr_code}}</td>
                                                            <td>{{slac.slac_cntrl_class}}</td>
                                                            <td>{{slac.slac_cntrl_class_desc}}</td>
                                                            <td>{{slac.glma_acct_name}}</td>

                                                            <td>
                                                                <a href=""><i class="fa fa-edit" ng-click="up1(slac)"></i></a>
                                                            </td>
                                                        </tr>

                                                    </tbody>

                                                </table>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row form-row">
                                                    <div class="pull-right">
                                                        <paging class="small" page="currentPage1" page-size="pageSize1" total="pagersize1" pg-href="#GotoPage-{page1}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                                                paging-action="DoCtrlPagingAct('Paging Clicked1', page1, pageSize1, totalItems1)"
                                                                ng-click="index1(currentPage1)">
                                                        </paging>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    
                                </div>
                                <div class="modal-footer" ng-show="searchtable">
                                    <button class="btn btn-success btn-cons" data-dismiss="modal" type="button" ng-click="DataEnroll()">Ok</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="assets/js/calender-datepicker-id.js"></script>