﻿<style>
 
</style>
<div class="loading-middle" ng-hide="display">
    <img src="loading.gif" />
</div>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                class="k-textbox"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                class="k-textbox"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                class="k-textbox"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                class="k-textbox"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                class="k-textbox"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                class="k-textbox"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                class="k-textbox"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="page-title">
                <h3><span class="semi-bold">{{"PDC Payment "| translate }}</span>{{"Realize"| translate}}</h3>
            </div>
            <div class="grid-title no-border">
            </div>
            <div class="grid-body no-border bluegrid paddingcode">


                <div class="row">
                    <div class="col-md-12 ">

                        <div class="col-md-2">
                            <label class="semi-bold" for="StartDate"><i class="fa fa-calendar"></i>&nbsp;{{"From Date"| translate}}</label>
                                <input  id="pdcpre_startdate" name="startdate" class="k-textbox input-sm full-width" ng-model="temp1.startdate" ng-keypress="($event.charCode==13)?myFunct($event):return">
                                
                            </div>

                        <div class="col-md-2">  

                            <label class="semi-bold" for="enddate"><i class="fa fa-calendar"></i>&nbsp;{{"To Date"| translate}}</label>
                                <input  id="pdcpre_enddate" name="enddate" class="k-textbox input-sm full-width" ng-change="ChkDate(temp.enddate,'enddate');" ng-model="temp1.enddate" ng-keypress="($event.charCode==13)?myFunct1($event):return">
                                
                            </div>

                        <div class="col-md-1">

                            <label id="Label3" for="Grade" class="semi-bold"><i class="fa fa-pencil-square-o"></i>&nbsp;{{"Department"| translate }}</label>
                            <select id="Select1" data-role="dropdownlist" class="form-control select2-sm" name="Department" ng-model="temp.codp_dept_no" ng-options="temp.codp_dept_no as temp.codp_dept_name for temp in Departments">
                                <option value="">Clear</option>
                            </select>
                        </div>

                        <div class="col-md-2">
                            <label id="Label1" for="user" class="semi-bold"><i class="fa fa-dashboard"></i>&nbsp;{{"Ledger Code"| translate }}</label>
                            <select id="cmb_School_Code" data-role="dropdownlist" class="form-control" name="user" ng-model="edt.sllc_ldgr_code" ng-change="getSLAccNo(edt.sllc_ldgr_code)">
                                <option value="00">Clear</option>
                                <option class="form-control input-sm" ng-repeat="lcode in LdgrCode" value="{{lcode.sllc_ldgr_code}}">{{lcode.sllc_ldgr_name}}</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label id="Label2" for="user" class="semi-bold"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Account No"| translate }}</label>
                            <select id="cmb_acc_Code" name="accountCode" style="width: 100%" ng-model="edt.gldd_acct_code">
                                <option value="">Account Name/code</option>
                                <option ng-repeat="ptynme in getAllAccNos" value="{{ptynme.gldd_acct_code}}">{{ptynme.gldd_acct_name}}</option>
                            </select>

                        </div>
                          <div class="col-md-1">
                            <label for="pain" class="semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"Realize"| translate }}</label>
                            <div class="radio radio-success">
                                <input id="pain" type="radio" class="k-radio" name="Submit" ng-model="edt1.copy1" value="S">
                                <label for="pain">&nbsp;</label>&nbsp;
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="col-md-2">
                            <label class="semi-bold" for="StartDate"><i class="fa fa-calendar"></i>&nbsp;{{"Clearnace Date"| translate}}</label>
                                <input type="text" id="pdcpre_clearance" name="startdate" class="k-textbox input-sm full-width" ng-model="temp1.ps_approv_date" ng-keypress="($event.charCode==13)?myFunct($event):return">
                                
                            </div>

                      

                        <div class="col-md-2">
                            <label id="Label18" for="txt_full_name" class="semi-bold"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Submission No"| translate}}</label>
                            <input type="text" name="submissionno" id="Text1" class="k-textbox" ng-model="edt.submissionno" />
                        </div>

                        <div class="col-md-2">
                            <label id="Label4" for="user" class="semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"Bank Name"| translate }}</label>
                            <select id="app_on1" multiple="multiple" name="BankName" ng-model="edt.slma_pty_bank_id">
                                <option ng-repeat="item in AllBankNames" value="{{item.slma_pty_bank_id}}">{{item.slma_pty_bank_name}}</option>

                            </select>
                        </div>

                        <div class="col-md-2">
                            <label id="Label12" for="user" class="semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"Select Option"| translate }}</label>
                            <select id="Select3" data-role="dropdownlist" class="form-control" name="SelectOption" ng-model="edt.SelectOption" ng-change="ShowFilterText(edt.SelectOption)">
                                <option value="">Clear</option>
                                <option value="Select Records">Select Records</option>
                                <option value="Cheque Amount between">Cheque Amount between</option>
                                <option value="Cheque Series between">Cheque Series between</option>
                            </select>
                        </div>

                   <!-- </div>
                </div>

                <div class="row">
                    <div class="col-md-12 form-group">-->

                        <div class="col-md-1" ng-show="filterVisible">
                            <label id="Label13" for="txt_full_name" class="semi-bold">&nbsp;</label>
                            <input type="text" name="txt_filter_range" id="sd_desc" class="k-textbox" ng-model="edt.txt_filter_range" ng-keypress="($event.charCode==13)?FilterCode($event):return" />
                        </div>

                        <div class="col-md-1" ng-show="filterVisible">
                            <div class="col-md-12">
                                <label id="Label24" for="txt_full_name" class="semi-bold">{{"Clear Previous"| translate}}</label>
                                <div class="col-md-12 checkbox check-success" style="padding-top: 8px; padding-left: -5px !important;">
                                    <input id="Checkbox1" type="checkbox" class="k-checkbox" name="chk_previous_clear" ng-model="temp.chk_previous_clear" checked ng-change="$scope.ClearPreviousChange(temp.chk_previous_clear)">
                                    <label for="chk_previous_clear"></label>

                                </div>


                            </div>
                        </div>

                        <div class="col-md-2" style="float:right;">
                            <label>&nbsp;</label>
                            <div class="row pull-left">
                                <button type="button" ng-click="getGrade();" class="btn btn-primary btn-small">{{"View Details" | translate }}</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="grid-body no-border" style="margin-top:7px;" ng-show="table">

                <!--    <div class="row form-row">

                    <div class="col-md-6">
                        <select id="Select2" style="width: 60px" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="5" class=" form-control input-sm">5
                            </option>

                            <option value="10" class=" form-control input-sm">10
                            </option>

                            <option value="15" class=" form-control input-sm">15
                            </option>
                        </select>

                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                                <label>
                                    {{"Search"| translate }}:&nbsp;
                                  
                                    <input aria-controls="example" ng-model="searchText" class="input-medium" placeholder="Search" autofocus="autofocus" type="search" ng-change="search()">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>-->
                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div style="width: 100%; height: 380px; overflow-x: auto; overflow-y: auto">
                        <table class="table table-bordered table-hover table-condensed" id="fixTable">
                            <thead>
                                <tr style="background-color: #edefef">
                                    <th class="small-cell v-align-middle" style="z-index: 1;">
                                        <div class="checkbox check-success">
                                            <input id="mainchk" type="checkbox" class="k-checkbox" value="1" ng-click="CheckAllChecked()">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>
                                    <th class="semi-bold"><i class="fa fa-align-justify"></i>&nbsp;<b>{{"Bank From"| translate }}</b></th>
                                    <th class="semi-bold"><i class="fa fa-sort-numeric-asc"></i>&nbsp;<b>{{"Dept No"| translate }}</b></th>
                                    <th class="semi-bold"><i class="fa fa-boomark-o"></i>&nbsp;<b>{{"Ledger Type"| translate }}</b></th>
                                    <th class="semi-bold"><i class="fa fa-sort-numeric-asc"></i>&nbsp;<b>{{"Account No"| translate }}</b></th>
                                    <th class="semi-bold"><i class="fa fa-align-justify"></i>&nbsp;<b>{{"Account Name"| translate }}</b></th>
                                    <th class="semi-bold"><i class="fa fa-sort-numeric-asc"></i>&nbsp;<b>{{"Doc No"| translate }}</b></th>
                                    <th class="semi-bold"><i class="fa fa-sort-numeric-asc"></i>&nbsp;<b>{{"Cheque No"| translate }}</b></th>
                                    <th class="semi-bold"><i class="fa fa-calendar"></i>&nbsp;<b>{{"Date"| translate }}</b></th>
                                    <th class="semi-bold"><i class="fa fa-money"></i>&nbsp;<b>{{"Amount"| translate }}</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="j in GetAllPDCBillsData | orderBy:orderByField:reverseSort" ng-style="{'background-color':j.row_color}">
                                    <td>
                                        <div class="row-fluid">
                                            <div class="checkbox check-success" class="k-checkbox" style="height: 20px">
                                                <input id="{{$index}}" type="checkbox" value="1" ng-model="j.checked" ng-click="checkonebyonedelete(j)">
                                                <label for="{{$index}}"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <label id="Label22">{{j.pb_bank_from}}</label>
                                    </td>
                                    <td>
                                        <label id="Label5">{{j.pb_dept_no}}</label>
                                    </td>
                                    <td>
                                        <label id="Label6">{{j.pb_ldgr_code_name}}</label>
                                    </td>
                                    <td>
                                        <label id="Label7">{{j.pb_sl_acno}}</label>
                                    </td>
                                    <td>
                                        <label id="Label8">{{j.pb_sl_acno_name}}</label>
                                    </td>
                                    <td>
                                        <label id="Label9">{{j.pb_our_doc_no}}</label>
                                    </td>
                                    <td>
                                        <label id="Label15">{{j.pb_cheque_no}}</label>
                                    </td>

                                    <td>
                                        <label id="Label10">{{j.pb_due_date}}</label>
                                    </td>
                                    <td>
                                        <label id="Label17">{{j.pb_amount}}</label>
                                    </td>

                                    <td class="foo_input">
                                        <label id="">{{j.pb_bank_from}}</label>
                                    </td>
                                    <td class="foo_input">
                                        <label id="Label16">{{j.pb_discd}}</label>
                                    </td>
                                    <td class="foo_input">
                                        <label id="Label21">{{j.pb_sl_ldgr_code}}</label>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--   <div class="row">
                    <div class="col-md-12">
                        <div class="row form-row">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                    scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                    paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                    ng-click="index(currentPage)">
                                </paging>
                            </div>
                        </div>
                    </div>
                </div>-->

                <div class="form-actions">

                    <div class="pull-right">
                        <div>
                            <label id="totalamount" class="pull-right">{{"Total="| translate }}{{total}}</label>
                        </div>
                        <button type="button" id="desigsub" ng-click="Submit();" class="btn btn-primary btn-cons">{{"Submit" | translate }}</button>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>






<style>
    .foo_input {
        display: none;
    }
</style>

<script src="assets/js/calender-datepicker-id.js"></script>
