﻿<link href="assets/plugins/Minovate/Main.css" rel="stylesheet" />
<style>
    .k-textbox .k-icon {
        top: 50%;
        margin: -9px -9px 0;
        position: absolute;
    }

    .k-input {
        padding: 0em;
        margin-top: 0px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"PDC Realised"| translate }}</span> </h3>
            </div>

            <div class="grid-title no-border">
            </div>

            <div ng-show="table">
                <div class="raw">
                    <div class="paddingcode grid-body bluegrd" style="border: 1px solid #dddddd;">

                        <div class="col-md-12" style="margin-bottom: 10px">
                            <div class="row">

                                <!--From DATE-->
                                <div class="col-md-3">
                                    <!--<label class="semi-bold" for="StartDate">{{"From Date"| translate }}</label>-->
                                    <div class="">
                                        <input type="text" style="width: 100%" id="cmb_Start_date" placeholder="From Date" name="creation_date" class="k-textbox input-sm" ng-model="block1.from_date">

                                    </div>
                                </div>

                                <!--To Date-->
                                <div class="col-md-3">
                                    <!--<label class="semi-bold" for="EndDate">{{"To Date"| translate }}</label>-->
                                    <div class="
                                 ">
                                        <input type="text" id="cmb_END_date" style="width: 100%" placeholder="To Date" name="creation_date" class="k-textbox input-sm" ng-model="block1.to_date">

                                    </div>
                                </div>

                                <!--Department Number-->
                                <!--<div class="col-md-3">-->
                                <!--<label id="Label12" for="txt_Country_Code" class="form-label">{{"Department Number" | translate }}</label>-->
                                <!--<select id="cmb_Status" data-role="dropdownlist" class="form-control" ng-disabled="cmbstatus"
                                        ng-model="block1.dept_code"
                                        ng-options="doc.dept_code as doc.dept_name for doc in Department" name="sims_goal" required>
                                        <option value="">Select Department</option>
                                    </select>
                                </div>-->
                                <!--Select Bank Name-->
                                <div class="col-md-3">
                                    <!--<label id="Label12" for="txt_Country_Code" class="form-label">{{"Select Bank Name" | translate }}</label>-->
                                    <select id="Select2" data-role="dropdownlist" class="form-control" ng-disabled="cmbstatus"
                                            ng-model="block1.bank_code"
                                            ng-options="doc.bank_code as doc.bank_name for doc in bank_name" name="sims_goal" required>
                                        <option value="">Select Bank</option>
                                    </select>
                                </div>

                                <div class="col-md-3">
                                    <!--<label class="semi-bold" for="EndDate">{{"To Date"| translate }}</label>-->
                                    <div>
                                        <input style="width:100%" id="clearance_Date" placeholder="Clearance Date" name="creation_date" class="k-textbox input-sm" ng-model="block1.pdc_clearance_date" ng-change="check_post_date()">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" style="margin-bottom: 10px">
                            <div class="row">

                                <!--Ledger Code-->
                                <div class="col-md-2">
                                    <!--<label id="Label12" for="txt_Country_Code" class="form-label">{{"Ledger Code" | translate }}</label>-->
                                    <select id="Select1" data-role="dropdownlist" class="form-control" ng-disabled="cmbstatus" name="ldgr"
                                            ng-model="block1.gldd_ledger_code"
                                            ng-options="lcode.sllc_ldgr_code as lcode.sllc_ldgr_name for lcode in LdgrCode" ng-change="getSLAccNo()">
                                        <option value="">Please Select ledger</option>
                                    </select>
                                </div>

                                <!--Account Number-->
                                <div class="col-md-3">
                                    <!--<label id="Label12" for="txt_Country_Code" class="form-label">{{"Account Number" | translate }}</label>-->
                                    <!--  <select id="Select3" data-role="dropdownlist" class="form-control" ng-disabled="cmbstatus"
                                          ng-model="block1.gldd_acct_code"
                                          ng-options="AccountCode.gldd_acct_code as AccountCode.gldd_acct_name for AccountCode in getAllAccNos" name="AccountCode">
                                          <option value="">Please Select Account</option>
                                      </select>-->

                                    <select id="account_codes11" style="width:100%" ng-model="block1.gldd_acct_code" ng-disabled="cmbstatus" name="AccountCode">
                                        <option value="">Please Select Account</option>
                                        <option ng-repeat="i in getAllAccNos" ng-if="i.gldd_acct_code.length"
                                                value="{{i.gldd_acct_code}}">
                                            {{i.gldd_acct_name}}
                                        </option>
                                    </select>



                                </div>

                                <!--Select Option-->
                                <div class="col-md-2">
                                    <!--<label id="Label12" for="user" class="semi-bold">{{"Select Option"| translate }}</label>-->
                                    <select id="Select4" data-role="dropdownlist" class="form-control" name="SelectOption" ng-model="edt.SelectOption" ng-change="ShowFilterText(edt.SelectOption)">
                                        <option value="">Clear</option>
                                        <option value="Select Records">Select Records</option>
                                        <option value="Cheque Amount between">Cheque Amount between</option>
                                        <option value="Cheque Series between">Cheque Series between</option>
                                        <option value="Parent ID">Parent ID</option>
                                    </select>
                                </div>
                                <div class="col-md-2" ng-show="filterVisible">

                                    <input type="text" name="txt_filter_range" id="sd_desc" class="k-textbox" style="width:100%;" ng-model="edt.txt_filter_range" ng-keypress="($event.charCode==13)?FilterCode($event):return" />
                                </div>
                                <div class="col-md-3" ng-show="filterVisible">
                                    <div class="col-md-12">
                                        <!--<label id="Label16" for="txt_full_name" class="semi-bold">{{"Clear Previous"| translate}}</label>-->
                                        <div class="col-md-12 checkbox check-success">
                                            <input id="chk_previous_clear" type="checkbox" class="k-checkbox" name="chk_previous_clear" ng-model="temp.chk_previous_clear" checked>
                                            <label for="chk_previous_clear">{{"Clear Previous"|translate}}</label>

                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="radio radio-success">
                                        <input id="Radio1" type="radio" name="payment_mode" class="k-radio" value="cheque" ng-model="block1.cheque">
                                        <label for="Radio1">{{"Cheque"|translate}}</label>
                                        <input id="Radio2" type="radio" name="payment_mode" class="k-radio" value="ddraft" ng-model="block1.cheque">
                                        <label for="Radio2">{{"Demand Draft"|translate}}</label>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <input type="text" name="txt_sub_no" id="sub_no" placeholder="Submission No" class="k-textbox" style="width:100%;" ng-model="block1.submission_no" ng-keypress="($event.charCode==13)?FilterCode($event):return" />
                                </div>

                                <div class="col-md-2">
                                    <button type="submit" id="save" ng-show="save_btn" ng-click="getViewDetails()" class="btn btn-primary btn-cons">{{"View Details" | translate }}</button>
                                </div>

                                <div class="col-md-3">
                                    <div class="pull-right">
                                        <span class="k-textbox k-space-right">
                                            <input type="text" aria-controls="example" ng-model="searchText.$" placeholder="Search" class="k-textbox input-sm" autofocus="autofocus" tabindex="1">
                                            <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline" ng-show="Maintabledata">
                    <div class="raw">
                        <div class="paddingcode grid-body no-border" style="background-color:white;">
                            <div style="width: 100%; height: 400px; overflow-x: auto; overflow-y: auto; margin-top: 7px;">
                                <table class="table table-bordered table-condensed" id="fixTable" border="0">
                                    <thead>
                                        <tr>
                                            <!--<th class="finance_display"  style="z-index: 1">
                                                <div class="checkbox check-success">
                                                    <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                                    <label for="mainchk"></label>
                                                </div>
                                            </th>-->
                                            <th class="finance_display"><i class="fa fa-sort-numeric-asc"></i>{{" No."| translate }}</th>
                                            <th class="finance_display"><i class="fa fa-sort-bank"></i>{{" Bank" | translate }}</th>
                                            <th class="finance_display"><i class="fa fa-sort-numeric-asc"></i>{{" Dept No." | translate }}</th>
                                            <th class="finance_display" style="width: 120px !important"><i class="fa fa-align-justify"></i>{{" Ledger"| translate }}</th>
                                            <th ng-show="false" class="finance_display"><i class="fa fa-sort-numeric-asc"></i>{{" Account No." | translate }}</th>
                                            <th ng-show="false" class="finance_display"><i class="fa fa-user"></i>{{" Account Name" | translate }}</th>
                                            <th class="finance_display"><i class="fa fa-sort-numeric-asc"></i>{{"Parent ID." | translate }}</th>
                                            <th class="finance_display"><i class="fa fa-sort-numeric-asc"></i>{{"Parent Name" | translate }}</th>
                                            <th class="finance_display"><i class="fa fa-sort-numeric-asc"></i>{{" Doc No." | translate }}</th>
                                            <th class="finance_display"><i class="fa fa-sort-numeric-asc"></i>{{" Cheque No." | translate }}</th>
                                            <th class="finance_display" style="width: 100px !important"><i class="fa fa-calendar"></i>{{" Date" | translate }}</th>
                                            <th class="finance_display"><i class="fa fa-money"></i>{{" Amount" | translate }}</th>
                                            <th class="finance_display"><i></i>{{"Clearance Bank" | translate }}</th>
                                            <!--<th class="finance_display"><i></i>{{" Clearance Date" | translate}}</th>-->
                                            <th class="finance_display"><i></i>{{" Remark" | translate }}</th>
                                            <th class="finance_display" style="z-index: 1">
                                                <div class="checkbox check-success">
                                                    <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                                    <label for="mainchk"></label>
                                                </div>
                                                <!-- <label><b>{{"Select Cheque" | translate }}</b></label>-->
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="j in pdcSubmissionList | filter:searchText:strict">
                                            <!-- <td>
                                                <div class="row-fluid">
                                                    <div class="checkbox check-success" style="height: 20px">
                                                        <input id="{{j.ps_cheque_no}}" type="checkbox" value="1" ng-click="checkonebyonedelete()">
                                                        <label for="{{j.ps_cheque_no}}"></label>
                                                    </div>
                                                </div>
                                            </td>-->
                                            <td>{{$index+1}}</td>
                                            <td>{{j.ps_bank_code_name}}</td>
                                            <td>{{j.pc_dept_no}}</td>
                                            <td>{{j.sllc_ldgr_name}}</td>
                                            <td ng-show="false">{{j.ps_sl_acno}}</td>
                                            <td ng-show="false">{{j.ps_sl_acno_name}}</td>
                                            <td>{{j.pc_parent_number}}</td>
                                            <td>{{j.pc_father_full_name}}</td>
                                            <td>{{j.pc_our_doc_no}}</td>
                                            <td>{{j.ps_cheque_no}}</td>
                                            <td>{{j.ps_due_date}}</td>
                                            <td>{{j.ps_amount| currency:'':3}}</td>
                                            <td>
                                                <select id="Select2" data-role="dropdownlist" class="form-control" ng-disabled="cmbstatus"
                                                        ng-model="j.pc_bank_from"
                                                        ng-options="doc.bank_code as doc.bank_name for doc in bank_name" name="sims_goal" required>
                                                    <option value="">Select Bank</option>
                                                </select>
                                            </td>
                                            <!--<td>
                                                <div>
                                                    <input style="width:100%" id="{{j.ps_sl_acno}}{{$index}}" placeholder="Clearance Date" name="creation_date" class="k-textbox input-sm" ng-model="j.pdc_clearance_date" ng-change="check_post_date(j.pdc_clearance_date)">
                                                </div>
                                            </td>-->
                                            <td>
                                                <input type="text" name="txt_sub_no" id="Text1" placeholder="Please Enter Remark" class="k-textbox" style="width: 100%" ng-model="j.pc_narrative" />
                                            </td>
                                            <td>
                                                <div class="checkbox check-success">
                                                    <input id="{{J.pc_dept_no}}+{{$index}}" class="k-checkbox" value="1" type="checkbox" ng-click="selectonebyone(j.ps_cheque_no_check,j.ps_amount);check_bank_date(j)" ng-model="j.ps_cheque_no_check">
                                                    <label for="{{J.pc_dept_no}}+{{$index}}"></label>
                                                </div>
                                            </td>



                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-2">
                                    <div class="pull-right">
                                        <br />
                                        <label id="Label6"><b>{{"Total" | translate }}={{total}}</b></label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="pull-right">
                                        <br />
                                        <label id="Label1"><b>{{"Selected Total" | translate }}={{subtotal}}</b></label>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="pull-right">
                                        <br />
                                        <button type="submit" id="desigsub" ng-click="savedata();" ng-show="save_btn" class="btn btn-primary btn-cons">{{"Save" | translate }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="loader">
    <div class="modal-dialog" id="top">
        <div class="modal-content">
            <div class="box1" style="position: fixed; margin-top: 50%; left: 50%;">
                <img src="assets/img/loading_transparent_.gif">
                <!--<img src="assets/theme/img/loading.gif" />-->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<script src="assets/js/tabs_accordian.js"></script>
<script src="assets/js/tableHeadFixer.js"></script>

<script src="assets/js/calender-datepicker-id.js"></script>
