﻿<div class="loading-middle" ng-hide="display">
    <img src="loading.gif" />
</div>


<div class="grid simple">
    <div class="page-title">
        <h3><span class="semi-bold">{{"Petty Cash" | translate }} {{jvtitle}} </span></h3>
    </div>

    <div class="grid-body no-border" ng-show="vis.main">

        <div class="col-md-12">
            &nbsp;
            &nbsp;
            <div class="col-md-3">
                <button class="btn btn-primary btn-cons" ng-disabled="verifybtn" type="submit" ng-click="Verify()">{{"Verify"| translate }}</button>
            </div>
            &nbsp;
            <div class="col-md-3">
                <button class="btn btn-primary btn-cons" ng-disabled="authorizebtn" type="submit" ng-click="Authorize()">{{"Authorize"| translate }}</button>
            </div>
        </div>

    </div>



    <div ng-hide="vis.main">
    
        <div ng-show="vis.verify">

            <div class="grid-body no-border" style="background-color:transparent;padding:0px;">
                <div class="col-md-12 bluegrid" style="margin-bottom:6px;">
                    <div class="row ">

                        <div class="col-md-1">
                            <label id="Label31" for="user" class="semi-bold">&nbsp;</label>

                            <button class="btn btn-primary btn-cons" type="button" ng-click="back()">{{"BACK"| translate }}</button>
                        </div>
                        <div class="col-md-3">
                            <label id="Label32" for="user" class="semi-bold">&nbsp;</label>

                            <input placeholder="Search" class="form-control input-sm" ng-model="searchText_vry.$" />
                        </div>
                        <div class="col-md-2">&nbsp;</div>
                        <div class="col-md-2">
                            <label id="Label10" for="user" class="semi-bold">{{"Select Option"| translate }}</label>
                            <select id="Select4" class="k-textbox" data-role="dropdownlist" class="k-textbox" name="SelectOption" ng-model="edt.SelectOption" ng-change="ShowFilterText(edt.SelectOption)">
                                <option value="">Clear</option>
                                <option value="Select Verify Records">Select Verify Records</option>
                                <option value="Select Revert Records">Select Revert Records</option>
                            </select>
                        </div>
                        <div class="col-md-2" ng-show="filterVisible">
                            <label id="Label16" for="txt_full_name" class="semi-bold">&nbsp;</label>
                            <input type="text" class="k-textbox" name="txt_filter_range" id="sd_desc" class="form-control input-sm" ng-model="edt.txt_filter_range" ng-keypress="($event.charCode==13)?FilterCode($event):return" />
                        </div>
                        <div class="col-md-2" ng-show="filterVisible">
                            <div class="col-md-12">
                                <label id="Label27" for="txt_full_name" class="semi-bold">Clear Previous</label>
                                <div class="col-md-12 checkbox check-success" style="padding-top: 8px; padding-left: -5px !important;">
                                    <input id="chk_previous_clear" type="checkbox" class="k-checkbox" name="chk_previous_clear" ng-model="block1.chk_previous_clear" checked>
                                    <label for="chk_previous_clear"></label>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal content-->

                
                <div class="grid-body no-border" style="background-color:transparent;">


                    <div id="example_wrapper" class="dataTables_wrapper form-inline" style="margin-left:-16px;">
                        <div style="width: 100%; height: 300px; overflow-x: auto; overflow-y: auto">
                            <table class="table table-bordered table-condensed" id="fixTable" border="0">
                                <thead style="background-color: #edefef !important;">
                                    <tr>
                                        <th><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"No"| translate }}</th>
                                        <th><i class="fa fa-align-justify"></i>&nbsp;{{"Comp"| translate }}</th>
                                        <th><i class="fa fa-dashboard"></i>&nbsp;{{"Doc Code"| translate }}</th>
                                        <th><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Prov No"| translate }}</th>
                                        <th><i class="fa fa-money"></i>&nbsp;{{"AMOUNT"| translate }}</th>
                                        <th style="width:100px"><i class="fa fa-calendar"></i>&nbsp;{{"DOC DATE"| translate }}</th>
                                        <th style="width:100px"><i class="fa fa-calendar"></i>&nbsp;{{"POST DATE"| translate }}</th>
                                        <th><i class="fa fa-align-justify"></i>&nbsp;{{"NARRATION"| translate }}</th>
                                        <th><i class="fa fa-bookmark"></i>&nbsp;{{"REMARK"| translate }}</th>
                                        <th style="z-index: 1">
                                            {{"Verify"| translate }}
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" name="veri-{{$index}}" class="k-checkbox" ng-model="v_data.gltd_verify1" ng-click="chk_click_verifyAll(v_data.gltd_verify1)" value="1" id="veri-{{$index}}" />
                                                <label for="veri-{{$index}}"></label>
                                            </div>
                                        </th>
                                        <th style="z-index: 1">
                                            {{"Revert"| translate }}
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" name="revt-{{$index}}" class="k-checkbox" ng-model="v_data.gltd_revert1" ng-click="chk_click_revertAll(v_data.gltd_revert1)" value="1" id="revt-{{$index}}" />
                                                <label for="revt-{{$index}}"></label>
                                            </div>

                                        </th>


                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="v_data in verify_data |filter:searchText_vry:strict" ng-dblclick="Fetchdata(v_data.gltd_comp_code,v_data.gltd_doc_code,v_data.gltd_prov_doc_no)">
                                        <!--<td><button type="button" ng-click="Delete()">{{"Delete"| translate }}</button></td>-->
                                        <td>{{$index+1}}</td>
                                        <td>{{v_data.gltd_comp_code}}</td>
                                        <td>{{v_data.gldc_doc_short_name}}</td>
                                        <td>{{v_data.gltd_prov_doc_no}}</td>
                                        <td>{{v_data.gldd_doc_amount}}</td>
                                        <td>{{v_data.gltd_doc_date}}</td>
                                        <td>{{v_data.gltd_post_date}}</td>
                                        <td>{{v_data.gltd_doc_narr}}</td>
                                        <td>{{v_data.gltd_remarks}}</td>
                                        <td>
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" name="{{$index}}" class="k-checkbox" ng-model="v_data.gltd_verify" ng-click="chk_click_ver(v_data)" value="1" id="{{$index}}" />
                                                <label for="{{$index}}"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" name="rev-{{$index}}" class="k-checkbox" ng-model="v_data.gltd_revert" ng-click="chk_click_rev(v_data)" value="1" id="rev-{{$index}}" />
                                                <label for="rev-{{$index}}"></label>
                                            </div>
                                        </td>

                                    </tr>
                                </tbody>

                            </table>

                            <!--</div>
                                                    </div>-->

                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">

                            <label id="label28" class="form-label">&nbsp;</label>
                            <button class="btn btn-primary btn-cons" style="float:right;background-color: #FF6600 !important;" type="button" ng-click="Verify_data()">{{"Verify"| translate }}</button>
                            <!-- <button class="btn btn-primary btn-cons"style="background-color: #FF6600 !important;" type="button" ng-show="checkprintbtn" ng-click="CheckPrintReport()">{{"Print"| translate }}</button>-->
                        </div>
                    </div>

                </div>

            </div>
        </div>


        <div ng-show="vis.Autorize">

            <div class="grid-body no-border" style="background-color:transparent;padding:0px;">
                <div class="col-md-12 bluegrid" style="margin-bottom:6px;">
                    <div class="row ">

                        <div class="col-md-1">
                            <label id="Label33" for="user" class="semi-bold">&nbsp;</label>

                            <button class="btn btn-primary btn-cons" type="button" ng-click="back()">{{"BACK"| translate }}</button>
                        </div>
                        <div class="col-md-3">
                            <label id="Label34" for="user1" class="semi-bold">&nbsp;</label>

                            <input placeholder="Search" class="form-control input-sm" ng-model="searchText.$" />
                        </div>
                        <div class="col-md-2">&nbsp;</div>
                        <div class="col-md-2">
                            <label id="Label29" class="semi-bold">{{"Select Option"| translate }}</label>
                            <select id="Select5" data-role="dropdownlist" class="k-textbox" name="SelectOption_aut" ng-model="edt.SelectOption_aut" ng-change="ShowFilterText_Aut(edt.SelectOption_aut)">
                                <option value="">Clear</option>
                                <option value="Select Authorize Records">Select Authorize Records</option>
                                <option value="Select Revert Records">Select Revert Records</option>
                            </select>
                        </div>
                        <div class="col-md-2" ng-show="filterVisible_aut">
                            <label id="Label30" class="semi-bold">&nbsp;</label>
                            <input type="text" name="txt_filter_range_aut" id="Text1" class="k-textbox" ng-model="edt.txt_filter_range_aut" ng-keypress="($event.charCode==13)?FilterCode_aut($event):return" />


                        </div>
                        <div class="col-md-2" ng-show="filterVisible_aut">
                            <div class="col-md-12">
                                <label id="Label35" for="txt_full_name" class="semi-bold">Clear Previous</label>
                                <div class="col-md-12 checkbox check-success" style="padding-top: 8px; padding-left: -5px !important;">
                                    <input id="chk_previous_clear_aut" type="checkbox" class="k-checkbox" name="chk_previous_clear_aut" ng-model="block1.chk_previous_clear_aut" checked>
                                    <label for="chk_previous_clear_aut"></label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Modal content-->

               

                <div class="grid-body no-border" style="background-color:transparent;">

                    <div id="Div2" class="dataTables_wrapper form-inline">
                        <div style="width: 100%; height: 300px; overflow-x: auto; overflow-y: auto;margin-left:-13px;">
                            <table class="table table-bordered table-condensed" id="fixTable1" border="0">
                                <thead style="background-color: #edefef !important;">
                                    <tr style="z-index: 1">
                                        <th><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"No"| translate }}</th>
                                        <!--<th>{{"COMP"| translate }}</th>-->
                                        <th><i class="fa fa-dashboard"></i>&nbsp;{{"Doc Code"| translate }}</th>
                                        <th><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Prov No"| translate }}</th>
                                        <th><i class="fa fa-moneyc"></i>&nbsp;{{"Amount"| translate }}</th>
                                        <th style="width:100px"><i class="fa fa-calendar"></i>&nbsp;{{"Doc Date"| translate }}</th>
                                        <th style="width:100px"><i class="fa fa-calendar"></i>&nbsp;{{"Post Date"| translate }}</th>
                                        <th><i class="fa fa-align-justify"></i>&nbsp;{{"Narration"| translate }}</th>
                                        <th><i class="fa fa-bookmark"></i>&nbsp;{{"Remark"| translate }}</th>
                                        <th style="z-index: 1">
                                            {{"Authorize"| translate }}
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" name="auto-{{$index}}" class="k-checkbox" ng-model="A_data.gltd_authorize1" ng-click="chk_clickAll(A_data.gltd_authorize1)" value="1" id="auto-{{$index}}" />
                                                <label for="auto-{{$index}}"></label>
                                            </div>
                                        </th>
                                        <th style="z-index: 1">
                                            {{"Revert"| translate }}
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" name="all_very-{{$index}}" class="k-checkbox" ng-model="A_data.gltd_very1" ng-click="very_chk_clickAll(A_data.gltd_very1)" value="1" id="all_very-{{$index}}" />
                                                <label for="all_very-{{$index}}"></label>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="A_data in Authorize_data |filter:searchText:strict" ng-dblclick="Fetchdata(A_data.gltd_comp_code,A_data.gltd_doc_code,A_data.gltd_prov_doc_no)">
                                        <td>{{$index+1}}</td>
                                        <!-- <td>{{A_data.gltd_comp_code}}</td>-->
                                        <td>{{A_data.gldc_doc_short_name}}</td>
                                        <td>{{A_data.gltd_prov_doc_no}}</td>
                                        <td>{{A_data.gldd_doc_amount}}</td>
                                        <td>{{A_data.gltd_doc_date}}</td>
                                        <td>{{A_data.gltd_post_date}}</td>
                                        <td>{{A_data.gltd_doc_narr}}</td>
                                        <td>{{A_data.gltd_remarks}}</td>
                                        <td>


                                            <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" name="aut-{{$index}}" class="k-checkbox" ng-model="A_data.gltd_authorize" ng-click="chk_click_aut(A_data)" value="1" id="aut-{{$index}}" />
                                                <label for="aut-{{$index}}"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" name="aut1-{{$index}}" class="k-checkbox" ng-model="A_data.gltd_verify" ng-click="chk_click_very(A_data)" value="1" id="aut1-{{$index}}" />
                                                <label for="aut1-{{$index}}"></label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>

                            <!--</div>
                                                </div>-->

                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-3 pull-right">
                                <label id="label36" class="form-label">&nbsp;</label>
                                <button class="btn btn-primary btn-cons" style="background-color: #FF6600 !important;float:right;" type="submit" ng-click="Authorize_click()">{{"Approve"| translate }}</button>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<!-- POP UP Window -->


<div class="modal fade in" id="myModal4" ng-style="style" tabindex="-1">
    <div class="modal-dialog" id="jv_Voucher" style="height:600px;width:900px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="semi-bold pull-left">Voucher Details ({{temp_doc.gldc_doc_short_name}}-{{temp_doc.gltd_prov_doc_no}})</h5>
                <button type="button" ng-hide="windowflg" ng-click="maxmize()" class="btn btn-white btn-xs btn-mini " style="float: right;border: none;"><i class="fa  fa-square-o"></i> </button>
                <button type="button"  ng-show="windowflg" ng-click="manimize()"  class="btn btn-white btn-xs btn-mini " style="float: right;border: none;"><i class="fa fa-clone"></i> </button>

                <br />
            </div>
            <div class="grid-body no-border" ng-show="operation">

                <div class="col-md-12">
                    <div class="row ">

                        <div class="col-md-2">
                            <label id="Label37" class="form-label">{{"Doc Code"| translate }}</label>
                            <input type="text" id="Text10" ng-model="temp_doc.gldc_doc_short_name" class="k-textbox" name="DocCode_jv1" ng-disabled="true" />

                        </div>

                        <div class="col-md-2">
                            <label id="Label38" for="txt_Doc_Date" class="form-label">{{"Doc Date"| translate }}</label>
                            <div class="input-append success date no-padding" data-datepicker="true">
                                <input type="text" id="Text3" name="DocDate" class="k-textbox" ng-model="temp_doc.gltd_doc_date" ng-disabled="true">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <label id="Label39" for="txt_postdate" class="form-label">{{"Post Date"| translate }}</label>
                            <input type="text" id="Text5" name="PostDate" class="k-textbox" ng-model="temp_doc.gltd_post_date" ng-disabled="true">
                            <!--<div class="input-append success date md-4 no-padding" data-datepicker="true" style="z-index: 1">

                                <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                            </div>-->
                        </div>

                        <div class="col-md-5" style="margin-left:30px">
                            <label id="label40" class="form-label">{{"Doc Remark"| translate}}</label>
                            <input type="text" id="Text6" ng-model="temp_doc.gltd_remarks" class="k-textbox" name="docRemark" ng-disabled="true" />
                        </div>

                  

                    <div class="row">
                        <div class="col-md-12">
                            <label id="label41" class="form-label">{{"Doc Narration"| translate}}</label>
                            <input type="text" id="Text7" ng-model="temp_doc.gltd_doc_narr" class="k-textbox" name="docNarration" ng-disabled="true" />
                        </div>
                    </div>

                </div>

                <div ng-show="vis.doc_detail_grid">
                    <div>
                        <div class="col-md-12">
                            <hr style="border: 2px solid; color: #735f87; background-color: #735f87;">
                        </div>
                        <div id="Div4" class="dataTables_wrapper form-inline">
                            <div style="width: 100%; height: 250px; overflow-x: auto; overflow-y: auto">
                                <table class="table table-bordered table-condensed" id="Table2">
                                    <thead>
                                        <tr>
                                            <!--   <th class="finance_display">{{"COMP"| translate }}</th>-->
                                            <th class="finance_display">{{"LDGER CODE"| translate }}</th>
                                            <th class="finance_display">{{"ACCT CODE"| translate }}</th>
                                            <th class="finance_display">{{"ACCT NAME"| translate }}</th>
                                            <th class="finance_display" ng-show="cost">{{"COST CENTER"| translate }}</th>
                                            <th class="finance_display">{{"PTY REF NO"| translate }}</th>
                                            <th class="finance_display">{{"DEPT"| translate }}</th>
                                            <th class="finance_display">{{"PTY REF DATE"| translate }}</th>
                                            <th class="finance_display">{{"DOC NARRATION"| translate }}</th>
                                            <th class="finance_display">{{"DEBIT"| translate }}</th>
                                            <th class="finance_display">{{"CREDIT"| translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="JVCreate in prdocdata">
                                            <!-- <td>{{JVCreate.gldd_comp_code}}</td>-->
                                            <td>{{JVCreate.gldd_ledger_code}}</td>
                                            <td>{{JVCreate.gldd_acct_code}}</td>
                                            <td>{{JVCreate.gldd_acct_name}}</td>
                                            <td ng-show="cost">{{JVCreate.coce_cost_centre_name}}</td>
                                            <td>{{JVCreate.gldd_party_ref_no}}</td>
                                            <td>{{JVCreate.gldd_dept_code}}</td>
                                            <td>{{JVCreate.ptyref_date}}</td>
                                            <td>{{JVCreate.gldd_doc_narr}}</td>
                                            <td>{{JVCreate.gldd_doc_amount_debit}}</td>
                                            <td>{{JVCreate.gldd_doc_amount_credit}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">

                        <div class="col-md-4">

                            <label id="label42" class="form-label">{{"Provision No: " | translate}}&nbsp;{{temp_doc.gltd_prov_doc_no}}</label>

                        </div>

                        <div class="col-md-3">
                            <label id="label50">{{"Debit Total: " | translate}}<span class="semi-bold">{{totalDebit}}</span></label>
                        </div>

                        <div class="col-md-3">
                            <label id="label51">{{"Credit Total: " |translate}}<span class="semi-bold">{{totalcredit}}</span></label>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary btn-cons" type="button" ng-click="CheckPrintReport()">{{"Print"| translate }}</button>
                        </div>

                    </div>
                    <div class="col-md-12" ng-show="vis.user_vry">

                        <div class="col-md-5">

                            <label id="label43" class="form-label">{{"Verified User: " | translate}}&nbsp;{{temp_doc.gldu_verify}}</label>

                        </div>
                        <div class="col-md-5">
                            <label id="label44">{{"Verified Date: " |translate}}<span class="semi-bold">{{temp_doc.gltd_verify_date}}</span></label>
                        </div>

                    </div>

                    <div class="col-md-12" ng-show="vis.user_aut">
                        <div class="col-md-4">
                            <label id="label48">{{"Authorize User: " | translate}}<span class="semi-bold">{{temp_doc.gldu_authorize}}</span></label>
                        </div>


                        <div class="col-md-3">
                            <label id="label49">{{"Authorize Date: " |translate}}<span class="semi-bold">{{temp_doc.gltd_authorize_date}}</span></label>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
        </div>
</div>





<style>
    .inputtype {
        text-align: right;
    }
</style>
<script src="assets/plugins/modal_updated.js"></script>
