﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Petty Cash"| translate }}</span>{{"Approve"| translate }} </h3>
            </div>

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="k-textbox"

                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="k-textbox"

                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="k-textbox"

                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="k-textbox"

                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="k-textbox"

                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="k-textbox"

                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="k-textbox"

                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="grid-body no-border table_padding">
            <div ng-show="table">
                <div class="row">

                    <div class="col-md-6">
                        <select id="Select1" style="width: 60px" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="10" class=" form-control input-sm">
                                10
                            </option>

                            <option value="20" class=" form-control input-sm">
                                20
                            </option>

                            <option value="All" class=" form-control input-sm">
                                All
                            </option>
                        </select>
                       </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                                <span class="k-textbox k-space-right full-width">
                                    <!--<input type="text" aria-controls="example" ng-model="search.$" class="input-medium"></label>-->
                                    <input aria-controls="example" ng-model="searchText" class="k-textbox" placeholder="Search" autofocus="autofocus" type="search" ng-change="search()">
                                <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div class="row">
                        <div class="col-md-12">
                        <table class="table table-bordered table-hover table-condensed" id="fixTable">
                            <thead>
                                <tr style="background-color: #edefef">
                                    <th class="small-cell v-align-middle" style="z-index:1">
                                        <!--<div class="checkbox check-success">
                                            <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                            <label for="mainchk"></label>
                                        </div>-->
                                        <label><i class="fa fa-check"></i>&nbsp;<b>{{"Approve" | translate }}</b></label>
                                    </th>
                                    <th class="semi-bold">
                                        <label><i class="fa fa-bookmark"></i>&nbsp;<b>{{"Status" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><i class="fa fa-sort-numeric-asc"></i>&nbsp;<b>{{"Number" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><i class="fa fa-calendar"></i>&nbsp;<b>{{"Year" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><i class="fa fa-pencil-square-o"></i>&nbsp;<b>{{"Department"| translate }}</a></b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><i class="fa fa-dashboard"></i>&nbsp;<b>{{"Account"| translate }}</a></b></label>
                                    </th>
                                    <th class="semi-bold">
                                        <label><i class="fa fa-sort-numeric-asc"></i>&nbsp;<b>{{"Max Limit" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><i class="fa fa-sort-numeric-asc"></i>&nbsp;<b>{{"Min Limit" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><i class="fa fa-sort-numeric-asc"></i>&nbsp;<b>{{"Max Limit Per Transaction" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><i class="fa fa-money"></i>&nbsp;<b>{{"Current Balance" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><i class="fa fa-calendar"></i>&nbsp;<b>{{"Creation Date" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><i class="fa fa-user"></i>&nbsp;<b>{{"Creation User" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><i class="fa fa-calendar"></i>&nbsp;<b>{{"Authorise Date" | translate }}</b></label>
                                    </th>
                                    <th class="semi-bold">
                                        <label><i class="fa fa-user"></i>&nbsp;<b>{{"Authorise User" | translate }}</b></label>
                                    </th>
                                    <th class="semi-bold">
                                        <label><i class="fa fa-calendar"></i>&nbsp;<b>{{"Current Date" | translate }}</b></label>
                                    </th>
                                    <th class="semi-bold">
                                        <label><i class="fa fa-flag"></i>&nbsp;<b>{{"Cost Center Flag" | translate }}</b></label>
                                    </th>

                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="j in filteredTodos | orderBy:orderByField:reverseSort" ng-class="row1">
                                    <td class="small-cell v-align-middle" style="z-index:1;">
                                        <div class="row-fluid">
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input id="{{$index+j.glpc_number}}" type="checkbox" class="k-checkbox" value="1" ng-model="j.fins_fins_approve_status" ng-click="checkonebyonedelete(j)">
                                                <label for="{{$index+j.glpc_number}}"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td ng-click="showData(j)">
                                        <span ng-if="j.glpc_status==true" class="label label-success">{{"Pending" | translate }}</span>
                                        <span ng-if="j.glpc_status==false" class="label label-important">{{"Aprove" | translate }}</span>
                                    </td>

                                    <td ng-click="showData(j)">
                                        <label id="lbl">{{j.glpc_number}}</label>
                                    </td>
                                    <td ng-click="showData(j)">
                                        <label id="Label1">{{j.glpc_year}}</label>
                                    </td>
                                    <td ng-click="showData(j)">
                                        <label id="Label2">{{j.glpc_dept_no}}</label>
                                    </td>
                                    <td ng-click="showData(j)">
                                        <label id="Label3">{{j.glma_acct_name}}</label>
                                    </td>
                                    <td ng-click="showData(j)">
                                        <label id="Label4">{{j.glpc_max_limit}}</label>
                                    </td>
                                    <td ng-click="showData(j)">
                                        <label id="Label5">{{j.glpc_min_limit}}</label>
                                    </td>

                                    <td ng-click="showData(j)">
                                        <label id="Label6">{{j.glpc_max_limit_per_transaction}}</label>
                                    </td>

                                    <td ng-click="showData(j)">
                                        <label id="Label7">{{j.glpc_curr_balance}}</label>
                                    </td>
                                    <td ng-click="showData(j)">
                                        <label id="Label8">{{j.glpc_creation_date}}</label>
                                    </td>
                                    <td ng-click="showData(j)">
                                        <label id="Label9">{{j.glpc_creation_user}}</label>
                                    </td>
                                    <td ng-click="showData(j)">
                                        <label id="Label10">{{j.glpc_authorize_date}}</label>
                                    </td>
                                    <td ng-click="showData(j)">
                                        <label id="Label11">{{j.glpc_authorize_user}}</label>
                                    </td>

                                    <td ng-click="showData(j)">
                                        <label id="Label12">{{j.glpc_cur_date}}</label>
                                    </td>
                                    <td ng-click="showData(j)">
                                        <span ng-if="j.glpc_cost_center_flag==true" class="label label-success">{{"Active" | translate }}</span>
                                        <span ng-if="j.glpc_cost_center_flag==false" class="label label-important">{{"Inactive" | translate }}</span>

                                    </td>
                                   
                                   
                                </tr>
                            </tbody>
                        </table>
                    </div>
                        </div>
                    <div class="row margin-top-2">
                        <div class="col-md-12">
                    <div class="pull-right">
                        <!--<paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                ng-click="index(currentPage)">
                        </paging>-->
                        <label>&nbsp;</label>
                        <button class="btn btn-primary btn-cons" ng-disabled="approve_btn" ng-click="Approve()">{{"Approve"| translate }}</button>
                    </div>
                            </div>
                        </div>

                </div>

            </div>

            </div>
</div>
    </div>
</div>
            <div class="modal fade in" id="MyModal" role="dialog" style="display: none;">
                <div class="modal-dialog" style="width: 1024px;border:solid;border-width:02px;border-bottom-left-radius:05px;border-bottom-right-radius:05px;border-top-left-radius:05px;border-top-right-radius:05px;border-color:blue">
                    <div class="modal-content">
                        <div class="modal-header ng-scope" style="height: 40px">
                            <div class="pull-left">
                                <h4 class="modal-title custom-font" style="margin-top: -5px"><b>{{"Information" | translate }}</b></h4>
                            </div>
                            <div class="pull-right">
                                <a href="">
                                    <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>
                                </a>
                            </div>

                        </div>

                        <div class="grid-body no-border">
                            <div class="col-md-12" style="padding:2%;">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <!--Petty Cash Number-->
                                <div class="col-md-3" ng-class="{'has-error': !Myform.BankCode.$valid && (Myform.BankCode.$touched || Myform.$submitted) }">
                                    <label id="Label13" for="txt_BankCode" class="form-label"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Petty Cash Number" | translate }}</label>
                                    <input type="text" name="BankCode" id="bankcode" class="k-textbox input-sm full-width" ng-model="temp.glpc_number" readonly />

                                </div>

                                <div class="col-md-3">
                                    <label id="Label14" class="form-label"><i class="fa fa-pencil-square-o"></i>&nbsp;{{"Department Number" | translate }}</label>
                                    <select id="Select2" data-role="dropdownlist"  class="form-control input-sm full-width"

                                            ng-model="temp.codp_dept_no"
                                            ng-options="doc.codp_dept_no as doc.codp_dept_name for doc in Department" name="sims_goal" ng-change="getAccounts(temp.codp_dept_no)" ng-disabled="dept" readonly></select>
                                </div>

                                <!--Account Number-->
                                <div class="col-md-3">
                                    <label class="semi-bold" for="EndDate"><i class="fa fa-dashboard"></i>&nbsp;{{"Account Number"| translate }}</label>
                                    <select id="AccountNo" data-role="dropdownlist"  class="form-control input-sm full-width"

                                            ng-model="temp.glma_acct_code"
                                            ng-options="doc.glma_acct_code as doc.glma_acct_full_name for doc in departments" name="sims_goal" ng-disabled="account" readonly></select>

                                </div>

                                <!--Maximum Limit-->
                                <div class="col-md-3">
                                    <label class="semi-bold" for="EndDate"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Maximum Limit"| translate }}</label>
                                    <input type="text" name="BankCode" id="Text1" class="k-textbox input-sm full-width" ng-model="temp.glpc_max_limit" readonly />
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 form-group">
                                <!--Minimum Limit-->
                                <div class="col-md-3">
                                    <label class="semi-bold" for="EndDate"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Minimum Limit"| translate }}</label>
                                    <input type="text" name="BankCode" id="Text2" class="k-textbox input-sm full-width" ng-blur="max_limit_cal(temp.glpc_max_limit,temp.glpc_min_limit)" ng-model="temp.glpc_min_limit" readonly />
                                </div>

                                <!--Maximum Limit Per Transaction-->
                                <div class="col-md-3">
                                    <label class="semi-bold" for="EndDate"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Minimum Limit Per Transaction"| translate }}</label>
                                    <input type="text" name="BankCode" id="Text3" class="k-textbox input-sm full-width" ng-blur="max_limit_cal1(temp.glpc_max_limit,temp.glpc_max_limit_per_transaction)" ng-model="temp.glpc_max_limit_per_transaction" readonly />
                                </div>

                                <!--Current Balance-->
                                <div class="col-md-3">
                                    <label class="semi-bold" for="EndDate"><i class="fa fa-money"></i>&nbsp;{{"Current Balance"| translate }}</label>
                                    <input type="text" name="BankCode" id="Text4" class="k-textbox input-sm full-width" ng-model="temp.glpc_curr_balance" readonly />
                                </div>

                                <!--Creation Date-->
                                <div class="col-md-3">
                                    <label id="Label47" class="form-label"><i class="fa fa-calendar"></i>&nbsp;{{"Creation Date"| translate }}</label>
                                 <!--   <div class="input-append success date md-4 no-padding"  style="z-index: 1">-->
                                        <input type="text" id="from_date" name="recur_date" ng-disabled="dis_recur_date" class="k-textbox input-sm full-width" ng-model="dt.glpc_creation_date" readonly>
                                       
                                </div>

                            </div>
                        </div>
                        <!--2ND ROW-->
                        <div class="row">
                            <div class="col-md-12 form-group">

                                <!--Creation User-->
                                <div class="col-md-3">
                                    <label class="semi-bold" for="EndDate"><i class="fa fa-user"></i>&nbsp;{{"Creation User"| translate }}</label>
                                    <input type="text" name="Current_user" id="Cur_usr" class="k-textbox input-sm full-width" ng-model="temp.glpc_creation_user" readonly />
                                </div>

                                <!--Current Date-->
                                <div class="col-md-3"> 
                                    <label id="Label15" class="form-label"><i class="fa fa-calendar"></i>&nbsp;{{"Current Date"| translate }}</label>
                                   <!-- <div class="input-append success date md-4 no-padding"  style="z-index: 1">-->
                                        <input type="text" id="start_date" name="recur_date" ng-disabled="dis_recur_date" class="k-textbox input-sm full-width" ng-model="dt.glpc_cur_date" readonly>
                                       
                                </div>

                                <!--Cost Center-->
                                <div class="col-md-2">
                                    <label id="Label16" for="txt_Status" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Cost Center"| translate }}</label>
                                    <div class="checkbox check-success">
                                        <input id="cost_center_ac" type="checkbox" class="k-checkbox" ng-disable="true" ng-model="temp.glpc_cost_center_flag" readonly>
                                        <label for="cost_center_ac"></label>
                                    </div>
                                </div>

                                <div class="col-md-1">
                                    <label id="Label17" for="txt_Status" class="form-label"><i class="fa fa-bookmark"></i>&nbsp;{{"Status"| translate }}</label>
                                    <div class="checkbox check-success">
                                        <input id="status" type="checkbox" class="k-checkbox" ng-disable="true" ng-model="temp.glpc_status" readonly>
                                        <label for="status"></label>
                                    </div>
                                </div>

                            </div>
                        </div>
                            </div>
                            </div>
                    </div>

                </div>
            </div>
        
<script src="assets/js/tableHeadFixer.js"></script>



<script src="assets/js/calender-datepicker-id.js"></script>