﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                class="k-textbox"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                class="k-textbox"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                class="k-textbox"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                class="k-textbox"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                class="k-textbox"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                class="k-textbox"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                class="k-textbox"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="page-title">
                <h3><span class="semi-bold">{{"Print Vouchers"|translate}}</span></h3>
            </div>

            <div class="grid-body no-border">

                <div class="col-md-12">
                    <div class="row form-row">

                        <div class="col-md-3">
                            <div class="col-md-9">
                                <label id="Label1" for="txt_provision_number" class="form-label">
                                    {{"From Date"| translate }}
                                </label>

                                <div class="input-append success date no-padding">
                                    <input type="text" id="frm_date" class="k-textbox" id="fdate" ng-change="showdate(edt.fromdate,'from_date')" ng-model="edt.from_date">
                                    
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label1">
                                    {{"Null"| translate }}
                                </label>
                                <div class="checkbox check-success">
                                    <input type="checkbox" id="chkmarks" class="k-checkbox" ng-model="edt.markupdate" />
                                    <label for="chkmarks"></label>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-3">
                            <label id="Label2" for="txt_provision_number" class="form-label">{{"To Date"| translate }}</label>
                            <div class="input-append success date no-padding" >
                                <input type="text" id="to_date" name="sdate" class="k-textbox" ng-change="createdate(edt.todate,edt.fromdate,'to_date')" ng-model="edt.to_date">
                               
                            </div>
                        </div>

                        <div class="col-md-2">

                            <label id="Label3" for="txt_Doc Code" class="form-label">{{"Search"| translate }}</label>
                            <input type="text" name="searchbyallfield" placeholder="search" class="k-textbox" ng-model="edt.search">
                        </div>

                        <div class="col-md-2">
                            <label id="Label4" for="txt_Doc Code" class="form-label">&nbsp;</label>
                            <button class="btn btn-primary btn-cons" type="button" ng-click="Show()">{{"Search"| translate }}</button>

                        </div>

                        <div class="col-md-2" ng-show="pagggg">
                            <label id="Label5" for="txt_Doc Code" class="form-label">&nbsp;</label>
                            <select id="pagination" style="width: 60px" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                                <option value="5" class="form-control input-sm">5
                                </option>

                                <option value="10" class="form-control input-sm">10
                                </option>

                                <option value="15" class="form-control input-sm">15
                                </option>
                                <option value="All" class="form-control input-sm">All
                                </option>
                            </select>
                        </div>

                    </div>
                </div>

                <div class="grid-body no-border" ng-show="table1" style="padding-top: 0px; padding: 17px!important;">
                    <div class="row">
                        <div class="col-md-12" style="background-color: #FF6600; height: 6px;"></div>

                        <div id="example_wrapper" class="dataTables_wrapper form-inline">
                            <div style="width: 100%; height: 350px; overflow-x: auto; overflow-y: auto">
                                <table class="table table-bordered table-hover table-condensed" id="fixTable">
                                    <thead>
                                        <tr>
                                            <th class="finance_display">{{"Voucher Code"| translate }}</th>
                                            <th class="finance_display">{{"Voucher No"| translate }}</th>
                                            <th class="finance_display">{{"Voucher Date"| translate }}</th>
                                            <th class="finance_display">{{"Account Description"| translate }}</th>
                                            <th class="finance_display">{{"Amount"| translate }}</th>
                                            <!--<th class="finance_display">{{"Status"| translate }}</th>-->
                                            <th class="finance_display">{{"Print Receipt"| translate }}</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr ng-repeat="feereceipt in filteredTodos">
                                            <td>{{feereceipt.gltd_doc_code}}</td>
                                            <td>{{feereceipt.gltd_final_doc_no}}</td>
                                            <td>{{feereceipt.gltd_post_date}}</td>
                                            <td>{{feereceipt.pty_name}}</td>
                                            <td>{{feereceipt.voucher_amt}}</td>
                                            <!--<td>{{feereceipt.Doc_status}}</td>-->
                                            <td><button class="btn btn-success" type="button" ng-click="Report(feereceipt)">{{"Print"| translate}}</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row" ng-show="pager">
                            <div class="col-md-12">
                                <div class="row form-row">
                                    <div class="pull-right">
                                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                            ng-click="index(currentPage)">
                                    </paging>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="displayerror" ng-show="ImageView">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row form-row">
                                        <div>
                                            <p>Sorry There is no Record in this Dates!!!!!!!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<style>
    .displayerror {
        left: 30%;
        font-size: 20px;
        width: 40%;
        color: black;
        text-align: center;
        position: relative;
    }

    .radio, .checkbox {
        margin-bottom: 0;
        margin-top: 15px;
        padding-left: 10px;
    }

    .form-label1 {
        margin-top: 2px;
        margin-left: 7px;
    }
</style>
,

<script>
    $(document).ready(function () {
        $("#to_date").kendoDatePicker();
		$("#frm_date").kendoDatePicker();
       
    });
</script>
