﻿<style>
    .ms-choice {
        height: 26px;
    }
</style>
<div class="row">
    <div class="raw">

        <div class="paddingcode grid-body bluegrd ">

            <div class="col-md-12 ">
                <div class="col-md-12 ">

                    <div class="col-md-2">
                        <label id="Label" for="txt_Nationality_Code" class="form-label">{{"Curriculum"|translate}}<span style="color:red">*</span></label>
                        <select id="cur" data-role="dropdownlist" class="form-control input-sm full-width"
                                ng-model="temp.sims_cur_code" ng-selected="" name="sims_cur_code" ng-change="getAccYear(temp.sims_cur_code)"
                                ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in cur_data" required></select>
                    </div>

                    <div class="col-md-2">
                        <label id="Label" for="txt_Nationality_Code" class="form-label">{{"Academic Year"|translate}}<span style="color:red">*</span></label>
                        <select id="acad" data-role="dropdownlist" class="form-control input-sm full-width" ng-change="getGrade(temp.sims_cur_code,temp.sims_academic_year)"
                                ng-model="temp.sims_academic_year" ng-selected="" name="sims_academic_year"
                                ng-options="cur.sims_academic_year as cur.sims_academic_year_desc for cur in acad_data" required></select>
                    </div>

                    <div class="col-md-2">
                        <label id="Label" for="txt_Nationality_Code" class="form-label">{{"Select User"|translate}}<span style="color:red">*</span></label>
                        <select id="user_box" data-role="dropdownlist" class="form-control input-sm full-width"
                                ng-model="temp.parent_flag" ng-selected="" name="code"
                                ng-options="cur.code as cur.desc for cur in satus" required></select>
                    </div>

                    <div class="col-md-2">
                        <label><i class="fa fa-sitemap"></i>{{"Grade"|translate}}<span class="asterisk" style="color: red">*</span></label>
                        <select id="cmb_grade_code" multiple="multiple" class="form-control input-sm full-width" ng-model="temp.sims_grade_code" ng-change="getSection(temp.sims_cur_code,temp.sims_academic_year,temp.sims_grade_code)">
                            <option ng-repeat="grade in Grade_code|filter:{sims_grade_name:''}" value="{{grade.sims_grade_code}} ">{{grade.sims_grade_name}}</option>
                        </select>
                    </div>

                    <div class="col-md-2">
                        <label><i class="fa-align-justify"></i>{{"Section"|translate}} <span class="asterisk" style="color: red">*</span></label>
                        <select id="cmb_section_code" multiple="multiple" class="form-control input-sm full-width" ng-model="temp.sims_section_code" ng-change="parameter()">
                            <option ng-repeat="section in Section_code|filter:{sims_section_name:''}" value="{{section.sims_section_code}} ">{{section.sims_section_name}}</option>
                        </select>
                    </div>

                    <div class="col-md-2">
                        <label><i class="fa-align-justify"></i>{{"Academic Status"|translate}} <span class="asterisk" style="color: red">*</span></label>
                        <select id="cmb_status" multiple="multiple" class="form-control input-sm full-width" ng-model="temp.sims_appl_parameter">
                            <option ng-repeat="status in acad_status_data|filter:{sims_appl_form_field_value1:''}" value="{{status.sims_appl_parameter}} ">{{status.sims_appl_form_field_value1}}</option>
                        </select>
                    </div>
                    </div>
                <div class="col-md-12 ">
                    <div class="col-md-2">
                        <div class="pull-left">
                            <label id="other_fee" for="txt_full_name" class="form-label">{{"PDC in Hand"| translate }}</label>
                            <div class="checkbox check-success">
                                <input id="chk_term" type="checkbox" value="true" ng-model="temp.pdc_in_hand">
                                <label for="chk_term"></label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="pull-left">
                            <label id="cumfeeflag" for="txt_full_name" class="form-label">{{"PDC Dishonured"| translate }}</label>
                            <div class="checkbox check-success">
                                <input id="chk_term1" type="checkbox" value="true" ng-model="temp.pdc_dishonured">
                                <label for="chk_term1"></label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="pull-right">
                            <label>&nbsp;</label>
                            <button type="button" class="btn btn-primary btn-cons" ng-click="getdetail()">{{"Submit"|translate}}</button>
                            <button class="btn btn-rounded btn-warning btn-cons" type="button" ng-click="reset_data()"><i class="icon-ok"></i>{{"Reset"|translate}}</button>
                            <button type="button" class="btn btn-primary btn-cons" ng-click="exportData()">{{"Excel"|translate}}</button>
                            <button type="button" class="btn btn-primary btn-cons" ng-click="print()">{{"Print"|translate}}</button>
                        </div>
                    </div>
                    </div>
                </div>
        </div>

    </div>

</div>


<div class="col-md-12">
    <div class="raw">
        <div class="paddingcode grid-body no-border" style="background-color:white">
            <div class="col-md-12">
                <div class="col-md-3">
                    <select id="Select1" style="width: 65px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                        <option value="50" class="form-control input-sm">
                            50
                        </option>

                        <option value="100" class="form-control input-sm">
                            100
                        </option>

                        <option value="All" class="form-control input-sm">
                            All
                        </option>
                    </select>
                </div>

                <div class="col-md-5">
                    <div class="center">
                        <div class="row">
                            <div>
                                <h5>
                                    <b>Receivable Ageing Report</b>

                                </h5>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="col-md=4">
                    <div class="pull-right">
                        <span class="k-textbox k-space-right">
                            <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm" autofocus="autofocus" tabindex="1" ng-change="search()">
                            <a href="#" class="k-icon k-i-search">&nbsp;</a>
                        </span>
                    </div>
                </div>

            </div>

            <div id="rpt_data1">
                <div class="col-md-12" ng-if="colsvis">
                    <div class="center">
                        <div class="row">
                            <div>
                                <h4>
                                    {{user_details.lic_school_name}}
                                </h4>
                                <h5>
                                    <b>Receivable Ageing Report</b>

                                </h5>
                            </div>

                        </div>

                    </div>

                </div>
                
                <div class="row" ng-show="busy">
                    <div class="col-md-12">
                        <div class="row form-row">
                            <div class="col-md-5">
                            </div>
                            <div class="col-md-2">
                                <img src="assets/theme/img/loading.gif" />
                            </div>
                            <div class="col-md-5">
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="grid-body no-border" >
                    <div class="row margin-top">
                        <div class="row margin-top">
                            <div class="col-md-12" style="overflow-x:auto">
                                <table class="table table-striped table-flip-scroll cf">
                                    <thead ng-if="!colsvis">
                                        <tr style="" background-color #edefef">
                                            <th rowspan="2"><b>{{"Sr No"|translate}}</b></th>
                                            <th rowspan="2" ng-click="sortBy('sims_sibling_parent_number')"><b>{{"Parent Id"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_sibling_parent_number'" ng-class="{reverse: reverse}"></span></th>
                                            <th rowspan="2" ng-click="sortBy('parent_name')"><b>{{"Parent Name"|translate}}</b><span class="sortorder" ng-show="propertyName === 'parent_name'" ng-class="{reverse: reverse}"></span></th>
                                            <th rowspan="2" ng-show="datashow" ng-click="sortBy('sims_enroll_number')"><b>{{"Student ID "|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_enroll_number'" ng-class="{reverse: reverse}"></span></th>
                                            <th rowspan="2" ng-show="datashow" ng-click="sortBy('student_name')"><b>{{"Student Name"|translate}}</b><span class="sortorder" ng-show="propertyName === 'balance0to1Year'" ng-class="{reverse: reverse}"></span></th>
                                            <th style="text-align:center" colspan="2"> Ageing Years</th>                                             
                                            <th ng-show="temp.pdc_in_hand" rowspan="2" ng-click="sortBy('pdcInHand')"><b>{{"PDC In Hand"|translate}}</b><span class="sortorder" ng-show="propertyName === 'pdcInHand'" ng-class="{reverse: reverse}"></span></th>
                                            <th ng-show="temp.pdc_dishonured"  rowspan="2" ng-click="sortBy('pdcDishonored')"><b>{{"PDC Dishonured"|translate}}</b><span class="sortorder" ng-show="propertyName === 'pdcDishonored'" ng-class="{reverse: reverse}"></span></th>
                                            <th rowspan="2" ng-click="sortBy('net_outstanding')"><b>{{"Net Outstanding"|translate}}</b><span class="sortorder" ng-show="propertyName === 'net_outstanding'" ng-class="{reverse: reverse}"></span></th>
                                            <th rowspan="2" ng-click="sortBy('perc_net_outstanding')"><b>{{"%"|translate}}</b><span class="sortorder" ng-show="propertyName === 'perc_net_outstanding'" ng-class="{reverse: reverse}"></span></th>
                                        </tr>
                                        <tr>
                                                
                                            <th  ng-click="sortBy('balance0to1Year')"><b>{{"0-1"|translate}}</b><span class="sortorder" ng-show="propertyName === 'balance0to1Year'" ng-class="{reverse: reverse}"></span></th>
                                            <th  ng-click="sortBy('balance1to2Year')"><b>{{"1-2"|translate}}</b><span class="sortorder" ng-show="propertyName === 'balance1to2Year'" ng-class="{reverse: reverse}"></span></th>
                                            <!--<th  ng-click="sortBy('balance2to3Year')"><b>{{"2-3"|translate}}</b><span class="sortorder" ng-show="propertyName === 'balance2to3Year'" ng-class="{reverse: reverse}"></span></th>
                                            <th  ng-click="sortBy('graterThan3Year')"><b>{{">3"|translate}}</b><span class="sortorder" ng-show="propertyName === 'graterThan3Year'" ng-class="{reverse: reverse}"></span></th>-->
                                            
                                             
                                        </tr>
                                    </thead>


                                    <thead ng-if="colsvis">
                                        <tr style="" background-color #edefef">
                                            <th rowspan="2"><b>{{"Sr No"|translate}}</b></th>
                                            <th rowspan="2" ng-click="sortBy('sims_sibling_parent_number')"><b>{{"Parent Id"|translate}}</b></th>
                                            <th rowspan="2" ng-click="sortBy('parent_name')"><b>{{"Parent Name"|translate}}</b></th>
                                            <th ng-show="datashow" rowspan="2" ng-click="sortBy('sims_enroll_number')"><b>{{"Student ID "|translate}}</b></th>
                                            <th ng-show="datashow" rowspan="2" ng-click="sortBy('student_name')"><b>{{"Student Name"|translate}}</b></th>
                                            <th style="text-align:center" colspan="2"> Aging Years</th>
                                            <th ng-show="temp.pdc_in_hand" rowspan="2" ng-click="sortBy('pdcInHand')"><b>{{"PDC In Hand"|translate}}</b></th>
                                            <th ng-show="temp.pdc_dishonured" rowspan="2" ng-click="sortBy('pdcDishonored')"><b>{{"PDC Dishonured"|translate}}</b></th>
                                            <th rowspan="2" ng-click="sortBy('net_outstanding')"><b>{{"Net Outstanding"|translate}}</b></th>
                                            <th rowspan="2" ng-click="sortBy('perc_net_outstanding')"><b>{{"%"|translate}}</b></th>
                                        </tr>
                                        <tr>

                                            <th ng-click="sortBy('balance0to1Year')"><b>{{"0-1"|translate}}</b></th>
                                            <th ng-click="sortBy('balance1to2Year')"><b>{{"1-2"|translate}}</b></th>
                                            <!--<th ng-click="sortBy('balance2to3Year')"><b>{{"2-3"|translate}}</b></th>
                                            <th ng-click="sortBy('graterThan3Year')"><b>{{">3"|translate}}</b></th>-->


                                        </tr>
                                    </thead>
                                    <tbody align="center">
                                        <tr ng-repeat="r in filteredTodos  | orderBy:propertyName:reverse|filter:searchText">
                                            <td style="text-align:left">{{$index+1}}</td>
                                            <td style="text-align:left">{{r.sims_sibling_parent_number}}</td>
                                            <td style="text-align:left">{{r.parent_name}}</td>
                                            <td ng-show="datashow" style="text-align:left">{{r.sims_enroll_number}}</td>
                                            <td ng-show="datashow" style="text-align:left">{{r.student_name}}</td>
                                            <td style="text-align:right">{{r.balance0to1Year | currency:'':decimal_dsc}}</td>
                                            <td style="text-align:right">{{r.balance1to2Year | currency:'':decimal_dsc}}</td>
                                            <!--<td style="text-align:right">{{r.balance2to3Year | currency:'':decimal_dsc}}</td>
                                            <td style="text-align:right">{{r.graterThan3Year | currency:'':decimal_dsc}}</td>-->
                                            <td ng-show="temp.pdc_in_hand" style="text-align:right">{{r.pdcInHand | currency:'':decimal_dsc}}</td>
                                            <td ng-show="temp.pdc_dishonured" style="text-align:right">{{r.pdcDishonored | currency:'':decimal_dsc}}</td>
                                            <td style="text-align:right">{{r.net_outstanding | currency:'':decimal_dsc}}</td>
                                            <td style="text-align:left">{{r.perc_net_outstanding}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="{{colspan}}" style="text-align:right"><b>Total</b></td>
                                            <td style="text-align:right">{{temp.balance0to1Year_tatal | currency:'':decimal_dsc}}</td>
                                            <td style="text-align:right">{{temp.balance1to2Year_tatal | currency:'':decimal_dsc}}</td>
                                            <!--<td style="text-align:right">{{temp.balance2to3Year_tatal | currency:'':decimal_dsc}}</td>
                                            <td style="text-align:right">{{temp.graterThan3Year_tatal | currency:'':decimal_dsc}}</td>-->
                                            <td ng-show="temp.pdc_in_hand"  style="text-align:right">{{temp.pdcInHand_tatal | currency:'':decimal_dsc}}</td>
                                            <td ng-show="temp.pdc_dishonured" style="text-align:right">{{temp.pdcDishonored_tatal | currency:'':decimal_dsc}}</td>
                                            <td style="text-align:right">{{temp.net_outstanding_tatal | currency:'':decimal_dsc}}</td>

                                        </tr>
                                    </tbody>
                                </table>                                
                                    <h4>{{"Family Breakdown for ageing" | translate}}</h4>
                                    <div class="row" id="Div2">
                                        <div class="col-md-12" style="background-color: #ffd800; height: 6px;"></div>

                                        <div id="Div2" class="dataTables_wrapper form-inline">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <table class="table table-bordered table-hover table-condensed" id="Table1">
                                                        <thead>
                                                            <tr>
                                                                <th class="finance_display"></th>
                                                                <th class="finance_display">{{"No. of families"| translate }}</th>
                                                                <th class="finance_display">{{"Balance Amount"| translate }}</th>
                                                            </tr>

                                                        </thead>

                                                        <tbody>
                                                            <tr ng-click="getpercentagewiseRecord(90,'NULL','More than 90%');" class="cr">
                                                                <td>{{"More than 90%" | translate}}</td>
                                                                <td style="text-align:right">{{cnt_90_total}}</td>
                                                                <td style="text-align:right">{{bal_90_total | currency:'':decimal_dsc}}</td>

                                                            </tr>

                                                            <tr ng-click="getpercentagewiseRecord(75,90,'75% -90%');" class="cr">
                                                                <td>{{"75% -90%"}}</td>
                                                                <td style="text-align:right">{{cnt_75_total}}</td>
                                                                <td style="text-align:right">{{bal_75_total| currency:'':decimal_dsc}}</td>

                                                            </tr>
                                                            <tr ng-click="getpercentagewiseRecord(50,75,'50% -75 %');" class="cr">
                                                                <td>{{"50% -75 %"}}</td>
                                                                <td style="text-align:right">{{cnt_50_total}}</td>
                                                                <td style="text-align:right">{{bal_50_total| currency:'':decimal_dsc}}</td>

                                                            </tr>
                                                           
                                                            <tr ng-click="getpercentagewiseRecord('NULL',30,'Below 50 %');" class="cr">
                                                                <td>{{"Below 50 %"}}</td>
                                                                <td style="text-align:right">{{cnt_bel_50_total}}</td>
                                                                <td style="text-align:right">{{bal_bel_50_total| currency:'':decimal_dsc}}</td>

                                                            </tr>
                                                            <tr ng-click="getpercentagewiseRecord();">
                                                                <td>{{"Total"}}</td>
                                                                <td style="text-align:right">{{fam_amt_total}}</td>
                                                                <td style="text-align:right">{{bal_amt_total|currency:'':decimal_dsc}}</td>

                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                       

                                    </div>
                               

                             
                            </div>


                        </div>
                        <div class="row" ng-show="pager">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                            ng-click="index(currentPage)">
                                    </paging>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <span style="float:left">
                            <b>Curriculum : </b>
                        </span>
                        <span style="float:left">
                            {{cur}}<span></span> &nbsp;
                        </span>

                        <span style="float:left">
                            <b>Academic  Year : </b>
                        </span>
                        <span style="float:left">
                            {{acad}}  <span ng-hide="$last">,</span> &nbsp;
                        </span>

                        <span style="float:left">
                            <b>Garde : </b>
                        </span>
                        <span ng-repeat="y in grade" style="float:left">
                            {{y}}  <span ng-hide="$last">,</span> &nbsp;
                        </span>

                        <span style="float:left">
                            <b>Section : </b>
                        </span>
                        <span ng-repeat="x in section" style="float:left">
                            {{x}}  <span ng-hide="$last">,</span> &nbsp;
                        </span>

                        <span style="float:left">
                            <b>Academic Status : </b>
                        </span>
                        <span ng-repeat="x1 in status" style="float:left">
                            {{x1}}  <span ng-hide="$last">,</span> &nbsp;
                        </span>
                        <span style="float:left">
                            &nbsp;<b> Total Records : </b>
                        </span>
                        <span style="float:left">
                            {{total_length}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/plugins/fileSaver.js"></script>
<script src="assets/js/jszip.js"></script>
<script src="assets/js/xlsx.js"></script>
<script src="assets/js/xlsx-reader.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>
