﻿﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">

            <div class="page-title">
                <h3><span class="semi-bold">{{"SL Query"|translate}}</span></h3>
            </div>
            <div class="grid-body no-border">
                <form name="myForm" ng-submit="Add(myForm.$valid)" novalidate="novalidate">
                    <div class="grid-body no-border" ng-show="operation" style="padding-bottom: 0px;">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row form-row">
                                    <div class="col-md-2">
                                        <label id="Label10" for="txt_cmb_l_Code" class="form-label">{{"Ledger Code"| translate }}</label>
                                        <select id="cmb_ledger_Code" data-role="dropdownlist" class="form-control"
                                                ng-model="edt.sllc_ldgr_code" ng-change="getSLAccNo(edt.sllc_ldgr_code)"
                                                ng-options="LedgerCode.sllc_ldgr_code as LedgerCode.sllc_ldgr_name for LedgerCode in LdgrCode" name="LedgerCode"></select>

                                    </div>

                                    <div class="col-md-3">
                                        <label id="Label11" for="txt_account_Code" class="form-label">{{"Account Code"| translate }}</label>
                                        <select id="cmb_acc_Code3" style="width:100%;"
                                                ng-model="edt.gldd_acct_code" ng-change="getDepartcode(edt.sllc_ldgr_code,edt.gldd_acct_code);"
                                                ng-options="AccountCode.gldd_acct_code as AccountCode.gldd_acct_name for AccountCode in getAllAccNos" name="AccountCode"></select>

                                    </div>

                                    <div class="col-md-2">
                                        <label id="Label1" for="txt_cmb_l_Code" class="form-label">{{"Doc Code"| translate }}</label>
                                        <!--  <select name="DocCode_jv" id="Cmb_Doc_Code" class="k-textbox"
                                                  ng-model="edt.gltd_doc_code"
                                                  ng-options="DocCode_jv.gltd_doc_code as DocCode_jv.gldc_doc_short_name for DocCode_jv in geDocCode_jv track by $index"></select>-->

                                        <select id="Select2" data-role="dropdownlist" class="form-control"
                                                ng-model="edt.gltd_doc_code"
                                                ng-options="doc.gltd_doc_code as doc.gldc_doc_short_name for doc in geDocCode_jv1 track by $index" name="sims_goal"></select>



                                    </div>

                                    <div class="col-md-2">
                                        <label id="Label3" for="txt_postdate" class="form-label">{{"From Date"| translate }}</label>
                                        <div class="col-md-6 no-padding" style="z-index:1">
                                            <input type="text" id="slqdps_PostDate1" name="PostDate12" class="k-textbox" ng-model="edt.FromDate">
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <label id="Label2" for="txt_postdate" class="form-label">{{"TO Date"| translate }}</label>
                                        <div class="col-md-6 no-padding" style="z-index:1">
                                            <input type="text" id="slqdps_Post_Date" name="PostDate" class="k-textbox" ng-model="edt.ToDate">
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-12"> <hr style="height:6px; border:none; color:#FF6600; background-color:#FF6600;"></div>
                            <div class="col-md-12">
                                <div class="row form-row">
                                    <div class="col-md-2">
                                        <label id="Label17" for="txt_Country_Code" class="form-label">{{"Bank AC no"| translate }}</label>
                                        <input type="text" ng-model="edt.gldd_doc_amount1" class="k-textbox" style="text-align: right" name="amount" readonly />
                                    </div>

                                    <div class="col-md-2">
                                        <label id="Label4" for="txt_Country_Code" class="form-label">{{"Telephone No"| translate }}</label>
                                        <input type="text" ng-model="edt.gldd_doc_amount2" class="k-textbox" style="text-align: right" name="amount" readonly />
                                    </div>

                                    <div class="col-md-2">
                                        <label id="Label5" for="txt_Country_Code" class="form-label">{{"PO BOX No"| translate }}</label>
                                        <input type="text" ng-model="edt.gldd_doc_amount3" class="k-textbox" style="text-align: right" name="amount" readonly />
                                    </div>

                                    <div class="col-md-2">
                                        <label id="Label6" for="txt_Country_Code" class="form-label">{{"Opening Balance"| translate }}</label>
                                        <input type="text" ng-model="edt.gldd_doc_amount4" class="k-textbox" style="text-align: right" name="amount" readonly />
                                    </div>

                                    <div class="col-md-2">
                                        <label id="Label7" for="txt_Country_Code" class="form-label">{{"Credit Limit"| translate }}</label>
                                        <input type="text" ng-model="edt.gldd_doc_amount5" class="k-textbox" style="text-align: right" name="amount" readonly />
                                    </div>

                                    <div class="col-md-2">
                                        <label id="Label8" for="txt_Country_Code" class="form-label">{{"Credit Period"| translate }}</label>
                                        <input type="text" ng-model="edt.gldd_doc_amount6" class="k-textbox" style="text-align: right" name="amount" readonly />
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="row form-row">

                                    <div class="col-md-3">
                                        <label id="Label9" for="txt_Country_Code" class="form-label">{{"Address1"| translate }}</label>
                                        <input type="text" ng-model="edt.gldd_doc_amount7" class="k-textbox" style="text-align: right" name="amount" readonly />
                                    </div>

                                    <div class="col-md-3">
                                        <label id="Label12" for="txt_Country_Code" class="form-label">{{"Address1"| translate }}</label>
                                        <input type="text" ng-model="edt.gldd_doc_amount8" class="k-textbox" style="text-align: right" name="amount" readonly />
                                    </div>

                                    <div class="col-md-2">
                                        <label id="Label13" for="txt_Status" class="form-label">{{"Credit Status"| translate }}</label>
                                        <div class="checkbox check-success">
                                            <input id="chk_term4" type="checkbox" class="k-checkbox" ng-model="temp.sims_library_reservation_flag">
                                            <label for="chk_term4"></label>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <label id="Label14" for="txt_Country_Code" class="form-label">&nbsp;</label>
                                        <button class="btn btn-primary" type="submit" ng-click="Show(edt.sllc_ldgr_code,edt.gldd_acct_code,edt.gltd_doc_code,edt.FromDate,edt.ToDate)">{{"Show"| translate }}</button>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                </form>

                <div class="col-md-12"> <hr style="height:6px; border:none; color:#FF6600; background-color:#FF6600"></div>
                <!--table-->
                <div class="col-md-12" ng-show="table1">
                    <div class="row form-row">
                        <div id="example_wrapper" class="dataTables_wrapper form-inline">
                            <div style="width: 100%; height: 300px; overflow-x: auto; overflow-y: auto">
                                <table class="table table-bordered table-condensed" id="fixTable">
                                    <thead>
                                        <tr style="background-color: #edefef">
                                            <th class="semi-bold"> {{"Dept"| translate }} </th>
                                            <th class="semi-bold"> {{"CD"| translate }} </th>
                                            <th class="semi-bold"> {{"DOC DATE"| translate }} </th>
                                            <th class="semi-bold"> {{"POST DATE"| translate }} </th>
                                            <th class="semi-bold"> {{"DOC NARR"| translate }} </th>
                                            <th class="semi-bold"> {{"PARTY REF.NO"| translate }} </th>
                                            <th class="semi-bold"> {{"BANK ID"| translate }} </th>
                                            <th class="semi-bold"> {{"DUE DATE"| translate }} </th>
                                            <th class="semi-bold"> {{"USER NAME"| translate }} </th>
                                            <th class="semi-bold"> {{"DR"| translate }} </th>
                                            <th class="semi-bold"> {{"CR"| translate }} </th>
                                            <th class="semi-bold"> {{"RUNNING TOTAL"| translate }} </th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="j in accountDatashow | orderBy:propertyName:reverse" ng-class="row1">


                                            <td> <label id="lbl">{{j.sltr_dept_no}}</label> </td>
                                            <td> <label id="Label15">{{j.sltr_doc_code}}</label> </td>
                                            <td> <label id="Label16">{{j.sltr_doc_date}}</label> </td>
                                            <td> <label id="Label18">{{j.sltr_pstng_date}}</label> </td>
                                            <td> <label id="Label19">{{j.sltr_doc_narr}}</label> </td>
                                            <td> <label id="Label20">{{j.sltr_match_ref_no}}</label> </td>
                                            <td> <label id="Label21">{{j.sltr_pty_bank_id}}</label> </td>
                                            <td> <label id="Label22">{{j.sltr_due_date}}</label> </td>
                                            <td> <label id="Label23">{{j.sltr_user_id}}</label> </td>
                                            <td> <label id="Label24">{{j.sltr_dr_amount}}</label> </td>
                                            <td> <label id="Label25">{{j.sltr_cr_amount}}</label> </td>
                                            <td> <label id="Label26">{{j.pb_amount}}</label> </td>

                                        </tr>
                                        <tr style="background-color: cadetblue;color:white">
                                            <td style="color:white"> <label id="Label27">{{"TOTAL"}}</label> </td>
                                            <td colspan="8"> <label id="Label28">&nbsp;</label> </td>
                                            <td style="color:white"> <label id="Label29">{{drAmount}}</label> </td>
                                            <td style="color:white"> <label id="Label30">{{crAmount}}</label> </td>
                                            <td style="color:white"> <label id="Label31">{{TotalAmount}}</label> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-12">

                    <div class="col-md-3">
                        <label id="Label32" for="txt_Country_Code" class="form-label">Closing Balance={{close_bal_amt}}</label>
                        <button class="btn btn-primary" type="submit" ng-click="Cheque_Details(edt.sllc_ldgr_code,edt.gldd_acct_code)">{{"Cheque Details"| translate }}</button>
                    </div>

                    <div class="col-md-2">
                        <label id="Label33" for="txt_Country_Code" class="form-label">&nbsp;</label>
                        <button class="btn btn-primary" type="submit" ng-click="Bill_Details(edt.sllc_ldgr_code,edt.gldd_acct_code)">{{"Bill Details"| translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade in" id="MyModal2" role="dialog" style="display: none;">
    <div class="modal-dialog" style="width:800px;height:80px">
        <div class="modal-content">
            <div class="modal-header ng-scope" style="height:25px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px"><b>Cheque Detail</b></h4>
                </div>
                <div class="pull-right">
                    <a href="">
                        <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>
                    </a>
                </div>
            </div>

            <div class="grid simple">
                <div class="grid-body no-border" style="margin-bottom:-23px">
                    <div class="row" id="printdata">
                        <div style="width: 100%; height: 500px; overflow-x: auto; overflow-y: auto">
                            <table class="table table-bordered table-condensed" id="fixTable2">
                                <tbody>
                                    <tr>
                                        <th class="semi-bold" style="width: 5%">
                                            <label><b>{{"Dept.NO"| translate }}</b></label>
                                        </th>
                                        <th class="semi-bold fontf" style="width: 15%">
                                            <label><b>{{"DOC NO"| translate }}</b></label>
                                        </th>

                                        <th class="semi-bold" style="width: 30%">
                                            <label><b>{{"DOC TYPE" | translate }}</b></label>
                                        </th>
                                        <th class="semi-bold" style="width: 30%">
                                            <label><b>{{"BANK FROM"| translate }}</b></label>
                                        </th>
                                        <th class="semi-bold" style="width: 15%">
                                            <label><b>{{"SERIAL NO"| translate }}</b></label>
                                        </th>
                                        <th class="semi-bold" style="width: 15%">
                                            <label><b>{{"CHEQUE NO"| translate }}</b></label>
                                        </th>

                                        <th class="semi-bold" style="width: 15%">
                                            <label><b>{{"DUE DATE"| translate }}</b></label>
                                        </th>
                                        <th class="semi-bold" style="width: 15%">
                                            <label><b>{{"CHEQUE AMOUNT"| translate }}</b></label>
                                        </th>

                                        <th class="semi-bold" style="width: 15%">
                                            <label><b>{{"STATUS"| translate }}</b></label>
                                        </th>

                                        <th class="semi-bold" style="width: 15%">
                                            <label><b>{{"REFERENCE NO"| translate }}</b></label>
                                        </th>
                                    </tr>
                                    <tr ng-repeat="chk in ChequeDatashow">

                                        <td>{{chk.pc_dept_no}}</td>
                                        <td>{{chk.pc_our_doc_no}}</td>
                                        <td>{{chk.pc_doc_type}}</td>
                                        <td>{{chk.pc_bank_from}}</td>
                                        <td>{{chk.pc_bank_slno}}</td>

                                        <td>{{chk.pc_cheque_no}}</td>
                                        <td>{{chk.pc_due_date}}</td>
                                        <td>{{chk.pc_amount}}</td>
                                        <td>{{chk.pc_discd}}</td>
                                        <td>{{chk.pc_ref_no}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade in" id="MyModal3" role="dialog" style="display: none;">
    <div class="modal-dialog" style="width:800px;height:80px">
        <div class="modal-content">
            <div class="modal-header ng-scope" style="height:25px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px"><b>BILL Detail</b></h4>
                </div>
                <div class="pull-right">
                    <a href="">
                        <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>
                    </a>
                </div>
            </div>

            <div class="grid simple">
                <div class="grid-body no-border" style="margin-bottom:-23px">
                    <div class="row" id="Div1">
                        <div style="width: 100%; height: 500px; overflow-x: auto; overflow-y: auto">
                            <table class="table table-bordered table-condensed" id="Table1">
                                <tbody>
                                    <tr>
                                        <th class="semi-bold" style="width: 5%">
                                            <label><b>{{"Dept.NO"| translate }}</b></label>
                                        </th>
                                        <th class="semi-bold fontf" style="width: 15%">
                                            <label><b>{{"DOC NO"| translate }}</b></label>
                                        </th>

                                        <th class="semi-bold" style="width: 30%">
                                            <label><b>{{"DOC TYPE" | translate }}</b></label>
                                        </th>
                                        <th class="semi-bold" style="width: 30%">
                                            <label><b>{{"BANK FROM"| translate }}</b></label>
                                        </th>
                                        <th class="semi-bold" style="width: 15%">
                                            <label><b>{{"SERIAL NO"| translate }}</b></label>
                                        </th>
                                        <th class="semi-bold" style="width: 15%">
                                            <label><b>{{"CHEQUE NO"| translate }}</b></label>
                                        </th>

                                        <th class="semi-bold" style="width: 15%">
                                            <label><b>{{"DUE DATE"| translate }}</b></label>
                                        </th>
                                        <th class="semi-bold" style="width: 15%">
                                            <label><b>{{"CHEQUE AMOUNT"| translate }}</b></label>
                                        </th>

                                        <th class="semi-bold" style="width: 15%">
                                            <label><b>{{"STATUS"| translate }}</b></label>
                                        </th>

                                        <th class="semi-bold" style="width: 15%">
                                            <label><b>{{"REFERENCE NO"| translate }}</b></label>
                                        </th>
                                    </tr>
                                    <tr ng-repeat="chk in billDatashow">

                                        <td>{{chk.pb_dept_no}}</td>
                                        <td>{{chk.pb_our_doc_no}}</td>
                                        <td>{{chk.pb_doc_type}}</td>
                                        <td>{{chk.pb_bank_from}}</td>
                                        <td>{{chk.pb_bank_slno}}</td>

                                        <td>{{chk.pb_cheque_no}}</td>
                                        <td>{{chk.pb_due_date}}</td>
                                        <td>{{chk.pb_amount}}</td>
                                        <td>{{chk.pb_discd}}</td>
                                        <td>{{chk.pb_ref_no}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script src="assets/js/calender-datepicker-id.js"></script>
