﻿<style>
    .k-textbox .k-icon {
    top: 50%;
    margin: -9px -9px 0;
    position: absolute;
}
    .k-input {
    padding: 0em;
    margin-top:4px;
}
</style>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">


            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="k-textbox"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="k-textbox"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="k-textbox"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="k-textbox"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="k-textbox"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="k-textbox"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="k-textbox"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>


            <div class="page-title">
                <h3><span class="semi-bold">{{"Subledger"| translate }}</span>&nbsp;{{"Matching"| translate }}</h3>
            </div>

            <div>
            </div>

            <form name="myForm" ng-submit="Show_Data(myForm.$valid)" novalidate="novalidate">
                <div class="raw">
                    <div class="paddingcode grid-body bluegrd" style="border: 1px solid #dddddd;">
                <div ng-show="operation">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="row form-row">
                                

                                <div class="col-md-2" ng-class="{'has-error': !myForm.ldgrname.$valid && (myForm.ldgrname.$touched || myForm.$submitted) }">
                                    <label id="Label1" for="txt_ldgr_Code" class="form-label">{{"Ledger Code"| translate }}</label>
                                    <select id="cmb_ldgr_Code" data-role="dropdownlist" class="form-control" name="ldgrname" required
                                            ng-model="edt.sltr_ldgr_code"
                                            ng-change="getSLAccNo(edt.sltr_ldgr_code)"
                                            ng-options="lcode.sllc_ldgr_code as lcode.sllc_ldgr_name for lcode in LdgrCode">
                                        <option value="">Please Select</option>
                                    </select>
                                    <p class="help-block" ng-show="myForm.ldgrname.$error.required &&  (myForm.ldgrname.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !myForm.accountname.$valid && (myForm.accountname.$touched || myForm.$submitted) }">
                                    <label id="Label2" for="txt_Country_Code" class="form-label">{{"Account No"| translate }}</label>
                                    <select id="cmb_acc_Code1" style="width: 100%" name="accountname" required
                                            ng-model="edt.sltr_slmast_acno"
                                            ng-options="accno.sltr_slmast_acno as accno.sltr_slmast_acname for accno in getAllAccNos"></select>
                                    <p class="help-block" ng-show="myForm.accountname.$error.required &&  (myForm.accountname.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                </div>

                                <div class="col-md-2" ng-class="{'has-error': !myForm.docname.$valid && (myForm.docname.$touched || myForm.$submitted) }">
                                    <label id="Label3" for="txt_Country_Code" class="form-label">{{"Doc Type"| translate }}</label>
                                    <select id="cmb_School_Code" data-role="dropdownlist" class="form-control" name="docname" required
                                            ng-model="edt.sltr_doc_code"
                                            ng-options="doccode.sltr_doc_code as doccode.sltr_doc_code for doccode in DocCode_Data"></select>


                                    <p class="help-block" ng-show="myForm.docname.$error.required &&  (myForm.docname.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                </div>

                                <div class="col-md-2">
                                    <label class="semi-bold" for="StartDate">{{"From Date"| translate}}</label>
                                    <div class="col-md-10 col-lg-6 no-padding">
                                        <input type="text" id="schedule_startdate" name="startdate" class="k-textbox input-sm full-width" ng-model="edt.sltr_pstng_date" ng-keypress="($event.charCode==13)?myFunct($event):return">
                                   
                                    </div>
                                </div>

                                <div class="col-md-2">

                                    <label class="semi-bold" for="enddate">{{"To Date"| translate}}</label>
                                    <div class="col-md-10 col-lg-6 no-padding">
                                        <input type="text" id="schedule_enddate" name="enddate" class="k-textbox input-sm full-width" ng-change="ChkDate(edt.sltr_doc_date,'enddate');" ng-model="edt.sltr_doc_date" ng-keypress="($event.charCode==13)?myFunct1($event):return">
                                        
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                     

                     <div class="col-md-12">
                        <div class="pull-right" style="margin-top: -21px;">
                        <label id="Label4" for="txt_Doc Code" class="form-label">&nbsp;</label>
                             <button type="submit" class="btn btn-primary btn-small" ng-click="Show_Data(edt.sltr_ldgr_code,edt.sltr_slmast_acno,edt.sltr_doc_code,edt.sltr_pstng_date,edt.sltr_doc_date)">{{"Show"|translate}}</button>
                            <button type="button" class="btn btn-warning btn-small" ng-click="Reset()">{{"Reset"| translate }}</button>
                         </div>
                    </div>
                    </div>

                        <!--<div class="col-md-12">
                            <div class="row form-row">
                                
                                <div class="col-md-1">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>&nbsp;</label>
                                        </div>
                                        <div class="pull-right">
                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-primary btn-small" ng-click="Show_Data(edt.sltr_ldgr_code,edt.sltr_slmast_acno,edt.sltr_doc_code,edt.sltr_pstng_date,edt.sltr_doc_date)">{{"Show"|translate}}</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-1">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>&nbsp;</label>
                                        </div>
                                        <div class="pull-right">
                                            <div class="col-md-12">
                                                <button type="button" class="btn btn-warning btn-small" ng-click="Reset()">{{"Reset"| translate }}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>-->
                    </div>
                    <!--<hr style="height:3px; border:none; color:cornflowerblue; background-color:cornflowerblue;">-->
                </div>
                </div>
                </div>
            </form>
            <!--table-->

            <div class="grid-body no-border" ng-show="table1">
                <br />
                <div class="row form-row">
                    <div class="col-md-6">
                        <select id="Select12" style="width: 60px" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="5" class="form-control input-sm">
                                5
                            </option>

                            <option value="10" class="form-control input-sm">
                                10
                            </option>

                            <option value="15" class="form-control input-sm">
                                15
                            </option>
                        </select>
                    </div>


                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="Div1">
                                <label>
                                    {{"Search"| translate}}  &nbsp;
                                    <input type="text" placeholder="Search" aria-controls="example" ng-model="searchText" class="k-textbox" ng-change="search();">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div style="width: 100%; height: 270px; overflow-x: auto; overflow-y: auto">
                        <table class="table table-bordered table-hover table-condensed" id="fixTable">
                            <thead>
                                <tr style="background-color: #edefef">

                                    <th class="semi-bold">{{"Posting Date"| translate }}</th>
                                    <th class="semi-bold">{{"Department No"| translate }}</th>
                                    <th class="semi-bold">{{"Department Name"| translate }}</th>

                                    <th class="semi-bold">{{"Doc Code"| translate }}</th>
                                    <th class="semi-bold">{{"Doc Name"| translate }}</th>

                                    <th class="semi-bold">{{"Ledger Code"| translate }}</th>
                                    <th class="semi-bold">{{"Ledger Name"| translate }}</th>

                                    <th class="semi-bold">{{"Acc No"| translate }}</th>
                                    <th class="semi-bold">{{"Acc Name"| translate }}</th>

                                    <th class="semi-bold">{{"Credit Amount"| translate }}</th>
                                    <th class="semi-bold">{{"Debit Amount"| translate }}</th>

                                    <th style="z-index:1" class="semi-bold">{{"Match"| translate }}</th>

                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <tr ng-repeat="obj in filteredTodos" ng-class="row1">

                                    <td>{{obj.sltr_pstng_date}}</td>
                                    <td>{{obj.sltr_dept_no}}</td>
                                    <td>{{obj.codp_dept_name}}</td>

                                    <td>{{obj.sltr_doc_code}}</td>
                                    <td>{{obj.gldc_doc_name}}</td>

                                    <td>{{obj.sltr_ldgr_code}}</td>
                                    <td>{{obj.sllc_ldgr_name}}</td>

                                    <td>{{obj.sltr_slmast_acno}}</td>
                                    <td>{{obj.coad_pty_short_name}}</td>

                                    <td>{{obj.sltr_tran_amt_credit}}</td>
                                    <td>{{obj.sltr_tran_amt_debite}}</td>

                                    <td>
                                        <div class="checkbox check-success">
                                            <input type="checkbox" value="1" id="{{$index}}" ng-model="obj.sltr_match_ind">
                                            <label for="{{$index}}"></label>
                                        </div>
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="row form-row">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="pull-right">
                        <button type="button" id="btn_submit" class="btn btn-primary btn-cons" ng-click="Submit(obj)">{{"Submit"|translate}}</button>&nbsp;
                        <button type="button" class="btn btn-warning btn-cons" ng-click="Cancel()">{{"Cancel"| translate }}</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="assets/js/calender-datepicker-id.js"></script>

