﻿<style>
    .grid1 .col-md-9, .grid2 .col-md-9, .grid3 .col-md-12 {
    background-color:#fff;
    }
    .grid1, .grid2, .grid3 {
    margin-left: -13px;
    margin-right: -13px;
    }
    .grid1 {
       margin-top: -15px;
    }
    .records {
         background-color: #F5DEB3;
        margin-top: -20px;
        margin-left: -1px;
        margin-right: -1px;
    }

</style>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">

            <div class="page-title">
                <h3><span class="semi-bold">{{"Supplier Payment/Advance Payment"|translate}}</span></h3>
            </div>

            <form name="myForm" ng-submit="Add(myForm.$valid)" novalidate="novalidate">
                <div class="grid-body no-border" ng-show="operation" style="padding-bottom: 0px;background-color:transparent;">
                    <div class="row">
                      <div class="grid1">
                         <div class="col-md-9">
                            <div class="row form-row">
                                <div class="col-md-4">
                                    <div class="col-md-12">
                                       <div class="col-md-4">
                                        <label id="Label1" for="txt_Doc Code" class="form-label"><i class="fa fa-dashboard"></i>&nbsp;{{"Doc Code"| translate }}</label>
                                    
                                        </div>
                                        <div class="col-md-8">
                                            <select id="Select2" data-role="dropdownlist" class="form-control" required
                                                        ng-model="temp.gltd_doc_code" ng-change="get_master_acno(temp.gltd_doc_code)"
                                                        ng-options="DocCode_jv1.gltd_doc_code as DocCode_jv1.gltd_doc_code for DocCode_jv1 in getDocCode" name="DocCode_jv1" required></select>
                                        </div>
                                     </div>
                                </div>
                                <div class="col-md-2"></div>
                                
                                <div class="col-md-3">
                                    <div class="col-md-12">
                                     <div class="col-md-6">
                                        <label id="Label2" style="float:right;" for="txt_Doc_Date" class="form-label"><i class="fa fa-calendar"></i>&nbsp;{{"Creation Date"| translate }}</label>
                                    </div>
                                    <div class="col-md-6">
                                            <input type="text" id="DocDate" name="DocDate" class="form-control" ng-model="edt4.DocDate" disabled>
                                    </div>
                                    </div>
                                    <!--</div>-->
                                </div>

                                <div class="col-md-3">
                                    <div class="col-md-12">
                                        <div class="col-md-5">
                                                <label id="Label3" style="float:right;" for="txt_postdate" class="form-label"><i class="fa fa-calendar"></i>&nbsp;{{"Posting Date"| translate }}</label>
                                        </div>
                                        <div class="col-md-7">
                                    <div class="input-append success date no-padding" data-datepicker="true" style="z-index:1">
                                        <input type="text" id="PostDate" name="PostDate" class="form-control" ng-model="edt4.PostDate" ng-change="check_post_date()">

                                        <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                    </div>
                                            </div>
                                        </div>
                                </div>

                            </div>
                        </div>
                       
                       <div class="col-md-3">
                           <div>&nbsp;</div>
                            <div class="" style="float:right;">
                        
                        <button class="btn btn-primary" ng-disabled="preparebtn" type="submit" ng-click="Prepare()">{{"Prepare"| translate }}</button>
                        <button class="btn btn-primary" ng-disabled="verifybtn" type="submit" ng-click="Verify()">{{"Verify"| translate }}</button>
                        <button class="btn btn-primary" type="submit" ng-disabled="authorizebtn" ng-click="Authorize()">{{"Authorize"| translate }}</button>
                        <button class="btn btn-primary" type="button" ng-show="checkprintbtn" ng-click="CheckPrintReport()">{{"Print"| translate }}</button>
                    </div>
                        </div>

                        <div class="col-md-9" style="margin-top:-13px;">
                            <div class="row form-row">
                                <div class="col-md-6">
                                    <div class="col-md-12">
                                    <div class="col-md-3">
                                          <label id="label5" class="form-label"> <i class="fa fa-align-justify"></i>&nbsp; {{"Doc Narration"| translate}}</label>
                                     </div>
                                     <div class="col-md-9">
                                            <input type="text" id="narr" ng-model="temp1.gltd_doc_narr1" placeholder="Please Enter Doc Narration" class="k-textbox" name="docNarration" />
                                      </div>
                                    </div>
                                </div>
                                 <div class="col-md-6">
                                      <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label id="label6" class="form-label"><i class="fa fa-bookmark"></i>&nbsp;{{"Doc Remark"| translate}}</label>
                                     </div>
                                     <div class="col-md-9">
                                            <input type="text" id="docremark" ng-model="temp1.gltd_doc_remark" placeholder="Please Enter Doc Remark" class="k-textbox" name="docRemark" />
                                       </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                     </div>
                     <div class="grid2">
                        <div class="col-md-9 paddingcode" style="margin-top:6px;">
                            <div class="row" style="margin-bottom:5px;">

                                <div class="col-md-3" ng-class="{'has-error': !myForm.accountcode.$valid && (myForm.accountcode.$touched || myForm.$submitted) }">
                                    <label id="Label4" for="txt_Account_Code" class="form-label"><i class="fa fa-dashboard"></i>&nbsp;{{"Account Number Code"| translate }}</label>
                                    <!--<select id="cmb_Doc_Code" class="form-control" ng-model="edt5.master_acno" ng-change="getAccountName(edt5.master_acno)">
                                        <option value="" selected disabled>Please Select</option>
                                        <option class="form-control input-sm" selected="selected"  ng-repeat="bname in bankname">{{bname.master_ac_cdname}}</option>
                                    </select>-->
                                    <select id="cmb_account_Code" class="form-control"
                                            ng-model="edt5.master_acno" ng-change="getAccountName(edt5.master_acno)"
                                            ng-options="accountcode as accountcode.master_ac_cdname for accountcode in bankname" name="accountcode" required></select>
                                    <p class="help-block" ng-show="myForm.accountcode.$error.required &&  (myForm.accountcode.$touched || myForm.$submitted)">
                                        Please Select Account Number Code
                                    </p>
                                </div>

                                <!--Cost Center Account-->
                                <div class="col-md-1" ng-show="chkcost_Ac">
                                    <label id="Label23" for="txt_Status" class="form-label"><i class="fa fa-money"></i>&nbsp;{{"Cost"| translate }}</label>
                                    <div class="checkbox check-success">
                                        <input id="cost_center_ac" type="checkbox" class="k-checkbox" ng-model="temp.cost_chk_ac" ng-click="cost_center_Account(temp.cost_chk_ac)">
                                        <label for="cost_center_ac"></label>
                                    </div>
                                </div>

                                <!--Cost Center-->
                                <div class="col-md-2" ng-show="cost_combo_AC">
                                    <label id="Label24" for="txt_account_Code" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Cost Center"| translate }}</label>
                                    <select id="Select1" style="width:100%;" data-role="dropdownlist"  class="form-control"
                                            ng-model="edt5.glco_cost_centre_code"
                                            ng-options="AccountCode.glco_cost_centre_code as AccountCode.coce_cost_centre_name for AccountCode in costcenter_account" name="CostCenter"></select>
                                </div>


                                <div class="col-md-3" style="margin-top:-3px;">
                                    <label id="Label7" for="txt_Bank_Name" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Account Name"| translate }}</label>
                                    <input type="text" id="Text4" ng-model="edt3.master_ac_cdname" class="k-textbox" name="bank_name" />
                                </div>

                                <!--<div class="col-md-3">
                                    <label id="Label2" for="txt_Country_Code" class="form-label">{{"Cheque No"| translate }}</label>
                                    <input type="text" id="Text4" ng-model="temp.gltd_cheque_No" class="form-control" name="cheqNo" />
                                </div>-->

                                <div class="col-md-3" style="margin-top:-3px;">
                                    <label id="Label8" for="txt_paidfr" class="form-label"><i class="fa fa-money"></i>&nbsp;{{"Paid To"| translate }}</label>
                                    <input type="text" id="Text1" ng-model="temp1.gltd_paid_to" maxlength="50" ng-pattern="/^(\D)+$/" class="k-textbox" name="paidfr" />
                                </div>
                            </div>
                        </div>

                     </div>
                     <div class="grid3">
                        <div class="col-md-12 paddingcode" style="margin-top:6px;">
                            <div class="row form-row">
                                <div class="col-md-1">
                                    <label id="Label9" for="txt_cmb_l_Code" class="form-label"><i class="fa fa-dashboard"></i>&nbsp;{{"Ledger Code"| translate }}</label>
                                    <select id="cmb_ledger_Code" data-role="dropdownlist" class="form-control"
                                            ng-model="edt.sllc_ldgr_code" ng-change="getSLAccNo(edt.sllc_ldgr_code)"
                                            ng-options="LedgerCode.sllc_ldgr_code as LedgerCode.sllc_ldgr_name for LedgerCode in LdgrCode" name="LedgerCode"></select>

                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !myForm.AccountCode.$valid && (myForm.AccountCode.$touched || myForm.$submitted) }">
                                    <label id="Label10" for="txt_account_Code" class="form-label"><i class="fa fa-dashboard"></i>&nbsp;{{"Account Code"| translate }}</label>
                                    <select id="cmb_acc_Code3" style="width:100%;"  data-role="dropdownlist" class="form-control"
                                            ng-model="edt.gldd_acct_code" ng-change="getDepartcode(edt.gldd_acct_code);"
                                            ng-options="AccountCode.gldd_acct_code as AccountCode.gldd_acct_name for AccountCode in getAllAccNos" name="AccountCode" required></select>

                                    <p class="help-block" ng-show="myForm.AccountCode.$error.required  &&  (myForm.AccountCode.$touched || myForm.$submitted)">
                                        Please Select Account Code
                                    </p>
                                </div>



                                <div class="col-md-2">
                                    <label id="Label13" for="Dcode" class="form-label"><i class="fa fa-dashboard"></i>&nbsp;{{"Depart Code"| translate }}</label>
                                    <input type="text" id="Text2" ng-model="edt1.coad_dept_no" value="{{coad_dept_no}}" class="k-textbox" name="Dcode"
                                           ng-pattern="/^(\d)+$/" ng-maxlength="2" />
                                </div>
                                 <div class="col-md-4">
                                    
                                        <label id="label15" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Doc Narration"| translate}}</label>
                                     
                                        <input type="text" ng-model="edt.gldd_doc_narr" placeholder="Please Enter Doc Narration" class="k-textbox" name="dNarr" />
                                      

                                </div>
                                <!--<div class="col-md-2">
                                    <label id="Label2" for="partrefno" class="form-label">{{"Pty Ref No"| translate }}</label>
                                    <input type="text" id="Text4" ng-model="edt1.gldd_acct_code" value="{{gldd_acct_code}}" class="form-control" name="partrefno" />
                                </div>-->
                                <!--<div class="col-md-3">
                                    <label id="Label2" for="txt_party_ref" class="form-label">{{"Pty Ref Date"| translate }}</label>
                                    <div class="input-append success date col-md-6 no-padding" data-datepicker="true">
                                        <input type="text" name="txt_party_ref" class="form-control" ng-model="edt.gldd_party_ref_date">
                                        <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                    </div>
                                </div>-->
                                <div class="col-md-2">
                                    <label id="Label14" for="txt_Country_Code" class="form-label"><i class="fa fa-money"></i>&nbsp;{{"Amount"| translate }}</label>
                                    <input type="text" ng-model="edt.gldd_doc_amount" style="text-align:right" class="k-textbox" name="amount" ng-pattern="/^[0-9]{1,14}(\.[0-9]+)?$/" ng-maxlength="10" />
                                </div>

                            </div>
                        </div>

                        <div class="col-md-12 ">
                            <div class="row form-row" style="margin-right:2px;">
                                <div class="col-md-1"></div>
                                <!--Cost Center-->
                                <div class="col-md-3" ng-show="chkcost">
                                     <div class="col-md-12">
                                      <div class="col-md-4">
                                    <label id="Label11" for="txt_Status" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Cost Center"| translate }}</label>
                                          </div>                 
                                      <div class="col-md-2">
                                    <div class="checkbox check-success">
                                        <input id="chk_term4" type="checkbox" class="k-checkbox" ng-model="temp.cost_chk" ng-click="cost_center(temp.cost_chk)">
                                        <label for="chk_term4"></label>
                                    </div>
                                    </div>
                                   </div>
                                </div>
                                <!--Cost Center-->
                                <div class="col-md-3" ng-show="cost_combo">
                                    <div class="col-md-12">
                                      <div class="col-md-6">
                                            <label id="Label12" for="txt_account_Code" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Cost Center Name"| translate }}</label>
                                      </div>
                                     <div class="col-md-6">
                                    <select id="costCenter" style="width:100%;" data-role="dropdownlist" class="form-control"
                                            ng-model="edt.glco_cost_centre_code" ng-change="getDepartcode(edt.gldd_acct_code);"
                                            ng-options="AccountCode.glco_cost_centre_code as AccountCode.coce_cost_centre_name for AccountCode in costcenter" name="CostCenter"></select>
                                     </div>
                                   </div>
                                  </div>


                               

                                <div class="" style="float:right;">
                                    <button class="btn btn-primary btn-cons" type="submit" ng-show="Add" ng-click="datagrid(myForm.$valid)">{{"Add"| translate }}</button>
                                    <button class="btn btn-primary btn-cons" type="button" ng-show="updatebtn" ng-click="Update()">{{"Update"| translate }}</button>
                                    <button class="btn btn-warning btn-cons" type="button" ng-click="cancel()">{{"Cancel"| translate }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                     </div>
                </div>
            </form>

            <!--table-->

          

        </div>

          <div class="grid-body no-border records" ng-show="table1" >
                <!--<div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div style="width: 100%; height: 200px; overflow-x:auto;">
                    <div class="scrollableContainer">
                    <div class="scrollingArea">
                    <table class="table  table-striped  table-condensed" id="Table1" aria-describedby="example2_info" cellpadding="0" cellspacing="0" style="table-layout:fixed;">-->
                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div style="width: 100%; height: 180px; overflow-x: auto; overflow-y: auto">
                        <table class="table table-bordered table-condensed" id="fixTable" border="0" style="margin-top:3px;">
                            <thead>
                                <tr>
                                    <th class="finance_display "></th>
                                    <!--<td class="finance_display">{{"COMP CODE"| translate }}</td>-->
                                    <th class="finance_display" style="width:100px"><i class="fa fa-dashboard"></i>&nbsp;{{"Ledger Code"| translate }}</th>
                                    <!--<td class="finance_display">{{"ACCT CODE"| translate }}</td>-->
                                    <th class="finance_display"><i class="fa fa-dashboard"></i>&nbsp;{{"Account Code"| translate }}</th>
                                    <th class="finance_display"><i class="fa fa-align-justify"></i>&nbsp;{{"Center Name"| translate }}</th>
                                    <th class="finance_display"><i class="fa fa-dashboard"></i>&nbsp;{{"Dept Code"| translate }}</th>
                                    <th class="finance_display"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Pty Ref No."| translate }}</th>
                                    <th class="finance_display"><i class="fa fa-calendar"></i>&nbsp;{{"Pty Ref Date"| translate }}</th>
                                    <th class="finance_display"><i class="fa fa-align-justify"></i>&nbsp;{{"Doc Narration"| translate }}</th>
                                    <th class="finance_display"><i class="fa fa-money"></i>&nbsp;{{"Amount"| translate }}</th>
                                    <!--<td class="finance_display">{{"FC AMOUNT"| translate }}</td>
                                    <td class="semi-bold"><i class="fa fa-cogs"></i></td>-->
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="Bankdetail in Bankdetails" ng-dblclick="up(Bankdetail)">

                                    <td><input type="button" onmouseover="Remove" ng-click="Delete(Bankdetail);" value="X" /></td>
                                    <!-- <td><input type="text" readonly="readonly" style="border: none;" ng-model="Bankdetail.gldd_comp_code" maxlength="4" size="1"  value="{{Bankdetail.gldd_comp_code}}" /></td>-->
                                    <td><input type="text" readonly="readonly" style="border: none;" ng-model="Bankdetail.sllc_ldgr_code" maxlength="2" size="1" value="{{Bankdetail.sllc_ldgr_code}}" /></td>
                                    <!--  <td><input type="text" readonly="readonly" style="border: none;" ng-model="Bankdetail.slma_acno" maxlength="10" size="5" value="{{Bankdetail.slma_acno}}" /></td>-->
                                    <td><input type="text" class="k-textbox" readonly="readonly" style="border: none;" ng-model="Bankdetail.coad_pty_full_name" maxlength="50" size="20" value="{{Bankdetail.coad_pty_full_name}}" /></td>
                                    <td><input type="text" class="k-textbox" readonly="readonly" style="border: none;" ng-model="Bankdetail.coce_cost_centre_name1" maxlength="10" size="4" value="{{Bankdetail.coce_cost_centre_name1}}" /></td>
                                    <td><input type="text" class="k-textbox" readonly="readonly" style="border: none;" ng-model="Bankdetail.coad_dept_no" maxlength="2" size="1" value="{{Bankdetail.coad_dept_no}}" /></td>
                                    <td><input type="text" class="k-textbox" readonly="readonly" style="border: none;" ng-model="Bankdetail.slma_acno" maxlength="10" size="4" value="{{Bankdetail.slma_acno}}" /></td>
                                    <td><input type="text" class="k-textbox" ng-model="Bankdetail.gldd_party_ref_date" maxlength="12" size="7" value="{{Bankdetail.gldd_party_ref_date}}" /></td>
                                    <td><input type="text" class="k-textbox" ng-model="Bankdetail.gldd_doc_narr" maxlength="50" size="25" value="{{Bankdetail.gldd_doc_narr}}" /></td>
                                    <td>
                                        <input type="text" class="k-textbox" ng-model="Bankdetail.gldd_doc_amount" style="text-align: right"
                                               ng-blur="totalAmountCount()"
                                               maxlength="10" size="3" ng-maxlength="10" ng-keypress="onlyNumbers($event)"
                                               value="{{Bankdetail.gldd_doc_amount}}" />
                                    </td>
                                    <!--<td><button type="button" ng-click="Delete()">{{"Delete"| translate }}</button></td>-->
                                    <!--<td><input type="button" onmouseover="Remove" ng-click="Delete(Bankdetail);" value="X" /></td>
                                    <td>{{Bankdetail.gldd_comp_code}}</td>
                                    <td>{{Bankdetail.sllc_ldgr_code}}</td>
                                    <td>{{Bankdetail.slma_acno}}</td>
                                    <td>{{Bankdetail.coad_pty_full_name}}</td>
                                    <td>{{Bankdetail.coad_dept_no}}</td>
                                    <td>{{Bankdetail.slma_acno}}</td>
                                    <td>{{Bankdetail.gldd_party_ref_date}}</td>
                                    <td>{{Bankdetail.gldd_doc_narr}}</td>
                                    <td>{{Bankdetail.gldd_doc_amount}}</td>
                                    <td>{{Bankdetail.gldd_fc_amount}}</td>
                                    <td>
                                        <a href="" title="To Update Click Here."><i class="fa fa-edit" ng-click="up(Bankdetail)"></i></a>
                                    </td>-->
                                </tr>
                            </tbody>
                        </table>
                        <!--</div>
                        </div>-->
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4" style="display:none;">
                        <label id="label17" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Account Name"| translate}}</label>
                        <label id="label18" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Department Name"| translate}}</label>
                        <!--<label id="label3" class="form-label">{{"FOREIGN CURRENCY NAM"| translate}}</label>-->
                    </div>
                    <div class="col-md-4" style="display:none;">
                        <label id="label19" class="form-label">{{edt1.slma_acno}}-{{edt1.coad_pty_short_name}}</label>
                        <label id="label20" class="form-label">{{edt1.codp_dept_name}}</label>
                        <label id="label21" class="form-label"></label>
                    </div>
                    <div class="" style="float:right;">
                        <label id="totalamount" style="float:right;" class="pull-right">Total:-{{total}} </label>
                        
                    </div>
                </div>
            </div>
    </div>
</div>


