﻿<link href="assets/css/mino.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3>{{"Budget Allocation"|translate}}<span class="semi-bold"></span></h3>
            </div>
          
            <div class="grid-body no-border table_padding" style="background-color:transparent;" ng-show="grid">

                <div class="row">

                    <div class="col-md-12 bluegrid">
                        <div class="row form-row">

                            <div class="col-md-2">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label class="form-label-sm"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{ "Dept Number" | translate }}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <select id="cmb_dept_no" name="cmb_dept_no" data-role="dropdownlist" class="form-control input-sm full-width"
                                                ng-model="edt.glpr_dept_no" ng-maxlength="2" ng-minlength="1" ng-disabled="edit_data"
                                                ng-options="item2.glpr_dept_no as item2.glpr_dept_desc for item2 in Gl_period_ledgers_deptno_data" ng-change="getAccntNo(edt.glpr_dept_no)">
                                            <option value="">Please Select</option>
                                        </select>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label class="form-label-sm"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{ "Account No" | translate }}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <select id="cmb_accnt_no" name="cmb_accnt_no" data-role="dropdownlist" class="full-width" ng-model="edt.account_code">
                                            <option value="">Please Select</option>
                                            <option ng-repeat="item2 in account_code_data"

                                                    value="{{item2.account_code}}">
                                                {{item2.glpr_acct_code}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-1" ng-show="showlabels1">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label class="form-label-sm"><i class="fa fa-calendar"></i>&nbsp;{{ "Year" | translate }}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <input name="txt_year" id="txt_year" type="text" class="k-textbox" ng-model="edt.glpr_year" ng-disabled="true" maxlength="60">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label class="form-label-sm">&nbsp;</label>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="btn btn-primary btn-cons" type="button" ng-click="getGLledgerdata(edt.glpr_dept_no,edt.account_code)"><span class="semi-bold"></span>{{"View"| translate }}</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-12 bluegrid" style="margin-top:7px;" ng-show="showlabels">
                        <div class="row form-row">

                            <div class="col-md-2">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label class="form-label-sm"><i class="fa fa-money"></i>&nbsp;{{ "Amount" | translate }}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <input name="txt_rev_budget_amount" id="Text2" type="text" class="k-textbox" ng-model="edt.rev_budget_amount" ng-keypress="onlyNumbers1($event)" ng-blur="changebugdetamount()">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label class="form-label-sm"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{ "Quantity" | translate }}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <input name="txt_rev_budget_quantity" id="Text3" type="text" class="k-textbox" ng-model="edt.rev_budget_quantity" ng-keypress="onlyNumbers1($event)" ng-blur="changebugdetamount()">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label class="form-label-sm">&nbsp;</label>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="btn btn-primary btn-cons" type="button" ng-click="update()"><span class="semi-bold"></span>{{"Save"| translate }}</button>
                                    </div>
                                </div>
                            </div>

                            <!--                            <div class="col-md-4" ng-show="showlabels">
                                                            <div class="pull-right">
                                                                <div class="row form-row">
                                                                    <label class="form-label-sm">&nbsp;</label>
                                                                    <button class="btn btn-primary btn-cons" style="height: 34px; width: 10px" type="button" ng-click="update()"><span class="semi-bold"></span>{{"Update"| translate }}</button>
                                                                </div>
                                                            </div>
                                                        </div>-->

                        </div>
                    </div>

                </div>

                <div class="row form-row">
                    <br />
                    <br />
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline" ng-show="showlabels">
                    <!-- <div style="width: 100%; height: auto; overflow-x: scroll; overflow-y: hidden">
                        <table class="table table-hover table-striped  no-more-tables">-->
                    <div style="width: 100%; height: auto;margin-top:-52px; overflow-x: scroll; overflow-y: hidden">
                        <table class="table  table-bordered  table-condensed dataTable" style="background-color:white;margin-top:7px;" id="example">
                            <tr style="background-color: #e9e4e4">
                                <td style="text-align:right;"><b><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Period Number"| translate }}</b></td>
                                <td style="text-align:right;"><b><i class="fa fa-money"></i>&nbsp;{{"Debited Amount"| translate }}</b></td>
                                <td style="text-align:right;"><b><i class="fa fa-money"></i>&nbsp;{{"Credited Amount"| translate }}</b></td>
                                <td style="text-align:right;"><b><i class="fa fa-money"></i>&nbsp;{{"Budget Amount"| translate }}</b></td>
                                <td style="text-align:right;"><b><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Budget Quantity"| translate }}</b></td>
                                <td style="text-align:right;"><b><i class="fa fa-money"></i>&nbsp;{{"Revise Budget Amount"| translate }}</b></td>
                                <td style="text-align:right;"><b><i class="fa fa-money"></i>&nbsp;{{"Revise Budget Quantity"| translate }}</b></td>
                                <!--<td><b>{{"ACTION"| translate }}</b></td>-->
                            </tr>
                            <tr ng-repeat="mod in filteredTodos |filter:search:strict">
                                <td style="text-align:right;">
                                    <div>{{mod.glpr_dept_desc}}</div>
                                </td>

                                <td style="text-align:right;">
                                    <div ng-disabled="!mod.status">{{mod.glpr_bud_debit}}</div>
                                </td>

                                <td style="text-align:right;">
                                    <div ng-disabled="!mod.status">{{mod.glpr_bud_credit}}</div>
                                </td>

                                <td style="text-align:right;">
                                    <div ng-disabled="!mod.status">{{mod.glpr_bud_amt}}</div>
                                </td>
                                <td style="text-align:right;">
                                    <div ng-disabled="!mod.status">{{mod.glpr_bud_qty}}</div>

                                </td>

                                <td>
                                    <div>
                                        <input name="txt_rev_budget_amt" id="txt_rev_budget_amt" type="text" class="k-textbox" ng-model="mod.glpr_rev_bud_amt" ng-keydown="changebugdet($event)" ng-keypress="onlyNumbers1($event) "style="text-align:right;">
                                    </div>
                                </td>

                                <td>
                                    <div>
                                        <input name="txt_rev_budget_qty" id="txt_rev_budget_qty" type="text" class="k-textbox" ng-model="mod.glpr_rev_bud_qty" ng-keydown="changebugdet1($event)" ng-keypress="onlyNumbers1($event)"style="text-align:right;">
                                    </div>
                                </td>

                            </tr>

                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>