﻿<div class="row">

<div class="row" ng-show="notshow">
        <div class="col-xs-4">
            <div class="well" class="form-group">
                <div class="form-group">
                    <label>Current Page:</label>
                    <input placeholder="page"
                           class="form-control"
                           ng-model="currentPage"
                           ng-init="currentPage = 1" />
                </div>
                <div class="form-group">
                    <label>Page Size:</label>
                    <input placeholder="Page Size"
                           class="form-control"
                           ng-model="numPerPage" />
                </div>
                <div class="form-group">
                    <label>Total Items:</label>
                    <input placeholder="Total"
                           class="form-control"
                           ng-model="pagersize" />
                </div>
                <hr />
                <div class="form-group">
                    <label>Dots Display:</label>
                    <input placeholder="..."
                           class="form-control"
                           maxlength="3"
                           ng-model="dots"
                           ng-init="dots = '...'" />
                </div>

                <hr />
                <div class="form-group">
                    <label>UL Class:</label>
                    <input placeholder="pagination"
                           class="form-control"
                           maxlength="100"
                           ng-model="ulClass" />
                </div>
                <div class="form-group">
                    <label>Active Class:</label>
                    <input placeholder="active"
                           class="form-control"
                           maxlength="100"
                           ng-model="activeClass"
                           ng-init="activeClass = 'active'" />
                </div>
                <div class="form-group">
                    <label>Disabled Class:</label>
                    <input placeholder="disabled"
                           class="form-control"
                           maxlength="100"
                           ng-model="disabledClass"
                           ng-init="disabledClass = 'disabled'" />
                </div>
                <br />
                <table class="table">

                    <tr>
                        <td>
                            <label>Show Prev Next:</label>
                        </td>
                        <td>
                            <input type="checkbox"
                                   ng-model="showPrevNext"
                                   ng-init="showPrevNext = true" />
                            {{showPrevNext}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Show First Last:</label>
                        </td>
                        <td>
                            <input type="checkbox"
                                   ng-model="showFirstLast"
                                   ng-init="showFirstLast = true" />
                            {{showPrevNext}}
                        </td>
                    </tr>
                </table>
                <hr />
                <span class="btn btn-default" onclick="location.reload()">
                    <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                </span>
                <span class="btn btn-success" ng-click="currentPage = 0">
                    Apply Settings
                </span>
                <br />
                <br />
            </div>
        </div>
    </div>



<div class="col-md-12">
        <div class="grid simple">
            <div class="grid-body no-border">
                      <div class="row"  ng-show="showTable">
                                <div class="col-md-6">
                                    <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                    <option value="10" class=" form-control input-sm">
                                        10
                                    </option>

                                    <option value="20" class=" form-control input-sm">
                                        20
                                    </option>

                                    <option value="All" class=" form-control input-sm">
                                        All
                                    </option>
                                </select>
                                    <button class="btn btn-primary btn-small ng-binding" type="button" id="designew" ng-click="New()"><span class="semi-bold"></span>{{"New" | translate}}</button>
                                    <button class="btn btn-danger btn-small ng-binding" type="button" ng-click="OkDelete()"><span class="semi-bold"></span>{{"Delete" | translate}}</button>
                                </div>

                                <div class="col-md-6">
                                    <div class="pull-right">
                                        <div class="dataTables_filter" id="example_filter">
                                
                                            <span class="k-textbox k-space-right full-width">
                                                <input type="text" aria-controls="example" ng-model="search.$" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" >
                                                <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                            </span>
                                        </div>
                                     </div>
                                </div>
                      </div>




                      <div class="row"  ng-show="showTable">
                    <div class="col-md-12">
                        <table class="table table-bordered table-hover table-condensed" id="fixTable">
                            <thead>
                                <tr style="background-color: #edefef", "height:20px">
                                    <th class="small-cell v-align-middle" style="vertical-align:middle">
                                        <div class="checkbox check-success" style="height:20px;margin-left: 9px;">
                                           <input type="checkbox" name="check" value="1" id="mainchk" ng-model="selectedAll" ng-click="isSelectAll();">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>

                                    <th class="semi-bold" style="background-color: rgb(236, 240, 242); position: relative; top: 0px;">
                                        <label><b class="ng-binding">{{"SR NO." | translate}}</b></label>
                                    </th>

                                    <th class="semi-bold" style="background-color: rgb(236, 240, 242); position: relative; top: 0px;">
                                        <label><b class="ng-binding">{{"NAME" | translate}}</b></label>
                                    </th>

                                    <th class="semi-bold" style="background-color: rgb(236, 240, 242); position: relative; top: 0px;">
                                        <label><b class="ng-binding">{{"NEXT DATE" | translate}}</b></label>
                                    </th>

                                    <th class="semi-bold" style="background-color: rgb(236, 240, 242); position: relative; top: 0px;">
                                        <label><b class="ng-binding">{{"ALERT DAY" | translate}}</b></label>
                                    </th>


                                    <th class="semi-bold" style="background-color: rgb(236, 240, 242); position: relative; top: 0px;">
                                        <label><b class="ng-binding">{{"STATUS" | translate}}</b></label>
                                    </th>


                                    <th class="semi-bold" style="background-color: rgb(236, 240, 242); position: relative; top: 0px;">
                                        <label><i class="fa fa-cogs"></i></label>
                                    </th>

                                </tr>
                            </thead>

                            <tbody>
                                
                                <tr ng-repeat="config in filteredTodos | filter:search:strict">
                                    <td>
                                        <div class="row-fluid">
                                            <label></label>
                                            <div class="checkbox check-success" style="height: 20px">
                                            <input type="checkbox" name="check" value="1" id="ac-{{$index}}" ng-model="info.ischecked" ng-click="checkIfAllSelected();">
                                            <label for="ac-{{$index}}"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        {{$index + 1}}
                                    </td>
                                    <td>{{config.sims_scriptname}}</td>                                    
                                    <td>{{config.sims_nextdate}}</td>
                                    <td>{{config.sims_alertdays}}</td>
                                    <td class="v-align-middle">
                                          <span ng-if="config.sims_status1==true" class="label label-success">{{"Active" | translate}}</span>
                                          <span ng-if="config.sims_status1==false" class="label label-important">{{"Inactive" | translate}}</span>

                                     </td>
                                    <td><a href=""><i class="fa fa-edit" ng-click="edit(config)"></i></a></td>
                                </tr>

                            </tbody>
                           
                        </table>
                       
                    </div>
                     <div class="col-md-12" ng-show ="pager">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>

                    </div>

                </div>


             <!--   New Form-->

                      <div class="row" ng-show="showForm2">
                      <div class="col-md-12">
                        
                                    <form name="showForm"  novalidate="novalidate">
                                     
                                          <div class="row">
                                                  <div class="col-md-8">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label class="ng-binding">{{"Alert Name" | translate}}</label>
                                                            <input type="text" class="k-textbox input-sm full-width" ng-model="alertconfig.sims_alert_name" required>
                                                         </div>
                                                        <div class="col-md-4" ng-class="{'has-error': !showForm.scriptname.$valid && (showForm.scriptname.$touched || showForm.$submitted) }">

                                                        <label class="ng-binding">{{"Script Name" | translate}} <span class="asterisk" style="color: red">*</span></label>
                                                        <input type="text" class="k-textbox input-sm full-width" name="scriptname" required ng-model="alertconfig.sims_scriptname">
                                                        <p class="help-block" ng-show="showForm.scriptname.$error.required &&  (showForm.scriptname.$touched || showForm.$submitted)">
                                                            Please enter script name
                                                        </p>
                                                    </div>
                                                        <div class="col-md-4">
                                                            <label class="ng-binding">{{"Start Date" | translate}}</label>
                                                             <input type="text" id="dp_admdate" placeholder="Select Date" name="admpdate" class="k-textbox input-sm full-width" ng-model="alertconfig.sims_startdate">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label class="ng-binding">{{"Alert Day" | translate}}</label>
                                                            <input type="text" class="k-textbox input-sm full-width" ng-model="alertconfig.sims_alertdays" >
                                                         </div>
                                                        <div class="col-md-4">
                                                             <label class="ng-binding">{{"Next Date" | translate}}</label>
                                                            <input type="text" id="start_date" placeholder="Select Date" name="admpdate" class="k-textbox input-sm full-width" ng-model="alertconfig.sims_nextdate" ng-change="adm_date(edt.admission_date)" ng-disabled="true">
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label class="ng-binding">{{"Control Field" | translate}}</label>
                                                            <input type="text" class="k-textbox input-sm full-width" ng-model="alertconfig.sims_control_field">
                                                        </div>
                                                    </div>
                                               </div>


                                                  <div class="col-md-4">
                                                    <label class="ng-binding">{{"Alert Description" | translate}}</label>
                                                    <textarea class="full-width" rows="5" ng-model="alertconfig.sims_alert_desc"></textarea> 
                                                </div>
                                          </div>
                                         
                                        <div class="row">
                                            <div class="col-md-12">
                                           
                                            <div class="checkbox check-success">

                                                    <input id="status" type="checkbox"  class="k-checkbok" ng-model="alertconfig.sims_status1">
                                                    <label for="status">{{"Status" | translate}}</label>
                                              
                                            </div>

                                                
                                            </div>
                                        </div>  
                                       

                                           <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-actions">
                                                            <div class="pull-right">
                                                                <button class="btn btn-primary btn-small ng-binding" type="submit" ng-show="save1" ng-click="save(showForm.$valid);"><i class="icon-ok"></i>{{"Save" | translate}}</button>
                                                                <button class="btn btn-primary btn-small ng-binding ng-hide" type="button" ng-show="updatebtn" ng-click="Update(showForm.$valid);"><i class="icon-ok"></i>{{"Update" | translate}}</button>
                                                                <button class="btn btn-danger btn-small ng-binding ng-hide" type="button" ng-show="deletebtn" ng-click="OkDelete()"><i class="icon-ok"></i>{{"Delete" | translate}}</button>
                                                                <button class="btn btn-danger btn-small ng-binding" type="button" ng-click="cancel()">{{"Cancel" | translate}}</button>
                                                            </div>
                                                        </div>
                                                    </div>

                                            </div>
                                         

                                     </form>
                        
                    </div>
                 </div>
                </div>
            </div>
        </div>
</div>

<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>

