﻿<link href="assets/plugins/jquery-datatable/css/jquery.dataTables.css" rel="stylesheet" />
<link href="assets/plugins/datatables-responsive/css/datatables.responsive.css" rel="stylesheet" />
<style>
    .k-textbox .k-icon {
        top: 50%;
        margin: -9px -9px 0;
        position: absolute;
    }

    .k-input {
        padding: 0em;
        margin-top: 0px;
    }

    .card {
        background: #FFF;
        display: block;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        border: 1px solid #AAA;
        border-bottom: 3px solid #BBB;
        padding: 0px;
        /*margin-top:5em;*/
        overflow: hidden;
        /*box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
        font-family: 'Roboto', sans-serif;
        -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .card-body {
        margin: 1em;
    }

    .pull-left {
        float: left;
    }

    .pull-none {
        float: none !important;
    }

    .pull-right {
        float: right;
    }


    .card-header-blue {
        display: flex;
        padding-left: 10px;
        font-size: 12px;
        background-color: #099a8c;
        color: #FFFFFF;
        border-bottom: 3px solid #BBB;
        /*box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
        font-family: 'Roboto', sans-serif;
        /*padding:0px;*/
        margin-top: 0px;
        overflow: hidden;
        -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .dwnclr {
        padding-left: 10px;
        color: #0aa699;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <!-- <div style="color:#26A2DD; font-size:18px;font-weight:lighter">Subject Teacher List</div> -->
        <div class="grid simple">
            <div class="page-title">
                <h3>{{ 'Alert' | translate }}<span class="semi-bold"></span></h3>
            </div>

            <!--<div class="grid-body no-border">-->
                <form class="form-no-horizontal-spacing" id="form-condensed" name="myForm">
                    <div class="raw">
                    <div class="paddingcode grid-body bluegrd" style="border: 1px solid #dddddd;">
                    <div class="row">

                        <div class="col-md-2">
                            <label id="Label1" for="txt_full_name" class="form-label"><i class="fa fa-calendar"></i>{{"From Date:" | translate}}</label>
                            <div>

                                <input name="date" class="k-textbox input-sm full-width" id="from_date"
                                       ng-change="setStart(startDate)" ng-model="startDate">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label id="Label3" for="txt_full_name" class="form-label"><i class="fa fa-calendar"></i>{{"To Date:"| translate}}</label>
                            <input name="date" class="k-textbox input-sm full-width" id="to_date" ng-change="setEnd(endDate)" ng-model="endDate">
                            <!--<div class="input-append success date col-md-4 col-lg-8 no-padding" data-datepicker="true">
                                <input type="text" name="date" class="form-control" ng-change="setEnd(endDate)" ng-model="endDate">
                                <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                            </div>-->
                        </div>
                        <div class="col-md-2">
                            <label><i class="fa fa-align-justify"></i>{{"Source"| translate }}</label>
                            <select id="Select2" data-role="dropdownlist"
                                    class="form-control input-sm full-width" ng-model="edt.module_code"
                                    ng-options="c.module_code as c.module_name for c in getModule">
                                <option value="" selected disabled>Please Select</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label><i class="fa fa-bookmark"></i>{{"Read/Unread Status"| translate }}</label>
                            <select id="Select3" data-role="dropdownlist"
                                    class="form-control input-sm full-width" ng-model="edt.alert_status"
                                    ng-options="c.alert_status as c.alert_status_name for c in getAlertStatus">
                                <option value="" selected disabled>Please Select</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <div class="pull-right">
                                <label>&nbsp;</label>
                                <button type="button" class="btn btn-primary btn-cons btn-small" ng-click="show_alert()">{{"Show"|translate}}</button>
                                <button type="button" class="btn btn-primary btn-cons btn-small" ng-click="show_reset()">{{"Reset"|translate}}</button>
                            </div>
                        </div>
                    </div>
                        </div>
                        </div>
                    <div ng-show="busy">
                        <div class="col-md-5">
                            &nbsp;
                        </div>
                        <div class="col-md-5">
                            <img src="assets/images/loading.gif" />
                        </div>
                    </div>
                    <div ng-show="rgvtbl">
                        <div class="dataTables_wrapper form-inline" id="Div2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="raw">
                                        <div class="paddingcode grid-body no-border" style="background-color: white;">
                                    <table class="table  table-hover table-bordered table-condensed" id="fixTable" aria-describedby="example2_info">
                                        <thead>
                                            <tr style="background-color: #edefef">
                                                <th class="semi-bold"><i class="fa fa-sort-numeric-asc"></i>{{" Sr. No"| translate }}</th>
                                                <th class="semi-bold"><i class="fa fa-calendar"></i>{{" Date"| translate }}</th>
                                                <th class="semi-bold" style="width: 500px"><i class="fa fa-align-justify"></i>{{" Alert Description"| translate }}</th>
                                                <th class="semi-bold"><i class="fa fa-bookmark"></i>{{" Read/Unread Status"| translate }}</</th>
                                            </tr>
                                        </thead>
                                        <tbody role="alert" aria-live="polite" aria-relevant="all">

                                            <tr ng-repeat="info in AlertDetails |orderBy:orderByField:reverseSort" ng-dblclick="row_click(info)"
                                                class="{{row1}}" style="padding-bottom: 02px !important">
                                                <td class="semi-bold">{{$index+1}}</td>
                                                <td>{{info.alert_date}}</td>
                                                <td style="width: 500px">
                                                    <label style="width: 500px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap">{{info.alert_msg}}</label>
                                                </td>
                                                <td class="v-align-middle">
                                                    <span ng-if="info.alert_status=='R'" class="label label-success">{{info.alert_status_name}}</span>
                                                    <span ng-if="info.alert_status=='U'" class="label label-important">{{info.alert_status_name}}</span>
                                                </td>


                                            </tr>
                                        </tbody>
                                    </table>
                                        </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            <!--</div>-->
        </div>
    </div>
</div>


<div class="modal fade in" id="myModal" role="dialog" tabindex="-1" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content" uib-modal-transclude="">
            <div class="grid-body no-border">
                <div class="card">
                    <div class="card-content" style="width:100%">
                        <div class="card-header-blue">
                            <div style=" width: 31px;height: 31px;font-size: 20px;">
                                <i class="fa fa-bell"></i>
                            </div>
                            <div style="width:100%">
                                <div class=""><b>{{"Module:" |translate}}&nbsp;&nbsp;{{module_name}}</b></div>
                                <div class="">
                                    <b>{{"Date"|translate}}:</b>&nbsp;&nbsp;{{alert_date}}
                                </div>
                            </div>
                            <div style="float:right;padding: 5px;">
                                <button class="br-0 btn-white btn-mini" data-dismiss="modal" type="button">X</button>
                            </div>
                        </div>
                        <div class="card-body" style="cursor:pointer" ng-click="go_application()">
                            <b>{{"Message" | translate}}:</b>&nbsp;
                            <!--<p class="card-p">{{alert_msg}}</p>-->
                            <p ng-bind-html="alert_msg | html"></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!--<link href="assets/plugins/bootstrap-datepicker/css/datepicker.min.css" rel="stylesheet" />
<script src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>-->
<script src="assets/js/calender-datepicker-id.js"></script>
