﻿<div class="row" style="background: white; padding:5px;">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3>{{ 'Approval Email/SMS/Communication' | translate }}<span class="semi-bold"></span></h3>
            </div>

            <div class="row" style="padding:13px;">
                <div class="radio radio-success">
                    <input id="chk_email" type="radio" name="optionyes" ng-click="showingEmail()">
                    <label style="font-size:large; color:mediumblue; " for="chk_email">{{"Email Approval" | translate }}&nbsp;</label>
                    <input id="chk_sms" type="radio" name="optionyes" ng-click="showingSMS()">
                    <label style="font-size:large; color:mediumblue; " for="chk_sms">{{"SMS Approval" | translate }}</label>
                    <input id="chk_comm" type="radio" name="optionyes" ng-click="showingCommunication()">
                    <label style="font-size:large; color:mediumblue; " for="chk_comm">{{"Communication Approval" | translate }}</label>

                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label id="Label1" style="font-size:small" for="txt_full_name" class="form-label">{{"From Date:" | translate}} </label>
                </div>
                <div class="col-md-2">
                    <input type="text" name="date" id="reg_date" ng-model="fromData" class="k-textbox input-sm full-width">
                </div>
                <div class="col-md-1">
                    <div class="checkbox check-success">
                        <input id="Checkbox1" type="checkbox">
                        <label style="font-size:small" for="Checkbox1">Null</label>
                    </div>
                </div>
                <div class="col-md-1">

                </div>
                <div class="col-md-1">
                    <label id="Label3" style="font-size:small" for="txt_full_name" class="form-label">{{"To Date:"| translate}}</label>
                </div>
                <div class="col-md-2">
                    <input type="text" name="date" id="to_date" ng-model="toDate" class="k-textbox input-sm full-width">
                </div>
                <div class="col-md-1">
                    <div class="checkbox check-success">
                        <input id="Checkbox2" type="checkbox">
                        <label style="font-size:small" for="Checkbox2">Null</label>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="show_email">
                <div class="col-md-2">
                    <label id="label5" style="font-size:small" class="form-label">{{"Email Address:" | translate}}</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="full-width" ng-model="emailAddress" name="EmailAddress" data-role="dropdownlist" ng-maxlength="50">
                </div>
                <div class="col-md-1">

                </div>
                <div class="col-md-1">
                    <label id="label2" style="font-size:small" class="form-label">{{"Subject:" | translate}}</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="full-width" ng-model="subjectEmail" name="Subject" data-role="dropdownlist" ng-maxlength="50">
                </div>

            </div>
            <div class="row" ng-show="show_SMS">
                <div class="col-md-2">
                    <label id="label5" style="font-size:small" class="form-label">{{"Mobile Number:" | translate}}</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="full-width" ng-model="mobileNo" name="mobileNo" data-role="dropdownlist" ng-maxlength="50">
                </div>
                <div class="col-md-1">

                </div>
                <div class="col-md-1">
                    <label id="labelMobile" style="font-size:small" class="form-label">{{"Message:" | translate}}</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="full-width" ng-model="mobilemessage" name="SubjectSMS" data-role="dropdownlist" ng-maxlength="50">
                </div>

            </div>
            <div class="row" ng-show="show_Comm">
                <div class="col-md-2">
                    <label id="label5" style="font-size:small" class="form-label">{{"Parent ID:" | translate}}</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="full-width" name="parentId" ng-model="parentID" data-role="dropdownlist" ng-maxlength="50">
                </div>
                <div class="col-md-1">

                </div>
                <div class="col-md-1">
                    <label id="labelcommun" style="font-size:small" class="form-label">{{"Message:" | translate}}</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="full-width" name="commMessage" ng-model="techerId" data-role="dropdownlist" ng-maxlength="50">
                </div>

            </div>
            <div class="row" >
                <div class="col-md-2" style="padding:3px;" ng-show="showing_groupby">
                    <label style="font-size:small">{{"Groub By" | translate }}&nbsp;</label>
                </div>
                <div class="col-md-4" style="padding:5px;" ng-show="showing_groupby">
                    <div class="radio radio-success">
                        <input id="chk_subject" type="radio" name="optionFilter">
                        <label style="font-size:small" for="chk_subject">{{"Subject" | translate }}&nbsp;</label>
                        <input id="chk_date" type="radio" name="optionFilter">
                        <label style="font-size:small" for="chk_date">{{"Date" | translate }}</label>
                        <input id="chk_all" type="radio" name="optionFilter">
                        <label style="font-size:small" for="chk_all">{{"ALL" | translate }}</label>

                    </div>
                </div>
                <div class="col-md-2 pull-right">
                    <button type="button" class="btn btn-primary btn-small" ng-click="Show_Data()">{{"Search"|translate}}</button>
                    <button type="button" class="btn btn-primary btn-small" style="color: white !important; font-size: 12px !important; background-color: rgb(243, 89, 88);" ng-click="approvalData()">{{"Approve"|translate}}</button>
                </div>
            </div>
        </div>
        <div id="example_wrapper" class="dataTables_wrapper form-inline" ng-show="email_table">
            <div class="row margin-top">
                <div class="col-md-12">
                    <table class="table table-striped table-flip-scroll cf" id="fixTable">
                        <thead style="background-color: white">
                            <tr style="background-color: #edefef">
                                <th class="small-cell v-align-middle" style="z-index:999">
                                    <div class="checkbox check-success">
                                        <input type="checkbox" name="check" value="1" id="mainchkemail" ng-click="CheckAllCheckedEmail();">
                                        <label for="mainchkemail"></label>
                                    </div>
                                </th>
                                <th>
                                    <b>{{"Sr No."| translate }}</b>
                                </th>
                                <th ng-click="orderByField='sims_recepient_id'; reverseSort = !reverseSort">
                                    <b><span> {{"Receive Email Id"| translate }}</span>   </b><i class="material-icons">arrow_drop_down</i>
                                </th>
                                <th ng-click="orderByField='sims_email_subject'; reverseSort = !reverseSort">
                                    <b><span> {{"Subject"| translate }}</span>   </b><i class="material-icons">arrow_drop_down</i>
                                </th>
                                <th ng-click="orderByField='sims_email_message'; reverseSort = !reverseSort">
                                    <b><span> {{"Message Count"| translate }}</span>   </b><i class="material-icons">arrow_drop_down</i>
                                </th>
                                <th ng-click="orderByField='sims_email_date'; reverseSort = !reverseSort">
                                    <b><span> {{"Email Data"| translate }}</span>   </b><i class="material-icons">arrow_drop_down</i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="j in approvalDataEmail | orderBy:orderByField:reverseSort" ng-class="row1">
                                <td>
                                    <div class="checkbox check-success" style="height: 20px">
                                        <input type="checkbox" name="check" value="1" id="{{$index+'email'+1}}" ng-click="checkonebyonedelete();">
                                        <label for="{{$index+'email'+1}}">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <label id="Label8">{{$index+1}}</label>
                                </td>
                                <td>
                                    <label id="Label35" style="width:100% !important;word-break: break-all">{{j.sims_recepient_id}}</label>
                                </td>
                                <td style="width: 30%;">
                                    <label id="Label35">{{j.sims_email_subject}}</label>
                                </td>
                                <td>
                                    <label id="Label35">{{j.sims_email_message}}</label>
                                </td>
                                <td style="width: 7%;">
                                    <label id="Label35">{{j.sims_email_date}}</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="example_wrapper" class="dataTables_wrapper form-inline" ng-show="sms_table">
            <div class="row margin-top">
                <div class="col-md-12">
                    <table class="table table-striped table-flip-scroll cf" id="fixTable">
                        <thead style="background-color: white">
                            <tr style="background-color: #edefef">
                                <th class="small-cell v-align-middle" style="z-index:999">
                                    <div class="checkbox check-success">
                                        <input type="checkbox" name="check" value="1" id="mainchksms" ng-click="CheckAllCheckedSMS();">
                                        <label for="mainchksms"></label>
                                    </div>
                                </th>
                                <th>
                                    <b>{{"Sr No."| translate }}</b>
                                </th>
                                <th ng-click="orderByField='sims_recepient_id'; reverseSort = !reverseSort">
                                    <b><span> {{"Receive Sms Number"| translate }}</span>   </b><i class="material-icons">arrow_drop_down</i>
                                </th>
                                <th ng-click="orderByField='sims_sms_message'; reverseSort = !reverseSort">
                                    <b><span> {{"SMS Message"| translate }}</span>   </b><i class="material-icons">arrow_drop_down</i>
                                </th>
                                <th ng-click="orderByField='sims_sms_date'; reverseSort = !reverseSort">
                                    <b><span> {{"SMS Date"| translate }}</span>   </b><i class="material-icons">arrow_drop_down</i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="j in approvalDataSMS | orderBy:orderByField:reverseSort" ng-class="row1">
                                <td>
                                    <div class="checkbox check-success" style="height: 20px">
                                        <input type="checkbox" name="check" value="1" id="{{$index+'sms'+1}}" ng-click="checkonebyonedelete();">
                                        <label for="{{$index+'sms'+1}}">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <label id="Label8">{{$index+1}}</label>
                                </td>
                                <td>
                                    <label id="Label35">{{j.sims_recepient_id}}</label>
                                </td>
                                <td>
                                    <label id="Label35">{{j.sims_sms_message}}</label>
                                </td>
                                <td>
                                    <label id="Label35">{{j.sims_sms_date}}</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="example_wrapper" class="dataTables_wrapper form-inline" ng-show="comm_table">
            <div class="row margin-top">
                <div class="col-md-12">
                    <table class="table table-striped table-flip-scroll cf" id="fixTable">
                        <thead style="background-color: white">
                            <tr style="background-color: #edefef">
                                <th class="small-cell v-align-middle" style="z-index:999">
                                    <div class="checkbox check-success">
                                        <input type="checkbox" name="check" value="1" id="mainchkComm" ng-click="CheckAllCheckedComm();">
                                        <label for="mainchkComm"></label>
                                    </div>
                                </th>
                                <th>
                                    <b>{{"Sr No."| translate }}</b>
                                </th>
                                <th ng-click="orderByField='sims_comm_number'; reverseSort = !reverseSort">
                                    <b><span> {{"Communication No"| translate }}</span>   </b><i class="material-icons">arrow_drop_down</i>
                                </th>
                                <th ng-click="orderByField='sims_comm_message'; reverseSort = !reverseSort">
                                    <b><span> {{"Message"| translate }}</span>   </b><i class="material-icons">arrow_drop_down</i>
                                </th>
                                <th ng-click="orderByField='sims_comm_tran_date'; reverseSort = !reverseSort">
                                    <b><span> {{"Communication Date"| translate }}</span>   </b><i class="material-icons">arrow_drop_down</i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="j in approvalDataComm | orderBy:orderByField:reverseSort" ng-class="row1">
                                <td>
                                    <div class="checkbox check-success" style="height: 20px">
                                        <input type="checkbox" name="check" value="1" id="{{$index+'com'+1}}" ng-click="checkonebyonedelete();">
                                        <label for="{{$index+'com'+1}}">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <label id="Label8">{{$index+1}}</label>
                                </td>
                                <td>
                                    <label id="Label35">{{j.sims_comm_number}}</label>
                                </td>
                                <td>
                                    <label id="Label35">{{j.sims_comm_message}}</label>
                                </td>
                                <td>
                                    <label id="Label35">{{j.sims_comm_tran_date}}</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="assets/js/calender-datepicker-id.js"></script>
