﻿<style>
    .ms-choice {
        height: 26px;
       
    }
    .greed-title {
            margin-bottom: 15px;

    }
</style>


<!DOCTYPE html>
<html>
<body>
    <div class="grid-simple">
        <div class="content">
            <div class="row" >
                <div class="col-md-12" style="padding-left:14px !important;padding-right:14px !important;background:#d8ebf4 !important;">
                    <!--<div class="grid simple">-->
                        <div class="greed-title no-border" style="padding-bottom:0px !important;padding-top: 4px !important">

                            <div class="row" style="background:#d8ebf4 !important;padding-bottom:12px !important;padding-top: 6px !important">

                                <div class="col-md-12">
                <div class="col-md-1">
                                    <label id="Label" for="txt_Nationality_Code" class="form-label">
                                        <i class="fa fa-book"></i>
                                        {{"Curriculum"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="temp.sims_cur_code" ng-selected="" name="sims_cur_code" 
                                            ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in cur_data" required></select>
                                </div>

            <!--    <div class="col-md-2" style="margin-right:-79px;padding-right: 80px;">
                                    <label id="Label1" for="txt_Nationality_Code" class="form-label">
                                        <i class="fa fa-sort-amount-desc"></i>
                                        {{"Academic Year"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="Select1" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="temp.sims_academic_year" ng-selected="" name="sims_academic_year" ng-change="getGrade(temp.sims_cur_code,temp.sims_academic_year)"
                                            ng-options="acad.sims_academic_year as acad.sims_academic_year_desc for acad in acad_data" required></select>
                                </div>-->

              

                <!--div class="col-md-1">
                           <label id="Label2" for="txt_Nationality_Code" class="form-label style="margin-top: 2px;">
                        <label><label><i class="fa-align-justify 	"></i>{{"Section"|translate}} <span class="asterisk" style="color: red">*</span></label>
                        <select id="cmb_section_code" multiple="multiple" class="full-width" ng-model="temp.sims_section_code" ng-change="parameter()">
                            <option ng-repeat="section in Section_code|filter:{sims_section_name:''}" value="{{section.sims_section_code}} ">{{section.sims_section_name}}</option>
                        </select>
                    </div>-->

            

                <div class="col-md-2">
                     <label id="Label5" for="txt_Nationality_Code" class="form-label style="margin-top: 2px;">
                    <label><i class="fa fa-calendar"></i>&nbsp;{{"From Date"|translate}} </label>
                    <!--<div class="input-append success  no-padding" data-datepicker="true" style="width: auto">-->
                    <span class="k-widget k-datepicker k-header k-textbox input-sm full-width k-input" style="width: 100%;">
                        <span class="k-picker-wrap k-state-default">
                            <input type="text" id="from_date" name="start_date"
                                   class="k-textbox input-sm full-width k-input ng-pristine ng-valid ng-touched" ng-model="mom_start_date "
                                   ng-change="" data-role="datepicker" role="combobox" aria-expanded="false" peaceholer="Select Date"
                                   aria-owns="start_date_dateview" aria-disabled="false" aria-readonly="false" style="width: 100%;"
                                   aria-activedescendant="8a8a008b-1b3c-42a7-be94-431c355f22e6_cell_selected">
                            <span unselectable="on" class="k-select" role="button" aria-controls="start_date_dateview">
                                <span unselectable="on" class="k-icon k-i-calendar">select</span>
                            </span>
                        </span>
                    </span>
                    <!-- <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                    </div>  -->
                </div>

                <!--<div class="col-md-1">
                     <label id="Label6" for="txt_Nationality_Code" class="form-label style="margin-top: 2px;">
                    <label class="form-label1">
                        {{"Null"| translate }}
                    </label>
                    <div class="checkbox check-success">
                        <input type="checkbox" id="chkmarks" ng-model="mom_start_date_check" />
                        <label for="chkmarks"></label>
                    </div>
                </div>-->

                <div class="col-md-2">
                     <label id="Label7" for="txt_Nationality_Code" class="form-label style="margin-top: 2px;">
                    <label class="ng-binding"><i class="fa fa-calendar"></i>&nbsp;{{"To Date"|translate}} </label>
                    <!--<div class="input-append success  no-padding" data-datepicker="true" >-->
                    <span class="k-widget k-datepicker k-header k-textbox input-sm full-width" style="width: 100%;">
                        <span class="k-picker-wrap k-state-default">
                            <input type="text" id="to_date" name="end_date"
                                   class="k-textbox input-sm full-width k-input ng-pristine ng-valid ng-touched" ng-model="mom_end_date"
                                   ng-change="" data-role="datepicker" role="combobox" aria-expanded="false"
                                   aria-owns="expiry_date_dateview" aria-disabled="false" aria-readonly="false" style="width: 100%;">
                            <span unselectable="on" class="k-select" role="button" aria-controls="expiry_date_dateview">
                                <span unselectable="on" class="k-icon k-i-calendar">select</span>
                            </span>
                        </span>
                    </span>
                    <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                    </div>-->
                </div>

               <!-- <div class="col-md-1">
                     <label id="Label8" for="txt_Nationality_Code" class="form-label style="margin-top: 2px;">
                    <label class="form-label1">
                        {{"Null"| translate }}
                    </label>
                    <div class="checkbox check-success">
                        <input type="checkbox" id="chkmarks1" ng-model="mom_end_date_check" />
                        <label for="chkmarks1"></label>
                    </div>
                </div> -->   

                <div class="col-md-1">
                                    <label id="Label2" for="txt_Nationality_Code" class="form-label">
                                        <i class="fa fa-users"></i>
                                        {{"User Group"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="report_for" class ="form-control input-sm full-width"
                                            ng-model="temp.comn_user_group_code" ng-selected="" name="comn_user_group_code"
                                            ng-options="temp.comn_user_group_code as temp.comn_user_group_name for temp in report_for" required></select>
                                </div>

                <div class="col-md-1">
                                    <label id="Label1" for="txt_Nationality_Code" class="form-label">
                                        <i class="fa fa-pencil-square-o"></i>
                                        {{"Status"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="status"   class ="form-control input-sm full-width"
                                            ng-model="temp.comn_appl_parameter" ng-selected="" name="comn_appl_parameter"
                                            ng-options="temp.comn_appl_parameter as temp.comn_appl_form_field_value1 for temp in status_for" required></select>
                                </div>
                                  
                <div class="col-md-5">                 
                         
                <div class="pull-right">
                    <label>&nbsp;</label>
                    <button type="button" class="btn btn-primary btn-cons" ng-click="getdetails()">{{"Submit"|translate}}</button>
                    <button class="btn btn-rounded btn-warning btn-cons" type="button" ng-click="reset_data()"><i class="icon-ok"></i>{{"Reset"|translate}}</button>
                    <button type="button" class="btn btn-primary btn-cons" ng-click="exportData()">{{"Excel"|translate}}</button>
                    <button type="button" class="btn btn-primary btn-cons" ng-click="print()">{{"Print"|translate}}</button>
                </div>
            </div>
                                   

                            </div><!---- row -->
                           
                           



                        </div>
                    <!--</div>-->
                </div>
            </div>

            <div ng-show="detailsField">

                <div class="content" style=" margin-left:  -6px; margin-right: -5px;">
                    <div class="greed-title no-border" style="background-color:  white;">
                        <div class="col-md-12">
                            <div class="row margin-top=0px">
                                <div class="col-md-6" style=" padding-left: 6px;">
                                    <select id=" select1" style="width: 60px;" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                        <option value="30" class=" form-control input-sm">
                                            30
                                        </option>

                                        <option value="60" class=" form-control input-sm">
                                            60
                                        </option>

                                        <option value="All" class=" form-control input-sm">
                                            All
                                        </option>
                                    </select>
                                </div>

                                <div class="col-md-6">                
                <div class="pull-right">
                    <span class="k-textbox k-space-right">
                        <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                        <a href="#" class="k-icon k-i-search">&nbsp;</a>
                    </span>
                </div>
            </div>
                            </div>
                        </div>

                        
           

                    <div class="grid-body no-border">
                <div class="row margin-top" >
                    <div class="row margin-top">
                              <div class="col-md-12" id="rpt_data1" style="overflow-x:auto;margin-left:6px !important;">
                            <table class="table table-striped table-flip-scroll cf" style="width:99% !important;">
                                <thead ng-if="!colsvis">
                                    <tr style="" background-color #edefef">
                                        <th ng-click="sortBy('sims_circular_number')"><i class="fa fa-sort-numeric-asc"></i>&nbsp;<b>{{"Circular No"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_circular_number'" ng-class="{reverse: reverse}"></span></th>
                                        <th ng-click="sortBy('sims_circular_title')"><i class="fa fa-align-justify"></i>&nbsp;<b>{{"Circular Title"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_circular_title'" ng-class="{reverse: reverse}"></span></th>
                                        <th ng-click="sortBy('sims_circular_date')"><i class="fa fa-calendar"></i>&nbsp;<b>{{"Date"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_circular_date'" ng-class="{reverse: reverse}"></span></th>
                                        <th ng-click="sortBy('group_name')"><i class="fa fa-group"></i>&nbsp;<b>{{"User Group"|translate}}</b><span class="sortorder" ng-show="propertyName === 'group_name'" ng-class="{reverse: reverse}"></span></th>
                                        <th ng-click="sortBy('sims_circular_user_name')"><i class="fa fa-dashboard"></i>&nbsp;<b>{{"User Code"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_circular_user_name'" ng-class="{reverse: reverse}"></span></th>
                                        <th ng-click="sortBy('name')"><i class="fa fa-sort-numeric-asc"></i>&nbsp;<b>{{"User Name"|translate}}</b><span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span></th>
                                         <th ng-click="sortBy('circular_status')"><i class="fa fa-bookmark"></i>&nbsp;<b>{{"Status"|translate}}</b><span class="sortorder" ng-show="propertyName === 'circular_status'" ng-class="{reverse: reverse}"></span></th>
                                         <th ng-click="sortBy('sims_circular_remark')"><i class="fa fa-bookmark"></i>&nbsp;<b>{{"Remark"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_circular_remark'" ng-class="{reverse: reverse}"></span></th>
                                     
                                    </tr>
                                </thead>
                                <thead ng-if="colsvis">
                                    <tr style="background-color:#edefef">
                                        <th style="text-align:left"><b>{{"Circular No"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Circular Title"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Date"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"User Group"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"User Code"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"User Name"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Status"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Remark"|translate}}</b></th>
                                       
                                    </tr>
                                </thead>
                                <tbody align="center">
                                    <tr ng-repeat="r in filteredTodos | orderBy:propertyName:reverse|filter:searchText">
                                      <!--<td style="text-align:left" >{{$index+1}}</td>-->
                                        <td style="text-align:left" >{{r.sims_circular_number}}</td>
                                        <td style="text-align:left" >{{r.sims_circular_title}}</td>
                                        <td style="text-align:left" >{{r.sims_circular_date}}</td>
                                        <td style="text-align:left" >{{r.group_name}}</td>
                                        <td style="text-align:left" >{{r.sims_circular_user_name}}</td>
                                        <td style="text-align:left" >{{r.name}}</td>
                                        <td style="text-align:left" >{{r.circular_status}}</td>
                                        <td style="text-align:left" >{{r.sims_circular_remark}}</td>
                                        



                                    </tr>
                                </tbody>
                            </table>

                        </div>


                    </div>
                    <div class="row">
                        <div class="col-md-12" ng-show="pager">
                            <div class="pull-right>
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            </div>

        </div>
    </div>
            </div>
        </div>
</body>
</html>


<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/plugins/fileSaver.js"></script>
<script src="assets/js/jszip.js"></script>
<script src="assets/js/xlsx.js"></script>
<script src="assets/js/xlsx-reader.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>



