﻿
<style>
    #outer_btn {
        background-color: #ee5315;
        color: white;
    }
</style>

<script src="assets/plugins/fileSaver.js"></script>
<script src="assets/js/jszip.js"></script>
<script src="assets/js/xlsx.js"></script>
<script src="assets/js/xlsx-reader.js"></script>

<div class="row" >
    <div class="col-md-12">
        <div class="grid simple">
            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="page-title">
                <h3><span class="semi-bold">{{"Circular Details"| translate }}</span> </h3>
            </div>
            <div class="row">
                <div class="paddingcode grid-body bluegrd ">
                    <div class="col-md-12 ">
                        <div class="col-md-1">
                            <label id="Label31" for="txt_Nationality_Code" class="form-label">
                                <i class="fa fa-book"></i>&nbsp;{{"Curriculum"| translate }} <span class="asterisk" style="color: red">*</span>
                            </label>
                            <select id="cmb_School_Code" data-role="dropdownlist" class="form-control input-sm full-width" name="user"
                                    ng-model="edt.sims_cur_code"
                                    ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in curriculum">
                                <option value="" selected>Please Select</option>
                            </select>
                        </div>
                        <div class="col-md-2" style="width:122px;">
                            <label id="Label32" for="txt_Nationality_Code" class="form-label"> <i class="fa fa-sort-amount-desc"></i>&nbsp;{{"Academic Year"| translate }} <span class="asterisk" style="color: red">*</span></label>
                            <div>
                                <select id="cmb_academic_year" data-role="dropdownlist" class="form-control input-sm full-width" name="user1"
                                        ng-model="temp.sims_academic_year"
                                        ng-options="year1.sims_academic_year as year1.sims_academic_year_desc for year1 in Acc_year">
                                    <option value="" selected>Please Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2" style="width:145px;">
                            <label id="Label31" for="txt_Nationality_Code" class="form-label">
                                <i class="fa fa-hand-o-up"></i>&nbsp;{{"Collobaration Type"| translate }}
                            </label>

                            <div>
                                <select id="cmb_circular_type" data-role="dropdownlist" class="form-control input-sm full-width" name="cmb_circular_type" ng-click="show_List_Of_Circular(temp.sims_circular_type)"
                                        ng-model="temp.sims_circular_type">
                                    <option value="" selected>Please Select</option>
                                    <option value="News">News</option>
                                    <option value="Circular">Circular</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2" style="width:190px;">
                            <label id="Label31" for="txt_Nationality_Code" class="form-label">
                                <i class="fa fa-list"></i>&nbsp;{{"Title"| translate }}
                            </label>
                            <div>
                                <select id="cmb_list_of_circular" data-role="dropdownlist" class="form-control input-sm full-width" multiple="multiple" name="cmb_list_of_circular"
                                        ng-model="temp.sims_news_title"
                                        ng-options="list.sims_news_title for list in listOfCircular"></select>
                            </div>
                        </div>
                        <div class="col-md-2" style="width:135px;">
                            <label id="Label31" for="txt_Nationality_Code" class="form-label">
                                <i class="fa fa-group"></i>&nbsp;{{"User Group"| translate }}
                            </label>

                            <div>
                                <select id="cmb_user_group" data-role="dropdownlist" multiple="multiple" class="form-control input-sm full-width" name="cmb_user_group"
                                        ng-model="temp.sims_circular_user_group_code"
                                        ng-options="obj.sims_circular_user_group_code as obj.sims_circular_user_group for obj in obj5"></select>
                            </div>
                        </div>
                        <div class="col-md-2" style="width:155px;">
                            <label id="Label31" for="txt_Nationality_Code" class="form-label">
                                <i class="fa fa-calendar"></i>&nbsp;{{"From Date"| translate }}
                            </label>
                            <input type="text" id="fromdate" required placeholder="Select From Date" name="fromdate" class="k-textbox full-width input-sm" ng-model="temp.sims_from_data">
                        </div>
                        <div class="col-md-2" style="width:155px;">
                            <label id="Label31" for="txt_Nationality_Code" class="form-label">
                                <i class="fa fa-calendar"></i>&nbsp;{{"To Date"| translate }}
                            </label>
                            <input type="text" id="todate" required placeholder="Select To Date" name="todate" class="k-textbox full-width input-sm" ng-model="temp.sims_to_data">
                        </div>
                        <div class="col-md-1">
                            <label>&nbsp;</label>
                            <button style="width:101px;" class="btn btn-primary btn-cons" type="button" ng-click="search_data()" id="save">{{"Search" |  translate }}</button>
                        </div>
                        <div class="col-md-1">
                            <label>&nbsp;</label>
                            <button style="width:101px;" class="btn btn-info btn-cons" ng-click="resetFunctionality()" type="button">{{"Reset"| translate }}</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="raw" style="background-color:white;margin-top:10PX;">

                <div class="paddingcode grid-body no-border">

                    <div class="col-md-12 ">
                        <div class="col-md-6">
                            <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                <option value="10" class="form-control input-sm">
                                    10
                                </option>

                                <option value="20" class="form-control input-sm">
                                    20
                                </option>

                                <option value="All" class="form-control input-sm">
                                    All
                                </option>
                            </select>
                            &nbsp;
                        </div>
                        <div id="example_wrapper" class="dataTables_wrapper form-inline">
                            <div class="row margin-top">
                                <div class="col-md-12">
                                    <table class="table table-striped table-flip-scroll cf" id="fixTable">
                                        <thead style="background-color: white">
                                            <tr style="background-color: #edefef">
                                                <th style="width:39px;">
                                                    <b>{{"Sr No."| translate }}</b>
                                                </th>
                                                <th style="width:300px;">
                                                    <b><i class="fa fa-user"></i>&nbsp;{{"Circular Name"| translate }}</b>
                                                </th>
                                                <th style="width:88px;">
                                                    <b><i class="fa fa-user"></i>&nbsp; {{"User Group"| translate }}</b>
                                                </th>
                                                <th style="width:112px;">
                                                    <b> <i class="fa fa-calendar"></i>&nbsp;{{"Circular Date"| translate }}</b>
                                                </th>
                                                <th style="width:102px;">
                                                    <b> <i class="fa fa-calendar"></i>&nbsp;{{"Publish Date"| translate }}</b>
                                                </th>
                                                <th style="width:94px;">
                                                    <b><i class="fa fa-user"></i>&nbsp;{{"Created By"| translate }}</b>
                                                </th>
                                                <th style="width:104px;">
                                                    <b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Acknowledge Count"| translate }}</b>
                                                </th>
                                                <th style="width:84px;">
                                                    <b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Sent Count"| translate }}</b>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="j in filteredTodos | orderBy:orderByField:reverseSort" ng-class="row1">
                                                <td>
                                                    <label id="Label8">{{$index+1}}</label>
                                                </td>
                                                <td>
                                                    <label id="Label6">{{j.sims_circular_title}}</label>
                                                </td>
                                                <td>
                                                    <label id="Label6">{{j.sims_comn_user_group_name}}</label>
                                                </td>
                                                <td>
                                                    <label id="Label5">{{j.sims_circular_date}}</label>
                                                </td>
                                                <td>
                                                    <label id="Label4">{{j.sims_circular_publish_date}}</label>
                                                </td>
                                                <td>
                                                    <label id="Label3">{{j.comn_user_name}}</label>
                                                </td>
                                                <td style="text-align: center;">
                                                    <label id="Label2" ng-click="clickAcknowledgment(j,'A')">{{j.sims_acknowledgment_count}}</label>
                                                </td>
                                                <td style="text-align: center;">
                                                    <label id="Label1" ng-click="clickAcknowledgment(j,'S')">{{j.sims_sent_count}}</label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="pager">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                            ng-click="index(currentPage)">
                                    </paging>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
        <div class="modal fade in" id="MyModal" role="dialog" style="display: none;">
            <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 1000px;">
                <div class="modal-content" uib-modal-transclude="" style="height: 550px;">
                    <div class="modal-header ng-scope" style="height: 40px">
                        <div class="pull-left">
                            <h4 class="modal-title custom-font" style="margin-top: -5px"><b>{{"Acknowledgment Details"|translate}}</b></h4>
                        </div>
                        <div class="pull-left" style="padding: inherit;">
                            <label id="Labe_circular_number_outer" class="modal-title custom-font"><b style="font-size: 23px; color: black; margin-top: -5px; ">{{sims_circular_title}}</b></label>
                        </div>
                        <div class="pull-left" style="padding: inherit;">
                            <label id="Labe_circular_number_outer" class="modal-title custom-font"><b style="font-size: 23px; color: black; margin-top: -5px; ">{{circular_number_outer}}</b></label>
                        </div>
                        <div class="pull-left" style="padding: inherit;" ng-show="hideAllTime">
                            <label id="Labe_circular_number_outer" class="modal-title custom-font"><b style="font-size: 23px; color: black; margin-top: -5px; ">{{click_type}}</b></label>
                        </div>
                        <div class="pull-right">
                            <a href="">
                                <h6 class="modal-title custom-font" style="margin-top: -5px" ng-click="ModalClear()"><b>X</b></h6>
                            </a>
                        </div>

                    </div>
                    <div class="modal-header ng-scope" style="height: 40px">
                        <div class="pull-left">
                            <button class="download-btn ng-binding" type="button" id="outer_btn" ng-click="all_function(circular_number_outer,click_type)" style="height: 34px;width:70px">{{"All" |  translate }}</button>
                            <button class="download-btn ng-binding" type="button" id="outer_btn" ng-click="staff_function(circular_number_outer,click_type)" style="height: 34px;width:70px">{{"Staff User" |  translate }}</button>
                            <button class="download-btn ng-binding" type="button" id="outer_btn" ng-click="student_function(circular_number_outer,click_type)" style="height: 34px;width:70px">{{"Student" |  translate }}</button>
                            <button class="download-btn ng-binding" type="button" id="outer_btn" ng-click="system_function(circular_number_outer,click_type)" style="height: 34px;width:100px">{{"System User" |  translate }}</button>
                            <button class="download-btn ng-binding" type="button" id="outer_btn" ng-click="support_function (circular_number_outer,click_type)" style="height: 34px;width:100px">{{"Support User" |  translate }}</button>
                            <button class="download-btn ng-binding" type="button" id="outer_btn" ng-click="product_function (circular_number_outer,click_type)" style="height: 34px;width:100px">{{"Product User" |  translate }}</button>
                            <button class="download-btn ng-binding" type="button" id="outer_btn" ng-click="visiting_function(circular_number_outer,click_type)" style="height: 34px;width:100px">{{"Visiting User" |  translate }}</button>
                            <button class="download-btn ng-binding" type="button" id="outer_btn" ng-click="parent_function(circular_number_outer,click_type)" style="height: 34px;width:70px">{{"Parent" |  translate }}</button>
                        </div>
                        <div class="pull-right" style="margin-top: -5px">
                            <button type="button" id="Button1" class="btn btn-primary btn-small" ng-click="exportData()">{{"Export" | translate }}</button>
                        </div>
                    </div>
                    <div class="grid simple">
                        <div class="grid-body no-border">
                            <div class="row" style="margin-top:-27px;">

                                <div class="row" ng-show="busy">
                                    <div class="col-md-12">
                                        <div class="row form-row">
                                            <div class="col-md-5">
                                            </div>
                                            <div class="col-md-2">
                                                <img src="assets/images/loading.gif" />
                                            </div>
                                            <div class="col-md-5">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="grid-body no-border" ng-show="btn_all" id="all_data">
                                    <div class="row ">
                                        <div class="col-md-12">
                                            <table class="table table-striped table-flip-scroll cf" id="fixTable">
                                                <thead style="background-color: white">
                                                    <tr style="background-color: #edefef">
                                                        <th>
                                                            <b>{{"Sr No."| translate }}</b>
                                                        </th>
                                                        <th>
                                                            <b>{{"User ID"| translate }}</b>
                                                        </th>
                                                        <th>
                                                            <b>{{"Name"| translate }}</b>
                                                        </th>
                                                        <th>
                                                            <b>{{"Group"| translate }}</b>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="j in dataAcknowledgment_all" ng-class="row1">
                                                        <td>
                                                            <label id="Label8">{{$index+1}}</label>
                                                        </td>
                                                        <td>
                                                            <label id="Label6">{{j.comn_user_name}}</label>
                                                        </td>
                                                        <td>
                                                            <label id="Label6">{{j.comn_user_alias}}</label>
                                                        </td>
                                                        <td>
                                                            <label id="Label6">{{j.comn_user_group_name}}</label>
                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-body no-border" ng-show="btn_student" id="student_data">
                                    <div class="row ">
                                        <div class="col-md-12">
                                            <table class="table table-striped table-flip-scroll cf" id="fixTable">
                                                <thead style="background-color: white">
                                                    <tr style="background-color: #edefef">
                                                        <th>
                                                            <b>{{"Sr No."| translate }}</b>
                                                        </th>
                                                        <th>
                                                            <b>{{"Student ID"| translate }}</b>
                                                        </th>
                                                        <th>
                                                            <b>{{"Name"| translate }}</b>
                                                        </th>
                                                        <th>
                                                            <b>{{"Grade"| translate }}</b>
                                                        </th>
                                                        <th>
                                                            <b>{{"Section"| translate }}</b>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="j in dataAcknowledgment_Student" ng-class="row1">
                                                        <td>
                                                            <label id="Label8">{{$index+1}}</label>
                                                        </td>
                                                        <td>
                                                            <label id="Label6">{{j.sims_student_enroll_number}}</label>
                                                        </td>
                                                        <td>
                                                            <label id="Label6">{{j.username}}</label>
                                                        </td>
                                                        <td>
                                                            <label id="Label6">{{j.sims_grade_name_en}}</label>
                                                        </td>
                                                        <td>
                                                            <label id="Label6">{{j.sims_section_name_en}}</label>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-body no-border" ng-show="btn_parent" id="parent_data">
                                    <div class="row ">
                                        <div class="col-md-12">
                                            <table class="table table-striped table-flip-scroll cf" id="fixTable">
                                                <thead style="background-color: white">
                                                    <tr style="background-color: #edefef">
                                                        <th>
                                                            <b>{{"Sr No."| translate }}</b>
                                                        </th>
                                                        <th>
                                                            <b>{{"Parent ID"| translate }}</b>
                                                        </th>
                                                        <th>
                                                            <b>{{"Parent Name"| translate }}</b>
                                                        </th>
                                                        <th>
                                                            <b>{{"Student ID"| translate }}</b>
                                                        </th>
                                                        <th>
                                                            <b>{{"Student Name"| translate }}</b>
                                                        </th>
                                                        <th>
                                                            <b>{{"Grade"| translate }}</b>
                                                        </th>
                                                        <th>
                                                            <b>{{"Section"| translate }}</b>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="j in dataAcknowledgment_parent" ng-class="row1">
                                                        <td>
                                                            <label id="Label8">{{$index+1}}</label>
                                                        </td>
                                                        <td>
                                                            <label id="Label6">{{j.sims_sibling_parent_number}}</label>
                                                        </td>
                                                        <td>
                                                            <label id="Label6">{{j.parent_username}}</label>
                                                        </td>
                                                        <td>
                                                            <label id="Label6">{{j.sims_sibling_student_enroll_number}}</label>
                                                        </td>
                                                        <td>
                                                            <label id="Label6">{{j.student_username}}</label>
                                                        </td>
                                                        <td>
                                                            <label id="Label6">{{j.sims_grade_name_en}}</label>
                                                        </td>
                                                        <td>
                                                            <label id="Label6">{{j.sims_section_name_en}}</label>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-body no-border" ng-show="btn_staff" id="staff_data">
                                    <div class="row ">
                                        <div class="col-md-12">
                                            <table class="table table-striped table-flip-scroll cf" id="fixTable">
                                                <thead style="background-color: white">
                                                    <tr style="background-color: #edefef">
                                                        <th>
                                                            <b>{{"Sr No."| translate }}</b>
                                                        </th>
                                                        <th>
                                                            <b>{{"Staff User ID"| translate }}</b>
                                                        </th>
                                                        <th>
                                                            <b>{{"Name"| translate }}</b>
                                                        </th>
                                                        <th>
                                                            <b>{{"Email"| translate }}</b>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="j in dataAcknowledgment_staff" ng-class="row1">
                                                        <td>
                                                            <label id="Label8">{{$index+1}}</label>
                                                        </td>
                                                        <td>
                                                            <label id="Label6">{{j.sims_circular_user_name}}</label>
                                                        </td>
                                                        <td>
                                                            <label id="Label6">{{j.employee_UserName}}</label>
                                                        </td>
                                                        <td>
                                                            <label id="Label6">{{j.em_email}}</label>
                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-body no-border" ng-show="btn_system" id="system_data">
                                    <div class="row ">
                                        <div class="col-md-12">
                                            <table class="table table-striped table-flip-scroll cf" id="fixTable">
                                                <thead style="background-color: white">
                                                    <tr style="background-color: #edefef">
                                                        <th>
                                                            <b>{{"Sr No."| translate }}</b>
                                                        </th>
                                                        <th>
                                                            <b>{{"Sysetm User ID"| translate }}</b>
                                                        </th>
                                                        <th>
                                                            <b>{{"Name"| translate }}</b>
                                                        </th>
                                                        <th>
                                                            <b>{{"Email"| translate }}</b>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="j in dataAcknowledgment_system" ng-class="row1">
                                                        <td>
                                                            <label id="Label8">{{$index+1}}</label>
                                                        </td>
                                                        <td>
                                                            <label id="Label6">{{j.comn_user_code}}</label>
                                                        </td>
                                                        <td>
                                                            <label id="Label6">{{j.comn_user_name}}</label>
                                                        </td>
                                                        <td>
                                                            <label id="Label6">{{j.comn_user_email}}</label>
                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-body no-border" ng-show="btn_Support" id="support_data">
                                    <div class="row ">
                                        <div class="col-md-12">
                                            <table class="table table-striped table-flip-scroll cf" id="fixTable">
                                                <thead style="background-color: white">
                                                    <tr style="background-color: #edefef">
                                                        <th>
                                                            <b>{{"Sr No."| translate }}</b>
                                                        </th>
                                                        <th>
                                                            <b>{{"Support User ID"| translate }}</b>
                                                        </th>
                                                        <th>
                                                            <b>{{"Name"| translate }}</b>
                                                        </th>
                                                        <th>
                                                            <b>{{"Email"| translate }}</b>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="j in dataAcknowledgment_Support" ng-class="row1">
                                                        <td>
                                                            <label id="Label8">{{$index+1}}</label>
                                                        </td>
                                                        <td>
                                                            <label id="Label6">{{j.comn_user_code}}</label>
                                                        </td>
                                                        <td>
                                                            <label id="Label6">{{j.comn_user_name}}</label>
                                                        </td>
                                                        <td>
                                                            <label id="Label6">{{j.comn_user_email}}</label>
                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-body no-border" ng-show="btn_product" id="product_data">
                                    <div class="row ">
                                        <div class="col-md-12">
                                            <table class="table table-striped table-flip-scroll cf" id="fixTable">
                                                <thead style="background-color: white">
                                                    <tr style="background-color: #edefef">
                                                        <th>
                                                            <b>{{"Sr No."| translate }}</b>
                                                        </th>
                                                        <th>
                                                            <b>{{"Product User ID"| translate }}</b>
                                                        </th>
                                                        <th>
                                                            <b>{{"Name"| translate }}</b>
                                                        </th>
                                                        <th>
                                                            <b>{{"Email"| translate }}</b>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="j in dataAcknowledgment_product" ng-class="row1">
                                                        <td>
                                                            <label id="Label8">{{$index+1}}</label>
                                                        </td>
                                                        <td>
                                                            <label id="Label6">{{j.comn_user_code}}</label>
                                                        </td>
                                                        <td>
                                                            <label id="Label6">{{j.comn_user_name}}</label>
                                                        </td>
                                                        <td>
                                                            <label id="Label6">{{j.comn_user_email}}</label>
                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-body no-border" ng-show="btn_visiting" id="visit_data">
                                    <div class="row ">
                                        <div class="col-md-12">
                                            <table class="table table-striped table-flip-scroll cf" id="fixTable">
                                                <thead style="background-color: white">
                                                    <tr style="background-color: #edefef">
                                                        <th>
                                                            <b>{{"Sr No."| translate }}</b>
                                                        </th>
                                                        <th>
                                                            <b>{{"Visiting User ID"| translate }}</b>
                                                        </th>
                                                        <th>
                                                            <b>{{"Name"| translate }}</b>
                                                        </th>
                                                        <th>
                                                            <b>{{"Email"| translate }}</b>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="j in dataAcknowledgment_visiting" ng-class="row1">
                                                        <td>
                                                            <label id="Label8">{{$index+1}}</label>
                                                        </td>
                                                        <td>
                                                            <label id="Label6">{{j.comn_user_code}}</label>
                                                        </td>
                                                        <td>
                                                            <label id="Label6">{{j.comn_user_name}}</label>
                                                        </td>
                                                        <td>
                                                            <label id="Label6">{{j.comn_user_email}}</label>
                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="assets/js/calender-datepicker-id.js"></script>