﻿<!DOCTYPE html>
<html>
<body>
    <!--<div class="col-md-12">
    </div>-->



    <div class="grid-simple white-bg p-t-30 p-b-10 p-l-10 p-r-10">
        <div class="row">
            <div class="col-md-2">
                <label id="Label" for="txt_Nationality_Code" class="form-label">{{"Curriculum"|translate}}<span style="color:red">*</span></label>
                <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width"
                        ng-model="temp.sims_cur_code" ng-selected="" name="sims_cur_code" ng-change="getAcademic_year(temp.sims_cur_code)"
                        ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in cur_data" required></select>
            </div>

            <div class="col-md-2">
                <label id="Label" for="txt_Nationality_Code" class="form-label">{{"Academic Year"|translate}}<span style="color:red">*</span></label>
                <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width" 
                        ng-model="temp.sims_academic_year" ng-selected="" name="sims_academic_year"
                        ng-options="cur.sims_academic_year as cur.sims_academic_year_desc for cur in academic_year" required></select>
            </div>

            <div class="col-md-2">
                <label class="ng-binding">{{"Status"|translate}} </label>
                <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width" ng-change="getBellData()"
                        ng-model="temp.sims_academic_year" ng-selected="" name="sims_academic_year"
                        ng-options="cur.comn_appl_parameter as cur.comn_appl_form_field_value1 for cur in status_data" required></select>
            </div>



            <div class="col-md-4">
                <div class="pull-right">
                    <label>&nbsp;</label>
                    <button type="button" class="btn btn-primary btn-cons" ng-click="getsubdetail()">{{"Submit"|translate}}</button>
                    <button class="btn btn-rounded btn-warning btn-cons" type="button" ng-click="reset_data()"><i class="icon-ok"></i>{{"Reset"|translate}}</button>
                    <button type="button" class="btn btn-primary btn-cons" ng-click="exportData()">{{"Excel"|translate}}</button>
                    <button type="button" class="btn btn-primary btn-cons" ng-click="print()">{{"Print"|translate}}</button>
                </div>
            </div>

            <div class="col-md-2">
                <label>&nbsp;</label>
                <div class="pull-right">
                    <span class="k-textbox k-space-right">
                        <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                        <a href="#" class="k-icon k-i-search">&nbsp;</a>
                    </span>
                </div>
            </div>

            <div ng-show="detailsField">
                <div class="col-md-12" id="rpt_data1">
                    <table class="table table-bordered text-center">
                        <thead ng-if="!colsvis">
                            <tr style="" background-color #edefef">
                                <th><b>{{"Sr No"|translate}}</b></th>
                                <th ng-click="sort('sub_emp_code')"><b>{{"Sub.Emp Code"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                <th ng-click="sort('sub_teacher_name')"><b>{{"Sub.Teacher Name"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                <th ng-click="sort('sub_subject_name')"><b>{{"Sub. Subject"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                <th ng-click="sort('day_date')"><b>{{"Date"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                <th ng-click="sort('sims_bell_slot_desc')"><b>{{"Lecture"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                <th ng-click="sort('class1')"><b>{{"Class"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                <th ng-click="sort('current_emp_code')"><b>{{"Absent Emp Code"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                <th ng-click="sort('current_teacher_name')"><b>{{"Absent Teacher Name"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                <th ng-click="sort('current_subject_name')"><b>{{"Subject"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>

                            </tr>
                        </thead>
                        <thead ng-if="colsvis">
                            <tr style="" background-color #edefef">
                                <th><b>{{"Sr No"|translate}}</b></th>
                                <th ng-click="sort('sub_emp_code')"><b>{{"Substituted Employee Code"|translate}}</b><i class="material-icons"></i></th>
                                <th ng-click="sort('sub_teacher_name')"><b>{{"Substituted Teacher Name"|translate}}</b><i class="material-icons"></i></th>
                                <th ng-click="sort('sub_subject_name')"><b>{{"Substituted Subject Name"|translate}}</b><i class="material-icons"></i></th>
                                <th ng-click="sort('day_date')"><b>{{"Date"|translate}}</b><i class="material-icons"></i></th>
                                <th ng-click="sort('sims_bell_slot_desc')"><b>{{"Lecture"|translate}}</b><i class="material-icons"></i></th>
                                <th ng-click="sort('class1')"><b>{{"Class"|translate}}</b><i class="material-icons"></i></th>
                                <th ng-click="sort('current_emp_code')"><b>{{"Absent Employee Code"|translate}}</b><i class="material-icons"></i></th>
                                <th ng-click="sort('current_teacher_name')"><b>{{"Absent Teacher Name"|translate}}</b><i class="material-icons"></i></th>
                                <th ng-click="sort('current_subject_name')"><b>{{"Subject"|translate}}</b><i class="material-icons"></i></th>
                            </tr>
                        </thead>
                        <tbody align="center">
                            <tr ng-repeat="r in report_data_new|orderBy:colname:reverse|filter:searchText" ng-click="viewsubtitution(r)">
                                <td>{{$index+1}}</td>
                                <td>{{r.sub_emp_code}}</td>
                                <td>{{r.sub_teacher_name}}</td>
                                <td>{{r.sub_subject_name}}</td>
                                <td>{{r.day_date}}</td>
                                <td>{{r.sims_bell_slot_desc}}</td>
                                <td>{{r.class1}}</td>
                                <td>{{r.current_emp_code}}</td>
                                <td>{{r.current_teacher_name}}</td>
                                <td>{{r.current_subject_name}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <div ng-show="showsumaryField">
                <div class="col-md-12" id="rpt_data">
                    <table class="table table-bordered text-center">
                        <thead ng-if="!colsvis">
                            <tr style="" background-color #edefef">
                                <th><b>{{"Sr No"|translate}}</b></th>
                                <th ng-click="sort('sub_emp_code')"><b>{{"Sub Emp Code"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                <th ng-click="sort('sub_teacher_name')"><b>{{"Sub Teacher Name"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                <th ng-click="sort('day_date')"><b>{{"Date"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                <th ng-click="sort('time')"><b>{{"Total"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                            </tr>
                        </thead>
                        <thead ng-if="colsvis">
                            <tr style="" background-color #edefef">
                                <th><b>{{"Sr No"|translate}}</b></th>
                                <th ng-click="sort('sub_emp_code')"><b>{{"Substituted Employee Code"|translate}}</b><i class="material-icons"></i></th>
                                <th ng-click="sort('sub_teacher_name')"><b>{{"Substituted Teacher Name"|translate}}</b><i class="material-icons"></i></th>
                                <th ng-click="sort('day_date')"><b>{{"Date"|translate}}</b><i class="material-icons"></i></th>
                                <th ng-click="sort('time')"><b>{{"Total"|translate}}</b><i class="material-icons"></i></th>

                            </tr>
                        </thead>
                        <tbody align="center">
                            <tr ng-repeat="r in report_data_new|orderBy:colname:reverse|filter:searchText">
                                <td>{{$index+1}}</td>
                                <td>{{r.sub_emp_code}}</td>
                                <td>{{r.sub_teacher_name}}</td>
                                <td>{{r.day_date}}</td>
                                <td>{{r.time}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>

</body>
</html>
<!--<div class="col-md-12" id="subform">-->
<div class="modal fade in" id="MyModal6" role="dialog" style="display: none;">

    <div class="modal-dialog" style="width: 800px; border: solid; border-bottom-left-radius: 05px; border-bottom-right-radius: 05px; border-top-left-radius: 05px; border-top-right-radius: 05px">
        <div class="col-md-12" id="subform">
            <div class="modal-content">
                <div class="modal-header ng-scope" style="height: 50px">
                    <div class="pull-left">
                        <h4 class="modal-title custom-font" style="margin-top: -5px"><b>{{"Substitution Form"|translate}}</b></h4>
                    </div>
                    <div class="pull-right">
                        <a href="">
                            <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>
                        </a>
                    </div>
                </div>
                <!-- code for busy indicator****************-->

                <div class="row">
                    <div class="col-md-8">
                        <p style="font-family: Arial; font-size: 14px; text-align: left; margin-left:20px;"><b>{{"Date"|translate}} : </b>{{day_date}}</p>
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-8">
                        <p style="font-family: Arial; font-size: 14px; text-align: left; margin-left:20px;"><b>{{"Substituted Teacher Name"|translate}} : </b>{{sub_teacher_name}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <p style="font-family: Arial; font-size: 14px; text-align: left; margin-left:20px;"><b>{{"Absent Teacher Name"|translate}} : </b> {{current_teacher_name}}</p>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-8">
                        <p style="font-family: Arial; font-size: 14px; text-align: left; margin-left:20px;"><b>{{"Note"|translate}} : </b> {{remark}}</p>
                    </div>

                </div>




                <hr style="height: 03px; border: none; color: purple; background-color: green;">
                <div class="row">
                    <div class="col-md-12">
                        <div id="example_wrapper" class="dataTables_wrapper form-inline">
                            <div id="Div1" class="dataTables_wrapper form-inline">
                                <div class="row margin-top">
                                    <div class="col-md-12" style="height:200px;overflow:auto">
                                        <table class="table table-bordered table-hover table-condensed" id="Table1" aria-describedby="example2_info">
                                            <thead style="background-color: #0000ff; border-style: solid;">
                                                <tr style="background-color: #0000ff; border-style: solid;">
                                                    <th class="semi-bold">{{"Sr No"|translate}}</th>
                                                    <th class="semi-bold">{{"Class"|translate}}</th>
                                                    <th class="semi-bold">{{"Substituted Subject"|translate}}</th>
                                                    <th class="semi-bold">{{"Subject"|translate}}</th>
                                                    <th class="semi-bold">{{"Lecture"|translate}}</th>
                                                </tr>
                                            </thead>

                                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                <tr ng-repeat="obj in subformdetails track by $index" ng-class="row1">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{obj.class1}}</td>
                                                    <td>{{obj.sub_subject_name}}</td>
                                                    <td>{{obj.current_subject_name}}</td>
                                                    <td>{{obj.sims_bell_slot_desc}}</td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style=" margin-bottom:20px">
                            <div class="col-md-4">
                                <label id="Label" for="txt_Nationality_Code" class="form-label"><b>{{"Approved By"|translate}} :</b> {{approved_by}}</label>
                            </div>

                            <div class="col-md-4">
                                <label id="Label" for="txt_Nationality_Code" class="form-label"><b>{{"Signature"|translate}} :</b></label>
                            </div>

                            <div class="col-md-4">
                                <button type="button" class="btn btn-primary btn-cons" ng-click="printsubtitution()">{{"Print"|translate}}</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </div>
    </div>
</div>

<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/plugins/fileSaver.js"></script>
<script src="assets/js/jszip.js"></script>
<script src="assets/js/xlsx.js"></script>
<script src="assets/js/xlsx-reader.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>



