﻿<html>
<body>
    <div class="grid-simple">
        <div class="content">
            <div class="row">
                <div class="col-md-12 bluegrid">
                    <!--<div class="grid simple">-->
                    <div class="grid-title no-border">

                        <div class="row">

                            <div class="col-md-2">
                                <label id="Label" for="txt_Nationality_Code" class="form-label">
                                    <i class="fa fa-book"></i>
                                    {{"Curriculum"|translate}}<span style="color:red">*</span>
                                </label>
                                <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width"
                                        ng-model="temp.sims_cur_code" ng-selected="" name="sims_cur_code" ng-change="getAcademic_year(temp.sims_cur_code)"
                                        ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in cur_data" required></select>
                            </div>

                            <div class="col-md-2">
                                <label id="Label" for="txt_Nationality_Code" class="form-label">
                                    <i class="fa fa-sort-amount-desc"></i>
                                    {{"Academic Year"|translate}}<span style="color:red">*</span>
                                </label>
                                <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width"
                                        ng-model="temp.sims_academic_year" ng-selected="" name="sims_academic_year"
                                        ng-options="acad.sims_academic_year as acad.sims_academic_year_desc for acad in acad_data" required></select>
                            </div>

                            <div class="col-md-2">
                                <label id="Label2" for="txt_account_Code" class="form-label">
                                    <i class="fa fa-calendar-times-o"></i>
                                    {{"From Date"| translate }}
                                </label>
                                <!--<div class="input-append success date">-->
                                <input type="text" id="from_date" name="from_date" placeholder="From Date" name="creation_date" class="k-textbox input-sm full-width" ng-model="from_date">
                            </div>

                            <div class="col-md-2">
                                <label id="Label3" for="txt_account_Code" class="form-label">
                                    <i class="fa fa-calendar-times-o"></i>
                                    {{"To Date"| translate }}
                                </label>
                                <!--<div class="input-append success date">-->
                                <input type="text" id="to_date" name="to_date" placeholder="To Date" name="creation_date" class="k-textbox input-sm full-width" ng-model="to_date">
                                <!--</div>-->
                            </div>

                            <div class="col-md-2">
                                <label class="ng-binding">
                                    <i class="fa fa-tag"></i>
                                    {{"Status"|translate}}
                                </label>
                                <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width"
                                        ng-model="temp.sims_status" ng-selected="" name="sims_status"
                                        ng-options="status.comn_appl_parameter as status.comn_appl_form_field_value1 for status in status_data" required></select>
                            </div>


                            <div class="col-md-2">
                                <label class="ng-binding">
                                    <i class="fa fa-search"></i>
                                    {{"Communication Initiated By User"|translate}}
                                </label>
                                <input type="text" name="search" ng-model="com_initiated_by" />
                            </div>

                        </div><!---- row -->
                        <div class="row">


                            <div class="col-md-2">
                                <label id="Label" for="txt_Nationality_Code" class="form-label">
                                    <i class="fa fa-group"></i>
                                    {{"User Group"|translate}}<span style="color:red">*</span>
                                </label>
                                <select id="group_box" data-role="dropdownlist" class="form-control input-sm full-width"
                                        ng-model="temp.user_group_code" ng-selected="" name="sims_academic_year" multiple="multiple">
                                        <!--ng-options="group.comn_user_group_code as group.comn_user_group_name for group in group_data" required>-->
                                    <option ng-repeat="group in group_data " value="{{group.comn_user_group_code}}">{{group.comn_user_group_name}}</option>
                                </select>
                            </div>


                            <div class="col-md-10">
                                <div class="pull-right">
                                    <label>&nbsp;</label>
                                    <button type="button" class="btn btn-primary btn-cons" ng-click="getCircdetail()">{{"Submit"|translate}}</button>
                                    <!--<button class="btn btn-rounded btn-warning btn-cons" type="button" ng-click="reset_data()"><i class="icon-ok" ng-show="false"></i>{{"Reset"|translate}}</button>-->
                                    <button type="button" class="btn btn-primary btn-cons" ng-click="exportData()">{{"Excel"|translate}}</button>
                                    <button type="button" class="btn btn-primary btn-cons" ng-click="print()">{{"Print"|translate}}</button>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2" ng-show="false">
                                <label>&nbsp;</label>
                                <div class="pull-right">
                                    <span class="k-textbox k-space-right">
                                        <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                                        <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                    </span>
                                </div>
                            </div>
                        </div>



                    </div>
                    <!--</div>-->
                </div>
            </div>

            <div ng-show="detailsField">

                <div class="content">
                    <div class="grid-title no-border" style="background-color:  white;">
                        <div class="col-md-12">
                            <div class="row margin-top">
                                <div class="col-md-6" style=" padding-left: 6px;">
                                    <select id=" select1" style="width: 60px;" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                        <option value="30" class=" form-control input-sm">
                                            30
                                        </option>

                                        <option value="60" class=" form-control input-sm">
                                            60
                                        </option>

                                        <option value="All" class=" form-control input-sm">
                                            All
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div id="example_wrapper" class="dataTables_wrapper form-inline">
                            <div class="row margin-top">
                                <div class="col-md-12">

                                    <div class="col-md-12" id="rpt_data1">
                                        <table class="table table-striped table-flip-scroll cf">
                                            <thead>
                                                <tr style="" background-color #edefef">
                                                    <th><b>{{"Sr No"|translate}}</b></th>
                                                    <th ng-click="sort('sims_comm_subject')"><b>{{"Subject"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                                    <th ng-click="sort('sender_id')"><b>{{"Sender Id"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                                    <th ng-click="sort('sender_name')"><b>{{"Sender Name"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                                    <th ng-click="sort('rece_id')"><b>{{"Receiver ID"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                                    <th ng-click="sort('receiver_name')"><b>{{"Receiver Name"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                                    <th ng-click="sort('sims_comm_message')"><b>{{"Message"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                                    <th ng-click="sort('sims_comm_tran_date')"><b>{{"Date"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                                </tr>
                                            </thead>

                                            <tbody align="center">
                                                <tr ng-repeat="r in filteredTodos|orderBy:colname:reverse|filter:searchText">
                                                    <td style="text-align: left;">{{$index+1}}</td>
                                                    <td style="text-align: left;">{{r.sims_comm_subject}}</td>
                                                    <td style="text-align: left;">{{r.sender_id}}</td>
                                                    <td style="text-align: left;">{{r.sender_name}}</td>
                                                    <td style="text-align: left;">{{r.rece_id}}</td>
                                                    <td style="text-align: left;">{{r.receiver_name}}</td>
                                                    <td style="text-align: left;">{{r.sims_comm_message}}</td>
                                                    <td style="text-align: left;">{{r.sims_comm_tran_date}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                    <div ng-show="hideprintpdf">
                                        <div class="col-md-12" id="pdf_print">
                                            <table class="table table-bordered text-center">
                                                <thead>
                                                    <tr style="" background-color #edefef">
                                                        <th><b>{{"Sr No"|translate}}</b></th>
                                                        <th ng-click="sort('sims_comm_subject')"><b>{{"Subject"|translate}}</b></th>
                                                        <th ng-click="sort('sender_id')"><b>{{"Sender ID"|translate}}</b></th>
                                                        <th ng-click="sort('sender_name')"><b>{{"Sender Name"|translate}}</b></th>
                                                        <th ng-click="sort('rece_id')"><b>{{"Receiver ID"|translate}}</b></th>
                                                        <th ng-click="sort('receiver_name')"><b>{{"Receiver Name"|translate}}</b></th>
                                                        <th ng-click="sort('sims_comm_message')"><b>{{"Message"|translate}}</b></th>
                                                        <th ng-click="sort('sims_comm_tran_date')"><b>{{"Date"|translate}}</b></th>
                                                    </tr>
                                                </thead>

                                                <tbody align="center">
                                                    <tr ng-repeat="r in filteredTodos|orderBy:colname:reverse|filter:searchText">
                                                        <td style="text-align: left;">{{$index+1}}</td>
                                                        <td style="text-align: left;">{{r.sims_comm_subject}}</td>
                                                        <td style="text-align: left;">{{r.sender_id}}</td>
                                                        <td style="text-align: left;">{{r.sender_name}}</td>
                                                        <td style="text-align: left;">{{r.rece_id}}</td>
                                                        <td style="text-align: left;">{{r.receiver_name}}</td>
                                                        <td style="text-align: left;">{{r.sims_comm_message}}</td>
                                                        <td style="text-align: left;">{{r.sims_comm_tran_date}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="row" ng-show="pager">
                                        <div class="col-md-12">
                                            <div class="pull-right">
                                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                                        ng-click="index(currentPage)">
                                                </paging>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</body>
</html>
<!--<div class="col-md-12" id="subform">-->

<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/plugins/fileSaver.js"></script>
<script src="assets/js/jszip.js"></script>
<script src="assets/js/xlsx.js"></script>
<script src="assets/js/xlsx-reader.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>



