﻿<script src="assets/plugins/fileSaver.js"></script>
<script src="https://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.12/xlsx.core.min.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>

<style>
.ms-choice{
    height: 27px;

}
.semi-bold1 {

        width:94px !important;
    }
</style>

<div class="row">

    <div class="col-md-12">

        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Student "| translate }}</span>{{"Report"| translate }}</h3>
            </div>

            <!--<div class="grid-body no-border">-->
            <div class="raw">
                <div class="paddingcode grid-body bluegrd" style="border: 1px solid #dddddd;">
                    <div ng-hide="busyindicator">

                        <div class="row">
                            <div class="col-md-2">

                                <label><i class="fa fa-book"></i>{{" Curriculum"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                <select id="cmb_School_Code" data-role="dropdownlist" class="form-control input-sm full-width" name="user"
                                        ng-model="edt.sims_cur_code" ng-change="getGrade(edt.sims_cur_code,temp.sims_academic_year)"
                                        ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in curriculum">
                                    <option value="" selected disabled>Please Select</option>
                                </select>

                            </div>

                            <div class="col-md-2">

                                <label><i class="fa fa-calendar"></i>{{" Academic Year"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                <select id="cmb_academic_year" data-role="dropdownlist" class=" form-control full-width input-sm" name="user1"
                                        ng-model="temp.sims_academic_year"
                                        ng-options="year1.sims_academic_year as year1.sims_academic_year_desc for year1 in Acc_year" ng-change="GetGrade()">
                                    <option value="" selected disabled>Please Select</option>
                                </select>

                            </div>

                            <div class="col-md-2">
                                <label><i class="fa fa-sitemap"></i>{{" Grade"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                <select id="cmb_grade_code" multiple="multiple" class="full-width" ng-model="edt.sims_grade_code" ng-change="getSection(edt.sims_cur_code,edt.sims_academic_year,edt.sims_grade_code)" style="height:26px;">
                                    <option ng-repeat="grade in Grade_code|filter:{sims_grade_name:''}" value="{{grade.sims_grade_code}} ">{{grade.sims_grade_name}}</option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <label><i class="fa fa-align-justify"></i>{{" Section"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                <select id="cmb_section_code" multiple="multiple" class="full-width" ng-model="edt.sims_section_code">
                                    <option ng-repeat="section in Section_code|filter:{sims_section_name:''}" value="{{section.sims_section_code}} ">{{section.sims_section_name}}</option>
                                </select>
                            </div>

                        </div>

                        <div class="row">

               <div class="col-md-2">
                   <label id="Label2" for="txt_account_Code" class="form-label">
                       <i class="fa fa-calendar-times-o"></i>
                       {{"From Date"| translate }}
                   </label>
                   <input type="text" id="from_date" name="from_date" placeholder="Till Date" class="k-textbox input-sm full-width" ng-model="mom_start_date">
               </div>

               <div class="col-md-1">
                    <label class="form-label1">
                        {{"Null"| translate }}
                    </label>
                    <div class="checkbox check-success">
                        <input type="checkbox" id="chkmarks" ng-model="mom_start_date_check" />
                        <label for="chkmarks"></label>
                    </div>
                </div>

               <div class="col-md-2">
                   <label id="Label2" for="txt_account_Code" class="form-label">
                       <i class="fa fa-calendar-times-o"></i>
                       {{"To Date"| translate }}
                   </label>
                   <input type="text" id="from_date" name="from_date" placeholder="Till Date" class="k-textbox input-sm full-width" ng-model="mom_end_date">
               </div>

                <div class="col-md-1">
                    <label class="form-label1">
                        {{"Null"| translate }}
                    </label>
                    <div class="checkbox check-success">
                        <input type="checkbox" id="chkmarks1" ng-model="mom_end_date_check" />
                        <label for="chkmarks1"></label>
                    </div>
                </div>

                 <div class="col-md-2">
                 <label>{{"Status"|translate}} <span class="asterisk" style="color: red">*</span></label>
                         <select id="status_id"  multiple="multiple" class="form-control input-sm full-width" data-role="dropdownlist" ng-model="temp.sims_status_data"
                             ng-options="abc.comn_appl_parameter as abc.comn_appl_form_field_value1 for abc in status_mode" selected>
                         </select>
                     </div>

                           

                            <div class="col-md-2">
                            <label>{{"Communication Initiated By"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                    <select id="user_id"   multiple="multiple" class="form-control input-sm full-width"  data-role="dropdownlist" ng-model="temp.sims_user_data"
                                        name="user"
                                        ng-options="abc.comn_user_group_code as abc.comn_user_group_name for abc in user_mode" selected>
                                    
                                    </select>
                                </div>


                             <div class="col-md-2">
                                  <label>{{"Search by User Name"|translate}}</label> 
                                  <input class="k-textbox input-sm full-width" placeholder="User Name" style="height: 2px;" ng-model="temp.sims_search_id">
                              </div>




                        </div>
                    </div>

                    <div ng-hide="busyindicator">
                        <div class="row">
                            <div class="col-md-6">
                                <label><i class="fa fa-check"></i>{{"Select All"| translate }}</label>
                                <div class="checkbox check-success">
                                    <input id="chk_term" type="checkbox" tag="*" ng-click="checkallClick(select_all)" ng-model="select_all">
                                    <label for="chk_term"></label>
                                </div>
                            </div>
                      
                            <div class="col-md-6">
                                <div class="pull-right">
                                    <label>&nbsp;</label>
                                    <button type="button" class="btn btn-primary btn-small" ng-click="Show_Data(edt.sims_cur_code,temp.sims_academic_year)" ng-disabled="showdisabled">{{"Show"| translate }}</button>
                                    <button type="button" class="btn btn-primary btn-small" ng-click="Reset()">{{"Reset"| translate }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div ng-show="table">
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right" ng-show="table">

                            <button type="button" id="btn_update" class="btn btn-danger btn-small" ng-click="back()">{{"Back"| translate }}</button>
                            <button type="button" id="Button1" class="btn btn-primary btn-small" ng-click="exportData()">{{"Export"| translate }}</button>

                        </div>
                    </div>
                </div>
            </div>-->
            <!--<div class="col-md-12" style="height: 30px">
                <hr style="height: 03px; border: none; color: purple; background-color: purple;">
            </div>-->


            <div ng-show="ShowCheckBoxes">
                <div class="raw">
                    <div class="paddingcode grid-body no-border" style="background-color: white;">
                        <div ng-hide="busyindicator">
                            <div class="row" ng-hide="busyindicator">
                                <div class="col-md-12">
                                    <div class="row form-row">
                                        <div class="col-md-4">
                                            <div class="row form-row">
                                                <!-- <div class="col-md-12">-->
                                                <label>
                                                    <!--<h4><font color="Orange">{{"Student Selection"| translate }}</font></h4>-->
                                                    <h4><span class="semi-bold">Selection</span> </h4>
                                                </label>
                                                <!-- </div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="row form-row">
                                    <div class="col-md-12">

                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <div class="checkbox check-success">
                                                        <input id="chk_sender" type="checkbox" class="k-checkbox" tag="*" ng-model="chk_sender" ng-click="checkevent()">
                                                        <label for="chk_sender">{{"Sender"|translate}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <div class="checkbox check-success">
                                                        <input id="chk_receiver" type="checkbox" class="k-checkbox" tag="*" ng-model="chk_receiver" ng-click="checkevent()">
                                                        <label for="chk_receiver">{{"Receiver"|translate}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <div class="checkbox check-success">
                                                        <input id="chk_stu_name" type="checkbox" class="k-checkbox" tag="*" ng-model="chk_stu_name" ng-click="checkevent()">
                                                        <label for="chk_stu_name">{{"Student Name"|translate}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <div class="checkbox check-success">
                                                        <input id="chk_grade_name" type="checkbox" class="k-checkbox" tag="*" ng-model="chk_grade_name" ng-click="checkevent()">
                                                        <label for="chk_grade_name">{{"Grade"|translate}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row form-row">
                                    <div class="col-md-12">

                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <div class="checkbox check-success">
                                                        <input id="chk_section_name" type="checkbox" class="k-checkbox" tag="*" ng-model="chk_section_name" ng-click="checkevent()">
                                                        <label for="chk_section_name">{{"section"|translate}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <div class="checkbox check-success">
                                                        <input id="chk_stu_subject" type="checkbox" class="k-checkbox" tag="*" ng-model="chk_stu_subject" ng-click="checkevent()">
                                                        <label for="chk_stu_subject">{{"Subject"|translate}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <div class="checkbox check-success">
                                                        <input id="chk_message" type="checkbox" tag="*" ng-model="chk_message" ng-click="checkevent()">
                                                        <label for="chk_message">{{"Message"|translate}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <div class="checkbox check-success">
                                                        <input id="chk_comm_date" type="checkbox" class="k-checkbox" tag="*" ng-model="chk_comm_date" ng-click="checkevent()">
                                                        <label for="chk_comm_date">{{"Communication Date"|translate}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row form-row">
                                    <div class="col-md-12">

                                         <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <div class="checkbox check-success">
                                                        <input id="chk_read_unread" type="checkbox" class="k-checkbox" tag="*" ng-model="chk_read_unread" ng-click="checkevent()">
                                                        <label for="chk_read_unread">{{"Read/Unread"|translate}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <div class="checkbox check-success">
                                                        <input id="chk_status" type="checkbox" class="k-checkbox" tag="*" ng-model="chk_status" ng-click="checkevent()">
                                                        <label for="chk_status">{{"Status"|translate}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    
                


                     

                      
                    </div>
                </div>

            </div>


            <div id="exportable" class="dataTables_wrapper form-inline" ng-show="table">
                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div class="row">
                        <div class="raw">
                            <div class="paddingcode grid-body no-border" style="background-color: white;">
                                <div class="col-md-12">
                                    <div ng-show="table">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="pull-right" ng-show="table">

                                                    <button type="button" id="btn_update" class="btn btn-danger btn-small" ng-click="back()">{{"Back"| translate }}</button>
                                                    <button type="button" id="Button1" class="btn btn-primary btn-small" ng-click="exportData()">{{"Export"| translate }}</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-bordered table-hover table-condensed" id="example" style="width:130%;">

                                        <thead>
                                            <tr style="background-color: #edefef">

                                                <th class="semi-bold1" style="width:4%;">
                                                    <label class="semi-bold1"><i class="fa fa-sort-numeric-asc"></i>{{" Sr No"|translate}}</label>
                                                </th>
                                               
                                                <th class="semi-bold1" style="width:8%;" ng-click="sortBy('sender_name')" type="checkbox" class="k-checkbox" tag="*" ng-style="{'display':chk_sender?'display':'none'}">
                                                    <label class="semi-bold1"> <i class="fa fa-user"></i>&nbsp;{{"Sender"| translate }}</label>
                                                  
                                                </th>
                                                
                                                <th ng-click="sort('receiver_name')" style="width:9%;" class="semi-bold1" ng-style="{'display':chk_receiver?'display':'none'}">
                                                    <label class="semi-bold1"><i class="fa fa-user"></i>{{"Receiver"|translate}}</label>
                                                   
                                                </th>
                                                
                                                <th ng-click="sort('student_name')" class="semi-bold1" style="width:12%;" ng-style="{'display':chk_stu_name?'display':'none'}">
                                                    <label class="semi-bold1"><i class="fa fa-user"></i>{{"Student Name"|translate}}</label>
                                                 </th>
                                                

                                                <th ng-click="sort('sims_grade_name_en')" style="width:4%;" class="semi-bold1" ng-style="{'display':chk_grade_name?'display':'none'}">
                                                    <label class="semi-bold1"><i class="fa fa-sitemap"></i>{{"Grade"|translate}}</label>
                                                    <!--<span class="sortorder" ng-show="propertyName === 'sims_student_passport_middle_name_en'" ng-class="{reverse: reverse}"></span>-->
                                                </th>
                                                
                                                <th ng-click="sort('sims_section_name_en')" style="width:4%;" class="semi-bold1" ng-style="{'display':chk_section_name?'display':'none'}">
                                                    <label class="semi-bold1"><i class="fa fa-align-justify"></i>{{"section"|translate}}</label>
                                                    <!--<span class="sortorder" ng-show="propertyName === 'sims_student_passport_last_name_en'" ng-class="{reverse: reverse}"></span>-->
                                                </th>
                                                

                                                <th ng-click="sort('sims_comm_subject')" style="width:12%;" class="semi-bold1" ng-style="{'display':chk_stu_subject?'display':'none'}">
                                                    <label class="semi-bold1"><i class="fa fa-pencil-square-o"></i>{{"Subject"|translate}}</label>
                                                </th>
                                                

                                                <th ng-click="sort('sims_comm_message')" class="semi-bold1" ng-style="{'display':chk_message?'display':'none'}">
                                                    <label class="semi-bold1"><i class="fa fa-envelope"></i>{{"Message"|translate}}</label>
                                                </th>

                                                <th ng-click="sort('sims_comm_date')" class="semi-bold1"  ng-style="{'display':chk_comm_date?'display':'none'}">
                                                    <label class="semi-bold1"><i class="fa fa-calendar"></i>{{"Communication Date"|translate}}</label>
                                                </th>
                                           
                                                
                                                <th ng-click="sort('status')" class="semi-bold1" style="width:9%;" ng-style="{'display':chk_read_unread?'display':'none'}">
                                                    <label class="semi-bold1"><i class="fa fa-align-justify"></i>{{"Read/Unread"|translate}}</label>
                                                </th>

                                                <th ng-click="sort('status')" class="semi-bold1" style="width:5%;" ng-style="{'display':chk_status?'display':'none'}">
                                                    <label class="semi-bold1"><i class="fa fa-bookmark"></i>{{"Status"|translate}}</label>
                                                </th>
                                                

                                              
                                                
                                                                                             
                                            </tr>
                                        </thead>

                                        <tr ng-repeat="info in studlist|orderBy:propertyName:reverse">
                                            <td class="semi-bold">{{$index+1}}</td>  
                                            <td class="semi-bold" ng-style="{'display':chk_sender?'display':'none'}">{{info.sender_name}}</td>
                                            <td class="semi-bold" ng-style="{'display':chk_receiver?'display':'none'}">{{info.receiver_name}}</td>
                                            <td class="semi-bold" ng-style="{'display':chk_stu_name?'display':'none'}">{{info.student_name}}</td>
                                            <td class="semi-bold" ng-style="{'display':chk_grade_name?'display':'none'}">{{info.sims_grade_name_en}}</td>
                                            <td class="semi-bold" ng-style="{'display':chk_section_name?'display':'none'}">{{info.sims_section_name_en}}</td>
                                            <td class="semi-bold" ng-style="{'display':chk_stu_subject?'display':'none'}">{{info.sims_comm_subject}}</td>
                                            <td class="semi-bold" ng-style="{'display':chk_message?'display':'none'}"><span class="body" ng-bind-html="info.sims_comm_message| html"></span></td>
                                           <!-- <td><span class="body" ng-bind-html="info.sims_comm_message| html"> </span></td>-->
                                            <td class="semi-bold" ng-style="{'display':chk_comm_date?'display':'none'}">{{info.sims_comm_date}}</td>
                                            <td class="semi-bold" ng-style="{'display':chk_read_unread?'display':'none'}">{{info.status}}</td>
                                            <td class="semi-bold" ng-style="{'display':chk_status?'display':'none'}">{{info.status}}</td>
                                            
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <!--</div>-->

        </div>

    </div>

</div>

<style>
    .semi-bold1 {
        width: 163px;
        font-weight: 600;
    }
</style>

