﻿<style>
    .selected {
        background-color: #fff;
    }

    .box1 {
        /*margin-top: 200px;*/
        display: inline-block;
        vertical-align: top;
        float: left;
        background-color: #fff;
        border-radius: inherit;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3>News<span class="semi-bold"></span></h3>
            </div>
            <div class="grid-body no-border">


                <div ng-show="view">
                    <div class="row form-row">
                        <div class="col-md-6">
                            <select id="Select1" style="width: 65px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                <option value="5" class=" form-control input-sm">5
                                </option>
                                <option value="10" class=" form-control input-sm">10
                                </option>
                                <option value="15" class=" form-control input-sm">15
                                </option>
                            </select>
                            &nbsp;
                            <button class="btn btn-success btn-small" type="button" ng-click="New()" ng-show="true"><span class="semi-bold">+&nbsp;</span>{{ "New" | translate }}</button>
                            &nbsp;
                        <button class="btn btn-white btn-small" type="button" ng-click="Delete()" ng-show="false"><span class="semi-bold"></span>{{ "Delete" | translate }}</button>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <div class="dataTables_filter" id="example_filter">
                                    <span class="k-textbox k-space-right full-width">
                                        <input type="text" aria-controls="example" ng-model="searchText" placeholder="News Title/Desc" class="input-medium" autofocus="autofocus" tabindex="1" ng-change="search()">
                                        <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <div style="width: 100%; height: 340px; overflow-x: scroll; overflow-y: scroll">

                            <table class="table table-hover table-bordered table-condensed" id="fixedtable">
                                <thead style="background-color: white">
                                    <tr style="background-color: #e9e4e4">
                                        <!--<td class="small-cell v-align-middle">
                                        <div class="checkbox check-success">
                                            <input type="checkbox" name="check" value="1" id="mainchk" ng-click="check();">
                                            <label for="mainchk"></label>
                                        </div>
                                    </td>-->
                                        <!-- <td class="small-cell v-align-middle"><b>{{ "MORE" | translate }}</b></td>-->
                                        <td><b>{{ "Publish" | translate }}</b></td>
                                        <!--<td><b>{{ "PStatus" | translate }}</b></td>-->
                                        <td><b>{{ "News No." | translate }}</b></td>
                                        <!--<td><b>{{ "Curriculum" | translate }}</b></td>-->
                                        <!--<td><b>{{ "Academic Year" | translate }}</b></td>-->
                                        <td><b>{{ "Title" | translate }}</b></td>
                                        <!--<td><b>{{ "Short Desc" | translate }}</b></td>-->
                                        <td><b>{{ "File Path 1" | translate }}</b></td>
                                        <td><b>{{ "File Path 2" | translate }}</b></td>
                                        <td><b>{{ "File Path 3" | translate }}</b></td>
                                        <td><b>{{ "Status" | translate }}</b></td>
                                        <td><b>{{ "ACTION" | translate }}</b></td>
                                    </tr>
                                </thead>
                                <tr ng-repeat="news in filteredTodos" ng-class="row1">
                                    <!--<td>
                                    <div class="checkbox check-success" style="height: 20px">
                                        <input type="checkbox" name="check" value="1" id="{{category.sims_fee_category}}" ng-click="check1(category.sims_fee_category);">
                                        <label for="{{category.sims_fee_category}}"></label>
                                    </div>
                                </td>-->
                                    <!--<td class="text-center"><i class="fa fa-plus-circle" ng-click="expand(news, $event);"></i></td>-->
                                    <td>
                                        <span ng-if="news.sims_news_pstatus == 'Y'">
                                            <button type="button" style="background-color: #0aa699" class="btn btn-primary btn-xs btn-mini btn-small" ng-click="publishnews(news)">Publish Now</button>
                                        </span>
                                        <span ng-if="news.sims_news_pstatus == 'N'">
                                            <button type="button" style="background-color: #0aa699" class="btn btn-primary btn-xs btn-mini btn-small" ng-show="true" ng-click="unpublishnews(news)">UnPublish Now</button>
                                        </span>
                                        <span ng-if="news.sims_news_pstatus == 'E'">
                                            <label style="height: 30px; color: red">Expired</label>
                                            <!--<button class="btn btn-primary btn-xs btn-mini" style="height: 30px;background-color:red" type="button" ng-show="true"></button>-->
                                        </span>
                                    </td>
                                    <!--<td>
                                    <div>{{news.sims_news_pstatus}}</div>
                                </td>-->
                                    <td class="v-align-middle">
                                        <div>{{news.sims_news_number}}</div>
                                    </td>
                                    <!--<td>
                                    <div>{{news.sims_academic_year}}</div>
                                </td>-->
                                    <td>
                                        <div>{{news.sims_news_title}}</div>
                                    </td>
                                    <!--<td>
                                    <div>{{news.sims_news_short_desc}}</div>
                                </td>-->
                                    <td>
                                        <div><a href="#" ng-click="download(news.sims_news_file_path1)">{{news.sims_news_file_path1}}</a></div>
                                    </td>
                                    <td>
                                        <div><a href="#" ng-click="download(news.sims_news_file_path2)">{{news.sims_news_file_path2}}</a></div>
                                    </td>
                                    <td>
                                        <div><a href="#" ng-click="download(news.sims_news_file_path3)">{{news.sims_news_file_path3}}</a></div>
                                    </td>
                                    <td class="v-align-middle">
                                        <span ng-if="news.sims_news_status==true" class="label label-success">Active</span>
                                        <span ng-if="news.sims_news_status==false" class="label label-important">In Active</span>
                                    </td>
                                    <td>
                                        <a href=""><i class="fa fa-edit" ng-click="edit(news)"></i></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="pull-right">
                            <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                ng-click="index(currentPage)">
                      </paging>
                        </div>


                    </div>
                </div>

                <div ng-show="create">
                    <form name="myForm" novalidate>
                        <div class="row" ng-show="notshow">
                            <div class="col-xs-4">
                                <div class="well" class="form-group">
                                    <div class="form-group">
                                        <label>Current Page:</label>
                                        <input
                                            placeholder="page"
                                            class="form-control"
                                            ng-model="currentPage"
                                            ng-init="currentPage = 1" />
                                    </div>
                                    <div class="form-group">
                                        <label>Page Size:</label>
                                        <input
                                            placeholder="Page Size"
                                            class="form-control"
                                            ng-model="numPerPage" />
                                    </div>
                                    <div class="form-group">
                                        <label>Total Items:</label>
                                        <input
                                            placeholder="Total"
                                            class="form-control"
                                            ng-model="pagersize" />
                                    </div>
                                    <hr />
                                    <div class="form-group">
                                        <label>Dots Display:</label>
                                        <input
                                            placeholder="..."
                                            class="form-control"
                                            maxlength="3"
                                            ng-model="dots"
                                            ng-init="dots = '...'" />
                                    </div>

                                    <hr />
                                    <div class="form-group">
                                        <label>UL Class:</label>
                                        <input
                                            placeholder="pagination"
                                            class="form-control"
                                            maxlength="100"
                                            ng-model="ulClass" />
                                    </div>
                                    <div class="form-group">
                                        <label>Active Class:</label>
                                        <input
                                            placeholder="active"
                                            class="form-control"
                                            maxlength="100"
                                            ng-model="activeClass"
                                            ng-init="activeClass = 'active'" />
                                    </div>
                                    <div class="form-group">
                                        <label>Disabled Class:</label>
                                        <input
                                            placeholder="disabled"
                                            class="form-control"
                                            maxlength="100"
                                            ng-model="disabledClass"
                                            ng-init="disabledClass = 'disabled'" />
                                    </div>
                                    <br />
                                    <table class="table">

                                        <tr>
                                            <td>
                                                <label>Show Prev Next:</label></td>
                                            <td>
                                                <input
                                                    type="checkbox"
                                                    ng-model="showPrevNext"
                                                    ng-init="showPrevNext = true" />
                                                {{showPrevNext}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Show First Last:</label></td>
                                            <td>
                                                <input
                                                    type="checkbox"
                                                    ng-model="showFirstLast"
                                                    ng-init="showFirstLast = true" />
                                                {{showPrevNext}}
                                            </td>
                                        </tr>
                                    </table>
                                    <hr />
                                    <span class="btn btn-default" onclick="location.reload()">
                                        <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                                    </span>
                                    <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                                    </span>
                                    <br />
                                    <br />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row form-row">
                                    <div class="col-md-2">
                                        <div class="row form-row">
                                            <div class="col-md-10">
                                                <label>{{ "Number" | translate }}</label>
                                            </div>
                                            <div class="col-md-12">
                                                <input type="text" class="k-textbox input-sm full-width" id="txt_number" name="txt_number" ng-model="edt.sims_news_number" disabled>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <label>{{ "Curriculum" | translate }}</label>
                                            </div>

                                            <!--<div class="col-md-12">
                                            <select id="Select5" name="Curriculum" class="form-control select2-sm" required ng-model="edt.sims_cur_code" ng-change="Getacademicyear(edt.sims_cur_code)">
                                                <option value="">Please Select</option>
                                                <option ng-repeat="i in obj2|filter:{sims_cur_short_name_en: ''}" value="{{i.sims_cur_code}}">{{i.sims_cur_short_name_en}}
                                                </option>
                                            </select>
                                        </div>-->
                                            <div class="col-md-12" ng-class="{'has-error': !myForm.Curriculum.$valid && (myForm.Curriculum.$touched || myForm.$submitted) }">
                                                <select id="Select5" name="Curriculum" data-role="dropdownlist" class="form-control input-sm full-width" required ng-model="edt.sims_cur_code"
                                                    ng-change="Getacademicyear(edt.sims_cur_code)"
                                                    ng-options="i.sims_cur_code as i.sims_cur_short_name_en for i in obj2">
                                                    <option value="">Please Select</option>
                                                    <!-- <option ng-repeat="i in obj2|filter:{sims_cur_short_name_en: ''}" value="{{i.sims_cur_code}}">{{i.sims_cur_short_name_en}}
                                                </option>-->
                                                </select>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="error-container"
                                                    ng-show="myForm.Curriculum.$dirty && myForm.Curriculum.$invalid || myForm.$submitted">
                                                    <small class="error"
                                                        ng-show="myForm.Curriculum.$error.required">Curriculum is required.
                                                    </small>

                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="col-md-2">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <label>{{ "Academic Year" |  translate }}</label>
                                            </div>
                                            <div class="col-md-12" ng-class="{'has-error': !myForm.AcademicYear.$valid && (myForm.AcademicYear.$touched || myForm.$submitted) }">
                                                <select id="Select" name="AcademicYear" data-role="dropdownlist" class="form-control input-sm full-width"
                                                    required class="form-control select2-sm" ng-model="edt.sims_academic_year_desc"
                                                    ng-options="j.sims_academic_year as j.sims_academic_year_desc for j in ob_acyear1">
                                                    <option value="">Please Select</option>
                                                </select>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="error-container"
                                                    ng-show="myForm.AcademicYear.$dirty && myForm.AcademicYear.$invalid || myForm.$submitted">
                                                    <small class="error"
                                                        ng-show="myForm.AcademicYear.$error.required">Academic Year is required.
                                                    </small>

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <label>{{ "Type" |  translate }}</label>
                                            </div>
                                            <div class="col-md-12">
                                                <select id="Select2" name="Type" required data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.sims_news_type">
                                                    <option value="" selected disabled>Please Select</option>
                                                    <option ng-repeat="i in obj3|filter:{sims_news_type: ''}" value="{{i.sims_news_type}}">{{i.sims_news_type}}
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="error-container"
                                                    ng-show="myForm.Type.$dirty && myForm.Type.$invalid || myForm.$submitted">
                                                    <small class="error"
                                                        ng-show="myForm.Type.$error.required">Type is required.
                                                    </small>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <label>{{ "Category" |  translate }}</label>
                                            </div>
                                            <div class="col-md-12">
                                                <select id="Select3" name="Category" required data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.sims_news_category">
                                                    <option value="" selected disabled>Please Select</option>
                                                    <option ng-repeat="i in obj4|filter:{sims_news_category: ''}" value="{{i.sims_news_category}}">{{i.sims_news_category}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="error-container" ng-show="myForm.Category.$dirty && myForm.Category.$invalid || myForm.$submitted">
                                                    <small class="error"
                                                        ng-show="myForm.Category.$error.required">Category is required.
                                                    </small>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="row form-row">
                                            <div class="col-md-10">
                                                <label class="form-label">{{ "Status" |  translate }}</label>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="checkbox check-success" style="height: 20px">
                                                    <input type="checkbox" name="chk_status" id="chk_status" title="Status" ng-model="edt.sims_news_status">
                                                    <label for="chk_status" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="row form-row">

                                    <div class="col-md-6">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <label>{{ "Title" |  translate }}</label>
                                            </div>
                                            <div class="col-md-12">
                                                <input type="text" required class="k-textbox input-sm full-width" id="txt_title" name="txt_title" ng-model="edt.sims_news_title">
                                            </div>

                                            <div class="col-md-12">
                                                <div class="error-container"
                                                    ng-show="myForm.txt_title.$dirty && myForm.txt_title.$invalid || myForm.$submitted">
                                                    <small class="error"
                                                        ng-show="myForm.txt_title.$error.required">Title is required.
                                                    </small>
                                                    <small class="error"
                                                        ng-show="myForm.txt_title.$error.minlength">Title is required to be at least 1 characters
                                                    </small>
                                                    <small class="error"
                                                        ng-show="myForm.txt_title.$error.maxlength">Title cannot be longer than 50 characters
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <label>{{ "Short Description" |  translate }}</label>
                                            </div>
                                            <div class="col-md-12">
                                                <input type="text" class="k-textbox input-sm full-width" id="txt_shortdesc" name="txt_shortdesc" ng-model="edt.sims_news_short_desc">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="row form-row">

                                    <div class="col-md-2">
                                        <div class="row form-row">
                                            <div class="col-md-10">
                                                <label>{{ "Grade" | translate }}</label>
                                            </div>
                                            <div class="col-md-12">
                                                <select id="cmb_grade" name="Grade" multiple="multiple" style="margin-bottom: 0px" ng-model="edt.sims_news_grade"
                                                    ng-change="GetSection(edt.sims_cur_code,edt.sims_academic_year_desc,edt.sims_news_grade)"
                                                    ng-disabled="enable_grade">
                                                    <option ng-repeat="i in grade"
                                                        value="{{i.sims_grade_code}}">{{i.sims_grade_name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <label>{{ "Section" | translate }}</label>
                                            </div>
                                            <div class="col-md-12">
                                                <select id="cmb_section" name="Section" multiple="multiple" style="margin-bottom: 0px" ng-model="edt.sims_news_gradesections"
                                                    ng-disabled="enable_section">
                                                    <option ng-repeat="i in section"
                                                        value="{{i.sims_grade_sec}}">{{i.sims_section_name}}
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="error-container"
                                                    ng-show="myForm.Curriculum.$dirty && myForm.Curriculum.$invalid || myForm.$submitted">
                                                    <!--<small class="error"
                                                    ng-show="myForm.Curriculum.$error.required">Curriculum is required.
                                                </small>-->

                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-2">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <label>{{ "Designation" |  translate }}</label>
                                            </div>
                                            <div class="col-md-12">
                                                <select id="cmb_designation" name="Designation" multiple="multiple" required style="margin-bottom: 0px" ng-model="edt.sims_news_desg"
                                                    ng-disabled="enable_desg">
                                                    <option ng-repeat="i in designation"
                                                        value="{{i.designation}}">{{i.designation_name}}
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="error-container"
                                                    ng-show="myForm.AcademicYear.$dirty && myForm.AcademicYear.$invalid || myForm.$submitted">
                                                    <!--<small class="error"
                                                    ng-show="myForm.AcademicYear.$error.required">Academic Year is required.
                                                </small>-->

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <label>{{ "Department" |  translate }}</label>
                                            </div>
                                            <div class="col-md-12">
                                                <select id="cmb_department" name="Department" multiple="multiple" required style="margin-bottom: 0px" ng-model="edt.sims_news_dept"
                                                    ng-disabled="enable_dept">
                                                    <option ng-repeat="i in department"
                                                        value="{{i.code}}">{{i.em_dept_name}}
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="col-md-12">
                                                <!--<div class="error-container"
                                                ng-show="myForm.Type.$dirty && myForm.Type.$invalid || myForm.$submitted">
                                                <small class="error"
                                                    ng-show="myForm.Type.$error.required">Type is required.
                                                </small>

                                            </div>-->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <label>{{ "Publish Date" |  translate }}</label>
                                            </div>
                                            <div class="col-md-10">
                                                <!--<div class="input-append success date col-md-4 no-padding" data-datepicker="true" style="width: auto">-->
                                                <input type="text" id="dp_publishdate" required placeholder="Select Date" name="publishdate" class="k-textbox full-width input-sm" ng-model="edt.sims_news_publish_date">
                                                <!--<span class="add-on" style="height: 30px; padding-top: 0px"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                                <!--</div>-->
                                            </div>
                                            <div class="col-md-12">
                                                <div class="error-container"
                                                    ng-show="myForm.publishdate.$dirty && myForm.publishdate.$invalid || myForm.$submitted">
                                                    <small class="error"
                                                        ng-show="myForm.publishdate.$error.required">Publish Date is required.
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <label>{{ "Expiry Date" |  translate }}</label>
                                            </div>
                                            <div class="col-md-10">
                                                <!--<div class="input-append success date col-md-4 no-padding" data-datepicker="true" style="width: auto">-->
                                                <input type="text" id="dp_expirydate" required placeholder="Select Date" name="expirydate" class="k-textbox full-width input-sm" ng-model="edt.sims_news_expiry_date">
                                                <!--<span class="add-on" style="height: 30px; padding-top: 0px"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                                <!--</div>-->
                                            </div>
                                            <div class="col-md-12">
                                                <div class="error-container"
                                                    ng-show="myForm.expirydate.$dirty && myForm.expirydate.$invalid || myForm.$submitted">
                                                    <small class="error"
                                                        ng-show="myForm.expirydate.$error.required">Expiry Date is required.
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="row form-row">
                                    <div class="col-md-6">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <label>{{ "Description" |  translate }}</label>
                                            </div>
                                            <div class="col-md-12" ng-class="{'has-error': !myForm.editor.$valid && (myForm.editor.$touched || myForm.$submitted) }">
                                                <div>
                                                    <!--<div class="grid-title no-border"  style="margin-top:2px;margin-bottom:0px">  -->
                                                    <div class="tools" style="width: 500px">
                                                        <a href="javascript:;" class="collapse"></a>
                                                        <a href="#grid-config" data-toggle="modal" class="config"></a>
                                                        <a href="javascript:;" class="reload"></a>
                                                        <a href="javascript:;" class="remove"></a>
                                                    </div>
                                                    <!--</div>-->
                                                    <div>
                                                        <textarea id="text-editor" name="editor" required placeholder="Enter text ..." class="form-control" rows="12" style="text-align: left;height:95px" ng-model="edt.sims_circular_desc" ></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="error-container"
                                                    ng-show="myForm.editor.$dirty && myForm.editor.$invalid || myForm.$submitted">
                                                    <!-- <small class="error"
                                                    ng-show="myForm.editor.$error.required">Description is required.
                                                </small>
                                                <small class="error"
                                                    ng-show="myForm.editor.$error.minlength">Description is required to be at least 1 characters
                                                </small>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="row form-row">
                                            <div class="col-md-4">
                                                <label>{{ "Users" |  translate }}</label>
                                            </div>
                                            <div class="col-md-10">
                                                <table>
                                                    <tr ng-repeat="obj in obj5" style="width: 300px">
                                                        <td>
                                                            <label for="{{obj.sims_news_user_group}}">
                                                                <input id="{{obj.sims_news_user_group_code}}" name="chk_grp" type="checkbox" value="{{obj.sims_news_user_group}}" ng-click="GetUserGroups(obj.sims_news_user_group,obj.sims_news_user_group_code)" />
                                                                {{obj.sims_news_user_group}}
                                                            </label>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="row form-row">
                                            
                                            <div class="col-md-12">
                                                <label>{{ "File Upload" |  translate }}</label>
                                            </div>
                                            <div class="col-md-12">
                                                <span style="color: red">(You can upload files upto 5MB)</span>
                                            </div>
                                           <!-- <div class="col-md-12">
                                                <br />
                                                <button class="btn btn-primary btn-small" type="button" ng-click="upfile1()" ng-show="save1">{{"UploadFiles"|translate}}</button>-->
                                                 <table class="table  table-bordered  table-condensed dataTable" aria-describedby="example2_info">
                                                <tr>
                                                    <td class="td">
                                                        <input type="file" id="file1" name="file" onchange="angular.element(this).scope().file_changed(this)"
                                                            ng-files="getTheFiles($files)" accept="all" required style="float: initial; width: 120px; display: none" />
                                                        <button class="btn btn-green" type="button" ng-click="uploadClick(info)" onclick="document.getElementById('file1').click();"><i class="fa fa-cloud-upload"></i>&nbsp;Upload</button></td>
                                                </tr>
                                                <tr ng-repeat="Upload_doc in images" ng-class="row1">
                                                    <td class="td">
                                                        <div>
                                                            {{Upload_doc.name}}
                                                                <div class="fa fa-times" ng-if="Upload_doc.name!=''" ng-click="CancelFileUpload($index)"></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>

                                          <!--  </div>-->
                                        </div>
                                    </div>



                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="row form-row">
                                </div>
                            </div>
                        </div>

                        <div class="form-actions">
                            <div class="pull-right">
                                <button class="btn btn-primary btn-small" type="submit" ng-click="Save('Y')">Publish and Email</button>
                                <button class="btn btn-primary btn-small" type="submit" ng-click="Save('N')">Publish</button>
                                <button class="btn btn-primary btn-small" type="button" ng-click="Update()" ng-show="update1">{{ "Update" | translate }}</button>
                                <button class="btn btn-white btn-small" type="button" ng-click="cancel()">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="UploadDocModal" ng-style="style" tabindex="-1">
    <div class="modal-dialog" id="Div10">
        <div class="modal-content" style="height: 450px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="add_upload_doc()">&times;</span></button>
                <h5 class="semi-bold pull-left">{{"Upload News Documents"| translate }}</h5>
                <br />
            </div>
            <div class="modal-body" style="background-color: white">
                <div class="loading" style="font-weight: bold; font-size: 20px; color: black;" ng-hide="display">
                    {{ "Loading..." | translate }}
                </div>
                <div>
                    <table>
                        <tr>
                            <td class="td">
                                <input type="file" id="file1" name="file" onchange="angular.element(this).scope().file_changed(this)"
                                    ng-files="getTheFiles($files)" accept="all" required style="float: initial; width: 120px; display: none" />
                                <button class="btn btn-green btn-small" type="button" ng-click="uploadClick(info)" onclick="document.getElementById('file1').click();"><i class="fa fa-cloud-upload"></i>&nbsp;Upload</button></td>
                            <td>
                                <div class="col-md-12">
                                    <label style="font-size: medium; font-weight: bold">{{doccount}}</label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <br />
                <div class="grid-body no-border" ng-show="Upload_doc">
                    <div id="Div11" class="dataTables_wrapper form-inline">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="Div13" class="dataTables_wrapper form-inline" style="width: 100%; height: 300px; overflow-x: auto; overflow-y: auto">
                                    <table class="table  table-bordered  table-condensed dataTable" aria-describedby="example2_info">
                                        <tr ng-repeat="Upload_doc in images" ng-class="row1">
                                            <td class="td">
                                                <div>
                                                    {{Upload_doc.name}}
                                                                <div class="fa fa-times" ng-if="Upload_doc.name!=''" ng-click="CancelFileUpload($index)"></div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog" id="div7" style="width: 300px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="semi-bold pull-left">Message</h5>
                <br />
            </div>
            <div class="modal-body">
                <br />
                <label>{{msg1.strMessage}}</label>
                <br />
            </div>
            <div class="modal-footer" style="height: 60px">
                <button type="button" class="btn btn-primary btn-small" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="loader">
    <div class="modal-dialog" id="top">
        <div class="modal-content">
            <div class="box1" style="border-radius: 5px; margin-top: 200px; margin-left: 200px;">
                <img src="img/loading_transparent_.gif">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script src="assets/js/tableHeadFixer.js"></script>

<script>
    $(function () {
        $('#cmb_grade').multipleSelect({
            width: '100%'
        });
    });

    $(function () {
        $('#cmb_section').multipleSelect({
            width: '100%'
        });
    });

    $(function () {
        $('#cmb_designation').multipleSelect({
            width: '100%'
        });
    });

    $(function () {
        $('#cmb_department').multipleSelect({
            width: '100%'
        });
    });
</script>
<script src="assets/js/calender-datepicker-id.js"></script>


