﻿ <div class="grid simple">
        <div class="grid-body no-border">
            <div class="row" ng-show="display">

                    <div class="row" ng-show="notshow">
                   
                    <div class="col-xs-4">
                        <div class="well" class="form-group">
                            <div class="form-group">
                                <label>Current Page:</label>
                                <input placeholder="page"
                                       class="form-control"
                                       ng-model="currentPage"
                                       ng-init="currentPage = 1" />
                            </div>
                            <div class="form-group">
                                <label>Page Size:</label>
                                <input placeholder="Page Size"
                                       class="form-control"
                                       ng-model="numPerPage" />
                            </div>
                            <div class="form-group">
                                <label>Total Items:</label>
                                <input placeholder="Total"
                                       class="form-control"
                                       ng-model="pagersize" />
                            </div>
                            <hr />
                            <div class="form-group">
                                <label>Dots Display:</label>
                                <input placeholder="..."
                                       class="form-control"
                                       maxlength="3"
                                       ng-model="dots"
                                       ng-init="dots = '...'" />
                            </div>

                            <hr />
                            <div class="form-group">
                                <label>UL Class:</label>
                                <input placeholder="pagination"
                                       class="form-control"
                                       maxlength="100"
                                       ng-model="ulClass" />
                            </div>
                            <div class="form-group">
                                <label>Active Class:</label>
                                <input placeholder="active"
                                       class="form-control"
                                       maxlength="100"
                                       ng-model="activeClass"
                                       ng-init="activeClass = 'active'" />
                            </div>
                            <div class="form-group">
                                <label>Disabled Class:</label>
                                <input placeholder="disabled"
                                       class="form-control"
                                       maxlength="100"
                                       ng-model="disabledClass"
                                       ng-init="disabledClass = 'disabled'" />
                            </div>
                            <br />
                            <table class="table">

                                <tr>
                                    <td>
                                        <label>Show Prev Next:</label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               ng-model="showPrevNext"
                                               ng-init="showPrevNext = true" />
                                        {{showPrevNext}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Show First Last:</label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               ng-model="showFirstLast"
                                               ng-init="showFirstLast = true" />
                                        {{showPrevNext}}
                                    </td>
                                </tr>
                            </table>
                            <hr />
                            <span class="btn btn-default" onclick="location.reload()">
                                <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                            </span>
                            <span class="btn btn-success" ng-click="currentPage = 0">
                                Apply Settings
                            </span>
                            <br />
                            <br />
                        </div>
                    </div>
                </div>



                           <div  class="row">
                <div class="col-md-2">
                    <label id="Label" for="txt_Nationality_Code" class="form-label">{{"Curriculum"|translate}}<span style="color:red">*</span></label>
                    <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width"
                            ng-model="temp.sims_cur_code" ng-selected="" name="sims_cur_code" ng-change="getAccYear(temp.sims_cur_code)"
                            ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in sims_cur" required></select>
                </div>

                <div class="col-md-2">
                    <label id="Label1" for="txt_Nationality_Code" class="form-label">{{"Academic Year"|translate}}<span style="color:red">*</span></label>

                    <select id="Select4" data-role="dropdownlist" class="form-control input-sm full-width" ng-change="getGrade(temp.sims_cur_code,temp.sims_academic_year);acdm_yr_change();"
                            ng-model="temp.sims_academic_year" ng-selected="" name="sims_academic_year"
                            ng-options="cur.sims_academic_year as cur.sims_academic_year_desc for cur in academic_year" required></select>
                </div>

          

                <div class="col-md-2">
                   <label id="Label3" for="txt_Nationality_Code" class="form-label"><i class="fa fa-sitemap"></i>&nbsp;{{"Grade"|translate}}<span style="color: red; font-size: 15px">*</span></label>
                    <select id="grade_box" data-role="dropdownlist" class="form-control input-sm full-width"
                            ng-model="temp.sims_grade_code" name="sims_grade_code" ng-change="getSection(temp.sims_cur_code,temp.sims_academic_year,temp.sims_grade_code)">
                        <option ng-repeat="cur in grade_code" value="{{cur.sims_grade_code}} ">{{cur.sims_grade_name}}</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <label id="Label2" for="txt_Nationality_Code" class="form-label"><i class="fa fa-sitemap">&nbsp;</i>{{"Section Name"|translate}}<span style="color:red">*</span></label>
                    <select id="section_box" data-role="dropdownlist" class="form-control input-sm full-width"
                            ng-model="temp.sims_section_code" name="sims_section_code" >
                        <option ng-repeat="cur in section_code" value="{{cur.sims_section_code}} ">{{cur.sims_section_name}}</option>
                    </select>
                </div>

                                  <div class="col-md-2">
                                    <label class="form-label">{{"From Date"|translate}}<span class="asterisk" style="color: red">*</span></label>
                                         <input id="ay_dp_start_date" placeholder="Select Date" class="k-textbox input-sm full-width" name="Startdate" ng-model="temp.from_date">
                                     </div>
                                  

                                <div class="col-md-2">
                                        <label class="form-label">{{"To Date"|translate}}<span class="asterisk" style="color: red">*</span></label>
                                         <input id="ay_dp_endDate" placeholder="Select Date" class="k-textbox input-sm full-width" name=" enddate"   ng-model="temp.to_date">
                                        </div>

            </div>
         <div  class="row">
                       <div class="col-md-12">
                    <div class="pull-right">
                        <label>&nbsp;</label>
                        <button type="button" class="btn btn-primary btn-cons" ng-click="getData()" >{{"Submit"|translate}}</button>
                         
                        <button class="btn btn-rounded btn-warning btn-cons" type="button" ng-click="reset_data()"><i class="icon-ok"></i>{{"Reset"|translate}}</button>


                    </div>
                </div>

                    </div>

 

                <!--Daily table-->
                <div class="row" ng-show="Table">

                       <div class="col-md-12">
                    <!--<div class="pull-left">
                        <select id="Select2" style="width: 65px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="25" class="form-control input-sm">
                                25
                            </option>

                            <option value="50" class="form-control input-sm">
                                50
                            </option>

                            <option value="100" class="form-control input-sm">
                                100
                            </option>

                            <option value="All" class="form-control input-sm">
                                All
                            </option>

                            
                        </select>

                    </div>-->

                    <div class="pull-right">

                        <span class="k-textbox k-space-right">
                            <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                            <a href="#" class="k-icon k-i-search">&nbsp;</a>
                        </span>
                    </div>

                </div>

                    <div class="col-md-12" id="rpt_data">
                        <table class="table table-bordered text-center">
                            <thead>
                                <tr>
                                    <th>{{"Sr No"|translate}}</th>
                                    <th>{{"Parent name"|translate}}</th>
                                    <th>{{"Parent ID"|translate}}</th>
                                    <th>{{"Email ID"|translate}}</th>
                                    <th>{{"Mobile No"|translate}}</th>
                                    <th>{{"Subject of Message"|translate}}</th>
                                    <th>{{"Time & Date Msg"|translate}}</th>
                                    <th>{{"Reply Date & time By Employee"|translate}}</th>
                                    <th>{{"Communication Read Status"|translate}}</th>
                                    <!--<th>{{"Comunication Reply Read Status"|translate}}</th>-->
                                    


                                </tr>
                            </thead>
                            <tbody align="center">
                                <tr ng-repeat="r in get_details|orderBy:colname:reverse|filter:searchText">
                                    <td>{{$index+1}}</td>
                                    <td>{{r.sender_name}}</td>
                                    <td>{{r.sender_id}}</td>
                                    <td>{{r.sims_parent_father_email}}</td>
                                    <td>{{r.sims_parent_father_mobile}}</td>
                                    <td>{{r.sims_comm_subject}}</td>
                                    <td>{{r.sims_comm_date}}</td>
                                    <td>{{r.sims_comm_tran_date}}</td>
                                    <td> <span style="background-color:#e4de0a" class="label label-success ng-binding ng-scope" ng-if="r.sims_comm_status=='I'">Read</span>
                                            <span class="label label-success ng-binding ng-scope" ng-if="r.sims_comm_status=='N'">Unread</span>
                                             
                                            </td>
                                   <!-- <td>{{r.sims_comm_status}}</td>-->


                                    
                                    
                                    
                      
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>






                </div>            </div>     </div>
              
<script src="assets/js/calender-datepicker-id.js"></script>

<script src="assets/js/tableHeadFixer.js"></script>