﻿<style>
    .selected {
        background-color: #fff;
    }

    .box1 {
        /*margin-top: 200px;*/
        display: inline-block;
        vertical-align: top;
        float: left;
        background-color: #fff;
        border-radius: inherit;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3>{{"News"|translate}}<span class="semi-bold"></span></h3>
            </div>
            <div class="grid-body no-border">

                <div ng-show="view">
                    <div class="row">
                        <div class="col-md-6">
                            <select id="Select1" style="width: 65px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                <option value="5" class=" form-control input-sm">5
                                </option>
                                <option value="10" class=" form-control input-sm">10
                                </option>
                                <option value="15" class=" form-control input-sm">15
                                </option>
                            </select>
                            &nbsp;
                            <!--<button class="btn btn-success" style="height: 35px" type="button" ng-click="New()" ng-show="false"><span class="semi-bold">+&nbsp;</span>{{ "New" | translate }}</button>-->
                            &nbsp;
                        <button class="btn btn-white btn-small" type="button" ng-click="Delete()" ng-show="false"><span class="semi-bold"></span>{{ "Delete" | translate }}</button>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <div class="dataTables_filter" id="example_filter">
                                    <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="News Title/Desc" class="input-medium" autofocus="autofocus" tabindex="1" ng-change="search()">
                                        <a href="#" class="k-icon k-i-search">&nbsp;</a></span>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <div class="row margin-top">
                            <div class="col-md-12">
                                <table class="table table-hover table-bordered table-condensed" id="fixedtable">
                                    <thead style="background-color: white">
                                        <tr style="background-color: #e9e4e4">
                                            <!--<td class="small-cell v-align-middle">
                                        <div class="checkbox check-success">
                                            <input type="checkbox" name="check" value="1" id="mainchk" ng-click="check();">
                                            <label for="mainchk"></label>
                                        </div>
                                    </td>-->
                                            <!-- <td class="small-cell v-align-middle"><b>{{ "MORE" | translate }}</b></td>-->
                                            <td><b>{{ "Publish" | translate }}</b></td>
                                            <!--<td><b>{{ "PStatus" | translate }}</b></td>-->
                                            <td><b>{{ "Delete" | translate }}</b></td>
                                            <td><b>{{ "News No." | translate }}</b></td>
                                            <!--<td><b>{{ "Curriculum" | translate }}</b></td>-->
                                            <!--<td><b>{{ "Academic Year" | translate }}</b></td>-->
                                            <td><b>{{ "Title" | translate }}</b></td>
                                            <td><b>{{ "Short Desc" | translate }}</b></td>
                                            <td><b>{{ "File 1" | translate }}</b></td>
                                            <td><b>{{ "File 2" | translate }}</b></td>
                                            <td><b>{{ "File 3" | translate }}</b></td>
                                            <td><b>{{ "Status" | translate }}</b></td>
                                            <td><b>{{ "ACTION" | translate }}</b></td>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="news in filteredTodos" ng-class="row1">
                                        <!--<td>
                                    <div class="checkbox check-success" style="height: 20px">
                                        <input type="checkbox" name="check" value="1" id="{{category.sims_fee_category}}" ng-click="check1(category.sims_fee_category);">
                                        <label for="{{category.sims_fee_category}}"></label>
                                    </div>
                                </td>-->
                                        <!--<td class="text-center"><i class="fa fa-plus-circle" ng-click="expand(news, $event);"></i></td>-->
                                        <td>
                                            <span ng-if="news.sims_news_pstatus == 'Y'">
                                                <button type="button" style="background-color: #0aa699" class="btn btn-primary btn-xs btn-mini btn-small" ng-click="publishnews(news)" ng-disabled="news.enablenews==false">{{"Publish Now"|translate}}</button>
                                            </span>
                                            <span ng-if="news.sims_news_pstatus == 'N'">
                                                <button type="button" style="background-color: #0aa699" class="btn btn-primary btn-xs btn-mini btn-small" ng-show="true" ng-click="unpublishnews(news)" ng-disabled="news.enablenews==false">{{"UnPublish Now"|translate}}</button>
                                            </span>
                                            <span ng-if="news.sims_news_pstatus == 'E'">
                                                <!--<label style="height: 30px; color: red">{{"Expired"|translate}}</label>-->
                                                <button type="button" style="background-color: #0aa699" class="btn btn-primary btn-xs btn-mini btn-small" ng-click="publishnews(news)">{{"Publish Now"|translate}}</button>
                                            </span>
                                        </td>
                                        <!--<td>
                                    <div>{{news.sims_news_pstatus}}</div>
                                </td>-->
                                        <td>
                                            <span>
                                                <button type="button" class="btn btn-danger btn-xs btn-mini btn-small" ng-click="delnews(news)" ng-disabled="news.enablenews==false">Delete</button>
                                            </span>
                                        </td>
                                        <td class="v-align-middle" ng-style="{ 'color' : (news.sims_news_pstatus == 'E') ? 'Red' : 'Black' }">
                                            <div>{{news.sims_news_number}}</div>
                                        </td>
                                        <!--<td>
                                    <div>{{news.sims_academic_year}}</div>
                                </td>-->
                                        <td ng-style="{ 'color' : (news.sims_news_pstatus == 'E') ? 'Red' : 'Black' }">
                                            <div>{{news.sims_news_title}}</div>
                                        </td>
                                        <td>
                                            <div>{{news.sims_news_short_desc}}</div>
                                        </td>
                                        <td>
                                            <div><a href="#" ng-click="download(news.sims_news_file_path1)" ng-style="{ 'color' : (news.sims_news_pstatus == 'E') ? 'Red' : 'Black' }">{{news.sims_news_file_path1_en}}</a></div>
                                        </td>
                                        <td>
                                            <div><a href="#" ng-click="download(news.sims_news_file_path2)" ng-style="{ 'color' : (news.sims_news_pstatus == 'E') ? 'Red' : 'Black' }">{{news.sims_news_file_path2_en}}</a></div>
                                        </td>
                                        <td>
                                            <div><a href="#" ng-click="download(news.sims_news_file_path3)" ng-style="{ 'color' : (news.sims_news_pstatus == 'E') ? 'Red' : 'Black' }">{{news.sims_news_file_path3_en}}</a></div>
                                        </td>
                                        <td class="v-align-middle">
                                            <span ng-if="news.sims_news_status==true" class="label label-success">Active</span>
                                            <span ng-if="news.sims_news_status==false" class="label label-important">In Active</span>
                                        </td>
                                        <!--<td>
                                    <a href=""><i class="fa fa-edit" ng-click="edit(news)"></i></a>
                                </td>-->
                                        <td>
                                            <span>
                                                <button type="button" class="btn btn-primary btn-xs btn-mini btn-small" ng-click="edit(news)" ng-disabled="news.enablenews==false">Edit</button>
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                    </paging>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="create">
                    <form name="myForm" novalidate>
                        <div class="row" ng-show="notshow">
                            <div class="col-xs-4">
                                <div class="well" class="form-group">
                                    <div class="form-group">
                                        <label>Current Page:</label>
                                        <input
                                            placeholder="page"
                                            class="form-control"
                                            ng-model="currentPage"
                                            ng-init="currentPage = 1" />
                                    </div>
                                    <div class="form-group">
                                        <label>Page Size:</label>
                                        <input
                                            placeholder="Page Size"
                                            class="form-control"
                                            ng-model="numPerPage" />
                                    </div>
                                    <div class="form-group">
                                        <label>Total Items:</label>
                                        <input
                                            placeholder="Total"
                                            class="form-control"
                                            ng-model="pagersize" />
                                    </div>
                                    <hr />
                                    <div class="form-group">
                                        <label>Dots Display:</label>
                                        <input
                                            placeholder="..."
                                            class="form-control"
                                            maxlength="3"
                                            ng-model="dots"
                                            ng-init="dots = '...'" />
                                    </div>

                                    <hr />
                                    <div class="form-group">
                                        <label>UL Class:</label>
                                        <input
                                            placeholder="pagination"
                                            class="form-control"
                                            maxlength="100"
                                            ng-model="ulClass" />
                                    </div>
                                    <div class="form-group">
                                        <label>Active Class:</label>
                                        <input
                                            placeholder="active"
                                            class="form-control"
                                            maxlength="100"
                                            ng-model="activeClass"
                                            ng-init="activeClass = 'active'" />
                                    </div>
                                    <div class="form-group">
                                        <label>Disabled Class:</label>
                                        <input
                                            placeholder="disabled"
                                            class="form-control"
                                            maxlength="100"
                                            ng-model="disabledClass"
                                            ng-init="disabledClass = 'disabled'" />
                                    </div>
                                    <br />
                                    <table class="table">

                                        <tr>
                                            <td>
                                                <label>Show Prev Next:</label></td>
                                            <td>
                                                <input
                                                    type="checkbox"
                                                    ng-model="showPrevNext"
                                                    ng-init="showPrevNext = true" />
                                                {{showPrevNext}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Show First Last:</label></td>
                                            <td>
                                                <input
                                                    type="checkbox"
                                                    ng-model="showFirstLast"
                                                    ng-init="showFirstLast = true" />
                                                {{showPrevNext}}
                                            </td>
                                        </tr>
                                    </table>
                                    <hr />
                                    <span class="btn btn-default" onclick="location.reload()">
                                        <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                                    </span>
                                    <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                                    </span>
                                    <br />
                                    <br />
                                </div>
                            </div>
                        </div>

                       
                                      <div class="row">
                                    <div class="col-md-2">
                                        <label>{{ "Number" | translate }}</label>
                                                <input type="text" class="form-control input-sm full-width" id="txt_number" name="txt_number" ng-model="edt.sims_news_number" disabled>
                                            </div>

                                    <div class="col-md-2">
                                        <label>{{ "Curriculum" | translate }}</label>
                                                <select id="Select5" name="Curriculum" class="form-control input-sm full-width" required ng-model="edt.sims_cur_code" ng-change="Getacademicyear(edt.sims_cur_code)">
                                                    <option value="">Please Select</option>
                                                    <option ng-repeat="i in obj2|filter:{sims_cur_short_name_en: ''}" value="{{i.sims_cur_code}}">{{i.sims_cur_short_name_en}}
                                                    </option>
                                                </select>
                                           
                                                <div class="error-container"
                                                    ng-show="myForm.Curriculum.$dirty && myForm.Curriculum.$invalid || myForm.$submitted">
                                                    <small class="error"
                                                        ng-show="myForm.Curriculum.$error.required">Curriculum is required.
                                                    </small>

                                                </div>
                                            </div>
                                       

                                    <div class="col-md-2">
                                        <label>{{ "Academic Year" |  translate }}</label>
                                            <div ng-class="{'has-error': !myForm.AcademicYear.$valid && (myForm.AcademicYear.$touched || myForm.$submitted) }">
                                                <select id="Select" name="AcademicYear" class="form-control input-sm full-width"
                                                    required ng-model="edt.sims_academic_year_desc"
                                                    ng-options="i.sims_academic_year as i.sims_academic_year_desc for i in ob_acyear">
                                                    <option value="">Please Select</option>
                                                    <!--<option ng-repeat="i in obj1|filter:{sims_academic_year_desc: ''}" value="{{i.sims_academic_year}}">{{i.sims_academic_year_desc}}-->
                                                    <!--</option>-->
                                                </select>
                                          </div>
                                                <div class="error-container"
                                                    ng-show="myForm.AcademicYear.$dirty && myForm.AcademicYear.$invalid || myForm.$submitted">
                                                    <small class="error"
                                                        ng-show="myForm.AcademicYear.$error.required">Academic Year is required.
                                                    </small>

                                                </div>
                                        </div>
                                  

                                    <div class="col-md-2">
                                        <label>{{ "Type" |  translate }}</label>
                                                <select id="Select2" name="Type" required class="form-control input-sm full-width" ng-model="edt.sims_news_type">
                                                    <option value="" selected disabled>Please Select</option>
                                                    <option ng-repeat="i in obj3|filter:{sims_news_type: ''}" value="{{i.sims_news_type}}">{{i.sims_news_type}}
                                                    </option>
                                                </select>
                                           
                                                <div class="error-container"
                                                    ng-show="myForm.Type.$dirty && myForm.Type.$invalid || myForm.$submitted">
                                                    <small class="error"
                                                        ng-show="myForm.Type.$error.required">Type is required.
                                                    </small>

                                                </div>
                                            </div>
                                      
                                    <div class="col-md-2">
                                        <label>{{ "Category" |  translate }}</label>
                                                <select id="Select3" name="Category" required class="form-control input-sm full-width" ng-model="edt.sims_news_category">
                                                    <option value="" selected disabled>Please Select</option>
                                                    <option ng-repeat="i in obj4|filter:{sims_news_category: ''}" value="{{i.sims_news_category}}">{{i.sims_news_category}}
                                                    </option>
                                                </select>
                                           
                                                <div class="error-container" ng-show="myForm.Category.$dirty && myForm.Category.$invalid || myForm.$submitted">
                                                    <small class="error"
                                                        ng-show="myForm.Category.$error.required">Category is required.
                                                    </small>

                                                </div>
                                            </div>
                                       
                                </div>
                            
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>{{ "Title" |  translate }}</label>
                                                <input type="text" required class="form-control input-sm full-width" id="txt_title" name="txt_title" ng-model="edt.sims_news_title">
                                           
                                                <div class="error-container"
                                                    ng-show="myForm.txt_title.$dirty && myForm.txt_title.$invalid || myForm.$submitted">
                                                    <small class="error"
                                                        ng-show="myForm.txt_title.$error.required">Title is required.
                                                    </small>
                                                    <small class="error"
                                                        ng-show="myForm.txt_title.$error.minlength">Title is required to be at least 1 characters
                                                    </small>
                                                    <small class="error"
                                                        ng-show="myForm.txt_title.$error.maxlength">Title cannot be longer than 50 characters
                                                    </small>
                                                </div>
                                            </div>
                                        

                                    <div class="col-md-2">
                                        <label>{{ "Publish Date" |  translate }}</label>
                                                <!--<div class="input-append success date col-md-4 no-padding" data-datepicker="true" style="width: auto">-->
                                                    <input type="text" id="dp_publishdate" required placeholder="Select Date" name="publishdate" class="k-textbox full-width input-sm" ng-model="edt.sims_news_publish_date">
                                                   <!-- <span class="add-on" style="height: 30px; padding-top: 0px"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                                <!--</div>-->
                                           
                                                <div class="error-container"
                                                    ng-show="myForm.publishdate.$dirty && myForm.publishdate.$invalid || myForm.$submitted">
                                                    <small class="error"
                                                        ng-show="myForm.publishdate.$error.required">Publish Date is required.
                                                    </small>
                                                </div>
                                            </div>
                                   

                                    <div class="col-md-2">
                                        <label>{{ "Expiry Date" |  translate }}</label>
                                                <!--<div class="input-append success date col-md-4 no-padding" data-datepicker="true" style="width: auto">-->
                                                    <input type="text" id="dp_expirydate" required placeholder="Select Date" name="expirydate" class="k-textbox full-width input-sm" ng-model="edt.sims_news_expiry_date">
                                                    <!--<span class="add-on" style="height: 30px; padding-top: 0px"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                                <!--</div>-->
                                          
                                                <div class="error-container"
                                                    ng-show="myForm.expirydate.$dirty && myForm.expirydate.$invalid || myForm.$submitted">
                                                    <small class="error"
                                                        ng-show="myForm.expirydate.$error.required">Expiry Date is required.
                                                    </small>
                                                </div>
                                            </div>
                                        

                                    <div class="col-md-2">
                                        <label class="form-label">{{ "Status" |  translate }}</label>
                                                <div class="checkbox check-success" style="height: 20px">
                                                    <input type="checkbox" name="chk_status" id="chk_status" title="Status" ng-model="edt.sims_news_status">
                                                    <label for="chk_status" />
                                                </div>
                                            </div>
                                </div>
                          
                            <div class="row">
                            <div class="col-md-12">
                                <label>{{ "Short Description" |  translate }}</label>
                                                <input type="text" class="form-control input-sm full-width" id="txt_shortdesc" name="txt_shortdesc" ng-model="edt.sims_news_short_desc">
                                            </div>
                                </div>

         <div class="row">
                                    <div class="col-md-6">
                                        <label>{{ "Description" |  translate }}</label>
                                            <div ng-class="{'has-error': !myForm.editor.$valid && (myForm.editor.$touched || myForm.$submitted) }">
                                               
                                                       <!--<div class="grid-title no-border"  style="margin-top:2px;margin-bottom:0px">  -->
                                                    <div class="tools" style="width: 500px">
                                                        <a href="javascript:;" class="collapse"></a>
                                                        <a href="#grid-config" data-toggle="modal" class="config"></a>
                                                        <a href="javascript:;" class="reload"></a>
                                                        <a href="javascript:;" class="remove"></a>
                                                    </div>
                                                    <!--</div>-->
                                                 
                                                        <textarea id="text-editor" name="editor" required placeholder="Enter text ..." class="form-control" rows="12" style="text-align: left" ng-model="edt.sims_circular_desc"></textarea>
                                                    </div>
                                              
                                                <div class="error-container"
                                                    ng-show="myForm.editor.$dirty && myForm.editor.$invalid || myForm.$submitted">
                                                    <!-- <small class="error"
                                                    ng-show="myForm.editor.$error.required">Description is required.
                                                </small>
                                                <small class="error"
                                                    ng-show="myForm.editor.$error.minlength">Description is required to be at least 1 characters
                                                </small>-->
                                                </div>
                                            </div>
                                       

                                    <div class="col-md-2">
                                        <label>{{ "Users" |  translate }}</label>
                                                <table>
                                                    <tr ng-repeat="obj in obj5" style="width: 300px">
                                                        <td>
                                                            <label for="{{obj.sims_news_user_group}}">
                                                                <input id="{{obj.sims_news_user_group_code}}" name="chk_grp" type="checkbox" value="{{obj.sims_news_user_group}}" ng-click="GetUserGroups(obj.sims_news_user_group,obj.sims_news_user_group_code)" />
                                                                {{obj.sims_news_user_group}}
                                                            </label>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>


                                    <div class="col-md-3">
                                        <label>{{ "File Upload" |  translate }}</label>
                                                <table class="table  table-bordered  table-condensed dataTable" aria-describedby="example2_info">
                                                    <tr>
                                                        <td class="td">
                                                            <input type="file" id="file1" name="file" onchange="angular.element(this).scope().file_changed(this)"
                                                                ng-files="getTheFiles($files)" accept="all" required style="float: initial; width: 120px; display: none" />
                                                            <button class="btn btn-green btn-small" type="button" ng-click="uploadClick(info)" onclick="document.getElementById('file1').click();"><i class="fa fa-cloud-upload"></i>&nbsp;Upload</button></td>
                                                    </tr>
                                                    <tr ng-repeat="Upload_doc in images" ng-class="row1">
                                                        <td class="td">
                                                            <div>
                                                                {{Upload_doc.name}}
                                                                <div class="fa fa-times" ng-if="Upload_doc.name!=''" ng-click="CancelFileUpload($index)"></div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>

                                            </div>
                                </div>
                        
                           
                                <div class="row"> 
                                    <div class="col-md-12">
                                
                        <div class="form-actions">
                            <div class="pull-right">
                                <button class="btn btn-primary btn-small" type="submit" ng-click="Save()" ng-show="save1">{{"Save"|translate}}</button>
                                <button class="btn btn-primary btn-small" type="button" ng-click="Update('Y')" ng-show="update1">{{ "Publish and Email" | translate }}</button>
                                <button class="btn btn-primary btn-small" type="button" ng-click="Update('N')" ng-show="update1">{{ "Publish" | translate }}</button>
                                <button class="btn btn-white btn-small" type="button" ng-click="cancel()">{{"Cancel"|translate}}</button>
                            </div>
                        </div>
                                        </div>
                            </div>
                    </form>
                </div>

                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog" id="div7" style="width: 300px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="semi-bold pull-left">{{"Message"|translate}}</h5>
                <br />
            </div>
            <div class="modal-body">
                <br />
                <label>{{msg1.strMessage}}</label>
                <br />
            </div>
            <div class="modal-footer" style="height: 60px">
                <button type="button" class="btn btn-primary btn-small" data-dismiss="modal">{{"Ok"|translate}}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="loader">
    <div class="modal-dialog" id="top">
        <div class="modal-content">
            <div class="box1" style="border-radius: 5px; margin-top: 200px; margin-left: 200px;">
                <img src="img/loading_transparent_.gif">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>


