﻿<style>
    .sortorder:after {
        content: '\25b2';
    }

    .sortorder.reverse:after {
        content: '\25bc';
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input
                                placeholder="page"
                                class="form-control"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input
                                placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input
                                placeholder="Total"
                                class="form-control"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input
                                placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input
                                placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input
                                placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input
                                placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">


                            <tr>
                                <td>
                                    <label>Show Prev Next:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="page-title">
                <h3><span class="semi-bold">{{"Absent"| translate }}</span>{{"Employee Notification"| translate }}</h3>
            </div>

            <div class="grid-body no-border">

                <div class="row" ng-hide="busyindicator">

                    <div class="col-md-2" ng-show="hide_cur">
                        <label>{{"Curriculum"|translate}}<span class="asterisk" style="color: red">*</span></label>
                        <select id="cmb_School_Code" data-role="dropdownlist" class="form-control input-sm full-width" name="user"
                            ng-model="edt.sims_cur_code"
                            ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in curriculum">
                            <option value="" selected disabled>Please Select</option>
                        </select>
                    </div>

                    <div class="col-md-2">
                        <label>{{"Company"| translate }}</label>
                        <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width" name="user" ng-model="edt.sh_company_code" ng-change="companyChange(edt.sh_company_code)">
                            <option value="" selected disabled>Please Select</option>
                            <option class="form-control input-sm" ng-repeat="cur in cmbCompany" value="{{cur.sh_company_code}}">{{cur.sh_company_name}}</option>
                        </select>
                    </div>

                    <div class="col-md-2">
                        <label>{{"Academic Year"|translate}}<span class="asterisk" style="color: red">*</span></label>
                        <select id="cmb_academic_year" data-role="dropdownlist" class="form-control input-sm full-width" name="user1"
                            ng-model="temp.sims_academic_year" ng-change="getGrade()"
                            ng-options="year1.sims_academic_year as year1.sims_academic_year_desc for year1 in Acc_year">
                            <option value="" selected disabled>Please Select</option>
                        </select>
                    </div>

                    <div class="col-md-2">
                        <label>{{"Department"| translate }}</label>
                        <select id="cmb_dept_code" multiple="multiple" class="full-width" data-role="dropdownlist" ng-model="edt.dept_no">
                            <option class="form-control input-sm" ng-repeat="dept in cmbDepartment|filter:{em_dept_name:''}" value="{{dept.code}}">{{dept.em_dept_name}}</option>
                        </select>

                    </div>

                    <div class="col-md-2">
                        <label>{{"Designation"| translate }}</label>
                        <select id="cmb_desig_code" multiple="multiple" class="full-width" data-role="dropdownlist" ng-model="edt.esi_code">
                            <option class="form-control input-sm" ng-repeat="desi in cmbDesignation |filter:{em_desg_desc:''}" value="{{desi.code}}">{{desi.em_desg_desc}}</option>
                        </select>
                    </div>

                    <div class="col-md-2">
                        <label>{{"Employee Code"| translate }}</label>
                        <input type="text" id="txtenrollname" ng-model="edt.em_login_code" class="k-textbox input-sm full-width" />
                    </div>

                    <div class="col-md-2">
                        <!-- <label class="semi-bold" for="EndDate">{{"Select Date" | translate }}</label>
                        <input type="text" id="from_date" placeholder="Select Date"
                            ng-disabled="End_date" name="creation_date" class="k-textbox input-sm full-width" ng-model="dt.sims_from_date">-->
                        <div class="pull-right">
                             <label>&nbsp;</label>
                            <button type="button" class="btn btn-warning btn-small" ng-click="Employee_Search()">{{"Employee Search"| translate }}</button>
                        </div>
                    </div>

                </div>

                <div class="row" ng-hide="busyindicator">

                    <div class="col-md-2">
                        <label class="semi-bold" for="EndDate">{{"Select Date" | translate }}</label>
                        <input type="text" id="from_date" placeholder="Select Date"
                            ng-disabled="End_date" name="creation_date" class="k-textbox input-sm full-width" ng-model="dt.sims_from_date">
                    </div>

                    <div class="col-md-2">
                        <label>{{"Select Type"|translate}}</label>
                        <select id="attendance_type" data-role="dropdownlist" class="form-control input-sm full-width" name="user" ng-model="edt.sims_attendance_code">                            
                            <option ng-repeat="aru in arule" value="{{aru.sims_attendance_code}}">{{aru.sims_attendance_description}}</option>
                            <!--ng-options="aru.sims_attendance_code as aru.sims_attendance_description for aru in arule"-->
                        </select>
                    </div>

                    <div class="col-md-1">
                        <label>{{"Send Email"| translate }}</label>
                        <div class="checkbox check-success" style="height: 20px">
                            <input type="checkbox" value="1" id="chk_status1" ng-model="edt1.sims_send_email">
                            <label for="chk_status1" />
                        </div>
                    </div>
                    <div class="col-md-1">
                        <label>{{"Send Alert"| translate }}</label>
                        <div class="checkbox check-success" style="height: 20px">
                            <input type="checkbox" value="1" id="chk_status2" ng-model="edt1.sims_send_alert">
                            <label for="chk_status2" />
                        </div>
                    </div>
                    <div class="col-md-1">
                        <label>{{"Send Sms"| translate }}</label>
                        <div class="checkbox check-success" style="height: 20px">
                            <input type="checkbox" value="1" id="chk_status3" ng-model="edt1.sims_send_sms">
                            <label for="chk_status3" />
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-actions">
                            <div class="pull-right">
                                <button type="button" class="btn btn-success btn-small" ng-click="Show_Data(edt.sims_cur_code,temp.sims_academic_year)">{{"Show"| translate }}</button>
                                <button type="button" class="btn btn-warning btn-small" ng-click="Reset()">{{"Reset"| translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="table1" class="row margin-top">

                    <div class="row margin-top">
                        <!--<div class="col-md-1">
                            <label>{{"Send Email"| translate }}</label>
                            <div class="checkbox check-success" style="height: 20px">
                                <input type="checkbox" value="1" id="chk_status1" ng-model="edt1.sims_send_email">
                                <label for="chk_status1" />
                            </div>
                        </div>
                        <div class="col-md-1">
                            <label>{{"Send Alert"| translate }}</label>
                            <div class="checkbox check-success" style="height: 20px">
                                <input type="checkbox" value="1" id="chk_status2" ng-model="edt1.sims_send_alert">
                                <label for="chk_status2" />
                            </div>
                        </div>
                        <div class="col-md-1">
                            <label>{{"Send Sms"| translate }}</label>
                            <div class="checkbox check-success" style="height: 20px">
                                <input type="checkbox" value="1" id="chk_status3" ng-model="edt1.sims_send_sms">
                                <label for="chk_status3" />
                            </div>
                        </div>-->
                        <div class="col-md-2">
                            <label>&nbsp;</label>
                            <button type="button" class="btn btn-success btn-small" ng-click="Submit()">{{"Submit"| translate }}</button>
                            <button type="button" class="btn btn-success btn-small" ng-click="Clear()">{{"Clear"| translate }}</button>
                            <!-- <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="Clear()" data-dismiss="modal"><i class="fa fa-arrow-left"></i>{{"Clear"| translate }}</button>-->
                        </div>
                    </div>

                    <div class="row margin-top">
                        <div class="col-md-6">
                            <select id="Select2" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                <option value="10" class=" form-control input-sm">10
                                </option>

                                <option value="20" class=" form-control input-sm">20
                                </option>

                                <option value="All" class="form-control input-sm">All
                                </option>

                            </select>
                        </div>

                        <!-- <div class="col-md-6">
                            <div class="pull-right">
                                <div class="dataTables_filter" id="Div1">
                                    <span class="k-textbox k-space-right full-width">
                                        <input aria-controls="example" ng-model="searchText" class="input-medium" placeholder="Search" type="search" ng-change="search()">
                                        <a href="#" class="k-icon k-i-search">&nbsp;</a></span>

                                </div>
                            </div>
                        </div>-->

                        <div class="col-md-6">
                            <div class="pull-right">
                                <div class="dataTables_filter" id="Div1">
                                    <span class="k-textbox k-space-right full-width">
                                        <input type="text" aria-controls="example" placeholder="Name/Enroll/Date" ng-model="searchText" class="k-textbox input-sm full-width" ng-change="search()">
                                        <a href="#" class="k-icon k-i-search">&nbsp;</a></span>

                                </div>
                            </div>
                        </div>

                    </div>


                </div>

                <div class="col-md-12" ng-show="table1">
                    <div class="row form-row">
                        <hr style="height: 01px; border: none; color: orange; background-color: orange;">
                    </div>
                </div>

                <div id="exportable" class="dataTables_wrapper form-inline" ng-show="table">
                    <div id="example_wrapper" class="dataTables_wrapper form-inline">

                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-hover table-condensed" id="example">

                                    <thead>
                                        <tr style="background-color: #edefef">

                                            <th class="small-cell v-align-middle" style="z-index: 1">
                                                <div class="checkbox check-success">
                                                    <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                                    <label for="mainchk"></label>
                                                </div>
                                            </th>

                                            <th class="semi-bold">
                                                <label class="semi-bold">{{"Sr.No"|translate}}</label>
                                            </th>

                                            <th class="semi-bold">
                                                <label class="semi-bold">{{"Student Name"|translate}}</label>
                                            </th>

                                            <!-- <th class="semi-bold">
                                                <label class="semi-bold">{{"Grade"|translate}}</label>
                                            </th>

                                            <th class="semi-bold">
                                                <label class="semi-bold">{{"Section"|translate}}</label>
                                            </th>

                                            <th class="semi-bold">
                                                <label class="semi-bold">{{"Absent Date"|translate}}</label>
                                            </th>-->
                                            <!-- <th class="semi-bold">
                                                <label class="semi-bold">{{"Absent Remark"|translate}}</label>
                                            </th>-->

                                            <th class="semi-bold">
                                                <label class="semi-bold">{{"Absent Remark"|translate}}</label>
                                            </th>

                                            <th class="semi-bold">
                                                <label class="semi-bold">{{"Email ID"|translate}}</label>
                                            </th>
                                            <th class="semi-bold">
                                                <label class="semi-bold">{{"Mobile No"|translate}}</label>
                                            </th>

                                            <!--<th class="semi-bold" ng-click="sortBy('sims_absent_notification_email')">
                                                <label class="semi-bold">{{"Email Status"|translate}}</label>
                                                <span class="sortorder" ng-show="propertyName === 'sims_absent_notification_email'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            
                                            <th class="semi-bold" ng-click="sortBy('sims_absent_notification_alert')">
                                                <label class="semi-bold">{{"Alert Status"|translate}}</label>
                                                <span class="sortorder" ng-show="propertyName === 'sims_absent_notification_alert'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th class="semi-bold" ng-click="sortBy('sims_absent_notification_sms')">
                                                <label class="semi-bold">{{"Sms Status"|translate}}</label>
                                                <span class="sortorder" ng-show="propertyName === 'sims_absent_notification_sms'" ng-class="{reverse: reverse}"></span>
                                            </th>-->
                                        </tr>
                                    </thead>

                                    <tr ng-repeat="info in filteredTodos | orderBy:propertyName:reverse" ng-class="row1">

                                        <td>
                                            <div class="row-fluid">
                                                <div class="checkbox check-success" style="height: 20px">
                                                    <input id="{{info.sims_enroll_number+$index}}" type="checkbox" value="1" ng-click="checkonebyoneselect()">
                                                    <label for="{{info.sims_enroll_number+$index}}"></label>
                                                </div>
                                            </div>
                                        </td>

                                        <td>{{$index+1}}</td>
                                        <td>{{info.student_full_name}}</td>
                                        <!-- <td>{{info.sims_grade_name}}</td>
                                        <td>{{info.sims_section_name}}</td>
                                        <td>{{info.sims_attendance_date}}</td>-->
                                        <!--<td class="col-md-6" style="background: white; padding-top: 2px !important; padding-bottom: 2px !important;">
                                            <textarea class="k-textbox input-sm full-width" rows="2" ng-model="info.doc_path_available_flag" wrap="hard" />
                                        </td>-->
                                        <!--<input type="text" name="Desc" id="Text14" class="k-textbox input-sm" ng-model="info.doc_path_available_flag" />-->

                                        <td class="col-md-6" style="background: white; padding-top: 2px !important; padding-bottom: 2px !important;">
                                            <div style="color: black; padding-left: 5px;">
                                                <p style="word-break: break-all" ng-bind-html="info.doc_path_available_flag| html"></p>
                                            </div>
                                        </td>

                                        <td>{{info.sims_email_id}}</td>
                                        <td>{{info.sims_contact_number}}</td>


                                        <!--<td class="v-align-middle">
                                            <span ng-if="info.sims_absent_notification_flag_email=='S'" class="label label-success">{{info.sims_absent_notification_email}}&nbsp;&nbsp;Sent</span>
                                            <span ng-if="info.sims_absent_notification_flag_email=='U'" class="label label-important">{{info.sims_absent_notification_email}}&nbsp;&nbsp;Unsend</span>
                                            <span ng-if="info.sims_absent_notification_flag_email==''" class="label label-primary">0&nbsp;&nbsp;Unmark</span>
                                        </td>
                                        
                                        <td class="v-align-middle">
                                            <span ng-if="info.sims_absent_notification_flag_alert=='R'" class="label label-success">{{info.sims_absent_notification_alert}}&nbsp;&nbsp;Sent</span>
                                            <span ng-if="info.sims_absent_notification_flag_alert=='U'" class="label label-important">{{info.sims_absent_notification_alert}}&nbsp;&nbsp;Unsend</span>
                                            <span ng-if="info.sims_absent_notification_flag_alert==''" class="label label-primary">0&nbsp;&nbsp;Unmark</span>
                                        </td>
                                        
                                        <td class="v-align-middle">
                                            <span ng-if="info.sims_absent_notification_flag_sms=='S'" class="label label-success">{{info.sims_absent_notification_sms}}&nbsp;&nbsp;Sent</span>
                                            <span ng-if="info.sims_absent_notification_flag_sms=='U'" class="label label-important">{{info.sims_absent_notification_sms}}&nbsp;&nbsp;Unsend</span>
                                            <span ng-if="info.sims_absent_notification_flag_sms==''" class="label label-primary">0&nbsp;&nbsp;Unmark</span>
                                        </td>-->
                                    </tr>

                                </table>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>

        </div>
    </div>
</div>


<script src="assets/js/calender-datepicker-id.js"></script>
