﻿<style>
    .sortorder:after {
        content: '\25b2';
    }

    .sortorder.reverse:after {
        content: '\25bc';
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3>{{ "Destination AirFare" | translate }}<span class="semi-bold"></span></h3>
            </div>
            <div class="grid-body no-border paddingcode">
                <div class="row">
                            <div class="col-md-1">
                                <label class="form-label"><i class="fa fa-sitemap"></i>&nbsp;{{ "Grade" | translate }} <span style="color:red;">* </span></label>
                                        <select id="Select2" name="cmb_grade" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.gr_code" required ng-disabled="editDisabled">
                                            <option value="" label="Please Select"></option>
                                            <option ng-repeat="gr in grade" value="{{gr.gr_code}}">{{gr.gr_desc}}
                                            </option>
                                        </select>
                            </div>
                            <div class="col-md-2">
                                <label class="form-label"><i class="fa fa-flag"></i>&nbsp;{{ "Nationality" | translate }} <span style="color:red;">* </span></label>
                                        <select id="cmb_nation" name="cmb_nation" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.nation_code" ng-change="selectnat(edt.nation_code)" ng-disabled="editDisabled">
                                            <option value="" label="Please Select"></option>
                                            <option ng-repeat="i in nations" value="{{i.nation_code}}">{{i.nation_name}}
                                            </option>
                                        </select>
                            </div>
                            <div class="col-md-2">
                               <label class="form-label-sm"><i class="fa fa-map-marker"></i>&nbsp;{{ "Destination" | translate }} <span style="color:red;">* </span></label>
                                        <select id="cmb_dest" name="cmb_dest" data-role="dropdownlist" class="form-control input-sm full-width" required ng-model="edt.ds_code" ng-disabled="editDisabled">
                                            <option value="" label="Please Select"></option>
                                            <option ng-repeat="i in destination" value="{{i.ds_code}}">{{i.ds_name}}
                                            </option>
                                        </select>
                            </div>
                            <div class="col-md-2">
                                <label><i class="fa fa-align-justify"></i>&nbsp;{{ "Class" | translate }} <span style="color:red;">* </span></label>
                                        <select id="cmb_class" name="cmb_class" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.af_class">
                                            <option value="" label="Please Select"></option>
                                            <option ng-repeat="i in Classget" value="{{i.af_class}}">{{i.af_class_name}}
                                            </option>
                                        </select>
                            </div>
                    
                            <div class="col-md-3">
                                <label><i class="fa fa-signal"></i>&nbsp;{{ "Applicable Frequency (In Months)" | translate }} <span style="color:red;">* </span></label>
                                        <input name="app_freq" id="Text1" type="text" class="k-textbox input-sm full-width" placeholder="Please Enter" ng-model="edt.af_applicable_frequency" ng-pattern="/^[0-9\s.]{1,20}$/"><!--ng-pattern="/^[0-9]{1,20}$/"-->
                           </div>
                           
                            <div class="col-md-2">
                                <label><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{ "Rate" | translate }} <span style="color:red;">* </span></label>
                                <input name="rate" id="txt_adult_rate" type="text" class="k-textbox input-sm full-width" placeholder="Please Enter" required ng-model="edt.af_adult_rate" ng-pattern="/^[0-9\s.]{1,20}$/"><!--ng-pattern="/^[0-9]{1,20}$/"-->
                            </div>
        
                        </div>
                  
                        <div class="row margin-top">
                            
                           
                                    <div class="col-md-2">
                                        <label style="margin-bottom: 2px;"><i class="fa fa-calendar"></i>&nbsp;{{ "Default Applicable Month" | translate }} <span style="color:red;">* </span></label>
                                                <select id="Select3" name="cmb_month" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.pays_month_code">
                                                    <option value="" label="Please Select"></option>
                                                    <option ng-repeat="i in applicableMonth" value="{{i.pays_month_code}}">{{i.pays_month_name}}
                                                    </option>
                                                </select>
                                    </div>
                                    <div class="col-md-1">
                                        <label  style="margin-bottom: 2px;" id="Label13" for="txt_full_name" class="form-label"><i class="fa fa-flag"></i>&nbsp;{{"Payroll Flag"| translate }}</label>
                                        <div class="row-fluid">
                                            <div class="checkbox check-success">
                                                <input id="chk_term4" type="checkbox" ng-model="edt.af_payroll_flag">
                                                <label for="chk_term4"></label>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-2">
                                        <label><i class="fa fa-dashboard"></i>&nbsp;{{"Pay Code"| translate }}</label>
                                        <select id="Select2" class="form-control input-sm full-width" ng-model="edt.af_pay_code" 
                                                ng-options="le.paycode_code as le.paycode_name for le in GetPayCode">
                                            <option value="" selected disabled>Please Select</option>
                                        </select>
                                    </div>                                    
        
                                    <div class="col-md-2">
                                           <label  style="margin-bottom: 2px;"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{ "Account Number" | translate }} <span style="color:red;">* </span></label>
                                           <select id="Select5" name="cmb_acc" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.af_gl_acct_no">
                                               <option value="" label="Please Select"></option>
                                               <option ng-repeat="i in accountName" value="{{i.af_gl_acct_no}}">{{i.af_gl_acct_name}}
                                               </option>
                                           </select>
                                    </div>                            
                                
                            <div class="col-md-1">
                                <label style="margin-bottom: 2px;" id="Label1" for="txt_full_name" class="form-label"><i class="fa fa-flag"></i>&nbsp;{{"Upgrade Flag"| translate }}</label>
                                <div class="row-fluid">
                                    <div class="checkbox check-success">
                                        <input id="chk_term3" type="checkbox" ng-model="edt.upgrade_flag" ng-change="select_chk_upgrade(edt.upgrade_flag)">
                                        <label for="chk_term3"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label id="Label2" for="txt_full_name" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Upgrade After (In Year)"| translate }}</label>
                                <input name="rate" id="Text2" type="text" class="k-textbox input-sm full-width" placeholder="Please Enter" ng-disabled="!edt.upgrade_flag" ng-model="edt.update_after" ng-pattern="/^[0-9\s.]{1,20}$/"><!--ng-pattern="/^[0-9]{1,20}$/"-->
                             </div>
                            <div class="col-md-2">                               
                                 <label id="Label3" for="txt_full_name" class="form-label"><i class="fa fa-signal"></i>&nbsp;{{"Upgrade Frequency"| translate }}</label>
                                 <input name="rate" id="Text3" type="text" class="k-textbox input-sm full-width" placeholder="Please Enter" ng-disabled="!edt.upgrade_flag" ng-model="edt.update_freq" ng-pattern="/^[0-9\s.]{1,20}$/"><!--ng-pattern="/^[0-9]{1,20}$/"-->
                              </div>
                        </div>
                        <div class="row">
                             <div class="col-md-12">                    
                                 <div class="pull-right m-t-5">
                                     <button class="btn btn-primary btn-cons btn-small" type="button" ng-show="showSaveBtn" ng-click="save_data()">{{ "Save" | translate }}</button>
                                     <button class="btn btn-primary btn-cons btn-small" type="button" ng-show="showUpdateBtn" ng-click="update_data()">{{ "Update" | translate }}</button>
                                     <button class="btn btn-warning btn-cons btn-small" type="button" ng-click="reset_data()">{{ "Reset" | translate }}</button>
                                     <span class="k-textbox k-space-right">
                                         <input type="text" placeholder="Search" aria-controls="example" ng-model="search.$" class="k-textbox input-sm">
                                         <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                     </span>
                                 </div>
                             </div>                   
                       </div>
                </div>
                             
                   <div class="row m-t-5">
                        <div class="col-md-12" ng-show="busy">
                            <div class="col-md-5">
                                &nbsp;
                            </div>

                            <div class="col-md-5">
                                <div class="row">
                                    <img src="assets/images/loading.gif" />
                                </div>
                            </div>
                        </div>
                        <div ng-show="rgvtbl">
                            <div class="col-md-12">
                                <div class="col-md-12 gridcolor" >
                                    <div class="dataTables_wrapper form-inline" id="Div3">
                                    <table class="table table-bordered table-hover table-condensed" id="Table2" aria-describedby="example2_info">
                                        <thead style="background-color: white">
                                            <tr style="background-color: #edefef">
                                                <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                        <a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;<i class="fa fa-sitemap"></i>&nbsp;{{"Grade"| translate }}</a>
                                    </th>
                                                <!--<th>{{"Grade"| translate }}</th>-->
                                                <th><i class="fa fa-flag"></i>&nbsp;{{"Nationality"| translate }}</th>
                                                <th><i class="fa fa-map-marker"></i>&nbsp;{{"Destination"| translate }}</th>
                                                <th><i class="fa fa-align-justify"></i>&nbsp;{{"Class"| translate }}</th>
                                                <th><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Rate"| translate }}</th>
                                                <th><i class="fa fa-calendar"></i>&nbsp;{{"Applicable Month"| translate }}</th>
                                                <th><i class="fa fa-signal"></i>&nbsp;{{"Frequency"| translate }}</th>
                                                <th><i class="fa fa-flag"></i>&nbsp;{{"Payroll flag"| translate }}</th>
                                                <th><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Account Number"| translate }}</th>
                                                <th><i class="fa fa-flag"></i>&nbsp;{{"Upgrade Flag"| translate }}</th>
                                                <th><i class="fa fa-align-justify"></i>&nbsp;{{"Upgrade after (In Year)"| translate }}</th>
                                                <th><i class="fa fa-signal"></i>&nbsp;{{"Upgrade frequency"| translate }}</th>
                                                <th><i class="fa fa-edit"></i>&nbsp;{{"Action"| translate }}</th>
                                                <th></th>

                                            </tr>
                                        </thead>
                                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                                            <tr ng-repeat="no in AirFareDetails | orderBy:orderByField:reverseSort | filter:search:strict" class="{{row2}}" ng-class="{odd:$odd}">

                                                <td>{{no.gr_desc}}</td>
                                                <td>{{no.nation_name}}</td>
                                                <td>{{no.ds_name}}</td>
                                                <td>{{no.af_class_name}}</td>
                                                <td>{{no.af_adult_rate}}</td>
                                                <td>{{no.pays_month_name}}</td>
                                                <td>{{no.af_applicable_frequency}}</td>

                                                <td>
                                                    <div class="checkbox check-success">
                                                        <input id="Checkbox2" type="checkbox" ng-model="no.af_payroll_flag" ng-disabled="true">
                                                        <label for="Checkbox2"></label>
                                                    </div>
                                                </td>
                                                <td>({{no.af_gl_acct_no}}) {{no.af_gl_acct_name}}</td>

                                                <td>
                                                    <div class="checkbox check-success">
                                                        <input id="Checkbox1" type="checkbox" ng-model="no.upgrade_flag" ng-disabled="true">
                                                        <label for="Checkbox1"></label>
                                                    </div>
                                                </td>
                                                <!--<td>{{no.upgrade_flag}}</td>-->
                                                <td>{{no.update_after}}</td>
                                                <td>{{no.update_freq}}</td>
                                                <td>
                                                    <button  class="btn btn-primary btn-mini btn-small" type="button" ng-click="edit(no)">{{ "Edit" | translate }}</button>                                                    
                                                </td>
                                                <td>
                                                    <button class="btn btn-danger btn-mini btn-small" type="button" ng-click="delete_data(no)">{{ "Remove" | translate }}</button>                                                    
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                    </div>
                            </div>
                        </div>
                    </div>

            </div>



        </div>
    </div>
</div>
<!--<script src="assets/js/add-ng-disabled.js"></script>-->


