﻿<style>
    .sortorder:after {
        content: '\25b2';
    }

    .sortorder.reverse:after {
        content: '\25bc';
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3>{{ "AirFare For Employee Details" | translate }}<span class="semi-bold"></span></h3>
            </div>
            <div class="grid-body no-border">
                <div ng-show="display">
                    <form name="myForm" novalidate="novalidate" ng-submit="Save(myForm.$valid)">
                        <div class="row" ng-show="notshow">
                            <div class="col-xs-4">
                                <div class="well" class="form-group">
                                    <div class="form-group">
                                        <label>Current Page:</label>
                                        <input placeholder="page"
                                               class="form-control"
                                               ng-model="currentPage"
                                               ng-init="currentPage = 1" />
                                    </div>
                                    <div class="form-group">
                                        <label>Page Size:</label>
                                        <input placeholder="Page Size"
                                               class="form-control"
                                               ng-model="numPerPage" />
                                    </div>
                                    <div class="form-group">
                                        <label>Total Items:</label>
                                        <input placeholder="Total"
                                               class="form-control"
                                               ng-model="pagersize" />
                                    </div>
                                    <hr />
                                    <div class="form-group">
                                        <label>Dots Display:</label>
                                        <input placeholder="..."
                                               class="form-control"
                                               maxlength="3"
                                               ng-model="dots"
                                               ng-init="dots = '...'" />
                                    </div>

                                    <hr />
                                    <div class="form-group">
                                        <label>UL Class:</label>
                                        <input placeholder="pagination"
                                               class="form-control"
                                               maxlength="100"
                                               ng-model="ulClass" />
                                    </div>
                                    <div class="form-group">
                                        <label>Active Class:</label>
                                        <input placeholder="active"
                                               class="form-control"
                                               maxlength="100"
                                               ng-model="activeClass"
                                               ng-init="activeClass = 'active'" />
                                    </div>
                                    <div class="form-group">
                                        <label>Disabled Class:</label>
                                        <input placeholder="disabled"
                                               class="form-control"
                                               maxlength="100"
                                               ng-model="disabledClass"
                                               ng-init="disabledClass = 'disabled'" />
                                    </div>
                                    <br />
                                    <table class="table">

                                        <tr>
                                            <td>
                                                <label>Show Prev Next:</label>
                                            </td>
                                            <td>
                                                <input type="checkbox"
                                                       ng-model="showPrevNext"
                                                       ng-init="showPrevNext = true" />
                                                {{showPrevNext}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Show First Last:</label>
                                            </td>
                                            <td>
                                                <input type="checkbox"
                                                       ng-model="showFirstLast"
                                                       ng-init="showFirstLast = true" />
                                                {{showPrevNext}}
                                            </td>
                                        </tr>
                                    </table>
                                    <hr />
                                    <span class="btn btn-default" onclick="location.reload()">
                                        <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                                    </span>
                                    <span class="btn btn-success" ng-click="currentPage = 0">
                                        Apply Settings
                                    </span>
                                    <br />
                                    <br />
                                </div>
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <label>{{ "Employee Number" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <div ng-class="{'has-error': !myForm.txt_empno.$valid && (myForm.txt_empno.$touched || myForm.$submitted)}">
                                        <input name="txt_empno" id="txt_empno" type="text" class="k-textbox input-sm full-width" ng-readonly="true" ng-model="edt.afe_em_number" required>
                                    </div>
                                    <div class="error-container"
                                         ng-show="myForm.txt_empno.$dirty && myForm.txt_empno.$invalid || myForm.$submitted">
                                        <small class="help-block"
                                               ng-show="myForm.txt_empno.$error.required && (myForm.txt_empno.$touched || myForm.$submitted)">
                                            This Field is required.
                                        </small>
                                    </div>
                                </div>

                                <div class="col-md-1">
                                    <label id="Label1" for="txt_full_name" class="form-label">&nbsp;</label>

                                    <button type="button" class="btn btn-success btn-small" ng-show="btn_empsearch" ng-click="globalSearchCustom()">{{"Search"| translate }}</button>

                                </div>

                                <div class="col-md-3">
                                    <label class="form-label">{{ "Grade" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <div ng-class="{'has-error': !myForm.cmb_grade.$valid && (myForm.cmb_grade.$touched || myForm.$submitted)}">
                                        <!--<input name="app_freq" id="Text4" type="text" class="k-textbox input-sm full-width" ng-readonly="grade_Readonly" ng-model="edt.gr_desc">-->
                                        <select id="cmb_grade" name="cmb_grade" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.gr_code" ng-change="getairfareother(edt.gr_code)" ng-disabled="true" required>
                                            <option value="" label="Please Select"></option>
                                            <option ng-repeat="gr in airfare_data" value="{{gr.gr_code}}">
                                                {{gr.gr_desc}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="error-container"
                                         ng-show="myForm.cmb_grade.$dirty && myForm.cmb_grade.$invalid || myForm.$submitted">
                                        <small class="help-block"
                                               ng-show="myForm.cmb_grade.$error.required && (myForm.cmb_grade.$touched || myForm.$submitted)">
                                            This Field is required.
                                        </small>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="form-label">{{ "Nationality" | translate }}</label>
                                    <div>
                                        <!--<input name="app_freq" id="Text3" type="text" class="k-textbox input-sm full-width" ng-readonly="nation_Readonly" ng-model="edt.sims_country_name_en">-->
                                        <select id="cmb_nationality" name="cmb_nationality" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.afe_nation_code" ng-disabled="true">
                                            <option value="" label="Please Select"></option>
                                            <option ng-repeat="i in Nation_data|filter:{sims_country_name_en: ''}" value="{{i.af_nation_code}}">
                                                {{i.sims_country_name_en}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="form-label-sm">{{ "Destination" | translate }}</label>
                                    <div>
                                        <select data-role="dropdownlist" class="form-control input-sm full-width"
                                                ng-model="edt.afe_dest_code" name="cmb_dest"
                                                ng-options="dst.af_dest_code as dst.ds_name for dst in Destination_data" ng-disabled="true">
                                            <option value="">Please Select</option>
                                        </select>
                                    </div>

                                    <div class="error-container"
                                         ng-show="myForm.cmb_dest.$dirty && myForm.cmb_dest.$invalid || myForm.$submitted">
                                        <small class="help-block"
                                               ng-show="myForm.cmb_dest.$error.required && (myForm.cmb_dest.$touched || myForm.$submitted)">
                                            Destination is required.
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label>{{ "Class" | translate }}</label>
                                    <div>
                                        <select data-role="cmb_class" class="form-control input-sm full-width"
                                                ng-model="edt.afe_class" name="cmb_class" ng-disabled="true">
                                            <option value="">Please Select</option>
                                            <option ng-repeat="i in Class_data|filter:{pays_appl_form_value1: ''}" value="{{i.af_class}}">
                                                {{i.pays_appl_form_value1}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label>{{ "Applicable Frequency" | translate }}</label>
                                    <div ng-class="{'has-error': !myForm.app_freq.$valid && (myForm.app_freq.$touched || myForm.$submitted)}">
                                        <input name="app_freq" id="Text5" type="text" class="k-textbox input-sm full-width" placeholder="Please Enter"  ng-disabled="true" ng-model="edt.afe_applicable_frequency" style="background-color: #eeeeee !important;">
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label>{{ "Airport" | translate }}</label>
                                    <input name="txt_airport" id="txt_airport" type="text" class="k-textbox input-sm full-width"  ng-model="edt.afe_airport" placeholder="Please Enter">
                                </div>
                            </div>
                        </div>

                       <hr>

                        <div class="row form-row">
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <label>{{ "Reimbursement" | translate }}</label>
                                    <div ng-class="{'has-error': !myForm.cmb_reimbursement.$valid && (myForm.cmb_reimbursement.$touched || myForm.$submitted)}">
                                        <select data-role="cmb_reimbursement" class="form-control input-sm full-width"
                                                ng-model="edt.afe_reimbursement" name="cmb_reimbursement" id="cmb_reimbursement">
                                            <option value="">Please Select</option>
                                            <option value="C">Cash</option>
                                            <option value="T">Ticket</option>
                                        </select>
                                    </div>                                   
                                </div>

                                <div class="col-md-2">
                                    <label ng-show="edt.afe_reimbursement == 'C' ">{{"Amount"| translate }}</label>
                                    <label ng-show="edt.afe_reimbursement == 'T' ">{{"No.Of Ticket"| translate }}</label>
                                    <input id="noTicket" name="noTicket" placeholder="Please Enter" class="k-textbox input-sm full-width" ng-model="edt.afe_amount_ticket">
                                </div>

                                <div class="col-md-2">
                                    <label>{{ "Travelling Date" | translate }}</label>
                                    <!--<div class="col-md-4 no-padding" style="width: auto">-->
                                    <input id="adm_dp_admdate" placeholder="Select Date" name="admpdate" class="k-textbox input-sm full-width" ng-model="edt.afe_travelling_date">
                                    <!--</div>-->
                                </div>

                                <div class="col-md-2">
                                    <label>{{ "Returning Date" | translate }}</label>
                                    <!--<div class="col-md-4 no-padding" style="width: auto">-->
                                    <input id="adm_dp_joinDate" placeholder="Select Date" name="tentJoindate" class="k-textbox input-sm full-width" ng-model="edt.afe_returing_date">
                                    <!--</div>-->
                                </div>
                                <div class="col-md-2">
                                    <label>{{"Year" | translate }}</label>
                                    <select id="Select15" data-role="dropdownlist" class="form-control input-sm full-width"
                                      ng-model="edt.afe_academic_year" ng-options="mnt.sims_academic_year as mnt.sims_academic_year_description for mnt in year_data">
                                        <option value="">Please select</option>
                                    </select>
                                </div>

                                <div class="col-md-2">
                                    <label id="Label13" for="txt_full_name" class="form-label">{{"Finalize Status"| translate }}</label>
                                    <div class="row-fluid">
                                        <div class="checkbox check-success">
                                            <input id="checkbox3" type="checkbox" ng-model="edt.afe_finalize_status">
                                            <label for="checkbox3"></label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="form-actions">
                            <div class="pull-right">
                                <button class="btn btn-primary btn-cons btn-small" type="submit" ng-show="save1">{{ "Save" | translate }}</button>
                                <button class="btn btn-primary btn-cons btn-small" type="submit" ng-show="update1">{{ "Update" | translate }}</button>
                                <button class="btn btn-danger btn-cons btn-small" type="button" ng-click="cancel()">{{ "Cancel" | translate }}</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div ng-show="filter_combo">
                    <div class="row">

                        <div class="col-lg-2 col-md-2">
                            <label class="form-label semi-bold">{{"Company" | translate }}</label>
                            <select id="Select1" data-role="dropdownlist" class="form-control input-sm full-width"
                                    ng-model="edt.company_code"  ng-change="Comp_Change(edt.company_code)"
                                    ng-options="cr.company_code as cr.company_name for cr in comp_data"></select>
                        </div>

                        <div class="col-lg-2 col-md-2">
                            <label class="form-label semi-bold">{{"Department" | translate }}</label>
                            <select ng-model="edt.dept_code" data-role="dropdownlist" class="form-control input-sm full-width">
                                <option value="" selected disabled>Please Select</option>
                                <option ng-repeat="act in dept_data" value="{{act.dept_code}}">{{act.dept_name}}</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <label class="form-label semi-bold">{{"Grade" | translate }}</label>
                            <select id="Select4" class="form-control input-sm full-width" ng-model="edt.gr_code">
                                <option value="" selected disabled>Please Select</option>
                                <option class="form-control input-sm" ng-repeat="temp in GetAllPaysGradeName" value="{{temp.gr_code}}">{{temp.gr_name}}</option>
                            </select>                   
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <label class="form-label semi-bold">{{"Staff Type" | translate }}</label>
                            <select data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.staff_type_code">
                                <option value="" selected disabled>Please Select</option>
                                <option ng-repeat="sec in stafftype_data" value="{{sec.staff_type_code}}">{{sec.staff_type_name}}</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <label class="form-label semi-bold">{{"Designation" | translate }}</label>                   
                            <select id="Select2" class="form-control input-sm full-width" ng-model="edt.dg_code">
                                <option value="" selected disabled>Please Select</option>
                                <option class="form-control input-sm" ng-repeat="temp in designation" value="{{temp.em_desg_code}}">{{temp.em_desg_desc}}</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <label class="form-label semi-bold">{{"Year" | translate }}</label>                            
                            <select id="Select15" data-role="dropdownlist" class="form-control input-sm full-width"
                                    ng-model="edt.financial_year" ng-options="mnt.sims_academic_year as mnt.sims_academic_year_description for mnt in year_data">
                            </select>
                        </div>

                        <div class="col-md-2">
                            <label>{{ "Employee Login Code" | translate }}</label>
                            <div ng-class="{'has-error': !myForm.app_freq.$valid && (myForm.app_freq.$touched || myForm.$submitted)}">
                                <input name="app_freq" id="Text8" type="text" class="k-textbox input-sm full-width" placeholder="EMP Login Code" ng-model="edt.afe_em_number">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="pull-right">
                                <label>&nbsp</label>
                                <button class="btn btn-primary btn-cons btn-small" type="button" ng-click="show_Airfare_Emp_data()">{{ "Search" | translate }}</button>
                                <button class="btn btn-warning btn-cons btn-small" type="button" ng-click="clear()">{{ "Reset" | translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="grid">
                    <div class="row margin-top">
                        <div class="col-md-6">
                            <div class="pull-left">                              
                                <select id="Select12" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                                    <option value="10" class="form-control input-sm">
                                        10
                                    </option>

                                    <option value="20" class="form-control input-sm">
                                        20
                                    </option>

                                    <option value="All" class="form-control input-sm">
                                        All
                                    </option>
                                </select>
                                <button class="btn btn-success btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{ "New" | translate }}</button>
                            </div>
                            &nbsp;                           
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <div class="dataTables_filter" id="example_filter">
                                    <span class="k-textbox k-space-right full-width">
                                        <input type="text" aria-controls="example" ng-model="searchText" placeholder="Employee NO/Grade/Nation" class="k-textbox input-sm" autofocus="autofocus" tabindex="1" ng-change="search()">
                                        <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-hover table-bordered table-condensed" id="fixtable">
                                    <thead>
                                        <tr style="background-color: #e9e4e4">
                                            <!--<th class="small-cell v-align-middle" style="z-index: 999">
                                                <div class="checkbox check-success">
                                                    <input type="checkbox" name="check" value="1" id="mainchk" ng-model="chk.check_all" ng-click="CheckAllChecked();">
                                                    <label for="mainchk"></label>
                                                </div>
                                            </th>-->

                                            <th ng-click="sortBy('afe_em_number')">
                                                <b>{{"Employee Number"| translate }}</b>
                                                <span class="sortorder" ng-show="propertyName === 'afe_em_number'" ng-class="{reverse: reverse}"></span>
                                            </th>

                                            <th ng-click="sortBy('gr_desc')">
                                                <b>{{"Grade"| translate }}</b>
                                                <span class="sortorder" ng-show="propertyName === 'gr_desc'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th ng-click="sortBy('sims_country_name_en')">
                                                <b>{{"Nationality"| translate }}</b>
                                                <span class="sortorder" ng-show="propertyName === 'sims_country_name_en'" ng-class="{reverse: reverse}"></span>
                                            </th>

                                            <th ng-click="sortBy('ds_name')">
                                                <b>{{"Destination"| translate }}</b>
                                                <span class="sortorder" ng-show="propertyName === 'ds_name'" ng-class="{reverse: reverse}"></span>
                                            </th>



                                            <th ng-click="sortBy('afe_class_name')">
                                                <b>{{"Class"| translate }}</b>
                                                <span class="sortorder" ng-show="propertyName === 'afe_class_name'" ng-class="{reverse: reverse}"></span>
                                            </th>

                                            <th ng-click="sortBy('afe_applicable_frequency')">
                                                <b>{{"Entitled Every"| translate }}</b>
                                                <span class="sortorder" ng-show="propertyName === 'afe_applicable_frequency'" ng-class="{reverse: reverse}"></span>
                                            </th>

                                            <th ng-click="sortBy('afe_travelling_date')">
                                                <b>{{"Traveling Date"| translate }}</b>
                                                <span class="sortorder" ng-show="propertyName === 'afe_travelling_date'" ng-class="{reverse: reverse}"></span>
                                            </th>

                                            <th ng-click="sortBy('afe_returing_date')">
                                                <b>{{"Returning Date"| translate }}</b>
                                                <span class="sortorder" ng-show="propertyName === 'afe_returing_date'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th ng-click="sortBy('afe_airport')">
                                                <b>{{"Airport"| translate }}</b>
                                                <span class="sortorder" ng-show="propertyName === 'afe_airport'" ng-class="{reverse: reverse}"></span>
                                            </th>

                                            <th ng-click="sortBy('af_infant_rate')">
                                                <b>{{"Finalize Status" | translate }}</b>
                                                <span class="sortorder" ng-show="propertyName === 'af_infant_rate'" ng-class="{reverse: reverse}"></span>
                                            </th>

                                            <!--  <th class="semi-bold">
                                                <label><i class="fa fa-cogs"></i></label>
                                            </th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-dblclick="edit(airfare)" ng-repeat="airfare in filteredTodos | orderBy:propertyName:reverse" ng-class="row1">
                                            <!--<td>
                                                <div class="checkbox check-success" style="height: 20px">
                                                    <input type="checkbox" name="check" value="1" id="{{airfare.gr_desc+$index}}" ng-click="checkonebyonedelete()">
                                                    <label for="{{airfare.gr_desc+$index}}">
                                                    </label>
                                                </div>
                                            </td>-->

                                            <td>
                                                <div>{{airfare.afe_em_number}}</div>
                                            </td>

                                            <td>
                                                <div>{{airfare.gr_desc}}</div>
                                            </td>
                                            <td>
                                                <div>{{airfare.sims_country_name_en}}</div>
                                            </td>
                                            <td>
                                                <div>{{airfare.ds_name}}</div>
                                            </td>

                                            <td>
                                                <div>{{airfare.afe_class_name}}</div>
                                            </td>

                                            <td>
                                                <div>{{airfare.afe_applicable_frequency}}</div>
                                            </td>

                                            <td>
                                                <div>{{airfare.afe_travelling_date}}</div>
                                            </td>
                                            <td>
                                                <div>{{airfare.afe_returing_date}}</div>
                                            </td>
                                            <td>
                                                <div>{{airfare.afe_airport}}</div>
                                            </td>

                                            <td>
                                                <span class="label label-success" ng-if="airfare.afe_finalize_status==true">{{"YES"| translate }}</span>
                                                <span class="label label-important" ng-if="airfare.afe_finalize_status==false">{{"NO"| translate }}</span>
                                            </td>

                                            <!--<td>
                                                <a href=""><i class="fa fa-edit" ng-click="edit(airfare)"></i></a>
                                            </td>-->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                          
                        <div class="row" ng-show="pager">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                            ng-click="index(currentPage)">
                                    </paging>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="myModal" role="dialog" style="display: none;">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 85%;">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header ng-scope" style="height: 50px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px"><b>{{"Search Air Fare Employee" | translate}}</b></h4>
                </div>
                <div class="pull-right">
                    <button class="br-0 btn-primary btn t-p-0 position-absolute r-p-0" data-dismiss="modal" ng-click="emp_modal_cancel();" type="submit">X</button>
                </div>
            </div>

            <div class="grid-body no-border">
                <div class="col-md-12">
                    <form name="my_form" novalidate="novalidate" ng-submit="Search_by_employee();">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="">
                                    <div class="col-md-12">
                                        <div class="row form-row">
                                            <div class="col-md-2">
                                                <div class="row form-row">
                                                    <div class="col-md-12">
                                                        <label>{{"Employee ID" | translate}}</label>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <input class="form-control input-sm" ng-model="temp.em_login_code" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <div class="row form-row">
                                                    <div class="col-md-12">
                                                        <label>{{"Employee Name" | translate}}</label>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <input class="form-control input-sm" ng-model="temp.EmpName" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div>
                                                <div class="col-md-2">
                                                    <div class="row form-row">
                                                        <div class="col-md-12">
                                                            <label>{{"Company" | translate}}</label>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <select id="cmb_School_Code" class="form-control" name="user" ng-model="temp.company_code" ng-change="getDeptFromCompany(temp.company_code);getDesignationFromCompany(temp.company_code);">
                                                                <option value="" selected disabled>Please Select</option>
                                                                <option class="form-control input-sm" ng-repeat="cur in cmbCompany" value="{{cur.sh_company_code}}">{{cur.sh_company_name}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="row form-row">
                                                        <div class="col-md-12">
                                                            <label>{{"Department" | translate}}</label>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <select id="Select9" class="form-control" ng-model="temp.em_department">
                                                                <option value="" selected disabled>Please Select</option>
                                                                <option class="form-control input-sm" ng-repeat="dept in compDepartment" value="{{dept.dept_code}}">{{dept.dept_name}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="row form-row">
                                                        <div class="col-md-12">
                                                            <label>{{"Designation" | translate}}</label>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <select id="Select10" style="width: 100%" class="form-control" ng-model="temp.em_desg_code">
                                                                <option value="" selected disabled>Please Select</option>
                                                                <option class="form-control input-sm" ng-repeat="desi in compDesignation" value="{{desi.code}}">
                                                                    {{desi.em_desg_desc}}
                                                                </option>
                                                            </select>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="row form-row">
                                                    <div class="col-md-12">
                                                        <label>&nbsp;</label>
                                                    </div>
                                                    <div class="pull-right">
                                                        <div class="col-md-12">
                                                            <button type="submit" class="btn btn-primary btn-cons">{{"Search" | translate}}</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row" ng-show="NodataEmployee">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row form-row">
                                    <div class="col-md-6">
                                        &nbsp
                                    </div>
                                    <div class="col-md-12">
                                        <h4 style="text-align: center">{{"Sorry No Data Found" | translate}}</h4>
                                    </div>
                                    <div class="col-md-3">
                                        &nbsp
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-show="EmployeeTable">
                        <div id="Div15" class="dataTables_wrapper form-inline">
                            <div style="width: 100%; height: 390px; overflow-x: auto; overflow-y: auto">
                                <table class="table table-bordered table-condensed" id="fixTable1">
                                    <thead>
                                        <tr>
                                            <th class="small-cell v-align-middle" style="z-index: 100;">
                                                <div class="checkbox check-success" ng-show="chkMulti" style="height: 20px; margin-left: 10px;">
                                                    <input type="checkbox" name="check" value="1" id="Checkbox5" ng-model="selectedAll" ng-click="isSelectAll();" class="checkall">
                                                    <label for="mainchk"></label>
                                                </div>
                                            </th>

                                            <!--<th class="semi-bold" ng-show="visible_employeeview"></th>-->


                                            <th ng-click="sortBy('em_login_code')">
                                                {{"Employee Id"| translate }}
                                                <span class="sortorder" ng-show="propertyName === 'em_login_code'" ng-class="{reverse: reverse}"></span>
                                            </th>

                                            <th ng-click="sortBy('empName')">
                                                {{"Employee Name"| translate }}
                                                <span class="sortorder" ng-show="propertyName === 'empName'" ng-class="{reverse: reverse}"></span>
                                            </th>

                                            <th ng-click="sortBy('em_mobile')">
                                                {{"Mobile No."| translate }}
                                                <span class="sortorder" ng-show="propertyName === 'em_mobile'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th ng-click="sortBy('em_email')">
                                                {{"Email Id"| translate }}
                                                <span class="sortorder" ng-show="propertyName === 'em_email'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th ng-click="sortBy('em_department')">
                                                {{"Department"| translate }}
                                                <span class="sortorder" ng-show="propertyName === 'em_department'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th ng-click="sortBy('em_desg_code')">
                                                {{"Designation"| translate }}
                                                <span class="sortorder" ng-show="propertyName === 'em_desg_code'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th ng-click="sortBy('em_service_status_name')">
                                                {{"Employee Status"| translate }}
                                                <span class="sortorder" ng-show="propertyName === 'em_service_status_name'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="emp in global_search_result  | orderBy:propertyName:reverse" ng-class="row1">
                                            <td>
                                                <div class="checkbox check-success">
                                                    <input id="{{emp.em_login_code}}" type="checkbox" value="1" ng-model="emp.user_chk" ng-click="addUser(emp,emp.user_chk,'tab6')" />
                                                    <label for="{{emp.em_login_code}}"></label>
                                                </div>
                                                <!--<td ng-show="visible_employeeview">
                                                    <button type="button" class="btn btn-primary btn-cons" ng-click="vieprofile(emp)">{{"View"| translate }}</button>
                                                </td>-->
                                            </td>
                                            <td>{{emp.em_login_code}}</td>
                                            <td>{{emp.empName}}</td>
                                            <td>{{emp.em_mobile}}</td>
                                            <td>{{emp.em_email}}</td>

                                            <td>{{emp.em_department}}</td>
                                            <td>{{emp.em_desg_code}}</td>

                                            <td>{{emp.em_service_status_name}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success btn-small" data-dismiss="modal" type="submit" ng-click="emp_modal_cancel();">{{"Ok" | translate}}</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="assets/js/calender-datepicker-id.js"></script>


