﻿<div class="grid simple" id="font">
    <div class="grid-body no-border" style="padding: 0px;">
        <div class="row">
            <div>
                <div class="col-md-2">
                    <div class="form-group col-md-12"> <span style="font-family: Arial; font-size: 14px;">{{"Year"|translate}} </span> </div>
                    <div class="form-group col-md-12">
                        <select id="year_box" data-role="dropdownlist" multiple="multiple"
                                ng-model="paysheet_year" name="paysheet_year">
                            <option ng-repeat="paysheet in paysheet_year_data|filter:{paysheet_year_desc:''}" value="{{paysheet.paysheet_year}} ">{{paysheet.paysheet_year_desc}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-1">
                </div>
                    <div class="col-md-2">
                        <br /> <br />
                        <div class="col-md-6">
                            <button id="bt" type="button" class="btn btn-primary btn-small" ng-click="getpayslipList(paysheet_year)">{{"Submit"|translate}}</button>
                        </div>
                    </div>


                </div>
        </div>
        
        <hr style="height: 03px; border: none; color: purple; background-color: green;">

        <div class="col-md-12" id="rpt_data1">
            <table class="table table-bordered text-center">
                <thead>
                    <tr style="background-color:#edefef">
                        <th ng-click="sort('paysheet_year_desc')"><b>{{"Sr No"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                        <th ng-click="sort('paysheet_year_desc')"><b>{{"Paysheet Year"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                        <th ng-click="sort('paysheet_month_name')"><b>{{"Month"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                        <th ng-click="sort('pe_number')"><b>{{"Employee Number"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                        <th ng-click="sort('emp_name')"><b>{{"Employee Name"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                        <th ng-click="sort('sd_amount')"><b>{{"Total Amount"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                        <th><b></b></th>                      

                    </tr>
                </thead>
                <tbody align="center">
                    <tr ng-repeat="r in payslip_data|orderBy:colname:reverse|filter:searchText">
                        <td>{{$index+1}}</td>
                        <td>{{r.paysheet_year_desc}}</td>
                        <td>{{r.paysheet_month_name}}</td>
                        <td> {{r.pe_number}}</td>
                        <td>{{r.emp_name}}</td>
                        <td>{{r.sd_amount}}</td>
                        <td>
                            <button id="bt" type="button" class="btn btn-primary btn-small" ng-click="viewReport(r)">{{"Salary Slip"|translate}}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
