﻿<link href="assets/css/ColorPicker.css" rel="stylesheet" />
<link href="assets/css/Color-Picker-Main.css" rel="stylesheet" />
<script src="assets/js/ColorPicker.js"></script>

<style>

    .alert.alert-warning {
    color: #f0ad4e;
    background-color: #fef9f3;
}
    .alert.alert-dismissable {
    padding-right: 35px;
}
    .alert {
    padding: 10px 15px;
    border-radius: 0;
    border: 0;
    border-left: 3px solid;
}
    .modal-header {
    height: 52px !important;
    }
      .alert.alert-success {
    color: #5cb85c;
    background-color: #eaf6ea;
}
</style>

<link href="assets/css/loginstyle.css" rel="stylesheet" />

<div class="modal-dialog" >
     <div class="modal-content" ng-hide="flg_login">
        <div class="modal-header" style="padding: 15px !important;border-bottom: 1px solid #e5e5e5 !important;">
             
      <h2 style="margin-top: -8px;line-height: 36px;font-style: normal;font-family: Arial serif;font-weight: 600;">Add Applicant <a href=""></a></h2>

           
        </div>
         <div class="modal-body" style="position: relative !important;padding: 15px !important;background-color: transparent !important;">
               <!--<form name="userForm" id="fid" method="post"  ng-submit="register_emp();" novalidate>-->
                   <form name="userForm" id="fid" method="post"  ng-submit="register_emp(userForm.$valid)" novalidate>
             <div class="form-group">
                 <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
              
			    <label style="font-size:small;color:black" class="ng-binding" <i class="fa fa-align-justify"></i>&nbsp;Full Name<span style="color:red;">*</span></label>
                       <input type="text" class="k-textbox input-sm full-width" id="Text2" name="tempName" ng-model="reg.pays_user_name" required ng-maxlength="50" maxlength="51"/>
              <p ng-show="userForm.tempName.$invalid && !userForm.tempName.$pristine" class="help-block" style="color: #a94442;"> name is required.</p>
                    
                     
                 </div>

             <div class="form-group">
                 <div class="form-group" ng-class="{ 'has-error' : userForm.emailID.$invalid && !userForm.emailID.$pristine }">
			  <label style="font-size:small;color:black" class="ng-binding"><i class="fa fa-envelope"></i>&nbsp;Email Address <span style="color:red;">*</span></label>
                                   <input type="text" class="k-textbox input-sm full-width" id="Text9" name="emailID" ng-blur="checkEmailExists(reg.pays_user_email);" ng-model="reg.pays_user_email" required  maxlength="51" ng-maxlength="50" /> <!--ng-required="email_id_required"--> 
             <p ng-show="userForm.emailID.$invalid && !userForm.emailID.$pristine" class="help-block"> email is required.</p>
                      </div>

                   
             <div class="form-group">
                 <div class="form-group" ng-class="{ 'has-error' : userForm.mobnum.$invalid && !userForm.mobnum.$pristine }">
                <label style="font-size:small;color:black" class="ng-binding"><i class="fa fa-mobile"></i>&nbsp;Mobile Number <span style="color:red;">*</span></label>
                 <input type="text" class="k-textbox input-sm full-width" id="Text1" name="mobnum" ng-model="reg.pays_user_mobileno" required  ng-maxlength="19" maxlength="20" />
             <p ng-show="userForm.mobnum.$invalid && !userForm.mobnum.$pristine" class="help-block">mobile number is required.</p>
                      </div>
           
    </div>

             <div class="" style="height:50px">
                
                  <input type="submit" style="float:left; margin-right: 10px; justify-content: center !important;"  class="btn btn-block btn-lg btn-primary" value="Register"/>
                 <!--<input type="button" style="width:49%;margin-top: 0px;" ng-click="flg_login=false" ng-click="flg_login=false" class="btn btn-block btn-lg btn-danger" value="Cancel"/>-->
                    
             </div>
                   </form>

         </div>
    </div>
 </div>





