﻿<!--<link href="assets/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />-->

<div class="loading-middle" ng-hide="table">
    {{ "Loading..." | translate }}
</div>

<style>
    ul.dropdown-menu li {
        cursor: pointer;
    }

        ul.dropdown-menu li span.red {
            color: red;
        }

        ul.dropdown-menu li span.green {
            color: green;
        }
</style>
<style>
    .k-textbox .k-icon {
    top: 50%;
    margin: -9px -9px 0;
    position: absolute;
}
    .k-input {
    padding: 0em;
    margin-top:0px;
}
.grid.simple .form-actions {
    margin-right: -18px !important;
    margin-left: -18px !important;
    margin-bottom: -15px !important;
}

.form-actions {
    padding: 9px 20px 7px;
    }


</style>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Create Edit Employee" | translate}}</span></h3>
            </div>
            <div class="grid-body no-border">
                <form name="Myform" novalidate="novalidate">

                    <div class="row form-row">
                        <div class="col-md-2">
                            <div class="pull-left">
                                <label style="font-size:small;color:black"><i class="fa fa-image"></i>&nbsp;{{"Image Upload"| translate }}</label>
                                <img  id="empimg" alt="" src="{{prev_img}}" style="width: 62px; height: 62px"  ng-src="{{imageUrl_public}}/Images/EmployeeImages/{{temp.em_img}}">
                                <input type="file" id="file1" name="file" onchange="angular.element(this).scope().file_changed(this)"
                                       ng-files="getTheFiles($files)" accept="image/*" style="float: initial; width: 120px;" ng-hide="true" />
                                <div style="margin-top: 5px;">
                                    <a href="" class="label label-important " type="button" ng-click="image_click()" onclick="document.getElementById('file1').click();"><i class="fa fa-cloud-upload"></i>{{"Upload"| translate }}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <label>&nbsp;</label>
                            <input type="text" class="k-textbox input-sm full-width" id="Text28" placeholder="Enter Login Code to Search" ng-readonly="searchText" style="width: 186px" ng-keypress="searchEmp($event);" name="empsrch" ng-model="temp.enroll_number">
                        </div>
                        <div class="col-md-2">
                            <div class="pull-right">
                                <label>&nbsp;</label>
                                <button type="button" id="Button2" class="btn btn-primary btn-small" ng-disabled="searchBtn" ng-click="globalSearch();">{{"Search"| translate }}</button>
                                <button type="button" id="Button1" class="btn btn-primary btn-small" ng-disabled="showBtn" ng-click="EmpSearch1(temp.enroll_number)">{{"Show"| translate }}</button>
                            </div>
                        </div>
                    </div>
                    <div class="row form-row margin-top">
                        <div class="col-md-2">
                            <label style="font-size:small;color:black"><i class="fa fa-align-justify"></i>&nbsp;{{"Salutation"| translate }}</label>
                            <select name="cmb_acdm_yr" data-role="dropdownlist" class="form-control input-sm full-width" id="select21" ng-model="temp.em_Salutation_Code">
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="sal in obj" value="{{sal.em_Salutation_Code}}" class="form-control input-sm" ng-if="sal.em_Salutation_name.length">
                                    {{sal.em_Salutation_name}}
                                </option>
                            </select>
                        </div>

                        <div class="col-md-2">
                            <label style="font-size:small;color:black"><i class="fa fa-align-justify"></i>&nbsp;{{"First Name"| translate }}<span style="color: red;">&nbsp;*</span></label>
                            <input type="text" class="k-textbox input-sm full-width" id="Text2" name="firstempName" ng-model="temp.em_first_name" required ng-maxlength="50" maxlength="51">
                            <p style="color:red" class="help-block" ng-show="Myform.firstempName.$error.required &&(Myform.firstempName.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                             <p class="help-block" ng-show="Myform.firstempName.$error.maxlength">
                                Max Legnth 50 Characters
                             </p>
                        </div>

                        <div class="col-md-2">
                            <label style="font-size:small;color:black"><i class="fa fa-align-justify"></i>&nbsp;{{"Middle Name"| translate }}</label>
                            <input type="text" class="k-textbox input-sm full-width" id="Text7" name="midnm"  ng-model="temp.em_middle_name" ng-maxlength="50" maxlength="51">
                            <p class="help-block" ng-show="Myform.midnm.$error.maxlength">
                                Max Legnth 50 Characters
                             </p>
                        </div>
                        <div class="col-md-2">
                            <label style="font-size:small;color:black"><i class="fa fa-align-justify"></i>&nbsp;{{"Last Name"| translate }}</label>
                            <input type="text" class="k-textbox input-sm full-width" id="Text8" name="lastnm" ng-model="temp.em_last_name" ng-maxlength="50" maxlength="51">
                            <p class="help-block" ng-show="Myform.lastnm.$error.maxlength">
                                Max Legnth 50 Characters
                             </p>
                        </div>

                        <div class="col-md-2">
                            <label style="font-size:small;color:black"><i class="fa fa-align-justify"></i>&nbsp;{{"Name In Other"| translate }}</label>
                            <input type="text" class="k-textbox input-sm full-width" id="Text12" name="name_in_ot"  ng-model="temp.em_name_ot" ng-maxlength="40" maxlength="41">                            
                            <p class="help-block" ng-show="Myform.name_in_ot.$error.maxlength">
                                Max Legnth 40 Characters
                             </p>
                        </div>

                        <div class="col-md-2">
                            <label style="font-size:small;color:black"><i class="fa fa-calendar"></i>&nbsp;{{"Date of Birth"| translate }}<span style="color: red;">&nbsp;*</span>
                                <span style="color:#5a5c5e;font-size: 10px;">(dd-mm-yyyy)</span>
                            </label>
                            <input name="dob" id="dob" class="k-textbox input-sm full-width" ng-model="temp.em_date_of_birth" required ng-blur="checkDateFormat();"/>
                            <p style="color:red" class="help-block" ng-show="Myform.dob.$error.required && (Myform.dob.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>

                    </div>


                    <div class="row form-row">


                        <div class="col-md-2">
                            <label style="font-size:small;color:black"><i class="fa fa-align-justify"></i>&nbsp;{{"Company Name"| translate }}<span style="color: red;">&nbsp;*</span></label>
                            <select id="Select15" data-role="dropdownlist" class="form-control input-sm full-width"
                                    ng-model="temp.em_Company_Code" required ng-selected="" name="cmbcomp"
                                    ng-options="cmpname.em_Company_Code as cmpname.em_Company_name for cmpname in company_data"></select>
                            <p style="color:red" class="help-block" ng-show="Myform.cmbcomp.$error.required &&(Myform.cmbcomp.$touched || Myform.$submitted)">
                                This field is required
                            </p> 
                        </div>

                        <div class="col-md-2">
                            <label style="font-size:small;color:black"><i class="fa fa-calendar"></i>&nbsp;{{"Date of Join"| translate }}<span style="color: red;">&nbsp;*</span>
                                <span style="color:#5a5c5e;font-size: 10px;">(dd-mm-yyyy)</span>
                            </label>
                            <input type="text" id="DOJ" name="doj" class="k-textbox input-sm full-width" ng-model="temp.em_date_of_join" required/>
                            <p style="color:red" class="help-block" ng-show="Myform.doj.$error.required &&(Myform.doj.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>

                        <div class="col-md-2">
                            <label style="font-size:small;color:black"><i class="fa fa-align-justify"></i>&nbsp;{{"Destination"| translate }}</label>
                            <select id="Select6" data-role="dropdownlist" class="form-control input-sm full-width"
                                    ng-model="temp.em_Dest_Code" ng-selected=""
                                    ng-options="desti.em_Dest_Code as desti.em_Dest_name for desti in dest_data"></select>
                        </div>

                        <div class="col-md-2">
                            <label style="font-size:small;color:black"><i class="fa fa-align-justify"></i>&nbsp;{{"Designation"| translate }}<span style="color: red;">&nbsp;*</span></label>
                            <select name="designat" data-role="dropdownlist" class="form-control input-sm full-width" id="Select20" ng-model="temp.em_Designation_Code" required>
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="desig in obj" value="{{desig.em_Designation_Code}}" class="form-control input-sm" ng-if="desig.em_Designation_Code.length">
                                    {{desig.em_Designation_name}}
                                </option>
                            </select>
                            <p style="color:red" class="help-block" ng-show="Myform.designat.$error.required &&(Myform.designat.$touched || Myform.$submitted)">
                                This field is required
                            </p> 
                        </div>
                        <div class="col-md-2">
                            <label style="font-size:small;color:black"><i class="fa fa-bookmark-o"></i>&nbsp;{{"Staff Type"| translate }}<span style="color: red;">&nbsp;*</span></label>

                            <select id="Select24" data-role="dropdownlist" class="form-control input-sm full-width" name="staff_type" ng-change="change_em_teacher_status()" ng-model="temp.em_Staff_Type_Code" required>
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="staff in obj" value="{{staff.em_Staff_Type_Code}}" class="k-textbox input-sm full-width" ng-if="staff.em_Staff_Type_Code.length">
                                    {{staff.em_Staff_Type_name}}
                                </option>
                            </select>
                            <p style="color:red" class="help-block" ng-show="Myform.staff_type.$error.required &&(Myform.staff_type.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>

                        <div class="col-md-2">
                            <label style="font-size:small;color:black"><i class="fa fa-pencil-square-o"></i>&nbsp;{{"Department Name"| translate }}<span style="color: red;">&nbsp;*</span></label>
                            <select name="deptname" data-role="dropdownlist" class="form-control input-sm full-width" id="Select25" ng-model="temp.em_Dept_Code" required>
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="dept in obj" value="{{dept.em_Dept_Code}}" class="form-control input-sm" ng-if="dept.em_Dept_Code.length">
                                    {{dept.em_Dept_name}}
                                </option>
                            </select>
                            <p style="color:red" class="help-block" ng-show="Myform.deptname.$error.required &&(Myform.deptname.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>
                    </div>

                    <div class="row form-row">
                        <div class="col-md-2">
                            <label style="font-size:small;color:black"><i class="fa fa-calendar"></i>&nbsp;{{"Temporary Join Date"| translate }}
                                <!--<span style="color:#5a5c5e;font-size: 10px;">(DD-MM-YYYY)</span> <span style="color: red;">&nbsp;*</span>-->
                            </label>
                            <input id="temporary_join_date" name="temdoj" class="k-textbox input-sm full-width" ng-model="temp.em_dept_effect_from"/>
                            <p style="color:red" class="help-block" ng-show="Myform.temdoj.$error.required && (Myform.temdoj.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>

                        <div class="col-md-2">
                            <label style="font-size:small;color:black"><i class="fa fa-sitemap"></i>&nbsp;{{"Grade Name"| translate }}<span style="color: red;">&nbsp;*</span></label>
                            <select name="graname" data-role="dropdownlist" class="form-control input-sm full-width" id="Select26" ng-model="temp.em_Grade_Code" required>
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="grade in obj" value="{{grade.em_Grade_Code}}" class="form-control input-sm" ng-if="grade.em_Grade_Code.length">
                                    {{grade.em_Grade_name}}
                                </option>
                            </select>
                            <p style="color:red" class="help-block" ng-show="Myform.graname.$error.required &&(Myform.graname.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>

                        <div class="col-md-2">
                            <label style="font-size:small;color:black"><i class="fa fa-calendar"></i>&nbsp;{{"Upgradation Date"| translate }}  <!--<span style="color: red;">&nbsp;*</span>-->
                                <span style="color:#5a5c5e;font-size: 10px;">(dd-mm-yyyy)</span>
                            </label>
                            <input type="text" id="upgradation_date" name="upgdate" class="k-textbox input-sm full-width" ng-model="temp.em_grade_effect_from"/>
                            <p style="color:red" class="help-block" ng-show="Myform.upgdate.$error.required &&(Myform.upgdate.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>

                        <div class="col-md-2">

                            <label style="font-size:small;color:black"><i class="fa fa-male"></i>&nbsp;<i class="fa fa-female"></i>&nbsp;{{"Gender"| translate }}<span style="color: red;">&nbsp;*</span></label>
                            <select name="gen" data-role="dropdownlist" class="form-control input-sm full-width" id="Select2" ng-model="temp.em_Sex_Code" required>
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="gender in obj" value="{{gender.em_Sex_Code}}" class="k-textbox input-sm full-width" ng-if="gender.em_Sex_Code.length">
                                    {{gender.em_Sex_name}}
                                </option>
                            </select>
                            <p style="color:red" class="help-block" ng-show="Myform.gen.$error.required &&(Myform.gen.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>

                        <div class="col-md-2">
                            <label style="font-size:small;color:black"><i class="fa fa-bookmark"></i>&nbsp;{{"Marital Status"| translate }}<span style="color: red;">&nbsp;*</span></label>
                            <select name="maristat1" data-role="dropdownlist" class="form-control input-sm full-width" id="Select3" ng-model="temp.em_Marital_Status_Code" required>
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="marstat in obj" value="{{marstat.em_Marital_Status_Code}}" class="form-control input-sm" ng-if="marstat.em_Marital_Status_name.length">
                                    {{marstat.em_Marital_Status_name}}
                                </option>
                            </select>
                            <p style="color:red" class="help-block" ng-show="Myform.maristat1.$error.required &&(Myform.maristat1.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>

                        <div class="col-md-2">
                            <label style="font-size:small;color:black"><i class="fa fa-align-justify"></i>&nbsp;{{"Blood Group"| translate }}</label>
                            <select id="Select4" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.em_blood_group_code">
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="blood in obj" value="{{blood.em_blood_group_code}}" class="form-control input-sm" ng-if="blood.em_blood_group_code.length">
                                    {{blood.em_blood_group_name}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="row form-row">

                        <div class="col-md-2">
                            <label style="font-size:small;color:black"><i class="fa fa-flag"></i>&nbsp;{{"Country"| translate }}</label>
                            <select id="Select7" data-role="dropdownlist" class="form-control input-sm full-width"
                                    ng-model="temp.em_Country_Code" ng-selected=""
                                    ng-options="country.em_Country_Code as country.em_Country_name for country in country_data"></select>
                        </div>


                        <div class="col-md-2">
                            <label style="font-size:small;color:black"><i class="fa fa-flag"></i>&nbsp;{{"Nationality"| translate }}<span style="color: red;">&nbsp;*</span></label>
                            <select id="Select28" data-role="dropdownlist" class="form-control input-sm full-width" name="nation" ng-model="temp.em_Nation_Code" required>
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="nationality in obj" value="{{nationality.em_Nation_Code}}" class="form-control input-sm" ng-if="nationality.em_Nation_Code.length">
                                    {{nationality.em_Nation_name}}
                                </option>
                            </select>
                            <p style="color:red" class="help-block" ng-show="Myform.nation.$error.required &&(Myform.nation.$touched || Myform.$submitted)">
                                This field is required
                            </p>

                        </div>

                        <div class="col-md-2">
                            <label style="font-size:small;color:black"><i class="fa fa-align-justify"></i>&nbsp;{{"Religion"| translate }}</label>

                            <select id="Select29" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.em_Religion_Code">
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="rel in obj" value="{{rel.em_Religion_Code}}" class="form-control input-sm" ng-if="rel.em_Religion_name.length">
                                    {{rel.em_Religion_name}}
                                </option>
                            </select>
                        </div>

                        <div class="col-md-2">
                            <label style="font-size:small;color:black"><i class="fa fa-envelope"></i>&nbsp;{{"Official Email ID"| translate }} <span style="color: red;" ng-show="email_id_required">&nbsp;*</span></label>
                            <input type="text" class="k-textbox input-sm full-width" id="Text9" name="emailID" ng-model="temp.em_email" ng-blur="checkEmailExists(temp.em_email);" maxlength="51" ng-maxlength="50" ng-required="email_id_required">
                            <p class="help-block" ng-show="Myform.emailID.$error.maxlength">
                                Email ID Should be Max 50
                             </p>
                            <p style="color:red" class="help-block" ng-show="Myform.emailID.$error.required && (Myform.emailID.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>
                        <div class="col-md-2">
                            <label style="font-size:small;color:black"><i class="fa fa-envelope"></i>&nbsp;{{"Personal Email ID"| translate }}</label>
                            <input type="text" class="k-textbox input-sm full-width" id="Text9" name="personalEmailID"  ng-model="temp.em_personalemail" ng-maxlength="50" maxlength="51">
                            <p class="help-block" ng-show="Myform.personalEmailID.$error.maxlength">
                                Email ID Should be Max 50
                             </p>
                        </div>

                        <div class="col-md-2">
                            <label style="font-size:small;color:black"><i class="fa fa-mobile"></i>&nbsp;{{"Mobile Number"| translate }} <span style="color: red;" ng-show="mobile_no_required">&nbsp;*</span> </label>
                            <input type="text" class="k-textbox input-sm full-width" id="mob"  name="mobnum" ng-model="temp.em_mobile" ng-maxlength="20" maxlength="21" ng-required="mobile_no_required"> 
                            <p style="color:red" class="help-block" ng-show="Myform.mobnum.$error.maxlength">
                                Mobile Number Should be Max 20
                            </p>
                            <p style="color:red" class="help-block" ng-show="Myform.mobnum.$error.required && (Myform.mobnum.$touched || Myform.$submitted)">
                                This field is required
                            </p>                                                       
                        </div>


                    </div>

                    <div class="row form-row">


                        <div class="col-md-3">
                            <label style="font-size:small;color:black"><i class="fa fa-align-justify"></i>&nbsp;{{"Emergency Contact Name1"| translate }}</label>
                            <input type="text" class="k-textbox input-sm full-width" id="txt_mobile_number3" name="emerg_cont_name1" ng-maxlength="50" maxlength="51" ng-model="temp.em_emergency_contact_name1">
                            <p style="color:red" class="help-block" ng-show="Myform.emerg_cont_name1.$error.maxlength">
                                Emergency Contact Name should be max 50
                            </p>                           
                        </div>
                        <div class="col-md-3">
                            <label style="font-size:small;color:black"><i class="fa fa-phone"></i>&nbsp;{{"Emergency Contact Number1"| translate }}</label>
                            <input type="text" class="k-textbox input-sm full-width" id="txt_driver_address" ng-maxlength="25" maxlength="26"  name="emerg_cont_num1" ng-model="temp.em_emergency_contact_number1">
                            <p style="color:red" class="help-block" ng-show="Myform.emerg_cont_num1.$error.maxlength">
                                Contact Number Should be Max 25
                            </p>                            
                        </div>

                        <div class="col-md-3">
                            <label style="font-size:small;color:black"><i class="fa fa-align-justify"></i>&nbsp;{{"Summary Address"| translate }}</label>
                            <input type="text" class="k-textbox input-sm full-width" id="Text10" name="emp_summary_address"  ng-maxlength="100" maxlength="101" ng-model="temp.em_summary_address">
                            <p style="color:red" class="help-block" ng-show="Myform.emp_summary_address.$error.maxlength">
                               Summary Address Should be Max 100
                            </p> 
                        </div>

                        <div class="col-md-3">
                            <label ng-show="qatar" style="font-size:small;color:black"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"National ID"| translate }}</label>
                            <label ng-show="uae" style="font-size:small;color:black"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Emirates ID"| translate }}</label>
                            <label ng-show="slisLabel" style="font-size:small;color:black"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Iquma Number"| translate }}</label>
                            <label ng-show="india" style="font-size:small;color:black"><i class="fa fa-align-justify"></i>&nbsp;{{"Aadhar ID"| translate }}</label>
                            <label ng-show="kuwait" style="font-size:small;color:black"><i class="fa fa-align-justify"></i>&nbsp;{{"Civil ID"| translate }}</label>
                            <input type="text" class="k-textbox input-sm full-width" id="Text6" name="nationaid"  ng-maxlength="18" maxlength="19" ng-readonly="national_id_readnly" ng-model="temp.em_national_id">
                            <p style="color:red" class="help-block" ng-show="Myform.nationaid.$error.maxlength">
                                ID Should be Max 18
                            </p>
                        </div>

                    </div>

                    <div class="row form-row">

                        <div class="col-md-2">
                            <label style="font-size:small;color:black"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"IBAN Number"| translate }}</label>
                            <input type="text" class="k-textbox input-sm full-width" ng-maxlength="35" maxlength="36" id="Text35" name="iban_no" ng-readonly="iban_number_readnly" ng-model="temp.em_iban_no">
                            <p style="color:red" class="help-block" ng-show="Myform.iban_no.$error.maxlength">
                                IBAN Number Should be Max 35
                            </p>                            
                        </div>
                        <div class="col-md-2">
                            <label style="font-size:small;color:black"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Bank Account Number"| translate }}</label>
                            <input type="text" class="k-textbox input-sm full-width" id="Text33" ng-maxlength="30" maxlength="31" name="bank_ac_no" ng-readonly="bank_ac_no_readnly" ng-model="temp.em_bank_ac_no">
                            <p style="color:red" class="help-block" ng-show="Myform.bank_ac_no.$error.maxlength">
                                Bank Account Number Should be Max 30
                            </p>
                        </div>

                        <div class="col-md-2">
                            <label style="font-size:small;color:black"><i class="fa fa-bookmark-o"></i>&nbsp;{{"Visa Type"| translate }}</label>
                            <select id="Select1" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.em_visa_type_code">
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="visa in obj" value="{{visa.em_visa_type_code}}" class="form-control input-sm" ng-if="visa.em_visa_type.length">
                                    {{visa.em_visa_type}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label style="font-size:small;color:black"><i class="fa fa-user"></i>&nbsp;{{"Roles"| translate }}</label>
                            <select id="Select5" data-role="dropdownlist" class="form-control input-sm full-width" ng-show="roleList"
                                    ng-model="temp.comn_role_code"
                                    ng-options="role.comn_role_code as role.comn_role_name for role in roles_data"></select>
                            <input type="text" id="Text1" ng-model="temp.comn_role_name" class="k-textbox input-sm full-width" ng-show="roleText" ng-readonly="roleReadOnly" />
                        </div>
                        <div class="col-md-2">
                            <label style="font-size:small;color:black"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Punching ID"| translate }}</label>
                            <input type="text" class="k-textbox input-sm full-width" id="Text29" name="emp_punching_id" maxlength="21" ng-maxlength="20" ng-model="temp.em_punching_id">
                            <p style="color:red" class="help-block" ng-show="Myform.emp_punching_id.$error.maxlength">
                                Punching ID Should be Max 20
                            </p>
                        </div>                       
                     
                    </div>
                    <div class="row form-row">                       
                        <div class="col-md-2">
                            <label>&nbsp;</label>
                            <div>
                                <div class="checkbox check-success">
                                    <span style="font-size: small; color: black;"> <i class="fa fa-bookmark"></i>&nbsp;{{"Punching Status"| translate }}</span> <input id="Checkbox4" type="checkbox" value="1" ng-model="temp.em_punching_status">
                                    <label for="Checkbox4"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>&nbsp;</label>
                            <div>
                                <div class="checkbox check-success">
                                    <span style="font-size:small;color:black"> <i class="fa fa-user"></i>&nbsp;{{"Employee as a teacher"| translate }}</span> <input  id="Check_techer" type="checkbox" value="1" ng-model="temp.em_teacher_status">
                                    <label for="Check_techer"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="col-md-12">
                            <div class="form-actions">
                                <div class="pull-right">
                                    <button type="submit" ng-disabled="saveBtn" id="empsave" ng-click="SaveData(Myform.$valid)" ng-show="Save_btn" class="btn btn-primary btn-small">{{"Submit"| translate }}</button><!--ng-click="SaveData(Myform.$valid)"-->
                                    <button type="submit" ng-disabled="updateBtn" id="updt" ng-show="Update_btn" class="btn btn-primary btn-small" ng-click="UpdateData(Myform.$valid);">{{"Update"| translate }}</button>
                                    <button type="button" id="cancel" class="btn btn-danger btn-small" ng-click="Cancel();">{{"Reset"| translate }}</button>
                                </div>
                            </div>
                        </div>
</form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Div1">
    <div class="modal-dialog" id="top" style="width: 400px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="msg" class="close" data-dismiss="modal" aria-label="Close" ng-click="Cancel()"><span aria-hidden="true">&times;</span></button>
                <h5 class="semi-bold pull-left">{{"Message"| translate }}</h5>
                <br />
            </div>
            <div class="modal-body">
                <br />
                <label class="semi-bold">{{CUDobj.strMessage}}</label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-small" data-dismiss="modal" ng-click="Cancel()">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ErrorMessage">
    <div class="modal-dialog" id="Div6" style="width: 300px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="semi-bold pull-left">{{"Message" | translate }}</h5>
                <br />
            </div>
            <div class="modal-body">
                <br />
                <label class="form-label semi-bold help">{{"Error In Adding Employee Details" | translate }}</label>
                <br />
            </div>
            <div class="modal-footer" style="height: 60px">
                <button type="button" class="btn btn-primary btn-small" data-dismiss="modal">{{"Ok" | translate }}</button>
            </div>
        </div>
    </div>
</div>

<!--<script src="assets/js/tabs_accordian.js"></script>
<script src="assets/js/tableHeadFixer.js"></script>-->


<script src="assets/js/calender-datepicker-id.js"></script>