﻿<!--<link href="assets/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />-->

<div class="loading-middle" ng-hide="table">
    {{ "Loading..." | translate }}
</div>

<style>
    ul.dropdown-menu li {
        cursor: pointer;
    }

        ul.dropdown-menu li span.red {
            color: red;
        }

        ul.dropdown-menu li span.green {
            color: green;
        }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Create Edit Employee" | translate}}</span></h3>
            </div>

            <div class="grid-body no-border">
                <form name="Myform" ng-submit="SaveData1(Myform.$valid)" novalidate="novalidate">

                    <div class="row form-row">
                        <div class="col-md-2">
                            <label style="font-size:small;color:black">{{"Image Upload"| translate }}</label>
                            <img alt="" src="{{prev_img}}" style="width: 62px; height: 62px" ng-src="{{imageUrl + temp.em_img}}">
                            <input type="file" id="file1" name="file" onchange="angular.element(this).scope().file_changed(this)"
                                   ng-files="getTheFiles($files)" accept="image/*" style="float: initial; width: 120px;" ng-hide="true" />
                            <div style="margin-top: 5px;">
                                <a href="" class="label label-important " type="button" ng-click="image_click()" onclick="document.getElementById('file1').click();"><i class="fa fa-cloud-upload"></i>Upload</a>
                            </div>

                        </div>

                        <div class="col-md-4">
                            <label>&nbsp;</label>
                            <input type="text" class="k-textbox input-sm full-width" id="Text28" placeholder="Enter Login Code to Search" ng-readonly="searchText" style="width: 186px" ng-keypress="searchEmp($event);" name="empsrch" ng-model="temp.enroll_number">
                        </div>

                        <div class="col-md-2">
                            <div class="pull-right">
                                <label>&nbsp;</label>
                                <button type="button" id="Button2" class="btn btn-primary btn-cons btn-small" ng-disabled="searchBtn" ng-click="globalSearch();">Search</button>
                                <button type="button" id="Button1" class="btn btn-primary btn-cons btn-small" ng-disabled="showBtn" ng-click="EmpSearch1(temp.enroll_number)">Show</button>
                            </div>
                        </div>
                    </div>
                    <div class="row form-row margin-top">
                        <div class="col-md-2">
                            <label style="font-size:small;color:black">{{"Salutation"| translate }}</label>

                            <select name="cmb_acdm_yr" data-role="dropdownlist" class="form-control input-sm full-width" id="select21" ng-model="temp.em_Salutation_Code">
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="sal in obj" value="{{sal.em_Salutation_Code}}" class="form-control input-sm" ng-if="sal.em_Salutation_name.length">
                                    {{sal.em_Salutation_name}}
                                </option>
                            </select>

                        </div>

                        <div class="col-md-2">
                            <label style="font-size:small;color:black">{{"First Name"| translate }}<span style="color: red;">&nbsp;*</span></label>
                            <input type="text" class="k-textbox input-sm" id="Text2" name="firstnm" maxlength="51" ng-maxlength="50" ng-model="temp.em_first_name" required>
                            <p class="help-block" ng-show="Myform.firstnm.$error.required && (Myform.firstnm.$touched || Myform.$submitted)">
                                This field required
                            </p>
                            <p class="help-block" ng-show="Myform.firstnm.$error.maxlength">
                                Max Legnth 50 Characters
                            </p>
                            <!--  <p style="color:red" class="help-block" ng-show="Myform.firstnm.$error.required &&(Myform.firstnm.$touched || Myform.$submitted)">
                                  This field is required
                              </p>-->
                            <!-- <p style="color:red" class="help-block" ng-show="Myform.firstnm.$error.pattern && (Myform.firstnm.$touched || Myform.$submitted)">
                                 Enter only Characters
                             </p>-->
                        </div>

                        <div class="col-md-2">
                            <label style="font-size:small;color:black">{{"Middle Name"| translate }}</label>
                            <input type="text" class="k-textbox input-sm full-width" id="Text7" name="midnm" maxlength="51" ng-maxlenght="50" ng-model="temp.em_middle_name">
                            <!--<p style="color:red" class="help-block" ng-show="Myform.midnm.$error.pattern && (Myform.midnm.$touched || Myform.$submitted)">
                                Enter only Characters
                            </p>-->
                            <p class="help-block" ng-show="Myform.midnm.$error.maxlength">
                                 Max Legnth 50 Characters
                            </p>
                        </div>
                        <div class="col-md-2">
                            <label style="font-size:small;color:black">{{"Last Name"| translate }}</label>

                            <input type="text" class="k-textbox input-sm full-width" id="Text8" name="lastnm" maxlength="50" ng-maxlenght="50" ng-model="temp.em_last_name">
                            <!-- <p style="color:red" class="help-block" ng-show="Myform.lastnm.$error.pattern && (Myform.lastnm.$touched || Myform.$submitted)">
                                 Enter only Characters
                             </p>-->
                             <p class="help-block" ng-show="Myform.lastnm.$error.maxlength">
                                    Max Legnth 50 Characters
                                 </p>
                        </div>

                        <div class="col-md-2">
                            <label style="font-size:small;color:black">{{"Name In Other"| translate }}</label>
                            <input type="text" class="k-textbox input-sm full-width" id="Text12" maxlength="41" ng-maxlenght="40" name="name_in_ot" ng-model="temp.em_name_ot">                           
                            <p class="help-block" ng-show="Myform.name_in_ot.$error.maxlength">
                                Max Legnth 40 Characters
                            </p>
                        </div>

                        <div class="col-md-2">
                            <label style="font-size:small;color:black">{{"Date of Birth"| translate }}<span style="color: red;">&nbsp;*</span></label>
                            <input type="text" id="dob" name="dob" class="k-textbox input-sm full-width" ng-model="temp.em_date_of_birth" required />
                            <p class="help-block" ng-show="Myform.dob.$error.required && (Myform.dob.$touched || Myform.$submitted)">
                                This field required
                            </p>
                        </div>
                    </div>

                    <div class="row form-row">
                        <div class="col-md-2">
                            <label style="font-size:small;color:black">{{"Company Name"| translate }}<span style="color: red;">&nbsp;*</span></label>
                            <select id="Select15" data-role="dropdownlist" class="form-control input-sm full-width"
                                    ng-model="temp.em_Company_Code" required ng-selected="" name="cmbcomp" ng-change="getDept_Desg_grd(temp.em_Company_Code);"
                                    ng-options="cmpname.em_Company_Code as cmpname.em_Company_name for cmpname in company_data"></select>
                            <p class="help-block" ng-show="Myform.cmbcomp.$error.required && (Myform.cmbcomp.$touched || Myform.$submitted)">
                                This field required
                            </p>
                        </div>

                        <div class="col-md-2">
                            <label style="font-size:small;color:black">{{"Date of Join"| translate }}<span style="color: red;">&nbsp;*</span></label>
                            <input type="text" id="DOJ" name="doj" class="k-textbox input-sm full-width" ng-model="temp.em_date_of_join" required />
                            <p class="help-block" ng-show="Myform.doj.$error.required && (Myform.doj.$touched || Myform.$submitted)">
                                This field required
                            </p>
                        </div>

                        <div class="col-md-2">
                            <label style="font-size:small;color:black">{{"Destination"| translate }}</label>
                            <select id="Select6" data-role="dropdownlist" class="form-control input-sm full-width"
                                    ng-model="temp.em_Dest_Code" ng-selected=""
                                    ng-options="desti.em_Dest_Code as desti.em_Dest_name for desti in dest_data"></select>
                        </div>

                        <div class="col-md-2">
                            <label style="font-size:small;color:black">{{"Designation"| translate }}<span style="color: red;">&nbsp;*</span></label>
                            <select name="designat" data-role="dropdownlist" class="form-control input-sm full-width" id="Select20" ng-model="temp.em_Designation_Code" required>
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="desig in desg_data" value="{{desig.em_Designation_Code}}" class="form-control input-sm">
                                    {{desig.em_Designation_name}}
                                </option>
                            </select>
                            <p class="help-block" ng-show="Myform.designat.$error.required && (Myform.designat.$touched || Myform.$submitted)">
                                This field required
                            </p>
                        </div>


                        <div class="col-md-2">
                            <label style="font-size:small;color:black">{{"Staff Type"| translate }}<span style="color: red;">&nbsp;*</span></label>

                            <select id="Select24" data-role="dropdownlist" class="form-control input-sm full-width" name="staff_type" ng-model="temp.em_Staff_Type_Code" required>
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="staff in obj" value="{{staff.em_Staff_Type_Code}}" ng-if="staff.em_Staff_Type_Code.length">
                                    {{staff.em_Staff_Type_name}}
                                </option>
                            </select>
                            <p class="help-block" ng-show="Myform.staff_type.$error.required && (Myform.staff_type.$touched || Myform.$submitted)">
                                This field required
                            </p>

                        </div>

                        <div class="col-md-2">
                            <label style="font-size:small;color:black">{{"Department Name"| translate }}<span style="color: red;">&nbsp;*</span></label>
                            <select name="deptname" data-role="dropdownlist" class="form-control input-sm full-width" id="Select25" ng-model="temp.em_Dept_Code" required>
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="dept in dept_data" value="{{dept.em_Dept_Code}}" class="form-control input-sm">
                                    {{dept.em_Dept_name}}
                                </option>
                            </select>
                            <p class="help-block" ng-show="Myform.deptname.$error.required && (Myform.deptname.$touched || Myform.$submitted)">
                                This field required
                            </p>
                        </div>

                    </div>


                    <div class="row form-row">

                        <div class="col-md-2">
                            <label style="font-size:small;color:black">{{"Temporary Join Date"| translate }}<span style="color: red;">&nbsp;*</span></label>
                            <input type="text" id="temporary_join_date" name="deptef" class="k-textbox input-sm full-width" ng-model="temp.em_dept_effect_from" required />
                            <p class="help-block" ng-show="Myform.deptef.$error.required && (Myform.deptef.$touched || Myform.$submitted)">
                                This field required
                            </p>
                        </div>

                        <div class="col-md-2">

                            <label style="font-size:small;color:black">{{"Grade Name"| translate }}<span style="color: red;">&nbsp;*</span></label>
                            <select name="graname" data-role="dropdownlist" class="form-control input-sm full-width" id="Select26" ng-model="temp.em_Grade_Code" required>
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="grade in grd_data" value="{{grade.em_Grade_Code}}" class="form-control input-sm">
                                    {{grade.em_Grade_name}}
                                </option>
                            </select>
                            <p class="help-block" ng-show="Myform.graname.$error.required && (Myform.graname.$touched || Myform.$submitted)">
                                This field required
                            </p>
                        </div>

                        <div class="col-md-2">
                            <label style="font-size:small;color:black">{{"Upgradation Date"| translate }}<span style="color: red;">&nbsp;*</span></label>
                            <input type="text" id="upgradation_date" name="gradef" class="form-control k-textbox input-sm full-width" ng-model="temp.em_grade_effect_from" required />
                            <p class="help-block" ng-show="Myform.gradef.$error.required && (Myform.gradef.$touched || Myform.$submitted)">
                                This field required
                            </p>
                        </div>

                        <div class="col-md-2">

                            <label style="font-size:small;color:black">{{"Gender"| translate }}<span style="color: red;">&nbsp;*</span></label>
                            <select name="gen" data-role="dropdownlist" class="form-control input-sm full-width" id="Select2" ng-model="temp.em_Sex_Code" required>
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="gender in obj" value="{{gender.em_Sex_Code}}" class="k-textbox input-sm full-width" ng-if="gender.em_Sex_Code.length">
                                    {{gender.em_Sex_name}}
                                </option>
                            </select>
                            <p class="help-block" ng-show="Myform.gen.$error.required && (Myform.gen.$touched || Myform.$submitted)">
                                This field required
                            </p>
                        </div>

                        <div class="col-md-2">
                            <label style="font-size:small;color:black">{{"Marital Status"| translate }}<span style="color: red;">&nbsp;*</span></label>
                            <select name="maristat1" id="Select3" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.em_Marital_Status_Code" required>
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="marstat in obj" value="{{marstat.em_Marital_Status_Code}}" class="form-control input-sm" ng-if="marstat.em_Marital_Status_name.length">
                                    {{marstat.em_Marital_Status_name}}
                                </option>
                            </select>
                            <p class="help-block" ng-show="Myform.maristat1.$error.required && (Myform.maristat1.$touched || Myform.$submitted)">
                                This field required
                            </p>
                        </div>

                        <div class="col-md-2">
                            <label style="font-size:small;color:black">{{"Blood Group"| translate }}</label>
                            <select id="Select4" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.em_blood_group_code">
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="blood in obj" value="{{blood.em_blood_group_code}}" class="form-control input-sm" ng-if="blood.em_blood_group_code.length">
                                    {{blood.em_blood_group_name}}
                                </option>
                            </select>
                        </div>
                    </div>


                    <div class="row form-row">

                        <div class="col-md-2">
                            <label style="font-size:small;color:black">{{"Country"| translate }}</label>
                            <select id="Select7" data-role="dropdownlist" class="form-control input-sm full-width"
                                    ng-model="temp.em_Country_Code" ng-selected=""
                                    ng-options="country.em_Country_Code as country.em_Country_name for country in country_data"></select>
                        </div>


                        <div class="col-md-2">
                            <label style="font-size:small;color:black">{{"Nationality"| translate }}<span style="color: red;">&nbsp;*</span></label>

                            <select id="Select28" data-role="dropdownlist" class="form-control input-sm full-width" name="nation" ng-model="temp.em_Nation_Code" required>
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="nationality in obj" value="{{nationality.em_Nation_Code}}" class="form-control input-sm" ng-if="nationality.em_Nation_Code.length">
                                    {{nationality.em_Nation_name}}
                                </option>
                            </select>
                            <p class="help-block" ng-show="Myform.nation.$error.required && (Myform.nation.$touched || Myform.$submitted)">
                                This field required
                            </p>

                        </div>

                        <div class="col-md-2">
                            <label style="font-size:small;color:black">{{"Religion"| translate }}</label>

                            <select id="Select29" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.em_Religion_Code">
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="rel in obj" value="{{rel.em_Religion_Code}}" class="form-control input-sm" ng-if="rel.em_Religion_name.length">
                                    {{rel.em_Religion_name}}
                                </option>
                            </select>
                        </div>

                        <div class="col-md-3">
                            <label style="font-size:small;color:black">{{"Email ID"| translate }}</label>
                            <input type="text" class="k-textbox input-sm full-width" id="Text9" name="emailID" maxlength="50" ng-maxlenght="50" ng-maxlength="50" ng-model="temp.em_email">
                            <!--<p style="color:red" class="help-block" ng-show="Myform.emailID.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                Email ID Should be Max 50
                            </p>--> 
                            <p class="help-block" ng-show="Myform.emailID.$error.maxlength">
                                Email ID Should be Max 50
                            </p>
                        </div>


                        <div class="col-md-3">
                            <label style="font-size:small;color:black">{{"Mobile Number"| translate }}</label>
                            <input type="text" class="k-textbox input-sm full-width" id="mob" ng-maxlength="25" maxlength="25" name="mobnum" ng-model="temp.em_mobile">
                            <p style="color:red" class="help-block" ng-show="Myform.mobnum.$error.maxlength">
                                Mobile Number Should be Max 25
                            </p>
                        </div>

                    </div>


                    <div class="row form-row">

                        <div class="col-md-3" ng-class="{'has-error': !Myform.emerg_cont_name1.$valid && (Myform.emerg_cont_name1.$touched || Myform.$submitted)}">
                            <label style="font-size:small;color:black">{{"Emergency Contact Name1"| translate }}</label>
                            <input type="text" class="k-textbox input-sm full-width" id="txt_mobile_number3" name="emerg_cont_name1" ng-maxlength="50" maxlength="51" ng-model="temp.em_emergency_contact_name1">
                            <!--<p style="color:red" class="help-block" ng-show="Myform.emerg_cont_name1.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                Emergency Contact Name should be max 50
                            </p>-->
                            <p style="color:red" class="help-block" ng-show="Myform.emerg_cont_name1.$error.maxlength">
                                Emergency Contact Name should be max 50
                            </p>                               
                        </div>

                        <div class="col-md-3">
                            <label style="font-size:small;color:black">{{"Emergency Contact Number1"| translate }}</label>
                            <input type="text" class="k-textbox input-sm full-width" id="txt_driver_address" ng-maxlength="25" maxlength="26" name="emerg_cont_num1" ng-model="temp.em_emergency_contact_number1">
                            <!--<p style="color:red" class="help-block" ng-show="Myform.emerg_cont_num1.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                Contact Number Should be Max 25
                            </p>-->
                            <p style="color:red" class="help-block" ng-show="Myform.emerg_cont_num1.$error.maxlength">
                                Contact Number Should be Max 25
                            </p> 
                             
                        </div>

                        <div class="col-md-3">
                            <label style="font-size:small;color:black">{{"Summary Address"| translate }}</label>
                            <input type="text" class="k-textbox input-sm full-width" id="Text10" name="emp_summary_address" maxlength="101" ng-maxlength="100" ng-model="temp.em_summary_address">
                            <p style="color:red" class="help-block" ng-show="Myform.emp_summary_address.$error.maxlength">
                                   Summary Address Should be Max 100
                                </p>
                        </div>


                        <div class="col-md-3">
                            <label ng-show="qatar" style="font-size:small;color:black">{{"National ID"| translate }}</label>
                            <label ng-show="uae" style="font-size:small;color:black">{{"Civil ID"| translate }}</label>
                            <input type="text" class="k-textbox input-sm full-width" id="Text6" name="civiId" maxlength="13" ng-maxlength="12" ng-readonly="national_id_readnly" ng-model="temp.em_national_id" ng-pattern="/^\+?\d+$/">
                            <p class="help-block" ng-show="Myform.civiId.$error.pattern && (Myform.civiId.$touched || Myform.$submitted)">
                                Enter Only Digits
                            </p>   
                            <p style="color:red" class="help-block" ng-show="Myform.civiId.$error.maxlength">
                                    ID Should be Max 12
                                </p>                         
                        </div>

                    </div>


                    <div class="row form-row">
                        <div class="col-md-3">
                            <label style="font-size:small;color:black">{{"IBAN Number"| translate }}</label>
                            <input type="text" class="k-textbox input-sm full-width" ng-maxlength="40" maxlength="41" id="Text35" name="iban_no" ng-readonly="iban_number_readnly" ng-model="temp.em_iban_no">
                            <p style="color:red" class="help-block" ng-show="Myform.iban_no.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                IBAN Number Should be Max 40
                            </p>
                            <p style="color:red" class="help-block" ng-show="Myform.iban_no.$error.maxlength">
                                    IBAN Number Should be Max 40
                                </p>        
                        </div>
                        <div class="col-md-3">
                            <label style="font-size:small;color:black">{{"Bank Account Number"| translate }}</label>
                            <input type="text" class="k-textbox input-sm full-width" id="Text33" ng-maxlength="30" maxlength="31" name="bank_ac_no" ng-readonly="bank_ac_no_readnly" ng-model="temp.em_bank_ac_no">
                           <!-- <p style="color:red" class="help-block" ng-show="Myform.bank_ac_no.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                Bank Account Number Should be Max 30
                            </p>-->

                            <p style="color:red" class="help-block" ng-show="Myform.bank_ac_no.$error.maxlength">
                                Bank Account Number Should be Max 30
                            </p>
                        </div>

                        <div class="col-md-3">
                            <label style="font-size:small;color:black">{{"Contract Type"| translate }}</label>
                            <select id="Select1" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.em_visa_type_code">
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="visa in obj" value="{{visa.em_visa_type_code}}" class="form-control input-sm" ng-if="visa.em_visa_type.length">
                                    {{visa.em_visa_type}}
                                </option>
                            </select>
                        </div>


                        <div class="col-md-3">
                            <label style="font-size:small;color:black">{{"Roles"| translate }}</label>
                            <select id="Select5" data-role="dropdownlist" class="form-control input-sm full-width" ng-show="roleList"
                                    ng-model="temp.comn_role_code"
                                    ng-options="role.comn_role_code as role.comn_role_name for role in roles_data"></select>
                            <input type="text" id="Text1" ng-model="temp.comn_role_name" class="k-textbox input-sm full-width" ng-show="roleText" ng-readonly="roleReadOnly" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-actions">
                            <div class="pull-right">
                                <button type="submit" ng-disabled="saveBtn" id="empsave" ng-click="SaveData(Myform.$valid)" ng-show="Save_btn" class="btn btn-primary btn-cons btn-small">Submit</button><!--ng-click="SaveData(Myform.$valid)"-->
                                <button type="submit" ng-disabled="updateBtn" id="updt" ng-show="Update_btn" class="btn btn-primary btn-cons btn-small" ng-click="UpdateData(Myform.$valid);">Update</button>
                                <button type="button" id="cancel" class="btn btn-danger btn-cons btn-small" ng-click="Cancel();">Reset</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <div class="modal fade" id="Div1">
            <div class="modal-dialog" id="top" style="width: 400px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="msg" class="close" data-dismiss="modal" aria-label="Close" ng-click="Cancel()"><span aria-hidden="true">&times;</span></button>
                        <h5 class="semi-bold pull-left">Message</h5>
                        <br />
                    </div>
                    <div class="modal-body">
                        <br />
                        <label class="semi-bold">{{CUDobj.strMessage}}</label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-small" data-dismiss="modal" ng-click="Cancel()">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ErrorMessage">
            <div class="modal-dialog" id="Div6" style="width: 300px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h5 class="semi-bold pull-left">{{"Message" | translate }}</h5>
                        <br />
                    </div>
                    <div class="modal-body">
                        <br />
                        <label class="form-label semi-bold help">{{"Error In Adding Employee Details" | translate }}</label>
                        <br />
                    </div>
                    <div class="modal-footer" style="height: 60px">
                        <button type="button" class="btn btn-primary btn-cons btn-small" data-dismiss="modal">{{"Ok" | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="assets/js/calender-datepicker-id.js"></script>
<!--<script src="assets/js/tabs_accordian.js"></script>
<script src="assets/js/tableHeadFixer.js"></script>-->
