﻿<style>
    .ms-choice {
        height:26px;
    }
    </style>
<!DOCTYPE html>
<html>
<body>
    <div class="grid-simple">
        <div class="content">
            <div class="row" >
                <div class="col-md-12" style="padding-left:14px !important;padding-right:14px !important;background:#d8ebf4 !important;">
                    <!--<div class="grid simple">-->
                        <div class="grid-title no-border" style="padding-bottom:0px !important;padding-top: 4px !important">

                         <!--   <div class="row" style="background:#d8ebf4 !important;padding-bottom:12px !important;padding-top: 6px !important">-->

                                <div class="col-md-2">
                                    <label id="Label" for="txt_Nationality_Code" class="form-label">
                                        <i class="fa fa-book"></i>
                                        {{"Curriculum"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="temp.sims_cur_code" ng-selected="" name="sims_cur_code" ng-change="getAcademic_year(temp.sims_cur_code)"
                                            ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in cur_data" required></select>
                                </div>

                            <!--    <div class="col-md-2">
                                    <label id="Label1" for="txt_Nationality_Code" class="form-label">
                                        <i class="fa fa-sort-amount-desc"></i>
                                        {{"Academic Year"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="Select1" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="temp.sims_academic_year" ng-selected="" name="sims_academic_year" ng-change="getGrade(temp.sims_cur_code,temp.sims_academic_year)"
                                            ng-options="acad.sims_academic_year as acad.sims_academic_year_desc for acad in acad_data" required></select>
                                </div>-->

                            <!-- <div class="col-md-2" style="margin-top:2px">
                                 <label > <i class="fa fa-sitemap"></i>{{"Grade"|translate}}<span class="asterisk" style="color: red">*</span></label>
                                 <select id="cmb_grade_code" multiple="multiple" class="full-width" ng-model="temp.sims_grade_code" ng-change="getSection(temp.sims_cur_code,temp.sims_academic_year,temp.sims_grade_code)">
                                     <option ng-repeat="grade in Grade_code|filter:{sims_grade_name:''}" value="{{grade.sims_grade_code}} ">{{grade.sims_grade_name}}</option>
                                 </select>
                                </div>-->

                            <!--  <div class="col-md-2" style="margin-top:2px">
                        <label><i class="fa-align-justify"></i>{{"Section"|translate}} <span class="asterisk" style="color: red">*</span></label>
                        <select id="cmb_section_code" multiple="multiple" class="full-width" ng-model="temp.sims_section_code">
                            <option ng-repeat="section in Section_code|filter:{sims_section_name:''}" value="{{section.sims_section_code}} ">{{section.sims_section_name}}</option>
                        </select>
                    </div>-->

                                <div class="col-md-10" style="margin-top: 26px;">
                <div class="pull-right" >
                    
                    <button type="button" class="btn btn-primary btn-cons" ng-click="getdetails()">{{"Preview"|translate}}</button>
                   <button class="btn btn-rounded btn-warning btn-cons" type="button" ng-click="reset_data()"><i class="icon-ok"></i>{{"Reset"|translate}}</button>

                    <button type="button" class="btn btn-primary btn-cons" ng-click="exportData()">{{"Excel"|translate}}</button>
                    <button type="button" class="btn btn-primary btn-cons" ng-click="print()">{{"Print"|translate}}</button>
                </div>
            </div>



                       
                   

                        <!--    </div><!---- row -->
                           
                           



                        </div>
                    <!--</div>-->
                </div>
            </div>

            <div ng-show="detailsField">

                <div class="content"  style="margin-left:-9px;margin-right:-9px;">
                    <div class="grid-title no-border" style="background-color:  white;">
                        <div class="col-md-12">
                            <div class="row margin-top" style="margin-top:0px;">
                                <div class="col-md-6" style=" padding-left: 6px;">
                                    <select id=" select1" style="width: 60px;" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                        <option value="30" class=" form-control input-sm">
                                            30
                                        </option>

                                        <option value="60" class=" form-control input-sm">
                                            60
                                        </option>

                                        <option value="All" class=" form-control input-sm">
                                            All
                                        </option>
                                    </select>
                                </div>
                           
                         
                     
                             </div>
                        </div>


                        <div id="example_wrapper" class="dataTables_wrapper form-inline">
                            <div class="row margin-top">
                                <div class="col-md-12">

                                    <div class="col-md-12" id="rpt_data1">
                                        <table class="table table-striped table-flip-scroll cf">
                                            <thead>
                                                <tr style=" text-align:left" background-color #edefef"  >
                                                    <th style="width:4%"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Sr No"|translate}}</b></th>
                                                    <th ng-click="sort('staff_type')"><b><i class="fa fa-bookmark-o"></i>&nbsp;{{" Staff Type"|translate}}</b></th>
                                                    <th ng-click="sort('dg_desc')"><b><i class="fa fa-align-justify"></i>&nbsp;{{"Designation"|translate}}</b></th>
                                                    <th ng-click="sort('gender')"><b><i class="fa fa-male"></i>&nbsp;<i class="fa fa-female"></i>&nbsp;{{"Gender"|translate}}</b></th>
                                                    <th ng-click="sort('europian')"><b><i class="fa fa-flag"></i>&nbsp;{{"Europian"|translate}}</b></th>
                                                    <th ng-click="sort('asian')"><b><i class="fa fa-flag"></i>&nbsp;{{"Asian"|translate}}</b></th>
                                                    <th ng-click="sort('african')"><b><i class="fa fa-flag"></i>&nbsp;{{"African"|translate}}</b></th>
                                                    <th ng-click="sort('uAE')"><b><i class="fa fa-flag"></i>&nbsp;{{"UAE"|translate}}</b></th>
                                                    <th ng-click="sort('american')"><b><i class="fa fa-flag"></i>&nbsp;{{"American"|translate}}</b></th>
                                                    <th ng-click="sort('astralia')"><b><i class="fa fa-flag"></i>&nbsp;{{"Astralia"|translate}}</b></th>
                                                    <th ng-click="sort('other_arab')"><b><i class="fa fa-flag"></i>&nbsp;{{"Other Grab"|translate}}</b></th>
                                                    <th ng-click="sort('other_gcc')"><b><i class="fa fa-flag"></i>&nbsp;{{"Other GCC"|translate}}</b></th>
                                                    <th ng-click="sort('total')"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"total"|translate}}</b></th>
                                                    
                                                  </tr>
                                            </thead>

                                            <tbody align="left">
                                                <tr ng-repeat="r in filteredTodos|orderBy:colname:reverse|filter:searchText" >
                                                    <td>{{$index+1}}</td>
                                                    <td>{{r.staff_type}}</td>
                                                    <td>{{r.dg_desc}}</td>
                                                    <td>{{r.gender}}</td>
                                                    <td ng-click="viewsubtitution('europian',r.staff_type,r.dg_desc,r.gender)">{{r.europian}}</td>
                                                    <td ng-click="viewsubtitution('asian',r.staff_type,r.dg_desc,r.gender)">{{r.asian}}</td>
                                                    <td ng-click="viewsubtitution('african',r.staff_type,r.dg_desc,r.gender)">{{r.african}}</td>
                                                    <td ng-click="viewsubtitution('uAE',r.staff_type,r.dg_desc,r.gender)">{{r.uAE}}</td>
                                                    <td ng-click="viewsubtitution('american',r.staff_type,r.dg_desc,r.gender)">{{r.american}}</td>
                                                    <td ng-click="viewsubtitution('astralia',r.staff_type,r.dg_desc,r.gender)">{{r.astralia}}</td>
                                                    <td ng-click="viewsubtitution('other_arab',r.staff_type,r.dg_desc,r.gender)">{{r.other_arab}}</td>
                                                    <td ng-click="viewsubtitution('other_gcc',r.staff_type,r.dg_desc,r.gender)">{{r.other_gcc}}</td>
                                                    <td >{{r.total}}</td>
                                                     </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                    <div ng-show="hideprintpdf">
                                        <div class="col-md-12" id="pdf_print">
                                            <table class="table table-bordered text-center">
                                                <thead>
                                                    <tr style=" text-align:left" background-color #edefef">
                                                        <th><b>{{"Sr No"|translate}}</b></th>
                                                    <th ng-click="sort('staff_type')"><b>{{"Staff Type"|translate}}</b></th>
                                                    <th ng-click="sort('dg_desc')"><b>{{"Designation"|translate}}</b></th>
                                                    <th ng-click="sort('gender')"><b>{{"Gender"|translate}}</b></th>
                                                    <th ng-click="sort('europian')"><b>{{"Europian"|translate}}</b></th>
                                                    <th ng-click="sort('asian')"><b>{{"Asian"|translate}}</b></th>
                                                    <th ng-click="sort('african')"><b>{{"African"|translate}}</b></th>
                                                    <th ng-click="sort('uAE')"><b>{{"UAE"|translate}}</b></th>
                                                    <th ng-click="sort('american')"><b>{{"American"|translate}}</b></th>
                                                    <th ng-click="sort('astralia')"><b>{{"Astralia"|translate}}</b></th>
                                                    <th ng-click="sort('other_arab')"><b>{{"Other Grab"|translate}}</b></th>
                                                    <th ng-click="sort('other_gcc')"><b>{{"Other GCC"|translate}}</b></th>
                                                    <th ng-click="sort('total')"><b>{{"total"|translate}}</b></th>
                                                  
                                                  
                                                    </tr>

                                                </thead>

                                                <tbody align="center">
                                                     <tr ng-repeat="r in filteredTodos|orderBy:colname:reverse|filter:searchText">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{r.staff_type}}</td>
                                                    <td>{{r.dg_desc}}</td>
                                                    <td>{{r.gender}}</td>
                                                    <td>{{r.europian}}</td>
                                                    <td>{{r.asian}}</td>
                                                    <td>{{r.african}}</td>
                                                    <td>{{r.uAE}}</td>
                                                    <td>{{r.american}}</td>
                                                    <td>{{r.astralia}}</td>
                                                    <td>{{r.other_arab}}</td>
                                                    <td>{{r.other_gcc}}</td>
                                                    <td>{{r.total}}</td>

                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="row" ng-show="pager">
                                        <div class="col-md-12">
                                            <div class="pull-right">
                                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                                        ng-click="index(currentPage)">
                                                </paging>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</body>
</html>
<!--<div class="col-md-12" id="subform">-->


 <div class="modal fade in" id="MyModal6" role="dialog" style="display: none;">        
            <div class="modal-dialog" style="width: 1200px; border: solid; border-bottom-left-radius: 05px; border-bottom-right-radius: 05px; border-top-left-radius: 05px; border-top-right-radius: 05px">
                <div class="col-md-12" id="subform">
                    <div class="modal-content">
                        <div class="pull-right">
                                <a href="">
                                    <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>
                                </a>
                            </div>

                        <hr style="height: 03px; border: none; color: purple; background-color: green;">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="Div1" class="dataTables_wrapper form-inline">
                                    <div id="Div2" class="dataTables_wrapper form-inline">
                                        <div class="row margin-top">
                                            <div class="col-md-12" style="height:500px;overflow:auto">
                                                <table class="table table-bordered table-hover table-condensed" id="Table1" aria-describedby="example2_info">
                                                    <thead style="background-color: #0000ff; border-style: solid;">
                                                        <tr style="background-color: #0000ff; border-style: solid;">
                                                             <th class="semi-bold">{{"Sr No"|translate}}</th>
                                                            <th class="semi-bold">{{"Department"|translate}}</th>
                                                            <th class="semi-bold">{{"Staff Type"|translate}}</th>
                                                            <th class="semi-bold">{{"Designation"|translate}}</th>
                                                            <th class="semi-bold">{{"Employee Id"|translate}}</th>
                                                            <th class="semi-bold">{{"Name"|translate}}</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                        <tr ng-repeat=" obj in subformdetails track by $index" ng-class="row1">
                                                            <td>{{$index+1}}</td>
                                                            <td>{{obj.dept_name}}</td>
                                                            <td>{{obj.emp_staff_type}}</td>
                                                            <td>{{obj.designation_name}}</td>
                                                             <td>{{obj.em_login_code}}</td>
                                                            <td>{{obj.emp_name}}</td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                          
                                </div>

                        </div>

                    </div>


                </div>
        </div>
       </div>

<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/plugins/fileSaver.js"></script>
<script src="assets/js/jszip.js"></script>
<script src="assets/js/xlsx.js"></script>
<script src="assets/js/xlsx-reader.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>




