﻿<script src="assets/plugins/fileSaver.js"></script>
<script src="https://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.12/xlsx.core.min.js"></script>

<script src="assets/plugins/jquery-flot/jquery.flot.js"></script>
<script src="assets/plugins/jquery-flot/jquery.flot.time.min.js"></script>
<script src="assets/plugins/jquery-flot/jquery.flot.selection.min.js"></script>
<script src="assets/plugins/jquery-flot/jquery.flot.animator.min.js"></script>
<script src="assets/plugins/jquery-flot/jquery.flot.orderBars.js"></script>
<script src="assets/plugins/jquery-sparkline/jquery-sparkline.js"></script>


<style>
    .easy-pie-custom canvas {
        top: 0;
        height: 87px;
        left: 0;
    }

    .panel-group .panel-heading .panel-title > a:after {
        font-family: 'FontAwesome';
        content: "" !important;
        float: right;
        color: #505458;
    }

    .easy-pie-custom {
        position: relative;
        display: inline-block;
        width: 90px;
        height: 92px;
        text-align: center;
    }
</style>



<div id="container" class="main_container">
    <div class="page-title">
        <h3>
            {{"Emp Dashboard"| translate }}
        </h3>
    </div>

    <div ng-hide="flg_ck_group">
        <div>
            <div class="row 2col">

                <div id="dash01" class="col-lg-3 col-md-6 col-sm-12 col-xs-12 m-b-5 remove_widget" ng-repeat="j in portal_data" ng-if="(j.sims_field_name=='TODAYS STATUS' &&  j.sims_field_isvisible=='Y')|| portal_data_flg=='1'">
                    <div class="tiles blue added-margin dashboardtile">
                        <div class="tiles-body">
                            <div class="controller">
                                <a href="javascript:;" class="remove text-white" ng-click="removeWidget($event)"></a>
                            </div>
                            <div class="tiles-title fontf">{{"Today's Status"| translate }} </div>
                            <div class="heading fontf">{{"Check In"| translate }}  :- {{check_in}} </div>
                            <div class="heading fontf"><span class="animate-number" data-value="2545665" data-animation-duration="1000">{{"Check Out"| translate }}:- {{check_out}} </span></div>
                        </div>
                    </div>
                </div>

                <div id="dash02" class="col-lg-3 col-md-6 col-sm-12 col-xs-12 m-b-5 remove_widget" ng-repeat="j in portal_data" ng-if="(j.sims_field_name=='LEAVES' &&  j.sims_field_isvisible=='Y')|| portal_data_flg=='1'">
                    <div class="tiles green added-margin dashboardtile">
                        <div class="tiles-body">
                             <div class="controller">
                                <a href="javascript:;" class="remove text-white" ng-click="removeWidget($event)"></a>
                            </div>
                            <div class="tiles-title fontf">{{"Leaves"| translate }}</div>
                            <div class="heading fontf">{{"Total Leaves"| translate }}={{totalLeave}} </div>
                            <div class="heading fontf"><span class="animate-number" data-value="2545665" data-animation-duration="1000">{{"Leaves Taken"| translate }}={{totalLeaveTaken}}</span> </div>
                            <div class="btn-group">
                                <a style="background-color: #13a497; border: solid; border-color: #fff; border-width: 1px" class="btn btn-primary dropdown-toggle btn-demo-space" data-toggle="dropdown" href="">{{leaveDesc}} <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="leave in leave_type" ng-click="getRemainLeave(leave.emp_leave_code,leave)"><a href="">{{leave.emp_leave_name}}&nbsp;= {{leave.le_days_taken}}/{{leave.le_max_days_allowed}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="dash03" class="col-lg-3 col-md-6 col-sm-12 col-xs-12 m-b-5 remove_widget" ng-repeat="j in portal_data" ng-if="(j.sims_field_name=='DATE' &&  j.sims_field_isvisible=='Y')|| portal_data_flg=='1'">
                    <div class="tiles red added-margin dashboardtile">
                        <div class="tiles-body">
                             <div class="controller">
                                <a href="javascript:;" class="remove text-white" ng-click="removeWidget($event)"></a>
                            </div>
                            <div class="tiles-title fontf">{{"Date"| translate }}</div>
                            <div class="heading fontf">{{day}}<span class="animate-number" data-value="14500" data-animation-duration="1200"></span> </div>
                            <div class="heading fontf">{{CurrentDate | date:'dd, MMMM yyyy'}}<span class="animate-number" data-value="14500" data-animation-duration="1200"></span> </div>
                            <div class="fontf"><b><span class="animate-number " data-value="14500" data-animation-duration="1200"></span>{{CurrentDate | date:'hh:mm:ss a'}}</b></div>

                        </div>
                    </div>
                </div>

                <div id="dash04" class="col-lg-3 col-md-6 col-sm-12 col-xs-12 m-b-5 remove_widget" ng-repeat="j in portal_data" ng-if="(j.sims_field_name=='FEEDBACK' &&  j.sims_field_isvisible=='Y')|| portal_data_flg=='1'">
                    <div class="tiles purple added-margin dashboardtile" ng-hide="hide_feedback_tile">
                        <div class="tiles-body">
                             <div class="controller">
                                <a href="javascript:;" class="remove text-white" ng-click="removeWidget($event)"></a>
                            </div>
                            <div class="tiles-title fontf">{{"Feedback"| translate }}</div>
                            <div class="heading fontf">{{CurrentDate | date:'dd, MMMM yyyy'}}<span class="animate-number" data-value="14500" data-animation-duration="1200"></span> </div>
                            <div class="fontf"><b><span class="animate-number" data-value="14500" data-animation-duration="1200"></span>{{CurrentDate | date:'hh:mm:ss a'}}</b></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div id="dash05" class="col-lg-9 col-md-12 col-sm-12 col-xs-12 remove_widget" ng-repeat="j in portal_data" ng-if="(j.sims_field_name=='STUDENT ATTENDANCE' &&  j.sims_field_isvisible=='Y')|| portal_data_flg=='1'">
                <div class=" tiles-container tiles white m-b-5">
                    <div class="tiles white b-b b-grey">
                        <div class="tiles-body">
                             <div class="controller">
                                <a href="javascript:;" class="remove text-white" ng-click="removeWidget($event)"></a>
                            </div>
                            <div class="heading fontf semi-bold">{{"Student Attendance"| translate }}</div>
                        </div>
                    </div>
                   
                    <div class="tiles-body">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <label class="fontf record-not-found ">{{strMessage}}</label>
                            </div>
                        </div>
                        <ul class="progress-list m-t-5 m-b-0">
                            <li ng-repeat="grade in emp_grade">
                                <div class="details-wrapper">
                                    <div class="name fontf">
                                        <b>{{"Grade:"| translate }}{{grade.emp_grade_name}} &nbsp&nbsp {{"Section:"| translate }}{{grade.sims_section_name}} </b>&nbsp&nbsp
                                    </div>
                                    <div class="name fontf">
                                        <span style="background-color: #f35958" class=" label label-success animate-number">{{"Total Student:"| translate }}{{grade.emp_total_stud}}</span>
                                        &nbsp&nbsp<span style="background-color: #f35958" class=" label label-success animate-number">{{"Unmark Student:"| translate }}{{grade.emp_unmark_cnt}}</span>
                                    </div>
                                    <br />
                                    <div class="name fontf">
                                        <span style="background-color: #f35958" class=" label label-success animate-number">{{"Present Student:"| translate }}{{grade.emp_present_stud}}</span>
                                        &nbsp&nbsp<span style="background-color: #f35958" class="label label-success animate-number">{{"Absent Student:"| translate }}{{grade.emp_absent_count}}</span>
                                    </div>
                                    <br />
                                    <div class="name fontf">
                                        <span style="background-color: #f35958" class=" label label-success animate-number">{{"Tardy Student:"| translate }}{{grade.tardy_cnt}}</span>
                                    </div>

                                </div>

                                <div>
                                    <div class="pull-right" style="padding-left: 8px; padding-top: 0px; padding-right: 8px; padding-bottom: 0px">
                                        <div id="test{{$index}}" class="easy-pie-custom" data-percent="{{grade.emp_grade_percentage}}">
                                            <span class="easy-pie-percent">{{grade.emp_grade_percentage}}</span>
                                            <canvas height="50px" width="50px"></canvas>
                                            <b>
                                                <span style="padding: 15px" class="text-bold text-dark margin-right-10">Present</span>
                                            </b>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div class="pull-right" style="padding-left: 8px; padding-top: 0px; padding-right: 8px; padding-bottom: 0px">
                                        <div id="test1{{$index}}" class="easy-pie-custom" data-percent="{{grade.emp_absent_stud_percentage}}">
                                            <span class="easy-pie-percent">{{grade.emp_absent_stud_percentage}}</span>
                                            <canvas height="50px" width="50px"></canvas>
                                            <b>
                                                <span style="padding: 15px" class="text-bold text-dark margin-right-10">Absent</span>
                                            </b>
                                        </div>
                                    </div>
                                </div>


                                <div>
                                    <div class="pull-right" style="padding-left: 8px; padding-top: 0px; padding-right: 8px; padding-bottom: 0px">
                                        <div id="test3{{$index}}" class="easy-pie-custom" data-percent="{{grade.emp_unmark_percentage}}">
                                            <span class="easy-pie-percent">{{grade.emp_unmark_percentage}}</span>
                                            <canvas height="50px" width="50px"></canvas>
                                            <b><span style="padding: 15px" class="text-bold text-dark margin-right-10">Unmark</span></b>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div class="pull-right" style="padding-left: 8px; padding-top: 0px; padding-right: 8px; padding-bottom: 0px">
                                        <div id="test2{{$index}}" class="easy-pie-custom" data-percent="{{grade.emp_tardy_stud_percentage}}">
                                            <span class="easy-pie-percent">{{grade.emp_tardy_stud_percentage}}</span>
                                            <canvas height="50px" width="50px"></canvas>
                                            <b>
                                                <span style="padding: 15px" class="text-bold text-dark margin-right-10">Tardy</span>
                                            </b>
                                        </div>
                                    </div>
                                </div>


                                <div class="clearfix"></div>
                                <hr style="color: red; border-width: medium" />
                                <br />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="dash06" class="col-lg-3 col-md-12 col-sm-12 col-xs-12 remove_widget" ng-repeat="j in portal_data" ng-if="(j.sims_field_name=='SUBJECTS' &&  j.sims_field_isvisible=='Y')|| portal_data_flg=='1'">
                <div style="width: auto; overflow-x: auto; overflow-y: auto">

                    <div class="tiles white ">
                        <div class=" tiles-container tiles white m-b-5 b-b b-grey">
                            <div class="tiles-body">
                                 <div class="controller">
                                <a href="javascript:;" class="remove text-white" ng-click="removeWidget($event)"></a>
                            </div>
                                <div class="heading fontf semi-bold">{{"Subjects"| translate }}</div>
                            </div>
                        </div>
                        <div class="tiles-body">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1 text-center">
                                    <label class="fontf record-not-found">{{strMessage1}}</label>
                                </div>
                            </div>
                        
                            <div class="panel-group m-b-0" id="accordion" data-toggle="collapse">
                                <div class="panel panel-default" ng-repeat="sub in emp_sub">
                                    <div class="panel-heading">
                                        <h4 class="panel-title fonf">
                                            <a style="font-size: medium; color: forestgreen;" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="/main/EmpDashboard#{{sub.emp_sub_code}}" ng-click="subclick(sub.emp_sub_code)">{{sub.emp_sub_name}}
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="{{sub.emp_sub_code}}" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div id="Div1" class="dataTables_wrapper form-inline">
                                                <div style="width: 100%; height: auto">
                                                    <table class="table" id="Table5">
                                                        <thead style="background-color: white">
                                                            <tr ng-repeat="gnr in empstgrade_book">
                                                                <td class="fonf"><b>{{gnr.sims_gb_name}} </b></td>
                                                            </tr>

                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade in" id="MyModal" role="dialog" style="display: none;">
                <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 800px;">
                    <div class="modal-content" uib-modal-transclude="">
                        <div class="modal-header ng-scope" style="height: 40px">
                            <div class="pull-left">
                                <h4 class="modal-title custom-font fontf" style="margin-top: -5px"><b>{{StudentData}}</b></h4>
                            </div>
                            <div class="pull-right">
                                <a href="">
                                    <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>
                                </a>
                            </div>

                        </div>

                        <div class="">
                            <div class="">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div style="width: auto; height: 250px; overflow-x: auto; overflow-y: auto">
                                            <table class="table table-bordered table-condensed" id="fixTable">
                                                <thead>
                                                    <tr>

                                                        <th class="semi-bold fontf" style="width: 30%">
                                                            <label><b>{{"Student Enrollment" | translate }}</b></label>
                                                        </th>
                                                        <th class="semi-bold fontf" style="width: 50%">
                                                            <label><b>{{"Student Name"| translate }}</b></label>
                                                        </th>
                                                        <th style="width: 20%" class="semi-bold">Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="stude in stud_Enroll">
                                                        <td>{{stude.sims_enrollment_number}}</td>
                                                        <td>{{stude.sims_student_name}}</td>
                                                        <td class="v-align-middle">

                                                            <span ng-if="stude.sims_attendance_day_attendance_code=='A'" class="label label-important">{{"Absent"| translate }}</span>
                                                            <span ng-if="stude.sims_attendance_day_attendance_code=='P'" class="label label-success">{{"Present"| translate }}</span>
                                                            <span ng-if="stude.sims_attendance_day_attendance_code=='T'" class="label label" style="background-color: #ffd800">{{"Tardy"| translate }}</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer fonf">
                            <button class="btn btn-success btn-cons" data-dismiss="modal" type="button">{{"OK" | translate }}</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">

        <div ng-hide="flg_ck_group"> <!-- ng-hide="flg_ck_group"-->
            <div id="dash07" class="col-md-6 remove_widget m-b-5" ng-repeat="j in portal_data" ng-if="(j.sims_field_name=='DIVISION WISE MALE-FEMALE STAFF COUNT' &&  j.sims_field_isvisible=='Y')|| portal_data_flg=='1'">
                <div>
                   
                    <div class="tiles purple">
                        <div class="tiles-body">
                                <div class="controller">
                            <a href="javascript:;" class="remove text-white" ng-click="removeWidget($event)"></a>
                        </div>
                            <div class="heading fontf semi-bold">{{"Division wise male-female staff count" | translate }}</div>
                        </div>
                    </div>
                    <div class="tiles white p-l-15 p-r-15 p-t-15 p-b-15 widget_body scroll-bar">
                            <table class="table table-bordered table-hover text-center" id="fixTable1" ng-show="records">
                                <thead>
                                <tr>
                                    <th class="bold">{{"DIVISION" | translate }}
                                        </th>
                                    <th class="bold">{{"GENDER" | translate }}
                                        </th>
                                    <th class="bold">{{"COUNT" | translate }}
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="j in division | orderBy:orderByField:reverseSort" ng-class="row">

                                        <td>
                                            <label id="lbl">{{j.codp_dept_name}}</label>
                                        </td>

                                        <td>
                                            <label id="Label1">{{j.em_sex}}</label>
                                        </td>

                                        <td>
                                            <label id="Label2">{{j.counter}}</label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                </div>
            </div>

            <div id="dash08" class="col-md-6 remove_widget m-b-5 " ng-repeat="j in portal_data" ng-if="(j.sims_field_name=='EMPLOYEE ATTENDENCE DETAIL' &&  j.sims_field_isvisible=='Y')|| portal_data_flg=='1'">
                <div>
                    <div class=" tiles-container tiles white ">

                        <div class="tiles green">
                            <div class="tiles-body">
                                 <div class="controller">
                                    <a href="javascript:;" class="remove text-white" ng-click="removeWidget($event)"></a>
                                </div>
                                <div class="heading fontf semi-bold">{{"EMPLOYEE ATTENDENCE DETAIL" | translate }}</div>
                            </div>
                        </div>
                        <div class="tiles white p-l-15 p-r-15 p-t-15 p-b-15 widget_body scroll-bar ">
                            <table class="table table-bordered table-hover" id="Table1" ng-show="records">
                                <thead style="background-color: white">
                                    <tr style="background-color: #edefef">
                                        <th class="bold">{{"SECTION" | translate }}
                                        </th>
                                        <th class="bold">{{"COUNT" | translate }}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-click="presentflag()">
                                        <th class="semi-bold">
                                            <label><b>{{"Present" | translate }}</b></label>
                                        </th>

                                        <td>
                                            <label id="Label3">{{present}}</label>
                                        </td>
                                    </tr>
                                    <tr ng-click="absentflag()">
                                        <th class="semi-bold">
                                            <label><b>{{"Absent" | translate }}</b></label>
                                        </th>

                                        <td>
                                            <label id="Label4">{{abs}}</label>
                                        </td>
                                    </tr>

                                    <tr ng-click="leavewithoutallws()">
                                        <th class="semi-bold">
                                            <label><b>{{"Leave Without Allowance" | translate }}</b></label>
                                        </th>

                                        <td>
                                            <label id="Label5">{{lvwi}}</label>
                                        </td>
                                    </tr>
                                    <tr ng-click="leaveflag()">
                                        <th class="semi-bold">
                                            <label><b>{{"Leave" | translate }}</b></label>
                                        </th>

                                        <td>
                                            <label id="Label6">{{lev}}</label>
                                        </td>
                                    </tr>

                                    <tr ng-click="unmarkflag()">
                                        <th class="semi-bold">
                                            <label><b>{{"Unmark" | translate }}</b></label>
                                        </th>

                                        <td>
                                            <label id="Label7">{{um}}</label>
                                        </td>
                                    </tr>

                                    <tr class="bg-yellow">
                                        <th class="semi-bold">
                                            <label style="color: white"><b>{{"Total" | translate }}</b></label>
                                        </th>

                                        <td>
                                            <label id="Label8" style="color: white">{{jtot}}</label>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>


            <!--<div id="sbstitutionWidget" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 m-b-5 remove_widget">
                <div class="row tiles-container  m-b-10 hidden-xlg">
                      <div class="controller">
                                    <a href="javascript:;" class="remove text-white" ng-click="removeWidget($event)"></a>
                      </div>
                    <div class="col-md-12">
                        
                        <div class="tiles white p-t-5 p-b-5 p-l-10 red ">
                            <h5 class="text-white semi-bold">Lecture Substitution</h5>
                        </div>
                        <div class="tiles white p-t-15 p-b-15 p-l-15 p-r-15">
                            <div class="notification-messages" ng-class="{subs.sims_bell_substitution_acknowledgement_status == 'Y' ? 'success' : 'danger'}" ng-repeat="subs in AllSubstitution">
                                <div class="message-wrapper full-width inline">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="heading ">On {{AllDays[subs.sims_bell_day_code]}} {{subs.sims_bell_slot_code}}th lecture in class {{ subs.sims_bell_grade_code}} {{subs.sims_bell_section_code}} of {{subs.sims_subject_name_en}} Assigned to you.</div>
                                            <div class="description">Status : <span ng-show="{{subs.sims_bell_substitution_acknowledgement_status == 'P'}}">Pending</span> <span ng-show="{{subs.sims_bell_substitution_acknowledgement_status == 'Y'}}">Success</span></div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="inline pull-right">
                                                <div class=" cursor-pointer p-t-5 p-l-5 p-b-5 p-r-5 inline" ng-click="acknowledgeSubstitution(subs)"><i class="material-icons" ng-class="{'text-success': subs.sims_bell_substitution_acknowledgement_status == 'Y'}">check_circle</i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>-->
        </div>

        <div class="row" ng-if="flg_ck_group">
            <div class="col-md-4" style="padding-left: 15px; padding-right: 5px" ng-repeat="j in portal_data" ng-if="(j.sims_field_name=='Staff Department Count' &&  j.sims_field_isvisible=='Y')|| portal_data_flg=='1'">
                <div style="width: auto; overflow-x: auto; overflow-y: auto">
                    <div class=" tiles-container tiles white ">
                        <div class="hpanel">
                            <div class="panel-body">
                                <div class="stats-title pull-left">
                                    <h4>{{"Staff Department Count"|translate}}</h4>
                                </div>
                                <div>
                                    <canvas id="Canvas2" class="chart chart-pie" chart-type="type" chart-data="chartData2" chart-labels="chartLabels2" chart-legend="true"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4" style="padding-left: 15px; padding-right: 5px" ng-repeat="j in portal_data" ng-if="(j.sims_field_name=='HRMS' &&  j.sims_field_isvisible=='Y')|| portal_data_flg=='1'">

                <div style="width: auto; overflow-x: auto; overflow-y: auto">
                    <div class=" tiles-container tiles white ">
                        <div class="hpanel">
                            <div class="panel-body">
                                <div class="stats-title pull-left">
                                    <h4>{{"HRMS"|translate}}</h4>
                                </div>
                                <div>
                                    <canvas id="pie" class="chart chart-pie" chart-type="type" chart-data="chartData" chart-labels="chartLabels" chart-legend="true" chart-click="onClickSlice"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-4" style="padding-left: 15px; padding-right: 5px" ng-repeat="j in portal_data" ng-if="(j.sims_field_name=='Staff Division Count' &&  j.sims_field_isvisible=='Y')|| portal_data_flg=='1'">
                <div style="width: auto; overflow-x: auto; overflow-y: auto">
                    <div class=" tiles-container tiles white ">
                        <div class="hpanel">
                            <div class="panel-body">
                                <div class="stats-title pull-left">
                                    <h4>{{"Staff Division Count"|translate}}</h4>
                                </div>
                                <div>
                                    <canvas id="Canvas1" class="chart chart-pie" chart-type="type" chart-data="chartData1" chart-labels="chartLabels1" chart-legend="true"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row" ng-if="flg_ck_group">
            <div class="col-md-4" style="padding-left: 15px; padding-right: 5px" ng-repeat="j in portal_data" ng-if="(j.sims_field_name=='STUDENT' &&  j.sims_field_isvisible=='Y')|| portal_data_flg=='1'">
                <div style="width: auto; overflow-x: auto; overflow-y: auto">
                    <div class=" tiles-container tiles white spacing-bottom">
                        <div class="hpanel">
                            <div class="panel-body">
                                <div class="stats-title pull-left">
                                    <h4>{{"Student"|translate}}</h4>
                                </div>
                                <div>
                                    <canvas id="doughnut" class="chart chart-doughnut" chart-click="onClick" chart-data="data" chart-labels="labels"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="row" ng-if="flg_ck_group">
            <div class="col-md-4" ng-repeat="j in portal_data" ng-if="(j.sims_field_name=='Staff Personal Data' &&  j.sims_field_isvisible=='Y')|| portal_data_flg=='1'">
                <div style="width: auto; height: 100px; overflow-x: auto; overflow-y: auto">
                    <div>
                        <div>
                            <div class="tiles-body">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-primary btn-cons" type="button" ng-click="getStaffDetails()">{{ "Staff Details" | translate }}</button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-4" ng-repeat="j in portal_data" ng-if="(j.sims_field_name=='Resigned staff details' &&  j.sims_field_isvisible=='Y')|| portal_data_flg=='1'">
                <div style="width: auto; height: 100px; overflow-x: auto; overflow-y: auto">
                    <div>
                        <div>
                            <div class="tiles-body">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-primary btn-cons" type="button" ng-click="getResignedStaffDetails()">{{"Resigned Staff Details" | translate }}</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="row" ng-if="flg_ck_group">
        <div id="Div2" class="col-lg-3 col-md-6 col-sm-12 col-xs-12 m-b-5 remove_widget">
            <div style="">

            <div class="tiles-container tiles white m-b-5">
            <div class="tiles white">
            <div class="tiles-body">
            <div class="controller">
            <a href="javascript:;" class="remove text-white" ng-click="removeWidget($event)"></a>
            </div>
            <div class="heading fontf semi-bold">{{"Order Detail"| translate }}</div>
             
            </div>
            </div>
            <div class="row">
            <div class="col-md-12">
                <canvas id="Canvas5" class="chart chart-pie" chart-type="type" chart-data="chartData5" chart-labels="chartLabels5" chart-legend="true" chart-click="onClickSlice"></canvas>
                                      
            </div>
                                
            </div>
            </div>
            </div>
        </div>
          
          
          <div id="Div3" class="col-lg-3 col-md-6 col-sm-12 col-xs-12 m-b-5 remove_widget">
                
                    <div class=" tiles-container tiles white m-b-5" >
                        <div class="tiles white">
                            <div class="tiles-body m-b-10">
                                <div class="controller">
                                    <a href="javascript:;" class="remove text-white" ng-click="removeWidget($event)"></a>
                                </div>
                                <div class="heading fontf semi-bold">{{"Purchase Detail"| translate }}</div>
                            </div>
                        </div>
                           <div class="row ">
                                  <div class="col-md-12">
                                      <div class="p-l-15 p-r-15 m-b-15">
                                            <div id="stacked-ordered-chart" style="height:110px"></div>
                                       </div>
                                  </div>
                            </div>
                          </div>
                </div>



        
          <div id="Div5" class="col-lg-3 col-md-6 col-sm-12 col-xs-12 m-b-5 remove_widget">
                    <div class=" tiles-container tiles white m-b-5" >
                        <div class="tiles white">
                            <div class="tiles-body m-b-10">
                                <div class="controller">
                                    <a href="javascript:;" class="remove text-white" ng-click="removeWidget($event)"></a>
                                </div>
                                <div class="heading fontf semi-bold">{{"Orders"| translate }}</div>
                    </div>
                </div>
                           <div class="row ">
                                  <div class="col-md-12">
                                      <div class="p-l-15 p-r-15 m-b-15">
                                            <div id="placeholder" class="demo-placeholder" style="width:100%;height:110px;"></div>
                                       </div>
                                  </div>
            </div>
                          </div>
                </div>



        <!--<div id="Div4" class="col-lg-3 col-md-6 col-sm-12 col-xs-12 m-b-5 remove_widget">
          <div class="grid simple">

            <div class="grid-body no-border">
              <div id="placeholder" class="demo-placeholder" style="width:100%;height:110px;"></div>
        </div>
          </div>
        </div>-->
        





    </div>


        


</div>


<script src="assets/js/jquery.easypiechart.min.js"></script>
<script src="assets/js/tableHeadFixer.js"></script>

<div class="modal fade in" id="MyModal2" role="dialog" style="display: none;">
    <div class="modal-dialog" style="width: 1024px; border: solid; border-width: 02px; border-bottom-left-radius: 05px; border-bottom-right-radius: 05px; border-top-left-radius: 05px; border-top-right-radius: 05px; border-color: blue">
        <div class="modal-content">
            <div class="modal-header ng-scope" style="height: 30px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px"><b>Employee Detail</b></h4>
                    <h4>
                        <label><b>{{"Date :- "| translate }}</b>{{cur_date}}</label></h4>
                </div>

                <div class="pull-right">
                    <a href="">
                        <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>
                    </a>
                </div>

            </div>

            <div class="" ng-show="tabledata">
                <div>
                    <div class="row" id="printdata">
                        <div style="width: 100%; height: 500px; overflow-x: auto; overflow-y: auto">
                            <table class="table table-bordered table-condensed" id="fixTable2">
                                <thead>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th class="semi-bold" style="width: 5%">
                                            <label><b>{{"SR.NO"| translate }}</b></label>
                                        </th>
                                        <th class="semi-bold fontf" style="width: 15%">
                                            <label><b>{{"LOGIN CODE"| translate }}</b></label>
                                        </th>

                                        <th class="semi-bold" style="width: 30%">
                                            <label><b>{{"EMPLOYEE NAME" | translate }}</b></label>
                                        </th>
                                        <th class="semi-bold" style="width: 30%">
                                            <label><b>{{"EMAIL"| translate }}</b></label>
                                        </th>
                                        <th class="semi-bold" style="width: 15%">
                                            <label><b>{{"MOBILE NO"| translate }}</b></label>
                                        </th>
                                        <th class="semi-bold" style="width: 15%">
                                            <label><b>{{"STATUS"| translate }}</b></label>
                                        </th>


                                    </tr>
                                    <tr ng-repeat="stude in all_data_emp_perticular">
                                        <td>{{$index+1}}</td>
                                        <td>{{stude.em_login_code}}</td>
                                        <td>{{stude.fullname}}</td>
                                        <td>{{stude.em_email}}</td>
                                        <td>{{stude.em_mobile}}</td>
                                        <td>{{stude.att_absent_flag}}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button type="button" class="btn btn-primary btn-small" style="width: 100px; height: 32px" ng-click="immport()">{{"Export"|translate}}</button>
                                <button type="button" class="btn btn-primary btn-small" style="width: 100px; height: 32px" ng-click="print('fixTable2')">{{"Print"|translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade in" id="MyModal3" role="dialog" style="display: none;">
    <div class="modal-dialog" style="width: 1024px; border: solid; border-width: 02px; border-bottom-left-radius: 05px; border-bottom-right-radius: 05px; border-top-left-radius: 05px; border-top-right-radius: 05px; border-color: blue">
        <div class="modal-content">
            <div class="modal-header ng-scope" style="height: 30px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px"><b>Staff Personal Data</b></h4>
                    <h4>
                        <label><b>{{"Date :- "| translate }}</b>{{cur_date}}</label></h4>
                </div>

                <div class="pull-right">
                    <a href="">
                        <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>
                    </a>
                </div>

            </div>

            <div class="">
                <div>
                    <div class="row" id="printdata2">
                        <div style="width: 100%; height: 500px; overflow-x: auto; overflow-y: auto">
                            <table class="table table-bordered table-condensed" id="fixTable3">
                                <thead>
                                </thead>
                                <tbody>

                                    <tr style="background-color: #edefef">
                                        <th class="semi-bold" style="width: 5%">
                                            <label><b>{{"Sr.NO"| translate }}</b></label>
                                        </th>
                                        <th class="semi-bold" style="width: 5%">
                                            <label><b>{{"Employee No."| translate }}</b></label>
                                        </th>
                                        <th class="semi-bold fontf" style="width: 15%">
                                            <label><b>{{"Employee Login Code"| translate }}</b></label>
                                        </th>

                                        <th class="semi-bold" style="width: 30%">
                                            <label><b>{{"NAME" | translate }}</b></label>
                                        </th>
                                        <th class="semi-bold" style="width: 30%">
                                            <label><b>{{"Eamil" | translate }}</b></label>
                                        </th>
                                        <th class="semi-bold" style="width: 30%">
                                            <label><b>{{"DOB"| translate }}</b></label>
                                        </th>
                                        <th class="semi-bold" style="width: 15%">
                                            <label><b>{{"MOBILE NO"| translate }}</b></label>
                                        </th>
                                        <th class="semi-bold" style="width: 15%">
                                            <label><b>{{"Joining Date"| translate }}</b></label>
                                        </th>

                                        <th class="semi-bold" style="width: 15%">
                                            <label><b>{{"Designation"| translate }}</b></label>
                                        </th>
                                        <th class="semi-bold" style="width: 15%">
                                            <label><b>{{"Gender"| translate }}</b></label>
                                        </th>
                                        <th class="semi-bold" style="width: 15%">
                                            <label><b>{{"Marital Status"| translate }}</b></label>
                                        </th>
                                        <th class="semi-bold" style="width: 15%">
                                            <label><b>{{"Qatar ID( National ID)"| translate }}</b></label>
                                        </th>
                                        <th class="semi-bold" style="width: 15%">
                                            <label><b>{{"Nationality"| translate }}</b></label>
                                        </th>
                                        <th class="semi-bold" style="width: 15%">
                                            <label><b>{{"Service Status"| translate }}</b></label>
                                        </th>
                                        <th class="semi-bold" style="width: 15%">
                                            <label><b>{{"Religion"| translate }}</b></label>
                                        </th>


                                    </tr>
                                    <tr ng-repeat="stude in staff">
                                        <td>{{$index+1}}</td>
                                        <td>{{stude.em_number}}</td>
                                        <td>{{stude.em_login_code}}</td>
                                        <td>{{stude.emp_name}}</td>
                                        <td>{{stude.em_email}}</td>
                                        <td>{{stude.em_date_of_birth}}</td>
                                        <td>{{stude.em_mobile}}</td>

                                        <td>{{stude.em_date_of_join}}</td>
                                        <td>{{stude.em_designation}}</td>
                                        <td>{{stude.em_gender}}</td>
                                        <td>{{stude.emp_marital_status}}</td>
                                        <td>{{stude.em_national_id}}</td>
                                        <td>{{stude.em_nationality}}</td>
                                        <td>{{stude.service_status}}</td>
                                        <td>{{stude.religion_code}}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button type="button" class="btn btn-primary btn-small" style="width: 100px; height: 32px" ng-click="immportStaff()">{{"Export"|translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="MyModal4" role="dialog" style="display: none;">
    <div class="modal-dialog" style="width: 1024px; border: solid; border-width: 02px; border-bottom-left-radius: 05px; border-bottom-right-radius: 05px; border-top-left-radius: 05px; border-top-right-radius: 05px; border-color: blue">
        <div class="modal-content">
            <div class="modal-header ng-scope" style="height: 30px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px"><b>Staff Resigned Data</b></h4>
                    <h4>
                        <label><b>{{"Date :- "| translate }}</b>{{cur_date}}</label></h4>
                </div>
                <div class="pull-right">
                    <a href="">
                        <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>
                    </a>
                </div>

            </div>

            <div>
                <div>
                    <div class="row" id="printdata3">
                        <div style="width: 100%; height: 500px; overflow-x: auto; overflow-y: auto">
                            <table class="table table-bordered table-condensed" id="Table2">
                                <thead>
                                </thead>
                                <tbody>

                                    <tr style="background-color: #edefef">
                                        <th class="semi-bold" style="width: 5%">
                                            <label><b>{{"Sr.NO"| translate }}</b></label>
                                        </th>

                                        <th class="semi-bold" style="width: 5%">
                                            <label><b>{{"Employee No."| translate }}</b></label>
                                        </th>

                                        <th class="semi-bold fontf" style="width: 15%">
                                            <label><b>{{"Employee Login Code"| translate }}</b></label>
                                        </th>

                                        <th class="semi-bold" style="width: 30%">
                                            <label><b>{{"NAME" | translate }}</b></label>
                                        </th>
                                        <th class="semi-bold" style="width: 30%">
                                            <label><b>{{"National ID"| translate }}</b></label>
                                        </th>
                                        <th class="semi-bold" style="width: 15%">
                                            <label><b>{{"Designation"| translate }}</b></label>
                                        </th>
                                        <th class="semi-bold" style="width: 15%">
                                            <label><b>{{"Joining Date"| translate }}</b></label>
                                        </th>

                                        <th class="semi-bold" style="width: 15%">
                                            <label><b>{{"Reason"| translate }}</b></label>
                                        </th>
                                        <th class="semi-bold" style="width: 15%">
                                            <label><b>{{"Left Date"| translate }}</b></label>
                                        </th>

                                        <th class="semi-bold" style="width: 15%">
                                            <label><b>{{"Division"| translate }}</b></label>
                                        </th>
                                        <th class="semi-bold" style="width: 15%">
                                            <label><b>{{"Department"| translate }}</b></label>
                                        </th>
                                        <th class="semi-bold" style="width: 15%">
                                            <label><b>{{"Grade Name"| translate }}</b></label>
                                        </th>


                                    </tr>
                                    <tr ng-repeat="stude in Resignedstaff">
                                        <td>{{$index+1}}</td>
                                        <td>{{stude.em_number}}</td>
                                        <td>{{stude.em_login_code}}</td>
                                        <td>{{stude.emp_name}}</td>
                                        <td>{{stude.em_national_id}}</td>
                                        <td>{{stude.em_designation}}</td>
                                        <td>{{stude.em_date_of_join}}</td>
                                        <td>{{stude.em_left_reason}}</td>
                                        <td>{{stude.em_left_date}}</td>
                                        <td>{{stude.division}}</td>
                                        <td>{{stude.department}}</td>
                                        <td>{{stude.grade_name}}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button type="button" class="btn btn-primary btn-small" style="width: 100px; height: 32px" ng-click="immportStaffResigned()">{{"Export"|translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #map-canvas {
        height: 350px;
        width: auto;
    }

    .infoWindowContent {
        font-size: 14px !important;
        border-top: 1px solid #ccc;
        padding-top: 10px;
    }

    h2 {
        margin-bottom: 0;
        margin-top: 0;
    }
</style>
