﻿<style>
    .div_th {
        white-space: nowrap;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3>{{ "Employee Leave Details" | translate }}<span class="semi-bold"></span></h3>
            </div>

            <div class="grid-body no-border">
                <div class="row" ng-show="notshow">
                    <div class="col-xs-4">
                        <div class="well" class="form-group">
                            <div class="form-group">
                                <label>Current Page:</label>
                                <input placeholder="page"
                                       class="form-control"
                                       ng-model="currentPage"
                                       ng-init="currentPage = 1" />
                            </div>
                            <div class="form-group">
                                <label>Page Size:</label>
                                <input placeholder="Page Size"
                                       class="form-control"
                                       ng-model="numPerPage" />
                            </div>
                            <div class="form-group">
                                <label>Total Items:</label>
                                <input placeholder="Total"
                                       class="form-control"
                                       ng-model="pagersize" />
                            </div>
                            <hr />
                            <div class="form-group">
                                <label>Dots Display:</label>
                                <input placeholder="..."
                                       class="form-control"
                                       maxlength="3"
                                       ng-model="dots"
                                       ng-init="dots = '...'" />
                            </div>

                            <hr />
                            <div class="form-group">
                                <label>UL Class:</label>
                                <input placeholder="pagination"
                                       class="form-control"
                                       maxlength="100"
                                       ng-model="ulClass" />
                            </div>
                            <div class="form-group">
                                <label>Active Class:</label>
                                <input placeholder="active"
                                       class="form-control"
                                       maxlength="100"
                                       ng-model="activeClass"
                                       ng-init="activeClass = 'active'" />
                            </div>
                            <div class="form-group">
                                <label>Disabled Class:</label>
                                <input placeholder="disabled"
                                       class="form-control"
                                       maxlength="100"
                                       ng-model="disabledClass"
                                       ng-init="disabledClass = 'disabled'" />
                            </div>
                            <br />
                            <table class="table">

                                <tr>
                                    <td>
                                        <label>Show Prev Next:</label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               ng-model="showPrevNext"
                                               ng-init="showPrevNext = true" />
                                        {{showPrevNext}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Show First Last:</label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               ng-model="showFirstLast"
                                               ng-init="showFirstLast = true" />
                                        {{showPrevNext}}
                                    </td>
                                </tr>
                            </table>
                            <hr />
                            <span class="btn btn-default" onclick="location.reload()">
                                <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                            </span>
                            <span class="btn btn-success" ng-click="currentPage = 0">
                                Apply Settings
                            </span>
                            <br />
                            <br />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                            <select id="cmb_cmpny" name="cmb_status" class="form-control input-sm" ng-model="edt.sims_workflow_status_code" ng-change="statusdatachange(edt.sims_workflow_status_code)">
                                <option value="" label="Select Status"></option>
                                <option ng-repeat="i in status_data" value="{{i.sims_workflow_status_code}}"
                                        ng-if="i.sims_workflow_status_code=='E' || i.sims_workflow_status_code=='R'|| i.sims_workflow_status_code=='N'">
                                    {{i.sims_workflow_status}}
                                </option>
                            </select>
                    </div>
                    </div>
                 <div class="row margin-top">
                    <div class="col-md-6">
                            <div class="pull-left">
                                <select id="Select1" style="width: 65px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                    <option value="10" class=" form-control input-sm">
                                        10
                                    </option>

                                    <option value="20" class=" form-control input-sm">
                                        20
                                    </option>

                                    <option value="All" class=" form-control input-sm">
                                        All
                                    </option>
                                </select>

                            </div>
                        </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Employee Name/Leave Type" class="k-textbox input-sm" autofocus="autofocus" tabindex="1" ng-change="search()">
                               <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div class="row margin-top">
                        <div class="col-md-12">
                            <table class="table table-hover table-bordered table-condensed" id="fixedtable">
                                <thead>
                                    <tr style="background-color: #e9e4e4">
                                        <!--  <th class="small-cell v-align-middle" style="z-index:999">
                                            <div class="checkbox check-success">
                                                <input type="checkbox" name="check" value="1" id="mainchk" ng-click="CheckAllChecked();">
                                                <label for="mainchk"></label>
                                            </div>
                                        </th>-->
                                        <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                        <a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{ "Emp Id" | translate }}</a>
                                    </th>
                                        <!--<th>{{ "Emp Id" | translate }}</th>-->
                                        <th>{{ "Leave Type" | translate }}</th>
                                        <th>{{ "Leave Request Date" | translate }}</th>
                                        <th>{{ "Start Date" | translate }}</th>
                                        <th>{{ "End Date" | translate }}</th>
                                        <th>{{ "Days" | translate }}</th>
                                        <th>{{ "Hours" | translate }}</th>
                                        <th>{{ "Admin Modified On" | translate }}</th>
                                        <th>{{ "Leave Status" | translate }}</th>
                                        <th>{{ "Admin Remark" | translate }}</th>
                                        <th>{{ "Action" | translate }}</th>
                                        <th>{{ "Details" | translate }}</th>
                                        <!--<th class="small-cell v-align-middle"><b><i class="fa fa-cogs"></i></b></th>-->
                                        <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                            <label><b><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"Emp ID" | translate }}</b></label>
                                        </th>
                                      <!--  <th><b>{{ "EMP ID" | translate }}</b></th>-->
                                        <th><b>{{ "Leave Type" | translate }}</b></th>
                                        <th><b>{{ "Leave Request Date" | translate }}</b></th>
                                        <th><b>{{ "Start Date" | translate }}</b></th>
                                        <th><b>{{ "End Date" | translate }}</b></th>
                                        <th><b>{{ "Days" | translate }}</b></th>
                                        <th><b>{{ "Hours" | translate }}</b></th>
                                        <th><b>{{ "Admin Modified ON" | translate }}</b></th>
                                        <th><b>{{ "Leave Status" | translate }}</b></th>
                                        <th><b>{{ "Admin remark" | translate }}</b></th>
                                        <th><b>{{ "Action" | translate }}</b></th>
                                        <th><b>{{ "Details" | translate }}</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="info in filteredTodos  | orderBy:orderByField:reverseSort" ng-class="row1">
                                    <tr ng-repeat="info in filteredTodos | orderBy:orderByField:reverseSort" ng-class="row1">
                                        <!-- <td>
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" name="check" value="1" id="{{$index}}" ng-click="checkonebyonedelete()">
                                                <label for="{{$index}}">
                                                </label>
                                            </div>
                                        </td>-->
                                        <td class="div_th">
                                            <div>{{info.empName}}</div>
                                        </td>
                                        <td class="div_th">
                                            <div>{{info.leave_type}}</div>
                                        </td>
                                        <td class="div_th">
                                            <div>{{info.requestdate}}</div>
                                        </td>
                                        <td class="div_th">
                                            <div>{{info.lt_start_date}}</div>
                                        </td>
                                        <td class="div_th">
                                            <div>{{info.lt_end_date}}</div>
                                        </td>
                                        <td class="div_th">
                                            <div>{{info.lt_days}}</div>
                                        </td>
                                        <td class="div_th">
                                            <div>{{info.lt_hours}}</div>
                                        </td>
                                        <td class="div_th">
                                            <div>{{info.lt_modified_on}}</div>
                                        </td>
                                        <td class="div_th">
                                            <div>{{info.leavestatus}}</div>
                                        </td>
                                        <td class="div_th">
                                            <div>{{info.lt_remarks}}</div>
                                        </td>
                                        <td>
                                            <div>
                                                <button class="btn btn-success btn-mini" type="submit" ng-click="getcanLeave(info)" ng-disabled="false" ng-if="info.lt_mgr_confirm_tag=='N'">{{ "Cancel Leave" | translate }}</button>
                                                <button class="btn btn-success btn-mini" type="submit" ng-click="getcanLeave(info)" ng-disabled="true" ng-if="info.lt_mgr_confirm_tag=='R'||info.lt_mgr_confirm_tag=='C'||info.lt_mgr_confirm_tag=='E'">{{ "Cancel Leave" | translate }}</button>
                                            </div>

                                        </td>
                                        <td>
                                            <span class="btn btn-success btn-xs btn-mini" style="background-color: rgb(243, 125, 26); color: white" ng-click="viewDetails(info.lt_no)"><b>{{"Details"|translate}}</b></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>
                        </div>
                    </div>

                </div>
               
            </div>
        </div>
    </div>
</div>


<div class="modal fade in" id="Employee" role="dialog" style="display: none;" tabindex="-1">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 1000px; height: 500px">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px"><b>Pending Leave For Approval</b></h4>
                </div>
                <div class="pull-right">
                    <a href="">
                        <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>
                    </a>
                </div>
            </div>
            <div class="modal-body" style="background-color: white;">
                <div class=" ">
                    <div class="grid-body no-border">
                        <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12" ng-show="busy">
                                <div class="col-md-5">
                                    &nbsp;
                                </div>

                                <div class="col-md-5">
                                    <div class="row">
                                        <img src="assets/images/loading.gif" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">

                                <div id="Div1" class="dataTables_wrapper form-inline" ng-show="div_trans">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-hover table-bordered" id="fixedtable1">
                                                <thead>
                                                    <tr style="background-color: #edefef">
                                                        <th class="div_th">{{"EMPLOYEE NAME"| translate }}</th>
                                                        <th class="div_th">{{"STATUS"| translate }}</th>
                                                        <th class="div_th">{{"ORDER"| translate }}</th>
                                                        <th class="div_th">{{"ACTION DATE"| translate }}</th>
                                                    </tr>
                                                </thead>
                                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                    <tr ng-repeat="info1 in Empleavedeatails_data" ng-class="row1">
                                                        <td>{{info1.eName}}</td>
                                                        <td>{{info1.eStatus}}</td>
                                                        <td>{{info1.eorder}}</td>
                                                        <td>{{info1.edate}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            </div>
                                                  </div>
                                   
                                </div>
                            </div>

                        </div>
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="assets/js/tableHeadFixer.js"></script>








