﻿<style>
    .sortorder:after {
        content: '\25b2';
    }

    .sortorder.reverse:after {
        content: '\25bc';
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Employee Experience"| translate }}</span> </h3>
            </div>
            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="grid-body no-border">
                <div ng-show="table">
                    <div class="row form-row">
                        <div class="col-md-6">
                            <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                <option value="10" class=" form-control input-sm">
                                10
                            </option>

                            <option value="15" class=" form-control input-sm">
                                15
                            </option>

                             <option value="All" class=" form-control input-sm">
                                All
                            </option>
                            </select>
                            &nbsp;
                            <button class="btn btn-success btn-cons btn-small" type="button" id="designew" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate }}</button>
                            &nbsp;
                            <button class="btn btn-danger btn-cons btn-small" type="button" ng-click="OkDelete()"><span class="semi-bold"></span>{{"Delete"| translate }}</button>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <div class="dataTables_filter" id="example_filter">
                                    <span class="k-textbox k-space-right full-width">
                                        <input type="text" aria-controls="example" ng-model="searchText" placeholder="Emp No/Name/Comapny" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                        <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                    </span>                        
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-hover table-condensed" id="fixTable">
                                    <thead style="background-color: white">
                                        <tr style="background-color: #edefef">
                                            <th class="small-cell v-align-middle" style="z-index: 1">
                                                <div class="checkbox check-success">
                                                    <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                                    <label for="mainchk"></label>
                                                </div>
                                            </th>

                                            <th class="semi-bold" ng-click="sortBy('company_name')">
                                                <b>{{"Company Name"| translate }}</b>
                                                <span class="sortorder" ng-show="propertyName === 'company_name'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th class="semi-bold" ng-click="sortBy('em_login_code')">
                                                <b>{{"Employee No."| translate }}</b>
                                                <span class="sortorder" ng-show="propertyName === 'em_login_code'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th class="semi-bold" ng-click="sortBy('em_emp_full_name')">
                                                <b>{{"Employee Name"| translate }}</b>
                                                <span class="sortorder" ng-show="propertyName === 'em_emp_full_name'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th class="semi-bold" ng-click="sortBy('em_previous_job_company')">
                                                <b>{{"Previous Job Company"| translate }}</b>
                                                <span class="sortorder" ng-show="propertyName === 'em_previous_job_company'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th class="semi-bold" ng-click="sortBy('em_previous_job_title')">
                                                <b>{{"Previous Job Title"| translate }}</b>
                                                <span class="sortorder" ng-show="propertyName === 'em_previous_job_title'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th class="semi-bold" ng-click="sortBy('em_previous_job_responsibilities')">
                                                <b>{{"Responsibilities"| translate }}</b>
                                                <span class="sortorder" ng-show="propertyName === 'em_previous_job_responsibilities'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th class="semi-bold" ng-click="sortBy('em_previous_job_remark')">
                                                <b>{{"Remark"| translate }}</b>
                                                <span class="sortorder" ng-show="propertyName === 'em_previous_job_remark'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th class="semi-bold">
                                                <b>{{"Total Experience"| translate }}</b>                                                
                                            </th>
                                            <th class="semi-bold" ng-click="sortBy('em_previous_job_status')">
                                                <b>{{"Status"| translate }}</b>
                                                <span class="sortorder" ng-show="propertyName === 'em_previous_job_status'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th class="semi-bold">
                                                <label><i class="fa fa-cogs"></i></label>
                                            </th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="j in filteredTodos | orderBy:propertyName:reverse" ng-class="row1">
                                            <td>
                                                <div class="row-fluid">
                                                    <div class="checkbox check-success" style="height: 20px">
                                                        <input id="{{j.em_login_code+$index}}" type="checkbox" value="1" ng-click="checkonebyonedelete()">
                                                        <label for="{{j.em_login_code+$index}}"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <label id="lbl">{{j.company_name}}</label>
                                            </td>
                                            <td>
                                                <label id="Label5">{{j.em_login_code}}</label>
                                            </td>
                                            <td>
                                                <label id="Label3">{{j.em_emp_full_name}}</label>
                                            </td>
                                            <td>
                                                <label id="Label10">{{j.em_previous_job_company}}</label>
                                            </td>
                                            <td>
                                                <label id="Label11">{{j.em_previous_job_title}}</label>
                                            </td>
                                            <td>
                                                <label id="Label16">{{j.em_previous_job_responsibilities}}</label>
                                            </td>                                            
                                            <td>
                                                <label id="Label17">{{j.em_previous_job_remark}}</label>
                                            </td>
                                            <td>
                                                <label id="Label16">{{j.total_experience}}</label>
                                            </td>
                                            <td class="v-align-middle">

                                                <span class="label label-success" ng-if="j.em_previous_job_status==true">{{"Active"| translate }}</span>
                                                <span class="label label-important" ng-if="j.em_previous_job_status==false">{{"In active"| translate }}</span>

                                            </td>

                                            <td>
                                                <button ng-click="edit(j)"><i class="fa fa-edit"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                            ng-click="index(currentPage)">
                                    </paging>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div ng-show="display">
                    <form name="Myform" ng-submit="savedata(Myform.$valid)" novalidate="novalidate">

                        <div class="row">
                            <div class="col-md-2" ng-class="{'has-error': !Myform.empsrch.$valid && (Myform.empsrch.$touched || Myform.$submitted) }">
                                <label id="Label1" for="txt_Nationality_Code" class="form-label">{{"Employee Number"| translate }}<span class="text-red">*</span></label>
                                <input type="text" class="k-textbox input-sm full-width" id="Text28" ng-readonly="searchText" ng-keypress="searchEmp($event);" name="empsrch" ng-model="temp.enroll_number" required>
                                <p class="help-block" ng-show="Myform.empsrch.$error.required &&  (Myform.empsrch.$touched || Myform.$submitted)">
                                    {{"This field is required"| translate }}
                                </p>
                            </div>

                            <div class="col-md-1" ng-class="{'has-error': !Myform.company_name.$valid && (Myform.company_name.$touched || Myform.$submitted) }">
                                <label>&nbsp;</label>
                                <div class="pull-right">
                                    <button type="button" id="Button2" class="btn btn-primary btn-small" ng-disabled="searchBtn" ng-click="globalSearch();">{{"Search"| translate }}</button>
                                </div>
                            </div>

                            <div class="col-md-2" ng-class="{'has-error': !Myform.company_name.$valid && (Myform.company_name.$touched || Myform.$submitted) }">
                                <label id="Label7" for="txt_Nationality_Code" class="form-label">{{"Company Name"| translate }}<span class="text-red">*</span></label>
                                <select id="Select2" name="company_name" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.co_company_code" ng-disabled="disabled" required>
                                    <option value="" selected disabled>Please Select</option>
                                    <option ng-repeat="co in comp_data" value="{{co.co_company_code}}">{{co.co_desc}}</option>
                                </select>
                                <p class="help-block" ng-show="Myform.company_name.$error.required &&  (Myform.company_name.$touched || Myform.$submitted)">
                                    {{"This field is required"| translate }}
                                </p>
                            </div>

                            <div class="col-md-2" ng-class="{'has-error': !Myform.prev_co_name.$valid && (Myform.prev_co_name.$touched || Myform.$submitted) }">
                                <label id="Label8" for="txt_Country_Code" class="form-label">{{"Previous Company Name"| translate }}<span class="text-red">*</span></label>
                                <input type="text" name="prev_co_name" class="k-textbox input-sm full-width" ng-maxlength="100" ng-model="temp.prev_company_name" pattern="[A-Za-z\s]+" required />

                                <p class="help-block" ng-show=" Myform.prev_co_name.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                    {{"Company Name Length Should be Max 100"| translate }}
                                </p>
                                <p class="help-block" ng-show=" Myform.prev_co_name.$error.pattern && (!Myform.$pristine && Myform.$submitted)">
                                    {{"Enter only Characters"| translate }}
                                </p>
                                <p class="help-block" ng-show="Myform.prev_co_name.$error.required &&  (Myform.prev_co_name.$touched || Myform.$submitted)">
                                    {{"This field is required"| translate }}
                                </p>
                            </div>

                            <div class="col-md-2" ng-class="{'has-error': !Myform.job_title.$valid && (Myform.job_title.$touched || Myform.$submitted) }">
                                <label id="Label2" for="txt_Country_Code" class="form-label">{{"Job Title"| translate }} <span class="text-red">*</span></label>
                                <input type="text" name="job_title" class="k-textbox input-sm full-width" ng-maxlength="100" ng-model="temp.prev_job_title" pattern="[A-Za-z\s]+" required />

                                <p class="help-block" ng-show=" Myform.job_title.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                    {{"Job Title Length Should be Max 100"| translate }}
                                </p>
                                <p class="help-block" ng-show=" Myform.job_title.$error.pattern && (!Myform.$pristine && Myform.$submitted)">
                                    {{"Enter only Characters"| translate }}
                                </p>
                                <p class="help-block" ng-show="Myform.job_title.$error.required &&  (Myform.job_title.$touched || Myform.$submitted)">
                                    {{"This field is required"| translate }}
                                </p>
                            </div>

                            <div class="col-md-1" ng-class="{'has-error': !Myform.yr.$valid && (Myform.yr.$touched || Myform.$submitted) }">
                                <label id="Label12" for="txt_Country_Code" class="form-label">{{"From Year"| translate }}<span class="text-red">*</span></label>
                                <input type="text" name="yr" class="k-textbox input-sm full-width" ng-pattern="/[0-9]{1,2}/" ng-maxlength="4" ng-model="temp.from_year" required/>
                                <p class="help-block" ng-show=" Myform.yr.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                    {{"Year Should be Max 4"| translate }}
                                </p>
                                <p class="help-block" ng-show=" Myform.yr.$error.pattern && (!Myform.$pristine && Myform.$submitted)">
                                    {{"Enter only Digit"| translate }}
                                </p>
                                <p class="help-block" ng-show="Myform.yr.$error.required &&  (Myform.yr.$touched || Myform.$submitted)">
                                    {{"This field is required"| translate }}
                                </p>
                            </div>
                            <div class="col-md-2">
                                <label id="Label13" for="txt_Country_Code" class="form-label">{{"Month"| translate }}</label>
                                <select id="Select15" data-role="dropdownlist" class="form-control input-sm full-width"
                                        ng-model="temp.from_month" required ng-selected=""
                                        ng-options="monn.month_Number as monn.month_Name for monn in month_data"></select>
                            </div>
                        </div>


                        <div class="row">

                            <div class="col-md-1" ng-class="{'has-error': !Myform.to_yr.$valid && (Myform.to_yr.$touched || Myform.$submitted) }">
                                <label id="Label4" for="txt_Country_Code" class="form-label">{{"To Year"| translate }}<span class="text-red">*</span></label>
                                <input type="text" name="to_yr" class="k-textbox input-sm full-width" ng-pattern="/[0-9]{1,2}/" ng-maxlength="4" ng-model="temp.to_year" required/>
                                <p class="help-block" ng-show=" Myform.to_yr.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                    {{"Year Should be Max 4"| translate }}
                                </p>
                                <p class="help-block" ng-show=" Myform.to_yr.$error.pattern && (!Myform.$pristine && Myform.$submitted)">
                                    {{"Enter only Digit"| translate }}
                                </p>
                                <p class="help-block" ng-show="Myform.to_yr.$error.required &&  (Myform.to_yr.$touched || Myform.$submitted)">
                                    {{"This field is required"| translate }}
                                </p>
                            </div>
                            <div class="col-md-2">
                                <label id="Label9" for="txt_Country_Code" class="form-label">{{"Month"| translate }}</label>
                                <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width"
                                        ng-model="temp.to_month" required ng-selected=""
                                        ng-options="monn.month_Number as monn.month_Name for monn in month_data"></select>
                            </div>

                            <div class="col-md-3" ng-class="{'has-error': !Myform.resp.$valid && (Myform.resp.$touched || Myform.$submitted) }">
                                <label id="Label6" for="txt_Country_Code" class="form-label">{{"Responsibilities"| translate }}<span class="text-red">*</span></label>
                                <textarea type="text" name="resp" class="k-textbox" style="width: 100%;" ng-maxlength="250" ng-model="temp.prev_job_responsibilities" pattern="[A-Za-z\s]+" required />

                                <p class="help-block" ng-show=" Myform.resp.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                    {{"Responsibilities Description Length Should be Max 250"| translate }}
                                </p>
                                <p class="help-block" ng-show=" Myform.resp.$error.pattern && (!Myform.$pristine && Myform.$submitted)">
                                    {{"Enter only Characters"| translate }}
                                </p>
                                <p class="help-block" ng-show="Myform.resp.$error.required &&  (Myform.resp.$touched || Myform.$submitted)">
                                    {{"This field is required"| translate }}
                                </p>
                            </div>

                            <div class="col-md-3" ng-class="{'has-error': !Myform.rmk.$valid && (Myform.rmk.$touched || Myform.$submitted) }">
                                <label id="Label14" for="txt_Country_Code" class="form-label">{{"Remark"| translate }}<span class="text-red">*</span></label>
                                <textarea type="text" name="rmk" class="k-textbox" style="width: 100%;" ng-maxlength="250" ng-model="temp.prev_job_remark" pattern="[A-Za-z\s]+" required />

                                <p class="help-block" ng-show=" Myform.rmk.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                    {{"Remark Should be Max 250"| translate }}
                                </p>
                                <p class="help-block" ng-show=" Myform.rmk.$error.pattern && (!Myform.$pristine && Myform.$submitted)">
                                    {{"Enter only Characters"| translate }}
                                </p>
                                <p class="help-block" ng-show="Myform.rmk.$error.required &&  (Myform.rmk.$touched || Myform.$submitted)">
                                    {{"This field is required"| translate }}
                                </p>
                            </div>

                            <div class="col-md-2" ng-class="{'has-error': !Myform.salary.$valid && (Myform.salary.$touched || Myform.$submitted) }">
                                <label id="Label18" for="txt_Country_Code" class="form-label">{{"Salary"| translate }}<span class="text-red">*</span></label>
                                <input type="text" name="salary" class="k-textbox input-sm full-width" ng-maxlength="10" ng-model="temp.prev_job_salary" required/>

                                <p class="help-block" ng-show=" Myform.salary.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                    {{"Salary Should be Max 10"| translate }}
                                </p>
                                <p class="help-block" ng-show="Myform.salary.$error.required &&  (Myform.salary.$touched || Myform.$submitted)">
                                    {{"This field is required"| translate }}
                                </p>
                            </div>

                            <div class="col-md-1">
                                <label id="Label19" for="txt_full_name" class="form-label">{{"Status"| translate }}</label>
                                <div class="row-fluid">
                                    <div class="checkbox check-success">
                                        <input id="checkbox1" type="checkbox" ng-model="temp.job_status">
                                        <label for="checkbox1"></label>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-12">
                            <div class="form-actions">
                                <div class="pull-right">
                                    <button type="submit" id="desigsub" ng-show="save_btn" class="btn btn-primary btn-cons btn-small">{{"Save"| translate }}</button>
                                    <button type="button" ng-show="Update_btn" ng-click="update(Myform.$valid);" class="btn btn-primary btn-cons btn-small">{{"Update"| translate }}</button>
                                    <button type="button" class="btn btn-danger btn-small btn-cons" ng-click="Cancel();">{{"Cancel"| translate }}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Div1">
    <div class="modal-dialog" id="Div3" style="width: 300px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="semi-bold pull-left">{{"Message"| translate }}</h5>
                <br />
            </div>
            <div class="modal-body">
                <br />
                <label>{{msg1.strMessage}}</label>
                <br />
            </div>
            <div class="modal-footer" style="height: 60px">
                <button type="button" class="btn btn-primary btn-cons btn-small" data-dismiss="modal" ng-click="maindata();">{{"Ok"| translate }}</button>
            </div>
        </div>
    </div>
</div>
<!--<script src="assets/js/tableHeadFixer.js"></script>-->
<script src="assets/js/add-ng-disabled.js"></script>