﻿<style>
    #content_data {
        margin-right: 4px;
        margin-left: 4px;
    }
    </style>
<div class="row form-row paddingcode" style="background-color: white">
    <div class="page-title">
        <h3><span class="semi-bold">{{"Employee Leave Policy"| translate }}</span> </h3>
    </div>

    <div ng-show="beforeTable" style="background-color: white">
        <div class="col-md-6" style="margin-top:21px; margin-left:9px;">
            <div class="pull-left">
                <select id="Select1" style="width: 75px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                    <option value="10" class="form-control input-sm">
                        10
                    </option>

                    <option value="20" class="form-control input-sm">
                        20
                    </option>

                    <option value="All" class="form-control input-sm">
                        All
                    </option>
                </select>
            </div>
            &nbsp;
            <button class="btn btn-success btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{ "New" | translate }}</button>
            &nbsp;
            <button class="btn btn-danger btn-small" type="button" ng-click="deleteReords()"><span class="semi-bold"></span>{{ "Delete" | translate }}</button>
        </div>
        <div class="col-md-6" style="margin-left:-32px; margin-top:21px;">
            <div class="pull-right">
                <div class="dataTables_filter" id="example_filter">
                    <span class="k-textbox k-space-right full-width">
                        <input type="text" aria-controls="example" ng-model="searchText" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search(searchText)">
                        <a href="#" class="k-icon k-i-search">&nbsp;</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="dataTables_wrapper form-inline">
            <div class="grid-body-no-border paddingcode">
            <div class="row margin-top">
                <div class="col-md-12"style="margin-top:-6px;">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead style="background-color: white">
                            <tr style="background-color: #edefef">
                                <th class="small-cell v-align-middle" style="z-index: 1">
                                    <div class="checkbox check-success">
                                        <input type="checkbox" name="check" value="1" id="mainchk"  ng-click="CheckAllChecked();">
                                        <label for="mainchk"></label>
                                    </div>
                                </th>
                                <th><i class="fa fa-bookmark-o"></i>&nbsp;{{"Staff Type"| translate }}</th>
                                <th><i class="fa fa-dashboard"></i>&nbsp;{{"Leave Code"| translate }}</th>
                                <th><i class="fa fa-align-justify"></i>&nbsp;{{"Combination Of Leave"| translate}}</th>
                                <th><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Monthly Allowed"| translate }}</th>
                                <th><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Termly Allowed"| translate }}</th>
                                <th><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Yearly Allowed"| translate }}</th>
                                <th><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Max Leave"| translate }}</th>
                                <th><i class="fa fa-calendar"></i>&nbsp;{{"Effective From"| translate }}</th>
                                <th><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Prefix Holiday"| translate }}</th>                                  
                                <th><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Post Holiday"| translate }}</th>                                  
                                <th><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Prefix Weekend"| translate }}</th>                                  
                                <th><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Post Weekend"| translate }}</th>                                  
                                <th><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Combination of Holiday And Weekend"| translate }}</th>                                                                                              
                                <th><i class="fa fa-bookmark"></i>&nbsp;{{"Policy Status"| translate }}</th>                                                                                              
                                <th class="semi-bold">
                                    <label>
                                        <i class="fa fa-cogs"></i>
                                    </label>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="f in emplleave | orderBy:orderByField:reverseSort">
                                <td>
                                    <div class="row-fluid">
                                        <div class="checkbox check-success" style="height:20px">
                                            <input id="helt-{{$index}}" type="checkbox" value="1" ng-click="checkonebyonedelete()">
                                            <label for="helt-{{$index}}"></label>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <label id="lblCompany_Name">{{f.staff_type_dec}}</label>
                                </td>
                                <td>
                                    <label id="lblformula_name">{{f.lCode}}</label>
                                </td>
                                <td>
                                    <label id="lblPay_code">{{f.combination_leave_Desc}}</label>
                                </td>
                                <td style="text-align:center;">
                                    <label id="lblPercantage" >{{f.monthly_allowed}}</label>
                                </td>
                                <td style="text-align:center;">
                                    <label id="lblMonth" >{{f.termly_allowed}}</label>
                                </td>
                                <td style="text-align:center;" >
                                    <label id="lblOperator">{{f.yearly_allowed}}</label>
                                </td>
                                <td style="text-align:center;">
                                    <label id="lblOperator" >{{f.max_leave_per_Application}}</label>
                                </td>
                                <td style="text-align:center;">
                                    <label id="lblOperator">{{f.pays_empl_leave_policy_effective_from}}</label>
                                </td>
                                <td >
                                    <label id="lblOperator" >{{f.is_prefix_holiday_allowed}}</label>
                                </td>
                                <td style="text-align:center;">
                                    <label id="lblOperator" >{{f.post_holiday_allowed}}</label>
                                </td>
                                <td style="text-align:center;">
                                    <label id="lblOperator" >{{f.prefix_weekend_allowed}}</label>
                                </td>
                                <td style="text-align:center;">
                                    <label id="lblOperator" >{{f.post_weekend_allowed}}</label>
                                </td>
                                <td style="text-align:center;">
                                    <label id="lblOperator" >{{f.combination_of_holiday_and_weekend_allowed}}</label>
                                </td>
                                <td style="text-align:center;">
                                    <label id="lblOperator" ng-if="f.pays_empl_leave_policy_status == 'Yes'"> Active</label>
                                    <label id="lblOperator" ng-if="f.pays_empl_leave_policy_status == 'No'"> In Active</label>
                                </td>
                                <td>
                                    <a href=""><i class="fa fa-edit" ng-click="edit(f)"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
                </div>
        </div>

    </div>
    <div ng-show="user_data">
        <form name="Myform" novalidate="novalidate" style="margin-left:9px; margin-top:20px;">
            <div class="row">
                <div class="col-md-3">
                    <div ng-class="{'has-error': !myForm.cmb_staff_type.$valid && (myForm.cmb_staff_type.$touched || myForm.$submitted) }">
                        <label class="form-label-sm"><i class="fa fa-bookmark-o"></i>&nbsp;{{ "Staff Type" | translate }} <span class="asterisk" style="color: red">*</span></label>
                        <select id="cmb_staff_type" name="cmb_staff_type" data-role="dropdownlist" class="form-control input-sm full-width" required ng-model="temp.staff_code"
                                ng-options="item2.staff_code as item2.staff_type for item2 in stafftype_data" ng-disabled="div_leave">
                            <option value="">Please Select</option>
                        </select>
                    </div>
                    <div class="error-container"
                         ng-show="myForm.cmb_staff_type.$dirty && myForm.cmb_staff_type.$invalid || myForm.$submitted">
                        <small class="help-block"
                               ng-show="myForm.cmb_staff_type.$error.required && (myForm.cmb_staff_type.$touched || myForm.$submitted)">
                            {{"This Field is required" | translate }}
                        </small>
                    </div>
                </div>
                <div class="col-md-3">
                    <label id="lblLeaveCode" class="form-label semi-bold ng-binding">
                        <i class="fa fa-dashboard"></i>&nbsp;{{"Leave Code"| translate }}
                        <span class="asterisk" style="color: red">*</span>
                    </label>
                    <select id="cmb_leave_type" name="cmb_leave_type" data-role="dropdownlist" class="form-control input-sm full-width" ng-change="selectedValue()" required ng-model="temp.new_le_leave_code"
                            ng-options="item2.le_leave_code as item2.cl_desc for item2 in leaveCode_data" ng-disabled="div_leave">
                        <option value="">Please Select</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label id="lblcombination" class="form-label semi-bold ng-binding">
                        <i class="fa fa-align-justify"></i>&nbsp;{{"Combination Of Leave"| translate }}

                    </label>
                    <select id="combinationLeave" multiple="multiple" class="form-control input-sm full-width" ng-model="temp.le_leave_code">
                        <option class="form-control input-sm" ng-repeat="comb in comb_leave" value="{{comb.le_leave_code}}">{{comb.cl_desc}}</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label id="lblmonthly" class="form-label semi-bold ng-binding">
                        <i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Monthly Allowed"| translate }}
                    </label>
                    <input type="text" name="monthlyallowed" class="k-textbox input-sm full-width" maxlength="50" ng-model="temp.monthly_allowed" autofocus="autofocus" ng-change="checkMonthlyAllowedLeave();"/>
                </div>               
            </div>
            <div class="row">

            </div>
            <div class="row">
                <div class="col-md-3">
                    <label id="lbltermly" class="form-label semi-bold ng-binding">
                        <i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Termly Allowed"| translate }}

                    </label>
                    <input type="text" name="termlyallowed" class="k-textbox input-sm full-width" maxlength="50" ng-model="temp.termly_allowed" autofocus="autofocus" ng-change="checkTermlyAllowedLeave();"/>
                </div>
                <div class="col-md-3">
                    <label id="lblyearly" class="form-label semi-bold ng-binding">
                        <i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Yearly Allowed"| translate }}

                    </label>
                    <input type="text" name="yearlyallowed" class="k-textbox input-sm full-width" maxlength="50" ng-model="temp.yearly_allowed" autofocus="autofocus" ng-change="checkYearlyAllowedLeave();"/>
                </div>
                <div class="col-md-3">
                    <label id="lblmaxLeave" class="form-label semi-bold ng-binding">
                        <i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Max Leave Per Application"| translate }}

                    </label>
                    <input type="text" name="maxleaveapp" class="k-textbox input-sm full-width" maxlength="50" ng-model="temp.max_leave_application" autofocus="autofocus" />
                </div>
                <div class="col-md-3">
                    <label id="lblmaxLeave" class="form-label semi-bold ng-binding">
                        <i class="fa fa-calendar"></i>&nbsp;{{"Effective From Date"| translate }}
                    </label>
                    <input id="dp_start_date" type="text" name="dp_start_date" placeholder="Select Date" class="k-textbox input-sm full-width" ng-model="temp.pays_empl_leave_policy_effective_from">
                </div>
             
            </div>         
            <div class="row">
                <div class="col-md-3">
                    <label id="lblcombination" class="form-label semi-bold ng-binding">
                        <i class="fa fa-align-justify"></i>&nbsp;{{"Sandwhich Policy"| translate }}
                    </label>
                </div>
                <div class="col-md-3">
                    <div class="checkbox check-success">
                        <input id="pre_holiday" type="checkbox" ng-model="temp.pre_holiday">
                        <label for="pre_holiday">{{"Prefix Holiday Allowed"|translate}}</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox check-success">
                        <input id="post_holiday" type="checkbox" ng-model="temp.post_holiday">
                        <label for="post_holiday">{{"Post Holiday Allowed"| translate }}</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox check-success">
                        <input id="pre_weekend" type="checkbox" ng-model="temp.pre_weekend">
                        <label for="pre_weekend">{{"Prefix Weekend Allowed"| translate }}</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox check-success">
                        <input id="post_weekend" type="checkbox" ng-model="temp.post_weekend">
                        <label for="post_weekend">{{"Post Weekend Allowed"| translate }}</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox check-success">
                        <input id="comb_holiday_weekend" type="checkbox" ng-model="temp.comb_holiday_weekend">
                        <label for="comb_holiday_weekend">{{"Combination of Holiday And Weekend Allowed"| translate }}</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox check-success">
                        <input id="leave_polciy_status" type="checkbox" ng-model="temp.pays_empl_leave_policy_status">
                        <label for="leave_polciy_status">{{"Leave Policy Status"| translate }}</label>
                    </div>
                </div>
            </div>          
         
            <div class="row" style="text-align:right;">
                
                <div class="form-actions"style="margin-left: -14px;margin-right: -4px;margin-bottom: -10px;">
                    <div class="col-md-12">
                        <button class="btn btn-primary btn-small" type="button" ng-hide="save_btn" ng-click="addFunction()"><i class="icon-ok"></i>{{"Submit"| translate }}</button>
                        <button class="btn btn-primary btn-small" type="button" ng-hide="update_btn" ng-click="UpdateFunction()"><i class="icon-ok"></i>{{"Update"| translate }}</button>
                        <button class="btn btn-primary btn-small ng-binding" type="button" ng-click="cancelFunction()" style="background-color:#fbb05e;">{{"Reset"| translate }}</button>
                        <button class="btn btn-danger btn-small" type="button" ng-click="cancel()">{{"Cancel"| translate }}</button>
                    </div>
                    </div>

                </div>
        </form>
    </div>
</div>

<script src="assets/js/calender-datepicker-id.js"></script>
