﻿<div class="loading-middle" ng-hide="display">
    <img src="loading.gif" />
</div>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="page-title">
                <h3><span class="semi-bold">{{"Employee Document Upload" | translate }}&nbsp;</span></h3>
            </div>
            <div class="grid-body no-border">
                <form name="myForm" ng-submit="Save(myForm.$valid)" novalidate="novalidate">
                    <div ng-show="EmployeeDataoperation">


                        <div class="row">

                            <div class="col-md-3" ng-class="{'has-error': !myForm.scode.$valid && (myForm.scode.$touched || myForm.$submitted)}">
                                <label id="Label4" for="txt_code" class="form-label">{{"Select Document Code"| translate }}</label>
                                <select name="scode" data-role="dropdownlist" class="form-control input-sm full-width"
                                        ng-model="edt.pays_doc_code" ng-options="doc.pays_doc_code as doc.pays_doc_code for doc in empcode"
                                        ng-change="getempdesc(edt.pays_doc_code)" required></select>
                            </div>

                            <div class="col-md-2">
                                <label id="Label4" for="txt_code" class="form-label">{{"Module"| translate }}</label>
                                <input type="text" id="Text3" name="Module" class="k-textbox input-sm full-width"
                                       ng-model="edt.pays_doc_mod_code" ng-change="(edt.pays_doc_mod_code,'pays_doc_mod_code')" />
                            </div>

                            <div class="col-md-2">
                                <label id="Label4" for="txt_code" class="form-label">{{"Code"| translate }}</label>
                                <input type="text" id="Text3" name="Module"
                                       ng-model="edt.pays_doc_code"
                                       ng-change="(edt.pays_doc_code,'pays_doc_code')"
                                       class="k-textbox input-sm full-width" />
                            </div>
                            <div class="col-md-3">
                                <label id="Label4" for="txt_code" class="form-label">{{"Employee Name"| translate }}</label>
                                <input type="text" id="Text3" name="empname" ng-model="edt.em_first_name" class="k-textbox input-sm full-width" required />
                            </div>
                            <div class="col-md-2 no-padding">
                                <label>&nbsp;</label>
                                <div class="pull-left">
                                    <button class="btn btn-white btn-cons btn-small" type="button" ng-click="searchempdata()">{{"Search Employee"| translate }}</button>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-3" ng-class="{'has-error': !myForm.desc.$valid && (myForm.desc.$touched || myForm.$submitted)}">
                                <label id="Label1" for="txt_code" class="form-label">{{"Description"| translate }}</label>
                                <textarea name="desc" class="k-textbox input-sm full-width" ng-model="edt.pays_doc_desc"></textarea>
                            </div>
                            <div class="col-md-2" ng-class="{'has-error': !myForm.idate.$valid && (myForm.idate.$touched || myForm.$submitted)}">
                                <label id="Label4" for="txt_code" class="form-label">{{"Issue Date"| translate }}</label>
                                <div class="no-padding">
                                    <input type="text" id="issue_date" class="k-textbox input-sm full-width" name="idate" placeholder="Select Date" ng-change="showdate(edt.pays_doc_issue_date,'pays_doc_issue_date')" ng-model="edt.pays_doc_issue_date">
                                    <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                </div>
                            </div>

                            <div class="col-md-2" ng-class="{'has-error': !myForm.edate.$valid && (myForm.edate.$touched || myForm.$submitted)}">
                                <label id="Label4" for="txt_code" class="form-label">{{"Expiry Date"| translate }}</label>
                                <div class="no-padding">
                                    <input type="text" id="expiry_date" class="k-textbox input-sm full-width" name="edate" placeholder="Select Date" ng-change="createdate(edt.pays_doc_expiry_date,edt.pays_doc_expiry_date,'pays_doc_expiry_date')" ng-model="edt.pays_doc_expiry_date">
                                    <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                </div>
                            </div>

                            <div class="col-md-3" ng-class="{'has-error': !myForm.uploaddes.$valid && (myForm.uploaddes.$touched || myForm.$submitted)}">
                                <label id="Label4" for="txt_code" class="form-label">{{"Uploaded"| translate }}</label>
                                <textarea name="uploaddes" class="k-textbox input-sm full-width" ng-src="{{objone.pays_doc_path}}" ng-model="edt.pays_doc_path"></textarea>
                            </div>

                            <div class="col-md-2">
                                <label id="Label8" for="txt_full_name" class="form-label">{{"Status"| translate }}</label>
                                <div class="checkbox check-success">
                                    <input id="chk_term" type="checkbox" ng-model="edt.pays_doc_status">
                                    <label for="chk_term"></label>
                                </div>
                            </div>

                        </div>



                        <div class="">
                            <div class="col-md-12">
                                <div class="form-actions">
                                    <div class="pull-right">
                                        <button class="btn btn-primary btn-cons btn-small" type="submit" ng-show="savebtn"><i class="icon-ok"></i>{{"Save"| translate }}</button>
                                        <button class="btn btn-primary btn-cons btn-small" type="button" ng-show="updatebtn" ng-click="Update()"><i class="icon-ok"></i>{{"Update"| translate }}</button>
                                        <button class="btn btn-white btn-cons btn-small" type="button" ng-show="deletebtn" ng-click="deleterecord()"><i class="icon-ok"></i>{{"Delete"| translate }}</button>
                                        <button class="btn btn-primary btn-cons btn-small" type="button" ng-show="uploadbtn" ng-click="Upload()"><i class="icon-ok"></i>{{"Upload"| translate}}</button>
                                        <button class="btn btn-white btn-cons btn-small" type="button" ng-click="cancel()">{{"Cancel"| translate }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div ng-show="EmployeeDetail">
                    <div class="row form-row">
                        <div class="col-md-6">
                            <select id="Select12" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                <option value="5" class="k-textbox" style="width: 100%;">
                                    5
                                </option>

                                <option value="10" class="k-textbox" style="width: 100%;">
                                    10
                                </option>

                                <option value="15" class="k-textbox" style="width: 100%;">
                                    15
                                </option>
                            </select>

                            &nbsp;
                            <button class="btn btn-success btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate}}</button>
                            &nbsp;

                            <button class="btn btn-white btn-small" type="button" ng-click="deleterecord()" ng-readonly="deletee"><span class="semi-bold"></span>{{"Delete"| translate}}</button>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <div class="dataTables_filter" id="Div1">
                                    <label>
                                        {{"Search by Serial Number"| translate}}  &nbsp;
                                        <input type="text" aria-controls="example" ng-model="searchText" class="k-textbox input-sm" ng-change="search();">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-striped table-condensed" id="example">
                                    <thead style="background-color: white">
                                        <tr>

                                            <td class="small-cell v-align-middle">
                                                <div class="checkbox check-success">
                                                    <input type="checkbox" name="check" value="1" id="all_chk" ng-click="check_all();">
                                                    <label for="all_chk"></label>
                                                </div>
                                            </td>
                                            <td class="semi-bold">{{"CODE"| translate }}</td>
                                            <td class="semi-bold">{{"MODULE"| translate }}</td>
                                            <td class="semi-bold">{{"SERIAL NO"| translate }}</td>
                                            <td class="semi-bold">{{"DESCRIPTION"| translate}}</td>
                                            <td class="semi-bold">{{"UPLOADED"| translate}}</td>
                                            <td class="semi-bold">{{"ISSUE DATE"| translate}}</td>
                                            <td class="semi-bold">{{"EXPIRY DATE"| translate}}</td>
                                            <td class="semi-bold">{{"STATUS"| translate}}</td>
                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="objone in filteredTodos">
                                            <td class="small-cell v-align-middle">
                                                <div class="row-fluid" style="height: 20px">
                                                    <div class="checkbox check-success">
                                                        <input type="checkbox" value="1" id="{{objone.pays_doc_mod_code+$index}}" ng-click="check_once()">
                                                        <label for="{{objone.pays_doc_mod_code+$index}}"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{objone.pays_doc_code}}</td>
                                            <td>{{objone.pays_doc_mod_code}}</td>
                                            <td>{{objone.pays_doc_srno}}</td>
                                            <td>{{objone.pays_doc_desc}}</td>
                                            <td>{{objone.pays_doc_path}}</td>
                                            <td>{{objone.pays_doc_issue_date}}</td>
                                            <td>{{objone.pays_doc_expiry_date}}</td>


                                            <td class="v-align-middle">
                                                <span ng-if="objone.pays_doc_status==true" class="label label-success">Active</span>
                                                <span ng-if="objone.pays_doc_status==false" class="label label-important">In active</span>
                                            </td>

                                        </tr>

                                    </tbody>

                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                            ng-click="index(currentPage)">
                                    </paging>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" ng-show="SearchEmpList" id="SearchEmpList" role="dialog" style="display: none;">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 1000px;">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header ng-scope">
                <div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title custom-font" style="margin-top: -5px;"><b>{{"Search Employee"| translate }}</b></h4>
                </div>
            </div>

            <div class="grid simple">
                <div class="grid-body no-border">

                    <div class="row">

                        <div class="row form-row">
                            <div class="col-md-12">
                                <label>
                                    {{"Search By all Field Name"| translate}}  &nbsp;
                                    <input type="text" aria-controls="example" ng-model="searchText" class="k-textbox input-sm" ng-change="search();">
                                </label>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">



                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <div>
                                                <button type="button" class="btn btn-primary btn-small" ng-click="SearchEmployee();">{{"Search" | translate }}</button>
                                                <button type="button" class="btn btn-primary btn-small" ng-click="Reset();">{{"Reset" | translate }}</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row form-row">

                                        <div class="col-md-12">
                                            <label>&nbsp;</label>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row" ng-show="busy">
                            <div class="col-md-12">
                                <div class="row form-row">
                                    <div class="col-md-5">
                                    </div>
                                    <div class="col-md-2">
                                        <img src="assets/theme/img/loading.gif" />


                                    </div>
                                    <div class="col-md-5">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div ng-show="searchemp">
                                <div id="Div3" class="dataTables_wrapper form-inline">
                                    <div style="width: 100%; height: 350px; overflow-x: auto; overflow-y: auto">
                                        <table class="table table-bordered table-condensed" id="Table3" aria-describedby="example2_info">
                                            <thead>
                                                <tr>
                                                    <th class="semi-bold">{{"User Name"|translate}}</th>
                                                    <th class="semi-bold">{{"Employee Number"|translate}}</th>
                                                    <th class="semi-bold">{{"Employee Name"|translate}}</th>
                                                    <th class="semi-bold">{{"Mobile Number"|translate}}</th>
                                                    <th class="semi-bold">{{"Email Id"|translate}}</th>
                                                    <th class="semi-bold">{{"Employee Status"|translate}}</th>
                                                    <th class="semi-bold">{{"Actions"|translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                <tr ng-repeat="obj in filteredTodos">

                                                    <td>{{obj.em_login_code}}</td>
                                                    <td>{{obj.em_number}}</td>
                                                    <td><p>{{obj.fullname}}</p></td>

                                                    <td>{{obj.em_mobile}}</td>
                                                    <td>{{obj.em_email}}</td>
                                                    <td>{{obj.em_status}}</td>
                                                    <td><button class="btn btn-success btn-small" type="button" ng-click="Add(obj)"><span class="semi-bold">+&nbsp;</span>{{"Add"| translate}}</button></td>

                                                </tr>
                                            </tbody>
                                        </table>


                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row form-row">
                                            <div class="pull-right">
                                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                                        ng-click="index(currentPage)">
                                                </paging>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="assets/js/add-ng-disabled.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>
<!--<script src="assets/js/tableHeadFixer.js"></script>-->
