﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3>{{ "Employee Offer Letter" | translate }}<span class="semi-bold"></span></h3>
            </div>
            <div class="grid-body no-border">
               
                <div ng-show="grid">
                    <div class="row">
                        <div class="col-md-12">                            
                            <!--<div class="col-md-2">
                                <label>{{"Designation"| translate }}</label>                             
                                <select id="Select4" class="form-control input-sm full-width" name="user" ng-model="temp.dg_code">
                                    <option value="" selected disabled>Please Select</option>
                                    <option class="form-control input-sm" ng-repeat="deg in designation" value="{{deg.em_desg_code}}">{{deg.em_desg_desc}}</option>
                                </select>
                            </div>-->
                            <div class="col-md-3">
                                <label style="font-size:small;color:black">{{"Vacancy"| translate }}</label>
                                <select name="desig" data-role="dropdownlist" class="form-control input-sm full-width" id="Select8" style="width: 100%" ng-model="temp.pays_vacancy_id">
                                    <option value="" selected disabled>Please select</option>
                                    <option ng-repeat="vac in vacancys" value="{{vac.pays_vacancy_id}}" class="form-control input-sm">
                                        {{vac.pays_vacancy_roles}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label style="font-size:small;color:black">
                                    {{"Application From"| translate }}
                                </label>
                                <input name="dob" id="dob" class="k-textbox input-sm full-width" ng-model="temp.app_from_date"/>                               
                            </div>
                            <div class="col-md-2">
                                <label style="font-size:small;color:black">
                                    {{"Application To"| translate }} 
                                </label>
                                <input type="text" id="DOJ" name="doj" class="k-textbox input-sm full-width" ng-model="temp.app_to_date"/>                                
                            </div>
                            <div class="col-md-2">
                                <label>&nbsp;</label>
                                <button type="button" class="btn btn-primary btn-small"  ng-click="Show_Data()">{{"Show"|translate}}</button>
                                <button type="button" class="btn btn-danger btn-small" ng-click="reset()">{{"Reset"|translate}}</button>
                            </div>
                        </div>

                    </div>
                    <div class="row form-row">
                        <div class="col-md-6">
                            <div class="pull-left">
                                <select id="Select1" style="width: 65px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                    <option value="10" class="form-control input-sm">
                                        10
                                    </option>

                                    <option value="20" class="form-control input-sm">
                                        20
                                    </option>

                                    <option value="All" class="form-control input-sm">
                                        All
                                    </option>
                                    <!-- <option value="{{x.val}}" class=" form-control input-sm" ng-repeat="x in countData">
                                         {{x.data}}
                                     </option>-->

                                </select>
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <div class="dataTables_filter" id="example_filter">
                                    <span class="k-textbox k-space-right full-width">
                                        <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                        <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="example_wrapper" class="dataTables_wrapper form-inline" ng-show="showTable">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- <table class="table table-hover table-striped  no-more-tables">-->
                                <table class="table table-hover table-bordered table-condensed" id="fixedtable">
                                    <thead>
                                        <tr style="background-color: #e9e4e4">
                                            <!--<th class="small-cell v-align-middle" style="z-index:999">
                                                <div class="checkbox check-success">
                                                    <input type="checkbox" name="check" value="1" id="mainchk" ng-click="CheckAllChecked();">
                                                    <label for="mainchk"></label>
                                                </div>
                                            </th>-->
                                            <th ng-click="orderByField='applicant_id'; reverseSort = !reverseSort">
                                                <b>{{"Applicant Id" | translate }}</b>
                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                            </th>
                                            <th ng-click="orderByField='name'; reverseSort = !reverseSort">
                                                <b>{{"Name" | translate }}</b>
                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                            </th>
                                            <th><b>{{"DOB" | translate }}</b></th>
                                            <th><b>{{"Expected Join Date" | translate }}</b></th>
                                            <th><b>{{"Designation" | translate }}</b></th>
                                            <th><b>{{"Email" | translate }}</b></th>
                                            <th><b>{{"Mobile" | translate }}</b></th>
                                            <th><b>{{ "Role" | translate }}</b></th>
                                            <th><b>{{ "Application Date" | translate }}</b></th>   
                                            <th><b>{{ "Offer Letter Doc" | translate }}</b></th>     
                                            <th><b>{{ "Show On Recruitment" | translate }}</b></th>                                            
                                            <th class="small-cell v-align-middle"><b><i class="fa fa-cogs"></i></b></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="empoff in filteredTodos| orderBy:orderByField:reverseSort" ng-class="row1">
                                            <!--<td>
                                                <div class="checkbox check-success" style="height: 20px">
                                                    <input type="checkbox" name="check" value="1" id="test-{{$index}}" ng-click="checkonebyonedelete()">
                                                    <label for="test-{{$index}}">
                                                    </label>
                                                </div>
                                            </td>-->
                                            <td>
                                                <div>{{empoff.em_applicant_id}}</div>
                                            </td>
                                            <td>
                                                <div>{{empoff.emp_name}}</div>
                                            </td>
                                            <td>
                                                <div>{{empoff.em_date_of_birth}}</div>
                                            </td>
                                            <td>
                                                <div>{{empoff.em_expected_date_of_join}}</div>
                                            </td>
                                            <td>
                                                <div>{{empoff.dg_desc}}</div>
                                            </td>
                                            <td>
                                                <div>{{empoff.em_email}}</div>
                                            </td>
                                            <td>
                                                <div>{{empoff.em_mobile}}</div>
                                            </td>
                                            <td>
                                                <div>{{empoff.pays_vacancy_roles}}</div>
                                            </td>
                                            <td>
                                                <div>{{empoff.em_application_date}}</div>
                                            </td>
                                            <td>
                                                <div><a href="" ng-click="downloaddoc(empoff.offer_letter_doc)">{{empoff.offer_letter_doc}}</a> </div>
                                            </td>
                                            <td>
                                                <div><div class="checkbox check-success" style="height: 20px">
                                                        <input type="checkbox" name="check" value="1" id="test-{{$index}}" ng-click="showOnRecruitment(empoff)" ng-model="empoff.em_offer_letter_show_flag">
                                                        <label for="test-{{$index}}">
                                                        </label>
                                                    </div>
                                                </div>
                                            </td>
                                             
                                            <td style="width:19%;">
                                                <button class="btn btn-small btn-primary" ng-click="showPrepareModal(empoff);">Prepare</button>
                                                <button class="btn btn-small btn-warning" ng-click="UploadFileModal(empoff);">Upload</button>
                                                <button class="btn btn-small btn-success" ng-click="SendEmail(empoff);">Send Email</button>                                                
                                                <!--<button class="btn btn-small btn-info" ng-click="showOnRecruitment(empoff);">Show on Recruitment</button>-->
                                            </td>                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right" ng-show="pager">
                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                            ng-click="index(currentPage)">
                                    </paging>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


       <div class="modal fade" id="viewdashDetailsModal" ng-style="style">
            <!--tabindex="-1"-->
            <div class="modal-dialog" id="Div20" style="width: 100%">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="Cancel()"><span aria-hidden="true">&times;</span></button>
                        <h5 class="semi-bold pull-left">{{"Offer Letter Details"| translate }}</h5>
                        <br />
                    </div>
                    <div class="modal-body" style="background-color: white;">
                        <div class="loading" style="font-weight: bold; font-size: 20px; color: black;" ng-hide="display">
                            {{ "Loading..." | translate }}
                        </div>
                        <div class="grid-body no-border">
                            <div class="col-md-12">
                             
                                <div ng-show="div_Communication">
                                    <div id="Div15" class="dataTables_wrapper form-inline">                                        
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="col-md-12">                                                            
                                                            <div class="col-md-12">
                                                                <div class="row form-row">
                                                                    <label class="form-label-sm">{{ "CC To" | translate }}</label>
                                                                    <input style="margin-bottom: 10px; width: 100%" class="k-textbox" ng-model="email.ccTo" style="width: 100%" />
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <label>{{ "Subject" | translate }}</label>
                                                            <input name="formsubject" id="Text1" type="text" class="k-textbox input-sm full-width" placeholder="Subject" ng-model="email.email_subject">
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label class="form-label-sm">{{ "Description" | translate }}</label>
                                                        <div class="grid simple" style="display: -webkit-box; margin-top: 0px;">
                                                            <div class="tools">
                                                                <a href="javascript:;" class="collapse"></a>
                                                                <a href="#grid-config" data-toggle="modal" class="config"></a>
                                                                <a href="javascript:;" class="reload"></a>
                                                                <a href="javascript:;" class="remove"></a>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <textarea id="text-editor" name="editor" data-bind="wysihtml5: $data.ExampleText" required placeholder="Enter text ..." class="k-textbox" rows="8" style="text-align: left; width: 100%" ng-model="email.msgbody"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-6">
                                                        <button class="btn btn-success btn-cons" ng-click="sendMail()"><b>{{"Send Mail" | translate }}</b></button>
                                                        <button class="btn btn-warning btn-cons" ng-click="commnModaldisplay()"><b>{{"Cancel" | translate }}</b></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6" style="margin-top: 18px;">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="col-md-12">
                                                            <div style="width: 100%; height: 300px; overflow-x: auto; overflow-y: auto">
                                                                <table class="table table-bordered table-condensed dataTable" aria-describedby="example2_info">
                                                                    <tr ng-repeat="email in emailId_data" ng-class="row1">
                                                                        <td class="small-cell v-align-middle">
                                                                            <div class="checkbox check-success" style="height: 20px">
                                                                                <input type="checkbox" name="check" value="1" id="chkid" ng-model="email.chk_email">
                                                                                <label for="chkid">
                                                                                </label>
                                                                            </div>
                                                                        </td>
                                                                        <td class="td">
                                                                            {{email.emailid}}
                                                                            &nbsp;&nbsp;<div class="fa fa-times" ng-if="email.emailid!=''" ng-click="CancelEmailId($index)"></div>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="showPrepareModal" ng-style="style">
            <!--tabindex="-1"-->
            <div class="modal-dialog" id="Div20" style="width: 100%">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"  aria-label="Close" ng-click="CancelPrepareModal()"><span aria-hidden="true">&times;</span></button>
                        <h5 class="semi-bold pull-left">{{"Prepare Offer Letter"| translate }}</h5>
                        <br />
                    </div>
                    <div class="modal-body" style="background-color: white;">
                        <!--<div class="loading" style="font-weight: bold; font-size: 20px; color: black;" ng-hide="display">
                            {{ "Loading..." | translate }}
                        </div>-->
                        <div class="grid-body no-border">
                            <div class="col-md-12">

                                   <div id="Div15" class="dataTables_wrapper form-inline">
                                        <div class="row">                                            
                                            <div class="col-md-12">
                                                <div class="col-md-3">
                                                    <label style="font-size:small;color:black">{{"Designation"| translate }}</label>
                                                    <select name="desig" data-role="dropdownlist" class="form-control input-sm full-width" id="Select8" style="width: 100%" ng-model="temp.em_desg_code">
                                                        <option value="" selected disabled>Please select</option>
                                                        <option ng-repeat="desig in obj" value="{{desig.em_Designation_Code}}" class="form-control input-sm" ng-if="desig.em_Designation_Code.length">
                                                            {{desig.em_Designation_name}}
                                                        </option>
                                                    </select>                                                    
                                                </div>
                                               
                                                <div class="col-md-3">
                                                    <label style="font-size:small;color:black">{{"Staff Type"| translate }}</label>
                                                    <select id="Select9" data-role="dropdownlist" class="form-control input-sm full-width" style="width: 100%" ng-model="temp.em_staff_type">
                                                        <option value="" selected disabled>Please select</option>
                                                        <option ng-repeat="staff in obj" value="{{staff.em_Staff_Type_Code}}" class="k-textbox input-sm full-width" ng-if="staff.em_Staff_Type_Code.length">
                                                            {{staff.em_Staff_Type_name}}
                                                        </option>
                                                    </select>
                                                </div>

                                                <div class="col-md-3">
                                                    <label style="font-size:small;color:black">{{"Destination"| translate }}</label>
                                                    <select id="Select11" data-role="dropdownlist" class="form-control input-sm full-width" style="width: 100%" ng-model="temp.em_dest_code">
                                                        <option value="" selected disabled>Please select</option>
                                                        <option ng-repeat="desti in obj" value="{{desti.em_Dest_Code}}" class="k-textbox input-sm full-width" ng-if="desti.em_Dest_Code.length">
                                                            {{desti.em_Dest_name}}
                                                        </option>
                                                    </select>
                                                </div>

                                                <div class="col-md-3">
                                                    <label style="font-size:small;color:black">{{"Grade Name"| translate }}</label>
                                                    <select name="graname" data-role="dropdownlist" class="form-control input-sm full-width" id="Select23" style="width: 100%" ng-model="temp.em_grade_code">
                                                        <option value="" selected disabled>Please select</option>
                                                        <option ng-repeat="grade in obj" value="{{grade.em_Grade_Code}}" ng-if="grade.em_Grade_Code.length">
                                                            {{grade.em_Grade_name}}
                                                        </option>
                                                    </select>                                                    
                                                </div>
                                            </div>
                                        </div>

                                       <div class="row">
                                           <div class="col-md-12">
                                               <div class="col-md-3">
                                                   <label style="font-size:small;color:black">{{"Visa Type"| translate }}</label>
                                                   <select id="Select1" data-role="dropdownlist" class="form-control input-sm full-width" style="width: 100%" ng-model="temp.em_visa_type">
                                                       <option value="" selected disabled>Please select</option>
                                                       <option ng-repeat="visa in obj" value="{{visa.em_visa_type_code}}" class="form-control input-sm" ng-if="visa.em_visa_type.length">
                                                           {{visa.em_visa_type}}
                                                       </option>
                                                   </select>
                                               </div>
                                                
                                               <div class="col-md-3">
                                                   <label style="font-size:small;color:black">
                                                       {{"Contract Start Date"| translate }}
                                                       <span style="color:#5a5c5e;font-size: 10px;">(dd-mm-yyyy)</span>
                                                   </label>                                                   
                                                   <input type="text" id="start_date" name="date" class="k-textbox input-sm full-width" ng-model="temp.em_agreement_start_date">                                                   
                                               </div>

                                               <div class="col-md-3">
                                                   <label style="font-size:small;color:black">
                                                       {{"Contract Expiry Date"| translate }}
                                                       <span style="color:#5a5c5e;font-size: 10px;">(dd-mm-yyyy)</span>
                                                   </label>                                                   
                                                   <input type="text" id="expiry_date2" name="date" class="k-textbox input-sm full-width" ng-model="temp.em_agreement_exp_date">                                                   
                                               </div>

                                               <div class="col-md-3">
                                                   <label style="font-size:small;color:black">{{"Labour Card Number"| translate }}</label>
                                                   <input type="text" class="k-textbox input-sm full-width" ng-maxlength="20" maxlength="20" id="Text41" name="labour_card_no" ng-model="temp.en_labour_card_no">                                                   
                                               </div>

                                           </div>
                                       </div>
                                        <div class="row">
                                           <div class="col-md-12">
                                                <div class="col-md-3">
                                                   <label style="font-size:small;color:black">{{"Probation Period In Days"| translate }}</label>
                                                   <input type="text" class="k-textbox input-sm full-width" ng-maxlength="3" maxlength="3" id="Text4" name="labour_card_no" ng-model="temp.em_probation_period_days" ng-blur="setProbationCompletionReminderDate();">                                                   
                                               </div>
                                                                                       
                                               <div class="col-md-3">
                                                   <label style="font-size:small;color:black">
                                                       {{"Probation Completion Date"| translate }}
                                                       <span style="color:#5a5c5e;font-size: 10px;">(dd-mm-yyyy)</span>
                                                   </label>                                                   
                                                   <input type="text" id="start_date" name="date" class="k-textbox input-sm full-width" ng-model="temp.em_probation_completion_date">                                                   
                                               </div>

                                               <div class="col-md-3">
                                               <!--updated Confirmation date-->
                                                   <label style="font-size:small;color:black">
                                                       {{"Confirmation Date"| translate }}
                                                       <span style="color:#5a5c5e;font-size: 10px;">(dd-mm-yyyy)</span>
                                                   </label>                                                   
                                                   <input type="text" id="start_date" name="date" class="k-textbox input-sm full-width" ng-model="temp.em_probation_confirmation_date">                                                   
                                               </div>
                                             </div>
                                       </div>
                                       <hr>
                                       <div class="row pull-right">
                                           <div class="col-md-12">
                                               <button type="button" class="btn btn-primary btn-small" ng-click="savePreparedInfo();">{{"Save"|translate}}</button>
                                               <button type="button" class="btn btn-success btn-small" ng-click="PrintOfferLetter()">{{"Print Offer Letter"|translate}}</button>
                                               <button type="button" class="btn btn-danger btn-small" ng-click="CancelPrepareModal()">{{"Close"|translate}}</button>
                                           </div>
                                       </div>

                               </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content" id="Div1">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{"Upload File"| translate }}</h4>
                    </div>
                    <div class="modal-body">                        
                        <p>
                            <input type="file" id="file1" name="file" class="form-control" ng-model="edt.employeeDocument" onchange="angular.element(this).scope().file_changed(this)"
                                   ng-files="getTheFiles($files)" />                            
                        </p>
                    </div>

                    <div class="modal-footer">                                             
                        <button class="btn btn-default btn-small" type="submit" ng-click="hideModal();"><i class="icon-ok"></i>{{"OK"| translate }}</button>                        
                        <button type="button" class="btn btn-default btn-small" data-dismiss="modal">Close</button>
                    </div>

                </div>

            </div>
        </div>


    </div>
</div>

<!--<script src="assets/js/add-ng-disabled.js"></script>-->
<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>
<script src="assets/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>
<script src="assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
<script src="assets/plugins/fileSaver.js"></script>
<script src="assets/js/moment.js"></script>



