﻿<style>
    .btnpadding {
    clear: both;
    padding: 7px 7px 7px 7px !important;
}
</style>
<script src="assets/js/jszip.js"></script>
<script src="assets/js/xlsx.js"></script>
<script src="assets/js/xlsx-reader.js"></script>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Employee"| translate}}</span>&nbsp;{{"Attendance Daily" | translate }}</h3>
            </div>
            <div class="grid-body no-border bluegrid paddingcode">
                <div class="row">
                    <div class="col-md-2">
                        <label><i class="fa fa-pencil-square-o"></i>&nbsp;{{"Department"|translate}}</label>
                        <select id="cmb_dep" data-role="dropdownlist" class="form-control input-sm full-width" 
                                name="user" ng-model="edt.dep_code" ng-change="getAcademicyear(d.sims_cur_code)">
                            <option value="" selected disabled>Please Select</option>
                            <option class="form-control input-sm" ng-repeat="d in dep" value="{{d.dep_code}} ">{{d.dep_name}}</option>
                        </select>
                    </div>

                    <div class="col-md-2">
                        <label><i class="fa fa-align-justify"></i>&nbsp;{{"Designation"|translate}}</label>
                        <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.dg_code" ng-change="getConcessionTypes()">
                            <option value="" selected disabled>Please Select</option>
                            <option class="form-control input-sm" ng-repeat="dg in deg" value="{{dg.dg_code}} ">{{dg.dg_name}}</option>
                        </select>
                    </div>                    
                    <div class="col-md-2">
                        <label><i class="fa fa-calendar"></i>&nbsp;{{"From Date"|translate}}</label>
                        <input type="text" id="from_date" placeholder="Select Date" name="from_date" class="k-textbox input-sm full-width" ng-model="edt1.sdate" ng-disabled="editmode">
                    </div>
                    <div class="col-md-2">
                        <label><i class="fa fa-calendar"></i>&nbsp;{{"To Date"|translate}}</label>
                        <input type="text" id="to_date" placeholder="Select Date" name="to_date" class="k-textbox input-sm full-width"  ng-model="edt2.edate" ng-disabled="editmode">
                    </div>

                    <div class="col-md-1 no-padding" ng-show="notShow">
                        <label>&nbsp;&nbsp;</label>
                        <div class="checkbox check-success">
                            <input type="checkbox" name="check" value="1" id="Checkbox8" ng-model="temp.sims_co_scholastic_group_status" ng-click="CheckAllChecked()" />
                            <label for="Checkbox8">{{"Show All"|translate}}</label>
                        </div>
                    </div>
<!--                    <div class="col-md-3">
                        <label>&nbsp;&nbsp;</label>
                        <input type="file" id="file1" name="file" onchange="angular.element(this).scope().file_changed(this)"
                               ng-files="getTheFiles($files)" accept=".xlsx,.xls" required style="float: initial; width: 120px; display: none" />
                        <a href="" class="label label-important " type="button" ng-click="uploadClick()" onclick="document.getElementById('file1').click();">
                            <i class="fa fa-cloud-upload"></i>{{"Upload"|translate}}
                        </a>
                        <a href="" class="label label-success" type="button" ng-click="downloadFormat()">
                            <i class="fa fa-cloud-download"></i>{{"Download Format"|translate}}
                        </a>
                    </div>                   -->
                </div>
                <div class="row">                    
                    <div class="col-md-12">
                        <div class="">                            
                            <div class="row pull-right">
                                <button type="button" class="btn btn-primary btn-small" ng-click="btn_Submit(edt.dep_code,edt.dg_code,edt1.sdate,edt2.edate)">{{"Show"|translate}}</button>
                                <button type="button" class="btn btn-primary btn-cons" ng-click="print()">{{"Print"|translate}}</button>
                                <button type="button" class="btn btn-white btn-small" ng-click="btn_reset_Click()">{{"Reset"|translate}}</button>
                                <button class="btn btn-primary btn-small" type="button" ng-click="Export()">{{"Export"| translate }}</button>

                            </div>
                        </div>                        
                    </div>
                </div>                                            
               
            </div>
             <div class="grid simple" style="background-color:#fff;margin-top:7px;">
                    <div class="row">
                        <div class="col-md-12" ng-show="busy">
                            <div class="col-md-5">
                                &nbsp;
                            </div>

                            <div class="col-md-5">
                                <div class="row">
                                    <img src="assets/images/loading.gif" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="rgvtbl">
                        <div class="">
                            <div class="dataTables_wrapper form-inline" id="rgv">                              
                                <div class="row ">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-2 pull-right">
                                                <label class="form-label semi-bold">&nbsp;</label>
                                                <div class="dataTables_filter" id="example_filter">
                                                    <span class="k-textbox k-space-right full-width">
                                                        <input type="text" aria-controls="example" ng-model="search.$" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1">
                                                        <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                                    </span>
                                                </div>
                                            </div>
                                <!--            <div class="col-md-2 pull-right">
                                                <label class="form-label semi-bold"><i class="fa fa-dashboard"></i>&nbsp;{{"Attendance Code" | translate }}</label>
                                                <select data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.pays_attendance_code">
                                                    <option value="">Please Select</option>
                                                    <option ng-repeat="temp in attendance_codes_obj" value="{{temp.pays_attendance_code}}">{{temp.pays_attendance_description}}</option>
                                                </select>
                                            </div>      -->                                     
                                          </div>
                                        </div>
                                    <div class="col-md-12"  id="fixTable">
                                        
                                <!--<div style="width: 100%; height: 300px; overflow-x: auto; overflow-y: auto">-->
                                    <table class="table  table-hover table-bordered table-condensed" aria-describedby="example2_info" style="width: 100%;">
                                        <thead >
                                            <tr style="background-color: #edefef">
                                             <th style="text-align:left"><b>{{"Sr No"|translate}}</b></th>
                                                                <!--<i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span>-->
                                                <th class="semi-bold"ng-click="sort('att_emp_id')"><i class="fa fa-sort-numeric-asc"></i>&nbsp;<b>{{"Employee ID"| translate }}</b>
                                                                <!--<span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;<i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Employee ID"| translate }}-->
                                                <span class="sortorder" ng-show="colname === 'att_emp_id'"ng-class="{reverse: reverse}"></span>
                                                </th>         

                                                <th class="semi-bold"ng-click="sort('emp_name')"><i class="fa fa-align-justify"></i>&nbsp;<b>{{"Employee Name"| translate }}</b>
                                                <span class="sortorder" ng-show="colname === 'emp_name'"ng-class="{reverse: reverse}"></span>
                                                </th>
                                                <th class="semi-bold"ng-click="sort('att_date')"><i class="fa fa-calendar"></i>&nbsp;<b>{{"Date"| translate }}</b>
                                                    <span class="sortorder" ng-show="colname === 'att_date'"ng-class="{reverse: reverse}"></span></th>

                                                <th class="semi-bold"ng-click="sort('codp_dept_name')"><i class="fa fa-pencil-square-o"></i>&nbsp;<b>{{"Department"| translate }}</b>
                                                <span class="sortorder" ng-show="colname === 'codp_dept_name'"ng-class="{reverse: reverse}"></span>
                                                    </th>
                                                <th  class="semi-bold"ng-click="sort('dg_desc')"><i class="fa fa-align-justify"></i>&nbsp;<b>{{"Section"| translate }}</b></th>
                                                <span class="sortorder" ng-show="colname === 'dg_desc'"ng-class="{reverse: reverse}"></span>
                                                </th>
                                                <th class="semi-bold"ng-click="sort('att_shift1_in')"><i class="fa fa-clock-o"></i>&nbsp;<b>{{"Check IN"| translate }}</b>
                                                <span class="sortorder" ng-show="colname === 'att_shift1_in'"ng-class="{reverse: reverse}"></span>
                                                </th>         
                                                <!--<th class="semi-bold"><i class="fa fa-clock-o"></i>&nbsp;<b>{{"Shift 1 Expected OUT"| translate }}</b></th>-->
                                                <th class="semi-bold"ng-click="sort('att_shift1_out')"><i class="fa fa-clock-o"></i>&nbsp;<b>{{"Check Out"| translate }}</b>
                                                <span class="sortorder" ng-show="colname === 'att_shift1_out'"ng-class="{reverse: reverse}"></span>
                                                </th>
                                                <!--<th ng-show="showShift2Flag" class="semi-bold"><i class="fa fa-clock-o"></i>&nbsp;<b>{{"Shift 2 Expected IN"| translate }}</b></th>-->
                                                <!--<th ng-show="showShift2Flag" class="semi-bold"><i class="fa fa-clock-o"></i>&nbsp;<b>{{"Shift 2 Check IN"| translate }}</b></th>-->
                                                <!-- <th ng-show="showShift2Flag" class="semi-bold"><i class="fa fa-clock-o"></i>&nbsp;<b>{{"Shift 2 Expected OUT"| translate }}</b></th>-->
                                                <!--<th ng-show="showShift2Flag" class="semi-bold"><i class="fa fa-clock-o"></i>&nbsp;<b>{{"Shift 2 OUT"| translate }}</b></th>-->
                                                <th class="semi-bold"ng-click="sort('total_hours')"><i class="fa fa-clock-o"></i>&nbsp;<b>{{"Total Hours"| translate }}</b>
                                                <span class="sortorder" ng-show="colname === 'total_hours'"ng-class="{reverse: reverse}"></span>
                                                </th>
                                                <!-- <th class="semi-bold">{{"CHECK IN DEALY"| translate }}</th>
                                                <th class="semi-bold">{{"CHECK OUT EARLY"| translate }}</th>-->
                                                <th class="semi-bold" ng-click="sort('att_description')"><i class="fa fa-bookmark"></i>&nbsp;<b>{{"Attendance Status"| translate }}</b>
                                                <span class="sortorder" ng-show="colname === 'att_description'"ng-class="{reverse: reverse}"></span>
                                                </th>
                                                <th class="semi-bold" style="width: 100px"><i class="fa fa-bookmark"></i>&nbsp;<b>{{"Remarks"| translate }}</b></th>

                                            </tr>
                                        </thead>

                                      <!--   <thead ng-if="printclick">
                                        <tr style="background-color:#edefef">
                                        <th style="text-align:left"><b>{{"Employee ID"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Employee Name"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Date"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Department"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Section"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Check IN"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Check OUT"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Total Hours"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Attendance Status"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Remarks"|translate}}</b></th>
                                        
                                      
                                    </tr>
                                </thead>-->
                                         
                                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                                            <tr ng-repeat="info in Pers326_Get_attednce_deatils |orderBy:colname:reverse | filter:{leave_code:edt.pays_attendance_code||undefined} | filter:search:strict" class="{{row1}}" style="padding-bottom: 02px !important">
                                               <!-- <td>
                                                    <div class="checkbox check-success" style="height: 20px">
                                                        <input type="checkbox" name="check" value="1" id="test-{{info.att_emp_id}}" ng-model="info.datastatus" ng-click="checkonebyonedelete()">
                                                        <label for="test-{{info.att_emp_id}}">
                                                        </label>
                                                    </div>
                                                </td>-->
                                                <td style="text-align:left" >{{$index+1}}</td>
                                                <td>{{info.att_emp_id}}</td>
                                                <td>{{info.emp_name}}</td>
                                                <td style="white-space: nowrap;">{{info.att_date}}</td>

                                                <!--<td>{{info.expected1In}}</td>-->
                                                <td>{{info.codp_dept_name}} </td>
                                                <td> {{info.dg_desc}}</td>
                                                <td>
                                                    {{info.att_shift1_in}}<br />
                                                    <!--<span class="label label-success" ng-if="info.s1_in == '+'">{{info.att1_in}}</span>-->
                                                    <!--<span ng-if="info.s1_in=='-'" class="label label-important">{{info.att1_in}}</span>-->
                                                    <!--<div ng-style="info.sin == '-' && {'color': 'red'}||info.sin == '+' && {'color': 'green'}">{{info.att_in}}</div>-->
                                                </td>
                                                <!--<td>{{info.expected1Out}}</td>-->
                                                <td>
                                                    {{info.att_shift1_out}}<br />
                                                    <!--<span class="label label-success" ng-if="info.s1_out == '+'">{{info.att1_out}}</span>-->
                                                    <!--<span ng-if="info.s1_out=='-'" class="label label-important">{{info.att1_out}}</span>-->
                                                    <!--<div ng-style="info.sout == '-' && {'color': 'red'}||info.sout == '+' && {'color': 'green'}">{{info.att_out}}</div>-->
                                                </td>

                                                <!--<td ng-show="showShift2Flag" >{{info.expected2In}}</td>-->
                                               <!-- <td ng-show="showShift2Flag" >
                                                    {{info.att_shift2_in}}<br />
                                                    <span class="label label-success" ng-if="info.s2_in == '+'">{{info.att2_in}}</span>
                                                    <span ng-if="info.s2_in=='-'" class="label label-important">{{info.att2_in}}</span>
                                                    <div ng-style="info.sin == '-' && {'color': 'red'}||info.sin == '+' && {'color': 'green'}">{{info.att_in}}</div>
                                                </td>-->
                                                <!--<td ng-show="showShift2Flag" >{{info.expected2Out}}</td>-->
                                             <!--   <td ng-show="showShift2Flag" >
                                                    {{info.att_shift2_out}}<br />
                                                    <span class="label label-success" ng-if="info.s2_out == '+'">{{info.att2_out}}</span>
                                                    <span ng-if="info.s2_out=='-'" class="label label-important">{{info.att2_out}}</span>
                                                 <div ng-style="info.sout == '-' && {'color': 'red'}||info.sout == '+' && {'color': 'green'}">{{info.att_out}}</div>
                                                </td>-->
                                               <td style="white-space: nowrap;">{{info.total_hours}}</td>
                                                
                                                <!--   <td>{{info.att_delay}}</td>
                                                <td>{{info.att_early}}</td>-->

                                                <td>
                                                    <!--<select data-role="dropdownlist" class="form-control input-sm full-width" name="cmb_paycode" ng-model="info.leave_code" style="padding-bottom: 02px !important; width: 150px"
                                                            ng-options="emp.leave_code as emp.leave_name for emp in info.lst_leave">
                                                        <option value="" selected disabled>Please Select</option>
                                                    </select>-->
                                                    {{info.att_description}}
                                                </td>
                                                <td>
                                                    <!--<input type="text" ng-readonly="all" style="width:131px !important;" aria-controls="example" ng-model="info.att_remarks" placeholder="Remarks" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1">-->

                                                       {{info.att_remarks}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                   
                                    </div>
                                </div>
                              <!-- <div class="row">
                                    <div class="col-md-12 btnpadding">
                                <div class="pull-right">
                                    <button class="btn btn-primary btn-small" type="button" ng-click="btn_Employeeupdate_click();">{{"Submit"|translate}}</button>
                                </div>
                                        </div>
                                   </div>-->
                            </div>
                        </div>
                    </div>
                </div>
        </div>
     </div>
 </div>
  <div class="modal fade" id="uploadModal">
            <div class="modal-dialog" id="top">
                <div class="modal-content" style="width: 800px">
                    <div class="modal-header">
                        {{"Upload" | translate }}
                        <div class="pull-right">
                            <button type="button" class="btn btn-success btn-small" ng-click="cancelData()">
                                <b>X</b>
                            </button>
                        </div>                        
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="grid simple">
                                    <div class="grid-body no-border" ng-hide="display">
                                        <div class="col-md-12" ng-show="errorlabel">
                                                <label class="label-important">Error&nbsp;:&nbsp;Employee Number not exist, please correct excel sheet and upload again.</label>
                                        </div>
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <label><i class="fa fa-file"></i>&nbsp;{{"FileName" | translate }} : &nbsp;<span>{{filename.name}}</span></label>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>{{filecount}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12" ng-show="modalbusy">
                                            <div class="col-md-5">
                                                &nbsp;
                                            </div>

                                            <div class="col-md-5">
                                                <div class="row">
                                                    <img src="assets/images/loading.gif" />
                                                </div>
                                            </div>
                                        </div>
                                        <div id="example_wrapper" class="dataTables_wrapper form-inline">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table  table-bordered  table-condensed" id="Table1" aria-describedby="example2_info">
                                                        <thead style="background-color: #edefef">
                                                            <tr>
                                                                <td class="small-cell v-align-middle">
                                                                    <div class="checkbox check-success">
                                                                        <input type="checkbox" name="check" value="1" id="mainchk" ng-click="CheckMultiple();" class="checkall">
                                                                        <label for="mainchk"></label>
                                                                    </div>
                                                                </td>
                                                                <td class="semi-bold"><i class="fa fa-sort-numeric-asc"></i>&nbsp;Emp No.</td>
                                                                <td class="semi-bold"><i class="fa fa-calendar"></i>&nbsp;Date</td>
                                                                <td class="semi-bold"><i class="fa fa-clock-o"></i>&nbsp;Shift1_In</td>
                                                                <td class="semi-bold"><i class="fa fa-clock-o"></i>&nbsp;Shift1_Out</td>
                                                                <td class="semi-bold"><i class="fa fa-clock-o"></i>&nbsp;Shift2_In</td>
                                                                <td class="semi-bold"><i class="fa fa-clock-o"></i>&nbsp;Shift2_Out</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                            <!-- offset: currentPage*itemsPerPage |  limitTo: itemsPerPage -->
                                                            <tr ng-repeat="item in em_numbers | filter:search:strict | orderBy:orderByField:reverseSort" ng-class="row1">
                                                                <td>
                                                                    <div class="checkbox check-success" style="height: 20px">
                                                                        <input type="checkbox" name="check" value="1" id="{{$index + item.emp_id}}" ng-click="Checkval(item,$index)" />
                                                                        <label for="{{$index + item.emp_id}}"></label>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <input type="text" id="textval" tabindex="$index" class="k-textbox input-sm full-width"
                                                                           ng-model="item.emp_id" ng-readonly="true"
                                                                           ng-change="textChange(item,key,item.emp_id)"
                                                                           style="color:{{item.fcolor}}" />
                                                                </td>
                                                                <td style="width:119px;">
                                                                    <input type="text" id="text1" tabindex="$index" class="k-textbox input-sm full-width"
                                                                           ng-model="item.att_date" ng-readonly="true"
                                                                           ng-change="textChange(item,key,item.emp_id)"
                                                                           style="color:{{item.fcolor}}" />
                                                                </td>
                                                                <td>
                                                                    <input type="text" id="text2" tabindex="$index" class="k-textbox input-sm full-width"
                                                                           ng-model="item.att_shift1_in"
                                                                           ng-change="textChange(item.att_shift1_in)" ng-blur="textFocus1(item.att_shift1_in)"
                                                                           style="color:{{item.fcolor}}" />
                                                                </td>
                                                                <td>
                                                                    <input type="text" id="text3" tabindex="$index" class="k-textbox input-sm full-width"
                                                                           ng-model="item.att_shift1_out"
                                                                           ng-change="textChange(item.att_shift1_out)" ng-blur="textFocus2(item.att_shift1_out)"
                                                                           style="color:{{item.fcolor}}" />
                                                                </td>
                                                                <td>
                                                                    <input type="text" id="text4" tabindex="$index" class="k-textbox input-sm full-width"
                                                                           ng-model="item.att_shift2_in"
                                                                               ng-change="textChange(item.att_shift2_in)" ng-blur="textFocus3(item.att_shift2_in)"
                                                                           style="color:{{item.fcolor}}" />
                                                                </td>
                                                                <td>
                                                                    <input type="text" id="text5" tabindex="$index" class="k-textbox input-sm full-width"
                                                                           ng-model="item.att_shift2_out"
                                                                           ng-change="textChange(item.att_shift2_out)" ng-blur="textFocus4(item.att_shift2_out)"
                                                                           style="color:{{item.fcolor}}" />
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!--<table class="table  table-bordered  table-condensed" id="Table1" aria-describedby="example2_info">
                                                        <thead style="background-color: #edefef">
                                                            <tr>
                                                                <td class="small-cell v-align-middle">
                                                                    <div class="checkbox check-success">
                                                                        <input type="checkbox" name="check" value="1" id="mainchk" ng-click="CheckMultiple();" class="checkall">
                                                                        <label for="mainchk"></label>
                                                                    </div>
                                                                </td>
                                                                <td class="semi-bold" ng-click="orderByField='sort'; reverseSort = !reverseSort"
                                                                    ng-repeat="(key, val) in sheets.Sheet1[0]" ng-if="key!='opr'">
                                                                    {{key}}
                                                                </td>
                                                            </tr>
                                                        </thead>
                                                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                            <tr ng-repeat="item in sheets[sheetName.sheet] | filter:search:strict | orderBy:orderByField:reverseSort" ng-class="row1">
                                                                <td>
                                                                    <div class="checkbox check-success" style="height: 20px">
                                                                        <input type="checkbox" name="check" value="1" id="{{$index + item.Emp_No}}" ng-click="Checkval(item,$index)" />
                                                                        <label for="{{$index + item.Emp_No}}"></label>
                                                                    </div>
                                                                </td>
                                                                <td ng-repeat="(key, val) in item track by $index" ng-if="key!='opr'">
                                                                    <input type="text" id="textval" tabindex="$index" class="k-textbox input-sm full-width" ng-model="val" ng-readonly="value" ng-focus="textFocus(key,val)" ng-change="textChange(item,key,val)" />
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>-->
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-actions" ng-hide="save">
                                                        <div class="pull-right">
                                                                <button class="btn btn-primary btn-small" type="submit" ng-click="insertData($index)" ng-disabled="errorlabel">
                                                                    <!---->
                                                                <i class="icon-ok"></i>{{"Save"| translate }}
                                                            </button>
                                                            <button class="btn btn-white btn-small" type="button" ng-click="cancelData()">{{"Cancel" | translate}}</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <!-- /.modal-dialog -->

<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/plugins/fileSaver.js"></script>
<script src="assets/js/jszip.js"></script>
<script src="assets/js/xlsx.js"></script>
<script src="assets/js/xlsx-reader.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>
<!--<script src="assets/js/tableHeadFixer.js"></script>-->
<script src="assets/js/add-ng-disabled.js"></script>