﻿<style>
    .sortorder:after {
        content: '\25b2';
    }

    .sortorder.reverse:after {
        content: '\25bc';
    }
</style>
<div class="loading-middle" ng-hide="dis1">
    {{ "Loading..." | translate }}
</div>
<div class="row">
    <div ng-show="notshow">
        <div class="col-xs-4">
            <div class="well" class="form-group">
                <div class="form-group">
                    <label>Current Page:</label>
                    <input placeholder="page"
                           class="form-control"
                           ng-model="currentPage"
                           ng-init="currentPage = 1" />
                </div>
                <div class="form-group">
                    <label>Page Size:</label>
                    <input placeholder="Page Size"
                           class="form-control"
                           ng-model="numPerPage" />
                </div>
                <div class="form-group">
                    <label>Total Items:</label>
                    <input placeholder="Total"
                           class="form-control"
                           ng-model="pagersize" />
                </div>
                <hr />
                <div class="form-group">
                    <label>Dots Display:</label>
                    <input placeholder="..."
                           class="form-control"
                           maxlength="3"
                           ng-model="dots"
                           ng-init="dots = '...'" />
                </div>

                <hr />
                <div class="form-group">
                    <label>UL Class:</label>
                    <input placeholder="pagination"
                           class="form-control"
                           maxlength="100"
                           ng-model="ulClass" />
                </div>
                <div class="form-group">
                    <label>Active Class:</label>
                    <input placeholder="active"
                           class="form-control"
                           maxlength="100"
                           ng-model="activeClass"
                           ng-init="activeClass = 'active'" />
                </div>
                <div class="form-group">
                    <label>Disabled Class:</label>
                    <input placeholder="disabled"
                           class="form-control"
                           maxlength="100"
                           ng-model="disabledClass"
                           ng-init="disabledClass = 'disabled'" />
                </div>
                <br />
                <table class="table">

                    <tr>
                        <td>
                            <label>Show Prev Next:</label>
                        </td>
                        <td>
                            <input type="checkbox"
                                   ng-model="showPrevNext"
                                   ng-init="showPrevNext = true" />
                            {{showPrevNext}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Show First Last:</label>
                        </td>
                        <td>
                            <input type="checkbox"
                                   ng-model="showFirstLast"
                                   ng-init="showFirstLast = true" />
                            {{showPrevNext}}
                        </td>
                    </tr>
                </table>
                <hr />
                <span class="btn btn-default" onclick="location.reload()">
                    <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                </span>
                <span class="btn btn-success" ng-click="currentPage = 0">
                    Apply Settings
                </span>
                <br />
                <br />
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Employee"| translate }}</span> {{"Dependent" | translate }}</h3>
            </div>
            <div class="grid-body no-border">
                <div ng-show="dis1">
                    <div class="row">

                        <div class="col-md-4">
                            <label id="Label3" for="txt_full_name" class="form-label">{{"Search Employee" | translate }}</label>
                            <input name="txt_name_en" type="text" class="k-textbox input-sm full-width" id="Text3" ng-model="temp.em_login_code" ng-disabled="true" />
                        </div>
                        <div class="col-md-4">
                            <div class="pull-right">
                                <label id="Label1" for="txt_full_name" class="form-label">&nbsp</label>
                                <button type="button" class="btn btn-primary btn-cons" ng-click="Employee_search();">{{"Search Employee" | translate }}</button>
                                <button type="button" class="btn btn-success btn-cons" ng-click="New();">{{"New" | translate }}</button>
                                <button type="button" class="btn btn-danger btn-small" ng-click="Delete_Records();">{{"Delete" | translate }}</button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="pull-right">
                                <label>                                    
                                    <!-- <label>
                                        {{ "Search:" | translate }} &nbsp;-->
                                    <span class="k-textbox k-space-right full-width">
                                        <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                                        <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="loading">
                        <div class="col-md-12 form-group">
                            <div class="col-md-6 pull-right">
                                <img src="assets/theme/img/loading.gif" />
                            </div>
                        </div>
                    </div>
                    <div id="example_wrapper" class="dataTables_wrapper form-inline" ng-show="table">
                        <div class="row margin-top">
                            <div class="col-md-12">
                                <table class="table table-bordered  table-condensed" id="fixTable">
                                    <thead>
                                        <tr>


                                            <th class="small-cell v-align-middle" style="z-index: 1">
                                                <div class="checkbox check-success">
                                                    <input id="mainchk" type="checkbox" value="1" ng-click="check()">
                                                    <label for="mainchk"></label>
                                                </div>
                                            </th>

                                            <th class="semi-bold" ng-click="sortBy('_ed_sr_code')">
                                                <b>{{"Sr. No."| translate }}</b>
                                                <span class="sortorder" ng-show="propertyName === '_ed_sr_code'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th class="semi-bold" ng-click="sortBy('_em_name')">
                                                <b>{{"Employee Name"| translate }}</b>
                                                <span class="sortorder" ng-show="propertyName === '_em_name'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th class="semi-bold" ng-click="sortBy('ed_relation')">
                                                <b>{{"Relationship"| translate }}</b>
                                                <span class="sortorder" ng-show="propertyName === 'ed_relation'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th class="semi-bold" ng-click="sortBy('ed_first_name_en')">
                                                <b>{{"First Name"| translate }}</b>
                                                <span class="sortorder" ng-show="propertyName === 'ed_first_name_en'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th class="semi-bold" ng-click="sortBy('ed_middle_name_en')">
                                                <b>{{"Middle Name"| translate }}</b>
                                                <span class="sortorder" ng-show="propertyName === 'ed_middle_name_en'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th class="semi-bold" ng-click="sortBy('ed_last_name_en')">
                                                <b>{{"Last Name"| translate }}</b>
                                                <span class="sortorder" ng-show="propertyName === 'ed_last_name_en'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th class="semi-bold">
                                                <label><b>{{"Update" | translate }}</b></label>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="info in filteredTodos | orderBy:propertyName:reverse" ng-class="row1">

                                            <td>
                                                <div class="row-fluid">
                                                    <div class="checkbox check-success" style="height: 20px">
                                                        <input id="{{info.ed_sr_code}}" type="checkbox" value="1" ng-click="CheckAny(info.ed_sr_code)">
                                                        <label for="{{info.ed_sr_code}}"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <label id="Label11">{{info.ed_sr_code}}</label>
                                            </td>
                                            <td>
                                                <label id="lbl">{{info.em_name}}</label>
                                            </td>
                                            <td>
                                                <label id="Label5">{{info.ed_relation}}</label>
                                            </td>
                                            <td>
                                                <label id="Label5">{{info.ed_first_name_en}}</label>
                                            </td>
                                            <td>
                                                <label id="Label9">{{info.ed_middle_name_en}}</label>
                                            </td>
                                            <td>
                                                <label id="Label10">{{info.ed_last_name_en}}</label>
                                                <!--<label id="Label20">{{info._sims_section_name}}</label>-->
                                            </td>

                                            <td>
                                                <button ng-click="Update(info)"><i class="fa fa-edit"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="dis2">
                    <form name="Myform" ng-submit="save(Myform.$valid)" novalidate="novalidate">

                        <div class="row">
                            <div class="col-md-4">
                                <!--ng-disabled="false" ng-disabled="true"-->
                                <label id="Label2" for="txt_Nationality_Code" class="form-label">{{"Employee Code" | translate }} <span class="text-red">*</span></label>
                                <input name="empCode" type="text" class="k-textbox input-sm full-width" ng-model="temp.em_login_code" ng-disabled="true" required />

                                <p class="help-block" ng-show="Myform.empCode.$error.required  &&  (Myform.empCode.$touched || Myform.$submitted)">
                                    This Field is required
                                </p>
                            </div>

                            <div class="col-md-2">
                                <label>&nbsp;</label>
                                <button type="button" class="btn btn-primary btn-cons" ng-click="Employee_search();">{{"Search Employee" | translate }}</button>
                            </div>
                            <div class="col-md-6" ng-show="showEMPName">
                                <label>Employee Name</label>
                                <h5><b>{{empName}}<b></h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2" ng-hide="showField">
                                <label id="Label7" class="form-label">{{"Relationship" | translate }} <span style="color:red">*</span></label>
                                <input name="relationShip" type="text" class="k-textbox input-sm full-width" ng-model="temp.ed_relation" maxlength="50" required />
                                <p class="help-block" ng-show="Myform.relationShip.$error.required  &&  (Myform.relationShip.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>
                            <div class="col-md-2"  ng-show="showField">
                                <label id="Label7" class="form-label">{{"Relationship" | translate }} <span style="color:red">*</span></label>
                                <select name="relationShip" class="form form-control" ng-model="temp.ed_relation" maxlength="50"  required>
                                    <option value="" selected>Please select</option>>
                                    <option ng-repeat="dep in dependentRelations" value="{{dep.pays_appl_parameter}}">{{dep.pays_appl_form_field_value1}}</option>
                                </select>
                                <p class="help-block" ng-show="Myform.relationShip.$error.required  &&  (Myform.relationShip.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>

                            <div class="col-md-2">
                                <label id="Label7"  class="form-label">{{"First Name" | translate }} <span style="color:red">*</span></label>
                                <input name="fname" type="text" class="k-textbox input-sm full-width"  ng-model="temp.ed_first_name_en" required/>
                                <p class="help-block" ng-show="Myform.fname.$error.required  &&  (Myform.fname.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>
                            <div class="col-md-2">
                                <label id="Label8" for="txt_Nationality_Code" class="form-label">{{"Middle Name" | translate }} <span style="color:red">*</span></label>
                                <input name="middleName" type="text" class="k-textbox input-sm full-width" id="Text6" ng-model="temp.ed_middle_name_en" required/>
                                <p class="help-block" ng-show="Myform.middleName.$error.required  &&  (Myform.middleName.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>
                            <div class="col-md-2">
                                <label id="Label13" for="txt_Nationality_Code" class="form-label">{{"Last Name" | translate }} <span style="color:red">*</span></label>
                                <input name="lastName" type="text" class="k-textbox input-sm full-width" id="Text7" ng-model="temp.ed_last_name_en" required/>
                                <p class="help-block" ng-show="Myform.lastName.$error.required  &&  (Myform.lastName.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>
                            <div class="col-md-2">
                                <label id="Label18" for="txt_Nationality_Code" class="form-label">{{"Date of Birth" | translate }}</label>
                                <input type="text" id="dob" placeholder="Select Date" name="creation_date" class="k-textbox input-sm full-width" ng-model="temp.ed_dob">
                            </div>
                        </div>

                        <div class="row margin-top">

                            <div class="col-md-2" ng-hide="showField">
                                <label style="font-size: small; color: black">{{"Health Insurance Issuing Authority"| translate }}</label>
                                <input type="text" class="k-textbox input-sm full-width" ng-model="temp.ed_health_insurance_issuing_authority" maxlength="100">
                            </div>
                            <div class="col-md-2">
                                <label style="font-size: small; color: black">{{"Health Insurance Number"| translate }}</label>
                                <input type="text" class="k-textbox input-sm full-width" ng-model="temp.ed_health_insurance_no" maxlength="20">
                            </div>

                            <div class="col-md-3">
                                <label style="font-size: small; color: black">
                                    {{"Health Insurance Effective From Date"| translate }}                                    
                                </label>
                                <div class="no-padding">
                                    <input type="text" id="health_card_from_date" class="k-textbox input-sm full-width" name="healthfrom" style="width: 100%;" ng-model="temp.ed_health_insurance_effective_from_date">
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label style="font-size: small; color: black">
                                    {{"Health Insurance Effective Upto Date"| translate }}                                    
                                </label>
                                <div class="no-padding">
                                    <input type="text" id="health_card_to_date" class="k-textbox input-sm full-width" name="healthupto" style="width: 100%;" ng-model="temp.ed_health_insurance_effective_upto_date">
                                </div>
                            </div>

                            <div class="col-md-2">
                                <label style="font-size: small; color: black">{{"Health Insurance Status"| translate }} </label>
                                <div class="checkbox check-success" style="height: 15px;display: block;">
                                    <input id="healthStatus" type="checkbox" value="1" ng-model="temp.ed_health_insurance_status">
                                    <label for="healthStatus"></label>
                                </div>
                            </div>
                        </div>

                        <div class="row margin-top">
                            <div class="col-md-2">
                                <label id="Label25" for="txt_Nationality_Code" class="form-label">{{"Dependent Passport Id" | translate }}</label>

                                <input name="txt_name_ot" type="text" class="k-textbox input-sm full-width" id="Text15" ng-model="temp.ed_passport_id" />
                            </div>
                            <div class="col-md-2">
                                <label id="Label26" for="txt_Nationality_Code" class="form-label">{{"Dependent Passport Issue Date" | translate }}</label>
                                <div>
                                    <div class="no-padding" style="width: auto">
                                        <input type="text" id="passport_issue_date" placeholder="Select Date" name="creation_date"
                                               class="k-textbox input-sm full-width" ng-model="temp.ed_passport_id_issue_date">
                                        <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label id="Label6" for="txt_Nationality_Code" class="form-label">{{"Dependent Passport Expiry Date" | translate }}</label>
                                <div>
                                    <div class="no-padding" style="width: auto">
                                        <input type="text" id="passport_expiry_date" placeholder="Select Date" name="creation_date"
                                               class="k-textbox input-sm full-width" ng-model="temp.ed_passport_id_expiry_date">
                                        <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row  margin-top">

                            <!--data-date-start-date="0d"-->
                            <div class="col-md-2">
                                <label id="Label15" for="txt_Nationality_Code" class="form-label">{{"Dependent Visa UID Number" | translate }}</label>

                                <input name="txt_name_ot" type="text" class="k-textbox input-sm full-width" id="Text1" ng-model="temp.ed_visa_sponsor_id" />
                            </div>
                            <div class="col-md-2" ng-hide="showField">
                                <label id="Label16" for="txt_Nationality_Code" class="form-label">{{"Dependent Visa Sponser Name" | translate }}</label>

                                <input name="txt_name_ot" type="text" class="k-textbox input-sm full-width" id="Text8" ng-model="temp.ed_visa_sponsor_name" />
                            </div>
                            <div class="col-md-2">
                                <label id="Label19" for="txt_Nationality_Code" class="form-label">{{"Dependent Visa Number" | translate }}</label>

                                <input name="txt_name_ot" type="text" class="k-textbox input-sm full-width" id="Text9" ng-model="temp.ed_visa_number" />
                            </div>
                            <div class="col-md-2">
                                <label id="Label23" for="txt_Nationality_Code" class="form-label">{{"Dependent Visa Issue Date" | translate }}</label>

                                <input type="text" id="visa_issue_date" placeholder="Select Date" name="creation_date"
                                        class="k-textbox input-sm full-width" ng-model="temp.ed_visa_issue_date">

                            </div>

                            <div class="col-md-2">
                                <label id="Label4" for="txt_Nationality_Code" class="form-label">{{"Dependent Visa Expiry Date" | translate }}</label>

                                <input type="text" id="visa_expiry_date" placeholder="Select Date" name="creation_date" ng-change="setVisaExpiryReminderDate();"
                                        class="k-textbox input-sm full-width" ng-model="temp.ed_visa_expiry_date">
                            </div>
                            <div class="col-md-2">
                                <label id="Label33" for="Label33" class="form-label">{{"Dependent Visa Exp Reminder Date" | translate }}</label>

                                <input type="text" id="commenceddate" placeholder="Select Date" name="creation_date"
                                       class="k-textbox input-sm full-width" ng-model="temp.ed_visa_exp_rem_date">
                            </div>
                        </div>
                      
                        <div class="row margin-top">
                            <div class="col-md-2">
                                <label id="Label12" for="txt_Nationality_Code" ng-hide="showField" class="form-label">{{"Dependent Nation ID" | translate }}</label>
                                <label id="Label12" for="txt_Nationality_Code" ng-show="showField" class="form-label">{{"Dependent Emirates ID" | translate }}</label>

                                <input name="txt_name_ot" type="text" class="k-textbox input-sm full-width" id="Text12" ng-model="temp.ed_nation_id" />
                            </div>
                            <div class="col-md-2">
                                <label id="Label17" for="txt_Nationality_Code" ng-hide="showField" class="form-label">{{"Dependent Nation Issue Date" | translate }}</label>
                                <label id="Label12" for="txt_Nationality_Code" ng-show="showField" class="form-label">{{"Dependent Emirates ID Issue Date" | translate }}</label>


                                <input type="text" id="nation_issue_date" placeholder="Select Date" name="creation_date"
                                        class="k-textbox input-sm full-width" ng-model="temp.ed_nation_id_issue_date">
                            </div>
                            <div class="col-md-2">
                                <label id="Label24" for="txt_Nationality_Code" ng-hide="showField" class="form-label">{{"Dependent Nation Expiry Date" | translate }}</label>
                                <label id="Label12" for="txt_Nationality_Code" ng-show="showField" class="form-label">{{"Dependent Emirates ID Expiry Date" | translate }}</label>
                                <input type="text" id="nation_expiry_date" placeholder="Select Date" name="creation_date"
                                        class="k-textbox input-sm full-width" ng-model="temp.ed_nation_id_expiry_date">
                            </div>
                        </div>
                     

                            <div class="col-md-12">
                                <div class="form-actions">
                                    <div class="pull-right">
                                        <button type="submit" class="btn btn-primary btn-cons" ng-if="!update_btn">{{"Save" | translate }}</button>
                                        <button type="button" class="btn btn-primary btn-cons" ng-show="update_btn" ng-click="Update_data(Myform.$valid)">{{"Update" | translate }}</button>
                                        <button type="button" class="btn btn-danger btn-cons" ng-click="can();">{{"Cancel" | translate }}</button>
                                    </div>
                                </div>
                            </div>
</form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="assets/js/calender-datepicker-id.js"></script>
<script src="assets/js/moment.js"></script>
<!--<script src="assets/js/tableHeadFixer.js"></script>-->

