﻿<!--employee shift-->

<link href="assets/css/mino.css" rel="stylesheet" />
<style>
    .loader_gif {
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(assets/images/loader.gif);
        background-repeat: no-repeat;
        position: fixed;
        opacity: 0.5;
        opacity: 0.7;
        z-index: 105;
        background-color: #22262e;
        background-position-x: 50%;
        background-position-y: 50%;
        background-origin: content-box;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3>{{ "Employee Shift" | translate }}<span class="semi-bold"><!-<span class="semi-bold"><!--{{studentName}}--></span></h3>
            </div>
              <div class="loader_container blacktint"  ng-show="loaderShow"><div class="loader"></div></div>
            <div class="grid-body no-border">
                <div ng-show="display">
                    <div class="row">
                        <div class="col-md-3">
                            <label>{{ "Company Name" | translate }} <span class="asterisk" style="color: red">*</span></label>
                            <select id="cmb_cmpny" name="cmb_cmpny" class="form-control input-sm full-width" ng-model="edt.sh_company_code" ng-change="getdepartment(edt.sh_company_code)"
                                    ng-options="item1.sh_company_code as item1.sh_company_name for item1 in comp_data">
                                <option value="" label="Please Select" disabled></option>
                                <option ng-repeat="i
                                in comp_data" value="{{i.sh_company_code}}">{{i.sh_company_name}}
                                </option>-->
                                </select>
                        </div>
                        <div class="col-md-2">
                            <label>{{ "Department" | translate }}</label>
                            <select id="cmb_dept" name="cmb_dept" class="form-control input-sm full-width" ng-model="edt.code">
                                <option value="" label="Please Select"></option>
                                <option ng-repeat="i in dept_data" value="{{i.code}}">
                                    {{i.em_dept_name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>{{ "Designation" | translate }}</label>
                            <select id="cmb_desg" name="cmb_desg" class="form-control input-sm full-width" ng-model="edt.em_desg_code">
                                <option value="" label="Please Select"></option>
                                <option ng-repeat="i in desg_data" value="{{i.em_desg_code}}">
                                    {{i.em_desg_desc}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label>&nbsp;</label>
                            <button class="btn btn-success btn-small" id="btn_create" type="button" ng-click="btn_display()">
                                {{"Show"|translate}}
                            </button>
                        </div>
                        <div class="col-md-2">
                            <label>&nbsp;</label>
                            <span class="k-textbox k-space-right full-width">
                            <input type="text" aria-controls="example" placeholder="Employee No./ Empoyee Name" ng-model="search.$" class="k-textbox input-sm full-width" autofocus="autofocus">
                                  <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                </span>
                        </div>
                    </div>
                </div>
                <div  ng-show="div_shift">
                    <div class="row">
                        <div class="loader" ng-show="BUSY">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-label">{{ "Shift Template" | translate }} <span class="asterisk" style="color: red">*</span></label>
                            <select id="cmb_temp" name="cmb_temp" class="form-control input-sm full-width" ng-model="edt.sh_template_id" ng-change="getTempaltedetails(edt.sh_template_id)"
                                    ng-options="item3.sh_template_id as item3.sh_template_name for item3 in AllTemplateName">
                                <option value="" label="Please Select"></option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label>Applicable From</label>
                            <input type="text" id="start_date" placeholder="Select Date" name="startdate" class="k-textbox input-sm full-width" ng-model="edt.sh_start_date"  ng-change="getcompareShiftdate()">

                        </div>
                         <div class="col-md-2">
                            <label>Applicable To</label>
                            <input type="text" id="dp_endadmdate" placeholder="Select Date" name="dp_endadmdate" class="k-textbox input-sm full-width" ng-model="edt.sh_end_date" ng-change="getcompareShiftdate()">

                        </div>
                    </div>
                </div>



                <div ng-show="gridNew">
                    <div id="Div2" class="dataTables_wrapper form-inline">
                        <div class="row margin-top">
                            <div class="col-md-12">
                                <table class="table table-hover table-bordered table-condensed" id="fixedtable">
                                    <thead>
                                        <tr style="background-color: #e9e4e4">
                                            <th><b>{{"Sunday"| translate }}</b></th>
                                            <th><b>{{"Monday"| translate }}</b></th>
                                            <th><b>{{"Tuesday"| translate }}</b></th>
                                            <th><b>{{"Wednesday"| translate }}</b></th>
                                            <th><b>{{"Thursday"| translate }}</b></th>
                                            <th><b>{{"Friday"| translate }}</b></th>
                                            <th><b>{{"Saturday"| translate }}</b></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="shift_temp in shifttemplate_data" ng-class="row1">
                                            <!-- <td>
                                                <div class="checkbox check-success" style="height: 20px">
                                                    <input type="checkbox" name="check" value="1" id="Checkbox2" ng-click="get_ischecked(shift_temp)">
                                                    <label for="{{shift_temp.sh_template_name+$index}}">
                                                    </label>
                                                </div>
                                            </td>-->
                                            <td>
                                                <div>{{shift_temp.sh_shift_day1}}</div>
                                            </td>
                                            <td>
                                                <div>{{shift_temp.sh_shift_day2}}</div>
                                            </td>
                                            <td>
                                                <div>{{shift_temp.sh_shift_day3}}</div>
                                            </td>
                                            <td>
                                                <div>{{shift_temp.sh_shift_day4}}</div>
                                            </td>
                                            <td>
                                                <div>{{shift_temp.sh_shift_day5}}</div>
                                            </td>
                                            <td>
                                                <div>{{shift_temp.sh_shift_day6}}</div>
                                            </td>
                                            <td>
                                                <div>{{shift_temp.sh_shift_day7}}</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="grid">
                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <div class="row" ng-show="notshow">
                            <div class="col-xs-4">
                                <div class="well" class="form-group">
                                    <div class="form-group">
                                        <label>Current Page:</label>
                                        <input placeholder="page"
                                               class="form-control"
                                               ng-model="currentPage"
                                               ng-init="currentPage = 1" />
                                    </div>
                                    <div class="form-group">
                                        <label>Page Size:</label>
                                        <input placeholder="Page Size"
                                               class="form-control"
                                               ng-model="numPerPage" />
                                    </div>
                                    <div class="form-group">
                                        <label>Total Items:</label>
                                        <input placeholder="Total"
                                               class="form-control"
                                               ng-model="pagersize" />
                                    </div>
                                    <hr />
                                    <div class="form-group">
                                        <label>Dots Display:</label>
                                        <input placeholder="..."
                                               class="form-control"
                                               maxlength="3"
                                               ng-model="dots"
                                               ng-init="dots = '...'" />
                                    </div>

                                    <hr />
                                    <div class="form-group">
                                        <label>UL Class:</label>
                                        <input placeholder="pagination"
                                               class="form-control"
                                               maxlength="100"
                                               ng-model="ulClass" />
                                    </div>
                                    <div class="form-group">
                                        <label>Active Class:</label>
                                        <input placeholder="active"
                                               class="form-control"
                                               maxlength="100"
                                               ng-model="activeClass"
                                               ng-init="activeClass = 'active'" />
                                    </div>
                                    <div class="form-group">
                                        <label>Disabled Class:</label>
                                        <input placeholder="disabled"
                                               class="form-control"
                                               maxlength="100"
                                               ng-model="disabledClass"
                                               ng-init="disabledClass = 'disabled'" />
                                    </div>
                                    <br />
                                    <table class="table">

                                        <tr>
                                            <td>
                                                <label>Show Prev Next:</label>
                                            </td>
                                            <td>
                                                <input type="checkbox"
                                                       ng-model="showPrevNext"
                                                       ng-init="showPrevNext = true" />
                                                {{showPrevNext}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Show First Last:</label>
                                            </td>
                                            <td>
                                                <input type="checkbox"
                                                       ng-model="showFirstLast"
                                                       ng-init="showFirstLast = true" />
                                                {{showPrevNext}}
                                            </td>
                                        </tr>
                                    </table>
                                    <hr />
                                    <span class="btn btn-default" onclick="location.reload()">
                                        <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                                    </span>
                                    <span class="btn btn-success" ng-click="currentPage = 0">
                                        Apply Settings
                                    </span>
                                    <br />
                                    <br />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 margin-top">
                                <!--   <table class="table table-hover table-striped  no-more-tables">-->
                                <div style="width:100%;height:400px;overflow-x:auto;overflow-y:auto;">
                                <table class="table table-hover table-bordered table-condensed" id="fixedtable1">
                                    <thead>
                                        <tr style="background-color: #e9e4e4">
                                            <!-- <th class="small-cell v-align-middle">
                                                 <div class="checkbox check-success">
                                                     <input type="checkbox" name="check" value="1" id="mainchk" ng-click="checkAll();">
                                                     <label for="mainchk"></label>
                                                 </div>
                                                 &nbsp;
                                             </th>-->
                                            <th class="small-cell v-align-middle" style="z-index:999;height: 20px">
                                                <div class="checkbox check-success">
                                                    <input type="checkbox" name="check" value="1" id="mainchk" ng-click="CheckAllChecked();">
                                                    <label for="mainchk"></label>
                                                </div>
                                            </th>
                                            <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                               
                                                        <a href="">
                                                            <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span>
                                                            <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp; {{ "Employee Id" | translate}}
                                                        </a>
                                            </th>
                                            <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                                <a href="">
                                                            <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span>
                                                            <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp; {{ "Employee Name" | translate}}
                                                        </a>
                                            </th>
                                            <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                                <a href="">
                                                            <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span>
                                                            <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp; {{ "Template" | translate}}
                                                        </a>
                                            </th>
                                            <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                                    <a href="">
                                                            <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span>
                                                            <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp; {{ "Applicable From Date" | translate}}
                                                        </a>
                                            </th>
                                            <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                                <a href="">
                                                            <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span>
                                                            <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp; {{ "Last Updated Date" | translate}}
                                                        </a>
                                            </th>                                          
                                               <th>{{"Action" | translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="shiftemp in AllEmployeeName_data|filter:search:strict|orderBy:sortType:reverseSort" " ng-class="row1">
                                            <td>
                                                <!--<div class="checkbox check-success" style="height: 20px">
                                                    <input type="checkbox" name="check" value="1" id="{{shiftemp.sh_template_name+$index}}" ng-click="get_ischecked(shiftemp)">
                                                    <label for="{{shiftemp.sh_template_name+$index}}">
                                                    </label>
                                                </div>-->

                                                <div class="checkbox check-success" style="height: 20px">
                                                    <input type="checkbox" name="check" value="1" id="test+{{$index}}" ng-model="shiftemp.sh_template_id1" ng-click="checkonebyonedelete()">
                                                    <label for="test+{{$index}}">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <div>{{shiftemp.em_login_code}}</div>
                                            </td>
                                            <td>
                                                <div>{{shiftemp.sh_emp_name}}</div>
                                            </td>
                                            <td>
                                                <div>
                                                    <span class="label label-warning" ng-if="shiftemp.sh_template_name != ''">{{shiftemp.sh_template_name}}</span>
                                                    <!--class="badge badge-warning"  <select id="cmb_template" name="cmb_template" class="form-control select2-sm"  ng-model="shiftemp.sh_template_name" >
                                                            <option value="" label="Please Select"></option>
                                                            <option ng-repeat="i in AllTemplateName" value="{{i.sh_template_id}}">{{i.sh_template_name}}
                                                            </option>
                                                        </select>-->
                                                    <!-- <select id="cmb_template" name="cmb_template" class="form-control select2-sm" ng-model="shiftemp.sh_template_id" ng-disabled="templateupdate"
                                                         ng-options="item3.sh_template_id as item3.sh_template_name for item3 in AllTemplateName">
                                                     </select>-->
                                                </div>
                                            </td>
                                            <td>{{shiftemp.sh_start_date}}
                                            <td>
                                                {{shiftemp.sh_start_fromdate}}
                                                <!-- <div>
                                                     <input type="text" id="dp_startdate" placeholder="yyyy-mm-dd" ng-model="shiftemp.sh_start_date" ng-disabled="templateupdate" />
                                                 </div>-->
                                            </td>
                                            <td>
                                                <div>
                                                    <span class="btn btn-white btn-xs btn-mini" style="background-color: rgb(243, 125, 26); color: white" ng-click="getEmpTempHistory(shiftemp.em_login_code)"><b>History</b></span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                                </div>
                        </div>
                        <div class="row margin-top">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button class="btn btn-primary btn-small" type="submit" ng-disabled="div_submit" ng-click="btn_SubmitNew()">{{"Submit"|translate}}</button>
                                    &nbsp;
                                    <button class="btn btn-danger btn-small" type="button" ng-click="btn_cancel()">{{"Reset"|translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal1" ng-style="style" tabindex="-1">
    <div class="modal-dialog" id="Div1">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="semi-bold pull-left">Template Details</h5>
                <br />
            </div>
            <div class="modal-body" style="background-color: white">

                <div class="grid-body no-border">
                    <div id="Div3" class="dataTables_wrapper form-inline">

                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-hover table-bordered table-condensed">

                                    <tr bgcolor="#E0E0E">
                                        <th class="div_th" style="text-align: center">Employee Id</th>
                                        <th class="div_th" style="text-align: center">Employee Name</th>
                                        <th class="div_th" style="text-align: center">Template Name</th>
                                        <th class="div_th" style="text-align: center">From Date</th>
                                        <th class="div_th" style="text-align: center">To Date</th>
                                    </tr>
                                    <tr ng-repeat="emp_temp in emptemp_data">
                                        <td class="div_th" style="font-weight: normal">{{emp_temp.em_login_code}}</td>
                                        <td class="div_th" style="font-weight: normal">{{emp_temp.sh_emp_name}}</td>
                                        <td class="div_th" style="font-weight: normal">{{emp_temp.sh_template_name}}</td>
                                        <td class="div_th" style="font-weight: normal">{{emp_temp.sh_from_date}}</td>
                                        <td class="div_th" style="font-weight: normal">{{emp_temp.sh_to_date}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <!--<div class="modal-footer" style="height: 60px">
                <button type="button" class="btn btn-blue btn-ef btn-ef-3 btn-ef-3c mb-10" data-dismiss="modal" ng-click="modal_cancel()"><span aria-hidden="true">Ok</span></button>
            </div>-->

        </div>
    </div>
</div>

<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/js/moment.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>

