﻿<!--<link href="assets/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />-->

<div class="loading-middle" ng-hide="table">
    {{ "Loading..." | translate }}
</div>

<style>
    ul.dropdown-menu li {
        cursor: pointer;
    }

        ul.dropdown-menu li span.red {
            color: red;
        }

        ul.dropdown-menu li span.green {
            color: green;
        }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Employee Short Form" | translate}}</span></h3>
            </div>
            <div class="grid-body no-border">
                <form name="Myform" ng-submit="SaveData1(Myform.$valid)" novalidate="novalidate">
                    <div class="row">
                        <div class="col-md-2">
                            <label>{{"Image Upload"| translate }}</label>
                            <img alt="" src="{{prev_img}}" style="width: 70px; height: 85px" ng-src="{{imageUrl + temp.em_img}}">
                            <input type="file" id="file1" name="file" onchange="angular.element(this).scope().file_changed(this)"
                                   ng-files="getTheFiles($files)" accept="image/*" style="float: initial; width: 120px;" ng-hide="true" />
                            <div style="margin-top: 5px;">
                                <a href="" class="label label-important " type="button" ng-click="image_click()" onclick="document.getElementById('file1').click();"><i class="fa fa-cloud-upload"></i>Upload</a>
                            </div>

                        </div>
                        <div class="col-md-4 margin-top-4">
                            <input type="text" class="k-textbox input-sm full-width" id="Text28" placeholder="Enter Login Code to Search" ng-readonly="searchText" style="width: 186px" ng-keypress="searchEmp($event);" name="empsrch" ng-model="temp.enroll_number">
                        </div>
                        <div class="col-md-2 margin-top-4">
                            <button type="button" id="Button2" class="btn btn-primary btn-cons btn-small" ng-disabled="searchBtn" ng-click="globalSearch();">Search</button>
                            <button type="button" id="Button1" class="btn btn-primary btn-cons btn-small" ng-disabled="showBtn" ng-click="EmpSearch1(temp.enroll_number)">Show</button>
                        </div>
                    </div>
                    <hr />
                    <div ng-show="emp_register_no">
                        <div class="row">
                            <div class="col-md-1">
                                <input type="text" class="k-textbox input-sm" style="width: 93px !important;background-color: #ddd;" id="Text3" placeholder="EMP" ng-readonly="emp_readonly">
                            </div>
                            <div class="col-md-3" ng-class="{'has-error': !Myform.emp_number.$valid && (Myform.emp_number.$touched || Myform.$submitted)}">
                                <input type="text" class="k-textbox input-sm full-width" id="Text4" ng-readonly="searchText" ng-maxlength="6" ng-pattern="/^(\d)+$/" style="width: 186px" name="emp_number" ng-model="temp.emp_id" required>

                                <p class="help-block" ng-show="Myform.emp_number.$error.pattern && (Myform.emp_number.$touched || Myform.$submitted)">
                                    Enter Only Digits
                                </p>
                                <p class="help-block" ng-show="Myform.emp_number.$error.maxlength && (Myform.emp_number.$touched || Myform.$submitted)">
                                    EMployee Number can not be longer than 6 digits
                                </p>
                                <p class="help-block" ng-show="Myform.emp_number.$error.required &&(Myform.emp_number.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>{{"Salutation"| translate }}</label>
                            <select name="cmb_acdm_yr" id="select21" class="form-control input-sm full-width" ng-model="temp.em_Salutation_Code">
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="sal in obj" value="{{sal.em_Salutation_Code}}" class=" form-control input-sm" ng-if="sal.em_Salutation_name.length">
                                    {{sal.em_Salutation_name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-2" ng-class="{'has-error': !Myform.firstnm.$valid && (Myform.firstnm.$touched || Myform.$submitted) }">
                            <label>{{"First Name"| translate }}</label>
                            <input type="text" class="k-textbox input-sm full-width" id="Text2" name="firstnm" pattern="[A-Za-z\s]+" ng-model="temp.em_first_name" required>
                            <p class="help-block" ng-show="Myform.firstnm.$error.required &&(Myform.firstnm.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                            <p class="help-block" ng-show="Myform.firstnm.$error.pattern && (Myform.firstnm.$touched || Myform.$submitted)">
                                Enter only Characters
                            </p>
                        </div>
                        <div class="col-md-2">
                            <label>{{"Middle Name"| translate }}</label>
                            <input type="text" class="k-textbox input-sm full-width" id="Text7" pattern="[A-Za-z\s]+" name="midnm" ng-model="temp.em_middle_name">
                            <p class="help-block" ng-show="Myform.midnm.$error.pattern && (Myform.midnm.$touched || Myform.$submitted)">
                                Enter only Characters
                            </p>
                        </div>
                        <div class="col-md-2" ng-class="{'has-error': !Myform.lastnm.$valid && (Myform.lastnm.$touched || Myform.$submitted) }">
                            <label>{{"Last Name"| translate }}</label>

                            <input type="text" class="k-textbox input-sm full-width" id="Text8" name="lastnm" pattern="[A-Za-z\s]+" ng-model="temp.em_last_name">
                            <p class="help-block" ng-show="Myform.lastnm.$error.pattern && (Myform.lastnm.$touched || Myform.$submitted)">
                                Enter only Characters
                            </p>
                        </div>
                        <div class="col-md-2" ng-class="{'has-error': !Myform.name_in_ot.$valid && (Myform.name_in_ot.$touched || Myform.$submitted) }">
                            <label>{{"Name In Other"| translate }}</label>
                            <input type="text" class="k-textbox input-sm full-width" id="Text12" name="name_in_ot" pattern="[A-Za-z\s]+" ng-model="temp.em_name_ot">
                            <p class="help-block" ng-show="Myform.name_in_ot.$error.pattern && (Myform.name_in_ot.$touched || Myform.$submitted)">
                                Enter only Characters
                            </p>
                        </div>
                        <div class="col-md-2" ng-class="{'has-error': !Myform.dob.$valid && (Myform.dob.$touched || Myform.$submitted)}">
                            <label>{{"Date of Birth"| translate }}</label>
                            <input type="text" id="dob" name="dob" class="k-textbox input-sm full-width" ng-change="setStart(date)" ng-model="temp.em_date_of_birth" required />

                            <p class="help-block" ng-show="Myform.dob.$error.required &&(Myform.dob.$touched || Myform.$submitted)">
                                &nbsp&nbsp  &nbsp&nbsp  &nbsp&nbsp  &nbsp&nbsp  &nbsp&nbsp  This field is required
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4" ng-class="{'has-error': !Myform.cmbcomp.$valid && (Myform.cmbcomp.$touched || Myform.$submitted) }">
                            <label>{{"Company Name"| translate }}</label>
                            <select id="Select15" class="form-control input-sm full-width"
                                    ng-model="temp.em_Company_Code" required ng-selected="" name="cmbcomp"
                                    ng-options="cmpname.em_Company_Code as cmpname.em_Company_name for cmpname in company_data"></select>
                            <p class="help-block" ng-show="Myform.cmbcomp.$error.required &&(Myform.cmbcomp.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>
                        <div class="col-md-2" ng-class="{'has-error': !Myform.doj.$valid && (Myform.doj.$touched || Myform.$submitted) }">
                            <label>{{"Date of Join"| translate }}</label>

                            <input type="text" id="DOJ" name="doj" class="k-textbox input-sm full-width" ng-model="temp.em_date_of_join" ng-change="checkDOJ(temp.em_date_of_join);" required />

                            <p class="help-block" ng-show="Myform.doj.$error.required &&(Myform.doj.$touched || Myform.$submitted)">
                                &nbsp&nbsp  &nbsp&nbsp  &nbsp&nbsp  &nbsp&nbsp  &nbsp&nbsp  This field is required
                            </p>
                        </div>
                        <div class="col-md-2">
                            <label>{{"Destination"| translate }}</label>
                            <select id="Select6" class="form-control input-sm full-width"
                                    ng-model="temp.em_Dest_Code" ng-selected=""
                                    ng-options="desti.em_Dest_Code as desti.em_Dest_name for desti in dest_data"></select>
                        </div>
                        <div class="col-md-2" ng-class="{'has-error': !Myform.designat.$valid && (Myform.designat.$touched || Myform.$submitted) }">
                            <label>{{"Designation"| translate }}</label>
                            <select name="designat" id="Select20" class="form-control input-sm full-width" ng-model="temp.em_Designation_Code" required>
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="desig in obj" value="{{desig.em_Designation_Code}}" class=" form-control input-sm" ng-if="desig.em_Designation_Code.length">
                                    {{desig.em_Designation_name}}
                                </option>
                            </select>
                            <p class="help-block" ng-show="Myform.designat.$error.required &&(Myform.designat.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>
                        <div class="col-md-2">
                            <label>{{"Staff Type"| translate }}</label>
                            <select id="Select24" class="form-control input-sm full-width" ng-model="temp.em_Staff_Type_Code">
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="staff in obj" value="{{staff.em_Staff_Type_Code}}" class="k-textbox input-sm full-width" ng-if="staff.em_Staff_Type_Code.length">
                                    {{staff.em_Staff_Type_name}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2" ng-class="{'has-error': !Myform.deptname.$valid && (Myform.deptname.$touched || Myform.$submitted) }">
                            <label>{{"Department Name"| translate }}</label>

                            <select name="deptname" id="Select25" class="form-control input-sm full-width" ng-model="temp.em_Dept_Code" required>
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="dept in obj" value="{{dept.em_Dept_Code}}" class=" form-control input-sm" ng-if="dept.em_Dept_Code.length">
                                    {{dept.em_Dept_name}}
                                </option>
                            </select>
                            <p class="help-block" ng-show="Myform.deptname.$error.required &&(Myform.deptname.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>
                        <div class="col-md-2" ng-class="{'has-error': !Myform.deptef.$valid && (Myform.deptef.$touched || Myform.$submitted) }">
                            <label>{{"Temporary Join Date"| translate }}</label>

                            <input type="text" id="temporary_join_date" name="deptef" class="k-textbox input-sm full-width" ng-model="temp.em_dept_effect_from" required />

                            <p class="help-block" ng-show="Myform.deptef.$error.required &&(Myform.deptef.$touched || Myform.$submitted)">
                                &nbsp&nbsp  &nbsp&nbsp  &nbsp&nbsp  &nbsp&nbsp  &nbsp&nbsp  This field is required
                            </p>
                        </div>
                        <div class="col-md-2" ng-class="{'has-error': !Myform.graname.$valid && (Myform.graname.$touched || Myform.$submitted)}">

                            <label>{{"Grade Name"| translate }}</label>
                            <select name="graname" id="Select26" class="form-control input-sm full-width" ng-model="temp.em_Grade_Code" required>
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="grade in obj" value="{{grade.em_Grade_Code}}" class=" form-control input-sm" ng-if="grade.em_Grade_Code.length">
                                    {{grade.em_Grade_name}}
                                </option>
                            </select>

                            <p class="help-block" ng-show="Myform.graname.$error.required &&(Myform.graname.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>

                        <div class="col-md-2" ng-class="{'has-error': !Myform.gradef.$valid && (Myform.gradef.$touched || Myform.$submitted) }">
                            <label>{{"Upgradation Date"| translate }}</label>

                            <input type="text" id="upgradation_date" name="gradef" class="k-textbox input-sm full-width" ng-model="temp.em_grade_effect_from" required />

                            <p class="help-block" ng-show="Myform.gradef.$error.required &&(Myform.gradef.$touched || Myform.$submitted)">
                                &nbsp&nbsp  &nbsp&nbsp  &nbsp&nbsp  &nbsp&nbsp  &nbsp&nbsp  This field is required
                            </p>
                        </div>
                        <div class="col-md-2" ng-class="{'has-error': !Myform.gen.$valid && (Myform.gen.$touched || Myform.$submitted) }">

                            <label>{{"Gender"| translate }}</label>
                            <select name="gen" id="Select2" class="form-control input-sm full-width" ng-model="temp.em_Sex_Code" ng-change="someMethod()" required>
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="gender in obj" value="{{gender.em_Sex_Code}}" class="k-textbox input-sm full-width" ng-if="gender.em_Sex_Code.length">
                                    {{gender.em_Sex_name}}
                                </option>
                            </select>
                            <p class="help-block" ng-show="Myform.gen.$error.required &&(Myform.gen.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>
                        <div class="col-md-2" ng-class="{'has-error': !Myform.maristat1.$valid && (Myform.maristat1.$touched || Myform.$submitted) }">
                            <label>{{"Marital Status"| translate }}</label>
                            <select name="maristat1" id="Select3" class="form-control input-sm full-width" ng-model="temp.em_Marital_Status_Code" ng-change="someMethod()" required>
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="marstat in obj" value="{{marstat.em_Marital_Status_Code}}" class=" form-control input-sm" ng-if="marstat.em_Marital_Status_name.length">
                                    {{marstat.em_Marital_Status_name}}
                                </option>
                            </select>

                            <p class="help-block" ng-show="Myform.maristat1.$error.required &&(Myform.maristat1.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>{{"Blood Group"| translate }}</label>
                            <select id="Select4" class="form-control input-sm full-width" ng-model="temp.em_blood_group_code">
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="blood in obj" value="{{blood.em_blood_group_code}}" class=" form-control input-sm" ng-if="blood.em_blood_group_code.length">
                                    {{blood.em_blood_group_name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label>{{"Country"| translate }}</label>
                            <select id="Select7" class="form-control input-sm full-width"
                                    ng-model="temp.em_Country_Code" ng-selected=""
                                    ng-options="country.em_Country_Code as country.em_Country_name for country in country_data"></select>
                        </div>
                        <div class="col-md-2" ng-class="{'has-error': !Myform.nation.$valid && (Myform.nation.$touched || Myform.$submitted)}">
                            <label>{{"Nationality"| translate }}</label>

                            <select id="Select28" name="nation" class="form-control input-sm full-width" ng-model="temp.em_Nation_Code" ng-change="someMethod()" required>
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="nationality in obj" value="{{nationality.em_Nation_Code}}" class=" form-control input-sm" ng-if="nationality.em_Nation_Code.length">
                                    {{nationality.em_Nation_name}}
                                </option>
                            </select>

                            <p class="help-block" ng-show="Myform.nation.$error.required &&(Myform.nation.$touched || Myform.$submitted)">
                                This field is required
                            </p>

                        </div>
                        <div class="col-md-2">
                            <label>{{"Religion"| translate }}</label>

                            <select id="Select29" class="form-control input-sm full-width" ng-model="temp.em_Religion_Code">
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="rel in obj" value="{{rel.em_Religion_Code}}" class=" form-control input-sm" ng-if="rel.em_Religion_name.length">
                                    {{rel.em_Religion_name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-2" ng-class="{'has-error': !Myform.emailID.$valid && (Myform.emailID.$touched || Myform.$submitted)}">
                            <label>{{"Email ID"| translate }}</label>
                            <input type="text" class="k-textbox input-sm full-width" id="Text9" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" name="emailID" ng-model="temp.em_email">
                            <p class="help-block" ng-show="Myform.emailID.$error.pattern" style="color: #A52A2A">
                                Please Enter Valid Email
                            </p>
                        </div>
                        <div class="col-md-2" ng-class="{'has-error': !Myform.mobnum.$valid && (Myform.mobnum.$touched || Myform.$submitted)}">
                            <label>{{"Mobile Number"| translate }}</label>
                            <input type="text" class="k-textbox input-sm full-width" id="mob" ng-maxlength="10" ng-pattern="/^(\d)+$/" name="mobnum" ng-model="temp.em_mobile">
                            <p class="help-block" ng-show="Myform.mobnum.$error.pattern && (Myform.mobnum.$touched || Myform.$submitted)">
                                Enter Only Digits
                            </p>
                            <p class="help-block" ng-show="Myform.mobnum.$error.maxlength && (Myform.mobnum.$touched || Myform.$submitted)">
                                Mobile Number can not be longer than 10 digits
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4" ng-class="{'has-error': !Myform.emerg_cont_name1.$valid && (Myform.emerg_cont_name1.$touched || Myform.$submitted)}">
                            <label>{{"Emergency Contact Name1"| translate }}</label>
                            <input type="text" class="k-textbox input-sm full-width" id="txt_mobile_number3" pattern="[A-Za-z\s]+" name="emerg_cont_name1" ng-model="temp.em_emergency_contact_name1">
                            <p class="help-block" ng-show="Myform.emerg_cont_name1.$error.pattern && (Myform.emerg_cont_name1.$touched || Myform.$submitted)">
                                Enter only Characters
                            </p>
                        </div>
                        <div class="col-md-4" ng-class="{'has-error': !Myform.emerg_cont_num1.$valid && (Myform.emerg_cont_num1.$touched || Myform.$submitted)}">
                            <label>{{"Emergency Contact Number1"| translate }}</label>
                            <input type="text" class="k-textbox input-sm full-width" id="txt_driver_address" ng-maxlength="10" ng-pattern="/^(\d)+$/" name="emerg_cont_num1" ng-model="temp.em_emergency_contact_number1">
                            <p class="help-block" ng-show="Myform.emerg_cont_num1.$error.pattern && (Myform.emerg_cont_num1.$touched || Myform.$submitted)">
                                Enter Only Digits
                            </p>
                            <p class="help-block" ng-show="Myform.emerg_cont_num1.$error.maxlength && (Myform.emerg_cont_num1.$touched || Myform.$submitted)">
                                Mobile Number can not be longer than 10 digits
                            </p>
                        </div>
                        <div class="col-md-4">
                            <label>{{"Summary Address"| translate }}</label>
                            <input type="text" class="k-textbox input-sm full-width" id="Text10" name="txt_driver_visa_issuing_place" ng-model="temp.em_summary_address">
                        </div>
                    </div>


                    <div class="col-md-2">
                        <label>{{"Roles"| translate }}</label>
                        <select id="Select8" class="form-control input-sm full-width" ng-show="roleList"
                                ng-model="temp.comn_role_code"
                                ng-options="role.comn_role_code as role.comn_role_name for role in roles_data"></select>
                        <input type="text" id="Text5" ng-model="temp.comn_role_name" class="k-textbox input-sm full-width" ng-show="roleText" ng-readonly="roleReadOnly" />
                    </div>
                    <div class="col-md-4">
                        <label ng-show="qatar">{{"Qatar ID"| translate }}</label>
                        <label ng-show="uae">{{"Emirates ID"| translate }}</label>
                        <input type="text" class="k-textbox input-sm full-width" id="Text6" name="txt_driver_visa_issuing_place" ng-readonly="national_id_readnly" ng-model="temp.em_national_id">
                    </div>
            

            <div class="row">
                <div class="col-md-4" ng-class="{'has-error': !Myform.iban_no.$valid && (Myform.iban_no.$touched || Myform.$submitted) }">
                    <label>{{"IBAN Number"| translate }}</label>
                    <input type="text" class="k-textbox input-sm full-width" ng-maxlength="20" ng-pattern="/^(\d)+$/" id="Text35" name="iban_no" ng-readonly="iban_number_readnly" ng-model="temp.em_iban_no">

                    <p class="help-block" ng-show=" Myform.iban_no.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                        Iban Number Should be Max 20
                    </p>
                    <p class="help-block" ng-show=" Myform.iban_no.$error.pattern && (!Myform.$pristine && Myform.$submitted)">
                        Enter only Digit
                    </p>
                </div>

                <div class="col-md-4" ng-class="{'has-error': !Myform.bank_ac_no.$valid && (Myform.bank_ac_no.$touched || Myform.$submitted) }">
                    <label>{{"Bank Account Number"| translate }}</label>
                    <input type="text" class="k-textbox input-sm full-width" id="Text33" ng-maxlength="20" ng-pattern="/^(\d)+$/" name="bank_ac_no" ng-readonly="bank_ac_no_readnly" ng-model="temp.em_bank_ac_no">

                    <p class="help-block" ng-show=" Myform.bank_ac_no.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                        Bank Account Number Should be Max 20
                    </p>
                    <p class="help-block" ng-show=" Myform.bank_ac_no.$error.pattern && (!Myform.$pristine && Myform.$submitted)">
                        Enter only Digit
                    </p>
                </div>

                <div class="col-md-2">
                    <label>{{"Visa Type"| translate }}</label>
                    <select id="Select1" class="form-control input-sm full-width" ng-model="temp.em_visa_type_code">
                        <option value="" selected disabled>Please select</option>
                        <option ng-repeat="visa in obj" value="{{visa.em_visa_type_code}}" class=" form-control input-sm" ng-if="visa.em_visa_type.length">
                            {{visa.em_visa_type}}
                        </option>
                    </select>
                </div>

                <div class="col-md-2">
                    <label>{{"Roles"| translate }}</label>
                    <select id="Select5" class="form-control input-sm full-width" ng-show="roleList"
                            ng-model="temp.comn_role_code"
                            ng-options="role.comn_role_code as role.comn_role_name for role in roles_data"></select>
                    <input type="text" id="Text1" ng-model="temp.comn_role_name" class="k-textbox input-sm full-width" ng-show="roleText" ng-readonly="roleReadOnly" />
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-actions">
                    <div class="pull-right">
                        <button type="submit" id="empsave" ng-click="SaveData(Myform.$valid)" ng-show="Save_btn" ng-disabled="saveBtnDisEn" class="btn btn-primary btn-cons btn-small">Submit</button><!--ng-click="SaveData(Myform.$valid)"-->
                        <button type="button" id="updt" ng-show="Update_btn" class="btn btn-primary btn-cons btn-small" ng-click="UpdateData();">Update</button>
                        <button type="button" id="cancel" class="btn btn-warning btn-cons btn-small" ng-click="Cancel();">Reset</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
    </div>

<div class="modal fade in" id="MyModal" role="dialog" style="display: none;">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 1000px;">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px"><b>&nbsp&nbsp&nbsp&nbsp Search Employee</b></h4>
                </div>
            </div>
            <div class="grid-body no-border">
                <div class="tab-content">
                    <div class="tab-pane active" id="Employee_information">
                        <div class="column-seperation">
                            <div class="tab-pane" id="Div5" aria-expanded="true">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>User Code</label>
                                        <input type="text" class="k-textbox input-sm full-width" ng-model="temp.em_login_code" />
                                    </div>
                                    <div class="col-md-4">
                                        <label>Employee Name</label>
                                        <input type="text" class="k-textbox input-sm full-width" ng-model="temp.EmpName" />
                                    </div>
                                    <div class="col-md-4">
                                        <label>&nbsp;</label>
                                        <div class="pull-right">
                                            <button type="button" class="btn btn-primary btn-cons btn-small" ng-click="EmployeeDetails();">Search</button>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="NodataEmployee">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 style="text-align: center">Sorry No Data Found</h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" ng-show="EmployeeTable">
                                    <div id="Div4" class="dataTables_wrapper form-inline">
                                        <div class=" ">
                                            <div class="col-md-12">
                                                <table class="table table-bordered table-condensed" id="fixTable1">
                                                    <thead>
                                                        <tr>
                                                            <th class="semi-bold">EMPLOYEE NUMBER</th>
                                                            <th class="semi-bold">EMPLOYEE NAME</th>
                                                            <th class="semi-bold">MOBILE NO</th>
                                                            <th class="semi-bold">EMAIL ID </th>
                                                            <th class="semi-bold">EMPLOYEE STATUS </th>
                                                            <th class="semi-bold">ACTION</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                        <tr ng-repeat="emp in Employee_Details">

                                                            <td>{{emp.em_login_code}}</td>
                                                            <td>{{emp.empName}}</td>
                                                            <td>{{emp.em_mobile}}</td>
                                                            <td>{{emp.em_email}}</td>
                                                            <td>{{emp.em_service_status_name}}</td>
                                                            <td>
                                                                <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c btn-small" ng-click="EmployeeAdd(emp);" data-dismiss="modal" type="submit">ADD</button>
                                                            </td>
                                                            <!--<td><a href=""><i class="fa fa-edit" ng-click="SearchParentChild(info)" data-dismiss="modal"></i></a>-->
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>


    </div>
</div>
<div class="modal fade" id="Div1">
    <div class="modal-dialog" id="top" style="width: 400px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="msg" class="close" data-dismiss="modal" aria-label="Close" ng-click="Cancel()"><span aria-hidden="true">&times;</span></button>
                <h5 class="semi-bold pull-left">Message</h5>
                <br />
            </div>
            <div class="modal-body">
                <br />
                <label class="semi-bold">{{CUDobj.strMessage}}</label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-small" data-dismiss="modal" ng-click="Cancel()">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ErrorMessage">
    <div class="modal-dialog" id="Div6" style="width: 300px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="semi-bold pull-left">{{"Message" | translate }}</h5>
                <br />
            </div>
            <div class="modal-body">
                <br />
                <label class="form-label semi-bold help">{{"Error In Adding Employee Details" | translate }}</label>
                <br />
            </div>
            <div class="modal-footer" style="height: 60px">
                <button type="button" class="btn btn-primary btn-cons btn-small" data-dismiss="modal">{{"Ok" | translate }}</button>
            </div>
        </div>
    </div>
</div>

<script src="assets/js/calender-datepicker-id.js"></script>
<!--<script src="assets/js/tabs_accordian.js"></script>
<script src="assets/js/tableHeadFixer.js"></script>-->
