﻿<style>
    .sortorder:after {
        content: '\25b2';
    }

    .sortorder.reverse:after {
        content: '\25bc';
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <!--Employee Hobbies Master-->
                <h3><span class="semi-bold">{{"Employee Hobbies Master"| translate }}</span> </h3>
            </div>

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">
                           

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="grid-body no-border">
                <div ng-show="table">
                    <div class="row form-row">
                        <div class="col-md-6">
                            <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                <option value="10" class="form-control input-sm">
                                    10
                                </option>

                                <option value="20" class="form-control input-sm">
                                    20
                                </option>

                                <option value="All" class="form-control input-sm">
                                    All
                                </option>
                            </select>
                            &nbsp;
                            <button class="btn btn-success btn-small" type="button" id="designew" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate }}</button>
                            &nbsp;
                            <button class="btn btn-danger btn-small" type="button" ng-click="OkDelete()"><span class="semi-bold"></span>{{"Delete"| translate }}</button>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <div class="dataTables_filter" id="example_filter">
                                    <span class="k-textbox k-space-right full-width">
                                        <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                        <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-hover table-condensed" id="fixTable">
                                    <thead style="background-color: white">
                                        <tr style="background-color: #edefef">
                                            <th class="small-cell v-align-middle" style="z-index: 1">
                                                <div class="checkbox check-success">
                                                    <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                                    <label for="mainchk"></label>
                                                </div>
                                            </th>


                                            <th ng-click="sortBy('pays_hobbies_desc')">
                                                <label><b>{{"Hobbies Description"| translate }}</b>
                                                    <span class="sortorder" ng-show="propertyName === 'pays_hobbies_desc'" ng-class="{reverse: reverse}"></span>
                                                </label>
                                            </th>

                                            <th ng-click="sortBy('pays_hobbies_display_oder')">
                                                <label><b>{{"Hobbies Order"| translate }}</b>
                                                    <span class="sortorder" ng-show="propertyName === 'pays_hobbies_display_oder'" ng-class="{reverse: reverse}"></span>
                                                </label>
                                            </th>

                                            <th>
                                                <label><b>{{"Status"| translate }}</b></label>
                                            </th>
                                            <th class="semi-bold">
                                                <label><i class="fa fa-cogs"></i></label>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="j in filteredTodos | orderBy:propertyName:reverse" ng-class="row1">
                                            <td>
                                                <div class="row-fluid">
                                                    <div class="checkbox check-success" style="height: 20px">
                                                        <input id="test-{{j.pays_hobbies_code}}" type="checkbox" value="1" ng-click="checkonebyonedelete()">
                                                        <label for="test-{{j.pays_hobbies_code}}"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <label id="lbl">{{j.pays_hobbies_desc}}</label>
                                            </td>
                                            <td>
                                                <label id="Label5">{{j.pays_hobbies_display_oder}}</label>
                                            </td>

                                            <td class="v-align-middle">
                                                <span class="label label-success" ng-if="j.pays_hobbies_status==true">{{"Active"| translate }}</span>
                                                <span class="label label-important" ng-if="j.pays_hobbies_status==false">{{"In active"| translate }}</span>
                                            </td>

                                            <td>
                                                <button ng-click="edit(j)"><i class="fa fa-edit"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row" ng-show="pagerForAll">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                            ng-click="index(currentPage)">
                                    </paging>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div ng-show="display">
                    <form name="Myform" ng-submit="savedata(Myform.$valid)" novalidate="novalidate">

                        <div class="row">

                            <div class="col-md-4" ng-class="{'has-error': !Myform.qual_desc.$valid && (Myform.qual_desc.$touched || Myform.$submitted) }">

                                <label id="Label1" for="txt_Country_Code" class="form-label">{{"Hobbies Description"| translate }} <span style="color:red">*</span></label>

                                <input type="text" name="qual_desc" class="k-textbox input-sm full-width" ng-maxlength="100" ng-model="temp.pays_hobbies_desc" ng-blur="checkDescAlreadyExists();" required />

                                <p class="help-block" ng-show="Myform.qual_desc.$error.required &&  (Myform.qual_desc.$touched || Myform.$submitted)">
                                    {{"This field is required"| translate }}
                                </p>
                                <p class="help-block" ng-show="Myform.qual_desc.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                    Hobbies Description Length Should be Max 100
                                </p>
                            </div>
                            <div class="col-md-4" ng-class="{'has-error': !Myform.qual_order.$valid && (Myform.qual_order.$touched || Myform.$submitted) }">

                                <label id="Label2" for="txt_Country_Code" class="form-label">{{"Hobbies Order"| translate }} <span style="color:red">*</span></label>

                                <input type="text" name="qual_order" class="k-textbox input-sm full-width" ng-maxlength="40" ng-model="temp.pays_hobbies_display_oder" ng-pattern="/^(\d)+$/" required />

                                <p class="help-block" ng-show="Myform.qual_order.$error.required &&  (Myform.qual_order.$touched || Myform.$submitted)">
                                    {{"This field is required"| translate }}
                                </p>
                                <p class="help-block" ng-show="Myform.qual_order.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                    {{"Hobbies Order Length Should be Max 40"| translate }}
                                </p>
                                <p class="help-block" ng-show="Myform.qual_order.$error.pattern && (!Myform.$pristine && Myform.$submitted)">
                                    {{"Enter only Digits"| translate }}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <label id="Label13" for="txt_full_name" class="form-label">{{"Hobbies Status"| translate }}</label>
                                <div class="row-fluid">
                                    <div class="checkbox check-success">
                                        <input id="checkbox3" type="checkbox" class="k-checkbox" value="1" ng-model="temp.pays_hobbies_status">
                                        <label for="checkbox3"></label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12">
                            <div class="form-actions">
                                <div class="pull-right">
                                    <button type="submit" id="desigsub" ng-show="save_btn" class="btn btn-primary btn-small">{{"Save"| translate }}</button>
                                    <button type="button" ng-show="Update_btn" ng-click="update(Myform.$valid);" class="btn btn-primary btn-small">{{"Update"| translate }}</button>
                                    <button type="button" class="btn btn-danger btn-small" ng-click="Cancel();">{{"Cancel"| translate }}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Div1">
    <div class="modal-dialog" id="Div3" style="width: 300px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="semi-bold pull-left">{{"Message"| translate }}</h5>
                <br />
            </div>
            <div class="modal-body">
                <br />
                <label>{{msg1.strMessage}}</label>
                <br />
            </div>
            <div class="modal-footer" style="height: 60px">
                <button type="button" class="btn btn-primary btn-small" data-dismiss="modal" ng-click="maindata();">{{"Ok"| translate }}</button>
            </div>
        </div>
    </div>
</div>
<script src="assets/js/tableHeadFixer.js"></script>
<!--<script src="assets/js/add-ng-disabled.js"></script>-->