﻿<style>
    body {
        padding: 10px;
    }

    #exTab1 .tab-content {
        color: white;
        background-color: #428bca;
        padding: 5px 15px;
    }

    #exTab2 h3 {
        color: white;
        background-color: #428bca;
        padding: 5px 15px;
    }

    /* remove border radius for the tab */

    #exTab1 .nav-pills > li > a {
        border-radius: 0;
    }

    /* change border radius for the tab , apply corners on top*/

    #exTab3 .nav-pills > li > a {
        border-radius: 4px 4px 0 0;
    }

    #exTab3 .tab-content {
        color: white;
        background-color: #428bca;
        padding: 5px 15px;
    }
</style>
<!--<link href="assets/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />-->
<!--<div class="loading-middle" ng-hide="table">
    {{ "Loading..." | translate }}
</div>-->
<link href="assets/css/mino.css" rel="stylesheet" />
<style>
    ul.dropdown-menu li {
        cursor: pointer;
    }

        ul.dropdown-menu li span.red {
            color: red;
        }

        ul.dropdown-menu li span.green {
            color: green;
        }
</style>

<form name="Myform" ng-submit="SaveData(Myform.$valid)" novalidate="novalidate">
    <div class="row">
        <div class="pull-right" style="width: 450px;">
            <div class="col-md-6">
                <input type="text" class="k-textbox input-sm" style="width: 100%;" id="Text28" style="width: 186px" name="empsrch" ng-model="temp.enroll_number1">
            </div>
            <div class="col-md-6">
                <button type="button" id="Button2" class="btn btn-primary btn-small" style="width: 70px; height: 30px" ng-click="globalSrch()">{{"Search" | translate}} </button>
                <button type="button" id="Button1" class="btn btn-primary btn-small" style="width: 70px; height: 30px" ng-disabled="showBtn" ng-click="EmpSearch1(temp.enroll_number1)">{{"Show" | translate}}</button>
            </div>
        </div>
    </div>


    <div id="exTab2" class="container" style="margin-top: 15px;">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#1a" data-toggle="tab" style="color:white; background-color: #f35958;">Personal Details</a>
            </li>
            <li>
                <a href="#2a" data-toggle="tab" style="color:white; background-color: #62cb31;">Passport Details</a>
            </li>
            <li>
                <a href="#3a" data-toggle="tab" style="color:white; background-color: #31698a;">Qatar ID Details</a>
            </li>
            <li>
                <a href="#4a" data-toggle="tab" style="color:white; background-color: #800080;">Agreement Details</a>
            </li>
            <li>
                <a href="#5a" data-toggle="tab" style="color:white; background-color: #003366;">Financial Details</a>
            </li>
            <li>
                <a href="#6a" data-toggle="tab" style="color:white; background-color: #666666;">Ministry Details</a>
            </li>
            <li>
                <a href="#7a" data-toggle="tab" style="color:white; background-color: #0e2f44;">Health Details</a>
            </li>
        </ul>

        <div class="tab-content ">

            <div class="tab-pane active" id="1a">
                <div id="Div1" class="dataTables_wrapper form-inline">

                    <div class="row">
                        <div class="col-md-2">
                            <label style="font-size: small; color: black">{{"Image Upload"| translate }}</label>
                            <img alt="" src="{{prev_img}}" style="width: 70px; height: 85px;display: block;" ng-src="{{imageUrl + temp.em_img}}">
                            <input type="file" id="file2" name="file" onchange="angular.element(this).scope().file_changed(this)"
                                   ng-files="getTheFiles($files)" accept="image/*" style="float: initial; width: 120px;" ng-hide="true" />

                            <div style="margin-top: 5px;margin-left: -13px;">
                                <button type="button" style="margin-left: 10px;" class="label label-important" ng-click="image_click()" data-toggle="modal">{{"Upload" | translate}}</button>
                                <button type="button" class="label label-important" ng-disabled="delete_btn" ng-click="delete_img()" data-toggle="modal">{{"Delete" | translate}}</button>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-2">
                            <label style="font-size: small; color: black">{{"Salutation"| translate }}</label>
                            <select name="cmb_acdm_yr" id="select21" style="width: 100%" ng-model="temp.em_Salutation_Code">
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="sal in obj" value="{{sal.em_Salutation_Code}}" class=" form-control input-sm" ng-if="sal.em_Salutation_name.length">
                                    {{sal.em_Salutation_name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <!--ng-class="{'has-error': !Myform.fname.$valid && (Myform.fname.$touched || Myform.$submitted) }"-->
                            <label style="font-size: small; color: black">{{"First Name"| translate }}</label>
                            <input type="text" class="k-textbox" style="width: 100%;" id="Text2" name="fname" maxlength="50" ng-model="temp.em_first_name" required>
                            <p class="help-block" ng-show="Myform.fname.$error.required &&(Myform.fname.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>
                        <div class="col-md-2">
                            <label style="font-size: small; color: black">{{"Middle Name"| translate }}</label>
                            <input type="text" class="k-textbox" style="width: 100%;" id="Text7" maxlength="50" name="midnm" ng-model="temp.em_middle_name">
                        </div>
                        <div class="col-md-2">
                            <label style="font-size: small; color: black">{{"Last Name"| translate }}</label>
                            <input type="text" class="k-textbox" style="width: 100%;" id="Text8" name="lastnm" maxlength="50" ng-model="temp.em_last_name">
                        </div>
                        <div class="col-md-2">
                            <label style="font-size: small; color: black">{{"Family Name"| translate }}</label>
                            <input type="text" class="k-textbox" style="width: 100%;" id="Text12" name="family_name" maxlength="50" ng-model="temp.em_family_name">
                        </div>
                        <div class="col-md-2" ng-class="{'has-error': !Myform.nameinot.$valid && (Myform.nameinot.$touched || Myform.$submitted) }">
                            <label style="font-size: small; color: black">{{"Name In Other"| translate }}</label>
                            <input type="text" class="k-textbox" style="width: 100%;" id="Text9" name="nameinot" maxlength="100" ng-model="temp.em_name_ot">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label style="font-size: small; color: black">{{"Apartment Name"| translate }}</label>
                            <input type="text" class="k-textbox" style="width: 100%;" id="Text10" ng-maxlength="20" maxlength="20" name="appnum" ng-model="temp.em_apartment_number">
                        </div>
                        <div class="col-md-4">
                            <label style="font-size: small; color: black">{{"Building Name"| translate }}</label>
                            <input type="text" class="k-textbox" style="width: 100%;" id="Text11" ng-maxlength="20" maxlength="20" name="builnum" ng-model="temp.em_building_number">
                        </div>
                        <div class="col-md-4">
                            <label style="font-size: small; color: black">{{"Street Name"| translate }}</label>
                            <input type="text" class="k-textbox" style="width: 100%;" id="Text13" ng-maxlength="20" maxlength="20" name="streetnum" ng-model="temp.em_street_number">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label style="font-size: small; color: black">{{"Area Number"| translate }}</label>
                            <input type="text" class="k-textbox" style="width: 100%;" id="Text14" maxlength="20" name="areanum" ng-model="temp.em_area_number">
                        </div>
                        <div class="col-md-4">
                            <label style="font-size: small; color: black">{{"Summary Address"| translate }} </label>
                            <input type="text" class="k-textbox" style="width: 100%;" id="Text15" name="sum_addr" maxlength="100" ng-model="temp.em_summary_address">
                        </div>
                        <div class="col-md-4">
                            <label style="font-size: small; color: black">{{"Summary Address In Local Language"| translate }}</label>
                            <input type="text" class="k-textbox" style="width: 100%;" id="Text16" name="sum_addr_in_local" maxlength="100" ng-model="temp.em_summary_address_local_language">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label style="font-size: small; color: black">{{"Country"| translate }}</label>
                            <select id="Select2" style="width: 100%" ng-model="temp.em_Country_Code" ng-change="getstate(temp.em_Country_Code)">
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="country in obj" value="{{country.em_Country_Code}}" class="k-textbox" style="width: 100%;" ng-if="country.em_Country_Code.length">
                                    {{country.em_Country_name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <div class="row form-row">
                                <div class="col-md-12">
                                    <label style="font-size: small; color: black">{{"State"| translate }}</label>
                                    <select id="state" class="form-control" name="state" style="width: 100%"
                                            ng-model="temp.em_State_Code" ng-change="getcity(temp.em_State_Code)"
                                            ng-options="st.em_State_Code as st.em_State_name for st in stt"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label style="font-size: small; color: black">{{"City"| translate }}</label>
                            <select id="Select3" style="width: 100%" class="form-control" name="city"
                                    ng-model="temp.em_City_Code"
                                    ng-options="ct.em_City_Code as ct.em_City_name for ct in ctt"></select>
                        </div>
                        <div class="col-md-2" ng-class="{'has-error': !Myform.dob.$valid && (Myform.dob.$touched || Myform.$submitted)}">
                            <label style="font-size: small; color: black">{{"Date Of Birth"| translate }} <span style="color:red;">*</span></label>

                            <input type="text" id="dob" name="dob" class="k-textbox full-width" ng-model="temp.em_date_of_birth" required />
                            <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->

                            <p class="help-block" ng-show="Myform.dob.$error.required &&(Myform.dob.$touched || Myform.$submitted)" style="color: #f35958;">
                                This field is required
                            </p>
                        </div>
                        <div class="col-md-2" ng-class="{'has-error': !Myform.gen.$valid && (Myform.gen.$touched || Myform.$submitted) }">
                            <label style="font-size: small; color: black">{{"Gender"| translate }} <span style="color:red;">*</span></label>

                            <select name="gen" id="Select5" style="width: 100%" ng-model="temp.em_Sex_Code" required>
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="gender in obj" value="{{gender.em_Sex_Code}}" class="k-textbox" style="width: 100%;" ng-if="gender.em_Sex_Code.length">
                                    {{gender.em_Sex_name}}
                                </option>
                            </select>

                            <p class="help-block" ng-show="Myform.gen.$error.required &&(Myform.gen.$touched || Myform.$submitted)" style="color: #f35958;">
                                This field is required
                            </p>

                        </div>
                        <div class="col-md-2" ng-class="{'has-error': !Myform.maristat1.$valid && (Myform.maristat1.$touched || Myform.$submitted) }">
                            <label style="font-size: small; color: black">{{"Marital Status"| translate }} <span style="color:red;">*</span></label>
                            <select name="maristat1" id="Select6" data-role="dropdownlist" class="form-control" style="width: 100%" ng-model="temp.em_Marital_Status_Code" required>
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="marstat in obj" value="{{marstat.em_Marital_Status_Code}}" class="form-control input-sm" ng-if="marstat.em_Marital_Status_name.length">
                                    {{marstat.em_Marital_Status_name}}
                                </option>
                            </select>
                            <p class="help-block" ng-show="Myform.maristat1.$error.required &&(Myform.maristat1.$touched || Myform.$submitted)" style="color: #f35958;">
                                This field is required
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4" ng-class="{'has-error': !Myform.cmbcomp.$valid && (Myform.cmbcomp.$touched || Myform.$submitted) }">
                            <label style="font-size: small; color: black">{{"Company Name"| translate }} <span style="color:red;">*</span></label>
                            <select name="cmbcomp" id="Select7" data-role="dropdownlist" class="form-control" style="width: 100%" ng-model="temp.em_Company_Code" required>
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="cmpname in obj" value="{{cmpname.em_Company_Code}}" class="k-textbox" style="width: 100%;" ng-if="cmpname.em_Company_name.length">
                                    {{cmpname.em_Company_name}}
                                </option>
                            </select>

                            <p class="help-block" ng-show="Myform.cmbcomp.$error.required &&(Myform.cmbcomp.$touched || Myform.$submitted)">
                                This field is required
                            </p>

                        </div>

                        <div class="col-md-2" ng-class="{'has-error': !Myform.desig.$valid && (Myform.desig.$touched || Myform.$submitted)}">
                            <label style="font-size: small; color: black">{{"Designation"| translate }} <span style="color:red;">*</span></label>
                            <select name="desig" id="Select8" data-role="dropdownlist" class="form-control" style="width: 100%" ng-model="temp.em_Designation_Code" required>
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="desig in obj" value="{{desig.em_Designation_Code}}" class="form-control input-sm" ng-if="desig.em_Designation_Code.length">
                                    {{desig.em_Designation_name}}
                                </option>
                            </select>
                            <p class="help-block" ng-show="Myform.desig.$error.required &&(Myform.desig.$touched || Myform.$submitted)" style="color: #f35958;">
                                This field is required
                            </p>
                        </div>

                        <div class="col-md-2">
                            <label style="font-size: small; color: black">{{"Staff Type"| translate }}</label>
                            <select id="Select9" data-role="dropdownlist" class="form-control" style="width: 100%" ng-change="change_em_teacher_status()" ng-model="temp.em_Staff_Type_Code">
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="staff in obj" value="{{staff.em_Staff_Type_Code}}" class="k-textbox" style="width: 100%;" ng-if="staff.em_Staff_Type_Code.length">
                                    {{staff.em_Staff_Type_name}}
                                </option>
                            </select>
                        </div>

                        <div class="col-md-2" ng-class="{'has-error': !Myform.nation.$valid && (Myform.nation.$touched || Myform.$submitted)}">
                            <label style="font-size: small; color: black">{{"Nationality"| translate }} <span style="color:red;">*</span></label>

                            <select id="Select10" name="nation" data-role="dropdownlist" class="form-control" style="width: 100%" ng-model="temp.em_Nation_Code" required>
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="nationality in obj" value="{{nationality.em_Nation_Code}}" class="form-control input-sm" ng-if="nationality.em_Nation_Code.length">
                                    {{nationality.em_Nation_name}}
                                </option>
                            </select>
                            <p class="help-block" ng-show="Myform.nation.$error.required &&(Myform.nation.$touched || Myform.$submitted)" style="color: #f35958;">
                                This field is required
                            </p>

                        </div>

                        <div class="col-md-2">
                            <label style="font-size: small; color: black">{{"Destination"| translate }}</label>
                            <select id="Select11" data-role="dropdownlist" class="form-control" style="width: 100%" ng-model="temp.em_Dest_Code">
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="desti in obj" value="{{desti.em_Dest_Code}}" class="k-textbox" style="width: 100%;" ng-if="desti.em_Dest_Code.length">
                                    {{desti.em_Dest_name}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label style="font-size: small; color: black">{{"Email ID"| translate }}</label>
                            <input type="text" class="k-textbox" style="width: 100%;" id="Text17" ng-maxlength="50" maxlength="50" name="email" ng-model="temp.em_email">

                            <p class="help-block" ng-show="Myform.email.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                Email Should be Max 50
                            </p>
                            <!-- <p class="help-block" ng-show="Myform.email.$error.pattern">
                                Please Enter Valid Email  ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"   ng-class="{'has-error': !Myform.email.$valid && (Myform.email.$touched || Myform.$submitted) }"
                            </p>-->
                        </div>
                        <div class="col-md-2">
                            <label style="font-size: small; color: black">{{"Phone Number"| translate }}</label>
                            <input type="text" class="k-textbox" style="width: 100%;" id="Text18" ng-maxlength="25" maxlength="25" name="phone_number" ng-model="temp.em_phone">
                        </div>
                        <div class="col-md-2">
                            <label style="font-size: small; color: black">{{"Mobile Number"| translate }}</label>
                            <input type="text" class="k-textbox" style="width: 100%;" id="Text19" name="mob_num" ng-maxlength="25" maxlength="25" ng-model="temp.em_mobile">
                        </div>
                        <div class="col-md-4">
                            <label style="font-size: small; color: black">{{"Fax Number"| translate }}</label>
                            <input type="text" class="k-textbox" style="width: 100%;" id="Text20" ng-maxlength="25" maxlength="25" name="fax_num" ng-model="temp.em_fax">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label style="font-size: small; color: black">{{"Post Number"| translate }}</label>
                            <input type="text" class="k-textbox" style="width: 100%;" id="Text21" ng-maxlength="10" maxlength="10" name="post_no" ng-model="temp.em_post">
                        </div>
                        <div class="col-md-4">
                            <label style="font-size: small; color: black">{{"Emergency Contact Name1"| translate }}</label>
                            <input type="text" class="k-textbox" style="width: 100%;" id="Text22" ng-maxlength="50" maxlength="50" name="contact_name1" ng-model="temp.em_emergency_contact_name1">
                        </div>
                        <div class="col-md-4">
                            <label style="font-size: small; color: black">{{"Emergency Contact Number1"| translate }}</label>
                            <input type="text" class="k-textbox" style="width: 100%;" id="Text24" maxlength="15" name="contact_num1" ng-model="temp.em_emergency_contact_number1">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label style="font-size: small; color: black">{{"Emergency Contact Relation1"| translate }}</label>
                            <input type="text" class="k-textbox" style="width: 100%;" id="Text45" ng-maxlength="50" maxlength="50" name="contact_num1" ng-model="temp.em_emergency_relation1">
                        </div>
                        <div class="col-md-4">
                            <label style="font-size: small; color: black">{{"Emergency Contact Name2"| translate }}</label>
                            <input type="text" class="k-textbox" style="width: 100%;" id="Text23" ng-maxlength="50" maxlength="50" name="contact_name2" ng-model="temp.em_emergency_contact_name2">
                        </div>
                        <div class="col-md-4">
                            <label style="font-size: small; color: black">{{"Emergency Contact Number2"| translate }}</label>
                            <input type="text" class="k-textbox" style="width: 100%;" id="Text25" ng-maxlength="50" maxlength="25" name="contact_num2" ng-model="temp.em_emergency_contact_number2">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label style="font-size: small; color: black">{{"Emergency Contact Relation2"| translate }}</label>
                            <input type="text" class="k-textbox" style="width: 100%;" id="Text46" ng-maxlength="50" maxlength="50" name="contact_num1" ng-model="temp.em_emergency_relation2">
                        </div>
                        <div class="col-md-2">
                            <label style="font-size: small; color: black">{{"Religion"| translate }}</label>
                            <select id="Select12" data-role="dropdownlist" class="form-control" style="width: 100%" ng-model="temp.em_Religion_Code">
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="rel in obj" value="{{rel.em_Religion_Code}}" class="form-control input-sm" ng-if="rel.em_Religion_name.length">
                                    {{rel.em_Religion_name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-2" ng-class="{'has-error': !Myform.doj.$valid && (Myform.doj.$touched || Myform.$submitted) }">
                            <label style="font-size: small; color: black">{{"Date Of Join"| translate }} <span style="color:red;">*</span></label>
                            <div class="no-padding">
                                <input type="text" id="DOJ" name="doj" class="k-textbox full-width" ng-change="setGrade_Dept(temp.em_date_of_join)" ng-model="temp.em_date_of_join" required />
                                <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                            </div>
                            <p class="help-block" ng-show="Myform.doj.$error.required &&(Myform.doj.$touched || Myform.$submitted)" style="color: #f35958;">
                                This field is required
                            </p>

                        </div>
                        <div class="col-md-2">
                            <label style="font-size: small; color: black">{{"Joining Reference"| translate }}</label>
                            <input type="text" class="k-textbox" style="width: 100%;" id="Text26" ng-maxlength="40" maxlength="40" name="join_ref" ng-model="temp.em_joining_ref">
                        </div>
                        <div class="col-md-2">
                            <label style="font-size: small; color: black">{{"Ethnicity"| translate }}</label>
                            <select id="Select14" data-role="dropdownlist" class="form-control" style="width: 100%" ng-model="temp.em_ethnicity_code">
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="eth in obj" value="{{eth.em_ethnicity_code}}" class="form-control input-sm" style="width: 100%;" ng-if="eth.em_ethnicity_code.length">
                                    {{eth.em_ethnicity_name}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label style="font-size: small; color: black">{{"Blood Group"| translate }}</label>
                            <select id="Select13" data-role="dropdownlist" class="form-control" style="width: 100%" ng-model="temp.em_blood_group_code">
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="blood in obj" value="{{blood.em_blood_group_code}}" class="form-control input-sm" ng-if="blood.em_blood_group_code.length">
                                    {{blood.em_blood_group_name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label style="font-size: small; color: black">{{"Person with Determination"| translate }}</label>
                            <div class="checkbox check-success" style="height: 15px;display: block;">
                                <input id="Checkbox6" type="checkbox" value="1" ng-model="temp.em_handicap_status">
                                <label for="Checkbox6"></label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label style="font-size: small; color: black">{{"Remarks/Awards"| translate }}</label>
                            <input type="text" class="k-textbox" style="width: 100%;" maxlength="200" id="Text44" ng-model="temp.em_remarks_awards">
                        </div>
                        <div class="col-md-4">
                            <label style="font-size: small; color: black">{{"Name of Spouse"| translate }}</label>
                            <input type="text" class="k-textbox" style="width: 100%;" maxlength="50" id="Text48" ng-model="temp.em_name_of_spouse">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label style="font-size: small; color: black">{{"Spouse Designation"| translate }}</label>
                            <select id="Select4" data-role="dropdownlist" class="form-control" style="width: 100%" ng-model="temp.em_Spouse_Designation_Code">
                                <option value="" selected disabled>Please select</option>
                                <option ng-repeat="desig in obj" value="{{desig.em_Designation_Code}}" class="form-control input-sm"
                                        ng-if="desig.em_Designation_Code.length">
                                    {{desig.em_Designation_name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label style="font-size: small; color: black">{{"Spouse Oraganization"| translate }}</label>
                            <input type="text" class="k-textbox" style="width: 100%;" id="Text49" ng-model="temp.em_spouse_organization">
                            <!--<p class="help-block" ng-show="Myform.join_ref.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                Emergency Contact Name1 Should be Max 40
                            </p>-->
                            <!--<p class="help-block" ng-show="Myform.join_ref.$error.pattern && (!Myform.$pristine && Myform.$submitted)">
                                Enter only Character
                            </p>-->
                        </div>
                        <div class="col-md-4">
                            <label style="font-size: small; color: black">{{"Spouse Qatar ID"| translate }}</label>
                            <input type="text" class="k-textbox" style="width: 100%;" maxlength="30" id="Text50" ng-model="temp.em_spouse_qatar_id">
                            <!-- <p class="help-block" ng-show="Myform.join_ref.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                Emergency Contact Name1 Should be Max 40
                            </p>-->
                            <!--  <p class="help-block" ng-show="Myform.join_ref.$error.pattern && (!Myform.$pristine && Myform.$submitted)">
                                Enter only Character
                            </p>-->
                        </div>
                        <div class="col-md-2">
                            <label style="font-size: small; color: black">{{"Contact Number"| translate }}</label>
                            <input type="text" class="k-textbox" style="width: 100%;" maxlength="20" id="Text51" ng-model="temp.em_spouse_contact_number">
                            <!--   <p class="help-block" ng-show="Myform.join_ref.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                Emergency Contact Name1 Should be Max 40
                            </p>-->
                            <!--<p class="help-block" ng-show="Myform.join_ref.$error.pattern && (!Myform.$pristine && Myform.$submitted)">
                                Enter only Character
                            </p>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label style="font-size:small;color:black;display:block;">{{"Employee as a teacher"| translate }}</label>
                            <div class="checkbox check-success" style="height: 15px">
                                <input id="Check_techer" type="checkbox" value="1" ng-model="temp.em_teacher_status">
                                <label for="Check_techer"></label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="tab-pane" id="2a">
                <div id="Div2" class="dataTables_wrapper form-inline">
                    <div style="width: 100%; height: auto; overflow-x: hidden; overflow-y: hidden">

                        <div class="col-md-12">

                            <div class="row form-row">
                                <div class="col-md-3" ng-class="{'has-error': !Myform.passport_no.$valid && (Myform.passport_no.$touched || Myform.$submitted) }">
                                    <label style="font-size: small; color: black">{{"Passport Number"| translate }}</label>

                                    <input type="text" class="k-textbox" style="width: 100%;" ng-maxlength="15" maxlength="15" id="Text1" name="passport_no" ng-model="temp.em_passport_no">
                                    <p class="help-block" ng-show="Myform.passport_no.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                        Passport Number Should be Max 15
                                    </p>

                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !Myform.passport_place.$valid && (Myform.passport_place.$touched || Myform.$submitted) }">
                                    <label style="font-size: small; color: black">{{"Passport Issue Place"| translate }}</label>

                                    <input type="text" class="k-textbox" style="width: 100%;" id="Text3" name="passport_place" ng-maxlength="25" maxlength="25" ng-model="temp.em_passport_issue_place">
                                    <p class="help-block" ng-show="Myform.passport_place.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                        Passport Issue Place Should be Max 25
                                    </p>
                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !Myform.pass_autho.$valid && (Myform.pass_autho.$touched || Myform.$submitted) }">
                                    <label style="font-size: small; color: black">{{"Passport Issuing Authority"| translate }}</label>
                                    <input type="text" class="k-textbox" style="width: 100%;" id="Text4" ng-maxlength="50" maxlength="50" name="pass_autho" ng-model="temp.em_passport_issuing_authority">
                                    <p class="help-block" ng-show="Myform.pass_autho.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                        Passport Issuing Authority Should be Max 50
                                    </p>
                                </div>

                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Passport Issue Date"| translate }}</label>
                                    <div class="col-md-3 col-lg-9 no-padding">
                                        <input type="text" id="passport_issue_date" name="date" class="k-textbox" style="width: 100%;" ng-model="temp.em_passport_issue_date">
                                        <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Passport Expiry Date"| translate }}</label>
                                    <div class="col-md-3 col-lg-9 no-padding">
                                        <input type="text" id="expiry_date" name="date" class="k-textbox" style="width: 100%;" ng-model="temp.em_passport_exp_date">
                                        <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Expiry Reminder Date"| translate }}</label>
                                    <div class="col-md-3 col-lg-9 no-padding">
                                        <input type="text" id="expiry_reminder_date" name="date" class="k-textbox" style="width: 100%;" ng-model="temp.em_pssport_exp_rem_date">
                                        <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="tab-pane" id="3a">
                <div id="Div3" class="dataTables_wrapper form-inline">
                    <div style="width: 100%; height: auto; overflow-x: hidden; overflow-y: hidden">

                        <div class="col-md-12">
                            <div class="row form-row">

                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Resident in Qatar Since"| translate }}</label>
                                    <div class="col-md-3 col-lg-9 no-padding">
                                        <input type="text" id="resident_in_Qatar_since" name="date" class="k-textbox" style="width: 100%;" ng-model="temp.em_resident_in_qatar_since">
                                        <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                    </div>
                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !Myform.visa_no.$valid && (Myform.visa_no.$touched || Myform.$submitted) }">
                                    <label style="font-size: small; color: black">{{"Qatar ID"| translate }}</label>

                                    <input type="text" class="k-textbox" style="width: 100%;" ng-maxlength="15" maxlength="15" id="Text37" name="visa_no" ng-model="temp.em_visa_no">
                                    <p class="help-block" ng-show="Myform.visa_no.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                        Passport Number Should be Max 15
                                    </p>

                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !Myform.visa_place.$valid && (Myform.visa_place.$touched || Myform.$submitted) }">
                                    <label style="font-size: small; color: black">{{"Qatar ID Issue Place"| translate }}</label>
                                    <input type="text" class="k-textbox" style="width: 100%;" id="Text6" ng-maxlength="25" maxlength="25" name="visa_place" ng-model="temp.em_visa_issuing_place">
                                    <p class="help-block" ng-show="Myform.visa_place.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                        Visa Issue Place Should be Max 25
                                    </p>
                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !Myform.visa_autho.$valid && (Myform.visa_autho.$touched || Myform.$submitted) }">
                                    <label style="font-size: small; color: black">{{"Qatar ID Issuing Authority"| translate }}</label>
                                    <input type="text" class="k-textbox" style="width: 100%;" id="Text27" ng-maxlength="25" maxlength="25" name="visa_autho" ng-model="temp.em_visa_issuing_authority">
                                    <p class="help-block" ng-show="Myform.visa_autho.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                        Visa Issuing Authority Should be Max 25
                                    </p>
                                </div>


                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">

                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Qatar ID Issue Date"| translate }}</label>
                                    <div class="col-md-3 col-lg-9 no-padding">
                                        <input type="text" id="qatar_id_issue_date" name="date" class="k-textbox" style="width: 100%;" ng-model="temp.em_visa_issue_date">
                                        <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Qatar ID Expiry Date"| translate }}</label>
                                    <div class="col-md-3 col-lg-9 no-padding">
                                        <input type="text" id="qatar_id_expiry_date" name="date" class="k-textbox" style="width: 100%;" ng-model="temp.em_visa_exp_date">
                                        <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Qatar ID Expiry Reminder Date"| translate }}</label>
                                    <div class="col-md-3 col-lg-9 no-padding">
                                        <input type="text" id="qatar_id_expiry_reminder_date" name="date" class="k-textbox" style="width: 100%;" ng-model="temp.em_visa_exp_rem_date">
                                        <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="tab-pane" id="4a">
                <div id="Div7" class="dataTables_wrapper form-inline">
                    <div style="width: 100%; height: auto; overflow-x: hidden; overflow-y: hidden">
                        <div class="col-md-12">
                            <div class="row form-row">
                                <!--<div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Agreement"| translate }}</label>
                                    <div class="checkbox check-success" style="height: 15px">
                                        <input id="aggregrement_status" type="checkbox" value="1" ng-model="temp.em_agreement">
                                        <label for="aggregrement_status"></label>ng-options="cont.cn_code as cont.cn_desc for cont in Contract_data"
                                    </div>
                                </div>-->
                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Contract"| translate }}</label>
                                    <select id="Select1" data-role="dropdownlist" class="form-control" style="width: 100%" ng-model="temp.em_agreement_code" ng-change="setAgreementDate(temp.em_agreement_code);">
                                        <option value="" selected disabled>Please select</option>
                                        <option ng-repeat="cont in Contract_data" value="{{cont.cn_code}}" class="form-control input-sm">
                                            {{cont.cn_desc}}
                                        </option>
                                    </select>
                                </div>

                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Start Date"| translate }}</label>
                                    <div class="no-padding">
                                        <input type="text" id="start_date" ng-disabled="showAgreementDetails" name="date" class="k-textbox" style="width: 100%;" ng-model="temp.em_agreement_start_date">
                                        <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Expiry Date"| translate }} </label>
                                    <div class="no-padding">
                                        <input type="text" id="Text5" ng-disabled="showAgreementDetails" name="date" class="k-textbox" style="width: 100%;" ng-model="temp.em_agreement_exp_date">
                                        <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Expiry Reminder Date"| translate }}</label>
                                    <div class="no-padding">
                                        <input type="text" id="expiry_reminder_date1" ng-disabled="showAgreementDetails" name="date" class="k-textbox" style="width: 100%;" ng-model="temp.em_agreemet_exp_rem_date">
                                        <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Visa Type"| translate }}</label>
                                    <select id="Select15" data-role="dropdownlist" class="form-control" style="width: 100%" ng-model="temp.em_visa_type_code">
                                        <option value="" selected disabled>Please select</option>
                                        <option ng-repeat="visa in obj" value="{{visa.em_visa_type_code}}" class="form-control input-sm" ng-if="visa.em_visa_type.length">
                                            {{visa.em_visa_type}}
                                        </option>
                                    </select>
                                </div>

                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Punching ID"| translate }}</label>
                                    <input type="text" class="k-textbox" style="width: 100%;" id="Text29" name="firstnm" maxlength="20" ng-model="temp.em_punching_id">
                                </div>

                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Punching Status"| translate }}</label>
                                    <div class="checkbox check-success" style="height: 15px;display: block;">
                                        <input id="Checkbox4" type="checkbox" value="1" ng-model="temp.em_punching_status">
                                        <label for="Checkbox4"></label>
                                    </div>
                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !Myform.serst.$valid && (Myform.serst.$touched || Myform.$submitted) }">
                                    <label style="font-size: small; color: black">{{"Service Status"| translate }} <span style="color:red;">*</span></label>
                                    <select name="serst" id="Select16" data-role="dropdownlist" class="form-control" style="width: 100%" ng-model="temp.em_service_status_code" required>
                                        <option value="" selected disabled>Please select</option>
                                        <option ng-repeat="serstat in obj" value="{{serstat.em_service_status_code}}" class="form-control input-sm" ng-if="serstat.em_service_status_code.length">
                                            {{serstat.em_service_status}}
                                        </option>
                                    </select>
                                    <p class="help-block" ng-show="Myform.serst.$error.required &&(Myform.serst.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="tab-pane" id="5a">
                <div id="Div8" class="dataTables_wrapper form-inline">
                    <div style="width: 100%; height: auto; overflow-x: hidden; overflow-y: hidden">

                        <div class="col-md-12">

                            <div class="row form-row">
                                <div class="col-md-3" ng-class="{'has-error': !Myform.deptname.$valid && (Myform.deptname.$touched || Myform.$submitted) }">
                                    <label style="font-size: small; color: black">{{"Department Name"| translate }} <span style="color:red;">*</span></label>
                                    <select name="deptname" id="Select22" data-role="dropdownlist" class="form-control" style="width: 100%" ng-model="temp.em_Dept_Code" required>
                                        <option value="" selected disabled>Please select</option>
                                        <option ng-repeat="dept in obj" value="{{dept.em_Dept_Code}}" class="form-control input-sm" ng-if="dept.em_Dept_Code.length">
                                            {{dept.em_Dept_name}}
                                        </option>
                                    </select>
                                    <p class="help-block" ng-show="Myform.deptname.$error.required &&(Myform.deptname.$touched || Myform.$submitted)" style="color: #f35958;">
                                        This field is required
                                    </p>
                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !Myform.deptef.$valid && (Myform.deptef.$touched || Myform.$submitted) }">
                                    <label style="font-size: small; color: black">{{"Department Effect From"| translate }} <span style="color:red;">*</span></label>
                                    <div class="no-padding">
                                        <input type="text" id="department_effect_from_date" name="deptef" class="k-textbox" style="width: 100%;" ng-model="temp.em_dept_effect_from" required>
                                        <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                    </div>

                                    <div>
                                        <p class="help-block" ng-show="Myform.deptef.$error.required &&(Myform.deptef.$touched || Myform.$submitted)" style="color: #f35958;">
                                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp This field is required
                                        </p>
                                    </div>

                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !Myform.graname.$valid && (Myform.graname.$touched || Myform.$submitted)}">
                                    <label style="font-size: small; color: black">{{"Grade Name"| translate }} <span style="color:red;">*</span></label>
                                    <select name="graname" id="Select23" data-role="dropdownlist" class="form-control" style="width: 100%" ng-model="temp.em_Grade_Code" required>
                                        <option value="" selected disabled>Please select</option>
                                        <option ng-repeat="grade in obj" value="{{grade.em_Grade_Code}}" class="form-control input-sm" ng-if="grade.em_Grade_Code.length">
                                            {{grade.em_Grade_name}}
                                        </option>
                                    </select>
                                    <p class="help-block" ng-show="Myform.graname.$error.required &&(Myform.graname.$touched || Myform.$submitted)" style="color: #f35958;">
                                        This field is required
                                    </p>

                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !Myform.gradef.$valid && (Myform.gradef.$touched || Myform.$submitted) }">
                                    <label style="font-size: small; color: black">{{"Grade Effect From"| translate }} <span style="color:red;">*</span></label>
                                    <div class="no-padding">
                                        <input type="text" id="grade_effect_from_date" name="gradef" class="k-textbox" style="width: 100%;" ng-model="temp.em_grade_effect_from" required>
                                        <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                    </div>
                                    <br />
                                    <p class="help-block" ng-show="Myform.gradef.$error.required &&(Myform.gradef.$touched || Myform.$submitted)" style="color: #f35958;margin-top: -18px;">
                                        This field is required
                                    </p>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-3" ng-class="{'has-error': !Myform.dep_full.$valid && (Myform.dep_full.$touched || Myform.$submitted) }">
                                    <label style="font-size: small; color: black">{{"Dependant Full"| translate }}</label>
                                    <input type="text" class="k-textbox" style="width: 100%;" id="Text30" ng-maxlength="1" maxlength="1" ng-pattern="/^(\d)+$/" name="dep_full" ng-model="temp.em_dependant_full">
                                    <p class="help-block" ng-show="Myform.dep_full.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                        Dependant Full Should be Max 1
                                    </p>
                                    <p class="help-block" ng-show="Myform.dep_full.$error.pattern && (Myform.dep_full.$touched && Myform.$submitted)">
                                        Enter only Digit
                                    </p>
                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !Myform.dep_half.$valid && (Myform.dep_half.$touched || Myform.$submitted) }">
                                    <label style="font-size: small; color: black">{{"Dependant Half"| translate }}</label>
                                    <input type="text" class="k-textbox" style="width: 100%;" ng-maxlength="1" maxlength="1" ng-pattern="/^(\d)+$/" id="Text31" name="dep_half" ng-model="temp.em_dependant_half">
                                    <p class="help-block" ng-show="Myform.dep_half.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                        Dependant Half Should be Max 1
                                    </p>
                                    <p class="help-block" ng-show="Myform.dep_half.$error.pattern && (Myform.dep_half.$touched && Myform.$submitted)">
                                        Enter only Digit
                                    </p>
                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !Myform.dep_infant.$valid && (Myform.dep_infant.$touched || Myform.$submitted) }">
                                    <label style="font-size: small; color: black">{{"Dependant Infant"| translate }} </label>
                                    <input type="text" class="k-textbox" style="width: 100%;" id="Text32" ng-maxlength="1" maxlength="1" ng-pattern="/^(\d)+$/" name="dep_infant" ng-model="temp.em_dependant_infant">
                                    <p class="help-block" ng-show="Myform.dep_infant.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                        Dependant Infant Should be Max 1
                                    </p>
                                    <p class="help-block" ng-show="Myform.dep_infant.$error.pattern && (Myform.dep_infant.$touched && Myform.$submitted)">
                                        Enter only Digit
                                    </p>
                                </div>

                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Bank Name"| translate }}</label>
                                    <select id="Select17" data-role="dropdownlist" class="form-control" style="width: 100%" ng-model="temp.em_Bank_Code">
                                        <option value="" selected disabled>Please select</option>
                                        <option ng-repeat="bank in obj" value="{{bank.em_Bank_Code}}" class="form-control input-sm" ng-if="bank.em_Bank_name.length">
                                            {{bank.em_Bank_name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">

                            <div class="row form-row">
                                <div class="col-md-3" ng-class="{'has-error': !Myform.bank_ac_no.$valid && (Myform.bank_ac_no.$touched || Myform.$submitted) }">
                                    <label style="font-size: small; color: black">{{"Bank Account Number"| translate }}</label>
                                    <input type="text" class="k-textbox" style="width: 100%;" id="Text33" ng-maxlength="20" maxlength="30" name="bank_ac_no" ng-model="temp.em_bank_ac_no">

                                    <p class="help-block" ng-show="Myform.bank_ac_no.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                        Bank Account Number Should be Max 20
                                    </p>

                                </div>

                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Bank Cash Tag"| translate }}</label>
                                    <div class="checkbox check-success" style="height: 15px;display: block;">
                                        <input id="Checkbox3" type="checkbox" value="1" ng-model="temp.em_bank_cash_tag" name="bankcash">
                                        <label for="Checkbox3"></label>
                                    </div>

                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !Myform.iban_no.$valid && (Myform.iban_no.$touched || Myform.$submitted) }">
                                    <label style="font-size: small; color: black">{{"IBAN Number"| translate }}</label>
                                    <input type="text" class="k-textbox" style="width: 100%;" ng-maxlength="40" maxlength="40" id="Text35" name="iban_no" ng-model="temp.em_iban_no">

                                    <p class="help-block" ng-show="Myform.iban_no.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                        Iban Number Should be Max 40
                                    </p>

                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !Myform.route_code.$valid && (Myform.route_code.$touched || Myform.$submitted) }">
                                    <label style="font-size: small; color: black">{{"Route Code"| translate }}</label>
                                    <input type="text" class="k-textbox" style="width: 100%;" id="Text36" ng-maxlength="20" maxlength="20" name="route_code" ng-model="temp.em_route_code">

                                    <p class="help-block" ng-show="Myform.route_code.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                        Route Code Should be Max 20
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Citi Experience Tag"| translate }}</label>
                                    <div class="checkbox check-success" style="height: 15px;display: block;">
                                        <input id="Checkbox11" type="checkbox" value="1" ng-model="temp.em_citi_exp_tag" name="citi">
                                        <label for="Checkbox11"></label>
                                    </div>
                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !Myform.bank_swift_code.$valid && (Myform.bank_swift_code.$touched || Myform.$submitted) }">
                                    <label style="font-size: small; color: black">{{"Bank Swift Code"| translate }}</label>

                                    <input type="text" class="k-textbox" style="width: 100%;" ng-maxlength="20" maxlength="20" id="Text38" name="bank_swift_code" ng-model="temp.em_bank_swift_code">

                                    <p class="help-block" ng-show="Myform.bank_swift_code.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                        Bank Swift Code Should be Max 20
                                    </p>

                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !Myform.gpf_ac_no.$valid && (Myform.gpf_ac_no.$touched || Myform.$submitted) }">
                                    <label style="font-size: small; color: black">{{"GPF Account Number"| translate }}</label>
                                    <input type="text" class="k-textbox" style="width: 100%;" ng-maxlength="20" maxlength="20" id="Text39" name="gpf_ac_no" ng-model="temp.em_gpf_ac_no">

                                    <p class="help-block" ng-show="Myform.gpf_ac_no.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                        GPF Account Number Should be Max 20
                                    </p>

                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !Myform.pan_no.$valid && (Myform.pan_no.$touched || Myform.$submitted) }">
                                    <label style="font-size: small; color: black">{{"Permit Number"| translate }}</label>
                                    <input type="text" class="k-textbox" style="width: 100%;" ng-maxlength="20" maxlength="20" id="Text40" name="pan_no" ng-model="temp.em_pan_no">

                                    <p class="help-block" ng-show="Myform.pan_no.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                        PAN Number Should be Max 20
                                    </p>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-3" ng-class="{'has-error': !Myform.labour_card_no.$valid && (Myform.labour_card_no.$touched || Myform.$submitted) }">
                                    <label style="font-size: small; color: black">{{"Labour Card Number"| translate }}</label>

                                    <input type="text" class="k-textbox" style="width: 100%;" ng-maxlength="20" maxlength="20" id="Text41" name="labour_card_no" ng-model="temp.em_labour_card_no">
                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !Myform.gosi_ac_no.$valid && (Myform.gosi_ac_no.$touched || Myform.$submitted) }">
                                    <label style="font-size: small; color: black">{{"GOSI Account Number"| translate }}</label>
                                    <input type="text" class="k-textbox" style="width: 100%;" id="Text42" ng-maxlength="20" maxlength="20" name="gosi_ac_no" ng-model="temp.em_gosi_ac_no">
                                </div>

                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"GOSI Start Date"| translate }}</label>
                                    <div class="col-md-3 col-lg-9 no-padding">
                                        <input type="text" id="gosi_start_date" name="date" class="k-textbox" style="width: 100%;" ng-model="temp.em_gosi_start_date">
                                        <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                    </div>
                                </div>

                                <!-- <div class="col-md-3" ng-class="{'has-error': !Myform.emi_id.$valid && (Myform.emi_id.$touched || Myform.$submitted) }">
                                    <label style="font-size: small; color: black">{{"Emirates ID"| translate }}</label>
                                    <input type="text" class="k-textbox" style="width: 100%;" ng-maxlength="20" id="Text44" name="emi_id" ng-model="temp.em_national_id">
                                    <p class="help-block" ng-show="Myform.emi_id.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                        Dependant Infant Should be Max 20
                                    </p>

                                </div>-->

                                <div class="col-md-3">
                                    <label ng-show="qatar" style="font-size: small; color: black">{{"Qatar ID"| translate }}</label>
                                    <label ng-show="uae" style="font-size: small; color: black">{{"Emirates ID"| translate }}</label>
                                    <input type="text" class="k-textbox" style="width: 100%;" id="Text47" maxlength="15" name="txt_driver_visa_issuing_place" ng-readonly="national_id_readnly" ng-model="temp.em_national_id">
                                </div>

                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"ID Issue Date"| translate }}</label>
                                    <div class="col-md-3 col-lg-9 no-padding">
                                        <input type="text" id="id_issue_date" name="date" class="k-textbox" style="width: 100%;" ng-model="temp.em_national_id_issue_date">
                                        <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"ID Expiry Date"| translate }}</label>
                                    <div class="col-md-3 col-lg-9 no-padding">
                                        <input type="text" id="id_expiry_date" name="date" class="k-textbox" style="width: 100%;" ng-model="temp.em_national_id_expiry_date" data-date-start-date="0d">
                                        <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Stop Salary Indicator"| translate }}</label>
                                    <div class="checkbox check-success" style="height: 15px;display: block;">
                                        <input id="chksalindi" type="checkbox" value="1" ng-model="temp.em_stop_salary_indicator" name="stopsal">
                                        <label for="chksalindi"></label>
                                    </div>
                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !Myform.stop_sal_from.$valid && (Myform.stop_sal_from.$touched || Myform.$submitted) }">
                                    <label style="font-size: small; color: black">{{"Stop Salary From"| translate }}</label>
                                    <input type="text" class="k-textbox" style="width: 100%;" ng-maxlength="6" maxlength="6" ng-pattern="/^(\d)+$/" id="Text34" name="stop_sal_from" ng-model="temp.em_stop_salary_from">
                                    <p class="help-block" ng-show="Myform.stop_sal_from.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                        Dependant Infant Should be Max 6
                                    </p>
                                    <p class="help-block" ng-show="Myform.stop_sal_from.$error.pattern && (Myform.stop_sal_from.$touched || Myform.$submitted)">
                                        Enter only Digit
                                    </p>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Leave Tag"| translate }}</label>
                                    <div class="checkbox check-success" style="height: 15px;display: block;">
                                        <input name="leavet" id="Checkbox1" type="checkbox" value="1" ng-model="temp.em_leave_tag">
                                        <label for="Checkbox1"></label>
                                    </div>

                                </div>

                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Secret Question"| translate }}</label>
                                    <select id="Select18" data-role="dropdownlist" class="form-control" style="width: 100%" ng-model="temp.em_secret_question_code">
                                        <option value="" selected disabled>Please select</option>
                                        <option ng-repeat="secque in obj" value="{{secque.em_secret_question_code}}" class="form-control input-sm" ng-if="secque.em_secret_question.length">
                                            {{secque.em_secret_question}}
                                        </option>
                                    </select>
                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !Myform.sec_ans.$valid && (Myform.sec_ans.$touched || Myform.$submitted) }">
                                    <label style="font-size: small; color: black">{{"Secret Answer"| translate }}</label>
                                    <input type="text" class="k-textbox" style="width: 100%;" ng-maxlength="25" maxlength="25" id="Text43" name="sec_ans" ng-model="temp.em_secret_answer">
                                </div>


                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Employee Roles"| translate }}</label>
                                    <select id="Select19" data-role="dropdownlist" class="form-control input-sm full-width" ng-show="roleList"
                                            ng-model="temp.comn_role_code"
                                            ng-options="role.comn_role_code as role.comn_role_name for role in roles_data"></select>
                                    <input type="text" id="Text52" ng-model="temp.comn_role_name" class="k-textbox" style="width: 100%;" ng-show="roleText" ng-readonly="roleReadOnly" />
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="tab-pane" id="6a">
                <div id="Div9" class="dataTables_wrapper form-inline">
                    <div style="width: 100%; height: auto; overflow-x: hidden; overflow-y: hidden">
                        <div class="col-md-12">
                            <div class="row form-row">

                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Ministry Approval Number"| translate }}</label>
                                    <input type="text" class="k-textbox input-sm full-width" ng-model="temp.em_adec_approval_number" maxlength="10">
                                </div>

                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Ministry Approval Date"| translate }}</label>
                                    <div class="no-padding">
                                        <input type="text" id="Text53" name="date" class="k-textbox" style="width: 100%;" ng-model="temp.em_adec_approval_Date">
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Approved Qualification"| translate }} </label>
                                    <select data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.em_adec_approved_qualification">
                                        <option value="" selected disabled>Please select</option>
                                        <option ng-repeat="qual in all_Qual_Data" value="{{qual.pays_qualification_code}}">
                                            {{qual.pays_qualification_desc}}
                                        </option>
                                    </select>
                                </div>

                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Approved Designation"| translate }}</label>
                                    <select data-role="dropdownlist" class="form-control" style="width: 100%" ng-model="temp.em_adec_approved_designation">
                                        <option value="" selected disabled>Please select</option>
                                        <option ng-repeat="desig in obj" value="{{desig.em_Designation_Code}}" class="form-control input-sm" ng-if="desig.em_Designation_Code.length">
                                            {{desig.em_Designation_name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Approved Subject"| translate }}</label>
                                    <select id="Select20" data-role="dropdownlist" class="form-control" style="width: 100%" ng-model="temp.em_adec_approved_subject">
                                        <option value="" selected disabled>Please select</option>
                                        <option ng-repeat="sub in sub_data" value="{{sub.subject_code}}" class="form-control input-sm">
                                            {{sub.subject_name_en}}
                                        </option>
                                    </select>
                                </div>

                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Approved Level"| translate }}</label>
                                    <input type="text" class="k-textbox" style="width: 100%;" ng-model="temp.em_adec_approved_level" maxlength="10">
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="tab-pane" id="7a">
                <div id="Div10" class="dataTables_wrapper form-inline">
                    <div style="width: 100%; height: auto; overflow-x: hidden; overflow-y: hidden">
                        <div class="col-md-12">
                            <div class="row form-row">

                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Health Card Number"| translate }}</label>
                                    <input type="text" class="k-textbox input-sm full-width" ng-model="temp.em_health_card_no" maxlength="25">
                                </div>

                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Health Card Effective From Date"| translate }}</label>
                                    <div class="no-padding">
                                        <input type="text" id="health_card_from_date" name="date" class="k-textbox" style="width: 100%;" ng-model="temp.em_health_card_effective_from_date">
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Health Card Effective Upto Date"| translate }}</label>
                                    <div class="no-padding">
                                        <input type="text" id="health_card_to_date" name="date" class="k-textbox" style="width: 100%;" ng-model="temp.em_health_card_effective_upto_date">
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Health Card Status"| translate }} </label>
                                    <div class="checkbox check-success" style="height: 15px;display: block;">
                                        <input id="healthStatus" type="checkbox" value="1" ng-model="temp.em_heath_card_status">
                                        <label for="healthStatus"></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <div class="col-md-4">
                    <label>&nbsp;</label>
                    <p class="help-block" ng-show="Myform.fname.$error.required && ( Myform.$submitted)">
                        {{"Employee first name required" | translate }}
                    </p>
                    <p class="help-block" ng-show="Myform.dob.$error.required && ( Myform.$submitted)">
                        {{"Employee DOB required" | translate }}
                    </p>
                    <p class="help-block" ng-show="Myform.gen.$error.required && ( Myform.$submitted)">
                        {{"Employee Gender required" | translate }}
                    </p>

                    <p class="help-block" ng-show="Myform.maristat1.$error.required && ( Myform.$submitted)">
                        {{"Employee Marital Status required" | translate }}
                    </p>
                </div>
                <div class="col-md-4">
                    <label>&nbsp;</label>

                    <p class="help-block" ng-show="Myform.nation.$error.required && ( Myform.$submitted)">
                        {{"Employee Nationality required" | translate }}
                    </p>
                    <p class="help-block" ng-show="Myform.doj.$error.required && ( Myform.$submitted)">
                        {{"Employee Date Of Join required" | translate }}
                    </p>

                    <p class="help-block" ng-show="Myform.deptname.$error.required && ( Myform.$submitted)">
                        {{"Employee Department Name required" | translate }}
                    </p>

                    <p class="help-block" ng-show="Myform.deptef.$error.required && ( Myform.$submitted)">
                        {{"Employee Dept Effect Form required" | translate }}
                    </p>
                </div>
                <div class="col-md-4">
                    <label>&nbsp;</label>

                    <p class="help-block" ng-show="Myform.graname.$error.required && ( Myform.$submitted)">
                        {{"Employee Grade Name required" | translate }}
                    </p>
                    <p class="help-block" ng-show="Myform.gradef.$error.required && ( Myform.$submitted)">
                        {{"Employee Grade Effect Form required" | translate }}
                    </p>

                </div>
            </div>
            <div class="form-actions" style="padding-bottom: 100px;">
                <div class="pull-right">
                    <button type="submit" id="empsub" ng-disabled="saveBtn" ng-show="Save_btn" class="btn btn-primary btn-small">{{"Submit" | translate}}</button>
                    <button type="button" id="updt" ng-disabled="updateBtn" ng-show="Update_btn" class="btn btn-primary btn-small" ng-click="UpdateData();">{{"Update" | translate}}</button>
                    <button type="button" id="cancel" class="btn btn-warning btn-small" ng-click="Cancel();">{{"Reset" | translate}}</button>
                </div>
            </div>
        </div>

    </div>
</form>

<script src="assets/js/calender-datepicker-id.js"></script>
<script src="assets/js/moment.js"></script>
