﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Staff" |translate}}</span>&nbsp;{{"Letter Request" | translate}}</h3>
            </div>

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="grid-body no-border table_padding">
                <div ng-show="table">
                    <div class="row form-row">

                        <div class="col-md-6">
                            <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                <option value="10" class=" form-control input-sm">
                                    10
                                </option>

                                <option value="20" class=" form-control input-sm">
                                    20
                                </option>

                                <option value="All" class=" form-control input-sm">
                                    All
                                </option>
                            </select>
                            &nbsp;
                            <button class="btn btn-primary btn-small" type="button" id="designew" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New Request"| translate }}</button>
                            <!-- &nbsp;
                             <button class="btn btn-danger btn-small" type="button" ng-click="OkDelete()"><span class="semi-bold"></span>{{"Delete"| translate }}</button>-->
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <div class="dataTables_filter" id="example_filter">
                                    <span class="k-textbox k-space-right full-width">
                                        <input type="text" aria-controls="example" ng-model="searchText" placeholder="Document name" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                                        <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <div class="row margin-top">
                            <div class="col-md-12">
                                <table class="table table-bordered table-hover" id="fixTable">
                                    <thead>
                                        <tr style="background-color: #edefef">
                                            <!-- <th class="small-cell v-align-middle" style="z-index:1">
                                                 <div class="checkbox check-success">
                                                     <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                                     <label for="mainchk"></label>
                                                 </div>
                                             </th>-->
                                            <!--  <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                                 <label><b><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"Library Bin Code" | translate }}</b></label>
                                             </th>-->
                                            <th class="semi-bold">
                                                <label><i class="fa fa-sort-numeric-asc"></i>&nbsp;<b>{{"Sr No."| translate }}</b></label>
                                            </th>
                                            <th class="semi-bold" ng-click="sortBy('sims_certificate_request_number')">
                                                <label><i class="fa fa-dashboard"></i>&nbsp;<b>{{"Letter code"| translate }}</b></label>
                                                <span class="sortorder" ng-show="propertyName === 'sims_certificate_request_number'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th class="semi-bold">
                                                <label><i class="fa fa-align-justify"></i>&nbsp;<b>{{"Letter Name" | translate }}</b></label>
                                            </th>
                                            <th class="semi-bold">
                                                <label><i class="fa fa-pencil-square-o"></i>&nbsp;<b>{{"Department" | translate }}</b></label>
                                            </th>
                                            <th class="semi-bold">
                                                <label><i class="fa fa-align-justify"></i>&nbsp;<b>{{"Letter Address To" | translate }}</b></label>
                                            </th>
                                            <th class="semi-bold">
                                                <label><i class="fa fa-calendar"></i>&nbsp;<b>{{"Request Date"| translate }}</b></label>
                                            </th>
                                            <th class="semi-bold">
                                                <label><i class="fa fa-calendar"></i>&nbsp;<b>{{"Approval Date"| translate }}</b></label>
                                            </th>
                                            <th class="semi-bold">
                                                <label><b>{{"Approved by"| translate }}</b></label>
                                            </th>
                                            <th class="semi-bold">
                                                <label><i class="fa fa-bookmark"></i>&nbsp;<b>{{"Issue status"| translate }}</b></label>
                                            </th>
                                            <th class="semi-bold">
                                                <label><i class="fa fa-sort-numeric-asc"></i>&nbsp;<b>{{"Download Count"| translate }}</b></label>
                                            </th>
                                            <th class="semi-bold">
                                                <label><i class="fa fa-bookmark"></i>&nbsp;<b>{{"Status(Download)"| translate }}</b></label>
                                            </th>
                                            <th class="semi-bold">
                                                <label><b>{{"Purpose "| translate }}</b></label>
                                            </th>
                                            <!-- <th class="semi-bold">
                                                  <label><i class="fa fa-cogs"></i></label>
                                             </th>-->

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="j in filteredTodos | orderBy:propertyName:reverse" ng-class="row1">
                                            <!--<td>
                                                <div class="row-fluid">
                                                    <div class="checkbox check-success" style="height: 20px">
                                                        <input id="{{j.sims_library_item_accession_number+$index}}" type="checkbox" value="1" ng-click="checkonebyonedelete()" ng-model="chkb">
                                                        <label for="{{j.sims_library_item_accession_number+$index}}"></label>
                                                    </div>
                                                </div>
                                            </td>-->
                                            <td>
                                                <label id="lbl">{{$index+1}}</label>
                                            </td>
                                            <td>
                                                <label id="Label1">{{j.sims_certificate_request_number}}</label>
                                            </td>

                                            <td>
                                                <label id="Label2">{{j.sims_certificate_name}}</label>
                                            </td>
                                            <td>
                                                <label id="Label10">{{j.sims_certificate_dept_name}}</label>
                                            </td>
                                            <td>
                                                <label id="Label3">{{j.sims_certificate_reason}}</label>
                                            </td>
                                            <td>
                                                <label id="Label4">{{j.sims_certificate_request_date}}</label>
                                            </td>
                                            <td>
                                                <label id="Label5">{{j.sims_certificate_approve_date}}</label>
                                            </td>
                                            <td>
                                                <label id="Label9">{{j.sims_certificate_approved_by}}</label>
                                            </td>
                                            <td class="v-align-middle">
                                                <span ng-if="j.sims_certificate_request_status=='I'" class="btn btn-warning btn-xs btn-mini">{{"Pending" | translate}}</span>
                                                <span ng-if="j.sims_certificate_request_status=='A'" class="btn btn-success btn-xs btn-mini">{{"Approved" | translate}}</span>
                                            </td>
                                            <td>
                                                <label id="Label7">{{j.print_count}}</label>
                                            </td>
                                            <td>
                                                <span ng-click="cnt(j)"><a href="" target="_new">{{j.sims_certificate_doc_path}}</a></span>
                                                <!--  <a href="{{schoolUrl}}{{j.sims_certificate_doc_path}}" target="_new">{{j.sims_certificate_doc_path}}</a>-->
                                                <!--<label id="Label8">{{j.sims_certificate_doc_path}}</label>-->
                                            </td>
                                            <td>
                                                <label id="Label6">{{j.sims_certificate_PurposeName}}</label>
                                            </td>
                                            <!--<td>
                                                <a href=""><i class="fa fa-edit" ng-click="edit(j)"></i></a>
                                            </td>-->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                            ng-click="index(currentPage)">
                                    </paging>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div ng-show="display">
                    <form name="Myform" ng-submit="savedata(Myform.$valid)" novalidate="novalidate">
                        <!--1ST ROW-->
                        <div class="row">
                            <div class="col-md-2" ng-class="{'has-error': !Myform.sims_certificate_name.$valid && (Myform.sims_certificate_name.$touched || Myform.$submitted) }">
                                <label id="Label27" for="txt_Nationality_Code" class="form-label"><i class="fa fa-envelope"></i>&nbsp;{{"Request Letter"| translate }}<span class="asterisk" style="color: red">*</span></label>
                                <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width"
                                        ng-model="temp.sims_certificate_number" ng-selected="" name="sims_certificate_name"
                                        ng-options="doc.sims_certificate_number as doc.sims_certificate_name for doc in document" required></select>
                                <p class="help-block" ng-show="Myform.sims_certificate_name.$error.required &&  (Myform.sims_certificate_name.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>

                            <div class="col-md-3">
                                <label class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Letter Address To" |  translate }}</label>
                                <textarea id="txt_display_ord" rows="3" ng-model="temp.sims_certificate_reason" class="k-textbox input-sm full-width" />
                            </div>

                            <div class="col-md-2">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label>{{ "Purpose" | translate }}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <select id="cmb_acad_yr" name="AcadYr" ng-change="showOther(temp.sims_appl_parameter)" class="form-control select2-sm"
                                                ng-model="temp.sims_appl_parameter"
                                                ng-options="item.sims_appl_parameter as item.sims_appl_form_field_value1 for item in obj1">
                                            <option value="">Please Select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2" ng-hide="other_pur">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label>{{ "Other Purpose" | translate }}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="text" aria-controls="example" ng-model="temp.other_sims_appl_parameter" placeholder="Other Purpose" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!--<input type="file" id="file1" name="file" onchange="angular.element(this).scope().file_changed(this)"
                                                       ng-files="getTheFiles($files)" style="float: initial; width: 120px; display: none">
                                                <a href="" class="label label-important " type="button" onclick="document.getElementById('file1').click();">
                                                    <i class="fa fa-cloud-upload"></i>{{"Upload" | translate}}
                                    </a>-->
                            </div
                        </div>

                        <div class="row">
                            <div class="" style="float:right;">
                                <label>&nbsp;</label>
                                <div class="pull-left">
                                    <button type="submit" id="desigsub" class="btn btn-primary btn-small">{{"Save" | translate }}</button>
                                    <!--<button type="button" ng-show="Update_btn" ng-click="update(Myform.$valid);" class="btn btn-primary btn-small">{{"Update" | translate }}</button>-->
                                    <button type="button"
                                    <button type="button" class="btn btn-danger btn-small" ng-click="Cancel();">{{"Cancel"| translate }}</button>
                                </div>
                            </div>
                        </div>
                        <!--<div class="form-actions">
                            <div class="pull-right">
                                <button type="submit" id="desigsub" ng-show="save_btn" class="btn btn-primary btn-cons">{{"Save" | translate }}</button>
                                <button type="button" ng-show="Update_btn" ng-click="update(Myform.$valid);" class="btn btn-primary btn-cons">{{"Update" | translate }}</button>
                                <button type="button" class="btn btn-white btn-cons" ng-click="Cancel();">{{"Cancel"| translate }}</button>
                            </div>
                        </div>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>
