﻿<div class="row form-row">
    <div class="page-title">
        <h3><span class="semi-bold">{{"Formula Details"| translate }}</span> </h3>
    </div>
    <div ng-show="beforeTable" style="background-color: white">
        <div class="col-md-6" style="margin-top:21px; margin-left:9px;">
            <div class="pull-left">
                <select id="Select1" style="width: 75px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                    <option value="10" class="form-control input-sm">
                        10
                    </option>

                    <option value="20" class="form-control input-sm">
                        20
                    </option>

                    <option value="All" class="form-control input-sm">
                        All
                    </option>
                </select>
            </div>
            &nbsp;
            <button class="btn btn-success btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{ "New" | translate }}</button>
            &nbsp;
            <button class="btn btn-danger btn-small" type="button" ng-click="deleteSelectedData()"><span class="semi-bold"></span>{{ "Delete" | translate }}</button>
        </div>
        <div class="col-md-6" style="margin-left:-32px; margin-top:21px;">
            <div class="pull-right">
                <div class="dataTables_filter" id="example_filter">
                    <span class="k-textbox k-space-right full-width">
                        <input type="text" aria-controls="example" ng-model="searchText" placeholder="Forlmula name" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search(searchText)">
                        <a href="#" class="k-icon k-i-search">&nbsp;</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="dataTables_wrapper form-inline">
            <div class="row margin-top">
                <div class="col-md-12">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead style="background-color: white">
                            <tr style="background-color: #edefef">
                                <th class="small-cell v-align-middle" style="z-index: 1">
                                </th>
                                <th>{{"Company Name"| translate }}</th>
                                <th>{{"Formula Name"| translate }}</th>
                                <th>{{"Pay Code"| translate }}</th>
                                <!--<th>{{"Serial Number"| translate }}</th>-->
                                <th>{{"Percentage"| translate }}</th>
                                <th>{{"Month"| translate }}</th>
                                <th>{{"Operator"| translate }}</th>
                                <th class="semi-bold">
                                    <label>
                                        <i class="fa fa-cogs"></i>
                                    </label>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="f in FormulaDetailData | orderBy:orderByField:reverseSort">
                                <td>
                                    <div class="row-fluid">
                                        <div class="checkbox check-success" style="height:20px">
                                            <input id="helt-{{$index}}" type="checkbox" value="1" ng-click="checkonebyonedelete()">
                                            <label for="helt-{{$index}}"></label>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <label id="lblCompany_Name">{{f.company_name}}</label>
                                </td>
                                <td>
                                    <label id="lblformula_name">{{f.formula_name}}</label>
                                </td>
                                <td>
                                    <label id="lblPay_code">{{f.pay_code_description}}</label>
                                </td>
                                <!--<td>
                                    <label id="lblSerialNumber">{{f.serial_number}}</label>
                                </td>-->
                                <td>
                                    <label id="lblPercantage">{{f.percantage_number}}</label>
                                </td>
                                <td>
                                    <label id="lblMonth">{{f.month_number}}</label>
                                </td>
                                <td>
                                    <label id="lblOperator">{{f.operatore}}</label>
                                </td>
                                <td>
                                    <a href=""><i class="fa fa-edit" ng-click="edit(f)"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div ng-show="tableRecord" style="background-color: white">
        <form name="Myform" novalidate="novalidate" style="margin-left:9px; margin-top:20px;">
            <div class="row" style="text-align:left; margin-top:  11px;">
                <div class="col-md-4" ng-class="{'has-error': !Myform.CompanyName.$valid &&(Myform.CompanyName.$touched || Myform.$submitted) }">
                    <label id="lblCompanyName" class="form-label semi-bold ng-binding">
                        {{"Company Name"| translate }}
                        <span class="asterisk" style="color: red">*</span>
                    </label>
                    <select id="CompanyName_" class="form-control input-sm full-width" require data-role="dropdownlist" name="CompanyName" ng-model="temp.company_code" ng-options="temp.company_code as temp.company_name for cr in comp_data" ng-change="Comp_Change(temp.company_code);">
                        <option value="">Please Select</option>
                    </select>
                    <p class="help-block" ng-show="myForm.CompanyName.$error.required &&  (myForm.CompanyName.$touched || myForm.$submitted)">
                        This field is required
                    </p>
                </div>
                <div class="col-md-4" ng-class="{'has-error': !Myform.pay_code.$valid &&(Myform.pay_code.$touched || Myform.$submitted) }">
                    <label id="lblPayCode" class="form-label semi-bold ng-binding">
                        {{"Pay Code"| translate }}
                        <span class="asterisk" style="color: red">*</span>
                    </label>
                    <select id="pay_code" data-role="dropdownlist" class="form-control input-sm full-width" ng-disabled="_dis" 
                            ng-model="temp.pd_pay_code" ng-change="pay_code_change(temp.pd_pay_code)"
                            ng-options="PayName.pd_pay_code as PayName.pd_pay_code_nm for PayName in GetPayCode" name="PayName" required>
                        <option value="" selected disabled>Please Select</option>
                    </select>
                    <p class="help-block" ng-show="myForm.pay_code.$error.required &&  (myForm.pay_code.$touched || myForm.$submitted)">
                        This field is required
                    </p>

                </div>
            </div>
            <div class="row" style="text-align:left; margin-top:  11px;">

                <!--<div class="col-md-3" ng-class="{'has-error': !Myform.SerialNumber.$valid &&(Myform.SerialNumber.$touched || Myform.$submitted) }">
                    <label id="lblSerialNumber" class="form-label semi-bold ng-binding">{{"Serial Number"| translate }}
                        <span class="asterisk" style="color: red">*</span>
                    </label>
                    <input type="text" name="SerialNumber" class="k-textbox input-sm fSerialNumberull-width" maxlength="50" ng-model="temp.Serial_number" autofocus="autofocus" />

                </div>-->
                <div class="col-md-3" ng-class="{'has-error': !Myform.FormulaName.$valid &&(Myform.FormulaName.$touched || Myform.$submitted) }">
                    <label id="lblFormulaName" class="form-label semi-bold ng-binding">
                        {{"Formula Name"| translate }}
                        <span class="asterisk" style="color: red">*</span>
                    </label>
                    <input type="text" name="FormulaName" class="k-textbox input-sm full-width" maxlength="50" ng-model="temp.Formula_name" autofocus="autofocus" />
                    <p class="help-block" ng-show="Myform.FormulaName.$error.maxlength && ( Myform.FormulaName.$touched || Myform.$submitted)">
                        Formula Name Length Should be Max 50
                    </p>
                    <p class="help-block" ng-show="myForm.FormulaName.$error.required &&  (myForm.FormulaName.$touched || myForm.$submitted)">
                        This field is required
                    </p>
                </div>
                <div class="col-md-3" ng-class="{'has-error': !Myform.Percantage.$valid &&(Myform.Percantage.$touched || Myform.$submitted) }">
                    <label id="lblPercantage" class="form-label semi-bold ng-binding">
                        {{"Percantage"| translate }}
                        <span class="asterisk" style="color: red">*</span>
                    </label>
                    <input type="text" name="Percantage" class="k-textbox input-sm full-width" maxlength="50" ng-model="temp.Percantage_number" autofocus="autofocus" />

                </div>
                <div class="col-md-2" ng-class="{'has-error': !Myform.Month.$valid &&(Myform.Month.$touched || Myform.$submitted) }">
                    <label id="lblMonth" class="form-label semi-bold ng-binding">
                        {{"Month"| translate }}
                        <span class="asterisk" style="color: red">*</span>
                    </label>
                    <input type="text" name="Month" class="k-textbox input-sm full-width" maxlength="50" ng-model="temp.Month_number" autofocus="autofocus" />

                </div>
                <div class="col-md-2" ng-class="{'has-error': !Myform.operator_value.$valid &&(Myform.operator_value.$touched || Myform.$submitted) }">
                    <label id="lblOperator" class="form-label semi-bold ng-binding">
                        {{"Operator"| translate }}
                        <span class="asterisk" style="color: red">*</span>
                    </label>
                    <select id="Select1" style="width: 125px" class="input-sm" name="operator_value" ng-model="temp.Operator">
                        <option value="">Please Select</option>
                        <option value="+" class="form-control input-sm">
                            +
                        </option>

                        <option value="-" class="form-control input-sm">
                            -
                        </option>

                        <option value="/" class="form-control input-sm">
                            /
                        </option>
                        <option value="*" class="form-control input-sm">
                            *
                        </option>
                    </select>
                    <p class="help-block" ng-show="myForm.operator_value.$error.required &&  (myForm.operator_value.$touched || myForm.$submitted)">
                        This field is required
                    </p>
                </div>
                <div class="col-md-2">  
                    <div class="row" style="margin: 13px;">

                    </div>                  
                    <div class="row">
                        <button class="btn btn-primary btn-small" type="button" ng-click="addFunction()"><i class="icon-ok"></i>{{"Add"| translate }}</button>
                        <button class="btn btn-primary btn-small ng-binding" type="button" ng-click="cancelFunction()">{{"Reset"| translate }}</button>
                        <button class="btn btn-danger btn-small" type="button" ng-click="cancel()">{{"Cancel"| translate }}</button>
                    </div>
                </div>
            </div>
         
        </form>
        <div class="row" ng-show="AddedTable">
            <!--<div class="col-md-12" style="background-color: white; margin:3px;">
            <table class="table table-bordered table-hover table-condensed">
                <thead style="background-color: white">
                    <tr style="background-color: #edefef">
                        <th class="small-cell v-align-middle" style="z-index: 1">
                        </th>
                        <th>{{"Company Name"| translate }}</th>
                        <th>{{"Pay Code"| translate }}</th>
                        <th>{{"Formula Name"| translate }}</th>
                        <th>{{"Percentage"| translate }}</th>
                        <th>{{"Month"| translate }}</th>
                        <th>{{"Operator"| translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="AddedData in FormulaaddedData | orderBy:orderByField:reverseSort">
                        <td>
                            <div class="row-fluid">
                                <div class="checkbox check-success" style="height:20px">
                                    <input id="Added_helt-{{$index}}" type="checkbox" value="1" ng-click="deleteOnebyone()">
                                    <label for="Added_helt-{{$index}}"></label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <label id="Added_lblCompany_Name">{{AddedData.company_name}}</label>
                        </td>
                        <td>
                            <label id="Added_lblPay_code">{{AddedData.formula_name}}</label>
                        </td>
                        <td>
                            <label id="Added_lblPay_code">{{AddedData.pay_code_description}}</label>
                        </td>
                        <td>
                            <label id="Added_lblPercantage">{{AddedData.percantage_number}}</label>
                        </td>
                        <td>
                            <label id="Added_lblMonth">{{AddedData.month_number}}</label>
                        </td>
                        <td>
                            <label id="Added_lblOperator">{{AddedData.operatore}}</label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>-->

            <div class="col-md-12">
                <table class="table table-bordered text-center">

                    <thead>
                        <tr style="background-color: #edefef">
                            <th>{{"Sr No." | translate}}</th>
                            <th>{{"Company Name"| translate }}</th>
                            <th>{{"Pay Discription"| translate }}</th>
                            <th>{{"Formula Name"| translate }}</th>
                            <th>{{"Percentage"| translate }}</th>
                            <th>{{"Month"| translate }}</th>
                            <th>{{"Operator"| translate }}</th>
                            <th ng-show="rm_edt">{{"Remove" | translate}}</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="res in Dataformula">
                            <td style="width:20px;">{{$index+1}}</td>
                            <td>
                                <input type="text" class="full-width" ng-model="res.companyname" maxlength="50" />
                            </td>
                            <td>
                                <input type="text" class="full-width" ng-model="res.pdpaycode_description" maxlength="50" />
                            </td>
                            <td>
                                <input type="text" class="full-width" ng-model="res.formulaname" maxlength="50" ng-change="changingFormulaName(res.formulaname)" />
                            </td>
                            <td>
                                <input type="text" class="full-width" ng-model="res.percantagenumber" maxlength="50" />
                            </td>
                            <td>
                                <input type="text" class="full-width" ng-model="res.monthnumber" maxlength="50" />
                            </td>
                            <td>
                                <input type="text" class="full-width" ng-model="res.operatornumber" maxlength="50" />
                            </td>
                            <td ng-click="Remove($event, $index, Dataformula)" ng-show="rm_edt">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10" style="background-color: white;">
            </div>
            <div class="col-md-2" style="background-color: white;" >
                <div style="margin: 26px;">
                    <button class="btn btn-primary btn-small" type="button" ng-show="savebtn" ng-click="saveData()"><i class="icon-ok"></i>{{"Save"| translate }}</button>
                    <button class="btn btn-primary btn-small" type="button" ng-show="updatebtn" ng-click="UpdateData()"><i class="icon-ok"></i>{{"Update"| translate }}</button>
                  
                </div>
            </div>
        </div>

    </div>
</div>