﻿<!--<link href="assets/css/multiple-select.css" rel="stylesheet" />-->
<style>
    .k-textbox .k-icon {
    top: 50%;
    margin: -9px -9px 0;
    position: absolute;
}
    .k-input {
    padding: 0em;
    margin-top:0px;
}
   .bluegreed {
    background: #d8ebf4 !important;
    padding-bottom: 6px !important;
    padding-top: 6px !important;
   
}
</style>
<div class="row">
    <div class="row" ng-show="notshow">
        <div class="col-xs-4">
            <div class="well" class="form-group">
                <div class="form-group">
                    <label>Current Page:</label>
                    <input placeholder="page"
                           class="form-control"
                           ng-model="currentPage"
                           ng-init="currentPage = 1" />
                </div>
                <div class="form-group">
                    <label>Page Size:</label>
                    <input placeholder="Page Size"
                           class="form-control"
                           ng-model="numPerPage" />
                </div>
                <div class="form-group">
                    <label>Total Items:</label>
                    <input placeholder="Total"
                           class="form-control"
                           ng-model="pagersize" />
                </div>
                <hr />
                <div class="form-group">
                    <label>Dots Display:</label>
                    <input placeholder="..."
                           class="form-control"
                           maxlength="3"
                           ng-model="dots"
                           ng-init="dots = '...'" />
                </div>

                <hr />
                <div class="form-group">
                    <label>UL Class:</label>
                    <input placeholder="pagination"
                           class="form-control"
                           maxlength="100"
                           ng-model="ulClass" />
                </div>
                <div class="form-group">
                    <label>Active Class:</label>
                    <input placeholder="active"
                           class="form-control"
                           maxlength="100"
                           ng-model="activeClass"
                           ng-init="activeClass = 'active'" />
                </div>
                <div class="form-group">
                    <label>Disabled Class:</label>
                    <input placeholder="disabled"
                           class="form-control"
                           maxlength="100"
                           ng-model="disabledClass"
                           ng-init="disabledClass = 'disabled'" />
                </div>
                <br />
                <table class="table">

                    <tr>
                        <td>
                            <label>Show Prev Next:</label>
                        </td>
                        <td>
                            <input type="checkbox"
                                   ng-model="showPrevNext"
                                   ng-init="showPrevNext = true" />
                            {{showPrevNext}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Show First Last:</label>
                        </td>
                        <td>
                            <input type="checkbox"
                                   ng-model="showFirstLast"
                                   ng-init="showFirstLast = true" />
                            {{showPrevNext}}
                        </td>
                    </tr>
                </table>
                <hr />
                <span class="btn btn-default" onclick="location.reload()">
                    <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                </span>
                <span class="btn btn-success" ng-click="currentPage = 0">
                    Apply Settings
                </span>
                <br />
                <br />
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Generate"| translate}}</span>&nbsp;{{"Payroll" | translate }}</h3>
            </div>

            <div class="grid-body no-border paddingcode"style="background-color:transparent;">
                <div class="row bluegreed"style="margin-left:-7px;margin-right:-7px;">
                    <div class="col-lg-2 col-md-3">
                        <label><i class="fa fa-calendar"></i>&nbsp; {{"Year"| translate }} <span style="color:red;">*</span></label>
                        <label autofocus="autofocus" id="txt_user_id"
                               ng-model="fin_year" class="form-control input-sm full-width">{{fin_year_desc}}</label>
                    </div>
                    <!--<div class="col-md-3">
                        <label>{{"Month"| translate }} <span style="color:red;">*</span></label>
                        <select id="Select1" class="form-control input-sm full-width" ng-model="edt.sd_year_month_code" ng-change="select_month()"
                                ng-options="month.sd_year_month_code as month.sd_year_month_name for month in GetMonth"></select>
                    </div>-->
                    <div class="col-lg-2 col-md-3">
                        <label><i class="fa fa-calendar"></i>&nbsp;{{"Year Month"| translate }}</label>
                        <select id="Select1" class="form-control input-sm full-width" data-role="dropdownlist" ng-model="edt.yearMonth" ng-change="setYearMonth();"
                                ng-options="c.year_month as c.year_month_name for c in Year_month">
                            <option value="" selected disabled>Please Select</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <label><i class="fa fa-money"></i>&nbsp;{{"Cash/Bank Tag"| translate }} <span style="color:red;">*</span></label>
                        <select id="Select2" class="form-control input-sm full-width" ng-model="edt.bct_code" ng-change="select_bct()">
                            <option value="" selected disabled>Please Select</option>
                            <option ng-repeat="bank in GetCashBankTags" value="{{bank.bct_code}}">{{bank.bct_name}}</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <label><i class="fa fa-bookmark"></i>&nbsp;{{"Service Status"| translate }} <span style="color:red;">*</span></label>
                        <select id="cmb_grade" class=" " name="Grade" multiple="multiple" required style="margin-bottom: 0px" ng-model="edt.service_Status_code" ng-change="select_service_status()">
                            <option ng-repeat="i in Get_employee_service_status"
                                    value="{{i.service_Status_code}}">
                                {{i.service_Status_desc}}
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <label><i class="fa fa-calendar"></i>&nbsp;{{"Publish Date"|translate}} <span style="color:red;">*</span></label>
                        <input id="cmb_create_date" placeholder="Select Date" name="creation_date" class="k-textbox input-sm full-width" ng-model="edt.publish_date" ng-disabled="editmode">
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <label><i class="fa fa-building"></i>&nbsp;{{"Company Name" |translate}} <span style="color:red;">*</span></label>
                        <select id="Select3" class="form-control input-sm full-width" name="user" ng-model="temp.gc_company_code" ng-change="getdept(temp.gc_company_code); getdesg(temp.gc_company_code)"
                                ng-options="temp.gc_company_code as temp.gc_company_desc for temp in comp_code">
                            <option value="">Please Select</option>
                        </select>
                    </div>
                </div>
                <div class="row bluegreed"style="margin-left:-7px;margin-right:-7px;">
                    
                    <div class="col-lg-2 col-md-3">
                        <label><i class="fa fa-pencil-square-o"></i>&nbsp;{{"Department"| translate }}</label>
                        <select id="Select5" class="form-control input-sm full-width" name="user" ng-model="edt.dep_code" ng-change="select_dep();">
                            <option value="" selected disabled>Please Select</option>
                            <option class="form-control input-sm" ng-repeat="temp in dept" value="{{temp.code}}">{{temp.em_dept_name}}</option>
                        </select> 
                        <!--<select id="Select5" class="form-control input-sm full-width" ng-model="edt.dep_code" ng-change="select_dep()"
                                ng-options="dep.dep_code as dep.dep_name for dep in GetDept">
                            <option value="" selected disabled>Please Select</option>
                        </select>-->
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <label><i class="fa fa-graduation-cap"></i>&nbsp;{{"Designation"| translate }}</label>
                        <!--<select id="Select3" class="form-control input-sm full-width" ng-model="edt.dg_code" ng-change="select_dg()"
                                ng-options="dg.dg_code as dg.dg_name for dg in GetDesg">
                            <option value="" selected disabled>Please Select</option>
                        </select>-->
                        <select id="Select4" class="form-control input-sm full-width" name="user" ng-model="edt.dg_code" ng-change="select_dg()">
                            <option value="" selected disabled>Please Select</option>
                            <option class="form-control input-sm" ng-repeat="temp in designation" value="{{temp.em_desg_code}}">{{temp.em_desg_desc}}</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label id="Label1" for="txt_full_name" class="form-label"><i class="fa fa-money"></i>&nbsp;{{"Include Air Fare"| translate }}</label>
                        <div class="checkbox check-success">
                            <input id="chk_term3" type="checkbox" class="k-checkbox" ng-model="edt.include_air_fare">
                            <label for="chk_term3"></label>
                        </div>
                    </div>
                    <div ng-show="showForSOK">
                        <div class="col-md-2">
                            <label id="Label1" for="txt_full_name" class="form-label"><i class="fa fa-money"></i>&nbsp;{{"Include Leave Salary"| translate }}</label>
                            <div class="checkbox check-success">
                                <input id="chk_term4" type="checkbox" class="k-checkbox" ng-model="edt.include_leave_salary">
                                <label for="chk_term4"></label>
                            </div>
                        </div>
                    </div>

                    <!--<div class="col-md-1">
                        <label id="Label1" for="txt_full_name" class="form-label">{{"Finalize"| translate }}</label>
                        <div class="checkbox check-success">
                            <input id="chk_term3" type="checkbox" class="k-checkbox" ng-model="fin_status" ng-change="select_chk_finalize()">
                            <label for="chk_term3"></label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <label>{{"Finalize date"|translate}}</label>
                        <input id="f_date" placeholder="Select Date" name="f_date"
                               class="k-textbox input-sm full-width" ng-model="finalize_date" ng-disabled="fi_date">
                    </div>-->
                    <div class="col-lg-2 col-md-3 m-t-25">
                        <button type="button" class="btn btn-primary btn-small" ng-hide="showclosebtn" ng-click="Show_data()">{{"Show"|translate}}</button>
                        <button type="button" class="btn btn-danger btn-small" ng-hide="showclosebtn" ng-click="reset_form()">{{"Reset"|translate}}</button>
                    </div>
                    <div class="col-lg-2 col-md-2">
                         <label>&nbsp </label>
                       <div class="pull-right">
                           <div class="dataTables_filter" ng-show="searchbox" id="example_filter">

                               <span class="k-textbox k-space-right full-width">
                                   <input type="text" aria-controls="example" ng-model="searchText.$" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1">
                                   <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                           </div>
                      </div>
                    </div>
                </div>
               <div class="row">

               </div>
                <div class="row"style="background-color:white;margin-top:7px;">
                    <div ng-show="busy">
                        <div class="col-md-5">
                            &nbsp;
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <img src="assets/images/loading.gif" />
                            </div>
                        </div>
                    </div>
                    <div ng-show="rgvtbl">
                        <div class="col-md-3">
                            <div class="dataTables_wrapper form-inline" id="Div2">
                                <table class="table  table-hover  table-condensed" id="Table1" aria-describedby="example2_info">
                                    <thead>
                                        <tr style="background-color: #edefef">
                                            <th class="semi-bold small-cell" style="height: 20px; z-index: 1; width: 30%; vertical-align: middle">
                                                <div class="checkbox check-success" style="height: 20px">
                                                    <input type="checkbox" name="check" value="1" id="grademainchk" ng-click="CheckGradeMultiple();" class="checkall">
                                                    <label for="grademainchk"></label>
                                                </div>
                                            </th>
                                            <!--  <th>{{"Sr. No."| translate }}</th>-->
                                            <th class="semi-bold" ng-click="orderByField1='sort'; reverseSort1 = !reverseSort1">
                                                <label>
                                                    <b>
                                                        <a href="">
                                                            <i class="fa fa-sort" ng-if="!orderByField1"></i><span ng-show="!reverseSort1"><i class="fa fa-caret-up" ng-if="orderByField1"></i></span>
                                                            <span ng-show="reverseSort1"><i class="fa fa-caret-down"></i></span>&nbsp;{{"Pays Grade"| translate }}
                                                        </a>
                                                    </b>
                                                </label>
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="info in GetAllPaysGradeName |orderBy:orderByField:reverseSort1" class="{{row1}}" ng-class="{odd:$odd}">
                                            <td>
                                                <div class="checkbox check-success" style="height: 20px">
                                                    <input type="checkbox" name="check" value="1" id="{{info.gr_code}}" ng-click="gradeCheckOneByOne(info.gr_code)" />
                                                    <label for="{{info.gr_code}}"></label>
                                                </div>

                                            </td>
                                            <!--<td>{{$index + 1}}</td>-->
                                            <td>{{info.gr_name}}</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="dataTables_wrapper form-inline" id="Div3">
                                <table class="table  table-hover  table-condensed" id="Table2" aria-describedby="example2_info">
                                    <thead>
                                        <tr style="background-color: #edefef">
                                            <th class="semi-bold small-cell" style="height: 20px; z-index: 1; width: 100px; vertical-align: middle">
                                                <div class="checkbox check-success" style="height: 20px">
                                                    <input type="checkbox" name="check" value="1" id="mainchk" ng-click="CheckEmpMultiple();" class="checkall">
                                                    <label for="mainchk"></label>
                                                </div>

                                            </th>

                                            <th class="semi-bold" ng-click="orderByField='sort'; reverseSort = !reverseSort" style="width: 200px">
                                                <label>
                                                    <b>
                                                        <a href="">
                                                            <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span>
                                                            <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"Employee Id"| translate }}
                                                        </a>
                                                    </b>
                                                </label>
                                            </th>
                                            <th class="semi-bold" style="text-align: left" ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                                <label>
                                                    <b>
                                                        <a href="">
                                                            <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span>
                                                            <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"Employee Name"| translate }}
                                                        </a>
                                                    </b>
                                                </label>
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="no in EmployeeNamesByGrade |orderBy:orderByField:reverseSort  | filter:searchText:strict" class="{{row2}}" ng-class="{odd:$odd}">
                                            <td>
                                                <div class="checkbox check-success" style="height: 20px">
                                                    <input type="checkbox" name="check" value="1" id="{{no.emp_number}}" ng-click="EmpCheckOneByOne(no.emp_number)" />
                                                    <label for="{{no.emp_number}}"></label>
                                                </div>

                                            </td>

                                            <td>{{no.emp_login_code}}</td>
                                            <td>{{no.emp_name}}</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary btn-small" ng-show="rgvtbl" ng-click="Generate_payroll()">{{"Generate"|translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Employee_payrollMyModal" ng-style="style">
    <div class="modal-dialog" id="Div6">
        <div class="modal-content">
            <div class="modal-header">
                <button style="margin-top: 4px;margin-right :0px;height: 33px;line-height: 23px;" class="btn btn-primary btn-cons" data-dismiss="modal" type="submit">Close</button>

                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="reset_form()"><span aria-hidden="true">&times;</span></button>-->
                <h5 class="semi-bold pull-left">{{"Alert"| translate }}</h5>
            </div>
            <div class="modal-body" style="background-color: white">
                <div class="loading" style="font-size: 13px; color: black;" ng-hide="display">
                    {{abc}}
                </div>
                <div class="grid-body no-border paddingcode"style="background-color:transparent;">
                    <!--ng-show="section"-->
                    <div id="Div8" class="dataTables_wrapper form-inline">
                        <div class=" ">
                            <div class="col-md-12">
                                <div id="Div1" class="dataTables_wrapper form-inline">
                                    <table class="table  table-hover  table-condensed" id="Table3" aria-describedby="example2_info">
                                        <thead>
                                            <tr bgcolor="#E0E0E">
                                                <td class="td">{{"Employee ID"| translate }}</td>
                                                <td class="td">{{"Employee Name"| translate }}</td>
                                            </tr>
                                        </thead>
                                        <tr id="{{$index}}" ng-repeat="sec in chk_payroll">
                                            <td class="td">{{sec.emp_login_code}}</td>
                                            <td class="td">{{sec.emp_name}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button type="button" class="btn btn-primary btn-small" ng-hide="showokbtn" ng-click="current_month_yes()">{{"OK"|translate}}</button>
                                <button type="button" class="btn btn-primary btn-small" ng-hide="showclosebtn" ng-keypress="clickme(event$)" ng-click="current_month_no()">{{"Close"|translate}}</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="genratedpayroll" data-backdrop="static" ng-style="style">
    <div class="modal-dialog" id="Div5">
        <div class="modal-content">
            <div class="modal-header">
                <button style="margin-top: 4px;margin-right: -386px;height: 33px;line-height: 23px;" class="btn btn-primary btn-cons" data-dismiss="modal" type="submit">Close</button>

                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="reset_form()"><span aria-hidden="true">&times;</span></button>-->
                <h5 class="semi-bold pull-left">{{"Genrated Payroll Details"| translate }}</h5>

                <br />
            </div>
            <div class="modal-body" style="background-color: white">
                <div class="loading" style="font-size: 15px; color: black;" ng-hide="display">
                    {{gen}}
                </div>
                <div class="grid-body no-border">
                    <!--ng-show="section"-->
                    <div id="Div7" class="dataTables_wrapper form-inline">
                        <div class=" ">
                            <div class="col-md-12">
                                <div id="Div9" class="dataTables_wrapper form-inline">
                                    <table class="table  table-hover  table-condensed" id="Table4" aria-describedby="example2_info">
                                        <thead>
                                            <tr bgcolor="#E0E0E">
                                                <td class="td">{{"Employee ID"| translate }}</td>
                                                <td class="td">{{"Employee Name"| translate }}</td>
                                                <td class="td">{{"Eearning Amount"| translate }}</td>
                                                <td class="td">{{"Deducted Amount"| translate }}</td>
                                                <td class="td">{{"Total Amount"| translate }}</td>
                                            </tr>
                                        </thead>
                                        <tr id="Tr1" ng-repeat="sec in payroll_generated_data">
                                            <td class="td">{{sec.emp_login_code}}</td>
                                            <td class="td">{{sec.emp_name}}</td>
                                            <td class="td">{{sec.earn}}</td>
                                            <td class="td">{{sec.ded}}</td>
                                            <td class="td">{{sec.total}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <div>
                            <h5 class="semi-bold">{{total_employees| translate }}</h5>
                            <h5 class="semi-bold">{{active_employees| translate }}</h5>
                            <!--<h5 class="semi-bold">{{employees_on_vacation| translate }}</h5>-->
                            <h5 class="semi-bold">{{payroll_generated| translate }}</h5>
                        </div>
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button type="button" class="btn btn-primary btn-small" ng-hide="showclosebtn" ng-click="reset_form()"style="background-color:#f35958;">{{"Cancel"|translate}}</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </div>



    </div>
</div>


<script src="assets/js/calender-datepicker-id.js"></script>

<!--<script src="assets/js/multiple-select.js"></script>
<script src="assets/js/tableHeadFixer.js"></script>
-->
