﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Goal Target KPI Measure"| translate }}</span> </h3>
            </div>
            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="grid-body no-border">
                <div ng-show="table">
                    <div class="row form-row">
                        <div class="col-md-6">
                            <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                <option value="10" class=" form-control input-sm">
                                    10
                                </option>

                                <option value="20" class=" form-control input-sm">
                                    20
                                </option>

                                <option value="All" class=" form-control input-sm">
                                    All
                                </option>
                            </select>
                            &nbsp;
                            <button class="btn btn-primary btn-cons btn-small" type="button" id="designew" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate }}</button>
                            &nbsp;
                            <button class="btn btn-danger btn-cons btn-small" type="button" ng-click="OkDelete()"><span class="semi-bold"></span>{{"Delete"| translate }}</button>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <div class="dataTables_filter" id="example_filter">
                                    <label>
                                       <!-- {{"Search"| translate }}:&nbsp;-->
                                        <!--<input type="text" aria-controls="example" ng-model="search.$" class="input-medium"></label>-->
                                        <input aria-controls="example" ng-model="searchText" class="k-textbox input-sm" placeholder="Goal Target/Goal Target KPI/Description" type="search" ng-change="search()">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-hover table-condensed" id="fixTable">
                                    <thead style="background-color: white">
                                        <tr style="background-color: #edefef">
                                            <th class="small-cell v-align-middle" style="z-index: 1">
                                                <div class="checkbox check-success">
                                                    <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                                    <label for="mainchk"></label>
                                                </div>
                                            </th>
                                            <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                                <label><b><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class=" fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"Academic Year"| translate }}</a></b></label>
                                            </th>

                                            <th>
                                                <label><b>{{"Goal"| translate }}</b></label>
                                            </th>
                                            <th>
                                                <label><b>{{"Goal Target"| translate }}</b></label>
                                            </th>
                                            <th>
                                                <label><b>{{"Goal Target KPI"| translate }}</b></label>
                                            </th>
                                            <th>
                                                <label><b>{{"Description"| translate }}</b></label>
                                            </th>
                                            <th>
                                                <label><b>{{"Min Point"| translate }}</b></label>
                                            </th>
                                            <th>
                                                <label><b>{{"Max Point"| translate }}</b></label>
                                            </th>
                                            <th>
                                                <label><b>{{"Status"| translate }}</b></label>
                                            </th>
                                            <th>
                                                <label><i class="fa fa-cogs"></i></label>
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="j in filteredTodos | orderBy:orderByField:reverseSort" ng-class="row1">
                                            <td>
                                                <div class="row-fluid">
                                                    <div class="checkbox check-success" style="height: 20px">
                                                        <input id="{{$index}}" type="checkbox" value="1" ng-click="checkonebyonedelete()">
                                                        <label for="{{$index}}"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <label id="lbl">{{j.sims_sip_academic_year}}</label>
                                            </td>
                                            <td>
                                                <label id="Label5">{{j.sims_sip_goal_desc}}</label>
                                            </td>
                                            <td>
                                                <label id="Label3">{{j.sims_sip_goal_target_desc}}</label>
                                            </td>
                                            <td>
                                                <label id="Label6">{{j.sims_sip_goal_target_kpi_desc}}</label>
                                            </td>
                                            <td>
                                                <label id="Label7">{{j.sims_sip_goal_target_kpi_measure_desc}}</label>
                                            </td>
                                            <td>
                                                <label id="Label8">{{j.sims_sip_goal_target_kpi_measure_min_point}}</label>
                                            </td>
                                            <td>
                                                <label id="Label11">{{j.sims_sip_goal_target_kpi_measure_max_point}}</label>
                                            </td>

                                            <td class="v-align-middle">
                                                <span class="label label-success" ng-if="j.sims_sip_goal_target_kpi_measure_status==true">{{"Active"| translate }}</span>
                                                <span class="label label-important" ng-if="j.sims_sip_goal_target_kpi_measure_status==false">{{"In active"| translate }}</span>
                                            </td>

                                            <td>
                                                <button ng-click="edit(j)"><i class="fa fa-edit"></i></button>
                                                <!--<a href=""><i class="fa fa-edit" ng-click="edit(j)"></i></a>-->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                            ng-click="index(currentPage)">
                                    </paging>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div ng-show="display">
                    <form name="Myform" ng-submit="savedata(Myform.$valid)" novalidate="novalidate">
                        <div class="row">
                            <div class="col-md-3" ng-class="{'has-error': !Myform.acc_year.$valid && (Myform.acc_year.$touched || Myform.$submitted) }">
                                <label id="Label1" for="txt_Nationality_Code" class="form-label">{{"Academic Year"| translate }}</label>
                                <select id="Select2" class="form-control input-sm full-width"
                                        ng-model="temp.sims_sip_academic_year"
                                        ng-options="ay.sims_academic_year as ay.sims_academic_year_description for ay in Acc_year" name="acc_year" ng-disabled="aydisabled" required></select>
                                <p class="help-block" ng-show="Myform.acc_year.$error.required &&  (Myform.acc_year.$touched || Myform.$submitted)">
                                    {{"This field is required"| translate }}
                                </p>
                            </div>
                           
                            <div class="col-md-3" ng-class="{'has-error': !Myform.sims_goal.$valid && (Myform.sims_goal.$touched || Myform.$submitted) }">
                                <label id="Label4" for="txt_Nationality_Code" class="form-label">{{"Goal"| translate }}<span class="text-red">*</span></label>
                                <select id="cmb_School_Code" class="form-control input-sm full-width"
                                        ng-model="temp.sims_sip_goal_code"
                                        ng-options="goal.sims_sip_goal_code as goal.sims_sip_goal_desc for goal in goal_Name" ng-change="getGoalTarget(temp.sims_sip_goal_code)" name="sims_goal" ng-disabled="gdisabled" required></select>
                                <p class="help-block" ng-show="Myform.sims_goal.$error.required &&  (Myform.sims_goal.$touched || Myform.$submitted)">
                                    {{"This field is required"| translate }}
                                </p>
                            </div>
                            <div class="col-md-3" ng-class="{'has-error': !Myform.sims_goal_target.$valid && (Myform.sims_goal_target.$touched || Myform.$submitted) }">
                                <label id="Label12" for="txt_Nationality_Code" class="form-label">{{"Goal Target"| translate }}<span class="text-red">*</span></label>
                                <select id="Select3" class="form-control input-sm full-width"
                                        ng-model="temp.sims_sip_goal_target_code"
                                        ng-options="tar.sims_sip_goal_target_code as tar.sims_sip_goal_target_desc for tar in target_Name" ng-change="getGoalTargetKPI(temp.sims_sip_goal_code,temp.sims_sip_goal_target_code)" name="sims_goal_target" ng-disabled="gtdisabled" required></select>
                                <p class="help-block" ng-show="Myform.sims_goal_target.$error.required &&  (Myform.sims_goal_target.$touched || Myform.$submitted)">
                                    {{"This field is required"| translate }}
                                </p>
                            </div>
                            <div class="col-md-3" ng-class="{'has-error': !Myform.goal_target_kpi.$valid && (Myform.goal_target_kpi.$touched || Myform.$submitted) }">
                                <label id="Label14" for="txt_Nationality_Code" class="form-label">{{"Goal Target KPI"| translate }}<span class="text-red">*</span></label>
                                <select id="Select4" class="form-control input-sm full-width" name="goal_target_kpi"
                                        ng-model="temp.sims_sip_goal_target_kpi_code"
                                        ng-options="kpi.sims_sip_goal_target_kpi_code as kpi.sims_sip_goal_target_kpi_desc for kpi in goal_TargetKPI" ng-disabled="gtkpidisabled" required></select>
                                <p class="help-block" ng-show="Myform.goal_target_kpi.$error.required &&  (Myform.goal_target_kpi.$touched || Myform.$submitted)">
                                    {{"This field is required"| translate }}
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3" ng-class="{'has-error': !Myform.desc.$valid && (Myform.desc.$touched || Myform.$submitted) }">
                                <label id="Label2" for="txt_Country_Code" class="form-label">{{"Description"| translate }}</label>
                                <input type="text" name="desc" class="k-textbox input-sm full-width" ng-maxlength="40" pattern="[A-Za-z]+" ng-disabled="gdescdisabled" ng-model="temp.sims_sip_goal_target_kpi_measure_desc" />

                                <p class="help-block" ng-show="Myform.desc.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                    {{"Description Should be Max 40"| translate }}
                                </p>
                                <p class="help-block" ng-show="Myform.desc.$error.pattern && (!Myform.$pristine && Myform.$submitted)">
                                    {{"Enter only Character"| translate }}
                                </p>
                            </div>
                            <div class="col-md-3" ng-class="{'has-error': !Myform.min_point.$valid && (Myform.min_point.$touched || Myform.$submitted) }">
                                <label id="Label10" for="txt_Country_Code" class="form-label">{{"Minimum Point"| translate }}</label>
                                <input type="text" name="min_point" class="k-textbox input-sm full-width" ng-maxlength="6" ng-pattern="/^[0-9]{1,3}(\.[0-9]+)?$/" ng-change="chkMaxMin()" ng-model="temp.sims_sip_goal_target_kpi_measure_min_point" />

                                <p class="help-block" ng-show="Myform.min_point.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                    {{"Minimum Point Should be Max 6"| translate }}
                                </p>
                                <p class="help-block" ng-show="Myform.min_point.$error.pattern && (!Myform.$pristine && Myform.$submitted)">
                                    {{"Enter Only Digits"| translate }}
                                </p>
                            </div>
                            <div class="col-md-3" ng-class="{'has-error': !Myform.max_point.$valid && (Myform.max_point.$touched || Myform.$submitted) }">
                                <label id="Label9" for="txt_Country_Code" class="form-label">{{"Maximum Point"| translate }}</label>
                                <input type="text" name="max_point" class="k-textbox input-sm full-width" ng-maxlength="6" ng-pattern="/^[0-9]{1,3}(\.[0-9]+)?$/" ng-change="chkMaxMin()" ng-model="temp.sims_sip_goal_target_kpi_measure_max_point" />

                                <p class="help-block" ng-show="Myform.max_point.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                    {{"Maximum Point Should be Max 6"| translate }}
                                </p>
                                <p class="help-block" ng-show="Myform.max_point.$error.pattern && (!Myform.$pristine && Myform.$submitted)">
                                    {{"Enter Only Digits"| translate }}
                                </p>
                            </div>
                            <div class="col-md-3">
                                <div class="pull-right">
                                    <label id="Label13" for="txt_full_name" class="form-label">{{"Status"| translate }}</label>
                                    <div class="row-fluid">
                                        <div class="checkbox check-success">
                                            <input id="checkbox3" type="checkbox" ng-model="temp.sims_sip_goal_target_kpi_measure_status">
                                            <label for="checkbox3"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-actions">
                                <div class="pull-right">
                                    <button type="submit" id="desigsub" ng-show="save_btn" class="btn btn-primary btn-cons btn-small">{{"Save"| translate }}</button>
                                    <button type="button" ng-show="Update_btn" ng-click="update(Myform.$valid);" class="btn btn-primary btn-cons btn-small">{{"Update"| translate }}</button>
                                    <button type="button" class="btn btn-danger btn-cons btn-small" ng-click="Cancel();">{{"Cancel"| translate }}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="message">
    <div class="modal-dialog" id="Div1" style="width: 300px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="semi-bold pull-left">{{"Message"| translate }}</h5>
                <br />
            </div>
            <div class="modal-body">
                <br />
                <label>{{msg1.strMessage}}</label>
                <br />
            </div>
            <div class="modal-footer" style="height: 60px">
                <button type="button" class="btn btn-primary btn-cons btn-small" data-dismiss="modal" ng-click="maindata();">{{"Ok"| translate }}</button>
            </div>
        </div>
    </div>
</div>
<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/js/add-ng-disabled.js"></script>