﻿<!--<link href="assets/css/mino.css" rel="stylesheet" />-->
<style>
 .bluegreed {
        background: #d8ebf4 !important;
        padding-bottom: 6px !important;
        padding-top: 6px !important;
    }

 </style>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="page-title">
                <h3>{{ "InActivate User" | translate }}</h3>
            </div>
            <div class="grid-body no-border paddingcode" style="background-color:transparent;">
                <div ng-show="display">
                    <form name="myForm" novalidate="novalidate" ng-submit="Save(myForm.$valid)">
                        <div class="row bluegreed">
                          <!--  <div class="col-md-7">-->
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="form-label"><i class="fa fa-search-minus"></i>&nbsp;{{ "Search For" | translate }}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="radio radio-success">
                                            <div class="col-md-4">
                                                <input id="chk_emp" class="k-radio" type="radio" name="optionyes" value="emp" ng-model="edt.sims_user"    ng-click="get_msgtype(edt.sims_user)">
                                                <label class="form-label" for="chk_emp">{{ "Employee" | translate }}&nbsp;</label>
                                            </div>
                                            <div class="col-md-4" ng-hide="btn_hide">
                                                <input id="chk_student" class="k-radio" type="radio" name="optionyes" value="student" ng-model="edt.sims_user" ng-click="get_msgtype(edt.sims_user)">
                                                <label class="form-label" for="chk_student">{{"Student" | translate }}</label>
                                            </div>
                                            <div class="col-md-3" ng-hide="btn_hide">
                                                <input id="chk_parent" class="k-radio" type="radio" name="optionyes" value="parent" ng-model="edt.sims_user" ng-click="get_msgtype(edt.sims_user)">
                                                <label class="form-label" for="chk_parent">{{"Parent" | translate }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                                <div class="row bluegreed"style="margin-top:-1px;">
                                    <div class="col-md-2">
                                        <label class="form-label"><i class="fa fa-search-minus"></i>&nbsp;{{ "Search By" | translate }}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="radio radio-success">
                                            <div class="col-md-4">
                                                <input id="chk_firstname" class="k-radio" type="radio" name="optionname" value="firstname" ng-model="edt.sims_type"  ng-click="get_nametypechecked(edt.sims_type)">
                                                <label class="form-label" for="chk_firstname">{{"First Name" | translate }}&nbsp;</label>
                                            </div>
                                            <div class="col-md-4">
                                                <input id="chk_lastname" class="k-radio" type="radio" name="optionname" value="lastname" ng-model="edt.sims_type" ng-click="get_nametypechecked(edt.sims_type)">
                                                <label class="form-label" for="chk_lastname">{{"Last Name" | translate }}</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input id="chk_loginid" class="k-radio" type="radio" name="optionname" value="loginid" ng-model="edt.sims_type"   ng-click="get_nametypechecked(edt.sims_type)">
                                                <label class="form-label" for="chk_loginid">{{"Login Id" | translate }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          <!--  </div>-->
                           <div class="row bluegreed"style="padding-bottom:6px;margin-top:-15px;">
                                <div class="col-md-2">
                                         <label class="form-label-sm"><i class="fa fa-user"></i>&nbsp;{{"User Name/login Id" | translate }}</label>
                                   </div> 
                                   <div class="col-md-4">
                                       <div class="col-md-12">
                                    <input name="txt_Name" id="txt_Name" type="text"  class="k-textbox input-sm full-width" placeholder="User Name/ login Id" ng-model="edt.sims_name">
                                           </div>
                                    </div>
                                
                           
                            <div class="col-md-2">
                                    <button class="btn btn-success btn-small" id="sibling_validate" type="button" ng-click="getsearch_details(edt.sims_user,edt.sims_type,edt.sims_name)">
                                        {{"Search"|translate}}
                                    </button>
                               
                            </div>
                        </div>

                        <div ><!--id="example_wrapper" class="dataTables_wrapper form-inline"-->
                          <div class="row margin-top"style="background-color:white;margin-top:7px;">
                             <div class="pull-left">
                                        <div class="col-md-2">
                                            <select id="Select12" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="10" class="form-control input-sm">
                                10
                            </option>

                            <option value="20" class="form-control input-sm">
                                20
                            </option>

                            <option value="All" class="form-control input-sm">
                                All
                            </option>
                        </select>
                                        </div>
                                    </div>
                            </div>

                             <div class="col-md-12" ng-show="busy">
                                <div class="col-md-5">
                                    &nbsp;
                                </div>

                                <div class="col-md-5">
                                    <div class="row">
                                        <img src="assets/images/loading.gif" />
                                    </div>
                                </div>
                            </div>

                            <div class="row margin-top">
                                <div class="col-md-12" style="background-color:white;margin-top:-13px;">
                                    <!--   <table class="table  table-bordered  table-condensed dataTable" id="example">-->
                                    <table class="table table-hover table-bordered table-condensed" id="fixedtable">
                                        <thead>
                                            <tr bgcolor="#E0E0E">
                                               
                                                <th class="small-cell v-align-middle">
                                                   <!-- <div class="checkbox check-success">
                                                        <input type="checkbox" name="check" value="1" id="mainchk" ng-click="checkAll();">
                                                        <label for="mainchk"></label>
                                                    </div>--> &nbsp;
                                                </th>
                                                <th style="width: 100px;"><b><i class="fa fa-user"></i>&nbsp;{{ "Login ID" | translate }} </b></th>
                                                <th style="width: 220px;"><b><i class="fa fa-user"></i>&nbsp;{{ "User Name" | translate }}</b></th>
                                                <th style="width: 180px;"><b><i class="fa fa-calendar"></i>&nbsp;{{ "De-Activation Date" | translate }}</b></th>
                                                <th style="width: 100px;"><b><i class="fa fa-bookmark"></i>&nbsp;{{ "Status" | translate }}</b></th>
                                                <th><b><i class="fa fa-bookmark-o"></i>&nbsp;{{ "Remark" | translate }}</b></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="Inactive_user in filteredTodos |filter:search:strict" ng-class="row1">
                                                <td>
                                                    <!--<div class="checkbox check-success" style="height: 20px">
                                                        <input type="checkbox" name="check" value="1" id="{{Inactive_user.login_id+$index}}"  ng-model="Inactive_user.login_id1" ng-click="get_ischecked(Inactive_user)">
                                                        <label for="{{Inactive_user.login_id+$index}}">
                                                        </label>
                                                    </div>-->

                                                    <div class="checkbox check-success" style="height: 20px">
                                                        <input type="checkbox" name="check" value="1" id="test_{{$index}}" ng-model="Inactive_user.login_id1" ng-click="get_ischecked(Inactive_user)">
                                                        <label for="test_{{$index}}">
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>{{Inactive_user.login_id}}</div>
                                                </td>
                                                <td>
                                                    <div>{{Inactive_user.user_name}}</div>
                                                </td>
                                                <td class="v-align-middle">
                                                    <input type="text" id="txt_date" class="k-textbox input-sm" placeholder="dd-mm-yyyy" ng-model="Inactive_user.deactivation_date" />

                                                </td>
                                                <td>
                                                    {{Inactive_user.status}}
                                                </td>
                                                <td>
                                                    <div>
                                                        <textarea id="txt_remark" name="txt_remark" placeholder="Enter text ..." class="k-textbox input-sm full-width" rows="1" style="text-align: left;resize: none" ng-model="Inactive_user.remark"></textarea>
                                                    </div>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row margin-top" ng-show="pager">
                                <div class="col-md-12"style="background-color:white;margin-top:-15px;">
                                    
                                    <div class="pull-right">
                                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                                ng-click="index(currentPage)">
                                        </paging>

                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                                    <div class="form-actions">

                                <div class="pull-right">
                                    <!--  <button class="btn btn-green btn-cons" id="btn_delete" type="button" ng-click="Delete()" ng-disabled="btn_delete">
                                            {{"Delete"|translate}}
                                        </button>-->
                                    <button class="btn btn-primary btn-cons btn-small" type="submit" ng-click="Save()" ng-disabled="btn_save">{{"Save" | translate}}</button>
                                    <button class="btn btn-danger btn-cons btn-small" type="button" ng-click="Cancel()">{{"Cancel" | translate}}</button>
                                </div>
                                                        </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<script src="assets/js/tableHeadFixer.js"></script>-->
<script src="assets/js/calender-datepicker-id.js"></script>