﻿<!--<link href="assets/css/ColorPicker.css" rel="stylesheet" />
<link href="assets/css/Color-Picker-Main.css" rel="stylesheet" />
<script src="assets/js/ColorPicker.js"></script>
<div class="loading-middle" ng-hide="table">
    {{ "Loading..." | translate }}
</div>-->
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>

                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="page-title">
                <h3><span class="semi-bold">{{"Loan"| translate }}</span>&nbsp;{{"Register"| translate}}</h3>
            </div>
            <div class="grid-body no-border">
                <form name="myForm" ng-submit="Save(myForm.$valid)" novalidate="novalidate">
                    <div ng-show="operation">
                        <div class="row">
                            <div class="col-md-2" ng-class="{'has-error': !myForm.comcode.$valid && (myForm.comcode.$touched || myForm.$submitted)}">
                                <label id="Label1" for="txt_Country_Code" class="form-label">{{"Company Name"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <select id="cmb_School_Code" class="form-control input-sm full-width"
                                        ng-model="edt.lo_company_code"
                                        ng-options="comcode.pc_company_code as comcode.company_name for comcode in CompanyName_Data" name="comcode" required ng-change="GetLoandesc();"></select>
                                <p class="help-block" ng-show="myForm.comcode.$error.required &&  (myForm.comcode.$touched || myForm.$submitted)">
                                    This field is required
                                </p>
                            </div>
                            <div class="col-md-4" ng-class="{'has-error': !myForm.loanemp.$valid && (myForm.loanemp.$touched || myForm.$submitted)}">
                                <label id="lbl_ledger" for="txt_ldgr_Code" class="form-label">{{"Name"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <select id="cmb_Ledger_Code" class="full-width"
                                        ng-model="edt.lo_number" 
                                        ng-options="loanemp.lo_number as loanemp.employeeName for loanemp in LoanEmpName_Data" name="loanemp" required ng-change="CheckEmployee(edt.lo_number)">
                                   <!-- <option value="" disabled>Please Select Name</option>-->
                                </select>
                                <p class="help-block" ng-show="myForm.loanemp.$error.required &&  (myForm.loanemp.$touched || myForm.$submitted)">
                                    This field is required
                                </p>
                            </div>
                            <div class="col-md-2" ng-class="{'has-error': !myForm.loandesc.$valid && (myForm.loandesc.$touched || myForm.$submitted)}">
                                <label id="Label1" for="txt_Country_Code" class="form-label">{{"Loan Code"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <select id="cmb_School_Code" class="form-control input-sm full-width"
                                        ng-model="edt.lo_code"
                                        ng-options="loandesc.lo_code as loandesc.loanName for loandesc in AllLoanDesc_Data" name="loandesc" required></select>
                                <p class="help-block" ng-show="myForm.loandesc.$error.required &&  (myForm.loandesc.$touched || myForm.$submitted)">
                                    This field is required
                                </p>
                            </div>
                            <div class="col-md-2">
                                <label id="lbl_startdate" class="form-label">{{"Sanction Date"| translate}}</label>
                                <input type="text" id="start_date" class="k-textbox input-sm full-width" ng-change="showdate(edt.lo_sanction_date,'lo_sanction_date')" ng-model="edt.lo_sanction_date">
                                <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->

                            </div>
                            <div class="col-md-2" ng-class="{'has-error': !myForm.Amount.$valid && (myForm.Amount.$touched || myForm.$submitted)}">
                                <label id="lbl_amount" for="txt_amount" class="form-label">{{"Amount"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" id="title_text_amount" ng-model="edt.lo_amount" class="k-textbox input-sm full-width" name="Amount" required />
                                <p class="help-block" ng-show="myForm.Amount.$error.required &&  (myForm.Amount.$touched || myForm.$submitted)">
                                    This field is required
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2" ng-class="{'has-error': !myForm.paidamount.$valid && (myForm.paidamount.$touched || myForm.$submitted)}">
                                <label id="lbl_paidamount" for="txt_paid_amount" class="form-label">{{"Paid Amount"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" id="txt_paid_amount" ng-model="edt.lo_paid_amount" class="k-textbox input-sm full-width" name="paidamount" required />
                                <p class="help-block" ng-show="myForm.paidamount.$error.required &&  (myForm.paidamount.$touched || myForm.$submitted)">
                                    This field is required
                                </p>
                            </div>
                            <div class="col-md-2" ng-class="{'has-error': !myForm.tptalI.$valid && (myForm.tptalI.$touched || myForm.$submitted)}">
                                <label id="lbl_total" for="title_tptal" class="form-label">{{"Total Installments"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" id="title_tptal" ng-model="edt.lo_no_of_installment" class="k-textbox input-sm full-width" name="tptalI" required />
                                <p class="help-block" ng-show="myForm.tptalI.$error.required &&  (myForm.tptalI.$touched || myForm.$submitted)">
                                    This field is required
                                </p>
                            </div>
                            <div class="col-md-2" ng-class="{'has-error': !myForm.repaid.$valid && (myForm.repaid.$touched || myForm.$submitted)}">
                                <label id="lbl_repaid" for="title_text_repaid" class="form-label">{{"Repaid Installments"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" id="title_text_repaid" ng-model="edt.lo_repaid_installment" class="k-textbox input-sm full-width" name="repaid" required />
                                <p class="help-block" ng-show="myForm.repaid.$error.required &&  (myForm.repaid.$touched || myForm.$submitted)">
                                    This field is required
                                </p>
                            </div>

                            <div class="col-md-2" ng-class="{'has-error': !myForm.reference.$valid && (myForm.reference.$touched || myForm.$submitted)}">
                                <label id="lbl_ledger" for="txt_ldgr_Code" class="form-label">{{"Reference"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" id="title_text" ng-model="edt.lo_reference" class="k-textbox input-sm full-width" name="reference" required />
                                <p class="help-block" ng-show="myForm.reference.$error.required &&  (myForm.reference.$touched || myForm.$submitted)">
                                    This field is required
                                </p>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                <label id="Label11" for="txt_full_name" class="form-label">{{"Manager Confirm tag"| translate }}</label>
                                <div class="checkbox check-success">
                                    <input id="chk_term1" type="checkbox" ng-model="edt.lo_mgr_confirm_tag">
                                    <label for="chk_term1"></label>
                                </div>
                            </div>
                            <div class="col-md-4" style="padding-left: 4%;">
                                <label id="Label3" for="txt_full_name" class="form-label">{{"Fully Record Tag"| translate }}</label>
                                <div class="checkbox check-success">
                                    <input id="chk_term2" type="checkbox" ng-model="edt.lo_fully_rec_tag">
                                    <label for="chk_term2"></label>
                                </div>
                            </div>
                                    <div class="col-md-4">
                                <label id="Label2" for="txt_full_name" class="form-label">{{"Monthly Record Tag"| translate }}</label>
                                <div class="checkbox check-success">
                                    <input id="chk_term3" type="checkbox" ng-model="edt.lo_monthly_rec_tag">
                                    <label for="chk_term3"></label>
                                </div>
                            </div>
                                </div>
                                </div>
                            
                        </div>
                        <div class="row">
                            
                            <div class="col-md-4" ng-class="{'has-error': !myForm.Guranterno.$valid && (myForm.Guranterno.$touched || myForm.$submitted)}">
                                <label id="Label1" for="txt_Country_Code" class="form-label">{{"Guarantor No"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <select id="cmb_Guarantor_No" class="full-width"
                                        ng-model="edt.lo_gaunt_no"
                                        ng-options="Guranterno.lo_number as Guranterno.employeeName for Guranterno in employeedata" ng-change="GetDesignation(edt.lo_gaunt_no);" name="Guranterno" required></select>
                                <p class="help-block" ng-show="myForm.Guranterno.$error.required &&  (myForm.Guranterno.$touched || myForm.$submitted)">
                                    This field is required
                                </p>
                            </div>
                            <div class="col-md-2" ng-class="{'has-error': !myForm.GuantName.$valid && (myForm.GuantName.$touched || myForm.$submitted)}">
                                <label id="lbl_ledger" for="txt_ldgr_Code" class="form-label">{{"Guarantor Name"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" id="title_text" ng-model="temp.lo_gaunt_name" class="k-textbox input-sm full-width" name="GuantName" required />
                                <p class="help-block" ng-show="myForm.GuantName.$error.required &&  (myForm.GuantName.$touched || myForm.$submitted)">
                                    This field is required
                                </p>
                            </div>
                            <div class="col-md-2" ng-class="{'has-error': !myForm.GuantCmpny.$valid && (myForm.GuantCmpny.$touched || myForm.$submitted)}">
                                <label id="lbl_ledger" for="txt_ldgr_Code" class="form-label">{{"Guarantor Company Name"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" id="title_text" ng-model="temp.lo_gaunt_comp_name" class="k-textbox input-sm full-width" name="GuantCmpny" required />
                                <p class="help-block" ng-show="myForm.GuantCmpny.$error.required &&  (myForm.GuantCmpny.$touched || myForm.$submitted)">
                                    This field is required
                                </p>
                            </div>
                            <div class="col-md-4" ng-class="{'has-error': !myForm.GuantDesig.$valid && (myForm.GuantDesig.$touched || myForm.$submitted)}">
                                <label id="lbl_GuantDesig" for="txt_ldgr_Code" class="form-label">{{"Guarantor Designation"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" id="Text1" ng-model="temp.lo_gaunt_desg" class="k-textbox input-sm full-width" name="GuantDesig" required />
                                <p class="help-block" ng-show="myForm.GuantDesig.$error.required &&  (myForm.GuantDesig.$touched || myForm.$submitted)">
                                    This field is required
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4" ng-class="{'has-error': !myForm.GuantAdd1.$valid && (myForm.GuantAdd1.$touched || myForm.$submitted)}">
                                <label id="lbl_GuantAdd1" for="txt_ldgr_Code" class="form-label">{{"Guarantor Address1"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" id="title_text" ng-model="temp.lo_gaunt_address1" class="k-textbox input-sm full-width" name="GuantAdd1" required />
                                <p class="help-block" ng-show="myForm.GuantAdd1.$error.required &&  (myForm.GuantAdd1.$touched || myForm.$submitted)">
                                    This field is required
                                </p>
                            </div>
                            <div class="col-md-4" ng-class="{'has-error': !myForm.GuantAdd2.$valid && (myForm.GuantAdd2.$touched || myForm.$submitted)}">
                                <label id="lbl_GuantAdd2" for="txt_ldgr_Code" class="form-label">{{"Guarantor Address2"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" id="title_text" ng-model="edt.lo_gaunt_address2" class="k-textbox input-sm full-width" name="GuantAdd2" required />
                                <p class="help-block" ng-show="myForm.GuantAdd2.$error.required &&  (myForm.GuantAdd2.$touched || myForm.$submitted)">
                                    This field is required
                                </p>
                            </div>
                            <div class="col-md-4" ng-class="{'has-error': !myForm.GuantAdd3.$valid && (myForm.GuantAdd3.$touched || myForm.$submitted)}">
                                <label id="lbl_GuantAdd3" for="txt_ldgr_Code" class="form-label">{{"Guarantor Address3"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" id="title_text" ng-model="edt.lo_gaunt_address3" class="k-textbox input-sm full-width" name="GuantAdd3" required />
                                <p class="help-block" ng-show="myForm.GuantAdd3.$error.required &&  (myForm.GuantAdd3.$touched || myForm.$submitted)">
                                    This field is required
                                </p>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-actions">
                                <div class="pull-right">
                                    <button class="btn btn-primary btn-cons btn-small" type="submit" ng-show="savebtn"><i class="icon-ok"></i>{{"Save"| translate }}</button>
                                    <button class="btn btn-primary btn-cons btn-small" type="button" ng-show="updatebtn" ng-click="Update()"><i class="icon-ok"></i>{{"Update"| translate }}</button>
                                    <button class="btn btn-danger btn-cons btn-small" type="button" ng-show="deletebtn" ng-click="deleterecord()"><i class="icon-ok"></i>{{"Delete"| translate }}</button>
                                    <button class="btn btn-danger btn-cons btn-small" type="button" ng-click="cancel()">{{"Cancel"| translate }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <!--table-->

                <div ng-show="table1">
                    <div class="row">
                        <div class="col-md-6">
                            <select id="Select12" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                <option value="10" class="k-textbox input-sm full-width">
                                    10
                                </option>

                                <option value="20" class="k-textbox input-sm full-width">
                                    20
                                </option>

                                <option value="All" class="k-textbox input-sm full-width">
                                    All
                                </option>
                            </select>

                            &nbsp;
                            <button class="btn btn-primary btn-cons btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate}}</button>
                            &nbsp;
                            <button class="btn btn-danger btn-cons btn-small" type="button" ng-click="deleterecord()"><span class="semi-bold"></span>{{"Delete"| translate}}</button>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <div class="dataTables_filter" id="Div1">
                                    <span class="k-textbox k-space-right full-width">
                                        <input type="text" placeholder="Search" aria-controls="example" ng-model="searchText" class="k-textbox input-sm" ng-change="search();">
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <div class="row margin-top">
                            <div class="col-md-12">
                                <table class="table  table-striped  table-condensed" id="Table1" aria-describedby="example2_info" cellpadding="0" cellspacing="0" style="table-layout:fixed;">
                                    <thead style="background-color: white">
                                        <tr>

                                            <th class="small-cell v-align-middle">
                                                <div class="checkbox check-success">
                                                    <input type="checkbox" name="check" value="1" id="mainchk" ng-click="CheckAllChecked();">
                                                    <label for="mainchk"></label>
                                                </div>
                                            </th>
                                            <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                        <a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"Loan Number"| translate }}</a>
                                    </th>
                                         <!--   <th>{{"Loan Number"| translate }}</th>-->

                                            <th>{{"Company Name"| translate }}</th>
                                            <th style="width:210px;">{{"Name"| translate }}</th>
                                            <th>{{"Loan Code"| translate }}</th>
                                            <th>{{"Sanction Date"| translate }}</th>
                                            <th style="text-align:right;">{{"Amount"| translate }}</th>
                                            <th style="width:210px;">{{"Guarantor"| translate }}</th>


                                            <th>{{"Action"| translate }}</th>

                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="obj in filteredTodos | orderBy:orderByField:reverseSort">
                                            <td class="small-cell v-align-middle">
                                                <div class="row-fluid" style="height: 20px">
                                                    <div class="checkbox check-success">
                                                        <input type="checkbox" value="1" id="{{obj.lo_number}}" ng-click="checkonebyonedelete()">
                                                        <label for="{{obj.lo_number}}"></label>
                                                    </div>
                                                </div>
                                            </td>

                                            <td>{{obj.lo_number}}</td>
                                            <td>{{obj.companyName}}</td>
                                            <td>{{obj.employeeName}}</td>

                                            <td>{{obj.loanName}}</td>
                                            <td>{{obj.lo_sanction_date}}</td>
                                            <td  style="text-align:right;">{{obj.lo_amount}}</td>

                                            <td>{{obj.lo_gaunt_name}}</td>


                                            <!--<td class="v-align-middle">
                                                <span ng-if="obj.pc_company_grade_tag==true" class="label label-success">Active</span>
                                                <span ng-if="obj.pc_company_grade_tag==false" class="label label-important">In active</span>
                                            </td>-->
                                            <td>
                                                <a href=""><i class="fa fa-edit" ng-click="up(obj)"></i></a>
                                            </td>
                                        </tr>

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<script src="assets/js/ColorPicker.js"></script>-->
<script src="assets/js/calender-datepicker-id.js"></script>