﻿<!--<link href="assets/css/ColorPicker.css" rel="stylesheet" />
<link href="assets/css/Color-Picker-Main.css" rel="stylesheet" />
<script src="assets/js/ColorPicker.js"></script>-->
<div class="loading-middle" ng-hide="table">
    {{ "Loading..." | translate }}
</div>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="page-title">
                <h3><span class="semi-bold">{{"Loan"| translate }}</span>&nbsp;{{"Code"| translate}}</h3>
            </div>
            <div class="grid-body no-border">
                <form name="myForm" ng-submit="Save(myForm.$valid)" novalidate="novalidate">
                    <div ng-show="operation">

                        <div class="row">
                            <div class="col-md-4" ng-class="{'has-error': !myForm.comcode.$valid && (myForm.comcode.$touched || myForm.$submitted)}">
                                <label id="Label1" for="txt_Country_Code" class="form-label">{{"Company Name"| translate }}</label>
                                <select id="cmb_School_Code" data-role="dropdownlist" class="form-control input-sm full-width"
                                        ng-model="edt.lc_company_code"
                                        ng-options="comcode.pc_company_code as comcode.company_name for comcode in CompanyName_Data" name="comcode" required ng-show="newmode"></select>
                                <input type="text" id="Text1" ng-model="edt.companyName" class="k-textbox input-sm full-width" ng-show="editmode" disabled="disabled" />
                                <p class="help-block" ng-show="myForm.comcode.$error.required &&  (myForm.comcode.$touched || myForm.$submitted)">
                                    This field is required
                                </p>
                            </div>
                            <div class="col-md-4">
                                <label id="lbl_ledger" for="txt_ldgr_Code" class="form-label">{{"ledger Name"| translate }}</label>
                                <select id="cmb_Ledger_Code" data-role="dropdownlist" class="form-control input-sm full-width"
                                        ng-model="edt.lc_ledger_code"
                                        ng-options="ldgrnm.lc_ledger_code as ldgrnm.ledgerName for ldgrnm in AllLedger_Data" name="ldgrnm" required></select>

                            </div>
                            <div class="col-md-4">
                                <label id="Label1" for="txt_Country_Code" class="form-label">{{"Debit Account Number"| translate }}</label>
                                <select id="cmb_School_Code" data-role="dropdownlist" class="form-control input-sm full-width"
                                        ng-model="edt.lc_debit_acno" ng-show="newmode"
                                        ng-options="debit.pd_debit_acno as debit.pd_debit_acno_nm for debit in CreditDebit_Data" name="debit"></select>
                                <input type="text" id="Text3" ng-model="edt.lc_debit_acno_nm" class="k-textbox input-sm full-width" ng-show="editmode" disabled="disabled" />

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4" ng-class="{'has-error': !myForm.loandesc.$valid && (myForm.loandesc.$touched || myForm.$submitted)}">
                                <label>{{"Loan Description"|translate}}</label>
                                <textarea id="Assigndesc" ng-model="edt.lc_desc" class="k-textbox input-sm full-width" name="loandesc" required ng-maxlength="40" />
                                <p class="help-block" ng-show="myForm.loandesc.$error.required &&  (myForm.loandesc.$touched || myForm.$submitted)">
                                    This field is required
                                </p>
                                <p class="help-block" ng-show="myForm.loandesc.$error.maxlength &&  (myForm.loandesc.$touched || myForm.$submitted)">
                                    Maximum length is 40 Characters
                                </p>
                            </div>
                            <div class="col-md-4">
                                <label>{{"Loan Account Type"|translate}}</label>
                                <div class="radio radio-success">
                                    <input id="yes" type="radio" class="k-radio" name="optionyes" ng-model="edt.lc_ac_type" value="O">
                                    <label for="yes">{{"O"| translate }}</label>
                                    <input id="no" type="radio" class="k-radio" name="optionyes" ng-model="edt.lc_ac_type" value="S">
                                    <label for="no">{{"S"| translate }} </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-actions">
                                <div class="pull-right">
                                    <button class="btn btn-primary btn-small" type="submit" ng-show="savebtn"><i class="icon-ok"></i>{{"Save"| translate }}</button>
                                    <button class="btn btn-primary btn-small" type="button" ng-show="updatebtn" ng-click="Update()"><i class="icon-ok"></i>{{"Update"| translate }}</button>
                                    <button class="btn btn-white btn-small" type="button" ng-show="deletebtn" ng-click="deleterecord()"><i class="icon-ok"></i>{{"Delete"| translate }}</button>
                                    <button class="btn btn-white btn-small" type="button" ng-click="cancel()">{{"Cancel"| translate }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div ng-show="table1">
                    <div class="row form-row">
                        <div class="col-md-6">
                            <select id="Select12" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                <option value="5" class="form-control input-sm">
                                    5
                                </option>

                                <option value="10" class="form-control input-sm">
                                    10
                                </option>

                                <option value="15" class="form-control input-sm">
                                    15
                                </option>
                            </select>

                            &nbsp;
                            <button class="btn btn-success btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate}}</button>
                            &nbsp;
                            <button class="btn btn-white btn-small" type="button" ng-click="deleterecord()"><span class="semi-bold"></span>{{"Delete"| translate}}</button>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <div class="dataTables_filter" id="Div1">
                                   <span class="k-textbox k-space-right full-width">
                                        <input type="text" placeholder="Search" aria-controls="example" ng-model="searchText" class="k-textbox input-sm" ng-change="search();">
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table  table-striped  table-condensed" id="Table1" aria-describedby="example2_info" cellpadding="0" cellspacing="0" style="table-layout:fixed;">
                                    <thead style="background-color: white">
                                        <tr>

                                            <td class="small-cell v-align-middle">
                                                <div class="checkbox check-success">
                                                    <input type="checkbox" name="check" value="1" id="mainchk" ng-click="CheckAllChecked();">
                                                    <label for="mainchk"></label>
                                                </div>
                                            </td>

                                            <td class="semi-bold">{{"LOAN CODE"| translate }}</td>
                                            <td class="semi-bold">{{"COMPANY NAME"| translate }}</td>

                                            <td class="semi-bold">{{"LOAN DESCRIPTION"| translate }}</td>
                                            <td class="semi-bold">{{"LOAN ACCOUNT TYPE"| translate }}</td>
                                            <td class="semi-bold">{{"LEDGER NAME"| translate }}</td>

                                            <td class="semi-bold">{{"DEBIT ACCOUNT NO"| translate}}</td>
                                            <td class="semi-bold">{{"ACTION"| translate }}</td>

                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="obj in filteredTodos">
                                            <td class="small-cell v-align-middle">
                                                <div class="row-fluid" style="height: 20px">
                                                    <div class="checkbox check-success">
                                                        <input type="checkbox" value="1" id="{{obj.lc_code}}" ng-click="checkonebyonedelete()">
                                                        <label for="{{obj.lc_code}}"></label>
                                                    </div>
                                                </div>
                                            </td>

                                            <td>{{obj.lc_code}}</td>
                                            <td>{{obj.companyName}}</td>
                                            <td>{{obj.lc_desc}}</td>
                                            <td>{{obj.lc_ac_type}}</td>
                                            <td>{{obj.ledgerName}}</td>
                                            <td>{{obj.lc_debit_acno_nm}}</td>

                                            <td>
                                                <button ng-click="up(obj)"><i class="fa fa-edit"></i></button>
                                                <!--<a href=""><i class="fa fa-edit" ng-click="up(obj)"></i></a>-->
                                            </td>
                                        </tr>

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--<script src="assets/js/ColorPicker.js"></script>-->
<!--<script src="assets/js/add-ng-disabled.js"></script>-->