﻿<!DOCTYPE html>
<html>
<body>
    <!--<div class="col-md-12">
    </div>-->



    <div class="grid-simple white-bg p-t-30 p-b-80 p-l-10 p-r-10">
        <div class="row">

            <div class="col-md-2">
                <label id="Label" for="txt_Nationality_Code" class="form-label">{{"Scedule Type"|translate}}<span style="color:red">*</span></label>
                <select id="schedule_box" data-role="dropdownlist" multiple="multiple"
                        ng-model="sims_mom_type_code" name="sims_mom_type_code" ng-change="">
                    <option ng-repeat="mom in mom_type" value="{{mom.sims_mom_type_code}} ">{{mom.sims_mom_type_desc_en}}</option>
                </select>
            </div>

            <div class="col-md-2">
                <label class="ng-binding">{{"Start Date"|translate}} </label>
                <!--<div class="input-append success  no-padding" data-datepicker="true" style="width: auto">-->
                <span class="k-widget k-datepicker k-header k-textbox input-sm full-width k-input" style="width: 100%;">
                    <span class="k-picker-wrap k-state-default">
                        <input type="text" id="from_date" name="start_date"
                               class="k-textbox input-sm full-width k-input ng-pristine ng-valid ng-touched" ng-model="mom_start_date "
                               ng-change="" data-role="datepicker" role="combobox" aria-expanded="false" peaceholer="Select Date"
                               aria-owns="start_date_dateview" aria-disabled="false" aria-readonly="false" style="width: 100%;"
                               aria-activedescendant="8a8a008b-1b3c-42a7-be94-431c355f22e6_cell_selected">
                        <span unselectable="on" class="k-select" role="button" aria-controls="start_date_dateview">
                            <span unselectable="on" class="k-icon k-i-calendar">select</span>
                        </span>
                    </span>
                </span>
                <!-- <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                </div>  -->
            </div>

            <div class="col-md-1">
                <label class="form-label1">
                    {{"Null"| translate }}
                </label>
                <div class="checkbox check-success">
                    <input type="checkbox" id="chkmarks" ng-model="mom_start_date_check" />
                    <label for="chkmarks"></label>
                </div>
            </div>

            <div class="col-md-2">
                <label class="ng-binding">{{"End Date"|translate}} </label>
                <!--<div class="input-append success  no-padding" data-datepicker="true" >-->
                <span class="k-widget k-datepicker k-header k-textbox input-sm full-width" style="width: 100%;">
                    <span class="k-picker-wrap k-state-default">
                        <input type="text" id="to_date" name="end_date"
                               class="k-textbox input-sm full-width k-input ng-pristine ng-valid ng-touched" ng-model="mom_end_date"
                               ng-change="" data-role="datepicker" role="combobox" aria-expanded="false"
                               aria-owns="expiry_date_dateview" aria-disabled="false" aria-readonly="false" style="width: 100%;">
                        <span unselectable="on" class="k-select" role="button" aria-controls="expiry_date_dateview">
                            <span unselectable="on" class="k-icon k-i-calendar">select</span>
                        </span>
                    </span>
                </span>
                <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                </div>-->
            </div>

            <div class="col-md-1">
                <label class="form-label1">
                    {{"Null"| translate }}
                </label>
                <div class="checkbox check-success">
                    <input type="checkbox" id="chkmarks1" ng-model="mom_end_date_check" />
                    <label for="chkmarks1"></label>
                </div>
            </div>

            <div class="col-md-2">
                <label id="Label" for="txt_Nationality_Code" class="form-label">{{"Status"|translate}}<span style="color:red">*</span></label>
                <select id="status_box" data-role="dropdownlist" multiple="multiple"
                        ng-model="status" name="status" ng-change="">
                    <option ng-repeat="mom in statuss" value="{{mom.status}} ">{{mom.status_desc}}</option>
                </select>
            </div>

            <div class="col-md-2">
                <div class="pull-right">
                    <label>&nbsp;</label>
                    <button type="button" class="btn btn-primary btn-cons" ng-click="getMeetingManagementSchedulReport_Rpt(sims_mom_type_code,mom_start_date,mom_end_date,status)">{{"Preview"|translate}}</button>
                    <button type="button" class="btn btn-primary btn-cons" ng-click="exportData()">{{"Excel"|translate}}</button>
                </div>
            </div>




            <div class="col-md-12">
                <label>&nbsp;</label>
                <div class="pull-right">
                    <span class="k-textbox k-space-right">
                        <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                        <a href="#" class="k-icon k-i-search">&nbsp;</a>
                    </span>
                </div>
            </div>

            <div class="col-md-12" id="rpt_data">
                <table class="table table-bordered text-center">
                    <thead ng-if="!colsvis">
                        <tr style="" background-color #edefef">
                            <th><b>{{"Sr No"|translate}}</b></th>
                            <th ng-click="sort('sims_mom_reference_number')"><b>{{"Ref No"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                            <th ng-click="sort('sims_mom_type_desc_en')"><b>{{"Meeting Type"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                            <th ng-click="sort('sims_mom_subject')"><b>{{"Subject"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                            <th ng-click="sort('sims_mom_date')"><b>{{"Meeting Date"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                            <th ng-click="sort('Requester')"><b>{{"Requester"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                            <th ng-click="sort('Chair_person')"><b>{{"Chair Person"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                            <th ng-click="sort('no_of_attendees')"><b>{{"No.of Attendees"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                            <th ng-click="sort('sims_mom_status')"><b>{{"Status"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                            <th class="finance_display"><b>{{"Print"| translate }}</b></th>
                        </tr>
                    </thead>
                    <thead ng-if="colsvis">
                        <tr style="" background-color #edefef">
                            <th><b>{{"Sr No"|translate}}</b></th>
                            <th ng-click="sort('sims_mom_reference_number')"><b>{{"Ref No"|translate}}</b><i class="material-icons"></i></th>
                            <th ng-click="sort('sims_mom_type_desc_en')"><b>{{"Meeting Type"|translate}}</b><i class="material-icons"></i></th>
                            <th ng-click="sort('sims_mom_subject')"><b>{{"Subject"|translate}}</b><i class="material-icons"></i></th>
                            <th ng-click="sort('sims_mom_date')"><b>{{"Meeting Date"|translate}}</b><i class="material-icons"></i></th>
                            <th ng-click="sort('Requester')"><b>{{"Requester"|translate}}</b><i class="material-icons"></i></th>
                            <th ng-click="sort('Chair_person')"><b>{{"Chair Person"|translate}}</b><i class="material-icons"></i></th>
                            <th ng-click="sort('no_of_attendees')"><b>{{"Number of Attendees"|translate}}</b><i class="material-icons"></i></th>
                            <th ng-click="sort('sims_mom_status')"><b>{{"Status"|translate}}</b><i class="material-icons"></i></th>
                            <th class="finance_display"><b>{{"Print"| translate }}</b></th>

                        </tr>
                    </thead>
                    <tbody align="center">
                        <tr ng-repeat="r in report_data_new|orderBy:colname:reverse|filter:searchText">
                            <td>{{$index+1}}</td>
                            <td>{{r.sims_mom_reference_number}}</td>
                            <td>{{r.sims_mom_type_desc_en}}</td>
                            <td>{{r.sims_mom_subject}}</td>
                            <td>{{r.sims_mom_date}}</td>
                            <td>{{r.requester}}</td>
                            <td>{{r.chair_person}}</td>
                            <td>{{r.no_of_attendees}}</td>
                            <td>{{r.sims_mom_status}}</td>
                            <td><button class="btn btn-success btn-small" type="button" ng-click="Report_call(r.sims_mom_reference_number)">{{"Print"| translate}}</button></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
           
        
    
</body>
</html>
<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/plugins/fileSaver.js"></script>
<script src="assets/js/jszip.js"></script>
<script src="assets/js/xlsx.js"></script>
<script src="assets/js/xlsx-reader.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>



