﻿<style>
    .ms-choice {
        height: 26px;
       
    }

</style>


<!DOCTYPE html>
<html>
<body>
    <div class="grid-simple">
        <div class="content">
            <div class="row" >
                <div class="col-md-12" style="padding-left:14px !important;padding-right:14px !important;background:#d8ebf4 !important;">
                    <!--<div class="grid simple">-->
                        <div class="grid-title no-border" style="padding-bottom:0px !important;padding-top: 4px !important">

                            <div class="row" style="background:#d8ebf4 !important;padding-bottom:12px !important;padding-top: 6px !important">

              <div class="col-md-2">
                                    <label id="Label2" for="txt_Nationality_Code" class="form-label">
                                        <i class="fa fa-book"></i>
                                        {{"Company Name"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="CompanyName" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="temp.pc_company_code" ng-selected="" name="temp.comp_code" ng-change="get_dept_name(temp.pc_company_code)"
                                            ng-options="temp.pc_company_code as temp.company_name for temp in CompanyName_Data" required></select>
                                </div>

              <div class="col-md-2">
                                    <label id="Label" for="txt_Nationality_Code" class="form-label">
                                        <i class="fa fa-book"></i>
                                        {{"Department"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="dep_data" multiple="multiple"  class ="form-control input-sm full-width"
                                            ng-model="temp.codp_dept_no" ng-selected="" name="codp_dept_no" ng-change="get_desg_name(temp.pc_company_code)"
                                            ng-options="temp.codp_dept_no as temp.codp_dept_name for temp in dep_data" required></select>
                                </div>

              <div class="col-md-2">
                                    <label id="Label3" for="txt_Nationality_Code" class="form-label">
                                        <i class="fa fa-sort-amount-desc"></i>
                                        {{"Designation"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="desg_data" multiple="multiple"  class ="form-control input-sm full-width"
                                            ng-model="temp.dg_code" ng-selected="" name="dg_code" 
                                            ng-options="temp.dg_code as temp.dg_desc for temp in desg_data" required></select>
                                </div>

              <div class="col-md-2">
                                    <label id="Label1" for="txt_Nationality_Code" class="form-label">
                                       
                                        {{"Document Type"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="doc_data" multiple="multiple" class="form-control input-sm full-width"
                                            ng-model="temp.pays_doc_code"  name="pays_doc_code" 
                                            ng-options="temp.pays_doc_code as temp.pays_doc_desc for temp in doc_data" required></select>
                                </div>
                                   
              <div class="col-md-2">
                                    <label id="Label4" for="txt_Nationality_Code" class="form-label">
                                       
                                        {{"Document Status"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="report_for" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="temp.comn_appl_parameter"  name="comn_appl_parameter" 
                                            ng-options="temp.comn_appl_parameter as temp.comn_appl_form_field_value1 for temp in report_for" required></select>
                                </div>
                                    </div>   

               
                <div class="col-md-12">                 
                         
                <div class="pull-right">
                    <label>&nbsp;</label>
                    <button type="button" class="btn btn-primary btn-cons" ng-click="getdetails()">{{"Submit"|translate}}</button>
                    <button class="btn btn-rounded btn-warning btn-cons" type="button" ng-click="reset_data()"><i class="icon-ok"></i>{{"Reset"|translate}}</button>
                    <button type="button" class="btn btn-primary btn-cons" ng-click="exportData()">{{"Excel"|translate}}</button>
                    <button type="button" class="btn btn-primary btn-cons" ng-click="print()">{{"Print"|translate}}</button>
                </div>
            </div>
                                   

                            </div><!---- row -->
                           
                           



                        </div>
                    <!--</div>-->
                </div>
            </div>

            <div ng-show="detailsField">

                <div class="content">
                    <div class="grid-title no-border" style="background-color:  white;">
                        <div class="col-md-12">
                            <div class="row margin-top=0px">
                                <div class="col-md-6" style=" padding-left: 6px;">
                                    <select id=" select1" style="width: 60px;" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                        <option value="30" class=" form-control input-sm">
                                            30
                                        </option>

                                        <option value="60" class=" form-control input-sm">
                                            60
                                        </option>

                                        <option value="All" class=" form-control input-sm">
                                            All
                                        </option>
                                    </select>
                                </div>

                                <div class="col-md-6">                
                <div class="pull-right">
                    <span class="k-textbox k-space-right">
                        <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                        <a href="#" class="k-icon k-i-search">&nbsp;</a>
                    </span>
                </div>
            </div>
                            </div>
                        </div>

                        
           

                    <div class="grid-body no-border">
                <div class="row margin-top" >
                    <div class="row margin-top">
                        <div class="col-md-12" id="rpt_data1" style="overflow-x:auto">
                            <table class="table table-striped table-flip-scroll cf">
                                <thead ng-if="!colsvis">
                                    <tr style="" background-color #edefef">
                                        <th><b>{{"Sr No"|translate}}</b></th>
                                       <th ng-click="sortBy('dept_name')"><b>{{"Employee No"|translate}}</b><span class="sortorder" ng-show="propertyName === 'dept_name'" ng-class="{reverse: reverse}"></span></th>
                                        <th ng-click="sortBy('desgination')"><b>{{"Designation"|translate}}</b><span class="sortorder" ng-show="propertyName === 'desgination'" ng-class="{reverse: reverse}"></span></th>
                                        <th ng-click="sortBy('pays_doc_desc')"><b>{{"Document Type"|translate}}</b><span class="sortorder" ng-show="propertyName === 'pays_doc_desc'" ng-class="{reverse: reverse}"></span></th>
                                        <th ng-click="sortBy('em_login_code')"><b>{{"Employee Id"|translate}}</b><span class="sortorder" ng-show="propertyName === 'em_login_code'" ng-class="{reverse: reverse}"></span></th>
                                        <th ng-click="sortBy('emp_name')"><b>{{"Employee    "|translate}}</b><span class="sortorder" ng-show="propertyName === 'emp_name'" ng-class="{reverse: reverse}"></span></th>
                                        <th ng-click="sortBy('pays_doc_issue_date')"><b>{{"Issue Date"|translate}}</b><span class="sortorder" ng-show="propertyName === 'pays_doc_issue_date'" ng-class="{reverse: reverse}"></span></th>
                                         <th ng-click="sortBy('pays_doc_expiry_date')"><b>{{"Expiry Date"|translate}}</b><span class="sortorder" ng-show="propertyName === 'pays_doc_expiry_date'" ng-class="{reverse: reverse}"></span></th>
                                    
                                    </tr>
                                </thead>
                                <thead ng-if="colsvis">
                                    <tr style="background-color:#edefef">
                                        <th style="text-align:left"><b>{{"Sr No"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Department"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Designation"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Document Typ"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Employee Id"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{" Employee Name"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Issue Date"|translate}}</b></th>
                                     <th style="text-align:left"><b>{{"Expiry Date"|translate}}</b></th>        
                                    </tr>
                                </thead>
                                <tbody align="center">
                                    <tr ng-repeat="r in filteredTodos | orderBy:propertyName:reverse|filter:searchText">
                                        <td style="text-align:left" >{{$index+1}}</td>
                                        <td style="text-align:left" >{{r.dept_name}}</td>
                                        <td style="text-align:left" >{{r.desgination}}</td>
                                        <td style="text-align:left" >{{r.pays_doc_desc}}</td>
                                        <td style="text-align:left" >{{r.em_login_code}}</td>
                                        <td style="text-align:left" >{{r.emp_name}}</td>
                                        <td style="text-align:left" >{{r.pays_doc_issue_date}}</td>
                                         <td style="text-align:left" >{{r.pays_doc_expiry_date}}</td>



                                    </tr>
                                </tbody>
                            </table>

                        </div>


                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            </div>

        </div>
    </div>
            </div>
        </div>
</body>
</html>
<!--<div class="col-md-12" id="subform">-->

<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/plugins/fileSaver.js"></script>
<script src="assets/js/jszip.js"></script>
<script src="assets/js/xlsx.js"></script>
<script src="assets/js/xlsx-reader.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>



