﻿
<style>
    .sortorder:after {
        content: '\25b2';
    }

    .sortorder.reverse:after {
        content: '\25bc';
    }
</style>

<div class="loading-middle" ng-hide="display">
    <img src="loading.gif" />
</div>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="page-title">
                <h3><span class="semi-bold">{{"Other Loan" | translate }}&nbsp;</span>{{"Master" | translate}}</h3>
            </div>
            <div class="grid-body no-border">
                <form name="myForm" ng-submit="Save(myForm.$valid)" novalidate="novalidate">
                    <div ng-show="OtherLoanOperation">

                        <div class="row">
                            <div class="col-md-4" ng-class="{'has-error': !myForm.compname.$valid && (myForm.compname.$touched || myForm.$submitted)}">
                                <label id="Label4" for="txt_code" class="form-label">{{"Company Name"| translate }}</label>
                                <select name="compname" class="form-control input-sm full-width" ng-model="edt.comp_code" ng-show="newmode" required>
                                    <option value="">Please select</option>
                                    <option class="form-control input-sm" ng-repeat="comp in compname" value="{{comp.comp_code}}">{{comp.comp_name}}</option>
                                </select>
                                <input type="text" id="Text3" ng-model="edt.comp_name" class="k-textbox input-sm full-width" ng-show="editmode" size="40" readonly />
                                <p class="help-block" ng-show="myForm.compname.$error.required &&(myForm.compname.$touched || myForm.$submitted)">
                                    Please Select
                                </p>
                            </div>
                            <div class="col-md-4" ng-show="newmode" ng-class="{'has-error': !myForm.empname.$valid && (myForm.empname.$touched || myForm.$submitted)}">
                                <label id="Label1" for="txt_code" class="form-label">{{"Employee Name"| translate }}</label>
                                <select name="empname" class="form-control input-sm" ng-model="edt.EMPNAME" ng-show="newmode" required>
                                    <option value="">Please select</option>
                                    <option class="form-control input-sm" ng-repeat="empn in empname" value="{{empn.em_number}}">{{empn.fullname}}</option>
                                </select>

                                <p class="help-block" ng-show="myForm.empname.$error.required &&(myForm.empname.$touched || myForm.$submitted)">
                                    Please Select
                                </p>
                            </div>
                            <div class="col-md-4" ng-class="{'has-error': !myForm.loandes.$valid && (myForm.loandes.$touched || myForm.$submitted)}">
                                <label id="Label2" for="txt_code" class="form-label">{{"Loan Description"| translate }}</label>
                                <select name="loandes" class="form-control input-sm full-width" ng-model="edt.lc_code" ng-show="newmode" required>
                                    <option value="">Please select</option>
                                    <option class="form-control input-sm" ng-repeat="ld in gdesrcipt" value="{{ld.lc_code}}">{{ld.lc_desc}}</option>
                                </select>
                                <input type="text" id="Text1" ng-model="edt.LoanName" class="k-textbox input-sm full-width" ng-show="editmode" size="30" readonly />
                                <p class="help-block" ng-show="myForm.loandes.$error.required &&(myForm.loandes.$touched || myForm.$submitted)">
                                    Please Select
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4" ng-class="{'has-error': !myForm.ledname.$valid && (myForm.ledname.$touched || myForm.$submitted)}">
                                <label id="Label3" for="txt_code" class="form-label">{{"Ledger Name"| translate }}</label>
                                <select name="ledname" class="form-control input-sm full-width" ng-model="edt.sllc_ldgr_code" required>
                                    <option value="">Please select</option>
                                    <option class="form-control input-sm" ng-repeat="gl in gledger" value="{{gl.sllc_ldgr_code}}">{{gl.sllc_ldgr_name}}</option>
                                </select>

                                <p class="help-block" ng-show="myForm.ledname.$error.required &&(myForm.ledname.$touched || myForm.$submitted)">
                                    Please Select
                                </p>
                            </div>

                            <div class="col-md-4" ng-class="{'has-error': !myForm.accnumber.$valid && (myForm.accnumber.$touched || myForm.$submitted)}">
                                <label id="Label5" for="txt_code" class="form-label">{{"Account Number"| translate }}</label>
                                <select name="accnumber" class="form-control input-sm full-width" ng-model="edt.ol_account_number" required>
                                    <option value="">Please select</option>
                                    <option class="form-control input-sm" ng-repeat="empn in empname" value="{{empn.em_bank_ac_no}}">{{empn.em_bank_ac_no}}</option>
                                </select>

                                <p class="help-block" ng-show="myForm.accnumber.$error.required &&(myForm.accnumber.$touched || myForm.$submitted)">
                                    Please Select
                                </p>
                            </div>

                            <div class="col-md-4">
                                <label>&nbsp;</label>
                                <div class="pull-right">
                                    <button class="btn btn-primary btn-cons btn-small" type="submit" ng-show="savebtn"><i class="icon-ok"></i>{{"Save"| translate }}</button>
                                    <button class="btn btn-primary btn-cons btn-small" type="button" ng-show="updatebtn" ng-click="Update()"><i class="icon-ok"></i>{{"Update"| translate }}</button>
                                    <button class="btn btn-white btn-cons btn-small" type="button" ng-show="deletebtn" ng-click="deleterecord()"><i class="icon-ok"></i>{{"Delete"| translate }}</button>
                                    <button class="btn btn-white btn-cons btn-small" type="button" ng-click="cancel()">{{"Cancel"| translate }}</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
                <div ng-show="OtherLoanDetail">
                    <div class="row form-row">
                        <div class="col-md-6">
                            <select id="Select12" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                <option value="5" class="form-control input-sm">
                                    5
                                </option>

                                <option value="10" class="form-control input-sm">
                                    10
                                </option>

                                <option value="15" class="form-control input-sm">
                                    15
                                </option>
                            </select>

                            &nbsp;
                            <button class="btn btn-success btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate}}</button>
                            &nbsp;
                            <button class="btn btn-white btn-small" type="button" ng-click="deleterecord()" ng-readonly="deletee"><span class="semi-bold"></span>{{"Delete"| translate}}</button>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <div class="dataTables_filter" id="Div1">
                                    <label>
                                        {{"Search"| translate}}  &nbsp;
                                        <input type="text" aria-controls="example" ng-model="searchText" class="k-textbox input-sm" autofocus="autofocus" ng-change="search();">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-condensed" id="fixTable">
                                    <thead style="background-color:#edefef !important;">
                                        <tr>

                                            <th class="small-cell v-align-middle">
                                                <div class="checkbox check-success">
                                                    <input type="checkbox" name="check" value="1" id="all_chk" ng-click="check_all();">
                                                    <label for="all_chk"></label>
                                                </div>
                                            </th>

                                            <th class="semi-bold" ng-click="sortBy('af_adult_rate')">
                                                {{"COMPANY NAME"| translate }}
                                                <span class="sortorder" ng-show="propertyName === 'af_adult_rate'" ng-class="{reverse: reverse}"></span>
                                            </th>

                                            <th class="semi-bold" ng-click="sortBy('af_adult_rate')">
                                                {{"LOAN DESCRIPTION"| translate }}
                                                <span class="sortorder" ng-show="propertyName === 'af_adult_rate'" ng-class="{reverse: reverse}"></span>
                                            </th>

                                            <th class="semi-bold" ng-click="sortBy('af_adult_rate')">
                                                {{"LEDGER NAME"| translate }}
                                                <span class="sortorder" ng-show="propertyName === 'af_adult_rate'" ng-class="{reverse: reverse}"></span>
                                            </th>

                                            <th class="semi-bold" ng-click="sortBy('af_adult_rate')">
                                                {{"ACCOUNT NUMBER"| translate }}
                                                <span class="sortorder" ng-show="propertyName === 'af_adult_rate'" ng-class="{reverse: reverse}"></span>
                                            </th>

                                            <td class="semi-bold">{{"ACTION"| translate}}</td>


                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="obj in filteredTodos | orderBy:propertyName:reverse">
                                            <td class="small-cell v-align-middle">
                                                <div class="row-fluid" style="height: 20px">
                                                    <div class="checkbox check-success">
                                                        <input type="checkbox" value="1" id="{{obj.ol_account_number+$index}}" ng-click="check_once()">
                                                        <label for="{{obj.ol_account_number+$index}}"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{obj.companyName}}</td>
                                            <td>{{obj.loanName}}</td>
                                            <td>{{obj.ledgerName}}</td>
                                            <td>{{obj.ol_account_number}}</td>


                                            <td>
                                                <button ng-click="up(obj)"><i class="fa fa-edit"></i></button>
                                                <!--<a href="" title="To Update Click Here."><i class="fa fa-edit" ng-click="up(obj)"></i></a>-->
                                            </td>
                                        </tr>

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="assets/js/tableHeadFixer.js"></script>
<!--<script src="assets/js/add-ng-disabled.js"></script>-->