﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="page-title">
                <h3><span class="semi-bold">{{"Pay"| translate }}</span>&nbsp;{{"Code"| translate}}</h3>
            </div>
            <!--<div class="grid-body no-border">-->
            <div class="raw">
            <div  class="paddingcode grid-body no-border" style="background-color:white;">
                <form name="myForm" novalidate="novalidate">
                    <div ng-show="operation">

                        <div class="row">
                            <div class="col-md-4">
                                <label id="Label1" for="txt_Country_Code" class="form-label"><i class="fa fa-building"></i>{{" Company Name"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <select id="cmb_School_Code" data-role="dropdownlist" class="form-control input-sm full-width" ng-show="newmode"
                                        ng-model="edt.pc_company_code"
                                        ng-options="comcode.pc_company_code as comcode.company_name for comcode in CompanyName_Data" name="comcode" required>
                                    <option value="" selected disabled>Please Select</option>
                                </select>
                                <p class="help-block" ng-show="myForm.comcode.$error.required &&  (myForm.comcode.$touched || myForm.$submitted)">
                                    This field is required
                                </p>
                                <input type="text" id="Text_year" ng-model="edt.company_name" class="k-textbox input-sm full-width" ng-show="editmode" disabled="disabled" />
                            </div>

                            <div class="col-md-4">
                                <label id="Label2" for="txt_Country_Code" class="form-label"><i class="fa fa-tag"></i>{{" Deduction Tag"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <select id="Select1" data-role="dropdownlist" class="form-control input-sm full-width"
                                        ng-model="edt.pc_earn_dedn_tag"
                                        ng-options="deduct.pc_earn_dedn_tag as deduct.dedn_tag for deduct in DeductionTag_Data" name="deduct" required>
                                    <option value="" selected disabled>Please Select</option>
                                </select>
                                <p class="help-block" ng-show="myForm.deduct.$error.required &&  (myForm.deduct.$touched || myForm.$submitted)">
                                    This field is required
                                </p>
                            </div>

                            <div class="col-md-3">
                                <label id="Label3" for="txt_Country_Code" class="form-label"><i class="fa fa-tag"></i>{{" Citi Exp Tag"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <select id="Select2" data-role="dropdownlist" class="form-control input-sm full-width"
                                        ng-model="edt.pc_citi_exp_tag"
                                        ng-options="cititag.pc_citi_exp_tag as cititag.pc_citi_exp_tag for cititag in CitiExpTag_Data" name="cititag" required>
                                    <option value="" selected disabled>Please Select</option>
                                </select>
                                <p class="help-block" ng-show="myForm.cititag.$error.required &&  (myForm.cititag.$touched || myForm.$submitted)">
                                    This field is required
                                </p>
                            </div>

                            <div class="col-md-1">
                                <div class="pull-right">
                                    <label id="Label8" for="txt_full_name" class="form-label"><i class="fa fa-tag"></i>{{" Grade Tag"| translate }}</label>
                                    <div class="checkbox check-success">
                                        <input id="chk_term" type="checkbox" ng-model="edt.pc_company_grade_tag">
                                        <label for="chk_term"></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-4">
                                <label id="label6" class="form-label"><i class="fa fa-align-justify"></i>{{" Description"| translate}} <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" ng-model="edt.cp_desc" class="k-textbox input-sm full-width" name="cpdesc"  ng-blur="checkDesciptionExists();" ng-maxlength="40" required />
                                <p class="help-block" ng-show="myForm.cpdesc.$error.required &&  (myForm.cpdesc.$touched || myForm.$submitted)">
                                    This field is required
                                </p>
                                <p class="help-block" ng-show="myForm.cpdesc.$error.maxlength && (myForm.cpdesc.$touched || myForm.$submitted)">
                                    Max lengh is 40 characters
                                </p>
                                <!--<p class="help-block" ng-show="myForm.cpdesc.$error.pattern && (myForm.cpdesc.$touched || myForm.$submitted)">
                                    Enter character only
                                </p>-->
                            </div>

                            <div class="col-md-4">
                                <label id="label4" class="form-label"><i class="fa fa-align-justify"></i>{{" Change Description"| translate}} <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" ng-model="edt.cp_change_desc" class="k-textbox input-sm full-width" name="cpchange" ng-maxlength="40" required ng-disabled="disablePaycodeDescription"/>
                                <p class="help-block" ng-show="myForm.cpchange.$error.required &&  (myForm.cpchange.$touched || myForm.$submitted)">
                                    This field is required
                                </p>
                                <p class="help-block" ng-show="myForm.cpchange.$error.maxlength && (myForm.cpchange.$touched || myForm.$submitted)">
                                    Max lengh is 40 characters
                                </p>
                                <!--<p class="help-block" ng-show="myForm.cpchange.$error.pattern && (myForm.cpchange.$touched || myForm.$submitted)">
                                    Enter character only
                                </p>-->
                            </div>

                            <div class="col-md-4">
                                <label id="label5" class="form-label"><i class="fa fa-list"></i>{{" Display Order"| translate}} <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" ng-model="edt.cp_display_order" class="k-textbox input-sm full-width" name="dorder"ng-maxlength="3" ng-blur="checkDisplayOrder();" required />
                                <p class="help-block" ng-show="myForm.dorder.$error.required &&  (myForm.dorder.$touched || myForm.$submitted)">
                                    This field is required
                                </p>
                                <p class="help-block" ng-show="myForm.dorder.$error.maxlength && (myForm.dorder.$touched || myForm.$submitted)">
                                    Display Order should be 3 digits
                                </p>
                                <p class="help-block" ng-show="myForm.dorder.$error.pattern && (myForm.dorder.$touched || myForm.$submitted)">
                                    Enter Digit only
                                </p>
                            </div>

                        </div>

                        <div class="col-md-12" style="margin-top: 7px;">
                            <!--<div class="form-actions">-->
                                <div class="pull-right">
                                    <button class="btn btn-primary btn-small" type="submit" ng-show="savebtn" ng-click="Save(myForm.$valid);"><i class="icon-ok"></i>{{"Save"| translate }}</button>
                                    <button class="btn btn-primary btn-small" type="button" ng-show="updatebtn" ng-click="Update(myForm.$valid)"><i class="icon-ok"></i>{{"Update"| translate }}</button>
                                    <button class="btn btn-danger btn-small" type="button" ng-show="deletebtn" ng-click="deleterecord()"><i class="icon-ok"></i>{{"Delete"| translate }}</button>
                                    <button class="btn btn-danger btn-small" type="button" ng-click="cancel()">{{"Cancel"| translate }}</button>
                                </div>
                            <!--</div>-->
                        </div>
                    </div>
                </form>
                <!--table-->
                <div ng-show="table1">

                    <div class="row form-row">
                        <div class="col-md-6">
                            <select id="Select12" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                <option value="All" class="form-control input-sm">
                                    All
                                </option>
                                <option value="10" class="form-control input-sm">
                                    10
                                </option>

                                <option value="20" class="form-control input-sm">
                                    20
                                </option>

                                
                            </select>

                            &nbsp;
                            <button class="btn btn-success btn-small" type="button" ng-click="New()" style="margin-top: 4px;"><span class="semi-bold">+&nbsp;</span>{{"New"| translate}}</button>
                            &nbsp;
                            <button class="btn btn-danger btn-small" type="button" ng-click="deleterecord()" style="margin-top: 4px;"><span class="semi-bold"></span>{{"Delete"| translate}}</button>
                        </div>
                        <div class="col-md-6"  style="margin-top: 4px;">
                            <div class="pull-right">
                                <div class="dataTables_filter" id="Div1">
                                    <span class="k-textbox k-space-right full-width">
                                        <input type="text" placeholder="Search" aria-controls="example" ng-model="searchText" class="k-textbox input-sm" ng-change="search();">
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <div class="row">
                            <div class="col-md-12" style="margin-top: -14px;">
                                <table class="table table-bordered table-hover  table-condensed" id="fixTable">
                                    <thead>
                                        <tr style="background-color: #edefef">
                                            <th class="small-cell v-align-middle" style="z-index:1">
                                                <div class="checkbox check-success">
                                                    <input type="checkbox" name="check" value="1" id="mainchk" ng-model="chk.chk_all" ng-click="CheckAllChecked();">
                                                    <label for="mainchk"></label>
                                                </div>
                                            </th>

                                            <th ng-click="orderByField='pc_code'; reverseSort = !reverseSort">
                                                <b><i class="fa fa-dashboard" ></i>{{" Code"| translate }}</b>
                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                            </th>

                                            <th ng-click="orderByField='company_name'; reverseSort = !reverseSort">
                                                <b><i class="fa fa-building-o"></i>{{" Company Name"| translate }}</b>
                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                            </th>
                                            <th ng-click="orderByField='cp_desc'; reverseSort = !reverseSort">
                                                <b><i class="fa fa-align-justify"></i>{{" Description"| translate }}</b>
                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span> 

                                            </th>
                                            <th ng-click="orderByField='cp_change_desc'; reverseSort = !reverseSort">
                                                <b><i class="fa fa-align-justify"></i>{{" Change description"| translate }}</b>
                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span> 
                                            </th>
                                            <th ng-click="orderByField='dedn_tag'; reverseSort = !reverseSort">
                                                <b><i class="fa fa-tag"></i>{{" Deduction tag"| translate }}</b>
                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span> 

                                            </th>
                                            <!--<th class="semi-bold" ng-click="orderByField='pc_citi_exp_tag'; reverseSort = !reverseSort">
                                                {{"Citi experince tag"| translate }}
                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span> 

                                            </th>-->
                                            
                                            <th ng-click="orderByField='cp_display_order'; reverseSort = !reverseSort">
                                                <b><i class="fa fa-list"></i>{{" Display order"| translate }}</b>
                                                <!--<span class="sortorder" ng-show="propertyName === 'cp_display_order'" ng-class="{reverse: reverse}"></span>-->
                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span> 
                                            </th>

                                            <th><b><i class="fa fa-tag"></i>{{" Grade Tag"| translate}}</b></th>
                                            <th class="semi-bold"><i class="fa fa-cogs"></i></th>

                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="obj in filteredTodos |orderBy:orderByField:reverseSort" ng-class="row1">
                                            <td class="small-cell v-align-middle">
                                                <div class="row-fluid" style="height: 20px">
                                                    <div class="checkbox check-success">
                                                        <input type="checkbox" value="1" id="{{obj.pc_code}}" ng-click="checkonebyonedelete()">
                                                        <label for="{{obj.pc_code}}"></label>
                                                    </div>
                                                </div>
                                            </td>

                                            <td>{{obj.pc_code}}</td>
                                            <td>{{obj.company_name}}</td>
                                            <td>{{obj.cp_desc}}</td>
                                            <td>{{obj.cp_change_desc}}</td>
                                            <td>{{obj.dedn_tag}}</td>
                                            <!--<td>{{obj.pc_citi_exp_tag}}</td>-->
                                            
                                            <td>{{obj.cp_display_order}}</td>
                                            <td class="v-align-middle">
                                                <span ng-if="obj.pc_company_grade_tag==true" class="label label-success">{{"Active"| translate }}</span>
                                                <span ng-if="obj.pc_company_grade_tag==false" class="label label-important">{{"In active"| translate }}</span>
                                            </td>
                                            <td>
                                                <button ng-click="up(obj)"><i class="fa fa-edit"></i></button>
                                                <!--<a href=""><i class="fa fa-edit" ng-click="up(obj)"></i></a>-->
                                            </td>
                                        </tr>

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-show="pager">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--<script src="assets/js/ColorPicker.js"></script>-->
<!--<script src="assets/js/add-ng-disabled.js"></script>-->