﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Payroll" |translate}}</span>&nbsp;{{"Employee" | translate}}</h3>
            </div>
            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="grid-body no-border">
                <div ng-show="table">
                    <div class="row">
                        <div class="col-md-3">
                            <!--ng-class="{'has-error': !Myform.Lib_Code.$valid && (Myform.Lib_Code.$touched || Myform.$submitted) }">-->
                            <label>{{"Company Name" |translate}}</label>
                            <select id="Select1" class="form-control input-sm full-width" name="user" ng-model="temp.gc_company_code" ng-change="getdept(temp.gc_company_code); getdesg(temp.gc_company_code)"
                                    ng-options="temp.gc_company_code as temp.gc_company_desc for temp in comp_code">
                                <option value="" selected disabled>Please Select</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <!--ng-class="{'has-error': !Myform.lib_name.$valid && (Myform.lib_name.$touched || Myform.$submitted) }">-->
                            <label>{{"Department" |translate}}</label>
                            <select id="Select5" class="form-control input-sm full-width" name="user" ng-model="temp.dg_code">
                                <option value="" selected disabled>Please Select</option>
                                <option class="form-control" ng-repeat="temp in dept" value="{{temp.code}}">{{temp.em_dept_name}}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <!--ng-class="{'has-error': !Myform.lib_name.$valid && (Myform.lib_name.$touched || Myform.$submitted) }">-->
                            <label>{{"Designation" |translate}}</label>
                            <select id="Select4" class="form-control input-sm full-width" name="user" ng-model="temp.em_desg_code">
                                <option value="" selected disabled>Please Select</option>
                                <option class="form-control" ng-repeat="temp in designation" value="{{temp.em_desg_code}}">{{temp.em_desg_desc}}</option>
                            </select>
                        </div>
                        <div class="col-md-1 no-padding">
                            <label for="DivCode">{{"Employee ID" |translate}}</label>
                            <input type="text" name="Lib_Code" id="libCode" class="k-textbox input-sm full-width" ng-model="temp.em_number" />
                        </div>
                        <div class="col-md-2">
                            <label>&nbsp;</label>
                            <div class="pull-right">
                                <button class="btn btn-primary btn-cons btn-small" type="button" ng-click="submit()"><span class="semi-bold"></span>{{"Submit"| translate }}</button>
                                <button class="btn btn-primary btn-cons btn-small" type="button" ng-click="reset()"><span class="semi-bold"></span>{{"Reset"| translate }}</button>
                            </div>
                        </div>

                    </div>

                    <div id="example_wrapper" class="dataTables_wrapper form-inline" ng-show="grid1">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-hover" id="fixTable">
                                    <thead style="background-color: white">
                                        <tr style="background-color: #edefef">

                                            <td class="semi-bold" ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                                <label><b><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"EMPLOYEE NUMBER" | translate }}</b></label>
                                            </td>

                                            <td class="semi-bold">
                                                <label><b>{{"EMPLOYEE NAME" | translate }}</b></label>
                                            </td>

                                            <td class="semi-bold">
                                                <label><b>{{"DESIGNATION" | translate }}</b></label>
                                            </td>


                                            <td class="semi-bold">
                                                <label><b>{{"DATE OF JOINING" | translate }} </b></label>
                                            </td>

                                            <td class="semi-bold">
                                                <label><b>{{"PAYROLL APPLICABLE FROM" | translate }} </b></label>
                                            </td>

                                            <td class="semi-bold">
                                                <label><b>{{"SPONSER NAME" | translate }} </b></label>
                                            </td>

                                            <td class="semi-bold">
                                                <i class="fa fa-cogs"></i>
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="j in filteredTodos | orderBy:orderByField:reverseSort">
                                            <!--<td>
                                                <div class="row-fluid">
                                                    <div class="checkbox check-success" style="height: 20px">
                                                        <input id="{{$index}}" type="checkbox" value="1" ng-click="checkonebyonedelete()">
                                                        <label for="{{$index}}"></label>
                                                    </div>
                                                </div>
                                            </td>-->
                                            <td>
                                                <label id="lbl">{{j.pd_pay_code}}</label>
                                            </td>
                                            <td>
                                                <label id="Label1">{{j.sh_emp_name}}</label>
                                            </td>
                                            <td>
                                                <label id="Label2">{{j.em_desg_desc}}</label>
                                            </td>

                                            <td>
                                                <label id="Label3">{{j.pe_doj}}</label>
                                            </td>

                                            <td>
                                                <label id="Label5">{{j.pa_effective_from}}</label>
                                            </td>

                                            <td>
                                                <label id="Label6">{{j.em_sponser_name}}</label>
                                            </td>

                                            <td>
                                                <a href=""><i class="fa fa-edit" ng-click="edit(j)"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="displayerror" ng-show="ImageView">
                            <div class="row">
                                <div class="col-md-12">
                                    <p style="font: bold 24px large; color:black">
                                        Sorry No Records Found!!!!!!!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade in" id="myModal" role="dialog" tabindex="-1" style="display: none;">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 1000px; height:550px;">
        <div class="modal-content" uib-modal-transclude="">

            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px"><b>{{Employee_Details}}</b></h4>
                </div>
            </div>

            <div class="grid-body no-border">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <!--ng-class="{'has-error': !Myform.Lib_Code.$valid && (Myform.Lib_Code.$touched || Myform.$submitted) }">-->
                            <label>{{"Effective From" |translate}}</label>
                            <div class="" style="position: relative; z-index: 10000;">
                                <input type="text" id="from-date" class="k-textbox input-sm full-width" placeholder="Select Date" name="creation_date" ng-model="pa_effective_from">
                                <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                            </div>
                        </div>
                        <div class="col-md-2">
                            <!-- ng-class="{'has-error': !Myform.number.$valid && (Myform.number.$touched || Myform.$submitted) }">-->
                            <label>{{"Effective Upto" |translate}}</label>
                            <div class="" style="position: relative; z-index: 10000;">
                                <input type="text" id="to_date" class="k-textbox input-sm full-width" placeholder="Select Date" name="creation_date" ng-model="rdp_effective_upto">
                                <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="pull-right">
                                <button type="submit" id="Button3" ng-show="Update_btn" class="btn btn-primary btn-cons btn-small" ng-click="Show()">{{"Show" | translate }}</button>
                                <button type="button" class="btn btn-primary btn-cons btn-small" ng-click="Cancel();">{{"Cancel"| translate }}</button>
                            </div>
                        </div>
                    </div>



                    <div id="Div2" class="dataTables_wrapper form-inline" ng-show="grid2">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-condensed" id="fixTable1">
                                    <thead style="background-color: white">
                                        <tr style="background-color: #edefef">

                                            <td class="semi-bold" ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                                <label><b><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"STATUS" | translate }}</b></label>
                                            </td>

                                            <td class="semi-bold">
                                                <label><b>{{"PAY CODE" | translate }}</b></label>
                                            </td>

                                            <td class="semi-bold">
                                                <label><b>{{"AMOUNT" | translate }}</b></label>
                                            </td>


                                            <td class="semi-bold">
                                                <label><b>{{"EFFECTIVE FROM" | translate }} </b></label>
                                            </td>

                                            <td class="semi-bold">
                                                <label><b>{{"EFFECTIVE UPTO" | translate }} </b></label>
                                            </td>

                                            <td class="semi-bold">
                                                <label><b>{{"EARN / DEDUCTION" | translate }} </b></label>
                                            </td>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="j in sal | orderBy:orderByField:reverseSort">

                                            <td class="v-align-middle">
                                                <span ng-if="j.pe_insert==true" class="label label-success">Yes</span>
                                                <span ng-if="j.pe_insert==false" class="label label-important">No</span>

                                            </td>

                                            <label id="Label12">{{j.pd_pay_code}}</label>

                                            <td>
                                                <label id="Label13">{{j.cp_desc}}</label>
                                            </td>
                                            <td>

                                                <input type="text" name="Lib_Code" id="Text6" class="k-textbox input-sm full-width" ng-readonly="j.hide_flag" ng-model="j.pd_amount" ng-maxlength="13" ng-change="SetIschange(j);" ng-blur="calculateTotal(j);"  ng-keypress="onlyNumbers($event)">

                                            </td>

                                            <td>

                                                <input type="text" class="k-textbox input-sm full-width" id="Text7" name="txt_remark" ng-readonly="j.hide_flag" ng-model="j.pa_effective_from" placeholder="DD-MM-YYYY" ng-change="SetIschange(j);">

                                            </td>

                                            <td>

                                                <input type="text" class="k-textbox input-sm full-width" id="Text8" name="txt_remark" ng-readonly="j.hide_flag" ng-model="j.code" placeholder="DD-MM-YYYY" ng-change="SetIschange(j);">
                                            </td>

                                            <td>
                                                <label id="Label17">{{j.pc_earn_dedn_tag_name}}</label>
                                            </td>

                                            <!--<td>
                                            <a href=""><i class="fa fa-edit" ng-click="edit(j)"></i></a>
                                        </td>-->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div ng-show="showTotal">
                            <label id="Label18" style="color:red;">
                                <b>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    Total = {{total.toFixed( 0 )}}
                                </b>
                            </label>
                        </div>
                        <div class="modal-footer">
                            <div class="pull-right">
                                <button type="submit" id="Button4" ng-show="save_btn" class="btn btn-primary btn-cons btn-small" ng-click="Save()">{{"Save" | translate }}</button>

                            </div>
                        </div>


                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


<script src="assets/js/calender-datepicker-id.js"></script>