﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Pays" |translate}}</span>&nbsp;{{"Grade Change" | translate}}</h3>
            </div>

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="grid-body no-border">
                <div ng-show="table">
                    <div class="row form-row">
                        <div class="col-md-6">
                            <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                <option value="10" class="form-control input-sm">
                                    10
                                </option>

                                <option value="20" class="form-control input-sm">
                                    20
                                </option>

                                <option value="All" class="form-control input-sm">
                                    All
                                </option>
                            </select>
                            &nbsp;
                            <button class="btn btn-success btn-small" type="button" id="designew" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate }}</button>
                            &nbsp;
                            <button class="btn btn-danger btn-small" type="button" ng-click="OkDelete()"><span class="semi-bold"></span>{{"Delete"| translate }}</button>

                        </div>
                        <div class="col-md-6">

                            <div class="pull-right">
                                <div class="dataTables_filter" id="example_filter">
                                    <span class="k-textbox k-space-right full-width">
                                        <input aria-controls="example" ng-model="searchText" class="k-textbox input-sm" placeholder="Search" type="search" ng-change="search()" tabindex="1" autofocus="autofocus">
                                   <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-condensed" id="fixTable">
                                    <thead style="background-color: white">
                                        <tr style="background-color: #edefef">
                                            <th class="small-cell v-align-middle">
                                                <div class="checkbox check-success">
                                                    <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                                    <label for="mainchk"></label>
                                                </div>
                                            </th>
                                            <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                               <a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"Number" | translate }}
                                            </th>

                                            <th>
                                               {{"Company" | translate }}
                                            </th>

                                            <th>
                                               {{"Employee Name" | translate }}
                                            </th>

                                            <th>
                                               {{"Confirm Tag" | translate }}
                                            </th>


                                            <th>
                                               {{"Old Grade" | translate }}
                                            </th>

                                            <th>
                                               {{"New Grade" | translate }}
                                            </th>

                                            <th>
                                               {{"Effect From" | translate }}
                                            </th>

                                            <th>
                                               {{"Retro Effect From" | translate }}
                                            </th>

                                            <th>
                                               {{"Update" | translate }}
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="j in filteredTodos | orderBy:orderByField:reverseSort">
                                            <td>
                                                <div class="row-fluid">
                                                    <div class="checkbox check-success" style="height: 20px">
                                                        <input id="{{$index}}" type="checkbox" value="1" ng-click="checkonebyonedelete()">
                                                        <label for="{{$index}}"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <label id="lbl">{{j.gc_number}}</label>
                                            </td>
                                            <td>
                                                <label id="Label1">{{j.gc_company_desc}}</label>
                                            </td>
                                            <td>
                                                <label id="Label2">{{j.gc_emp_name}}</label>
                                            </td>

                                            <td class="v-align-middle">
                                                <span ng-if="j.gc_mgr_confirm_tag==true" class="label label-success">{{"Yes" |translate}}</span>
                                                <span ng-if="j.gc_mgr_confirm_tag==false" class="label label-important">{{"No" |translate}}</span>

                                            </td>

                                            <td>
                                                <label id="Label3">{{j.gc_old_grade_desc}}</label>
                                            </td>

                                            <td>
                                                <label id="Label4">{{j.gc_new_grade_desc}}</label>
                                            </td>
                                            <td>
                                                <label id="Label5">{{j.gc_effect_from}}</label>
                                            </td>

                                            <td>
                                                <label id="Label6">{{j.gc_retro_effect_from}}</label>
                                            </td>

                                            <td>
                                                <button ng-click="edit(j)"><i class="fa fa-edit"></i></button>
                                                <!--<a href=""><i class="fa fa-edit" ng-click="edit(j)"></i></a>-->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row" ng-show="showPager">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                            ng-click="index(currentPage)">
                                    </paging>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div ng-show="display">
                    <form name="Myform" ng-submit="savedata(Myform.$valid)" novalidate="novalidate">
                        <!--1ST ROW-->
                        <div class="row">

                            <div class="col-md-3">                               
                                <label>{{"Company Name" |translate}} <span style="color:red">*</span></label>
                                <select id="Select3" class="form-control input-sm full-width" name="compnayname" ng-model="temp.gc_company_code" ng-disabled="company" required>
                                    <option value="" selected disabled>Please Select</option>
                                    <option class="form-control input-sm" ng-repeat="temp in comp_code" value="{{temp.gc_company_code}}">{{temp.gc_company_desc}}</option>
                                </select>
                                <p style="color:red;" class="help-block" ng-show="Myform.compnayname.$error.required &&  (Myform.compnayname.$touched || Myform.$submitted)">
                                    {{"This field is required" |translate}}
                                </p>
                            </div>
                            <div class="col-md-3">                                
                                <label>{{"Employee Number" |translate}} <span style="color:red">*</span></label>
                                <input type="text" name="emnumber" id="Text2" class="k-textbox input-sm full-width" ng-model="temp.gc_number" maxlength="10" ng-disabled="number" required />
                                <p style="color:red;" class="help-block" ng-show="Myform.emnumber.$error.required &&  (Myform.emnumber.$touched || Myform.$submitted)">
                                    {{"This field is required" |translate}}
                                </p>
                            </div>
                            <div class="col-md-1">
                                <label>&nbsp;</label>
                                <button type="button" id="Button2" class="btn btn-primary btn-small" ng-disabled="number" ng-click="globalSearch();">{{"Search" |translate}}</button>
                            </div>
                            <div class="col-md-2">                                
                                <label>{{"Old Grade" |translate}} <span style="color:red">*</span></label>
                                <select id="Select2" class="form-control input-sm full-width" name="oldgrade" ng-model="temp.gc_old_grade" ng-disabled="readonlyGCOldGrade" required>
                                    <option value="" selected disabled>Please Select</option>
                                    <option class="form-control input-sm" ng-repeat="temp in old_grade" value="{{temp.gc_old_grade}}">{{temp.gc_old_grade_desc}}</option>
                                </select>
                                <p style="color:red;" class="help-block" ng-show="Myform.oldgrade.$error.required &&  (Myform.oldgrade.$touched || Myform.$submitted)">
                                    {{"This field is required" |translate}}
                                </p>
                            </div>
                            <div class="col-md-2">                                
                                <label>{{"New Grade" |translate}} <span style="color:red">*</span></label>
                                <select id="Select11" class="form-control input-sm full-width" name="newgrade" ng-model="temp.gc_new_grade" ng-change="checkGrade();" required>
                                    <option value="" selected disabled>Please Select</option>
                                    <option class="form-control input-sm" ng-repeat="temp in old_grade" value="{{temp.gc_new_grade}}">{{temp.gc_new_grade_desc}}</option>
                                </select>
                                <p style="color:red;" class="help-block" ng-show="Myform.newgrade.$error.required &&  (Myform.newgrade.$touched || Myform.$submitted)">
                                    {{"This field is required" |translate}}
                                </p>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="StartDate">{{"Effect From" |translate}}</label>
                                <div class="">
                                    <input type="text" id="cmb_create_date" placeholder="Select Date" name="creation_date" class="k-textbox input-sm full-width" ng-model="temp.gc_effect_from">
                                    <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="StartDate">{{"Retro Effect From" |translate}}</label>
                                <div class="">
                                    <input type="text" id="retro_from_date" placeholder="Select Date" name="creation_date" class="k-textbox input-sm full-width" ng-model="temp.gc_retro_effect_from">
                                    <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="pull-left">
                                    <label id="Label10" for="txt_Status" class="form-label">{{"Confirm Tag"| translate }}</label>
                                    <div class="checkbox check-success">
                                        <input id="chk_term2" type="checkbox" value="1" ng-model="temp.gc_mgr_confirm_tag">
                                        <label for="chk_term2"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-actions">
                                <div class="pull-right">
                                    <button type="submit" id="desigsub" ng-show="save_btn" class="btn btn-primary btn-small">{{"Save" | translate }}</button>
                                    <button type="button" ng-show="Update_btn" ng-click="update(Myform.$valid);" class="btn btn-primary btn-small">{{"Update" | translate }}</button>
                                    <button type="button" class="btn btn-danger btn-small" ng-click="Cancel();">{{"Cancel"| translate }}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="assets/js/tableHeadFixer.js"></script>

<script src="assets/js/calender-datepicker-id.js"></script>
<!--<script src="assets/js/add-ng-disabled.js"></script>-->
