﻿<!--<link href="assets/css/multiple-select.css" rel="stylesheet" />-->

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Publish"| translate}}</span>&nbsp;{{"Email Paysheet" | translate }}</h3>
            </div>
            <div class="grid-body no-border">
                <div class="row">

                    <div class="col-md-2">
                        <label>{{"Department"| translate }}</label>
                        <select id="Select5" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.dep_code" ng-change="select_dep()"
                                ng-options="dep.dep_code as dep.dep_name for dep in GetDept">
                            <option value="" selected disabled>Please Select</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label>{{"Designation"| translate }}</label>
                        <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.dg_code" ng-change="select_dg()"
                                ng-options="dg.dg_code as dg.dg_name for dg in GetDesg">
                            <option value="" selected disabled>Please Select</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label>{{"Year Month"| translate }}</label>
                        <select id="Select1" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.year_month"
                                ng-options="le.year_month as le.year_month_name for le in GetYearMonth">
                            <option value="" selected disabled>Please Select</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label>{{"Employe ID"| translate }}</label>
                        <input type="text" class="k-textbox input-sm full-width" ng-model="edt.emp_code" required />
                    </div>
                    <div class="col-md-4">
                        <label>&nbsp;</label>
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary btn-cons btn-small" ng-hide="showclosebtn" ng-click="Show_data()">{{"Show"|translate}}</button>
                            <button type="button" class="btn btn-warning btn-cons btn-small" ng-hide="showclosebtn" ng-click="reset_form()">{{"Reset"|translate}}</button>
                        </div>
                    </div>

                </div>


                <div ng-show="busy">
                    <div class="row">
                        <div class="col-md-5">
                            &nbsp;
                        </div>

                        <div class="col-md-5">
                            <div class="row">
                                <img src="assets/images/loading.gif" />
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="rgvtbl">

                    <div class="dataTables_wrapper form-inline" id="Div3">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table  table-hover  table-bordered table-condensed" id="Table2" aria-describedby="example2_info">
                                    <thead>
                                        <tr>
                                            <th class="semi-bold" style="text-align: left">{{"EMPLOYEE ID"| translate }}</th>
                                            <th class="semi-bold" style="text-align: left">{{"Employee Name"| translate }}</th>
                                            <th class="semi-bold" style="text-align: left">{{"Year Month"| translate }}</th>                                            
                                            <th class="small-cell v-align-middle" style="z-index: 1">
                                                <div class="checkbox check-success">
                                                    <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                                    <label for="mainchk">{{"Publish"| translate }}</label>
                                                </div>
                                            </th>                                            
                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="no in PaysheetDetails |orderBy:orderByField:reverseSort" class="{{row2}}" ng-class="row1">


                                            <td>{{no.emp_code}}</td>
                                            <td>{{no.emp_name}}</td>
                                            <td>{{no.year_month_name}}</td>                                            
                                            <td>

                                                <div class="checkbox check-success" style="height: 20px">
                                                    <input id="{{no.emp_code+$index}}" type="checkbox" value="1" ng-click="checkonebyonedelete()" ng-model="no.onhold_status">
                                                    <label style="width:100px" for="{{no.emp_code+$index}}"></label>
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary btn-cons btn-small" ng-click="publish()" ng-hide="btnhide">{{"Publish"|translate}}</button>
                            <button type="button" class="btn btn-primary btn-cons btn-small" ng-click="publish_email()" ng-hide="btnhide">{{"Publish & Email"|translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<script src="assets/js/multiple-select.js"></script>
<script src="assets/js/tableHeadFixer.js"></script>-->
