﻿<div class="row grid simple">
    <div class="grid-body no-border">
        <div class="row grid simple">
             
            <div class="col-md-3">
                <label id="Label1" for="txt_Country_Code" class="form-label">{{"Salary Year"| translate }} <span style="color:red">*</span></label>
                <select id="Select2" data-role="dropdownlist" class="form-control"
                    ng-model="year_code" name="year"
                    ng-options="year.year_code as year.year for year in year_data">
                    <option value="">Please Select</option>
                </select>
            </div>

            <div class="col-md-3">
                <label id="Label2" for="txt_Country_Code" class="form-label">{{"Salary Month"| translate }} <span style="color:red">*</span></label>
               <select id="Select3" data-role="dropdownlist" class="form-control"
                     ng-model="sd_year_month" name="sd_year_month"
                     ng-options="month.sd_year_month as month.month for month in month_data">
                     <option value="">Please Select</option>
                 </select>
            </div>

            <div class="col-md-4">
                 <label id="Label3" for="txt_Country_Code" class="form-label">.</label>
                <button id="Button2" type="button" class="btn btn-primary btn-small" ng-click="get_emp_salary(year_code,sd_year_month)">{{"Search"| translate }}</button>
                <button id="Button3" type="button" class="btn btn-warning btn-cons" ng-click="reset_form()">{{"Reset"| translate }}</button>
            </div>

        </div>

        <div id="example_wrapper" class="dataTables_wrapper form-inline">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-hover table-condensed" id="fixTable" aria-describedby="example2_info">
                        <thead style="background-color: white">
                            <tr style="background-color: #edefef">
                                <th>{{"Pay Code"| translate }}</th>
                                <th>{{"Amount"| translate }}</th>
                                <th>{{"Earn / Deduction"| translate}}</th>
                            </tr>
                        </thead>
                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            <tr ng-repeat="obj in emp_data" ng-class="row1">
                                <td>{{obj.paycode}}</td>
                                <td>{{obj.amount}}</td>
                                <td>{{obj.earn}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-12">
             <div class="col-md-12 form-inline white-space-fix">
                 <label>{{"Absent Days"| translate}} : {{att_data.absents}}</label>&emsp;
                 <label>{{"Presents Days"| translate}} : {{att_data.presents}}</label>&emsp;
                  <label>{{"Leaves"| translate}} : {{att_data.leaves}}</label>&emsp;
                 <label>{{"Holidays"| translate}} : {{att_data.holidays}}</label>&emsp;
                 <label>{{"Total Working Days"| translate}} : {{att_data.worddays}}</label>
        </div>
        </div>

    </div>
</div>