﻿<div class="loading-middle" ng-hide="display">
    <img src="loading.gif" />
</div>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="page-title">
                <h3><span class="semi-bold">{{"Settlement Type" | translate }}&nbsp;</span>{{"Master" | translate}}</h3>
            </div>
            <div class="grid-body no-border">
                <form name="myForm" ng-submit="Save(myForm.$valid)" novalidate="novalidate">
                    <div ng-show="SettlementDataoperation">
                        <div class="row">
                            <div class="col-md-4">
                                <label id="Label4" for="txt_code" class="form-label">{{"Company Code"| translate }} <span style="color:red;">* </span></label>
                                <select name="compname" class="form-control input-sm full-width" ng-model="edt.se_company_code" ng-show="newmode" required>
                                    <option value="">Please select</option>
                                    <option class="form-control input-sm" ng-repeat="comp in compname" value="{{comp.comp_code}}">{{comp.comp_name}}</option>
                                </select>
                                <input type="text" id="Text3" name="compname" ng-model="edt.se_company_code" class="k-textbox input-sm full-width" ng-show="editmode" size="30" readonly required/>
                                <p class="help-block" ng-show="myForm.compname.$error.required &&  (myForm.compname.$touched || myForm.$submitted)">
                                   {{"This field required"| translate }}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <label id="Label1" for="txt_code" class="form-label">{{"Formula Code"| translate }} <span style="color:red;">* </span></label>
                                <select name="Forcode" class="form-control input-sm full-width" ng-model="edt.se_formula_code" ng-show="newmode" required>
                                    <option value="">Please select</option>
                                    <option class="form-control input-sm" ng-repeat="formcode in fcode" value="{{formcode.fm_code}}">{{formcode.fm_desc}}</option>
                                </select>
                                <input type="text" name="Forcode" id="Text1" ng-model="edt.se_formula_code" class="k-textbox input-sm full-width" ng-show="editmode" size="30" readonly required/>
                                <p class="help-block" ng-show="myForm.Forcode.$error.required &&  (myForm.Forcode.$touched || myForm.$submitted)">
                                   {{"This field required"| translate }}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <label id="Label8" for="txt_full_name" class="form-label">{{"Settlement Leave Tag"| translate }}</label>
                                <div class="checkbox check-success">
                                    <input id="chk_term" type="checkbox" ng-model="edt.se_leave_tag">
                                    <label for="chk_term"></label>
                                </div>
                            </div>

                        </div>


                        <div class="col-md-12">
                            <div class="form-actions">
                                <div class="pull-right">
                                    <button class="btn btn-primary btn-cons btn-small" type="submit" ng-show="savebtn"><i class="icon-ok"></i>{{"Save"| translate }}</button>
                                    <button class="btn btn-primary btn-cons btn-small" type="button" ng-show="updatebtn" ng-click="Update(myForm.$valid);"><i class="icon-ok"></i>{{"Update"| translate }}</button>
                                    <button class="btn btn-danger btn-cons btn-small" type="button" ng-click="cancel()">{{"Cancel"| translate }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <!--table-->


                <div ng-show="SettlementDetail">
                    <div class="row">
                        <div class="col-md-6">
                            <select id="Select12" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                <option value="10" class="form-control input-sm">
                                    10
                                </option>

                                <option value="10" class="form-control input-sm">
                                    20
                                </option>

                                <option value="All" class="form-control input-sm">
                                    All
                                </option>
                            </select>

                            
                            <button class="btn btn-success btn-small m-l-3 m-r-3" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate}}</button>
                       
                            <button class="btn btn-danger btn-small" type="button" ng-click="deleterecord()" ng-readonly="deletee"><span class="semi-bold"></span>{{"Delete"| translate}}</button>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <div class="dataTables_filter" id="Div1">
                                    <label>
                                        {{"Search by settlement code"| translate}}  &nbsp;
                                        <input type="text" aria-controls="example" ng-model="searchText" class="k-textbox input-sm m-l-0" ng-change="search();">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-hover no-more-tables  table-condensed m-t-0" id="fixTable" style="margin-top: 0 !important;">
                                    <thead>
                                        <tr style="background-color:#edefef !important;">
                                            <th class="small-cell v-align-middle" style="z-index:1">
                                                <div class="checkbox check-success">
                                                    <input type="checkbox" name="check" value="1" id="all_chk" ng-click="check_all();">
                                                    <label for="all_chk"></label>
                                                </div>
                                            </th>
                                            <th class="semi-bold">{{"Company Name"| translate }}</th>
                                            <th class="semi-bold">{{"Settlement Code"| translate }}</th>
                                            <th class="semi-bold">{{"Settlement Formula Code"| translate }}</th>
                                            <th class="semi-bold">{{"Settlement Leave Tag"| translate}}</th>
                                            <th class="semi-bold">{{"Action"| translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="obj in filteredTodos">
                                            <td class="small-cell v-align-middle">
                                                <div class="row-fluid" style="height: 20px">
                                                    <div class="checkbox check-success">
                                                        <input type="checkbox" value="1" id="{{obj.se_code+$index}}" ng-click="check_once()">
                                                        <label for="{{obj.se_code+$index}}"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{obj.se_company_code}}</td>
                                            <td>{{obj.se_code}}</td>
                                            <td>{{obj.se_formula_code}}</td>
                                            <td class="v-align-middle">
                                                <span ng-if="obj.se_leave_tag==true" class="label label-success">{{"Active"| translate}}</span>
                                                <span ng-if="obj.se_leave_tag==false" class="label label-important">{{"In active"| translate}}</span>
                                            </td>



                                            <td>
                                                <button ng-click="up(obj)"><i class="fa fa-edit"></i></button>


                                            </td>
                                        </tr>

                                    </tbody>

                                </table>
                            </div>
                        </div>

                    </div>

                    <div class="row" ng-show="showPager">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<script src="assets/js/add-ng-disabled.js"></script>