﻿<style>
    .ms-choice {
        height:26px;
    }
    </style>
<!DOCTYPE html>
<html>
<body>
    <div class="grid-simple">
        <div class="content">
            <div class="row" >
                <div class="col-md-12 bluegrid" style="padding-left:14px !important;padding-right:14px !important;background:#d8ebf4 !important;">
                    <!--<div class="grid simple">-->
                        <div class="" style="padding-bottom:0px !important;padding-top: 4px !important">

                            <!--<div class="row" style="background:#d8ebf4 !important;padding-bottom:12px !important;padding-top: 6px !important">-->

                                
                    

                                 <div class="col-md-2">
                                    <label id="Label" for="txt_Nationality_Code" class="form-label">
                                        <i class="fa fa-building-o"></i>
                                        {{"Company"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="temp.company_code" ng-selected="" name="company_code"
                                            ng-options="cur.pc_company_code as cur.company_name for cur in CompanyName_Data" required></select>
                                </div>

                                <div class="col-md-2">
                                    <label id="Label2" for="txt_Nationality_Code" class="form-label">
                                        <i class="fa fa-align-justify"></i>
                                        {{"Staff Strength By"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="strength"  multiple="multiple"  class="full-width" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="temp.sims_strength"  name="strength" 
                                            ng-options="acad.sims_appl_parameter as acad.sims_appl_form_field_value1 for acad in strength" required></select>
                                </div>


                        






            


            <div class="col-md-8" style="margin-top: 26px;">
                <div class="pull-right" >
                    
                    <button type="button" class="btn btn-primary btn-cons" ng-click="getdetails()">{{"Preview"|translate}}</button>
                   <button class="btn btn-rounded btn-warning btn-cons" type="button" ng-click="reset_data()"><i class="icon-ok"></i>{{"Reset"|translate}}</button>

                    <button type="button" class="btn btn-primary btn-cons" style="background-color:#1f3853;" ng-click="exportData()">{{"Excel"|translate}}</button>
                    <button type="button" class="btn btn-primary btn-cons"  style="background-color:#f35958;"ng-click="print()">{{"Print"|translate}}</button>
                </div>
            </div>



                       
                   

                         <!--   </div><!---- row -->
                           
                           



                        </div>
                    <!--</div>-->
                </div>
            </div>

            <div ng-show="detailsField">

                <div class="content" style="margin-left:-9px;margin-right:-9px;">
                    <div class="grid-title no-border" style="background-color:  white; margin-top:-6px">
                        <div class="col-md-12">
                            <div class="row margin-top" style="margin-top:0px;">
                                <div class="col-md-6" style=" padding-left: 6px;">
                                    <select id=" select1" style="width: 60px;" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                        <option value="30" class=" form-control input-sm">
                                            30
                                        </option>

                                        <option value="60" class=" form-control input-sm">
                                            60
                                        </option>

                                        <option value="All" class=" form-control input-sm">
                                            All
                                        </option>
                                    </select>
                                </div>
                           
                         
                                <div class="col-md-6" ng-show="true">
                                   <!-- <label>&nbsp;</label>-->
                                    <div class="pull-right">
                                        <span class="k-textbox k-space-right">
                                            <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm" autofocus="autofocus" tabindex="1" ng-change="searched()"><!--</label>-->
                                            <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                        </span>
                                    </div>
                                </div>
                             </div>
                        </div>


                        <div id="example_wrapper" class="dataTables_wrapper form-inline">
                            <div class="row margin-top">
                                <div class="col-md-12">

                                    <div class="col-md-12" id="rpt_data1">
                                        <table class="table table-striped table-flip-scroll cf">
                                            <thead>
                                                <tr style=" text-align:left" background-color #edefef"  >
                                                    <th style="width:4%"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Sr No"|translate}}</b></th>
                                                    <th ng-click="sort('description1')"><b><i class="fa fa-bookmark-o"></i>&nbsp;{{"Staff Type Name"|translate}}</b></th>
                                                    <th ng-click="sort('count1')"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Staff Type Count"|translate}}</b></th>
                                                    
                                                    </tr>
                                            </thead>

                                            <tbody align="left">
                                                <tr ng-repeat="r in filteredTodos|orderBy:colname:reverse|filter:searchText" ng-click="viewsubtitution(r)">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{r.description1}}</td>
                                                    <td>{{r.count1}}</td>
                                                    
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                    <div ng-show="hideprintpdf">
                                        <div class="col-md-12" id="pdf_print">
                                            <table class="table table-bordered text-center">
                                                <thead>
                                                    <tr style=" text-align:left" background-color #edefef">
                                                        <th><b>{{"Sr No"|translate}}</b></th>
                                                     <th ng-click="sort('description1')"><b>{{"Staff Type Name"|translate}}</b></th>
                                                    <th ng-click="sort('count1')"><b>{{"Staff Type Count"|translate}}</b></th>
                                                    
                                                    </tr>

                                                </thead>

                                                <tbody align="center">
                                                     <tr ng-repeat="r in filteredTodos|orderBy:colname:reverse|filter:searchText">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{r.description1}}</td>
                                                    <td>{{r.count1}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="row" ng-show="pager">
                                        <div class="col-md-12">
                                            <div class="pull-right">
                                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                                        ng-click="index(currentPage)">
                                                </paging>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</body>
</html>
<!--<div class="col-md-12" id="subform">-->

 <div class="modal fade in" id="MyModal6" role="dialog" style="display: none;">        
            <div class="modal-dialog" style="width: 1200px; border: solid; border-bottom-left-radius: 05px; border-bottom-right-radius: 05px; border-top-left-radius: 05px; border-top-right-radius: 05px">
                <div class="col-md-12" id="subform">
                    <div class="modal-content">
                        <div class="pull-right">
                                <a href="">
                                    <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>
                                </a>
                            </div>

                        <hr style="height: 03px; border: none; color: purple; background-color: green;">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="Div1" class="dataTables_wrapper form-inline">
                                    <div id="Div2" class="dataTables_wrapper form-inline">
                                        <div class="row margin-top">
                                            <div class="col-md-12" style="height:500px;overflow:auto">
                                                <table class="table table-bordered table-hover table-condensed" id="Table1" aria-describedby="example2_info">
                                                    <thead style="background-color: #0000ff; border-style: solid;">
                                                        <tr style="background-color: #0000ff; border-style: solid;">
                                                             <th class="semi-bold">{{"Sr No"|translate}}</th>
                                                            <th class="semi-bold">{{"Department"|translate}}</th>
                                                            <th class="semi-bold">{{"Staff Type"|translate}}</th>
                                                            <th class="semi-bold">{{"Designation"|translate}}</th>
                                                            <th class="semi-bold">{{"Employee Id"|translate}}</th>
                                                            <th class="semi-bold">{{"Name"|translate}}</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                        <tr ng-repeat=" obj in subformdetails track by $index" ng-class="row1">
                                                            <td>{{$index+1}}</td>
                                                            <td>{{obj.dept_name}}</td>
                                                            <td>{{obj.emp_staff_type}}</td>
                                                            <td>{{obj.designation_name}}</td>
                                                             <td>{{obj.em_login_code}}</td>
                                                            <td>{{obj.emp_name}}</td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                          
                                </div>

                        </div>

                    </div>


                </div>
        </div>
       </div>

<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/plugins/fileSaver.js"></script>
<script src="assets/js/jszip.js"></script>
<script src="assets/js/xlsx.js"></script>
<script src="assets/js/xlsx-reader.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>



