﻿<style>
    .k-textbox .k-icon {
    top: 50%;
    margin: -9px -9px 0;
    position: absolute;
}
    .k-input {
    padding: 0em;
    margin-top:0px;
}
</style>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 padding_none">
                    <div class="page-title">
                        <h3>{{"Teaching Staff Career Profile"| translate }}</h3>
                    </div>
                </div>
            </div>

            <div class="grid-body no-border">
                <div class="grid-title no-border">
				    <h4>{{"Personal"| translate }} <span class="semi-bold">{{"Information"| translate }}</span></h4>
				    <div class="border-separate m-t-0"></div>
			    </div>

                <form class="form-no-horizontal-spacing" id="teaching_staff" name="Myform">
                    <div class="row form-group">
                        <div class="col-md-12">
                           <!-- <label style="font-size:small;color:black">{{"Image Upload"| translate }}</label>-->
                            <div class="col-md-1">
                                <img id="empimg" alt="" style="width: 70px; height: 85px" />
                            </div>
                            <div class="col-md-3">
                                <i><label style="margin-top: 60px;">{{"Note: Upload file size less than 2 MB"| translate }}</label></i>
                            </div>

                            <input type="file" id="file1" name="file" onchange="angular.element(this).scope().file_changed(this)"
                                   ng-files="getTheFiles($files)" accept="image/*" style="float: initial; width: 120px;" ng-hide="true" />
                            <div style="margin-top: 5px;" class="col-md-12" ng-show="imgupload">
                                <a href="" class="label label-important " type="button" ng-click="image_click()" onclick="document.getElementById('file1').click();">
                                    <i class="fa fa-cloud-upload"></i>{{"Upload"| translate }}
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="row column-seperation">
                        <div class="col-md-12 p-r-10">
                            <div class="row form-row">
                                <div class="col-md-3">
                                    <label class="semi-bold">{{"Salutaion"| translate }}</label>                              
                                    <select name="salutation" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.em_Salutation_Code">
                                        <option value="" selected disabled>Please select</option>
                                        <option ng-repeat="sal in obj" value="{{sal.em_Salutation_Code}}" class="form-control input-sm" ng-if="sal.em_Salutation_name.length">
                                            {{sal.em_Salutation_name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label class="semi-bold">{{"First Name"| translate }} <span style="color:red;">*</span></label>                                    
                                    <input type="text" class="k-textbox input-sm full-width" id="Text2" placeholder="First Name" maxlength="50" name="firstnm" ng-model="temp.em_first_name" required>
                                    <p class="help-block" ng-show="Myform.firstnm.$error.required &&(Myform.firstnm.$touched || Myform.$submitted)">
                                        {{"This field is required"| translate }}
                                    </p>                                    
                                </div>
                                <div class="col-md-3">
                                    <label class="semi-bold">{{"Middle Name"| translate }}</label>                                       
                                    <input type="text" class="k-textbox input-sm full-width" id="Text7" placeholder="Middle Name" maxlength="50" name="midnm" ng-model="temp.em_middle_name">                                    
                                </div>
                                <div class="col-md-3">
                                    <label class="semi-bold">{{"Last Name"| translate }}</label>                                       
                                    <input type="text" class="k-textbox input-sm full-width" id="Text8"  placeholder="Last Name" name="lastnm" maxlength="50" ng-model="temp.em_last_name">                                    
                                </div>
                            </div>

                            <div class="row form-row">
                                <div class="col-md-3">
                                    <label class="semi-bold">{{"Name In Other Language"| translate }}</label>                                       
                                    <input type="text" class="k-textbox input-sm full-width" placeholder="Name in other language" id="Text12" name="name_in_ot" maxlength="40" ng-model="temp.em_name_ot">                                                                     
                                </div>
                                <div class="col-md-3">
                                    <label class="semi-bold">{{"Date Of Birth"| translate }} <span style="color:red;">*</span></label>                                                                           
                                    <input type="text" id="dob" name="dob" placeholder="Date Of Birth" class="k-textbox input-sm full-width" ng-change="setStart(date)" ng-model="temp.em_date_of_birth" required />
                                    <p class="help-block" ng-show="Myform.dob.$error.required &&(Myform.dob.$touched || Myform.$submitted)">
                                        {{"This field is required"| translate }}
                                    </p>
                                </div>
                                <div class="col-md-3">
                                    <label class="semi-bold">{{"Gender"| translate }}</label>                                    
                                    <select name="gen" id="Select2" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.em_Sex_Code" ng-change="someMethod()" ng-disabled="true">
                                        <option value="" selected disabled>Select Gender</option>
                                        <option ng-repeat="gender in obj" value="{{gender.em_Sex_Code}}"  class="form-control input-sm" ng-if="gender.em_Sex_Code.length">
                                            {{gender.em_Sex_name}}
                                        </option>
                                    </select>                                    
                                </div>


                                <div class="col-md-3">
                                    <label class="semi-bold">{{"Marital Status"| translate }}</label>                                                                        
                                    <select name="maristat1" id="Select3" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.em_Marital_Status_Code" ng-change="someMethod();" ng-disabled="true">
                                        <option value="" selected disabled>Select Marital Status</option>
                                        <option ng-repeat="marstat in obj" value="{{marstat.em_Marital_Status_Code}}" class="form-control input-sm" ng-if="marstat.em_Marital_Status_name.length">
                                            {{marstat.em_Marital_Status_name}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="row form-row">
                                <div class="col-md-3">
                                    <label class="semi-bold">{{"Blood Group"| translate }}</label>                                                                        
                                    <select id="Select4" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.em_blood_group_code">
                                        <option value="" selected disabled>Select Blood Group</option>
                                        <option ng-repeat="blood in obj" value="{{blood.em_blood_group_code}}" class="form-control input-sm" ng-if="blood.em_blood_group_code.length">
                                            {{blood.em_blood_group_name}}
                                        </option>
                                    </select>
                                </div>

                                <div class="col-md-3">
                                    <label class="semi-bold">{{"Country"| translate }}</label>                                                                        
                                    <select id="Select27" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.em_Country_Code">
                                        <option value="" selected disabled>Select Country</option>
                                        <option ng-repeat="country in obj" value="{{country.em_Country_Code}}" class="k-textbox input-sm full-width" ng-if="country.em_Country_Code.length">
                                            {{country.em_Country_name}}
                                        </option>
                                    </select>
                                </div>

                                <div class="col-md-3">
                                    <label class="semi-bold">{{"Nationality"| translate }}</label>                                                                        
                                    <select id="Select28" name="nation" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.em_Nation_Code" ng-change="someMethod()" ng-disabled="true">
                                        <option value="" selected disabled>Select Nationality</option>
                                        <option ng-repeat="nationality in obj" value="{{nationality.em_Nation_Code}}" class="form-control input-sm" ng-if="nationality.em_Nation_Code.length">
                                            {{nationality.em_Nation_name}}
                                        </option>
                                    </select>
                                </div>

                                <div class="col-md-3">
                                    <label class="semi-bold">{{"Religion"| translate }}</label>                                                                        
                                    <select id="Select29" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.em_Religion_Code" ng-disabled="true">
                                        <option value="" selected disabled>Select Religion</option>
                                        <option ng-repeat="rel in obj" value="{{rel.em_Religion_Code}}" class="form-control input-sm" ng-if="rel.em_Religion_name.length">
                                            {{rel.em_Religion_name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col-md-3">
                                    <label class="semi-bold">{{"Official Email ID"| translate }}</label>                                                                        
                                    <input type="text" class="k-textbox input-sm full-width" id="Text9" placeholder="Official Email ID" name="off_email" ng-model="temp.em_email">
                                    <!--<p class="help-block" ng-show="Myform.off_email.$error.required &&(Myform.off_email.$touched || Myform.$submitted)">
                                        This field is required.
                                    </p>-->
                                    <p class="help-block" ng-show="Myform.off_email.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                        {{"Official Email Should be Max 50."| translate }}
                                    </p>
                                </div>
                                <div class="col-md-3">
                                    <label class="semi-bold">{{"Personal Email ID"| translate }}</label>                                                                        
                                    <input type="text" class="k-textbox input-sm full-width" placeholder="Personal Email ID" id="txt_perEmail" ng-maxlength="50" name="txt_perEmail" ng-model="temp.em_personalemail">
                                    <!--<p class="help-block" ng-show="Myform.txt_perEmail.$error.required &&(Myform.txt_perEmail.$touched || Myform.$submitted)">
                                        This field is required.
                                    </p>-->
                                    <p class="help-block" ng-show="Myform.txt_perEmail.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                        {{"Personal Email Should be Max 50."| translate }}
                                    </p>
                                </div>
                                <div class="col-md-3">
                                    <label class="semi-bold">{{"Mobile Number"| translate }}</label>                                                                        
                                    <input type="text" class="k-textbox input-sm full-width" id="mob" placeholder="Mobile Number" ng-maxlength="14" ng-pattern="/^\+?\d+$/" name="mobnum" ng-model="temp.em_mobile">
                                    <p class="help-block" ng-show="Myform.mobnum.$error.pattern && (Myform.mobnum.$touched || Myform.$submitted)">
                                        {{"Enter Only Digits"| translate }}
                                    </p>
                                    <p class="help-block" ng-show="Myform.mobnum.$error.maxlength && (Myform.mobnum.$touched || Myform.$submitted)">
                                        {{"Mobile Number can not be longer than 13 digits"| translate }}
                                    </p>
                                </div>
                                <div class="col-md-3">
                                    <label class="semi-bold">{{"Phone Number"| translate }}</label>                                                                        
                                    <input type="text" class="k-textbox input-sm full-width" id="Text18" placeholder="Home Country No" ng-maxlength="15" ng-pattern="/^\+?\d+$/" name="phone_number" ng-model="temp.em_phone">
                                    <p class="help-block" ng-show="Myform.phone_number.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                        {{"Home Country No. Should be Max 15"| translate }}
                                    </p>
                                    <p class="help-block" ng-show="Myform.phone_number.$error.pattern && (!Myform.$pristine && Myform.$submitted)">
                                        {{"Enter only Digit"| translate }}
                                    </p>
                                    <!--<p class="help-block" ng-show="Myform.phone_number.$error.required &&(Myform.phone_number.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>-->
                                </div>                                
                            </div>
                            <div class="row form-row">
                                <div class="col-md-3">
                                    <label class="semi-bold">{{"Emergency Contact Name"| translate }}</label>                                                                        
                                    <input type="text" class="k-textbox input-sm full-width" placeholder="Emergency Contact Name" id="txt_mobile_number3" maxlength="50" name="emerg_cont_name1" ng-model="temp.em_emergency_contact_name1">                                    
                                </div>
                                <div class="col-md-3">
                                    <label class="semi-bold">{{"Emergency Contact Number"| translate }}</label>                                                                        
                                    <input type="text" class="k-textbox input-sm full-width"  placeholder="Emergency Contact Number" id="txt_driver_address" ng-maxlength="14" ng-pattern="/^\+?\d+$/" name="emerg_cont_num1" ng-model="temp.em_emergency_contact_number1">
                                    <p class="help-block" ng-show="Myform.emerg_cont_num1.$error.pattern && (Myform.emerg_cont_num1.$touched || Myform.$submitted)">
                                        {{"Enter Only Digits"| translate }}
                                    </p>
                                    <p class="help-block" ng-show="Myform.emerg_cont_num1.$error.maxlength && (Myform.emerg_cont_num1.$touched || Myform.$submitted)">
                                        {{"Mobile Number can not be longer than 13 digits"| translate }}
                                    </p>
                                </div>                                
                                <div class="col-md-3">
                                    <label class="semi-bold">{{"Summary Address"| translate }}</label>       
                                    <input type="text" class="k-textbox input-sm full-width" id="Text10" placeholder="Summary Address" name="txt_driver_visa_issuing_place" maxlength="100" ng-model="temp.em_summary_address">
                                </div>
                                <div class="col-md-3">
                                    <label class="semi-bold">{{"Resident in country since"| translate }}</label>                                           
                                    <input name="form3LastName" id="qatar_since_date" type="text" class="k-textbox input-sm full-width" placeholder="Resident in country since" ng-model="temp.em_resident_in_qatar_since">
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col-md-3">
                                    <label class="semi-bold">{{"Spouse Name"| translate }}</label>                                           
                                    <input type="text" class="k-textbox input-sm full-width" placeholder="Spouse Name" id="Text48" ng-model="temp.em_name_of_spouse">
                                </div>
                                <div class="col-md-3">
                                    <label class="semi-bold">{{"Spouse Organization"| translate }}</label>                                           
                                    <input type="text" class="k-textbox input-sm full-width" placeholder="Spouse Organization" id="Text49" ng-model="temp.em_spouse_organization">
                                </div>
                                <div class="col-md-3">
                                    <label class="semi-bold">{{"Spouse Designation"| translate }}</label>                                           
                                    <select id="Select5" class="form-control input-sm full-width" ng-model="temp.em_Spouse_Designation_Code">
                                        <option value="" selected disabled> Select Spouse Designation</option>
                                        <option ng-repeat="desig in obj" value="{{desig.em_Designation_Code}}" class="form-control input-sm"
                                                ng-if="desig.em_Designation_Code.length">
                                            {{desig.em_Designation_name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label class="semi-bold">{{"Spouse National Id"| translate }}</label>                                           
                                    <input type="text" class="k-textbox input-sm full-width" id="Text50" placeholder="Spouse National Id" ng-model="temp.em_spouse_qatar_id">
                                </div>
                                <div class="col-md-3">
                                    <label class="semi-bold">{{"Spouse Contact Number"| translate }}</label>                                           
                                    <input type="text" class="k-textbox input-sm full-width" placeholder="Spouse Contact No" id="Text51" ng-model="temp.em_spouse_contact_number">
                                </div>
                            </div>

                            </div>

                    </div>

                        <!--<div class="col-md-6 p-l-10">
                            <div class="row form-row">
                                <div class="col-md-6">
                                    <input name="form3FirstName" id="Text5" type="text" class="form-control input-sm" placeholder="Name of Spouse">
                                </div>
                                <div class="col-md-6">
                                    <input name="form3LastName" id="Text6" type="text" class="form-control input-sm" placeholder="Designation">
                                </div>
                            </div>

                            <div class="row form-row">
                                <div class="col-md-6">
                                    <input name="form3FirstName" id="Text7" type="text" class="form-control input-sm" placeholder="Organization">
                                </div>
                                <div class="col-md-6">
                                    <input name="form3LastName" id="Text8" type="text" class="form-control input-sm" placeholder="Contact No.">
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col-md-6">
                                    <input name="form3FirstName" id="Text3" type="text" class="form-control input-sm" placeholder="Q.I.D">
                                </div>
                                <div class="col-md-6">
                                    <input name="form3LastName" id="Text4" type="text" class="form-control input-sm" placeholder="Validity">
                                </div>
                            </div>
                        </div>-->
                   
                    <div class="grid-title no-border m-t-20">
                        <h4>{{"Company"| translate }} <span class="semi-bold">{{"Details"| translate }}</span></h4>
                        <div class="border-separate m-t-0"></div>
                    </div>
                    <div class="row column-seperation">
                        <div class="col-md-12 p-r-10">
                            <div class="row form-row">
                                <div class="col-md-4">
                                    <label class="semi-bold">{{"Company"| translate }}</label>                                           
                                    <select id="Select1" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="temp.em_Company_Code" ng-disabled="true" name="cmbcomp"
                                            ng-options="cmpname.em_Company_Code as cmpname.em_Company_name for cmpname in company_data">
                                            <option value="" selected disabled>Select Company</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label class="semi-bold">{{"Department"| translate }}</label>                                           
                                    <select data-role="dropdownlist" class="form-control input-sm full-width" name="deptname" id="Select25" ng-model="temp.em_Dept_Code" ng-disabled="true">
                                        <option value="" selected disabled>Select Department</option>
                                        <option ng-repeat="dept in obj" value="{{dept.em_Dept_Code}}" class="k-textbox input-sm full-width" ng-if="dept.em_Dept_Code.length">
                                            {{dept.em_Dept_name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label class="semi-bold">{{"Department Effect From"| translate }}</label> <!--id="department_effect_from_date"-->                                          
                                    <input type="text" id="department_effect_from_dat" name="deptef" placeholder="Department Effect From" class="k-textbox input-sm full-width" ng-disabled="true" ng-model="temp.em_dept_effect_from" />                                    
                                </div>                                
                            </div>
                            <div class="row form-row">
                                <div class="col-md-4">
                                    <label class="semi-bold">{{"Designation"| translate }}</label>                                           
                                    <select data-role="dropdownlist" class="form-control input-sm full-width" name="designat" id="Select20" ng-model="temp.em_Designation_Code" ng-disabled="true">
                                        <option value="" selected disabled>Select Designation</option>
                                        <option ng-repeat="desig in obj" value="{{desig.em_Designation_Code}}" class="k-textbox input-sm full-width" ng-if="desig.em_Designation_Code.length">
                                            {{desig.em_Designation_name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label class="semi-bold">{{"Staff Type"| translate }}</label>     
                                    <select data-role="dropdownlist" class="form-control input-sm full-width" id="Select24" ng-model="temp.em_Staff_Type_Code" ng-disabled="true">
                                        <option value="" selected disabled>Select Staff Type</option>
                                        <option ng-repeat="staff in obj" value="{{staff.em_Staff_Type_Code}}" class="k-textbox input-sm full-width" ng-if="staff.em_Staff_Type_Code.length">
                                            {{staff.em_Staff_Type_name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label class="semi-bold">{{"Date Of Joining"| translate }}</label>  <!--id="DOJ"-->
                                    <input type="text" id="DO" name="doj" class="k-textbox input-sm full-width" placeholder="Date Of Joining" ng-disabled="true"  ng-model="temp.em_date_of_join" ng-change="checkDOJ();" />
                                </div>                                
                            </div>
                        </div>
                    </div>

                    <div class="grid-title no-border m-t-20">
                        <h4>{{"Documents"| translate }}<span class="semi-bold">{{"Details"| translate }}</span></h4>
                        <div class="border-separate m-t-0"></div>
                    </div>
                    <div class="row column-seperation">
                        <div class="col-md-6 p-r-10">
                            <div class="row form-row">
                                <div class="col-md-4">
                                    <label class="semi-bold">{{"Passport Number"| translate }}</label>  
                                    <input type="text" class="k-textbox input-sm full-width" placeholder="Passport Number" id="Text11" name="txt_driver_address" ng-model="temp.em_passport_no">
                                </div>
                                <div class="col-md-4">
                                    <label class="semi-bold">{{"Passport Issue Date"| translate }}</label>  
                                    <input type="text" id="passport_issue_date" name="date" placeholder="Passport Issue Date" class="k-textbox input-sm full-width" ng-model="temp.em_passport_issue_date">
                                </div>
                                <div class="col-md-4">
                                    <label class="semi-bold">{{"Passport Expiry Date"| translate }}</label>  
                                    <input type="text" id="passport_expiry_date" name="date" placeholder="Passport Expiry Date" class="k-textbox input-sm full-width" ng-change="checkPassport();" ng-model="temp.em_passport_exp_date">
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col-md-4">
                                    <label class="semi-bold">{{"Visa Number"| translate }}</label>  
                                    <input type="text" class="form-control" id="Text13"  placeholder="Visa Number" name="txt_driver_address" ng-model="temp.em_visa_no">
                                </div>
                                <div class="col-md-4">
                                    <label class="semi-bold">{{"Visa  Issue Date"| translate }}</label>  
                                    <input type="text" id="visa_issue_date" name="date" placeholder="Visa Issue Date" class="k-textbox input-sm full-width" ng-model="temp.em_visa_issue_date">
                                </div>
                                <div class="col-md-4">
                                    <label class="semi-bold">{{"Visa Expiry Date"| translate }}</label>  
                                    <input type="text" id="expiry_date2" name="date" placeholder="Visa Expiry Date" class="k-textbox input-sm full-width" ng-change="checkVisa();" ng-model="temp.em_visa_exp_date">
                                </div>
                            </div>                            
                        </div>

                        <div class="col-md-6 p-l-10">                          
                            <div class="row form-row">
                                <div class="col-md-4">
                                    <label class="semi-bold">{{"National Id"| translate }}</label>
                                    <input type="text" class="k-textbox input-sm full-width" id="Text6" placeholder="National Id" Number" name="emirates_id" ng-model="temp.em_national_id">
                                </div>
                                <div class="col-md-4">
                                    <label class="semi-bold">{{"National Id Issue Date"| translate }}</label>
                                    <input type="text" id="issue_date_date1" name="date" placeholder="National Id Issue Date" class="k-textbox input-sm full-width" ng-change="setStart(date)" ng-model="temp.em_national_id_issue_date">
                                </div>
                                <div class="col-md-4">
                                    <label class="semi-bold">{{"National Id Expiry Date"| translate }}</label>
                                    <input type="text" id="expiry_date4" name="date" placeholder="National Id Expiry Date" class="k-textbox input-sm full-width" ng-change="checkEmiratesID();" ng-model="temp.em_national_id_expiry_date">
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col-md-4">
                                    <label class="semi-bold">{{"Work Permit Number"| translate }}</label>
                                    <input type="text" class="k-textbox input-sm full-width" placeholder="Work Permit Number" id="Text1" name="txt_driver_visa_issuing_place" ng-model="temp.em_labour_card_no" ng-readonly="work_permit_no">
                                </div>
                                <div class="col-md-4">
                                    <label class="semi-bold">{{"Work Permit Issue Date"| translate }}</label>
                                    <input type="text" id="work_permit_issue_date" name="date" placeholder="Work Permit Issue Date" class="k-textbox input-sm full-width" ng-change="setStart(date)" ng-model="temp.em_work_permit_issue_date" ng-disabled="work_permit_issue_date">
                                </div>
                                <div class="col-md-4">
                                    <label class="semi-bold">{{"Work Permit Expiry Date"| translate }}</label>
                                    <input type="text" id="work_permit_expiry_date" name="date" placeholder="Work Permit Expiry Date" class="k-textbox input-sm full-width" ng-change="checkWorkpermit();" ng-model="temp.em_work_permit_expiry_date" ng-disabled="work_permit_expiry_date">
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <div class="grid-title no-border m-t-20">
				        <h4>{{"Educational and Professional"| translate }}  <span class="semi-bold">{{"Qualification"| translate }}</span></h4>
				        <div class="border-separate m-t-0"></div>
			        </div>

                    <div class="row">
                        <div class="col-md-12" id="education_rows">
                             <table class="table table-bordered ">
                                <thead>
                                    <tr>
                                        <th class="text-center">{{"Degree/Diploma"| translate }}</th>
                                        <th class="text-center">{{"Institution/University"| translate }}</th>
                                        <th class="text-center" >{{"Regular/Distance/Learning/Online"| translate }}</th>
                                        <th class="text-center" >{{"Duration"| translate }}</th>
                                        <th class="text-center" >{{"Year Passed % Marks"| translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="qual in qualiList">
                                        <td>{{qual.emp_qual_qual_name}}</td>
                                        <td>{{qual.emp_qual_institute}}</td>
                                        <td ng-if="qual.emp_qual_type_code == 'R'">{{"Regular"| translate }}</td>
                                        <td ng-if="qual.emp_qual_type_code == 'O'">{{"Online"| translate }}</td>
                                        <td ng-if="qual.emp_qual_type_code == 'D'">{{"Distance"| translate }}</td>
                                        <td ng-if="qual.emp_qual_type_code == 'L'">{{"Learning"| translate }}</td>
                                        <td ng-if="qual.emp_qual_type_code == null || qual.emp_qual_type_code == ''"></td>
                                        <td>{{qual.em_qual_from_year}} to {{qual.em_qual_to_year}}</td>
                                        <td>{{qual.emp_qual_percentage}}</td>
                                    </tr>                                   
                                </tbody>
                            </table>                           
                        </div>

                        <div class="row m-t-10" ng-show="showQualiMsg">
                            <label class="semi-bold"> {{"Qualification details are not available"| translate }}</label>
                        </div>
                       
                        <!--<div class="col-md-12">
                            <span class="semi-bold">Remark</span>
                            <textarea class="full-width"></textarea>
                        </div>-->
                        
                    </div>

                    <div class="grid-title no-border m-t-20">
				        <h4>{{"Experience"| translate }} <span class="semi-bold">{{"Details"| translate }}</span></h4>
				        <div class="border-separate m-t-0"></div>
			        </div>

                    <div class="row">
                        <div class="col-md-12" id="Div1">
                            <table class="table table-bordered ">
                                <thead>
                                    <tr>
                                        <th class="text-center">{{"Institution"| translate }}</th>
                                        <th class="text-center">{{"Job Title"| translate }}</th>
                                        <th class="text-center">{{"Period"| translate }}</th>
                                        <th class="text-center">{{"salary Drawn"| translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="exp in expList">
                                        <td>{{exp.em_previous_job_company}}</td>
                                        <td>{{exp.em_previous_job_title}}</td>
                                        <td>{{exp.em_previous_job_start_year_month}} to {{exp.em_previous_job_end_year_month}}</td>
                                        <td>{{exp.em_previous_job_salary_details}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                            <div class="row m-t-10" ng-show="showMsg">
                                <label class="semi-bold">{{"Experience details are not available"| translate }}</label>
                            </div>
                       
                            <div class="row m-t-10">
                                <div class="col-md-3">
                                    <label>{{"Total Teaching Experience In Years"| translate }}</label><input class="form-control input-sm" type="text" ng-model="total_experience" ng-disabled="true" />
                                </div>
                                <div class="col-md-9">
                                    <label class="semi-bold">{{"Remark/ Additional Achievements/ Awards If any"| translate }}</label>
                                    <textarea class="full-width" ng-model="temp.em_remarks_awards"></textarea>
                                </div>
                            </div>
                    </div>

                        <div class="row" ng-show="updatebtn">
                            <div class="col-md-12">
                                <div class="form-actions">
                                    <div class="pull-right">
                                        <button type="submit" id="updt" class="btn btn-primary btn-cons btn-small" ng-click="UpdateData(Myform.$valid);">{{"Update"| translate }}</button>
                                        <!--<button type="button" id="cancel" class="btn btn-warning btn-cons" ng-click="Cancel();">Reset</button>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                <!--<div class="grid-title no-border m-t-20">
                <h4>Confidential</h4>
                <div class="border-separate m-t-0"></div>
            </div>-->
                            <!--<div class="row">
                <div class="col-md-12" id="Div2">
                     <table class="table table-bordered ">
                        <thead>
                            <tr>
                                <th class="text-center">Strengths</th>
                                <th class="text-center">Development Areas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><div class="content-editable" contenteditable="true"></div></td>
                                <td><div class="content-editable" contenteditable="true"></div></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>-->


    </form>
         </div>

            
        </div>
    </div>
</div>


<script src="assets/js/calender-datepicker-id.js"></script>