﻿<!--<link href="assets/css/multiple-select.css" rel="stylesheet" />
<link href="assets/plugins/Minovate/Main.css" rel="stylesheet" />-->
<style>
    .nav-tabs > li > a
    {
        color: #fff;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Transfer Employee" | translate}}</span></h3>
            </div>

            <div class="grid-body no-border">

                <div class="row form-row">
                    <div class="col-md-3">
                        <label>{{"Company Name"| translate }}</label>
                        <select id="Select12" data-role="dropdownlist" class="form-control input-sm full-width"
                                ng-model="tempD.em_Company_Code" ng-change="getdept(tempD.em_Company_Code);getdesg(tempD.em_Company_Code);getGrade(tempD.em_Company_Code);"
                                ng-options="cmpname.em_Company_Code as cmpname.em_Company_name for cmpname in comp_data"></select>
                    </div>

                    <div class="col-md-3">
                        <label>{{"Department Name"| translate }}</label>
                        <select id="Select5" data-role="dropdownlist"  class="form-control input-sm full-width" ng-model="tempD.em_Dept_code">
                            <option value="" selected disabled>Please Select</option>
                            <option class="form-control input-sm" ng-repeat="temp in dept" value="{{temp.code}}">{{temp.em_dept_name}}</option>
                        </select>
                        <!--<!--<select id="Select13" data-role="dropdownlist" class="form-control input-sm full-width"
                                ng-model="tempD.em_Dept_code" ng-selected=""
                                ng-options="dep.em_Dept_code as dep.em_Dept_name for dep in dept_data"></select>-->
                    </div>

                    <div class="col-md-3">
                        <label>{{"Grade Name"| translate }}</label>
                        <select id="Select4" data-role="dropdownlist"  class="form-control input-sm full-width" ng-model="tempD.em_Grade_code">
                            <option value="" selected disabled>Please Select</option>
                            <option class="form-control input-sm" ng-repeat="temp in GetAllPaysGradeName" value="{{temp.gr_code}}">{{temp.gr_name}}</option>
                        </select>
                        <!--<select id="Select14" data-role="dropdownlist" class="form-control input-sm full-width"
                                ng-model="tempD.em_Grade_code" ng-selected=""
                                ng-options="gr.em_Grade_code as gr.em_Grade_name for gr in grade_data"></select>-->
                    </div>

                    <div class="col-md-3">
                        <label>{{"Designation Name"| translate }}</label>
                        <select id="Select4" data-role="dropdownlist"  class="form-control input-sm full-width" ng-model="tempD.em_Desg_code">
                            <option value="" selected disabled>Please Select</option>
                            <option class="form-control input-sm" ng-repeat="temp in designation" value="{{temp.em_desg_code}}">{{temp.em_desg_desc}}</option>
                        </select>
                        <!--<select id="Select15" data-role="dropdownlist" class="form-control input-sm full-width"
                                ng-model="tempD.em_Desg_code" ng-selected=""
                                ng-options="dg.em_Desg_code as dg.em_Desg_name for dg in desg_data"></select>-->
                    </div>
                </div>

                <div class="row form-row">
                    <div class="col-md-3">
                        <label>{{"Staff Type"| translate }}</label>
                        <select id="Select16" data-role="dropdownlist" class="form-control input-sm full-width"
                                ng-model="tempD.em_Staff_type_code" ng-selected=""
                                ng-options="st.em_Staff_type_code as st.em_Staff_type_name for st in staff_data"></select>
                    </div>

                    <div class="col-md-3" ng-class="{'has-error': !Myform.emerg_cont_name1.$valid && (Myform.emerg_cont_name1.$touched || Myform.$submitted)}">
                        <label>{{"Employee Name"| translate }}</label>
                        <input type="text" class="k-textbox input-sm full-width" id="Text7" ng-model="tempD.em_full_name">
                        <p class="help-block" ng-show="Myform.emerg_cont_name1.$error.pattern && (Myform.emerg_cont_name1.$touched || Myform.$submitted)">
                            Enter only Characters
                        </p>
                    </div>

                    <div class="col-md-3" ng-class="{'has-error': !Myform.emerg_cont_name1.$valid && (Myform.emerg_cont_name1.$touched || Myform.$submitted)}">
                        <label>{{"Employee Login Code"| translate }}</label>
                        <input type="text" class="k-textbox input-sm full-width" id="Text9" ng-model="tempD.em_login_code">
                        <p class="help-block" ng-show="Myform.emerg_cont_name1.$error.pattern && (Myform.emerg_cont_name1.$touched || Myform.$submitted)">
                            Enter only Characters
                        </p>
                    </div>

                    <div class="col-md-3">
                        <label>&nbsp;</label>
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary btn-cons btn-small"
                                    ng-click="getEmployee(tempD.em_Company_Code,tempD.em_Dept_code,tempD.em_Grade_code,tempD.em_Desg_code,tempD.em_Staff_type_code,tempD.em_full_name,tempD.em_login_code)">
                                {{"Show"|translate}}
                            </button>
                            <button type="button" class="btn btn-danger btn-cons btn-small" ng-click="Reset()">{{"Reset"|translate}}</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr style="border-width: 1px; display: block; background-color: #4e8ff6; height: 03px" />
                    </div>
                </div>

                <div class=" ">
                    <!--384256,22262e,#262626-->
                    <ul class="nav nav-tabs" id="tab-01" style="background-color:#0aa699">
                        <li class="active"><a href="#company">{{"Change Company"|translate}}</a></li>
                        <li><a href="#Deptartment">{{"Change Department"|translate}}</a></li>
                        <li><a href="#Grade">{{"Change Grade"|translate}}</a></li>
                        <li><a href="#Designation">{{"Change Designation"|translate}}</a></li>
                        <li><a href="#StaffType">{{"Change Staff Type"|translate}}</a></li>
                    </ul>
                    <div ng-show="busyindicator">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="row form-row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
                                            &nbsp;
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
                                            <div class="row">
                                                <img src="assets/theme/img/loading.gif" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" ng-show="showTable">
                        <div class="tab-pane active" id="company">

                            <div ng-show="busy">
                                <div class="col-md-5">
                                    &nbsp;
                                </div>

                                <div class="col-md-5">
                                    <div class="row">
                                        <img src="assets/images/loading.gif" />
                                    </div>
                                </div>
                            </div>

                            <div id="example_wrapper" class="dataTables_wrapper form-inline">
                                <div class="row">
                                    <div class=" ">
                                        <table class="table table-bordered table-hover table-condensed" id="Table5">
                                            <thead>
                                                <tr>


                                                    <th class="semi-bold">
                                                        <label><b>{{"Employee Name"| translate }}</b></label>
                                                    </th>
                                                    <th class="semi-bold">
                                                        <label><b>{{"Current Company"| translate }}</b></label>
                                                    </th>
                                                    <th class="semi-bold">
                                                        <label><b>{{"New Company"| translate }}</b></label>
                                                    </th>
                                                    <th class="semi-bold">
                                                        <label><b>{{"Effective From"| translate }}</b></label>
                                                    </th>


                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="j in employee_Data | orderBy:orderByField:reverseSort" ng-class="row1">

                                                    <td>
                                                        <label id="lbl">{{j.em_full_name}}</label>
                                                    </td>
                                                    <td>
                                                        <label id="Label5">{{j.em_Company_name}}</label>
                                                    </td>
                                                    <td>                                                       
                                                        <select id="Select12" data-role="dropdownlist" class="form-control input-sm full-width" ng-change="deptChange(j);"
                                                                ng-model="j.em_Company_Code" ng-options="cmpname.em_Company_Code as cmpname.em_Company_name for cmpname in comp_data">
                                                        </select>
                                                    </td>

                                                    <td>
                                                        <input type="text" id="dept_date" name="deptef" class="k-textbox input-sm full-width"
                                                               ng-model="j.em_company_effect_from" placeholder="DD-MM-YYYY"
                                                               ng-change="DeptEfChange(j)" />
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" ">
                                    <div class="pull-right" style="padding-top: 25px">
                                        <button type="submit" class="btn btn-primary btn-cons btn-small" ng-click="EmpTransUpdate()">{{"Update"|translate}}</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane" id="Deptartment">

                            <div ng-show="busy">
                                <div class="col-md-5">
                                    &nbsp;
                                </div>

                                <div class="col-md-5">
                                    <div class="row">
                                        <img src="assets/images/loading.gif" />
                                    </div>
                                </div>
                            </div>

                            <div id="example_wrapper" class="dataTables_wrapper form-inline">
                                <div class="row">
                                    <div class=" ">
                                        <table class="table table-bordered table-hover table-condensed" id="fixTable">
                                            <thead>
                                                <tr>


                                                    <th class="semi-bold">
                                                        <label><b>{{"Employee Name"| translate }}</b></label>
                                                    </th>
                                                    <th class="semi-bold">
                                                        <label><b>{{"Current Department"| translate }}</b></label>
                                                    </th>
                                                    <th class="semi-bold">
                                                        <label><b>{{"New Department"| translate }}</b></label>
                                                    </th>
                                                    <th class="semi-bold">
                                                        <label><b>{{"Effective From"| translate }}</b></label>
                                                    </th>


                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="j in employee_Data | orderBy:orderByField:reverseSort" ng-class="row1">

                                                    <td>
                                                        <label id="lbl">{{j.em_full_name}}</label>
                                                    </td>
                                                    <td>
                                                        <label id="Label5">{{j.em_Dept_name}}</label>
                                                    </td>
                                                    <td>                                                        
                                                        <select id="Select5" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="j.em_Dept_code" ng-change="deptChange(j);">
                                                            <option value="" selected disabled>Please Select</option>
                                                            <option class="form-control input-sm" ng-repeat="temp in dept" value="{{temp.code}}">{{temp.em_dept_name}}</option>
                                                        </select>
                                                    </td>

                                                    <td>
                                                        <input type="text" width="5px" id="dept_date" name="deptef" class="k-textbox input-sm full-width"
                                                               ng-model="j.em_dept_effect_from" placeholder="DD-MM-YYYY"
                                                               ng-change="DeptEfChange(j)" />
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" ">
                                    <div class="pull-right" style="padding-top: 25px">
                                        <button type="submit" class="btn btn-primary btn-cons btn-small" ng-click="EmpTransUpdate()">{{"Update"|translate}}</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane" id="Grade">

                            <div ng-show="busy">
                                <div class="col-md-5">
                                    &nbsp;
                                </div>

                                <div class="col-md-5">
                                    <div class="row">
                                        <img src="assets/images/loading.gif" />
                                    </div>
                                </div>
                            </div>

                            <div id="Div1" class="dataTables_wrapper form-inline">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-bordered table-hover table-condensed" id="Table1">
                                            <thead>
                                                <tr>

                                                    <th class="semi-bold">
                                                        <label><b>{{"Employee Name"| translate }}</b></label>
                                                    </th>
                                                    <th class="semi-bold">
                                                        <label><b>{{"Current Grade"| translate }}</b></label>
                                                    </th>
                                                    <th class="semi-bold">
                                                        <label><b>{{"New Grade"| translate }}</b></label>
                                                    </th>
                                                    <th class="semi-bold">
                                                        <label><b>{{"Effective From"| translate }}</b></label>
                                                    </th>


                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="j in employee_Data | orderBy:orderByField:reverseSort" ng-class="row1">

                                                    <td>
                                                        <label id="Label2">{{j.em_full_name}}</label>
                                                    </td>
                                                    <td>
                                                        <label id="Label4">{{j.em_Grade_name}}</label>
                                                    </td>
                                                    <td>                                                        
                                                        <select id="Select4" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="j.em_Grade_code" ng-change="deptChange(j)">
                                                            <option value="" selected disabled>Please Select</option>
                                                            <option class="form-control input-sm" ng-repeat="temp in GetAllPaysGradeName" value="{{temp.gr_code}}">{{temp.gr_name}}</option>
                                                        </select>
                                                    </td>

                                                    <td>
                                                        <input type="text" width="5px" id="Text1" name="deptef" class="k-textbox input-sm full-width"
                                                               ng-model="j.em_grade_effect_from" placeholder="YYYY-MM-DD"
                                                               ng-change="DeptEfChange(j)" />
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="pull-right">
                                        <button type="submit" class="btn btn-primary btn-cons btn-small" ng-click="EmpTransUpdate()">{{"Update"|translate}}</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane" id="Designation">

                            <div ng-show="busy">
                                <div class="col-md-5">
                                    &nbsp;
                                </div>

                                <div class="col-md-5">
                                    <div class="row">
                                        <img src="assets/images/loading.gif" />
                                    </div>
                                </div>
                            </div>

                            <div id="Div2" class="dataTables_wrapper form-inline">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-bordered table-hover table-condensed" id="Table2">
                                            <thead>
                                                <tr>


                                                    <th class="semi-bold">
                                                        <label><b>{{"Employee Name"| translate }}</b></label>
                                                    </th>
                                                    <th class="semi-bold">
                                                        <label><b>{{"Current Designation"| translate }}</b></label>
                                                    </th>
                                                    <th class="semi-bold">
                                                        <label><b>{{"New Designation"| translate }}</b></label>
                                                    </th>
                                                    <th class="semi-bold">
                                                        <label><b>{{"Effective From"| translate }}</b></label>
                                                    </th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="j in employee_Data | orderBy:orderByField:reverseSort" ng-class="row1">

                                                    <td>
                                                        <label id="Label8">{{j.em_full_name}}</label>
                                                    </td>
                                                    <td>
                                                        <label id="Label9">{{j.em_Desg_name}}</label>
                                                    </td>
                                                    <td>                                                        
                                                        <select id="Select4" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="j.em_Desg_code" ng-change="deptChange(j)">
                                                            <option value="" selected disabled>Please Select</option>
                                                            <option class="form-control input-sm" ng-repeat="temp in designation" value="{{temp.em_desg_code}}">{{temp.em_desg_desc}}</option>
                                                        </select>
                                                    </td>

                                                    <td>
                                                        <input type="text" width="5px" id="Text2" name="desgef" class="k-textbox input-sm full-width"
                                                               ng-model="j.em_desg_effect_from" placeholder="DD-MM-YYYY"
                                                               ng-change="DeptEfChange(j)" />
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="pull-right">
                                        <button type="submit" class="btn btn-primary btn-cons btn-small" ng-click="EmpTransUpdate()">{{"Update"|translate}}</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane" id="StaffType">

                            <div ng-show="busy">
                                <div class="col-md-5">
                                    &nbsp;
                                </div>

                                <div class="col-md-5">
                                    <div class="row">
                                        <img src="assets/images/loading.gif" />
                                    </div>
                                </div>
                            </div>


                            <div id="Div3" class="dataTables_wrapper form-inline">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-bordered table-hover table-condensed" id="Table3">
                                            <thead>
                                                <tr>


                                                    <th class="semi-bold">
                                                        <label><b>{{"Employee Name"| translate }}</b></label>
                                                    </th>
                                                    <th class="semi-bold">
                                                        <label><b>{{"Current Staff Type"| translate }}</b></label>
                                                    </th>
                                                    <th class="semi-bold">
                                                        <label><b>{{"New Staff Type"| translate }}</b></label>
                                                    </th>
                                                    <th class="semi-bold">
                                                        <label><b>{{"Effective From"| translate }}</b></label>
                                                    </th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="j in employee_Data | orderBy:orderByField:reverseSort" ng-class="row1">

                                                    <td>
                                                        <label id="Label12">{{j.em_full_name}}</label>
                                                    </td>
                                                    <td>
                                                        <label id="Label13">{{j.em_Staff_type_name}}</label>
                                                    </td>
                                                    <td>
                                                        <select id="Select4" data-role="dropdownlist" class="form-control input-sm full-width"
                                                                ng-model="j.em_Staff_type_code" ng-selected="" ng-change="deptChange(j)"
                                                                ng-options="st.em_Staff_type_code as st.em_Staff_type_name for st in staff_data"></select>
                                                    </td>

                                                    <td>
                                                        <input type="text" width="5px" id="Text3" name="staffef" class="k-textbox input-sm full-width"
                                                               ng-model="j.em_staff_type_effect_from" placeholder="DD-MM-YYYY"
                                                               ng-change="DeptEfChange(j)" />
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="pull-right" style="padding-top: 25px">
                                        <button type="submit" class="btn btn-primary btn-cons btn-small" ng-click="EmpTransUpdate()">{{"Update"|translate}}</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="assets/js/calender-datepicker-id.js"></script>
<!--<script src="assets/js/multiple-select.js"></script>
<script src="assets/js/tableHeadFixer.js"></script>-->
<script src="assets/js/tabs_accordian.js"></script>
