﻿<!--<link href="assets/css/multiple-select.css" rel="stylesheet" />-->
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Update"| translate}}</span>&nbsp;{{"Employee Destination" | translate }}</h3>
            </div>
            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="grid-body no-border paddingcode"style="background-color:transparent;">
                <div class="row bluegrid">
                    <div class="col-md-2">
                        <label><i class="fa fa-pencil-square-o"></i>&nbsp;{{"Department"| translate }}</label>
                        <select id="Select1" class="form-control input-sm full-width" ng-model="edt.dept_code"
                                ng-options="c.dept_code as c.dept_name for c in Department">
                            <option value="" selected disabled>Please Select</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label><i class="fa fa-graduation-cap"></i>&nbsp;{{"Designation"| translate }}</label>
                        <select id="Select2" class="form-control input-sm full-width" ng-model="edt.desg_code"
                                ng-options="c.desg_code as c.desg_name for c in Designation">
                            <option value="" selected disabled>Please Select</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label><i class="fa fa-sitemap"></i>&nbsp;{{"Grade"| translate }}</label>
                        <select id="Select3" class="form-control input-sm full-width" ng-model="edt.grade_code"
                                ng-options="c.grade_code as c.grade_name for c in Grade">
                            <option value="" selected disabled>Please Select</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Employee ID"| translate }}</label>
                        <input type="text" name="EmpId" id="Emp_Id" class="k-textbox input-sm full-width" ng-model="edt.emp_id" maxlength="10" />
                    </div>

                    <div class="col-md-2">
                       <label>.</label>
                       <button type="button" class="btn btn-primary btn-cons btn-small" ng-click="Show_data()">{{"Show"|translate}}</button>
                       <button type="button" class="btn btn-warning btn-cons" ng-click="reset_form()">{{"Reset"|translate}}</button>
                    </div>
                </div>

            <div class="col-md-12">
                <div ng-show="rgvtbl" class="form-actions">
                   <div class="col-md-12">
                       <div class="col-md-9">&nbsp;</div>
                           <div class="col-md-1">
                               <label style="margin-top:7px"><i class="fa fa-align-justify"></i>&nbsp;{{"Destination"| translate }}</label>
                           </div>

                           <div class="col-md-1">
                               <select id="Select6" class="form-control input-sm full-width" ng-model="edt.dest_code"
                                       ng-options="c.dest_code as c.dest_name for c in Destination">
                                   <!-- <option value="" selected disabled>Please Select</option>-->
                               </select>
                           </div>

                           <div class="col-md-1">
                               <button type="button" class="btn btn-primary btn-cons btn-small" ng-click="UpdateDest1()" ng-show="rgvtbl">{{"Update"|translate}}</button>
                           </div>
                       </div>
               </div>
            </div>

               


                <div ng-show="busy">
                    <div class="col-md-5">
                        &nbsp;
                    </div>

                    <div class="col-md-5">
                        <div class="row">
                            <img src="assets/images/loading.gif" />
                        </div>
                    </div>
                </div>
                <div ng-show="rgvtbl">

                    <div class="dataTables_wrapper form-inline" id="Div3">
                        <div class="row">
                            <div class="col-md-12"style="background-color:white;">
                                <table class="table  table-hover  table-condensed" id="Table2" aria-describedby="example2_info">
                                    <thead>
                                        <tr style="background-color: #edefef">
                                            <th class="small-cell v-align-middle" style="z-index: 1">
                                                <div class="checkbox check-success">
                                                    <input id="mainchk" type="checkbox" value="1" ng-click="check()">
                                                    <label for="mainchk"></label>
                                                </div>
                                            </th>
                                            <th class="semi-bold" style="text-align: left"><b><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Employee Id"| translate }}</b></th>
                                            <th class="semi-bold" style="text-align: left"><b><i class="fa fa-user"></i>&nbsp;{{"Employee Name"| translate }}</b></th>
                                            <th class="semi-bold" style="text-align: left"><b><i class="fa fa-align-justify"></i>&nbsp;{{"Destination"| translate }}</b></th>
                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="no in EmployeeDest |orderBy:orderByField:reverseSort" class="{{row2}}" ng-class="{odd:$odd}">
                                            <td>
                                                <div class="row-fluid">
                                                    <div class="checkbox check-success" style="height: 20px">
                                                        <input id="{{no.emp_id}}" type="checkbox" value="1" ng-click="CheckAny(no.emp_id)">
                                                        <label for="{{no.emp_id}}"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{no.emp_id}}</td>
                                            <td>{{no.emp_name}}</td>
                                            <td>{{no.dest_name}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!--<div ng-show="rgvtbl">
                    <div class="row">
                        <div class="pull-right">

                            <div class="col-md-6">
                                <div class="col-md-12">
                                    <label style="margin-top:20px">{{"Destination"| translate }}</label>
                                </div>
                                <div>
                                    <select id="Select4" class="form-control input-sm full-width" ng-model="edt.dest_code"
                                            ng-options="c.dest_code as c.dest_name for c in Destination">
                                        <option value="" selected disabled>Please Select</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div>
                                    <button type="button" class="btn btn-primary btn-cons btn-small" ng-click="UpdateDest1()" ng-show="rgvtbl">{{"Update"|translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->

            </div>
        </div>
    </div>
</div>
<!--<script src="assets/js/multiple-select.js"></script>-->
<script src="assets/js/tableHeadFixer.js"></script>
