﻿<!--<link href="assets/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />-->

<div class="loading-middle" ng-hide="table">
    {{ "Loading..." | translate }}
</div>

<style>
    ul.dropdown-menu li {
        cursor: pointer;
    }

        ul.dropdown-menu li span.red {
            color: red;
        }

        ul.dropdown-menu li span.green {
            color: green;
        }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Update Employee" | translate}}</span></h3>
            </div>
            <div class="grid-title no-border">
            </div>


            <div class="grid-body no-border">
                <form name="Myform" ng-submit="SaveData1(Myform.$valid)" novalidate="novalidate">

                    <div class="row">
                        <div class="col-md-9">
                            <div class="row form-row">
                                <div class="col-md-12">
                                    <div class="row form-row">
                                        <div class="col-md-4">
                                            <label style="font-size: small; color: black">{{"Salutation"| translate }}</label>

                                            <select name="cmb_acdm_yr" id="select21"  data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.em_Salutation_Code">
                                                <option value="" >Please select</option>
                                                <option ng-repeat="sal in obj" value="{{sal.em_Salutation_Code}}" class=" form-control input-sm" ng-if="sal.em_Salutation_name.length">{{sal.em_Salutation_name}}
                                                </option>
                                            </select>

                                        </div>

                                        <div class="col-md-4" ng-class="{'has-error': !Myform.firstnm.$valid && (Myform.firstnm.$touched || Myform.$submitted) }">
                                            <label style="font-size: small; color: black">{{"First Name"| translate }} <span style="color: red;">*</span> </label>
                                            <input type="text" class="k-textbox input-sm full-width" id="Text2" name="firstnm" pattern="[A-Za-z\s]+" ng-model="temp.em_first_name" required>
                                            <p class="help-block" ng-show="Myform.firstnm.$error.required &&(Myform.firstnm.$touched || Myform.$submitted)">
                                                This field is required
                                            </p>
                                            <p class="help-block" ng-show="Myform.firstnm.$error.pattern && (Myform.firstnm.$touched || Myform.$submitted)">
                                                Enter only Characters
                                            </p>
                                        </div>

                                        <div class="col-md-4">
                                            <label style="font-size: small; color: black">{{"Middle Name"| translate }}</label>
                                            <input type="text" class="k-textbox input-sm full-width" id="Text7" pattern="[A-Za-z\s]+" name="midnm" ng-model="temp.em_middle_name">
                                            <p class="help-block" ng-show="Myform.midnm.$error.pattern && (Myform.midnm.$touched || Myform.$submitted)">
                                                Enter only Characters
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row form-row">
                                        <div class="col-md-4" ng-class="{'has-error': !Myform.lastnm.$valid && (Myform.lastnm.$touched || Myform.$submitted) }">
                                            <label style="font-size: small; color: black">{{"Last Name"| translate }}</label>

                                            <input type="text" class="k-textbox input-sm full-width" id="Text8" name="lastnm" pattern="[A-Za-z\s]+" ng-model="temp.em_last_name">
                                            <p class="help-block" ng-show="Myform.lastnm.$error.pattern && (Myform.lastnm.$touched || Myform.$submitted)">
                                                Enter only Characters
                                            </p>
                                        </div>

                                        <div class="col-md-4" ng-class="{'has-error': !Myform.name_in_ot.$valid && (Myform.name_in_ot.$touched || Myform.$submitted) }">
                                            <label style="font-size: small; color: black">{{"Name In Other"| translate }} </label>
                                            <input type="text" class="k-textbox input-sm full-width" id="Text12" name="name_in_ot" pattern="[A-Za-z\s]+" ng-model="temp.em_name_ot">
                                            <!--<p class="help-block" ng-show="Myform.name_in_ot.$error.required &&(Myform.name_in_ot.$touched || Myform.$submitted)">
                                                This field is required
                                            </p>-->
                                            <p class="help-block" ng-show="Myform.name_in_ot.$error.pattern && (Myform.name_in_ot.$touched || Myform.$submitted)">
                                                Enter only Characters
                                            </p>
                                        </div>

                                        <div class="col-md-4" ng-class="{'has-error': !Myform.dob.$valid && (Myform.dob.$touched || Myform.$submitted)}">
                                            <label style="font-size:small;color:black">{{"Date of Birth"| translate }}</label>
                                            <input type="text" id="dob" name="dob" class="k-textbox input-sm full-width" ng-change="setStart(date)" ng-model="temp.em_date_of_birth" required />
                                            <br />
                                            <p class="help-block" ng-show="Myform.dob.$error.required &&(Myform.dob.$touched || Myform.$submitted)">
                                                &nbsp&nbsp  &nbsp&nbsp  &nbsp&nbsp  &nbsp&nbsp  &nbsp&nbsp  This field is required
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <br />
                        <div class="col-md-3">
                            <div class="row form-row">
                                <div class="col-md-12">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-8">
                                        <label style="font-size: small; color: black">{{"Image Upload"| translate }}</label>
                                        <img id="empimg" alt="" style="width: 70px; height: 85px" />
                                        <input type="file" id="file1" name="file" onchange="angular.element(this).scope().file_changed(this)"
                                            ng-files="getTheFiles($files)" accept="image/*" style="float: initial; width: 120px;" ng-hide="true" />
                                        <div style="margin-top: 5px;">
                                            <a href="" class="label label-important " type="button" ng-click="image_click()" onclick="document.getElementById('file1').click();">
                                                <i class="fa fa-cloud-upload"></i>Upload
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">



                                <div class="col-md-3" ng-class="{'has-error': !Myform.cmbcomp.$valid && (Myform.cmbcomp.$touched || Myform.$submitted) }">
                                    <label style="font-size: small; color: black">{{"Company Name"| translate }}</label>
                                    <select id="Select1" data-role="dropdownlist" class="form-control input-sm full-width"
                                        ng-model="temp.em_Company_Code" ng-disabled="CompReadonly" name="cmbcomp"
                                        ng-options="cmpname.em_Company_Code as cmpname.em_Company_name for cmpname in company_data">
                                    </select>

                                    <!--<p style="color: red" class="help-block" ng-show="Myform.cmbcomp.$error.required &&(Myform.cmbcomp.$touched || Myform.$submitted)">
                                                This field is required
                                            </p>-->
                                </div>


                                <div class="col-md-3" ng-class="{'has-error': !Myform.doj.$valid && (Myform.doj.$touched || Myform.$submitted) }">
                                    <label style="font-size:small;color:black">{{"Date of Join"| translate }}</label>
                                    <input type="text" id="DOJ" name="doj" class="k-textbox input-sm full-width" ng-disabled="DOJReadonly" ng-model="temp.em_date_of_join" ng-change="checkDOJ();" />
                                    <!--<label style="font-size: small; color: black">{{"Date of Join"| translate }}</label>
                                    <div class="input-append success date col-md-3 col-lg-9 no-padding" data-datepicker="true">
                                        <input type="text" id="dt_driver_visa_issue_date" name="doj" class="form-control" ng-disabled="DOJReadonly" ng-model="temp.em_date_of_join" ng-change="checkDOJ();" />
                                        <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                    </div>
                                    <br />-->
                                    <p class="help-block" ng-show="Myform.doj.$error.required &&(Myform.doj.$touched || Myform.$submitted)">
                                        &nbsp&nbsp  &nbsp&nbsp  &nbsp&nbsp  &nbsp&nbsp  &nbsp&nbsp  This field is required
                                    </p>
                                </div>



                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Destination"| translate }}</label>
                                    <select id="Select6" data-role="dropdownlist" class="form-control input-sm full-width"
                                        ng-model="temp.em_Dest_Code" ng-disabled="DestReadonly"
                                        ng-options="desti.em_Dest_Code as desti.em_Dest_name for desti in dest_data">
                                    </select>
                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !Myform.designat.$valid && (Myform.designat.$touched || Myform.$submitted)}">
                                    <label style="font-size: small; color: black">{{"Designation"| translate }}</label>
                                    <select data-role="dropdownlist" class="form-control input-sm full-width" name="designat" id="Select20" ng-model="temp.em_Designation_Code" ng-disabled="DesgReadonly">
                                        <!--<option value="" >Please select</option>-->
                                        <option ng-repeat="desig in obj" value="{{desig.em_Designation_Code}}" class="form-control input-sm" ng-if="desig.em_Designation_Code.length">{{desig.em_Designation_name}}
                                        </option>
                                    </select>
                                    <!--<p class="help-block" ng-show="Myform.designat.$error.required &&(Myform.designat.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>-->
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">

                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Staff Type"| translate }}</label>

                                    <select data-role="dropdownlist" class="form-control input-sm full-width" id="Select24"  ng-model="temp.em_Staff_Type_Code" ng-disabled="StaffTypeReadonly">
                                        <option value="" >Please select</option>
                                        <option ng-repeat="staff in obj" value="{{staff.em_Staff_Type_Code}}" class="form-control input-sm" ng-if="staff.em_Staff_Type_Code.length">{{staff.em_Staff_Type_name}}
                                        </option>
                                    </select>

                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !Myform.deptname.$valid && (Myform.deptname.$touched || Myform.$submitted) }">
                                    <label style="font-size: small; color: black">{{"Department Name"| translate }}</label>

                                    <select data-role="dropdownlist" class="form-control input-sm full-width" name="deptname" id="Select25"  ng-model="temp.em_Dept_Code" ng-disabled="DeptReadonly">
                                        <option value="" >Please select</option>
                                        <option ng-repeat="dept in obj" value="{{dept.em_Dept_Code}}" class="form-control input-sm" ng-if="dept.em_Dept_Code.length">{{dept.em_Dept_name}}
                                        </option>
                                    </select>
                                    <!--<p class="help-block" ng-show="Myform.deptname.$error.required &&(Myform.deptname.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>-->
                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !Myform.deptef.$valid && (Myform.deptef.$touched || Myform.$submitted) }">
                                    <label style="font-size:small;color:black">{{"Department Effect From"| translate }}</label>
                                    <input type="text" id="department_effect_from_date" name="deptef" class="k-textbox input-sm full-width" ng-disabled="DeptEFReadonly" ng-model="temp.em_dept_effect_from" />
                                    <!--<p class="help-block" ng-show="Myform.deptef.$error.required &&(Myform.deptef.$touched || Myform.$submitted)">
                                        &nbsp&nbsp  &nbsp&nbsp  &nbsp&nbsp  &nbsp&nbsp  &nbsp&nbsp  This field is required
                                    </p>-->
                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !Myform.graname.$valid && (Myform.graname.$touched || Myform.$submitted)}">

                                    <label style="font-size: small; color: black">{{"Grade Name"| translate }}</label>
                                    <select data-role="dropdownlist" class="form-control input-sm full-width" name="graname" id="Select26"  ng-model="temp.em_Grade_Code" ng-disabled="GradeReadonly">
                                        <option value="" >Please select</option>
                                        <option ng-repeat="grade in obj" value="{{grade.em_Grade_Code}}" class=" form-control input-sm" ng-if="grade.em_Grade_Code.length">{{grade.em_Grade_name}}
                                        </option>
                                    </select>

                                    <!--<p class="help-block" ng-show="Myform.graname.$error.required &&(Myform.graname.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>-->
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-3" ng-class="{'has-error': !Myform.gradef.$valid && (Myform.gradef.$touched || Myform.$submitted) }">
                                    <label style="font-size: small; color: black">{{"Grade Effect From"| translate }}</label>
                                    <label style="font-size:small;color:black">{{"Grade Effect From"| translate }}</label>
                                    <input type="text" id="grade_effect_date" name="gradef" class="k-textbox input-sm full-width" ng-model="temp.em_grade_effect_from" ng-disabled="GradeEFReadonly" />                                    
                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !Myform.gen.$valid && (Myform.gen.$touched || Myform.$submitted) }">

                                    <label style="font-size: small; color: black">{{"Gender"| translate }}</label>
                                    <select name="gen" id="Select2" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.em_Sex_Code" ng-change="someMethod()">
                                        <option value="" >Please select</option>
                                        <option ng-repeat="gender in obj" value="{{gender.em_Sex_Code}}" class="form-control input-sm" ng-if="gender.em_Sex_Code.length">{{gender.em_Sex_name}}
                                        </option>
                                    </select>
                                    <!--<p class="help-block" ng-show="Myform.gen.$error.required &&(Myform.gen.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>-->
                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !Myform.maristat1.$valid && (Myform.maristat1.$touched || Myform.$submitted) }">
                                    <label style="font-size: small; color: black">{{"Marital Status"| translate }}</label>
                                    <select name="maristat1" id="Select3" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.em_Marital_Status_Code" ng-change="someMethod()">
                                        <option value="" >Please select</option>
                                        <option ng-repeat="marstat in obj" value="{{marstat.em_Marital_Status_Code}}" class=" form-control input-sm" ng-if="marstat.em_Marital_Status_name.length">{{marstat.em_Marital_Status_name}}
                                        </option>
                                    </select>

                                    <!--<p class="help-block" ng-show="Myform.maristat1.$error.required &&(Myform.maristat1.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>-->
                                </div>

                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Blood Group"| translate }}</label>
                                    <select id="Select4" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.em_blood_group_code">
                                        <option value="" >Please select</option>
                                        <option ng-repeat="blood in obj" value="{{blood.em_blood_group_code}}" class=" form-control input-sm" ng-if="blood.em_blood_group_code.length">{{blood.em_blood_group_name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">

                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Country"| translate }}</label>

                                    <select id="Select27" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.em_Country_Code">
                                        <option value="" >Please select</option>
                                        <option ng-repeat="country in obj" value="{{country.em_Country_Code}}" class="form-control input-sm" ng-if="country.em_Country_Code.length">{{country.em_Country_name}}
                                        </option>
                                    </select>

                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !Myform.nation.$valid && (Myform.nation.$touched || Myform.$submitted)}">
                                    <label style="font-size: small; color: black">{{"Nationality"| translate }}</label>

                                    <select id="Select28" name="nation" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.em_Nation_Code" ng-change="someMethod()">
                                        <option value="" >Please select</option>
                                        <option ng-repeat="nationality in obj" value="{{nationality.em_Nation_Code}}" class=" form-control input-sm" ng-if="nationality.em_Nation_Code.length">{{nationality.em_Nation_name}}
                                        </option>
                                    </select>

                                    <!--<p class="help-block" ng-show="Myform.nation.$error.required &&(Myform.nation.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>-->
                                </div>

                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Religion"| translate }}</label>

                                    <select id="Select29" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.em_Religion_Code">
                                        <option value="">Please select</option>
                                        <option ng-repeat="rel in obj" value="{{rel.em_Religion_Code}}" class=" form-control input-sm" ng-if="rel.em_Religion_name.length">{{rel.em_Religion_name}}
                                        </option>
                                    </select>
                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !Myform.email.$valid && (Myform.email.$touched || Myform.$submitted) }">
                                    <label style="font-size: small; color: black">{{"Official Email ID"| translate }} <span style="color: red;">*</span></label>
                                    <input type="text" class="k-textbox input-sm full-width" id="Text17" ng-maxlength="50" name="email" ng-model="temp.em_email" required>

                                    <p class="help-block" ng-show="Myform.email.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                        Email Should be Max 50.
                                    </p>
                                    <p class="help-block" ng-show="Myform.email.$error.required &&(Myform.email.$touched || Myform.$submitted)">
                                        This field is required.
                                    </p>

                                </div>


                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">

                                <div class="col-md-3" ng-class="{'has-error': !Myform.txt_perEmail.$valid && (Myform.txt_perEmail.$touched || Myform.$submitted) }">
                                    <label style="font-size: small; color: black">{{"Personal Email ID"| translate }} <span style="color: red;">*</span></label>
                                    <input type="text" class="k-textbox input-sm full-width" id="txt_perEmail" ng-maxlength="50" name="txt_perEmail" ng-model="temp.em_personalemail" required>

                                    <p class="help-block" ng-show="Myform.txt_perEmail.$error.required &&(Myform.txt_perEmail.$touched || Myform.$submitted)">
                                        This field is required.
                                    </p>
                                    <p class="help-block" ng-show="Myform.txt_perEmail.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                        Personal Email Should be Max 50.
                                    </p>

                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !Myform.phone_number.$valid && (Myform.phone_number.$touched || Myform.$submitted) }">
                                    <label style="font-size: small; color: black">{{"Home Country No"| translate }} <span style="color: red;">*</span></label>
                                    <input type="text" class="k-textbox input-sm full-width" id="Text18" ng-maxlength="15" ng-pattern="/^\+?\d+$/" name="phone_number" ng-model="temp.em_phone" required>
                                    <p class="help-block" ng-show="Myform.phone_number.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                        Home Country No. Should be Max 15
                                    </p>
                                    <p class="help-block" ng-show="Myform.phone_number.$error.pattern && (!Myform.$pristine && Myform.$submitted)">
                                        Enter only Digit
                                    </p>
                                    <p class="help-block" ng-show="Myform.phone_number.$error.required &&(Myform.phone_number.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>
                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !Myform.mobnum.$valid && (Myform.mobnum.$touched || Myform.$submitted)}">
                                    <label style="font-size: small; color: black">{{"Mobile Number"| translate }}</label>
                                    <input type="text" class="k-textbox input-sm full-width" id="mob" ng-maxlength="14" ng-pattern="/^\+?\d+$/" name="mobnum" ng-model="temp.em_mobile">
                                    <p class="help-block" ng-show="Myform.mobnum.$error.pattern && (Myform.mobnum.$touched || Myform.$submitted)">
                                        Enter Only Digits
                                    </p>
                                    <p class="help-block" ng-show="Myform.mobnum.$error.maxlength && (Myform.mobnum.$touched || Myform.$submitted)">
                                        Mobile Number can not be longer than 13 digits
                                    </p>
                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !Myform.emerg_cont_name1.$valid && (Myform.emerg_cont_name1.$touched || Myform.$submitted)}">
                                    <label style="font-size: small; color: black">{{"Emergency Contact Name1"| translate }}</label>
                                    <input type="text" class="k-textbox input-sm full-width" id="txt_mobile_number3" pattern="[A-Za-z\s]+" name="emerg_cont_name1" ng-model="temp.em_emergency_contact_name1">
                                    <p class="help-block" ng-show="Myform.emerg_cont_name1.$error.pattern && (Myform.emerg_cont_name1.$touched || Myform.$submitted)">
                                        Enter only Characters
                                    </p>
                                </div>




                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">

                                <div class="col-md-3" ng-class="{'has-error': !Myform.emerg_cont_num1.$valid && (Myform.emerg_cont_num1.$touched || Myform.$submitted)}">
                                    <label style="font-size: small; color: black">{{"Emergency Contact Number1"| translate }}</label>
                                    <input type="text" class="k-textbox input-sm full-width" id="txt_driver_address" ng-maxlength="14" ng-pattern="/^\+?\d+$/" name="emerg_cont_num1" ng-model="temp.em_emergency_contact_number1">
                                    <p class="help-block" ng-show="Myform.emerg_cont_num1.$error.pattern && (Myform.emerg_cont_num1.$touched || Myform.$submitted)">
                                        Enter Only Digits
                                    </p>
                                    <p class="help-block" ng-show="Myform.emerg_cont_num1.$error.maxlength && (Myform.emerg_cont_num1.$touched || Myform.$submitted)">
                                        Mobile Number can not be longer than 13 digits
                                    </p>
                                </div>

                                <div class="col-md-3">
                                    <label style="font-size: small; color: black">{{"Summary Address"| translate }}</label>
                                    <input type="text" class="k-textbox input-sm full-width" id="Text10" name="txt_driver_visa_issuing_place" ng-model="temp.em_summary_address">
                                </div>



                                <!-- Manadatory for ASD-->
                                <div class="col-md-3" ng-class="{'has-error': !Myform.passport_no.$valid && (Myform.passport_no.$touched || Myform.$submitted) }">
                                    <label style="font-size: small; color: black">{{"Passport Number"| translate }} <span style="color: red;">*</span></label>
                                    <input type="text" class="k-textbox input-sm full-width" id="Text11" name="passport_no" ng-model="temp.em_passport_no" required>
                                    <p class="help-block" ng-show="Myform.passport_no.$error.required &&(Myform.passport_no.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>
                                </div>


                                <!-- Manadatory for ASD-->
                                <div class="col-md-3" ng-class="{'has-error': !Myform.pass_issue_date.$valid && (Myform.pass_issue_date.$touched || Myform.$submitted) }">
                                    <label style="font-size:small;color:black">{{"Passport Issue Date"| translate }} <span style="color:red;">*</span></label>
                                    <input type="text" id="passport_issue_date1" name="pass_issue_date" class="k-textbox input-sm full-width" ng-model="temp.em_passport_issue_date" required>
                                    <p style="margin-top: 52px;" class="help-block" ng-show="Myform.pass_issue_date.$error.required &&(Myform.pass_issue_date.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">
                                <!-- Manadatory for ASD-->
                                <div class="col-md-3" ng-class="{'has-error': !Myform.pass_exp_date.$valid && (Myform.pass_exp_date.$touched || Myform.$submitted) }">
                                    <label style="font-size:small;color:black">{{"Expiry Date"| translate }}</label>
                                    <input type="text" id="passport_expiry_date" name="date" class="k-textbox input-sm full-width" ng-change="checkPassport();" ng-model="temp.em_passport_exp_date">
                                    <p style="margin-top: 52px;" class="help-block" ng-show="Myform.pass_exp_date.$error.required &&(Myform.pass_exp_date.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>
                                </div>


                                <!-- Manadatory for ASD-->
                                <div class="col-md-3" ng-class="{'has-error': !Myform.visa_no.$valid && (Myform.visa_no.$touched || Myform.$submitted)}">
                                    <label style="font-size: small; color: black">{{"Visa Number"| translate }} <span style="color: red;">*</span></label>
                                    <input type="text" class="k-textbox input-sm full-width" id="Text44" name="visa_no" ng-model="temp.em_visa_no" required>
                                    <p class="help-block" ng-show="Myform.visa_no.$error.required &&(Myform.visa_no.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>
                                </div>

                                <!-- Manadatory for ASD-->
                                <div class="col-md-3" ng-class="{'has-error': !Myform.visa_issue_date.$valid && (Myform.visa_issue_date.$touched || Myform.$submitted)}">
                                    <label style="font-size:small;color:black">{{"Visa Issue Date"| translate }} <span style="color:red;">*</span></label>
                                    <input type="text" id="visa_issue_date1" name="visa_issue_date" class="k-textbox input-sm full-width" ng-model="temp.em_visa_issue_date" required>
                                    <p style="margin-top: 52px;" class="help-block" ng-show="Myform.visa_issue_date.$error.required &&(Myform.visa_issue_date.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>
                                </div>

                                <!-- Manadatory for ASD-->
                                <div class="col-md-3" ng-class="{'has-error': !Myform.visa_expiry_date.$valid && (Myform.visa_expiry_date.$touched || Myform.$submitted)}">
                                    <label style="font-size:small;color:black">{{"Expiry Date"| translate }}</label>
                                    <input type="text" id="expiry_date2" name="date" class="k-textbox input-sm full-width" ng-change="checkVisa();" ng-model="temp.em_visa_exp_date">
                                    <p style="margin-top: 52px;" class="help-block" ng-show="Myform.visa_expiry_date.$error.required &&(Myform.visa_expiry_date.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">

                                <!-- Manadatory for ASD-->
                                <div class="col-md-3" ng-class="{'has-error': !Myform.emirates_id.$valid && (Myform.emirates_id.$touched || Myform.$submitted)}">
                                    <label ng-show="qatar" style="font-size: small; color: black">{{"Qatar ID"| translate }}</label>
                                    <label ng-show="uae" style="font-size: small; color: black">{{"Emirates ID"| translate }} <span style="color: red;">*</span></label>
                                    <input type="text" class="k-textbox input-sm full-width" id="Text6" name="emirates_id" ng-model="temp.em_national_id" required>
                                    <p class="help-block" ng-show="Myform.emirates_id.$error.required &&(Myform.emirates_id.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>
                                </div>

                                <!-- Manadatory for ASD-->
                                <div class="col-md-3" ng-class="{'has-error': !Myform.id_issue_date.$valid && (Myform.id_issue_date.$touched || Myform.$submitted)}">
                                    <label style="font-size:small;color:black">{{"ID Issue Date"| translate }}</label>
                                    <input type="text" id="id_issue-date" name="date" class="k-textbox input-sm full-width" ng-change="setStart(date)" ng-model="temp.em_national_id_issue_date">
                                    <p style="margin-top: 52px;" class="help-block" ng-show="Myform.id_issue_date.$error.required &&(Myform.id_issue_date.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>
                                </div>

                                <!-- Manadatory for ASD-->
                                <div class="col-md-3" ng-class="{'has-error': !Myform.nationalId_expiry_date.$valid && (Myform.nationalId_expiry_date.$touched || Myform.$submitted)}">
                                    <label style="font-size:small;color:black">{{"Expiry Date"| translate }} <span style="color:red;">*</span></label>
                                    <input type="text" id="expiry_date5" name="nationalId_expiry_date" class="k-textbox input-sm full-width" ng-change="checkEmiratesID();" ng-model="temp.em_national_id_expiry_date" required>
                                    <p style="margin-top: 52px;" class="help-block" ng-show="Myform.nationalId_expiry_date.$error.required &&(Myform.nationalId_expiry_date.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="form-actions">
                        <div class="pull-right">
                            <!--<button type="submit" id="empsave" ng-click="SaveData(Myform.$valid)" ng-show="Save_btn" ng-disabled="saveBtnDisEn" class="btn btn-primary btn-cons">Submit</button><!--ng-click="SaveData(Myform.$valid)"-->
                            <button type="submit" id="updt" class="btn btn-primary btn-cons" ng-click="UpdateData(Myform.$valid);">Update</button>
                            <!--<button type="button" id="cancel" class="btn btn-warning btn-cons" ng-click="Cancel();">Reset</button>-->
                        </div>
                    </div>
                </form>
            </div>


            <div class="modal fade in" id="MyModal" role="dialog" style="display: none;">
                <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 1000px;">
                    <div class="modal-content" uib-modal-transclude="">
                        <div class="modal-header ng-scope" style="height: 40px">
                            <div class="pull-left">
                                <h4 class="modal-title custom-font" style="margin-top: -5px"><b>&nbsp&nbsp&nbsp&nbsp Search Employee</b></h4>
                            </div>
                        </div>

                        <div class="grid simple">
                            <div class="grid-body no-border">

                                <!--   <ul class="nav nav-tabs" id="tab-01">
                                    <!--<li><a href="#Student_Details">{{"Student"|translate}}</a></li>-->
                                <!-- <li><a href="#Employee_information">{{ "Search Employee" | translate }} </a></li>
                                </ul>-->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="Employee_information">
                                        <div class="row column-seperation">
                                            <div class="tab-pane" id="Div5" aria-expanded="true">

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="row form-row">


                                                            <div class="col-md-12">
                                                                <div class="row form-row">

                                                                    <div class="col-md-3">
                                                                        <div class="row form-row">
                                                                            <div class="col-md-12">
                                                                                <label style="font-size: small; color: black">User Code</label>
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <input class="form-control input-sm" ng-model="temp.em_login_code" />
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-3">
                                                                        <div class="row form-row">
                                                                            <div class="col-md-12">
                                                                                <label style="font-size: small; color: black">Employee Name</label>
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <input class="form-control input-sm" ng-model="temp.EmpName" />
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-3">
                                                                        <div class="row form-row">
                                                                            <div class="col-md-12">
                                                                                <label>&nbsp;</label>
                                                                            </div>
                                                                            <div class="pull-right">
                                                                                <div class="col-md-12">
                                                                                    <button type="button" class="btn btn-primary btn-cons" ng-click="EmployeeDetails();">Search</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>

                                                            <div class="grid-body no-border" ng-show="NodataEmployee">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="row form-row">
                                                                            <div class="col-md-6">
                                                                                &nbsp
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <h4 style="text-align: center">Sorry No Data Found</h4>
                                                                            </div>
                                                                            <div class="col-md-3">
                                                                                &nbsp
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-12">
                                                                <div ng-show="EmployeeTable">
                                                                    <div id="Div4" class="dataTables_wrapper form-inline">
                                                                        <div style="width: 100%; height: 350px; overflow-x: auto; overflow-y: auto">
                                                                            <table class="table table-bordered table-condensed" id="fixTable1">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th class="semi-bold">EMPLOYEE NUMBER</th>
                                                                                        <th class="semi-bold">EMPLOYEE NAME</th>
                                                                                        <th class="semi-bold">MOBILE NO</th>
                                                                                        <th class="semi-bold">EMAIL ID </th>
                                                                                        <th class="semi-bold">EMPLOYEE STATUS </th>
                                                                                        <th class="semi-bold">ACTION</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                                                    <tr ng-repeat="emp in Employee_Details">

                                                                                        <td>{{emp.em_login_code}}</td>
                                                                                        <td>{{emp.empName}}</td>
                                                                                        <td>{{emp.em_mobile}}</td>
                                                                                        <td>{{emp.em_email}}</td>
                                                                                        <td>{{emp.em_service_status_name}}</td>
                                                                                        <td>
                                                                                            <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="EmployeeAdd(emp);" style="height: 30px; width: 60px" data-dismiss="modal" type="submit">ADD</button>
                                                                                        </td>
                                                                                        <!--<td><a href=""><i class="fa fa-edit" ng-click="SearchParentChild(info)" data-dismiss="modal"></i></a>-->
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="modal-footer" ng-show="EmployeeTable">

                                                    <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" data-dismiss="modal" type="submit">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>


        </div>

        <div class="modal fade" id="Div1">
            <div class="modal-dialog" id="top" style="width: 400px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="msg" class="close" data-dismiss="modal" aria-label="Close" ng-click="Cancel()"><span aria-hidden="true">&times;</span></button>
                        <h5 class="semi-bold pull-left">Message</h5>
                        <br />
                    </div>
                    <div class="modal-body">
                        <br />
                        <label class="semi-bold">{{CUDobj.strMessage}}</label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="Cancel()">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ErrorMessage">
            <div class="modal-dialog" id="Div6" style="width: 300px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h5 class="semi-bold pull-left">{{"Message" | translate }}</h5>
                        <br />
                    </div>
                    <div class="modal-body">
                        <br />
                        <label class="form-label semi-bold help">{{"Error In Adding Employee Details" | translate }}</label>
                        <br />
                    </div>
                    <div class="modal-footer" style="height: 60px">
                        <button type="button" class="btn btn-primary btn-cons" data-dismiss="modal">{{"Ok" | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="assets/js/calender-datepicker-id.js"></script>
<script src="assets/js/tabs_accordian.js"></script>
<script src="assets/js/tableHeadFixer.js"></script>
