﻿<div class="row">

    <div class="row" ng-show="notshow">
        <div class="col-xs-4">
            <div class="well" class="form-group">
                <div class="form-group">
                    <label>Current Page:</label>
                    <input
                        placeholder="page"
                        class="form-control"
                        ng-model="currentPage"
                        ng-init="currentPage = 1" />
                </div>
                <div class="form-group">
                    <label>Page Size:</label>
                    <input
                        placeholder="Page Size"
                        class="form-control"
                        ng-model="numPerPage" />
                </div>
                <div class="form-group">
                    <label>Total Items:</label>
                    <input
                        placeholder="Total"
                        class="form-control"
                        ng-model="pagersize" />
                </div>
                <hr />
                <div class="form-group">
                    <label>Dots Display:</label>
                    <input
                        placeholder="..."
                        class="form-control"
                        maxlength="3"
                        ng-model="dots"
                        ng-init="dots = '...'" />
                </div>

                <hr />
                <div class="form-group">
                    <label>UL Class:</label>
                    <input
                        placeholder="pagination"
                        class="form-control"
                        maxlength="100"
                        ng-model="ulClass" />
                </div>
                <div class="form-group">
                    <label>Active Class:</label>
                    <input
                        placeholder="active"
                        class="form-control"
                        maxlength="100"
                        ng-model="activeClass"
                        ng-init="activeClass = 'active'" />
                </div>
                <div class="form-group">
                    <label>Disabled Class:</label>
                    <input
                        placeholder="disabled"
                        class="form-control"
                        maxlength="100"
                        ng-model="disabledClass"
                        ng-init="disabledClass = 'disabled'" />
                </div>
                <br />
                <table class="table">

                    <tr>
                        <td>
                            <label>Show Prev Next:</label></td>
                        <td>
                            <input
                                type="checkbox"
                                ng-model="showPrevNext"
                                ng-init="showPrevNext = true" />
                            {{showPrevNext}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Show First Last:</label></td>
                        <td>
                            <input
                                type="checkbox"
                                ng-model="showFirstLast"
                                ng-init="showFirstLast = true" />
                            {{showPrevNext}}
                        </td>
                    </tr>
                </table>
                <hr />
                <span class="btn btn-default" onclick="location.reload()">
                    <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                </span>
                <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                </span>
                <br />
                <br />
            </div>
        </div>
    </div>

    <div class="row" ng-show="notshow">
        <div class="col-xs-4">
            <div class="well" class="form-group">
                <div class="form-group">
                    <label>Current Page:</label>
                    <input
                        placeholder="page"
                        class="form-control"
                        ng-model="currentPage1"
                        ng-init="currentPage1 = 1" />
                </div>
                <div class="form-group">
                    <label>Page Size:</label>
                    <input
                        placeholder="Page Size"
                        class="form-control"
                        ng-model="numPerPage1" />
                </div>
                <div class="form-group">
                    <label>Total Items:</label>
                    <input
                        placeholder="Total"
                        class="form-control"
                        ng-model="pagersize" />
                </div>
                <hr />
                <div class="form-group">
                    <label>Dots Display:</label>
                    <input
                        placeholder="..."
                        class="form-control"
                        maxlength="3"
                        ng-model="dots"
                        ng-init="dots = '...'" />
                </div>

                <hr />
                <div class="form-group">
                    <label>UL Class:</label>
                    <input
                        placeholder="pagination"
                        class="form-control"
                        maxlength="100"
                        ng-model="ulClass" />
                </div>
                <div class="form-group">
                    <label>Active Class:</label>
                    <input
                        placeholder="active"
                        class="form-control"
                        maxlength="100"
                        ng-model="activeClass"
                        ng-init="activeClass = 'active'" />
                </div>
                <div class="form-group">
                    <label>Disabled Class:</label>
                    <input
                        placeholder="disabled"
                        class="form-control"
                        maxlength="100"
                        ng-model="disabledClass"
                        ng-init="disabledClass = 'disabled'" />
                </div>
                <br />
                <table class="table">

                    <tr>
                        <td>
                            <label>Show Prev Next:</label></td>
                        <td>
                            <input
                                type="checkbox"
                                ng-model="showPrevNext"
                                ng-init="showPrevNext = true" />
                            {{showPrevNext}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Show First Last:</label></td>
                        <td>
                            <input
                                type="checkbox"
                                ng-model="showFirstLast"
                                ng-init="showFirstLast = true" />
                            {{showPrevNext}}
                        </td>
                    </tr>
                </table>
                <hr />
                <span class="btn btn-default" onclick="location.reload()">
                    <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                </span>
                <span class="btn btn-success" ng-click="currentPage1 = 0">Apply Settings
                </span>
                <br />
                <br />
            </div>
        </div>
    </div>


    <div class="col-md-12">
        <div class="grid simple">
            <div class="grid-body no-border paddingcode bluegrid">
                <div class="page-title">
                    <h3 ng-show="update_payroll_show"><span class="semi-bold">{{"Update"| translate}}</span>&nbsp;{{"Paysheet" | translate }}</h3>
                    <h3 ng-show="delete_payroll_show"><span class="semi-bold">{{"Delete"| translate}}</span>&nbsp;{{"Paysheet" | translate }}</h3>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button id="updatePaysheetBtn" class="btn btn-primary btn-small" ng-disabled="disableUpdatePaysheet" ng-click="ShowUpdatepaysheet()">{{"View/Update Paysheet"|translate}}</button>
                        <button id="deletePaysheetBtn" class="btn btn-danger btn-small" ng-disabled="disableDeletePaysheet" ng-click="ShowDeletepaysheet()">{{"Delete Paysheet"|translate}}</button>
                    </div>
                </div>

                <div ng-show="updatepaysheet" class="margin-top">
                    <!--<div class="row">
                            <h4><strong>{{"Update Paysheet"|translate}}</strong></h4>  
                        </div>-->
                    <!-- Show For DPSMIS School -->
                    <div class="row" ng-show="showForDPSMIS">
                        <div class="col-md-2">
                            <label><i class="fa fa-calendar"></i>&nbsp;{{"Year Month"| translate }}</label>
                            <select id="Select1" class="form-control input-sm full-width" data-role="dropdownlist" ng-model="edt.year_month"
                                ng-options="c.year_month as c.year_month_name for c in Year_month" ng-change="setMonth();">
                                <option value="" selected disabled>Please Select</option>
                            </select>
                            <!--<select id="Select1" class="form-control input-sm full-width" data-role="dropdownlist" ng-model="edt.year_month"
                                                        ng-options="c.sd_year_month_code as c.sd_year_month_name for c in GetMonth">
                                                    <option value="" selected disabled>Please Select</option>
                                                </select>-->
                        </div>
                        <div class="col-md-2">
                            <label><i class="fa fa-pencil-square-o"></i>&nbsp;{{"Division"| translate }}</label>
                            <select id="Select3" ng-change="getDept()" class="form-control input-sm full-width" data-role="dropdownlist" ng-model="edt.gd_division_code">
                                <option value="*" selected>All Dept.</option>
                                <option class="form-control input-sm" ng-repeat="dep in ComboBoxValues |filter:{gd_division_code:''}" value="{{dep.gd_division_code}}">{{dep.gd_division_desc}}</option>

                            </select>
                        </div>
                        <div class="col-md-2">
                            <label><i class="fa fa-pencil-square-o"></i>&nbsp;{{"Department"| translate }}</label>
                            <select id="Select4" class="form-control input-sm full-width" data-role="dropdownlist" ng-model="edt.dept_code">
                                <option value="" selected disabled>Please Select</option>
                                <option class="form-control input-sm" ng-repeat="dep in depts" value="{{dep.codp_dept_no}}">{{dep.codp_dept_name}}</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label><i class="fa fa-graduation-cap"></i>&nbsp;{{"Designation"| translate }}</label>
                            <select id="Select5" class="form-control input-sm full-width" data-role="dropdownlist" ng-model="edt.dg_code">
                                <option value="" selected disabled>Please Select</option>
                                <option class="form-control input-sm" ng-repeat="des in ComboBoxValues |filter:{dg_desc:''}" value="{{des.sims_acadmic_year}}">{{des.dg_desc}}</option>
                            </select>
                        </div>

                        <div class="col-md-2">
                            <label><i class="fa fa-sitemap"></i>&nbsp;{{"Grade"| translate }}</label>
                            <select id="cmb_user" class="form-control input-sm full-width" data-role="dropdownlist" ng-model="edt.gr_code">
                                <option value="" selected disabled>Please Select</option>
                                <option class="form-control input-sm" ng-repeat="gr in ComboBoxValues |filter:{gr_desc:''}" value="{{gr.gr_code}}">{{gr.gr_desc}}</option>
                            </select>
                        </div>
                    </div>
                    <!-- Show For Other School -->
                    <div class="row" ng-hide="showForDPSMIS">
                        <div class="col-md-2">
                            <label><i class="fa fa-calendar"></i>&nbsp;{{"Month"| translate }}</label>
                            <select id="Select1" class="form-control input-sm full-width" data-role="dropdownlist" ng-model="edt.yearCode"
                                ng-options="c.year_month as c.year_month_name for c in Year_month" ng-change="setMonth();">
                                <option value="" selected disabled>Please Select</option>
                            </select>
                            <!--<select id="Select1" class="form-control input-sm full-width" data-role="dropdownlist" ng-model="edt.year_month"
                                        ng-options="c.sd_year_month_code as c.sd_year_month_name for c in GetMonth">
                                    <option value="" selected disabled>Please Select</option>
                                </select>-->
                        </div>
                        <div class="col-md-2">
                            <label><i class="fa fa-building"></i>&nbsp;{{"Company Name" |translate}}</label>
                            <select id="Select1" class="form-control input-sm full-width" name="user" ng-model="temp.gc_company_code" ng-change="getdept(temp.gc_company_code); getdesg(temp.gc_company_code);getGrade(temp.gc_company_code);"
                                ng-options="temp.gc_company_code as temp.gc_company_desc for temp in comp_code">
                                <option value="">Please Select</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label><i class="fa fa-pencil-square-o"></i>&nbsp;{{"Department"| translate }}</label>
                            <select id="Select5" class="form-control input-sm full-width" ng-model="edt.dept_code">
                                <option value="" selected disabled>Please Select</option>
                                <option class="form-control input-sm" ng-repeat="temp in dept" value="{{temp.code}}">{{temp.em_dept_name}}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label><i class="fa fa-graduation-cap"></i>&nbsp;{{"Designation"| translate }}</label>
                            <select id="Select4" class="form-control input-sm full-width" ng-model="edt.dg_code">
                                <option value="" selected disabled>Please Select</option>
                                <option class="form-control input-sm" ng-repeat="temp in designation" value="{{temp.em_desg_code}}">{{temp.em_desg_desc}}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label><i class="fa fa-sitemap"></i>&nbsp;{{"Grade"| translate }}</label>
                            <!--<select id="cmb_user" class="form-control input-sm full-width" data-role="dropdownlist" ng-model="edt.gr_code">
                                    <option value="" selected disabled>Please Select</option>
                                    <option class="form-control input-sm" ng-repeat="gr in ComboBoxValues |filter:{gr_desc:''}" value="{{gr.gr_code}}">{{gr.gr_desc}}</option>
                                </select>-->
                            <select id="Select4" class="form-control input-sm full-width" ng-model="edt.gr_code">
                                <option value="" selected disabled>Please Select</option>
                                <option class="form-control input-sm" ng-repeat="temp in GetAllPaysGradeName" value="{{temp.gr_code}}">{{temp.gr_name}}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label><i class="fa fa-user"></i>&nbsp;{{"Employee Id"| translate }}</label>
                            <input class="k-textbox input-sm full-width" ng-model="edt.em_login_code" />
                        </div>

                    </div>

                    <div class="row" style="padding-top: 10px;">
                        <div class="col-md-2">
                            <div>
                                <button class="btn btn-primary btn-small" ng-click="btn_SearchEmployee_Click()">{{"Search"|translate}}</button>
                                <button class="btn btn-warning btn-small" ng-click="btn_ResetEmployee_Click()">{{"Reset"|translate}}</button>
                            </div>
                        </div>
                        
                        
                        <!--<div class="col-md-12">
                                        <div class="pull-right">
                                            <label>&nbsp;</label>

                                            <div class="dataTables_filter" id="Div4">
                                                <label>
                                                    {{ "Search" | translate}}&nbsp;
                                        <input type="text" aria-controls="example" placeholder="EMP Code/Name" ng-model="searchText" class="input-medium" ng-change="search()"></label>
                                            </div>
                                        </div>
                                    </div>-->
                    </div>

                </div>


                

                

                <div ng-show="deletepaysheet">
                    <!--<div class="row">
                            <h4><strong>Delete Paysheet </strong></h4>
                        </div>-->
                    <div class="row">
                        <div class="col-md-2">
                            <label><i class="fa fa-calendar"></i>&nbsp;{{"Month"| translate }}</label>
                            <select id="Select2" class="form-control input-sm full-width" data-role="dropdownlist" ng-model="edt1.yearCode"
                                ng-options="c.year_month as c.year_month_name for c in Year_month" ng-change="setMonthDeletePaysheet();">
                                <option value="" selected disabled>Please Select</option>
                            </select>
                            <!--<select id="Select1" class="form-control input-sm full-width" data-role="dropdownlist" ng-model="edt1.year_month"
                                                ng-options="c.sd_year_month_code as c.sd_year_month_name for c in GetMonth">
                                            <option value="" selected disabled>Please Select</option>
                                        </select>-->
                        </div>
                        <div class="col-md-2">
                            <label><i class="fa fa-building"></i>&nbsp;{{"Company Name" |translate}}</label>
                            <select id="Select1" class="form-control input-sm full-width" name="user" ng-model="temp.gc_company_code" ng-change="getdept(temp.gc_company_code); getdesg(temp.gc_company_code);getGrade(temp.gc_company_code);"
                                ng-options="temp.gc_company_code as temp.gc_company_desc for temp in comp_code">
                                <option value="">Please Select</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label><i class="fa fa-pencil-square-o"></i>&nbsp;{{"Department"| translate }}</label>
                            <select id="Select5" class="form-control input-sm full-width" ng-model="edt.dept_code">
                                <option value="" selected disabled>Please Select</option>
                                <option class="form-control input-sm" ng-repeat="temp in dept" value="{{temp.code}}">{{temp.em_dept_name}}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label><i class="fa fa-graduation-cap"></i>&nbsp;{{"Designation"| translate }}</label>
                            <select id="Select4" class="form-control input-sm full-width" ng-model="edt.dg_code">
                                <option value="" selected disabled>Please Select</option>
                                <option class="form-control input-sm" ng-repeat="temp in designation" value="{{temp.em_desg_code}}">{{temp.em_desg_desc}}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label><i class="fa fa-sitemap"></i>&nbsp;{{"Grade"| translate }}</label>
                            <select id="Select4" class="form-control input-sm full-width" ng-model="edt.gr_code">
                                <option value="" selected disabled>Please Select</option>
                                <option class="form-control input-sm" ng-repeat="temp in GetAllPaysGradeName" value="{{temp.gr_code}}">{{temp.gr_name}}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label><i class="fa fa-user"></i>&nbsp;{{"Employee Id"| translate }}</label>
                            <input class="k-textbox input-sm full-width" ng-model="edt.em_login_code" />
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label>&nbsp;</label>
                                <div class="pull-right">
                                    <button class="btn btn-primary btn-small" ng-click="GetEmployeeDatafordelete();">{{"Show"|translate}}</button>
                                    <button class="btn btn-danger btn-small" type="button" ng-click="Delete()" ng-hide="deletbtn"><span class="semi-bold"></span>{{"Delete"| translate }}</button>
                                    <button class="btn btn-warning btn-small" type="button" ng-click="Reset()"><span class="semi-bold"></span>{{"Reset"| translate }}</button>
                                </div>
                            </div>
                        </div>

                        
                    </div>
                </div>
            </div>

            <div ng-show="deletepaysheettable">
                <div class="dataTables_wrapper form-inline" id="Div1"style="background-color:white;margin-top:7px;">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table  table-hover table-bordered table-condensed" id="fixTable" aria-describedby="example2_info">
                                <thead>
                                    <tr style="background-color: #edefef">
                                        <th class="semi-bold small-cell" style="height: 20px; z-index: 1; width: 05%; vertical-align: middle">
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" name="check" value="1" id="mainchk" ng-click="CheckMultiple();" class="checkall">
                                                <label for="mainchk"></label>
                                            </div>
                                        </th>
                                        <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                            <a href="">
                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span>
                                                <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;<i class="fa fa-user"></i>&nbsp;{{"Emp. Number"| translate }}
                                            </a>
                                        </th>
                                        <th ng-click="orderByField='sort'; reverseSort = !reverseSort">

                                            <a href="">
                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span>
                                                <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;<i class="fa fa-user"></i>&nbsp;{{"Name"| translate }}
                                            </a>
                                        </th>
                                        <th><i class="fa fa-sitemap"></i>&nbsp;{{"Grade"| translate }}</th>
                                        <th><i class="fa fa-money"></i>&nbsp;{{"Bank Cash Tag"| translate }}</th>
                                    </tr>
                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    <tr ng-repeat="info in GetEmployeesFromSalaryDetails |orderBy:orderByField:reverseSort" class="{{row1}}">
                                        <td>
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" name="check" value="1" id="{{info.code}}" ng-click="CheckOneByOne()" />
                                                <label for="{{info.code}}"></label>
                                            </div>

                                        </td>
                                        <td>{{info.code}}</td>
                                        <td>{{info.name}}</td>
                                        <td>{{info.gr_desc}}</td>
                                        <td>{{info.em_bank_cash_tag}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="dataTables_wrapper form-inline" id="Div3" ng-show="To_Updateemployee">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table  table-hover table-bordered table-condensed" id="Table3" aria-describedby="example2_info">
                            <thead>
                                <tr style="background-color: #edefef">
                                    <th ng-click="orderByField='sort'; reverseSort = !reverseSort">

                                        <a href="">
                                            <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span>
                                            <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;<i class="fa fa-user"></i>&nbsp;{{"Name"| translate }}
                                        </a>
                                    </th>

                                    <th><i class="fa fa-money"></i>&nbsp;{{"Pay Code"| translate }}</th>
                                    <th><i class="fa fa-money"></i>&nbsp;{{"Amount"| translate }}</th>
                                    <th><i class="fa fa-bookmark-o"></i>&nbsp;{{"Remark" | translate}}</th>

                                </tr>
                            </thead>

                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <tr ng-repeat="info in GetSalaryDetailsByEmployee |orderBy:orderByField:reverseSort" class="{{row1}}" style="padding-bottom: 02px !important">
                                    <td>{{info.emp_name}}</td>
                                    <td>{{info.cp_desc}}</td>
                                    <td>
                                        <input class="k-textbox input-sm full-width" style="text-align: right" ng-model="info.sd_amount" ng-keypress="onlyNumbers($event)" ng-blur="checkedforedit(info)" type="number" />
                                    </td>
                                    <td>
                                        <input class="k-textbox input-sm full-width" ng-model="info.sd_remark" ng-blur="checkedforedit(info)" maxlength="100" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <select class="form-control input-sm full-width" data-role="dropdownlist" name="cmb_paycode" ng-model="temp.em_login_code" style="padding-bottom: 02px !important"
                                                ng-options="emp.em_login_code as emp.emp_name for emp in employeenameforcmb">
                                            <option value="" selected disabled>Please Select</option>
                                        </select>
                                    </td>
                                    <td style="height: 20px">
                                        <select class="form-control input-sm full-width" data-role="dropdownlist" name="cmb_paycode" ng-model="temp.sd_pay_code" style="padding-bottom: 02px !important"
                                                ng-options="paycode.sd_pay_code as paycode.cp_desc for paycode in GetAllPayCodes" ng-change="Insertnew(temp.sd_pay_code)">
                                            <option value="" selected disabled>Please Select</option>
                                        </select>
                                    <td>
                                        <input class="k-textbox input-sm full-width" ng-model="temp.sd_amount" ng-blur="Insertnew1()" type="number" style="text-align: right" />
                                    </td>
                                    <td>
                                        <input class="k-textbox input-sm full-width" ng-model="temp.sd_remark" ng-blur="Insertnew1()" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-7" style="margin-left: 2%;">
                            <div class="pull-right">
                                <label id="Label18" style="color: green;">
                                    <b>Earning = {{numberWithCommas(edt.total.toFixed(comp_curcy_dec))}}</b>
                                </label>
                                &nbsp;
                                <label id="Label18" style="color: red;">
                                    <b>Deduction = {{numberWithCommas(edt.deductionAmt.toFixed(comp_curcy_dec))}}</b>
                                </label>
                                &nbsp;
                                <label id="Label18" style="color: black;">
                                    <b>Gross Total = {{numberWithCommas((edt.total - edt.deductionAmt).toFixed(comp_curcy_dec)) }}</b>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="pull-right">
                                <button class="btn btn-danger btn-small" type="button" ng-click="btn_closeupdate_click();">{{"Close"|translate}}</button>
                                <button class="btn btn-primary btn-small" type="button" ng-click="btn_Employeepayrollupdate_new();">{{"Submit"|translate}}</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="dataTables_wrapper form-inline" id="Div2" ng-show="Updateemployee"style="background-color:white;margin-top:-7px;">
                <div class="row margin-top">
                    <div class="row">
                    <div class="col-md-10" style="text-align: right;" ng-show="Updateemployee">
                        <select id="Select6" style="width: 65px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                            <option value="10" class="form-control input-sm">
                                10
                            </option>
                            <option value="20" class="form-control input-sm">
                                20
                            </option>
                            <option value="All" class="form-control input-sm">
                                All
                            </option>
                        </select>
                    </div>
                        <div class="col-md-2" ng-show="Updateemployee"style="margin-left:-6px;">
                            <div class="pull-right">
                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                </span>
                            </div>
                        </div>
                        </div>
                    <div class="col-md-12">
                        <table class="table  table-hover table-bordered table-condensed" id="Table2" aria-describedby="example2_info">
                            <thead>
                                <tr style="background-color: #edefef">
                                    <th ng-click="sortBy('emp_number_new')">
                                        <i class="fa fa-user"></i>&nbsp;{{"Emp. Number"| translate}}
                                        <span class="sortorder" ng-show="propertyName === 'emp_number_new'" ng-class="{reverse: reverse}"></span>

                                    </th>
                                    <th ng-click="sortBy('emp_name_new')">
                                        <i class="fa fa-align-justify"></i>&nbsp;{{"Name"| translate }}
                                        <span class="sortorder" ng-show="propertyName === 'emp_name_new'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th><i class="fa fa-sitemap"></i>&nbsp;{{"Grade"| translate }}</th>
                                    <th><i class="fa fa-pencil-square-o"></i>&nbsp;{{"Department"| translate }}</th>
                                    <th><i class="fa fa-graduation-cap"></i>&nbsp;{{"Designation"| translate }}</th>
                                    <th class="semi-bold" style="vertical-align: middle; text-align: center; width: 05%"><i class="fa fa-cogs"></i></th>
                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <tr ng-repeat="info in filteredTodos | orderBy:propertyName:reverse" class="{{row1}}" ng-dblclick="getDetailsEmployeeToUpdate(info)">
                                    <td>{{info.sd_number}}</td>
                                    <td>{{info.emp_name}}</td>
                                    <td>{{info.gr_desc}}</td>
                                    <td>{{info.dept_desc}}</td>
                                    <td>{{info.dg_desc}}</td>
                                    <td style="text-align: center">
                                        <!--<button class="btn btn-primary btn-cons" type="button" ng-click="change()">Update</button>-->
                                        <a href=""><i class="fa fa-edit" ng-click="getDetailsEmployeeToUpdate(info)"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" ng-show="pager">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                    scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                    paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                    ng-click="index(currentPage)">
                            </paging>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="assets/js/tableHeadFixer.js"></script>
