﻿<style>
    .sortorder:after {
        content: '\25b2';
    }

    .sortorder.reverse:after {
        content: '\25bc';
    }
</style>



<div class="row">
    <div class="col-md-12">
        <div class="grid simple">

            <div class="page-title">
                <h3><span class="semi-bold">{{"Vacancy"| translate }} &nbsp;</span>{{"Master"| translate }}</h3>
            </div>

            <div>
            </div>

            <!-- <form name="myForm" ng-submit="Save(myForm.$valid)" novalidate="novalidate">-->
            <div class="grid-body no-border">

                    <div class="row column-seperation">
                        <div class="col-md-3">

                            <div class="row">
                                <div class="col-md-12">
                                      <label>{{"Comnpany Name"|translate}}</label>
                                    <select id="cmb_School_Code" class="form-control input-sm full-width" data-role="dropdownlist" name="user"
                                        ng-model="temp.pays_vacancy_company_code"
                                        ng-options="comp.pays_vacancy_company_code as comp.pays_vacancy_company_nm for comp in getcompname">
                                        <option value="" selected disabled>Please Select</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row margin-top">
                                <div class="col-md-12">
                                <label>{{"Department"|translate}}</label>
                                    <select id="Select1" class="form-control input-sm full-width" data-role="dropdownlist" name="user"
                                        ng-model="temp1.pays_vacancy_dept_code"
                                        ng-options="dept.pays_vacancy_dept_code as dept.pays_vacancy_dept_nm for dept in depttype">
                                        <option value="" selected disabled>Please Select</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row margin-top">
                                <div class="col-md-12">
                                 <label>{{"Profile Designation"|translate}}</label>
                                    <select id="Select2" class="form-control input-sm full-width" data-role="dropdownlist" name="user"
                                        ng-model="temp2.pays_vacancy_profile_desg_code"
                                        ng-options="desg.pays_vacancy_profile_desg_code as desg.pays_vacancy_profile_desg_name for desg in desgtype">
                                        <option value="" selected disabled>Please Select</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row margin-top">
                                <div class="col-md-12"> <label>{{"Vacancy Type"|translate}}</label>
                                    <select id="Select3" class="form-control input-sm full-width" data-role="dropdownlist" name="user"
                                        ng-model="temp3.pays_vacancy_type"
                                        ng-options="veck.pays_vacancy_type as veck.pays_vacancy_type_nm for veck in vecktype">
                                        <option value="" selected disabled>Please Select</option>
                                    </select>
                                </div>
                            </div>

                       <div class="row margin-top">
                                <div class="col-md-12"><label>{{"Vacancy Description"| translate }}</label>
                                    <!--<textarea name="plaintextarea" id="Textarea1" placeholder="Enter Message" ng-disabled="readonlyplain" class="k-textbox input-sm full-width" ng-model="edt.paintext" />-->
                                    <div class="tools">
                                        <a href="javascript:;" class="collapse"></a>
                                        <a href="#grid-config" data-toggle="modal" class="config"></a>
                                        <a href="javascript:;" class="reload"></a>
                                        <a href="javascript:;" class="remove"></a>
                                    </div>

                                        <textarea id="text-editor" name="editor" placeholder="Enter text ..." class="k-textbox input-sm full-width" ng-readonly="readonlystyle" ng-model="edt.styletext"></textarea>
                                    </div>
                            </div>

                           <div class="row margin-top">
                                <div class="col-md-12"> <label>{{"Role"| translate }}</label>
                                    <input type="text" id="Text1" ng-model="edt.pays_vacancy_roles" class="k-textbox input-sm full-width" />
                                </div>
                            </div>

                            <div class="row margin-top">
                                <div class="col-md-12">
                                        <label>{{"Level"|translate}}</label>
                                    <select id="Select4" class="form-control input-sm full-width" data-role="dropdownlist" name="user"
                                        ng-model="temp4.pays_vacancy_level"
                                        ng-options="lev.pays_vacancy_level as lev.pays_vacancy_level_nm for lev in veclevel">
                                        <option value="" selected disabled>Please Select</option>
                                    </select>
                                </div>
                            </div>

                           <div class="row margin-top">
                                <div class="col-md-12"> <label>{{"Minimum Experience"| translate }}</label>
                                    <input type="text" id="Text2" ng-model="edt.pays_vacancy_min_experience" class="k-textbox input-sm full-width" />
                                </div>

                            </div>

                           <div class="row margin-top">
                                <div class="col-md-12"><label>{{ "Posting Date" | translate }}</label>
                                  <!--  <div class="input-append success date col-md-4 no-padding" data-datepicker="true" style="width: auto">
                                        <input type="text" class="form-control" ng-model="dt.sims_from_date">
                                        <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                    </div>-->

                                        <input placeholder="Select Date" class="k-textbox input-sm full-width" id="startdate" ng-model="dt.sims_from_date">
                                    </div>
                            </div>

                            <div class="row margin-top">
                                <div class="col-md-12"><label>{{ "Expiry Date" | translate }}</label>
                                   <!-- <div class="input-append success date col-md-4 no-padding" data-datepicker="true" style="width: auto">
                                        <input type="text" class="form-control" ng-model="dt1.sims_to_date" ng-change="check_date()">
                                        <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                    </div>-->

                                        <input placeholder="Select Date" class="k-textbox input-sm full-width" id="end_date" ng-model="dt1.sims_to_date">
                                    </div>
                            </div>

                            <div class="row margin-top">
                                <div class="col-md-12"><label class="form-label">{{"Vacancy Status" |  translate }}</label>
                                    <div class="checkbox check-success" style="height: 20px">
                                        <input type="checkbox" value="1" id="chk_status1" ng-model="edt.pays_vacancy_status">
                                        <label for="chk_status1" />
                                    </div>
                                </div>
                            </div>

                            <br />
                            <div class="row margin-top">
                                <div class="col-md-12">

                                    <input type="file" id="file1" name="file" onchange="angular.element(this).scope().file_changed(this)"
                                        ng-files="getTheFiles($files)" style="float: initial; width: 120px; display: none" />
                                    <a href="" class="label label-important " type="button" onclick="document.getElementById('file1').click();">
                                        <i class="fa fa-cloud-upload"></i>{{"Upload" |  translate }}
                                    </a>

                                </div>
                            </div>

                        </div>

                        <div class="col-md-9">
                            <h4 style="color: #729cf3">{{"Vacancy Details" | translate }}</h4>

                                <div id="example_wrapper" class="dataTables_wrapper form-inline">

                                    <div class="row">
                                        <div class="col-md-12">
                                        <table class="table table-bordered table-hover table-condensed" id="fixTable">

                                            <thead style="background-color: white">
                                                <tr style="background-color: #edefef">

                                                    <th class="small-cell v-align-middle" style="z-index: 1">
                                                        <div class="checkbox check-success">
                                                            <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                                            <label for="mainchk"></label>
                                                        </div>
                                                    </th>

                                                    <th class="semi-bold1">
                                                        <label>
                                                            <b>{{"Vacancy ID" | translate }}
                                                            </b>
                                                        </label>
                                                    </th>

                                                    <th class="semi-bold1">
                                                        <label>
                                                            <b>{{"Vacancy Description" | translate }}
                                                            </b>
                                                        </label>
                                                    </th>

                                                    <th class="semi-bold1">
                                                        <label>
                                                            <b>{{"Role" | translate }}
                                                            </b>
                                                        </label>
                                                    </th>

                                                    <th class="semi-bold1">
                                                        <label>
                                                            <b>{{"Vacancy Type" | translate }}
                                                            </b>
                                                        </label>
                                                    </th>

                                                    <th class="semi-bold1">
                                                        <label>
                                                            <b>{{"Profile Designation" | translate }}
                                                            </b>
                                                        </label>
                                                    </th>

                                                    <th class="semi-bold1">
                                                        <label>
                                                            <b>{{"Department" | translate }}
                                                            </b>
                                                        </label>
                                                    </th>

                                                    <th class="semi-bold1">
                                                        <label>
                                                            <b>
                                                                {{"Edit" | translate }}
                                                            </b>
                                                        </label>
                                                    </th>
                                                </tr>
                                            </thead>

                                            <tbody ng-repeat="j in getvds | orderBy:orderByField:reverseSort" ng-class="row1">

                                                <tr>

                                                    <td>
                                                        <div class="row-fluid">
                                                            <div class="checkbox check-success" style="height: 20px">
                                                                <input id="{{j.pays_vacancy_id+$index}}" type="checkbox" value="1" ng-click="checkonebyoneselect()">
                                                                <label for="{{j.pays_vacancy_id+$index}}"></label>
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <label id="lbl">{{j.pays_vacancy_id}}</label>
                                                    </td>

                                                    <td>
                                                        <p style="word-break: break-all; width: 516px" ng-bind-html="j.pays_vacancy_desc| html"></p>
                                                    </td>

                                                    <td>
                                                        <label id="Label2">{{j.pays_vacancy_roles}}</label>
                                                    </td>

                                                    <td>
                                                        <label id="Label3">{{j.pays_vacancy_type_nm}}</label>
                                                    </td>

                                                    <td>
                                                        <label id="Label4">{{j.pays_vacancy_profile_desg_nm}}</label>
                                                    </td>

                                                    <td>
                                                        <label id="Label5">{{j.pays_vacancy_dept_nm}}</label>
                                                    </td>
                                                    <td>
                                                        <a href=""><i class="fa fa-edit" ng-click="edit(j)" data-dismiss="modal"></i></a>
                                                    </td>
                                                    </tr>

                                            </tbody>

                                        </table>
                                    </div>
                                        </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                    <div class="pull-right">
                                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                            ng-click="index(currentPage)">
                                         </paging>
                                    </div>
                                    </div>
                                        </div>
                                </div>

                        </div>

                    </div>
                    <hr />
            <div class="col-md-12">
                <div class="form-actions">
                    <div class="pull-right">
                        <button class="btn btn-primary btn-small" type="submit" ng-show="Updatebtn" ng-click="Update()"><i class="icon-ok"></i>{{"Update"| translate }}</button>

                        <button class="btn btn-primary btn-small" type="submit" ng-show="Savebtn" ng-click="Save()"><i class="icon-ok"></i>{{"Save"| translate }}</button>
                        <button class="btn btn-warning btn-cons" type="button" ng-click="Reset()">{{"Reset"| translate }}</button>
                        <button class="btn btn-danger btn-cons" ng-show="deletebtn" ng-click="delete()">{{"Delete"| translate }}</button>

                    </div>
                </div>
                </div>
            </div>
            <!--</form>-->

        </div>
    </div>
</div>

<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/js/moment.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>