﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"View PaySlip"| translate }}</span> </h3>
            </div>

            <div class="grid-body no-border" ng-show="display">
                <div class="row">

                    <div class="col-md-12 form-group">

                        <div class="col-md-3" ng-class="{'has-error': !Myform.achieve_type.$valid && (Myform.achieve_type.$touched || Myform.$submitted) }">
                            <label id="Label1" for="txt_Nationality_Code" class="form-label"><i class="fa fa-calendar"></i>&nbsp;{{"Financial Year" | translate }}</label>
                            <select class="form-control input-sm full-width" data-role="dropdownlist" ng-model="Acdm_yr" ng-change="acdm_yr_change()" ng-options="doc.sims_academic_year as doc.sims_academic_year_desc for doc in academicyears_obj">
                            </select>
                            <p class="help-block" ng-show="Myform.achieve_type.$error.required &&  (Myform.achieve_type.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>


                        <div class="col-md-3" ng-class="{'has-error': !Myform.achieve_desc.$valid && (Myform.achieve_desc.$touched || Myform.$submitted) }">
                            <label id="Label4" for="txt_Nationality_Code" class="form-label"><i class="fa fa-calendar"></i>&nbsp;{{"Financial Periods"| translate }}</label>
                            <select id="Select1" class="form-control input-sm full-width" data-role="dropdownlist" ng-model="edt.year_month"
                                ng-options="c.year_month as c.year_month_name for c in Year_month">
                                <option value="" selected disabled>Please Select</option>
                            </select>
                        </div>

                        <div class="col-md-3">
                            <div>
                                <label id="Label4">&nbsp;</label>
                                <button type="button" class="btn btn-warning btn-small" ng-click="Report(Acdm_yr,edt.year_month)">{{"Print"| translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>



