﻿
<link href="assets/plugins/Minovate/Main.css" rel="stylesheet" />
<div class="col-md-16">
    <section class="tile">
        <!-- tile header -->
        <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Print Admission </strong>Details</h1>
        </div>
        <!-- /tile header -->
            
        <!-- tile body -->
        <div class="tile-body table-custom" style="display: block;">

            <div class="table-responsive">
                <div id="project-progress_wrapper">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="username">&nbsp;&nbsp;</label>
                            <label for="username"><strong> To Search enter Registration Number Or Name :</strong></label>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="username">&nbsp;</label>
                            <input type="text" name="name" id="name" ng-model="search_txt" ng-keypress="fetchDatakeyPress($event)" class="form-control" required="">
                        </div>

                        
                        <div class="form-group col-md-2">
                            <label for="username">&nbsp;</label>
                            <button type="submit" class="btn btn-rounded btn-success btn-sm" ng-click="btnPreview_click()">Preview</button>
                            <button type="submit" class="btn btn-rounded btn-success btn-sm" ng-click="btnReset_click()">Reset</button>

                        </div>
                    </div>
        <!-- tile header -->
                             
                                 <div class="row">
                        <div class="col-sm-12">

                            <div style="overflow-y: auto; height: Auto">
                                <table class="table table-bordered dataTable" id="project-progress" role="grid" aria-describedby="project-progress_info">
                                    <thead>
                                        <tr role="row">
                                            <th tabindex="0" aria-controls="project-progress" aria-sort="ascending" aria-label="ID: activate to sort column descending" style="width: 15px;">Sr.No</th>
                                            <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending" style="width: 120px;">Registration Number</th>
                                            <th style="width: 140px;" tabindex="0" aria-controls="project-progress" >Name</th>
                                            <th style="width: 100px;" tabindex="0" aria-controls="project-progress">Mobile Number</th>
                                            <th style="width: 50px;" class="text-left no-sort sorting_disabled" aria-label="Chart">Email</th>
                                            <th style="width: 100px;" class="text-left no-sort sorting_disabled">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="info in admissionData">
                                            <td><div class="text-default">{{$index+1|zpad:2}}</div></td>
                                            <td><div class="text-default">{{info.sims_admission_parent_REG_id}}</div></td>
                                            <td><div class="text-default" >{{info.sims_parent_name}}</div></td>
                                            <td><div class="text-default" >{{info.sims_admission_parent_mobile}}</div></td>
                                            <td><div class="text-default" >{{info.sims_admission_parent_email}}</div></td>

                                            <td> <div class="text-default"><span class="label label-success"  ng-click="getAdmissionLst(info)" style="vertical-align: middle;cursor:pointer"><b>View Admissions/Porspect</b></span></div></td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>

                        <div style="padding-left:12px">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                            ng-click="index(currentPage)">
                        </paging>
                    </div>
                    </div>
                     <div class="row" ng-show="show_flag">
                        <div class="col-sm-12">
             <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Admission/ Prospect </strong>Details</h1>
        </div>
                            </div>
                                  </div>
                    <div class="row" ng-show="show_flag">
                        <div class="col-sm-12">

                            <div style="overflow-y: auto; height: 380px;">
                                <table class="table table-bordered dataTable" id="Table2" role="grid" aria-describedby="project-progress_info">
                                    <thead>
                                        <tr role="row">
                                            <th tabindex="0" aria-controls="project-progress" aria-sort="ascending" aria-label="ID: activate to sort column descending" style="width: 15px;">Sr.No</th>
                                            <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending" style="width: 80px;">Admission Number</th>
                                            <th style="width: 120px;" tabindex="0" aria-controls="project-progress">Prospect Number</th>
                                            <th style="width: 120px;" tabindex="0" aria-controls="project-progress" >Name</th>
                                            <th style="width: 100px;" class="text-left no-sort sorting_disabled">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="info in admissionlist">
                                            <td><div class="text-default">{{$index+1|zpad:2}}</div></td>
                                            <td><div class="text-default" >{{info.sims_admission_number}}</div></td>
                                            <td><div class="text-default" >{{info.sims_admission_pros_number}}</div></td>
                                            <td><div class="text-default" >{{info.sims_parent_name}}</div></td>
                                            <td> <div class="text-default"><span class="label label-success" style="vertical-align: middle;cursor:pointer"><b>Print Application</b></span></div></td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>

                        <div style="padding-left:12px">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                            ng-click="index(currentPage)">
                        </paging>
                    </div>
                    </div>

                  
                </div>
            </div>
        </div>
        <!-- /tile body -->
        
    <div style="width: 850px; height: 70%; overflow-x: auto; overflow-y: scroll;" >
        <div class="modal fade" id="MyModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" style="width: 95%;background-color:white;">
            <div class="modal-content" style="text-align:left" >
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>Fee </strong>Receipts</h1> : <strong>{{student_name}}</strong>
                    <ul class="controls">
                        
                        <li class="remove">
                            <a role="button" data-dismiss="modal" tabindex="0" class="tile-close"><i class="fa fa-times"></i></a>

                        </li>
                    </ul>
                </div>
                <div class="modal-header">
                    
                        <div class="row" style="text-align:left;margin:3px;">
                              <table class="table table-bordered dataTable" id="Table1" role="grid" aria-describedby="project-progress_info">
                                    <thead>
                                        <tr  style="z-index: 1">
                                            <!--<th class="semi-bold" style="width: 20px;" ><label><b>{{"EXPAND"| translate }}</b></label></th>-->
                                            <th tabindex="0" aria-controls="project-progress" aria-sort="ascending" aria-label="ID: activate to sort column descending" style="width: 15px;">Sr.No</th>
                                            <th tabindex="0" aria-controls="project-progress" aria-sort="ascending" aria-label="ID: activate to sort column descending" style="width: 20px;">Receipt No</th>
                                            <th tabindex="0" aria-controls="project-progress" aria-sort="ascending" aria-label="ID: activate to sort column descending" style="width: 40px;">Status</th>

                                            <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending" style="width: 25px;">Particulars</th>
                                            <th style="width: 100px;" tabindex="0" aria-controls="project-progress">Expected Amount</th>
                                            <th style="width: 80px;" class="text-left no-sort sorting_disabled" aria-label="Chart" >Fee Amount</th>
                                            <th style="width: 80px;" class="text-left no-sort sorting_disabled" aria-label="Chart">Balance</th>
                                            <th style="width: 30px;" class="text-left">Payment Mode</th>
                                            <th style="width: 20px;" tabindex="0" aria-controls="project-progress">Cheque/DD No</th>
                                            <th style="width: 20px;" tabindex="0" aria-controls="project-progress">Cheque Status</th>
                                            <th style="width: 20px;" tabindex="0" aria-controls="project-progress">Date</th>
                                            <th style="width: 20px;" tabindex="0" aria-controls="project-progress">Received By</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="info in feesReceiptData" ng-style="{'background-color':info.doc_status_code=='3'?'#dbe0e2':'white'}">
                                        <!--<td><i class="{{info.doc_no}}" ng-click="expand(info,$event1)"></i></td>-->
                                        <td><div class="text-default">{{$index+1}}</div></td>
                                        <td><div class="text-default">{{info.doc_no}}</div></td>
                                        <td><div class="text-default">{{info.doc_status}}</div></td>
                                        <td><div class="text-default">{{info.sims_fee_code_description}}</div></td>
                                        <td><div class="text-right">{{info.dd_fee_amount_final | currency:"":2}}</div></td>
                                        <td><div class="text-right">{{info.dd_fee_amount_final | currency:"":2}}</div></td>
                                        <td><div class="text-right">{{info.dd_fee_amount_final-info.dd_fee_amount_discounted | currency:"":2}}</div></td>
                                        <td><div class="text-default">{{info.dd_fee_payment_mode}}</div></td>
                                        <td><div class="text-default">{{info.cheque_number}}</div></td>
                                        <td><div class="text-default">{{info.ChequeStatus_Desc}}</div></td>
                                        <td><div class="text-default">{{info.creation_date}}</div></td>
                                        <td><div class="text-default">{{info.creation_user}}</div></td>
                                        </tr>
                                    
                                    </tbody>
                                      
                                </table>
                          
                    </div>
               
               <div style="padding-left:12px;text-align:left;">
                        <paging class="small" page="currentPage_invoice" page-size="pageSize_invoice" total="pagersize_invoice" pg-href="#GotoPage-{page}" dots="{{dots_invoice}}" show-prev-next="{{showPrevNext_invoice}}"
                            scroll-top="{{scrollTop}}" ng-show="hideIfEmpty_invoice" ul-class="{{ulClass_invoice}}" active-class="{{activeClass_invoice}}" disabled-class="{{disabledClass_invoice}}" show-first-last="{{showFirstLast_invoice}}"
                            paging-action="DoCtrlPagingAct('Paging Clicked', page_invoice, pageSize_invoice, totalItems_invoice)"
                            ng-click="index_invoice(currentPage_invoice)">
                </paging>
                    </div>
                     </div>
            </div>
            </div>
        
        
            </div>
    </div>
    </section>
    <!-- /tile -->
</div>