﻿<link href="assets/css/newDash.css" rel="stylesheet" />
<link href="assets/css/rounded_btn.css" rel="stylesheet" />
<link href="assets/css/animate.css" rel="stylesheet" />
<script src="assets/plugins/modal_updated.js"></script>


<style>
    ul {
        -webkit-padding-start: 0px;
    }

    .div_th {
        white-space: nowrap;
    }
     .wysihtml5-sandbox {
        height:200px !important;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <!--   <div class="page-title">
                <h3>{{ "Admission Dashboard" | translate }}<span class="semi-bold"></span></h3>
            </div>-->
            <div class="grid-title no-border">
            </div>
            <div class="grid-body no-border" ng-show="display" style="margin-bottom: -25px">
                <div class="row" ng-show="notshow">
                    <div class="col-xs-4">
                        <div class="well" class="form-group">
                            <div class="form-group">
                                <label>Current Page:</label>
                                <input
                                    placeholder="page"
                                    class="form-control"
                                    ng-model="currentPage"
                                    ng-init="currentPage = 1" />
                            </div>
                            <div class="form-group">
                                <label>Page Size:</label>
                                <input
                                    placeholder="Page Size"
                                    class="form-control"
                                    ng-model="numPerPage" />
                            </div>
                            <div class="form-group">
                                <label>Total Items:</label>
                                <input
                                    placeholder="Total"
                                    class="form-control"
                                    ng-model="pagersize" />
                            </div>
                            <hr />
                            <div class="form-group">
                                <label>Dots Display:</label>
                                <input
                                    placeholder="..."
                                    class="form-control"
                                    maxlength="3"
                                    ng-model="dots"
                                    ng-init="dots = '...'" />
                            </div>

                            <hr />
                            <div class="form-group">
                                <label>UL Class:</label>
                                <input
                                    placeholder="pagination"
                                    class="form-control"
                                    maxlength="100"
                                    ng-model="ulClass" />
                            </div>
                            <div class="form-group">
                                <label>Active Class:</label>
                                <input
                                    placeholder="active"
                                    class="form-control"
                                    maxlength="100"
                                    ng-model="activeClass"
                                    ng-init="activeClass = 'active'" />
                            </div>
                            <div class="form-group">
                                <label>Disabled Class:</label>
                                <input
                                    placeholder="disabled"
                                    class="form-control"
                                    maxlength="100"
                                    ng-model="disabledClass"
                                    ng-init="disabledClass = 'disabled'" />
                            </div>
                            <br />
                            <table class="table">

                                <tr>
                                    <td>
                                        <label>Show Prev Next:</label></td>
                                    <td>
                                        <input
                                            type="checkbox"
                                            ng-model="showPrevNext"
                                            ng-init="showPrevNext = true" />
                                        {{showPrevNext}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Show First Last:</label></td>
                                    <td>
                                        <input
                                            type="checkbox"
                                            ng-model="showFirstLast"
                                            ng-init="showFirstLast = true" />
                                        {{showPrevNext}}
                                    </td>
                                </tr>
                            </table>
                            <hr />
                            <span class="btn btn-default" onclick="location.reload()">
                                <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                            </span>
                            <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                            </span>
                            <br />
                            <br />
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="row form-row">
                            <div class="col-md-2">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label>{{ "Curriculum" | translate }}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <select id="cmb_cur" name="curCode" class="form-control select2-sm"
                                            ng-model="edt.curr_code" required ng-maxlength="2" ng-minlength="1" ng-change="getCur(edt.curr_code)"
                                            ng-options="item.sims_attendance_cur_code as item.sims_cur_short_name_en for item in obj2">
                                            <option value="">Please Select</option>

                                        </select>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="error-container"
                                            ng-show="myForm.curCode.$dirty && myForm.curCode.$invalid || myForm.$submitted">
                                            <small class="error"
                                                ng-show="myForm.curCode.$error.required">Curriculum is required.
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label>{{ "Academic Year" | translate }}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <select id="cmb_acad_yr" name="AcadYr" class="form-control select2-sm"
                                            ng-model="edt.academic_year" ng-change="GetGrade(edt.curr_code,edt.academic_year,edt.grade_code,edt.sims_appl_parameter_reg)"
                                            ng-options="item.sims_academic_year as item.sims_academic_year_desc for item in obj1">
                                            <option value="">Please Select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label>{{ "Grade Name" | translate }}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <select id="cmb_grade" name="Grade" class="form-control select2-sm"
                                            ng-model="edt.grade_code" required ng-maxlength="2" ng-minlength="1" ng-change="GetGradechage(edt.curr_code,edt.academic_year,edt.grade_code,edt.sims_appl_parameter_reg)"
                                            ng-options="item.sims_grade_code as item.sims_grade_name for item in obj3">
                                            <option value="">Please Select</option>
                                        </select>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="error-container"
                                            ng-show="myForm.Grade.$dirty && myForm.Grade.$invalid || myForm.$submitted">
                                            <small class="error"
                                                ng-show="myForm.Grade.$error.required">Grade is required.
                                            </small>
                                            <small class="error"
                                                ng-show="myForm.Grade.$error.minlength">Grade is required to be at least 1 characters
                                            </small>
                                            <small class="error"
                                                ng-show="myForm.Grade.$error.maxlength">Grade cannot be longer than 2 characters
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label>{{"Application Status"|translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <select id="cmb_registration" name="Grade" class="form-control select2-sm" ng-model="edt.sims_appl_parameter_reg"
                                            required ng-maxlength="2" ng-minlength="1" ng-change="GetInfo(edt.curr_code,edt.academic_year,edt.grade_code,edt.sims_appl_parameter_reg)"
                                            ng-options="item.sims_appl_parameter_reg as item.sims_appl_form_field_value1_reg for item in reg">
                                            <option value="">Please Select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <br />
                </div>
            </div>

            <div class="grid-body no-border" ng-show="display" style="margin-bottom: -20px">
                <div class="row">
                    <div class="col-md-3">
                        <div class="hpanel hbggreen">
                            <div class="panel-body">
                                <div class="text-center" ng-click="viewdashDetailsModal(edt.curr_code,edt.academic_year,edt.grade_code,'','','','','')">
                                    <h3>{{"Applicant"|translate}}</h3>
                                    <p class="text-big font-light" count-to="10" value="0" duration="0.3" ng-if="dashTiles[0].appl_count==undefined">0</p>
                                    <p class="text-big font-light" count-to="10" value="0" duration="0.3" ng-if="dashTiles[0].appl_count!=undefined">{{dashTiles[0].appl_count}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="hpanel hbgblue">
                            <div class="panel-body">
                                <div class="text-center" ng-click="viewdashDetailsModal(edt.curr_code,edt.academic_year,edt.grade_code,'C','','','','')">
                                    <h3>{{"Approved"|translate}}</h3>
                                    <p class="text-big font-light" count-to="10" value="0" duration="0.3" ng-if="dashTiles[0].completed_cnt==undefined">0</p>
                                    <p class="text-big font-light" count-to="5" value="0" duration="0.3">{{dashTiles[0].completed_cnt}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="hpanel hbgyellow">
                            <div class="panel-body">
                                <div class="text-center" ng-click="viewdashDetailsModal(edt.curr_code,edt.academic_year,edt.grade_code,'R','','','','')">
                                    <h3>{{"Rejected"|translate}}</h3>
                                    <p class="text-big font-light" ng-if="dashTiles[0].rejected_cnt==undefined">0</p>
                                    <p class="text-big font-light">{{dashTiles[0].rejected_cnt}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="hpanel hbgred">
                            <div class="panel-body">
                                <div class="text-center" style="height:50%;display:flex;background:black;margin-bottom: 5px;" >
                                    <div style="width:50%;height:100%;padding:5px;margin:1px;background:peru;margin-right:2px;cursor:pointer" ng-click="showPaid()">
                                        Paid
                                        <br />{{dashTiles[0].waiting_paid}}
                                    </div>
                                    <div style="width:50%;height:100%;padding:5px;margin:1px;background:peru;cursor:pointer" ng-click="showUnPaid()">
                                        UnPaid
                                            <br />{{dashTiles[0].waiting_unpaid}}
                                    </div>
                                </div>
                                <div class="text-center" ng-click="viewdashDetailsModal(edt.curr_code,edt.academic_year,edt.grade_code,'W','','','','')"  style="height:50%;border: 1px #1b1e24 solid;">
                                    <div style="padding:10px;font-size:initial">{{"Waiting"|translate}}</div>
                                    <p class="text-big font-light" style="font-size:30px" ng-if="dashTiles[0].waiting_cnt==undefined">0</p>
                                    <p class="font-light" style="font-size:30px">{{dashTiles[0].waiting_cnt}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="hpanel">
                            <div class="panel-body">
                                <div class="stats-title">
                                    <h4>{{"Employee Code"|translate}}</h4>
                                </div>
                                <div  ng-click="getEmpDetails()">
                                    <p style="text-align: center" class="text-big font-light" ng-if="empCnt_details[0].empcode_cnt==undefined">0</p>
                                    <p style="text-align: center" class="text-big font-light">{{empCnt_details[0].empcode_cnt}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="hpanel">
                            <div class="panel-body">
                                <div class="stats-title pull-left">
                                    <h4>{{"Gender"|translate}}</h4>
                                </div>
                                <div>
                                    <canvas id="doughnut" class="chart chart-doughnut" chart-click="onClick" chart-data="data" chart-labels="labels"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <!-- style="height:500px !important"-->
                        <div class="hpanel">
                            <div class="panel-body">
                                <div class="stats-title pull-left">
                                    <h4>{{"Nationality"|translate}}</h4>
                                </div>
                                <div>
                                    <canvas id="pie" class="chart chart-pie" chart-type="type" chart-data="chartData" chart-labels="chartLabels" chart-legend="true" chart-click="onClickSlice"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="hpanel">
                            <div class="panel-body">
                                <div class="stats-title">
                                    <h4>{{"Sibling Enroll"|translate}}</h4>
                                </div>
                                <div  ng-click="getSiblingDetails()">
                                    <p style="text-align: center" class="text-big font-light" ng-if="siblingCnt_details[0].siblingNo_cnt==undefined">0</p>
                                    <p style="text-align: center" class="text-big font-light">{{siblingCnt_details[0].siblingNo_cnt}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="viewdashDetailsModal" ng-style="style">
        <!--tabindex="-1"-->
        <div class="modal-dialog" id="Div20" style="width: 100%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="Cancel()"><span aria-hidden="true">&times;</span></button>
                    <h5 class="semi-bold pull-left">{{"Dashboard Details"| translate }}</h5>
                    <br />
                </div>
                <div class="modal-body" style="background-color: white;">
                    <div class="loading" style="font-weight: bold; font-size: 20px; color: black;" ng-hide="display">
                        {{ "Loading..." | translate }}
                    </div>
                    <div class="grid-body no-border" ng-show="maingrid1">
                        <div class="row form-row">
                            <div class="col-md-12">
                                <div class="pull-left">
                                    <input type="text" style="width: 100%" aria-controls="example" placeholder="Admission No./ Student Name" ng-model="search.$" class="input-medium" autofocus="autofocus"></label>
                              <!-- <input type="text" style="width:100%" aria-controls="example" ng-model="searchText" placeholder="Admission No./ Student Name" class="input-medium" autofocus="autofocus" tabindex="1" ng-change="search()">-->
                                </div>
                                <div class="pull-right">
                                    <button class="btn btn-primary btn-small" id="btn_communicate" type="button" ng-click="getCommunicate()">
                                        {{"Communicate"|translate}}
                                 <i class="fa fa-wechat"></i>
                                    </button>
                                    &nbsp;
                            <button class="btn btn-success btn-small" id="btn_prospect" type="button" ng-disabled="btn_prospect" ng-click="getPromote()">
                                {{"Confirm and Promote"|translate}}
                                 <i class="fa fa-check"></i>
                            </button>
                                    &nbsp;
                               <button class="btn btn-danger btn-small" id="btn_reject" type="button" ng-disabled="btn_reject" ng-click="getReject()">
                                   {{"Reject"|translate}}
                                 <i class="fa fa-times"></i>
                               </button>
                                    &nbsp;
                               <button class="btn btn-danger btn-small" id="btn_Export" type="button"  ng-click="exportData()">
                                   {{"Export"|translate}}
                                 <i class="fa fa-times"></i>
                               </button>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <br />

                        </div>

                    </div>

                    <div class="grid-body no-border" ng-show="maingrid1">
                        <div id="Div21" class="dataTables_wrapper form-inline">

                            <div class="row">
                                <div class="col-md-12">
                                    <div style="height: 350px; overflow-x: auto; overflow-y: auto">
                                        <table class="table table-hover table-bordered table-condensed" id="fixedtable">
                                            <thead>
                                                <tr bgcolor="#E0E0E">
                                                    <th>{{"Print"|translate}}</th>
                                                    <th><b>&nbsp;</b></th>

                                                    <th><b>{{ "Docs." | translate }} </b></th>
                                                    <th class="small-cell v-align-middle"><b><i class="fa fa-cogs" style="font-size: large"></i></b></th>
                                                    <th><b>{{ "Marks" | translate }} </b></th>
                                                    <th class="small-cell v-align-middle"><b><i class="fa fa-cogs" style="font-size: large"></i></b></th>
                                                    <th class="small-cell v-align-middle" style="z-index: 999">
                                                        <div class="checkbox check-success">
                                                            <input type="checkbox" name="check" value="1" id="mainchk" ng-click="check();">
                                                            <label for="mainchk"></label>
                                                        </div>
                                                    </th>
                                                    <th class="div_th" ng-click="sortBy('admission_number')">
                                                         <b>{{ "Admission Number" | translate }} </b>
                                                    <span class="sortorder" ng-show="propertyName === 'admission_number'" ng-class="{reverse: reverse}"></span>
                                                    </th>

                                                    <th class="div_th" ng-click="sortBy('admission_date')">
                                                        <b> {{ "Admission Date" | translate }}  </b>
                                                        <span class="sortorder" ng-show="propertyName === 'admission_date'" ng-class="{reverse: reverse}"></span>
                                                    </th>
                                                    <th class="div_th" ng-click="sortBy('stud_full_name')">
                                                        <b>{{ "Student Name" | translate }}</b>
                                                        <span class="sortorder" ng-show="propertyName === 'stud_full_name'" ng-class="{reverse: reverse}"></span>
                                                    </th>


                                                    <th class="div_th" ng-click="sortBy('fatherName')">
                                                        <b>{{ "Parent Name" | translate }}</b>
                                                        <span class="sortorder" ng-show="propertyName === 'fatherName'" ng-class="{reverse: reverse}"></span>
                                                    </th>

                                                    <th class="div_th" ng-click="sortBy('grade_name')">
                                                    <b>{{ "Grade" | translate }}</b>
                                                    <span class="sortorder" ng-show="propertyName === 'grade_name'" ng-class="{reverse: reverse}"></span>
                                                    </th>


                                                    <th class="div_th" ng-click="sortBy('feepaid')">
                                                        <b>{{ "Fee Paid" | translate }}</b>
                                                        <span class="sortorder" ng-show="propertyName === 'feepaid'" ng-class="{reverse: reverse}"></span>
                                                    </th>
                                                   


                                                  <!--  <th class="div_th" ng-click="sortBy('prospect_fee_status')">
                                                        <b>{{ "Prospect Status" | translate }}</b>
                                                        <span class="sortorder" ng-show="propertyName === 'prospect_fee_status'" ng-class="{reverse: reverse}"></span>
                                                    </th>-->

                                                    <th class="div_th" ng-click="sortBy('pros_num')">
                                                        <b>{{ "Prospect Number" | translate }}</b>
                                                        <span class="sortorder" ng-show="propertyName === 'pros_num'" ng-class="{reverse: reverse}"></span>
                                                    </th>

                                                   

                                                    <th class="div_th" ng-click="sortBy('gender')">
                                                        <b>{{ "Gender" | translate }}</b>
                                                        <span class="sortorder" ng-show="propertyName === 'gender'" ng-class="{reverse: reverse}"></span>
                                                    </th>


                                                    <th class="div_th" ng-click="sortBy('birth_date')">
                                                        <b>{{ "Birth Date" | translate }}</b>
                                                        <span class="sortorder" ng-show="propertyName === 'birth_date'" ng-class="{reverse: reverse}"></span>
                                                    </th>


                                                    <th class="div_th" ng-click="sortBy('sims_admission_dob')">
                                                    <b>{{ "Age" | translate }}</b>
                                                    <span class="sortorder" ng-show="propertyName === 'sims_admission_dob'" ng-class="{reverse: reverse}"></span>
                                                    </th>
                                                  
                                                    <th class="div_th" ng-click="sortBy('sims_admission_national_id')">
                                                    <b>{{ "National ID" | translate }}</b>
                                                    <span class="sortorder" ng-show="propertyName === 'sims_admission_national_id'" ng-class="{reverse: reverse}"></span>
                                                    </th>


                                                   <!-- <th class="div_th" ng-click="sortBy('communication_admi_date')">
                                                        <b>{{ "Comunication Date" | translate }}</b>
                                                        <span class="sortorder" ng-show="propertyName === 'communication_admi_date'" ng-class="{reverse: reverse}"></span>
                                                    </th>-->
                                                  
                                                    <th class="div_th" ng-click="sortBy('nation')">
                                                    <b>{{ "Nationality" | translate }}</b>
                                                    <span class="sortorder" ng-show="propertyName === 'nation'" ng-class="{reverse: reverse}"></span>
                                                    </th>


                                                    <th class="div_th"  ng-click="sortBy('sibling_enroll')">
                                                    <b>{{ "Sibling Enroll No." | translate }}</b>
                                                    <span class="sortorder" ng-show="propertyName === 'sibling_enroll'" ng-class="{reverse: reverse}"></span>
                                                    </th>


                                                    <th class="div_th" ng-click="sortBy('empl_code')">
                                                        <b>{{ "Employee Code" | translate }}</b>
                                                        <span class="sortorder" ng-show="propertyName === 'empl_code'" ng-class="{reverse: reverse}"></span>
                                                    </th>

                                                    <!-- <th class="div_th" ng-click="sortBy('sims_admission_management_quota')">
                                                        <b>{{ "Management Quota" | translate }}</b>
                                                        <span class="sortorder" ng-show="propertyName === 'sims_admission_management_quota'" ng-class="{reverse: reverse}"></span>
                                                    </th>

                                                    <th class="div_th" ng-click="sortBy('sims_admission_recommendation')">
                                                        <b>{{ "Recommendation" | translate }}</b>
                                                        <span class="sortorder" ng-show="propertyName === 'sims_admission_recommendation'" ng-class="{reverse: reverse}"></span>
                                                    </th>-->
                                                </tr>
                                            </thead>
                                            <tr ng-repeat="dashboard in dash_data|orderBy:propertyName:reverse" ng-class="row1">
                                                <td>
                                                    <div>
                                                        <span class="pull-xs-left" style="padding-left:5px"><a ng-click="printDetails(dashboard.admission_number)"><span class="btn btn-success btn-xs btn-mini" style="width:100%;background-color:#0082d4; color: #FFF">Print</span></a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <a><i class="fa fa-wechat" style="font-size: large; color: #0b9c8f" ng-click="getcommunicationhistory(dashboard.admission_number)"></i></a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a href="" style="color: blue" ng-click="UploadDocument(dashboard.admission_number)">{{dashboard.path_cnt}}/{{dashboard.criteria_cnt}}</a><!--Add-->
                                                </td>
                                                <td>
                                                    <div class="round-button" ng-if="dashboard.up_docsstatus=='N'">
                                                        <div class="round-button-circle" style="background: #D9534F"></div>
                                                        <!--red-->
                                                    </div>
                                                    <div class="round-button" ng-if="dashboard.up_docsstatus=='Y'">
                                                        <div class="round-button-circle" style="background: #5CB85C"></div>
                                                        <!--green-->
                                                    </div>
                                                </td>
                                                <td>
                                                    <a href="" style="color: blue" ng-click="screeningMarks(dashboard.admission_number)">Add</a>
                                                </td>
                                                <td>

                                                    <div class="round-button" ng-if="dashboard.up_marksstatus=='N'">
                                                        <div class="round-button-circle" style="background: #D9534F"></div>

                                                    </div>
                                                    <div class="round-button" ng-if="dashboard.up_marksstatus=='Y'">
                                                        <div class="round-button-circle" style="background: #5CB85C"></div>

                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="checkbox check-success" style="height: 20px">
                                                        <input type="checkbox" name="check" value="1" id="{{dashboard.admission_number}}" ng-model="dashboard.admission_number1" ng-click="check1(dashboard);">
                                                        <label for="{{dashboard.admission_number}}">
                                                        </label>
                                                    </div>
                                                </td>
                                                <td class="div_th">
                                                    <a href="" style="color: blue" ng-click="link(dashboard.admission_number)">{{dashboard.admission_number}}</a>
                                                </td>
                                                <td>
                                                    <div>{{dashboard.admission_date}}</div>
                                                </td>
                                                <td class="div_th">
                                                    <div>{{dashboard.stud_full_name}}</div>
                                                </td>
                                                <td class="div_th">
                                                    <div>{{dashboard.fatherName}}</div>
                                                </td>
                                                <td class="div_th">
                                                    <div>{{dashboard.grade_name}}</div>
                                                </td>
                                                <td class="div_th">
                                                    <div>{{dashboard.feepaid}}</div>
                                                </td>

                                                <!--<td class="div_th">
                                                    <div>{{dashboard.prospect_fee_status}}</div>
                                                </td>-->

                                                
                                                <td>
                                                    <div>{{dashboard.pros_num}}</div>
                                                </td>
                                                <td>
                                                    <div>{{dashboard.gender}}</div>
                                                </td>
                                                <td class="div_th">
                                                    <div>{{dashboard.birth_date}}</div>
                                                </td>


                                                <td class="div_th">
                                                    <div>{{dashboard.sims_admission_dob}}</div>
                                                </td>
                                                <td class="div_th">
                                                    <div>{{dashboard.sims_admission_national_id}}</div>
                                                </td>
                                                <!--<td class="div_th">
                                                    <div>{{dashboard.communication_admi_date}}</div>
                                                </td>-->

                                                <td>
                                                    <div>{{dashboard.nation}}</div>
                                                </td>
                                                <td>
                                                    <div>{{dashboard.sibling_enroll}}</div>
                                                </td>
                                                <td>
                                                    <div>{{dashboard.empl_code}}</div>
                                                </td>
                                                <!-- <td>
                                                    <div>{{dashboard.sims_admission_management_quota}}</div>
                                                </td>
                                                <td>
                                                    <div>{{dashboard.sims_admission_recommendation}}</div>
                                                </td>-->
                                            </tr>

                                        </table>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>

                    <div class="grid-body no-border" ng-show="Screening">
                        <div id="Div8" class="dataTables_wrapper form-inline">

                            <div class="row">
                                <div class="modal-header">
                                    <h5 class="semi-bold pull-left" style="margin-top: -7px">{{"Screening Marks"| translate }}</h5>
                                </div>
                            </div>
                            <div class="row">
                                <br />
                            </div>
                            <div class="row" ng-show="notshow">
                                <div class="col-xs-4">
                                    <div class="well" class="form-group">
                                        <div class="form-group">
                                            <label>Current Page:</label>
                                            <input
                                                placeholder="page"
                                                class="form-control"
                                                ng-model="currentPage2"
                                                ng-init="currentPage2 = 1" />
                                        </div>
                                        <div class="form-group">
                                            <label>Page Size:</label>
                                            <input
                                                placeholder="Page Size"
                                                class="form-control"
                                                ng-model="numPerPage2" />
                                        </div>
                                        <div class="form-group">
                                            <label>Total Items:</label>
                                            <input
                                                placeholder="Total"
                                                class="form-control"
                                                ng-model="pagersize2" />
                                        </div>
                                        <hr />
                                        <div class="form-group">
                                            <label>Dots Display:</label>
                                            <input
                                                placeholder="..."
                                                class="form-control"
                                                maxlength="3"
                                                ng-model="dots2"
                                                ng-init="dots2 = '...'" />
                                        </div>

                                        <hr />
                                        <div class="form-group">
                                            <label>UL Class:</label>
                                            <input
                                                placeholder="pagination"
                                                class="form-control"
                                                maxlength="100"
                                                ng-model="ulClass2" />
                                        </div>
                                        <div class="form-group">
                                            <label>Active Class:</label>
                                            <input
                                                placeholder="active"
                                                class="form-control"
                                                maxlength="100"
                                                ng-model="activeClass2"
                                                ng-init="activeClass2 = 'active'" />
                                        </div>
                                        <div class="form-group">
                                            <label>Disabled Class:</label>
                                            <input
                                                placeholder="disabled"
                                                class="form-control"
                                                maxlength="100"
                                                ng-model="disabledClass2"
                                                ng-init="disabledClass2 = 'disabled'" />
                                        </div>
                                        <br />
                                        <table class="table">

                                            <tr>
                                                <td>
                                                    <label>Show Prev Next:</label></td>
                                                <td>
                                                    <input
                                                        type="checkbox"
                                                        ng-model="showPrevNext2"
                                                        ng-init="showPrevNext2 = true" />
                                                    {{showPrevNext}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Show First Last:</label></td>
                                                <td>
                                                    <input
                                                        type="checkbox"
                                                        ng-model="showFirstLast2"
                                                        ng-init="showFirstLast2 = true" />
                                                    {{showPrevNext}}
                                                </td>
                                            </tr>
                                        </table>
                                        <hr />
                                        <span class="btn btn-default" onclick="location.reload()">
                                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                                        </span>
                                        <span class="btn btn-success" ng-click="currentPage2 = 0">Apply Settings
                                        </span>
                                        <br />
                                        <br />
                                    </div>
                                </div>
                            </div>

                            <div class="grid-body no-border">

                                <div class="row form-row">
                                    <div class="col-md-6">
                                        <div class="pull-left">
                                            <select id="Select4" style="width: 65px" name="user" ng-model="pagesize2" ng-change="size2(pagesize2)">

                                                <option value="5" class=" form-control input-sm">5
                                                </option>

                                                <option value="10" class=" form-control input-sm">10
                                                </option>

                                                <option value="15" class=" form-control input-sm">15
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="pull-right">
                                            <div class="dataTables_filter" id="Div5">
                                                {{"Search:"|translate}}&nbsp;
                                     <input type="text" aria-controls="example" ng-model="searchText2" placeholder="Criteria Name" class="input-medium" autofocus="autofocus" tabindex="1" ng-change="search2()">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="Div3" class="dataTables_wrapper form-inline" style="width: 100%; height: 300px; overflow-x: auto; overflow-y: auto">
                                    <table class="table table-hover table-bordered  table-condensed dataTable" aria-describedby="example2_info">
                                        <thead>
                                            <tr bgcolor="#E0E0E">
                                                <!--  <th class="td">{{"Criteria Code"| translate }}</th>-->
                                                <th class="div_th">{{"Criteria"| translate }}</th>
                                                <th class="div_th">{{"Out Of Marks"| translate }}</th>
                                                <th class="div_th">{{"Marks"| translate }}</th>
                                                <th class="div_th">{{"Rating"| translate }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="Mark in filteredTodos2" ng-class="row1">
                                                <!--  <td class="td">{{Mark.sims_admission_criteria_code}}</td>-->
                                                <td class="div_th">{{Mark.sims_criteria_name_en}}</td>
                                                <td class="td">{{Mark.sims_marks}}</td>
                                                <td class="td">
                                                    <input type="text" class="form-control input-sm" id="txt_marks" name="txt_marks" ng-model="Mark.sims_admission_marks">
                                                </td>
                                                <td class="td">
                                                    <input type="text" class="form-control input-sm" id="txt_rating" name="txt_rating" ng-model="Mark.sims_admission_rating">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="row">
                                    <div class="pull-right">
                                        <div>
                                            <paging class="small" page="currentPage2" page-size="pageSize2" total="pagersize2" pg-href="#GotoPage-{page2}" dots="{{dots2}}" show-prev-next="{{showPrevNext2}}"
                                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass2}}" active-class="{{activeClass2}}" disabled-class="{{disabledClass2}}" show-first-last="{{showFirstLast2}}"
                                                paging-action="DoCtrlPagingAct('Paging Clicked', page2, pageSize2, totalItems2)"
                                                ng-click="index2(currentPage2)">
                                </paging>
                                        </div>
                                        <br />
                                        <div>
                                            <button class="btn btn-success btn-cons" type="submit" ng-click="screeningModal_Cancel()">{{ "Save" | translate }}</button>

                                            &nbsp;
                                    <button class="btn btn-warning btn-cons" type="button" ng-click="screeningModal_Reset()">{{ "Reset" | translate }}</button>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="grid-body no-border" ng-show="Upload_doc">
                        <div id="Div11" class="dataTables_wrapper form-inline">

                            <div class="row">
                                <div class="modal-header">
                                    <h5 class="semi-bold pull-left" style="margin-top: -7px">{{"Upload Documents"| translate }}</h5>
                                </div>
                            </div>
                            <div class="row">
                                <br />
                            </div>
                            <div class="row" ng-show="notshow">
                                <div class="col-xs-4">
                                    <div class="well" class="form-group">
                                        <div class="form-group">
                                            <label>Current Page:</label>
                                            <input
                                                placeholder="page"
                                                class="form-control"
                                                ng-model="currentPage3"
                                                ng-init="currentPage3 = 1" />
                                        </div>
                                        <div class="form-group">
                                            <label>Page Size:</label>
                                            <input
                                                placeholder="Page Size"
                                                class="form-control"
                                                ng-model="numPerPage3" />
                                        </div>
                                        <div class="form-group">
                                            <label>Total Items:</label>
                                            <input
                                                placeholder="Total"
                                                class="form-control"
                                                ng-model="pagersize3" />
                                        </div>
                                        <hr />
                                        <div class="form-group">
                                            <label>Dots Display:</label>
                                            <input
                                                placeholder="..."
                                                class="form-control"
                                                maxlength="3"
                                                ng-model="dots3"
                                                ng-init="dots3 = '...'" />
                                        </div>

                                        <hr />
                                        <div class="form-group">
                                            <label>UL Class:</label>
                                            <input
                                                placeholder="pagination"
                                                class="form-control"
                                                maxlength="100"
                                                ng-model="ulClass3" />
                                        </div>
                                        <div class="form-group">
                                            <label>Active Class:</label>
                                            <input
                                                placeholder="active"
                                                class="form-control"
                                                maxlength="100"
                                                ng-model="activeClass3"
                                                ng-init="activeClass3 = 'active'" />
                                        </div>
                                        <div class="form-group">
                                            <label>Disabled Class:</label>
                                            <input
                                                placeholder="disabled"
                                                class="form-control"
                                                maxlength="100"
                                                ng-model="disabledClass3"
                                                ng-init="disabledClass3 = 'disabled'" />
                                        </div>
                                        <br />
                                        <table class="table">

                                            <tr>
                                                <td>
                                                    <label>Show Prev Next:</label></td>
                                                <td>
                                                    <input
                                                        type="checkbox"
                                                        ng-model="showPrevNext3"
                                                        ng-init="showPrevNext3 = true" />
                                                    {{showPrevNext}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Show First Last:</label></td>
                                                <td>
                                                    <input
                                                        type="checkbox"
                                                        ng-model="showFirstLast3"
                                                        ng-init="showFirstLast3 = true" />
                                                    {{showPrevNext}}
                                                </td>
                                            </tr>
                                        </table>
                                        <hr />
                                        <span class="btn btn-default" onclick="location.reload()">
                                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                                        </span>
                                        <span class="btn btn-success" ng-click="currentPage3 = 0">Apply Settings
                                        </span>
                                        <br />
                                        <br />
                                    </div>
                                </div>
                            </div>

                            <div class="grid-body no-border">
                                <div class="row form-row">
                                    <div class="col-md-6">
                                        <div class="pull-left">
                                            <select id="Select3" style="width: 65px" name="user" ng-model="pagesize3" ng-change="size3(pagesize3)">
                                                <option value="5" class=" form-control input-sm">5
                                                </option>
                                                <option value="10" class=" form-control input-sm">10
                                                </option>
                                                <option value="15" class=" form-control input-sm">15
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="pull-right">
                                            <div class="dataTables_filter" id="Div12">
                                                {{"Search:"|translate}}&nbsp;
                                            <input type="text" aria-controls="example" ng-model="searchText3" placeholder="Criteria Name" class="input-medium" autofocus="autofocus" tabindex="1" ng-change="search3()">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div id="Div13" class="dataTables_wrapper form-inline">
                                    <div style="width: 100%; height: 300px; overflow-x: auto; overflow-y: auto">
                                        <table class="table table-hover table-bordered  table-condensed dataTable" aria-describedby="example2_info">
                                            <thead>
                                                <tr bgcolor="#E0E0E">
                                                    <th class="td">{{"Criteria"| translate }}</th>
                                                    <th class="td">{{"File Name"| translate }}</th>
                                                    <th class="td">{{"Action"| translate }}</th>
                                                    <th class="td">{{"Status"| translate }}</th>
                                                    <th class="td">{{"Verify"| translate }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="Upload_doc in filteredTodos3" ng-class="row1">
                                                    <td class="td">{{Upload_doc.sims_criteria_name_en}}</td>
                                                    <td class="td">
                                                        <div ng-repeat=" sims_admission_doc_path in Upload_doc.path">
                                                            <a href="{{docurl}}/Docs/Student/{{sims_admission_doc_path}}" target="_new">{{sims_admission_doc_path}}</a><!---->
                                                            <div class="fa fa-times" ng-if="sims_admission_doc_path!=''" ng-click="doc_delete(sims_admission_doc_path,Upload_doc.sims_criteria_code,Upload_doc.admis_num)"></div>
                                                        </div>
                                                    </td>
                                                    <td class="td" ng-if="Upload_doc.sims_criteria_code!=Upload_doc_datails[$index-1].sims_criteria_code">
                                                        <input type="file" id="file1" name="file" accept="application/pdf" onchange="angular.element(this).scope().file_changed(this)"
                                                            ng-files="getTheFiles($files)" required style="float: initial; width: 120px; display: none" />
                                                        <a href="" class="label label-important " type="button" ng-if="Upload_doc.sims_admission_doc_path==''" ng-click="uploadClick(Upload_doc)" onclick="document.getElementById('file1').click();"><i class="fa fa-cloud-upload"></i>Upload</a>
                                                        <a href="" class="label label-important " type="button" ng-if="Upload_doc.sims_admission_doc_path!=''" ng-click="uploadClick(Upload_doc)" onclick="document.getElementById('file1').click();"><i class="fa fa-cloud-upload"></i>Add Another Document</a>
                                                    </td>

                                                    <td class="td" ng-if="Upload_doc.sims_criteria_code==Upload_doc_datails[$index-1].sims_criteria_code">&nbsp;</td>
                                                    <td>
                                                        <div class="checkbox check-success" id="div_sims_admission_doc_status" style="height: 20px">
                                                            <input type="checkbox" name="chk1" value="{{+$index}}" id="{{+$index}}" ng-model="Upload_doc.sims_admission_doc_status"><!--ng-click="check1(Upload_doc);"-->
                                                            <label for="{{+$index}}">
                                                            </label>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <div class="checkbox check-success" id="div_sims_admission_doc_verify" style="height: 20px">
                                                            <input type="checkbox" name="check" value="1" id="{{Upload_doc.sims_criteria_code+$index}}" ng-model="Upload_doc.sims_admission_doc_verify">
                                                            <label for="{{Upload_doc.sims_criteria_code+$index}}">
                                                            </label>
                                                        </div>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="pull-right">
                                        <div>
                                            <paging class="small" page="currentPage3" page-size="pageSize3" total="pagersize3" pg-href="#GotoPage-{page}" dots="{{dots3}}" show-prev-next="{{showPrevNext3}}"
                                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass3}}" active-class="{{activeClass3}}" disabled-class="{{disabledClass3}}" show-first-last="{{showFirstLast3}}"
                                                paging-action="DoCtrlPagingAct('Paging Clicked', page3, pageSize3, totalItems3)"
                                                ng-click="index3(currentPage3)">
                               </paging>
                                        </div>
                                        <br />
                                        <div>

                                            <button class="btn btn-success btn-cons" type="submit" ng-click="add_upload_doc()">{{ "Save" | translate }}</button>

                                            &nbsp;
                                    <button class="btn btn-warning btn-cons" type="button" ng-click="UploadDocModal_Reset()">{{ "Reset" | translate }}</button>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <br />

                        </div>
                    </div>

                    <div class="grid-body no-border" ng-show="div_Communication">
                        <div id="Div15" class="dataTables_wrapper form-inline">
                            <div class="row">
                                <div class="modal-header">
                                    <h5 class="semi-bold pull-left" style="margin-top: -7px">{{"Communication"| translate }}</h5>
                                </div>
                            </div>
                            <div class="row">
                                <br />
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <div class="row form-row">
                                                        <label class="form-label-sm">{{ "Select" | translate }}</label>
                                                        <select id="Select5" name="grade"
                                                            ng-model="email.sims_msg_subject" style="width: 90%" class="form-control select-sm" ng-change="getbody(email.sims_msg_subject)">
                                                            <option value="">Template</option>
                                                            <option ng-repeat="k in template_data" value="{{k.sims_msg_subject}}">{{k.sims_msg_subject}}
                                                            </option>
                                                        </select>

                                                        <!--</div>-->
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row form-row">

                                                        <label class="form-label-sm">{{ "CC To" | translate }}</label>

                                                        <input style="margin-bottom: 10px; width: 100%" class="form-control input-sm" ng-model="email.ccTo" style="width: 100%" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                            <div class="col-md-12">
                                          <label class="form-label-sm">{{ "Description" | translate }}</label>
                                                 <div class="grid simple" style="display: -webkit-box; margin-top: 0px;">
                                                    <div class="tools">
                                                        <a href="javascript:;" class="collapse"></a>
                                                        <a href="#grid-config" data-toggle="modal" class="config"></a>
                                                        <a href="javascript:;" class="reload"></a>
                                                        <a href="javascript:;" class="remove"></a>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <textarea id="text-editor" style="width: 100%" name="editor" data-bind="wysihtml5: $data.ExampleText" required placeholder="Enter text ..." class="form-control" rows="8" style="text-align: left; width: 100%" ng-model="email.msgbody"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-6">
                                            <button class="btn btn-success btn-cons" ng-click="sendMail()"><b>Send Mail</b></button>
                                            <button class="btn btn-warning btn-cons" ng-click="commnModaldisplay()"><b>Cancel</b></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">


                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <div style="width: 100%; height: 300px; overflow-x: auto; overflow-y: auto">
                                                    <table class="table table-bordered table-condensed dataTable" aria-describedby="example2_info">

                                                        <tr ng-repeat="email in emailId_data" ng-class="row1">
                                                            <td class="small-cell v-align-middle">
                                                                <div class="checkbox check-success" style="height: 20px">
                                                                    <input type="checkbox" name="check" value="1" id="chkid" ng-model="email.chk_email">
                                                                    <label for="chkid">
                                                                    </label>
                                                                </div>
                                                            </td>
                                                            <td class="td">{{email.emailid}}
                                                &nbsp;&nbsp;<div class="fa fa-times" ng-if="email.emailid!=''" ng-click="CancelEmailId($index)"></div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="Div17" class="dataTables_wrapper form-inline" ng-show="div_CommunicationHist">
                        <div class="grid-body no-border" ng-show="display1">
                            <form name="myForm1" ng-submit="Save(myForm1.$valid)" novalidate="novalidate">
                                <!---->
                                <div class="row" ng-show="notshow">
                                    <div class="col-xs-4">
                                        <div class="well" class="form-group">
                                            <div class="form-group">
                                                <label>Current Page:</label>
                                                <input
                                                    placeholder="page"
                                                    class="form-control"
                                                    ng-model="currentPage4"
                                                    ng-init="currentPage4 = 1" />
                                            </div>
                                            <div class="form-group">
                                                <label>Page Size:</label>
                                                <input
                                                    placeholder="Page Size"
                                                    class="form-control"
                                                    ng-model="numPerPage4" />
                                            </div>
                                            <div class="form-group">
                                                <label>Total Items:</label>
                                                <input
                                                    placeholder="Total"
                                                    class="form-control"
                                                    ng-model="pagersize4" />
                                            </div>
                                            <hr />
                                            <div class="form-group">
                                                <label>Dots Display:</label>
                                                <input
                                                    placeholder="..."
                                                    class="form-control"
                                                    maxlength="3"
                                                    ng-model="dots4"
                                                    ng-init="dots4 = '...'" />
                                            </div>

                                            <hr />
                                            <div class="form-group">
                                                <label>UL Class:</label>
                                                <input
                                                    placeholder="pagination"
                                                    class="form-control"
                                                    maxlength="100"
                                                    ng-model="ulClass4" />
                                            </div>
                                            <div class="form-group">
                                                <label>Active Class:</label>
                                                <input
                                                    placeholder="active"
                                                    class="form-control"
                                                    maxlength="100"
                                                    ng-model="activeClass4"
                                                    ng-init="activeClass4 = 'active'" />
                                            </div>
                                            <div class="form-group">
                                                <label>Disabled Class:</label>
                                                <input
                                                    placeholder="disabled"
                                                    class="form-control"
                                                    maxlength="100"
                                                    ng-model="disabledClass4"
                                                    ng-init="disabledClass4 = 'disabled'" />
                                            </div>
                                            <br />
                                            <table class="table">

                                                <tr>
                                                    <td>
                                                        <label>Show Prev Next:</label></td>
                                                    <td>
                                                        <input
                                                            type="checkbox"
                                                            ng-model="showPrevNext4"
                                                            ng-init="showPrevNext4 = true" />
                                                        {{showPrevNext}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>Show First Last:</label></td>
                                                    <td>
                                                        <input
                                                            type="checkbox"
                                                            ng-model="showFirstLast4"
                                                            ng-init="showFirstLast4 = true" />
                                                        {{showPrevNext}}
                                                    </td>
                                                </tr>
                                            </table>
                                            <hr />
                                            <span class="btn btn-default" onclick="location.reload()">
                                                <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                                            </span>
                                            <span class="btn btn-success" ng-click="currentPage4 = 0">Apply Settings
                                            </span>
                                            <br />
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-2">
                                                <div class="row form-row">
                                                    <div class="col-md-12">
                                                        <label class="form-label-sm">{{ "Communication Method" | translate }}</label>
                                                    </div>
                                                    <div class="col-md-12" ng-class="{'has-error': !myForm1.cmb_method.$valid && (myForm1.cmb_method.$touched || myForm1.$submitted) }">
                                                        <select id="cmb_method" name="cmb_method" class="form-control select2-sm"
                                                            ng-model="temp.comm_method" required style="margin-bottom: 2px; width: 100%">
                                                            <option value="">Please Select</option>
                                                            <option ng-repeat="k in method_data" value="{{k.comm_method}}">{{k.comm_mode_desc}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="error-container"
                                                            ng-show="myForm1.cmb_method.$dirty && myForm1.cmb_method.$invalid || myForm1.$submitted">
                                                            <small class="help-block"
                                                                ng-show="myForm1.cmb_method.$error.required && (myForm1.cmb_method.$touched || myForm1.$submitted)">This Field is required.
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="row form-row">
                                                    <div class="col-md-12">
                                                        <label class="form-label-sm">{{ "Date" | translate }}</label>
                                                    </div>
                                                    <div class="col-md-10" ng-class="{'has-error': !myForm1.dp_admdate.$valid && (myForm1.dp_admdate.$touched || myForm1.$submitted) }">
                                                        <div class="input-append success date col-md-4 no-padding" data-datepicker="true" style="width: auto; z-index: 9999">
                                                            <input type="text" id="dp_admdate" style="width: 100%" placeholder="Select Date" name="dp_admdate" required class="form-control input-sm" ng-model="temp.comm_date">
                                                            <span class="add-on" style="height: 30px; padding-top: 0px"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="error-container"
                                                            ng-show="myForm1.dp_admdate.$dirty && myForm1.dp_admdate.$invalid || myForm1.$submitted">
                                                            <small class="help-block"
                                                                ng-show="myForm1.dp_admdate.$error.required && (myForm1.dp_admdate.$touched || myForm1.$submitted)">This Field is required.
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row form-row">
                                                <div class="col-md-6">
                                                    <div class="col-md-12">
                                                        <label class="form-label-sm">{{ "Description" | translate }}</label>
                                                    </div>
                                                    <div class="col-md-12" ng-class="{'has-error': !myForm1.txt_desc.$valid && (myForm1.txt_desc.$touched || myForm1.$submitted) }">
                                                        <textarea id="Textarea1" name="txt_desc" placeholder="Enter text ..." class="form-control" required maxlength="200" rows="3" style="text-align: left; width: 100%; resize: none" ng-model="temp.comm_desc"></textarea>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="error-container"
                                                            ng-show="myForm1.txt_desc.$dirty && myForm1.txt_desc.$invalid || myForm1.$submitted">
                                                            <small class="help-block"
                                                                ng-show="myForm1.txt_desc.$error.required && (myForm1.txt_desc.$touched || myForm1.$submitted)">This Field is required.
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row form-row">
                                                <div class="col-md-6">
                                                    <div class="col-md-12">
                                                        <label class="form-label-sm">{{ "Enquirer Remark" | translate }}</label>
                                                    </div>
                                                    <div class="col-md-12" ng-class="{'has-error': !myForm1.txt_enqRemark.$valid && (myForm1.txt_enqRemark.$touched || myForm1.$submitted) }">
                                                        <textarea id="Textarea2" name="txt_enqRemark" required placeholder="Enter text ..." class="form-control" maxlength="200" rows="3" style="text-align: left; width: 100%; margin-bottom: 0px; resize: none" ng-model="temp.enq_rem"></textarea>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="error-container"
                                                            ng-show="myForm1.txt_enqRemark.$dirty && myForm1.txt_enqRemark.$invalid || myForm1.$submitted">
                                                            <small class="help-block"
                                                                ng-show="myForm1.txt_enqRemark.$error.required && (myForm1.txt_enqRemark.$touched || myForm1.$submitted)">This Field is required.
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <div class="col-md-12">
                                                        <label class="form-label">{{ "Status" | translate }}</label>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="checkbox check-success" style="height: 20px">
                                                            <input type="checkbox" value="1" name="Checkbox2" id="Checkbox2" title="Status" ng-model="temp.status">
                                                            <label for="Checkbox2" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <br />
                                    </div>

                                </div>
                                <div class="row">

                                    <div class="pull-right">
                                        <button class="btn btn-success btn-cons" type="submit">Ok</button><!---->
                                        <button class="btn btn-warning btn-cons" ng-click="commcancel_btn()" type="button"><b>Cancel</b></button><!---->
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="grid-body no-border" ng-show="grid1">
                            <div class="row">
                                <div class="modal-header">
                                    <h5 class="semi-bold pull-left" style="margin-top: -7px">{{"Communication History"| translate }}</h5>
                                </div>
                            </div>
                            <div class="row">
                                <br />
                            </div>

                            <div class="row form-row">
                                <div class="col-md-6">
                                    <div class="pull-left">
                                        <select id="Select7" style="width: 65px" name="user" ng-model="pagesize4" ng-change="size4(pagesize4)">

                                            <option value="5" class=" form-control input-sm">5
                                            </option>

                                            <option value="10" class=" form-control input-sm">10
                                            </option>

                                            <option value="15" class=" form-control input-sm">15
                                            </option>
                                        </select>
                                    </div>
                                    &nbsp;
                            <button class="btn btn-success" style="height: 35px" type="button" ng-click="New()" ng-show="false"><span class="semi-bold">+&nbsp;</span>{{"New"|translate}}</button>
                                    &nbsp;
                                  <button class="btn btn-warning" style="height: 35px" type="button" ng-click="CommHist_Cancel()">{{"Reset"|translate}}</button>
                                </div>
                                <div class="col-md-6">
                                    <div class="pull-right">
                                        <div class="dataTables_filter" id="Div18">
                                            {{"Search:"|translate}}&nbsp;
                                      <input type="text" aria-controls="example" ng-model="searchText4" placeholder="Description/Date" class="input-medium" autofocus="autofocus" tabindex="1" ng-change="search4()"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <br />
                            </div>

                            <div id="Div19" class="dataTables_wrapper form-inline">
                                <div style="width: 100%; height: 260px; overflow-x: scroll; overflow-y: scroll">
                                    <table class="table table-hover table-bordered  table-condensed dataTable" aria-describedby="example2_info" id="fixedtable4">
                                        <thead>
                                            <tr bgcolor="#E0E0E">
                                                <th class="div_th">{{"Admission No"| translate }}</th>
                                                <th class="div_th">{{"Communication Method"| translate }}</th>
                                                <th class="div_th">{{"Date"| translate }}</th>
                                                <th class="div_th">{{"Description"| translate }}</th>
                                                <th class="div_th">{{"Enquirer Remark"| translate }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="comm in filteredTodos4" ng-class="row1">
                                                <td class="div_th">{{comm.admis_num}}</td>
                                                <td class="div_th">{{comm.comm_mode_desc}}</td>
                                                <td class="div_th">{{comm.comm_date}}</td>
                                                <td class="div_th">{{comm.comm_desc}}</td>
                                                <td class="div_th">{{comm.enq_rem}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="row">
                                    <div class="pull-right">
                                        <paging class="small" page="currentPage4" page-size="pageSize4" total="pagersize4" pg-href="#GotoPage-{page4}" dots="{{dots4}}" show-prev-next="{{showPrevNext4}}"
                                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass4}}" active-class="{{activeClass4}}" disabled-class="{{disabledClass4}}" show-first-last="{{showFirstLast4}}"
                                            paging-action="DoCtrlPagingAct('Paging Clicked', page4, pageSize4, totalItems4)"
                                            ng-click="index4(currentPage4)">
                      </paging>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/js/tabs_accordian.js" type="text/javascript"></script>
<script src="assets/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>
<script src="assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
<script src="assets/plugins/fileSaver.js"></script>


<!--  <script src="assets/js/Chart.min.js"></script>
    <script src="assets/js/jquery.flot.js"></script>
    <script src="assets/js/jquery.flot.resize.js"></script>
    <script src="assets/js/jquery.flot.pie.js"></script>
    <script src="assets/js/curvedLines.js"></script>
    <script src="assets/js/index.js"></script>-->
