﻿<!--<link href="assets/plugins/Minovate/Main.css" rel="stylesheet" />
<link href="assets/css/multiple-select.css" rel="stylesheet" />
<script src="assets/css/multiple-select.js"></script>-->

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="page-title">
                <h3><span class="semi-bold">{{"Admission Quota"|translate}} </span>&nbsp;{{"Recommendation"|translate}}</h3>
            </div>

            <div class="grid-body no-border">
                <div class="row">
                            <div class="col-md-2">
                                <label id="lbl_install" for="txt_full_name" class="form-label">{{"Curriculam"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                  <select id="Select3" data-role="dropdownlist" class="form-control input-sm"
                                        ng-model="temp1.sims_q_cur_code"
                                        ng-change="cur_change()"
                                        ng-options="dep.sims_q_cur_code as dep.sims_q_cur_name for dep in QuotaCur">
                                    <option value="">Please Select</option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <label id="Label1" for="txt_full_name" class="form-label">{{"Academic Year"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                  <select id="Select1" data-role="dropdownlist" class="form-control  input-sm"
                                        ng-model="temp1.sims_q_academic_year"
                                        ng-change="academic_change()"
                                        ng-options="dep.sims_q_academic_year as dep.sims_q_academic_desc for dep in QuotaAcademic">
                                    <option value="">Please Select</option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <label id="Label2" for="txt_full_name" class="form-label">{{"Quota"| translate }} <span class="asterisk" style="color: red">*</span></label>
                               <select id="Select4" data-role="dropdownlist" class="form-control  input-sm"
                                        ng-model="temp1.sims_quota_id"
                                        ng-change="quota_change(temp1.sims_quota_id,temp1)"
                                        ng-options="dep as dep.sims_quota_desc for dep in Quota">
                                    <option value="">Please Select</option>
                                </select>
                            </div>

                             <div class="col-md-2">
                                <label id="Label5" for="txt_full_name" class="form-label">{{"Grade"| translate }} <span class="asterisk" style="color: red">*</span></label>
                               <select id="Select2" data-role="dropdownlist" class="form-control  input-sm"
                                        ng-model="temp1.sims_q_grade_code"
                                        ng-options="dep.sims_q_grade_code as dep.sims_q_grade_desc for dep in QuotaGrade">
                                    <option value="">Please Select</option>
                                </select>
                            </div>
                             <div class="col-md-4">
                                  <label for="username">{{"Search"| translate }}<span style="font-size:11px;color:red">{{"( To search Enter Admisison No/ Student Name.)"| translate }}</span> </label>
                                  <input type="search" class="k-textbox input-sm full-width" id="search" ng-model="search_param"  placeholder="To search Enter Admisison No/ Student Name.">
                                  <p class="help-block mb-0"></p>
                              </div>
                           <!-- <div class="col-md-1">
                                <label id="Label5" for="txt_full_name" class="form-label">&nbsp;</label>
                                    <button type="submit" class="btn btn-primary btn-cons" ng-click="Show_Data()">{{"Search"|translate}}</button>
                            </div>-->
                    </div>
                    <div class="row">
                    <div class="col-md-12">
                        <label>&nbsp;</label>
                        <div class="pull-right">
                                    <button class="btn btn-primary btn-small" type="button"><span class="semi-bold"></span>{{"Recommendations Allowed :"| translate}} &nbsp; {{total_quota_strength}}</button>
                               &nbsp;
                                    <button class="btn btn-primary btn-small" type="button" ng-click="show_recommended_amds()"><span class="semi-bold"></span>{{"Recommended :"| translate}} &nbsp; {{total_recommended_seats}}</button>
                               &nbsp;
                                    <!--<button class="btn btn-orange" style="height: 35px" type="button" ng-click="show_recommended_amds()"><span class="semi-bold"></span>{{"Recommended :"| translate}} &nbsp; {{total_recommended_seats}}</button>-->
                                    <button class="btn btn-primary btn-small" type="button"><span class="semi-bold"></span>{{"Remaining Recommendations :"| translate}}  {{balance_recommended_seats}}</button>
                              &nbsp;
                                   <button class="btn btn-primary btn-small" type="button" ng-click="save()"><span class="semi-bold"></span>{{"Save"| translate}}</button>
                               &nbsp;
                                  <button type="submit" class="btn btn-success btn-small" ng-click="Show_Data()">{{"Search"|translate}}</button>
                                 &nbsp;
                                <button type="button" class="btn btn-warning btn-small" ng-click="Reset()">{{"Reset"| translate }}</button>
                            </div>
                        </div>
                    </div>


               <!-- <hr style="height:3px; border:none; color:cornflowerblue; background-color:cornflowerblue;">-->
                 
                 
                <div class="row margin-top">
                    <div class="col-md-6" >
                        <select id="Select12" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                           <!-- <option value="5" class="form-control input-sm">
                                5
                            </option>-->

                            <option value="10" class="form-control input-sm">
                                10
                            </option>

                            <option value="20" class="form-control input-sm">
                                20
                            </option>
                            <option value="All" class="form-control input-sm">
                               All
                            </option>
                        </select>
                    </div>

                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="Div1">
                              <!--  <label>
                                    {{"Search"| translate}}  &nbsp;
                                    <input type="text" placeholder="Search" aria-controls="example" ng-model="searchText" class="k-textbox input-sm" ng-change="search();">
                                </label>-->

                                 <!-- <label>
                                    {{ "Search:" | translate }} &nbsp;-->
                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Circular Title/Desc" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a></span>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-top">
                    <div class="col-md-12">
                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <table class="table table-hover table-bordered table-condensed" id="fixTable">
                            <thead>
                                <tr style="background-color: #edefef">
                                    <th class="small-cell v-align-middle" style="z-index:1;vertical-align:bottom;">
                                        <div class="checkbox check-success">
                                            <input type="checkbox" name="check" value="1" id="mainchk"  ng-click="CheckAllChecked();">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>

                                    <th>{{"Admission No"| translate }}</th>
                                    <th>{{"Student Name"| translate }}</th>
                                    <th>{{"Grade"| translate}}</th>
                                    <th>{{"Parent Name"| translate}}</th>
                                    <th>{{"Employee Id"| translate }}</th>
                                    <th>{{"Sibling No"| translate}}</th>
                                    <th>{{"Remark"| translate}}</th>


                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <tr ng-repeat="obj in filteredTodos|filter:searchText" ng-class="row1">
                                    <td class="small-cell v-align-middle">
                                        <div class="row-fluid" style="height: 20px">
                                            <div class="checkbox check-success">
                                                <input type="checkbox" value="1" id="{{obj.sims_admission_number}}" ng-model="obj.sims_admission_recommend_status" ng-click="checkonebyonedelete(obj)">
                                                <label for="{{obj.sims_admission_number}}"></label>
                                            </div>
                                        </div>
                                    </td>

                                    <td>{{obj.sims_admission_number}}</td>
                                    <td>{{obj.sims_student_name}}</td>
                                    <td>{{obj.sims_q_grade_desc}}</td>
                                    <td>{{obj.sims_admission_parent_Name}}</td>
                                    <td>{{obj.sims_admission_employee_code}}</td>
                                    <td>{{obj.sims_admission_enroll_number}}</td>
                                    <td><input type="text" placeholder="Remark" aria-controls="example" ng-model="obj.sims_q_remark" class="k-textbox" style="width:100%;" ng-change="search();"></td>
                                </tr>

                            </tbody>

                        </table>
                    
                </div>
                    </div>
                    </div>
                <div class="row">
                    <div class="col-md-12">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>
                        </div>
                    </div>
               
              
        <div class="modal fade" id="MyModal" role="dialog" tabindex="-1">
            <div class="modal-dialog" style="width: 90%;background-color:white;">
            <div class="modal-content" style="text-align:left">
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>Recommended </strong>Admissions</h1>
                    <ul class="controls">
                        <li class="remove">
                            <a role="button" data-dismiss="modal" tabindex="0" class="tile-close"><i class="fa fa-times"></i></a>

                        </li>
                    </ul>
                </div>
                <div class="modal-header">
                        <div class="row" style="text-align:left;margin:3px;">
                              <table class="table table-bordered table-striped dataTable" id="Table1" role="grid" aria-describedby="project-progress_info">
                                    <thead>
                                        <tr  style="z-index: 1">
                                            <th tabindex="0" aria-controls="project-progress" aria-sort="ascending" aria-label="ID: activate to sort column descending" style="width: 20px;">Admission No.</th>
                                            <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending" style="width: 25px;">Quota</th>
                                            <th style="width: 105px;" tabindex="0" aria-controls="project-progress" >Student Name</th>
                                            <th style="width: 110px;" class="text-left no-sort sorting_disabled" aria-label="Chart">Parent Name</th>
                                            <th style="width: 110px;" class="text-left no-sort sorting_disabled" aria-label="Chart">Class</th>
                                            <th style="width: 110px;" class="text-left no-sort sorting_disabled" aria-label="Chart">Remark</th>
                                            <th style="width: 50px;" tabindex="0" aria-controls="project-progress">Status</th>
                                            <th style="width: 20px;" tabindex="0" aria-controls="project-progress">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="info in rcadmissions">
                                              <td>
                                                <div class="text-default">{{info.sims_admission_number}}</div>
                                            </td>
                                            <td>
                                                <div class="text-default">{{info.sims_quota_desc}}</div>
                                            </td>
                                            <td>
                                                <div class="text-default" >{{info.sims_student_name}}</div>
                                            </td>
                                            <td>
                                                <div class="text-default">{{info.sims_admission_parent_Name}}</div>
                                            </td>
                                            <td>
                                                <div class="text-default">{{info.sims_q_grade_desc}}</div>
                                            </td>
                                            <td>
                                                <div class="text-default">{{info.sims_q_remark}}</div>
                                            </td>
                                            <td class="v-align-middle">
                                            <span ng-if="info.sims_admission_recommend_status==true && info.sims_admission_done_status==true" class="label label-success">Admitted</span>
                                            <span ng-if="info.sims_admission_recommend_status==false && info.sims_admission_done_status==false" class="label label-danger">Recommended</span>

                                            </td>
                                             <td><a href=""><i class="fa fa-delete" ng-show="!info.sims_admission_recommend_status" ng-click="UnRecommendAdmissions(info)"></i></a></td>
                                            
                                        </tr>
                                    </tbody>
                                </table>
                          
                    </div>
               
              
                    </div>
                     </div>
            </div>
            </div>
        
        
        </div>

            </div>
        </div>
    </div>

<script src="assets/js/tableHeadFixer.js"></script>