﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Admission Quota" |translate}}</span>&nbsp;{{"User" | translate}}</h3>
            </div>

            <div class="grid-body no-border"  ng-show="showAddForm">
                <form ng-hide="showEditQDesc" name="Myform" ng-submit="saveAdmissionData(Myform.$valid)" novalidate="novalidate">
                    <!--1ST ROW-->
                                <div class="row">
                        <div class="col-md-12 form-group" style="padding-top: 8px;">
                            <div class="col-md-3" ng-class="{'has-error': !Myform.curiculum.$valid && (Myform.curiculum.$touched || Myform.$submitted) }">
                                <div class="row form-row ">
                                    <div class="col-md-12 ">
                                     <label>{{"Curriculum" | translate}} <span style="color: red">*</span></label>
                                   
                                        <select id="Select3" class="form-control input-sm" name="curiculum" ng-model="temp.sims_cur_code" required ng-disabled="curiculumaReadonly" ng-change="getAcaYear(temp.sims_cur_code)"
                                                ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in curiculums">
                                            <option selected disabled value="">Please Select</option>
                                        </select>
                                        <p class="help-block" ng-show="Myform.curiculum.$error.required &&  (Myform.curiculum.$touched || Myform.$submitted)">
                                            Please select curriculum
                                        </p>
                                        <!--<option value="">Please Select</option>
                                        <option class="k-textbox input-sm"  ng-repeat="cur in curiculums|filter:{sims_cur_short_name_en:''}"  value="{{cur.sims_cur_code}} ">{{cur.sims_cur_short_name_en}}</option>-->
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3" ng-class="{'has-error': !Myform.acadYear.$valid && (Myform.acadYear.$touched || Myform.$submitted) }">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                    <label>{{"Academic Year" | translate}}<span style="color: red">&nbsp;*</span></label>
                                       <select id="Select4" name="acadYear" class="form-control input-sm" ng-model="temp.sims_academic_year" ng-change="getGradeByCurCode(temp.sims_cur_code,temp.sims_academic_year);getAdminQuotaByCurCode(temp.sims_cur_code,temp.sims_academic_year);" ng-disabled="acaYearReadonly" required>
                                            <option value="">Please Select</option>
                                            <option ng-repeat="year in acaYears|filter:{sims_academic_year:''}" ng-selected="temp.sims_academic_year==year.sims_academic_year" value="{{year.sims_academic_year}} ">{{year.sims_academic_year_desc}} </option>
                                        </select>
                                        <p class="help-block" ng-show="Myform.acadYear.$error.required &&  (Myform.acadYear.$touched || Myform.$submitted)">
                                            Please select academic year
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3" ng-class="{'has-error': !Myform.grade.$valid && (Myform.grade.$touched || Myform.$submitted) }">
                                <div class="row form-row ">
                                    <div class="col-md-12 ">
                                       <label>{{"Grade" | translate}}<span style="color: red">*</span></label>
                                
                                        <select id="Select1" class="form-control input-sm" name="grade" ng-model="temp.sims_grade_code" required ng-disabled="gradeReadonly">
                                            <option value="">Please Select</option>
                                            <option class="k-textbox input-sm" ng-repeat="grade in grades|filter:{sims_grade_name:''}" ng-selected="temp.sims_grade_code == grade.sims_grade_code" value="{{grade.sims_grade_code}} ">{{grade.sims_grade_name}}</option>
                                        </select>
                                        <p class="help-block" ng-show="Myform.grade.$error.required &&  (Myform.grade.$touched || Myform.$submitted)">
                                            Please select grade
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" ng-class="{'has-error': !Myform.quota.$valid && (Myform.quota.$touched || Myform.$submitted) }">
                                <div class="row form-row ">
                                    <div class="col-md-12 ">
                                          <label>{{"Quota Description" | translate}} <span style="color: red">*</span></label>
                                    </div>
                                    <div class="col-md-12">
                                        <!--<select id="Select3" class="form-control" name="quota" ng-model="temp.simsQuotaId" required ng-disabled="quotaReadonly" ng-click="getMasterQuotaSterngth(quota);">
                                            <option value="">Please Select</option>
                                            <option class="k-textbox input-sm"  ng-repeat="quota in admissionQuotaMaster|filter:{sims_quota_desc:''}" ng-selected="temp.simsQuotaId == quota.sims_quota_id" value="{{quota.sims_quota_id}} ">{{quota.sims_quota_desc}}</option>
                                        </select>-->
                                        <select id="quotaDesc" class="form-control input-sm" name="quota" ng-model="quota" required ng-disabled="quotaReadonly" ng-options="quota as quota.sims_quota_desc for quota in admissionQuotaMaster" ng-change="getQuotaStength(quota);">
                                            <option selected disabled value="">Please Select</option>
                                        </select>
                                        <p class="help-block" ng-show="Myform.quota.$error.required &&  (Myform.quota.$touched || Myform.$submitted)">
                                            Please select Quota Description
                                        </p>
                                    </div>
                          </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-3" ng-class="{'has-error': !Myform.userName.$valid && (Myform.userName.$touched || Myform.$submitted) }">
                                    <div class="row form-row ">
                                         <label for="quotaDesc">{{"User Name" | translate }} <span style="color: red">*</span></label>
                                        <input type="text" name="userName" id="userName" class="k-textbox input-sm" ng-model="temp.sims_q_user_name" maxlength="50" ng-disabled="true" required style="width: 76%;"/>
                                        <p class="help-block" ng-show="Myform.userName.$error.required &&  (Myform.userName.$touched || Myform.$submitted)">
                                            Please enter username
                                        </p>
                                        <button type="button" id="Button2" class="btn btn-primary btn-cons btn-small" ng-disabled="searchBtn" ng-click="globalSearch();">{{"Search" | translate}}</button>
                                    </div>
                                </div>
                                <!--<div class="col-md-2">
                                    <div class="row form-row">
                                          <label>&nbsp;</label>
                                        <button type="button" id="Button2" class="btn btn-primary btn-cons btn-small" ng-disabled="searchBtn" ng-click="globalSearch();">Search</button>
                                    </div>
                                </div>-->
                                <div class="col-md-2" ng-class="{'has-error': !Myform.quotaStrength.$valid && (Myform.quotaStrength.$touched || Myform.$submitted) }">
                                    <label for="DivCode">{{"Quota Strength" | translate }}</label>
                                    <input type="text" name="quotaStrength" id="quotaStrength" class="k-textbox input-sm" ng-change="textchange(temp.sims_q_strength)" ng-model="temp.sims_q_strength" ng-pattern="/^(\d)+$/" pattern="[A-Za-z\s]+" maxlength="3" />
                                    <p class="help-block" ng-show="Myform.quotaStrength.$error.pattern &&  (Myform.quotaStrength.$touched || Myform.$submitted)">
                                        Please Enter Only  Digit
                                    </p>
                                    <div ng-show="showErr">
                                        <p class="help-block" ng-show="Myform.quotaStrength.$touched || Myform.$submitted " style="color:#a94442;">
                                            Quota strength exceeds allocated quota
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label id="admisnStatus" for="txt_Status" class="form-label">{{"Status"| translate }}</label>
                                    <div class="checkbox check-success">
                                        <input id="chk_admission" type="checkbox" value="1" ng-model="temp.admQuotaStatus">
                                        <label for="chk_admission"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                    <div class="form-actions">
                        <div class="pull-right">
                            <button type="submit" ng-show="save_btn" id="saveAddmisionQuota" class="btn btn-primary btn-cons btn-small">{{"Save" | translate }}</button>
                            <button type="button" class="btn btn-warning btn-cons" ng-click="cancelAddForm();">{{"Cancel"| translate }}</button>
                        </div>
                    </div>
                </form>
                <!-- EDIT FORM-->
                <form ng-show="showEditQDesc" name="editform" ng-submit="saveAdmissionData(editform.$valid)" novalidate="novalidate">
                    <!--1ST ROW-->
                        <div class="row">
                        <div class="col-md-12 form-group" style="padding-top: 8px;">
                            <div class="col-md-3" ng-class="{'has-error': !editform.curiculum.$valid && (editform.curiculum.$touched || editform.$submitted) }">
                                <div class="row form-row ">
                                    <div class="col-md-12 ">
                                        <label>{{"Curriculum" | translate}} <span style="color: red">*</span></label>
                                    </div>
                                    <div class="col-md-12">
                                        <select id="Select2" class="form-control" name="curiculum" ng-model="temp.sims_cur_code" required ng-disabled="curiculumaReadonly" ng-change="getAcaYear(temp.sims_cur_code)"
                                                ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in curiculums">
                                            <option selected disabled value="">Please Select</option>
                                        </select>
                                        <p class="help-block" ng-show="editform.curiculum.$error.required &&  (editform.curiculum.$touched || editform.$submitted)">
                                            Please select curriculum
                                        </p>
                                        <!--<option value="">Please Select</option>
                                        <option class="k-textbox input-sm"  ng-repeat="cur in curiculums|filter:{sims_cur_short_name_en:''}"  value="{{cur.sims_cur_code}} ">{{cur.sims_cur_short_name_en}}</option>-->

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3" ng-class="{'has-error': !editform.acadYear.$valid && (editform.acadYear.$touched || editform.$submitted) }">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label>{{"Academic Year" | translate}} <span style="color: red">&nbsp;*</span></label>
                                    </div>
                                    <div class="col-md-12">
                                        <select id="Select5" name="acadYear" class="form-control" ng-model="temp.sims_academic_year" ng-change="getGradeByCurCode(temp.sims_cur_code,temp.sims_academic_year)" ng-disabled="acaYearReadonly" required>
                                            <option value="">Please Select</option>
                                            <option ng-repeat="year in acaYears|filter:{sims_academic_year:''}" ng-selected="temp.sims_academic_year==year.sims_academic_year" value="{{year.sims_academic_year}} ">{{year.sims_academic_year_desc}} </option>
                                        </select>
                                        <p class="help-block" ng-show="editform.acadYear.$error.required &&  (editform.acadYear.$touched || editform.$submitted)">
                                            Please select academic year
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3" ng-class="{'has-error': !editform.grade.$valid && (editform.grade.$touched || editform.$submitted) }">
                                <div class="row form-row ">
                                    <div class="col-md-12 ">
                                        <label>{{"Grade" | translate}} <span style="color: red">*</span></label>
                                    </div>
                                    <div class="col-md-12">
                                        <select id="Select6" class="form-control" name="grade" ng-model="temp.sims_grade_code" required ng-disabled="gradeReadonly">
                                            <option value="">Please Select</option>
                                            <option class="k-textbox input-sm" ng-repeat="grade in grades|filter:{sims_grade_name:''}" ng-selected="temp.sims_grade_code == grade.sims_grade_code" value="{{grade.sims_grade_code}} ">{{grade.sims_grade_name}}</option>
                                        </select>
                                        <p class="help-block" ng-show="editform.grade.$error.required &&  (editform.grade.$touched || editform.$submitted)">
                                            Please select grade
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row form-row ">
                                    <div class="col-md-12 ">
                                        <label>{{"Quota Description" | translate}} <span style="color: red">*</span></label>
                                    </div>
                                    <div class="col-md-12">
                                        <!--<label><span class="semi-bold">{{ quotaDesc }} </span></label>-->
                                        <input type="text" class="k-textbox input-sm full-width" ng-model="quotaDesc" ng-disabled="true">
                                    </div>
                                </div>
                        </div>
                            <div class="col-md-12 ">
                                <div class="col-md-4" ng-class="{'has-error': !editform.userName.$valid && (editform.userName.$touched || editform.$submitted) }">
                                    <div class="row form-row ">

                                        <label for="quotaDesc">{{"User Name" | translate }} <span style="color: red">*</span></label>
                                        <input type="text" name="userName" id="Text1" class="k-textbox input-sm" ng-model="temp.sims_q_user_name" maxlength="50" ng-readonly="userNameReadOnly" required />
                                        <p class="help-block" ng-show="editform.userName.$error.required &&  (editform.userName.$touched || editform.$submitted)">
                                            Please enter username
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-2" ng-class="{'has-error': !editform.quotaStrength.$valid && (editform.quotaStrength.$touched || editform.$submitted) }">
                                    <label for="DivCode">{{"Quota Strength" | translate }}</label>
                                    <input type="text" name="quotaStrength" id="Text2" class="k-textbox input-sm" ng-change="textchange(temp.sims_q_strength)" ng-model="temp.sims_q_strength" ng-pattern="/^(\d)+$/" pattern="[A-Za-z\s]+" maxlength="3" />
                                    <p class="help-block" ng-show="editform.quotaStrength.$error.pattern &&  (editform.quotaStrength.$touched || editform.$submitted)">
                                        Please Enter Only  Digit
                                    </p>
                                    <div ng-show="showErr">
                                        <p class="help-block" ng-show="editform.quotaStrength.$touched || editform.$submitted " style="color:#a94442;">
                                            Quota strength not greater than allocated quota
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label id="Label1" for="txt_Status" class="form-label">{{"Status"| translate }}</label>
                                    <div class="checkbox check-success">
                                        <input id="Checkbox1" type="checkbox" ng-model="temp.admQuotaStatus">
                                        <label for="chk_admission"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                    <div class="form-actions">
                        <div class="pull-right">
                            <button type="button" ng-show="Update_btn" ng-click="updateAdmissionData(editform.$valid);" class="btn btn-primary btn-cons">{{"Update" | translate }}</button>
                            <button type="button" class="btn btn-white btn-cons" ng-click="cancelAddForm();">{{"Cancel"| translate }}</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>


            <div class="grid-title no-border">
            </div>

            <div class="grid-body no-border" ng-show="!showAddForm">
                <div class="row form-row">

                    <div class="col-md-6">
                        <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="10" class="form-control input-sm">
                                10
                            </option>

                            <option value="20" class="form-control input-sm">
                                20
                            </option>

                             <option value="All" class="form-control input-sm">
                                All
                            </option>
                        </select>
                        &nbsp;
                        <button class="btn btn-success btn-small" type="button" id="designew" ng-click="newAddForm()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate }}</button>

                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                                <label>
                                    {{"Search"| translate }}:&nbsp;
                                    <!--<input type="text" aria-controls="example" ng-model="search.$" class="input-medium"></label>-->
                                    <input aria-controls="example" ng-model="searchText" class="k-textbox input-sm" placeholder="Search" type="search" ng-change="search()" tabindex="1" autofocus="autofocus">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline" >
                    <div style="width: 100%;"> <!--height: 270px; overflow-x: auto; overflow-y: auto"-->
                        <table class="table table-bordered table-condensed table-hover" id="fixTable">
                            <thead style="background-color: white">
                                <tr style="background-color: #edefef">
                                    <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                        <label><b><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"User Name" | translate }}</b></label>
                                    </th>
                                    <!--<th class="semi-bold">
                                        <label><b>{{"User Name" | translate }}</b></label>
                                    </th>-->
                                    <th class="semi-bold">
                                        <label><b>{{"Academic year" | translate }}</b></label>
                                    </th>
                                    <th class="semi-bold">
                                        <label><b>{{"Quota Strength" | translate }}</b></label>
                                    </th>
                                    <th class="semi-bold">
                                        <label><b>{{"Grade" | translate }}</b></label>
                                    </th>
                                    <th class="semi-bold">
                                        <label><b>{{"Status" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><i class="fa fa-cogs"></i></label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in filteredTodos | orderBy:orderByField:reverseSort">
                                    <td>
                                        <div class="row-fluid">
                                            <label id="lbl2">{{user.sims_q_user_name}}</label>
                                            <!-- -{{user.sims_q_user_alias}}-->
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row-fluid">
                                            <label id="Label2">{{user.sims_academic_year_description}}</label>
                                        </div>
                                    </td>
                                    <td>
                                        <label id="lbl">{{user.sims_q_strength}}</label>
                                    </td>
                                    <td>
                                        <label id="Label3">{{user.sims_grade_name_en}}</label>
                                    </td>
                                    <td>
                                        <span ng-if="user.sims_q_status=='A'" class="label label-success">Active</span>
                                        <span ng-if="user.sims_q_status=='I'" class="label label-important">Inactive</span>
                                    </td>

                                    <td>
                                        <a href=""><i class="fa fa-edit" ng-click="editAdmmissionUser(user)"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                ng-click="index(currentPage)">
                        </paging>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<script src="assets/js/tableHeadFixer.js"></script>
