﻿<div class="loading-middle" ng-hide="display">
    {{ "Loading..." | translate }}
</div>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Admission "| translate }}</span>{{"Fee"| translate }}</h3>
            </div>


            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                class="form-control"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                class="form-control"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="grid-body no-border">
            <div ng-show="table">
                <div class="row">
                    <div class="col-md-6">
                        <!--<select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                            <option value="10" class=" form-control input-sm">10</option>
                            <option value="20" class=" form-control input-sm">20</option>
                            <option value="All" class=" form-control input-sm">All</option>
                        </select>-->
                        &nbsp;
                        <button class="btn btn-primary btn-small" type="button" id="designew" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate }}</button>
                        &nbsp;
                        <button class="btn btn-danger btn-small" type="button" ng-click="Delete()"><span class="semi-bold"></span>{{"Delete"| translate }}</button>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                                <span class="k-textbox k-space-right full-width">
                                    <input aria-controls="example" ng-model="searchText" class="k-textbox input-sm full-width" placeholder="Search" autofocus="autofocus" type="search" ng-change="search()" />
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div class="row margin-top">
                        <div class="col-md-12">
                        <table class="table table-bordered table-hover table-condensed" id="fixTable">
                            <thead>
                                <tr style="background-color: #edefef">
                                    <th class="small-cell v-align-middle" style="z-index: 1;">
                                        <div class="checkbox check-success">
                                            <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>
                                    <th class="semi-bold">
                                        <label><i class="fa fa-book"></i>&nbsp;{{"Curriculum" | translate }}</label>
                                    </th>

                                    <th class="semi-bold" style="width:9%;">
                                        <label><i class="fa fa-sort-amount-asc"></i>&nbsp;{{"Academic Year" | translate }}</label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><i class="fa fa-sitemap"></i>&nbsp;{{"Grade" | translate }}</label>
                                    </th>
                                    <th class="semi-bold">
                                        <label><i class="fa fa-money"></i>&nbsp;{{"Fee Name" | translate }}</label>
                                    </th>
                                    <th class="semi-bold">
                                        <label><i class="fa fa-money"></i>&nbsp;{{"Fee Amount" | translate }}</label>
                                    </th>
                                    
                                    <th class="semi-bold">
                                        <label><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Revenue Account" | translate }}</label>
                                    </th>
                                    <th class="semi-bold" >
                                        <label><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Advance Account" | translate }}</label>
                                    </th>
                                    <th class="semi-bold">
                                        <label><i class="fa fa-bookmark"></i>&nbsp;{{"Status" | translate }}</label>
                                    </th>
                                    <th class="semi-bold">
                                        <label><i class="fa fa-cogs"></i></label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="j in AdmissionFeeData | orderBy:orderByField:reverseSort" ng-class="row1">
                                    <td>
                                        <div class="row-fluid">
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input id="test-{{$index}}" type="checkbox" value="1" ng-click="checkonebyonedelete()">
                                                <label for="test-{{$index}}"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <label id="lbl">{{j.sims_cur_name}}</label>
                                    </td>
                                    <td>
                                        <label id="Label1">{{j.sims_academic_year_description}}</label>
                                    </td>
                                    <td>
                                        <label id="Label2">{{j.sims_grade_name}}</label>
                                    </td>
                                    <td>
                                        <label id="Label3">{{j.sims_fee_name}}</label>
                                    </td>
                                    <td style="text-align:right;">
                                        <label id="Label4">{{j.sims_fee_amount}}</label>
                                    </td>
                                    <td>
                                        <label id="Label5">{{j.sims_rev_acc_name}}</label>
                                    </td>
                                    <td >
                                        <label id="Label6">{{j.sims_cash_acc_name}}</label>
                                    </td>
                                    <td class="v-align-middle">
                                        <span ng-if="j.sims_fee_status==true" class="label label-success">{{"Active" | translate }}</span>
                                        <span ng-if="j.sims_fee_status==false" class="label label-important">{{"In active" | translate }}</span>
                                    </td>
                                    <td>
                                        <a href=""><i class="fa fa-edit" ng-click="edit(j)"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                        </div>
                    <div class="row" ng-show="">   <!--pager-->
                        <div class="col-md-12">
                                <div class="pull-right">
                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                                </div>
                            </div>
                    </div>

                </div>

            </div>

            <form name="Myform" ng-submit="savedata(Myform.$valid)" novalidate="novalidate">
                <div ng-show="display">

                    <!--1ST ROW-->
                    <div class="row">
                         
                        <div class="col-md-3" ng-class="{'has-error': !Myform.Curriculum.$valid && (Myform.Curriculum.$touched || Myform.$submitted) }">
                                <label id="Label7" for="Curriculum" class="semi-bold"><i class="fa fa-book"></i>&nbsp;{{"Curriculum"| translate }} <span class="asterisk" style="color: red">*</span></label><!--ng-options="temp.sims_cur_code as temp.sims_cur_short_name_en for temp in Curriculum" -->
                                <select id="Curriculum" data-role="dropdownlist" class="form-control input-sm full-width" name="Curriculum" 
                                    ng-model="temp.sims_cur_code" ng-change="getacademicYear(temp.sims_cur_code);" required
                                    ng-options="doc.sims_cur_code as doc.sims_cur_short_name_en for doc in Curriculum"
                                     ng-disabled="CurriculumReadonly">
                                </select>
                                <p class="help-block" ng-show="Myform.Curriculum.$error.required  &&  (Myform.Curriculum.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>

                            <div class="col-md-3" ng-class="{'has-error': !Myform.AcademicYear.$valid && (Myform.AcademicYear.$touched || Myform.$submitted) }">
                                <label id="Label8" for="AcademicYear" class="semi-bold"><i class="fa fa-sort-amount-asc"></i>&nbsp;{{"Academic Year"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <select id="cmb_AcademicYear" data-role="dropdownlist" class="form-control input-sm full-width" name="AcademicYear" ng-model="temp.sims_academic_year" ng-options="temp.sims_academic_year as temp.sims_academic_year_desc for temp in AcademicYear" ng-change="getGrade(temp.sims_cur_code,temp.sims_academic_year);" ng-disabled="AcademicYearReadonly" required>
                                </select>
                                <p class="help-block" ng-show="Myform.AcademicYear.$error.required  &&  (Myform.AcademicYear.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>

                            <div class="col-md-3" ng-class="{'has-error': !Myform.Grade.$valid && (Myform.Grade.$touched || Myform.$submitted) }">
                                <label id="Label9" for="Grade" class="semi-bold"><i class="fa fa-sitemap"></i>&nbsp;{{"Grade"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <select id="Select2" data-role="dropdownlist" class="form-control input-sm full-width" name="Grade" ng-model="temp.sims_grade_code" ng-options="temp.sims_grade_code as temp.sims_grade_name for temp in AllGrades" ng-disabled="GradeReadonly" required>
                                    <option value="">Please Select</option>
                                </select>
                                <p class="help-block" ng-show="Myform.Grade.$error.required  &&  (Myform.Grade.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>

                            <div class="col-md-3" ng-class="{'has-error': !Myform.sims_fee_name1.$valid && (Myform.sims_fee_name1.$touched || Myform.$submitted) }">
                                <label id="Label10" for="sims_fee_name1" class="semi-bold"><i class="fa fa-money"></i>&nbsp;{{"Fee Type"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width" name="sims_fee_name1" ng-model="temp.sims_fee_code" ng-options="temp.sims_fee_code as temp.sims_fee_name for temp in FeeTypeData" ng-disabled="sims_fee_name1Readonly" required>
                                    <option value="">Please Select</option>
                                </select>
                                <p class="help-block" ng-show="Myform.sims_fee_name1.$error.required  &&  (Myform.sims_fee_name1.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>
                    </div>

                    <div class="row margin-top">
                            <div class="col-md-3" ng-class="{'has-error': !Myform.sims_fee_amount.$valid && (Myform.sims_fee_amount.$touched || Myform.$submitted) }">
                                <label class="semi-bold" for="sims_fee_amount"><i class="fa fa-money"></i>&nbsp;{{"Fee Amount"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" ng-readonly="temp.disable_status" name="sims_fee_amount" id="sims_fee_amount" ng-disabled="FeeAmountReadonly" placeholder="Enter Fee Amount" class="k-textbox input-sm full-width" ng-model="temp.sims_fee_amount" ng-change="Feecount();" ng-pattern="/^[0-9]{1,4}$/" required />

                                <p class="help-block" ng-show="Myform.sims_fee_amount.$error.pattern && (!Myform.$pristine && (Myform.$submitted ||Myform.sims_fee_amount.$touched))">
                                    Enter Only Digit
                                </p>

                                <p class="help-block" ng-show="Myform.sims_fee_amount.$error.required  &&  (Myform.sims_fee_amount.$touched || Myform.$submitted)">
                                    This field is required
                                </p>

                            </div>

                            <div class="col-md-3">
                                <label class="semi-bold" for="sims_fee_amount"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Revenue Account No"| translate }}</label>
                                  <select ng-disabled="temp.disable_status" id="rev_ac_no" data-role="dropdownlist" class="form-control input-sm full-width" name="sims_rev_acc_no" ng-model="temp.sims_rev_acc_no" >
                                    <option ng-repeat="temp in AllAccountName"  value="{{temp.acc_code}}" >{{temp.acc_name}}</option>
                                    
                                      <option value="">Please Select</option>
                                </select>
                                
                            </div>

                            <div class="col-md-3">
                                <label class="semi-bold" for="sims_fee_amount"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Advance Account No"| translate }}</label>
                                 <select ng-disabled="temp.disable_status" id="cash_ac_no" data-role="dropdownlist" class="form-control input-sm full-width" name="sims_cash_acc_no" ng-model="edt.sims_cash_acc_no">
                                    <option ng-repeat="edt in AllAccountName" value="{{edt.acc_code}}">{{edt.acc_name}}</option>
                                     <option value="">Please Select</option>
                                </select>
                                

                            </div>

                            <div class="col-md-3">

                                <label id="Label12" for="sims_fee_name" class="semi-bold"><i class="fa fa-book"></i>&nbsp;{{"Adjustable Fee Type"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <!-- <span><input id="Checkbox1" type="checkbox" ng-model="temp.AdjustfeecodeStatus"> <label for="Checkbox1"></label>-->
                                <div class="col-md-12">
                                    <div class="col-md-1 checkbox check-success" style="padding-top:8px; padding-left:-5px !important;">
                                        <input id="fee_status" type="checkbox" name="fee_status" ng-model="temp.AdjustfeecodeStatus" checked ng-change="feestatus(temp.AdjustfeecodeStatus);">
                                         <label for="fee_status"></label>
                                    </div>
                                    <div class="col-md-11">
                                        <select id="Select5" data-role="dropdownlist" class="form-control input-sm full-width" name="sims_fee_name" ng-model="edt.sims_fee_code" ng-options="edt.sims_fee_code as edt.sims_fee_name for edt in FeeTypeData"  ng-disabled="readonlyAdjustableFeeType">
                                            <option value="">Please Select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                    </div>

                    <div class="row margin-top">
                            <div class="col-md-4">
                                    <label id="Label11" for="txt_full_name" class="semi-bold">&nbsp;</label>
                                    <div class="radio radio-success">
                                    <input id="pain" type="radio" class="k-radio" name="IsAdmission" ng-model="edt.copy1" value="A" checked="checked">
                                    <label for="pain">{{"IsAdmission"| translate }}</label>&nbsp;
                                    <input id="Style" type="radio" class="k-radio" name="IsProspect" ng-model="edt.copy1" value="P">
                                    <label for="Style">{{"Is part of Prospects Mgmt"| translate }} </label>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label id="Label13" for="txt_full_name" class="semi-bold"><i class="fa fa-bookmark"></i>&nbsp;{{"Status"| translate }}</label>
                                <div class="checkbox check-success">
                                    <input id="chk_terms" type="checkbox" checked ng-model="temp.status">
                                    <label for="chk_terms"></label>
                                </div>
                            </div>
                        </div>

                    <div class="row margin-top">
                        <div class="col-md-12">
                    <div class="form-actions">
                        <div class="pull-right">
                            <button type="submit" id="desigsub" ng-show="save_btn" class="btn btn-primary btn-small">{{"Save" | translate }}</button>
                            <button type="button" ng-show="Update_btn"  ng-click="update(Myform.$valid);" class="btn btn-primary btn-small">{{"Update" | translate }}</button>
                            <button type="button" class="btn btn-danger btn-small" ng-click="Cancel();">{{"Cancel"| translate }}</button>
                        </div>
                    </div>
                            </div>
                    </div>
                </div>
            </form>

        </div></div>
    </div>
</div>
<style>
    .selected_row {
        background-color: #fef8ae !important;
    }
</style>
