﻿<style>
    .sortorder:after {
        content: '\25b2';
    }

    .sortorder.reverse:after {
        content: '\25bc';
    }
    .form-actions {
    padding: 7px 20px 7px;
   }
    .grid.simple .form-actions {
    margin-right: -17px !important;
    margin-left: -17px !important;
    margin-bottom: -15px !important;
}
</style>



<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3>{{"Admission Criteria"|translate}}<span class="semi-bold"></span></h3>
            </div>

            <div class="grid-body no-border table_padding">
                <div ng-show="display" class="paddingcode">
                    <form name="myForm" ng-submit="Save(myForm.$valid)" novalidate="novalidate">
                        <div class="row" ng-show="notshow">
                            <div class="col-xs-4">
                                <div class="well" class="form-group">
                                    <div class="form-group">
                                        <label>Current Page:</label>
                                        <input placeholder="page"
                                            class="form-control"
                                            ng-model="currentPage"
                                            ng-init="currentPage = 1" />
                                    </div>
                                    <div class="form-group">
                                        <label>Page Size:</label>
                                        <input placeholder="Page Size"
                                            class="form-control"
                                            ng-model="numPerPage" />
                                    </div>
                                    <div class="form-group">
                                        <label>Total Items:</label>
                                        <input placeholder="Total"
                                            class="form-control"
                                            ng-model="pagersize" />
                                    </div>
                                    <hr />
                                    <div class="form-group">
                                        <label>Dots Display:</label>
                                        <input placeholder="..."
                                            class="form-control"
                                            maxlength="3"
                                            ng-model="dots"
                                            ng-init="dots = '...'" />
                                    </div>

                                    <hr />
                                    <div class="form-group">
                                        <label>UL Class:</label>
                                        <input placeholder="pagination"
                                            class="form-control"
                                            maxlength="100"
                                            ng-model="ulClass" />
                                    </div>
                                    <div class="form-group">
                                        <label>Active Class:</label>
                                        <input placeholder="active"
                                            class="form-control"
                                            maxlength="100"
                                            ng-model="activeClass"
                                            ng-init="activeClass = 'active'" />
                                    </div>
                                    <div class="form-group">
                                        <label>Disabled Class:</label>
                                        <input placeholder="disabled"
                                            class="form-control"
                                            maxlength="100"
                                            ng-model="disabledClass"
                                            ng-init="disabledClass = 'disabled'" />
                                    </div>
                                    <br />
                                    <table class="table">

                                        <tr>
                                            <td>
                                                <label>Show Prev Next:</label>
                                            </td>
                                            <td>
                                                <input type="checkbox"
                                                    ng-model="showPrevNext"
                                                    ng-init="showPrevNext = true" />
                                                {{showPrevNext}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Show First Last:</label>
                                            </td>
                                            <td>
                                                <input type="checkbox"
                                                    ng-model="showFirstLast"
                                                    ng-init="showFirstLast = true" />
                                                {{showPrevNext}}
                                            </td>
                                        </tr>
                                    </table>
                                    <hr />
                                    <span class="btn btn-default" onclick="location.reload()">
                                        <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                                    </span>
                                    <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                                    </span>
                                    <br />
                                    <br />
                                </div>
                            </div>
                        </div>

                        <div class="row margin-top">

                            <div class="col-md-3" ng-hide="true">

                                <label>{{ "Criteria Code" | translate }}</label>

                                <input type="text" class="k-textbox input-sm full-width" id="txt_criteria_code" name="txt_criteria_code" placeholder="Please Enter" ng-model="edt.sims_criteria_code" ng-disabled="true">
                            </div>

                            <div class="col-md-2">

                                <label><i class="fa fa-bookmark-o"></i>&nbsp;{{ "Criteria Type" | translate }}</label>

                                <select id="cmb_cri_type" name="criteriatype" data-role="dropdownlist" class="form-control input-sm"
                                    ng-model="edt.sims_criteria_type">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="i in critype" ng-if="i.sims_criteria_type.length"
                                        value="{{i.sims_criteria_type}}">{{i.sims_criteria_type_name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-2">

                                <div ng-class="{'has-error': !myForm.txt_criteria_name_en.$valid && (myForm.txt_criteria_name_en.$touched || myForm.$submitted) }">
                                    <label><i class="fa fa-align-justify"></i>&nbsp;{{ "Criteria Name in English" | translate }}<span class="text-red">*</span></label>

                                    <input type="text" class="k-textbox input-sm full-width" id="txt_criteria_name_en" name="txt_criteria_name_en" ng-model="edt.sims_criteria_name_en" placeholder="Please Enter" required >
                                </div>
                                <div class="error-container"
                                    ng-show="myForm.txt_criteria_name_en.$dirty && myForm.txt_criteria_name_en.$invalid || myForm.$submitted">
                                    <small class="help-block"
                                        ng-show="myForm.txt_criteria_name_en.$error.required && (myForm.txt_criteria_name_en.$touched || myForm.$submitted)">This Field is required.
                                    </small>
                                   <!-- <small class="help-block" ng-show="myForm.txt_criteria_name_en.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_criteria_name_en.$touched))">Enter Valid Data
                                    </small> ng-pattern="/^[a-zA-Z0-9\s-]*$/"-->
                                </div>

                            </div>
                            <div class="col-md-2">

                                <div ng-class="{'has-error': !myForm.txt_criteria_name_ot1.$valid && (myForm.txt_criteria_name_ot1.$touched || myForm.$submitted) }">
                                    <label><i class="fa fa-align-justify"></i>&nbsp;{{ "Criteria Name in Other Language" | translate }}</label>

                                    <input type="text" class="k-textbox input-sm full-width" id="txt_criteria_name_ot1" name="txt_criteria_name_ot1" placeholder="Please Enter" ng-model="edt.sims_criteria_name_ot"><!-- ng-pattern="/^[a-zA-Z0-9\s-]*$/"-->
                                </div>
                                <div class="error-container"
                                    ng-show="myForm.txt_criteria_name_ot1.$dirty && myForm.txt_criteria_name_ot1.$invalid || myForm.$submitted">
                                    <small class="help-block"
                                        ng-show="myForm.txt_criteria_name_ot1.$error.required && (myForm.txt_criteria_name_ot1.$touched || myForm.$submitted)">This Field is required.
                                    </small>

                                </div>
                            </div>
                            
                             <div class="col-md-1">

                                <div ng-class="{'has-error': !myForm.chkvalidstatus.$valid && (myForm.chkvalidstatus.$touched || myForm.$submitted) }">
                                    <label><i class="fa fa-bookmark"></i>&nbsp;{{ "Is Valid" | translate }}<span class="text-red">*</span></label>

                                    <div class="checkbox check-success">
                                        <input type="checkbox" value="1" id="chkvalidstatus" name="chkvalidstatus" title="Status" ng-model="edt.sims_criteria_status" required>
                                        <label for="chkvalidstatus" />
                                    </div>
                                </div>
                                <div class="error-container"
                                    ng-show="myForm.chkvalidstatus.$dirty && myForm.chkvalidstatus.$invalid || myForm.$submitted">
                                    <small class="help-block"
                                        ng-show="myForm.chkvalidstatus.$error.required && (myForm.chkvalidstatus.$touched || myForm.$submitted)">This Field is required.
                                    </small>
                                </div>
                            </div>
                            <div class="col-md-2">

                                <label><i class="fa fa-asterisk"></i>&nbsp;{{ "Is Mandatory" | translate }}</label>

                                <div class="checkbox check-success">
                                    <input type="checkbox" value="1" id="chkmandatory" name="chkmandatory" title="Status" ng-model="edt.sims_criteria_mandatory">
                                    <label for="chkmandatory" />
                                </div>
                            </div>

                        </div>

                       


                        <div class="col-md-12">
                            <div class="form-actions">
                                <div class="pull-right">
                                    <button class="btn btn-primary btn-cons btn-small" type="submit" ng-show="btn_save1">{{"Save"|translate}}</button>
                                    <button class="btn btn-primary btn-cons btn-small" type="submit" ng-show="btn_update1">{{"Update"|translate}}</button>
                                    <button class="btn btn-warning btn-cons btn-small" type="button" ng-click="cancel()">{{"Cancel"|translate}}</button>
                                </div>
                            </div>
                        </div>
                    </form>


                </div>

                <div ng-show="grid">
                    <div class="row margin-top" style="margin-top:0px;">
                        <div class="col-md-6">
                            <div class="pull-left">
                                <select id="Select1" style="width: 65px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                                    <option value="All" class=" form-control input-sm">All
                                    </option>

                                    <option value="10" class=" form-control input-sm">10
                                    </option>

                                    <option value="20" class=" form-control input-sm">20
                                    </option>

                                </select>

                            </div>
                            &nbsp;
                        <button class="btn btn-success btn-cons" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"|translate}}</button>
                            &nbsp;
                        <button class="btn btn-danger btn-cons" type="button" ng-click="Delete()"><span class="semi-bold"></span>{{"Delete"|translate}}</button>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <div class="dataTables_filter" id="example_filter">
                                    <span class="k-textbox k-space-right full-width">
                                        <input type="text" aria-controls="example" ng-model="searchText" placeholder="Criteria Code/ Criteria Name" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                        <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <div class="row margin-top" style="margin-top:3px;">
                            <div class="col-md-12">
                                <table class="table table-hover table-bordered table-condensed" id="fixedtable">
                                    <thead>
                                        <tr style="background-color: #e9e4e4">
                                            <th class="small-cell v-align-middle" style="z-index: 999">
                                                <div class="checkbox check-success">
                                                    <input type="checkbox" name="check" value="1" id="mainchk" ng-click="CheckAllChecked()">
                                                    <label for="mainchk"></label>
                                                </div>
                                            </th>
                                          
                                           <!--  <th ng-click="orderByField='sort'; reverseSort1 = !reverseSort1">
                                               <b> {{"Criteria Code"| translate }} <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span> </b>
                                            </th>
                                            <th><b>{{"Criteria Code"|translate}}</b></th>-->
                                         <!--   <th><b>{{"Criteria Name In English"|translate}}</b></th>
                                            <th><b>{{"Criteria Name In Other Language"|translate}}</b></th>
                                            <th><b>{{"Is Mandatory"|translate}}</b></th>
                                            <th><b>{{"Criteria Type"|translate}}</b></th>
                                            <th><b>{{"Is Valid"|translate}}</b></th>-->
                                            
                                            <th ng-click="sortBy('sims_criteria_code')">
                                                <i class="fa fa-bars"></i>&nbsp;<b>{{"Criteria Code"| translate }}</b>
                                                <span class="sortorder" ng-show="propertyName === 'sims_criteria_code'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th ng-click="sortBy('sims_criteria_name_en')">
                                                <i class="fa fa-align-justify"></i>&nbsp;<b>{{"Criteria Name In English"| translate }}</b>
                                                <span class="sortorder" ng-show="propertyName === 'sims_criteria_name_en'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th ng-click="sortBy('sims_criteria_name_ot')">
                                                <i class="fa fa-align-justify"></i>&nbsp;<b>{{"Criteria Name In Other Language"| translate }}</b>
                                                <span class="sortorder" ng-show="propertyName === 'sims_criteria_name_ot'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th ng-click="sortBy('sims_criteria_mandatory')">
                                               <i class="fa fa-asterisk"></i>&nbsp; <b>{{"Is Mandatory"| translate }}</b>
                                                <span class="sortorder" ng-show="propertyName === 'sims_criteria_mandatory'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th ng-click="sortBy('sims_criteria_type_name')">
                                                <i class="fa fa-bookmark-o"></i>&nbsp;<b>{{"Criteria Type"| translate }}</b>
                                                <span class="sortorder" ng-show="propertyName === 'sims_criteria_type_name'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th ng-click="sortBy('sims_criteria_status')">
                                                <i class="fa fa-bookmark"></i>&nbsp;<b>{{"Is Valid"| translate }}</b>
                                                <span class="sortorder" ng-show="propertyName === 'sims_criteria_status'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th class="small-cell v-align-middle"><b><i class="fa fa-cogs"></i></b></th>
                                            <!-- <th><b>{{"ACTION"|translate}}</b></th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        

                                        <tr ng-repeat="crit in filteredTodos | orderBy:propertyName:reverse" ng-class="row1">
                                       <!-- <tr ng-repeat="crit in filteredTodos | orderBy:orderByField:reverseSort" ng-class="row1">-->
                                            <td>
                                                <div class="checkbox check-success" style="height: 20px">
                                                    <input type="checkbox" name="check" value="1" id="{{crit.sims_criteria_code+$index}}" ng-click="checkonebyonedelete(crit.sims_criteria_code)">
                                                    <label for="{{crit.sims_criteria_code+$index}}">
                                                    </label>
                                                </div>
                                            </td>
                                            <td style="width:8%;">
                                                <div>{{crit.sims_criteria_code}}</div>
                                            </td>
                                            <td>
                                                <div>{{crit.sims_criteria_name_en}}</div>
                                            </td>
                                            <td>
                                                <div>{{crit.sims_criteria_name_ot}}</div>
                                            </td>
                                            <td>
                                                <span class="label label-success" ng-if="crit.sims_criteria_mandatory == true">{{"Yes"| translate }}</span>
                                                <span class="label label-important" ng-if="crit.sims_criteria_mandatory==false" >{{"No"| translate }}</span>
                                            </td>

                                            <td>
                                                <div>{{crit.sims_criteria_type_name}}</div>
                                            </td>
                                            <td>
                                                <span class="label label-success" ng-if="crit.sims_criteria_status == true">{{"Active"| translate }}</span>
                                                <span ng-if="crit.sims_criteria_status==false" class="label label-important">{{"In Active"| translate }}</span>
                                            </td>
                                            <td>
                                                <a><i class="fa fa-edit" ng-click="edit(crit)"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row margin-top" ng-show="pager">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                     </paging>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<script src="assets/js/tableHeadFixer.js"></script>
