﻿﻿<link href="assets/css/mino.css" rel="stylesheet" />
<div class="loading-middle" ng-hide="display">
    {{ "Loading..." | translate }}
</div>

<style>
    .disableTab {
        pointer-events: none;
    }

    .loader_another {
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(assets/images/loader.gif);
        background-repeat: no-repeat;
        position: fixed;
        opacity: 0.5;
        opacity: 0.7;
        z-index: 105;
        background-color: #22262e;
        background-position-x: 50%;
        background-position-y: 50%;
        background-origin: content-box;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{ "Admission(Short)" | translate }}</span></h3>
            </div>
            
               <div class="grid-body no-border">
            <div  ng-show="display">
                <form name="myForm" novalidate="novalidate">

                    <div class="row">
                        <div class="loader_another" ng-show="BUSY">
                        </div>
                    </div>

                    <div class="row">
                       
                            
                                <div class="col-md-3">
                                        <div  ng-class="{'has-error': !myForm.txt_appl_no.$valid && (myForm.txt_appl_no.$touched || myForm.$submitted) }">
                                            <label>{{ "Application Number" | translate }} </label>
                                          
                                              <input type="text" class="k-textbox input-sm full-width" id="txt_appl_no" placeholder="Please Enter" name="txt_appl_no" ng-model="edt.appl_num" maxlength="20" ng-maxlength="20" ng-minlength="1" ng-pattern="/^[a-zA-Z0-9\s-]*$/">
                                        </div>
                                            <div class="error-container"
                                                 ng-show="myForm.txt_appl_no.$dirty && myForm.txt_appl_no.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                       ng-show="myForm.txt_appl_no.$error.required &&(myForm.txt_appl_no.$touched || myForm.$submitted)">
                                                    This Field is required.
                                                </small>
                                                <small class="help-block" ng-show="myForm.txt_appl_no.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_appl_no.$touched))">
                                                    Enter Valid Data
                                                </small>
                                            </div>
                                </div>

                                <div class="col-md-3">
                                        <div  ng-class="{'has-error': !myForm.SchoolCode1.$valid && (myForm.SchoolCode1.$touched || myForm.$submitted) }">
                                            <label>{{ "School Name" | translate }} <span class="required">*</span></label>

                                            <select id="cmb_school_code" name="SchoolCode1"   data-role="dropdownlist" class="form-control input-sm" required
                                                    ng-model="edt.school_code" ng-options="item.school_code as item.school_name for item in scholnm">
                                                <option value="">Please Select</option>
                                            </select>
                                        </div>

                                            <div class="error-container"
                                                 ng-show="myForm.SchoolCode1.$dirty && myForm.SchoolCode1.$invalid || myForm.$submitted">
                                                <small class="error"
                                                       ng-show="myForm.SchoolCode1.$error.required &&(myForm.SchoolCode1.$touched || myForm.$submitted)">
                                                    This Field is required.
                                                </small>
                                            </div>
                                </div>

                                <div class="col-md-3">
                                        <div  ng-class="{'has-error': !myForm.admpdate.$valid && (myForm.admpdate.$touched || myForm.$submitted) }">
                                            <label>{{ "Admission Date" | translate }} <span class="required">*</span></label>
                                             <div class="no-padding" style="width: auto">
                                                <input type="text" id="dp_admdate" placeholder="Select Date" name="admpdate" class="k-textbox input-sm full-width" ng-model="edt.admission_date" required ng-change="adm_date(edt.admission_date)">
                                            </div>
                                        </div>
                                            <div class="error-container"
                                                 ng-show="myForm.admpdate.$dirty && myForm.admpdate.$invalid || myForm.$submitted">
                                                <small class="error"
                                                       ng-show="myForm.admpdate.$error.required &&(myForm.admpdate.$touched || myForm.$submitted)">
                                                    This Field is required.
                                                </small>

                                            </div>
                                </div>

                                <div class="col-md-3" ng-show="false">
                                        <div  ng-class="{'has-error': !myForm.tentJoindate.$valid && (myForm.tentJoindate.$touched || myForm.$submitted) }">
                                            <label>{{ "Tentative Join Date" | translate }} <span class="required">*</span></label>
                                           
                                             <div class="no-padding" style="width: auto">
                                                <input type="text" id="dp_joinDate" placeholder="Select Date" name="tentJoindate" class="k-textbox input-sm full-width" ng-model="edt.tent_join_date" ng-change="tent_date(edt.tent_join_date)">
                                            </div>
                                        </div>

                                         <div class="error-container"
                                                 ng-show="myForm.tentJoindate.$dirty && myForm.tentJoindate.$invalid || myForm.$submitted">
                                                <small class="error"
                                                       ng-show="myForm.tentJoindate.$error.required &&(myForm.tentJoindate.$touched || myForm.$submitted)">
                                                    This Field is required.
                                                </small>
                                            </div>
                                </div>

                                <div class="col-md-3">
                                        <div  ng-class="{'has-error': !myForm.txt_comm_date.$valid && (myForm.txt_comm_date.$touched || myForm.$submitted) }">
                                            <label>{{ "Commencemnt Date" | translate }} <span class="required">*</span></label>
                                            
                                            <div class="no-padding" style="width: auto">
                                                <input type="text" id="txt_comm_date" placeholder="Select Date" name="txt_comm_date" class="k-textbox input-sm full-width" ng-model="edt.comm_date" required ng-change="comm_date(edt.comm_date)">
                                            </div>
                                        </div>
                                            <div class="error-container"
                                                 ng-show="myForm.txt_comm_date.$dirty && myForm.txt_comm_date.$invalid || myForm.$submitted">
                                                <small class="error"
                                                       ng-show="myForm.txt_comm_date.$error.required &&(myForm.txt_comm_date.$touched || myForm.$submitted)">
                                                    This Field is required.
                                                </small>
                                            </div>
                               </div>

                        </div>

                        <div class="row margin-top">
                             <div class="col-md-12">
                                    <h4><span class="semi-bold">{{ "Student Details" | translate }}</span></h4>
                                  <span class="col-md-12" style="height: 5px; color: #0082d4; background-color: #0082d4;" />
                                 </div>

                        </div>

                        <div class="row margin-top">
                                <div class="col-md-3">
                                        <div  ng-class="{'has-error': !myForm.txt_first_name.$valid && (myForm.txt_first_name.$touched || myForm.$submitted) }">
                                            <label>{{ "First Name" | translate }} <span class="required">*</span></label>
                                            
                                            <input type="text" class="k-textbox input-sm full-width" id="txt_first_name" placeholder="Please Enter" name="txt_first_name" ng-pattern="/^[a-zA-Z\s]*$/" maxlength="50" required ng-maxlength="50" ng-minlength="1" ng-model="edt.first_name">
                                        </div>
                                          <div class="error-container"
                                                 ng-show="myForm.txt_first_name.$dirty && myForm.txt_first_name.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                       ng-show="myForm.txt_first_name.$error.required &&(myForm.txt_first_name.$touched || myForm.$submitted)">
                                                    This Field is required.
                                                </small>
                                                <small class="help-block" ng-show="myForm.txt_first_name.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_first_name.$touched))">
                                                    Enter Only character
                                                </small>
                                            </div>
                                </div>

                                <div class="col-md-3">
                                        <div  ng-class="{'has-error': !myForm.txt_middle_name.$valid && (myForm.txt_middle_name.$touched || myForm.$submitted) }">
                                            <label>{{ "Middle Name" | translate }}</label>
                                        
                                                <input type="text" class="k-textbox input-sm full-width" id="txt_middle_name" placeholder="Please Enter" name="txt_middle_name" maxlength="50" ng-model="edt.middle_name" ng-pattern="/^[a-zA-Z\s]*$/">
                                        </div>
                                            <div class="error-container"
                                                 ng-show="myForm.txt_middle_name.$dirty && myForm.txt_middle_name.$invalid || myForm.$submitted">
                                                <small class="help-block" ng-show="myForm.txt_middle_name.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_middle_name.$touched))">
                                                    Enter Only character
                                                </small>
                                            </div>
                                </div>

                                <div class="col-md-3">
                                  
                                       
                                        <div  ng-class="{'has-error': !myForm.txt_last_name.$valid && (myForm.txt_last_name.$touched || myForm.$submitted) }">
                                            <label>{{ "Last Name" | translate }} <span class="required">*</span></label>
                                           
                                             <input type="text" class="k-textbox input-sm full-width" id="txt_last_name" placeholder="Please Enter" name="txt_last_name" required maxlength="50" ng-maxlength="50" ng-minlength="1" ng-model="edt.last_name" ng-pattern="/^[a-zA-Z\s]*$/">
                                        </div>

                                     
                                            <div class="error-container"
                                                 ng-show="myForm.txt_last_name.$dirty && myForm.txt_last_name.$invalid || myForm.$submitted">
                                                <small class="error"
                                                       ng-show="myForm.txt_last_name.$error.required &&(myForm.txt_last_name.$touched || myForm.$submitted)">
                                                    This Field is required.
                                                </small>
                                                <small class="help-block" ng-show="myForm.txt_last_name.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_last_name.$touched))">
                                                    Enter Only character
                                                </small>
                                            </div>
                                        
                                   
                                </div>

                                <div class="col-md-3">
                                        <div  ng-class="{'has-error': !myForm.BirthCountry.$valid && (myForm.BirthCountry.$touched || myForm.$submitted) }">
                                            
                                            <label>{{ "Birth Country" | translate }} <span class="required">*</span></label>
                                            
                                            <select id="cmb_birth_country" name="BirthCountry"  data-role="dropdownlist" class="form-control input-sm"
                                                    ng-model="edt.birth_country_code" required>
                                                <option value="">Please Select</option>
                                                <option ng-repeat="i in obj" ng-if="i.birth_country_code.length"
                                                        value="{{i.birth_country_code}}">
                                                    {{i.birth_country}}
                                                </option>
                                            </select>
                                        </div>
                                       
                                            <div class="error-container"
                                                 ng-show="myForm.BirthCountry.$dirty && myForm.BirthCountry.$invalid || myForm.$submitted">
                                                <small class="error"
                                                       ng-show="myForm.BirthCountry.$error.required &&(myForm.BirthCountry.$touched || myForm.$submitted)">
                                                    This Field is required.
                                                </small>
                                            </div>
                                </div>
                            
                        </div>

                        <div class="row margin-top">
                          
                                
                                <div class="col-md-3">
                                        
                                        <div  ng-class="{'has-error': !myForm.Gender.$valid && (myForm.Gender.$touched || myForm.$submitted) }">
                                            <label>{{ "Gender" | translate }} <span class="required">*</span></label>
                                          
                                              <select id="cmb_gender" name="Gender"  data-role="dropdownlist" class="form-control input-sm"
                                                    ng-model="edt.gender_code" required>
                                                <option value="">Please Select</option>
                                                <option ng-repeat="i in obj" ng-if="i.gender_code.length"
                                                        value="{{i.gender_code}}">
                                                    {{i.gender_desc}}
                                                </option>
                                            </select>
                                        </div>

                                            <div class="error-container"
                                                 ng-show="myForm.Gender.$dirty && myForm.Gender.$invalid || myForm.$submitted">
                                                <small class="error"
                                                       ng-show="myForm.Gender.$error.required && (myForm.Gender.$touched || myForm.$submitted)">
                                                    This Field is required.
                                                </small>
                                            </div>
                                </div>

                                <div class="col-md-3">
                                        
                                        <div  ng-class="{'has-error': !myForm.txt_pass_no.$valid && (myForm.txt_pass_no.$touched || myForm.$submitted) }">
                                            <label>{{ "Passport Number" | translate }} <span class="required">*</span></label>
                                           
                                             <input type="text" class="k-textbox input-sm full-width" id="txt_pass_no" placeholder="Please Enter" name="txt_pass_no" maxlength="15" ng-model="edt.passport_num" required ng-maxlength="15" ng-minlength="1" ng-pattern="/^[a-zA-Z0-9\s-]*$/">
                                             <div class="error-container"
                                                 ng-show="myForm.txt_pass_no.$dirty && myForm.txt_pass_no.$invalid || myForm.$submitted">
                                                <small class="error"
                                                       ng-show="myForm.txt_pass_no.$error.required  && (myForm.txt_pass_no.$touched || myForm.$submitted)">
                                                    This Field is required.
                                                </small>
                                                <small class="help-block" ng-show="myForm.txt_pass_no.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_pass_no.$touched))">
                                                    Enter Valid Data
                                                </small>
                                            </div>
                                        </div>
                                      
                                </div>

                                <div class="col-md-3">
                                        <div  ng-class="{'has-error': !myForm.passexpdate.$valid && (myForm.passexpdate.$touched || myForm.$submitted) }">
                                            <label>{{ "Expiry Date" | translate }} <span class="required">*</span></label>
                                           
                                             <div class="no-padding" style="width: auto">
                                                <input type="text" id="dp_passexpdate" placeholder="Select Date" name="passexpdate" class="k-textbox input-sm full-width" ng-change="createdate(edt.passport_expiry)" ng-model="edt.passport_expiry" required>
                                               
                                            </div>
                                        </div>

                                        <div class="error-container"
                                                 ng-show="myForm.passexpdate.$dirty && myForm.passexpdate.$invalid || myForm.$submitted">
                                                <small class="error"
                                                       ng-show="myForm.passexpdate.$error.required && (myForm.passexpdate.$touched || myForm.$submitted)">
                                                    This Field is required.
                                                </small>

                                            </div>
                                </div>

                                <div class="col-md-3">
                                        <div  ng-class="{'has-error': !myForm.txt_prevschool_name.$valid && (myForm.txt_prevschool_name.$touched || myForm.$submitted) }">
                                            <label>{{ "Previous School Name" | translate }}</label>
                                        
                                                <input type="text" class="k-textbox input-sm full-width" id="txt_school_name" placeholder="Please Enter" name="txt_prevschool_name" maxlength="50" ng-model="edt.current_school_name" ng-pattern="/^[a-zA-Z0-9\s-]*$/">
                                        </div>
                                            <div class="error-container"
                                                 ng-show="myForm.txt_prevschool_name.$dirty && myForm.txt_prevschool_name.$invalid || myForm.$submitted">
                                                <small class="help-block" ng-show="myForm.txt_prevschool_name.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_prevschool_name.$touched))">
                                                    Enter Valid Data
                                                </small>
                                            </div>
                                    </div>
                        </div>

                        <div class="row margin-top">
                                <div class="col-md-3">
                                        <div  ng-class="{'has-error': !myForm.txt_emirate_id.$valid && (myForm.txt_emirate_id.$touched || myForm.$submitted) }">
                                            <label>{{ "National ID" | translate }} </label>
                                          
                                            <input type="text" class="k-textbox input-sm full-width" id="txt_emirate_id" placeholder="Please Enter" name="txt_emirate_id" ng-model="edt.national_id" maxlength="18" ng-maxlength="18" ng-minlength="1" ng-pattern="/^[0-9-/]{1,18}$/">
                                        </div>
                                        <div class="error-container"
                                                 ng-show="myForm.txt_emirate_id.$dirty && myForm.txt_emirate_id.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                       ng-show="myForm.txt_emirate_id.$error.required && (myForm.txt_emirate_id.$touched || myForm.$submitted)">
                                                    This Field is required.
                                                </small>
                                                <small class="help-block" ng-show="myForm.txt_emirate_id.$error.pattern && (!myForm.$pristine && (myForm.$submitted ||myForm.txt_emirate_id.$touched))">
                                                    Enter Only Digit
                                                </small>
                                            </div>
                                </div>

                                <div class="col-md-3">
                                        <div class="col-md-12">
                                            <label>{{ "Expiry Date" | translate }}</label>

                                            <div class="no-padding" style="width: auto">
                                                <input type="text" id="dp_expiry_date" placeholder="Select Date" name="expdate" class="k-textbox input-sm full-width" ng-change="createdate1(edt.national_id_expiry_date)" ng-model="edt.national_id_expiry_date">
                                               
                                            </div>
                                        </div>
                                    </div>

                                <div class="col-md-3">
                                        <div ng-class="{'has-error': !myForm.txt_eme_cont_person.$valid && (myForm.txt_eme_cont_person.$touched || myForm.$submitted) }">
                                            <label>{{ "Emergency Contact Person" | translate }}</label>
                                            
                                            <input type="text" class="k-textbox input-sm full-width" id="txt_eme_cont_person" placeholder="Please Enter" name="txt_eme_cont_person" ng-pattern="/^[a-zA-Z\s]*$/" maxlength="50" ng-model="edt.sims_student_emergency_contact_name1">
                                        </div>
                                       <div class="error-container"
                                                 ng-show="myForm.txt_eme_cont_person.$dirty && myForm.txt_eme_cont_person.$invalid || myForm.$submitted">
                                                <small class="help-block" ng-show="myForm.txt_eme_cont_person.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_eme_cont_person.$touched))">
                                                    Enter Only character
                                                </small>
                                            </div>
                                </div>

                                <div class="col-md-3">

                                    <div class="row form-row">
                                     
                                        <div  ng-class="{'has-error': !myForm.txt_eme_cont_no.$valid && (myForm.txt_eme_cont_no.$touched || myForm.$submitted) }">
                                            <label>{{ "Emergency Contact Number" | translate }}</label>
                                          
                                            
                                              <input type="text" class="k-textbox input-sm full-width" id="txt_eme_cont_no" placeholder="Please Enter" ng-pattern="/^[0-9]{1,20}$/" name="txt_eme_cont_no" maxlength="15" ng-maxlength="15" ng-model="edt.sims_student_emergency_contact_number1">
                                        </div>
                                        <div class="error-container"
                                                 ng-show="myForm.txt_eme_cont_no.$dirty && myForm.txt_eme_cont_no.$invalid || myForm.$submitted">
                                                <small class="help-block" ng-show="myForm.txt_eme_cont_no.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_eme_cont_no.$touched))">
                                                    Enter Only Digit
                                                </small>
                                            </div>
                                        </div>
                                   </div>
                          
                        </div>

                        <div class="row margin-top">
                                <div class="col-md-3">
                                  
                                       
                                        <div ng-class="{'has-error': !myForm.nationality.$valid && (myForm.nationality.$touched || myForm.$submitted) }">
                                           
                                            <label>{{ "Nationality" | translate }} <span class="required">*</span></label>
                                            
                                             <select id="cmb_nationality1" name="nationality"   data-role="dropdownlist" class="form-control input-sm"
                                                    ng-model="edt.nationality_code" required>
                                                <option value="">Please Select</option>
                                                <option ng-repeat="i in obj" ng-if="i.nationality_code.length"
                                                        value="{{i.nationality_code}}">
                                                    {{i.nationality}}
                                                </option>
                                            </select>
                                        </div>

                                        <div class="error-container"
                                                 ng-show="myForm.nationality.$dirty && myForm.nationality.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                       ng-show="myForm.nationality.$error.required && (myForm.nationality.$touched || myForm.$submitted)">
                                                    nationality is required.
                                                </small>

                                            </div>
                                   
                                </div>

                                <div class="col-md-3">
                                        <div  ng-class="{'has-error': !myForm.dp_birth_date.$valid && (myForm.dp_birth_date.$touched || myForm.$submitted) }">
                                            <label>{{ "Date Of Birth" | translate }} <span class="required">*</span></label>
                                             <div class="no-padding" style="width: auto">
                                                <input type="text" id="dp_birth_date" placeholder="Select Date" name="dp_birth_date" class="k-textbox input-sm full-width" ng-model="edt.birth_date" ng-change="birthdate(edt.birth_date)" required>
                                                
                                            </div>
                                        </div>
                                            <div class="error-container"
                                                 ng-show="myForm.dp_birth_date.$dirty && myForm.dp_birth_date.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                       ng-show="myForm.dp_birth_date.$error.required && (myForm.dp_birth_date.$touched || myForm.$submitted)">
                                                    Birth Date is required.
                                                </small>
                                          </div>
                                    </div>

                                <div class="col-md-3">
                                           
                                        <label>{{ "Student ID" | translate }}</label>

                                        <input type="text" class="k-textbox input-sm full-width" id="txt_studnt_id" name="txt_studnt_id"  ng-model="edt.comn_seq" ng-disabled="true">
                                        </div>

                             <div class="col-md-3">
                                            
                                        <label>{{ "Parent ID" | translate }}</label>
                                             
                                        <input type="text" class="k-textbox input-sm full-width" id="txt_parent_id1" name="txt_parent_id1"  ng-model="edt.parent_comn_seq" ng-disabled="true">
                                        
                             </div>
                        </div>

                        <div class="row margin-top">
                            <div class="checkbox check-success">
                                                <input type="checkbox" value="1" name="chk_sibling" id="chk_sibling" title="Status" ng-model="edt.sibling_status" ng-click="check1();">
                                                <label for="chk_sibling">{{"Sibling Status(Enter Either Sibling Enroll Or Parent Id)"|translate}}</label>
                             </div>
                        </div>
                       
                        <div class="row margin-top">
                                
                                <div class="col-md-3">
                                        <div  ng-class="{'has-error': !myForm.txt_enroll_no.$valid && (myForm.txt_enroll_no.$touched || myForm.$submitted) }">
                                            <label>{{ "Sibling Enroll No" | translate }}</label>
                                           
                                             <input type="text" class="k-textbox input-sm full-width" id="txt_enroll_no" placeholder="Please Enter" name="txt_enroll_no" ng-model="edt.sibling_enroll" ng-disabled="true" ng-pattern="/^[a-zA-Z0-9\s-]*$/"><!--ng-disabled="parent_edit"-->
                                        </div>
                                       
                                        <div class="error-container"
                                                 ng-show="myForm.txt_enroll_no.$dirty && myForm.txt_enroll_no.$invalid || myForm.$submitted">
                                                <small class="help-block" ng-show="myForm.txt_enroll_no.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_enroll_no.$touched))">
                                                    Enter Valid Data
                                                </small>
                                            </div>
                                </div>

                                <div class="col-md-3">
                                  <div  ng-class="{'has-error': !myForm.txt_parent_id.$valid && (myForm.txt_parent_id.$touched || myForm.$submitted) }">
                                            <label>{{ "Parent Id" | translate }}</label>
                                           
                                             <input type="text" class="k-textbox input-sm full-width" id="txt_parent_id" placeholder="Please Enter" name="txt_parent_id" ng-model="edt.sims_parent_number" ng-disabled="true" ng-pattern="/^[a-zA-Z0-9\s-]*$/"><!--ng-disabled="parent_edit"-->
                                        </div>
                                      
                                            <div class="error-container"
                                                 ng-show="myForm.txt_parent_id.$dirty && myForm.txt_parent_id.$invalid || myForm.$submitted">
                                                <small class="help-block" ng-show="myForm.txt_parent_id.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_parent_id.$touched))">
                                                    Enter Valid Data
                                                </small>
                                            </div>
                                        
                                    
                                </div>

                                <div class="col-md-3">
                                    <label>&nbsp;</label>
                                            <button class="btn btn-success btn-cons btn-small" type="button" ng-click="getparent()" ng-disabled="parent_edit">{{ "Search Parent" | translate }}</button>
                                </div>

                        </div>

                        <div class="row margin-top">
                             <div class="col-md-12">
                                    <h4><span class="semi-bold">{{ "Class Details" | translate }}</span></h4>
                                  <span class="col-md-12" style="height: 5px; color: #0082d4; background-color: #0082d4;" />
                                 </div>
                        </div>

                        <div class="row margin-top">
                                <div class="col-md-3">
                                        <div  ng-class="{'has-error': !myForm.curCode.$valid && (myForm.curCode.$touched || myForm.$submitted) }">
                                           
                                            <label>{{ "Curriculum" | translate }} <span class="required">*</span></label>
                                            
                                             <select id="cmb_cur" name="curCode"  data-role="dropdownlist" class="form-control input-sm"
                                                    ng-model="edt.curr_code" required >

                                                <option value="">Please Select</option>
                                                <option ng-repeat="i in obj" ng-if="i.curr_code.length"
                                                        value="{{i.curr_code}}">
                                                    {{i.curr_name}}
                                                </option>
                                            </select>
                                        </div>

                                        <div class="error-container"
                                                 ng-show="myForm.curCode.$dirty && myForm.curCode.$invalid || myForm.$submitted">
                                                <small class="error"
                                                       ng-show="myForm.curCode.$error.required && (myForm.curCode.$touched || myForm.$submitted)">
                                                    This Field is required.
                                                </small>
                                            </div>
                                </div>

                                <div class="col-md-3">
                                        <div  ng-class="{'has-error': !myForm.AcadYr.$valid && (myForm.AcadYr.$touched || myForm.$submitted) }">
                                           
                                            <label>{{ "Academic Year" | translate }} <span class="required">*</span></label>
                                            
                                             <select id="cmb_acad_yr" name="AcadYr"  data-role="dropdownlist" class="form-control input-sm"
                                                    ng-model="edt.academic_year" required>
                                                <option value="">
                                                    Please Select
                                                </option>
                                                <option ng-repeat="i in obj" ng-if="i.academic_year.length && i.aycur==edt.curr_code"
                                                        value="{{i.academic_year}}">
                                                    {{i.academic_year_desc}}
                                                </option>
                                            </select>
                                        </div>
                                           <div class="error-container"
                                                 ng-show="myForm.AcadYr.$dirty && myForm.AcadYr.$invalid || myForm.$submitted">
                                                <small class="error"
                                                       ng-show="myForm.AcadYr.$error.required && (myForm.AcadYr.$touched || myForm.$submitted)">
                                                    This Field is required.
                                                </small>
                                            </div>
                                </div>

                                <div class="col-md-3">
                                        <div  ng-class="{'has-error': !myForm.Grade.$valid && (myForm.Grade.$touched || myForm.$submitted) }">
                                            <label>{{ "Grade Name" | translate }} <span class="required">*</span></label>
                                           
                                             <select id="cmb_grade" name="Grade"  data-role="dropdownlist" class="form-control input-sm"
                                                    ng-model="edt.grade_code" required>
                                                <option value="">Please Select</option>
                                                <option ng-repeat="i in obj" ng-if="i.grade_code.length && i.grCur==edt.curr_code && i.grAca==edt.academic_year"
                                                        value="{{i.grade_code}}">
                                                    {{i.grade_name}}
                                                </option>
                                            </select>
                                        </div>

                                        <div class="error-container"
                                                 ng-show="myForm.Grade.$dirty && myForm.Grade.$invalid || myForm.$submitted">
                                                <small class="error"
                                                       ng-show="myForm.Grade.$error.required && (myForm.Grade.$touched || myForm.$submitted)">
                                                    This Field is required.
                                                </small>
                                            </div>
                                </div>

                                <div class="col-md-3">

                                        <div  ng-class="{'has-error': !myForm.section.$valid && (myForm.section.$touched || myForm.$submitted) }">
                                            <label>{{ "Section Name" | translate }} <span class="required">*</span></label>
                                           
                                             <select id="cmb_section"  data-role="dropdownlist" class="form-control input-sm" name="section" ng-model="edt.section_code" required ng-maxlength="2" ng-minlength="1">
                                                <option value="">Please Select</option>
                                                <option ng-repeat="i in obj" ng-if="i.section_code.length && i.secAcy==edt.academic_year && i.secCur==edt.curr_code && i.secGr==edt.grade_code && (i.secgender==edt.gender_code ||  edt.gender_code==undefined||i.secgender==''||i.secgender=='M'||i.secgender=='B')"
                                                        value="{{i.section_code}}">
                                                    {{i.section_name}}
                                                </option>
                                            </select>
                                        </div>

                                        <div class="error-container"
                                                 ng-show="myForm.section.$dirty && myForm.section.$invalid || myForm.$submitted">
                                                <small class="error"
                                                       ng-show="myForm.section.$error.required && (myForm.section.$touched || myForm.$submitted)">
                                                    This Field is required.
                                                </small>
                                            </div>
                                    </div>
                        </div>

                        <div class="row margin-top">
                              <div class="col-md-3">
                                        <div  ng-class="{'has-error': !myForm.Term.$valid && (myForm.Term.$touched || myForm.$submitted) }">
                                            
                                            <label>{{ "Term / Semester" | translate }} <span class="required">*</span></label>
                                            
                                            <select id="cmb_term" name="Term"  data-role="dropdownlist" class="form-control input-sm" required
                                                    ng-model="edt.term_code">
                                                <option value="">Please Select</option>
                                                <option ng-repeat="i in obj" ng-if="i.term_code.length && i.termCur==edt.curr_code && i.termAy==edt.academic_year"
                                                        value="{{i.term_code}}">
                                                    {{i.term_name}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="error-container"
                                                 ng-show="myForm.Term.$dirty && myForm.Term.$invalid || myForm.$submitted">
                                                <small class="error"
                                                       ng-show="myForm.Term.$error.required && (myForm.Term.$touched || myForm.$submitted)">
                                                    This Field is required.
                                                </small>
                                            </div>
                                    </div>
                                </div>
                       

                        <div class="row margin-top">
                                    <div class="col-md-3">
                                        <h4><span class="semi-bold">{{ "Parent Details" | translate }} </span> <span style="color: red; font-size: 15px">*</span></h4>
                                            <div  ng-class="{'has-error': !myForm.cmb_parent.$valid && (myForm.cmb_parent.$touched || myForm.$submitted) }">
                                    <select id="cmb_parent" name="cmb_parent"  data-role="dropdownlist" class="form-control input-sm" required
                                            ng-model="edt.legal_custody_code" ng-options="item.legal_custody_code as item.legal_custody_name for item in legalcus" ng-change="get_legaldetails(edt.legal_custody_code)">
                                            <option value="">Please Select</option>
                                        </select>
                                        </div>
                                    </div>
                               </div>

                        <div class="row margin-top">
                                        <div class="error-container"
                                            ng-show="myForm.cmb_parent.$dirty && myForm.cmb_parent.$invalid || myForm.$submitted">
                                            <small class="error"
                                                ng-show="myForm.cmb_parent.$error.required && (myForm.cmb_parent.$touched || myForm.$submitted)">This Field is required.
                                            </small>
                                        </div>
                            </div>

                     <div class="row margin-top">
                               <div class="col-md-12">
                             <span class="col-md-12" style="height: 5px; color: #0082d4; background-color: #0082d4;" />
                                   </div>
                     </div>

                        <div class="row margin-top">
                                <div class="col-md-3">
                                 <div  ng-class="{'has-error': !myForm.txt_father_first_name1.$valid && (myForm.txt_father_first_name1.$touched || myForm.$submitted) }">
                                            
                                            <label>{{ "First Name" | translate }} <span class="required">*</span></label>
                                            
                                            <input type="text" class="k-textbox input-sm full-width" id="txt_father_first_name1" placeholder="Please Enter" name="txt_father_first_name1" required ng-maxlength="50" ng-minlength="1" maxlength="50" ng-model="edt.father_first_name" ng-disabled="Chk_parent"><!-- ng-pattern="/^[a-zA-Z\s]*$/"-->
                                        </div>
                                 <div class="error-container"
                                                 ng-show="myForm.txt_father_first_name1.$dirty && myForm.txt_father_first_name1.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                       ng-show="myForm.txt_father_first_name1.$error.required && (myForm.txt_father_first_name1.$touched || myForm.$submitted)">
                                                    This Field is required.
                                                </small>
                                            </div>
                                </div>

                                <div class="col-md-3">
                                   <label>{{ "Middle Name" | translate }}</label>

                                    <input type="text" class="k-textbox input-sm full-width" id="txt_father_middle_name1" placeholder="Please Enter" name="txt_father_middle_name1" maxlength="50" ng-model="edt.father_middle_name" ng-disabled="Chk_parent"><!--ng-pattern="/^[a-zA-Z\s]*$/"-->
                                </div>

                                <div class="col-md-3">
                                            <label>{{ "Last Name" | translate }}</label>

                                            <input type="text" class="k-textbox input-sm full-width" id="txt_father_last_name1" placeholder="Please Enter" name="txt_father_last_name1" maxlength="50" ng-maxlength="50" ng-minlength="1" ng-model="edt.father_last_name" ng-disabled="Chk_parent"><!--ng-pattern="/^[a-zA-Z\s]*$/"-->
                                </div>

                                <div class="col-md-3">

                                        
                                        <div  ng-class="{'has-error': !myForm.father_nationality.$valid && (myForm.father_nationality.$touched || myForm.$submitted) }">
                                            <label>{{ "Nationality" | translate }} <span class="required">*</span></label>
                                           
                                             <select id="cmb_nationality" name="father_nationality"  data-role="dropdownlist" class="form-control input-sm"
                                                    ng-model="edt.father_nationality1_code" required>

                                                <option value="">Please Select</option>
                                                <option ng-repeat="i in obj" ng-if="i.nationality_code.length"
                                                        value="{{i.nationality_code}}">
                                                    {{i.nationality}}
                                                </option>
                                            </select>
                                        </div>

                                        <div class="error-container"
                                                 ng-show="myForm.father_nationality.$dirty && myForm.father_nationality.$invalid || myForm.$submitted">
                                                <small class="error"
                                                       ng-show="myForm.father_nationality.$error.required  && (myForm.father_nationality.$touched || myForm.$submitted)">
                                                    This Field is required.
                                                </small>
                                            </div>
                              </div>
                            </div>

                        <div class="row margin-top">
                                <div class="col-md-6">
                                  
                                            <label>{{ "Summary Address" | translate }}</label>

                                            <input type="text" class="k-textbox input-sm full-width" id="txt_father_addr" placeholder="Please Enter" name="txt_father_addr" maxlength="100" ng-model="edt.father_summary_address" ng-disabled="Chk_parent">
                                 </div>

                                <div class="col-md-3">
                                        <div  ng-class="{'has-error': !myForm.txt_father_national_id.$valid && (myForm.txt_father_national_id.$touched || myForm.$submitted) }">
                                            <label>{{ "National ID" | translate }}</label>
                                         
                                               <input type="text" class="k-textbox input-sm full-width" id="txt_father_national_id" placeholder="Please Enter" name="txt_father_national_id" maxlength="18" ng-model="edt.sims_admission_father_national_id" ng-disabled="Chk_parent" ng-pattern="/^[0-9-/]{1,18}$/">
                                        </div>
                                            <div class="error-container"
                                                 ng-show="myForm.txt_father_national_id.$dirty && myForm.txt_father_national_id.$invalid || myForm.$submitted">
                                                <small class="help-block" ng-show="myForm.txt_father_national_id.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_father_national_id.$touched))">
                                                    Enter Only Digit
                                                </small>
                                            </div>
                                </div>

                                <div class="col-md-3">
                                   <div  ng-class="{'has-error': !myForm.txt_father_mobile.$valid && (myForm.txt_father_mobile.$touched || myForm.$submitted) }">
                                            <label>{{ "Mobile" | translate }}</label>
                                           
                                             <input type="text" class="k-textbox input-sm full-width" id="txt_father_mobile" placeholder="Please Enter" name="txt_father_mobile" maxlength="25" ng-maxlength="25" ng-model="edt.father_mobile" ng-pattern="/^\+?\d+$/"><!---->
                                        </div>
                                        <div class="error-container"
                                                 ng-show="myForm.txt_father_mobile.$dirty && myForm.txt_father_mobile.$invalid || myForm.$submitted">
                                                <small class="help-block" ng-show="myForm.txt_father_mobile.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_father_mobile.$touched))">
                                                    Enter Valid Mobile No
                                                </small>
                                            </div>
                                </div>
                           
                        </div>

                        <div class="row margin-top">
                          
                                <div class="col-md-3">
                                    <div  ng-class="{'has-error': !myForm.txt_father_email.$valid && (myForm.txt_father_email.$touched || myForm.$submitted) }">
                                            <label>{{ "Email" | translate }}</label>
                                           
                                             <input type="text" class="k-textbox input-sm full-width" id="txt_father_email" placeholder="Please Enter" name="txt_father_email" maxlength="50" ng-model="edt.father_email" ng-disabled="Chk_parent" ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i"><!--/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"-->
                                        </div>
                                    <div class="error-container"
                                                 ng-show="myForm.txt_father_email.$dirty && myForm.txt_father_email.$invalid || myForm4.$submitted">
                                                <small class="help-block" ng-show="myForm.txt_father_email.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_father_email.$touched))">
                                                    Enter Valid Email Id
                                                </small>
                                            </div>
                                </div>

                                <div class="col-md-3">
                                        <div  ng-class="{'has-error': !myForm.FeeCategory.$valid && (myForm.FeeCategory.$touched || myForm.$submitted) }">
                                            <label>{{ "Fee Category" | translate }} <span class="required">*</span></label>
                                            <select id="cmb_fee_cat" name="FeeCategory"  data-role="dropdownlist" class="form-control input-sm" ng-maxlength="2" ng-minlength="1" required
                                                    ng-model="edt.fee_category_code" ng-options="item.fee_category_code as item.fee_category_desc for item in feecat">
                                                <option value="">Please Select</option>
                                            </select>
                                        </div>

                                        <div class="error-container"
                                                 ng-show="myForm.FeeCategory.$dirty && myForm.FeeCategory.$invalid || myForm.$submitted">
                                                <small class="error"
                                                       ng-show="myForm.FeeCategory.$error.required  && (myForm.FeeCategory.$touched || myForm.$submitted)">
                                                    This Field is required.
                                                </small>
                                            </div>
                                </div>

                                <div class="col-md-3">
                                        <div  ng-class="{'has-error': !myForm.cmb_Feeapplicable.$valid && (myForm.cmb_Feeapplicable.$touched || myForm.$submitted) }">
                                            
                                            <label>{{ "Fee Applicable From Month" | translate }}  <span class="required">*</span></label>
                                            
                                            <select id="cmb_Feeapplicable" name="cmb_Feeapplicable"  data-role="dropdownlist" class="form-control input-sm" required
                                                    ng-model="edt.sims_fee_month_code" ng-options="item.sims_fee_month_code as item.sims_fee_month_name for item in feemonth">
                                                <option value="">Please Select</option>
                                            </select>
                                        </div>

                                        <div class="error-container"
                                                 ng-show="myForm.cmb_Feeapplicable.$dirty && myForm.cmb_Feeapplicable.$invalid || myForm.$submitted">
                                                <small class="error"
                                                       ng-show="myForm.cmb_Feeapplicable.$error.required  && (myForm.cmb_Feeapplicable.$touched || myForm.$submitted)">
                                                    This Field is required.
                                                </small>
                                            </div>
                                </div>
                            
                        </div>

                      
                        <div class="col-md-12">
                                  <div class="form-actions">
                                <div class="pull-right">

                                    <button class="btn btn-primary btn-cons" type="submit" ng-show="save1" ng-click="Save(myForm.$valid)">{{ "Submit" | translate }}</button>

                                    <button class="btn btn-warning btn-cons" type="button" ng-click="Cancel()">{{ "Reset" | translate }}</button>
                                </div>
                            </div>
                            </div>
                       
                    
                </form>
            </div>
                   </div>

     </div>
   </div>
</div>
<script src="assets/js/moment.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>











