﻿<link href="assets/plugins/Minovate/Main.css" rel="stylesheet" />
<link href="assets/css/multiple-select.css" rel="stylesheet" />
<script src="assets/css/multiple-select.js"></script>
<div class="col-md-16">
    <!-- tile -->
    <section class="tile">
        <!-- tile header -->
        <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Admission </strong>Status</h1>
        </div>
        <!-- /tile header -->

        <!-- tile body -->
        <div class="tile-body table-custom" style="display: block;">

            <div class="table-responsive">
                <div id="project-progress_wrapper">
                    <div class="row">
                        <div class="form-group col-md-2">
                            <label for="username">Curriculum </label>
                            <select id="cmb_cur" class="form-control select2-sm"
                                ng-model="edt.sims_cur_code" ng-change="cur_change()"
                                ng-options="commn2.sims_cur_code as commn2.sims_cur_name for commn2 in admissionCur" name="cmb_cur">
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="username">Academic Year </label>
                            <select id="Select1" class="form-control select2-sm"
                                ng-model="edt.sims_academic_year" ng-change="acdm_yr_change()"
                                ng-options="commn2.sims_academic_year as commn2.sims_academic_year_desc for commn2 in admissionYear">
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="username">Grade </label>
                            <!--<select id="Select2" class="form-control select2-sm"
                                    ng-model="edt.sims_grade_code" 
                                    ng-options="commn2.sims_grade_code as commn2.sims_grade_name_en for commn2 in admissionGrade"> 
                                    </select>  -->
                            <select id="cmb_grade" name="Grade" multiple="multiple" required style="margin-bottom: 0px" ng-model="edt.sims_grade_code">
                                <option ng-repeat="i in admissionGrade"
                                    value="{{i.sims_grade_code}}">{{i.sims_grade_name_en}}
                                </option>
                            </select>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="username">Admission Status </label>
                            <!-- <select id="Select3" class="form-control select2-sm"
                                ng-model="edt.sims_application_status_code" 
                                ng-options="commn2.sims_application_status_name  as commn2.sims_application_status_code for commn2 in admissionStatus"> 
                                </select>  -->
                            <select id="cmd_status" name="status" multiple="multiple" required style="margin-bottom: 0px" ng-model="edt.sims_application_status_code">
                                <option ng-repeat="i in admissionStatus"
                                    value="{{i.sims_application_status_name}}">&nbsp;{{i.sims_application_status_code}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="username">Start Date </label>
                            <div class="input-append success date" data-datepicker="true">
                                <input type="text" style="width: 165px" id="attendance_date" placeholder="Select Date" name="attendance_date" class="form-control" ng-model="edt.sims_start_date">
                                <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                            </div>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="username">End Date </label>
                            <div class="input-append success date" data-datepicker="true">
                                <input type="text" style="width: 165px" id="Text1" placeholder="Select Date" name="end_date" class="form-control" ng-model="edt.sims_end_date">
                                <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                            </div>
                        </div>

                        <div class="form-group col-md-2">
                            <label for="username">Admission No.</label>
                            <input type="text" name="name" id="name" ng-model="edt.admission_no" ng-keypress="fetchDatakeyPress($event)" class="form-control input-sm" required="">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="username">&nbsp;</label>
                            <button type="submit" class="btn btn-rounded btn-success btn-sm" ng-click="btnPreview_click()">Preview</button>
                            <button type="submit" class="btn btn-rounded btn-success btn-sm" ng-click="reset()">Reset</button>

                        </div>
                    </div>
                    <div class="modal fade" id="loadering">
                        <div class="modal-dialog" id="top">
                            <div class="modal-content">
                                <div class="box1" style="position: fixed; margin-top: 50%; left: 50%;">
                                    <img src="assets/img/loading_transparent_.gif">
                                    <!--<img src="assets/theme/img/loading.gif" />-->
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>


                    <div class="row">
                        <div class="col-sm-12">

                            <div style="overflow-y: auto; overflow-x: scroll; height: 380px;">

                                <!--<div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 336.004px; background: rgb(0, 0, 0);">
                                                            </div>-->


                                <table class="table table-bordered table-striped dataTable" id="project-progress" role="grid" aria-describedby="project-progress_info">
                                    <thead>
                                        <tr role="row">
                                            <th style="width: 50px;" class="text-left no-sort sorting_disabled">&nbsp;</th>
                                            <th style="width: 20px;" tabindex="0" aria-controls="project-progress" aria-sort="ascending" aria-label="ID: activate to sort column descending">Sr.No</th>
                                            <th style="width: 130px;" tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending">Admission No</th>
                                            <th style="width: 130px;" tabindex="0" aria-controls="project-progress">Admission Date</th>
                                            <th style="width: 130px;" tabindex="0" aria-controls="project-progress">Student ID</th>
                                            <th style="width: 140px;" class="text-left no-sort sorting_disabled" aria-label="Chart">Name</th>
                                            <th style="width: 80px;" class="text-left no-sort sorting_disabled" aria-label="Chart">Class</th>
                                            <th style="width: 50px;" class="text-left no-sort sorting_disabled" aria-label="Chart">Gender</th>
                                            <th style="width: 130px;" class="text-left no-sort sorting_disabled" aria-label="Chart">Father Name</th>
                                            <th style="width: 130px;" class="text-left no-sort sorting_disabled" aria-label="Chart">Mother Name</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="info in admissions">
                                            <td>
                                                <div class="text-default">
                                                    <span class="label label-success" ng-click="printData(info)" style="vertical-align: middle; cursor: pointer"><b>Print</b></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-default">
                                                    {{$index+1}}
                                                    
                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-default">{{info.admission_no}}</div>
                                            </td>
                                            <td>
                                                <div class="text-default">{{info.admission_date|date:'yyyy-mm-dd'}}</div>
                                            </td>
                                            <td>
                                                <div class="text-default">{{info.student_enrollno}}</div>
                                            </td>

                                            <td>
                                                <div class="text-default">{{info.student_name}}</div>
                                            </td>
                                            <td>
                                                <div class="text-default">{{info.admission_grade}} - {{info.admission_section}}</div>
                                            </td>
                                            <td>
                                                <div class="text-default">{{info.gender}}</div>
                                            </td>
                                            <td>
                                                <div class="text-default">{{info.father_name}}</div>
                                            </td>
                                            <td>
                                                <div class="text-default">{{info.mother_name}}</div>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                        <div style="padding-left: 12px">
                            <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                ng-click="index(currentPage)">
                        </paging>
                        </div>
                    </div>

                </div>
            </div>

        </div>


    </section>
    <!-- /tile -->
</div>
