﻿<script src="https://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.12/xlsx.core.min.js"></script>

<style>
    .verticalLine {
        border-right: 1px solid #ecf0f2;
        /*padding-bottom: 12px;*/
    }

    .fontf {
        font-family: Arial;
        font-size: 20px;
    }

    .k-textbox .k-icon {
    top: 50%;
    margin: -9px -9px 0;
    position: absolute;
}
    .k-input {
    padding: 0em;
    margin-top:0px;
}
    .table {
    margin-left: 7px;
    width: 99%;
    margin-top: 7px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Agenda View" | translate }}</span> </h3>
            </div>

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input
                                placeholder="page"
                                class="form-control"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input
                                placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input
                                placeholder="Total"
                                class="form-control"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input
                                placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input
                                placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input
                                placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input
                                placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>


            <!--<div class="grid-body no-border" ng-show="display">-->

                <div ng-show="display">

                    <div class="raw">
                    <div class="paddingcode grid-body bluegrd" style="border: 1px solid #dddddd;">
                <!--<form name="Myform" ng-submit="agenda_Details_fun(Myform.$valid)" novalidate="novalidate">-->
                <div class="row">
                    <div class="col-md-2" ng-class="{'has-error': !Myform.sims_cur_name.$valid && (Myform.sims_cur_name.$touched || Myform.$submitted) }">
                        <label id="Label1" for="txt_Nationality_Code" class="form-label"><i class="fa fa-book"></i> {{" Curriculum"| translate }}</label>

                        <select id="Select2" data-role="dropdownlist" class="form-control input-sm full-width" name="sims_cur_name"
                            ng-model="temp.sims_cur_code" ng-change="getAccYear(temp.sims_cur_code)"
                            ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in curriculum" required>
                        </select>

                        <p class="help-block" ng-show="Myform.sims_cur_name.$error.required &&  (Myform.sims_cur_name.$touched || Myform.$submitted)">
                            This field is required
                        </p>
                    </div>

                    <div class="col-md-2" ng-class="{'has-error': !Myform.sims_academic_year.$valid && (Myform.sims_academic_year.$touched || Myform.$submitted) }">
                        <label id="Label4" for="txt_Nationality_Code" class="form-label"><i class="fa fa-calendar"></i>{{" Academic Year"| translate }}</label>

                        <select id="Select1" data-role="dropdownlist" class="form-control input-sm full-width" name="sims_academic_year"
                            ng-model="temp.sims_academic_year" ng-change="getGrade(temp.sims_cur_code,temp.sims_academic_year)"
                            ng-options="ay.sims_academic_year as ay.sims_academic_year_desc for ay in Acc_year" required>
                        </select>


                        <p class="help-block" ng-show="Myform.sims_academic_year.$error.required &&  (Myform.sims_academic_year.$touched || Myform.$submitted)">
                            This field is required
                        </p>
                    </div>

                    <div class="col-md-2" ng-class="{'has-error': !Myform.sims_grade_name.$valid && (Myform.sims_grade_name.$touched || Myform.$submitted) }">
                        <label id="Label6" for="txt_Nationality_Code" class="form-label"><i class="fa fa-sitemap"></i> {{" Grade"| translate }}</label>

                        <select id="Select4" name="sims_grade_name" data-role="dropdownlist" class="form-control input-sm full-width" ng-change="getSection(temp.sims_cur_code,temp.sims_grade_code,temp.sims_academic_year)" ng-model="temp.sims_grade_code" required>
                            <option value="" selected disabled>Please Select</option>
                            <option ng-repeat="grd in Grade_code" value="{{grd.sims_grade_code}}">{{grd.sims_grade_name}}</option>
                        </select>

                        <p class="help-block" ng-show="Myform.sims_grade_name.$error.required &&  (Myform.sims_grade_name.$touched || Myform.$submitted)">
                            This field is required
                        </p>
                    </div>

                    <div class="col-md-2" ng-class="{'has-error': !Myform.sims_section_name.$valid && (Myform.sims_section_name.$touched || Myform.$submitted) }">
                        <label id="Label10" for="txt_Nationality_Code" class="form-label"><i class="fa fa-align-justify"></i> {{" Section"| translate }}</label>

                        <select id="Select5" name="sims_section_name" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.sims_section_code" ng-change="select_sec()" required>
                            <option value="" selected disabled>Please Select</option>
                            <option ng-repeat="sec in Section_code" value="{{sec.sims_section_code}}">{{sec.sims_section_name}}</option>
                        </select>

                        <p class="help-block" ng-show="Myform.sims_section_name.$error.required &&  (Myform.sims_section_name.$touched || Myform.$submitted)">
                            This field is required
                        </p>
                    </div>

                    <div class="col-md-4">
                        <label id="Label2" for="txt_Nationality_Code" class="form-label"><i class="fa fa-align-justify"></i>{{" Subject"| translate }}</label>

                        <select id="Select3" name="subjct" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.sims_subject_code">
                            <option value="" selected disabled>Please Select</option>
                            <option ng-repeat="sub in All_subjects" value="{{sub.sims_subject_code}}">{{sub.sims_subject_name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-2" ng-class="{'has-error': !Myform.deptef.$valid && (Myform.deptef.$touched || Myform.$submitted) }">
                        <label><i class="fa fa-calendar"></i>{{" Start Date"| translate }}</label>

                        <input id="adm_dp_admdate" placeholder="Select Date" name="deptef" class="k-textbox input-sm full-width" ng-model="edt.sims_agenda_sdate" required>
                        <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                        <p class="help-block" ng-show="Myform.deptef.$error.required &&  (Myform.deptef.$touched || Myform.$submitted)">
                            This field is required
                        </p>
                    </div>

                    <div class="col-md-2" ng-class="{'has-error': !Myform.depte.$valid && (Myform.depte.$touched || Myform.$submitted) }">
                        <label><i class="fa fa-calendar"></i>{{" End Date"| translate }}</label>
                        <input type="text" id="enddate" placeholder="Select Date" name="depte" class="k-textbox input-sm full-width" ng-change="compareDate()" ng-model="edt.sims_agenda_edate" required>
                        <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                        <p class="help-block" ng-show="Myform.depte.$error.required &&  (Myform.depte.$touched || Myform.$submitted)">
                            This field is required
                        </p>
                    </div>

                    <div class="col-md-8">
                        <label>&nbsp;</label>
                        <div class="pull-right">
                        <button type="submit" id="Button1" ng-show="save_btn" ng-click="agenda_Details_fun(temp.sims_academic_year,edt.sims_agenda_sdate,edt.sims_agenda_edate,temp.sims_grade_code,temp.sims_section_code,temp.sims_subject_code);" class="btn btn-primary btn-small">{{"Search"| translate }}</button>
                        <button type="button" ng-show="Update_btn" ng-click="clear();" class="btn btn-warning btn-small">{{"Clear"| translate }}</button>
                        </div>
                    </div>

                </div>
                        </div>
                        </div>
                </div>
                <!--<div class="col-md-12" ng-show="PageSize_Search">
                    <hr style="height: 4px; border: none; color: darkorange; background-color: darkorange;">
                </div>-->

                    <div class="raw">
                        <div class="" style="background-color: white;">
                <div id="example_wrapper" class="dataTables_wrapper form-inline" ng-show="agenda_grid">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered table-condensed" id="test">
                                <thead>
                                    <tr>
                                        <th style="width: 5%; z-index: 1000; text-transform: capitalize"><i class="fa fa-sort-numeric-asc"></i> Serial No.</th>
                                        <th style="width: 8%; z-index: 1000; text-transform: capitalize"><i class="fa fa-calendar"></i> Date</th>
                                        <th style="width: 6%; z-index: 1000; text-transform: capitalize"><i class="fa fa-align-justify"></i> Grade & Section</th>
                                        <th style="width: 18%; z-index: 1000; text-transform: capitalize"><i class="fa fa-align-justify"></i> Agenda Name</th>
                                        <th style="width: 14%; z-index: 1000; text-transform: capitalize"><i class="fa fa-align-justify"></i> Subject</th>
                                        <th style="width: 20%; z-index: 1000; text-transform: capitalize"><i class="fa fa-align-justify"></i> File Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="j in agenda_Details">

                                        <td class="fontf">
                                            <label>{{$index+1}}</label>
                                        </td>
                                        <td class="fontf">
                                            <label style="padding-top: 0px">{{j.sims_agenda_date}}</label>
                                        </td>


                                        <td colspan="4">

                                            <div class="col-md-12" ng-repeat="g in j.sims_agenda_list| orderBy:orderByField:reverseSort">

                                                <div class="col-md-3 verticalLine fontf" style="width: 10%;">
                                                    <label>{{g.sims_grade}} </label>
                                                </div>

                                                <div class="col-md-3 verticalLine fontf" style="width: 31%;">
                                                    <label><a href="" ng-click="show_Description(g.sims_agenda_number,g.sims_agenda_name)">{{g.sims_agenda_name}}</a></label>
                                                </div>

                                                <div class="col-md-6" ng-repeat="s in g.sims_agenda_sub_list | orderBy:orderByField:reverseSort" style="margin-left: 0; margin-right: 0">
                                                    <div class="col-md-12">
                                                        <div class="col-md-6 verticalLine fontf" style="width: 50%;">
                                                            <label>{{s.sims_subject_name}}</label>
                                                        </div>
                                                        <div class="col-md-6" >
                                                            <span ng-repeat="sb in s.sims_agenda_doc_list | orderBy:orderByField:reverseSort">
                                                                <a ng-if="sb.sims_agenda_doc_en !=''" href="" ng-click="downloaddoc(sb.sims_agenda_doc)">{{sb.sims_agenda_doc_line_no}})&nbsp;{{sb.sims_agenda_doc_en}}
                                                                </a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </td>


                                        <!--                                    <td colspan="4">

                                        <div class="col-md-12" ng-repeat="g in j.sims_agenda_list| orderBy:orderByField:reverseSort">
                                          
                                            <div class="col-md-3 verticalLine fontf" >
                                                 <label>  {{g.sims_grade}} </label>
                                            </div>
                                       
                                            <div class="col-md-3 verticalLine fontf">
                                            <label><a href="" ng-click="show_Description(g.sims_agenda_number,g.sims_agenda_name)">{{g.sims_agenda_name}}</a></label>
                                            </div>

                                            <div class="col-md-6" ng-repeat="s in g.sims_agenda_sub_list | orderBy:orderByField:reverseSort" style="margin-left: 0; margin-right: 0">
                                                <div class="col-md-12">
                                                    <div class="col-md-4 verticalLine fontf">
                                                        <label>{{s.sims_subject_name}}</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <span ng-repeat="sb in s.sims_agenda_doc_list | orderBy:orderByField:reverseSort">
                                                            <a ng-if="sb.sims_agenda_doc_en !=''" href="" ng-click="downloaddoc(sb.sims_agenda_doc)">{{sb.sims_agenda_doc_line_no}})&nbsp;{{sb.sims_agenda_doc_en}}
                                                            </a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </td>-->

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button type="button" id="Button3" class="btn btn-primary btn-small" ng-click="printDiv('test');"style="margin-bottom: 7px;">{{"Print"| translate }}</button><!--ng-click="exportAction('test');"-->
                                <button type="button" id="Button2" class="btn btn-primary btn-small" ng-click="exportData()" style="margin-right: 7px;margin-bottom: 7px;">{{"Export"| translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                </div>

            <!--</div>-->

        </div>
    </div>
</div>


<div class="modal fade in" id="agenda_desc" role="dialog" style="display: none;">
    <div class="modal-dialog" style="width: 1024px; border: solid; border-width: 02px; border-bottom-left-radius: 05px; border-bottom-right-radius: 05px; border-top-left-radius: 05px; border-top-right-radius: 05px; border-color: blue">
        <div class="modal-content">
            <div class="modal-header ng-scope" style="height: 50px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px">Agenda <b>Description</b></h4>
                </div>

                <div class="pull-right">
                    <a href="">
                        <!--<button class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></button>-->
                        <button data-dismiss="modal" class="btn btn-danger btn-cons" style="margin-top: 7px;margin-right: -7px;">Close</button>
                    </a>
                </div>

            </div>


            <div class="grid-body no-border" style="margin-bottom: -23px">
                <div class="col-md-12">
                    <div class="row" id="printdata">
                        <div class="col-md-12">
                            <table class="table table-bordered table-condensed" id="fixTable2">

                                <thead style="background-color: white">
                                    <tr style="background-color: #edefef">

                                        <th class="semi-bold" style="width: 10%">
                                            <label><b><i class="fa fa-sort-numeric-asc"></i>{{" Agenda Number"| translate }}</b></label>
                                        </th>
                                        <th class="semi-bold" style="width: 10%">
                                            <label><b><i class="fa fa-calendar"></i>{{" Agenda Date" | translate }}</b></label>
                                        </th>
                                        <th class="semi-bold fontf" style="width: 30%">
                                            <label><b><i class="fa fa-align-justify"></i>{{" Agenda Name"| translate }}</b></label>
                                        </th>

                                        <th class="semi-bold" style="width: 40%">
                                            <label><b><i class="fa fa-align-justify"></i>{{" Agenda Description"| translate }}</b></label>
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="stude in agenda_Desc">

                                        <td>{{stude.sims_agenda_number}}</td>
                                        <td>{{stude.sims_agenda_date}}</td>
                                        <td>{{stude.sims_agenda_name}}</td>
                                        <td>
                                            <p ng-bind-html="stude.sims_agenda_desc | html"></p>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="assets/js/fileSaver.js"></script>
<script src="assets/plugins/tableExport/tableExport.js"></script>
<script src="assets/plugins/tableExport/jquery.base64.js"></script>
<script src="assets/plugins/tableExport/html2canvas.js"></script>
<script src="assets/plugins/tableExport/jspdf/libs/sprintf.js"></script>
<script src="assets/plugins/tableExport/jspdf/jspdf.js"></script>
<script src="assets/plugins/tableExport/jspdf/libs/base64.js"></script>



<!--<script>
    $(document).ready(function () {
        $("#From_Date").kendoDatePicker();
        $("#End_Date").kendoDatePicker();
        
    });
</script>-->

<script src="assets/js/calender-datepicker-id.js"></script>
