﻿
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">

            <div class="page-title">
                <h3><span class="semi-bold">{{ "Allocation" | translate }}</span>&nbsp;{{ "RollNo" | translate }}</h3>
            </div>

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                class="form-control"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                class="form-control"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>



            <!--<div class="grid-body no-border">-->
            <div ng-show="grid">
                <div class="raw">
                    <div class="paddingcode grid-body bluegrd" style="border: 1px solid #dddddd;">

                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                               <div class="col-md-2" >
                                <label class="semi-bold" for="StartDate"><i class="fa fa-book"></i>{{" Curriculum" | translate }} <span class="asterisk" style="color: red">{{msg1}}</span></label>
                                                <select id="cmb_School_Code" class="form-control input-sm full-width" data-role="dropdownlist" 
                                                ng-model="edt.sims_cur_code" required ng-change="getAccYear(edt.sims_cur_code)"
                                                ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in curriculum" style="width: 100%;">
                                            <option value="">Please Select</option>
                                        </select>
                            </div>

                  
                            <div class="col-md-2">
                                <label class="semi-bold" for="StartDate"><i class="fa fa-calendar"></i>{{" Academic Year" | translate }} <span class="asterisk" style="color: red">{{msg2}}</span></label>
                                <select id="Select21" data-role="dropdownlist" class="form-control input-sm full-width"  ng-model="edt.sims_academic_year" required ng-change="getgrades(edt.sims_cur_code,edt.sims_academic_year)">
                                    <option value="" >Please Select</option>
                                    <option ng-repeat="year in getAcademicYear" value="{{year.sims_academic_year}}">
                                        {{year.sims_academic_year_desc}}
                                    </option>
                                </select>
                            </div>

                           <div class="col-md-2">
                                <label class="semi-bold" for="StartDate"><i class="fa fa-sitemap"></i>{{" Grade" | translate }} <span class="asterisk" style="color: red">{{msg3}}</span></label>
                                <select id="Select22" data-role="dropdownlist" class="form-control input-sm full-width"  ng-model="edt.sims_grade_code"  ng-change="getsection(edt.sims_cur_code,edt.sims_academic_year,edt.sims_grade_code)"
                                        ng-options="grd.sims_grade_code as grd.sims_grade_name for grd in getAllGrades">
                                    <option value="">Please Select</option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <label class="semi-bold" for="StartDate"><i class="fa fa-align-justify"></i>{{" Section" | translate }} <span class="asterisk" style="color:red">{{msg4}}</span></label>
                                <select id="Select23" data-role="dropdownlist" class="form-control input-sm full-width"  ng-model="edt.sims_section_code" ng-change="getsubject()">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="sec in getSectionFromGrade" value="{{sec.sims_section_code}}">
                                        {{sec.sims_section_name}}
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <label class="semi-bold" for="StartDate"><i class="fa fa-align-justify"></i>{{" Subject" | translate }} <span class="asterisk" style="color:red">{{msg4}}</span></label>
                                <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width"  ng-model="edt.sims_subject_code">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="sec in subjectdata" value="{{sec.sims_subject_code}}">
                                        {{sec.sims_subject_name_en}}
                                    </option>
                                </select>
                            </div>

                             <div class="col-md-2">
                                <label class="semi-bold" ><i class="fa fa-align-justify"></i>{{" Student Status" | translate }} <span class="asterisk" style="color:red">{{msg4}}</span></label>
                               <div class="checkbox check-success">
                                        <input id="sims_allocation_status" type="checkbox" value="true" ng-model="edt.sims_allocation_status">
                                        <label for="sims_allocation_status"></label>
                                    </div>
                            </div>
                           
                            <!--<div class="col-md-2"  ng-show="table">
                                <div class="pull-right">
                                    <label>&nbsp</label>
                                   <button type="button" id="Button2" class="btn btn-primary btn-small" ng-click="Update()">{{ "Update" | translate }}</button>&nbsp;
                            </div>


                        </div>-->

                            
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-2" >
                             <label class="semi-bold" for="StartDate"><i class="fa fa-book"></i>{{" Order By" | translate }} <span class="asterisk" style="color: red">{{msg1}}</span></label>
                               <select id="Select2" class="form-control input-sm full-width" data-role="dropdownlist" 
                                       ng-model="edt.orderByName" required 
                                   style="width: 100%;">
                                   <option value="">Please Select</option>
                                   <option value="FN">First Name</option>
                                   <option value="LN">Last Name</option>
                               </select>
                            </div>

                        <div class="col-md-2" >
                             <label class="semi-bold" for="StartDate"><i class="fa fa-book"></i>{{" Order By" | translate }} <span class="asterisk" style="color: red">{{msg1}}</span></label>
                               <select id="Select1" class="form-control input-sm full-width" data-role="dropdownlist" 
                                       ng-model="edt.orderByGender" required 
                                   style="width: 100%;">
                                   <option value="">Please Select</option>
                                   <option value="M">Male</option>
                                   <option value="F">Female</option>
                                   <option value="B">Both</option>
                               </select>
                            </div>

                        <div class="col-md-2" >
                             <label class="semi-bold" for="StartDate"><i class="fa fa-book"></i>{{" Prefix" | translate }} <span class="asterisk" style="color: red">{{msg1}}</span></label>
                             <input id="prefix" type="text" ng-model="temp.prefix" placeholder="Prefix">
                        </div>

                        <div class="col-md-2" >
                             <label class="semi-bold" for="StartDate"><i class="fa fa-book"></i>{{" Start No" | translate }} <span class="asterisk" style="color: red">{{msg1}}</span></label>
                             <input id="Text1" type="number" ng-model="temp.startNo" placeholder="Start No">
                        </div>
                         <div class="col-md-1" >
                             <label>&nbsp</label>
                             <button class="btn btn-warning btn-small" ng-click="GenerateRollNo()">{{"Generate Roll No"|translate}}</button>
                        </div>

                             
                        <div class="col-md-3">
                            <div class="pull-right">
                            <label>&nbsp</label>
                            <button class="btn btn-primary btn-small" ng-click="getSectionGradesWise()">{{"Show"|translate}}</button>
                            <button type="button" class="btn btn-primary btn-small" ng-click="Reset()">{{"Reset"|translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                </div>

                <!--<hr />-->

                <div class="raw">
                        <div class="" style="background-color: white;margin-top: -14px;">
                <!--<div class="color-bands red"/><div class="color-bands green"/><div class="color-bands purple"/><!--<div class="color-bands blue"/><div class="color-bands red"/><div class="color-bands green"/><div class="color-bands purple"/><div class="color-bands blue"/><div class="color-bands red"/><div class="color-bands green"/><div class="color-bands purple"/><div class="color-bands blue"/>-->
                <div id="example_wrapper" class="dataTables_wrapper form-inline" ng-show="table">
                    <div class="col-md-12">
                        <div class="col-md-10">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search..." class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                </span>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-2">
                        <div ng-show="table">
                            <div class="pull-right">
                                <button type="button" id="Button2" class="btn btn-danger btn-small" ng-click="clearRollNo();">{{ "Clear Roll No" | translate }}</button>&nbsp;
                                <button type="button" id="Button1" class="btn btn-primary btn-small" ng-click="Update();">{{ "Update" | translate }}</button>&nbsp;
                            </div>

                         </div>
                        </div> 
                    </div>
                    <div class="row margin-top">
                        <div class="col-md-12">
                        <table class="table table-bordered table-hover table-condensed" id="fixTable" style="width: 99%;margin-left: 7px;">
                            <thead>
                                <tr style="background-color:#edefef !important">
                                    <!--<td class="small-cell v-align-middle"> &nbsp;
                                       <div class="checkbox check-success">
                                            <input type="checkbox" name="check" value="1" id="mainchk" ng-click="check();">
                                            <label for="mainchk"></label>
                                        </div>
                                    </td>-->

                                    <th class="bold"><i class="fa fa-sort-numeric-asc"></i>{{" SR No." | translate}}</th>
                                    <th class="bold" ng-click="sortBy('sims_student_gender')">
                                        <i class="fa fa-sort-numeric-asc"></i>{{" Gender"| translate }}
                                        <span class="sortorder" ng-show="propertyName === 'sims_student_gender'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <!--<th class="bold"><i class="fa fa-sort-numeric-asc"></i>{{ " Enroll No." | translate }}</th>-->
                                    <th class="bold" ng-click="sortBy('sims_student_enroll_number')">
                                        <i class="fa fa-sort-numeric-asc"></i>{{" Enroll No."| translate }}
                                        <span class="sortorder" ng-show="propertyName === 'sims_student_enroll_number'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th class="bold" ng-click="sortBy('sims_first_name')">
                                        <i class="fa fa-user"></i>{{" Full Name"| translate }}
                                        <span class="sortorder" ng-show="propertyName === 'sims_first_name'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th class="bold" ng-click="sortBy('sims_first_name')">
                                        <i class="fa fa-user"></i>{{" First Name"| translate }}
                                        <span class="sortorder" ng-show="propertyName === 'sims_first_name'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th class="bold" ng-click="sortBy('sims_middle_name')">
                                        <i class="fa fa-user"></i>{{" Middle Name"| translate }}
                                        <span class="sortorder" ng-show="propertyName === 'sims_middle_name'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th class="bold" ng-click="sortBy('sims_last_name')">
                                        <i class="fa fa-user"></i>{{" Last Name"| translate }}
                                        <span class="sortorder" ng-show="propertyName === 'sims_last_name'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <!--<th class="bold">{{ "Roll No." | translate }}</th>-->
                                    <!--<th class="bold"><i class="fa fa-user"></i>{{ " First Name" | translate }}</th>
                                    <th class="bold"><i class="fa fa-user"></i>{{ " Middle Name" | translate }}</th>
                                    <th class="bold"><i class="fa fa-user"></i>{{ " Last Name" | translate }}</th>-->
                                    
                                    <th class="bold"><i class="fa fa-sort-numeric-asc"></i>{{ " Roll No." | translate }}</th>
                                    <!--<th class="bold" ng-click="sortBy('sims_roll_number')">
                                        <i class="fa fa-user"></i>{{" Roll No"| translate }}
                                        <span class="sortorder" ng-show="propertyName === 'sims_roll_number'" ng-class="{reverse: reverse}"></span>
                                    </th>-->
                                     
                                    
                                </tr>
                            </thead>
                            <tr ng-repeat="info in AllStudentData |filter:searchText |orderBy:propertyName:reverse" ng-class="row1">
                                <!-- <td>
                                    <div class="checkbox check-success" style="height: 20px">
                                        <input type="checkbox" name="check" value="1" id="{{info.glac_acct_code}}" ng-click="check1(info.glac_acct_code);">
                                        <label for="{{info.glac_acct_code}}"></label>
                                    </div>
                                </td>-->
                                <td>{{$index+1}}</td>
                                <td style="width: auto;">{{info.sims_student_gender}}</td>
                                <td style="width: auto;">{{info.sims_student_enroll_number}}</td>

                                <td style="width: auto;" ng-if="edt.orderByName=='LN'">{{info.sims_last_name}} {{info.sims_middle_name}} {{info.sims_first_name}}</td>
                                <td style="width: auto;" ng-if="edt.orderByName=='FN'">{{info.sims_first_name}} {{info.sims_middle_name}} {{info.sims_last_name}}</td>

                                <td style="width: auto;">{{info.sims_first_name}}</td>
                                <td style="width: auto;">{{info.sims_middle_name}}</td>
                                <td style="width: auto;">{{info.sims_last_name}}</td>
                                <td style="width: auto;"><input type="text" ng-model="info.sims_roll_number" ng-blur="checkNo(info,$index)"  maxlength="15"></td>
                                </tr>
                           </table>
                    </div>
                    </div>
                </div>
                </div>
                </div>

                <div class="row" ng-show="pager">
                        <div class="col-md-12">
                    <div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                            ng-click="index(currentPage)">
                        </paging>
                    </div>
                </div>
            </div>
                </div>
                
                

                <!--<div class="form-actions" ng-show="table">
                    <div class="pull-right">
                        <button type="button" id="btn_update" class="btn btn-primary btn-small" ng-click="Update()">{{ "Update" | translate }}</button>&nbsp;
                    </div>

                </div>-->

            </div>


            <!--End Table/Grid-->


        <!--</div>-->

        </div>
    </div>
</div>





