﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Behaviour"| translate }}</span></h3>
            </div>

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="grid-body no-border">
            <div ng-show="table">
                <div class="row">

                    <div class="col-md-6">
                        <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="10" class=" k-textbox input-sminput-sm">
                                10
                            </option>

                            <option value="20" class=" k-textbox input-sminput-sm">
                                20
                            </option>

                            <option value="All" class=" k-textbox input-sminput-sm">
                                All
                            </option>
                        </select>
                        &nbsp;
                        <button class="btn btn-primary btn-small" type="button" id="designew" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate }}</button>
                        &nbsp;
                        <button class="btn btn-danger btn-small" type="button" ng-click="OkDelete()"><span class="semi-bold"></span>{{"Delete"| translate }}</button>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                               <span class="k-textbox k-space-right full-width">
                                    <!--<input type="text" aria-controls="example" ng-model="search.$" class="input-medium"></label>-->
                                    <input aria-controls="example" ng-model="searchText" class="k-textbox input-sm full-width" placeholder="Search" autofocus="autofocus" type="search" ng-change="search()">
                               <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div class="row margin-top">
                        <div class="col-md-12">
                        <table class="table table-bordered table-hover table-condensed" id="fixTable">
                            <thead>
                                <tr style="background-color: #edefef">
                                    <th class="small-cell v-align-middle" style="z-index:1">
                                        <div class="checkbox check-success">
                                            <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>
                                    <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                        <label><b><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"Curriculum" | translate }}</b></label>
                                    </th>

                                    <th>
                                        <b>{{"Curriculum Level" | translate }}</b>
                                    </th>


                                    <th>
                                        <label><b>{{"Behaviour Code" | translate }}</b></label>
                                    </th>
									<th>
                                        <label><b>{{"Behaviour Type" | translate }}</b></label>
                                    </th>
									
									<th>
                                        <label><b>{{"Behaviour Desc" | translate }}</b></label>
                                    </th>
									
									<th>
                                        <label><b>{{"Behaviour Points" | translate }}</b></label>
                                    </th>
									
									<th>
                                        <label><b>{{"Behaviour Images" | translate }}</b></label>
                                    </th>

                                    <th>
                                        <label><b>{{"Status" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><i class="fa fa-cogs"></i></label>
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="j in filteredTodos | orderBy:orderByField:reverseSort" ng-class="row1">
                                    <td>
                                        <div class="row-fluid">
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input id="abc{{$index}}" type="checkbox" value="1" ng-click="checkonebyonedelete()">
                                                <label for="abc{{$index}}"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <label id="lbl">{{j.sims_cur_short_name_en}}</label>
                                    </td>
                                    <td>
                                        <label id="lbl">{{j.sims_cur_level_name_en}}</label>
                                    </td>
                                    <td>
                                        <label id="lbl">{{j.sims_behaviour_code}}</label>
                                    </td>
									 <td>
                                        <label id="lbl">{{j.sims_appl_form_field_value1}}</label>
                                    </td>
                                    <td>
                                        <label id="lbl">{{j.sims_behaviour_description}}</label>
                                    </td>
                                    <td>
                                        <label id="lbl">{{j.sims_behaviour_points}}</label>
                                    </td>
									 <td>
                                          <img id="{{j.sims_behaviour_img}}" ng-src="{{beha_url}}{{j.sims_behaviour_img}}" style="border: 2px Solid #CCCCCC; border-radius: 5px; width: 40px; height: 40px"  /> <!--ng-click="downloaddoc(j)"-->
                                    </td>
                                    <td>
                                        <span ng-if="j.sims_behaviour_status==true" class="label label-success">Active</span>
                                        <span ng-if="j.sims_behaviour_status==false" class="label label-important">Inactive</span>

                                    </td>

                                    <td>
                                        <a href=""><i class="fa fa-edit" ng-click="edit(j)"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                            </div>
                    </div>
                    <div class="row" ng-show="pager">
                        <div class="col-md-12">
                    <div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                ng-click="index(currentPage)">
                        </paging>
                    </div>
                            </div>
                        </div>

                </div>

            </div>

            <div ng-show="display">
                <form name="Myform" ng-submit="savedata(Myform.$valid)" novalidate="novalidate">
                    <!--1ST ROW-->
                    <div class="row">
					
							 <!--Curriculum-->
                            <div class="col-md-3" ng-class="{'has-error': !Myform.curCode.$valid && (Myform.curCode.$touched || Myform.$submitted) }"> <!---->
                                <label id="Label1" for="txt_Nationality_Code" class="form-label">{{"Curriculum"| translate }}<span class="asterisk" style="color: red">*</span></label>

                                <select id="Select2" data-role="dropdownlist" class="form-control input-sm full-width" name="curCode"
                                    ng-model="temp.sims_behaviour_cur_code" ng-change="getCurrLevel(temp.sims_behaviour_cur_code)"
                                    ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in curriculum" ng-focus="Myform.name.$setUntouched()" required>
                                </select>

                                <p class="help-block" ng-show="Myform.curCode.$error.required &&  (Myform.curCode.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>
	
							 <!--Curriculum Level-->
                            <div class="col-md-3" ng-class="{'has-error': !Myform.levelname.$valid && (Myform.levelname.$touched || Myform.$submitted) }">
                                <label id="Label12" for="txt_Country_Code" class="form-label">{{"Curriculum Level" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                <select id="cmb_Status" data-role="dropdownlist" name="levelname" class="form-control input-sm full-width"
                                        ng-model="temp.sims_behaviour_cur_level_code"
                                        ng-options="doc.sims_cur_level_code as doc.sims_cur_level_name_en for doc in curLevel" ng-focus="Myform.name.$setUntouched()" required></select>

                                <p class="help-block" ng-show="Myform.levelname.$error.required &&  (Myform.levelname.$touched || Myform.$submitted)">
                                    This field Required
                                </p>
                            </div> 
                        

							

                            <!-- Behaviour Code-->
                            <!--<div class="col-md-3" ng-class="{'has-error': !Myform.Beh_Code.$valid && (Myform.Beh_Code.$touched || Myform.$submitted) }">
                                <label class="semi-bold" for="DivCode">{{"Behaviour Code"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" name="Beh_Code" id="Beh_Code" class="k-textbox input-sm full-width" 
                                        ng-model="temp.sims_behaviour_code"
                                        ng-readonly="divcode_readonly" ng-focus="Myform.name.$setUntouched()" required />

                               <p class="help-block" ng-show="Myform.Beh_Code.$error.required &&  (Myform.Beh_Code.$touched || Myform.$submitted)">
                                    This field Required
                                </p>
                            </div>-->
							
							 <!--Behaviour Type-->
                            <div class="col-md-3" ng-class="{'has-error': !Myform.Btype.$valid && (Myform.Btype.$touched || Myform.$submitted) }">
                                <label id="Label12" for="txt_Country_Code" class="form-label">{{"Behaviour Type" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                <select id="cmb_Status" data-role="dropdownlist" class="form-control input-sm full-width" name="Btype"
                                        ng-model="temp.sims_behaviour_type"
                                        ng-options="doc.sims_appl_parameter as doc.sims_appl_form_field_value1 for doc in behaviourType"  ng-focus="Myform.name.$setUntouched()" required></select>
                                 
                                <p class="help-block" ng-show="Myform.Btype.$error.required &&  (Myform.Btype.$touched || Myform.$submitted)">
                                    This field Required
                                </p>
                            </div>
                            
                             <!-- Behaviour Points-->
                            <div class="col-md-3" ng-class="{'has-error': !Myform.Beh_Point.$valid && (Myform.Beh_Point.$touched || Myform.$submitted) }"> <!---->
                                <label class="semi-bold" for="DivCode">{{"Behaviour Points"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" name="Beh_Point" id="Beh_Point" class="k-textbox input-sm full-width" ng-model="temp.sims_behaviour_points"
                                       ng-readonly="divcode_readonly" ng-focus="Myform.name.$setUntouched()" required />

                                <p class="help-block" ng-show="Myform.Beh_Point.$error.required &&  (Myform.Beh_Point.$touched || Myform.$submitted)">
                                    This field Required
                                </p>
                            </div>

						 </div>
                    		
						<div class="row">
							  <!--Description-->
                            <div class="col-md-3" ng-class="{'has-error': !Myform.Desc.$valid && (Myform.Desc.$touched || Myform.$submitted) }"> 
                                <label class="semi-bold" for="DivCode">{{"Description"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" name="Desc" id="Desc" class="k-textbox input-sm full-width" 
                                       ng-model="temp.sims_behaviour_description"
                                       ng-focus="Myform.name.$setUntouched()" required/>
                               <p class="help-block" ng-show="Myform.Desc.$error.required &&  (Myform.Desc.$touched || Myform.$submitted)">
                                    This field Required
                                </p>
                            </div>
							
							 <!-- Behaviour Image-->
                            <!--<div class="col-md-3"> 
                                <label class="semi-bold" for="DivCode">{{"Behaviour Image"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                <input type="file" id="file2" name="file" onchange="angular.element(this).scope().file_behaviour(this,'sims_behaviour_img')"
                                ng-files="getTheFiles_behaviour($files)" accept="image/*" required style="float: initial; width: 120px;" ng-hide="true" />
                                &nbsp;&nbsp;&nbsp;<a href="" class="label label-important " type="button" onclick="document.getElementById('file2').click();"><i class="fa fa-cloud-upload"></i>Upload</a>
                            </div>-->

                            <div class="col-md-3"> 
                             <label  for="txt_full_name" class="ng-binding">{{'Upload Image' | translate}}<span class="text-red">*</span></label>
                             <input name="txt_namer" type="text" class="form-control k-textbox input-sm ng-pristine ng-untouched ng-invalid ng-invalid-required" readonly id="txt_Name_reg" ng-model="temp.sims_behaviour_img" required>
                            </div>

                            <div class="col-md-2" ng-class="{'has-error': !Myform.txt_namer.$valid &amp;&amp; (Myform.txt_namer.$touched || Myform.$submitted) }"> 
                                
                                <label style="visibility:hidden; margin-top:5px;">.</label>
                                    <input type="file" id="file1" name="file" onchange="angular.element(this).scope().file_changed(this)"
                                           ng-files="getTheFiles($files)" accept="application/pdf" required style="float: initial; width: 120px; display: none" />
                                    <a href="" class="label label-important" type="button" ng-if="temp.sims_behaviour_img==''" ng-click="uploadClick(info)" onclick="document.getElementById('file1').click();"><i class="fa fa-cloud-upload"></i>{{'Upload' | translate}}</a>
                                    <span style="height:100px"><a href="" class="label label-important " type="button" ng-if="temp.sims_behaviour_img!=''" ng-click="uploadClick(info)" onclick="document.getElementById('file1').click();" style="padding: 8px 9px;"><i class="fa fa-cloud-upload"></i>{{'Change' | translate}}</a></span>
                                

                                <p class="help-block ng-hide" ng-show="Myform.txt_namer.$error.required &amp;&amp;(Myform.txt_namer.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>

							<!--Check box Status-->
                            <div class="col-md-3">
                                <label id="Label10" for="txt_Status" class="form-label">{{"Status"| translate }}</label>
                                <div class="checkbox check-success">
                                    <input id="chk_term2" type="checkbox" ng-model="temp.sims_behaviour_status">
                                    <label for="chk_term2"></label>
                                </div>
                            </div>
                        </div>
                    <div class="row">
                    <div class="col-md-12">
                    <div class="form-actions">
                        <div class="pull-right">
                            <button type="submit" id="desigsub" ng-show="save_btn" class="btn btn-primary btn-small">{{"Save" | translate }}</button>
                            <button type="button" ng-show="Update_btn" ng-click="update(Myform.$valid);" class="btn btn-primary btn-small">{{"Update" | translate }}</button>
                            <button type="button" class="btn btn-danger btn-small" ng-click="Cancel();">{{"Cancel"| translate }}</button>
                        </div>
                    </div>
                        </div>
                        </div>
                </form>
            </div>
        </div>
    </div>

    </div>
</div>


<div class="modal fade in" id="MyModal" role="dialog" style="display: none;">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 1000px;">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px"><b>{{"Search User" | translate }}</b></h4>
                </div>
                <div class="pull-right">
                    <a href="">
                        <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>
                    </a>
                </div>

            </div>

           
                    <div class="grid-body no-border">
                    <div class="col-md-12" style="padding:2%;">
                    <div class="row">

                                <div class="col-md-2">
                                    <label>{{"Curriculum" | translate}} <span class="asterisk" style="color: red">*</span></label>
                                            <select id="Select11" data-role="dropdownlist" class="form-control input-sm full-width" name="user"
                                                 ng-change="getAccYear(temp.s_cur_code)" 
                                                 ng-options="doc.sims_cur_code as doc.sims_cur_short_name_en for doc in curriculum"
                                                 ng-model="temp.s_cur_code" required>
                                                <!--<option value="" selected disabled>Please Select</option>
                                                <option class="k-textbox input-sminput-sm" ng-repeat="cur in ComboBoxValues|filter:{sims_cur_full_name_en:''}" value="{{cur.sims_cur_code}} ">{{cur.sims_cur_full_name_en}}</option>-->
                                            </select>
                                        </div>

                                <div class="col-md-2">
                                    <label>{{"Academic Year" | translate}} <span class="asterisk" style="color: red">*</span></label>
                                            <select id="Select12" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.sims_academic_year"
                                                ng-change="getGrade(temp.s_cur_code,temp.sims_academic_year)"
                                            ng-options="year1.sims_academic_year as year1.sims_academic_year_desc for year1 in Acc_year"
                                                  required>
                                                
                                                <!--<option value="" selected disabled>Please Select</option>
                                                <option class="k-textbox input-sminput-sm" ng-repeat="year in ComboBoxValues|filter:{sims_acadmic_year:''}" value="{{year.sims_acadmic_year}} ">{{year.sims_acadmic_year_desc}}</option>-->
                                            </select>
                                        </div>

                                <div class="col-md-2">
                                    <label>{{"Grade" | translate}} <span class="asterisk" style="color: red">*</span></label>
                                            <select id="cmb_grade_code" style="width: 100%" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.search_std_grade_name" ng-change="getsectioncode(temp.s_cur_code,temp.sims_academic_year,temp.search_std_grade_name)" required>
                                                <option value="" selected disabled>Please Select</option>
                                                <option class="form-control" ng-repeat="grade in ComboBoxValues|filter:{sims_grade_name:''}" value="{{grade.sims_grade_code}} ">{{grade.sims_grade_name}}</option>
                                            </select>
                                </div>

                                <div class="col-md-2">

                                            <label>{{"Section" | translate}} <span class="asterisk" style="color: red">*</span></label>
                                            <select id="Select24" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.search_std_section_name" required>
                                                <option value="" selected disabled>Please select</option>
                                                <option class="form-control" ng-repeat="section in ComboBoxValues " ng-if="temp.search_std_grade_name==section.secGr && temp.sims_academic_year==section.secAca" value="{{section.sims_section_code}}" class=" k-textbox input-sminput-sm">
                                                    {{section.sims_section_name}}
                                                </option>
                                            </select>
                                        </div>

                                <div class="col-md-2">
                                    <label>{{"Nationality" | translate}}</label>
                                            <select id="Select35" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.sims_nationality_name_en">
                                                <option value="" selected disabled>Please Select</option>
                                                <option class="k-textbox input-sminput-sm" ng-repeat="section in ComboBoxValues|filter:{sims_nationality_name_en:''}" value="{{section.sims_nationality_code}} ">{{section.sims_nationality_name_en}}</option>
                                            </select>
                                        </div>

                                <!--  <div class="col-md-2">
                                      <div class="row form-row">
                                          <div class="col-md-12">
                                              <label>&nbsp;</label>
                                          </div>
                                          <div class="col-md-12">
                                              <div class="pull-right">
                                                  <button type="button" class="btn btn-primary btn-small" ng-click="SearchSudent();">{{"Search" | translate}}</button>
                                                  <button type="button" class="btn btn-primary btn-small" ng-click="Reset();">{{"Reset" | translate}}</button>
                                              </div>
                                          </div>
                                      </div>
                                  </div>-->

                                <div class="col-md-2">
                                    <label>{{"National Id"|translate}}</label>
                                            <input type="text" class="k-textbox input-sm full-width">
                                        </div>
                            </div>

                            <div class="row margin-bottom">
                                <div class="col-md-2">
                                    <label>{{"Enrollment No"|translate}}</label>
                                            <input type="text" class="k-textbox input-sm full-width" ng-model="temp.search_std_enroll_no" />
                                        </div>

                                <div class="col-md-2">
                                    <label>{{"Name"|translate}}</label>
                                            <input type="text" class="k-textbox input-sm full-width" ng-model="temp.search_std_name" />
                                        </div>

                                <div class="col-md-2">
                                    <label>{{"Passport No"|translate}}</label>
                                            <input type="text" class="k-textbox input-sm full-width" ng-model="temp.search_std_passport_no" />
                                        </div>

                                <div class="col-md-2">
                                    <label>{{"Family Name"|translate}}</label>
                                            <input type="text" class="k-textbox input-sm full-width" ng-model="temp.search_std_family_name" />
                                        </div>

                                <div class="col-md-2">
                                    <label>{{"Transport Bus"|translate}}</label>
                                            <input type="text" class="k-textbox input-sm full-width" ng-model="temp.search_std_family_name" />
                                        </div>
                               
                                    <div class="col-md-2">
                                        <label>&nbsp;</label>
                                            <div class="pull-right">
                                                <button type="button" class="btn btn-primary btn-small" ng-click="SearchSudent();">{{"Search"|translate}}</button>
                                                <button type="button" class="btn btn-primary btn-small" ng-click="Reset();">{{"Reset"|translate}}</button>
                                            </div>
                                        </div>

                            </div>
                        

                        <div class="row" ng-show="busy">
                            <div class="col-md-12">
                                <div class="row form-row">
                                    <div class="col-md-5">
                                    </div>
                                    <div class="col-md-2">
                                        <img src="assets/images/loading.gif" />
                                    </div>
                                    <div class="col-md-5">
                                    </div>
                                </div>
                            </div>
                        </div>


                            <div ng-show="searchtable">
                                <div id="Div4" class="dataTables_wrapper form-inline">
                                    <div class="row">
                                        <div class="col-md-12 margin-top-2">
                                        <table class="table table-bordered table-condensed" id="Table3" aria-describedby="example2_info">
                                            <thead>
                                                <tr>
                                                    <th>{{"Enroll No" | translate}}</th>
                                                    <th>{{"Name" | translate}}</th>
                                                    <th>{{"Class" | translate}}</th>
                                                    <th>{{"Email Id" | translate}} </th>
                                                    <th>{{"Grade" | translate}}</th>
                                                    <th>{{"Section" | translate}}</th>
                                                    <th>{{"Mobile No" | translate}}</th>
                                                    <th class="semi-bold">
                                                        <div class="checkbox check-success">
                                                            <input type="checkbox" name="check" value="1" id="mainchk1" ng-click="MultipleStudentSelect();">
                                                            <label for="mainchk1"></label>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                <tr ng-repeat="info in student">

                                                    <td>{{info.s_enroll_no}}</td>
                                                    <td>{{info.s_sname_in_english}}</td>
                                                    <td>{{info.s_class}}</td>
                                                    <td>{{info.mail_id}}</td>
                                                    <td>{{info.sims_grade_name_en}}</td>
                                                    <td>{{info.sims_section_name_en}}</td>
                                                    <td>{{info.mobile_no}}</td>
                                                    <td>

                                                        <div class="checkbox check-success" style="height: 20px">
                                                            <input type="checkbox" name="check" value="1" id="{{info.s_enroll_no}}" ng-click="StudentEnrollNumber(info);">
                                                            <label for="{{info.s_enroll_no}}"></label>
                                                        </div>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                        </div>
                                </div>
                            </div>
                      

                     <div class="modal-footer" ng-show="searchtable">
                        <button class="btn btn-primary btn-small" data-dismiss="modal" type="button" ng-click="DataEnroll()">{{"OK" | translate}}</button>
                    </div>
                </div>
                    </div>
        </div>
    </div>
</div>


<script src="assets/js/tabs_accordian.js"></script>
<script src="assets/js/tableHeadFixer.js"></script>

