﻿<!--<link href="assets/css/vendor/main.css" rel="stylesheet" />-->

<link href="assets/css/mino.css" rel="stylesheet" />

<div class="loading-middle" ng-hide="display">
    {{ "Loading..." | translate }}
</div>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{ "Cancel Admission" | translate }}</span></h3>
            </div>
            <div class="grid-body no-border">
            <div ng-show="display">
                <form name="myForm" ng-submit="Save(myForm.$valid)" novalidate>
                    <!--ng-submit="test()"-->
                 
                        <!--   <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-3">
                                    <div class="row form-row">
                                    </div>

                                </div>

                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">

                                        </div>
                                        <div class="col-md-12">
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-1">
                                    <div class="row form-row">
                                        <div class="col-md-12">

                                        </div>
                                        <div class="col-md-12">
                                           <label>{{ "Enroll No" | translate }}</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">

                                        </div>
                                        <div class="col-md-12">
                                             <input type="text" class="k-textbox input-sm"  id="txt_enroll_no" placeholder="Please Enter" name="txt_enroll_no" ng-model="edt.enroll" required>
                                        </div>
                                         <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.txt_enroll_no.$dirty && myForm.txt_enroll_no.$invalid || myForm.$submitted">
                                                <small class="error"
                                                    ng-show="myForm.txt_enroll_no.$error.required">Enroll No is required.
                                                </small>
                                                <small class="error"
                                                    ng-show="myForm.txt_enroll_no.$error.maxlength">Enroll No cannot be longer than 6 characters
                                                </small>
                                            </div>
                                </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">

                                        </div>
                                        <div class="col-md-12">
                                            <button class="btn btn-orange btn-ef btn-ef-3 btn-ef-3c mb-10" type="button" ng-click="GetInfo(edt.enroll)">
                                                            {{"Validate"|translate}}
                                                <i class="fa fa-arrow-right"></i>
                                                        </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>-->


                            <div class="row">
                               

                                <div class="col-md-3">
                                    <label>{{ "Curriculum" | translate }}</label>
                                            <input type="text" class="k-textbox input-sm full-width" id="Text2" name="txt_first_name" ng-model="edt.studentDet.curr_name" ng-disabled="true">
                                        </div>

                                <div class="col-md-3">
                                    <label>{{ "Academic Year" | translate }}</label>
                                            <input type="text" class="k-textbox input-sm full-width" id="Text3" ng-model="edt.studentDet.academic_year_desc" ng-disabled="true">
                                        </div>


                                <div class="col-md-3">
                                    <label>{{ "Enroll No" | translate }}</label>
                                            <input type="text" class="k-textbox input-sm full-width" id="txt_enroll_no" name="txt_enroll_no" ng-model="edt.enroll" required ng-disabled="true">
                                        
                                            <div class="error-container"
                                                 ng-show="myForm.txt_enroll_no.$dirty && myForm.txt_enroll_no.$invalid || myForm.$submitted">
                                                <small class="error"
                                                       ng-show="myForm.txt_enroll_no.$error.required">
                                                    Enroll No is required.
                                                </small>
                                            </div>
                                        </div>
                                    

                                <div class="col-md-3">
                                    <label>&nbsp;</label>
                                            <button class="btn btn-success btn-small" type="button" ng-click="SearchStudentWindow()">
                                                <!--ng-click="GetInfo(edt.enroll)"-->
                                                {{"Search"|translate}}

                                            </button>
                                        </div>
                            </div>

                            <div class="row">
                                
                                <div class="col-md-3">
                                    <label>{{ "Student Name(English)" | translate }}</label>
                                            <input type="text" class="k-textbox input-sm full-width" id="txt_student_name" name="txt_first_name" ng-model="edt.studentDet.stud_full_name" ng-disabled="true">
                                        </div>


                                <div class="col-md-3">
                                    <label>{{ "Student Name(Regional)" | translate }}</label>
                                            <input type="text" class="k-textbox input-sm full-width" id="txt_student_regional" name="txt_student_regional" ng-model="edt.studentDet.stud_full_name_reg" ng-disabled="true">
                                        </div>

                                <div class="col-md-3">
                                    <label>{{ "Father Name(English)" | translate }}</label>
                                            <input type="text" class="k-textbox input-sm full-width" id="txt_father_name" name="txt_father_name" ng-model="edt.studentDet.fatherName" ng-disabled="true">
                                        </div>

                                <div class="col-md-3">
                                    <label>{{ "Father Name(Regional)" | translate }}</label>
                                            <input type="text" class="k-textbox input-sm full-width" id="txt_father_regional" name="txt_father_regional" ng-model="edt.studentDet.fatherNameReg" ng-disabled="true">
                                        </div>


                            </div>
                       

                            <div class="row">
                               

                                <div class="col-md-6">
                                    <label>{{ "Address" | translate }}</label>
                                            <input type="text" class="k-textbox input-sm full-width" id="txt_addre" name="txt_addre" ng-model="edt.studentDet.fatherSummary_Address" ng-disabled="true">
                                        </div>


                                <div class="col-md-3">
                                    <label>{{ "Applied For TC" | translate }}</label>
                                            <input type="text" class="k-textbox input-sm full-width" id="txt_applied_tc" name="txt_addre" ng-model="edt.studentDet.tcApplied" ng-disabled="true">
                                        </div>
                                 <div class="col-md-3">
                                    <label>{{ "Class" | translate }}</label>
                                            <input type="text" class="k-textbox input-sm full-width" id="txt_class" name="txt_class" ng-model="edt.studentDet.empl_code" ng-disabled="true">
                                        </div>
                            </div>
                        
                            <div class="row">
                               
                                <div class="col-md-3">
                                    <label>{{ "House" | translate }}</label>
                                            <input type="text" class="k-textbox input-sm full-width" id="txt_house" name="txt_house" ng-model="edt.studentDet.house" ng-disabled="true">
                                        </div>


                                <div class="col-md-3">
                                    <label>{{ "Class Teacher" | translate }}</label>
                                            <input type="text" class="k-textbox input-sm full-width" id="txt_class_teacher" name="txt_class_teacher" ng-model="edt.studentDet.classTeacherName" ng-disabled="true">
                                        </div>


                                <div class="col-md-3">

                                            <label>{{ "Admission Date" | translate }}</label>
                                                <input type="text" name="admpdate" class="k-textbox input-sm full-width" ng-model="edt.studentDet.admission_date" ng-disabled="true">
                                               
                                            </div>
                                        <!--  <div class="col-md-12">
                                              <div class="error-container"
                                                  ng-show="myForm.admpdate.$dirty && myForm.admpdate.$invalid || myForm.$submitted">
                                                  <small class="error"
                                                      ng-show="myForm.admpdate.$error.required">Admission Date is required.
                                                  </small>
                                              </div>
                                          </div>-->
                                

                                <div class="col-md-3">
                                            <label>{{ "Cancellation Date" | translate }}</label>
                                                <input type="text" id="cattc_cancel_date" placeholder="Select Date" name="canceldate" class="k-textbox input-sm full-width" ng-model="edt.cancel_date" required><!--pattern="/[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])$/"-->
                                                
                                            <div class="error-container"
                                                 ng-show="myForm.admpdate.$dirty && myForm.canceldate.$invalid || myForm.$submitted">
                                                <small class="error"
                                                       ng-show="myForm.canceldate.$error.required">
                                                    Cancellation Date is required.
                                                </small>
                                            </div>
                                        </div>
                                   
                        </div>
                  
                    <div class="row margin-top-4">
                        
                        <div class="col-md-6">
                            <div class="panel-group" id="accordion" data-toggle="collapse">
                                <div class="panel panel-default">
                                    <div class="panel-heading collapsed">
                                        <h4 class="panel-title">
                                            <a id="fee" class="collapsed" data-toggle="collapse" data-parent="#accordion" ng-href="/main/CancelAdmission/#collapseOne">
                                                {{ "Fee Details" | translate }}
                                            </a><!-- href="/#collapseOne"ng-click="getCollapse()"-->
                                        </h4>
                                    </div>

                                    <div id="collapseOne" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div id="Div1" class="dataTables_wrapper form-inline">
                                               <!-- <div style="width: 100%; height: auto; overflow-x: scroll; overflow-y: hidden">-->
                                                <div class="row">
                                                    <div class="col-md-12">
                                                    <table class="table table-hover table-bordered table-condensed" id="Table5">
                                                        <thead>
                                                            <tr style="background-color: #e9e4e4">
                                                                <td><b>{{ "Ignore" | translate }} </b></td>
                                                                <td><b>{{ "Fee Decription" | translate }} </b></td>
                                                                <td><b>{{ "Total Amount" | translate }}</b></td>
                                                                <td><b>{{ "Paid Amount" | translate }}</b></td>
                                                                <td><b>{{ "Concession" | translate }}</b></td>
                                                                <td><b>{{ "Remaining Amount" | translate }}</b></td>
                                                            </tr>
                                                        </thead>

                                                        <tr ng-repeat="Fee in edt.feeDet" ng-class="row1">
                                                            <!--  -->
                                                            <td>
                                                                <div class="checkbox check-success" style="height: 20px">
                                                                    <input type="checkbox" name="check" id="{{Fee.feeCode}}" value="1" checked="checked" ng-click="$event.stopPropagation();check1(Fee);" style="display: inline">
                                                                    <!-- <label for="{{Fee.feeCode}}">
                                                                    </label>-->
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div>{{Fee.feeDescription}}</div>
                                                            </td>
                                                            <td>
                                                                <div>{{Fee.totalAmmount}}</div>
                                                            </td>
                                                            <td>
                                                                <div>{{Fee.paidAmmount}}</div>
                                                            </td>
                                                            <td>
                                                                <div>{{Fee.concession}}</div>
                                                            </td>
                                                            <td>
                                                                <div>{{Fee.remainingAmmount}}</div>
                                                            </td>
                                                        </tr>

                                                    </table>
                                                </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="/main/CancelAdmission#collapseTwo">
                                                {{ "Incidence Details" | translate }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div id="Div2" class="dataTables_wrapper form-inline">
                                                <!--<div style="width: 100%; height: auto; overflow-x: scroll; overflow-y: hidden">-->
                                                <div class="row">
                                                    <div class="col-md-12">  
                                                  <table class="table table-hover table-bordered table-condensed" id="Table1">
                                                        <thead>
                                                            <tr style="background-color: #e9e4e4">
                                                                <td><b>{{ "Description" | translate }} </b></td>
                                                                <td><b>{{ "Location" | translate }} </b></td>
                                                                <td><b>{{ "Building" | translate }}</b></td>
                                                                <td><b>{{ "Action Taken" | translate }}</b></td>
                                                                <td><b>{{ "Warning" | translate }}</b></td>
                                                                <td><b>{{ "Status" | translate }}</b></td>
                                                            </tr>
                                                        </thead>

                                                        <tr ng-repeat="Incidence in edt.incidenceDet" ng-class="row1">
                                                            <td>
                                                                <div>{{Incidence.description}}</div>
                                                            </td>
                                                            <td>
                                                                <div>{{Incidence.location}}</div>
                                                            </td>
                                                            <td>
                                                                <div>{{Incidence.building}}</div>
                                                            </td>
                                                            <td>
                                                                <div>{{Incidence.actionDesc}}</div>
                                                            </td>
                                                            <td>
                                                                <div>{{Incidence.warning}}</div>
                                                            </td>
                                                            <td>
                                                                <div>{{Incidence.status}}</div>
                                                            </td>
                                                        </tr>

                                                    </table>
                                                </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="/main/CancelAdmission#collapseThree">
                                                {{ "Library Details" | translate }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div id="Div3" class="dataTables_wrapper form-inline">
                                              <!--  <div style="width: 100%; height: auto; overflow-x: scroll; overflow-y: hidden">-->
                                                <div class="row">
                                                    <div class="col-md-12">
                                                    <table class="table table-hover table-bordered table-condensed" id="Table2">
                                                        <thead>
                                                            <tr style="background-color: #e9e4e4">
                                                                <td><b>{{ "Item Description" | translate }} </b></td>
                                                                <td><b>{{ "Quantity" | translate }} </b></td>
                                                                <td><b>{{ "Expected Return Date" | translate }}</b></td>
                                                                <td><b>{{ "Item Rate" | translate }}</b></td>
                                                                <td><b>{{ "Status" | translate }}</b></td>
                                                            </tr>
                                                        </thead>

                                                        <tr ng-repeat="Library in edt.libDet" ng-class="row1">
                                                            <td>
                                                                <div>{{Library.bookName}}</div>
                                                            </td>
                                                            <td>
                                                                <div>{{Library.quantity}}</div>
                                                            </td>
                                                            <td>
                                                                <div>{{Library.expctdReturnDate}}</div>
                                                            </td>
                                                            <td>
                                                                <div>{{Library.itemRate}}</div>
                                                            </td>
                                                            <td>
                                                                <div>{{Library.status}}</div>
                                                            </td>
                                                        </tr>

                                                    </table>
                                                </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="/main/CancelAdmission#collapseFour">
                                                {{ "Exam Details" | translate }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div id="Div5" class="dataTables_wrapper form-inline">
                                                <!--<div style="width: 100%; height: auto; overflow-x: scroll; overflow-y: hidden">-->
                                                <div class="row">
                                                    <div class="col-md-12">
                                                    <table class="table table-hover table-bordered table-condensed" id="Table3">
                                                        <thead>
                                                            <tr style="background-color: #e9e4e4">
                                                                <td><b>{{ "Board Name" | translate }} </b></td>
                                                                <td><b>{{ "Exam Name" | translate }} </b></td>
                                                                <td><b>{{ "Reg. Number" | translate }}</b></td>
                                                                <td><b>{{ "Status" | translate }}</b></td>
                                                            </tr>
                                                        </thead>

                                                        <tr ng-repeat="exam in edt.examDet" ng-class="row1">
                                                            <!--  -->
                                                            <td>
                                                                <div>{{exam.boardName}}</div>
                                                            </td>
                                                            <td>
                                                                <div>{{exam.examName}}</div>
                                                            </td>
                                                            <td>
                                                                <div>{{exam.regNumber}}</div>
                                                            </td>
                                                            <td>
                                                                <div>{{exam.status}}</div>
                                                            </td>
                                                        </tr>

                                                    </table>
                                                </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="/main/CancelAdmission#collapseFive">
                                                {{ "Inventory Details" | translate }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFive" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div id="Div6" class="dataTables_wrapper form-inline">
                                                <!--<div style="width: 100%; height: auto; overflow-x: scroll; overflow-y: hidden">-->
                                                <div class="row">
                                                    <div class="col-md-12">
                                                    <table class="table table-hover table-bordered table-condensed" id="Table4">
                                                        <thead>
                                                            <tr style="background-color: #e9e4e4">
                                                                <td><b>{{ "Item Name" | translate }} </b></td>
                                                                <td><b>{{ "Quantity" | translate }} </b></td>
                                                                <td><b>{{ "Amount" | translate }}</b></td>

                                                            </tr>
                                                        </thead>

                                                        <tr ng-repeat="Invs in edt.invsDet" ng-class="row1">
                                                            <!-- ng-repeat="feecode in obj" -->
                                                            <td>
                                                                <div>{{Invs.canceladm}}</div>
                                                            </td>
                                                            <td>
                                                                <div>{{Invs.ammount}}</div>
                                                            </td>
                                                            <td>
                                                                <div>{{Invs.itemQty}}</div>
                                                            </td>

                                                        </tr>

                                                    </table>
                                                </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                            <label>{{ "Reason" | translate }}</label>
                                        <textarea id="txtreason" rows="4" class="k-textbox input-sm full-width" placeholder="Please Enter" ng-model="edt.reason" style="resize:none" ></textarea><!--rows="4" cols="55"-->
                                    </div>
                              
                                    <div class="col-md-12 margin-top-4">
                                        <!--class="btn btn-success"-->
                                        <button class="btn btn-success btn-small" type="submit" id="canceladm" ng-disabled="edit_code">
                                            <!--ng-click="Save(myForm.$valid)"-->
                                            {{ "Cancel Admission of this student" | translate }}
                                            <!-- <i class="fa fa-arrow-right"></i>-->
                                        </button>
                                    </div>
                                </div>
                            </div>


                            </div>
                      
        </form>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog" id="Div7" style="width: 300px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="semi-bold pull-left">Message</h5>
                <br />
            </div>
            <div class="modal-body">
                <br />
                <label>{{strMessage}}</label>
                <br />
            </div>
            <div class="modal-footer" style="height: 60px">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary btn-cons" data-dismiss="modal" ng-click="OkCanceladm()">Ok</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary btn-cons" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!---end modal-->
</div>

<div class="modal fade in" id="MyStudentModal" role="dialog" style="display: none;" tabindex="-1">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 1000px;">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px"><b>Search User</b></h4>
                </div>
                <div class="pull-right">
                    <a href="">
                        <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>
                    </a>
                </div>
            </div>

            <div class="grid simple">
                <div class="grid-body no-border">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>Curriculum <span style="color: red">*</span></label>
                                        </div>
                                        <div class="col-md-12">
                                            <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width" name="user" ng-model="temp.s_cur_code">
                                                <option value="">Please Select</option>
                                                <option class="form-control input-sm" ng-repeat="cur in ComboBoxValues|filter:{sims_cur_full_name_en:''}" value="{{cur.sims_cur_code}} ">{{cur.sims_cur_full_name_en}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>Academic Year <span style="color: red">&nbsp;*</span></label>
                                        </div>
                                        <div class="col-md-12">
                                            <select id="Select4" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.sims_academic_year">
                                                <option value="">Please Select</option>
                                                <option class="form-control input-sm" ng-repeat="year in ComboBoxValues|filter:{sims_acadmic_year:''}" value="{{year.sims_acadmic_year}} ">{{year.sims_acadmic_year_desc}}</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row form-row">

                                        <div class="col-md-12">
                                            <label>Grade</label>
                                        </div>
                                        <div class="col-md-12">
                                            <select id="cmb_grade_code" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.search_std_grade_name" ng-change="getsectioncode(temp.s_cur_code,temp.sims_academic_year,temp.search_std_grade_name)">
                                                <option value="">Please Select</option>
                                                <option class="form-control input-sm" ng-repeat="grade in ComboBoxValues|filter:{sims_grade_name:''}" value="{{grade.sims_grade_code}} ">{{grade.sims_grade_name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row form-row">

                                        <div class="col-md-12">
                                            <label>Section</label>
                                        </div>
                                        <div class="col-md-12">
                                            <select id="Select24" class=" form-control input-sm" ng-model="temp.search_std_section_name">
                                                <option value="">Please select</option>
                                                <option class="form-control" ng-repeat="section in ComboBoxValues " ng-if="temp.search_std_grade_name==section.secGr && temp.sims_academic_year==section.secAca" value="{{section.sims_section_code}}" class=" form-control input-sm">
                                                    {{section.sims_section_name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>Nationality</label>
                                        </div>
                                        <div class="col-md-12">
                                            <select id="Select35" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.sims_nationality_name_en">
                                                <option value="">Please Select</option>
                                                <option class="form-control input-sm" ng-repeat="section in ComboBoxValues|filter:{sims_nationality_name_en:''}" value="{{section.sims_nationality_code}} ">{{section.sims_nationality_name_en}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>National Id</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" class="k-textbox input-sm full-width">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>Enrollment No</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" class="k-textbox input-sm full-width" ng-model="temp.search_std_enroll_no" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>Name</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input  type="text" class="k-textbox input-sm full-width" ng-model="temp.search_std_name" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row form-row">

                                        <div class="col-md-12">
                                            <label>Passport No</label>
                                        </div>
                                        <div class="col-md-12">

                                            <input  type="text" class="k-textbox input-sm full-width" ng-model="temp.search_std_passport_no" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="row form-row">

                                        <div class="col-md-12">
                                            <label>Family Name</label>
                                        </div>
                                        <div class="col-md-12">

                                            <input  type="text" class="k-textbox input-sm full-width" ng-model="temp.search_std_family_name" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="row form-row">

                                        <div class="col-md-12">
                                            <label>Transport Bus</label>
                                        </div>
                                        <div class="col-md-12">

                                            <input  type="text" class="k-textbox input-sm full-width" ng-model="temp.search_std_family_name" />
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-2">
                                    <div class="row form-row">

                                        <div class="col-md-12">
                                            <label>&nbsp;</label>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="pull-right">
                                                <button type="button" class="btn btn-primary btn-small" ng-click="SearchSudent();">Search</button>
                                                <button type="button" class="btn btn-primary btn-small" ng-click="Reset();">Reset</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-show="busy">
                            <div class="col-md-12">
                                <div class="row form-row">
                                    <div class="col-md-5">
                                    </div>
                                    <div class="col-md-2">
                                        <img src="assets/images/loading.gif" />
                                    </div>
                                    <div class="col-md-5">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div ng-show="searchtable">
                                <div id="Div8" class="dataTables_wrapper form-inline">
                                    <div style="width: 100%; height: 350px; overflow-x: auto; overflow-y: auto">
                                        <table class="table table-bordered table-condensed" id="Table6" aria-describedby="example2_info">
                                            <thead>
                                                <tr>
                                                    <th class="semi-bold">ENROLL NO</th>
                                                    <th class="semi-bold">Name</th>
                                                    <th class="semi-bold">CLASS</th>
                                                    <th class="semi-bold">EMAIL ID </th>
                                                    <th class="semi-bold">GRADE</th>
                                                    <th class="semi-bold">SECTION</th>
                                                    <th class="semi-bold">MOBILE NO</th>
                                                    <th class="semi-bold">
                                                        <div class="checkbox check-success">
                                                            <input type="checkbox" name="check" value="1" id="mainchk1" ng-click="MultipleStudentSelect();">
                                                            <label for="mainchk1"></label>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                <tr ng-repeat="info in student">

                                                    <td>{{info.s_enroll_no}}</td>
                                                    <td>{{info.s_sname_in_english}}</td>
                                                    <td>{{info.s_class}}</td>
                                                    <td>{{info.mail_id}}</td>
                                                    <td>{{info.sims_grade_name_en}}</td>
                                                    <td>{{info.sims_section_name_en}}</td>
                                                    <td>{{info.mobile_no}}</td>
                                                    <td>

                                                        <div class="checkbox check-success" style="height: 20px">
                                                            <input type="checkbox" name="check" value="1" id="{{info.s_enroll_no+$index}}" ng-click="StudentEnrollNumber(info);">
                                                            <label for="{{info.s_enroll_no+$index}}"></label>
                                                        </div>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" ng-show="searchtable">
                        <button class="btn btn-success btn-cons" data-dismiss="modal" type="button" ng-click="DataEnroll()">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="assets/js/tabs_accordian.js"></script>
<!--<script src="assets/js/tabs_accordian.js" type="text/javascript"></script>-->
<script src="assets/js/calender-datepicker-id.js"></script>