﻿<style>
    .raw {
        background-color:white;
        margin-top: 7px;
        margin-left: 7px;
        margin-right: 7px;
        margin-bottom:7px;
    }
    
    </style>
<!--<link href="assets/css/multiple-select.css" rel="stylesheet" />-->

<!--<div class="row">-->
    <!--<div class="col-md-12" style="padding-right:15px;padding-left:15px;">-->
        <!--<div class="grid simple">-->
           
            <div class="page-title">
                <h3><span class="semi-bold">{{"Certificate" |translate}}</span>&nbsp;{{"TC Parameter" | translate}}</h3>
            </div>
                 

                


            
            <form ng-submit="SaveData1()" novalidate="novalidate">
                <div ng-show="display">

                     <div class="raw">

             <div  class="paddingcode grid-body no-border">
                 <div class="col-md-12 ">
                    <!--1ST ROW-->
                    <div class="row" >
                            <div class="col-md-3">
                                <label for="DivCode"><i class="fa fa-sort-numeric-asc"></i> {{" Certificate No" | translate }}</label>
                                <select id="Select1" data-role="dropdownlist" class="form-control input-sm full-width" name="user"
                                        ng-model="edtt.sims_certificate_number"
                                        ng-options="edtt.sims_certificate_number as edtt.sims_certificate_name for edtt in certificate_data"></select>
                            </div>

                            <div class="col-md-3">
                                <label for="isbn"><i class="fa fa-calendar" ></i>{{" Tc Date" | translate }}</label>
                                <input type="text" name="isbn" id="tc_date" class="k-textbox input-sm full-width" ng-model="edits.tC_Date" ng-readonly="divcode_readonly" />
                            </div>
                            <div class="col-md-3">
                                <label for="isbn"><i class="fa fa-sort-numeric-asc"></i> {{" Enroll No" | translate }}</label>
                                <input type="text" name="isbn" id="Text29" class="k-textbox input-sm full-width" maxlength="6" ng-model="temp.sims_certificate_enroll_number" />
                            </div>
                       
                        <div class="col-md-3"><label>&nbsp;</label>
                            <div class="pull-right">
                            <button type="button" id="Button1" ng-show="search" ng-click="stud_details();" class="btn btn-primary btn-small">{{"Search" | translate }}</button>
                            <button type="button" ng-show="reset" ng-click="reset();" class="btn btn-warning btn-small">{{"Reset" | translate }}</button>
                            <button type="button" ng-show="tcdetails" class=" btn btn-info btn-cons" ng-click="tcdetails();">{{"TC's Issued"| translate }}</button>
                                </div>
                        </div>
                    </div>

                    <!--Row 2-->
                    <div class="row">
                            <div class="col-md-3">
                                <label for="isbn"><i class="fa fa-user"></i>{{" Name" | translate }}</label>
                                <input type="text" name="isbn" id="Text2" class="k-textbox input-sm full-width" ng-model="temp.stud_name" ng-readonly="divcode_readonly" />
                            </div>
                            <div class="col-md-1">
                                <label for="DivCode"><i class="fa fa-sort-numeric-asc"></i>{{" ESIS NO" | translate }}</label>
                                <input type="text" name="bnn" id="Text17" class="k-textbox input-sm full-width" ng-model="temp.sims_student_ea_number" ng-readonly="divcode_readonly" />
                            </div>
                            <div class="col-md-2">
                                <label for="DivCode"><i class="fa fa-align-justify"></i>{{" Nationality" | translate }}</label>
                                <input type="text" name="bnn" id="Text30" class="k-textbox input-sm full-width" ng-model="temp.nationality" ng-readonly="divcode_readonly" />
                            </div>
                            <div class="col-md-3">
                                <label for="dewey"><i class="fa fa-align-justify"></i>{{" Religion" | translate }}</label>
                                <input type="text" name="dewey" id="libname" class="k-textbox input-sm full-width" ng-model="temp.religion" ng-readonly="divcode_readonly" />
                            </div>
                            <div class="col-md-2">
                                <label for="title"><i class="fa fa-calendar" ></i>{{" DOB" | translate }}</label>
                                <input type="text" name="title" id="dob_date" class="k-textbox input-sm full-width" ng-model="temp.date_of_birth" ng-readonly="divcode_readonly" />
                            </div>
                            <div class="col-md-1">
                                <label for="title"><i class="fa fa-align-justify"></i>{{" Gender" | translate }}</label>
                                <input type="text" name="title" id="Text31" class="k-textbox input-sm full-width" ng-model="temp.sims_student_gender" ng-readonly="divcode_readonly" />
                            </div>
                        </div>
                    <!--Row 3-->
                    <div class="row">
                            <div class="col-md-3">
                                <label for="DivCode"><i class="fa fa-user"></i>{{" Father name" | translate }}</label>
                                <input type="text" name="bnn" id="Text3" class="k-textbox input-sm full-width" ng-model="temp.father_name" ng-readonly="divcode_readonly" />
                            </div>

                            <div class="col-md-6">
                                <label for="desc"><i class="fa fa-calendar" ></i>{{" DOB In Words" | translate }}</label>
                                <input type="text" name="desc" id="Text4" class="k-textbox input-sm full-width" ng-model="temp.dobw" ng-readonly="divcode_readonly" />
                            </div>

                            <div class="col-md-3">
                                <label for="desc"><i class="fa fa-calendar" ></i>{{" Date of Admission" | translate }}</label>
                                <input type="text" name="desc" id="date_adm" class="k-textbox input-sm full-width" ng-model="temp.date_of_admission" ng-readonly="divcode_readonly" />
                            </div>
                    </div>

                    <!--Row 4-->
                    <div class="row">
                            <div class="col-md-3">
                                <label for="DivCode"><i class="fa fa-user"></i>{{" Mother name" |translate}}</label>
                                <input type="text" name="bnn" id="Text26" class="k-textbox input-sm full-width" ng-model="temp.mother_name" ng-readonly="divcode_readonly" />
                            </div>

                            <div class="col-md-3">
                                <label for="desc"><i class="fa fa-align-justify"></i>{{" Present Class" | translate }}</label>
                                <input type="text" name="desc" id="Text7" class="k-textbox input-sm full-width" ng-model="temp.present_class" ng-readonly="divcode_readonly" />
                            </div>

                            <div class="col-md-3">
                                <label for="desc"><i class="fa fa-align-justify"></i>{{" Section" | translate }}</label>
                                <input type="text" name="desc" id="Text8" class="k-textbox input-sm full-width" ng-model="temp.present_sec" ng-readonly="divcode_readonly" />
                            </div>

                            <div class="col-md-3">
                                <label for="desc"><i class="fa fa-align-justify"></i>{{" Class to which He/She was admitted" | translate }}</label>
                                <input type="text" name="desc" id="Text9" class="k-textbox input-sm full-width" ng-model="temp.admitted_class" />
                            </div>
                        </div>

                    </div>
                 </div>
                         </div>
               
               
                
            <!--</div>-->

         <div class="raw" >

             <div  class="paddingcode grid-body no-border">
                     
                 <div class="col-md-12 ">
                    <div class="row margin-top">
                        <div class="col-md-12">
                            <label class="bold">{{"Result" | translate }}</label>
                            <!--<hr style="height:20px; border:none; color:#FF6600; background-color:#FF6600;">-->
                        </div>
                    </div>

                    <!--Row 5-->
                    <div class="row">
                            <div class="col-md-4">
                                <div class="radio radio-success">
                                    <input id="yes" name="optionyes" value="Y" ng-click="radio1Click()" class="k-radio" type="radio">
                                    <label for="yes">{{"Whether student will continue same grade" | translate }}</label>
                                    <input id="no" name="optionyes" value="N" ng-click="radio2Click()" class="k-radio" type="radio">
                                    <label for="no">{{"Student leaving after completion of the academic year" | translate }}</label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="desc"><i class="fa fa-align-justify"></i>{{" Passed and Promoted to Class" | translate }}</label>
                                <input type="text" name="desc" id="Text10" class="k-textbox input-sm full-width" ng-model="temp.sims_student_exam_result" maxlength="50" />
                            </div>

                            <div class="col-md-2">
                                <label for="desc"><i class="fa fa-calendar" ></i>{{" For Academic Year" | translate }}</label>
                                <input type="text" name="desc" id="Text11" class="k-textbox input-sm full-width" ng-model="temp.sims_certificate_academic_year" />
                            </div>

                            <div class="col-md-2">
                                <label for="desc"><i class="fa fa-sort-numeric-asc"></i>{{" School dues paid upto" |translate}}</label>
                                <input type="text" name="desc" id="Text27" class="k-textbox input-sm full-width" ng-model="temp.sims_student_fees_paid_lastmonth" />
                            </div>
                        </div>
                   
                    <!--Row 6-->
                    <div class="row">

                            <div class="col-md-4">
                                <label for="DivCode"><i class="fa fa-align-justify"></i>{{" He/She Studied in following subjects" | translate }}</label>
                                <select id="cmb_Subjects" class="full-width" multiple="multiple" name="user" ng-model="temp.sims_certificate_subject_studied">
                                    <!--<option value="" selected disabled>Please Select</option>-->
                                    <option class="form-control input-sm" ng-repeat="temp in subject_studied" value="{{temp.sims_certificate_subject_studied_ar}}">{{temp.sims_certificate_subject_studied_ar}}</option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <label for="desc"><i class="fa fa-calendar" ></i>{{" Present Days" | translate }}</label>
                                <input type="text" name="desc" id="Text12" class="k-textbox input-sm full-width" ng-pattern="/^(\d)+$/" ng-model="temp.present_days" />
                            </div>

                            <div class="col-md-2">
                                <label for="desc"><i class="fa fa-calendar" ></i>{{" Out of Total Days" | translate }}</label>
                                <input type="text" name="desc" id="Text13" class="k-textbox input-sm full-width" ng-pattern="/^(\d)+$/" ng-model="temp.total_days" />
                            </div>


                            <div class="col-md-4">
                                <label for="desc"><i class="fa fa-calendar" ></i>{{" Month & Year He/She appeared the board exam" |translate}}</label>
                                <input type="text" name="desc" id="Text28" class="k-textbox input-sm full-width" ng-model="temp.sims_certificate_exam_year" maxlength="100" />

                            </div>
                        </div>


                    <div class="row">
                            <div class="col-md-12">
                                <label for="desc"><i class="fa fa-align-justify"></i>{{" Program (IN FULL) Of Board Exam He/She Appeared" |translate}}</label>
                                <input type="text" name="desc" id="Text14" class="k-textbox input-sm full-width" ng-model="temp.sims_student_exam_appeared" maxlength="150" />

                            </div>
                        </div>
                </div>
                </div>
                </div>
           
          <div class="raw">

             <div  class="paddingcode grid-body no-border">
                     
                 <div class="col-md-12 ">
                    <div class="row margin-top">
                        
                            <label class="bold">{{"Character and Conduct" | translate }}</label>

                       
                    </div>
                    <!--Row 7-->
                    <!--<div class="row">-->

                            <div class="col-md-6">
                                <label for="desc"><i class="fa fa-align-justify"></i>{{" Character and Conduct" | translate }}</label>
                                <input type="text" name="desc" id="Text15" class="k-textbox input-sm full-width" ng-model="temp.sims_certificate_general_conduct" maxlength="100" />
                            </div>
                            <div class="col-md-6">
                                <label for="desc"><i class="fa fa-align-justify"></i>{{" Reason of Leaving" | translate }}<span style="color: red">*</span></label>
                                <input type="text" name="desc" id="Text22" class="k-textbox input-sm full-width" ng-model="temp.sims_certificate_reason_of_leaving" maxlength="100" />
                            </div>
                            <!--  <div class="col-md-7" style="padding: 02px" >
                                      <label for="desc">{{"Remarks" | translate }}</label>
                                      <input type="text" name="desc" id="Text16" class="k-textbox" ng-model="temp.sims_certificate_remark" maxlength="100"/>
                              </div>-->
                       <!-- </div>-->


                    <!--Row 9-->
                    <div class="row">
                            <!-- <div class="col-md-1" style="padding: 02px" >
                                    <label for="desc">{{"Sr No." | translate }}</label>
                                    <input type="text" name="desc" id="Text25" class="k-textbox input-sm"  ng-model="temp.sims_certificate_result_serial_no" />
                            </div>-->

                            <div class="col-md-3">
                                <label for="StartDate"><i class="fa fa-calendar" ></i>{{" Date of Leaving" | translate }}</label>
                                <!--<input type="text" name="desc" id="Text21" class="k-textbox input-sm"  ng-model="temp.sims_certificate_date_of_leaving" ng-readonly="divcode_readonly"/>-->
                              
                                       <input type="text" id="date_of_leaving" placeholder="Select Date" name="creation_date" class="k-textbox input-sm full-width" ng-model="temp.sims_certificate_date_of_leaving">
                                    <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                 </div>



                            <!-- <div class="col-md-3" style="padding: 02px" >
                                   <label for="desc">{{"Academic Progress" | translate }}</label>
                                   <input type="text" name="desc" id="Text23" class="k-textbox input-sm"  ng-model="temp.sims_certificate_academic_progress"/>
                             </div>-->

                        <div class="col-md-3" style="padding: 02px" >
                                      <label for="desc"><i class="fa fa-align-justify"></i>{{" Remarks" | translate }}</label>
                                      <input type="text" name="desc" id="Text16" class="k-textbox" ng-model="temp.sims_certificate_remark" maxlength="100"/>
                              </div>

                            <div class="col-md-1">
                                <label id="Label1" for="txt_Status"><i class="fa fa-dollar"></i>{{" Fees Paid"| translate }}</label>
                                <div class="checkbox check-success">
                                    <input id="Checkbox1" type="checkbox" ng-model="temp.sims_certificate_fee_paid">
                                    <label for="Checkbox1"></label>
                                </div>
                            </div>

                        <div class="col-md-6">
                        <div class="pull-right">
                            <button type="button" ng-show="print_btn" ng-click="print();" class="btn btn-primary btn-small">{{"Print" | translate }}</button>
                            <button type="button" ng-show="Update_btn" ng-click="update();" class="btn btn-primary btn-small">{{"Update" | translate }}</button>
                            <button type="button" id="desigsub" ng-show="save_btn" class="btn btn-primary btn-small" ng-click="SaveData()">{{"Save" | translate }}</button>
                            <button type="button" ng-show="savecancel_btn" class="btn btn-primary btn-small" ng-click="SaveCancel()">{{"Save & Cancel Adm" | translate }}</button>
                        </div>
                            </div>

                            <!--<div class="col-md-2">
                                 <label id="Label2" for="txt_Status">{{"Certificate Status"| translate }}</label>
                                 <div class="checkbox check-success">
                                     <input id="Checkbox2" type="checkbox" ng-model="temp.sims_certificate_sc_st_status">
                                     <label for="Checkbox2"></label>
                                 </div>
                            </div>-->
                    </div>
                </div>
                </div>
              </div>

                    <div ng-hide="true">
                        <div ng-show="enrollno_data">
                            <div class="row">
                                <div class="col-md-12">
                                    <label style="background-color: #0090d9; color: white; padding-left: 2px;" class="semi-bold">{{"Requested/Uploaded Documents" |translate}}</label>
                                    <!--<hr style="height:20px; border:none; color:#FF6600; background-color:#FF6600;">-->

                                </div>
                            </div>
                                <div class="row">
                                    <div class="col-md-12">
                                            <table class="table table-bordered table-hover" id="Table6">
                                                <thead style="background-color: white">
                                                    <tr style="background-color: #edefef">

                                                        <th>{{"Document Name"| translate}}</th>
                                                        <th>{{"Documents" | translate}}</th>
                                                        <th>{{"Year"| translate}}</th>
                                                        <th>{{"Status" | translate}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                                <tr ng-repeat="roll in Studentdata">

                                                    <td>{{roll.sims_certificate_number}}</td>
                                                    <td>{{roll.sims_certificate_doc_path_name}}</td>
                                                    <td>{{roll.sims_certificate_name}}</td>
                                                    <!--<td>{{roll.sims_certificate_doc_status}}</td>-->
                                                    <td class="v-align-middle">
                                                        <span ng-if="roll.sims_certificate_doc_status=='U'" type="button" ng-click="downloaddoc1(roll)" class="label label-success">Uploaded</span>
                                                        <span ng-if="roll.sims_certificate_doc_status=='R'" class="label label-important">Requested</span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                        </div>
                    </div>

                    <!--<div class="row">
                        <div class="col-md-12" style="/* padding-top: 0px; */background-color:white;margin-top: 25px;padding-bottom: 25px;padding-right: 15px;padding-left: 15px;">
                    <div class="form-actions">
                        <div class="pull-right">
                            <button type="button" ng-show="print_btn" ng-click="print();" class="btn btn-primary btn-small">{{"Print" | translate }}</button>
                            <button type="button" ng-show="Update_btn" ng-click="update();" class="btn btn-primary btn-small">{{"Update" | translate }}</button>
                            <button type="button" id="desigsub" ng-show="save_btn" class="btn btn-primary btn-small" ng-click="SaveData()">{{"Save" | translate }}</button>
                            <button type="button" ng-show="savecancel_btn" class="btn btn-primary btn-small" ng-click="SaveCancel()">{{"Save & Cancel Adm" | translate }}</button>
                        </div>
                        </div>
                    </div>
                    </div>-->
                <!--</div>-->
                    </div>
            </form>
                
            <!--</div>-->
        
    <!--</div>-->
<!--</div>-->

<div class="modal fade in" id="myModal1" role="dialog" tabindex="-1" style="display: none;">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 1315px; height:500px;">
        <div class="modal-content" uib-modal-transclude=""style="height:130%;width:100%;">

            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <!--<h4 class="modal-title custom-font" style="margin-top: -7px"><b>{{"Certificate Search" | translate }}</b></h4>-->
                    <h4><span class="semi-bold">Certificate</span> Search</h4>
                </div>
                <div class="pull-right">
                    <button style=" margin-top: 4px;margin-right: 0px;height: 33px;line-height: 23px;" class="btn btn-primary btn-cons" data-dismiss="modal" type="submit">Close</button>
                </div>
            </div>

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

           
                  <div class="grid-body no-border">
                      <div class="col-md-12">
                    <div class="row">
                            <div class="col-md-2">
                                <label for="DivCode"><i class="fa fa-sort-numeric-asc"></i>{{" Enroll No" | translate }}</label>
                                <input type="text" class="k-textbox input-sm full-width" maxlength="6" ng-model="edt.enroll" />
                            </div>
                            <div class="col-md-4"><label>&nbsp;</label>
                                <button type="button" id="Button2" class="btn btn-primary btn-sm btn-small" ng-click="cert_show()">{{"Search" | translate }}</button>
                                <button type="button" id="Button3" class="btn btn-primary btn-sm btn-small" ng-click="Reset_grid()">{{"Reset" | translate }}</button>
                            </div>
                        </div>

                          <div class="col-md-1">
                            <select id="Select4" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                <option value="10" class=" form-control input-sm">
                                    10
                                </option>

                                <option value="25" class=" form-control input-sm">
                                    25
                                </option>

                                <option value="50" class=" form-control input-sm">
                                    50
                                </option>
                            </select>

                        </div>

                    <div ng-show="certificate">
                        <div id="Div4" class="dataTables_wrapper form-inline">
                            <div class="row">
                                <div class="col-md-12 margin-top">
                                <table class="table table-bordered table-hover" id="fixTable" aria-describedby="example2_info">
                                    <thead style="background-color: white">
                                        <tr>
                                            <th class="small-cell v-align-middle" style="z-index:1;">
                                                <i class="fa fa-cogs"></i>
                                                <!--<div class="checkbox check-success">
                                                    <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                                    <label for="mainchk"></label>
                                                </div>-->
                                            </th>

                                            <!-- <th class="semi-bold">{{"CERTIFICATE NO" | translate }}</th>-->
                                            <th class="bold"><i class="fa fa-sort-numeric-desc"></i>{{" Enroll No" | translate }}</th>
                                            <th class="bold"><i class="fa fa-align-justify"></i>{{" TC Status" |translate}}</th>
                                            <th class="bold"><i class="fa fa-calendar" ></i>{{" Date of Request" |translate}}</th>
                                            <th class="bold"><i class="fa fa-user"></i>{{" Student Name" | translate }}</th>
                                            <!--<th class="bold"><i class="fa fa-user"></i>{{" Father Name" | translate }}</th>-->
                                            <!--<th class="bold" style="width: 65px;"><i class="fa fa-align-justify"></i>{{" Religion" | translate }}</th>
                                            <th class="bold" style="width: 79px;"><i class="fa fa-align-justify"></i>{{" Nationality" | translate }}</th>
                                            <th class="bold"><i class="fa fa-calendar" ></i>{{" Date of Birth" | translate }}</th>
                                            <th class="bold"><i class="fa fa-calendar" ></i>{{" Date of Admission" | translate }}</th>-->
                                            <th class="bold"><i class="fa fa-calendar" ></i>{{" Date of Leaving" | translate }}</th>
                                            <th class="bold"><i class="fa fa-align-justify"></i>{{" Reason of Leaving" | translate }}</th>
                                            <th class="bold"><i class="fa fa-align-justify"></i>{{" General Conduct" | translate }}</th>
                                            <!--<th class="semi-bold">{{"ACADEMIC PROGRESS" | translate }}</th>-->
                                            <!--<th class="bold"><i class="fa fa-align-justify"></i>{{" Subject Studied" | translate }}</th>-->
                                            <!--<th class="semi-bold">{{"CERTIFICATE REMARK" | translate }}</th>
                                            <th class="semi-bold">{{"ATTENDANCE REMARK" | translate }}</th>-->
                                            <!--<th class="bold" style="width: 73px;"><i class="fa fa-calendar" ></i>{{" Academic Year" | translate }}</th>-->
                                            <!--<th class="semi-bold">{{"QUALIFIED FOR PROMOTION" | translate }}</th>     -->
                                            <th class="bold"><i class="fa fa-calendar" ></i>{{" Date of Issue" | translate }}</th>
                                            <th class="bold"><i class="fa fa-dollar"></i>{{" Fees Paid" | translate }}</th>
                                            <th class="bold"><i class="fa fa-align-justify"></i>{{" Certificate Status" | translate }}</th>
                                            <!--<th class="bold"><i class="fa fa-sort-numeric-desc"></i>{{" Reg.No" | translate }}</th>-->
                                            <!--<th class="bold"><i class="fa fa-sort-numeric-desc"></i>{{" Reg Serial No" | translate }}</th>
                                            --><!--<th class="bold"><i class="fa fa-sort-numeric-desc"></i>{{" Result Serial No" | translate }}</th>-->

                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="info in filteredTodos">
                                            <td>
                                                <div class="row-fluid">
                                                    <div class="radio radio-success">
                                                        <input id="{{info.sims_certificate_number+$index}}" name="option" value="true" ng-model="info.isChanged" ng-click="checkonebyonedelete(info)" class="k-radio" type="radio">
                                                        <label for="{{info.sims_certificate_number+$index}}"></label>
                                                    </div>
                                                    <!-- <div class="checkbox check-success" style="height: 20px">
                                                     <input id="{{$index}}" type="checkbox" value="1" ng-click="checkonebyonedelete()" ng-model="chkb">
                                                     <label for="{{$index}}"></label>
                                                     </div>-->
                                                </div>
                                            </td>
                                            <!--<td>{{info.sims_certificate_number}}</td>-->
                                            <td>{{info.sims_certificate_enroll_number}}</td>
                                            <td>{{info.sims_certificate_req_status}}</td>
                                            <td>{{info.sims_certificate_req_date}}</td>
                                            <td>{{info.stud_name}}</td>
                                            <!--<td>{{info.father_name}}</td>-->
                                            <!--<td>{{info.religion}}</td>
                                            <td>{{info.nationality}}</td>
                                            <td>{{info.date_of_birth}}</td>
                                            <td>{{info.date_of_admission}}</td>-->
                                            <td>{{info.sims_certificate_date_of_leaving}}</td>
                                            <td>{{info.sims_certificate_reason_of_leaving}}</td>
                                            <td>{{info.sims_certificate_general_conduct}}</td>
                                            <!--<td>{{info.sims_certificate_academic_progress}}</td>-->
                                            <!--<td>{{info.sims_certificate_subject_studied_ar}}</td>
                                            <td>{{info.sims_certificate_academic_year}}</td>-->
                                            <!--<td>{{info.sims_certificate_attendance_remark}}</td>-->
                                            <!--<td>{{info.sims_certificate_qualified_for_promotion}}</td>-->
                                            <!--<td class="v-align-middle">
                                            <span ng-if="info.sims_certificate_qualified_for_promotion==true" class="label label-success">Active</span>
                                            <span ng-if="info.sims_certificate_qualified_for_promotion==false" class="label label-important">Inactive</span>
                                            </td>-->
                                            <td>{{info.sims_certificate_date_of_issue}}</td>
                                            <!--<td>{{info.sims_certificate_fee_paid}}</td>-->
                                            <td class="v-align-middle">
                                                <span ng-if="info.sims_certificate_fee_paid==true" class="label label-success">Active</span>
                                                <span ng-if="info.sims_certificate_fee_paid==false" class="label label-important">Inactive</span>
                                            </td>
                                            <!--<td>{{info.sims_certificate_sc_st_status}}</td>-->
                                            <td class="v-align-middle">
                                                <span ng-if="info.sims_certificate_sc_st_status==true" class="label label-success">Active</span>
                                                <span ng-if="info.sims_certificate_sc_st_status==false" class="label label-important">Inactive</span>
                                            </td>
                                            <!--<td>{{info.sims_certificate_registration_register_no}}</td>
                                            <td>{{info.sims_certificate_registration_serial_no}}</td>
                                            <td>{{info.sims_certificate_result_serial_no}}</td-->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                                </div>
                             <div class="row">
                                <div class="col-md-12">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>
                                    </div>
                                 </div>
                        </div>
                    </div>

                    <div class="modal-footer">

                        <!--<div class="col-md-1">
                            <select id="Select2" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                <option value="5" class=" form-control input-sm">
                                    5
                                </option>

                                <option value="10" class=" form-control input-sm">
                                    10
                                </option>

                                <option value="15" class=" form-control input-sm">
                                    15
                                </option>
                            </select>

                        </div>-->
                        <div class="col-md-3">
                            <div class="pull-right">
                                <div class="dataTables_filter" id="example_filter">
                                    <!--<label>
                                        {{"Search"| translate }}:&nbsp;
                                        <!--<input type="text" aria-controls="example" ng-model="search.$" class="input-medium"></label>-->
                                    <!-- <input aria-controls="example" ng-model="searchText" class="input-medium" placeholder="Search" type="search" ng-change="search()" tabindex="1" autofocus="autofocus">
                                    </label>-->
                                </div>
                            </div>
                        </div>

                        <div class="pull-right">
                            <button type="button" ng-click="submit();" class="btn btn-primary btn-small">{{"Submit" | translate }}</button>
                            <!--<button type="button" class="btn btn-primary btn-cons" data-dismiss="modal" ng-click="Cancel()">{{"Cancel" | translate }}</button>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="myModal2" role="dialog" tabindex="-1" style="display: none;">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 1000px;">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <!--<h4 class="modal-title custom-font" style="margin-top: -5px;"><b style="margin-left: 0px;">{{"Search Student" | translate }}</b></h4>-->
                    <h4><span class="semi-bold">Search</span> Student</h4>
                </div>
                <div class="pull-right">
                    <!--<button style="margin-top: 0px;margin-right: -22px;" class="btn btn-primary btn-small" data-dismiss="modal" type="submit">Close</button>-->
                   <!-- <button type="button" class="btn btn-primary btn-cons" data-dismiss="modal" style="background-color:#0aa699;">{{"Close" | translate }}</button>-->
                    <button style=" margin-top: 4px;margin-right: 0px;height: 33px;line-height: 23px;" class="btn btn-primary btn-cons" data-dismiss="modal" type="submit">Close</button>
                </div>
            </div>

           
                   <div class="grid-body no-border">
              <div class="col-md-12">
                          <div class="row">
                                <div class="col-md-2">

                                            <label><i class="fa fa-pencil-square-o"></i>{{" Curriculum" | translate }}</label>
                                            <select id="cmb_cur" name="curCode" data-role="dropdownlist" class="form-control input-sm full-width"
                                                    ng-model="edt.s_cur_code" ng-change="getAcadm_yr(global_Search.global_curriculum_code)"
                                                    ng-options="item.sims_cur_code as item.sims_cur_name for item in cmbCur"></select>

                                        </div>

                                <div class="col-md-2">
                                            <!--<select id="cmb_academic_year" class="form-control" ng-model="edt.sims_academic_year">
                                                <option value="" selected disabled>Please Select</option>
                                            <option class="k-textbox input-sm"  ng-if="edt.s_cur_code==year.ayCur" ng-repeat="year in ComboBoxValues|filter:{sims_acadmic_year:''}" value="{{year.sims_acadmic_year}} ">{{year.sims_acadmic_year_desc}}</option>

                                            </select>-->
                                            <label><i class="fa fa-sort-numeric-asc"></i>{{" Academic Year" | translate }}</label>
                                            <select id="Select3" name="curCode" data-role="dropdownlist" class="form-control input-sm full-width"
                                                    ng-model="edt.sims_academic_year" ng-change="academic_change(global_Search.global_acdm_yr)"
                                                    ng-options="item.sims_academic_year as item.sims_academic_year_desc for item in Acdm_year" />
                                        </div>
                              
                                <div class="col-md-2">

                                            <!--<select id="cmb_grade_code" style="width: 100%" class="form-control" ng-model="edt.search_std_grade_name" ng-change="getsectioncode(edt.s_cur_code,edt.sims_academic_year,edt.search_std_grade_name)">
                                                <option value="" selected disabled>Please Select</option>
                                               <option class="k-textbox" ng-if="edt.sims_academic_year==grade.grAca && edt.s_cur_code==grade.grCur" ng-repeat="grade in ComboBoxValues|filter:{sims_grade_name:''}" value="{{grade.sims_grade_code}} ">{{grade.sims_grade_name}}</option>
                                            </select>-->
                                            <label><i class="fa fa-sitemap"></i>{{" Grade" | translate }}</label>
                                            <select id="Select5" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.search_std_grade_name" ng-change="getsectioncode(edt.s_cur_code,edt.sims_academic_year,edt.search_std_grade_name)">
                                                <option value="" selected>Please Select</option>
                                                <option ng-repeat="grade_cod in All_grade_names" value="{{grade_cod.sims_grade_code}}">
                                                    {{grade_cod.sims_grade_name}}
                                                </option>
                                            </select>
                                        </div>

                                <div class="col-md-2">

                                            <label><i class="fa fa-align-justify"></i>{{" Section" | translate }}</label>
                                            <select id="Select24" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.search_std_section_name">
                                                <option value="" selected disabled>Please select</option>
                                                <option class="form-control" ng-repeat="section in sections" value="{{section.sims_section_code}}" class=" form-control input-sm">
                                                    {{section.sims_section_name}}
                                                </option>
                                            </select>
                                        </div>

                                <div class="col-md-2">

                                            <label><i class="fa fa-align-justify"></i>{{" Nationality" | translate }}</label>
                                            <select id="Select35" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.sims_nationality_name_en">
                                                <option value="" selected disabled>Please Select</option>
                                                <option class="k-textbox input-sm" ng-repeat="section in ComboBoxValues|filter:{sims_nationality_name_en:''}" value="{{section.sims_nationality_code}} ">{{section.sims_nationality_name_en}}</option>
                                            </select>
                                        </div>



                                <div class="col-md-2">

                                            <label><i class="fa fa-sort-numeric-asc"></i>{{" National Id" | translate }}</label>
                                            <input type="text" class="k-textbox input-sm full-width">

                                        </div>
                    </div>


                    <div class="row">
                                <div class="col-md-2">
                                    <label><i class="fa fa-sort-numeric-asc"></i>{{" Enrollment No" | translate }}</label>
                                            <input type="text" class="k-textbox input-sm full-width" ng-model="edt.search_std_enroll_no" />
                                        </div>
                                <div class="col-md-2">
                                    <label><i class="fa fa-user"></i>{{" Name" | translate }}</label>
                                            <input type="text" class="k-textbox input-sm full-width" ng-model="edt.search_std_name" />
                                        </div>
                                <div class="col-md-2">
                                            <label><i class="fa fa-sort-numeric-asc"></i>{{" Passport No" | translate }}</label>
                                            <input type="text" class="k-textbox input-sm full-width" ng-model="edt.search_std_passport_no" />
                                        </div>

                                <div class="col-md-2">
                                            <label><i class="fa fa-user"></i>{{" Family Name" | translate }}</label>
                                            <input type="text" class="k-textbox input-sm full-width" ng-model="edt.search_std_family_name" />
                                        </div>

                                <div class="col-md-4">
                                            <label>&nbsp;</label>
                                            <button type="button" ng-click="searchstudent();" class="btn btn-primary btn-small">{{"Search" | translate }}</button>
                                        </div>
                            </div>
                    <div class="row" ng-show="busy">
                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-5">
                                </div>
                                <div class="col-md-2">
                                    <img src="assets/images/loading.gif" />

                                </div>
                                <div class="col-md-5">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-show="searchtable">
                        <div id="Div3" class="dataTables_wrapper form-inline">
                            <div class="row">
                                <div class="col-md-12 margin-top">
                                <table class="table  table-bordered  table-hover" id="fixTable2" aria-describedby="example2_info">
                                    <thead style="background-color: white">
                                        <tr style="background-color: #edefef">
                                            <td class="semi-bold"><i class="fa fa-sort-numeric-desc"></i>{{" ENROLL NO" | translate }}</td>
                                            <td class="semi-bold"><i class="fa fa-user"></i>{{" Name" | translate }}</td>
                                            <td class="semi-bold"><i class="fa fa-sitemap"></i>{{" CLASS" | translate }}</td>
                                            <td class="semi-bold"><i class="fa fa-sort-numeric-desc"></i>{{" EMAIL ID" | translate }}</td>
                                            <td class="semi-bold"><i class="fa fa-sitemap"></i>{{" GRADE" | translate }}</td>
                                            <td class="semi-bold"><i class="fa fa-align-justify"></i>{{" SECTION" | translate }}</td>
                                            <td class="semi-bold"><i class="fa fa-sort-numeric-desc"></i>{{" MOBILE NO" | translate }}</td>
                                            <td class="semi-bold"><i class="fa fa-align-justify"></i>{{" ACTION" | translate }}</td>
                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="info in student" ng-class="row1">

                                            <td>{{info.s_enroll_no}}</td>
                                            <td>{{info.s_sname_in_english}}</td>
                                            <td>{{info.s_class}}</td>
                                            <td>{{info.mail_id}}</td>
                                            <td>{{info.sims_grade_name_en}}</td>
                                            <td>{{info.sims_section_name_en}}</td>
                                            <td>{{info.mobile_no}}</td>
                                            <td><a href=""><i class="fa fa-edit" ng-click="edit(info)" data-dismiss="modal"></i></a>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                                </div>
                        </div>
                    </div>
                    <div class="modal-footer margin-top">
                        <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c btn-small" data-dismiss="modal" type="submit">{{"Cancel" | translate }}</button>
                    </div>
                </div>
            </div>
          </div>
    </div>
</div>



<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>

