﻿<style>
    .ms-choice {
        height: 26px;
       
    }
    .greed-title {
            margin-bottom: 15px;

    }
</style>





<!DOCTYPE html>
<html>
<body>
    <div class="grid-simple">
        <div class="content">
            <div class="row" >
                <div class="col-md-12" style="padding-left:14px !important;padding-right:14px !important;background:#d8ebf4 !important;">
                    <!--<div class="grid simple">-->
                        <div class="greed-title no-border" style="padding-bottom:0px !important;padding-top: 4px !important">

                            <div class="row" style="background:#d8ebf4 !important;padding-bottom:12px !important;padding-top: 6px !important">

                                <div class="col-md-2">

                                    <label id="Label" for="txt_Nationality_Code" class="form-label">
                                        <i class="fa fa-book"></i>
                                        {{"Curriculum"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="temp.sims_cur_code" ng-selected="" name="sims_cur_code" ng-change="getAcademic_year(temp.sims_cur_code)"
                                            ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in cur_data" required></select>
                                </div>

                                <div class="col-md-2">
                                    <label id="Label1" for="txt_Nationality_Code" class="form-label">
                                        <i class="fa fa-calendar"></i>
                                        {{"Academic Year"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="Select1" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="temp.sims_academic_year" ng-selected="" name="sims_academic_year" ng-change="getGrade(temp.sims_cur_code,temp.sims_academic_year)"
                                            ng-options="acad.sims_academic_year as acad.sims_academic_year_desc for acad in acad_data" required></select>
                                </div>

                                   <div class="col-md-2">
                                 <label><i class="fa fa-sitemap	"></i>&nbsp;{{"Grade"|translate}}<span class="asterisk" style="color: red">*</span></label>
                                 <select id="cmb_grade_code" multiple="multiple" class="full-width" ng-model="temp.sims_grade_code" ng-change="getSection(temp.sims_cur_code,temp.sims_academic_year,temp.sims_grade_code)">
                                     <option ng-repeat="grade in Grade_code|filter:{sims_grade_name:''}" value="{{grade.sims_grade_code}} ">{{grade.sims_grade_name}}</option>
                                 </select>
                                </div>

                                 <div class="col-md-2">
                       <label><i class="fa fa-align-justify "></i>&nbsp;{{"Section"|translate}} <span class="asterisk" style="color: red">*</span></label>
                        <select id="cmb_section_code" multiple="multiple" class="full-width" ng-model="temp.sims_section_code">
                            <option ng-repeat="section in Section_code|filter:{sims_section_name:''}" value="{{section.sims_section_code}} ">{{section.sims_section_name}}</option>
                        </select>
                    </div>
                                 
               <div class="col-md-4">
                <div class="pull-right">
                    <label>&nbsp;</label>
                    <button type="button" class="btn btn-primary btn-cons" ng-click="getdetails()">{{"Submit"|translate}}</button>
                    <button class="btn btn-rounded btn-warning btn-cons" type="button" ng-click="reset_data()"><i class="icon-ok"></i>{{"Reset"|translate}}</button>
                    <button type="button" class="btn btn-primary btn-cons" ng-click="exportData()">{{"Excel"|translate}}</button>
                    <button type="button" class="btn btn-primary btn-cons" ng-click="print()">{{"Print"|translate}}</button>
                </div>
            </div>

                            </div><!---- row -->
                           
                            <div class="row">
                                <div class="col-md-2" ng-show="false">
                                    <label>&nbsp;</label>
                                    <div class="pull-right">
                                        <span class="k-textbox k-space-right">
                                            <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                                            <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                        </span>
                                    </div>
                                </div>
                            </div>



                        </div>
                    <!--</div>-->
                </div>
            </div>

            <div ng-show="detailsField" style="margin-top:-13px">

                <div class="content"style=" margin-left:  -9px; margin-right: -8px;">
                    <div class="greed-title no-border" style="background-color:  white;">
                        <div class="col-md-12">
                            <div class="row margin-top">
                                <div class="col-md-6" style=" padding-left: 6px;">
                                    <select id=" select1" style="width: 60px;" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                        <option value="30" class=" form-control input-sm">
                                            30
                                        </option>

                                        <option value="60" class=" form-control input-sm">
                                            60
                                        </option>

                                        <option value="All" class=" form-control input-sm">
                                            All
                                        </option>
                                    </select>
                                </div>

                                  <div class="col-md-6">                
                <div class="pull-right">
                    <span class="k-textbox k-space-right">
                        <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                        <a href="#" class="k-icon k-i-search">&nbsp;</a>
                    </span>
                </div>
            </div>
                            </div>
                        </div>

                        <div id="example_wrapper" class="dataTables_wrapper form-inline">
                            <div class="row margin-top">
                                <div class="col-md-12">

                                    <div class="col-md-12" id="rpt_data1">
                                        <table class="table table-striped table-flip-scroll cf">
                                            <thead ng-if="!colsvis">
                                                <tr style="" background-color #edefef">
                                                    <th><i class="fa fa-sort-numeric-asc"></i>&nbsp;<b>{{"Sr No"|translate}}</b></th>
                                                    <th ng-click="sortBy('sims_student_enroll_number')"><i class="fa fa-sort-numeric-asc"></i>&nbsp;<b>{{"Enroll No."|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_student_enroll_number'" ng-class="{reverse: reverse}"></span></th>
                                                    <th ng-click="sortBy('student_name')"><i class="fa fa-user"></i>&nbsp;<b>{{"Student Name"|translate}}</b><span class="sortorder" ng-show="propertyName === 'student_name'" ng-class="{reverse: reverse}"></span></th>
                                                    <th ng-click="sortBy('sims_student_dob')"><i class="fa fa-calendar"></i>&nbsp;<b>{{"Date of Birth"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_student_dob'" ng-class="{reverse: reverse}"></span></th>
                                                    <th ng-click="sortBy('father_name')"><i class="fa fa-user"></i>&nbsp;<b>{{"Father Name"|translate}}</b><span class="sortorder" ng-show="propertyName === 'father_name'" ng-class="{reverse: reverse}"></span></th>
                                                    <th ng-click="sortBy('sims_parent_father_mobile')"><i class="fa fa-mobile"></i>&nbsp;<b>{{"Father Contact"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_parent_father_mobile'" ng-class="{reverse: reverse}"></span></th>
                                                     <th ng-click="sortBy('mother_name')"><i class="fa fa-user"></i>&nbsp;<b>{{"Mother Name"|translate}}</b><span class="sortorder" ng-show="propertyName === 'mother_name'" ng-class="{reverse: reverse}"></span></th>
                                                     <th ng-click="sortBy('sims_parent_mother_mobile')"><i class="fa fa-mobile"></i>&nbsp;<b>{{"Mother Contact"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_parent_mother_mobile'" ng-class="{reverse: reverse}"></span></th>
                                                      <th ng-click="sortBy('nationality_name')"><i class="fa fa-flag"></i>&nbsp;<b>{{"Nationality"|translate}}</b><span class="sortorder" ng-show="propertyName === 'nationality_name'" ng-class="{reverse: reverse}"></span></th>
                                                     <th ng-click="sortBy('std_religion')"><i class="fa fa-dashboard"></i>&nbsp;<b>{{"Religion"|translate}}</b><span class="sortorder" ng-show="propertyName === 'std_religion'" ng-class="{reverse: reverse}"></span></th>
                                                      
                                                </tr>
                                                </thead>
                                            <thead ng-if="colsvis">
                                    <tr style="background-color:#edefef">
                                        <th style="text-align:left"><b>{{"Sr No"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Enroll No"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Pupil Name"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Date of Birth"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Father Name"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Father Contact"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Mother Name"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Mother Contact"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Nationality"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Religion"|translate}}</b></th>
                                    </tr>
                                </thead>
                                            <tbody align="center">
                                                <tr ng-repeat="r in filteredTodos|orderBy:colname:reverse|filter:searchText">
                                                    <td style="text-align:left">{{$index+1}}</td>
                                                    <td style="text-align:left">{{r.sims_student_enroll_number}}</td>
                                                    <td style="text-align:left">{{r.student_name}}</td>
                                                    <td style="width:87px" >{{r.sims_student_dob}}</td>
                                                    <td style="text-align:left">{{r.father_name}}</td>
                                                    <td style="text-align:left">{{r.sims_parent_father_mobile}}</td>
                                                    <td style="text-align:left">{{r.mother_name}}</td>
                                                    <td style="text-align:left">{{r.sims_parent_mother_mobile}}</td>
                                                    <td style="text-align:left">{{r.nationality_name}}</td>
                                                    <td style="text-align:left">{{r.std_religion}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>   
                        </div>
                                 <div class="row">
                        <div class="col-md-12" ng-show="pager">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>
                        </div>
                    </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</body>
</html>
<!--<div class="col-md-12" id="subform">-->

<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/plugins/fileSaver.js"></script>
<script src="assets/js/jszip.js"></script>
<script src="assets/js/xlsx.js"></script>
<script src="assets/js/xlsx-reader.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>



