﻿<style>
    .sortorder:after {
        content: '\25b2';
    }

    .sortorder.reverse:after {
        content: '\25bc';
    }

    .paddingcode {
        background-color: white;
        margin-left: 7px;
        margin-right: 7px;
        ;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3>{{ "Consistancy Check" | translate }}<span class="semi-bold"><!--{{studentName}}--></span></h3>
                
            </div>
            <!--<div class="grid-body no-border">-->
            <div class="paddingcode grid-body no-border" style="background-color:white;">
                <div ng-show="display">
                    <!--<form name="myForm" novalidate ng-submit="test()">-->
                    <form name="Myform" ng-submit="Save(Myform.$valid)" novalidate="novalidate">
                        <div class="row" ng-show="notshow">
                            <div class="col-xs-4">
                                <div class="well form-group">
                                    <div class="form-group">
                                        <label>Current Page:</label>
                                        <input placeholder="page"
                                               class="form-control"
                                               ng-model="currentPage"
                                               ng-init="currentPage = 1" />
                                    </div>
                                    <div class="form-group">
                                        <label>Page Size:</label>
                                        <input placeholder="Page Size"
                                               class="form-control"
                                               ng-model="numPerPage" />
                                    </div>
                                    <div class="form-group">
                                        <label>Total Items:</label>
                                        <input placeholder="Total"
                                               class="form-control"
                                               ng-model="pagersize" />
                                    </div>
                                    <hr />
                                    <div class="form-group">
                                        <label>Dots Display:</label>
                                        <input placeholder="..."
                                               class="form-control"
                                               maxlength="3"
                                               ng-model="dots"
                                               ng-init="dots = '...'" />
                                    </div>

                                    <hr />
                                    <div class="form-group">
                                        <label>UL Class:</label>
                                        <input placeholder="pagination"
                                               class="form-control"
                                               maxlength="100"
                                               ng-model="ulClass" />
                                    </div>
                                    <div class="form-group">
                                        <label>Active Class:</label>
                                        <input placeholder="active"
                                               class="form-control"
                                               maxlength="100"
                                               ng-model="activeClass"
                                               ng-init="activeClass = 'active'" />
                                    </div>
                                    <div class="form-group">
                                        <label>Disabled Class:</label>
                                        <input placeholder="disabled"
                                               class="form-control"
                                               maxlength="100"
                                               ng-model="disabledClass"
                                               ng-init="disabledClass = 'disabled'" />
                                    </div>
                                    <br />
                                    <table class="table">

                                        <tr>
                                            <td>
                                                <label>Show Prev Next:</label>
                                            </td>
                                            <td>
                                                <input type="checkbox"
                                                       ng-model="showPrevNext"
                                                       ng-init="showPrevNext = true" />
                                                {{showPrevNext}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Show First Last:</label>
                                            </td>
                                            <td>
                                                <input type="checkbox"
                                                       ng-model="showFirstLast"
                                                       ng-init="showFirstLast = true" />
                                                {{showPrevNext}}
                                            </td>
                                        </tr>
                                    </table>
                                    <hr />
                                    <span class="btn btn-default" onclick="location.reload()">
                                        <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                                    </span>
                                    <span class="btn btn-success" ng-click="currentPage = 0">
                                        Apply Settings
                                    </span>
                                    <br />
                                    <br />
                                </div>
                            </div>
                        </div>


                        <!--<div class="raw">

                        <div  class="paddingcode grid-body no-border">-->

                        <div class="col-md-12">

                            <!--<div class="col-md-3" ng-class="{'has-error': !Myform.firstnm.$valid && (Myform.firstnm.$touched || Myform.$submitted) }">
                                <label >{{"Fee Code"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" class="k-textbox input-sm full-width" id="Text2" name="firstnm" ng-model="edt.sims_fee_code" required>
                            <div class="error-container"
                                         ng-show="Myform.firstnm.$dirty && Myform.firstnm.$invalid || Myform.$submitted">
                                        <small class="error"
                                               ng-show="Myform.firstnm.$error.required">
                                            This Field is required.
                                        </small>


                                    </div>
                            </div>-->

                            <div class="col-md-3">
                                <label><i class="fa fa-align-justify"></i>&nbsp;{{"Script ID"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" class="k-textbox input-sm full-width" id="Text3" name="id" ng-model="edt.sims_scriptid" ng-disabled="sims_scriptid" required>
                                <div class="error-container"ng-show="Myform.id.$dirty && Myform.id.$invalid || Myform.$submitted">
                                    <small class="error"
                                           ng-show="Myform.id.$error.required">
                                        This Field is required.
                                    </small>


                                </div>
                            </div>

                            <div class="col-md-3">
                                <label><i class="fa fa-align-justify"></i>&nbsp;{{"Alert Name"| translate }} </label>
                                <input type="text" class="k-textbox input-sm full-width" id="Text4" name="alertn" ng-model="edt.sims_alert_name" >
                                <!--<div class="error-container"
                                     ng-show="Myform.desc.$dirty && Myform.desc.$invalid || Myform.$submitted">
                                    <small class="error"
                                           ng-show="Myform.desc.$error.required">
                                        This Field is required.
                                    </small>


                                </div>-->
                            </div>

                            <div class="col-md-3">
                                <label><i class="fa fa-align-justify"></i>&nbsp;{{"Alert Description"| translate }}</label>
                                <input type="text" class="k-textbox input-sm full-width" id="Text5" name="desc" ng-model="edt.sims_alert_desc">
                                <!--<div class="error-container"
                                     ng-show="Myform.desc.$dirty && Myform.desc.$invalid || Myform.$submitted">
                                    <small class="error"
                                           ng-show="Myform.desc.$error.required">
                                        This Field is required.
                                    </small>


                                </div>-->
                            </div>

                            <div class="col-md-3">
                                <label><i class="fa fa-align-justify"></i>&nbsp;{{"Script Name"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" class="k-textbox input-sm full-width" id="Text4" name="desc" ng-model="edt.sims_scriptname">
                                <!--<div class="error-container"ng-show="Myform.desc.$dirty && Myform.desc.$invalid || Myform.$submitted">
                                    <small class="error" ng-show="Myform.desc.$error.required">
                                        This Field is required.
                                    </small>


                                </div>-->
                            </div>


                        </div>


                        <div class="col-md-12">

                            <div class="col-md-3">
                                
                                        <label class="form-label"><i class="fa fa-calendar"></i>&nbsp;{{"Start Date" | translate }}<span class="asterisk" style="color: red">*</span></label>
                                   
                                    
                                        <div class="col-md-3 no-padding" style="width:300px !important;min-height:29px !important">
                                            <input type="text" id="dp_stdate" placeholder="Select Date" name="dp_stdate" class="k-textbox full-width input-sm" ng-model="edt.sims_startdate" required>

                                </div>
                            </div>

                            <div class="col-md-3">
                                
                                        <label class="form-label-sm"><i class="fa fa-clock-o"></i>&nbsp;{{ "Alert Time" | translate }}<span class="asterisk" style="color: red">*</span></label>
                                    
                                        <div class="input-group transparent clockpicker col-md-12" name="etime">
                                            <input type="text" class="full-width" placeholder="Please Enter" ng-model="edt.sims_alert_time" style="min-height: 29px !important ;width:270px !important" >
                                            <span class="input-group-addon ">
                                                <i class="fa fa-clock-o"></i>
                                            </span>
                                        </div>
                                        <div class="error-container"ng-show="Myform.etime.$dirty && Myform.etime.$invalid || Myform.$submitted">
                                            <small class="error" ng-show="Myform.etime.$error.required">
                                                This Field is required.
                                            </small>
                                         </div>
                                        </div>

                            <div class="col-md-3">
                                <label><i class="fa fa-spinner"></i>&nbsp;{{"Alert Frequency"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <select id="cmb_staff_type" name="cmb_staff_type" data-role="dropdownlist"  class="form-control input-sm full-width" ng-model="edt.sims_alert_frequncy" ng-options="freq.sims_appl_parameter  as freq.sims_appl_form_field_value1 for freq in frequency" ></select> 
                               
                                     <!--<option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                 <option value="5">5</option>-->
                                    <!--</select>-->
                                <div class="error-container"ng-show="Myform.cmb_staff_type.$dirty && Myform.cmb_staff_type.$invalid || Myform.$submitted">

                                    <small class="error" ng-show="Myform.cmb_staff_type.$error.required">
                                          
                                        This Field is required.
                                    </small>


                                </div>

                                </div>
                           

                            <div class="col-md-3">
                                <label><i class="fa fa-spinner"></i>&nbsp;{{"Alert Frequency Interval (min.)"| translate }} </label>
                                <input type="text" class="k-textbox input-sm full-width" id="Text9" name="inter" ng-model="edt.sims_alert_frequncy_time" ng-pattern="/^[0-9]{1,20}$/" >
                                <div class="col-md-12">
                                    <div class="error-container" ng-show="Myform.inter.$dirty && Myform.inter.$invalid || Myform.$submitted">
                                        <small class="help-block" ng-show="Myform.inter.$error.pattern && (!Myform.$pristine && (Myform.$submitted ||Myform.inter.$touched))">
                                            {{"Enter Only Digit" | translate }}
                                        </small>
                                    </div>
                                </div>
                                <!--<div class="error-container"
                                     ng-show="Myform.desc.$dirty && Myform.desc.$invalid || Myform.$submitted">
                                    <small class="error"
                                           ng-show="Myform.desc.$error.required">
                                        This Field is required.
                                    </small>


                                </div>-->
                            </div>
                            </div>


                        <div class="col-md-12">

                            <div class="col-md-3">
                                <label><i class="fa fa-spinner"></i> &nbsp;{{"Alert Day"| translate }} </label>
                                <input type="text" class="k-textbox input-sm full-width" id="Text9" name="day" ng-model="edt.sims_alertdays" ng-pattern="/^[0-9]{1,20}$/">
                                <div class="col-md-12">
                                    <div class="error-container" ng-show="Myform.day.$dirty && Myform.desc.$invalid || Myform.$submitted">
                                        <small class="help-block" ng-show="Myform.day.$error.pattern && (!Myform.$pristine && (Myform.$submitted ||Myform.day.$touched))">
                                            {{"Enter Only Digit" | translate }}
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                               <label class="form-label"><i class="fa fa-calendar"></i>&nbsp;{{ "Next Running Date" | translate }}<span class="asterisk" style="color: red">*</span></label>
                                  
                                   
                                        <div class="col-md-4 no-padding" style="width:300px !important">
                                            <input type="text" id="dp_stdate" placeholder="Select Next Date" name="dp_stdate" class="k-textbox full-width input-sm" ng-model="edt.sims_nextdate">

                                        </div>
                                 </div>

                            <div class="col-md-3">
                                <label><i class="fa fa-align-justify"></i>&nbsp;{{"Alert Parameter"| translate }} </label>
                                <input type="text" class="k-textbox input-sm full-width" id="Text8" name="desc" ng-model="edt.sims_control_field" >
                                <!--<div class="error-container"
                                     ng-show="Myform.desc.$dirty && Myform.desc.$invalid || Myform.$submitted">
                                    <small class="error"
                                           ng-show="Myform.desc.$error.required">
                                        This Field is required.
                                    </small>


                                </div>-->
                            </div>

                            <div class="col-md-3">
                                <label><i class="fa fa-align-justify"></i>&nbsp;{{"Alert Due day(Days)"| translate }} </label>
                                <input type="text" class="k-textbox input-sm full-width" id="Text8" name="duedays" ng-model="edt.sims_alert_due_days" ng-pattern="/^[0-9]{1,20}$/">
                                <div class="col-md-12">
                                    <div class="error-container" ng-show="Myform.duedays.$dirty && Myform.duedays.$invalid || Myform.$submitted">
                                        <small class="help-block" ng-show="Myform.duedays.$error.pattern && (!Myform.$pristine && (Myform.$submitted ||Myform.duedays.$touched))">
                                            {{"Enter Only Digit" | translate }}
                                        </small>
                                    </div>
                                </div>
                            </div>
                            </div>

                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label id="Label13" for="txt_full_name" class="form-label"><i class="fa fa-bookmark "></i>&nbsp;{{"Status"| translate }}</label>

                                <div class="checkbox check-success">
                                    <input id="checkbox3" type="checkbox" ng-model="edt.sims_status" checked>
                                    <label for="checkbox3"></label>

                                </div>
                                <!--<div class="error-container" ng-show="Myform.checkbox3.$dirty && Myform.checkbox3.$invalid || Myform.$submitted">
                                    <small class="error"
                                           ng-show="Myform.checkbox3.$error.required">
                                        This Field is required.
                                    </small>


                                </div>-->

                            </div>

                            </div>



                            <div class="col-md-12">


                                <div class="pull-right">
                                    <button class="btn btn-primary btn-cons btn-small" type="submit" ng-show="save1">{{ "Save" | translate }}</button>
                                    <button class="btn btn-primary btn-cons btn-small" type="submit" ng-show="update1">{{ "Update" | translate }}</button>
                                    <button class="btn btn-danger btn-cons btn-small" type="button" ng-click="cancel()">{{ "Cancel" | translate }}</button>
                                </div>


                            </div>
                            <!--<div class="col-md-12">
            <div class="form-actions">
                <div class="pull-right">
                    <button class="btn btn-primary btn-cons btn-small" type="submit" ng-show="save1">{{ "Save" | translate }}</button>
                    <button class="btn btn-primary btn-cons btn-small" type="submit" ng-show="update1">{{ "Update" | translate }}</button>
                    <button class="btn btn-danger btn-cons btn-small" type="button" ng-click="cancel()">{{ "Cancel" | translate }}</button>
                </div>
            </div>
        </div>-->
                            <!--</div>
                   </div>-->
</form>
                </div>


                <div ng-show="grid">
                    <div class="row form-row">
                        <div class="col-md-6">
                            <div class="pull-left">
                                <select id="Select1" style="width: 65px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                    <option value="*" class="form-control input-sm">
                                        All
                                    </option>
                                    <!--<option value="15" class="form-control input-sm">
                                        15
                                    </option>-->

                                    <option value="10" class="form-control input-sm">
                                        10
                                    </option>

                                    <option value="20" class="form-control input-sm">
                                        20
                                    </option>
                                </select>
                            </div>
                            &nbsp;
                            <button class="btn btn-success btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{ "New" | translate }}</button>
                            &nbsp;
                            <button class="btn btn-danger btn-small" type="button" ng-click="Delete()"><span class="semi-bold"></span>{{ "Delete" | translate }}</button>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" class="k-textbox input-sm full-width" aria-controls="example" ng-model="searchText" placeholder="Script ID/Script Name" tabindex="1" autofocus="autofocus" ng-change="search()">
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <div class="row">
                            <!--<div class="col-md-12">-->
                            <!--  <table class="table table-hover table-striped  no-more-tables">-->
                            <table class="table table-hover table-bordered table-condensed" id="fixtable" style="margin-top:0px;">
                                <thead>
                                    <tr style="background-color: #e9e4e4">
                                        <th class="small-cell v-align-middle" style="z-index: 999">
                                            <div class="checkbox check-success">
                                                <input type="checkbox" name="check" value="1" id="mainchk" ng-click="CheckAllChecked();">
                                                <label for="mainchk"></label>
                                            </div>
                                        </th>
                                       <th class="semi-bold" ng-click="sortBy('sims_consistancy_script_id')">
                                            <i class="fa fa-align-justify"></i>&nbsp;<b>{{"Script ID"| translate }}</b>
                                            <span class="sortorder" ng-show="propertyName === 'sims_consistancy_script_id'" ng-class="{reverse: reverse}"></span>
                                        </th>
                                        <th class="semi-bold" ng-click="sortBy('sims_consistancy_script_name')">
                                            <i class="fa fa-align-justify"></i>&nbsp;<b>{{"Script Name"| translate }}</b>
                                            <span class="sortorder" ng-show="propertyName === 'sims_consistancy_script_name'" ng-class="{reverse: reverse}"></span>
                                        </th>
                                        <th class="semi-bold" ng-click="sortBy('sims_consistancy_start_date')">
                                            <i class="fa fa-calendar"></i>&nbsp;<b>{{"Start Date"| translate }}</b>
                                            <span class="sortorder" ng-show="propertyName === 'sims_consistancy_start_date'" ng-class="{reverse: reverse}"></span>
                                        </th>
                                        <th class="semi-bold" ng-click="sortBy('sims_consistancy_next_date')">
                                            <i class="fa fa-calendar"></i>&nbsp;<b>{{"Next Running Date"| translate }}</b>
                                            <span class="sortorder" ng-show="propertyName === 'sims_consistancy_next_date'" ng-class="{reverse: reverse}"></span>
                                        </th>
                                        <th class="semi-bold" ng-click="sortBy('sims_consistancy_alert_time')">
                                            <i class="fa fa-clock-o "></i>&nbsp;<b>{{"Alert Time"| translate }}</b>
                                            <span class="sortorder" ng-show="propertyName === 'sims_consistancy_alert_time'" ng-class="{reverse: reverse}"></span>
                                        </th>
                                        <th class="semi-bold" ng-click="sortBy('sims_consistancy_alert_frequency')">
                                            <i class="fa fa-spinner"></i>&nbsp;<b>{{"Alert Frequency"| translate }}</b>
                                            <span class="sortorder" ng-show="propertyName === 'sims_consistancy_alert_frequency'" ng-class="{reverse: reverse}"></span>
                                        </th>
                                        <th class="semi-bold" ng-click="sortBy('sims_consistancy_status')">
                                            <i class="fa fa-bookmark"></i>&nbsp;<b>{{"status"| translate }}</b>
                                            <span class="sortorder" ng-show="propertyName === 'sims_consistancy_status'" ng-class="{reverse: reverse}"></span>
                                        </th>

                                        <th class="small-cell v-align-middle"><b><i class="fa fa-cogs"></i></b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="obj in filteredTodos | orderBy:propertyName:reverse" ng-class="row1">
                                        <td>
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" name="check" value="1" id="{{obj.sims_scriptid+$index}}" ng-click="checkonebyonedelete()">
                                                <label for="{{obj.sims_scriptid+$index}}">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div>{{obj.sims_scriptid}}</div>
                                        </td>
                                        <td>
                                            <div>{{obj.sims_scriptname}}</div>
                                        </td>
                                        <td>
                                            <div>{{obj.sims_startdate}}</div>
                                        </td>
                                        <td>
                                            <div>{{obj.sims_nextdate}}</div>
                                        </td>
                                        <td>
                                            <div>{{obj.sims_alert_time}}</div>
                                        </td>
                                        <td>
                                            <div>{{obj.sims_alert_frequncy}}</div>
                                            </td>
                                        <td>
                                            
                                            <span class="label label-success" ng-if="obj.sims_status == true">{{"Active"|translate}}</span>
                                            <span ng-if="obj.sims_status==false" class="label label-important">{{"In Active"|translate}}</span>
                                        </td>
                                         <td>
                                            <a href=""><i class="fa fa-edit" ng-click="edit(obj)"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--</div>-->
                        </div>
                        <div class="row" ng-show="pager">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                            ng-click="index(currentPage)">
                                    </paging>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="assets/js/calender-datepicker-id.js"></script>
<script src="assets/js/tableHeadFixer.js"></script>
