﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Document Master"| translate }}</span> </h3>
            </div>

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input
                                placeholder="page"
                                class="form-control"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input
                                placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input
                                placeholder="Total"
                                class="form-control"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input
                                placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input
                                placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input
                                placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input
                                placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>


            <div class="grid-title no-border">
            </div>
            <div class="grid-body no-border" ng-show="table">
                <div class="row form-row">

                    <div class="col-md-6">
                        <select id="Select1" style="width: 60px" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="5" class=" form-control input-sm">5
                            </option>

                            <option value="10" class=" form-control input-sm">10
                            </option>

                            <option value="15" class=" form-control input-sm">15
                            </option>
                        </select>
                        &nbsp;
                            <button class="btn btn-success" style="height: 35px" type="button" id="designew" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate }}</button>
                        &nbsp;
                        <button class="btn btn-white" style="height: 35px" type="button" ng-click="OkDelete()"><span class="semi-bold"></span>{{"Delete"| translate }}</button>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                                <label>
                                    {{"Search"| translate }}:&nbsp;
                               <!--<input type="text" aria-controls="example" ng-model="search.$" class="input-medium"></label>-->
                                    <input aria-controls="example" ng-model="searchText" class="input-medium" placeholder="Search" type="search" ng-change="search()"></label>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div style="width: 100%; height: 270px; overflow-x: auto; overflow-y: auto">
                        <table class="table table-bordered table-hover table-condensed" id="fixTable">
                            <thead style="background-color: white">
                                <tr style="background-color: #edefef">
                                    <th class="small-cell v-align-middle" style="z-index: 1">
                                        <div class="checkbox check-success">
                                            <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>
                                    <th class="semi-bold" ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                        <label><b><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class=" fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"DOCUMENT CURRICULAM"| translate }}</a></b></label></th>

                                    <th class="semi-bold">
                                        <label><b>{{"DOCUMENT MODULE"| translate }}</b></label></th>
                                    <th class="semi-bold">
                                        <label><b>{{"DOCUMENT CODE"| translate }}</b></label></th>
                                    <th class="semi-bold">
                                        <label><b>{{"DOCUMENT DESCRIPTION"| translate }}</b></label></th>
                                    <th class="semi-bold">
                                        <label><b>{{"DOCUMENT CREATED DATE"| translate }}</b></label></th>
                                    <th class="semi-bold">
                                        <label><b>{{"DOCUMENT CREATED BY"| translate }}</b></label></th>
                                    <th class="semi-bold">
                                        <label><b>{{"DOCUMENT STATUS"| translate }}</b></label></th>
                                    <th class="semi-bold">
                                        <label><i class="fa fa-cogs"></i></label>
                                    </th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="j in filteredTodos | orderBy:orderByField:reverseSort" ng-class="row1">
                                    <td>
                                        <div class="row-fluid">
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input id="{{$index}}" type="checkbox" value="1" ng-click="checkonebyonedelete()">
                                                <label for="{{$index}}"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <label id="lbl">{{j.sims_doc_cur_name}}</label></td>
                                    <td>
                                        <label id="Label5">{{j.sims_doc_mod_name}}</label></td>
                                    <td>
                                        <label id="Label3">{{j.sims_doc_code}}</label></td>
                                    <td>
                                        <label id="Label9">{{j.sims_doc_desc}}</label></td>
                                    <td>
                                        <label id="Label8">{{j.sims_doc_create_date}}</label></td>
                                    <td>
                                        <label id="Label10">{{j.sims_doc_created_by}}</label></td>
                                    <td class="v-align-middle">
                                        <span class="label label-success" ng-if="j.sims_doc_status==true">Active</span>
                                        <span class="label label-important" ng-if="j.sims_doc_status==false">In active</span>
                                    </td>

                                    <td><a href=""><i class="fa fa-edit" ng-click="edit(j)"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                            ng-click="index(currentPage)">
                         </paging>
                    </div>


                </div>

            </div>



            <div class="grid-body no-border" ng-show="display">
                <form name="Myform" ng-submit="savedata(Myform.$valid)" novalidate="novalidate">

                    <div class="row">

                        <div class="col-md-12 form-group">


                            <div class="col-md-4" ng-class="{'has-error': !Myform.sims_cur_name.$valid && (Myform.sims_cur_name.$touched || Myform.$submitted) }">
                                <label id="Label1" for="txt_Nationality_Code" class="form-label">{{"Curriculam Name"| translate }}</label>

                                <select id="Select2" name="sims_cur_name" class="form-control" ng-disabled="curdisabled" ng-model="temp.sims_cur_code" required>
                                    <option value="" selected disabled>Please Select</option>
                                    <option ng-repeat="cur in curriculum" value="{{cur.sims_cur_code}}">{{cur.sims_cur_short_name_en}}</option>
                                </select>

                                <p class="help-block" ng-show="Myform.sims_cur_name.$error.required &&  (Myform.sims_cur_name.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>


                            <div class="col-md-4" ng-class="{'has-error': !Myform.mod_name.$valid && (Myform.mod_name.$touched || Myform.$submitted) }">
                                <label id="Label4" for="txt_Nationality_Code" class="form-label">{{"Document Module"| translate }}</label>

                                <select id="cmb_security_q" name="mod_name" class="form-control" ng-disabled="docdisabled" ng-model="temp.sims_doc_mod_code" required>
                                    <option value="" selected disabled>Please Select</option>
                                    <option ng-repeat="mod in module" value="{{mod.sims_doc_mod_code}}">{{mod.sims_doc_mod_name}}</option>
                                </select>

                                <p class="help-block" ng-show="Myform.mod_name.$error.required &&  (Myform.mod_name.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>
                            <div class="col-md-4">
                                <label id="Label7" for="txt_Country_Code" class="form-label">{{"Document Description"| translate }}</label>
                                <input type="text" name="desti_desc" class="form-control input-sm" ng-model="temp.sims_doc_desc" />
                            </div>


                        </div>

                        <div class="col-md-12 form-group">

                            <div class="col-md-4" ng-class="{'has-error': !Myform.createdate.$valid && (Myform.createdate.$touched || Myform.$submitted) }">
                                <label>{{"Create Date"| translate }}</label>
                                <div style="width: auto">
                                    <input type="text" id="cd" name="createdate" class="k-textbox" ng-change="showdate(temp.sims_doc_create_date,'sims_doc_create_date')" ng-model="temp.sims_doc_create_date" required />

                                </div>
                            </div>

                            <div class="col-md-4" ng-class="{'has-error': !Myform.createdby.$valid && (Myform.createdby.$touched || Myform.$submitted) }">
                                <label id="Label2" for="txt_Country_Code" class="form-label">{{"Created By"| translate }}</label>
                                <input type="text" name="createdby" class="form-control input-sm" ng-readonly="readonly" ng-model="temp.sims_doc_created_by" />

                                <p class="help-block" ng-show="Myform.createdby.$error.required &&  (Myform.createdby.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>

                            <div class="col-md-4">
                                <label id="Label13" for="txt_full_name" class="form-label">{{"Document Status"| translate }}</label>
                                <div class="row-fluid">
                                    <div class="checkbox check-success">
                                        <input id="checkbox3" type="checkbox" ng-model="temp.sims_doc_status">
                                        <label for="checkbox3"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-actions">
                        <div class="pull-right">
                            <button type="submit" id="desigsub" ng-show="save_btn" class="btn btn-primary btn-cons">{{"Save"| translate }}</button>
                            <button type="button" ng-show="Update_btn" ng-click="update();" class="btn btn-primary btn-cons">{{"Update"| translate }}</button>
                            <button type="button" class="btn btn-white btn-cons" ng-click="Cancel();">{{"Cancel"| translate }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Div1">
    <div class="modal-dialog" id="Div3" style="width: 300px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="semi-bold pull-left">Message</h5>
                <br />
            </div>
            <div class="modal-body">
                <br />
                <label>{{msg1.strMessage}}</label>
                <br />
            </div>
            <div class="modal-footer" style="height: 60px">
                <button type="button" class="btn btn-primary btn-cons" data-dismiss="modal" ng-click="maindata();">Ok</button>
            </div>
        </div>
    </div>
</div>
<script src="assets/js/tableHeadFixer.js"></script>

