﻿<style>
    ul {
        -webkit-padding-start: 0px;
    }

    .div_th {
        white-space: nowrap;
    }

    .wysihtml5-sandbox {
        height: 200px !important;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="grid-body no-border">
                <div class="row" ng-show="notshow">
                    <div class="col-xs-4">
                        <div class="well" class="form-group">
                            <div class="form-group">
                                <label>Current Page:</label>
                                <input placeholder="page"
                                    class="form-control"
                                    ng-model="currentPage"
                                    ng-init="currentPage = 1" />
                            </div>
                            <div class="form-group">
                                <label>Page Size:</label>
                                <input placeholder="Page Size"
                                    class="form-control"
                                    ng-model="numPerPage" />
                            </div>
                            <div class="form-group">
                                <label>Total Items:</label>
                                <input placeholder="Total"
                                    class="form-control"
                                    ng-model="pagersize" />
                            </div>
                            <hr />
                            <div class="form-group">
                                <label>Dots Display:</label>
                                <input placeholder="..."
                                    class="form-control"
                                    maxlength="3"
                                    ng-model="dots"
                                    ng-init="dots = '...'" />
                            </div>

                            <hr />
                            <div class="form-group">
                                <label>UL Class:</label>
                                <input placeholder="pagination"
                                    class="form-control"
                                    maxlength="100"
                                    ng-model="ulClass" />
                            </div>
                            <div class="form-group">
                                <label>Active Class:</label>
                                <input placeholder="active"
                                    class="form-control"
                                    maxlength="100"
                                    ng-model="activeClass"
                                    ng-init="activeClass = 'active'" />
                            </div>
                            <div class="form-group">
                                <label>Disabled Class:</label>
                                <input placeholder="disabled"
                                    class="form-control"
                                    maxlength="100"
                                    ng-model="disabledClass"
                                    ng-init="disabledClass = 'disabled'" />
                            </div>
                            <br />
                            <table class="table">

                                <tr>
                                    <td>
                                        <label>Show Prev Next:</label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                            ng-model="showPrevNext"
                                            ng-init="showPrevNext = true" />
                                        {{showPrevNext}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Show First Last:</label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                            ng-model="showFirstLast"
                                            ng-init="showFirstLast = true" />
                                        {{showPrevNext}}
                                    </td>
                                </tr>
                            </table>
                            <hr />
                            <span class="btn btn-default" onclick="location.reload()">
                                <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                            </span>
                            <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                            </span>
                            <br />
                            <br />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="row form-row">
                           
                            <div class="col-md-2">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label>{{"Interview Date"|translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <select id="cmb_registration" name="Grade" class="form-control select2-sm" ng-model="edt.sims_assesment_date"
                                            required  "
                                            ng-options="item.sims_assesment_date as item.sims_assesment_date for item in assesmentDate_data">
                                            <option value="">Please Select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-1">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label>&nbsp;</label>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="btn btn-success  btn-small" type="button" ng-click="getAssessmentTeacherEntryData()">{{ "Search" | translate }}</button>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-1">
                                <label>&nbsp;</label>
                                <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                                    <option value="{{x.val}}" class="form-control input-sm" ng-repeat="x in countData">{{x.data}}
                                    </option>
                                </select>
                            </div>




                        </div>
                    </div>
                </div>

         <!--Grid table-->
                <div ng-show="grid">
                <div class="row margin-top">
                    <div class="col-md-12">

                        <span class="col-md-3" style="height: 4px; color: #FF6600; background-color: #FF6600;"/>
                        <span class="col-md-3" style="height: 4px; color: #fdd01c; background-color: #fdd01c;"/>
                        <span class="col-md-3" style="height: 4px; color: #f35958; background-color: #f35958;"/>
                        <span class="col-md-3" style="height: 4px; color: #0082d4; background-color: #0082d4;"/>
                    </div>
                </div> 
                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div class="row margin-top" id="div712">
                        <div class="col-md-12">
                        <table class="table table-hover table-bordered table-condensed" id="fixedtable">
                            <thead>
                                <tr bgcolor="#E0E0E">
                                    <!--<th class="small-cell v-align-middle" style="z-index:999">
                                        <div class="checkbox check-success">
                                            <input type="checkbox" name="check" value="1" id="mainchk" ng-click="check();"><!----><!--ng-click="CheckAllChecked();"-->
                                          <!--  <label for="mainchk"></label>
                                        </div>
                                    </th>-->
                                     
                                    
                                    <th class="div_th" ng-click="sortBy('em_applicant_id')"><b>{{ "Applicant ID" | translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'em_applicant_id'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th class="div_th" ng-click="sortBy('emplyee_name')"><b>{{ "Interviewee Name" | translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'emplyee_name'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th class="div_th" ng-click="sortBy('em_application_date')"><b>{{ "Application Date" | translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'em_application_date'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th class="div_th" ng-click="sortBy('em_interview_date')"><b>{{ "Interview Date" | translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'em_interview_date'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th class="div_th" ng-click="sortBy('emplyee_name')"><b>{{ "Interviewer Name" | translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'emplyee_name'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                     <th>{{ "Remark" | translate }}
                                        
                                    </th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="dashboard in filteredTodos | orderBy:propertyName:reverse"  ng-class="row1">
                                   <!-- <td>
                                        <div class="checkbox check-success" style="height: 20px">
                                            <input type="checkbox" name="check" value="1" id="{{dashboard.em_applicant_id}}" ng-model="dashboard.em_applicant_id" ng-click="check1(dashboard);">
                                            <label for="{{dashboard.em_applicant_id}}">
                                            </label>
                                        </div>
                                    </td>-->
                                     
                                    <td class="div_th">
                                        <div>{{dashboard.em_applicant_id}}</div>
                                    </td>
                                   
                                    <td class="div_th">
                                        <div>{{dashboard.emplyee_name}}</div>
                                    </td>
                                     <td class="div_th">
                                        <div>{{dashboard.em_application_date}}</div>
                                    </td>
                                     
                                      <td class="div_th">
                                        <div>{{dashboard.em_interview_date}}</div>
                                    </td>
                                    <td class="div_th">
                                        <div>{{dashboard.interviwer_name}}</div>
                                    </td>
                                    <td class="div_th">
                                        <div><input type="text" ng-model="dashboard.em_interview_remark"></div>
                                    </td>
                                     
                                </tr>
                            </tbody>
                        </table>
                    </div>
                        </div>
                     <div class="row" ng-show="pager">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>
                            </div>
                      </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                 <button class="btn btn-success btn-cons btn-small" type="submit" ng-click="save()">{{ "Save" | translate }}</button>
                                 <button class="btn btn-danger btn-cons btn-small" type="button" ng-click="cancel()">{{ "Reset" | translate }}</button>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

            </div>
        </div>
    </div>

</div>

<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>

