﻿<style>
    .ms-choice {
        height:26px;
    }
    </style>
<!DOCTYPE html>
<html>
<body>
    <div class="grid-simple">
        <div class="content">
            <div class="row" >
                <div class="col-md-12 bluegrid" style="padding-left:14px !important;padding-right:14px !important;background:#d8ebf4 !important;">
                    <!--<div class="grid simple">-->
                        <div class="" style="padding-bottom:0px !important;padding-top: 4px !important">

                           <!-- <div class="row" style="background:#d8ebf4 !important;padding-bottom:12px !important;padding-top: 6px !important">-->

                                <div class="col-md-1">
                                    <label id="Label" for="txt_Nationality_Code" class="form-label">
                                        <i class="fa fa-book"></i>
                                        {{"Curriculum"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="temp.sims_cur_code" ng-selected="" name="sims_cur_code" ng-change="getAcademic_year(temp.sims_cur_code)"
                                            ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in cur_data" required></select>
                                </div>

                                <div class="col-md-1">
                                    <label id="Label1" for="txt_Nationality_Code" class="form-label">
                                        <i class="fa fa-calendar"></i>
                                        {{"Year"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="Select1" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="temp.sims_academic_year" ng-selected="" name="sims_academic_year" ng-change="getGrade(temp.sims_cur_code,temp.sims_academic_year)"
                                            ng-options="acad.sims_academic_year as acad.sims_academic_year_desc for acad in acad_data" required></select>
                                </div>


                                <div class="col-md-2"style="margin-top: 1px;">
                                    <label id="Label2" for="txt_Nationality_Code" class="form-label">
                                        <i class="fa fa-dashboard"></i>
                                        {{"Board Code"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="board" data-role="dropdownlist"   class="form-control input-sm full-width"
                                            ng-model="temp.board_code"  name="board_as"  ng-change="getExam(temp.board_code)"
                                            ng-options="acad.sims_board_code as acad.sims_board_short_name for acad in BoardCode" required></select>
                                </div>

                                 <div class="col-md-2"style="margin-top: 2px;">
                                    <label id="Label3" for="txt_Nationality_Code" class="form-label">
                                        <i class="fa fa-dashboard"></i>
                                        {{"Exam Code"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="exam" data-role="dropdownlist"  class="form-control input-sm full-width"
                                            ng-model="temp.exam_code"  name="exam_as" 
                                            ng-options="acad.sims_board_exam_code as acad.sims_board_exam_short_name for acad in ExamCode" required></select>
                                </div>


                                  <div class="col-md-2" style="margin-top: 2px;">
                                    <label id="Label4" for="txt_Nationality_Code" class="form-label">
                                        <i class="fa fa-dashboard"></i>
                                        {{"Teacher Code"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="teacher"  multiple="multiple" class="full-width" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="temp.teacher_code"  name="teacher_as" 
                                            ng-options="acad.sims_class_teacher_code as acad.sims_teacher_name for acad in TeacherCode" required></select>
                                </div>








            


            <div class="col-md-4" style="margin-top: 26px;">
                <div class="pull-right" >
                    
                    <button type="button" class="btn btn-primary btn-cons" ng-click="getdetails()">{{"Preview"|translate}}</button>
                   <button class="btn btn-rounded btn-warning btn-cons" type="button" ng-click="reset_data()"><i class="icon-ok"></i>{{"Reset"|translate}}</button>

                    <button type="button" class="btn btn-primary btn-cons" style="background-color:#1f3853;" ng-click="exportData()">{{"Excel"|translate}}</button>
                    <button type="button" class="btn btn-primary btn-cons" style="background-color:#f35958;" ng-click="print()">{{"Print"|translate}}</button>
                </div>
            </div>



                       
                   

                            <!--</div>--><!---- row -->
                           
                           



                        </div>
                    <!--</div>-->
                </div>
            </div>

            <div ng-show="detailsField">

                <div class="content" style="margin-left:-9px;margin-right:-9px;">
                    <div class="grid-title no-border" style="background-color:  white; margin-top:-6px">
                        <div class="col-md-12">
                            <div class="row margin-top" style="margin-top:0px;">
                                <div class="col-md-6" style=" padding-left: 6px;">
                                    <select id=" select1" style="width: 60px;" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                        <option value="30" class=" form-control input-sm">
                                            30
                                        </option>

                                        <option value="60" class=" form-control input-sm">
                                            60
                                        </option>

                                        <option value="All" class=" form-control input-sm">
                                            All
                                        </option>
                                    </select>
                                </div>
                           
                         
                                <div class="col-md-6" ng-show="true">
                                   <!-- <label>&nbsp;</label>-->
                                    <div class="pull-right">
                                        <span class="k-textbox k-space-right">
                                            <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm" autofocus="autofocus" tabindex="1" ng-change="searched()"><!--</label>-->
                                            <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                        </span>
                                    </div>
                                </div>
                             </div>
                        </div>


                        <div id="example_wrapper" class="dataTables_wrapper form-inline">
                            <div class="row margin-top">
                                <div class="col-md-12">

                                    <div class="col-md-12" id="rpt_data1">
                                        <table class="table table-striped table-flip-scroll cf">
                                            <thead>
                                                <tr style=" text-align:left" background-color #edefef"  >
                                                    <th style="width:4%;"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Sr No"|translate}}</b></th>
                                                    <th ng-click="sort('grade_name')"><b><i class=" fa fa-sitemap  "></i>&nbsp;{{"Grade"|translate}}</b></th>
                                                    <th ng-click="sort('section_name')"><b><i class="fa fa-align-justify"></i>&nbsp;{{"Section"|translate}}</b></th>
                                                   <th ng-click="sort('sims_class_teacher_code')"><b><i class="fa fa-dashboard"></i>&nbsp;{{"Employee Id"|translate}}</b></th>
                                                     <th ng-click="sort('sims_teacher_name')"><b><i class=" fa fa-user "></i>&nbsp;{{"Teacher Name"|translate}}</b></th>
                                                    <th ng-click="sort('sims_board_exam_enroll_number')"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Student Enrollment"|translate}}</b></th>
                                                    <th ng-click="sort('student_name')"><b><i class=" fa fa-user "></i>&nbsp;{{"Student Name"|translate}}</b></th>
                                                    </tr>
                                            </thead>

                                            <tbody align="left">
                                                <tr ng-repeat="r in filteredTodos|orderBy:colname:reverse|filter:searchText">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{r.grade_name}}</td>
                                                    <td>{{r.section_name}}</td>
                                                    <td>{{r.sims_class_teacher_code}}</td>
                                                    <td>{{r.sims_teacher_name}}</td>
                                                    <td>{{r.sims_board_exam_enroll_number}}</td>
                                                    <td>{{r.student_name}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                    <div ng-show="hideprintpdf">
                                        <div class="col-md-12" id="pdf_print">
                                            <table class="table table-bordered text-center">
                                                <thead>
                                                    <tr style=" text-align:left" background-color #edefef">
                                                        <th><b>{{"Sr No"|translate}}</b></th>
                                                    <th ng-click="sort('grade_name')"><b>{{"Grade"|translate}}</b></th>
                                                    <th ng-click="sort('section_name')"><b>{{"Section"|translate}}</b></th>
                                                   <th ng-click="sort('sims_class_teacher_code')"><b>{{"Employee Id"|translate}}</b></th>
                                                     <th ng-click="sort('sims_teacher_name')"><b>{{"Teacher Name"|translate}}</b></th>
                                                    <th ng-click="sort('sims_board_exam_enroll_number')"><b>{{"Student Enrollment"|translate}}</b></th>
                                                    <th ng-click="sort('student_name')"><b>{{"Student Name"|translate}}</b></th>
                                                    </tr>

                                                </thead>

                                                <tbody align="center">
                                                     <tr ng-repeat="r in filteredTodos|orderBy:colname:reverse|filter:searchText">
                                                    <td>{{$index+1}}</td>
                                                     <td>{{r.grade_name}}</td>
                                                    <td>{{r.section_name}}</td>
                                                    <td>{{r.sims_class_teacher_code}}</td>
                                                    <td>{{r.sims_teacher_name}}</td>
                                                    <td>{{r.sims_board_exam_enroll_number}}</td>
                                                    <td>{{r.student_name}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="row" ng-show="pager">
                                        <div class="col-md-12">
                                            <div class="pull-right">
                                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                                        ng-click="index(currentPage)">
                                                </paging>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</body>
</html>
<!--<div class="col-md-12" id="subform">-->

<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/plugins/fileSaver.js"></script>
<script src="assets/js/jszip.js"></script>
<script src="assets/js/xlsx.js"></script>
<script src="assets/js/xlsx-reader.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>



