﻿<!DOCTYPE html>
<html>
<head>
    <style>
        th, td {

            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
            text-align: left;
        }
    </style>
</head>
<body>

    <div class="grid simple">
        <div class="grid-body no-border">
            <div class="row" ng-show="display">

                <div class="row" ng-show="notshow">
                    <div class="col-xs-4">
                        <div class="well" class="form-group">
                            <div class="form-group">
                                <label>Current Page:</label>
                                <input placeholder="page"
                                       class="form-control"
                                       ng-model="currentPage"
                                       ng-init="currentPage = 1" />
                            </div>
                            <div class="form-group">
                                <label>Page Size:</label>
                                <input placeholder="Page Size"
                                       class="form-control"
                                       ng-model="numPerPage" />
                            </div>
                            <div class="form-group">
                                <label>Total Items:</label>
                                <input placeholder="Total"
                                       class="form-control"
                                       ng-model="pagersize" />
                            </div>
                            <hr />
                            <div class="form-group">
                                <label>Dots Display:</label>
                                <input placeholder="..."
                                       class="form-control"
                                       maxlength="3"
                                       ng-model="dots"
                                       ng-init="dots = '...'" />
                            </div>

                            <hr />
                            <div class="form-group">
                                <label>UL Class:</label>
                                <input placeholder="pagination"
                                       class="form-control"
                                       maxlength="100"
                                       ng-model="ulClass" />
                            </div>
                            <div class="form-group">
                                <label>Active Class:</label>
                                <input placeholder="active"
                                       class="form-control"
                                       maxlength="100"
                                       ng-model="activeClass"
                                       ng-init="activeClass = 'active'" />
                            </div>
                            <div class="form-group">
                                <label>Disabled Class:</label>
                                <input placeholder="disabled"
                                       class="form-control"
                                       maxlength="100"
                                       ng-model="disabledClass"
                                       ng-init="disabledClass = 'disabled'" />
                            </div>
                            <br />
                            <table class="table">

                                <tr>
                                    <td>
                                        <label>Show Prev Next:</label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               ng-model="showPrevNext"
                                               ng-init="showPrevNext = true" />
                                        {{showPrevNext}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Show First Last:</label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               ng-model="showFirstLast"
                                               ng-init="showFirstLast = true" />
                                        {{showPrevNext}}
                                    </td>
                                </tr>
                            </table>
                            <hr />
                            <span class="btn btn-default" onclick="location.reload()">
                                <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                            </span>
                            <span class="btn btn-success" ng-click="currentPage = 0">
                                Apply Settings
                            </span>
                            <br />
                            <br />
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <label id="Label" for="txt_Nationality_Code" class="form-label">{{"Curriculum"|translate}}<span style="color:red">*</span></label>
                    <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width"
                            ng-model="temp.sims_cur_code" ng-selected="" name="sims_cur_code" ng-change="getAccYear(temp.sims_cur_code)"
                            ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in sims_cur" required></select>
                </div>

                <div class="col-md-2">
                    <label id="Label" for="txt_Nationality_Code" class="form-label">{{"Academic Year"|translate}}<span style="color:red">*</span></label>

                    <select id="Select4" data-role="dropdownlist" class="form-control input-sm full-width" ng-change="getAllGrades(temp.sims_cur_code,temp.sims_academic_year)"
                            ng-model="temp.sims_academic_year" ng-selected="" name="sims_academic_year"
                            ng-options="cur.sims_academic_year as cur.sims_academic_year_desc for cur in academic_year" required></select>
                </div>

                <div class="col-md-2">
                     <label><i class="fa fa-sitemap"></i>&nbsp;{{"Grade"|translate}}<span style="color: red; font-size: 15px">*</span></label>
                    <select id="grade_box" data-role="dropdownlist" multiple="multiple"
                            ng-model="temp.sims_grade_code" name="sims_grade_code" ng-change="getSectionFromGrade(temp.sims_cur_code,temp.sims_academic_year,temp.sims_grade_code)">
                        <option ng-repeat="cur in grade_code" value="{{cur.sims_grade_code}} ">{{cur.sims_grade_name}}</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <label id="Label" for="txt_Nationality_Code" class="form-label">{{"Section Name"|translate}}<span style="color:red">*</span></label>
                    <select id="section_box" data-role="dropdownlist" multiple="multiple"
                            ng-model="temp.sims_section_code" name="sims_section_code">
                        <option ng-repeat="cur in section_code" value="{{cur.sims_section_code}} ">{{cur.sims_section_name}}</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <label class="ng-binding"><i class="fa fa-calendar"></i>&nbsp;{{" Date"|translate}} </label>
                      <span class="k-widget k-datepicker k-header k-textbox input-sm full-width k-input" style="width: 100%;">
                        <span class="k-picker-wrap k-state-default">
                            <input type="text" id="from_date" name="start_date"
                                   class="k-textbox input-sm full-width k-input ng-pristine ng-valid ng-touched" ng-model="mom_start_date "
                                   ng-change="" data-role="datepicker" role="combobox" aria-expanded="false" peaceholer="Select Date"
                                   aria-owns="start_date_dateview" aria-disabled="false" aria-readonly="false" style="width: 100%;"
                                   aria-activedescendant="8a8a008b-1b3c-42a7-be94-431c355f22e6_cell_selected">
                            <span unselectable="on" class="k-select" role="button" aria-controls="start_date_dateview">
                                <span unselectable="on" class="k-icon k-i-calendar">select</span>
                            </span>
                        </span>
                    </span>
                 </div>
                    
                <div class="col-md-2">
                    <div class="pull-right">
                        <label>&nbsp;</label>
                        <button type="button" class="btn btn-primary btn-cons" ng-click="daily_report()">{{"Submit"|translate}}</button>
                        <button class="btn btn-rounded btn-warning btn-cons" type="button" ng-click="reset_data()"><i class="icon-ok"></i>{{"Reset"|translate}}</button>


                    </div>
                </div>

              
               

                <div class="col-md-12">
                    <div class="pull-left">
                        <select id="Select1" style="width: 65px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="15" class="form-control input-sm">
                                15
                            </option>

                            <option value="50" class="form-control input-sm">
                                50
                            </option>

                            <option value="100" class="form-control input-sm">
                                100
                            </option>

                            <option value="All" class="form-control input-sm">
                                All
                            </option>

                            <!-- <option value="{{x.val}}" class=" form-control input-sm" ng-repeat="x in countData">
                            {{x.data}}
                        </option>-->

                        </select>

                    </div>

                    <div class="pull-right">
                     
                        <span class="k-textbox k-space-right">
                            <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                            <a href="#" class="k-icon k-i-search">&nbsp;</a>
                        </span>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-12" id="rpt_data">
                        <table class="table table-bordered text-center">
                            <thead>
                                <tr>
                                    <th><b>{{"Sr No"|translate}}</b></th>
                                    <th><i class="fa fa-user"></i>&nbsp; <b>{{"Enroll No"|translate}}</b></th>
                                    <th><b> <i class="fa fa-user"></i>&nbsp; {{"Student Name"|translate}}</b></th>
                                    <th><b><i class="fa fa-sitemap">&nbsp;</i> {{"Grade"|translate}}</b></th>
                                    <th><b> {{"Section"|translate}}</b></th>
                                    <th> <b>{{"Reporting"|translate}}</b></th>

                                </tr>
                            </thead>
                            <tbody align="center">
                                <tr ng-repeat="r in filteredTodos|orderBy:colname:reverse|filter:searchText">
                                    <td>{{$index+1}}</td>
                                    <td>{{r.sims_enroll_number}}</td>
                                    <td>{{r.student_name}}</td>
                                    <td>{{r.sims_grade_name_en}}</td>
                                    <td>{{r.sims_section_name_en}}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-cons" ng-click="add_details(r)">{{"Add"|translate}}</button> &nbsp;&nbsp;
                                        <button type="button" class="btn btn-primary btn-cons"  ng-click="getReport(r)">{{"View"|translate}}</button>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right" ng-show="pager">
                            <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                    scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                    paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                    ng-click="index(currentPage)">
                            </paging>
                        </div>
                    </div>
                </div>

            </div>
            </div>

            <!--changes has to be done-->

            <div class="row" ng-show="add_btn">
                <div class="content">
                <div class="modal-content1 modal-content" uib-modal-transclude="" style="background-color: lightgrey;padding-left: 26px;padding-right: 26px;padding-top: 26px;">

                    <form name="MyForm" ng-submit="save_btn_function(MyForm.$valid)" novalidate="novalidate">
                       
                            <!--student detalis-->
                        
                            <!--copy-->       
                        <!--Personal Information-->               
                        
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="grid simple">
                                        <div class="grid-title no-border">
                                            <h4 style="padding-left:  20px;padding-top:  10px;"><b>Personal  </b><span class="semi-bold">Details</span></h4>
                                        </div>
                                        <div class="grid-body no-border">
                                            <div class="form-group row">
                                                <div>
                                                    <div class="col-md-4">
                                                        <div class="row">

                                                            <label id="Label" for="txt_Nationality_Code" class="form-label"><i class="fa fa-user"></i>&nbsp;<b>{{"Student Name"|translate}} :</b></label>
                                                            {{edt.student_name}}


                                                        </div>
                                                        <div class="row">

                                                            <label id="Label" for="txt_Nationality_Code" class="form-label"><i class="fa fa-user"></i>&nbsp;<b>{{"Enroll Number"|translate}} :</b></label>
                                                            {{edt.sims_enroll_number}}

                                                        </div>
                                                        <div class="row">

                                                            <label id="Label" for="txt_Nationality_Code" class="form-label"><i class="fa fa-sitemap">&nbsp;</i><b>{{"Grade Name"|translate}} :</b></label>
                                                            {{edt.sims_grade_name_en}}

                                                        </div>
                                                        <div class="row">

                                                            <label id="Label" for="txt_Nationality_Code" class="form-label"><i class="fa fa-sitemap">&nbsp;</i><b>{{"Section Name"|translate}} :</b></label>
                                                            {{edt.sims_section_name_en}}

                                                        </div>

                                                       
                                                    </div>
                                                    <div class="col-md-4>">                                                     
                                                                                                                   
                                                            <div class="col-md-4">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <label id="Label" for="txt_Nationality_Code" class="form-label"><i class="fa fa-user"></i> &nbsp;<b>{{"Parent Name"|translate}} :</b></label>
                                                                        {{edt.parent_name}}

                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <label id="Label" for="txt_Nationality_Code" class="form-label"><i class="fa fa-calendar"></i>&nbsp;<b>{{"Date"|translate}} :</b></label> {{mom_start_date}}
                                                                            <!--<input type="text" readonly="readonly" class="k-textbox input-sm full-width" ng-model="mom_start_date" />-->
                                                                        </div>
                                                                        
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        
                                                        <img id="img_s" ng-src="{{edt.sims_student_img}}"  src="{{edt.sims_student_img}}"   style="border: 2px Solid #CCCCCC; border-radius: 5px; width: 135px; height: 130px" />


                                                    </div>
                                    </div>
                                </div>
                            </div>
</div>
                                </div>
                             <!--copy-->

                        <!--Daily Information--> 

                        <div class="row">
                            <div class="col-md-12">
                                <div class="grid simple">
                                    <div class="grid-title no-border">
                                        <h4 style="padding-left:  20px;padding-top:  10px;"><b>Student  </b><span class="semi-bold">Activity Feeling</span></h4>
                                    </div>
                                    <div class="grid-body no-border">
                                        <div class="form-group row">
                                            <div class="col_md-12">
                                            <div class="col-md-4">
                                                <label class="form-label">{{"Feeling"|translate}}</br></label>
                                                <select id="Select5" data-role="dropdownlist" class="form-control input-sm full-width"
                                                        ng-model="edt.sims_student_feeling" ng-selected="" name="feeling_code"
                                                        ng-options="cur.feeling_code as cur.feeling_desc for cur in sims_feelings"></select>
                                            </div>
                                     
                                           
                                                </div>

                                           

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-12">
                                <div class="grid simple">
                                    <div class="grid-title no-border">
                                        <h4 style="padding-left:  20px;padding-top:  10px;"><b>Student  </b><span class="semi-bold">Activity</span></h4>
                                    </div>
                                    <div class="grid-body no-border">
                                        <div class="form-group row">
                                            <div class="col_md-12">
                                               
                                                <div class="col-md-4">
                                                    <label class="form-label">{{"Activity"|translate}}</b></label>
                                                    <select id="Select6" data-role="dropdownlist" class="form-control input-sm full-width"
                                                            ng-model="edt.sims_student_activity" ng-selected="" name="activity_code"
                                                            ng-options="cur.activity_code as cur.activity_desc for cur in sims_activity"></select>
                                                </div>

                                            </div>

                                        

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="row">
                            <div class="col-md-12">
                                <div class="grid simple">
                                    <div class="grid-title no-border">
                                        <h4 style="padding-left:  20px;padding-top:  10px;"><b>Nappy  </b><span class="semi-bold">Change</span></h4>
                                    </div>
                                    <div class="grid-body no-border">
                                        <div class="form-group row">
                                            

                                            <div class="col-md-12" style="padding-top:  30px;">

                                                <div class="col-md-12">
                                                    
                                                    <div class="row">

                                                        <div class="col-md-12">
                                                            <table>
                                                                <tr>

                                                                    <th style="font-weight:normal">{{"Type"}}</th>
                                                                    <th style="font-weight:normal">{{"Frequency"}}</th>
                                                                    <th style="font-weight:normal">{{"Remark"}}</th>
                                                                </tr>
                                                                <tr>

                                                                    <th style="font-weight:normal ">{{"Dry"}}</th>
                                                                    <td >
                                                                        <select id="dry_frq" data-role="dropdownlist" class="form-control input-sm full-width"
                                                                                ng-model="edt.sims_student_nappy_changing_dry_frequency" ng-selected="" name="frequency_code" ng-change="checkNappyChange(edt.sims_student_nappy_changing_dry_frequency,'Dry');"
                                                                                ng-options="cur.frequency_code as cur.frequency_desc for cur in sims_freq"></select>

                                                                    </td>
                                                                    <td >
                                                                        <input type="text" placeholder="" name="name1" class="k-textbox input-sm full-width" id="txt_model_year14" ng-model="edt.sims_student_nappy_changing_dry_Remark" ng-maxlength="50" />
                                                                        <p style="color:red" class="help-block" ng-show="MyForm.name1.$error.maxlength">
                                                                            <b> Length should be 50 characters</b>
                                                                        </p>

                                                                    </td>
                                                                </tr>
                                                                <tr>

                                                                    <th style="font-weight:normal">{{"Wet"}}</th>
                                                                    <th>
                                                                        <select id="wet_frq" data-role="dropdownlist" class="form-control input-sm full-width"
                                                                                ng-model="edt.sims_student_nappy_changing_wet_frequency" ng-selected="" name="frequency_code" ng-change="checkNappyChange1(edt.sims_student_nappy_changing_wet_frequency,'Wet');"
                                                                                ng-options="cur.frequency_code as cur.frequency_desc for cur in sims_freq"></select>
                                                                    </th>

                                                                    <th>
                                                                        <input type="text" placeholder="" name="name2" class="k-textbox input-sm full-width" id="txt_model_year1" ng-model="edt.sims_student_nappy_changing_wet_Remark" ng-maxlength="50" />
                                                                        <p style="color:red" class="help-block" ng-show="MyForm.name2.$error.maxlength">
                                                                            Length should be 50 characters
                                                                        </p>
                                                                    </th>
                                                                </tr>
                                                                <tr>

                                                                    <th style="font-weight:normal">{{"BM"}}</th>
                                                                    <th >
                                                                        <select id="bm_frq" data-role="dropdownlist" class="form-control input-sm full-width"
                                                                                ng-model="edt.sims_student_nappy_changing_bm_frequency" ng-selected="" name="frequency_code" ng-change="checkNappyChange2(edt.sims_student_nappy_changing_bm_frequency,'BM');"
                                                                                ng-options="cur.frequency_code as cur.frequency_desc for cur in sims_freq"></select>
                                                                    </th>
                                                                    <th >
                                                                        <input type="text" placeholder="" name="name3" class="k-textbox input-sm full-width" id="txt_model_year2" ng-model="edt.sims_student_nappy_changing_bm_Remark" ng-maxlength="50" />
                                                                        <p style="color:red" class="help-block" ng-show="MyForm.name3.$error.maxlength">
                                                                            Length should be 50 characters
                                                                        </p>
                                                                    </th>
                                                                </tr>
                                                            </table>
                                                        </div>

                                                    </div>

                                                </div>

                                             

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="grid simple">
                                    <div class="grid-title no-border">
                                        <h4 style="padding-left:  20px;padding-top:  10px;"><b>Toilet  </b><span class="semi-bold">Training</span></h4>
                                    </div>
                                    <div class="grid-body no-border">
                                        <div class="form-group row">


                                            <div class="col-md-12" style="padding-top:  30px;">



                                                <div class="col-md-12">

                                                  
                                                    <div class="row">

                                                        <div class="col-md-12">
                                                            <table>
                                                                <tr>

                                                                    <th style="font-weight:normal">{{"Type"}}</th>
                                                                    <th style="font-weight:normal">{{"Frequency"}}</th>
                                                                    <th style="font-weight:normal">{{"Remark"}}</th>
                                                                </tr>
                                                                <tr>

                                                                    <th style="font-weight:normal; width:12%" >{{"Number 1"}}</th>
                                                                    <td width="25%">
                                                                        <select id="n1_frq" data-role="dropdownlist" class="form-control input-sm full-width"
                                                                                ng-model="edt.sims_student_toilet_training_Number1_frequency" ng-selected="" name="frequency_code" ng-change="checkTiletTraining(edt.sims_student_toilet_training_Number1_frequency,'Number1');"
                                                                                ng-options="cur.frequency_code as cur.frequency_desc for cur in sims_freq"></select>

                                                                    </td>
                                                                    <td width="60%">
                                                                        <input type="text" placeholder="" name="name4" class="k-textbox input-sm full-width" id="txt_model_year3" ng-model="edt.sims_student_toilet_training_Number1_Remark" ng-maxlength="50" />
                                                                        <p style="color:red" class="help-block" ng-show="MyForm.name4.$error.maxlength">
                                                                            <b>Length should be 50 characters</b>
                                                                        </p>


                                                                    </td>
                                                                </tr>
                                                                <tr>

                                                                    <th style="font-weight:normal; width:12%">{{"Number 2"}}</th>
                                                                    <th width="25%">
                                                                        <select id="n2_frq" data-role="dropdownlist" class="form-control input-sm full-width"
                                                                                ng-model="edt.sims_student_toilet_training_Number2_frequency" ng-selected="" name="frequency_code" ng-change="checkTiletTraining1(edt.sims_student_toilet_training_Number2_frequency,'Number2');"
                                                                                ng-options="cur.frequency_code as cur.frequency_desc for cur in sims_freq"></select>
                                                                    </th>
                                                                    <th width="60%">
                                                                        <input type="text" placeholder="" name="name5" class="k-textbox input-sm full-width" id="txt_model_year4" ng-model="edt.sims_student_toilet_training_Number2_Remark" ng-maxlength="50" />
                                                                        <p style="color:red" class="help-block" ng-show="MyForm.name5.$error.maxlength">
                                                                            Length should be 50 characters
                                                                        </p>
                                                                    </th>
                                                                </tr>
                                                                <tr>

                                                                    <th style="font-weight:normal; width:12%"">{{"Asked to go"}}</th>
                                                                    <th width="25%">
                                                                        <select id="n3_frq" data-role="dropdownlist" class="form-control input-sm full-width"
                                                                                ng-model="edt.sims_student_toilet_training_Askedtogo_frequency" ng-selected="" name="frequency_code" ng-change="checkTiletTraining2(edt.sims_student_toilet_training_Askedtogo_frequency,'Number3');"
                                                                                ng-options="cur.frequency_code as cur.frequency_desc for cur in sims_freq"></select>
                                                                    </th>
                                                                    <th width="60%">
                                                                        <input type="text" placeholder="" name="name6" class="k-textbox input-sm full-width" id="txt_model_year6" ng-model="edt.sims_student_toilet_training_Askedtogo_Remark" ng-maxlength="50" />
                                                                        <p style="color:red" class="help-block" ng-show="MyForm.name6.$error.maxlength">
                                                                            Length should be 50 characters
                                                                        </p>
                                                                    </th>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                             

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="grid simple">
                                    <div class="grid-title no-border">
                                        <h4 style="padding-left:  20px;padding-top:  10px;"><b>Fluid  </b><span class="semi-bold">Intake</span></h4>
                                    </div>
                                    <div class="grid-body no-border">
                                        <div class="form-group row">


                                            <div class="col-md-12" style="padding-top:  30px;">

                                               

                                                <div class="col-md-12">

                                                   

                                                    <div class="row">

                                                        <div class="col-md-12">
                                                            <table>
                                                                <tr>

                                                                    <th style="font-weight:normal">{{"Type"}}</th>
                                                                    <th style="font-weight:normal">{{"Quantity"}}</th>
                                                                    <th style="font-weight:normal">{{"Frequency"}}</th>
                                                                    <th style="font-weight:normal">{{"Remark"}}</th>
                                                                </tr>
                                                                <tr>

                                                                    <th style="font-weight:normal">{{"Milk"}}</th>
                                                                    <td width="25%">
                                                                        <select id="milk_frq" data-role="dropdownlist" class="form-control input-sm full-width"
                                                                                ng-model="edt.sims_student_fluid_intake_Milk_qty" ng-selected="" name="frequency_code" ng-change="checkFluidIntake(edt.sims_student_fluid_intake_Milk_qty,'Milk');"
                                                                                ng-options="cur.quantity_code as cur.quantity_desc for cur in sims_qty"></select>

                                                                    </td>

                                                                    <th width="25%">
                                                                        <select id="milk_frq1" data-role="dropdownlist" class="form-control input-sm full-width"
                                                                                ng-model="edt.sims_student_fluid_intake_Milk_frequency" ng-selected="" name="frequency_code" ng-change="checkFluidIntake1(edt.sims_student_fluid_intake_Milk_frequency,'Water');"
                                                                                ng-options="cur.frequency_code as cur.frequency_desc for cur in sims_freq"></select>
                                                                    </th>

                                                                    <td width="50%">
                                                                        <input type="text" placeholder="" name="name7" class="k-textbox input-sm full-width" id="txt_model_year5" ng-model="edt.sims_student_fluid_intake_Milk_remark" ng-maxlength="50" />
                                                                        <p style="color:red" class="help-block" ng-show="MyForm.name7.$error.maxlength">
                                                                            <b> Length should be 50 characters </b>
                                                                        </p>

                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <th style="font-weight:normal">{{"Water"}}</th>
                                                                    <th width="25%">
                                                                        <select id="water_frq" data-role="dropdownlist" class="form-control input-sm full-width"
                                                                                ng-model="edt.sims_student_fluid_intake_Water_qty" ng-selected="" name="frequency_code" ng-change="checkFluidIntake1(edt.sims_student_fluid_intake_Water_qty,'Water');"
                                                                                ng-options="cur.quantity_code as cur.quantity_desc for cur in sims_qty"></select>
                                                                    </th>
                                                                    <th width="25%">
                                                                        <select id="water_frq1" data-role="dropdownlist" class="form-control input-sm full-width"
                                                                                ng-model="edt.sims_student_fluid_intake_water_frequency" ng-selected="" name="frequency_code" ng-change="checkFluidIntake1(edt.sims_student_fluid_intake_water_frequency,'Water');"
                                                                                ng-options="cur.frequency_code as cur.frequency_desc for cur in sims_freq"></select>
                                                                    </th>

                                                                    <th width="50%">
                                                                        <input type="text" placeholder="" name="name8" class="k-textbox input-sm full-width" id="txt_model_year7" ng-model="edt.sims_student_fluid_intake_Water_remark" ng-maxlength="50" />
                                                                        <p style="color:red" class="help-block" ng-show="MyForm.name8.$error.maxlength">
                                                                            Length should be 50 characters
                                                                        </p>
                                                                    </th>
                                                                </tr>

                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                            

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="grid simple">
                                    <div class="grid-title no-border">
                                        <h4 style="padding-left:  20px;padding-top:  10px;"><b>Food </b><span class="semi-bold">Activity</span></h4>
                                    </div>
                                    <div class="grid-body no-border">
                                        <div class="form-group row">


                                            <div class="col-md-12" style="padding-top:  30px;">

                                             

                                                <div class="col-md-12">
                                                    <div class="row">
                                                    
                                                        <div class="col-md-12">
                                                            <table>
                                                                <tr>

                                                                    <th style="font-weight:normal">{{"Type"}}</b></th>
                                                                    <th style="font-weight:normal">{{"Quantity"}}</b></th>
                                                                    <th style="font-weight:normal">{{"Remark"}}</b></th>
                                                                </tr>
                                                                <tr>

                                                                    <th style="font-weight:normal;width:11%">{{"Morning snack"}}</th>
                                                                    <td width="30%">
                                                                        <select id="Select7" data-role="dropdownlist" class="form-control input-sm full-width"
                                                                                ng-model="edt.sims_student_food_Morning_snack_quantity" ng-selected="" name="quantity_code" ng-change="checkFood(edt.sims_student_food_Morning_snack_quantity,'Morningsnack');"
                                                                                ng-options="cur.quantity_code as cur.quantity_desc for cur in sims_qty"></select>

                                                                    </td>
                                                                    <td width="60%">
                                                                        <input type="text" placeholder="" name="name9" class="k-textbox input-sm full-width" id="txt_model_year8" ng-model="edt.sims_student_food_Morning_snack_remark" ng-maxlength="50" />
                                                                        <p style="color:red" class="help-block" ng-show="MyForm.name9.$error.maxlength">
                                                                            <b>Length should be 50 characters</b>
                                                                        </p>

                                                                    </td>
                                                                </tr>
                                                                <tr>

                                                                    <th style="font-weight:normal;width:11%"">{{"Lunch"}}</th>
                                                                    <th width="30%">
                                                                        <select id="Select8" data-role="dropdownlist" class="form-control input-sm full-width"
                                                                                ng-model="edt.sims_student_food_Lunch_quantity" ng-selected="" name="frequency_code" ng-change="checkFood1(edt.sims_student_food_Lunch_quantity,'Lunch');"
                                                                                ng-options="cur.quantity_code as cur.quantity_desc for cur in sims_qty"></select>
                                                                    </th>
                                                                    <th width="60%">
                                                                        <input type="text" placeholder="" name="name20" class="k-textbox input-sm full-width" id="txt_model_year9" ng-model="edt.sims_student_food_Lunch_remark" ng-maxlength="50" />
                                                                        <p style="color:red" class="help-block" ng-show="MyForm.name20.$error.maxlength">
                                                                            Length should be 50 characters
                                                                        </p>
                                                                    </th>
                                                                </tr>
                                                                <tr>

                                                                    <th style="font-weight:normal;width:11%"">{{"Afternoon snack"}}</th>
                                                                    <th width="30%">
                                                                        <select id="Select9" data-role="dropdownlist" class="form-control input-sm full-width"
                                                                                ng-model="edt.sims_student_food_Afternoon_snack_quantity" ng-selected="" name="frequency_code" ng-change="checkFood2(edt.sims_student_food_Afternoon_snack_quantity,'Afternoonsnac');"
                                                                                ng-options="cur.quantity_code as cur.quantity_desc for cur in sims_qty"></select>
                                                                    </th>
                                                                    <th width="60%">
                                                                        <input type="text" placeholder="" name="name10" class="k-textbox input-sm full-width" id="txt_model_year10" ng-model="edt.sims_student_food_Afternoon_snack_remark" ng-maxlength="50" />
                                                                        <p style="color:red" class="help-block" ng-show="MyForm.name10.$error.maxlength">
                                                                            Length should be 50 characters
                                                                        </p>
                                                                    </th>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>      




                        <div class="row">
                            <div class="col-md-12">
                                <div class="grid simple">
                                    <div class="grid-title no-border">
                                        <h4 style="padding-left:  20px;padding-top:  10px;"><b>Other  </b><span class="semi-bold">Information</span></h4>
                                    </div>
                                    <div class="grid-body no-border">
                                        <div class="form-group row">
                                            <div class="col_md-12">
                                                <div class="col-md-6">
                                                    <div class="col-md-3">
                                                        <lable class="form-label"><i class="glyphicon glyphicon-time"></i>&nbsp;{{"Sleep Time Start"|translate}}</lable>

                                                        <div style="width:100%">
                                                            <div class="input-group clockpicker" data-placement="left" data-align="top" data-autoclose="true">
                                                                <input type="text" class="form-control" value="07:30" ng-model="edt.sims_student_slep_time_am">
                                                                <span class="input-group-addon">
                                                                    <span class="glyphicon glyphicon-time"></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <lable class="form-label"><i class="glyphicon glyphicon-time"></i>&nbsp;{{"Sleep Time End"|translate}}</lable>
                                                        <div style="width:100%">
                                                            <div class="input-group clockpicker" data-placement="left" data-align="top" data-autoclose="true">
                                                                <input type="text" class="form-control" value="07:30" ng-model="edt.sims_student_slep_time_pm">
                                                                <span class="input-group-addon">
                                                                    <span class="glyphicon glyphicon-time"></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="col-md-3">
                                                        <lable class="form-label">{{"Any Incidence"|translate}}</lable>
                                                        <input type="checkbox" id="chkmarks" value="1" ng-model="edt.sims_student_any_incidence" />
                                                        <label for="chkmarks"></label>
                                                    </div>


                                                    <div class="col-md-3" ng-show="edt.sims_student_any_incidence == true">
                                                        <lable class="form-label"><b>{{""|translate}}</b></lable>
                                                        <input type="text" placeholder="Reamrk" name="name11" class="k-textbox input-sm full-width" id="txt_model_year11" ng-model="edt.sims_student_incidence_remark" ng-maxlength="50" />
                                                        <p style="color:red" class="help-block" ng-show="MyForm.name11.$error.maxlength">
                                                            <b>Length should be 50 characters</b>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                         
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="grid simple">
                                    <div class="grid-title no-border">
                                        <h4 style="padding-left:  20px;padding-top:  10px;"><b>Please  </b><span class="semi-bold">Provide</span></h4>
                                    </div>
                                    <div class="grid-body no-border">
                                        <div class="form-group row">
                                            

                                            <div class="col-md-12" style="padding-top:  30px;">
                                               

                                                <div class="col-md-6">
                                                    <div class="row">


                                                        <div class="col-md-12">
                                                            <table>
                                                                <tr>

                                                                    <th style="font-weight:normal">{{"Type"}}</b></th>
                                                                    <th style="font-weight:normal">{{"Quantity"}}</b></th>
                                                                    <th style="font-weight:normal">{{"Remark"}}</b></th>
                                                                </tr>
                                                                <tr>
                                                                    <th style="font-weight:normal">{{"Diapers/Pull-Ups"}}</th>
                                                                    <td width="25%">
                                                                        <input type="text" placeholder="" name="name901" class="k-textbox input-sm full-width" id="txt_model_year800"
                                                                               ng-model="edt.sims_student_please_provide_diaper_qty" ng-maxlength="50" ng-change="provide_type(edt.sims_student_please_provide_diaper_qty,'Diapers');" />
                                                                        <p style="color:red" class="help-block" ng-show="MyForm.name901.$error.maxlength">
                                                                            <b>Length should be 50 characters</b>
                                                                        </p>

                                                                    </td>

                                                                    <td width="50%">
                                                                        <input type="text" placeholder="" name="name6565" class="k-textbox input-sm full-width" id="txt_model_year80000" ng-model="edt.sims_student_please_provide_diaper_remark" ng-maxlength="50" />
                                                                        <p style="color:red" class="help-block" ng-show="MyForm.name6565.$error.maxlength">
                                                                            <b>Length should be 50 characters</b>
                                                                        </p>

                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <th style="font-weight:normal">{{"Wet wipes"}}</th>
                                                                    <td width="25%">
                                                                        <input type="text" placeholder="" name="name902" class="k-textbox input-sm full-width" id="txt_model_year801"
                                                                               ng-model="edt.sims_student_please_provide_Wet_wipes_qty" ng-maxlength="50" ng-change="provide_type1(edt.sims_student_please_provide_Wet_wipes_qty,'Wetwipes');" />
                                                                        <p style="color:red" class="help-block" ng-show="MyForm.name902.$error.maxlength">
                                                                            <b>Length should be 50 characters</b>
                                                                        </p>

                                                                    </td>

                                                                    <td width="50%">
                                                                        <input type="text" placeholder="" name="name8787" class="k-textbox input-sm full-width" id="txt_model_year802" ng-model="edt.sims_student_please_provide_Wet_wipes_remark" ng-maxlength="50" />
                                                                        <p style="color:red" class="help-block" ng-show="MyForm.name8787.$error.maxlength">
                                                                            <b>Length should be 50 characters</b>
                                                                        </p>

                                                                    </td>
                                                                </tr>

                                                                <tr>

                                                                    <th style="font-weight:normal">{{"Formula"}}</th>
                                                                    <td width="25%">
                                                                        <input type="text" placeholder="" name="name903" class="k-textbox input-sm full-width" id="txt_model_year8015"
                                                                               ng-model="edt.sims_student_please_provide_Wet_Formula_qty" ng-maxlength="50" ng-change="provide_type2(edt.sims_student_please_provide_Wet_Formula_qty,'Formula');" />
                                                                        <p style="color:red" class="help-block" ng-show="MyForm.name903.$error.maxlength">
                                                                            <b>Length should be 50 characters</b>
                                                                        </p>

                                                                    </td>

                                                                    <td width="50%">
                                                                        <input type="text" placeholder="" name="name90000" class="k-textbox input-sm full-width" id="txt_model_year8754" ng-model="edt.sims_student_please_provide_Wet_Formula_remark" ng-maxlength="50" />
                                                                        <p style="color:red" class="help-block" ng-show="MyForm.name90000.$error.maxlength">
                                                                            <b>Length should be 50 characters</b>
                                                                        </p>

                                                                    </td>
                                                                </tr>



                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="row">


                                                        <div class="col-md-12">
                                                            <table>
                                                                <tr>

                                                                    <th style="font-weight:normal">{{"Type"}}</b></th>
                                                                    <th style="font-weight:normal">{{"Quantity"}}</b></th>
                                                                    <th style="font-weight:normal">{{"Remark"}}</b></th>
                                                                </tr>

                                                                <tr>

                                                                    <th style="font-weight:normal">{{"Clothing"}}</th>
                                                                    <td width="25%">
                                                                        <input type="text" placeholder="" name="name904" class="k-textbox input-sm full-width" id="txt_model_year4558"
                                                                               ng-model="edt.sims_student_please_provide_Wet_Clothing_qty" ng-maxlength="50" ng-change="provide_type3(edt.sims_student_please_provide_Wet_Clothing_qty,'Clothing');" />
                                                                        <p style="color:red" class="help-block" ng-show="MyForm.name904.$error.maxlength">
                                                                            <b>Length should be 50 characters</b>
                                                                        </p>

                                                                    </td>

                                                                    <td width="50%">
                                                                        <input type="text" placeholder="" name="name911" class="k-textbox input-sm full-width" id="txt_model_year4748" ng-model="edt.sims_student_please_provide_Wet_Clothing_remark" ng-maxlength="50" />
                                                                        <p style="color:red" class="help-block" ng-show="MyForm.name911.$error.maxlength">
                                                                            <b>Length should be 50 characters</b>
                                                                        </p>

                                                                    </td>
                                                                </tr>

                                                                <tr>

                                                                    <th style="font-weight:normal">{{"Others"}}</th>
                                                                    <td width="25%">
                                                                        <input type="text" placeholder="" name="name905" class="k-textbox input-sm full-width" id="txt_model_year75128"
                                                                               ng-model="edt.sims_student_please_provide_Wet_Others_qty" ng-maxlength="50" ng-change="provide_type4(edt.sims_student_please_provide_Wet_Others_qty,'Others');" />
                                                                        <p style="color:red" class="help-block" ng-show="MyForm.name905.$error.maxlength">
                                                                            <b>Length should be 50 characters</b>
                                                                        </p>

                                                                    </td>

                                                                    <td width="50%">
                                                                        <input type="text" placeholder="" name="name9" class="k-textbox input-sm full-width" id="txt_model_year0158" ng-model="edt.sims_student_please_provide_Wet_Others_remark" ng-maxlength="50" />
                                                                        <p style="color:red" class="help-block" ng-show="MyForm.name9.$error.maxlength">
                                                                            <b>Length should be 50 characters</b>
                                                                        </p>

                                                                    </td>
                                                                </tr>


                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>

                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <lable class="form-label">{{"Teacher Remark"|translate}}</lable>
                                                    <input type="text" placeholder="" name="name15" class="k-textbox input-sm full-width" id="txt_model_year12" ng-model="edt.sims_student_teacher_comment" ng-maxlength="50" />
                                                    <p style="color:red" class="help-block" ng-show="MyForm.name15.$error.maxlength">
                                                        <b>Length should be 50 characters</b>
                                                    </p>
                                                </div>

                                                <div class="col-md-6">
                                                    <lable class="form-label">{{"Parent Remark"|translate}} </lable>
                                                    <input type="text" placeholder="" name="name16" class="k-textbox input-sm full-width" id="txt_model_year12" ng-model="edt.sims_student_parent_comment" ng-maxlength="50" />
                                                    <p style="color:red" class="help-block" ng-show="MyForm.name16.$error.maxlength">
                                                        <b>Length should be 50 characters</b>
                                                    </p>
                                                </div>

                                            </div>

                                            <div class="col-md-12" style="padding-top:  32px;padding-left:  122px;">
                                                <p style="font-family: Arial; font-size: 14px; text-align: left; margin-left:750px">
                                                    <!--margin-left:900px;"-->

                                                    <button class="btn btn-primary btn-cons" type="submit" ng-show="save_btn"><i class="icon-ok"></i>{{"Save"|translate}}</button>
                                                    <button class="btn btn-primary btn-cons" type="button" ng-show="update_btn" ng-click="update(edt)"><i class="icon-ok"></i>{{"Update"|translate}}</button>
                                                    <button class="btn btn-primary btn-cons" type="button" ng-click="back_date()"><i class="icon-ok"></i>{{"Back"|translate}}</button>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    </div>
                </div>

                </div>

            <!--changes has to be done-->
           </div>

    <!--</div>-->

</body>
</html>



<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/plugins/fileSaver.js"></script>
<script src="assets/js/jszip.js"></script>
<script src="assets/js/xlsx.js"></script>
<script src="assets/js/xlsx-reader.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>


<script src="assets/js/moment.js"></script>
