﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"House"| translate }}</span>&nbsp;{{"Allocation"|translate}}&nbsp;</h3>
            </div>
                
<div class="grid-body no-border">
   <div ng-show="grid">
       
        <div class="row">
            <div class="col-md-3">
                <label class="form-label">{{ "Parent Id" | translate }} </label>
                <!--ng-class="{'has-error': !myForm.form3namefrench.$valid && (myForm.form3namefrench.$touched || myForm.$submitted) }"-->
                <input name="form3namefrench" id="parent_id" type="text" class="k-textbox" style="width: 100%;" placeholder="Please Enter" maxlength="50" ng-model="edt.sims_parent_number"><!--ng-pattern="/^[a-zA-Z0-9\s-]*$/"-->
                </div>
            
            <div class="col-md-3">
                <label class="form-label">{{ "Parent Name" | translate }} </label>
                <!--ng-class="{'has-error': !myForm.form3namefrench.$valid && (myForm.form3namefrench.$touched || myForm.$submitted) }"-->
                <input name="form3namefrench" id="parent_name" type="text" class="k-textbox" style="width: 100%;" placeholder="Please Enter" maxlength="50" ng-model="edt.parent_name"><!--ng-pattern="/^[a-zA-Z0-9\s-]*$/"-->
            </div>

            <div class="col-md-3" style="margin-right:-79px;padding-right: 80px;">
                <label id="Label1" for="txt_Nationality_Code" class="form-label">
                    <i class="fa fa-home"></i>
                    {{"House Name"|translate}}
                </label>
                <select id="Select1" data-role="dropdownlist" class="form-control input-sm full-width"
                        ng-model="temp.house_name" ng-selected="" name="house_name"
                        ng-options="edt.sims_house_code as edt.sims_house_name for edt in AllHousedata" ></select>
            </div>
        </div> 
       
       <div id="Div2" class="dataTables_wrapper form-inline">
           <div class="row">
               <div class="col-md-12">
                   <table class="table table-bordered table-condensed" id="Table1">
                       <thead style="background-color: white">
                           <tr style="background-color: #edefef">

                               <!--<th class="small-cell v-align-middle" style="z-index:999">
                                   <div class="checkbox check-success">
                                       <input type="checkbox" name="check" class="k-checkbox" value="1" id="mainchk" ng-click="CheckAllChecked();">
                                       <label for="mainchk"></label>
                                   </div>
                               </th>-->

                               <th>
                                   <label><b>{{"Student Name"| translate }}</b></label>
                               </th>
                               <th>
                                   <label><b>{{"Student ID"| translate }}</b></label>
                               </th>
                               <th>
                                   <label><b>{{"House Name"| translate }}</b></label>
                               </th>
                               </tr>
                       </thead>
                       <tbody>
                           <tr ng-repeat="j in Housedata | orderBy:orderByField:reverseSort" ng-class="row1">
                               <!--<td>
                                   <div class="checkbox check-success" style="height: 20px">
                                       <input type="checkbox" name="check" value="1" class="k-checkbox" id="{{$index+sub_grp.subject_group_code}}" ng-click="checkonebyonedelete()">
                                       <label for="{{$index+sub_grp.subject_group_code}}">
                                       </label>
                                   </div>
                               </td>-->
                               <td>
                                   <!--<label id="lbl">{{j.sims_sip_academic_year}}</label>-->
                                   <label id="lbl">{{j.student_name}}</label>
                               </td>
                               <td>
                                   <label id="Label3">{{j.sims_sibling_student_enroll_number}}</label>
                               </td>
                               <td>
                                   <label id="Label3">{{j.house_name}}</label>
                               </td>
                               
                           </tr>
                       </tbody>
                   </table>
               </div>
           </div>
           
       </div>

       <div class="row">
           <div class="col-md-12">
               <div class="form-actions">
                   <div class="pull-right">
                       
                       <!--<button class="btn btn-primary btn-small" type="submit" ng-show="save1">{{ "Save" | translate }}</button>-->
                      
                       <button class="btn btn-danger btn-small" type="button" ng-click="cancel()">{{ "Cancel" | translate }}</button>
                   </div>
               </div>
           </div>
       </div>
       </div>
    
     <div>
             <div ng-show="main">  

            <div class="row form-row">
                <div class="col-md-12" style="background:#d8ebf4 !important;padding-bottom:12px !important;padding-top: 6px !important">
                    <div class="col-md-2">
                        <label id="Label31" for="txt_Nationality_Code" class="form-label ng-binding">
                            <i class="fa fa-book"></i>&nbsp;{{"Curriculum"| translate}}<span class="asterisk" style="color: red">*</span>
                        </label>
                        <select id="Select2" data-role="dropdownlist" class="form-control input-sm full-width"
                                ng-model="edt.sims_cur_code" required
                                ng-change="getAccYear(edt.sims_cur_code)"
                                ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in curriculum">
                            <option value="">Please Select</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label id="Label32" for="txt_Nationality_Code" class="form-label ng-binding">
                            <i class="fa fa-sort-amount-desc"></i>&nbsp;{{"Academic Year" | translate}}<span class="asterisk" style="color: red">*</span>
                        </label>
                        <select id="Select1" data-role="dropdownlist" class="form-control input-sm full-width"
                                ng-model="edt.sims_academic_year" required
                                ng-change="getGrade(edt.sims_cur_code,edt.sims_academic_year);"
                                ng-options="year1.sims_academic_year as year1.sims_academic_year_desc for year1 in Acc_year">
                            <option value="">Please Select</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label><i class="fa fa-user"></i>&nbsp;{{"Parent Id/Student Id"| translate }}</label>
                        <input type="text" id="txtenrollname" ng-model="search_block" class="k-textbox input-sm full-width" />
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-primary btn-cons"style="margin-top:24px" ng-click="showdetails(edt.sims_cur_code,edt.sims_academic_year,search_block);">{{"Show"| translate }}</button>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-primary btn-small" type="button" style="margin-top:24px"ng-click="UpdateSibling()">{{ "Update" | translate }}</button>
                    </div>

                    </div>
                    <div class="col-md-12">
                        <!--<div class="pull-left">
                <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                    <option value="10" class=" form-control input-sm">
                        10
                    </option>

                    <option value="20" class=" form-control input-sm">
                        20
                    </option>

                    <option value="All" class=" form-control input-sm">
                        All
                    </option>
                </select>
                </div>-->


                        <!--<div class="col-md-3">
                            <span class="k-textbox k-space-right full-width">
                                <input type="text" aria-controls="example" ng-model="search_block" placeholder="Search by student Id/Name or Search by Parent Id/Name" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1">
                                <a href="#" class="k-icon k-i-search">&nbsp;</a>
                            </span>


                        </div>-->
                        

                    </div>
                </div>        

        <div id="Div2" class="dataTables_wrapper form-inline">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-condensed" id="Table1">
                        <thead style="background-color: white">
                            <tr style="background-color: #edefef">




                                <th>
                                    <label><b>{{"Parent ID"| translate }}</b></label>
                                </th>
                                <th style="width:16%">
                                    <label><b>{{"Parent Name"| translate }}</b></label>
                                </th>
                                <th>
                                    <label><b>{{"Student ID"| translate }}</b></label>
                                </th>
                                <th>
                                    <label><b>{{"Student Name"| translate }}</b></label>
                                </th>
                                <th>
                                    <label><b>{{"Curriculum"| translate }}</b></label>
                                </th>
                                <th>
                                    <label><b>{{"Academic Year"| translate }}</b></label>
                                </th>
                                <th style="width:7%">
                                    <label><b>{{"Grade"| translate }}</b></label>
                                </th>
                                
                                <th>
                                    <label><b>{{"House Name"| translate }}</b></label>
                                </th>


                                <th class="semi-bold">
                                    <label><i class="fa fa-cogs"></i></label>
                                </th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="j in Housedata | orderBy:orderByField:reverseSort" ng-class="row1">

                                <td>
                                    <!--<label id="lbl">{{j.sims_sip_academic_year}}</label>-->
                                    <label id="lbl">{{j.sims_parent_number}}</label>
                                </td>
                                <td>
                                    <label id="Label3">{{j.parent_name}}</label>
                                </td>
                                <td>
                                    <label id="Label6">{{j.sims_sibling_student_enroll_number}}</label>
                                </td>
                                <td>
                                    <label id="Label7">{{j.student_name}}</label>
                                </td>
                                <td>
                                    <label id="lbl">{{j.sims_cur_short_name_en}}</label>
                                </td>
                                <td>
                                    <label id="Label5">{{j.sims_academic_year}}</label>
                                </td>
                                <td>
                                    <label id="Label10">{{j.sims_grade_name_en}}</label>
                                </td>
                                <td ng-show="showhouse">
                                    <label id="Label4">{{j.house_name}}</label>
                                </td>
                                <td ng-show="showdata">
                                    <select id="Select1" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="temp.house_name" ng-selected="" name="house_name"
                                            ng-options="edt.sims_house_code as edt.sims_house_name for edt in AllHousedata" >
                                    </select>
                                </td>
                                <td style="width:13%;">
                                    <a><i class="fa fa-edit" ng-click="editdata()"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--<div class="row" ng-show="pager">
                <div class="col-md-12">
                    <div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                ng-click="index(currentPage)">
                        </paging>
                    </div>
                </div>
            </div>-->
        </div>



      
    </div>
     </div>
    </div>
            </div>
        </div>
    </div>














           




