﻿<style>
    .sortorder:after {
        content: '\25b2';
    }

    .sortorder.reverse:after {
        content: '\25bc';
    }
</style>


<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Second & Third Language Mapping"| translate }}</span></h3>
            </div>

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>


            <div class="grid-body no-border" ng-show="table">
                <div class="row">
                    <form name="Myform" ng-submit="savedata(Myform.$valid)" novalidate="novalidate">
                            
                            <div class="row">
                            <div class="col-md-2">
                                <label id="Label27" for="txt_Nationality_Code" class="form-label">{{"Curriculam"| translate }}</label>
                                <select id="Select3" data-role="dropdownlist" class="form-control input-sm"
                                        ng-model="temp.sims_cur_code" ng-selected="" name="sims_cur_name" ng-change="getAccYear(temp.sims_cur_code)"
                                        ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in curriculum" >
                                    <option value="">Please Select</option>  

                                </select>
                            </div>

                            <!--Academic Year-->
                            <div class="col-md-2">
                                <label id="Label28" for="sims_academic_year" class="form-label">{{"Academic Year"| translate }}</label>
                                <select id="sims_academic_year" data-role="dropdownlist" class="form-control input-sm"
                                        ng-model="temp.sims_academic_year" ng-selected="" name="sims_academic_year" ng-change="getGrade(temp.sims_cur_code,temp.sims_academic_year)"
                                        ng-options="ay.sims_academic_year as ay.sims_academic_year_desc for ay in Acc_year" >
                                    <option value="">Please Select</option>  
                                </select>
                            </div>

                            <div class="col-md-2">
                                <label id="Label33" for="txt_Nationality_Code" class="form-label">{{"Grade"| translate }}</label>
                                <select id="Select2"  name="sims_grade_name" data-role="dropdownlist" class="form-control input-sm"
                                        ng-model="temp.sims_grade_code" ng-change="getSection(temp.sims_cur_code,temp.sims_grade_code,temp.sims_academic_year)"
                                        ng-options="grd.sims_grade_code as grd.sims_grade_name for grd in Grade_code">
                                    <option value="">Please Select</option>  
                                </select>
                            </div>

                            <div class="col-md-2">
                                <label id="Label34" for="txt_Nationality_Code" class="form-label">{{"Section"| translate }}</label>
                                <select id="Select10" name="sims_section_name" data-role="dropdownlist" class="form-control input-sm" ng-model="temp.sims_section_code" >
                                    <option value="">Please Select</option>  
                                    <option ng-repeat="sec in Section_code" value="{{sec.sims_section_code}}">{{sec.sims_section_name}}</option>
                                </select>
                            </div>

                                 <div class="col-md-2">
                                <label id="Label1" for="cmb_lang" class="form-label">{{"Language Selection"| translate }}</label>
                                <select id="cmb_lang" name="cmb_lang" data-role="dropdownlist" class="form-control input-sm" ng-model="temp.sims_language_code" 
                                    ng-options="lang1.sims_language_code as lang1.sims_language_desc for lang1 in lang_data" ng-change="getLanguageCount(temp.sims_language_code)">
                                    <option value="">Please Select</option>  
                                  <!--  <option ng-repeat="lang in lang_data" value="{{lang.sims_language_code}}">{{lang.sims_language_desc}}</option>-->
                                </select>
                            </div>

                           <!-- <div class="col-md-2" >
                                <label id="Label1" for="txt_term_Code" class="form-label">{{"Shift Year"| translate }}</label>
                                <select id="Select5" class="form-control"
                                        ng-model="edt.sims_academic_years" ng-selected="" name="sims_academic_year2"
                                        ng-options="ay.sims_academic_years as ay.sims_academic_year_desc for ay in getAllactive"></select>
                            </div>-->

                            <div class="col-md-2">
                                <label id="Label2" class="form-label">&nbsp;</label>
                                <button id="desigsub" ng-click="Submit()" class="btn btn-success btn-cons btn-small">{{"Search" | translate }}</button>
                            </div>

                        </div>

                         
                     </form>

             </div>
                <div class="row" ng-show="busy">
                    <div class="col-md-12">
                        <div class="row form-row">
                            <div class="col-md-5">
                            </div>
                            <div class="col-md-2">
                                <img src="assets/theme/img/loading.gif" />
                            </div>
                            <div class="col-md-5">
                            </div>
                        </div>
                    </div>
                </div>

               <!-- <div id="example_wrapper" class="dataTables_wrapper form-inline">-->
                <div ng-show="div_lang">
                       <div class="row margin-top">
                               <div class="col-md-1">
                             <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="All" class="form-control input-sm">
                                All
                            </option>
                            <option value="5" class="form-control input-sm">
                                5
                            </option>

                            <option value="10" class="form-control input-sm">
                                10
                            </option>

                            <option value="15" class="form-control input-sm">
                                15
                            </option>

                           
                        </select>
</div>
                            </div>
                    <!--<div style="width: 100%; height: 300px; overflow-x: auto; overflow-y: auto">-->
                    
                      <div class="row margin-top">
                    <div class="col-md-12">
                        <table class="table table-bordered table-hover table-condensed" id="fixTable">
                            <thead>
                                <tr style="background-color: #edefef">
                                    <th class="small-cell v-align-middle" style="z-index:1">
                                        <div class="checkbox check-success">
                                            <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>
                                    <!--<th class="semi-bold"> {{"Sr No"| translate }} </th>-->
                                    <th > {{"Enroll No"| translate }} </th>
                                    <th > {{"Name"| translate }} </th>
                                    <th > {{"Elective Subject"| translate }} </th>
                                    <!--<th > {{"3rd Language"| translate }} </th>-->
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="j in filteredTodos | orderBy:propertyName:reverse" ng-class="row1">
                                    <td>
                                        <div class="row-fluid">
                                            <div class="checkbox check-success" style="height: 20px; z-index:1">
                                                <input id="enroll_number-{{$index}}" type="checkbox" value="1" ng-model="j.datastatus" ng-click="checkonebyonedelete(j)">
                                                <label for="enroll_number-{{$index}}"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{j.enroll_number}}</td>
                                    <td>{{j.student_name}} </td>
                                   
                                   <td>
                                         <select id="cmb_Subject_code{{$index}}" name="cmb_Subject_code"  multiple="multiple"                                           
                                            ng-model="j.sims_subject_code" ng-change="getsubjectcount(j.sims_subject_code,'{{j.sims_subject_code}}',$index,j)">
                                            <!--ng-options="sub.sims_subject_code as sub.sims_subject_name for sub in secondlang_detail" >-->
                                             <!--<option value="">Please Select</option> -->  
                                              <option ng-repeat="i in secondlang_detail" value="{{i.sims_subject_code}}">
                                            {{i.sims_subject_name}}
                                        </option>                                         
                                        </select>

                                   </td>
                                   <!-- <td>
                                         <select id="Select5" name="user" data-role="dropdownlist" class="form-control input-sm"                                           
                                            ng-model="j.sims_admission_third_lang_code" 
                                            ng-options="sub.sims_subject_code as sub.sims_subject_name for sub in thirdlang_detail" >
                                             <option value="">Please Select</option>                                            
                                        </select>

                                   </td>-->

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                     <div class="row">
                    <div class="col-md-12">
                    <div class="pull-right" ng-show="pager">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                ng-click="index(currentPage)">
                        </paging>
                    </div>
                         </div>
                         </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-actions">
                        <div class="pull-right">
                            <button type="submit" id="Button1" ng-click="savedatapromote()" class="btn btn-success btn-cons btn-small">{{"Save" | translate }}</button>
                            <button type="button" class="btn btn-warning btn-cons btn-small" ng-click="Cancel();">{{"Reset"| translate }}</button>
                        </div>
                            </div>
                    </div>
                </div>

          </div>

          
        </div>
    </div>
</div>
<script src="assets/js/tableHeadFixer.js"></script>

