﻿<link href="assets/css/mino.css" rel="stylesheet" />
<div class="loading-middle" ng-hide="display">
    {{ "Loading..." | translate }}
</div>

<style>
    .disableTab {
        pointer-events: none;
    }

    .loader_another {
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(assets/images/loader.gif);
        background-repeat: no-repeat;
        position: fixed;
        opacity: 0.5;
        opacity: 0.7;
        z-index: 105;
        background-color: #22262e;
        background-position-x: 50%;
        background-position-y: 50%;
        background-origin: content-box;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{ "Online Admission Registration Form" | translate }}</span></h3>
            </div>
            <div class="grid-body no-border">
                <div ng-show="display">
                    <form name="myForm" novalidate="novalidate">

                        <div class="row">
                            <div class="loader_another" ng-show="BUSY">
                            </div>
                        </div>

                        <div class="row margin-top">
                            <div class="col-md-3">
                                <div ng-class="{'has-error': !myForm.txt_first_name.$valid && (myForm.txt_first_name.$touched || myForm.$submitted) }">
                                    <label><i class="fa fa-user"></i>&nbsp;{{ "Student Name" | translate }} <span style="color: red; font-size: 15px">*</span></label>
                                    <input type="text" class="k-textbox input-sm full-width" id="txt_first_name" placeholder="Please Enter" name="txt_first_name" maxlength="50" required ng-model="edt.sims_admission_parent_first_name" ng-pattern="/^[a-zA-Z\s]*$/">
                                </div>
                                <div class="error-container"
                                    ng-show="myForm.txt_first_name.$dirty && myForm.txt_first_name.$invalid || myForm.$submitted">
                                    <small class="help-block"
                                        ng-show="myForm.txt_first_name.$error.required &&(myForm.txt_first_name.$touched || myForm.$submitted)">This Field is required.
                                    </small>
                                     <small class="help-block" ng-show="myForm.txt_first_name.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_first_name.$touched))">Enter Only character 
                                            </small>
                                </div>
                            </div>
                        </div>



                        <div class="row margin-top">
                            <div class="col-md-3">
                                <label><i class="fa fa-sort-numeric-asc"></i>&nbsp; {{ "Prospect Application No." | translate }} <span style="color: red; font-size: 15px">*</span></label>
                                <div class="col-md-12" ng-class="{'has-error': !myForm.txt_pro_applNo.$valid && (myForm.txt_pro_applNo.$touched || myForm.$submitted) }">
                                    <input type="text" class="k-textbox input-sm full-width" id="txt_pro_applNo" name="txt_pro_applNo" placeholder="Please Enter" ng-model="edt.prospect_no" maxlength="20"  ng-pattern="/^[0-9]{1,20}$/" required>
                                </div>
                                <div class="error-container"
                                    ng-show="myForm.txt_pro_applNo.$dirty && myForm.txt_pro_applNo.$invalid || myForm.$submitted">
                                    <small class="help-block"
                                        ng-show="myForm.txt_pro_applNo.$error.required && (myForm.txt_pro_applNo.$touched || myForm.$submitted)">This Field is required.
                                    </small>
                                    <small class="help-block" ng-show="myForm.txt_pro_applNo.$error.pattern && (!myForm.$pristine && (myForm.$submitted ||myForm.txt_pro_applNo.$touched))">Enter Only Digit
                                    </small>
                                </div>
                            </div>
                        </div>


                        <div class="row margin-top">
                            <div class="col-md-3">
                                <div ng-class="{'has-error': !myForm.txt_emirate_id.$valid && (myForm.txt_emirate_id.$touched || myForm.$submitted) }">
                                    <label><i class="fa fa-info-circle"></i>&nbsp; {{ "Adhar Card No" | translate }} <span style="color: red; font-size: 15px">*</span></label>
                                    <input type="text" class="k-textbox input-sm full-width" id="txt_emirate_id" placeholder="Please Enter" name="txt_emirate_id" ng-model="edt.sims_admission_parent_national_id" maxlength="18"  ng-pattern="/^[0-9-/]{1,18}$/" required>
                                </div>
                                <div class="error-container"
                                    ng-show="myForm.txt_emirate_id.$dirty && myForm.txt_emirate_id.$invalid || myForm.$submitted">
                                    <small class="help-block"
                                        ng-show="myForm.txt_emirate_id.$error.required && (myForm.txt_emirate_id.$touched || myForm.$submitted)">This Field is required.
                                    </small>
                                    <small class="help-block" ng-show="myForm.txt_emirate_id.$error.pattern && (!myForm.$pristine && (myForm.$submitted ||myForm.txt_emirate_id.$touched))">Enter Only Digit
                                    </small>
                                </div>
                            </div>
                        </div>


                        <div class="row margin-top">
                            <div class="col-md-3">
                                <div ng-class="{'has-error': !myForm.txt_father_mobile.$valid && (myForm.txt_father_mobile.$touched || myForm.$submitted) }">
                                    <label><i class="fa fa-mobile-phone"></i>&nbsp;{{ "Mobile" | translate }}</label>
                                    <input type="text" class="k-textbox input-sm full-width" id="txt_father_mobile" placeholder="Please Enter" name="txt_father_mobile" maxlength="25" ng-maxlength="25" ng-model="edt.sims_admission_parent_mobile" ng-pattern="/^\+?\d+$/"><!
                                </div>
                                <div class="error-container"
                                    ng-show="myForm.txt_father_mobile.$dirty && myForm.txt_father_mobile.$invalid || myForm.$submitted">
                                    <small class="help-block" ng-show="myForm.txt_father_mobile.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_father_mobile.$touched))">Enter Valid Mobile No
                                    </small>
                                </div>
                            </div>

                        </div>



                        <div class="col-md-12">
                            <div class="form-actions">
                                <div class="pull-right">
                                    <button class="btn btn-primary btn-small" type="submit" ng-show="save1" ng-click="Save(myForm.$valid)">{{ "Submit" | translate }}</button>
                                    <button class="btn btn-warning btn-small" type="button" ng-click="Cancel()">{{ "Reset" | translate }}</button>
                                </div>

                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="assets/js/moment.js"></script>



<script src="assets/js/calender-datepicker-id.js"></script>
<script src="assets/js/moment.js"></script>







