﻿<style>
    .table_grid {
        background-color: #fff;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Parent Employee Mapping"| translate }}</span> </h3>
            </div>
            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="row bluegrid paddingcode" style="margin-left:2px;margin-right:2px;">
                    <div class="col-md-2">
                        <label id="Label31" for="txt_Nationality_Code" class="form-label"><i class="fa fa-book"></i>&nbsp;{{"Curriculum"| translate }} <span class="asterisk" style="color: red">*</span></label>

                        <select id="Select7" class="form-control input-sm full-width" data-role="dropdownlist" name="user"
                                ng-model="edt.sims_cur_code"
                                ng-change="getAccYear(edt.sims_cur_code)"
                                ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for  cur in curriculum">
                            <option value="" selected disabled>Please Select</option>
                        </select>

                    </div>

                    <div class="col-md-2">
                        <label id="Label32" for="txt_Nationality_Code" class="form-label"><i class="fa fa-sort-amount-desc"></i>&nbsp;{{"Academic Year"| translate }} <span class="asterisk" style="color: red">*</span></label>
                        <select id="cmb_academic_year" class="form-control input-sm full-width" data-role="dropdownlist"
                                ng-model="temp.sims_academic_year"
                                ng-options="year1.sims_academic_year as year1.sims_academic_year_desc for year1 in Acc_year" ng-change="getGrade(edt.sims_cur_code,temp.sims_academic_year)">
                            <option value="" selected disabled>Please Select</option>
                        </select>
                    </div>

                    <div class="col-md-2">
                        <label id="Label33" for="txt_Nationality_Code" class="form-label"><i class="fa fa-sitemap"></i>&nbsp;{{"Grade"| translate }}</label>
                        <select id="Select9" name="sims_grade_name" class="form-control input-sm full-width" data-role="dropdownlist" ng-change="getSection(edt.sims_cur_code,temp.sims_grade_code,temp.sims_academic_year)" required ng-model="temp.sims_grade_code" multiple="multiple" ng-disabled="sec_screen">
                            <!--<option value="" selected>Please Select</option>-->
                            <option ng-repeat="grd in Grade_code" value="{{grd.sims_grade_code}}">{{grd.sims_grade_name}}</option>
                        </select>
                    </div>

                    <!--<div class="col-md-2">
                        <label id="Label34" for="txt_Nationality_Code" class="form-label">{{"Admission fillter"| translate }} <span class="asterisk" style="color: red">*</span></label>
                        <select id="Select10" name="sims_section_name" class="form-control input-sm full-width" ng-model="temp.value" data-role="dropdownlist" ng-change="refreshing_data()">
                            <option value="0" selected>Please Select</option>
                            <option value="A">Admission</option>
                            <option value="P">Prospect</option>
                        </select>
                    </div>-->

                    <div class="col-md-2">
                        <label id="Label2" for="txt_full_name" class="form-label"><i class="fa fa-user"></i>&nbsp;{{"User"| translate }}</label>

                        <label><b>{{users}} User  </b>   </label>
                    </div>

                    <div class="col-md-2">
                        <div class="pull-left">
                            <label id="Label5" for="chk_status" class="form-label ng-binding">{{"Not Mapping"|translate}}</label>
                            <div class="checkbox check-success">
                                <input id="check_house_status" name="chk_status" type="checkbox" value="1" checked="checked" ng-model="temp.mapping_status" class="ng-pristine ng-untouched ng-valid">
                                <label for="check_house_status"></label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div>
                            <label>&nbsp;</label>
                            <button type="submit" id="Button1" ng-show="search_btn" ng-click="get_data()" class="btn btn-primary btn-small">{{"Search"| translate }}</button>
                            <button type="button" ng-show="clr_btn" ng-click="clear_data();" class="btn btn-warning btn-small">{{"Clear"| translate }}</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="table_grid paddingcode">
                <div class="row margin-top" style="background-color:#fff;margin-top:3px;">
                    <div class="col-md-6">
                        <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="10" class="form-control input-sm">
                                10
                            </option>

                            <option value="20" class="form-control input-sm">
                                20
                            </option>

                            <option value="All" class="form-control input-sm">
                                All
                            </option>
                        </select>
                        &nbsp;

                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">

                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="example_wrapper" style="background-color:#fff;" class="dataTables_wrapper form-inline">
                    <div class="row margin-top" style="margin-top:7px;">
                        <div class="col-md-12">
                            <table class="table table-striped table-flip-scroll cf" id="fixTable">
                                <thead style="background-color: white">
                                    <tr style="background-color: #edefef">
                                        <th>
                                            <i class="fa fa-sort-numeric-asc"></i>&nbsp;<b>{{"Sr No."| translate }}</b>
                                        </th>
                                        <th ng-click="orderByField='sims_admission_pros_number'; reverseSort = !reverseSort">
                                            <i class="fa fa-sort-numeric-asc"></i>&nbsp;<b><span> {{"Family No."| translate }}</span>   </b><i class="material-icons">arrow_drop_down</i>
                                        </th>
                                       
                                        
                                        <th ng-click="orderByField='name'; reverseSort = !reverseSort">
                                            <i class="fa fa-align-justify"></i>&nbsp;<b>{{"Parent Name"| translate }}</b><i class="material-icons">arrow_drop_down</i>
                                        </th>
                                        <th>
                                            <i class="fa fa-align-justify"></i>&nbsp;<b>{{"Representative Name"| translate }}</b>
                                        </th>


                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="j in filteredTodos | orderBy:orderByField:reverseSort | filter:searchText" ng-class="row1">
                                        <td>
                                            <label id="Label8">{{$index+1}}</label>
                                        </td>
                                        <td>
                                            <label id="Label35">{{j.sims_parent_login_code}}</label>
                                        </td>
                                        <td>
                                            <label id="Label1">{{j.parent_nm}}</label>
                                        </td>

                                      

                                        <td>
                                            <input style="width:200px" type="text" id="rcbItem" list="languages" tabindex="10" ng-model="j.sims_employee_ID" class="form-control input-sm" ng-click="CheckTeacher(info)" ng-change="Check(info)">
                                            <datalist id="languages">
                                                <option class="form-control" ng-repeat="teacher in GetAllTeacherName" value="{{teacher.sims_emp_code}}/{{teacher.sims_emp_code_name}}"></option>
                                            </datalist>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" ng-show="pager">
                        <div class="col-md-5">
                            <div class="pull-left">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>
                        </div>
                        <div class="col-md-1" style="left:532px;">
                            <button type="submit" id="desigsub" ng-show="save_btn" ng-click="insertDataDetails()" style="margin:14Px;" class="btn btn-primary btn-small">{{"Save"| translate }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#Select9').multipleSelect({
            width: '100%',
            placeholder: 'Select Grade'
        });
    });
</script>
