﻿<link href="assets/css/mino.css" rel="stylesheet" />
<div class="loading-middle" ng-hide="display">
    {{ "Loading..." | translate }}
</div>

<style>
    .disableTab {
        pointer-events: none;
    }

    .loader_another {
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(assets/images/loader.gif);
        background-repeat: no-repeat;
        position: fixed;
        opacity: 0.5;
        opacity: 0.7;
        z-index: 105;
        background-color: #22262e;
        background-position-x: 50%;
        background-position-y: 50%;
        background-origin: content-box;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{ "Prospect Admission(Short)" | translate }}</span></h3>
            </div>
            <div class="grid-title no-border">
            </div>
             <div class="page-title1"  ng-click="back()"  ng-show="btn_back">
                <a href=""><i class="fa fa-arrow-circle-left"></i>  <span>Back</span></a>
            </div>
            <div class="grid-body no-border" ng-show="display">
                <!--  <form name="myForm" novalidate ng-submit="test()">-->
                <form name="myForm" novalidate="novalidate">

                    <div class="row">
                        <div class="loader_another" ng-show="BUSY">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="row form-row">

                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Application Number" | translate }}</label>
                                        </div>
                                        <div class="col-md-12" ><!--ng-class="{'has-error': !myForm.appl_no.$valid && (myForm.appl_no.$touched || myForm.$submitted) }"-->
                                            <input type="text" class="k-textbox input-sm full-width"  id="txt_appl_no" name="appl_no" placeholder="Application Number" ng-model="edt.pros_appl_num" ng-maxlength="20" ng-minlength="1"  ><!--ng-pattern="/^[a-zA-Z0-9\s-]*$/"-->
                                        </div>
                                       <!-- <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.appl_no.$dirty && myForm.appl_no.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm.appl_no.$error.required && (myForm.appl_no.$touched || myForm.$submitted)">Application No is required.
                                                </small>
                                                <small class="help-block" ng-show="myForm.appl_no.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.appl_no.$touched))">Enter Valid Data
                                                </small>
                                            </div>
                                        </div>-->
                                    </div>

                                </div>

                                <div class="col-md-3">

                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "School Name" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.SchoolCode.$valid && (myForm.SchoolCode.$touched || myForm.$submitted) }">

                                            <select id="cmb_school_code" name="SchoolCode" data-role="dropdownlist" class="form-control input-sm"  required
                                                ng-model="edt.school_code" ng-options="item.school_code as item.school_name for item in scholnm">
                                                <option value="">Please Select</option>
                                            </select>

                                        </div>
                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.SchoolCode.$dirty && myForm.SchoolCode.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm.SchoolCode.$error.required && (myForm.SchoolCode.$touched || myForm.$submitted)">School Name is required.
                                                </small>

                                            </div>
                                        </div>


                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Admission date" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.admpdate.$valid && (myForm.admpdate.$touched || myForm.$submitted) }">
                                           <!-- <div class="col-md-4 no-padding" style="width: auto">-->
                                                <input id="from_date" placeholder="Select Date" name="admpdate" class="k-textbox input-sm full-width" style="width:100%;" ng-model="edt.admission_date" ng-change="adm_date(edt.admission_date)"><!--pattern="/[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])$/"-->
                                            </div>

                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.admpdate.$dirty && myForm.admpdate.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm.admpdate.$error.required && (myForm.admpdate.$touched || myForm.$submitted)">Admission Date is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Commencemnt Date" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.tentJoindate.$valid && (myForm.tentJoindate.$touched || myForm.$submitted) }">
                                            <!--<div class="col-md-4 no-padding" style="width: auto">-->
                                                <input id="DOJ" placeholder="Select Date" name="tentJoindate" class="k-textbox input-sm full-width" style="width:100%;" ng-model="edt.comm_date"  required>
                                                
                                            </div>
                                        <!--</div>-->

                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.tentJoindate.$dirty && myForm.tentJoindate.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm.tentJoindate.$error.required && (myForm.tentJoindate.$touched || myForm.$submitted)">Commencemnt Date is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">
                              
                                <div class="col-md-4">
                                    <h4><span class="semi-bold">{{ "Student Details" | translate }}</span></h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">
                               
                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "First Name" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.txt_first_name.$valid && (myForm.txt_first_name.$touched || myForm.$submitted) }">
                                            <input type="text" class="k-textbox input-sm full-width"  id="txt_first_name" placeholder="First Name" name="txt_first_name" maxlength="50" ng-maxlength="50" ng-minlength="1" required ng-model="edt.first_name" ng-pattern="/^[a-zA-Z\s]*$/">
                                        </div>
                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.txt_first_name.$dirty && myForm.txt_first_name.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm.txt_first_name.$error.required &&(myForm.txt_first_name.$touched || myForm.$submitted)">This Field is required.
                                                </small>
                                                <small class="help-block" ng-show="myForm.txt_first_name.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_first_name.$touched))">Enter Only character
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Father Name" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.txt_middle_name.$valid && (myForm.txt_middle_name.$touched || myForm.$submitted) }">
                                            <input type="text" class="k-textbox input-sm full-width"  id="txt_middle_name" name="txt_middle_name" placeholder="Father Name"  maxlength="50" ng-model="edt.middle_name" ng-pattern="/^[a-zA-Z\s]*$/" required>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.txt_middle_name.$dirty && myForm.txt_middle_name.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm.txt_middle_name.$error.required &&(myForm.txt_middle_name.$touched || myForm.$submitted)">This Field is required.
                                                </small>
                                                <small class="help-block" ng-show="myForm.txt_middle_name.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_middle_name.$touched))">Enter Only character
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Grand Father Name" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.txt_last_name.$valid && (myForm.txt_last_name.$touched || myForm.$submitted) }">
                                            <input type="text" class="k-textbox input-sm full-width"  id="txt_last_name" name="txt_last_name" placeholder="Grand Father Name" maxlength="50"  ng-model="edt.last_name" ng-pattern="/^[a-zA-Z\s]*$/" required>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.txt_last_name.$dirty && myForm.txt_last_name.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm.txt_last_name.$error.required &&(myForm.txt_last_name.$touched || myForm.$submitted)">This Field is required.
                                                </small>
                                                <small class="help-block" ng-show="myForm.txt_last_name.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_last_name.$touched))">Enter Only character
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Last Name" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                              </div>
                                         <div class="col-md-12"  ng-class="{'has-error': !myForm.txt_family_name.$valid && (myForm.txt_family_name.$touched || myForm.$submitted) }">
                                            <input type="text" class="k-textbox input-sm full-width" id="txt_family_name" name="txt_family_name" placeholder="Last Name" maxlength="50"  ng-model="edt.family_name" required><!--ng-pattern="/^[a-zA-Z\s_]*$/"-->
                                             </div>
                                         <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.txt_family_name.$dirty && myForm.txt_family_name.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm.txt_family_name.$error.required &&(myForm.txt_family_name.$touched || myForm.$submitted)">This Field is required.
                                                </small>
                                                <small class="help-block" ng-show="myForm.txt_family_name.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_family_name.$touched))">Enter Only character
                                                </small>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                        </div>

                         <div class="col-md-12">
                            <div class="row form-row">
                                 <div class="col-md-3">
                                      <div class="row form-row">
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.txt_reg_first_name.$valid && (myForm.txt_reg_first_name.$touched || myForm.$submitted) }">
                                            <label>{{ "Full name in Arabic" | translate }}</label>
                                            </div>
                                            <div class="col-md-12">
                                           <input type="text" class="k-textbox input-sm full-width" id="txt_reg_first_name" placeholder="Full name in Arabic" name="txt_reg_first_name" maxlength="50"  ng-model="edt.first_name_ot" required>
                                            </div>
                                            <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.txt_reg_first_name.$dirty && myForm.txt_reg_first_name.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm.txt_reg_first_name.$error.required &&(myForm.txt_reg_first_name.$touched || myForm.$submitted)">This Field is required.
                                                </small>
                                              
                                            </div>
                                        </div>
                                          </div>
                                    </div>

                                 <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Birth Country" | translate }}</label>
                                        </div><!-- ng-class="{'has-error': !myForm.BirthCountry.$valid && (myForm.BirthCountry.$touched || myForm.$submitted) }"-->
                                        <div class="col-md-12">
                                            <select id="cmb_birth_country" name="BirthCountry" data-role="dropdownlist" class="form-control input-sm"
                                                ng-model="edt.birth_country_code" >
                                                <option value="">Please Select</option>
                                                <option ng-repeat="i in obj" ng-if="i.birth_country_code.length"
                                                    value="{{i.birth_country_code}}">{{i.birth_country}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                 <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Gender" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.Gender.$valid && (myForm.Gender.$touched || myForm.$submitted) }">
                                            <select id="Select3" name="Gender" data-role="dropdownlist" class="form-control input-sm"
                                                ng-model="edt.gender_code"  required>
                                                <option value="">Please Select</option>
                                                <option ng-repeat="i in obj" ng-if="i.gender_code.length"
                                                    value="{{i.gender_code}}">{{i.gender_desc}}
                                                </option>
                                            </select>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.Gender.$dirty && myForm.Gender.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm.Gender.$error.required && (myForm.Gender.$touched || myForm.$submitted)">This Field is required.
                                                </small>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                 <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Nationality" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.nationality.$valid && (myForm.nationality.$touched || myForm.$submitted) }"><!---->
                                            <select id="nationality" name="nationality" data-role="dropdownlist" class="form-control input-sm"
                                                ng-model="edt.nationality_code" required>
                                                <option value="">Please Select</option>
                                                <option ng-repeat="i in obj" ng-if="i.nationality_code.length"
                                                    value="{{i.nationality_code}}">{{i.nationality}}
                                                </option>
                                            </select>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.nationality.$dirty && myForm.nationality.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm.nationality.$error.required && (myForm.nationality.$touched || myForm.$submitted)">This Field is required.
                                                </small>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                               

                               
                                </div>
                             </div>

                        <div class="col-md-12">
                            <div class="row form-row">

                                 <div class="col-md-3">

                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Date Of Birth" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.dp_birth_date.$valid && (myForm.dp_birth_date.$touched || myForm.$submitted) }">
                                            <!--<div class="col-md-4 no-padding" style="width: auto">-->
                                                <input type="text" id="dp_birth_date" placeholder="Select Date" name="dp_birth_date" class="k-textbox input-sm full-width" ng-model="edt.birth_date" ng-change="birthdate(edt.birth_date)" required>

                                            </div>


                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.dp_birth_date.$dirty && myForm.dp_birth_date.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm.dp_birth_date.$error.required && (myForm.dp_birth_date.$touched || myForm.$submitted)">This Field is required.
                                                </small>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                  <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Previous School Name" | translate }}</label>
                                        </div>
                                        <div class="col-md-12" ><!--ng-class="{'has-error': !myForm.txt_Prev_school_name.$valid && (myForm.txt_Prev_school_name.$touched || myForm.$submitted) }"-->
                                            <input type="text" class="k-textbox input-sm full-width"  id="txt_Prev_school_name" placeholder="School Name" name="txt_Prev_school_name" maxlength="50" ng-maxlength="50" ng-minlength="1" ng-model="edt.current_school_name"  ng-pattern="/^[a-zA-Z0-9\s-]*$/">
                                        </div>
                                       <!-- <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.txt_Prev_school_name.$dirty && myForm.txt_Prev_school_name.$invalid || myForm.$submitted">
                                                <small class="help-block" ng-show="myForm.txt_Prev_school_name.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_Prev_school_name.$touched))">Enter Valid Data
                                                </small>
                                            </div>
                                        </div>-->
                                    </div>
                                </div>
                               
                                 <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Passport Number" | translate }}</label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.txt_pass_no.$valid && (myForm.txt_pass_no.$touched || myForm.$submitted) }">
                                            <input type="text" class="k-textbox input-sm full-width" id="txt_pass_no" placeholder="Passport Number" name="txt_pass_no" maxlength="15" ng-model="edt.passport_num" ng-maxlength="15" ng-minlength="1" ng-pattern="/^[a-zA-Z0-9\s-]*$/">
                                        </div>
                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.txt_pass_no.$dirty && myForm.txt_pass_no.$invalid || myForm.$submitted">
                                                <small class="help-block" ng-show="myForm.txt_pass_no.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_pass_no.$touched))">Enter Valid Data
                                                </small>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Expiry Date" | translate }}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <!--ng-class="{'has-error': !myForm.passexpdate.$valid && (myForm.passexpdate.$touched || myForm.$submitted) }"-->
                                            <!--<div class="col-md-4 no-padding" style="width: auto">-->
                                                <input type="text" id="expiry_date" placeholder="Select Date" name="passexpdate" class="k-textbox input-sm full-width" ng-change="passExp_date(edt.passport_expiry)" ng-model="edt.passport_expiry">
                                                
                                           <!-- </div>-->
                                        </div>

                                    </div>
                                </div>

                              
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">
                              
                                 <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Civil ID" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.txt_emirate_id.$valid && (myForm.txt_emirate_id.$touched || myForm.$submitted) }">
                                            <input type="text" class="k-textbox input-sm full-width"  id="txt_emirate_id" placeholder="Civil ID" name="txt_emirate_id" ng-model="edt.national_id" ng-maxlength="12" ng-minlength="12" ng-pattern="/^[0-9]{1,12}$/" required>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.txt_emirate_id.$dirty && myForm.txt_emirate_id.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm.txt_emirate_id.$error.required &&(myForm.txt_emirate_id.$touched || myForm.$submitted)">This Field is required.
                                                </small>
                                                <small class="help-block" ng-show="myForm.txt_emirate_id.$error.pattern && (!myForm.$pristine && (myForm.$submitted ||myForm.txt_emirate_id.$touched))">Enter Only Digit
                                                </small>
                                                <small class="help-block"
                                                           ng-show="myForm.txt_emirate_id.$error.maxlength &&(myForm.txt_emirate_id.$touched || myForm.$submitted)">
                                                        Civil ID cannot be longer than 12 characters.
                                                    </small>
                                                <small class="help-block"
                                                           ng-show="myForm.txt_emirate_id.$error.minlength &&(myForm.txt_emirate_id.$touched || myForm.$submitted)">
                                                        Civil ID cannot be less than 12 characters.
                                                </small>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Expiry Date" | translate }}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <!--<div class="col-md-4 no-padding" style="width: auto">-->
                                                <input type="text" id="end_date" placeholder="Select Date" name="dp_national_expiry_date" class="k-textbox input-sm full-width" ng-change="nationalExp_date(edt.national_id_expiry_date)" ng-model="edt.national_id_expiry_date">
                                                
                                            </div>
                                        
                                    </div>
                                </div>
                               
                                 <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Student Category" | translate }}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <select id="Select2" name="category" data-role="dropdownlist" class="form-control input-sm"
                                                ng-model="edt.category_code">
                                                <option value="">Please Select</option>
                                                <option ng-repeat="i in obj" ng-if="i.category_code.length"
                                                    value="{{i.category_code}}">{{i.category_desc}}
                                                </option>
                                            </select>
                                            </div>
                                        </div>
                                   </div>
                            </div>
                        </div>

                      

                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-2">
                                    <div class="row form-row">
                                    </div>

                                </div>

                                <div class="col-md-12">
                                    <div class="row form-row">
                                       
                                        <div class="col-md-10">
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" value="1" name="chk_sibling" id="chk_sibling" title="Status" ng-model="edt.sibling_status" ng-click="check1();">
                                                <label for="chk_sibling">{{"Sibling Status(Enter Either Sibling Enroll Or Parent Id)"|translate}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-3">
                                    <br />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">
                                
                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Sibling Enroll No" | translate }}</label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.txt_enroll_no.$valid && (myForm.txt_enroll_no.$touched || myForm.$submitted) }">
                                            <input type="text" class="k-textbox input-sm full-width"  id="txt_enroll_no" placeholder="Please Enter" name="txt_enroll_no" ng-model="edt.sibling_enroll" ng-disabled="true" ng-pattern="/^[a-zA-Z0-9\s-]*$/"><!--ng-disabled="parent_edit"-->
                                        </div>
                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.txt_enroll_no.$dirty && myForm.txt_enroll_no.$invalid || myForm.$submitted">
                                                <small class="help-block" ng-show="myForm.txt_enroll_no.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_enroll_no.$touched))">Enter Valid Data
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Parent Id" | translate }}</label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.txt_parent_id.$valid && (myForm.txt_parent_id.$touched || myForm.$submitted) }">
                                            <input type="text" class="k-textbox input-sm full-width"  id="txt_parent_id" placeholder="Please Enter" name="txt_parent_id" ng-model="edt.sims_parent_number" ng-disabled="true" ng-pattern="/^[a-zA-Z0-9\s-]*$/"><!--ng-disabled="parent_edit"-->
                                        </div>
                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.txt_parent_id.$dirty && myForm.txt_parent_id.$invalid || myForm.$submitted">
                                                <small class="help-block" ng-show="myForm.txt_parent_id.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_parent_id.$touched))">Enter Valid Data
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="row form-row">
                                           <div class="col-md-12"><label>&nbsp;</label>
                                            <!-- <button style="height: 35px" class="btn btn-orange" type="button" ng-click="GetInfo(edt.sims_parent_number,edt.sibling_enroll)">{{"Validate"|translate}}</button>-->
                                            <button class="btn btn-primary btn-cons" type="button" ng-click="getparent()" ng-disabled="parent_edit">{{ "Search Parent" | translate }}</button>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-md-12">
                            <div class="row form-row">
                                
                                <div class="col-md-4">
                                    <h4><span class="semi-bold">{{ "Class Details" | translate }}</span></h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">
                               
                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Curriculum" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.curCode.$valid && (myForm.curCode.$touched || myForm.$submitted) }">
                                            <select id="cmb_cur" name="curCode" data-role="dropdownlist" class="form-control input-sm"
                                                ng-model="edt.curr_code" required >
                                                <option value="">Please Select</option>
                                                <option ng-repeat="i in obj" ng-if="i.curr_code.length"
                                                    value="{{i.curr_code}}">{{i.curr_name}}
                                                </option>
                                            </select>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.curCode.$dirty && myForm.curCode.$invalid || myForm.$submitted">
                                                <small class="error"
                                                    ng-show="myForm.curCode.$error.required && (myForm.curCode.$touched || myForm.$submitted)">This Field is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Academic Year" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.AcadYr.$valid && (myForm.AcadYr.$touched || myForm.$submitted) }">
                                            <select id="cmb_acad_yr" name="AcadYr" data-role="dropdownlist" class="form-control input-sm"
                                                ng-model="edt.academic_year" required>
                                                <option value="">Please Select
                                                </option>
                                                <option ng-repeat="i in obj" ng-if="i.academic_year.length && i.aycur==edt.curr_code"
                                                    value="{{i.academic_year}}">{{i.academic_year_desc}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.AcadYr.$dirty && myForm.AcadYr.$invalid || myForm.$submitted">
                                                <small class="error"
                                                    ng-show="myForm.AcadYr.$error.required && (myForm.AcadYr.$touched || myForm.$submitted)">This Field is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Grade Name" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.Grade.$valid && (myForm.Grade.$touched || myForm.$submitted) }">
                                            <select id="cmb_grade" name="Grade" data-role="dropdownlist" class="form-control input-sm"
                                                ng-model="edt.grade_code" required >
                                                <option value="">Please Select</option>
                                                <option ng-repeat="i in obj" ng-if="i.grade_code.length && i.grCur==edt.curr_code && i.grAca==edt.academic_year"
                                                    value="{{i.grade_code}}">{{i.grade_name}}
                                                </option>
                                            </select>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.Grade.$dirty && myForm.Grade.$invalid || myForm.$submitted">
                                                <small class="error"
                                                    ng-show="myForm.Grade.$error.required && (myForm.Grade.$touched || myForm.$submitted)">This Field is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--<div class="col-md-2">

                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Section Name" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.section.$valid && (myForm.section.$touched || myForm.$submitted) }">
                                            <select id="cmb_section" data-role="dropdownlist" class="form-control input-sm" name="section" ng-model="edt.section_code" required >
                                                <option value="">Please Select</option>
                                                <option ng-repeat="i in obj" ng-if="i.section_code.length && i.secAcy==edt.academic_year && i.secCur==edt.curr_code && i.secGr==edt.grade_code && (i.secgender==edt.gender_code ||  edt.gender_code==undefined||i.secgender==''||i.secgender=='M'||i.secgender=='B')"
                                                    value="{{i.section_code}}">{{i.section_name}}
                                                </option>
                                            </select>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.section.$dirty && myForm.section.$invalid || myForm.$submitted">
                                                <small class="error"
                                                    ng-show="myForm.section.$error.required && (myForm.section.$touched || myForm.$submitted)">This Field is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                            
                                <div class="col-md-2">

                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Term / Semester" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.Term.$valid && (myForm.Term.$touched || myForm.$submitted) }">
                                            <select id="cmb_term" name="Term" data-role="dropdownlist" class="form-control input-sm" required
                                                ng-model="edt.term_code">
                                                <option value="">Please Select</option>
                                                <option ng-repeat="i in obj" ng-if="i.term_code.length && i.termCur==edt.curr_code && i.termAy==edt.academic_year"
                                                    value="{{i.term_code}}">{{i.term_name}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.Term.$dirty && myForm.Term.$invalid || myForm.$submitted">
                                                <small class="error"
                                                    ng-show="myForm.Term.$error.required && (myForm.Term.$touched || myForm.$submitted)">This Field is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="col-md-12 margin-top">
                            <div class="row form-row">
                               
                                <div class="col-md-2">
                                    <h4><span class="semi-bold">{{ "Parent Details" | translate }}</span></h4>
                                </div>
                                <div class="col-md-2" style="padding-top:2px;" ng-class="{'has-error': !myForm.cmb_parent1.$valid && (myForm.cmb_parent1.$touched || myForm.$submitted) }">
                                    <select id="cmb_parent" name="cmb_parent1" data-role="dropdownlist" data-role="dropdownlist" class="form-control input-sm" required
                                        ng-model="edt.legal_custody_code" ng-options="item.legal_custody_code as item.legal_custody_name for item in legalcus" ng-change="get_legaldetails(edt.legal_custody_code)">
                                        <option value="">Please Select</option>
                                    </select>
                                </div>
                                <div class="col-md-2" style="padding-top:2px;">
                                   <span class="asterisk" style="color: red">*</span>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-4">
                                    <div class="row form-row">
                                    </div>

                                </div>
                                <div class="col-md-2">
                                    <div class="error-container"
                                        ng-show="myForm.cmb_parent1.$dirty && myForm.cmb_parent1.$invalid || myForm.$submitted">
                                        <small class="error"
                                            ng-show="myForm.cmb_parent1.$error.required && (myForm.cmb_parent1.$touched || myForm.$submitted)">This Field is required.
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-12">
                                    <div class="row form-row">
                                        <div class="col-md-2">
                                            <div class="row form-row">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">
                                
                                <div class="col-md-2">
                                    <h4><span class="semi-bold">{{ "Father Details" | translate }}</span></h4>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">
                               
                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "First Name" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.txt_father_first_name1.$valid && (myForm.txt_father_first_name1.$touched || myForm.$submitted) }">
                                            <input type="text" class="k-textbox input-sm full-width"  id="txt_father_first_name1" placeholder="Please Enter" name="txt_father_first_name1" required ng-maxlength="50" ng-minlength="1" maxlength="50" ng-model="edt.father_first_name" ng-disabled="Chk_parent"><!-- ng-pattern="/^[a-zA-Z\s]*$/"-->
                                        </div>
                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.txt_father_first_name1.$dirty && myForm.txt_father_first_name1.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm.txt_father_first_name1.$error.required && (myForm.txt_father_first_name1.$touched || myForm.$submitted)">This Field is required.
                                                </small>
                                                <!-- <small class="help-block" ng-show="myForm.txt_father_first_name1.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_father_first_name1.$touched))">Enter Only character
                                                    </small>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Middle Name" | translate }}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <!--ng-class="{'has-error': !myForm.txt_father_middle_name1.$valid && (myForm.txt_father_middle_name1.$touched || myForm.$submitted) }"-->
                                            <input type="text" class="k-textbox input-sm full-width"  id="txt_father_middle_name1" placeholder="Please Enter" name="txt_father_middle_name1" maxlength="50" ng-model="edt.father_middle_name" ng-disabled="Chk_parent"><!--ng-pattern="/^[a-zA-Z\s]*$/"-->
                                        </div>
                                        <!-- <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.txt_father_middle_name1.$dirty && myForm.txt_father_middle_name1.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm.txt_father_middle_name1.$error.required && (myForm.txt_father_middle_name1.$touched || myForm.$submitted)">This Field is required.
                                                </small>
                                                 <small class="help-block" ng-show="myForm.txt_father_middle_name1.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_father_middle_name1.$touched))">Enter Only character
                                                    </small>
                                            </div>
                                        </div>-->
                                    </div>
                                </div>

                                <div class="col-md-3">

                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Last Name" | translate }}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <!-- ng-class="{'has-error': !myForm.txt_father_last_name1.$valid && (myForm.txt_father_last_name1.$touched || myForm.$submitted) }"-->
                                            <input type="text" class="k-textbox input-sm full-width"  id="txt_father_last_name1" placeholder="Please Enter" name="txt_father_last_name1" maxlength="50" ng-maxlength="50" ng-minlength="1" ng-model="edt.father_last_name" ng-disabled="Chk_parent"><!--ng-pattern="/^[a-zA-Z\s]*$/"-->
                                        </div>
                                        <!-- <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.txt_father_last_name1.$dirty && myForm.txt_father_last_name1.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm.txt_father_last_name1.$error.required && (myForm.txt_father_last_name1.$touched || myForm.$submitted)">This Field is required.
                                                </small>
                                                 <small class="help-block" ng-show="myForm.txt_father_last_name1.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_father_last_name1.$touched))">Enter Only character
                                                    </small>
                                            </div>
                                        </div>-->
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Nationality" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.father_nationality.$valid && (myForm.father_nationality.$touched || myForm.$submitted) }">
                                            <select id="father_nationality" name="father_nationality" data-role="dropdownlist" class="form-control input-sm"
                                                ng-model="edt.father_nationality1_code" required>
                                                <option value="">Please Select</option>
                                                <option ng-repeat="i in obj" ng-if="i.nationality_code.length"
                                                    value="{{i.nationality_code}}">{{i.nationality}}
                                                </option>
                                            </select>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.father_nationality.$dirty && myForm.father_nationality.$invalid || myForm.$submitted">
                                                <small class="error"
                                                    ng-show="myForm.father_nationality.$error.required  && (myForm.father_nationality.$touched || myForm.$submitted)">This Field is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-12">
                            <div class="row form-row">
                               
                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Summary Address" | translate }}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" class="k-textbox input-sm full-width"  id="txt_father_addr" placeholder="Please Enter" name="txt_father_addr" maxlength="100" ng-model="edt.father_summary_address" ng-disabled="Chk_parent"><!---->
                                        </div>
                                    </div>

                                </div>



                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Civil ID" | translate }}</label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.txt_father_national_id.$valid && (myForm.txt_father_national_id.$touched || myForm.$submitted) }">
                                            <input type="text" class="k-textbox input-sm full-width"  id="txt_father_national_id" placeholder="Please Enter" name="txt_father_national_id" maxlength="15" ng-model="edt.sims_admission_father_national_id" ng-disabled="Chk_parent" ng-pattern="/^[0-9]{1,25}$/"><!---->
                                        </div>
                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.txt_father_national_id.$dirty && myForm.txt_father_national_id.$invalid || myForm.$submitted">
                                                <small class="help-block" ng-show="myForm.txt_father_national_id.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_father_national_id.$touched))">Enter Only Digit
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <!--ng-show="chk_show"-->
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Mobile" | translate }}</label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.txt_father_mobile.$valid && (myForm.txt_father_mobile.$touched || myForm.$submitted) }">
                                            <input type="text" class="k-textbox input-sm full-width"  id="txt_father_mobile" placeholder="Please Enter" name="txt_father_mobile" maxlength="25" ng-maxlength="25" ng-model="edt.father_mobile" ng-pattern="/^\+?\d+$/"><!---->
                                        </div>
                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.txt_father_mobile.$dirty && myForm.txt_father_mobile.$invalid || myForm.$submitted">
                                                <small class="help-block" ng-show="myForm.txt_father_mobile.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_father_mobile.$touched))">Enter Valid Mobile No
                                                </small>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Email" | translate }} </label>
                                        </div>
                                        <div class="col-md-12" >
                                            <input type="text" class="k-textbox input-sm full-width"  id="txt_father_email" placeholder="Please Enter" name="txt_father_email" maxlength="50" ng-model="edt.father_email"  ng-disabled="Chk_parent" ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i">
                                        </div>
                                        <!--/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i  <span class="asterisk" style="color: red">*</span>-->
                                        <!--<div class="col-md-12">ng-class="{'has-error': !myForm.txt_father_email.$valid && (myForm.txt_father_email.$touched || myForm.$submitted) }"
                                            <div class="error-container"
                                                ng-show="myForm.txt_father_email.$dirty && myForm.txt_father_email.$invalid || myForm.$submitted">
                                                <small class="help-block" ng-show="myForm.txt_father_email.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_father_email.$touched))">Enter Valid Email Id
                                                </small>
                                                <small class="error"
                                                    ng-show="myForm.txt_father_email.$error.required  && (myForm.txt_father_email.$touched || myForm.$submitted)">This Field is required.
                                                </small>
                                            </div>
                                        </div>-->
                                    </div>
                                </div>
                                <!--<div class="col-md-2" ng-show="chk_searchshow">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Mobile" | translate }}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" class="k-textbox input-sm full-width"  id="txt_father_mobile1" placeholder="Please Enter" name="txt_father_mobile1" maxlength="25" ng-maxlength="25" ng-model="edt.father_mobile" >
                                        </div>
                                    </div>

                               </div>-->


                            </div>
                        </div>



                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-2">
                                    <div class="row form-row">
                                    </div>

                                </div>



                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">
                           
                                <div class="col-md-2">
                                    <h4><span class="semi-bold">{{ "Mother Details" | translate }}</span></h4>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">
                                
                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "First Name" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.txt_mother_first_name1.$valid && (myForm.txt_mother_first_name1.$touched || myForm.$submitted) }">
                                            <input type="text" class="k-textbox input-sm full-width"  id="txt_mother_first_name1" placeholder="Please Enter" name="txt_mother_first_name1"  maxlength="50" ng-model="edt.mother_first_name" ng-disabled="Chk_parent" required><!-- ng-pattern="/^[a-zA-Z\s]*$/"-->
                                        </div>
                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.txt_mother_first_name1.$dirty && myForm.txt_mother_first_name1.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm.txt_mother_first_name1.$error.required && (myForm.txt_mother_first_name1.$touched || myForm.$submitted)">This Field is required.
                                                </small>

                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Middle Name" | translate }}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <!--ng-class="{'has-error': !myForm.txt_father_middle_name1.$valid && (myForm.txt_father_middle_name1.$touched || myForm.$submitted) }"-->
                                            <input type="text" class="k-textbox input-sm full-width"  id="txt_mother_middle_name1" placeholder="Please Enter" name="txt_mother_middle_name1" maxlength="50" ng-model="edt.mother_middle_name" ng-disabled="Chk_parent"><!--ng-pattern="/^[a-zA-Z\s]*$/"-->
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-3">

                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Last Name" | translate }}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" class="k-textbox input-sm full-width"  id="txt_mother_last_name1" placeholder="Please Enter" name="txt_mother_last_name1" maxlength="50" ng-maxlength="50" ng-minlength="1" ng-model="edt.mother_last_name" ng-disabled="Chk_parent">
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-3">

                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Nationality" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.mother_nationality.$valid && (myForm.mother_nationality.$touched || myForm.$submitted) }">
                                            <select id="Select1" name="mother_nationality" data-role="dropdownlist" class="form-control input-sm"
                                                ng-model="edt.mother_nationality1_code" required>
                                                <option value="">Please Select</option>
                                                <option ng-repeat="i in obj" ng-if="i.nationality_code.length"
                                                    value="{{i.nationality_code}}">{{i.nationality}}
                                                </option>
                                            </select>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.mother_nationality.$dirty && myForm.mother_nationality.$invalid || myForm.$submitted">
                                                <small class="error"
                                                    ng-show="myForm.mother_nationality.$error.required  && (myForm.mother_nationality.$touched || myForm.$submitted)">This Field is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-12">
                            <div class="row form-row">
                                
                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Summary Address" | translate }}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" class="k-textbox input-sm full-width"  id="txt_mother_addr" placeholder="Please Enter" name="txt_mother_addr" maxlength="100" ng-model="edt.mother_summary_address" ng-disabled="Chk_parent"><!---->
                                        </div>
                                    </div>

                                </div>



                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Civil ID" | translate }}</label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.txt_mother_national_id.$valid && (myForm.txt_mother_national_id.$touched || myForm.$submitted) }">
                                            <input type="text" class="k-textbox input-sm full-width"  id="txt_mother_national_id" placeholder="Please Enter" name="txt_mother_national_id" maxlength="15" ng-model="edt.sims_admission_mother_national_id" ng-disabled="Chk_parent" ng-pattern="/^[0-9]{1,25}$/"><!---->
                                        </div>
                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.txt_mother_national_id.$dirty && myForm.txt_mother_national_id.$invalid || myForm.$submitted">
                                                <small class="help-block" ng-show="myForm.txt_mother_national_id.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_mother_national_id.$touched))">Enter Only Digit
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Mobile" | translate }}</label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.txt_mother_mobile.$valid && (myForm.txt_mother_mobile.$touched || myForm.$submitted) }">
                                            <input type="text" class="k-textbox input-sm full-width"  id="txt_mother_mobile" placeholder="Please Enter" name="txt_mother_mobile" maxlength="25" ng-maxlength="25" ng-model="edt.mother_mobile" ng-pattern="/^\+?\d+$/"><!---->
                                        </div>
                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.txt_mother_mobile.$dirty && myForm.txt_mother_mobile.$invalid || myForm.$submitted">
                                                <small class="help-block" ng-show="myForm.txt_mother_mobile.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_mother_mobile.$touched))">Enter Valid Mobile No
                                                </small>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Email" | translate }} </label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" class="k-textbox input-sm full-width"  id="txt_mother_email" placeholder="Please Enter" name="txt_mother_email" maxlength="50" ng-model="edt.mother_email" ng-disabled="Chk_parent" ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i"><!--/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"-->
                                        </div>
                                       <!-- <span class="asterisk" style="color: red">*</span> <div class="col-md-12">ng-class="{'has-error': !myForm.txt_mother_email.$valid && (myForm.txt_mother_email.$touched || myForm.$submitted) }"
                                            <div class="error-container"
                                                ng-show="myForm.txt_mother_email.$dirty && myForm.txt_mother_email.$invalid || myForm.$submitted">
                                                <small class="help-block" ng-show="myForm.txt_mother_email.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_mother_email.$touched))">Enter Valid Email Id
                                                </small>
                                            </div>
                                        </div>-->
                                    </div>
                                </div>

                            </div>
                        </div>

                        
                            <div class="">
                                <div class="col-md-12">
                                    <div class="form-actions">
                                <div class="pull-right">
                                    <button class="btn btn-green btn-cons"  type="submit" ng-click="Update(myForm.$valid)" id="update1" ng-show="update1">{{ "Update" | translate }}</button>
                                    <button class="btn btn-primary btn-cons" type="submit" ng-show="save1" ng-click="Save(myForm.$valid)">{{ "Submit" | translate }}</button>
                                    <button class="btn btn-warning btn-cons" type="button" ng-click="Cancel()">{{ "Reset" | translate }}</button>
                                </div>
                            </div>
                                    </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<script src="assets/js/moment.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>







