﻿<!--<link href="assets/css/minovate.css" rel="stylesheet" />
<link href="assets/css/rounded_btn.css" rel="stylesheet" />-->

<style>
    ul {
        -webkit-padding-start: 0px;
    }

    .div_th {
        white-space: nowrap;
    }

    .sortorder:after {
        content: '\25b2';
    }

    .sortorder.reverse:after {
        content: '\25bc';
    }

    .wysihtml5-sandbox {
        height: 200px !important;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3>{{ "Prospect Dashboard" | translate }}<span class="semi-bold"></span></h3>
            </div>

            <div class="grid-body no-border">
                <div ng-show="display">
                    <div class="row" ng-show="notshow">
                        <div class="col-xs-4">
                            <div class="well" class="form-group">
                                <div class="form-group">
                                    <label>Current Page:</label>
                                    <input
                                        placeholder="page"
                                        class="form-control"
                                        ng-model="currentPage"
                                        ng-init="currentPage = 1" />
                                </div>
                                <div class="form-group">
                                    <label>Page Size:</label>
                                    <input
                                        placeholder="Page Size"
                                        class="form-control"
                                        ng-model="numPerPage" />
                                </div>
                                <div class="form-group">
                                    <label>Total Items:</label>
                                    <input
                                        placeholder="Total"
                                        class="form-control"
                                        ng-model="pagersize" />
                                </div>
                                <hr />
                                <div class="form-group">
                                    <label>Dots Display:</label>
                                    <input
                                        placeholder="..."
                                        class="form-control"
                                        maxlength="3"
                                        ng-model="dots"
                                        ng-init="dots = '...'" />
                                </div>

                                <hr />
                                <div class="form-group">
                                    <label>UL Class:</label>
                                    <input
                                        placeholder="pagination"
                                        class="form-control"
                                        maxlength="100"
                                        ng-model="ulClass" />
                                </div>
                                <div class="form-group">
                                    <label>Active Class:</label>
                                    <input
                                        placeholder="active"
                                        class="form-control"
                                        maxlength="100"
                                        ng-model="activeClass"
                                        ng-init="activeClass = 'active'" />
                                </div>
                                <div class="form-group">
                                    <label>Disabled Class:</label>
                                    <input
                                        placeholder="disabled"
                                        class="form-control"
                                        maxlength="100"
                                        ng-model="disabledClass"
                                        ng-init="disabledClass = 'disabled'" />
                                </div>
                                <br />
                                <table class="table">

                                    <tr>
                                        <td>
                                            <label>Show Prev Next:</label></td>
                                        <td>
                                            <input
                                                type="checkbox"
                                                ng-model="showPrevNext"
                                                ng-init="showPrevNext = true" />
                                            {{showPrevNext}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Show First Last:</label></td>
                                        <td>
                                            <input
                                                type="checkbox"
                                                ng-model="showFirstLast"
                                                ng-init="showFirstLast = true" />
                                            {{showPrevNext}}
                                        </td>
                                    </tr>
                                </table>
                                <hr />
                                <span class="btn btn-default" onclick="location.reload()">
                                    <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                                </span>
                                <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                                </span>
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label>{{ "Curriculum" | translate }} <span class="asterisk" style="color: red">*</span></label>
                            <select id="cmb_cur" name="curCode" data-role="dropdownlist" class="form-control input-sm full-width"
                                ng-model="edt.curr_code" required ng-maxlength="2" ng-minlength="1" ng-change="getCur(edt.curr_code,edt.academic_year,edt.grade_code,edt.sims_appl_parameter_reg)"
                                ng-options="item.sims_attendance_cur_code as item.sims_cur_short_name_en for item in obj2">
                                <option value="">Please Select</option>

                            </select>
                            <div class="error-container"
                                ng-show="myForm.curCode.$dirty && myForm.curCode.$invalid || myForm.$submitted">
                                <small class="error"
                                    ng-show="myForm.curCode.$error.required">Curriculum is required.
                                </small>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>{{ "Academic Year" | translate }} <span class="asterisk" style="color: red">*</span></label>
                            <select id="cmb_acad_yr" name="AcadYr" data-role="dropdownlist" class="form-control input-sm full-width"
                                ng-model="edt.academic_year" ng-change="GetGrade(edt.curr_code,edt.academic_year,edt.grade_code,edt.sims_appl_parameter_reg)"
                                ng-options="item.sims_academic_year as item.sims_academic_year_desc for item in obj1">
                                <option value="">Please Select</option>
                            </select>
                        </div>

                        


                        <div class="col-md-2">
                            <label>{{ "Grade Name" | translate }} <span class="asterisk" style="color: red">*</span></label>
                            <select id="cmb_grade" name="Grade"   multiple="multiple" class="form-control input-sm full-width"
                                ng-model="edt.grade_code" required ng-change="GetGradechage(edt.curr_code,edt.academic_year,edt.grade_code,edt.sims_appl_parameter_reg)"
                                <!--ng-options="item.sims_grade_code as item.sims_grade_name for item in obj3">-->
                                <option ng-repeat="item in obj3"
                                        value="{{item.sims_grade_code}}">
                                    {{item.sims_grade_name}}
                                </option>
                            </select>
                            <div class="error-container"
                                ng-show="myForm.Grade.$dirty && myForm.Grade.$invalid || myForm.$submitted">
                                <small class="error"
                                    ng-show="myForm.Grade.$error.required">Grade is required.
                                </small>
                            </div>
                        </div>

                           <div class="col-md-2">
                            <label>{{"Assigned Employee" | translate }} <span class="asterisk" style="color: red">*</span></label>
                            <select id="idpco" name="pco" multiple="multiple" data-role="dropdownlist" class="form-control input-sm full-width"
                                ng-model="edt.pco" required
                                ng-options="item.sims_emp_code as item.sims_emp_code_name for item in GetAllTeacherName">
                            </select>
                            <div class="error-container"
                                ng-show="myForm.pco.$dirty && myForm.idpco.$invalid || myForm.$submitted">
                                <small class="error"
                                    ng-show="myForm.pco.$error.required">PCO is required.
                                </small>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <label>{{"Application Status"|translate}} <span class="asterisk" style="color: red">*</span></label>
                            <select id="cmb_registration" name="cmb_registration" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.sims_appl_parameter_reg"
                                required ng-change="GetInfo(edt.curr_code,edt.academic_year,edt.grade_code,edt.sims_appl_parameter_reg)"
                                ng-options="item.sims_appl_parameter_reg as item.sims_appl_form_field_value1_reg for item in reg">
                                <option value="">Please Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="row margin-top">
                        <div class="col-md-1">
                            <div class="pull-left">
                                <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                                    <option value="{{x.val}}" class="form-control input-sm" ng-repeat="x in countData">{{x.data}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-8" ng-show="grid">

                            <button class="btn btn-primary btn-small" id="btn_communicate" type="button" ng-disabled="comm_btn" ng-click="getCommunicate()">
                                {{"Communicate"|translate}}
                                 <i class="fa fa-wechat"></i>
                            </button>
                            &nbsp;
                            <button class="btn btn-primary btn-small" id="btn_prospect" type="button" ng-click="getPromote()" ng-show="div_move">
                                {{"Move to Admission"|translate}}
                                 <i class="fa fa-check"></i>
                            </button>
                            &nbsp;
                               <button class="btn btn-danger btn-small" id="btn_reject" type="button" ng-show="btn_reject1" ng-click="getReject()">
                                   {{"Reject"|translate}}
                                 <i class="fa fa-times"></i>
                               </button>
                            &nbsp;
                                     <button class="btn btn-primary btn-small" id="btn_unreject" type="button" ng-show="btn_unreject" ng-click="getUnReject()">
                                         {{"Un-reject"|translate}}
                                 <i class="fa fa-times"></i>
                                     </button>
                            &nbsp;
                               <button class="btn btn-danger btn-small" id="btn_export" type="button" ng-click="exportData()">
                                   {{"Export"|translate}}
                                 <i class="fa fa-times"></i>
                               </button>

                           
                                  
                                
                                       <div style="width:120px;float:left; margin-top: 3px;">
                                                 <div class="checkbox check-success">
                                      <input type="checkbox" value="1" name="chk_Transportation" id="chk_Transportation" title="Status" ng-model="hide_flg"  class="ng-pristine ng-untouched ng-valid">
                                                     <label for="chk_Transportation">
                                       {{"Hide Column"|translate}} 
                                    </label> </div>
                                           </div>
                        </div>
                        <div class="col-md-3">
                            <div class="pull-right">
                                     
                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox full-width input-sm" autofocus="autofocus" tabindex="1" ng-change="search()">
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row margin-top">
                    <div class="col-md-12">

                        <span class="col-md-3" style="height: 4px; color: #FF6600; background-color: #FF6600;" />
                        <span class="col-md-3" style="height: 4px; color: #fdd01c; background-color: #fdd01c;" />
                        <span class="col-md-3" style="height: 4px; color: #f35958; background-color: #f35958;" />
                        <span class="col-md-3" style="height: 4px; color: #0082d4; background-color: #0082d4;" />
                    </div>
                </div>



                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div class="row margin-top" id="div712" ng-show="grid">
                        <div class="col-md-12" style="max-height:500px">
                            <table class="table table-hover table-bordered table-condensed" id="fixedtable" >
                                <thead>
                                    <tr bgcolor="#E0E0E">
                                        <th><b>&nbsp; </b></th>
                                       
                                        <th class="small-cell v-align-middle" style="z-index: 999">
                                            <div class="checkbox check-success">
                                                <input type="checkbox" name="check" value="1" id="mainchk" ng-click="check();"><!----><!--ng-click="CheckAllChecked();"-->
                                                <label for="mainchk"></label>
                                            </div>
                                        </th>


                                        <th class="div_th" ng-click="sortBy('pros_num1')"><b>{{ "Prospect Number" | translate }}</b>
                                            <span class="sortorder" ng-show="propertyName === 'pros_num1'" ng-class="{reverse: reverse}"></span>
                                        </th>
                                        <th class="div_th" ng-click="sortBy('pros_date1')"><b>{{ "Prospect Date" | translate }}</b>
                                            <span class="sortorder" ng-show="propertyName === 'pros_date1'" ng-class="{reverse: reverse}"></span>
                                        </th>

                                           <th class="div_th" ng-click="sortBy('communication_date1')"><b>{{ "Communication Date" | translate }}</b>
                                            <span class="sortorder" ng-show="propertyName === 'communication_date1'" ng-class="{reverse: reverse}"></span>
                                        </th>

                                        <th class="div_th" ng-click="sortBy('sims_follow_up_date1')"><b>{{ "Follow up Date" | translate }}</b>
                                            <span class="sortorder" ng-show="propertyName === 'sims_follow_up_date1'" ng-class="{reverse: reverse}"></span>
                                        </th>

                                          <th class="div_th" ng-click="sortBy('sims_ename')"><b>{{ "Assigned Employee" | translate }}</b>
                                            <span class="sortorder" ng-show="propertyName === 'sims_ename'" ng-class="{reverse: reverse}"></span>
                                        </th>

                                        <th class="div_th" ng-click="sortBy('stud_full_name')"><b>{{ "Student Name" | translate }}</b>
                                            <span class="sortorder" ng-show="propertyName === 'stud_full_name'" ng-class="{reverse: reverse}"></span>
                                        </th>

                                        <th class="div_th" ng-click="sortBy('fatherName')"><b>{{ "Parent Name" | translate }}</b>
                                            <span class="sortorder" ng-show="propertyName === 'fatherName'" ng-class="{reverse: reverse}"></span>
                                        </th>
                                        <th class="div_th" ng-click="sortBy('father_email')">
                                            <b>{{ "Father Email ID" | translate }}</b>
                                            <span class="sortorder" ng-show="propertyName === 'father_email'" ng-class="{reverse: reverse}"></span>
                                        </th>
                                        <th ng-hide="hide_flg" class="div_th" ng-click="sortBy('mother_email')">
                                            <b>{{ "Mother Email ID" | translate }}</b>
                                            <span class="sortorder" ng-show="propertyName === 'mother_email'" ng-class="{reverse: reverse}"></span>
                                        </th>
                                        <!-- <th class="div_th" ng-click="sortBy('guardian_email')">
                                        <b>{{ "Guardian Email ID" | translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'guardian_email'" ng-class="{reverse: reverse}"></span>
                                    </th>-->
                                        <th class="div_th" ng-click="sortBy('father_mobile')">
                                            <b>{{ "Father Mobile" | translate }}</b>
                                            <span class="sortorder" ng-show="propertyName === 'father_mobile'" ng-class="{reverse: reverse}"></span>
                                        </th>

                                        <!-- <td><b>{{"Curriculum" | translate }}</b></td>
                                     <td><b>{{ "Academic Year" | translate }}</b></td>-->


                                        <th class="div_th" ng-click="sortBy('grade_name')"><b>{{ "Grade" | translate }}</b>
                                            <span class="sortorder" ng-show="propertyName === 'grade_name'" ng-class="{reverse: reverse}"></span>
                                        </th>

                                        <th class="div_th" ng-click="sortBy('gender')"><b>{{ "Gender" | translate }}</b>
                                            <span class="sortorder" ng-show="propertyName === 'gender'" ng-class="{reverse: reverse}"></span>
                                        </th>

                                        <th class="div_th" ng-click="sortBy('birth_date')"><b>{{ "Birth Date" | translate }}</b>
                                            <span class="sortorder" ng-show="propertyName === 'birth_date'" ng-class="{reverse: reverse}"></span>
                                        </th>


                                        <th class="div_th" ng-click="sortBy('age')"><b>{{ "Age" | translate }}</b>
                                            <span class="sortorder" ng-show="propertyName === 'age'" ng-class="{reverse: reverse}"></span>
                                        </th>


                                        <th class="div_th" ng-hide="hide_flg" ng-click="sortBy('sims_pros_national_id')"><b>{{ "National ID" | translate }}</b>
                                            <span class="sortorder" ng-show="propertyName === 'sims_pros_national_id'" ng-class="{reverse: reverse}"></span>
                                        </th>


                                     

                                        <th  ng-hide="hide_flg" class="div_th" ng-click="sortBy('nation')"><b>{{ "Nationality" | translate }}</b>
                                            <span class="sortorder" ng-show="propertyName === 'nation'" ng-class="{reverse: reverse}"></span>
                                        </th>


                                        <th ng-hide="hide_flg" class="div_th" ng-click="sortBy('sibling_enroll')"><b>{{ "Sibling Enroll No." | translate }}</b>
                                            <span class="sortorder" ng-show="propertyName === 'sibling_enroll'" ng-class="{reverse: reverse}"></span>
                                        </th>


                                        <th class="div_th" ng-click="sortBy('sims_pros_attribute1')"><b>{{ "Source " | translate }}</b>
                                            <span class="sortorder" ng-show="propertyName === 'sims_pros_attribute1'" ng-class="{reverse: reverse}"></span>
                                        </th>

                                         <th class="div_th" ng-click="sortBy('sims_pros_marketing_description')"><b>{{ "Hear about us " | translate }}</b>
                                            <span class="sortorder" ng-show="propertyName === 'sims_pros_marketing_description'" ng-class="{reverse: reverse}"></span>
                                        </th>

                                      
                                         

                                         <th><b>&nbsp; </b></th>
                                     
                                        <th><b>&nbsp;</b></th>
                                        <!--  <th class="div_th" ng-click="sortBy('sims_admission_quota_code')"><b>{{ "Management Quota" | translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'sims_admission_quota_code'" ng-class="{reverse: reverse}"></span>
                                    </th>


                                    <th class="div_th" ng-click="sortBy('sims_admission_recommendation')"><b>{{ "Recommendation" | translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'sims_admission_recommendation'" ng-class="{reverse: reverse}"></span>
                                    </th>-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dashboard in filteredTodos | orderBy:propertyName:reverse" ng-class="row1">
                                       
                                        <td>
                                            <div>
                                                <a><i class="fa fa-wechat" style="font-size: large; color: #0b9c8f" ng-click="getcommunication(dashboard.pros_num)"></i></a>
                                            </div>
                                        </td>
                                        <!-- <td>
                                         <div>
                                              <a><i class="fa fa-money" style="font-size:large;color:#0090d9" ng-click="feeCollect()"></i></a>
                                         </div>
                                     </td>-->
                                        
                                        <td>
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" name="check" value="1" id="{{dashboard.pros_num}}" ng-model="dashboard.pros_num1" ng-click="check1(dashboard);">
                                                <label for="{{dashboard.pros_num}}">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <a href="" style="color: blue" ng-click="link(dashboard.pros_num)">{{dashboard.pros_num}}</a>
                                        </td>
                                        <td class="div_th">
                                            <div>{{dashboard.pros_date}}</div>
                                        </td>
                                          <td class="div_th">
                                            <div>{{dashboard.communication_date}}</div>
                                        </td>
                                        <td class="div_th">
                                            <div ng-hide="true"> <span ng-if="dashboard.sims_follow_up_date==today_date" style="color:yellow">{{dashboard.sims_follow_up_date}} </span>

                                                 <span ng-if="dashboard.communication_date!=dashboard.sims_follow_up_date && dashboard.sims_follow_up_date < today_date" style="color:red" >  {{dashboard.sims_follow_up_date}} </span>
                                           
                                                 <span ng-if="dashboard.communication_date!=dashboard.sims_follow_up_date && dashboard.sims_follow_up_date > today_date" >  {{dashboard.sims_follow_up_date}} </span>
                                                
                                                 </div>
                                            {{dashboard.sims_follow_up_date}} 

                                        </td>

                                           <td  class="div_th">
                                            <div>{{dashboard.sims_ename}}</div>
                                        </td>
                                        <td class="div_th">
                                            <div>{{dashboard.stud_full_name}}</div>
                                        </td>
                                        <td class="div_th">
                                            <div>{{dashboard.fatherName}}</div>
                                        </td>
                                        <td class="div_th">
                                            <div>{{dashboard.father_email}}</div>
                                        </td>
                                        <td ng-hide="hide_flg" class="div_th">
                                            <div>{{dashboard.mother_email}}</div>
                                        </td>
                                        <!--<td class="div_th">
                                        <div>{{dashboard.guardian_email}}</div>
                                    </td>-->
                                        <td class="div_th">
                                            <div>{{dashboard.father_mobile}}</div>
                                        </td>
                                        <!--<td>
                                        <div>{{dashboard.curr_name}}</div>
                                    </td>
                                    <td>
                                        <div>{{dashboard.academic_year}}</div>
                                    </td>-->


                                        <td class="div_th">
                                            <div>{{dashboard.grade_name}}</div>
                                        </td>
                                        <td class="div_th">
                                            <div>{{dashboard.gender}}</div>
                                        </td>
                                        <td class="div_th">
                                            <div>{{dashboard.birth_date}}</div>
                                        </td>

                                        <td class="div_th">
                                            <div>{{dashboard.age}}</div>
                                        </td>


                                        <td ng-hide="hide_flg" class="div_th">
                                            <div>{{dashboard.sims_pros_national_id}}</div>
                                        </td>
                                      
                                        <td  ng-hide="hide_flg" class="div_th">
                                            <div>{{dashboard.nation}}</div>
                                        </td>
                                        <td ng-hide="hide_flg" class="div_th">
                                            <div>{{dashboard.sibling_enroll}}</div>
                                        </td>

                                        <td class="div_th" >
                                            <div ng-if="dashboard.sims_pros_attribute1=='A'">Website </div>
                                            <div ng-if="dashboard.sims_pros_attribute1=='M'">Walk In</div>
                                            <div ng-if="dashboard.sims_pros_attribute1=='R'">Referral</div>
                                            <div ng-if="dashboard.sims_pros_attribute1==''">Prospect Form </div>

                                        </td>

                                        <td  class="div_th">
                                            <div>{{dashboard.sims_pros_marketing_description}}</div>
                                        </td>

                                      
                                        

                                         <td>
                                            <div>
                                                <span class="btn btn-white btn-xs btn-mini" style="background-color: rgb(243, 125, 26); color: white" ng-click="Printdashboard(dashboard.pros_num)"><b>{{"Print"|translate}}</b></span>
                                            </div>
                                        </td>
<td class="div_th">
                                            <span class="btn btn-white btn-xs btn-mini" style="background-color: rgb(243, 125, 26); color: white" ng-click="MoveToAdmission(dashboard)" ng-disabled="edt.sims_appl_parameter_reg!='1'"><b>{{"Move To Admission"|translate}}</b></span>
                                        </td>
                                        <!--<td class="div_th">
                                        <div>{{dashboard.sims_admission_quota_code}}</div>
                                    </td>
                                    <td>
                                        <div>{{dashboard.sims_admission_recommendation}}</div>
                                    </td>-->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" ng-show="pager">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                    scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                    paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                    ng-click="index(currentPage)">
                        </paging>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="commnModal" ng-style="style" tabindex="-1">
    <div class="modal-dialog" id="Div14">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="commnModaldisplay()">&times;</span></button>
                <h5 class="semi-bold pull-left">{{"Communication"| translate }}</h5>

                <br />
            </div>
            <div class="modal-body" style="background-color: white">
                <div class="loading" style="font-weight: bold; font-size: 20px; color: black;" ng-hide="display">
                    {{ "Loading..." | translate }}
                </div>
                <div id="Div15" class="dataTables_wrapper form-inline">
                    <div class="grid-body no-border">
                        <div ng-show="display1">
                            <div class="col-md-12">
                                <form name="myForm1" ng-submit="commOk_btn(myForm1.$valid)" novalidate="novalidate">
                                    <!---->
                                    <div class="row" ng-show="notshow">
                                        <div class="col-xs-4">
                                            <div class="well" class="form-group">
                                                <div class="form-group">
                                                    <label>Current Page:</label>
                                                    <input
                                                        placeholder="page"
                                                        class="form-control"
                                                        ng-model="currentPage1"
                                                        ng-init="currentPage1 = 1" />
                                                </div>
                                                <div class="form-group">
                                                    <label>Page Size:</label>
                                                    <input
                                                        placeholder="Page Size"
                                                        class="form-control"
                                                        ng-model="numPerPage1" />
                                                </div>
                                                <div class="form-group">
                                                    <label>Total Items:</label>
                                                    <input
                                                        placeholder="Total"
                                                        class="form-control"
                                                        ng-model="pagersize1" />
                                                </div>
                                                <hr />
                                                <div class="form-group">
                                                    <label>Dots Display:</label>
                                                    <input
                                                        placeholder="..."
                                                        class="form-control"
                                                        maxlength="3"
                                                        ng-model="dots1"
                                                        ng-init="dots1 = '...'" />
                                                </div>

                                                <hr />
                                                <div class="form-group">
                                                    <label>UL Class:</label>
                                                    <input
                                                        placeholder="pagination"
                                                        class="form-control"
                                                        maxlength="100"
                                                        ng-model="ulClass1" />
                                                </div>
                                                <div class="form-group">
                                                    <label>Active Class:</label>
                                                    <input
                                                        placeholder="active"
                                                        class="form-control"
                                                        maxlength="100"
                                                        ng-model="activeClass1"
                                                        ng-init="activeClass1 = 'active'" />
                                                </div>
                                                <div class="form-group">
                                                    <label>Disabled Class:</label>
                                                    <input
                                                        placeholder="disabled"
                                                        class="form-control"
                                                        maxlength="100"
                                                        ng-model="disabledClass1"
                                                        ng-init="disabledClass1 = 'disabled'" />
                                                </div>
                                                <br />
                                                <table class="table">

                                                    <tr>
                                                        <td>
                                                            <label>Show Prev Next:</label></td>
                                                        <td>
                                                            <input
                                                                type="checkbox"
                                                                ng-model="showPrevNext1"
                                                                ng-init="showPrevNext1 = true" />
                                                            {{showPrevNext}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label>Show First Last:</label></td>
                                                        <td>
                                                            <input
                                                                type="checkbox"
                                                                ng-model="showFirstLast1"
                                                                ng-init="showFirstLast1 = true" />
                                                            {{showPrevNext}}
                                                        </td>
                                                    </tr>
                                                </table>
                                                <hr />
                                                <span class="btn btn-default" onclick="location.reload()">
                                                    <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                                                </span>
                                                <span class="btn btn-success" ng-click="currentPage1 = 0">Apply Settings
                                                </span>
                                                <br />
                                                <br />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="form-label-sm">{{ "Communication Method" | translate }}</label>
                                            <div ng-class="{'has-error': !myForm1.cmb_method.$valid && (myForm1.cmb_method.$touched || myForm1.$submitted) }">
                                                <select id="cmb_method" name="cmb_method" data-role="dropdownlist" class="form-control input-sm full-width"
                                                    ng-model="temp.comm_method" required style="margin-bottom: 2px">
                                                    <option value="">Please Select</option>
                                                    <option ng-repeat="k in method_data" value="{{k.comm_method}}">{{k.comm_mode_desc}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="error-container"
                                                ng-show="myForm1.cmb_method.$dirty && myForm1.cmb_method.$invalid || myForm1.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm1.cmb_method.$error.required && (myForm1.cmb_method.$touched || myForm1.$submitted)">This Field is required.
                                                </small>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <label class="form-label-sm">{{ "Date" | translate }}</label>
                                            <!--   <div class="input-append success date col-md-4 no-padding" style="width: auto;z-index:9999">-->
                                            <input type="text" id="dp_admdate" required placeholder="Select Date" name="dp_admdate" class="k-textbox input-sm full-width" ng-model="temp.comm_date">
                                            <!--<span class="add-on" style="height: 30px; padding-top: 0px"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                            <!-- </div>-->

                                            <div class="error-container"
                                                ng-show="myForm1.dp_admdate.$dirty && myForm1.dp_admdate.$invalid || myForm1.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm1.dp_admdate.$error.required && (myForm1.dp_admdate.$touched || myForm1.$submitted)">This Field is required.
                                                </small>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <label class="form-label-sm">{{ "Description" | translate }}</label>
                                            <div ng-class="{'has-error': !myForm1.txt_desc.$valid && (myForm1.txt_desc.$touched || myForm1.$submitted) }">
                                                <textarea id="text-editor1" name="txt_desc" required placeholder="Enter text ..." class="form-control" maxlength="200" rows="3" style="text-align: left; width: 100%; resize: none" ng-model="temp.comm_desc"></textarea>
                                            </div>

                                            <div class="error-container"
                                                ng-show="myForm1.txt_desc.$dirty && myForm1.txt_desc.$invalid || myForm1.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm1.txt_desc.$error.required && (myForm1.txt_desc.$touched || myForm1.$submitted)">This Field is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="form-label-sm">{{ "Enquirer Remark" | translate }}</label>
                                            <div ng-class="{'has-error': !myForm1.txt_enqRemark.$valid && (myForm1.txt_enqRemark.$touched || myForm1.$submitted) }">
                                                <textarea id="Textarea1" name="txt_enqRemark" required placeholder="Enter text ..." class="form-control" rows="3" maxlength="200" style="text-align: left; width: 100%; resize: none" ng-model="temp.enq_rem"></textarea>
                                            </div>
                                            <div class="error-container"
                                                ng-show="myForm1.txt_enqRemark.$dirty && myForm1.txt_enqRemark.$invalid || myForm1.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm1.txt_enqRemark.$error.required && (myForm1.txt_enqRemark.$touched || myForm1.$submitted)">This Field is required.
                                                </small>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="form-label">{{ "Status" | translate }}</label>
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" value="1" name="Checkbox2" id="Checkbox2" title="Status" required ng-model="temp.status">
                                                <label for="Checkbox2" />
                                            </div>
                                        </div>
                                    </div>



                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="pull-right">
                                                <button class="btn btn-primary btn-cons" type="submit">Ok</button>
                                                <button class="btn btn-danger btn-cons" ng-click="commcancel_btn()"><b>Cancel</b></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div ng-show="grid1">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="pull-left">
                                    <select id="Select7" style="width: 65px" class="input-sm" name="user" ng-model="pagesize1" ng-change="size1(pagesize1)">

                                        <option value="10" class=" form-control input-sm">10
                                        </option>

                                        <option value="20" class=" form-control input-sm">20
                                        </option>

                                        <option value="All" class=" form-control input-sm">All
                                        </option>
                                    </select>
                                </div>
                                &nbsp;
                            <button class="btn btn-primary btn-small" type="button" ng-click="New()" ng-show="false"><span class="semi-bold">+&nbsp;</span>New</button>
                            </div>
                            <div class="col-md-6">
                                <div class="pull-right">
                                    <div class="dataTables_filter" id="example_filter">
                                        <span class="k-textbox k-space-right full-width">
                                            <input type="text" aria-controls="example" ng-model="searchText1" placeholder="Description/Date" class="input-medium" autofocus="autofocus" tabindex="1" ng-change="search1()">
                                            <a href="#" class="k-icon k-i-search">&nbsp;</a></span>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="Div1" class="dataTables_wrapper form-inline">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-hover table-bordered  table-condensed dataTable" aria-describedby="example2_info" id="fixedtable1">
                                        <thead>
                                            <tr bgcolor="#E0E0E">
                                                <th class="div_th" ng-click="sortBy('pros_num')">
                                                    <b>{{ "Prospect Number" | translate }}</b>
                                                    <span class="sortorder" ng-show="propertyName === 'pros_num'" ng-class="{reverse: reverse}"></span>
                                                </th>
                                                <td class="div_th">{{"Communication Method"| translate }}</td>
                                                <td class="div_th">{{"Date"| translate }}</td>
                                                <td class="div_th">{{"Description"| translate }}</td>
                                                <td class="div_th">{{"Enquirer Remark"| translate }}</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr id="{{$index}}" ng-repeat="comm in filteredTodos1">
                                                <td class="div_th">{{comm.pros_num}}</td>
                                                <td class="div_th">{{comm.comm_mode_desc}}</td>
                                                <td class="div_th">{{comm.comm_date}}</td>
                                                <td class="div_th">{{comm.comm_desc}}</td>
                                                <td class="div_th">{{comm.enq_rem}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row" ng-show="pager1">
                                <div class="col-md-12">
                                    <div class="pull-right">
                                        <paging class="small" page="currentPage1" page-size="pageSize1" total="pagersize1" pg-href="#GotoPage-{page1}" dots="{{dots1}}" show-prev-next="{{showPrevNext1}}"
                                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass1}}" active-class="{{activeClass1}}" disabled-class="{{disabledClass1}}" show-first-last="{{showFirstLast1}}"
                                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize1, totalItems1)"
                                            ng-click="index1(currentPage1)">
                      </paging>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>

            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="commnDetailsModal" ng-style="style">
    <!--tabindex="-1"-->
    <div class="modal-dialog" id="Div20" style="width: 80%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="Cancel()"><span aria-hidden="true">&times;</span></button>
                <h5 class="semi-bold pull-left">{{"Dashboard Details"| translate }}</h5>
                <br />
            </div>
            <div class="modal-body" style="background-color: white;">
                <div class="loading" style="font-weight: bold; font-size: 20px; color: black;" ng-hide="display">
                    {{ "Loading..." | translate }}
                </div>
                <div class="grid-body no-border">
                    <ul class="nav nav-tabs" id="tab-01">
                        <li class="active"><a href="#email">{{"Email"|translate}}</a></li>
                        <li  ng-hide="hide_tel"><a href="#telephonic" >{{"Telephonic"|translate}}</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="email">
                            <div class="row column-seperation">
                                <div class="tab-pane" id="Div9" aria-expanded="true">

                                    <div class="col-md-12" ng-show="show_commu">
                                        <div id="Div2" class="dataTables_wrapper form-inline">
                                            <div class="row">

                                                <div class="col-md-4">


                                                    <label class="form-label-sm">{{ "Select" | translate }}</label>

                                                    <select id="Select5" name="grade" data-role="dropdownlist" class="form-control input-sm full-width"
                                                        ng-model="email.sims_msg_subject" ng-change="getbody(email.sims_msg_subject)"
                                                        ng-options="item.sims_msg_subject as item.sims_msg_subject for item in template_data" style="width: 100%">
                                                        <!-- <option value="">Template</option>
                                                <option ng-repeat="k in template_data" value="{{k.sims_msg_subject}}">{{k.sims_msg_subject}}
                                                </option>-->
                                                    </select>
                                                </div>


                                                <div class="col-md-6">

                                                    <label class="form-label-sm">{{ "CC To" | translate }}</label>

                                                    <input style="margin-bottom: 10px; width: 100%" class="form-control input-sm" ng-model="email.ccTo" />

                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table table-bordered table-condensed dataTable" aria-describedby="example2_info">
                                                        <!--  <tr bgcolor="#E0E0E">
                                        <td class="td">&nb</td>
                                        <td class="td">{{"Criteria"| translate }}</td>
                                    </tr>-->
                                                        <tr ng-repeat="email in emailId_data" ng-class="row1">
                                                            <td class="small-cell v-align-middle">
                                                                <div class="checkbox check-success" style="height: 20px">
                                                                    <input type="checkbox" name="check" value="1" id="{{email.emailid+$index}}" ng-model="email.chk_email">
                                                                    <label for="{{email.emailid+$index}}">
                                                                    </label>
                                                                </div>
                                                            </td>
                                                            <td class="td">{{email.emailid}}
                                                &nbsp;&nbsp;<div class="fa fa-times" ng-if="email.emailid!=''" ng-click="CancelEmailId($index)"></div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="form-label-sm">{{ "Description" | translate }}</label>
                                                    <div class="grid simple" style="display: -webkit-box; margin-top: 0px">
                                                        <div class="tools">
                                                            <a href="javascript:;" class="collapse"></a>
                                                            <a href="#grid-config" data-toggle="modal" class="config"></a>
                                                            <a href="javascript:;" class="reload"></a>
                                                            <a href="javascript:;" class="remove"></a>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <textarea id="text-editor" name="editor" data-bind="wysihtml5: $data.ExampleText" required placeholder="Enter text ..." class="form-control" rows="8" style="text-align: left; width: 100%" ng-model="email.msgbody"></textarea>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-md-12">
                                                <div class="pull-right">
                                                    <span class="btn btn-white btn-xs btn-mini" style="background-color: rgb(243, 125, 26); color: white" ng-click="sendMail()"><b>Send Mail</b></span>
                                                    <span class="btn btn-white btn-xs btn-mini" ng-click="commnModaldisplay()"><b>Cancel</b></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <!--email show-->
                                    <div ng-hide="show_commu">

                        <div class="row" >
                            <div class="col-md-6">
                                <div class="pull-left">
                                    <select id="Select2" style="width: 65px" class="input-sm" name="user" ng-model="pagesize1" ng-change="size1(pagesize1)">

                                        <option value="10" class=" form-control input-sm">10
                                        </option>

                                        <option value="20" class=" form-control input-sm">20
                                        </option>

                                        <option value="All" class=" form-control input-sm">All
                                        </option>
                                    </select>
                                </div>
                                &nbsp;
                            <button class="btn btn-primary btn-small" type="button" ng-click="New()" ng-show="false"><span class="semi-bold">+&nbsp;</span>New</button>
                            </div>
                            <div class="col-md-6">
                                <div class="pull-right">
                                    <div class="dataTables_filter" id="Div5">
                                        <span class="k-textbox k-space-right full-width">
                                            <input type="text" aria-controls="example" ng-model="searchText1" placeholder="Description/Date" class="input-medium" autofocus="autofocus" tabindex="1" ng-change="search1()">
                                            <a href="#" class="k-icon k-i-search">&nbsp;</a></span>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="Div6" class="dataTables_wrapper form-inline">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-hover table-bordered  table-condensed dataTable" aria-describedby="example2_info" id="Table1">
                                        <thead>
                                            <tr bgcolor="#E0E0E">
                                                <td class="div_th">{{"Prospect No"| translate }}</td>
                                                <td class="div_th">{{"Communication Method"| translate }}</td>
                                                <td class="div_th">{{"Date"| translate }}</td>
                                                <td class="div_th">{{"Description"| translate }}</td>
                                                <td class="div_th">{{"Enquirer Remark"| translate }}</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr id="Tr1" ng-repeat="comm in filteredTodos1">
                                                <td class="div_th">{{comm.pros_num}}</td>
                                                <td class="div_th">{{comm.comm_mode_desc}}</td>
                                                <td class="div_th">{{comm.comm_date}}</td>
                                                <td class="div_th">{{comm.comm_desc}}</td>
                                                <td class="div_th">{{comm.enq_rem}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row" ng-show="pager1">
                                <div class="col-md-12">
                                    <div class="pull-right">
                                        <paging class="small" page="currentPage1" page-size="pageSize1" total="pagersize1" pg-href="#GotoPage-{page1}" dots="{{dots1}}" show-prev-next="{{showPrevNext1}}"
                                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass1}}" active-class="{{activeClass1}}" disabled-class="{{disabledClass1}}" show-first-last="{{showFirstLast1}}"
                                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize1, totalItems1)"
                                            ng-click="index1(currentPage1)">
                      </paging>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="telephonic">
                            <div class="row column-seperation">
                                <div class="tab-pane" id="Div3" aria-expanded="true">


                                    <div class="row" ng-show="show_commu">
                                        <div class="col-md-12">
                                            <div class="grid-simple white-bg p-t-10 p-b-10 p-l-10 p-r-10">


                                                <!--Display-->
                                                <div >
                                                    <form name="Myform1" ng-submit="save_tel(Myform1.$valid)" novalidate="novalidate">

                                                        <div class="grid-simple white-bg p-t-10 p-b-10 p-l-10 p-r-10">



                                                            <div class="row">

                                                                <div class="col-md-2" ng-class="{'has-error': !Myform1.id_field3.$valid && (Myform1.id_field3.$touched || Myform1.$submitted) }">
                                                                    <label>{{"Prospect Number"| translate}} <span style="color: red">*</span></label>
                                                                    <input type="text" name="id_field3" ng-model="int.sims_comm_user_code"  ng-readonly="true" class="k-textbox input-sm full-width" required />

                                                                    <p class="help-block" ng-show="Myform1.id_field3.$error.maxlength  &&  (Myform1.id_field3.$touched || Myform1.$submitted)">
                                                                        Max Length 5 Character Allowed
                                                                    </p>
                                                                    <p class="help-block" ng-show="Myform1.id_field3.$error.required  &&  (Myform1.id_field3.$touched || Myform1.$submitted)">
                                                                        This Field is Reqiured
                                                                    </p>
                                                                </div>

                                                                <div class="col-md-3" ng-class="{'has-error': !Myform1.id_field1.$valid && (Myform1.id_field1.$touched || Myform1.$submitted) }">
                                                                    <label>{{"School Remark"| translate}} <span style="color: red">*</span></label>
                                                                    <input type="text" name="id_field1" ng-model="int.sims_comm_message_remark" ng-maxlength="200" ng-readonly="gtdreadonly" class="k-textbox input-sm full-width" required />

                                                                    <p class="help-block" ng-show="Myform1.id_field1.$error.maxlength  &&  (Myform1.id_field1.$touched || Myform1.$submitted)">
                                                                        Max Length 200 Character Allowed
                                                                    </p>
                                                                    <p class="help-block" ng-show="Myform1.id_field1.$error.required  &&  (Myform1.id_field1.$touched || Myform1.$submitted)">
                                                                        This Field is Reqiured
                                                                    </p>
                                                                </div>

                                                                <div class="col-md-3" ng-class="{'has-error': !Myform1.id_field1.$valid && (Myform1.id_field1.$touched || Myform1.$submitted) }">
                                                                    <label>{{"Parent Remark"| translate}}  <span style="color: red">*</span></label>
                                                                    <input type="text" name="id_field2" ng-model="int.sims_comm_message_feedback" ng-maxlength="200" ng-readonly="gtdreadonly" class="k-textbox input-sm full-width" required />

                                                                    <p class="help-block" ng-show="Myform1.id_field2.$error.maxlength  &&  (Myform1.id_field2.$touched || Myform1.$submitted)">
                                                                        Max Length 200 Character Allowed
                                                                    </p>
                                                                    <p class="help-block" ng-show="Myform1.id_field2.$error.required  &&  (Myform1.id_field2.$touched || Myform1.$submitted)">
                                                                        This Field is Reqiured
                                                                    </p>


                                                                </div>
                                                                <div class="col-md-2" ng-class="{'has-error': !Myform1.comn_date.$valid && (Myform1.comn_date.$touched || Myform1.$submitted) }">
                                                                    <label id="Label16" for="txt_full_name" class="form-label">{{"Date"| translate }}  <span style="color: red">*</span></label>
                                                                   
                                                                        <input id="txt_comn_date" name="comn_date" ng-disabled="true" class="k-textbox input-sm full-width" ng-model="int.sims_comm_date" required>
                                                                     <p class="help-block" ng-show="Myform1.comn_date.$error.required  &&  (Myform1.comn_date.$touched || Myform1.$submitted)">
                                                                        This Field is Reqiured
                                                                    </p>
                                                                   
                                                                    
                                                                </div>

                                                                  <div class="col-md-2" ng-class="{'has-error': !Myform1.follow_date.$valid && (Myform1.follow_date.$touched || Myform1.$submitted) }">
                                                                    <label id="txt" for="txt_full_name" class="form-label">{{"Follow up Date"| translate }}  <span style="color: red">*</span></label>
                                                                  
                                                                        <input id="term_1_start_dt" name="follow_date" class="k-textbox input-sm full-width" ng-model="int.sims_follow_up_date" required>
                                                                     <p class="help-block" ng-show="Myform1.follow_date.$error.required  &&  (Myform1.follow_date.$touched || Myform1.$submitted)">
                                                                        This Field is Reqiured
                                                                    </p>
                                                                   
                                                                    
                                                                </div>
                                                                <!--<div class="col-md-1">
                                                                    <label id="Label2" for="txt_full_name" style="text-align:right" class="form-label">{{"User :"| translate }}</label>

                                                                   
                                                                </div>-->
                                                               

                                                            </div>

                                                             <div class="row">
                                                             <div class="col-md-2">
                                                                     <label>{{"User :"| translate }} <b>{{users}} User  </b></label>
                                                                    </div>
                                                                 </div>

                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="pull-right">
                                                                    <button type="submit" id="desigsub" ng-show="save_btn" ng-disabled="Myform1.$invalid" class="btn btn-primary btn-small">{{"Save"| translate}}</button>
                                                                    <button type="button" ng-show="Update_btn" ng-click="update_tel(Myform1.$valid);" ng-disabled="Myform1.$invalid" class="btn btn-primary btn-small">{{"Update"| translate}}</button>
                                                                    <button type="button" ng-show="cancel_btn" ng-click="Cancel_tel()" id="Button1" class="btn btn-primary btn-small">{{"Cancel"| translate}}</button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>


                                                <!--  Table-->
                                                <div ng-show="table">
                                                    <div class="grid-simple white-bg p-t-5 p-b-2 p-l-10 p-r-10">

                                                        <!--   <div class="col-md-1">
                        <select id="Select3" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                             <option value="10" class=" form-control input-sm">
                                10
                            </option>

                            <option value="20" class=" form-control input-sm">
                                20
                            </option>

                            <option value="All" class=" form-control input-sm">
                                All
                            </option>
                        </select>
               </div>-->
                                                        <br />
                                                        <br />
                                                        <div id="Div4" class="dataTables_wrapper form-inline">
                                                            <table class="table table-striped table-condensed" id="example2">

                                                                <thead>
                                                                    <tr style="background-color: #edefef">
                                                                        <!-- <th class="small-cell v-align-middle" style="z-index:1">
                                        
                                            <input id="mainchk" type="checkbox" ng-model="main_Chk" value="1" ng-click="CheckAllChecked()">
                                            <label for="mainchk"></label>
                                        
                                    </th>-->
                                                                        <th class="semi-bold">{{"Sr No" | translate}}</th>
                                                                        <th class="div_th" ng-click="sortBy('sims_comm_user_code')">
                                                                            <b>{{ "Prospect Number" | translate }}</b>
                                                                            <span class="sortorder" ng-show="propertyName === 'sims_comm_user_code'" ng-class="{reverse: reverse}"></span>
                                                                        </th>
                                                                        <th class="div_th" ng-click="sortBy('sims_comm_message_remark')">
                                                                            <b>{{ "School Remark" | translate }}</b>
                                                                            <span class="sortorder" ng-show="propertyName === 'sims_comm_message_remark'" ng-class="{reverse: reverse}"></span>
                                                                        </th>
                                                                        <!--<th class="semi-bold">{{"School Remark" | translate}} </th>-->
                                                                        <th class="div_th" ng-click="sortBy('sims_comm_message_feedback')">
                                                                            <b>{{ "Parent Remark" | translate }}</b>
                                                                            <span class="sortorder" ng-show="propertyName === 'sims_comm_message_feedback'" ng-class="{reverse: reverse}"></span>
                                                                        </th>
                                                                        <!--<th class="semi-bold">{{"Parent Remark"| translate}}</th>-->
                                                                        <th class="div_th" ng-click="sortBy('sims_comm_date1')">
                                                                            <b>{{ "Date" | translate }}</b>
                                                                            <span class="sortorder" ng-show="propertyName === 'sims_comm_date1'" ng-class="{reverse: reverse}"></span>
                                                                        </th>
                                                                        <!--<th class="semi-bold">{{"Date"| translate}}</th>-->
                                                                        <th class="div_th" ng-click="sortBy('sims_follow_up_date1')">{{"Follow up Date"| translate}}
                                                                            <span class="sortorder" ng-show="propertyName === 'sims_follow_up_date1'" ng-class="{reverse: reverse}"></span>
                                                                        </th>
                                                                        <th class="div_th" ng-click="sortBy('sims_comm_user_by')">{{"User"| translate}}
                                                                            <span class="sortorder" ng-show="propertyName === 'sims_comm_user_by'" ng-class="{reverse: reverse}"></span>
                                                                        </th>
                                                                        <th class="div_th"  ng-hide="true">
                                                                            <label><i class="fa fa-cogs"></i></label>
                                                                        </th>

                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="row1 in CreDiv | orderBy:propertyName:reverse" ng-class="row1">
                                                                        <!-- <td><input id="{{row1.id+$index}}" type="checkbox" value="0" ng-model="r.chk" ng-click="checkonebyonedelete()"></td>-->
                                                                        <td>{{$index+1}}</td>
                                                                        <td>{{row1.sims_comm_user_code}}</td>
                                                                        <td>{{row1.sims_comm_message_remark}}</td>
                                                                        <td>{{row1.sims_comm_message_feedback}}</td>
                                                                        <td>{{row1.sims_comm_date}}</td>
                                                                        <td>{{row1.sims_follow_up_date}}
                                                                        </td>

                                                                        <td>{{row1.sims_comm_user_by}}</td>

                                                                        <td ng-click="edit_tel(row1)"  ng-hide="true">
                                                                            <a href=""><i class="fa fa-edit"></i></a></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>

                                                        <div>
                                                            <div class="row" ng-show="false">
                                                                <div class="col-md-12">

                                                                    <div class="pull-right">
                                                                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                                                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                                                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                                                            ng-click="index(currentPage)">
                                </paging>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>



                                        </div>
                                    </div>

                                   <!-- telephone  show-->
                                    <div  ng-hide="show_commu">
                                                    <div class="grid-simple white-bg p-t-5 p-b-2 p-l-10 p-r-10">

                                               
                                                        <br />
                                                        <br />
                                                        <div id="Div7" class="dataTables_wrapper form-inline">
                                                            <table class="table table-striped table-condensed" id="Table2">

                                                                <thead>
                                                                    <tr style="background-color: #edefef">
                                               
                                                                        <th class="semi-bold">{{"Sr No" | translate}}</th>
                                                                        <th class="div_th" ng-click="sortBy('sims_comm_user_code')">
                                                                            <b>{{ "Prospect Number" | translate }}</b>
                                                                            <span class="sortorder" ng-show="propertyName === 'sims_comm_user_code'" ng-class="{reverse: reverse}"></span>
                                                                        </th>
                                                                        <th class="div_th" ng-click="sortBy('sims_comm_message_remark')">
                                                                            <b>{{ "School Remark" | translate }}</b>
                                                                            <span class="sortorder" ng-show="propertyName === 'sims_comm_message_remark'" ng-class="{reverse: reverse}"></span>
                                                                        </th>
                                                                        
                                                                        <th class="div_th" ng-click="sortBy('sims_comm_message_feedback')">
                                                                            <b>{{ "Parent Remark" | translate }}</b>
                                                                            <span class="sortorder" ng-show="propertyName === 'sims_comm_message_feedback'" ng-class="{reverse: reverse}"></span>
                                                                        </th>
                                                                        
                                                                        <th class="div_th" ng-click="sortBy('sims_comm_date1')">
                                                                            <b>{{ "Date" | translate }}</b>
                                                                            <span class="sortorder" ng-show="propertyName === 'sims_comm_date1'" ng-class="{reverse: reverse}"></span>
                                                                        </th>
                                                                        
                                                                        <th class="div_th" ng-click="sortBy('sims_follow_up_date1')">{{"Follow up Date"| translate}}
                                                                             <span class="sortorder" ng-show="propertyName === 'sims_follow_up_date1'" ng-class="{reverse: reverse}"></span>
                                                                        </th>

                                                                        <th  class="div_th" ng-click="sortBy('sims_comm_user_by')">{{"User"| translate}}
                                                                             <span class="sortorder" ng-show="propertyName === 'sims_comm_user_by'" ng-class="{reverse: reverse}"></span>
                                                                        </th>
                                                                       

                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="row1 in CreDiv | orderBy:propertyName:reverse" ng-class="row1">
                                                                        <!-- <td><input id="{{row1.id+$index}}" type="checkbox" value="0" ng-model="r.chk" ng-click="checkonebyonedelete()"></td>-->
                                                                        <td>{{$index+1}}</td>
                                                                        <td>{{row1.sims_comm_user_code}}</td>
                                                                        <td>{{row1.sims_comm_message_remark}}</td>
                                                                        <td>{{row1.sims_comm_message_feedback}}</td>
                                                                        <td>{{row1.sims_comm_date}}</td>
                                                                        <td>{{row1.sims_follow_up_date}}
                                                                        </td>
                                                                        <td>{{row1.sims_comm_user_by}}</td>

                                                                       
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>

                                                        <div>
                                                            <div class="row" ng-show="false">
                                                                <div class="col-md-12">

                                                                    <div class="pull-right">
                                                                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                                                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                                                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                                                            ng-click="index(currentPage)">
                                </paging>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>


                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>






<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/js/tabs_accordian.js" type="text/javascript"></script>
<script src="assets/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>
<script src="assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
<script src="assets/plugins/fileSaver.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>
<script src="assets/js/moment.js"></script>



