﻿﻿<link href="assets/css/mino.css" rel="stylesheet" />
<div class="loading-middle" ng-hide="display">
    {{ "Loading..." | translate }}
</div>

<style>
    .disableTab {
        pointer-events: none;
    }

    .loader_another {
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(assets/images/loader.gif);
        background-repeat: no-repeat;
        position: fixed;
        opacity: 0.5;
        opacity: 0.7;
        z-index: 105;
        background-color: #22262e;
        background-position-x: 50%;
        background-position-y: 50%;
        background-origin: content-box;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{ "Prospect Admission(Short)" | translate }}</span></h3>
            </div>
            <div class="grid-title no-border">
            </div>
             <div class="page-title1"  ng-click="back()"  ng-show="btn_back">
                <a href=""><i class="fa fa-arrow-circle-left"></i>  <span>Back</span></a>
            </div>
            <div class="grid-body no-border" ng-show="display">
                <!--  <form name="myForm" novalidate ng-submit="test()">-->
                <form name="myForm" novalidate="novalidate">

                    <div class="row">
                        <div class="loader_another" ng-show="BUSY">
                        </div>
                    </div>

                    <div class="row">
                    

                        <div class="col-md-12">
                            <div class="row form-row">
                                
                                <div class="col-md-4">
                                    <h4><span class="semi-bold">{{ "Student Details" | translate }}</span></h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">
                               
                               <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Name" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.txt_first_name.$valid && (myForm.txt_first_name.$touched || myForm.$submitted) }">
                                            <input type="text" class="k-textbox input-sm full-width"  id="txt_first_name" placeholder="Name" name="txt_first_name" maxlength="50" ng-maxlength="50" ng-minlength="1" required ng-model="edt.sname" ng-pattern="/^[a-zA-Z\s]*$/">
                                        </div>
                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.txt_first_name.$dirty && myForm.txt_first_name.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm.txt_first_name.$error.required &&(myForm.txt_first_name.$touched || myForm.$submitted)">This Field is required.
                                                </small>
                                                <small class="help-block" ng-show="myForm.txt_first_name.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_first_name.$touched))">Enter Only character
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Gender" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.Gender.$valid && (myForm.Gender.$touched || myForm.$submitted) }">
                                            <select id="Select3" name="Gender" data-role="dropdownlist" class="form-control input-sm"
                                                ng-model="edt.gender"  required>
                                                
                                                <option value="">Select Gender</option>
                                    <option value="M">Male</option>
                                    <option value="F">Female</option>
                                            </select>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.Gender.$dirty && myForm.Gender.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm.Gender.$error.required && (myForm.Gender.$touched || myForm.$submitted)">This Field is required.
                                                </small>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="col-md-2">

                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Date Of Birth" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.dp_birth_date.$valid && (myForm.dp_birth_date.$touched || myForm.$submitted) }">
                                            <!--<div class="col-md-4 no-padding" style="width: auto">-->
                                                <input type="text" id="dp_birth_date" placeholder="Select Date" name="dp_birth_date" class="k-textbox input-sm full-width" ng-model="edt.dob1" ng-change="datechange(edt.dob1)" required>

                                            </div>


                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.dp_birth_date.$dirty && myForm.dp_birth_date.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm.dp_birth_date.$error.required && (myForm.dp_birth_date.$touched || myForm.$submitted)">This Field is required.
                                                </small>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                               <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Academic Year" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.AcadYr.$valid && (myForm.AcadYr.$touched || myForm.$submitted) }">
                                            <select id="cmb_acad_yr" name="AcadYr" data-role="dropdownlist" class="form-control input-sm"
                                                ng-model="edt.academic_year" ng-change="getAcademicYear(edt.academic_year)" ng-options="year.academic_year as year.academic_year_desc 
                                                   for year in academicYears" required>
                                                <option value="">Please Select
                                                </option>
                                               
                                            </select>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.AcadYr.$dirty && myForm.AcadYr.$invalid || myForm.$submitted">
                                                <small class="error"
                                                    ng-show="myForm.AcadYr.$error.required && (myForm.AcadYr.$touched || myForm.$submitted)">This Field is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Grade Name" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.Grade.$valid && (myForm.Grade.$touched || myForm.$submitted) }">
                                            <select id="cmb_grade" name="Grade" data-role="dropdownlist" class="form-control input-sm" ng-change="getchkAge()"
                                                ng-model="edt.grade" ng-change="getchkAge()"
                                      ng-options="grdsec.gradeSectionCode as grdsec.gradeSectionName 
                                                   for grdsec in allgradesSection"  required >
                                                <option value="">Please Select</option>
                                                
                                            </select>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.Grade.$dirty && myForm.Grade.$invalid || myForm.$submitted">
                                                <small class="error"
                                                    ng-show="myForm.Grade.$error.required && (myForm.Grade.$touched || myForm.$submitted)">This Field is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--<div class="col-md-2">

                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Previous school" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.cmb_school_id.$valid && (myForm.cmb_school_id.$touched || myForm.$submitted) }">
                                            <select id="Select1" name="cmb_school_id" data-role="dropdownlist" class="form-control input-sm" required
                                                ng-model="edt.school_code">
                                                <option value="">Please Select</option>
                                                <option ng-repeat="i in school_lst" 
                                                    value="{{i.referal_code}}">{{i.referal_name}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.cmb_school_id.$dirty && myForm.cmb_school_id.$invalid || myForm.$submitted">
                                                <small class="error"
                                                    ng-show="myForm.cmb_school_id.$error.required && (myForm.cmb_school_id.$touched || myForm.$submitted)">This Field is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div>

                         <div class="col-md-12">
                            <div class="row form-row">
                                
                                <div class="col-md-4">
                                    <h4><span class="semi-bold">{{ "Parent Details" | translate }}</span></h4>
                                </div>
                            </div>
                        </div> 

                          <div class="col-md-12">
                            <div class="row form-row">
                        
                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Name" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.txt_father_first_name1.$valid && (myForm.txt_father_first_name1.$touched || myForm.$submitted) }">
                                            <input type="text" class="k-textbox input-sm full-width"  id="txt_father_first_name1" placeholder="Please Enter" name="txt_father_first_name1" required ng-maxlength="50" ng-minlength="1" maxlength="50" ng-model="edt.pname" ng-disabled="Chk_parent"><!-- ng-pattern="/^[a-zA-Z\s]*$/"-->
                                        </div>
                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.txt_father_first_name1.$dirty && myForm.txt_father_first_name1.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm.txt_father_first_name1.$error.required && (myForm.txt_father_first_name1.$touched || myForm.$submitted)">This Field is required.
                                                </small>
                                                <!-- <small class="help-block" ng-show="myForm.txt_father_first_name1.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_father_first_name1.$touched))">Enter Only character
                                                    </small>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                
                                <div class="col-md-2">
                                    <!--ng-show="chk_show"-->
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Mobile" | translate }}</label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.txt_father_mobile.$valid && (myForm.txt_father_mobile.$touched || myForm.$submitted) }">
                                            <input type="text" class="k-textbox input-sm full-width"  id="txt_father_mobile" placeholder="Please Enter" name="txt_father_mobile" maxlength="25" ng-maxlength="25" ng-minlength="8" ng-model="edt.mobile" ng-blur="mobile_change()" ng-pattern="/^\+?\d+$/"><!---->
                                        </div>
                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.txt_father_mobile.$dirty && myForm.txt_father_mobile.$invalid || myForm.$submitted">
                                                <small class="help-block" ng-show="myForm.txt_father_mobile.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_father_mobile.$touched))">Enter Valid Mobile No
                                                </small>

                                                 <small class="help-block" ng-show="myForm.txt_father_mobile.$error.minlength && (!myForm.$pristine && (myForm.$submitted || myForm.txt_father_mobile.$touched))">Minimum 8 digit required
                                                </small>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Email" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.txt_father_email.$valid && (myForm.txt_father_email.$touched || myForm.$submitted) }">
                                            <input type="text" class="k-textbox input-sm full-width"  id="txt_father_email" placeholder="Please Enter" name="txt_father_email" maxlength="50" ng-model="edt.email" required ng-disabled="Chk_parent" ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i"><!--"-->
                                        </div>
                                        <!--/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i-->
                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.txt_father_email.$dirty && myForm.txt_father_email.$invalid || myForm.$submitted">
                                                <small class="help-block" ng-show="myForm.txt_father_email.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_father_email.$touched))">Enter Valid Email Id
                                                </small>
                                                <small class="error"
                                                    ng-show="myForm.txt_father_email.$error.required  && (myForm.txt_father_email.$touched || myForm.$submitted)">This Field is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                  <div class="col-md-3">

                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "How did you hear about our school" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.cmb_marketing.$valid && (myForm.cmb_marketing.$touched || myForm.$submitted) }">
                                            <select id="cmb_marketing" name="cmb_marketing" data-role="dropdownlist" class="form-control input-sm" required
                                                ng-model="edt.referal_code">
                                                <option value="">Please Select</option>
                                                <option ng-repeat="i in about_lst" 
                                                    value="{{i.referal_code}}">{{i.referal_name}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.cmb_marketing.$dirty && myForm.cmb_marketing.$invalid || myForm.$submitted">
                                                <small class="error"
                                                    ng-show="myForm.cmb_marketing.$error.required && (myForm.cmb_marketing.$touched || myForm.$submitted)">This Field is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                            

                                </div>
                              </div>

                            <div class="">
                                <div class="col-md-12">
                                    <div class="form-actions">
                                <div class="pull-right">
                                   <!-- <button class="btn btn-primary btn-cons" type="submit" ng-show="update1" ng-click="Save(myForm.$valid)">{{ "Submit" | translate }}</button>
                                    <button class="btn btn-primary btn-cons" type="button" ng-click="Cancel()">{{ "Reset" | translate }}</button>-->

                                     <button class="btn btn-green btn-cons"  type="submit" ng-click="UpdateUser(edt,myForm.$valid)" id="update1" ng-show="update1">{{ "Update" | translate }}</button>
                                    <button class="btn btn-primary btn-cons" type="submit" ng-show="save1" ng-click="RegisterUser(edt,myForm.$valid)">{{ "Submit" | translate }}</button>
                                    <button class="btn btn-warning btn-cons" type="button" ng-click="Cancel()">{{ "Reset" | translate }}</button>
                                </div>
                            </div>
                                    </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>



<div class="modal fade" id="myModalPros" ng-style="style" tabindex="-1">
    <div class="modal-dialog" id="Div1">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modal_cancel()"><span aria-hidden="true">&times;</span></button>-->
                <h5 class="semi-bold pull-left">Mobile Details</h5>

                <br />
            </div>
            <div class="modal-body" style="background-color: white">
                <div class="loading" style="font-weight: bold; font-size: 20px; color: black;" ng-hide="display">
                    {{ "Loading..." | translate }}
                </div>
                <div class="grid-body no-border" >
                    <div id="Div2" class="dataTables_wrapper form-inline">
                      
                        <div class="row">

                        Mobile number   {{edt.mobile}} is already present with following details.
                            <br />
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <!-- <table style="width: 100%; border: 1px solid black;" cellspacing="4" cellpadding="4" border="1">-->
                                <table class="table table-hover table-bordered table-condensed">
                                    <tr bgcolor="#E0E0E">
                                      
                                        <th class="td" style="text-align: center">  Academic Year</th>
                                        <th class="td" style="text-align: center"> Grade</th>
                                        <th class="td" style="text-align: center">Enquiry Number</th>
                                        <th class="td" style="text-align: center">Student Name</th>
                                        <th class="td" style="text-align: center">Source</th>
                                        <th class="td" style="text-align: center">Enquiry Status</th>

                                    </tr>
                                    <tr ng-repeat="assg in mobile_lst">
                                        <td class="td" style="font-weight: normal">{{assg.sims_academic_year_description}}</td>
                                        <td class="td" style="font-weight: normal">{{assg.sims_grade_name_en}}</td>
                                        
                                        <td class="td" style="font-weight: normal">{{assg.sims_pros_number}}</td>
                                        <td class="td" style="font-weight: normal">{{assg.pname}}</td>

                                       
                                          <td class="div_th" >
                                            <div ng-if="assg.sims_pros_attribute1=='A'">Website </div>
                                            <div ng-if="assg.sims_pros_attribute1=='M'">Walk In</div>

                                            <div ng-if="assg.sims_pros_attribute1==''">Prospect Form </div>

                                        </td>

                                         <td class="div_th" >
                                            <div ng-if="assg.sims_pros_status=='A'">Waiting </div>
                                            <div ng-if="assg.sims_pros_status=='P'">Approved</div>

                                            <div ng-if="assg.sims_pros_status=='R'">Rejected</div>

                                        </td>



                                       
                                    </tr>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

            <div class="modal-footer" style="height: 60px">

                <button type="button" class="btn btn-blue btn-ef btn-ef-3 btn-ef-3c mb-10" data-dismiss="modal"  ng-click="modal_okcancel_new()"><span aria-hidden="true">Ok</span></button>
           
                
                 </div>

        </div>
    </div>

</div>

<script src="assets/js/moment.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>







