﻿<!--<link href="assets/css/minovate.css" rel="stylesheet" />
<link href="assets/css/rounded_btn.css" rel="stylesheet" />-->

<style>
    ul {
        -webkit-padding-start: 0px;
    }
     .div_th {
        white-space: nowrap;
    }
      .sortorder:after {
        content: '\25b2';
    }

    .sortorder.reverse:after {
        content: '\25bc';
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3>{{ "Prospect Dashboard" | translate }}<span class="semi-bold"></span></h3>
            </div>
            <div class="grid-body no-border">
            <div ng-show="display">
                <div class="row" ng-show="notshow">
                    <div class="col-xs-4">
                        <div class="well" class="form-group">
                            <div class="form-group">
                                <label>Current Page:</label>
                                <input
                                    placeholder="page"
                                    class="form-control"
                                    ng-model="currentPage"
                                    ng-init="currentPage = 1" />
                            </div>
                            <div class="form-group">
                                <label>Page Size:</label>
                                <input
                                    placeholder="Page Size"
                                    class="form-control"
                                    ng-model="numPerPage" />
                            </div>
                            <div class="form-group">
                                <label>Total Items:</label>
                                <input
                                    placeholder="Total"
                                    class="form-control"
                                    ng-model="pagersize" />
                            </div>
                            <hr />
                            <div class="form-group">
                                <label>Dots Display:</label>
                                <input
                                    placeholder="..."
                                    class="form-control"
                                    maxlength="3"
                                    ng-model="dots"
                                    ng-init="dots = '...'" />
                            </div>

                            <hr />
                            <div class="form-group">
                                <label>UL Class:</label>
                                <input
                                    placeholder="pagination"
                                    class="form-control"
                                    maxlength="100"
                                    ng-model="ulClass" />
                            </div>
                            <div class="form-group">
                                <label>Active Class:</label>
                                <input
                                    placeholder="active"
                                    class="form-control"
                                    maxlength="100"
                                    ng-model="activeClass"
                                    ng-init="activeClass = 'active'" />
                            </div>
                            <div class="form-group">
                                <label>Disabled Class:</label>
                                <input
                                    placeholder="disabled"
                                    class="form-control"
                                    maxlength="100"
                                    ng-model="disabledClass"
                                    ng-init="disabledClass = 'disabled'" />
                            </div>
                            <br />
                            <table class="table">

                                <tr>
                                    <td>
                                        <label>Show Prev Next:</label></td>
                                    <td>
                                        <input
                                            type="checkbox"
                                            ng-model="showPrevNext"
                                            ng-init="showPrevNext = true" />
                                        {{showPrevNext}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Show First Last:</label></td>
                                    <td>
                                        <input
                                            type="checkbox"
                                            ng-model="showFirstLast"
                                            ng-init="showFirstLast = true" />
                                        {{showPrevNext}}
                                    </td>
                                </tr>
                            </table>
                            <hr />
                            <span class="btn btn-default" onclick="location.reload()">
                                <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                            </span>
                            <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                            </span>
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
               

                        <div class="row">
                            <div class="col-md-3">
                                <label>{{ "Curriculum" | translate }}</label>
                                        <select id="cmb_cur" name="curCode" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="edt.curr_code" required ng-maxlength="2" ng-minlength="1" ng-change="getCur(edt.curr_code)"
                                            ng-options="item.sims_attendance_cur_code as item.sims_cur_short_name_en for item in obj2">
                                            <option value="">Please Select</option>

                                        </select>
                                   
                                        <div class="error-container"
                                            ng-show="myForm.curCode.$dirty && myForm.curCode.$invalid || myForm.$submitted">
                                            <small class="error"
                                                ng-show="myForm.curCode.$error.required">Curriculum is required.
                                            </small>
                                        </div>
                                    </div>
                                
                            <div class="col-md-3">
                                <label>{{ "Academic Year" | translate }}</label>
                                        <select id="cmb_acad_yr" name="AcadYr" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="edt.academic_year" ng-change="GetGrade(edt.curr_code,edt.academic_year,edt.grade_code,edt.sims_appl_parameter_reg)"
                                            ng-options="item.sims_academic_year as item.sims_academic_year_desc for item in obj1">
                                            <option value="">Please Select</option>
                                        </select>
                                    </div>

                            <div class="col-md-3">
                                <label>{{ "Grade Name" | translate }}</label>
                                        <select id="cmb_grade" name="Grade" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="edt.grade_code" required  ng-change="GetGradechage(edt.curr_code,edt.academic_year,edt.grade_code,edt.sims_appl_parameter_reg)"
                                            ng-options="item.sims_grade_code as item.sims_grade_name for item in obj3">
                                            <option value="">Please Select</option>
                                        </select>
                                  
                                        <div class="error-container"
                                            ng-show="myForm.Grade.$dirty && myForm.Grade.$invalid || myForm.$submitted">
                                            <small class="error"
                                                ng-show="myForm.Grade.$error.required">Grade is required.
                                            </small>
                                        </div>
                                    </div>

                            <div class="col-md-3">
                                <label>{{"Application Status"|translate}}</label>
                                        <select id="cmb_registration" name="cmb_registration" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.sims_appl_parameter_reg"
                                            required ng-maxlength="2" ng-minlength="1" ng-change="GetInfo(edt.curr_code,edt.academic_year,edt.grade_code,edt.sims_appl_parameter_reg)"
                                            ng-options="item.sims_appl_parameter_reg as item.sims_appl_form_field_value1_reg for item in reg">
                                            <option value="">Please Select</option>
                                        </select>
                                    </div>
                            </div>


                                <div class="row margin-top">
                                   
                                    <div class="col-md-1">
                                        <!--<select id="Select1" style="width: 65px" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                                            <option value="5" class=" form-control input-sm">5
                                            </option>
                                            <option value="10" class=" form-control input-sm">10
                                            </option>
                                            <option value="15" class=" form-control input-sm">15
                                            </option>
                                        </select>-->
                                        <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                                            <option value="{{x.val}}" class="form-control input-sm" ng-repeat="x in countData">
                                                {{x.data}}
                                            </option>
                                        </select>


                                    </div>
                                    <div class="col-md-8" ng-show="grid">
                             <button class="btn btn-primary btn-small" id="btn_communicate" type="button" ng-disabled="comm_btn" ng-click="getCommunicate()">
                                        {{"Communicate"|translate}}
                                 <i class="fa fa-wechat"></i>
                                    </button>&nbsp;
                            <button class="btn btn-success btn-small" id="btn_prospect" type="button" ng-disabled="pros_btn" ng-click="getPromote()">
                                {{"Move to Admission"|translate}}
                                 <i class="fa fa-check"></i>
                            </button>
                            &nbsp;
                               <button class="btn btn-danger btn-small" id="btn_reject" type="button" ng-click="getReject()">
                                   {{"Reject"|translate}}
                                 <i class="fa fa-times"></i>
                               </button>

                            &nbsp;
                               <button class="btn btn-danger btn-small" id="btn_export" type="button" ng-click="exportData()">
                                   {{"Export"|translate}}
                                 <i class="fa fa-times"></i>
                               </button>

                        </div>
                               
                            <div class="col-md-3">
                                       <span class="k-textbox k-space-right full-width">
                                        <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                   <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                                </div>
                            </div>
                        </div>
               
            <div ng-show="grid">
                <div class="row margin-top">
                    <div class="col-md-12">

                        <span class="col-md-3" style="height: 4px; color: #FF6600; background-color: #FF6600;"/>
                        <span class="col-md-3" style="height: 4px; color: #fdd01c; background-color: #fdd01c;"/>
                        <span class="col-md-3" style="height: 4px; color: #f35958; background-color: #f35958;"/>
                        <span class="col-md-3" style="height: 4px; color: #0082d4; background-color: #0082d4;"/>
                    </div>
                </div> 
                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div class="row margin-top" id="div712">
                        <div class="col-md-12">
                        <table class="table table-hover table-bordered table-condensed" id="fixedtable">
                            <thead>
                                <tr bgcolor="#E0E0E">
                                    <th><b>&nbsp; </b></th>
                                    <th><b>&nbsp; </b></th>
                                    <!-- <th><b>&nbsp;</b></th>-->
                                    <th><b>&nbsp;</b></th>
                                    <th class="small-cell v-align-middle" style="z-index:999">
                                        <div class="checkbox check-success">
                                            <input type="checkbox" name="check" value="1" id="mainchk" ng-click="check();"><!----><!--ng-click="CheckAllChecked();"-->
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>
                                   

                                    <th class="div_th" ng-click="sortBy('pros_num')"><b>{{ "Prospect Number" | translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'pros_num'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th class="div_th" ng-click="sortBy('pros_date')"><b>{{ "Prospect Date" | translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'pros_date'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th class="div_th" ng-click="sortBy('stud_full_name')"><b>{{ "Student Name" | translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'stud_full_name'" ng-class="{reverse: reverse}"></span>
                                    </th>

                                    <th class="div_th" ng-click="sortBy('fatherName')"><b>{{ "Parent Name" | translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'fatherName'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th class="div_th" ng-click="sortBy('father_email')">
                                                        <b>{{ "Father Email ID" | translate }}</b>
                                                        <span class="sortorder" ng-show="propertyName === 'father_email'" ng-class="{reverse: reverse}"></span>
                                      </th>
                                    <th class="div_th" ng-click="sortBy('mother_email')">
                                        <b>{{ "Mother Email ID" | translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'mother_email'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                        <th class="div_th" ng-click="sortBy('guardian_email')">
                                        <b>{{ "Guardian Email ID" | translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'guardian_email'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                   
                                    <!-- <td><b>{{"Curriculum" | translate }}</b></td>
                                     <td><b>{{ "Academic Year" | translate }}</b></td>-->
                                    

                                    <th class="div_th" ng-click="sortBy('grade_name')"><b>{{ "Grade" | translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'grade_name'" ng-class="{reverse: reverse}"></span>
                                    </th>

                                    <th class="div_th" ng-click="sortBy('gender')"><b>{{ "Gender" | translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'gender'" ng-class="{reverse: reverse}"></span>
                                    </th>

                                    <th class="div_th" ng-click="sortBy('birth_date')"><b>{{ "Birth Date" | translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'birth_date'" ng-class="{reverse: reverse}"></span>
                                    </th>


                                    <th class="div_th" ng-click="sortBy('age')"><b>{{ "Age" | translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'age'" ng-class="{reverse: reverse}"></span>
                                    </th>


                                    <th class="div_th" ng-click="sortBy('sims_pros_national_id')"><b>{{ "Qatar ID" | translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'sims_pros_national_id'" ng-class="{reverse: reverse}"></span>
                                    </th>


                                    <th class="div_th" ng-click="sortBy('communication_date')"><b>{{ "Communication Date" | translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'communication_date'" ng-class="{reverse: reverse}"></span>
                                    </th>

                                    <th class="div_th" ng-click="sortBy('nation')"><b>{{ "Nationality" | translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'nation'" ng-class="{reverse: reverse}"></span>
                                    </th>


                                    <th class="div_th" ng-click="sortBy('sibling_enroll')"><b>{{ "Sibling Enroll No." | translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'sibling_enroll'" ng-class="{reverse: reverse}"></span>
                                    </th>

                                    <th class="div_th" ng-click="sortBy('sims_admission_quota_code')"><b>{{ "Management Quota" | translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'sims_admission_quota_code'" ng-class="{reverse: reverse}"></span>
                                    </th>


                                    <th class="div_th" ng-click="sortBy('sims_admission_recommendation')"><b>{{ "Recommendation" | translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'sims_admission_recommendation'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="dashboard in filteredTodos | orderBy:propertyName:reverse"  ng-class="row1">
                                    <td>
                                        <div>
                                            <span class="btn btn-white btn-xs btn-mini" style="background-color: rgb(243, 125, 26); color: white" ng-click="Printdashboard(dashboard.pros_num)"><b>{{"Print"|translate}}</b></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <a><i class="fa fa-wechat" style="font-size:large;color:#0b9c8f" ng-click="getcommunication(dashboard.pros_num)"></i></a>
                                        </div>
                                    </td>
                                    <!-- <td>
                                         <div>
                                              <a><i class="fa fa-money" style="font-size:large;color:#0090d9" ng-click="feeCollect()"></i></a>
                                         </div>
                                     </td>-->
                                    <td class="div_th">
                                        <span class="btn btn-white btn-xs btn-mini" style="background-color: rgb(243, 125, 26); color: white" ng-click="MoveToAdmission(dashboard)"><b>{{"Move To Admission"|translate}}</b></span>
                                    </td>
                                    <td>
                                        <div class="checkbox check-success" style="height: 20px">
                                            <input type="checkbox" name="check" value="1" id="{{dashboard.pros_num}}" ng-model="dashboard.pros_num1" ng-click="check1(dashboard);">
                                            <label for="{{dashboard.pros_num}}">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="" style="color: blue" ng-click="link(dashboard.pros_num)">{{dashboard.pros_num}}</a>
                                    </td>
                                    <td class="div_th">
                                        <div>{{dashboard.pros_date}}</div>
                                    </td>
                                    <td class="div_th">
                                        <div>{{dashboard.stud_full_name}}</div>
                                    </td>
                                    <td class="div_th">
                                        <div>{{dashboard.fatherName}}</div>
                                    </td>
                                     <td class="div_th">
                                        <div>{{dashboard.father_email}}</div>
                                    </td>
                                    <td class="div_th">
                                        <div>{{dashboard.mother_email}}</div>
                                    </td>
                                    <td class="div_th">
                                        <div>{{dashboard.guardian_email}}</div>
                                    </td>
                                    <!--<td>
                                        <div>{{dashboard.curr_name}}</div>
                                    </td>
                                    <td>
                                        <div>{{dashboard.academic_year}}</div>
                                    </td>-->


                                    <td class="div_th">
                                        <div>{{dashboard.grade_name}}</div>
                                    </td>
                                    <td class="div_th">
                                        <div>{{dashboard.gender}}</div>
                                    </td>
                                    <td class="div_th">
                                        <div>{{dashboard.birth_date}}</div>
                                    </td>
                                   
                                    <td class="div_th">
                                        <div>{{dashboard.age}}</div>
                                    </td>
                                   

                                    <td class="div_th">
                                        <div>{{dashboard.sims_pros_national_id}}</div>
                                    </td>
                                    <td class="div_th">
                                        <div>{{dashboard.communication_date}}</div>
                                    </td>
                                    <td class="div_th">
                                        <div>{{dashboard.nation}}</div>
                                    </td>
                                    <td class="div_th">
                                        <div>{{dashboard.sibling_enroll}}</div>
                                    </td>
                                    <td class="div_th">
                                        <div>{{dashboard.sims_admission_quota_code}}</div>
                                    </td>
                                    <td>
                                        <div>{{dashboard.sims_admission_recommendation}}</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                        </div>
                     <div class="row">
                        <div class="col-md-12">
                    <div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                ng-click="index(currentPage)">
                        </paging>
                    </div>
                            </div>
                         </div>
                </div>
            </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="commnModal" ng-style="style" tabindex="-1">
    <div class="modal-dialog" id="Div14">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="commnModaldisplay()">&times;</span></button>
                <h5 class="semi-bold pull-left">{{"Communication"| translate }}</h5>

                <br />
            </div>
            <div class="modal-body" style="background-color: white">
                <div class="loading" style="font-weight: bold; font-size: 20px; color: black;" ng-hide="display">
                    {{ "Loading..." | translate }}
                </div>
                <div id="Div15" class="dataTables_wrapper form-inline">
                    <div class="grid-body no-border" ng-show="display1">
                        <div class="col-md-12">
                         <form name="myForm1" ng-submit="commOk_btn(myForm1.$valid)" novalidate="novalidate"><!---->
                        <div class="row" ng-show="notshow">
                            <div class="col-xs-4">
                                <div class="well" class="form-group">
                                    <div class="form-group">
                                        <label>Current Page:</label>
                                        <input
                                            placeholder="page"
                                            class="form-control"
                                            ng-model="currentPage1"
                                            ng-init="currentPage1 = 1" />
                                    </div>
                                    <div class="form-group">
                                        <label>Page Size:</label>
                                        <input
                                            placeholder="Page Size"
                                            class="form-control"
                                            ng-model="numPerPage1" />
                                    </div>
                                    <div class="form-group">
                                        <label>Total Items:</label>
                                        <input
                                            placeholder="Total"
                                            class="form-control"
                                            ng-model="pagersize1" />
                                    </div>
                                    <hr />
                                    <div class="form-group">
                                        <label>Dots Display:</label>
                                        <input
                                            placeholder="..."
                                            class="form-control"
                                            maxlength="3"
                                            ng-model="dots1"
                                            ng-init="dots1 = '...'" />
                                    </div>

                                    <hr />
                                    <div class="form-group">
                                        <label>UL Class:</label>
                                        <input
                                            placeholder="pagination"
                                            class="form-control"
                                            maxlength="100"
                                            ng-model="ulClass1" />
                                    </div>
                                    <div class="form-group">
                                        <label>Active Class:</label>
                                        <input
                                            placeholder="active"
                                            class="form-control"
                                            maxlength="100"
                                            ng-model="activeClass1"
                                            ng-init="activeClass1 = 'active'" />
                                    </div>
                                    <div class="form-group">
                                        <label>Disabled Class:</label>
                                        <input
                                            placeholder="disabled"
                                            class="form-control"
                                            maxlength="100"
                                            ng-model="disabledClass1"
                                            ng-init="disabledClass1 = 'disabled'" />
                                    </div>
                                    <br />
                                    <table class="table">

                                        <tr>
                                            <td>
                                                <label>Show Prev Next:</label></td>
                                            <td>
                                                <input
                                                    type="checkbox"
                                                    ng-model="showPrevNext1"
                                                    ng-init="showPrevNext1 = true" />
                                                {{showPrevNext}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Show First Last:</label></td>
                                            <td>
                                                <input
                                                    type="checkbox"
                                                    ng-model="showFirstLast1"
                                                    ng-init="showFirstLast1 = true" />
                                                {{showPrevNext}}
                                            </td>
                                        </tr>
                                    </table>
                                    <hr />
                                    <span class="btn btn-default" onclick="location.reload()">
                                        <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                                    </span>
                                    <span class="btn btn-success" ng-click="currentPage1 = 0">Apply Settings
                                    </span>
                                    <br />
                                    <br />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                                    <div class="col-md-4">
                                        <label class="form-label-sm">{{ "Communication Method" | translate }}</label>
                                            <div ng-class="{'has-error': !myForm1.cmb_method.$valid && (myForm1.cmb_method.$touched || myForm1.$submitted) }">
                                                <select id="cmb_method" name="cmb_method" data-role="dropdownlist" class="form-control input-sm full-width"
                                                    ng-model="temp.comm_method" required style="margin-bottom:2px">
                                                    <option value="">Please Select</option>
                                                    <option ng-repeat="k in method_data" value="{{k.comm_method}}">{{k.comm_mode_desc}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="error-container"
                                                ng-show="myForm1.cmb_method.$dirty && myForm1.cmb_method.$invalid || myForm1.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm1.cmb_method.$error.required && (myForm1.cmb_method.$touched || myForm1.$submitted)">This Field is required.
                                                </small>
                                            </div>
                                        </div>
                                       

                                    <div class="col-md-4">
                                        <label class="form-label-sm">{{ "Date" | translate }}</label>
                                                <!--<div class="input-append success date col-md-4 no-padding" style="width: auto;z-index:9999">-->
                                                    <input type="text" id="dp_admdate" required placeholder="Select Date" name="dp_admdate" class="k-textbox input-sm full-width" ng-model="temp.comm_date">
                                                    <!--<span class="add-on" style="height: 30px; padding-top: 0px"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                               <!-- </div>-->
                                            <div class="error-container"
                                                ng-show="myForm1.dp_admdate.$dirty && myForm1.dp_admdate.$invalid || myForm1.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm1.dp_admdate.$error.required && (myForm1.dp_admdate.$touched || myForm1.$submitted)">This Field is required.
                                                </small>
                                            </div>
                                        </div>

                                    <div class="col-md-4">
                                    <label class="form-label-sm">{{ "Description" | translate }}</label>
                                            <div ng-class="{'has-error': !myForm1.txt_desc.$valid && (myForm1.txt_desc.$touched || myForm1.$submitted) }">
                                                <textarea id="text-editor1" name="txt_desc" required placeholder="Enter text ..." class="k-textbox" maxlength="200" rows="3" style="text-align: left;width:100%;resize:none" ng-model="temp.comm_desc"></textarea>
                                            </div>
                                            <div class="error-container"
                                                ng-show="myForm1.txt_desc.$dirty && myForm1.txt_desc.$invalid || myForm1.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm1.txt_desc.$error.required && (myForm1.txt_desc.$touched || myForm1.$submitted)">This Field is required.
                                                </small>
                                            </div>
                                        </div>
                                        </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <label class="form-label-sm">{{ "Enquirer Remark" | translate }}</label>
                                            <div ng-class="{'has-error': !myForm1.txt_enqRemark.$valid && (myForm1.txt_enqRemark.$touched || myForm1.$submitted) }">
                                                <textarea id="Textarea1" name="txt_enqRemark" required placeholder="Enter text ..." class="k-textbox" style="width:100%;" rows="3" maxlength="200" style="text-align: left;width:100%;resize:none" ng-model="temp.enq_rem"></textarea>
                                            </div>
                                              
                                            <div class="error-container"
                                                ng-show="myForm1.txt_enqRemark.$dirty && myForm1.txt_enqRemark.$invalid || myForm1.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm1.txt_enqRemark.$error.required && (myForm1.txt_enqRemark.$touched || myForm1.$submitted)">This Field is required.
                                                </small>
                                            </div>
                                        </div>
                                    
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <label class="form-label">{{ "Status" | translate }}</label>
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" value="1" name="Checkbox2" id="Checkbox2" title="Status" required ng-model="temp.status">
                                                <label for="Checkbox2" />
                                            </div>
                                        </div>
                                           
                            </div>

                           
                        <div class="row">
                            <div class="col-md-12">
                            <div class="pull-right">
                                <button class="btn btn-success btn-small" type="submit">Ok</button>
                                <button class="btn btn-warning btn-small" ng-click="commcancel_btn()"><b>Cancel</b></button>
                            </div>
                                </div>
                        </div>
                             </form>
                          

                    <div ng-show="grid1">

                        <div class="row margin-top">
                            <div class="col-md-6">
                                <div class="pull-left">
                                    <select id="Select7" style="width: 65px" class="input-sm" name="user" ng-model="pagesize1" ng-change="size1(pagesize1)">

                                            <option value="5" class=" form-control input-sm">5
                                            </option>

                                            <option value="10" class=" form-control input-sm">10
                                            </option>

                                            <option value="15" class=" form-control input-sm">15
                                            </option>
                                        </select>
                                   
                                </div>
                                &nbsp;
                            <button class="btn btn-success btn-small" type="button" ng-click="New()" ng-show="false"><span class="semi-bold">+&nbsp;</span>New</button>
                            </div>
                            <div class="col-md-6">
                                <div class="pull-right">
                                    <div class="dataTables_filter" id="example_filter">
                                        <span class="k-textbox k-space-right full-width">
                                         <input type="text" aria-controls="example" ng-model="searchText1" placeholder="Description/Date" class="k-textbox" autofocus="autofocus" tabindex="1" ng-change="search1()">
                                            <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="Div1" class="dataTables_wrapper form-inline">
                            <div class="row">
                                <div class="col-md-12  margin-top">
                                <table class="table table-hover table-bordered  table-condensed dataTable" aria-describedby="example2_info" id="fixedtable1">
                                   <thead>
                                     <tr bgcolor="#E0E0E">
                                        <td class="div_th">{{"Prospect No"| translate }}</td>
                                        <td class="div_th">{{"Communication Method"| translate }}</td>
                                        <td class="div_th">{{"Date"| translate }}</td>
                                        <td class="div_th">{{"Description"| translate }}</td>
                                        <td class="div_th">{{"Enquirer Remark"| translate }}</td>
                                    </tr>
                                       </thead>
                                    <tbody>
                                    <tr id="{{$index}}" ng-repeat="comm in filteredTodos1">
                                        <td class="div_th">{{comm.pros_num}}</td>
                                        <td class="div_th">{{comm.comm_mode_desc}}</td>
                                        <td class="div_th">{{comm.comm_date}}</td>
                                        <td class="div_th">{{comm.comm_desc}}</td>
                                        <td class="div_th">{{comm.enq_rem}}</td>
                                    </tr>
                                        </tbody>
                                </table>
                            </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                            <div class="pull-right">
                                <paging class="small" page="currentPage1" page-size="pageSize1" total="pagersize1" pg-href="#GotoPage-{page1}" dots="{{dots1}}" show-prev-next="{{showPrevNext1}}"
                                    scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass1}}" active-class="{{activeClass1}}" disabled-class="{{disabledClass1}}" show-first-last="{{showFirstLast1}}"
                                    paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize1, totalItems1)"
                                    ng-click="index1(currentPage1)">
                      </paging>
                            </div>
                                    </div>
                                </div>
                        </div>

                    </div>

                      </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


    <div class="modal fade" id="commnDetailsModal" ng-style="style">
        <!--tabindex="-1"-->
        <div class="modal-dialog" id="Div20">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="Cancel()"><span aria-hidden="true">&times;</span></button>
                    <h5 class="semi-bold pull-left">{{"Dashboard Details"| translate }}</h5>
                    <br />
                </div>
                <div class="modal-body" style="background-color: white;">
                    <div class="loading" style="font-weight: bold; font-size: 20px; color: black;" ng-hide="display">
                        {{ "Loading..." | translate }}
                    </div>
          <div class="grid-body no-border">
              <div class="col-md-12">
                          <div id="Div2" class="dataTables_wrapper form-inline">
                        <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label-sm">{{ "Select" | translate }}</label>
                                            <select id="Select5" name="grade" data-role="dropdownlist" class="form-control input-sm full-width"
                                                ng-model="email.sims_msg_subject" ng-change="getbody(email.sims_msg_subject)"
                                                  ng-options="item.sims_msg_subject as item.sims_msg_subject for item in template_data">
                                               <!-- <option value="">Template</option>
                                                <option ng-repeat="k in template_data" value="{{k.sims_msg_subject}}">{{k.sims_msg_subject}}
                                                </option>-->
                                            </select>
                                        </div>


                                <div class="col-md-6">
                                    <label class="form-label-sm">{{ "CC To" | translate }}</label>
                                            <input style="margin-bottom: 10px;width:100%;" class="k-textbox" ng-model="email.ccTo" />
                                        </div>
                            </div>

                        <div class="row">
                             <div class="col-md-12">
                                    <table class="table table-bordered table-condensed dataTable" aria-describedby="example2_info">
                                        <!--  <tr bgcolor="#E0E0E">
                                        <td class="td">&nb</td>
                                        <td class="td">{{"Criteria"| translate }}</td>
                                    </tr>-->
                                        <tr ng-repeat="email in emailId_data" ng-class="row1">
                                            <td class="small-cell v-align-middle">
                                                <div class="checkbox check-success" style="height: 20px">
                                                    <input type="checkbox" name="check" value="1" id="chkid" ng-model="email.chk_email">
                                                    <label for="chkid">
                                                    </label>
                                                </div>
                                            </td>
                                            <td class="td">{{email.emailid}}
                                                &nbsp;&nbsp;<div class="fa fa-times" ng-if="email.emailid!=''" ng-click="CancelEmailId($index)"></div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                        </div>

                        <div class="row">
                                        <div class="col-md-12">
                                            <label class="form-label-sm">{{ "Description" | translate }}</label>
                                            <div class="grid simple" style="display: -webkit-box;margin-top:0px">
                                                <div class="tools">
                                                    <a href="javascript:;" class="collapse"></a>
                                                    <a href="#grid-config" data-toggle="modal" class="config"></a>
                                                    <a href="javascript:;" class="reload"></a>
                                                    <a href="javascript:;" class="remove"></a>
                                                </div>
                                                    <textarea id="text-editor"  name="editor" data-bind="wysihtml5: $data.ExampleText" required placeholder="Enter text ..." class="k-textbox" rows="8" style="text-align: left;width:100%;" ng-model="email.msgbody"></textarea>
                                                </div>

                                        </div>
                                    </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                <span class="btn btn-white btn-xs btn-mini" style="background-color: rgb(243, 125, 26); color: white" ng-click="sendMail()"><b>Send Mail</b></span>
                                <span class="btn btn-white btn-xs btn-mini" ng-click="commnModaldisplay()"><b>Cancel</b></span>
                            </div>
                                </div>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>

<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/js/tabs_accordian.js" type="text/javascript"></script>
<script src="assets/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>
<script src="assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>
