﻿<style>
    .k-textbox .k-icon {
    top: 50%;
    margin: -9px -9px 0;
    position: absolute;
}
    .k-input {
    padding: 0em;
    margin-top:0px;
}
</style>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Request" |translate}}</span>&nbsp;{{"Certificate" | translate}}</h3>
            </div>

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="grid-body no-border">
            <div ng-show="table">
                <div class="row">
                    <div class="col-md-6">
                        <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="10" class=" k-textbox input-sm">
                                10
                            </option>

                            <option value="20" class=" k-textbox input-sm">
                                20
                            </option>

                            <option value="All" class=" k-textbox input-sm">
                                All
                            </option>
                        </select>
                        &nbsp;
                        <button class="btn btn-primary btn-small" type="button" id="designew" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate }}</button>
                        &nbsp;
                        <button class="btn btn-danger btn-small" type="button" ng-click="OkDelete()"><span class="semi-bold"></span>{{"Delete"| translate }}</button>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                               <span class="k-textbox k-space-right full-width">
                                    <!--<input type="text" aria-controls="example" ng-model="search.$" class="input-medium"></label>-->
                                    <input aria-controls="example" ng-model="searchText" class="k-textbox input-sm full-width" placeholder="Enroll/Requested By" type="search" ng-change="search1()" tabindex="1" autofocus="autofocus">
                                <a href="#" class="k-icon k-i-search">&nbsp;</a></span>

                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div class="row margin-top">
                        <div class="col-md-12">
                        <table class="table table-bordered table-hover" id="fixTable">
                            <thead style="background-color: white">
                                <tr style="background-color: #edefef">
                                    <th style="z-index:1;" class="small-cell v-align-middle">
                                        <div class="checkbox check-success">
                                            <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>
                                    <th class="bold" ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                        <label><b><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"Request Number" | translate }}</b></label>
                                    </th>

                                    <th class="bold">
                                        <label><b>{{"Certificate" | translate }} </b></label>
                                    </th>

                                    <th class="bold">
                                        <label><b>{{"Request Date" | translate }} </b></label>
                                    </th>
                                    <th class="bold">
                                        <label><b>{{"Expected Date" | translate }} </b></label>
                                    </th>
                                    <th class="bold">
                                        <label><b>{{"Requested By" | translate }} </b></label>
                                    </th>
                                    <th class="bold">
                                        <label><b>{{"Enroll Number" | translate }} </b></label>
                                    </th>
                                    <th class="bold">
                                        <label><b>{{"Certificate Issued By" | translate }} </b></label>
                                    </th>
                                    <th class="bold">
                                        <label><b>{{"Reason" | translate }} </b></label>
                                    </th>
                                    <th class="bold">
                                        <label><b>{{"Request Status" | translate }} </b></label>
                                    </th>
                                    <th class="semi-bold">
                                        <i class="fa fa-cogs"></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="j in filteredTodos | orderBy:orderByField:reverseSort">
                                    <td>
                                        <div class="row-fluid">
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input id="{{j.sims_certificate_request_number+$index}}" type="checkbox" value="1" ng-click="checkonebyonedelete()" ng-model="chkb">
                                                <label for="{{j.sims_certificate_request_number+$index}}"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <label id="lbl">{{j.sims_certificate_request_number}}</label>
                                    </td>
                                    <td>
                                        <label id="Label12">{{j.sims_certificate_name}}</label>
                                    </td>
                                    <td>
                                        <label id="Label1">{{j.sims_certificate_request_date}}</label>
                                    </td>
                                    <td>
                                        <label id="Label2">{{j.sims_certificate_expected_date}}</label>
                                    </td>
                                    <td>
                                        <label id="Label3">{{j.sims_certificate_requested_by}}</label>
                                    </td>
                                    <td>
                                        <label id="Label4">{{j.sims_certificate_enroll_number}}</label>
                                    </td>
                                    <td>
                                        <label id="Label5">{{j.sims_certificate_issued_by}}</label>
                                    </td>
                                    <td>
                                        <label id="Label6">{{j.sims_certificate_reason}}</label>
                                    </td>
                                    <td>
                                        <label id="Label7">{{j.sims_certificate_request_status}}</label>
                                    </td>
                                    <td>
                                        <a href=""><i class="fa fa-edit" ng-click="edit(j)"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                        </div>
                    <div class="row" ng-show="pager">
                        <div class="col-md-12">
                    <div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                ng-click="index(currentPage)">
                        </paging>
                    </div>
                        </div>
                        </div>
                </div>

            </div>

            <div ng-show="display">
                <form name="Myform" ng-submit="savedata(Myform.$valid)" novalidate="novalidate">
                    <!--1ST ROW-->
                    <div class="row">
                            <div class="col-md-3">
                                <label for="DivCode">{{"Certificate" |translate}} <span class="asterisk" style="color: red">*</span></label>
                                <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width" required name="user" ng-model="temp.sims_certificate_number" ng-disabled="divcode_readonly">
                                    <option value="" selected disabled>Please Select</option>
                                    <option class="form-control input-sm" ng-repeat="temp in certificate_no" value="{{temp.sims_certificate_number}}">{{temp.sims_certificate_name}}</option>
                                </select>
                            </div>

                            <div class="col-md-3">
                                <label for="StartDate">{{"Request Date" |translate}}</label>
                                    <input type="text" id="cmb_create_date" placeholder="Select Date" name="creation_date" class="k-textbox input-sm full-width" ng-model="temp.sims_certificate_request_date" ng-disabled="divcode_readonly">
                                    <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                </div>

                            <div class="col-md-3">
                                <label for="StartDate">{{"Expected Date" |translate}}</label>
                                    <input id="expected_date" placeholder="Select Date" name="creation_date" class="k-textbox input-sm full-width" ng-model="temp.sims_certificate_expected_date">
                                    <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                </div>
                            <div class="col-md-3">
                                <label for="DivCode">{{"Requested By" |translate}} <span class="asterisk" style="color: red">*</span></label>
                                <select id="Select2" data-role="dropdownlist" class="form-control input-sm full-width" name="user" ng-model="temp.user_type" ng-change="userselect(temp.user_type)" ng-disabled="divcode_readonly">
                                    <option value="" selected disabled>Please Select</option>
                                    <option class="form-control input-sm" ng-repeat="temp in usertype" value="{{temp.user_type}}">{{temp.user_type}}</option>
                                </select>
                            </div>
                    </div>
                    <!--2nd ROW-->
                    <div class="row" ng-show="u_id">
                        
                            <div class="col-md-3" ng-class="{'has-error': !Myform.bar_code.$valid && (Myform.bar_code.$touched || Myform.$submitted) }">
                                <label for="bar_code" ng-show="id_label">{{"ID" |translate}}  <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" name="bar_code" id="Text4" class="k-textbox input-sm full-width" ng-model="temp.sims_certificate_requested_by" maxlength="10" ng-readonly="divcode_readonly" ng-disabled="id" />
                            </div>
                            <div class="col-md-3"><label>&nbsp;</label>
                                <button type="button" ng-click="search();" class="btn btn-primary btn-small" >{{"Search" | translate }}</button>
                            </div>
                        
                      </div>

                    
                     <div class="row" ng-show="enroll_no">
                        
                            <div class="col-md-3" ng-class="{'has-error': !Myform.enroll_no.$valid && (Myform.enroll_no.$touched || Myform.$submitted) }">
                                <label for="bar_code" ng-show="id_label1">{{"Enroll No" |translate}}  <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" name="enroll_no" id="Text5" class="k-textbox input-sm full-width" ng-model="temp.sims_certificate_enroll_number" maxlength="10" ng-readonly="divcode_readonly"/>
                            </div>
                            <div class="col-md-3"><label>&nbsp;</label>
                                <button type="button" ng-click="search_stud();" class="btn btn-primary btn-small" >{{"Search" | translate }}</button>
                            </div>
                       
                      </div>
                    <!--3 rd ROW-->
                  <div class="row">
                      <div class="col-md-6">
                        <div ng-class="{'has-error': !Myform.reason.$valid && (Myform.reason.$touched || Myform.$submitted) }">
                                <label for="bar_code">{{"Reason" |translate}}</label>
                                <textarea type="text" name="reason" id="Text2" class="k-textbox input-sm full-width" ng-model="temp.sims_certificate_reason" maxlength="100" />

                            </div>
                      </div>
                  </div>
                    <div class="row">
                        <div class="col-md-12">
                    <div class="form-actions">
                        <div class="pull-right">
                            <button type="submit" id="desigsub" ng-show="save_btn" class="btn btn-primary btn-small">{{"Save" | translate }}</button>
                            <button type="button" ng-show="Update_btn" ng-click="update(Myform.$valid);" class="btn btn-primary btn-small">{{"Update" | translate }}</button>
                            <button type="button" class="btn btn-danger btn-small" ng-click="Cancel();">{{"Cancel"| translate }}</button>
                        </div>
                    </div>
                            </div>
                    </div>
                </form>

                        <div ng-show="enrollno">

                            <label class="semi-bold">{{"Students" |translate}}</label>
                            <div class="row">
                                <div class="col-md-12 margin-top">
                                <table class="table table-bordered table-hover" id="Table6">
                                    <thead style="background-color: white">
                                        <tr style="background-color: #edefef">

                                            <th>{{"ENROLL NUMBER"| translate}}</th>
                                            <th>{{"STUDENT NAME"| translate}}</th>
                                            <th>{{"REMOVE"| translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tr ng-repeat="roll in Studentdata">

                                        <td>{{roll.s_enroll_no}}</td>
                                        <td>{{roll.s_sname_in_english}}</td>
                                        <td><span class="semi-bold"><a href="" ng-click="RemoveEnrollMentNo($event,$index,Studentdata)">X</a></span>  </td>
                                    </tr>
                                </table>
                            </div>
                                </div>
                        </div>

                    </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade in" id="Global_Search_Modal1" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 1000px;">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px"><b>{{"Global Search" |translate}}</b></h4>
                </div>
                <div class="pull-right">
                    <button class="btn-sm" data-dismiss="modal" ng-click="modal_cancel()" type="submit">X</button>
                </div>
            </div>

            <div class="modal-body" style="background-color: white">
                <ul class="nav nav-tabs" id="tab-01">
                    <li id="sid" ng-class="student_class" ng-hide="studflg" ng-click="modal_cancel()"><a href="#tab1">{{"Student" |translate}}</a></li>
                    <li id="pid" ng-class="parent_class" ng-click="modal_cancel()" ng-hide="parentflg"><a href="#tab2" >{{"Parent" |translate}}</a></li>                    
                    <li id="eid" ng-class="emp_class" ng-click="modal_cancel()" ng-hide="empflg"><a href="#tab6">{{"Employee" |translate}}</a></li>

                </ul>

                <div class="tab-content" style="padding-left: 2% !important;padding-right: 2% !important;">

                    <div class="tab-pane " id="tab1">
                        <div class="row">

                                    <div class="col-md-2">
                                        <label>{{"Curriculum" |translate}} <span class="asterisk" style="color: red">*</span></label>
                                        <select name="cur_code" id="Select5" ng-model="global_Search.global_curriculum_code" class="form-control input-sm full-width" ng-change="getAcadm_yr(global_Search.global_curriculum_code)"
                                                ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in cmbCur">
                                            <option selected disabled value="">Please Select</option>
                                        </select>
                                        <!--<label>{{"Curriculum" |translate}} <span class="asterisk" style="color: red">*</span></label>
                                                <select id="Select9" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="global_Search.global_curriculum_code" ng-change="getAcadm_yr(global_Search.global_curriculum_code)">
                                                    <option value="" selected disabled>Please Select</option>
                                                    <option ng-repeat="cr in cmbCur" value="{{cr.sims_cur_code}}">
                                                        {{cr.sims_cur_short_name_en}}
                                                    </option>
                                                </select>-->
                                        <!--<select id="cmb_cur" data-role="dropdownlist" name="curCode" data-role="dropdownlist" class="form-control input-sm full-width"
                                                    ng-model="global_Search.sims_cur_code" ng-change="getAcadm_yr(global_Search.sims_cur_code)"
                                                    ng-options="item.sims_cur_code as item.sims_cur_short_name_en for item in cmbCur"></select>-->
                                            </div>

                                    <div class="col-md-2">
                                        <label>{{"Academic Year" |translate}} <span class="asterisk" style="color: red">*</span></label>
                                                <!--<select id="Select4" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="global_Search.global_acdm_yr" ng-change="academic_change(global_Search.global_acdm_yr)">
                                                    <option value="" selected disabled>Please Select</option>
                                                    <option ng-repeat="acyr in Acdm_year" value="{{acyr.sims_academic_year}}">
                                                        {{acyr.sims_academic_year_desc}}
                                                    </option>
                                                </select>-->
                                        <select id="Select4" name="curCode" data-role="dropdownlist" class="form-control input-sm full-width"
                                                    ng-model="global_Search.global_acdm_yr" ng-change="getGrade(global_Search.global_curriculum_code,global_Search.global_acdm_yr)"
                                                    ng-options="item.sims_academic_year as item.sims_academic_year_desc for item in Acdm_year" />
                                            </div>

                                    <div class="col-md-2">
                                        <label>{{"Grade" |translate}}</label>
                                                <select id="Select5" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="global_Search.gradecode" ng-change="getsection(global_Search.global_curriculum_code,global_Search.gradecode,global_Search.global_acdm_yr);">
                                                    <option value="" selected disabled>Please Select</option>
                                                    <option ng-repeat="grade_cod in All_grade_names" value="{{grade_cod.sims_grade_code}}">
                                                        {{grade_cod.sims_grade_name}}
                                                    </option>
                                                </select>
                                            </div>

                                    <div class="col-md-2">
                                                <label>{{"Section" |translate}}</label>
                                            <select id="Select6" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="global_Search.sectioncode">
                                                    <option value="" selected disabled>Please Select</option>
                                                    <option ng-repeat="sec_nm in All_Section_names" value="{{sec_nm.sims_section_code}}">
                                                        {{sec_nm.sims_section_name}}
                                                    </option>
                                                </select>
                                            </div>

                                    <div class="col-md-2">

                                                <!-- <select id="Select8" style="width: 100%" class="form-control" ng-model="global_Search.nationalitycode">
                                                     <option value="" selected disabled>Please Select</option>
                                                     <option ng-repeat="na_nm in All_Nationality_names" value="{{na_nm.code}}">{{na_nm.name}}
                                                     </option>
                                                 </select>-->
                                                <label>{{"Nationality" |translate}}</label>
                                                <select id="Select35" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="global_Search.nationalitycode">
                                                    <option value="" selected disabled>{{"Please Select" |translate}}</option>
                                                    <option class="form-control input-sm" ng-repeat="section in ComboBoxValues|filter:{sims_nationality_name_en:''}" value="{{section.sims_nationality_code}} ">{{section.sims_nationality_name_en}}</option>
                                                </select>
                                            </div>

                                    <div class="col-md-2">

                                                <label>{{"National Id" |translate}}</label>
                                                <input type="text" class="k-textbox input-sm full-width" ng-model="global_Search.nationalityID" />
                                            </div>

                                </div>
                        <div class="row">

                                    <div class="col-md-2">
                                        <label>{{"Enrollment No" |translate}}</label>
                                                <input type="text" class="k-textbox input-sm full-width" ng-model="global_Search.glbl_enroll_num" />
                                            </div>

                                    <div class="col-md-2">
                                        <label>{{"Name" |translate}}</label>
                                                <input type="text" class="k-textbox input-sm full-width" ng-model="global_Search.glbl_name" />
                                            </div>

                                    <div class="col-md-2">
                                                <label>{{"Passport No" |translate}}</label>
                                                <input type="text" class="k-textbox input-sm full-width" ng-model="global_Search.glbl_pass_num" />
                                            </div>


                                    <div class="col-md-2">
                                                <label>{{"Family Name" |translate}}</label>
                                                <input type="text" class="k-textbox input-sm full-width" ng-model="global_Search.glbl_family_name" />
                                            </div>


                                    <div class="col-md-2">
                                                <label>&nbsp;</label>
                                                <button type="button" class="btn btn-primary btn-small" ng-click="Global_Search_by_student()">{{"Search" |translate}}</button>
                                            </div>
                                </div>

                        <div class="row" ng-show="busy">
                            <div class="col-md-12">
                                <div class="row form-row">
                                    <div class="col-md-5">
                                    </div>
                                    <div class="col-md-2">
                                        <img src="assets/theme/img/loading.gif" />

                                    </div>
                                    <div class="col-md-5">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-show="global_student_table">
                            <div id="Div2" class="dataTables_wrapper form-inline">
                                <div class="row">
                                    <div class="col-md-12 margin-top">
                                    <table class="table table-bordered table-hover" id="fixTable1" aria-describedby="example2_info">
                                        <thead style="background-color: white">
                                            <tr style="background-color: #edefef">
                                                <th style="z-index:1;"></th>
                                                <th class="semi-bold">{{"ENROLL NO" |translate}}</th>
                                                <th class="semi-bold">{{"Name" |translate}}</th>
                                                <th class="semi-bold">{{"NAME IN ARABIC" |translate}}</th>
                                                <th class="semi-bold">{{"CLASS" |translate}}</th>
                                                <th class="semi-bold">{{"PARENT ID" |translate}}</th>
                                                <th class="semi-bold">{{"PARENT NAME" |translate}}</th>
                                                <th class="semi-bold">{{"STATUS" |translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                                            <tr ng-repeat="info in global_search_result_lst" ng-class="row1">
                                                <!--<td class="text-center"><i class="fa fa-plus-circle" ng-click="expand(info, $event);"></i></td>-->
                                                <td>
                                                    <div class="checkbox check-success" style="height: 20px">
                                                        <input id="{{info.s_enroll_no}}" type="checkbox" name="check" ng-click="Gbl_checkbox_click(info.s_enroll_no,info.s_sname_in_english)" />
                                                        <label for="{{info.s_enroll_no}}"></label>
                                                    </div>
                                                </td>
                                                <td>{{info.s_enroll_no}}</td>
                                                <td>{{info.s_sname_in_english}}</td>
                                                <td>{{info.s_sname_in_arabic}}</td>
                                                <td>{{info.s_class}}</td>
                                                <td>{{info.s_parent_id}}</td>
                                                <td>{{info.s_parent_name}}</td>
                                                <td>{{info.status_name}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                    </div>
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane" id="tab2">
                      
                                <div class="row">
                                <div class="col-md-4">
                                    <label>{{"Parent Name" |translate}}</label>

                                    <input type="text" class="k-textbox input-sm full-width" ng-model="global_Search.search_parent_name" />
                                </div>
                                <div class="col-md-4">
                                    <label>{{"Family Name" |translate}}</label>

                                    <input type="text" class="k-textbox input-sm full-width" ng-model="global_Search.glbl_enroll_num" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label>{{"Parent ID" |translate}}</label>

                                    <input type="text" class="k-textbox input-sm full-width" ng-model="global_Search.search_parent_id" />
                                </div>
                                <div class="col-md-2">
                                    <label>{{"Mobile No" |translate}}</label>

                                    <input type="text" class="k-textbox input-sm full-width" ng-model="global_Search.search_parent_mobile_no" />
                                </div>
                                <div class="col-md-2">
                                    <label>{{"Email ID" |translate}}</label>

                                    <input type="text" class="k-textbox input-sm full-width" ng-model="global_Search.search_parent_email_id" />
                                </div>

                                <div class="col-md-2">
                                     <label>&nbsp</label>
                                <button type="button" class="btn btn-primary btn-small" ng-click="Global_Search_by_parent()">{{"Search" |translate}}</button>
                                &nbsp;
                                <button type="button" class="btn btn-primary btn-small" ng-click="Add_parent()">{{"Add" |translate}}</button>
                                    </div>
                               
                                <!--<button type="button" class="btn btn-primary btn-cons">Reset</button>-->

                            </div>
                      
                       <div class="row" ng-show="busy">
                            <div class="col-md-12">
                                <div class="row form-row">
                                    <div class="col-md-5">
                                    </div>
                                    <div class="col-md-2">
                                        <img src="assets/theme/img/loading.gif" />

                                    </div>
                                    <div class="col-md-5">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-show="global_parent_table">
                            <div id="Div1" class="dataTables_wrapper form-inline">
                                <div class="row">
                                    <div class="col-md-12 margin-top">
                                    <table class="table  table-striped  table-bordered table-hover" id="fixTable2" aria-describedby="example2_info">
                                        <thead style="background-color: white">
                                            <tr style="background-color: #edefef">
                                                <th style="z-index:1;"></th>
                                                <th class="semi-bold">{{"Parent No" |translate}}</th>
                                                <th class="semi-bold">{{"Father Name" |translate}}</th>
                                                <th class="semi-bold">{{"Father Email" |translate}}</th>
                                                <th class="semi-bold">{{"Father Mob" |translate}}</th>
                                                <th class="semi-bold">{{"Enroll No" |translate}}</th>
                                                <th class="semi-bold">{{"Student NAME" |translate}}</th>
                                                <th class="semi-bold">{{"Class" |translate}}</th>
                                                <th class="semi-bold">{{"Mother Name" |translate}}</th>
                                                <th class="semi-bold">{{"Mother Email" |translate}}</th>
                                                <th class="semi-bold">{{"Mother Mob" |translate}}</th>
                                                <th class="semi-bold">{{"Guardian Name" |translate}}</th>
                                                <th class="semi-bold">{{"Guardian Email" |translate}}</th>
                                                <th class="semi-bold">{{"Guardian Mob" |translate}}</th>
                                                <th class="semi-bold">{{"Status" |translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                                            <tr ng-repeat="info in global_search_result" ng-class="row1">
                                                <!--<td class="text-center"><i class="fa fa-plus-circle" ng-click="expand(info, $event);"></i></td>-->
                                                <td>
                                                    <div class="checkbox check-success" style="height: 20px">
                                                        <input id="{{info.s_parent_id+$index}}" type="checkbox" name="check" ng-click="Gbl_checkbox_click_parent(info)" />
                                                        <label for="{{info.s_parent_id+$index}}"></label>
                                                    </div>
                                                </td>
                                                <td>{{info.s_parent_id}}</td>
                                                <td>{{info.s_parent_name}}</td>
                                                <td>{{info.Mail_id}}</td>
                                                <td>{{info.Mobile_no}}</td>
                                                <td>{{info.s_enroll_no}}</td>
                                                <td>{{info.s_sname_in_english}}</td>
                                                <td>{{info.s_class}}</td>
                                                <td>{{info.mother_name}}</td>
                                                <td>{{info.mother_email_id}}</td>
                                                <td>{{info.mother_mobile_no}}</td>
                                                <td>{{info.guardian_name}}</td>
                                                <td>{{info.guardian_email_id}}</td>
                                                <td>{{info.guardian_mobile_no}}</td>
                                                <td>{{info.status_name}}</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                    </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="tab3">
                        <div class="row">
                                <div class="col-md-3">
                                    <label>{{"Garde" |translate}}</label>

                                    <select id="Select10" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="global_Search.gradecode2" ng-change="getallsectioncode(global_Search.gradecode2);">
                                        <option value="" selected disabled>Please Select</option>
                                        <option ng-repeat="grade_cod in All_grade_names" value="{{grade_cod.code}}">
                                            {{grade_cod.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label>{{"Section" |translate}}</label>

                                    <select id="example-post" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="global_Search.sectioncode2" multiple="multiple">
                                        <option value="" selected disabled>Please Select</option>
                                        <option ng-repeat="sec_nm in All_Section_names" value="{{sec_nm.code}}">
                                            {{sec_nm.name}}
                                        </option>
                                    </select>
                                </div>

                                <div class="col-md-2">
                                    <label>&nbsp</label>
                                    <button type="button" class="btn btn-primary btn-small" ng-click="Global_Search_SearchParentSectionWise()">{{"Search" |translate}}</button>
                                </div>
                                <div class="col-md-2"><label>&nbsp</label>
                                    <input type="search" ng-model="search.$" placeholder="Search" class="k-textbox" />
                                </div>
                                <!--<button type="button" class="btn btn-primary btn-cons">Reset</button>-->

                        </div>
                        <div class="row" ng-show="busy">
                            <div class="col-md-12">
                                <div class="row form-row">
                                    <div class="col-md-5">
                                    </div>
                                    <div class="col-md-2">
                                        <img src="assets/theme/img/loading.gif" />

                                    </div>
                                    <div class="col-md-5">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="Div3" class="dataTables_wrapper form-inline" ng-show="global_parent_table">
                            <div class="row">
                            <div class="col-md-12 margin-top">
                                <table class="table table-bordered table-hover" id="Table3" aria-describedby="example2_info">
                                    <thead style="background-color: white">
                                        <tr style="background-color: #edefef">
                                            <!--<td class="semi-bold">MORE</td>-->
                                            <th class="small-cell v-align-middle" style="z-index:1;">
                                                <div class="checkbox check-success">
                                                    <input type="checkbox" name="check" value="1" id="Checkbox2" ng-click="check();" class="checkall">
                                                    <label for="mainchk"></label>
                                                </div>
                                            </th>
                                            <th class="semi-bold" ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                                <label>
                                                    <b>
                                                        <a href="">
                                                            <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span>
                                                            <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"ENROLL NUMBER" |translate}}
                                                        </a>
                                                    </b>
                                                </label>
                                            </th>

                                            <th class="semi-bold">{{"STUDENT NAME" |translate}}</th>
                                            <th class="semi-bold">{{"PARENT NUMER" |translate}}</th>
                                            <th class="semi-bold">{{"PARENT NAME" |translate}}</th>
                                            <th class="semi-bold">{{"PARENT EMAIL ID" |translate}}</th>
                                            <th class="semi-bold">{{"PARENT MOB" |translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="info in global_search_result | filter:search:strict | orderBy:orderByField:reverseSort" ng-class="row1">
                                            <!--<td class="text-center"><i class="fa fa-plus-circle" ng-click="expand(info, $event);"></i></td>-->
                                            <td>
                                                <div class="checkbox check-success" style="height: 20px">
                                                    <input type="checkbox" name="check" value="1" id="Checkbox4" ng-click="check1(info.s_enroll_no)" />
                                                    <label for="{{info.s_enroll_no}}"></label>
                                                </div>
                                            </td>
                                            <td>{{info.s_enroll_no}}</td>
                                            <td>{{info.s_sname_in_english}}</td>
                                            <td>{{info.s_parent_id}}</td>
                                            <td>{{info.s_parent_name}}</td>
                                            <td>{{info.mail_id}}</td>
                                            <td>{{info.mobile_no}}</td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                       </div>
                                 </div>
                    </div>

                    <div class="tab-pane" id="tab4">
                      
                                <div class="row">

                                <div class="col-md-4">
                                    <label>{{"Teacher Name" |translate}}</label>

                                    <input type="text" class="k-textbox input-sm full-width" ng-model="global_Search.search_teacher_name" />
                                </div>
                                <div class="col-md-4">
                                    <label>{{"Teacher ID" |translate}}</label>

                                    <input type="text" class="k-textbox input-sm full-width" ng-model="global_Search.search_teacher_id" />
                                </div>
                                <div class="col-md-2">
                                    <label>&nbsp</label>
                                    <button type="button" class="btn btn-primary btn-small" ng-click="Global_Search_by_Teacher()">{{"Search" |translate}}</button>
                                </div>

                            </div>
                            <!--<div class="col-md-12 form-group">
                                <div class="col-md-2">
                                    <label>Teacher ID</label>

                                    <input type="text" class="k-textbox input-sm" ng-model="global_Search.search_parent_id" />
                                </div>
                                <div class="col-md-2">
                                    <label>Mobile Num</label>

                                    <input type="text" class="k-textbox input-sm" ng-model="global_Search.search_parent_mobile_no" />
                                </div>
                                <label>&nbsp</label>
                                <button type="button" class="btn btn-primary btn-cons" ng-click="Global_Search_by_parent()">Search</button>
                            </div>-->

                        <div class="row" ng-show="busy">
                            <div class="col-md-12">
                                <div class="row form-row">
                                    <div class="col-md-5">
                                    </div>
                                    <div class="col-md-2">
                                        <img src="assets/theme/img/loading.gif" />

                                    </div>
                                    <div class="col-md-5">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-show="global_teacher_table">
                            <div id="Div7" class="dataTables_wrapper form-inline">
                                <div class="row">
                                    <div class="col-md-12 margin-top">
                                    <table class="table table-bordered table-hover" id="fixTable3" aria-describedby="example2_info">
                                        <thead style="background-color: white">
                                            <tr style="background-color: #edefef">
                                                <th></th>
                                                <th class="semi-bold">{{"Guest Id" |translate}}</th>
                                                <th class="semi-bold">{{"Teacher Name" |translate}}</th>
                                                <th class="semi-bold">{{"Teacher Type" |translate}}</th>
                                                <th class="semi-bold">{{"Emplyoee Code" |translate}}</th>

                                            </tr>
                                        </thead>
                                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                                            <tr ng-repeat="info in global_search_result | filter:search:strict | orderBy:orderByField:reverseSort" ng-class="row1">
                                                <!--<td class="text-center"><i class="fa fa-plus-circle" ng-click="expand(info, $event);"></i></td>-->
                                                <td>
                                                    <div class="checkbox check-success" style="height: 20px">
                                                        <input id="Checkbox3" type="checkbox" name="check" ng-click="Gbl_checkbox_click(info.s_enroll_no,info.s_sname_in_english)" />
                                                        <label for="{{info.s_enroll_no}}"></label>
                                                    </div>
                                                </td>
                                                <td>{{info.user_name}}</td>
                                                <td>{{info.teacher_Name}}</td>
                                                <td>{{info.teacher_Type}}</td>
                                                <td>{{info.teacher_id}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                    </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="tab5">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>{{"User Id"| translate }}</label>
                                                <input id="txt_user_id" class="k-textbox input-sm full-width" ng-model="temp1.code" />

                                            </div>

                                    <div class="col-md-3">
                                        <label>{{"Name"| translate }}</label>
                                                <input id="txt_name" class="k-textbox input-sm full-width" ng-model="temp1.name" />
                                            </div>

                                    <div class="col-md-3">

                                                 <label>{{"Select User"| translate }}</label>
                                                <select id="cmb_user" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp1.search_user_name" ng-change="selecteduser(temp1.search_user_name);">
                                                    <option value="" selected disabled>Please Select</option>
                                                    <option value="2">Parent</option>
                                                    <option value="4">Student</option>
                                                    <option value="1">Employee</option>

                                                </select>
                                            </div>

                                    <div class="col-md-3">
                                            <div class="pull-right">
                                                    <label>&nbsp;</label>
                                                    <button type="button" class="btn btn-primary btn-small" ng-click="Global_Search_by_User();">{{"Search" |translate}}</button>
                                                </div>
                                            </div>
                                </div>

                            <div class="row" ng-show="busy">
                                <div class="col-md-12">
                                    <div class="row form-row">
                                        <div class="col-md-5">
                                        </div>
                                        <div class="col-md-2">
                                            <img src="assets/theme/img/loading.gif" />
                                        </div>
                                        <div class="col-md-5">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="table">

                                <div class="dataTables_wrapper form-inline" id="Div4">
                                    <div class="row">
                                        <div class="col-md-12 margin-top">
                                        <table class="table  table-striped  table-bordered table-hover" id="Table5" aria-describedby="example2_info">
                                            <thead style="background-color: white">
                                                <tr style="background-color: #edefef">
                                                    <th class="semi-bold">
                                                        <div class="checkbox check-success">

                                                            <input id="chk_min" type="checkbox" value="1" ng-click="chk()">
                                                            <label for="chk_min"></label>
                                                        </div>
                                                    </th>

                                                    <td class="semi-bold" ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                                        <label>
                                                            <b>
                                                                <a href="">
                                                                    <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span>
                                                                    <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"ID"| translate }}
                                                                </a>
                                                            </b>
                                                        </label>
                                                    </td>

                                                    <td class="semi-bold">{{"NAME" | translate }}</td>
                                                    <td class="semi-bold">{{"GROUP NAME"| translate }}</td>
                                                    <td class="semi-bold">{{"DATE CREATED"| translate }}</td>
                                                    <td class="semi-bold">{{"CAPTCHA STATUS"| translate }}</td>
                                                    <td class="semi-bold">{{"LAST LOGIN"| translate }}</td>
                                                    <td class="semi-bold">{{"EMAIL ID"| translate }}</td>
                                                    <td class="semi-bold">{{"STATUS"| translate }}</td>
                                                    <td class="semi-bold">{{"EXPIRY DATE" | translate }}</td>
                                                    <!--<td class="semi-bold">{{"ACTION"| translate }}</td>-->
                                                </tr>
                                            </thead>
                                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                <tr ng-repeat="info in Allusers |filter:search:strict"
                                                    ng-class="row1">
                                                    <td>
                                                        <div class="checkbox check-success">
                                                            <input id="{{info.user_code}}" type="checkbox" value="1" ng-model="info.user_code1" />
                                                            <label for="{{info.user_code}}"></label>
                                                        </div>
                                                    </td>
                                                    <td>{{info.user_name}}</td>
                                                    <td>{{info.name}}</td>
                                                    <td>{{info.search_user_name}}</td>
                                                    <td>{{info.user_date_created}}</td>
                                                    <td class="v-align-middle">
                                                        <span ng-if="info.user_captcha_status==true" class="label label-success">Active</span>
                                                        <span ng-if="info.user_captcha_status==false" class="label label-important">In active</span>
                                                    </td>
                                                    <td>{{info.user_last_login}}</td>
                                                    <td>{{info.mail_id}}</td>
                                                    <td class="v-align-middle">
                                                        <span ng-if="info.user_status1==true" class="label label-success">Active</span>
                                                        <span ng-if="info.user_status1==false" class="label label-important">In active</span>
                                                    </td>
                                                    <td>{{info.user_expiry_date}}</td>
                                                    <!--<td><a href=""><i class="fa fa-edit" data-dismiss="modal" ng-click="edit(info)"></i></a></td>-->
                                                </tr>
                                            </tbody>
                                        </table>
                                            </div>
                                    </div>


                                </div>

                            </div>
                        </div>

                    <div class="tab-pane" id="tab6">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label>{{"User Code" |translate}}</label>
                                                        <input type="text" class="k-textbox input-sm full-width" ng-model="temp.em_login_code" />
                                                    </div>

                                            <div class="col-md-3">
                                                <label>{{"Employee Name" |translate}}</label>
                                                        <input type="text" class="k-textbox input-sm full-width" ng-model="temp.EmpName" />
                                                    </div>


                                            <div class="col-md-3">
                                                    <div class="pull-right">
                                                        <label>&nbsp;</label>
                                                            <button type="button" class="btn btn-primary btn-small" ng-click="Global_Search_by_employee();">{{"Search" |translate}}</button>
                                                        </div>
                                                    </div>
                                        </div>
                                  

                                    <div ng-show="NodataEmployee">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row form-row">
                                                    <div class="col-md-6">
                                                        &nbsp
                                                    </div>
                                                    <div class="col-md-12">
                                                        <h4 style="text-align:center">Sorry No Data Found</h4>
                                                    </div>
                                                    <div class="col-md-3">
                                                        &nbsp
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                        <div ng-show="EmployeeTable">
                                            <div id="Div6" class="dataTables_wrapper form-inline">
                                                <div class="row">
                                                    <div class="col-md-12 margin-top">
                                                    <table class="table table-bordered table-hover" id="fixTable4">
                                                        <thead style="background-color: white">
                                                            <tr style="background-color: #edefef">
                                                                <th class="semi-bold" style="z-index:1;">
                                                                    <div class="checkbox check-success">

                                                                        <input id="Checkbox5" type="checkbox" value="1" ng-click="chk()">
                                                                        <label for="chk_min"></label>
                                                                    </div>
                                                                </th>
                                                                <th class="semi-bold">{{"EMPLOYEE NUMBER" |translate}}</th>
                                                                <th class="semi-bold">{{"EMPLOYEE NAME" |translate}}</th>
                                                                <th class="semi-bold">{{"MOBILE NO" |translate}}</th>
                                                                <th class="semi-bold">{{"EMAIL ID" |translate}}</th>
                                                                <th class="semi-bold">{{"EMPLOYEE STATUS" |translate}}</th>
                                                                <!--<th class="semi-bold">{{"ACTION" |translate}}</th>-->
                                                            </tr>
                                                        </thead>
                                                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                            <tr ng-repeat="emp in EmployeeDetails">
                                                                <td>
                                                                    <div class="checkbox check-success">
                                                                        <input id="{{emp.em_login_code}}" type="checkbox" value="1" ng-model="emp.em_login_code1" ng-click="Gbl_checkbox_click_emp(emp.em_login_code)" />
                                                                        <label for="{{emp.em_login_code}}"></label>
                                                                    </div>
                                                                </td>
                                                                <td>{{emp.em_login_code}}</td>
                                                                <td>{{emp.empName}}</td>
                                                                <td>{{emp.em_mobile}}</td>
                                                                <td>{{emp.em_email}}</td>
                                                                <td>{{emp.em_service_status_name}}</td>
                                                                <!--<td> <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="EmployeeAdd(emp);" data-dismiss="modal" type="submit">ADD</button></td>-->
                                                                <!--<td><a href=""><i class="fa fa-edit" ng-click="SearchParentChild(info)" data-dismiss="modal"></i></a>-->
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                    </div>
                                            </div>
                                        </div>
                                </div>

                            </div>
                <!--<div class="modal-footer">
                    <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" data-dismiss="modal" ng-click="modal_cancel()" type="submit"><i class="fa fa-arrow-right"></i>Cancel</button>
                </div>-->
            </div>
        </div>

    </div>
</div>

<script src="assets/js/tabs_accordian.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>



