﻿
<style>
    .ms-choice {
        height: 26px;
    }
</style>


<div class="row">
    <div class="raw">

        <div class="paddingcode grid-body bluegrd ">

            <div class="col-md-12 ">
                <div class="col-md-1">
                    <label id="Label" for="txt_Nationality_Code" class="form-label">
                        <i class="fa fa-book"></i>
                        {{"Curriculum"|translate}}<span style="color:red">*</span>
                    </label>
                    <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width"
                            ng-model="temp.sims_cur_code" ng-selected="" name="sims_cur_code" ng-change="getAcademic_year(temp.sims_cur_code)"
                            ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in cur_data" required></select>
                </div>

                <div class="col-md-2">
                    <label><i class="fa fa-sort-amount-desc"></i>{{"Academic Year"|translate}}<span class="asterisk" style="color: red">*</span></label>
                    <select id="cmb_acade_year" multiple="multiple" class="form-control input-sm full-width" ng-model="temp.sims_academic_year" ng-change="getGrade(temp.sims_cur_code,temp.sims_academic_year)">
                        <option ng-repeat="acad in acad_data|filter:{sims_academic_year:''}" value="{{acad.sims_academic_year}} ">{{acad.sims_academic_year_desc}}</option>
                    </select>
                </div>


                <div class="col-md-2">
                    <label><i class="fa fa-sitemap"></i>{{"Grade"|translate}}<span class="asterisk" style="color: red">*</span></label>
                    <select id="cmb_grade_code" multiple="multiple" class="form-control input-sm full-width" ng-model="temp.sims_grade_code" ng-change="getSection(temp.sims_cur_code,temp.sims_academic_year,temp.sims_grade_code)">
                        <option ng-repeat="grade in Grade_code|filter:{sims_grade_name:''}" value="{{grade.sims_grade_code}} ">{{grade.sims_grade_name}}</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <label><i class="fa-align-justify"></i>{{"Section"|translate}} <span class="asterisk" style="color: red">*</span></label>
                    <select id="cmb_section_code" multiple="multiple" class="form-control input-sm full-width" ng-model="temp.sims_section_code" ng-change="parameter()">
                        <option ng-repeat="section in Section_code|filter:{sims_section_name:''}" value="{{section.sims_section_code}} ">{{section.sims_section_name}}</option>
                    </select>
                </div>

<!--                <div class="col-md-2">
                    <label class="form-label">{{ "From Date" | translate }} <span style="color:red">*</span></label>
                    <input id="dp_recdate" placeholder="Select Date" name="dp_recdate" class="k-textbox input-sm full-width" ng-model="temp.from_date">
                </div>

                 <div class="col-md-1">
                     <label id="Label6" for="txt_Nationality_Code" class="form-label style="margin-top: 2px;">
                    <label class="form-label1">
                        {{"Null"| translate }}
                    </label>
                    <div class="checkbox check-success">
                        <input type="checkbox" id="chkmarks" ng-model="mom_start_date_check" />
                        <label for="chkmarks"></label>
                    </div>
                </div>

                <div class="col-md-2" style="margin-left: -84px;">
                    <label class="form-label">{{ "To Date" | translate }} <span style="color:red">*</span></label>
                    <input id="to_date" placeholder="Select Date" name="dp_recdate" class="k-textbox input-sm full-width" ng-model="temp.to_date">
                </div>


                 <div class="col-md-1" style="margin-left: 0px;">
                     <label id="Label8" for="txt_Nationality_Code" class="form-label style="margin-top: 2px;">
                    <label class="form-label1">
                        {{"Null"| translate }}
                    </label>
                    <div class="checkbox check-success">
                        <input type="checkbox" id="chkmarks1" ng-model="mom_end_date_check" />
                        <label for="chkmarks1"></label>
                    </div>
                </div>-->




                                   <div class="col-md-1" style="width: 12%">
                     <label id="Label4" for="txt_Nationality_Code" class="form-label" style="margin-top: 2px;">
                    <label><i class="fa fa-calendar"></i>&nbsp;{{"From Date"|translate}} </label>
                    <!--<div class="input-append success  no-padding" data-datepicker="true" style="width: auto">-->
                    <span class="k-widget k-datepicker k-header k-textbox input-sm full-width k-input" style="width: 100%;">
                        <span class="k-picker-wrap k-state-default">
                            <input type="text" id="from_date" name="start_date"
                                   class="k-textbox input-sm full-width k-input ng-pristine ng-valid ng-touched" ng-model="mom_start_date"
                                   ng-change="" data-role="datepicker" role="combobox" aria-expanded="false" peaceholer="Select Date"
                                   aria-owns="start_date_dateview" aria-disabled="false" aria-readonly="false" style="width: 100%;"
                                   aria-activedescendant="8a8a008b-1b3c-42a7-be94-431c355f22e6_cell_selected">
                            <span unselectable="on" class="k-select" role="button" aria-controls="start_date_dateview">
                                <span unselectable="on" class="k-icon k-i-calendar">select</span>
                            </span>
                        </span>
                    </span>
                    <!-- <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                    </div>  -->
                </div>

                                   <div class="col-md-1">
                     <label id="Label6" for="txt_Nationality_Code" class="form-label style="margin-top: 2px;">
                    <label class="form-label1">
                        {{"Null"| translate }}
                    </label>
                    <div class="checkbox check-success">
                        <input type="checkbox" id="chkmarks" ng-model="mom_start_date_check" />
                        <label for="chkmarks"></label>
                    </div>
                </div>

                                   <div class="col-md-1" style="width: 12%">
                     <label id="Label7" for="txt_Nationality_Code" class="form-label" style="margin-top: 2px; margin-left: -69px;">
                    <label class="ng-binding"><i class="fa fa-calendar"></i>&nbsp;{{"To Date"|translate}} </label>
                    <!--<div class="input-append success  no-padding" data-datepicker="true" >-->
                    <span class="k-widget k-datepicker k-header k-textbox input-sm full-width" style="width: 100%;">
                        <span class="k-picker-wrap k-state-default">
                            <input type="text" id="to_date" name="end_date"
                                   class="k-textbox input-sm full-width k-input ng-pristine ng-valid ng-touched" ng-model="mom_end_date"
                                   ng-change="" data-role="datepicker" role="combobox" aria-expanded="false"
                                   aria-owns="expiry_date_dateview" aria-disabled="false" aria-readonly="false" style="width: 100%;">
                            <span unselectable="on" class="k-select" role="button" aria-controls="expiry_date_dateview">
                                <span unselectable="on" class="k-icon k-i-calendar">select</span>
                            </span>
                        </span>
                    </span>
                    <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                    </div>-->
                </div>

                                   <div class="col-md-1" style="margin-left:-65px">
                     <label id="Label8" for="txt_Nationality_Code" class="form-label style="margin-top: 2px;">
                    <label class="form-label1">
                        {{"Null"| translate }}
                    </label>
                    <div class="checkbox check-success">
                        <input type="checkbox" id="chkmarks1" ng-model="mom_end_date_check" />
                        <label for="chkmarks1"></label>
                    </div>
                </div>  






                </div>  
                <div class="col-md-12">
                    <div class="pull-right">
                        <label>&nbsp;</label>
                        <button type="button" class="btn btn-primary btn-cons" ng-click="getdetail()">{{"Submit"|translate}}</button>
                        <button class="btn btn-rounded btn-warning btn-cons" type="button" ng-click="reset_data()"><i class="icon-ok"></i>{{"Reset"|translate}}</button>
                        <button type="button" class="btn btn-primary btn-cons" ng-click="exportData()">{{"Excel"|translate}}</button>
                        <button type="button" class="btn btn-primary btn-cons" ng-click="print()">{{"Print"|translate}}</button>
                    </div>
                </div>
               
            </div>
        </div>


    </div>   


 

<div class="raw" >
    <div class="paddingcode grid-body no-border" style="background-color:white">
        <div class="col-md-12 ">
            <div class="col-md-3">
                <select id="Select1" style="width: 65px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                    <option value="50" class="form-control input-sm">
                        50
                    </option>

                    <option value="100" class="form-control input-sm">
                        100
                    </option>

                    <option value="All" class="form-control input-sm">
                        All
                    </option>
                </select>
            </div>

            <div class="col-md-5">
                <div class="center">
                <div class="row" >
                    <div>                        
                        <h5>
                            <b>School Leavers Report </b>

                        </h5>
                       </div>  
                                
                </div>
                
                </div>


            </div>

            <div class="col-md=4">
                  <div class="pull-right">
                        <span class="k-textbox k-space-right">
                            <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm" autofocus="autofocus" tabindex="1" ng-change="search()"></label>
                            <a href="#" class="k-icon k-i-search">&nbsp;</a>
                        </span>
                    </div>
                </div>

            </div>
        

            <div class="col-md-12" ng-if="colsvis">
                <div class="center">
                    <div class="row">
                        <div>
                            <h4>
                                {{user_details.lic_school_name}}
                            </h4>
                            <h5>
                                <b>School Leavers Report </b>

                            </h5>
                        </div>

                    </div>

                </div>


            </div>
       
        
            <div class="row">
                <div class="col-md-12">
                    <span style="float:left">
                        &nbsp;<b>Curriculum : </b>
                    </span>
                    <span style="float:left">
                        {{cur}}<span></span> &nbsp;
                    </span>

                    <span style="float:left">
                        <b>Academic  Year : </b>
                    </span>
                    <span ng-repeat="a in acad" style="float:left">
                        {{a}}  <span ng-hide="$last">,</span> &nbsp;
                    </span>

                    <span style="float:left">
                        <b>Grade : </b>
                    </span>
                    <span ng-repeat="g in grade" style="float:left">
                        {{g}}  <span ng-hide="$last">,</span> &nbsp;
                    </span>

                    <span style="float:left">
                        <b>Section : </b>
                    </span>
                    <span ng-repeat="s in section" style="float:left">
                        {{s}}  <span ng-hide="$last">,</span> &nbsp;
                    </span>


                    <span style="float:left">
                        <b>Total Records : </b>
                    </span>
                    <span style="float:left">
                        {{total_length}}  <span ng-hide="$last">.</span> &nbsp;
                    </span>



                </div>
            </div>
        <div id="rpt_data1">
            <div class="grid-body no-border">
                <div class="row margin-top">
                    <div class="row margin-top">
                        <table class="table table-striped table-flip-scroll cf">

                            <thead ng-if="!colsvis">
                                <tr style="background-color:#edefef">
                                    <th><b>{{"Sr No"|translate}}</b></th>
                                    <th ng-click="sortBy('sims_student_enroll_number')"><b>{{"Std.ID"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_student_enroll_number'" ng-class="{reverse: reverse}"></span></th>
                                    <th ng-click="sortBy('sims_parent_login_code')"><b>{{"Fml.ID"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_parent_login_code'" ng-class="{reverse: reverse}"></span></th>
                                    <th ng-click="sortBy('student_name')"><b>{{"Student Name"|translate}}</b><span class="sortorder" ng-show="propertyName === 'student_name'" ng-class="{reverse: reverse}"></span></th>
                                    <th ng-click="sortBy('sims_grade_name_en')"><b>{{"Grade"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_grade_name_en'" ng-class="{reverse: reverse}"></span></th>
                                    <th ng-click="sortBy('sims_parent_father_mobile')"><b>{{"Father Mobile"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_parent_father_mobile'" ng-class="{reverse: reverse}"></span></th>
                                    <th ng-click="sortBy('sims_parent_mother_mobile')"><b>{{"Mother Mobile"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_parent_mother_mobile'" ng-class="{reverse: reverse}"></span></th>

                                    <th ng-click="sortBy('leaving_date')"><b>{{"Leave Date"|translate}}</b><span class="sortorder" ng-show="propertyName === 'leaving_date'" ng-class="{reverse: reverse}"></span></th>
                                    <th ng-click="sortBy('sims_student_remark')"><b>{{"Leave Reason"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_student_remark'" ng-class="{reverse: reverse}"></span></th>
                                    <th ng-click="sortBy('school')"><b>{{"School"|translate}}</b><span class="sortorder" ng-show="propertyName === 'school'" ng-class="{reverse: reverse}"></span></th>
                                    <th ng-click="sortBy('oversease')"><b>{{"Oversease"|translate}}</b><span class="sortorder" ng-show="propertyName === 'oversease'" ng-class="{reverse: reverse}"></span></th>
                                    <th ng-click="sortBy('sims_student_academic_status')"><b>{{"Status"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_student_academic_status'" ng-class="{reverse: reverse}"></span></th>

                                </tr>
                            </thead>
                            <thead ng-if="colsvis">
                                <tr style="background-color:#edefef">
                                    <th style="text-align:left"><b>{{"Sr No"|translate}}</b></th>
                                    <th style="text-align:left"><b>{{"Std.ID"|translate}}</b></th>
                                    <th style="text-align:left"><b>{{"Fml.ID"|translate}}</b></th>
                                    <th style="text-align:left"><b>{{"Student Name"|translate}}</b></th>
                                    <th style="text-align:left"><b>{{"Grade"|translate}}</b></th>
                                    <th style="text-align:left"><b>{{"Father Mobile"|translate}}</b></th>
                                    <th style="text-align:left"><b>{{"Mother Mobile"|translate}}</b></th>
                                    <th style="text-align:left"><b>{{"Leave Date"|translate}}</b></th>
                                    <th style="text-align:left"><b>{{"Leave Reason"|translate}}</b></th>
                                    <th style="text-align:left"><b>{{"School"|translate}}</b></th>
                                    <th style="text-align:left"><b>{{"Oversease"|translate}}</b></th>
                                    <th style="text-align:left"><b>{{"Status"|translate}}</b></th>


                                </tr>
                            </thead>
                            <tbody align="center">
                                <tr ng-repeat="r in filteredTodos | orderBy:propertyName:reverse|filter:searchText">
                                    <td style="text-align:left">{{$index+1}}</td>
                                    <td style="text-align:left">{{r.sims_student_enroll_number}}</td>
                                    <td style="text-align:left">{{r.sims_parent_login_code}}</td>
                                    <td style="text-align:left">{{r.student_name}}</td>
                                    <td style="text-align:left">{{r.sims_grade_name_en}}</td>
                                    <td style="text-align:left">{{r.sims_parent_father_mobile}}</td>
                                    <td style="text-align:left">{{r.sims_parent_mother_mobile}}</td>
                                    <td style="text-align:left">{{r.leaving_date}}</td>
                                    <td style="text-align:left">{{r.sims_student_remark}}</td>
                                    <td style="text-align:left">{{r.school}}</td>
                                    <td style="text-align:left">{{r.oversease}}</td>
                                    <td style="text-align:left">{{r.sims_student_academic_status}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>


                </div>

            </div>

        </div>

                    <div class="row" ng-show="pager">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
      
   




<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/plugins/fileSaver.js"></script>
<script src="assets/js/jszip.js"></script>
<script src="assets/js/xlsx.js"></script>
<script src="assets/js/xlsx-reader.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>



