﻿
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Section Elective Subject Details" |translate}}</span>&nbsp;{{"Master" | translate}}</h3>
            </div>
             <div class="grid-body no-border" >
            <div ng-show="showAddForm">
                <form name="Myform" ng-submit="saveSectionElectiveSubject(Myform.$valid)" novalidate="novalidate">
                    <!--1ST ROW-->                   
                        <div class="row">
                            <div class="col-md-3" ng-class="{'has-error': !Myform.curiculum.$valid && (Myform.curiculum.$touched || Myform.$submitted) }">
                                <label>{{"Curriculum"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                        <select id="Select3" class="form-control" name="curiculum" ng-model="temp.sims_cur_code" required ng-disabled="curiculamReadonly"
                                            ng-options="doc.sims_cur_code as doc.sims_cur_short_name_en for doc in curiculums" 
                                             ng-change="getAcaYear(temp.sims_cur_code);">
                                            <option class="form-control input-sm"  value="">
                                                Please select
                                            </option>
                                        </select>
                                        <p class="help-block" ng-show="Myform.curiculum.$error.required &&  (Myform.curiculum.$touched || Myform.$submitted)">
                                            {{"This field is required"|translate}}
                                        </p>
                                    </div>
                            <div class="col-md-3" ng-class="{'has-error': !Myform.acaYear.$valid && (Myform.acaYear.$touched || Myform.$submitted) }">
                                <label>{{"Academic Year" | translate}} <span class="asterisk" style="color: red">&nbsp;*</span></label>
                                <select id="Select4" name="acaYear" class="form-control" ng-model="temp.sims_academic_year"
                                        ng-options="ay.sims_academic_year as ay.sims_academic_year_desc for ay in acaYears"
                                        ng-change="getGrade(temp.sims_cur_code,temp.sims_academic_year)"
                                        ng-disabled="yearReadonly" required>
                                    <option class="form-control input-sm" value="">
                                        Please select
                                    </option>
                                </select>
                                        <p class="help-block" ng-show="Myform.acaYear.$error.required &&  (Myform.acaYear.$touched || Myform.$submitted)">
                                            {{"This field is required"|translate}}
                                        </p>
                                    </div>

                            <div class="col-md-3">
                                <label for="quotaDesc">{{"Language Description" | translate }}<span class="asterisk" style="color: red">&nbsp;*</span>
                                </label>
                                <input type="text" name="lang" id="lang" class="textbox input-sm full-width" ng-model="temp.sims_language_code"
                                       ng-disabled="languageReadonly" maxlength="50" required />
                                <p class="help-block" ng-show="Myform.lang.$error.required &&  (Myform.lang.$touched || Myform.$submitted)">
                                    {{"This field is required"|translate}}
                                </p>
                            </div>
                           
                            <div class="col-md-3" >
                                <label for="quotaDesc">{{"Remark" | translate }}</label>
                                <input type="text" name="quotaDesc" id="Text1" class="k-textbox input-sm full-width" ng-model="temp.sims_language_desc_remark" maxlength="50" />                                
                            </div>
                             </div>
                        <div class="row margin-top">
                            <div class="col-md-3">
                                <label for="DivCode">{{"Max. Selection" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" ng-pattern="/^[0-9]{1,7}$/" name="Max" id="Max" class="k-textbox input-sm" 
                                       ng-model="temp.sims_elective_subject" maxlength="2" required ng-blur="checkValue(temp.sims_compulsory_subject,temp.sims_elective_subject)" />
                                <span ng-show="Myform.Max.$error.pattern" class="help-block">Enter only number</span>
                                <p class="help-block" ng-show="Myform.Max.$error.required &&  (Myform.Max.$touched || Myform.$submitted)">
                                    {{"This field is required"|translate}}
                                </p>
                            </div>
                            <div class="col-md-3">
                                <label>{{"Compulsory Selection" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" ng-pattern="/^[0-9]{1,7}$/" name="comp" id="comp" class="k-textbox input-sm" ng-model="temp.sims_compulsory_subject" maxlength="2" required ng-blur="checkValue(temp.sims_compulsory_subject,temp.sims_elective_subject)" />                               
                                <span ng-show="Myform.comp.$error.pattern" class="help-block">Enter only number</span>
                                <p class="help-block" ng-show="Myform.comp.$error.required &&  (Myform.comp.$touched || Myform.$submitted)">
                                    {{"This field is required"|translate}}
                                </p>                       
                             </div>
                            
                            <div class="col-md-3">
                                <label>{{"Grade" | translate }}</label>
                                <select id="cmb_grade" name="cmb_grade" multiple="multiple" ng-model="temp.sims_grade_code"
                                        ng-change="getSection(temp.sims_cur_code,temp.sims_academic_year,temp.sims_grade_code)" required>
                                    <option class="form-control input-sm" ng-repeat="i in grade" value="{{i.sims_grade_code}}">
                                        {{i.sims_grade_name}}
                                    </option>
                                </select>
                            </div>
                        <div class="col-md-3">
                            <label>{{"Section" |translate}}</label>
                            <select id="cmb_section" class="full-width" multiple="multiple" name="user" ng-model="temp.sims_section_code" required>
                                <option class="form-control input-sm" ng-repeat="j in section" value="{{j.sims_section_code}}">{{j.sims_section_name}}</option>
                            </select>                        
                       </div>                           
                     </div>

                    <div class="row">                            
                        <div class="col-md-3"><label>{{"Subject" | translate }}</label>
                            <select id="cmb_subject" name="Subject" ng-model="temp.subject_code" multiple required>
                                <option ng-repeat="i in subjects" value="{{i.subject_code}}">
                                    {{i.subject_name_en}}
                                </option>
                            </select>                                      
                            </div>
                          <div class="col-md-3">
                            <label id="Label7" for="txt_Status" class="form-label">{{"Status"| translate }}</label>
                            <div class="checkbox check-success">
                                <input id="cost_center_ac" class="k-checkbox" type="checkbox" ng-model="temp.sims_status" ng-click="setStatus(temp.sims_status)">
                                <label for="cost_center_ac"></label>
                            </div>
                            </div>
                        </div>
                    
                    <div class="form-actions">
                        <div class="pull-right">
                            <button type="submit" ng-show="save_btn" id="saveAddmisionQuota" class="btn btn-primary btn-cons">{{"Save" | translate }}</button>
                            <button type="button" ng-show="Update_btn" ng-click="updateAdmissionData(Myform.$valid);" class="btn btn-primary btn-cons">{{"Update" | translate }}</button>
                            <button type="button" class="btn btn-danger btn-cons" ng-click="cancelAddForm();">{{"Cancel"| translate }}</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>


            <div ng-show="table1" style="padding-bottom: 6%;">
                <div class="row form-row">
                    <div class="col-md-6">
                        <select id="Select1" style="width: 60px" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                            <option value="10" class=" form-control input-sm">10</option>
                            <option value="20" class=" form-control input-sm">20</option>
                            <option value="All" class=" form-control input-sm">All</option>
                        </select>
                        &nbsp;
                        <button class="btn btn-primary btn-small" type="button" id="designew" ng-click="newAddForm()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate }}</button>
                        <button class="btn btn-danger btn-small" type="button" id="designew" ng-click="Delete()">{{"Delete"| translate }}</button>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                                    <!--{{ "Search:" | translate }} &nbsp;-->
                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Description / Remark" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div class="row">
                        <div class="col-md-12">
                        <table class="table table-bordered table-condensed table-hover" id="fixTable">
                            <thead style="background-color: white">
                                <tr style="background-color: #edefef">
                                    <th class="small-cell v-align-middle" style="z-index:1">
                                        <div class="checkbox check-success">
                                            <input type="checkbox" name="check" value="1" id="mainchk" ng-click="CheckAllChecked();" class="checkall k-checkbox">
                                            <label for="mainchk" style="left: 5px;"></label>
                                        </div>
                                    </th>
                                    <th class="semi-bold" ng-click="orderByField='sort'; reverseSort = !reverseSort"><label><b>{{"Curriculum" | translate }}</b></label></th>
                                    <th class="semi-bold"><label><b>{{"Academic Year" | translate }}</b></label></th>
                                    <th class="semi-bold"><label><b>{{"Language" | translate }}</b></label></th>
                                    <th class="semi-bold"><label><b>{{"Remark" | translate }}</b></label></th>
                                    <th class="semi-bold"><label><b>{{"Elective Subject" | translate }}</b></label></th>
                                    <th class="semi-bold"><label><b>{{"Compulsory Subject" | translate }}</b></label></th>
                                    <th class="semi-bold"><label><b>{{"Status" | translate }}</b></label></th>
                                    <th class="semi-bold"><label><i class="fa fa-cogs"></i></label></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="ses in filteredTodos">
                                    <td>
                                        <div class="checkbox check-success" style="height: 20px">
                                            <input type="checkbox" value="1" id="{{ses.sims_language_code}}" ng-click="setClickedRow();" />
                                            <label for="{{ses.sims_language_code}}"></label>
                                        </div>
                                    </td>
                                        <td><label id="Label2">{{ses.sims_cur_short_name_en}}</label></td>
                                        <td>
                                        <div class="row-fluid">
                                        <label id="lbl2">{{ses.sims_academic_year_description}}</label>
                                        </div>
                                        </td>
                                        <td><label id="lbl">{{ses.sims_language_desc}}</label></td>
                                        <td><label id="Label1">{{ses.sims_language_desc_remark}}</label></td>
                                        <td><label id="Label4">{{ses.sims_elective_subject}}</label></td>
                                        <td><label id="Label5">{{ses.sims_compulsory_subject}}</label></td>
                                         <td>
                                             <span ng-if="ses.sims_status_chk=='A'" class="label label-success">Active</span>
                                             <span ng-if="ses.sims_status_chk=='I'" class="label label-important">Inactive</span>
                                        </td>
                                        <td>
                                            <a href=""><i class="fa fa-edit" ng-click="editSectionElectiveSubject(ses)"></i></a>
                                        </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div></div>
                     <div class="row" ng-show="pager">
                        <div class="col-md-12">
                        <div class="pull-right" ng-show="pager">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                ng-click="index(currentPage)">
                        </paging>
                    </div>
                    </div>
                  </div>                
            </div>
        </div>
        </div>
    </div>

</div>

<script src="assets/js/tableHeadFixer.js"></script>

