﻿<!--<link href="assets/css/newDash.css" rel="stylesheet" />
<link href="assets/css/rounded_btn.css" rel="stylesheet" />
<link href="assets/css/animate.css" rel="stylesheet" />
<script src="assets/plugins/modal_updated.js"></script>-->

<style>
    ul {
        -webkit-padding-start: 0px;
    }

    .div_th {
        white-space: nowrap;
    }
    .wysihtml5-sandbox {
        height:200px !important;
    }

    .k-textbox .k-icon {
    top: 50%;
    margin: -9px -9px 0;
    position: absolute;
}
    .k-input {
    padding: 0em;
    margin-top:0px;
}
    #div712 {
     margin-top:6px;
   }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple main_grid">
            <div class="grid-body no-border bluegrid paddingcode" >
                <div class="row" ng-show="notshow">
                    <div class="col-xs-4">
                        <div class="well" class="form-group">
                            <div class="form-group">
                                <label>Current Page:</label>
                                <input placeholder="page"
                                       class="form-control"
                                       ng-model="currentPage"
                                       ng-init="currentPage = 1" />
                            </div>
                            <div class="form-group">
                                <label>Page Size:</label>
                                <input placeholder="Page Size"
                                       class="form-control"
                                       ng-model="numPerPage" />
                            </div>
                            <div class="form-group">
                                <label>Total Items:</label>
                                <input placeholder="Total"
                                       class="form-control"
                                       ng-model="pagersize" />
                            </div>
                            <hr />
                            <div class="form-group">
                                <label>Dots Display:</label>
                                <input placeholder="..."
                                       class="form-control"
                                       maxlength="3"
                                       ng-model="dots"
                                       ng-init="dots = '...'" />
                            </div>

                            <hr />
                            <div class="form-group">
                                <label>UL Class:</label>
                                <input placeholder="pagination"
                                       class="form-control"
                                       maxlength="100"
                                       ng-model="ulClass" />
                            </div>
                            <div class="form-group">
                                <label>Active Class:</label>
                                <input placeholder="active"
                                       class="form-control"
                                       maxlength="100"
                                       ng-model="activeClass"
                                       ng-init="activeClass = 'active'" />
                            </div>
                            <div class="form-group">
                                <label>Disabled Class:</label>
                                <input placeholder="disabled"
                                       class="form-control"
                                       maxlength="100"
                                       ng-model="disabledClass"
                                       ng-init="disabledClass = 'disabled'" />
                            </div>
                            <br />
                            <table class="table">

                                <tr>
                                    <td>
                                        <label>Show Prev Next:</label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               ng-model="showPrevNext"
                                               ng-init="showPrevNext = true" />
                                        {{showPrevNext}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Show First Last:</label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               ng-model="showFirstLast"
                                               ng-init="showFirstLast = true" />
                                        {{showPrevNext}}
                                    </td>
                                </tr>
                            </table>
                            <hr />
                            <span class="btn btn-default" onclick="location.reload()">
                                <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                            </span>
                            <span class="btn btn-success" ng-click="currentPage = 0">
                                Apply Settings
                            </span>
                            <br />
                            <br />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="row form-row">
                            <div class="col-md-2">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label><i class="fa fa-book"></i>&nbsp;{{ "Curriculum" | translate }}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <select id="cmb_cur" name="curCode" class="form-control select2-sm"
                                                ng-model="edt.curr_code" required ng-change="getCur(edt.curr_code)"
                                                ng-options="item.sims_attendance_cur_code as item.sims_cur_short_name_en for item in obj2">
                                            <option value="">Please Select</option>

                                        </select>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="error-container"
                                             ng-show="myForm.curCode.$dirty && myForm.curCode.$invalid || myForm.$submitted">
                                            <small class="error"
                                                   ng-show="myForm.curCode.$error.required">
                                                {{"Curriculum is required." | translate }}
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label><i class="fa fa-sort-amount-desc"></i>&nbsp;{{ "Academic Year" | translate }}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <select id="cmb_acad_yr" name="AcadYr" class="form-control select2-sm"
                                                ng-model="edt.academic_year" ng-change="GetGrade(edt.curr_code,edt.academic_year)"
                                                ng-options="item.sims_academic_year as item.sims_academic_year_desc for item in obj1">
                                            <option value="">Please Select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label><i class="fa fa-sitemap"></i>&nbsp;{{ "Grade Name" | translate }}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <select id="cmb_grade" name="Grade" class="form-control select2-sm"
                                                ng-model="edt.grade_code" required  
                                                ng-options="item.sims_grade_code as item.sims_grade_name for item in obj3">
                                            <option value="">Please Select</option>
                                        </select>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="error-container"
                                             ng-show="myForm.Grade.$dirty && myForm.Grade.$invalid || myForm.$submitted">
                                            <small class="error"
                                                   ng-show="myForm.Grade.$error.required">
                                                {{"Grade is required." | translate }}
                                            </small>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2" style="left:40%;padding-top: 20px;">
                            <div class="row form-row">
                                <div class="col-md-12">
                                     
                                <button style="margin-left:9px;" class="btn btn-success btn-small" type="button" ng-click="getAssessmentscheduleData()">{{ "Search" | translate }}</button>
                                 </div>
                            </div>
                            </div>
                            <div class="col-md-2" style="padding-top: 20px;left: 29%;">
                            <div class="row form-row">
                                <div class="col-md-12">
                                     
                                <button class="btn btn-warning btn-small ng-binding"  type="button" ng-click="clear()">{{ "Clear" | translate }}</button>
                                 </div>
                            </div>
                            </div>
                             
                            
                        </div>
                    </div>
                </div>

                 
                
            </div>
        </div>
        <div class="row" style="background-color:#fff;margin-left:0px;padding-bottom: 10px;">
                    <div class="col-md-12">
                        <div class="row form-row" style="margin-left:11px;">
                            <div class="col-md-5"><div style="padding-top:39px;text-align:center;float:right;padding-right:20px;"><b>{{"Identify appropriate teacher and select datetime"|translate}}</b></div></div>
                             <div class="col-md-2">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label><i class="fa fa-male"></i>&nbsp;{{"Assessment Teacher"|translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <select id="cmb_registration" name="Grade" class="form-control select2-sm" ng-model="edt.sims_teacher_code"
                                                required  
                                                ng-options="item.sims_teacher_code as item.sims_teacher_name for item in teach_data">
                                            <option value="">Please Select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                             <div class="col-md-2">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label><i class="fa fa-calendar"></i>&nbsp;{{"Assessment Date"|translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="text" id="dp_admdate" placeholder="Select Date" name="admpdate" class="k-textbox input-sm full-width" ng-model="edt.sims_assesment_date">
                                    </div>
                                </div>
                            </div>

                             <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label class="form-label-sm"><i class="fa fa-clock-o"></i>&nbsp;{{ "Assessment Time" | translate }}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <!--<div class="input-group transparent clockpicker col-md-12" name="etime">-->
                                          
                                                <input type="text" id="assmenttime" class="k-textbox input-sm full-width" placeholder="Please Enter" ng-model="edt.sims_assesment_time">
                                                <!--<span class="input-group-addon">
                                                    <i class="fa fa-clock-o"></i>
                                                </span>-->
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
          
        <div ng-show="grid" style="background-color:#fff;padding-bottom:5px;height:auto;">
                           <div class="col-md-4" style="padding-left:6px;">
                                 
                                <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                                    <option value="{{x.val}}" class="form-control input-sm" ng-repeat="x in countData">
                                        {{x.data}}
                                    </option>
                                </select>
                            </div>
            <div class="col-md-6">
                <div class="radio radio-success">
                    <div class="col-md-4">
                        <input id="chk_emp" class="k-radio" type="radio" name="optionyes" value="past" ng-model="edt.sims_user" ng-click="get_msgtype(edt.sims_user)">
                        <label class="form-label" for="chk_emp">{{ "Past Assessment" | translate }}&nbsp;</label>
                    </div>
                    <div class="col-md-4" ng-hide="btn_hide">
                        <input id="chk_student" class="k-radio" type="radio" name="optionyes" value="due" ng-model="edt.sims_user" ng-click="get_msgtype(edt.sims_user)">
                        <label class="form-label" for="chk_student">{{"Due Assessment" | translate }}</label>
                    </div>
                    
                </div>
            </div>
                      <div class="col-md-2" >
                        <div class="pull-right">
                            <div class="dataTables_filter" id="Div2">
                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="search.$" placeholder="Search" class="k-textbox input-sm full-width ng-pristine ng-valid ng-touched" autofocus="autofocus" tabindex="1" ng-change="search()">
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                      
                        </div>
                    </div>
                <!--<div class="row margin-top">
                    <div class="col-md-12" >

                        <span class="col-md-3" style="height: 4px; color: #FF6600; background-color: #FF6600;"/>
                        <span class="col-md-3" style="height: 4px; color: #fdd01c; background-color: #fdd01c;"/>
                        <span class="col-md-3" style="height: 4px; color: #f35958; background-color: #f35958;"/>
                        <span class="col-md-3" style="height: 4px; color: #0082d4; background-color: #0082d4;"/>
                    </div>
                </div>-->
                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div class="row margin-top" id="div712">
                        <div class="col-md-12" style="padding-left:10px;padding-right:10px;">
                        <table class="table table-hover table-bordered table-condensed" id="fixedtable">
                            <thead>
                                <tr bgcolor="#E0E0E">
                                    <!--<th class="small-cell v-align-middle" style="z-index:999">
                                        <div class="checkbox check-success">
                                            <input type="checkbox" name="check" value="1" id="mainchk" ng-click="check();"> 
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>-->
                         <th class="small-cell v-align-middle" style="z-index:1">
                                       <div class="checkbox check-success" style="height: 20px">
                                            <input id="mainchk" type="checkbox" ng-model="main_Chk" value="1" ng-click="CheckAllChecked()">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>
                                     <th><b>{{ "Action" | translate }}</b></th>
                                    <th class="div_th" ng-click="sortBy('pros_num')"><i class="fa fa-sort-numeric-asc"></i>&nbsp;<b>{{ "Admission Number" | translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'sims_pros_no'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th class="div_th" ng-click="sortBy('stud_full_name')"><i class="fa fa-align-justify"></i>&nbsp;<b>{{ "Student Name" | translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'sims_student_name'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th class="div_th" ng-click="sortBy('pros_date')"><i class="fa fa-calendar"></i>&nbsp;<b>{{ "Application Date" | translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'sims_appl_date'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th class="div_th" ng-click="sortBy('fatherName')"><i class="fa fa-calendar"></i>&nbsp;<b>{{ "Schedule Exam Date" | translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'sims_assesment_date'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                     <th class="div_th" ng-click="sortBy('sims_assesment_time')"><i class="fa fa-clock-o"></i>&nbsp;<b>{{ "Schedule Exam Time" | translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'sims_assesment_time'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th class="div_th" ng-click="sortBy('father_email')"> <i class="fa fa-male"></i>&nbsp;<b>{{ "Assessment Teacher" | translate }}</b>
                                         <span class="sortorder" ng-show="propertyName === 'sims_assesment_teacher_name'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th style="width: 100px;"><b><i class="fa fa-bookmark"></i>&nbsp;{{ "Status" | translate }}</b></th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="dashboard in filteredTodos | orderBy:propertyName:reverse |filter:search:strict"  ng-class="row1">
                                    <td>
                                        <div class="checkbox check-success" style="height: 20px">
                                            <input type="checkbox" name="check" value="1" id="{{dashboard.sims_pros_no}}" ng-model="dashboard.pros_num1" ng-click="check1(dashboard);">
                                            <label for="{{dashboard.sims_pros_no}}">
                                            </label>
                                        </div>
                                    </td>
                                    <td class="div_th">
                                        <i class="fa fa-comment-o"></i>&nbsp;<span class="btn btn-white btn-xs btn-mini" style="background-color: rgb(243, 125, 26); color: white" ng-click="getcommunicate(dashboard)" ng-disabled="dashboard.sims_assesment_date==''"><b>{{"Communication"|translate}}</b></span>
                                    </td>
                                    <td class="div_th">
                                        <div>{{dashboard.sims_pros_no}}</div>
                                    </td>
                                   
                                    <td class="div_th">
                                        <div>{{dashboard.sims_student_name}}</div>
                                    </td>
                                     <td class="div_th">
                                        <div>{{dashboard.sims_appl_date}}</div>
                                    </td>
                                    <td class="div_th">
                                        <div>{{dashboard.sims_assesment_date}}</div>
                                    </td>
                                    <td class="div_th">
                                        <div>{{dashboard.sims_assesment_time}}</div>
                                    </td>
                                     <td class="div_th">
                                        <div>{{dashboard.sims_assesment_teacher_name}}</div>
                                    </td>
                                    <td class="div_th">
                                        <div>{{dashboard.sims_assesment_status}}</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                        </div>
                     <div class="row" ng-show="pager">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>
                            </div>
                      </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                 <button class="btn btn-success btn-cons btn-small" type="submit" ng-click="save()">{{ "Save" | translate }}</button>
                                 <button class="btn btn-danger btn-cons btn-small" type="button" ng-click="cancel()">{{ "Reset" | translate }}</button>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
               
    </div>



 
</div>

 <div class="modal fade" id="viewdashDetailsModal1" ng-style="style">
        <!--tabindex="-1"-->
        <div class="modal-dialog" id="Div4" style="width: 70%">
            <div class="modal-content">
                <div class="modal-header">
                    <b><button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="Cancel1()"><span aria-hidden="true">&times;</span></button></b>
                    <h5 class="semi-bold pull-left"><b>{{"Communication Details"| translate }}</b></h5>
                    <br />
                </div>
                <div class="modal-body" style="background-color: white;">
                     <div >
                        <div id="Div1" class="dataTables_wrapper form-inline">
                            <div class="row">
                                  <div class="col-md-12">
                                    <div class="row form-row">
                                          <div class="col-md-2"> <label><i class="fa fa-bookmark-o"></i>&nbsp;{{ "Message Type" | translate }}</label></div>
                                        <div class="col-md-6">
                                          <div class="radio radio-success" style="height: 20px">
                                                <input id="chk_email" type="radio" name="optionyes" value="true" ng-model="edt1.sims_Email" ng-click="get_msgtypechecked(edt1.sims_Email)">
                                                <label for="chk_email"><div style="margin-left:25px">{{"Email"|translate}}</div></label>
                                                <input id="chk_sms" type="radio" name="optionyes" value="false" ng-model="edt1.sims_Email" ng-click="get_msgtypechecked(edt1.sims_Email)">
                                                <label for="chk_sms"><div style="margin-left:25px">{{"SMS"|translate}}</div></label>
                                            </div>
                                        </div>
                                         
                                    </div>
                                </div>

                                <!-- <div class="col-md-12">
                                     <div class="row form-row">
                                          <div class="col-md-2"> Date & Time</div>
                                     <div class="col-md-3">
                                               <div class="no-padding"  style="width: auto">
                                                        <input type="text" id="dp_comm_date" placeholder="Select Date" name="admpdate" class="k-textbox input-sm full-width" ng-model="edt1.admission_date1" ng-change="getadmissionDate(edt1.admission_date1)">
                                               </div>
                                     </div>
                                      <div class="col-md-3">
                                                <input id="txtmsgtime" type="text" class="k-textbox input-sm full-width" placeholder="Please Enter" ng-model="edt1.msg_time">
                                      </div>
                                         </div>
                                          </div>-->

                                  <div class="col-md-12" ng-show="chk_email">
                            <div class="row form-row">
                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label><i class="fa fa-user"></i>&nbsp;{{ "To" | translate }}</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <input name="formcc" id="txt_cc" type="text" class="k-textbox input-sm full-width" maxlength="100" ng-maxlength="100" placeholder="To" ng-model="edt1.sims_recepient_id">
                                </div>
                            </div>
                           </div>

                                 <div class="col-md-12" ng-show="chk_sms">
                            <div class="row form-row">
                               
                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{ "Selected Mobile Nos." | translate }}</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <input name="formcc" id="txt_mob_no" type="text" class="k-textbox input-sm full-width" placeholder="Enter Mobile Nos." ng-model="edt1.sims_recepient_id">
                                </div>


                            </div>
                        </div>

                                  <div class="col-md-12" ng-show="chk_email" ><!---->
                            <div class="row form-row">
                               
                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label><i class="fa fa-pencil-square-o"></i>&nbsp;{{ "Subject" | translate }}</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-9">
                                    <input name="formsubject" id="txt_subject" type="text" class="k-textbox input-sm full-width" maxlength="100" ng-maxlength="100" placeholder="Subject" ng-model="edt1.sims_subject">
                                </div>


                            </div>
                        </div>

                                <!--  <div class="col-md-12" >
                            <div class="row form-row">
                                  <div class="col-md-2"></div>
                                  <div class="col-md-6">
                                 <button class="btn btn-success btn-cons btn-small" type="button" style="width:150px" ng-click="send_mail_details()">{{ "Email Text" | translate }}</button>
                                   <button class="btn btn-success btn-cons btn-small" type="button" style="width:150px" ng-click="send_mail_details()">{{ "SMS Text" | translate }}</button>
                                      </div>
                                </div>
                                      </div>-->

                                  <div class="col-md-12" ng-show="chk_sms">
                            <div class="row form-row">
                                

                                <div class="col-md-6">
                                    <label name="formsms_length" id="txt_smslength" style="color: black">{{edt1.sims_sms_msg}}</label>
                                </div>


                            </div>

                            <div class="row form-row">
                               
                                <div class="col-md-6">
                                    <label name="formsms_subjectblock" id="txt_subjectblock" style="color: black">{{edt1.sims_sms_subjectblock}}</label>
                                </div>
                            </div>
                        </div>

                                  <div class="col-md-12">
                                   <div class="row form-row">
                              
                                    <div class="col-md-2">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <label><i class="fa fa-envelope"></i>&nbsp;{{ "Message" | translate }}</label>
                                            </div>
                                        </div>
                                    </div>

                                <div class="col-md-9" ng-show="chk_email"><!---->
                                    <div class="grid simple" style="text-align: left;margin-top:0px;width:100%">
                                        <div class="tools">
                                            <a href="javascript:;" class="collapse"></a>
                                            <a href="#grid-config" data-toggle="modal" class="config"></a>
                                            <a href="javascript:;" class="reload"></a>
                                            <a href="javascript:;" class="remove"></a>
                                        </div>
                                        <!--</div>-->
                                        <div style="width: 100%">
                                            <textarea id="text-editor1" name="editor" placeholder="Enter text ..." class="k-textbox input-sm full-width" rows="8" style="text-align: left; resize: none" ng-model="edt1.sims_body"></textarea>
                                        </div>
                                    </div>
                                </div>

                                         <div class="col-md-9" ng-show="chk_sms">
                                    <div class="grid simple" style="text-align: left;margin-top:0px;width:100%">

                                        <div class="">

                                            <textarea id="txt_smstext" name="txt_smstext" placeholder="Enter text ..." class="k-textbox input-sm full-width" rows="8" style="text-align: left; resize: none" ng-change="msg_details()" ng-blur="Getsms_details(edt1.sims_smstext)" ng-model="edt1.sims_smstext"></textarea><!--ng-keyUP="msg_detailsUP()"-->
                                        </div>
                                    </div>

                                    <!--    <textarea id="txtreason" rows="4" class="form-control" ng-model="edt.reason" />-->
                                </div>
                                </div>
                              </div>

                                <div class="col-md-12" ng-show="chk_sms">
                            <div class="row form-row">
                                 <div class="col-md-3" >
                                    <div class="row form-row">
                                        <div class="col-md-6">
                                            <label style="color: black">{{"No Of"|translate}} &nbsp;<b>{{edt1.sims_sms_char}}</b></label>
                                        </div>

                                        <div class="col-md-6">
                                            <label style="color: black">{{"SMS Length:"|translate}}<b>{{edt1.sims_sms_length}}</b></label>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                    </div>

                                 <div class="col-md-4">
                                    <div class="row form-row">
                                        <div class="pull-right">
                                            <button class="btn btn-success btn-cons btn-small" type="submit" ng-click="send_mail_details()">{{ "Send" | translate }}</button>
                                            <!--<button class="btn btn-warning btn-cons btn-small" type="button" ng-click="cancel_mail_details()">{{ "Reset" | translate }}</button>-->
                                        </div>
                                    </div>
                                </div>
                            </div>

                             <div class="row">
                                <br />
                            </div>
                       </div>
                      </div>
                    </div>
                </div>
            </div>
     </div>

 

<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>
<script src="assets/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>
<script src="assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>

<script>
    $(document).ready(function () {
        $("#assmenttime").kendoTimePicker();
    });
</script>

