﻿<style>
    .sortorder:after {
        content: '\25b2';
    }

    .sortorder.reverse:after {
        content: '\25bc';
    }
    .record_grid {
    background-color:#fff;
    }
    .form-actions {
    margin-bottom:6px !important;
    }
</style>


<div class="row">
    <div class="col-md-12">
        <div class="grid simple main_grid">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Student Promotion"| translate }}</span></h3>
            </div>

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="k-textbox input-sm"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="k-textbox input-sm"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="k-textbox input-sm"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="k-textbox input-sm"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="k-textbox input-sm"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="k-textbox input-sm"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="k-textbox input-sm"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="grid-body no-border bluegrid">
            <div ng-show="table">

                    <form name="Myform" ng-submit="Submit(Myform.$valid)" novalidate="novalidate">
                        <div class="row">
                            <!--Curriculam-->
                            <div class="col-md-2" ng-class="{'has-error': !Myform.sims_cur_name.$valid && (Myform.sims_cur_name.$touched || Myform.$submitted) }">
                                <label id="Label27" for="txt_Nationality_Code" class="form-label"><i class="fa fa-book"></i>&nbsp;{{"Curriculum"| translate }}<span style="color:red">*</span></label>
                                <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width"
                                        ng-model="sims_cur_code" ng-selected="" name="sims_cur_name" ng-change="getAccYear(temp.sims_cur_code)"
                                        ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in curriculum"  required></select>
                                 <p class="help-block" ng-show="Myform.sims_cur_name.$error.required &&  (Myform.sims_cur_name.$touched || Myform.$submitted)">
                                    This field Required
                                </p>
                            </div>

                            <!--Academic Year-->
                            <div class="col-md-2" ng-class="{'has-error': !Myform.sims_academic_year.$valid && (Myform.sims_academic_year.$touched || Myform.$submitted) }">
                                <label id="Label28" for="txt_Nationality_Code" class="form-label"><i class="fa fa-sort-amount-desc"></i>&nbsp;{{"Academic Year"| translate }}<span style="color:red">*</span></label>
                                <select id="Select4" data-role="dropdownlist" class="form-control input-sm full-width"
                                        ng-model="sims_academic_year" ng-selected="" name="sims_academic_year" ng-change="getGrade(temp.sims_cur_code,temp.sims_academic_year)"
                                        ng-options="ay.sims_academic_year as ay.sims_academic_year_desc for ay in Acc_year" required></select>
                                 <p class="help-block" ng-show="Myform.sims_academic_year.$error.required &&  (Myform.sims_academic_year.$touched || Myform.$submitted)">
                                    This field Required
                                </p>
                            </div>

                            <div class="col-md-2" ng-class="{'has-error': !Myform.sims_grade_name.$valid && (Myform.sims_grade_name.$touched || Myform.$submitted) }">
                                <label id="Label33" for="txt_Nationality_Code" class="form-label"><i class="fa fa-sitemap"></i>&nbsp;{{"Grade"| translate }}<span style="color:red">*</span></label>
                                <select id="Select2" data-role="dropdownlist" class="form-control input-sm full-width" name="sims_grade_name"
                                        ng-model="temp.sims_grade_code" ng-change="getSection(temp.sims_cur_code,temp.sims_grade_code,temp.sims_academic_year)"
                                        ng-options="grd.sims_grade_code as grd.sims_grade_name for grd in Grade_code" required></select>
                                 <p class="help-block" ng-show="Myform.sims_grade_name.$error.required &&  (Myform.sims_grade_name.$touched || Myform.$submitted)">
                                    This field Required
                                </p>
                            </div>

                            <div class="col-md-2" ng-class="{'has-error': !Myform.sims_section_name.$valid && (Myform.sims_section_name.$touched || Myform.$submitted) }">
                                <label id="Label34" for="txt_Nationality_Code" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Section"| translate }}<span style="color:red">*</span></label>
                                <select id="Select10" name="sims_section_name" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.sims_section_code" required>
                                    <option ng-repeat="sec in Section_code" value="{{sec.sims_section_code}}">{{sec.sims_section_name}}</option>
                                </select>
                                 <p class="help-block" ng-show="Myform.sims_section_name.$error.required &&  (Myform.sims_section_name.$touched || Myform.$submitted)">
                                    This field Required
                                </p>
                            </div>

                            <div class="col-md-2" ng-class="{'has-error': !Myform.sims_academic_year2.$valid && (Myform.sims_academic_year2.$touched || Myform.$submitted) }">
                                <label id="Label1" for="txt_term_Code" class="form-label"><i class="fa fa-calendar"></i>&nbsp;{{"Shift Year"| translate }}<span style="color:red">*</span></label>
                                <select id="Select5" data-role="dropdownlist" class="form-control input-sm full-width"
                                        ng-model="edt.sims_academic_years" ng-selected="" name="sims_academic_year2"
                                        ng-options="ay.sims_academic_years as ay.sims_academic_year_desc for ay in getAllactive" required></select>
                                 <p class="help-block" ng-show="Myform.sims_academic_year2.$error.required &&  (Myform.sims_academic_year2.$touched || Myform.$submitted)">
                                    This field Required
                                </p>

                            </div>

                            <div class="col-md-2">
                                <label id="Label2" class="form-label">&nbsp;</label>
                                <button id="desigsub"  class="btn btn-primary btn-small">{{"Submit" | translate }}</button><!--ng-click="Submit()"-->
                            </div>
                               
                        </div>
                    </form>

            </div>
            </div>


        </div>
        <div class="col-md-12 record_grid">
           <div >
                    <div class="col-md-4">
                        <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="All" class="form-control input-sm">
                                All
                            </option>
                           
                            <option value="10" class="form-control input-sm">
                                10
                            </option>

                            <option value="15" class="form-control input-sm">
                                20
                            </option>


                        </select>
                      
                    </div>

               <div class="col-md-2">
                                <button id="Button2"  class="btn btn-primary btn-small">{{"Boys" | translate }}</button><!--ng-click="Submit()"-->
                            </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                              <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" class="k-textbox input-sm full-width" placeholder="Search"  tabindex="1" autofocus="autofocus"  ng-change="search()">
                                <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" ng-show="busy">
                    <div class="col-md-12">
                        <div class="row form-row">
                            <div class="col-md-5">
                            </div>
                            <div class="col-md-2">
                                <img src="assets/theme/img/loading.gif" />
                            </div>
                            <div class="col-md-5">
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div class="row margin-top">
                        <div class="col-md-12">
                        <table class="table table-bordered table-hover table-condensed" id="fixTable">
                            <thead>
                                <tr style="background-color: #edefef">
                                    <th class="small-cell v-align-middle" style="z-index:1">
                                        <div class="checkbox check-success">
                                            <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>
                                    <th class="bold"><i class="fa fa-user"></i>&nbsp;{{"Parent"|translate}}</th>
                                    <th class="bold"><i class="fa fa-male"></i>&nbsp;{{"Student"| translate }} </th>
                                    <th class="bold"><i class=""></i>&nbsp;{{"Gender"| translate }} </th>
                                    <th class="bold"><i class="fa fa-sitemap"></i>&nbsp;{{"Promotion Grade"| translate }} </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="j in filteredTodos | orderBy:propertyName:reverse" ng-class="row1">
                                    <td>
                                        <div class="row-fluid">
                                            <div class="checkbox check-success" style="height: 20px; z-index:1">
                                                <input id="promo-{{$index}}" type="checkbox" value="1" ng-model="j.datastatus" ng-click="checkonebyonedelete(j);checkPendingAmt(j);">
                                                <label for="promo-{{$index}}"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{j.parent_name}}</td>
                                    <td><label id="lbl" ng-disabled="!j.status">{{j.std_name}}</label> </td>
                                    <td style="width: auto;">{{}}</td>
                                    <td>
                                        <!--<div ng-if="j.pramoted_code!='' || j.adv_flag=='1'">
                                            <select id="Select6" data-role="dropdownlist" class="form-control input-sm full-width"
                                                    ng-model="j.pramoted_code" name="sims_academic_year"
                                                    ng-options="ay.promote  _code as ay.promote_name for ay in j.p_class" ng-disabled="!j.status"></select>
                                        </div>-->
                                        <div >
                                            <select id="Select7" data-role="dropdownlist" class="form-control input-sm full-width"
                                                    ng-model="j.promote_code" name="sims_academic_year"
                                                    ng-options="ay.promote_code as ay.promote_name for ay in j.p_class" ></select><!--ng-disabled="!j.status || j.adv_flag=='1'"-->
                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                        </div>
                    <div class="row">
                        <div class="col-md-12">
                    <div class="pull-right" ng-show="pager">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                ng-click="index(currentPage)">
                        </paging>
                    </div>
                            </div>
                        </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-actions">
                        <div class="pull-right">
                            <button type="submit" id="Button1" ng-click="savedatapromote()" class="btn btn-primary btn-small">{{"Save" | translate }}</button>
                            <button type="button" class="btn btn-warning btn-small" ng-click="Cancel()">{{"Cancel"| translate }}</button>
                        </div>
                            </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<script src="assets/js/tableHeadFixer.js"></script>

