﻿ <!-- <link href="app/modules/dashboard/views/reportGraph.css" rel="stylesheet"/> -->
<script src="assets/js/chart.js"></script>
<script src="assets/js/jspdf.min.js"></script>
<script src="assets/plugins/fileSaver.js"></script>
<script src="https://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.12/xlsx.core.min.js"></script>

<style type="text/css">
        .controller {
             left:-20px;
        }
         .row {
             margin-right: -15px; 
             margin-left: -15px; 
        }

        .modal {
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          overflow: hidden;
        }

        .modal-dialog {
          position: fixed;
          margin: 0;
          width: 100%;
          height: 100%;
          padding: 0;
        }

        .modal-content {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border: 2px solid #3c7dcf;
          border-radius: 0;
          box-shadow: none;
        }

        .modal-header {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          height: 50px;
          padding: 10px;
          background: #6598d9;
          border: 0;
        }

        .modal-title {
          font-weight: 300;
          font-size: 2em;
          color: #fff;
          line-height: 30px;
        }

        .modal-body {
          position: absolute;
          top: 50px;
          width: 100%;
          font-weight: 300;
          /*overflow: auto;*/
        }


        .selstyle{
            float: left;
            margin-top: -5px;
            width: 90px;
            border: none;
            font-size: 11px;
            background: #e5e9ec;
            min-height: 21px !important;
            height: 22px !important;    
            padding: 1px 1px 0px 10px;
            margin-right: 5px;
            }
            .btnstyl {
                margin-top: -5px;
            }

            #style-1::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                border-radius: 6px;
                height: 6px;
                background-color: #F5F5F5;
            }

            #style-1::-webkit-scrollbar {
                width: 6px;
                height: 6px;
                background-color: #F5F5F5;
            }

            #style-1::-webkit-scrollbar-thumb {
                border-radius: 6px;
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                background-color: #555;
            }

            .hr {
                margin: 0px;
                margin-bottom: 0px;
                margin-top: 0px;
            }
             .printSection{
                visibility:visible;
            }
            .printHide{
                visibility:hidden;
            }
            .printRemove{
                visibility:none;
            }
            /*#Canvas1{
  
  width:1000px !important;
  height:600px !important;

}*/
</style>
        
<!-- first row -->
 <div class="row 2col">
        <div id="dash01" class="col-lg-3 col-md-6 col-sm-12 col-xs-12 m-b-5 remove_widget" >
            <div class="tiles white added-margin dashboardtile" style="height:235px">
                <div class="tiles-body">
                    <div class="controller" style="top: -5px;left: 40px;float: left;">
                        <span style="font-weight: bold;font-size:11px; color: #867777;">Comparative Analysis Of Student Intake</span>
                    </div>
                        <canvas id="compBarChart" width="183" height="141"></canvas>
                </div>
            </div>
        </div>
      
        <div id="dash02" class="col-lg-3 col-md-6 col-sm-12 col-xs-12 m-b-5 remove_widget">
            <div class="tiles white added-margin dashboardtile" style="height:235px">
                <div class="tiles-body">
                        <div class="controller" style="float: left;">
                    <select id="Select1" name="cmb_acad" class="form-control select2-sm selstyle" ng-change="getfirstAcademicYear(edt.cur_code_comp)"
                            ng-model="edt.cur_code_comp" tabindex="2" ng-options="item.cur_code as item.cur_name_en for item in curiculums">
                        <option value="">Select Curriculum</option>
                    </select>
                    <select id="Select2" name="cmb_acad" class="form-control select2-sm selstyle" ng-change="getDatafirstGraph(edt.cur_code_comp,edt.academic_year_comp)"
                            ng-model="edt.academic_year_comp" tabindex="2" ng-options="item.academic_year as item.academic_year_desc for item in firstacademicYears">
                        <option value="">Select Year</option>
                    </select>
                    <button class="btn btn-primary btn-mini btnstyl" ng-click="showcompBarChartModal()">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                    </div>
                    <canvas id="compBarChart3" width="183" height="141"></canvas>
                </div>
            </div>
        </div>

        <div id="dash03" class="col-lg-3 col-md-6 col-sm-12 col-xs-12 m-b-5 remove_widget" style="display:none">
            <div class="tiles white added-margin dashboardtile" style="height:235px">
                <div class="tiles-body">
                    <div class="controller" style="float: left;">
                        <select id="Select3" name="cmb_acad"class="form-control select2-sm selstyle" ng-change="getThirdAcademicYear(edt.cur_code_nation)"
                                ng-model="edt.cur_code_nation" tabindex="2" ng-options="item.cur_code as item.cur_name_en for item in curiculums">
                            <option value="">Select Curriculum</option>
                        </select>
                        <select id="Select4" name="cmb_acad" class="form-control select2-sm selstyle" ng-change="getDataThirdGraph(edt.cur_code_nation,edt.academic_year_nation)"
                                ng-model="edt.academic_year_nation" tabindex="2" ng-options="item.academic_year as item.academic_year_desc for item in thirdacademicYears">
                            <option value="">Select Year</option>
                        </select>
                        <button class="btn btn-primary btn-mini btnstyl">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                        <canvas id="nationChart" width="183" height="141"></canvas>
                </div>
            </div>
        </div>

        <div id="dash04" class="col-lg-3 col-md-6 col-sm-12 col-xs-12 m-b-5 remove_widget" >
            <div class="tiles white added-margin dashboardtile" style="height:235px">
                <div class="tiles-body">
                  <div class="controller" style="float: left;"> 
                        <select id="Select5" name="cmb_acad" class="form-control select2-sm selstyle" ng-change="getFifthAcademicYear(edt.cur_code_other)"
                                ng-model="edt.cur_code_other" tabindex="2" ng-options="item.cur_code as item.cur_name_en for item in curiculums">
                            <option value="">Select Curriculum</option>
                        </select>
                        <select id="Select6" name="cmb_acad" class="form-control select2-sm selstyle" ng-change="getDataOtherStat(edt.cur_code_other,edt.academic_year_other)"
                                ng-model="edt.academic_year_other" tabindex="2" ng-options="item.academic_year as item.academic_year_desc for item in statacademicYears">
                            <option value="">Select Year</option>
                        </select>
                        <button class="btn btn-primary btn-mini btnstyl" ng-click="showotherStatChartModal()">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>

                    </div>
                    <canvas id="otherStatChart" width="183" height="141"></canvas>   
                </div>
            </div>
        </div>
     <div id="Div4" class="col-lg-3 col-md-6 col-sm-12 col-xs-12 m-b-5 remove_widget">
        <div class="tiles white added-margin dashboardtile" style="height:235px">
            <div class="tiles-body">
                    <div class="controller" style="float: left;">
                        <button class="btn btn-primary btn-mini btnstyl" ng-click="showmoveofMonthChartModal()">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                </div>
                <canvas id="moveofMonthChart" width="183" height="141"></canvas>
            </div>
        </div>
    </div>

 </div>
<!-- end -->

<div class="row 2col">
    <div id="Div5" class="col-md-12 col-sm-12 col-xs-12 m-b-5 remove_widget" >
        <div class="tiles white added-margin dashboardtile" style="height:400px">
            <div class="tiles-body">
                <div class="controller" style="float: left;">
                    <select id="Select12" name="cmb_acad"class="form-control select2-sm selstyle" ng-change="getSecondAcademicYear(edt.cur_code_stat)"
                            ng-model="edt.cur_code_stat" tabindex="2" ng-options="item.cur_code as item.cur_name_en for item in curiculums">
                        <option value="">Select Curriculum</option>
                    </select>
                    <select id="Select13" name="cmb_acad" class="form-control select2-sm selstyle" ng-change="graphStudentStatus(edt.cur_code_stat,edt.academic_year_stat)"
                            ng-model="edt.academic_year_stat" tabindex="2" ng-options="item.academic_year as item.academic_year_desc for item in secondacademicYears">
                        <option value="">Select Year</option>
                    </select>
                    <button class="btn btn-primary btn-mini btnstyl" ng-click="shownationChartModal()">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
                    <canvas id="Canvas1" width="183" height="141"></canvas>
            </div>
        </div>
    </div>
</div>

<!-- second row -->


<div class="row 2col">
    <div id="Div1" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-5 remove_widget" >
        <div class="tiles white added-margin dashboardtile" style="height:400px">
            <div class="tiles-body">
                <div class="controller" style="float: left;">
                    <select id="Select7" name="cmb_acad"class="form-control select2-sm selstyle" ng-change="getSecondAcademicYear(edt.cur_code_stat)"
                            ng-model="edt.cur_code_stat" tabindex="2" ng-options="item.cur_code as item.cur_name_en for item in curiculums">
                        <option value="">Select Curriculum</option>
                    </select>
                    <select id="Select8" name="cmb_acad" class="form-control select2-sm selstyle" ng-change="graphStudentStatus(edt.cur_code_stat,edt.academic_year_stat)"
                            ng-model="edt.academic_year_stat" tabindex="2" ng-options="item.academic_year as item.academic_year_desc for item in secondacademicYears">
                        <option value="">Select Year</option>
                    </select>
                    <button class="btn btn-primary btn-mini btnstyl" ng-click="showGraphModal()">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>

                </div>
                    <canvas id="studStsChart" width="183" height="141"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="row 2col">
    <div id="Div2" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-5 remove_widget">
        <div class="tiles white added-margin dashboardtile" style="height:400px">
            <div class="tiles-body">
                    <div class="controller" style="float: left;"> 
                    <select id="Select10" style="width:105px" name="cmb_acad" class="form-control select2-sm selstyle" 
                            ng-change="staffSelect2(edt.key)"
                            ng-model="edt.key" tabindex="2" 
                            ng-options="item.key as item.value for item in staffType"
                            ng-show="staffdropdown">
                        <option value="">Select Staff</option>
                    </select>
                    <button class="btn btn-primary btn-mini btnstyl" ng-click="showstaffDetailModal()">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
                <canvas id="staffDetailChart" width="183" height="141"></canvas>
            </div>
        </div>
    </div>
</div>

<!-- end -->
<!-- third row -->
<div class="row 2col">
    <div id="Div3" class="col-lg-3 col-md-6 col-sm-12 col-xs-12 m-b-5 remove_widget" >
        <div class="tiles white added-margin dashboardtile" style="height:235px">
            <div class="tiles-body">
                <div class="controller" style="float: left;"> 
                        <select id="cmb_acad" name="cmb_acad" class="form-control select2-sm selstyle" ng-change="getFourthAcademicYear(edt.cur_code_avail)"
                                ng-model="edt.cur_code_avail" tabindex="2" ng-options="item.cur_code as item.cur_name_en for item in curiculums">
                            <option value="">Select Curriculum</option>
                        </select>
                        <select id="Select9" name="cmb_acad" class="form-control select2-sm selstyle" ng-change="getDataDiscountStud(edt.cur_code_other,edt.academic_year_other)"
                                ng-model=" edt.academic_year_avail" tabindex="2" ng-options="item.academic_year as item.academic_year_desc for item in fourthacademicYears">
                            <option value="">Select Year</option>
                        </select>
                        <button class="btn btn-primary btn-mini btnstyl" ng-click="showavailStudChartModal()">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                </div>
                    <canvas id="availStudChart" width="183" height="141"></canvas> 
            </div>
        </div>
    </div>

</div>
<!-- end -->


<div class="modal fade" id="firstgraphModal">
    <div class="modal-dialog" id="top">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn btn-primary btn-small" style="float:left;margin-right:5px;" ng-show="hideGraph" ng-click="showTableData()">
                   <i class="fa fa-eye"></i>&nbsp;{{"Show"|translate}}&nbsp;{{"Table"|translate}}
                </button>&nbsp;&nbsp;
                <button class="btn btn-info btn-small" style="float:left" ng-show="hideGraph" ng-click="printGraph('ComparativeAnalysis')">
                   <i class="fa fa-share-square-o"></i>&nbsp;{{"Export"|translate}}&nbsp;{{"Graph"|translate}}
                </button>
                <button class="btn btn-primary btn-small" style="float:left" ng-hide="hideGraph" ng-click="showGraph()">
                   <i class="fa fa-eye"></i>&nbsp;{{"Show"|translate}}&nbsp;{{"Graph"|translate}}
                </button>
                <button style="float:left;margin-left:5px;" ng-hide="hideGraph" ng-click="exportTable('ComparativeAnalysis','comparative')" class="btn btn-info btn-small">
                   <i class="fa fa-share-square-o"></i>&nbsp;{{"Export"|translate}}&nbsp;{{"Table" | translate }}
                </button>
                <button type="button" class="btn btn-white btn-small" style="float:left;margin-left:5px;" data-dismiss="modal" aria-label="Close">
                   <i class="fa fa-power-off"></i>&nbsp;{{"Close"|translate}}
                </button>
            </div>
            <div class="modal-body" ng-show="hideGraph" style="background:#fff" id="ComparativeAnalysis">
                <span style="font-size:12px;font-weight:bold;margin-left:-100px;">{{"Comparative Analysis Of Student Intake"|translate}}</span>
                <div class="col-md-1">
                </div>
                <div class="col-md-5">
                    <div class="grid simple" >
                        <div class="grid-body no-border" style="margin-top: 12px;">
                            <canvas id="compBarChart2" width="200px" height="200px"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="grid simple" id="graph2">
                        <div class="grid-body no-border">
                            <canvas id="compBarChart4" width="200px" height="200px"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                </div>
            </div>

            <div class="modal-body" ng-hide="hideGraph" style="margin-top:20px;background:#fff" id="comparative">
                <table class="table table-fixed-layout table-bordered" style="background-color:white;" >
                    <tr style="background-color:#e5e9ec">
                        <th>Particulars</th>
                        <th style="width:90px">{{selected}}</th>
                    </tr>
                    <tr>
                        <td>Total No. Enquires Recived</td>
                        <td>{{dash1_total_lst[0]}}</td>
                    </tr>
                    <tr>
                        <td>Total No. of Student Registered</td>
                        <td>{{dash1_total_lst[1]}}</td>
                    </tr>
                    <tr>
                        <td>Total No. of Student Paid Fee</td>
                        <td>{{dash1_total_lst[2]}}</td>
                    </tr>
                    <tr>
                        <td>% of student registered to enquires received</td>
                        <td>{{dash1_recieved_lst[0] |currency:'':2}} %</td>
                    </tr>
                    <tr>
                        <td>% of Student paid to the enquires received</td>
                        <td>{{dash1_recieved_lst[1] |currency:'':2}} %</td>
                    </tr>
                    <tr>
                        <td>% of Student paid to registered students</td>
                        <td>{{dash1_recieved_lst[2] |currency:'':2}} %</td>
                    </tr>
                </table>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- comparative analysis/.modal -->

<div class="modal fade" id="secondgraphModal">
    <div class="modal-dialog" id="top">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn btn-primary btn-small" style="float:left;margin-right:5px;" ng-show="hideGraph" ng-click="showsecondgraphTable()">
                    <i class="fa fa-eye"></i>&nbsp;{{"Show"|translate}}&nbsp;{{"Table"|translate}}
                </button>
                <button class="btn btn-primary btn-small" style="float:left" ng-hide="hideGraph" ng-click="showsecondgraph()">
                    <i class="fa fa-eye"></i>&nbsp;{{"Show"|translate}}&nbsp;{{"Graph"|translate}}
                </button>
                <button style="float:left;margin-left:5px;" ng-hide="hideGraph" ng-click="exportTable('StudentStatus','studstatus')" 
                    class="btn btn-info btn-small">
                    <i class="fa fa-share-square-o"></i>&nbsp;{{"Export"|translate}}&nbsp;{{"Table" | translate }}
                </button>
                <button class="btn btn-info btn-small" style="float:left" ng-show="hideGraph" ng-click="printGraph('Student_Status')">
                    <i class="fa fa-share-square-o"></i>&nbsp;{{"Export"|translate}}&nbsp;{{"Graph"|translate}}
                </button>
                <button type="button" class="btn btn-white btn-small" style="float:left;margin-left:5px;" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-power-off"></i>&nbsp;{{"Close"|translate}}
                </button>
            </div>
            <div class="modal-body" ng-show="hideGraph" style="background:#fff">
<!--                <div class="col-md-3">
                </div>-->
                <div class="col-md-12" style="height:400px;">
                    <div class="grid simple" id="Student_Status">
                        <div class="grid-body no-border">
                            <canvas id="studStsChart2"></canvas>
                        </div>
                    </div>
                </div>
<!--                <div class="col-md-4">
                </div>-->
            </div>
            <div class="modal-body" ng-hide="hideGraph" style="background:#fff" id="studstatus">
                <div id="style-1" style="background-color:white;overflow-x:auto;overflow-y:auto;height:450px;">
                    <table class="table  table-bordered" style="background-color:white;" id="Table1">
                        <tr style="background-color:#e5e9ec">
                            <th class="medium-cell" style="vertical-align:central">{{"Grades"|translate}}</th>
                            <th class="medium-cell" style="vertical-align:central">{{"Capacity per class"|translate}}</th>
                            <th class="medium-cell" style="vertical-align:central">{{"Present opened classrooms"|translate}}</th>
                            <th class="medium-cell" style="vertical-align:central">{{"Current capacity"|translate}}</th>
                            <th class="medium-cell" style="vertical-align:central">{{"Registered Students"|translate}}</th>
                            <th class="medium-cell" style="vertical-align:central">{{"No of Active Student"|translate}}</th>
                            <th class="medium-cell" style="vertical-align:central">{{"No of withdrwan"|translate}}</th>
                            <th class="medium-cell" style="vertical-align:central">{{"Present Attendees"|translate}}</th>
                            <th class="medium-cell" style="vertical-align:central">{{"Vacancy per class"|translate}}</th>
                        </tr>
                        <tr ng-repeat="info in studStsChartData" style="border:medium">
                            <td>{{info.grades}}</td>
                            <td class="count1">{{info.class_capacity}}</td>
                            <td class="count">{{info.present_class}}</td>
                            <td class="count">{{info.curr_capacity}}</td>
                            <td class="count">{{info.present_class}}</td>
                            <td class="count">{{info.active_students}}</td>
                            <td class="count">{{info.withdrawn_students}}</td>
                            <td class="count">{{info.present_attendees}}</td>
                            <td class="count">{{info.vacancy}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- stud status/.modal -->

<div class="modal fade" id="thirdgraphModal">
    <div class="modal-dialog" id="top">
        <div class="modal-content">
            <div class="modal-header">                
                <button class="btn btn-primary btn-small" style="float:left;margin-right:5px;" ng-show="hideGraph" ng-click="showthirdgraphTable()">
                    <i class="fa fa-eye"></i>&nbsp;{{"Show"|translate}}&nbsp;{{"Table"|translate}}
                </button>
                <button class="btn btn-info btn-small" style="float:left" ng-show="hideGraph" ng-click="printGraph('Nationality_of_Active_Students')">
                   <i class="fa fa-share-square-o"></i>&nbsp;{{"Export"|translate}}&nbsp;{{"Graph"|translate}}
                </button>
                <button class="btn btn-primary btn-small" style="float:left" ng-hide="hideGraph" ng-click="showthirdgraph()">
                   <i class="fa fa-eye"></i>&nbsp;{{"Show"|translate}}&nbsp;{{"Graph"|translate}}
                </button>
                <button style="float:left;margin-left:5px;" ng-hide="hideGraph" ng-click="exportTable('NationalityOfActiveStudents','nation')" class="btn btn-info btn-small">
                   <i class="fa fa-share-square-o"></i>&nbsp;{{"Export"|translate}}&nbsp;{{"Table" | translate }}
                </button>
                <button type="button" class="btn btn-white btn-small" style="float:left;margin-left:5px;" data-dismiss="modal" aria-label="Close">
                                      <i class="fa fa-power-off"></i>&nbsp;{{"Close"|translate}}
                </button>
            </div>
            <div class="modal-body" ng-show="hideGraph" style="background:#fff">
                    <div class="col-md-12" style="height:400px;">
                        <div class="grid simple" id="Nationality_of_Active_Students" >
                        <div class="grid-body no-border">
                            <canvas id="nationChart2"></canvas>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-body" ng-hide="hideGraph" style="background:#fff" id="nation">
                <div id="style-1" style="background-color:white;overflow-x:auto;overflow-y:auto;height:550px;">
                    <table class="table  table-bordered" style="background-color:white;" id="nationChartTable">
                        <tr style="background-color:#e5e9ec">
                            <th class="medium-cell" style="vertical-align:central">{{"Nationality"|translate}}</th>
                            <th class="medium-cell" style="vertical-align:central">{{"Female"|translate}}</th>
                            <th class="medium-cell" style="vertical-align:central">{{"Male"|translate}}</th>
                            <th class="medium-cell" style="vertical-align:central">{{"Total"|translate}}</th>
                            <th class="medium-cell" style="vertical-align:central">{{"Percentage"|translate}}</th>
                        </tr>
                        <tr ng-repeat="info in nationChart" style="border:medium">
                            <td>{{info.country}}</td>
                            <td>{{info.female}}</td>
                            <td>{{info.male}}</td>
                            <td>{{info.total}}</td>
                            <td>{{info.percentage}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- national chart /.modal -->

<div class="modal fade" id="fourthgraphModal">
    <div class="modal-dialog" id="top">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn btn-primary btn-small" style="float:left;margin-right:5px;" ng-show="hideGraph" ng-click="showthirdgraphTable()">
                    <i class="fa fa-eye"></i>&nbsp;{{"Show"|translate}}&nbsp;{{"Table"|translate}}
                </button>
                <button class="btn btn-primary btn-small" style="float:left" ng-hide="hideGraph" ng-click="showthirdgraph()">
                   <i class="fa fa-eye"></i>&nbsp;{{"Show"|translate}}&nbsp;{{"Graph"|translate}}
                </button>
                <button style="float:left;margin-left:5px;" ng-hide="hideGraph" ng-click="exportTable('OtherStatics','otherstat')" class="btn btn-info btn-small">
                        <i class="fa fa-share-square-o"></i>&nbsp;{{"Export"|translate}}&nbsp;{{"Table" | translate }}
                </button>
                <button class="btn btn-info btn-small" style="float:left" ng-show="hideGraph" ng-click="printGraph('Other_Statistics')">
                   <i class="fa fa-share-square-o"></i>&nbsp;{{"Export"|translate}}&nbsp;{{"Graph"|translate}}
                </button>
                <button type="button" class="btn btn-white btn-small" style="float:left;margin-left:5px;" data-dismiss="modal" aria-label="Close">
                      <i class="fa fa-power-off"></i>&nbsp;{{"Close"|translate}}
                </button>
            </div>
            <div class="modal-body" ng-show="hideGraph" style="background:#fff">
                  <div class="col-md-3">
                </div>
                <div class="col-md-5">
                    <div class="grid simple">
                        <div class="grid-body no-border" id="Other_Statistics">
                            <canvas id="otherStatChart2" width="200" height="200"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="modal-body" ng-hide="hideGraph" style="background:#fff" id="otherstat">
                <div id="style-1" style="background-color:white;overflow-x:auto;overflow-y:auto;height:500px;">
                    <table class="table  table-bordered" style="background-color:white;" id="Table1">
                        <tr style="background-color:#e5e9ec">
                            <th>Particulars</th>
                            <th style="width:90px">AED</th>
                        </tr>
                        <tr>
                            <td>Average Gross Tuition Fee</td>
                            <td>{{otherstat[0].avg_expected}}</td>
                        </tr>
                        <tr>
                            <td>Average Discount</td>
                            <td>{{otherstat[0].avg_concession}}</td>
                        </tr>
                        <tr>
                            <td>Average Net Tuition Fee</td>
                            <td>{{otherstat[0].avg_net_tution}}</td>
                        </tr>
<!--                        <tr>
                            <td>Percentage of students availing discount</td>
                            <td>{{otherstat[0].per_stud_avail_discount}}</td>
                        </tr>-->
                    </table>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- other statistics /.modal -->


<div class="modal fade" id="fifthgraphModal">
    <div class="modal-dialog" id="top">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn btn-primary btn-small" style="float:left;margin-right:5px;" ng-show="hideGraph" ng-click="showthirdgraphTable()">
                <i class="fa fa-eye"></i>&nbsp;{{"Show"|translate}}&nbsp;{{"Table"|translate}}
                </button>
                <button class="btn btn-primary btn-small" style="float:left" ng-hide="hideGraph" ng-click="showthirdgraph()">
                    <i class="fa fa-eye"></i>&nbsp;{{"Show"|translate}}&nbsp;{{"Graph"|translate}}
                </button>
               <select id="Select11" style="    width: 105px;margin-left: 14px;margin-top: 0px;height: 40px!important;" name="cmb_acad2" class="form-control select2-sm selstyle" 
                            ng-change="staffSelect(edt.key)"
                            ng-model="edt.key" tabindex="2" 
                            ng-options="item.key as item.value for item in staffType"
                            ng-show="staffdropdown">
                        <option value="">Select Staff</option>
            </select>
                <button style="float:left;margin-left:5px;" ng-hide="hideGraph" ng-click="exportTable('StaffDetails','staffdetail')" class="btn btn-info btn-small">
                            <i class="fa fa-share-square-o"></i>&nbsp;{{"Export"|translate}}&nbsp;{{"Table" | translate }}
                </button>
                <button class="btn btn-info btn-small" style="float:left" ng-show="hideGraph" ng-click="printGraph('Staff_Details')">
                   <i class="fa fa-share-square-o"></i>&nbsp;{{"Export"|translate}}&nbsp;{{"Graph"|translate}}
                </button>
                <button type="button" class="btn btn-white btn-small" style="float:left;margin-left:5px;" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-power-off"></i>&nbsp;{{"Close"|translate}}
                </button>
            </div>
            <div class="modal-body" ng-show="hideGraph" style="background:#fff">
                    <div class="col-md-12" style="height:400px">
                        <div class="grid simple" >
                            <div class="grid-body no-border" id="Staff_Details">
                                <canvas id="staffDetailChart2"></canvas>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-body" ng-hide="hideGraph" style="background:#fff" id="staffdetail">
                <div id="style-1" style="background-color:white;overflow-x:auto;overflow-y:auto;height:550px;">
                    <table class="table  table-bordered" style="background-color:white;" id="Table1">
                        <tr style="background-color:#e5e9ec">
                            <th class="medium-cell" style="vertical-align:central" ng-repeat="(key,val) in staffData[0]">{{key | titleCase}}</th>
                        </tr>
                        <tr ng-repeat="itemdata in staffData | orderBy:orderByField:reverseSort" ng-class="row1">
                            <td ng-repeat="(key,val) in itemdata">
                                {{val}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- staffDetailChart /.modal -->


<div class="modal fade" id="sixthgraphModal">
    <div class="modal-dialog" id="top">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn btn-primary btn-small" style="float:left;margin-right:5px;" ng-show="hideGraph" ng-click="showthirdgraphTable()">
                    <i class="fa fa-eye"></i>&nbsp;{{"Show"|translate}}&nbsp;{{"Table"|translate}}
                </button>
                <button class="btn btn-primary btn-small" style="float:left" ng-hide="hideGraph" ng-click="showthirdgraph()">
                   <i class="fa fa-eye"></i>&nbsp;{{"Show"|translate}}&nbsp;{{"Graph"|translate}}
                </button>
                <button style="float:left;margin-left:5px;" ng-hide="hideGraph" ng-click="exportTable('Discount_Availed_by_Students','discount')" class="btn btn-info btn-small">
                   <i class="fa fa-share-square-o"></i>&nbsp;{{"Export"|translate}}&nbsp;{{"Table" | translate }}
                </button>
                <button class="btn btn-info btn-small" style="float:left" ng-show="hideGraph" ng-click="printGraph('Discount_Availed_by_Students')">
                   <i class="fa fa-share-square-o"></i>&nbsp;{{"Export"|translate}}&nbsp;{{"Graph"|translate}}
                </button>
                <button type="button" class="btn btn-white btn-small" style="float:left;margin-left:5px;" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-power-off"></i>&nbsp;{{"Close"|translate}}
                </button>
            </div>
            <div class="modal-body" ng-show="hideGraph" style="background:#fff">
                <div class="col-md-3">
                </div>
                <center>
                    <div class="col-md-5">
                        <div class="grid simple">
                            <div class="grid-body no-border" id="Discount_Availed_by_Students">
                                <canvas id="availStudChart2" width="200px" height="200px"></canvas>
                            </div>
                        </div>
                    </div>
                </center>
                <div class="col-md-4">
                </div>
            </div>
            <div class="modal-body" ng-hide="hideGraph" style="background:#fff" id="discount">
                <div id="style-1" style="background-color:white;overflow-x:auto;overflow-y:auto;height:450px;">
                    <table class="table  table-bordered" style="background-color:#fff;" id="Table1">
                        <tr style="background-color:#e5e9ec">
                            <th class="medium-cell" style="vertical-align:central" ng-repeat="(key,val) in stud_discount[0]">{{key | titleCase}}</th>
                        </tr>
                        <tr ng-repeat="itemdata in stud_discount | orderBy:orderByField:reverseSort" ng-class="row1">
                            <td ng-repeat="(key,val) in itemdata">
                                {{val}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="seventhgraphModal">
    <div class="modal-dialog" id="top">
        <div class="modal-content">
            <div class="modal-header" style="height:50px;">
                <button class="btn btn-primary btn-small" style="float:left;margin-right:5px;" ng-show="hideGraph" ng-click="showthirdgraphTable()">
                    <i class="fa fa-eye"></i>&nbsp;{{"Show"|translate}}&nbsp;{{"Table"|translate}}
                </button>
                <button class="btn btn-primary btn-small" style="float:left" ng-hide="hideGraph" ng-click="showthirdgraph()">
                   <i class="fa fa-eye"></i>&nbsp;{{"Show"|translate}}&nbsp;{{"Graph"|translate}}
                </button>
                <button style="float:left;margin-left:5px;" ng-hide="hideGraph" ng-click="exportTable('Movement_During_Year','movment')" class="btn btn-info btn-small">
                   <i class="fa fa-share-square-o"></i>&nbsp;{{"Export"|translate}}&nbsp;{{"Table" | translate }}
                </button>
                <button class="btn btn-info btn-small" style="float:left" ng-show="hideGraph" ng-click="printGraph('Movement_During_Year')">
                   <i class="fa fa-share-square-o"></i>&nbsp;{{"Export"|translate}}&nbsp;{{"Graph"|translate}}
                </button>
                <button type="button" class="btn btn-white btn-small" style="float:left;margin-left:5px;" data-dismiss="modal" aria-label="Close">
                <i class="fa fa-power-off"></i>&nbsp;{{"Close"|translate}}
                </button>
            </div>
            <div class="modal-body" ng-show="hideGraph" style="background:#fff">
                <div class="col-md-3">
                </div>
                <center>
                    <div class="col-md-5">
                        <div class="grid simple">
                            <div class="grid-body no-border" id="Movement_During_Year">
                                <canvas id="moveofMonthChart2" width="200px" height="200px"></canvas>
                            </div>
                        </div>
                    </div>
                </center>
                <div class="col-md-4">
                </div>
            </div>
            <div class="modal-body" ng-hide="hideGraph" style="margin-top:20px;background:#fff" id="movment">
                <div id="style-1" style="background-color:white;overflow-x:auto;overflow-y:auto;height:450px;">
                    <table class="table  table-bordered" style="background-color:white;" id="Table1">
                        <tr style="background-color:#e5e9ec">
                            <th>{{'Name of Staff' |translate}}</th>
                            <th>{{'Nationality' |translate}}</th>
                            <th>{{'Designation' |translate}}</th>
                            <th>{{'Category' |translate}}</th>
                            <th>{{'Joined Date' |translate}}</th>
                            <th>{{'Resigned Date' |translate}}</th>
                            <th>{{'Status' |translate}}</th>

                        </tr>
                        <tr ng-repeat="itemdata in movementData | orderBy:orderByField:reverseSort" ng-class="row1">
                            <td>{{itemdata.staff_name}}</td>
                            <td>{{itemdata.nationality_name}}</td>
                            <td>{{itemdata.dg_desc}}</td>
                            <td>{{itemdata.staff_type}}</td>
                            <td>{{itemdata.em_date_of_join}}</td>
                            <td>{{itemdata.em_left_date}}</td>
                            <td>
                                <span class="label label-important" ng-if="itemdata.staff_status=='L'">{{'Resigned' |translate}}</span>
                                <span class="label label-success" ng-if="itemdata.staff_status=='V'">{{'Valid'|translate}}</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->