﻿<div class="row" style="padding-top: 12px">
    <div class="col-md-12">
        <div class="grid simple">

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input
                                placeholder="page"
                                class="k-textbox input-sm"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input
                                placeholder="Page Size"
                                class="k-textbox input-sm"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input
                                placeholder="Total"
                                class="k-textbox input-sm"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input
                                placeholder="..."
                                class="k-textbox input-sm"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input
                                placeholder="pagination"
                                class="k-textbox input-sm"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input
                                placeholder="active"
                                class="k-textbox input-sm"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input
                                placeholder="disabled"
                                class="k-textbox input-sm"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="page-title">
                <h3><span class="semi-bold">{{"Student "| translate }}</span>{{"Document List"| translate }}</h3>
            </div>

            <div class="grid-title no-border">

                <div class="grid-body no-border">

                    <div class="row" ng-hide="busyindicator">

                        <div class="col-md-12">

                            <div class="row form-row">

                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Curriculum"|translate}}</label>
                                        </div>
                                        <div class="col-md-12">

                                            <select id="cmb_School_Code" class="k-textbox input-sm" name="user"
                                                ng-model="edt.sims_cur_code"
                                                ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in curriculum">
                                                <option value="" selected disabled>Please Select</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Academic Year"|translate}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <select id="cmb_academic_year" class="k-textbox input-sm" name="user1"
                                                ng-model="temp.sims_academic_year"
                                                ng-options="year1.sims_academic_year as year1.sims_academic_year_desc for year1 in Acc_year">
                                                <option value="" selected disabled>Please Select</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Grade"|translate}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <select id="cmb_grade_code" style="width: 100%" class="k-textbox input-sm" ng-model="edt.sims_grade_code" ng-change="getSection(edt.sims_cur_code,edt.sims_academic_year,edt.sims_grade_code)">
                                                <option value="" selected disabled>Please Select</option>
                                                <option class="k-textbox input-sm input-sm" ng-repeat="grade in Grade_code|filter:{sims_grade_name:''}" value="{{grade.sims_grade_code}} ">{{grade.sims_grade_name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Section"|translate}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <select id="Select24" class="k-textbox input-sm input-sm" ng-model="edt.sims_section_code">
                                                <option value="" selected disabled>Please select</option>
                                                <option class="k-textbox input-sm input-sm" ng-repeat="section in Section_code|filter:{sims_section_name:''}" value="{{section.sims_section_code}} ">{{section.sims_section_name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="row form-row">

                                        <div class="col-md-12">
                                            <label>{{"Enroll"| translate }}</label>
                                        </div>

                                        <div class="col-md-12">
                                            <input type="text" id="txtenrollname" ng-model="edt.sims_student_enroll_number" class="k-textbox input-sm input-sm" />
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Select All"| translate }}</label>
                                        </div>

                                        <div class="row pull-right">

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button type="button" class="btn btn-primary btn-cons" ng-click="Show_Data(edt.sims_cur_code,temp.sims_academic_year)">{{"Show"| translate }}</button>
                                                    <button type="button" class="btn btn-primary btn-cons" ng-click="Reset()">{{"Reset"| translate }}</button>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-md-12" style="height: 30px;width: 100%">
                        <div class="row">

                            <div class="col-md-12">
                                <hr style="height: 01px; border: none; color: orange; background-color: orange;">
                            </div>
                        </div>
                    </div>


                    <div class="grid-body no-border" ng-show="table1">
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <select id="Select2" style="width: 60px" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                    <option value="5" class=" k-textbox input-sm input-sm">5
                                    </option>

                                    <option value="10" class=" k-textbox input-sm input-sm">10
                                    </option>

                                    <option value="15" class=" k-textbox input-sm input-sm">15
                                    </option>
                                </select>

                            </div>

                            <div class="col-md-6">
                                <div class="pull-right">
                                    <div class="dataTables_filter" id="Div1">
                                        <label>
                                            {{"Search"| translate }}:&nbsp;
                                    <input aria-controls="example" ng-model="searchText" class="input-medium" placeholder="Search" type="search" ng-change="search()"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="exportable" class="dataTables_wrapper form-inline" ng-show="table">
                        <div id="example_wrapper" class="dataTables_wrapper form-inline">

                            <div style="width: 100%; height: 250px; overflow-x: auto; overflow-y: auto">
                                <table class="table table-bordered table-hover table-condensed" id="example">

                                    <thead>
                                        <tr style="background-color: #edefef">

                                            <th class="semi-bold">
                                                <label class="semi-bold">{{"No"|translate}}</label></th>

                                            <th class="semi-bold">
                                                <label class="semi-bold">{{"Enroll"|translate}}</label></th>

                                            <th class="semi-bold">
                                                <label class="semi-bold">{{"Student Name"|translate}}</label></th>

                                            <th class="semi-bold">
                                                <label class="semi-bold">{{"Year"|translate}}</label></th>

                                            <th class="semi-bold">
                                                <label class="semi-bold">{{"Grade"|translate}}</label></th>

                                            <th class="semi-bold">
                                                <label class="semi-bold">{{"Section"|translate}}</label></th>

                                            <th class="semi-bold">
                                                <label class="semi-bold">{{"Document Attachment"|translate}}</label></th>

                                            <th class="semi-bold">
                                                <label class="semi-bold">{{"Upload Date"|translate}}</label></th>

                                            <!--      <th class="semi-bold">
                                                <label class="semi-bold">{{"Status"|translate}}</label></th>-->

                                        </tr>
                                    </thead>

                                    <tr ng-repeat="info in filteredTodos">

                                        <td>{{$index+1}}</td>
                                        <td>{{info.sims_enroll_number}}</td>
                                        <td>{{info.student_full_name}}</td>
                                        <td>{{info.sims_academic_year}}</td>
                                        <td>{{info.sims_grade_name}}</td>
                                        <td>{{info.sims_section_name}}</td>
                                        <td><a href="" ng-click="downloaddoc(info.sims_admission_doc_path)" style="color: red">{{info.sims_admission_doc_path}}</a></td>
                                        <td>{{info.sims_admission_date_created}}</td>
                                        <!--<td>{{info.sims_admission_doc_status}}</td>-->

                                    </tr>

                                </table>
                            </div>


                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                    scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                    paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                    ng-click="index(currentPage)">
                                </paging>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
