﻿
<style>
    .sortorder:after {
  content: '\25b2';  
}
.sortorder.reverse:after {
  content: '\25bc';  
}
</style>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Update Student EA Number"| translate }}</span> </h3>
            </div>

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input
                                placeholder="page"
                                class="k-textbox input-sm"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input
                                placeholder="Page Size"
                                class="k-textbox input-sm"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input
                                placeholder="Total"
                                class="k-textbox input-sm"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input
                                placeholder="..."
                                class="k-textbox input-sm"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input
                                placeholder="pagination"
                                class="k-textbox input-sm"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input
                                placeholder="active"
                                class="k-textbox input-sm"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input
                                placeholder="disabled"
                                class="k-textbox input-sm"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="grid-body no-border">
            <div ng-show="table">
                <div class="row form-row">

                    <div class="row">
                        <div class="col-md-12 form-group">

                            <div class="col-md-2">
                                <label id="Label31" for="txt_Nationality_Code" class="form-label">{{"Curriculum"| translate }} <span class="asterisk" style="color: red">*</span></label>

                             
                                <select id="Select2" class="form-control input-sm" name="sims_cur_name"
                                    ng-model="temp.sims_cur_code" ng-change="getAccYear(temp.sims_cur_code)"
                                    ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in curriculum">
                                </select>
                               
                            </div>

                            <div class="col-md-2">
                                <label id="Label32" for="txt_Nationality_Code" class="form-label">{{"Academic Year"| translate }} <span class="asterisk" style="color: red">*</span></label>

                                
                                <select id="Select3" class="form-control input-sm" name="sims_academic_year"
                                    ng-model="temp.sims_academic_year" ng-change="getGrade(temp.sims_cur_code,temp.sims_academic_year)"
                                    ng-options="ay.sims_academic_year as ay.sims_academic_year_desc for ay in Acc_year" required >
                                </select>
                                
                            </div>

                            <div class="col-md-2">
                                <label id="Label33" for="txt_Nationality_Code" class="form-label">{{"Grade"| translate }}</label>


                                <select id="Select4" class="form-control input-sm" name="sims_grade_name"
                                    ng-model="temp.sims_grade_code" ng-change="getSection(temp.sims_cur_code,temp.sims_grade_code,temp.sims_academic_year)"
                                    ng-options="grd.sims_grade_code as grd.sims_grade_name for grd in Grade_code">
                                     <option value="" selected disabled>Please Select</option>
                                </select>

                              
                            </div>

                            <div class="col-md-2">
                                <label id="Label34" for="txt_Nationality_Code" class="form-label">{{"Section"| translate }}</label>

                                <select id="Select10" name="sims_section_name" class="form-control input-sm" ng-model="temp.sims_section_code">
                                    <option value="" selected disabled>Please Select</option>
                                    <option ng-repeat="sec in Section_code" value="{{sec.sims_section_code}}">{{sec.sims_section_name}}</option>
                                </select>

                             
                            </div>

                            <div class="col-md-4">
                                <label>&nbsp</label>
                                <button type="submit" id="Button1" ng-show="search_btn" ng-click="stud_StudEA_Details_fun(temp.sims_cur_code,temp.sims_academic_year,temp.sims_grade_code,temp.sims_section_code);" class="btn btn-primary btn-cons">{{"Search"| translate }}</button>
                                <button type="button" ng-show="clr_btn" ng-click="clear();" class="btn btn-danger btn-cons">{{"Clear"| translate }}</button>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <!--<select id="Select1" style="width: 60px" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                            <option value="{{x.val}}" class=" k-textbox input-sm" ng-repeat="x in countData">{{x.data}}
                            </option>
                        </select>-->
                        <select id="Select12" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="10" class="form-control input-sm">
                                10
                            </option>

                            <option value="20" class="form-control input-sm">
                                20
                            </option>

                            <option value="All" class="form-control input-sm">
                                All
                            </option>
                        </select>
                    </div>

                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                               <span class="k-textbox k-space-right full-width">
                                    <input aria-controls="example" ng-model="searchText" class="input-medium" autofocus="autofocus" placeholder="Search By Enroll & Name" type="search" ng-change="search()">
                                   <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline margin-top" ng-show="grid">
                    <div style="width: 100%; height: 270px; overflow-x: auto; overflow-y: auto">
                        <table class="table table-bordered  table-condensed" id="fixTable">
                            <thead style="background-color: white">
                                <tr style="background-color: #edefef">


                                    <th>
                                       {{"Sr. No."| translate }}
                                    </th>

                                     <th ng-click="sortBy('sims_enrollment_number')">{{"Student Enroll"| translate }}
                                     <span class="sortorder" ng-show="propertyName === 'sims_enrollment_number'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                     <th ng-click="sortBy('sims_student_full_name')">{{"Student Name"| translate }}
                                     <span class="sortorder" ng-show="propertyName === 'sims_student_full_name'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                     <th ng-click="sortBy('sims_grade_name_en')">{{"Student Grade"| translate }}
                                     <span class="sortorder" ng-show="propertyName === 'sims_grade_name_en'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                     <th ng-click="sortBy('sims_section_name_en')">{{"Student Section"| translate }}
                                     <span class="sortorder" ng-show="propertyName === 'sims_section_name_en'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th ng-click="sortBy('sims_student_ea_number')">{{"Student EA Number"| translate }}
                                     <span class="sortorder" ng-show="propertyName === 'sims_student_ea_number'" ng-class="{reverse: reverse}"></span>
                                    </th>

                                   <!-- <th class="semi-bold" ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                        <label><b><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class=" fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"STUDENT ENROLL"| translate }}</a></b></label>
                                    </th>-->

                                   <!-- <th class="semi-bold">
                                        <label><b>{{"STUDENT NAME"| translate }}</b></label></th>
                                    <th class="semi-bold">
                                        <label><b>{{"STUDENT GRADE"| translate }}</b></label></th>
                                    <th class="semi-bold">
                                        <label><b>{{"STUDENT SECTION"| translate }}</b></label></th>
                                    <th class="semi-bold">
                                        <label><b>{{"STUDENT EA NUMBER"| translate }}</b></label></th>-->
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="j in StudEA_Details | orderBy:propertyName:reverse" ng-class="row1">

                                    <td>
                                        <label id="Label1">{{$index+1}}</label></td>
                                    <td>
                                        <label id="Label35">{{j.sims_enrollment_number}}</label></td>
                                    <td>
                                        <label id="Label36">{{j.sims_student_full_name}}</label></td>
                                    <td>
                                        <label id="Label2">{{j.sims_grade_name_en}}</label></td>
                                    <td>
                                        <label id="Label4">{{j.sims_section_name_en}}</label></td>

                                    <td>
                                        <label id="Label3">
                                            <input style="width: 90px; height: 25px" aria-controls="example" ng-change="updatedata(j)" ng-model="j.sims_student_ea_number" class="k-textbox input-sm"></label>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row" ng-show="pager">
                        <div class="col-md-12">
                    <div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                ng-click="index(currentPage)">
                        </paging>
                    </div>
                            </div>
                        </div>

                    <div class="row margin-top-2">
                        <div class="col-md-12">
                    <div class="pull-right">
                        <div class="col-md-12 form-group">
                            <label>&nbsp</label>
                            <button type="submit" id="Button2" ng-click="update(j);" class="btn btn-primary btn-cons">{{"Update"| translate }}</button>
                        </div>
                    </div>
                            </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    </div> 
</div>

<div class="modal fade" id="message">
    <div class="modal-dialog" id="Div1" style="width: 300px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="semi-bold pull-left">Message</h5>
                <br />
            </div>
            <div class="modal-body">
                <br />
                <label>{{msg1.strMessage}}</label>
                <br />
            </div>
            <div class="modal-footer" style="height: 60px">
                <button type="button" class="btn btn-primary btn-cons" data-dismiss="modal" ng-click="maindata();">Ok</button>
            </div>
        </div>
    </div>
</div>
<script src="assets/js/tableHeadFixer.js"></script>

