﻿<div class="loading-middle" ng-hide="display">
    <img src="loading.gif" />
</div>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="page-title">
                <h3><span class="semi-bold">{{"Student Image" | translate}}</span></h3>
            </div>

            <div class="grid-body no-border">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row form-row">
                            <div class="col-md-2">

                                        <!-- <select id="cmb_School_Code" class="form-control" name="user" ng-model="edt.sims_cur_code" ng-change="getacyr(edt.sims_cur_code)">
                                            <option value="" selected disabled>Please Select</option>
                                            <option class="form-control input-sm" ng-repeat="cur in curriculum" value="{{cur.sims_cur_code}}">{{cur.sims_cur_short_name_en}}</option>
                                        </select>-->
                                        <label>{{"Curriculum"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                        <select id="Select15" class="form-control input-sm" required
                                                ng-model="edt.sims_cur_code" ng-selected="" name="curriculum_data" ng-change="getacyr(edt.sims_cur_code)"
                                                ng-options="curr.sims_cur_code as curr.sims_cur_short_name_en for curr in curriculum">
                                            <option value="" selected disabled>Please Select</option>
                                        </select>

                                    </div>

                            <div class="col-md-2">
                                <label>{{"Academic Year"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                        <!--   <select id="cmb_academic_year" class="form-control" ng-model="edt.sims_academic_year" ng-change="getGrade(edt.sims_cur_code,edt.sims_academic_year);">
                                            <option value="" selected disabled>Please Select</option>
                                            <option class="form-control input-sm" ng-repeat="year1 in Academic_year" value="{{year1.sims_academic_year}}">{{year1.sims_academic_year_desc}}</option>
                                        </select>-->
                                        <select id="Select1" class="form-control input-sm" required
                                                ng-model="edt.sims_academic_year" ng-selected="" name="accyear" ng-change="getGrade(edt.sims_cur_code,edt.sims_academic_year);"
                                                ng-options="accyr.sims_academic_year as accyr.sims_academic_year_desc for accyr in Academic_year">
                                            <option value="" selected disabled>Please Select</option>
                                        </select>

                                    </div>

                            <div class="col-md-2">
                                <label>{{"Grade"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                        <select id="cmb_grade_code" style="width: 100%" class="form-control input-sm" ng-model="edt.sims_grade_code" ng-change="getsection(edt.sims_cur_code,edt.sims_grade_code,edt.sims_academic_year);" required>
                                            <option value="" selected disabled>Please Select</option>
                                            <option class="form-control input-sm" ng-repeat="grade_cod in grade" value="{{grade_cod.sims_grade_code}}">{{grade_cod.sims_grade_name}}</option>
                                        </select>
                                    </div>


                            <div class="col-md-2">
                                <label>{{"Section"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                        <select id="cmb_section_code" style="width: 100%" class="form-control input-sm" ng-model="edt.sims_section_name" ng-change="get(edt.sims_section_name);" required>
                                            <option value="" selected disabled>Please Select</option>
                                            <option class="form-control input-sm" ng-repeat="section_cod in section1" value="{{section_cod.sims_section_code}}">
                                                {{section_cod.sims_section_name}}
                                            </option>
                                        </select>
                                    </div>



                            <div class="col-md-3">
                                <label>&nbsp;</label>
                                        <button type="button" class="btn btn-primary btn-small" ng-click="Show_Data()">{{"Show"|translate}}</button>
                                        <button type="button" class="btn btn-warning btn-small" ng-click="Reset()">{{"Reset"|translate}}</button>
                                    </div>
                        </div>
                    </div>
                </div>

            

            <div class="" ng-show="table1">
                <div class="row form-row">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="Div1">
                               <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" autofocus="autofocus" placeholder="Student Name/Enroll" class="k-textbox input-sm full-width" ng-change="search();">
                                <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <!--<div style="width: 100%; height: 270px; overflow-x: auto; overflow-y: auto">-->
                    <div class="row">
                        <div class="col-md-12">
                        <table class="table table-bordered table-hover  table-condensed" id="fixTable">
                            <thead>
                                <tr style="background-color: #edefef !important;">
                                    <th>{{"Enrollment Number"| translate }}</th>
                                    <th>{{"Student Name"| translate }}</th>
                                    <th>{{"Image"| translate }}</th>

                                    <!--<td class="semi-bold">{{"UPDATE"| translate }}</td>
                                    <td class="semi-bold">{{"DELETE"| translate }}</td>-->
                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <tr ng-repeat="obj in filteredTodos" ng-class="row1">
                                    <td>{{obj.sims_student_enroll_number}}</td>
                                    <td>{{obj.sims_student_passport_full_name_en}}</td>
                                    <td>
                                        <!--<img ng-src="{{imageUrl + obj.sims_student_image}}" height="40" width="40" />
                                             onerror="this.src = 'Images/StudentImage/default.jpg'"
                                            -->

                                        <img id="{{obj.sims_student_enroll_number}}" style="border: 2px Solid #CCCCCC; border-radius: 5px; width: 40px; height: 40px;cursor:pointer;" ng-click="downloaddoc(obj)" />
                                    </td>

                                    <!--<td>
                                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" ng-click="UploadImageModal(obj)">{{"Upload"|translate}}</button>
                                    </td>-->
                                    <!--<td><button type="button"style="border:none;"><img src="Images/Remove.png" alt="Button" ng-click="delete(obj)"></button></td>-->
                                    <!--<td>
                                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" ng-click="delete(obj)">{{"delete"|translate}}</button>
                                    </td>-->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                    </div>

                <!-- modal box for uploading image -->
                <div class="modal fade" id="myModal" role="dialog" tabindex="-1">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content" id="modal">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">{{"Upload image"|translate}}</h4>
                            </div>
                            <div>
                                <img ng-src="{{edt.sims_student_image}}" src="{{prev_img}}" class="img" style="border: 2px Solid #CCCCCC; border-radius: 5px; width: 50px; height: 50px"
                                     alt="" />
                            </div>
                            <div class="modal-body">
                                <p>
                                    <input type="file" id="file1" name="file" class="form-control" ng-model="edt.sims_student_img" onchange="angular.element(this).scope().file_changed(this)"
                                           ng-files="getTheFiles($files)" accept="image/*" required />
                                </p>
                            </div>
                            <div class="modal-footer">
                                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Upload</button>-->
                                <button class="btn btn-primary btn-small" type="submit" ng-click="Upload();"><i class="icon-ok"></i>{{"Upload"| translate }}</button>
                                <!--<button type="submit" class="btn btn-success btn-cons">{{"Upload" | translate }}</button>-->
                                <button type="button" class="btn btn-danger btn-small" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End modal box for uploading image -->

                <div class="row" ng-show="pager">
                    <div class="col-md-12">
                        <div class="row form-row">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="displayerror" ng-show="ImageView">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row form-row">
                                <div>
                                    <p>Sorry There is no Record in this Section!!!!!!!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
