﻿<!DOCTYPE html>
<html>
<body>
    
    <div class="col-md-12">
    </div>

    <div  class="grid-simple white-bg p-t-30 p-b-80 p-l-10 p-r-10">
        <div class="row">

            <div class="col-md-2">
                <label id="Label" for="txt_Nationality_Code" class="form-label">{{"Curriculum"|translate}}<span style="color:red">*</span></label>
                <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width"
                        ng-model="temp.sims_cur_code" ng-selected="" name="sims_cur_code" ng-change="getAccYear(temp.sims_cur_code)"
                        ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in sims_cur" required></select>
            </div>

            <div class="col-md-2">
                <label id="Label" for="txt_Nationality_Code" class="form-label">{{"Academic Year"|translate}}<span style="color:red">*</span></label>
                <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width" ng-change="getAllGrades(temp.sims_cur_code,temp.sims_academic_year)"
                        ng-model="temp.sims_academic_year" ng-selected="" name="sims_academic_year"
                        ng-options="cur.sims_academic_year as cur.sims_academic_year_desc for cur in academic_year" required></select>
            </div>

            <div class="col-md-2">
                <label id="Label" for="txt_Nationality_Code" class="form-label">{{"Grade"|translate}}<span style="color:red">*</span></label>
                <select id="grade_box" data-role="dropdownlist" multiple="multiple"
                        ng-model="temp.sims_grade_code" name="sims_grade_code" ng-change="getSectionFromGrade(temp.sims_cur_code,temp.sims_academic_year,temp.sims_grade_code)">
                    <option ng-repeat="cur in grade_code" value="{{cur.sims_grade_code}} ">{{cur.sims_grade_name}}</option>
                </select>
            </div>

            <div class="col-md-2">
                <label id="Label" for="txt_Nationality_Code" class="form-label">{{"Section Name"|translate}}<span style="color:red">*</span></label>
                <select id="section_box" data-role="dropdownlist" multiple="multiple"
                        ng-model="temp.sims_section_code" name="sims_section_code">
                    <option ng-repeat="cur in section_code" value="{{cur.sims_section_code}} ">{{cur.sims_section_name}}</option>
                </select>
            </div>

            <div class="col-md-2">
                <label id="Label" for="txt_Nationality_Code" class="form-label">{{"Lecture Per Week"|translate}}</label>
                <input type="text" class="k-textbox full-width"  ng-model="temp.sims_bell_lecture_per_week" value="" autofocus="autofocus" tabindex="1" placeholder="" size="10" name="lecture_count">
            </div>

            <div class="col-md-2">
                <div class="pull-right">
                    <label>&nbsp;</label>
                    <button type="button" class="btn btn-primary btn-small" ng-click="SubjectTeacherList_Rpt()">{{"Preview"|translate}}</button>
                    <button type="button" class="btn btn-primary btn-small" ng-click="exportData()">{{"Excel"|translate}}</button>

                    </div>


                </div>

            <div class="col-md-12">
                <div class="pull-right">
                    <span class="k-textbox k-space-right">
                        <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                        <a href="#" class="k-icon k-i-search">&nbsp;</a>
                    </span>
                </div>
            </div>

            <div class="col-md-12" id="rpt_data">
                <table class="table table-bordered text-center" >
                    <thead ng-if="!colsvis">
                        <tr style="" background-color #edefef">
                            <th><b>{{"Sr No"|translate}}</b></th>
                            <th ng-click="sort('sims_grade_name_en')"><b>{{"Class Name"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                            <th ng-click="sort('sims_section_name_en')"><b>{{"Section Name"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                            <th ng-click="sort('sims_subject_name_en')"><b>{{"Subject Name"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                            <th ng-click="sort('sims_teacher_name')"><b>{{"Teacher Name"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                            <th ng-click="sort('sims_bell_teacher_code')"><b>{{"Employee Id"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                            <th ng-click="sort('sims_bell_lecture_per_week')"><b>{{"Lecture count per week"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                            <th ng-click="sort('student_cnt')"><b>{{"Number of Student Assigned"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                        </tr>
                    </thead>
                    <thead ng-if="colsvis">
                        <tr style="" background-color #edefef">
                            <th><b>{{"Sr No"|translate}}</b></th>
                            <th ng-click="sort('sims_grade_name_en')"><b>{{"Class Name"|translate}}</b><i class="material-icons"></i></th>
                            <th ng-click="sort('sims_section_name_en')"><b>{{"Section Name"|translate}}</b><i class="material-icons"></i></th>
                            <th ng-click="sort('sims_subject_name_en')"><b>{{"Subject Name"|translate}}</b><i class="material-icons"></i></th>
                            <th ng-click="sort('sims_teacher_name')"><b>{{"Teacher Name"|translate}}</b><i class="material-icons"></i></th>
                            <th ng-click="sort('sims_bell_teacher_code')"><b>{{"Employee Id"|translate}}</b><i class="material-icons"></i></th>
                            <th ng-click="sort('sims_bell_lecture_per_week')"><b>{{"Lecture count per week"|translate}}</b><i class="material-icons"></i></th>
                            <th ng-click="sort('student_cnt')"><b>{{"Number of Student Assigned"|translate}}</b><i class="material-icons"></i></th>
                        </tr>
                    </thead>
                    <tbody align="center">
                        <tr ng-repeat="r in report_data|orderBy:colname:reverse|filter:searchText">
                            <td>{{$index+1}}</td>
                            <td>{{r.sims_grade_name_en}}</td>
                            <td>{{r.sims_section_name_en}}</td>
                            <td>{{r.sims_subject_name_en}}</td>
                            <td>{{r.sims_teacher_name}}</td>
                            <td>{{r.sims_bell_teacher_code}}</td>
                            <td>{{r.sims_bell_lecture_per_week}}</td>
                            <td>{{r.student_cnt}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
        
</body>
</html>
<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/plugins/fileSaver.js"></script>
<script src="assets/js/jszip.js"></script>
<script src="assets/js/xlsx.js"></script>
<script src="assets/js/xlsx-reader.js"></script>



