﻿
<!--<style>
    .scroll-wrapper {
        height: 300px;
    }

     .sortorder:after {
        content: '\25b2';
    }

        .sortorder.reverse:after {
        content: '\25bc';
    }

</style>-->


<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Survey Details"|translate}}</span></h3>
            </div>


            <div class="grid-body no-border paddingcode">
                <div ng-show="dis2">
                    <form name="myForm" novalidate="novalidate" ng-submit="Save(myForm.$valid)" style="height:800px;">
                        <div class="row" ng-show="notshow">
                            <div class="col-xs-4">
                                <div class="well" class="form-group">
                                    <div class="form-group">
                                        <label>Current Page:</label>
                                        <input
                                            placeholder="page"
                                            class="form-control"
                                            ng-model="currentPage"
                                            ng-init="currentPage = 1" />
                                    </div>
                                    <div class="form-group">
                                        <label>Page Size:</label>
                                        <input
                                            placeholder="Page Size"
                                            class="form-control"
                                            ng-model="numPerPage" />
                                    </div>
                                    <div class="form-group">
                                        <label>Total Items:</label>
                                        <input
                                            placeholder="Total"
                                            class="form-control"
                                            ng-model="pagersize" />
                                    </div>
                                    <hr />
                                    <div class="form-group">
                                        <label>Dots Display:</label>
                                        <input
                                            placeholder="..."
                                            class="form-control"
                                            maxlength="3"
                                            ng-model="dots"
                                            ng-init="dots = '...'" />
                                    </div>

                                    <hr />
                                    <div class="form-group">
                                        <label>UL Class:</label>
                                        <input
                                            placeholder="pagination"
                                            class="form-control"
                                            maxlength="100"
                                            ng-model="ulClass" />
                                    </div>
                                    <div class="form-group">
                                        <label>Active Class:</label>
                                        <input
                                            placeholder="active"
                                            class="form-control"
                                            maxlength="100"
                                            ng-model="activeClass"
                                            ng-init="activeClass = 'active'" />
                                    </div>
                                    <div class="form-group">
                                        <label>Disabled Class:</label>
                                        <input
                                            placeholder="disabled"
                                            class="form-control"
                                            maxlength="100"
                                            ng-model="disabledClass"
                                            ng-init="disabledClass = 'disabled'" />
                                    </div>
                                    <br />
                                    <table class="table">

                                        <tr>
                                            <td>
                                                <label>Show Prev Next:</label></td>
                                            <td>
                                                <input
                                                    type="checkbox"
                                                    ng-model="showPrevNext"
                                                    ng-init="showPrevNext = true" />
                                                {{showPrevNext}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Show First Last:</label></td>
                                            <td>
                                                <input
                                                    type="checkbox"
                                                    ng-model="showFirstLast"
                                                    ng-init="showFirstLast = true" />
                                                {{showPrevNext}}
                                            </td>
                                        </tr>
                                    </table>
                                    <hr />
                                    <span class="btn btn-default" onclick="location.reload()">
                                        <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                                    </span>
                                    <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                                    </span>
                                    <br />
                                    <br />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row">

                                <div class="col-md-6 m-r-25">
                                    <div class="row form-row">

                                        <div class="col-md-4">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <label id="Label18" for="txt_survey_type" class="form-label"><i class="fa fa-bookmark-o"></i>&nbsp;{{"Survey Type"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                                </div>
                                                <div class="col-md-12" ng-class="{'has-error': !myForm.cmb_survey_type.$valid && (myForm.cmb_survey_type.$touched || myForm.$submitted) }">
                                                    <select id="cmb_survey_type" data-role="dropdownlist" name="cmb_survey_type" class="form-control input-sm" ng-model="edt.sims_survey_type" required
                                                        ng-options="item2.survey_type_code as item2.survey_type_name for item2 in surveyType_data">
                                                        <option value="">Please Select</option>

                                                    </select>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="error-container"
                                                        ng-show="myForm.cmb_survey_type.$dirty && myForm.cmb_survey_type.$invalid || myForm.$submitted">
                                                        <small class="error"
                                                            ng-show="myForm.cmb_survey_type.$error.required">This Field is required.
                                                        </small>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <label id="Label2" for="txt_survey_subject" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Survey Subject"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                                </div>
                                                <div class="col-md-12" ng-class="{'has-error': !myForm.txt_subject_en.$valid && (myForm.txt_subject_en.$touched || myForm.$submitted) }">
                                                    <input type="text" name="txt_subject_en" placeholder="Please Enter" class="form-control input-sm full-width"  id="txt_subject_en" ng-model="edt.sims_survey_subject" required />
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="error-container"
                                                        ng-show="myForm.txt_subject_en.$dirty && myForm.txt_subject_en.$invalid || myForm.$submitted">
                                                        <small class="error"
                                                            ng-show="myForm.txt_subject_en.$error.required">This Field is required.
                                                        </small>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <label id="lbl_subject_ot" for="txt_subject_ot" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Other Subject"|translate}}</label>
                                                </div>
                                                <div class="col-md-12">
                                                    <input type="text" name="txt_subject_ot" placeholder="Please Enter" class="k-textbox input-sm full-width"  id="txt_subject_ot" ng-model="edt.sims_survey_subject_ot" />
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <label id="Label15" for="txt_desc_en" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Description in English"|translate}}</label>
                                                </div>
                                                <div class="col-md-12">
                                                    <textarea class="k-textbox input-sm full-width" rows="2" placeholder="Please Enter" name="txt_desc_en" id="txt_desc_en"  ng-model="edt.sims_survey_desc_en" />
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-12 m-b-15">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <label id="Label16" for="txt_desc_ot" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Description in Other Lang."|translate}}</label>
                                                </div>
                                                <div class="col-md-12">
                                                    <textarea class="full-width" rows="2" placeholder="Please Enter" id="txt_desc_ot" name="txt_desc_ot"  ng-model="edt.sims_survey_desc_ot" />
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <div class="row form-row">
                                        <div class="col-md-6">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <label id="Label1" for="txt_start_date" class="form-label"><i class="fa fa-calendar"></i>&nbsp;{{"Survey Start Date"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                                </div>

                                                <div class="col-md-12" ng-class="{'has-error': !myForm.dp_start_date.$valid && (myForm.dp_start_date.$touched || myForm.$submitted) }">
                                                    <div >
                                                        <input type="text" id="dp_start_date" placeholder="Select Date" name="dp_start_date" class="k-textbox input-sm full-width" ng-model="edt.sims_survey_start_date" required>
                                                        <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>class="input-append success date no-padding datepicker-sm" data-datepicker="true"-->
                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <div class="error-container"
                                                        ng-show="myForm.dp_start_date.$dirty && myForm.dp_start_date.$invalid || myForm.$submitted">
                                                        <small class="error"
                                                            ng-show="myForm.dp_start_date.$error.required">This Field is required.
                                                        </small>

                                                    </div>
                                                </div>


                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <label id="lbl_end_date" for="txt_end_date" class="form-label"><i class="fa fa-calendar"></i>&nbsp;{{"Survey End Date"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                                </div>

                                                <div class="col-md-12" ng-class="{'has-error': !myForm.dp_end_date.$valid && (myForm.dp_end_date.$touched || myForm.$submitted) }">
                                                    <div>
                                                        <input type="text" id="adm_dp_admdate" placeholder="Select Date" name="dp_end_date" class="k-textbox input-sm full-width" ng-model="edt.sims_survey_end_date" required>
                                                        <!--class="input-append success date no-padding datepicker-sm" data-datepicker="true"<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="error-container"
                                                        ng-show="myForm.dp_end_date.$dirty && myForm.dp_end_date.$invalid || myForm.$submitted">
                                                        <small class="error"
                                                            ng-show="myForm.dp_end_date.$error.required">This Field is required.
                                                        </small>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <label id="lbl_attempt_count" for="txt_attempt_count" class="form-label"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Max Attempt Count"|translate}}</label>
                                                </div>
                                                <div class="col-md-12">
                                                    <input type="text" class="k-textbox input-sm full-width"  placeholder="Please Enter" id="txt_attempt_count" name="txt_attempt_count" ng-model="edt.sims_survey_max_attempt_count" />
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-6" ng-hide="true">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <label id="lbl_max_allowed_time_in_minute" for="txt_max_allowed_time_in_minute" class="form-label"><i class="fa fa-clock-o"></i>&nbsp;{{"Max Allowed Time in Minute"|translate}}</label>
                                                </div>
                                                <div class="col-md-12">
                                                    <input type="text" class="k-textbox input-sm full-width"  placeholder="Please Enter" id="txt_max_allowed_time_in_minute" name="txt_max_allowed_time_in_minute" ng-model="edt.sims_survey_max_allowed_time_in_minute" />
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-6 m-b-15" ng-hide="true">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <label id="lbl_no_of_question_to_attempt" for="txt_no_of_question_to_attempt" class="form-label"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"No of Question to Attempt"|translate}}</label>
                                                </div>
                                                <div class="col-md-12">
                                                    <input type="text" class="k-textbox input-sm full-width" placeholder="Please Enter" id="txt_no_of_question_to_attempt"  name="txt_no_of_question_to_attempt" ng-model="edt.sims_survey_no_of_question_to_attempt" />
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-6 m-b-15">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <label id="lbl_no_of_question_available" for="txt_no_of_question_available" class="form-label"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"No of Question Available"|translate}}</label>
                                                </div>
                                                <div class="col-md-12">
                                                    <input type="text" class="k-textbox input-sm full-width" placeholder="Please Enter" id="txt_no_of_question_available"  name="txt_no_of_question_available" ng-model="edt.sims_survey_no_of_question_available" />
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-6 m-b-15" ng-hide="true">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <div class="row-fluid">
                                                        <div class="checkbox check-success">
                                                            <input id="chk_annonimity_flag" name="chk_annonimity_flag" class="k-checkbox" type="checkbox" ng-model="edt.sims_survey_annonimity_flag">
                                                            <label for="chk_annonimity_flag"><i class="fa fa-flag"></i>&nbsp;{{"Annonimity Flag" |translate}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 m-b-15" ng-hide="true">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <div class="row-fluid">
                                                        <div class="checkbox check-success">
                                                            <input id="chk_ppn_flag" name="chk_ppn_flag" class="k-checkbox" type="checkbox" ng-model="edt.sims_survey_ppn_flag">
                                                            <label for="chk_ppn_flag"><i class="fa fa-flag-checkered"></i>&nbsp;{{"PPN Flag" |translate}}</label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-6 m-b-15" ng-hide="true">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <div class="row-fluid">
                                                        <div class="checkbox check-success">
                                                            <input id="chk_erp_flag" class="k-checkbox" type="checkbox" ng-model="edt.sims_survey_erp_flag">
                                                            <label for="chk_erp_flag"><i class="fa fa-flag-checkered"></i>&nbsp;{{"ERP Flag" |translate}}</label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-6 m-b-15">
                                            <div class="row form-row ">
                                                <div class="col-md-12">
                                                    <div class="row-fluid">
                                                        <div class="checkbox check-success">
                                                            <input id="chk_multiple_attempt_flag" class="k-checkbox" type="checkbox" ng-model="edt.sims_survey_multiple_attempt_flag">
                                                            <label for="chk_multiple_attempt_flag"><i class="fa fa-flag-checkered"></i>&nbsp;{{"Multiple attempt Flag" |translate}}</label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-6 m-b-15" ng-hide="true">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <div class="row-fluid">
                                                        <div class="checkbox check-success">
                                                            <input id="chk_end_of_survey_remark_flag" class="k-checkbox" type="checkbox" ng-model="edt.sims_survey_end_of_survey_remark_flag">
                                                            <label for="chk_end_of_survey_remark_flag"><i class="fa fa-bookmark"></i>&nbsp;{{"End of Survey Remark" |translate}}</label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-6 m-b-15" ng-hide="true">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <div class="row-fluid">
                                                        <div class="checkbox check-success">
                                                            <input id="chk_end_of_survey_suggestion_flag" class="k-checkbox" type="checkbox" ng-model="edt.sims_survey_end_of_survey_suggestion_flag">
                                                            <label for="chk_end_of_survey_suggestion_flag"><i class="fa fa-align-justify"></i>&nbsp;{{"End of Survey Suggestion" |translate}}</label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>


                                        <div class="col-md-6 m-b-15" ng-hide="true">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <div class="row-fluid">
                                                        <div class="checkbox check-success">
                                                            <input id="chk_end_of_survey_rating_flag" class="k-checkbox" type="checkbox" ng-model="edt.sims_survey_end_of_survey_rating_flag">
                                                            <label for="chk_end_of_survey_rating_flag"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"End of Survey Rating" |translate}}</label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-6 m-b-15">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <div class="row-fluid"> <label >&nbsp;</label>
                                                        <div class="checkbox check-success" ng-show="false">
                                                            <input id="chk_survey_status" class="k-checkbox" type="checkbox" ng-model="edt.sims_survey_status">
                                                            <label for="chk_survey_status"><i class="fa fa-bookmark"></i>&nbsp;{{"Survey Status" |translate}}</label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-6 m-b-15">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <div class="row-fluid">
                                                        <div class="checkbox check-success">
                                                            <input id="chk_gender" class="k-checkbox" type="checkbox" ng-model="edt.sims_chkgender">
                                                            <label for="chk_gender"><i class="fa fa-male"></i>&nbsp;<i class="fa fa-female"></i>&nbsp;{{"Specify For Gender" |translate}}</label>
                                                        </div>


                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-6 m-b-15">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <div class="row-fluid">
                                                        <div class="radio radio-success">
                                                            <input id="chk_male" type="radio" name="optionGender" value="M" ng-model="edt.sims_survey_gender_code" ng-click="get_msgtypechecked(edt.sims_survey_gender_code)">
                                                            <label for="chk_male">{{"Male" |translate}}&nbsp;</label>
                                                            <input id="chk_female" type="radio" name="optionGender" value="F" ng-model="edt.sims_survey_gender_code" ng-click="get_msgtypechecked(edt.sims_survey_gender_code)">
                                                            <label for="chk_female">{{"Female" |translate}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-12 m-b-15">
                                    <div class="row form-row">

                                        <div class="col-md-2">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <label><i class="fa fa-users"></i>&nbsp;{{ "Group Type" | translate }}</label>
                                                </div>


                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <select id="cmb_group" name="cmb_group" multiple="multiple" 
                                                ng-model="edt.sims_survey_user_group_code" ng-change="getGroupdetails(edt.sims_survey_user_group_code)">
                                                <option ng-repeat="j in group_data" value="{{j.user_grp_code}}">{{j.user_grp_name}}
                                                </option>
                                            </select>
                                        </div>

                                        <!-- <div class="col-md-2">
                                        <select id="Select3" name="Gender" class="form-control input-sm"
                                            ng-model="edt.sims_survey_gender_code"
                                            ng-options="item.gender_code as item.gender_desc for item in gender_data">
                                            <option value="">Select Gender</option>

                                        </select>
                                    </div>-->

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row m-b-15">
                            <div class="col-md-12" ng-show="div_staff">
                                <div class="row form-row">
                                    <div class="col-md-2">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <label><i class="fa fa-filter"></i>&nbsp;{{ "Select Filter" | translate }}</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <select id="cmb_dept" name="department" multiple="multiple" 
                                            ng-model="edt.sims_survey_dept_no" ng-change="GetEmployeeInfo()">
                                            <option ng-repeat="j in department"
                                                value="{{j.em_dept_code}}">{{j.em_dept_name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row m-b-15">
                            <div class="col-md-12" ng-show="div_parent">
                                <div class="row form-row">
                                    <div class="col-md-2">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <label><i class="fa fa-filter"></i>&nbsp;{{ "Select Filter" | translate }}</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <select id="cmb_acad" name="AcadYear" class="form-control input-sm" data-role="dropdownlist"
                                            ng-model="edt.sims_survey_acad_year"
                                            ng-change="getGrade(edt.sims_survey_acad_year)"
                                            ng-options="item.grade_academic_year as item.grade_academic_year_desc for item in acadYr_data">
                                            <option value="">Select Academic Year</option>

                                        </select>
                                    </div>

                                    <div class="col-md-2">
                                        <select id="cmb_grade" name="Grade" multiple="multiple" ng-model="edt.sims_survey_grade_code"
                                            ng-change="getSection(edt.sims_survey_acad_year,edt.sims_survey_grade_code)">
                                            <option ng-repeat="i in grade" value="{{i.sims_grade_code}}">{{i.sims_grade_name}}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="col-md-2">
                                        <select id="cmb_section" name="Section"  multiple="multiple"
                                            ng-model="edt.sims_survey_section_code">
                                            <option ng-repeat="j in section"
                                                value="{{j.grade_section_code}}">{{j.grade_section_name}}
                                            </option>
                                        </select>
                                    </div>






                                </div>
                            </div>
                        </div>


                        <div class="form-actions">
                            <div class="pull-right ">
                                <button class="btn btn-primary btn-cons btn-small" type="submit" ng-show="save1">{{ "Save" | translate }}</button>
                                <button class="btn btn-primary btn-cons btn-small" type="submit" ng-show="update1">{{ "Update" | translate }}</button>
                                <button class="btn btn-danger btn-cons btn-small" type="button" ng-click="cancel()">{{ "Cancel" | translate }}</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div ng-show="dis1">
                    <div class="row form-row">
                        <div class="col-md-6">
                            <div class="pull-left">
                                <!--<select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                                    <option value="{{x.val}}" class="form-control input-sm" ng-repeat="x in countData">{{x.data}}
                                    </option>
                                </select>-->
                                 <select id="Select12" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="10" class="form-control input-sm">
                                10
                            </option>

                            <option value="20" class="form-control input-sm">
                                20
                            </option>

                            <option value="All" class="form-control input-sm">
                                All
                            </option>
                        </select>

                            </div>
                            &nbsp;
                            <button class="btn btn-success btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{ "New" | translate }}</button>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" data-role="dropdownlist" ng-model="searchText" placeholder="Survey Code/ Survey Type/Survey Subject" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                        </div>
                    </div>



                 <!--   <div id="example_wrapper" class="dataTables_wrapper form-inline">-->
                        <!--<div style="width: 100%; height: 270px; overflow-x: auto; overflow-y: auto">-->
                        <div class="row">
                            <div class="col-md-12"style="margin-top:-19px;">
                                <table class="table table-hover table-bordered table-condensed" id="fixTable" style="border: 1px solid #dddddd;">
                                    <thead>
                                        <tr style="background-color: #edefef">

                                            <th ng-click="sortBy('sims_survey_code')"style="width:8%;"><i class="fa fa-dashboard"></i>&nbsp;{{"Survey Code"| translate }}
                                     <span class="sortorder" ng-show="propertyName === 'sims_survey_code'" ng-class="{reverse: reverse}"></span>
                                            </th>

                                            <th ng-click="sortBy('survey_type_name')"style="width:7%;"><i class="fa fa-bookmark-o"></i>&nbsp;{{"Survey Type"| translate }}
                                     <span class="sortorder" ng-show="propertyName === 'survey_type_name'" ng-class="{reverse: reverse}"></span>
                                            </th>

                                            <th ng-click="sortBy('sims_survey_subject')"><i class="fa fa-pencil-square-o"></i>&nbsp;{{"Survey Subject"| translate }}
                                     <span class="sortorder" ng-show="propertyName === 'sims_survey_subject'" ng-class="{reverse: reverse}"></span>
                                            </th>

                                            <th ng-click="sortBy('sims_survey_desc_en')"><i class="fa fa-align-justify"></i>&nbsp;{{"Description. in English"| translate }}
                                     <span class="sortorder" ng-show="propertyName === 'sims_survey_desc_en'" ng-class="{reverse: reverse}"></span>
                                            </th>

                                            <th ng-click="sortBy('sims_survey_start_date')"style="width:10%;"><i class="fa fa-calendar"></i>&nbsp;{{"Survey Start Date"| translate }}
                                     <span class="sortorder" ng-show="propertyName === 'sims_survey_start_date'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th ng-click="sortBy('sims_survey_end_date')"style="width:9%;"><i class="fa fa-calendar"></i>&nbsp;{{"Survey End Date"| translate }}
                                     <span class="sortorder" ng-show="propertyName === 'sims_survey_end_date'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th ng-click="sortBy('sims_survey_no_of_question_to_attempt')"style="width:11%;"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"No of que to attempt"| translate }}
                                     <span class="sortorder" ng-show="propertyName === 'sims_survey_no_of_question_to_attempt'" ng-class="{reverse: reverse}"></span>
                                            </th >
                                            <th ng-click="sortBy('sims_survey_no_of_question_available')"style="width:10%;"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"No of que Available"| translate }}
                                     <span class="sortorder" ng-show="propertyName === 'sims_survey_no_of_question_available'" ng-class="{reverse: reverse}"></span>
                                            </th>

                                            <th style="width:8%;">
                                                <span><i class="fa fa-bookmark"></i>&nbsp;{{"Survey Status"|translate}}</span>
                                            </th>
                                            <th class="small-cell v-align-middle"><b>{{"Action"|translate}}</b></th>


                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr ng-repeat="info in filteredTodos | orderBy:propertyName:reverse" ng-class="row1" ng-dblclick="edit(info)">


                                            <td>{{info.sims_survey_code}}
                                            </td>
                                            <td>{{info.survey_type_name}}
                                            </td>

                                            <td>{{info.sims_survey_subject}}
                                            </td>

                                            <td>{{info.sims_survey_desc_en}}
                                            </td>
                                            <td>{{info.sims_survey_start_date}}
                                            </td>
                                            <td>{{info.sims_survey_end_date}}
                                            </td>
                                            <td>{{info.sims_survey_no_of_question_to_attempt}}
                                            </td>
                                            <td>{{info.sims_survey_no_of_question_available}}
                                            </td>
                                            <!--<td class="v-align-middle">
                                        <span class="label label-success" ng-if="info.sims_survey_status==true">Active</span>
                                        <span class="label label-important" ng-if="info.sims_survey_status==false">In active</span>
                                    </td>-->

                                            <td >
                                               <!-- <label class="switch switch-green">
                                                    <input type="checkbox" class="switch-input" checked ng-model="info.sims_survey_status" ng-change="getSurveyStatusChange(info.sims_survey_code,info.sims_survey_status)">
                                                    <span class="switch-label" data-on="ON" data-off="OFF"></span>
                                                    <span class="switch-handle"></span>
                                                </label>-->

                                                           <span ng-if="info.status">
                                                                <select id="cmb_survey_status" name="cmb_survey_status" data-role="dropdownlist" class="form-control input-sm"
                                                                    ng-model="info.sims_survey_status"  style="width:100px" 
                                                                    ng-options="item.survey_status_code as item.survey_status for item in status_data">
                                                                    <option value="">Select Account No</option>
                                                                </select>
                                                               
                                                            </span>
                                                            <span ng-if="!info.status">
                                                                {{info.sims_survey_status_desc}}
                                                            </span>


                                            </td>

                                               <td>
                                                        <a href="">
                                                            <i class="fa fa-edit" ng-show="!info.status" ng-click="edit1(info)"></i> &nbsp;
                                                            <i class="fa fa-floppy-o" ng-hide="!info.status" ng-click="update1(info)"></i> &nbsp;
                                                            <i class="fa fa-times" ng-hide="!info.status" ng-click="cancel1(info)"></i>

                                                        </a>
                                                    </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                  <!--  </div>-->

                    <div class="row" ng-show="pager">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                    scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                    paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                    ng-click="index(currentPage)">
                                  </paging>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="assets/js/tableHeadFixer.js"></script>

<script src="assets/js/calender-datepicker-id.js"></script>
