﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3>{{"Survey Questions Mapping"|translate}}<span class="semi-bold"></span></h3>
            </div>

            <div class="grid-body no-border">
                <div class="row">
                    <div class="col-md-12">

                        <div class="col-md-3" ng-class="{'has-error': !Myform.quetype.$valid && (Myform.quetype.$touched || Myform.$submitted)}">
                            <label>{{"Survey Type" |translate}}<span style="color: red">*</span></label>
                            <select id="Select4" data-role="dropdownlist" class="form-control" name="quetype" ng-change="GetSurveyDetails()" ng-model="temp.sims_survey_code">
                                <option value="" selected disabled>Please Select</option>
                                <option class="form-control input-sm" ng-repeat="survey in survey_type" value="{{survey.sims_survey_code}}">{{survey.sims_survey_desc_en}}</option>
                            </select>

                        </div>

                        <div class="pull-right">
                            <label>&nbsp;</label>
                            <button type="button" class="btn btn-primary btn-cons" ng-click="SelectQuestionsFormshow()">{{"Select Question"|translate}}</button>
                            <button type="button" class="btn btn-primary btn-cons" ng-click="AddnewQuestionsFormshow()">{{"Add New Question"|translate}}</button>
                        </div>

                    </div>

                    <div class="col-md-12" ng-show="survey_detail_table">
                        <br />
                        <div id="example_wrapper" class="dataTables_wrapper form-inline">
                            <div style="width: 100%; height: auto; overflow-x: auto; overflow-y: auto">
                                <table class="table table-bordered  table-condensed" id="fixTable3">
                                    <thead>
                                        <tr>
                                            <th class="semi-bold">{{"Survey Subject"| translate }}</th>
                                            <th class="semi-bold">{{"Department Name"| translate }}</th>
                                            <th class="semi-bold">{{"User Group Name"| translate }} </th>
                                            <th class="semi-bold">{{"Survey Start Date"| translate }}  </th>
                                            <th class="semi-bold">{{"Survey End Date"| translate }}  </th>

                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="obj in survey_details" ><!--ng-dblclick="GetsurveyQuestionsdetails(obj)"  ng-style="{'background-color':obj.row_color}"   --->
                                            <td style="width:15%"> {{obj.sims_survey_subject}}    </td>
                                            <td style="width:50%"> {{obj.codp_dept_name}}         </td>
                                            <td style="width:15%"> {{obj.comn_user_group_name}}   </td>
                                            <td style="width:10%"> {{obj.sims_survey_start_date}} </td>
                                            <td style="width:10%"> {{obj.sims_survey_end_date}}   </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12" ng-show="survey_questions_table">

                        <div id="example_wrapper" class="dataTables_wrapper form-inline">
                            <div style="width: 100%; height: 350px; overflow-x: auto; overflow-y: auto">
                                <table class="table table-bordered  table-condensed" id="fixTable">
                                    <thead>
                                        <tr>
                                            <th class="semi-bold">Sr.No</th>
                                            <th class="semi-bold">{{"Survey Question Description(English)"| translate }}</th>
                                             <th class="semi-bold">{{"Survey Question Description(Arabic)"| translate }}</th>
                                            <th class="semi-bold">{{"Question Display Order"| translate }}</th>
                                            <th class="semi-bold" style="z-index:1">{{"Question Skip Flag"| translate }}</th>
                                            <th class="semi-bold" style="z-index:1">{{"Question  Status"| translate }}</th>


                                            <th class="semi-bold">
                                                &nbsp;
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="obj in Survey_Questions_Details" ng-dblclick="UpdateQuestionBankFun(obj)">
                                            <td>Q: {{$index+1}}</td>
                                            <td>{{obj.sims_survey_question_desc_en}}</td>
                                            <td>{{obj.sims_survey_question_desc_ot}}</td>
                                            <td>
                                                <input class="k-textbox" style="width:50px"  ng-model="obj.sims_survey_question_display_order"/>
                                            </td>
                                            <td>

                                                <div class="checkbox check-success" style="height:20px">
                                                    <input type="checkbox" name="check" value="1" id="skip_flag_{{obj.sims_survey_question_code}}" ng-model="obj.sims_survey_question_skip_flag" />
                                                    <label for="skip_flag_{{obj.sims_survey_question_code}}"></label>
                                                </div>
                                            </td>
                                            <td>

                                                <div class="checkbox check-success" style="height:20px">
                                                    <input type="checkbox" name="check" value="1" id="question_status_{{obj.sims_survey_question_code}}" ng-model="obj.sims_survey_question_status" />
                                                    <label for="question_status_{{obj.sims_survey_question_code}}"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <button type="button" style="line-height:0px !important ;width:30px;height:22px" class="btn btn-primary btn-small" ng-click="removequestions(obj,Survey_Questions_Details,$index)"><b>X</b></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    
                    
                        <div class="pull-right">
                            <label>&nbsp;</label>
                            <!--<button type="button" class="btn btn-primary btn-cons" ng-click="UpdatenewQuestionstoQuestionnaire_Click()">{{"Update"|translate}}</button>-->
                            <button type="button" class="btn btn-primary btn-cons" ng-click="AddnewQuestionstoQuestionnaire_Click()">{{"Submit"|translate}}</button>
                        </div>

                    </div>
               
                 </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="MyModal" role="dialog" style="display: none">
    <div class="modal-dialog" style="height: auto; width: 1200px; border-color: #4e8ff6; border-style: solid; border-width: 04px; padding-bottom: -15px; border-top-left-radius: 14px; border-top-right-radius: 14px; border-bottom-left-radius: 08px; border-bottom-right-radius: 08px">
        <div class="modal-content">
            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px"><b>{{"Select Questions"|translate}}</b></h4>
                </div>
                <div class="pull-right">
                    <a href="">
                        <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>
                    </a>
                </div>
            </div>
            <div style="background-color: #4e8ff6; height: 20px"></div>
            <div class="grid simple">
                <div class="grid-body no-border" style="margin-bottom: -22px">
                     
                    <div class="row">
                        <div class="col-md-12">
                           
                                <div class="col-md-3">
                                    <div class="row form-row">

                                        <div class="col-md-12">
                                            <div class="row form-row">
                                                <label>{{"Question Type"|translate}}:&nbsp;&nbsp;<span class="semi-bold">{{edt.std_fee_type}}</span></label>
                                                <select id="Select4" data-role="dropdownlist" class="form-control" name="quetype" ng-model="temp.sims_survey_question_type">
                                                    <option value="" selected disabled>Please Select</option>
                                                    <option class="form-control input-sm" ng-repeat="ques in ques_data" value="{{ques.sims_survey_question_type}}">{{ques.sims_survey_question_type_name}}</option>
                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            <div class="col-md-3">

                                <label>{{"Question Difficulty Level"|translate}}</label>

                                <select id="Select4" data-role="dropdownlist" class="form-control" ng-model="temp.sims_survey_question_difficulty_level">
                                    <option value="" selected disabled>Please Select</option>
                                    <option class="form-control input-sm" ng-repeat="ques in question_difficalty" value="{{ques.sims_survey_question_difficulty_level}}">{{ques.sims_survey_question_difficulty_level_name}}</option>
                                </select>
                            </div>

                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <div class="row form-row">
                                                <label>&nbsp;</label>
                                                <button class="btn btn-primary btn-cons" type="button" ng-click="getquestiosbyquestiontype()">{{"Show"|translate}}</button>
                                                <button class="btn btn-primary btn-cons" type="button" ng-click="Reset()">{{"Reset"|translate}}</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                        </div>
                        <div class="row" ng-show="busy">
                            <div class="col-md-12">
                                <div class="row form-row">
                                    <div class="col-md-5">
                                    </div>
                                    <div class="col-md-2">
                                        <img src="assets/images/loading.gif" />
                                    </div>
                                    <div class="col-md-5">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" ng-show="survey_questions_for_select">
                            
                            <div class="row form-row">
                                <div id="Div3" class="dataTables_wrapper form-inline">


                                    <div style="width: 100%; height: 250px; overflow-x: auto; overflow-y: auto">
                                        <table class="table table-bordered  table-condensed" id="fixTable1">
                                            <thead>
                                                <tr>
                                                    <th>Sr.NO</th>
                                                    <th class="semi-bold">{{"Survey Question Description"| translate }}</th>
                                                    <th class="semi-bold" style="z-index:1">
                                                        <div class="checkbox check-success" style="height:20px">
                                                            <input type="checkbox" name="check" value="1" id="assignment_Email" ng-model="maincheck" ng-click="CheckAllChecked(maincheck)" />
                                                            <label for="assignment_Email"></label>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                <tr ng-repeat="obj in getSurveyQuestionOntype">
                                                    <td>Q: {{$index+1}}</td>
                                                    <td>{{obj.sims_survey_question_desc_en}}</td>
                                                    <td>
                                                        <div class="checkbox check-success" style="height:20px">
                                                            <input type="checkbox" name="check" value="1" id="{{obj.sims_survey_question_code}}" ng-model="obj.ischecked" />
                                                            <label for="{{obj.sims_survey_question_code}}"></label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border-bottom-left-radius: 08px !important; border-bottom-right-radius: 08px !important">
                <button class="btn btn-primary btn-small" data-dismiss="modal" type="button" ng-click="btn_Addselectquestions_update_Click()">{{"Update"|translate}}</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="MyModal1" role="dialog" style="display: none">
    <div class="modal-dialog" style="height: auto; width: 1200px; border-color: #4e8ff6; border-style: solid; border-width: 04px; padding-bottom: -15px; border-top-left-radius: 14px; border-top-right-radius: 14px; border-bottom-left-radius: 08px; border-bottom-right-radius: 08px">
        <div class="modal-content">
            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px"><b>{{"Add New Questions"|translate}}</b></h4>
                </div>
                <div class="pull-right">
                    <a href="">
                        <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>
                    </a>
                </div>
            </div>
            <div style="background-color: #4e8ff6; height: 20px"></div>
            <div class="grid simple">
                <div class="grid-body no-border" style="margin-bottom: -22px">

                    <div class="row">
                        <div class="col-md-12">
                            
                            <form name="Myform" ng-submit="Save(Myform.$valid)" novalidate="novalidate">
                                <div class="row form-row">

                                    <!--1ST ROW-->
                                    <div class="col-md-3" ng-class="{'has-error': !Myform.quetype.$valid && (Myform.quetype.$touched || Myform.$submitted)}">
                                        <label>{{"Question Type" |translate}}<span style="color: red">*</span></label>
                                        <select id="Select4" data-role="dropdownlist" class="form-control" name="quetype" ng-model="temp.sims_survey_question_type" ng-change="queschange(temp)" required>
                                            <option value="" selected disabled>Please Select</option>
                                            <option class="form-control input-sm" ng-repeat="ques in ques_data" value="{{ques.sims_survey_question_type}}">{{ques.sims_survey_question_type_name}}</option>
                                        </select>
                                        <p class="help-block" ng-show="Myform.quetype.$error.required &&  (Myform.quetype.$touched || Myform.$submitted)">
                                            This field is required
                                        </p>
                                     
                                        <label>{{"Question Difficulty Level"|translate}}</label>
                                        
                                        <select id="Select4" data-role="dropdownlist" class="form-control"  ng-model="temp.sims_survey_question_difficulty_level">
                                            <option value="" selected disabled>Please Select</option>
                                            <option class="form-control input-sm" ng-repeat="ques in question_difficalty" value="{{ques.sims_survey_question_difficulty_level}}">{{ques.sims_survey_question_difficulty_level_name}}</option>
                                        </select>

                                        <label>{{"Question Weightage"|translate}}</label>
                                        <input ng-model="temp.sims_survey_question_weightage" class="k-textbox input-sm full-width" />
                                    </div>
                                    <div class="col-md-9">
                                    <div class="col-md-9" ng-class="{'has-error': !Myform.ques.$valid && (Myform.ques.$touched || Myform.$submitted)}">
                                        <label>{{ "Question(English)" | translate }}<span style="color: red">*</span></label>
                                        <textarea style="width:100%" name="ques" rows="7" id="Text1" placeholder="Type Question Here..." class="k-textbox input-sm" ng-model="temp.sims_survey_question_desc_en" required></textarea>
                                        <p class="help-block" ng-show="Myform.ques.$error.required &&  (Myform.ques.$touched || Myform.$submitted)">
                                            This field is required
                                        </p>
                                        </div>
                                         <div class="col-md-9" ng-class="{'has-error': !Myform.ques.$valid && (Myform.ques.$touched || Myform.$submitted)}">
                                        <label>{{ "Question(Arabic)" | translate }}<span style="color: red">*</span></label>
                                        <textarea style="width:100%" name="ques" rows="7" id="Textarea2" placeholder="Type Question Here..." class="k-textbox input-sm" ng-model="temp.sims_survey_question_desc_ot" required></textarea>
                                        <p class="help-block" ng-show="Myform.ques.$error.required &&  (Myform.ques.$touched || Myform.$submitted)">
                                            This field is required
                                        </p>
                                    </div>
                                    
                                        </div>
                                    
                                    <div class="col-md-12" ng-show="ansname">
                                        <label style="background-color:#0090d9; color:white; padding-left:2px;" class="semi-bold">{{"Answers" |translate}}</label>
                                    </div>

                                    <div class="row" ng-show="ans">
                                            <div class="col-md-6">
                                            <label>{{ "Answer/Option" | translate }}</label>
                                            <input type="text" style="width:100%" id="Textarea1" placeholder="Type Answer Here..." class="k-textbox input-sm" ng-model="temp.sims_survey_question_answer_desc_en" ng-keydown="objective_ans($event)"></input>
                                        </div>

                                        <div class="col-md-1" style="padding-top:23px;">
                                            <button class="btn btn-primary btn-small" style="height: 30px" type="button" ng-show="save_btn" ng-click="AddAnswers()"><span class="semi-bold"></span>{{"Add"| translate }}</button>
                                        </div>

                                    </div>

                                    <div ng-show="anstable">
                                        <label class="semi-bold">{{"Answers/Options" |translate}}</label>
                                        <div class="row">
                                            <div class="col-md-12 margin-top">
                                                <table class="table table-bordered table-hover" id="Table6">
                                                    <thead style="background-color: white">
                                                        <tr style="background-color: #edefef">
                                                            <th>{{"Sr No"| translate}}</th>
                                                            <th style="z-index:1">{{"SELECT CORRECT ANSWERS"| translate}}</th>
                                                            <th>{{"ANSWERS"| translate}}</th>
                                                            <th>{{"REMOVE"| translate}}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                    <tr ng-repeat="ans in Answerdata">
                                                        <td style="width: 50px;">{{$index+1}}</td>
                                                        <td style="width: 140px;">
                                                            <div class="row-fluid">
                                                                <div class="checkbox check-success" style="height: 20px;">
                                                                    <input id="{{ans.sims_survey_question_answer_desc_en+$index}}" type="checkbox" value="1" ng-click="checkonebyone()">
                                                                    <label for="{{ans.sims_survey_question_answer_desc_en+$index}}"></label>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>{{ans.sims_survey_question_answer_desc_en}}</td>
                                                        <td style="width: 70px;"><span class="semi-bold"><a href="" ng-click="RemoveAnswer($event,$index,Answerdata)">X</a></span>  </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row" ng-show="ans1">
                                        <div class="col-md-4">
                                            <label>{{ "Rating Group" | translate }}</label>
                                            <select id="Select1" data-role="dropdownlist" class="form-control" name="user" ng-model="temp.sims_survey_rating_group_code" ng-change="ratechange(temp)">
                                                <option value="" selected disabled>Please Select</option>
                                                <option class="form-control input-sm" ng-repeat="rate in rate_data" value="{{rate.sims_survey_rating_group_code}}">{{rate.sims_survey_rating_group_desc_en}}</option>
                                            </select>
                                        </div>
                                    </div>
                                  
                                      <div ng-show="anstable1">
                                        <label class="semi-bold">{{"Rating Details" |translate}}</label>
                                        <div class="row">
                                            <div class="col-md-12 margin-top">
                                                <table class="table table-bordered table-hover" id="Table1">
                                                    <thead style="background-color: white">
                                                        <tr style="background-color: #edefef">
                                                            <th>{{"Sr No"| translate}}</th>
                                                            <th>{{"RATING CODE"| translate}}</th>
                                                            <th>{{"RATING NAME"| translate}}</th>
                                                            <th>{{"DESCRIPTION"| translate}}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                    <tr ng-repeat="rt in Rating">
                                                        <td>{{$index+1}}</td>
                                                        <td>{{rt.sims_survey_rating_code}}</td>
                                                        <td>{{rt.sims_survey_rating_name}}</td>
                                                        <td>{{rt.sims_survey_rating_desc}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="pull-right" ng-show="ansname">
                                        <button type="submit" id="desigsub"   style="height: 30px" class="btn btn-primary btn-small">{{"Save"| translate }}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border-bottom-left-radius: 08px !important; border-bottom-right-radius: 08px !important">
                <button class="btn btn-primary btn-small" data-dismiss="modal" type="button" ng-click="btn_Addnewquestions_update_Click()">{{"Update"|translate}}</button>
                <button class="btn btn-primary btn-small" data-dismiss="modal" type="button">{{"Cancel"|translate}}</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="Updatesurvey" role="dialog" style="display: none">
    <div class="modal-dialog" style="height: auto; width: 1200px; border-color: #4e8ff6; border-style: solid; border-width: 04px; padding-bottom: -15px; border-top-left-radius: 14px; border-top-right-radius: 14px; border-bottom-left-radius: 08px; border-bottom-right-radius: 08px">
        <div class="modal-content">
            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px"><b>{{"Add New Questions"|translate}}</b></h4>
                </div>
                <div class="pull-right">
                    <a href="">
                        <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>
                    </a>
                </div>
            </div>
            <div style="background-color: #4e8ff6; height: 20px"></div>
            <div class="grid simple">
                <div class="grid-body no-border" style="margin-bottom: -22px">

                    <div class="row">
                        <div class="col-md-12">
                            
                            <form name="Myform1" ng-submit="Save(Myform1.$valid)" novalidate="novalidate">
                                <div class="row form-row">

                                    <!--1ST ROW-->
                                    <div class="col-md-3" ng-class="{'has-error': !Myform1.quetype.$valid && (Myform1.quetype.$touched || Myform1.$submitted)}">
                                        <label>{{"Question Type" |translate}}<span style="color: red">*</span></label>
                                        <select id="Select2" data-role="dropdownlist" class="form-control" name="quetype" ng-model="temp.sims_survey_question_type" ng-change="queschange(temp)" required>
                                            <option value="" selected disabled>Please Select</option>
                                            <option class="form-control input-sm" ng-repeat="ques in ques_data" value="{{ques.sims_survey_question_type}}">{{ques.sims_survey_question_type_name}}</option>
                                        </select>
                                        <p class="help-block" ng-show="Myform1.quetype.$error.required &&  (Myform1.quetype.$touched || Myform1.$submitted)">
                                            This field is required
                                        </p>
                                     
                                        <label>{{"Question Difficulty Level"|translate}}</label>
                                        
                                        <select id="Select3" data-role="dropdownlist" class="form-control"  ng-model="temp.sims_survey_question_difficulty_level">
                                            <option value="" selected disabled>Please Select</option>
                                            <option class="form-control input-sm" ng-repeat="ques in question_difficalty" value="{{ques.sims_survey_question_difficulty_level}}">{{ques.sims_survey_question_difficulty_level_name}}</option>
                                        </select>

                                        <label>{{"Question Weightage"|translate}}</label>
                                        <input ng-model="temp.sims_survey_question_weightage" class="k-textbox input-sm full-width" />
                                    </div>
                                    <div class="col-md-9">
                                    <div class="col-md-9" ng-class="{'has-error': !Myform1.ques.$valid && (Myform1.ques.$touched || Myform1.$submitted)}">
                                        <label>{{ "Question(English)" | translate }}<span style="color: red">*</span></label>
                                        <textarea style="width:100%" name="ques" rows="7" id="Textarea3" placeholder="Type Question Here..." class="k-textbox input-sm" ng-model="temp.sims_survey_question_desc_en" required></textarea>
                                        <p class="help-block" ng-show="Myform1.ques.$error.required &&  (Myform1.ques.$touched || Myform1.$submitted)">
                                            This field is required
                                        </p>
                                        </div>
                                         <div class="col-md-9" ng-class="{'has-error': !Myform1.quesAr.$valid && (Myform1.quesAr.$touched || Myform1.$submitted)}">
                                        <label>{{ "Question(Arabic)" | translate }}<span style="color: red">*</span></label>
                                        <textarea style="width:100%" name="quesAr" rows="7" id="Textarea4" placeholder="Type Question Here..." class="k-textbox input-sm" ng-model="temp.sims_survey_question_desc_ot" required></textarea>
                                        <p class="help-block" ng-show="Myform1.quesAr.$error.required &&  (Myform1.quesAr.$touched || Myform1.$submitted)">
                                            This field is required
                                        </p>
                                    </div>
                                    
                                        </div>
                                    
                                    <div class="col-md-12" >
                                        <label style="background-color:#0090d9; color:white; padding-left:2px;" class="semi-bold">{{"Answers" |translate}}</label>
                                    </div>

                                    <div class="row" >
                                            <div class="col-md-6">
                                            <label>{{ "Answer/Option" | translate }}</label>
                                            <input type="text" style="width:100%" id="Text2" placeholder="Type Answer Here..." class="k-textbox input-sm" ng-model="temp.sims_survey_question_answer_desc_en" ng-keydown="objective_ans($event)"></input>
                                        </div>

                                        <div class="col-md-1" style="padding-top:23px;">
                                            <button class="btn btn-primary btn-small" style="height: 30px" type="button" ng-show="save_btn" ng-click="AddAnswers()"><span class="semi-bold"></span>{{"Add"| translate }}</button>
                                        </div>

                                    </div>

                                    <div >
                                        <label class="semi-bold">{{"Answers/Options" |translate}}</label>
                                        <div class="row">
                                            <div class="col-md-12 margin-top">
                                                <table class="table table-bordered table-hover" id="Table2">
                                                    <thead style="background-color: white">
                                                        <tr style="background-color: #edefef">
                                                            <th>{{"Sr No"| translate}}</th>
                                                            <th style="z-index:1">{{"SELECT CORRECT ANSWERS"| translate}}</th>
                                                            <th>{{"ANSWERS"| translate}}</th>
                                                            <!--<th>{{"REMOVE"| translate}}</th>-->
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                    <tr ng-repeat="ans in Answerdata">
                                                        <td style="width: 50px;">{{$index+1}}</td>
                                                        <td style="width: 140px;">
                                                            <div class="row-fluid">
                                                                <div class="checkbox check-success" style="height: 20px;">
                                                                    <input id="chk_n{{ans.sims_survey_question_answer_desc_en+$index}}" type="checkbox" value="1" ng-model="ans.sims_survey_question_correct_answer_flag">
                                                                    <label for="chk_n{{ans.sims_survey_question_answer_desc_en+$index}}"></label>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>{{ans.sims_survey_question_answer_desc_en}}</td>
                                                        <!--<td style="width: 70px;"><span class="semi-bold"><a href="" ng-click="RemoveAnswer($event,$index,Answerdata)">X</a></span>  </td>-->
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border-bottom-left-radius: 08px !important; border-bottom-right-radius: 08px !important">
                <button class="btn btn-primary btn-small" data-dismiss="modal" type="button" ng-click="btn_Addnewquestions_update_ClickNew()">{{"Update"|translate}}</button>
                <button class="btn btn-primary btn-small" data-dismiss="modal" type="button">{{"Cancel"|translate}}</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="UploadImage" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" id="modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{"Upload image"|translate}}</h4>
            </div>
            <div>
                <img ng-src="{{edt.sims_student_image}}" src="{{prev_img}}" class="img" style="border: 2px Solid #CCCCCC; border-radius: 5px; width: 50px; height: 50px"
                     alt="" />
            </div>
            <div class="modal-body">
                <p>
                    <input type="file" id="file1" name="file" class="k-textbox input-sm full-width" ng-model="edt.sims_student_img" onchange="angular.element(this).scope().file_changed(this)"
                           ng-files="getTheFiles($files)" accept="image/*" required />
                </p>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Upload</button>-->
                <button class="btn btn-primary btn-small" type="submit" ng-click="UploadQustionImg();"><i class="icon-ok"></i>{{"Upload"| translate }}</button>
                <!--<button type="submit" class="btn btn-success btn-cons">{{"Upload" | translate }}</button>-->
                <button type="button" class="btn btn-danger btn-small" ng-click="closeUploadmodal()">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="UploadQUEANSImage" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" id="Div2">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{"Upload image"|translate}}</h4>
            </div>
            <div>
                <img ng-src="{{edt.sims_student_image}}" src="{{prev_img}}" class="img" style="border: 2px Solid #CCCCCC; border-radius: 5px; width: 50px; height: 50px"
                     alt="" />
            </div>
            <div class="modal-body">
                <p>
                    <input type="file" id="file2" name="file" class="k-textbox input-sm full-width" ng-model="edt.sims_student_img" onchange="angular.element(this).scope().file_changed(this)"
                           ng-files="getTheFiles($files)" accept="image/*" required />
                </p>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Upload</button>-->
                <button class="btn btn-primary btn-small" type="submit" ng-click="UploadQustionAnswerImg();"><i class="icon-ok"></i>{{"Upload"| translate }}</button>
                <!--<button type="submit" class="btn btn-success btn-cons">{{"Upload" | translate }}</button>-->
                <button type="button" class="btn btn-danger btn-small" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>