﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
               <h3><span class="semi-bold">{{"Survey" |translate}}</span>&nbsp;{{"Questions" | translate}}</h3>
            </div>
            
            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>


            <div class="grid-title no-border">
            </div>

            <div class="grid-body no-border">
                <form name="Myform" ng-submit="Save(Myform.$valid)" novalidate="novalidate">
                <div class="row form-row">                    
                                 
                    <!--1ST ROW-->                                        
                    <div class="col-md-3" ng-class="{'has-error': !Myform.quetype.$valid && (Myform.quetype.$touched || Myform.$submitted)}">
                           <label>{{"Question Type" |translate}}<span style="color: red">*</span></label>
                           <select id="Select4" data-role="dropdownlist" class="form-control" name="quetype" ng-model="temp.sims_survey_question_type" ng-change="queschange(temp)" required>
                               <option value="" selected disabled>Please Select</option>
                               <option class="form-control input-sm" ng-repeat="ques in ques_data" value="{{ques.sims_survey_question_type}}">{{ques.sims_survey_question_type_name}}</option>
                           </select> 
                           <p class="help-block" ng-show="Myform.quetype.$error.required &&  (Myform.quetype.$touched || Myform.$submitted)">
                                    This field is required
                           </p>                                                                             
                    </div>          
                    
                    <div class="col-md-9" ng-class="{'has-error': !Myform.ques.$valid && (Myform.ques.$touched || Myform.$submitted)}">
                          <label>{{ "Question" | translate }}<span style="color: red">*</span></label>
                          <textarea style="width:100%" name="ques" id="Text1" placeholder="Type Question Here..." class="k-textbox input-sm" ng-model="temp.sims_survey_question_desc_en" required></textarea>
                          <p class="help-block" ng-show="Myform.ques.$error.required &&  (Myform.ques.$touched || Myform.$submitted)">
                                    This field is required
                          </p> 
                    </div>         
                    
                    <div class="col-md-3" ng-class="{'has-error': !Myform.weight.$valid && (Myform.weight.$touched || Myform.$submitted)}">
                           <label>{{"Add Weightage" |translate}}<span style="color: red">*</span></label>
                           <select id="Select2" data-role="dropdownlist" class="form-control" name="weight" ng-model="temp.sims_survey_question_weightage" required>
                               <option value="" selected disabled>Please Select</option>
                               <option class="form-control input-sm" ng-repeat="ques in ques_data" value="{{ques.sims_survey_question_weightage}}">{{ques.sims_survey_question_weightage_name}}</option>
                           </select> 
                           <p class="help-block" ng-show="Myform.weight.$error.required &&  (Myform.weight.$touched || Myform.$submitted)">
                                    This field is required
                           </p>                                                                             
                    </div>                     
                        
                    <div class="col-md-3" ng-class="{'has-error': !Myform.difficult.$valid && (Myform.difficult.$touched || Myform.$submitted)}">
                           <label>{{"Difficulty Level" |translate}}<span style="color: red">*</span></label>
                           <select id="Select3" data-role="dropdownlist" class="form-control" name="difficult" ng-model="temp.sims_survey_question_difficulty_level" required>
                               <option value="" selected disabled>Please Select</option>
                               <option class="form-control input-sm" ng-repeat="ques in ques_data" value="{{ques.sims_survey_question_difficulty_level}}">{{ques.sims_survey_question_type_name}}</option>
                           </select> 
                           <p class="help-block" ng-show="Myform.difficult.$error.required &&  (Myform.difficult.$touched || Myform.$submitted)">
                                    This field is required
                           </p>                                                                             
                    </div>

                    <div class="col-md-12" ng-show="ansname">
                          <label style="background-color:#0090d9; color:white; padding-left:2px;" class="semi-bold">{{"Answers" |translate}}</label>                         
                    </div>

                    <div class="row" ng-show="ans">          
                    
                    <div class="col-md-6">
                          <label>{{ "Answer/Option" | translate }}</label>
                          <input type="text" style="width:100%" id="Textarea1" placeholder="Type Answer Here..." class="k-textbox input-sm" ng-model="temp.sims_survey_question_answer_desc_en" ng-keydown="objective_ans($event)"></input>
                    </div> 
                    
                    <div class="col-md-1" style="padding-top:23px;">
                        <button class="btn btn-primary btn-small" style="height: 30px" type="button" ng-show="save_btn" ng-click="AddAnswers()"><span class="semi-bold"></span>{{"Add"| translate }}</button>
                    </div>                    
                </div>
                           
                    <div ng-show="anstable">
                            <label class="semi-bold">{{"Answers/Options" |translate}}</label>
                            <div class="row">
                                <div class="col-md-12 margin-top">
                                <table class="table table-bordered table-hover" id="Table6">
                                    <thead style="background-color: white">
                                        <tr style="background-color: #edefef">
                                            <th>{{"Sr No"| translate}}</th>
                                            <th>{{"SELECT CORRECT ANSWERS"| translate}}</th>
                                            <th>{{"ANSWERS"| translate}}</th>
                                            <th>{{"REMOVE"| translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tr ng-repeat="ans in Answerdata">
                                        <td style="width: 50px;">{{$index+1}}</td>
                                        <td style="width: 140px;">
                                        <div class="row-fluid">
                                            <div class="checkbox check-success" style="height: 20px;">
                                                <input id="{{ans.sims_survey_question_answer_desc_en+$index}}" type="checkbox" value="1" ng-click="checkonebyone()">
                                                <label for="{{ans.sims_survey_question_answer_desc_en+$index}}"></label>
                                            </div>
                                        </div>
                                        </td>
                                        <td>{{ans.sims_survey_question_answer_desc_en}}</td>
                                        <td style="width: 70px;"><span class="semi-bold"><a href="" ng-click="RemoveAnswer($event,$index,Answerdata)">X</a></span>  </td>
                                    </tr>
                                </table>
                            </div>
                                </div>
                        </div>

                    <br/>            
                    <div class="row" ng-show="ans1">          
                    
                    <div class="col-md-4">
                          <label>{{ "Rating Group" | translate }}</label>
                          <select id="Select1" data-role="dropdownlist" class="form-control" name="user" ng-model="temp.sims_survey_rating_group_code" ng-change="ratechange(temp)">
                               <option value="" selected disabled>Please Select</option>
                               <option class="form-control input-sm" ng-repeat="rate in rate_data" value="{{rate.sims_survey_rating_group_code}}">{{rate.sims_survey_rating_group_desc_en}}</option>
                           </select>
                    </div>                    
                </div>

                    <div ng-show="anstable1">
                            <label class="semi-bold">{{"Rating Details" |translate}}</label>
                            <div class="row">
                                <div class="col-md-12 margin-top">
                                <table class="table table-bordered table-hover" id="Table1">
                                    <thead style="background-color: white">
                                        <tr style="background-color: #edefef">
                                            <th>{{"Sr No"| translate}}</th>
                                            <th>{{"RATING CODE"| translate}}</th>
                                            <th>{{"RATING NAME"| translate}}</th>
                                            <th>{{"DESCRIPTION"| translate}}</th>                                           
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tr ng-repeat="rt in Rating">
                                        <td>{{$index+1}}</td>                                        
                                        <td>{{rt.sims_survey_rating_code}}</td>
                                        <td>{{rt.sims_survey_rating_name}}</td>
                                        <td>{{rt.sims_survey_rating_desc}}</td>
                                    </tr>
                                </table>
                            </div>
                           </div>
                        </div>

                   <div class="pull-right">                           
                   <button type="button" id="desigsub" ng-click="Save(Myform.$valid)" style="height: 30px" class="btn btn-primary btn-small">{{"Save"| translate }}</button>                  
                   </div>                      
            </div>
                </form>
            </div>
            </div>
        </div>
   </div>

<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>

