﻿
<link href="assets/css/multiple-select.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Certificate" |translate}}</span>&nbsp;{{"TC Parameter" | translate}}</h3>
            </div>

            <div class="grid-body no-border">
            <form ng-submit="SaveData()" novalidate="novalidate">
                <div ng-show="display">
                    <!--1ST ROW-->
                    <div class="row">
                        
                            <div class="col-md-3">
                                <label for="DivCode">{{"Certificate No" | translate }}</label>
                                <select id="Select1" data-role="dropdownlist" class="form-control input-sm full-width" name="user"
                                        ng-model="edt.sims_certificate_number"
                                        ng-options="edt.sims_certificate_number as edt.sims_certificate_name for edt in certificate_data"></select>
                            </div>

                            <div class="col-md-3">
                                <label for="isbn">{{"Tc Date" | translate }}</label>
                                <input type="text" name="isbn" class="k-textbox input-sm full-width" ng-model="temp.tC_Date" maxlength="15" ng-readonly="divcode_readonly" />
                            </div>
                            <div class="col-md-3">
                                <label for="isbn">{{"Enroll No" | translate }}</label>
                                <input type="text" name="isbn" id="Text29" class="k-textbox input-sm full-width" ng-model="temp.sims_certificate_enroll_number" maxlength="6" />
                            </div>

                            <div class="col-md-3"><label>&nbsp;</label>
                              <div class="pull-right">
                            <button type="button" id="Button1" ng-show="search" ng-click="stud_details();" class="btn btn-primary btn-cons">{{"Search" | translate }}</button>
                            <button type="button" ng-show="reset" ng-click="reset();" class="btn btn-warning btn-cons">{{"Reset" | translate }}</button>
                            <button type="button" ng-show="tcdetails" class="btn btn-primary btn-cons" ng-click="tcdetails();">{{"TC Details"| translate }}</button>
                            </div>
                        </div>
                    </div>

                    <!--Row 2-->
                    <div class="row">
                            <div class="col-md-3">
                                <label for="isbn">{{"Name" | translate }}</label>
                                <input type="text" name="isbn" id="Text2" class="k-textbox input-sm full-width" ng-model="temp.stud_name" maxlength="50" ng-readonly="divcode_readonly" />
                            </div>

                            <div class="col-md-3">
                                <label for="DivCode">{{"Nationality" | translate }}</label>
                                <input type="text" name="bnn" id="Text30" class="k-textbox input-sm full-width" ng-model="temp.nationality" maxlength="50" ng-readonly="divcode_readonly" />
                            </div>

                            <div class="col-md-3">
                                <label for="DivCode">{{"Father name" | translate }}</label>
                                <input type="text" name="bnn" id="Text3" class="k-textbox input-sm full-width" ng-model="temp.father_name" maxlength="15" ng-readonly="divcode_readonly" />
                            </div>

                            <div class="col-md-3">
                                <label for="dewey">{{"Religion" | translate }}</label>
                                <input type="text" name="dewey" id="libname" class="k-textbox input-sm full-width" ng-model="temp.religion" maxlength="25" ng-readonly="divcode_readonly" />
                            </div>
                        </div>

                    <!--Row 3-->
                    <div class="row">
                            <div class="col-md-3">
                                <label for="title">{{"DOB" | translate }}</label>
                                <input type="text" name="title" class="k-textbox input-sm full-width" ng-model="temp.date_of_birth" maxlength="15" ng-readonly="divcode_readonly" />
                            </div>

                            <div class="col-md-3">
                                <label for="desc">{{"Date of Admission" | translate }}</label>
                                <input type="text" name="desc" class="k-textbox input-sm full-width" ng-model="temp.date_of_admission" ng-readonly="divcode_readonly" />
                            </div>
                            <div class="col-md-6">
                                <label for="desc">{{"DOB In Words" | translate }}</label>
                                <input type="text" name="desc" id="Text4" class="k-textbox input-sm full-width" ng-model="temp.dobw" ng-readonly="divcode_readonly" />
                            </div>

                        </div>

                    <!--Row 4-->
                    <div class="row">
                            <div class="col-md-3">
                                <label for="desc">{{"Present Class" | translate }}</label>
                                <input type="text" name="desc" id="Text7" class="k-textbox input-sm full-width" ng-model="temp.present_class" ng-readonly="divcode_readonly" />
                            </div>

                            <div class="col-md-3">
                                <label for="desc">{{"Section" | translate }}</label>
                                <input type="text" name="desc" id="Text8" class="k-textbox input-sm full-width" ng-model="temp.present_sec" ng-readonly="divcode_readonly" />
                            </div>

                            <div class="col-md-3">
                                <label for="desc">{{"Class to which He/She was admitted" | translate }}</label>
                                <input type="text" name="desc" id="Text9" class="k-textbox input-sm full-width" ng-model="temp.admitted_class" />
                            </div>
                        </div>

                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <label style="background-color:#0090d9; color:white; padding-left:2px;" class="semi-bold">{{"Result" | translate }}</label>
                            <!--<hr style="height:20px; border:none; color:#FF6600; background-color:#FF6600;">-->
                        </div>
                    </div>

                    <!--Row 5-->
                    <div class="row">
                            <div class="col-md-3">
                                <label id="Label10" for="txt_Status">{{"Result at the End of Academic Year"| translate }}</label>
                                <div class="checkbox check-success">
                                    <input id="chk_term2" type="checkbox" ng-model="temp.result_end_acad_yr">
                                    <label for="chk_term2"></label>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label for="desc">{{"Passed and Promoted to Class" | translate }}</label>
                                <input type="text" name="desc" id="Text10" class="k-textbox input-sm full-width" ng-model="temp.promoted_class" />
                            </div>

                            <div class="col-md-3">
                                <label for="desc">{{"For Academic Year" | translate }}</label>
                                <input type="text" name="desc" id="Text11" class="k-textbox input-sm full-width" ng-model="temp.promoted_acad_yr" maxlength="4" />
                            </div>

                            <div class="col-md-3">
                                <label for="DivCode">{{"Stream" | translate }}</label>
                                <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width" name="user"
                                        ng-model="edts.stream_code"
                                        ng-options="edts.stream_code as edts.stream for edts in stream_data"></select>
                            </div>

                        </div>

                    <!--Row 6-->
                    <div class="row">
                            <div class="col-md-6">
                                <label for="DivCode">{{"He/She Retest in following subjects" | translate }}</label>
                                <select id="cmb_Subjects" class="full-width" multiple="multiple" name="user" ng-model="temp.sims_certificate_subject_studied">
                                    <!--<option value="" selected disabled>Please Select</option>-->
                                    <option class="form-control input-sm" ng-repeat="temp in subject_studied" value="{{temp.sims_certificate_subject_studied}}">{{temp.sims_certificate_subject_studied_ar}}</option>
                                </select>
                            </div>

                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-5">
                                          <label for="desc">{{"Present Days" | translate }}</label>
                                <input type="text" name="desc" id="Text12" class="k-textbox input-sm full-width" ng-model="temp.present_days" maxlength="3" />
                                    </div>
                                    <div class="col-md-7">
                                         <label for="desc">{{"Out of Total Days" | translate }}</label>
                                <input type="text" name="desc" id="Text13" class="k-textbox input-sm full-width" ng-model="temp.total_days" maxlength="3" />
                                    </div>
                                </div>
                              
                            </div>


                            <div class="col-md-3">
                                <label for="desc">{{"Credits" | translate }}</label>
                                <input type="text" name="desc" id="Text14" class="k-textbox input-sm full-width" ng-model="temp.credits" />
                            </div>
                        </div>
                  
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <label style="background-color:#0090d9; color:white; padding-left:2px;" class="semi-bold">{{"Character and Conduct" | translate }}</label>

                        </div>
                    </div>
                    <!--Row 7-->
                    <div class="row">
                            <div class="col-md-6">
                                <label for="desc">{{"Character and Conduct" | translate }}</label>
                                <input type="text" name="desc" id="Text15" class="k-textbox input-sm full-width" ng-model="temp.sims_certificate_general_conduct" />
                            </div>

                            <div class="col-md-6">
                                <label for="desc">{{"Remarks" | translate }}</label>
                                <input type="text" name="desc" id="Text16" class="k-textbox input-sm full-width" ng-model="temp.sims_certificate_remark" />
                            </div>
                        </div>

                    <!--Row 8-->
                    <div class="row">
                            <div class="col-md-3">
                                <label for="desc">{{"Registrar" | translate }}</label>
                                <input type="text" name="desc" id="Text17" class="k-textbox input-sm full-width" ng-model="temp.registrar" />
                            </div>
                            <div class="col-md-3">
                                <label for="desc">{{"Principal" | translate }}</label>
                                <input type="text" name="desc" id="Text18" class="k-textbox input-sm full-width" ng-model="temp.principle" />
                            </div>

                            <div class="col-md-2">
                                <label for="desc">{{"Page No. Reg. Register" | translate }}</label>
                                <input type="text" name="desc" id="Text19" class="k-textbox input-sm full-width" ng-model="temp.sims_certificate_registration_register_no" />
                            </div>

                            <div class="col-md-2">
                                <label for="desc">{{"Sr No." | translate }}</label>
                                <input type="text" name="desc" id="Text20" class="k-textbox input-sm full-width" ng-model="temp.sims_certificate_registration_serial_no" />
                            </div>

                            <div class="col-md-2">
                                <label for="desc">{{"Page No. Result Register" | translate }}</label>
                                <input type="text" name="desc" id="Text24" class="k-textbox input-sm full-width" ng-model="temp.sims_certificate_result_register_no" />
                            </div>
                        </div>

                    <!--Row 9-->
                    <div class="row">
                            <div class="col-md-1">
                                <label for="desc">{{"Sr No." | translate }}</label>
                                <input type="text" name="desc" id="Text25" class="k-textbox input-sm full-width" ng-model="temp.sims_certificate_result_serial_no" />
                            </div>

                            <div class="col-md-2">
                                <label for="StartDate">{{"Date of Leaving" | translate }}</label>
                              
                                      <input type="text" id="date_of_leaving" placeholder="Select Date" name="creation_date" class="k-textbox input-sm full-width" ng-model="temp.sims_certificate_date_of_leaving">

                            </div>

                            <div class="col-md-3">
                                <label for="desc">{{"Reason of Leaving" | translate }}</label>
                                <input type="text" name="desc" id="Text22" class="k-textbox input-sm full-width" ng-model="temp.sims_certificate_reason_of_leaving" />
                            </div>

                            <div class="col-md-2">
                                <label for="desc">{{"Academic Progress" | translate }}</label>
                                <input type="text" name="desc" id="Text23" class="k-textbox input-sm full-width" ng-model="temp.sims_certificate_academic_progress" />
                            </div>

                            <div class="col-md-2">
                                <label id="Label1" for="txt_Status">{{"Fees Paid"| translate }}</label>
                                <div class="checkbox check-success">
                                    <input id="Checkbox1" type="checkbox" ng-model="temp.sims_certificate_fee_paid">
                                    <label for="Checkbox1"></label>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <label id="Label2" for="txt_Status">{{"Certificate Status"| translate }}</label>
                                <div class="checkbox check-success">
                                    <input id="Checkbox2" type="checkbox" ng-model="temp.sims_certificate_sc_st_status">
                                    <label for="Checkbox2"></label>
                                </div>
                            </div>

                        </div>
                     <div class="row">
                          <div class="col-md-12">
                    <div class="form-actions">
                        <div class="pull-right">
                            <button type="button" ng-show="Update_btn" ng-click="update();" class="btn btn-primary btn-cons">{{"Update" | translate }}</button>
                            <button type="submit" id="desigsub" ng-show="save_btn" class="btn btn-primary btn-cons">{{"Save" | translate }}</button>
                        </div>
                    </div>
                              </div>
                         </div>
                </div>
            </form>

        </div></div>
    </div>
</div>

<div class="modal fade in" id="myModal1" role="dialog" tabindex="-1" style="display: none;">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 1250px; height:500px;">
        <div class="modal-content" uib-modal-transclude="">

            <div class="modal-header ng-scope" style="height: 30px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px"><b>{{"Certificate Search" | translate }}</b></h4>
                </div>
            </div>

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="k-textbox input-sm"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="k-textbox input-sm"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="k-textbox input-sm"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="k-textbox input-sm"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="k-textbox input-sm"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="k-textbox input-sm"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="k-textbox input-sm"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="grid simple">
                <div class="grid-body no-border">
                    <br />


                    <div class="row" ng-show="certificate">
                        <div id="Div4" class="dataTables_wrapper form-inline">
                            <div style="width: 100%; height: 335px; overflow-x: auto; overflow-y: auto">
                                <table class="table table-bordered table-hover" id="fixTable" aria-describedby="example2_info">
                                    <thead style="background-color: white">
                                        <tr>
                                            <th class="small-cell v-align-middle" style="z-index:1;">
                                                <i class="fa fa-cogs"></i>
                                                <!--<div class="checkbox check-success">
                                                    <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                                    <label for="mainchk"></label>
                                                </div>-->
                                            </th>

                                            <th class="semi-bold">{{"CERTIFICATE NO" | translate }}</th>
                                            <th class="semi-bold">{{"ENROLL NO" | translate }}</th>
                                            <th class="semi-bold">{{"STUDENT NAME" | translate }}</th>
                                            <th class="semi-bold">{{"FATHER NAME" | translate }}</th>
                                            <th class="semi-bold">{{"RELIGION" | translate }}</th>
                                            <th class="semi-bold">{{"NATIONALITY" | translate }}</th>
                                            <th class="semi-bold">{{"DATE OF BIRTH" | translate }}</th>
                                            <th class="semi-bold">{{"DATE OF ADMISSION" | translate }}</th>
                                            <th class="semi-bold">{{"DATE OF LEAVING" | translate }}</th>
                                            <th class="semi-bold">{{"REASON OF LEAVING" | translate }}</th>
                                            <th class="semi-bold">{{"GENERAL CONDUCT" | translate }}</th>
                                            <th class="semi-bold">{{"ACADEMIC PROGRESS" | translate }}</th>
                                            <th class="semi-bold">{{"SUBJECT STUDIED" | translate }}</th>
                                            <th class="semi-bold">{{"CERTIFICATE REMARK" | translate }}</th>
                                            <th class="semi-bold">{{"ATTENDANCE REMARK" | translate }}</th>
                                            <th class="semi-bold">{{"QUALIFIED FOR PROMOTION" | translate }}</th>
                                            <th class="semi-bold">{{"DATE OF ISSUE" | translate }}</th>
                                            <th class="semi-bold">{{"FEES PAID" | translate }}</th>
                                            <th class="semi-bold">{{"CERTIFICATE STATUS" | translate }}</th>
                                            <th class="semi-bold">{{"REG REGISTRATION NO" | translate }}</th>
                                            <th class="semi-bold">{{"REG SERIAL NO" | translate }}</th>
                                            <th class="semi-bold">{{"RESULT SERIAL NO" | translate }}</th>

                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="info in filteredTodos">
                                            <td>
                                                <div class="row-fluid">
                                                    <div class="radio radio-success">
                                                        <input id="{{info.sims_certificate_number+$index}}" name="option" value="true" ng-model="info.isChanged" ng-click="checkonebyonedelete(info)" type="radio">
                                                        <label for="{{info.sims_certificate_number+$index}}"></label>
                                                    </div>
                                                    <!-- <div class="checkbox check-success" style="height: 20px">
                                                     <input id="{{$index}}" type="checkbox" value="1" ng-click="checkonebyonedelete()" ng-model="chkb">
                                                     <label for="{{$index}}"></label>
                                                     </div>-->
                                                </div>
                                            </td>
                                            <td>{{info.sims_certificate_number}}</td>
                                            <td>{{info.sims_certificate_enroll_number}}</td>
                                            <td>{{info.stud_name}}</td>
                                            <td>{{info.father_name}}</td>
                                            <td>{{info.religion}}</td>
                                            <td>{{info.nationality}}</td>
                                            <td>{{info.date_of_birth}}</td>
                                            <td>{{info.date_of_admission}}</td>
                                            <td>{{info.sims_certificate_date_of_leaving}}</td>
                                            <td>{{info.sims_certificate_reason_of_leaving}}</td>
                                            <td>{{info.sims_certificate_general_conduct}}</td>
                                            <td>{{info.sims_certificate_academic_progress}}</td>
                                            <td>{{info.sims_certificate_subject_studied_ar}}</td>
                                            <td>{{info.sims_certificate_remark}}</td>
                                            <td>{{info.sims_certificate_attendance_remark}}</td>
                                            <!--<td>{{info.sims_certificate_qualified_for_promotion}}</td>-->
                                            <td class="v-align-middle">
                                                <span ng-if="info.sims_certificate_qualified_for_promotion==true" class="label label-success">Active</span>
                                                <span ng-if="info.sims_certificate_qualified_for_promotion==false" class="label label-important">Inactive</span>
                                            </td>
                                            <td>{{info.sims_certificate_date_of_issue}}</td>
                                            <!--<td>{{info.sims_certificate_fee_paid}}</td>-->
                                            <td class="v-align-middle">
                                                <span ng-if="info.sims_certificate_fee_paid==true" class="label label-success">Active</span>
                                                <span ng-if="info.sims_certificate_fee_paid==false" class="label label-important">Inactive</span>
                                            </td>
                                            <!--<td>{{info.sims_certificate_sc_st_status}}</td>-->
                                            <td class="v-align-middle">
                                                <span ng-if="info.sims_certificate_sc_st_status==true" class="label label-success">Active</span>
                                                <span ng-if="info.sims_certificate_sc_st_status==false" class="label label-important">Inactive</span>
                                            </td>
                                            <td>{{info.sims_certificate_registration_register_no}}</td>
                                            <td>{{info.sims_certificate_registration_serial_no}}</td>
                                            <td>{{info.sims_certificate_result_serial_no}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">

                        <div class="col-md-1">
                            <select id="Select2" style="width: 60px" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                <option value="5" class=" k-textbox input-sm">
                                    5
                                </option>

                                <option value="10" class=" k-textbox input-sm">
                                    10
                                </option>

                                <option value="15" class=" k-textbox input-sm">
                                    15
                                </option>
                            </select>

                        </div>
                        <div class="col-md-3">
                            <div class="pull-right">
                                <div class="dataTables_filter" id="example_filter">
                                    <label>
                                        {{"Search"| translate }}:&nbsp;
                                        <!--<input type="text" aria-controls="example" ng-model="search.$" class="input-medium"></label>-->
                                        <input aria-controls="example" ng-model="searchText" class="input-medium" placeholder="Search" type="search" ng-change="search()" tabindex="1" autofocus="autofocus">
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="pull-right">

                            <button type="button" style="margin-top:8px;" ng-click="submit();" class="btn btn-primary btn-cons">{{"Submit" | translate }}</button>
                            <button type="button" class="btn btn-primary btn-cons" data-dismiss="modal" ng-click="Cancel()">{{"Cancel" | translate }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="myModal2" role="dialog" tabindex="-1" style="display: none;">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 1000px;">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px"><b>{{"Search Student" | translate }}</b></h4>
                </div>
            </div>

            <div class="grid simple">
                <div class="grid-body no-border">
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Curriculum" | translate }}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <select id="cmb_School_Code" data-role="dropdownlist" class="form-control input-sm full-width" name="user" ng-model="edt.s_cur_code">
                                                <option value="" selected disabled>Please Select</option>
                                                <option class="form-control input-sm" ng-repeat="cur in ComboBoxValues|filter:{sims_cur_full_name_en:''}" value="{{cur.sims_cur_code}} ">{{cur.sims_cur_full_name_en}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Academic Year" | translate }}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <select id="cmb_academic_year" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.sims_academic_year">
                                                <option value="" selected disabled>Please Select</option>
                                                <option class="form-control input-sm" ng-repeat="year in ComboBoxValues|filter:{sims_acadmic_year:''}" value="{{year.sims_acadmic_year}} ">{{year.sims_acadmic_year_desc}}</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Grade" | translate }}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <select id="cmb_grade_code" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.search_std_grade_name" ng-change="getsectioncode(edt.s_cur_code,edt.sims_academic_year,edt.search_std_grade_name)">
                                                <option value="" selected disabled>Please Select</option>
                                                <option class="form-control input-sm" ng-repeat="grade in ComboBoxValues|filter:{sims_grade_name:''}" value="{{grade.sims_grade_code}} ">{{grade.sims_grade_name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row form-row">

                                        <div class="col-md-12">
                                            <label>{{"Section" | translate }}</label>
                                        </div>
                                        <div class="col-md-12">

                                            <select id="Select24" class=" k-textbox input-sm" ng-model="edt.search_std_section_name">
                                                <option value="" selected disabled>Please select</option>
                                                <option class="form-control input-sm" ng-repeat="section in sections" value="{{section.sims_section_code}}" class=" k-textbox input-sm">
                                                    {{section.sims_section_name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="row form-row">

                                        <div class="col-md-12">
                                            <label>{{"Nationality" | translate }}</label>
                                        </div>
                                        <div class="col-md-12">

                                            <select id="Select35" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.sims_nationality_name_en">
                                                <option value="" selected disabled>Please Select</option>
                                                <option class="form-control input-sm" ng-repeat="section in ComboBoxValues|filter:{sims_nationality_name_en:''}" value="{{section.sims_nationality_code}} ">{{section.sims_nationality_name_en}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-2">
                                    <div class="row form-row">

                                        <div class="col-md-12">
                                            <label>{{"National Id" | translate }}</label>
                                        </div>
                                        <div class="col-md-12">

                                            <input type="text" class="k-textbox input-sm full-width">

                                        </div>
                                    </div>
                                </div>

                                <!--<div class="col-md-4">

                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>&nbsp</label>
                                        </div>
                                        <div class="pull-right">
                                            <div class="col-md-12">

                                                <button type="button" class="btn btn-primary btn-cons" ng-click="Show_Data()">Show</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>-->




                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-2">

                                    <div class="row form-row">

                                        <div class="col-md-12">
                                            <label>{{"Enrollment No" | translate }}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" class="k-textbox input-sm full-width" ng-model="edt.search_std_enroll_no" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Name" | translate }}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" class="k-textbox input-sm full-width" ng-model="edt.search_std_name" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row form-row">

                                        <div class="col-md-12">
                                            <label>{{"Passport No" | translate }}</label>
                                        </div>
                                        <div class="col-md-12">

                                            <input type="text" class="k-textbox input-sm full-width" ng-model="edt.search_std_passport_no" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="row form-row">

                                        <div class="col-md-12">
                                            <label>{{"Family Name" | translate }}</label>
                                        </div>
                                        <div class="col-md-12">

                                            <input type="text" class="k-textbox input-sm full-width" ng-model="edt.search_std_family_name" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="row form-row">

                                        <div class="col-md-12">
                                            <label>&nbsp;</label>
                                        </div>
                                        <div class="col-md-12">

                                            <button type="button" ng-click="searchstudent();" class="btn btn-primary btn-cons">{{"Search" | translate }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="busy">
                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-5">
                                </div>
                                <div class="col-md-2">
                                    <img src="assets/images/loading.gif" />

                                </div>
                                <div class="col-md-5">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-show="searchtable">
                        <div id="Div3" class="dataTables_wrapper form-inline">
                            <div style="width: 100%; height: 350px; overflow-x: auto; overflow-y: auto">
                                <table class="table  table-bordered  table-hover" id="fixTable2" aria-describedby="example2_info">
                                    <thead style="background-color: white">
                                        <tr>
                                            <td class="semi-bold">{{"ENROLL NO" | translate }}</td>
                                            <td class="semi-bold">{{"Name" | translate }}</td>
                                            <td class="semi-bold">{{"CLASS" | translate }}</td>
                                            <td class="semi-bold">{{"EMAIL ID" | translate }}</td>
                                            <td class="semi-bold">{{"GRADE" | translate }}</td>
                                            <td class="semi-bold">{{"SECTION" | translate }}</td>
                                            <td class="semi-bold">{{"MOBILE NO" | translate }}</td>
                                            <td class="semi-bold">{{"ACTION" | translate }}</td>
                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="info in student" ng-class="row1">

                                            <td>{{info.s_enroll_no}}</td>
                                            <td>{{info.s_sname_in_english}}</td>
                                            <td>{{info.s_class}}</td>
                                            <td>{{info.mail_id}}</td>
                                            <td>{{info.sims_grade_name_en}}</td>
                                            <td>{{info.sims_section_name_en}}</td>
                                            <td>{{info.mobile_no}}</td>
                                            <td><a href=""><i class="fa fa-edit" ng-click="edit(info)" data-dismiss="modal"></i></a>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" data-dismiss="modal" type="submit"><i class="fa fa-arrow-right"></i>{{"Cancel" | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>

