﻿<style>
    .marks_round {
    border-radius: 13px;
    background-color: #f9f8f8;      
    margin-left: 10px;
    width: 30%;
    }

    .head_font {
      color:#615e5e;
      font-size:15px;
      font-weight:700;
    }


    .sub_head_font {
      color:#b7acac;
      font-size:12px;
      font-weight: 700;
    }
    
    .answer_font {
      font-size:14px;
      font-weight: 700;
    }

</style>

<div class="grid simple" id="font">
    <div class="grid-body no-border" style="padding: 0px;">
        <div class="col-md-12" style="margin-top: 57px;">
            <label style="font-size:15px;">Your Test Submitted Successfully</label>
            <label>Thank your for submitting your test. The summary of the given below :</label>
        </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 marks_round">
                        <div class="col-md-6">
                            <label style="color:green"><span>{{temp.total_correct_answer}}/</span><span>{{temp.total_questionbank_question}}</span></label>
                            <label>MARKS OBTAIN</label>
                        </div>
                        <div class="col-md-6">
                            <div class="hpanel">
                                <div class="panel-body">
                                    <div>
                                        <canvas id="Canvas1" class="chart chart-doughnut" chart-click="onClick" chart-data="data" chart-labels="labels"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 marks_round">
                        <div class="col-md-6">
                            <label style="color:green"><span>{{temp.total_question_attempted}}/</span><span>{{temp.total_questionbank_question}}</span></label>
                            <label> QUESTION ATTEMPTED </label>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <canvas id="Canvas2" class="chart chart-doughnut" chart-click="onClick" chart-data="questionattempted" chart-labels="labels1"></canvas>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 marks_round" ng-hide="true">
                        <div class="col-md-6">
                            3.12/10
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-6">
                                <div>
                                    <canvas id="Canvas3" class="chart chart-doughnut" chart-click="onClick" chart-data="timedata" chart-labels="labels3"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12" style="height: 1px">
                <hr style="height: 01px; border: none; color: black; background-color: #0066FF;">
            </div>
            <div class="col-md-12">
                <label class="head_font">Question Analysis</label>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <label class="sub_head_font">Total Question: </label>
                        <label class="answer_font">{{temp.total_questionbank_question}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="sub_head_font">Total Attempted: </label>
                        <label class="answer_font"> {{temp.total_question_attempted}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="sub_head_font">Correct Answer: </label>
                        <label class="answer_font"> {{temp.total_correct_answer}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="sub_head_font">Left Answer: </label>
                        <label class="answer_font"> {{temp.left_question}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="sub_head_font">Incorrect Answer: </label>
                        <label class="answer_font"> {{temp.total_wrong_answer}}</label>
                    </div>

                </div>
            </div>

            <div class="col-md-12" style="height: 1px">
                <hr style="height: 01px; border: none; color: black; background-color: #0066FF;">
            </div>
            <div class="col-md-12">
                <label class="head_font">Marks Analysis</label>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <label class="sub_head_font">Maximum Marks </label>
                        <label class="answer_font">{{temp.total_questionbank_question}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="sub_head_font">Right Marks </label>
                        <label class="answer_font"> {{temp.total_correct_answer}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class="sub_head_font">Negative Marks </label>
                        <label class="answer_font"> 0 </label>
                    </div>
                    <div class="col-md-2">
                        <label class="sub_head_font">Total Marks </label>
                        <label class="answer_font"> {{temp.total_correct_answer}}</label>
                    </div>

                </div>
            </div>
        </div>
        </div>


