﻿  <!--<link href="assets/css/multiple-select.css" rel="stylesheet" />-->
<div>
<div class="row">
  
    
            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input
                                placeholder="page"
                                class="form-control"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input
                                placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input
                                placeholder="Total"
                                class="form-control"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input
                                placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input
                                placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input
                                placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input
                                placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Update"| translate}}</span>&nbsp;{{"Fee Category" | translate }}</h3>
            </div>
            <div class="grid-title no-border">
            </div>

            <div class="grid-body no-border">
                <div class="row">

                    <div class="col-md-3">
                        <div class="row form-row">
                            <div class="col-md-12">
                                <label>{{"Curriculum"| translate }}</label>
                            </div>
                            <div class="col-md-12">
                                <select id="Select1" style="width: 100%" class="form-control input-sm" ng-model="edt.cur" ng-change="select_cur()"
                                        ng-options="c.cur as c.cur_desc for c in GetCur"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row form-row">
                            <div class="col-md-12">
                                <label>{{"Academic Year"| translate }}</label>
                            </div>
                            <div class="col-md-12">
                                <select id="Select2" style="width: 100%" class="form-control input-sm" ng-model="edt.aca" ng-change="select_aca(edt.aca)"
                                        ng-options="a.aca as a.aca_desc for a in GetAca"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row form-row">
                            <div class="col-md-12">
                                <label>{{"Grade"| translate }}</label>
                            </div>
                            <div class="col-md-12">
                                <select id="Select3" style="width: 100%" class="form-control input-sm" ng-model="edt.grade" ng-change="select_grd(edt.grade)">
                                    <option value="" selected disabled>Please Select</option>
                                    <option ng-repeat="g in Getgrd" value="{{g.grade}}">{{g.grade_desc}}</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row form-row">
                            <div class="col-md-12">
                                <label>{{"Section"| translate }}</label>
                            </div>
                            <div class="col-md-12">
                                <select id="Select4" style="width: 100%" class="form-control input-sm" ng-model="edt.sec">
                                    <option value="" selected disabled>Please Select</option>
                                    <option ng-repeat="s in Getsec" value="{{s.sec}}">{{s.sec_desc}}</option>

                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                 <div class="row">
                       <div class="col-md-3">
                        <div class="row form-row">
                            <div class="col-md-12">
                                <label>{{"Enroll Number"| translate }}</label>
                            </div>
                            <div class="col-md-12">
                                <input class="k-textbox" style="width: 100%;" ng-model="edt.em_login_code" />
                            </div>
                        </div>
                    </div>
                       <div class="pull-right" style="padding-top: 25px">
                                    
                           <button type="button" class="btn btn-primary btn-cons input-sm" ng-hide="showclosebtn" style="height: 35px" ng-click="Show_data()">{{"Show"|translate}}</button>
                           <button type="button" class="btn btn-primary btn-cons input-sm" ng-hide="showclosebtn" style="height: 35px" ng-click="reset_data()">{{"Reset"|translate}}</button>

                                </div>
                     </div>
            </div>


            <div class="grid-body no-border">
                <div class="row">
                           <div class="col-md-12" ng-show="busy">
                        <div class="col-md-5">
                            &nbsp;
                        </div>

                        <div class="col-md-5">
                            <div class="row">
                                <img src="assets/images/loading.gif" />
                            </div>
                        </div>
                    </div>
                    <div ng-show="rgvtbl">
                    <div class="col-md-12">

 <div class="dataTables_wrapper form-inline" id="Div2">
                                    <div style="width: 100%; height: 280px; overflow-x: auto; overflow-y: auto">
                                        <table class="table  table-hover table-bordered table-condensed" id="fixTable" aria-describedby="example2_info">
                                                <thead>
                                                    <tr style="background-color: #edefef">
                                                        <th class="semi-bold" ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                                            <label style="width: 100px">
                                                                <b><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span>
                                                                    <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"STUDENT ENROLL"| translate }}</a></b></label></th>

                                                        <th class="semi-bold" >{{"STUDENT NAME"| translate }}</th>
                                                        <th class="semi-bold" >{{"FEE CATEGORY"| translate }}</th>

                                                    </tr>
                                                </thead>
                                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                    <tr ng-repeat="info in GetStudent |orderBy:orderByField:reverseSort" class="{{row1}}" style="padding-bottom: 02px !important">
                                                        <td>{{info.enroll}}</td>
                                                        <td>{{info.stud_name}}</td>

                                                        <td>
                                                            <select class="form-control" name="cmb_fee_cat" ng-model="info.fee_code" style="padding-bottom: 02px !important; width: 150px"
                                                                ng-options="emp.fee_code as emp.fee_cat for emp in GetFeeCategory">
                                                                <option value="" selected disabled>Please Select</option>
                                                            </select>
                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        <div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                  </div>
                </div>
                <div class="pull-right" style="padding-top: 25px">
                    <button type="button" class="btn btn-primary btn-cons input-sm" style="height: 35px" ng-click="update_details()">{{"Update"|translate}}</button>
                                </div>
                            </div>
            </div>


           
                 
                 </div>

        </div>
    

</div>


<!--<script src="assets/js/multiple-select.js"></script>
<script src="assets/js/tableHeadFixer.js"></script>-->


