﻿<link href="assets/css/GradeBookStyle.css" rel="stylesheet" />

<style>
    /*.scroll-wrapper > .scroll-content::-webkit-scrollbar {
        width:5px;
    }*/
    .scroll-wrapper {
        height: 600px;
    }
</style>


<style>
    .cur_gb_name.main {
        background-color: #9ef79d;
        border: 1px solid;
        padding: 1px 5px 1px 5px;
    }

    .cur_gb_cat_name.sub {
        background-color: #a6d3f5;
        border: 1px solid;
        padding: 1px 5px 1px 5px;
    }

    .cur_gb_cat_assign_name.subsub {
        border: 1px solid;
        background-color: #d9f4fa;
        padding: 1px 5px 1px 5px;
    }

    .headcolor {
        background-color: black;
    }

        .headcolor.head1 {
            border: 1px solid;
            border-color: white;
            border-width: 1px;
            background-color: #fff;
        }

    .headcolor1 {
        color: #fff;
    }

        .headcolor1.a {
            color: #ee5315;
        }
</style>


<div class="grid simple">
    <div class="grid-body no-border">
        <div class="row">
            <div class="col-md-12" style="padding-left: 04px; padding-right: 04px; padding-top: 04px; padding-bottom: 0px">
                <div style="padding-left: 0px; margin-bottom: 0px">
                    <div class="container-fluid" style="padding: 0px;">
                        <div class="row row-offcanvas row-offcanvas-left">
                            <div id="nav-section">
                                <div role="navigation" style="height: 50px !important">
                                    <ul class="nav" style="padding-left: 0px; display: inline-block; height: 50px !important; list-style: none; width: 100%">
                                        <li class="li headcolor" ng-class="{'head1': headcolor=='1'}">
                                            <a href="" ng-click="AssessmentGroupShow('1');">
                                                <span class="icon fa fa-book sp"></span>&nbsp;<span class="headcolor1" ng-class="{'a': headcolor=='1'}">{{"Exam"|translate}}</span>
                                            </a>
                                        </li>
                                        <li class="li headcolor" ng-class="{'head1': headcolor=='2'}">
                                            <a href="" ng-click="AssessmentAttributeShow('2');">
                                                <span class="icon fa fa-bookmark-o sp"></span>&nbsp;<span class="headcolor1" ng-class="{'a': headcolor=='2'}">{{"Grade Entry"|translate}}</span>
                                            </a>
                                        </li>
                                       
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!------------------------------ GradeBook Co_Scholastic------------------------------------------>
            </div>
         <div class="row" style="margin-top: 1%;">
            <div class="col-md-3" style="padding: 04px" ng-show="names">
                <div style="width: auto; height: 600px; overflow-x: auto; overflow-y: auto">
                    <table class="table table-bordered table-condensed" id="Table1">
                        <thead>
                            <tr>
                                <th style="z-index: 1" colspan="2" class="employee k-state-selected">
                                    <input placeholder="Search" class="form-control input-sm" ng-model="searchText.$" style="width: 100%" /></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="busy2" style="text-align: center; vertical-align: middle">
                                <td>
                                    <img src="assets/theme/img/loading.gif" />
                                </td>

                            </tr>
                            <tr  ng-repeat="i in AllGradeBooks |filter:searchText:strict">
                            <td >
                                <ul style="padding-left:04px" >
                            <li ng-class="Expand !=i.gb_number ? 'fa fa-plus-circle' : 'fa fa-minus-circle'" aria-hidden="true">
                                <input style="width:15px;height:15px;background-color:#fff" type="checkbox" id="{{i.gb_number}}" ng-model="i.ischecked" value="1" ng-click="SelectAllCategory(i)" ng-disabled="i.gb_freeze_status"/>
                                 <a href="javascript:;" ng-click="showcaygroryli(i.gb_number)">
                                     <span ng-class="{'main': cur_gb_name==i.gb_number}" class="cur_gb_name"  ng-click="edit(i,$index)" style="font:14px important;color:#090101;font:14px  important" >{{i.gb_name}}</span>
                                                   
                                               </a>
                                <ul  ng-repeat="cat in  i.categories" ng-show="Expand==i.gb_number" style="padding-top:07px">
                                           <li ng-class="Expand1 ? 'fa fa-plus-circle' : 'fa fa-minus-circle'"> 
                                               <input style="width:15px;height:15px;background-color:#fff" type="checkbox" id="{{cat.cat_code+cat.gb_number}}" ng-model="cat.ischecked" ng-click="SelectOneByOneCategory(i,cat.cat_code,cat)" ng-disabled="cat.gb_cat_freeze_status"/>
                                               <a href=""  ng-click="Expand1=!Expand1">
                                   <span ng-class="{'sub': cat.cat_code+cat.gb_number==catcolor}" class="cur_gb_cat_name" style="font: 14px important; color: #090101" ng-click="editCategory(cat,$index)">{{cat.cat_name}}</span> </a></li>
                                    <ul>
           <li   class="table-hover" ng-hide="Expand1" ng-repeat="assign in cat.assignMents" style="padding-top:07px">
            

                 <input style="width:15px;height:15px;background-color:#fff" type="checkbox" id="Checkbox21" ng-model="assign.ischecked" ng-disabled="assign.sims_gb_cat_assign_freeze"/>
                 <a href=""> 
                   <span ng-class="{'subsub': assign.assignment_cat_code + assign.assignment_gb_number + assign.assignment_Code==assignmentcolor}" class="cur_gb_cat_assign_name" ng-click="EditAssignment(assign,i,cat)" style="font: 14px important; color: #090101">{{assign.assignment_Name}}</span> </a></li>
                      
                      </ul>
                      </ul>
                      </li>
                      </ul>
                      
                      </td>
                         </tr>
                        </tbody>
                    </table>
                </div>
            </div>

              <div class="col-md-9">
              <div class="row">
            <div class="col-md-12" ng-show="Co_Scholastic">
                <form name="myForm" novalidate="novalidate" ng-submit="btn_Assessment_Save_Click(myForm.$valid);">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label class="semi-bold" for="StartDate">{{"Curriculum"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                <select id="cmb_curri" data-role="dropdownlist" class="form-control input-sm full-width" name="cmb_curri" ng-model="edt.sims_cur_code" required ng-change="Getyear(edt.sims_cur_code)"
                                    ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in curriculum">
                                    <option value="" selected disabled>Please Select</option>
                                </select>
                                <p class="help-block" style="color: red" ng-show="myForm.cmb_curri.$error.required &&  (myForm.cmb_curri.$touched || myForm.$submitted)">
                                    Curriculum Is Required
                                </p>

                            </div>
                            <div class="col-md-3">
                                <label class="semi-bold" for="StartDate">{{"Academic Year"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                <select id="Select8" data-role="dropdownlist" class="form-control input-sm full-width" name="cmb_academic_year1" ng-model="edt.sims_academic_year" required ng-change="GetGradecodes(edt.sims_cur_code,edt.sims_academic_year)"
                                    ng-options="year.sims_academic_year as year.sims_academic_year_desc for year in getAcademicYear">
                                    <option value="" selected disabled>Please Select</option>
                                </select>

                                <p class="help-block" style="color: red" ng-show="myForm.cmb_academic_year1.$error.required &&  (myForm.cmb_academic_year1.$touched || myForm.$submitted)">
                                    Academic Year Required
                                </p>
                            </div>

                            <div class="col-md-3">
                                <label class="semi-bold" for="StartDate">{{"Grade"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                <select id="Select1" data-role="dropdownlist" class="form-control input-sm full-width" name="cmb_term" required ng-model="edt.sims_grade_code" ng-change="getsection(edt.sims_cur_code,edt.sims_academic_year,edt.sims_grade_code)"
                                    ng-options="grd.sims_grade_code as grd.sims_grade_name_en for grd in getAllGrades">
                                    <option value="" selected disabled>Please Select</option>
                                </select>
                            </div>

                            <div class="col-md-3">
                                <label class="semi-bold" for="StartDate">{{"Section"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                <select id="Select4" data-role="dropdownlist" class="form-control input-sm full-width" name="cmb_curri" ng-model="edt.sims_section_code" ng-change="GradeSectionSubject();"
                                    ng-options="sec.sims_section_code as sec.sims_section_name_en for sec in getSectionFromGrade">
                                    <option value="" selected disabled>Please Select</option>

                                </select>

                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label class="semi-bold" for="StartDate">{{"Subject"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width" name="cmb_academic_year" ng-model="edt.Subject_Code" required>
                                    <option value="" selected disabled>Please Select</option>
                                    <option ng-repeat="sub in subject_names" value="{{sub.sims_subject_code}}">{{sub.sims_subject_name}}
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-3">
                                <label class="semi-bold" for="StartDate">{{"Scale Group"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                <select id="Select6" data-role="dropdownlist" class="form-control input-sm full-width" name="cmb_academic_year" ng-model="edt.gb_grade_scale">
                                    <option value="" selected disabled>Please Select</option>
                                    <option ng-repeat="scale in All_SCALE_GRADE" value="{{scale.gradeGroupCode}}">{{scale.narr_grade_group_name}}
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <label class="semi-bold">{{"Status"|translate}}</label>
                                <div class="checkbox check-success">
                                    <input type="checkbox" name="check" value="1" id="Checkbox8" ng-model="edt.gb_status" ng-click="CheckAllChecked()" />
                                    <label for="Checkbox8"></label>
                                </div>
                            </div>

                        <div class="col-md-4">
                         <label class="semi-bold">&nbsp;</label>
                        <div class="pull-right">
                           
                                <button class="btn btn-primary btn-small" type="submit" ng-show="NewInsert"><i class="fa fa-check"></i>&nbsp;{{"Submit"|translate}}</button>
                                <button class="btn btn-primary btn-small" type="button" ng-hide="NewInsert" ng-click="btn_Assessment_Update_Click();"><i class="fa fa-check"></i>&nbsp;{{"Update"|translate}}</button>
                                <button class="btn btn-danger btn-small" type="button" ng-click="btn_AssessmentCancel_click()">{{ "Cancel" | translate }}</button>
                            </div>
                        </div>

                    </div>
                    </div>
                </form>

                <div class="col-md-12" style="padding:02px">
                    <hr style="border-width: 1px; display: block; background-color: #4e8ff6; height: 03px" />
                </div>

                <form name="myForm1" ng-submit="btn_Assessment_Category_Save_Click(myForm1.$valid);" novalidate="novalidate">

                    <div class="col-md-3" ng-class="{'has-error': !myForm1.txt_cat_name.$valid && (myForm1.txt_cat_name.$touched || myForm1.$submitted) }">
                         <label class="semi-bold" for="StartDate">{{"Category Name"|translate}} <span class="asterisk" style="color: red">*</span></label>
                         <select id="Select20" data-role="dropdownlist" class="form-control input-sm full-width" name="txt_cat_name" ng-model="temp.cat_code"
                                    ng-options="month.month_code as month.month_name for month in MonthObject" ng-change="changemonth(temp.cat_code)">
                                     <option value="" selected disabled>Please Select</option>
                                </select>

                    </div>

                    <div class="col-md-9">
                        <div class="pull-right">
                            <label class="semi-bold" for="StartDate">&nbsp;</label>
                            <button class="btn btn-primary btn-small" type="submit"  ng-disabled="gb_cat_freeze_status"><i class="fa fa-check"></i>&nbsp;{{"Submit"|translate}}</button>
                            <button class="btn btn-danger btn-small" type="button" ng-click="btn_category_cancel_click()" ng-disabled="gb_cat_freeze_status">{{ "Cancel" | translate }}</button>
                        </div>
                    </div>

                </form>

                <div class="col-md-12" style="padding:02px">
                    <hr style="border-width: 1px; display: block; background-color: #4e8ff6; height: 03px" />
                </div>

                <form name="Assignment_Form" ng-submit="btn_Save_Click_Weekly_Assessment(Assignment_Form.$valid);" novalidate="novalidate">
                    <div class="col-md-12">

                        <div class="col-md-3" ng-class="{'has-error': !Assignment_Form.txt_assignment_Name.$valid && (Assignment_Form.txt_assignment_Name.$touched || Assignment_Form.$submitted) }">
                           <label class="semi-bold" for="StartDate">{{"Week"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                <select id="Select21" data-role="dropdownlist" class="form-control input-sm full-width" required name="txt_assignment_Name" ng-model="Assign.assignment_Code" ng-change="checkweeklyassementname(Assign.assignment_Code)">
                                       <option value="" selected disabled>Please Select</option>
                                       <option ng-repeat="week in WeekObject" value="{{week.week_code}}">{{week.week_name}}</option>
                                </select>

                        </div>

                        <div class="col-md-3">
                            <label class="semi-bold" for="StartDate">{{"Start Date"|translate}} <span class="asterisk" style="color: red">*</span></label>
                            <div>
                                <!--<input type="text" id="start_date" placeholder="Select Date" name="creation_date" class="k-textbox input-sm full-width" ng-model="Assign.assignment_Date" ng-change="showdate(Assign.assignment_Date,'assignment_Date')">-->
                                <input type="text" id="start_date" placeholder="Select Date" name="creation_date" class="k-textbox input-sm full-width" ng-model="Assign.assignment_Date" required>

                            </div>
                        </div>

                        <div class="col-md-3">
                            <label class="semi-bold" for="StartDate">{{"End Date"|translate}} <span class="asterisk" style="color: red">*</span></label>
                            <div>
                                <!--<input type="text" id="end_date" placeholder="Select Date" name="creation_date" class="k-textbox input-sm full-width" ng-model="Assign.assignment_Due_Date" ng-change="showdatecheck(Assign.assignment_Due_Date,Assign.assignment_Date,'assignment_Due_Date')">-->
                                <input type="text" id="end_date" placeholder="Select Date" name="creation_date" class="k-textbox input-sm full-width" ng-model="Assign.assignment_Due_Date" required>

                            </div>
                        </div>

                        <div class="col-md-12">
                            <label class="semi-bold" for="StartDate">{{"Enter Syllabus"|translate}} <span class="asterisk" style="color: red">*</span></label>
                            <textarea id="Textarea1" rows="3" cols="8" class="k-textbox input-sm full-width" required name="txt_assignment_Remark" ng-model="Assign.assignment_Remark" ng-maxlength="500"></textarea>
                            <p class="help-block" style="color: red" ng-show="Assignment_Form.txt_assignment_Remark.$error.maxlength &&  (Assignment_Form.txt_assignment_Remark.$touched || Assignment_Form.$submitted)">
                                Max Length 500 Characters
                            </p>
                            <p class="help-block" style="color: red" ng-show="Assignment_Form.txt_assignment_Remark.$error.required &&  (Assignment_Form.txt_assignment_Remark.$touched || Assignment_Form.$submitted)">
                                This Field Is Required
                            </p>
                        </div>

                    </div>


                    <div class="col-md-12" style="padding: 02px">

                        <div class="col-md-3" style="padding: 02px" ng-hide="updateassign">&nbsp;</div>
                        <div class="col-md-3" style="padding: 02px" ng-hide="updateassign">&nbsp;</div>

                        <div class="col-md-3" style="padding: 02px" ng-show="updateassign">
                            <label class="semi-bold" for="StartDate">{{"GradeBook Name"|translate}}</label>
                            <input class="form-control input-sm" ng-model="Assign.assignment_gb_name" readonly="readonly" />
                        </div>

                        <div class="col-md-3" style="padding: 02px" ng-show="updateassign">
                            <label class="semi-bold" for="StartDate">{{"Category Name"|translate}}</label>
                            <input class="form-control input-sm" ng-model="Assign.assignment_cat_name" readonly="readonly" />
                        </div>
                 
                         <div class="col-md-6">
                    <label class="semi-bold" for="StartDate">&nbsp;</label>
                        <div class="pull-right">
                            <button class="btn btn-primary btn-small" type="submit" ng-hide="updateassign" ng-disabled="sims_gb_cat_assign_freeze"><i class="fa fa-check"></i>&nbsp;{{"Submit"|translate}}</button>
                            <button class="btn btn-primary btn-small" type="button" ng-click="UpdateAssessmentAssignmentData();" ng-show="updateassign" ng-disabled="sims_gb_cat_assign_freeze"><i class="fa fa-check"></i>&nbsp;{{"Update"|translate}}</button>
                            <button class="btn btn-danger btn-small" type="button" ng-click="CancelGradeBooAssignmentData()" ng-disabled="sims_gb_cat_assign_freeze">{{ "Cancel" | translate }}</button>
                            <button class="btn btn-danger btn-small" type="button" ng-click="DeleteGradeBookCateoryAssignment(Assign)" ng-disabled="sims_gb_cat_assign_freeze">{{ "Delete" | translate }}</button>
                        </div>
                    </div>
                       </div>
                    <div class="col-md-12" style="padding: 02px" ng-show="updateassign1 >=1">
                        <label class="semi-bold" for="StartDate">{{"Assigned Student"|translate}}</label>
                        <div style="width: auto; height: 350px; overflow-x: auto; overflow-y: auto">

                            <table class="table table-bordered table-hover table-condensed" id="Table2">
                                <thead>
                                    <tr style="vertical-align: middle; height: 20px">
                                        <th class="employee k-state-selected" style="width: 10%; z-index: 1;">
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" name="check" value="1" id="Checkbox11" ng-model="checked" ng-click="RemoveStudentFromAssignmentAll()">
                                                <label for="Checkbox11"></label>
                                            </div>
                                        </th>
                                        <th style="vertical-align: middle; width: 20%" class="employee k-state-selected">
                                            <label style="color: #fff">{{"ENROLL NO"|translate}}</label>
                                        </th>
                                        <th style="vertical-align: middle; width: 70%" class="employee k-state-selected">
                                            <label style="color: #fff">{{"NAMES"|translate}}</label>
                                        </th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr ng-repeat="info in  All_Grade_Section_Wise_Student">
                                        <td>
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" name="check" id="{{info.stud_Enroll}}" ng-model="info.stud_status" value="1" ng-click="RemoveStudentFromAssignmentOneByOne(info);">
                                                <label for="{{info.stud_Enroll}}"></label>
                                            </div>
                                        </td>

                                        <td>{{info.stud_Enroll}}</td>
                                        <td>{{info.stud_Full_Name}}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </form>
            </div>

            <div class="col-md-12" ng-show="Attributes" style="padding:04px">
               <div class="row">


                   <div class="row" ng-show="busy" style="padding-top:100px">
                            <div class="col-md-12">
                                <div class="row form-row">
                                    <div class="col-md-5">
                                    </div>
                                    <div class="col-md-1">
                                      <img src="assets/theme/img/loading.gif" />
                                    </div>
                                    <div class="col-md-5">
                                    </div>
                                </div>
                            </div>
                        </div>

                                  <div class="col-md-12" style="padding:02px" ng-show="assignmarkupdate">
                                 
                                  <div id="Div2" class="dataTables_wrapper form-inline" ng-show="assignmarkupdate">
                                            <div style="width: 100%; height: 440px; overflow-x: auto; overflow-y: auto">
                                                <table class="table table-bordered table-hover table-condensed" id="example2_info" aria-describedby="example2_info">
                                                    <thead>
                                                        <tr style="vertical-align: middle;">
                                                            <th class="employee k-state-selected" ng-click="sortBy('StudEnroll1')"><span style="color:#fff">{{"Enroll"| translate }}
                              <span class="sortorder" ng-show="propertyName === 'StudEnroll1'" ng-class="{reverse: reverse}"></span></span></th>
                                                             <th class="employee k-state-selected" ng-click="sortBy('stud_Full_Name')"><span style="color:#fff">{{"NAME"| translate }}
                              <span class="sortorder" ng-show="propertyName === 'stud_Full_Name'" ng-class="{reverse: reverse}"></span></span></th>
                                                         <th style="vertical-align: middle;z-index:10000" class="employee k-state-selected"><span style="color:#fff">Grades</span></th>
                                                            <th style="vertical-align: middle;z-index:10000" class="employee k-state-selected">{{"Clear"|translate}}</th>
</tr>
                                                    </thead>
                                                    <tbody >
                                                         <tr ng-repeat="info in AssignmentStudent | orderBy:propertyName:reverse">
                                                                <td>{{info.sims_enroll_number}}</td>
                                                                <td>{{info.stud_Full_Name}}</td>
                                                            <td>
                                                                <div class="radio radio-success" ng-repeat="info1 in info.scalelist">
                                                                 <input id="{{info1.sims_mark_grade_code}}+{{info.sims_enroll_number}}" type="radio" name="{{info.stud_Full_Name}}" value="1" ng-model="info1.ischecked" ng-click="setgradecode(info.scalelist,info1.sims_mark_grade_code)">
                                                                 <label for="{{info1.sims_mark_grade_code}}+{{info.sims_enroll_number}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{info1.sims_mark_grade_description}}</label>
                                                                 </div>

                                                            </td>

                                                             <td style="padding-top:01px">
                                                                 <button type="button" class="btn btn-danger btn-small" style="vertical-align:middle" ng-click="UncheckAllGrade(info.scalelist)"><b>X</b></button>

                                                             </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>

                                        <div class="col-md-12" style="padding:02px">
                                              <div class="employee k-state-selected" style="padding:02px">
                                                  <div class="pull-right" style="padding:02px;padding-top:05px">
                                                      <button class="btn btn-primary btn-small" type="button" ng-click="SaveAssessmentStudentGradeData();"><i class="fa fa-check"></i>&nbsp;{{"Submit"|translate}}</button>
                                               </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
        </div>
    </div>
</div>
                  </div>
</div>
</div>
    </div>
<script src="assets/js/tableHeadFixer.js"></script>

<!--<div class="row">
    <div class="col-md-12">
        <div class="grid simple">

            <div class="page-title">
                <h3><span class="semi-bold">{{"Weekly Assessment"|translate}} </span></h3>
            </div>
            <div class="grid-title no-border">
            </div>
            <div class="grid-body no-border" ng-show="grid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row form-row">
                            <div class="col-md-2">
                                <label class="semi-bold" for="StartDate">Grade</label>
                                <select id="Select22" data-role="dropdownlist" class="form-control input-sm full-width" name="cmb_term" ng-model="edt.sims_grade_code" ng-change="getsection(edt.cur_code,edt.academic_year,edt.sims_grade_code)"
                                    ng-options="grd.sims_grade_code as grd.sims_grade_name_en for grd in getAllGrades">
                                    <option value="" selected disabled>Please Select</option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <label class="semi-bold" for="StartDate">Section</label>
                                <select id="Select23" class="form-control" name="cmb_curri" ng-model="edt.sims_section_code" ng-change="GradeSectionSubject();"
                                    ng-options="sec.sims_section_code as sec.sims_section_name_en for sec in getSectionFromGrade">
                                    <option value="" selected disabled>Please Select</option>

                                </select>
                            </div>

                            <div class="col-md-2">
                                <label class="semi-bold" for="StartDate">Subject</label>
                                <select id="Select24" class="form-control" name="cmb_academic_year" ng-model="edt.sims_subject_code" required>
                                    <option value="" selected disabled>Please Select</option>
                                    <option ng-repeat="sub in subject_names" value="{{sub.sims_subject_code}}">{{sub.sims_subject_name}}
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <label class="semi-bold" for="StartDate">Month</label>
                                <select id="Select20" class="form-control" name="cmb_curri" ng-model="edt.sd_year_month_code"
                                    ng-options="cur.sd_year_month_code as cur.sd_year_month_name for cur in GetMonth">
                                     <option value="" selected disabled>Please Select</option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <label class="semi-bold" for="StartDate">Week</label>
                                <select id="Select21" class="form-control" name="cmb_academic_year">
                                       <option value="" selected disabled>Please Select</option>
                                       <option ng-repeat="week in WeekObject" value="{{week.week_code}}">{{week.week_name}}</option>
                                      
                                </select>
                            </div>

                            <div class="col-md-2">
                                <label class="semi-bold" for="StartDate">&nbsp;</label>
                                <button type="button" style="height: 35px"  class="btn btn-primary">{{"Show"|translate}}</button>
                                <button class="btn btn-success" style="height: 35px" type="button" ng-click="btn_New_Click()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate }}</button>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-body no-border" ng-hide="grid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row form-row">
                            <div class="col-md-2">
                                <label class="semi-bold" for="StartDate">Grade</label>
                                <select id="Select1" class="form-control" name="cmb_term" ng-model="edt.sims_grade_code" ng-change="getsection(edt.cur_code,edt.academic_year,edt.sims_grade_code)"
                                    ng-options="grd.sims_grade_code as grd.sims_grade_name_en for grd in getAllGrades">
                                    <option value="" selected disabled>Please Select</option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <label class="semi-bold" for="StartDate">Section</label>
                                <select id="Select2" class="form-control" name="cmb_curri" ng-model="edt.sims_section_code" ng-change="GradeSectionSubject();"
                                    ng-options="sec.sims_section_code as sec.sims_section_name_en for sec in getSectionFromGrade">
                                    <option value="" selected disabled>Please Select</option>

                                </select>
                            </div>

                            <div class="col-md-2">
                                <label class="semi-bold" for="StartDate">Subject</label>
                                <select id="Select3" class="form-control" name="cmb_academic_year" ng-model="edt.sims_subject_code" required>
                                    <option value="" selected disabled>Please Select</option>
                                    <option ng-repeat="sub in subject_names" value="{{sub.sims_subject_code}}">{{sub.sims_subject_name}}
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <label>&nbsp;</label>
                                <button class="btn btn-primary">{{"Create"|translate}}</button>
                            </div>

                            <div class="col-md-2">
                                <label class="semi-bold" for="StartDate">Month</label>
                                <select id="Select4" class="form-control" name="cmb_curri" ng-model="edt.sd_year_month_code"
                                    ng-options="cur.sd_year_month_code as cur.sd_year_month_name for cur in GetMonth">
                                     <option value="" selected disabled>Please Select</option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <label class="semi-bold" for="StartDate">Week</label>
                                <select id="Select5" class="form-control" name="cmb_academic_year">
                                       <option value="" selected disabled>Please Select</option>
                                       <option ng-repeat="week in WeekObject" value="{{week.week_code}}">{{week.week_name}}</option>
                                      
                                </select>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="row form-row">
                            <div class="col-md-12">
                                <label><strong>{{"Enter Syllabus"|translate}}</strong></label>
                                <textarea class="form-control"></textarea>
                                </div>
                            </div>
                           </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>-->
<script src="assets/js/calender-datepicker-id.js"></script>
