﻿<style>
      #reportViewer1 {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 5px;
        overflow: hidden;
        font-family: Verdana, Arial;
    }
      .report_holder {
        height: 500px;
        position: relative;
    }
</style>

<link href="http://kendo.cdn.telerik.com/2015.3.930/styles/kendo.common.min.css" rel="stylesheet" />
<link href="http://kendo.cdn.telerik.com/2015.3.930/styles/kendo.blueopal.min.css" rel="stylesheet" />

<script src="ReportViewer/js/kendo.subset.2015.3.930.min.js"></script>
<script src="ReportViewer/js/telerikReportViewer-10.1.16.504.js"></script>
<script src="ReportViewer/js/telerikReportViewer-10.1.16.504.min.js"></script>
<div class="row">
    <div class="row" ng-show="notshow">
        <div class="col-xs-4">
            <div class="well" class="form-group">
                <div class="form-group">
                    <label>Current Page:</label>
                    <input
                        placeholder="page"
                        class="form-control"
                        ng-model="currentPage"
                        ng-init="currentPage = 1" />
                </div>
                <div class="form-group">
                    <label>Page Size:</label>
                    <input
                        placeholder="Page Size"
                        class="form-control"
                        ng-model="numPerPage" />
                </div>
                <div class="form-group">
                    <label>Total Items:</label>
                    <input
                        placeholder="Total"
                        class="form-control"
                        ng-model="pagersize" />
                </div>
                <hr />
                <div class="form-group">
                    <label>Dots Display:</label>
                    <input
                        placeholder="..."
                        class="form-control"
                        maxlength="3"
                        ng-model="dots"
                        ng-init="dots = '...'" />
                </div>

                <hr />
                <div class="form-group">
                    <label>UL Class:</label>
                    <input
                        placeholder="pagination"
                        class="form-control"
                        maxlength="100"
                        ng-model="ulClass" />
                </div>
                <div class="form-group">
                    <label>Active Class:</label>
                    <input
                        placeholder="active"
                        class="form-control"
                        maxlength="100"
                        ng-model="activeClass"
                        ng-init="activeClass = 'active'" />
                </div>
                <div class="form-group">
                    <label>Disabled Class:</label>
                    <input
                        placeholder="disabled"
                        class="form-control"
                        maxlength="100"
                        ng-model="disabledClass"
                        ng-init="disabledClass = 'disabled'" />
                </div>
                <br />
                <table class="table">

                    <tr>
                        <td>
                            <label>Show Prev Next:</label></td>
                        <td>
                            <input
                                type="checkbox"
                                ng-model="showPrevNext"
                                ng-init="showPrevNext = true" />
                            {{showPrevNext}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Show First Last:</label></td>
                        <td>
                            <input
                                type="checkbox"
                                ng-model="showFirstLast"
                                ng-init="showFirstLast = true" />
                            {{showPrevNext}}
                        </td>
                    </tr>
                </table>
                <hr />
                <span class="btn btn-default" onclick="location.reload()">
                    <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                </span>
                <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                </span>
                <br />
                <br />
            </div>
        </div>
    </div>


    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Class Wise Fee" |translate}}</span>&nbsp;{{"Collection" | translate}}</h3>
            </div>
            <div class="grid-body no-border bluegrid paddingcode">
            <div ng-show="grid">
                <form name="myForm" novalidate="novalidate">
                    <div class="row">
                          <div class="col-md-2">
                            <label><i class="fa fa-book"></i>&nbsp;{{"Curriculum"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                    <select id="cmb_School_Code" class="form-control input-sm full-width" name="user" ng-model="sims_cur_code" ng-change="getacyr()"
                                         ng-options="curr.sims_cur_code as curr.sims_cur_short_name_en for curr in curriculum"
                                         required>
                                        <option value="" selected disabled>Please Select</option>
                                        <!--<option class="form-control input-sm" ng-repeat="cur in curriculum" value="{{cur.sims_cur_code}}">{{cur.sims_cur_short_name_en}}</option>-->
                                    </select>
                                </div>

                          <div class="col-md-2">
                            <label><i class="fa fa-calendar"></i>&nbsp;{{"Academic Year"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                    <select id="cmb_academic_year" class="form-control input-sm full-width" ng-model="sims_academic_year" ng-change="getsections();"
                                        ng-options="year1.sims_academic_year as year1.sims_academic_year_desc for year1 in Academic_year" required>
                                        <option value="" selected disabled>Please Select</option>
                                    </select>
                                </div>

                          <div class="col-md-2">
                            <label><i class="fa fa-sitemap"></i>&nbsp;{{"Grade"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                    <select id="cmb_grade_code" class="form-control input-sm full-width" ng-model="sims_grade_code" ng-change="getsection();"
                                        ng-options="grade_cod.sims_grade_code as grade_cod.sims_grade_name for grade_cod in grade" required>
                                        <option value="" selected disabled>Please Select</option>
                                    </select>
                                </div>

                          <div class="col-md-2">
                                    <label><i class="fa fa-align-justify"></i>&nbsp;{{"Section"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                    <select id="cmb_section_code" class="form-control input-sm full-width" ng-model="sims_section_name" ng-change="get();getFeeType();"
                                        ng-options="section_cod.sims_section_code as section_cod.sims_section_name for section_cod in section1" required>
                                        <option value="" selected disabled>Please Select</option>
                                    </select>
                                </div>

                          <div class="col-md-2">
                                            <label>
                                                <i class="fa fa-bookmark-o"></i>&nbsp;{{"Fee Type"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                                  <select id="Select2" name="cmb_academic_year" ng-model="edt1.fee_type" class="form-control input-sm full-width">
                                                      <option value="0"  selected disabled>Please Select</option>
                                                      <option ng-repeat="fee in GetFeeTypes" value="{{fee.sims_fee_code}}">{{fee.sims_fee_code_description}}
                                                      </option>
                                                  </select>
                                            
                                        </div>
                          <div class="col-md-2" >
                                    
                                        <label>&nbsp;</label>
                                        <button type="button" class="btn btn-primary btn-small" style="text-align: center; vertical-align: middle" ng-click="Show_Data()">{{"Show"|translate}}</button>
                                 <!--<div class="pull-right">  
                               </div>-->

                        

                    </div>
                      
                        <div class="row">
                            <div class="col-md-2">
                                  <label><i class="fa fa-money"></i>&nbsp;{{"Amount"|translate}} <span class="asterisk" style="color: red">*</span></label> 
                                  <input type="text" class="k-textbox input-sm full-width" id="Text1" ng-model="edt1.sims_amount" placeholder="0" style="height: 2px;" ng-change="totalAmount(edt1.sims_amount)">
                              </div>
                           

                               <div class="col-md-2">
                                            <label>
                                                <i class="fa fa-credit-card"></i>&nbsp;{{"Payment Mode"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                                  <select id="pm" name="cmb_academic_year" ng-model="temp.payment_mode" class="form-control input-sm full-width" ng-change="paymentmode(temp.payment_mode)">
                                                      
                                                      <option ng-repeat="pm in PaymentModes" value="{{pm.pmDescShort}}">{{pm.pmDesc}}
                                                      </option>
                                                  </select>
                               </div>
                             
                            <div class="col-md-2">
                                  <label><i class="fa fa-calendar"></i>&nbsp;{{"Receipt Date"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                    <input type="text" name="to_date" id="to_date" class="k-textbox input-sm" ng-model="temp.receipt_date">

                       
                            </div>
                           
                           <div class="col-md-2">
                               <label><i class="fa fa-bookmark">&nbsp;{{"Remark" | translate}}</i></label>
                               <input type="text" name="remark" id="remark" ng-model="temp.remark" placeholder="Enter Remark" />

                           </div>

                                <div class="col-md-1">&nbsp;</div>
                                <div class="col-md-2">
                                    <label>&nbsp;</label>
                                    <button type="button" class="btn btn-primary btn-cons btn-small" ng-show="invoice_generate"  ng-click="generateInvoice();" >{{"Invoice Generation"|translate}}</button>
                                </div>
                                <div class="col-md-1">
                                    <div class="pull-right">
                                    <label>&nbsp;</label>
                                    <button type="button" class="btn btn-primary btn-cons btn-small" ng-show="collect_data" ng-click="Savedata();" >{{"Collect"|translate}}</button>
                                </div>

                               </div>
                            <!--ng-disabled="submitbutton"-->
                               

                             
                         </div>

                        </div>


                    </form>
                  </div>
        </div>     
                <div class="grid-body no-border margin-top paddingcode">         
                    <div class="row">
                        <div class="col-md-1">
                                    <select id="Select7" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                                        <option value="10" class=" form-control input-sm">10
                                        </option>

                                        <option value="20" class=" form-control input-sm">20
                                        </option>

                                          <option value="All" class=" form-control input-sm">All
                                        </option>
                                       
                                    </select>
                                </div>
                        <div class="col-md-2">
                                    <div class="pull-right">
                                        <div class="dataTables_filter" id="example_filter">
                                            <!--<label>
                                                {{"Search"|translate}}  &nbsp;-->
                                            <span class="k-textbox k-space-right full-width">
                                                <input type="text" aria-controls="example" placeholder="Student Name/Enroll No" ng-model="searchText" class="k-textbox input-sm full-width" ng-change="search()"><!--</label>-->
                                                <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                                        </div>
                                    </div>
                                </div>
                        <div class="col-md-7">&nbsp;</div>
                         <div class="col-md-2">
                                
                                <label><b>{{"Total"|translate}} {{pm_desc}} :{{totalamount}}</b></label>
                                
                            </div>

</div>
                    
                    <div ng-show="busyindicator">
                    <div class="row">
                                <div class="col-md-5">
                                    &nbsp;
                                </div>
                                <div class="col-md-5">
                                        <img src="assets/theme/img/loading.gif" />
                                    </div>
                                </div>
                    </div>
                    <div ng-show="maintable">
                        <div id="example_wrapper" class="dataTables_wrapper form-inline">
                            <div class="row">
                                <div class="col-md-12">
                                <table class="table table-hover table-bordered" id="fixTable">
                                    <thead>
                                        <tr>
                                            <th class="small-cell v-align-middle" style="z-index: 1">
                                            <div class="checkbox check-success">
                                                <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked();" >
                                                <label for="mainchk"></label>
                                            </div>
                                        </th>
                                            <th>
                                                 <label class="bold" style="width: 100px">{{"Sr No."|translate}}</label></th>
                                            </th>
                                          <!-- <th class="semi-bold" style="vertical-align: middle;z-index:1">&nbsp;</th>-->
                                            <th style="vertical-align: middle" ng-click="sortBy('sims_enroll_number')">
                                                <label class="bold" style="width: 100px">{{"Enrollment No"|translate}}</label>
                                                 <span class="sortorder" ng-show="propertyName === 'sims_enroll_number'" ng-class="{reverse: reverse}"></span>
                                              
                                            </th>
                                             <th style="vertical-align: middle" ng-click="sortBy('studentName')">
                                                <label class="bold" style="width: 150px">{{"Student Name"|translate}}</label>
                                                 <span class="sortorder" ng-show="propertyName === 'studentName'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th style="vertical-align: middle"  ng-click="sortBy('sims_parent_number')">
                                                <label class="bold" style="width: 100px">{{"Parent ID"|translate}}</label>
                                                <span class="sortorder" ng-show="propertyName === 'sims_parent_number'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th style="vertical-align: middle" ng-click="sortBy('parentName')">
                                                <label class="bold" style="width: 100px">{{"Parent Name"|translate}}</label>
                                                 <span class="sortorder" ng-show="propertyName === 'parentName'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                           
                                           
                                            <th style="vertical-align: middle" ng-click="sortBy('sims_parent_number')">
                                                <label class="bold" style="width: 150px">{{"Fee Type"|translate}}</label>
                                                 <span class="sortorder" ng-show="propertyName === 'sims_parent_number'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                           
                                           
                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="info in Get_sims550Fees|orderBy:propertyName:reverse | filter:searchText:strict">
                                            
                                            <td>
                                                <div class="checkbox check-success">
                                                    <input type="checkbox" name="check" value="1" id="{{info.sims_enroll_number+$index}}" ng-model="info.sims_student_check"  ng-click="CheckDataToInsert(info);checkCount();"/>
                                                    <label for="{{info.sims_enroll_number+$index}}"></label>
                                                </div>
                                            </td>
                                            <!--<td>
                                                <span   class="btn btn-primary btn-mini" ng-click="Get_FeesDetails(info)" ng-disabled="info.disabled2">{{"Details"|translate}}</span>
                                         <!--   </td>-->
                                            <td>{{$index+1}}</td>
                                            <td>{{info.sims_enroll_number}}</td>
                                            <td>{{info.studentName}}</td>
                                            <td>{{info.sims_parent_number}}</td>
                                            <td>{{info.parentName}}</td>
                                            <td>{{info.sims_fee_code_description}}</td>
                                           
	                                      </tr>
                                    </tbody>
                                </table>
                            </div>
                                </div>
                           <div class="row margin-top" ng-show="pager">
                                <div class="col-md-12">
                                    <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                    scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                    paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                    ng-click="index(currentPage)">
                             </paging>
                                        </div>
                                    </div>
                               </div>
                           
                        </div>
                    </div>
                 </div>   
           
            </div>
        </div>
    </div>
<script src="assets/js/tableHeadFixer.js"></script>
      
   <div class="modal fade" id="MyModal" role="dialog">
    <div class="modal-dialog" style="width:70%;">
        <div class="modal-content">
            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px"><b>{{"Cash Payment"|translate}}</b></h4>
                </div>
                <div class="pull-right">
                    <a href="">
                        <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b title="Close">X</b></h6>
                    </a>
                </div>
            </div>
            <div style="background-color: #4e8ff6; height: 20px"></div>
                <div class="grid-body no-border">
                          <div class="col-md-12" style="padding: 2%;">
                          <div class="row margin-top">
                                        <div class="col-md-6">
                                            <label>
                                                {{"Fee Type"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                                  <select id="Select1" name="cmb_academic_year" ng-model="edt1.fee_type" class="form-control input-sm full-width">
                                                      <option value="0"  selected disabled>Please Select</option>
                                                      <option ng-repeat="fee in GetDiscountFeeTypes" value="{{fee.std_fee_discount_type_code}}">{{fee.std_fee_discount_type}}
                                                      </option>
                                                  </select>
                                            
                                        </div>
                                        <div class="col-md-3">
                                  <label>{{"Amount"|translate}} <span class="asterisk" style="color: red">*</span></label> 
                                  <input class="k-textbox input-sm full-width" id="txtmobile" ng-model="edt1.std_fee_child_paying_amount_temp2" />
                              </div>
                                        <div class="col-md-3">
                                               <label>&nbsp;</label>
                                                <button class="btn btn-primary btn-small" ng-click="btn_Addnewfeedetails_Click()">{{"Add"|translate}}</button>
                                                <button class="btn btn-primary btn-small" ng-click="btn_reset_Click()">{{"Reset"|translate}}</button>
                                            </div>
                                </div>
                           
                        <div class="row" ng-show="busy">
                            <div class="col-md-12">
                                    <div class="col-md-5">
                                    </div>
                                    <div class="col-md-2">
                                       <img src="assets/theme/img/loading.gif" />
                                    </div>
                                    <div class="col-md-5">
                                    </div>
                                </div>
                        </div>
                            <div class="row"> 
                                <div class="col-md-12 margin-top-2">
                                <div id="Div3" class="dataTables_wrapper form-inline">
                                        <table class="table table-bordered table-condensed" id="Table3" aria-describedby="example2_info">
                                            <thead>
                                                <tr>
                                                    <th class="semi-bold"   >{{"FEE DESCRIPTION"|translate}}</th>
                                                    <th class="semi-bold"  >{{"EXPECTED AMOUNT"|translate}}</th>
                                                    <th class="semi-bold"  >{{"PAID AMOUNT"|translate}}</th>
                                                    <th class="semi-bold"  >{{"BALANCE"|translate}}</th>
                                                    <th class="semi-bold" style="z-index: 1">{{"ACTION"|translate}}</th>

                                                </tr>
                                            </thead>
                                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                <tr ng-repeat="info in Get_Sims550FeesDetails.fee_details">
                                                    <td>{{info.sims_fee_description}}</td>
                                                    <td>{{info.sims_expected_amt}}</td>
                                                    <td>{{info.sims_paid_amt}}</td>
                                                    <td>{{info.sims_balance_amt}}</td>
                                                    <td>
                                                        <button  ng-disabled="info.disabled1" class="btn btn-danger btn-small" ng-click="btn_rmovefeedetails_Click($event,$index,Get_Sims550FeesDetails,info)"><b>X</b></button>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                  
                                  </div>
                            </div>
                        </div>
                  
            <div class="row">
                <div class="col-md-12">
                    <div class="modal-footer" style="border-bottom-left-radius: 08px !important; border-bottom-right-radius: 08px !important;padding-right:24px">
                    <button class="btn btn-primary btn-small" style="" data-dismiss="modal" type="button" ng-click="btn_AddnewPaymentdetails_update_Click()">{{"Ok"|translate}}</button>
                </div>
                </div>
            </div>
                
            </div>
      
    </div>
           
             </div>

        </div>
</div>

    <div class="modal fade" id="Div1" role="dialog">
    <div class="modal-dialog" style="width:70%;">
        <div class="modal-content">
            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px"><b>{{"Receipt Information"|translate}}</b></h4>
                </div>
                <div class="pull-right">
                    <a href="">
                        <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b title="Close">X</b></h6>
                    </a>
                </div>
            </div>
            <div style="background-color: #4e8ff6; height: 20px"></div>
                <div class="col-md-12" style="padding-top:-20px">
                    <div class="grid-body no-border">
                       <h4 style="color:green">Following Student(s) Fee(s) Collected Successfully</h4>
                       
                            <div class="row"> 
                                <div class="col-md-12">
                                <div id="Div2" class="dataTables_wrapper form-inline">
                                        <table class="table table-bordered table-condensed" id="Table1" aria-describedby="example2_info">
                                            <thead>
                                                <tr>
                                                    <th class="semi-bold" style="width:15%" >{{"ACADEMIC YEAR"|translate}}</th>
                                                    <th class="semi-bold" style="width:15%" >{{"RECEIPT NUMBER"|translate}}</th>
                                                    <th class="semi-bold" style="width:15%" >{{"ENROLL NUMBER"|translate}}</th>
                                                    <th class="semi-bold" style="width:40%" >{{"STUDENT NAME"|translate}}</th>
                                                    <th class="semi-bold" style="width:15%" >{{"EXPECTED AMOUNT"|translate}}</th>

                                                </tr>
                                            </thead>
                                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                <tr ng-repeat="info in studentdataobject">
                                                    <td>{{info.sims_academic_year}}</td>
                                                    <td>{{info.doc_number}}</td>
                                                    <td>{{info.sims_enroll_number}}</td>
                                                    <td>{{info.sims_student_Name}}</td>
                                                    <td>{{info.sims_expected_amt}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                             </div>
                          </div>
            <div class="row"> 
              <div class="col-md-12">
                <div class="modal-footer" style="border-bottom-left-radius: 08px !important; border-bottom-right-radius: 08px !important;padding-right:24px">
                    <button class="btn btn-primary btn-small" style="" data-dismiss="modal" type="button">{{"Ok"|translate}}</button>
                </div>
                  </div>
                </div>
            </div>
      
    </div>
        </div>
        </div>
        </div>
<div class="modal fade in" id="feemodal" role="dialog" style="display: none;">
    <div class="modal-dialog" style="width: 1024px; border: solid; border-width: 02px; border-bottom-left-radius: 05px; border-bottom-right-radius: 05px; border-top-left-radius: 05px; border-top-right-radius: 05px; border-color: blue">
        <div class="modal-content">
            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px;font-weight:600">Print Receipt<b></b></h4>
                </div>
                <div class="pull-right">
                    <a href="">
                       <!--- <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>--->
                        <button style="margin-top :4px;margin-right :0px;height :33px;line-height :23px;" class="btn btn-primary btn-cons" data-dismiss="modal" type="submit">Close</button>

                    </a>
                </div>

            </div>
             <div class="grid-body no-border" >
            <div class="col-md-12" ng-hide="report_show">
                <div class="row report_holder">
                    <div id="reportViewer1">
                        loading...
                    </div>
                </div>
            </div>
           </div>
        </div>
    </div>
</div>
    <script src="assets/js/calender-datepicker-id.js"></script>
