﻿<html>
<body>
    <div class="grid-simple">
        <div class="content">
            <div class="row">
                <div class="col-md-12 bluegrid">
                    <!--<div class="grid simple">-->
                    <div class="grid-title no-border">

                        <div class="row">

                            <div class="col-md-2">
                                <label id="Label" for="txt_Nationality_Code" class="form-label">
                                    <i class="fa fa-book"></i>
                                    {{"Curriculum"|translate}}<span style="color:red">*</span>
                                </label>
                                <select id="cur_box" data-role="dropdownlist" class="form-control input-sm full-width"
                                        ng-model="temp.sims_cur_code" ng-selected="" name="sims_cur_code" ng-change="getAcademic_year(temp.sims_cur_code)"
                                        ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in cur_data" required></select>
                            </div>

                            <div class="col-md-2">
                                <label id="acad_box" for="txt_Nationality_Code" class="form-label">
                                    <i class="fa fa-sort-amount-desc"></i>
                                    {{"Academic Year"|translate}}<span style="color:red">*</span>
                                </label>
                                <select id="academic_box" data-role="dropdownlist" class="form-control input-sm full-width"
                                        ng-model="temp.sims_academic_year" ng-selected="" name="sims_academic_year" ng-change="getGrade(temp.sims_cur_code,temp.sims_academic_year)"
                                        ng-options="acad.sims_academic_year as acad.sims_academic_year_desc for acad in acad_data" required></select>
                            </div>


                            <div class="col-md-2">
                                <div class="row form-row">
                                    <div class="col-md-12" style="margin-top: -5px">
                                        <label><i class="fa fa-sitemap"></i>{{"Grade"|translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <select id="cmb_grade_code" class="full-width" multiple="multiple" ng-model="temp.sims_grade_code" ng-change="getSection(temp.sims_cur_code,temp.sims_grade_code,temp.sims_academic_year)">
                                            <option ng-repeat="grade in Grade_code|filter:{sims_grade_name:''}" value="{{grade.sims_grade_code}} ">{{grade.sims_grade_name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="row form-row">
                                    <div class="col-md-12" style="margin-top: -5px">
                                        <label><i class="fa-align-justify"></i>{{"Section"|translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <select id="cmb_section_code" class="full-width" multiple="multiple" ng-model="temp.sims_section_code" ng-change="getFeeTyep(temp.sims_cur_code,temp.sims_grade_code,temp.sims_academic_year,temp.sims_section_code)">
                                            <option ng-repeat="section in Section_code|filter:{sims_section_name:''}" value="{{section.sims_section_code}} ">{{section.sims_section_name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <label id="Label" for="txt_Nationality_Code" class="form-label">
                                    <i class="fa fa-book"></i>
                                    {{"Concession Type"|translate}}<span style="color:red">*</span>
                                </label>
                                <select id="concession_box" data-role="dropdownlist" multiple="multiple" class="form-control input-sm full-width"
                                        ng-model="temp.concession_type" ng-selected="" name="sims_cur_code" 
                                        ng-options="cur.sims_concession_number as cur.sims_concession_description for cur in concessionType" required></select>
                            </div>
                        </div>
                        <!--<div class="row">-->

                            <div class="col-md-12">
                                <div class="pull-right">
                                    <label>&nbsp;</label>
                                    <button type="button" class="btn btn-primary btn-cons" ng-click="getstudentlist(temp.sims_cur_code,temp.sims_academic_year,temp.sims_grade_code,temp.sims_section_code,temp.concession_type)">
                                    {{"Submit"|translate}}</button>
                                    <button class="btn btn-rounded btn-warning btn-cons" type="button" ng-click="reset_data()"><i class="icon-ok" ng-show="false"></i>{{"Reset"|translate}}</button>
                                    <button type="button" class="btn btn-primary btn-cons" ng-click="exportData()">{{"Excel"|translate}}</button>
                                    <button type="button" class="btn btn-primary btn-cons" ng-click="print()">{{"Print"|translate}}</button>
                                </div>
                            </div>
                        <!--</div>-->

                        <div class="row">
                            <div class="col-md-2" ng-show="false">
                                <label>&nbsp;</label>
                                <div class="pull-right">
                                    <span class="k-textbox k-space-right">
                                        <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                                        <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                    </span>
                                </div>
                            </div>
                        </div>



                    </div>
                    <!--</div>-->
                </div>
            </div>

            <div ng-show="detailsField">

                <div class="content">
                    <div class="grid-title no-border" style="background-color:  white;">
                        <div class="col-md-4">
                            <div class="row margin-top">
                                <div class="col-md-12" style=" padding-left: 6px;">
                                    <select id=" select1" style="width: 60px;" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                        <option value="30" class=" form-control input-sm">
                                            30
                                        </option>

                                        <option value="60" class=" form-control input-sm">
                                            60
                                        </option>

                                        <option value="All" class=" form-control input-sm">
                                            All
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8" ng-show="false">
                            <span style="font-size:18px;">
                            Concession Details Report</span>
                        </div>

                        <div id="example_wrapper" class="dataTables_wrapper form-inline">
                            <div class="row margin-top">
                                <div class="col-md-12">

                                    <div class="col-md-12" id="rpt_data1">
                                      
                                        <div class="col-md-11" ng-show="false">

                                            <div class="row" style="margin-left: 182px;font-size: 22px;">

                                                <span style="font-size: 13px;margin-left: -58px;">Curriculumn :{{cur}}</span>&nbsp; &nbsp;
                                                <span style="font-size: 13px">
                                                    Academic Year :{{selected_academic_year}}&nbsp; &nbsp; Grade:
                                                    <span ng-repeat="y in grade">
                                                        {{y}}  <span ng-hide="$last">,</span> &nbsp;
                                                    </span>
                                                    &nbsp; &nbsp; Section:
                                                    <span ng-repeat="y in section">
                                                        {{y}}  <span ng-hide="$last">,</span> &nbsp;
                                                    </span>
                                                    Concession Type :
                                                    <span ng-repeat="y in concession_Type">
                                                        {{y}}  <span ng-hide="$last">,</span> &nbsp;
                                                    </span>
                                                </span>
                                            </div>
                                        </div>

                                        <table class="table table-striped table-flip-scroll cf">
                                            <thead>
                                                <tr style="background-color:#edefef">
                                                    <th><b>{{"Sr No"|translate}}</b></th>
                                                    <th ng-click="sort('sims_enroll_number')"><b>{{"Enroll No"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                                    <th ng-click="sort('student_name')"><b>{{"Student Name"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                                    <th ng-click="sort('sims_student_date')"><b>{{"Student Date"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                                    <th ng-click="sort('grade_name')"><b>{{"Grade"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                                    <th ng-click="sort('section_name')"><b>{{"Section"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                                    <th ng-click="sort('father_name')"><b>{{"Parent Name"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                                    <th ng-click="sort('concession_Description')"><b>{{"Concession Description"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                                    <th ng-click="sort('sims_concession_discount_value')"><b>{{"Discount Value"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                                    <th ng-click="sort('sims_concession_from_date')"><b>{{"From Date"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                                    <th ng-click="sort('sims_concession_to_date')"><b>{{"To Date"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                                </tr>
                                            </thead>

                                            <tbody align="center">
                                                <tr ng-repeat="r in filteredTodos|orderBy:colname:reverse|filter:searchText">
                                                    <td style="text-align: left;">{{$index+1}}</td>
                                                    <td style="text-align: left;">{{r.sims_enroll_number}}</td>
                                                    <td style="text-align: left;">{{r.student_name}}</td>
                                                    <td style="text-align: left;">{{r.sims_student_date}}</td>
                                                    <td style="text-align: left;">{{r.grade_name}}</td>
                                                    <td style="text-align: left;">{{r.section_name}}</td>
                                                    <td style="text-align: left;">{{r.father_name}}</td>
                                                    <td style="text-align: left;">{{r.concession_Description}}</td>
                                                    <td style="text-align: left;">{{r.sims_concession_discount_value}}</td>
                                                    <td style="text-align: left;">{{r.sims_concession_from_date}}</td>
                                                    <td style="text-align: left;">{{r.sims_concession_to_date}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                    <div ng-show="hideprintpdf">
                                        <div class="col-md-12" id="pdf_print">
                                            <div class="">
                                                <b style="font-size: 22px;">{{user_details.lic_school_name}}</b><br>
                                            </div>
                                            <div class="col-md-12">
                                                <span style="font-size:18px;">
                                                    Concession Details Report
                                                </span>
                                            </div>
                                            <div class="col-md-11">

                                                <div class="row" style="margin-left: 182px;font-size: 22px;">

                                                    <span style="font-size: 13px;margin-left: -58px;">Curriculumn :{{cur}}</span>&nbsp; &nbsp;
                                                    <span style="font-size: 13px">
                                                        Academic Year :{{selected_academic_year}}&nbsp; &nbsp; Grade:
                                                        <span ng-repeat="y in grade">
                                                            {{y}}  <span ng-hide="$last">,</span> &nbsp;
                                                        </span>
                                                        &nbsp; &nbsp; Section:
                                                        <span ng-repeat="y in section">
                                                            {{y}}  <span ng-hide="$last">,</span> &nbsp;
                                                        </span>
                                                        Concession Type :
                                                        <span ng-repeat="y in concession_Type">
                                                            {{y}}  <span ng-hide="$last">,</span> &nbsp;
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>

                                            <table class="table table-bordered text-center">
                                                <thead>
                                                    <tr style="" background-color #edefef">
                                                        <th><b>{{"Sr No"|translate}}</b></th>
                                                        <th ng-click="sort('sims_enroll_number')"><b>{{"Enroll No"|translate}}</b></th>
                                                        <th ng-click="sort('student_name')"><b>{{"Student Name"|translate}}</b></th>
                                                        <th ng-click="sort('sims_student_date')"><b>{{"Student Date"|translate}}</b></th>
                                                        <th ng-click="sort('grade_name')"><b>{{"Grade"|translate}}</b></th>
                                                        <th ng-click="sort('section_name')"><b>{{"Section"|translate}}</b></th>
                                                        <th ng-click="sort('father_name')"><b>{{"Parent Name"|translate}}</b></th>

                                                        <th ng-click="sort('concession_Description')"><b>{{"Concession Description"|translate}}</b></th>
                                                        <th ng-click="sort('sims_concession_discount_value')"><b>{{"Discount Value"|translate}}</b></th>
                                                        <th ng-click="sort('sims_concession_from_date')"><b>{{"From Date"|translate}}</b></th>
                                                        <th ng-click="sort('sims_concession_to_date')"><b>{{"To Date"|translate}}</b></th>
                                                    </tr>
                                                </thead>

                                                <tbody align="center">
                                                    <tr ng-repeat="r in filteredTodos|orderBy:colname:reverse|filter:searchText">
                                                        <td style="text-align: left;">{{$index+1}}</td>
                                                        <td style="text-align: left;">{{r.sims_enroll_number}}</td>
                                                        <td style="text-align: left;">{{r.student_name}}</td>

                                                        <td style="text-align: left;">{{r.sims_student_date}}</td>
                                                        <td style="text-align: left;">{{r.grade_name}}</td>

                                                        <td style="text-align: left;">{{r.section_name}}</td>
                                                        <td style="text-align: left;">{{r.father_name}}</td>

                                                        <td style="text-align: left;">{{r.concession_Description}}</td>
                                                        <td style="text-align: left;">{{r.sims_concession_discount_value}}</td>
                                                        <td style="text-align: left;">{{r.sims_concession_from_date}}</td>
                                                        <td style="text-align: left;">{{r.sims_concession_to_date}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="row" ng-show="pager">
                                        <div class="col-md-12">
                                            <div class="pull-right">
                                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                                        ng-click="index(currentPage)">
                                                </paging>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</body>
</html>
<!--<div class="col-md-12" id="subform">-->

<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/plugins/fileSaver.js"></script>
<script src="assets/js/jszip.js"></script>
<script src="assets/js/xlsx.js"></script>
<script src="assets/js/xlsx-reader.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>



