﻿<div class="loading-middle" ng-hide="display">
    {{ "Loading..." | translate }}
</div>

<div>
    
       
            
            

            <div>
                <form name="myForm" class="form-no-horizontal-spacing" id="form-condensed">
                    <div class="row column-seperation">

                        <div class="col-md-6">
                             <div class="raw">

             <div  class="paddingcode rawbody grid-body bluegrd">
                     
                 <div class="col-md-12 ">
                            <div class="row">
                                <div class="col-md-4">
                                    <label><i class="fa fa-book"></i>&nbsp;{{"Curriculum"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <select id="Select6" class="form-control input-sm full-width" name="user" ng-model="edt.sims_cur_code" ng-change="getacyr(edt.sims_cur_code)">
                                        <option value="" selected disabled>Please Select</option>
                                        <option class="form-control input-sm" ng-repeat="cur in curriculum" value="{{cur.sims_cur_code}}">{{cur.sims_cur_short_name_en}}</option>
                                    </select>

                                </div>

                                <div class="col-md-4">
                                    <label><i class="fa fa-sort-amount-desc"></i>&nbsp;{{"Academic Year"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <select id="Select7" class="form-control input-sm full-width" ng-model="edt.section_fee_academic_year" ng-change="getgradecodes();">
                                        <option value="" selected disabled>Please Select</option>
                                        <option class="form-control input-sm" ng-repeat="year in Academic_year" value="{{year.section_fee_academic_year}}">{{year.sims_academic_year_description}}</option>
                                    </select>
                                </div>

                                <div class="col-md-4">
                                    <label><i class="fa fa-bookmark"></i>&nbsp;{{"Category"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <select id="Select8" name="cat1" class="form-control input-sm full-width" ng-model="edt.section_fee_category" ng-change="Category(edt.section_fee_category);" required>
                                        <option value="" selected disabled>Please Select</option>
                                        <option class="form-control input-sm" ng-repeat="fee in FeeCategoryNames" value="{{fee.section_fee_category}}">{{fee.section_fee_category_name}}</option>
                                    </select>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label><i class="fa fa-sitemap"></i>&nbsp;{{"Grade"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <select id="Select9" style="width: 100%" class="form-control input-sm full-width" ng-model="edt.sims_grade_code" ng-change="getsection(edt.sims_grade_code);">
                                        <option value="" selected disabled>Please Select</option>
                                        <option class="form-control input-sm" ng-repeat="grade_cod in grade1" value="{{grade_cod.sims_grade_code}}">
                                            {{grade_cod.sims_grade_name}}
                                        </option>
                                    </select>
                                </div>

                                <div class="col-md-4">
                                    <label><i class="fa fa-align-justify"></i>&nbsp; {{"Section"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <select id="Select10" style="width: 100%" class="form-control input-sm full-width" ng-model="edt.sims_section_code" ng-change="get(edt.sims_section_code);">
                                        <option value="" selected disabled>Please Select</option>
                                        <option class="form-control input-sm" ng-repeat="section_cod in section" value="{{section_cod.sims_section_code}}">
                                            {{section_cod.sims_section_name}}
                                        </option>
                                    </select>
                                </div>

                                <div class="col-md-4">
                                    <label>&nbsp;<span style="color:red" ng-show="msg">{{msg}}</span></label>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-success btn-small" ng-click="alldata()">{{"Show"| translate }}</button>&nbsp;
                                    </div>

                                </div>
                            </div>
                           

                            <div class="col-md-12" ng-show="busy">
                                <div class="col-md-5">
                                    &nbsp;
                                </div>

                                <div class="col-md-5">
                                    <div class="row">
                                        <img src="assets/theme/img/loading.gif" />
                                    </div>
                                </div>
                            </div>
                     </div>
                 </div>
                                 </div>
                      <div class="raw">

             <div  class="paddingcode rawbody grid-body no-border">
                     
                 <div class="col-md-12 ">
                            <!--<div class="color-bands red"/><div class="color-bands green"/><div class="color-bands purple"/><!--<div class="color-bands blue"/><div class="color-bands red"/><div class="color-bands green"/><div class="color-bands purple"/><div class="color-bands blue"/><div class="color-bands red"/><div class="color-bands green"/><div class="color-bands purple"/><div class="color-bands blue"/>-->
                            <div id="Div5" class="dataTables_wrapper form-inline" ng-show="table">
                                <div style="width: 100%; overflow-x: auto; overflow-y: auto">
                                    <table class="table table-bordered table-condensed" id="fixTable">
                                        <thead style="background-color: white">
                                            <tr>

                                                <th class="small-cell v-align-middle" style="height:20px;z-index:1">
                                                    <div class="checkbox check-success" style="height:20px">
                                                        <input type="checkbox" name="check" value="1" id="mainchk" ng-click="CheckAllChecked();">
                                                        <label for="mainchk"></label>
                                                    </div>
                                                </th>

                                                <th class="semi-bold" ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                                    <label>
                                                        <b>
                                                            <a href="">
                                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span>
                                                                <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp; <i class="fa fa-dashboard"></i></span>&nbsp; {{"Fee Code"| translate }}
                                                            </a>
                                                        </b>
                                                    </label>
                                                </th>

                                                <th class="semi-bold"><i class="fa fa-signal"></i>&nbsp;<b>{{"Fee Frequency"| translate }}</b></th>
                                                <th class="semi-bold text-right no-sort sorting_disabled"><i class="fa fa-money"></i>&nbsp;<b>{{"Amount"| translate }}</b></th>

                                            </tr>
                                        </thead>
                                        <tr ng-repeat="info in allfee_list|filter:search:strict | orderBy:orderByField:reverseSort" ng-class="row1">
                                            <td class="small-cell v-align-middle">
                                                <div class="checkbox check-success" style="height: 20px">
                                                    <input type="checkbox" name="check" value="1" id="{{info.section_fee_code}}" ng-click="Checked();">
                                                    <label for="{{info.section_fee_code}}"></label>
                                                </div>
                                            </td>
                                            <td>{{info.section_fee_code_desctiption}}</td>
                                            <td>{{info.section_fee_frequency_name}}</td>
                                            <td style="text-align:right"> {{info.section_fee_amount}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        
                          </div>
                 </div>
                                 </div>
                        </div>



                        
                        <div class="col-md-6">
                            <div class="raw">

             <div  class="paddingcode rawbody grid-body bluegrd">
                     
                 <div class="col-md-12 ">
                                <div class="col-md-4">
                                    <label><i class="fa fa-book"></i>&nbsp;{{"Curriculum"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <select id="Select12" class="form-control input-sm full-width" name="user" ng-model="temp.sims_cur_code" ng-change="getacyr1(temp.sims_cur_code)">
                                        <option value="" selected disabled>Please Select</option>
                                        <option class="form-control input-sm" ng-repeat="cur1 in curriculum" value="{{cur1.sims_cur_code}}">{{cur1.sims_cur_short_name_en}}</option>
                                    </select>
                                </div>

                                <div class="col-md-4">
                                    <label><i class="fa fa-sort-amount-desc"></i>&nbsp;{{"Academic Year"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <select id="Select1" class="form-control input-sm full-width" ng-model="temp.section_fee_academic_year" ng-change="getgradecodes1()">
                                        <option value="" selected disabled>Please Select</option>
                                        <option class="form-control input-sm" ng-repeat="year1 in Academic_year1" value="{{year1.section_fee_academic_year}}">{{year1.sims_academic_year_description}}</option>
                                    </select>
                                </div>

                                <div class="col-md-4">
                                    <label> <i class="fa fa-sitemap"></i>&nbsp;{{"Grade"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <select id="Select2" style="width: 100%" class="form-control input-sm full-width" ng-model="temp.sims_grade_code" ng-change="getsectioncode1();">
                                        <option value="" selected disabled>Please Select</option>
                                        <option class="form-control input-sm" ng-repeat="grade_cod1 in grade" value="{{grade_cod1.sims_grade_code}}">
                                            {{grade_cod1.sims_grade_name}}
                                        </option>
                                    </select>
                                </div>

                                <!-- <div class="col-md-4">
                                     <div class="row form-row">

                                         <div class="col-md-12">
                                             Overwrite
                                         </div>
                                         <div class="col-md-12 checkbox check-success" style="vertical-align: bottom">
                                             &nbsp;&nbsp;&nbsp;
                                             <input type="checkbox" name="check" value="1" ng-model="isoverwrite" id="chkisoverwrite">
                                             <label for="chkisoverwrite"></label>
                                         </div>
                                     </div>
                                 </div>-->
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>&nbsp;</label>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-success btn-small" ng-click="GradeSectionName();">{{"Show"| translate }}</button>&nbsp;
                                        <button type="button" class="btn btn-danger btn-small">{{"Cancel"| translate }}</button>&nbsp;
                                    </div>

                                </div>
                            </div>
                             
                 </div>
                                </div>

                           


                                <div class="col-md-12" ng-show="busy1">
                                    <div class="col-md-5">
                                        &nbsp;
                                    </div>

                                    <div class="col-md-5">
                                        <div class="row">
                                            <img src="assets/theme/img/loading.gif" />
                                        </div>
                                    </div>
                                </div>

                             <div class="raw">

             <div  class="paddingcode rawbody grid-body no-border">
                     
                 <div class="col-md-12 ">
                                <!--<div class="color-bands red"/><div class="color-bands green"/><div class="color-bands purple"/><!--<div class="color-bands blue"/><div class="color-bands red"/><div class="color-bands green"/><div class="color-bands purple"/><div class="color-bands blue"/><div class="color-bands red"/><div class="color-bands green"/><div class="color-bands purple"/><div class="color-bands blue"/>-->
                                <div id="Div1" class="dataTables_wrapper form-inline" ng-show="table1">
                                    <div style="width: 100%; overflow-x: auto; overflow-y: auto">
                                        <table class="table table-bordered table-condensed" id="Table1">
                                            <thead style="background-color: white">

                                                <tr>
                                                    <th class="small-cell v-align-middle" style="height:20px;z-index:1;width:20%">
                                                        <div class="checkbox check-success" style="height:20px">
                                                            <input type="checkbox" name="check" value="1" id="Checkbox1" ng-click="select_all_feenumber_to_copy();">
                                                            <label for="Checkbox1"></label>
                                                        </div>
                                                    </th>
                                                    <th class="semi-bold v-align-middle">
                                                        <b><i class="fa fa-copy"></i>&nbsp;{{"Copy To"| translate }} </b>
                                                    </th>
                                                    <th style="z-index:1000">
                                                        <b><i class="fa fa-money"></i>&nbsp;{{"Overwrite Amount"|translate}}</b>
                                                    </th>

                                                </tr>
                                            </thead>
                                            <tr ng-repeat="info in filteredTodos |filter:search1:strict " ng-class="row2">

                                                <td class="small-cell v-align-middle">
                                                    <div class="checkbox check-success" style="height: 20px">
                                                        <input type="checkbox" name="check" value="1" id="{{info.sims_section_code+info.sims_section_name}}" ng-click="copy_to_section_onebyone_number()">
                                                        <label for="{{info.sims_section_code+info.sims_section_name}}"></label>
                                                    </div>
                                                </td>
                                                <td>{{info.sims_section_name}}</td>
                                                <td>


                                                    <div class="checkbox check-success" style="height:20px">
                                                        <input type="checkbox" name="check" value="1" id="{{info.sims_section_code+$index}}" ng-model="info.overwrite">
                                                        <label for="{{info.sims_section_code+$index}}"></label>
                                                    </div>


                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                        <div class="pull-right" ng-show="table1">
                                        <div>&nbsp;</div>
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-primary btn-small" ng-click="Save();">{{"Submit"| translate }}</button>&nbsp;
                                        </div>
                                    </div>
                     </div>
                 </div>
                                 </div>

                         <!--      <div class="raw">

             <div  class="paddingcode rawbody grid-body no-border">
                     
                 <div class="col-md-12 ">
                                    <div class="pull-right" ng-show="table1">
                                        <div>&nbsp;</div>
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-primary btn-small" ng-click="Save();">{{"Submit"| translate }}</button>&nbsp;
                                        </div>
                                    </div>
                                </div>
                 </div>
                                   </div>-->
                            </div>

                        <!--<div class="col-md-12" ng-show="msg1">
                            <div class="col-md-3">
                                &nbsp;
                            </div>

                            <div class="col-md-6">
                                <h4><b>{{msg1.strMessage}}</b></h4>
                            </div>
                            <div class="col-md-3">
                                &nbsp;
                            </div>
                        </div>-->


                    </div>
                </form>
            </div>
         
    
</div>

<script src="assets/js/tableHeadFixer.js"></script>










