﻿<!DOCTYPE html>
<html>
<body>
    <div class="grid-simple">
        <div class="content">
            <div class="row">
                <div class="col-md-12 bluegrid">
                    <!--<div class="grid simple">-->
                    <div class="grid-title no-border">
                        <div class="row">
                            <div class="col-md-2">
                                <label id="Label" for="txt_Nationality_Code" class="form-label">
                                    <i class="fa fa-sort-amount-desc"></i>
                                    {{"Academic Year"|translate}}<span style="color:red">*</span>
                                </label>
                                <select id="academic_box" data-role="dropdownlist" class="form-control input-sm full-width"
                                        ng-model="temp.sims_academic_year" ng-selected="" name="sims_academic_year"
                                        ng-options="acad.sims_academic_year as acad.sims_academic_year_desc for acad in acad_data" required></select>
                            </div>

                            <div class="col-md-2">
                                <label id="Label2" for="txt_account_Code" class="form-label">
                                    <i class="fa fa-calendar-times-o"></i>
                                    {{"Till Date"| translate }}
                                </label>
                                <!--<div class="input-append success date">-->
                                <input type="text" id="from_date" name="from_date" placeholder="Till Date" class="k-textbox input-sm full-width" ng-model="from_date">
                            </div>

                            <!--<div class="col-md-2">
                                <label id="Label" for="txt_Nationality_Code" class="form-label">{{"Analysis For"}}</label>
                                Family :&nbsp;&nbsp;<input type="radio" ng-model="temp.report_status" name="report_view" value="F"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                Student:&nbsp;&nbsp;<input type="radio" ng-model="temp.report_status" name="report_view" value="R">
                            </div>-->
                            <div class="col-md-2">
                                <label id="Label34" for="txt_Nationality_Code" class="form-label"><i class="fa fa-bookmark"></i>&nbsp;{{"Analysis For"| translate }}</label>
                                <select id="Select10" name="sims_section_name" class="form-control input-sm full-width" ng-model="temp.report_status" data-role="dropdownlist">
                                    <option value="F" selected="selected">Family</option>
                                    <option value="S">Student</option>
                                    <option value="SC">Staff Child</option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <label id="Label34" for="txt_Nationality_Code" class="form-label"><i class="fa fa-bookmark"></i>&nbsp;{{"Family Status"| translate }}</label>
                                <select id="Select10" name="sims_section_name" class="form-control input-sm full-width" ng-model="temp.family_status" data-role="dropdownlist">
                                    <option value="NF">New Family</option>
                                    <option value="OF">Old Family</option>
                                    <option value="EF">Existing Family</option>
                                    <option value="CF">Cancel Family</option>
                                    <option value="AF">All Family</option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <div class="pull-middle">
                                    <label ng-hide="show_rerturn_value_column" id="Label8" for="txt_full_name" class="form-label">{{"With PDC"| translate }}</label>
                                    <label ng-show="show_rerturn_value_column" id="Label8" for="txt_full_name" class="form-label">{{"With PDC And Return Cheques"| translate }}</label>

                                    <div class="checkbox check-success">
                                        <input id="chk_term" type="checkbox" value="true" ng-model="temp.with_pdc">
                                        <label for="chk_term"></label>
                                    </div>
                                </div>
                            </div>

                            <!--<div class="col-md-1">
                                <div class="pull-right">
                                    <label id="other_fee" for="txt_full_name" class="form-label">{{"Include Other Fee"| translate }}</label>
                                    <div class="checkbox check-success">
                                        <input id="chk_term2" type="checkbox" value="true" ng-model="temp.other_fee_flag">
                                        <label for="chk_term2"></label>
                                    </div>
                                </div>
                            </div>-->
                            <!--<div class="col-md-1">
                                <div class="pull-right">
                                    <label id="cumfeeflag" for="txt_full_name" class="form-label">{{"View Cumulative"| translate }}</label>
                                    <div class="checkbox check-success">
                                        <input id="chk_term1" type="checkbox" value="true" ng-model="temp.cumfeeflag">
                                        <label for="chk_term1"></label>
                                    </div>
                                </div>
                            </div>-->

                            <div class="col-md-2">
                                <div class="pull-middle">
                                    <label id="cumfeeflag" for="txt_full_name" class="form-label">{{"Payment Plan"| translate }}</label>
                                    <div class="checkbox check-success">
                                        <input id="chk_term3" type="checkbox" value="true" ng-model="temp.payment_plan">
                                        <label for="chk_term3"></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label id="Label34" for="txt_Nationality_Code" class="form-label"><i class="fa fa-bookmark"></i>&nbsp;{{"Amount Filter"| translate }}</label>
                                <select id="amt_drop" name="amt_drop_name" class="form-control input-sm full-width" ng-model="temp.amount_filter" data-role="dropdownlist">
                                    <option value="FA">Fixed</option>
                                    <option value="FL">Fixed Less Than</option>
                                    <option value="FG">Fixed Greater Than</option>
                                    <option value="PL">Percentage OverAll Less Than</option>
                                    <option value="PG">Percentage OverAll Greater Than</option>
                                    <option value="PCG">Percentage Current Year Less Than</option>
                                    <option value="PCG">Percentage Current Year Greater Than</option>
                                </select>
                            </div>

                            <div class="col-md-2" style="padding-top: 10px;">
                                <br />
                                <input id="amount_filter_id_text" type="text" ng-model="temp.amount_filter_textbox" placeholder="Enter Amount">
                            </div>

                            <div class="col-md-8" style="margin-left: -25px;">
                                <div class="pull-right">
                                    <label>&nbsp;</label>
                                    <button type="button" class="btn btn-primary btn-cons" ng-click="getDetails()">{{"Preview"|translate}}</button>
                                    <button type="button" class="btn btn-rounded btn-warning btn-cons" ng-click="reset()">{{"Reset"|translate}}</button>
                                    <button type="button" class="btn btn-primary btn-cons" ng-click="exportData()">{{"Excel"|translate}}</button>
                                    <button type="button" class="btn btn-primary btn-cons" ng-click="print()">{{"Print"|translate}}</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--</div>-->
                </div>
            </div>

            <div ng-show="detailsField">

                <div class="content">
                    <div class="grid-title no-border" style="background-color:  white;">
                        <div class="col-md-12">
                            <div class="row margin-top">
                                <div class="col-md-2" style="padding-left: 6px;">
                                    <select id="select1" style="width: 60px;" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                        <option value="30" class="form-control input-sm">
                                            30
                                        </option>

                                        <option value="60" class="form-control input-sm">
                                            60
                                        </option>

                                        <option value="All" class="form-control input-sm">
                                            All
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-8" style="font:larger">
                                    <div class="col-md-12">
                                        <!--<div class="col-md-1">
                                            <div class="left_school_logo pull-left">
                                                <img src="{{SchoolLogo}}{{user_details.lic_school_logo}}" class="logo" alt="" width="120" height="70" />

                                            </div>
                                        </div>-->

                                        <div class="col-md-11">
                                            <div class="row" style="margin-left: 149px;font-size: 22px;">
                                                <b>{{user_details.lic_school_name}}</b><br>
                                                <span style="font-size: 13px;margin-left: -58px;">Report For {{name}}</span>&nbsp; &nbsp;
                                                <span style="font-size: 13px">Till Date :{{selected_date}}&nbsp; &nbsp; For Academic Year: {{selected_academic_year}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="pull-right">
                                        <span class="k-textbox k-space-right">
                                            <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm" autofocus="autofocus" tabindex="1" ng-change="search()">
                                            <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                        </span>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="row" ng-show="busy">
                            <div class="col-md-12">
                                <div class="row form-row">
                                    <div class="col-md-5">
                                    </div>
                                    <div class="col-md-2">
                                        <img src="assets/theme/img/loading.gif" />
                                    </div>
                                    <div class="col-md-5">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="example_wrapper" class="dataTables_wrapper form-inline">
                            <div class="row margin-top">
                                <div class="col-md-12">
                                    <div ng-show="family_analysis">
                                        <div class="col-md-12" id="rpt_data">
                                            <table class="table table-striped table-flip-scroll cf">
                                                <thead ng-if="!colsvis">
                                                    <tr style="" background-color #edefef">
                                                        <th rowspan="2"><b>{{"Sr No"|translate}}</b></th>
                                                        <th rowspan="2" ng-click="sort('sims_parent_number')"><b>{{"Family Code"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                                        <th rowspan="2" ng-click="sort('father_name')"><b>{{"Name"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                                        <th rowspan="2" ng-click="sort('parent_contact_number')"><b>{{"Contact"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>

                                                        <th colspan="2" style="text-align:center"> Amount Receivable (Net Balance)</th>

                                                        <th rowspan="2" ng-click="sort('fee_status_desc')" ng-if="temp.payment_plan==true"><b>{{"Payment Plan"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                                        <th rowspan="2" ng-click="sort('sims_remark')" ng-if="temp.payment_plan==true"><b>{{"Payment Remark"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>


                                                        <th rowspan="2" ng-click="sort('pdc_amount')" style="text-align: right;"><b>{{"Total PDC"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                                        <th rowspan="2" ng-click="sort('net_amt')" style="text-align: right;"><b>{{"NET"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                                        <th rowspan="2" ng-show="show_rerturn_value_column" ng-click="sort('return_check_amt')" style="text-align: right;"><b>{{"Return Cheques"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>

                                                        <th rowspan="2" ng-click="sort('perc_amt')" style="width: 9%;text-align: right;"><b>{{"Net Balance As Per Trial Balance"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                                        <th rowspan="2" ng-click="sort('perc_amt')" style="width: 6%;text-align: right;"><b>{{"Current Year %"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                                        <th rowspan="2" ng-click="sort('net_perc_exclude_OB_2')" style="width: 4%;text-align: right;"><b>{{"Overall %"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                                        <th rowspan="2"></th>
                                                    </tr>

                                                    <tr style="" background-color #edefef">
                                                        <th ng-click="sort('sltr_tran_amt_dr')" style="text-align: right;"><b>{{"Debit"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                                        <th ng-click="sort('sltr_tran_amt_cr')" style="text-align: right;"><b>{{"Credit"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                                    </tr>
                                                </thead>

                                                <tbody ng-if="!colsvis" align="center">
                                                    <tr ng-repeat="r in filteredTodos|orderBy:colname:reverse|filter:searchText">
                                                        <td style="text-align:left" ng-dblclick="Report_call(r)">{{$index+1}}</td>
                                                        <td style="text-align:left" ng-dblclick="Report_call(r)">{{r.sims_parent_number}}</td>
                                                        <td style="text-align:left" ng-dblclick="Report_call(r)">{{r.father_name}}</td>
                                                        <td style="text-align:left" ng-dblclick="Report_call(r)">{{r.parent_contact_number}}</td>
                                                        <td style="text-align:right" ng-dblclick="Report_call(r)">{{r.sltr_tran_amt_dr_final | currency:'':decimal_dsc}}</td>
                                                        <td style="text-align:right" ng-dblclick="Report_call(r)">{{r.sltr_tran_amt_cr_final| currency:'':decimal_dsc}}</td>

                                                        <td style="text-align:left" ng-dblclick="Report_call(r)" ng-if="temp.payment_plan==true">{{r.fee_status_desc}}</td>
                                                        <td style="text-align:left" ng-dblclick="Report_call(r)" ng-if="temp.payment_plan==true">{{r.sims_remark}}</td>

                                                        <td style="text-align:right" ng-dblclick="Report_call(r)">{{r.pdc_amount| currency:'':decimal_dsc}}</td>
                                                        <td style="text-align:right" ng-dblclick="Report_call(r)">{{r.net_amt | currency:'':decimal_dsc}}</td>
                                                        <td ng-show="show_rerturn_value_column" style="text-align:right" ng-dblclick="Report_call(r)">{{r.return_check_amt| currency:'':decimal_dsc}}</td>
                                                        <td style="text-align:right" ng-dblclick="Report_call(r)">{{r.net_bal_trial_bal | currency:'':decimal_dsc}}</td>
                                                        <td style="text-align:right" ng-dblclick="Report_call(r)">{{r.net_perc_exclude_OB}}</td>
                                                        <td style="text-align:right" ng-dblclick="Report_call(r)">{{r.perc_amt}}</td>
                                                        <td align="right">
                                                            <a href=""><i class="fa fa-edit" ng-click="communication(r)"></i></a>
                                                        </td>
                                                    </tr>


                                                    <tr>
                                                        <td colspan="4" style="text-align:right" ng-if="temp.payment_plan!=true"><b>Total</b></td>
                                                        <td colspan="6" style="text-align:right" ng-if="temp.payment_plan==true"><b>Total</b></td>
                                                        <td style="text-align:right">{{temp.sltr_tran_amt_dr_final_total | currency:'':decimal_dsc}}</td>
                                                        <td style="text-align:right">{{temp.sltr_tran_amt_cr_final_total | currency:'':decimal_dsc}}</td>
                                                        <td style="text-align:right">{{temp.pdc_amount_total | currency:'':decimal_dsc}}</td>
                                                        <td style="text-align:right">{{temp.net_amt_total | currency:'':decimal_dsc}}</td>
                                                        <td ng-show="show_rerturn_value_column" style="text-align:right">{{temp.return_check_amt_total | currency:'':decimal_dsc}}</td>
                                                        <td style="text-align:right">{{temp.net_bal_trial_bal_total | currency:'':decimal_dsc}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <table class="table table-striped table-flip-scroll cf">
                                                        <thead>
                                                            <tr style="" background-color #edefef">
                                                                <th><b>{{"Percentage"|translate}}</b></th>
                                                                <th><b>{{"No Of Families"|translate}}</b></th>
                                                                <th><b>{{"Net Amount"|translate}}</b></th>
                                                            </tr>
                                                        </thead>

                                                        <tbody align="center">
                                                            <tr>
                                                                <td style="text-align:right" ng-dblclick="showpercetagerecord('100','90')">{{"> 90 %"|translate }}</td>
                                                                <td style="text-align:right" ng-dblclick="showpercetagerecord('100','90')">{{Current_year_greater_than_90}}</td>
                                                                <td style="text-align:right" ng-dblclick="showpercetagerecord('100','90')">{{Current_year_greater_than_90_amount | currency:'':decimal_dsc}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="text-align:right" ng-dblclick="showpercetagerecord('89.99','75')">{{"75-90 %"|translate }}</td>
                                                                <td style="text-align:right" ng-dblclick="showpercetagerecord('89.99','75')">{{Current_year_grater_than_75_less_than_90}}</td>
                                                                <td style="text-align:right" ng-dblclick="showpercetagerecord('89.99','75')">{{Current_year_grater_than_75_less_than_90_amount | currency:'':decimal_dsc}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="text-align:right" ng-dblclick="showpercetagerecord('74.99','49.99')">{{"50 - 74 %" | translate}}</td>
                                                                <td style="text-align:right" ng-dblclick="showpercetagerecord('74.99','49.99')">{{Current_year_grater_than_50_less_than_74}}</td>
                                                                <td style="text-align:right" ng-dblclick="showpercetagerecord('74.99','49.99')">{{Current_year_grater_than_50_less_than_74_amount | currency:'':decimal_dsc}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="text-align:right" ng-dblclick="showpercetagerecord('50','0')">{{"< 50 %" |translate }}</td>
                                                                <td style="text-align:right" ng-dblclick="showpercetagerecord('50','0')">{{Current_year_less_than_50}}</td>
                                                                <td style="text-align:right" ng-dblclick="showpercetagerecord('50','0')">{{Current_year_less_than_50_amount | currency:'':decimal_dsc}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="text-align:right">Total</td>
                                                                <td style="text-align:right">{{total_families}}</td>
                                                                <td style="text-align:right">{{total_Perc_Net_amt | currency:'':decimal_dsc}}</td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                        <div ng-show="hideprintpdf">
                                            <div class="col-md-12" id="pdf_print">
                                                <div class="col-md-8" style="font:larger">
                                                    <div class="col-md-12">
                                                        <div class="col-md-1">
                                                            <div class="left_school_logo pull-left">
                                                                <img src="{{SchoolLogo}}{{user_details.lic_school_logo}}" class="logo" alt="" width="120" height="70" />

                                                            </div>
                                                        </div>

                                                        <div class="col-md-11">
                                                            <div class="row" style="margin-left: 149px;font-size: 22px;">
                                                                <b>{{user_details.lic_school_name}}</b><br>
                                                                <span style="font-size: 13px;margin-left: -58px;">Report For {{name}}</span>&nbsp; &nbsp;
                                                                <span style="font-size: 13px">Till Date :{{selected_date}}&nbsp; &nbsp; For Academic Year: {{selected_academic_year}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <table class="table table-striped table-flip-scroll cf">
                                                    <thead>
                                                        <tr style="" background-color #edefef">
                                                            <th rowspan="2"><b>{{"Sr No"|translate}}</b></th>
                                                            <th rowspan="2" ng-click="sort('sims_parent_number')"><b>{{"Family Code"|translate}}</b></th>
                                                            <th rowspan="2" ng-click="sort('father_name')"><b>{{"Name"|translate}}</b></th>
                                                            <th rowspan="2" ng-click="sort('parent_contact_number')"><b>{{"Contact"|translate}}</b></th>

                                                            <th colspan="2" style="text-align:center"> Amount Receivable (Net Balance)</th>

                                                            <th rowspan="2" ng-click="sort('fee_status_desc')" ng-if="temp.payment_plan==true"><b>{{"Payment Plan"|translate}}</b></th>
                                                            <th rowspan="2" ng-click="sort('sims_remark')" ng-if="temp.payment_plan==true"><b>{{"Payment Remark"|translate}}</b></th>


                                                            <th rowspan="2" ng-click="sort('pdc_amount')" style="text-align: right;"><b>{{"Total PDC"|translate}}</b></th>
                                                            <th rowspan="2" ng-click="sort('net_amt')" style="text-align: right;"><b>{{"NET"|translate}}</b></th>
                                                            <th rowspan="2" ng-show="show_rerturn_value_column" ng-click="sort('return_check_amt')" style="text-align: right;"><b>{{"Return Cheques"|translate}}</b></th>

                                                            <th rowspan="2" ng-click="sort('perc_amt')" style="width: 9%;text-align: right;"><b>{{"Net Balance As Per Trial Balance"|translate}}</b></th>
                                                            <th rowspan="2" ng-click="sort('perc_amt')" style="width: 6%;text-align: right;"><b>{{"Current Year %"|translate}}</b></th>
                                                            <th rowspan="2" ng-click="sort('net_perc_exclude_OB_2')" style="width: 4%;text-align: right;"><b>{{"Overall %"|translate}}</b></th>
                                                            <th rowspan="2"></th>
                                                        </tr>

                                                        <tr style="" background-color #edefef">
                                                            <th ng-click="sort('sltr_tran_amt_dr')" style="text-align: right;"><b>{{"Debit"|translate}}</b></th>
                                                            <th ng-click="sort('sltr_tran_amt_cr')" style="text-align: right;"><b>{{"Credit"|translate}}</b></th>
                                                        </tr>
                                                    </thead>

                                                    <tbody align="center">
                                                        <tr ng-repeat="r in filteredTodos|orderBy:colname:reverse|filter:searchText">
                                                            <td style="text-align:left" ng-dblclick="Report_call(r)">{{$index+1}}</td>
                                                            <td style="text-align:left" ng-dblclick="Report_call(r)">{{r.sims_parent_number}}</td>
                                                            <td style="text-align:left" ng-dblclick="Report_call(r)">{{r.father_name}}</td>
                                                            <td style="text-align:left" ng-dblclick="Report_call(r)">{{r.parent_contact_number}}</td>
                                                            <td style="text-align:right" ng-dblclick="Report_call(r)">{{r.sltr_tran_amt_dr_final | currency:'':decimal_dsc}}</td>
                                                            <td style="text-align:right" ng-dblclick="Report_call(r)">{{r.sltr_tran_amt_cr_final| currency:'':decimal_dsc}}</td>

                                                            <td style="text-align:left" ng-dblclick="Report_call(r)" ng-if="temp.payment_plan==true">{{r.fee_status_desc}}</td>
                                                            <td style="text-align:left" ng-dblclick="Report_call(r)" ng-if="temp.payment_plan==true">{{r.sims_remark}}</td>

                                                            <td style="text-align:right" ng-dblclick="Report_call(r)">{{r.pdc_amount| currency:'':decimal_dsc}}</td>
                                                            <td style="text-align:right" ng-dblclick="Report_call(r)">{{r.net_amt | currency:'':decimal_dsc}}</td>
                                                            <td ng-show="show_rerturn_value_column" style="text-align:right" ng-dblclick="Report_call(r)">{{r.return_check_amt| currency:'':decimal_dsc}}</td>
                                                            <td style="text-align:right" ng-dblclick="Report_call(r)">{{r.net_bal_trial_bal | currency:'':decimal_dsc}}</td>
                                                            <td style="text-align:right" ng-dblclick="Report_call(r)">{{r.net_perc_exclude_OB}}</td>
                                                            <td style="text-align:right" ng-dblclick="Report_call(r)">{{r.perc_amt}}</td>
                                                            <td align="right">
                                                                <a href=""><i class="fa fa-edit" ng-click="communication(r)"></i></a>
                                                            </td>
                                                        </tr>


                                                        <tr>
                                                            <td colspan="4" style="text-align:right" ng-if="temp.payment_plan!=true"><b>Total</b></td>
                                                            <td colspan="6" style="text-align:right" ng-if="temp.payment_plan==true"><b>Total</b></td>
                                                            <td style="text-align:right">{{temp.sltr_tran_amt_dr_final_total | currency:'':decimal_dsc}}</td>
                                                            <td style="text-align:right">{{temp.sltr_tran_amt_cr_final_total | currency:'':decimal_dsc}}</td>
                                                            <td style="text-align:right">{{temp.pdc_amount_total | currency:'':decimal_dsc}}</td>
                                                            <td style="text-align:right">{{temp.net_amt_total | currency:'':decimal_dsc}}</td>
                                                            <td ng-show="show_rerturn_value_column" style="text-align:right">{{temp.return_check_amt_total | currency:'':decimal_dsc}}</td>
                                                            <td style="text-align:right">{{temp.net_bal_trial_bal_total | currency:'':decimal_dsc}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>


                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <table class="table table-striped table-flip-scroll cf">
                                                            <thead>
                                                                <tr style="" background-color #edefef">
                                                                    <th><b>{{"Percentage"|translate}}</b></th>
                                                                    <th><b>{{"No Of Families"|translate}}</b></th>
                                                                    <th><b>{{"Net Amount"|translate}}</b></th>
                                                                </tr>
                                                            </thead>

                                                            <tbody align="center">
                                                                <tr>
                                                                    <td style="text-align:right" ng-dblclick="showpercetagerecord('100','90')">{{"> 90 %"|translate }}</td>
                                                                    <td style="text-align:right" ng-dblclick="showpercetagerecord('100','90')">{{Current_year_greater_than_90}}</td>
                                                                    <td style="text-align:right" ng-dblclick="showpercetagerecord('100','90')">{{Current_year_greater_than_90_amount | currency:'':decimal_dsc}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="text-align:right" ng-dblclick="showpercetagerecord('89.99','75')">{{"75-90 %"|translate }}</td>
                                                                    <td style="text-align:right" ng-dblclick="showpercetagerecord('89.99','75')">{{Current_year_grater_than_75_less_than_90}}</td>
                                                                    <td style="text-align:right" ng-dblclick="showpercetagerecord('89.99','75')">{{Current_year_grater_than_75_less_than_90_amount | currency:'':decimal_dsc}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="text-align:right" ng-dblclick="showpercetagerecord('74.99','49.99')">{{"50 - 74 %" | translate}}</td>
                                                                    <td style="text-align:right" ng-dblclick="showpercetagerecord('74.99','49.99')">{{Current_year_grater_than_50_less_than_74}}</td>
                                                                    <td style="text-align:right" ng-dblclick="showpercetagerecord('74.99','49.99')">{{Current_year_grater_than_50_less_than_74_amount | currency:'':decimal_dsc}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="text-align:right" ng-dblclick="showpercetagerecord('50','0')">{{"< 50 %" |translate }}</td>
                                                                    <td style="text-align:right" ng-dblclick="showpercetagerecord('50','0')">{{Current_year_less_than_50}}</td>
                                                                    <td style="text-align:right" ng-dblclick="showpercetagerecord('50','0')">{{Current_year_less_than_50_amount | currency:'':decimal_dsc}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="text-align:right">Total</td>
                                                                    <td style="text-align:right">{{total_families}}</td>
                                                                    <td style="text-align:right">{{total_Perc_Net_amt | currency:'':decimal_dsc}}</td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div ng-show="student_analysis">
                                        <div class="col-md-12" id="rpt_data1">
                                            <table class="table table-striped table-flip-scroll cf">
                                                <thead>
                                                    <tr style="" background-color #edefef">
                                                        <th><b>{{"Sr No"|translate}}</b></th>
                                                        <th ng-click="sortBy('sims_enroll_number')"><b>{{"Id"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_enroll_number'" ng-class="{reverse: reverse}"></span></th>
                                                        <th ng-click="sortBy('student_name')"><b>{{"Name"|translate}}</b><span class="sortorder" ng-show="propertyName === 'student_name'" ng-class="{reverse: reverse}"></span></th>
                                                        <th ng-click="sortBy('sims_parent_number')"><b>{{"Family Id"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_parent_number'" ng-class="{reverse: reverse}"></span></th>
                                                        <th ng-click="sortBy('parent_contact_number')"><b>{{"Parent Contact"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_parent_number'" ng-class="{reverse: reverse}"></span></th>
                                                        <th ng-click="sortBy('class1')"><b>{{"Grade"|translate}}</b><span class="sortorder" ng-show="propertyName === 'class1'" ng-class="{reverse: reverse}"></span></th>
                                                        <th ng-click="sortBy('sltr_tran_amt_dr')"><b>{{"Debit"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sltr_tran_amt_dr'" ng-class="{reverse: reverse}"></span></th>
                                                        <th ng-click="sortBy('sltr_tran_amt_cr')"><b>{{"Credit"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sltr_tran_amt_cr'" ng-class="{reverse: reverse}"></span></th>
                                                        <th ng-click="sortBy('pdc_amount')"><b>{{"Total PDC"|translate}}</b><span class="sortorder" ng-show="propertyName === 'pdc_amount'" ng-class="{reverse: reverse}"></span></th>
                                                        <th ng-click="sortBy('net_amt')"><b>{{"NET"|translate}}</b><span class="sortorder" ng-show="propertyName === 'net_amt'" ng-class="{reverse: reverse}"></span></th>
                                                        <th ng-click="sortBy('perc_amt')"><b>{{"%"|translate}}</b><span class="sortorder" ng-show="propertyName === 'perc_amt'" ng-class="{reverse: reverse}"></span></th>

                                                    </tr>
                                                </thead>

                                                <tbody align="center">
                                                    <tr ng-repeat="r in filteredTodos|orderBy:colname:reverse|filter:searchText" ng-click="Report_call(r)">
                                                        <td style="text-align:left">{{$index+1}}</td>
                                                        <td style="text-align:left">{{r.sims_enroll_number}}</td>
                                                        <td style="text-align:left">{{r.student_name}}</td>
                                                        <td style="text-align:left">{{r.sims_parent_number}}</td>
                                                        <td style="text-align:left">{{r.parent_contact_number}}</td>
                                                        <td style="text-align:left">{{r.class1}}</td>
                                                        <td style="text-align:right">{{r.sltr_tran_amt_dr | currency:'':decimal_dsc}}</td>
                                                        <td style="text-align:right">{{r.sltr_tran_amt_cr| currency:'':decimal_dsc}}</td>
                                                        <td style="text-align:right">{{r.pdc_amount| currency:'':decimal_dsc}}</td>
                                                        <td style="text-align:right">{{r.net_amt | currency:'':decimal_dsc}}</td>
                                                        <td style="text-align:right">{{r.perc_amt | currency:'':decimal_dsc}}</td>

                                                    </tr>
                                                    <tr>
                                                        <td colspan="6" style="text-align:right"><b>Total</b></td>
                                                        <td style="text-align:right">{{temp.sltr_tran_amt_dr_total | currency:'':decimal_dsc}}</td>
                                                        <td style="text-align:right">{{temp.sltr_tran_amt_cr_total | currency:'':decimal_dsc}}</td>
                                                        <td style="text-align:right">{{temp.pdc_amount_total | currency:'':decimal_dsc}}</td>
                                                        <td style="text-align:right">{{temp.net_amt_total | currency:'':decimal_dsc}}</td>
                                                        <td style="text-align:right"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div ng-show="hideprintpdf">
                                            <div class="col-md-12" id="pdf_print1">
                                                <div class="col-md-8" style="font:larger">
                                                    <div class="col-md-12">
                                                        <div class="col-md-1">
                                                            <div class="left_school_logo pull-left">
                                                                <img src="{{SchoolLogo}}{{user_details.lic_school_logo}}" class="logo" alt="" width="120" height="70" />

                                                            </div>
                                                        </div>

                                                        <div class="col-md-11">
                                                            <div class="row" style="margin-left: 149px;font-size: 22px;">
                                                                <b>{{user_details.lic_school_name}}</b><br>
                                                                <span style="font-size: 13px;margin-left: -58px;">Report For {{name}}</span>&nbsp; &nbsp;
                                                                <span style="font-size: 13px">Till Date :{{selected_date}}&nbsp; &nbsp; For Academic Year: {{selected_academic_year}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <table class="table table-bordered text-center">
                                                    <thead>
                                                        <tr style="background-color:#edefef">
                                                            <th><b>{{"Sr No"|translate}}</b></th>
                                                            <th ng-click="sortBy('sims_enroll_number')"><b>{{"Id"|translate}}</b></th>
                                                            <th ng-click="sortBy('student_name')"><b>{{"Name"|translate}}</b></th>
                                                            <th ng-click="sortBy('sims_parent_number')"><b>{{"Family Id"|translate}}</b></th>
                                                            <th ng-click="sortBy('parent_contact_number')"><b>{{"Parent Contact"|translate}}</b></th>
                                                            <th ng-click="sortBy('class1')"><b>{{"Grade"|translate}}</b></th>
                                                            <th ng-click="sortBy('sltr_tran_amt_dr')"><b>{{"Debit"|translate}}</b></th>
                                                            <th ng-click="sortBy('sltr_tran_amt_cr')"><b>{{"Credit"|translate}}</b></th>
                                                            <th ng-click="sortBy('pdc_amount')"><b>{{"Total PDC"|translate}}</b></th>
                                                            <th ng-click="sortBy('net_amt')"><b>{{"NET"|translate}}</b></th>
                                                            <th ng-click="sortBy('perc_amt')"><b>{{"%"|translate}}</b></th>

                                                        </tr>
                                                    </thead>

                                                    <tbody align="center">
                                                        <tr ng-repeat="r in filteredTodos|orderBy:colname:reverse|filter:searchText">
                                                            <td style="text-align:left">{{$index+1}}</td>
                                                            <td style="text-align:left">{{r.sims_enroll_number}}</td>
                                                            <td style="text-align:left">{{r.student_name}}</td>
                                                            <td style="text-align:left">{{r.sims_parent_number}}</td>
                                                            <td style="text-align:left">{{r.parent_contact_number}}</td>
                                                            <td style="text-align:left">{{r.class1}}</td>
                                                            <td style="text-align:right">{{r.sltr_tran_amt_dr | currency:'':decimal_dsc}}</td>
                                                            <td style="text-align:right">{{r.sltr_tran_amt_cr | currency:'':decimal_dsc}}</td>
                                                            <td style="text-align:right">{{r.pdc_amount | currency:'':decimal_dsc}}</td>
                                                            <td style="text-align:right">{{r.net_amt | currency:'':decimal_dsc}}</td>
                                                            <td style="text-align:right">{{r.perc_amt | currency:'':decimal_dsc}}</td>

                                                        </tr>
                                                        <tr>
                                                            <td colspan="6" style="text-align:right"><b>Total</b></td>
                                                            <td style="text-align:right">{{temp.sltr_tran_amt_dr_total | currency:'':decimal_dsc}}</td>
                                                            <td style="text-align:right">{{temp.sltr_tran_amt_cr_total | currency:'':decimal_dsc}}</td>
                                                            <td style="text-align:right">{{temp.pdc_amount_total | currency:'':decimal_dsc}}</td>
                                                            <td style="text-align:right">{{temp.net_amt_total | currency:'':decimal_dsc}}</td>
                                                            <td style="text-align:right"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" ng-show="pager">
                                        <div class="col-md-12">
                                            <div class="pull-right">
                                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                                        ng-click="index(currentPage)">
                                                </paging>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</body>
</html>

<div class="modal fade in" id="CommunicationModal" role="dialog" style="display: none;">
    <div class="modal-dialog" style="width: 1024px; border: solid; border-width: 02px; border-bottom-left-radius: 05px; border-bottom-right-radius: 05px; border-top-left-radius: 05px; border-top-right-radius: 05px; border-color: blue">
        <div class="modal-content">
            <div class="modal-header ng-scope" style="height: 40px;">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px">{{"Communication" | translate}}<b></b></h4>
                </div>
                <div class="pull-right">
                    <a href="">
                        <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>
                    </a>
                </div>
            </div>
            <div class="grid-body no-border">
                <div class="col-md-12" style="padding:1%;">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Parent ID</label>
                            <input type="text" class="k-textbox input-sm full-width" readonly="readonly" ng-model="parent_id" />
                        </div>
                        <div class="col-md-3">
                            <label>Parent Name</label>
                            <input type="text" class="k-textbox input-sm full-width" readonly="readonly" ng-model="parent_name" />
                        </div>
                        <div class="col-md-3">
                            <label>Contact No</label>
                            <input type="text" class="k-textbox input-sm full-width" readonly="readonly" ng-model="parent_contact" />
                        </div>
                    </div>
                    <div class="row">
                        <!-- payment plan of student-->
                        <div class="col-md-3">
                            <label>{{"Registration Details"|translate}}</label>
                            <select id="Select3" data-role="dropdownlist" class="form-control" ng-model="sims_promote_status">
                                <option value=" ">Please Select</option>
                                <option ng-selected="registration_status==Reg.sims_student_attribute2"
                                        ng-repeat="Reg in Resstatus |filter:{sims_student_attribute2:''}"
                                        value="{{Reg.sims_student_attribute1}}">
                                    {{Reg.sims_student_attribute2}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>{{"Payment Plans"|translate}}</label>
                            <select id="Select1" data-role="dropdownlist" class="form-control" ng-model="sims_fee_paid">
                                <option value=" ">Please Select</option>
                                <option ng-selected="fees_payment_plan==Fee.sims_student_attribute4"
                                        ng-repeat="Fee in Feestatus |filter:{sims_student_attribute4:''}"
                                        value="{{Fee.sims_student_attribute3}}">
                                    {{Fee.sims_student_attribute4}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>Parent Remark</label>
                            <input type="text" class="k-textbox input-sm full-width" ng-model="sims_promote_remark" ng-disabled="sims_edit_remark" />
                        </div>
                        <div class="col-md-1">
                            <label>Edit Remark</label>
                            <div class="col-md-12">
                                <div class="checkbox check-success">
                                    <input type="checkbox" id="chkmarks" ng-model="check_remark_flag" ng-change="check_edit_remark(check_remark_flag)" />
                                    <label for="chkmarks"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <br />
                            <p align="center">  <button class="btn btn-warning btn-cons btn-small" type="button" ng-click="saveFamilyPlan(parent_id)">{{"Update"| translate }}</button></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="padding:1%;">
                            <h3>Childrens Details</h3>


                            <div>
                                <div id="Div3" class="dataTables_wrapper form-inline">
                                    <div class="row" id="percentage">
                                        <div class="col-md-12 margin-top">
                                            <table class="table table-bordered table-condensed" id="Table3" aria-describedby="example2_info">
                                                <thead>
                                                    <tr>
                                                        <th>{{"Sr No."|translate}}</th>
                                                        <th>{{"Enrollment No"|translate}}</th>
                                                        <th>{{"Student Name"|translate}}</th>
                                                        <th>{{"Student Class"|translate}}</th>
                                                        <th>{{"Due Amount"|translate}}</th>
                                                        <th>{{"Status"|translate}}</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr ng-repeat="info in parentstudent">
                                                        <td> <div class="text-default"> {{$index+1}}</div></td>
                                                        <td> <div class="text-default">{{info.sims_enroll_number}}</div></td>
                                                        <td><div class="text-default">{{info.student_name}}</div></td>
                                                        <td><div class="text-default">{{info.class1}}</div></td>
                                                        <td><div class="text-default">{{info.net_amt | currency:'':decimal_dsc}}</div></td>
                                                        <td>
                                                            <div class="checkbox check-success">
                                                                <input type="checkbox" id="chkstaus_{{$index+1}}" ng-model="info.sims_status" ng-change="save_parentPortalStatus(info)"/>
                                                                <label for="chkstaus_{{$index+1}}"></label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4"></td>
                                                        <td align="right"><strong>Total</strong></td>
                                                        <td align="right"><strong>{{com_total | currency:'':decimal_dsc}}</strong></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ********************************************** FOR inserting data**************************************-->
            <div class="grid-body no-border">
                <div class="col-md-12" style="padding:1%;">
                    <div class="row">
                        <div class="col-md-3">
                            <label>School Remark</label>
                            <input type="text" class="k-textbox input-sm full-width" ng-model="school_remark" />
                        </div>

                        <div class="col-md-3">
                            <label>Parent Remark</label>
                            <input type="text" class="k-textbox input-sm full-width" ng-model="parent_remark" />
                        </div>

                        <div class="col-md-3">
                            <label>Expected Payment Date</label>
                            <input type="text" class="k-textbox input-sm full-width" id="expected_date" ng-change="showdate(temp.doc_date,'from_date')" ng-model="expected_date">
                        </div>

                        <div class="col-md-3">
                            <br />
                            <p align="right">  <button class="btn btn-primary btn-cons btn-small" type="button" ng-click="save_communication()">{{"Save"| translate }}</button></p>
                        </div>
                    </div>
                </div>

                <!-- payment plan of student end -->
            </div>
            <!-- ********************************************** FINISHED inserting data *********************************-->
            <div class="grid-body no-border">
                <div class="col-md-12" style="padding:1%;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button class="btn btn-warning btn-cons btn-small" type="button" ng-click="comunnication_report()">{{"Export"| translate}}</button>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <hr class="color-bands green" style="display: block; width: 100%" />
                            <div>
                                <div id="Div3" class="dataTables_wrapper form-inline">
                                    <div class="row" id="commuication_table">
                                        <div class="col-md-12 margin-top">
                                            <table class="table table-bordered table-condensed" id="Table3" aria-describedby="example2_info">
                                                <thead>
                                                    <tr>
                                                        <th>{{"Sr No."|translate}}</th>
                                                        <th>{{"Communication Date"|translate}}</th>
                                                        <th>{{"School Remark"|translate}}</th>
                                                        <th>{{"Parent Remark"|translate}}</th>
                                                        <th>{{"Expected Date"|translate}}</th>
                                                        <th>{{"Contacted By"|translate}}</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr ng-repeat="info in getcommunicationdetails">
                                                        <td> <div class="text-default">{{$index+1}}</div></td>
                                                        <td> <div class="text-default">{{info.sims_transaction_date}}</div></td>
                                                        <td><div class="text-default">{{info.sims_school_remark}}</div></td>
                                                        <td><div class="text-default">{{info.sims_parent_remark}}</div></td>
                                                        <td><div class="text-default">{{info.expected_payment_date}}</div></td>
                                                        <td><div class="text-default">{{info.sims_transaction_by}}</div></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade in" id="feemodal" role="dialog" style="display: none;">
    <div class="modal-dialog" style="width: 1024px; border: solid; border-width: 02px; border-bottom-left-radius: 05px; border-bottom-right-radius: 05px; border-top-left-radius: 05px; border-top-right-radius: 05px; border-color: blue">
        <div class="modal-content">
            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px;font-weight:600">Student/Family Statement<b></b></h4>
                </div>
                <div class="pull-right">
                    <a href="">
                        <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>
                    </a>
                </div>

            </div>
            <div class="col-md-12" ng-hide="report_show">
                <div class="row report_holder">
                    <div id="reportViewer1">
                        loading...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="percetagemodal" role="dialog" style="display: none;">
    <div class="modal-dialog" style="width: 1024px; border: solid; border-width: 02px; border-bottom-left-radius: 05px; border-bottom-right-radius: 05px; border-top-left-radius: 05px; border-top-right-radius: 05px; border-color: blue">
        <div class="modal-content">
            <div class="modal-header ng-scope" style="height: 40px;">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px">{{modal_header}}<b></b></h4>
                </div>
<!--                <div class="pull-right">-->
                    <div class="col-md-12">
                        <div class="col-md-8">
                         </div>
                        <div class="col-md-2">
                        <button type="button" class="btn btn-primary btn-cons" ng-click="exportData2()">{{"Excel"|translate}}</button>
                        </div>
                        <div class="col-md-2 pull-right">
                        <a href="">
                            <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>
                        </a>
                        </div>
                    </div>
<!--                </div>-->
            </div>
            <div class="grid-body no-border">
                <div class="col-md-12" style="padding:1%;">
                    <div class="row">
                        <table class="table table-striped table-flip-scroll cf">
                            <thead>
                                <tr style="" background-color #edefef">
                                    <th rowspan="2"><b>{{"Sr No"|translate}}</b></th>
                                    <th rowspan="2" ng-click="sort('sims_parent_number')"><b>{{"Family Code"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                    <th rowspan="2" ng-click="sort('father_name')"><b>{{"Name"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                    <th rowspan="2" ng-click="sort('parent_contact_number')"><b>{{"Contact"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>

                                    <th colspan="2" style="text-align:center"> Amount Receivable (Net Balance)</th>

                                    <th rowspan="2" ng-click="sort('fee_status_desc')" ng-if="temp.payment_plan==true"><b>{{"Payment Plan"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                    <th rowspan="2" ng-click="sort('sims_remark')" ng-if="temp.payment_plan==true"><b>{{"Payment Remark"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>


                                    <th rowspan="2" ng-click="sort('pdc_amount')" style="text-align: right;"><b>{{"Total PDC"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                    <th rowspan="2" ng-click="sort('net_amt')" style="text-align: right;"><b>{{"NET"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                    <th rowspan="2" ng-show="show_rerturn_value_column" ng-click="sort('return_check_amt')" style="text-align: right;"><b>{{"Return Cheques"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>

                                    <th rowspan="2" ng-click="sort('perc_amt')" style="width: 9%;text-align: right;"><b>{{"Net Balance As Per Trial Balance"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                    <th rowspan="2" ng-click="sort('perc_amt')" style="width: 6%;text-align: right;"><b>{{"Current Year %"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                    <th rowspan="2" ng-click="sort('net_perc_exclude_OB_2')" style="width: 4%;text-align: right;"><b>{{"Overall %"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                    <th rowspan="2"></th>
                                </tr>

                                <tr style="" background-color #edefef">
                                    <th ng-click="sort('sltr_tran_amt_dr')" style="text-align: right;"><b>{{"Debit"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                    <th ng-click="sort('sltr_tran_amt_cr')" style="text-align: right;"><b>{{"Credit"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                </tr>
                            </thead>

                            <tbody align="center">
                                <tr ng-repeat="r in newtablepercentage|orderBy:colname:reverse|filter:searchText">
                                    <td style="text-align:left" ng-dblclick="Report_call(r)">{{$index+1}}</td>
                                    <td style="text-align:left" ng-dblclick="Report_call(r)">{{r.sims_parent_number}}</td>
                                    <td style="text-align:left" ng-dblclick="Report_call(r)">{{r.father_name}}</td>
                                    <td style="text-align:left" ng-dblclick="Report_call(r)">{{r.parent_contact_number}}</td>
                                    <td style="text-align:right" ng-dblclick="Report_call(r)">{{r.sltr_tran_amt_dr_final | currency:'':decimal_dsc}}</td>
                                    <td style="text-align:right" ng-dblclick="Report_call(r)">{{r.sltr_tran_amt_cr_final| currency:'':decimal_dsc}}</td>

                                    <td style="text-align:left" ng-dblclick="Report_call(r)" ng-if="temp.payment_plan==true">{{r.fee_status_desc}}</td>
                                    <td style="text-align:left" ng-dblclick="Report_call(r)" ng-if="temp.payment_plan==true">{{r.sims_remark}}</td>

                                    <td style="text-align:right" ng-dblclick="Report_call(r)">{{r.pdc_amount| currency:'':decimal_dsc}}</td>
                                    <td style="text-align:right" ng-dblclick="Report_call(r)">{{r.net_amt | currency:'':decimal_dsc}}</td>
                                    <td ng-show="show_rerturn_value_column" style="text-align:right" ng-dblclick="Report_call(r)">{{r.return_check_amt| currency:'':decimal_dsc}}</td>
                                    <td style="text-align:right" ng-dblclick="Report_call(r)">{{r.net_bal_trial_bal | currency:'':decimal_dsc}}</td>
                                    <td style="text-align:right" ng-dblclick="Report_call(r)">{{r.net_perc_exclude_OB}}</td>
                                    <td style="text-align:right" ng-dblclick="Report_call(r)">{{r.perc_amt}}</td>
                                    <td align="right">
                                        <a href=""><i class="fa fa-edit" ng-click="communication(r)"></i></a>
                                    </td>
                                </tr>


                                <tr>
                                    <td colspan="4" style="text-align:right" ng-if="temp.payment_plan!=true"><b>Total</b></td>
                                    <td colspan="6" style="text-align:right" ng-if="temp.payment_plan==true"><b>Total</b></td>
                                    <td style="text-align:right">{{temp.sltr_tran_amt_dr_total_modal | currency:'':decimal_dsc}}</td>
                                    <td style="text-align:right">{{temp.sltr_tran_amt_cr_total_modal | currency:'':decimal_dsc}}</td>
                                    <td style="text-align:right">{{temp.pdc_amount_total_modal | currency:'':decimal_dsc}}</td>
                                    <td style="text-align:right">{{temp.net_amt_total_modal | currency:'':decimal_dsc}}</td>
                                    <td ng-show="show_rerturn_value_column" style="text-align:right">{{temp.return_check_amt_total_modal | currency:'':decimal_dsc}}</td>
                                    <td style="text-align:right">{{temp.net_bal_trial_bal_total_modal | currency:'':decimal_dsc}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="row" id="printperc" ng-show="false">
                        <table class="table table-striped table-flip-scroll cf">
                            <thead>
                                <tr style="" background-color #edefef">
                                    <th rowspan="2"><b>{{"Sr No"|translate}}</b></th>
                                    <th rowspan="2" ng-click="sort('sims_parent_number')"><b>{{"Family Code"|translate}}</b></th>
                                    <th rowspan="2" ng-click="sort('father_name')"><b>{{"Name"|translate}}</b></th>
                                    <th rowspan="2" ng-click="sort('parent_contact_number')"><b>{{"Contact"|translate}}</b></th>

                                    <th colspan="2" style="text-align:center"> Amount Receivable (Net Balance)</th>

                                    <th rowspan="2" ng-click="sort('fee_status_desc')" ng-if="temp.payment_plan==true"><b>{{"Payment Plan"|translate}}</b></th>
                                    <th rowspan="2" ng-click="sort('sims_remark')" ng-if="temp.payment_plan==true"><b>{{"Payment Remark"|translate}}</b></th>


                                    <th rowspan="2" ng-click="sort('pdc_amount')" style="text-align: right;"><b>{{"Total PDC"|translate}}</b></th>
                                    <th rowspan="2" ng-click="sort('net_amt')" style="text-align: right;"><b>{{"NET"|translate}}</b></th>
                                    <th rowspan="2" ng-show="show_rerturn_value_column" ng-click="sort('return_check_amt')" style="text-align: right;"><b>{{"Return Cheques"|translate}}</b></th>

                                    <th rowspan="2" ng-click="sort('perc_amt')" style="width: 9%;text-align: right;"><b>{{"Net Balance As Per Trial Balance"|translate}}</b></th>
                                    <th rowspan="2" ng-click="sort('perc_amt')" style="width: 6%;text-align: right;"><b>{{"Current Year %"|translate}}</b></th>
                                    <th rowspan="2" ng-click="sort('net_perc_exclude_OB_2')" style="width: 4%;text-align: right;"><b>{{"Overall %"|translate}}</b></th>
                                    <th rowspan="2"></th>
                                </tr>

                                <tr style="" background-color #edefef">
                                    <th ng-click="sort('sltr_tran_amt_dr')" style="text-align: right;"><b>{{"Debit"|translate}}</b></th>
                                    <th ng-click="sort('sltr_tran_amt_cr')" style="text-align: right;"><b>{{"Credit"|translate}}</b></th>
                                </tr>
                            </thead>

                            <tbody align="center">
                                <tr ng-repeat="r in newtablepercentage|orderBy:colname:reverse|filter:searchText">
                                    <td style="text-align:left" ng-dblclick="Report_call(r)">{{$index+1}}</td>
                                    <td style="text-align:left" ng-dblclick="Report_call(r)">{{r.sims_parent_number}}</td>
                                    <td style="text-align:left" ng-dblclick="Report_call(r)">{{r.father_name}}</td>
                                    <td style="text-align:left" ng-dblclick="Report_call(r)">{{r.parent_contact_number}}</td>
                                    <td style="text-align:right" ng-dblclick="Report_call(r)">{{r.sltr_tran_amt_dr_final | currency:'':decimal_dsc}}</td>
                                    <td style="text-align:right" ng-dblclick="Report_call(r)">{{r.sltr_tran_amt_cr_final| currency:'':decimal_dsc}}</td>

                                    <td style="text-align:left" ng-dblclick="Report_call(r)" ng-if="temp.payment_plan==true">{{r.fee_status_desc}}</td>
                                    <td style="text-align:left" ng-dblclick="Report_call(r)" ng-if="temp.payment_plan==true">{{r.sims_remark}}</td>

                                    <td style="text-align:right" ng-dblclick="Report_call(r)">{{r.pdc_amount| currency:'':decimal_dsc}}</td>
                                    <td style="text-align:right" ng-dblclick="Report_call(r)">{{r.net_amt | currency:'':decimal_dsc}}</td>
                                    <td ng-show="show_rerturn_value_column" style="text-align:right" ng-dblclick="Report_call(r)">{{r.return_check_amt| currency:'':decimal_dsc}}</td>
                                    <td style="text-align:right" ng-dblclick="Report_call(r)">{{r.net_bal_trial_bal | currency:'':decimal_dsc}}</td>
                                    <td style="text-align:right" ng-dblclick="Report_call(r)">{{r.net_perc_exclude_OB}}</td>
                                    <td style="text-align:right" ng-dblclick="Report_call(r)">{{r.perc_amt}}</td>
                                    <td align="right">
                                        <a href=""><i class="fa fa-edit" ng-click="communication(r)"></i></a>
                                    </td>
                                </tr>


                                <tr>
                                    <td colspan="4" style="text-align:right" ng-if="temp.payment_plan!=true"><b>Total</b></td>
                                    <td colspan="6" style="text-align:right" ng-if="temp.payment_plan==true"><b>Total</b></td>
                                    <td style="text-align:right">{{temp.sltr_tran_amt_dr_total_modal | currency:'':decimal_dsc}}</td>
                                    <td style="text-align:right">{{temp.sltr_tran_amt_cr_total_modal | currency:'':decimal_dsc}}</td>
                                    <td style="text-align:right">{{temp.pdc_amount_total_modal | currency:'':decimal_dsc}}</td>
                                    <td style="text-align:right">{{temp.net_amt_total_modal | currency:'':decimal_dsc}}</td>
                                    <td ng-show="show_rerturn_value_column" style="text-align:right">{{temp.return_check_amt_total_modal | currency:'':decimal_dsc}}</td>
                                    <td style="text-align:right">{{temp.net_bal_trial_bal_total_modal | currency:'':decimal_dsc}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<style>
    .displayerror {
        left: 30%;
        font-size: 20px;
        width: 40%;
        color: black;
        text-align: center;
        position: relative;
    }

    .radio, .checkbox {
        margin-bottom: 0;
        margin-top: 15px;
        padding-left: 10px;
    }

    .form-label1 {
        margin-top: 2px;
        margin-left: 7px;
    }
</style>

<style>
    #reportViewer1 {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 5px;
        overflow: hidden;
        font-family: Verdana, Arial;
    }

    .cr {
        cursor: pointer;
    }

    .report_holder {
        height: 500px;
        position: relative;
    }


    .radio, .checkbox {
        margin-top: 5px;
    }
</style>
<!--<style>
    .btn {
        line-height: 0px !important;
    }
</style>-->


<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/plugins/fileSaver.js"></script>
<script src="assets/js/jszip.js"></script>
<script src="assets/js/xlsx.js"></script>
<script src="assets/js/xlsx-reader.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>
<script src="assets/plugins/fileSaver.js"></script>
<script src="https://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.12/xlsx.core.min.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>
<script src="assets/js/moment.js"></script>



