﻿<style>
    .ms-choice {
        height: 26px;
       
    }
     .greed-title {
            margin-bottom: 15px;

    }
</style>


<!DOCTYPE html>
<html>
<body>
    <div class="grid-simple">
        <div class="content">
            <div class="row" >
                <div class="col-md-12" style="padding-left:14px !important;padding-right:14px !important;background:#d8ebf4 !important;">
                    <!--<div class="grid simple">-->
                        <div class="greed-title no-border" style="padding-bottom:0px !important;padding-top: 4px !important">

                            <div class="row" style="background:#d8ebf4 !important;padding-bottom:12px !important;padding-top: 6px !important">

                                <div class="col-md-12">
                   <div class="col-md-1">
                                    <label id="Label" for="txt_Nationality_Code" class="form-label">
                                        <i class="fa fa-book"></i>
                                        {{"Curriculum"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="temp.sims_cur_code" ng-selected="" name="sims_cur_code" ng-change="getAcademic_year(temp.sims_cur_code)"
                                            ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in cur_data" required></select>
                                </div>

                   <div class="col-md-2" style="margin-right:-79px;padding-right: 80px;">
                                    <label id="Label1" for="txt_Nationality_Code" class="form-label">
                                        <i class="fa fa-calendar"></i>
                                        {{"Academic Year"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="Select1" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="temp.sims_academic_year" ng-selected="" name="sims_academic_year" ng-change="getGrade(temp.sims_cur_code,temp.sims_academic_year)"
                                            ng-options="acad.sims_academic_year as acad.sims_academic_year_desc for acad in acad_data" required></select>
                                </div>

                   <div class="col-md-1">
                     <label id="Label3" for="txt_Nationality_Code" class="form-label style="margin-top: 2px;">
                                 <label><i class="fa fa-sitemap	"></i>&nbsp;{{"Grade"|translate}}<span class="asterisk" style="color: red">*</span></label>
                                 <select id="cmb_grade_code" multiple="multiple" class="full-width" ng-model="temp.sims_grade_code" ng-change="getSection(temp.sims_cur_code,temp.sims_academic_year,temp.sims_grade_code)">
                                     <option ng-repeat="grade in Grade_code|filter:{sims_grade_name:''}" value="{{grade.sims_grade_code}} ">{{grade.sims_grade_name}}</option>
                                 </select>
                                </div>

                   <div class="col-md-1">
                           <label id="Label2" for="txt_Nationality_Code" class="form-label style="margin-top: 2px;">
                        <label><label><i class="fa fa-align-justify"></i>&nbsp;{{"Section"|translate}} <span class="asterisk" style="color: red">*</span></label>
                        <select id="cmb_section_code" multiple="multiple" class="full-width" ng-model="temp.sims_section_code" ng-change="parameter()">
                            <option ng-repeat="section in Section_code|filter:{sims_section_name:''}" value="{{section.sims_section_code}} ">{{section.sims_section_name}}</option>
                        </select>
                    </div>

                   <div class="col-md-2">
                                    <label id="Label4" for="txt_Nationality_Code" class="form-label">
                                        <i class="fa fa-bookmark"></i>
                                        {{"Concession Type"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="con" multiple="multiple" class ="form-control input-sm full-width"
                                            ng-model="temp.sims_concession_number" ng-selected="" name="sims_concession_number"
                                            ng-options="temp.sims_concession_number as temp.sims_concession_description for temp in con_for" required></select>
                                </div>

                   <div class="col-md-5">                 
                         
                <div class="pull-right">
                    <label>&nbsp;</label>
                    <button type="button" class="btn btn-primary btn-cons" ng-click="getdetails()">{{"Submit"|translate}}</button>
                    <button class="btn btn-rounded btn-warning btn-cons" type="button" ng-click="reset_data()"><i class="icon-ok"></i>{{"Reset"|translate}}</button>
                    <button type="button" class="btn btn-primary btn-cons" ng-click="exportData()">{{"Excel"|translate}}</button>
                    <button type="button" class="btn btn-primary btn-cons" ng-click="print()">{{"Print"|translate}}</button>
                </div>
            </div>
                                   

                            </div><!---- row -->
                           
                           



                        </div>
                    <!--</div>-->
                </div>
            </div>

            <div ng-show="detailsField">

                <div class="content" style=" margin-left:  -6px; margin-right: -5px;">
                    <div class="greed-title no-border" style="background-color:  white;">
                        <div class="col-md-12">
                            <div class="row margin-top=0px">
                                <div class="col-md-6" style=" padding-left: 6px;">
                                    <select id=" select1" style="width: 60px;" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                        <option value="30" class=" form-control input-sm">
                                            30
                                        </option>

                                        <option value="60" class=" form-control input-sm">
                                            60
                                        </option>

                                        <option value="All" class=" form-control input-sm">
                                            All
                                        </option>
                                    </select>
                                </div>

                                <div class="col-md-6">                
                <div class="pull-right">
                    <span class="k-textbox k-space-right">
                        <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                        <a href="#" class="k-icon k-i-search">&nbsp;</a>
                    </span>
                </div>
            </div>
                            </div>
                        </div>

                        
           

                    <div class="grid-body no-border">
                <div class="row margin-top" >
                    <div class="row margin-top">
                      <div class="col-md-12" id="rpt_data1" style="overflow-x:auto;margin-left:6px !important;">
                            <table class="table table-striped table-flip-scroll cf" style="width:99% !important;">
                                <thead ng-if="!colsvis">
                                    <tr style="" background-color #edefef">
                                        <th style="width:4% !important;"><i class="fa fa-sort-numeric-asc"></i>&nbsp;<b>{{"Sr No"|translate}}</b></th>
                                        <th ng-click="sortBy('sims_enroll_number')"style="width:6% !important;"><i class="fa fa-sort-numeric-asc"></i>&nbsp;<b>{{"Enroll No"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_enroll_number'" ng-class="{reverse: reverse}"></span></th>
                                        <th ng-click="sortBy('sims_student_name_en')"style="width:12% !important;"><i class="fa fa-user"></i>&nbsp;<b>{{"Student Name"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_student_name_en'" ng-class="{reverse: reverse}"></span></th>
                                        <th ng-click="sortBy('sims_grade_name_en')"><i class="fa fa-sitemap"></i>&nbsp;<b>{{"Grade"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_grade_name_en'" ng-class="{reverse: reverse}"></span></th>
                                        <th ng-click="sortBy('sims_section_name_en')"style="width:8% !important;"><i class="fa fa-align-justify"</i>&nbsp;<b>{{"Section"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_section_name_en'" ng-class="{reverse: reverse}"></span></th>
                                        <th ng-click="sortBy('sims_sibling_parent_number')"><i class="fa fa-sort-numeric-asc"></i>&nbsp;<b>{{"Parent ID"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_sibling_parent_number'" ng-class="{reverse: reverse}"></span></th>
                                        <th ng-click="sortBy('sims_concession_description')"><i class="fa fa-align-justify"></i>&nbsp;<b>{{"Description"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_concession_description'" ng-class="{reverse: reverse}"></span></th>
                                         <th ng-click="sortBy('sims_fee_code_desc')"><i class="fa fa-bookmark-o"></i>&nbsp;<b>{{"Fee Type"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_fee_code_desc'" ng-class="{reverse: reverse}"></span></th>
                                         <th ng-click="sortBy('sims_concession_from_date')"><i class="fa fa-calendar"></i>&nbsp;<b>{{"From"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_concession_from_date'" ng-class="{reverse: reverse}"></span></th>
                                         <th ng-click="sortBy('sims_concession_to_date')"><i class="fa fa-calendar"></i>&nbsp;<b>{{"To"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_concession_to_date'" ng-class="{reverse: reverse}"></span></th>
                                         <th ng-click="sortBy('total_fee')"><i class="fa fa-money"></i>&nbsp;<b>{{"Total Fee"|translate}}</b><span class="sortorder" ng-show="propertyName === 'total_fee'" ng-class="{reverse: reverse}"></span></th>
                                         <th ng-click="sortBy('concession_amount')"><i class="fa fa-align-justify"></i>&nbsp;<b>{{"Total"|translate}}</b><span class="sortorder" ng-show="propertyName === 'concession_amount'" ng-class="{reverse: reverse}"></span></th>
                                         <th ng-click="sortBy('sims_concession_approved_by')"><i class="fa fa-user"></i>&nbsp;<b>{{"Approved By"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_concession_approved_by'" ng-class="{reverse: reverse}"></span></th>
                                    </tr>
                                </thead>
                                        <thead ng-if="colsvis">
                                        <tr style="background-color:#edefef">
                                        <th style="text-align:left"><b>{{"Sr No"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Enroll No"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Student Name"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Name"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Grade"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Section"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Parent ID"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Description"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Fee Type"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"From"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"To"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Total Fee"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Total"|translate}}</b></th>
                                         <th style="text-align:left"><b>{{"Approved By"|translate}}</b></th>
                                    </tr>
                                </thead>
                                <tbody align="center">
                                    <tr ng-repeat="r in filteredTodos | orderBy:propertyName:reverse|filter:searchText">
                                        <td style="text-align:left" >{{$index+1}}</td>
                                        <td style="text-align:left" >{{r.sims_enroll_number}}</td>
                                        <td style="text-align:left" >{{r.sims_student_name_en}}</td>
                                        <td style="text-align:left" >{{r.sims_grade_name_en}}</td>
                                        <td style="text-align:left" >{{r.sims_section_name_en}}</td>
                                        <td style="text-align:left" >{{r.sims_sibling_parent_number}}</td>
                                        <td style="text-align:left" >{{r.sims_concession_description}}</td>
                                        <td style="text-align:left" >{{r.sims_fee_code_desc}}</td>
                                        <td style="text-align:left" >{{r.sims_concession_from_date}}</td>
                                        <td style="text-align:left" >{{r.sims_concession_to_date}}</td>
                                        <td style="text-align:left" >{{r.total_fee| currency:""}}</td>
                                        <td style="text-align:left" >{{r.concession_amount| currency:""}}</td>
                                        <td style="text-align:left" >{{r.sims_concession_approved_by}}</td>

                                         <tr>
                                                    <td colspan="9"></td>
                                                    <td>Grand Total :</td>
                                                    <td>{{Total_Fee| currency:""}}</td>
                                                    <td>{{Total| currency:""}}</td>
                                                   
                                        </tr>
                                       





                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        

                    </div>
                    <div class="row">
                        <div class="col-md-12" ng-show="pager">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            </div>

        </div>
    </div>
            </div>
        </div>
</body>
</html>
<!--<div class="col-md-12" id="subform">-->

<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/plugins/fileSaver.js"></script>
<script src="assets/js/jszip.js"></script>
<script src="assets/js/xlsx.js"></script>
<script src="assets/js/xlsx-reader.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>



