﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                    <h3>{{ "Fee Category" | translate }}<span class="semi-bold"><!--{{studentName}}--></span></h3>
            </div>
            <div class="grid-body no-border">
            <div ng-show="display">
                <form name="myForm" ng-submit="Save(myForm.$valid)" novalidate="novalidate">
                    <div class="row" ng-show="notshow">
                        <div class="col-xs-4">
                            <div class="well" class="form-group">
                                <div class="form-group">
                                    <label>Current Page:</label>
                                    <input placeholder="page"
                                           class="form-control"
                                           ng-model="currentPage"
                                           ng-init="currentPage = 1" />
                                </div>
                                <div class="form-group">
                                    <label>Page Size:</label>
                                    <input placeholder="Page Size"
                                           class="form-control"
                                           ng-model="numPerPage" />
                                </div>
                                <div class="form-group">
                                    <label>Total Items:</label>
                                    <input placeholder="Total"
                                           class="form-control"
                                           ng-model="pagersize" />
                                </div>
                                <hr />
                                <div class="form-group">
                                    <label>Dots Display:</label>
                                    <input placeholder="..."
                                           class="form-control"
                                           maxlength="3"
                                           ng-model="dots"
                                           ng-init="dots = '...'" />
                                </div>

                                <hr />
                                <div class="form-group">
                                    <label>UL Class:</label>
                                    <input placeholder="pagination"
                                           class="form-control"
                                           maxlength="100"
                                           ng-model="ulClass" />
                                </div>
                                <div class="form-group">
                                    <label>Active Class:</label>
                                    <input placeholder="active"
                                           class="form-control"
                                           maxlength="100"
                                           ng-model="activeClass"
                                           ng-init="activeClass = 'active'" />
                                </div>
                                <div class="form-group">
                                    <label>Disabled Class:</label>
                                    <input placeholder="disabled"
                                           class="form-control"
                                           maxlength="100"
                                           ng-model="disabledClass"
                                           ng-init="disabledClass = 'disabled'" />
                                </div>
                                <br />
                                <table class="table">

                                    <tr>
                                        <td>
                                            <label>Show Prev Next:</label>
                                        </td>
                                        <td>
                                            <input type="checkbox"
                                                   ng-model="showPrevNext"
                                                   ng-init="showPrevNext = true" />
                                            {{showPrevNext}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Show First Last:</label>
                                        </td>
                                        <td>
                                            <input type="checkbox"
                                                   ng-model="showFirstLast"
                                                   ng-init="showFirstLast = true" />
                                            {{showPrevNext}}
                                        </td>
                                    </tr>
                                </table>
                                <hr />
                                <span class="btn btn-default" onclick="location.reload()">
                                    <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                                </span>
                                <span class="btn btn-success" ng-click="currentPage = 0">
                                    Apply Settings
                                </span>
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                                <div ng-class="{'has-error': !myForm.form3fee_category.$valid && (myForm.form3fee_category.$touched || myForm.$submitted) }">
                                    <label><i class="fa fa-align-justify"></i>&nbsp;{{ "Fee Category" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <input name="form3fee_category" id="txt_fee_category" type="text" class="k-textbox input-sm full-width" placeholder="Please Enter" required ng-maxlength="2" ng-minlength="1" maxlength="2" ng-model="edt.sims_fee_category" ng-disabled="edit_code" ng-pattern="/^[0-9]{1,2}$/">
                                </div>
                                    <div class="error-container"
                                         ng-show="myForm.form3fee_category.$dirty && myForm.form3fee_category.$invalid || myForm.$submitted">
                                        <small class="error"
                                               ng-show="myForm.form3fee_category.$error.required">
                                            This Field is required.
                                        </small>
                                        <small class="help-block" ng-show="myForm.form3fee_category.$error.pattern && (!myForm.$pristine && (myForm.$submitted ||myForm.form3fee_category.$touched))">
                                            Enter Only Digit
                                        </small>

                                    </div>
                                </div>
                        <div class="col-md-3">
                            <div ng-class="{'has-error': !myForm.form3catdesc.$valid && (myForm.form3catdesc.$touched || myForm.$submitted) }">
                                    <label><i class="fa fa-align-justify"></i>&nbsp;{{ "Description" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <input name="form3catdesc" id="txt_cat_desc" type="text" class="k-textbox input-sm full-width" placeholder="Please Enter" maxlength="25" ng-model="edt.sims_fee_category_desc" ng-pattern="/^[a-zA-Z0-9\s]*$/" required>
                                </div>
                                    <div class="error-container"
                                         ng-show="myForm.form3catdesc.$dirty && myForm.form3catdesc.$invalid || myForm.$submitted">
                                        <small class="error"
                                               ng-show="myForm.form3catdesc.$error.required">
                                            This Field is required.
                                        </small>
                                        <small class="help-block" ng-show="myForm.form3catdesc.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.form3catdesc.$touched))">
                                            Enter Valid Data
                                        </small>
                                    </div>
                                </div>
                        <div class="col-md-6">
                                    <div class="pull-left">
                                    <label class="form-label"><i class="fa fa-bookmark"></i>&nbsp;{{ "Status" | translate }}</label>
                                    <div class="checkbox check-success">
                                        <input type="checkbox" value="1" id="chk_status" ng-model="edt.sims_category_status">
                                        <label for="chk_status" />
                                    </div>
                                        </div>
                                </div>
                            </div>
                    <div class="col-md-12">
                    <!--<div class="form-actions">-->
                        <div class="pull-right">
                            <button class="btn btn-primary btn-cons btn-small" type="submit" ng-show="save1">{{ "Save" | translate }}</button>
                            <button class="btn btn-primary btn-cons btn-small" type="submit" ng-show="update1">{{ "Update" | translate }}</button>
                            <!--<button class="btn btn-danger btn-cons" type="button" ng-click="Delete()" ng-show="delete1">Delete</button>-->
                            <button class="btn btn-danger btn-cons btn-small" type="button" ng-click="cancel()">{{ "Cancel" | translate }}</button>
                        </div>
                    </div>
                        <!--</div>-->
                </form>
            </div>

            <div ng-show="grid">
                <div class="row form-row">
                    <div class="col-md-6">
                        <div class="pull-left">
                            <select id="Select1" style="width: 65px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                                <option value="10" class=" form-control input-sm">
                                    10
                                </option>
                                <option value="20" class=" form-control input-sm">
                                    20
                                </option>
                                <option value="All" class=" form-control input-sm">
                                    All
                                </option>
                            </select>
                        </div>
                        &nbsp;
                        <button class="btn btn-success btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{ "New" | translate }}</button>
                        &nbsp;
                        <button class="btn btn-danger btn-small" type="button" ng-click="Delete()" ng-show="false"><span class="semi-bold"></span>{{ "Delete" | translate }}</button>
                    </div>
                      <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                              <span class="k-textbox k-space-right full-width">
                                    <input aria-controls="example" placeholder="Fee Category / Description" ng-model="searchText" class="k-textbox input-sm full-width" ng-change="search()"  autofocus="autofocus" tabindex="1">
                                <a href="#" class="k-icon k-i-search">&nbsp;</a></span>


                            </div>
                        </div>
                    </div>
                 
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div style="width: 100%; height: auto; overflow-x: scroll; overflow-y: scroll">
                        <!-- <table class="table table-hover table-striped  no-more-tables">-->
                        <table class="table table-hover table-bordered table-condensed" id="fixtable">
                            <thead>
                                <tr style="background-color: #e9e4e4">

                                    <th class="small-cell v-align-middle" style="z-index: 999">
                                        <div class="checkbox check-success">
                                            <input type="checkbox" name="check" value="1" id="mainchk" ng-click="CheckAllChecked();">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>

                                    <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                       <a href="#"><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;
                                        {{ "Fee Category" | translate }}</a></th>

                                    <th><i class="fa fa-align-justify"></i>&nbsp;{{ "Description" | translate }}</th>
                                    <th><i class="fa fa-bookmark"></i>&nbsp;{{ "Status" | translate }}</th>
                                    <th class="small-cell v-align-middle"><b><i class="fa fa-cogs"></i></b></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="category in filteredTodos | orderBy:orderByField:reverseSort"" ng-class="row1">
                                    <td>
                                        <div class="checkbox check-success" style="height: 20px">
                                            <input type="checkbox" name="check" value="1" id="{{category.sims_fee_category}}" ng-click="checkonebyonedelete(category.sims_fee_category);">
                                            <label for="{{category.sims_fee_category}}"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div>{{category.sims_fee_category}}</div>
                                    </td>
                                    <td>
                                        <div>{{category.sims_fee_category_desc}}</div>
                                    </td>
                                    <td>
                                        <span class="label label-success" ng-if="category.sims_category_status == true">{{"Active" | translate}}</span>
                                        <span ng-if="category.sims_category_status==false" class="label label-important">{{"In Active" | translate}}</span>
                                    </td>

                                    <td>
                                        <a href=""><i class="fa fa-edit" ng-click="edit(category)"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row" ng-show="pager">
                        <div class="col-md-12">
                    <div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                ng-click="index(currentPage)">
                        </paging>
                    </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
</div>


<script src="assets/js/tableHeadFixer.js"></script>



