﻿<style>
    .sortorder:after {
        content: '\25b2';
    }
    .sortorder.reverse:after {
        content: '\25bc';
    }
    .custome_td {
        background-color: #7bb0e9;
    }
</style>﻿
<link href="assets/plugins/Minovate/Main.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title" style="margin-top: -2%;">
                <h3>{{"Change Student"| translate }} <span class="semi-bold">{{"Fee Category"| translate }}</span></h3>
            </div>
        <!-- /tile header -->
        <div class="row" ng-show="notshow">
            <div class="col-xs-4">
                <div class="well" class="form-group">
                    <div class="form-group">
                        <label>Current Page:</label>
                        <input placeholder="page"
                               class="form-control"
                               ng-model="currentPage"
                               ng-init="currentPage = 1" />
                    </div>
                    <div class="form-group">
                        <label>Page Size:</label>
                        <input placeholder="Page Size"
                               class="form-control"
                               ng-model="numPerPage" />
                    </div>
                    <div class="form-group">
                        <label>Total Items:</label>
                        <input placeholder="Total"
                               class="form-control"
                               ng-model="pagersize" />
                    </div>
                    <hr />
                    <div class="form-group">
                        <label>Dots Display:</label>
                        <input placeholder="..."
                               class="form-control"
                               maxlength="3"
                               ng-model="dots"
                               ng-init="dots = '...'" />
                    </div>

                    <hr />
                    <div class="form-group">
                        <label>UL Class:</label>
                        <input placeholder="pagination"
                               class="form-control"
                               maxlength="100"
                               ng-model="ulClass" />
                    </div>
                    <div class="form-group">
                        <label>Active Class:</label>
                        <input placeholder="active"
                               class="form-control"
                               maxlength="100"
                               ng-model="activeClass"
                               ng-init="activeClass = 'active'" />
                    </div>
                    <div class="form-group">
                        <label>Disabled Class:</label>
                        <input placeholder="disabled"
                               class="form-control"
                               maxlength="100"
                               ng-model="disabledClass"
                               ng-init="disabledClass = 'disabled'" />
                    </div>
                    <br />
                    <table class="table">

                        <tr>
                            <td>
                                <label>Show Prev Next:</label>
                            </td>
                            <td>
                                <input type="checkbox"
                                       ng-model="showPrevNext"
                                       ng-init="showPrevNext = true" />
                                {{showPrevNext}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Show First Last:</label>
                            </td>
                            <td>
                                <input type="checkbox"
                                       ng-model="showFirstLast"
                                       ng-init="showFirstLast = true" />
                                {{showPrevNext}}
                            </td>
                        </tr>
                    </table>
                    <hr />
                    <span class="btn btn-default" onclick="location.reload()">
                        <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                    </span>
                    <span class="btn btn-success" ng-click="currentPage = 0">
                        Apply Settings
                    </span>
                    <br />
                    <br />
                </div>
            </div>
        </div>
        <!-- tile body -->
    <div class="row bluegrd raw">
        <div class="col-md-2">
            <label for="username"><i class="fa fa-book"></i>&nbsp;{{"Curriculum" | translate }} </label>
            <select id="cmb_cur" class="form-control input-sm full-width"
                    ng-model="edt.sims_cur_code" ng-change="cur_code_change(edt.sims_cur_code)"
                    ng-options="commn2.sims_cur_code as commn2.sims_cur_short_name for commn2 in CurData" name="cmb_cur"></select>
        </div>
        <div class="col-md-2">
            <label for="username"><i class="fa fa-sort-amount-asc"></i>&nbsp;{{"Academic Year" | translate }} </label>
            <select id="Select1" class="form-control input-sm full-width"
                    ng-model="edt.sims_academic_year" ng-change="academic_year_change(edt.sims_cur_code,edt.sims_academic_year)"
                    ng-options="commn2.sims_academic_year as commn2.sims_academic_year_description for commn2 in AcademicYears"
                    ng-selected="{{commn2.sims_academic_year_status==currentYear_status }}" name="cmb_academic"></select>
        </div>
        <div class="col-md-2">
            <label for="username"><i class="fa fa-sitemap"></i>&nbsp;{{"Grade" | translate }} </label>
            <select id="Select2" class="form-control input-sm full-width"
                    ng-model="edt.sims_grade_code"
                    ng-change="grade_change(edt.sims_cur_code,edt.sims_academic_year,edt.sims_grade_code)"
                    ng-options="commn2.sims_grade_code as commn2.sims_grade_name for commn2 in Grades"
                    name="cmb_grades"></select>
        </div>
        <div class="col-md-2">
            <label for="username"><i class="fa fa-align-justify"></i>&nbsp;{{"Section" | translate }} </label>
            <select id="Select3" class="form-control input-sm full-width"
                    ng-model="edt.sims_section_code"
                    ng-options="commn2.sims_section_code as commn2.sims_section_name for commn2 in sections"
                    name="cmb_sections"></select>
        </div>
        <div class="col-md-2">
            <label for="username"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Enroll NO" | translate }}</label>
            <input type="text" name="name" id="name" ng-model="edt.search_txt" ng-keypress="fetchDatakeyPress($event)" class="k-textbox input-sm full-width" required="">
        </div>
        <div class="col-md-2">
            <label for="username">&nbsp;</label>
            <button type="submit" class="btn btn-rounded btn-success btn-sm btn-small" ng-click="btnPreview_click()">{{"Preview" | translate }}</button>
            <button type="submit" class="btn btn-rounded btn-warning btn-sm btn-small" ng-click="reset()">{{"Reset" | translate }}</button>
        </div>
   </div>
      
     <div class="row raw rawbody">
        <div class="col-sm-12">
                <table class="table table-bordered  dataTable table-hover" id="project-progress" role="grid" aria-describedby="project-progress_info">
                    <thead>
                        <tr role="row">
                            <th tabindex="0" aria-controls="project-progress" aria-sort="ascending" aria-label="ID: activate to sort column descending" style="width: 15px;">
                                <i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Sr.No" | translate }}
                            </th>
                            <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending" style="width: 50px;" ng-click="sortBy('std_fee_enroll_number')">
                                <i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Enrollment No" | translate }}
                                <span class="sortorder" ng-show="propertyName === 'std_fee_enroll_number'" ng-class="{reverse: reverse}"></span>
                            </th>
                            <th style="width: 120px;" tabindex="0" aria-controls="project-progress" ng-click="sortBy('std_fee_student_name')">
                                <i class="fa fa-user"></i>&nbsp;{{"Name" | translate }}
                                <span class="sortorder" ng-show="propertyName === 'std_fee_student_name'" ng-class="{reverse: reverse}"></span>
                            </th>
                            <th style="width: 30px;" tabindex="0" aria-controls="project-progress" ng-click="sortBy('std_fee_Class')">
                                <i class="fa fa-sitemap"></i>&nbsp; {{"Class" | translate }}
                                <span class="sortorder" ng-show="propertyName === 'std_fee_Class'" ng-class="{reverse: reverse}"></span>
                            </th>
                            <th style="width: 50px;" class="text-left no-sort sorting_disabled" aria-label="Chart"><i class="fa fa-bookmark"></i>&nbsp;{{"Status" | translate }}</th>
                            <th style="width: 100px;" class="text-left no-sort sorting_disabled"><i class="fa fa-cog"></i>&nbsp;{{"Action" | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="info in filteredTodos | orderBy:propertyName:reverse" ng-class="row1">
                            <td>
                                <div class="text-default">
                                    {{$index+((currentPage-1)*numPerPage)+1}}

                                </div>
                            </td>
                            <td>
                                <div class="text-default">{{info.std_fee_enroll_number}}</div>
                            </td>
                            <td>
                                <div class="text-default">{{info.std_fee_student_name}}</div>
                            </td>
                            <td>
                                <span ng-class="{true: 'label label-important', false: 'label label-success'}[1=='1']"
                                        style="vertical-align: middle;"><b>{{info.std_fee_Class}}</b></span>

                            </td>
                            <td>
                                <div class="text-default">
                                    <span ng-class="{true: 'label label-important', false: 'label label-success'}[info.sims_student_academic_status_code=='C']"
                                            style="vertical-align: middle;"><b>{{info.sims_student_academic_status}}</b></span>
                                </div>
                            </td>
                            <td>
                                <div class="text-default">
                                    <span class="label label-success" ng-click="ChangeCategory(info)" style="vertical-align: middle;cursor:pointer"><b>{{"Change Category" | translate }}</b></span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
      </div>    
    <div class="row raw rawbody">
        <div class="col-sm-12">
        <div class="pull-right">
            <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                    scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                    paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                    ng-click="index(currentPage)">
            </paging>
        </div>
     </div>
    </div>     
</div>       
        <!-- /tile body -->

        </div>
    </div>
<div class="modal fade" id="MyModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" style="width: 50%; background-color: white;">
                    <div class="modal-content">
                        <div class="tile-header dvd dvd-btm" style="background: #0aa699;color: #fff;">
                            <div class="row">
                                <div class="col-md-10"><strong style="margin-left:10px">{{"Name"|translate}}&nbsp;: &nbsp;{{student_name}}-{{enroll_number}}</strong></div>
                                <div class="col-md-2">
                                    <div class="pull-right" style="margin-top: -2px;">
                                      <button  class="btn btn-default btn-small" data-dismiss="modal" tabindex="0">Close</button>
                                    </div>
                                </div>
                            </div>                           
                        </div>
                        <div class="modal-header" style=" padding: 0 15px; height: 128px;text-align: -webkit-left;">
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="username"><i class="fa fa-minus-circle"></i>&nbsp;{{"Old Category" | translate }} </label>
                                    <select id="Select5" class="form-control input-sm full-width"
                                            ng-model="edtch.sims_old_cat_code" 
                                            ng-options="commn2.std_fee_category_code as commn2.std_fee_category_name for commn2 in StudentCategory" name="old_cat"></select>
                                </div>
                                <div class="col-md-3">
                                    <label for="username"><i class="fa fa-plus-circle"></i>&nbsp;{{"New Category" | translate }}</label>
                                    <select id="Select6" class="form-control input-sm full-width"
                                            ng-model="edtch.sims_new_cat_code"
                                            ng-options="commn2.std_fee_category_code as commn2.std_fee_category_name for commn2 in AllCategory"
                                            name="cmb_academic"></select>
                                </div>
                                <div class="col-md-3">
                                    <label for="username">&nbsp;</label>
                                    <button type="submit" class="btn btn-rounded btn-primary btn-small" ng-click="fnchangecat()">{{"Save" | translate }}</button>
                                    <button type="submit" class="btn btn-rounded btn-warning btn-small" ng-click="closeAdv()">{{"Cancel" | translate }}</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <label for="username">{{"Click on" | translate }} <b>{{"Save" | translate }}</b> {{"to Change Fee Category." | translate }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

<script src="assets/plugins/modal_updated.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>