﻿<style>
    .ms-choice {
        height: 26px;
       
    }
    .greed-title {
            margin-bottom: 15px;

    }

    
</style>


<!DOCTYPE html>
<html>
<body>
    <div class="grid-simple">
        <div class="content">
            <div class="row" >
                <div class="col-md-12" style="padding-left:14px !important;padding-right:14px !important;background:#d8ebf4 !important;">
                    <!--<div class="grid simple">-->
                        <div class="greed-title no-border" style="padding-bottom:0px !important;padding-top: 4px !important">

                            <div class="row" style="background:#d8ebf4 !important;padding-bottom:12px !important;padding-top: 6px !important">

                                <div class="col-md-12">
                <div class="col-md-1">
                                    <label id="Label" for="txt_Nationality_Code" class="form-label">
                                        <i class="fa fa-book"></i>
                                        {{"Curriculum"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="temp.sims_cur_code" ng-selected="" name="sims_cur_code" ng-change="getAcademic_year(temp.sims_cur_code)"
                                            ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in cur_data" required></select>
                                </div>

                <div class="col-md-2" style="margin-right:-79px;padding-right: 80px;">
                                    <label id="Label1" for="txt_Nationality_Code" class="form-label">
                                        <i class="fa fa-calendar"></i>
                                        {{"Academic Year"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="Select1" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="temp.sims_academic_year" ng-selected="" name="sims_academic_year" ng-change="getGrade(temp.sims_cur_code,temp.sims_academic_year)"
                                            ng-options="acad.sims_academic_year as acad.sims_academic_year_desc for acad in acad_data" required></select>
                                </div>

                <div class="col-md-1">
                     <label id="Label3" for="txt_Nationality_Code" class="form-label style="margin-top: 2px;">
                                 <label><i class="fa fa-sitemap	"></i>&nbsp;{{"Grade"|translate}}<span class="asterisk" style="color: red">*</span></label>
                                 <select id="cmb_grade_code" multiple="multiple" class="full-width" ng-model="temp.sims_grade_code" ng-change="getSection(temp.sims_cur_code,temp.sims_academic_year,temp.sims_grade_code)">
                                     <option ng-repeat="grade in Grade_code|filter:{sims_grade_name:''}" value="{{grade.sims_grade_code}} ">{{grade.sims_grade_name}}</option>
                                 </select>
                                </div>

                <div class="col-md-1">
                           <label id="Label2" for="txt_Nationality_Code" class="form-label style="margin-top: 2px;">
                        <label><label><i class="fa fa-align-justify "></i>&nbsp;{{"Section"|translate}} <span class="asterisk" style="color: red">*</span></label>
                        <select id="cmb_section_code" multiple="multiple" class="full-width" ng-model="temp.sims_section_code" ng-change="parameter()">
                            <option ng-repeat="section in Section_code|filter:{sims_section_name:''}" value="{{section.sims_section_code}} ">{{section.sims_section_name}}</option>
                        </select>
                    </div>

                
               
            
                                  

               
                <div class="col-md-7">                 
                         
                <div class="pull-right">
                    <label>&nbsp;</label>
                     <button type="button" class="btn btn-primary btn-cons" ng-click="getdetails()" >{{"Preview"|translate}}</button>
                   <button class="btn btn-rounded btn-warning btn-cons" type="button" ng-click="reset_data()"><i class="icon-ok"></i>{{"Reset"|translate}}</button>
                    <button type="button" class="btn btn-primary btn-cons" ng-click="exportData()" style="background-color:#1f3853;">{{"Excel"|translate}}</button>
                    <button type="button" class="btn btn-primary btn-cons" ng-click="print()" style="background-color:#0090d9;">{{"Print"|translate}}</button>
               
                </div>
            </div>
                                   

                            </div><!---- row -->
                           
                           



                        </div>
                    <!--</div>-->
                </div>
            </div>

            <div ng-show="detailsField">

                <div class="content">
                    <div class="greed-title no-border" style="background-color:  white;">
                        <div class="col-md-12">
                            <div class="row margin-top=0px">
                                <div class="col-md-6" style=" padding-left: 6px;">
                                    <select id=" select1" style="width: 60px;" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                        <option value="30" class=" form-control input-sm">
                                            30
                                        </option>

                                        <option value="60" class=" form-control input-sm">
                                            60
                                        </option>

                                        <option value="All" class=" form-control input-sm">
                                            All
                                        </option>
                                    </select>
                                </div>

                                <div class="col-md-6">                
                <div class="pull-right">
                    <span class="k-textbox k-space-right">
                        <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                        <a href="#" class="k-icon k-i-search">&nbsp;</a>
                    </span>
                </div>
            </div>
                            </div>
                        </div>

                        
           

                    <div class="grid-body no-border">
                <div class="row margin-top" >
                    <div class="row margin-top">
                      <div class="col-md-12" id="rpt_data1" style="overflow-x:auto;margin-left:6px !important;">
                            <table class="table table-striped table-flip-scroll cf" style="width:99% !important;">
                                <thead ng-if="!colsvis">
                                    <tr style="" background-color #edefef">
                                        <th><b>{{"Sr No"|translate}}</b></th>
                                        <th ng-click="sortBy('sims_enroll_number')"style="width:12% !important;"><i class="fa-fa sort-numeric-asc"></i>&nbsp;<b>{{"Enroll No"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_enroll_number'" ng-class="{reverse: reverse}"></span></th>
                                        <th ng-click="sortBy('student_name')"><i class="fa fa-user"></i>&nbsp;<b>{{"Student Name"|translate}}</b><span class="sortorder" ng-show="propertyName === 'student_name'" ng-class="{reverse: reverse}"></span></th>
                                        <th ng-click="sortBy('sims_grade_name_en')"><i class="fa-fa sort-numeric-asc"></i>&nbsp;<b>{{"Class"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_grade_name_en'" ng-class="{reverse: reverse}"></span></th>
                                        <th ng-click="sortBy('expected_amount')"style="width:8% !important;"><i class="fa fa-user"</i>&nbsp;<b>{{"Expected Amount"|translate}}</b><span class="sortorder" ng-show="propertyName === 'expected_amount'" ng-class="{reverse: reverse}"></span></th>
                                        <th ng-click="sortBy('fee_paid')"><i class="fa fa-credit-card"></i>&nbsp;<b>{{"Paid Amount"|translate}}</b><span class="sortorder" ng-show="propertyName === 'fee_paid'" ng-class="{reverse: reverse}"></span></th>
                                        <th ng-click="sortBy('doc_no')"><i class="fa fa-credit-card"></i>&nbsp;<b>{{"Doc No"|translate}}</b><span class="sortorder" ng-show="propertyName === 'doc_no'" ng-class="{reverse: reverse}"></span></th> 
                                      
                                    </tr>
                                </thead>
                                <thead ng-if="colsvis">
                                    <tr style="background-color:#edefef">
                                        <th style="text-align:left"><b>{{"Sr No"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Enroll No"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Student Name"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Class"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Expected Amount"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Paid Amount"|translate}}</b></th>
                                        <th style="text-align:left"><b>{{"Doc No"|translate}}</b></th>
                                    
                                    </tr>
                                </thead>
                                <tbody align="center">  
                                    <tr ng-repeat="r in filteredTodos | orderBy:propertyName:reverse|filter:searchText">
                                        <td style="text-align:left">{{$index+1}}</td>
                                        <td style="text-align:left" >{{r.sims_enroll_number}}</td>
                                        <td style="text-align:left" >{{r.student_name}}</td>
                                        <td style="text-align:left" >{{r.sims_grade_name_en}} {{r.sims_section_name_en}}</td>
                                        <td style="text-align:left" >{{r.expected_amount}}</td>
                                        <td style="text-align:left" >{{r.fee_paid}}</td>
                                        <td style="text-align:left" >{{r.doc_no}} {{r.doc_date}}</td>
                                     
                                    </tr>
                                           
                                    
                                       
                                </tbody>
                            </table>

                        </div>


                    </div>
                    <div class="row">
                        <div class="col-md-12" ng-show="pager">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            </div>

        </div>
    </div>
            </div>
        </div>
</body>
</html>
<!--<div class="col-md-12" id="subform">-->

<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/plugins/fileSaver.js"></script>
<script src="assets/js/jszip.js"></script>
<script src="assets/js/xlsx.js"></script>
<script src="assets/js/xlsx-reader.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>



