﻿
    <div class="container">
        <link rel="stylesheet" type="text/css" href="style.css">
        <div class="page-title" ng-click="back()" style="margin-top:50px">
            <a href=""><i class="fa fa-arrow-circle-left"></i></a>
            <h3>Back</h3>
        </div>
        
        <page id="page1" size="A4" style="background:#fff;margin-top:10px !important">
            
            <div id="printableArea">
                <!-- <table style="width:90%; margin:auto; border-spacing:0px;">
        <tr style="width:100%"> -->

                <table class="table">
                    <tr style="border: none;">
                        <td>
                            <div class="pull-left">
                                <br />
                                <img src="{{school_data.lic_school_logo}}" height="90px" width="90px" ;style="margin-top:10px">
                            </div>

                            <div class="pull-left" style="margin-left:40px;margin-top:10px">
                                <br />
                                <b><u>{{school_data.lic_school_name}}</u></b><br>
                                {{school_data.lic_school_address}}<br>
                                Tel: {{school_data.lic_tel_no}}<br>
                                Email:{{school_data.lic_email}}<br>
                            </div>
                        </td>
                    </tr>
                    <tr style="height:15px;"></tr>
                    <tr>
                        <td style="font-size: x-large; border: none;" ng-hide="flg_staus">
                            <center><b>Fee Receipt</b></center>
                        </td>
                    </tr>
                    <tr style="height:15px; border: none;"></tr>
                </table>


                <!-- <table style="width:90%; margin:auto; border-collapse:collapse; border-spacing:0px; font-size:small;"> -->



                <table class="table table-bordered" style="width:85%; margin-left:5%; ">
                    <thead>
                        <tr>
                            <td style="width:20%">
                                <b>Enroll No:</b>
                            </td>
                            <td style="width:45%">
                                <b>Student Name:</b>
                            </td>
                            <td style="width:15%">
                                <b>Grade:</b>
                            </td>
                            <td style="width:15%">
                                <b>Date:</b>
                            </td>
                            <td style="width:15%">
                                <b>Receipt No:</b>
                            </td>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                {{data[0].enroll_number}}
                            </td>
                            <td>
                                {{data[0].student_name}}
                            </td>
                            <td>
                                {{data[0].student_section}}
                            </td>
                            <td>
                                {{date}}
                            </td>
                            <td>
                                {{ data[0].dd_fee_number}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Parent Name:</b>
                            </td>
                            <td colspan="4">
                                {{data[0].parent_name}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Remark:</b>
                            </td>
                            <td colspan="4"></td>
                        </tr>
                    </tbody>
                </table><!---End Table for enroll-->
                <!-- <table style="width:90%; margin:auto; border-collapse:collapse; border-spacing:0px; font-size:small;"> -->
                <table class="table table-bordered" style="width:85%; margin-left:5%;">
                    <thead>
                        <tr>
                            <td style=" width:19%">
                                <b>Payment Mode:</b>
                            </td>
                            <td style="width:42%">
                                <b>Bank Name:</b>
                            </td>
                            <td style="width:15%">
                                <b>Cheque No:</b>
                            </td>
                            <td style="width:15%">
                                <b>Date:</b>
                            </td>
                            <td style="width:15%">
                                <b>Amount:</b>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {{data[0].dd_fee_payment_mode}}
                            </td>
                            <td></td>
                            <td></td>
                            <td>
                                {{date}}
                            </td>
                            <td>
                                {{data[0].dd_fee_amount}}
                            </td>
                        </tr>
                    </tbody>
                </table><!--End Table for Payment mode-->
                <!-- <table style="width:90%; margin:auto; border-collapse:collapse; border-spacing:0px; font-size:small;"> -->
                <table class="table table-bordered" style="width:85%; margin-left:5%;">
                    <thead>
                        <tr>
                            <td style="width:20%">
                                <b>Sr No:</b>
                            </td>
                            <td style="width:45%">
                                <b>Particulars:</b>
                            </td>
                            <td style="width:15%">
                                <b>Due Amount:</b>
                            </td>
                            <td style="width:15%">
                                <b>Paid Amount:</b>
                            </td>
                            <td style="width:15%">
                                <b>Bal Amount:</b>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in data">
                            <td>
                                {{x.serial_no}}
                            </td>
                            <td>
                                {{x.sims_fee_code_description}}
                            </td>
                            <td>
                                {{x.dd_fee_amount}}
                            </td>
                            <td>
                                {{x.dd_fee_amount_final}}
                            </td>
                            <td>
                                {{x.dd_fee_amount - x.dd_fee_amount_final}}
                            </td>

                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:right">
                                <b>Sub Total:</b>
                            </td>
                            <td>
                                {{duetotal}}
                            </td>
                            <td>
                                {{paidtotal}}
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align:right">
                                <b>Grand Total</b>
                            </td>
                            <td>
                                {{remainingbal}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Amount In Words:</b>
                            </td>
                            <td colspan="4">
                                {{data[0].amt_in_words}}
                            </td>
                        </tr>
                    </tbody>
                </table><!--End Table for Payment mode-->
                           </div>

                    </page>
        
        </div>



