﻿﻿﻿﻿﻿<link href="assets/minovate.css" rel="stylesheet" />
<link href="assets/plugins/Minovate/Main.css" rel="stylesheet" />
<!--selection-->

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title" style="margin-top:-2%;">
                <h3>{{ "Student Fee" | translate }}<span class="semi-bold"><!--{{studentName}}--></span></h3>
            </div>
            <div class="grid-body no-border">
    <div class="row">
        <div class="col-md-1"><label>&nbsp;</label>
            <input type="button" ng-click="GOBack()" value="Back" class="btn-small" />
        </div>
        <div class="col-md-2">
            <label>Receipt Date:</label>
            <!--<div class="input-append success date col-md-4 no-padding" data-datepicker="true" style="width: auto">-->
                <input type="text" id="from_date" placeholder="Select Date" name="receiptDate" class="k-textbox input-sm full-width" ng-model="receiptDate">
                <!--<span class="add-on" style="height: 30px; padding-top: 0px"><span class="arrow"></span><i class="fa fa-th"></i></span>
            </div>-->
        </div>
        <div class="col-md-3">
           <label>Remark</label>
            <input id="studentsrch" type="text" ng-model="IP.Remark" class="k-textbox input-sm full-width">
        </div>
         <div class="col-md-1" style="margin-right:10px;">
             <div class="pull-left"><label>&nbsp;</label>
             <input type="button" ng-click="Report()" value="Family Statement" class="btn-small" />
         </div>
             </div>
        <div ng-show="showDueBtn" class="col-md-1"><label>&nbsp;</label>
             <div class="pull-right">
            <input type="button" ng-click="onFetchDueData()" value="Total Due" class="btn-small" />
                 </div>
        </div>
        <div class="col-md-2"><label>&nbsp;</label>
                    <span class="k-textbox k-space-right full-width">
                    <input id="Text1" type="text" ng-model="IP.StudEnroll" placeholder="Search" class="k-textbox input-sm full-width" ng-keydown="hitEnter($event);">
                <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                </div>
        <div class="col-md-2">
           <label>Amount Paying</label>
            <input id="amount" type="text" ng-model="IP.Amount" class="k-textbox input-sm full-width">
        </div>
    </div>

    <hr style="border:1px solid #e7eaeb; width:100%;"/>


        <section class="tile" fullscreen="true" style="margin:0;margin-bottom:5px">
           <div class="row">
    <div class="col-md-3"><label>Student Name: <b>{{studName}}</b></label></div>
               <div class="col-md-2"><label>Class: <b>{{studGradeName}}-{{studSectionName}}</b></label></div>
               <div class="col-md-3"><label>Parent Name: <b>{{StudFeeDetails[0].parentName}}({{StudFeeDetails[0].parentID}})</b></label></div>
               <div class="col-md-2"><label>Fee Category: <b>{{studPAName}}</b></label></div>
               <div class="col-md-2"><label>Payment Plan: <b>{{stud_payment_plan_desc}}</b></label></div>
            </div>
            <hr style="border:1px solid #e7eaeb; width:100%;"/>
            <div class="tabbable tabs-top">
                <ul class="nav nav-tabs" id="tab-2">
                    <li ng-class="{'active':$index==currentClass}" ng-repeat="stdf in StudFeeDetails">
                        <a ng-click="setActive($index,stdf);" style="padding: 5px;text-align: center;">{{stdf.studDEnroll}}</a>
                    </li>
                </ul>
                <div class="tab-content" style="margin:0">
                    <div class="tab-pane taba" ng-class="{'active':$index==currentClass}" ng-click="getCurrentEnroll(stdf.studDEnroll)" id="I{{stdf.studDEnroll}}" ng-repeat="stdf in StudFeeDetails" style="padding:0;overflow:auto;overflow-x:hidden;min-height:200px">
                        <div class="tile-body table-custom ng-scope" style="padding:3px">
                            <div class="table-responsive">
                                <div id="DataTables_Table_17_wrapper" class="dataTables_wrapper form-inline no-footer">
                                    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-bordered ng-isolate-scope dataTable no-footer" style="display: table;" id="DataTables_Table_17" role="grid" aria-describedby="DataTables_Table_17_info">
                                        <thead>
                                            <tr role="row" style="background:darkgray">
                                                <th>Sr. No</th>
                                                <th>Fee Type</th>
                                                <!--<th>Period</th>-->
                                                <th>Expected</th>
                                                <!--<th>Concession</th>-->
                                                <th>Amount Paid</th>
                                                <!--<th>Balance</th>-->
                                                <th>Fee Paying</th>
                                                <th class="text-center">
                                                    <input type="checkbox" ng-click="OnSelAll(stdf)" ng-model="stdf.selAll" style="height:17px;width:17px" />
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr role="row" ng-repeat="item in stdf.feeDetails" ng-style="{'background':$index%2==0?'white':'beige'}">
                                                <td >{{$index+1}}</td>
                                                <td >{{item.studFeeDesc}}({{item.studFeePeriodDesc}})</td>
                                                <!--<td style="padding:0px !important">{{item.studFeePeriodDesc}}</td>-->
                                                <td class="text-right" >
                                                    {{item.studExpectedFeeAMT | currency:'':decimal_dsc}}
                                                </td>
                                                <!--<td style="padding:0px !important">{{item.studConcessionAMT}}</td>-->
                                                <td class="text-right" >{{item.studTotalPaidAMT | currency:'':decimal_dsc}}</td>
                                                <!--<td style="padding:0px !important">{{item.studBalanceAMT}}</td> onchange="(function(el){el.value=parseFloat(el.value).toFixed(3);})(this)" -->
                                                <td >
                                                    <input name="val" class="input-sm" type="text"  ng-blur="OnFeeAddNew(item,stdf)"   ng-model="item.studBalancePayingAMT " ng-disabled="item.studFeeInstallmentMode=='N'" style="text-align:right !important;width:50%" ng-keydown="numOnly($event)" />
                                                </td>
                                                <td class="text-center">
                                                    <input type="checkbox" ng-hide="item.studFeetype=='O'" ng-click="OnFeeAdd(item,stdf)" ng-model="item.master" style="height:17px;width:17px" />
                                                    <input ng-show="item.studFeetype=='O'" value="X" type="button" ng-click="removeOtherFee(stdf,item)" ng-model="item.master" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row foot-otherFee" style="padding-top:5px">
                                    <div class="col-lg-2 col-sm-2 col-md-2" style="margin:0">
                                        <label>Optional Fees</label>
                                    </div>
                                    <!--<div class="col-lg-2 col-sm-2 col-md-2" style="margin:0">
                                        <select id="cmb_regular_fees" ng-model="stdf.non_regular_fees"  style="margin-bottom: 0px"  class="full-width" multiple="multiple">
                                             <option ng-repeat="non_fee in  stdf.non_mandetory_fee"
                                                        value="{{non_fee.non_fee_code}}">
                                                    &nbsp;{{non_fee.non_fee_desc}}
                                                </option>
                                                 <option value="" selected disabled>Please Select</option>
                                                 <option class="form-control input-sm" ng-repeat="conce in Get_Concession_type" value="{{conce.sims_concession_description}} ">{{conce.sims_concession_description}}</option>
                                            </select>
                                    </div>-->
                                     <div>
                                        <div ng-repeat="non_fee in  stdf.non_mandetory_fee" style="float: left;">
                                           <!-- <input id="{{non_fee.non_fee_code}}" type="checkbox" name="optionyes" ng-model="rdbtn" value="{{non_fee.non_fee_code}}" ng-click="add_regular_other_fee(non_fee);" />
                                            <label for="{{non_fee.non_fee_code}}" style="font-size: 12px; color: #000">&nbsp;{{non_fee.non_fee_desc}}</label>-->
                                            <div class="checkbox check-success">
                                            <input id="{{stdf.studDEnroll}}{{non_fee.non_fee_code}}" type="checkbox" value="1" ng-model="non_fee.selected_fee"  ng-click="add_regular_other_fee(non_fee,stdf);" />
                                            <label for="{{stdf.studDEnroll}}{{non_fee.non_fee_code}}">&nbsp;{{non_fee.non_fee_desc}}</label>
                                        </div>

                                        </div>
                                    </div>

                                 </div>   
                                <div class="row foot-otherFee" style="border-top:1px solid black;padding-top:5px">
                                    <div class="col-lg-2 col-sm-2 col-md-2" style="margin:0">
                                        <label>Other Fee</label>
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-md-2" style="margin:0">
                                        <select id="cmbOtherFee" ng-model="stdf.OFD" ng-options="OF as OF.oF_Desc for OF in stdf.otherFeeDetails" style="width: 100px;min-height: 30px;height: 30px !important;"></select>
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-md-2" style="margin:0">
                                        <label>Amount</label>
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-md-2" style="margin:0">
                                        <input type="text" ng-model="stdf.OFD.oF_AMT" ng-disabled="currentPM.pmType==5" style="text-align: right;width: 100px;min-height: 30px;" ng-keydown="numOnly($event)" />
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-md-2" style="margin:0">
                                        <button type="button" class="btn btn-success btn-cons" ng-click="addOtherFee(stdf)" ng-disabled="currentPM.pmType==5">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
<div id="pop-over" style="width:70vw;background:#17c4bb;position:absolute;z-index:100;border:1px solid #bbbbbb;box-shadow:0 0 7px #000000;" ng-style="{'display':CHd.srNo}" draggable="true">
    <div class="row" style="cursor:move">
        <div class="col-lg-2 col-md-2 col-sm-2" style="text-align:center">Mode</div>
        <div class="col-lg-3 col-md-3 col-sm-3" style="text-align:center">Chq.No./Trx.ID</div>
        <div class="col-lg-2 col-md-2 col-sm-2" style="text-align:center">Date</div>
        <div class="col-lg-2 col-md-2 col-sm-2" style="text-align:center">Bank</div>
        <div class="col-lg-1 col-md-1 col-sm-1" style="text-align:center;display:none">Trx.ID</div>
        <div class="col-lg-2 col-md-2 col-sm-2" style="text-align:center">Amount</div>
        <div class="col-lg-1 col-md-1 col-sm-1" style="text-align:right"><span style="padding-right: 5px;background: white;text-align: center;padding-left: 5px;margin-right: 2px;cursor: pointer;" ng-click="CHd.colse('none');">X</span></div>
    </div>
    <div id="pop-content">
        <div class="col-lg-2 col-md-2 col-sm-2"><select id="pm" ng-model="ne.modeO" ng-options="pm as pm.pmDesc for pm in PaymentModes" class="form-control" style="margin:0;text-align:center;width:100%;padding:0"></select></div>
        <div class="col-lg-3 col-md-3 col-sm-3" style="text-align:center;padding-left: 0;"><input id="chno" type="text" ng-model="ne.chequeNo" ng-disabled="ne.modeO.pmType==1"  class="form-control" style="width:100%;min-height:30px;padding-left: 0" title="{{ne.chequeNo}}" /></div>
        <div class="col-lg-2 col-md-2 col-sm-2" style="padding-left:0px" ng-disabled="ne.modeO.pmType==1">
            <div class="input-append success date no-padding" data-datepicker="true" style="width: auto" ng-disabled="ne.modeO.pmType==1">
                <input type="text" id="Text2" placeholder="Select Date" name="receiptDate" class="input-sm" ng-model="ne.chqDate" ng-disabled="ne.modeO.pmType==1">
                <span class="add-on" style="height: 30px; padding-top: 0px"><span class="arrow"></span><i class="fa fa-th"></i></span>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2"><select ng-options="bd as bd.bankName for bd in BankDet" ng-model="ne.chqBank" ng-disabled="ne.modeO.pmType==1" class="form-control" style="text-align:center;width:100%;min-height:30px;padding:0;margin-left:10px"></select></div>
        <div class="col-lg-1 col-md-1 col-sm-1" style="display:none"><input type="text" ng-model="ne.chequeNo" ng-disabled="ne.modeO.pmType==1 || ne.modeO.pmType==2" class="form-control" style="width:100%;min-height:30px;padding:0" /></div>
        <div class="col-lg-2 col-md-2 col-sm-2"><input type="text" ng-model="ne.FPamt " class="form-control" style="text-align:right;width:100%;min-height:30px" ng-keydown="numOnly($event,ne)" ng-style="{'color':valcc==1?'red':''}" ng-style="{'font-weight':valcc==1?'bold':'normal'}"/></div>
        <div class="col-lg-1 col-md-1 col-sm-1"><input type="button" value="ADD" ng-click="adPMode(ne);" /></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" ng-style="{'padding-bottom':dis.cheight}">
        <section class="tile" fullscreen="isFullscreen06" style="margin: 0; margin-bottom: 5px">
            <div class="tile-header dvd dvd-btm" style="float: left; z-index: 1">
                <button type="button" class="btn btn-success btn-cons btn-small" style="margin: 0;padding-left:8px;padding-right:8px;" ng-click="CHd.colse('block');">Payment Mode</button>
                <h1 class="custom-font" style="color: red;"><strong>Total: {{$$cre.totalFeeamut-$$cre.Damut | currency:'':decimal_dsc}}</strong></h1>
                <span ng-show="dis.showDis" style="padding-left: 50px;">{{$$cre.totalFeeamut}}-{{$$cre.Damut}}</span>
                <!--<select ng-model="trans.modeO" ng-options="pm as pm.pmDesc for pm in PaymentModes" class="form-control"></select>-->
                <button type="button" class="btn btn-success btn-cons btn-small" style="margin: 0;padding-left:8px;padding-right:8px;" ng-disabled="!(clicked || (($$cre.totalFeeamut-$$cre.Damut)==$$cre.totalamutPM))" ng-click="submit();">Collect Fee</button>
                <button type="button" class="btn btn-success btn-cons btn-small" style="margin: 0; display: none;;padding-left:8px;padding-right:8px;" ng-click="reset();">Reset</button>
            </div>
            <hr style="border:1px solid #e7eaeb; width:100%;"/>
            <div class="tile-body table-custom ng-scope">
                <div class="table-responsive">
                    <div id="Div1" class="dataTables_wrapper form-inline no-footer">

                        <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-custom ng-isolate-scope dataTable no-footer" style="display: none;" id="Table1" role="grid" aria-describedby="DataTables_Table_17_info">
                            <thead>
                                <tr role="row">
                                    <th>Sr.No.</th>
                                    <th>Pr.No.</th>
                                    <th>Enroll</th>
                                    <th>Fees</th>
                                    <th>Mode</th>
                                    <th>Chq.No./Trx.ID</th>
                                    <th>Bank</th>
                                    <th>Date</th>
                                    <!--<th>Trx.ID</th>-->
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row" ng-repeat="trans in SelectedFees" ng-if="trans.ID>=0" style="text-align:center;">
                                    <td>{{$index+1}}</td>
                                    <td>{{trans.pno}}</td>
                                    <td>{{trans.enroll}}</td>
                                    <td>{{trans.FD}}</td>
                                    <td>
                                        <select ng-model="trans.mode" ng-options="pm as pm.pmDesc for pm in PaymentModes" class="form-control"></select></td>
                                    <td>
                                        <input type="text" ng-model="trans.chequeNo" ng-enabled="trans.mode.pmType!=1" class="form-control" /></td>
                                    <td>
                                        <select ng-options="bd as bd.bankName for bd in BankDet" ng-model="trans.chqBank" ng-disabled="trans.mode.pmType==1" class="form-control"></select></td>
                                    <td>
                                        <input type="date" ng-model="trans.chqDate" ng-disabled="trans.mode.pmType==1" class="form-control" /></td>
                                    <!--<td><input type="text" ng-model="trans.chequeNo" ng-disabled="trans.mode.pmType==1 || trans.mode.pmType==2" class="form-control" /></td>-->
                                    <td>
                                        <input type="text" ng-model="trans.FPamt" class="form-control" style="text-align: right" ng-keydown="numOnly($event)" />
                                    </td>
                                    <td>
                                        <input type="button" ng-show="trans.feeNumber==null" ng-click="removeOtherFee(trans);" value="X" /></td>
                                </tr>
                            </tbody>
                        </table>

                        <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-custom ng-isolate-scope dataTable no-footer" style="display: table;" id="Table3" role="grid" aria-describedby="DataTables_Table_17_info">
                            <thead>
                                <tr role="row" style="background: lightgray">
                                    <th>Mode</th>
                                    <th>Amount</th>
                                    <th>Chq.No./Trx.ID</th>
                                    <th>Bank</th>
                                    <th>Date</th>
                                    <!--<th>Trx.ID</th>-->
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row" ng-repeat="trans in pd">
                                    <td>{{trans.modeO.pmDesc}}</td>
                                    <td>
                                        <input type="text" ng-model="trans.FPamt" class="input-sm form-control" style="text-align: right; width: 100px;" ng-keydown="numOnly($event)" ng-blur="check()" /></td>
                                    <!--<td>{{trans.chequeNo}}</td>-->
                                    <td>
                                         <input type="text" class="k-textbox" ng-disabled="trans.modeO.pmType==1" style="border: none;width:200px" ng-blur="checkChqDetails(trans.chequeNo)" ng-model="trans.chequeNo" maxlength="25" value="{{trans.chequeNo}}" />
                                    </td>
                                    <!--<td>{{trans.chqBank.bankName}}</td>-->
                                    <td>
                                        <select ng-options="bd as bd.bankName for bd in BankDet" ng-model="trans.chqBank" ng-disabled="trans.modeO.pmType==1" class="form-control"></select>
                                    </td>
                                    <!--<td>{{trans.chqDate}}</td>-->
                                    <td>
                                         <input type="text" class="k-textbox" ng-disabled="trans.modeO.pmType==1" style="width:130px" ng-blur="checkDate(trans.chqDate)" placeholder="DD-MM-YYYY" style="border: none;" ng-model="trans.chqDate" maxlength="25" />
                                    </td>
                                    <!--<td>{{trans.chequeNo}}</td>-->
                                    <td>
                                        <input type="button" value="X" ng-click="rmPMode(trans);" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
<div ng-show="dis.showDis">
    <div ng-style="{'height':dis.cheight}" style="background: rgba(27, 30, 36, 0.65);z-index: 10;position: fixed;bottom: 0;width: 78%;line-height: 2;text-align: center;color: #042E64;text-shadow: 0 1px 0 #84BAFF;box-shadow: 0 0 15px #00214B">
        <i style="font-size:24px;float: left;margin-top: -15px;cursor:pointer" ng-click="dis.toggleDisPane();" ng-class="dis.cheight=='1px'?'fa fa-angle-double-up':'fa fa-angle-double-down'"></i>
        <div class="tile-body table-custom ng-scope" style="padding:3px">
            <div class="table-responsive">
                <div id="Div2" class="dataTables_wrapper form-inline no-footer">
                    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-custom ng-isolate-scope dataTable no-footer" style="display: table;" id="Table2" role="grid" aria-describedby="DataTables_Table_17_info">
                        <thead>
                            <tr role="row" style="background:darkgray">
                                <th>Sr. No</th>
                                <th>Enrollment Number</th>
                                <th>Fee Desc</th>
                                <th>Discount Desc</th>
                                <th>Discount Type</th>
                                <th>Discount Value</th>
                                <th>AMT</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr role="row" ng-repeat="item in appliedDD" ng-style="{'background':$index%2==0?'rgba(245, 245, 220, 0.86)':'rgba(230, 235, 250, 0.85)'}" style="text-align:left" ng-if="item.visible">
                                <td ng-if="item.visible" style="padding: 0 !important;padding-left: 15px !important;">
                                    <input type="checkbox" ng-click="OnDisAdd(item)" ng-model="item.status" style="height:17px;width:17px" />
                                </td>
                                <td style="padding: 0 !important;">{{item.enrollNumber}}</td>
                                <td style="padding: 0 !important;">{{item.feeDesc}}</td>
                                <td style="padding: 0 !important;">{{item.sims_concession_description}}</td>
                                <td style="padding: 0 !important;">{{item.didDesc}}</td>
                                <td style="padding: 0 !important;">
                                    <input name="val" class="input-sm" type="text" ng-model="item.sims_concession_discount_value" style="text-align:right;width:50%" />
                                </td>
                                <td style="padding: 0 !important;">{{item.feeAmt | currency:'':decimal_dsc}}</td>
                                <td style="padding: 0 !important;">
                                    <button type="button" class="btn btn-success btn-cons input-sm" ng-click="UpdateDiscount(item)" style="min-width:initial;margin:0" ng-if="item.status">Apply</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

                </div>
            </div>
        </div>
    </div>

  <!-- /tile body -->

<div class="modal fade in" id="feemodal" role="dialog" style="display: none;">
    <div class="modal-dialog" style="width: 1024px; border: solid; border-width: 02px; border-bottom-left-radius: 05px; border-bottom-right-radius: 05px; border-top-left-radius: 05px; border-top-right-radius: 05px; border-color: blue">
        <div class="modal-content">
            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px;font-weight:600">Fee Receipts<b></b> : <span class="semi-bold">{{student_name}}</span></h4>
                </div>
                <div class="pull-right">
                    <a href="">
                       <!--- <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>--->
                        <a role="button" data-dismiss="modal" tabindex="0" class="tile-close btn btn-primary"><i class="fa fa-times"></i></a>
                        <!--<button style="margin-top :4px;margin-right :0px;height :33px;line-height :23px;" class="btn btn-primary btn-cons" data-dismiss="modal" type="submit">Close</button>-->

                    </a>
                </div>

            </div>
            <div class="col-md-12" ng-hide="report_show" style="background-color: white;">
                <div class="row report_holder">
                    <div id="reportViewer1">
                        loading...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

     <!--  <div style="width: 850px; height: 70%; overflow: auto;">
            <div class="modal fade" id="MyModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" style="width: 95%; background-color: white;">
                    <div class="modal-content" style="text-align: left">
                        <div class="modal-header dvd dvd-btm b-b b-grey">
                            <div class="pull-left p-l-10 ">
                                <h4 class="custom-font"><strong>{{"Fee" | translate }} </strong>{{"Receipts:" | translate }}{{student_name}}</h4>
                            </div>
                            <div class="position-absolute t-p-0 r-p-0">
                                <a role="button" data-dismiss="modal" tabindex="0" class="tile-close btn btn-primary"><i class="fa fa-times"></i></a>
                            </div>
                            
                        </div>
                        
                           <div class="modal-body">

                            <div class="row text-left m-t-5 m-l-5 m-r-5 m-b-5">

                              <!--  <div class="p-l-5 p-r-5 p-t-5 p-b-5 b-a b-grey" ng-repeat="row in feesDisReceiptData">
                                    <div style="display: flex; padding: 5px">
                                        <div style="width: 30px; height: 30px">
                                        </div>
                                        <i class="{{row.sims_icon}}" ng-click="expand(row,$event1)" style="padding: 5px"></i>
                                        <span style="padding: 5px">
                                            <strong>{{"RECEIPT NO" | translate }} </strong>{{row.doc_no}}  
                                            <strong>{{"RECEIPT DATE" | translate }} :</strong>{{row.doc_date}} 
                                            <strong>{{"CREATION DATE" | translate }} :</strong> {{row.creation_date}}
                                            <strong>{{"STATUS" | translate }} :</strong>{{row.doc_status}} :
                                            <strong>{{"AMOUNT" | translate }} :</strong>{{row.total_amount}}
                                        </span>
                                    </div>-->


                                <!--    <div ng-show="small_table" >  <!--ng-style="{'display':row.isexpanded}"-->
                                   <!--     <div></div>
                                        <table class="table table-bordered dataTable" id="Table5" role="grid" aria-describedby="project-progress_info">
                                            <thead>
                                                <tr style="z-index: 1">

                                                    <th tabindex="0" aria-controls="project-progress" aria-sort="ascending" aria-label="ID: activate to sort column descending" style="width: 15px;">{{"Sr.No" | translate }}</th>
                                                     <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending" style="width: 25px;" font-weight: bold;"  class="semi-bold" ng-click="sortBy('doc_no')">{{"Receipt No" | translate }}<span class="sortorder" ng-show="propertyName === 'doc_no'" ng-class="{reverse: reverse}"></span></th>
                                                      <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending" style="width: 25px;" font-weight: bold;"  class="semi-bold" ng-click="sortBy('doc_status')">{{"Doc Status" | translate }}<span class="sortorder" ng-show="propertyName === 'doc_status'" ng-class="{reverse: reverse}"></span></th>
                                                    <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending" style="width: 25px;" font-weight: bold;"  class="semi-bold" ng-click="sortBy('doc_date')">{{"Doc Date" | translate }}<span class="sortorder" ng-show="propertyName === 'doc_date'" ng-class="{reverse: reverse}"></span></th>
                                                    <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending" style="width: 25px;" font-weight: bold;"  class="semi-bold" ng-click="sortBy('sims_fee_code_description')">{{"Particulars" | translate }}<span class="sortorder" ng-show="propertyName === 'sims_fee_code_description'" ng-class="{reverse: reverse}"></span></th>
                                                    <th style="width: 100px;" tabindex="0" aria-controls="project-progress" font-weight: bold;" class="semi-bold" ng-click="sortBy('dd_fee_amount_final')">{{"Expected Amount" | translate }}<span class="sortorder" ng-show="propertyName === 'dd_fee_amount_final'" ng-class="{reverse: reverse}"></span></th>
                                                    <th style="width: 80px;" class="text-left no-sort sorting_disabled" aria-label="Chart" class="semi-bold" ng-click="sortBy('dd_fee_amount_final')">{{"Fee Amount" | translate }}<span class="sortorder" ng-show="propertyName === 'dd_fee_amount_final'" ng-class="{reverse: reverse}"></span></th>
                                                    <!-- <th style="width: 80px;" class="text-left no-sort sorting_disabled" aria-label="Chart">{{"Balance" | translate }}</th>-->
                                     <!--               <th style="width: 30px;" class="text-left" class="semi-bold" ng-click="sortBy('dd_fee_payment_mode')">{{"Payment Mode" | translate }}<span class="sortorder" ng-show="propertyName === 'dd_fee_payment_mode'" ng-class="{reverse: reverse}"></span></th>
                                                    <th style="width: 20px;" tabindex="0" aria-controls="project-progress" font-weight: bold;"  class="semi-bold" ng-click="sortBy('cheque_number')">{{"Cheque/DD No" | translate }}<span class="sortorder" ng-show="propertyName === 'cheque_number'" ng-class="{reverse: reverse}"></span></th>
                                                    <th style="width: 20px;" tabindex="0" aria-controls="project-progress" font-weight: bold;"  class="semi-bold" ng-click="sortBy('chequeStatus_Desc')">{{"Cheque Status" | translate }}<span class="sortorder" ng-show="propertyName === 'chequeStatus_Desc'" ng-class="{reverse: reverse}"></span></th>
                                                    <!--<th style="width: 20px;" tabindex="0" aria-controls="project-progress">Date</th>-->
                                       <!--             <th style="width: 20px;" tabindex="0" aria-controls="project-progress" font-weight: bold;"  class="semi-bold" ng-click="sortBy('creation_user')">{{"Received By" | translate }}<span class="sortorder" ng-show="propertyName === 'creation_user'" ng-class="{reverse: reverse}"></span></th>
                                                      <th style="width: 20px;" tabindex="0" aria-controls="project-progress" font-weight: bold;"  class="semi-bold" ng-click="sortBy('creation_date')">{{"Creation Date" | translate }}<span class="sortorder" ng-show="propertyName === 'creation_date'" ng-class="{reverse: reverse}"></span></th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="info in feesReceiptData | orderBy:propertyName:reverse" ng-class="row1" ng-dblclick="edit(airfare)"">   

                                                    <td>
                                                        <div class="text-default">{{$index+1}}</div>
                                                    </td>
                                                    <td>
                                                        <div class="text-default">{{info.doc_no}}</div>
                                                    </td>
                                                    <td>
                                                        <div class="text-default">{{info.doc_status}}</div>
                                                    </td>
                                                     <td>
                                                        <div class="text-default">{{info.doc_date}}</div>
                                                    </td>
                                                    <td>
                                                        <div class="text-default">{{info.sims_fee_code_description}}</div>
                                                    </td>
                                                    <td>
                                                        <div class="text-right">{{info.dd_fee_amount_final | currency:'':decimal_dsc}}</div>
                                                    </td>
                                                    <td>
                                                        <div class="text-right">{{info.dd_fee_amount_final | currency:'':decimal_dsc}}</div>
                                                    </td>
                                                   <!-- <td>
                                                        <div class="text-right">{{info.dd_fee_amount_final-info.dd_fee_amount_final | currency:"":2}}</div>
                                                    </td>-->
                                        <!--            <td>
                                                        <div class="text-default">{{info.dd_fee_payment_mode}}</div>
                                                    </td>
                                                    <td>
                                                        <div class="text-default">{{info.cheque_number}}</div>
                                                    </td>
                                                    <td  >
                                                        <div class="text-default" ng-style="{'color': info.chequeColor_Desc}">{{info.chequeStatus_Desc}}</div>
                                                    </td>
                                                    <td>
                                                        <div class="text-default">{{info.creation_user}}</div>
                                                    </td>
                                                     <td>
                                                        <div class="text-default">{{info.creation_date}}</div>
                                                    </td>
                                                    
                                                </tr>

                                                <tr style="background-color:#cacfd4;font-weight:200px">
                                                    <td colspan="4"></td>
                                                    <td  style="text-align:right">
                                                        <div class="text-default">Total</div>
                                                    </td>
                                                     <td style="text-align:right"><div class="text-default">{{expected_amt | currency:'':decimal_dsc}}</div></td>
                                                     <td style="text-align:right"><div class="text-default">{{Fee_amt | currency:'':decimal_dsc}}</div></td>
                                                    <td colspan="5"></td>
                                                </tr>


                                            </tbody>

                                        </table>
                                    </div>
                            <!--    </div>-->

                         <!--   </div>

                            <div style="padding-left: 12px; text-align: left;">
                                <paging class="small" page="currentPage_invoice" page-size="pageSize_invoice" total="pagersize_invoice" pg-href="#GotoPage-{page}" dots="{{dots_invoice}}" show-prev-next="{{showPrevNext_invoice}}"
                                        scroll-top="{{scrollTop}}" ng-show="hideIfEmpty_invoice" ul-class="{{ulClass_invoice}}" active-class="{{activeClass_invoice}}" disabled-class="{{disabledClass_invoice}}" show-first-last="{{showFirstLast_invoice}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page_invoice, pageSize_invoice, totalItems_invoice)"
                                        ng-click="index_invoice(currentPage_invoice)">
                                </paging>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
     -->   
<!--  Total Due -->
<style>
    #DueModal table thead > tr > th{
        text-align:right;
    }
</style>
<div style="width: 850px; height: 70%; overflow: auto;">
    <div class="modal fade" id="DueModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" style="width: 95%; background-color: white;">
            <div class="modal-content" style="text-align: left">

               <div class="grid-body no-border">
                   <div class="col-md-12" style="padding:2%;">
                <div class="row" ng-hide="true">
                    <div class="col-md-2" style="vertical-align:central">
                        <h4 class="custom-font"><strong>Fee </strong>Due :</h4>
                    </div>
                    <div class="col-md-8" style="vertical-align:central">
                        <strong>{{student_name}}</strong>
                    </div>

                </div>
                
                <div class="modal-header">
                    <div class="row">                        
                        <div class="col-md-4">
                            <h4 style="float:left;">Total Fee Due</h4>
                        </div>

                        

                            <div class="col-md-4">
                                <div class="radio radio-success">
                                   
                            <input type="radio" id="monthly" name="feedue" value="1" ng-model="temp.monthly" ng-click="showDueDropdonn('M');"/>
                                <label class="form-label" for="monthly">{{"Monthly"| translate }}&nbsp;</label>
                            <!--<label for="monthly">Monthly</label>--> 
                            <input type="radio" id="Termly" name="feedue" value="2" ng-model="temp.termly" ng-click="showDueDropdonn('T');"/>
                                <label class="form-label" for="Termly">{{"Termly"| translate }}&nbsp;</label>
                            <!--<label for="Termly">Termly</label>-->  
                            <input type="radio" id="Yearly" name="feedue" value="3" ng-model="temp.yearly" ng-checked="true" ng-click="showDueDropdonn('Y');"/>
                                <label class="form-label" for="Yearly">{{"Yearly"| translate }}&nbsp;</label>
                            <!--<label for="Yearly">Yearly</label>-->   
                                </div>
                        </div>
                        <div class="col-md-4 pull-right text-right">
                    <a role="button" data-dismiss="modal" tabindex="0" class="tile-close"><i class="fa fa-times"></i></a>
                </div>
                    </div>
                                    
                    <div class="tile-header row dvd dvd-btm" style="margin: 0;text-align:right;" >
                        <div class="row" style="margin-bottom: 11px;">
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" ng-show="showDDM">
                                <select ng-hide="ajiMonth" class="form-control" ng-model="temp.monthNo" ng-change="showDueData('M');">
                                    <option value="" selected disabled>Select Month</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <!--<option value="7">July</option>
                                    <option value="8">August</option>-->                                    
                                </select>
                                <select ng-show="ajiMonth" class="form-control" ng-model="temp.monthNo" ng-change="showDueData('M');">
                                    <option value="" selected disabled>Select Month</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>                                                                        
                                </select>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" ng-show="showDDT">
                                <select class="form-control" ng-model="temp.termCode" ng-change="showDueData('T');">
                                    <option value="" selected>Select Term</option>
                                    <option ng-repeat="term in termData" value="{{term.sims_fee_term_code}}">{{term.sims_fee_term_desc_en}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="showDueTable">
                                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                                    <div style="width: 100%;max-height: 400px; overflow-x: auto; overflow-y: auto">
                                        <table class="table table-bordered table-condensed" id="fixTable">
                                            <thead>
                                                <tr style="height:20px">
                                                    <th class="semi-bold">{{"ENROLL NO"|translate}}</th>
                                                    <th class="semi-bold">{{"STUDENT NAME"|translate}}</th>
                                                    <th class="semi-bold">{{"FEE TYPE"|translate}}</th>
                                                    <th class="semi-bold">{{"EXEPECTED AMOUNT"|translate}}</th>
                                                    <th class="semi-bold">{{"PAID AMOUNT"|translate}}</th>
                                                    <th class="semi-bold">{{"DUE AMOUNT"|translate}}</th>
                                                </tr>
                                            </thead>
                                            <tr ng-repeat="info in feesData">
                                                <td>{{info.std_fee_enroll_number}}</td>
                                                <td>{{info.std_fee_student_name}}</td>
                                                <td>{{info.sims_fee_code_description}}</td>
                                                <td>{{info.std_fee_amount}}</td>
                                                <td>{{info.std_TotalPaid}}</td>
                                                <td>{{info.std_BalanceFee}}</td>
                                            </tr>
                                            <tr ng-repeat="amt in totalArray">
                                                <td class="text-right" colspan="3"><strong>{{amt.feeName}}</strong></td>
                                                <td><strong>{{amt.expectedAmount | currency:'':decimal_dsc}}</strong></td>
                                                <td><strong>{{amt.paidamount | currency:'':decimal_dsc}}</strong></td>
                                                <td><strong>{{amt.balanceAmount | currency:'':decimal_dsc}}</strong></td>                                                
                                            </tr>
                                            <tr>                                                                                                
                                                <td class="text-right" colspan="3"><strong>Grand Total</strong></td>
                                                <td><strong>{{ExpectedAmount | currency:'':decimal_dsc}}</strong></td>
                                                <td><strong>{{paidAmount | currency:'':decimal_dsc}}</strong></td>
                                                <td><strong>{{balanceAmount | currency:'':decimal_dsc}}</strong></td>
                                            </tr>
                                        </table>
                                    </div>                                    
                                </div>
                            </div>
                          </div>                                                
                    </div>                   
                </div>
                   </div>
                   </div>
            </div>
        </div>

    </div>
</div>  

<script>
    function blockSpecialChar(e) {
        var k = e.which;
        var r = ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 8 || k == 32 || (k >= 48 && k <= 57));
        return r;
    }
</script>

<style>
    #reportViewer1 {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 5px;
        overflow: hidden;
        font-family: Verdana, Arial;
    }

    .cr {
        cursor: pointer;
    }

    .report_holder {
        height: 500px;
        position: relative;
    }
</style>

<script src="assets/js/calender-datepicker-id.js"></script>
<script src="assets/js/moment.js"></script>
