﻿<script src="assets/plugins/fileSaver.js"></script>
<script src="https://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.12/xlsx.core.min.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="page-title">
                <h3><span class="semi-bold">{{"Fee Term"| translate }}</span></h3>
            </div>
         <div class="grid-body no-border">
              <form name="myForm" ng-submit="Save(myForm.$valid)" novalidate="novalidate">
                <div ng-show="operation">
                            <div class="row">
                                <div class="col-md-2" ng-class="{'has-error': !myForm.curc.$valid && (myForm.curc.$touched || myForm.$submitted) }">
                                    <label id="Label1" for="txt_Nationality_Code" class="form-label"><i class="fa fa-book"></i>  {{"Curriculum"| translate }}<span class="text-red">*</span></label>
                                    <select id="cmb_house" data-role="dropdownlist" class="form-control input-sm full-width" name="curc"  ng-show="newmode" required
                                            ng-model="temp.sims_cur_code"
                                            ng-change="getacyr(temp.sims_cur_code)" 
                                            ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in curriculum" ></select>
                                    <p class="help-block" ng-show="myForm.curc.$error.required &&  (myForm.curc.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                    <input type="text" id="Text1" ng-model="edt.sims_term_cur_short_name_en" class="k-textbox input-sm full-width" ng-show="editmode" disabled="disabled" />
                                </div>                          
                                <div class="col-md-2" ng-class="{'has-error': !myForm.year.$valid && (myForm.year.$touched || myForm.$submitted) }">
                                    <label id="Label2" for="txt_Country_Code" class="form-label"><i class="fa fa-sort-amount-asc"></i>  {{"Academic Year"| translate }}<span class="text-red">*</span></label>
                                    <select id="Select1" data-role="dropdownlist" class="form-control input-sm full-width" name="year" ng-show="newmode" required
                                            ng-model="temp.sims_academic_year"
                                            ng-change="Alltermcode(temp.sims_cur_code, temp.sims_academic_year);Yeardate(temp.sims_academic_year);"
                                            ng-options="year1.sims_academic_year as year1.sims_academic_year_desc for year1 in Academic_year"></select>
                                    <p class="help-block" ng-show="myForm.year.$error.required &&  (myForm.year.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                    <input type="text" id="Text3" ng-model="edt.sims_academic_year_description" class="k-textbox input-sm full-width" ng-show="editmode" disabled="disabled" />
                                </div>

                                <div class="col-md-2" ng-class="{'has-error': !myForm.term.$valid && (myForm.term.$touched || myForm.$submitted) }">
                                    <label id="Label3" for="txt_Country_Code" class="form-label"><i class="fa fa-sort-numeric-asc"></i>{{"Term"| translate }}<span class="text-red">*</span></label>
                                    <select id="Select2" data-role="dropdownlist" class="form-control input-sm full-width" name="term" ng-show="newmode" required
                                            ng-model="temp.sims_term_code"
                                            ng-change="showdata(temp.sims_term_code)"
                                            ng-options="terms.sims_term_code as terms.sims_term_desc_en for terms in All_Terms"></select>
                                    <p class="help-block" ng-show="myForm.term.$error.required &&  (myForm.term.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                    <input type="text" id="Text4" ng-model="edt.sims_term_desc_en" class="k-textbox input-sm full-width" ng-show="editmode" readonly disabled="disabled" />
                                </div>                               
                                    <div class="col-md-2">
                                        <label id="label9" class="form-label"><i class="fa fa-calendar"></i>  {{"Start Date"| translate}}</label>
                                        <!-- <div class="input-append success date col-md-10 col-lg-6 no-padding" data-datepicker="true">-->
                                        <!--<input type="text" class="form-control" ng-change="showdate(edt.sims_term_start_date,'sims_term_start_date')" ng-model="edt.sims_term_start_date">-->
                                        <input id="from_date_new" class="k-textbox input-sm full-width" ng-model="edt.sims_term_start_date">
                                        <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                    </div>
                                    <div class="col-md-2">
                                        <label id="label10" class="form-label"><i class="fa fa-calendar"></i>  {{"End Date"| translate}}</label>

                                        <!-- <div class="input-append success date col-md-10 col-lg-6 no-padding" data-datepicker="true">-->
                                        <!--<input type="text" class="form-control" ng-change="createdate(edt.sims_term_end_date,edt.sims_term_start_date,'sims_term_end_date')" ng-model="edt.sims_term_end_date">-->
                                        <input id="to_date_new" class="k-textbox input-sm full-width" ng-model="edt.sims_term_end_date" ng-change="showdatecheck(edt.sims_term_end_date,edt.sims_term_start_date,'sims_term_end_date')">
                                        <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                    </div>

                                



                                <div class="col-md-pull-4 ">
                                    <div class="pull-right">
                                    <label id="Label4" for="txt_full_name" class="form-label"><i class="fa fa-bookmark"></i>  {{"Status"| translate }}</label>
                                    <div class="checkbox check-success">
                                        <input id="chk_term" type="checkbox" ng-model="edt.sims_term_status">
                                        <label for="chk_term"></label>
                                    </div>
                                </div>
                                    </div>
                            </div>
                       
                            <div class="row">
                                <div class="col-md-2">
                                    <label id="label5" class="form-label"><i class="fa fa-align-justify"></i>  {{"English Description"| translate}}</label>
                                    <input type="text" id="Text2" ng-model="edt.sims_term_desc_en" class="k-textbox input-sm full-width" name="hobj" required />
                                </div>

                                <div class="col-md-2">
                                    <label id="label6" class="form-label"><i class="fa fa-align-justify"></i>  {{"Arabic Description"| translate}}</label>
                                    <input type="text" id="Text5" ng-model="edt.sims_term_desc_ar" class="k-textbox input-sm full-width" name="hobj"  />
                                </div>
                                <div class="col-md-2">
                                    <label id="label7" class="form-label"><i class="fa fa-align-justify"></i>  {{"Regional Description"| translate}}</label>
                                    <input type="text" id="Text6" ng-model="edt.sims_term_desc_ot" class="k-textbox input-sm full-width" name="hobj"  />
                                </div>

                                <div class="col-md-2">
                                    <label id="label8" class="form-label"><i class="fa fa-align-justify"></i>  {{"French Description"| translate}}</label>
                                    <input type="text" id="Text7" ng-model="edt.sims_term_desc_fr" class="k-textbox input-sm full-width" name="hobj"  />
                                </div>

                            </div>
                      
                                <!--<div class="row">
                                <div class="col-md-3">
                                    <label id="label9" class="form-label"><i class="fa fa-calendar"></i>  {{"Start Date"| translate}}</label>

                                        <input id="start_date" class="k-textbox input-sm full-width" ng-model="edt.sims_term_start_date">
                                    </div>
                                <div class="col-md-3">
                                    <label id="label10" class="form-label"><i class="fa fa-calendar"></i>  {{"End Date"| translate}}</label>

                                        <input id="to_date" class="k-textbox input-sm full-width" ng-model="edt.sims_term_end_date" ng-change="showdatecheck(edt.sims_term_end_date,edt.sims_term_start_date,'sims_term_end_date')">
                                    </div>

                                </div>-->
                    
                <div class="col-md-12">
                    <div class="form-actions">
                        <div class="pull-right">
                            <button class="btn btn-primary btn-cons btn-small" type="submit" ng-show="savebtn"><i class="icon-ok"></i>{{"Save"| translate }}</button>
                            <button class="btn btn-primary btn-cons btn-small" type="button" ng-show="updatebtn" ng-click="Update()"><i class="icon-ok"></i>{{"Update"| translate }}</button>
                            <!--<button class="btn btn-white btn-cons" type="button" ng-show="deletebtn" ng-click="deleterecord()"><i class="icon-ok"></i>{{"Delete"| translate }}</button>-->
                            <button class="btn btn-danger btn-cons" type="button" ng-click="cancel()">{{"Cancel"| translate }}</button>
                        </div>

                    </div>
                    </div>
                  </div>
              </form>
                <!--table-->


            <div ng-show="table1">

                <div class="row">
                    <div class="col-md-6">
                        <select id="Select12" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="10" class="form-control input-sm">
                                10
                            </option>

                            <option value="20" class="form-control input-sm">
                                20
                            </option>

                            <option value="All" class="form-control input-sm">
                                All
                            </option>
                        </select>

                        &nbsp;
                        <button class="btn btn-success btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate}}</button>
                        &nbsp;
                        <button class="btn btn-danger btn-cons" type="button" ng-click="deleterecord()"><span class="semi-bold"></span>{{"Delete"| translate}}</button>
                    </div>


                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="Div1">
                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" placeholder="Search" autofocus="autofocus" aria-controls="example" ng-model="searchText" class="k-textbox input-sm pull-width" ng-change="search();">
                                <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div class="row margin-top">
                        <div class="col-md-12">
                        <table class="table table-bordered  table-condensed" id="fixTable">
                            <thead style="background-color: #edefef">
                                <tr>
                                    <th class="small-cell v-align-middle" style="z-index:1">
                                        <div class="checkbox check-success">
                                            <input type="checkbox" name="check" value="1" id="mainchk" ng-click="CheckAllChecked();">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>
                                     <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                        <label><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class=" fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"Curriculum"| translate }}</a></label>
                                    </th>
                                  <!--  <th class="semi-bold">  {{"CURRICULUM"| translate }}</th>-->

                                    <th><i class="fa fa-calendar"></i>  {{"Year"| translate }}</th>
                                    <th><i class="fa fa-sort-numeric-asc"></i>  {{"Term"| translate }}</th>
                                    <th><i class="fa fa-align-justify"></i>  {{"Description English"| translate }}</th>
                                    <th><i class="fa fa-align-justify"></i>  {{"Description Arabic"| translate}}</th>
                                    <th><i class="fa fa-align-justify"></i>  {{"Description French"| translate}}</th>
                                    <th><i class="fa fa-align-justify"></i>  {{"Description Regional"| translate}}</th>
                                    <th><i class="fa fa-calendar"></i>  {{"Start Date"| translate}}</th>
                                    <th><i class="fa fa-calendar"></i>  {{"End Date"| translate}}</th>
                                    <th><i class="fa fa-bookmark"></i>  {{"Status"| translate}}</th>
                                    <th><i class="fa fa-cogs"></i></th>
                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <tr ng-repeat="obj in filteredTodos | orderBy:orderByField:reverseSort" ng-class="row1">
                                    <td class="small-cell v-align-middle">
                                        <div class="row-fluid" style="height: 20px">
                                            <div class="checkbox check-success">
                                                <input type="checkbox" value="1" id="{{obj.sims_term_code+$index}}" ng-click="checkonebyonedelete()">
                                                <label for="{{obj.sims_term_code+$index}}"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{obj.sims_term_cur_short_name_en}}</td>
                                    <td>{{obj.sims_academic_year_description}}</td>
                                    <td>{{obj.sims_term_code}}</td>
                                    <td>{{obj.sims_term_desc_en}}</td>
                                    <td>{{obj.sims_term_desc_ar}}</td>
                                    <td>{{obj.sims_term_desc_fr}}</td>
                                    <td>{{obj.sims_term_desc_ot}}</td>
                                    <td>{{obj.sims_term_start_date}}</td>
                                    <td>{{obj.sims_term_end_date}}</td>
                                    <td class="v-align-middle">
                                        <span ng-if="obj.sims_term_status==true" class="label label-success">{{"Active"| translate}}</span>
                                        <span ng-if="obj.sims_term_status==false" class="label label-important">{{"In active"| translate}}</span>
                                    </td>
                                    <td>
                                        <a href=""><i class="fa fa-edit" ng-click="up(obj)"></i></a>
                                    </td>
                                </tr>

                            </tbody>

                        </table>
                    </div>
                        </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="row form-row">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
</div>
</div>
    </div>
 </div>
<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>
<script src="assets/plugins/modal_updated.js"></script>
 
<script src="assets/js/moment.js"></script>
