﻿
<link href="assets/plugins/Minovate/Main.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold"><strong>Late Fee </strong> Students</span></h3>
            </div>
    <!-- tile -->
    <section class="tile">
            <!-- tile header -->
        <!--<div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"></h1>
            <ul class="controls">
               
                <li>
                    <a role="button" tabindex="0">
                        <span class="fa fa-refresh" ng-click="refresh()"></span>
                    </a>
                </li>

            </ul>
        </div>-->
        <!-- /tile header -->
               <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input
                                placeholder="page"
                                class="form-control"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input
                                placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input
                                placeholder="Total"
                                class="form-control"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input
                                placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input
                                placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input
                                placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input
                                placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        <!-- tile body -->
        <div class="grid-body no-border">
           <div class="tile-body table-custom" style="display: block;">
               
             <div class="table-responsive">
                <div id="project-progress_wrapper">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="username">Curriculum </label>
                            <select id="cmb_cur" data-role="dropdownlist" class="form-control input-sm full-width"
                                ng-model="edt.sims_cur_code" ng-change="cur_code_change(edt.sims_cur_code)"
                                ng-options="commn2.sims_cur_code as commn2.sims_cur_short_name for commn2 in CurData" name="cmb_cur">
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="username">Year </label>
                            <select id="Select1" data-role="dropdownlist" class="form-control input-sm full-width"
                                ng-model="edt.sims_academic_year" ng-change="academic_year_change(edt.sims_cur_code,edt.sims_academic_year)"
                                ng-options="commn2.sims_academic_year as commn2.sims_academic_year_description for commn2 in AcademicYears"
                                ng-selected="commn2.sims_academic_year_status==currentYear_status" name="cmb_academic">
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="username">Grade </label>
                            <select id="Select2" data-role="dropdownlist" class="form-control input-sm full-width"
                                ng-model="edt.sims_grade_code"
                                ng-change="grade_change(edt.sims_cur_code,edt.sims_academic_year,edt.sims_grade_code)"
                                ng-options="commn2.sims_grade_code as commn2.sims_grade_name for commn2 in Grades"
                                name="cmb_grades">
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="username">Section </label>
                            <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width"
                                ng-model="edt.sims_section_code"
                                ng-options="commn2.sims_section_code as commn2.sims_section_name for commn2 in sections"
                                name="cmb_sections">
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="username">Term</label>
                            <select id="Select10" data-role="dropdownlist" class="form-control input-sm full-width"
                                ng-model="edt.sims_term_code"
                                ng-options="commn2.sims_fee_term_code as commn2.sims_fee_term_desc_en for commn2 in FeeFreqValue"
                                name="cmb_sims_invoce_mode">
                            </select>
                        </div>
                        <div class="col-md-2">
                            <div class="pull-right">
                            <label for="username">&nbsp;</label>
                             <button class="btn btn-success btn-small" ng-click="btnPreview_click()">Submit</button>
                                </div>
                        </div>
                         </div>

                        <div class="col-md-12">
                            <div class="form-actions">
                                <div class="pull-right">
                                    <button class="btn btn-success btn-small" ng-disabled="isApprov" ng-click="approve()">Approve</button>
                            <button type="submit" class="btn btn-orange btn-small" ng-click="btnReset_click()">Reset</button>
                                    </div>
                            </div>
                        </div>   
                  
                    <div class="row margin-top-10">
                        <div class="col-sm-12">

                                <table class="table table-hover table-bordered table-condensed" id="fixTable" role="grid" aria-describedby="project-progress_info">
                                    <thead>
                                        <tr  style="z-index: 1">
                                            <th class="semi-bold small-cell"  style="height:20px;z-index:1;width:05%;vertical-align:middle">
                                             <div class="checkbox check-success" style="height: 20px">
                                            <input type="checkbox" name="check" value="1" id="mainchk" ng-click="CheckMultiple();" class="checkall">
                                            <label for="mainchk"></label>
                                        </div>

                                    </th>

                                            <th tabindex="0" aria-controls="project-progress" aria-sort="ascending" aria-label="ID: activate to sort column descending" style="width: 15px;">Sr.No</th>
                                            <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending" style="width: 30px;">Enrollment No</th>
                                            <th style="width: 120px;" tabindex="0" aria-controls="project-progress" > Student Name</th>
                                            <th style="width: 120px;" class="text-left no-sort sorting_disabled" aria-label="Chart">Late Rule</th>
                                            <th style="width: 30px;" tabindex="0" aria-controls="project-progress">Late Fee Amount</th>
                                            <!--<th style="width: 30px;" tabindex="0" aria-controls="project-progress">Action</th>-->
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="info in filteredTodos">
                                            <td>
                                        <div class="checkbox check-success" style="height: 20px">
                                            <input type="checkbox" name="check" value="1"  id="{{info.sims_enroll_number}}" ng-model="info.sims_late_rule_status" ng-click="CheckOneByOne()" />
                                            <label for="{{info.sims_enroll_number}}"></label>
                                        </div>
                                    </td>

                                            <td>
                                                <div class="text-default">
                                                    {{$index+((currentPage-1)*numPerPage)+1|zpad:2}}
                                                    
                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-default">{{info.sims_enroll_number}}</div>
                                            </td>
                                            <td>
                                                <div class="text-default" >{{info.sims_student_name}}</div>
                                            </td>
                                            <td>
                                                <div class="text-default">{{info.sims_late_rule_description}}</div>
                                            </td>
                                            <td>
                                                <span ng-class="{true: 'pull-right label label-important', false: 'pull-right label label-success'}[1=='1']"
                                                        style="vertical-align: middle;"><b>{{info.sims_late_fee_amount | filter:currency:"":2}}</b></span>
                                                
                                            </td>
                                            
                                           <!-- <td>
                                                 <span ng-if="info.sims_invoice_student_status==true" ng-class="{true: 'label label-important', false: 'label label-success'}[1==2]"
                                                        style="vertical-align: middle;cursor:pointer" ng-click="viewInvoice(info,1)"><b>View Invoice</b></span>
                                            </td>-->
                                            
                                        </tr>
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>
                         <div class="row">
                        <div class="col-sm-12">
                            <div class="pull-right">
                        <div ng-show="paging">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                            ng-click="index(currentPage)">
                </paging>
                    </div>
                                </div>
                    </div>
                  
                </div>
            </div>
          </div>
               </div>
        <!-- /tile body -->
        </div>
    </section>
  <section class="tile">
   <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input
                                placeholder="page"
                                class="form-control"
                                ng-model="currentPage_invoice"
                                ng-init="currentPage_invoice = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input
                                placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage_invoice" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input
                                placeholder="Total"
                                class="form-control"
                                ng-model="pagersize_invoice" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input
                                placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots_invoice"
                                ng-init="dots_invoice = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input
                                placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass_invoice" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input
                                placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass_invoice"
                                ng-init="activeClass_invoice = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input
                                placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass_invoice"
                                ng-init="disabledClass_invoice = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showPrevNext_invoice"
                                        ng-init="showPrevNext_invoice = true" />
                                    {{showPrevNext_invoice}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showFirstLast_invoice"
                                        ng-init="showFirstLast_invoice = true" />
                                    {{showPrevNext_invoice}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage_invoice = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

  
      </section>
    <!-- /tile -->
</div>
        </div>
    </div>

<script src="assets/js/tableHeadFixer.js"></script>

