﻿<style>

    .table.table-bordered > tbody > tr > td {
        text-align: right;
        border-top: none;
        border-left: none;
    }

    .table.table-bordered > tfoot > tr > td {
        text-align: right;
        border-top: none;
        border-left: none;
    }
    .table-bordered > thead > tr > th {
    text-align: center;
    }

    table.table {
    clear: both;
    margin-bottom: -1px !important;
    max-width: none;
}
    .table td {
        color: #000000 !important;
    }

</style>


<div class="row">
    <div class="col-md-12">
        <div class="grid simple">

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input
                                placeholder="page"
                                class="form-control"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input
                                placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input
                                placeholder="Total"
                                class="form-control"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input
                                placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input
                                placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input
                                placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input
                                placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <div></div>
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>

            <div class="page-title">
                <h3><span class="semi-bold">{{"Manual "| translate }}</span>{{"Fee Posting" | translate }}</h3>
            </div>
            <div>
            <div ng-show="table">

              <div class="raw ">
                 <div  class="paddingcode grid-body bluegrd ">        
                
                 <div class="col-md-12 ">

                            <!--<div class="col-md-1">
                                <label class="semi-bold"><i class="fa fa-book"></i>&nbsp;{{"Curriculum"|translate}}</label>
                                        <select id="Select1" class="form-control input-sm full-width" name="user"
                                            ng-model="edt.sims_cur_code"
                                            ng-change="getAccYear(edt.sims_cur_code)"
                                            ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for  cur in curriculum">
                                            <option value="" selected disabled>Please Select</option>
                                        </select>
                                    </div>-->

                            <div class="col-md-2">
                                <label class="semi-bold"><i class="fa fa-sort-amount-desc"></i>&nbsp;{{"Academic Year"|translate}}</label>
                                        <select id="cmb_academic_year" class="form-control input-sm full-width"
                                            ng-model="edt.sims_academic_year" 
                                            ng-change="yearchange(edt.sims_academic_year)"
                                            ng-options="year1.sims_academic_year as year1.sims_academic_year_desc for year1 in Acc_year">
                                            <option value="" selected disabled>Please Select</option>
                                        </select>
                                    </div>

                            <div class="col-md-2">
                                    <label class="semi-bold" for="EndDate"><i class="fa fa-calendar"></i>&nbsp;{{"From Date" | translate }}</label>
                                    <input type="text" id="from_date" placeholder="Select Date"
                                        ng-disabled="End_date" name="creation_date" class="k-textbox input-sm full-width" ng-model="dt.sims_from_date">
                                   
                            </div>

                            <div class="col-md-2">
                                <label class="semi-bold" for="EndDate"><i class="fa fa-calendar"></i>&nbsp;{{"To Date" | translate }}</label>
                                    <input type="text" id="to_date" placeholder="Select Date"
                                        ng-disabled="End_date" name="creation_date" class="k-textbox input-sm full-width" ng-model="dt.sims_to_date" />
                                   
                            </div>


                     <div class="col-md-3" style="background-color:white;">
                         <!--<label >{{}}</label>-->
                           <div class="col-md-12">
                                <label class="semi-bold"><i class="fa fa-sort-amount-desc"></i>&nbsp;{{"As of yesterday"|translate}}</label>
                                           <div class="col-md-7">
                         <label class="semi-bold"><b>{{"Year"|translate}}:{{Year_desc}}</b></label>
                                               </div>
                                 <div class="col-md-3" style="margin-left: 31px;">
                         <label><b>{{"Count"|translate}}:{{TotalCount}}</b></label>
                                            </div>
                               </div>


                                    </div>
                     
                            <div class="col-md-3">
                                        <div class="row pull-right">
                                            <label>&nbsp;</label>
                                            <button type="button" class="btn btn-primary btn-cons btn-small" ng-click="Show_Data()">{{"Show"|translate}}</button>
                                            <button type="button" class="btn btn-primary btn-cons btn-small" ng-click="Show_Data_R()" ng-show="hide_reversal_712">{{"View Reversal"|translate}}</button>
                                            <button type="button" class="btn btn-primary btn-cons btn-small" ng-click="Clear_Data()">{{"Reset"|translate}}</button>
                                        </div>
                            </div>

            </div>
                     </div>
                  </div>
</div>
            <!-----------------------------------------Table One Code--------------------------------------------------->

            <div ng-show="table3">

                <div id="example_wrapper" class="dataTables_wrapper form-inline">

                     <div class="col-md-12 paddingcode">

             <div  class="  no-border">
                     
                 <div style="overflow: auto;">
                        <table class="table table-bordered table-condensed  grid-body" id="Table1">

                            <thead style="background-color: white">
                                <tr>
                                    <th class="small-cell v-align-middle" style="z-index: 1">
                                        <div class="checkbox check-success">
                                            <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                            <label for="mainchk" class="semi-bold"></label>
                                            <!--<b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{"SELECT"| translate }}</b> style="background-color: #edefef"-->
                                        </div>
                                    </th>

                                    <th class="label1">
                                        <label>
                                            <i class="fa fa-calendar"></i>&nbsp;{{"Date"| translate }}
                                        </label>
                                    </th>
                                   <!-- <th class="label1">
                                        <label>
                                            <i class="fa fa-calendar"></i>&nbsp;{{"Curriculum"| translate }}
                                        </label>
                                    </th>-->
                                    <th class="label1">
                                        <label>
                                            &nbsp
                                        </label>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="ite in finalData">
                                    <td>
                                        <div class="checkbox check-success">
                                            <input id="{{ite.dt+$index}}" type="checkbox" value="1" ng-click="checkonebyoneselect()">
                                            <label for="{{ite.dt+$index}}" class="semi-bold"></label>
                                            <!--<b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{"SELECT"| translate }}</b>-->
                                        </div>
                                    </td>
                                    <td>{{ite.dt}}</td>
                                    <!--<td>{{ite.sims_cur_name}}</td>-->
                                    <td>
                                        <table class="table table-bordered table-hover table-condensed" id="fixTable">

                                            <thead>
                                                <tr>

                                                    <th class="label1" ng-click="orderByField='sort'; reverseSort = !reverseSort" style="text-align: right;">
                                                        <!--<label>
                                                            <b>
                                                                <a href="">
                                                                    <i class="fa fa-sort" ng-if="!orderByField"></i>
                                                                    <span ng-show="!reverseSort">
                                                                        <i class=" fa fa-caret-up" ng-if="orderByField"></i></span>
                                                                    <span ng-show="reverseSort"><i class="fa fa-caret-down"></i>

                                                                    </span>&nbsp;{{"FEE NAME"| translate }}
                                                                </a>
                                                            </b>

                                                        </label>-->

                                                        <label>
                                                            <i class="fa fa-file-o"></i>&nbsp;{{"Fee Name" | translate }}
                                                            
                                                        </label>
                                                    </th>

                                                    <th class="label1" style="text-align: right;">
                                                        <label>
                                                            <i class="fa fa-money"></i>&nbsp;{{"Payment Mode" | translate }}
                                                           
                                                        </label>
                                                    </th>

                                                    <th class="label1" style="text-align: right;">
                                                        <label>
                                                            <i class="fa fa-money"></i>&nbsp;{{"Amount" | translate }}
                                                            
                                                        </label>
                                                    </th>

                                                    <!--<th class="label1" ng-repeat="col in ite.PCL" style="text-align: right;">
                                                        <label>
                                                            <i class="fa fa-money"></i>&nbsp;{{col}}
                                                            
                                                        </label>
                                                    </th>-->

                                                    <th class="label1" style="text-align: right;">
                                                        <label>
                                                            <i class="fa fa-money"></i>&nbsp;{{"Debit Account" | translate }}
                                                            
                                                        </label>
                                                    </th>

                                                    <!--                                                    <th class="label1">
                                                        <label>
                                                            <b>{{"TOTAL" | translate }}
                                                            </b>
                                                        </label>
                                                    </th>-->

                                                    <th class="label1" style="text-align: right;">
                                                        <label>
                                                            <i class="fa fa-bookmark"></i>&nbsp;{{"Credit Account" | translate }}
                                                            
                                                        </label>
                                                    </th>

                                                </tr>
                                            </thead>

                                            <tbody ng-repeat="j in ite.arr | orderBy:orderByField:reverseSort" ng-class="row1">
                                              
                                                <!--<tr>
                                                    <td>
                                                        <label id="Label2">{{j.sims_fee_code_description}}</label>
                                                    </td>

                                                    <td>
                                                        <label id="Label3" style="color: red; font-weight: bold">{{j.expected_fee}}</label>
                                                    </td>

                                                    <td>
                                                        <label id="Label10" style="color: orange; font-weight: bold">{{j.discount}}</label>
                                                    </td>

                                                    <td>
                                                        <label id="Label11" style="color: purple; font-weight: bold">{{j.total}}</label>
                                                    </td>

                                                    <td ng-repeat="col in j.PAvals">
                                                        <label id="Label17" style="color: cornflowerblue; font-weight: bold">{{col}}</label>
                                                    </td>

                                                    <td>
                                                        <label id="lbl" style="color: green; font-weight: bold">{{j.Paid}}</label>
                                                    </td>

                                                    <td>
                                                        <label id="Label12">{{j.fee_status_desc}}</label>
                                                    </td>

                                                </tr>-->

                                                <tr  ng-style = "j.fins_dr_acno  == ''&& {'background-color':'rgb(240, 122, 122);'}">
                                                    <td>
                                                        <label id="Label2">{{j.sims_fee_code_description}}</label>
                                                    </td>

                                                    <td>
                                                        <label id="Label3" style="font-weight: bold" align="right">{{j.dd_fee_payment_mode}}</label>
                                                    </td>

                                                    <td>
                                                        <label id="Label10" style="font-weight: bold" align="right">{{j.sims_fee_amount| currency:'':2}}</label>
                                                    </td>

                                                    <!--<td ng-repeat="col in j.PAvals">
                                                        <label id="Label17" style="font-weight: bold" align="right">{{col| currency:'':2}}</label>
                                                    </td>-->

                                                    <td>
                                                        <label id="lbl" style="font-weight: bold" align="right">{{j.fins_dr_acno}}</label>
                                                    </td>

                                                    <td>
                                                        <label id="Label12">{{j.fins_cr_no}}</label>
                                                    </td>

                                                </tr>

                                            </tbody>

                                            <tfoot ng-repeat="f in datatotalNew" ng-if="f.date==ite.dt">
                                                <tr  style="background: #0aa69966;">
                                                    <td>
                                                        <label id="Label21" style="margin-right: -8px;">Total</label>
                                                    </td>

                                                    <td>
                                                        <label id="Label13" style="font-weight: bold; margin-right: -8px;">{{}}</label>
                                                    </td>

                                                    <td>
                                                        <label id="Label20" style="font-weight: bold; margin-right: -8px;">{{f.total_fee_amount| currency:'':2}}</label>
                                                    </td>

                                                    <td ng-repeat="col in footTotal(ite.arr)">
                                                        <label id="Label22" style="font-weight: bold; margin-right: -8px;">{{}}</label>
                                                    </td>

                                                    <td>
                                                        <label id="Label16" style="font-weight: bold; margin-right: -8px;">{{}}</label>
                                                    </td>

                                                    <td></td>
                                                </tr>
                                            </tfoot>

                                        </table>
                                    </td>

                                </tr>
                            </tbody>

                        </table>
                        </div>
                    </div>
                         </div>
                     <div class="row">
                        <div class="col-md-12">
                    <div class="row pull-right" style="margin-right: 10px;">
                        <button type="button" class="btn btn-primary btn-cons btn-small" ng-click="Post_Fee()">{{"Post To Accounts"|translate}}</button>
                    </div>
                    </div></div>

                    <div ng-show="pager_hide">
                        <div class="row form-row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                    </paging>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-----------------------------------------Table Two Code--------------------------------------------------->

            <div ng-show="table2">
                <div class="row form-row">

                    <div class="col-md-6">
                        <!--<select id="Select1" style="width: 60px" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="5" class=" form-control input-sm">5
                            </option>

                            <option value="10" class=" form-control input-sm">10
                            </option>

                            <option value="15" class=" form-control input-sm">15
                            </option>
                        </select>-->
                    </div>

                   <!-- <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="Div2">
                                <label>
                                    {{"Search"| translate }}:&nbsp;
                                    <input aria-controls="example" ng-model="searchTextR" class="input-medium" placeholder="Search" type="search" ng-change="searchR()"></label>
                            </div>
                        </div>
                    </div>-->

                </div>
            </div>

            <div ng-show="table4">

                <div id="Div3" class="dataTables_wrapper form-inline">

                    <div class="row">
                        <div class="col-md-12">
                        <table class="table table-bordered table-condensed" id="Table2">

                            <thead>
                                <tr style="background-color: #edefef">
                                    <th class="small-cell v-align-middle" style="z-index: 1">
                                        <div class="checkbox check-success">
                                            <input id="key1" type="checkbox" value="1" ng-click="CheckAllCheckedR()">
                                            <label for="key1" class="semi-bold"></label>

                                        </div>
                                    </th>

                                    <th class="label1">
                                        <label>
                                            <b>{{"DATE"| translate }}</b>
                                        </label>
                                    </th>
                                    <th class="label1">
                                        <label>
                                            &nbsp
                                        </label>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="ite in finalDataR">

                                    <td>
                                        <div class="checkbox check-success">
                                            <input id="{{$index}}" type="checkbox" value="1" ng-click="checkonebyoneselectR()">
                                            <label for="{{$index}}" class="semi-bold"></label>
                                        </div>
                                    </td>

                                    <td>{{ite.dtR}}</td>

                                    <td>
                                        <table class="table table-bordered table-hover table-condensed" id="Table3">

                                            <thead>
                                                <tr>
                                                    <th class="label1" ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                                        <!-- <label>
                                                            <b>
                                                                <a href="">
                                                                    <i class="fa fa-sort" ng-if="!orderByField"></i>
                                                                    <span ng-show="!reverseSort">
                                                                        <i class=" fa fa-caret-up" ng-if="orderByField"></i></span>
                                                                    <span ng-show="reverseSort"><i class="fa fa-caret-down"></i>

                                                                    </span>&nbsp;{{"FEE NAME"| translate }}
                                                                </a>
                                                            </b>
                                                        </label>-->
                                                        <label>
                                                            <b>{{"FEE NAME" | translate }}
                                                            </b>
                                                        </label>
                                                    </th>

                                                    <th class="label1">
                                                        <label>
                                                            <b>{{"EXPECTED" | translate }}
                                                            </b>
                                                        </label>
                                                    </th>

                                                    <th class="label1">
                                                        <label>
                                                            <b>{{"DISCOUNT" | translate }}
                                                            </b>
                                                        </label>
                                                    </th>

                                                    <th class="label1" ng-repeat="colR in ite.PCLR">
                                                        <label>
                                                            <b>{{colR}}
                                                            </b>
                                                        </label>
                                                    </th>

                                                    <th class="label1">
                                                        <label>
                                                            <b>{{"PAID" | translate }}
                                                            </b>
                                                        </label>
                                                    </th>

                                                    <!--                                                    <th class="label1">
                                                        <label>
                                                            <b>{{"TOTAL" | translate }}
                                                            </b>
                                                        </label>
                                                    </th>-->

                                                    <th class="label1">
                                                        <label>
                                                            <b>{{"STATUS" | translate }}
                                                            </b>
                                                        </label>
                                                    </th>

                                                </tr>
                                            </thead>

                                            <tbody ng-repeat="j in ite.arrR | orderBy:orderByField:reverseSort" ng-class="row1">

                                                <tr>
                                                    <td>
                                                        <label id="Label1">{{j.sims_fee_code_description}}</label>
                                                    </td>

                                                    <td>
                                                        <label id="Label4" style="font-weight: bold" align="right">{{j.expected_fee| currency:'':2}}</label>
                                                    </td>

                                                    <td>
                                                        <label id="Label5" style="font-weight: bold" align="right">{{j.discount| currency:'':2}}</label>
                                                    </td>

                                                    <td ng-repeat="colR in j.PAvalsR">
                                                        <label id="Label7" style="font-weight: bold" align="right">{{colR| currency:'':2}}</label>
                                                    </td>

                                                    <td>
                                                        <label id="Label8" style="font-weight: bold" align="right">{{j.Paid| currency:'':2}}</label>
                                                    </td>
                                                    
                                                    <td>
                                                        <label id="Label9">{{j.fee_status_desc}}</label>
                                                    </td>

                                                </tr>

                                            </tbody>

                                            <tfoot ng-repeat="f in datatotalR" ng-if="f.date==ite.dtR">

                                                 <tr>
                                                    <td>
                                                        <label id="Label6" style="margin-right: -8px;">Total</label>
                                                    </td>

                                                    <td>
                                                        <label id="Label14" style="font-weight: bold" align="right">{{f.expected| currency:'':2}}</label>
                                                    </td>

                                                    <td>
                                                        <label id="Label18" style="font-weight: bold" align="right">{{f.discount| currency:'':2}}</label>
                                                    </td>

                                                     <td ng-repeat="colR in footTotalR(ite.arrR)">
                                                        <label id="Label24" style="font-weight: bold" align="right">{{colR| currency:'':2}}</label>
                                                    </td>


                                                    <td>
                                                        <label id="Label26" style="font-weight: bold" align="right">{{f.paid| currency:'':2}}</label>
                                                    </td>

                                                    <td></td>
                                                </tr>

                                            </tfoot>

                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div></div>
                    <div class="row">
                        <div class="col-md-12">
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary btn-cons btn-small" ng-click="Reversal_Fee()">{{"Reversal Details"|translate}}</button>
                    </div>
                    </div></div>

                   
                         <div ng-show="hide2"> 
                            <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                    </paging>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
</div>
        </div></div>
    </div>
</div>


<div class="modal fade" id="loader0712">
    <div class="modal-dialog" id="top">
        <div class="modal-content">
            <div class="box1" style="position: fixed; margin-top: 50%; left: 50%;">
                <img src="assets/img/loading_transparent_.gif">
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="viewdashDetailsModal" role="dialog" style="display: none;" tabindex="-1">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 750px; height: 250px;">
        <div class="modal-content" uib-modal-transclude="">

            <div class="modal-header ng-scope" style="height: 30px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px"><b>{{"Fee code not mapped for" | translate }}</b></h4>
                </div>
                <div class="pull-right">
                    <button class="btn btn-sm btn-small" data-dismiss="modal" ng-click="modal_cancel()" type="submit">X</button>
                </div>
            </div>

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="grid-body no-border">
                <div class="col-md-12">
                    <div >
                        <div id="Div1" class="dataTables_wrapper form-inline">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table  table-bordered  table-hover" id="Table5" aria-describedby="example2_info">
                                        <thead style="background-color: white">
                                            <tr>

                                                <th class="semi-bold">{{"Fee Code" | translate }}</th>
                                                <th class="semi-bold">{{"Fee Description" | translate }}</th>

                                            </tr>
                                        </thead>
                                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                                            <tr ng-repeat="j in acc_lst">

                                               <td style="text-align: center;">{{j.sims_fee_code}} </td>

                                                <td style="text-align: center;">{{j.sims_fee_code_description}} </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="displayerror" ng-show="ImageView1">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row form-row">
                                            <div>
                                                <p style="font: bold 24px large; color:black">
                                                    Sorry No Records Found!!!!!!!
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                           <!-- <div class="pull-right">

                                <button type="button" class="btn btn-primary btn-small" data-dismiss="modal" ng-click="Cancelled()">{{"Ok" | translate }}</button>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    label1 {
        font-size: 12px!important;
        font-weight: normal!important;
        line-height: 20px!important;
        width: 100px!important;
    }
</style>
<script src="assets/js/calender-datepicker-id.js"></script>