﻿<style>
    .grid_details {
    background-color:#fff;
    margin-top:6px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>F
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="page-title">
                <h3><span class="semi-bold">{{"Online Payment Fee Receipt"|translate}}</span></h3>
            </div>
              <div class="grid-body no-border bluegrid paddingcode">
                <div class="row">
                    <div class="col-md-2">

                            <label id="Label1" for="txt_provision_number" class="form-label">
                                <i class="fa fa-calendar"></i>&nbsp;{{"From Date"| translate }}
                            </label>

                          <!--  <div class="input-append success date no-padding" data-datepicker="true">-->
                                <input type="text" class="k-textbox input-sm full-width" id="from_date" ng-change="showdate(edt.fromdate,'from_date')" ng-model="edt.from_date">
                               <!-- <span class="add-on">
                                    <span class="arrow"></span><i class="fa fa-th"></i>
                                </span>
                            </div>-->
                        </div>
                        <div class="col-md-1">
                            <label class="form-label1">
                                <i class="fa fa-square-o"></i>&nbsp;{{"Null"| translate }}
                            </label>
                            <div class="checkbox check-success">
                                <input type="checkbox" id="chkmarks" ng-model="edt.markupdate" />
                                <label for="chkmarks"></label>
                            </div>
                        </div>

                    <div class="col-md-2">
                        <label id="Label2" for="txt_provision_number" class="form-label"><i class="fa fa-calendar"></i>&nbsp;{{"To Date"| translate }}</label>
                       <!-- <div class="input-append success date no-padding" data-datepicker="true">-->
                            <input type="text" name="sdate" id="to_date" class="k-textbox input-sm full-width" ng-change="createdate(edt.todate,edt.fromdate,'to_date')" ng-model="edt.to_date">
                            <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                        </div>-->
                    </div>

                    <div class="col-md-2">

                        <label id="Label3" for="txt_Doc Code" class="form-label"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Recpt NO/Stud ID"| translate }}</label>
                        <input type="text" name="searchbyallfield" placeholder="Search" class="k-textbox input-sm full-width" ng-model="edt.search"
                               ng-keypress="($event.charCode==13)?Show():return">
                    </div>

                    <div class="col-md-5">
                        <div class="pull-right">
                        <label id="Label4" for="txt_Doc Code" class="form-label">&nbsp;</label>
                        <button class="btn btn-primary btn-cons btn-small" type="button" ng-click="Show()">{{"Search"| translate }}</button>
                        </div>
                    </div>
                    </div>
               
            </div>
            <div class="grid_details">
                 <div class="row">
                    <div class="col-md-12 paddingcode" ng-show="pagggg" style="margin-top:4px;">
                        
                        <select id="pagination" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                            <option value="10" class="form-control input-sm">
                                10
                            </option>

                            <option value="15" class="form-control input-sm">
                                15
                            </option>

                            <option value="All" class="form-control input-sm">
                                All
                            </option>
                        </select>

                        <div class="pull-right">
                            <span class="k-textbox k-space-right full-width">
                                <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1">
                                <a href="#" class="k-icon k-i-search">&nbsp;</a>
                            </span> 
                        </div>

                    </div>
                        </div>
                <div ng-show="table1" class="">
              
                    <!--<div style="background-color:#FF6600; height:6px;"></div>-->

                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <div class="">
                            <div class="col-md-12">
                            <table class="table table-bordered table-hover table-condensed" id="fixTable">
                                <thead>
                                    <tr>
                                        <th class="finance_display"><i class="fa fa-sort-amount-desc"></i>&nbsp;{{"Academic Year"| translate }}</th>
                                        <th class="finance_display"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Receipt No"| translate }}</th>                                        
                                        <th class="finance_display"><i class="fa fa-calendar"></i>&nbsp;{{"Receipt Date"| translate }}</th>                                        
                                        <th class="finance_display"><i class="fa fa-align-justify"></i>&nbsp;{{"Account Name"| translate }}</th>
                                        <th class="finance_display"><i class="fa fa-money"></i>&nbsp;{{"Amount"| translate }}</th>                                        
                                        <th class="finance_display"><i class="fa fa-print"></i>&nbsp;{{"Print Receipt"| translate }}</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="feereceipt in filteredTodos |filter:searchText">
                                        <td>{{feereceipt.doc_academic_year}}</td>
                                        <td>{{feereceipt.reciept_number}}</td>                                        
                                        <td>{{feereceipt.dd_realize_date}}</td>
                                        <td>{{feereceipt.student_name}} ({{feereceipt.dd_enroll_number}})</td>
                                        <td>{{feereceipt.grand_total}}</td>                                        
                                        <td><button class="btn btn-success btn-small" type="button" ng-click="Report(feereceipt)">{{"Print"| translate}}</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                    <div class="row" ng-show="pager">
                        <div class="col-md-12">
                                <div class="pull-right">
                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                            ng-click="index(currentPage)">
                                    </paging>
                                </div>
                            </div>
                    </div>
                    <div class="displayerror" ng-show="ImageView">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row form-row">
                                    <div>
                                        <p>Sorry There is no Record in this Section!!!!!!!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               
            </div>

            </div>
        </div>
    </div>
</div>


<style>
    .displayerror {
        left: 30%;
        font-size: 20px;
        width: 40%;
        color: black;
        text-align: center;
        position: relative;
    }

    .radio, .checkbox {
        margin-bottom: 0;
        margin-top: 15px;
        padding-left: 10px;
    }

    .form-label1 {
        margin-top: 2px;
        margin-left: 7px;
    }
</style>
<script src="assets/js/calender-datepicker-id.js"></script>