﻿<div class="loading-middle" ng-hide="display">
    {{ "Loading..." | translate }}
</div>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Section" | translate }}</span>&nbsp;{{"Fee" | translate }}</h3>
            </div>
            <div class="grid-body no-border">
            <div ng-show="table">

                    <form name="Myform" ng-submit="getAllSectionFees(Myform.$valid)" novalidate="novalidate">
                        
                               <div class="row">
                                <div class="col-md-2">
                                             <label><i class="fa fa-book"></i>&nbsp;{{"Curriculum" | translate }}</label>
                                            <select id="cmb_School_Code" class="form-control input-sm full-width"
                                                    ng-model="temp.s_cur_code" name="currcode"
                                                    ng-change="getAccYear(temp.s_cur_code)"
                                                    ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in curriculum">
                                                <option value="">Please Select</option>
                                            </select>
                                        </div>
                                <div class="col-md-2">
                                            <label><i class="fa fa-sort-amount-desc"></i>&nbsp;{{"Academic Year" | translate }}</label>
                                            <select id="cmb_academic_year" class="form-control input-sm full-width"
                                                    ng-model="temp.sims_academic_year"
                                                    ng-change="getGrade(temp.s_cur_code,temp.sims_academic_year)"
                                                    ng-options="year1.sims_academic_year as year1.sims_academic_year_desc for year1 in Acc_year">
                                                <option value="">Please Select</option>
                                            </select>
                                </div>
                                <div class="col-md-2">
                                        <div ng-class="{'has-error': !Myform.cmb_category_name.$valid && (Myform.cmb_category_name.$touched || Myform.$submitted)}">
                                            <label><i class="fa fa-sitemap"></i>&nbsp;{{"Category" | translate }}</label>
                                            <select name="cmb_category_name" id="Select5" class="form-control input-sm full-width" ng-model="section_fee_category" required>
                                                <option value="" selected disabled>Please Select</option>
                                                <option ng-repeat="cat in category_names" value="{{cat.section_fee_category}}">{{cat.section_fee_category_name}}</option>
                                            </select>
                                            <p class="help-block" ng-show="Myform.cmb_category_name.$error.required && (Myform.cmb_category_name.$touched || Myform.$submitted) ">
                                                This field is required
                                            </p>
                                        </div>
                                    </div>
                                <div class="col-md-2">
                                    <div ng-class="{'has-error': !Myform.cmb_grade_code.$valid && (Myform.cmb_grade_code.$touched || Myform.$submitted)}">
                                             <label><i class="fa fa-sitemap"></i>&nbsp;{{"Grade" | translate }}</label>
                                             <select name="cmb_grade_code" id="cmb_grade_code" class="form-control input-sm full-width" ng-model="sims_grade_code"
                                                    ng-change="getsection(temp.s_cur_code,sims_grade_code,temp.sims_academic_year);" required>
                                                <option value="" selected disabled>Please Select</option>
                                                <option ng-repeat="grade_cod in grade" value="{{grade_cod.sims_grade_code}}">
                                                    {{grade_cod.sims_grade_name}}
                                                </option>
                                            </select>
                                            <p class="help-block" ng-show="Myform.cmb_grade_code.$error.required && (Myform.cmb_grade_code.$touched || Myform.$submitted) ">
                                                This field is required
                                            </p>
                                        </div>
                                    </div>
                                <div class="col-md-2">
                                    <div ng-class="{'has-error': !Myform.cmb_section_code.$valid && (Myform.cmb_section_code.$touched || Myform.$submitted)}">
                                           <label><i class="fa fa-align-justify"></i>&nbsp;{{"Section" | translate }}</label>
                                             <select name="cmb_section_code" id="cmb_section_code" class="form-control input-sm full-width" ng-model="sims_section_code" required>
                                                <option value="" selected disabled>Please Select</option>
                                                <option ng-repeat="section_cod in All_Section_names" value="{{section_cod.sims_section_code}}">
                                                    {{section_cod.sims_section_name}}
                                                </option>
                                            </select>
                                            <p class="help-block" ng-show="Myform.cmb_section_code.$error.required && (Myform.cmb_section_code.$touched || Myform.$submitted) ">
                                                This field is required
                                            </p>
                                        </div>
                                    </div>
                                
                                <div class="col-md-2">
                                    <div class="pull-right">
                                    <label>&nbsp;</label>
                                            <button type="submit"
                                                    class="btn btn-primary btn-small"
                                                    >
                                                {{"Submit" | translate }}
                                            </button>

                                            <button type="button" ng-click="Reset()"
                                                    class="btn btn-primary btn-small"
                                                   >
                                                {{"Reset" | translate }}
                                            </button>
                                        </div>
                                    </div>
                            </div>
                    </form>

                <hr ng-show="show_Insert_table" />
                <div class="row" ng-show="show_Insert_table">
                    <div class="col-md-12">
                        <div class="row form-row">

                            <div class="col-md-5">

                            </div>
                            <div class="col-md-6">
                                <label class="form-label bold">{{"No Records Found Please Click On New Button" | translate }} </label>

                                <button type="button" class="btn btn-success btn-small" ng-click="New_table()">{{"New" | translate }}</button>&nbsp;
                            </div>

                            <!--<div class="pull-right">
                                <div class="dataTables_filter" id="example_filter">
                                    <label>
                                        {{"Search" | translate }} &nbsp;
                                        <input type="text" aria-controls="example" ng-model="search.$" class="input-medium"></label>
                                </div>
                            </div>-->

                        </div>
                    </div>
                </div>
                <hr />

                <div class="col-md-12" ng-show="busyindicator">

                    <div class="col-md-12">
                        <div class="row form-row">
                            <div class="col-md-12">
                                <div class="col-md-5">
                                    &nbsp;
                                </div>
                                <div class="col-md-5">
                                    <div class="row">
                                        <img src="assets/theme/img/loading.gif" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="color-bands red"/><div class="color-bands green"/><div class="color-bands purple"/><!--<div class="color-bands blue"/><div class="color-bands red"/><div class="color-bands green"/><div class="color-bands purple"/><div class="color-bands blue"/><div class="color-bands red"/><div class="color-bands green"/><div class="color-bands purple"/><div class="color-bands blue"/>-->
                <div id="example_wrapper" class="dataTables_wrapper form-inline" ng-show="table1">
                    <div class="row">
                        <div class="col-md-12">
                        <table class="table table-bordered table-hover table-condensed" id="fixTable">
                            <thead style="background-color: white">
                                <tr style="background-color: #edefef">
                                    <td class="semi-bold"><label><i class="fa fa-edit"></i>&nbsp;<b> {{"Update" | translate }}</b></label></td>
                                    <td class="semi-bold"><label><i class="fa fa-plus"></i>&nbsp;<b>{{"More" | translate }}</b></label></td>
                                    <td class="semi-bold"><label><i class="fa fa-dashboard"></i>&nbsp;<b>{{"Fee Code" | translate }}</b></label></td>

                                    <td class="semi-bold" ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                        <label style="width:100px">
                                            <b>
                                                <a href="">
                                                    <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span>
                                                    <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;<i class="fa fa-dashboard"></i>&nbsp;{{"Fee Code Description" | translate }}
                                                </a>
                                            </b>
                                        </label>
                                    </td>

                                  

                                    <td class="semi-bold"><label><i class="fa fa-bookmark-o"></i>&nbsp;<b>{{"Fee Type" | translate }}</b></label></td>
                                    <td class="semi-bold"><label><i class="fa fa-money"></i>&nbsp;<b>{{"Amount" | translate }}</b></label></td>
                                    <td class="semi-bold"><label><i class="fa fa-signal"></i>&nbsp;<b>{{"Frequency" | translate }}</b></label></td>
                                    <td class="semi-bold"><label><i class="fa fa-money"></i>&nbsp;<b>{{"Min. Amount" | translate }}</b></label></td>
                                    <td class="semi-bold"><label><i class="fa fa-check"></i>&nbsp;<b>{{"Installment Mode" | translate }}</b></label></td>
                                    <td class="semi-bold"><label><i class="fa fa-asterisk"></i>&nbsp;<b>{{"Mandatory" | translate }}</b></label></td>
                                    <td class="semi-bold"><label><i class="fa fa-align-justify"></i>&nbsp;<b>{{"Manual Receipt" | translate }}</b></label></td>
                                    <td class="semi-bold"><label><i class="fa fa-bookmark"></i>&nbsp;<b>{{"Status" | translate }}</b></label></td>
                                    <td class="semi-bold"><label><i class="fa fa-money"></i>&nbsp;<b>{{"Fee Spilt" | translate }}</b></label></td>

                                </tr>
                            </thead>
                            <tr ng-repeat="info in searhcResult| filter:search:strict | orderBy:orderByField:reverseSort">

                                <td><a href="" class="label label-important"><i ng-click="Update(info)">Edit</i></a></td>

                                <td>
                                    <div ng-click="expanded = !expanded" style="width: 100%">
                                        <span ng-hide="expanded"><i class="fa fa-plus-circle" ng-click="expand(info, $event);"></i></span>
                                        <span ng-show="expanded"><i class="fa fa-minus-circle" ng-click="expand(info, $event);"></i></span>
                                    </div>
                                </td>
                                 <td>{{info.section_fee_code}}</td>
                                <td>{{info.section_fee_code_desctiption}}</td>
                                <td>{{info.section_fee_code_type_name}}</td>

                                <td>{{info.section_fee_amount| currency:'':decimal_dsc}}</td>
                                <td>{{info.section_fee_frequency_name}}</td>
                                <td>{{info.section_fee_installment_min_amount| currency:'':decimal_dsc}}</td>
                                <td>
                                    <span ng-if="info.section_fee_installment_mode==true" class="label label-success">{{"Yes" | translate }}</span>
                                    <span ng-if="info.section_fee_installment_mode==false" class="label label-important">{{"No" | translate }}</span>
                                </td>

                                <td>
                                    <span ng-if="info.section_fee_mandatory==true" class="label label-success">{{"Yes" | translate }}</span>
                                    <span ng-if="info.section_fee_mandatory==false" class="label label-important">{{"No" | translate }}</span>
                                </td>
                                <td>
                                    <span ng-if="info.section_fee_manual_receipt==true" class="label label-success">{{"Yes" | translate }}</span>
                                    <span ng-if="info.section_fee_manual_receipt==false" class="label label-important">{{"No" | translate }}</span>
                                </td>
                                <td class="v-align-middle" aria-disabled="true">
                                    <span ng-if="info.section_fee_status==true" class="label label-success">{{"Active" | translate }}</span>
                                    <span ng-if="info.section_fee_status==false" class="label label-important">{{"In active" | translate }}</span>
                                </td>
                                <td>
                                    <span ng-if="info.section_fee_split_flag==true" class="label label-success">{{"Yes" | translate }}</span>
                                    <span ng-if="info.section_fee_split_flag==false" class="label label-important">{{"No" | translate }}</span>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div></div>

                <hr  ng-show="show_ins_table_loading"/> 
                <div class="row" ng-show="show_ins_table_loading">
                    <div class="col-md-12">
                        <div class="row form-row">
                            <div class="col-md-12 loading-middle" ng-show="show_ins_table_loading">
                                {{ "Loading..." | translate }}
                            </div>
                        </div>
                    </div>
                </div>

                <div id="Div3" class="dataTables_wrapper form-inline" ng-show="show_ins_table">

                    <div class="row">
                        <div class="col-md-12">
                        <table class="table table-striped table-condensed" id="Table3">
                            <thead style="background-color: white">
                                <tr>
                                    <!--<td class="semi-bold"></td>-->
                                    <td class="semi-bold" ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                        <label>
                                            <b>
                                                <a href="">
                                                    <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span>
                                                    <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;<i class="fa fa-dashboard"></i>&nbsp;{{"FEE CODE" | translate}}
                                                </a>
                                            </b>
                                        </label>
                                    </td>


                                    <td class="semi-bold"><i class="fa fa-bookmark-o"></i>&nbsp;{{"FEE TYPE" | translate }}</td>
                                    <td class="semi-bold"><i class="fa fa-money"></i>&nbsp;{{"REFUNDABLE" | translate }}</td>
                                    <td class="semi-bold"><i class="fa fa-money"></i>&nbsp;{{"AMOUNT" | translate }}</td>
                                    <td class="semi-bold"><i class="fa fa-signal"></i>&nbsp;{{"FREQUENCY" | translate }}</td>
                                    <td class="semi-bold"><i class="fa fa-check"></i>&nbsp;{{"INSTALLMENT MODE" | translate }}</td>
                                    <td class="semi-bold"><i class="fa fa-money"></i>&nbsp;{{"MIN. AMOUNT" | translate }}</td>
                                    <td class="semi-bold"><i class="fa fa-asterisk"></i>&nbsp;{{"MANDATORY" | translate }}</td>
                                    <td class="semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"MANUAL RECEIPT"| translate }}</td>
                                    <td class="semi-bold"><i class="fa fa-bookmark"></i>&nbsp;{{"STATUS" | translate }}</td>
                                    <td class="semi-bold"><i class="fa fa-money"></i>&nbsp;{{"FEE SPLIT" | translate }}</td>
                                    <!--<td class="semi-bold">UPDATE</td>-->
                                </tr>
                            </thead>
                            <tbody ng-repeat="fee_type in AllFeeType">

                                <tr>
                                    <!--<td class="text-center"><i class="fa fa-plus-circle" ng-click="Section_fee_periods_expand_plus_click(fee_type,$event);"></i></td>-->

                                    <td>{{fee_type.section_fee_code_desctiption}}</td>
                                    <td>
                                        <select id="Select6" class="form-control input-sm full-width" ng-model="fee_type.section_fee_code_type">
                                            <option value="" selected disabled>Please select</option>
                                            <option ng-repeat="fee_ty in AllFeeCodeType" value="{{fee_ty.section_fee_code_type}}" class=" form-control input-sm">
                                                {{fee_ty.section_fee_code_type_name}}
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="checkbox" value="1" ng-model="fee_type.section_fee_refundable">

                                    </td>
                                    <td>
                                        <input name="txt_num" ng-change="calculator(fee_type,$event)" type="text" class="k-textbox input-sm full-width" ng-model="fee_type.section_fee_amount" />

                                    </td>

                                    <td>
                                        <select ng-if="fee_type.section_fee_amount" id="Select8" class="form-control input-sm full-width" ng-focus="focusCallback($event)" ng-change="Section_fee_periods_expand(fee_type,$event);DomFlag();" ng-model="fee_type.section_fee_frequency">
                                            <option value="" selected disabled>Please select</option>
                                            <option ng-repeat="fre in All_freq" value="{{fre.section_fee_frequency}}" class=" form-control input-sm">
                                                {{fre.section_fee_frequency_name}}
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="checkbox" value="1" ng-model="fee_type.section_fee_installment_mode">
                                    </td>
                                    <td> <input ng-show="fee_type.section_fee_installment_mode==true" type="number" class="k-textbox input-sm full-width" id="Text4" ng-model="fee_type.section_fee_installment_min_amount" /></td>
                                    <td>
                                        <input type="checkbox" value="1" ng-model="fee_type.section_fee_mandatory">
                                    </td>
                                    <td>
                                        <input type="checkbox" value="1" ng-model="fee_type.section_fee_manual_receipt">
                                    </td>
                                    <td class="v-align-middle">
                                        <input type="checkbox" value="1" ng-model="fee_type.section_fee_status">
                                    </td>
                                    <td>
                                        <input type="checkbox" value="1" ng-model="fee_type.section_fee_split_flag">
                                    </td>
                                </tr>
                                <tr>
                                    <td class='details' colspan='12'>
                                        <table class='inner-table' cellpadding='5' cellspacing='0'>
                                            <tbody>
                                                <tr>
                                                    <td class='semi-bold'>{{"January" | translate }}</td>
                                                    <td class='semi-bold'>{{"February" | translate }}</td>
                                                    <td class='semi-bold'>{{"March" | translate }}</td>
                                                    <td class='semi-bold'>{{"April" | translate }}</td>
                                                    <td class='semi-bold'>{{"May" | translate }}</td>
                                                    <td class='semi-bold'>{{"June" | translate }}</td>
                                                    <td class='semi-bold'>{{"July" | translate }}</td>
                                                    <td class='semi-bold'>{{"August" | translate }}</td>
                                                    <td class='semi-bold'>{{"september" | translate }}</td>
                                                    <td class='semi-bold'>{{"October" | translate }}</td>
                                                    <td class='semi-bold'>{{"November" | translate }}</td>
                                                    <td class='semi-bold'>{{"December" | translate }}</td>
                                                </tr>

                                                <tr>
                                                    <td><input ng-model="fee_type.section_fee_period1" type="text" class="k-textbox input-sm full-width" /></td>
                                                    <td><input ng-model="fee_type.section_fee_period2" type="text" class="k-textbox input-sm full-width" /></td>
                                                    <td><input ng-model="fee_type.section_fee_period3" type="text" class="k-textbox input-sm full-width" /></td>
                                                    <td><input ng-model="fee_type.section_fee_period4" type="text" class="k-textbox input-sm full-width" /></td>
                                                    <td><input ng-model="fee_type.section_fee_period5" type="text" class="k-textbox input-sm full-width" /></td>
                                                    <td><input ng-model="fee_type.section_fee_period6" type="text" class="k-textbox input-sm full-width" /></td>
                                                    <td><input ng-model="fee_type.section_fee_period7" type="text" class="k-textbox input-sm full-width" /></td>
                                                    <td><input ng-model="fee_type.section_fee_period8" type="text" class="k-textbox input-sm full-width" /></td>
                                                    <td><input ng-model="fee_type.section_fee_period9" type="text" class="k-textbox input-sm full-width" /></td>
                                                    <td><input ng-model="fee_type.section_fee_period10" type="text" class="k-textbox input-sm full-width" /></td>
                                                    <td><input ng-model="fee_type.section_fee_period11" type="text" class="k-textbox input-sm full-width" /></td>
                                                    <td><input ng-model="fee_type.section_fee_period12" type="text" class="k-textbox input-sm full-width" /></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>


                        </table>
                            </div>
                    </div>
                    <div class="col-md-4 pull-right">
                        <button type="button" class="btn btn-primary btn-small" ng-click="demo(AllFeeType)">{{"Insert" | translate }}</button>&nbsp;

                        <button type="button" class="btn btn-primary btn-small" ng-click="btn_insert_cancel_click()">{{"Cancel" | translate }}</button>&nbsp;
                    </div>
                    <!--</form>-->
                </div>

            </div>

            <!--End Table/Grid-->

            <div ng-show="opration">
                <form name="MyForm" ng-submit="UpdateData()">
                   
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label"><i class="fa fa-sitemap"></i>&nbsp;{{"Category" | translate }}</label>

                                <select id="Select11" class="form-control input-sm full-width" ng-model="search_obj.section_fee_category" ng-disabled="opration">
                                    <option value="" selected disabled>Please Select</option>
                                    <option ng-repeat="cat in category_names" value="{{cat.section_fee_category}}">{{cat.section_fee_category_name}}</option>
                                </select>
                            </div>

                            <div class="col-md-3">
                                <label id="Label10" for="txt_Nationality_Code" class="form-label"><i class="fa fa-dashboard"></i>&nbsp;{{"Fee Code" | translate }}</label>
                                <input type="text" class="k-textbox input-sm full-width" id="Text2" ng-model="search_obj.section_fee_code_desctiption" ng-readonly="readonly" required />
                            </div>

                            <div class="col-md-3">
                                <label id="Label12" for="txt_Country_Code" class="form-label"><i class="fa fa-bookmark-o"></i>&nbsp;{{"Fee Code Type" | translate }}</label>

                                <select id="Select14" class="form-control input-sm full-width" ng-model="search_obj.section_fee_code_type" required>
                                    <option value="" selected disabled>Please select</option>
                                    <option ng-repeat="fee_ty in AllFeeCodeType" value="{{fee_ty.section_fee_code_type}}" class="form-control input-sm">
                                        {{fee_ty.section_fee_code_type_name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label id="Label13" for="txt_full_name" class="form-label"><i class="fa fa-money"></i>&nbsp;{{"Refundable" | translate }}</label>

                                <div class="checkbox check-success">
                                    <input id="checkbox1" type="checkbox" value="1" ng-model="search_obj.section_fee_refundable">
                                    <label for="checkbox1"></label>
                                </div>
                            </div>
                        </div>

                        <div class="row margin-top">
                            <div class="col-md-3">
                                <label id="Label2" for="txt_Nationality_Code" class="form-label"><i class="fa fa-money"></i>&nbsp;{{"Amount" | translate }}</label>

                                <input name="txt_amount" type="text" class="k-textbox input-sm full-width" id="section_fee_amount" ng-model="search_obj.section_fee_amount"
                                       ng-change="CalculateAmount(search_obj.section_fee_frequency)" />

                            </div>
                            <div class="col-md-3">
                                <label id="Label3" for="txt_Country_Code" class="form-label"><i class="fa fa-signal"></i>&nbsp;{{"Fee Frequency" | translate }}</label>

                                <select id="Select7" class="form-control input-sm full-width" ng-change="CalculateAmount(search_obj.section_fee_frequency)" ng-model="search_obj.section_fee_frequency" required>
                                    <option value="" selected disabled>Please select</option>
                                    <option ng-repeat="fre in All_freq" value="{{fre.section_fee_frequency}}" class=" form-control input-sm">
                                        {{fre.section_fee_frequency_name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label id="Label14" for="txt_full_name" class="form-label"><i class="fa fa-check"></i>&nbsp;{{"Installment Mode" | translate }}</label>

                                <div class="checkbox check-success">
                                    <input id="checkbox2" type="checkbox" value="1" ng-model="search_obj.section_fee_installment_mode">
                                    <label for="checkbox2"></label>
                                </div>
                            </div>
                            <div class="col-md-3" ng-show="search_obj.section_fee_installment_mode==true">
                                <label id="Label1" for="txt_Nationality_Code" class="form-label"><i class="fa fa-money"></i>&nbsp;{{"Minimum Amount" | translate }}</label>
                                <input type="text" class="k-textbox input-sm full-width" id="Text1" ng-model="search_obj.section_fee_installment_min_amount" />
                            </div>
                        </div>

                        <div class="row margin-top">
                            <div class="col-md-3">
                                <label id="Label6" for="txt_full_name" class="form-label"><i class="fa fa-asterisk"></i>&nbsp;{{"Mandatory" | translate }}</label>

                                <div class="checkbox check-success">
                                    <input id="checkbox3" type="checkbox" value="1" ng-model="search_obj.section_fee_mandatory" ng-disabled="search_obj.disable">
                                    <label for="checkbox3"></label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label id="Label4" for="txt_full_name" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Manual Receipt" | translate }}</label>

                                <div class="checkbox check-success">
                                    <input id="checkbox4" type="checkbox" value="1" ng-model="search_obj.section_fee_manual_receipt">
                                    <label for="checkbox4"></label>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label id="Label5" for="txt_full_name" class="form-label"><i class="fa fa-bookmark"></i>&nbsp;{{"Status" | translate }}</label>

                                <div class="checkbox check-success">
                                    <input id="checkbox5" type="checkbox" value="1" ng-model="search_obj.section_fee_status">
                                    <label for="checkbox5"></label>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label id="Label7" for="txt_full_name" class="form-label"><i class="fa fa-money"></i>&nbsp;{{"Fee Spilt" | translate }}</label>

                                <div class="checkbox check-success">
                                    <input id="checkbox6" type="checkbox" value="1" ng-model="search_obj.section_fee_split_flag">
                                    <label for="checkbox6"></label>
                                </div>
                            </div>
                        </div>

                        <div class="row margin-top">
                            <div class="col-md-3">
                                <label id="Label8" for="txt_Nationality_Code" class="form-label"><i class="fa fa-money"></i>&nbsp;{{"January" | translate }}</label>
                                <input type="text" class="k-textbox input-sm full-width" id="section_fee_period1" ng-model="search_obj.section_fee_period1" />
                            </div>
                            <div class="col-md-3">
                                <label id="Label9" for="txt_Nationality_Code" class="form-label"><i class="fa fa-money"></i>&nbsp;{{"February" | translate }}</label>
                                <input type="text" class="k-textbox input-sm full-width" id="section_fee_period2" ng-model="search_obj.section_fee_period2" />
                            </div>
                            <div class="col-md-3">
                                <label id="Label11" for="txt_Nationality_Code" class="form-label"><i class="fa fa-money"></i>&nbsp;{{"March" | translate }}</label>
                                <input type="text" class="k-textbox input-sm full-width" id="section_fee_period3" ng-model="search_obj.section_fee_period3" />
                            </div>
                            <div class="col-md-3">
                                <label id="Label15" for="txt_Nationality_Code" class="form-label"><i class="fa fa-money"></i>&nbsp;{{"April" | translate }}</label>
                                <input type="text" class="k-textbox input-sm full-width" id="section_fee_period4" ng-model="search_obj.section_fee_period4" />
                            </div>

                        </div>

                        <div class="row margin-top">
                            <div class="col-md-3">
                                <label id="Label16" for="txt_Nationality_Code" class="form-label"><i class="fa fa-money"></i>&nbsp;{{"May" | translate }}</label>
                                <input type="text" class="k-textbox input-sm full-width" id="section_fee_period5" ng-model="search_obj.section_fee_period5" />
                            </div>
                            <div class="col-md-3">
                                <label id="Label17" for="txt_Nationality_Code" class="form-label"><i class="fa fa-money"></i>&nbsp;{{"June" | translate }}</label>
                                <input type="text" class="k-textbox input-sm full-width" id="section_fee_period6" ng-model="search_obj.section_fee_period6" />
                            </div>
                            <div class="col-md-3">
                                <label id="Label18" for="txt_Nationality_Code" class="form-label"><i class="fa fa-money"></i>&nbsp;{{"July" | translate }}</label>
                                <input type="text" class="k-textbox input-sm full-width" id="section_fee_period7" ng-model="search_obj.section_fee_period7" />
                            </div>
                            <div class="col-md-3">
                                <label id="Label19" for="txt_Nationality_Code" class="form-label"><i class="fa fa-money"></i>&nbsp;{{"August" | translate }}</label>
                                <input type="text" class="k-textbox input-sm full-width" id="section_fee_period8" ng-model="search_obj.section_fee_period8" />
                            </div>

                        </div>

                        <div class="row margin-top">
                            <div class="col-md-3">
                                <label id="Label20" for="txt_Nationality_Code" class="form-label"><i class="fa fa-money"></i>&nbsp;{{"September" | translate }}</label>
                                <input type="text" class="k-textbox input-sm full-width" id="section_fee_period9" ng-model="search_obj.section_fee_period9" />
                            </div>
                            <div class="col-md-3">
                                <label id="Label21" for="txt_Nationality_Code" class="form-label"><i class="fa fa-money"></i>&nbsp;{{"October" | translate }}</label>
                                <input type="text" class="k-textbox input-sm full-width" id="section_fee_period10" ng-model="search_obj.section_fee_period10" />
                            </div>
                            <div class="col-md-3">
                                <label id="Label22" for="txt_Nationality_Code" class="form-label"><i class="fa fa-money"></i>&nbsp;{{"November" | translate }}</label>
                                <input type="text" class="k-textbox input-sm full-width" id="section_fee_period11" ng-model="search_obj.section_fee_period11" />
                            </div>
                            <div class="col-md-3">
                                <label id="Label23" for="txt_Nationality_Code" class="form-label"><i class="fa fa-money"></i>&nbsp;{{"December" | translate }}</label>
                                <input type="text" class="k-textbox input-sm full-width" id="section_fee_period12" ng-model="search_obj.section_fee_period12" />
                            </div>

                        </div>
                 
                       <div class="col-md-12">
                    <div class="form-actions">
                        <div class="pull-right">

                            <button type="submit" ng-show="Save_btn" class="btn btn-primary btn-cons btn-small">{{"Save" | translate }}</button>

                            <button type="submit" ng-show="Update_btn" class="btn btn-primary btn-cons btn-small">{{"Update" | translate }}</button>

                            <button type="button" class="btn btn-white btn-cons btn-small" ng-click="cancel();">{{"Cancel" | translate }}</button>

                        </div>
                    </div>
                        </div>
                </form>
            </div>

</div>
</div>      
        </div>
    </div>
    <div class="modal fade" id="SucessMessage">
        <div class="modal-dialog" id="Div4" style="width: 300px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="semi-bold pull-left">{{"Message" | translate }}</h5>
                    <br />
                </div>
                <div class="modal-body">
                    <br />
                    <label class="form-label semi-bold">{{"Section Fee Details Added Sucessfully" | translate }}</label>
                    <br />
                </div>
                <div class="modal-footer" style="height: 60px">
                    <button type="button" class="btn btn-primary btn-cons btn-small" data-dismiss="modal">{{"Ok" | translate }}</button>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!---end modal-->
    </div>


    <div class="modal fade" id="ErrorMessage">
        <div class="modal-dialog" id="Div6" style="width: 300px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="semi-bold pull-left">{{"Message" | translate }}</h5>
                    <br />
                </div>
                <div class="modal-body">
                    <br />
                    <label class="form-label semi-bold help">{{"Error In Adding Section Fee Details" | translate }}</label>
                    <br />
                </div>
                <div class="modal-footer" style="height: 60px">
                    <button type="button" class="btn btn-primary btn-cons btn-small" data-dismiss="modal">{{"Ok" | translate }}</button>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!---end modal-->
    </div>

    <div class="modal fade" id="TotalSumError">
        <div class="modal-dialog" id="Div2" style="width: 300px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="semi-bold pull-left">{{"Message" | translate }}</h5>
                    <br />
                </div>
                <div class="modal-body">
                    <br />
                    <label class="form-label semi-bold help">{{"Fee Amount Mismatch for " | translate }} {{errormessage_at}}</label>
                    <br />
                </div>
                <div class="modal-footer" style="height: 60px">
                    <button type="button" class="btn btn-primary btn-cons btn-small" data-dismiss="modal">{{"Ok" | translate }}</button>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!---end modal-->
    </div>
    <!-- /.modal-dialog -->

<div class="modal fade" id="MYMODAL">
    <div class="modal-dialog" id="Div2" style="width:900px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="semi-bold pull-left">{{"Section Fee Updated Successfully" | translate }}</h5>
            </div>
          <!-- <div class="grid simple">
                <div class="grid-body no-border">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>
                                            {{"Student Name"|translate}}
                                        </th>
                                        <th>
                                            {{"Fee Desctiption"|translate}}
                                        </th>
                                        <th>
                                            {{"Old fee"|translate}}
                                        </th>
                                        <th>
                                            {{"New Fee"|translate}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="info in result">
                                        <td>
                                            {{info.full_name}}
                                        </td>
                                        <td>
                                            {{search_obj.section_fee_code_desctiption}}
                                        </td>
                                        <td>
                                            {{info.section_fee_amount}}
                                        </td>
                                        <td>
                                            {{info.sims_fee_new_amt}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                            <div class="modal-footer" style="height: 60px">
                                <button type="button" class="btn btn-primary btn-cons" data-dismiss="modal">{{"Ok" | translate }}</button>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!---end modal-->
</div>

<script src="assets/js/tableHeadFixer.js"></script>
