﻿<style>
    .sortorder:after {
        content: '\25b2';
    }

    .sortorder.reverse:after {
        content: '\25bc';
    }

    .custome_td {
        background-color: #7bb0e9;
    }

    .tile .tile-header
    {
        padding-left: 20px;
        padding-right: 20px;
    }
</style>﻿
<link href="assets/plugins/Minovate/Main.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
              <div class="page-title" style="margin-top:-2%;">
                <h3>{{"Student "| translate }} <span class="semi-bold">{{"Fee"| translate }}</span></h3>
            </div>

                <div style="margin-top:-17px;">
       <!-- <div class="tile-header dvd dvd-btm">


            <ul class="controls" ng-hide="true">
                <li>
                    <a role="button" tabindex="0" id="add-entry" ng-click="gotoCancelReceipt()"><i class="fa fa-remove"></i> Cancel Receipt</a>
                </li>

            </ul>
        </div>-->
        <!-- /tile header -->
        <div class="row" ng-show="notshow">
            <div class="col-xs-4">
                <div class="well" class="form-group">
                    <div class="form-group">
                        <label>Current Page:</label>
                        <input placeholder="page"
                               class="form-control"
                               ng-model="currentPage"
                               ng-init="currentPage = 1" />
                    </div>
                    <div class="form-group">
                        <label>Page Size:</label>
                        <input placeholder="Page Size"
                               class="form-control"
                               ng-model="numPerPage" />
                    </div>
                    <div class="form-group">
                        <label>Total Items:</label>
                        <input placeholder="Total"
                               class="form-control"
                               ng-model="pagersize" />
                    </div>
                    <hr />
                    <div class="form-group">
                        <label>Dots Display:</label>
                        <input placeholder="..."
                               class="form-control"
                               maxlength="3"
                               ng-model="dots"
                               ng-init="dots = '...'" />
                    </div>

                    <hr />
                    <div class="form-group">
                        <label>UL Class:</label>
                        <input placeholder="pagination"
                               class="form-control"
                               maxlength="100"
                               ng-model="ulClass" />
                    </div>
                    <div class="form-group">
                        <label>Active Class:</label>
                        <input placeholder="active"
                               class="form-control"
                               maxlength="100"
                               ng-model="activeClass"
                               ng-init="activeClass = 'active'" />
                    </div>
                    <div class="form-group">
                        <label>Disabled Class:</label>
                        <input placeholder="disabled"
                               class="form-control"
                               maxlength="100"
                               ng-model="disabledClass"
                               ng-init="disabledClass = 'disabled'" />
                    </div>
                    <br />
                    <table class="table">

                        <tr>
                            <td>
                                <label>Show Prev Next:</label>
                            </td>
                            <td>
                                <input type="checkbox"
                                       ng-model="showPrevNext"
                                       ng-init="showPrevNext = true" />
                                {{showPrevNext}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Show First Last:</label>
                            </td>
                            <td>
                                <input type="checkbox"
                                       ng-model="showFirstLast"
                                       ng-init="showFirstLast = true" />
                                {{showPrevNext}}
                            </td>
                        </tr>
                    </table>
                    <hr />
                    <span class="btn btn-default" onclick="location.reload()">
                        <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                    </span>
                    <span class="btn btn-success" ng-click="currentPage = 0">
                        Apply Settings
                    </span>
                    <br />
                    <br />
                </div>
            </div>
        </div>
        <!-- tile body -->
        <div class="tile-body table-custom" style="display: block;">

            <div class="table-responsive">
                <div class="raw ">
                 <div  class="paddingcode grid-body bluegrd ">        
                
                 <div class="col-md-12 ">
                        <div class="form-group col-md-1">
                            <label for="username"><i class="fa fa-book"></i>&nbsp;{{"Curriculum"| translate }} </label>
                            <select id="cmb_cur" data-role="dropdownlist" class="form-control input-sm full-width"
                                    ng-model="edt.sims_cur_code" ng-change="cur_code_change(edt.sims_cur_code)"
                                    ng-options="commn2.sims_cur_code as commn2.sims_cur_short_name for commn2 in CurData" name="cmb_cur"></select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="username"><i class="fa fa-sort-amount-desc"></i>&nbsp;{{"Academic Year"| translate }} </label>
                            <select id="Select1" data-role="dropdownlist" class="form-control input-sm full-width"
                                    ng-model="edt.sims_academic_year" ng-change="academic_year_change(edt.sims_cur_code,edt.sims_academic_year);year_change(edt.sims_cur_code)"
                                    ng-options="commn2.sims_academic_year as commn2.sims_academic_year_description for commn2 in AcademicYears"
                                    ng-selected="{{commn2.sims_academic_year_status==currentYear_status }}" name="cmb_academic"></select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="username"> <i class="fa fa-sitemap"></i>&nbsp;{{"Grade"| translate }} </label>
                            <select id="Select2" data-role="dropdownlist" class="form-control input-sm full-width"
                                    ng-model="edt.sims_grade_code"
                                    ng-change="grade_change(edt.sims_cur_code,edt.sims_academic_year,edt.sims_grade_code)"
                                    ng-options="commn2.sims_grade_code as commn2.sims_grade_name for commn2 in Grades"
                                    name="cmb_grades"></select>
                        </div>
                        <div class="form-group col-md-1">
                            <label for="username"> <i class="fa fa-align-justify"></i>&nbsp;{{"Section"| translate }} </label>
                            <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width"
                                    ng-model="edt.sims_section_code"
                                    ng-options="commn2.sims_section_code as commn2.sims_section_name for commn2 in sections"
                                    name="cmb_sections"></select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="username"><i class="fa fa-search"></i>&nbsp;{{"Search"| translate }}</label>
                            <select id="Select4" data-role="dropdownlist" class="form-control input-sm full-width"
                                    ng-model="edt.sims_search_code"
                                    ng-options="commn2.sims_search_code as commn2.sims_search_code_name for commn2 in searchoptions" ng-change="changeparent(edt.sims_search_code)"
                                    name="cmb_searchoptions"></select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="username">&nbsp;</label>
                            <input type="text" name="name" id="name" ng-model="edt.search_txt" ng-keypress="fetchDatakeyPress($event)" class="k-textbox input-sm full-width" required="">
                        </div>
                         
                        
                    
                        <div class="pull-right">
                            <label>&nbsp;</label>
                                <button type="submit" class="btn btn-rounded btn-success btn-sm btn-small" ng-click="btnPreview_click()">{{"Preview"| translate }}</button>
                            <button type="submit" class="btn btn-rounded btn-warning btn-cons" ng-click="reset()">{{"Reset"| translate }}</button>
                            </div>
                        </div>
                    </div>
                   </div>
                      <div class="raw">

             <div  class="paddingcode grid-body no-border">
                     
                 <div class="col-md-12 ">
                             <div class="col-md-12">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="Div2">
                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                         <!--   <button type="submit" id="desigsub" ng-show="save_btn" ng-click="update()" class="btn btn-primary btn-small">{{"Save"| translate }}</button>-->
                        </div>
                    </div>
                                <table class="table table-bordered  dataTable table-hover" id="project-progress" role="grid" aria-describedby="project-progress_info">
                                    <thead>
                                        <tr role="row" style="height:0px;">



                                            <th tabindex="0" aria-controls="project-progress" aria-sort="ascending" aria-label="ID: activate to sort column descending" style="width: 15px;">
                                                {{"Sr.No"| translate }}
                                            </th>
                                            <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending" style="width: 50px;" ng-click="sortBy('std_fee_enroll_number')">
                                                {{"Enrollment No"| translate }}
                                                <span class="sortorder" ng-show="propertyName === 'std_fee_enroll_number'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th style="width: 120px;" tabindex="0" aria-controls="project-progress" ng-click="sortBy('std_fee_student_name')">
                                                {{"Name"| translate }}
                                                <span class="sortorder" ng-show="propertyName === 'std_fee_student_name'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th style="width: 30px;" tabindex="0" aria-controls="project-progress" ng-click="sortBy('std_fee_Class')">
                                                {{"Class"| translate }}
                                                <span class="sortorder" ng-show="propertyName === 'std_fee_Class'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th style="width: 120px;" class="text-left no-sort sorting_disabled" aria-label="Chart" ng-click="sortBy('std_fee_parent_name')">
                                                {{"Parent Name"| translate }}
                                                <span class="sortorder" ng-show="propertyName === 'std_fee_parent_name'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th style="width: 120px;" class="text-left no-sort sorting_disabled" aria-label="Chart" ng-click="sortBy('parent_mobile_no')">
                                                {{"Parent Mobile No"| translate }}
                                                <span class="sortorder" ng-show="propertyName === 'parent_mobile_no'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th style="width: 120px;" class="text-left no-sort sorting_disabled" aria-label="Chart" ng-click="sortBy('std_fee_parent_name')">
                                                {{"Mother Name"| translate }}
                                                <span class="sortorder" ng-show="propertyName === 'std_fee_parent_name'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th style="width: 60px;" class="text-right no-sort sorting_disabled" aria-label="Chart" ng-click="sortBy('std_fee_amount')">
                                                {{"Amount"| translate }}
                                                <span class="sortorder" ng-show="propertyName === 'std_fee_amount'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th style="width: 65px;" class="text-right no-sort sorting_disabled" aria-label="Chart" ng-click="sortBy('std_TotalPaid')">
                                                {{"Total Paid"| translate }}

                                                <span class="sortorder" ng-show="propertyName === 'std_TotalPaid'" ng-class="{reverse: reverse}"></span>

                                            </th>
                                            <th style="width: 50px;" class="text-right no-sort sorting_disabled" aria-label="Chart" ng-click="sortBy('std_BalanceFee')">
                                                {{"Balance"| translate }}
                                                <span class="sortorder" ng-show="propertyName === 'std_BalanceFee'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th style="width: 50px;" class="text-left no-sort sorting_disabled" aria-label="Chart">{{"Status"| translate }}</th>
                                            <th style="width: 141px;" class="text-left no-sort sorting_disabled">{{"Action"| translate }}</th>
                                            <th style="width: 142px;" class="text-left no-sort sorting_disabled">{{"Adv. Year Fee"| translate }}</th>

                                        </tr>
                                    </thead>
                                    <tbody>


                                        <tr ng-repeat="info in filteredTodos | orderBy:propertyName:reverse" ng-class="row1" ng-dblclick="callDet(info);" style="height:0px;">
                                            <td>
                                                <div class="text-default">
                                                    {{$index+((currentPage-1)*numPerPage)+1}}

                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-default" style="font-size: 12px;">{{info.std_fee_enroll_number}}</div>
                                               
                                            </td>
                                            <td >
                                                <div class="text-default" class="ellipsis"  style="font-size: 9px;">{{info.std_fee_student_name}}</div>
                                            </td>
                                            <td>
                                                <div class="text-default"  style="font-size: 10px;">{{info.std_fee_Class}}</div>
                                                <!--<span ng-class="{true: 'label label-important', false: 'label label-success'}[1=='1']"
                                                      style="vertical-align: middle; background-color: #ffffff;"><b>{{info.std_fee_Class}}</b></span>-->

                                            </td>
                                            <td>
                                                <div class="text-default"  style="font-size: 10px;">{{info.std_fee_parent_name}}</div>
                                            </td>
                                            <td>
                                                <div class="text-default"  style="font-size: 10px;">{{info.parent_mobile_no}}</div>
                                            </td>
                                            <td>
                                                <div class="text-default"  style="font-size: 10px;">{{info.std_fee_mother_name}}</div>
                                            </td>
                                            <td>
                                                <div class="text-default-right" style="font-size: 12px;">{{info.std_fee_amount | currency:'':decimal_dsc}}</div>
                                            </td>
                                            <td>
                                                <div class="text-default-right" style="font-size: 12px;">{{info.std_TotalPaid |  currency:'':decimal_dsc}}</div>
                                            </td>
                                            <td>
                                                <div class="text-default-right" style="font-size: 12px;">{{info.std_BalanceFee | currency:'':decimal_dsc}}</div>
                                            </td>
                                            <td>
                                                <div class="text-default" style="font-size: 10px;">
                                                    <!--<span ng-class="{true: 'label label-important', false: 'label label-success'}[info.sims_student_academic_status_code=='C']"
                                                          style="vertical-align: middle;">--><b>{{info.sims_student_academic_status}}</b><!--</span>-->
                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-default" style="font-size: 12px;">
                                                    <button class="label label-success" ng-click="Report(info)" style="vertical-align: middle;cursor:pointer"><b>Family Statement</b></button>
                                                </div>
                                            </td>
                                            <td>
                                                <div ng-if="info.is_adv_fee_defined==true" class="text-default" style="font-size: 12px;">
                                                    <span class="label label-success" ng-click="divAdvanceYearFee(info)" style="vertical-align: middle;cursor:pointer"><b>Submit</b></span>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>Total</td>
                                            <td style="text-align:right;">{{toamt | currency:'':decimal_dsc}}</td>
                                            <td style="text-align:right;">{{topaid | currency:'':decimal_dsc}}</td>
                                            <td style="text-align:right;">{{tobal | currency:'':decimal_dsc}}</td>
                                            <td colspan="3">{{"Filtered search record count-"}}{{length_array}}/{{"Total Student-"}}{{count_total}} </td>

                                        </tr>
                                    </tbody>
                                </table>
                           <!-- <div class="row">
                                <label for="username">{{"total Amount"| translate }} </label>{{toamt}}
                                </div>-->
                            </div>
                        </div>
                          </div>
                          <div class="row">                        
                        <div class="col-sm-12"> 
                        <div class="pull-right">
                            <paging ng-hide="allSize" class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                    scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                    paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                    ng-click="index(currentPage)">
                            </paging>
                        </div>
                            </div>
                              </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </div>
        <!-- /tile body -->
<div class="modal fade in" id="feemodal" role="dialog" style="display: none;">
    <div class="modal-dialog" style="width: 1024px; border: solid; border-width: 02px; border-bottom-left-radius: 05px; border-bottom-right-radius: 05px; border-top-left-radius: 05px; border-top-right-radius: 05px; border-color: blue">
        <div class="modal-content">
            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px;font-weight:600">Family Statement<b></b> : <span class="semi-bold">{{student_name}}</span></h4>
                </div>
                <div class="pull-right">
                    <a href="">
                       <!--- <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>--->
                        <a role="button" data-dismiss="modal" tabindex="0" class="tile-close btn btn-primary"><i class="fa fa-times"></i></a>
                        <!--<button style="margin-top :4px;margin-right :0px;height :33px;line-height :23px;" class="btn btn-primary btn-cons" data-dismiss="modal" type="submit">Close</button>-->

                    </a>
                </div>

            </div>
            <div class="col-md-12" ng-hide="report_show" style="background-color: white;">
                <div class="row report_holder">
                    <div id="reportViewer1">
                        loading...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

       <!-- <div style="width: 850px; height: 70%; overflow-x: auto; overflow-y: scroll;">
            <div class="modal fade" id="MyModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" style="width: 95%;">
                    <div class="modal-content" style="text-align: left">
                        <div class="modal-header dvd dvd-btm b-b b-grey">
                            <div class="pull-left p-l-10 ">
                                <h4><span class="semi-bold">{{"Fee Receipts"| translate }} </span>: <span class="semi-bold">{{student_name}}</span></h4>
                            </div>
                            <div class="position-absolute t-p-0 r-p-0">
                                <a role="button" data-dismiss="modal" tabindex="0" class="tile-close btn btn-primary"><i class="fa fa-times"></i></a>
                            </div>
                           
                        </div>

                        <div class="modal-body">

                            <div class="row text-left m-t-5 m-l-5 m-r-5 m-b-5">

                              <!--  <div class="p-l-5 p-r-5 p-t-5 p-b-5 b-a b-grey" ng-repeat="row in feesDisReceiptData">
                                    <div style="display: flex; padding: 5px">
                                        <div style="width: 30px; height: 30px">
                                        </div>
                                        <i class="{{row.sims_icon}}" ng-click="expand(row,$event1)" style="padding: 5px"></i>
                                        <span style="padding: 5px">
                                            <strong>{{"RECEIPT NO" | translate }} </strong>{{row.doc_no}}  
                                            <strong>{{"RECEIPT DATE" | translate }} :</strong>{{row.doc_date}} 
                                            <strong>{{"CREATION DATE" | translate }} :</strong> {{row.creation_date}}
                                            <strong>{{"STATUS" | translate }} :</strong>{{row.doc_status}} :
                                            <strong>{{"AMOUNT" | translate }} :</strong>{{row.total_amount}}
                                        </span>
                                    </div>-->


                                   <!-- <div ng-show="small_table" >  <!--ng-style="{'display':row.isexpanded}"-->
                                    <!--    <div style="width: 100%; height: 500px; overflow-x: auto; overflow-y: auto">
                                        <table class="table table-bordered dataTable" id="Table1" role="grid" aria-describedby="project-progress_info">
                                            <thead>
                                                <tr style="z-index: 1">

                                                    <th tabindex="0" aria-controls="project-progress" aria-sort="ascending" aria-label="ID: activate to sort column descending" style="width: 15px;">{{"Sr.No" | translate }}</th>
                                                     <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending" style="width: 25px;    font-weight: bold;" class="semi-bold" ng-click="sortBy('doc_no')">{{"Receipt No" | translate }}  <span class="sortorder" ng-show="propertyName === 'doc_no'" ng-class="{reverse: reverse}"></span></th>
                                                      <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending" style="width: 25px;    font-weight: bold;" class="semi-bold" ng-click="sortBy('doc_status')">{{"Doc Status" | translate }}  <span class="sortorder" ng-show="propertyName === 'doc_status'" ng-class="{reverse: reverse}"></span></th>
                                                    <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending" style="width: 25px;    font-weight: bold;" class="semi-bold" ng-click="sortBy('doc_date')">{{"Doc Date" | translate }}  <span class="sortorder" ng-show="propertyName === 'doc_date'" ng-class="{reverse: reverse}"></span></th>
                                                    <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending" style="width: 25px;    font-weight: bold;" class="semi-bold" ng-click="sortBy('sims_fee_code_description')">{{"Particulars" | translate }}  <span class="sortorder" ng-show="propertyName === 'sims_fee_code_description'" ng-class="{reverse: reverse}"></span></th>
                                                    <!--<th style="width: 100px;" tabindex="0" aria-controls="project-progress" class="semi-bold" ng-click="sortBy('dd_fee_amount_final')">{{"Expected Amount" | translate }}  <span class="sortorder" ng-show="propertyName === 'dd_fee_amount_final'" ng-class="{reverse: reverse}"></span></th>-->
                                         <!--           <th style="width: 80px;" class="text-left no-sort sorting_disabled" aria-label="Chart" class="semi-bold">{{"Fee Amount" | translate }}</th>
                                                    <!-- <th style="width: 80px;" class="text-left no-sort sorting_disabled" aria-label="Chart">{{"Balance" | translate }}</th>-->
                                          <!--          <th style="width: 30px;" class="text-left" class="semi-bold" ng-click="sortBy('dd_fee_payment_mode')">{{"Payment Mode" | translate }}  <span class="sortorder" ng-show="propertyName === 'dd_fee_payment_mode'" ng-class="{reverse: reverse}"></span></th>
                                                    <th style="width: 20px;    font-weight: bold;" tabindex="0" aria-controls="project-progress" class="semi-bold" ng-click="sortBy('cheque_number')">{{"Cheque/DD No" | translate }}  <span class="sortorder" ng-show="propertyName === 'cheque_number'" ng-class="{reverse: reverse}"></span></th>
                                                    <th style="width: 20px;" tabindex="0" aria-controls="project-progress">{{"Cheque Status" | translate }}</th>
                                                    <!--<th style="width: 20px;" tabindex="0" aria-controls="project-progress">Date</th>-->
                                            <!--        <th style="width: 20px;    font-weight: bold;" tabindex="0" aria-controls="project-progress" class="semi-bold" ng-click="sortBy('creation_user')">{{"Received By" | translate }}  <span class="sortorder" ng-show="propertyName === 'creation_user'" ng-class="{reverse: reverse}"></span></th>
                                                      <th style="width: 20px;    font-weight: bold;" tabindex="0" aria-controls="project-progress" class="semi-bold" ng-click="sortBy('creation_date')">{{"Creation Date" | translate }}  <span class="sortorder" ng-show="propertyName === 'creation_date'" ng-class="{reverse: reverse}"></span></th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="info in feesReceiptData | orderBy:propertyName:reverse" ng-class="row1" ng-dblclick="edit(airfare)"">   

                                                    <td>
                                                        <div class="text-default">{{$index+1}}</div>
                                                    </td>
                                                    <td>
                                                        <div class="text-default">{{info.doc_no}}</div>
                                                    </td>
                                                    <td>
                                                        <div class="text-default">{{info.doc_status}}</div>
                                                    </td>
                                                     <td>
                                                        <div class="text-default">{{info.doc_date}}</div>
                                                    </td>
                                                    <td>
                                                        <div class="text-default">{{info.sims_fee_code_description}}</div>
                                                    </td>
                                                    <td style= "display:none;">
                                                        <div class="text-right">{{info.dd_fee_amount_final | currency:"":2}}</div>
                                                    </td>
                                                    <td>
                                                        <div class="text-right">{{info.dd_fee_amount_final | currency:"":2}}</div>
                                                    </td>
                                                   <!-- <td>
                                                        <div class="text-right">{{info.dd_fee_amount_final-info.dd_fee_amount_final | currency:"":2}}</div>
                                                    </td>-->
                                           <!--         <td>
                                                        <div class="text-default">{{info.dd_fee_payment_mode}}</div>
                                                    </td>
                                                    <td>
                                                        <div class="text-default">{{info.cheque_number}}</div>
                                                    </td>
                                                    <td  >
                                                        <div class="text-default" ng-style="{'color': info.chequeColor_Desc}">{{info.chequeStatus_Desc}}</div>
                                                    </td>
                                                    <td>
                                                        <div class="text-default">{{info.creation_user}}</div>
                                                    </td>
                                                     <td>
                                                        <div class="text-default">{{info.creation_date}}</div>
                                                    </td>
                                                    
                                                </tr>

                                                <tr style="background-color:#cacfd4;font-weight:200px">
                                                    <td colspan="4"></td>
                                                    <td  style="text-align:right">
                                                        <div class="text-default">Total</div>
                                                    </td>
                                                     <td style="text-align:right"><div class="text-default">{{expected_amt|currency:'':2}}</div></td>
                                                     <td style="text-align:right"><div class="text-default">{{Fee_amt|currency:'':2}}</div></td>
                                                    <td colspan="5"></td>
                                                </tr>


                                            </tbody>

                                        </table>
                                    </div>
                                        </div>
                            <!--    </div>-->

                         <!--   </div>

                            <div style="padding-left: 12px; text-align: left;">
                                <paging class="small" page="currentPage_invoice" page-size="pageSize_invoice" total="pagersize_invoice" pg-href="#GotoPage-{page}" dots="{{dots_invoice}}" show-prev-next="{{showPrevNext_invoice}}"
                                        scroll-top="{{scrollTop}}" ng-show="hideIfEmpty_invoice" ul-class="{{ulClass_invoice}}" active-class="{{activeClass_invoice}}" disabled-class="{{disabledClass_invoice}}" show-first-last="{{showFirstLast_invoice}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page_invoice, pageSize_invoice, totalItems_invoice)"
                                        ng-click="index_invoice(currentPage_invoice)">
                                </paging>
                            </div>
                        </div>


                    </div>
                </div>


            </div>
        </div>
       -->

 <!-- /tile body -->
        <div style="width: 500px; height: 70%; overflow-x: auto; overflow-y: scroll;">
            <div class="modal fade" id="divAdvanceYearFee" tabindex="-1" role="dialog">
                <div class="modal-dialog" style="width: 70%; background-color: white;">
                    <div class="modal-content" style="text-align: left">
                        <div class="tile-header dvd dvd-btm">
                           <div style="padding-left: 7px;padding-top: 1px;">
                             <div class="pull-right">
                               
                                    <a role="button" data-dismiss="modal" tabindex="0" class="tile-close"><i class="fa fa-times"></i></a>
                                
                            </div>
                            <h4 class="custom-font"><strong>{{"Advance Year"| translate }} </strong>Fee  : <strong>{{student_name}}</strong></h4>
                           
                            </div>
                        </div>
                        <div >
                            
                            <div class="row" style="margin-left:7px">
                                <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12 ">
                                    <label for="username">{{"Curriculum"| translate }} </label>
                                    <select id="Select6" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="edtadv.sims_cur_code" ng-change="cur_code_change_adv(edtadv.sims_cur_code)"
                                            ng-options="commn2.sims_cur_code as commn2.sims_cur_short_name for commn2 in CurData" name="cmb_cur"></select>
                                </div>
                                <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12 ">
                                    <label for="username">{{"Academic Year"| translate }} </label>
                                    <select id="Select7" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="edtadv.sims_academic_year" ng-change="academic_year_change_adv(edtadv.sims_cur_code,edtadv.sims_academic_year)"
                                            ng-options="commn2.sims_academic_year as commn2.sims_academic_year_description for commn2 in AcademicYears"
                                            ng-selected="{{commn2.sims_academic_year_status==currentYear_status }}" name="cmb_academic"></select>
                                </div>
                                <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12 ">
                                    <label for="username">{{"Grade"| translate }} </label>
                                    <select id="Select8" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="edtadv.sims_grade_code"
                                            ng-change="grade_change_adv(edtadv.sims_cur_code,edtadv.sims_academic_year,edtadv.sims_grade_code)"
                                            ng-options="commn2.sims_grade_code as commn2.sims_grade_name for commn2 in AdvGrades"
                                            name="cmb_grades"></select>
                                </div>
                                <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12 ">
                                    <label for="username">{{"Section"| translate }} </label>
                                    <select id="Select9" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="edtadv.sims_section_code"
                                            ng-options="commn2.sims_section_code as commn2.sims_section_name for commn2 in Advsections"
                                            name="cmb_sections"></select>
                                </div>
                                <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12 ">
                                    <label for="username">&nbsp;</label>
                                    <button type="submit" class="btn btn-rounded btn-success btn-sm btn-small" ng-click="submitAdvFees()">{{"Submit & Collect"| translate }}</button>
                                </div>
                                <div class="col-md-1">
                                    <label for="username">&nbsp;</label>
                                    <button type="submit" class="btn btn-rounded btn-success btn-sm btn-small" ng-click="closeAdv()">{{"Close"| translate }}</button>
                                </div>
                            </div>
                            <div class="row" style="margin-left:7px">
                                <div class="col-md-10">
                                    <label for="username">{{"Click on"| translate }} <b>{{"'submit & collect'"| translate }}</b> {{"to map advance year fee and to proceed collection."| translate }}</label>
                                </div>
                                <br />
                                <br />
                                

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    <!-- /tile -->
<div overflow-x: auto; overflow-y: scroll;">
            <div class="modal fade" id="AdvanceYearCollection" tabindex="-1" role="dialog">
                <div class="modal-dialog" style="width: 100%; background-color: white;">
                    <div class="modal-content" style="text-align: left">
                        <div class="tile-header dvd dvd-btm">
                           <div style="padding-left: 7px;padding-top: 1px;">
                             <div class="pull-right">
                               <button style="margin-top :4px;margin-right :4px;height :33px;line-height :23px;float: right;" class="btn btn-primary btn-cons" data-dismiss="modal" type="submit">Close</button>
                                   <!-- <a role="button" data-dismiss="modal" tabindex="0" class="tile-close"><i class="fa fa-times"></i></a>-->
                                
                            </div>
                            <h4 class="custom-font"><strong>{{"Advance Year"| translate }} </strong>Fee  : <strong>{{parent_name}}</strong></h4>
                           
                            </div>
                        </div>
                        <div >
                            
                            <div class="row" style="margin-left:7px">
                                 <table class="table table-bordered  dataTable table-hover" id="Table1" role="grid" aria-describedby="project-progress_info">
                                    <thead>
                                        <tr role="row" style="height:0px;">


                                            <th tabindex="0" aria-controls="project-progress" aria-sort="ascending" aria-label="ID: activate to sort column descending" style="width: 15px;">
                                                {{"Sr.No"| translate }}
                                            </th>
                                           <th style="width: 15px;">
                                                <div class="checkbox check-success">
                                                    <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked();selectonebyone();">
                                                    <label for="mainchk"></label>
                                                </div>
                                                
                                            </th>
                                            <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending" style="width: 50px;" >
                                                {{"Enrollment No"| translate }}
                                                
                                            </th>
                                          
                                            <th style="width: 30px;" tabindex="0" aria-controls="project-progress">
                                                {{"Student Name"| translate }}
                                                
                                            </th>
                                            <th style="width: 120px;" class="text-left no-sort sorting_disabled" aria-label="Chart">
                                                {{"Curriculum"| translate }}
                                                
                                            </th>
                                            <th style="width: 120px;" class="text-left no-sort sorting_disabled" aria-label="Chart">
                                                {{"Academic Year"| translate }}
                                                
                                            </th>
                                            <th style="width: 120px;" class="text-left no-sort sorting_disabled" aria-label="Chart">
                                                {{"Current Grade"| translate }}
                                                
                                            </th>
                                            <th style="width: 120px;" class="text-left no-sort sorting_disabled" aria-label="Chart">
                                                {{"Advance Grade"| translate }}
                                                
                                            </th>
                                            <th style="width: 120px;" class="text-left no-sort sorting_disabled" aria-label="Chart" >
                                                {{"Section"| translate }}
                                                
                                            </th>
                                            

                                        </tr>
                                    </thead>
                                    <tbody>


                                        <tr ng-repeat="sibling in siblingsDetails | orderBy:propertyName:reverse" ng-class="row1" >
                                            <td>
                                                <div class="text-default">
                                                    {{$index++1}}

                                                </div>
                                            </td>

                                            <td>
                                                <div class="checkbox check-success">
                                                    <input id="{{sibling.sims_enroll_number}}+{{$index}}" class="k-checkbox" value="1" type="checkbox" ng-click="selectonebyone(sibling,$index)" ng-model="sibling.stud_check">
                                                    <label for="{{sibling.sims_enroll_number}}+{{$index}}"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-default" style="font-size: 12px;">{{sibling.sims_enroll_number}}</div>
                                               
                                            </td>
                                            <!--<td >
                                                <div class="text-default" class="ellipsis"  style="font-size: 9px;">{{sibling.sims_parent_name}}</div>
                                            </td>-->
                                           
                                            <td>
                                                <div class="text-default"  style="font-size: 10px;">{{sibling.sims_student_name}}</div>
                                            </td>
                                             <td>
                                                  <select id="Select5" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="sibling.sims_cur_code" ng-change="cur_code_change_adv(edtadv.sims_cur_code)"
                                            ng-options="commn2.sims_cur_code as commn2.sims_cur_short_name for commn2 in CurData" name="cmb_cur"></select>
                                               <!-- <div class="text-default"  style="font-size: 10px;">{{sibling.sims_cur_code}}</div>-->

                                            </td>
                                            <td>
                                                <select id="Select10" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="sibling.adv_fee_year" ng-change="academic_year_change_adv(sibling.sims_cur_code,sibling.sims_academic_year)"
                                            ng-options="commn2.sims_academic_year as commn2.sims_academic_year_description for commn2 in AcademicYears"
                                            ng-selected="{{commn2.sims_academic_year_status==sibling.adv_fee_year }}" name="cmb_academic"></select>
                               
                                                <!--<div class="text-default"  style="font-size: 10px;">{{sibling.sims_academic_year}}</div>-->
                                            </td>
                                            <td>{{sibling.sims_grade_name_en}}</td>
                                             <td>
                                                 <select id="Select11" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="sibling.is_adv_grade"
                                            ng-change="grade_change_adv_sibling_new(sibling.sims_cur_code,sibling.adv_fee_year,sibling.is_adv_grade,sibling)"
                                            ng-options="commn2.sims_grade_code as commn2.sims_grade_name for commn2 in AdvGrades"
                                            name="cmb_grades"></select>
                                                <!--  <select id="Select11" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="sibling.is_adv_grade"
                                            ng-options="commn2.sims_grade_code as commn2.sims_grade_name for commn2 in AdvGrades"
                                            ng-change="grade_change_adv(sibling.sims_cur_code,sibling.sims_academic_year,sibling.is_adv_grade)"
                                            name="cmb_grades"></select>-->
                                                <!--<div class="text-default"  style="font-size: 10px;">{{sibling.sims_grade_name_en}}</div>-->

                                            </td>
                                            <td>
                                                <select id="Select12" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="sibling.is_adv_section"
                                            ng-options="commn2.sims_section_code as commn2.sims_section_name for commn2 in sibling.section_lst"
                                            name="cmb_sections"></select>
                                                <!-- <select id="Select12" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="sibling.is_adv_section"
                                            ng-options="commn2.sims_section_code as commn2.sims_section_name for commn2 in Advsections"
                                            name="cmb_sections"></select>-->
                                                <!--<div class="text-default"  style="font-size: 10px;">{{sibling.sims_section_code}}</div>-->
                                            </td>
                                           
                                           
                                        </tr>

                                        
                                    </tbody>
                                </table>
                              <!--  <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12 ">
                                    <label for="username">{{"Curriculum"| translate }} </label>
                                    <select id="Select5" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="edtadv.sims_cur_code" ng-change="cur_code_change_adv(edtadv.sims_cur_code)"
                                            ng-options="commn2.sims_cur_code as commn2.sims_cur_short_name for commn2 in CurData" name="cmb_cur"></select>
                                </div>
                                <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12 ">
                                    <label for="username">{{"Academic Year"| translate }} </label>
                                    <select id="Select10" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="edtadv.sims_academic_year" ng-change="academic_year_change_adv(edtadv.sims_cur_code,edtadv.sims_academic_year)"
                                            ng-options="commn2.sims_academic_year as commn2.sims_academic_year_description for commn2 in AcademicYears"
                                            ng-selected="{{commn2.sims_academic_year_status==currentYear_status }}" name="cmb_academic"></select>
                                </div>
                                <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12 ">
                                    <label for="username">{{"Grade"| translate }} </label>
                                    <select id="Select11" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="edtadv.sims_grade_code"
                                            ng-change="grade_change_adv(edtadv.sims_cur_code,edtadv.sims_academic_year,edtadv.sims_grade_code)"
                                            ng-options="commn2.sims_grade_code as commn2.sims_grade_name for commn2 in AdvGrades"
                                            name="cmb_grades"></select>
                                </div>
                                <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12 ">
                                    <label for="username">{{"Section"| translate }} </label>
                                    <select id="Select12" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="edtadv.sims_section_code"
                                            ng-options="commn2.sims_section_code as commn2.sims_section_name for commn2 in Advsections"
                                            name="cmb_sections"></select>
                                </div>-->
                             
                            </div>
                                <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12 ">
                                    <label for="username">&nbsp;</label>
                                    <button type="submit" class="btn btn-rounded btn-success btn-sm btn-small" ng-disabled="!submitflag" ng-click="submitAdvSiblingsFees()">{{"Submit & Collect"| translate }}</button>
                                </div>
                                <div class="col-md-1">
                                    <label for="username">&nbsp;</label>
                                    <button type="submit" class="btn btn-rounded btn-success btn-sm btn-small" ng-click="closeAdvCollect()">{{"Close"| translate }}</button>
                                </div>
                          
                            <div class="row" style="margin-left:7px">
                                <div class="col-md-10">
                                    <label for="username">{{"Click on"| translate }} <b>{{"'submit & collect'"| translate }}</b> {{"to map advance year fee and to proceed collection."| translate }}</label>
                                </div>
                                <br />
                                <br />
                                

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
<script src="assets/plugins/modal_updated.js"></script>
<script src="assets/js/moment.js"></script>
<style>
    #reportViewer1 {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 5px;
        overflow: hidden;
        font-family: Verdana, Arial;
    }

    .cr {
        cursor: pointer;
    }

    .report_holder {
        height: 500px;
        position: relative;
    }
</style>

