﻿
<link href="assets/plugins/Minovate/Main.css" rel="stylesheet" />
<div class="col-md-16">
    <!-- tile -->
    <section class="tile">
        <br /><br /><br />
        <!-- tile header -->
        <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Student </strong>Fee(Paying Agent)</h1>

            <ul class="controls">
                <li>
                    <a role="button" tabindex="0" id="add-entry"><i class="fa fa-remove"></i> Cancel Receipt</a>
                </li>
                <li>
                    <a role="button" tabindex="0" id="a1"><i class="fa fa-envelope"></i> Email</a>
                </li>
                <li>
                    <a role="button" tabindex="0" id="a2"><i class="fa fa-mobile-phone"></i> SMS</a>
                </li>
                <li>
                    <a role="button" tabindex="0">
                    <span class="fa fa-refresh" ></span>
                    </a>
                </li>
               
                
                <li class="dropdown">
                    <a role="button" tabindex="0" class="dropdown-toggle settings" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-cog"></i>
                        <i class="fa fa-spinner fa-spin"></i>
                    </a>

                    <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                        <li>
                            <a role="button" tabindex="0" class="tile-toggle">
                                <span class="minimize"><i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
                                <span class="expand"><i class="fa fa-angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
                            </a>
                        </li>
                        <li>
                            <a role="button" tabindex="0" class="tile-fullscreen">
                                <i class="fa fa-expand"></i>Fullscreen
                            </a>
                        </li>
                    </ul>

                </li>
                <li class="remove"><a role="button" tabindex="0" class="tile-close"><i class="fa fa-times"></i></a></li>
            </ul>
        </div>
        <!-- /tile header -->
               <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input
                                placeholder="page"
                                class="form-control"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input
                                placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input
                                placeholder="Total"
                                class="form-control"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input
                                placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input
                                placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input
                                placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input
                                placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        <!-- tile body -->
        <div class="tile-body table-custom" style="display: block;">

            <div class="table-responsive">
                <div id="project-progress_wrapper">
                    <div class="row">
                        <div class="form-group col-md-1">
                            <label for="username">Curriculum </label>
                                                   <select id="cmb_cur" class="form-control select2-sm"
                                                    ng-model="edt.sims_cur_code" ng-change="cur_code_change(edt.sims_cur_code)" 
                                                    ng-options="commn2.sims_cur_code as commn2.sims_cur_short_name for commn2 in CurData" name="cmb_cur">
                                                   </select>     
                        </div>
                        <div class="form-group col-md-2">
                            <label for="username">Academic Year </label>
                                <select id="Select1" class="form-control select2-sm"
                                                    ng-model="edt.sims_academic_year" ng-change="academic_year_change(edt.sims_cur_code,edt.sims_academic_year)" 
                                                    ng-options="commn2.sims_academic_year as commn2.sims_academic_year_description for commn2 in AcademicYears" 
                                                    ng-selected="{{commn2.sims_academic_year_status==currentYear_status }}" name="cmb_academic">    
                                </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="username">Grade </label>
                            <select id="Select2" class="form-control select2-sm"
                                                    ng-model="edt.sims_grade_code"  
                                                    ng-change="grade_change(edt.sims_cur_code,edt.sims_academic_year,edt.sims_grade_code)" 
                                                    ng-options="commn2.sims_grade_code as commn2.sims_grade_name for commn2 in Grades" 
                                                     name="cmb_grades">    
                                </select>
                        </div>
                        <div class="form-group col-md-1">
                            <label for="username">Section </label>
                            <select id="Select3" class="form-control select2-sm"
                                                    ng-model="edt.sims_section_code"  
                                                    ng-options="commn2.sims_section_code as commn2.sims_section_name for commn2 in sections" 
                                                     name="cmb_sections">    
                                </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="username">Search</label>
                            <select id="Select4" class="form-control select2-sm"
                                                    ng-model="edt.sims_search_code"  
                                                    ng-options="commn2.sims_search_code as commn2.sims_search_code_name for commn2 in searchoptions" 
                                                     name="cmb_searchoptions">    

                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="username">&nbsp;</label>
                            <input type="text" name="name" id="name" ng-model="edt.search_txt" ng-keypress="fetchDatakeyPress($event)" class="form-control" required="">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="username">&nbsp;</label>
                            <button type="submit" class="btn btn-rounded btn-success btn-sm" ng-click="btnPreview_click()">Preview</button>
                            <button type="submit" class="btn btn-rounded btn-success btn-sm">Reset</button>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">

                            <div style="overflow-y: auto; height: 380px;">

                                <!--<div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 336.004px; background: rgb(0, 0, 0);">
                                                            </div>-->


                                <table class="table table-bordered table-striped dataTable table-hover" id="project-progress" role="grid" aria-describedby="project-progress_info">
                                    <thead>
                                        <tr role="row">
                                            <th tabindex="0" aria-controls="project-progress" aria-sort="ascending" aria-label="ID: activate to sort column descending" style="width: 15px;">Sr.No</th>
                                            <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending" style="width: 30px;">Enrollment No</th>
                                            <th style="width: 120px;" tabindex="0" aria-controls="project-progress" >Name</th>
                                            <th style="width: 30px;" tabindex="0" aria-controls="project-progress">Class</th>
                                            <th style="width: 100px;" class="text-left no-sort sorting_disabled">Attendance Date</th>
                                            <th style="width: 120px;" class="text-left no-sort sorting_disabled" aria-label="Chart">Parent Name</th>
                                            <th style="width: 60px;" class="text-right no-sort sorting_disabled" aria-label="Chart">Amount</th>
                                            <th style="width: 65px;" class="text-right no-sort sorting_disabled" aria-label="Chart">Total Paid</th>
                                            <th style="width: 50px;" class="text-right no-sort sorting_disabled" aria-label="Chart">Balance</th>
                                            <th style="width: 50px;" class="text-left no-sort sorting_disabled" aria-label="Chart">Status</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="info in filteredTodos" ng-dblclick="callDet(info);">
                                            <td>
                                                <div class="text-default">
                                                    {{$index+((currentPage-1)*numPerPage)+1}}
                                                    
                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-default">{{info.std_fee_enroll_number}}</div>
                                            </td>
                                            <td>
                                                <div class="text-default" >{{info.std_fee_student_name}}</div>
                                            </td>
                                            <td>
                                                <span ng-class="{true: 'label label-important', false: 'label label-success'}[1=='1']"
                                                        style="vertical-align: middle;"><b>{{info.std_fee_Class}}</b></span>
                                                
                                            </td>
                                            <td>
                                                <div class="text-default">{{info.student_attendance_last_date}}</div>
                                            </td>
                                            <td>
                                                <div class="text-default">{{info.std_fee_parent_name}}</div>
                                            </td>
                                            <td>
                                                <div class="text-default-right">{{info.std_fee_amount | currency:""}}</div>
                                            </td>
                                            <td>
                                                <div class="text-default-right">{{info.std_TotalPaid | currency:""}}</div>
                                            </td>
                                            <td>
                                                <div class="text-default-right">{{info.std_BalanceFee | currency:""}}</div>
                                            </td>
                                            <td>
                                                <div class="text-default" >
                                                    <span ng-class="{true: 'label label-important', false: 'label label-success'}[info.sims_student_academic_status_code=='C']"
                                                        style="vertical-align: middle;"><b>{{info.sims_student_academic_status}}</b></span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>

                        <div style="padding-left:12px">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                            ng-click="index(currentPage)">
                </paging>
                    </div>
                    </div>
                  
                </div>
            </div>
        </div>
        <!-- /tile body -->

    </section>
    <!-- /tile -->
</div>