﻿<style>
    .k-textbox .k-icon {
    top: 50%;
    margin: -9px -9px 0;
    position: absolute;
}
    .k-input {
    padding: 0em;
    margin-top:0px;
}
   
 .bluegreed {
        background: #d8ebf4 !important;
        padding-bottom: 6px !important;
        padding-top: 6px !important;
    }


</style>﻿
<link href="assets/plugins/Minovate/Main.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
              <div class="page-title" style="margin-top:-2%;">
                <h3><strong>{{"Sibling" | translate}} </strong>{{"Concession" | translate}}</h3>
            </div>

                <div class="grid-body no-border paddingcode" style="background-color:transparent;">

        <!--<div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Sibling </strong>Concession</h1>

            <ul class="controls" ng-hide="true">
                <li>
                    <a role="button" tabindex="0" id="add-entry" ng-click="gotoCancelReceipt()" ><i class="fa fa-remove"></i> Cancel Receipt</a>
                </li>
            </ul>
        </div>-->
        <!-- /tile header -->
               <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input
                                placeholder="page"
                                class="form-control"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input
                                placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input
                                placeholder="Total"
                                class="form-control"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input
                                placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input
                                placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input
                                placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input
                                placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        <!-- tile body -->
        <div class="tile-body table-custom" style="display: block;">

            <div class="table-responsive">
                <div id="project-progress_wrapper">

                    <div class="row bluegrid">
                        <div class="form-group col-md-2">
                            <label for="username"><i class="fa fa-book"></i>&nbsp;{{"Curriculum" | translate}} <span class="asterisk" style="color: red">*</span></label>
                                                   <select id="cmb_cur" class="form-control input-sm full-width"
                                                    ng-model="edt.sims_cur_code" ng-change="cur_code_change(edt.sims_cur_code)" 
                                                    ng-options="commn2.sims_cur_code as commn2.sims_cur_short_name for commn2 in CurData" name="cmb_cur">
                                                   </select>     
                        </div>
                        <div class="form-group col-md-2">
                            <label for="username"><i class="fa fa-calendar"></i>&nbsp;{{"Academic Year" | translate}} <span class="asterisk" style="color: red">*</span></label>
                                <select id="Select1" class="form-control input-sm full-width"
                                                    ng-model="edt.sims_academic_year" ng-change="academic_year_change(edt.sims_cur_code,edt.sims_academic_year)" 
                                                    ng-options="commn2.sims_academic_year as commn2.sims_academic_year_description for commn2 in AcademicYears" 
                                                    ng-selected="{{commn2.sims_academic_year_status==currentYear_status }}" name="cmb_academic">    
                                </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="username"><i class="fa fa-sitemap"></i>&nbsp;{{"Grade" | translate}} <span class="asterisk" style="color: red">*</span></label>
                            <select id="Select2" class="form-control input-sm full-width"
                                                    ng-model="edt.sims_grade_code"  
                                                    ng-change="grade_change(edt.sims_cur_code,edt.sims_academic_year,edt.sims_grade_code)" 
                                                    ng-options="commn2.sims_grade_code as commn2.sims_grade_name for commn2 in Grades" 
                                                     name="cmb_grades">    
                                </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="username"><i class="fa fa-pencil-square-o"></i>&nbsp;{{"Section" | translate}} <span class="asterisk" style="color: red">*</span></label>
                            <select id="Select3" class="form-control input-sm full-width"
                                                    ng-model="edt.sims_section_code"  
                                                    ng-options="commn2.sims_section_code as commn2.sims_section_name for commn2 in sections" 
                                                     name="cmb_sections">    
                                </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="username"><i class="fa fa-align-justify"></i>&nbsp;{{"Concession" | translate}} <span class="asterisk" style="color: red">*</span></label>
                            <select id="Select4" class="form-control input-sm full-width"
                                                    ng-model="edt.sims_concession_number"  
                                                    ng-options="commn2.sims_concession_number as commn2.sims_concession_desc for commn2 in Concessions" 
                                                     name="cmb_concessions">    

                            </select>
                        </div>
                     <div class="form-group col-md-2">
                         <div class="pull-right">
                            <label for="username">&nbsp;<span style="color:red" ng-show="msg1">{{msg1}}</span></label>
                            <button type="submit" class="btn btn-success btn-small" ng-click="btnPreview_click()">{{"Preview" | translate}}</button>
                     <button type="submit" class="btn btn-warning btn-small" ng-click="reset()">{{"Reset" | translate}}</button>    
                     </div>
                         </div>
                    </div>
                  
                    <div class="row bluegreed"style="margin-top:-13px;">
                        <div class="form-group col-md-2">
                              <label><i class="fa fa-calendar"></i>&nbsp;{{"Concession From Date"| translate }}</label>
                                            <!--<div class="input-append success  no-padding" data-datepicker="true" style="width: auto">-->
                                                            <input type="text" id="from_date" name="start_date" class="k-textbox input-sm full-width"  ng-model="edt.receipt_start_date" ng-change="showdate(edt.lt_strat_date,'lt_strat_date')"/>
                                                           <!-- <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                                        </div>  -->
                        </div>
                        <div class="form-group col-md-2">
                           <label><i class="fa fa-calendar"></i>&nbsp;{{"Concession To Date"| translate }}</label>
                                             <!--<div class="input-append success  no-padding" data-datepicker="true" >-->
                                                            <input type="text" id="to_date" name="end_date" class="k-textbox input-sm full-width"  ng-model="edt.receipt_end_date" ng-change="showdate(edt.lt_strat_date,'lt_strat_date')"/>
                                                            <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                              </div>-->
                        </div>
                       <div class="col-md-8">
                           <div class="pull-right">
                              <label>&nbsp;</label>
                                <button type="submit" class="btn btn-primary btn-small" ng-click="save_concession()">{{"Save"|translate}}</button>
                       <button type="button" class="btn btn-warning  btn-small" ng-click="Reset()">{{"Reset"| translate }}</button>     
                       </div>
                           </div>
                        </div>
                    <div class="row"style="margin-top:8px;">
                        <div class="col-sm-12"style="background-color:white;">
                                <table class="table table-bordered  dataTable table-hover" id="project-progress" role="grid" aria-describedby="project-progress_info">
                                    <thead>
                                        <tr role="row">
                                            
                                            <th  style="height:20px;z-index:1;width:05%;vertical-align:middle">
                                                <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" name="check" value="1" id="mainchk" ng-click="CheckMultiple();">
                                                <label for="mainchk"></label>
                                        </div>
                                    </th>
                                            <th tabindex="0" aria-controls="project-progress" aria-sort="ascending" aria-label="ID: activate to sort column descending" style="width: 15px;"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Sr.No" | translate}}</th>
                                            <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending" style="width: 40px;"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Enroll No" | translate}}</th>
                                            <th style="width: 120px;" tabindex="0" aria-controls="project-progress" ><i class="fa fa-user"></i>&nbsp;{{"Name" | translate}}</th>
                                            <th style="width: 30px;" tabindex="0" aria-controls="project-progress"><i class="fa fa-align-justify"></i>&nbsp;{{"Class" | translate}}</th>
                                            <th style="width: 30px;" tabindex="0" aria-controls="project-progress"><i class="fa fa-money"></i>&nbsp;{{"Fee Category" | translate}}</th>
                                            <th style="width: 80px;" class="text-left no-sort sorting_disabled" aria-label="Chart"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"No. Of Siblings" | translate}}</th>
                                            <th style="width: 120px;" class="text-left no-sort sorting_disabled" aria-label="Chart"><i class="fa fa-user"></i>&nbsp;{{"Sibling Names" | translate}}</th>
                                            <!--<th style="width: 50px;" class="text-right no-sort sorting_disabled" aria-label="Chart">Concessson</th>-->
                                            <th style="width: 50px;" class="text-left no-sort sorting_disabled" aria-label="Chart"><i class="fa fa-bookmark"></i>&nbsp;{{"Status" | translate}}</th>
                                            <th style="width: 100px;" class="text-left no-sort sorting_disabled">{{"Action" | translate}}</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="info in filteredTodos"   ng-dblclick="callDet(info);">
                                            <td >
                                    <div class="checkbox check-success" style="height: 20px">
                                        <input ng-disabled="((info.std_fee_status==false && info.std_fee_Concession_status=='P') || info.std_fee_status && info.std_fee_Concession_status=='A' )" type="checkbox" name="check" value="1" id="{{info.std_fee_enroll_number}}" ng-click="check1(info);">
                                        <label for="{{info.std_fee_enroll_number}}"></label>
                                    </div>
                                </td>
                                            <td>
                                                <div class="text-default">
                                                    {{$index+((currentPage-1)*numPerPage)+1}}
                                                    
                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-default">{{info.std_fee_enroll_number}}</div>
                                               
                                            </td>
                                            <td>
                                                <div class="text-default" >{{info.std_fee_student_name}}</div>
                                            </td>
                                            <td>
                                                <span ng-class="{true: 'label label-important', false: 'label label-success'}[1=='1']"
                                                        style="vertical-align: middle;"><b>{{info.std_fee_Class}}</b></span>
                                                
                                            </td>
                                            <td>{{info.sims_fee_category_description}}</td>

                                           <td><div class="text-default" >{{info.std_fee_sibling_count}}</div></td>
                                           <td><div class="text-default" >{{info.std_fee_Sibling_Names}}</div></td>
                                           <td>
                                               <div class="text-default" > 
                                                   <div ng-if="info.std_fee_Concession_status=='P'">
                                                       <span class="label label-success" style="vertical-align: middle;"><b>{{"Approved" | translate}}</b></span>
                                                       
                                                   </div>
                                                    <div ng-if="info.std_fee_Concession_status=='A'">
                                                       <span class="label label-important" style="vertical-align: middle;"><b>{{"Not Approved" | translate}}</b></span>
                                                   </div>

                                               </div>
                                           </td>
                                           <td>
                                               <div class="text-default" >
                                               <div  ng-if="info.std_fee_status && info.std_fee_Concession_status=='A'" class="checkbox check-success" style="height: 20px">
                                                   <span  ng-click="delete_concession(info)" style="cursor: pointer"><i class="fa fa-trash"></i></span>
                                               </div>

                                               </div></td>
                                          
                                          
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col-sm-12"style="background-color:white;">
                        <div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                            ng-click="index(currentPage)">
                </paging>
                    </div>
                            </div>
                            </div>
                    </div>
                  </div>
                </div>
            </div>

                </div>
            </div>
        </div>
<script src="assets/js/calender-datepicker-id.js"></script>