﻿<div class="row">
    <div class="row" ng-show="notshow">
        <div class="col-xs-4">
            <div class="well form-group">
                <div class="form-group">
                    <label>Current Page:</label>
                    <input placeholder="page"
                           class="form-control"
                           ng-model="currentPage"
                           ng-init="currentPage = 1" />
                </div>
                <div class="form-group">
                    <label>Page Size:</label>
                    <input placeholder="Page Size"
                           class="form-control"
                           ng-model="numPerPage" />
                </div>
                <div class="form-group">
                    <label>Total Items:</label>
                    <input placeholder="Total"
                           class="form-control"
                           ng-model="pagersize" />
                </div>
                <hr />
                <div class="form-group">
                    <label>Dots Display:</label>
                    <input placeholder="..."
                           class="form-control"
                           maxlength="3"
                           ng-model="dots"
                           ng-init="dots = '...'" />
                </div>

                <hr />
                <div class="form-group">
                    <label>UL Class:</label>
                    <input placeholder="pagination"
                           class="form-control"
                           maxlength="100"
                           ng-model="ulClass" />
                </div>
                <div class="form-group">
                    <label>Active Class:</label>
                    <input placeholder="active"
                           class="form-control"
                           maxlength="100"
                           ng-model="activeClass"
                           ng-init="activeClass = 'active'" />
                </div>
                <div class="form-group">
                    <label>Disabled Class:</label>
                    <input placeholder="disabled"
                           class="form-control"
                           maxlength="100"
                           ng-model="disabledClass"
                           ng-init="disabledClass = 'disabled'" />
                </div>
                <br />
                <table class="table">

                    <tr>
                        <td>
                            <label>Show Prev Next:</label>
                        </td>
                        <td>
                            <input type="checkbox"
                                   ng-model="showPrevNext"
                                   ng-init="showPrevNext = true" />
                            {{showPrevNext}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Show First Last:</label>
                        </td>
                        <td>
                            <input type="checkbox"
                                   ng-model="showFirstLast"
                                   ng-init="showFirstLast = true" />
                            {{showPrevNext}}
                        </td>
                    </tr>
                </table>
                <hr />
                <span class="btn btn-default" onclick="location.reload()">
                    <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                </span>
                <span class="btn btn-success" ng-click="currentPage = 0">
                    Apply Settings
                </span>
                <br />
                <br />
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Student" |translate}}</span>&nbsp;{{"Fee Refund" | translate}}</h3>
            </div>
            <div>
            <div ng-hide="grid">
                <form name="MyForm" novalidate="novalidate">
                    <div class="row">
                     <div style="background-color: #4e8ff6; height: 36PX">
                                                <div class="col-md-6" style="padding-left: 02px; padding-top: 08px">
                                                    <span style="color: white"><b>{{"Student Name"|translate}}:</b>&nbsp;&nbsp; {{Student_Name}}</span>
                                                </div>
                                                <div class="col-md-3" style="padding-left: 02px; padding-top: 08px">
                                                    <span style="color: white"><b>{{"Enrollment No"|translate}}:</b>&nbsp;&nbsp;{{Student_Enroll}}</span>
                                                </div>
                                                <div class="col-md-3" style="padding-left: 02px; padding-top: 08px">
                                                    <span style="color: white"><b>{{"Class"|translate}}:</b>&nbsp;&nbsp; {{Student_Class}}</span>
                                                </div>
                                </div>
                        </div>
                    <div class="row">
                                                <div class="col-md-12">
                                                <table class="table table-bordered table-hover table-condensed" id="fixTable">
                                                    <thead>
                                                        <tr style="background-color: #edefef;height:20px">
                                                            <th class="semi-bold text-center">{{ "SR.NO" | translate}}</th>
                                                            <th class="semi-bold text-center" style="z-index: 1; vertical-align: middle">
                                                                <div class="checkbox check-success" style="height:20px">
                                                                    <input type="checkbox" name="check" value="1" id="mainchk" ng-click="MultipleSelectFee();" class="checkall">
                                                                    <label for="mainchk"></label>
                                                                </div>
                                                            </th>
                                                            <th class="semi-bold text-center">{{ "Fee Type" | translate}}</th>
                                                            <th class="semi-bold text-center">{{ "Fee Period" | translate}}</th>
                                                            <th class="semi-bold text-center">{{ "Paid Fees" | translate}}</th>
                                                            <th class="semi-bold text-center">{{ "Concession" | translate}}</th>
                                                            <th class="semi-bold text-center">{{ "Amount Paid" | translate}}</th>
                                                            <th class="semi-bold text-center">{{ "Refund Amount" | translate}}</th>
                                                            <th class="semi-bold text-center" style="width: 10%">{{ "Refunding Amount" | translate}}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                        <tr ng-repeat="info in GetStudentRefundFeeNumberDetails" style="height: 20px">
                                                            <td class="text-center">{{$index+1}}</td>
                                                            <td style="height: 20px" class="text-center">
                                                                <div class="checkbox check-success">
                                                                    <input type="checkbox" name="check" value="1" id="{{info.feeTypeGroup}}" ng-click="SelectOneByOneFee(info);" class="checkall">
                                                                    <label for="{{info.feeTypeGroup}}"></label>
                                                                </div>
                                                            </td>
                                                            <td class="text-center">{{info.std_fee_type}}</td>
                                                            <td class="text-center">{{info.std_fee_child_period}}</td>
                                                            <td class="text-right">
                                                                <span>{{info.std_fee_child_exp_amount}}   </span>
                                                            </td>
                                                            <td class="text-right">
                                                                <span >{{info.std_fee_concession_amount}}  </span>
                                                            </td>
                                                            <td class="text-right">
                                                                <span>{{info.std_fee_child_paid_amount}}  </span>
                                                            </td>
                                                            <td class="text-right">
                                                                <span>{{info.std_fee_child_paying_amount}}</span>
                                                            </td>
                                                            

                                                            <td>
                                                                <input style="text-align: right !important;" class="k-textbox input-sm full-width" ng-model="info.std_fee_child_paying_amount_temp" />
                                                            </td>
                                                            <!--<td ng-if="info.installment_mode==false">
                                                                <label style="text-align: right">{{info.std_fee_child_paying_amount_temp}}</label>
                                                            </td>-->
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            </div>
                                               <div class="row">
                                                <div class="col-md-12">
                                            <label style="color: red">*{{"For Installment Amount,first Enter The Amount Then Select Fee Type"|translate}}</label>
                                            <!--<div class="pull-right">
                                                <div class="checkbox check-success">
                                                    <input id="excess" type="checkbox" ng-model="temp.strExcess" value="1" ng-change="showtables();">
                                                    <label for="excess">&nbsp;&nbsp;&nbsp;{{"Fee Adjustment"| translate }}</label>
                                                </div>
                                            </div>-->
                                                    </div>
                                                </div>

                                <div class="col-md-12">
                                    <hr style="border-width: 1px; display: block; background-color: #4e8ff6; height: 03px" />
                                    <div class="row form-row">
                                        <div class="col-md-3">
                                            <label>{{"Receipt Date"|translate}}</label>
                                                    <!--<div class="input-append success  no-padding" data-datepicker="true" style="width: auto">-->
                                                        <input type="text" id="from_date" name="date_of_birth" class="k-textbox input-sm full-width" ng-model="payment_date" required />
                                                     <!--   <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                                    </div>-->
                                        </div>
                                        <div class="col-md-9" ng-hide="temp.strExcess">
                                            <div class="row">
                                                  <div class="col-md-4">
                                                    <label>{{"Refund Mode"|translate}}</label>
                                                    <select class="form-control input-sm full-width" ng-model="paymentmode" ng-change="SelectPayMentAgent(paymentmode)"
                                                            ng-options="mode.paymentMode as mode.paymentMode for mode in Get_SimsPayment_Mode">
                                                        <option selected disabled value="">Please Select</option>
                                                    </select>
                                                    </div>

                                                <!--<button class="btn btn-primary" style="width: 100px; height: 33px" ng-show="agent2" ng-click="AddSelectedPaymentmode()">Add</button>-->
                                                <div class="col-md-4" style="padding-left: 0px" ng-hide="agent2">
                                                    <label>{{"Agent Name"|translate}}</label>
                                                    <select id="Select3" class="form-control input-sm full-width" name="cmb_academic_year" ng-model="slma_ldgrctl_code">
                                                        <option value="" selected disabled>Please Select</option>
                                                        <option ng-repeat="agent1 in GetAgentList" value="{{agent1.slma_ldgrctl_code}}">
                                                            {{agent1.coad_pty_full_name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div ng-show="  ">
                                    <div class="row">
                                        <div class="col-md-12">
                                                <table class="table table-bordered table-hover table-condensed" id="fixTable1">
                                                    <thead>
                                                        <tr style="background-color: #edefef;height:20px">
                                                            <!--<th class="semi-bold" style=" width: 05%">&nbsp;</th>-->
                                                            <th style="vertical-align: middle">
                                                                <label class="semi-bold" style="width: 60px">{{ "Sr.No" | translate}}</label>
                                                            </th>
                                                            <th style="vertical-align: middle">
                                                                <label class="semi-bold" style="width: 120px">{{ "Payment Mode" | translate}}</label>
                                                            </th>
                                                            <th style="vertical-align: middle">
                                                                <label class="semi-bold" style="width: 250px">{{ "Cheque/DD NO/CC-NO/AG Tc-No" | translate}}</label>
                                                            </th>
                                                            <th style="vertical-align: middle">
                                                                <label class="semi-bold" style="width: 100px">{{ "Bank Name" | translate}}</label>
                                                            </th>
                                                            <th style="vertical-align: middle">
                                                                <label class="semi-bold" style="width: 150px">{{ "Cheque/DD Date" | translate}}</label>
                                                            </th>
                                                            <th style="vertical-align: middle">
                                                                <label class="semi-bold" style="width: 230px">{{ "Transaction ID/CC Auth-No" | translate}}</label>
                                                            </th>
                                                            <th style="vertical-align: middle">
                                                                <label class="semi-bold" style="width: 100px">{{ "Amount" | translate}}</label>
                                                            </th>
                                                            <th style="vertical-align: middle">
                                                                <label class="semi-bold" style="width: 130px">{{ "Check Amount" | translate}}</label>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                        <tr ng-repeat="info in SelectedPaymentModeObject" class="{{row2}}" style="height: 20px">
                                                            <!-- <td>
                                                                <button style="width: 47px" class="btn btn-white btn-small" ng-click="RemoveSelectedPaymentMode($event,$index,SelectedPaymentModeObject)"><b>X</b></button>
                                                            </td>-->
                                                            <td>{{$index+1}}</td>
                                                            <td>{{info.Payment_mode}}</td>
                                                            <td ng-if="info.Payment_mode=='Cash' ||info.Payment_mode=='Bank Transfer'">{{info.Cheque_NO}}</td>
                                                            <td ng-if="info.Payment_mode=='Cheque'||  info.Payment_mode=='Credit Card'||  info.Payment_mode=='Agent'|| info.Payment_mode=='Demand Draft'">
                                                                <input style="text-align: right;" class="k-textbox input-sm full-width" ng-model="info.Cheque_NO" ng-change="SetChequeNO_DD_No(info)" />
                                                            </td>
                                                            <td ng-if="info.Payment_mode=='Cash'">
                                                                <label>N/A</label>
                                                            </td>
                                                            <td ng-if="info.Payment_mode != 'Cash'">
                                                                <label ng-click="show=!show" style="width: 100px" ng-show="show">{{info.Bank_name}}</label>
                                                                <select id="Select2" class="form-control input-sm full-width" name="cmb_academic_year" ng-model="info.Bank_name" ng-change="show=!show" ng-hide="show">
                                                                    <option value="" selected disabled>Please Select</option>
                                                                    <option ng-repeat="bank in AllBankNames" value="{{bank.bank_name}}">
                                                                        {{bank.bank_name}}
                                                                    </option>
                                                                </select>

                                                            </td>
                                                            <td ng-if="info.Payment_mode != 'Cash'">
                                                                <input name="to_date"   class="k-textbox input-sm full-width" ng-model="info.Cheque_DD_Date" style="width: 140px" placeholder="dd-mm-yyyy" />
                                                            
                                                             </td>
                                                            <td ng-if="info.Payment_mode=='Cash'">
                                                                <label>N/A</label>
                                                            </td>
                                                            <td ng-if="info.Payment_mode=='Cheque'|| info.Payment_mode=='Cash'||info.Payment_mode=='Demand Draft'|| info.Payment_mode=='Agent' ">{{info.Transaction_id}}</td>
                                                            <td ng-if="info.Payment_mode=='Bank Transfer' || info.Payment_mode=='Credit Card'">
                                                                <input style="text-align: right;" class="k-textbox input-sm full-width" ng-model="info.Transaction_id" ng-change="SetTransactionId(info)" />
                                                            </td>
                                                            <td>
                                                                <label style="text-align: right">{{info.Amount}}</label>
                                                            </td>
                                                            <td>
                                                                <label style="text-align: right">{{info.Chk_amount}}</label>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                    </div>
                                </div>

                                <div class="col-md-12" ng-show="addfee">
                                    <hr style="border-width: 1px; display: block; background-color: #4e8ff6; height: 03px" />
                                    <label>{{"Refund Details"|translate}}</label>
                                    <div class="row form-row">
                                        <div class="col-md-12">

                                                <table class="table table-bordered table-hover table-condensed" id="Table1">
                                                    <thead>
                                                        <tr style="background-color: #edefef;height:20px">
                                                            <td>&nbsp;</td>
                                                            <td><label style="width: 60px" class="semi-bold">{{ "Sr.No" | translate}}</label></td>
                                                            <td><label style="width: 100px" class="semi-bold">{{ "Enrollment No" | translate}}      </label>   </td>
                                                            <td><label style="width: 120px" class="semi-bold">{{ "Fee Type" | translate}}       </label>   </td>
                                                            <td><label style="width: 120px" class="semi-bold">{{ "Payment Mode" | translate}}   </label>     </td>
                                                            <td><label style="width: 130px" class="semi-bold">{{ "Cheque/DD No" | translate}}   </label>     </td>
                                                            <td><label style="width: 130px" class="semi-bold">{{ "Paid Amount" | translate}}    </label>      </td>
                                                            <td><label style="width: 150px" class="semi-bold">{{ "Discount Amount" | translate}}</label>       </td>
                                                        </tr>
                                                    </thead>
                                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                        <tr ng-repeat="info in SelectedFeeObject" class="{{row3}}" style="height: 20px">
                                                            <td>
                                                                <button class="btn btn-white btn-small" ng-click="btn_Split_Click(info);" ng-disabled="info.disabled1">Split</button>
                                                            </td>
                                                            <td>{{$index+1}}</td>
                                                            <td>{{info.std_fee_enroll_number}}</td>
                                                            <td>{{info.std_fee_type}}</td>
                                                            <td>{{info.Payment_mode}}</td>
                                                            <td ng-if="info.Payment_mode=='Cash'">{{info.Cheque_NO}}</td>
                                                            <td ng-if="info.Payment_mode=='Cheque'|| info.Payment_mode=='Demand Draft'|| info.Payment_mode=='Credit Card'|| info.Payment_mode=='Agent'">
                                                                <input class="form-control input-sm" style="width: 130px; text-align: right" ng-model="info.Cheque_NO" />
                                                            </td>
                                                            <td ng-if="info.Payment_mode=='Bank Transfer'">
                                                                <input class="k-textbox input-sm full-width" style="text-align: right" ng-model="info.Transaction_id" />
                                                            </td>
                                                            <td>
                                                                <label style="text-align: right">{{info.std_fee_child_paying_amount_temp}}</label>
                                                            </td>
                                                            <td>
                                                                <label style="text-align: right">{{info.std_fee_other_paying_amount}}</label>
                                                            </td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <hr style="border-width: 1px; display: block; background-color: #4e8ff6; height: 03px" />
                                    <div class="row form-row">
                                        <!--<div class="col-md-3">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    
                                                </div>
                                                <div class="col-md-12"><label>{{"Other Fee"|translate}}</label>
                                                    <select id="cmb_std_fee_discount" class="form-control input-sm full-width" name="cmb_academic_year" ng-model="std_fee_discount_type">
                                                        <option value="" selected disabled>Please Select</option>
                                                        <option ng-repeat="otfee in GetDiscountFeeTypes" value="{{otfee.std_fee_discount_type}}">
                                                            {{otfee.std_fee_discount_type}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>-->

                                        <!--<div class="col-md-3">
                                                         <label>
                                                        &nbsp;
                                                    </label>
                                                        <input id="other_fee_amount" class="k-textbox input-sm full-width" style="text-align: right" ng-model="other_fee_amount" />
                                                    </div>

                                        <div class="col-md-2">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <label>&nbsp</label>
                                                </div>
                                                <div class="col-md-12">
                                                    <button class="btn btn-primary btn-small" ng-click="btn_otherFeeAdd_Click()">{{"Add"|translate}}</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <label>{{"Sub Total"|translate}}</label>
                                                </div>
                                                <div class="col-md-12">
                                                    <input class="k-textbox input-sm full-width" style="text-align: right" ng-model="other_fee_amount1" readonly />
                                                </div>
                                            </div>
                                        </div>-->
                                        <div class="col-md-2">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <label>{{"Grand Total"|translate}}</label>
                                                </div>
                                                <div class="col-md-12">
                                                    <input class="k-textbox input-sm full-width" style="text-align: right" ng-model="grand_total_amount" readonly />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12" ng-show="SelectedOtherfee">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <div style="width: 100%; height: 200px; overflow-x: auto; overflow-y: auto">
                                                        <table class="table table-bordered table-hover table-condensed" id="Table3">
                                                            <thead>
                                                                <tr style="background-color: #edefef">
                                                                    <th class="semi-bold" style="width: 05%">&nbsp;</th>
                                                                    <th class="semi-bold" style="width: 05%">{{ "Sr.No" | translate}}</th>
                                                                    <th class="semi-bold" style="width: 13%">{{ "Fee Type" | translate}}</th>
                                                                    <th class="semi-bold" style="width: 14%">{{ "Amount" | translate}}</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                                <tr ng-repeat="info in SelectedOtherfeeObject" class="{{row2}}">
                                                                    <td>
                                                                        <button style="width: 47px" class="btn btn-white btn-small" ng-click="RemoveSelectedOtherfeeObject($event,$index,SelectedOtherfeeObject,info)"><b>X</b></button>
                                                                    </td>
                                                                    <td>{{$index+1}}</td>
                                                                    <td>{{info.std_fee_type}}</td>
                                                                    <td>{{info.std_fee_child_paying_amount_temp}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                

                                <div class="col-md-12" ng-show="discounttable">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <div style="width: 100%; height: 200px; overflow-x: auto; overflow-y: auto">
                                                        <table class="table table-bordered table-hover table-condensed" id="Table5">
                                                            <thead>
                                                                <tr style="background-color: #edefef">
                                                                    <th class="semi-bold" style="width: 05%">&nbsp;</th>
                                                                    <th class="semi-bold" style="width: 05%">{{ "SR.NO" | translate}}</th>
                                                                    <th class="semi-bold" style="width: 13%">{{ "DISCOUNT TYPE" | translate}}</th>
                                                                    <th class="semi-bold" style="width: 14%">{{ "AMOUNT" | translate}} %</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                                <tr ng-repeat="info in SelectedDiscountfeeObject" class="{{row2}}">
                                                                    <td>
                                                                        <button style="width: 47px" class="btn btn-white btn-small" ng-click="RemoveSelectedDiscountfeeObject($event,$index,SelectedDiscountfeeObject,info)"><b>X</b></button>
                                                                    </td>
                                                                    <td>{{$index+1}}</td>
                                                                    <td>{{info.concession_type_desc}}</td>
                                                                    <td>
                                                                        <label style="text-align: right">{{info.Discount_amount_for_table}}</label>
                                                                    </td>

                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                          
                            <hr style="border-width: 1px; display: block; background-color: #4e8ff6; height: 03px" />
                       
                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-12">
                                    <div class="row form-row">
                                        <div class="col-md-6">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <label>{{"Remark"|translate}}</label>
                                                </div>
                                                <div class="col-md-12">
                                                    <input type="text" class="k-textbox input-sm full-width" ng-model="doc_narration" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <label>&nbsp</label>
                                                </div>
                                                <div class="col-md-12">
                                                    <button class="btn btn-primary btn-small" type="button" ng-click="btn_StudentRefund_Click();">{{"Submit"|translate}}</button>
                                                    <button class="btn btn-warning btn-small" ng-click="btn_Cancel_Click()">{{"Cancel"|translate}}</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <div class="row form-row">
                                                <div class="col-md-12">
                                                    <label style="color: red">**{{"Please Wait After Clicking The Submit Button Till Transaction Processed"|translate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                  
                </form>
            </div>


            <div ng-show="grid">

                <div class="raw ">
                 <div  class="paddingcode grid-body bluegrd ">        
                
                 <div class="col-md-12 ">
                        <div class="col-md-2" style="padding: 02px">
                            <label><i class="fa fa-book"></i>&nbsp;{{"Curriculum"|translate}}</label>
                                    <select id="cmb_School_Code" class="form-control input-sm full-width" name="user" ng-model="sims_cur_code" ng-change="getacyr()"
                                            ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in curriculum">
                                        <option value="" selected disabled>Please Select</option>
                                    </select>
                        </div>
                        <div class="col-md-2" style="padding: 02px">
                            <label><i class="fa fa-sort-amount-desc"></i>&nbsp;{{"Academic Year"|translate}}</label>
                                    <select id="cmb_academic_year" class="form-control input-sm full-width" ng-model="sims_academic_year" ng-change="getsections();"
                                            ng-options="year1.sims_academic_year as year1.sims_academic_year_desc for year1 in Academic_year">
                                        <option value="" selected disabled>Please Select</option>
                                    </select>
                        </div>
                        <div class="col-md-2" style="padding: 02px">
                            <label><i class="fa fa-sitemap"></i>&nbsp;{{"Grade"|translate}}</label>
                                    <select id="cmb_grade_code" class="form-control input-sm full-width" ng-model="sims_grade_code" ng-change="getsection();"
                                            ng-options="grade_cod.sims_grade_code as grade_cod.sims_grade_name for grade_cod in grade">
                                        <option value="" selected disabled>Please Select</option>
                                    </select>
                        </div>
                        <div class="col-md-2" style="padding: 02px">
                            <label><i class="fa fa-align-justify"></i>&nbsp;{{"Section"|translate}}</label>
                                    <select id="cmb_section_code" class="form-control input-sm full-width" ng-model="sims_section_name" ng-change="get();"
                                            ng-options="section_cod.sims_section_code as section_cod.sims_section_name for section_cod in section1">
                                        <option value="" selected disabled>Please Select</option>
                                    </select>
                        </div>

                        <div class="col-md-2" style="padding: 02px">
                            <label><i class="fa fa-search"></i>&nbsp;{{"Search By"|translate}}</label>
                                    <select id="Select1" class="form-control input-sm full-width" ng-model="search_by_code" "
                                        ng-options=" sear.search_by_code as sear.search_by_name for sear in search_by_data">
                                        <option value="" selected disabled>Please Select</option>
                                    </select>
                        </div>


                        <div class="col-md-1" style="padding: 02px">
                            <label>&nbsp</label>
                                    <input type="text" class="k-textbox input-sm full-width" ng-model="search_text" />
                                </div>
                         <div class="col-md-1" style="padding: 02px">
                              
                            <div class="rowbody" style="margin-top: 18px;">
                                
                                    <div class="pull-right">
                                        <label></label>
                                        <button type="button" class="btn btn-primary btn-small" style="text-align: center; vertical-align: middle" ng-click="Show_Data()">{{"Show"|translate}}</button>
                                    </div>
                                
                            </div>
                        </div>

                     </div>
                     </div>
                    </div>



                    <!--    <div class="col-md-6" style="padding: 02px">
                            <div class="row form-row">

                                <div class="col-md-12">
                                    <select id="Select7" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                        <option value="10" class="form-control input-sm">
                                            10
                                        </option>

                                        <option value="20" class="form-control input-sm">
                                            20
                                        </option>

                                        <option value="All" class="form-control input-sm">
                                            All
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5" style="padding-right: 0px">
                            <div class="row form-row" style="padding-right: 0px">
                                <div class="col-md-12" style="padding-right: 0px">
                                    <div class="pull-right">
                                        <div class="dataTables_filter" id="example_filter">
                                            <span class="k-textbox k-space-right full-width">
                                                <input type="text" aria-controls="example" placeholder="Student Name/Enrollment No" ng-model="searchText" class="k-textbox input-sm full-width" ng-change="search()">
                                            <a href="#" class="k-icon k-i-search">&nbsp;</a></span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                       
                     
                </div>

                <div ng-show="busyindicator">

                    <div class="col-md-12">
                        <div class="row form-row">
                            <div class="col-md-12">
                                <div class="col-md-5">
                                    &nbsp;
                                </div>
                                <div class="col-md-5">
                                    <div class="row">
                                        <img src="assets/images/loading.gif" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div  ng-show="maintable">

                     <div class="raw">

             <div  class="paddingcode grid-body no-border">
                     
                 <div class="col-md-12 ">
                      <div class="col-md-6" style="padding: 02px">
                            <div class="row form-row">

                                <div class="col-md-12">
                                    <select id="Select5" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                        <option value="10" class="form-control input-sm">
                                            10
                                        </option>

                                        <option value="20" class="form-control input-sm">
                                            20
                                        </option>

                                        <option value="All" class="form-control input-sm">
                                            All
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5" style="padding-right: 0px">
                            <div class="row form-row" style="padding-right: 0px">
                                <div class="col-md-12" style="padding-right: 0px">
                                    <div class="pull-right">
                                        <div class="dataTables_filter" id="Div1">
                                            <span class="k-textbox k-space-right full-width">
                                                <input type="text" aria-controls="example" placeholder="Student Name/Enrollment No" ng-model="searchText" class="k-textbox input-sm full-width" ng-change="search()">
                                            <a href="#" class="k-icon k-i-search">&nbsp;</a></span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    <div class="row form-row">
                        <div id="example_wrapper" class="dataTables_wrapper form-inline">
                            <div class="row">
                                <div class="col-md-12">
                                <table class="table table-bordered table-hover table-condensed" id="Table2">
                                    <thead>
                                        <tr>
                                            <th class="semi-bold" style="vertical-align: middle">
                                                <label class="semi-bold"></label>
                                            </th>
                                              <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                                <label><b><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class=" fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;<i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Enrollment No"| translate }}</a></b></label>
                                            </th>
                                            <!--<th style="vertical-align: middle">
                                                <label><b>{{"Enroll No"|translate}}</b></label>
                                            </th>-->
                                            <th style="vertical-align: middle">
                                                <label> <i class="fa fa-align-justify"></i>&nbsp;<b>{{"Name"|translate}}</b></label>
                                            </th>
                                            <!--<th style="vertical-align: middle">
                                                            <label class="semi-bold" style="width: 150px">{{"ATTENDANCE IN"|translate}} %</label></th>-->
                                            <th style="vertical-align: middle">
                                                <label><i class="fa fa-align-justify"></i>&nbsp; <b>{{"Parent Name"|translate}}</b></label>
                                            </th>
                                            <th style="vertical-align: middle">
                                                <label><i class="fa fa-money"></i>&nbsp;<b>{{"Amount"|translate}}</b></label>
                                            </th>
                                            <th style="vertical-align: middle">
                                                <label><i class="fa fa-money"></i>&nbsp;<b>{{"Total Paid"|translate}}</b></label>
                                            </th>
                                            <th style="vertical-align: middle">
                                                <label><i class="fa fa-money"></i>&nbsp;<b>{{"Balance Fee"|translate}}</b></label>
                                            </th>
                                            <th style="vertical-align: middle">
                                                <label><i class="fa fa-calendar"></i>&nbsp;<b>{{"Last Payment Data"|translate}}</b></label>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                            <tr ng-repeat="info in filteredTodos | orderBy:orderByField:reverseSort" ng-class="row1">
                                            <td>
                                                <button class="btn btn-warning btn-small" ng-click="GetStudentFeeForRefund(info)">{{"Refund "|translate}}</button>
                                            </td>
                                            <td><label ng-style="{'color':info.color}">{{info.std_fee_enroll_number}}     </label> </td>
                                            <td><label ng-style="{'color':info.color}">{{info.std_fee_student_name}}      </label> </td>
                                            <td><label ng-style="{'color':info.color}">{{info.std_fee_parent_name}}       </label> </td>
                                            <td><label ng-style="{'color':info.color}">{{info.std_fee_amount}}            </label> </td>
                                            <td><label ng-style="{'color':info.color}">{{info.std_TotalPaid}}             </label> </td>
                                            <td><label ng-style="{'color':info.color}">{{info.std_BalanceFee}}            </label> </td>
                                            <td><label ng-style="{'color':info.color}">{{info.std_fee_last_payment_date}} </label> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                                </div>
                          <div class="row">
                                <div class="col-md-12">
                                    <span style="height:08px;width:12px;background-color:#F6081A">&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;<b style="color:#000">Cancelled Student</b>
                                    <div class="pull-right">
                            <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                    scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                    paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                    ng-click="index(currentPage)">
                            </paging>
                            
                            </div>
                                    </div>
                              </div>
                        </div>

                    </div>
                     </div>
                 </div>
                         </div>
                </div>

            </div>
        </div>
        </div>
        </div>
    </div>


<script src="assets/js/tableHeadFixer.js"></script>

<div class="modal fade" id="MyModal" role="dialog" style="display: none">
    <div class="modal-dialog" style="height: auto; width: 1200px; border-color: #4e8ff6; border-style: solid; border-width: 04px; padding-bottom: -15px; border-top-left-radius: 14px; border-top-right-radius: 14px; border-bottom-left-radius: 08px; border-bottom-right-radius: 08px">
        <div class="modal-content">
            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px"><b>{{"Cash Payment"|translate}}</b></h4>
                </div>
                <div class="pull-right">
                    <a href="">
                        <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>
                    </a>
                </div>
            </div>
            <div style="background-color: #4e8ff6; height: 20px"></div>
            <div class="grid simple">
                <div class="grid-body no-border" style="margin-bottom: -22px">
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-3">
                                    <div class="row form-row">

                                        <div class="col-md-12">
                                            <div class="row form-row">
                                                <label>{{"Fee Type"|translate}}:&nbsp;&nbsp;<span class="semi-bold">{{edt.std_fee_type}}</span></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <div class="row form-row">
                                                <label>{{"Amount"|translate}}:&nbsp;&nbsp; <span class="semi-bold">{{edt1.std_fee_child_paying_amount_temp1}}</span></label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <div class="row form-row">
                                                <label>{{"Amount In Cash"|translate}}:&nbsp;&nbsp;<input class="k-textbox input-sm" id="txtmobile" ng-model="edt1.std_fee_child_paying_amount_temp2" /></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <div class="row form-row">
                                                <button class="btn btn-white btn-small" ng-click="btn_AddnewPaymentdetails_Click()">{{"Add New Payment Details"|translate}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="busy">
                            <div class="col-md-12">
                                <div class="row form-row">
                                    <div class="col-md-5">
                                    </div>
                                    <div class="col-md-2">
                                        <img src="assets/images/loading.gif" />
                                    </div>
                                    <div class="col-md-5">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <br />
                            <div class="row form-row">
                                <div id="Div3" class="dataTables_wrapper form-inline">
                                    <div style="width: 100%; height: 238px; overflow-x: auto; overflow-y: auto; z-index: -1">
                                        <table class="table table-bordered table-condensed" id="Table4">
                                            <thead>
                                                <tr>
                                                    <th class="semi-bold" style="text-align: left">{{"Sr.No"|translate}}</th>
                                                    <th class="semi-bold" style="text-align: left">{{"Enrollment No"|translate}}</th>
                                                    <th class="semi-bold" style="text-align: left">{{"Payment Mode"|translate}}</th>
                                                    <th class="semi-bold" style="text-align: left">{{"Cheque/DD/Transaction No"|translate}}</th>
                                                    <th class="semi-bold" style="text-align: left">{{"Bank Name"|translate}}</th>
                                                    <th class="semi-bold" style="text-align: left">{{"Fees Paying"|translate}}</th>
                                                    <th class="semi-bold" style="text-align: left">{{"Action"|translate}}</th>

                                                </tr>
                                            </thead>
                                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                <tr ng-repeat="info in AddnewPaymentdetails">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{info.std_fee_enroll_number}}</td>
                                                    <td>
                                                        <select class="form-control input-sm full-width" ng-model="info.payment_mode"
                                                                ng-options="mode.paymentMode as mode.paymentMode for mode in Get_SimsPayment_Mode">
                                                            <option selected disabled value="">Please Select</option>
                                                        </select>

                                                    </td>
                                                    <td>
                                                        <label ng-show="info.payment_mode ==='Cash'">N/A</label>
                                                        <input class="k-textbox input-sm full-width" ng-show="info.payment_mode !='Cash'" ng-model="info.Cheque_NO" />
                                                    </td>
                                                    <td>

                                                        <label ng-show="info.payment_mode ==='Cash'">N/A</label>
                                                        <select id="Select4" class="form-control input-sm full-width" name="cmb_academic_year" ng-model="info.Bank_name" ng-show="info.payment_mode !='Cash'">
                                                            <option value="" selected disabled>Please Select</option>
                                                            <option ng-repeat="bank in AllBankNames" value="{{bank.bank_name}}">
                                                                {{bank.bank_name}}
                                                            </option>
                                                        </select>
                                                    </td>
                                                    <td>{{info.std_fee_child_paying_amount_temp3}}</td>
                                                    <td>
                                                        <button class="btn btn-white btn-small" ng-click="RemoveSelectedPaymentMode_new($event,$index,AddnewPaymentdetails)"><b>X</b></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border-bottom-left-radius: 08px !important; border-bottom-right-radius: 08px !important">
                <button class="btn btn-primary btn-small" data-dismiss="modal" type="button" ng-click="btn_AddnewPaymentdetails_update_Click()">{{"Update"|translate}}</button>
                <button class="btn btn-success btn-small" data-dismiss="modal" type="button" ng-click="btn_AddnewPaymentdetails_Ok_Click()">{{"Cancel"|translate}}</button>
            </div>
        </div>

    </div>
</div>
<script src="assets/plugins/fileSaver.js"></script>
<script src="https://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.12/xlsx.core.min.js"></script>

<script src="assets/js/calender-datepicker-id.js"></script>
