﻿<style>
    .ms-choice {
        height: 26px;
    }
</style>
<div class="row">
    <div class="raw">

        <div class="paddingcode grid-body bluegrd ">

            <div class="col-md-12 ">

                <div class="col-md-1">
                    <label id="Label" for="txt_Nationality_Code" class="form-label">{{"Curriculum"|translate}}<span style="color:red">*</span></label>
                    <select id="cur_box" data-role="dropdownlist" class="form-control input-sm full-width"
                            ng-model="temp.sims_cur_code" ng-selected="" name="sims_cur_code" ng-change="getAccYear(temp.sims_cur_code)"
                            ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in cur_data" required></select>
                </div>

                <div class="col-md-2">
                    <label id="Label" for="txt_Nationality_Code" class="form-label">{{"Academic Year"|translate}}<span style="color:red">*</span></label>
                    <select id="acad_box" data-role="dropdownlist" class="form-control input-sm full-width" ng-change="getGrade(temp.sims_cur_code,temp.sims_academic_year)"
                            ng-model="temp.sims_academic_year" ng-selected="" name="sims_academic_year"
                            ng-options="cur.sims_academic_year as cur.sims_academic_year_desc for cur in acad_data" required></select>
                </div>

                <div class="col-md-1">
                    <label id="Label" for="txt_Nationality_Code" class="form-label">{{"Select User"|translate}}<span style="color:red">*</span></label>
                    <select id="user_box" data-role="dropdownlist" class="form-control input-sm full-width"
                            ng-model="temp.parent_flag" ng-selected="" name="code"
                            ng-options="cur.code as cur.desc for cur in satus" required></select>
                </div>

                <div class="col-md-2">
                    <label class="ng-binding">{{"Till Date"|translate}} </label>
                    <!--<div class="input-append success  no-padding" data-datepicker="true" style="width: auto">-->
                    <span class="k-widget k-datepicker k-header k-textbox input-sm full-width k-input" style="width: 100%;">
                        <span class="k-picker-wrap k-state-default">
                            <input type="text" id="from_date" name="start_date"
                                   class="k-textbox input-sm full-width k-input ng-pristine ng-valid ng-touched" ng-model="from_date "
                                   ng-change="" data-role="datepicker" role="combobox" aria-expanded="false" peaceholer="Select Date"
                                   aria-owns="start_date_dateview" aria-disabled="false" aria-readonly="false" style="width: 100%;"
                                   aria-activedescendant="8a8a008b-1b3c-42a7-be94-431c355f22e6_cell_selected">
                            <span unselectable="on" class="k-select" role="button" aria-controls="start_date_dateview">
                                <span unselectable="on" class="k-icon k-i-calendar">select</span>
                            </span>
                        </span>
                    </span>
                    <!-- <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                    </div>  -->
                </div>

                <div class="col-md-2">
                    <div class="pull-right">
                        <label id="other_fee" for="txt_full_name" class="form-label">{{"Include Other Fee"| translate }}</label>
                        <div class="checkbox check-success">
                            <input id="chk_term" type="checkbox" value="true" ng-model="temp.other_fee_flag">
                            <label for="chk_term"></label>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="pull-right">
                        <label id="cumfeeflag" for="txt_full_name" class="form-label">{{"View Cumulative"| translate }}</label>
                        <div class="checkbox check-success">
                            <input id="chk_term1" type="checkbox" value="true" ng-model="temp.cumfeeflag">
                            <label for="chk_term1"></label>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="pull-right">
                        <label>&nbsp;</label>
                        <button type="button" class="btn btn-primary btn-cons" ng-click="getdetail1()">{{"Submit"|translate}}</button>
                        <!--<button class="btn btn-rounded btn-warning btn-cons" type="button" ng-click="reset_data()"><i class="icon-ok"></i>{{"Reset"|translate}}</button>
                        <button type="button" class="btn btn-primary btn-cons" ng-click="exportData()">{{"Excel"|translate}}</button>
                        <button type="button" class="btn btn-primary btn-cons" ng-click="print()">{{"Print"|translate}}</button>-->
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>


<div class="raw">
    <div class="paddingcode grid-body no-border" style="background-color:white">
        <div class="col-md-12">

            <div class="col-md-2" ng-if="!colsvis">
                <select id="Select1" style="width: 65px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                    <option value="50" class="form-control input-sm">
                        50
                    </option>

                    <option value="100" class="form-control input-sm">
                        100
                    </option>

                    <option value="All" class="form-control input-sm">
                        All
                    </option>
                </select>
            </div>

            <div class="col-md-8">
                <span style="float:left">
                    <b>Curriculum : </b>
                </span>
                <span style="float:left">
                    {{cur}}<span></span> &nbsp;
                </span>

                <span style="float:left">
                    <b>Academic  Year : </b>
                </span>
                <span style="float:left">
                    {{acad}}  <span ng-hide="$last"></span> &nbsp;
                </span>

                <span style="float:left">
                    <b>Selected User : </b>
                </span>
                <span style="float:left">
                    {{user}}  <span ng-hide="$last"></span> &nbsp;
                </span>


                <span style="float:left">
                    <b>Date : </b>
                </span>
                <span style="float:left">
                    {{date}}
                </span> <span> </span>
                <span style="float:left">
                    &nbsp;<b> Total Records : </b>
                </span>
                <span style="float:left">
                    {{total_length}}
                </span>
            </div>

            <div class="col-md-2">
                <div class="pull-right">
                    <span class="k-textbox k-space-right">
                        <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                        <a href="#" class="k-icon k-i-search">&nbsp;</a>
                    </span>
                </div>
            </div>
        </div>
        <div id="rpt_data1">
            <div class="col-md-12" ng-if="colsvis">
                <div class="center">
                    <div class="row">
                        <div>
                            <h4>
                                {{user_details.lic_school_name}}
                            </h4>
                            <h5>
                                <b>Student Family Statement</b>

                            </h5>
                        </div>

                    </div>

                </div>

            </div>

            <div class="row" ng-show="busy">
                <div class="col-md-12">
                    <div class="row form-row">
                        <div class="col-md-5">
                        </div>
                        <div class="col-md-2">
                            <img src="assets/theme/img/loading.gif" />
                        </div>
                        <div class="col-md-5">
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-body no-border">
                <div class="row margin-top">
                    <div class="row margin-top">
                        <div class="col-md-12" style="overflow-x:auto">
                            <div ng-show="student_analysis">
                                <table class="table table-striped table-flip-scroll cf">
                                    <thead ng-if="!colsvis">
                                        <tr style="" background-color #edefef">
                                            <th><b>{{"Sr No"|translate}}</b></th>
                                            <th ng-click="sortBy('sims_enroll_number')"><b>{{"Enroll No"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_enroll_number'" ng-class="{reverse: reverse}"></span></th>
                                            <th ng-click="sortBy('student_name')"><b>{{"Name"|translate}}</b><span class="sortorder" ng-show="propertyName === 'student_name'" ng-class="{reverse: reverse}"></span></th>
                                            <th ng-click="sortBy('class_name')"><b>{{"Class"|translate}}</b><span class="sortorder" ng-show="propertyName === 'class_name'" ng-class="{reverse: reverse}"></span></th>
                                            <th ng-click="sortBy('family_id')"><b>{{"Family Id"|translate}}</b><span class="sortorder" ng-show="propertyName === 'family_id'" ng-class="{reverse: reverse}"></span></th>
                                            <th ng-click="sortBy('father_name')"><b>{{"Father Name"|translate}}</b><span class="sortorder" ng-show="propertyName === 'father_name'" ng-class="{reverse: reverse}"></span></th>
                                            <th ng-click="sortBy('sims_parent_father_mobile')"><b>{{"Father Contact"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_parent_father_mobile'" ng-class="{reverse: reverse}"></span></th>
                                            <th ng-click="sortBy('mother_name')"><b>{{"Mother Name "|translate}}</b><span class="sortorder" ng-show="propertyName === 'mother_name'" ng-class="{reverse: reverse}"></span></th>
                                            <th ng-click="sortBy('sims_parent_mother_mobile')"><b>{{"Mother Contact"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_parent_mother_mobile'" ng-class="{reverse: reverse}"></span></th>

                                        </tr>
                                    </thead>


                                    <thead ng-if="colsvis">

                                        <tr style="background-color:#edefef">
                                            <th style="text-align:left"><b>{{"Sr No"|translate}}</b></th>
                                            <th style="text-align:left"><b>{{"Enroll No"|translate}}</b></th>
                                            <th style="text-align:left"><b>{{"Name"|translate}}</b></th>
                                            <th style="text-align:left"><b>{{"Class"|translate}}</b></th>
                                            <th style="text-align:left"><b>{{"Family Id"|translate}}</b></th>
                                            <th style="text-align:left"><b>{{"Father Name"|translate}}</b></th>
                                            <th style="text-align:left"><b>{{"Father Contact"|translate}}</b></th>
                                            <th style="text-align:left"><b>{{"Mother Name"|translate}}</b></th>
                                            <th style="text-align:left"><b>{{"Mother Contact"|translate}}</b></th>


                                        </tr>
                                    </thead>
                                    <tbody align="center">
                                        <tr ng-repeat="r in filteredTodos | orderBy:propertyName:reverse|filter:searchText" ng-click="Report_call(r)">
                                            <td style="text-align:left">{{$index+1}}</td>
                                            <td style="text-align:left">{{r.sims_enroll_number}}</td>
                                            <td style="text-align:left">{{r.student_name}}</td>
                                            <td style="text-align:left">{{r.class_name}}</td>
                                            <td style="text-align:left">{{r.family_id}}</td>
                                            <td style="text-align:left">{{r.father_name}}</td>
                                            <td style="text-align:left">{{r.sims_parent_father_mobile}}</td>
                                            <td style="text-align:left">{{r.mother_name}}</td>
                                            <td style="text-align:left">{{r.sims_parent_mother_mobile}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div ng-show="family_analysis">
                                <table class="table table-striped table-flip-scroll cf">
                                    <thead ng-if="!colsvis">
                                        <tr style="" background-color #edefef">
                                            <th><b>{{"Sr No"|translate}}</b></th>
                                            <th ng-click="sortBy('family_id')"><b>{{"Family Id"|translate}}</b><span class="sortorder" ng-show="propertyName === 'family_id'" ng-class="{reverse: reverse}"></span></th>
                                            <th ng-click="sortBy('father_name')"><b>{{"Father Name"|translate}}</b><span class="sortorder" ng-show="propertyName === 'father_name'" ng-class="{reverse: reverse}"></span></th>
                                            <th ng-click="sortBy('sims_parent_father_mobile')"><b>{{"Father Contact"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_parent_father_mobile'" ng-class="{reverse: reverse}"></span></th>
                                            <th ng-click="sortBy('mother_name')"><b>{{"Mother Name "|translate}}</b><span class="sortorder" ng-show="propertyName === 'mother_name'" ng-class="{reverse: reverse}"></span></th>
                                            <th ng-click="sortBy('sims_parent_mother_mobile')"><b>{{"Mother Contact"|translate}}</b><span class="sortorder" ng-show="propertyName === 'sims_parent_mother_mobile'" ng-class="{reverse: reverse}"></span></th>

                                        </tr>
                                    </thead>


                                    <thead ng-if="colsvis">
                                        <tr style="background-color:#edefef">
                                            <th style="text-align:left"><b>{{"Sr No"|translate}}</b></th>
                                            <th style="text-align:left"><b>{{"Family Id"|translate}}</b></th>
                                            <th style="text-align:left"><b>{{"Father Name"|translate}}</b></th>
                                            <th style="text-align:left"><b>{{"Father Contact"|translate}}</b></th>
                                            <th style="text-align:left"><b>{{"Mother Name"|translate}}</b></th>
                                            <th style="text-align:left"><b>{{"Mother Contact"|translate}}</b></th>
                                        </tr>
                                    </thead>
                                    <tbody align="center">
                                        <tr ng-repeat="r in filteredTodos | orderBy:propertyName:reverse|filter:searchText" ng-click="Report_call(r)">
                                            <td style="text-align:left">{{$index+1}}</td>
                                            <td style="text-align:left">{{r.family_id}}</td>
                                            <td style="text-align:left">{{r.father_name}}</td>
                                            <td style="text-align:left">{{r.sims_parent_father_mobile}}</td>
                                            <td style="text-align:left">{{r.mother_name}}</td>
                                            <td style="text-align:left">{{r.sims_parent_mother_mobile}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                    <div class="row" ng-show="pager">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade in" id="feemodal" role="dialog" style="display: none;">
    <div class="modal-dialog" style="width: 1024px; border: solid; border-width: 02px; border-bottom-left-radius: 05px; border-bottom-right-radius: 05px; border-top-left-radius: 05px; border-top-right-radius: 05px; border-color: blue">
        <div class="modal-content">
            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px;font-weight:600">Student/Family Statement<b></b></h4>
                </div>
                <div class="pull-right">
                    <a href="">
                        <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>
                    </a>
                </div>

            </div>
            <div class="col-md-12" ng-hide="report_show">
                <div class="row report_holder">
                    <div id="reportViewer1">
                        loading...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .displayerror {
        left: 30%;
        font-size: 20px;
        width: 40%;
        color: black;
        text-align: center;
        position: relative;
    }

    .radio, .checkbox {
        margin-bottom: 0;
        margin-top: 15px;
        padding-left: 10px;
    }

    .form-label1 {
        margin-top: 2px;
        margin-left: 7px;
    }
</style>

<style>
    #reportViewer1 {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 5px;
        overflow: hidden;
        font-family: Verdana, Arial;
    }

    .cr {
        cursor: pointer;
    }

    .report_holder {
        height: 500px;
        position: relative;
    }
</style>
<!--<style>
    .btn {
        line-height: 0px !important;
    }
</style>-->


<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/plugins/fileSaver.js"></script>
<script src="assets/js/jszip.js"></script>
<script src="assets/js/xlsx.js"></script>
<script src="assets/js/xlsx-reader.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>
<script src="assets/js/moment.js"></script>

