﻿<style>
    .k-textbox .k-icon {
    top: 50%;
    margin: -9px -9px 0;
    position: absolute;
}
    .k-input {
    padding: 0em;
    margin-top:0px;
}
    .form-actions {    padding: 7px 20px 7px;}
    .grid.simple .form-actions {
    margin-right: -10px !important;
    margin-left: -10px !important;
    }
       .sortorder:after {
        content: '\25b2';
    }

    .sortorder.reverse:after {
        content: '\25bc';
    }
    .ms-choice {
        height:26px;
    }

</style>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Fee Concession"|translate}}</span> {{"Transaction"|translate}}</h3>
            </div>
            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">

                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="grid-body no-border table_padding">
                <!--Table/Grid-->
                <div ng-show="table">
                    <div class="row form-row">
                        <div class="col-md-6">
                            <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                <option value="10" class="form-control input-sm">
                                    10
                                </option>

                                <option value="20" class="form-control input-sm">
                                    20
                                </option>

                                <option value="All" class="form-control input-sm">
                                    All
                                </option>
                            </select>
                            &nbsp;
                            <button class="btn btn-success btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"|translate}}</button>
                            &nbsp;
                            <button class="btn btn-danger btn-small" type="button" ng-click="Delete()"><span class="semi-bold"></span>{{"Delete"|translate}}</button>
                             &nbsp;
                             <button class="btn btn-success btn-small" type="button" ng-click="Sibling()" ><span class="semi-bold">+&nbsp;</span>{{"Sibling Concession"|translate}}</button>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <div class="dataTables_filter" id="example_filter">
                                    <span class="k-textbox k-space-right full-width">
                                        <input type="text" aria-controls="example" placeholder="Enroll No/Student Name" ng-model="searchText" class="k-textbox input-sm full-width" ng-change="search()">
                                        <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="example_wrapper" class="dataTables_wrapper form-inline" ng-show="display">
                        <div class="row">
                            <div class="col-md-12" style="margin-top:-17px">
                                <table class="table  table-bordered  table-hover table-condensed" id="fixTable" aria-describedby="example2_info">
                                    <thead style="background-color: white">
                                        <tr>
                                            <th class="semi-bold">&nbsp</th>
                                            <th class="small-cell v-align-middle" style="height: 15px;z-index:1">
                                                <div class="checkbox check-success" style="height: 15px">
                                                    <input type="checkbox" name="check" value="1" id="mainchk" ng-click="checkAll();">
                                                    <label for="mainchk"></label>
                                                </div>
                                            </th>

                                            <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                                <a href="">
                                                    <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class=" fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort">
                                                        <i class="fa fa-caret-down"></i>
                                                    </span>&nbsp;{{"Curriculum"|translate}}
                                                </a>
                                            </th>
                                            <th><i class="fa fa-calendar"></i>  {{"Year"|translate}}</th>
                                            <!--<th><i class="fa fa-sort-numeric-asc"></i>  {{"Transaction No"|translate}}</th>-->
                                            <th ng-click="sortBy('sims_enroll_number')"><i class="fa fa-sort-numeric-asc"></i>{{"Enroll No"| translate }}
                                     <span class="sortorder" ng-show="propertyName === 'sims_enroll_number'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                            <th ng-click="sortBy('student_full_name_en')"><i class="fa fa-user"></i>{{"Name"| translate }}
                                     <span class="sortorder" ng-show="propertyName === 'student_full_name_en'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                            <!--<th><i class="fa fa-sort-numeric-asc"></i>  {{"Enroll No"|translate}}</th>
                                            <th><i class="fa fa-user"></i>  {{"Name"|translate}}</th>-->
                                            <!--<th><i class="fa fa-user"></i>  {{"Parent Id Name"|translate}}</th>-->
                                              <th ng-click="sortBy('sims_parent_number')"><i class="fa fa-user"></i>{{"Parent Id Name"| translate }}
                                     <span class="sortorder" ng-show="propertyName === 'sims_parent_number'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                            <!--<th><i class="fa fa-sort-numeric-asc"></i>  {{"Parent Staff Id"|translate}}</th>-->
                                             <th ng-click="sortBy('sims_student_employee_comp_code')"><i class="fa fa-user"></i>{{"Parent Staff Id"| translate }}
                                     <span class="sortorder" ng-show="propertyName === 'sims_student_employee_comp_code'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                            <!--<th><i class="fa fa-bookmark-o"></i>  {{"Concession Type"|translate}}</th>-->
                                            <th ng-click="sortBy('sims_concession_description')"><i class="fa fa-user"></i>{{"Concession Type"| translate }}
                                     <span class="sortorder" ng-show="propertyName === 'sims_concession_description'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                            <th><i class="fa fa-bookmark"></i>  {{"Status"|translate}}</th>
                                            <th style="vertical-align: middle; text-align: center; width: 05%"><i class="fa fa-cogs"></i></th>

                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="info in filteredTodos | orderBy:propertyName:reverse">
                                            <td class="text-center"><i class="{{info.icon}}" ng-click="expand(info, $event);"></i></td>
                                            <td>
                                                <div class="checkbox check-success" style="height: 20px">
                                                    <input type="checkbox" name="check" value="1" id="{{info.sims_transaction_number}}" ng-click="checkAny()" />
                                                    <label for="{{info.sims_transaction_number}}"></label>
                                                </div>
                                            </td>
                                            <td>{{info.sims_cur_short}}</td>
                                            <td>{{info.sims_fee_academic_year_desc}}</td>
                                            <!--<td>{{info.sims_transaction_number}}</td>-->
                                            <td>{{info.sims_enroll_number}}</td>
                                            <td>{{info.student_full_name_en}}</td>
                                            <td>{{info.sims_parent_number}}-{{info.parent_name}}</td>
                                            <td>
                                                <span ng-if="info.sims_student_employee_comp_code_flag==true">{{info.sims_student_employee_comp_code}}</span>
                                                <span ng-if="info.sims_student_employee_comp_code_flag==false">N/A</span>
                                            </td>
                                            <td>{{info.sims_concession_description}}</td>
                                            <td class="v-align-middle">
                                                <span ng-if="info.sims_status1=='Active'" class="label label-success">{{"Active"|translate}}</span>
                                                <span ng-if="info.sims_status1=='Approved'" class="label label-success">{{"Approved"|translate}}</span>
                                                <span ng-if="info.sims_status1=='InActive'" class="label label-important">{{"In active"|translate}}</span>
                                                <span ng-if="info.sims_status1=='Cancelled'" class="label label-important">{{"Cancelled"|translate}}</span>
                                            </td>
                                            <td><a href=""><i class="fa fa-edit" ng-click="edit(info)"></i></a></td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                        <div class="row" ng-show="pager">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <div ng-show="display">
                                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                                ng-click="index(currentPage)">
                                        </paging>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="operation" class="paddingcode">
                    <form name="tenantForm" ng-submit="SaveData(tenantForm.$valid)" novalidate="novalidate">
                        <div class="row">
                            <div class="row">
                                <!--<div class="col-md-3">
                                    <label id="Label2" for="txt_Nationality_Code" class="form-label"><i class="fa fa-sort-numeric-asc"></i>  {{"Transaction Number"|translate}}</label>
                                    <input type="text" class="k-textbox input-sm full-width" id="Text3" ng-readonly="readonly" required ng-model="temp.sims_transaction_number" />
                                </div>-->
                                <div class="col-md-2">
                                    <label id="Label3" for="txt_Country_Code" class="form-label"><i class="fa fa-book"></i>  {{"Curriculum"|translate}} <span class="asterisk" style="color: red">*</span></label>

                                    <select id="sims_cur_short_name" name="sims_cur_short_name" ng-change="getAcadm_yr(temp.sims_cur_short_name)" class="form-control input-sm full-width" ng-model="temp.sims_cur_short_name" required
                                            ng-options="cur.sims_cur_code as cur.sims_cur_short_name for cur in Cur_Names">
                                        <option value="" selected disabled>Please select</option>
                                    </select>

                                    <p style="color:red" class="help-block" ng-show="tenantForm.sims_cur_short_name.$error.required && tenantForm.$submitted">
                                        This field is required
                                    </p>
                                </div>
                                <div class="col-md-2">
                                    <label id="Label6" for="txt_Country_Code" class="form-label"><i class="fa fa-calendar"></i>  {{"Acad. Yr"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                    <select id="sims_fee_academic_year" name="sims_fee_academic_year" ng-model="temp.sims_fee_academic_year" required class="form-control input-sm full-width" ng-change="getconcession_description(temp.sims_fee_academic_year)"
                                            ng-options="ac_yr.sims_academic_year as ac_yr.sims_academic_year_description for ac_yr in Acdm_year">
                                        <option value="" selected disabled>Please select</option>
                                    </select>
                                    <p style="color:red" class="help-block" ng-show="tenantForm.sims_fee_academic_year.$error.required && tenantForm.$submitted">
                                        This field is required
                                    </p>
                                </div>

                                
                                   
                                <div class="col-md-2">
                                    <label id="Label8" for="txt_full_name" class="form-label"><i class="fa fa-bookmark"></i>  {{"Concession Type"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                    <select id="sims_concession_number" name="sims_concession_number" ng-model="temp.sims_concession_number" required class="form-control input-sm full-width"
                                            ng-change="selectConcession(temp.sims_concession_number)" ng-options="con_num.sims_concession_number as  con_num.sims_concession_description for con_num in Concession_nums">
                                        <option value="" selected disabled>Please select</option>
                                    </select>

                                    <p style="color:red" class="help-block" ng-show="tenantForm.sims_concession_number.$error.required && tenantForm.$submitted">
                                        This field is required
                                    </p>
                                </div>

                                <div class="col-md-2">
                                  <label id="Label5" for="txt_full_name" class="form-label"><i class="fa fa-calendar"></i>  {{"From Date"|translate}} <span class="asterisk" style="color: red">*</span></label>
         
                                <input type="text" id="from_date" name="date" class="k-textbox input-sm full-width" ng-change="setStart(date)" ng-model="temp.sims_concession_from_date" required>
                        
                                <p style="color:red" class="help-block" ng-show="tenantForm.date.$error.required && tenantForm.$submitted">
                                    This field is required
                                </p>
                            </div>
                                

                            </div>
                            <div class="row margin-top">
                                <!--<div class="col-md-3">
                                    <label id="Label5" for="txt_full_name" class="form-label"><i class="fa fa-calendar"></i>  {{"Concession From Date"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                   
                                    <input type="text" id="from_date" name="date" class="k-textbox input-sm full-width" ng-change="setStart(date)" ng-model="temp.sims_concession_from_date" required>
                                   
                                    <p style="color:red" class="help-block" ng-show="tenantForm.date.$error.required && tenantForm.$submitted">
                                        This field is required
                                    </p>
                                </div>-->
                                <!--<div class="col-md-3">
                                    <label id="Label7" for="txt_full_name" class="form-label"><i class="fa fa-calendar"></i>  {{"Concession To Date"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                    <input type="text" id="to_date" name="date1" class="k-textbox input-sm full-width" ng-model="temp.sims_concession_to_date" required>
                                  
                                    <p style="color:red" class="help-block" ng-show="tenantForm.date1.$error.required && tenantForm.$submitted">
                                        This field is required
                                    </p>

                                </div>-->
                                <!--<div class="col-md-3">
                                    <label id="Label4" for="txt_full_name" class="form-label"><i class="fa fa-user"></i>  {{"Created By"|translate}}</label>
                                    <input type="text" class="k-textbox input-sm full-width" ng-model="temp.sims_created_by" ng-readonly="readonly" />

                                </div>-->
                                <div class="col-md-2">
                                    <label id="Label7" for="txt_full_name" class="form-label"><i class="fa fa-calendar"></i>  {{"To Date"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                    <!--  <div class="input-append success date col-md-3 col-lg-9 no-padding" data-datepicker="true">-->
                                    <input type="text" id="to_date" name="date1" class="k-textbox input-sm full-width" ng-model="temp.sims_concession_to_date" required>
                                    <!-- <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
        </div>
        <br /><br />  <br />-->
                                    <p style="color:red" class="help-block" ng-show="tenantForm.date1.$error.required && tenantForm.$submitted">
                                        This field is required
                                    </p>

                                </div>
                                <div class="col-md-2">
                                    <label id="Label4" for="txt_full_name" class="form-label"><i class="fa fa-user"></i>  {{"Created By"|translate}}</label>
                                    <input type="text" class="k-textbox input-sm full-width" ng-model="temp.sims_created_by" ng-readonly="readonly" />

                                </div>
                                <div class="col-md-2">
                                    <label id="Label11" for="txt_full_name" class="form-label"><i class="fa fa-calendar"></i>  {{"Created Date"|translate}} <span class="asterisk" style="color: red">*</span></label>

                                    <!-- <div class="input-append success date col-md-3 col-lg-9 no-padding" data-datepicker="true">-->
                                    <input type="text" id="create_date" name="date2" class="k-textbox input-sm full-width" ng-model="temp.sims_created_date" required>
                                    <!-- <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                    </div>
                                    <br />
                                    <br />  <br />-->
                                    <p style="color:red" class="help-block" ng-show="tenantForm.date2.$error.required && tenantForm.$submitted">
                                        This field is required
                                    </p>


                                </div>
                                <div class="col-md-2" style="padding-top: 6px;padding-left: 9px;">
                                    <label><i class="fa fa-bookmark"></i>  {{"Status"|translate}}</label>
                                    <div class="checkbox check-success">
                                        <input id="checkbox3" type="checkbox" value="1" ng-model="temp.sims_status">
                                        <label for="checkbox3"></label>
                                    </div>
                                </div>
                             
                              
                            </div>
                            <div class="row margin-top">
                                <!--<div class="col-md-1">
                                    <label><i class="fa fa-bookmark"></i>  {{"Status"|translate}}</label>
                                    <div class="checkbox check-success">
                                        <input id="checkbox3" type="checkbox" value="1" ng-model="temp.sims_status">
                                        <label for="checkbox3"></label>
                                    </div>
                                </div>-->
                                
                                <div class="col-md-2" ng-show="studenttable" style="margin-top:-23px;">
                                    <label>&nbsp;</label>
                                    <button type="button" ng-disabled="dis_button" class="btn btn-success btn-small" ng-click="Global_Search_modal();">{{"Search Enrollment Number"|translate}}</button>
                                </div>
                                <div class="col-md-6" ng-show="studenttable">
                                    <label></label>
                                    <table class="table table-bordered table-hover" id="Table3">
                                        <thead>
                                            <tr>
                                                <th class="semi-bold"><i class="fa fa-sort-numeric-asc"></i>  {{"ENROLL NO"|translate}}</th>
                                                <th class="semi-bold"><i class="fa fa-user"></i>  {{"NAME"|translate}}</th>
                                                <th class="semi-bold">{{"REMOVE"|translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="select in chck_obj">
                                                <td>{{select.s_enroll_no}}</td>
                                                <td>{{select.name}}</td>
                                                <td style="text-align: center"><i class="fa fa-close" ng-click="glbl_remove($index,chck_obj);"></i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>



                                <div class="col-md-6" ng-hide="studenttable">
                                    <label>&nbsp;</label>
                                    <label class="form-control">{{temp.student_full_name_en}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-actions">
                                <div class="pull-right">
                                    <button type="submit" ng-show="Save_btn" class="btn btn-primary btn-small">{{"Save"|translate}}</button>
                                    <button type="submit" ng-show="Update_btn" class="btn btn-primary btn-small">{{"Update"|translate}}</button>
                                    <button type="button" class="btn btn-danger btn-small" ng-click="Cancel();">{{"Cancel"|translate}}</button>
                                </div>
                            </div>
                        </div> 
                    </form>

                </div>


                  <div ng-show="sibling_block" class="paddingcode">
                    <form name="tenantForm" ng-submit="SaveSiblingData(tenantForm.$valid)" novalidate="novalidate">
                        <div class="row">
                            <div class="row">
                                <!--<div class="col-md-3">
                                    <label id="Label2" for="txt_Nationality_Code" class="form-label"><i class="fa fa-sort-numeric-asc"></i>  {{"Transaction Number"|translate}}</label>
                                    <input type="text" class="k-textbox input-sm full-width" id="Text3" ng-readonly="readonly" required ng-model="temp.sims_transaction_number" />
                                </div>-->
                                <div class="col-md-2">
                                    <label id="Label1" for="txt_Country_Code" class="form-label"><i class="fa fa-book"></i>  {{"Curriculum"|translate}} <span class="asterisk" style="color: red">*</span></label>

                                    <select id="Select2" name="sims_cur_short_name" ng-change="getAcadm_yr(temp.sims_cur_short_name)" class="form-control input-sm full-width" ng-model="temp.sims_cur_short_name" required
                                            ng-options="cur.sims_cur_code as cur.sims_cur_short_name for cur in Cur_Names">
                                        <option value="" selected disabled>Please select</option>
                                    </select>

                                    <p style="color:red" class="help-block" ng-show="tenantForm.sims_cur_short_name.$error.required && tenantForm.$submitted">
                                        This field is required
                                    </p>
                                </div>
                                <div class="col-md-1">
                                    <label id="Label2" for="txt_Country_Code" class="form-label"><i class="fa fa-calendar"></i>  {{"Acad. Yr"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                    <select id="Select3" name="sims_fee_academic_year" ng-model="temp.sims_fee_academic_year" required class="form-control input-sm full-width" ng-change="getconcession_description_sibling(temp.sims_fee_academic_year);getGrade(temp.sims_cur_short_name,temp.sims_fee_academic_year)"
                                            ng-options="ac_yr.sims_academic_year as ac_yr.sims_academic_year_description for ac_yr in Acdm_year">
                                        <option value="" selected disabled>Please select</option>
                                    </select>
                                    <p style="color:red" class="help-block" ng-show="tenantForm.sims_fee_academic_year.$error.required && tenantForm.$submitted">
                                        This field is required
                                    </p>
                                </div>

                                
                                   <div class="col-md-2" style="margin-top:2px">
                                 <label > <i class="fa fa-sitemap"></i>{{"Grade"|translate}}<span class="asterisk" style="color: red">*</span></label>
                                 <select id="grade" multiple="multiple" class="full-width" ng-model="temp.sims_grade_code" ng-change="getSection(temp.sims_cur_short_name,temp.sims_fee_academic_year,temp.sims_grade_code)">
                                     <option ng-repeat="grade in Grade_code|filter:{sims_grade_name:''}" value="{{grade.sims_grade_code}} ">{{grade.sims_grade_name}}</option>
                                 </select>
                                </div>

                                 <div class="col-md-2" style="margin-top:2px">
                        <label><i class="fa fa-align-justify"></i>{{"Section"|translate}} <span class="asterisk" style="color: red">*</span></label>
                        <select id="section" multiple="multiple" class="full-width" ng-model="temp.sims_section_code">
                            <option ng-repeat="section in Section_code|filter:{sims_section_name:''}" value="{{section.sims_section_code}} ">{{section.sims_section_name}}</option>
                        </select>
                    </div>

                             <div class="col-md-2">
                                    <label id="Label9" for="txt_full_name" class="form-label"><i class="fa fa-bookmark"></i>  {{"Concession Type"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                    <select id="Select6" name="sims_concession_number" ng-model="temp.sims_concession_number" required class="form-control input-sm full-width"
                                            ng-change="selectConcession(temp.sims_concession_number)" ng-options="con_num.sims_concession_number as  con_num.sims_concession_description for con_num in Concession_nums_sib">
                                        <option value="" selected disabled>Please select</option>
                                    </select>

                                    <p style="color:red" class="help-block" ng-show="tenantForm.sims_concession_number.$error.required && tenantForm.$submitted">
                                        This field is required
                                    </p>
                                </div>
                                 <div class="col-md-1" ng-show="sibtable" style="margin-top: -1px;">
                                    <label>&nbsp;</label>
                                    <button type="button" class="btn btn-primary btn-cons"  ng-click="getdetails()">{{"Submit"|translate}}</button>
                                </div>

                                 <div class="col-md-2">
                                    <label id="Label15" for="txt_full_name" class="form-label"><i class="fa fa-search"></i>&nbsp; {{"Search"|translate}}</label>
                                    <input type="text" class="k-textbox input-sm full-width" ng-model="temp.sims_search_id"  placeholder="Enroll No/Parent ID"/>

                                </div>

                               

                            </div>
                            <div class="row margin-top">
                                <!--<div class="col-md-3">
                                    <label id="Label5" for="txt_full_name" class="form-label"><i class="fa fa-calendar"></i>  {{"Concession From Date"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                   
                                    <input type="text" id="from_date" name="date" class="k-textbox input-sm full-width" ng-change="setStart(date)" ng-model="temp.sims_concession_from_date" required>
                                   
                                    <p style="color:red" class="help-block" ng-show="tenantForm.date.$error.required && tenantForm.$submitted">
                                        This field is required
                                    </p>
                                </div>-->
                                <!--<div class="col-md-3">
                                    <label id="Label7" for="txt_full_name" class="form-label"><i class="fa fa-calendar"></i>  {{"Concession To Date"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                    <input type="text" id="to_date" name="date1" class="k-textbox input-sm full-width" ng-model="temp.sims_concession_to_date" required>
                                  
                                    <p style="color:red" class="help-block" ng-show="tenantForm.date1.$error.required && tenantForm.$submitted">
                                        This field is required
                                    </p>

                                </div>-->
                                <!--<div class="col-md-3">
                                    <label id="Label4" for="txt_full_name" class="form-label"><i class="fa fa-user"></i>  {{"Created By"|translate}}</label>
                                    <input type="text" class="k-textbox input-sm full-width" ng-model="temp.sims_created_by" ng-readonly="readonly" />

                                </div>-->
                                 <div class="col-md-2">
                                  <label id="Label10" for="txt_full_name" class="form-label"><i class="fa fa-calendar"></i>  {{"From Date"|translate}} <span class="asterisk" style="color: red">*</span></label>
         
                                <input type="text" id="Text1" name="date" class="k-textbox input-sm full-width" ng-change="setStart(date)" ng-model="temp.sims_concession_from_date" required>
                        
                                <p style="color:red" class="help-block" ng-show="tenantForm.date.$error.required && tenantForm.$submitted">
                                    This field is required
                                </p>
                            </div>
                                
                                <div class="col-md-2">
                                    <label id="Label12" for="txt_full_name" class="form-label"><i class="fa fa-calendar"></i>  {{"To Date"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                    <!--  <div class="input-append success date col-md-3 col-lg-9 no-padding" data-datepicker="true">-->
                                    <input type="text" id="Text2" name="date1" class="k-textbox input-sm full-width" ng-model="temp.sims_concession_to_date" required>
                                    <!-- <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
        </div>
        <br /><br />  <br />-->
                                    <p style="color:red" class="help-block" ng-show="tenantForm.date1.$error.required && tenantForm.$submitted">
                                        This field is required
                                    </p>

                                </div>
                                <div class="col-md-2">
                                    <label id="Label13" for="txt_full_name" class="form-label"><i class="fa fa-user"></i>  {{"Created By"|translate}}</label>
                                    <input type="text" class="k-textbox input-sm full-width" ng-model="temp.sims_created_by" ng-readonly="readonly" />

                                </div>
                                <div class="col-md-2">
                                    <label id="Label14" for="txt_full_name" class="form-label"><i class="fa fa-calendar"></i>  {{"Created Date"|translate}} <span class="asterisk" style="color: red">*</span></label>

                                    <!-- <div class="input-append success date col-md-3 col-lg-9 no-padding" data-datepicker="true">-->
                                    <input type="text" id="Text3" name="date2" class="k-textbox input-sm full-width" ng-model="temp.sims_created_date" required>
                                    <!-- <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                    </div>
                                    <br />
                                    <br />  <br />-->
                                    <p style="color:red" class="help-block" ng-show="tenantForm.date2.$error.required && tenantForm.$submitted">
                                        This field is required
                                    </p>


                                </div>
                                <div class="col-md-2" style="padding-top: 6px;padding-left: 9px;">
                                    <label><i class="fa fa-bookmark"></i>  {{"Status"|translate}}</label>
                                    <div class="checkbox check-success">
                                        <input id="checkbox1" type="checkbox" value="1" ng-model="temp.sims_status">
                                        <label for="checkbox3"></label>
                                    </div>
                                </div>
                             
                              
                            
                            <div class="row margin-top">
                                <!--<div class="col-md-1">
                                    <label><i class="fa fa-bookmark"></i>  {{"Status"|translate}}</label>
                                    <div class="checkbox check-success">
                                        <input id="checkbox3" type="checkbox" value="1" ng-model="temp.sims_status">
                                        <label for="checkbox3"></label>
                                    </div>
                                </div>-->
                                
                               
                                <div class="col-md-6" ng-show="sibtable" >
                                   

                                    <label></label>
                                    <table class="table table-bordered table-hover" id="Table1">
                                        <thead>
                                            <tr>
                                                <th style="width:13%;" class="semi-bold"><i class="fa fa-sort-numeric-asc"></i>  {{"ENROLL NO"|translate}}</th>
                                                <th class="semi-bold"><i class="fa fa-user"></i>  {{"NAME"|translate}}</th>
                                                <th   style="width:11%;"  class="semi-bold">{{"GRADE"|translate}}</th>
                                                 <th class="semi-bold">{{"SECTION"|translate}}</th>
                                                 <th   style="width:11%;" class="semi-bold">{{"PARENT ID"|translate}}</th>
                                                 <th class="semi-bold">{{"PARENT NAME"|translate}}</th>
                                                 <th class="semi-bold">{{"REMOVE"|translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="select in report_data">
                                                <td>{{select.sims_enroll_number}}</td>
                                                <td>{{select.student_name}}</td>
                                                <td>{{select.sims_grade_name_en}}</td>
                                                <td>{{select.sims_section_name_en}}</td>
                                                <td>{{select.sims_parent_number}}</td>
                                                <td>{{select.parent_name}}</td>
                                                  <td style="text-align: center"><i class="fa fa-close" ng-click="glbl_remove($index,report_data);"></i></td>
                                                
                                                
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12">
                            <div class="form-actions">
                                <div class="pull-right">
                                    <button type="submit" ng-show="Save_sibling" class="btn btn-primary btn-small">{{"Save"|translate}}</button>
                                    <button type="submit" ng-show="Update_btn" class="btn btn-primary btn-small">{{"Update"|translate}}</button>
                                    <button type="button" class="btn btn-danger btn-small" ng-click="Cancel();">{{"Cancel"|translate}}</button>
                                </div>
                            </div>
                        </div> 
                    </form>

                </div>
                
            </div>
        </div>
    </div>
</div>

<!--End Table/Grid-->




<script src="assets/js/tabs_accordian.js"></script>
<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>