﻿<link href="assets/plugins/MultiSelect/multiple-select.css" rel="stylesheet" />
<style>
    .k-textbox .k-icon {
    top: 50%;
    margin: -9px -9px 0;
    position: absolute;
}
    .k-input {
    padding: 0em;
    margin-top:0px;
}
</style>
<style>
    .my-col-50 {
        float: left;
        width: auto;
    }
    .otherdetails {
    background-color:#fff;
    
    }
    #example_wrapper {
        background-color:#fff;
        height:auto;
        margin-right: -2px;
        margin-left: -2px;
    }
    #example_wrapper table {
      margin-top: -3px;
    }
    .buttondetails {
        margin-bottom: 5px;

    }
    .buttongridfirst {
      margin-right:-39px;
    }
    
    .btn_cancel {
    float:right;
    margin-right:-19%;
    }
    .grid_data {
    padding-left :0px;
    margin-top:-10px;

    }
    .form-label {
    margin-top: 0px !important;
}
   
</style>
<div class="loading-middle" ng-hide="display">
    {{ "Loading..." | translate }}
</div>

<div class="row">
    <div class="col-md-12"style="margin-top:-16px;">
        <div style="float:right;" ng-click="ShowHide()"><i class="fa fa-thumb-tack"></i>&nbsp;</div>
         <form name="Myform" novalidate="novalidate">
        <div class="grid simple main_grid" ng-show="IsHidden">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Calendar Exception" | translate }}</span></h3>
            </div>
            <div class="grid-body no-border bluegrid paddingcode">
            <div ng-show="display">
                <div-- class="column-seperation">
                    <!--<div class="row ">
                       <div class="col-md-10">
                           <div class="row form-row">
                            <div class="col-md-2">
                                <label>Curriculum</label>

                                <select name="cmb_cur" class="select2-drop-mask btn-mini" style="width: 100%" id="cmb_cur" ng-change="cur_change(cur_code)" ng-model="cur_code" required>
                                    <option value="" selected disabled>Please Select</option>
                                    <option ng-repeat="cr in cur_obj" value="{{cr.sims_cur_code}}">{{cr.sims_cur_name}}</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label>Academic Year</label>

                                <select name="cmb_cur" class="select2-drop-mask btn-mini" style="width: 100%" id="Select1" ng-change="Acdm_yr_change()" ng-model="acdm_yr" required>
                                    <option value="" selected disabled>Please Select</option>
                                    <option ng-repeat="acd in acdm_yr_obj" value="{{acd.sims_academic_year}}">{{acd.sims_academic_year_desc}}</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label>Exception Type</label>

                                <select name="cmb_cur" class="select2-drop-mask btn-mini" style="width: 100%" id="Select2" ng-change="excep_type_change(acdm_yr,excp_type)" ng-model="excp_type" required>
                                    <option value="" selected disabled>Please Select</option>
                                    <option ng-repeat="exc in excep_type_obj" value="{{exc.sims_appl_parameter}}">{{exc.sims_appl_form_field_value1}}</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label>From Date</label>

                                <div class="input-append success date col-md-2 no-padding btn-mini" data-datepicker="true" style="width: 70%">
                                    <input type="text" id="Text1" placeholder="Select Date" name="Subsexpdate" class="form-control" ng-model="from_date" required ng-disabled="disabled">
                                    <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>

                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>To Date (mm/dd/yyyy)</label>

                                <div class="input-append success date col-md-2 no-padding btn-mini" data-datepicker="true" style="width: 70%">
                                    <input type="text" id="Text2" placeholder="Select Date" name="Subsexpdate" class="form-control" ng-model="to_date" required ng-disabled="disabled">
                                    <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>

                                </div>
                            </div>
                       </div>
                       </div>

                        <div class="col-md-2" ng-if="excp_type=='W'">
                             <div class="row form-row">
                                <div ng-repeat="dy in day_obj">{{dy.day_desc}}</div>
                            </div>
                             </div>

                        <div class="col-md-10">
                            <div class="row form-row">
                            <div class="col-md-2">
                                <label id="Label4" for="txt1" class="form-label">{{"Exception Description" | translate }}</label>

                                <input name="txt_nation_name_en" type="text" class="form-control input-sm" id="txt1" ng-model="excep_desc" />
                            </div>
                            <div class="col-md-2">
                                <label id="Label1" for="Text3" class="form-label">{{"Day Value" | translate }}</label>

                                <input name="txt_nation_name_en" type="text" class="form-control input-sm" id="Text3" ng-model="day_value" />
                            </div>
                            <div class="col-md-2">
                                <label id="Label13" for="txt_full_name" class="form-label">{{"Instruction" | translate }}</label>
                                <div class="checkbox check-success">
                                    <input name="chck_status" id="checkbox3" type="checkbox" value="1" ng-model="ss">
                                    <label for="checkbox3"></label>

                                </div>
                            </div>
                            <div class="col-md-2">
                                <label id="Label2" for="txt_full_name" class="form-label">{{"Attendance" | translate }}</label>
                                <div class="checkbox check-success">
                                    <input name="chck_status" id="checkbox1" type="checkbox" value="1" ng-model="a">
                                    <label for="checkbox1"></label>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <label id="Label3" for="txt_full_name" class="form-label">{{"Status" | translate }}</label>
                                <div class="checkbox check-success">
                                    <input name="chck_status" id="checkbox2" type="checkbox" value="1" ng-model="b">
                                    <label for="checkbox2"></label>
                                </div>

                            </div>

                            <div class="col-md-1" ng-class="{'has-error': !myForm.hcolor.$valid && (myForm.hcolor.$touched || myForm.$submitted) }">
                                 <label id="Lable5" class="form-label">{{"Color"| translate}}</label>

                                    <input type="color" id="txt_color" ng-model="edt.sims_house_color" value="" name="hcolor" required data-format="hex" ng-change="colorcheck(edt.sims_cur_code,edt.sims_academic_year,edt.sims_house_code)" />


                            </div>
                        </div>
                       </div>
                         <div class="col-md-10">
                             <div class="row form-row">
                            <div class="col-md-3">
                                <div class="checkbox check-success">
                                    <input name="chck_status" id="checkbox4" type="checkbox" value="1" ng-model="bb">
                                    <label for="checkbox4">Exception Applicable for Student</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="checkbox check-success">
                                    <input name="chck_status" id="checkbox5" type="checkbox" value="1" ng-model="rb">
                                    <label for="checkbox5">Exception Applicalbe for Emplyoee</label>
                                </div>
                            </div>
                        </div>
                              </div>

                    </div>-->

                    <div class="row">
                       
                            <div class="row">
                                <div class="col-md-1" ng-class="{'has-error': !Myform.cmb_cur.$valid && (Myform.cmb_cur.$touched || Myform.$submitted) }">
                                    <label><i class="fa fa-book"></i>&nbsp;{{"Curriculum" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <select name="cmb_cur" data-role="dropdownlist" class="form-control input-sm full-width" id="Select8" ng-options="doc.sims_cur_code as doc.sims_cur_name for doc in cur_obj" ng-change="cur_change(cur_code)" ng-model="cur_code" required>
                                        <!--  <option value="" selected disabled>Please Select</option>
                                        <option ng-repeat="cr in cur_obj" value="{{cr.sims_cur_code}}">{{cr.sims_cur_name}}</option>-->
                                    </select>


                                    <p class="help-block" ng-show="Myform.cmb_cur.$error.required &&(Myform.cmb_cur.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>
                                </div>
                                <div class="col-md-1">
                                    <label><i class="fa fa-sort-amount-desc"></i>&nbsp;{{"Acad. Yr" | translate }} <span class="asterisk" style="color: red">*</span></label>

                                    <select name="cmb_cur" data-role="dropdownlist" class="form-control input-sm full-width" id="Select9" ng-change="Acdm_yr_change()" ng-options="doc.sims_academic_year as doc.sims_academic_year_desc for doc in acdm_yr_obj" ng-model="acdm_yr" required>
                                        <!-- <option value="" selected disabled>Please Select</option>
                                        <option ng-repeat="acd in acdm_yr_obj" value="{{acd.sims_academic_year}}">{{acd.sims_academic_year_desc}}</option>-->
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label><i class="fa fa-bookmark"></i>&nbsp;{{"Exception Type" | translate }} <span class="asterisk" style="color: red">*</span></label>

                                    <select name="cmb_cur" data-role="dropdownlist" class="form-control input-sm full-width" id="Select10" ng-change="excep_type_change(acdm_yr,excp_type,cur_code)" ng-model="excp_type" required>
                                        <option value="" selected disabled>Please Select</option>
                                        <option ng-repeat="exc in excep_type_obj" value="{{exc.sims_appl_parameter}}">{{exc.sims_appl_form_field_value1}}</option>
                                    </select>
                                </div>
                                
                            </div>

                            

                            <div class="row">
                                
                                <div class="col-md-2" ng-show="usr_gp">
                                    <label>{{"User Group" | translate }} <span class="asterisk" style="color: red">*</span></label>

                                    <select id="cmb_user_grp" name="cmb_user_grp" data-role="dropdownlist" style="width: 100%" ng-change="user_group_click(user_group)" ng-model="user_group" multiple="multiple" required>
                                        <option ng-repeat="usr in user_group_obj" value="{{usr.comn_user_group_code}}">{{usr.comn_user_group_name}}</option>
                                    </select>
                                </div>
                                <div class="col-md-2" ng-show="usr_gp_staff">
                                    <label class="form-label-sm">{{ "Staff Type" | translate }}</label>
                                    <select id="cmb_staff_type" name="cmb_staff_type" multiple="multiple" data-role="dropdownlist" style="width: 100%" ng-model="staff_code"
                                            ng-options="item2.staff_code as item2.staff_type for item2 in stafftype_data" ng-disabled="div_leave">
                                        
                                    </select>
                                </div>
                                <div class="col-md-2" ng-show="grade">
                                    <label>{{"Grade" | translate }} <span class="asterisk" style="color: red">*</span></label>

                                    <select id="cmb_grade" name="cmb_grade" data-role="dropdownlist" style="width: 100%" ng-change="grade_code_click(grade_code)" ng-model="grade_code" multiple="multiple" required>
                                        <option ng-repeat="cr in grades_obj" value="{{cr.sims_grade_code}}">{{cr.sims_grade_name_en}}</option>
                                    </select>
                                </div>

                                <div class="col-md-2" ng-show="grade">
                                    <label>{{"Section" | translate }} <span class="asterisk" style="color: red">*</span></label>

                                    <select id="cmb_sec" name="cmb_sec" data-role="dropdownlist" class="" style="width: 100%" ng-change="section_code_click(section_code)" ng-model="section_code" multiple="multiple" required>
                                        <option ng-repeat="sec in section_obj" value="{{sec.sims_section_code}}">{{sec.section_name}}</option>
                                    </select>
                                </div>
                                


                            </div>

                    </div>  
                </div>
            </div>
     </div>
  <div class="col-md-12 otherdetails paddingcode" ng-show="IsHidden">
              <div class="row">

                              <div class="col-md-2">
                                    <label><i class="fa fa-calendar"></i>&nbsp;{{"From Date" | translate }} <span class="asterisk" style="color: red">*</span></label>

                                    <!--<div class="input-append success date col-md-2 no-padding btn-mini" data-datepicker="true" style="width: 70%">
                                        <input type="text" id="Text4" placeholder="Select Date" name="Subsexpdate" class="k-textbox" style="width: 100%;" ng-model="from_date" required ng-disabled="disabled">
                                        <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                    </div>-->
                                    <div>
                                        <input id="fromdate" placeholder="Select Date" name="Subsexpdate" class="k-textbox input-sm full-width" ng-model="from_date" required ng-disabled="disabled">
                                    </div>
                                </div>
                  
                                <div class="col-md-2">
                                    <label><i class="fa fa-calendar"></i>&nbsp;{{"To Date " | translate }} <span class="asterisk" style="color: red">*</span></label>

                                    <div>
                                        <input id="cex_to_date" placeholder="Select Date" name="Subsexpdate" class="k-textbox input-sm full-width" ng-model="to_date" required ng-disabled="disabled">
                                    </div>
                                    <!--<div class="input-append success date col-md-2 no-padding btn-mini" data-datepicker="true" style="width: 70%">
                                        <input type="text" id="Text5" placeholder="Select Date" name="Subsexpdate" class="k-textbox" style="width: 100%;" ng-model="to_date" required ng-disabled="disabled">
                                        <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                    </div>-->
                                </div>
                                <div class="col-md-2">
                                    <label id="Label22" for="txt1" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Exception Description" | translate }}</label>

                                    <input name="txt_nation_name_en" type="text" class="k-textbox input-sm full-width" id="Text6" ng-model="excep_desc" />
                                </div>
                                <div class="col-md-2">
                                    <label id="Label23" for="Text3" class="form-label"><i class="fa fa-file"></i>&nbsp;{{"Day Value" | translate }}</label>

                                    <input name="txt_nation_name_en" type="text" class="k-textbox input-sm full-width" id="Text7" ng-model="day_value" limit-to="1" only-digits />
                                </div>
                                <div class="col-md-1">
                                    <label id="Label24" class="form-label"><i class="fa fa-dashboard"></i>&nbsp;{{"Color"| translate}} <span class="asterisk" style="color: red">*</span></label>

                                    <input type="color" id="Color1" ng-model="sims_color_code" value="" name="hcolor" data-format="hex" required />

                                </div>
                   <div class="col-md-1">
                                    <label id="Label25" for="txt_full_name" class="form-label">&nbsp</label>

                                    <div class="checkbox check-success">
                                        <input name="chck_status" id="checkbox6" type="checkbox" class="k-checkbox" value="1" ng-model="excep_att_flag">
                                        <label for="checkbox6">{{"Attendance" | translate }}</label>
                                    </div>
                                </div>

                                <div class="col-md-1">
                                    <label id="Label26" for="txt_full_name" class="form-label">&nbsp</label>

                                    <div class="checkbox check-success">
                                        <input name="chck_status" id="checkbox7" type="checkbox" class="k-checkbox" value="1" ng-model="excep_insrt_flag">
                                        <label for="checkbox7">{{"Instruction" | translate }}</label>

                                    </div>
                                </div>
              </div>
             <div class="row">
                                
                                <div class="col-md-2" ng-show="emp_stud_status">
                                    <div class="pull-right">
                                    
                                    <div class="checkbox check-success">
                                        <input name="chck_status" id="checkbox9" type="checkbox" class="k-checkbox" ng-model="student_excp_flag" ng-click="stud_excep_click(student_excp_flag)" ng-disabled="status_dis">
                                        <label for="checkbox9">{{"Exception Applicable for Student" | translate }}</label>
                                    </div>
                                </div>

                                </div>
                                <div class="col-md-2" ng-show="emp_stud_status"> 
                                    <div class="checkbox check-success">
                                        <input name="chck_status" id="chbx_emp_status" type="checkbox" class="k-checkbox" ng-model="emp_excep_flag" ng-click="emp_excep_click(emp_excep_flag)" ng-disabled="status_dis">
                                        <label for="chbx_emp_status">{{"Exception Applicable for Employee" | translate }}</label>
                                    </div>

                                </div>
                                <div class="col-md-1">
                                    <label id="Label27" for="txt_full_name" class="form-label"></label>

                                    <div class="checkbox check-success">
                                        <input name="chck_status" id="checkbox8" type="checkbox" class="k-checkbox" value="1" ng-model="sims_cal_status" ng-click="calendar_status_click(sims_cal_status)" ng-disabled="sims_status">
                                        <label for="checkbox8">{{"Status" | translate }}</label>
                                    </div>
                                </div>
                               <div  class="col-md-5 buttongridfirst"><!--label>&nbsp;</label-->
                                    <button type="button" ng-click="show_total_working_days()" class="btn btn-success btn-sm btn-small">{{"Show Total Working Days" | translate }}</button>
                                    <button type="button" ng-click="edit_student_exception()" class="btn btn-primary btn-sm btn-small">{{"Edit Student Exceptions" | translate }}</button>
                                    <button type="button" ng-click="edit_Emp_exception()" class="btn btn-primary btn-sm btn-small">{{"Edit Employee Exceptions" | translate }}</button>
                                </div>
                                <div class="col-md-2 buttongridsecond">
                                    <div class="pull-right">
                                    <!--label>&nbsp</label-->
                                    <button type="button" ng-disabled="btn_insert_disabled" class="btn btn-primary btn-sm btn-small" ng-click="btn_insert_click()" style="margin-bottom: 3px;">{{"Insert" | translate }}</button>
                                    <button type="button" ng-disabled="btn_update_disabled" class="btn btn-primary btn-sm btn-small" ng-click="btn_update_click()" style="margin-bottom: 3px;">{{"Update" | translate }}</button>
                                    <button type="button" class="btn btn-danger btn-sm btn-small" ng-click="btn_delete_click()" style="margin-bottom: 3px;">{{"Delete" | translate }}</button><!-- ng-disabled="btn_delete_disabled"-->
                                    <button type="reset" ng-click="btn_cancel_click()" class="btn btn-warning btn-sm btn-small btn_cancel" style="margin-bottom: 3px;">{{"Cancel" | translate }}</button>
                                    </div>
                                </div>
                                <div class="col-md-7" ng-if="excp_type=='W'" ng-show="weekends">
                                    <div class="my-col-50" ng-repeat="dy in day_obj">

                                        <div class="checkbox check-success">
                                            <input name="chck_status" id="{{dy.day_desc}}" class="k-checkbox" type="checkbox" ng-click="weekend_click(dy.day_desc)">
                                            <label for="{{dy.day_desc}}">{{dy.day_desc}}</label>

                                        </div>
                                    </div>
                                </div>
                            </div>
             
                           
              </div>
</form>
       <div class="col-md-12 grid_data">
         <div id="example_wrapper" class="dataTables_wrapper form-inline">
                            <div class="row margin-top">
                                <div class="col-md-12" style="width: 100%; height: auto;overflow-x:auto;overflow-y:auto;">

                                <table class="table table-bordered table-hover table-condensed" id="fixTable">
                                    <thead style="background-color: white">
                                        <tr style="background-color: #edefef">

                                            <th>
                                                <div class="checkbox check-success">
                                                    <input type="checkbox" name="check" class="k-checkbox" value="1" id="all_chk" ng-model="obj_chk_all" ng-click="check_all();">
                                                    <label for="all_chk"></label>
                                                </div>

                                            </th>
                                            <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                                        <a href="">
                                                            <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class=" fa fa-caret-up" ng-if="orderByField"></i></span>
                                                            <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;<i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Exception No." | translate}}
                                                        </a>
                                            </th>
                                            <th>
                                               <i class="fa fa-book"></i>&nbsp;{{"Curriculum" | translate }}
                                            </th>
                                            <th>
                                               <i class="fa fa-bookmark"></i>&nbsp; {{"Staff Type" | translate }}
                                            </th>
                                            <th>
                                               <i class="fa fa-sort-amount-desc"></i>&nbsp;{{"Academic Year" | translate }}
                                            </th>
                                            <th>
                                               <i class="fa fa-align-justify"></i>&nbsp;{{"Exception Description" | translate }}
                                            </th>
                                            <th>
                                               <i class="fa fa-bookmark"></i>&nbsp;{{"Exception Type" | translate }}
                                            </th>
                                            <th>
                                               <i class="fa fa-calendar"></i>&nbsp;{{"From Date" | translate }}
                                            </th>
                                            <th>
                                              <i class="fa fa-calendar"></i>&nbsp; {{"To Date" | translate }}
                                            </th>
                                            <th>
                                               {{"Attendance" | translate }}
                                            </th>
                                            <th>
                                               {{"Instruction"| translate }}
                                            </th>
                                            <th>
                                               <i class="fa fa-file"></i>&nbsp;{{"Day Value"| translate }}
                                            </th>
                                            <th>
                                               <i class="fa fa-dashboard"></i>&nbsp;{{"Color Code"| translate }}
                                            </th>
                                            <th>
                                              <i class="fa fa-bookmark"></i>&nbsp;{{"Status"| translate }}
                                            </th>
                                            <th>
                                               {{"Update"| translate }}
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="j in exception_details_obj |orderBy:orderByField:reverseSort">

                                            <td class="small-cell v-align-middle">
                                                <div class="row-fluid" style="height: 20px">
                                                    <div class="checkbox check-success">
                                                        <input type="checkbox" value="1" class="k-checkbox" id="test-{{$index}}" ng-model="j.sims_calendar_exception_number_status">
                                                        <label for="test-{{$index}}"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <label id="lbl">{{j.sims_calendar_exception_number}}</label>
                                            </td>
                                            <td>
                                                <label id="Label1">{{j.sims_cur_name}}</label>
                                            </td>
                                            <td>
                                                <label id="Label1">{{j.sims_calendar_exception_staff_type}}</label>
                                            </td>
                                            <td>
                                                <label id="Label5">{{j.sims_academic_year}}</label>
                                            </td>
                                            <td>
                                                <label id="Label9">{{j.sims_calendar_exception_description}}</label>
                                            </td>
                                            <td>
                                                <label id="Label10">{{j.sims_calendar_exception_type_name}}</label>
                                            </td>
                                            <td>
                                                <label id="Label11">{{j.sims_from_date}}</label>
                                            </td>
                                            <td>
                                                <label id="Label12">{{j.sims_to_date}}</label>
                                            </td>
                                            <td class="v-align-middle">
                                                <span class="label label-success" ng-if="j.sims_calendar_exception_attendance_flag==true">Yes</span>
                                                <span class="label label-important" ng-if="j.sims_calendar_exception_attendance_flag==false">No</span>
                                            </td>
                                            <td class="v-align-middle">
                                                <span class="label label-success" ng-if="j.sims_calendar_exception_instruction_flag==true">Yes</span>
                                                <span class="label label-important" ng-if="j.sims_calendar_exception_instruction_flag==false">No</span>
                                            </td>
                                            <td>
                                                <label id="Label8">{{j.sims_calendar_exception_day_value}}</label>
                                            </td>
                                            <td>
                                                <div ng-style="{ 'background-color': j.sims_calendar_exception_color_code}" style="width: 46px; height: 26px;"></div>

                                            </td>

                                            <td class="v-align-middle">
                                                <span class="label label-success" ng-if="j.sims_status==true">Active</span>
                                                <span class="label label-important" ng-if="j.sims_status==false">In active</span>

                                            </td>
                                            <td>
                                                <a href=""><i class="fa fa-edit" ng-click="update_click(j)"></i></a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                                </div>
                            <!--<div class="pull-right">
                                            <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                                ng-click="index(currentPage)">
                            </paging>
                                        </div>-->
                        </div>
           </div>
            </div>
    </div>
</div>
            <div class="modal fade in" id="working_days_modal" role="dialog" style="display: none">
                <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''">
                    <div class="modal-content" uib-modal-transclude="">
                        <div class="modal-header ng-scope">
                            <div class="row">
                                <div class="col-md-10">
                                    <h4 class="modal-title">{{"Total Working Days" | translate }}</h4>
                                </div>
                                <div class="col-md-2">
                                    <a href=""><span class="label label-important pull-right" data-dismiss="modal" style="margin-top: 6px;">X</span></a>
                                </div>
                            </div>
                            

                            

                        </div>

                                <div class="grid-body no-border">
                            <div class="col-md-12">
                                    <div class="col-md-2" ng-show="loading">
                                        <img src="assets/img/loading-x.gif" style="width: 80px; height: 50px;" alt="Loading" />
                                    </div>

                                    <form name="Myform" novalidate>
                                        <div id="Div1" class="dataTables_wrapper form-inline">
                                            <div class="row">
                                                <div class="col-md-12 margin-top" style="width: 100%; height: 270px;overflow-x:auto;overflow-y:auto;">
                                                <table id="fixTable1" class="table table-bordered table-hover table-condensed" id="example">
                                                    <thead style="background-color: white">
                                                     <tr style="background-color: #edefef">

                                                            <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                                                        <a href="">
                                                                            <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class=" fa fa-caret-up" ng-if="orderByField"></i></span>
                                                                            <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;<i class="fa fa-book"></i>&nbsp;{{"Curriculum" | translate}}
                                                                        </a>
                                                               
                                                            </th>
                                                            <th>  
                                                               <i class="fa fa-sort-amount-desc"></i>&nbsp;{{"Year" | translate }}
                                                            </th>
                                                            <th>
                                                               <i class="fa fa-sitemap"></i>&nbsp;{{"Grade" | translate }}
                                                            </th>
                                                            <th>
                                                               <i class="fa fa-align-justify"></i>&nbsp;{{"Section" | translate }}
                                                            </th>
                                                            <th>
                                                               <i class="fa fa-calendar"></i>&nbsp;{{"Working Days" | translate }}
                                                            </th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="j in total_working_dys_obj |orderBy:orderByField:reverseSort">

                                                            <td>
                                                                <label id="Label6">{{j.sims_cur_full_name_en}}</label>
                                                            </td>
                                                            <td>
                                                                <label id="Label7">{{j.sims_academic_year}}</label>
                                                            </td>
                                                            <td>
                                                                <label id="Label14">{{j.sims_grade_name_en}}</label>
                                                            </td>
                                                            <td>
                                                                <label id="Label15">{{j.sims_section_name_en}}</label>
                                                            </td>
                                                            <td>
                                                                <label id="Label16">{{j.total_working_days}}</label>
                                                            </td>


                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                                </div>
                                            <!--<div class="pull-right">
                                                                            <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                                                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                                                                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                                                                ng-click="index(currentPage)">
                                            </paging>
                                                                        </div>-->
                                        </div>
                                        <!--<div class="modal-footer ng-scope">
                                            <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()" data-dismiss="modal"><i class="fa fa-arrow-left"></i>Cancel</button>
                                        </div>-->
                                    </form>
                                </div>
                            </div>
                    </div>
                </div>

            </div>


            <div class="modal fade in" id="edit_stud_excp_modal" role="dialog" style="display: none">
                <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''">
                    <div class="modal-content" uib-modal-transclude="">
                        <div class="modal-header ng-scope">

                            <div class="row">
                                <div class="col-md-10">
                                    <h4 class="modal-title custom-font">{{"Edit Student Exception" | translate }}</h4>
                                </div>
                                <div class="col-md-2">
                                  <a href=""><span class="label label-important pull-right" data-dismiss="modal" style="margin-top: 6px">X</span></a>
                                </div>
                            </div>

                            
                           
                        </div>
                        <div class="grid-body no-border">
                            <div class="col-md-12">
                                    <form name="Myform" novalidate>

                                        <div class="row form-group bluegrid">
                                            <div class="col-md-2">
                                                <label for="name"><i class="fa fa-book"></i>&nbsp;{{"Curriculum" | translate }} <span class="asterisk" style="color: red">*</span></label>

                                                <select name="cmb_cur" data-role="dropdownlist" class="form-control input-sm full-width" id="Select7" ng-change="stud_cur_change(stud.sims_cur_code)" ng-model="stud.sims_cur_code" required>
                                                    <option value="" selected disabled>Please Select</option>
                                                    <option ng-repeat="cr in cur_obj" value="{{cr.sims_cur_code}}">{{cr.sims_cur_name}}</option>
                                                </select>

                                            </div>
                                            <div class="col-md-2">
                                                <label for="name"><i class="fa fa-sort-amount-desc"></i>&nbsp;{{"Year" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                                <select name="cmb_cur" data-role="dropdownlist" class="form-control input-sm full-width" id="Select1" ng-change="stud_Acdm_yr_change(stud.sims_cur_code,stud.sims_academic_year)" ng-model="stud.sims_academic_year" required>
                                                    <option value="" selected disabled>Please Select</option>
                                                    <option ng-repeat="ac in stud_acdm_yr_obj" value="{{ac.sims_academic_year}}">{{ac.sims_academic_year_desc}}</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2">
                                                <label for="name"><i class="fa fa-sitemap"></i>&nbsp;{{"Grade" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                                <select id="Select2" data-role="dropdownlist" name="cbx_new_section" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="stud.sims_grade_code" ng-change="stud_grade_change(stud.sims_cur_code,stud.sims_academic_year,stud.sims_grade_code)"
                                                        required>
                                                    <option value="" selected label="Please Select"></option>
                                                    <option ng-repeat="gr in stud_grades_obj" value="{{gr.sims_grade_code}}">{{gr.sims_grade_name_en}} </option>
                                                </select>
                                            </div>
                                            <div class="col-md-2">
                                                <label for="name"><i class="fa fa-align-justify"></i>&nbsp;{{"Section" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                                <select id="Select4" data-role="dropdownlist" name="cbx_new_section" data-role="dropdownlist" class="form-control input-sm full-width"
                                                        ng-model="stud.sims_section_code" required>
                                                    <option value="" selected label="Please Select"></option>
                                                    <option ng-repeat="sec in stud_section_obj" value="{{sec.sims_section_code}}">{{sec.sims_section_name_en}}  </option>
                                                </select>
                                            </div>
                                            <div class="col-md-2">
                                                <label for="name"><i class="fa fa-bookmark"></i>&nbsp;{{"Exception" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                                <select name="cmb_cur" data-role="dropdownlist" class="form-control input-sm full-width" id="Select6" ng-model="stud.sims_calendar_exception_type" required>
                                                    <option value="" selected disabled>Please Select</option>
                                                    <option ng-repeat="exc in stud_excep_type_obj" value="{{exc.sims_appl_parameter}}">{{exc.sims_appl_form_field_value1}}</option>
                                                </select>
                                            </div>
                                            <div class="col-md-1">
                                                <label for="name">&nbsp</label>
                                                <button ng-click="getStud_excp_details()" class="btn btn-primary btn-ef btn-ef-3 btn-ef-3c btn-small" type="submit"><i class="fa fa-arrow-right"></i>{{"Show"|translate}}</button>
                                            </div>

                                        </div>
                                        
                                            <div id="Div2" class="dataTables_wrapper form-inline">
                                                <div class="row">
                                                    <div class="col-md-12 margin-top" style="width: 100%; height: 270px;overflow-x:auto;overflow-y:auto;">
                                                    <table class="table table-bordered table-hover table-condensed" id="example">
                                                        <thead style="background-color: white">
                                                         <tr style="background-color: #edefef">

                                                                <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                                                    <a href="">
                                                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class=" fa fa-caret-up" ng-if="orderByField"></i></span>
                                                                                <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;<i class="fa fa-align-justify"></i>&nbsp;{{"Exception Description" | translate}}
                                                                            </a>
                                                                    
                                                                </th>
                                                                <th>
                                                                   <i class="fa fa-calendar"></i>&nbsp;{{"Date" | translate }}
                                                                </th>
                                                                <th>
                                                                   <i class="fa fa-bookmark"></i>&nbsp;{{"Status" | translate }}
                                                                </th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="j in StudentExceptionDetails |orderBy:orderByField:reverseSort">

                                                                <td>
                                                                    <label id="Label17">{{j.sims_calendar_exception_description}}</label>
                                                                </td>
                                                                <td>
                                                                    <label id="Label18">{{j.sims_from_date}}</label>
                                                                </td>
                                                                <td>
                                                                    <div class="checkbox check-success">
                                                                        <input name="std-{{$index}}" id="std-{{$index}}" type="checkbox" class="k-checkbox" value="1" ng-model="j.sims_status" ng-click="Student_excep_update(j)">
                                                                        <label for="std-{{$index}}"></label>
                                                                    </div>
                                                                </td>


                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                    </div>
                                            </div>
                                        <!--<div class="pull-right">
                                            <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="studentExceptionUpdate()" type="submit"><i class="fa fa-arrow-right"></i>Save</button>
                                            <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()" data-dismiss="modal"><i class="fa fa-arrow-left"></i>Cancel</button>
                                        </div>-->
                                    </form>
                                </div>
                            </div>
                    </div>
                </div>

            </div>

            <div class="modal fade in" id="edit_emp_excp_modal" role="dialog" style="display: none">
                <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''">
                    <div class="modal-content" uib-modal-transclude="">
                        <div class="modal-header ng-scope">
                            <div class="row">
                                <div class="col-md-10">
                                    <h4 class="modal-title custom-font">{{"Edit Employee Exception" | translate }}</h4>
                                </div>
                                <div class="col-md-2">
                               <a href=""><span class="label label-important pull-right" data-dismiss="modal" style="margin-top: 6px">X</span></a>
                                </div>
                            </div>
                           
                           
                        </div>
                        <div class="grid-body no-border">
                            <div class="col-md-12">
                                    <form name="Myform" novalidate>

                                        <div class="row bluegrid">

                                            <!--<div class="col-md-3">
                                                <label for="name">Year</label>
                                              <select name="cmb_cur" class="select2-drop-mask btn-mini" style="width: 100%" id="Select9" ng-model="emp.sims_academic_year" required>
                                                <option value="" selected disabled>Please Select</option>
                                                <option ng-repeat="ac in stud_acdm_yr_obj" value="{{ac.sims_academic_year}}">{{ac.sims_academic_year_desc}}</option>
                                            </select>
                                            </div>-->

                                            <div class="col-md-3">
                                                <label for="name"><i class="fa fa-group"></i>&nbsp;{{"Employee Group" | translate }}</label>
                                                <select id="Select11" name="cbx_new_section" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="emp.comn_user_group_code" ng-change="user_group_click1(emp.comn_user_group_code)"required>
                                                    <option value="" selected label="Please Select"></option>
                                                    <option ng-repeat="emp in emp_user_group_obj" value="{{emp.comn_user_group_code}}">{{emp.comn_user_group_name}}  </option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="name"><i class="fa fa-bookmark"></i>&nbsp;{{"Exception Type" | translate }}</label>
                                                <select name="cmb_cur" data-role="dropdownlist" class="form-control input-sm full-width" id="Select12" ng-model="emp.sims_appl_parameter" required>
                                                    <option value="" selected disabled>Please Select</option>
                                                    <option ng-repeat="exc in emp_excep_type_obj" value="{{exc.sims_appl_parameter}}">{{exc.sims_appl_form_field_value1}}</option>
                                                </select>
                                            </div>

                                            <div class="col-md-2" ng-show="usr_gp_staff1">
                                                <label for="name"><i class="fa fa-bookmark"></i>&nbsp;{{ "Staff Type" | translate }}</label>
                                                <select id="cmb_staff_type" name="cmb_staff_type"  data-role="dropdownlist"  class="form-control input-sm full-width" ng-model="emp.staff_code" required>
                                                    <option value="" selected disabled>Please Select</option>
                                                    <option ng-repeat="item2 in stafftype_data" value="{{item2.staff_code}}">{{item2.staff_type}}</option>
                                                        <!--ng-options="item2.staff_code as item2.staff_type for item2 in stafftype_data" ng-disabled="div_leave">-->
                                                </select>
                                            </div>

                                            <div class="col-md-1">
                                                <label for="name">&nbsp</label>
                                                <button ng-click="getEmp_excp_details(emp.comn_user_group_code,emp.sims_appl_parameter,emp.staff_code)" class="btn btn-primary btn-ef btn-ef-3 btn-ef-3c btn-small" type="submit"><i class="fa fa-arrow-right"></i>Show</button>
                                            </div>

                                        </div>

                                            <div id="Div4" class="dataTables_wrapper form-inline">
                                                <div class="row">
                                                    <div class="col-md-12 margin-top" style="width: 100%; height: 270px;overflow-x:auto;overflow-y:auto;">
                                                    <table class="table table-bordered table-hover table-condensed" id="Table1">
                                                        <thead style="background-color: white">
                                                            <tr style="background-color: #edefef">

                                                                <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                                                   
                                                                            <a href="">
                                                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class=" fa fa-caret-up" ng-if="orderByField"></i></span>
                                                                                <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;<i class="fa fa-align-justify"></i>&nbsp;{{"Exception Description" | translate}}
                                                                            </a>
                                                                   
                                                                </th>
                                                                <th>
                                                                   <i class="fa fa-calendar"></i>&nbsp;{{"From Date" | translate }}
                                                                </th>
                                                                <th>
                                                                   <i class="fa fa-calendar"></i>&nbsp;{{"To Date" | translate }}
                                                                </th>
                                                                <th>
                                                                   <i class="fa fa-bookmark"></i>&nbsp;{{"Status" | translate }}
                                                                </th>


                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="j in EmpExceptionDetails |orderBy:orderByField:reverseSort">

                                                                <td>
                                                                    <label id="Label19">{{j.sims_calendar_exception_description}}</label>
                                                                </td>
                                                                <td>
                                                                    <label id="Label20">{{j.sims_from_date}}</label>
                                                                </td>
                                                                <td>
                                                                    <label id="Label21">{{j.sims_to_date}}</label>
                                                                </td>
                                                                <td>
                                                                    <div class="checkbox check-success">
                                                                        <input name="emp-{{$index}}" id="emp-{{$index}}" class="k-checkbox" type="checkbox" value="1" ng-model="j.sims_status" ng-click="emp_excep_deails_update(j)">
                                                                        <label for="emp-{{$index}}"></label>
                                                                    </div>



                                                                </td>


                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>   
                                                    </div>
                                            </div>
                                        <!--<div class="modal-footer ng-scope">
                                            <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" type="submit"><i class="fa fa-arrow-right"></i>Submit</button>
                                            <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()" data-dismiss="modal"><i class="fa fa-arrow-left"></i>Cancel</button>
                                        </div>-->
                                    </form>
                                </div>
                            </div>
                    </div>
                </div>

            </div>
        
<script src="assets/plugins/MultiSelect/multiple-select.js"></script>

<script>
    $(function () {
        $('#cmb_grade').multipleSelect({
            width: '100%'
        });
    });
    $(function () {
        $('#cmb_sec').multipleSelect({
            width: '100%'
        });
    });
    $(function () {
        $('#cmb_user_grp').multipleSelect({
            width: '100%'
        });
    });

    //for date picker
    //$(document).ready(function () {
    //    $("#Text4").kendoDatePicker();
    //    $("#Text5").kendoDatePicker();
    //});

</script>
<script src="assets/js/moment.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>
