﻿<link href="assets/theme/css/dashboard.css" rel="stylesheet" />
<style>
    .datepicker {
        z-index: 1151 !important;
    }

    .popover.clockpicker-popover {
        z-index: 1050;
    }
</style>

<div class="loading-middle" ng-hide="display">Loading...</div>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"School Calendar" | translate }}</span></h3>
            </div>

            <div class="grid-body no-border" ng-show="display">

                <div id="container">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-10 ">
                        <div class="widget yellow">
                            <div class="widget-title">
                                <h4><i class="fa fa-calendar"></i>Calendar</h4>
                                <span class="fc-header-title">
                                    <h2 id="calender-current-date"></h2>
                                </span>
                                <!--<h4 class="text-black" id="calender-current-date"></h4>-->

                                <span class="tools">
                                    <a href="javascript:;" class="icon-chevron-down"></a>
                                    <a href="javascript:;" class="icon-remove"></a>
                                </span>
                                <!--<span class="pull-right">
                                    <a href="" class="button btn-sm" ng-click="getAddEventModal()">Add Event</a>
                                </span>-->
                            </div>
                            <div class="widget-body">
                                <div class="full-calender-header">

                                    <div class="pull-left">
                                        <div class="btn-group ">
                                            <button class="btn btn-success " id="calender-prev"><i class="fa fa-angle-left"></i></button>
                                            <button class="btn btn-success " id="calender-next"><i class="fa fa-angle-right"></i></button>
                                        </div>

                                    </div>

                                    <div class="pull-left" style="margin-left: 25%; margin-top: -10px">

                                        <!--<h3 class="text-black" id="calender-current-date"></h3>-->
                                    </div>
                                    <div class="pull-right">

                                        <div data-toggle="buttons-radio" class="btn-group">
                                            <button class="btn btn-primary " type="button" id="change-view-month">{{ "month" | translate }}</button>
                                            <button class="btn btn-primary " type="button" id="change-view-week">{{ "week" | translate }}</button>
                                            <button class="btn btn-primary" type="button" id="change-view-day">{{ "day" | translate }}</button>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div id='calendar'></div>

                            </div>
                        </div>


                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<div id="fullCalModal1" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">close</span></button>
                <h4 id="modalTitle1" class="modal-title"></h4>
            </div>
            <div id="modalBody1" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button class="btn btn-primary">Remove</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="fullCalModal" role="dialog" style="display: none;">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <h4 id="modalTitle" class="modal-title"></h4>
                </div>
                <div class="pull-right">
                    <button style="margin-top: -20px" class="btn-sm" data-dismiss="modal" ng-click="CancelClear()" type="submit">X</button>
                </div>
            </div>

                <div class="grid-body no-border">
                    <div class="col-md-12" style="padding: 3%;">
                    <form name="Myform" ng-submit="AddEventByDate(Myform.$valid)" novalidate="novalidate">

                        <div class="row margin-top">
                                <!--<div class="col-md-3">
                                    <button class="btn btn-success " data-dismiss="modal" ng-click="modal_cancel()" type="submit"><i class="fa fa-refresh"></i>Edit Recurrence</button>
                                </div>-->
                                <div class="col-md-4">
                                    <select data-role="dropdownlist" class="form-control input-sm full-width" ng-model="event_object.sims_calendar_time_marker" ng-change="TimeMarkersdemo()">
                                        <option value="" selected disabled>TimeMarkers</option>
                                        <option ng-repeat="cr in Timemarkers_obj" value="{{cr.sims_appl_form_field_value1}}">
                                            {{cr.sims_appl_form_field_value1}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-4" ng-class="{'has-error': !Myform.cmb_categorize.$valid && (Myform.cmb_categorize.$touched || Myform.$submitted) }">
                                    <select name="cmb_categorize" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="event_object.sims_calendar_event_type" ng-change="TimeMarkersdemo(event_object.sims_calendar_event_type)" required>
                                        <option value="" selected disabled>Categorize</option>
                                        <option ng-repeat="tm in Categorize_obj" value="{{tm.sims_appl_parameter}}">
                                            {{tm.sims_appl_form_field_value1}}
                                        </option>
                                    </select>
                                    <p class="help-block" ng-show="Myform.cmb_categorize.$error.required &&(Myform.cmb_categorize.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox check-success">
                                        <input id="Checkbox1" type="checkbox" ng-model="event_object.sims_calendar_event_priority">
                                        <label for="Checkbox1"><b>Set Priority</b></label>
                                    </div>
                                </div>
                            </div>

                        <div class="row margin-top">
                            <div class="col-md-12" id="label1">
                                <label><b>{{event_object.category_desc}}</b></label>
                            </div>
                        </div>
                        <div class="row margin-top">
                            <div class="col-md-12" ng-class="{'has-error': !Myform.txt_subject.$valid && (Myform.txt_subject.$touched || Myform.$submitted) }">
                                <label class="form-label"><b>Subject</b></label>
                                <input id="txt_subject" name="txt_subject" type="text" class="k-textbox input-sm full-width" ng-model="event_object.sims_calendar_event_short_desc" required />
                                <p class="help-block" ng-show="Myform.txt_subject.$error.required &&(Myform.txt_subject.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>
                        </div>
                        <div class="row margin-top">
                            <div class="col-md-12" ng-class="{'has-error': !Myform.txt_desc.$valid && (Myform.txt_desc.$touched || Myform.$submitted) }">
                                <label class="form-label"><b>Description</b></label>
                                ​<textarea name="txt_desc" id="txtArea" class="k-textbox input-sm full-width" rows="5" cols="70" style="resize: none" ng-model="event_object.sims_calendar_event_desc" required></textarea>
                                <p class="help-block" ng-show="Myform.txt_desc.$error.required &&(Myform.txt_desc.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>
                        </div>
                        <div class="row margin-top">

                                <div class="col-md-4" ng-class="{'has-error': !Myform.dt_calendar.$valid && (Myform.dt_calendar.$touched || Myform.$submitted) }">
                                    <label class="form-label"><b>Start Time</b></label>

                                    <!--<div class="input-append success date col-md-4 no-padding" data-datepicker="true" style="width: auto">-->
                                        <input name="dt_calendar" id="start_date" type="text" class="k-textbox input-sm full-width" ng-change="date_change(event_object.sims_calendar_date)" ng-model="event_object.sims_calendar_date" required>
                                       <!-- <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                   
                                    <p class="help-block" ng-show="Myform.dt_calendar.$error.required &&(Myform.dt_calendar.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>
                                </div>
                               
                                  <div class="col-md-4">
                                    <label class="form-label"><b>End Time</b></label>

                                    <!--<div class="input-append success date col-md-4 no-padding" data-datepicker="true" style="width: auto">-->
                                        <input type="text" id="end_date" placeholder="Select Date" name="dt_calender_end_date" ng-model="event_object.sims_calendar_date_end_date" class="k-textbox input-sm full-width" ">
                                       <!-- <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                    </div>-->
                                </div>
                                
                                <div class="col-md-2">
                                    <label class="form-label">Status</label>

                                    <div class="checkbox check-success">
                                        <input id="check_house_status" type="checkbox" ng-model="event_object.sims_calendar_event_status">
                                        <label for="check_house_status"></label>
                                    </div>
                                </div>
                            </div>


                        <div class="row margin-top">

                                <div class="col-md-4">
                                    <div class="input-group transparent clockpicker">
                                        <input type="text" class="form-control input-sm full-width" placeholder="Pick a time" ng-model="event_object.sims_calendar_event_start_time" ng-change="checktime(event_object.sims_calendar_event_start_time,event_object.sims_calendar_event_end_time)">
                                        <span class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </span>
                                    </div>
                                </div>
                            
                                <div class="col-md-4">
                                    <div class="input-group transparent clockpicker">
                                        <input type="text" class="form-control input-sm full-width" placeholder="Pick a time" ng-model="event_object.sims_calendar_event_end_time" ng-change="checktime(event_object.sims_calendar_event_start_time,event_object.sims_calendar_event_end_time)">
                                        <span class="input-group-addon ">
                                            <i class="fa fa-clock-o"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>


                        <div class="row  margin-top">
                            <div class="col-md-12">
                                <div class="form-actions">
                            <div class="pull-right">
                                <button class="btn btn-success btn-small" ng-hide="true" type="submit">Save</button>
                                <button class="btn btn-primary btn-small" ng-hide="true" ng-click="EventDeleteById()" type="button">Delete</button>
                                <button class="btn btn-white btn-small" data-dismiss="modal" ng-click="CancelClear()" type="button">Cancel</button>
                                <!--<button class="btn btn-white" id="btn" ng-show="false" type="submit">Cancel</button>-->
                                <input id="Checkbox2" type="checkbox" ng-show="false" ng-model="event_object.sims_calendar_event_priority1">

                                <!--<button class="btn btn-primary btn-cons" type="submit"><i class="icon-ok"></i>{{"Save" | translate }}</button>-->
                                <!--<button class="btn btn-white btn-cons" data-dismiss="modal" type="button" ng-click="cancel()">{{"Cancel"| translate }} </button>-->
                            </div>
                                    </div>
                            </div>
                        </div>

                        <br /><br />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    

<link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.css' rel='stylesheet' />


<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.4/jquery.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.4/jquery.min.js'></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>


<script src="assets/js/moment.js"></script>
<script src="assets/plugins/fullcalendar/fullcalendar.min.js"></script>

<!--<script src="assets/plugins/datetimePicker/bootstrap-datetimepicker.min.js"></script>-->
<script src="assets/js/calender-datepicker-id.js"></script>