﻿<!--<link href="assets/plugins/datetimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />-->
<link href="assets/plugins/NewBootstrapCalendar/bootstrap-year-calendar.min.css" rel="stylesheet" />
<link href="assets/plugins/NewBootstrapCalendar/bootstrap-year-calendar.css" rel="stylesheet" />
<style>
    .datepicker {
        z-index: 1151 !important;
    }

    .popover.clockpicker-popover {
        z-index: 1050;
    }
</style>

<div class="loading-middle" ng-hide="display">
    {{ "Loading..." | translate }}
</div>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Staff Calendar" | translate }}</span></h3>
            </div>
            <div class="grid-title no-border">
            </div>

            <div class="grid-body no-border">

                <div id="calendar" class="calendar"></div>

            </div>

        </div>
    </div>
</div>

<div class="calendar-demo">

</div>

<div class="modal fade in" id="fullCalModal" role="dialog" style="display: none;">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <h4 id="modalTitle" class="modal-title"></h4>
                </div>
                <button type="button" class="close" data-dismiss="modal" ng-click="CancelClear()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <!--<div class="pull-right">
                    <button style="margin-top: -20px" class="btn-sm" data-dismiss="modal" ng-click="CancelClear()" type="submit">X</button>
                </div>-->
            </div>
            <div class="grid simple">
                <div class="grid-body no-border">
                    <form name="Myform" ng-submit="AddEventByDate(Myform.$valid)" novalidate="novalidate">
                        <div class="row">
                            <div class="col-md-12">&nbsp</div>
                        </div>
                        <div class="row form-group">
                            <div class="cold-md-12">
                                <!--<div class="col-md-3">
                                    <button class="btn btn-success " data-dismiss="modal" ng-click="modal_cancel()" type="submit"><i class="fa fa-refresh"></i>Edit Recurrence</button>
                                </div>-->
                                <div class="col-md-3">
                                    <select style="width: 100%" class="form-control input-sm full-width" data-role="dropdownlist
                                             ng-model=" event_object.sims_calendar_time_marker" ng-change="TimeMarkersdemo()">
                                        <option value="" selected disabled>TimeMarkers</option>
                                        <option ng-repeat="cr in Timemarkers_obj" value="{{cr.sims_appl_form_field_value1}}">
                                            {{cr.sims_appl_form_field_value1}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-3" ng-class="{'has-error': !Myform.cmb_categorize.$valid && (Myform.cmb_categorize.$touched || Myform.$submitted) }">
                                    <select name="cmb_categorize" style="width: 100%" class="form-control input-sm full-width" data-role="dropdownlist
                                             ng-model=" event_object.sims_calendar_event_type" ng-change="TimeMarkersdemo(event_object.sims_calendar_event_type)" required>
                                        <option value="" selected disabled>Categorize</option>
                                        <option ng-repeat="tm in Categorize_obj" value="{{tm.sims_appl_parameter}}">
                                            {{tm.sims_appl_form_field_value1}}
                                        </option>
                                    </select>
                                    <p class="help-block" ng-show="Myform.cmb_categorize.$error.required &&(Myform.cmb_categorize.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkbox check-success">
                                        <input id="Checkbox1" class="k-checkbok" type="checkbox" ng-model="event_object.sims_calendar_event_priority">
                                        <label for="Checkbox1"><b>Set Priority</b></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12" id="label1">
                                <label><b>{{event_object.category_desc}}</b></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" ng-class="{'has-error': !Myform.txt_subject.$valid && (Myform.txt_subject.$touched || Myform.$submitted) }">
                                <label class="form-label"><b>Subject</b></label>
                                <input id="txt_subject" name="txt_subject" type="text" class="k-textbox input-sm full-width" ng-model="event_object.sims_calendar_event_short_desc" required />
                                <p class="help-block" ng-show="Myform.txt_subject.$error.required &&(Myform.txt_subject.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" ng-class="{'has-error': !Myform.txt_desc.$valid && (Myform.txt_desc.$touched || Myform.$submitted) }">
                                <label class="form-label"><b>Description</b></label>
                                ​<textarea name="txt_desc" id="txtArea" rows="5" cols="70" style="resize: none" ng-model="event_object.sims_calendar_event_desc" required></textarea>
                                <p class="help-block" ng-show="Myform.txt_desc.$error.required &&(Myform.txt_desc.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4" ng-class="{'has-error': !Myform.dt_calendar.$valid && (Myform.dt_calendar.$touched || Myform.$submitted) }">
                                    <label class="form-label"><b>Start Time</b></label>
                                    <div class="col-md-4 no-padding" style="width: auto">
                                        <input name="event-start-date" id="event-start-date" type="text" class="k-textbox" ng-model="event_object.sims_calendar_date" required>
                                    </div>
                                    <p class="help-block" ng-show="Myform.dt_calendar.$error.required &&(Myform.dt_calendar.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>

                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-4">
                                    <label class="form-label"><b>End Time</b></label>
                                    <div class="col-md-4 no-padding" style="width: auto">
                                        <input name="event-start-date" id="event-start-date" type="text" class="k-textbox" ng-model="event_object.sims_calendar_date" required>
                                        </div>
                                        <!--<div class="input-append success date col-md-4 no-padding" data-datepicker="true" style="width: auto">
                                            <input type="text" id="Text1" placeholder="Select Date" name="creation_date" class="form-control"">
                                            <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                        </div>-->
                                    </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-2">
                                    <label class="form-label">Status</label>

                                    <div class="checkbox check-success">
                                        <input id="check_house_status" type="checkbox" class="k-checkbok" ng-model="event_object.sims_calendar_event_status">
                                        <label for="check_house_status"></label>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="input-group transparent clockpicker col-md-12">
                                        <input type="text" class="form-control" placeholder="Pick a time" ng-model="event_object.sims_calendar_event_start_time" ng-change="checktime(event_object.sims_calendar_event_start_time,event_object.sims_calendar_event_end_time)">
                                        <span class="input-group-addon ">
                                            <i class="fa fa-clock-o"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-4">
                                    <div class="input-group transparent clockpicker col-md-12">
                                        <input type="text" class="form-control" placeholder="Pick a time" ng-model="event_object.sims_calendar_event_end_time" ng-change="checktime(event_object.sims_calendar_event_start_time,event_object.sims_calendar_event_end_time)">
                                        <span class="input-group-addon ">
                                            <i class="fa fa-clock-o"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="pull-right">
                                <button class="btn btn-success" type="submit">Save</button>
                                <button class="btn btn-primary" ng-click="EventDeleteById()" ng-show="btn_delete" type="button">Delete</button>
                                <button class="btn btn-white" data-dismiss="modal" ng-click="CancelClear()" type="button">Cancel</button>
                                <!--<button class="btn btn-white" id="btn" ng-show="false" type="submit">Cancel</button>-->
                                <input id="Checkbox2" type="checkbox" class="k-checkbok" ng-show="false" ng-model="event_object.sims_calendar_event_priority1">

                                <!--<button class="btn btn-primary btn-cons" type="submit"><i class="icon-ok"></i>{{"Save" | translate }}</button>-->
                                <!--<button class="btn btn-white btn-cons" data-dismiss="modal" type="button" ng-click="cancel()">{{"Cancel"| translate }} </button>-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="context-menu">
</div>
<div class="modal modal-fade" id="event-modal" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">
                    Event
                </h4>
            </div>
            <div class="modal-body">
                <input type="hidden" name="event-index" value="1">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="min-date" class="col-sm-4 control-label">Name</label>
                        <div class="col-sm-7">
                            <input name="event-name" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="min-date" class="col-sm-4 control-label">Location</label>
                        <div class="col-sm-7">
                            <input name="event-location" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="min-date" class="col-sm-4 control-label">Dates</label>
                        <div class="col-sm-7">
                            <div class="input-group input-daterange" data-provide="datepicker">
                                <input name="event-start-date" type="text" class="form-control" value="2012-04-05">
                                <span class="input-group-addon">to</span>
                                <input name="event-end-date" type="text" class="form-control" value="2012-04-19">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="save-event">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

<script src="assets/plugins/NewBootstrapCalendar/bootstrap-year-calendar.min.js"></script>
<script src="assets/plugins/NewBootstrapCalendar/bootstrap-year-calendar.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>

