﻿<link href="assets/css/GradeBookStyle.css" rel="stylesheet" />
<link href="assets/plugins/MultiSelect/multiple-select.css" rel="stylesheet" />

<style>
    /*.scroll-wrapper > .scroll-content::-webkit-scrollbar {
        width:5px;
    }*/
    .scroll-wrapper {
        height: 600px;
    }
</style>

<style>
    .sortorder:after {
        content: '\25b2';
    }

    .sortorder.reverse:after {
        content: '\25bc';
    }

    #subjectDiv .ms-drop {
        z-index: 50000 !important;
    }
</style>



<style>
    .cur_gb_name.main {
        background-color: #9ef79d;
        border: 1px solid;
        padding: 1px 5px 1px 5px;
    }

    .cur_gb_cat_name.sub {
        background-color: #a6d3f5;
        border: 1px solid;
        padding: 1px 5px 1px 5px;
    }

    .cur_gb_cat_assign_name.subsub {
        border: 1px solid;
        background-color: #d9f4fa;
        padding: 1px 5px 1px 5px;
    }

    .headcolor {
        background-color: black;
    }

        .headcolor.head1 {
            border: 1px solid;
            border-color: white;
            border-width: 1px;
            background-color: #fff;
        }

    .headcolor1 {
        color: #fff;
    }

        .headcolor1.a {
            color: #ee5315;
        }
</style>


<div class="grid simple">
    <div class="grid-body no-border">
        <div class="row">
            <div class="col-md-12" style="padding-left: 04px; padding-right: 04px; padding-top: 04px; padding-bottom: 0px">
                <div style="padding-left: 0px; margin-bottom: 0px">
                    <div class="container-fluid">
                        <div class="row row-offcanvas row-offcanvas-left">
                            <div id="nav-section">
                                <div role="navigation" style="height: 50px !important">
                                    <ul class="nav" style="padding-left: 0px; display: inline-block; height: 50px !important; list-style: none; width: 100%">
                                        <li class="li headcolor" ng-class="{'head1': headcolor=='1'}">
                                            <a href="" ng-click="SyllabusCreationShow('1');">
                                                <span class="icon fa fa-book sp"></span>&nbsp;<span class="headcolor1" ng-class="{'a': headcolor=='1'}">{{"Syllabus"|translate}}</span>
                                            </a>
                                        </li>
                                        <!--<li class="li headcolor" ng-class="{'head1': headcolor=='2'}">
                                            <a href="" ng-click="UnitCreationShow('2');">
                                                <span class="icon fa fa-bookmark-o sp"></span>&nbsp;<span class="headcolor1" ng-class="{'a': headcolor=='2'}">{{"Unit"|translate}}</span>
                                            </a>
                                        </li>
                                        <li class="li headcolor" ng-class="{'head1': headcolor=='3'}">
                                            <a href="" ng-click="TopicCreationShow('3');">
                                                <span class="icon fa fa-bookmark-o sp"></span>&nbsp;<span class="headcolor1" ng-class="{'a': headcolor=='3'}">{{"Topic"|translate}}</span>
                                            </a>
                                        </li>-->
                                        <!--<li class="li headcolor" ng-class="{'head1': headcolor=='4'}">
                                            <a href="" ng-click="SubTopicCreationShow('4');">
                                                <span class="icon fa fa-bookmark-o sp"></span>&nbsp;<span class="headcolor1" ng-class="{'a': headcolor=='4'}">{{"Sub Topic"|translate}}</span>
                                            </a>
                                        </li>-->

                                        <li class="li headcolor" ng-class="{'head1': headcolor=='5'}" style="width: 180px">
                                            <a href="" ng-click="ComposeLessonShow('5');">
                                                <span class="icon fa fa-bookmark-o sp"></span>&nbsp;<span class="headcolor1" ng-class="{'a': headcolor=='5'}">{{"Compose Lesson Plan"|translate}}</span>
                                            </a>
                                        </li>

                                        <li class="li headcolor" ng-class="{'head1': headcolor=='6'}" style="width: 180px">
                                            <a href="" ng-click="ApproveLessonShow('6');">
                                                <span class="icon fa fa-bookmark-o sp"></span>&nbsp;<span class="headcolor1" ng-class="{'a': headcolor=='6'}">{{"Approve Lesson Plan"|translate}}</span>
                                            </a>
                                        </li>

                                        <li class="li headcolor" ng-class="{'head1': headcolor=='7'}" style="width: 100px">
                                            <a href="" ng-click="viewApproveLessonShow('7');">
                                                <span class="icon fa fa-bookmark-o sp"></span>&nbsp;<span class="headcolor1" ng-class="{'a': headcolor=='7'}">{{"View"|translate}}</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-12" ng-show="syllabusscreen">

                <div class="col-md-12">
                    <form name="SyllabusDetails" ng-submit="Submit(SyllabusDetails.$valid)" novalidate>
                        <div class="row">
                            <div class="col-md-12">&nbsp;
                            </div>
                                <div class="col-md-12">
                                    <h3>{{"Syllabus"|translate}}</h3>
                                    <div class="row">
                                    <div class="col-md-3">
                                        <label style="color: black; font-size: 12px">{{"Curriculum"|translate}}</label>

                                        <select id="Select1" data-role="dropdownlist" class="form-control input-sm full-width" name="cmb_cur_code" ng-model="edt.sims_cur_code" ng-change="getacyr(edt.sims_cur_code)"
                                                ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in curriculum" required>
                                            <option value="" selected disabled>Please Select</option>
                                        </select>
                                        <p class="help-block" ng-show="SyllabusDetails.cmb_cur_code.$error.required &&(SyllabusDetails.cmb_cur_code.$touched || SyllabusDetails.$submitted)" style="color: red">
                                            This field is required
                                        </p>


                                    </div>

                                    <div class="col-md-3">
                                        <label style="color: black; font-size: 12px">{{"Academic Year"|translate}}</label>

                                        <select id="Select2" name="cmb_academic_year" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.sims_academic_year" ng-change="get();"
                                                ng-options="year1.sims_academic_year as year1.sims_academic_year_desc for year1 in Academic_year" required>
                                            <option value="" selected disabled>Please Select</option>
                                        </select>

                                        <p class="help-block" ng-show="SyllabusDetails.cmb_academic_year.$error.required &&(SyllabusDetails.cmb_academic_year.$touched || SyllabusDetails.$submitted)" style="color: red">
                                            This field is required
                                        </p>
                                    </div>

                                    <div class="col-md-3">
                                        <label style="color: black; font-size: 12px">{{"Subject"|translate}}</label>

                                        <select data-role="dropdownlist" class="form-control input-sm full-width" required style="margin-bottom: 0px" ng-model="edt.sims_subject_code" ng-change="getsections(edt.sims_subject_code)"
                                                ng-options="sub.sims_subject_code as sub.sims_subject_name for sub in cmb_subject_name">
                                            <option value="" selected disabled>Please Select</option>
                                        </select>

                                        <p class="help-block" ng-show="SyllabusDetails.Subject.$error.required &&(SyllabusDetails.Subject.$touched || SyllabusDetails.$submitted)" style="color: red">
                                            This field is required
                                        </p>
                                    </div>

                                    <div class="col-md-3">
                                        <label style="color: black; font-size: 12px">{{"Grade"|translate}}</label>


                                        <select id="Select3" name="cmb_grade_code" required data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.sims_grade_code" ng-change="getsection()">
                                            <option value="" selected disabled>Please Select</option>
                                            <option ng-repeat="grade_cod in grade"
                                                    value="{{grade_cod.sims_grade_code}}">
                                                {{grade_cod.sims_grade_name}}
                                            </option>
                                        </select>

                                        <p class="help-block" ng-show="SyllabusDetails.cmb_grade_code.$error.required &&(SyllabusDetails.cmb_grade_code.$touched || SyllabusDetails.$submitted)" style="color: red">
                                            This field is required
                                        </p>

                                    </div>
                                        </div>
                                    <div class="row">
                                    <div class="col-md-3" id="#subjectDiv">
                                        <label style="color: black; font-size: 12px">{{"Section"|translate}}</label>

                                        <select id="cmb_grade" required class="full-width" multiple="multiple" name="cmb_grade" ng-model="edt.sims_section_code" ng-change="get(edt.sims_section_code)"
                                                ng-options="section_cod.sims_section_code as section_cod.sims_section_name for section_cod in section1"></select>
                                    </div>

                                    <div class="col-md-3">
                                        <label style="color: black; font-size: 12px">{{"Month"|translate}}</label>
                                        <select id="txt_sims_syllabus_month" data-role="dropdownlist" class="form-control input-sm full-width" name="txt_sims_syllabus_month" ng-model="edt.sims_month_code"
                                                ng-options="month.month_code as month.month_name for month in MonthObject" required ng-change="gethidesyllabus()">
                                            <option value="" selected disabled>Please Select</option>
                                        </select>

                                        <p class="help-block" ng-show="SyllabusDetails.txt_sims_syllabus_month.$error.required &&(SyllabusDetails.txt_sims_syllabus_month.$touched || SyllabusDetails.$submitted)" style="color: red">
                                            This field is required
                                        </p>


                                    </div>

                                    <div class="col-md-3">
                                        <label style="color: black; font-size: 12px">{{"Created By"|translate}}</label>

                                        <input name="txt_sims_syllabus_created_by" class="k-textbox input-sm full-width" ng-model="edt.sims_syllabus_created_by" ng-maxlength="10" readonly />

                                        <p class="help-block" ng-show="SyllabusDetails.txt_sims_syllabus_created_by.$error.maxlength" style="color: red">
                                            Max Length 10 Characters
                                        </p>
                                    </div>

                                    <div class="col-md-3">
                                        <label style="color: black; font-size: 12px">{{"Remark"|translate}}</label>
                                        <input name="txt_sims_syllabus_remark" class="k-textbox input-sm full-width" ng-model="edt.sims_syllabus_remark" ng-maxlength="250" />

                                        <p class="help-block" ng-show="SyllabusDetails.txt_sims_syllabus_remark.$error.maxlength" style="color: red">
                                            Max Length 250 Characters
                                        </p>
                                    </div>
                                        </div>
                                    <div class="row">
                                    <div class="col-md-3">
                                        <label style="color: black; font-size: 12px">{{"Created Date"|translate}}</label>
                                            <input type="text" name="date" id="created_date" class="k-textbox input-sm full-width" ng-model="edt.sims_syllabus_creation_date" disabled="disabled">
                                        </div>

                                    <div class="col-md-3">
                                        <label style="color: black; font-size: 12px">{{"Status"|translate}}</label>

                                        <div class="checkbox check-success">
                                            <input id="Checkbox1" type="checkbox" value="1" checked="checked" ng-model="edt.sims_syllabus_status">
                                            <label for="chk_term"></label>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <label style="color: black; font-size: 12px">&nbsp;</label>
                                        <div class="pull-right">

                                            <button class="btn btn-primary btn-small" type="button" ng-click="Getsyllabus()"><i class="icon-ok"></i>{{"Preview"| translate }}</button>
                                            <button class="btn btn-primary btn-small" type="submit" ng-disabled="savebtndissyll" ng-show="savebtn"><i class="icon-ok"></i><i class="fa fa-check"></i>&nbsp;{{"Save"| translate }}</button>

                                            <button class="btn btn-primary btn-small" type="button" ng-hide="savebtn" ng-click="Update()"><i class="icon-ok"></i>{{"Update"| translate }}</button>
                                            <button class="btn btn-danger btn-small" type="button" ng-click="DeleteRecord()"><i class="icon-ok"></i>{{"Delete"| translate }}</button>
                                            <button class="btn btn-warning btn-small" type="button" ng-click="btn_cancel_Click()">{{"Reset"| translate }}</button>

                                        </div>
                                    </div>
                                        </div>
                                </div>

                            </div>
                    </form>

                </div>

                <div class="col-md-12" ng-show="syllabus_table">

                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <div style="width: 100%; height: 190px; overflow-x: auto; overflow-y: auto">
                            <table class="table table-bordered  table-condensed" id="fixTable">
                                <thead>
                                    <tr>
                                        <th style="z-index:1">
                                            <div class="checkbox check-success">
                                                <input id="mainchk" type="checkbox" value="1" ng-click="SelectMultipleRecords();">
                                                <label for="mainchk"></label>
                                            </div>
                                        </th>
                                        <th class="semi-bold">{{"MONTH"| translate }}</th>
                                        <th class="semi-bold">{{"CURRICULUM"| translate }}</th>
                                        <th class="semi-bold">{{"YEAR"| translate }}</th>
                                        <th class="semi-bold">
                                            {{"SYLLABUS NAME"| translate }}

                                            <div class="pull-right">
                                                <button type="button" class="btn btn-white btn-small" ng-click="closesyllabus_table()"><b>X</b></button>
                                            </div>
                                        </th>

                                    </tr>
                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    <tr ng-repeat="obj in Get_syllabus_lesson">
                                        <td>
                                            <div class="checkbox check-success">
                                                <input id="{{obj.sims_syllabus_code}}" type="checkbox" value="1" checked="checked" ng-model="obj.syllabus_status">
                                                <label for="{{obj.sims_syllabus_code}}"></label>
                                            </div>
                                        </td>
                                        <td>{{obj.month_name}}</td>
                                        <td>{{obj.sims_cur_name}}</td>
                                        <td>{{obj.sims_academic_year_description}}</td>
                                        <td>{{obj.sims_display_name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <hr style="border-width: 1px; display: block; background-color: #4e8ff6; height: 03px" />
                </div>

                <div class="row">
                    <h3>{{"Unit/Topic"|translate}}</h3>

                    <form name="unitDetails" ng-submit="Submit_topic_data();" novalidate>

                        <div class="row"  ng-repeat="unit in mdata">
   
                           
                            <div class="col-md-2" style="margin-top: 27px;">

                             <i class="fa fa-close" ng-click="glbl_remove($index,mdata);"></i>
                         
                            </div>
                            <div class="col-md-5" style="margin-left: -199px;">
                                <label style="color: black; font-size: 12px">{{"Unit Name"|translate}} </label>

                                <input name="txt_sims_syllabus_unit_name" id="txt_sims_syllabus_unit_name" class="k-textbox input-sm full-width" ng-model="unit.sims_syllabus_unit_name" required ng-maxlength="250" />

                               <!-- <p class="help-block" ng-show="unitDetails.txt_sims_syllabus_unit_name.$error.required &&(unitDetails.txt_sims_syllabus_unit_name.$touched || unitDetails.$submitted)" style="color: red">
                                    This field is required
                                </p>
                                <p class="help-block" ng-show="unitDetails.txt_sims_syllabus_unit_name.$error.maxlength">
                                    Max Legnth 250 Characters
                                </p>-->

                            </div>

                               <div class="col-md-5">
                                <label style="color: black; font-size: 12px">{{"Topic/Sub Topic Name"|translate}} </label>

                                <input name="txt_sims_syllabus_topic_name" id="txt_sims_syllabus_topic_name" class="k-textbox input-sm full-width" ng-model="unit.sims_syllabus_unit_topic_name" required ng-maxlength="250" />

                                <!--<p class="help-block" ng-show="unitDetails.txt_sims_syllabus_topic_name.$error.required &&(unitDetails.txt_sims_syllabus_topic_name.$touched || unitDetails.$submitted)" style="color: red">
                                    This field is required
                                </p>
                                <p class="help-block" ng-show="unitDetails.txt_sims_syllabus_topic_name.$error.maxlength">
                                    Max Legnth 250 Characters
                                </p>-->

                            </div>
                            
                           
                        </div>

                       
                             
                        <div class="row">
                             <div class="col-md-2" ng-hide="true;">
                                <label style="color: black; font-size: 12px">{{"Created By"|translate}}</label>

                                <input class="k-textbox input-sm full-width" ng-model="unit.sims_syllabus_unit_created_by" readonly />
                            </div>

                            <div class="col-md-3" ng-hide="true;">
                                <label style="color: black; font-size: 12px">{{"Creation Date"|translate}}</label>

                                <div>
                                    <input type="text" id="day_wise_date" name="start_date" class="k-textbox input-sm full-width" ng-model="unit.sims_syllabus_unit_creation_date" disabled="disabled">
                                </div>


                            </div>

                            <div class="col-md-1" ng-hide="true;">
                                <label style="color: black; font-size: 12px">{{"Status"|translate}}</label>

                                <div class="checkbox check-success">
                                    <input id="Checkbox3" type="checkbox" value="1" checked="checked" ng-model="unit.sims_syllabus_unit_status">
                                    <label for="Checkbox3"></label>
                                </div>
                            </div>



                            <div class="col-md-12">
                                <label style="color: black; font-size: 12px">&nbsp;</label>
                                <div class="pull-right">
                                     <button type="button" class="btn btn-primary btn-cons btn-small" ng-hide="showclosebtn" ng-click="ADD_data()">{{"ADD"|translate}}</button>
                                    <button class="btn btn-primary btn-small" type="button" ng-click="GetUnitTopic()"><i class="icon-ok"></i>{{"Preview"| translate }}</button>
                            
                                    <button class="btn btn-primary btn-small" type="submit" ng-disabled="savebtndisunit" ng-show="savebtn"><i class="icon-ok"></i><i class="fa fa-check"></i>&nbsp;{{"Save"| translate }}</button>
                                    <button class="btn btn-primary btn-small" type="button" ng-hide="savebtn" ng-click="Update_unit_data()"><i class="icon-ok"></i>{{"Update"| translate }}</button>
                                    <button class="btn btn-danger btn-small" type="button" ng-hide="true" ng-click="DeleteRecordunit()"><i class="icon-ok"></i>{{"Delete"| translate }}</button>
                                    <button class="btn btn-warning btn-small" type="button" ng-click="btn_unit_cancel_Click()">{{"Reset"| translate }}</button>
                                </div>
                            </div>
                        </div>
                    </form>


                     


                  

                </div>

                    <div class="col-md-12" ng-show="unit_tpoic_table">

                    <div id="Div1" class="dataTables_wrapper form-inline">
                        <div style="width: 100%; height: 190px; overflow-x: auto; overflow-y: auto">
                            <table class="table table-bordered  table-condensed" id="Table1">
                                <thead>
                                    <tr>
                                        <th style="z-index:1">
                                            <div class="checkbox check-success">
                                                <input id="Checkbox2" type="checkbox" value="1" ng-click="SelectMultipleRecords();">
                                                <label for="mainchk"></label>
                                            </div>
                                        </th>
                                        <th class="semi-bold">{{"MONTH"| translate }}</th>
                                        <th class="semi-bold">{{"CURRICULUM"| translate }}</th>
                                        <th class="semi-bold">{{"YEAR"| translate }}</th>
                                        <th class="semi-bold">{{"SYLLABUS NAME"| translate }}</th>
                                         <th class="semi-bold">{{"UNIT NAME"| translate }}</th>
                                         <th class="semi-bold">{{"TOPIC NAME"| translate }}</th>
                                        <th>
                                             <div class="pull-right">
                                                <button type="button" class="btn btn-white btn-small" ng-click="closesyllabus_table()"><b>X</b></button>
                                            </div>

                                        </th>

                                    </tr>
                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    <tr ng-repeat="obj in Get_Unit_Topic">
                                        <td>
                                            <div class="checkbox check-success">
                                                <input id="Checkbox5" type="checkbox" value="1" checked="checked" ng-model="obj.syllabus_status">
                                                <label for="{{obj.sims_syllabus_code}}"></label>
                                            </div>
                                        </td>
                                        <td>{{obj.month_name}}</td>
                                        <td>{{obj.sims_cur_name}}</td>
                                        <td>{{obj.sims_academic_year_description}}</td>
                                        <td>{{obj.sims_display_name}}</td>
                                        <td>{{obj.sims_syllabus_unit_name}}</td>
                                        <td>{{obj.sims_syllabus_unit_topic_name}}</td>
                                        <td><button class="btn btn-danger btn-small" type="button"  ng-click="Update_topic_unit_data(obj)"><i class="icon-ok"></i>{{"Delete"| translate }}</button></td>
                                       <!-- <td><button name="updatebtn" ng-click="Update_topic_unit_data(obj)">Delete</button></td>-->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>



           <!--     <div class="col-md-12">
                    <hr style="border-width: 1px; display: block; background-color: #4e8ff6; height: 03px" />
                </div>

                <div class="row">
                    <h3>{{"Topic"|translate}}</h3>

                    <form name="TopicDetails" ng-submit="Submit_topic_data(TopicDetails.$valid)" novalidate>

                        <div class="row">
                            <div class="col-md-3">
                                <label style="color: black; font-size: 12px">{{"Unit Name"|translate}} </label>
                                <select id="Select4" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.sims_syllabus_unit_code"
                                        ng-options="units.sims_syllabus_unit_code as units.sims_syllabus_unit_name for units in  syllabus_uint_name">
                                    <option value="" selected disabled>Please Select </option>
                                </select>

                            </div>

                            <div class="col-md-3">
                                <label style="color: black; font-size: 12px">{{"Existing/New"|translate}} </label>
                                <select id="Select5" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.unitvalues" ng-change="Get_Existing_Topic_Name(edt.unitvalues)">
                                    <option value="Exist">Existing Topic</option>
                                    <option value="New">New Topic</option>

                                </select>

                            </div>

                            <div class="col-md-6">
                                <label style="color: black; font-size: 12px">{{"Topic Name"|translate}} </label>
                                <input name="txt_sims_syllabus_unit_topic_name" id="Text1" class="k-textbox input-sm full-width" ng-model="topic.sims_syllabus_unit_topic_name" required />
                                <p class="help-block" ng-show="TopicDetails.txt_sims_syllabus_unit_topic_name.$error.required &&(TopicDetails.txt_sims_syllabus_unit_topic_name.$touched || TopicDetails.$submitted)" style="color: red">
                                    This field is required
                                </p>
                            </div>

                            
                        </div>

                        <div class="col-md-12">

                            <div class="row">
                            <div class="col-md-3">
                                <label style="color: black; font-size: 12px">{{"Topic Name Short"|translate}}</label>
                                <input name="txt_sims_syllabus_unit_topic_short_desc" class="k-textbox input-sm full-width" ng-model="topic.sims_syllabus_unit_topic_short_desc" />

                            </div>

                            <div class="col-md-3">


                                <label style="color: black; font-size: 12px">{{"Created By"|translate}}</label>

                                <input class="k-textbox input-sm full-width" ng-model="topic.sims_syllabus_unit_topic_created_by" readonly />
                            </div>

                            <div class="col-md-3">
                                <label style="color: black; font-size: 12px">{{"Creation Date"|translate}}</label>

                                <div>
                                    <input type="text" name="start_date" id="inactive_date" class="k-textbox input-sm full-width" ng-model="topic.sims_syllabus_unit_topic_creation_date" disabled="disabled">
                                </div>


                            </div>

                            <div class="col-md-3">
                                <label style="color: black; font-size: 12px">{{"Status"|translate}}</label>

                                <div class="checkbox check-success">
                                    <input id="Checkbox2" type="checkbox" value="1" checked="checked" ng-model="topic.sims_syllabus_unit_topic_status">
                                    <label for="Checkbox2"></label>
                                 </div>
                               
                             
                        </div>
                            </div>
                            <div class="row">
                            <div class="col-md-12">
                                <label style="color: black; font-size: 12px">&nbsp;</label>

                                <div class="pull-right">
                                    <button class="btn btn-primary btn-small" type="submit" ng-disabled="savebtndistopic" ng-show="savebtn"><i class="icon-ok"></i><i class="fa fa-check"></i>&nbsp;{{"Save"| translate }}</button>
                                    <button class="btn btn-primary btn-small" type="button" ng-hide="savebtn" ng-click="Update_topic_data()"><i class="icon-ok"></i>{{"Update"| translate }}</button>
                                    <button class="btn btn-danger btn-small" type="button" ng-click="DeleteRecordunitTopic()"><i class="icon-ok"></i>{{"Delete"| translate }}</button>
                                    <button class="btn btn-warning btn-small" type="button" ng-click="btn_topic_cancel_Click()">{{"Reset"| translate }}</button>
                                </div>
                                </div>
                                </div>
                            </div>
                    </form>
                    
                    <div class="col-md-12" ng-show="Unit_topic_table">

                        <div id="Div2" class="dataTables_wrapper form-inline">
                            <div style="width: 100%; height: 190px; overflow-x: auto; overflow-y: auto">
                                <table class="table table-bordered  table-condensed" id="Table1">
                                    <thead>
                                        <tr>
                                            <th style="z-index:1">
                                                <div class="checkbox check-success">
                                                    <input id="mainchktopic" type="checkbox" value="1" ng-click="SelectMultipleRecordsUnitTopic();" ng-disabled="unitdisabled">
                                                    <label for="mainchktopic"></label>
                                                </div>
                                            </th>

                                            <th class="semi-bold">{{"SYLLABUS"| translate }}</th>
                                            <th class="semi-bold">
                                                {{"UNITS"| translate }}
                                            </th>
                                            <th>
                                                {{"Topic Name"|translate}}
                                                <div class="pull-right">
                                                    <button type="button" class="btn btn-white btn-small" ng-click="closesyllabus_table_topic()"><b>X</b></button>
                                                </div>
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="obj in syllabus_uint_topic_name" ng-click="Edittopic(obj)">
                                            <td>
                                                <div class="checkbox check-success">
                                                    <input id="{{obj.sims_syllabus_unit_code+obj.sims_syllabus_unit_topic_code+$index}}" type="checkbox" value="1" checked="checked" ng-model="obj.syllabus_status_topic" ng-disabled="unitdisabled">
                                                    <label for="{{obj.sims_syllabus_unit_code+obj.sims_syllabus_unit_topic_code+$index}}"></label>
                                                </div>
                                            </td>

                                            <td>{{obj.sims_display_name}}</td>
                                            <td>{{obj.sims_syllabus_unit_name}}</td>
                                            <td>{{obj.sims_syllabus_unit_topic_name}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>-->

            </div>


            <div class="col-md-8" ng-show="SubTopicscreen">
                <form name="SubTopicDetails" ng-submit="Submit_Sub_topic_data(SubTopicDetails.$valid)" novalidate>
                       <div class="row">
                            <div class="col-md-3">
                                <label style="color: black; font-size: 12px">{{"Sub Topic Name"|translate}}</label>
                                <input name="txt_sims_syllabus_unit_sub_topic_name" id="Textarea1" class="k-textbox input-sm full-width" ng-model="sub_topic.sims_syllabus_unit_sub_topic_name" required />
                                <p class="help-block" ng-show="TopicDetails.txt_sims_syllabus_unit_sub_topic_name.$error.required &&(TopicDetails.txt_sims_syllabus_unit_sub_topic_name.$touched || TopicDetails.$submitted)" style="color: red">
                                    This field is required
                                </p>
                            </div>

                            <div class="col-md-3">
                                <label style="color: black; font-size: 12px">{{"Topic Name Short"|translate}}</label>

                                <input name="txt_sims_syllabus_unit_topic_short_desc" class="k-textbox input-sm full-width" ng-model="sub_topic.sims_syllabus_unit_sub_topic_short_desc" />


                            </div>

                            <div class="col-md-3">
                                <label style="color: black; font-size: 12px">{{"Created By"|translate}}</label>

                                <input class="k-textbox input-sm full-width" ng-model="sub_topic.sims_syllabus_unit_sub_topic_created_by" readonly />
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-3">
                                <label style="color: black; font-size: 12px">{{"Creation Date"|translate}}</label>
                                <div>
                                    <input type="text" id="enddate" name="start_date" class="k-textbox input-sm full-width" ng-model="sub_topic.sims_syllabus_unit_sub_topic_creation_date" disabled="disabled">
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label style="color: black; font-size: 12px">{{"Status"|translate}}</label>

                                <div class="checkbox check-success">
                                    <input id="Checkbox4" type="checkbox" value="1" checked="checked" ng-model="sub_topic.sims_syllabus_unit_sub_topic_status">
                                    <label for="Checkbox4"></label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label style="color: black; font-size: 12px">&nbsp;</label>
                                <div class="pull-right">
                                    <button class="btn btn-primary btn-small" type="submit" ng-show="savebtn"><i class="icon-ok"></i><i class="fa fa-check"></i>&nbsp;{{"Save"| translate }}</button>
                                    <button class="btn btn-primary btn-small" type="button" ng-hide="savebtn" ng-click="Update_Sub_topic_data()"><i class="icon-ok"></i>{{"Update"| translate }}</button>

                                    <button class="btn btn-warning btn-small" type="button" ng-click="btn_unit_sub_top_cancel_Click()">{{"Reset"| translate }}</button>
                                </div>
                            </div>
                        </div>

                </form>
            </div>

            <div class="col-md-12" ng-show="ComposeSessonscreen">
                <form name="composeLessonPlan">
                    <div class="row">
                        <!--<div class="col-md-12"  >

                            <div class="col-md-3"  >
                                <label style="color: black; font-size: 12px">{{"Curriculum"|translate}}</label>

                                <select id="Select6" class="form-control" name="cmb_cur_code" ng-model="edt.sims_cur_code" ng-change="getacyr(edt.sims_cur_code)"
                                    ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in curriculum" required>
                                    <option value="" selected disabled>Please Select</option>
                                </select>
                                <p class="help-block" ng-show="SyllabusDetails.cmb_cur_code.$error.required &&(SyllabusDetails.cmb_cur_code.$touched || SyllabusDetails.$submitted)" style="color: red">
                                    This field is required
                                </p>
                            </div>

                            <div class="col-md-3"  >
                                <label style="color: black; font-size: 12px">{{"Academic Year"|translate}}</label>

                                <select id="Select7" name="cmb_academic_year" class="form-control" ng-model="edt.sims_academic_year" ng-change="getsections(edt.sims_cur_code,edt.sims_academic_year);"
                                    ng-options="year1.sims_academic_year as year1.sims_academic_year_desc for year1 in Academic_year" required>
                                    <option value="" selected disabled>Please Select</option>
                                </select>

                                <p class="help-block" ng-show="SyllabusDetails.cmb_academic_year.$error.required &&(SyllabusDetails.cmb_academic_year.$touched || SyllabusDetails.$submitted)" style="color: red">
                                    This field is required
                                </p>
                            </div>


                            <div class="col-md-3"  >
                                <label style="color: black; font-size: 12px">{{"Subject"|translate}}</label>

                                <select id="Select10" name="Subject" class="form-control" required style="margin-bottom: 0px; height: 40px" ng-model="edt.sims_subject_code" ng-change="get()"
                                        ng-options="sub.sims_subject_code as sub.sims_subject_name for sub in cmb_subject_name">
                                    <option value="" selected disabled>Please Select</option>
                                </select>

                                <p class="help-block" ng-show="SyllabusDetails.Subject.$error.required &&(SyllabusDetails.Subject.$touched || SyllabusDetails.$submitted)" style="color: red">
                                    This field is required
                                </p>
                            </div>

                            <div class="col-md-3"  >
                                <label style="color: black; font-size: 12px">{{"Grade"|translate}}</label>


                                <select id="Select8" name="cmb_grade_code" required class="form-control" ng-model="edt.sims_grade_code" ng-change="getsection()">
                                    <option value="" selected disabled>Please Select</option>
                                    <option ng-repeat="grade_cod in grade"
                                        value="{{grade_cod.sims_grade_code}}">{{grade_cod.sims_grade_name}}
                                    </option>
                                </select>

                                <p class="help-block" ng-show="SyllabusDetails.cmb_grade_code.$error.required &&(SyllabusDetails.cmb_grade_code.$touched || SyllabusDetails.$submitted)" style="color: red">
                                    This field is required
                                </p>

                            </div>


                        </div>-->


                        <div id="Div3" class="dataTables_wrapper form-inline">
                            <div style="width: 100%; height: 200px; overflow-x: auto; overflow-y: auto">
                                <table class="table table-bordered  table-condensed" id="Table2">
                                    <thead>
                                        <tr>
                                            <th style="z-index:1000">&nbsp;</th>
                                            <th class="semi-bold">{{"MONTH"| translate }}</th>
                                            <th class="semi-bold">{{"CURRICULUM"| translate }}</th>
                                            <th class="semi-bold">{{"YEAR"| translate }}</th>
                                            <th class="semi-bold">{{"SUBJECT"| translate }}</th>
                                            <th class="semi-bold">{{"GRADE"| translate}}</th>
                                            <th class="semi-bold">{{"SECTION"| translate}}</th>
                                            </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="obj in lesson_for_compose"    ng-style="{'background-color': obj.row_color}">
                                         <td>
                                             <button type="button" class="btn btn-white btn-small" ng-click="Getsyllabus_topic_subtopic(obj)">{{"Preview"|translate}}</button>
                                         </td>
                                               <td>{{obj.month_name}}</td>
                                            <td>{{obj.sims_cur_name_en}}</td>
                                            <td>{{obj.sims_academic_year_description}}</td>
                                            <td>{{obj.sims_subject_name_en}}</td>
                                            <td>{{obj.sims_grade_name_en}}</td>
                                            <td>{{obj.sims_section_name}}</td>
                                            </tr>

                                    </tbody>

                                </table>
                            </div>

                        </div>

                        <div class="col-md-12">

                            <!--<div class="col-md-3"  >
                                <label style="color: black; font-size: 12px">{{"Section"|translate}}</label>

                                <select id="Select9" name="cmb_section_code" class="form-control" ng-model="edt.sims_section_code"
                                        ng-options="section_cod.sims_section_code as section_cod.sims_section_name for section_cod in section1" required>
                                    <option value="" selected disabled>Please Select</option>
                                </select>

                                <p class="help-block" ng-show="SyllabusDetails.cmb_section_code.$error.required &&(SyllabusDetails.cmb_section_code.$touched || SyllabusDetails.$submitted)" style="color: red">
                                    This field is required
                                </p>


                            </div>

                            <div class="col-md-3"  >
                                <label style="color: black; font-size: 12px">{{"Start Date"|translate}}</label>

                                <div class="input-append success date col-md-9 no-padding" data-datepicker="true">
                                    <input type="text" name="start_date" class="form-control " ng-model="edt.sims_syllabus_start_date">
                                    <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                </div>


                            </div>

                            <div class="col-md-3"  >
                                <label style="color: black; font-size: 12px">{{"End Date"|translate}}</label>

                                <div class="input-append success date col-md-9 no-padding" data-datepicker="true">
                                    <input type="text" name="end_date" class="form-control " ng-model="edt.sims_syllabus_end_date">
                                    <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                </div>

                            </div>

                            <div class="col-md-3"  >
                                <div class="pull-right">
                                    <label style="color: black; font-size: 12px">&nbsp;</label>
                                    <button class="btn btn-primary" style="height: 34px" type="button" ng-click="Getsyllabus_topic_subtopic();">{{"Preview"|translate}}</button>
                                    <button class="btn btn-warning" style="height: 34px" type="button" ng-click="Cancel_topic_subtopic();">{{"Reset"|translate}}</button>
                                </div>
                            </div>-->


                            <div class="col-md-12">
                                <hr style="border-width: 1px; display: block; background-color: #4e8ff6; height: 03px" />
                            </div>

                            <div class="col-md-12" ng-show="busy" style="text-align: center">

                                <img src="assets/theme/img/loading.gif" />


                            </div>

                            <table class="table table-bordered" style="padding-top: 02px;">
                                <tbody>
                                    <tr>
                                        <th style="width: 25%;">{{"Unit Details"|translate}}</th>
                                        <td colspan="2">
                                            <textarea rows="2" class="k-textbox  full-width" ng-model="lesson_plan[0].sims_syllabus_unit_name" readonly="readonly" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="width: 25%;">{{"Topic and Sub Topic Details"|translate}}</th>
                                        <td colspan="2">
                                            <textarea rows="3" class="k-textbox  full-width" ng-model="lesson_plan[0].sims_syllabus_unit_topic_name" readonly="readonly" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="width: 25%">{{"Learning Experiences"|translate}}</th>
                                        <td colspan="2">
                                            <textarea rows="3" class="k-textbox  full-width" ng-model="lesson_plan[0].sims_syllabus_lesson_plan_description" />
                                        </td>
                                    </tr>
                                    <tr>
                                       <th style="width: 25%">
                                            {{"No Of Periods"|translate}}&nbsp; : &nbsp; </th>
                                        <td colspan="2">
                                            <input class="input-sm" name="no_of_periods_compose" ng-model="lesson_plan[0].sims_syllabus_lesson_plan_no_of_periods" style="width: 120px" ng-pattern="/^\+?\d+$/" />
                                            <p style="color:red" class="help-block" ng-show="composeLessonPlan.no_of_periods_compose.$error.pattern && (composeLessonPlan.no_of_periods_compose.$touched || composeLessonPlan.$submitted)">
                                                Enter Only Digits
                                            </p>
                                           </td>
                                        </tr> 
                                        <tr>
                                            <th style="width: 25%">
                                            {{"No Of Exercise To Be Completed"|translate}}&nbsp; : &nbsp; </th>
                                            <td colspan="2">
                                            <input class="input-sm" name="no_of_exercise_compose" ng-model="lesson_plan[0].sims_syllabus_lesson_plan_no_of_exercise" style="width: 120px" ng-pattern="/^\+?\d+$/" />
                                            <p style="color:red;margin-left: 432px;" class="help-block" ng-show="composeLessonPlan.no_of_exercise_compose.$error.pattern && (composeLessonPlan.no_of_exercise_compose.$touched || composeLessonPlan.$submitted)">
                                                Enter Only Digits
                                            </p>
                                       </td>
                                    </tr>
                                    <tr>
                                        <th style="width: 25%">{{"Activities(Specify The Activity(s) To Be Completed)"|translate}}</th>
                                        <td colspan="2">
                                            <textarea rows="1" class="k-textbox  full-width" name="no_of_activity_compose" ng-model="lesson_plan[0].sims_syllabus_lesson_plan_no_of_activity" />

                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="width: 25%">{{"Teaching Aids To Be Used"|translate}}</th>
                                        <td colspan="2">
                                            <textarea rows="2" class="k-textbox  full-width" ng-model="lesson_plan[0].sims_syllabus_lesson_plan_addl_requirement" />
                                        </td>
                                    </tr>

                                    <!--  <tr>

                                          <th colspan="3" style="text-align: center">Minimum % Of The Question To Be Completed In The Class &nbsp; : &nbsp;
                                              <input class="input-sm" />
                                          </th>
                                      </tr>
                                     -->
                                    <tr>
                                        <th style="width: 25%">{{"Home Work"|translate}}</th>
                                        <td colspan="2">
                                            <textarea rows="1" name="no_of_homework_compose" class="k-textbox  full-width" ng-model="lesson_plan[0].sims_syllabus_lesson_plan_no_of_homework" />

                                        </td>
                                    </tr>

                                    <tr>

                                        <th style="width: 25%">
                                            {{"No.Of Class Test Planned(For This Lesson)"|translate}}
                                        </th>
                                        <td colspan="2">
                                            <textarea rows="1" ng-pattern="/^\+?\d+$/" name="no_of_testPlanned_compose" class="k-textbox full-width" ng-model="lesson_plan[0].sims_syllabus_lesson_plan_no_of_weekly_test" />

                                            <span style="color:red" class="help-block" ng-show="composeLessonPlan.no_of_testPlanned_compose.$error.pattern && (composeLessonPlan.no_of_testPlanned_compose.$touched || composeLessonPlan.$submitted)">
                                                Enter Only Digits
                                            </span>

                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                            
                            <div class="row">
                                <div class="col-md-3">
                                    <b style="color:red">{{"File Limit 2 MB"|translate}}</b> {{"Attach File"|translate}} &nbsp;: &nbsp
                                </div>
                                <div class="col-md-3">
                                    <input class="input-sm full-width" ng-model="lesson_plan[0].sims_syllabus_lesson_plan_doc_path" />
                                </div>
                                <div class="col-md-3">
                                     <input type="file" readonly="readonly" id="file"  name="file" onchange="angular.element(this).scope().file_changed(this,'sims_student_image')"
                                       ng-files="getTheFiles($files)" accept="image/*" required style="float: initial; width: 120px;height:30px" ng-hide="true" />
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-primary label label-important btn-small" type="button" onclick="document.getElementById('file').click();"><i class="fa fa-cloud-upload"></i>{{"Upload"|translate}}</button>
                                    &nbsp;
                                    <button type="button" class="btn btn-primary btn-small" ng-disabled="lesson_plan[0].checkedvalues=='A'" ng-click="Submit_compose_lesson_plan(lesson_plan[0])">{{"Submit"|translate}}</button>
                                &nbsp;<button type="button" class="btn btn-primary btn-small" ng-disabled="lesson_plan[0].checkedvalues=='B'" ng-click="Update_compose_lesson_plan(lesson_plan[0])">{{"Update"|translate}}</button>
                                    </div> 

                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-12" ng-show="ApproveLessonscreen">
                <!--  <form name="SubTopicDetails" ng-submit="Submit_Sub_topic_data(SubTopicDetails.$valid)" novalidate>-->
                <div class="row">
                    <!--<div class="col-md-12"  >

                        <div class="col-md-3"  >
                            <label style="color: black; font-size: 12px">{{"Curriculum"|translate}}</label>

                            <select id="Select11" class="form-control" name="cmb_cur_code" ng-model="edt.sims_cur_code" ng-change="getacyr(edt.sims_cur_code)"
                                ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in curriculum" required>
                                <option value="" selected disabled>Please Select</option>
                            </select>
                            <p class="help-block" ng-show="SyllabusDetails.cmb_cur_code.$error.required &&(SyllabusDetails.cmb_cur_code.$touched || SyllabusDetails.$submitted)" style="color: red">
                                This field is required
                            </p>
                        </div>

                        <div class="col-md-3"  >
                            <label style="color: black; font-size: 12px">{{"Academic Year"|translate}}</label>

                            <select id="Select12" name="cmb_academic_year" class="form-control" ng-model="edt.sims_academic_year" ng-change="getsections(edt.sims_cur_code,edt.sims_academic_year);"
                                ng-options="year1.sims_academic_year as year1.sims_academic_year_desc for year1 in Academic_year" required>
                                <option value="" selected disabled>Please Select</option>
                            </select>

                            <p class="help-block" ng-show="SyllabusDetails.cmb_academic_year.$error.required &&(SyllabusDetails.cmb_academic_year.$touched || SyllabusDetails.$submitted)" style="color: red">
                                This field is required
                            </p>
                        </div>

                        <div class="col-md-3"  >
                            <label style="color: black; font-size: 12px">{{"Grade"|translate}}</label>


                            <select id="Select13" name="cmb_grade_code" required class="form-control" ng-model="edt.sims_grade_code" ng-change="getsection(edt.sims_cur_code,edt.sims_academic_year,edt.sims_grade_code)">
                                <option value="" selected disabled>Please Select</option>
                                <option ng-repeat="grade_cod in grade"
                                    value="{{grade_cod.sims_grade_code}}">{{grade_cod.grade_code_name}}
                                </option>
                            </select>

                            <p class="help-block" ng-show="SyllabusDetails.cmb_grade_code.$error.required &&(SyllabusDetails.cmb_grade_code.$touched || SyllabusDetails.$submitted)" style="color: red">
                                This field is required
                            </p>

                        </div>

                        <div class="col-md-3"  >
                            <label style="color: black; font-size: 12px">{{"Section"|translate}}</label>

                            <select id="Select14" name="cmb_section_code" class="form-control" ng-model="edt.sims_section_code" ng-change="get(edt.sims_section_code)"
                                ng-options="section_cod.sims_section_code as section_cod.sims_section_name_en for section_cod in section1" required>
                                <option value="" selected disabled>Please Select</option>
                            </select>

                            <p class="help-block" ng-show="SyllabusDetails.cmb_section_code.$error.required &&(SyllabusDetails.cmb_section_code.$touched || SyllabusDetails.$submitted)" style="color: red">
                                This field is required
                            </p>


                        </div>
                    </div>-->

                    <div class="col-md-12">

                        <!--<div class="col-md-3"  >
                            <label style="color: black; font-size: 12px">{{"Subject"|translate}}</label>

                            <select id="Select15" name="Subject" class="form-control" required style="margin-bottom: 0px; height: 40px" ng-model="edt.sims_subject_code" ng-change="select_grd_mult(edt.sims_subject_code)"
                                ng-options="sub.sims_subject_code as sub.sims_subject_name_en for sub in cmb_subject_name">
                                <option value="" selected disabled>Please Select</option>
                            </select>

                            <p class="help-block" ng-show="SyllabusDetails.Subject.$error.required &&(SyllabusDetails.Subject.$touched || SyllabusDetails.$submitted)" style="color: red">
                                This field is required
                            </p>
                        </div>

                        <div class="col-md-3"  >
                            <label style="color: black; font-size: 12px">{{"Start Date"|translate}}</label>

                            <div class="input-append success date col-md-9 no-padding" data-datepicker="true">
                                <input type="text" name="start_date" class="form-control " ng-model="edt.sims_syllabus_start_date">
                                <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                            </div>


                        </div>

                        <div class="col-md-3"  >
                            <label style="color: black; font-size: 12px">{{"End Date"|translate}}</label>

                            <div class="input-append success date col-md-9 no-padding" data-datepicker="true">
                                <input type="text" name="end_date" class="form-control " ng-model="edt.sims_syllabus_end_date">
                                <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                            </div>

                        </div>

                        <div class="col-md-3"  >
                            <div class="pull-right">
                                <label style="color: black; font-size: 12px">&nbsp;</label>
                                <button class="btn btn-primary" style="height: 34px" type="button" ng-click="Getsyllabus_Approve_data();">{{"Preview"|translate}}</button>
                                <button class="btn btn-warning" style="height: 34px" type="button" ng-click="Cancel_Approve_data();">{{"Reset"|translate}}</button>
                            </div>
                        </div>-->

                        <div id="Div4" class="dataTables_wrapper form-inline">
                            <div style="width: 100%; height: 200px; overflow-x: auto; overflow-y: auto">
                                <table class="table table-bordered  table-condensed" id="Table3">
                                    <thead>
                                        <tr>
                                            <th class="semi-bold" width="6%" style="z-index:1000">&nbsp;</th>
                                            <th class="semi-bold" width="8%">{{"MONTH"| translate }}</th>
                                            <th class="semi-bold" width="8%">{{"CURRICULUM"| translate }}</th>
                                            <th class="semi-bold" width="10%">{{"YEAR"| translate }}</th>
                                            <th class="semi-bold" width="15%">{{"SUBJECT"| translate }}</th>
                                            <th class="semi-bold" width="20%">{{"GRADE/SECTION"| translate}}</th>
                                            <th class="semi-bold" width="10%">{{"START DATE"| translate}}</th>
                                            <th class="semi-bold" width="10%">{{"END DATE"| translate}}</th>
                                            <th class="semi-bold" width="18%">{{"CREATED BY"| translate}}</th>


                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="obj in lesson_approval_data"   ng-style="{'background-color': obj.row_color}">
                                           
                                            <td>
                                                <button type="button" class="btn btn-white btn-small" ng-click="Getsyllabus_Approve_data(obj)">{{"Preview"|translate}}</button>
                                            </td>
                                             <td>{{obj.month_name}}</td>
                                            <td>{{obj.sims_cur_name}}</td>
                                            <td>{{obj.sims_academic_year_description}}</td>
                                            <td>{{obj.sims_subject_name}}</td>
                                            <td>{{obj.sims_grade_name}}</td>
                                            <td>{{obj.sims_syllabus_start_date}}</td>
                                            <td>{{obj.sims_syllabus_end_date}}</td>
                                            <td>{{obj.sims_syllabus_created_name}}</td>


                                        </tr>

                                    </tbody>

                                </table>
                            </div>

                        </div>

                        <div class="col-md-12">
                            <hr style="border-width: 1px; display: block; background-color: #4e8ff6; height: 03px" />
                        </div>

                        <div class="col-md-12" ng-show="busy" style="text-align: center">

                            <img src="assets/theme/img/loading.gif" />


                        </div>

                        <table class="table table-bordered" style="padding-top: 02px;">
                            <tbody>


                                <tr>
                                    <th style="width: 25%;">{{"Unit Details"|translate}}</th>
                                    <td colspan="2">
                                        <textarea rows="2" class="k-textbox input-sm full-width" ng-model="Approve_plan[0].sims_syllabus_unit_name" readonly="readonly" />
                                    </td>
                                </tr>
                                <tr>
                                    <th style="width: 25%;">{{"Topic and Sub Topic Details"|translate}}</th>
                                    <td colspan="2">
                                        <textarea rows="3" class="k-textbox  full-width" ng-model="Approve_plan[0].sims_syllabus_unit_topic_name" readonly="readonly" />
                                    </td>
                                </tr>
                                <tr>
                                    <th style="width: 25%">{{"Learning Experiences"|translate}}</th>
                                    <td colspan="2">
                                        <textarea rows="3" class="k-textbox  full-width" ng-model="Approve_plan[0].sims_syllabus_lesson_plan_description" readonly="readonly" />
                                    </td>
                                </tr>
                                <tr>

                                    <th style="width: 25%">
                                        {{"No Of Periods"|translate}}</th>
                                     <td colspan="2">
                                        <input class="k-textbox input-sm full-width" ng-model="Approve_plan[0].sims_syllabus_lesson_plan_no_of_periods" style="width: 120px" readonly="true" />
                                      </td>

                                           <!--<p style="color:red" class="help-block" ng-show="SyllabusDetails.no_of_periods.$error.pattern && (SyllabusDetails.no_of_periods.$touched || SyllabusDetails.$submitted)">
                                            Enter Only Digits
                                        </p>-->
                                    </tr>  
                                    <tr>
                                        <th style="width: 25%">
                                        {{"No Of Exercise To Be Completed"|translate}}</th>
                                     <td colspan="2">
                                        <input class="k-textbox input-sm full-width" ng-model="Approve_plan[0].sims_syllabus_lesson_plan_no_of_exercise" style="width: 120px" readonly="true" />
                                    </td>
                                </tr>
                                <tr>
                                    <th style="width: 25%">{{"Activities(Specify The Activity(s) To Be Completed)"|translate}}</th>
                                    <td colspan="2">
                                        <textarea rows="2" class="k-textbox  full-width" ng-model="Approve_plan[0].sims_syllabus_lesson_plan_no_of_activity" readonly="readonly" />
                                    </td>
                                </tr>
                                <tr>
                                    <th style="width: 25%">{{"Teaching Aids To Be Used"|translate}}</th>
                                    <td colspan="2">
                                        <textarea rows="2" class="k-textbox   full-width" ng-model="Approve_plan[0].sims_syllabus_lesson_plan_addl_requirement" readonly="readonly" />
                                    </td>
                                </tr>

                                <!-- <tr>

                                     <th colspan="3" style="text-align: center">Minimum % Of The Question To Be Completed In The Class &nbsp; : &nbsp;

                                         <input class="input-sm"  readonly="readonly" />
                                     </th>
                                 </tr>-->

                                <tr>
                                    <th style="width: 25%">{{"Home Work"|translate}}</th>
                                    <td colspan="2">

                                        <textarea rows="1" class="k-textbox   full-width" ng-model="Approve_plan[0].sims_syllabus_lesson_plan_no_of_homework" readonly="readonly" />
                                    </td>
                                </tr>

                                <tr>
                                    <th style="width: 25%">{{"Attachment(s)"|translate}}</th>
                                    <td colspan="2">
                                        <a href="{{path1}}{{Approve_plan[0].sims_syllabus_lesson_plan_doc_path}}" target="_new">{{Approve_plan[0].sims_syllabus_lesson_plan_doc_path}}</a>
                                    </td>
                                </tr>

                                <tr>

                                    <th style="width: 25%">
                                        {{"No.Of Class Test Planned(For This Lesson)"|translate}}
                                    </th>
                                    <td colspan="2">
                                        <textarea rows="1" class="k-textbox full-width" ng-model="Approve_plan[0].sims_syllabus_lesson_plan_no_of_weekly_test" readonly="readonly" />
                                    </td>

                                </tr>
                               

                                <tr>
                                   
                                        <th style="width: 25%">
                                        <label>{{"Approval/Reject Remark"|translate}} &nbsp; : &nbsp;</label>
                                        </th>
                                         <td>
                                        <input class="k-textbox input-sm full-width" ng-model="Approve_plan[0].sims_syllabus_lesson_plan_approval_remark" />
                                         </td>
                                    <td>
                                        <div class="pull-right"><label>&nbsp;</label>
                                        <button ng-disabled="Approve_plan[0].isenabled" class="btn btn-primary btn-small" ng-click="Approved_lesson_plan_data(Approve_plan[0])">{{"Approve"|translate}}</button>

                                        <button ng-disabled="Approve_plan[0].isenabled" class="btn btn-danger btn-small" ng-click="Reject_lesson_plan_data(Approve_plan[0])">{{"Reject"|translate}}</button>

                                        <button class="btn btn-primary btn-small" ng-click="Reset_All_Data()">{{"Close"|translate}}</button>
                                  </div>
                                              </td>

                                </tr>

                            </tbody>
                        </table>


                    </div>
                </div>
                <!-- </form>-->
            </div>

            <div class="col-md-12" ng-show="viewApproveLessonscreen">
                <!--  <form name="SubTopicDetails" ng-submit="Submit_Sub_topic_data(SubTopicDetails.$valid)" novalidate>-->
                <div class="row">

                    <div class="col-md-12">

                        <div id="Div5" class="dataTables_wrapper form-inline">
                            <div style="width: 100%; height: 200px; overflow-x: auto; overflow-y: auto">
                                <table class="table table-bordered  table-condensed" id="Table4">
                                    <thead>
                                        <tr>
                                            <th class="semi-bold" width="7%">&nbsp;</th>
                                            <th class="semi-bold" width="9%">{{"MONTH"| translate }}</th>
                                            <th class="semi-bold" width="9%">{{"CURRICULUM"| translate }}</th>
                                            <th class="semi-bold" width="9%">{{"YEAR"| translate }}</th>
                                            <th class="semi-bold" width="13%">{{"SUBJECT"| translate }}</th>
                                            <th class="semi-bold" width="11%">{{"GRADE/SECTION"| translate}}</th>

                                            <th class="semi-bold" width="10%">{{"CREATED"| translate}}</th>
                                            <th class="semi-bold" width="10%">{{"APPROVED"| translate}}</th>
                                            <th class="semi-bold" width="10%">{{"STATUS"| translate}}</th>


                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="obj in lesson_approvaled_data"   ng-style="{'background-color': obj.row_color}">
                                            <td>
                                                <button type="button" class="btn btn-white btn-small" ng-click="Getsyllabus_Approve_data(obj)">{{"Preview"|translate}}</button>
                                            </td>
                                            <td>{{obj.month_name}}</td>
                                            <td>{{obj.sims_cur_name}}</td>
                                            <td>{{obj.sims_academic_year_description}}</td>
                                            <td>{{obj.sims_subject_name}}</td>
                                            <td>{{obj.sims_grade_name}}&nbsp;/&nbsp;{{obj.sims_section_name}}</td>
                                            <td>{{obj.sims_syllabus_created_name}}</td>
                                            <td>{{obj.sims_syllabus_approved_name}}</td>
                                            <td>

                                                <span ng-if="obj.approved_status=='Pending'" class="label label-success">{{obj.approved_status}}</span>
                                                <span ng-if="obj.approved_status=='Rejected'" class="label label-important">{{obj.approved_status}}</span>
                                                <span ng-if="obj.approved_status=='Approved'" class="label label-success">{{obj.approved_status}}</span>


                                            </td>

                                        </tr>

                                    </tbody>

                                </table>
                            </div>

                        </div>

                        <div class="col-md-12">
                            <hr style="border-width: 1px; display: block; background-color: #4e8ff6; height: 03px" />
                        </div>

                        <div class="col-md-12" ng-show="busy" style="text-align: center">

                            <img src="assets/theme/img/loading.gif" />


                        </div>
                      
                        <div id="printdiv">

                            <table class="table no-border" style="border-color:white">
                                <tbody style="background-color:white">
                                    <tr>
                                        <td style="width:10%">
                                            <img src="{{schoolLogoImg}}" style="width:80px;height:80px" /> 

                                        </td>
                                         

                                        <td style="width:40%">
                                            <h3>
                                                {{School_Name}}
                                            </h3>
                                        </td>
                                       
                                         
                                        <td style="width:30%">
                                            &nbsp;
                                        </td>
                                        <td style="width:20%">
                                            &nbsp;
                                            </td>
</tr>
                                </tbody>
                            </table>

                            <div class="col-md-12">
                                  &nbsp;

                              </div>

                            <table class="table table-bordered" style="padding-top: 02px;">
                                <tbody>
                                    <tr>
                                        <td>
                                            {{printdata.month_name}}
                                        </td>
                                        <td>
                                            {{printdata.Academic_year}}
                                        </td>
                                        <td>
                                            {{printdata.GardeSecton}}
                                        </td>

                                        <td>
                                            {{printdata.Subject}}
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                            <table class="table table-bordered" style="padding-top: 02px;">
                                <tbody>


                                    <tr>
                                        <th style="width: 25%;">{{"Unit Details"|translate}}</th>
                                        <td colspan="2">
                                            {{Approve_plan[0].sims_syllabus_unit_name}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="width: 25%;">{{"Topic and Sub Topic Details"|translate}}</th>
                                        <td colspan="2">
                                            {{Approve_plan[0].sims_syllabus_unit_topic_name}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="width: 25%">{{"Learning Experiences"|translate}}</th>
                                        <td colspan="2">
                                            {{Approve_plan[0].sims_syllabus_lesson_plan_description}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="width: 25%">
                                            {{"No Of Periods"|translate}}</th>
                                        <td colspan="2">
                                            {{Approve_plan[0].sims_syllabus_lesson_plan_no_of_periods}}
                                            </td>
                                         </tr> 
                                        <tr>
                                            <!--<p style="color:red" class="help-block" ng-show="SyllabusDetails.no_of_periods.$error.pattern && (SyllabusDetails.no_of_periods.$touched || SyllabusDetails.$submitted)">
                                                Enter Only Digits
                                            </p>-->
                                            <th style="width: 25%">
                                            {{"No Of Exercise To Be Completed"|translate}}</th>
                                        <td colspan="2">
                                            {{Approve_plan[0].sims_syllabus_lesson_plan_no_of_exercise}}
                                            </td>
                                    </tr>
                                    <tr>
                                        <th style="width: 25%">
                                            {{"Activities(Specify The Activity(s) To Be Completed)"|translate}}
                                        </th>
                                        <td colspan="2">
                                            {{Approve_plan[0].sims_syllabus_lesson_plan_no_of_activity}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="width: 25%">
                                            {{"Teaching Aids To Be Used"|translate}}
                                        </th>
                                        <td colspan="2">
                                            {{Approve_plan[0].sims_syllabus_lesson_plan_addl_requirement}}
                                        </td>
                                    </tr>

                                    <!-- <tr>

                                        <th colspan="3" style="text-align: center">Minimum % Of The Question To Be Completed In The Class &nbsp; : &nbsp;

                                            <input class="input-sm"  readonly="readonly" />
                                        </th>
                                    </tr>-->

                                    <tr>
                                        <th style="width: 25%">{{"Home Work"|translate}}</th>
                                        <td colspan="2">

                                            {{Approve_plan[0].sims_syllabus_lesson_plan_no_of_homework}}
                                        </td>
                                    </tr>

                                    <tr>
                                        <th style="width: 25%">{{"Attachment(s)"|translate}}</th>
                                        <td colspan="2">
                                            <a ng-click="link(Approve_plan[0].sims_syllabus_lesson_plan_doc_path)" href="">{{Approve_plan[0].sims_syllabus_lesson_plan_doc_path}}</a>
                                        </td>
                                    </tr>

                                    <tr>

                                        <th style="width: 25%">
                                            {{"No.Of Class Test Planned(For This Lesson)"|translate}}
                                        </th>
                                        <td colspan="2">
                                            {{Approve_plan[0].sims_syllabus_lesson_plan_no_of_weekly_test}}
                                        </td>

                                    </tr>

                                    <tr>

                                        <th style="width: 25%">
                                            {{"Approved/Rejected Remark"|translate}}
                                        </th>
                                        <td colspan="2">
                                            {{Approve_plan[0].sims_syllabus_lesson_plan_approval_remark}}
                                        </td>

                                    </tr>

                                </tbody>
                            </table>

                            <div class="col-md-12">

                                  &nbsp;

                              </div>

                            <div class="col-md-12">

                                &nbsp;

                            </div>

                            <table class="table no-border" style="border-color:white">
                                    <tbody style="background-color:white">
                                        <tr>
                                            <td>
                                                {{"Prepared by"|translate}} :&nbsp;&nbsp;{{Preparedby}}
                                            </td>


                                            <td>
                                                 
                                                    {{"Approved by"|translate}} :&nbsp;&nbsp;{{Approvedby}}
                                               
                                            </td>
                                            
                                        </tr>
                                    </tbody>
                                </table>


                            </div>
                                                

                        <div>


                            <button style="text-align:center" class="btn btn-primary btn-small" ng-click="print('printdiv')">{{"Print"|translate}}</button>

                        </div>


                        

                    </div>
                </div>
                <!-- </form>-->
            </div>

        </div>
    </div>


    <script src="assets/js/tableHeadFixer.js"></script>

<script src="assets/js/calender-datepicker-id.js"></script>