﻿<!--<div class="loading-middle" ng-hide="display">
    {{ "Loading..." | translate }}
</div>-->
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{ "Term" | translate }}</span></h3>
            </div>
           
            <div class="grid-body no-border">
            <div ng-show="display">
                <form name="myForm" ng-submit="Save(myForm.$valid)" novalidate="novalidate">
                    <div class="row" ng-show="notshow">
                        <div class="col-xs-4">
                            <div class="well" class="form-group">
                                <div class="form-group">
                                    <label>Current Page:</label>
                                    <input placeholder="page"
                                           class="form-control"
                                           ng-model="currentPage"
                                           ng-init="currentPage = 1" />
                                </div>
                                <div class="form-group">
                                    <label>Page Size:</label>
                                    <input placeholder="Page Size"
                                           class="form-control"
                                           ng-model="numPerPage" />
                                </div>
                                <div class="form-group">
                                    <label>Total Items:</label>
                                    <input placeholder="Total"
                                           class="form-control"
                                           ng-model="pagersize" />
                                </div>
                                <hr />
                                <div class="form-group">
                                    <label>Dots Display:</label>
                                    <input placeholder="..."
                                           class="form-control"
                                           maxlength="3"
                                           ng-model="dots"
                                           ng-init="dots = '...'" />
                                </div>

                                <hr />
                                <div class="form-group">
                                    <label>UL Class:</label>
                                    <input placeholder="pagination"
                                           class="form-control"
                                           maxlength="100"
                                           ng-model="ulClass" />
                                </div>
                                <div class="form-group">
                                    <label>Active Class:</label>
                                    <input placeholder="active"
                                           class="form-control"
                                           maxlength="100"
                                           ng-model="activeClass"
                                           ng-init="activeClass = 'active'" />
                                </div>
                                <div class="form-group">
                                    <label>Disabled Class:</label>
                                    <input placeholder="disabled"
                                           class="form-control"
                                           maxlength="100"
                                           ng-model="disabledClass"
                                           ng-init="disabledClass = 'disabled'" />
                                </div>
                                <br />
                                <table class="table">

                                    <tr>
                                        <td>
                                            <label>Show Prev Next:</label>
                                        </td>
                                        <td>
                                            <input type="checkbox"
                                                   ng-model="showPrevNext"
                                                   ng-init="showPrevNext = true" />
                                            {{showPrevNext}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Show First Last:</label>
                                        </td>
                                        <td>
                                            <input type="checkbox"
                                                   ng-model="showFirstLast"
                                                   ng-init="showFirstLast = true" />
                                            {{showPrevNext}}
                                        </td>
                                    </tr>
                                </table>
                                <hr />
                                <span class="btn btn-default" onclick="location.reload()">
                                    <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                                </span>
                                <span class="btn btn-success" ng-click="currentPage = 0">
                                    Apply Settings
                                </span>
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>


                        <div class="row">
                            <div class="col-md-3">
                                <label>{{ "Curriculum" | translate }}</label>
                                    <div ng-class="{'has-error': !myForm.Curriculum.$valid && (myForm.Curriculum.$touched || myForm.$submitted) }">
                                        <select id="Select5" name="Curriculum" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.sims_cur_code" required ng-change="Getinfo(edt.sims_cur_code)" ng-disabled="edit_code"
                                                ng-options="i.sims_cur_code as i.sims_cur_short_name_en for i in obj2|filter:{sims_cur_short_name_en: ''}">
                                            <option value="">Please Select</option>
                                        </select>
                                    </div>
                                        <div class="error-container"
                                             ng-show="myForm.Curriculum.$dirty && myForm.Curriculum.$invalid || myForm.$submitted">
                                            <small class="error"
                                                   ng-show="myForm.Curriculum.$error.required && (myForm.Curriculum.$touched || myForm.$submitted)">
                                                This Field is required.
                                            </small>
                                        </div>
                                    </div>

                            <div class="col-md-3">
                                <label>{{ "Academic Year" | translate }}<span class="asterisk" style="color: red">*</span></label>
                                    <div ng-class="{'has-error': !myForm.acad_yr.$valid && (myForm.acad_yr.$touched || myForm.$submitted) }">
                                        <select id="cmb_acad_yr" name="acad_yr" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.sims_academic_year" required  ng-disabled="edit_code"
                                                ng-options="item2.sims_academic_year as item2.sims_academic_year_desc for item2 in acyr">
                                            <option value="">Please Select</option>
                                            <!--    <option ng-repeat="ac in acyr" value="{{ac.grade_academic_year}}" class=" form-control input-sm">
                                            {{ac.grade_academic_year_desc}}</option>-->
                                        </select>
                                    </div>
                                        <div class="error-container"
                                             ng-show="myForm.acad_yr.$dirty && myForm.acad_yr.$invalid || myForm.$submitted">
                                            <small class="error"
                                                   ng-show="myForm.acad_yr.$error.required && (myForm.acad_yr.$touched || myForm.$submitted)">
                                                This Field is required.
                                            </small>
                                        </div>
                                    </div>
                               

                            <div class="col-md-3">
                                <label for="Term Code">{{ "Term Code" | translate }}<span class="asterisk" style="color: red">*</span></label>
                                <div class="col-md-12" ng-class="{'has-error': !myForm.form3term.$valid && (myForm.form3term.$touched || myForm.$submitted) }">
                                    <input type="text" placeholder="Please Enter" class="k-textbox input-sm full-width" id="txt_term_code" name="form3term" required maxlength="2" ng-model="edt.sims_term_code" ng-disabled="edit_code" ng-pattern="/^[0-9]{1,2}$/">
                                </div>
                                <div class="error-container"
                                     ng-show="myForm.form3term.$dirty && myForm.form3term.$invalid || myForm.$submitted">
                                    <small class="help-block"
                                           ng-show="myForm.form3term.$error.required && (myForm.form3term.$touched || myForm.$submitted)">
                                        This Field is required.
                                    </small>
                                    <small class="help-block" ng-show="myForm.form3term.$error.pattern && (!myForm.$pristine && (myForm.$submitted ||myForm.form3term.$touched))">
                                        Enter Only Digit
                                    </small>
                                </div>
                                    </div>

                        </div>

                        <div class="row margin-top">
                           <div class="col-md-3">
                               <label for="Description English">{{ "English" | translate }}<span class="asterisk" style="color: red">*</span></label>
                                    <div ng-class="{'has-error': !myForm.form3english.$valid && (myForm.form3english.$touched || myForm.$submitted) }">
                                        <input type="text" placeholder="Please Enter" class="k-textbox input-sm full-width"  id="Text1" name="form3english" ng-model="edt.sims_term_desc_en" required maxlength="25">
                                    </div>

                                        <div class="error-container"
                                             ng-show="myForm.form3english.$dirty && myForm.form3english.$invalid || myForm.$submitted">
                                            <small class="error"
                                                   ng-show="myForm.form3english.$error.required && (myForm.form3english.$touched || myForm.$submitted)">
                                                This Field is required.
                                            </small>
                                            <small class="help-block" ng-show="myForm.form3english.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.form3english.$touched))">
                                                Enter Valid Data
                                            </small>
                                        </div>
                                    </div>
                            

                            <div class="col-md-3">
                                <label for="Description Arabic">{{ "Arabic" | translate }}</label>
                                    <div ng-class="{'has-error': !myForm.txt_desc_arabic.$valid && (myForm.txt_desc_arabic.$touched || myForm.$submitted) }">
                                        <input type="text" placeholder="Please Enter" class="k-textbox input-sm full-width"  id="txt_desc_arabic" name="txt_desc_arabic" ng-model="edt.sims_term_desc_ar" maxlength="25">
                                    </div>

                                        <div class="error-container"
                                             ng-show="myForm.txt_desc_arabic.$dirty && myForm.txt_desc_arabic.$invalid || myForm.$submitted">
                                            <small class="help-block" ng-show="myForm.txt_desc_arabic.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_desc_arabic.$touched))">
                                                Enter Valid Data
                                            </small>
                                        </div>
                                    </div>
                               

                            <div class="col-md-3">
                                <label for="Description French">{{ "French" | translate }}</label>
                                    <div class="col-md-12" ng-class="{'has-error': !myForm.txt_name_french.$valid && (myForm.txt_name_french.$touched || myForm.$submitted) }">
                                        <input type="text" placeholder="Please Enter" class="k-textbox input-sm full-width"  id="txt_name_french" name="txt_name_french" ng-model="edt.sims_term_desc_fr" maxlength="25">
                                    </div>
                                        <div class="error-container"
                                             ng-show="myForm.txt_name_french.$dirty && myForm.txt_name_french.$invalid || myForm.$submitted">
                                            <small class="help-block" ng-show="myForm.txt_name_french.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_name_french.$touched))">
                                                Enter Valid Data
                                            </small>
                                        </div>
                                    </div>

                              <div class="col-md-3">
                                  <label for="Description Regional">{{ "Regional" | translate }}</label>
                                    <div class="col-md-12" ng-class="{'has-error': !myForm.txt_regional.$valid && (myForm.txt_regional.$touched || myForm.$submitted) }">
                                        <input type="text" placeholder="Please Enter" class="k-textbox input-sm full-width"  id="txt_regional" name="txt_regional" ng-model="edt.sims_term_desc_ot" maxlength="25">
                                    </div>

                                        <div class="error-container"
                                             ng-show="myForm.txt_regional.$dirty && myForm.txt_regional.$invalid || myForm.$submitted">
                                            <small class="help-block" ng-show="myForm.txt_regional.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_regional.$touched))">
                                                Enter Valid Data
                                            </small>
                                        </div>
                                    </div>
                                

                        </div>

                        <div class="row margin-top">
                            <div class="col-md-3">
                                <label>{{ "Start Date" | translate }}</label>
                                      <!--  <div class="no-padding" style="width: auto">-->
                                            <input id="term_start_date" placeholder="Select Date" name="Subsexpdate" class="k-textbox input-sm full-width"  ng-model="edt.sims_term_start_date">

                                        <!--<div class="input-append success date col-md-4 no-padding" data-datepicker="true" style="width: auto">ng-change="createdate(edt.sims_term_start_date)"
                                            <input type="text" id="dp_start_date" placeholder="Select Date (YYYY-MM-DD)" name="Subsexpdate" class="form-control" ng-change="createdate(edt.sims_term_start_date)" ng-model="edt.sims_term_start_date">
                                            <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                        </div>-->
                                    </div>

                            <div class="col-md-3">
                                <label>{{ "End Date" | translate }}</label>
                                        <!--<div class="no-padding" style="width: auto">-->
                                            <input id="term_end_date" placeholder="Select Date" name="date" class="k-textbox input-sm full-width" ng-model="edt.sims_term_end_date">

                                        <!--<div class="input-append success date col-md-4 no-padding" data-datepicker="true" style="width: auto">ng-change="createdate1(edt.sims_term_end_date)" 
                                            <input type="text" id="txt_end_date" placeholder="Select Date (YYYY-MM-DD)" name="date" class="form-control" ng-change="createdate1(edt.sims_term_end_date)" ng-model="edt.sims_term_end_date">
                                            <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                        </div>-->

                                    </div>
                               
                            <div class="col-md-3">
                                <label>{{ "Status" | translate }}</label>
                                        <div class="checkbox check-success">
                                            <input id="chk_term_status" name="term_status" class="k-checkbox" type="checkbox" value="1" ng-model="edt.sims_term_status">
                                            <label for="chk_term_status"></label>
                                        </div>
                                    </div>
                            </div>

                        
                    <div class="row">
                        <div class="col-md-12">
                    <div class="form-actions">
                        <div class="pull-right">
                            <button class="btn btn-primary btn-small" type="submit" ng-show="save1">{{ "Save" | translate }}</button>
                            <button class="btn btn-primary btn-small" type="submit" ng-show="update1">{{ "Update" | translate }}</button>
                            <!--<button class="btn btn-danger btn-cons" type="button" ng-click="Delete()" ng-show="delete1">Delete</button>-->
                            <button class="btn btn-warning btn-small" type="button" ng-click="cancel()">{{ "Cancel" | translate }}</button>
                        </div>
                    </div>
                            </div>
                    </div>
                </form>
            </div>
            <div  ng-show="grid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="pull-left">
                            <!--<select id="Select1" data-role="dropdownlist" style="width: 65px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                <option value="5" class=" form-control input-sm">
                                    5
                                </option>

                                <option value="10" class=" form-control input-sm">
                                    10
                                </option>

                                <option value="15" class=" form-control input-sm">
                                    15
                                </option>
                            </select>-->

                              <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                                    <option value="{{x.val}}" class="form-control input-sm" ng-repeat="x in countData">{{x.data}}
                                    </option>
                                </select>

                        </div>
                        &nbsp;
                        <button class="btn btn-success btn-small"  type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{ "New" | translate }}</button>
                        &nbsp;
                        <button class="btn btn-danger btn-small"  type="button" ng-click="Delete()"><span class="semi-bold"></span>{{ "Delete" | translate }}</button>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                                <!--<label>
                                    {{"Search"|translate}} &nbsp;
                                    <input type="text" aria-controls="example" placeholder="Term Code /Term Description" class="k-textbox input-sm full-width" ng-model="searchText" class="input-medium" autofocus="autofocus" tabindex="1" ng-change="search()">
                                </label>-->
                               <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Term Code /Term Description" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <!--<div style="width: 100%; height: 320px; overflow-x: scroll; overflow-y: scroll">-->
                        <!-- <table class="table table-hover table-striped  no-more-tables">-->
                     <div class="row margin-top">
                        <div class="col-md-12">
                        <table class="table table-hover table-bordered table-condensed" id="fixtable">
                            <thead>
                                <tr style="background-color: #e9e4e4">
                                    <th class="small-cell v-align-middle" style="z-index:999">
                                        <div class="checkbox check-success">
                                            <input type="checkbox" name="check" class="k-checkbox" value="1" id="mainchk" ng-click="CheckAllChecked();">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>
                                    <th class="small-cell v-align-middle"><b><!--{{ "MORE" | translate }}-->&nbsp;</b></th>
                                    <th class="semi-bold" ng-click="sortBy('sims_cur_name')">
                                        {{"CURRICULUM"| translate }}
                                        <span class="sortorder" ng-show="propertyName === 'sims_cur_name'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    
                                    <th class="semi-bold" ng-click="sortBy('sims_academic_year')">
                                        {{"ACADEMIC YEAR"| translate }}
                                        <span class="sortorder" ng-show="propertyName === 'sims_academic_year'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th class="semi-bold" ng-click="sortBy('sims_term_code')">
                                        {{"TERM CODE"| translate }}
                                        <span class="sortorder" ng-show="propertyName === 'sims_term_code'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                   
                                    <th ng-hide="true"  class="semi-bold" ng-click="sortBy('sims_term_start_date')">
                                        {{"Start Date"| translate }}
                                        <span class="sortorder" ng-show="propertyName === 'sims_term_start_date'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    
                                    <th ng-hide="true"  class="semi-bold" ng-click="sortBy('sims_term_end_date')">
                                        {{"End Date"| translate }}
                                        <span class="sortorder" ng-show="propertyName === 'sims_term_end_date'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th class="semi-bold" ng-click="sortBy('sims_term_desc_en')">
                                        {{"ENGLISH"| translate }}
                                        <span class="sortorder" ng-show="propertyName === 'sims_term_desc_en'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th ng-hide="true">{{ "Arabic" | translate }}</th>
                                    <th ng-hide="true">{{ "Regional" | translate }}</th>
                                    <th ng-hide="true">{{ "French" | translate }}</th>
                                    <th class="semi-bold">{{ "STATUS" | translate }}</th>
                                    <th class="small-cell v-align-middle"><b><i class="fa fa-cogs"></i></b></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--<tbody role="alert" aria-live="polite" aria-relevant="all">-->
                                <tr ng-repeat="info in filteredTodos | orderBy:propertyName:reverse" ng-class="row1">

                                    <td>
                                        <div class="checkbox check-success">
                                            <input type="checkbox" class="k-checkbox" name="check" value="1" id="{{info.sims_academic_year+$index}}" ng-click="checkonebyonedelete()">
                                            <label for="{{info.sims_academic_year+$index}}">
                                            </label>
                                        </div>
                                    </td>
                                    <td class="text-center"><i class="{{info.icon}}" ng-click="expand(info, $event);"></i></td>
                                    <td>{{info.sims_cur_name}}</td>
                                    <td>{{info.sims_academic_year}}</td>
                                    <td>{{info.sims_term_code}}</td>
                                    <td ng-hide="true">{{info.sims_term_start_date}}</td>
                                    <td ng-hide="true">{{info.sims_term_end_date}}</td>
                                    <td>{{info.sims_term_desc_en}}</td>
                                    <td ng-hide="true">{{info.sims_term_desc_ar}}</td>
                                    <td ng-hide="true">{{info.sims_term_desc_ot}}</td>
                                    <td ng-hide="true">{{info.sims_term_desc_fr}}</td>
                                    <td class="v-align-middle">
                                        <span ng-if="info.sims_term_status==true" class="label label-success">{{"Active"| translate }}</span>
                                        <span ng-if="info.sims_term_status==false" class="label label-important">{{"In active"| translate }}</span>

                                    </td>

                                    <td>
                                        <a><i class="fa fa-edit" ng-click="edit(info)"></i></a>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                    </div>
                     <div class="row">
                        <div class="col-md-12">
                    <div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                ng-click="index(currentPage)">
                        </paging>
                    </div>
                            </div>
                         </div>
                </div>
            </div>
            </div>

        </div>

    </div>
</div>


<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>


<!--<script>
    $(document).ready(function () {
        $("#term_start_date").kendoDatePicker();
        $("#term_end_date").kendoDatePicker();
    });
</script>-->
