﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{ "Weekly Assessment" | translate}}</span>&nbsp; {{ "Report" | translate}}</h3>
            </div>

            <div class="grid-body no-border">
                <div class="row">
                    <div class="col-md-3">
                        <label>{{"Select Month"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <select id="Select2" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.month_code" ng-change="getweek();">
                                    <option value="" selected disabled>Please Select</option>
                                    <option class="form-control input-sm" ng-repeat="month in Assessmentmonthdetails" value="{{month.sims_gb_cat_code}}">{{month.sims_gb_cat_name}}</option>

                                </select>
                            </div>

                    <div class="col-md-3">
                        <label>{{"Select Week"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <select id="Select1" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.Week_code" ng-change="getSubject()">
                                    <option value="" selected disabled>Please Select</option>
                                    <option class="form-control input-sm" ng-repeat="week in Assessmentweekdetails" value="{{week.sims_gb_cat_assign_number}}">{{week.sims_assignment_name}}</option>
                                </select>
                            </div>


                    <div class="col-md-3">
                        <label>{{"Select Subject"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <select id="cmb_user" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.subject_code">
                                    <option value="" selected disabled>Please Select</option>
                                    <option class="form-control input-sm" ng-repeat="subject in Assessmentsubjectdetails" value="{{subject.sims_subject_code}}">{{subject.sims_subject_name}}</option>
                                </select>
                            </div>

                    <div class="col-md-3">
                        <label>&nbsp;</label>
                                <div class="pull-right">
                                    <button id="btn_user_search" type="button" class="btn btn-primary btn-small" ng-click="Show();">{{"Show" | translate}} </button>
                                    <button class="btn btn-warning btn-cons" type="button" ng-click="Reset()"><i class="icon-ok"></i>{{"Reset" | translate }}</button>
                                </div>
                            </div>
                  </div>

                    <div class="col-md-12" ng-show="busy">
                        <div class="col-md-5">
                            &nbsp;
                        </div>

                        <div class="col-md-5">
                            <div class="row">
                                <img src="assets/theme/img/loading.gif" />
                            </div>
                        </div>
                    </div>
                    <div ng-show="table">
                        <div class="dataTables_wrapper form-inline" id="example_wrapper">
                            <div class="row margin-top">
                                <div class="col-md-12">
                                <table class="table  table-hover table-bordered  table-condensed" id="fixTable">
                                    <thead style="background-color: white">
                                        <tr style="background-color: #edefef; height: 20px">
                                            <th>{{"Student Name"| translate}}</th>
                                            <th>{{"Grade/Section"| translate}}</th>
                                            <th>{{"Subject" | translate }}</th>
                                            <th>{{"Month"| translate }}</th>
                                            <th>{{"Week"| translate }}</th>
                                            <th>{{"Syllabus"| translate }}</th>
                                            <th>{{"Grade"| translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="info in AssessmentChilddetails" style="height: 20px">
                                            <td>{{info.stud_Full_Name}}</td>
                                            <td>{{info.grade_section_name}}</td>
                                            <td>{{info.sims_subject_name}}</td>
                                            <td>{{info.month_name}}</td>
                                            <td>{{info.week_name}}</td>
                                            <td>{{info.assessment_syllabus}}</td>
                                            <td>{{info.grade_name}}  </td>
                                        </tr>
                                    </tbody>
                                </table>
                              
                                </div>
                            </div>
                        </div>
                    </div>
              
            </div>
        </div>
    </div>
</div>

<script src="assets/js/tableHeadFixer.js"></script>
