﻿<style>

    .chart-legend ul {
    list-style:none
      
}
.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
      
}

.border-right {
    border-right: 1px solid black;
}


</style>

<script src="assets/plugins/dash.js"></script>

<link href="assets/css/dashboard.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h4><span class="semi-bold">{{"Attendance DashBoard" | translate}}</span>&nbsp;</h4>
            </div>
            <div class="grid-body no-border">
                <div ng-hide="busyindicator">
                    <div class="row">
                            <div class="col-md-2">
                                <label>{{"Curriculum" | translate}}</label>
                                        <select id="cmb_School_Code" class="form-control input-sm full-width" name="user" ng-model="sims_cur_code" ng-change="CurChange(sims_cur_code)">
                                            <option value="" selected disabled>Please Select</option>
                                            <option class="form-control input-sm" ng-repeat="cur in cmbCur" value="{{cur.sims_cur_code}}">{{cur.sims_cur_name}}</option>
                                        </select>
                                    </div>
                            <div class="col-md-2">
                                <label>{{"Academic Year" | translate}}</label>
                                        <select id="cmb_academic_year" class="form-control input-sm full-width" ng-model="sims_academic_year" ng-change="academicChange(sims_academic_year)">
                                            <option value="" selected disabled>Please Select</option>
                                            <option class="form-control input-sm" ng-repeat="dept in cmbAcademic" value="{{dept.sims_academic_year}}">{{dept.sims_academic_year_desc}}</option>
                                        </select>
                            </div>
                            <div class="col-md-3">
                                <label>{{"Grade" | translate}}</label>
                                        <select id="cmb_grade_code" class="form-control input-sm full-width" ng-model="sims_grade_code" ng-change="gradeChange(sims_grade_code);">
                                            <option value="" selected disabled>Please Select</option>
                                            <option class="form-control input-sm" ng-repeat="desi in cmbGrade" value="{{desi.sims_grade_code}}">{{desi.sims_grade_name}}
                                            </option>
                                        </select>
                            </div>
                            <div class="col-md-3">
                                        <label>{{"Date" | translate}}</label>
                                            <input type="text" id="from_date" placeholder="Select Date" name="att_date" class="k-textbox input-sm full-width" ng-model="attend_date" required>
                                    </div>
                            <div class="col-md-2">
                                <div class="pull-right">
                                <label>&nbsp</label>
                                        <button type="button" class="btn btn-primary btn-cons btn-small" ng-click="Show_Data()">{{"View" | translate}}</button>
                                    </div>
                        </div>
                    </div>
                    </div>
                <hr />
                <div ng-hide="busyindicator">
                    <section class="tile ng-scope" fullscreen="isFullscreen02">
                        <!-- tile header -->
                        <div class="tile-header dvd dvd-btm">
                            <ul class="controls"></ul>
                        </div>
                        <div class="tile-widget">
                            <div id="newTransaction"  style="height: 180px; float: left; width: 100%; overflow-x: auto; overflow-y: auto" class="ng-isolate-scope">
                                <div id="console"></div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="box box-default">
                            <div class="box-header with-border">
                                <h3 class="box-title">{{"Statistics For Selected Date" | translate}}</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body" style="display: block;">
                                <div class="text-center divider">

                                    <div ng-repeat="x in lbl">
                                        <div class="border-right">
                                        <h2>
                                            <strong>{{x.value}}</strong></h2>
                                         
                                        <p>
                                            <small>{{x.label}}</small>
                                        </p>
                                    </div>
                                    </div>
                                    
                                </div>

                               
                               
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="box box-default">
                            <div class="box-header with-border">
                                <h3 class="box-title">{{"Attedance Details" | translate}}</h3>

                            </div>
                            <!-- /.box-header -->
                            <div class="box-body" style="display: block;">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="chart-responsive">
                                            <canvas id="pieChart" height="160" width="205" style="width: 205px; height: 160px"></canvas>
                                        </div>
                                        <!-- ./chart-responsive -->
                                    </div>
                                    <!-- /.col -->
                                    <div id="s"  class="col-md-4 chart-legend">
                                       
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.box-body -->
                            <!--    <div class="box-footer no-padding" style="display: block;">
              <ul class="nav nav-pills nav-stacked">
                <li><a href="#">United States of America
                  <span class="pull-right text-red"><i class="fa fa-angle-down"></i> 12%</span></a></li>
                <li><a href="#">India <span class="pull-right text-green"><i class="fa fa-angle-up"></i> 4%</span></a>
                </li>
                <li><a href="#">China
                  <span class="pull-right text-yellow"><i class="fa fa-angle-left"></i> 0%</span></a></li>
              </ul>
            </div>-->
                            <!-- /.footer -->
                        </div>
                    </div>
                </div>
            </div>
         </div>
     </div>
 </div>
<script src="assets/js/gauge.min.js"></script>
<script src="assets/js/piechat.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>