﻿<!--<style>
    .semi-bold {
    text-transform:lowercase !important;
   font-weight:bold;
    }
</style>-->

<style>
    .form-actions {
        padding: 7px 20px 7px;
    }

    .grid.simple .form-actions {
        margin-left: -10px !important;
        margin-right: -10px !important;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="page-title">
                <h3><span class="semi-bold">{{"Attendance"|translate}}</span>&nbsp;{{"Code"|translate}}</h3>
            </div>
            <div class="grid-body no-border paddingcode">
            <form name="myForm" ng-submit="Save(myForm.$valid)" novalidate="novalidate">
                <div ng-show="operation">
                            <div class="row">
                                <div class="col-md-2" ng-class="{'has-error': !myForm.curname.$valid && (myForm.curname.$touched || myForm.$submitted)}">
                                    <label id="Label1" for="txt_Nationality_Code" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Curriculum"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <select id="cmb_School_Code" data-role="dropdownlist"  class="form-control input-sm full-width" name="curname" ng-model="edt.sims_cur_code" ng-show="newmode" required>
                                        <option value="" selected disabled>Please Select</option>
                                        <option class="form-control input-sm" ng-repeat="cur in curriculum" value="{{cur.sims_cur_code}}">{{cur.sims_cur_short_name_en}}</option>
                                    </select>
                                    <input type="text" id="Text1" ng-model="edt.sims_cur_full_name_en" class="k-textbox input-sm full-width" ng-show="editmode" disabled="disabled" />
                                    <p class="help-block" ng-show="myForm.curname.$error.required &&  (myForm.curname.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                </div>
                                <div class="col-md-2" ng-class="{'has-error': !myForm.catcode.$valid && (myForm.catcode.$touched || myForm.$submitted)}">
                                    <label id="label6" class="form-label"><i class="fa fa-dashboard"></i>&nbsp;{{"Category Code"| translate}} <span class="asterisk" style="color: red">*</span></label>
                                    <input type="text" id="Text5" ng-model="edt.sims_category_code" class="k-textbox input-sm full-width" ng-pattern="/^(\d)+$/" ng-maxlength="2" name="catcode" required />
                                    <p class="help-block" ng-show="myForm.catcode.$error.required &&  (myForm.catcode.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                    <p class="help-block" ng-show="myForm.catcode.$error.maxlength &&  (myForm.catcode.$touched || myForm.$submitted)">
                                        The contact no should be only 2 digit
                                    </p>
                                    <p class="help-block" ng-show="myForm.catcode.$error.pattern && (!myForm.$pristine && myForm.$submitted)">
                                        Enter only digit
                                    </p>
                                </div>
                                <div class="col-md-2" ng-class="{'has-error': !myForm.attcode.$valid && (myForm.attcode.$touched || myForm.$submitted)}">
                                    <label id="label2" class="form-label"><i class="fa fa-dashboard"></i>&nbsp;{{"Attendance Code"| translate}} <span class="asterisk" style="color: red">*</span></label>
                                    <input type="text" id="Text2" ng-model="edt.sims_attendance_code" class="k-textbox input-sm full-width" ng-pattern="/^[a-zA-Z0-9]*$/" ng-maxlength="2" name="attcode" required />
                                    <p class="help-block" ng-show="myForm.attcode.$error.required &&  (myForm.attcode.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                    <p class="help-block" ng-show="myForm.attcode.$error.maxlength &&  (myForm.attcode.$touched || myForm.$submitted)">
                                        The Attendance Code should be only 2 character
                                    </p>
                                    <p class="help-block" ng-show="myForm.attcode.$error.pattern && (!myForm.$pristine && myForm.$submitted)">
                                        Enter only alphanumeric
                                    </p>
                                </div>
                                <div class="col-md-2" ng-class="{'has-error': !myForm.numcode.$valid && (myForm.numcode.$touched || myForm.$submitted)}">
                                    <label id="label3" class="form-label"><i class="fa fa-dashboard"></i>&nbsp;{{"Numeric Code"| translate}} <span class="asterisk" style="color: red">*</span></label>
                                    <input type="text" id="Text3" ng-model="edt.sims_attendance_code_numeric" ng-pattern="/^(\d)+$/" class="k-textbox input-sm full-width" ng-maxlength="1" name="numcode" required />
                                    <p class="help-block" ng-show="myForm.numcode.$error.required &&  (myForm.numcode.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                    <p class="help-block" ng-show="myForm.numcode.$error.maxlength &&  (myForm.numcode.$touched || myForm.$submitted)">
                                        The contact no should be only 1 digit
                                    </p>
                                    <p class="help-block" ng-show="myForm.numcode.$error.pattern && (!myForm.$pristine && myForm.$submitted)">
                                        Enter only digit
                                    </p>
                                </div>
                                <div class="col-md-2" ng-class="{'has-error': !myForm.sdes.$valid && (myForm.sdes.$touched || myForm.$submitted) }">
                                    <label id="label4" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Short Description"| translate}} <span class="asterisk" style="color: red">*</span></label>
                                    <input type="text" id="Text4" name="sdes" class="k-textbox input-sm full-width" ng-model="edt.sims_attendance_short_desc" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="4" required />
                                    <p class="help-block" ng-show="myForm.sdes.$error.required  &&  (myForm.sdes.$touched || myForm.$submitted)">
                                        This Field is Reqiured
                                    </p>
                                    <p class="help-block" ng-show="myForm.sdes.$error.maxlength &&  (myForm.sdes.$touched || myForm.$submitted)">
                                        The Short Description should be only 4 character
                                    </p>
                                    <p class="help-block" ng-show="myForm.sdes.$error.pattern && (!myForm.$pristine && myForm.$submitted)">
                                        Enter only character
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <!--<div class="col-md-2" ng-class="{'has-error': !myForm.desc.$valid && (myForm.desc.$touched || myForm.$submitted)}">-->
                                    <div class="col-md-2">
                                    <label id="label5" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Description"| translate}} <span class="asterisk" style="color: red">*</span></label>
                                    <input type="text" id="Text6" ng-model="edt.sims_attendance_description" class="k-textbox input-sm full-width" name="desc" ng-maxlength="15" required />
                                    <!--<input type="text" id="Text11" ng-model="edt.sims_attendance_description" class="k-textbox input-sm full-width" ng-pattern="/^[a-zA-Z\s]*$/" name="desc" ng-maxlength="15" required />-->
                                   <!-- <p class="help-block" ng-show="myForm.desc.$error.maxlength &&  (myForm.desc.$touched || myForm.$submitted)">
                                        Description should be 15 character
                                    </p>
                                    <p class="help-block" ng-show="myForm.desc.$error.required && (myForm.desc.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                    <p class="help-block" ng-show="myForm.desc.$error.pattern && (!myForm.$pristine && myForm.$submitted)">
                                        Enter only character
                                    </p>-->
                                </div>
                                <div class="col-md-2" ng-class="{'has-error': !myForm.pvalue.$valid && (myForm.pvalue.$touched || myForm.$submitted)}">
                                    <label id="label7" class="form-label"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Present Value"| translate}} <span class="asterisk" style="color: red">*</span></label>
                                    <input type="text" id="Text7" name="pvalue" ng-maxlength="1"
                                           ng-pattern="/^(\d)+$/" ng-model="edt.sims_attendance_present_value" class="k-textbox input-sm full-width" required />
                                    <p class="help-block" ng-show="myForm.pvalue.$error.required &&  (myForm.pvalue.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                    <p class="help-block" ng-show="myForm.pvalue.$error.maxlength &&  (myForm.pvalue.$touched || myForm.$submitted)">
                                        The present value should be only 1 digit
                                    </p>
                                    <p class="help-block" ng-show="myForm.pvalue.$error.pattern && (!myForm.$pristine && myForm.$submitted)">
                                        Enter only digit
                                    </p>
                                </div>
                                <div class="col-md-2" ng-class="{'has-error': !myForm.avalue.$valid && (myForm.avalue.$touched || myForm.$submitted)}">
                                    <label id="label8" class="form-label"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Absent Value"| translate}} <span class="asterisk" style="color: red">*</span></label>
                                    <input type="text" id="Text8" name="avalue" ng-model="edt.sims_attendance_absent_value"
                                           class="k-textbox input-sm full-width" ng-maxlength="1" ng-pattern="/^(\d)+$/" required />
                                    <p class="help-block" ng-show="myForm.avalue.$error.required &&  (myForm.avalue.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                    <p class="help-block" ng-show="myForm.avalue.$error.maxlength &&  (myForm.avalue.$touched || myForm.$submitted)">
                                        The absent value should be only 1 digit
                                    </p>
                                    <p class="help-block" ng-show="myForm.avalue.$error.pattern && (!myForm.$pristine && myForm.$submitted)">
                                        Enter only digit
                                    </p>
                                </div>
                                <div class="col-md-2" ng-class="{'has-error': !myForm.tvalue.$valid && (myForm.tvalue.$touched || myForm.$submitted)}">
                                    <label id="label9" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Tardy Value"| translate}} <span class="asterisk" style="color: red">*</span></label>
                                    <input type="text" name="tvalue" ng-pattern="/^(\d)+$/"
                                           ng-maxlength="1" id="Text9" ng-model="edt.sims_attendance_tardy_value" class="k-textbox input-sm full-width" required />
                                    <p class="help-block" ng-show="myForm.tvalue.$error.required &&  (myForm.tvalue.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                    <p class="help-block" ng-show="myForm.tvalue.$error.maxlength &&  (myForm.tvalue.$touched || myForm.$submitted)">
                                        The tardy value should be only 1 digit
                                    </p>
                                    <p class="help-block" ng-show="myForm.tvalue.$error.pattern && (!myForm.$pristine && myForm.$submitted)">
                                        Enter only digit
                                    </p>
                                </div>
                                <div class="col-md-2" ng-class="{'has-error': !myForm.tyvalue.$valid && (myForm.tyvalue.$touched || myForm.$submitted)}">
                                    <label id="label10" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Type Value"| translate}} <span class="asterisk" style="color: red">*</span></label>
                                    <input type="text" id="Text10" name="tyvalue" class="k-textbox input-sm full-width" ng-maxlength="1" ng-pattern="/^(\d)+$/" required ng-model="edt.sims_attendance_type_value" />
                                    <p class="help-block" ng-show="myForm.tyvalue.$error.required &&  (myForm.tyvalue.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                    <p class="help-block" ng-show="myForm.tyvalue.$error.maxlength &&  (myForm.tyvalue.$touched || myForm.$submitted)">
                                        The type value no should be only 1 digit
                                    </p>
                                    <p class="help-block" ng-show="myForm.tyvalue.$error.pattern && (!myForm.$pristine && myForm.$submitted)">
                                        Enter only digit
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label id="label11" class="form-label"><i class="fa fa-calendar"></i>&nbsp;{{"Status Inactive Date"| translate}}</label>
                                        <input type="text" class="k-textbox input-sm full-width" id="inactive_date" ng-model="edt.sims_attendance_status_inactive_date" name="indate">
                                </div>
                                <div class="col-md-2" style="margin-left:-109px;">
                                    <div class="pull-right">
                                    <div ng-class="{'has-error': !myForm.hcolor.$valid && (myForm.hcolor.$touched || myForm.$submitted)}">
                                        <label id="Lable5" class="form-label"><i class="fa fa-dashboard"></i>&nbsp;{{"Color Code"| translate}} <span class="asterisk" style="color: red">*</span></label>
                                        <input type="color" id="txt_color" name="hcolor" ng-model="edt.sims_attendance_color_code" value="" required data-format="hex" ng-change="colorcheck(edt.sims_cur_code,edt.sims_academic_year,edt.sims_house_code)" />
                                        <p class="help-block" ng-show="myForm.hcolor.$error.required &&  (myForm.hcolor.$touched || myForm.$submitted)">
                                            This field is required
                                        </p>
                                        <p class="help-block">
                                            <font ng-show="colorchange" color="red">Please Select Another Color</font>
                                        </p>
                                    </div>
                                        </div>
                                </div>
                                <div class="col-md-1" style="margin-left:7px;">
                                    <label id="Label12" for="txt_full_name" class="form-label"><i class="fa fa-bookmark"></i>&nbsp;{{"Status"| translate }}</label>
                                    <div class="checkbox check-success">
                                        <input id="chk_term1" type="checkbox" class="k-textbox" ng-model="edt.sims_attendance_status" >
                                        <label for="chk_term1"></label>
                                    </div>
                                </div>
                                <div class="col-md-1" style="margin-left:-47px;">
                                    <label id="Label13" for="txt_full_name" class="form-label"><i class="fa fa-bookmark"></i>&nbsp;{{"UnExcused"| translate }}</label>
                                    <div class="checkbox check-success">
                                        <input id="chk_term2" type="checkbox" class="k-textbox" ng-model="edt.sims_attendance_unexcused_flag">
                                        <label for="chk_term2"></label>
                                    </div>
                                </div>
                                <div class="col-md-2" style="margin-left:-18px;">
                                    <label id="Label14" for="txt_full_name" class="form-label"><i class="fa fa-bookmark"></i>&nbsp;{{"Teacher Can Use"| translate }}</label>
                                    <div class="checkbox check-success">
                                        <input id="chk_term3" type="checkbox" class="k-textbox" ng-model="edt.sims_attendance_teacher_can_use_flag">
                                        <label for="chk_term3"></label>
                                    </div>
                                </div>
                            </div>
                   <div class="col-md-12">
                    <div class="form-actions">
                        <div class="pull-right m-b-10">
                            <button class="btn btn-primary  btn-small" type="submit" ng-show="savebtn"><i class="icon-ok"></i>{{"Save"| translate }}</button>
                            <button class="btn btn-primary  btn-small" type="button" ng-show="updatebtn" ng-click="Update(myForm.$valid)"><i class="icon-ok"></i>{{"Update"| translate }}</button>
                            <button class="btn btn-danger   btn-small" type="button" ng-click="cancel()">{{"Cancel"| translate }}</button>
                        </div>
                    </div>
                       </div>
                </div>
            </form>
            <!--table-->


            <div ng-show="table1">
                <div class="row">
                    <div class="col-md-6">
                        <!--<select id="Select2" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                            <option value="{{x.val}}" class=" form-control input-sm" ng-repeat="x in countData">
                                {{x.data}}
                            </option>
                        </select>-->
                        <select id="Select12" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="10" class="form-control input-sm">
                                10
                            </option>

                            <option value="20" class="form-control input-sm">
                                20
                            </option>

                            <option value="All" class="form-control input-sm">
                                All
                            </option>
                        </select>
                        &nbsp;
                        <button class="btn btn-success btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate}}</button>
                        &nbsp;
                        <button class="btn btn-danger btn-small" type="button" ng-click="deleterecord()"><span class="semi-bold"></span>{{"Delete"| translate}}</button>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="Div1">
                                <!--<label>
                                    {{"Search:-"| translate}}  &nbsp;
                                    <input type="text" placeholder="Search" class="k-textbox input-sm" autofocus="autofocus" ng-model="searchText" ng-change="search();">
                                </label>-->
                                <!-- <label>
                                {{ "Search:" | translate }} &nbsp;-->
                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div class="row">
                        <div class="col-md-12" style="margin-top:-10px;">
                        <table class="table table-bordered  table-condensed" id="fixTable">
                            <thead>
                                <tr>
                                    <th class="small-cell v-align-middle" style="z-index:999">
                                        <div class="checkbox check-success">
                                            <input type="checkbox" name="check" class="k-checkbox" value="1" id="mainchk" ng-click="CheckAllChecked();">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>
                                    <!--<td class="semi-bold">{{"More"| translate }}</td>-->
                                    <th><i class="fa fa-align-justify"></i>&nbsp;{{"Curriculum"| translate }}</th>
                                    <th><i class="fa fa-dashboard"></i>&nbsp;{{"Category Code"| translate }}</th>
                                    <th><i class="fa fa-dashboard"></i>&nbsp;{{"Attendane Code"| translate }}</th>
                                    <th><i class="fa fa-dashboard"></i>&nbsp;{{"Numeric Code"| translate }}</th>
                                    <th><i class="fa fa-align-justify"></i>&nbsp;{{"Short Description"| translate}}</th>
                                    <th><i class="fa fa-align-justify"></i>&nbsp;{{"Description"| translate }}</th>
                                    <th><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Present Value"| translate }}</th>
                                    <th><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Absent Value"| translate }}</th>
                                    <th><i class="fa fa-align-justify"></i>&nbsp;{{"Type Value"| translate }}</th>
                                    <th><i class="fa fa-align-justify"></i>&nbsp;{{"Tardy Value"| translate }}</th>
                                    <th><i class="fa fa-bookmark"></i>&nbsp;{{"Unexcused"| translate}}</th>
                                    <th><i class="fa fa-bookmark"></i>&nbsp;{{"Teacher Can Use"| translate}}</th>
                                    <th><i class="fa fa-dashboard"></i>&nbsp;{{"Color Code"| translate }}</th>
                                    <th><i class="fa fa-bookmark"></i>&nbsp;{{"Status"| translate}}</th>
                                    <th><i class="fa fa-calendar"></i>&nbsp;{{"Status Inactive Date"| translate }}</th>
                                    <th>{{"Action"| translate }}</th>
                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <tr ng-repeat="obj in filteredTodos" ng-class="row1" ng-dblclick="up(obj);">
                                    <td class="small-cell v-align-middle">
                                        <div class="row-fluid" style="height: 20px">
                                            <div class="checkbox check-success">
                                                <input type="checkbox" class="k-checkbox"  value="1" id="test-{{$index}}" ng-click="checkonebyonedelete()">
                                                <label for="test-{{$index}}"></label>
                                            </div>
                                        </div>
                                    </td>

                                    <!--<td><i class="fa fa-plus-circle" ng-click="expand(obj, $event);"></i></td>-->
                                    <td>{{obj.sims_cur_full_name_en}}</td>
                                    <td>{{obj.sims_category_code}}</td>
                                    <td>{{obj.sims_attendance_code}}</td>
                                    <td>{{obj.sims_attendance_code_numeric}}</td>
                                    <td>{{obj.sims_attendance_short_desc}}</td>
                                    <td>{{obj.sims_attendance_description}}</td>
                                    <td>{{obj.sims_attendance_present_value}}</td>
                                    <td>{{obj.sims_attendance_absent_value}}</td>
                                    <td>{{obj.sims_attendance_type_value}}</td>
                                    <td>{{obj.sims_attendance_tardy_value}}</td>
                                    <td class="v-align-middle">
                                        <span ng-if="obj.sims_attendance_unexcused_flag==true" class="label label-success">{{"Yes"| translate }}</span>
                                        <span ng-if="obj.sims_attendance_unexcused_flag==false" class="label label-important">{{"No"| translate }}</span>
                                    </td>
                                    <td class="v-align-middle">
                                        <span ng-if="obj.sims_attendance_teacher_can_use_flag==true" class="label label-success">{{"Yes"| translate }}</span>
                                        <span ng-if="obj.sims_attendance_teacher_can_use_flag==false" class="label label-important">{{"No"| translate }}</span>
                                    </td>
                                    <td><div style="background-color:{{obj.sims_attendance_color_code}};width:40px;">&nbsp;</div></td>
                                    <td class="v-align-middle">
                                        <span ng-if="obj.sims_attendance_status==true" class="label label-success">{{"Active"| translate }}</span>
                                        <span ng-if="obj.sims_attendance_status==false" class="label label-important">{{"In active"| translate }}</span>
                                    </td>
                                    <td>{{obj.sims_attendance_status_inactive_date}}</td>
                                    <td><button ng-click="up(obj)"><i class="fa fa-edit"></i></button>
                                        <!--<a href=""><i class="fa fa-edit" ng-click="up(obj)"></i></a>-->
                                    </td>
                                </tr>

                            </tbody>

                        </table>
                    </div>
                        </div>
                </div>

                <div class="row" ng-show="pager">
                    <div class="col-md-12">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                        </div>
                    </div>
                </div>

            </div>
            </div>
        </div>
    </div>
</div>


<script src="assets/js/calender-datepicker-id.js"></script>
<!--<script src="assets/js/add-ng-disabled.js"></script>-->