﻿<style>
    #parent {
        height: 400px;
    }

    #parent1 {
        height: 300px;
    }


    #fixTable {
        width: 1800px !important;
    }

    .btn[disabled], fieldset[disabled] .btn {
        opacity: 1 !important;
    }

    .page-wrap {
        -ms-touch-action: pan-y;
        -ms-overflow-style: none !important;
        /*width: 800px; // required for H scrolling*/
    }

    .horizontal-slide {
        white-space: nowrap;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

        .horizontal-slide .item {
            display: inline-block;
            float: none;
        }

    .mnuCard.active {
        color: #fff;
        border-bottom: 4px solid #0090d9 !important;
    }

    .sortorder:after {
        content: '\25b2';
    }

    .sortorder.reverse:after {
        content: '\25bc';
    }
</style>



<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <!-- tile -->
            <section class="tile" style="background-color: transparent;">

                <div class="tile-header dvd dvd-btm grid-body no-border" ng-hide="hidesummary">
                    <ul class="controls">
                        <li>
                            <a role="button" tabindex="0" id="a1">
                                <strong>Date :{{ curDate }}</strong> | <strong>Total Students :{{total_students }}</strong> | <strong>Total Present :{{P_cnt }} </strong>|<strong> Total Absent :{{A_cnt }} </strong>
                            </a>
                        </li>
                    </ul>
                    <ul class="controls" ng-hide="true">
                        <li>
                            <a role="button" tabindex="0" id="add-entry"><i class="fa fa-envelope"></i>{{"Email"|translate}}</a>
                        </li>
                        <li>
                            <div style="padding-top: 8px; width: 100%">
                                <div class="onoffswitch labeled inline-block">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switch09" checked="">
                                    <label class="onoffswitch-label" for="switch09">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                                &nbsp;&nbsp;
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="grid-body no-border paddingcode">
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="form-label semi-bold"><i class="fa fa-book"></i>&nbsp;{{"Curriculum" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <select class="form-control input-sm full-width" ng-model="cur_code" ng-options="doc.sims_cur_code as doc.sims_cur_short_name_en for doc in Curriculum_obj" ng-change="Cur_Change()"></select>
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label semi-bold"><i class="fa fa-calendar"></i>&nbsp;{{"Year" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <select ng-model="Acdm_yr" ng-change="acdm_yr_change()" class="form-control input-sm full-width"
                                        ng-options="doc.sims_academic_year as doc.sims_academic_year_desc for doc in academicyears_obj">
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label semi-bold"><i class="fa fa-sitemap"></i>&nbsp;{{"Grade" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <select class="form-control input-sm full-width" name="cmb_garde_new" ng-model="grade_code" ng-change="grade_change()">
                                        <option value="" selected disabled>Please Select</option>
                                        <option ng-repeat="gr in grades_obj" value="{{gr.sims_grade_code}}">{{gr.sims_grade_name}}</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"Section" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <select class="form-control input-sm full-width" name="cmb_section_new" ng-model="section_code">
                                        <option value="" selected disabled>Please Select</option>
                                        <option ng-repeat="sec in sections_names_obj" value="{{sec.sims_section_code}}">{{sec.sims_section_name}}</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label semi-bold"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Term" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <select class="form-control input-sm full-width" ng-model="term_code" ng-change="term_change()">
                                        <option value="" selected disabled>Please Select</option>
                                        <option ng-repeat="tr in terms_obj" value="{{tr.sims_term_code}}">{{tr.sims_term_name}}</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label semi-bold"><i class="fa fa-calendar"></i>&nbsp;{{"Month" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <select id="monthName" class="form-control input-sm full-width" ng-model="sims_month_name" ng-change="getDays_in_month(sims_month_name)">
                                        <option value="" selected disabled>Please Select</option>
                                        <option ng-repeat="mnt in termsDetails_obj" value="{{mnt.sims_month_name}}">{{mnt.sims_month_name}}</option>
                                    </select>
                                </div>
                            </div>
                            <!--<div class="row">
                                <div class="col-md-12">
                                    <div class="pull-right">
                                    <button class="btn btn-primary btn-small" type="button" ng-click="getStudentMonthlyAttendance()">{{"Search" | translate }}</button>
                                    <button class="btn btn-warning btn-small" ng-show="btn_mark" type="button" ng-click="Mark_All_Attendance()">{{"Submit" | translate }}</button>
                                </div>
                                    </div>                                
                            </div>-->
                        </div>
                    </div>
                    <div>
                        <div class="btn-group" ng-hide="true">
                            <button type="button" style="color: lightgray;" ng-click="get_attend_code(codes,$index)" ng-class="{ 'active': mnuCard === codes }" ng-style="{ 'background-color': codes.sims_attendance_color}" ng-repeat="codes in attendance_codes_obj" class="btn btn-default mnuCard">{{codes.sims_attendance_code_name}}</button>
                        </div>
                        <div class="page-wrap landport">
                            <div style="margin-top: 5px;">
                                <a href="">
                                    <div class="col-md-12 " style="white-space: normal; overflow-y: auto; display: -webkit-inline-box; width: 84%;">
                                        <div id="{{$index}}" ng-repeat="codes in attendance_codes_obj" class="item mnuCard style_prevu_kit" ng-class="{ 'active': mnuCard === codes }"
                                            ng-click="get_attend_code(codes,$index)" ng-disabled="codes.enabled" style="cursor:pointer">
                                            <div style="width: 110px; height: 30px; padding: 5px; color: #000; text-align: -webkit-center;" ng-style="{ 'background-color': codes.sims_attendance_color}">
                                                {{codes.sims_attendance_code_name}}
                                            </div>
                                        </div>
                                    </div>

                                </a>
                                <div class="row">
                                    <div class="col-md-12" style="width: 16%">
                                        <div class="pull-right">
                                            <button class="btn btn-primary btn-small" type="button" ng-click="getStudentMonthlyAttendance()">{{"Search" | translate }}</button>
                                            <!--<button class="btn btn-warning btn-small" ng-show="btn_mark" type="button" ng-click="Mark_All_Attendance()">{{"Submit" | translate }}</button>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br />
                        <div class="row ">
                            <div class="col-md-2" ng-show="false">
                                <span class="btn btn-mini btn-success btn-demo-space" style="width: 100%">{{"Attendance Codes" | translate }}</span>
                                <span class="btn btn-mini btn-gray" style="width: 80%; text-align: left">
                                    <div>
                                        <div class="radio radio-success" ng-repeat="codes in attendance_codes_obj">
                                            <input id="{{codes.sims_attendance_code}}" type="radio" name="optionyes" ng-model="rdbtn" value="{{codes.sims_attendance_code}}" ng-click="get_attend_code(codes);" />
                                            <label for="{{codes.sims_attendance_code}}" style="font-size: 12px; color: #000">
                                                <span ng-style="{ 'background-color': codes.sims_attendance_color}" style="width: 16px; height: 16px;"
                                                    class="btn btn-primary btn-xs btn-mini" ng-click="get_attend_code(codes)">&nbsp;</span>&nbsp;
                                                {{codes.sims_attendance_code_name}}

                                            </label>
                                        </div>
                                    </div>
                                </span>

                                <br />
                                <br />
                                <span class="btn btn-mini btn-success btn-demo-space" style="width: 100%">{{"Todays Summary" | translate }}
                                    <span><b>{{todays_date}}</b></span>
                                </span>

                                <span class="btn btn-mini btn-gray" style="width: 100%; text-align: left">
                                    <div>
                                        <span class="btn btn-xs btn-mini" style="width: 75%; color: #000"><b>{{"Total Students" | translate }}</b></span>
                                        <span class="btn btn-white btn-xs btn-mini" style="width: 25%;"><b>{{total_students}}</b></span>
                                    </div>
                                    <div>
                                        <span class="btn btn-xs btn-mini" style="width: 75%; color: #000"><b>{{"Total Present" | translate }}</b></span>
                                        <span class="btn btn-white btn-xs btn-mini" style="width: 25%;"><b>{{P_cnt}}</b></span>
                                    </div>
                                    <div>
                                        <span class="btn btn-xs btn-mini" style="width: 75%; color: #000"><b>{{"Total Absent" | translate }}</b></span>
                                        <span class="btn btn-white btn-xs btn-mini" style="width: 25%;"><b>{{A_cnt}}</b></span>
                                    </div>
                                    <div>
                                        <span class="btn btn-xs btn-mini" style="width: 75%; color: #000"><b>{{"Total Absent Excused" | translate }}</b></span>
                                        <span class="btn btn-white btn-xs btn-mini" style="width: 25%;"><b>{{AE_cnt}}</b></span>
                                    </div>
                                    <div>
                                        <span class="btn btn-xs btn-mini" style="width: 75%; color: #000"><b>{{"Total Tardy" | translate }}</b></span>
                                        <span class="btn btn-white btn-xs btn-mini" style="width: 25%;"><b>{{T_cnt}}</b></span>
                                    </div>
                                    <div>
                                        <span class="btn btn-xs btn-mini" style="width: 75%; color: #000"><b>{{"Total Tardy Excused" | translate }}</b></span>
                                        <span class="btn btn-white btn-xs btn-mini" style="width: 25%;"><b>{{TE_cnt}}</b></span>
                                    </div>
                                    <div>
                                        <span class="btn btn-xs btn-mini" style="width: 75%; color: #000"><b>{{"Total Unmarked" | translate }}</b></span>
                                        <span class="btn btn-white btn-xs btn-mini" style="width: 25%;"><b>{{UM_cnt}}</b></span>
                                    </div>
                                    <div>
                                        <span class="btn btn-xs btn-mini" style="width: 75%; color: #000"><b>{{"Total Not Applicable" | translate }}</b></span>
                                        <span class="btn btn-white btn-xs btn-mini" style="width: 25%;"><b>{{NA_cnt}}</b></span>
                                    </div>
                                </span>
                            </div>
                            <div class="col-md-12" ng-show="loading">
                                <center>
                                    <img src="assets/images/loading.gif" />
                                </center>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row paddingcode" style="margin-top: 3px;">
                    <div class="col-md-12 ">
                        <div id="parent" ng-show="stud_table">
                            <table id="fixTable" class="table table-bordered">
                                <thead>
                                    <tr style="background-color: #fff">
                                        <td >
                                                            <label style="font-weight: bold;">
                                                                                                                           
                                                            </label>
                                                        </td>

                                          <td ng-click="sortBy('sims_roll_number1')">
                                            <label style="width: 80px; font-weight: bold;">
                                                <i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Roll No"|translate}}
                                                                <span class="sortorder" ng-show="propertyName === 'sims_roll_number1'" ng-class="{reverse: reverse}"></span>
                                            </label>
                                        </td>

                                        <td ng-click="sortBy('sims_enroll_number')">
                                            <label style="width: 80px; font-weight: bold;">
                                                <i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Enroll No"|translate}}
                                                                <span class="sortorder" ng-show="propertyName === 'sims_enroll_number'" ng-class="{reverse: reverse}"></span>
                                            </label>
                                        </td>
                                        <td ng-click="sortBy('sims_student_name')">
                                            <label style="width: 300px; font-weight: bold;">
                                                <i class="fa fa-align-justify"></i>&nbsp;{{"Student Name"|translate}}
                                                                <span class="sortorder" ng-show="propertyName === 'sims_student_name'" ng-class="{reverse: reverse}"></span>

                                               
                                            </label>
                                        </td>
                                        <td>&nbsp;</td>
                                        <!--<th context-menu="menuOptionsDayWise" style="width: 1%;text-transform: uppercase !important;" class="v-align-middle" ng-repeat="i in days">{{i.day}}&nbsp;{{i.mon}}</th>-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="stud in stud_monthlyAttendance_obj | orderBy:propertyName:reverse">
                                        <td style="background-color:#fff">   &nbsp;    &nbsp; <i class="fa fa-plus-circle" id="{{stud.sims_enroll_number}}plus"  ng-click="expand(stud);"></i> </td>
                                        <td  style="background-color: #fff">{{stud.sims_roll_number}}</td>
                                       
                                         <td  style="background-color: #fff">{{stud.sims_enroll_number}}</td>
                                        <td  style="background-color: #fff">{{stud.sims_student_name}}  </td>
                                        <td style="background-color: #fff">
                                            <table  ng-show="stud.sims_enroll_number1">
                                                <thead >
                                                    <tr  style="background-color: #fff">
                                                        <td>Slot</td>
                                                        <td context-menu="menuOptionsDayWise" style="width: 1%; text-transform: uppercase !important;" class="v-align-middle" ng-repeat="i in days">{{i.day}}&nbsp;{{i.mon}}</td>


                                                    </tr>
                                                </thead>

                                                <tbody>
                                                <tr ng-repeat="stud1 in stud.sublist1">
                                                    <td style="background-color: #fff">{{stud1.slot_code}}</td>

                                                    <td style="background-color: #fff" class="v-align-middle" ng-mouseenter="show_comment(stud1,1,stud1.attendance_day1_code)" data-placement="bottom" data-toggle="tooltip" title="{{stud1.sims_stud1ent_name}} {{stud1_comment}}">
                                                        <button ng-disabled="stud1.t" id="{{stud1.sims_enroll_number+1+stud1.slot_code}}" class="btn btn-white btn-xs btn-mini" ng-style="{ 'background-color': stud1.attendance_day1_color_code}" ng-right-click="comment(stud1,1,stud1.attendance_day1_code)" ng-click="Mark_Attendance(stud1,stud,'1',stud1.attendance_day1_code)"><i ng-if="stud1.stud1entDOB=='1'" class="fa fa-birthday-cake" aria-hidden="true" style="font-size: 10px;"></i><b>{{stud1.attendance_day1_code}}</b></button></td>
                                                    <td style="background-color: #fff" class="v-align-middle" ng-mouseenter="show_comment(stud1,2,stud1.attendance_day1_code)" data-placement="bottom" data-toggle="tooltip" title="{{stud1.sims_stud1ent_name}} {{stud1_comment}}">
                                                        <button ng-disabled="stud1.t" id="{{stud1.sims_enroll_number+2+stud1.slot_code }}" class="btn btn-white btn-xs btn-mini" ng-style="{ 'background-color': stud1.attendance_day2_color_code}" ng-right-click="comment(stud1,2,stud1.attendance_day1_code)" ng-click="Mark_Attendance(stud1,stud,'2',stud1.attendance_day2_code)"><i ng-if="stud1.stud1entDOB=='2'" class="fa fa-birthday-cake" aria-hidden="true" style="font-size: 10px;"></i><b>{{stud1.attendance_day2_code}}</b></button></td>
                                                    <td style="background-color: #fff" class="v-align-middle" ng-mouseenter="show_comment(stud1,3,stud1.attendance_day1_code)" data-placement="bottom" data-toggle="tooltip" title="{{stud1.sims_stud1ent_name}} {{stud1_comment}}">
                                                        <button ng-disabled="stud1.t" id="{{stud1.sims_enroll_number+3+stud1.slot_code}}" class="btn btn-white btn-xs btn-mini" ng-style="{ 'background-color': stud1.attendance_day3_color_code}" ng-right-click="comment(stud1,3,stud1.attendance_day1_code)" ng-click="Mark_Attendance(stud1,stud,'3',stud1.attendance_day3_code)"><i ng-if="stud1.stud1entDOB=='3'" class="fa fa-birthday-cake" aria-hidden="true" style="font-size: 10px;"></i><b>{{stud1.attendance_day3_code}}</b></button></td>
                                                    <td style="background-color: #fff" class="v-align-middle" ng-mouseenter="show_comment(stud1,4,stud1.attendance_day1_code)" data-placement="bottom" data-toggle="tooltip" title="{{stud1.sims_stud1ent_name}} {{stud1_comment}}">
                                                        <button ng-disabled="stud1.t" id="{{stud1.sims_enroll_number+4+stud1.slot_code}}" class="btn btn-white btn-xs btn-mini" ng-style="{ 'background-color': stud1.attendance_day4_color_code}" ng-right-click="comment(stud1,4,stud1.attendance_day1_code)" ng-click="Mark_Attendance(stud1,stud,'4',stud1.attendance_day4_code)"><i ng-if="stud1.stud1entDOB=='4'" class="fa fa-birthday-cake" aria-hidden="true" style="font-size: 10px;"></i><b>{{stud1.attendance_day4_code}}</b></button></td>
                                                    <td style="background-color: #fff" class="v-align-middle" ng-mouseenter="show_comment(stud1,5,stud1.attendance_day1_code)" data-placement="bottom" data-toggle="tooltip" title="{{stud1.sims_stud1ent_name}} {{stud1_comment}}">
                                                        <button ng-disabled="stud1.t" id="{{stud1.sims_enroll_number+5+stud1.slot_code}}" class="btn btn-white btn-xs btn-mini" ng-style="{ 'background-color': stud1.attendance_day5_color_code}" ng-right-click="comment(stud1,5,stud1.attendance_day1_code)" ng-click="Mark_Attendance(stud1,stud,'5',stud1.attendance_day5_code)"><i ng-if="stud1.stud1entDOB=='5'" class="fa fa-birthday-cake" aria-hidden="true" style="font-size: 10px;"></i><b>{{stud1.attendance_day5_code}}</b></button></td>
                                                    <td style="background-color: #fff" class="v-align-middle" ng-mouseenter="show_comment(stud1,6,stud1.attendance_day1_code)" data-placement="bottom" data-toggle="tooltip" title="{{stud1.sims_stud1ent_name}} {{stud1_comment}}">
                                                        <button ng-disabled="stud1.t" id="{{stud1.sims_enroll_number+6+stud1.slot_code}}" class="btn btn-white btn-xs btn-mini" ng-style="{ 'background-color': stud1.attendance_day6_color_code}" ng-right-click="comment(stud1,6,stud1.attendance_day1_code)" ng-click="Mark_Attendance(stud1,stud,'6',stud1.attendance_day6_code)"><i ng-if="stud1.stud1entDOB=='6'" class="fa fa-birthday-cake" aria-hidden="true" style="font-size: 10px;"></i><b>{{stud1.attendance_day6_code}}</b></button></td>
                                                    <td style="background-color: #fff" class="v-align-middle" ng-mouseenter="show_comment(stud1,7,stud1.attendance_day1_code)" data-placement="bottom" data-toggle="tooltip" title="{{stud1.sims_stud1ent_name}} {{stud1_comment}}">
                                                        <button ng-disabled="stud1.t" id="{{stud1.sims_enroll_number+7+stud1.slot_code}}" class="btn btn-white btn-xs btn-mini" ng-style="{ 'background-color': stud1.attendance_day7_color_code}" ng-right-click="comment(stud1,7,stud1.attendance_day1_code)" ng-click="Mark_Attendance(stud1,stud,'7',stud1.attendance_day7_code)"><i ng-if="stud1.stud1entDOB=='7'" class="fa fa-birthday-cake" aria-hidden="true" style="font-size: 10px;"></i><b>{{stud1.attendance_day7_code}}</b></button></td>
                                                    <td style="background-color: #fff" class="v-align-middle" ng-mouseenter="show_comment(stud1,8,stud1.attendance_day1_code)" data-placement="bottom" data-toggle="tooltip" title="{{stud1.sims_stud1ent_name}} {{stud1_comment}}">
                                                        <button ng-disabled="stud1.t" id="{{stud1.sims_enroll_number+8+stud1.slot_code}}" class="btn btn-white btn-xs btn-mini" ng-style="{ 'background-color': stud1.attendance_day8_color_code}" ng-right-click="comment(stud1,8,stud1.attendance_day1_code)" ng-click="Mark_Attendance(stud1,stud,'8',stud1.attendance_day8_code)"><i ng-if="stud1.stud1entDOB=='8'" class="fa fa-birthday-cake" aria-hidden="true" style="font-size: 10px;"></i><b>{{stud1.attendance_day8_code}}</b></button></td>
                                                    <td style="background-color: #fff" class="v-align-middle" ng-mouseenter="show_comment(stud1,9,stud1.attendance_day1_code)" data-placement="bottom" data-toggle="tooltip" title="{{stud1.sims_stud1ent_name}} {{stud1_comment}}">
                                                        <button ng-disabled="stud1.t" id="{{stud1.sims_enroll_number+9+stud1.slot_code}}" class="btn btn-white btn-xs btn-mini" ng-style="{ 'background-color': stud1.attendance_day9_color_code}" ng-right-click="comment(stud1,9,stud1.attendance_day1_code)" ng-click="Mark_Attendance(stud1,stud,'9',stud1.attendance_day9_code)"><i ng-if="stud1.stud1entDOB=='9'" class="fa fa-birthday-cake" aria-hidden="true" style="font-size: 10px;"></i><b>{{stud1.attendance_day9_code}}</b></button></td>
                                                    <td style="background-color: #fff" class="v-align-middle" ng-mouseenter="show_comment(stud1,10,stud1.attendance_day1_code)" data-placement="bottom" data-toggle="tooltip" title="{{stud1.sims_stud1ent_name}} {{stud1_comment}}">
                                                        <button ng-disabled="stud1.t" id="{{stud1.sims_enroll_number+10+stud1.slot_code}}" class="btn btn-white btn-xs btn-mini" ng-style="{ 'background-color': stud1.attendance_day10_color_code}" ng-right-click="comment(stud1,10,stud1.attendance_day1_code)" ng-click="Mark_Attendance(stud1,stud,'10',stud1.attendance_day10_code)"><i ng-if="stud1.stud1entDOB=='10'" class="fa fa-birthday-cake" aria-hidden="true" style="font-size: 10px;"></i><b>{{stud1.attendance_day10_code}}</b></button></td>
                                                    <td style="background-color: #fff" class="v-align-middle" ng-mouseenter="show_comment(stud1,11,stud1.attendance_day1_code)" data-placement="bottom" data-toggle="tooltip" title="{{stud1.sims_stud1ent_name}} {{stud1_comment}}">
                                                        <button ng-disabled="stud1.t" id="{{stud1.sims_enroll_number+11+stud1.slot_code}}" class="btn btn-white btn-xs btn-mini" ng-style="{ 'background-color': stud1.attendance_day11_color_code}" ng-right-click="comment(stud1,11,stud1.attendance_day1_code)" ng-click="Mark_Attendance(stud1,stud,'11',stud1.attendance_day11_code)"><i ng-if="stud1.stud1entDOB=='11'" class="fa fa-birthday-cake" aria-hidden="true" style="font-size: 10px;"></i><b>{{stud1.attendance_day11_code}}</b></button></td>
                                                    <td style="background-color: #fff" class="v-align-middle" ng-mouseenter="show_comment(stud1,12,stud1.attendance_day1_code)" data-placement="bottom" data-toggle="tooltip" title="{{stud1.sims_stud1ent_name}} {{stud1_comment}}">
                                                        <button ng-disabled="stud1.t" id="{{stud1.sims_enroll_number+12+stud1.slot_code}}" class="btn btn-white btn-xs btn-mini" ng-style="{ 'background-color': stud1.attendance_day12_color_code}" ng-right-click="comment(stud1,12,stud1.attendance_day1_code)" ng-click="Mark_Attendance(stud1,stud,'12',stud1.attendance_day12_code)"><i ng-if="stud1.stud1entDOB=='12'" class="fa fa-birthday-cake" aria-hidden="true" style="font-size: 10px;"></i><b>{{stud1.attendance_day12_code}}</b></button></td>
                                                    <td style="background-color: #fff" class="v-align-middle" ng-mouseenter="show_comment(stud1,13,stud1.attendance_day1_code)" data-placement="bottom" data-toggle="tooltip" title="{{stud1.sims_stud1ent_name}} {{stud1_comment}}">
                                                        <button ng-disabled="stud1.t" id="{{stud1.sims_enroll_number+13+stud1.slot_code}}" class="btn btn-white btn-xs btn-mini" ng-style="{ 'background-color': stud1.attendance_day13_color_code}" ng-right-click="comment(stud1,13,stud1.attendance_day1_code)" ng-click="Mark_Attendance(stud1,stud,'13',stud1.attendance_day13_code)"><i ng-if="stud1.stud1entDOB=='13'" class="fa fa-birthday-cake" aria-hidden="true" style="font-size: 10px;"></i><b>{{stud1.attendance_day13_code}}</b></button></td>
                                                    <td style="background-color: #fff" class="v-align-middle" ng-mouseenter="show_comment(stud1,14,stud1.attendance_day1_code)" data-placement="bottom" data-toggle="tooltip" title="{{stud1.sims_stud1ent_name}} {{stud1_comment}}">
                                                        <button ng-disabled="stud1.t" id="{{stud1.sims_enroll_number+14+stud1.slot_code}}" class="btn btn-white btn-xs btn-mini" ng-style="{ 'background-color': stud1.attendance_day14_color_code}" ng-right-click="comment(stud1,14,stud1.attendance_day1_code)" ng-click="Mark_Attendance(stud1,stud,'14',stud1.attendance_day14_code)"><i ng-if="stud1.stud1entDOB=='14'" class="fa fa-birthday-cake" aria-hidden="true" style="font-size: 10px;"></i><b>{{stud1.attendance_day14_code}}</b></button></td>
                                                    <td style="background-color: #fff" class="v-align-middle" ng-mouseenter="show_comment(stud1,15,stud1.attendance_day1_code)" data-placement="bottom" data-toggle="tooltip" title="{{stud1.sims_stud1ent_name}} {{stud1_comment}}">
                                                        <button ng-disabled="stud1.t" id="{{stud1.sims_enroll_number+15+stud1.slot_code}}" class="btn btn-white btn-xs btn-mini" ng-style="{ 'background-color': stud1.attendance_day15_color_code}" ng-right-click="comment(stud1,15,stud1.attendance_day1_code)" ng-click="Mark_Attendance(stud1,stud,'15',stud1.attendance_day15_code)"><i ng-if="stud1.stud1entDOB=='15'" class="fa fa-birthday-cake" aria-hidden="true" style="font-size: 10px;"></i><b>{{stud1.attendance_day15_code}}</b></button></td>
                                                    <td style="background-color: #fff" class="v-align-middle" ng-mouseenter="show_comment(stud1,16,stud1.attendance_day1_code)" data-placement="bottom" data-toggle="tooltip" title="{{stud1.sims_stud1ent_name}} {{stud1_comment}}">
                                                        <button ng-disabled="stud1.t" id="{{stud1.sims_enroll_number+16+stud1.slot_code}}" class="btn btn-white btn-xs btn-mini" ng-style="{ 'background-color': stud1.attendance_day16_color_code}" ng-right-click="comment(stud1,16,stud1.attendance_day1_code)" ng-click="Mark_Attendance(stud1,stud,'16',stud1.attendance_day16_code)"><i ng-if="stud1.stud1entDOB=='16'" class="fa fa-birthday-cake" aria-hidden="true" style="font-size: 10px;"></i><b>{{stud1.attendance_day16_code}}</b></button></td>
                                                    <td style="background-color: #fff" class="v-align-middle" ng-mouseenter="show_comment(stud1,17,stud1.attendance_day1_code)" data-placement="bottom" data-toggle="tooltip" title="{{stud1.sims_stud1ent_name}} {{stud1_comment}}">
                                                        <button ng-disabled="stud1.t" id="{{stud1.sims_enroll_number+17+stud1.slot_code}}" class="btn btn-white btn-xs btn-mini" ng-style="{ 'background-color': stud1.attendance_day17_color_code}" ng-right-click="comment(stud1,17,stud1.attendance_day1_code)" ng-click="Mark_Attendance(stud1,stud,'17',stud1.attendance_day17_code)"><i ng-if="stud1.stud1entDOB=='17'" class="fa fa-birthday-cake" aria-hidden="true" style="font-size: 10px;"></i><b>{{stud1.attendance_day17_code}}</b></button></td>
                                                    <td style="background-color: #fff" class="v-align-middle" ng-mouseenter="show_comment(stud1,18,stud1.attendance_day1_code)" data-placement="bottom" data-toggle="tooltip" title="{{stud1.sims_stud1ent_name}} {{stud1_comment}}">
                                                        <button ng-disabled="stud1.t" id="{{stud1.sims_enroll_number+18+stud1.slot_code}}" class="btn btn-white btn-xs btn-mini" ng-style="{ 'background-color': stud1.attendance_day18_color_code}" ng-right-click="comment(stud1,18,stud1.attendance_day1_code)" ng-click="Mark_Attendance(stud1,stud,'18',stud1.attendance_day18_code)"><i ng-if="stud1.stud1entDOB=='18'" class="fa fa-birthday-cake" aria-hidden="true" style="font-size: 10px;"></i><b>{{stud1.attendance_day18_code}}</b></button></td>
                                                    <td style="background-color: #fff" class="v-align-middle" ng-mouseenter="show_comment(stud1,19,stud1.attendance_day1_code)" data-placement="bottom" data-toggle="tooltip" title="{{stud1.sims_stud1ent_name}} {{stud1_comment}}">
                                                        <button ng-disabled="stud1.t" id="{{stud1.sims_enroll_number+19+stud1.slot_code}}" class="btn btn-white btn-xs btn-mini" ng-style="{ 'background-color': stud1.attendance_day19_color_code}" ng-right-click="comment(stud1,19,stud1.attendance_day1_code)" ng-click="Mark_Attendance(stud1,stud,'19',stud1.attendance_day19_code)"><i ng-if="stud1.stud1entDOB=='19'" class="fa fa-birthday-cake" aria-hidden="true" style="font-size: 10px;"></i><b>{{stud1.attendance_day19_code}}</b></button></td>
                                                    <td style="background-color: #fff" class="v-align-middle" ng-mouseenter="show_comment(stud1,20,stud1.attendance_day1_code)" data-placement="bottom" data-toggle="tooltip" title="{{stud1.sims_stud1ent_name}} {{stud1_comment}}">
                                                        <button ng-disabled="stud1.t" id="{{stud1.sims_enroll_number+20+stud1.slot_code}}" class="btn btn-white btn-xs btn-mini" ng-style="{ 'background-color': stud1.attendance_day20_color_code}" ng-right-click="comment(stud1,20,stud1.attendance_day1_code)" ng-click="Mark_Attendance(stud1,stud,'20',stud1.attendance_day20_code)"><i ng-if="stud1.stud1entDOB=='20'" class="fa fa-birthday-cake" aria-hidden="true" style="font-size: 10px;"></i><b>{{stud1.attendance_day20_code}}</b></button></td>
                                                    <td style="background-color: #fff" class="v-align-middle" ng-mouseenter="show_comment(stud1,21,stud1.attendance_day1_code)" data-placement="bottom" data-toggle="tooltip" title="{{stud1.sims_stud1ent_name}} {{stud1_comment}}">
                                                        <button ng-disabled="stud1.t" id="{{stud1.sims_enroll_number+21+stud1.slot_code}}" class="btn btn-white btn-xs btn-mini" ng-style="{ 'background-color': stud1.attendance_day21_color_code}" ng-right-click="comment(stud1,21,stud1.attendance_day1_code)" ng-click="Mark_Attendance(stud1,stud,'21',stud1.attendance_day21_code)"><i ng-if="stud1.stud1entDOB=='21'" class="fa fa-birthday-cake" aria-hidden="true" style="font-size: 10px;"></i><b>{{stud1.attendance_day21_code}}</b></button></td>
                                                    <td style="background-color: #fff" class="v-align-middle" ng-mouseenter="show_comment(stud1,22,stud1.attendance_day1_code)" data-placement="bottom" data-toggle="tooltip" title="{{stud1.sims_stud1ent_name}} {{stud1_comment}}">
                                                        <button ng-disabled="stud1.t" id="{{stud1.sims_enroll_number+22+stud1.slot_code}}" class="btn btn-white btn-xs btn-mini" ng-style="{ 'background-color': stud1.attendance_day22_color_code}" ng-right-click="comment(stud1,22,stud1.attendance_day1_code)" ng-click="Mark_Attendance(stud1,stud,'22',stud1.attendance_day22_code)"><i ng-if="stud1.stud1entDOB=='22'" class="fa fa-birthday-cake" aria-hidden="true" style="font-size: 10px;"></i><b>{{stud1.attendance_day22_code}}</b></button></td>
                                                    <td style="background-color: #fff" class="v-align-middle" ng-mouseenter="show_comment(stud1,23,stud1.attendance_day1_code)" data-placement="bottom" data-toggle="tooltip" title="{{stud1.sims_stud1ent_name}} {{stud1_comment}}">
                                                        <button ng-disabled="stud1.t" id="{{stud1.sims_enroll_number+23+stud1.slot_code}}" class="btn btn-white btn-xs btn-mini" ng-style="{ 'background-color': stud1.attendance_day23_color_code}" ng-right-click="comment(stud1,23,stud1.attendance_day1_code)" ng-click="Mark_Attendance(stud1,stud,'23',stud1.attendance_day23_code)"><i ng-if="stud1.stud1entDOB=='23'" class="fa fa-birthday-cake" aria-hidden="true" style="font-size: 10px;"></i><b>{{stud1.attendance_day23_code}}</b></button></td>
                                                    <td style="background-color: #fff" class="v-align-middle" ng-mouseenter="show_comment(stud1,24,stud1.attendance_day1_code)" data-placement="bottom" data-toggle="tooltip" title="{{stud1.sims_stud1ent_name}} {{stud1_comment}}">
                                                        <button ng-disabled="stud1.t" id="{{stud1.sims_enroll_number+24+stud1.slot_code}}" class="btn btn-white btn-xs btn-mini" ng-style="{ 'background-color': stud1.attendance_day24_color_code}" ng-right-click="comment(stud1,24,stud1.attendance_day1_code)" ng-click="Mark_Attendance(stud1,stud,'24',stud1.attendance_day24_code)"><i ng-if="stud1.stud1entDOB=='24'" class="fa fa-birthday-cake" aria-hidden="true" style="font-size: 10px;"></i><b>{{stud1.attendance_day24_code}}</b></button></td>
                                                    <td style="background-color: #fff" class="v-align-middle" ng-mouseenter="show_comment(stud1,25,stud1.attendance_day1_code)" data-placement="bottom" data-toggle="tooltip" title="{{stud1.sims_stud1ent_name}} {{stud1_comment}}">
                                                        <button ng-disabled="stud1.t" id="{{stud1.sims_enroll_number+25+stud1.slot_code}}" class="btn btn-white btn-xs btn-mini" ng-style="{ 'background-color': stud1.attendance_day25_color_code}" ng-right-click="comment(stud1,25,stud1.attendance_day1_code)" ng-click="Mark_Attendance(stud1,stud,'25',stud1.attendance_day25_code)"><i ng-if="stud1.stud1entDOB=='25'" class="fa fa-birthday-cake" aria-hidden="true" style="font-size: 10px;"></i><b>{{stud1.attendance_day25_code}}</b></button></td>
                                                    <td style="background-color: #fff" class="v-align-middle" ng-mouseenter="show_comment(stud1,26,stud1.attendance_day1_code)" data-placement="bottom" data-toggle="tooltip" title="{{stud1.sims_stud1ent_name}} {{stud1_comment}}">
                                                        <button ng-disabled="stud1.t" id="{{stud1.sims_enroll_number+26+stud1.slot_code}}" class="btn btn-white btn-xs btn-mini" ng-style="{ 'background-color': stud1.attendance_day26_color_code}" ng-right-click="comment(stud1,26,stud1.attendance_day1_code)" ng-click="Mark_Attendance(stud1,stud,'26',stud1.attendance_day26_code)"><i ng-if="stud1.stud1entDOB=='26'" class="fa fa-birthday-cake" aria-hidden="true" style="font-size: 10px;"></i><b>{{stud1.attendance_day26_code}}</b></button></td>
                                                    <td style="background-color: #fff" class="v-align-middle" ng-mouseenter="show_comment(stud1,27,stud1.attendance_day1_code)" data-placement="bottom" data-toggle="tooltip" title="{{stud1.sims_stud1ent_name}} {{stud1_comment}}">
                                                        <button ng-disabled="stud1.t" id="{{stud1.sims_enroll_number+27+stud1.slot_code}}" class="btn btn-white btn-xs btn-mini" ng-style="{ 'background-color': stud1.attendance_day27_color_code}" ng-right-click="comment(stud1,27,stud1.attendance_day1_code)" ng-click="Mark_Attendance(stud1,stud,'27',stud1.attendance_day27_code)"><i ng-if="stud1.stud1entDOB=='27'" class="fa fa-birthday-cake" aria-hidden="true" style="font-size: 10px;"></i><b>{{stud1.attendance_day27_code}}</b></button></td>
                                                    <td style="background-color: #fff" class="v-align-middle" ng-mouseenter="show_comment(stud1,28,stud1.attendance_day1_code)" data-placement="bottom" data-toggle="tooltip" title="{{stud1.sims_stud1ent_name}} {{stud1_comment}}">
                                                        <button ng-disabled="stud1.t" id="{{stud1.sims_enroll_number+28+stud1.slot_code}}" class="btn btn-white btn-xs btn-mini" ng-style="{ 'background-color': stud1.attendance_day28_color_code}" ng-right-click="comment(stud1,28,stud1.attendance_day1_code)" ng-click="Mark_Attendance(stud1,stud,'28',stud1.attendance_day28_code)"><i ng-if="stud1.stud1entDOB=='28'" class="fa fa-birthday-cake" aria-hidden="true" style="font-size: 10px;"></i><b>{{stud1.attendance_day28_code}}</b></button></td>
                                                    <td style="background-color: #fff" class="v-align-middle" ng-mouseenter="show_comment(stud1,29,stud1.attendance_day1_code)" data-placement="bottom" data-toggle="tooltip" title="{{stud1.sims_stud1ent_name}} {{stud1_comment}}">
                                                        <button ng-disabled="stud1.t" id="{{stud1.sims_enroll_number+29+stud1.slot_code}}" class="btn btn-white btn-xs btn-mini" ng-style="{ 'background-color': stud1.attendance_day29_color_code}" ng-right-click="comment(stud1,29,stud1.attendance_day1_code)" ng-click="Mark_Attendance(stud1,stud,'29',stud1.attendance_day29_code)"><i ng-if="stud1.stud1entDOB=='29'" class="fa fa-birthday-cake" aria-hidden="true" style="font-size: 10px;"></i><b>{{stud1.attendance_day29_code}}</b></button></td>
                                                    <td style="background-color: #fff" class="v-align-middle" ng-mouseenter="show_comment(stud1,30,stud1.attendance_day1_code)" data-placement="bottom" data-toggle="tooltip" title="{{stud1.sims_stud1ent_name}} {{stud1_comment}}" ng-if="rowscount > 29 && rowscount!= 28">
                                                        <button ng-disabled="stud1.t" id="{{stud1.sims_enroll_number+30+stud1.slot_code}}" class="btn btn-white btn-xs btn-mini" ng-style="{ 'background-color': stud1.attendance_day30_color_code}" ng-right-click="comment(stud1,30,stud1.attendance_day1_code)" ng-click="Mark_Attendance(stud1,stud,'30',stud1.attendance_day30_code)"><i ng-if="stud1.stud1entDOB=='30'" class="fa fa-birthday-cake" aria-hidden="true" style="font-size: 10px;"></i><b>{{stud1.attendance_day30_code}}</b></button></td>
                                                    <td style="background-color: #fff" class="v-align-middle" ng-mouseenter="show_comment(stud1,31,stud1.attendance_day1_code)" data-placement="bottom" data-toggle="tooltip" title="{{stud1.sims_stud1ent_name}} {{stud1_comment}}" ng-if="rowscount=='31'">
                                                        <button ng-disabled="stud1.t" class="btn btn-white btn-xs btn-mini" id="{{stud1.sims_enroll_number+31+stud1.slot_code}}" ng-style="{ 'background-color': stud1.attendance_day31_color_code}" ng-right-click="comment(stud1,31,stud1.attendance_day1_code)" ng-click="Mark_Attendance(stud1,stud,'31',stud1.attendance_day31_code)"><i ng-if="stud1.stud1entDOB=='31'" class="fa fa-birthday-cake" aria-hidden="true" style="font-size: 10px;"></i><b>{{stud1.attendance_day31_code}}</b></button></td>

                                                </tr>
                                                    </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>



<div class="modal draggable fade in" id="attendance_detail_model" role="dialog" style="display: none;" ng-style="{'display':CHd.srNo}">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 800px; height: 900px">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px"><b>Student Information</b></h4>
                </div>
                <div class="pull-right">
                    <button class="br-0 btn-primary btn t-p-0 position-absolute r-p-0" data-dismiss="modal" ng-click="modal_cancel()" type="submit">X</button>

                </div>
            </div>

            <div class="modal-body" style="background-color: white">

                <div class="row">
                    <div class="col-md-12 ">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="form-label semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"Student Name" | translate }} </label>

                                <input type="text" name="no_copies" id="Text29" class="form-control input-sm" readonly ng-model="std_new.sims_student_name" />

                                <!--<select class="form-control input-sm full-width" ng-model="cur_code" ng-options="doc.sims_cur_code as doc.sims_cur_name for doc in Curriculum_obj" ng-change="Cur_Change()"></select>-->

                            </div>
                            <div class="col-md-2">
                                <label class="form-label semi-bold"><i class="fa fa-sitemap"></i>&nbsp;{{"Grade" | translate }} </label>
                                <!--<select  style="width: 100%" ng-model="Acdm_yr" ng-change="acdm_yr_change()">
                                        <option value="" selected disabled>Please Select</option>
                                        <option ng-repeat="act in academicyears_obj" value="{{act.sims_academic_year}}">{{act.sims_academic_year_desc}}</option>
                                    </select>-->

                                <input type="text" name="cmb_garde_newss" id="cmb_garde" class="form-control input-sm" readonly ng-model="std_new.sims_grade" />



                            </div>
                            <div class="col-md-2">
                                <label class="form-label semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"Section" | translate }} </label>
                                <input type="text" name="no_copies" id="Text2" class="form-control input-sm" readonly ng-model="std_new.sims_section" />

                            </div>
                            <div class="col-md-2">
                                <label class="form-label semi-bold"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Select Count" | translate }} </label>
                                <select class="form-control input-sm full-width" ng-model="category_count">
                                    <option value="" selected disabled>Please Select</option>
                                    <option ng-repeat="sec in att_count_lst" value="{{sec.sims_category_code}}">{{sec.sims_category_code}}</option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <label class="form-label semi-bold">&nbsp;</label>
                                <button class="btn btn-primary btn-small" type="button" ng-click="getStudentMonthlyAttendance_details()">{{"Search" | translate }}</button>

                            </div>
                        </div>


                    </div>

                    <div class="col-md-12 ">
                        <div class="col-md-12 margin-top-2">
                            <div id="parent1">
                                <table id="fixTable1" class="table table-bordered">
                                    <thead>
                                        <tr style="background-color: rgb(187, 187, 187)">

                                            <th>
                                                <label class="semi-bold">
                                                    <i class="fa fa-calendar"></i>&nbsp; {{"Date"|translate}}
                                                               
                                                </label>
                                            </th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr ng-repeat="stud in category_date_lst | orderBy:propertyName:reverse">
                                            <td style="background-color: #fff">{{stud.sims_from_date}}</td>


                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal draggable fade in" id="comment_dailog" role="dialog" style="display: none;" ng-style="{'display':CHd.srNo}">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 300px; height: 300px">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px"><b>Day Comment</b></h4>
                </div>
                <div class="pull-right">
                    <button class="br-0 btn-primary btn t-p-0 position-absolute r-p-0" data-dismiss="modal" ng-click="modal_cancel()" type="submit">X</button>

                </div>
            </div>

            <div class="modal-body" style="background-color: white">

                <div class="row">
                    <div class="col-md-12 ">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="form-label semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"Student Name" | translate }} </label>

                                <input type="text" name="no_copies" id="Text1" class="form-control input-sm" readonly ng-model="copy_comment.sims_student_name" />

                                <!--<select class="form-control input-sm full-width" ng-model="cur_code" ng-options="doc.sims_cur_code as doc.sims_cur_name for doc in Curriculum_obj" ng-change="Cur_Change()"></select>-->

                            </div>
                            <div class="col-md-12">
                                <label class="form-label semi-bold"><i class="fa fa-calendar"></i>&nbsp;{{"Date" | translate }} </label>


                                <input type="text" name="cmb_garde_newss" id="Text3" class="form-control input-sm" readonly ng-model="attednacedate2" />



                            </div>
                            <div class="col-md-12">
                                <label class="form-label semi-bold"><i class="fa fa-comment"></i>&nbsp;{{"Comment" | translate }} </label>
                                <input type="text" name="no_copies" id="Text4" class="form-control input-sm" ng-model="copy_comment.sims_attendance_day_comment" />

                            </div>


                            <div class="col-md-12">
                                <center>
                                    <label class="form-label semi-bold">&nbsp;</label>
                                    <button class="btn btn-primary btn-small" type="button" ng-click="save_comment()">{{"Save" | translate }}</button>
                                   </center>
                            </div>
                        </div>


                    </div>


                </div>

            </div>
        </div>
    </div>
</div>

<!--<script src="assets/js/core.js" type="text/javascript"></script>-->
<!--<script src="assets/js/jquery-2.1.3.js"></script>-->
<script src="assets/js/tableHeadFixer.js"></script>
<link href="assets/css/minovate.css" rel="stylesheet" />
