﻿<style>
    #parent {
        height: 400px;
    }

    #fixTable {
        width: 100% !important;
    }
    .grid_details {
    background-color:#fff;
    margin-top:6px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Subjectwise Attendance" | translate }}</span></h3>
            </div>
            <div class="grid-body no-border bluegrid paddingcode">
                <form name="Myform" ng-submit="getAttendance(Myform.$valid)" novalidate="novalidate">
                    <div class="row">
                        <div class="col-md-2" ng-class="{'has-error': !Myform.cmb_cur.$valid && (Myform.cmb_cur.$touched || Myform.$submitted) }">
                            <label><i class="fa fa-book"></i>&nbsp;{{"Curriculum" | translate }} <span class="asterisk" style="color: red">*</span></label>

                            <select name="cmb_cur" id="Select3" style="width: 100%" data-role="dropdownlist" class="form-control input-sm full-width"
                                ng-change="cur_change()" ng-model="temp.cur_code"
                                ng-options="c.sims_cur_code as c.sims_cur_short_name_en for c in curiculum" required>
                                <option value="" selected disabled>Please Select</option>
                            </select>


                            <!--  <select name="cmb_cur" class="form-control input-sm full-width" data-role="dropdownlist" id="cmb_cur" ng-change="cur_change()" ng-model="cur_code" required>
                                    <option value="" selected disabled>Please Select</option>
                                    <option ng-repeat="act in curiculum" ng-selected="cur_code == act.sims_cur_code" value="{{act.sims_cur_code}}">{{act.sims_cur_name}}</option>
                                </select>-->




                            <p class="help-block" ng-show="Myform.cmb_cur.$error.required &&(Myform.cmb_cur.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>

                        <div class="col-md-2" ng-class="{'has-error': !Myform.cmb_academic.$valid && (Myform.cmb_academic.$touched || Myform.$submitted) }">
                            <label><i class="fa fa-calendar"></i>&nbsp;{{"Year" | translate }} <span class="asterisk" style="color: red">*</span></label>

                            <select name="cmb_academic" class="form-control input-sm full-width" data-role="dropdownlist" id="cmb_academic" ng-change="acdm_yr_change();slot_change()" ng-model="temp.acdm_yr" required>
                                <option value="" selected disabled>Please Select</option>
                                <option ng-repeat="act in academicyears"  value="{{act.sims_academic_year}}">{{act.sims_academic_year_desc}}</option>
                            </select>
                            <p class="help-block" ng-show="Myform.cmb_academic.$error.required &&(Myform.cmb_academic.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>

                         <div class="col-md-2" ng-class="{'has-error': !Myform.cmb_type.$valid && (Myform.cmb_type.$touched || Myform.$submitted) }">
                            <label><!--<i class="fa fa-calendar"></i>-->&nbsp;{{"Type" | translate }} <span class="asterisk" style="color: red">*</span></label>

                            <select name="cmb_type" class="form-control input-sm full-width" data-role="dropdownlist" id="cmb_type" ng-change="type_change();slot_change()" ng-model="temp.type" required>
                                <option value="" selected disabled>Please Select</option>
                                <option value="C">{{"Class" | translate }} </option>
                                <option value="H">{{"Homeroom" | translate }} </option>

                            </select>
                            <p class="help-block" ng-show="Myform.cmb_type.$error.required &&(Myform.cmb_type.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>

                                <div class="col-md-2" ng-class="{'has-error': !Myform.cmb_homeroom.$valid && (Myform.cmb_homeroom.$touched || Myform.$submitted) }" ng-if="temp.type=='H'">
                            <label><i class="fa fa-calendar"></i>&nbsp;{{"Homeroom" | translate }} <span class="asterisk" style="color: red">*</span></label>

                            <select name="cmb_homeroom" class="form-control input-sm full-width" data-role="dropdownlist" id="cmb_homeroom" ng-change="homeroom_change(temp.homeroom);slot_change()" ng-model="temp.homeroom" >
                                <option value="" selected disabled>Please Select</option>
                                <option ng-repeat="act in homeroomLst"  value="{{act.sims_homeroom_code}}">{{act.sims_homeroom_name}}</option>
                            </select>
                            <p class="help-block" ng-show="Myform.cmb_homeroom.$error.required &&(Myform.cmb_homeroom.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>


                        <div class="col-md-2" ng-class="{'has-error': !Myform.Subsexpdate.$valid && (Myform.Subsexpdate.$touched || Myform.$submitted) }">
                            <label><i class="fa fa-calendar"></i>&nbsp;{{"Date (dd-mm-yyyy)" | translate }} <span class="asterisk" style="color: red">*</span></label>
                            <input type="text" id="start_date" placeholder="Select Date" name="Subsexpdate" class="k-textbox input-sm full-width" ng-change="slot_change();datechange()" ng-model="att_date" required>

                            <p class="help-block" ng-show="Myform.Subsexpdate.$error.required &&(Myform.Subsexpdate.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>


                          <div class="col-md-2" ng-if="temp.type=='H'">
                            <label> {{"Teacher Name" | translate }} </label>
                           <label class="semi-bold"> {{temp.teacher_name}} </label>

                            
                        </div>

                        </div>
                         <div class="row">
                        
                        <div class="col-md-2" ng-hide="temp.type=='H'" ng-class="{'has-error': !Myform.cmb_grade.$valid && (Myform.cmb_grade.$touched || Myform.$submitted) }">
                            <label><i class="fa fa-sitemap"></i>&nbsp;{{"Grade" | translate }} <span class="asterisk" style="color: red">*</span></label>

                            <select name="cmb_grade"  class="form-control input-sm full-width" data-role="dropdownlist" id="cmb_grade" ng-change="grade_change();slot_change()" ng-model="temp.grade_code" ng-required="temp.type=='C'">
                                <option value="" selected disabled>Please Select</option>
                                <option ng-repeat="act in grades" value="{{act.sims_grade_code}}">{{act.sims_grade_name}}</option>
                            </select>
                            <p class="help-block" ng-show="Myform.cmb_grade.$error.required &&(Myform.cmb_grade.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>
                        <div class="col-md-2" ng-hide="temp.type=='H'" ng-class="{'has-error': !Myform.cmb_section.$valid && (Myform.cmb_section.$touched || Myform.$submitted) }">

                            <label><i class="fa fa-book"></i>&nbsp;{{"Section" | translate }} <span class="asterisk" style="color: red">*</span></label>

                            <select  name="cmb_section" id="cmb_section" data-role="dropdownlist" class="form-control input-sm full-width" ng-change="getterm();slot_change()" ng-model="temp.sec_code" ng-required="temp.type=='C'">
                                <option value="" selected disabled>Please Select</option>
                                <option ng-repeat="act in section" value="{{act.sims_section_code}}">{{act.sims_section_name}}</option>
                            </select>
                            <p class="help-block" ng-show="Myform.cmb_section.$error.required &&(Myform.cmb_section.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>

                              <div class="col-md-2" ng-hide="temp.type=='H'" ng-class="{'has-error': !Myform.cmb_section_term.$valid && (Myform.cmb_section_term.$touched || Myform.$submitted) }">

                            <label><i class="fa fa-align-justify"></i>&nbsp;{{"Section Term" | translate }} <span class="asterisk" style="color: red">*</span></label>

                            <select  name="cmb_section_term" id="cmb_section_term" data-role="dropdownlist" class="form-control input-sm full-width" ng-change="getSubject();slot_change()" ng-model="temp.sec_term_code" required>
                                <option value="" selected disabled>Please Select</option>
                                <option ng-repeat="act in terms_obj" value="{{act.sims_term_code}}">{{act.sims_term_desc_en}}</option>
                            </select>
                            <p class="help-block" ng-show="Myform.cmb_section_term.$error.required &&(Myform.cmb_section_term.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>



                               <div class="col-md-2" ng-show="temp.type=='H'">
                                          <label><i class="fa fa-sitemap"></i>&nbsp;{{"Class" | translate }} </label>      

                                          <label> <b>{{temp.sims_grade_name_en }} </b></label>      

                               </div>

                              <div class="col-md-2" ng-class="{'has-error': !Myform.cmb_subject.$valid && (Myform.cmb_subject.$touched || Myform.$submitted) }">
                            <label><i class="fa fa-calendar"></i>&nbsp;{{"Subject" | translate }} <span class="asterisk" style="color: red">*</span></label>

                            <select name="cmb_subject" ng-hide="temp.type=='H'" ng-change="slot_change();subject_change()"  class="form-control input-sm full-width" data-role="dropdownlist" id="cmb_subject"  ng-model="temp.subject_code" required>
                                <option value="" selected disabled>Please Select</option>
                                <option ng-repeat="act in subjectlst" value="{{act.sims_subject_code}}">{{act.sims_subject_name_en}}</option>
                            </select>

            
                                   <label  ng-show="temp.type=='H'"> <b>{{temp.sims_subject_name_en }} </b></label>  
                            <p class="help-block" ng-show="Myform.cmb_subject.$error.required &&(Myform.cmb_subject.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>   

                                 <div class="col-md-2" ng-class="{'has-error': !Myform.cmb_slot.$valid && (Myform.cmb_slot.$touched || Myform.$submitted) }">
                            <label><i class="fa fa-calendar"></i>&nbsp;{{"Slot" | translate }} <span class="asterisk" style="color: red">*</span></label>

                            <select name="cmb_slot" class="form-control input-sm full-width" data-role="dropdownlist" ng-change="slot_change();new_slot_change()"  id="cmb_slot"  ng-model="temp.slot_code" required>
                                <option value="" selected disabled>Please Select</option>
                                <option ng-repeat="act in attSlot"  value="{{act.slot}}">{{act.slot_name}}</option>
                            </select>
                            <p class="help-block" ng-show="Myform.cmb_slot.$error.required &&(Myform.cmb_slot.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>   

                               <div class="col-md-1" ng-class="{'has-error': !Myform.txt_comment.$valid && (Myform.txt_comment.$touched || Myform.$submitted) }">
                            <label><i class="fa fa-calendar"></i>&nbsp;{{"Credit Hrs" | translate }} <span class="asterisk" style="color: red">*</span></label>

                                    <input type="text" id="txt_comment" ng-model="temp.comment" class="k-textbox input-sm full-width" placeholder="HH:MM" ng-pattern="/^[0-2][0-3]:[0-5][0-9]$/"  ng-maxlength="50" name="txt_comment" required />
                        
                            <p class="help-block" ng-show="Myform.txt_comment.$error.required &&(Myform.txt_comment.$touched || Myform.$submitted)">
                                This field is required
                            </p>

                                        <p class="help-block" ng-show="Myform.txt_comment.$error.pattern &&(Myform.txt_comment.$touched || Myform.$submitted)">
                              Enter valid Credit Hrs
                            </p>


                                    
                        </div>   

                        <div class="col-md-1">
                            <div class="pull-right">
                                <label>&nbsp;</label>
                                <button type="submit" class="btn btn-primary btn-small">{{"Show" | translate }}</button>
                            </div>
                        </div>

                             </div>

                        <div class="col-lg-12 col-md-12">
                            
                            <div class="pull-right">
                                <div class="dataTables_filter" ng-show="searchbox" id="example_filter">

                                    <span class="k-textbox k-space-right full-width">
                                        <input type="text" aria-controls="example" ng-model="searchText.$" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1">
                                        <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                                </div>
                            </div>
                        </div>

                    

                </form>

               
            </div>
             <div class="row margin-top-2 grid_details" ng-show="operation">
                    <div class="col-md-2">
                        <span class="btn btn-mini btn-success btn-demo-space" style="width: 100%"><i class="fa fa-dashboard"></i>&nbsp;{{"Attendance Codes" | translate }}</span>
                        <span class="btn btn-mini btn-gray" style="text-align: left; height: auto;">
                            <div class="radio radio-success bg-default attendance_radio" style="margin: 3px;" ng-repeat="codes in attendance_code">
                                <input id="{{codes.sims_attendance_code}}" type="radio" class="k-radio" name="optionyes" ng-disabled="codes.sims_attendance_code=='H' || codes.sims_attendance_code=='W'"  ng-model="rdbtn" value="{{codes.sims_attendance_code}}" ng-click="get_attend_code(codes);" />

                                <label for="{{codes.sims_attendance_code}}" style="font-size: 12px; color: #000">
                                    <span ng-style="{ 'background-color': codes.sims_attendance_color}" style="width: 16px; height: 16px;" class="btn btn-primary btn-xs btn-mini">&nbsp;</span>&nbsp;
                            {{codes.sims_attendance_code_name}}</label>
                            </div>
                        </span>
                    </div>

                    <div class="col-md-10">
                        <div id="example_wrapper" class="dataTables_wrapper form-inline">
                            <div id="parent" ng-show="table">
                                <table class="table table-bordered table-condensed" id="fixTable">
                                    <thead>
                                        <tr style="background-color: #fff">


                                                                       <th style="width:10%" ng-click="sortBy('sims_roll_number1')">
                                             
                                                                            <label style="width: 80px;font-weight: bold;">
                                                                <i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Roll No"|translate}}
                                                                <span class="sortorder" ng-show="propertyName === 'sims_roll_number1'" ng-class="{reverse: reverse}"></span>
                                                            </label>
                                                                       </th>


                                              
                                            <th style="width:10%"  ng-click="sortBy('sims_enrollment_number1')">
                                                <label class="semi-bold"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Enroll No"|translate}}</label>
                                                   <span class="sortorder" ng-show="propertyName === 'sims_enrollment_number1'" ng-class="{reverse: reverse}"></span>

                                            </th>

                                            <th class="semi-bold" style="width: 45%"  ng-click="sortBy('std_name')">
                                                <label class="semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"Name"|translate}}</label>
                                                 <span class="sortorder" ng-show="propertyName === 'std_name'" ng-class="{reverse: reverse}"></span>

                                            </th>
                                            <th context-menu="menuOptionsDayWise" >{{"Attendance"|translate}}  
                                            </th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="Student_info in SectionStudent  | orderBy:propertyName:reverse |filter:searchText:strict">

                                         <td class="semi-bold" style="background-color: #fff">{{Student_info.sims_roll_number}}
                                        </td>
                                        <td class="semi-bold" style="background-color: #fff">{{Student_info.sims_enrollment_number}}
                                        </td>
                                        <td style="background-color: #fff">{{Student_info.std_name}}
                                        </td>

                                        <td class="v-align-middle">


                                            <button id="{{Subject_info.sims_subject_code+Student_info.sims_student_enroll_number}}" title="{{stud_comment}}" class="btn btn-white btn-xs btn-mini" ng-style="{ 'background-color':Student_info.sims_att_color_code}" ng-mouseenter="show_comment(Subject_info,Student_info)" ng-right-click="comment(Subject_info,Student_info)" ng-click="Mark_Subject_Attendance(Subject_info,Student_info)"><b>{{Student_info.attendace_code}}</b></button>

                                        </td>

                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

        </div>
    </div>
</div>
<script src="assets/js/tableHeadFixer.js"></script>

<script src="assets/js/calender-datepicker-id.js"></script>


<div class="modal draggable fade in" id="comment_dailog" role="dialog" style="display: none;" ng-style="{'display':CHd.srNo}">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 300px; height: 300px">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px"><b>Day Comment</b></h4>
                </div>
                <div class="pull-right">
                    <button class="br-0 btn-primary btn t-p-0 position-absolute r-p-0" data-dismiss="modal" ng-click="modal_cancel()" type="submit">X</button>

                </div>
            </div>

            <div class="modal-body" style="background-color: white">

                <div class="row">
                    <div class="col-md-12 ">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="form-label semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"Student Name" | translate }} </label>

                                <input type="text" name="no_copies" id="Text1" class="form-control input-sm" readonly ng-model="copy_comment.sims_student_name" />

                                <!--<select class="form-control input-sm full-width" ng-model="cur_code" ng-options="doc.sims_cur_code as doc.sims_cur_name for doc in Curriculum_obj" ng-change="Cur_Change()"></select>-->

                            </div>
                            <div class="col-md-12">
                                <label class="form-label semi-bold"><i class="fa fa-calendar"></i>&nbsp;{{"Date" | translate }} </label>


                                <input type="text" name="cmb_garde_newss" id="Text3" class="form-control input-sm" readonly ng-model="attednacedate2" />



                            </div>
                            <div class="col-md-12">
                                <label class="form-label semi-bold"><i class="fa fa-comment"></i>&nbsp;{{"Comment" | translate }} </label>
                                <input type="text" name="no_copies" id="Text4" class="form-control input-sm" ng-model="copy_comment.sims_attendance_day_comment" />

                            </div>


                            <div class="col-md-12">
                                <center>
                                    <label class="form-label semi-bold">&nbsp;</label>
                                    <button class="btn btn-primary btn-small" type="button" ng-click="save_comment()">{{"Save" | translate }}</button>
                                   </center>
                            </div>
                        </div>


                    </div>


                </div>

            </div>
        </div>
    </div>
</div>
<script src="assets/js/moment.js"></script>
