﻿
<link href="assets/plugins/Minovate/Main.css" rel="stylesheet" />
<style type="text/css">
    

</style>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <!-- tile -->
            <section class="tile">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font">Student Term Wise Attendance</h1>
                   
                </div>
                <!-- /tile header -->
                <div class="grid-body no-border">
                    <!-- tile body -->
                    <div class="tile-body table-custom" style="display: block;">
                        <div class="table-responsive">
                            <div id="project-progress_wrapper">
                                <form name="Myform" novalidate="novalidate">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="username">Curriculum </label>
                                            <select id="cmb_cur" class="form-control input-sm full-width"
                                                    data-role="dropdownlist"
                                                    ng-model="edt.sims_cur_code" ng-change="cur_change()"
                                                    ng-options="commn2.sims_cur_code as commn2.sims_cur_name for commn2 in curiculum" name="cmb_cur"></select>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="username">Year </label>
                                            <select id="Select1" class="form-control input-sm full-width"
                                                    data-role="dropdownlist"
                                                    ng-model="edt.sims_academic_year" ng-change="acdm_yr_change()"
                                                    ng-options="commn2.sims_academic_year as commn2.sims_academic_year_description for commn2 in academicyears"
                                                    ng-selected="commn2.sims_academic_year_status==currentYear_status" name="cmb_academic"></select>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="username">Grade </label>
                                            
                                            <select id="cmb_grades" name="cmb_grades" multiple="multiple" required style="margin-bottom: 0px" ng-model="edt.sims_grade_code" ng-change="grade_change()">
                                                <option ng-repeat="i in grades" class="full-width"
                                                        value="{{i.sims_grade_code}}">

                                                    &nbsp;{{i.sims_grade_name}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="username">Section </label>
                                            <select id="cmb_sections" name="cmb_sections" multiple="multiple"  required style="margin-bottom: 0px" ng-model="edt.sims_section_code">
                                                <option ng-repeat="i in section" class="full-width"
                                                        value="{{i.sims_section_code}}">

                                                    &nbsp;{{i.sims_section_name}}
                                                </option>
                                            </select>
                                            
                                        </div>
                                        <div class="col-md-2">
                                            <label for="username">Term </label>
                                            <select id="cmb_Term" name="cmb_Term" multiple="multiple" required style="margin-bottom: 0px" ng-model="edt.sims_term_code">
                                                <option ng-repeat="i in terms" class="full-width"
                                                        value="{{i.sims_term_code}}">

                                                    &nbsp;{{i.sims_term_desc_en}}
                                                </option>
                                            </select>
               
                                        </div>
                                        </div>
                                    <div class="row">
                                        <div class="col-md-1">
                                           
                                                <label for="username">&nbsp;</label>
                                                <button type="submit" ng-click="getAttendance()" class="btn btn-primary btn-sm btn-middle btn-success btn-small">{{"Submit" | translate }}</button>
                                         
                                        </div>

                                        <div class="col-md-1">
                                            
                                                <label for="username">&nbsp;</label>
                                                <button type="submit" ng-click="exportData()" class="btn btn-primary btn-sm btn-middle btn-success btn-small">{{"Export To Excel" | translate }}</button>
                                           
                                        </div>
                                    </div>

                                   <div class="row">
                                       <div id="example_wrapper" class="dataTables_wrapper form-inline">
                                           <div class="row margin-top">
                                               <div class="col-md-12">
                                                   <table class="table table-bordered  table-condensed" id="fixTable">
                                                       <thead style="background-color: #edefef">
                                                           <tr>
                                                               <th tabindex="0" class="semi-bold">{{"Sr.No"| translate }}</th>
                                                               <th tabindex="1" class="semi-bold">{{"Enroll Number"| translate }}</th>
                                                               <th tabindex="2" class="semi-bold">{{"Class"| translate }}</th>
                                                               <th tabindex="3" class="semi-bold">{{"Student Name"| translate }}</th>
                                                               <th tabindex="4" class="semi-bold">{{"Present"| translate }}</th>
                                                               <th tabindex="5" class="semi-bold">{{"Absent"| translate }}</th>
                                                               <th tabindex="6" class="semi-bold">{{"Absent Excused"| translate}}</th>
                                                               <th tabindex="7" class="semi-bold">{{"Tardy"| translate}}</th>
                                                               <th tabindex="8" class="semi-bold">{{"Unmarked"| translate}}</th>
                                                               <th tabindex="9" class="semi-bold">{{"Total"| translate}}</th>
                                                               <th tabindex="10" class="semi-bold">{{"Total Attendance Days"| translate}}</th>
                                                               <th tabindex="11" class="semi-bold">{{"Attendance Percentage"| translate}}</th>

                                                           </tr>
                                                       </thead>
                                                       <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                           <tr ng-class="row1" ng-repeat="obj in term_Data_rpt">
                                                               <td>{{$index+1}}</td>
                                                               <td>{{obj.sims_enroll_number}}</td>
                                                               <td>{{obj.sims_class_name}}</td>
                                                               <td>{{obj.sims_student_name}}</td>
                                                               <td>{{obj.sims_present}}</td>
                                                               <td>{{obj.sims_absent}}</td>
                                                               <td>{{obj.sims_absent_excused}}</td>
                                                               <td>{{obj.sims_Tardy}}</td>
                                                               <td>{{obj.sims_Unmarked}}</td>
                                                               <td>{{obj.sims_total}}</td>
                                                               <td>{{obj.sims_TotalAttendanceDays}}</td>
                                                               <td>{{obj.sims_Percentage}}</td>

                                                           </tr>

                                                       </tbody>

                                                   </table>
                                               </div>
                                           </div>

                                       </div>

                                   </div>
                                </form>
                            </div>
                        </div>
                        <!--Filters-->
                    </div>
                </div>
                <!-- /tile body -->
            </section>

            <!-- /tile -->
        </div>
    </div>
</div>

<script src="assets/plugins/fileSaver.js"></script>
<script src="https://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.12/xlsx.core.min.js"></script>
