﻿
<script src="assets/plugins/fileSaver.js"></script>
<!--<script src="http://alasql.org/console/alasql.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.12/xlsx.core.min.js"></script>
<!--<script src="http://alasql.org/console/xlsx.core.min.js"></script>-->

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="grid-title no-border" style="padding-top: 1px; padding-bottom: 1px">
                <h3></h3>
            </div>


            <div class="page-title">
                <h3><span class="semi-bold">{{"Due Book Detail"| translate }}</span></h3>
            </div>
            <div class="grid-title no-border">
                <div class="row">
                    <div class="col-md-12">
                        <!--Curriculam-->
                        <div class="col-md-2">
                            <label id="Label27" for="txt_Nationality_Code" class="form-label"><i class="fa fa-book"></i>&nbsp;{{"Curriculam"| translate }}</label>
                            <select id="Select3" class="form-control"
                                    ng-model="temp.sims_cur_code" ng-selected="" name="sims_cur_name" ng-change="getAccYear(temp.sims_cur_code)"
                                    ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in curriculum"></select>
                        </div>

                        <!--Academic Year-->
                        <div class="col-md-2">
                            <label id="Label28" for="txt_Nationality_Code" class="form-label"><i class="fa fa-sort-amount-desc"></i>&nbsp;{{"Academic Year"| translate }}</label>
                            <select id="Select4" class="form-control"
                                    ng-model="temp.sims_academic_year" ng-selected="" name="sims_academic_year" ng-change="getGrade(temp.sims_cur_code,temp.sims_academic_year)"
                                    ng-options="ay.sims_academic_year as ay.sims_academic_year_desc for ay in Acc_year"></select>
                        </div>

                        <div class="col-md-2">
                            <label id="Label33" for="txt_Nationality_Code" class="form-label"><i class="fa fa-sitemap"></i>&nbsp;{{"Grade"| translate }}</label>
                            <select id="Select2" class="form-control" name="sims_grade_name" multiple="multiple" 
                                    ng-model="temp.sims_grade_code" ng-change="getSection(temp.sims_cur_code,temp.sims_grade_code,temp.sims_academic_year)"
                                    ng-options="grd.sims_grade_code as grd.sims_grade_name for grd in Grade_code"></select>
                        </div>

                        <div class="col-md-2">
                            <label id="Label34" for="txt_Nationality_Code" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Section"| translate }}</label>
                            <select id="Select10" name="sims_section_name" multiple="multiple" class="form-control" ng-model="temp.sims_section_code">
                                <option ng-repeat="sec in Section_code" value="{{sec.sims_section_code}}">{{sec.sims_section_name}}</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label id="Label2" class="form-label">&nbsp;</label>
                            <button id="desigsub" ng-click="Submit()" class="btn btn-primary btn-cons">
                                {{"Submit" | translate }}
                            </button>
                            <button id="desigsubs" ng-click="Reset()" class="btn btn-primary btn-cons">{{"Reset" | translate }}</button>
                            <button id="desigsubs" ng-click="export()" class="btn btn-primary btn-cons" ng-show="export_btn">{{"Export" | translate }}</button>
                        </div>

                    </div>
                </div>
            </div>



            <!--<div class="col-md-12">
                <hr style="height: 6px; border: none; color: darkorange; background-color: darkorange;">
            </div>-->

            <div class="grid-title no-border">
            </div>

            <div class="grid-body" ng-style="{'display':row.isexpanded}" ng-style="width: 50%; overflow-x: auto; overflow-y: auto" style="border:none !important;">
                <div class="row" id="printdata">
                    <div ng-style="width: 50%; overflow-x: auto; overflow-y: auto">
                        <div style="padding: 5px; border: 1px solid" ng-repeat="row in rows">
                            <div style="display: flex; padding: 5px">
                                <i class="{{row.sims_icon}}" ng-click="expand(row,$event1)" style="padding: 5px"></i>
                                <span style="padding: 5px">  Library No:- {{row.sims_library_transaction_user_code}}</span>
                            </div>

                            <div ng-style="{'display':row.isexpanded}">
                                <div></div>
                                <table class="table table-striped dataTable" id="example2" aria-describedby="example2_info">
                                    <thead>
                                        <tr style="background: #ecf0f2;">
                                            <td><i class="fa fa-align-justify"></i>&nbsp;{{"Name" | translate }}</td>
                                            <td><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Accession Number" | translate }}</td>
                                            <td><i class="fa fa-align-justify"></i>&nbsp;{{"Item Title" | translate }}</td>
                                            <td><i class="fa fa-calendar"></i>&nbsp;{{"Issue Date" | translate }}</td>
                                            <td><i class="fa fa-calendar"></i>&nbsp;{{"Expected Return Date" | translate }}</td>
                                            <td ng-hide="showStudHeading"><i class="fa fa-dashboard"></i>&nbsp;{{"Employee Code" | translate }}</td>
                                            <td ng-show="showStudHeading"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Enroll Number" | translate }}</td>
                                            <td><i class="fa fa-group"></i>&nbsp;{{"Group Type" | translate }}</td>
                                            <td><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Number of Days" | translate }}</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="sr in row.subItems" style="border: 1px solid">
                                            <td class="col-md-2" style="background: white; padding-top: 2px !important; padding-bottom: 2px !important;">{{sr.name}}</td>
                                            <td class="col-md-1" style="background: white; padding-top: 2px !important; padding-bottom: 2px !important;">{{sr.sims_library_item_number}}</td>
                                            <td class="col-md-3" style="background: white; padding-top: 2px !important; padding-bottom: 2px !important;" align="center">{{sr.sims_library_item_name}} </td>
                                            <td class="col-md-1" style="background: white; padding-top: 2px !important; padding-bottom: 2px !important;" align="center">{{sr.sims_library_item_issue_date}}</td>
                                            <td class="col-md-1" style="background: white; padding-top: 2px !important; padding-bottom: 2px !important;" align="right">{{sr.sims_library_item_expected_return_date}}</td>
                                            <td class="col-md-1" style="background: white; padding-top: 2px !important; padding-bottom: 2px !important;" align="center" ng-hide="showStudHeading">{{sr.sims_employee_code}}</td>
                                            <td class="col-md-1" style="background: white; padding-top: 2px !important; padding-bottom: 2px !important;" align="right" ng-show="showStudHeading">{{sr.sims_enroll_number}}</td>
                                            <td class="col-md-1" style="background: white; padding-top: 2px !important; padding-bottom: 2px !important;" align="right">{{sr.sims_library_user_group_type}}</td>
                                            <td class="col-md-1" style="background: white; padding-top: 2px !important; padding-bottom: 2px !important;" align="right">{{sr.duefor}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>



                </div>
            </div>

        </div>
    </div>
</div>
