﻿
<style>
    body {
    padding-top: 70px;
    padding-bottom: 30px;
}
 .rating {
    float:left;
}
 
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}




.stars {
  padding-top: 10px;
  width: 100%;
  display: inline-block;
}
span.glyphicon {
  padding: 5px;
}
.glyphicon-star-empty {
  color: #9d9d9d;
}
.glyphicon-star-empty,
.glyphicon-star {
  font-size: 18px;
}
.glyphicon-star {
  color: #ffffff;
  transition: all .25s;
}
.glyphicon-star:hover {
  transform: rotate(-15deg) scale(1.3);
}

.bigText {
    height:80px;
    width:520px;
}
 
</style>

  <div class="main_container">     
   <div class="row sloat_header">
      <div class="col-lg-5 col-md-12 col-sm-12">
         <div class="page-title">
            <h3>{{"Library Book Review Approve"| translate }} <span class="semi-bold">{{"Library Book Review Approve"| translate }}</span></h3>
         </div>
      </div>
   </div>

      <div class="row">   
    <div class="col-md-12">   
        <div class="grid-simple white-bg p-t-10 p-b-10 p-l-10 p-r-10">   
            <div class="grid-body no-border">
                <div class="row" ng-show="pager1">
                    <div class="col-xs-4">
                        <div class="well" class="form-group">
                            <div class="form-group">
                                <label>Current Page:</label>
                                <input placeholder="page"
                                    class="form-control"
                                    ng-model="currentPage"
                                    ng-init="currentPage = 1" />
                            </div>
                            <div class="form-group">
                                <label>Page Size:</label>
                                <input placeholder="Page Size"
                                    class="form-control"
                                    ng-model="numPerPage" />
                            </div>
                            <div class="form-group">
                                <label>Total Items:</label>
                                <input placeholder="Total"
                                    class="form-control"
                                    ng-model="pagersize" />
                            </div>
                            <hr />
                            <div class="form-group">
                                <label>Dots Display:</label>
                                <input placeholder="..."
                                    class="form-control"
                                    maxlength="3"
                                    ng-model="dots"
                                    ng-init="dots = '...'" />
                            </div>

                            <hr />
                            <div class="form-group">
                                <label>UL Class:</label>
                                <input placeholder="pagination"
                                    class="form-control"
                                    maxlength="100"
                                    ng-model="ulClass" />
                            </div>
                            <div class="form-group">
                                <label>Active Class:</label>
                                <input placeholder="active"
                                    class="form-control"
                                    maxlength="100"
                                    ng-model="activeClass"
                                    ng-init="activeClass = 'active'" />
                            </div>
                            <div class="form-group">
                                <label>Disabled Class:</label>
                                <input placeholder="disabled"
                                    class="form-control"
                                    maxlength="100"
                                    ng-model="disabledClass"
                                    ng-init="disabledClass = 'disabled'" />
                            </div>
                            <br />
                            <table class="table">

                                <tr>
                                    <td>
                                        <label>Show Prev Next:</label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                            ng-model="showPrevNext"
                                            ng-init="showPrevNext = true" />
                                        {{showPrevNext}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Show First Last:</label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                            ng-model="showFirstLast"
                                            ng-init="showFirstLast = true" />
                                        {{showPrevNext}}
                                    </td>
                                </tr>
                            </table>
                            <hr />
                            <span class="btn btn-default" onclick="location.reload()">
                                <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                            </span>
                            <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                            </span>
                            <br />
                            <br />
                        </div>
                    </div>
                </div>

            </div>

            
             <div class="row">
          <div class="col-md-1">  <label>  &nbsp;</label> 
                        <select id="Select3" style="width: auto" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="10" class=" form-control input-sm">
                                10
                            </option>

                            <option value="20" class=" form-control input-sm">
                                20
                            </option>

                            <option value="All" class=" form-control input-sm">
                                All
                            </option>
                        </select>
               </div> 
           <div class="col-md-1">      <label>  &nbsp;</label> 
    <button type="button" id="desigsub" ng-click="update();" ng-disabled="Myform1.$invalid" class="btn btn-primary btn-small">{{"Approve"| translate}}</button>
                        </div>  
                  <div class="col-md-1">    <label>  &nbsp;</label>    
                  <button class="btn btn-danger btn-small" type="button" ng-click="OkDelete()">{{"Delete" | translate}}</button>
                       </div>  
                  <!--    <div class="col-md-2">     <label>  &nbsp;</label> 
   <button class="btn btn-danger btn-small" type="button" ng-click="OkDelete()"><span class="semi-bold"></span>{{"Delete"| translate}}</button>
                </div> -->

                  <label>  &nbsp;</label> 
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">

                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">  
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                </span>
                            </div>
                        </div>
                    </div> <br />

 
      <div id="example_wrapper" class="dataTables_wrapper form-inline">
                         <table class="table table-striped table-condensed" id="example">
                            
                            <thead>
                                <tr style="background-color: #edefef">
                                    <!--<th>
                                        <div class="checkbox check-success">
                                           <input id="mainchk" type="checkbox"  value="1" ng-click="CheckAllChecked()">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>-->

                                    <th class="semi-bold">{{"Sr No"| translate}}</th>

                                      <th class="semi-bold"> <label><i class="fa fa-cogs"></i></label>  </th>

                                      <th class="semi-bold" >{{"Login Id"| translate}}   </th>
                                     
                                    <th class="semi-bold" style="width : 300px;" ng-click="sortBy('sims_library_item_title')">{{"Book name"| translate}}<span class="sortorder" ng-show="propertyName === 'sims_library_item_title'" ng-class="{reverse: reverse}"></span></th>
                                      
                                     <th class="semi-bold" style="width : 300px;" >{{"Rating"| translate}} </th>
                                      
                                     <th class="semi-bold" style="width : 300px;" >{{"comment"| translate}}  </th>
                                      
                                    <th class="semi-bold" style="width : 150px;" >{{"Approve Status"| translate}}  </th>

                                    <th class="semi-bold" style="width : 150px;" >{{"Display Status"| translate}}  </th>
                                    <!-- <th class="semi-bold"  >{{"Date"| translate}} </th>
                                     
                                    <th class="semi-bold"><label><i class="fa fa-cogs"></i></label></th> -->
                                               
                                </tr>
                            </thead>
                    <tbody>
                           <tr style="background-color: #edefef">
                    <tr ng-repeat="info in filteredTodos | orderBy:propertyName:reverse"" >
                          <!--  <td>
                    <input id="{{info.sims_library_item_title+$index}}" type="checkbox" value="1" ng-click="checkonebyonedelete()" ng-model="chkb">
                                                <label for="{{info.sims_library_item_title+$index}}"></label>

                            </td>-->
                           <td>{{$index+1}}</td> 

                              <td style="width:25px;>                                    
                                        <div class="row-fluid">
                                            <div class="checkbox check-success sub_checkbox" style="height: 20px; z-index: 1">
                                                <input id="mainchk11{{info.accession_number}}{{$index}}" type="checkbox" value="1" ng-checked="checkboxR" class="k-checkbox" ng-model="info.datastatus" ng-change="checkonebyonedelete(info,$index)">
                                                <label for="mainchk11{{info.accession_number}}{{$index}}"></label>
                                        </div>
                                            </div>
                                </td>
                        
                        <td>{{info.login_id}}</td>
                          <td>{{info.sims_library_item_title}}</td>
                         <td> 
                             
                            <div class="stars">
  <div id="stars" class="star">

    

       <i ng-repeat="x in [0,1,2,3,4,5]" ng-if="($index < info.rating)" style="color:gold;margin-right: -117px;"   class="material-icons" >star_rate</i> 
    <i ng-repeat="x in [0,1,2,3,4,5]" ng-if="($index >= info.rating && $index < 5) "  style="color:black; margin-right: -117px;"  class="material-icons"> star_rate </i>
   <!-- <span ng-repeat="x in [0,1,2,3,4,5]" ng-if="($index < info.rating)" span class="rating" data-default-rating="2.5">  </span>    
    <span ng-repeat="x in [0,1,2,3,4,5]" ng-if="($index >= info.rating && $index < 5) " span class="rating" data-default-rating="2.5"></span>-->

   

  </div>
</div>
                        <!--    <fieldset class="rating" ng-model="info.rating" > 
     <input type="radio" id="Radio1" name="rating" value="5" /><label for="info.rating" title="Rocks!">5 stars</label>
    <input type="radio" id="Radio2" name="rating" value="4" /><label for="info.rating" title="Pretty good">4 stars</label>
    <input type="radio" id="Radio3" name="rating" value="3" /><label for="info.rating" title="Meh">3 stars</label>
    <input type="radio" id="Radio4" name="rating" value="2" /><label for="info.rating" title="Kinda bad">2 stars</label>
    <input type="radio" id="Radio5" name="rating" value="1" /><label for="info.rating" title="bad big time">1 star</label>
</fieldset>--> <!--{{info.rating}} Star--></td>


                          <td> 
                                     <input type="text" class="full-width" ng-model="info.comment" maxlength="50" ng-disabled="!info.status"/>
                              </td>
                                <!--</td><td>{{info.comment}}</td>-->
                        <!-- <td>{{info.create_on_date}}</td>
                         <td ng-click="edit(info)">
                         <a href="" ><i class="fa fa-edit" ></i></a></td>-->
                        <td> 
                          
                                        <div class="checkbox check-success sub_checkbox">
                                           <input id="{{$index}}+1" type="checkbox" class="k-checkbox" value="1" ng-model="info.approve_status" ng-disabled="!info.status"/>
                                            <label for="{{$index}}+1"></label>
                                        </div>
                                  
                </td>
                        <td>
                            
                                        <div class="checkbox check-success sub_checkbox">
                                           <input id="{{$index}}+2" type="checkbox" class="k-checkbox" value="1" ng-model="info.display_cmt_flag" ng-disabled="!info.status"/>
                                            <label for="{{$index}}+2"></label>
                                        </div>
                                  

                        </td>
                    </tr>
                        </tr>
                </tbody>
                        </table>
         </div>
         
      <div>
                        <div class="row" ng-show="pager">
                    <div class="col-md-12">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>
                        </div>
                </div>
        </div>
   
            </div>
        </div>
          </div>
      </div>