﻿<script src="assets/plugins/fileSaver.js"></script>
<!--<script src="http://alasql.org/console/alasql.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.12/xlsx.core.min.js"></script>
<!--<script src="http://alasql.org/console/xlsx.core.min.js"></script>-->


<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Library" |translate}}</span>&nbsp;{{"Item Master" | translate}}</h3>
            </div>

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                class="form-control"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                class="form-control"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="grid-body no-border">
            <div ng-show="table">
                <div class="row">
                    <div class="col-md-4">
                                <label for="DivCode">{{"Category" |translate}}</label>
                        <select id="cmb_category" data-role="dropdownlist" class="full-width" multiple="multiple" name="user" ng-model="temp.sims_library_item_category" ng-change="getSubCat(temp.sims_library_item_category)">
                            <!--<option value="" selected disabled>Please Select</option>-->
                            <option class="form-control input-sm" ng-repeat="temp in Library_category_code" value="{{temp.sims_library_item_category}}">{{temp.sims_library_item_category_name}}</option>

                        </select>
                            </div>
                    <div class="col-md-4">
                                <label for="DivCode">{{"Subcategory" |translate}}</label>
                        <select id="cmb_subcategory" data-role="dropdownlist" class="full-width" multiple="multiple" name="user" ng-model="temp.sims_library_item_subcategory">
                            <!--<option value="" selected disabled>Please Select</option>-->
                            <option class="form-control input-sm" ng-repeat="temp in Library_subcategory_code" value="{{temp.sims_library_item_subcategory}}">{{temp.sims_library_item_subcategory_name}}</option>

                        </select>
                            </div>
                     <div class="col-md-1">
                         <label>&nbsp;</label>
                         <button type="button" class="btn btn-primary btn-sm btn-small" id="Button3" ng-click="view()">{{"View" | translate }}</button>
                         </div>
                    </div>

                    <div class="row margin-top-2">
                        <div class="col-md-6">
                        <!--<select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="{{x.val}}" class=" form-control input-sm" ng-repeat="x in countData">
                                {{x.data}}
                            </option>

                        </select>-->
                             <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="10" class="form-control input-sm">
                                10
                            </option>

                            <option value="20" class="form-control input-sm">
                                20
                            </option>

                            <option value="All" class="form-control input-sm">
                                All
                            </option>
                        </select>


                        &nbsp;
                        <button class="btn btn-primary btn-small" type="button" id="designew" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate }}</button>
                        &nbsp;
                        <button class="btn btn-danger btn-small" type="button" ng-click="OkDelete()"><span class="semi-bold"></span>{{"Delete"| translate }}</button>
                        &nbsp;
                        <button class="btn btn-primary btn-small" type="button" ng-click="exportData()"><span class="semi-bold"></span>{{"Export"| translate }}</button>

                    </div>
                    <div class="col-md-6">
                        <div class="pull-right" style="width: 50%;">
                            <div class="dataTables_filter" id="example_filter">

                                <!--<label>
                                    <span class="semi-bold">{{"Search"}}</span><!--&nbsp;{{"(Enter Item# /Accession No# /ISBN# /BNN# /Dewey#)"| translate }}:&nbsp;-->
                                   
                                    <!--<input style="width: 300px;" aria-controls="example" ng-model="searchText" class="k-textbox" placeholder="Title/Accession No/ISBN/BNN/Dewey" type="search" ng-change="search()">
                                </label>-->
                                <!-- <label>
                                    {{ "Search:" | translate }} &nbsp;-->
                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Title/Accession No/ISBN/BNN/Dewey" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                            <div class="col-md-2">
                                <img src="assets/images/loading.gif" ng-show="busy"/>

                            </div>
                                    </div>
                                         </div>  
                
                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div id="dataexport">
                    <div class="row">
                        <div class="col-md-12">
                        <table class="table table-bordered table-condensed table-hover" id="fixTable">
                            <thead style="background-color: white">
                                <tr style="background-color: #edefef">
                                    <th style="z-index:1;" class="small-cell v-align-middle">
                                        <div class="checkbox check-success">
                                            <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>

                                    <th class="semi-bold">
                                        <label><b>{{"UPDATE" | translate }} </b></label>
                                    </th>

                                    <th class="semi-bold" ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                        <label><b><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"Item Number" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><b>{{"Accession No" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><b>{{"ISBN No" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><b>{{"BNN No" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><b>{{"Dewey Number" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><b>{{"Item Name" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><b>{{"Item Title" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><b>{{"Description" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><b>{{"Category" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><b>{{"Subcategory" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><b>{{"Catalogue Code" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><b>{{"Curriculum" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><b>{{"Curriculum Level" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><b>{{"Grade" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><b>{{"Language" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><b>{{"Remark" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><b>{{"Author 1" | translate }}</b></label>
                                    </th>

                                   <!-- <th class="semi-bold">
                                        <label><b>{{"Author 2" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><b>{{"Author 3" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><b>{{"Author 4" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><b>{{"Author 5" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><b>{{"Age From" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><b>{{"Age To" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><b>{{"Edition Statement" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><b>{{"Place of Publication" | translate }}</b></label>
                                    </th>-->

                                    <th class="semi-bold">
                                        <label><b>{{"Publisher" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><b>{{"Date of Publication" | translate }}</b></label>
                                    </th>

                                    <!--<th class="semi-bold">
                                        <label><b>{{"Extent of Item" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><b>{{"Accompanying Item" | translate }} </b></label>
                                    </th>-->

                                    <!--<th class="semi-bold">
                                        <label><b>{{"Printing Date" | translate }}</b></label>
                                    </th>-->

                                    <!--

                                    <th class="semi-bold">
                                        <label><b>{{"Bar Code" | translate }}</b></label>
                                    </th>-->
                                    <th class="semi-bold">
                                        <label><b>{{"Book Level" | translate }}</b></label>
                                    </th>
                                    <th class="semi-bold">
                                        <label><b>{{"Storage Hint" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><b>{{"Purchase Price" | translate }}</b></label>
                                    </th>

                                   <!-- <th class="semi-bold">
                                        <label><b>{{"Item Keywords" | translate }}</b></label>
                                    </th>-->

                                    <th class="semi-bold">
                                        <label><b>{{"No. Of Copies" | translate }}</b></label>
                                    </th>

                                    <!--<th class="semi-bold">
                                        <label><b>{{"Known As" | translate }}</b></label>
                                    </th>-->

                                    <th class="semi-bold">
                                        <label><b>{{"Book Style" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><b>{{"Status Code" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><b>{{"Currency" | translate }}</b></label>
                                    </th>

                                   <!-- <td class="semi-bold">
                                        <label><b>{{"Item Qty" | translate }}</b></label>
                                    </td>-->

                                    <!--<th class="semi-bold">
                                        <label><b>{{"Location Code" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><b>{{"Bin Code" | translate }}</b></label>
                                    </th>-->

                                    <th class="semi-bold">
                                        <label><b>{{"Entry Date" | translate }}</b></label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="j in filteredTodos | orderBy:orderByField:reverseSort">
                                    <td>
                                        <div class="row-fluid">
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input id="{{j.sims_library_item_number+$index}}" type="checkbox" value="1" ng-click="checkonebyonedelete()">
                                                <label for="{{j.sims_library_item_number+$index}}"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <a href=""><i class="fa fa-edit" ng-click="edit(j)"></i></a>
                                    </td>
                                    <td>
                                        <label id="lbl">{{j.sims_library_item_number}}</label>
                                    </td>
                                    <td>
                                        <label id="Label1">{{j.sims_library_item_accession_number}}</label>
                                    </td>
                                    <td>
                                        <label id="Label2">{{j.sims_library_isbn_number}}</label>
                                    </td>
                                    <td>
                                        <label id="Label3">{{j.sims_library_bnn_number}}</label>
                                    </td>
                                    <td>
                                        <label id="Label4">{{j.sims_library_item_dewey_number}}</label>
                                    </td>
                                    <td>
                                        <label id="Label5">{{j.sims_library_item_name}}</label>
                                    </td>
                                    <td>
                                        <label id="Label6">{{j.sims_library_item_title}}</label>
                                    </td>
                                    <td>
                                        <label id="Label7">{{j.sims_library_item_desc}}</label>
                                    </td>
                                    <td>
                                        <label id="Label8">{{j.sims_library_item_category_name}}</label>
                                    </td>
                                    <td>
                                        <label id="Label9">{{j.sims_library_item_subcategory_name}}</label>
                                    </td>
                                    <td>
                                        <label id="Label10">{{j.sims_library_item_catalogue_name}}</label>
                                    </td>
                                    <td>
                                        <label id="Label11">{{j.sims_library_item_cur_name}}</label>
                                    </td>
                                    <td>
                                        <label id="Label12">{{j.sims_library_item_cur_level_name}}</label>
                                    </td>
                                    <td>
                                        <label id="Label13">{{j.sims_library_item_grade_name}}</label>
                                    </td>
                                    <td>
                                        <label id="Label14">{{j.sims_library_item_language_name}}</label>
                                    </td>
                                    <td>
                                        <label id="Label15">{{j.sims_library_item_remark}}</label>
                                    </td>
                                    <td>
                                        <label id="Label16">{{j.sims_library_item_author1}}</label>
                                    </td>
                                    <!--<td>
                                        <label id="Label17">{{j.sims_library_item_author2}}</label>
                                    </td>
                                    <td>
                                        <label id="Label18">{{j.sims_library_item_author3}}</label>
                                    </td>
                                    <td>
                                        <label id="Label19">{{j.sims_library_item_author4}}</label>
                                    </td>
                                    <td>
                                        <label id="Label20">{{j.sims_library_item_author5}}</label>
                                    </td>
                                    <td>
                                        <label id="Label21">{{j.sims_library_item_age_from}}</label>
                                    </td>
                                    <td>
                                        <label id="Label22">{{j.sims_library_item_age_to}}</label>
                                    </td>
                                    <td>
                                        <label id="Label23">{{j.sims_library_item_edition_statement}}</label>
                                    </td>
                                    <td>
                                        <label id="Label24">{{j.sims_library_item_place_of_publication}}</label>
                                    </td>-->
                                    <td>
                                        <label id="Label25">{{j.sims_library_item_name_of_publisher}}</label>
                                    </td>
                                    <td>
                                        <label id="Label26">{{j.sims_library_item_date_of_publication}}</label>
                                    </td>
                                  <!--  <td>
                                        <label id="Label27">{{j.sims_library_item_extent_of_item}}</label>
                                    </td>
                                    <td>
                                        <label id="Label28">{{j.sims_library_item_accompanying_item}}</label>
                                    </td>
                                    <td>
                                        <label id="Label29">{{j.sims_library_item_printing_date}}</label>
                                    </td>
                                    
                                    <td>
                                        <label id="Label31">{{j.sims_library_item_bar_code}}</label>
                                    </td>-->
                                    <td>
                                        <label id="Label30">{{j.sims_library_item_qr_code}}</label>
                                    </td>
                                    <td>
                                        <label id="Label32">{{j.sims_library_item_storage_hint}}</label>
                                    </td>
                                    <td>
                                        <label id="Label33">{{j.sims_library_item_purchase_price}}</label>
                                    </td>
                                   <!-- <td>
                                        <label id="Label34">{{j.sims_library_item_keywords}}</label>
                                    </td>-->
                                    <td>
                                        <label id="Label35">{{j.sims_library_item_number_of_copies}}</label>
                                    </td>
                                    <!--<td>
                                        <label id="Label36">{{j.sims_library_item_known_as}}</label>
                                    </td>-->
                                    <td>
                                        <label id="Label37">{{j.sims_library_item_book_style_name}}</label>
                                    </td>
                                    <td>
                                        <label id="Label38">{{j.sims_library_item_status_name}}</label>
                                    </td>
                                    <td>
                                        <label id="Label39">{{j.sims_library_item_curcy_name}}</label>
                                    </td>
                                    <!--<td>
                                        <label id="Label40">{{j.sims_library_item_qty}}</label>
                                    </td>-->
                                    <!--<td>
                                        <label id="Label41">{{j.sims_library_item_location_nm}}</label>
                                    </td>
                                    <td>
                                        <label id="Label42">{{j.sims_library_item_bin_nm}}</label>
                                    </td>-->
                                    <td>
                                        <label id="Label43">{{j.sims_library_item_entry_date}}</label>
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                        </div>
                    </div>
                    <div class="row" ng-show="pager">
                        <div class="col-md-12">
                    <div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                            ng-click="index(currentPage)">
                        </paging>
                    </div>
                        </div>
                        </div>
                </div>

            </div>

            <div ng-show="display">
                <form name="Myform" ng-submit="savedata(Myform.$valid)" novalidate="novalidate">
                    <!--1ST ROW-->
                   
                            <!-- Row 1-->
                             <div class="row">
                            <div class="col-md-3">
                                <div class="radio radio-success">
                                    <input id="yes" name="optionyes" value="A" checked="checked" ng-click="radio1Click()" type="radio">
                                    <label for="yes">{{"Auto Accession No" |translate}}</label>
                                    <input id="no" name="optionyes" value="M" ng-click="radio2Click()" type="radio">
                                    <label for="no">{{"Manual Accession No" |translate}}</label>
                                </div>
                            </div>
                            <div class="col-md-3" ng-class="{'has-error': !Myform.no_copies.$valid && (Myform.no_copies.$touched || Myform.$submitted) }">
                                <label for="DivCode">{{"Number of Copies" | translate }}<span style="color: red">*</span></label>
                                <input type="text" name="no_copies" id="Text29" class="k-textbox input-sm full-width" ng-model="temp.sims_library_item_number_of_copies" maxlength="4" ng-keypress="onlyNumbers1($event)" ng-readonly="divcode_readonly" required />
                                <p class="help-block" ng-show="Myform.no_copies.$error.maxlength &&  (Myform.no_copies.$touched || Myform.$submitted)">
                                    Please Enter Only Digits
                                </p>  
                                <p class="help-block" ng-show="Myform.lib_attribute.$error.required &&  (Myform.lib_attribute.$touched || Myform.$submitted)">
                                    This field is required
                                </p>                              
                            </div>
                            <div class="col-md-2" ng-class="{'has-error': !Myform.Acc_No.$valid && (Myform.Acc_No.$touched || Myform.$submitted) }">
                                <label for="DivCode" ng-show="accessnolabel">{{"Accession No" | translate }}</label>                           
                                 <input type="text" name="Acc_No" id="Text1" class="k-textbox input-sm full-width" ng-model="temp.sims_library_item_accession_number" ng-show="Accessno" maxlength="15" ng-readonly="acccode_readonly" ng-keydown="access_nos($event)" />
                                <p class="help-block" ng-show="Myform.Acc_No.$error.pattern &&  (Myform.Acc_No.$touched || Myform.$submitted)">
                                    Please Enter Only Digits
                                </p>                               
                            </div>
                            <!--<div class="col-md-2">
                                <label style="color: red" for="DivCode" ng-show="message">{{"Accession number already exists." | translate }}</label>
                            </div>-->  
                            <div class="col-md-3"><label>&nbsp;</label>
                                <input type="text" ng-show="list" name="acc_no" id="Text30" class="k-textbox input-sm full-width" ng-model="temp.sims_library_item_accession_number_list" maxlength="100" ng-keypress="onlyNumbers2($event)" ng-readonly="acccodelist_readonly" />
                                </div>     
                            <div class="col-md-1"><label>&nbsp;</label> 
                            <button type="button" ng-click="Clear()" class="btn btn-primary btn-sm btn-small" ng-show="clr_btn">{{ "Clear" | translate }}</button>
                                </div>
                          <!-- <div class="col-md-3">
                                <div class="pull-right" ng-show="google_bk">
                                     <img src="assets/images/Google_Books_logo.PNG" style="height:50px;"/>
                                    <button type="button" data-tap-disabled="false" ng-click="Add(temp.sims_library_isbn_number)" id="Button1"  ng-show="add_btn" class="btn btn-primary btn-small">{{"Poll data from Google Books API"| translate}}</button>
                                </div>
                            </div>-->
                        </div>
                      <!-- <div class="col-md-12" ng-show="loading">
                                <center>
                                    <img src="assets/images/loading.gif" />
                                </center>
                            </div>-->
                    <!--Row 2-->
                    <div class="row margin-top">
                            <div class="col-md-3" ng-class="{'has-error': !Myform.isbn.$valid && (Myform.isbn.$touched || Myform.$submitted) }">
                                <label for="isbn">{{"ISBN" |translate}}<span style="color: red">*</span></label>
                                <input type="text" name="isbn" id="Text2" class="k-textbox input-sm full-width" ng-model="temp.sims_library_isbn_number" maxlength="25" ng-keypress="onlyNumbers2($event)" required />
                               
                                <p class="help-block" ng-show="Myform.isbn.$error.maxlength  &&  (Myform.isbn.$touched || Myform.$submitted)">
                                    Max Length 25 Character Allowed
                                </p>
                               <p class="help-block" ng-show="Myform.lib_attribute.$error.required &&  (Myform.lib_attribute.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>

                            <div class="col-md-3" ng-class="{'has-error': !Myform.bnn.$valid && (Myform.bnn.$touched || Myform.$submitted) }">
                                <label for="DivCode">{{"BNN Number" |translate}}</label>
                                <input type="text" name="bnn" id="Text3" class="k-textbox input-sm full-width" ng-model="temp.sims_library_bnn_number" maxlength="15" ng-keypress="onlyNumbers2($event)" />
                               
                                <p class="help-block" ng-show="Myform.bnn.$error.maxlength &&  (Myform.bnn.$touched || Myform.$submitted)">
                                    Max Length 15 Characters Required
                                </p>
                                
                            </div>

                            <div class="col-md-3">
                                <label for="dewey">{{"Dewey No" |translate}}</label>
                                <input type="text" name="dewey" id="libname" class="k-textbox input-sm full-width" ng-model="temp.sims_library_item_dewey_number" maxlength="15" ng-keypress="onlyNumbers2($event)" />
                               
                                <p class="help-block" ng-show="Myform.dewey.$error.maxlength  &&  (Myform.dewey.$touched || Myform.$submitted)">
                                    Max Length 15 Character Allowed
                                </p>
                                <p class="help-block" ng-show="Myform.dewey.$error.required &&  (Myform.dewey.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>

                            <div class="col-md-3" ng-class="{'has-error': !Myform.item_name.$valid && (Myform.item_name.$touched || Myform.$submitted) }">
                                <label for="lib_name">{{"Item Name" |translate}}<span style="color: red">*</span></label>
                                <input type="text" name="item_name" id="Text4" class="k-textbox input-sm full-width" ng-model="temp.sims_library_item_name" maxlength="120" required />
                                
                                <p class="help-block" ng-show="Myform.item_name.$error.maxlength  &&  (Myform.item_name.$touched || Myform.$submitted)">
                                    Max Length 120 Character Allowed
                                </p>
                                <p class="help-block" ng-show="Myform.lib_attribute.$error.required &&  (Myform.lib_attribute.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>
                    </div>


                    <!--Row 3-->
                    <div class="row">
                            <div class="col-md-6" ng-class="{'has-error': !Myform.title.$valid && (Myform.title.$touched || Myform.$submitted) }">
                                <label for="title">{{"Title" |translate}}<span style="color: red">*</span></label>
                                <input type="text" name="title" id="Text5" class="k-textbox input-sm full-width" ng-model="temp.sims_library_item_title" maxlength="200" />
                               
                                <p class="help-block" ng-show="Myform.title.$error.maxlength  &&  (Myform.title.$touched || Myform.$submitted)">
                                    Max Length 100 Character Allowed
                                </p>
                                <p class="help-block" ng-show="Myform.lib_attribute.$error.required &&  (Myform.lib_attribute.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>

                            <div class="col-md-6">
                                <label for="desc">{{"Description" |translate}}</label>
                                <input type="text" name="desc" id="Text6" class="k-textbox input-sm full-width" ng-model="temp.sims_library_item_desc" />
                               
                            </div>
                    </div>

                    <!--Row 4-->

                    <div class="row">
                            <div class="col-md-3" ng-class="{'has-error': !Myform.lib_attribute.$valid && (Myform.lib_attribute.$touched || Myform.$submitted) }">
                                <label for="DivCode">{{"Category" |translate}}<span style="color: red">*</span></label>
                                <select id="cmb_library_category" data-role="dropdownlist" class="form-control input-sm full-width" name="lib_attribute" ng-model="temp.sims_library_item_category" ng-change="getSubCategory(temp.sims_library_item_category)" required>
                                    <option value="" selected disabled>Please Select</option>
                                    <option class="form-control input-sm" style="width: 100%;" ng-repeat="temp in Library_category_code" value="{{temp.sims_library_item_category}}">{{temp.sims_library_item_category_name}}</option>
                                </select>
                                <p class="help-block" ng-show="Myform.lib_attribute.$error.required &&  (Myform.lib_attribute.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>
                            <div class="col-md-3">
                                <label for="DivCode">{{"Subcategory" |translate}}</label>
                                <select id="Select2" data-role="dropdownlist" class="form-control input-sm full-width" name="lib_sub" ng-model="temp.sims_library_item_subcategory"
                                        ng-options="item.sims_library_item_subcategory as item.sims_library_item_subcategory_name for item in Library_subcategory_code">
                                    <option value="">Please Select</option>
                                    <!--<option class="k-t
                                    extbox" style="width: 100%;" ng-repeat="temp in Library_subcategory_code" value="{{temp.sims_library_item_subcategory}}">{{temp.sims_library_item_subcategory_name}}</option>-->
                                    </select>
                                </select>
                                <p class="help-block" ng-show="Myform.lib_sub.$error.required &&  (Myform.lib_sub.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>

                            <div class="col-md-3">
                                <label for="DivCode">{{"Catalogue" |translate}}</label>
                                <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width" name="lib_cat" ng-model="temp.sims_library_item_catalogue_code">
                                    <option value="" selected disabled>Please Select</option>
                                    <option class="form-control input-sm" style="width: 100%;" ng-repeat="temp in Library_catalogue_code" value="{{temp.sims_library_item_catalogue_code}}">{{temp.sims_library_item_catalogue_name}}</option>
                                </select>
                                <p class="help-block" ng-show="Myform.lib_cat.$error.required &&  (Myform.lib_cat.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>

                            <div class="col-md-3">
                                <label for="DivCode">{{"Curriculum" |translate}}</label>                                                
                                <select id="cmb_cur" data-role="dropdownlist" class="form-control input-sm full-width"
                                        ng-model="temp.sims_library_item_cur_code" ng-change="getcurlevel(temp.sims_library_item_cur_code)"
                                        ng-options="commn2.sims_library_item_cur_code as commn2.sims_library_item_cur_name for commn2 in Library_cur_code" name="cmb_cur"></select>
                            </div>
                        </div>

                    <div class="row">
                            <div class="col-md-3">
                                <label for="DivCode">{{"Curriculum Level" |translate}}</label>
                                <select id="Select5" data-role="dropdownlist" class="form-control input-sm full-width" name="user" ng-model="temp.sims_library_item_cur_level_code" ng-change="getGrade(temp.sims_library_item_cur_code,temp.sims_library_item_cur_level_code)"
                                        ng-options="item.sims_library_item_cur_level_code as item.sims_library_item_cur_level_name for item in Library_cur_level_code">
                                    <option value="">Please Select</option>
                                    <!--<option class="k-textbox" style="width: 100%;" ng-repeat="temp in Library_cur_level_code" value="{{temp.sims_library_item_cur_level_code}}">{{temp.sims_library_item_cur_level_name}}</option>-->
                                </select>
                            </div>

                            <div class="col-md-3">
                                <label for="DivCode">{{"For Grade" |translate}}</label>
                                <select id="Select6" data-role="dropdownlist" class="form-control input-sm full-width" name="user" ng-model="temp.sims_library_item_grade_code"
                                        ng-options="item.sims_library_item_grade_code as item.sims_library_item_grade_name for item in Library_grade_code">
                                    <option value="">Please Select</option>
                                    <!--<option class="k-textbox" style="width: 100%;" ng-repeat="temp in Library_grade_code" value="{{temp.sims_library_item_grade_code}}">{{temp.sims_library_item_grade_name}}</option>-->
                                </select>
                            </div>

                            <div class="col-md-3">
                                <label for="DivCode">{{"Language" |translate}}</label>
                                <select id="Select7" data-role="dropdownlist" class="form-control input-sm full-width" name="user" ng-model="temp.sims_library_item_language_code">
                                    <option value="">Please Select</option>
                                    <option class="form-control input-sm" style="width: 100%;" ng-repeat="temp in Language_code" value="{{temp.sims_library_item_language_code}}">{{temp.sims_library_item_language_name}}</option>
                                </select>
                            </div>
                         <div class="col-md-3" ng-class="{'has-error': !Myform.remark.$valid && (Myform.remark.$touched || Myform.$submitted) }">
                                <label for="remark">{{"Remark" |translate}}</label>
                                <input type="text" name="remark" id="Text7" class="k-textbox input-sm full-width" ng-model="temp.sims_library_item_remark" maxlength="100" />
                               
                                <p class="help-block" ng-show="Myform.remark.$error.maxlength  &&  (Myform.remark.$touched || Myform.$submitted)">
                                    Max Length 100 Character Allowed
                                </p>
                            </div>
                        </div>

                    <!--Row 5-->

                    <div class="row">
                            <div class="col-md-3" ng-class="{'has-error': !Myform.author1.$valid && (Myform.author1.$touched || Myform.$submitted) }">
                                <label for="author1">{{"Author 1" |translate}}<span style="color: red">*</span></label>
                                <input type="text" name="author1" id="Text8" class="k-textbox input-sm full-width" ng-model="temp.sims_library_item_author1" maxlength="50" required />
                                <p class="help-block" ng-show="Myform.author1.$error.maxlength &&  (Myform.author1.$touched || Myform.$submitted)">
                                    Please Enter Only Characters
                                </p>

                                <p class="help-block" ng-show="Myform.author1.$error.maxlength &&  (Myform.author1.$touched || Myform.$submitted)">
                                    Max Length 50 Characters Required
                                </p>
                                <p class="help-block" ng-show="Myform.author1.$error.required &&  (Myform.author1.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>

                            <div class="col-md-3" ng-class="{'has-error': !Myform.author2.$valid && (Myform.author2.$touched || Myform.$submitted) }">
                                <label for="DivCode">{{"Author 2" |translate}}</label>
                                <input type="text" name="author2" id="Text9" class="k-textbox input-sm full-width" ng-model="temp.sims_library_item_author2" maxlength="50" />
                                <p class="help-block" ng-show="Myform.author2.$error.maxlength &&  (Myform.author2.$touched || Myform.$submitted)">
                                    Please Enter Only Characters
                                </p>

                                <p class="help-block" ng-show="Myform.author2.$error.maxlength &&  (Myform.author2.$touched || Myform.$submitted)">
                                    Max Length 50 Characters Required
                                </p>
                            </div>

                            <div class="col-md-3" ng-class="{'has-error': !Myform.author3.$valid && (Myform.author3.$touched || Myform.$submitted) }">
                                <label for="DivCode">{{"Author 3" |translate}}</label>
                                <input type="text" name="author3" id="Text10" class="k-textbox input-sm full-width" ng-model="temp.sims_library_item_author3" maxlength="50" />
                                <p class="help-block" ng-show="Myform.author3.$error.maxlength &&  (Myform.author3.$touched || Myform.$submitted)">
                                    Please Enter Only Characters
                                </p>

                                <p class="help-block" ng-show="Myform.author3.$error.maxlength &&  (Myform.author3.$touched || Myform.$submitted)">
                                    Max Length 50 Characters Required
                                </p>
                            </div>

                            <div class="col-md-3" ng-class="{'has-error': !Myform.author4.$valid && (Myform.author4.$touched || Myform.$submitted) }">
                                <label for="DivCode">{{"Author 4" |translate}}</label>
                                <input type="text" name="author4" id="Text11" class="k-textbox input-sm full-width" ng-model="temp.sims_library_item_author4" maxlength="50" />
                                <p class="help-block" ng-show="Myform.author4.$error.maxlength &&  (Myform.author4.$touched || Myform.$submitted)">
                                    Please Enter Only Characters
                                </p>

                                <p class="help-block" ng-show="Myform.author4.$error.maxlength &&  (Myform.author4.$touched || Myform.$submitted)">
                                    Max Length 50 Characters Required
                                </p>
                            </div>
                        </div>

                    <!--Row 6-->

                    <div class="row">
                            <div class="col-md-3" ng-class="{'has-error': !Myform.author5.$valid && (Myform.author5.$touched || Myform.$submitted) }">
                                <label for="DivCode">{{"Author 5" |translate}}</label>
                                <input type="text" name="author5" id="Text12" class="k-textbox input-sm full-width" ng-model="temp.sims_library_item_author5" maxlength="50" />
                                <p class="help-block" ng-show="Myform.author5.$error.maxlength &&  (Myform.author5.$touched || Myform.$submitted)">
                                    Please Enter Only Characters
                                </p>

                                <p class="help-block" ng-show="Myform.author5.$error.maxlength &&  (Myform.author5.$touched || Myform.$submitted)">
                                    Max Length 50 Characters Required
                                </p>
                            </div>

                            <div class="col-md-1" style="padding: 02px" ng-class="{'has-error': !Myform.age.$valid && (Myform.age.$touched || Myform.$submitted) }">
                                <label for="DivCode">{{"Age From" |translate}}</label>
                                <input type="text" name="age" id="Text13" class="k-textbox input-sm full-width" ng-model="temp.sims_library_item_age_from" maxlength="3" ng-keypress="onlyNumbers1($event)" />
                                <p class="help-block" ng-show="Myform.age.$error.maxlength &&  (Myform.age.$touched || Myform.$submitted)">
                                    Please Enter Only Digits
                                </p>

                            </div>

                            <div class="col-md-1" style="padding: 02px" ng-class="{'has-error': !Myform.age_to.$valid && (Myform.age_to.$touched || Myform.$submitted) }">
                                <label for="DivCode">{{"Age To" |translate}}</label>
                                <input type="text" name="age_to" id="Text14" class="k-textbox input-sm full-width" ng-model="temp.sims_library_item_age_to" maxlength="3" ng-keypress="onlyNumbers1($event)" />
                                <p class="help-block" ng-show="Myform.age_to.$error.maxlength &&  (Myform.age_to.$touched || Myform.$submitted)">
                                    Please Enter Only Digits
                                </p>
                                                                
                            </div>

                            <div class="col-md-4" ng-class="{'has-error': !Myform.edition.$valid && (Myform.edition.$touched || Myform.$submitted) }">
                                <label for="DivCode">{{"Edition Statement" |translate}}</label>
                                <input type="text" name="edition" id="Text15" class="k-textbox input-sm full-width" ng-model="temp.sims_library_item_edition_statement" />
                                
                            </div>

                            <div class="col-md-3">
                                <label for="DivCode">{{"Place of Publication" |translate}}</label>
                                <input type="text" name="publication_place" id="Text16" class="k-textbox input-sm full-width" ng-model="temp.sims_library_item_place_of_publication" maxlength="50" />
                                <p class="help-block" ng-show="Myform.pub_name.$error.maxlength &&  (Myform.pub_name.$touched || Myform.$submitted)">
                                    Please Enter Only Characters
                                </p>
                                <p class="help-block" ng-show="Myform.publication_place.$error.required &&  (Myform.publication_place.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                                
                            </div>
                        </div>
                    <!--Row 7-->

                    <div class="row">

                            <div class="col-md-3" ng-class="{'has-error': !Myform.pub_name.$valid && (Myform.pub_name.$touched || Myform.$submitted) }">
                                <label for="DivCode">{{"Name of Publisher" |translate}}<span style="color: red">*</span></label>
                                <input type="text" name="pub_name" id="Text17" class="k-textbox input-sm full-width" ng-model="temp.sims_library_item_name_of_publisher" maxlength="50" required />
                                <p class="help-block" ng-show="Myform.pub_name.$error.maxlength &&  (Myform.pub_name.$touched || Myform.$submitted)">
                                    Please Enter Only Characters
                                </p>
                                <p class="help-block" ng-show="Myform.pub_name.$error.required &&  (Myform.pub_name.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                                
                            </div>

                            <div class="col-md-3">
                                <label for="StartDate">{{"Publication Date" |translate}}</label>
                                    <input type="text" id="publication_date" placeholder="Select Date" name="creation_date" class="k-textbox input-sm full-width" ng-model="temp.sims_library_item_date_of_publication">
                                    <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                </div>

                            <div class="col-md-3">
                                <label for="StartDate">{{"Printing Date" |translate}}</label>
                                    <input type="text" id="printing_date" placeholder="Select Date" name="creation_date" class="k-textbox input-sm full-width" ng-model="temp.sims_library_item_printing_date">
                                    <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                            </div>

                            <div class="col-md-3" ng-class="{'has-error': !Myform.qr_code.$valid && (Myform.qr_code.$touched || Myform.$submitted) }">
                                <label for="qr_code">{{"Book Level" |translate}}</label>
                                <input type="text" name="qr_code" id="Text21" class="k-textbox input-sm full-width" ng-model="temp.sims_library_item_qr_code" maxlength="25" />
                                
                                
                                
                            </div>
                    </div>

                    <!--Row 8-->

                    <div class="row">
                            <div class="col-md-3" ng-class="{'has-error': !Myform.bar_code.$valid && (Myform.bar_code.$touched || Myform.$submitted) }">
                                <label for="bar_code">{{"Bar Code" |translate}}</label>
                                <input type="text" name="bar_code" id="Text22" class="k-textbox input-sm full-width" ng-model="temp.sims_library_item_bar_code" maxlength="25" />
                                
                            </div>
                            <div class="col-md-3" ng-class="{'has-error': !Myform.ext_item.$valid && (Myform.ext_item.$touched || Myform.$submitted) }">
                                <label for="DivCode">{{"Extent of Item" |translate}}</label>
                                <input type="text" name="ext_item" id="Text18" class="k-textbox input-sm full-width" ng-model="temp.sims_library_item_extent_of_item" maxlength="50" />
                                
                            </div>

                            <div class="col-md-3" ng-class="{'has-error': !Myform.acc_item.$valid && (Myform.acc_item.$touched || Myform.$submitted) }">
                                <label for="DivCode">{{"Accompanying Item" |translate}}</label>
                                <input type="text" name="acc_item" id="Text20" class="k-textbox input-sm full-width" ng-model="temp.sims_library_item_accompanying_item" maxlength="50" />
                                
                            </div>

                            <div class="col-md-3" ng-class="{'has-error': !Myform.st_hint.$valid && (Myform.st_hint.$touched || Myform.$submitted) }">
                                <label for="DivCode">{{"Storage Hint" |translate}}</label>
                                <input type="text" name="st_hint" id="Text23" class="k-textbox input-sm full-width" ng-model="temp.sims_library_item_storage_hint" />
                                <p class="help-block" ng-show="Myform.st_hint.$error.maxlength &&  (Myform.st_hint.$touched || Myform.$submitted)">
                                    Please Enter Only Characters
                                </p>

                                
                            </div>
                    </div>

                    <!--Row 9-->
                    <div class="row">
                            <div class="col-md-6" ng-class="{'has-error': !Myform.item_key.$valid && (Myform.item_key.$touched || Myform.$submitted) }">
                                <label for="DivCode">{{"Item Keywords" | translate }}</label>
                                <input type="text" name="item_key" id="Text24" class="k-textbox input-sm full-width" ng-model="temp.sims_library_item_keywords" maxlength="100" />
                                <p class="help-block" ng-show="Myform.item_key.$error.maxlength &&  (Myform.item_key.$touched || Myform.$submitted)">
                                    Please Enter Only Characters
                                </p>

                            </div>

                            <div class="col-md-6" ng-class="{'has-error': !Myform.known_as.$valid && (Myform.known_as.$touched || Myform.$submitted) }">
                                <label for="DivCode">{{"Known As" | translate }}</label>
                                <input type="text" name="known_as" id="Text25" class="k-textbox input-sm full-width" ng-model="temp.sims_library_item_known_as" maxlength="100" />
                                                               
                            </div>

                            <!--<div class="col-md-2" style="padding: 02px" ng-class="{'has-error': !Myform.no_copies.$valid && (Myform.no_copies.$touched || Myform.$submitted) }">
                                <label for="DivCode">{{"Number of Copies" | translate }}</label>
                                <input type="text" name="no_copies" id="Text26" class="k-textbox" style="width: 100%;" ng-model="temp.sims_library_item_number_of_copies"  maxlength="4" ng-readonly="divcode_readonly"/>
                                <p class="help-block" ng-show="Myform.no_copies.$error.maxlength &&  (Myform.no_copies.$touched || Myform.$submitted)">
                                    Please Enter Only Digits
                                </p>
                                
                            </div>-->
                    </div>

                    <!--Row 10-->
                    <div class="row">
                             <div class="col-md-3">
                                <label for="DivCode">{{"Currency Name" | translate }}</label>
                                 <select id="Select12" data-role="dropdownlist" class="form-control input-sm full-width" name="user" ng-model="temp.sims_library_item_curcy_code">
                                     <option value="">Please Select</option>
                                     <option class="form-control input-sm" style="width: 100%;" ng-repeat="temp in Currency_code" value="{{temp.sims_library_item_curcy_code}}">{{temp.sims_library_item_curcy_name}}</option>
                                 </select>
                            </div>

                            <div class="col-md-3" ng-class="{'has-error': !Myform.pur_price.$valid && (Myform.pur_price.$touched || Myform.$submitted) }">
                                <label for="DivCode">{{"Purchase Price" | translate }}</label>
                                <input type="text" name="pur_price" id="Text26" class="k-textbox input-sm full-width" ng-model="temp.sims_library_item_purchase_price" maxlength="8" ng-keypress="onlyNumbers($event)" />
                                <p class="help-block" ng-show="Myform.pur_price.$error.maxlength &&  (Myform.pur_price.$touched || Myform.$submitted)">
                                    Please Enter Only Digits
                                </p>

                                
                            </div>                           

                            <div class="col-md-3">
                                <label for="DivCode">{{"Book Style" | translate }}</label>
                                <select id="Select8" data-role="dropdownlist" class="form-control input-sm full-width" name="user" ng-model="temp.sims_library_item_book_style">
                                    <option value="" selected disabled>Please Select</option>
                                    <option class="form-control input-sm" style="width: 100%;" ng-repeat="temp in BookStyle_code" value="{{temp.sims_library_item_book_style}}">{{temp.sims_library_item_book_style_name}}</option>
                                </select>
                            </div>

                            <div class="col-md-3" ng-class="{'has-error': !Myform.lib_loc.$valid && (Myform.lib_loc.$touched || Myform.$submitted) }">
                                <label for="DivCode">{{"Location" | translate }}<span style="color: red">*</span></label>
                                <select id="Select9" data-role="dropdownlist" class="form-control input-sm full-width" name="lib_loc" ng-model="temp.sims_library_item_location_code" ng-change="getBins(temp.sims_library_item_location_code)" required>
                                    <option value="">Please Select</option>
                                    <option class="form-control input-sm" style="width: 100%;" ng-repeat="temp in Location" value="{{temp.sims_library_item_location_code}}">{{temp.sims_library_item_location_nm}}</option>
                                </select>
                                <p class="help-block" ng-show="Myform.lib_loc.$error.required &&  (Myform.lib_loc.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>

                           
                    </div>

                    <!--Row 11-->
                    <div class="row">

                         <div class="col-md-3">
                                <label for="DivCode">{{"Bin" | translate }}</label>
                                <select id="Select11" data-role="dropdownlist" class="form-control input-sm full-width" name="user" ng-model="temp.sims_library_item_bin_code">
                                    <option value="">Please Select</option>
                                    <option class="form-control input-sm" style="width: 100%;" ng-repeat="temp in Bin_Status" value="{{temp.sims_library_item_bin_code}}">{{temp.sims_library_item_bin_nm}}</option>
                                </select>
                            </div>

                            <div class="col-md-3" ng-class="{'has-error': !Myform.lib_status.$valid && (Myform.lib_status.$touched || Myform.$submitted) }">
                                <label for="DivCode">{{"Status" | translate }}<span style="color: red">*</span></label>
                                <!--<select id="Select10" class="form-control" name="lib_status" ng-model="temp.sims_library_item_status_code" required>
                                    <option value="">Please Select</option>
                                    <option class="k-textbox" style="width: 100%;" ng-repeat="temp in Book_Status" value="{{temp.sims_library_item_status_code}}">{{temp.sims_library_item_status_name}}</option>
                                </select>-->
                                 <select id="Select10" data-role="dropdownlist" class="form-control input-sm full-width" name="lib_status" ng-model="temp.sims_library_item_status_code" 
                                    ng-options="items.sims_library_item_status_code as items.sims_library_item_status_name for items in Book_Status" required>
                                   <!-- <option value="" >Please Select</option>-->
                                    <!--<option class="k-textbox" style="width: 100%;" ng-repeat="temp in Library_cur_level_code" value="{{temp.sims_library_item_cur_level_code}}">{{temp.sims_library_item_cur_level_name}}</option>-->
                                </select>
                                <p class="help-block" ng-show="Myform.lib_status.$error.required &&  (Myform.lib_status.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>

                            <div class="col-md-3" ng-class="{'has-error': !Myform.lib_date.$valid && (Myform.lib_date.$touched || Myform.$submitted) }">
                                <label for="StartDate">{{"Entry Date" | translate }}<span style="color: red">*</span></label>
                                <div class="" >
                                    <input type="text" id="entry_date" placeholder="Select Date" name="lib_date" class="k-textbox input-sm full-width" ng-model="temp.sims_library_item_entry_date" required>
                                    <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                </div>
                                <p class="help-block" ng-show="Myform.lib_date.$error.required &&  (Myform.lib_date.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-md-12">
                    <div class="form-actions">
                        <div class="pull-right">
                            <button type="submit" id="desigsub" ng-show="save_btn" class="btn btn-primary btn-small">{{"Save" | translate }}</button>
                            <button type="button" ng-show="Update_btn" ng-click="update(Myform.$valid);" class="btn btn-primary btn-small">{{"Update" | translate }}</button>
                            <button type="button" class="btn btn-danger btn-small" ng-click="Cancel()">{{"Cancel"| translate }}</button>
                        </div>
                    </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>

        </div>
    </div>
</div>

<div class="modal fade in" id="myModal" role="dialog" style="display: none;" tabindex="-1">
                <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 750px; height: 250px;">
                    <div class="modal-content" uib-modal-transclude="">
                        
                        <div class="modal-header ng-scope" style="height: 30px">
                            <div class="pull-left">
                            <h4 class="modal-title custom-font" style="margin-top: -5px"><b>{{"Accession No And Titles" | translate }}</b></h4></div>
                        </div>
                       
                         <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

                            <div class=" ">
                                <div class="grid-body no-border">
                      <div class="col-md-12">
                                    <div ng-show="searchtable">
                                        <div id="Div3" class="dataTables_wrapper form-inline">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                    <table class="table  table-bordered  table-hover" id="Table2" aria-describedby="example2_info">
                                                        <thead style="background-color: white">
                                                            <tr>
                                                                
                                                                <th class="semi-bold">{{"ACCESSION NO" | translate }}</th>
                                                                <th class="semi-bold">{{"TITLE" | translate }}</th>
                                                                
                                                            </tr>
                                                        </thead>
                                                        <tbody role="alert" aria-live="polite" aria-relevant="all">                                                           
                                                                <tr ng-repeat="info in msg1 | orderBy:orderByField:reverseSort">
                                                                
                                                                <td>{{info.accno}}</td>   
                                                                <td>{{info.title}}</td>
                                                          
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                    </div>
                          <div class="displayerror" ng-show="ImageView1">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row form-row">
                                        <div>
                                            <p style="font: bold 24px large; color:black">
                                               Sorry No Records Found!!!!!!!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                             <!--<div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                ng-click="index(currentPage)">
                        </paging>
                    </div>-->
                                            </div>
                                    </div>

                                    <!--<div class="modal-footer">
                                                 
                                    <div class="pull-left" >
                                       <select id="Select13" style="width: 60px; margin-top:8px" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                                       <option value="5" class=" form-control input-sm">
                                       5
                                       </option>
                                       <option value="10" class=" form-control input-sm">
                                       10
                                       </option>
                                       <option value="15" class=" form-control input-sm">
                                       15
                                       </option>
                                       </select>&nbsp;      
                                    
                                    
                                    </div>-->
                                                <div class="pull-right" >
                                                <!--<button type="button" ng-click="add()" style="margin-top:8px" class="btn btn-primary btn-cons">{{"Add" | translate }}</button>-->
                                                <button type="button" class="btn btn-primary btn-small" data-dismiss="modal" ng-click="Cancelled()">{{"Ok" | translate }}</button>
                                                </div>
                                                </div>
                                            </div>

                            </div>
                                        </div>
                          </div>
                    </div>

<!--<script src="assets/js/tableHeadFixer.js"></script>-->

<script src="assets/js/calender-datepicker-id.js"></script>