﻿<div class="row">
    <div class="col-md-12">

       <div class="page-title">
            <h3><span class="semi-bold">{{"Library" |translate}}</span>&nbsp;{{"Employee Membership" | translate}}</h3>
        </div>

       <div class="row" ng-show="notshow">
            <div class="col-xs-4">
                <div class="well" class="form-group">
                    <div class="form-group">
                        <label>Current Page:</label>
                        <input placeholder="page"
                            class="form-control"
                            ng-model="currentPage"
                            ng-init="currentPage = 1" />
                    </div>
                    <div class="form-group">
                        <label>Page Size:</label>
                        <input placeholder="Page Size"
                            class="form-control"
                            ng-model="numPerPage" />
                    </div>
                    <div class="form-group">
                        <label>Total Items:</label>
                        <input placeholder="Total"
                            class="form-control"
                            ng-model="pagersize" />
                    </div>
                    <hr />
                    <div class="form-group">
                        <label>Dots Display:</label>
                        <input placeholder="..."
                            class="form-control"
                            maxlength="3"
                            ng-model="dots"
                            ng-init="dots = '...'" />
                    </div>

                    <hr />
                    <div class="form-group">
                        <label>UL Class:</label>
                        <input placeholder="pagination"
                            class="form-control"
                            maxlength="100"
                            ng-model="ulClass" />
                    </div>
                    <div class="form-group">
                        <label>Active Class:</label>
                        <input placeholder="active"
                            class="form-control"
                            maxlength="100"
                            ng-model="activeClass"
                            ng-init="activeClass = 'active'" />
                    </div>
                    <div class="form-group">
                        <label>Disabled Class:</label>
                        <input placeholder="disabled"
                            class="form-control"
                            maxlength="100"
                            ng-model="disabledClass"
                            ng-init="disabledClass = 'disabled'" />
                    </div>
                    <br />
                    <table class="table">

                        <tr>
                            <td>
                                <label>Show Prev Next:</label>
                            </td>
                            <td>
                                <input type="checkbox"
                                    ng-model="showPrevNext"
                                    ng-init="showPrevNext = true" />
                                {{showPrevNext}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Show First Last:</label>
                            </td>
                            <td>
                                <input type="checkbox"
                                    ng-model="showFirstLast"
                                    ng-init="showFirstLast = true" />
                                {{showPrevNext}}
                            </td>
                        </tr>
                    </table>
                    <hr />
                    <span class="btn btn-default" onclick="location.reload()">
                        <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                    </span>
                    <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                    </span>
                    <br />
                    <br />
                </div>
            </div>
        </div>
                
       <div class="row" ng-show="notshow1">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                class="form-control"
                                ng-model="currentPage1"
                                ng-init="currentPage1 = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage1" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                class="form-control"
                                ng-model="pagersize1" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots1"
                                ng-init="dots1 = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass1" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass1"
                                ng-init="activeClass1 = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass1"
                                ng-init="disabledClass1 = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showPrevNext1"
                                        ng-init="showPrevNext1 = true" />
                                    {{showPrevNext1}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showFirstLast1"
                                        ng-init="showFirstLast1 = true" />
                                    {{showPrevNext1}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage1 = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

       <form name="MyForm" ng-submit="SaveStudent_data(MyForm.$valid)" novalidate="novalidate" style="width: auto; height: auto;">

            <ul class="nav nav-tabs" id="tab-01">
                <li class="active" ng-click="hide1()"><a href="#Student">{{ "Student" | translate }} </a></li>
                <li ng-click="hide2()"><a href="#Teacher">{{"Teacher/ Employee"|translate}}</a></li>

            </ul>
            <div class="tab-content">

                <!-- Student Tab-->

                <div class="tab-pane active" id="Student">
                    <div class="row column-seperation">
                        <div class="tab-pane" id="Div9" aria-expanded="true">
                            <div class="row form-row">

                                <div class="col-md-4">

                                    <label>{{"Student Enroll/Name" | translate }}</label>
                                    <input type="text" id="Text1" name="emp_id" class="k-textbox" ng-model="temp.student_data" maxlength="100" />
                                </div>

                                <div class="col-md-2">
                                    <label>&nbsp;&nbsp;</label>
                                    <button class="btn btn-primary btn-sm btn-small" style="height: 30px" type="button" ng-click="searchstudent()"><span class="semi-bold"></span>{{"View"| translate }}</button>
                                    <button class="btn btn-warning btn-sm btn-small" style="height: 30px" type="button" ng-click="Reset()"><span class="semi-bold"></span>{{"Reset"| translate }}</button>
                                </div>

                                <div class="row" ng-show="grid1">
                                    <div class="col-md-12">
                                        <label style="background-color: #0090d9; color: white; padding-left: 2px;" class="semi-bold">{{"Enter Membership Details" |translate}}</label>
                                    </div>
                                     <!--<div class="col-md-1">
                                        <label>&nbsp;&nbsp;</label>
                                        <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                            <option value="10" class=" form-control input-sm">
                                                10
                                            </option>

                                            <option value="20" class=" form-control input-sm">
                                                20
                                            </option>

                                            <option value="All" class=" form-control input-sm">
                                                All
                                            </option>
                                        </select>
                                    </div>-->
                                    <div class="col-md-2">
                                        <label>{{"Curriculum" |translate}}<span style="color: red">*</span></label>
                                        <select id="Select4" data-role="dropdownlist" class="form-control" name="user" ng-model="temp.s_cur_code">
                                            <option value="" selected disabled>Please Select</option>
                                            <option class="form-control input-sm" ng-repeat="cur in ComboBoxValues|filter:{sims_cur_full_name_en:''}" value="{{cur.sims_cur_code}} ">{{cur.sims_cur_full_name_en}}</option>
                                        </select>
                                    </div>

                                    <div class="col-md-2">
                                        <label>{{"Academic Year" |translate}}<span style="color: red">*</span></label>
                                        <select id="Select5" data-role="dropdownlist" class="form-control" ng-model="temp.sims_academic_year">
                                            <option value="" selected disabled>Please Select</option>
                                            <option class="form-control input-sm" ng-repeat="year in ComboBoxValues|filter:{sims_acadmic_year:''}" value="{{year.sims_acadmic_year}} ">{{year.sims_acadmic_year_desc}}</option>

                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label>{{ "Date" | translate }}<span style="color: red">*</span></label>
                                        <div class="input-append success date">
                                            <input type="text" style="width: 100%" id="Text3" placeholder="Select Date" name="creation_date" class="k-textbox input-sm" ng-model="sims_library_joining_date">
                                            <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                        </div>
                                    </div>


                                    <div class="col-md-2">
                                        <label>{{ "Membership Type" | translate }}<span style="color: red">*</span></label>
                                        <select id="Select6" data-role="dropdownlist" class="form-control" name="user" ng-model="temp.sims_library_membership_type_code">
                                            <option value="" selected disabled>Please Select</option>
                                            <option class="form-control input-sm" ng-repeat="temp in member_data" value="{{temp.sims_library_membership_type_code}} ">{{temp.sims_library_membership_type_name}}</option>
                                        </select>

                                    </div>

                                    <!--<div class="col-md-2">
                          <label>{{ "Privilege" | translate }} </label>
                    <div class="input-append success date" data-datepicker="true">
                          <select id="Select3" class="form-control" name="user" 
                                    ng-model="temp.sims_certificate_number"
                                    ng-options="temp.sims_certificate_number as temp.sims_certificate_name for temp in privilege"></select>   
                           </div>
                     </div>-->

                                    <div class="col-md-1">
                                        <label>&nbsp; &nbsp; </label>
                                        <button class="btn btn-primary btn-cons" style="height: 30px" type="button" ng-show="save_btn" ng-click="Savestudent()"><span class="semi-bold"></span>{{"Save"| translate }}</button>
                                    </div>
                                </div>

                                <div id="Div2" style="width: auto; height: auto" class="dataTables_wrapper form-inline" ng-show="grid1">
                                    <div style="width: 100%; height: 290px; overflow-x: auto; overflow-y: auto">
                                        <table class="table table-bordered table-condensed table-hover" id="fixTable1">
                                            <thead style="background-color: white">
                                                <tr style="background-color: #edefef">
                                                    <th style="z-index: 1;" class="small-cell v-align-middle">
                                                        <div class="checkbox check-success">

                                                            <input id="Checkbox1" type="checkbox" value="1" ng-click="CheckAllChecked1()">
                                                            <label for="Checkbox1" style="margin-left: 5px;"></label>
                                                        </div>
                                                    </th>
                                                    <th class="semi-bold" ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                                        <label><b><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"Enroll No" | translate }}</b></label>
                                                    </th>
                                                    <th class="semi-bold">
                                                        <label><b>{{"Name" | translate }}</b></label>
                                                    </th>
                                                    <th class="semi-bold">
                                                        <label><b>{{"DOB" | translate }}</b></label>
                                                    </th>
                                                    <th class="semi-bold">
                                                        <label><b>{{"Gender" | translate }} </b></label>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr ng-repeat="j in students | orderBy:orderByField:reverseSort">
                                                    <td>
                                                        <div class="row-fluid">
                                                            <div class="checkbox check-success" style="height: 20px">
                                                                <input id="{{j.sims_enroll_number+$index}}" type="checkbox" value="1" ng-click="checkonebyonedelete1()">
                                                                <label for="{{j.sims_enroll_number+$index}}"></label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <label id="Label1">{{j.sims_enroll_number}}</label>
                                                    </td>
                                                    <td>
                                                        <label id="Label2">{{j.student_name}}</label>
                                                    </td>
                                                    <td>
                                                        <label id="Label7">{{j.sims_student_dob}}</label>
                                                    </td>
                                                    <td>
                                                        <label id="Label6">{{j.student_sex}}</label>
                                                    </td>
                                                    <!--<td class="v-align-middle">
                                                        <span ng-if="j.em_status==true" class="label label-success">Active</span>
                                                        <span ng-if="j.em_status==false" class="label label-important">Inactive</span>
                                                    </td>-->

                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="displayerror" ng-show="ImageView">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row form-row">
                                                        <div>
                                                            <p style="font: bold 24px large; color: black">
                                                               <!-- Sorry No Records Found!!!!!!!-->
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!--<div class="pull-right" ng-show="pager1">
                                    <paging class="small" page="currentPage1" page-size="pageSize1" total="pagersize1" pg-href="#GotoPage-{page1}" dots="{{dots1}}" show-prev-next="{{showPrevNext1}}"
                                        scroll-top="{{scrollTop1}}" hide-if-empty="{{hideIfEmpty1}}" ul-class="{{ulClass1}}" active-class="{{activeClass1}}" disabled-class="{{disabledClass1}}" show-first-last="{{showFirstLast1}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page1, pageSize1, totalItems1)"
                                        ng-click="index1(currentPage1)">
                                    </paging>
                                </div>-->

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Employee/Teacher Tab-->
                <!--<div class="grid-body no-border" ng-show="table">-->

                <div class="tab-pane" id="Teacher">
                    <div class="row column-seperation">
                        <div class="tab-pane" id="Div3" aria-expanded="true">
                            <div class="row form-row">

                                <!--1ST ROW-->

                                <div class="col-md-4">

                                    <label>{{"Employee Code/Name" | translate }}</label>
                                    <input type="text" id="Text2" name="emp_id" class="k-textbox" ng-model="temp.emp_number" maxlength="100" />
                                </div>

                                <div class="col-md-2">
                                    <label>&nbsp;&nbsp;</label>
                                    <button class="btn btn-primary btn-sm btn-small" style="height: 30px" type="button" ng-click="searchemployee()"><span class="semi-bold"></span>{{"View"| translate }}</button>
                                    <button class="btn btn-warning btn-sm btn-small" style="height: 30px" type="button" ng-click="Reset()"><span class="semi-bold"></span>{{"Reset"| translate }}</button>
                                </div>

                                <div class="row" ng-show="mem">
                                    <div class="col-md-12">
                                        <label style="background-color: #0090d9; color: white; padding-left: 2px;" class="semi-bold">{{"Enter Membership Details" |translate}}</label>
                                    </div>
                                   <!-- <div class="col-md-1">
                                        <label>&nbsp;&nbsp;</label>
                                        <select id="Select7" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                            <option value="10" class=" form-control input-sm">
                                                10
                                            </option>

                                            <option value="20" class=" form-control input-sm">
                                                20
                                            </option>

                                            <option value="All" class=" form-control input-sm">
                                                All
                                            </option>
                                        </select>
                                    </div>-->
                                    <div class="col-md-2">
                                        <label>{{"Curriculum" |translate}}<span style="color: red">*</span></label>
                                        <select id="Select2" data-role="dropdownlist" class="form-control" name="user" ng-model="temp.s_cur_code">
                                            <option value="" selected disabled>Please Select</option>
                                            <option class="form-control input-sm" ng-repeat="cur in ComboBoxValues|filter:{sims_cur_full_name_en:''}" value="{{cur.sims_cur_code}} ">{{cur.sims_cur_full_name_en}}</option>
                                        </select>
                                    </div>

                                    <div class="col-md-2">
                                        <label>{{"Academic Year" |translate}}<span style="color: red">*</span></label>
                                        <select id="Select3" data-role="dropdownlist" class="form-control" ng-model="temp.sims_academic_year">
                                            <option value="" selected disabled>Please Select</option>
                                            <option class="form-control input-sm" ng-repeat="year in ComboBoxValues|filter:{sims_acadmic_year:''}" value="{{year.sims_acadmic_year}} ">{{year.sims_acadmic_year_desc}}</option>

                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label>{{ "Date" | translate }}<span style="color: red">*</span></label>
                                        <div class="input-append success date">
                                            <input type="text" style="width: 100%" id="lib_entry_date" placeholder="Select Date" name="creation_date" class="k-textbox input-sm" ng-model="sims_library_joining_date">
                                            <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                        </div>
                                    </div>


                                    <div class="col-md-2">
                                        <label>{{ "Membership Type" | translate }}<span style="color: red">*</span></label>
                                        <select id="cmb_School_Code" data-role="dropdownlist" class="form-control" name="user" ng-model="temp.sims_library_membership_type_code">
                                            <option value="" selected disabled>Please Select</option>
                                            <option class="form-control input-sm" ng-repeat="temp in member_data" value="{{temp.sims_library_membership_type_code}} ">{{temp.sims_library_membership_type_name}}</option>
                                        </select>

                                    </div>

                                    <!--<div class="col-md-2">
                          <label>{{ "Privilege" | translate }} </label>
                    <div class="input-append success date" data-datepicker="true">
                          <select id="Select3" class="form-control" name="user" 
                                    ng-model="temp.sims_certificate_number"
                                    ng-options="temp.sims_certificate_number as temp.sims_certificate_name for temp in privilege"></select>   
                           </div>
                     </div>-->

                                    <div class="col-md-1">
                                        <label>&nbsp; &nbsp; </label>
                                        <button class="btn btn-primary btn-cons" style="height: 30px" type="button" ng-show="save_btn" ng-click="Saveemp()"><span class="semi-bold"></span>{{"Save"| translate }}</button>
                                    </div>

                                </div>

                                <div id="Div1" style="width: auto; height: auto" class="dataTables_wrapper form-inline" ng-show="grid">
                                    <div style="width: 100%; height: 290px; overflow-x: auto; overflow-y: auto">
                                        <table class="table table-bordered table-condensed table-hover" id="fixTable">
                                            <thead style="background-color: white">
                                                <tr style="background-color: #edefef">
                                                    <th style="z-index: 1;" class="small-cell v-align-middle">
                                                        <div class="checkbox check-success">

                                                            <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                                            <label for="mainchk" style="margin-left: 5px;"></label>
                                                        </div>
                                                    </th>
                                                    <th class="semi-bold" ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                                        <label><b><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"Emp ID" | translate }}</b></label>
                                                    </th>
                                                    <th class="semi-bold">
                                                        <label><b>{{"Name" | translate }}</b></label>
                                                    </th>
                                                    <th class="semi-bold">
                                                        <label><b>{{"Gender" | translate }}</b></label>
                                                    </th>
                                                    <th class="semi-bold">
                                                        <label><b>{{"Status" | translate }} </b></label>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr ng-repeat="j in student | orderBy:orderByField:reverseSort">
                                                    <td>
                                                        <div class="row-fluid">
                                                            <div class="checkbox check-success" style="height: 20px">
                                                                <input id="{{j.em_number+$index}}" type="checkbox" value="1" ng-click="checkonebyonedelete()">
                                                                <label for="{{j.em_number+$index}}"></label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <label id="Label3">{{j.em_number}}</label>
                                                    </td>
                                                    <td>
                                                        <label id="Label4">{{j.emp_name}}</label>
                                                    </td>
                                                    <td>
                                                        <label id="Label5">{{j.em_sex}}</label>
                                                    </td>
                                                    <td class="v-align-middle">
                                                        <span ng-if="j.em_status==true" class="label label-success">{{"Active" | translate }}</span>
                                                        <span ng-if="j.em_status==false" class="label label-important">{{"Inactive" | translate }}</span>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="displayerror" ng-show="ImageView">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row form-row">
                                                        <div>
                                                            <p style="font: bold 24px large; color: black">
                                                               <!-- Sorry No Records Found!!!!!!!-->
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                               <!-- <div class="pull-right" ng-show="pager">
                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                        </paging>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--</div>-->

            </div>
        </form>

    </div>
</div>

<script src="assets/js/tabs_accordian.js"></script>
<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>

