﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Library "| translate }}</span>{{"Category"| translate }}</h3>
            </div>

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="grid-body no-border">
                <div ng-show="table">
                    <div class="row">
                        <div class="col-md-6">
                            <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                                <option value="10" class=" form-control input-sm">10</option>
                                <option value="20" class=" form-control input-sm">20</option>
                                <option value="All" class=" form-control input-sm">All</option>
                            </select>
                            &nbsp;
                            <button class="btn btn-primary btn-small" type="button" id="designew" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate }}</button>
                            &nbsp;
                            <button class="btn btn-danger btn-small" type="button" ng-click="OkDelete()"><span class="semi-bold"></span>{{"Delete"| translate }}</button>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <div class="dataTables_filter" id="example_filter">
                                    <span class="k-textbox k-space-right full-width">
                                        <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                                        <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <div class="row margin-top">
                            <div class="col-md-12">
                                <table class="table table-bordered table-hover table-condensed" id="fixTable">
                                    <thead>
                                        <tr style="background-color: #edefef">
                                            <th class="small-cell v-align-middle" style="z-index:1">
                                                <div class="checkbox check-success">
                                                    <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                                    <label for="mainchk" style="margin-left:5px;"></label>
                                                </div>
                                            </th>
                                            <th class="semi-bold" ng-click="orderByField='sort'; reverseSort = !reverseSort" style="width:25%">
                                                <label>
                                                    <b>
                                                        <a href="">
                                                            <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort">
                                                                <i class="fa fa-caret-up" ng-if="orderByField"></i>
                                                            </span><span ng-show="reverseSort">
                                                                <i class="fa fa-caret-down"></i>
                                                            </span>&nbsp;{{"Category Code" | translate }}
                                                    </b>
                                                </label>
                                            </th>
                                            <th class="semi-bold">
                                                <label><b>{{"Category Name" | translate }}</b></label>
                                            </th>
                                            <th class="semi-bold">
                                                <label><b>{{"Category Item Issue" | translate }}</b></label>
                                            </th>
                                            <th class="semi-bold">
                                                <label><i class="fa fa-cogs"></i></label>
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="j in filteredTodos | orderBy:orderByField:reverseSort" ng-class="row1">
                                            <td>
                                                <div class="row-fluid">
                                                    <div class="checkbox check-success" style="height: 20px">
                                                        <input id="{{$index+j.sims_library_category_code}}" type="checkbox" value="1" ng-click="checkonebyonedelete()">
                                                        <label for="{{$index+j.sims_library_category_code}}"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <label id="lbl">{{j.sims_library_category_code}}</label>
                                            </td>
                                            <td>
                                                <label id="lbl">{{j.sims_library_category_name}}</label>
                                            </td>
                                            <td class="v-align-middle">

                                                <span class="label label-success" ng-if="j.sims_library_category_item_issue==true">{{"Active" | translate}}</span>
                                                <span class="label label-important" ng-if="j.sims_library_category_item_issue==false">{{"In active" | translate}}</span>
                                            </td>

                                            <td>
                                                <a href=""><i class="fa fa-edit" ng-click="edit(j)"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row" ng-show="pager">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                            ng-click="index(currentPage)">
                                    </paging>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <form name="Myform" novalidate="novalidate">
                    <div ng-show="display">

                        <!--1ST ROW-->
                        <div class="row">
                            <!-- Library Category Code-->
                            <div class="col-md-2" ng-show="codecatagory">
                                <label class="semi-bold" id="code" for="DivCode">{{"Code"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" name="Lib_Code" id="libCode" class="k-textbox input-sm full-width" ng-disabled="false" ng-model="temp.sims_library_category_code" />

                            </div>

                            <!--Library Category Name-->
                            <div class="col-md-4" ng-class="{'has-error': !Myform.lib_name.$valid && (Myform.lib_name.$touched || Myform.$submitted) }">
                                <label class="semi-bold" for="lib_name">{{"Library Category Name"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" name="lib_name" id="libname" class="k-textbox input-sm full-width" ng-model="temp.sims_library_category_name" ng-maxlength="50" ng-readonly="gtdreadonly" required />

                                <p class="help-block" ng-show="Myform.lib_name.$error.maxlength  &&  (Myform.lib_name.$touched || Myform.$submitted)">
                                    Max Length 50 Character Allowed
                                </p>

                                <p class="help-block" ng-show="Myform.lib_name.$error.required  &&  (Myform.lib_name.$touched || Myform.$submitted)">
                                    This field is required
                                </p>

                            </div>
                            <div class="col-md-2">
                                <label id="Label13" for="txt_full_name" class="form-label">{{"Category Item Issue"| translate}}</label>
                                <div class="row-fluid">
                                    <div class="checkbox check-success">
                                        <input id="checkbox3" type="checkbox" value="1" ng-model="temp.sims_library_category_item_issue">
                                        <label for="checkbox3"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>&nbsp;</label>
                                <div class="pull-left">
                                    <button type="button" ng-click="savedata(Myform.$valid)" id="desigsub" ng-show="save_btn" class="btn btn-primary btn-small">{{"Save" | translate }}</button>
                                    <button type="button" ng-show="Update_btn" ng-click="update(Myform.$valid);" class="btn btn-primary btn-small">{{"Update" | translate }}</button>
                                    <button type="button" class="btn btn-danger btn-small" ng-click="Cancel();">{{"Cancel"| translate }}</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="assets/js/tableHeadFixer.js"></script>
<style>
    .selected_row {
        background-color: #fef8ae !important;
    }
</style>
