﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Library "| translate }}</span>{{"Catalogue Attribute"| translate }}</h3>
            </div>

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>


             <div class="grid-body no-border">
            <div ng-show="table">
                <div class="row">
                    <div class="col-md-6">
                        <select id="Select1" style="width: 60px" class="input-sm"  name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="10" class=" form-control input-sm">
                                10
                            </option>

                            <option value="20" class=" form-control input-sm">
                                20
                            </option>

                            <option value="All" class=" form-control input-sm">
                                All
                            </option>
                        </select>
                        &nbsp;
                        <button class="btn btn-primary btn-small" type="button" id="designew" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate }}</button>
                        &nbsp;
                        <button class="btn btn-danger btn-small" type="button" ng-click="OkDelete()"><span class="semi-bold"></span>{{"Delete"| translate }}</button>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                                <!--<label>
                                    {{"Search"| translate }}:&nbsp;
                                    <input type="text" aria-controls="example" ng-model="search.$" class="input-medium"></label>
                                    <input aria-controls="example" ng-model="searchText" class="input-medium" placeholder="Search" autofocus="autofocus" type="search" ng-change="search()">
                                </label>-->
                                <!-- <label>
                                    {{ "Search:" | translate }} &nbsp;-->
                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div class="row margin-top">
                        <div class="col-md-12">
                        <table class="table table-bordered table-hover table-condensed" id="fixTable">
                            <thead>
                                <tr style="background-color: #edefef">
                                    <th class="small-cell v-align-middle" style="z-index:1">
                                        <div class="checkbox check-success">
                                            <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                            <label for="mainchk" style="margin-left:5px;"></label>
                                        </div>
                                    </th>
                                    <th class="semi-bold" ng-click="orderByField='sort'; reverseSort = !reverseSort" style="width:25%">
                                        <label><b><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort">
                                            <i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort">
                                            <i class="fa fa-caret-down"></i></span>&nbsp;{{"Library Catalogue Code" | translate }}</b></label>
                                    </th>
                                    <th class="semi-bold">
                                        <label><b>{{"Library Attribute Code" | translate }}</b></label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="j in filteredTodos | orderBy:orderByField:reverseSort" ng-class="row1">
                                    <td>
                                        <div class="row-fluid">
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input id="{{$index+j.sims_library_catalogue_code}}" type="checkbox" value="1" ng-click="checkonebyonedelete()">
                                                <label for="{{$index+j.sims_library_catalogue_code}}"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <label id="lbl">{{j.sims_library_catalogue_code}}</label>
                                    </td>
                                    <td>
                                        <label id="lbl">{{j.sims_library_attribute_code}}</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                        </div>
                    <div class="row">
                        <div class="col-md-12">
                    <div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                ng-click="index(currentPage)">
                        </paging>
                    </div>
                            </div>
                        </div>
                </div>
            </div>

            <div ng-show="display">
                <form name="Myform" ng-submit="savedata(Myform.$valid)" novalidate="novalidate">
                    <!--1ST ROW-->
                    <div class="row">
                            <!-- Library Catalouge Code-->
                            <div class="col-md-4" ng-class="{'has-error': !Myform.lib_catalogue.$valid && (Myform.lib_catalogue.$touched || Myform.$submitted) }">
                                <label class="semi-bold" for="libcata">{{"Library Catalouge Name"| translate }}<span class="text-red">*</span></label>
                                <select id="lib_catalouge" data-role="dropdownlist" class="form-control input-sm full-width" name="lib_catalogue"
                                        ng-model="temp.sims_library_catalogue_code"
                                        ng-options="doc.sims_library_catalogue_code as doc.sims_library_catalogue_name for doc in catacode" ng-change="setvisible();" ng-disabled="glaccno" required></select>
                                <p class="help-block" ng-show="Myform.lib_catalogue.$error.required &&  (Myform.lib_catalogue.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>

                            <!--Library Attribute Name-->
                            <div class="col-md-4" ng-class="{'has-error': !Myform.lib_attribute.$valid && (Myform.lib_attribute.$touched || Myform.$submitted) }">
                                <label class="semi-bold" for="libcata">{{"Library Attribute Name"| translate }}<span class="text-red">*</span></label>
                                <select id="lib_catalouge" data-role="dropdownlist" class="form-control input-sm full-width" name="lib_attribute"
                                        ng-model="temp.sims_library_attribute_code"
                                        ng-options="doc.sims_library_attribute_code as doc.sims_library_attribute_name for doc in attributecode" ng-change="setvisible();" ng-disabled="glaccno" required></select>
                                <p class="help-block" ng-show="Myform.lib_attribute.$error.required &&  (Myform.lib_attribute.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>
                            <div class="col-md-4"><label>&nbsp;</label>
                             <div class="pull-left">
                            <button type="submit" id="desigsub" ng-show="save_btn" class="btn btn-primary btn-small">{{"Save" | translate }}</button>
                            <button type="button" ng-show="Update_btn" ng-click="update();" class="btn btn-primary btn-small">{{"Update" | translate }}</button>
                            <button type="button" class="btn btn-danger btn-small" ng-click="Cancel();">{{"Cancel"| translate }}</button>
                        </div>
                            </div>
                        </div>
                </form>
            </div>
        </div></div> 
    </div>
</div>
<script src="assets/js/tableHeadFixer.js"></script>