﻿<script src="assets/plugins/fileSaver.js"></script>
<script src="https://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.12/xlsx.core.min.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Student "| translate }}</span>{{"Report"| translate }}</h3>
            </div>
            <div class="grid-body no-border">

                <div ng-hide="busyindicator">

                    <div class="row">
                        <div class="col-md-2">
                            <label><i class="fa fa-book"></i>&nbsp;{{"Curriculum"|translate}} <span class="asterisk" style="color: red">*</span></label>
                            <select id="cmb_School_Code" data-role="dropdownlist" class="form-control input-sm full-width" name="user"
                                ng-model="edt.sims_cur_code"
                                ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in curriculum">
                                <option value="" selected disabled>Please Select</option>
                            </select>
                        </div>
                       <!-- <div class="col-md-2">

                            <label>{{"Academic Year"|translate}} <span class="asterisk" style="color: red">*</span></label>
                            <select id="cmb_academic_year" data-role="dropdownlist" class=" form-control full-width input-sm" name="user1"
                                ng-model="temp.sims_academic_year"
                                ng-options="year1.sims_academic_year as year1.sims_academic_year_desc for year1 in Acc_year" ng-change="GetGrade()">
                                <option value="" selected disabled>Please Select</option>
                            </select>

                        </div>-->

                        <div class="col-md-3">
                            <label><i class="fa fa-sitemap"></i>&nbsp;{{"Category"|translate}} <span class="asterisk" style="color: red">*</span></label>
                            <select id="Catcode" multiple="multiple" class="full-width" ng-model="edt.cat" ng-click="ChangeSubcategory()">
                                <option ng-repeat="cat in cat_data|filter:{sims_library_category_name:''}" value="{{cat.sims_library_category_code}} ">{{cat.sims_library_category_name}}</option>
                            </select>
                        </div>

                        <div class="col-md-3">
                            <label><i class="fa fa-sitemap"></i>&nbsp;{{"SubCategory"|translate}} <span class="asterisk" style="color: red">*</span></label>
                            <select id="SubCatCode" multiple="multiple" class="full-width" ng-model="edt.subcat">
                                <option ng-repeat="sc in subcat|filter:{sims_library_subcategory_name:''}" value="{{sc.sims_library_subcategory_code}} "> {{sc.sims_library_subcategory_name}}  </option>   
                            </select>
                        </div>

                         <div class="col-md-3">
                            <label><i class="fa fa-book"></i>&nbsp;{{"Catalogue"|translate}} <span class="asterisk" style="color: red">*</span></label>
                            <select id="catalogue" multiple="multiple" class="full-width" ng-model="edt.catalogue">
                                <option ng-repeat="cl in catalogue|filter:{sims_library_catalogue_name:''}" value="{{cl.sims_library_catalogue_code}} ">{{cl.sims_library_catalogue_name}}</option>
                            </select>
                        </div>

                         <div class="col-md-3">
                            <label><i class="fa fa-bookmark"></i>&nbsp;{{"Item Status"|translate}} <span class="asterisk" style="color: red">*</span></label>
                            <select id="issue_return_status" multiple="multiple" class="full-width" ng-model="edt.issue_return_status">
                                <option ng-repeat="l in libdata|filter:{sims_appl_form_field_value1:''}" value="{{l.sims_appl_parameter}} ">{{l.sims_appl_form_field_value1}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div ng-hide="busyindicator">
                    <div class="row">
                        <div class="col-md-2">
                            <label><i class="fa fa-check"></i>&nbsp;{{"Select All"| translate }}</label>
                            <div class="checkbox check-success">
                                <input id="chk_term" type="checkbox" tag="*" ng-click="checkallClick(select_all)" ng-model="select_all">
                                <label for="chk_term"></label>
                            </div>
                        </div>
             
                        <div class="col-md-6">
                            <div class="pull-right">
                                <label>&nbsp;</label>
                                <button type="button" class="btn btn-primary btn-small" ng-click="Show_Data(edt.cat,edt.subcat,edt.catalogue,edt.issue_return_status)" ng-disabled="showdisabled">{{"Show"| translate }}</button>
                                <button type="button" class="btn btn-primary btn-small" ng-click="Reset()">{{"Reset"| translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div ng-show="table">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right" ng-show="table">

                                <button type="button" id="btn_update" class="btn btn-danger btn-small" ng-click="back()">{{"Back"| translate }}</button>
                                <button type="button" id="Button1" class="btn btn-primary btn-small" ng-click="exportData()">{{"Export"| translate }}</button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="height: 30px">
                    <hr style="height: 03px; border: none; color: purple; background-color: purple;">
                </div>


                <div ng-show="ShowCheckBoxes">

                    <div ng-hide="busyindicator">
                        <div class="row" ng-hide="busyindicator">
                            <div class="col-md-12">
                                <div class="row form-row">
                                    <div class="col-md-4">
                                        <div class="row form-row">
                                            <!-- <div class="col-md-12">-->
                                            <label>
                                                <h4><font color="Orange">{{"Library Selection"| translate }}</font></h4>
                                            </label>
                                            <!-- </div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-12">

                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <div class="checkbox check-success">
                                                    <input id="chk_item_no" type="checkbox" class="k-checkbox" tag="*" ng-model="chk_item_no" ng-click="checkevent()">
                                                    <label for="chk_item_no">{{"Item Number"|translate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <div class="checkbox check-success">
                                                    <input id="chk_accession_number" type="checkbox" class="k-checkbox" tag="*" ng-model="chk_accession_number" ng-click="checkevent()">
                                                    <label for="chk_accession_number">{{"Accession Number"|translate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <div class="checkbox check-success">
                                                    <input id="chk_isbn_number" type="checkbox" class="k-checkbox" tag="*" ng-model="chk_isbn_number" ng-click="checkevent()">
                                                    <label for="chk_isbn_number">{{"ISBN Number"|translate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <div class="checkbox check-success">
                                                    <input id="chk_bnn_number" type="checkbox" class="k-checkbox" tag="*" ng-model="chk_bnn_number" ng-click="checkevent()">
                                                    <label for="chk_bnn_number">{{"BNN Number"|translate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-12">

                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <div class="checkbox check-success">
                                                    <input id="chk_dewey_no" type="checkbox" class="k-checkbox" tag="*" ng-model="chk_dewey_no" ng-click="checkevent()">
                                                    <label for="chk_dewey_no">{{"Dewey Number"|translate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <div class="checkbox check-success">
                                                    <input id="chk_item_title" type="checkbox" class="k-checkbox" tag="*" ng-model="chk_item_title" ng-click="checkevent()">
                                                    <label for="chk_item_title">{{"Library Item Title"|translate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <div class="checkbox check-success">
                                                    <input id="chk_item_desc" type="checkbox" tag="*" ng-model="chk_item_desc" ng-click="checkevent()">
                                                    <label for="chk_item_desc">{{"Library Item Description"|translate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                             <div class="row form-row">
                                 <div class="col-md-12">
                                     <div class="checkbox check-success">
                                         <input id="chk_stu_name_ol" type="checkbox" class="k-checkbox" tag="*" ng-model="chk_stu_name_ol" ng-click="checkevent()">
                                         <label for="chk_stu_name_ol">{{"Item Category"|translate}}</label>
                                     </div>
                                 </div>
                             </div>
                         </div>-->

                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <div class="checkbox check-success">
                                                    <input id="chk_item_category" type="checkbox" class="k-checkbox" tag="*" ng-model="chk_item_category" ng-click="checkevent()">
                                                    <label for="chk_item_category">{{"Item Category"|translate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-12">


                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <div class="checkbox check-success">
                                                    <input id="chk_item_subcategory" type="checkbox" class="k-checkbox" tag="*" ng-model="chk_item_subcategory" ng-click="checkevent()">
                                                    <label for="chk_item_subcategory">{{"Item SubCategory"|translate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <div class="checkbox check-success">
                                                    <input id="chk_catalogue" type="checkbox" class="k-checkbox" tag="*" ng-model="chk_catalogue" ng-click="checkevent()">
                                                    <label for="chk_catalogue">{{"Item Catalogue"|translate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                             <div class="row form-row">
                                 <div class="col-md-12">
                                     <div class="checkbox check-success">
                                         <input id="chk_stu_family_name_ol" type="checkbox" class="k-checkbox" tag="*" ng-model="chk_stu_family_name_ol" ng-click="checkevent()">
                                         <label for="chk_stu_family_name_ol">{{"Publication"|translate}}</label>
                                     </div>
                                 </div>
                             </div>
                         </div>-->
                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <div class="checkbox check-success">
                                                    <input id="chk_publication" type="checkbox" tag="*" ng-model="chk_publication" ng-click="checkevent()">
                                                    <label for="chk_publication">{{"Publication"|translate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <div class="checkbox check-success">
                                                    <input id="chk_publisher" type="checkbox" tag="*" ng-model="chk_publisher" ng-click="checkevent()">
                                                    <label for="chk_publisher">{{"Publisher"|translate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-12">



                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <div class="checkbox check-success">
                                                    <input id="chk_date_publication" type="checkbox" tag="*" ng-model="chk_date_publication" ng-click="checkevent()">
                                                    <label for="chk_date_publication">{{"Date Of Publication"|translate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <div class="checkbox check-success">
                                                    <input id="transaction_status" type="checkbox" tag="*" ng-model="transaction_status" ng-click="checkevent()">
                                                    <label for="transaction_status">{{"Item Status"|translate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12" style="height: 30px">
                        <hr style="height: 01px; border: none; color: #0066FF; background-color: #0066FF;">
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-12">

                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <div class="checkbox check-success">
                                                    <input id="chk_qr_code" type="checkbox" tag="*" ng-model="chk_qr_code" ng-click="checkevent()">
                                                    <label for="chk_qr_code">{{"QR Code"|translate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <div class="checkbox check-success">
                                                    <input id="chk_bar_code" type="checkbox" tag="*" ng-model="chk_bar_code" ng-click="checkevent()">
                                                    <label for="chk_bar_code">{{"Bar Code"|translate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <div class="checkbox check-success">
                                                    <input id="chk_purchase_price" type="checkbox" tag="*" ng-model="chk_purchase_price" ng-click="checkevent()">
                                                    <label for="chk_purchase_price">{{"Item Purchase Price"|translate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <div class="checkbox check-success">
                                                    <input id="chk_copies_available" type="checkbox" tag="*" ng-model="chk_copies_available" ng-click="checkevent()">
                                                    <label for="chk_copies_available">{{"Copies Available"|translate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-12">

                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <div class="checkbox check-success">
                                                    <input id="chk_bin_code" type="checkbox" tag="*" ng-model="chk_bin_code" ng-click="checkevent()">
                                                    <label for="chk_bin_code">{{"Bin Code"|translate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <div class="checkbox check-success">
                                                    <input id="chk_entry_date" type="checkbox" tag="*" ng-model="chk_entry_date" ng-click="checkevent()">
                                                    <label for="chk_entry_date">{{"Item Entry Date"|translate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <div class="checkbox check-success">
                                                    <input id="chk_location" type="checkbox" tag="*" ng-model="chk_location" ng-click="checkevent()">
                                                    <label for="chk_location">{{"Location"|translate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <div class="checkbox check-success">
                                                    <input id="chk_remark" type="checkbox" tag="*" ng-model="chk_remark" ng-click="checkevent()">
                                                    <label for="chk_remark">{{"Remark"|translate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--  <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                              <div class="row form-row">
                                  <div class="col-md-12">
                                      <div class="checkbox check-success">
                                          <input id="chk_stu_nationality" type="checkbox" tag="*" ng-model="chk_stu_nationality" ng-click="checkevent()">
                                          <label for="chk_stu_nationality">{{"Nationality"|translate}}</label>
                                      </div>
                                  </div>
                              </div>
                          </div>-->
                                    <!-- <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                             <div class="row form-row">
                                 <div class="col-md-12">
                                     <div class="checkbox check-success">
                                         <input id="chk_stu_remark" type="checkbox" class="k-checkbox" tag="*" ng-model="chk_stu_remark" ng-click="checkevent()">
                                         <label for="chk_stu_remark">{{"Student Remark"|translate}}</label>
                                     </div>
                                 </div>
                             </div>
                         </div>-->

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-12">

                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <div class="checkbox check-success">
                                                    <input id="chk_issue_to_user" type="checkbox" class="k-checkbox" tag="*" ng-model="chk_issue_to_user" ng-click="checkevent()">
                                                    <label for="chk_issue_to_user">{{"Issue To User"|translate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <div class="checkbox check-success">
                                                    <input id="chk_library_transaction_date" type="checkbox" class="k-checkbox" tag="*" ng-model="chk_library_transaction_date" ng-click="checkevent()">
                                                    <label for="chk_library_transaction_date">{{"Library Transaction Date"|translate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <div class="checkbox check-success">
                                                    <input id="chk_item_expected_return_date" type="checkbox" class="k-checkbox" tag="*" ng-model="chk_item_expected_return_date" ng-click="checkevent()">
                                                    <label for="chk_item_expected_return_date">{{"Item Expected Return Date"|translate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <div class="checkbox check-success">
                                                    <input id="chk_actual_return_date" type="checkbox" class="k-checkbox" tag="*" ng-model="chk_actual_return_date" ng-click="checkevent()">
                                                    <label for="chk_actual_return_date">{{"Actual Item Return Date"|translate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-12">
                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <div class="checkbox check-success">
                                                    <input id="chk_issue_return_status" type="checkbox" class="k-checkbox" tag="*" ng-model="chk_issue_return_status" ng-click="checkevent()">
                                                    <label for="chk_issue_return_status">{{"User Transaction Status"|translate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                             </div>
                          </div>
                         </div>
                   </div>

                        <div class="col-md-12" style="height: 30px">
                            <hr style="height: 01px; border: none; color: orange; background-color: orange;">
                        </div>
                    </div>

                                <div id="exportable" class="dataTables_wrapper form-inline" ng-show="table">
                                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-bordered table-hover table-condensed" id="example">

                                                    <thead>
                                                        <tr style="background-color: #edefef">

                                                            <th class="semi-bold1">
                                                                <label class="semi-bold1">{{"Sr No"|translate}}</label>
                                                            </th>
                                                            <th class="semi-bold1" type="checkbox" tag="*" ng-style="{'display':chk_item_no?'display':'none'}" ng-click="orderByField='sims_library_item_number'; reverseSort = !reverseSort">
                                                                <label class="semi-bold1" type="checkbox" tag="*">{{"Library Item Number"|translate}}</label>
                                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                                            </th>
                                                            <th class="semi-bold1" ng-style="{'display':chk_accession_number?'display':'none'}" ng-click="orderByField='sims_library_item_accession_number'; reverseSort = !reverseSort">
                                                                <label class="semi-bold1">{{"Accession Number"|translate}}</label>
                                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                                            </th>
                                                            <th class="semi-bold1" ng-style="{'display':chk_isbn_number?'display':'none'}" ng-click="orderByField='sims_library_isbn_number'; reverseSort = !reverseSort">
                                                                <label class="semi-bold1">{{"ISBN Number"|translate}}</label>
                                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                                            </th>
                                                            <th class="semi-bold1" ng-style="{'display':chk_bnn_number?'display':'none'}" ng-click="orderByField='sims_library_bnn_number'; reverseSort = !reverseSort">
                                                                <label class="semi-bold1">{{"BNN Number"|translate}}</label>
                                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                                            </th>
                                                            <th class="semi-bold1" ng-style="{'display':chk_dewey_no?'display':'none'}" ng-click="orderByField='sims_library_item_dewey_number'; reverseSort = !reverseSort">
                                                                <label class="semi-bold1">{{"Dewey Number"|translate}}</label>
                                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                                            </th>
                                                            <th class="semi-bold1" ng-style="{'display':chk_item_title?'display':'none'}" ng-click="orderByField='sims_library_item_title'; reverseSort = !reverseSort">
                                                                <label class="semi-bold1">{{"Item Title"|translate}}</label>
                                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                                            </th>
                                                            <th class="semi-bold1" ng-style="{'display':chk_item_desc?'display':'none'}" ng-click="orderByField='sims_library_item_desc'; reverseSort = !reverseSort">
                                                                <label class="semi-bold1">{{"Item Description"|translate}}</label>
                                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                                            </th>
                                                            <th class="semi-bold1" ng-style="{'display':chk_item_category?'display':'none'}" ng-click="orderByField='sims_library_item_category_name'; reverseSort = !reverseSort">
                                                                <label class="semi-bold1">{{"Item Category"|translate}}</label>
                                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                                            </th>
                                                            <th class="semi-bold1" ng-style="{'display':chk_item_subcategory?'display':'none'}" ng-click="orderByField='sims_library_item_subcategory_name'; reverseSort = !reverseSort">
                                                                <label class="semi-bold1">{{"Item SubCategory"|translate}}</label>
                                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                                            </th>
                                                            <th class="semi-bold1" ng-style="{'display':chk_catalogue?'display':'none'}" ng-click="orderByField='sims_library_catelogue_name'; reverseSort = !reverseSort">
                                                                <label class="semi-bold1">{{"Item Catalogue"|translate}}</label>
                                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                                            </th>
                                                            <th class="semi-bold1" ng-style="{'display':chk_remark?'display':'none'}" ng-click="orderByField='sims_library_item_remark'; reverseSort = !reverseSort">
                                                                <label class="semi-bold1">{{"item Remark"|translate}}</label>
                                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                                            </th>
                                                            <th class="semi-bold1" ng-style="{'display':chk_publication?'display':'none'}" ng-click="orderByField='sims_library_item_name_of_publisher'; reverseSort = !reverseSort">
                                                                <label class="semi-bold1">{{"Item Publisher"|translate}}</label>
                                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                                            </th>
                                                            <th class="semi-bold1" ng-style="{'display':chk_date_publication?'display':'none'}" ng-click="orderByField='sims_library_item_date_of_publication'; reverseSort = !reverseSort">
                                                                <label class="semi-bold1">{{"Date Of Publication"|translate}}</label>
                                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                                            </th>
                                                            <th class="semi-bold1" ng-style="{'display':chk_qr_code?'display':'none'}" ng-click="orderByField='sims_library_item_qr_code'; reverseSort = !reverseSort">
                                                                <label class="semi-bold1">{{"QR Code"|translate}}</label>
                                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                                            </th>
                                                            <th class="semi-bold1" ng-style="{'display':chk_bar_code?'display':'none'}" ng-click="orderByField='sims_library_item_bar_code'; reverseSort = !reverseSort">
                                                                <label class="semi-bold1">{{"Bar Code"|translate}}</label>
                                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                                            </th>
                                                            <th class="semi-bold1" ng-style="{'display':chk_purchase_price?'display':'none'}" ng-click="orderByField='sims_library_item_purchase_price'; reverseSort = !reverseSort">
                                                                <label class="semi-bold1">{{"Purchase Price"|translate}}</label>
                                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                                            </th>
                                                            <th class="semi-bold1" ng-style="{'display':chk_copies_available?'display':'none'}" ng-click="orderByField='sims_library_item_number_of_copies'; reverseSort = !reverseSort">
                                                                <label class="semi-bold1">{{"Number Of Copies"|translate}}</label>
                                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                                            </th>
                                                            <th class="semi-bold1" ng-style="{'display':chk_stu_commence_date?'display':'none'}" ng-click="orderByField='sims_library_item_quantity'; reverseSort = !reverseSort">
                                                                <label class="semi-bold1">{{"Qty"|translate}}</label>
                                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                                            </th>
                                                            <th class="semi-bold1" ng-style="{'display':chk_location?'display':'none'}" ng-click="orderByField='sims_library_item_location_name'; reverseSort = !reverseSort">
                                                                <label class="semi-bold1">{{"Location"|translate}}</label>
                                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                                            </th>
                                                            <th class="semi-bold1" ng-style="{'display':chk_bin_code?'display':'none'}" ng-click="orderByField='sims_library_bin_name'; reverseSort = !reverseSort">
                                                                <label class="semi-bold1">{{"Item Bin"|translate}}</label>
                                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                                            </th>
                                                            <th class="semi-bold1" ng-style="{'display':chk_entry_date?'display':'none'}" ng-click="orderByField='sims_library_item_entry_date'; reverseSort = !reverseSort">
                                                                <label class="semi-bold1">{{"Entry Date"|translate}}</label>
                                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                                            </th>

                                                            <th class="semi-bold1" ng-style="{'display':chk_issue_to_user?'display':'none'}" ng-click="orderByField='member_name'; reverseSort = !reverseSort">
                                                                <label class="semi-bold1">{{"Issued To"|translate}}</label>
                                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                                            </th>
                                                            <th class="semi-bold1" ng-style="{'display':chk_library_transaction_date?'display':'none'}" ng-click="orderByField='sims_library_transaction_date'; reverseSort = !reverseSort">
                                                                <label class="semi-bold1">{{"Transaction Date"|translate}}</label>
                                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                                            </th>
                                                            <th class="semi-bold1" ng-style="{'display':chk_item_expected_return_date?'display':'none'}" ng-click="orderByField='sims_library_item_expected_return_date'; reverseSort = !reverseSort">
                                                                <label class="semi-bold1">{{"Expected Return Date"|translate}}</label>
                                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                                            </th>
                                                            <th class="semi-bold1" ng-style="{'display':chk_actual_return_date?'display':'none'}" ng-click="orderByField='sims_library_item_actual_return_date'; reverseSort = !reverseSort">
                                                                <label class="semi-bold1">{{"Actual Return Date"|translate}}</label>
                                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                                            </th>
                                                            <th class="semi-bold1" ng-style="{'display':transaction_status?'display':'none'}" ng-click="orderByField='transaction_status'; reverseSort = !reverseSort">
                                                                <label class="semi-bold1">{{"Item Status"|translate}}</label>
                                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                                            </th>
                                                            <th class="semi-bold1" ng-style="{'display':chk_issue_return_status?'display':'none'}" ng-click="orderByField='issue_return_status'; reverseSort = !reverseSort">
                                                                <label class="semi-bold1">{{"User Transaction Status"|translate}}</label>
                                                                <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                                            </th>
                                                        </tr>
                                                    </thead>

                                                    <tr ng-repeat="info in liblist |orderBy:orderByField:reverseSort">
                                                        <td class="semi-bold">{{$index+1}}</td>
                                                        <td class="semi-bold" ng-style="{'display':chk_item_no?'display':'none'}">{{info.sims_library_item_number}}</td>
                                                        <td class="semi-bold" ng-style="{'display':chk_accession_number?'display':'none'}">{{info.sims_library_item_accession_number}}</td>
                                                        <td class="semi-bold" ng-style="{'display':chk_isbn_number?'display':'none'}">{{info.sims_library_isbn_number}}</td>
                                                        <td class="semi-bold" ng-style="{'display':chk_bnn_number?'display':'none'}">{{info.sims_library_bnn_number}}</td>
                                                        <td class="semi-bold" ng-style="{'display':chk_dewey_no?'display':'none'}">{{info.sims_library_item_dewey_number}}</td>
                                                        <td class="semi-bold" ng-style="{'display':chk_item_title?'display':'none'}">{{info.sims_library_item_title}}</td>
                                                        <td class="semi-bold" ng-style="{'display':chk_item_desc?'display':'none'}">{{info.sims_library_item_desc}}</td>
                                                        <td class="semi-bold" ng-style="{'display':chk_item_category?'display':'none'}">{{info.sims_library_item_category_name}}</td>
                                                        <td class="semi-bold" ng-style="{'display':chk_item_subcategory?'display':'none'}">{{info.sims_library_item_subcategory_name}}</td>
                                                        <td class="semi-bold" ng-style="{'display':chk_catalogue?'display':'none'}">{{info.sims_library_catelogue_name}}</td>
                                                        <td class="semi-bold" ng-style="{'display':chk_remark?'display':'none'}">{{info.sims_library_item_remark}}</td>
                                                        <td class="semi-bold" ng-style="{'display':chk_publication?'display':'none'}">{{info.sims_library_item_name_of_publisher}}</td>
                                                        <td class="semi-bold" ng-style="{'display':chk_date_publication?'display':'none'}">{{info.sims_library_item_date_of_publication}}</td>
                                                        <td class="semi-bold" ng-style="{'display':chk_qr_code?'display':'none'}">{{info.sims_library_item_qr_code}}</td>
                                                        <td class="semi-bold" ng-style="{'display':chk_bar_code?'display':'none'}">{{info.sims_library_item_bar_code}}</td>
                                                        <td class="semi-bold" ng-style="{'display':chk_purchase_price?'display':'none'}">{{info.sims_library_item_purchase_price}}</td>
                                                        <td class="semi-bold" ng-style="{'display':chk_copies_available?'display':'none'}">{{info.sims_library_item_number_of_copies}}</td>
                                                        <td class="semi-bold" ng-style="{'display':chk_stu_student_date?'display':'none'}">{{info.sims_library_item_quantity}}</td>
                                                        <td class="semi-bold" ng-style="{'display':chk_location?'display':'none'}">{{info.sims_library_item_location_name}}</td>
                                                        <td class="semi-bold" ng-style="{'display':chk_bin_code?'display':'none'}">{{info.sims_library_bin_name}}</td>
                                                        <td class="semi-bold" ng-style="{'display':chk_entry_date?'display':'none'}">{{info.sims_library_item_entry_date}}</td>
                                                        <td class="semi-bold" ng-style="{'display':chk_issue_to_user?'display':'none'}">{{info.member_name}}</td>
                                                        <td class="semi-bold" ng-style="{'display':chk_library_transaction_date?'display':'none'}">{{info.sims_library_transaction_date}}</td>
                                                        <td class="semi-bold" ng-style="{'display':chk_item_expected_return_date?'display':'none'}">{{info.sims_library_item_expected_return_date}}</td>
                                                        <td class="semi-bold" ng-style="{'display':chk_actual_return_date?'display':'none'}">{{info.sims_library_item_actual_return_date}}</td>
                                                        <td class="semi-bold" ng-style="{'display':transaction_status?'display':'none'}">{{info.transaction_status}}</td>
                                                        <td class="semi-bold" ng-style="{'display':chk_issue_return_status?'display':'none'}">{{info.issue_return_status}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

<style>
    .semi-bold1 {
        width: 163px;
        font-weight: 600;
    }
</style>
