﻿
<link href="assets/plugins/Minovate/Main.css" rel="stylesheet" />
<style>
    .listfloat {
        float: left;
        list-style-type:none;
    }
    .panel-default > .panel-heading{
            background-color: #fff !important;

    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
               <h3><span class="semi-bold">{{"Library"| translate }}</span>&nbsp;{{"Transactions"| translate }}</h3>
            </div>
<div class="grid-body no-border paddingcode">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
        <ul class="controls">
                <li class="listfloat" style="width:270px;">
                    <div class="input-group">
                        <input type="text" id="searchuser" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-model="search_user" ng-keypress="searchuser($event)">
                        <span class="input-group-btn"  >
                            <button class="btn btn-small input-sm" style="background-color:orange;" ng-click="searchuser_btn()" type="button">{{"Search User"| translate }}</button>
                        <!--<button class="btn btn-small" ng-click="searchBook()" style="background-color: orange" type="button" ng-disabled="isEnabled">{{"Book Search"| translate }}</button>-->
                        </span>
                    </div>
                </li>
               <!-- <li >
                    <div style="width:250px;padding-top:5px;">
                   <input type="search"  class="input-sm"  class="form-control" id="search9" ng-model="edt.sims_enroll_number" placeholder="Search" />
                    &nbsp;&nbsp;<button class="btn btn-success"  ng-click="btnPreview_click()">Search</button></div>
                        
                </li>-->
                <li class="listfloat" style="padding-top: 1%;">
                    <a role="button" ng-click="return_items()" tabindex="0" id="a2"><i class="fa fa-history"></i> {{"Return Multiple Items"| translate }}</a>
                </li>
                <li class="listfloat" style="padding-top: 1%;">
                    <a role="button"  ng-click="win_member_history()" tabindex="0" id="add-entry" ><i class="fa fa-history"></i> {{"Member History"| translate }}</a>
                </li>
                
                             <!--<button class="btn btn-success btn-ef btn-ef-4 btn-ef-4c" ng-click="btnGenerate_invoice()">Generate Invoice</button>-->

                <li class="listfloat" style="padding-top: 1%;">
                    <a role="button" tabindex="0" ng-click="reset()">
                    <span class="fa fa-refresh" ></span>
                    </a>
                </li>
               
            </ul>
                </div>
            </div>
    </div>
    <div class="tile-body table-custom margin-top" style="display: block;">
               
               <div class="table-responsive">
                   <div id="project-progress_wrapper">
                       <div class="row">
                               <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="margin-bottom:0px">
                                   <div class="panel panel-default" style="margin-bottom:0px">
                                       <div class="panel-heading" role="tab" id="headingOne">
                                           <h4 class="panel-title">
                                               <a style="font-size:19px;"><b>{{"User Details"| translate }}</b>
                                               </a>
                                           </h4>
                                       </div>
                                       <div id="collapseOne" role="tabpanel" aria-labelledby="headingOne" style="height: 0px;">
                                           <div class="panel-body"style="margin-top:-18px;">
                                               <div class="row">
                                                   <div class="col-md-10">
                                                       <div class="row">
                                                   <div class="col-md-4">
                                                       <label for="username"><i class="fa fa-user"></i>&nbsp;{{"User Number- Name"| translate }} </label>
                                                       <input type="search" ng-disabled="true" class="k-textbox input-sm full-width" id="search2" ng-model="user_name" placeholder="Name">
                                                   </div>
                                                   <div class="col-md-4">
                                                       <label for="username"><i class="fa fa-bookmark-o"></i>&nbsp;{{"Membership Type"| translate }} </label>
                                                       <input type="search" ng-disabled="true" class="k-textbox input-sm full-width" id="search4" ng-model="user_details.sims_library_privilege_name" placeholder="Membership Type">
                                                   </div>
                                                   <div class="col-md-2">
                                                       <label for="username"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Borrow Limit"| translate }} </label>
                                                       <input type="search" ng-disabled="true" class="k-textbox input-sm full-width" id="search5" ng-model="user_details.sims_library_borrow_limit" placeholder="Borrow Limit">
                                                   </div>
                                                   <div class="col-md-2">
                                                       <label for="username"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Allow Limit"| translate }} </label>
                                                       <input type="search" ng-disabled="true" class="k-textbox input-sm full-width" id="search6" ng-model="user_details.sims_library_allowed_limit" placeholder="Allow Limit">
                                                   </div>
                                                           </div>
                                                       <div class="row">
                                                           <div class="col-md-4">
                                                       <label for="username"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Enroll Number"| translate }} </label>
                                                       <input type="search" ng-disabled="true" class="k-textbox input-sm full-width" id="search7" ng-model="user_details.sims_enroll_number" placeholder="Enroll Number">
                                                   </div>
                                                   <div class="col-md-2">
                                                       <label for="username"><i class="fa fa-align-justify"></i>&nbsp;{{"Class"| translate }} </label>
                                                       <input type="search" ng-disabled="true" class="k-textbox input-sm full-width" ng-model="user_details.sims_library_class" id="search8" placeholder="Class">
                                                   </div>
                                                   <div class="col-md-2">
                                                       <label for="username"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Borrowed"| translate }}</label>
                                                       <input type="search" ng-disabled="true" class="k-textbox input-sm full-width" id="search1" ng-model="borrowed_items" placeholder="Borrowed">
                                                   </div>
                                                   <div class="col-md-2">
                                                       <label for="username"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Items Allowed"| translate }}</label>
                                                       <input type="search" ng-disabled="true" class="k-textbox input-sm full-width" id="search3" ng-model="allowed_items" placeholder="Items Allowed">
                                                   </div>
                                                   <div class="col-md-2">
                                                       <label for="username"><i class="fa fa-calendar"></i>&nbsp;{{"Grace Days"| translate }}</label>
                                                       <input type="search" ng-disabled="true" class="k-textbox input-sm full-width" id="search9" ng-model="user_details.sims_library_grace_days" placeholder="Grace Days">
                                                   </div>
                                                           </div>
                                                   </div>
                                                   <div class="col-md-2" style="padding:1%;">
                                                       <div class="pull-right">
                                                       <img alt="" src="{{prev_img}}" style="width: 80px; height: 100px">
                                                           </div>
                                                   </div>
                                               </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                           </div>
                               <div class="row">
                                   <div class="col-sm-12">
                                       <section class="">
                                           <div class="tile-header dvd dvd-btm">
                                               <h4 class="custom-font"><strong>{{"Library Details"| translate }}</strong> {{"with History (ISSUE / RETURN / RE-ISSUE)" | translate }} </h4>
                                           </div>
                                       </section>
                                       <div class="row">
                                           <!--   <div class="form-group col-md-5" style="padding-top: 0px">
                                               <span class="help-block mb-0"><strong>Enter Item# | Accession# | ISBN# | BNN# |  Dewey#</strong></span>
                                               <input type="search" class="form-control" id="search10" ng-model="edt.search_book" placeholder="Enter Item#/Accession#/ISBN#/BNN#/Dewey#">
                                           </div>-->
                                           <div class="col-md-5">
                                               <span class="help-block mb-0" style="margin-top: 7px;"><strong>{{"To search enter Item#/Accession#/ISBN#/BNN#/Dewey#/BarCode#"| translate }}</strong></span>

                                               <div class="input-group">
                                                   <input type="text" class="k-textbox input-sm full-width" tabindex="2" ng-keypress="searchBook_key($event)" ng-model="book_search" ng-disabled="isEnabled">
                                                   <span class="input-group-btn" style="padding-left: 1%;">
                                                       <button class="btn btn-small" ng-click="searchBook()" style="background-color: orange" type="button" ng-disabled="isEnabled">{{"Book Search"| translate }}</button>
                                                   </span>
                                               </div>
                                               <div class="alert alert-warning alert-dismissable" style="margin-top:3px;" ng-show="hide_error_message">
                                                   <strong>{{"Info"| translate }}:</strong> {{error_message}}
                                               </div>
                                               <!--<span class="help-block mb-0" style="color:#fc3434" ng-show="hide_error_message"><strong>Info :{{error_message}}</strong></span>-->
                                           </div>

                                           <div class="col-md-4" ng-show="true">
                                               <label><strong>{{"Remark"| translate }}</strong></label>
                                               <input type="search" class="k-textbox input-sm full-width" tabindex="3" id="search11" ng-disabled="isEnabled" ng-model="remark" placeholder="Enter remark">
                                           </div>
                                            <div class="col-md-2">
                                           <label>{{"Date"| translate }}</label>
                                            <!--<div class="input-append success date datepicker-sm full-with" data-datepicker="true">-->
                                                <input type="text" id="cmb_Start_date" placeholder="Select Date"  name="date" class="k-textbox input-sm full-width" ng-model="sims_date_for" ng-change="date_change(sims_date_for)" required>
                                                <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                            </div>
                                      
                                               <div class="col-md-1">
                                               <label for="username">&nbsp;</label>
                                               <button class="btn btn-success btn-small" tabindex="4" ng-click="issueBooks()" ng-disabled="isEnabled">{{"Submit"| translate }}</button>
                                           </div>   
                                       </div>
                                       
                                        

                                               <div class="modal fade" id="MyModal" role="dialog" tabindex="-1" style="width:auto;">
                                                   <div class="modal-dialog" style="width: auto; background-color: white;">
                                                       <div class="modal-content" uib-modal-transclude="">
                                                        <div class="modal-header ng-scope" style="height: 40px">
                                                            <div class="pull-left">
                                                                <!--<h4 class="modal-title custom-font" style="margin-top: -5px"><strong>{{"Book"| translate }} </strong>{{"Search"| translate}}</h4>-->
                                                                <h3 class="custom-font"><strong>{{"Book"| translate }} </strong>{{"History"| translate }}</h3>
                                                                <h4 class="custom-font"><strong>- {{title}} /{{"Accession No"| translate }}-{{accession_no}}</strong></h4>
                                                            </div>
                                                            <div class="pull-right">
                                                                <ul class="controls">
                              
                                                                            <li class="remove listfloat">
                                                                                <a role="button" data-dismiss="modal" tabindex="0" class="tile-close"><i class="fa fa-times"></i></a>

                                                                            </li>
                                                                        </ul>
                                                               <!-- <button style="margin-top: -20px" class="btn-sm" data-dismiss="modal" ng-click="modal_cancel()" type="submit">X</button>-->
                                                            </div>
                                                        </div>

                                                         <!--  <div class="modal-header">-->
                                                               <div class="row" style="text-align: left; margin: 0px;">
                                                                   <table class="table table-bordered table-striped dataTable" id="Table1" role="grid" aria-describedby="project-progress_info">
                                                                       <thead>
                                                                           <tr style="z-index: 1">
                                                                               <th class="semi-bold small-cell" style="height: 20px; z-index: 1; width: 05%; vertical-align: middle"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Sr No"| translate }}</th>
                                                                               <th tabindex="0" aria-controls="project-progress" aria-sort="ascending" aria-label="ID: activate to sort column descending" style="width: 20px;"><i class="fa fa-user"></i>&nbsp;{{"User Number"| translate }}</th>
                                                                               <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending" style="width: 25px;"><i class="fa fa-user"></i>&nbsp;{{"User Name"| translate }}</th>
                                                                               <th style="width: 105px;" tabindex="0" aria-controls="project-progress"><i class="fa fa-calendar"></i>&nbsp;{{"Transaction Date"| translate }}</th>
                                                                               <th style="width: 110px;" class="text-left no-sort sorting_disabled" aria-label="Chart"><i class="fa fa-calendar"></i>&nbsp;{{"Issue Date"| translate }}</th>
                                                                               <th style="width: 30px;" class="text-left no-sort sorting_disabled" aria-label="Chart"><i class="fa fa-calendar"></i>&nbsp;{{"Return Date"| translate }}</th>
                                                                               <th style="width: 30px;" class="text-left"><i class="fa fa-bookmark-o"></i>&nbsp;{{"Transaction Type" | translate }}</th>
                                                                           </tr>
                                                                       </thead>
                                                                       <tbody>
                                                                           <tr ng-repeat="info in history">
                                                                               <td>{{$index+1}}</td>
                                                                               <td style="text-align:right;">
                                                                                   <div class="text-default">{{info.sims_library_user_number}}</div>
                                                                               </td>
                                                                               <td style="text-align:right;">
                                                                                   <div class="text-default">{{info.sims_library_user_name}}</div>
                                                                               </td>
                                                                               <td>
                                                                                   <div class="text-default">{{info.sims_library_transaction_date}}</div>
                                                                               </td>
                                                                               <td>
                                                                                   <div class="text-default">{{info.sims_library_item_issue_date}}</div>
                                                                               </td>
                                                                               <td>
                                                                                   <div class="text-default">{{info.sims_library_item_actual_return_date}}</div>
                                                                               </td>
                                                                               <td>
                                                                                   <span ng-class="{true: 'label label-important', false: 'label label-success'}[1=='1']"
                                                                                       style="vertical-align: middle;"><b>{{info.sims_library_item_status}}</b></span>
                                                                               </td>

                                                                           </tr>
                                                                       </tbody>
                                                                   </table>

                                                               </div>
                                                           <!--</div>-->
                                                       </div>
                                                   </div>

                                                </div>
                                           
                                   <!--Member history-->
                                           
                                               <div class="modal fade" id="MemberModel" role="dialog" tabindex="-1" style="width:auto;">
                                                   <div class="modal-dialog" style="width: auto; background-color: white;">
                                                        <div class="modal-content" uib-modal-transclude="">
                                                        <div class="modal-header ng-scope" style="height: 40px;">
                                                            <div class="pull-left">
                                                                <!--<h4 class="modal-title custom-font" style="margin-top: -5px"><strong>{{"Book"| translate }} </strong>{{"Search"| translate}}</h4>-->
                                                               <h3 class="custom-font"><strong>{{"Member"| translate }} </strong>{{"History"| translate}}</h3>
                                                               <h4 class="custom-font">&nbsp;&nbsp;<strong>{{"Name"| translate }} :{{user_name}}</strong></h4>
                                                            </div>
                                                            <div class="pull-right">
                                                                <ul class="controls">
                              
                                                                            <li class="remove listfloat">
                                                                                <a role="button" data-dismiss="modal" tabindex="0" class="tile-close"><i class="fa fa-times"></i></a>

                                                                            </li>
                                                                        </ul>
                                                               <!-- <button style="margin-top: -20px" class="btn-sm" data-dismiss="modal" ng-click="modal_cancel()" type="submit">X</button>-->
                                                            </div>
                                                        </div>

                                                         <!--  <div class="modal-header" style="width: auto;">-->
                                                               <div class="row" style="text-align: left; margin: 0px;">
                                                                   <table class="table table-bordered table-striped dataTable" id="Table2" role="grid" aria-describedby="project-progress_info">
                                                                       <thead>
                                                                           <tr style="z-index: 1">
                                                                               <th class="semi-bold small-cell" style="height: 20px; z-index: 1; width: 05%; vertical-align: middle"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Sr No"| translate }}</th>
                                                                               <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending" style="width: 25px;"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Accession No"| translate }}</th>
                                                                               <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending" style="width: 25px;"><i class="fa fa-align-justify"></i>&nbsp;{{"Item Name"| translate }}</th>
                                                                               <th style="width: 105px;" tabindex="0" aria-controls="project-progress"><i class="fa fa-calendar"></i>&nbsp;{{"Transaction Date"| translate }}</th>
                                                                               <th style="width: 110px;" class="text-left no-sort sorting_disabled" aria-label="Chart"><i class="fa fa-calendar"></i>&nbsp;{{"Date"| translate }}</th>
                                                                               <th style="width: 30px;" class="text-left"><i class="fa fa-bookmark-o"></i>&nbsp;{{"Transaction Type"| translate }}</th>
                                                                           </tr>
                                                                       </thead>
                                                                       <tbody>
                                                                           <tr ng-repeat="info in member_history">
                                                                               <td>{{$index+1}}</td>
                                                                               <td style="text-align:right;">
                                                                                   <div class="text-default">{{info.sims_library_item_number}}</div>
                                                                               </td>
                                                                               <td>
                                                                                   <div class="text-default">{{info.sims_library_item_title}}</div>
                                                                               </td>
                                                                               <td>
                                                                                   <div class="text-default">{{info.sims_library_transaction_date}}</div>
                                                                               </td>
                                                                               <td>
                                                                                   <div class="text-default">{{info.sims_library_item_issue_date}}</div>
                                                                               </td>
                                                                               <td>
                                                                                   <span ng-class="{true: 'label label-important', false: 'label label-success'}[1=='1']"
                                                                                       style="vertical-align: middle;"><b>{{info.sims_library_item_status}}</b></span>
                                                                               </td>
                                                                           </tr>
                                                                       </tbody>
                                                                   </table>

                                                               </div>
                                                          <!-- </div>-->
                                                       </div>
                                                   </div>


                                               </div>
                                           
                                   <!--Member history-->
                                       </div>
                                </div>
                           </div>
                       
                   </div>

               </div>
        </div>
            <div class="row "style="margin-top:7px;">
                <div class="col-md-12"style="background-color:white;">
                    <!--<div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 336.004px; background: rgb(0, 0, 0);">
                             </div>-->

                    <table class="table table-hover table-bordered table-condensed" id="fixTable" role="grid" aria-describedby="project-progress_info">
                        <thead>
                            <tr>
                                <th tabindex="11" style="width: 3%;">&nbsp;</th>
                                <th tabindex="21" aria-controls="project-progress" style="width: 7%;"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Return"| translate }}</th>
                                <th tabindex="31" aria-controls="project-progress" style="width: 7%;"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"ReIssue"| translate }}</th>
                                <th tabindex="41" aria-controls="project-progress" style="width: 11%;"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Transaction No"| translate }}</th>
                                <th tabindex="51" aria-controls="project-progress" style="width: 10%;"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Accession No"| translate }}</th>
                                <th tabindex="61" aria-controls="project-progress" style="width: 8%;"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"ISBN No"| translate }}</th>
                                <th tabindex="71" style="width: 25%;" aria-controls="project-progress"><i class="fa fa-align-justify"></i>&nbsp;{{"Item Name"| translate }}</th>
                                <th tabindex="81" aria-controls="project-progress" style="width: 40px;"><i class="fa fa-calendar"></i>&nbsp;{{"Date"| translate }}</th>
                                <th tabindex="91" aria-controls="project-progress" style="width: 30px;"><i class="fa fa-calendar"></i>&nbsp;{{"Expected Date"| translate }}</th>
                                <th tabindex="10" aria-controls="project-progress" style="width: 10px;"><i class="fa fa-align-justify"></i>&nbsp;{{"History"| translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="info in transactions" style="vertical-align: middle">
                                <!--<td>
                            <div class="text-default">
                                {{$index+((currentPage-1)*numPerPage)+1|zpad:2}}

                            </div>
                        </td>-->
                                <td style="width:3%;">

                                    <span class="label" ng-show="info.isNew"
                                          style="vertical-align: middle;background-color:orange; cursor: pointer" ng-click="removeNewBooks(info)">
                                        <a role="button" tabindex="0" id="a1"><i class="fa fa-close"></i>&nbsp;</a>
                                    </span>


                                </td>
                                <td>
                                    <button class="btn btn-small" style="background-color:orange" type="button" ng-click="returnBook(info)" ng-disabled="!info.isReturn">{{"Return"| translate }}</button>
                                </td>
                                <td>
                                    <button class="btn btn-small" style="background-color:orange" type="button" ng-click="reissueBook(info)" ng-disabled="!info.isReIssue">{{"ReIssue"| translate }}</button>

                                </td>
                                <td style="width: 11%;">
                                    <div class="text-default">{{info.sims_library_transaction_number}}</div>
                                </td>
                                <td style="width:10%;">
                                    <div class="text-default">{{info.sims_library_item_accession_number}}</div>
                                </td>
                                <td style="width:9%;">
                                    <div class="text-default">{{info.sims_library_isbn_number}}</div>
                                </td>
                                <td style="width:25%;">
                                    <div class="text-default">{{info.sims_library_item_title}}</div>
                                </td>
                                <td style="width:15%">
                                    <div class="text-default">{{info.sims_library_transaction_date}}</div>
                                </td>
                                <td>
                                    <div class="text-default">{{info.sims_library_item_expected_return_date}}</div>
                                </td>


                                <!--<td>
                            <span ng-class="{true: 'label label-important', false: 'label label-success'}[1=='1']"
                                style="vertical-align: middle;"><b>{{info.sims_student_class}}</b></span>

                        </td>
                                -->
                                <td>
                                    <span class="label label-success"
                                          style="vertical-align: middle; cursor: pointer" ng-click="book_history(info.sims_library_item_number,info)"><b>{{"History"| translate }}</b></span>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>

           <!--Member history-->
        
                 <div class="modal fade" id="booksearch" role="dialog" tabindex="-1"  draggable="true">
                <div class="modal-dialog" style="width: 85%; background-color: white;">
                    <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px"><strong>{{"Book"| translate }} </strong>{{"Search"| translate}}</h4>
                </div>
                <div class="pull-right">
                    <ul class="controls">
                                <li class="remove listfloat">
                                    <a role="button" tabindex="0" class="tile-close" ng-if="book_showFilter==false" ng-click="book_filter()"><i class="fa fa-plus"></i> {{"Show Filter"| translate}}</a>
                                    <a role="button" tabindex="0" class="tile-close" ng-if="book_showFilter==true" ng-click="book_filter()"><i class="fa fa-minus"></i> {{"Hide Filter"| translate}}</a>

                                </li>
                                <li class="remove listfloat">
                                    <a role="button" data-dismiss="modal" tabindex="0" class="tile-close"><i class="fa fa-times"></i></a>

                                </li>
                            </ul>
                   <!-- <button style="margin-top: -20px" class="btn-sm" data-dismiss="modal" ng-click="modal_cancel()" type="submit">X</button>-->
                </div>
            </div>
                        <div class="grid-body no-border">
                            <div class="col-md-12">
                        <div class="row" ng-show="book_showFilter">
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <label for="username"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Accession No."| translate}} </label>
                                    <input type="search" class="k-textbox input-sm full-width" id="search10" ng-model="edtbs.sims_library_item_accession_number" ng-keypress="seachOrderKeyPress($event)" placeholder="Accession No From.">
                                </div>
                                <div class="col-md-2" style="text-align: left">
                                    <label for="username"><i class="fa fa-align-justify"></i>&nbsp;{{"To."| translate}} </label>
                                    <input type="search" class="k-textbox input-sm full-width" id="search12" ng-model="edtbs.sims_library_item_accession_number_to" ng-keypress="seachOrderKeyPress($event)" placeholder="Accession No To.">
                                </div>
                                <div class="col-md-1" style="text-align: left">
                                    <label for="username"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"ISBN No."| translate}} </label>
                                    <input type="search" class="k-textbox input-sm full-width" id="search13" ng-model="edtbs.sims_library_isbn_number" ng-keypress="seachOrderKeyPress($event)" placeholder="ISBN No.">
                                </div>
                                <div class="col-md-1" style="text-align: left">
                                    <label for="username"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Dewey No."| translate}} </label>
                                    <input type="search" class="k-textbox input-sm full-width" id="search14" ng-model="edtbs.sims_library_item_dewey_number" ng-keypress="seachOrderKeyPress($event)" placeholder="Dewey No.">
                                </div>
                            
                                <div class="col-md-3" style="text-align: left">
                                    <label for="username"><i class="fa fa-book"></i>&nbsp;{{"Book Name"| translate}} </label>
                                    <input type="search" class="k-textbox input-sm full-width" id="search" ng-model="edtbs.sims_library_item_name" ng-keypress="seachOrderKeyPress($event)" placeholder="Book Name">
                                    <p class="help-block mb-0"></p>
                                </div>
                               
                                 <div class="col-md-3" style="text-align: left">
                                    <label for="username"><i class="fa fa-book"></i>&nbsp;{{"Book Title"| translate}} </label>
                                    <input type="search" class="k-textbox input-sm full-width" id="search15" ng-model="edtbs.sims_library_item_title" ng-keypress="seachOrderKeyPress($event)" placeholder="Book Title">
                                    <p class="help-block mb-0"></p>
                                </div>
                                
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-2" style="text-align: left">
                                    <label for="username"><i class="fa fa-sitemap"></i>&nbsp;{{"Category"| translate}} </label>
                                    <select id="cmb_cat" name="cmb_cat" data-role="dropdownlist" class="form-control input-sm full-width" ng-change="onCat_chagne()" ng-model="edtbs.sims_library_item_category">
                                        <option value="">Please Select</option>
                                        <option ng-repeat="i in search_book_cat" value="{{i.sims_library_item_category}}">{{i.sims_library_item_category_name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-2" style="text-align: left">
                                    <label for="username"><i class="fa fa-sitemap"></i>&nbsp;{{"Sub Category"| translate}} </label>
                                     <select id="cmb_sub_cat" name="cmb_sub_cat" data-role="dropdownlist" class="form-control input-sm full-width"  ng-model="edtbs.sims_library_item_subcategory">
                                        <option value="">Please Select</option>
                                        <option ng-repeat="i in search_book_subcat" value="{{i.sims_library_item_category}}">{{i.sims_library_item_category_name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-2" style="text-align: left">
                                    <label for="username"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Material"| translate}} </label>
                                     <select id="cmb_material" name="cmb_material" data-role="dropdownlist" class="form-control input-sm full-width" required ng-model="edtbs.sims_library_item_catalogue_code">
                                        <option value="">Please Select</option>
                                        <option ng-repeat="i in supplier_data|filter:{invs051_sup_name: ''}" value="{{i.invs051_sup_code}}">{{i.invs051_sup_name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-2" style="text-align: left">
                                    <label for="username"><i class="fa fa-book"></i>&nbsp;{{"Curriculum"| translate}} </label>
                                    <select id="Curriculum" name="cmb_Curriculum" data-role="dropdownlist" class="form-control input-sm full-width" required ng-model="edtbs.sims_library_item_cur_code">
                                        <option value="">Please Select</option>
                                        <option ng-repeat="i in search_book_cur" value="{{i.sims_library_item_cur_code}}">{{i.sims_library_item_cur_name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-2" style="text-align: left">
                                    <label for="username"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Cur. Level"| translate}} </label>
                                     <select id="cmb_Curriculum_level" name="cmb_Curriculum_level" data-role="dropdownlist" class="form-control input-sm full-width" required ng-model="edtbs.sims_library_item_cur_level_code">
                                        <option value="">Please Select</option>
                                        <option ng-repeat="i in supplier_data|filter:{invs051_sup_name: ''}" value="{{i.invs051_sup_code}}">{{i.invs051_sup_name}}
                                        </option>
                                    </select>
                                </div>
                                 <div class="col-md-2" style="text-align: left">
                                    <label for="username"><i class="fa fa-sitemap"></i>&nbsp;{{"For Grade"| translate}} </label>
                                      <select id="Grade" name="cmb_Grade" data-role="dropdownlist" class="form-control input-sm full-width" required ng-model="edtbs.sims_library_item_grade_code">
                                        <option value="">Please Select</option>
                                        <option ng-repeat="i in supplier_data|filter:{invs051_sup_name: ''}" value="{{i.invs051_sup_code}}">{{i.invs051_sup_name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-1" style="text-align: left">
                                    <label for="username"><i class="fa fa-align-justify"></i>&nbsp;{{"Language"| translate}} </label>
                                     <select id="Language" name="cmb_Language" data-role="dropdownlist" class="form-control input-sm full-width" required ng-model="edtbs.sims_library_item_language_code">
                                        <option value="">Please Select</option>
                                        <option ng-repeat="i in search_book_lang" value="{{i.sims_library_item_language_code}}">{{i.sims_library_item_language_name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-1" style="text-align: left">
                                    <label for="username"><i class="fa fa-user"></i>&nbsp;{{"Author"| translate}} </label>
                                    <input type="search" class="k-textbox input-sm full-width" id="search23" ng-model="edtbs.sims_library_item_author1" placeholder="Author">
                                </div>
                                <div class="col-md-2" style="text-align: left">
                                    <label for="username"><i class="fa fa-users"></i>&nbsp;{{"Age Group From."| translate}} </label>
                                    <input type="search" class="k-textbox input-sm full-width" id="search24" ng-model="edtbs.sims_library_item_age_from" placeholder="Age Group From.">
                                </div>
                                 <div class="col-md-2" style="text-align: left">
                                    <label for="username"><i class="fa fa-user"></i>&nbsp;{{"Publisher Name."| translate}} </label>
                                    <input type="search" class="k-textbox input-sm full-width" id="search25" ng-model="edtbs.sims_library_item_name_of_publisher" placeholder="Publisher Name.">
                                </div>
                                 <div class="col-md-2" style="text-align: left">
                                    <label for="username"><i class="fa fa-book"></i>&nbsp;{{"Book Style."| translate}} </label>
                                    <select id="cmb_style" name="cmb_style" data-role="dropdownlist" class="form-control input-sm full-width" required ng-model="edtbs.sims_library_item_book_style">
                                        <option value="">Please Select</option>
                                        <option ng-repeat="i in search_book_style" value="{{i.sims_library_item_book_style}}">{{i.sims_library_item_book_style_name}}
                                        </option>
                                    </select>
                                </div>
                                  <div class="col-md-1" style="text-align: left">
                                    <label for="username"><i class="fa fa-barcode"></i>&nbsp;{{"Barcode."| translate}} </label>
                                    <input type="search" class="k-textbox input-sm full-width" id="search16" ng-model="edtbs.sims_library_item_barcode" placeholder="Barcode.">
                                </div>
                                 <div class="col-md-3">
                                     <div class="pull-right">
                                    <label for="username">&nbsp; </label>
                                    <button class="btn btn-success btn-small" ng-click="search_books()">{{"Submit"| translate}}</button>
                                     <button class="btn btn-orange btn-small" ng-click="reset_book_filter()">{{"Reset"| translate}}</button>
                                     <button class="btn btn-success btn-small" ng-click="addbooktoIssue()">{{"Add"| translate}}</button>
                                     </div>
                                 </div>
                            </div>
                        </div>
                        <div class="modal-header">
                            <div class="row">
                                <div class="col-md-12">
                                <table class="table table-bordered table-striped dataTable" style="overflow-x:scroll;" id="Table3" role="grid" aria-describedby="project-progress_info">
                                    <thead>
                                        <tr style="z-index: 1">
                                             <th class="semi-bold small-cell"  style="height:20px;z-index:1;width:05%;vertical-align:middle">
                                             <div class="checkbox check-success" style="height: 20px">
                                            <input type="checkbox" name="check" value="1" id="mainchk" ng-click="CheckMultiple();" class="checkall">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>
                                            <th class="semi-bold small-cell" style="height: 20px; z-index: 1; width:20px; vertical-align: middle">{{"#"| translate }}</th>
                                            <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Accession No"| translate }}</th>
                                            <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"ISBN No"| translate }}</th>
                                            <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending"><i class="fa fa-book"></i>&nbsp;{{"Book Name"| translate }}</th>
                                            <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending"><i class="fa fa-book"></i>&nbsp;{{"Book Title"| translate }}</th>
                                            <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"No of Copies"| translate }}</th>
                                            <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Available Copies"| translate }}</th>
                                            <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending"><i class="fa fa-align-justify"></i>&nbsp;{{"Description"| translate }}</th>
                                            <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending"><i class="fa fa-bookmark"></i>&nbsp;{{"Status"| translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="info in book_search_data1">
                                            <td>
                                        <div class="checkbox check-success" style="height: 20px">
                                            <input type="checkbox" name="check" value="1"  id="{{info.sims_library_item_number}}" ng-model="info.items_check_status"  />
                                            <label for="{{info.sims_library_item_number}}"></label>
                                        </div>
                                    </td>
                                            <td>{{$index+1}}</td>
                                            <td style="text-align:right;"><div class="text-default">{{info.sims_library_item_accession_number}}</div></td>
                                            <td style="text-align:right;"><div class="text-default">{{info.sims_library_isbn_number}}</div></td>
                                            <td ><div class="text-default">{{info.sims_library_item_name}}</div></td>
                                            <td style="text-align:right;"><div class="text-default">{{info.sims_library_item_title}}</div></td>
                                            <td style="text-align:right;"><div class="text-default">{{info.sims_library_item_number_of_copies}}</div></td>
                                             <td><div class="text-default">{{info.available_copies}}</div></td>
                                            <td><div class="text-default">{{info.sims_library_item_desc}}</div></td>
                                            <td><div class="text-default">{{info.sims_library_item_status_name}}</div></td>

                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                            </div>
                        </div>
                </div>
            </div>
        
        <!--Return Books-->

            <div class="modal fade" id="ReturnBooks" role="dialog" tabindex="-1" draggable="true">
                <div class="modal-dialog" style="width: 85%; background-color: white;">
                     <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px"><strong>{{"Book"| translate }} </strong>{{"Search"| translate}}</h4>
                </div>
                <div class="pull-right">
                    <ul class="controls">
                                <li class="remove listfloat">
                                   <a role="button" tabindex="0" class="tile-close" ng-if="book_showFilter==false" ng-click="book_filter()"><i class="fa fa-plus"></i> {{"Show Filter"| translate}}</a>
                                    <a role="button" tabindex="0" class="tile-close" ng-if="book_showFilter==true" ng-click="book_filter()"><i class="fa fa-minus"></i> {{"Hide Filter"| translate}}</a>

                                </li>
                                <li class="remove listfloat">
                                    <a role="button" data-dismiss="modal" tabindex="0" class="tile-close"><i class="fa fa-times"></i></a>

                                </li>
                            </ul>
                   <!-- <button style="margin-top: -20px" class="btn-sm" data-dismiss="modal" ng-click="modal_cancel()" type="submit">X</button>-->
                </div>
            </div>
                         <div class="grid-body no-border">
                         <div class="col-md-12">
                        <div class="row" ng-show="book_showFilter">
                            <div class="col-md-12">
                                <div class="col-md-2" style="text-align: left">
                                    <label for="username"><i class="fa fa-user"></i>&nbsp;{{"Accession No."| translate}} </label>
                                    <input type="search" class="k-textbox input-sm full-width" id="search17" ng-model="temp.sims_library_item_accession_number" ng-keypress="seachOrderKeyPress($event)" placeholder="Accession No.">
                                </div>
                               <!-- <div class="col-md-2" style="text-align: left">
                                    <label for="username">To. </label>
                                    <input type="search" class="k-textbox input-sm full-width" id="search18" ng-model="temp.sims_library_item_accession_number_to" ng-keypress="seachOrderKeyPress($event)" placeholder="Accession No To.">
                                </div>-->
                                <div class="col-md-2" style="text-align: left">
                                    <label for="username"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"ISBN No."| translate}} </label>
                                    <input type="search" class="k-textbox input-sm full-width" id="search19" ng-model="temp.sims_library_isbn_number" ng-keypress="seachOrderKeyPress($event)" placeholder="ISBN No.">
                                </div>
                                
                                <div class="col-md-3" style="text-align: left">
                                    <label for="username"><i class="fa fa-book"></i>&nbsp;{{"Book Name"| translate}} </label>
                                    <input type="search" class="k-textbox input-sm full-width" id="search21" ng-model="temp.sims_library_item_name" ng-keypress="seachOrderKeyPress($event)" placeholder="Book Name">
                                    <p class="help-block mb-0"></p>
                                </div>

                                <div class="col-md-5" style="text-align: left">
                                    <label for="username"><i class="fa fa-book"></i>&nbsp;{{"Book Title"| translate}} </label>
                                    <input type="search" class="k-textbox input-sm full-width" id="search22" ng-model="temp.sims_library_item_title" ng-keypress="seachOrderKeyPress($event)" placeholder="Book Title">
                                    <p class="help-block mb-0"></p>
                                </div>

                            </div>
                            
                              <div class="col-md-12">
                                <div class="col-md-2">
                                    <label for="username"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Enroll No"| translate}} </label>
                                    <input type="search" class="k-textbox input-sm full-width" id="search18" ng-model="temp.sims_student_enroll_number" ng-keypress="seachOrderKeyPress($event)" placeholder="Enroll No.">
                                </div>

                                 <div class="col-md-2">
                                    <label for="username"><i class="fa fa-users"></i>&nbsp;{{"Library Member's Name"| translate}} </label>
                                    <input type="search" class="k-textbox input-sm full-width" id="search20" ng-model="temp.studentname" ng-keypress="seachOrderKeyPress($event)" placeholder="Member's Name.">
                                </div>

                                  <div class="col-md-2">
                                    <label for="username"><i class="fa fa-barcode"></i>&nbsp;{{"Bar Code"| translate}} </label>
                                    <input type="search" class="k-textbox input-sm full-width" id="search26" ng-model="temp.sims_library_item_bar_code" ng-keypress="seachOrderKeyPress($event)" placeholder="Bar Code">
                                </div>
                                  <div class="col-md-6">
                                    <div class="pull-right">
                                    <label for="username">&nbsp; </label>
                                    <button class="btn btn-success" ng-click="searchissue_books()">{{"Submit"| translate}}</button>
                                    <button class="btn btn-orange" ng-click="reset_returnbook()">{{"Reset"| translate}}</button>
                                    <button class="btn btn-success" ng-click="returnall_books()">{{"Return"| translate}}</button>
                                </div>
                               </div>
                                  </div>

                        </div>
                        <div class="modal-header">
                            <div class="row">
                                <div class="col-md-12">
                                <table class="table table-bordered table-striped dataTable" style="overflow-x:scroll;" id="Table4" role="grid" aria-describedby="project-progress_info">
                                    <thead>
                                        <tr style="z-index: 1">
                                            <th class="semi-bold small-cell" style="height:20px;z-index:1;width:05%;vertical-align:middle">
                                                <div class="checkbox check-success" style="height: 20px">
                                                    <input type="checkbox" name="check" value="1" id="check1" ng-click="CheckAllChecked()">
                                                    <label for="check1"></label>
                                                </div>
                                            </th>
                                            <th class="semi-bold small-cell" style="height: 20px; z-index: 1; width:20px; vertical-align: middle">#</th>
                                            <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Accession No"| translate }}</th>
                                            <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Txn No"| translate }}</th>
                                            <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Txn Line No"| translate }}</th>
                                            <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"ISBN No"| translate }}</th>
                                            <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Enroll No"| translate }}</th>
                                            <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending"><i class="fa fa-user"></i>&nbsp;{{"User Name"| translate }}</th>
                                            <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending"><i class="fa fa-user"></i>&nbsp;{{"Library User ID"| translate }}</th>
                                            <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Item No"| translate }}</th>
                                            <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending"><i class="fa fa-book"></i>&nbsp;{{"Book Name"| translate }}</th>
                                            <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending"><i class="fa fa-book"></i>&nbsp;{{"Book Title"| translate }}</th>                                            
                                            <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending"><i class="fa fa-calendar"></i>&nbsp;{{"Issue date"| translate }}</th>
                                            <th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending"><i class="fa fa-calendar"></i>&nbsp;{{"Exp Return Date"| translate }}</th>
                                            <!--<th tabindex="0" aria-controls="project-progress" aria-label="Project: activate to sort column ascending">{{"Status"| translate }}</th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="info in return_itemlist">
                                            <td>
                                                <div class="checkbox check-success" style="height: 20px">
                                                    <input type="checkbox" name="check" value="1" id="{{info.sims_library_transaction_number+info.sims_library_transaction_line_number+$index}}" ng-click="checkonebyonedelete()" ng-model="chkb" />
                                                    <label for="{{info.sims_library_transaction_number+info.sims_library_transaction_line_number+$index}}"></label>
                                                </div>
                                            </td>
                                            <td>{{$index+1}}</td>
                                            <td style="text-align:right;"><div class="text-default">{{info.sims_library_item_accession_number}}</div></td>
                                            <td style="text-align:right;"><div class="text-default">{{info.sims_library_transaction_number}}</div></td>
                                            <td style="text-align:right;"><div class="text-default">{{info.sims_library_transaction_line_number}}</div>
                                            <td style="text-align:right;"><div class="text-default">{{info.sims_library_isbn_number}}</div></td>
                                            <td style="text-align:right;"><div class="text-default">{{info.sims_student_enroll_number}}</div></td>
                                            <td><div class="text-default">{{info.studentname}}</div>
                                            <td><div class="text-default">{{info.sims_library_transaction_user_code}}</div></td>
                                            <td style="text-align:right;"><div class="text-default">{{info.sims_library_item_number}}</div></td>
                                            <td><div class="text-default">{{info.sims_library_item_name}}</div></td>
                                            <td><div class="text-default">{{info.sims_library_item_title}}</div></td>                                            
                                            <td><div class="text-default">{{info.sims_library_item_issue_date}}</div></td>
                                            <td><div class="text-default">{{info.sims_library_item_expected_return_date}}</div></td>
                                            <!--<td><div class="text-default">{{info.sims_library_transaction_status}}</div></td>-->
                                        </tr>
                                    </tbody>
                                </table>
                                    </div>
                            </div>
                        </div>
                             </div>
                             </div>
                    </div>
                </div>
            </div>
       

<script src="assets/js/tabs_accordian.js"></script>
<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>