﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Library" |translate}}</span>&nbsp;{{"Item Request" | translate}}</h3>
            </div>

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                class="form-control"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                class="form-control"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="grid-body no-border">
            <div ng-show="table">
                <div class="row">
                    <div class="col-md-2">
                                <label>{{"Request Type" |translate}}</label>
                                <select id="cmb_Request_type" data-role="dropdownlist" class="form-control input-sm full-width" name="user" ng-model="edt.sims_library_request_type">
                                    <option value="" selected disabled>Please Select</option>
                                    <option class="form-control input-sm" ng-repeat="gb in Grade_Book_Types" value="{{gb.sims_library_request_type}}">{{gb.sims_library_request_typename}}</option>
                                </select>
                            </div>
                    <div class="col-md-2">
                        <label for="StartDate">{{"Request Date" |translate}}</label>
                        
                                <input id="printing_date" placeholder="Select Date" name="creation_date" type="text" class="k-textbox input-sm" ng-model="edt.sims_library_request_date">
                         </div>

                    <div class="col-md-5">
                        <label>{{"Remark" |translate}}</label>
                        <input type="text" type="text" class="k-textbox input-sm full-width" id="txt_module_name" name="txt_module_name" ng-model="edt.sims_library_request_remarks" maxlength="100">

                        <label class="semi-bold">
                            <span style="color: red" ng-show="MyForm.txt_module_name.$dirty && MyForm.txt_module_name.$invalid || MyForm.$submitted">
                                <span ng-show="MyForm.txt_module_name.$error.required">This Field is Required</span>
                            </span>

                            <span style="color: red" ng-show="MyForm.txt_module_name.$dirty && MyForm.txt_module_name.$invalid || MyForm.$submitted">
                                <span ng-show="MyForm.txt_module_name.$error.maxlength">Max Length 100 Characters</span>
                            </span>

                        </label>

                    </div>


                    <div class="col-md-3">
                        <div class="pull-right">
                        <label>&nbsp;</label>
                        <button type="button" class="btn btn-primary btn-sm btn-small" id="designew" ng-click="New()">{{ "Search" | translate }}</button>
                    <button type="button" id="Button2" ng-show="reset_btn" class="btn btn-warning btn-sm btn-small" ng-click="Reset()">{{"Reset" | translate }}</button>
                   <button type="submit" id="desigsub" ng-show="save_btn" class="btn btn-primary btn-sm btn-small" ng-click="Save()">{{"Save" | translate }}</button>
                         </div>
                    </div>
                    
                </div>





                <!--grid2-->
                <div id="Div1" style="width: auto; height: auto" class="dataTables_wrapper form-inline" ng-show="grid2">
                    <div class="row margin-top">
                        <div class="col-md-12">
                        <table class="table table-bordered table-condensed table-hover" id="fixTable">
                            <thead style="background-color: white">
                                <tr style="background-color: #edefef">
                                    <!--<td class="small-cell v-align-middle">
                                        <div class="checkbox check-success">
                                            <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                            <label for="mainchk"></label>
                                        </div>
                                    </td>-->
                                    <td class="semi-bold">
                                        <label><b>{{"Remove"|translate}}</b></label></td>
                                    <td class="semi-bold" ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                        <label><b><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"Item No" | translate }}</b></label>
                                    </td>

                                    <td class="semi-bold">
                                        <label><b>{{"Item Accession No" | translate }}</b></label>
                                    </td>


                                    <td class="semi-bold">
                                        <label><b>{{"ISBN No" | translate }}</b></label>
                                    </td>


                                    <td class="semi-bold">
                                        <label><b>{{"BNN No" | translate }} </b></label>
                                    </td>

                                    <td class="semi-bold">
                                        <label><b>{{"Dewey No" | translate }} </b></label>
                                    </td>

                                    <td class="semi-bold">
                                        <label><b>{{"Item Title " | translate }} </b></label>
                                    </td>

                                    <td class="semi-bold">
                                        <label><b>{{"Item Description" | translate }} </b></label>
                                    </td>

                                    <td class="semi-bold">
                                        <label><b>{{"Price" | translate }} </b></label>
                                    </td>

                                    <td class="semi-bold">
                                        <label><b>{{"Item Qty" | translate }} </b></label>

                                    </td>

                                    <!--<td class="semi-bold">
                                        <label><b>{{"Item Amount" | translate }} </b></label>
                                    </td>-->

                                    <td class="semi-bold">
                                        <label><b>{{"Item Source Hint" | translate }} </b></label>
                                    </td>

                                    <td class="semi-bold">
                                        <label><b>{{"Item Status" | translate }} </b></label>
                                    </td>

                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="j in filteredTodos | orderBy:orderByField:reverseSort">

                                    <!--<td>
                                        <div class="row-fluid">
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input id="{{$index}}" type="checkbox" value="1" ng-click="checkonebyonedelete()">
                                                <label for="{{$index}}"></label>
                                            </div>
                                        </div>
                                    </td>-->
                                    <td><a class='clickable-row' style="display: block;" ng-click="Delete($event,$index,filteredTodos);" href="url://">{{"Delete"|translate}}</td>
                                    <td>
                                        <label id="Label4">{{j.sims_library_item_number}}</label>
                                    </td>
                                    <td>
                                        <label id="Label2">{{j.sims_library_item_accession_number}}</label>
                                    </td>
                                    <td>
                                        <label id="Label3">{{j.sims_library_isbn_number}}</label>
                                    </td>
                                    <td>
                                        <label id="Label5">{{j.sims_library_bnn_number}}</label>
                                    </td>
                                    <td>
                                        <label id="Label6">{{j.sims_library_item_dewey_number}}</label>
                                    </td>
                                    <td>
                                        <label id="Label7">{{j.sims_library_item_title}}</label>
                                    </td>
                                    <td>
                                        <label id="Label8">{{j.sims_library_item_desc}}</label>
                                    </td>
                                    <td>
                                        <label id="Label9">{{j.sims_library_item_purchase_price}}</label>
                                    </td>
                                    <td>
                                        <input type="text" style="width: 70px;" class="form-control input-sm" id="Text1" name="txt_module_name" ng-model="j.sims_library_item_qty" maxlength="2" ng-pattern="/^(\d)+$/" ng-keypress="onlyNumbers($event)" required>
                                    </td>
                                    <!-- <td>
                                        <label id="Label11">{{j.sims_library_item_purchase_price}}</label>
                                    </td>-->
                                    <td>
                                        <label id="Label12">{{j.sims_library_item_storage_hint}}</label>
                                    </td>
                                    <td>
                                        <label id="Label13">{{j.sims_library_item_status_name}}</label>
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                        </div>

                </div>
            </div>

        </div></div>
    </div>
</div>

<div class="modal fade in" id="myModal" role="dialog" tabindex="-1" style="display: none;">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 1000px;">
        <div class="modal-content" uib-modal-transclude="">

            <div class="modal-header ng-scope" >
                <h4 class="modal-title semi-bold text-left" >{{"Search Book" |translate}}</h4>
                <button class="br-0 btn-primary btn t-p-0 position-absolute r-p-0" data-dismiss="modal" ng-click="modal_cancel()" type="submit">X</button>
            </div>

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                class="form-control"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                class="form-control"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

                <div class="grid-body no-border p-l-10 p-r-10">
                   
                    <!--ROW 1-->
                        <div class="col-md-12">
                            <div class="row">

                                    <div class="col-md-2">
                                        <label for="DivCode">{{"Accession No." |translate}}</label>
                                        <input type="text" class="k-textbox input-sm full-width"  maxlength="15" ng-model="temp.sims_library_item_accession_number" />
                                    </div>


                                    <div class="col-md-4">
                                        <label for="DivCode">{{"ISBN No" |translate}}</label>
                                        <input type="text" class="k-textbox input-sm full-width" ng-model="temp.sims_library_isbn_number" />
                                    </div>

                                    <div class="col-md-2">
                                        <label for="DivCode">{{"Category" |translate}}</label>
                                        <select id="Select4" data-role="dropdownlist" class="form-control input-sm full-width" name="user" ng-model="temp.sims_library_item_category" ng-change="getSubCat(temp.sims_library_item_category)" required>
                                            <option value="" selected disabled>Please Select</option>
                                            <option class="form-control input-sm" ng-repeat="eb in Library_category_code" value="{{eb.sims_library_item_category}}">{{eb.sims_library_item_category_name}}</option>
                                        </select>
                                    </div>

                                    <div class="col-md-2">
                                        <label for="DivCode">{{"Subcategory" |translate}}</label>
                                        <select id="Select5" data-role="dropdownlist" class="form-control input-sm full-width" name="user" ng-model="temp.sims_library_item_subcategory" required>
                                            <option value="" selected disabled>Please Select</option>
                                            <option class="form-control input-sm" ng-repeat="eb in Library_subcategory_code" value="{{eb.sims_library_item_subcategory}}">{{eb.sims_library_item_subcategory_name}}</option>
                                        </select>
                                    </div>

                                    <div class="col-md-2">
                                        <label for="DivCode">{{"Catalogue" |translate}}</label>
                                        <select id="Select6" data-role="dropdownlist" class="form-control input-sm full-width" name="user" ng-model="temp.sims_library_item_catalogue_code" required>
                                            <option value="" selected disabled>Please Select</option>
                                            <option class="form-control input-sm" ng-repeat="eb in Library_catalogue_code" value="{{eb.sims_library_item_catalogue_code}}">{{eb.sims_library_item_catalogue_name}}</option>
                                        </select>
                                    </div>

                            </div>

                    <!--ROW 2-->
                    <div class="row m-b-15">
                        <div class="col-md-12">
                                    <div class="col-md-5">
                                        <label for="DivCode">{{"Title" |translate}}</label>
                                        <input type="text" class="k-textbox input-sm full-width" maxlength="50" ng-model="temp.sims_library_item_title" />
                                    </div>
                                    <div class="col-md-2"><label>&nbsp;</label>
                                        <button type="button" ng-click="searchbook();" class="btn btn-primary btn-small">{{"Search"| translate}}</button>
                                    </div>
                        </div>

                        
                    </div>

                    
                    <!--Busy Indicator-->
                    <div class="row" ng-show="busy">
                        <div class="col-md-12">
                            <div class="row">

                                <div class="col-md-12 form-group">
                                    <div class="col-md-5">
                                    </div>
                                    <div class="col-md-2">
                                        <img src="assets/images/loading.gif" ng-show="busy" />

                                    </div>
                                    <div class="col-md-5">
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>



                    <div ng-show="searchtable">
                        <div id="Div3" class="dataTables_wrapper form-inline">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="pull-left">
                                        <select id="Select2" style="width: 60px;" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                                            <option value="5" class=" form-control input-sm">5
                                            </option>
                                            <option value="10" class=" form-control input-sm">10
                                            </option>
                                            <option value="15" class=" form-control input-sm">15
                                            </option>
                                            
                                        </select>
                                    </div>
                                    <div class="pull-right">
                                        <button type="button" ng-click="add(info)"  ng-show="add_btn" class="btn btn-success btn-small">{{"Add"| translate}}</button>
                                        <button type="button" class="btn btn-primary btn-small" data-dismiss="modal" ng-click="Cancel()">{{"Submit"| translate}}</button>
                                    </div>
                                </div>
                            </div>

                            <div class="row scroll-bar" style="max-height: 250px">
                                <div class="col-md-12">
                                     

                                <table class="table table-bordered table-condensed table-hover" id="fixTable1">
                                    <thead style="background-color: white">
                                        <tr style="background-color: #edefef">

                                            <th class="small-cell v-align-middle" style="z-index: 1;">
                                                <div class="checkbox check-success">
                                                    <input id="Checkbox2" type="checkbox" ng-model="ch2selectAll" ng-click="CheckAllChecked1()">
                                                    <label for="Checkbox2"></label>
                                                </div>
                                            </th>
                                            <th class="semi-bold" ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                                <label><b><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;Item No</label>
                                            </th>
                                            <th class="semi-bold">{{"Accession No" |translate}}</th>
                                            <th class="semi-bold">{{"Isbn No" |translate}}</th>
                                            <th class="semi-bold">{{"Category" |translate}}</th>
                                            <th class="semi-bold">{{"Subcategory" |translate}}</th>
                                            <th class="semi-bold">{{"Catalogue" |translate}}</th>
                                            <th class="semi-bold">{{"Name" |translate}}</th>
                                            <th class="semi-bold">{{"Title" |translate}}</th>
                                            <th class="semi-bold">{{"Description" |translate}}</th>
                                            <th class="semi-bold">{{"Quantity" |translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="info in booksearch | orderBy:orderByField:reverseSort" ng-style="{'background':info.bg}">
                                            <td>
                                                <div class="row-fluid">
                                                    <div class="checkbox check-success" style="height: 20px">
                                                        <input type="checkbox" id="{{info.sims_library_item_number}}" value="1" ng-click="checkonebyone1(info)" ng-model="info.ischecked" />
                                                        <label for="{{info.sims_library_item_number}}"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{info.sims_library_item_number}}</td>
                                            <td>{{info.sims_library_item_accession_number}}</td>
                                            <td>{{info.sims_library_isbn_number}}</td>
                                            <td>{{info.sims_library_item_category_name}}</td>
                                            <td>{{info.sims_library_item_subcategory_name}}</td>
                                            <td>{{info.sims_library_item_catalogue_name}}</td>
                                            <td>{{info.sims_library_item_name}}</td>
                                            <td>{{info.sims_library_item_title}}</td>
                                            <td>{{info.sims_library_item_desc}}</td>
                                            <td>{{info.sims_library_item_qty}}</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                                </div>
                            <div class="displayerror" ng-show="ImageView1">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row form-row">
                                            <div>
                                                <p style="font: bold 24px large; color: black">
                                                    Sorry No Records Found!!!!!!!
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                    scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                    paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                    ng-click="index(currentPage)">
                        </paging>
                            </div>
                                    </div>
                                </div>
                        </div>
                    </div>

                    <div class="modal-footer">

                       
                        
                    </div>
                            </div>
                </div>
            </div>
    </div>
</div>

<script src="assets/js/calender-datepicker-id.js"></script>
