﻿<script src="assets/plugins/fileSaver.js"></script>
<script src="https://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.12/xlsx.core.min.js"></script>

<div class="row">

    <div class="col-md-12">

        <div class="grid simple">

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                class="form-control"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                class="form-control"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="page-title">
                <h3><span class="semi-bold">{{"Badge"| translate }}</span>{{"Allocation"| translate }}</h3>
            </div>

            <div class="grid-body no-border">
                <form name="myForm" ng-submit="Save(myForm.$valid,rows)" novalidate="novalidate">

                    <div ng-show="operation">

                        <div class="row">

                            <div class="col-md-2">

                                <label>{{"Curriculum"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                <select id="cmb_School_Code" data-role="dropdownlist" class="form-control input-sm full-width" name="user"
                                    ng-model="temp.sims_cur_code"
                                    ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in curriculum">
                                    <option value="" selected disabled>Please Select</option>
                                </select>

                            </div>

                            <div class="col-md-2">

                                <label>{{"Academic Year"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                <select id="cmb_academic_year" data-role="dropdownlist" class=" form-control full-width input-sm" name="user1"
                                    ng-model="temp.sims_academic_year"
                                    ng-options="year1.sims_academic_year as year1.sims_academic_year_desc for year1 in Acc_year" ng-change="GetGrade()">
                                    <option value="" selected disabled>Please Select</option>
                                </select>

                            </div>

                            <div class="col-md-2">
                                <label>{{"Grade"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                <select id="cmb_grade_code" multiple="multiple" class="full-width" ng-model="temp.sims_grade_code" ng-change="getSection()">
                                    <option ng-repeat="grade in Grade_code|filter:{sims_grade_name:''}" value="{{grade.sims_grade_code}} ">{{grade.sims_grade_name}}</option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <label>{{"Section"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                <select id="cmb_section_code" multiple="multiple" class="full-width" ng-model="temp.sims_section_code">
                                    <option ng-repeat="section in Section_code|filter:{sims_section_name:''}" value="{{section.sims_section_code}} ">{{section.sims_section_name}}</option>
                                </select>
                            </div>

                            <div class="col-md-4">
                                <label>{{"Badge"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                <select id="cmb_badge_code" data-role="dropdownlist" class="form-control input-sm full-width" name="user"
                                    ng-model="temp.dm_type_name"
                                    ng-options="bdg.dm_type_name as bdg.dm_code for bdg in Badge_code">
                                    <option value="" selected disabled>Please Select</option>
                                </select>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-2">
                                <label for="username">Search</label>
                                <select id="Select2" data-role="dropdownlist" class="form-control input-sm full-width"
                                    ng-model="temp.sims_search_code"
                                    ng-options="commn2.fee_concession_number as commn2.fee_concession_description for commn2 in searchoptions"
                                    name="cmb_searchoptions">
                                </select>
                            </div>

                            <div class="col-md-6">
                                <label>{{"Remark"| translate }}</label>
                                <input type="text" id="txtenrollname" ng-model="temp.sims_remark" class="k-textbox input-sm full-width" />
                            </div>

                            <div class="col-md-4">
                                <div class="pull-right">
                                    <label>&nbsp;</label>
                                    <button type="button" class="btn btn-primary btn-small" ng-click="Show_Data()">{{"Show"| translate }}</button>
                                    <button type="button" class="btn btn-warning btn-small" ng-click="Reset()">{{"Reset"| translate }}</button>
                                    <button type="button" class="btn btn-danger  btn-small" ng-click="cancel()">{{"Cancel"| translate }}</button>
                                </div>
                            </div>

                        </div>


                        <div>&nbsp;</div>

                        <div class="col-md-12">
                            <hr style="height: 6px; border: none; color: darkorange; background-color: darkorange;">
                        </div>
                    </div>

                     <!--table-->
                    <div ng-show="table2">

                        <div id="Div3" class="dataTables_wrapper form-inline">
                            <div class="row margin-top">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-hover table-condensed" id="Table1">
                                        <thead>
                                            <tr style="background-color: #edefef">
                                                <th class="small-cell v-align-middle" style="z-index: 1">
                                                    <div class="checkbox check-success">
                                                        <input type="checkbox" name="check" value="1" id="mainchk" ng-click="CheckAllChecked();">
                                                        <label for="mainchk"></label>
                                                    </div>
                                                </th>

                                                <th><b>{{"Student Enroll"| translate }}</b></th>
                                                <th><b>{{"Student Name"| translate}}</b></th>
                                                <!--<th class="semi-bold">{{"Badge Name"| translate}}</th>-->
                                            </tr>
                                        </thead>

                                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                                            <tr ng-repeat="obj in rows | orderBy:propertyName:reverse" ng-class="row1">
                                                <td class="small-cell v-align-middle">
                                                    <div class="row-fluid" style="height: 20px">
                                                        <div class="checkbox check-success">
                                                            <input type="checkbox" value="1" id="{{obj.sims_enroll_number+$index}}" ng-click="checkonebyonedelete()">
                                                            <label for="{{obj.sims_enroll_number+$index}}"></label>
                                                        </div>
                                                    </div>
                                                </td>

                                                <td>{{obj.sims_enroll_number}}</td>
                                                <td>{{obj.student_name}}</td>
                                                <!--<td class="v-align-middle">
                                                    <select id="cmb_badge_code1" data-role="dropdownlist" class="form-control input-sm full-width" name="user"
                                                        ng-model="rows.dm_type_name"
                                                        ng-options="bdg.dm_type_name as bdg.dm_code for bdg in Badge_code">
                                                        <option value="" selected disabled>Please Select</option>
                                                    </select>
                                                </td>-->


                                            </tr>

                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row" ng-show="table2">
                        <div class="col-md-12">
                            <div class="form-actions">
                                <div class="pull-right">
                                    <button class="btn btn-primary btn-small" type="submit"><i class="icon-ok"></i>{{"Save"| translate }}</button>

                                </div>
                            </div>
                        </div>
                    </div>

                </form>
                <!--table-->
                <div ng-show="table1">

                    <div class="row">
                        <div class="col-md-6">

                            <select id="Select4" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                <option value="{{x.val}}" class="form-control" ng-repeat="x in countData">{{x.data}}
                                </option>
                            </select>
                            &nbsp;
                            <button class="btn btn-primary btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate}}</button>
                            &nbsp;
                            <button class="btn btn-danger btn-small" type="button" ng-click="deleterecord()"><span class="semi-bold"></span>{{"Delete"| translate}}</button>
                        </div>

                        <div class="col-md-6">
                            <div class="pull-right">
                                <div class="dataTables_filter" id="Div1">
                                    <span class="k-textbox k-space-right full-width">
                                        <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                        <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <div class="row margin-top">
                            <div class="col-md-12">
                                <table class="table table-bordered table-hover table-condensed" id="fixTable">
                                    <thead>
                                        <tr style="background-color: #edefef">
                                            <th class="small-cell v-align-middle" style="z-index: 1">
                                                <div class="checkbox check-success">
                                                    <input type="checkbox" name="check" value="1" id="mainchk1" ng-click="CheckAllChecked1();">
                                                    <label for="mainchk1"></label>
                                                </div>
                                            </th>
                                            <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                                <label><b><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"Student Enroll" | translate }}</b></label>
                                            </th>
                                            <!--<th><b>{{"Student Enroll"| translate }}</b></th>-->
                                            <th><b>{{"Student Name"| translate}}</b></th>
                                            <th><b>{{"Badge Name"| translate}}</b></th>
                                        </tr>
                                    </thead>

                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="obj in filteredTodos | orderBy:orderByField:reverseSort" ng-class="row1">
                                            <td class="small-cell v-align-middle">
                                                <div class="row-fluid" style="height: 20px">
                                                    <div class="checkbox check-success">
                                                        <input type="checkbox" value="1" id="{{obj.student_name+$index}}" ng-click="checkonebyonedelete1()">
                                                        <label for="{{obj.student_name+$index}}"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{obj.sims_enroll_number}}</td>
                                            <td>{{obj.student_name}}</td>
                                            <td>{{obj.sims_badge_name}}</td>

                                        </tr>

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right" ng-show="pager">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                    scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                    paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                    ng-click="index(currentPage)">
                                </paging>
                            </div>
                        </div>
                    </div>

                </div>


            </div>

        </div>

    </div>

</div>

<style>
    .semi-bold1 {
        width: 163px;
        font-weight: 600;
    }
</style>
