﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input
                                placeholder="page"
                                class="form-control"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input
                                placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input
                                placeholder="Total"
                                class="form-control"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input
                                placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input
                                placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input
                                placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input
                                placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="page-title">
                <h3><span class="semi-bold">{{ "Common" |  translate }}</span> {{ "Application" |  translate }}</h3>
            </div>
            <div class="grid-body no-border">
            <div ng-show="display">
                  <form name="MyForm" ng-submit="SaveData(MyForm.$valid)" novalidate="novalidate">
               
                        <div class="row">

                            <div class="col-md-4">
                                <label class="form-label-sm">{{"module Code" |  translate }}<span class="text-red">*</span></label>
                                        <select id="cmb_ModuleName" name="module_Code" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.comn_appl_mod_code">
                                            <option value="" disabled selected>Please Select</option>
                                            <option class="form-control input-sm" ng-repeat="i in obj" value="{{i.comn_appl_mod_code}}">
                                                {{i.comn_appl_mod_name}}
                                            </option>
                                        </select>

                                        <label class="semi-bold">  <span style="color: red" ng-show="MyForm.module_Code.$dirty && MyForm.module_Code.$invalid || MyForm.$submitted">
                                                    <span ng-show="MyForm.txt_nameEn.$error.required">This field is required</span>
                                                </span>
                                            <span style="color: red" ng-show="MyForm.module_Code.$dirty && MyForm.module_Code.$invalid || MyForm.$submitted">
                                                    <span ng-show="MyForm.module_Code.$error.minlength">Min Length 3 Characters</span>
                                                </span>
                                           <span style="color: red" ng-show="MyForm.module_Code.$dirty && MyForm.module_Code.$invalid || MyForm.$submitted">
                                                    <span ng-show="MyForm.module_Code.$error.maxlength">Max Length 50 Characters</span>
                                                </span>
                                        </label>

                                    </div>

                            <div class="col-md-4">
                                <label class="form-label">{{"Application Code" |  translate }}<span class="text-red">*</span></label>
                                        <input name="txt_appl_code" id="txt_appl_code" type="text" class="k-textbox input-sm full-width" required ng-minlength="1" ng-maxlength="6" ng-model="edt.comn_appl_code">
                                    
                                    <label class="semi-bold">  <span style="color: red" ng-show="MyForm.txt_appl_code.$dirty && MyForm.txt_appl_code.$invalid || MyForm.$submitted">
                                                    <span ng-show="MyForm.txt_appl_code.$error.required">This field is required</span>
                                                </span>

                                            <span style="color: red" ng-show="MyForm.txt_appl_code.$dirty && MyForm.txt_appl_code.$invalid || MyForm.$submitted">
                                                    <span ng-show="MyForm.txt_appl_code.$error.minlength">Min Length 1 Characters</span>

                                                </span>

                                           <span style="color: red" ng-show="MyForm.txt_appl_code.$dirty && MyForm.txt_appl_code.$invalid || MyForm.$submitted">
                                                    <span ng-show="MyForm.txt_appl_code.$error.maxlength">Max Length 6 Characters</span>

                                                </span>
                                        </label>
                                    </div>
                               

                            <div class="col-md-4">
                                <label class="form-label">{{"Name (English)" |  translate }}<span class="text-red">*</span></label>
                                        <input name="txt_nameEn" id="txt_nameEn" type="text" class="k-textbox input-sm full-width" required ng-minlength="3" ng-maxlength="50" ng-model="edt.comn_appl_name_en">
                                    
                                    <label class="semi-bold">  <span style="color: red" ng-show="MyForm.txt_nameEn.$dirty && MyForm.txt_nameEn.$invalid || MyForm.$submitted">
                                                    <span ng-show="MyForm.txt_nameEn.$error.required">This field is required</span>
                                                </span>
                                            <span style="color: red" ng-show="MyForm.txt_nameEn.$dirty && MyForm.txt_nameEn.$invalid || MyForm.$submitted">
                                                    <span ng-show="MyForm.txt_nameEn.$error.minlength">Min Length 3 Characters</span>
                                                </span>
                                           <span style="color: red" ng-show="MyForm.txt_nameEn.$dirty && MyForm.txt_nameEn.$invalid || MyForm.$submitted">
                                                    <span ng-show="MyForm.txt_nameEn.$error.maxlength">Max Length 50 Characters</span>
                                                </span>
                                        </label>
                                    </div>
                               
                        </div>
                    
                        <div class="row">
                            <div class="col-md-4">
                                <label class="form-label">{{"Name (Arabic)" |  translate }}<span class="text-red">*</span></label>
                                        <input name="txt_nameAr" id="txt_nameAr" type="text" class="k-textbox input-sm full-width" required ng-minlength="3" ng-maxlength="50" ng-model="edt.comn_appl_name_ar">
                                    <label class="semi-bold">  <span style="color: red" ng-show="MyForm.txt_nameAr.$dirty && MyForm.txt_nameAr.$invalid || MyForm.$submitted">
                                                    <span ng-show="MyForm.txt_nameAr.$error.required">This field is required</span>
                                                </span>

                                            <span style="color: red" ng-show="MyForm.txt_nameAr.$dirty && MyForm.txt_nameAr.$invalid || MyForm.$submitted">
                                                    <span ng-show="MyForm.txt_nameAr.$error.minlength">Min Length 3 Characters</span>
                                                </span>
                                           <span style="color: red" ng-show="MyForm.txt_nameAr.$dirty && MyForm.txt_nameAr.$invalid || MyForm.$submitted">
                                                    <span ng-show="MyForm.txt_nameAr.$error.maxlength">Max Length 50 Characters</span>
                                                </span>
                                        </label>
                                    </div>

                            <div class="col-md-4">
                                <label class="form-label">{{"Name (French)" |  translate }}<span class="text-red">*</span></label>
                                        <input name="txt_nameFr" id="txt_nameFr" type="text" class="k-textbox input-sm full-width" required ng-minlength="3" ng-maxlength="50" ng-model="edt.comn_appl_name_fr">
                                    <label class="semi-bold">  <span style="color: red" ng-show="MyForm.txt_nameFr.$dirty && MyForm.txt_nameFr.$invalid || MyForm.$submitted">
                                                    <span ng-show="MyForm.txt_nameFr.$error.required">This field is required</span>
                                                </span>
                                            <span style="color: red" ng-show="MyForm.txt_nameFr.$dirty && MyForm.txt_nameFr.$invalid || MyForm.$submitted">
                                                    <span ng-show="MyForm.txt_nameFr.$error.minlength">Min Length 3 Characters</span>
                                                </span>
                                           <span style="color: red" ng-show="MyForm.txt_nameFr.$dirty && MyForm.txt_nameFr.$invalid || MyForm.$submitted">
                                                    <span ng-show="MyForm.txt_nameFr.$error.maxlength">Max Length 50 Characters</span>
                                                </span>
                                        </label>
                                    </div>

                            <div class="col-md-4">
                                <label class="form-label">{{"Name (Other)" |  translate }}</label>
                                        <input name="form3Nameoth" id="txt_nameOt" type="text" class="k-textbox input-sm full-width" ng-model="edt.comn_appl_name_ot">
                                    </div>
                        </div>
                  

                        <div class="row">
                            <div class="col-md-4">
                                <label class="form-label">{{"Application Mode" |  translate }}</label>
                                        <select id="cmb_applmode" name="Application Mode" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.comn_app_mode">
                                            <option value="" disabled selected>Please Select</option>
                                            <option class="form-control input-sm" ng-repeat="i in obj1" value="{{i.comn_app_mode}}">
                                                {{i.comn_app_mode}}
                                            </option>
                                        </select>
                                    </div>


                            <div class="col-md-4">
                                <label class="form-label">{{"Application Type" |  translate }}<span class="text-red">*</span></label>
                                        <select id="cmb_appl_type" name="Application_Type" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.comn_appl_type" required>
                                            <option value="" disabled selected>Please Select</option>
                                            <option class="form-control input-sm" ng-repeat="i in obj2" value="{{i.comn_appl_type}}">
                                                {{i.comn_appl_type}}
                                            </option>
                                        </select>

                                        <label class="semi-bold">  <span style="color: red" ng-show="MyForm.Application_Type.$dirty && MyForm.Application_Type.$invalid || MyForm.$submitted">
                                                    <span ng-show="MyForm.Application_Type.$error.required">This field is required</span>
                                                </span>
                                            </label>
                                    </div>
                              

                            <div class="col-md-4">
                                <label class="form-label">{{"Application Tag" | translate }}</label>
                                        <select id="cmb_appltag" name="Application Tag" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.comn_appl_tag">
                                            <option value="" disabled selected>Please Select</option>
                                            <option class="form-control input-sm" ng-repeat="i in obj3" value="{{i.comn_appl_tag}}">
                                                {{i.comn_appl_tag}}
                                            </option>
                                        </select>
                                    </div>

                        </div>
                    

                        <div class="row">
                            <div class="col-md-4">
                                <label class="form-label">{{"Application Keyword" |  translate }}</label>
                                        <input name="form3" id="txt_appl_key" type="text" class="k-textbox input-sm full-width" ng-model="edt.comn_appl_keywords">
                                    </div>

                            <div class="col-md-4">
                                <label class="form-label">{{"Application Version" |  translate }}</label>
                                        <input name="form3applver" id="txt_appl_ver" type="text" class="k-textbox input-sm full-width" ng-model="edt.comn_appl_version">
                                    </div>

                            <div class="col-md-4">
                                <label class="form-label">{{"Application location" |  translate }}</label>
                                        <input name="form3appl_loc" id="txt_appl_loc" type="text" class="k-textbox input-sm full-width" ng-model="edt.comn_appl_location">
                                    </div>
                        </div>
                  

                        <div class="row">
                            <div class="col-md-4">
                                <label class="form-label">{{"Display Order" |  translate }}</label>
                                        <input name="form3dis_order" id="txt_display_ord" type="text" class="k-textbox input-sm full-width" ng-model="edt.comn_appl_display_order">
                                    </div>

                            <div class="col-md-4">
                                <label class="form-label">{{"Application Logic" |  translate }}</label>
                                        <input name="form3appl_logic" id="txt_appl_logic" type="text" class="k-textbox input-sm full-width" ng-model="edt.comn_appl_logic">
                            </div>

                             <div class="col-md-4">
                                <label class="form-label">{{"Help URL" |  translate }}</label>
                                        <input name="form3appl_logic" id="Text1" type="text" class="k-textbox input-sm full-width" ng-model="edt.comn_appl_help_url">
                             </div>


                           
                        </div>
                      <div class="row">
                            <div class="col-md-4">
                                <label class="form-label">{{"Video URL" |  translate }}</label>
                                        <input name="form3appl_logic" id="Text2" type="text" class="k-textbox input-sm full-width" ng-model="edt.comn_appl_video_url">
                             </div>

                           <div class="col-md-4">
                                <label class="form-label">{{"Location HTML URL" |  translate }}</label>
                                        <input name="form3appl_logic" id="Text3" type="text" class="k-textbox input-sm full-width" ng-model="edt.comn_appl_location_html">
                             </div>


                      </div>



                         <div class="row">
                              <div class="col-md-4">
                                <label class="form-label">{{"Application Status" |  translate }}</label>
                                        <div class="checkbox check-success" style="height: 20px">
                                            <input type="checkbox" value="1" class="k-checkbox" id="chk_status" ng-model="edt.comn_appl_status">
                                            <label for="chk_status" />
                                        </div>
                                    </div>
                         </div>

                  

                <div class="row">
                    <div class="col-md-12">
                <div class="form-actions">
                    <div class="pull-right">
                        <!--<button class="btn btn-primary btn-cons" type="submit" ng-click="New()"><i class="icon-ok"></i>New</button>-->
                        <button class="btn btn-primary btn-small" type="submit" ng-show="save1">{{"Save" |  translate }}</button>
                        <button class="btn btn-primary btn-small" type="button" ng-click="Update()" ng-show="update1">{{"Update" |  translate }}</button>
                        <button class="btn btn-danger btn-small" type="button" ng-click="Delete()" ng-show="delete1">{{"Delete" |  translate }}</button>
                        <button class="btn btn-danger btn-small" type="button" ng-click="cancel()">{{"Cancel" |  translate }}</button>
                    </div>
                </div>
                        </div>
                    </div>
</form>
            </div>

            <div ng-show="grid">
                <div class="row">
                    <div class="col-md-6">
                       
                        <select id="Select1" style="width: 60px" class="input-sm" data-role="dropdownlist" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                            <option value="10" class=" form-control input-sm">
                                10
                            </option>

                            <option value="20" class=" form-control input-sm">
                                20
                            </option>

                             <option value="All" class=" form-control input-sm">
                                All
                            </option>
                        </select>
                        &nbsp;
                            <button class="btn btn-success btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New" |  translate }}</button>
                        &nbsp;
                        <button class="btn btn-danger btn-cons" type="button" ng-click="Delete()"><span class="semi-bold"></span>{{"Delete" |  translate }}</button>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <!--<label>
                                {{"Search" |  translate }} &nbsp;
                                <input type="text" aria-controls="example" placeholder="Code/Name" class="k-textbox" ng-model="searchText" ng-change="search()"></label>-->
                              <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Code/Name" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a></span> 
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div class="row margin-top">
                        <div class="col-md-12">
                        <table class="table table-bordered table-hover table-condensed" id="example">
                            <thead style="background-color: white">
                                <tr>
                                    <th>&nbsp;</th>
                                    <th class="small-cell v-align-middle">
                                        <div class="checkbox check-success">
                                            <input type="checkbox" name="check" class="k-textbox" value="1" id="mainchk" ng-click="CheckAllChecked();">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>
                                     <th class="semi-bold" ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                        <label><b><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"Code" | translate }}</b></label>
                                    </th>
                                    <!--<th><b>{{"Code" |  translate }}</b></th>-->
                                    <th><b>{{"Name" |  translate }}</b></th>
                                    <th><b>{{"Module Name" |  translate }}</b></th>
                                    <th><b>{{"Mode" |  translate }}</b></th>
                                    <!--APPICATION-->
                                    <th><b>{{"Type" |  translate }}</b></th>
                                    <th><b>{{"Status" |  translate }}</b></th>
                                    <th><b>{{"Edit" |  translate }}</b></th>
                                </tr>
                            </thead>
                           <!-- <tr ng-repeat="Appl in filteredTodos">-->
                                <tr ng-repeat="Appl in filteredTodos | orderBy:orderByField:reverseSort" ng-class="row1">
                                <td><i class="{{Appl.icon}}" ng-click="expand(Appl, $event);"></i></td>
                                <td>
                                    <div class="checkbox check-success" style="height: 20px">
                                        <input type="checkbox" name="check" class="k-textbox" value="1" id="{{Appl.comn_appl_code+Appl.comn_app_mode}}" ng-click="checkonebyonedelete(Appl.comn_appl_code);">
                                        <label for="{{Appl.comn_appl_code+Appl.comn_app_mode}}">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div>{{Appl.comn_appl_code}}</div>
                                </td>
                                <td>
                                    <div>{{Appl.comn_appl_name_en}}</div>
                                </td>
                                <td>
                                    <div>{{Appl.comn_appl_mod_name}}</div>
                                </td>
                                <td>
                                    <div>{{Appl.comn_app_mode}}</div>
                                </td>
                                <td>
                                    <div>{{Appl.comn_appl_type}}</div>
                                </td>
                                 <td class="v-align-middle">
                                        <span ng-if="Appl.comn_appl_status==true" class="label label-success">{{"Active" | translate}}</span>
                                        <span ng-if="Appl.comn_appl_status==false" class="label label-important">{{"In Active" | translate}}</span>

                                    </td>
                                <td>
                                    <a href=""><i class="fa fa-edit" ng-click="edit(Appl)"></i></a>
                                </td>
                            </tr>

                        </table>
                    </div>
                        </div>
                    <div class="row">
                        <div class="col-md-12">
                    <div class="pull-right" ng-show="pager">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                            ng-click="index(currentPage)">
                </paging>
                    </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

