﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="page-title">
                <h3><span class="semi-bold"> {{ "Module" | translate}}</span>&nbsp; {{ "Master" | translate}}</h3>
            </div>
            <div class="grid-body no-border">
                <div ng-show="display">
                    <form name="MyForm" ng-submit="SaveData(MyForm.$valid)" novalidate="novalidate">


                        <div class="row">
                            <div class="col-md-1">
                                <label> {{ "Code" | translate}}</label>
                                <input autofocus="autofocus" name="txt_module_code" id="txt_module_code" type="text" class="k-textbox input-sm full-width" ng-model="edt.module_code" required ng-maxlength="3" />

                                <label class="semi-bold">
                                    <span style="color: red" ng-show="MyForm.txt_module_code.$dirty && MyForm.txt_module_code.$invalid || MyForm.$submitted">
                                        <span ng-show="MyForm.module_code.$error.required">This field is required</span>
                                    </span>

                                    <span style="color: red" ng-show="MyForm.txt_module_code.$dirty && MyForm.txt_module_code.$invalid || MyForm.$submitted">
                                        <span ng-show="MyForm.txt_module_code.$error.maxlength">Enter Only 3 Digits</span>
                                    </span>
                                </label>


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label> {{ "Name" | translate}}</label>
                                <input type="text" class="k-textbox input-sm full-width" id="txt_module_name" name="txt_module_name" ng-model="edt.module_name_en" required ng-maxlength="50">

                                <label class="semi-bold">
                                    <span style="color: red" ng-show="MyForm.txt_module_name.$dirty && MyForm.txt_module_name.$invalid || MyForm.$submitted">
                                        <span ng-show="MyForm.txt_module_name.$error.required">This field is required</span>
                                    </span>

                                    <span style="color: red" ng-show="MyForm.txt_module_name.$dirty && MyForm.txt_module_name.$invalid || MyForm.$submitted">
                                        <span ng-show="MyForm.txt_module_name.$error.maxlength">Max Length 50 Characters</span>
                                    </span>

                                </label>
                            </div>

                            <div class="col-md-3">
                                <label>  {{ "In Arabic" | translate}}</label>
                                <input type="text" class="k-textbox input-sm full-width" id="txt_module_name_ar" name="txt_module_name_ar" ng-model="edt.module_name_ar" required ng-maxlength="50" />

                                <label class="semi-bold">
                                    <span style="color: red" ng-show="MyForm.txt_module_name_ar.$dirty && MyForm.txt_module_name_ar.$invalid || MyForm.$submitted">
                                        <span ng-show="MyForm.txt_module_name_ar.$error.required">This field is required</span>
                                    </span>

                                    <span style="color: red" ng-show="MyForm.txt_module_name_ar.$dirty && MyForm.txt_module_name_ar.$invalid || MyForm.$submitted">
                                        <span ng-show="MyForm.txt_module_name_ar.$error.maxlength">Max Length 50 Characters</span>
                                    </span>
                                </label>
                            </div>

                            <div class="col-md-3">
                                <label>  {{ "In French" | translate}}</label>
                                <input type="text" class="k-textbox input-sm full-width" id="txt_name_french" name="txt_name_french" ng-model="edt.module_name_fr" required ng-maxlength="50" />


                                <label class="semi-bold">
                                    <span style="color: red" ng-show="MyForm.txt_name_french.$dirty && MyForm.txt_name_french.$invalid || MyForm.$submitted">
                                        <span ng-show="MyForm.txt_name_french.$error.required">This field is required</span>
                                    </span>

                                    <span style="color: red" ng-show="MyForm.txt_name_french.$dirty && MyForm.txt_name_french.$invalid || MyForm.$submitted">
                                        <span ng-show="MyForm.txt_name_french.$error.maxlength">Max Length 50 Characters</span>
                                    </span>

                                </label>
                            </div>

                            <div class="col-md-3">
                                <label>  {{ "In Regional" | translate}}</label>
                                <input type="text" class="k-textbox input-sm full-width" id="txt_name_othr" name="txt_name_othr" ng-model="edt.module_name_ot" required ng-maxlength="50" />

                                <label class="semi-bold">
                                    <span style="color: red" ng-show="MyForm.txt_name_othr.$dirty && MyForm.txt_name_othr.$invalid || MyForm.$submitted">
                                        <span ng-show="MyForm.txt_name_othr.$error.required">This field is required</span>
                                    </span>

                                    <span style="color: red" ng-show="MyForm.txt_name_othr.$dirty && MyForm.txt_name_othr.$invalid || MyForm.$submitted">
                                        <span ng-show="MyForm.txt_name_othr.$error.maxlength">Max Length 50 Characters</span>
                                    </span>

                                </label>

                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <label>  {{ "Creation Date" | translate}}</label>
                                <!-- <div class="col-md-4 no-padding" style="width: auto">-->
                                <input id="alb_edit_exp_date" placeholder="Select Date" name="Subsexpdate" class="k-textbox input-sm full-width" ng-model="edt.module_create_date" required>

                                <!--<div class="input-append success date col-md-4 no-padding" data-datepicker="true" style="width: auto">
                                    <input type="text" id="cmb_create_date" placeholder="Select Date" name="Subsexpdate" class="form-control" ng-change="createdate(edt.module_create_date)" ng-model="edt.module_create_date" required/>
                                    <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                </div>-->

                                <label class="semi-bold">
                                    <span style="color: red" ng-show="MyForm.Subsexpdate.$dirty && MyForm.Subsexpdate.$invalid || MyForm.$submitted">
                                        <span ng-show="MyForm.Subsexpdate.$error.required">This field is required</span>
                                    </span>
                                </label>
                            </div>

                            <div class="col-md-3">
                                <label>  {{ "Short Description" | translate}}</label>
                                <input type="text" class="k-textbox input-sm full-width" id="txt_short_desc" name="txt_short_desc" ng-model="edt.module_short_desc" required ng-maxlength="50" />

                                <label class="semi-bold">
                                    <span style="color: red" ng-show="MyForm.txt_short_desc.$dirty && MyForm.txt_short_desc.$invalid || MyForm.$submitted">
                                        <span ng-show="MyForm.txt_short_desc.$error.required">This field is required</span>
                                    </span>

                                    <span style="color: red" ng-show="MyForm.txt_short_desc.$dirty && MyForm.txt_short_desc.$invalid || MyForm.$submitted">
                                        <span ng-show="MyForm.txt_short_desc.$error.maxlength">Max Length 50 Characters</span>
                                    </span>
                                </label>
                            </div>

                            <div class="col-md-3">
                                <label>  {{ "Description" | translate}}</label>
                                <input type="text" class="k-textbox input-sm full-width" style="width: 100%;" id="desc" name="desc" ng-model="edt.module_desc">
                            </div>

                            <div class="col-md-3">
                                <label>  {{ "Keywords" | translate}}</label>
                                <input name="module_keywords" id="txt_keyword" type="text" class="k-textbox input-sm full-width" style="width: 100%;" ng-model="edt.module_keywords">
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-1">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label>  {{ "Color Code" | translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="demo-section k-content">
                                            <input id="colorpicker"  ng-model="edt.module_color" style="width:66px;"/>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-1">
                                <label id="Label24" class="form-label">{{"Color"| translate}} <span class="asterisk" style="color: red">*</span></label>

                                <input type="color" id="Color1" ng-model="edt.module_color" value="" name="hcolor" data-format="hex" required />

                            </div>
                            <div class="col-md-3">
                                <label>  {{ "location" | translate}}</label>
                                <input type="text" class="k-textbox  input-sm full-width" id="txt_module_location" name="form3DateOfBirth" ng-model="edt.module_location">
                            </div>

                            <div class="col-md-3">
                                <label>  {{ "Version" | translate}}</label>
                                <input type="text" class="k-textbox input-sm full-width" id="txt_module_version" name="module_version" ng-model="edt.module_version" ng-maxlength="10" />

                                <label>
                                    <span style="color: red" ng-show="MyForm.module_version.$dirty && MyForm.module_version.$invalid || MyForm.$submitted">
                                        <span ng-show="MyForm.module_version.$error.maxlength">Max Length 50 Characters</span>
                                    </span>
                                </label>

                            </div>

                            <div class="col-md-3">
                                <label>  {{ "Display Order" | translate}}</label>
                                <input type="text" class="k-textbox input-sm full-width" id="txt_display_order" name="form3DateOfBirth" ng-model="edt.module_dislpay_order">
                            </div>

                            <div class="col-md-3">
                                <label>{{ "Status" | translate}}</label>
                                <div class="checkbox check-success">
                                    <input id="chk_status" type="checkbox" value="1" checked="checked" class="k-checkbox" ng-model="edt.module_status">
                                    <label for="chk_status"></label>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-actions">
                                    <div class="pull-right">
                                        <button class="btn btn-primary btn-small" type="submit" ng-show="save1"><i class="icon-ok"></i> {{ "Save" | translate}}</button>
                                        <button class="btn btn-primary btn-small" type="button" ng-click="Update()" ng-show="update1"><i class="icon-ok"></i> {{ "Update" | translate}}</button>
                                        <button class="btn btn-danger btn-small" type="button" ng-click="Delete()" ng-show="delete1"><i class="icon-ok"></i> {{ "Delete" | translate}}</button>
                                        <button class="btn btn-danger btn-small" type="button" ng-click="cancel()"> {{ "Cancel" | translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!--Table/Grid-->

                <div ng-show="grid">
                    <div class="row">
                        <div class="col-md-6">

                            <select id="Select1" style="width: 65px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                                <option value="10" class=" form-control input-sm">
                                    10
                                </option>

                                <option value="20" class=" form-control input-sm">
                                    20
                                </option>

                                <option value="All" class=" form-control input-sm">
                                    All
                                </option>
                            </select>
                            &nbsp;
                            <button class="btn btn-success btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate }}</button>
                            &nbsp;
                            <button class="btn btn-danger btn-cons" type="button" ng-click="Delete()"><span class="semi-bold"></span>{{"Delete"| translate }}</button>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <div id="example_filter">

                                    <span class="k-textbox k-space-right full-width">
                                        <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                        <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <div class="row margin-top">
                            <div class="col-md-12">
                                <table class="table  table-bordered table-hover table-condensed" id="fixTable1" aria-describedby="example2_info">
                                    <thead>
                                        <!--ng-style="{ 'backgroundColor':{{color}} }"-->
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th class="small-cell v-align-middle" style="z-index:1">
                                                <div class="checkbox check-success">
                                                    <input type="checkbox" name="check" value="1" id="mainchk" ng-click="CheckAllChecked();" class="checkall k-checkbox">
                                                    <label for="mainchk"></label>
                                                </div>
                                            </th>
                                            <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                                <label>
                                                    <b>
                                                        <a href="">
                                                            <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span>
                                                            <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp; {{ "Code" | translate}}
                                                        </a>
                                                    </b>
                                                </label>
                                            </th>

                                            <th> <b> {{ "Name" | translate}}</b></th>
                                            <th> <b> {{ "Date" | translate}}</b></th>
                                            <th> <b> {{ "Short Description" | translate}}</b></th>
                                            <th> <b> {{ "Color Code" | translate}}</b></th>
                                            <th> <b> {{ "Status" | translate}}</b></th>
                                            <th> <b> {{ "Display Order" | translate}}</b></th>
                                            <th><i class="fa fa-cogs"></i></th>
                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="info in filteredTodos| orderBy:orderByField:reverseSort" class="{{row1}}">
                                            <td class="text-center"><i class="{{info.icon}}" ng-click="expand(info, $event);"></i></td>
                                            <td>
                                                <div class="checkbox check-success" style="height: 20px">
                                                    <input type="checkbox" value="1" id="{{info.module_code}}" ng-click="setClickedRow();" />
                                                    <label for="{{info.module_code}}"></label>
                                                </div>
                                            </td>
                                            <td style="text-align:right">{{info.module_code}}</td>
                                            <td class="semi-bold">{{info.module_name_en}}</td>
                                            <td class="semi-bold">{{info.module_create_date}}</td>
                                            <td class="semi-bold">{{info.module_short_desc}}</td>
                                            <td class="semi-bold">{{info.module_color}}</td>
                                            <td style="text-align:center">
                                                <span ng-if="info.module_status==true" class="label label-success">{{"Active" | translate}}</span>
                                                <span ng-if="info.module_status==false" class="label label-important">{{"In active" | translate}}</span>
                                            </td>
                                            <td style="text-align:right">{{info.module_dislpay_order}}</td>
                                            <td style="text-align:center"><a href=""><i class="fa fa-edit" ng-click="edit(info)"></i></a></td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right" ng-show="pager">
                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                            ng-click="index(currentPage)">
                                    </paging>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--End Table/Grid-->
            </div>
        </div>
    </div>

</div>
<script src="assets/js/calender-datepicker-id.js"></script>



