﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="page-title">
                <h3><span class="semi-bold">{{"Council"|translate}}</span>&nbsp;{{"Master"|translate}}</h3>
            </div>
           
            <div class="grid-body no-border">
            <form name="myForm" ng-submit="Save(myForm.$valid)" novalidate="novalidate">
                <div ng-show="operation">
                    <div class="row">
                              <div class="col-md-2" ng-class="{'has-error': !myForm.curcode.$valid && (myForm.curcode.$touched || myForm.$submitted)}">
                                <label>{{"Curriculum"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                        <select id="cmb_School_Code" data-role="dropdownlist" class="form-control input-sm full-width" name="curcode" required
                                                ng-model="edt.sims_cur_code" 
                                                ng-change="getacyr(edt.sims_cur_code)" 
                                            ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in curriculum">  </select>
                                          <p class="help-block" ng-show="myForm.curcode.$error.required &&  (myForm.curcode.$touched || myForm.$submitted)">
                                            This field is required
                                        </p>

                                    </div>

                            <div class="col-md-2" ng-class="{'has-error': !myForm.year.$valid && (myForm.year.$touched || myForm.$submitted)}">
                                <label>{{"Academic Year"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                        <select id="cmb_academic_year" data-role="dropdownlist" class="form-control input-sm full-width" name="year" required
                                                ng-model="edt.sims_academic_year" 
                                            ng-options="year1.sims_academic_year as year1.sims_academic_year_desc for year1 in Academic_year"></select>
                                           
                                        <p class="help-block" ng-show="myForm.year.$error.required &&  (myForm.year.$touched || myForm.$submitted)">
                                            This field is required
                                        </p>
                                    </div>
                                
                                <div class="col-md-2" ng-class="{'has-error': !myForm.ccode.$valid && (myForm.ccode.$touched || myForm.$submitted)}">
                                    <label id="label5" class="form-label">{{"Council Code"| translate}} <span class="asterisk" style="color: red">*</span></label>
                                    <input type="text" id="council_code1" ng-model="edt.sims_council_code" class="k-textbox input-sm full-width" name="ccode" ng-maxlength="2"  ng-pattern="/^(\d)+$/" required />
                                    <!--<input type="text" id="Text9" ng-model="edt.sims_council_code" class="form-control input-sm" name="ccode" ng-show="editmode" disabled="disabled" />-->
                                   
                                    <p class="help-block" ng-show="myForm.ccode.$error.required &&  (myForm.ccode.$touched || myForm.$submitted)">
                                       Only digit
                                    </p>
                                   
                                    <p class="help-block" ng-show="myForm.ccode.$error.maxlength && (!myForm.$pristine && myForm.$submitted)">
                                        Council Code should be 2 digit
                                    </p>
                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !myForm.cname.$valid && (myForm.cname.$touched || myForm.$submitted)}">
                                    <label id="label6" class="form-label">{{"Council Name"| translate}} <span class="asterisk" style="color: red">*</span></label>
                                    <input type="text" id="council_name1" ng-model="edt.sims_council_name" class="k-textbox input-sm full-width" name="cname" ng-maxlength="25" ng-pattern="/^(\D)+$/" required />
                                    <p class="help-block" ng-show="myForm.cname.$error.required &&  (myForm.cname.$touched || myForm.$submitted)">
                                        Only Character
                                    </p>
                                    <p class="help-block" ng-show="myForm.cname.$error.maxlength && (!myForm.$pristine && myForm.$submitted)">
                                        Council name should be 25 character
                                    </p>
                                </div>

                                <div class="col-md-1">
                                    <label id="Label4" for="txt_full_name" class="form-label">{{"Status"| translate }}</label>
                                    <div class="checkbox check-success m-t-10">
                                        <input id="chk_term" type="checkbox" ng-checked="true" ng-model="edt.sims_council_status">
                                        <label for="chk_term"></label>
                                    </div>
                                </div>
                        <div class="col-md-2"><label>&nbsp;</label>
                        <div class="pull-right">
                            <button class="btn btn-primary btn-small" type="submit" ng-show="savebtn"><i class="icon-ok"></i>{{"Save"| translate }}</button>
                            <button class="btn btn-primary btn-small" type="button" ng-show="updatebtn" ng-click="Update(myForm.$valid)"><i class="icon-ok"></i>{{"Update"| translate }}</button>
                           <!-- <button class="btn btn-white btn-cons" type="button" ng-click="cancel()">{{"Cancel"| translate }}</button>-->
                         <button class="btn btn-danger btn-small" type="button" ng-click="cancel()">{{"Cancel"| translate }}</button>
                             <!--<button class="btn btn-primary btn-cons" type="button" ng-show="cancel()"><i class="icon-ok"></i>{{"Cancel"| translate }}</button>-->
                            </div>
                        </div>
                            </div>
                </div>
            
            </form>
            <!--table-->


            <div ng-show="table1">
             
                <div class="row">
                    <div class="col-md-6">
                        <select id="Select12" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="10" class="form-control input-sm">
                                10
                            </option>

                            <option value="20" class="form-control input-sm">
                                20
                            </option>

                            <option value="All" class="form-control input-sm">
                                All
                            </option>
                        </select>

                        &nbsp;
                        <button class="btn btn-primary btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate}}</button>
                        &nbsp;
                        <button class="btn btn-danger ng-binding btn-small" type="button" ng-click="deleterecord()"><span class="semi-bold"></span>{{"Delete"| translate}}</button>


                        <!--<button class="btn btn-white" style="height: 35px" type="button" ng-click="deleterecord()"><span class="semi-bold"></span>{{"Delete"| translate}}</button>-->
                    </div>


                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="Div1">
                                <!--<label>
                                    {{"Search by Council Code"| translate}}  &nbsp;
                                    <input type="text" autofocus="autofocus" aria-controls="example" ng-model="searchText" class="k-textbox" ng-change="search();">
                                </label>-->
                                  <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Council Code" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a></span> 
                            </div>
                        </div>
                    </div>
                </div>

               <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <div class="row margin-top">
                            <div class="col-md-12">
                            <table class="table table-bordered table-hover table-condensed" id="fixTable">
                                <thead>
                                    <tr style="background-color:#edefef">
                                      <th class="small-cell v-align-middle" style="z-index:1">
                                    <div class="checkbox check-success">
                                        <input type="checkbox" name="check" value="1" id="mainchk" ng-click="CheckAllChecked();">
                                        <label for="mainchk"></label>
                                    </div>
                                        
                                  </th>
                                    <th class="semi-bold">{{"Curriculum"| translate }}</th>
                                    <th class="semi-bold">{{"Academic"| translate }}</th>
                                    <th class="semi-bold">{{"Council code"| translate }}</th>
                                    <th class="semi-bold">{{"Council name"| translate }}</th>
                                    <th class="semi-bold">{{"Status"| translate}}</th>
                                    <th class="semi-bold">{{"Action"| translate }}</th>

                                </tr>
                                    
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <tr ng-repeat="obj in filteredTodos" ng-class="row1">
                                    <td class="small-cell v-align-middle">
                                        <div class="row-fluid" style="height: 20px">
                                             <div class="checkbox check-success">
                                                <input type="checkbox" value="1" id="{{$index+obj.sims_council_code}}" ng-click="checkonebyonedelete()">
                                                <label for="{{$index+obj.sims_council_code}}"></label>
                                            </div>

                                        </div>
                                    </td>
                                    <td >{{obj.sims_cur_short_name_en}}</td>
                                    <td >{{obj.sims_academic_year_description}}</td>
                                    <td >{{obj.sims_council_code}}</td>
                                    <td>{{obj.sims_council_name}}</td>

                                    <td class="v-align-middle">
                                        <span ng-if="obj.sims_council_status==true" class="label label-success">Active</span>
                                        <span ng-if="obj.sims_council_status==false" class="label label-important">In active</span>
                                    </td>
                                    <td >
                                        <a href=""><i class="fa fa-edit" ng-click="up(obj)"></i></a>
                                    </td>
                                </tr>

                            </tbody>

                        </table>
                        <!--</div></div>-->
                    <!--</div>-->
                </div>
                            </div>

                <!--</div>-->
            </div>

                  <div class="row" ng-show="pager">
                    <div class="col-md-12">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>
                    </div>
                </div>
        </div>
    </div>
</div>

    </div>
    </div>

<script src="assets/js/tableHeadFixer.js"></script>