﻿<style>
    .form-actions {
    padding: 7px 20px 7px;
}
    .margin-top {
    margin-top: 3px !important;
}
</style>
<div class="loading-middle" ng-hide="grid">
    {{ "Loading..." | translate }}
</div>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Curriculum Level" | translate}}</span>{{"Master" | translate }}</h3>
            </div>
            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
           <div class="grid-body no-border table_padding">
              <div ng-show="display" class="paddingcode">
                <form name="Myform" ng-submit="Save(Myform.$valid)" novalidate="novalidate">
                    <div class="row">
                            <div class="col-md-2" ng-class="{'has-error': !Myform.cmbe_cur.$valid && (Myform.cmbe_cur.$touched || Myform.$submitted)}">
                                <label><i class="fa fa-book"></i>&nbsp;{{"Curriculum Name" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                <select name="cmbe_cur" id="cmb_house_curriculum" class="form-control input-sm full-width" ng-model="temp.level_cur_code" required>
                                    <option value="" selected>Please Select</option>
                                    <option ng-repeat="cur1 in cur" value="{{cur1.level_cur_code}}">{{cur1.level_cur_code_name}}</option>
                                </select>
                                <p class="help-block" ng-show="Myform.cmbe_cur.$error.required &&(Myform.cmbe_cur.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>
                            <div class="col-md-1" ng-class="{'has-error': !Myform.txt_level_code.$valid && (Myform.txt_level_code.$touched || Myform.$submitted)}">
                                <label><i class="fa fa-dashboard"></i>&nbsp;{{"Level Code" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" class="k-textbox input-sm full-width" id="desc" name="txt_level_code" ng-readonly="levelcodeRonly" ng-model="temp.level_code" ng-maxlength="2" ng-pattern="/^(\d)+$/" required>
                                <p class="help-block" ng-show="Myform.txt_level_code.$error.required &&(Myform.txt_level_code.$touched || Myform.$submitted)">
                                    Only Digit
                                </p>
                                <p class="help-block" ng-show="Myform.txt_level_code.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                    Level Code should be only 2 digit
                                </p>
                            </div>
                        </div>
                     <div class="row">
                            <div class="col-md-2" ng-class="{'has-error': !Myform.txt_level_name.$valid && (Myform.txt_level_name.$touched || Myform.$submitted)}">
                                <label><i class="fa fa-align-justify"></i>&nbsp;{{"Level Name" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                <input name="txt_level_name" type="text" placeholder="Level Name" class="k-textbox input-sm full-width" id="txt_module_name" ng-model="temp.level_name_en" required>
                                <p class="help-block" ng-show="Myform.txt_level_name.$error.required &&(Myform.txt_level_name.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>
                            <div class="col-md-2">
                                <label><i class="fa fa-align-justify"></i>&nbsp;{{"In French" | translate }}</label>
                                <input type="text" placeholder="in French" class="k-textbox input-sm full-width" id="txt_name_othr" name="form3DateOfBirth" ng-model="temp.level_name_fr">
                            </div>
                      
                            <div class="col-md-2">
                                <label><i class="fa fa-align-justify"></i>&nbsp;{{"In Arabic" | translate }}</label>
                                <input name="module_keywords" id="txt_keyword" type="text" class="k-textbox input-sm full-width" placeholder="in Arabic" ng-model="temp.level_name_ar">
                            </div>
                            <div class="col-md-2">
                                <label><i class="fa fa-align-justify"></i>&nbsp;{{"In Regional" | translate }}</label>
                                <input name="module_keywords" id="Text2" type="text" class="k-textbox input-sm full-width" placeholder="In Regional" ng-model="temp.level_name_ot">
                            </div>
                         </div>
                     <div class="row">
                            <div class="col-md-3">
                                <label><i class="fa fa-bookmark"></i>&nbsp;{{"Status" | translate }}</label>
                                <div class="checkbox check-success">
                                    <input id="check_house_status" type="checkbox" value="1" checked="checked" ng-model="temp.level_status" ng-checked="true">
                                    <label for="check_house_status"></label>
                                </div>
                            </div>
                        </div>
                     <div class="row">
                          <div class="col-md-12">
                    <div class="form-actions">
                        <div class="pull-right">
                            <button class="btn btn-primary btn-small" type="submit" ng-show="btn_save"><i class="icon-ok"></i>{{"Save" | translate }}</button>
                            <button class="btn btn-primary btn-small" type="submit" ng-show="btn_update"><i class="icon-ok"></i>{{"Update" | translate }}</button>
                            <button class="btn btn-danger btn-small" type="button" ng-click="cancel()">{{"Cancel"| translate }} </button>
                        </div>
                    </div>
                              </div>
                         </div>
                </form>
            </div>
            <div ng-show="grid">
                <div class="row">
                    <div class="col-md-6">
                        <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="10" selected class=" form-control input-sm">
                               10
                            </option>

                            <option value="20" class=" form-control input-sm">
                                20
                            </option>

                            <option value="*" class=" form-control input-sm">
                                All
                            </option>
                        </select>
                        &nbsp;
                        <button class="btn btn-success btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New" |translate}}</button>
                        &nbsp;
                        <button class="btn btn-danger btn-small" type="button" ng-click="Delete()"><span class="semi-bold"></span>{{"Delete" | translate}}</button>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                                <!--<label>
                                    {{"Search:" | translate}}&nbsp;
                                    <input aria-controls="example" ng-model="searchText" class="input-medium" placeholder="Search" type="search" ng-change="search()">
                                </label>-->
                             <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a></span> 
                            </div>
                        </div>

                    </div>
                </div>
                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div class="row margin-top">
                        <div class="col-md-12">
                        <table class="table table-striped table-condensed" id="example">
                            <thead style="background-color: white">
                                <tr>
                                    <!--<td><b>More</b></td>-->
                                    <th class="small-cell v-align-middle">
                                        <div class="checkbox check-success">
                                            <input id="chk_min" type="checkbox" value="1" ng-click="CheckAll()">
                                            <label for="chk_min"></label>
                                        </div>
                                    </th>
                                    <th class="semi-bold" ng-click="sortBy('level_cur_code_name')">
                                        <i class="fa fa-book"></i>&nbsp;<b>{{"Curriculum"| translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'level_cur_code_name'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th class="semi-bold" ng-click="sortBy('level_code')">
                                        <i class="fa fa-dashboard"></i>&nbsp;<b>{{"Level Code"| translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'level_code'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th class="semi-bold" ng-click="sortBy('level_name_en')">
                                        <i class="fa fa-align-justify"></i>&nbsp;<b>{{"Level Name"| translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'level_name_en'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th class="semi-bold" ng-click="sortBy('level_name_ar')">
                                       <i class="fa fa-align-justify"></i>&nbsp;<b>{{"In Arabic"| translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'level_name_ar'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th class="semi-bold" ng-click="sortBy('level_name_fr')">
                                        <i class="fa fa-align-justify"></i>&nbsp;<b>{{"In French"| translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'level_name_fr'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th class="semi-bold" ng-click="sortBy('level_name_ot')">
                                        <i class="fa fa-align-justify"></i>&nbsp;<b>{{"In Regional"| translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'level_name_ot'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th><i class="fa fa-bookmark"></i>&nbsp;<b>{{"Status" |translate}}</b></th>
                                    <th class="semi-bold">
                                        <label><i class="fa fa-cogs"></i></label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="info in filteredTodos | orderBy:propertyName:reverse">
                                    <!--<td class="text-center"><i class="fa fa-plus-circle" ng-click="expand(info, $event);"></i></td>-->
                                    <td>
                                        <div class="checkbox check-success">
                                            <input id="{{info.level_code+info.level_cur_code_name}}" type="checkbox" value="1" ng-click="CheckAny(info.level_code+info.level_cur_code_name)">
                                            <label for="{{info.level_code+info.level_cur_code_name}}"></label>
                                        </div>
                                    </td>
                                    <td style="width:10%;">{{info.level_cur_code_name}}</td>
                                    <td style="width:10%;">{{info.level_code}}</td>
                                    <td style="width:10%;">{{info.level_name_en}}</td>
                                    <td style="width:10%;">{{info.level_name_ar}}</td>
                                    <td style="width:10%;">{{info.level_name_fr}}</td>
                                    <td style="width:10%;">{{info.level_name_ot}}</td>
                                    <td>
                                        <span class="label label-success" ng-if="info.level_status == true">{{"Active"| translate }}</span>
                                        <span ng-if="info.level_status==false" class="label label-important">{{"In Active"| translate }}</span>

                                    </td>
                                    <td style="width:3%;"><a href=""><i class="fa fa-edit" ng-click="edit(info)"></i></a></td>
                                </tr>


                            </tbody>

                        </table>
                            </div>
                    </div>
                     <div class="row" ng-show="pager">
                        <div class="col-md-12">
                    <div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                ng-click="index(currentPage)">
                        </paging>
                    </div>
                            </div>
                         </div>
                </div>
            </div>
             </div>

        </div>
    </div>
</div>
            <div class="modal fade" id="SucessMessage">
                <div class="modal-dialog" id="Div4" style="width: 300px">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h5 class="semi-bold pull-left">{{"Message" | translate }}</h5>
                            <br />
                        </div>
                        <div class="modal-body">
                            <br />
                            <label class="form-label semi-bold">{{"Curriculum Level Added Sucessfully" | translate }}</label>
                            <br />
                        </div>
                        <div class="modal-footer" style="height: 60px">
                            <button type="button" class="btn btn-primary btn-small" data-dismiss="modal">{{"Ok" | translate }}</button>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!---end modal-->
            </div>

            <div class="modal fade" id="Success_Update">
                <div class="modal-dialog" id="Div2" style="width: 300px">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h5 class="semi-bold pull-left">{{"Message" | translate }}</h5>
                            <br />
                        </div>
                        <div class="modal-body">
                            <br />
                            <label class="form-label semi-bold">{{"Curriculum Level Updated Sucessfully" | translate }}</label>
                            <br />
                        </div>
                        <div class="modal-footer" style="height: 60px">
                            <button type="button" class="btn btn-primary btn-small" data-dismiss="modal">{{"Ok" | translate }}</button>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!---end modal-->
            </div>

            <div class="modal fade" id="Success_Delete">
                <div class="modal-dialog" id="Div3" style="width: 300px">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h5 class="semi-bold pull-left">{{"Message" | translate }}</h5>
                            <br />
                        </div>
                        <div class="modal-body">
                            <br />
                            <label class="form-label semi-bold">{{"Curriculum Level Deleted Sucessfully" | translate }}</label>
                            <br />
                        </div>
                        <div class="modal-footer" style="height: 60px">
                            <button type="button" class="btn btn-primary btn-small" data-dismiss="modal">{{"Ok" | translate }}</button>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!---end modal-->
            </div>

            <div class="modal fade" id="Error_Delete">
                <div class="modal-dialog" id="Div5" style="width: 300px">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h5 class="semi-bold pull-left">{{"Message" | translate }}</h5>
                            <br />
                        </div>
                        <div class="modal-body">
                            <br />
                            <label class="form-label semi-bold">{{"Curriculum Level Already Mapped Can't Delete" | translate }}</label>
                            <br />
                        </div>
                        <div class="modal-footer" style="height: 60px">
                            <button type="button" class="btn btn-primary btn-small" data-dismiss="modal">{{"Ok" | translate }}</button>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!---end modal-->
            </div>

            <div class="modal fade" id="CurLevelCodeError">
                <div class="modal-dialog" id="Div7" style="width: 300px">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h5 class="semi-bold pull-left">{{"Message" | translate }}</h5>
                            <br />
                        </div>
                        <div class="modal-body">
                            <br />
                            <label class="form-label semi-bold">{{"Curriculum Level Code Already Exist" | translate }}</label>
                            <br />
                        </div>
                        <div class="modal-footer" style="height: 60px">
                            <button type="button" class="btn btn-primary btn-small" data-dismiss="modal">{{"Ok" | translate }}</button>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!---end modal-->
            </div>

            <div class="modal fade" id="ErrorMessage">
                <div class="modal-dialog" id="Div6" style="width: 300px">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h5 class="semi-bold pull-left">{{"Message" | translate }}</h5>
                            <br />
                        </div>
                        <div class="modal-body">
                            <br />
                            <label class="form-label semi-bold help">{{"Error In Adding/Updating Curriculum Level" | translate }}</label>
                            <br />
                        </div>
                        <div class="modal-footer" style="height: 60px">
                            <button type="button" class="btn btn-primary btn-small" data-dismiss="modal">{{"Ok" | translate }}</button>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!---end modal-->
            </div>


       
