﻿<link href="assets/css/modal.css" rel="stylesheet" />
<div >
  <div class="maincontainer" id="main">
       
  
  Selected option: <select class="form-control" ng-model="option" ng-options="option.name for option in data"></select>  
    <div class="center">
      <button ng-click="activate()">Click to Modal it up</button>  
    </div>    
  </div>  
</div>