﻿<style>
      .form-actions {
    padding: 7px 20px 7px;
}
    .margin-top {
    margin-top: 3px !important;
}
   /* #fixTable {
    width:75%;
    }*/
</style>

<!--<div class="loading-middle" ng-hide="grid">
    {{ "Loading..." | translate }}
</div>-->

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Curriculum Level Grade"  | translate }}</span>{{"Master"  | translate }}</h3>
            </div>
            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
           <div class="grid-body no-border table_padding">
                <div ng-show="operation" class="paddingcode">
                <form name="Myform" ng-submit="save(Myform.$valid)" novalidate="novalidate">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <div class="col-md-2" ng-class="{'has-error': !Myform.cmbe_cur.$valid && (Myform.cmbe_cur.$touched || Myform.$submitted)}">
                                <label> <i class=" fa fa-book"></i>&nbsp;{{"Curriculum Name" | translate }} <span class="asterisk" style="color: red">*</span></label>

                                <select name="cmbe_cur" id="cmb_house_curriculum" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.sims_cur_code" ng-change="getLevelNames(temp.sims_cur_code); getAcdmYr(temp.sims_cur_code)" required>
                                    <option value="">Please Select</option>
                                    <option ng-repeat="cur in cur_obj" value="{{cur.sims_cur_code}}">{{cur.sims_cur_short_name_en}}</option>
                                </select>
                                <p class="help-block" ng-show="Myform.cmbe_cur.$error.required &&(Myform.cmbe_cur.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>
                            <div class="col-md-2" ng-class="{'has-error': !Myform.cmbe_acdm_yr.$valid && (Myform.cmbe_acdm_yr.$touched || Myform.$submitted)}">
                                <label> <i class=" fa fa-sort-amount-desc"></i>&nbsp;{{"Academic Year"  | translate }} <span class="asterisk" style="color: red">*</span></label>
                                <select name="cmbe_acdm_yr" id="Select3" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.sims_academic_year" ng-change="getGradeNames(temp.sims_cur_code,temp.sims_academic_year)" required>
                                    <option value="">Please Select</option>
                                    <option ng-repeat="yr in Acdm_yr_obj" value="{{yr.sims_academic_year}}">{{yr.sims_academic_year_desc}}</option>
                                </select>
                                <p class="help-block" ng-show="Myform.cmbe_acdm_yr.$error.required &&(Myform.cmbe_acdm_yr.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>
                            <div class="col-md-2" ng-class="{'has-error': !Myform.cmbe_level_name.$valid && (Myform.cmbe_level_name.$touched || Myform.$submitted)}">
                                <label> <i class=" fa fa-align-justify"></i>&nbsp;{{"Level Name"  | translate }} <span class="asterisk" style="color: red">*</span></label>
                                <select name="cmbe_level_name" id="Select2" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.sims_cur_level_code" required>
                                    <option value="">Please Select</option>
                                    <option ng-repeat="level in level_names_obj" value="{{level.sims_cur_level_code}}">{{level.sims_cur_level_name_en}}</option>
                                </select>
                                <p class="help-block" ng-show="Myform.cmbe_level_name.$error.required &&(Myform.cmbe_level_name.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>



                            <div class="col-md-2" ng-class="{'has-error': !Myform.cmbe_grade_name.$valid && (Myform.cmbe_grade_name.$touched || Myform.$submitted)}">
                                <label> <i class=" fa fa-sitemap"></i>&nbsp;{{"Grade Name"  | translate }} <span class="asterisk" style="color: red">*</span></label>
                                <select name="cmbe_grade_name" id="Select4" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.sims_grade_code" required>
                                    <option value="">Please Select</option>
                                    <option ng-repeat="grd in gradeNames_obj" value="{{grd.sims_grade_code}}">{{grd.sims_grade_name}}</option>
                                </select>
                                <p class="help-block" ng-show="Myform.cmbe_grade_name.$error.required &&(Myform.cmbe_grade_name.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="pull-right">
                            <button class="btn btn-primary btn-small" type="submit"><i class="icon-ok"></i>{{"Save"  | translate }}</button>

                            <button class="btn btn-danger btn-small" type="button" ng-click="cancel()">{{"Cancel"  | translate }}</button>
                        </div>
                    </div>
                </form>
            </div>

            <div ng-show="grid">
                <div class="row">
                    <div class="col-md-6">
                        <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="10" selected class=" form-control input-sm">
                               10
                            </option>

                            <option value="20" class=" form-control input-sm">
                                20
                            </option>

                            <option value="*" class=" form-control input-sm">
                               All
                            </option>
                        </select>
                        &nbsp;
                        <button class="btn btn-primary btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"  | translate }}</button>
                        &nbsp;
                        <button class="btn btn-danger btn-small" type="button" ng-click="OkDelete()"><span class="semi-bold"></span>{{"Delete"  | translate }}</button>
                    </div>

                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                                <!--<label>
                                    {{"Search:"  | translate }}&nbsp;
                                    <input aria-controls="example" ng-model="searchText" class="input-medium" placeholder="Level Name/Grade Name" type="search" ng-change="search()">
                                </label>-->
                                  <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Level Name/Grade Name" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a></span> 
                            </div>
                        </div>

                    </div>
                </div>
                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div class="row margin-top">
                        <div class="col-md-12">
                        <table class="table table-bordered table-hover table-condensed" id="fixTable">
                            <thead style="background-color: white">
                                <tr style="background-color: #edefef">
                                    <th class="small-cell v-align-middle" style="z-index: 1">
                                        <div class="checkbox check-success">
                                            <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>
                                    <th class="semi-bold" ng-click="sortBy('level_grade_grade_code_name')">
                                       <i class="fa fa-book"></i>&nbsp;<b>{{"Curriculum"| translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'level_grade_grade_code_name'" ng-class="{reverse: reverse}"></span>
                                    </th>

                                    
                                    <th class="semi-bold" ng-click="sortBy('sims_academic_year_description')">
                                        <i class=" fa fa-sort-amount-desc"></i>&nbsp;<b>{{"Academic Year"| translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'sims_academic_year_description'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th class="semi-bold" ng-click="sortBy('level_grade_level_code_name')">
                                      <i class=" fa fa-align-justify"></i>&nbsp;<b> {{"Level Name"| translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'level_grade_level_code_name'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th class="semi-bold" ng-click="sortBy('level_grade_grade_code_name')">
                                       <i class=" fa fa-sitemap"></i>&nbsp;<b>{{"Grade Name"| translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'level_grade_grade_code_name'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="j in filteredTodos  | orderBy:propertyName:reverse" ng-class="row1">
                                    <td>
                                        <div class="row-fluid">
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input id="{{j.level_grade_grade_code_name+$index}}" type="checkbox" value="1" ng-click="checkonebyonedelete()">
                                                <label for="{{j.level_grade_grade_code_name+$index}}"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="width:10%;">
                                        <label id="lbl">{{j.level_grade_cur_short_name}}</label>
                                    </td>
                                    <td style="width:10%;">
                                        <label id="Label5">{{j.sims_academic_year_description}}</label>
                                    </td>
                                    <td>
                                        <label id="Label3">{{j.level_grade_level_code_name}}</label>
                                    </td>
                                    <td>
                                        <label id="Label1">{{j.level_grade_grade_code_name}}</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                     <div class="row" ng-show="pager">
                        <div class="col-md-12">
                    <div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                ng-click="index(currentPage)">
                        </paging>
                    </div>
                            </div>
                         </div>
                </div>
            </div>
        </div>
            </div>
    </div>
</div>

<div class="modal fade" id="Div1">
    <div class="modal-dialog" id="Div2" style="width: 300px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="semi-bold pull-left">Message</h5>
                <br />
            </div>
            <div class="modal-body">
                <br />
                <label>{{msg1.strMessage}}</label>
                <br />
            </div>
            <div class="modal-footer" style="height: 60px">
                <button type="button" class="btn btn-primary btn-small" data-dismiss="modal" ng-click="maindata();">Ok</button>
            </div>
        </div>
    </div>
</div>
<script src="assets/js/tableHeadFixer.js"></script>
