﻿<div class="loading-middle" ng-hide="display">
    {{ "Loading..." | translate }}
</div>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input
                                placeholder="page"
                                class="form-control"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input
                                placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input
                                placeholder="Total"
                                class="form-control"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input
                                placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input
                                placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input
                                placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input
                                placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="page-title">
                <h3><span class="semi-bold">{{"Homeroom"|translate}}</span>&nbsp;{{"Teacher"|translate}}</h3>
            </div>
            <div class="grid-body no-border">
            <div ng-show="display">
                 <form name="MyForm" ng-submit="Save(MyForm.$valid)" novalidate="novalidate">
           
                           <div class="row">
                            <div class="col-md-2">
                                <label>{{"Curriculum"|translate}}</label>
                                        <select id="cmb_School_Code" data-role="dropdownlist" class="form-control input-sm full-width" name="cmb_School_Code" ng-model="edt.sims_cur_code" ng-change="getacyr(edt.sims_cur_code)" required ng-disabled="dis">
                                            <option value="" selected disabled>Please Select</option>
                                            <option class="form-control" ng-repeat="edt in curriculum" value="{{edt.sims_cur_code}}">{{edt.sims_cur_short_name_en}}</option>
                                        </select>

                                         <label>
                                            <span style="color: red" ng-show="MyForm.cmb_School_Code.$dirty && MyForm.cmb_School_Code.$invalid || MyForm.$submitted">
                                                <span ng-show="MyForm.cmb_School_Code.$error.required">This field is required</span>
                                            </span>
                                        </label>
                                    </div>

                            <div class="col-md-2">
                                <label>{{"Academic Year"|translate}}</label>
                                          <select id="Select2" data-role="dropdownlist" class="form-control input-sm full-width" name="cmb_academic_year" ng-model="edt.sims_academic_year" required ng-disabled="dis"
                                          ng-options="edt.sims_academic_year as edt.sims_academic_year_desc for edt in Academic_year" class="form-control">
                                            <option value="" selected disabled>Please Select</option>
                                        </select>
                                         <label>
                                            <span style="color: red" ng-show="MyForm.cmb_academic_year.$dirty && MyForm.cmb_academic_year.$invalid || MyForm.$submitted">
                                                <span ng-show="MyForm.cmb_academic_year.$error.required">This field is required</span>
                                            </span>
                                        </label>
                                    </div>

                            <div class="col-md-2">
                                <label>{{"Homeroom Name"|translate}}</label>
                                        <select id="cmb_Homeroom_Name" data-role="dropdownlist" class="form-control input-sm full-width" name="cmb_Homeroom_Name" ng-model="edt.sims_homeroom_code" ng-change="home(homeroomname.sims_homeroom_code)" required ng-disabled="dis">
                                            <option value="" selected disabled>Please Select</option>
                                            <option class="form-control" ng-repeat="homeroomname in Homeroomnames" value="{{homeroomname.sims_homeroom_code}}">{{homeroomname.sims_homeroom_name}}  </option>
                                        </select>
                                    
                                        <label >
                                            <span style="color: red" ng-show="MyForm.cmb_Homeroom_Name.$dirty && MyForm.cmb_Homeroom_Name.$invalid || MyForm.$submitted">
                                                <span ng-show="MyForm.cmb_Homeroom_Name.$error.required">This field is required</span>
                                            </span>
                                        </label>
                                    </div>


                            <!--<div class="col-md-2">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label>{{"Batch Nmae"|translate}}</label>
                                    </div>

                                    <div class="col-md-12">
                                        <select id="cmb_batch_Name" class="form-control" name="cmb_batch_Name" ng-model="edt.sims_batch_code" required>
                                            <option value="" selected disabled>Please Select</option>
                                            <option class="form-control" ng-repeat="Homeroom_BatchName in AllHomeroom_BatchName" value="{{Homeroom_BatchName.sims_batch_code}}">{{Homeroom_BatchName.sims_batch_name}}  </option>
                                        </select>
                                        <label>
                                            <span style="color: red" ng-show="MyForm.cmb_batch_Name.$dirty && MyForm.cmb_batch_Name.$invalid || MyForm.$submitted">
                                                <span ng-show="MyForm.cmb_batch_Name.$error.required">This field is required</span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>-->

                            <div class="col-md-4">

                                        <label>{{"Status"|translate}}</label>
                                        <div class="checkbox check-success">
                                            <input id="chk_sims_batch_status" type="checkbox" checked="checked" value="1" ng-model="edt.sims_status">
                                            <label for="chk_sims_batch_status"></label>
                                        </div>
                                    </div>

                            <div class="col-md-2" ng-show="teacher_search">
                                <label>&nbsp;</label>
                                        <div class="pull-right">
                                            <button class="btn btn-primary btn-small" type="button" ng-click="SearchTeacherCode()">{{"Search Teacher"|translate}}</button>
                                        </div>
                                    </div>
                        </div>
                 
                        <div class="row"> 
                            <div class="col-md-12">
                            <div ng-show="teacher_table">
                                <label>{{"Teacher Name"|translate}}</label>

                                    <table class="table table-hover table-bordered table-condensed" id="fixTable1">
                                        <thead>
                                            <tr style="background-color: #edefef">
                                                <th>{{"EMPLOYEE NUMBER"|translate}}</th>
                                                <th>{{"TEACHER NAME"|translate}}</th>
                                                <th>{{"REMOVE"|translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                        <tr ng-repeat="info in teacher_number track by $index">
                                            <td>{{info.user_name}}</td>
                                            <td>{{info.teacher_Name}}</td>
                                            <td><span class="semi-bold"><a href="" ng-click="RemoveTeacherNo($event,$index,teacher_number)">X</a></span>  </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            </div>
                     <div class="row"> 
                            <div class="col-md-6" ng-show="TeacherName">
                                <label>{{"Teacher Name"|translate}}</label>
                                        <select name="cmb_teacher" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.sims_homeroom_teacher_code">
                                            <option value="" selected disabled>Please Select</option>
                                            <option ng-repeat="teacher in getTeacher" value="{{teacher.sims_teacher_code}}">{{teacher.sims_teacher_name}}</option>
                                        </select>
                                    </div>
                        </div>
                    <div class="row"> 
                         <div class="col-md-12"> 
                <div class="form-actions">
                    <div class="pull-right">
                        <button class="btn btn-primary btn-small" type="submit" ng-show="teacher_table">{{"Save"|translate}}</button>
                        <button class="btn btn-primary btn-small" type="button" ng-click="Update()" ng-show="update1">{{"Update"|translate}}</button>
                        <button class="btn btn-warning btn-small" type="button" ng-click="cancel()">{{"Cancel"|translate}}</button>
                    </div>
                </div>
                             </div>
                        </div>
                     </form>
            </div>

            <!--Table/Grid-->

            <div ng-show="grid">
                <div class="row margin-top">
                    <div class="col-md-6">
                         <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="5" class=" form-control input-sm">5
                            </option>

                            <option value="10" class=" form-control input-sm">10
                            </option>

                            <option value="15" class=" form-control input-sm">15
                            </option>
                        </select>  &nbsp;
                       
                        <button class="btn btn-success btn-small" type="button" ng-click="New(MyForm)"><span class="semi-bold">+&nbsp;</span>{{"New"|translate}}</button>
                        &nbsp;
                        <button class="btn btn-danger btn-small" type="button" ng-click="Delete()"><span class="semi-bold"></span>{{"Delete"|translate}}</button>
                    </div>
                        <div class="col-md-6">  
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                               <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" placeholder="Teacher Name" ng-model="searchText" class="k-textbox input-sm full-width" ng-change="search();">
                                   <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                     <div class="row margin-top">
                          <div class="col-md-12">
                        <table class="table table-hover table-bordered table-condensed" id="fixTable">
                            <thead>
                                  <tr style="background-color: #edefef">
                                    <th class="semi-bold" style="vertical-align:middle;z-index:1">
                                        <div class="checkbox check-success" style="height:20px">
                                            <input type="checkbox" class="k-checkbox" name="check" value="1" id="mainchk" ng-click="CheckAllChecked();">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>
                                    <th  style="text-align: left; vertical-align: middle" ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                        <label class="semi-bold">
                                            <b><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span>
                                                <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"CURRICULUM"|translate}}</a></b></label></th>
                                    <th class="semi-bold" style="vertical-align:middle">{{"TEACHER NAME"|translate}}</th>
                                    <th class="semi-bold" style="vertical-align:middle">{{"YEAR"|translate}}</th>
                                    <th class="semi-bold" style="vertical-align:middle">{{"HOMEROOM NAME"|translate}}</th>
                                    <th class="semi-bold" style="vertical-align:middle">{{"STATUS"|translate}}</th>
                                    <th class="semi-bold" style="vertical-align:middle;text-align:center;width:05%"><i class="fa fa-cogs"></i></th>
                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <tr ng-repeat="info in filteredTodos |orderBy:orderByField:reverseSort" class="{{row1}}">

                                    <td style="vertical-align:middle">
                                        <div class="checkbox check-success" style="height: 20px">
                                            <input type="checkbox" class="k-checkbox" name="check" value="1" id="{{info.sims_homeroom_teacher_code}}" ng-click="checkonebyonedelete();">
                                            <label for="{{info.sims_homeroom_teacher_code}}"></label>
                                        </div>
                                    </td>
                                    <td>{{info.sims_cur_short_name_en}}</td>
                                    <td>{{info.sims_homeroom_teacher_name}}</td>
                                    <td>{{info.sims_academic_year}}</td>
                                    <td>{{info.sims_homeroom_name}}</td>
                                    <td style="text-align:center">
                                        <span ng-if="info.sims_status==true" class="label label-success">Active</span>
                                        <span ng-if="info.sims_status==false" class="label label-important">In active</span>
                                    </td>
                                    <td style="text-align:center">
                                        <a href=""><i class="fa fa-edit" ng-click="edit(info)"></i></a>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                         </div>
                    <div class="row margin-top">
                          <div class="col-md-12">
                    <div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                            ng-click="index(currentPage)">
                </paging>
                    </div>
                              </div>
                        </div>
                </div>
            </div>

            <!--EndTable/Grid-->
</div>
        </div>
        </div>
    </div>

        <!--modal--->
        <div class="modal fade in" id="MyModal" role="dialog" style="display: none;">
            <div class="modal-dialog" style="width: 90%">
                <div class="modal-content" uib-modal-transclude="">
                    <div class="modal-header ng-scope" style="height: 40px">
                        <div class="pull-left">
                            <h4 class="modal-title custom-font" style="margin-top: -5px"><b>{{"Search User"|translate}}</b></h4>
                        </div>
                        <div class="pull-right">
                            <a href="">
                                <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>
                            </a>
                        </div>

                    </div>

            <div class="grid-body no-border">
                            <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>{{"Name"|translate}}</label>
                                                    <input type="text" id="txtname" class="k-textbox input-sm full-width" ng-model="temp.search_teacher_name" />
                                                </div>

                                        <div class="col-md-2">
                                            <label>Teacher Id</label>
                                                    <input type="text" class="k-textbox input-sm full-width" id="txtid" ng-model="temp.search_teacher_id" />

                                                </div>

                                        <div class="col-md-2">
                                            <label>{{"Mobile No"|translate}}</label>
                                                    <input type="text" class="k-textbox input-sm full-width" id="txtmobile" ng-model="temp.teacher_mobile_number" />
                                                </div>

                                        <div class="col-md-2">
                                            <label>{{"Email Id"|translate}}</label>
                                                    <input type="text" class="k-textbox input-sm full-width" id="txtemailid" ng-model="temp.teacher_email_id" />

                                                </div>

                                        <div class="col-md-3">
                                            <label>&nbsp;</label>
                                                    <div class="pull-right">
                                                        <button type="button" class="btn btn-primary btn-small" ng-click="SearchAllTeacher();">{{"Search"|translate}}</button>
                                                        <button type="button" class="btn btn-primary btn-small" ng-click="Reset();">{{"Reset"|translate}}</button>

                                                    </div>
                                                </div>
                                    </div>
                                
                                <div class="row" ng-show="busy">
                                    <div class="col-md-12">
                                        <div class="row form-row">
                                            <div class="col-md-5">
                                            </div>
                                            <div class="col-md-2">
                                                 <img src="assets/theme/img/loading.gif" />
                                            </div>
                                            <div class="col-md-5">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                    <div ng-show="searchtable">
                                        <div id="Div3" class="dataTables_wrapper form-inline">
                                            <div class="row">
                                                <div class="col-md-12 margin-top">
                                                <table class="table table-hover table-bordered table-condensed" id="Table3" aria-describedby="example2_info">
                                                    <thead>
                                                        <tr>
                                                            <th class="semi-bold" style="text-align: left; vertical-align: middle">{{"TEACHER ID"|translate}}</th>
                                                            <th class="semi-bold" style="text-align: left; vertical-align: middle">{{"NAME"|translate}}</th>
                                                            <th class="semi-bold" style="text-align: left; vertical-align: middle">{{"TEACHER TYPE"|translate}}</th>
                                                            <th class="semi-bold" style="text-align: left; vertical-align: middle">{{"EMPLOEE CODE"|translate}}</th>
                                                            <th class="semi-bold" style="text-align: left; vertical-align: middle"> <div class="checkbox check-success">
                                            <input type="checkbox" name="check" class="k-checkbox" value="1" id="mainchk1" ng-click="MultipleTeacherSelection();">
                                            <label for="mainchk1"></label>
                                        </div></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                        <tr ng-repeat="info in Search_Teacher_result" ng-class="row1">

                                                            <td>{{info.user_name}}</td>
                                                            <td>{{info.teacher_Name}}</td>
                                                            <td>{{info.teacher_Type}}</td>
                                                            <td>{{info.teacher_id}}</td>
                                                            <td>
                                                                
                                                                <div class="checkbox check-success" style="height: 20px">
                                                                    <input type="checkbox" class="k-checkbox" name="check" value="1" id="{{info.user_name+$index}}" ng-click="TeacherNumber(info);">
                                            <label for="{{info.user_name+$index}}"></label>
                                        </div>
                                                                
                                                                
                                                                
                                                                <!--<a href=""><i class="fa fa-edit" ng-click="TeacherNumber(info)"></i></a>-->
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                                </div>
                                        </div>
                                    </div>
                              

                            <div class="modal-footer" ng-show="searchtable">
                                <button class="btn btn-success btn-small" data-dismiss="modal" type="button" ng-click="Datateachercode()">{{"Ok"|translate}}</button>
                            </div>
                                <br /><br />
                                </div>
                        </div>

                         </div>
            </div>
        </div>
