﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">


            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>


            <div class="page-title">
                <h3><span class="semi-bold">{{"Language"|translate}}</span></h3>
            </div>

            <div class="grid-body no-border">
            <form name="myForm" ng-submit="Save(myForm.$valid)" novalidate="novalidate">
                <div ng-show="operation">

                            <div class="row">
                                <div class="col-md-3" ng-class="{'has-error': !myForm.scode.$valid && (myForm.scode.$touched || myForm.$submitted)}">
                                    <label id="label5" class="form-label">{{"Language Code"| translate}}<span class="asterisk" style="color: red">*</span></label>
                                    <input autofocus="autofocus" type="text" id="Text1" ng-model="edt.sims_language_code" class="k-textbox input-sm full-width" name="scode" ng-maxlength="3" required ng-pattern="/^[0-9]{1,20}$/" />
                                    <p class="help-block" ng-show="myForm.scode.$error.required &&  (myForm.scode.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                    <p class="help-block" ng-show="myForm.scode.$error.maxlength && (!myForm.$pristine && myForm.$submitted)">
                                        Language Code should be 3 digit
                                    </p>
                                    <p class="help-block" ng-show="myForm.scode.$error.pattern && (!myForm.$pristine && myForm.$submitted)">
                                        Enter Digit only
                                    </p>
                                </div>
                                </div>
                            <div class="row">
                                <div class="col-md-3" ng-class="{'has-error': !myForm.ce.$valid && (myForm.ce.$touched || myForm.$submitted)}">
                                    <label id="label1" class="form-label">{{"Name In English"| translate}}<span class="asterisk" style="color: red">*</span></label>
                                    <input type="text" id="Text2" ng-model="edt.sims_language_name_en" class="k-textbox input-sm full-width" name="ce" ng-maxlength="50" ng-pattern="/^[a-zA-Z\s]*$/" required />
                                    <p class="help-block" ng-show="myForm.ce.$error.required &&  (myForm.ce.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                    <p class="help-block" ng-show="myForm.ce.$error.maxlength && (!myForm.$pristine && myForm.$submitted)">
                                        Name in english should be 50 character
                                    </p>
                                    <p class="help-block" ng-show="myForm.ce.$error.pattern && (!myForm.$pristine && myForm.$submitted)">
                                        Enter Character Only
                                    </p>
                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !myForm.carabic.$valid && (myForm.carabic.$touched || myForm.$submitted)}">
                                    <label id="label6" class="form-label">{{"Name In Arabic"| translate}}</label>
                                    <input type="text" id="Text3" ng-model="edt.sims_language_name_ar" class="k-textbox input-sm full-width" name="carabic" ng-maxlength="50" />
                                    <p class="help-block" ng-show="myForm.carabic.$error.maxlength && (!myForm.$pristine && myForm.$submitted)">
                                        Name in arabic should be 50 character
                                    </p>
                                </div>

                            

                                <div class="col-md-3" ng-class="{'has-error': !myForm.cfrench.$valid && (myForm.cfrench.$touched || myForm.$submitted)}">
                                    <label id="label2" class="form-label">{{"Name In French"| translate}}</label>
                                    <input type="text" id="Text4" ng-model="edt.sims_language_name_fr" class="k-textbox input-sm full-width" name="cfrench" ng-maxlength="50" />
                                    <p class="help-block" ng-show="myForm.cfrench.$error.maxlength &&  (!myForm.$pristine && myForm.$submitted)">
                                        Name in french should be 50 character
                                    </p>
                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !myForm.cname.$valid && (myForm.cname.$touched || myForm.$submitted)}">
                                    <label id="label3" class="form-label">{{"Name In Other"| translate}}</label>
                                    <input type="text" id="Text5" ng-model="edt.sims_language_name_ot" class="k-textbox input-sm full-width" name="cname" ng-maxlength="50" />
                                    <p class="help-block" ng-show="myForm.cname.$error.maxlength && (!myForm.$pristine && myForm.$submitted)">
                                        Name in other should be 50 character
                                    </p>
                                </div>
                                </div>
                      
                    <div class="row">
                                <div class="col-md-3 ">
                                    <label id="Label4" for="txt_full_name" class="form-label">{{"Status"| translate }}</label>
                                    <div class="checkbox check-success">
                                        <input id="chk_term" type="checkbox" ng-model="edt.sims_language_status" ng-checked="true">
                                        <label for="chk_term"></label>
                                    </div>
                                </div>

                            </div>

                         <div class="row">
                                <div class="col-md-12">
                    <div class="form-actions">
                        <div class="pull-right">
                            <button class="btn btn-primary btn-small" type="submit" ng-show="savebtn"><i class="icon-ok"></i>{{"Save"| translate }}</button>
                            <button class="btn btn-primary btn-small" type="button" ng-show="updatebtn" ng-click="Update(myForm.$valid)"><i class="icon-ok"></i>{{"Update"| translate }}</button>
                            <button class="btn btn-warning btn-small" type="button" ng-click="cancel()">{{"Cancel"| translate }}</button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
                    </form>
            <!--table-->


            <div ng-show="table1">
                <div class="row">
                    <div class="col-md-6">
                        <select id="Select12" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="10" selected class="form-control input-sm">
                                10
                            </option>

                            <option value="20" class="form-control input-sm">
                                20
                            </option>

                            <option value="*" class="form-control input-sm">
                               All
                            </option>
                        </select>

                        &nbsp;
                        <button class="btn btn-success btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate}}</button>
                        &nbsp;
                        <button class="btn btn-danger btn-small" type="button" ng-click="deleterecord()"><span class="semi-bold"></span>{{"Delete"| translate}}</button>
                    </div>


                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="Div1">
                                <!--<label>
                                    {{"Search"| translate}}  &nbsp;
                                    <input type="text" placeholder="Search" aria-controls="example" ng-model="searchText" class="input-medium" ng-change="search();">
                                </label>-->
                                  <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a></span> 
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div class="row margin-top">
                        <div class="col-md-12">
                        <table class="table table-bordered table-condensed" id="fixTable">
                            <thead style="background-color: #edefef !important">
                                <tr style="background-color: #edefef !important">

                                    <th class="small-cell v-align-middle" style="z-index:1">
                                        <div class="checkbox check-success">
                                            <input type="checkbox" name="check" value="1" id="mainchk" ng-click="CheckAllChecked();">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>
                                    <th  ng-click="sortBy('sims_language_code')">
                                        {{"Language Code"| translate }}
                                        <span class="sortorder" ng-show="propertyName === 'sims_language_code'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th  ng-click="sortBy('sims_language_name_en')">
                                        {{"Name In English"| translate }}
                                        <span class="sortorder" ng-show="propertyName === 'sims_language_name_en'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th  ng-click="sortBy('sims_language_name_ar')">
                                        {{"Name In Arabic"| translate }}
                                        <span class="sortorder" ng-show="propertyName === 'sims_language_name_ar'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th  ng-click="sortBy('sims_language_name_fr')">
                                        {{"Name In French"| translate }}
                                        <span class="sortorder" ng-show="propertyName === 'sims_language_name_fr'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th  ng-click="sortBy('sims_language_name_ot')">
                                        {{"Name In Other"| translate }}
                                        <span class="sortorder" ng-show="propertyName === 'sims_language_name_ot'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th >{{"Status"| translate}}</th>
                                    <th ><i class="fa fa-cogs"></i></th>

                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <tr ng-repeat="obj in filteredTodos | orderBy:propertyName:reverse" ng-class="row1">
                                    <td class="small-cell v-align-middle">
                                        <div class="row-fluid" style="height: 20px">
                                            <div class="checkbox check-success">
                                                <input type="checkbox" value="1" id="{{obj.sims_language_code+$index}}" ng-click="checkonebyonedelete()">
                                                <label for="{{obj.sims_language_code+$index}}"></label>
                                            </div>
                                        </div>
                                    </td>

                                    <td>{{obj.sims_language_code}}</td>
                                    <td>{{obj.sims_language_name_en}}</td>
                                    <td>{{obj.sims_language_name_ar}}</td>
                                    <td>{{obj.sims_language_name_fr}}</td>
                                    <td>{{obj.sims_language_name_ot}}</td>
                                    <td class="v-align-middle">
                                        <span ng-if="obj.sims_language_status==true" class="label label-success">{{"Active" | translate}}</span>
                                        <span ng-if="obj.sims_language_status==false" class="label label-important">{{"In active" | translate}}</span>
                                    </td>
                                    <td>
                                        <a href=""><i class="fa fa-edit" ng-click="up(obj)"></i></a>
                                    </td>
                                </tr>

                            </tbody>

                        </table>
                    </div>
                        </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>
                        </div>
                </div>

            </div>
                </div>
        </div>
    </div>
</div>

<div class="modal fade" id="message">
    <div class="modal-dialog" id="Div4" style="width: 300px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="semi-bold pull-left">Message</h5>
                <br />
            </div>
            <div class="modal-body">
                <br />
                <label>{{msg1.strMessage}}</label>
                <br />
            </div>
            <div class="modal-footer" style="height: 60px">
                <button type="button" class="btn btn-primary btn-small" data-dismiss="modal" ng-click="maindata();">Ok</button>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!---end modal-->
</div>

<script src="assets/js/tableHeadFixer.js"></script>
