﻿  <div class="grid simple">
    <div class="grid-body">
       
                <form name="MyForm" ng-submit="Save(MyForm.$valid)" novalidate="novalidate">
                  
                 <div class="form-inline">
            <div class=" form-group ">
            <label id="Label11"  class="form-label">Version No/ChangeSet No</label>
            </div>
            <div class=" form-group ">
            <input name="csno" id="Text9" class="form-control input-sm m-t-5" ng-model="edt.changeset_code" type="text" >
            </div>
            <div class=" form-group ">
            <button type="button" class="btn btn-primary btn-small m-t-5 " data-toggle="modal" data-target="#myModal">Search</button>  
                 <div class="modal fade" id="myModal" role="dialog">
                       <div class="modal-dialog modal-lg">
                           <div class="modal-content">
                               <div class="modal-header">
                                <button type="button" class="close" ng-click="cross();" data-dismiss="modal">&times;</button>
            <div class="row">
                 <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                 <h4 class="modal-title">Search Details</h4>
            </div>
            </div>
            </div>
                               <div class="modal-body">
                                   <div class="row">
                                       <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                                           <label>ChengeSet No</label>
                                           <input name="txtCsno" id="txtCsno" class="form-control input-sm" ng-model="temp.changeset_code" type="text" required>
                                           <p class="help-block" ng-show="myForm.txtCsno.$error.required &&  (myForm.txtCsno.$touched || myForm.$submitted)">
                                               This Field is required.
                                           </p>
                                       </div>


                                      <!--Project NAme-->
                                       <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                                           <label id="Label18" for="txt_full_name" class="form-label">{{"Project Name"|translate}}</label>
                                           <div ng-class="{'has-error': !myForm.cur_name.$valid && (myForm.pr_name.$touched || myForm.$submitted) }">
                                               <select id="select" name="select_name1" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="temp.comn_appl_project_code" required>
                                                   <option value="">Please Select</option>
                                                   <option ng-repeat="cr in projectName" value="{{cr.comn_appl_project_code}}">{{cr.comn_appl_project_name}}</option>
                                               </select>
                                           </div>
                                       </div>



                                     <!--Developer Name-->
                                       <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                                           <label>Developer Name</label>
                                           <input class="form-control input-sm" id="txt_dev_name" name="txt_dev_name" type="text" ng-model="temp.comn_developer_name" required>
                                           <p class="help-block"
                                               ng-show="myForm.txt_dev_name.$error.required && (myForm.txt_dev_name.$touched || myForm.$submitted)">
                                               This Field is required.
                                           </p>
                                       </div>

                                         <!--MOdule name-->
                                       <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3" ng-class="{'has-error': !myForm.modName.$valid && (myForm.modName.$touched || myForm.$submitted)}">
                                           <label>Module Name</label>
                                           <select class="form-control full-width input-sm" id="currr" name="modName" ng-change="getApplications(temp.comn_mod_code)" ng-model="temp.comn_mod_code" required>
                                               <option value="">Please Select</option>
                                               <option ng-repeat="cr in ModuleName" value="{{cr.comn_mod_code}}">{{cr.comn_mod_name_e}}</option>

                                           </select>
                                           <p class="help-block" ng-show="myForm.modName.$error.required &&  (myForm.modName.$touched || myForm.$submitted)">
                                               This field is required
                                           </p>
                                       </div>
                                   </div>
                                   <div class="row m-t-5">

                                       <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3" ng-class="{'has-error': !myForm.appname.$valid && (myForm.appname.$touched || myForm.$submitted)}">
                                           <label>Application Name</label>
                                           <select class="form-control full-width input-sm" id="appname" name="appname" ng-model="temp.comn_appl_code" required>
                                               <option value="">Please Select</option>
                                               <option ng-repeat="cr in appication_Name" value="{{cr.comn_appl_code}}">{{cr.comn_appl_name}}</option>
                                           </select>
                                           <p class="help-block" ng-show="myForm.appname.$error.required &&  (myForm.appname.$touched || myForm.$submitted)">
                                               This field is required
                                           </p>
                                       </div>
                                       <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                                           <label>&nbsp;</label><span class="k-textbox k-space-right full-width">
                                               <input aria-controls="example" placeholder="SP Name/Remark/SP Remark" name="searchby" ng-model="temp.searchText" class="k-textbox input-sm">
                                               <a href="#" class="k-icon k-i-search">&nbsp;</a></span>

                                       </div>

                                       <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 m-t-10">
                                           <div class="pull-right">
                                               <button type="button" class="btn btn-primary btn-small m-t-15" ng-model="searchdeatil.searchdata" ng-click="searchdata();">{{"Search"|translate}}</button>
                                               <button type="button" class="btn btn-warning btn-small  m-t-15 " ng-click="reset();">{{"Reset"|translate}}</button>
                                           </div>
                                       </div>

                                   </div>
                               </div>      
            <table class="table table-bordered table-hover table-condensed m-t-20" id="Table1">
            <thead style="background-color: white">
            <tr style="background-color: #edefef">

           <!-- <th class="small-cell v-align-middle"  ng-model="checkradio"  ng-change="checkonebyAdd(info)"  ng-click="getdata();" style="z-index: 999">
            <div class="radio">
            <label><input type="radio" name="optradio"></label>
            </div>
            </th>-->
                <th>
                  <div class="checkbox check-success">
                          <input id="chk_term2" type="checkbox"  ng-click="checMultiple()">
                          <label for="chk_term2"></label>
                  </div>
                </th>

                      <th class="semi-bold">{{"CS No"| translate}}</th>
                      <th class="semi-bold">{{"Application Name"| translate }}</th>
                      <th class="semi-bold">{{"SP Name"| translate }}</th>
                      <th class="semi-bold">{{"Remark"| translate }}</th>
                      <th class="semi-bold">{{"SP Remark"| translate }}</th>
                      <th class="semi-bold">{{"Document"| translate }}</th>
                      <th class="semi-bold">{{"Testcase"| translate }}</th>
                      <th class="semi-bold">{{"Aprove Status"| translate }}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="info in Search_data  | orderBy:propertyName:reverse"" ng-class="row1">
            <!--<td>
            <div class="radio" style="height: 20px">
            <input type="radio" class="radio" name="chkdd" id="chk-{{ $index}}" ng-model="info.ifradio">
            <label for="chk-{{ $index}}">
            </label>
            </div>
            </td>-->

            <td>
                  <div class="checkbox check-success">
                          <input id="{{info.lic_changeset_no}}" type="checkbox" ng-model="info.ischeck">
                          <label for="{{info.lic_changeset_no}}"></label>
                  </div>
            </td>

                             
            <td><label id="Label15">{{info.lic_changeset_no }}</label></td>
            <td><label id="Label7">{{info.lic_appl_name}}</label></td>
            <td><label id="Label13">{{info.lic_sp_name}}</label></td>
            <td><label id="Label8">{{info.lic_remark}}</label></td>
            <td><label id="Label9">{{info.lic_sp_remark}}</label></td>
            <td><label id="Label2">{{info.lic_document}}</label></td>
            <td><label id="Label14">{{info.lic_test_case}}</label></td>
            <td><label id="Label16">{{info.lic_approve_by}}</label></td>
            <td class="v-align-middle">
            <span class="label label-success" ng-if="info.sims_grade_status==true">Active</span>
            <span class="label label-important" ng-if="info.sims_grade_status==false">In active</span>
            </td>
            </tr>
            </tbody>
            </table>
            </div>
                             <div class="modal-footer">
            <div class="row form-row">                          
            <div class="col-md-12">
            <div class="pull-right">
            <button type="button" class="btn btn-primary btn-small m-t-10" ng-click="AddDetail();">{{"Add"|translate}}</button>
            <button type="button" class="btn btn-warning btn-small " data-dismiss="modal" ng-click="Cancel();">{{"Cancel"|translate}}</button>
            </div>
            </div>
            </div>
            </div>                         
            </div>
            </div>
            </div> 
        </div>
    <!--</div>--> 
                
                   <div class="col-md-12">
       <!-- <label>Version/Version Detail</label>-->
        <table class="table table-bordered table-hover table-condensed row m-t-10" id="fixTable">
                <thead style="background-color: white">
                    <tr style="background-color: #edefef">
                     <th class="small-cell v-align-middle" style="z-index: 999">
                <div class="checkbox check-success">
             <input type="checkbox" value="2"  id="mainchk" ng-click="multipleselect()">
             <label for="mainchk"></label>
               </div>
                </th>
                <th class="semi-bold">{{"CS No"| translate}}</th>
                <th class="semi-bold">{{"Application Name"| translate }}</th>
                <th class="semi-bold">{{"SP Name"| translate }}</th>
                <th class="semi-bold">{{"Remark"| translate }}</th>
                <th class="semi-bold">{{"SP Remark"| translate }}</th>
                <th class="semi-bold">{{"Document"| translate }}</th>
                <th class="semi-bold">{{"Testcase"| translate }}</th>
                <th class="semi-bold">{{"Aprove Status"| translate }}</th>
                <th class="semi-bold">{{"Document Check"| translate }}</th>
                <th class="semi-bold">{{"Test-case Check"| translate }}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="info in infoget | orderBy:propertyName:reverse"" ng-class="row1" ng-dblclick="edit(info)">
                <td>
               <div class="checkbox check-success">
             <input type="checkbox" value="2"  ng-model="info.ischeck1" id="main_{{lic_changeset_no}}">
             <label for="main_{{lic_changeset_no}}"></label>
               </div>
                </td>
                               
             <td>{{info.lic_changeset_no }} </td>
            <td> {{info.lic_appl_name}} </td>
            <td>{{info.lic_sp_name}} </td>
            <td> {{info.lic_remark}} </td>
            <td>{{info.lic_sp_remark}} </td>
            <td>{{info.lic_document}} </td>
            <td>{{info.lic_test_case}} </td>
            <td>{{info.lic_approve_by}} </td>
                    <td>
              <div class="checkbox check-success">
              <input type="checkbox" value="1" ng-model="info.doccheck" id="doccheck_{{info.lic_changeset_no}}{{$index}}">
             <label for="doccheck_{{info.lic_changeset_no}}{{$index}}"></label>
             </div>

                    </td>
                     <td>
                
             <div class="checkbox check-success">
             <input type="checkbox" value="2"  ng-model="info.testcheck" id="testcheck_{{lic_changeset_no}}">
             <label for="testcheck_{{lic_changeset_no}}"></label>
               </div>
               

                     </td>
                
               
                </tr>
        </tbody>
        </table>
    </div>
    




                   <div class="row">
         
         
         <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 m-t-20">
         <label>Aprove By</label>
             <input name="txtCsno" id="Text1" class="form-control input-sm" style="width:210px;" ng-model="edt.approved_by" type="text" required>
          </div>

       <!--  <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 m-t-20">
         <label>Aprove Status</label>
         <select  class="form-control input-sm" id="aprove" name="modName"  style="width:210px;" ng-model="savedetails.comn_project_status_code">
         <option selected disabled value=""></option>
         <option ng-repeat="cr in ProjectStatus" value="{{cr.comn_project_status_code}}">{{cr.comn_project_status_name}}</option>
         </select>                         
          </div>-->
        
             <div class="row">
    <div class="col-md-12">
    <div class="form-actions">
    <div class="pull-right">
    <button class="btn btn-primary btn-small" type="submit" ng-click="SaveData()">{{"Save"|translate}}</button>                     
    <button class="btn btn-warning btn-small" type="button" ng-click="cancel()">{{"Cancel"|translate}}</button>
    </div>
    </div>
    </div>
    </div>
    </div>

          </form>         
   </div>
       </div>

