﻿<!--<link href="assets/css/DatePicker.css" rel="stylesheet" />
<link href="assets/css/Date-Picker-Main.css" rel="stylesheet" />
<script src="assets/js/DatePicker.js"></script>-->

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">


            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>


            <div class="page-title">
                <h3><span class="semi-bold">{{"Portal Reference"| translate }}</span>{{"Master" | translate}}</h3>
            </div>
            <div class="grid-body no-border paddingcode">
            <form name="myForm" ng-submit="Save(myForm.$valid)" novalidate="novalidate">
                <div ng-show="operation">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-3" ng-class="{'has-error': !myForm.refno.$valid && (myForm.refno.$touched || myForm.$submitted) }">
                                    <label id="Label4" for="txt_full_name" class="form-label"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Number"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <input type="text" name="refno" class="k-textbox" id="refno" ng-model="edt.sims_reference_number" ng-show="newmode" ng-pattern="/^(\d)+$/" ng-maxlength="2" required />

                                    <input type="text" ng-model="edt.sims_reference_number" ng-show="editmode" ng-readonly="true" class="form-control input-sm" />
                                    <p class="help-block" ng-show="myForm.refno.$error.required &&  (myForm.refno.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                    <p class="help-block" ng-show="myForm.refno.$error.pattern && (!myForm.$pristine && myForm.$submitted)">
                                        Enter only digits
                                    </p>
                                    <p class="help-block" ng-show="myForm.refno.$error.maxlength &&  (myForm.refno.$touched || myForm.$submitted)">
                                        Max Length 2 Digit Allowed
                                    </p>
                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !myForm.curName.$valid && (myForm.curName.$touched || myForm.$submitted) }">
                                    <label id="Label1" for="txt_Nationality_Code" class="form-label"><i class="fa fa-book"></i>&nbsp;{{"Curriculum"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <select id="cmb_cur_Code" data-role="dropdownlist" class="form-control" ng-model="temp.sims_cur_code" ng-show="newmode"
                                            ng-options="curName.sims_cur_code as curName.sims_cur_short_name_en for curName in curriculum" name="curName" required></select>

                                    <p class="help-block" ng-show="myForm.curName.$error.required &&  (myForm.curr.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                    <input type="text" ng-model="edt.sims_cur_name" class="k-textbox" style="width: 100%;" ng-show="editmode" ng-readonly="true" />
                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !myForm.pName.$valid && (myForm.pName.$touched || myForm.$submitted) }">
                                    <label id="Label2" for="txt_Country_Code" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Name"| translate }} </label>

                                    <input type="text" id="pName" name="pName" ng-maxlength="25" ng-model="edt.sims_reference_name" class="k-textbox" style="width: 100%;" />
                                    <!--<p class="help-block" ng-show="myForm.pName.$error.required &&  (myForm.pName.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>-->
                                    <p class="help-block" ng-show="myForm.pName.$error.maxlength &&  (myForm.pName.$touched || myForm.$submitted)">
                                        Max Length 25 Character Allowed
                                    </p>
                                </div>

                                <!-- <div class="col-md-3">
                                     <label id="label7" class="form-label">{{"File(doc,pdf,txt,png,jpeg)"| translate}}</label>
                                     <input type="file" id="file" name="file" class="form-control" ng-model="edt.sims_reference_filename"
                                             onchange="angular.element(this).scope().file_changed(this)"
                                             ng-files="getTheFiles($files)"  accept="application/pdf"  />
                                 </div>-->
                                <div class="col-md-3">
                                    <div class="pull-left">
                                        <label id="Label7" for="txt_Country_Code" class="form-label"><i class="fa fa-cloud-upload"></i>&nbsp;{{"File Upload"| translate }} </label>
                                        <input type="file" id="file1" name="file" onchange="angular.element(this).scope().file_changed(this)"
                                               ng-files="getTheFiles($files)" accept="all" style="float: initial; width: 120px; display: none" />
                                        <button class="btn btn-green" type="button" ng-click="uploadClick(info)" onclick="document.getElementById('file1').click();"><i class="fa fa-cloud-upload"></i>&nbsp;{{"Upload"| translate }}</button>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="pull-left">
                                        <label id="Label10" for="txt_Country_Code" class="form-label">&nbsp;</label>
                                        <label id="Label11" for="txt_Country_Code" class="form-label">{{edt.sims_timetable_filename}}</label>

                                    </div>
                                    <div ng-show="lbl_filename">
                                        <label id="Label12" for="txt_Country_Code" class="form-label">&nbsp;</label>
                                        <label id="Label13" for="txt_Country_Code" class="form-label">{{edt.sims_reference_filename}}</label>
                                    </div>
                                </div>

                                <div class="col-md-2" ng-show="eiamchkbox">
                                    <label id="Label14" for="txt_full_name" class="form-label">{{"Null"| translate }}</label>
                                    <div class="checkbox check-success">
                                        <input id="ChkNull" type="checkbox" ng-click="Chk_onces()">
                                        <label for="ChkNull"></label>
                                    </div>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-3" ng-class="{'has-error': !myForm.pdate.$valid && (myForm.pdate.$touched || myForm.$submitted) }">
                                    <label id="Label5" for="txt_full_name" class="form-label"><i class="fa fa-calendar"></i>&nbsp;{{"Publish Date"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <div class="no-padding">
                                        <input id="portal_publish_date" class="k-textbox" name="pdate" placeholder="Select Date" ng-change="showdate(edt.sims_reference_publish_date,'sims_reference_publish_date')"
                                               ng-model="edt.sims_reference_publish_date" required>
                                    </div>
                                    <!--<div class="input-append success date no-padding" data-datepicker="true">
                                        <input type="text" class="form-control" name="pdate" placeholder="Select Date" ng-change="showdate(edt.sims_reference_publish_date,'sims_reference_publish_date')"
                                               ng-model="edt.sims_reference_publish_date" required>
                                        <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                    </div>-->
                                    <p class="help-block" ng-show="myForm.pdate.$error.required &&  (myForm.pdate.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !myForm.sdate.$valid && (myForm.sdate.$touched || myForm.$submitted) }">
                                    <label id="Label6" for="txt_full_name" class="form-label"><i class="fa fa-calendar"></i>&nbsp;{{"Expiry Date"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <div class="no-padding">
                                        <input name="sdate" id="portal_expiry_date" class="k-textbox" placeholder="Select Date" ng-change="createdate(edt.sims_reference_expiry_date,edt.sims_reference_publish_date,'sims_reference_expiry_date')"
                                               ng-model="edt.sims_reference_expiry_date" required>   
                                    </div>
                                    <!--<div class="input-append success date no-padding" data-datepicker="true">
                                        <input type="text" name="sdate" class="form-control" placeholder="Select Date" ng-change="createdate(edt.sims_reference_expiry_date,edt.sims_reference_publish_date,'sims_reference_expiry_date')"
                                                ng-model="edt.sims_reference_expiry_date" required >
                                        <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                    </div>-->
                                    <p class="help-block" ng-show="myForm.sdate.$error.required &&  (myForm.sdate.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                </div>

                                <div class="col-md-2">
                                    <label id="Label8" for="txt_full_name" class="form-label"><i class="fa fa-bookmark"></i>&nbsp;{{"Status"| translate }}</label>
                                    <div class="checkbox check-success">
                                        <input id="chk_term" type="checkbox" class="k-checkbox" ng-model="edt.sims_reference_status">
                                        <label for="chk_term"></label>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <!--<label id="Label9" for="txt_full_name" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Learn Arabic"| translate }}</label>-->
                                    <label id="Label9" for="txt_full_name" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Quick Reference"| translate }}</label>
                                    <div class="checkbox check-success">
                                        <input id="chk_terms" type="checkbox" class="k-checkbox" ng-model="edt.sims_learn_arabic_status">
                                        <label for="chk_terms"></label>
                                    </div>
                                </div>

                                <div class="col-md-2">                                    
                                    <label id="Labe22" for="txt_full_name" class="form-label"><i class="fa fa-bookmark"></i>&nbsp;{{"Video Resource"| translate }}</label>
                                    <div class="checkbox check-success">
                                        <input id="video_resource" type="checkbox" class="k-checkbox" ng-model="edt.sims_reference_video_resource">
                                        <label for="video_resource"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <label id="label3" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Description"| translate}}</label>
                                    <textarea id="Text3" rows="7" ng-model="edt.sims_reference_desc" class="k-textbox" style="width: 100%;" />
                                </div>
                            </div>
                        </div>
                         </div>
                                
                        
                    <div class="row">
                        <div class="col-md-12">
                    <div class="form-actions">
                        <div class="pull-right">
                            <button class="btn btn-primary " type="submit" ng-show="savebtn"><i class="icon-ok"></i>{{"Save"| translate }}</button>
                            <button class="btn btn-primary " type="button" ng-show="updatebtn" ng-click="Update(myForm.$valid)"><i class="icon-ok"></i>{{"Update"| translate }}</button>
                            <button class="btn btn-danger" type="button" ng-show="deletebtn" ng-click="deleterecord()"><i class="icon-ok"></i>{{"Delete"| translate }}</button>
                            <button class="btn btn-danger" type="button" ng-click="cancel()">{{"Cancel"| translate }}</button>
                        </div>
                    </div>
                            </div>
                        </div>
                </div>
            </form>
            <!--table-->
            <div ng-show="table1">
                <div class="row">
                    <div class="col-md-6">
                        <select id="Select12" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="10" class="form-control input-sm">
                                10
                            </option>

                            <option value="20" class="form-control input-sm">
                                20
                            </option>

                            <option value="All" class="form-control input-sm">
                                All
                            </option>
                        </select>

                        &nbsp;
                        <button class="btn btn-success btn-cons" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate}}</button>
                        &nbsp;
                        <button class="btn btn-danger btn-cons" type="button" ng-click="deleterecord()" ng-readonly="deletee"><span class="semi-bold"></span>{{"Delete"| translate}}</button>
                    </div>


                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="Div1">
                                <!--<label>
                                    {{"Search:- "| translate}}
                                    <input type="text" aria-controls="example" autofocus="autofocus" ng-model="searchText" class="k-textbox" ng-change="search();">
                                </label>-->
                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div class="margin-top" style="width: 100%; height: 270px; overflow-x: auto; overflow-y: auto;margin-top:7px;">
                        <table class="table table-bordered table-hover table-condensed" id="fixTable">
                            <thead>
                                <tr>
                                    <th class="small-cell v-align-middle" style="z-index:1">
                                        <div class="checkbox check-success">
                                            <input type="checkbox" class="k-checkbox" name="check" value="1" id="all_chk" ng-click="check_all();">
                                            <label for="all_chk"></label>
                                        </div>
                                    </th>
                                    <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                        <a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"Curriculum"| translate }}</a>
                                    </th>
                                    <!--<th class="semi-bold">{{"CURRICULUM"| translate }}</th>-->
                                    <th class="semi-bold"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Number"| translate }}</th>
                                    <th class="semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"Name"| translate }}</th>
                                    <th class="semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"Description"| translate}}</th>
                                    <th class="semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"File Name"| translate}}</th>
                                    <th class="semi-bold"><i class="fa fa-calendar"></i>&nbsp;{{"Publish Date"| translate}}</th>
                                    <th class="semi-bold"><i class="fa fa-calendar"></i>&nbsp;{{"Expiry Date"| translate}}</th>
                                    <th class="semi-bold"><i class="fa fa-bookmark"></i>&nbsp;{{"Status"| translate}}</th>
                                    <th class="semi-bold"><i class="fa fa-bookmark"></i>&nbsp;{{"Quick Reference"| translate}}</th>
                                    <th class="semi-bold"><i class="fa fa-bookmark"></i>&nbsp;{{"Video Resource"| translate}}</th>
                                    <th class="semi-bold"><i class="fa fa-cogs"></i></th>
                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <tr ng-repeat="obj in filteredTodos | orderBy:orderByField:reverseSort" ng-class="row1">
                                    <td class="small-cell v-align-middle">
                                        <div class="row-fluid" style="height: 20px">
                                            <div class="checkbox check-success">
                                                <input type="checkbox" class="k-checkbox" value="1" id="{{$index+obj.sims_reference_number}}" ng-click="check_once()">
                                                <label for="{{$index+obj.sims_reference_number}}"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{obj.sims_cur_name}}</td>
                                    <td>{{obj.sims_reference_number}}</td>
                                    <td>{{obj.sims_reference_name}}</td>
                                    <td>{{obj.sims_reference_desc | limitTo: 25}}</td>
                                    <td><a href="{{url}}/Docs/portalReference/{{obj.sims_reference_filename}}" target="_blank">{{obj.sims_reference_filename}}</a></td>
                                    <td>{{obj.sims_reference_publish_date}}</td>
                                    <td>{{obj.sims_reference_expiry_date}}</td>
                                    <td class="v-align-middle">
                                        <span ng-if="obj.sims_reference_status==true" class="label label-success">Active</span>
                                        <span ng-if="obj.sims_reference_status==false" class="label label-important">In active</span>
                                    </td>
                                    <td class="v-align-middle">
                                        <span ng-if="obj.sims_learn_arabic_status==true" class="label label-success">True</span>
                                        <span ng-if="obj.sims_learn_arabic_status==false" class="label label-important">False</span>
                                    </td>
                                    <td class="v-align-middle">
                                        <span ng-if="obj.sims_reference_video_resource==true" class="label label-success">Yes</span>
                                        <span ng-if="obj.sims_reference_video_resource==false" class="label label-important">No</span>
                                    </td>
                                    <td>
                                        <a href="" title="To Update Click Here."><i class="fa fa-edit" ng-click="up(obj)"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" ng-show="pager">
                    <div class="col-md-12">
                        <div class="row form-row">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="loader0712">
    <div class="modal-dialog" id="top">
        <div class="modal-content">
            <div class="box1" style="position: fixed; margin-top: 50%; left: 50%;">
                <img src="assets/img/loading_transparent_.gif">
            </div>
        </div>
    </div>
</div>
<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>

<!--<script>
    $(document).ready(function () {
        $("#expiry_date").kendoDatePicker();
        $("#publish_date").kendoDatePicker();
    });
</script>-->
