﻿
<div class="row" ng-show="grid">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"PP Field Status" | translate }}</span></h3>

            </div>

            <div class="grid-body no-border">
                <!--    <div id="example_wrapper" class="dataTables_wrapper form-inline">-->
                <!--  <div style="width:100%;height:300px;overflow:scroll">-->

                <div class="row">
                    <div class="col-md-6">
                        &nbsp;
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                                <!--<label>
                                    Search:&nbsp;<input type="text" aria-controls="example" ng-model="search.$" class="input-medium">
                                </label>-->
                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="search.$" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                </span>
                                <!--<input type="text" aria-controls="example" ng-model="searchText" placeholder="Field No/ Field Name" class="input-medium" autofocus="autofocus"  tabindex="1" ng-change="search()"></label>-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row margin-top">
                    <div class="col-md-12">

                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <table class="table table-hover table-bordered table-condensed" id="example">
                            <thead>
                                <tr style="background-color: #e9e4e4">
                                    <td style="font-weight:bold"><b>{{"NO" | translate }}</b></td>
                                    <td style="font-weight:bold"><b>{{"FIELD NAME" | translate }}</b></td>
                                    <td style="font-weight:bold"><b>{{"EDITABLE" | translate }}</b></td>
                                    <td style="font-weight:bold"><b>{{"VISIBLE" | translate }}</b></td>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="ppfield in obj |filter:search:strict" ng-class="row1">
                                    <td><div>{{ppfield.sims_field_code}}</div></td>
                                    <td><div>{{ppfield.sims_field_name}}</div></td>
                                    <td>

                                        <!--  <div class="container">-->
                                        <label class="switch switch-green">
                                            <input type="checkbox" class="switch-input" checked ng-model="ppfield.sims_field_iseditable" ng-change="Getinfo(ppfield.sims_field_code,ppfield.sims_field_iseditable,ppfield.sims_field_isvisible)">
                                            <span class="switch-label" data-on="On" data-off="Off"></span>
                                            <span class="switch-handle"></span>
                                        </label>
                                        <!--  </div>-->
                                    </td>
                                    <td>

                                        <label class="switch switch-green">
                                            <input type="checkbox" class="switch-input" checked ng-model="ppfield.sims_field_isvisible" ng-change="Getinfo(ppfield.sims_field_code,ppfield.sims_field_iseditable,ppfield.sims_field_isvisible)">
                                            <span class="switch-label" data-on="On" data-off="Off"></span>
                                            <span class="switch-handle"></span>
                                        </label>


                                        <!-- <div class="row-fluid">switch switch-green
                                          <div class="slide-success">
                                            <input type="checkbox" name="switch" class="ios" checked="checked"/>
                                          </div>
                                        </div> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="myModal">
        <div class="modal-dialog" id="div7" style="width: 300px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="semi-bold pull-left">{{"Message" | translate }}</h5>
                    <br />
                </div>
                <div class="modal-body">
                    <br />
                    <label>{{msg1.strMessage}}</label>
                    <br />
                </div>
                <div class="modal-footer" style="height: 60px">
                    <button type="button" class="btn btn-primary btn-cons" data-dismiss="modal">{{"Ok" | translate }}</button>
                </div>

            </div>
        </div>
    </div>
</div>



