﻿<style>
    #reportViewer1 {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 5px;
        overflow: hidden;
        font-family: Verdana, Arial;
    }
    .report_holder{
        height: 600px;
        position: relative;
    }
</style>
<link href="https://kendo.cdn.telerik.com/2015.3.930/styles/kendo.common.min.css" rel="stylesheet" />
<link href="https://kendo.cdn.telerik.com/2015.3.930/styles/kendo.blueopal.min.css" rel="stylesheet" />
<link href="ReportViewerNew/styles/telerikReportViewer.css" rel="stylesheet" />

<!--<script src="ReportViewer/js/kendo.subset.2015.3.930.min.js"></script>
<script src="ReportViewer/js/telerikReportViewer-10.1.16.504.js"></script>
<script src="ReportViewer/js/telerikReportViewer-10.1.16.504.min.js"></script>-->


<script src="ReportViewerNew/js/telerikReportViewer.kendo-11.1.17.614.min.js"></script>
<script src="ReportViewerNew/js/telerikReportViewer-11.1.17.614.js"></script>
<script src="ReportViewerNew/js/telerikReportViewer-11.1.17.614.min.js"></script>


 <div class="page-title1" ng-click="back()">
    <a href=""><i style="font-size: 30px;" class="fa fa-arrow-circle-left"></i></a>
    <h3 class="back_title" style="    font-size: 15px;font-weight: 450;    line-height: 9px;">Back</h3>
 </div>
<div class="row report_holder">
    <div id="reportViewer1">
        loading...
    </div>
</div>








