﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="row" ng-show="notshow2">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage2"
                                   ng-init="currentPage2 = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage2" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize2" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots2"
                                   ng-init="dots2 = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass2" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass2"
                                   ng-init="activeClass2 = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass2"
                                   ng-init="disabledClass2 = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext2"
                                           ng-init="showPrevNext2 = true" />
                                    {{showPrevNext2}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast2"
                                           ng-init="showFirstLast2 = true" />
                                    {{showPrevNext2}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage2 = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="page-title">
                <h3><span class="semi-bold">{{"Search"| translate }} &nbsp;</span>{{"User"| translate }}</h3>
            </div>

            <div class="grid-body no-border">
            <form name="myForm" ng-submit="Save(myForm.$valid)" novalidate="novalidate">
                
                <div ng-show="operation">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="row">
                                <div class="radio radio-success">
                                    <input id="chk_User" type="radio" class="k-radiobox" ng-disabled="disusr" name="Recepient" value="user_true" ng-click="get_ischecked(temp1.sims_user)" ng-model="temp1.sims_user">
                                    <label for="chk_User">{{"New User"|translate}}</label>
                                    <input id="chk_Employee" type="radio" class="k-radiobox" ng-disabled="disemp" name="Recepient" value="emp_true" ng-click="get_ischecked(temp1.sims_user)" ng-model="temp1.sims_user">
                                    <label for="chk_Employee">{{"Employee"|translate}}</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="row form-row">

                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-3">

                                            <!--<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{"Image Upload"| translate }}</label>-->
                                            <div class="col-md-3">

                                                <img alt="" src="{{prev_img}}" style="width: 100px; height: 100px" onerror="this.src='Images/StudentImage/default.jpg'" ng-src="{{sims_caretaker_img}}" />

                                                <input type="file" id="file1" name="file" onchange="angular.element(this).scope().file_changed(this)"
                                                       ng-files="getTheFiles($files)" accept="image/*" style="float: initial; width: 120px;" ng-hide="true" />
                                                <div style="margin-top: 5px;">
                                                    <a href="" class="label label-important " type="button" onclick="document.getElementById('file1').click();"><i class="fa fa-cloud-upload"></i>Upload</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="col-md-9">
                            <div class="row form-row">



                                <div class="col-md-3" ng-show="designation">
                                    <label>{{ "Designation" | translate }}</label>
                                    <select id="cmb_desig_Code" class="form-control input-sm full-width" data-role="dropdownlist"
                                            ng-model="edt.dg_code"
                                            ng-change="getcaretakeremployeename(edt.dg_code)"
                                            ng-options="desig.dg_code as desig.dg_desc for desig in Designation">
                                        <option value="">Please Select</option>
                                    </select>
                                </div>

                                <div class="col-md-3" ng-show="employeecarename">
                                    <label id="Label1" for="txt_Nationality_Code" class="form-label">{{"Employee Name"| translate }}</label>
                                    <select id="cmb_School_Code" class="form-control input-sm full-width" data-role="dropdownlist"
                                            name="user" ng-show="newmode"
                                            ng-model="edt.sims_employee_code"
                                            ng-change="getcaretakername(edt.sims_employee_code)" ng-disabled="stddis"
                                            ng-options="Emp.sims_employee_code as Emp.sims_employee_code_name for Emp in get_AllEmpC">
                                        <option value="">Please Select</option>
                                    </select>
                                    <input type="text" id="Text_year" ng-model="edt.sims_employee_code_name" class="k-textbox input-sm full-width" ng-show="editmode" disabled="disabled" />
                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !myForm.caretakername.$valid && (myForm.caretakername.$touched || myForm.$submitted) }">
                                    <label id="Label4" for="txt_full_name" class="form-label">{{"Caretaker Name"| translate }}</label>
                                    <input type="text" id="Text2" ng-model="edt.sims_caretaker_name" name="caretakername" ng-show="newmode" class="k-textbox input-sm full-width" ng-maxlength="50" required />
                                    <p class="help-block" ng-show="myForm.caretakername.$error.required &&  (myForm.caretakername.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                    <p class="help-block" ng-show="myForm.caretakername.$error.maxlength &&  (myForm.caretakername.$touched || myForm.$submitted)">
                                        Caretaker name should be 50 characters
                                    </p>
                                    <input type="text" id="txt_care_name" ng-model="edt.sims_caretaker_name" class="k-textbox input-sm full-width" ng-show="editmode" disabled="disabled" />
                                </div>

                                <div class="col-md-3" ng-class="{'has-error': !myForm.usercode.$valid && (myForm.usercode.$touched || myForm.$submitted) }">
                                    <label id="Label2" for="txt_user_code" class="form-label">{{"User Code"| translate }}</label>
                                    <input type="text" id="Text1" ng-model="edt.sims_user_code" name="usercode" class="k-textbox input-sm full-width" ng-show="newmode" ng-maxlength="10" required />

                                    <p class="help-block" ng-show="myForm.usercode.$error.maxlength &&  (myForm.usercode.$touched || myForm.$submitted)">
                                        User code should be 10 digit
                                    </p>
                                    <p class="help-block" ng-show="myForm.usercode.$error.required &&  (myForm.usercode.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                    <input type="text" id="txt_user_code" ng-model="edt.sims_user_code" class="k-textbox input-sm full-width" ng-show="editmode" disabled="disabled" />
                                </div>

                                <div class="col-md-3" ng-show="caretaker_email" ng-class="{'has-error': !myForm.caretakermail.$valid && (myForm.caretakermail.$touched || myForm.$submitted) }">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Email ID"| translate }}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" id="txt_dri_email_id" placeholder="abc123@xyz.com" name="caretakermail" ng-show="newmode"
                                                   ng-model="edt.sims_caretaker_email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" class="k-textbox input-sm full-width" />
                                        </div>
                                    </div>
                                    <p class="help-block" ng-show="myForm.caretakermail.$error.pattern &&  (myForm.caretakermail.$touched || myForm.$submitted)">
                                        Not Valid Email
                                    </p>
                                    <input type="text" id="Text4" ng-model="edt.sims_caretaker_email" class="k-textbox input-sm full-width" ng-show="editmode" disabled="disabled" />
                                </div>

                            </div>
                        </div>

                        <div class="col-md-9">
                            <div class="row form-row">

                                <div class="col-md-2">
                                    <label id="Label3" for="txt_full_name" class="form-label">{{"Experience Year"| translate }}</label>
                                    <input type="text" id="Text3" ng-model="edt.sims_experience_years" class="k-textbox input-sm full-width" />

                                </div>

                                <div class="col-md-2">
                                    <label id="Label10" for="txt_full_name" class="form-label">{{"Status"| translate }}</label>
                                    <div class="checkbox check-success">
                                        <input id="chk_term3" type="checkbox" ng-model="edt.sims_caretaker_status">
                                        <label for="chk_term3"></label>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-dm-12">
                    <div class="form-actions">
                        <div class="pull-right">
                            <button class="btn btn-primary btn-cons" type="submit" ng-show="savebtn"><i class="icon-ok"></i>{{"Save"| translate }}</button>
                            <button class="btn btn-primary btn-cons" type="button" ng-show="updatebtn" ng-click="Update(myForm.$valid)"><i class="icon-ok"></i>{{"Update"| translate }}</button>
                            <button class="btn btn-danger btn-cons" type="button" ng-show="deletebtn" ng-click="deleterecord()"><i class="icon-ok"></i>{{"Delete"| translate }}</button>
                            <button class="btn btn-warning btn-cons" type="button" ng-click="cancel()">{{"Cancel"| translate }}</button>
                        </div>
                    </div>
                            </div>
                        </div>
                </div>
            </form>



            <!--table-->
            <div ng-show="table1">
                 <div class="row">

                    <div class="col-md-6">
                        <select id="Select12" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="5" class="form-control input-sm">
                                5
                            </option>

                            <option value="10" class="form-control input-sm">
                                10
                            </option>

                            <option value="15" class="form-control input-sm">
                                15
                            </option>
                        </select>

                        &nbsp;
                        <button class="btn btn-success btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate}}</button>
                        &nbsp;
                        <button class="btn btn-danger btn-small" type="button" ng-click="deleterecord()"><span class="semi-bold"></span>{{"Delete"| translate}}</button>
                    </div>

                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="Div1">
                                <!--<label>
                                    {{"Search"| translate}}  &nbsp;
                                    <input type="text" placeholder="Search" autofocus="autofocus" aria-controls="example" ng-model="searchText" class="k-textbox" ng-change="search();">
                                </label>-->
                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                </span>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div class="row margin-top">
                        <div class="col-md-12">
                        <table class="table table-bordered table-hover  table-condensed" id="fixTable">
                            <thead>
                                <tr style="background-color: #edefef">
                                    <th class="small-cell v-align-middle" style="z-index: 1">
                                        <div class="checkbox check-success">
                                            <input type="checkbox" class="k-checkbox" name="check" value="1" id="mainchk" ng-click="CheckAllChecked();">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>
                                    <th class="semi-bold">{{"Search User Code"| translate }}</th>
                                    <th class="semi-bold">{{"Description"| translate}}</th>
                                    <th class="semi-bold">{{"Users"| translate }}</th>

                                    <th class="semi-bold">{{"VIEW"| translate}}</th>
                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <tr ng-repeat="obj in filteredTodos" ng-class="row1">
                                    <td class="small-cell v-align-middle">
                                        <div class="row-fluid" style="height: 20px">
                                            <div class="checkbox check-success">
                                                <input type="checkbox" class="k-checkbox" value="1" id="{{obj.sims_search_code+$index}}" ng-click="checkonebyonedelete()">
                                                <label for="{{obj.sims_search_code+$index}}"></label>
                                            </div>
                                        </div>
                                    </td>

                                    <td>{{obj.sims_search_code}}</td>
                                    <td>{{obj.description}}</td>
                                    <td>{{obj.users}}</td>

                                    <td><a href="#" ng-click="View(obj)">View</a></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                        </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>
                        </div>
                </div>

            </div>
</div>
</div>

    </div>
</div>
            <!--Modal table-->
            <div class="modal fade in" id="MyModal" role="dialog" style="display: none;">
                <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 1000px;">
                    <div class="modal-content" uib-modal-transclude="" style="height: 550px;">
                        <div class="modal-header ng-scope" style="height: 40px">

                            <div class="pull-left">
                                <h4 class="modal-title custom-font" style="margin-top: -5px"><b>{{"Search View"|translate}}</b></h4>
                            </div>

                            <div class="pull-right">
                                <a href="">
                                    <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>
                                </a>
                            </div>

                        </div>

                        <div class="grid simple">
                            <div class="grid-body no-border">
                                <div class="row">

                                    <div class="grid-body no-border" ng-show="Modaltable">
                                        <br />
                                        <!--<div class="row form-row">
                                            <div class="col-md-6">
                                                <select id="Select12" style="width: 60px" name="user" ng-model="pagesize2" ng-change="size2(pagesize2)">

                                                    <option value="5" class="form-control input-sm">
                                                        5
                                                    </option>

                                                    <option value="10" class="form-control input-sm">
                                                        10
                                                    </option>

                                                    <option value="15" class="form-control input-sm">
                                                        15
                                                    </option>
                                                </select>

                                                &nbsp;
                                                 <button class="btn btn-success btn-cons" style="height: 35px" type="button" ng-click="New1()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate}}</button>
                                                 &nbsp;
                                                 <button class="btn btn-danger btn-cons" style="height: 35px" type="button" ng-click="deleterecord1()"><span class="semi-bold"></span>{{"Delete"| translate}}</button>
                                            </div>
                                        </div>-->
                                        <div id="Div2" class="dataTables_wrapper form-inline">
                                            <div style="width: 100%; height: 270px; overflow-x: auto; overflow-y: auto">
                                                <table class="table table-bordered table-hover" id="fixtable1">
                                                    <thead>
                                                        <tr style="background-color: #edefef">
                                                            <th ng-repeat="(key,val) in SearchUserOutout_data[0]">{{key}}</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                        <tr ng-repeat="item in SearchUserOutout_data" ng-class="row1">
                                                            <td ng-repeat="(key,val) in item">{{val}}</td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <!--<div class="row">
                                        <div class="col-md-12">
                                            <div class="row form-row">
                                                <div class="pull-right">
                                                    <paging class="small" page="currentPage2" page-size="pageSize2" total="pagersize2" pg-href="#GotoPage-{page2}" dots="{{dots2}}" show-prev-next="{{showPrevNext2}}"
                                                            scroll-top="{{scrollTop2}}" hide-if-empty="{{hideIfEmpty2}}" ul-class="{{ulClass2}}" active-class="{{activeClass2}}" disabled-class="{{disabledClass2}}" show-first-last="{{showFirstLast2}}"
                                                            paging-action="DoCtrlPagingAct('Paging Clicked', page2, pageSize2, totalItems2)"
                                                            ng-click="index2(currentPage2)">
                                                    </paging>
                                                </div>
                                            </div>
                                        </div>
                                    </div>-->

                                </div>

                            </div>
                            <div class="modal-footer" ng-show="searchtable">
                                <button class="btn btn-success btn-cons" data-dismiss="modal" type="button" ng-click="DataEnroll()">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        




