﻿
<style>
     .sortorder:after {
         content: '\25b2';
     }

     .sortorder.reverse:after {
         content: '\25bc';
     }

     .form-actions {
         padding: 7px 20px 7px;
     }
     /*.margin-top {
     margin-top: 3px !important;
    }*/
     #example_wrapper {
         background-color: #fff;
         margin-left: -7px;
         margin-right: -7px;
         margin-top: -9px;
     }
</style>


<div class="loading-middle" ng-hide="dis1">
    {{ "Loading..." | translate }}
</div>


<div class="row">

    <div class="row" ng-show="notshow">
        <div class="col-xs-4">
            <div class="well" class="form-group">
                <div class="form-group">
                    <label>Current Page:</label>
                    <input placeholder="page"
                           class="form-control"
                           ng-model="currentPage"
                           ng-init="currentPage = 1" />
                </div>
                <div class="form-group">
                    <label>Page Size:</label>
                    <input placeholder="Page Size"
                           class="form-control"
                           ng-model="numPerPage" />
                </div>
                <div class="form-group">
                    <label>Total Items:</label>
                    <input placeholder="Total"
                           class="form-control"
                           ng-model="pagersize" />
                </div>
                <hr />
                <div class="form-group">
                    <label>Dots Display:</label>
                    <input placeholder="..."
                           class="form-control"
                           maxlength="3"
                           ng-model="dots"
                           ng-init="dots = '...'" />
                </div>

                <hr />
                <div class="form-group">
                    <label>UL Class:</label>
                    <input placeholder="pagination"
                           class="form-control"
                           maxlength="100"
                           ng-model="ulClass" />
                </div>
                <div class="form-group">
                    <label>Active Class:</label>
                    <input placeholder="active"
                           class="form-control"
                           maxlength="100"
                           ng-model="activeClass"
                           ng-init="activeClass = 'active'" />
                </div>
                <div class="form-group">
                    <label>Disabled Class:</label>
                    <input placeholder="disabled"
                           class="form-control"
                           maxlength="100"
                           ng-model="disabledClass"
                           ng-init="disabledClass = 'disabled'" />
                </div>
                <br />
                <table class="table">

                    <tr>
                        <td>
                            <label>Show Prev Next:</label>
                        </td>
                        <td>
                            <input type="checkbox"
                                   ng-model="showPrevNext"
                                   ng-init="showPrevNext = true" />
                            {{showPrevNext}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Show First Last:</label>
                        </td>
                        <td>
                            <input type="checkbox"
                                   ng-model="showFirstLast"
                                   ng-init="showFirstLast = true" />
                            {{showPrevNext}}
                        </td>
                    </tr>
                </table>
                <hr />
                <span class="btn btn-default" onclick="location.reload()">
                    <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                </span>
                <span class="btn btn-success" ng-click="currentPage = 0">
                    Apply Settings
                </span>
                <br />
                <br />
            </div>
        </div>
    </div>
    `
    <div class="col-md-12">
        <div>

            <div ng-show="dis1">
                <div >
                    <div class="grid simple" style="margin-bottom:7px;">
                        <div class="grid-body no-border bluegrid paddingcode">
                            <div>

                                <div class="row">
                                    <div class="col-md-2">
                                        <label id="Label18" for="txt_full_name" class="form-label"><i class="fa fa-book"></i>&nbsp;{{"Curriculum Name" | translate }}</label>
                                        <select id="cmb_School_Code" class="form-control input-sm full-width" data-role="dropdownlist"
                                                name="cmb_School_Code" ng-model="edt.sims_cur_code" ng-change="getacyr(edt.sims_cur_code)"
                                                ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in curriculum" style="width: 100%;">
                                            <option value="" selected disabled>Please Select</option>
                                        </select>
                                    </div>

                                    <div class="col-md-2">
                                        <label id="Label2" for="txt_full_name" class="form-label"><i class="fa fa-sort-amount-asc"></i>&nbsp;{{"Academic Year"| translate }}</label>
                                        <select id="cmb_academic_year" class="form-control input-sm full-width" data-role="dropdownlist" ng-model="edt.sims_academic_year" ng-change="getsections(edt.sims_cur_code,edt.sims_academic_year);"
                                                ng-options="year1.sims_academic_year as year1.sims_academic_year_desc for year1 in Academic_year">
                                            <option value="" selected disabled>Please Select</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label id="Label3" for="txt_full_name" class="form-label"><i class="fa fa-sitemap"></i>&nbsp;{{"Grade" | translate }}</label>
                                        <select id="cmb_grade_code" class="form-control input-sm full-width" data-role="dropdownlist" ng-model="edt.sims_grade_code" ng-change="showSections(edt.sims_cur_code,edt.sims_academic_year,edt.sims_grade_code)" ;"
                                                ng-options="grade_cod.sims_grade_code as grade_cod.sims_grade_name for grade_cod in grade">
                                            <option value="" selected disabled>Please Select</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row" ng-show="loading">
                                    <div class="col-md-12 form-group">
                                        <div class="col-md-6 pull-right">
                                            <img src="assets/theme/img/loading.gif" />
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 paddingcode" style="background-color:#fff;">
                    <div class="row margin-top" style="margin-top:2px;">

                        <div class="row" style="margin-left:0px;">
                            <div class="col-md-6">

                                <select id="Select8" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                                    <option value="All" class="form-control input-sm">
                                        All
                                    </option>

                                    <option value="10" class="form-control input-sm">
                                        10
                                    </option>

                                    <option value="15" class="form-control input-sm">
                                        20
                                    </option>
                                </select>

                                &nbsp;&nbsp;

                                <button type="button" class="btn btn-success btn-small" ng-click="New();">{{"New" | translate }}</button>
                                &nbsp;&nbsp;
                                <button type="button" class="btn btn-danger btn-small" ng-click="Delete_Records();">{{"Delete" | translate }}</button>
                                &nbsp;&nbsp;
                                <button type="button" class="btn btn-warning btn-small" ng-click="Reset();">{{"Reset" | translate }}</button>

                            </div>


                            <div class="col-md-6">
                                <div class="pull-right">
                                    <div class="dataTables_filter" id="example_filter">
                                        <!--<label>
                                            {{"Search" | translate }} &nbsp;
                                            <input type="text" aria-controls="example" placeholder="Section Name/Strength" ng-model="searchText" autofocus="autofocus" class="k-textbox" ng-change="search()">
                                        </label>-->
                                        <span class="k-textbox k-space-right full-width">
                                            <input type="text" aria-controls="example" ng-model="searchText" placeholder="Section Name/Strength" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                            <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="example_wrapper" class="dataTables_wrapper form-inline paddingcode" ng-show="table">
                        <div class="row margin-top">
                            <div class="col-md-12">
                                <div style="width: 100%; height: auto; overflow-x: auto; overflow-y: auto">
                                    <table class="table table-bordered  table-condensed" id="fixTable">
                                        <thead>
                                            <tr>
                                                <th class="semi-bold">&nbsp;</th>

                                                <th class="small-cell v-align-middle" style="z-index: 1">
                                                    <div class="checkbox check-success">
                                                        <input id="mainchk" type="checkbox" value="1" ng-click="check()">
                                                        <label for="mainchk"></label>
                                                    </div>
                                                </th>

                                                <th class="semi-bold">
                                                    <i class="fa fa-align-justify"></i>&nbsp;<b>{{convertedname}}&nbsp;&nbsp;&nbsp;{{"Name"| translate }}</b>
                                                </th>

                                                <th class="semi-bold" ng-click="sortBy('_sims_section_name')"style="width:7%;">
                                                    <i class="fa fa-sitemap"></i>&nbsp;<b>{{"Grade Code"| translate }}</b>
                                                    <span class="sortorder" ng-show="propertyName === '_sims_section_code'" ng-class="{reverse: reverse}"></span>
                                                </th>

                                                <th class="semi-bold" ng-click="sortBy('_sims_section_name')"style="width:8%;">
                                                    <i class="fa fa-sitemap"></i>&nbsp;<b>{{"Grade Name"| translate }}</b>
                                                    <span class="sortorder" ng-show="propertyName === '_sims_section_name'" ng-class="{reverse: reverse}"></span>
                                                </th>
                                                <th class="semi-bold" ng-click="sortBy('_sims_section_name')"style="width:8%;">
                                                    <i class="fa fa-align-justify"></i>&nbsp;<b>{{"Section Code"| translate }}</b>
                                                    <span class="sortorder" ng-show="propertyName === '_sims_section_code'" ng-class="{reverse: reverse}"></span>
                                                </th>

                                                <th class="semi-bold" ng-click="sortBy('_sims_section_name')"style="width:9%;">
                                                    <i class="fa fa-align-justify"></i>&nbsp;<b>{{"Section Name"| translate }}</b>
                                                    <span class="sortorder" ng-show="propertyName === '_sims_section_name'" ng-class="{reverse: reverse}"></span>
                                                </th>
                                                <th class="semi-bold" ng-click="sortBy('sims_section_name_en')"style="width:7%;">
                                                    <i class="fa fa-align-justify"></i>&nbsp;<b>{{"Name(Eng)"| translate }}</b>
                                                    <span class="sortorder" ng-show="propertyName === 'sims_section_name_en'" ng-class="{reverse: reverse}"></span>
                                                </th>
                                                <th class="semi-bold" ng-click="sortBy('sims_section_stregth')"style="width:9%;">
                                                    <i class="fa fa-align-justify"></i>&nbsp;<b>{{"Section Strength"| translate }}</b>
                                                    <span class="sortorder" ng-show="propertyName === 'sims_section_stregth'" ng-class="{reverse: reverse}"></span>
                                                </th>
                                                <th class="semi-bold" ng-click="sortBy('sims_section_promote_desc')"style="width:8%;">
                                                    <i class="fa fa-user"></i>&nbsp;<b> {{"Promote Class"| translate }}</b>
                                                    <span class="sortorder" ng-show="propertyName === 'sims_section_promote_desc'" ng-class="{reverse: reverse}"></span>
                                                </th>
                                                <th class="semi-bold" ng-click="sortBy('sims_section_boys_promote_desc')"style="width:10%;">
                                                    <i class="fa fa-male"></i>&nbsp;<b>{{"Boys Promote Class"| translate }}</b>
                                                    <span class="sortorder" ng-show="propertyName === 'sims_section_boys_promote_desc'" ng-class="{reverse: reverse}"></span>
                                                </th>
                                                <th class="semi-bold" ng-click="sortBy('sims_section_girls_promote_desc')"style="width:10%;">
                                                    <i class="fa fa-female"></i>&nbsp;<b>{{"Girls Promote Class"| translate }}</b>
                                                    <span class="sortorder" ng-show="propertyName === 'sims_section_girls_promote_desc'" ng-class="{reverse: reverse}"></span>
                                                </th>
                                                <th class="semi-bold" ng-click="sortBy('sims_section_gender_desc')"style="width:5%;">
                                                    <i class="fa fa-male"></i><i class="fa fa-female"></i>&nbsp;<b>{{"Gender"| translate }}</b>
                                                    <span class="sortorder" ng-show="propertyName === 'sims_section_gender_desc'" ng-class="{reverse: reverse}"></span>
                                                </th>
                                                <th class="semi-bold" ng-click="sortBy('sims_status')">
                                                    <i class="fa fa-align-justify"></i>&nbsp;<b>{{"Status"| translate }}</b>
                                                    <span class="sortorder" ng-show="propertyName === 'sims_status'" ng-class="{reverse: reverse}"></span>
                                                </th>

                                                <th class="semi-bold">
                                                    <label><i class="fa fa-cogs"></i>&nbsp;<b>{{"Action" | translate }}</b></label>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="info in filteredTodos | orderBy:propertyName:reverse" ng-class="row1">
                                                <td class="text-center"><i class="{{info.icon}}" ng-click="expand(info, $event);"></i></td>
                                                <td>
                                                    <div class="row-fluid">
                                                        <div class="checkbox check-success" style="height: 20px">
                                                            <input id="{{info.sims_section_code+info._sims_section_name}}" type="checkbox" value="1" ng-click="CheckAny(info.sims_section_code)">
                                                            <label for="{{info.sims_section_code+info._sims_section_name}}"></label>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <label id="Label27">{{info.school_name}}</label>
                                                </td>
                                                <td>
                                                    <label id="Label11">{{info.grade_code}}</label>
                                                </td>
                                                <td>
                                                    <label id="Label11">{{info.sims_grade_name}}</label>
                                                </td>
                                                <td>
                                                    <label id="lbl">{{info.sims_section_code}}</label>
                                                </td>
                                                <td>
                                                    <label id="lbl">{{info._sims_section_name}}</label>
                                                </td>
                                                <td>
                                                    <label id="Label5">{{info.sims_section_name_en}}</label>
                                                </td>
                                                <td>
                                                    <label id="Label9">{{info.sims_section_stregth}}</label>
                                                </td>
                                                <td>
                                                    <label id="Label10">{{info.sims_section_promote_desc}}</label>
                                                    <!--<label id="Label20">{{info._sims_section_name}}</label>-->
                                                </td>
                                                <td>
                                                    <label id="Label23">{{info.sims_section_boys_promote_desc}}</label>
                                                    <!--<label id="Label20">{{info._sims_section_name}}</label>-->
                                                </td>
                                                <td>
                                                    <label id="Label24">{{info.sims_section_girls_promote_desc}}</label>
                                                    <!--<label id="Label20">{{info._sims_section_name}}</label>-->
                                                </td>
                                                <td>
                                                    {{info.sims_section_gender_desc}}
                                                </td>
                                                <td class="v-align-middle">
                                                    <span ng-if="info.sims_status==true" class="label label-success">{{"Active"| translate }}</span>
                                                    <span ng-if="info.sims_status==false" class="label label-important">{{"In active"| translate }}</span>
                                                </td>

                                                <td>
                                                    <a href=""><i class="fa fa-edit" ng-click="Update(info)"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="pager">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                            ng-click="index(currentPage)">
                                    </paging>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div ng-show="dis2">



                <form name="Myform" ng-submit="save(Myform.$valid)" novalidate="novalidate">
                    <div class="grid simple" style="margin-bottom: 6px;">
                        <div class="grid-body no-border">
                            <div class="row">
                                <div class="col-md-2" ng-class="{'has-error': !Myform.Select4.$valid && (Myform.Select4.$touched || Myform.$submitted)}">
                                    <label id="Label7" for="txt_Nationality_Code" class="form-label"><i class="fa fa-book"></i>&nbsp;{{"Curriculum" | translate }} <span class="asterisk" style="color: red">*</span></label>

                                    <select id="Select2" class="form-control input-sm full-width" data-role="dropdownlist"
                                            name="Select4" ng-model="temp.sims_cur_code" ng-disabled="curiculum" ng-change="getacyr(temp.sims_cur_code)" required
                                            ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in curriculum" style="width: 100%;">
                                        <option value="" selected disabled>Please Select</option>
                                    </select>

                                    <p class="help-block" ng-show="Myform.Select4.$error.required &&(Myform.Select4.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>
                                </div>
                                <div class="col-md-2" ng-class="{'has-error': !Myform.Select3.$valid && (Myform.Select3.$touched || Myform.$submitted) }">
                                    <label id="Label8" for="txt_Country_Code" class="form-label"><i class="fa fa-sort-amount-asc"></i>&nbsp;{{"Academic Year" | translate }} <span class="asterisk" style="color: red">*</span></label>

                                    <select id="Select5" name="Select3" class="form-control input-sm full-width" data-role="dropdownlist"
                                            ng-model="temp.sims_academic_year" ng-disabled="ac_year" ng-change="getsections(temp.sims_cur_code,temp.sims_academic_year);"
                                            ng-options="year1.sims_academic_year as year1.sims_academic_year_desc for year1 in Academic_year">
                                        <option value="" selected disabled>Please Select</option>
                                    </select>

                                    <p class="help-block" ng-show="Myform.Select3.$error.required &&(Myform.Select3.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>
                                </div>
                                <div class="col-md-2" ng-class="{'has-error': !Myform.select_grade.$valid && (Myform.select_grade.$touched || Myform.$submitted) }">
                                    <label id="Label13" for="txt_full_name" class="form-label"><i class="fa fa-sitemap"></i>&nbsp;{{"Grade" | translate }} <span class="asterisk" style="color: red">*</span></label>

                                    <select id="Select3" style="width: 100%" class="form-control input-sm full-width" data-role="dropdownlist"
                                            ng-model="temp.grade_code" ng-disabled="grade_nm" name="select_grade"
                                            ng-options="grade_cod.sims_grade_code as grade_cod.sims_grade_name for grade_cod in grade">
                                        <option value="" selected disabled>Please Select</option>
                                    </select>
                                  

                                    <p class="help-block" ng-show="Myform.select_grade.$error.required && (Myform.select_grade.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="grid simple" style="margin-bottom: 6px;">
                        <div class="grid-body no-border">
                            <div class="row">
                                <div class="col-md-2" ng-class="{'has-error': !Myform.txt_Section_name.$valid && (Myform.txt_Section_name.$touched || Myform.$submitted) }">
                                    <label id="Label19" for="txt_full_name" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Section Name" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <input name="txt_Section_name" type="text" class="k-textbox" style="width: 100%;" id="Text1" ng-model="temp.sims_section_name_en" required ng-maxlength="20" />
                                    <p class="help-block" ng-show="Myform.txt_Section_name.$error.required &&(Myform.txt_Section_name.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>
                                    <p class="help-block" ng-show="Myform.txt_Section_name.$error.maxlength">
                                        Max Legnth 20 Characters
                                    </p>
                                </div>
                                <div class="col-md-2" ng-class="{'has-error': !Myform.txt_name_en.$valid && (Myform.txt_name_en.$touched || Myform.$submitted) }">
                                    <label id="Label15" for="txt_full_name" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Name (Arabic)" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <input name="txt_name_en" type="text" class="k-textbox" style="width: 100%;" id="txt_Name_ar" ng-model="temp.sims_section_name_ar" required ng-maxlength="20" />
                                    <p class="help-block" ng-show="Myform.txt_name_en.$error.required &&(Myform.txt_name_en.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>
                                    <p class="help-block" ng-show="Myform.txt_name_en.$error.maxlength">
                                        Max Legnth 20 Characters
                                    </p>
                                </div>

                                <div class="col-md-2" ng-class="{'has-error': !Myform.txt_name_fr.$valid && (Myform.txt_name_fr.$touched || Myform.$submitted) }">
                                    <label id="Label16" for="txt_full_name" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Name (French)" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <input name="txt_name_fr" type="text" class="k-textbox" style="width: 100%;" id="txt_Name_fr" ng-model="temp.sims_section_name_fr" ng-maxlength="20" required />
                                    <p class="help-block" ng-show="Myform.txt_name_fr.$error.required &&(Myform.txt_name_fr.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>
                                    <p class="help-block" ng-show="Myform.txt_name_fr.$error.maxlength">
                                        Max Legnth 20 Characters
                                    </p>
                                </div>

                                <div class="col-md-2" ng-class="{'has-error': !Myform.txt_name_ot.$valid && (Myform.txt_name_ot.$touched || Myform.$submitted) }">
                                    <label id="Label17" for="txt_full_name" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Name (Regional)" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <input name="txt_name_ot" type="text" class="k-textbox" style="width: 100%;" id="txt_Name_reg" ng-model="temp.sims_section_name_ot" ng-maxlength="20" required />
                                    <p class="help-block" ng-show="Myform.txt_name_ot.$error.required &&(Myform.txt_name_ot.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>
                                    <p class="help-block" ng-show="Myform.txt_name_ot.$error.maxlength">
                                        Max Legnth 20 Characters
                                    </p>
                                </div>

                            </div>
                        </div>

                    </div>


                    <div class="grid simple" style="margin-bottom: 6px;">
                        <div class="grid-body no-border">
                            <div class="row">
                      

                                <div class="col-md-2" ng-class="{'has-error': !Myform.Select4.$valid && (Myform.Select4.$touched || Myform.$submitted)}">
                                <label id="Label4" for="txt_full_name"  class="form-label"><i class="fa fa-male"></i><i class="fa fa-female"></i>&nbsp;{{"Gender" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <select name="Select6" style="width: 100%" class="form-control input-sm full-width" data-role="dropdownlist"
                                            ng-model="temp.sims_section_gender" ng-change="changGender(temp.sims_section_gender)">
                                        <option value="" selected>Please select</option>
                                        <option ng-repeat="gen in getGender" value="{{gen.sims_section_gender_code}}">{{gen.sims_section_gender}}</option>

                                    </select>
                                    <p class="help-block" ng-show="Myform.Select4.$error.required &&(Myform.Select4.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>
                                </div>
                                <div class="col-md-2">
                                    <label id="Label12" for="txt_full_name" class="form-label"></i><i class="fa fa-user"></i>&nbsp;{{"Promote Class" | translate }}</label>

                                    <select id="Select4" class="form-control input-sm full-width" data-role="dropdownlist"
                                            aria-label="Please Select" ng-change="select_promocode()"
                                            ng-model="temp.sims_section_promote_code" ng-disabled="ebl_promocode"
                                            ng-options="sta.sims_section_promote_code as sta.sims_section_promote_desc for sta in PromoteCode" name="student_sta"></select>
                                </div>

                                <div class="col-md-2" >
                                    <label id="Label20" for="txt_full_name" class="form-label"><i class="fa fa-male"></i>&nbsp;{{"Promote Class (Boys)" | translate }}</label>

                                    <select id="Select1" class="form-control input-sm full-width" data-role="dropdownlist"  ng-disabled="show_boys"
                                            aria-label="Please Select" ng-change="select_boy_girl()"
                                            ng-model="temp.sims_section_boys_promote_code"
                                            ng-options="sta.sims_section_boys_promote_code as sta.sims_section_boys_promote_desc for sta in PromoteCode" name="student_sta" ></select>
                                </div>

                                <div class="col-md-2">
                                    <label id="Label22" for="txt_full_name" class="form-label"><i class="fa fa-female"></i>&nbsp;{{"Promote Class (Girls)" | translate }}</label>

                                    <select id="Select6" class="form-control input-sm full-width" data-role="dropdownlist"  ng-disabled="show_girls"
                                            aria-label="Please Select" ng-change="select_boy_girl()"
                                            ng-model="temp.sims_section_girls_promote_code"
                                            ng-options="sta.sims_section_girls_promote_code as sta.sims_section_girls_promote_desc for sta in PromoteCode" name="student_sta"></select>
                                </div>



                            </div>

                        </div>
                    </div>

                    <div class="grid simple" style="margin-bottom: 6px;">
                        <div class="grid-body no-border">
                            <div class="row">

                                <div class="col-md-2">
                                    <label id="Label25" for="txt_full_name" class="form-label"><i class="fa fa-list-ol"></i>&nbsp;{{"Display Order" | translate }}<span style="color:red">*</span></label>
                                    <input name="txt_name_ot1" type="text" class="k-textbox input-sm full-width" id="Text3" ng-model="temp.sims_section_order_no" required />

                                    <p class="help-block" ng-show="Myform.txt_name_ot1.$error.required && (Myform.txt_name_ot1.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>

                                </div>
                                <div class="col-md-2">
                                    <label id="Label14" for="txt_full_name" class="form-label"><i class="fa fa-group"></i>&nbsp;{{"Section Strength" | translate }}</label>
                                    <input type="text" class="k-textbox input-sm full-width" style="width: 100%;" id="Text2" ng-model="temp.sims_section_stregth" />
                                </div>


                                <div class="col-md-2" ng-class="{'has-error': !Myform.student_type.$valid && (Myform.student_type.$touched || Myform.$submitted)}">
                                    <label id="Label26" for="txt_full_name" class="form-label"><i class="fa fa-tags"></i>&nbsp;{{convertedname}}&nbsp;&nbsp;&nbsp;{{"Type" | translate }}<span style="color:red">*</span></label>

                                    <select id="Select7" class="form-control input-sm full-width" data-role="dropdownlist"
                                            ng-model="temp.lic_school_code"
                                            ng-options="sta.lic_school_code as sta.school_name for sta in schooltype" name="student_type" required ></select>
                                    <p class="help-block" ng-show="Myform.student_type.$error.required && (Myform.student_type.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>
                                </div>
                                
                                <div class="col-md-2">
                                    <label id="Label1" for="txt_full_name" class="form-label"><i class="fa fa-book"></i>&nbsp;{{"Section Shift" | translate }}</label>

                                  <select ng-disabled="demo" id="Select11" name="shift" data-role="dropdownlist" class="form-control input-sm full-width"
                                                                     ng-model="temp.sims_appl_form_field_value1">
                                  <option value="">Please Select </option>
                                  <option class="k-textbox full-width input-sm" 
                                      ng-repeat="shift in SectionShift" value="{{shift.sims_section_shift_code}} ">{{shift.sims_appl_form_field_value1}}


                                  </option>
                                                                </select> 

                                   <!-- <select id="Select11" class="form-control input-sm full-width" data-role="dropdownlist" 
                                            aria-label="Please Select" 
                                            ng-model="temp.sims_section_name"
                                            ng-options="shift.sims_section_code as shift.sims_section_name for shift in SectionShift" name="section_shift"></select>-->

                                            </div>
                                
                                                                                                                               
                                                               




                                <div class="col-md-3">
                                    <label id="Label6" for="txt_full_name" class="form-label"><i class="fa fa-bookmark"></i>&nbsp;{{"Status" | translate }}</label>
                                    <div class="checkbox check-success">
                                        <input name="chck_status" id="checkbox3" type="checkbox" value="1" ng-model="temp.sims_status">
                                        <label for="checkbox3"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-actions">
                                        <div class="pull-right">
                                            <button type="submit" class="btn btn-success btn-small" ng-if="!update_btn">{{"Save" | translate }}</button>
                                            <button type="button" class="btn btn-success btn-small" ng-show="update_btn" ng-click="Update_data()">{{"Update" | translate }}</button>
                                            <button type="button" class="btn btn-danger btn-small" ng-click="can();">{{"Cancel" | translate }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>


</div>

<script src="assets/js/tableHeadFixer.js"></script>
