﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3>{{ "Subject" | translate }}<span class="semi-bold"></span></h3>
            </div>

            <div class="grid-body no-border">
                <div ng-show="display">
                    <form name="myForm" novalidate="novalidate" ng-submit="Save(myForm.$valid)">
                        <div class="row" ng-show="notshow">
                            <div class="col-xs-4">
                                <div class="well" class="form-group">
                                    <div class="form-group">
                                        <label>Current Page:</label>
                                        <input placeholder="page"
                                               class="form-control"
                                               ng-model="currentPage"
                                               ng-init="currentPage = 1" />
                                    </div>
                                    <div class="form-group">
                                        <label>Page Size:</label>
                                        <input placeholder="Page Size"
                                               class="form-control"
                                               ng-model="numPerPage" />
                                    </div>
                                    <div class="form-group">
                                        <label>Total Items:</label>
                                        <input placeholder="Total"
                                               class="form-control"
                                               ng-model="pagersize" />
                                    </div>
                                    <hr />
                                    <div class="form-group">
                                        <label>Dots Display:</label>
                                        <input placeholder="..."
                                               class="form-control"
                                               maxlength="3"
                                               ng-model="dots"
                                               ng-init="dots = '...'" />
                                    </div>

                                    <hr />
                                    <div class="form-group">
                                        <label>UL Class:</label>
                                        <input placeholder="pagination"
                                               class="form-control"
                                               maxlength="100"
                                               ng-model="ulClass" />
                                    </div>
                                    <div class="form-group">
                                        <label>Active Class:</label>
                                        <input placeholder="active"
                                               class="form-control"
                                               maxlength="100"
                                               ng-model="activeClass"
                                               ng-init="activeClass = 'active'" />
                                    </div>
                                    <div class="form-group">
                                        <label>Disabled Class:</label>
                                        <input placeholder="disabled"
                                               class="form-control"
                                               maxlength="100"
                                               ng-model="disabledClass"
                                               ng-init="disabledClass = 'disabled'" />
                                    </div>
                                    <br />
                                    <table class="table">

                                        <tr>
                                            <td>
                                                <label>Show Prev Next:</label>
                                            </td>
                                            <td>
                                                <input type="checkbox"
                                                       ng-model="showPrevNext"
                                                       ng-init="showPrevNext = true" />
                                                {{showPrevNext}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Show First Last:</label>
                                            </td>
                                            <td>
                                                <input type="checkbox"
                                                       ng-model="showFirstLast"
                                                       ng-init="showFirstLast = true" />
                                                {{showPrevNext}}
                                            </td>
                                        </tr>
                                    </table>
                                    <hr />
                                    <span class="btn btn-default" onclick="location.reload()">
                                        <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                                    </span>
                                    <span class="btn btn-success" ng-click="currentPage = 0">
                                        Apply Settings
                                    </span>
                                    <br />
                                    <br />
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label-sm">{{ "Curriculum" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                <div ng-class="{'has-error': !myForm.Curriculum.$valid && (myForm.Curriculum.$touched || myForm.$submitted) }">
                                    <select id="Select5" name="Curriculum" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.sims_attendance_cur_code" required ng-change="Getinfo(edt.sims_attendance_cur_code)" ng-disabled="edit_code">
                                        <!--,edt.subject_code-->
                                        <option value="">Please Select</option>
                                        <option ng-repeat="i in obj2|filter:{sims_cur_short_name_en: ''}" value="{{i.sims_attendance_cur_code}}">
                                            {{i.sims_cur_short_name_en}}
                                        </option>
                                    </select>
                                </div>

                                <div class="error-container"
                                     ng-show="myForm.Curriculum.$dirty && myForm.Curriculum.$invalid || myForm.$submitted">
                                    <small class="error"
                                           ng-show="myForm.Curriculum.$error.required">
                                        This Field is required.
                                    </small>
                                    <!-- <small class="error"
                                        ng-show="myForm.Curriculum.$error.minlength">Description is required to be at least 3 characters
                                    </small>
                                    <small class="error"
                                        ng-show="myForm.Curriculum.$error.maxlength">Description cannot be longer than 30 characters
                                    </small>-->
                                </div>
                            </div>


                            <div class="col-md-3">
                                <label class="form-label">{{ "Subject Code" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                <input name="form3sub_code" id="txt_sub_code" type="text" class="k-textbox input-sm full-width" placeholder="Please Enter" required maxlength="4" ng-model="edt.subject_code" ng-disabled="true">

                                <div class="error-container"
                                     ng-show="myForm.form3sub_code.$dirty && myForm.Curriculum.$invalid || myForm.$submitted">
                                    <small class="error"
                                           ng-show="myForm.form3sub_code.$error.required">
                                        This Field is required.
                                    </small>
                                </div>
                            </div>


                            <div class="col-md-3">
                                <label class="form-label">{{ "Subject Group" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                <div ng-class="{'has-error': !myForm.SubjectGroup.$valid && (myForm.SubjectGroup.$touched || myForm.$submitted) }">
                                    <select id="cmb_sub_grp" name="SubjectGroup" required ng-maxlength="4" ng-minlength="1" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.subject_group_code"
                                            ng-options="item3.subject_group_code as item3.subject_group_code_name for item3 in subgrp">
                                        <option value="">Please Select</option>
                                        <!-- <option ng-repeat="i in obj1|filter:{subject_group_code_name: ''}" value="{{i.subject_group_code}}">
                                         {{i.subject_group_code_name}}
                                        </option>-->
                                    </select>
                                </div>

                                <div class="error-container"
                                     ng-show="myForm.SubjectGroup.$dirty && myForm.SubjectGroup.$invalid || myForm.$submitted">
                                    <small class="error"
                                           ng-show="myForm.SubjectGroup.$error.required">
                                        This Field is required.
                                    </small>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label class="form-label">{{ "Subject Name" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                <div ng-class="{'has-error': !myForm.form3sub_name.$valid && (myForm.form3sub_name.$touched || myForm.$submitted) }">
                                    <input name="form3sub_name" id="txt_sub_name" type="text" required ng-minlength="1" ng-maxlength="100" maxlength="100" class="k-textbox input-sm full-width" placeholder="Please Enter" ng-model="edt.subject_name_en">
                                </div><!-- ng-pattern="/^[a-zA-Z0-9\s-]*$/"-->

                                <div class="error-container"
                                     ng-show="myForm.form3sub_name.$dirty && myForm.form3sub_name.$invalid || myForm.$submitted">
                                    <small class="error"
                                           ng-show="myForm.form3sub_name.$error.required">
                                        This Field is required.
                                    </small>
                                    <!--<small class="help-block" ng-show="myForm.form3sub_name.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.form3sub_name.$touched))">Enter Valid Data
                                    </small>-->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">{{ "in Arabic" | translate }}</label>
                                <!--ng-class="{'has-error': !myForm.form3inArabic.$valid && (myForm.form3inArabic.$touched || myForm.$submitted) }"-->
                                <input name="form3inArabic" id="Text1" type="text" class="k-textbox input-sm full-width" maxlength="50" placeholder="Please Enter" ng-model="edt.subject_name_ar"><!--ng-pattern="/^[a-zA-Z0-9\s-]*$/"-->
                            </div>
                            <!-- <div class="col-md-12">
                                 <div class="error-container"
                                     ng-show="myForm.form3inArabic.$dirty && myForm.form3inArabic.$invalid || myForm.$submitted">
                                     <small class="help-block" ng-show="myForm.form3inArabic.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.form3inArabic.$touched))">Enter Valid Data
                                     </small>
                                 </div>
                             </div>-->


                            <div class="col-md-3">
                                <label class="form-label">{{ "in French" | translate }}</label>
                                <!--ng-class="{'has-error': !myForm.form3infrench.$valid && (myForm.form3infrench.$touched || myForm.$submitted) }"-->
                                <input name="form3infrench" id="Text4" type="text" class="k-textbox input-sm full-width" maxlength="50" placeholder="Please Enter" ng-model="edt.subject_name_fr"><!--ng-pattern="/^[a-zA-Z0-9\s-]*$/"-->
                            </div>
                            <!-- <div class="col-md-12">
                                 <div class="error-container"
                                     ng-show="myForm.form3infrench.$dirty && myForm.form3infrench.$invalid || myForm.$submitted">
                                     <small class="help-block" ng-show="myForm.form3infrench.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.form3infrench.$touched))">Enter Valid Data
                                     </small>
                                 </div>
                             </div>-->

                            <div class="col-md-3">
                                <label class="form-label">{{ "in Regional" | translate }}</label>
                                <!--ng-class="{'has-error': !myForm.form3inreg.$valid && (myForm.form3inreg.$touched || myForm.$submitted) }"-->
                                <input name="form3inreg" id="Text5" type="text" class="k-textbox input-sm full-width" maxlength="50" placeholder="Please Enter" ng-model="edt.subject_name_ot"><!--ng-pattern="/^[a-zA-Z0-9\s-]*$/"-->
                            </div>

                            <!--<div class="col-md-12">
                                <div class="error-container"
                                    ng-show="myForm.form3inreg.$dirty && myForm.form3inreg.$invalid || myForm.$submitted">
                                    <small class="help-block" ng-show="myForm.form3inreg.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.form3inreg.$touched))">Enter Valid Data
                                    </small>
                                </div>
                            </div>-->


                            <div class="col-md-3">
                                <label class="form-label">{{ "Short Name" | translate }}</label>
                                <!--ng-class="{'has-error': !myForm.form3_short_name.$valid && (myForm.form3_short_name.$touched || myForm.$submitted) }"-->
                                <input name="form3_short_name" id="Text7" type="text" class="k-textbox input-sm full-width" maxlength="15" placeholder="Please Enter" ng-model="edt.subject_name_abbr">
                                <!--  ng-pattern="/^[a-zA-Z0-9\s-]*$/"-->
                            </div>
                            <!--<div class="col-md-12">
                                <div class="error-container"
                                    ng-show="myForm.form3_short_name.$dirty && myForm.form3_short_name.$invalid || myForm.$submitted">
                                    <small class="help-block" ng-show="myForm.form3_short_name.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.form3_short_name.$touched))">Enter Valid Data
                                    </small>
                                </div>
                            </div>-->

                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">{{ "Subject Type" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                <div ng-class="{'has-error': !myForm.subjectType.$valid && (myForm.subjectType.$touched || myForm.$submitted) }">
                                    <select id="Select8" name="subjectType" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.subject_type" required ng-maxlength="2" ng-minlength="1" ng-change="Getinfo(edt.sims_attendance_cur_code)"
                                            ng-options="item2.subject_type as item2.subject_type_name for item2 in obj3">
                                        <option value="">Please Select</option>
                                        <!-- <option ng-repeat="i in obj3|filter:{subject_type_name: ''}" value="{{i.subject_type}}">
                                         {{i.subject_type_name}}
                                        </option>-->
                                    </select>
                                </div>
                                <div class="error-container"
                                     ng-show="myForm.subjectType.$dirty && myForm.subjectType.$invalid || myForm.$submitted">
                                    <small class="error"
                                           ng-show="myForm.subjectType.$error.required">
                                        This Field is required.
                                    </small>

                                </div>
                            </div>

                            <div class="col-md-3">
                                <label class="form-label-sm">{{ "Subject" | translate }}</label>
                                <input type="color" id="txt_color" class="k-textbox input-sm full-width" name="hcolor" ng-model="edt.sims_subject_color_code" value="" data-format="hex" />
                            </div>

                            <div class="col-md-3">
                                <label class="form-label-sm">{{ "MOE Code" | translate }}</label>
                                <input name="form3moe_code" id="Text9" type="text" class="k-textbox input-sm full-width" maxlength="15" placeholder="Please Enter" ng-model="edt.subject_moe_code">
                            </div>


                            <div class="col-md-3">
                                <label class="form-label">{{ "Country Name" | translate }}</label>
                                <select id="Select10" name="Country" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.subject_country_code"
                                        ng-options="item2.subject_country_code as item2.subject_country_code_name for item2 in obj4">
                                    <option value="">Please Select</option>
                                    <!--<option ng-repeat="i in obj4|filter:{subject_country_code_name: ''}" value="{{i.subject_country_code}}">
                                     {{i.subject_country_code_name}}
                                    </option>-->
                                </select>
                            </div>

                            <div class="col-md-3">
                                <label class="form-label">{{ "Religion Language" | translate }}</label>
                                <input name="formReligion" id="textreigion" type="text" class="k-textbox input-sm full-width" maxlength="50" placeholder="Please Enter" ng-model="edt.sims_religion_language"><!--ng-pattern="/^[a-zA-Z0-9\s-]*$/"-->
                            </div>

                            <!--  <div class="col-md-12">
                                  <div class="error-container"
                                      ng-show="myForm.Checkbox2.$dirty && myForm.Checkbox2.$invalid || myForm.$submitted">
                                      <small class="error"
                                          ng-show="myForm.Checkbox2.$error.required">This Field is required.
                                      </small>

                                  </div>
                              </div>-->

                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">{{ "Status" | translate }}</label>
                                <div class="checkbox check-success" style="height: 20px">
                                    <input type="checkbox" value="1" class="k-checkbox" name="Checkbox2" id="Checkbox2" title="Status" ng-model="edt.subject_status">
                                    <label for="Checkbox2" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">{{ "isArabic" | translate }}</label>
                                <div class="checkbox check-success" style="height: 20px">
                                    <input type="checkbox" value="1" class="k-checkbox" name="Checkbox1" id="Checkbox1" title="isArabic_Status" ng-model="edt.sims_isArabic_subject">
                                    <label for="Checkbox1" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-success btn-small ng-binding" type="button" ng-show="addattribuet1" ng-click="addattribuet(edt.subject_code)">{{ "Add Strands" | translate }}</button>
                                <!--<button class="btn btn-success btn-small ng-binding" type="button" ng-show="addattribuet1" ng-click="showtable()">{{ "Show Table" | translate }}</button>-->
                            </div>


                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-actions">
                                    <div class="pull-right">
                                        <!--<button class="btn btn-primary btn-cons" type="submit" ng-click="New()"><i class="icon-ok"></i>New</button>-->
                                        <button class="btn btn-primary btn-small" type="submit" ng-show="save1">{{ "Save" | translate }}</button>
                                        <button class="btn btn-primary btn-small" type="submit" ng-show="update1">{{ "Update" | translate }}</button>
                                        <!--<button class="btn btn-danger btn-cons" type="button" ng-click="Delete()" ng-show="delete1">Delete</button>-->
                                        <button class="btn btn-danger btn-small" type="button" ng-click="cancel()">{{ "Cancel" | translate }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>

                <div ng-show="grid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="pull-left">
                                <select id="Select1" style="width: 65px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                    <option value="10" class=" form-control input-sm">
                                        10
                                    </option>

                                    <option value="20" class=" form-control input-sm">
                                        20
                                    </option>

                                    <option value="All" class=" form-control input-sm">
                                        All
                                    </option>
                                </select>

                            </div>
                            &nbsp;
                            <button class="btn btn-success btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{ "New" | translate }}</button>
                            &nbsp;
                            <button class="btn btn-danger btn-small" type="button" ng-click="Delete()"><span class="semi-bold"></span>{{ "Delete" | translate }}</button>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <div class="dataTables_filter" id="example_filter">
                                    <!--<label>
                                        {{ "Search:" | translate }}&nbsp;
                                        <input type="text" aria-controls="example" ng-model="searchText" placeholder="Subject Code/ Subject Name/ Short Name" class="k-textbox" autofocus="autofocus" tabindex="1" ng-change="search()">
                                    </label>-->
                                    <span class="k-textbox k-space-right full-width">
                                        <input type="text" aria-controls="example" ng-model="searchText" placeholder="Subject Code/Subject Name/Short Name" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="searchsubject()">
                                        <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <div class="row margin-top">
                            <div class="col-md-12">
                                <!-- <table class="table table-hover table-striped  no-more-tables">-->
                                <table class="table table-hover table-bordered table-condensed" id="fixedtable">
                                    <thead>
                                        <tr style="background-color: #e9e4e4">
                                            <th class="small-cell v-align-middle" style="z-index: 900">
                                                <div class="checkbox check-success">
                                                    <input type="checkbox" name="check" class="k-checkbox" value="1" id="mainchk" ng-click="CheckAllChecked();">
                                                    <label for="mainchk"></label>
                                                </div>
                                            </th>
                                            <th class="small-cell v-align-middle">
                                                <b>
                                                    <!--{{ "MORE" | translate }}-->
                                                    &nbsp;
                                                </b>
                                            </th>
                                            <th><b>{{ "Curriculum" | translate }}</b></th>
                                            <th><b>{{ "Subject Code" | translate }}</b></th>
                                            <th><b>{{ "Subject Group" | translate }}</b></th>
                                            <th><b>{{ "Subject Name" | translate }}</b></th>
                                            <th><b>{{ "Status" | translate }}</b></th>
                                            <th class="small-cell v-align-middle"><b><i class="fa fa-cogs"></i></b></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="rowcolor" ng-repeat="subject in filteredTodos" ng-class="row1">
                                            <!--{odd:$odd}-->

                                            <td>
                                                <div class="checkbox check-success" style="height: 20px">
                                                    <input type="checkbox" class="k-checkbox" name="check" value="1" id="{{subject.subject_code+$index}}" ng-click="checkonebyonedelete()">
                                                    <label for="{{subject.subject_code+$index}}">
                                                    </label>
                                                </div>
                                            </td>
                                            <td class="text-center"><i class="{{subject.icon}}" ng-click="expand(subject, $event);"></i></td>
                                            <td>
                                                <div>{{subject.subject_cur_code_name}}</div>
                                            </td>
                                            <td>
                                                <div>{{subject.subject_code}}</div>
                                            </td>
                                            <td>
                                                <div>{{subject.subject_group_code_name}}</div>
                                            </td>
                                            <td>
                                                <div>{{subject.subject_name_en}}</div>
                                            </td>
                                            <td>
                                                <span class="label label-success" ng-if="subject.subject_status == true">{{"Active" | translate }}</span>
                                                <span ng-if="subject.subject_status==false" class="label label-important">{{"In Active" | translate }}</span>
                                            </td>
                                            <td>
                                                <a><i class="fa fa-edit" ng-click="edit(subject)"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row" ng-show="pager">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                            ng-click="index(currentPage)">
                                    </paging>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-----------------------------------Add Attribute------------------------------->
                <div ng-show="attributedisplay">

                    <form name="myFormN" novalidate="novalidate" ng-submit="SaveAttribute(myFormN.$valid)">


                        <div class="row">
                            <div class="col-md-2">
                                <label id="Label" for="txt_Nationality_Code" class="form-label">
                                    <i class="fa fa-book"></i>
                                    {{"Curriculum"|translate}}<span style="color:red">*</span>
                                </label>
                                <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width"
                                        ng-model="att.sims_cur_code" ng-selected="" name="sims_cur_code" ng-change="getAcademic_year(att.sims_cur_code)"
                                        ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in cur_data" required></select>
                            </div>

                            <div class="col-md-3">
                                <label id="Label1" for="txt_Nationality_Code" class="form-label">
                                    <i class="fa fa-calendar"></i>
                                    {{"Academic Year"|translate}}<span style="color:red">*</span>
                                </label>
                                <select id="Select1" data-role="dropdownlist" class="form-control input-sm full-width"
                                        ng-model="att.sims_academic_year" ng-selected="" name="sims_academic_year" ng-change="getGrade(att.sims_cur_code,att.sims_academic_year)"
                                        ng-options="acad.sims_academic_year as acad.sims_academic_year_desc for acad in acad_data" required></select>
                            </div>

                            <!--<div class="col-md-3" style="margin-top:2px">
                                <label> <i class="fa fa-sitemap"></i>{{"Grade"|translate}}<span class="asterisk" style="color: red">*</span></label>
                                <select id="cmb_grade_code" multiple="multiple" class="full-width" ng-model="att.sims_grade_code" ng-change="getSection(att.sims_cur_code,att.sims_academic_year,att.sims_grade_code)">
                                    <option ng-repeat="grade in Grade_code|filter:{sims_grade_name:''}" value="{{grade.sims_grade_code}} ">{{grade.sims_grade_name}}</option>
                                </select>
                            </div>

                            <div class="col-md-3" style="margin-top:2px">
                                <label><i class="fa fa-align-justify"></i>{{"Section"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                <select id="cmb_section_code" multiple="multiple" class="full-width" ng-model="att.sims_section_code">
                                    <option ng-repeat="section in Section_code|filter:{sims_section_name:''}" value="{{section.sims_section_code}} ">{{section.sims_section_name}}</option>
                                </select>
                            </div>-->

                            <div class="col-md-1" style="margin-top:2px">
                                <label>&nbsp;</label>
                                <button type="button" class="btn btn-primary btn-cons btn-small" ng-click="Add()">{{"Add"|translate}}</button>

                            </div>

                        </div>
                        <div ng-repeat="att in multi_array">
                            <div class="row">

                                <div class="col-md-2">
                                    <label class="form-label">{{ "Attribute Name" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <div ng-class="{'has-error': !myFormN.form3attname{{$index}}.$valid && (myFormN.form3attname{{$index}}.$touched || myFormN.$submitted) }">
                                        <input name="form3attname{{$index}}" id="form3attname{{$index}}" type="text" required ng-minlength="1" ng-maxlength="50" maxlength="50" class="k-textbox input-sm full-width" placeholder="Please Enter" ng-model="att.sims_attribute_name">
                                        <div class="error-container"
                                             ng-show="myFormN.form3attname{{$index}}.$dirty && myFormN.form3attname{{$index}}.$invalid || myFormN.$submitted">
                                            <small class="error"
                                                   ng-show="myFormN.form3attname{{$index}}.$error.required">
                                                This Field is required with 50 Charectors.
                                            </small>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <label class="form-label">{{ "Attribute Name Other" | translate }}</label>
                                    <!--ng-class="{'has-error': !myFormN.form3inArabic.$valid && (myFormN.form3inArabic.$touched || myFormN.$submitted) }"-->
                                    <input name="form3inArabic" id="Text1" type="text" class="k-textbox input-sm full-width" maxlength="50" placeholder="Please Enter" ng-model="att.sims_attribute_name_ot"><!--ng-pattern="/^[a-zA-Z0-9\s-]*$/"-->
                                </div>

                                <div class="col-md-2">
                                    <label class="form-label">{{ "Attribute Grade" | translate }}</label>
                                    <!--ng-class="{'has-error': !myFormN.form3inArabic.$valid && (myFormN.form3inArabic.$touched || myFormN.$submitted) }"-->
                                    <input name="form3inArabic" id="Text1" type="text" class="k-textbox input-sm full-width" maxlength="50" placeholder="Please Enter" ng-model="att.sims_attribute_grade"><!--ng-pattern="/^[a-zA-Z0-9\s-]*$/"-->
                                </div>


                                <div class="col-md-2">
                                    <label class="form-label">{{ "Group Name" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <div ng-class="{'has-error': !myFormN.form3sub_name.$valid && (myFormN.form3sub_name.$touched || myFormN.$submitted) }">
                                        <input name="form3sub_name" id="txt_sub_name" type="text" required ng-minlength="1" ng-maxlength="100" maxlength="100" class="k-textbox input-sm full-width" placeholder="Please Enter" ng-model="sims_attribute_group_name_en">
                                    </div><!-- ng-pattern="/^[a-zA-Z0-9\s-]*$/"-->
                                    <div class="error-container"
                                         ng-show="myFormN.form3sub_name.$dirty && myFormN.form3sub_name.$invalid || myFormN.$submitted">
                                        <small class="error"
                                               ng-show="myFormN.form3sub_name.$error.required">
                                            This Field is required.
                                        </small>
                                    </div>
                                </div>

                                <div class="col-md-2" ng-class="{'has-error': !myFormN.Order{{$index}}.$valid && (myFormN.Order{{$index}}.$touched || myFormN.$submitted) }">
                                    <label>&nbsp;{{"Max Marks"|translate}}</label>
                                    <input type="text" placeholder="" class="k-textbox input-sm full-width" id="Text3" name="Order{{$index}}" ng-model="att.sims_attribute_max_score" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" style="margin-top: 2px;">
                                    <div class="error-container"
                                         ng-show="myFormN.Order{{$index}}.$dirty && myFormN.Order{{$index}}.$invalid || myFormN.$submitted">
                                        <small class="error"
                                               ng-show="myFormN.Order{{$index}}.$error.pattern">
                                            Only Numeric Values.
                                        </small>

                                    </div>

                                </div>

                                <div class="col-md-2" ng-class="{'has-error': !myFormN.Order{{$index}}.$valid && (myFormN.Order{{$index}}.$touched || myFormN.$submitted) }">
                                    <label>&nbsp;{{"Display Order"|translate}}</label>
                                    <input type="text" placeholder="" class="k-textbox input-sm full-width" id="Text3" name="Order{{$index}}" ng-model="att.sims_attribute_display_order" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/">
                                    <div class="error-container"
                                         ng-show="myFormN.Order{{$index}}.$dirty && myFormN.Order{{$index}}.$invalid || myFormN.$submitted">
                                        <small class="error"
                                               ng-show="myFormN.Order{{$index}}.$error.pattern">
                                            Only Numeric Values.
                                        </small>

                                    </div>

                                </div>

                                


                                <div class="col-md-2">
                                    <label class="form-label">{{ "Status" | translate }}</label>
                                    <div class="checkbox check-success" style="height: 20px">
                                        <input type="checkbox" value="true" checked class="k-checkbox" name="Checkbox21" id="Checkbox21{{$index}}" title="Status" ng-model="att.sims_attribute_status">
                                        <label for="Checkbox21{{$index}}" />
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-actions">
                                    <div class="pull-right">
                                        <!--<button class="btn btn-primary btn-cons" type="submit" ng-click="New()"><i class="icon-ok"></i>New</button>-->
                                        <button class="btn btn-primary btn-small" type="submit" ng-show="saveattr">{{ "Save" | translate }}</button>
                                        <button type="button" class="btn btn-primary btn-cons btn-small" ng-show="saveattr" ng-click="reset_multi()">{{"Reset"|translate}}</button>
                                        <button class="btn btn-danger btn-small" type="button" ng-click="cancel()">{{ "Cancel" | translate }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div ng-show="attributedisplay">
                        <div class="row" style="margin-top: 18px">
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="pull-right">
                                        <span class="k-textbox k-space-right">
                                            <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm" autofocus="autofocus" tabindex="1" ng-change="searchsubject()"><!--</label>-->
                                            <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div id="example_wrapper" class="dataTables_wrapper form-inline">
                                <div class="row margin-top">
                                    <div class="col-md-12">
                                        <!-- <table class="table table-hover table-striped  no-more-tables">-->
                                        <table class="table table-hover table-bordered table-condensed" id="fixedtable">
                                            <thead>
                                                <tr style="background-color: #e9e4e4">
                                                    <!--<th class="small-cell v-align-middle" style="z-index: 900">
                                                        <div class="checkbox check-success">
                                                            <input type="checkbox" name="check" class="k-checkbox" value="1" id="mainchkatt" ng-click="CheckAllChecked();">
                                                            <label for="mainchkatt"></label>
                                                        </div>
                                                    </th>-->

                                                    <th><b>{{ "Academic Year" | translate }}</b></th>
                                                    <!--<th><b>{{ "Class" | translate }}</b></th>-->
                                                    <th><b>{{ "Attribute Name" | translate }}</b></th>
                                                    <th><b>{{ "Attribute Grade" | translate }}</b></th>
                                                    <th><b>{{ "Attribute Group" | translate }}</b></th>
                                                    <th><b>{{ "Max Marks" | translate }}</b></th>
                                                    <th><b>{{ "Status" | translate }}</b></th>
                                                    <!--<th class="small-cell v-align-middle"><b><i class="fa fa-cogs"></i></b></th>-->
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr id="rowcolor" ng-repeat="edt in attribute_data |filter:searchText" ng-class="row1">
                                                    <!--{odd:$odd}-->

                                                    <!--<td>
                                                        <div class="checkbox check-success" style="height: 20px">
                                                            <input type="checkbox" class="k-checkbox" name="check" value="1" id="{{edt.sims_attribute_code+$index}}" ng-click="checkonebyonedelete()">
                                                            <label for="{{edt.sims_attribute_code+$index}}">
                                                            </label>
                                                        </div>
                                                    </td>-->

                                                    <td>
                                                        <div>{{edt.sims_academic_year}}</div>
                                                    </td>
                                                    <!--<td>
                                                        <div>{{edt.class1}}</div>
                                                    </td>-->
                                                    <td>
                                                        <div>{{edt.sims_attribute_name_en}}</div>
                                                    </td>
                                                    <td>
                                                        <div>{{edt.sims_attribute_name}}</div>
                                                    </td>
                                                    <td>
                                                        <div>{{edt.sims_attribute_group_name}}</div>
                                                    </td>
                                                    <td>
                                                        <div>{{edt.sims_attribute_max_score}}</div>
                                                    </td>
                                                    <td>
                                                        <span class="label label-success" ng-if="edt.sims_attribute_status == true">{{"Active" | translate }}</span>
                                                        <span ng-if="edt.sims_attribute_status==false" class="label label-important">{{"In Active" | translate }}</span>
                                                    </td>
                                                    <!--<td>
                                                        <a><i class="fa fa-edit" ng-click="addattribuet(edt)"></i></a>
                                                    </td>-->
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            </div>

                        </div>

                    </div>

                </div>



            </div>
        </div>
    </div>
</div>

<script src="assets/js/tableHeadFixer.js"></script>



