﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3>{{"Subject Type"| translate }}<span class="semi-bold"></span></h3>
            </div>
            <div class="grid-body no-border">
            <div ng-show="display">
                <form name="myForm" ng-submit="Save(myForm.$valid)" novalidate="novalidate">

                    <div class="row" ng-show="notshow">
                        <div class="col-xs-4">
                            <div class="well" class="form-group">
                                <div class="form-group">
                                    <label>Current Page:</label>
                                    <input placeholder="page"
                                           class="form-control"
                                           ng-model="currentPage"
                                           ng-init="currentPage = 1" />
                                </div>
                                <div class="form-group">
                                    <label>Page Size:</label>
                                    <input placeholder="Page Size"
                                           class="form-control"
                                           ng-model="numPerPage" />
                                </div>
                                <div class="form-group">
                                    <label>Total Items:</label>
                                    <input placeholder="Total"
                                           class="form-control"
                                           ng-model="pagersize" />
                                </div>
                                <hr />
                                <div class="form-group">
                                    <label>Dots Display:</label>
                                    <input placeholder="..."
                                           class="form-control"
                                           maxlength="3"
                                           ng-model="dots"
                                           ng-init="dots = '...'" />
                                </div>

                                <hr />
                                <div class="form-group">
                                    <label>UL Class:</label>
                                    <input placeholder="pagination"
                                           class="form-control"
                                           maxlength="100"
                                           ng-model="ulClass" />
                                </div>
                                <div class="form-group">
                                    <label>Active Class:</label>
                                    <input placeholder="active"
                                           class="form-control"
                                           maxlength="100"
                                           ng-model="activeClass"
                                           ng-init="activeClass = 'active'" />
                                </div>
                                <div class="form-group">
                                    <label>Disabled Class:</label>
                                    <input placeholder="disabled"
                                           class="form-control"
                                           maxlength="100"
                                           ng-model="disabledClass"
                                           ng-init="disabledClass = 'disabled'" />
                                </div>
                                <br />
                                <table class="table">

                                    <tr>
                                        <td>
                                            <label>Show Prev Next:</label>
                                        </td>
                                        <td>
                                            <input type="checkbox"
                                                   ng-model="showPrevNext"
                                                   ng-init="showPrevNext = true" />
                                            {{showPrevNext}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Show First Last:</label>
                                        </td>
                                        <td>
                                            <input type="checkbox"
                                                   ng-model="showFirstLast"
                                                   ng-init="showFirstLast = true" />
                                            {{showPrevNext}}
                                        </td>
                                    </tr>
                                </table>
                                <hr />
                                <span class="btn btn-default" onclick="location.reload()">
                                    <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                                </span>
                                <span class="btn btn-success" ng-click="currentPage = 0">
                                    Apply Settings
                                </span>
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>

        <!-- <div class="col-md-12">-->
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label-sm">{{ "Curriculum" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                        <div ng-class="{'has-error': !myForm.Curriculum.$valid && (myForm.Curriculum.$touched || myForm.$submitted) }">
                                            <select id="cmb_cur" name="Curriculum" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.sims_attendance_cur_code" autofocus="autofocus" ng-change="Getinfo(edt.sims_attendance_cur_code,edt.subject_type_code)" required ng-maxlength="2" ng-disabled="edit_code">
                                                <option value="" label="Please Select"></option>
                                                <option ng-repeat="i in obj2|filter:{sims_cur_short_name_en: ''}" value="{{i.sims_attendance_cur_code}}">
                                                    {{i.sims_cur_short_name_en}}
                                                </option>
                                            </select>
                                        </div>
                                    
                                        <div class="error-container"
                                             ng-show="myForm.Curriculum.$dirty && myForm.Curriculum.$invalid || myForm.$submitted">
                                            <small class="error"
                                                   ng-show="myForm.Curriculum.$error.required && (myForm.Curriculum.$touched || myForm.$submitted)">
                                                This Field is required.
                                            </small>

                                        </div>
                                    </div>
                               
                            <div class="col-md-3">
                                <label class="form-label">{{ "Subject Type Code" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <div ng-class="{'has-error': !myForm.form3type_code.$valid && (myForm.form3type_code.$touched || myForm.$submitted) }">
                                        <input name="form3type_code" id="txt_type_code" type="text" class="k-textbox input-sm full-width" placeholder="Please Enter" required ng-minlength="1" ng-maxlength="2" maxlength="2" ng-model="edt.subject_type_code" ng-disabled="edit_code" ng-pattern="/^[0-9]{1,2}$/">
                                    </div>

                                        <div class="error-container"
                                             ng-show="myForm.form3type_code.$dirty && myForm.form3type_code.$invalid || myForm.$submitted">
                                            <small class="help-block"
                                                   ng-show="myForm.form3type_code.$error.required && (myForm.form3type_code.$touched || myForm.$submitted)">
                                                This Field is required.
                                            </small>
                                            <small class="help-block" ng-show=" myForm.form3type_code.$error.pattern && (!myForm.$pristine && (myForm.$submitted ||myForm.form3type_code.$touched))">
                                                Enter Only Digit
                                            </small>
                                        </div>
                                    </div>

                              </div>

                        <!-- </div>-->
                        <!--  <div class="col-md-12">-->
                        <div class="row">
                            <div class="col-md-3">
                                <label>{{ "Name (English)" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <div ng-class="{'has-error': !myForm.form3name.$valid && (myForm.form3name.$touched || myForm.$submitted) }">
                                        <input name="form3name" id="txtname" type="text" class="k-textbox input-sm full-width" placeholder="Please Enter" ng-maxlength="25" ng-minlength="1" ng-model="edt.subject_type_name_eng" required maxlength="25" ng-pattern="/^[a-zA-Z0-9\s-]*$/">
                                    </div>

                                        <div class="error-container"
                                             ng-show="myForm.form3name.$dirty && myForm.form3name.$invalid || myForm.$submitted">
                                            <small class="help-block"
                                                   ng-show="myForm.form3name.$error.required && (myForm.form3name.$touched || myForm.$submitted)">
                                                This Field is required.
                                            </small>
                                            <small class="help-block" ng-show="myForm.form3name.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.form3name.$touched))">
                                                Enter Valid Data
                                            </small>
                                        </div>
                                    </div>
                                
                      
                            <div class="col-md-3">
                                <label>{{ "Name (Arabic)" | translate }}</label>
                                        <!--ng-class="{'has-error': !myForm.form3namear.$valid && (myForm.form3namear.$touched || myForm.$submitted) }"-->
                                        <input name="form3namear" id="txt_namear" type="text" class="k-textbox input-sm full-width" placeholder="Please Enter" ng-model="edt.subject_type_name_ar" maxlength="25"><!--ng-pattern="/^[a-zA-Z0-9\s-]*$/"-->
                                    </div>

                                    <!--  <div class="col-md-12">
                                          <div class="error-container"
                                              ng-show="myForm.form3namear.$dirty && myForm.form3namear.$invalid || myForm.$submitted">
                                              <small class="help-block" ng-show="myForm.form3namear.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.form3namear.$touched))">Enter Valid Data
                                              </small>
                                          </div>
                                      </div>-->

                            <div class="col-md-3">
                                <label class="form-label">{{ "Name (French)" | translate }}</label>
                                    <div ng-class="{'has-error': !myForm.form3namefrench.$valid && (myForm.form3namefrench.$touched || myForm.$submitted) }">
                                        <input name="form3namefrench" id="txt_namefrench" type="text" class="k-textbox input-sm full-width" placeholder="Please Enter" ng-model="edt.subject_type_name_fr" maxlength="25"><!--ng-pattern="/^[a-zA-Z0-9\s-]*$/"-->
                                    </div>
                                    <!--  <div class="col-md-12">
                                          <div class="error-container"
                                              ng-show="myForm.form3namefrench.$dirty && myForm.form3namefrench.$invalid || myForm.$submitted">
                                              <small class="help-block" ng-show="myForm.form3namefrench.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.form3namefrench.$touched))">Enter Valid Data
                                              </small>
                                          </div>
                                      </div>-->
                                </div>


                            <div class="col-md-3">
                                <label class="form-label">{{ "Name (Other)" | translate }}</label>
                                    <div ng-class="{'has-error': !myForm.form3nameOt.$valid && (myForm.form3nameOt.$touched || myForm.$submitted) }">
                                        <input name="form3nameOt" id="txt_nameot" type="text" class="k-textbox input-sm full-width" placeholder="Please Enter" ng-model="edt.subject_type_name_ot" maxlength="25" ng-pattern="/^[a-zA-Z0-9\s-]*$/">
                                    </div>

                                        <div class="error-container"
                                             ng-show="myForm.form3nameOt.$dirty && myForm.form3nameOt.$invalid || myForm.$submitted">
                                            <small class="help-block" ng-show="myForm.form3nameOt.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.form3nameOt.$touched))">
                                                Enter Valid Data
                                            </small>
                                        </div>
                                    </div>
                               

                        </div>
                        <!--</div>-->
                  
                    <div class="row">
                        <div class="col-md-12">
                    <div class="form-actions">
                        <div class="pull-right">
                            <button class="btn btn-primary btn-small" type="submit" ng-show="save1">{{ "Save" | translate }}</button>
                            <button class="btn btn-primary btn-small" type="submit" ng-show="update1">{{ "Update" | translate }}</button>
                            <!--<button class="btn btn-danger btn-cons" type="button" ng-click="Delete()" ng-show="delete1">Delete</button>-->
                            <button class="btn btn-danger btn-small" type="button" ng-click="cancel()">{{ "Cancel" | translate }}</button>
                        </div>
                    </div>
                            </div>
                    </div>
                </form>
            </div>

            <div ng-show="grid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="pull-left">
                            <!--<select id="Select2" class="input-sm" style="width: 60px" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                <option value="{{x.val}}" class=" form-control input-sm" ng-repeat="x in countData">
                                    {{x.data}}
                                </option>


                            </select>-->
                             <select id="Select12" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="10" class="form-control input-sm">
                                10
                            </option>

                            <option value="20" class="form-control input-sm">
                                20
                            </option>

                            <option value="All" class="form-control input-sm">
                                All
                            </option>
                        </select>
                        </div>
                        &nbsp;
                        <button class="btn btn-success btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate }}</button>
                        &nbsp;
                        <button class="btn btn-danger btn-small" type="button" ng-click="Delete()"><span class="semi-bold"></span>{{"Delete"| translate }}</button>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                                <!--<label>
                                    {{"Search"| translate }}:&nbsp;
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Sub. Type Code/ Type Name" class="k-textbox" autofocus="autofocus" tabindex="1" ng-change="search()">
                                </label>-->
                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Sub. Type Code/ Type Name" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div class="row margin-top">
                        <div class="col-md-12">
                        <!-- <table class="table table-hover table-striped  no-more-tables">-->
                        <table class="table table-hover table-bordered table-condensed" id="fixedtable">
                            <thead>
                                <tr style="background-color: #e9e4e4">

                                    <th class="small-cell v-align-middle" style="z-index: 999">
                                        <div class="checkbox check-success">
                                            <input type="checkbox" name="check" value="1" class="k-checkbox" id="mainchk" ng-click="CheckAllChecked();">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>
                                    <th><b>{{"CURRICULUM"|translate}}</b></th>
                                    <th><b>{{"GROUP CODE"| translate }}</b></th>
                                    <th><b>{{"NAME (ENGLISH)"| translate }}</b></th>
                                    <th><b>{{"NAME (ARABIC)"| translate }}</b></th>
                                    <th><b>{{"NAME (FRENCH)"| translate }}</b></th>
                                    <th><b>{{"NAME (OTHER)"| translate }}</b></th>
                                    <th class="small-cell v-align-middle"><b><i class="fa fa-cogs"></i></b></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="sub_type in filteredTodos" ng-class="row1">
                                    <td>
                                        <div class="checkbox check-success" style="height: 20px">
                                            <input type="checkbox" class="k-checkbox" name="check" value="1" id="{{sub_type.subject_type_code+$index}}" ng-click="checkonebyonedelete()">
                                            <label for="{{sub_type.subject_type_code+$index}}">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div>{{sub_type.sims_cur_name}}</div>
                                    </td>
                                    <td>
                                        <div>{{sub_type.subject_type_code}}</div>
                                    </td>
                                    <td>
                                        <div>{{sub_type.subject_type_name_eng}}</div>
                                    </td>
                                    <td>
                                        <div>{{sub_type.subject_type_name_ar}}</div>
                                    </td>
                                    <td>
                                        <div>{{sub_type.subject_type_name_fr}}</div>
                                    </td>
                                    <td>
                                        <div>{{sub_type.subject_type_name_ot}}</div>
                                    </td>
                                    <td>
                                        <a><i class="fa fa-edit" ng-click="edit(sub_type)"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                        </div>
                     <div class="row"  ng-show="pager">
                        <div class="col-md-12">
                    <div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                ng-click="index(currentPage)">
                        </paging>
                    </div>
                            </div>
                         </div>

                </div>
            </div>
        </div>
    </div>
</div>

</div>

<script src="assets/js/tableHeadFixer.js"></script>



