﻿
<div class="row">
    <div class="col-md-12">

        <div class="row" ng-show="notshow">
            <div class="col-xs-4">
                <div class="well" class="form-group">
                    <div class="form-group">
                        <label>Current Page:</label>
                        <input placeholder="page"
                            class="form-control"
                            ng-model="currentPage"
                            ng-init="currentPage = 1" />
                    </div>
                    <div class="form-group">
                        <label>Page Size:</label>
                        <input placeholder="Page Size"
                            class="form-control"
                            ng-model="numPerPage" />
                    </div>
                    <div class="form-group">
                        <label>Total Items:</label>
                        <input placeholder="Total"
                            class="form-control"
                            ng-model="pagersize" />
                    </div>
                    <hr />
                    <div class="form-group">
                        <label>Dots Display:</label>
                        <input placeholder="..."
                            class="form-control"
                            maxlength="3"
                            ng-model="dots"
                            ng-init="dots = '...'" />
                    </div>

                    <hr />
                    <div class="form-group">
                        <label>UL Class:</label>
                        <input placeholder="pagination"
                            class="form-control"
                            maxlength="100"
                            ng-model="ulClass" />
                    </div>
                    <div class="form-group">
                        <label>Active Class:</label>
                        <input placeholder="active"
                            class="form-control"
                            maxlength="100"
                            ng-model="activeClass"
                            ng-init="activeClass = 'active'" />
                    </div>
                    <div class="form-group">
                        <label>Disabled Class:</label>
                        <input placeholder="disabled"
                            class="form-control"
                            maxlength="100"
                            ng-model="disabledClass"
                            ng-init="disabledClass = 'disabled'" />
                    </div>
                    <br />
                    <table class="table">

                        <tr>
                            <td>
                                <label>Show Prev Next:</label>
                            </td>
                            <td>
                                <input type="checkbox"
                                    ng-model="showPrevNext"
                                    ng-init="showPrevNext = true" />
                                {{showPrevNext}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Show First Last:</label>
                            </td>
                            <td>
                                <input type="checkbox"
                                    ng-model="showFirstLast"
                                    ng-init="showFirstLast = true" />
                                {{showPrevNext}}
                            </td>
                        </tr>
                    </table>
                    <hr />
                    <span class="btn btn-default" onclick="location.reload()">
                        <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                    </span>
                    <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                    </span>
                    <br />
                    <br />
                </div>
            </div>
        </div>

        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Transfer" | translate}}</span>&nbsp;{{"Certificate" | translate}}</h3>
            </div>
            <div class="grid-body no-border">
                <form name="MyForm" submit-validate="" role="form" novalidate="">
                    <!-- tile -->
                    <section class="tile" fullscreen="isFullscreen02">
                        <div class="tile-body">
                            <div class="row">
                                <div class="col-md-1">
                                    <label for="name"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Enroll No." | translate}}: </label>
                                    <input type="text" name="Reason" id="Text1" class="k-textbox input-sm full-width ng-pristine ng-untouched ng-valid ng-valid-pattern" required ng-model="edt.sims_enroll_number" readonly>
                                </div>
                                <div class="col-md-1">
                                    <label>&nbsp;</label>
                                    <button class="btn btn-warning btn-ef btn-ef-3 btn-ef-3c btn-small" ng-click="SearchEnroll()">{{"Search" | translate}}&nbsp;<i class="fa fa-search"></i></button>
                                </div>

                                <div class="col-md-2">
                                    <label for="name"><i class="fa fa-user"></i>&nbsp;{{"Name" | translate}} </label>
                                    <input type="text" name="Reason" id="Text2" class="k-textbox input-sm full-width ng-pristine ng-untouched ng-valid ng-valid-pattern" ng-model="edt.sims_student_name" readonly>
                                </div>
                                <div class="col-md-2">
                                    <label for="name"><i class="fa fa-calendar"></i>&nbsp;{{"Expected Date" | translate}}: </label>
                                    <input placeholder="Select Date" ng-disabled="End_date" name="creation_date"
                                        class="k-textbox input-sm full-width" id="insu_exp_id"
                                        ng-model="dt.sims_tc_certificate_request_date">
                                </div>
                                <!--  </div>-->
                                <div class="col-md-1">
                                    <label>&nbsp;</label>
                                        <button class="btn btn-primary btn-ef btn-ef-3 btn-ef-3c btn-small" ng-click="Show()">{{"Show" | translate}}</button>
                                </div>
                                <div class="col-md-3">
                                    <label for="website"><i class="fa fa-align-center"></i>&nbsp;{{"Reason Of Leaving" | translate}}: </label>
                                    <input type="text" name="Reason" id="Text3" class="k-textbox input-sm full-width ng-pristine ng-untouched ng-valid ng-valid-pattern" required ng-model="edt.sims_tc_certificate_reason" maxlength="100" placeholder="">
                                    <div class="error-container"
                                        ng-show="LeaveForm.Reason.$dirty && LeaveForm.Reason.$invalid || LeaveForm.$submitted">
                                        <small class="error"
                                            ng-show="LeaveForm.Reason.$error.required">Reason is required.
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label>&nbsp;</label>
                                        <!-- SUBMIT BUTTON -->
                                        <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c btn-small" ng-click="Save(MyForm)" id="Button1">{{"Submit" | translate}}</button>&nbsp;
                                        <button class="btn btn-warning btn-ef btn-ef-3 btn-ef-3c btn-small" ng-click="Reset()">{{"Reset" | translate}}</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="pull-left">
                                        <div class="alert" ng-show="showMessage" ng-class="messageClass" style="width: 500px;">
                                            <button class="close" ng-click="close()"></button>
                                            {{message}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </section>
                </form>


                <!-----------------------------------------Search Code--------------------------------------------------->

                <div ng-show="tablehide">
                    <div class="row margin-top">
                        <div class="col-md-1">
                            <select id="Select2" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                <option value="10" class=" form-control input-sm">10
                                </option>

                                <option value="20" class=" form-control input-sm">20
                                </option>

                                <option value="All" class=" form-control input-sm">All
                                </option>
                            </select>
                        </div>

                        <div class="col-md-2">
                            <label for="DivCode">{{"Direct Approval" | translate }}</label>
                        </div>
                        <div class="col-md-2">
                            <select id="Select11" data-role="dropdownlist" class="form-control input-sm full-width" name="user" ng-model="temp.sims_tc_direct_approve_status_code">
                                <option value="">Please Select</option>
                                <option class="form-control input-sm" ng-repeat="temp in approve_status" value="{{temp.sims_tc_direct_approve_status_code}}">{{temp.sims_tc_direct_approve_status}}</option>
                            </select>
                        </div>

                        <div class="col-md-3">
                            <div>
                                <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c btn-small" type="button" ng-click="direct_approve()">{{"Update Status" | translate}}</button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="pull-right">
                                <div class="dataTables_filter" id="Div2">
                                    <!--<label>
                                        {{"Search"| translate }}:&nbsp;
                                        <input aria-controls="example" ng-model="searchText" class="input-medium" placeholder="Search" type="search" ng-change="search()">
                                    </label>-->
                                    <span class="k-textbox k-space-right full-width">
                                        <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                        <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="nav nav-tabs" id="tab-01" style="background:#fff;border-bottom: 0px;">
                    <li class="active" style="background-color: #0090d9;"><a href="#personal_information" ng-click="shownew('N');">{{ "NEW" | translate }} </a></li>
                    <li style="background-color: #0aa699;"><a href="#personal_information" ng-click="shownew('P')">{{"PENDING"|translate}}</a></li>
                    <li style="background-color: #f35958;"><a href="#personal_information" ng-click="shownew('A')">{{"APPROVE"|translate}}</a></li>
                    <li style="background-color: #735f87;"><a href="#personal_information" ng-click="shownew('T')">{{"COMPLETED"|translate}}</a></li>
                    <li style="background-color: #0aa699;"><a href="#personal_information" ng-click="shownew('R')">{{"REJECT"|translate}}</a></li>
                </ul>

                <!-----------------------------------------Table Code--------------------------------------------------->
                <div class="tab-content">
                    <div class="tab-pane active" id="personal_information">
                        <div class="row column-seperation">
                            <div class="tab-pane" id="Div9" aria-expanded="true">
                                <div ng-show="tablehide">
                                    <div id="Div1" class="dataTables_wrapper form-inline">
                                        <div class="row margin-top">
                                            <div class="col-md-12">
                                                <table class="table table-bordered table-hover table-condensed" id="fixTable">
                                                    <thead style="background-color: white">
                                                        <tr style="background-color: #edefef">
                                                            <th class="small-cell v-align-middle" style="z-index: 1">
                                                                <div class="checkbox check-success">
                                                                    <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                                                    <label for="mainchk"></label>
                                                                </div>
                                                            </th>
                                                            <th>{{"Request Number" | translate}}</th>
                                                            <th>{{"Enroll Number" | translate}}</th>
                                                            <th>{{"Curriculum" | translate}}</th>
                                                            <th>{{"Academic Year" | translate}}</th>
                                                            <th>{{"Reason" | translate}}</th>
                                                            <th>{{"Request Date" | translate}}</th>
                                                            <th>{{"Expected Date" | translate}}</th>
                                                            <th>{{"Status" | translate}}</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>

                                                    <tbody ng-repeat="info in filteredTodos | orderBy:orderByField:reverseSort" ng-class="row1">
                                                        <tr>
                                                            <td>
                                                                <div class="row-fluid">
                                                                    <div class="checkbox check-success" style="height: 20px">
                                                                        <input id="{{info.sims_tc_certificate_request_number+$index}}" type="checkbox" value="1" ng-click="checkonebyonedelete()" ng-model="chkb">
                                                                        <label for="{{info.sims_tc_certificate_request_number+$index}}"></label>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <label>{{info.sims_tc_certificate_request_number}}</label>
                                                            </td>

                                                            <td>
                                                                <label>{{info.sims_enroll_number}}</label>

                                                            </td>

                                                            <td>
                                                                <label>{{info.sims_tc_certificate_cur_code}}</label>

                                                            </td>

                                                            <td>
                                                                <label>{{info.sims_tc_certificate_academic_year_desc}}</label>

                                                            </td>

                                                            <td>
                                                                <label>{{info.sims_tc_certificate_reason}}</label>

                                                            </td>

                                                            <td>
                                                                <label>{{info.sims_tc_certificate_request_date}}</label>
                                                            </td>

                                                            <td>
                                                                <label>{{info.sims_tc_certificate_expected_date}}</label>
                                                            </td>

                                                            <td class="v-align-middle">
                                                                <!--<label>{{info.sims_tc_certificate_request_status}}</label>-->
                                                                <span ng-if="info.sims_tc_certificate_request_status=='T'" class="label label-important" style="background-color: grey" ng-click="viewDetails(info)">{{"Completed" | translate}} </span>
                                                                <span ng-if="info.sims_tc_certificate_request_status=='P'" class="btn btn-success btn-xs btn-mini" ng-click="viewDetails(info)">{{"Pending" | translate}}</span>
                                                                <span ng-if="info.sims_tc_certificate_request_status=='C'" class="label label-important">{{"Cancelled" | translate}}</span>
                                                                <span ng-if="info.sims_tc_certificate_request_status=='A'" class="btn btn-success btn-xs btn-mini" style="background-color: #099a8c;" ng-click="viewDetailsApprove(info,1)">{{"Approved" | translate}}</span>
                                                                <span class="btn btn-danger btn-xs btn-mini" ng-if="info.sims_tc_certificate_request_status=='R'">{{"Rejected" | translate}}</span>


                                                            </td>

                                                            <td>
                                                                <span class="btn btn-danger btn-xs btn-mini" ng-if="info.sims_tc_certificate_request_status=='P'" ng-click="reject(info)">{{"Reject" | translate}}</span>

                                                            </td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="pull-right">
                                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                                        ng-click="index(currentPage)">
                                            </paging>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="modal fade in" id="myModal1" role="dialog" tabindex="-1" style="display: none;">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 850px; height: 500px;">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" ><b>{{"Clearance Search" | translate }}</b></h4>
                </div>
                <div class="pull-right">
                    <button  class="btn-sm" data-dismiss="modal" ng-click="modal_cancel()" type="submit">X</button>
                </div>
            </div>
            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                class="form-control"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                class="form-control"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>


            <div class="grid-body no-border">
                <div class="col-md-12">
                    <div ng-show="clearance">
                        <div id="Div4" class="dataTables_wrapper form-inline">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-hover" id="Table1" aria-describedby="example2_info">
                                        <thead style="background-color: white">
                                            <tr>
                                                <th class="semi-bold">{{"DEPT" | translate }}</th>
                                                <th class="semi-bold">{{"STATUS" | translate }}</th>
                                                <th class="semi-bold">{{"CLEAR DATE" | translate }}</th>
                                                <th class="semi-bold">{{"CLEAR BY" | translate }}</th>
                                                <th class="semi-bold">{{"REMARK" | translate }}</th>
                                            </tr>
                                        </thead>


                                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                                            <tr ng-repeat="j in clear">
                                                <td>{{j.dept}}</td>
                                                <td class="v-align-middle">
                                                    <span ng-if="j.status=='A'" class="label label-success" style="background-color: #099a8c;">Approved</span></span>
                                                <span ng-if="j.status=='P'" class="label label-important" style="background-color: rgb(243, 125, 26); color: white">Pending</span>
                                                </td>
                                                <td>{{j.date}}</td>
                                                <td>{{j.clear_by}}</td>
                                                <td>{{j.remark}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right" ng-show="hide_approve">

                                 <button class="btn btn-success ng-binding" ng-click="cancel_adm_only(main_obj_approve)" type="button">
                                    {{"Click To Cancel Admission" | translate}}                                                             
                                </button>
                                <button class="btn btn-success ng-binding" ng-hide="true" ng-click="cancel_adm(main_obj_approve)" type="button">
                                    {{"Click To Approve" | translate}}                                                             
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/js/tabs_accordian.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>

<script src="assets/js/moment.js"></script>




