﻿<div class="grid-body no-border" ng-show="grid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="row form-row">
                                <select id="Select1" style="width: 60px" name="user" class="form-control input-sm full-width" data-role="dropdownlist"
                                        ng-model="itemsPerPage" ng-change="size(itemsPerPage)">
                                    <option value="5" class=" form-control input-sm">5</option>
                                    <option value="10" class=" form-control input-sm">10</option>
                                    <option value="15" class=" form-control input-sm">15</option>
                                </select>
                                &nbsp;
                            <button class="btn btn-success" style="height: 35px" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>New</button>
                                &nbsp;
                        <button class="btn btn-white" style="height: 35px" type="button" ng-click="Delete()"><span class="semi-bold"></span>Delete</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row form-row">
                                <ul class="nav nav-tabs" id="tab-01" style="height: 36px">
                                    <li><a href="#Search_By_Parent" ng-click="parenclear();"  style="height: 34px">By Parent</a></li>
                                    <li  class="active"><a href="#User" ng-click="userclear();"  style="height: 34px">User</a></li>
                                    <li><a href="#My_Search" style="height: 34px">My Search</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row form-row">
                                <div class="pull-right">
                                    <div class="dataTables_filter" id="example_filter">
                                        <!--<label>
                                            Search:&nbsp;
                                    <input type="text" aria-controls="example" ng-model="search.$" class="input-medium">
                                        </label>-->
                                        <span class="k-textbox k-space-right full-width">
                                            <input type="text" aria-controls="example" ng-model="search.$" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                            <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        </div>
                    </div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="tab-content">

                            <div class="tab-pane" id="Search_By_Parent">
                                <div class="row column-seperation">
                                    <div class="tab-pane" id="Div9" aria-expanded="true">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row form-row">

                                                    <div class="col-md-3">
                                                        <div class="row form-row">
                                                            <div class="col-md-12">
                                                                <label>Garde</label>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <select id="Select9" style="width: 100%" class="form-control input-sm full-width" data-role="dropdownlist"
                                                                         ng-model="edt.search_std_grade_name" ng-change="getallsectioncode(edt.search_std_grade_name);">
                                                                    <option value="" selected disabled>Please Select</option>
                                                                    <option class="form-control input-sm" ng-repeat="grade_cod in grade" value="{{grade_cod.code}}">
                                                                        {{grade_cod.name}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <div class="row form-row">
                                                            <div class="col-md-12">
                                                                <label>Section</label>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <select id="Select10" style="width: 100%" class="form-control input-sm full-width" data-role="dropdownlist" 
                                                                        ng-model="edt.sims_section_code">
                                                                    <option value="" selected disabled>Please Select</option>
                                                                    <option class="form-control input-sm" ng-repeat="section_cod in section_code1" value="{{section_cod.code}}">
                                                                        {{section_cod.name}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="row form-row">
                                                            <div class="col-md-12">
                                                                <label>&nbsp;</label>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="pull-right">
                                                                <button class="btn btn-primary btn-cons " style="height: 33px" ng-click="search_by_Parent()">Search</button>
                                                                <button class="btn btn-primary btn-cons " style="height: 33px" ng-click="New()">Reset</button>
                                                            </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                        <div id="Div2" class="dataTables_wrapper form-inline">
                                            <div style="width: 100%; height: 380px; overflow-x: auto; overflow-y: auto">
                                                <table class="table  table-striped  table-condensed" id="Table1" aria-describedby="example2_info">
                                                    <thead style="background-color: white">
                                                        <tr>
                                                            <td class="semi-bold" ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                                                <label>
                                                                    <b><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span>
                                                                        <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;ENROLLNUMBER</a></b>
                                                                </label>
                                                            </td>
                                                            <td class="semi-bold">NAME</td>
                                                            <td class="semi-bold">LOGIN ID</td>
                                                            <td class="semi-bold">NUMBER</td>
                                                            <td class="semi-bold">NAME</td>
                                                            <td class="semi-bold">PARENT EMAIL ID</td>
                                                            <td class="semi-bold">ACTION</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                        <tr ng-repeat="info in Allparent | filter:search:strict | orderBy:orderByField:reverseSort" ng-class="row1">
                                                            <td>{{info.s_enroll_no}}</td>
                                                            <td>{{info.name}}</td>
                                                            <td>{{info.s_parent_id}}</td>
                                                            <td>{{info.user_name}}</td>
                                                            <td>{{info.s_parent_name}}</td>
                                                            <td>{{info.mail_id}}</td>
                                                            <td><a href="#"><i class="fa fa-edit" data-dismiss="modal" ng-click="edit(info)"></i></a></td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                            <div class="dataTables_paginate paging_bootstrap pagination pull-right">
                                                <br />
                                                <ul style="display: inline-block">
                                                    <li style="display: inline-block" class="prev disabled"><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                                                    <li class="active" style="display: inline-block"><a href="" ng-click="index(1)">1</a></li>
                                                    <li style="display: inline-block"><a href="" ng-click="index(2)">2</a></li>
                                                    <li style="display: inline-block"><a href="" ng-click="index(3)">3</a></li>
                                                    <li style="display: inline-block"><a href="" ng-click="index(4)">4</a></li>
                                                    <li style="display: inline-block"><a href="" ng-click="index(5)">5</a></li>
                                                    <li style="display: inline-block"><a href="" ng-click="index(6)">6</a></li>

                                                    <li class="next" style="display: inline-block"><a href=""><i class="fa fa-chevron-right"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane  active" id="User">
                                <div class="row column-seperation">
                                    <div class="tab-pane" id="Div10" aria-expanded="true">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row form-row">

                                                    <div class="col-md-2">
                                                        <div class="row form-row">
                                                            <div class="col-md-12">
                                                                <label>User Id</label>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <input id="txt_user_id" class="form-control" ng-model="temp.code" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-2">
                                                        <div class="row form-row">
                                                            <div class="col-md-12">
                                                                <label>Name</label>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <input id="txt_user_name" class="form-control" ng-model="temp.name" />
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="col-md-2">
                                                        <div class="row form-row">
                                                            <div class="col-md-12">
                                                                <label>Email Id</label>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <input id="Text1" class="k-textbox" ng-model="temp.search_user_email_id" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                     <div class="col-md-3">
                                                        <div class="row form-row">
                                                            <div class="col-md-12">
                                                                <label>Select User</label>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <select id="cmb_user" style="width: 100%" class="form-control input-sm full-width" data-role="dropdownlist"
                                                                        ng-model="search.$" ng-change="selecteduser(temp.search_user_name);">
                                                                    <option value="" selected disabled>Please Select</option>
                                                                    <option value="Parent">Parent</option>
                                                                    <option value="Student">Student</option>
                                                                    <option value="Employee">Employee</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <div class="row form-row">
                                                            <div class="col-md-12">
                                                                <label>&nbsp;</label>
                                                            </div>
                                                            <div class="col-md-12">
                                                                 <div class="pull-right">
                                                                
                                                                     <button id="btn_user_search" style="height:33px" type="button" class="btn btn-primary btn-cons" ng-click="user_search();">Search</button>
                                                            
                                                                        <button class="btn btn-primary btn-cons" type="button" ng-click="reset()"><i class="icon-ok"></i>Reset</button>
                                                                 </div>
                                                                </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div id="Div3" class="dataTables_wrapper form-inline">
                                            <div style="width: 100%; height: 380px; overflow-x: auto; overflow-y: auto">
                                                <table class="table  table-striped  table-condensed" id="Table2" aria-describedby="example2_info">
                                                    <thead style="background-color: white">
                                                        <tr>

                                                            <td class="semi-bold" ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                                                <label>
                                                                    <b><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span>
                                                                        <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;USER ID</a></b></label></td>

                                                            <td class="semi-bold">NAME</td>
                                                            <td class="semi-bold">GROUP NAME</td>
                                                            <td class="semi-bold">DATE CREATED</td>
                                                            <td class="semi-bold">CAPTCHA STATUS</td>
                                                            <td class="semi-bold">LAST LOGIN</td>
                                                            <td class="semi-bold">EMAIL ID</td>
                                                            <td class="semi-bold">STATUS</td>
                                                            <td class="semi-bold">EXPIRY DATE</td>
                                                            <td class="semi-bold">ACTION</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                        <tr ng-repeat="info in Allusers | filter:search:strict | orderBy:orderByField:reverseSort" ng-class="row1">

                                                            <td>{{info.user_name}}</td>
                                                            <td>{{info.name}}</td>
                                                            <td>{{info.search_user_name}}</td>
                                                            <td>{{info.user_date_created}}</td>
                                                            <td class="v-align-middle">
                                                                <span ng-if="info.user_captcha_status==true" class="label label-success">Active</span>
                                                                <span ng-if="info.user_captcha_status==false" class="label label-important">In active</span>
                                                            </td>
                                                            <td>{{info.user_last_login}}</td>
                                                            <td>{{info.mail_id}}</td>
                                                            <td class="v-align-middle">
                                                                <span ng-if="info.user_status==true" class="label label-success">Active</span>
                                                                <span ng-if="info.user_status==false" class="label label-important">In active</span>
                                                            </td>
                                                            <td>{{info.user_expiry_date}}</td>
                                                            <td><a href="#"><i class="fa fa-edit" data-dismiss="modal" ng-click="edit(info)"></i></a></td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                            <div class="dataTables_paginate paging_bootstrap pagination pull-right">
                                                <br />
                                                <ul style="display: inline-block">
                                                    <li style="display: inline-block" class="prev disabled"><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                                                    <li class="active" style="display: inline-block"><a href="" ng-click="index(1)">1</a></li>
                                                    <li style="display: inline-block"><a href="" ng-click="index(2)">2</a></li>
                                                    <li style="display: inline-block"><a href="" ng-click="index(3)">3</a></li>
                                                    <li style="display: inline-block"><a href="" ng-click="index(4)">4</a></li>
                                                    <li style="display: inline-block"><a href="" ng-click="index(5)">5</a></li>
                                                    <li style="display: inline-block"><a href="" ng-click="index(6)">6</a></li>

                                                    <li class="next" style="display: inline-block"><a href=""><i class="fa fa-chevron-right"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="tab-pane" id="My_Search">
                                <div class="row column-seperation">
                                    <div class="tab-pane" id="Div5" aria-expanded="true">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row form-row">

                                                    <div class="col-md-3">
                                                        <div class="row form-row">
                                                            <div class="col-md-12">
                                                                <label>Garde</label>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <input id="Text2" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="Div6" class="dataTables_wrapper form-inline">
                                            <div style="width: 100%; height: 380px; overflow-x: auto; overflow-y: auto">
                                                <table class="table  table-striped  table-condensed" id="Table3" aria-describedby="example2_info">
                                                    <thead style="background-color: white">
                                                        <tr>
                                                            <td class="semi-bold">MORE</td>
                                                            <td class="small-cell v-align-middle">
                                                                <div class="checkbox check-success">
                                                                    <input type="checkbox" name="check" value="1" id="Checkbox4" ng-click="check();" class="checkall">
                                                                    <label for="mainchk"></label>
                                                                </div>
                                                            </td>
                                                            <td class="semi-bold" ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                                                <label>
                                                                    <b><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span>
                                                                        <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;CODE</a></b></label></td>

                                                            <td class="semi-bold">NAME</td>
                                                            <td class="semi-bold">DATE</td>
                                                            <td class="semi-bold">SHORT DESCRIPTION</td>
                                                            <td class="semi-bold">STATUS</td>
                                                            <td class="semi-bold">COLOR</td>
                                                            <td class="semi-bold">DISPLAY ORDER</td>
                                                            <td class="semi-bold">ACTION</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                        <tr ng-repeat="info in Allusers | filter:search:strict | orderBy:orderByField:reverseSort" ng-class="row1">
                                                            <td class="text-center"><i class="fa fa-plus-circle" ng-click="expand(info, $event);"></i></td>
                                                            <td>
                                                                <div class="checkbox check-success" style="height: 20px">
                                                                    <input type="checkbox" name="check" value="1" id="Checkbox5" ng-click="check1(info.comn_user_code)" />
                                                                    <label for="{{info.comn_user_code}}"></label>
                                                                </div>
                                                            </td>
                                                            <td>{{info.comn_user_code}}</td>
                                                            <td>{{info.comn_user_name}}</td>
                                                            <td>{{info.module_create_date}}</td>
                                                            <td>{{info.module_short_desc}}</td>
                                                            <td class="v-align-middle">
                                                                <span ng-if="info.module_status==true" class="label label-success">Active</span>
                                                                <span ng-if="info.module_status==false" class="label label-important">In active</span>
                                                            </td>
                                                            <td>{{info.module_color}}</td>
                                                            <td>{{info.module_dislpay_order}}</td>
                                                            <td><a href="#"><i class="fa fa-edit" data-dismiss="modal" ng-click="edit(info)"></i></a></td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                            <div class="dataTables_paginate paging_bootstrap pagination pull-right">
                                                <br />
                                                <ul style="display: inline-block">
                                                    <li style="display: inline-block" class="prev disabled"><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                                                    <li class="active" style="display: inline-block"><a href="" ng-click="index(1)">1</a></li>
                                                    <li style="display: inline-block"><a href="" ng-click="index(2)">2</a></li>
                                                    <li style="display: inline-block"><a href="" ng-click="index(3)">3</a></li>
                                                    <li style="display: inline-block"><a href="" ng-click="index(4)">4</a></li>
                                                    <li style="display: inline-block"><a href="" ng-click="index(5)">5</a></li>
                                                    <li style="display: inline-block"><a href="" ng-click="index(6)">6</a></li>

                                                    <li class="next" style="display: inline-block"><a href=""><i class="fa fa-chevron-right"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
