﻿<link href="assets/plugins/Minovate/Main.css" rel="stylesheet" />

    <style >
        .grow:hover
        {
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            border:1px solid;
        }
        .btn.btn-default:hover {
  /*background-color: #f2f3f4;*/
  background-color: #4390d1 !important;
  font-weight:bold;
  color: #000;
  border-color: #000;

}
        .cbp_tmtimeline > li .cbp_tmlabel:after {
   
    border-right-color: #e4efee !important;
   
}
      
        .tile {
            margin-bottom: 1px ;
        }
        .grid {
    clear: both;
    margin-top: 0px;
    margin-bottom: 8px;
    padding: 0px;
}
        .btn.btn-default:focus {
  background-color: #71b0e5 !important;
  border-color: #b1bac0;

}

        .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: #e4efee !important;
}
    .cbp_tmtimeline {
        margin: 10px 0 0 0;
        padding: 0;
        list-style: none;
        position: relative;
    }
    cbp_tmtimeline > li .cbp_tmlabel {
        margin: 0 0 5px 25%;
        background: #ffffff;
        font-size: 13px;
        line-height: 1.4;
        position: relative;
    }
    .cbp_tmtimeline > li .cbp_tmtime .time {
    font-size: 1.3em;
    color: #505458;
    display: block;
}

</style>


<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Time Line 1"| translate}}</span></h3>
            </div>
            <div class="content">

                <div class="row">
        <div class="col-md-12">
          <div class="grid simple ">
            
            <div class="grid-body no-border">

                   <h3><span class="semi-bold">{{"Favourite"| translate}}</span></h3>
              <div class="tile-body table-custom">

                <div class="table-responsive">
                    <div id="project-progress_wrapper">
                        <div class="row">
                            <div class="col-md-12" style="padding-top:2px;" >

                                <!-- tile -->
                                <section class="tile">

                                    <!-- tile header -->
                                 
                                    <!-- /tile header -->
                                    <!-- tile body -->
                                    <div class="tile-body" style="padding:9px;">
                                        <div class="row icons-list">
                                            <div   ng-click="application_click_new(app)" class="col-lg-3 col-md-6 col-sm-12 col-xs-12" ng-repeat="app in applications_time ">
                                            
                                                <button  class="btn btn-default btn-block btn-ef btn-ef-7 btn-ef-7a mb-10" ng-show="lagnn" style="text-align:left;font-size:11px"><i class="fa fa-icon" style="text-align:left;padding-left:5px"></i>{{app.comn_appl_name_en}}</button>
                                                <button  class="btn btn-default btn-block btn-ef btn-ef-7 btn-ef-7a mb-10" ng-hide="lagnn" style="text-align:left;font-size:11px"><i class="fa fa-icon" style="text-align:left;padding-left:5px"></i>{{app.comn_appl_name_ar}}</button>
                                             
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /tile body -->

                                </section>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>

                        

                <div class="row">

                    <div class="col-md-6">
          <div class="grid simple">
            
            <div class="grid-body no-border">
              <div class="row-fluid">
                 <h3><span class="semi-bold">{{"Last Visited"| translate}}</span></h3>
                        <ul class="cbp_tmtimeline" style="">
                            <li ng-repeat="x in audit_Details" style="padding-left:0px!important">                              
                                <time class="cbp_tmtime" datetime="2013-04-10 18:30" style="padding-left:14px;">
                                    <!--<span class="date">{{x.st_date}}</span>-->
                                    <!--<span class="time" style="font-size:20px!important">{{x.st_time}} </span><span class="semi-bold">{{x.st_am}}</span>-->
                                    <span class="time">
                                       {{x.st_time}}
                                        <span class="semi-bold" style="padding-left:9px;">{{x.st_am}}</span>
                                    </span>
                                   
                                </time>
                                <div class="cbp_tmicon primary animated bounceIn"> <!--<i class="fa fa-comments"></i>-->
                                    <img height="20" width="20"  ng-src="{{url}}/Images/ModuleImages/{{x.comn_mod_img}}" />
                                
                                 </div>
                                <div class="cbp_tmlabel grow">
                                    <div class="p-t-10 p-l-30 p-r-20 p-b-20 xs-p-r-10 xs-p-l-10 xs-p-t-5" style="background-color: #e4efee;" ng-show="lagnn">
                                        <span class="semi-bold">{{x.comn_mod_name_en}}--</span> <a href="">  <h5 class="inline m-b-5" ng-click="appl_load(x.comn_appl_code,x)"><span class="text-success semi-bold">{{x.comn_appl_name_en}}</span> </h5></a>
                                       
                                        <div class="muted" style="font-size:12px!important">{{"Start"| translate}} :{{x.comn_audit_start_time}} - {{"End"| translate}}:{{x.comn_audit_end_time}}</div>
                                       
                                    </div>
                                    <div class="p-t-10 p-l-30 p-r-20 p-b-20 xs-p-r-10 xs-p-l-10 xs-p-t-5" style="background-color: #e4efee;" ng-hide="lagnn">
                                        <span class="semi-bold">{{x.comn_mod_name_ar}}--</span> <a href="">  <h5 class="inline m-b-5" ng-click="appl_load(x.comn_appl_code,x)"><span class="text-success semi-bold">{{x.comn_appl_name_ar}}</span> </h5></a>
                                       
                                        <div class="muted" style="font-size:12px!important">{{"Start"| translate}} :{{x.comn_audit_start_time}} - {{"End"| translate}}:{{x.comn_audit_end_time}}</div>
                                       
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </li>
                        </ul>
                
              </div>
            </div>
          </div>
        </div>

                    <div class="col-md-6">
          <div class="grid simple">
            
            <div class="grid-body no-border">
              <div class="row-fluid">
                  <h3><span class="semi-bold">{{"Most Visited"| translate}}</span></h3>
                        <ul class="cbp_tmtimeline" style="">
                            <li ng-repeat="x in audit_Details_new" style="padding-left:0px!important">                              
                                <time class="cbp_tmtime" datetime="2013-04-10 18:30" style="padding-left:11px;">
                                    <!--<span class="date">{{x.st_date}}</span>-->
                                    <!--<span class="time" style="font-size:20px!important">{{x.st_time}} </span><span class="semi-bold">{{x.st_am}}</span>-->
                                    <span class="time">
                                       {{x.st_time}}
                                        <span class="semi-bold" style="padding-left:9px;">{{x.st_am}}</span>
                                    </span>
                                   
                                </time>
                                <div class="cbp_tmicon primary animated bounceIn"> <!--<i class="fa fa-comments"></i>-->
                                    <img height="20" width="20"  ng-src="{{url}}/Images/ModuleImages/{{x.comn_mod_img}}" />
                                
                                 </div>
                                <div class="cbp_tmlabel grow">
                                    <div class="p-t-10 p-l-30 p-r-20 p-b-20 xs-p-r-10 xs-p-l-10 xs-p-t-5" style="background-color: #e4efee;" ng-show="lagnn">
                                        <span class="semi-bold">{{x.comn_mod_name_en}}--</span> <a href="">  <h5 class="inline m-b-5" ng-click="appl_load(x.comn_appl_code,x)"><span class="text-success semi-bold">{{x.comn_appl_name_en}}</span> </h5></a>
                                    
                                        <div class="muted" style="font-size:12px!important">last visited:{{x.comn_audit_start_time}}</div>
                                     
                                    </div>

                                      <div class="p-t-10 p-l-30 p-r-20 p-b-20 xs-p-r-10 xs-p-l-10 xs-p-t-5" style="background-color: #e4efee;" ng-hide="lagnn">
                                        <span class="semi-bold">{{x.comn_mod_name_ar}}--</span> <a href="">  <h5 class="inline m-b-5" ng-click="appl_load(x.comn_appl_code,x)"><span class="text-success semi-bold">{{x.comn_appl_name_ar}}</span> </h5></a>
                                    
                                        <div class="muted" style="font-size:12px!important"> {{"last visited"| translate}}:{{x.comn_audit_start_time}}</div>
                                     
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </li>
                        </ul>
                
              </div>
            </div>
          </div>
        </div>

                </div>


                
             
            </div>
        </div>
    </div>
</div>