﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">
                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page1"
                                   class="form-control"
                                   ng-model="currentPage1"
                                   ng-init="currentPage1 = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size1"
                                   class="form-control"
                                   ng-model="numPerPage1" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total1"
                                   class="form-control"
                                   ng-model="pagersize1" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots1"
                                   ng-init="dots1 = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination1"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass1" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active1"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass1"
                                   ng-init="activeClass1 = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled1"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass1"
                                   ng-init="disabledClass1 = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">
                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext1"
                                           ng-init="showPrevNext1 = true" />
                                    {{showPrevNext1}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast1"
                                           ng-init="showFirstLast1 = true" />
                                    {{showPrevNext1}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage1 = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="page-title">
                <h3><span class="semi-bold">{{"User Honour" | translate}}</span></h3>
            </div>
            <div class="grid-title no-border"></div>
            <div class="grid-body no-border">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label>&nbsp;</label>
                            <button class="btn btn-success btn-cons" ng-click="Student();">{{"Student"|translate}}</button>
                            &nbsp;
                            <button class="btn btn-success btn-cons" ng-click="Employee();">{{"Employee"|translate}}</button>
                        </div>
                        <div class="col-md-8">
                            <div ng-show="employee">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row form-row">
                                            <div class="col-md-3">
                                                <div class="row form-row">
                                                    <div class="col-md-12">
                                                        <label>{{"Dept Name"|translate}}</label>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <select id="cmb_deepartment_name" class="form-control" name="employee_department" ng-model="edt.codp_dept_no">
                                                            <option value="" selected disabled>Please Select</option>
                                                            <option class="form-control input-sm" ng-repeat="dname in dept" value="{{dname.codp_dept_no}}">{{dname.codp_dept_name}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="row form-row">
                                                    <div class="col-md-12">
                                                        <label>{{"Designation"|translate}}</label>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <select id="cmb_grade_name" class="form-control" name="employee_grade" ng-model="edt.dg_code">
                                                            <option value="" selected disabled>Please Select</option>
                                                            <option class="form-control input-sm" ng-repeat="gname in desg" value="{{gname.dg_code}}">{{gname.dg_desc}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row form-row">
                                                    <div class="col-md-12">
                                                        <label>&nbsp;</label>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <button type="button" class="btn btn-primary btn-small" ng-click="Show_Data_Employee()">{{"Search"|translate}}</button>
                                                        <button type="button" class="btn btn-warning btn-small" ng-click="Reset1()">{{"Reset"|translate}}</button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-title no-border"></div>
                <!-- -----------------------------------------------------------Student Design--------------------------------------------------------------- -->
                <div ng-show="student">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Curriculum"|translate}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <!--<select id="cmb_School_Code" class="form-control" name="user" ng-model="edt.sims_cur_code" ng-change="getacyr(edt.sims_cur_code)">
                                                <option value="" selected disabled>Please Select</option>
                                                <option class="form-control input-sm" ng-repeat="cur in curriculum" value="{{cur.sims_cur_code}}">{{cur.sims_cur_short_name_en}}</option>
                                            </select>-->
                                            <select id="cmb_School_Code" class="form-control input-sm full-width" data-role="dropdownlist"
                                                    ng-model="temp.s_cur_code" name="currcode"
                                                    ng-change="getAccYear(temp.s_cur_code)"
                                                    ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in curriculum">
                                                <option value="">Please Select</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Academic Year"|translate}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <!--<select id="cmb_academic_year" class="form-control" ng-model="edt.sims_academic_year" ng-change="getGrade(edt.sims_cur_code,edt.sims_academic_year);">
                                                <option value="" selected disabled>Please Select</option>
                                                <option class="form-control input-sm" ng-repeat="year1 in Academic_year" value="{{year1.sims_academic_year}}">{{year1.sims_academic_year_desc}}</option>
                                            </select>-->
                                            <select id="cmb_academic_year" class="form-control input-sm full-width" data-role="dropdownlist"
                                                    ng-model="temp.sims_academic_year"
                                                    ng-change="getGrade(temp.s_cur_code,temp.sims_academic_year)"
                                                    ng-options="year1.sims_academic_year as year1.sims_academic_year_desc for year1 in Acc_year">
                                                <option value="">Please Select</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Grade"|translate}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <select id="cmb_grade_code" multiple="multiple" 
                                                    ng-model="edt.sims_grade_code" ng-change="getsection(edt.sims_cur_code,edt.sims_grade_code,edt.sims_academic_year);">
                                                <option class="form-control input-sm" ng-repeat="grade_cod in grade" value="{{grade_cod.sims_grade_code}}">{{grade_cod.sims_grade_name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Section"|translate}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <select id="cmb_section_code" multiple="multiple" 
                                                    ng-model="edt.sims_section_name" ng-change="get(edt.sims_section_name);">
                                                <option class="form-control input-sm" ng-repeat="section_cod in section1" value="{{section_cod.sims_section_code}}">
                                                    {{section_cod.sims_section_name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>&nbsp;</label>
                                        </div>
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-primary btn-cons" ng-click="Show_Data()">{{"Search"|translate}}</button>
                                            <button type="button" id="btnReset" class="btn btn-warning btn-cons" ng-click="Reset()">{{"Reset"|translate}}</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="grid-body no-border" ng-show="student_data">
                    <div class="row form-row">

                            <div class="col-md-1">
                                <select id="Select1" style="width: 50%" name="user" class="form-control input-sm full-width" data-role="dropdownlist"
                                        ng-model="pagesize" ng-change="size(pagesize)">
                                    <option value="10" class=" k-textbox input-sminput-sm">
                                        10
                                    </option>

                                    <option value="20" class=" k-textbox input-sminput-sm">
                                        20
                                    </option>

                                    <option value="All" class=" k-textbox input-sminput-sm">
                                        All
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-7">
                                <div class="col-md-3">
                                    <image src="assets/img/Employee.jpg" width="20px" heigth="20px" /><span>{{"Employee"|translate}}</span>
                                </div>
                                <div class="col-md-3">
                                    <image src="assets/img/student.jpg" width="20px" heigth="20px" /><span>{{"Student"|translate}}</span>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="pull-right">
                                    <div class="dataTables_filter" id="Div1">
                                        <!--<label>
                                            {{"Search:-"| translate}}  &nbsp;
                                            <input type="text" aria-controls="example" ng-model="searchText" autofocus="autofocus" class="input-medium" ng-change="search();">
                                        </label>-->
                                        <span class="k-textbox k-space-right full-width">
                                            <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                            <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        
                    </div>
                    <div class="row">
                        <div class="row form-row">
                            <div class="col-md-12">
                                <div class="page-container row">
                                    <br>
                                    <div id="Parks" class="just">

                                        <!-- TABLE HEADER CONTAINING SORT BUTTONS (HIDDEN IN GRID MODE)-->
                                        <div class="list_header">
                                            <div class="meta name active desc" id="SortByName" ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                                <a href="">
                                                    <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span>
                                                    <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                                   <b>{{"Name"| translate }}</b>
                                                </a>
                                               
                                            </div>
                                            <div class="meta region"><b>{{"Honour Type" | translate}}</b></div>
                                            <div class="meta area" id="SortByArea"><b>{{"Achievement" | translate}}</b></div>
                                        </div>
                                        <!-- FAIL ELEMENT -->

                                        <div class="fail_element anim250">{{"Sorry &mdash; we could not find any parks matching matching these criteria"|translate}}</div>
                                        <!-- BEGIN LIST OF PARKS (MANY OF THESE ELEMENTS ARE VISIBLE ONLY IN LIST MODE)-->
                                        <ul ng-repeat="studentinfo in filteredTodos | orderBy:orderByField:reverseSort">
                                            <li class="mix northeast camping climbing fishing swimming" data-name="Acadia" data-area="47452.80">
                                                <div class="meta name">
                                                    <div class="img_wrapper" style="border:1px solid #021a40;"><img ng-src="{{imageUrl + studentinfo.image}}" onerror="this.src='Images/StudentImage/default.jpg'" /> </div>
                                                    <div class="titles">
                                                        <h2>{{"Name"|translate}}:-{{studentinfo.fullname}}</h2>
                                                        <h5>{{"Enroll Num"|translate}}:-{{studentinfo.sims_honor_enroll_number}}</h5>
                                                        <h5>{{"GradeSection"|translate}}:-{{studentinfo.gradesection}}</h5>
                                                    </div>
                                                </div>
                                                <div class="meta region">
                                                    <p><image src="assets/img/student.jpg" width="35px" heigth="35px" /></p>
                                                </div>
                                                <div class="meta area">
                                                    <div class="progress">
                                                        <div ng-style="{ 'width': {{studentinfo.sims_honour_value}} +'%' }"
                                                             title="Your Achievement is {{studentinfo.sims_honour_value}}%"
                                                             data-percentage="{{studentinfo.sims_honour_value}}%"
                                                             class="progress-bar progress-bar-success animate-progress-bar">
                                                        </div> {{studentinfo.sims_honour_value}}
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- END LIST OF PARKS -->
                                        </ul>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="pager">
                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="pull-right">
                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                            ng-click="index(currentPage)">
                                    </paging>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="displayerror" ng-show="ImageView">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row form-row">
                                    <div>
                                        -
                                        <p>Sorry There is no Record in this Section!!!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

               
                <div class="grid-body no-border" ng-show="employee_data">
                    <div class="row form-row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="col-md-3">
                                    <image src="assets/img/Employee.jpg" width="20px" heigth="20px" /><span>{{"Employee" | translate}}</span>
                                </div>
                                <div class="col-md-3">
                                    <image src="assets/img/student.jpg" width="20px" heigth="20px" /><span>{{"Student" | translate}}</span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <select id="Select12" style="width: 60px" name="user" class="form-control input-sm full-width" data-role="dropdownlist"
                                        ng-model="pagesize1" ng-change="size(pagesize1)">
                                     <option value="10" class=" k-textbox input-sminput-sm">
                                10
                            </option>

                            <option value="20" class=" k-textbox input-sminput-sm">
                                20
                            </option>

                            <option value="All" class=" k-textbox input-sminput-sm">
                                All
                            </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <div class="pull-right">
                                    <div class="dataTables_filter" id="Div1">
                                        <!--<label>
                                            {{"Search:-"| translate}}  &nbsp;
                                            <input type="text" aria-controls="example" ng-model="searchText" autofocus="autofocus" class="input-medium" ng-change="search1();">
                                        </label>-->
                                        <span class="k-textbox k-space-right full-width">
                                            <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                            <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="col-md-3">
                                <label>&nbsp;</label>
                                <div data-toggle="buttons-radio" class="btn-group">
                                    <button class="btn btn-primary active" type="button" id="ToList"><i class="fa fa-th-list"></i></button>
                                    <button class="btn btn-primary" type="button" id="ToGrid"><i class="fa fa-th-large"></i></button>
                                </div>
                            </div>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="row form-row">
                            <div class="col-md-12">
                                <div class="page-container row">
                                    <div id="Parks1" class="just">
                                        <!-- "TABLE" HEADER CONTAINING SORT BUTTONS (HIDDEN IN GRID MODE)-->
                                        <div class="list_header">
                                            <div class="meta name active desc" ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                                <a href="">
                                                    <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span>
                                                    <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span><b> {{"Name"| translate }}</b>
                                                </a>
                                            </div>
                                            <div class="meta region"><b>{{"Honour Type" | translate}}</b></div>
                                            <div class="meta area"><b> {{"Achievement" | translate}}</b></div>
                                        </div>
                                        <!-- FAIL ELEMENT -->
                                        <div class="fail_element anim250">Sorry &mdash; we could not find any parks matching matching these criteria</div>
                                        <!-- BEGIN LIST OF PARKS (MANY OF THESE ELEMENTS ARE VISIBLE ONLY IN LIST MODE)-->
                                        <ul ng-repeat="employeeinfo in filteredTodos1 | orderBy:orderByField:reverseSort">
                                            <li class="mix northeast camping climbing fishing swimming" data-name="Acadia" data-area="47452.80">
                                                <div class="meta name">
                                                    <div class="img_wrapper" style="border:1px solid #021a40;"><img ng-src="{{imageUrl + employeeinfo.em_img}}" onerror="this.src='Images/StudentImage/default.jpg'" /> </div>
                                                    <div class="titles">
                                                        <h2>{{"Name"|translate}}:-{{employeeinfo.emp_Name}}</h2>
                                                        <h5>{{"Dept Name"|translate}}:-{{employeeinfo.codp_dept_name}}</h5>
                                                        <h5>{{"Designation"|translate}}:-{{employeeinfo.dg_desc}}</h5>
                                                    </div>
                                                </div>
                                                <div class="meta region">
                                                    <p><image src="assets/img/Employee.jpg" width="35px" heigth="35px" /></p>
                                                </div>

                                                <div class="meta area">
                                                    <div class="progress">
                                                        <!--<div class="progress-bar-success animate-progress-bar progress-bar"
                                                              title="Your Achievement is {{employeeinfo.sims_honour_value}}%"
                                                             data-percentage="{{employeeinfo.sims_honour_value}}%"
                                                             style="width: {{employeeinfo.sims_honour_value}}%;">
                                                        </div>-->
                                                        <div ng-style="{ 'width': {{employeeinfo.sims_honour_value}} +'%' }"
                                                             title="Your Achievement is {{employeeinfo.sims_honour_value}}%"
                                                             data-percentage="{{employeeinfo.sims_honour_value}}%"
                                                             class="progress-bar progress-bar-success animate-progress-bar">
                                                        </div> {{employeeinfo.sims_honour_value}}
                                                    </div>
                                                </div>
                                            </li>


                                            <!-- END LIST OF PARKS -->
                                        </ul>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="pager1">
                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="pull-right">
                                    <paging class="small" page="currentPage1" page-size="pageSize1" total="pagersize1" pg-href="#GotoPage1-{page1}" dots="{{dots1}}" show-prev-next="{{showPrevNext1}}"
                                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty1}}" ul-class="{{ulClass1}}" active-class="{{activeClass1}}" disabled-class="{{disabledClass1}}" show-first-last="{{showFirstLast1}}"
                                            paging-action="DoCtrlPagingAct('Paging Clicked', page1, pageSize1, totalItems1)"
                                            ng-click="index(currentPage1)">
                                    </paging>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="displayerror" ng-show="ImageView">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row form-row">
                                    <div>
                                        <p>Sorry There is no Record in this Section!!!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<script src="assets/plugins/jquery-numberAnimate/jquery.animateNumbers.js" type="text/javascript"></script>
<script src="assets/plugins/jquery-mixitup/jquery.mixitup.min.js" type="text/javascript"></script>
<script src="assets/js/search_results.js" type="text/javascript"></script>

<style>
    .displayerror {
        left: 30%;
        font-size: 20px;
        width: 40%;
        color: black;
        text-align: center;
        position: relative;
    }

    h2 {
        line-height: 0px;
    }

    .img_wrapper img {
        position: absolute;
        width: 100%;
        height: 112px;
        opacity: 1;
        top: 0;
        -webkit-transition: opacity 150ms;
        -moz-transition: opacity 150ms;
        -ms-transition: opacity 150ms;
        transition: opacity 150ms;
    }

    #Parks1.list .img_wrapper {
        display: inline-block;
        width: 100px;
        height: 114px;
        vertical-align: top;
        margin-right: 30px;
    }

    .progress {
        height: 15px;
        background-color: #e9ecee;
        background-image: none;
        box-shadow: none;
        filter: none;
        margin-top: 40px;
    }

    #Parks1.list .img_wrapper {
        display: inline-block;
        width: 100px;
        height: 112px;
        vertical-align: top;
        margin-right: 30px;
    }

    #Parks1.list .list_header .meta.name {
        padding-left: 15px;
        padding-top: 3px;
    }

    #Parks1 {
        position: relative;
        margin: 0px;
    }

    #Parks1 {
        margin-bottom: 30px;
    }

    #Parks1 {
        position: relative;
        margin: 0px;
    }

    #Parks1 {
        margin-bottom: 30px;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    div {
        display: block;
    }

    #Parks1.list .list_header {
        height: 38px;
        line-height: 38px;
        background: #d1dade;
        text-align: right;
        color: #59514c;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    #Parks1.list .meta {
        display: inline-block;
        width: 205px;
        text-align: center;
        line-height: 99px;
        border-left: 1px solid #d7dbe0;
        height: 100%;
        vertical-align: top;
    }

    #Parks1.list .list_header .meta {
        line-height: 38px;
        border: 0 none;
        margin-top: -8px;
        vertical-align: inherit;
    }

    #Parks1.list .meta.name {
        float: left;
        text-align: left;
        width: auto;
        border-left: 0 none;
    }

    #Parks1.list .list_header .meta.name {
        padding-left: 15px;
        padding-top: 9px;
    }

    #Parks1.list .list_header .meta span {
        position: relative;
        display: inline-block;
        width: 24px;
        height: 24px;
        margin: 0 0 0;
        cursor: pointer;
        top: 0px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

        #Parks1.list .list_header .meta span:after {
            content: '';
            position: absolute;
            top: 9px;
            left: 7px;
            border: 5px solid transparent;
        }

        #Parks1.list .list_header .meta span.asc:after {
            border-top: 7px solid #8E9AA2;
        }

        #Parks1.list .list_header .meta span.desc:after {
            top: 4px;
            border-bottom: 7px solid #8e9aa2;
        }

        #Parks1.list .list_header .meta span:hover {
            background: #b8bbbe;
        }

        #Parks1.list .list_header .meta span.asc:hover:after {
            border-top-color: #e5e9ec;
        }

        #Parks1.list .list_header .meta span.desc:hover:after {
            border-bottom-color: #e5e9ec;
        }

    #Parks1.list .list_header .meta span.active.asc:after {
        border-top-color: #505458;
    }

    #Parks1.list .list_header .meta span.active.desc:after {
        border-bottom-color: #505458;
    }

    #Parks1.list .mix {
        display: none;
        opacity: 0;
        padding: 18px 0 14px;
        border-bottom: 1px solid #d7dbe0;
        text-align: right;
        height: 135px;
        width: 100%;
        line-height: 99px;
        vertical-align: top;
        font-weight: 300;
    }

        #Parks1.list .mix .meta * {
            line-height: 1;
        }

        #Parks1.list .mix .meta p,
        #Parks1.list .mix .meta ul {
            display: inline-block;
            vertical-align: middle;
            list-style: none;
        }

        #Parks1.list .mix .meta li {
            margin-bottom: 5px;
        }

    #Parks1.list .titles {
        display: inline-block;
        vertical-align: middle;
    }

        #Parks1.list .titles h2 {
            font-weight: 700;
            font-size: 17px;
            text-transform: uppercase;
            color: #47a497;
            letter-spacing: 2px;
            margin-bottom: 3px;
            line-height: 1.2 !important;
        }

        #Parks1.list .titles p {
            text-indent: -2px;
        }

    #Parks1.grid {
        text-align: justify;
    }

        #Parks1.grid .list_header {
            display: none;
        }

        #Parks1.grid .meta {
            display: none;
        }

            #Parks1.grid .meta.name {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                display: block;
            }

        #Parks1.grid .mix {
            display: none;
            opacity: 0;
            position: relative;
            width: 48.5%;
            padding-top: 26%;
            margin-bottom: 3%;
        }

        #Parks1.grid .img_wrapper {
            position: absolute;
            width: 100%;
            height: 100%;
            background: #000;
        }

        #Parks1.grid .titles {
            position: relative;
            width: 90%;
            max-width: 400px;
            height: auto;
            margin-top: 75%;
            margin: 53.5% auto 0;
            top: -80px;
            z-index: 1;
            padding: 10px 0;
            background: #fff;
            background: rgba(255, 255, 255, 0.8);
            text-align: center;
        }

            #Parks1.grid .titles h2 {
                font-weight: 700;
                font-size: 17px;
                text-transform: uppercase;
                color: #47a497;
                letter-spacing: 2px;
                margin-bottom: 3px;
            }

            #Parks1.grid .titles p {
                font-weight: 300;
                text-indent: -2px;
            }

    #Parks1 ul {
        padding-left: 0px;
    }
</style>