﻿<style>
    .table.table-bordered > tbody > tr > td {
        padding: 0px !important;
    }

    .table.table-bordered > thead > tr > td {
        padding: 0px !important;
    }


    .table td {
        padding: 3px 10px !important;
    }

    /* The container */
    .radioBtnLable {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 14px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default radio button */
        .radioBtnLable input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #d6cece;
        border-radius: 50%;
    }

    /* On mouse-over, add a grey background color */
    .radioBtnLable:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the radio button is checked, add a blue background */
    .radioBtnLable input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .radioBtnLable input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the indicator (dot/circle) */
    .radioBtnLable .checkmark:after {
        top: 6px;
        left: 6px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }
</style>
<div class="row form-row">
    <div class="page-title">
        <h3><span class="semi-bold">{{"Camp Transaction"| translate }}</span> </h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form name="Myform" novalidate="novalidate" style="margin-left: 9px; margin-top: 20px;">

            <div class="row" style="background-color: white">
                <div class="col-md-3">
                    <label style="color:black">{{"School"| translate }} <span style="color: red;">*</span></label>
                    <select id="Select3" name="sims_cur_name" class="form-control input-sm full-width" data-role="dropdownlist" ng-change="getAccYear(temp.sims_cur_code)" ng-model="temp.sims_cur_code" required>
                        <option value="" selected disabled>Please Select</option>
                        <option ng-repeat="cur in curriculum" value="{{cur.sims_cur_code}}">{{cur.sims_cur_short_name_en}}</option>
                    </select>
                    <p style="color:red" class="help-block" ng-show="Myform.sims_cur_name.$error.required && (Myform.sims_cur_name.$touched || Myform.$submitted)">
                        This field is required
                    </p>
                </div>
                <div class="col-md-3">
                    <label style="color:black">{{"Academic Year"| translate }} <span style="color: red;">*</span></label>
                    <select id="Select4" name="sims_academic_year" class="form-control input-sm full-width" data-role="dropdownlist" ng-change="getCampDetails();" ng-model="temp.sims_academic_year" required>
                        <option value="" selected disabled>Please Select</option>
                        <option ng-repeat="ay in Acc_year" value="{{ay.sims_academic_year}}">{{ay.sims_academic_year_desc}}</option>
                    </select>
                    <p style="color:red" class="help-block" ng-show="Myform.sims_academic_year.$error.required && (Myform.sims_academic_year.$touched || Myform.$submitted)">
                        This field is required
                    </p>
                </div>
                <div class="col-md-2">
                    <label style="color: black">{{"Select Camp"| translate }} <span style="color: red;">*</span></label>
                    <select id="camp_name" name="camp_name" class="form-control input-sm full-width" data-role="dropdownlist" ng-change="getTestNames(temp.sims_health_camp_obj);" ng-model="temp.sims_health_camp_obj" required>
                        <option value="" selected disabled>Please Select</option>
                        <option ng-repeat="camp in campDetails" value="{{camp}}">{{camp.sims_health_camp_name_en}}</option>
                    </select>
                    <p style="color:red" class="help-block" ng-show="Myform.camp_name.$error.required && (Myform.camp_name.$touched || Myform.$submitted)">
                        This field is required
                    </p>
                </div>
                <div class="col-md-2">
                    <label style="color: black">{{"Select Test"| translate }} <span style="color: red;">*</span></label>
                    <select id="test_name" name="test_name" class="form-control input-sm full-width" data-role="dropdownlist" ng-model="temp.sims_health_test_code" ng-change="getCampDocuments();" required>
                        <option value="" selected disabled>Please Select</option>
                        <option ng-repeat="test in testNames" value="{{test.sims_health_test_code}}">{{test.sims_health_test_name_en}}</option>
                    </select>
                    <p style="color:red" class="help-block" ng-show="Myform.test_name.$error.required && (Myform.test_name.$touched || Myform.$submitted)">
                        This field is required
                    </p>
                </div>
            </div>

            <div class="row" style="background-color: white; margin-top: 0.5%;">
                <div class="col-md-4">
                    <label for="name">&nbsp;</label>
                    <button type="button" ng-hide="hide_save" ng-click="savephoto()" class="btn btn-primary btn-small ">{{"Save"|translate}}</button>
                    <span ng-show="hide_save">
                        <input type="file" id="file1" name="file" multiple onchange="angular.element(this).scope().file_changed(this)"
                               ng-files="getTheFiles($files)" required style="float: initial; width: 120px; display: none" />
                        <a href="" class="label label-important " type="button" ng-hide="uploadImgClickFShow" ng-click="uploadImgClickF()" onclick="document.getElementById('file1').click();"><i class="fa fa-cloud-upload"></i>{{"Upload"|translate}}</a>
                        <a href="" class="label label-important " type="submit" ng-show="uploadImgClickFShow" ng-click="uploadImg(Myform.$valid)"><i class="fa fa-check"></i>{{"Save"|translate}}</a>
                        <a href="" class="label label-important" type="button" ng-show="uploadImgClickFShow" ng-click="uploadImgCancel()"><i class="fa fa-times"></i>{{"Cancel"|translate}}</a>
                    </span>
                    <label style="color: red"><b>{{"Max file size up to 2Mb."| translate }}</b></label>
                </div>
                <div class="col-md-8">                               
                    <label><span style="color: blue"><b>Note: </b></span><b style="color: red">{{" File format should be CampName_EnrollNumber_TestName "| translate }} eg. HEALTH CHECKUP CAMP(0009)_4021_Biometrics(0003) </b></label>
                </div>               
            </div>

        </form>
        </div>
    </div>
        <div class="row" style="background-color: white">
            <div class="col-md-12">
                <table class="table  table-striped  table-condensed dataTable" id="Table1" aria-describedby="example2_info">
                    <thead style="background-color: white">
                        <tr>                            
                            <th><b><i class="fa fa-image"></i>&nbsp;{{"Sr.No"|translate}}</b></th>
                            <th><b><i class="fa fa-align-justify"></i>&nbsp;{{"Enroll Number"|translate}}</b></th>
                            <th><b><i class="fa fa-search-plus"></i>&nbsp;{{"File Name"|translate}}</b></th>
                            <th><b><i class="fa fa-flag-checkered"></i>&nbsp;{{"Status"|translate}}</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="info in photo" ng-class="row1">
                            <center ng-hide="loadingscr">
                                <img src="assets/img/loading_transparent_.gif">
                            </center>                           
                            <td>
                                <label>{{$index+1}} </label>
                            </td>
                            <td>
                                <label>{{info.sims_health_enroll_number}} </label>
                            </td>
                            <td>
                                <label>
                                    <a href="" ng-click="download(info.sims_health_test_file);" class="btn-middle" target="_new">
                                        {{info.sims_health_test_file}}
                                    </a>
                                </label>
                            </td>
                            <td>                               
                                <a href=""  ng-click="DeleteCampDocuments(info);"><i class="fa fa-trash" style="font-size: 18px;"></i></a>                                                                  
                            </td>
                        </tr>


                    </tbody>

                </table>
            </div>
        </div>

   
</div>


<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>
