﻿<style>
   
    .margin-top {
        margin-top: 3px !important;
    }
     .form-actions {
    padding:7px 20px 7px
    }

</style>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3>{{"Academic Year"|translate}}<span class="semi-bold"></span></h3>
            </div>
            
            <div class="grid-body no-border table_padding">
            <div ng-show="display" class="paddingcode">
                  <div class="row" ng-show="notshow">
                        <div class="col-xs-4">
                            <div class="well" class="form-group">
                                <div class="form-group">
                                    <label>Current Page:</label>
                                    <input
                                        placeholder="page"
                                        class="form-control"
                                        ng-model="currentPage"
                                        ng-init="currentPage = 1" />
                                </div>
                                <div class="form-group">
                                    <label>Page Size:</label>
                                    <input
                                        placeholder="Page Size"
                                        class="form-control"
                                        ng-model="numPerPage" />
                                </div>
                                <div class="form-group">
                                    <label>Total Items:</label>
                                    <input
                                        placeholder="Total"
                                        class="form-control"
                                        ng-model="pagersize" />
                                </div>
                                <hr />
                                <div class="form-group">
                                    <label>Dots Display:</label>
                                    <input
                                        placeholder="..."
                                        class="form-control"
                                        maxlength="3"
                                        ng-model="dots"
                                        ng-init="dots = '...'" />
                                </div>

                                <hr />
                                <div class="form-group">
                                    <label>UL Class:</label>
                                    <input
                                        placeholder="pagination"
                                        class="form-control"
                                        maxlength="100"
                                        ng-model="ulClass" />
                                </div>
                                <div class="form-group">
                                    <label>Active Class:</label>
                                    <input
                                        placeholder="active"
                                        class="form-control"
                                        maxlength="100"
                                        ng-model="activeClass"
                                        ng-init="activeClass = 'active'" />
                                </div>
                                <div class="form-group">
                                    <label>Disabled Class:</label>
                                    <input
                                        placeholder="disabled"
                                        class="form-control"
                                        maxlength="100"
                                        ng-model="disabledClass"
                                        ng-init="disabledClass = 'disabled'" />
                                </div>
                                <br />
                                <table class="table">

                                    <tr>
                                        <td>
                                            <label>Show Prev Next:</label></td>
                                        <td>
                                            <input
                                                type="checkbox"
                                                ng-model="showPrevNext"
                                                ng-init="showPrevNext = true" />
                                            {{showPrevNext}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Show First Last:</label></td>
                                        <td>
                                            <input
                                                type="checkbox"
                                                ng-model="showFirstLast"
                                                ng-init="showFirstLast = true" />
                                            {{showPrevNext}}
                                        </td>
                                    </tr>
                                </table>
                                <hr />
                                <span class="btn btn-default" onclick="location.reload()">
                                    <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                                </span>
                                <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                                </span>
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>
                  <form name="myForm" ng-submit="Save(myForm.$valid)" novalidate="novalidate">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="form-label-sm"><i class="fa fa-users"></i>&nbsp;{{"Camp Name"|translate}}<span class="asterisk" style="color: red">*</span></label>
                                    <div ng-class="{'has-error': !myForm.camp_name.$valid && (myForm.camp_name.$touched || myForm.$submitted) }">
                                          <input type="text" name="camp_name" id="health_camp_name" class="form-control input-sm" placeholder="Enter Camp Name" ng-model="edt.sims_health_camp_name_en"/>
                                    </div>
                                     <div class="error-container"
                                            ng-show="myForm.camp_name.$dirty && myForm.camp_name.$invalid || myForm.$submitted">
                                            <small class="help-block"
                                                ng-show="myForm.camp_name.$error.required && ( myForm.$submitted)">This Field is required.
                                            </small>
                                     </div>
                                </div>
                                 <div class="col-md-3">
                                    <label class="form-label-sm"><i class="fa fa-users"></i>&nbsp;{{"Other Camp Name"|translate}}</label>
                                   
                                          <input type="text" name="camp_name_ot" id="camp_name_ot" class="form-control input-sm" placeholder="Enter Camp Name" ng-model="edt.sims_health_camp_name_ot"/>
                                    
                                </div>
                                
                                <div class="col-md-2">
                                    <label class="form-label-sm"><i class="fa fa-bookmark-o"></i>&nbsp;{{"Package"|translate}}<span class="asterisk" style="color: red">*</span></label>
                                     <div ng-class="{'has-error': !myForm.health_packageList.$valid && (myForm.health_packageList.$touched || myForm.$submitted) }">
                                     <select id="health_packageList" name="health_packageList" data-role="dropdownlist" class="form-control input-sm full-width" required ng-model="edt.sims_health_package_code">
                                                <option ng-repeat="pkg in packageList" value="{{pkg.sims_health_package_code}}">{{pkg.sims_health_package_name_en}}
                                                </option>
                                            </select>
                                         </div>
                                     <div class="error-container"
                                            ng-show="myForm.health_packageList.$dirty && myForm.health_packageList.$invalid || myForm.$submitted">
                                            <small class="help-block"
                                                ng-show="myForm.health_packageList.$error.required && ( myForm.$submitted)">This Field is required.
                                            </small>
                                     </div>
                                </div>
                                <div class="col-md-2">
                                        <label class="form-label-sm"><i class="fa fa-book"></i>&nbsp;{{"School"|translate}}<span class="asterisk" style="color: red">*</span></label>
                                        <div ng-class="{'has-error': !myForm.Curriculum.$valid && (myForm.Curriculum.$touched || myForm.$submitted) }">
                                            <select id="cmb_cur" name="Curriculum" data-role="dropdownlist" class="form-control input-sm full-width" required ng-model="edt.sims_health_cur_code" ><!--ng-disabled="edit_code"-->
                                                <option ng-repeat="cur in CurriculumData" value="{{cur.sims_cur_code}}">{{cur.sims_cur_full_name_en}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="error-container"
                                                ng-show="myForm.Curriculum.$dirty && myForm.Curriculum.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm.Curriculum.$error.required && ( myForm.$submitted)">This Field is required.
                                                </small>
                                        </div>
                                </div>
                                 
                             
                                  
                              <div class="col-md-2">
                                     <label class="form-label-sm"><i class="fa fa-align-justify"></i>&nbsp;{{"Description"|translate}}<span class="asterisk" style="color: red">*</span></label>
                                    <div ng-class="{'has-error': !myForm.camp_desc.$valid && (myForm.camp_desc.$touched || myForm.$submitted) }"> 
                                        <textarea name="camp_desc" id="health_camp_desc" ng-model="edt.sims_health_camp_desc" required></textarea>
                                    </div>
                                    <div class="error-container"
                                        ng-show="myForm.camp_desc.$dirty && myForm.camp_desc.$invalid || myForm.$submitted">
                                        <small class="error"
                                            ng-show="myForm.camp_desc.$error.required">This Field is required.
                                        </small>
                                    </div>
                               </div>   
                            </div>
                     
                      <div class="row">
                          <div class="col-md-2">
                                    <label class="form-label"> <i class="fa fa-calendar"></i>  {{"Camp Date"|translate}}<span class="asterisk" style="color: red">*</span></label>
                                        <div ng-class="{'has-error': !myForm.campdate.$valid && (myForm.campdate.$touched || myForm.$submitted) }">
                                            
                                           <input id="start_date" placeholder="Select Date" class="k-textbox input-sm full-width" name="campdate" required  ng-model="edt.sims_health_camp_date">
                                        </div>
                                        <div class="error-container"
                                                ng-show="myForm.campdate.$dirty && myForm.campdate.$invalid || myForm.$submitted">
                                                <small class="error"
                                                    ng-show="myForm.campdate.$error.required && (myForm.campdate.$touched || myForm.$submitted)">This Field is required.
                                                </small>
                                        </div>
                                </div>
                          <div class="col-md-2">
                                    <label class="form-label"> <i class="fa fa-calendar"></i>  {{"Camp Start Date"|translate}}<span class="asterisk" style="color: red">*</span></label>
                                        <div ng-class="{'has-error': !myForm.campstartdate.$valid && (myForm.campstartdate.$touched || myForm.$submitted) }">
                                            
                                           <input id="start_date" placeholder="Select Date" class="k-textbox input-sm full-width" name="campstartdate" required  ng-model="edt.sims_health_camp_start_date">
                                        </div>
                                        <div class="error-container"
                                                ng-show="myForm.campstartdate.$dirty && myForm.campstartdate.$invalid || myForm.$submitted">
                                                <small class="error"
                                                    ng-show="myForm.campstartdate.$error.required && (myForm.campstartdate.$touched || myForm.$submitted)">This Field is required.
                                                </small>
                                        </div>
                                </div>
                          <div class="col-md-2">
                                    <label class="form-label"> <i class="fa fa-calendar"></i>  {{"Camp End Date"|translate}}<span class="asterisk" style="color: red">*</span></label>
                                        <div ng-class="{'has-error': !myForm.campenddate.$valid && (myForm.campenddate.$touched || myForm.$submitted) }">
                                            
                                           <input id="end_date" placeholder="Select Date" class="k-textbox input-sm full-width" name="campenddate" required  ng-model="edt.sims_health_camp_end_date">
                                        </div>
                                        <div class="error-container"
                                                ng-show="myForm.campenddate.$dirty && myForm.campenddate.$invalid || myForm.$submitted">
                                                <small class="error"
                                                    ng-show="myForm.campenddate.$error.required && (myForm.campenddate.$touched || myForm.$submitted)">This Field is required.
                                                </small>
                                        </div>
                                </div>
                          <div class="col-md-2">
                                    <label class="form-label"> <i class="fa fa-calendar"></i>  {{"Camp Registration Start Date"|translate}}</label>
                                        
                                            
                                           <input id="start_date" placeholder="Select Date" class="k-textbox input-sm full-width" name="campdate"   ng-model="edt.sims_health_camp_registration_start_date">
                                        
                                </div>
                                 <div class="col-md-2">
                                    <label class="form-label"> <i class="fa fa-calendar"></i>  {{"Camp Registration End Date"|translate}}</label>
                                       <input id="end_date" placeholder="Select Date" class="k-textbox input-sm full-width" name="campdate"   ng-model="edt.sims_health_camp_registration_end_date">
                                  </div>

                      </div>
                      <div class="row">&nbsp;</div>
                            <div class="row">
                             
                               <!-- <div class="col-md-3">
                                     <label class="form-label-sm"><i class="fa fa-image"></i>&nbsp;{{"Image1"|translate}}</label>
                                     <input type="file" name="camp_img1" id="health_camp_img1" ng-model="edt.sims_health_camp_img1" ng-files="getImg1($files)">
                                </div>-->
                                <div class="col-md-3">
                                    <label class="form-label-sm"><i class="fa fa-image"></i>&nbsp;{{"Image1"|translate}}</label>
                                                        <img alt="" src="{{sims_camp_img1}}" style="width: 100px; height: 100px" ng-src="{{sims_health_camp_img1}}" />
                                                        <div style="padding-top:5px">
                                                            <input type="file" id="file" name="file" onchange="angular.element(this).scope().file_changed(this,'sims_health_camp_img1')"
                                                                   ng-files="getTheFiles($files)" accept="image/*" style="float: initial; width: 120px;" ng-hide="true" />
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp <a href="" class="label label-important " type="button" onclick="document.getElementById('file').click();"><i class="fa fa-cloud-upload"></i>{{"Upload" | translate }}</a>
                                                        </div>
                                                    </div>
                                <!--<div class="col-md-3">
                                    <label class="form-label-sm"><i class="fa fa-image"></i>&nbsp;{{"Image2"|translate}}</label>
                                    <input type="file" name="camp_img2" id="health_camp_img2" ng-model="edt.sims_health_camp_img2" ng-files="getImg2($files)">
                                </div>-->
                                <div class="col-md-3">
                                    <label class="form-label-sm"><i class="fa fa-image"></i>&nbsp;{{"Image2"|translate}}</label>
                                                        <img alt="" src="{{sims_camp_img2}}" style="width: 100px; height: 100px" ng-src="{{sims_health_camp_img2}}" />
                                                        <div style="padding-top:5px">
                                                            <input type="file" id="file1" name="file1" onchange="angular.element(this).scope().file_changed_img2(this,'sims_health_camp_img2')"
                                                                   ng-files="getTheFiles($files)" accept="image/*" style="float: initial; width: 120px;" ng-hide="true" />
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp <a href="" class="label label-important " type="button" onclick="document.getElementById('file1').click();"><i class="fa fa-cloud-upload"></i>{{"Upload" | translate }}</a>
                                                        </div>
                                                    </div>
                                <div class="col-md-3">
                                    <label class="form-label-sm"><i class="fa fa-image"></i>&nbsp;{{"Image3"|translate}}</label>
                                                        <img alt="" src="{{sims_camp_img3}}" style="width: 100px; height: 100px" ng-src="{{sims_health_camp_img3}}" />
                                                        <div style="padding-top:5px">
                                                            <input type="file" id="file2" name="file2" onchange="angular.element(this).scope().file_changed_img3(this,'sims_health_camp_img3')"
                                                                   ng-files="getTheFiles($files)" accept="image/*" style="float: initial; width: 120px;" ng-hide="true" />
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp <a href="" class="label label-important " type="button" onclick="document.getElementById('file2').click();"><i class="fa fa-cloud-upload"></i>{{"Upload" | translate }}</a>
                                                        </div>
                                                    </div>
                                <div class="col-md-3">
                                    <label class="form-label-sm"><i class="fa fa-image"></i>&nbsp;{{"Image4"|translate}}</label>
                                                        <img alt="" src="{{sims_camp_img4}}" style="width: 100px; height: 100px" ng-src="{{sims_health_camp_img4}}" />
                                                        <div style="padding-top:5px">
                                                            <input type="file" id="file3" name="file3" onchange="angular.element(this).scope().file_changed_img4(this,'sims_health_camp_img4')"
                                                                   ng-files="getTheFiles($files)" accept="image/*" style="float: initial; width: 120px;" ng-hide="true" />
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp <a href="" class="label label-important " type="button" onclick="document.getElementById('file3').click();"><i class="fa fa-cloud-upload"></i>{{"Upload" | translate }}</a>
                                                        </div>
                                                    </div>
                                <!--<div class="col-md-3">
                                    <label class="form-label-sm"><i class="fa fa-image"></i>&nbsp;{{"Image3"|translate}}</label>
                                    <input type="file" name="camp_img3" id="health_camp_img3" ng-model="edt.sims_health_camp_img3" ng-files="getImg3($files)">
                                </div>
                                <div class="col-md-3">
                                    <label class="form-label-sm"><i class="fa fa-image"></i>&nbsp;{{"Image4"|translate}}</label>
                                    <input type="file" name="camp_img4" id="health_camp_img4" ng-model="edt.sims_health_camp_img4"  ng-files="getImg4($files)">
                                </div>-->

                            

                            </div>
                    <div class="row">&nbsp;</div>
                        <div class="row">
                            
                            <div class="col-md-3">
                                    <label class="form-label-sm"><i class="fa fa-money"></i>&nbsp;{{"Camp Price"|translate}}<span class="asterisk" style="color: red">*</span></label>
                                    <div ng-class="{'has-error': !myForm.camp_price.$valid && (myForm.camp_price.$touched || myForm.$submitted) }">
                                          <input type="text" name="camp_price" id="health_camp_price" class="form-control input-sm" placeholder="Price" ng-model="edt.sims_health_camp_price"/>
                                    </div>
                                     <div class="error-container"
                                            ng-show="myForm.camp_price.$dirty && myForm.camp_price.$invalid || myForm.$submitted">
                                            <small class="help-block"
                                                ng-show="myForm.camp_price.$error.required && ( myForm.$submitted)">This Field is required.
                                            </small>
                                     </div>

                            </div>
                             <div class="col-md-3">
                                    <label class="form-label-sm"><i class="fa fa-map-marker"></i>&nbsp;{{"Camp Location"|translate}}<span class="asterisk" style="color: red">*</span></label>
                                    <div ng-class="{'has-error': !myForm.camp_location.$valid && (myForm.camp_location.$touched || myForm.$submitted) }">
                                          <input type="text" name="camp_location" id="health_camp_location" class="form-control input-sm" placeholder="Location" ng-model="edt.sims_health_camp_location"/>
                                    </div>
                                     <div class="error-container"
                                            ng-show="myForm.camp_location.$dirty && myForm.camp_location.$invalid || myForm.$submitted">
                                            <small class="help-block"
                                                ng-show="myForm.camp_location.$error.required && ( myForm.$submitted)">This Field is required.
                                            </small>
                                     </div>

                            </div>
                             <div class="col-md-3">
                                  <label class="form-label"><i class="fa fa-bookmark"></i> {{"Status"|translate}}<span class="asterisk" style="color: red">*</span></label>
                                        <div ng-class="{'has-error': !myForm.camp_status.$valid && (myForm.camp_status.$touched || myForm.$submitted) }">
                                            <select id="camp_status" name="camp_status" data-role="dropdownlist" class="form-control input-sm full-width" required ng-model="edt.sims_health_camp_status">
                                                <option value="">Please Select</option>
                                                <option value="OG">On Going</option>
                                                <option value="CS">Coming Soon</option>
                                                <option value="CL">Closed</option>
                                            </select>
                                        </div>
                                            <div class="error-container"
                                                ng-show="myForm.camp_status.$dirty && myForm.camp_status.$invalid || myForm.$submitted">
                                                <small class="error"
                                                    ng-show="myForm.camp_status.$error.required">This Field is required.
                                                </small>
                                            </div>
                                        </div>
                         
                       </div>
                      <div class="row">&nbsp;</div>
                      <div class="row">
                          <div class="col-md-6">
                                <label class="form-label-sm"><i class="fa fa-user-md"></i>&nbsp;{{"Select Doctors"|translate}}<span class="asterisk" style="color: red">*</span></label>
                                <div  class="col-md-12">
                                 <div class="checkbox check-success" ng-repeat="dr in Doctors">
                                    <div class="col-md-3">
                                        <input ng-model="dr.emp_check" id="{{dr.em_number}}" type="checkbox" ng-click="getEMP(dr,$index)">
                                        <label for="{{dr.em_number}}">{{dr.em_first_name}}&nbsp;{{dr.em_last_name}}</label>
                                    </div>
                                 </div>
                               </div>
                            </div>
                      </div>
                      <div class="row">&nbsp;</div>
                      <div class="row">
                          <table style="width:70%;">
                              <thead style="background-color:lightgray;">
                                  <tr>
                                      <th>Camp Employee Code</th>
                                      <th>Employee Name</th>
                                      <th>Camp Employee Start Date</th>
                                      <th>Camp Employee End date</th>
                                      
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr ng-repeat="emp in employee">
                                      <td>{{emp.em_number}}</td>
                                      <td>{{emp.em_first_name}}&nbsp;{{emp.em_last_name}}</td>
                                      <td><input type="text" placeholder="DD-MM-YYY"   ng-model="emp.sims_health_camp_employee_start_date" class="k-textbox input-sm full-width" name="camp_startdate"/></td>
                                      <td><input type="text" ng-model="emp.sims_health_camp_employee_end_date" placeholder="DD-MM-YYYY" class="k-textbox input-sm full-width" name="camp_enddate"/></td>
                                 
                                       </tr>
                              </tbody>
                          </table>
                      </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-actions">
                                <div class="pull-right">
                                    <button class="btn btn-primary btn-small" type="submit" ng-show="save1">{{ "Save" | translate }}</button>
                                    <button class="btn btn-primary btn-small" type="submit" ng-show="update1">{{ "Update" | translate }}</button>
                                    <button class="btn btn-warning btn-small" type="button" ng-click="cancel()">{{ "Cancel" | translate }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div ng-show="grid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="pull-left">
                            <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                <option value="10" selected class=" form-control input-sm">10
                                </option>

                                <option value="20" class=" form-control input-sm">20
                                </option>

                                <option value="*" class=" form-control input-sm">All
                                </option>
                            </select>
                        </div>
                        &nbsp;
                            <button class="btn btn-success btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"|translate}}</button>
                        &nbsp;
                        <button class="btn btn-danger btn-small" type="button" ng-click="Delete()"><span class="semi-bold"></span>{{"Delete"|translate}}</button>
                    </div>
                  
                    
                <div class="col-md-6">                
                <div class="pull-right">
                    <span class="k-textbox k-space-right">
                        <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                        <a href="#" class="k-icon k-i-search">&nbsp;</a>
                    </span>
                </div>
            </div>
                </div>




                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div class="row margin-top">
                        <div class="col-md-12">
                        <!-- <table class="table table-hover table-striped  no-more-tables">-->
                        <table class="table table-hover table-bordered table-condensed" id="fixedtable">
                            <thead>
                                <tr style="background-color: #e9e4e4">
                                    <th class="small-cell v-align-middle" style="z-index: 999">
                                        <div class="checkbox check-success">
                                            <input type="checkbox" name="check" class="k-checkbox" value="1" id="mainchk" ng-click="CheckAllChecked();">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>
                                    <th ng-click="sortBy('sims_health_camp_name_en')">
                                        <b><i class="fa fa-users"></i>&nbsp;{{"Camp Name"| translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'sims_health_camp_name_en'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th ng-click="sortBy('sims_health_package_code')">
                                        <b><i class=" fa fa-bookmark-o"></i>&nbsp;{{"Package"| translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'sims_health_package_code'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th ng-click="sortBy('sims_health_cur_code')">
                                        <b><i class="fa fa-book"></i>&nbsp;{{"School"| translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'sims_health_cur_code'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th ng-click="sortBy('sims_health_camp_status')">
                                      <b>  <i class="fa fa-bookmark"></i>&nbsp;{{"Status"| translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'sims_health_camp_status'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th ng-click="sortBy('sims_health_camp_date')">
                                       <b> <i class="fa fa-calendar"></i>&nbsp;{{"Camp Date"| translate }}</b>
                                        <span class="sortorder" ng-show="propertyName === 'sims_health_camp_date'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    
                                    <th class="small-cell v-align-middle"><b><i class="fa fa-cogs"></i></b></th>
                                    <!-- <td><b>{{"ACTION"|translate}}</b></td>-->
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="camp in filteredTodos  | orderBy:propertyName:reverse" ng-class="row1">
                                    <td>
                                        <div class="checkbox check-success" style="height: 20px">
                                            <input type="checkbox" name="check" class="k-checkbox" value="1" id="{{camp.sims_health_camp_code+$index}}" ng-click="checkonebyonedelete()">
                                            <label for="{{camp.sims_health_camp_code+$index}}">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div>{{camp.sims_health_camp_name_en}}</div>
                                    </td>
                                   
                                    <td>
                                        <div>{{camp.sims_health_package_name_en}}</div>
                                    </td>
                                    <td>
                                        <div>{{camp.sims_cur_full_name_en}}</div>
                                    </td>
                                    <td>
                                         <span class="label label-success" ng-if="camp.sims_health_camp_status == 'OG'">{{"On Going"| translate }}</span>
                                         <span class="label label-success" ng-if="camp.sims_health_camp_status== 'CS'" >{{"Coming Soon"| translate }}</span>
                                         <span class="label label-success" ng-if="camp.sims_health_camp_status== 'CL'" >{{"Closed"| translate }}</span>
                                        <!--<div>{{camp.sims_health_camp_status}}</div>-->
                                    </td>
                                    <td>
                                        <div>{{camp.sims_health_camp_date}}</div>
                                    </td>
                                    <td>
                                        <a><i class="fa fa-edit" ng-click="edit(camp)"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                        </div>
                     <div class="row">
                        <div class="col-md-12">
                    <div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                            ng-click="index(currentPage)">
                      </paging>
                    </div>
                            </div>
                         </div>
                </div>
            </div>
        </div>
    </div></div> 


</div>
<script src="assets/js/tableHeadFixer.js"></script>

<script src="assets/js/calender-datepicker-id.js"></script>
