﻿<head>
    <style type="text/css">
        .full-width {
            width: 148px;
        }


    </style>
</head>
<div class="main_container">
   <div class="row sloat_header">
      <div class="col-lg-5 col-md-12 col-sm-12">
         <div class="page-title">
            <h3>{{"Entry Of CheckListReview"| translate }} <span class="semi-bold">{{"Entry Of CheckListReview"| translate }}</span></h3>
         </div>
      </div>
   </div>
    <div class="row">
    <div class="col-md-12">
        <div class="grid-simple white-bg p-t-10 p-b-10 p-l-10 p-r-10">
            <div class="grid-body no-border">
                <div class="row" ng-show="pager1">
                    <div class="col-xs-4">
                        <div class="well" class="form-group">
                            <div class="form-group">
                                <label>Current Page:</label>
                                <input placeholder="page"
                                    class="form-control"
                                    ng-model="currentPage"
                                    ng-init="currentPage = 1" />
                            </div>
                            <div class="form-group">
                                <label>Page Size:</label>
                                <input placeholder="Page Size"
                                    class="form-control"
                                    ng-model="numPerPage" />
                            </div>
                            <div class="form-group">
                                <label>Total Items:</label>
                                <input placeholder="Total"
                                    class="form-control"
                                    ng-model="pagersize" />
                            </div>
                            <hr />
                            <div class="form-group">
                                <label>Dots Display:</label>
                                <input placeholder="..."
                                    class="form-control"
                                    maxlength="3"
                                    ng-model="dots"
                                    ng-init="dots = '...'" />
                            </div>

                            <hr />
                            <div class="form-group">
                                <label>UL Class:</label>
                                <input placeholder="pagination"
                                    class="form-control"
                                    maxlength="100"
                                    ng-model="ulClass" />
                            </div>
                            <div class="form-group">
                                <label>Active Class:</label>
                                <input placeholder="active"
                                    class="form-control"
                                    maxlength="100"
                                    ng-model="activeClass"
                                    ng-init="activeClass = 'active'" />
                            </div>
                            <div class="form-group">
                                <label>Disabled Class:</label>
                                <input placeholder="disabled"
                                    class="form-control"
                                    maxlength="100"
                                    ng-model="disabledClass"
                                    ng-init="disabledClass = 'disabled'" />
                            </div>
                            <br />
                            <table class="table">

                                <tr>
                                    <td>
                                        <label>Show Prev Next:</label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                            ng-model="showPrevNext"
                                            ng-init="showPrevNext = true" />
                                        {{showPrevNext}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Show First Last:</label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                            ng-model="showFirstLast"
                                            ng-init="showFirstLast = true" />
                                        {{showPrevNext}}
                                    </td>
                                </tr>
                            </table>
                            <hr />
                            <span class="btn btn-default" onclick="location.reload()">
                                <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                            </span>
                            <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                            </span>
                            <br />
                            <br />
                        </div>
                    </div>
                </div>

            </div>
   <div ng-show="table">
      <div calss="row">
         <div class="col-md-2">
            <label>{{"CheckList Section Name"| translate }} :</label>  
            <select id="Select" name="type_field1"  data-role="dropdownchechlist" ng-model="int.sims_checklist_section_number"
                 ng-change="changesection()"
               class="form-control input-sm full-width ng-pristine ng-invalid ng-invalid-required ng-touched">
               <!--ng-change="searchbutton()" -->        
               <option value="">Please Select</option>
               <option class="form-control input-sm" ng-repeat="edt in parentsectionBylist" value="{{edt.sims_checklist_section_number}}">{{edt.sims_checklist_section_name}}</option>
            </select>
             </div>
         
         <div class="col-md-2" style="padding: 02px" ng-class="{'has-error': !Myform.lib_date.$valid && (Myform.lib_date.$touched || Myform.$submitted) }">
            <label for="StartDate">{{"Review date" | translate }}<span style="color: red">*</span></label>
            <div>
               <input type="text" id="cmb_create_date" placeholder="Select Date" name="lib_date" class="k-textbox input-sm" ng-model="int.sims_checklist_section_review_date"  >
            </div>
            <p class="help-block" ng-show="Myform.lib_date.$error.required &&  (Myform.lib_date.$touched || Myform.$submitted)">
               This field is required
            </p>
             </div>

              <div class="col-md-1">   <label>  &nbsp;</label>    
            <button type="button" ng-click="searchbutton()" id="Button2" class="btn btn-primary btn-small">{{"Search" | translate}}</button>
         </div>

           <div class="col-md-4" >
                                <label id="label5" class="form-label">{{"Response Name" | translate}}<span class="text-red">*</span></label> 
                            <input type="text" class="full-width" ng-model="int.sims_response_title" value="{{int.sims_response_code}}" name="Description" data-role="dropdownlist" maxlength="50" class="field left" readonly  >
                              
                            </div>
       <!--   <div class="col-md-2">
            <label>{{"Response Name"| translate }} :</label>  
            <select id="Select1" name="type_field1"  data-role="dropdownchechlist" ng-model="int.sims_response_code"
                        class="form-control input-sm full-width ng-pristine ng-invalid ng-invalid-required ng-touched" class="field left" readonly>
               <!--ng-change="changResponsData()" -->        
              <!-- <option value="">Please Select</option>
               <option class="form-control input-sm" ng-repeat="edt in responseBylist" value="{{edt.sims_response_code}}">{{edt.sims_response_title}}</option>
            </select>
             </div> -->

       
           
          

          
      </div>
      <br /><br /><br /><br />
      <form name="Myform1" ng-submit="save_section(Myform1.$valid)" novalidate="novalidate">
         <div class="grid-simple white-bg p-t-5 p-b-2 p-l-10 p-r-10">
            <div class="col-md-1">
               <select id="Select3" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                  <option value="10" class=" form-control input-sm">
                                10
                            </option>

                            <option value="20" class=" form-control input-sm">
                                20
                            </option>

                            <option value="All" class=" form-control input-sm">
                                All
                            </option>
               </select>
            </div>
            <br /><br /> 
         <div id="example_wrapper" class="dataTables_wrapper form-inline">
                         <table class="table table-striped table-condensed" id="example1" ng-show="radioTable">
               <thead> {{section_name}}
                  <tr style="background-color: #edefef">
                    <!-- <th class="small-cell v-align-middle" style="z-index:1">
                        <input id="mainchk" type="checkbox" ng-model="main_Chk" value="1" ng-click="CheckAllChecked()">
                        <label for="mainchk"></label>
                     </th>-->{{section_name}}
                     <th class="semi-bold">{{"Sr No"| translate }}</th>
                     <th class="semi-bold">{{"Evidences"| translate }}</th>
                     <th class="semi-bold">{{"Respons data"| translate }}</th>
                    <!-- <th class="semi-bold">{{"No"| translate }} </th>
                     <th class="semi-bold">{{"NA"| translate }}</th>-->
                     <th class="semi-bold">{{"Remark"| translate }}</th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="row1 in filteredTodos ">
                     <!--<td><input id="{{row1.id+$index}}" type="checkbox" value="0" ng-model="row1.chk" ng-click="checkonebyonedelete()"></td>-->
                     <td>{{$index+1}}</td>
                     <td>{{row1.sims_checklist_section_parameter_name}}{{section_name}}</td>
                   
                        <!--<td>  <input type="radio" name="name_{{$index}}" ng-model="row1.sims_checklist_section_review_parameter_response"  value="1" > YES <br></td>
                     <td>   <input type="radio" name="name_{{$index}}" ng-model="row1.sims_checklist_section_review_parameter_response" value="2"> NO <br></td>
                     <td>   <input type="radio" name="name_{{$index}}" ng-model="row1.sims_checklist_section_review_parameter_response" value="3" > NA  <br></td>-->
                      
                      
                      <td>
                          
                              
                                  <li class="radio radio-success">
                                      <div ng-repeat="year in typebylist" ng-show="radiodata">
                                          <input type="radio" name="{{row1.sims_checklist_section_parameter_name}}" id="{{year.sims_appl_parameter+row1.sims_checklist_section_parameter_name}}" value="{{year.sims_appl_parameter}}"
                                               ng-model="row1.sims_checklist_section_review_parameter_response">
                                          <label for='{{year.sims_appl_parameter+row1.sims_checklist_section_parameter_name}}'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{year.sims_appl_form_field_value1}}</label>
                                      </div>
                                  </li>
                           
                      </td>
                          

                  
                      <td>
                          <input type="text" name="id_field1" ng-model="row1.sims_checklist_section_review_parameter_action" ng-maxlength="50" ng-readonly="gtdreadonly">
                      </td>
                    <!--<input type="text" name="input" ng-model="row1.sims_checklist_section_review_parameter_action" maxlength="50" ng-pattern="remark.word" ng-trim="false">-->
                  </tr>
               </tbody>
            </table>
             
         </div>
            <div id="Div1" class="dataTables_wrapper form-inline">
                <table class="table table-striped table-condensed" id="example2" ng-show="dropDownTable">
                    <thead>
                        {{section_name}}
                  <tr style="background-color: #edefef">
                      <!-- <th class="small-cell v-align-middle" style="z-index:1">
                        <input id="mainchk" type="checkbox" ng-model="main_Chk" value="1" ng-click="CheckAllChecked()">
                        <label for="mainchk"></label>
                     </th>-->
                      {{section_name}}
                     <th class="semi-bold">{{"Sr No"| translate }}</th>
                      <th class="semi-bold">{{"Evidences"| translate }}</th>
                      <th class="semi-bold">{{"Response type"| translate }}</th>
                      <th class="semi-bold">{{"Remark"| translate }}</th>
                  </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row1 in filteredTodos ">
                            <!--<td><input id="{{row1.id+$index}}" type="checkbox" value="0" ng-model="row1.chk" ng-click="checkonebyonedelete()"></td>-->
                            <td>{{$index+1}}</td>
                            <td>{{row1.sims_checklist_section_parameter_name}}{{section_name}}</td>

                            <td>
                                <select id="Select2" name="type_field3" data-role="dropdownchechlist" ng-model="row1.sims_checklist_section_review_parameter_response" placeholder="Please Select type" class="full-width ng-untouched ng-valid ng-dirty ng-valid-parse">
                                    <option class="form-control input-sm" ng-repeat="year in typebylist" value="{{year.sims_appl_parameter}}">{{year.sims_appl_form_field_value1}}</option>
                                </select>
                            </td>
                            <!-- <td>  <input type="radio" name="name_{{$index}}" ng-model="row1.sims_checklist_section_review_parameter_response"  value="1" > YES <br></td>
                     <td>   <input type="radio" name="name_{{$index}}" ng-model="row1.sims_checklist_section_review_parameter_response" value="2"> NO <br></td>
                     <td>   <input type="radio" name="name_{{$index}}" ng-model="row1.sims_checklist_section_review_parameter_response" value="3" > NA  <br></td>-->

                            <td>
                                <input type="text" name="id_field1" ng-model="row1.sims_checklist_section_review_parameter_action" ng-maxlength="50" ng-readonly="gtdreadonly">
                                <!--<input type="text" name="input" ng-model="row1.sims_checklist_section_review_parameter_action" maxlength="50" ng-pattern="remark.word" ng-trim="false">-->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                 <div class="col-md-2"ng-show="savebutton">
                        <button type="button" ng-click="update(Myform1.$valid);" class="btn btn-primary btn-small">{{"Save" | translate}}</button><!--update(Myform1.$valid);   saveRecord()-->
                     </div>
               <div class="row"ng-show="pager">
                   <div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                           scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                           paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                           ng-click="index(currentPage)">
                        </paging>
                  </div>
               </div>
            </div>
         </div>
      </form>
   </div>
</div>
</div>
</div>
</div>

<script src="assets/js/calender-datepicker-id.js"></script>
<script src="assets/js/moment.js"></script>
