﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Age Group"|translate}}</span></h3>
            </div>
            <div class="grid-body no-border">
            <div ng-show="display">

                <form name="Myform"  novalidate="novalidate" class="ng-pristine ng-invalid ng-invalid-required">
                    <div class="row">
                            <div class="col-md-4" ng-class="{'has-error': !Myform.txt_name_fr.$valid &amp;&amp; (Myform.txt_name_fr.$touched || Myform.$submitted) }">
                                <label id="Label16" for="txt_full_name" class="form-label ng-binding">{{'Description' | translate}}<span class="text-red">*</span></label>

                                <input name="txt_name_fr" type="text" class="k-textbox input-sm full-width" id="txt_Name_reg" ng-maxlength="50" ng-model="edt.sims_immunization_age_group_desc" required="">

                                <p class="help-block ng-hide" ng-show="Myform.txt_name_fr.$error.required &amp;&amp;(Myform.txt_name_fr.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                                <p class="help-block ng-hide" ng-show="Myform.txt_name_fr.$error.maxlength &amp;&amp;(Myform.txt_name_fr.$touched || Myform.$submitted)">
                                    Max Length Should Be 50
                                </p>
                            </div>

                            <div class="col-md-4">
                                <label id="Label12" for="txt_full_name" class="form-label ng-binding"> {{'Status' | translate}}</label>
                                <div class="checkbox check-success">
                                    <input id="check_house_status" type="checkbox" value="1" checked="checked" ng-model="edt.sims_immunization_age_group_status">
                                    <label for="check_house_status"></label>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-actions">
                                    <div class="pull-right">
                                        <button class="btn btn-primary btn-small ng-binding" type="button" ng-click="Save(Myform)" ng-show="save1">{{"Save"|translate}}</button>
                                        <button class="btn btn-primary btn-small ng-binding ng-hide" type="button" ng-click="Update(Myform)" ng-show="update1">{{"Update"|translate}}</button>
                                        <button class="btn btn-danger btn-small" type="button" ng-click="cancel()">{{"Cancel"|translate}}</button>
                                    </div>
                                </div>
                        </div>
                </form>
            
            </div>

            <div ng-show="grid">

                <div class="row">
                    
                    <div class="col-md-6">
                        <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="itemsPerPage" ng-change="size(itemsPerPage)">

                            <option value="10" class="form-control input-sm">
                                10
                            </option>

                            <option value="20" class="form-control input-sm">
                                20
                            </option>

                            <option value="All" class="form-control input-sm">
                                All
                            </option>
                        </select>
                        &nbsp;
                        <button class="btn btn-primary btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"|translate}}</button>
                        &nbsp;
                        <button class="btn btn-danger btn-small" type="button" ng-click="OkDelete()"><span class="semi-bold"></span>{{"Delete"|translate}}</button>
                    </div>

                    <!--<div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                                <label>Search:&nbsp; <input type="text" aria-controls="example" ng-model="search.$" class="input-medium"></label>
                            </div>
                        </div>
                    </div>-->

                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="Div1">
                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="search.$" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div class="row margin-top">
                        <div class="col-md-12">
                    <table class="table  table-striped  table-condensed dataTable" id="Table1" aria-describedby="example2_info">
                        <thead style="background-color: white">
                            <tr>
                                <td class="small-cell v-align-middle">
                                    <div class="checkbox check-success">
                                        <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                        <label for="mainchk"></label>
                                    </div>
                                </td>
                                <td ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                    <label><b><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class=" fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"Age Group Code"| translate }}</a></b></label>
                                </td>
                               <!-- <td><b>{{"Age Group Code"|translate}}</b></td>-->
                                <td><b>{{"Description"|translate}}</b></td>
                                <td><b>{{"Status"|translate}}</b></td>
                                <th class="semi-bold">
                                    <label><i class="fa fa-cogs"></i></label>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="info in items | orderBy:orderByField:reverseSort | offset: currentPage*itemsPerPage |limitTo: itemsPerPage |filter:search:strict ">

                                <td>
                                    <div class="checkbox check-success">
                                        <input id="{{$index+info.sims_immunization_age_group_code}}" type="checkbox" value="1" ng-click="checkonebyoneselect()" ng-disabled="info.check_option"/>
                                        <label for="{{$index+info.sims_immunization_age_group_code}}"></label>
                                    </div>
                                </td>
                                <td>{{info.sims_immunization_age_group_code}}</td>
                                <td>{{info.sims_immunization_age_group_desc}}</td>
                                <td>
                                    <span class="label label-success" ng-if="info.sims_immunization_age_group_status == true">{{"Active" | translate }}</span>
                                    <span ng-if="info.sims_immunization_age_group_status==false" class="label label-important">{{"In Active" | translate }}</span>

                                </td>
                                <td><a href=""><i class="fa fa-edit" ng-click="edit(info)"></i></a></td>
                            </tr>

                        </tbody>

                    </table>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                    <div class="pull-right">
                        <div class="dataTables_paginate paging_bootstrap pagination">
                            <ul style="display: inline-block">
                                <li style="display: inline-block" ng-class="prevPageDisabled()"><a href="" ng-click="prevPage()"><i class="fa fa-chevron-left"></i></a></li>
                                <li ng-repeat="n in range()" style="display: inline-block"><a href="" ng-click="setPage(n)">{{n+1}}</a></li>
                                <li class="next" ng-class="nextPageDisabled()" style="display: inline-block;margin-left:5px"><a href="" ng-click="nextPage()"><i class="fa fa-chevron-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                             </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>

<div class="modal fade" id="message">
    <div class="modal-dialog" id="Div4" style="width: 300px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="semi-bold pull-left">Message</h5>
                <br />
            </div>
            <div class="modal-body">
                <br />
                <label>{{msg1.strMessage}}</label>
                <br />
            </div>
            <div class="modal-footer" style="height: 60px">
                <button type="button" class="btn btn-primary btn-small" data-dismiss="modal" ng-click="maindata();">Ok</button>
            </div>
        </div>
    </div>
</div>