﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input
                                placeholder="page"
                                class="form-control"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input
                                placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input
                                placeholder="Total"
                                class="form-control"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input
                                placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input
                                placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input
                                placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input
                                placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="page-title">
                <h3><span class="semi-bold">{{"Medical Immunization" | translate}}</span></h3>
            </div>
            <div class="grid-body no-border">
            <div ng-show="display">

                <form name="Myform" ng-submit="save(Myform.$valid)" novalidate="novalidate" class="ng-pristine ng-invalid ng-invalid-required">
                  
                        <div class="row">
                            <div class="col-md-4" ng-class="{'has-error': !Myform.txt_Section_name.$valid &amp;&amp; (Myform.txt_Section_name.$touched || Myform.$submitted) }">
                                <label id="Label19" for="txt_full_name" class="form-label ng-binding">{{"Age Group Code" | translate}}<span class="text-red">*</span></label>
                                <select id="txt_Section_name" name="txt_Section_name" class="form-control input-sm full-width" data-role="dropdownlist" ng-model="edt.sims_immunization_age_group_code" required
                                    ng-options="item.sims_immunization_age_group_code as item.sims_immunization_age_group_desc for item in cmbgroupCode">

                                    <!--<option ng-repeat="cur1 in cmbcur" value="{{cur1.sims_cur_code}}">{{cur1.sims_cur_short_name_en}}</option>-->
                                </select>
                                <p class="help-block ng-hide" ng-show="Myform.txt_Section_name.$error.required &amp;&amp;(Myform.txt_Section_name.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>
                            <div class="col-md-4" ng-class="{'has-error': !Myform.txt_name_en.$valid &amp;&amp; (Myform.txt_name_en.$touched || Myform.$submitted) }">
                                <label id="Label15" for="txt_full_name" class="form-label ng-binding">{{'Description' | translate}}<span class="text-red">*</span></label>

                                <input name="txt_name_en" type="text" class="k-textbox input-sm full-width" id="Text1" ng-model="edt.sims_immunization_desc" ng-maxlength="50" required>

                                <p class="help-block ng-hide" ng-show="Myform.txt_name_en.$error.required &amp;&amp;(Myform.txt_name_en.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                                <p class="help-block ng-hide" ng-show="Myform.txt_name_en.$error.maxlength &amp;&amp;(Myform.txt_name_en.$touched || Myform.$submitted)">
                                    Max Length Should Be 50
                                </p>
                            </div>
                            <div class="col-md-4" ng-class="{'has-error': !Myform.txt_name_fr.$valid &amp;&amp; (Myform.txt_name_fr.$touched || Myform.$submitted) }">
                                <label id="Label16" for="txt_full_name" class="form-label ng-binding">{{'Dosage 1' | translate}}</label>

                                <input name="txt_name_fr" type="text" class="k-textbox input-sm full-width" id="txt_Name_reg" ng-model="edt.sims_immunization_dosage1">

                                <p class="help-block ng-hide" ng-show="Myform.txt_name_fr.$error.required &amp;&amp;(Myform.txt_name_fr.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>
                        </div>

                        <div class="row margin-top">
                            <div class="col-md-4" ng-class="{'has-error': !Myform.txt_dosage2.$valid &amp;&amp; (Myform.txt_dosage2.$touched || Myform.$submitted) }">
                                <label id="Label1" for="txt_dosage2" class="form-label ng-binding">{{'Dosage 2' | translate}}</label>
                                <input name="txt_dosage2" type="text" class="k-textbox input-sm full-width" id="Text4" ng-model="edt.sims_immunization_dosage2">

                                <p class="help-block ng-hide" ng-show="Myform.txt_dosage2.$error.required &amp;&amp;(Myform.txt_dosage2.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>

                            <div class="col-md-4" ng-class="{'has-error': !Myform.txt_dosage3.$valid &amp;&amp; (Myform.txt_dosage3.$touched || Myform.$submitted) }">
                                <label id="Label2" for="txt_dosage3" class="form-label ng-binding">{{'Dosage 3' | translate}}</label>

                                <input name="txt_dosage3" type="text" class="k-textbox input-sm full-width" id="Text2" ng-model="edt.sims_immunization_dosage3">

                                <p class="help-block ng-hide" ng-show="Myform.txt_dosage3.$error.required &amp;&amp;(Myform.txt_dosage3.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>

                            <div class="col-md-4" ng-class="{'has-error': !Myform.txt_dosage4.$valid &amp;&amp; (Myform.txt_dosage4.$touched || Myform.$submitted) }">
                                <label id="Label3" for="txt_dosage4" class="form-label ng-binding">{{'Dosage 4' | translate}}</label>
                                <input name="txt_dosage4" type="text" class="k-textbox input-sm full-width" id="Text3" ng-model="edt.sims_immunization_dosage4">
                                <p class="help-block ng-hide" ng-show="Myform.txt_dosage4.$error.required &amp;&amp;(Myform.txt_dosage4.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>

                        </div>

                        <div class="row margin-top">

                            <div class="col-md-4" ng-class="{'has-error': !Myform.txt_dosage5.$valid &amp;&amp; (Myform.txt_dosage5.$touched || Myform.$submitted) }">
                                <label id="Label4" for="txt_dosage5" class="form-label ng-binding">{{'Dosage 5' | translate}}</label>
                                <input name="txt_dosage5" type="text" class="k-textbox input-sm full-width" id="Text5" ng-model="edt.sims_immunization_dosage5">

                                <p class="help-block ng-hide" ng-show="Myform.txt_dosage5.$error.required &amp;&amp;(Myform.txt_dosage5.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>

                            <div class="col-md-4">
                                <label id="Label5" for="chk_status" class="form-label ng-binding">{{'Status' | translate}}</label>

                                <div class="checkbox check-success">
                                    <input id="check_house_status" name="chk_status" type="checkbox" value="1" checked="checked" ng-model="edt.sims_immunization_status">
                                    <label for="check_house_status"></label>
                                </div>



                            </div>

                        </div>


                        <div class="col-md-12">
                            <div class="form-actions">
                                    <div class="pull-right">
                                        <button class="btn btn-primary btn-small ng-binding" type="submit" ng-click="Save(Myform)" ng-show="save1">{{"Save" | translate}}</button>
                                        <button class="btn btn-primary btn-small ng-binding ng-hide" type="button" ng-click="Update(Myform)" ng-show="update1">{{"Update" | translate}}</button>
                                        <button class="btn btn-danger btn-cons" type="button" ng-click="cancel()">{{"Cancel" | translate}}</button>
                                    </div>
                                </div>
                        </div>

                </form>
            </div>

            <div ng-show="grid">
                <div class="row">
                    <div class="col-md-6">
                        <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="itemsPerPage" ng-change="size(itemsPerPage)">

                            <option value="10" class=" form-control input-sm">10
                            </option>

                            <option value="20" class=" form-control input-sm">20
                            </option>

                            <option value="All" class=" form-control input-sm">All
                            </option>
                        </select>
                        &nbsp;
                        <button class="btn btn-primary btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New" | translate}}</button>
                        &nbsp;
                        <button class="btn btn-danger btn-small" type="button" ng-click="OkDelete()"><span class="semi-bold"></span>{{"Delete" | translate}}</button>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="Div1">
                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div class="row margin-top">
                        <div class="col-md-12">
                    <table class="table  table-striped  table-condensed dataTable" id="Table1" aria-describedby="example2_info">
                        <thead style="background-color: white">
                            <tr>
                                
                                <td class="small-cell v-align-middle">
                                    <div class="checkbox check-success">
                                        <input id="chk_min" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                        <label for="chk_min"></label>
                                    </div>
                                </td>

                                <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                    <label><b><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class=" fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"Immunization Code"| translate }}</a></b></label>
                                </th>

                               <!-- <td><b>Immunization Code</b></td>-->
                                <td><b>{{"Age Group" | translate}}</b></td>
                                <td><b>{{"Description" | translate}}</b></td>
                                <td><b>{{"Dosage 1" | translate}}</b></td>
                                <td><b>{{"Dosage 2" | translate}}</b></td>
                                <td><b>{{"Dosage 3" | translate}}</b></td>
                                <td><b>{{"Dosage 4" | translate}}</b></td>
                                <td><b>{{"Dosage 5" | translate}}</b></td>
                                <th class="semi-bold">
                                    <label><i class="fa fa-cogs"></i></label>
                                </th>
                            </tr>
                        </thead>

                        <tbody ng-repeat="info in filteredTodos | orderBy:orderByField:reverseSort" ng-class="row1">
                            <tr>
                                <td>
                                    <div class="checkbox check-success">
                                        <input id="{{info.sims_immunization_code+$index}}" type="checkbox" value="1" ng-click="checkonebyoneselect()" />
                                        <label for="{{info.sims_immunization_code+$index}}"></label>
                                    </div>
                                </td>
                                <td>{{info.sims_immunization_code}}</td>
                                <td>{{info.sims_immunization_age_group_desc}}</td>
                                <td>{{info.sims_immunization_desc}}</td>
                                <td>{{info.sims_immunization_dosage1}}</td>
                                <td>{{info.sims_immunization_dosage2}}</td>
                                <td>{{info.sims_immunization_dosage3}}</td>
                                <td>{{info.sims_immunization_dosage4}}</td>
                                <td>{{info.sims_immunization_dosage5}}</td>
                                <td><a href=""><i class="fa fa-edit" ng-click="edit(info)"></i></a></td>
                            </tr>

                        </tbody>

                    </table>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                    <div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                            ng-click="index(currentPage)">
                         </paging>
                    </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>

<div class="modal fade" id="message">
    <div class="modal-dialog" id="Div4" style="width: 300px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="semi-bold pull-left">Message</h5>
                <br />
            </div>
            <div class="modal-body">
                <br />
                <label>{{msg1.strMessage}}</label>
                <br />
            </div>
            <div class="modal-footer" style="height: 60px">
                <button type="button" class="btn btn-primary btn-small" data-dismiss="modal" ng-click="maindata();">Ok</button>
            </div>
        </div>
    </div>
</div>
