﻿<style>
    .sortorder:after {
        content: '\25b2';
    }

    .sortorder.reverse:after {
        content: '\25bc';
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Medical Student Term Detail"| translate }}</span></h3>
            </div>

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                class="form-control"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                class="form-control"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

           
            <div class="grid-body no-border" ng-show="table">
                

                <div class="row form-row">
                    <div class="col-md-12">
                        <!--Curriculam-->
                        <div class="col-md-2" ng-class="{'has-error': !Myform.sims_cur_name.$valid && (Myform.sims_cur_name.$touched || Myform.$submitted) }">
                            <label id="Label27" for="txt_Nationality_Code" class="form-label">{{"Curriculam"| translate }} <span class="asterisk" style="color: red">*</span></label>
                            <select id="Select3" class="form-control input-sm full-width" data-role="dropdownlist"
                                ng-model="temp.sims_cur_code" ng-selected="" name="sims_cur_name" ng-change="getAccYear(temp.sims_cur_code)"
                                ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in curriculum" required>
                            </select>

                            <p class="help-block" ng-show="Myform.sims_cur_name.$error.required &&  (Myform.sims_cur_name.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>

                        <!--Academic Year-->
                        <div class="col-md-2" ng-class="{'has-error': !Myform.sims_academic_year.$valid && (Myform.sims_academic_year.$touched || Myform.$submitted) }">
                            <label id="Label28" for="txt_Nationality_Code" class="form-label">{{"Academic Year"| translate }} <span class="asterisk" style="color: red">*</span></label>
                            <select id="Select4" class="form-control input-sm full-width" data-role="dropdownlist"
                                ng-model="temp.sims_academic_year" ng-selected="" name="sims_academic_year" ng-change="getGrade(temp.sims_cur_code,temp.sims_academic_year)"
                                ng-options="ay.sims_academic_year as ay.sims_academic_year_desc for ay in Acc_year" required>
                            </select>
                            <p class="help-block" ng-show="Myform.sims_academic_year.$error.required &&  (Myform.sims_academic_year.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>

                        <div class="col-md-2">
                            <label id="Label33" for="txt_Nationality_Code" class="form-label">{{"Grade"| translate }} <span class="asterisk" style="color: red">*</span></label>
                            <select id="Select4" class="form-control input-sm full-width" data-role="dropdownlist" name="sims_grade_name"
                                ng-model="temp.sims_grade_code" ng-change="getSection(temp.sims_cur_code,temp.sims_grade_code,temp.sims_academic_year)"
                                ng-options="grd.sims_grade_code as grd.sims_grade_name for grd in Grade_code">
                            </select>
                        </div>

                        <div class="col-md-2">
                            <label id="Label34" for="txt_Nationality_Code" class="form-label">{{"Section"| translate }} <span class="asterisk" style="color: red">*</span></label>
                            <select id="Select10" name="sims_section_name" class="form-control input-sm full-width" data-role="dropdownlist" ng-model="temp.sims_section_code">
                                <option ng-repeat="sec in Section_code" value="{{sec.sims_section_code}}">{{sec.sims_section_name}}</option>
                            </select>
                        </div>

                        <div class="col-md-2" ng-class="{'has-error': !Myform.sims_academic_year.$valid && (Myform.sims_academic_year.$touched || Myform.$submitted) }">
                            <label id="Label28" for="txt_term_Code" class="form-label">{{"Term"| translate }} <span class="asterisk" style="color: red">*</span></label>
                            <select id="Select4" class="form-control input-sm full-width" data-role="dropdownlist"
                                ng-model="temp.sims_term_code" ng-selected="" name="sims_academic_year"
                                ng-options="ay.sims_term_code as ay.sims_term_desc_en for ay in getAllTerm" required>
                            </select>
                            <p class="help-block" ng-show="Myform.sims_academic_year.$error.required &&  (Myform.sims_academic_year.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>

                        <div class="col-md-2">
                            <label id="Label28" class="form-label">&nbsp;</label>
                            <button id="desigsub" ng-click="Submit()" class="btn btn-primary btn-cons">{{"Submit" | translate }}</button>
                        </div>

                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6">
                        <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                                <option value="30" class=" form-control input-sm">
                                    30
                                </option>

                                <option value="40" class=" form-control input-sm">
                                    40
                                </option>

                                <option value="All" class=" form-control input-sm">
                                    All
                                </option>
                            </select>
                    &nbsp;<button class="btn btn-danger btn-cons input-sm" type="button" ng-click="OkDelete()"><span class="semi-bold"></span>{{"Delete"| translate }}</button>   
                    </div>

                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="Div1">
                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                        </div>
                    </div>

                </div>
                 <div class="row form-row m-t-10">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <button type="submit" id="Button1" ng-click="submit()" class="btn btn-primary btn-cons input-sm">{{"Save" | translate }}</button>
                            <button type="button" class="btn btn-danger btn-cons" ng-click="Cancel();">{{"Cancel"| translate }}</button>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">

                    <div class="scroll-bar full-width">
                        <table class="table table-bordered table-hover table-condensed" id="fixTable" style="width:1500px">
                            <thead>
                                <tr style="background-color: #edefef">
                                    <th class="small-cell v-align-middle" style="z-index: 1">
                                        <div class="checkbox check-success">
                                            <input id="mainchk" type="checkbox" ng-model="mainchk" value="1" ng-change="CheckAllChecked($event)">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>

                                    <th ng-click="orderByField='sort'; reverseSort = !reverseSort" style="width:270px;">
                                        <label><b><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class=" fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"Student"| translate }}</a></b></label>
                                    </th>

                                    <th><b>{{"Health Card No"| translate }}</b> </th>
                                    <th><b>{{"Health Restriction Desc"| translate }} </b></th>
                                    <th><b>{{"Medication Desc"| translate }}</b> </th>
                                    <th><b>{{"Height"| translate }} </b></th>
                                    <th><b>{{"Weight"| translate }} </b></th>
                                    <th><b>{{"Teeth"| translate }} </b></th>
                                    <th><b>{{"Health BMI"| translate }}</b> </th>
                                    <th><b>{{"Remark"| translate }} </b></th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="j in filteredTodos |orderBy:orderByField:reverseSort | orderBy:propertyName:reverse" ng-class="row1 " class="data_row" data-enrollno="{{j.sims_enroll_number}}">
                                    <td>
                                        <div class="row-fluid">
                                            <div class="checkbox check-success sub_checkbox" style="height: 20px; z-index: 1">
                                                <input id="{{$index+j.sims_enroll_number}}" type="checkbox" value="1" ng-model="j.datastatus" ng-change="checkonebyonedelete(j)">
                                                <label for="{{$index+j.sims_enroll_number}}"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <label id="lbl">{{j.std_name}}</label>
                                    </td>
                                    <td>
                                        <input type="text" name="lib_name" id="libname" class="k-textbox input-mini full-width" ng-model="j.sims_health_card_number" ng-disabled="!j.status" />
                                    </td>
                                    <td>
                                        <input type="text" name="lib_name" id="libname1" class="k-textbox input-mini full-width" ng-model="j.sims_health_restriction_desc" ng-disabled="!j.status" />
                                    </td>
                                    <td>

                                        <input type="text" name="lib_name" id="libname2" class="k-textbox input-mini full-width" ng-model="j.sims_medication_desc" ng-disabled="!j.status" />
                                    </td>

                                    <td>

                                        <input type="text" name="lib_name" id="libname3" style="width: 70px" class="k-textbox input-mini full-width" ng-model="j.sims_height" ng-disabled="!j.status" />
                                    </td>

                                    <td>

                                        <input type="text" name="lib_name" id="libname4" style="width: 70px" class="k-textbox input-mini full-width" ng-model="j.sims_wieght" ng-blur="calculateBMI(j)" ng-disabled="!j.status" />

                                    </td>

                                    <td>
                                        <input type="text" name="lib_name" id="libname5" style="width: 70px" class="k-textbox input-mini full-width" ng-model="j.sims_teeth" ng-disabled="!j.status" />

                                    </td>

                                    <td>
                                        <input type="text" name="lib_name" id="libname6" style="width: 70px" class="k-textbox input-mini full-width" ng-model="j.sims_health_bmi" ng-disabled="!j.status" />
                                    </td>

                                    <td>
                                        <input type="text" name="lib_name" id="libname7" class="k-textbox input-mini full-width" ng-model="j.sims_health_other_remark" ng-disabled="!j.status" />
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="pull-right" ng-show="pager">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                            ng-click="index(currentPage)">
                        </paging>
                    </div>

                </div>

               

            </div>

            <div class="grid-body no-border" ng-show="display">
                <form name="Myform" novalidate="novalidate">
                    <!--1ST ROW-->
                    <div class="row">

                        <div class="col-md-12 form-group">

                            <!--Curriculam-->
                            <div class="col-md-2" ng-class="{'has-error': !Myform.sims_cur_name.$valid && (Myform.sims_cur_name.$touched || Myform.$submitted) }">
                                <label id="Label27" for="txt_Nationality_Code" class="form-label">{{"Curriculam"| translate }}</label>
                                <select id="Select3" class="form-control input-sm full-width" data-role="dropdownlist"
                                    ng-model="temp.sims_cur_code" ng-selected="" name="sims_cur_name" ng-change="getAccYear(temp.sims_cur_code)"
                                    ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in curriculum" required>
                                </select>


                                <p class="help-block" ng-show="Myform.sims_cur_name.$error.required &&  (Myform.sims_cur_name.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>

                            <!--Academic Year-->
                            <div class="col-md-2" ng-class="{'has-error': !Myform.sims_academic_year.$valid && (Myform.sims_academic_year.$touched || Myform.$submitted) }">
                                <label id="Label28" for="txt_Nationality_Code" class="form-label">{{"Academic Year"| translate }}</label>
                                <select id="Select4" class="form-control input-sm full-width" data-role="dropdownlist"
                                    ng-model="temp.sims_academic_year" ng-selected="" name="sims_academic_year" ng-change="getGrade(temp.sims_cur_code,temp.sims_academic_year)"
                                    ng-options="ay.sims_academic_year as ay.sims_academic_year_desc for ay in Acc_year" required>
                                </select>
                                <p class="help-block" ng-show="Myform.sims_academic_year.$error.required &&  (Myform.sims_academic_year.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>

                            <!--Term-->
                            <div class="col-md-2" ng-class="{'has-error': !Myform.sims_academic_year.$valid && (Myform.sims_academic_year.$touched || Myform.$submitted) }">
                                <label id="Label28" for="txt_term_Code" class="form-label">{{"Term"| translate }}</label>
                                <select id="Select4" class="form-control input-sm full-width" data-role="dropdownlist"
                                    ng-model="temp.sims_term_code" ng-selected="" name="sims_academic_year"
                                    ng-options="ay.sims_term_code as ay.sims_term_desc_en for ay in getAllTerm" required>
                                </select>
                                <p class="help-block" ng-show="Myform.sims_academic_year.$error.required &&  (Myform.sims_academic_year.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>



                            <!--EnrollMent Number-->
                            <div class="col-md-3" style="padding: 02px" ng-class="{'has-error': !Myform.lib_name_demo.$valid && (Myform.lib_name_demo.$touched || Myform.$submitted) }">
                                <label for="lib_name">{{"Enrollment NO"| translate }}</label>
                                <input type="text" name="lib_name_demo" id="libname" class="k-textbox input-sm full-width" ng-model="edt.sims_enrollment_number" required />
                                <p class="help-block" ng-show="Myform.lib_name_demo.$error.required  &&  (Myform.lib_name_demo.$touched || Myform.$submitted)">
                                    This Field is Reqiured
                                </p>
                            </div>

                            <div class="col-md-2">
                                <label class="semi-bold" for="lib_name">&nbsp;</label>
                                <button type="button" class="btn btn-warning btn-cons" ng-click="Search();">{{"Search"| translate }}</button>
                            </div>




                        </div>

                        <div class="col-md-12 form-group">
                            <div class="col-md-2">
                                <label for="lib_name">{{"Helth Card No"| translate }}</label>
                                <input type="text" name="lib_name" id="libname" class="k-textbox input-sm full-width" ng-model="temp.sims_health_card_number" />
                            </div>

                            <div class="col-md-2">
                                <label for="lib_name">{{"Height"| translate }}</label>
                                <input type="text" name="lib_name" id="libname" class="k-textbox input-sm full-width" ng-model="temp.sims_height" />
                            </div>
                            <div class="col-md-2">
                                <label for="lib_name">{{"Weight"| translate }}</label>
                                <input type="text" name="lib_name" id="libname" class="k-textbox input-sm full-width" ng-model="temp.sims_wieght" />
                            </div>
                            <div class="col-md-2">
                                <label for="lib_name">{{"Teeth"| translate }}</label>
                                <input type="text" name="lib_name" id="libname" class="k-textbox input-sm full-width" ng-model="temp.sims_teeth" />
                            </div>

                            <div class="col-md-2">
                                <label for="lib_name">{{"Helth BMI"| translate }}</label>
                                <input type="text" name="lib_name" id="libname" class="k-textbox input-sm full-width" ng-model="temp.sims_health_bmi" />
                            </div>

                        </div>

                        <div class="col-md-12 form-group">
                            <div class="col-md-2">
                                <!--Check box Status-->
                                <label id="Label10" for="txt_Status" class="form-label">{{"Helth Restriction Status"| translate }}</label>
                                <div class="checkbox check-success">
                                    <input id="chk_term2" type="checkbox" ng-model="temp.sims_health_restriction_status">
                                    <label for="chk_term2"></label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="lib_name">{{"Helth Restriction Descrition"| translate }}</label>
                                <input type="text" name="lib_name" id="libname" class="k-textbox input-sm full-width" ng-model="temp.sims_health_restriction_desc" />
                            </div>

                            <div class="col-md-2">
                                <!--Check box Status-->
                                <label id="Label10" for="txt_Status" class="form-label">{{"Medication Status"| translate }}</label>
                                <div class="checkbox check-success">
                                    <input id="chk_term3" type="checkbox" ng-model="temp.sims_medication_status">
                                    <label for="chk_term3"></label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="lib_name">{{"Medication Descrition"| translate }}</label>
                                <input type="text" name="lib_name" id="libname" class="k-textbox input-sm full-width" ng-model="temp.sims_medication_desc" />
                            </div>

                        </div>

                        <div class="col-md-12 form-group">
                            <div class="col-md-5">
                                <label for="lib_name">{{"Remark"| translate }}</label>
                                <input type="text" name="lib_name" id="libname" class="k-textbox input-sm full-width" ng-model="temp.sims_health_other_remark" />
                            </div>
                        </div>
                    </div>


                    <div class="form-actions">
                        <div class="pull-right">
                            <button type="submit" id="desigsub" ng-click="submit()" ng-show="show_btn" class="btn btn-primary btn-cons">{{"Save" | translate }}</button>
                            <button type="button" ng-show="Update_btn" ng-click="update();" class="btn btn-primary btn-cons">{{"Update" | translate }}</button>
                            <button type="button" class="btn btn-warning btn-cons" ng-click="Cancel();">{{"Cancel"| translate }}</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script src="assets/js/tableHeadFixer.js"></script>


