﻿<div class="loading-middle" ng-hide="display">
    {{ "Loading..." | translate }}
</div>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Report Card "| translate }}</span>{{"Level"| translate}}</h3>
            </div>


            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                class="form-control"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                class="form-control"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>


            <div class="grid-body no-border" ng-show="table">
                <div class="row form-row">

                    <div class="col-md-6">
                        <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="10" class=" form-control input-sm">10
                            </option>

                            <option value="20" class=" form-control input-sm">20
                            </option>

                            <option value="All" class=" form-control input-sm">All
                            </option>
                        </select>
                        &nbsp;
                        <button class="btn btn-success btn-small" type="button" id="designew" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate }}</button>
                        &nbsp;
                        <button class="btn btn-danger btn-small" type="button" ng-click="Delete()"><span class="semi-bold"></span>{{"Delete"| translate }}</button>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                                <!--<label>
                                    {{"Search"| translate }}:&nbsp;
                                    <input type="text" aria-controls="example" ng-model="search.$" class="input-medium"></label>
                                    <input aria-controls="example" ng-model="searchText" class="k-textbox" placeholder="Search" autofocus="autofocus" type="search" ng-change="search()">
                                </label>-->
                                <!-- <label>
                                {{ "Search:" | translate }} &nbsp;-->
                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div style="width: 100%; height: auto; overflow-x: auto; overflow-y: auto">
                        <table class="table table-bordered table-hover table-condensed" id="fixTable">
                            <thead>
                                <tr style="background-color: #edefef">
                                    <th class="small-cell v-align-middle" style="z-index: 1;">
                                        <div class="checkbox check-success">
                                            <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>
                                    <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                        <a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"Curriculum" | translate }}</a>
                                    </th>
                                    <!--<th class="semi-bold">
                                        <label><b>{{"CURRICULUM" | translate }}</b></label>
                                    </th>-->

                                    <th>
                                       {{"Academic Year" | translate }}
                                    </th>

                                    <th>
                                       {{"Grade" | translate }}
                                    </th>
                                    <th>
                                       {{"Section" | translate }}
                                    </th>
                                    <th>
                                       {{"Name" | translate }}
                                    </th>
                                    <th>
                                       {{"Status" | translate }}
                                    </th>
                                    <th class="semi-bold">
                                        <label><i class="fa fa-cogs"></i></label>
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="j in filteredTodos | orderBy:orderByField:reverseSort" ng-class="row1">
                                    <td>
                                        <div class="row-fluid">
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input id="{{j.sims_report_card_name+$index}}" type="checkbox" value="1" ng-click="checkonebyonedelete()">
                                                <label for="{{j.sims_report_card_name+$index}}"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <label id="lbl">{{j.sims_cur_name}}</label>
                                    </td>
                                    <td>
                                        <label id="Label1">{{j.sims_academic_year}}</label>
                                    </td>
                                    <td>
                                        <label id="Label2">{{j.sims_grade_name}}</label>
                                    </td>
                                    <td>
                                        <label id="Label3">{{j.sims_section_name}}</label>
                                    </td>
                                    <td>
                                        <label id="Label4">{{j.sims_report_card_name}}</label>
                                    </td>
                                  
                                    <td class="v-align-middle">
                                        <span ng-if="j.sims_level_status==true" class="label label-success">{{"Active"| translate}}</span>
                                        <span ng-if="j.sims_level_status==false" class="label label-important">{{"In active"| translate}}</span>
                                    </td>
                                    <td>
                                        <a href=""><i class="fa fa-edit" ng-click="edit(j)"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row" ng-show="pager">
                        <div class="col-md-12">
                                <div class="pull-right">
                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                                </div>
                            </div>
                    </div>

                </div>

            </div>

            <form name="Myform" ng-submit="savedata(Myform.$valid)" novalidate="novalidate">
                <div class="grid-body no-border" ng-show="display">

                    <!--1ST ROW-->
                    <div class="row">

                        <div class="col-md-12 form-group">

                            <div class="col-md-4" ng-class="{'has-error': !Myform.Curriculum.$valid && (Myform.Curriculum.$touched || Myform.$submitted) }">
                                <label id="Label7" for="Curriculum" class="semi-bold">{{"Curriculum"| translate }} <span class="asterisk" style="color: red">*</span></label><!--ng-options="temp.sims_cur_code as temp.sims_cur_short_name_en for temp in Curriculum" -->


                                <select id="Curriculum" data-role="dropdownlist" class="form-control" name="Curriculum" ng-model="temp.sims_cur_code" ng-change="getacademicYear(temp.sims_cur_code);" ng-disabled="CurriculumReadonly" required>
                                    <option value="">Please Select</option>
                                    <option class="form-control input-sm" ng-repeat="cur in Curriculum" value="{{cur.sims_cur_code}}">{{cur.sims_cur_short_name_en}}</option>
                                </select>
                                <p class="help-block" ng-show="Myform.Curriculum.$error.required  &&  (Myform.Curriculum.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>

                            <div class="col-md-4" ng-class="{'has-error': !Myform.AcademicYear.$valid && (Myform.AcademicYear.$touched || Myform.$submitted) }">

                                <label id="Label8" for="AcademicYear" class="semi-bold">{{"Academic Year"| translate }} <span class="asterisk" style="color: red">*</span></label>

                                <select id="cmb_AcademicYear" data-role="dropdownlist" class="form-control" name="AcademicYear" ng-model="temp.sims_academic_year"  ng-disabled="AcademicYearReadonly" ng-options="temp.sims_academic_year as temp.sims_academic_year_desc for temp in AcademicYear" ng-change="getGrade(temp.sims_cur_code,temp.sims_academic_year);" required>
                                    <option value="">Please Select</option>
                                </select>
                                <p class="help-block" ng-show="Myform.AcademicYear.$error.required  &&  (Myform.AcademicYear.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>

                            <div class="col-md-4" ng-class="{'has-error': !Myform.Grade.$valid && (Myform.Grade.$touched || Myform.$submitted) }">

                                <label id="Label9" for="Grade" class="semi-bold">{{"Grade"| translate }} <span class="asterisk" style="color: red">*</span></label>

                                <select id="Select2" data-role="dropdownlist" class="form-control" name="Grade" ng-model="temp.sims_grade_code" ng-options="temp.sims_grade_code as temp.sims_grade_name for temp in AllGrades" ng-change="getsection(temp.sims_cur_code,temp.sims_grade_code,temp.sims_academic_year);"  ng-disabled="GradeReadonly" required>
                                    <option value="">Please Select</option>
                                </select>
                                <p class="help-block" ng-show="Myform.Grade.$error.required  &&  (Myform.Grade.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>

                          

                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-12 form-group">
                            <div class="col-md-4" ng-show="sectionrbt">

                                <label id="Label10" for="sectioncode" class="semi-bold">{{"Section"| translate }} <span class="asterisk" style="color: red">*</span></label>

                                <select id="app_on1"  multiple="multiple" name="sectioncode" ng-model="temp.sims_section_code" ng-options="temp.sims_section_code as temp.sims_section_name for temp in getSectionFromGrade" ng-show="sectionrbt" >
                                </select>
                               
                            </div>

                             <div class="col-md-4" ng-show="sectiontxt">

                                <label id="Label5" for="sectioncode" class="semi-bold">{{"Section"| translate }} <span class="asterisk" style="color: red">*</span></label>

                              
                                <input type="text" name="txtsection" id="Text2"  class="k-textbox"  style="width:100%;" ng-model="temp.sims_section_code1"   ng-disabled="sectiontxtReadonly" />
                            </div>

                              <div class="col-md-4" ng-class="{'has-error': !Myform.Name.$valid && (Myform.Name.$touched || Myform.$submitted) }">

                            <label id="Label12" for="Name" class="semi-bold">{{"Name"| translate }} <span class="asterisk" style="color: red">*</span></label>
                            <input type="text" name="Name" id="name" placeholder="Enter Name" class="k-textbox"  style="width:100%;" ng-model="temp.name" required />
                                   <p class="help-block" ng-show="Myform.Name.$error.required  &&  (Myform.Name.$touched || Myform.$submitted)">
                                    This field is required
                                </p>

                        </div>

                          

                           <div class="col-md-4">
                                <label id="Label13" for="txt_full_name" class="semi-bold">{{"Status"| translate }}</label>
                                <div class="checkbox check-success">
                                    <input id="chk_terms" type="checkbox" checked ng-model="temp.status">
                                    <label for="chk_terms"></label>
                                </div>
                            </div>




                        </div>
                    </div>

                
                    <div class="form-actions">
                        <div class="pull-right">
                            <button type="submit" id="desigsub" ng-show="save_btn" class="btn btn-primary btn-cons">{{"Save" | translate }}</button>
                            <button type="button" ng-show="Update_btn" ng-click="update(Myform.$valid);" class="btn btn-primary btn-cons">{{"Update" | translate }}</button>
                            <button type="button" class="btn btn-danger btn-cons" ng-click="Cancel();">{{"Cancel"| translate }}</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<style>
    .selected_row {
        background-color: #fef8ae !important;
    }
</style>
