﻿<script src="assets/plugins/fileSaver.js"></script>
<!--<script src="http://alasql.org/console/alasql.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.12/xlsx.core.min.js"></script>
<!--<script src="http://alasql.org/console/xlsx.core.min.js"></script>-->

<style>
    .sortorder:after {
        content: '\25b2';
    }

    .sortorder.reverse:after {
        content: '\25bc';
    }
    .gridcolor {
            background-color: #fff;

    }

    
</style>



<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"User Audit"| translate }}</span> </h3>
            </div>

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input
                                placeholder="page"
                                class="form-control"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input
                                placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input
                                placeholder="Total"
                                class="form-control"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input
                                placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input
                                placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input
                                placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input
                                placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="grid-body no-border" style="background-color:transparent;padding:5px;">
            <div ng-show="maindisplay" class="gridcolor row paddingcode">
                <form name="Myform" ng-submit="agenda_Details_fun(Myform.$valid)" novalidate="novalidate">
                   
                            <div class="row">
                                
                                
                            
                                <div class="col-md-2">
                                    <label id="Label15" for="txt_Nationality_Code" class="form-label"> <i class="fa fa-align-justify"></i>&nbsp;{{"Module Name"| translate }}</label>
                                    

                                    <select id="modul_name" name="sims_cur_name"  multiple="multiple"  class="full-width"class="form-control input-sm full-width" data-role="dropdownlist" ng-model="temp.sims_mod_code" ng-change="getApplication(temp.sims_mod_code)">
                                        <!--ng-change="getAccYear(temp.sims_cur_code)"-->
                                      <!--  <option value="" selected disabled>Please Select</option>-->
                                        <option ng-repeat="mod in module" value="{{mod.sims_mod_code}}">{{mod.sims_mod_name}}</option>
                                    </select>

                                   
                                </div>

                               

                                <div class="col-md-2">
                                <label class="form-label"> <i class="fa fa-align-justify"></i>&nbsp;{{"Application Type" |  translate }}<span class="text-red">*</span></label>
                                   
                                        <select id="cmb_appl_type"  multiple="multiple"  class="full-width" name="Application_Type" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="edt.comn_appl_type_code" required>
                                            <!--<option value="" disabled selected>Please Select</option>-->
                                            <option class="form-control input-sm" ng-repeat="i in obj2" value="{{i.comn_appl_type_code}}">
                                                {{i.comn_appl_type}}
                                            </option>
                                        </select>

                                        <label class="semi-bold">  <span style="color: red" ng-show="MyForm.Application_Type.$dirty && MyForm.Application_Type.$invalid || MyForm.$submitted">
                                                    <span ng-show="MyForm.Application_Type.$error.required">This field is required</span>
                                                </span>
                                            </label>
                                    </div>

                                 <div class="col-md-2">
                                    <label id="Label16" for="txt_Nationality_Code" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Application Name"| translate }}</label>
                                 

                                    <select id="app_name" multiple="multiple"  class="full-width" name="sims_academic_year" class="form-control input-sm full-width" ng-model="temp.sims_appl_code">
                                       <!-- <option value="" selected disabled>Please Select</option>-->
                                        <option ng-repeat="app in app_Name" value="{{app.sims_appl_code}}">{{app.sims_appl_name}}</option>
                                    </select>

                                    
                                </div>


                                 <div class="col-md-2">
                     <label id="Label4" for="txt_Nationality_Code" class="form-label" style="margin-top: 2px;">
                    <label><i class="fa fa-calendar"></i>&nbsp;{{"From Date"|translate}} </label>
                    <!--<div class="input-append success  no-padding" data-datepicker="true" style="width: auto">-->
                    <span class="k-widget k-datepicker k-header k-textbox input-sm full-width k-input" style="width: 100%;">
                        <span class="k-picker-wrap k-state-default">
                            <input type="text" id="from_date" name="start_date"
                                   class="k-textbox input-sm full-width k-input ng-pristine ng-valid ng-touched" ng-model="mom_start_date "
                                   ng-change="" data-role="datepicker" role="combobox" aria-expanded="false" peaceholer="Select Date"
                                   aria-owns="start_date_dateview" aria-disabled="false" aria-readonly="false" style="width: 100%;"
                                   aria-activedescendant="8a8a008b-1b3c-42a7-be94-431c355f22e6_cell_selected">
                            <span unselectable="on" class="k-select" role="button" aria-controls="start_date_dateview">
                                <span unselectable="on" class="k-icon k-i-calendar">select</span>
                            </span>
                        </span>
                    </span>
                    <!-- <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                    </div>  -->
                </div>

                                   <div class="col-md-1">
                     <label id="Label2" for="txt_Nationality_Code" class="form-label style="margin-top: 2px;">
                    <label class="form-label1">
                        {{"Null"| translate }}
                    </label>
                    <div class="checkbox check-success">
                        <input type="checkbox" id="chkmarks" ng-model="mom_start_date_check" />
                        <label for="chkmarks"></label>
                    </div>
                </div>

                                   <div class="col-md-2" style="margin-left: -72px;">
                     <label id="Label7" for="txt_Nationality_Code" class="form-label" style="margin-top: 2px;">
                    <label class="ng-binding"><i class="fa fa-calendar"></i>&nbsp;{{"To Date"|translate}} </label>
                    <!--<div class="input-append success  no-padding" data-datepicker="true" >-->
                    <span class="k-widget k-datepicker k-header k-textbox input-sm full-width" style="width: 100%;">
                        <span class="k-picker-wrap k-state-default">
                            <input type="text" id="to_date" name="end_date"
                                   class="k-textbox input-sm full-width k-input ng-pristine ng-valid ng-touched" ng-model="mom_end_date"
                                   ng-change="" data-role="datepicker" role="combobox" aria-expanded="false"
                                   aria-owns="expiry_date_dateview" aria-disabled="false" aria-readonly="false" style="width: 100%;">
                            <span unselectable="on" class="k-select" role="button" aria-controls="expiry_date_dateview">
                                <span unselectable="on" class="k-icon k-i-calendar">select</span>
                            </span>
                        </span>
                    </span>
                    <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                    </div>-->
                </div>

                                   <div class="col-md-1">
                     <label id="Label8" for="txt_Nationality_Code" class="form-label" style="margin-top: 2px;">
                    <label class="form-label1">
                        {{"Null"| translate }}
                    </label>
                    <div class="checkbox check-success">
                        <input type="checkbox" id="chkmarks1" ng-model="mom_end_date_check" />
                        <label for="chkmarks1"></label>
                    </div>
                </div>  
 




                               
                                </div>
                                 <div class="row">
                        <div class="">
                    <div class="6">
                        <div class="pull-right">
                                    <button id="Button2" ng-show="sub_btn" ng-click="UserAuditfun();" class="btn btn-primary btn-small">{{"Submit"| translate }}</button>
                                
                                    <button id="Button3" ng-show="rst_btn" class="btn btn-warning btn-small" ng-click="clear()">{{"Reset"| translate }}</button>
                                
                                        <button type="button" id="Button4" ng-click="ExportData();" class="btn btn-primary btn-small">{{"Export"| translate }}</button>
                                </div>
                        </div>

                                            <div class="col-md-2">
                            <div class="">
                              
                                    <label id="Label12" for="txt_full_name" class="form-label"><i class="fa fa-search"></i>&nbsp; {{"Search"|translate}}</label>
                                    <input type="text" class="k-textbox input-sm full-width" ng-model="temp.sims_search_id"  placeholder="User Name/Assigned By"/>

                               

                            </div>
                        </div>

                            </div>
                                     
                                </div>
                           
                </form>
            </div>

            <div ng-show="table" class="row gridcolor paddingcode"style="margin-top:7px;">
                <div class="row ">
                    <div class="col-md-6">
                   
                        <!--<select id="Select2" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                            <option value="{{x.val}}" class=" form-control input-sm" ng-repeat="x in countData">
                                {{x.data}}
                            </option>
                        </select>-->
                        <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                           
                            
                             <option value="10" class=" form-control input-sm">
                                10
                            </option>

                            <option value="20" class=" form-control input-sm">
                                20
                            </option>
                             <option value="All" class=" form-control input-sm">
                                All
                            </option>

                           
                        </select>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                               <span class="k-textbox k-space-right full-width">
                                    <input aria-controls="example" ng-model="searchText" class="input-medium" placeholder="Search" type="search" ng-change="search()">
                                <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div id="printdata3">
                        <div class="row ">
                            <div class="col-md-12">
                            <table class="table table-bordered table-hover table-condensed" id="fixTable">
                                <thead>
                                    <tr style="background-color: #edefef">

                                         <td ng-click="sortBy('comn_user_code')">
                                            <label><b> <i class=" fa fa-sort-numeric-asc"></i>&nbsp;{{"User ID"| translate }}</b></label>
                                            <span class="sortorder" ng-show="propertyName === 'comn_user_code'" ng-class="{reverse: reverse}"></span>
                                        </td>

                                       
                                        <td ng-click="sortBy('comn_user_name')">
                                            <label><b> <i class=" fa fa-user "></i>&nbsp;{{"User Name"| translate }}</b></label>
                                            <span class="sortorder" ng-show="propertyName === 'comn_user_name'" ng-class="{reverse: reverse}"></span>
                                        </td>

                                         <td ng-click="sortBy('comn_role_name')">
                                            <label><b> <i class=" fa fa-user "></i>&nbsp;{{"Role"| translate }}</b></label>
                                            <span class="sortorder" ng-show="propertyName === 'comn_role_name'" ng-class="{reverse: reverse}"></span>
                                        </td>
                                        
                                         <td ng-click="sortBy('assign_by')">
                                            <label><b> <i class=" fa fa-user "></i>&nbsp;{{"Assigned By"| translate }}</b></label>
                                            <span class="sortorder" ng-show="propertyName === 'assign_by'" ng-class="{reverse: reverse}"></span>
                                        </td>

                                         <td ng-click="sortBy('comn_user_appl_assigned_date')">
                                            <label><b> <i class=" fa fa-calendar "></i>&nbsp;{{"Assigned Date"| translate }}</b></label>
                                            <span class="sortorder" ng-show="propertyName === 'comn_user_appl_assigned_date'" ng-class="{reverse: reverse}"></span>
                                        </td>

                                        <td ng-click="sortBy('application_type')">
                                            <label><b><i class=" fa fa-bookmark-o "></i>&nbsp;{{"Module Application Type"| translate }}</b></label>
                                            <span class="sortorder" ng-show="propertyName === 'application_type'" ng-class="{reverse: reverse}"></span>
                                        </td>
                                        <td ng-click="sortBy('user_count')">
                                            <label><b><i class="fa fa-sort-numeric-asc "></i>&nbsp;{{"Used Count"| translate }}</b></label>
                                            <span class="sortorder" ng-show="propertyName === 'user_count'" ng-class="{reverse: reverse}"></span>
                                        </td>
                                        <td ng-click="sortBy('comn_user_last_login')">
                                            <label><b><i class=" fa fa-calendar "></i>&nbsp;{{"Last Used Date"| translate }}</b></label>
                                            <span class="sortorder" ng-show="propertyName === 'comn_user_last_login'" ng-class="{reverse: reverse}"></span>
                                        </td>
                                        


                                    </tr>
                                </thead>
                                <tbody>
                                   
                                      <tr ng-repeat="j in filteredTodos | orderBy:propertyName:reverse" ng-class="row1" ng-click="viewsubtitution(j)">
                                        
                                        <td>
                                            <label id="lbl">{{j.comn_user_code}}</label>
                                        </td>
                                          
		
                                        <td>
                                            <label id="Label5">{{j.comn_user_name}}</label>
                                        </td>

                                        <td>
                                            <label id="Label9">{{j.comn_role_name}}</label>
                                        </td>

                                         <td>
                                            <label id="Label10">{{j.assign_by}}</label>
                                        </td>

                                         <td>
                                            <label id="Label11">{{j.comn_user_appl_assigned_date}}</label>
                                        </td>

                                        <td>
                                            <label id="Label3">{{j.application_type}}</label>
                                        </td>
                                        <td>
                                            <label id="Label6">{{j.user_count}}</label>
                                        </td>
                                        
                                         <td>
                                            <label id="Label1">{{j.comn_user_last_login}}</label>
                                        </td>
                                       
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                            </div>
                    </div>
                     <div class="row">
                            <div class="col-md-12">
                    <div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                ng-click="index(currentPage)">
                        </paging>
                    </div>
                                </div>
                         </div>
                </div>
            </div>

         </div>
        </div>
       </div>
      </div>    

     
<!--subform-->

<div class="modal fade in" id="MyModal6" role="dialog" style="display: none;">        
            <div class="modal-dialog" style="width: 1200px; border: solid; border-bottom-left-radius: 05px; border-bottom-right-radius: 05px; border-top-left-radius: 05px; border-top-right-radius: 05px">
                <div class="col-md-12" id="subform">
                    <div class="modal-content">
                        <div class="pull-right">
                                <a href="">
                                    <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>
                                </a>
                            </div>

                        <hr style="height: 03px; border: none; color: purple; background-color: green;">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="Div1" class="dataTables_wrapper form-inline">
                                    <div id="Div2" class="dataTables_wrapper form-inline">
                                        <div class="row margin-top">
                                            <div class="col-md-12" style="height:500px;overflow:auto">
                                                <table class="table table-bordered table-hover table-condensed" id="Table1" aria-describedby="example2_info">
                                                    <thead style="background-color: #0000ff; border-style: solid;">
                                                        <tr style="background-color: #0000ff; border-style: solid;">
                                                             <th class="semi-bold"> <i class=" fa fa-sort-numeric-asc"></i>&nbsp;{{"Sr No"|translate}}</th>
                                                            <!-- <th class="semi-bold"><i class=" fa fa-sort-numeric-asc"></i>&nbsp;{{"Used ID"|translate}}</th>
                                                            <th class="semi-bold"> <i class=" fa fa-user "></i>&nbsp;{{"User Name"|translate}}</th>-->
                                                            <th class="semi-bold"><i class=" fa fa-align-justify"></i>&nbsp;{{"Application Name"|translate}}</th>
                                                             <th class="semi-bold"><i class=" fa fa-clock-o"></i>&nbsp;{{"Start Time"|translate}}</th>
                                                            <th class="semi-bold"><i class=" fa fa-clock-o"></i>&nbsp;{{"End Time"|translate}}</th>
                                                           
                                                        </tr>
                                                    </thead>

                                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                        <tr ng-repeat=" obj in subformdetails track by $index" ng-class="row1">
                                                            <td>{{$index+1}}</td>
                                                            <!-- <td>{{obj.comn_user_code}}</td>
                                                            <td>{{obj.comn_user_name}}</td>-->
                                                            <td>{{obj.comn_appl_name_en}}</td>
                                                           <td>{{obj.comn_audit_start_time}}</td>
                                                             <td>{{obj.comn_audit_end_time}}</td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                          
                                </div>

                        </div>

                    </div>


                </div>
        </div>
       </div>
               
    

<script src="assets/js/tabs_accordian.js"></script>
<!--<script src="assets/plugins/DateRangePickers/moment.js"></script>-->
<script src="assets/plugins/DateRangePickers/moment.min.js"></script>
<script src="assets/js/tableHeadFixer.js"></script>
<link href="assets/plugins/DateRangePickers/daterangepicker.css" rel="stylesheet" />
<script src="assets/plugins/DateRangePickers/daterangepicker.js"></script>
