﻿<html>
<body>
    <div class="grid-simple">
        <div class="content">
            <div class="row">
                <div class="col-md-12 bluegrid">
                    <!--<div class="grid simple">-->
                    <div class="grid-title no-border">

                        <div class="row">

                            <div class="col-md-2">
                                <label id="Label" for="txt_Nationality_Code" class="form-label">
                                    <i class="fa fa-book"></i>
                                    {{"Curriculum"|translate}}<span style="color:red">*</span>
                                </label>
                                <select id="cur_box" data-role="dropdownlist" class="form-control input-sm full-width"
                                        ng-model="temp.sims_cur_code" ng-selected="" name="sims_cur_code" ng-change="getAcademic_year(temp.sims_cur_code)"
                                        ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in cur_data" required></select>
                            </div>

                            <div class="col-md-2">
                                <label id="acad_box" for="txt_Nationality_Code" class="form-label">
                                    <i class="fa fa-sort-amount-desc"></i>
                                    {{"Academic Year"|translate}}<span style="color:red">*</span>
                                </label>
                                <select id="academic_box" data-role="dropdownlist" class="form-control input-sm full-width"  multiple="multiple"
                                        ng-model="temp.sims_academic_year" ng-selected="" name="sims_academic_year" ng-change="getGrade(temp.sims_cur_code,temp.sims_academic_year)"
                                        ng-options="acad.sims_academic_year as acad.sims_academic_year_desc for acad in acad_data" required></select>
                            </div>


                            <div class="col-md-2">
                                <div class="row form-row">
                                    <div class="col-md-12" style="margin-top: -5px">
                                        <label><i class="fa fa-sitemap"></i>{{"Grade"|translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <select id="cmb_grade_code" class="full-width" multiple="multiple" ng-model="temp.sims_grade_code" ng-change="getsubject(temp.sims_cur_code,temp.sims_academic_year,temp.sims_grade_code)">
                                            <option ng-repeat="grade in Grade_code|filter:{sims_grade_name:''}" value="{{grade.sims_grade_code}} ">{{grade.sims_grade_name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <!--<div class="col-md-2">
                                <div class="row form-row">
                                    <div class="col-md-12" style="margin-top: -5px">
                                        <label><i class="fa-align-justify"></i>{{"Section"|translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <select id="cmb_section_code" class="full-width" multiple="multiple" ng-model="temp.sims_section_code" >
                                            <option ng-repeat="section in Section_code|filter:{sims_section_name:''}" value="{{section.sims_section_code}} ">{{section.sims_section_name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>-->

                            <div class="col-md-2">
                                <label id="Label" for="txt_Nationality_Code" class="form-label">
                                    <i class="fa fa-book"></i>
                                    {{"Subject"|translate}}<span style="color:red">*</span>
                                </label>
                                <select id="subject_box" data-role="dropdownlist" class="form-control input-sm full-width"
                                        ng-model="temp.sims_subject_code" ng-selected="" name="sims_subject_code"
                                        ng-options="sub.sims_subject_code as sub.sims_subject_name_en for sub in subjectdata" required></select>
                            </div>

                            <div class="col-md-2">
                                <label class="semi-bold" for="StartDate">{{"Term"|translate}}</label>
                                <select id="Select14" class="form-control" name="cmb_term" ng-model="temp.sims_term_code" 
                                        ng-options="term.sims_term_code as term.sims_term_desc_en for term in TermsAcademicYear">
                                    <option value="" selected disabled>Please Select</option>
                                </select>
                            </div>

                        </div>
                        <!--<div class="row">-->

                        <div class="col-md-12">
                            <div class="pull-right">
                                <label>&nbsp;</label>
                                <button type="button" class="btn btn-primary btn-cons" ng-click="getstudentlist(temp.sims_cur_code,temp.sims_academic_year,temp.sims_grade_code,temp.sims_subject_code,temp.sims_term_code)">
                                    {{"Submit"|translate}}
                                </button>
                                <button class="btn btn-rounded btn-warning btn-cons" type="button" ng-click="reset_data()"><i class="icon-ok" ng-show="false"></i>{{"Reset"|translate}}</button>
                                <button type="button" class="btn btn-primary btn-cons" ng-click="exportData()">{{"Excel"|translate}}</button>
                                <button type="button" class="btn btn-primary btn-cons" ng-click="print()">{{"Print"|translate}}</button>
                            </div>
                        </div>
                        <!--</div>-->

                        <div class="row">
                            <div class="col-md-2" ng-show="false">
                                <label>&nbsp;</label>
                                <div class="pull-right">
                                    <span class="k-textbox k-space-right">
                                        <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                                        <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                    </span>
                                </div>
                            </div>
                        </div>



                    </div>
                    <!--</div>-->
                </div>
            </div>

            <div ng-show="detailsField">

                <div class="content">
                    <div class="grid-title no-border" style="background-color:  white;">
                        <div class="col-md-4" ng-show="false">
                            <div class="row margin-top">
                                <div class="col-md-12" style=" padding-left: 6px;">
                                    <select id=" select1" style="width: 60px;" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                        <option value="30" class=" form-control input-sm">
                                            30
                                        </option>

                                        <option value="60" class=" form-control input-sm">
                                            60
                                        </option>

                                        <option value="All" class=" form-control input-sm">
                                            All
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-show="busy">
                            <div class="col-md-12">
                                <div class="row form-row">
                                    <div class="col-md-5">
                                    </div>
                                    <div class="col-md-2">
                                        <img src="assets/theme/img/loading.gif" />
                                    </div>
                                    <div class="col-md-5">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="example_wrapper" class="dataTables_wrapper form-inline">
                            <div class="row margin-top">
                                <div class="col-md-12">

                                    <div class="col-md-12" id="rpt_data1">
                                        <table class="table table-striped table-flip-scroll cf">
                                            <tbody align="left" ng-repeat="r in report_data_new|orderBy:colname:reverse">
                                                <tr>
                                                    <td><b>{{r.sims_academic_year_description}}</b></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="10">
                                                        <table class="table table-striped table-flip-scroll cf">
                                                            <thead>
                                                                <tr style="background-color:#edefef">
                                                                    <th><b>{{"Sr No"|translate}}</b></th>
                                                                    <th ng-click="sort('sims_grade_name_en')"><b>{{"Class"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                                                    <th ng-click="sort('no_of_students')"><b>{{"No of Students"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                                                    <th ng-click="sort('below50')"><b>{{"<51"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                                                    <th ng-click="sort('between50to59')"><b>{{"51-60"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                                                    <th ng-click="sort('between60to69')"><b>{{"61-70"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                                                    <th ng-click="sort('between70to79')"><b>{{"71-80"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                                                    <th ng-click="sort('between80to89')"><b>{{"81-90"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                                                    <th ng-click="sort('between90to100')"><b>{{"91-100"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                                                    <th ng-click="sort('grade_avarage')"><b>{{"CLASS AVERAGE"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody align="left">
                                                                <tr style="background-color: white" ng-repeat="s in r.acad_data|orderBy:colname:reverse|filter:searchText">
                                                                    <td style="text-align: left;">{{$index+1}}</td>
                                                                    <td style="text-align: left;">{{s.sims_grade_name_en}}</td>
                                                                    <td style="text-align: left;">{{s.no_of_students}}</td>
                                                                    <td style="text-align: left;">{{s.below50}}</td>
                                                                    <td style="text-align: left;">{{s.between50to59}}</td>
                                                                    <td style="text-align: left;">{{s.between60to69}}</td>
                                                                    <td style="text-align: left;">{{s.between70to79}}</td>
                                                                    <td style="text-align: left;">{{s.between80to89}}</td>
                                                                    <td style="text-align: left;">{{s.between90to100}}</td>
                                                                    <td style="text-align: left;">{{s.grade_avarage}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>


                                    <div ng-show="hideprintpdf">
                                        <div class="col-md-12" id="pdf_print">
                                            <div class="">
                                                <b style="font-size: 22px;">{{user_details.lic_school_name}}</b><br>
                                            </div>
                                            <div class="col-md-12">
                                                <span style="font-size:18px;">
                                                    Analysis Assement Report
                                                </span>
                                            </div>
                                            <!--<div class="col-md-11">

                                                <div class="row" style="margin-left: 182px;font-size: 22px;">

                                                    <span style="font-size: 13px;margin-left: -58px;">Curriculumn :{{cur}}</span>&nbsp; &nbsp;
                                                    <span style="font-size: 13px">
                                                        Academic Year :{{selected_academic_year}}&nbsp; &nbsp; Grade:
                                                        <span ng-repeat="y in grade">
                                                            {{y}}  <span ng-hide="$last">,</span> &nbsp;
                                                        </span>
                                                        &nbsp; &nbsp; Section:
                                                        <span ng-repeat="y in section">
                                                            {{y}}  <span ng-hide="$last">,</span> &nbsp;
                                                        </span>
                                                        Concession Type :
                                                        <span ng-repeat="y in concession_Type">
                                                            {{y}}  <span ng-hide="$last">,</span> &nbsp;
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>-->

                                            <table class="table table-striped table-flip-scroll cf">
                                                <tbody align="left" ng-repeat="r in report_data_new|orderBy:colname:reverse">
                                                    <tr>
                                                        <td><b>{{r.sims_academic_year_description}}</b></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="10">
                                                            <table class="table table-striped table-flip-scroll cf">
                                                                <thead>
                                                                    <tr style="background-color:#edefef">
                                                                        <th><b>{{"Sr No"|translate}}</b></th>
                                                                        <th ng-click="sort('sims_grade_name_en')"><b>{{"Class"|translate}}</b></th>
                                                                        <th ng-click="sort('no_of_students')"><b>{{"No of Students"|translate}}</b></th>
                                                                        <th ng-click="sort('below50')"><b>{{"<51"|translate}}</b></th>
                                                                        <th ng-click="sort('between50to59')"><b>{{"51-60"|translate}}</b></th>
                                                                        <th ng-click="sort('between60to69')"><b>{{"61-70"|translate}}</b></th>
                                                                        <th ng-click="sort('between70to79')"><b>{{"71-80"|translate}}</b></th>
                                                                        <th ng-click="sort('between80to89')"><b>{{"81-90"|translate}}</b></th>
                                                                        <th ng-click="sort('between90to100')"><b>{{"91-100"|translate}}</b></th>
                                                                        <th ng-click="sort('grade_avarage')"><b>{{"CLASS AVERAGE"|translate}}</b></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody align="left">
                                                                    <tr style="background-color: white" ng-repeat="s in r.acad_data|orderBy:colname:reverse|filter:searchText">
                                                                        <td style="text-align: left;">{{$index+1}}</td>
                                                                        <td style="text-align: left;">{{s.sims_grade_name_en}}</td>
                                                                        <td style="text-align: left;">{{s.no_of_students}}</td>
                                                                        <td style="text-align: left;">{{s.below50}}</td>
                                                                        <td style="text-align: left;">{{s.between50to59}}</td>
                                                                        <td style="text-align: left;">{{s.between60to69}}</td>
                                                                        <td style="text-align: left;">{{s.between70to79}}</td>
                                                                        <td style="text-align: left;">{{s.between80to89}}</td>
                                                                        <td style="text-align: left;">{{s.between90to100}}</td>
                                                                        <td style="text-align: left;">{{s.grade_avarage}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="row" ng-show="pager">
                                        <div class="col-md-12">
                                            <div class="pull-right">
                                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                                        ng-click="index(currentPage)">
                                                </paging>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</body>
</html>
<!--<div class="col-md-12" id="subform">-->

<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/plugins/fileSaver.js"></script>
<script src="assets/js/jszip.js"></script>
<script src="assets/js/xlsx.js"></script>
<script src="assets/js/xlsx-reader.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>



