﻿<div class="grid simple" id="font">
    <div class="grid-body no-border" style="padding: 0px;">

        <div class="col-md-12">
            <div class="row">

                <div class="col-md-2" style="padding:02px">
                    <label class="semi-bold" for="StartDate">Curriculum <span class="asterisk" style="color: red">*</span></label>
                    <select id="Select52" class="form-control" name="cmb_curri" ng-model="fcommn.cur_code" required ng-change="getacyr1(fcommn.cur_code)"
                            ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in curriculum">
                        <option value="" selected disabled>Please Select</option>
                    </select>
                </div>

                <div class="col-md-2" style="padding:02px">
                    <label class="semi-bold" for="StartDate">Academic Year <span class="asterisk" style="color: red">*</span></label>
                    <select id="Select53" class="form-control" name="cmb_academic_year" ng-model="fcommn.academic_year" required ng-change="getsections2(fcommn.cur_code,fcommn.academic_year)"
                            ng-options="year.sims_academic_year as year.sims_academic_year_desc for year in getAcademicYear1">
                        <option value="" selected disabled>Please Select</option>
                    </select>
                </div>

                <div class="col-md-2" style="padding:02px">
                    <label class="semi-bold" for="StartDate">Grade <span class="asterisk" style="color: red">*</span></label>
                    <select id="Select54" class="form-control" name="cmb_term" ng-model="fcommn.sims_grade_code" ng-change="getsection2(fcommn.cur_code,fcommn.academic_year,fcommn.sims_grade_code)"
                            ng-options="grd.sims_grade_code as grd.sims_grade_name_en for grd in getAllGrades1">
                        <option value="" selected disabled>Please Select</option>
                    </select>
                </div>

                <div class="col-md-1" style="padding:02px">
                    <label class="semi-bold" for="StartDate">Section <span class="asterisk" style="color: red">*</span></label>
                    <select id="Select55" class="form-control" name="cmb_curri" ng-model="fcommn.sims_section_code" ng-change="Getterm2(fcommn.cur_code,fcommn.academic_year,fcommn.sims_grade_code,fcommn.sims_section_code)"
                            ng-options="sec.sims_section_code as sec.sims_section_name_en for sec in getSectionFromGrade1">
                        <option value="" selected disabled>Please Select</option>
                    </select>
                </div>

                <div class="col-md-1" style="padding:02px">
                    <label class="semi-bold" for="StartDate">Term <span class="asterisk" style="color: red">*</span></label>
                    <select id="Select59" class="form-control" name="cmb_term" ng-model="fcommn.sims_term_code" 
                            ng-options="lel.sims_term_code as lel.sims_term_desc_en for lel in TermsAcademicYear1">
                        <option value="" selected disabled>Please Select</option>
                    </select>
                </div>

                <div class="col-md-1" style="padding:02px">
                    <label class="semi-bold" for="StartDate">Exam <span class="asterisk" style="color: red">*</span></label>
                    <select id="Select1" class="form-control" name="cmb_term" ng-model="fcommn.sims_category_name" 
                            ng-options="lel.sims_appl_form_field_value1 as lel.sims_appl_form_field_value1 for lel in categoryData">
                        <option value="" selected disabled>Please Select</option>
                    </select>
                </div>

                <div class="col-md-1">
                    <label class="semi-bold" for="StartDate">Sort By <span class="asterisk" style="color: red">*</span></label>
                    <select id="Select52" class="form-control" name="cmb_curri" ng-model="fcommn.sort_by" required
                            ng-options="cur.sims_appl_parameter as cur.sims_appl_form_field_value1 for cur in sortData">
                        <option value="" selected disabled>Please Select</option>
                    </select>
                </div>

                <div class="col-md-2" style="padding:05px">
                    <label class="semi-bold" for="StartDate">Display Gracing Apllied Students</label>
                    <input type="checkbox" id="show_gracing_applied_id" style="height:20px;width:17px;" ng-click="show_only_gracing_applied_students(only_gracing_applied)" ng-model="only_gracing_applied">
                </div>

                 <div class="col-md-1" style="padding-top:29px;">
                     <div class="pull-right">
                         <button class="btn btn-primary btn-small" ng-click="show_fail_students(fcommn.cur_code,fcommn.academic_year,fcommn.sims_grade_code,fcommn.sims_section_code,fcommn.sims_term_code,fcommn.sims_category_name)">Preview</button>
                     </div>
                 </div>

                    <div class="col-md-12" style="height: 30px">
                        <hr style="height: 03px; border: none; color: purple; background-color: purple;">
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="col-md-6">
                                Total Students Failed : <span style="font-weight:bold">{{total_student_failed_count}}</span><br />
                                Total Distinct Subjects  :  <span style="font-weight:bold">{{total_subject_failed_count}}</span><br />

                            </div>
                            <div class="col-md-5">
                                Total Passed Students : <span style="font-weight:bold">{{total_student_passed}}</span><br />
                                Total Passed Subjects  :  <span style="font-weight:bold">{{total_student_pass_subject_count}}</span><br />
                            </div>

                        </div>
                            <div class="col-md-6">
                                <div class="pull-right">
                                    <span class="k-textbox k-space-right">
                                        <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm" autofocus="autofocus" tabindex="1" ng-change="search()">
                                        <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                    </span>
                                </div>
                            </div>

                    </div>

                    <div class="col-md-12" style="height: 30px">
                        <hr style="height: 03px; border: none; color: purple; background-color: purple;">
                    </div>

                    <div class="row">
                        <div ng-hide="busyindicator">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <div class="col-md-5">
                                                &nbsp;
                                            </div>
                                            <div class="col-md-5">
                                                <div class="row">
                                                    <img src="assets/theme/img/loading.gif" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row margin-top" ng-show="toppager">
                            <div class="col-md-6" style=" padding-left 6px;">
                                <select id=" select1" style="width: 60px;" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                    <option value="10" class="form-control input-sm">
                                        10
                                    </option>

                                    <option value="20" class=" form-control input-sm">
                                        20
                                    </option>

                                    <option value="All" class=" form-control input-sm">
                                        All
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="row" ng-show="busy">
                            <div class="col-md-12">
                                <div class="row form-row">
                                    <div class="col-md-5">
                                    </div>
                                    <div class="col-md-2">
                                        <img src="assets/theme/img/loading.gif" />
                                    </div>
                                    <div class="col-md-5">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="example_wrapper" class="dataTables_wrapper form-inline">
                            <!--ng-show="showtable"-->
                            <div>
                                <div class="row margin-top">
                                    <div class="col-md-12" style="padding-right: 6px;padding-left: 6px" ;padding-top 3px;>
                                        <table class="table table-striped table-flip-scroll cf" id="fixTable">
                                            <thead>
                                                <tr style="background-color: #000000;color:white;height: 46px;">
                                                    <th class="semi-bold" style="vertical-align:middle; background:#6abd2d">
                                                        <input type="checkbox" id="mainchk" ng-click="CheckAllChecked()">
                                                    </th>
                                                    <th class="semi-bold" style="vertical-align:middle; background:#6abd2d;width: 5%;">
                                                        <label style="width:58px;color: white;">{{ "Enroll No." | translate}}</label>
                                                    </th>
                                                    <th class="semi-bold" style="vertical-align:middle; background:#6abd2d;width: 5%;" ng-click="sortBy('sims_roll_number_sort')">
                                                        <label style="width: 58px;color: white;">{{ "Roll No" | translate}}</label>
                                                        <span class="sortorder" ng-show="propertyName === 'StudEnroll1'" ng-class="{reverse: reverse}"></span>
                                                    </th>
                                                    <th class="semi-bold" style="vertical-align:middle; background:#6abd2d;width: 21%;">
                                                        {{ "Student Name" | translate}}
                                                    </th>
                                                    <th class="semi-bold" style="vertical-align:middle; background:#6abd2d;width: 2%;">
                                                        {{ "AC" | translate}}
                                                    </th>
                                                    <th class="semi-bold" style="vertical-align:middle; background:#6abd2d;width: 13%">
                                                        {{ "Applied Activity" | translate}}
                                                    </th>
                                                    <th class="semi-bold" style="vertical-align:middle; background:#6abd2d;width: 4%;">
                                                        {{ "Points Earned " | translate}}
                                                    </th>
                                                    <th class="semi-bold" style="vertical-align:middle; background:#6abd2d;width: 28%;">
                                                        {{ "Failed Subject" | translate}}
                                                    </th>
                                                    <th class="semi-bold" style="vertical-align:middle; background:#6abd2d">
                                                        {{ "Maximum Marks" | translate}}
                                                    </th>
                                                    <th class="semi-bold" style="vertical-align:middle; background:#6abd2d">
                                                        {{ "Passing Marks" | translate}}
                                                    </th>
                                                    <th class="semi-bold" style="vertical-align:middle; background:#6abd2d" ng-click="sortBy('sims_gb_cat_assign_mark')">
                                                        {{ "Marks Obtained" | translate}}
                                                        <span class="sortorder" ng-show="propertyName === 'StudEnroll1'" ng-class="{reverse: reverse}"></span>
                                                    </th>
                                                    <th class="semi-bold" style="vertical-align:middle; background:#6abd2d">
                                                        {{ "Activity Applied" | translate}}
                                                    </th>
                                                    <th class="semi-bold" style="vertical-align:middle; background:#6abd2d">
                                                        {{ "General Gracing Applied" | translate}}
                                                    </th>
                                                    <th class="semi-bold" style="vertical-align:middle; background:#6abd2d">
                                                        {{ "Total Marks Applied" | translate}}
                                                    </th>
                                                    <th class="semi-bold" style="vertical-align:middle; background:#6abd2d">
                                                        {{ "Balance Points" | translate}}
                                                    </th>
                                                    <th class="semi-bold" style="vertical-align:middle; background:#6abd2d">
                                                        {{ "Exclude Grace Points" | translate}}
                                                    </th>
                                                   
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr ng-repeat="info in fail_student_list |filter:searchText | orderBy:propertyName:reverse">
                                                    <td style="color:black">
                                                        <input type="checkbox" id="{{info.sims_gb_cat_assign_enroll_number+$index}}" ng-click="checklick()" ng-model="info.subcheck">
                                                    </td>
                                                    <td style="color:black">{{info.sims_gb_cat_assign_enroll_number}}</td>
                                                    <td style="color:black">{{info.sims_roll_number}}</td>
                                                    <td style="color:black">{{info.student_name}}</td>
                                                    <td style="color:black">{{info.activity_student_has}}</td>
                                                    <td style="color:black">
                                                        <select id="Select55" class="form-control" name="cmb_curri" ng-model="info.sims_activity_number" ng-change="changeStudAct($index,info,info.sims_activity_number,fcommn.sims_category_name);"
                                                                ng-options="sec.sims_activity_number as sec.sims_activity_name for sec in info.activities" style="width: 100%;">
                                                            <option value="" selected disabled>Please Select</option>
                                                        </select>
                                                        <!--{{info.sims_activity_name}}-->
                                                    </td>
                                                    <td style="color:black">{{info.sims_activity_points}}</td>
                                                    <td style="color:black">{{info.sims_subject_name_en}}</td>
                                                    <td style="color:black">{{info.sims_gb_cat_assign_max_score}}</td>
                                                    <td style="color:black">{{info.passing_marks}}</td>
                                                    <td style="color:black">{{info.sims_gb_cat_assign_mark}}</td>
                                                    <td style="color:black">{{info.marks_applied_other_than_general}}</td>
                                                    <td style="color:black">{{info.marks_applied_general_gracing}}</td>
                                                    <td style="color:black;background-color:{{info.marks_needed_to_pass_background_color}}">{{info.marks_needed_to_pass}}</td>
                                                    <td style="color:black">{{info.bal_act}}</td>
                                                    <td style="color:black">
                                                        <!--<a href=""><i class="fa fa-remove" ng-click="removeGraceMarksofsub(info)"></i></a>-->
                                                        <input type="checkbox" id="{{info.student_name+$index}}" ng-click="removeGraceMarksofsub(info)" ng-model="info.exclude_sub_marks">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" style="padding-top:04px;">
                            <div class="pull-right">
                                <button class="btn btn-primary btn-small" ng-click="Insert_data()">Assign Grace Marks</button>
                            </div>
                        </div>

                        <div class="row" ng-show="pager">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                            ng-click="index(currentPage)">
                                    </paging>
                                </div>
                            </div>
                        </div>

                    </div>




                </div>
        </div>
    </div>
</div>
