﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">



            <div class="grid-body no-border">
                <div class="row">

                    <div class="grid-body no-border bluegrid paddingcode">
                        <form name="Myform" ng-submit="getdata(Myform.$valid)" novalidate="novalidate">

                            <div class="row">
                                <div class="col-md-2" ng-class="{'has-error': !Myform.cmb_cur.$valid && (Myform.cmb_cur.$touched || Myform.$submitted) }">
                                    <label><i class="fa fa-book"></i>&nbsp;{{"Curriculum" | translate }} <span class="asterisk" style="color: red">*</span></label>

                                    <select name="cmb_cur" id="Select3" style="width: 100%" data-role="dropdownlist" class="form-control input-sm full-width"
                                        ng-change="cur_change()" ng-model="temp.cur_code"
                                        ng-options="c.sims_cur_code as c.sims_cur_short_name_en for c in curiculum" required>
                                        <option value="" selected disabled>Please Select</option>
                                    </select>


                                    <p class="help-block" ng-show="Myform.cmb_cur.$error.required &&(Myform.cmb_cur.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>
                                </div>

                                <div class="col-md-2" ng-class="{'has-error': !Myform.cmb_academic.$valid && (Myform.cmb_academic.$touched || Myform.$submitted) }">
                                    <label><i class="fa fa-calendar"></i>&nbsp;{{"Year" | translate }} <span class="asterisk" style="color: red">*</span></label>

                                    <select name="cmb_academic" class="form-control input-sm full-width" data-role="dropdownlist" id="cmb_academic" ng-change="acdm_yr_change()" ng-model="temp.acdm_yr" required>
                                        <option value="" selected disabled>Please Select</option>
                                        <option ng-repeat="act in academicyears" value="{{act.sims_academic_year}}">{{act.sims_academic_year_desc}}</option>
                                    </select>
                                    <p class="help-block" ng-show="Myform.cmb_academic.$error.required &&(Myform.cmb_academic.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>
                                </div>

                        
                                 <div class="col-md-2"  ng-class="{'has-error': !Myform.cmb_grade.$valid && (Myform.cmb_grade.$touched || Myform.$submitted) }">
                            <label><i class="fa fa-sitemap"></i>&nbsp;{{"Grade" | translate }} <span class="asterisk" style="color: red">*</span></label>

                            <select name="cmb_grade"  class="form-control input-sm full-width" data-role="dropdownlist" id="cmb_grade" ng-change="grade_change();slot_change()" ng-model="temp.grade_code" required>
                                <option value="" selected disabled>Please Select</option>
                                <option ng-repeat="act in grades" value="{{act.sims_grade_code}}">{{act.sims_grade_name}}</option>
                            </select>
                            <p class="help-block" ng-show="Myform.cmb_grade.$error.required &&(Myform.cmb_grade.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>

                                 <div class="col-md-2"  ng-class="{'has-error': !Myform.cmb_section.$valid && (Myform.cmb_section.$touched || Myform.$submitted) }">

                            <label><i class="fa fa-book"></i>&nbsp;{{"Section" | translate }} <span class="asterisk" style="color: red">*</span></label>

                            <select  name="cmb_section" id="cmb_section" data-role="dropdownlist" class="form-control input-sm full-width" ng-change="getSubject();slot_change()" ng-model="temp.sec_code" required>
                                <option value="" selected disabled>Please Select</option>
                                <option ng-repeat="act in section" value="{{act.sims_section_code}}">{{act.sims_section_name}}</option>
                            </select>
                            <p class="help-block" ng-show="Myform.cmb_section.$error.required &&(Myform.cmb_section.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>

                                        <div class="col-md-2" ng-class="{'has-error': !Myform.Subsexpdate.$valid && (Myform.Subsexpdate.$touched || Myform.$submitted) }">
                            <label><i class="fa fa-calendar"></i>&nbsp;{{"Date (dd-mm-yyyy)" | translate }} <span class="asterisk" style="color: red">*</span></label>
                            <input type="text" id="start_date" placeholder="Select Date" name="Subsexpdate" class="k-textbox input-sm full-width" ng-change="slot_change();getSubject()" ng-model="temp.att_date" required>

                            <p class="help-block" ng-show="Myform.Subsexpdate.$error.required &&(Myform.Subsexpdate.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>

                 

                                        <div class="col-md-2" ng-class="{'has-error': !Myform.cmb_template.$valid && (Myform.cmb_template.$touched || Myform.$submitted) }">
                                    <label><i class="fa fa-calendar"></i>&nbsp;{{"Template" | translate }} <span class="asterisk" style="color: red">*</span></label>

                                    <select name="cmb_template" class="form-control input-sm full-width" data-role="dropdownlist" id="cmb_template" ng-model="temp.temp_id" required>
                                        <option value="" selected disabled>Please Select</option>
                                        <option ng-repeat="act in templatelst" value="{{act.sims_comment_template_id}}">{{act.sims_comment_template_name}}</option>
                                    </select>



                                    <p class="help-block" ng-show="Myform.cmb_template.$error.required &&(Myform.cmb_template.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>
                                </div>

                         
                            

                            </div>

                            <div class="row">

                                          <div class="col-md-2" ng-class="{'has-error': !Myform.cmb_subject.$valid && (Myform.cmb_subject.$touched || Myform.$submitted) }">
                            <label><i class="fa fa-calendar"></i>&nbsp;{{"Subject" | translate }} <span class="asterisk" style="color: red">*</span></label>

                            <select name="cmb_subject" ng-hide="temp.type=='H'" ng-change="slot_change();subject_change()"  class="form-control input-sm full-width" data-role="dropdownlist" id="cmb_subject"  ng-model="temp.subject_code" required>
                                <option value="" selected disabled>Please Select</option>
                                <option ng-repeat="act in subjectlst" value="{{act.sims_subject_code}}">{{act.sims_subject_name_en}}</option>
                            </select>

            
                                   <label  ng-show="temp.type=='H'"> <b>{{temp.sims_subject_name_en }} </b></label>  
                            <p class="help-block" ng-show="Myform.cmb_subject.$error.required &&(Myform.cmb_subject.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>   

                                       <div class="col-md-2" ng-class="{'has-error': !Myform.cmb_slot.$valid && (Myform.cmb_slot.$touched || Myform.$submitted) }">
                            <label><i class="fa fa-calendar"></i>&nbsp;{{"Period" | translate }} <span class="asterisk" style="color: red">*</span></label>

                            <select name="cmb_slot" class="form-control input-sm full-width" data-role="dropdownlist" id="cmb_slot"  ng-model="temp.slot_code" required>
                                <option value="" selected disabled>Please Select</option>
                                <option ng-repeat="act in attSlot"  value="{{act.slot}}">{{act.slot_name}}</option>
                            </select>
                            <p class="help-block" ng-show="Myform.cmb_slot.$error.required &&(Myform.cmb_slot.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>   


                                  <div class="col-md-2" ng-class="{'has-error': !Myform.txt_comment.$valid && (Myform.txt_comment.$touched || Myform.$submitted) }">
                            <label><i class="fa fa-calendar"></i>&nbsp;{{"Remark" | translate }} <span class="asterisk" style="color: red">*</span></label>

                                    <input type="text" id="txt_comment" ng-model="temp.comment" class="k-textbox input-sm full-width"  maxlength="100" name="txt_comment" required />
                        
                            <p class="help-block" ng-show="Myform.txt_comment.$error.required &&(Myform.txt_comment.$touched || Myform.$submitted)">
                                This field is required
                            </p>

                                 


                                    
                        </div>   

                                    <div class="col-md-2">
                                    <div class="pull-right">
                                        <label>&nbsp;</label>
                                        <button type="submit" class="btn btn-primary btn-small">{{"Show" | translate }}</button>
                                        <!--<button type="button" class="btn btn-primary btn-small" ng-click="print()">{{"print" | translate }}</button>-->

                                    </div>
                                </div>

                     
                            </div>



                        </form>


                    </div>

                    <div class="col-md-12">
                        <!-- ng-show="start_survey_table"-->
                        <br />

                        <div id="parent">
                            <table class="table table-bordered table-condensed" id="fixTable" ng-repeat="info in templateDetaillst" ng-if="info.sims_comment_type=='H'">
                                                       
                                   
                                       <thead>
                                    <tr style="background-color: #fff" > 


                                        <th >
                                            <label class="semi-bold"><i class="fa fa-sort-numeric-asc"></i>&nbsp;<b>{{info.sims_header_desc}}</b></label>

                                                    <!--<input type="text" ng-if="info.sims_value_type=='T'" name="isbn" class="k-textbox input-sm full-width" ng-model="info.desc"  />-->
                                        </th>
                                       
                                           
                        

                                    </tr>
                                </thead>

                                <tr ng-if="info.sims_value_type=='T'">
 <td class="semi-bold" style="background-color: #fff">
                                    <input type="text"  ng-model="info.desc" class="k-textbox input-sm full-width""    /></td>

                                </tr>

                                 <tr ng-if="info.sims_value_type=='R'">
 <td class="semi-bold" style="background-color: #fff">
                                    <textarea id="{{t.sims_comment_code}}rich" class="k-textbox input-sm full-width" data-bind="wysihtml5: $data.ExampleText" rows="2" style="text-align: left;"></textarea>

 </td>

                                </tr>
                                <tr  ng-repeat="t in templateDetaillst" ng-if="info.sims_comment_code==t.sims_header_comment_code">

                                     <td  style="background-color: #fff; font-weight: 450 !important;">
                                         
                                        <span ng-if="t.sims_value_type=='T'">{{t.sims_header_desc}}
                                       <input type="text"   ng-model="t.desc" class="k-textbox input-sm full-width"    />
                                        </span> 
                                         <span ng-if="t.sims_value_type=='R'">{{t.sims_header_desc}}
                                         <textarea id="{{t.sims_comment_code}}rich" class="k-textbox input-sm full-width" data-bind="wysihtml5: $data.ExampleText" rows="2" style="text-align: left;"></textarea>
                                             </span>
                                          <div class="checkbox check-success" ng-if="t.sims_value_type=='C'">
                                            <input id="{{t.sims_comment_code}}" type="checkbox" value="1" ng-model="t.sims_comment_code_value">
                                            <label for="{{t.sims_comment_code}}">{{t.sims_header_desc}}</label>
                                        </div>

                                         
                                       
                                            <div class="radio"  ng-if="t.sims_value_type=='B'">
                                                <input id="{{t.sims_comment_code}}r" type="radio" ng-model="t.desc" name="{{info.sims_comment_code}}" value="1">
                                                <label for="{{t.sims_comment_code}}r"><b>{{t.sims_header_desc}}</b></label>

                                            </div>
                                      

                                     </td>
                                </tr>

                              
                              
                            </table>
                        </div>
                        <div style="text-align: right" class="alert alert-success">

                            <!--<button type="button" style="width:100px" ng-disabled="btn_pre" ng-click="Prevoius_btn_click()" class="btn btn-primary btn-cons">{{"previous"|translate}}</button>-->
                            <!--<button type="button" style="width:100px" ng-disabled="btn_next" ng-click="next_btn_click()" class="btn btn-primary btn-cons"> {{"Next"|translate}}</button>-->
                            <button type="button" style="width: 100px" ng-disabled="btn_sub" ng-click="Submit_btn_click()" class="btn btn-primary btn-cons">{{"Submit"|translate}}</button>
                            <button type="button" style="width:100px"    ng-click="print()" class="btn btn-primary btn-cons"> {{"Print"|translate}}</button>
                            <!--<button type="button" style="width:100px"   ng-click="btn_export()" class="btn btn-primary btn-cons"> {{"Export"|translate}}</button>-->
                       
                             </div>


                    </div>


                                <div class="col-md-12" ng-hide="true">
                        <!-- ng-show="start_survey_table"-->
                        <br />

                                  

                        <div id="printable">
                              <table class="table no-border" style="border-color: white">
                                <tbody style="background-color: white">
                                    <tr>
                                        <td style="width: 10%">
                                            <img src="{{SchoolLogo}}{{user_details.lic_school_logo}}" style="width: 80px; height: 80px">

                                        </td>


                                        <td style="width: 40%">
                                            <h3 class="ng-binding">{{user_details.lic_school_name}}
                                            </h3>
                                        </td>


                                        <td style="width: 30%">&nbsp;
                                        </td>
                                        <td style="width: 20%">&nbsp;
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                                    <table class="table table-bordered">
                                <tbody>

                                    <tr>
                                        <td >Year: {{pacad}}
                                        </td>
                                        <td >Class: {{pclass}}
                                        </td>
                                        <td >Date: {{temp.att_date}}
                                        </td>
                                        <td >Subject: {{psubject}}
                                        </td>

                                         <td >Period: {{pPeriod}}
                                        </td>
                                    </tr>
                                </tbody>

                            </table>

                     <table class="table table-bordered table-condensed" id="Table1" ng-repeat="info in templateDetaillst" ng-if="info.sims_comment_type=='H'">
                                                       
                                   
                                       <thead>
                                    <tr style="background-color: #fff" > 


                                        <th >
                                            <label class="semi-bold"><i class="fa fa-sort-numeric-asc"></i>&nbsp;<b>{{info.sims_header_desc}}</b></label>

                                                    <!--<input type="text" ng-if="info.sims_value_type=='T'" name="isbn" class="k-textbox input-sm full-width" ng-model="info.desc"  />-->
                                        </th>
                                       
                                           
                        

                                    </tr>
                                </thead>

                                <tr ng-if="info.sims_value_type=='T'">
 <td class="semi-bold" style="background-color: #fff">
                                    <input type="text"  ng-model="info.desc" class="k-textbox input-sm full-width""    /></td>

                                </tr>

                                 <tr ng-if="info.sims_value_type=='R'">
 <td class="semi-bold" style="background-color: #fff">
                                    <textarea id="Textarea1" class="k-textbox input-sm full-width" data-bind="wysihtml5: $data.ExampleText" rows="2" style="text-align: left;"></textarea>

 </td>

                                </tr>
                                <tr  ng-repeat="t in templateDetaillst" ng-if="info.sims_comment_code==t.sims_header_comment_code">

                                     <td  style="background-color: #fff; font-weight: 450 !important;">
                                         
                                        <span ng-if="t.sims_value_type=='T'">{{t.sims_header_desc}}  : {{t.desc}}
                                       <!--<input type="text"   ng-model="t.desc" class="k-textbox input-sm full-width"    />-->
                                        </span> 
                                         <span ng-if="t.sims_value_type=='R'">{{t.sims_header_desc}} : 
                                         <!--<textarea id="Textarea2" class="k-textbox input-sm full-width" data-bind="wysihtml5: $data.ExampleText" rows="2" style="text-align: left;"></textarea>-->
                                            <span class="body" ng-bind-html="t.desc| html"> </span>
                                             
                                               </span>

                                          <div ng-if="t.sims_value_type=='C'">
                                            <!--<input id="Checkbox1" type="checkbox" value="1" ng-model="t.sims_comment_code_value">-->
                                            
                                            <label for="{{t.sims_comment_code}}">  <i class="fa fa-check-square" ng-if="t.sims_comment_code_value" aria-hidden="true"></i><i class="fa fa-square-o" ng-if="!t.sims_comment_code_value" aria-hidden="true"></i>&nbsp;&nbsp;{{t.sims_header_desc}}</label>
                                        </div>

                                         
                                       
                                            <!--<div class="radio"  ng-if="t.sims_value_type=='B'">
                                                <input id="Radio1" type="radio" ng-model="t.desc" name="{{info.sims_comment_code}}" value="1">
                                                <label for="{{t.sims_comment_code}}r"><b>{{t.sims_header_desc}}</b></label>

                                            </div>-->
                                      

                                     </td>
                                </tr>

                              
                              
                            </table>
                            </div>
</div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="assets/js/calender-datepicker-id.js"></script>

