﻿<script src="assets/plugins/fileSaver.js"></script>
<script src="assets/js/jszip.js"></script>
<script src="assets/js/xlsx.js"></script>
<script src="assets/js/xlsx-reader.js"></script>

<style>
    .panel-default > .panel-heading {
        background-color: #f9f9f9;
        border: 1px solid #eee;
    }

    .grade_section_container {
        display: none;
    }

    .checkbox label.full-width {
        width: calc(100% - 25px);
    }

    .subject_td {
        padding: 0px !important;
    }

    select {
        width: 298px;
    }

    table {
        width: 100%;
        margin-top: 5px;
        border: 1px solid black;
        border-collapse: collapse;
    }

    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
        text-align: left;
    }

    .inner-scroll {
        overflow: auto;
        max-height: 380px;
    }

    .default-div {
        background-color: lightgreen;
        padding: 5px;
    }

    .bluegreed {
        background: #d8ebf4 !important;
        padding-bottom: 6px !important;
        padding-top: 6px !important;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="row bluegreed">
                <div class="col-lg-2 col-md-12 col-sm-12 padding_none">
                </div>
                <div class="slot_options col-lg-12 col-md-12 col-sm-12 padding_none">
                    <select id="curr_select" data-role="dropdownlist" ng-model="cur_code" class="selectpicker input-sm" ng-change="getAcademicYear()" ng-options="curr.sims_cur_code as curr.sims_cur_short_name_en for curr in Allcurriculum"></select>
                    <select id="aca_select" data-role="dropdownlist" ng-model="aca_year" class="selectpicker input-sm" ng-change="academicYearChange()" ng-options="year.sims_academic_year as year.sims_academic_year_desc for year in AllAcademicYear"></select>
                    <button class="btn btn-primary btn-small" ng-click="getData(aca_year)">{{"Get Data"|translate}}</button>
                    <button class="btn btn-primary btn-small" ng-click="SaveData()" ng-show="hasChanged">{{"Save Data"|translate}}</button>
                    <button class="btn btn-primary btn-small" ng-click="SaveDataAttribute()" ng-show="hasChangedSubattr">{{"Save Data"|translate}}</button>
                </div>
            </div>
            <div class="row bluegreed" ng-show="showData">
                <div class="col-md-12">
                    <ul class="nav nav-pills" id="marksEntryTab">
                        <li class="p-l-0">
                            <span class="btn btn-primary btn-small active cursor-pointer" data-target="#marksEntry" ng-click="selectMarksEntryLevel($event)">{{"Marks Entry"|translate}}</span>
                        </li>
                        <li class="">
                            <span class="btn btn-default btn-small cursor-pointer" data-target="#coscholastic" ng-click="selectMarksEntryLevelNew($event)">{{"Co-scholastic Entry"|translate}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="grid-body no-border p-t-0" ng-show="showData" style="margin-top: 7px;">
                <div class="tab-content">
                    <div class="tab-pane active no-padding" id="marksEntry">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-3">
                                <label><i class="fa fa-sitemap"></i>&nbsp;{{"Grade"|translate}}</label>
                                <select data-role="dropdownlist" id="grade_select" ng-model="sims_grade" class="form-control input-sm" ng-change="getGradeSection()" ng-options="grade.sims_grade_code as grade.sims_grade_name_en for grade in AllGrades"></select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-3">
                                <label><i class="fa fa-align-justify"></i>&nbsp;{{"Section"|translate}}</label>
                                <select data-role="dropdownlist" id="section_select" ng-model="sims_section" class="form-control input-sm" ng-change="getSectionChange()" ng-options="section.sims_section_code as section.sims_section_name_en for section in AllSectionFromGrade"></select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-3">
                                <label><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Term"|translate}}</label>
                                <select data-role="dropdownlist" id="term_select" ng-model="sims_term" class="form-control input-sm" ng-change="getTermChange()" ng-options="term.sims_report_card_term_code as term.sims_report_card_term_desc for term in AllGradeMappedTerm"></select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-3">
                                <label><i class="fa fa-sitemap"></i>&nbsp;{{"Category"|translate}}</label>
                                <select data-role="dropdownlist" id="category_select" ng-model="sims_category" class="form-control input-sm" ng-change="getCategoryChange()" ng-options="category as category.category_name for category in AllMappedCategory"></select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-3">
                                <label><i class="fa fa-pencil"></i>&nbsp;{{"Assignment"|translate}}</label>
                                <select data-role="dropdownlist" id="assignment_select" ng-model="sims_assignment" class="form-control input-sm" ng-change="getAssignmentChange()" ng-options="assignment as assignment.assign_name for assignment in AllMappedAssignment"></select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-3">
                                <label><i class="fa fa-align-justify"></i>&nbsp;{{"Subject"|translate}}</label>
                                <select data-role="dropdownlist" id="subject_select" ng-model="sims_subject" class="form-control input-sm" ng-change="getSubjectChange()" ng-options="subject as subject.sims_subject_name_en for subject in AllMappedSubject"></select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-3">
                                <label><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Exam Marks for"|translate}}</label>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <input type="radio" ng-model="exam_marks" value="single">
                                    {{"Single"|translate}}
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6" ng-hide="true">
                                    <input type="radio" ng-model="exam_marks" value="all">
                                    {{"All"|translate}}
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-3" ng-show="showDisplayExam">
                                <label>{{"Display Grid as"|translate}}</label>
                                <div class="col-lg-4 col-md-4 col-sm-5">
                                    <input type="radio" ng-model="display_exam" value="exam" ng-checked="true">
                                    {{"Exam"|translate}}
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-7">
                                    <input type="radio" ng-model="display_exam" value="student" checked>
                                    {{"Student"|translate}}
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 pull-right" ng-show="teacherInfo">
                                <label class="marks-entry-filter-label m-t-5">{{"Subject Teacher: "|translate}}<span class="thick">{{sims_subject_teacher}}</span></label>
                                <label class="marks-entry-filter-label">{{"Exam Date:"|translate}}<span class="thick">{{sims_assignment.assign_start_date}}</span>&nbsp;&nbsp;{{"Last Date:"|translate}}<span class="thick">{{sims_assignment.assign_publish_date}}</span></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="pull-right">
                                <label>&nbsp;</label>
                                <button class="btn btn-success" id="Button1" type="button" ng-click="getSubjectConfigData()">{{"Get Marks"|translate}}</button>
                                <button class="btn btn-primary" id="btn_search" type="button" ng-click="exportdata()" ng-show="singleTable"><i class="fa fa-download"></i>&nbsp;{{"Download Excel "|translate}}</button>
                                <input type="file" id="file1" name="file" onchange="angular.element(this).scope().file_changed(this)"
                                    ng-files="getTheFiles($files)" accept="application/.xlsx" required style="float: initial; width: 120px; display: none" />
                                <a href="" class="btn btn-warning" type="button" ng-click="importdata()" ng-show="singleTable"
                                    onclick="document.getElementById('file1').click();">
                                    <i class="fa fa-file"></i>&nbsp;{{"Upload File"| translate }}</a>
                            </div>

                        </div>
                        <!--Regular Marks Entry Screen-->
                        <div class="inner-scroll scroll-bar" ng-if="show_marks_entry_screen=='A'">
                            <table ng-show="singleTable">
                                <thead>
                                    <tr>
                                        <th><i class="fa fa-sort-numeric-asc"></i>&nbsp;Sr. No</th>
                                        <th><i class="fa fa-sort-numeric-asc"></i>&nbsp;Enroll No</th>
                                        <th><i class="fa fa-user"></i>&nbsp;Student Name</th>
                                        <th><i class="fa fa-bookmark"></i>&nbsp;Status</th>
                                        <th><i class="fa fa-bookmark"></i>&nbsp;Total Percetage(100)</th>

                                        <th class="m-w-75">
                                            <i class="fa fa-sort-numeric-asc"></i>&nbsp;Marks Obtained<br />
                                            <!--(Max {{sims_assignment.assign_max_score}})-->

                                            <div class="col-md-12">
                                                <span>( Max
                                                </span>
                                                <span>
                                                    <!--{{data.sims_gb_cat_assign_max_point}}-->
                                                    <input style="width: 44px; border: none; padding-bottom: 11px !important;" class="" type="text" ng-model="sims_assignment.assign_max_score" value="{{sims_assignment.assign_max_score}}"
                                                        ng-disabled="sims_assignment.sims_allow_edit!='A'" ng-blur="changeMaxAssign(sims_assignment,'');">
                                                </span>)
                                            </div>
                                        </th>
                                        <th><i class="fa fa-sitemap"></i>&nbsp;Grade</th>
                                        <th ng-if="sims_assign_remark_visible=='A'"><i class="fa fa-pencil-square-o"></i>&nbsp;Remarks</th>
                                        <th><i class="fa fa-calendar"></i>&nbsp;Last Edited Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in AllTableData">
                                        <td>{{$index+1}}</td>
                                        <td>{{data.sims_enroll_number}}</td>
                                        <td>{{data.student_name}}</td>
                                        <td>
                                            <select data-role="dropdownlist" ng-model="data.sims_student_assign_exam_status" ng-change="EnDisMarks($index)" class="form-control input-sm" ng-options="status.status_code as status.status_desc for status in AllStatus" ng-disabled="sims_assignment.disflag"></select></td>
                                        <td>{{data.sims_total_marks_percentage}}</td>
                                        <td>
                                            <input class="m-w-75" type="number" ng-model="data.sims_student_assign_received_point" step="0.01" ng-blur="findGrade($index)" value="{{data.sims_student_assign_received_point}}" ng-disabled="data.sims_student_assign_exam_status != 'P'  || sims_category.category_score_type == 'G' || sims_assignment.disflag"></td>
                                        <td>
                                            <select data-role="dropdownlist" ng-model="data.sims_student_assign_final_grade" ng-blur="findMarks($index)" class="form-control input-sm" ng-options="scale.grade_code as scale.grade_name for scale in AllGradingScale" ng-disabled="data.sims_student_assign_exam_status != 'P' || sims_category.category_score_type == 'M' || sims_assignment.disflag"></select></td>
                                        <td ng-if="sims_assign_remark_visible=='A'">
                                            <input class="remark-input" type="text" ng-model="data.sims_student_assign_comment" value="{{data.sims_student_assign_comment}}" ng-disabled="sims_assignment.disflag" ng-change="enableIsDirty($index)"></td>
                                        <td>{{data.sims_student_assign_completed_date}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--Regular Marks ENtry Ends Here-->
                        <!--Subject Attribute Marks Entry-->
                        <div class="inner-scroll scroll-bar" ng-if="show_marks_entry_screen!='A'">
                            <table ng-show="singleTable">
                                <thead>
                                    <tr>
                                        <th rowspan="2"><i class="fa fa-sort-numeric-asc"></i>&nbsp;Sr. No</th>
                                        <th rowspan="2"><i class="fa fa-sort-numeric-asc"></i>&nbsp;Enroll No</th>
                                        <th rowspan="2"><i class="fa fa-user"></i>&nbsp;Student Name</th>
                                        <th rowspan="2"><i class="fa fa-bookmark"></i>&nbsp;Status</th>
                                        <th colspan="{{AllsubjectAttributedata[0].stud_attr.length}}" style="text-align: center;"><i class="fa fa-sitemap"></i>&nbsp;Strand</th>
                                        <th rowspan="2" ng-if="sims_assign_remark_visible=='A'"><i class="fa fa-pencil-square-o"></i>&nbsp;Remarks</th>
                                        <th rowspan="2"><i class="fa fa-calendar"></i>&nbsp;Last Edited Date</th>
                                    </tr>
                                    <tr>
                                        <th ng-repeat="data in AllsubjectAttributedata[0].stud_attr" style="text-align: center;">{{data.sims_attribute_name}} 
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                ( Max
                                            </div>
                                            <div class="col-md-5">
                                                <!--{{data.sims_gb_cat_assign_max_point}}-->
                                                <input style="width: 44px; border: none; padding-bottom: 11px !important;" class="" type="text" ng-model="data.sims_gb_cat_assign_max_point" value="{{subdata.sims_gb_cat_assign_max_point}}"
                                                    ng-disabled="data.sims_allow_edit" ng-blur="changeMaxAssignAttr(data,data.sims_gb_cat_assign_max_point);">
                                            </div>
                                            <div class="col-md-1">
                                                )
                                            </div>
                                        </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in AllsubjectAttributedata">
                                        <td>{{$index+1}}</td>
                                        <td>{{data.sims_enroll_number}}</td>
                                        <td>{{data.student_name}}</td>
                                        <td>
                                            <select data-role="dropdownlist" ng-model="data.sims_student_assign_exam_status" ng-change="EnDisMarks_subattr($index)" class="form-control input-sm" ng-options="status.status_code as status.status_desc for status in AllStatus" ng-disabled="sims_assignment.disflag"></select></td>

                                        <td ng-repeat="subdata in data.stud_attr" style="text-align: center !important;">
                                            <input type="text" style="width: 35%;" ng-model="subdata.sims_student_assign_received_point" ng-blur="Subattcheck(subdata,subdata.sims_student_assign_received_point);">
                                        </td>
                                        <td ng-if="sims_assign_remark_visible=='A'">
                                            <input class="remark-input" type="text" ng-model="data.sims_student_assign_comment" value="{{subdata.sims_student_assign_comment}}" ng-disabled="sims_assignment.disflag" ng-change="enableIsDirty($index)" ng-blur="SubattcheckCom(data,subdata.sims_student_assign_received_point);"></td>
                                        <td>{{data.sims_student_assign_completed_date}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--Subject Attribute Marks Entry End-->

                        <div ng-show="singleTable" class="row default-div">
                            <div id="defaultTab" class="col-lg-3 col-md-3 col-sm-3">
                                <label class="col-lg-2 col-md-2 col-sm-2 pull-left">{{"Default"|translate}}</label>
                                <select class="col-lg-5 col-md-5 col-sm-5" data-role="dropdownlist" ng-model="student_final_grade" ng-blur="findCommonMarks()" class="form-control input-sm" ng-options="scale.grade_code as scale.grade_name for scale in AllGradingScale" ng-disabled="sims_category.category_score_type == 'M' || sims_assignment.disflag"></select>
                                <input class="col-lg-4 col-md-4 col-sm-4 m-w-75 pull-right" type="number" ng-model="student_received_point" step="0.01" ng-blur="findCommonGrade()" ng-disabled="sims_category.category_score_type == 'G' || sims_assignment.disflag">
                            </div>
                            <div id="commentTab" class="col-lg-4 col-md-4 col-sm-4">
                                <label class="col-lg-2 col-md-2 col-sm-2">{{"Comment"|translate}}</label>
                                <input class="col-lg-9 col-md-9 col-sm-9" type="text" ng-model="student_comment" ng-disabled="sims_assignment.disflag">
                            </div>
                            <div id="OverwriteTab" class="col-lg-2 col-md-2 col-sm-2">
                                <input class="col-lg-2 col-md-2 col-sm-2 m-t-7" type="checkbox" ng-model="overwriteExisting" id="overwriteExisting" ng-disabled="sims_assignment.disflag">
                                <label class="col-lg-10 col-md-10 col-sm-10" for="overwriteExisting">{{"Overwrite Existing"|translate}}</label>
                            </div>
                            <div id="ApplyButton" class="col-lg-1 col-md-1 col-sm-1">
                                <button class="btn btn-success btn-small" id="btn_apply" type="button" ng-click="ApplyToAll()">{{"Apply"|translate}}</button>
                            </div>
                            <div id="DefaultTab" class="col-lg-1 col-md-1 col-sm-1 pull-right">
                                <button class="btn btn-success btn-small" id="btn_reset" type="button" ng-click="ResetAll()">{{"Reset"|translate}}</button>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane no-padding" id="coscholastic">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-3">
                                <label><i class="fa fa-sitemap"></i>&nbsp;{{"Grade"|translate}}</label>
                                <select data-role="dropdownlist" id="grade_select1" ng-model="sims_grade_new" class="form-control input-sm" ng-change="getGradeSectionNew()" ng-options="grade.sims_grade_code as grade.sims_grade_name_en for grade in AllGrades">
                                    <option selected value="">Please Select grade</option>

                                </select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-3">
                                <label><i class="fa fa-align-justify"></i>&nbsp;{{"Section"|translate}}</label>
                                <select data-role="dropdownlist" id="section_select1" ng-model="sims_section_new" class="form-control input-sm" ng-change="getSectionChangenew()" ng-options="section.sims_section_code as section.sims_section_name_en for section in AllSectionFromGrade_new">
                                    <option selected value="">Please Select Section</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-3">
                                <label><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Term /Cycle"|translate}}</label>
                                <select data-role="dropdownlist" id="term_select1" ng-model="sims_term" class="form-control input-sm" ng-change="getTermChangeNew()" ng-options="term as term.sims_report_card_assign_desc for term in AllGradeMappedTerm"></select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-3">
                                <label><i class="fa fa-sitemap"></i>&nbsp;{{"Group"|translate}}</label>
                                <select data-role="dropdownlist" id="category_select1" ng-model="sims_group" class="form-control input-sm" ng-change="getGroupChangeNew()" ng-options="category.sims_co_scholastic_group_code as category.sims_co_scholastic_group_name for category in AllMappedGroup">
                                    <option selected value="">Please Select Group</option>

                                </select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-3">
                                <label><i class="fa fa-pencil"></i>&nbsp;{{"Attribute"|translate}}</label>
                                <select data-role="dropdownlist" id="assignment_select1" ng-model="sims_assignment" class="form-control input-sm" ng-change="getAttributeChange()" ng-options="assignment.sims_co_scholastic_attribute_master_code as assignment.sims_co_scholastic_attribute_name for assignment in AllMappedAttribute">
                                    <option selected value="">Please Select Attribute</option>

                                </select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-3">
                                <label><i class="fa fa-align-justify"></i>&nbsp;{{"Co-Scholastics Indicator"|translate}}</label>
                                <select data-role="dropdownlist" id="indicator_select" ng-model="sims_indicator" class="form-control input-sm" ng-change="getIndicatorChange()" ng-options="indicator.sims_co_scholastic_descriptive_indicator_master_code as indicator.sims_co_scholastic_descriptive_indicator_name for indicator in AllMappedIndicators">
                                    <option selected value="">Please Select Indicator</option>

                                </select>
                            </div>
                           
                        </div>
                        <div  class="row">
                              

                             <div class="col-lg-12 col-md-12 col-sm-12 ">
                                <div class="pull-right">
                                <button class="btn btn-success btn-small" id="btn_search1" type="button" ng-click="getCoscholasticsDataNew()">{{"Get Entries"|translate}}</button>
                                <button class="btn btn-success btn-small" style="margin-left:10px" id="Button2" type="button" ng-click="Save_coscholastic()">{{"Save"|translate}}</button>
                            
                                  </div>
                             </div>

                         

                        </div>

                        <div class="inner-scroll scroll-bar">

                            <table id="fixTable" class="table table-bordered table-hover table-condensed" aria-describedby="example2_info" ng-show="ScholasticTable">
                                <thead role="alert" aria-live="polite" aria-relevant="all">
                                    <tr>
                                        <!--  <td style="width: 60px;">
                                            <div class="fa fa-bars fa-2x" ng-click="condenseMenu1();"></div>
                                        </td>
                                        <td style="width: 130px;">
                                            <input placeholder="Search:Enroll/Name" class="form-control input-sm" ng-model="searchText9.$" style="width:150px;height:32px" />
                                        </td>-->
                                        <td class="semi-bold" style="text-align: center; color: red; background-color: white" ng-attr-colspan="{{count+2}}">
                                            <span style="color: #090101" class="semi-bold">{{"Co-scholastic Name"|translate}}:</span>&nbsp;{{AllGradeBookassignment[0].sims_co_scholastic_group_name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="semi-bold" style="color: #090101">{{"Subject Name"|translate}}:</span>&nbsp; {{AllGradeBookassignment[0].sims_subject_name}}

                                        </td>

                                    </tr>
                                    <tr>
                                        <td style="background-color: white">&nbsp;</td>
                                        <td style="background-color: white">&nbsp;</td>
                                        <td class="semi-bold" style="text-align: center; color: green; background-color: white" ng-repeat="cat in categories" ng-attr-colspan="{{cat.count1}}">{{cat.sims_co_scholastic_attribute_name}}</td>
                                    </tr>
                                    <tr>
                                        <td class="semi-bold" ng-click="sortBy('stud_Enroll')" style="background-color: white">
                                            <label style="width: 60px;"><strong>{{"ENROLL"|translate}}</strong></label></td>
                                        <td class="semi-bold" ng-click="sortBy('stud_Full_Name')" style="background-color: white"><strong>{{"NAME"|translate}} </strong>
                                            <span class="sortorder" ng-show="propertyName === 'stud_Full_Name'" ng-class="{reverse: reverse}"></span>
                                        </td>
                                        <td class="semi-bold" ng-repeat="assign in Assignment" style="background-color: white">
                                            <label style="width: 130px; word-wrap: break-word"><strong>{{assign.sims_co_scholastic_descriptive_indicator_name}} </strong></label>
                                            <label><span ng-if="assign.sims_co_scholastic_descriptive_indicator_type=='1'">(Max:{{assign.sims_co_scholastic_descriptive_indicator_mark}})</span></label> 
                                        </td>
                                    </tr>

                                   
                                </thead>
                                <tbody>
                                    <tr ng-repeat="stud in  student_assign |filter:searchText9:strict| orderBy:propertyName:reverse">
                                        <td style="">{{stud.stud_Enroll}}</td>
                                        <td style="">{{stud.stud_Full_Name}}</td>
                                        <td ng-repeat="assign_new in stud.indicators" style="text-align: center">

                                            <input ng-if="assign_new.sims_co_scholastic_descriptive_indicator_type=='1'" style="width:100%" type="text"  ng-model="assign_new.sims_report_card_co_scholastic_grade_point" step="0.01" ng-blur="mark_change(assign_new)" >
                                            <select  ng-if="assign_new.sims_co_scholastic_descriptive_indicator_type=='2'" ng-model="assign_new.sims_co_scholastic_discriptive_indicator_grade_code"  style="width:100%" class="form-control" ng-blur="grade_change(assign_new)" >
                                                <option  value=""> </option>
                                                
                                                <option ng-repeat="x in assign_new.grade_scale_lst" value="{{x.sims_co_scholastic_grade_code}}">{{x.sims_co_scholastic_grade_name}} - {{x.sims_co_scholastic_grade_description}}</option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <!--<table ng-show="ScholasticTable">
                                <thead>
                                    <tr>
                                        <th><i class="fa fa-sort-numeric-asc"></i>&nbsp;Sr. No</th>
                                        <th><i class="fa fa-sort-numeric-asc"></i>&nbsp;Enroll No</th>
                                        <th><i class="fa fa-user"></i>&nbsp;Student Name</th>
                                        <th ng-show="sims_indicator.score_type == 'P'"><i class="fa fa-sort-numeric-asc"></i>&nbsp;Marks Obtained</th>
                                        <th ng-show="sims_indicator.score_type == 'G'"><i class="fa fa-pencil"></i>&nbsp;Grading Comment</th>
                                        <th><i class="fa fa-bookmark"></i>&nbsp;Status</th>
                                        <th><i class="fa fa-calendar"></i>&nbsp;Last Edited Date</th>
                                        <th><i class="fa fa-bookmark-o"></i>&nbsp;Remarks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in AllCoScholasticTableData">
                                        <td>{{$index+1}}</td>
                                        <td>{{data.sims_enroll_number}}</td>
                                        <td>{{data.student_name}}</td>
                                        <td ng-show="sims_indicator.score_type == 'P'"><input class="m-w-75" type="number" ng-model="data.sims_report_card_co_scholastic_grade_point" step="0.01" value="{{data.sims_report_card_co_scholastic_grade_point}}" ng-blur="checkValid($index)" ng-disabled="data.sims_student_assign_status != 'P' || sims_assignment.disflag"></td>
                                        <td ng-show="sims_indicator.score_type == 'G'"><select data-role="dropdownlist" ng-model="data.sims_co_scholastic_discriptive_indicator_grade_code" class="form-control input-sm" ng-options="scale.sims_co_scholastic_grade_code as scale.sims_co_scholastic_grade_description for scale in AllCoscholasticGradingScale" ng-change="enableIsDirty($index)" ng-disabled="data.sims_student_assign_status != 'P' || sims_assignment.disflag"></select></td>
                                        <td><select data-role="dropdownlist" ng-model="data.sims_student_assign_status" class="form-control input-sm" ng-options="status.status_code as status.status_desc for status in AllStatus" ng-change="EnDisMarks($index)" ng-disabled="sims_assignment.disflag"></select></td>
                                        <td>{{data.sims_student_assign_completed_date}}</td>
                                        <td><input class="remark-input" type="text" ng-model="data.sims_student_assign_comment" value="{{data.sims_student_assign_comment}}" ng-change="enableIsDirty($index)" ng-disabled="data.sims_student_assign_status != 'P' || sims_assignment.disflag"></td>
                                     </tr>
                                </tbody>
                            </table>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="assets/js/calender-datepicker-id.js"></script>
    <script>
        $('#marksEntryTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    </script>
