﻿<div class="row">
    <div class="row" ng-show="notshow">
        <div class="col-xs-4">
            <div class="well" class="form-group">
                <div class="form-group">
                    <label>Current Page:</label>
                    <input placeholder="page"
                           class="form-control"
                           ng-model="currentPage"
                           ng-init="currentPage = 1" />
                </div>
                <div class="form-group">
                    <label>Page Size:</label>
                    <input placeholder="Page Size"
                           class="form-control"
                           ng-model="numPerPage" />
                </div>
                <div class="form-group">
                    <label>Total Items:</label>
                    <input placeholder="Total"
                           class="form-control"
                           ng-model="pagersize" />
                </div>
                <hr />
                <div class="form-group">
                    <label>Dots Display:</label>
                    <input placeholder="..."
                           class="form-control"
                           maxlength="3"
                           ng-model="dots"
                           ng-init="dots = '...'" />
                </div>

                <hr />
                <div class="form-group">
                    <label>UL Class:</label>
                    <input placeholder="pagination"
                           class="form-control"
                           maxlength="100"
                           ng-model="ulClass" />
                </div>
                <div class="form-group">
                    <label>Active Class:</label>
                    <input placeholder="active"
                           class="form-control"
                           maxlength="100"
                           ng-model="activeClass"
                           ng-init="activeClass = 'active'" />
                </div>
                <div class="form-group">
                    <label>Disabled Class:</label>
                    <input placeholder="disabled"
                           class="form-control"
                           maxlength="100"
                           ng-model="disabledClass"
                           ng-init="disabledClass = 'disabled'" />
                </div>
                <br />
                <table class="table">

                    <tr>
                        <td>
                            <label>Show Prev Next:</label>
                        </td>
                        <td>
                            <input type="checkbox"
                                   ng-model="showPrevNext"
                                   ng-init="showPrevNext = true" />
                            {{showPrevNext}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Show First Last:</label>
                        </td>
                        <td>
                            <input type="checkbox"
                                   ng-model="showFirstLast"
                                   ng-init="showFirstLast = true" />
                            {{showPrevNext}}
                        </td>
                    </tr>
                </table>
                <hr />
                <span class="btn btn-default" onclick="location.reload()">
                    <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                </span>
                <span class="btn btn-success" ng-click="currentPage = 0">
                    Apply Settings
                </span>
                <br />
                <br />
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Report Card Attendance"|translate}}</span></h3>
            </div>
            <div class="grid-body no-border">
                <div ng-show="display">
                    <form name="Myform" ng-submit="Preview(Myform.$valid)" novalidate="novalidate">
                        <div class="row">

                            <div class="col-md-3" ng-class="{'has-error': !Myform.house_cur.$valid && (Myform.house_cur.$touched || Myform.$submitted) }">
                                <label class="right inline">{{"Curriculum"|translate}}  </label>
                                <!--<label ng-show="label" style="background-color:#edeaea" class="form-control input-sm">{{edt.sims_house_code}}</label>-->
                                <select name="house_cur" id="cmb_admission_curriculum" ng-model="edt.sims_cur_code" class="form-control input-sm full-width" ng-change="getacademicYear(edt.sims_cur_code)"
                                        ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in Curriculum" required>
                                    <option selected disabled value="">Please Select</option>
                                </select>
                                <p class="help-block" ng-show="Myform.house_cur.$error.required &&  (Myform.house_cur.$touched || Myform.$submitted)">
                                    Please select curriculum
                                </p>
                            </div>

                            <div class="col-md-3" ng-class="{'has-error': !Myform.cmb_academic_year.$valid && (Myform.cmb_academic_year.$touched || Myform.$submitted) }">
                                <label>{{"Academic Year"|translate}} </label>
                                <!--<label ng-show="label" style="background-color:#edeaea" class="form-control input-sm">{{edt.sims_house_code}}</label>-->
                                <select name="cmb_academic_year" id="cmb_academic_year" ng-model="edt.sims_academic_year" class="form-control input-sm full-width" ng-change="getGrade(edt.sims_cur_code,edt.sims_academic_year);Getterm1();"
                                        ng-options="year.sims_academic_year as year.sims_academic_year_desc for year in AcademicYear" required>
                                    <option selected disabled value="">Please Select</option>
                                </select>
                                <p class="help-block" ng-show="Myform.cmb_academic_year.$error.required &&  (Myform.cmb_academic_year.$touched || Myform.$submitted)">
                                    Please select academic year
                                </p>
                            </div>

                            <div class="col-md-3" ng-class="{'has-error': !Myform.cmb_grade_code.$valid && (Myform.cmb_grade_code.$touched || Myform.$submitted) }">
                                <label> {{"Grade"|translate}} </label>
                                <select name="cmb_grade_code" id="cmb_grade_code" ng-model="edt.sims_grade_code" class="form-control input-sm full-width" ng-change="getsection(edt.sims_cur_code,edt.sims_grade_code,edt.sims_academic_year)"
                                        required>
                                    <option selected disabled value="">Please Select</option>
                                    <option ng-repeat="grade in AllGrades" ng-selected="edt.sims_grade_code == grade.sims_grade_code" value="{{grade.sims_grade_code}}">{{ grade.sims_grade_name }}</option>
                                </select>
                                <p class="help-block" ng-show="Myform.cmb_grade_code.$error.required &&  (Myform.cmb_grade_code.$touched || Myform.$submitted)">
                                    Please select grade
                                </p>
                            </div>

                            <div class="col-md-3">
                                <label> {{"Section"|translate}} </label>
                                <select id="section_code" name="cmb_section_code" class="full-width" multiple="multiple" ng-model="edt.sims_section_code">
                                    <option ng-repeat="section in getSectionFromGrade" value="{{section.sims_section_code}}">&nbsp;{{section.sims_section_name}}</option>
                                </select>
                                
                                <div  ng-if="showSectionMsg" style="color: #a94442;">
                                    Please select section
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top">
                            <div class="col-md-3" ng-class="{'has-error': !Myform.cmb_term_code.$valid && (Myform.cmb_term_code.$touched || Myform.$submitted) }">
                                <label>  {{"Term"|translate}}</label>
                                <select name="cmb_term_code" id="cmb_term_code" ng-model="edt.sims_term_code" class="form-control input-sm full-width" required ng-change="setTermDate(edt.sims_term_code);">
                                    <option selected disabled value="">Please Select</option>
                                    <option ng-repeat="term in Termsobject" ng-selected="edt.sims_term_code == term.sims_term_code" value="{{term.sims_term_code}}">{{term.sims_term_desc_en}}</option>
                                </select>
                                <p class="help-block" ng-show="Myform.cmb_term_code.$error.required &&  (Myform.cmb_term_code.$touched || Myform.$submitted)">
                                    Please select Term
                                </p>
                            </div>
                            <div class="col-md-3">
                                <label for="birthStartDate">{{"Start Date" | translate }}</label>
                                <input type="text" id="birth_from_date" placeholder="Select Date" name="birth_date" class="k-textbox input-sm full-width" ng-model="edt.termStartDate">
                            </div>
                            <div class="col-md-3">
                                <label for="birthEndDate">{{"End Date" | translate }}</label>
                                <input type="text" id="birth_end_date" placeholder="Select Date" name="birth_date" class="k-textbox input-sm full-width" ng-model="edt.termEndDate">

                            </div>
                            <div class="col-md-3">
                                <label>{{"Enroll No" | translate }}</label>
                                <input type="text" aria-controls="example" placeholder="Enroll No" ng-model="edt.sims_enrollment_number" class="k-textbox input-sm full-width">
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="form-actions">
                                <div class="pull-right">
                                    <!--<button class="btn btn-primary btn-cons" type="submit" ng-click="New()"><i class="icon-ok"></i>New</button>-->
                                    <button class="btn btn-primary btn-cons btn-small" type="submit">{{"Preview"|translate}}</button>
                                    <button class="btn btn-primary btn-cons btn-small" type="button" ng-click="Save(Myform.$valid)" ng-disabled="disabledGenerate">{{"Finalize"|translate}}</button>
                                    <button class="btn btn-warning btn-cons btn-small" type="button" ng-click="reset()">{{"Reset"|translate}}</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>

                <!--Table/Grid-->

                <div ng-show="grid">
                    <div class="row form-row">
                        <div class="col-md-6">
                            <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                <option value="5" class="form-control input-sm">
                                    5
                                </option>

                                <option value="10" class="form-control input-sm">
                                    10
                                </option>

                                <option value="15" class="form-control input-sm">
                                    15
                                </option>
                                <option value="All" class="form-control input-sm">
                                    All
                                </option>
                            </select>
                            <!--&nbsp;
                            <button class="btn btn-success" style="height: 35px" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"|translate}}</button>
                            &nbsp;
                            <button class="btn btn-white" style="height: 35px" type="button" ng-click="Delete()"><span class="semi-bold"></span>{{"Delete"|translate}}</button>-->
                        </div>

                        <div class="col-md-6">
                            <div class="pull-right">
                                <div class="dataTables_filter" id="example_filter">
                                    <!--<label>
                                        Search &nbsp;
                                        <input type="text" aria-controls="example" placeholder="En Roll No / Stud Name" ng-model="searchText" class="k-textbox input-sm" ng-change="search()">
                                    </label>-->

                                    <span class="k-textbox k-space-right full-width">
                                        <input type="text" aria-controls="example" ng-model="searchText" placeholder="En Roll No / Stud Name" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                                        <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <div style="width: 100%; height: 330px; overflow-x: auto; overflow-y: auto">
                            <table class="table table-bordered table-condensed" id="example">
                                <thead>
                                    <tr style="height:20px">
                                        <th class="semi-bold" ng-repeat="head in reportHeadig">{{head.heading | translate}}</th>
                                    </tr>
                                </thead>
                                <tr ng-repeat="(key,value) in filteredTodos">
                                    <td ng-repeat="head in reportHeadig">{{value[head.heading]}}</td>
                                </tr>
                            </table>
                        </div>

                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                ng-click="index(currentPage)">
                        </paging>
                    </div>
                </div>

                <!--End Table/Grid-->
            </div>
        </div>
    </div>
</div>







<script src="assets/js/calender-datepicker-id.js"></script>

