﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                class="k-textbox"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                class="k-textbox"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                class="k-textbox"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                class="k-textbox"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                class="k-textbox"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                class="k-textbox"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                class="k-textbox"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        class="k-checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        class="k-checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="page-title">
                <h3><span class="semi-bold">{{"Report"|translate}}</span>&nbsp;{{"Card Upload"|translate}}</h3>
            </div>

            <div class="grid-title no-border">
            </div>
            <div class="grid-body no-border" ng-show="display">
                <form name="MyForm" ng-submit="Save(MyForm.$valid)" novalidate="novalidate">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="row form-row">

                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Curriculum"|translate}}<span style="color: red; font-size: 18px">*</span></label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" id="Text1" ng-model="temp.sims_subject_name_en" class="k-textbox input-sm" style="width: 100%;" name="Assigntitle" ng-disabled="hide_item" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Academic Year"|translate}}<span style="color: red; font-size: 18px">*</span></label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" id="Text2" ng-model="temp.sims_academic_year_desc" class="k-textbox input-sm" style="width: 100%;" name="Assigntitle" ng-disabled="hide_item" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Grade"|translate}}<span style="color: red; font-size: 18px">*</span></label>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <input type="text" id="Text3" ng-model="temp.sims_grade_name" class="k-textbox input-sm" style="width: 100%;" name="Assigntitle" ng-disabled="hide_item" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Section"|translate}}<span style="color: red; font-size: 18px">*</span></label>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <input type="text" id="Text4" ng-model="temp.sims_section_name" class="k-textbox input-sm" style="width: 100%;" name="Assigntitle" ng-disabled="hide_item" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4" ng-class="{'has-error': !MyForm.Assigntitle.$valid && (MyForm.Assigntitle.$touched || MyForm.$submitted) }">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Student Name"|translate}}<span style="color: red; font-size: 18px">*</span></label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" id="title_text" ng-model="temp.sims_student_passport_first_name_en" class="k-textbox input-sm" style="width: 100%;" name="Assigntitle" ng-disabled="hide_item" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">

                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>Report Card Level</label>
                                        </div>
                                        <div class="col-md-12">
                                            <select id="cmd_reportlevel" style="width: 100%" data-role="dropdownlist" class="form-control" ng-model="emp.sims_assignment_term_code" ng-change="getreportcode()"
                                                ng-options="cd.sims_assignment_term_code as cd.sims_assignment_title for cd in Reportlevel">
                                                <option value="" selected disabled>Please Select</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>Report Card Code</label>
                                        </div>
                                        <div class="col-md-12">
                                            <select id="Select3" style="width: 100%" data-role="dropdownlist" class="form-control" ng-model="emp.sims_gb_cat_code" ng-change="getreportcode()"
                                                ng-options="c9.sims_gb_cat_code as c9.sims_gb_number for c9 in Reportcode">
                                                <option value="" selected disabled>Please Select</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <label id="Label1" for="txt_full_name" class="form-label">{{"Status"| translate }}</label>
                                    <div class="checkbox check-success">
                                        <input id="chk_term3" type="checkbox" ng-model="edt.sims_assignment_status" ng-checked="true">
                                        <label for="chk_term3"></label>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>
                                                {{ "File Upload" |  translate }}
                                                                     <span style="font-size: 10px; color: red">{{ "(Maximum file size 2 MB)" }}</span></label>
                                        </div>
                                        <div class="col-md-12">

                                            <input type="file" id="file1" name="file" onchange="angular.element(this).scope().file_changed(this)"
                                                ng-files="getTheFiles($files)" style="float: initial; width: 120px; display: none" />
                                            <a href="" class="label label-important " type="button" onclick="document.getElementById('file1').click();">
                                                <i class="fa fa-cloud-upload"></i>Upload
                                            </a>
                                            <img src="assets/images/loading.gif" width="25px" height="25px" ng-hide="uploading_doc1" />

                                        </div>

                                    </div>
                                </div>

                                <!--                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>&nbsp;</label>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="pull-right">
                                                <button class="btn btn-primary" type="button" style="height: 33px" ng-click="SearchStudentWindow();">{{"Save"|translate}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->

                            </div>
                        </div>

                        <div class="col-md-12">
                            <hr style="height: 2px; border: none; color: #6f7b8a; background-color: #6f7b8a;">
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-12">
                                    <br />
                                    <div style="width: 100%; height: 180px; overflow-x: scroll; overflow-y: scroll">
                                        <table class="table  table-hover table-bordered table-condensed" aria-describedby="example2_info" id="fixTable1">
                                            <thead>
                                                <tr>
                                                    <th>{{"Sr.No."| translate}}</th>
                                                    <th>{{"Attachment"| translate}}</th>
                                                    <th>{{"View"| translate}}</th>
                                                    <th>{{"Replace"| translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                            <tr ng-repeat="roll in file_doc">

                                                <td>{{roll.sims_doc_line}}</td>
                                                <td>{{roll.sims508_doc_name}}</td>
                                                <td><a href="" class="label label-success " type="button" ng-click="downloaddoc1(roll.sims508_doc)">View</a></td>
                                                <td><a href="" class="label label-important" ng-click="deletedoc(roll)"><i class="fa fa-times"></i>Delete</a></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!--<div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-12" ng-show="enrollno">
                                    <div style="width: 100%; height: 250px; overflow-x: auto; overflow-y: auto">
                                        <table class="table table-bordered table-condensed" id="Table1">
                                            <thead>
                                                <tr style="background-color: #edefef">
                                                    <th>{{"ENROLL NUMBER"| translate}}</th>
                                                    <th>{{"STUDENT NAME"| translate}}</th>
                                                    <th>{{"REMOVE"| translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                            <tr ng-repeat="roll in student track by $index">

                                                <td>{{roll.sims_student_enroll_number}}</td>
                                                <td>{{roll.sims_student_passport_first_name_en}}</td>
                                                <td><span class="semi-bold"><a href="" ng-click="RemoveEnrollMentNo($event,$index,student)">X</a></span>  </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>-->

                    </div>

                    <div class="form-actions">
                        <div class="pull-right">
                            <!-- <button class="btn btn-primary" type="button" ng-click="saveUploadedFiles(MyForm.$valid)" ng-show="save1">{{"Save"|translate}}</button>-->
                            <button class="btn btn-primary" type="button" ng-click="Update()" ng-show="update1">{{"Update"|translate}}</button>
                            <button class="btn btn-warning" type="button" ng-click="cancel()">{{"Cancel"|translate}}</button>
                        </div>
                    </div>

                </form>
            </div>

            <div class="grid-body no-border" ng-show="grid">

                <div class="row">
                    <div class="col-md-12">
                        <div class="row form-row">

                            <div class="col-md-2">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label>{{"Curriculum"|translate}}<span style="color: red; font-size: 18px">*</span></label>
                                    </div>
                                    <div class="col-md-12">
                                        <select id="Select1" style="width: 100%" data-role="dropdownlist" class="form-control" ng-model="edt.sims_cur_code" ng-change="getacyr(edt.sims_cur_code)"
                                            ng-options="c.sims_cur_code as c.sims_cur_short_name_en for c in curriculum">
                                            <option value="" selected disabled>Please Select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label>{{"Academic Year"|translate}}<span style="color: red; font-size: 18px">*</span></label>
                                    </div>
                                    <div class="col-md-12">
                                        <select id="Select5" style="width: 100%" data-role="dropdownlist" class="form-control" ng-model="edt.sims_academic_year" ng-change="getGrade(edt.sims_academic_year)"
                                            ng-options="a.sims_academic_year as a.sims_academic_year_desc for a in Academic_year">
                                            <option value="" selected disabled>Please Select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label>{{"Grade"|translate}}<span style="color: red; font-size: 18px">*</span></label>
                                    </div>
                                    <div class="col-md-12">

                                        <div class="col-md-12">
                                            <select id="cmb_grade" name="Grade" data-role="dropdownlist" multiple="multiple" required style="margin-bottom: 0px; color: black" ng-model="edt.sims_grade_code" ng-change="select_grd_mult()">
                                                <option ng-repeat="i in GradeByUsername"
                                                    value="{{i.sims_grade_code}}">{{i.sims_grade_name}}
                                                </option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label>{{"Section"|translate}}<span style="color: red; font-size: 18px">*</span></label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <select id="cmb_section" name="Section" data-role="dropdownlist" multiple="multiple" required style="margin-bottom: 0px; color: black" ng-model="edt.sims_section_code" ng-change="select_sec_mult()">
                                                <option ng-repeat="i in getSectionByUserGrade"
                                                    value="{{i.sims_section_code}}">{{i.sims_section_name}}
                                                </option>
                                            </select>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label>&nbsp;&nbsp;</label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <button class="btn btn-success" style="height: 35px" type="button" ng-click="Show_Data()">{{"Search"|translate}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!--<div class="row form-row">
                    <div class="col-md-12">
                        
                        &nbsp;
                        &nbsp;
                        <select id="Select2" style="width: 60px" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                            <option value="10" class=" form-control input-sm">10
                            </option>

                            <option value="20" class=" form-control input-sm">20
                            </option>

                            <option value="All" class="form-control input-sm">All
                            </option>
                        </select>

                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                                <label>
                                    {{"Search"|translate}}  &nbsp;
                                    <input type="text" aria-controls="example" ng-model="searchText" class="k-textbox" ng-change="search()">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>-->

                <div class="row">
                    <div class="col-md-6">
                        <select id="Select2" style="width: 65px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="10" class=" form-control input-sm">10
                            </option>

                            <option value="20" class=" form-control input-sm">20
                            </option>

                            <option value="All" class="form-control input-sm">All
                            </option>
                        </select>
                        &nbsp;
                        <button class="btn btn-danger btn-small" type="button" ng-click="deleterecord()"><span class="semi-bold"></span>{{"Delete"| translate}}</button>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" placeholder="Type/Description" ng-model="searchText" class="k-textbox input-sm full-width" ng-change="search()">
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <br />
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div style="width: 100%; height: 300px; overflow-x: auto; overflow-y: auto">
                        <table class="table table-bordered table-hover table-condensed" id="fixTable">
                            <thead>
                                <tr>
                                    <th class="small-cell v-align-middle" style="vertical-align: middle; height: 20px">
                                        <div class="checkbox check-success" style="vertical-align: middle; height: 20px">
                                            <input type="checkbox" name="check" class="k-checkbox" value="1" id="mainchk" ng-click="CheckAllChecked();" class="checkall">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>
                                    <th class="semi-bold" style="text-align: left; vertical-align: middle">{{"Enroll Number"|translate}}  </th>
                                    <th class="semi-bold" style="text-align: left; vertical-align: middle">{{"Student Name"|translate}}  </th>
                                    <th class="semi-bold" style="text-align: left; vertical-align: middle">{{"Grade"|translate}}</th>
                                    <th class="semi-bold" style="text-align: left; vertical-align: middle">{{"Section Title"|translate}}</th>
                                    <th class="semi-bold" style="text-align: left; vertical-align: middle">{{"Report Card"|translate}}</th>
                                    <th class="semi-bold" style="text-align: left; vertical-align: middle">{{"View Report"|translate}}</th>
                                    <!--<th class="semi-bold" style="text-align: left; vertical-align: middle">{{"Submission Date"|translate}}</th>
                                    <th class="semi-bold" style="text-align: left; vertical-align: middle">{{"Freeze Date"|translate}}</th>-->
                                    <th class="semi-bold small-cell" style="vertical-align: middle; text-align: center; width: 10%"><i class="fa fa-cogs"></i></th>
                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <tr ng-repeat="objs in filteredTodos" class="row1">
                                    <td>
                                        <div class="checkbox check-success" style="height: 20px">
                                            <input type="checkbox" class="k-checkbox" name="check" value="1" id="{{objs.sims_student_enroll_number+$index}}" ng-click="checkonebyonedelete()" />
                                            <label for="{{objs.sims_student_enroll_number+$index}}"></label>
                                        </div>
                                    </td>
                                    <td>{{objs.sims_student_enroll_number}}</td>
                                    <td>{{objs.sims_student_passport_first_name_en}}</td>
                                    <td>{{objs.sims_grade_name}}</td>
                                    <td>{{objs.sims_section_name}}</td>
                                    <td>{{objs.sims_assignment_doc_path_name}}</td>
                                    <td ng-click="ViewDocument(objs.sims_assignment_doc_path_name);"><a href="">{{"View"|translate}}</a></td>
                                    <!--<td>{{objs.sims_assignment_submission_date}}</td>
                                    <td>{{objs.sims_assignment_freeze_date}}</td>-->
                                    <td style="text-align: center"><a href=""><i class="fa fa-edit" ng-click="edit(objs)"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                ng-click="index(currentPage)">
                            </paging>
                        </div>
                    </div>
                </div>

            </div>

            <!--EndTable/Grid-->

        </div>
    </div>
</div>

<script src="assets/js/calender-datepicker-id.js"></script>
