﻿<!DOCTYPE html>
<html>
<body>

    <div class="grid simple">
        <div class="grid-body no-border">
            <div class="row" ng-hide="display">

                <div class="col-md-2">
                    <label id="Label" for="txt_Nationality_Code" class="form-label">{{"Curriculum"|translate}}<span style="color:red">*</span></label>
                    <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width"
                            ng-model="temp.sims_cur_code" ng-selected="" name="sims_cur_code" ng-change="getAccYear(temp.sims_cur_code)"
                            ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in sims_cur" required></select>
                </div>

                <div class="col-md-2">
                    <label id="Label" for="txt_Nationality_Code" class="form-label">{{"Academic Year"|translate}}<span style="color:red">*</span></label>
                    <select id="Select3" data-role="dropdownlist" class="form-control input-sm full-width" ng-change="getAllGrades(temp.sims_cur_code,temp.sims_academic_year)"
                            ng-model="temp.sims_academic_year" ng-selected="" name="sims_academic_year"
                            ng-options="cur.sims_academic_year as cur.sims_academic_year_desc for cur in academic_year" required></select>
                </div>

                <div class="col-md-2">
                    <label id="Label" for="txt_Nationality_Code" class="form-label">{{"Grade"|translate}}<span style="color:red">*</span></label>
                    <select id="grade_box" data-role="dropdownlist" multiple="multiple"
                            ng-model="temp.sims_grade_code" name="sims_grade_code" ng-change="getSectionFromGrade(temp.sims_cur_code,temp.sims_academic_year,temp.sims_grade_code)">
                        <option ng-repeat="cur in grade_code" value="{{cur.sims_grade_code}} ">{{cur.sims_grade_name}}</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <label id="Label" for="txt_Nationality_Code" class="form-label">{{"Section Name"|translate}}<span style="color:red">*</span></label>
                    <select id="section_box" data-role="dropdownlist" multiple="multiple"
                            ng-model="temp.sims_section_code" name="sims_section_code">
                        <option ng-repeat="cur in section_code" value="{{cur.sims_section_code}} ">{{cur.sims_section_name}}</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <label id="Label" for="txt_Nationality_Code" class="form-label">{{"Term"|translate}}<span style="color:red">*</span></label>
                    <select id="term_box" data-role="dropdownlist" 
                            ng-model="temp.sims_term_code" name="sims_term_code">
                        <option ng-repeat="cur in term_code" value="{{cur.sims_term_code}} ">{{cur.sims_term_desc_en}}</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <div class="pull-right">
                        <label id="Label" for="txt_Nationality_Code" class="form-label">&nbsp;</label>
                        <span class="k-textbox k-space-right">
                            <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                            <a href="#" class="k-icon k-i-search">&nbsp;</a>
                        </span>
                    </div>
                </div>
                
                <div class="col-md-2">
                    <div class="pull-right">
                        <label>&nbsp;</label>
                        <button type="button" class="btn btn-primary btn-cons" ng-click="RoleBasedAccessReport()">{{"Submit"|translate}}</button>
                        <button type="button" class="btn btn-primary btn-cons" ng-click="exportData()">{{"Export"|translate}}</button>


                    </div>
                </div>

            </div>

            <div class="row">

             

                <div class="col-md-12" id="rpt_data1">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr style="background-color:#edefef">
                                <th><b>{{"Sr No"|translate}}</b></th>
                                <th ng-click="sort('sims_enroll_number')"><b>{{"Enroll No"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                <th ng-click="sort('student_name')"><b>{{"Student Name"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                <th ng-click="sort('class_name')"><b>{{"Class"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                <th ng-click="sort('sims_subject_name_en')"><b>{{"Subject"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                <th ng-click="sort('sims_term_desc_en')"><b>{{"Term"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                <th ><b>{{"Print"|translate}}</b></th>
                                
                            </tr>
                        </thead>
                        <tbody align="center">
                            <tr ng-repeat="r in report_data|orderBy:colname:reverse|filter:searchText">
                                <td>{{$index+1}}</td>
                                <td><button type="button" class="btn btn-primary btn-cons btn-small" ng-click="Report_call1(r)">{{r.sims_enroll_number}}</button></td>
                                <td>{{r.student_name}}</td>
                                <td> {{r.class_name}}</td>
                                <td>{{r.sims_subject_name_en}}</td>
                                <td>{{r.sims_term_desc_en}}</td>
                                <td><button type="button" class="btn btn-primary btn-cons btn-small" ng-click="Report_call(r)">{{"Print"|translate}}</button></td>
                                
                            </tr>
                        </tbody>
                           </table>





                </div>


                <!--For print and excell-->
                <div ng-show="dublicate">

                    <div class="col-md-12" id="rpt_data">
                        <table class="table table-bordered text-center">
                            <thead>
                                <tr>
                                    <th><b>{{"Sr No"|translate}}</b></th>
                                    <th> <b>{{"Enroll No"|translate}}</b></th>
                                    <th><b> {{"Student Name"|translate}}</b></th>
                                    <th><b> {{"Class"|translate}}</b></th>
                                     <th> <b>{{"Subject"|translate}}</b></th>
                                    <th> <b>{{"Term"|translate}}</b></th>
                                </tr>
                            </thead>
                            <tbody align="center">
                                <tr ng-repeat="r in report_data|orderBy:colname:reverse|filter:searchText">
                                    <td>{{$index+1}}</td>
                                    <td>{{r.sims_enroll_number}}</td>
                                     <td>{{r.student_name}}</td>
                                    <td ></td>{{r.class_name}}>
                                    <td>{{r.sims_subject_name_en}}</td>
                                    <td>{{r.sims_term_desc_en}}</td>
                                </tr>
                            </tbody>

                        </table>
                                            </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>



<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/plugins/fileSaver.js"></script>
<script src="assets/js/jszip.js"></script>
<script src="assets/js/xlsx.js"></script>
<script src="assets/js/xlsx-reader.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>



