﻿
<style>
    .ms-choice {
        height: 26px;
    }
    
    </style>
<!DOCTYPE html>
<html>
<body>
    <div class="grid-simple">
        <div class="content">
            <div class="row" >
                <div class="col-md-12 bluegrid" style="padding-left:14px !important;padding-right:14px !important;background:#d8ebf4 !important;">
                    <!--<div class="grid simple">-->
                        <div style="padding-bottom:0px !important;padding-top: 4px !important">

                            <!-- <div class="row" style="background:#d8ebf4 !important;padding-bottom:12px !important;padding-top: 6px !important">-->

                                
                    

                                     <div class="col-md-1">
                                    <label id="Label" for="txt_Nationality_Code" class="form-label">
                                        <i class="fa fa-building"></i>
                                        {{"Company"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="Select3" data-role="dropdownlist" class="fa fa-building-o" class="form-control input-sm full-width" style=" width: 97px; height: 26px;  min-height: 26px;"
                                            ng-model="temp.company_code" ng-selected="" name="company_code" ng-change="getDepartment(temp.sims_dept)"
                                            ng-options="cur.pc_company_code as cur.company_name for cur in CompanyName_Data" required style="height:26px; min-height:25px;"></select>
                                </div>

                          

                           
                            <div class="col-md-2">
                                    <label id="Label3" for="txt_Nationality_Code" class="form-label">
                                        <i class="fa fa-pensil-square-o"></i>
                                        {{"Department"|translate}}<span style="color:red">*</span>
                                    </label>
                                    <select id="dept" multiple="multiple"  class="full-width"
                                            ng-model="temp.sims_dept"  name="department"   style="height: 26px;   min-height: 26px;"
                                           ng-options="acad.dep_code as acad.dep_name for acad in dept_as" required></select>
                                </div>

                                    
                                    <div class="col-md-2">
                     <label id="Label4" for="txt_Nationality_Code" class="form-label style="margin-top: 2px;">
                    <label><i class="fa fa-calendar"></i>&nbsp;{{"From Date"|translate}} </label>
                    <!--<div class="input-append success  no-padding" data-datepicker="true" style="width: auto">-->
                    <span class="k-widget k-datepicker k-header k-textbox input-sm full-width k-input" style="width: 100%;">
                        <span class="k-picker-wrap k-state-default">
                            <input type="text" id="from_date" name="start_date"
                                   class="k-textbox input-sm full-width k-input ng-pristine ng-valid ng-touched" ng-model="mom_start_date "
                                   ng-change="" data-role="datepicker" role="combobox" aria-expanded="false" peaceholer="Select Date"
                                   aria-owns="start_date_dateview" aria-disabled="false" aria-readonly="false" style="width: 100%;"
                                   aria-activedescendant="8a8a008b-1b3c-42a7-be94-431c355f22e6_cell_selected">
                            <span unselectable="on" class="k-select" role="button" aria-controls="start_date_dateview">
                                <span unselectable="on" class="k-icon k-i-calendar">select</span>
                            </span>
                        </span>
                    </span>
                    <!-- <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                    </div>  -->
                </div>

                                   <div class="col-md-1">
                     <label id="Label6" for="txt_Nationality_Code" class="form-label style="margin-top: 2px;">
                    <label class="form-label1">
                        {{"Null"| translate }}
                    </label>
                    <div class="checkbox check-success">
                        <input type="checkbox" id="chkmarks" ng-model="mom_start_date_check" />
                        <label for="chkmarks"></label>
                    </div>
                </div>

                                   <div class="col-md-2" style="margin-left: -71px;">
                     <label id="Label7" for="txt_Nationality_Code" class="form-label style="margin-top: 2px;">
                    <label class="ng-binding"><i class="fa fa-calendar"></i>&nbsp;{{"To Date"|translate}} </label>
                    <!--<div class="input-append success  no-padding" data-datepicker="true" >-->
                    <span class="k-widget k-datepicker k-header k-textbox input-sm full-width" style="width: 100%;">
                        <span class="k-picker-wrap k-state-default">
                            <input type="text" id="to_date" name="end_date"
                                   class="k-textbox input-sm full-width k-input ng-pristine ng-valid ng-touched" ng-model="mom_end_date"
                                   ng-change="" data-role="datepicker" role="combobox" aria-expanded="false"
                                   aria-owns="expiry_date_dateview" aria-disabled="false" aria-readonly="false" style="width: 100%;">
                            <span unselectable="on" class="k-select" role="button" aria-controls="expiry_date_dateview">
                                <span unselectable="on" class="k-icon k-i-calendar">select</span>
                            </span>
                        </span>
                    </span>
                    <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                    </div>-->
                </div>

                                   <div class="col-md-1">
                     <label id="Label8" for="txt_Nationality_Code" class="form-label" style="margin-top: 2px;">
                    <label class="form-label1">
                        {{"Null"| translate }}
                    </label>
                    <div class="checkbox check-success">
                        <input type="checkbox" id="chkmarks1" ng-model="mom_end_date_check" />
                        <label for="chkmarks1"></label>
                    </div>
                </div>  








                            
                                   

                                

                           



                <div class="col-md-3" style="margin-top: 26px; margin-left: 71px;">
                <div class="pull-right" >
                    
                    <button type="button" class="btn btn-primary btn-cons" ng-click="getdetails()" >{{"Preview"|translate}}</button>
                   <button class="btn btn-rounded btn-warning btn-cons" type="button" ng-click="reset_data()"><i class="icon-ok"></i>{{"Reset"|translate}}</button>

                    <button type="button" class="btn btn-primary btn-cons" ng-click="exportData()" style="background-color:#1f3853;">{{"Excel"|translate}}</button>
                    <button type="button" class="btn btn-primary btn-cons" ng-click="print()" style="background-color:#0090d9;">{{"Print"|translate}}</button>
                </div>
            </div>



                       
                   

                          <!--  </div><!---- row -->
                           
                           



                        </div>
                    <!--</div>-->
                </div>
            </div>

            <div ng-show="detailsField">

                <div class="content"style="margin-left:-9px;margin-right:-9px;">
                    <div class="grid-title no-border" style="background-color:white;margin-top:-6px;">
                        <div class="col-md-12">
                            <div class="row margin-top" style="margin-top:0px;">
                                <div class="col-md-6" style=" padding-left: 6px;">
                                    <select id=" select1" style="width: 60px;" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                        <option value="30" class=" form-control input-sm">
                                            30
                                        </option>

                                        <option value="60" class=" form-control input-sm">
                                            60
                                        </option>

                                        <option value="All" class=" form-control input-sm">
                                            All
                                        </option>
                                    </select>
                                </div>
                           
                         
                                <div class="col-md-6" ng-show="true">
                                   <!-- <label>&nbsp;</label>-->
                                    <div class="pull-right">
                                        <span class="k-textbox k-space-right">
                                            <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm" autofocus="autofocus" tabindex="1" ng-change="searched()"><!--</label>-->
                                            <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                        </span>
                                    </div>
                                </div>
                             </div>
                        </div>


                        <div id="example_wrapper" class="dataTables_wrapper form-inline">
                            <div class="row margin-top">
                                <div class="col-md-12">

                                    <div class="col-md-12" id="rpt_data1">
                                        <table class="table table-striped table-flip-scroll cf">
                                            <thead>
                                                <tr style=" text-align:left" background-color #edefef"  >
                                                    <th><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Sr No"|translate}}</b></th>
                                                    
                                                    <th ng-click="sort('dep_name')"><b><i class=" fa fa-pensil-square-o "></i>&nbsp;{{"Department"|translate}}</b></th>
                                                   <th ng-click="sort('doc_prov_no')"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Doc No"|translate}}</b></th>
                                                    <th ng-click="sort('doc_date')"><b><i class=" fa fa-calendar"></i>&nbsp;{{"Doc Date"|translate}}</b></th>
                                                    <th ng-click="sort('dt_desc')"><b><i class=" fa fa-bookmark-o"></i>&nbsp;{{"Doc Type"|translate}}</b></th>
                                                    <th ng-click="sort('sal_name')"><b><i class="fa fa-bookmark-o"></i>&nbsp;{{"Sales Type"|translate}}</b></th>
                                                    <th ng-click="sort('student_name')"><b><i class=" fa fa-user"></i>&nbsp;{{"Name"|translate}}</b></th>
                                                    <th ng-click="sort('sm_name')"><b><i class=" fa fa-user"></i>&nbsp;{{"Salesman Name"|translate}}</b></th>
                                                    <th ng-click="sort('doc_total_amount')"><b><i class="fa fa-money"></i>&nbsp;{{"Total Amount"|translate}}</b></th>
                                                   </tr>     
                                            </thead>

                                            <tbody align="left">
                                                <tr ng-repeat="r in filteredTodos|orderBy:colname:reverse|filter:searchText">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{r.dep_name}}</td>
                                                    <td>{{r.doc_prov_no}}</td>
                                                    <td>{{r.doc_date}}</td>
                                                    <td>{{r.dt_desc}}</td>
                                                    <td>{{r.sal_name}}</td>
                                                    <td>{{r.student_name}}</td>
                                                    <td>{{r.sm_name}}</td>
                                                    <td>{{r.doc_total_amount}}</td>

                                                </tr>
                                                 <tr>
                                                    <td colspan="7"></td>
                                                    <td>Total :</td>
                                                    <td>{{total_amount}}</td>
                                                </tr>
                                              
                                            </tbody>
                                        </table>
                                    </div>


                                    <div ng-show="hideprintpdf">
                                        <div class="col-md-12" id="pdf_print">
                                            <table class="table table-bordered text-center">
                                                <thead>
                                                    <tr style=" text-align:left" background-color #edefef">
                                                       <th><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Sr No"|translate}}</b></th>
                                                  <th ng-click="sort('dep_name')"><b><i class=" fa fa-pensil-square-o "></i>&nbsp;{{"Department"|translate}}</b></th>
                                                   <th ng-click="sort('doc_prov_no')"><b><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Doc No"|translate}}</b></th>
                                                    <th ng-click="sort('doc_date')"><b><i class=" fa fa-calendar"></i>&nbsp;{{"Doc Date"|translate}}</b></th>
                                                    <th ng-click="sort('dt_desc')"><b><i class=" fa fa-bookmark-o"></i>&nbsp;{{"Doc Type"|translate}}</b></th>
                                                    <th ng-click="sort('sal_name')"><b><i class="fa fa-bookmark-o"></i>&nbsp;{{"Sales Type"|translate}}</b></th>
                                                    <th ng-click="sort('student_name')"><b><i class=" fa fa-user"></i>&nbsp;{{"Name"|translate}}</b></th>
                                                    <th ng-click="sort('sm_name')"><b><i class=" fa fa-user"></i>&nbsp;{{"Salesman Name"|translate}}</b></th>
                                                    <th ng-click="sort('doc_total_amount')"><b><i class="fa fa-money"></i>&nbsp;{{"Total Amount"|translate}}</b></th>
                                                    </tr>

                                                </thead>

                                                <tbody align="center">
                                                     <tr ng-repeat="r in filteredTodos|orderBy:colname:reverse|filter:searchText">
                                                    <td>{{$index+1}}</td>
                                                   <td>{{r.dep_name}}</td>
                                                    <td>{{r.doc_prov_no}}</td>
                                                    <td>{{r.doc_date}}</td>
                                                    <td>{{r.dt_desc}}</td>
                                                    <td>{{r.sal_name}}</td>
                                                    <td>{{r.student_name}}</td>
                                                    <td>{{r.sm_name}}</td>
                                                    <td>{{r.doc_total_amount}}</td>

                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="row" ng-show="pager">
                                        <div class="col-md-12">
                                            <div class="pull-right">
                                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                                        ng-click="index(currentPage)">
                                                </paging>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</body>
</html>
<!--<div class="col-md-12" id="subform">-->

<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/plugins/fileSaver.js"></script>
<script src="assets/js/jszip.js"></script>
<script src="assets/js/xlsx.js"></script>
<script src="assets/js/xlsx-reader.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>



