﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Company Parameter"| translate }}</span></h3>
            </div>

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                class="form-control"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                class="form-control"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="grid-body no-border">
                <div ng-show="table">
                    <div class="row">

                        <div class="col-md-6">
                            <select id="Select1" style="width: 60px"class="input-sm"  name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                <option value="All" class=" form-control input-sm">All
                                </option>

                                <option value="10" class=" form-control input-sm">10
                                </option>

                                <option value="20" class=" form-control input-sm">20
                                </option>
                            </select>
                            &nbsp;
                        <button class="btn btn-primary  btn-small" type="button" id="destinew" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate }}</button>
                            &nbsp;
                        <button class="btn btn-danger  btn-small" type="button" ng-click="OkDelete()"><span class="semi-bold"></span>{{"Delete"| translate }}</button>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <div class="dataTables_filter" id="example_filter">
                                    <!--<label>
                                    {{"Search"| translate }}:&nbsp;-->
                                    <span class="k-textbox k-space-right full-width">
                                        <input aria-controls="example" ng-model="searchText" class="k-textbox input-sm full-width" placeholder="Search" type="search" ng-change="search()">
                                        <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                                    <!--</label>-->
                                    <!--<input type="text" aria-controls="example" ng-model="search.$" class="input-medium"></label>-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <div class="row margin-top">
                            <div class="col-md-12">
                                <table class="table table-bordered table-hover table-condensed" id="fixTable">
                                    <thead style="background-color: white">
                                        <tr style="background-color: #edefef">
                                            <th class="small-cell v-align-middle" style="z-index: 1">
                                                <div class="checkbox check-success">
                                                    <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                                    <label for="mainchk"></label>
                                                </div>
                                            </th>
                                            <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                               <b><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class=" fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"Parameter Code"| translate }}</a></b>
                                            </th>
                                            <th>
                                               <b>{{"Parameter Description"| translate }}</b>
                                            </th>
                                            <th>
                                              <b>{{"Parameter Value"| translate }}</b>
                                            </th>
                                            <th>
                                              <b><i class="fa fa-cogs"></i></b>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="j in filteredTodos | orderBy:orderByField:reverseSort" ng-class="row1">
                                            <td>
                                                <div class="row-fluid">
                                                    <div class="checkbox check-success" style="height: 20px">
                                                        <input id="{{$index}}" type="checkbox" value="1" ng-click="checkonebyonedelete()">
                                                        <label for="{{$index}}"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <label id="Label3">{{j.comp_para_code}}</label>
                                            </td>
                                            <td>
                                                <label id="lbl">{{j.comp_para_desc}}</label>
                                            </td>
                                            <td>
                                                <label id="Label5">{{j.comp_para_value}}</label>
                                            </td>

                                            <td>
                                                <a href=""><i class="fa fa-edit" ng-click="edit(j)"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row" ng-show="pager">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)"></paging>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="display">
                    <form name="Myform" ng-submit="savedata(Myform.$valid)" novalidate="novalidate">
                        <div class="row">

                                <div class="col-md-4" ng-class="{'has-error': !Myform.para_desc.$valid && (Myform.para_desc.$touched || Myform.$submitted) }">
                                    <label id="Label4" for="txt_Nationality_Code" class="form-label">{{"Parameter Description"| translate }} <span class="text-red">*</span></label>
                                    <input type="text" name="para_desc" class="k-textbox input-sm full-width" ng-maxlength="20" pattern="[A-Za-z\s]+" ng-model="temp.comp_para_desc" />

                                    <p class="help-block" ng-show="Myform.para_desc.$error.required &&  (Myform.para_desc.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>
                                    <p class="help-block" ng-show=" Myform.para_desc.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                        Destination Description Length Should be Max 20
                                    </p>
                                    <p class="help-block" ng-show=" Myform.para_desc.$error.pattern && (!Myform.$pristine && Myform.$submitted)">
                                        Enter only characters
                                    </p>
                                </div>

                                <div class="col-md-4" ng-class="{'has-error': !Myform.para_val.$valid && (Myform.para_val.$touched || Myform.$submitted) }">
                                    <label id="Label1" for="txt_Country_Code" class="form-label">{{"Parameter Value"| translate }} <span class="text-red">*</span></label>
                                    <input type="text" name="para_val" class="k-textbox input-sm full-width" ng-maxlength="8" ng-pattern="/^(\d)+$/" ng-model="temp.comp_para_value" />

                                    <p class="help-block" ng-show="Myform.para_val.$error.required &&  (Myform.para_val.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>
                                    <p class="help-block" ng-show="Myform.para_val.$error.maxlength && (!Myform.$pristine && Myform.$submitted)">
                                        Destination Description Length Should be Max 8
                                    </p>
                                    <p class="help-block" ng-show="Myform.para_val.$error.pattern && (Myform.para_val.$touched || Myform.$submitted)">
                                        Enter Only Digits
                                    </p>
                                </div>
                            </div>

                        <div class="col-md-12">
                        <div class="form-actions">
                            <div class="pull-right">
                                <button type="submit" id="destisub" ng-show="save_btn" class="btn btn-primary   btn-small">{{"Save"| translate }} </button>
                                <button type="button" ng-show="Update_btn" ng-click="update(Myform.$valid);" class="btn btn-primary  btn-small">{{"Update"| translate }} </button>
                                <button type="button" class="btn btn-warning  btn-small" ng-click="Cancel();">{{"Cancel"| translate }} </button>
                            </div>
                        </div></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Div2">
    <div class="modal-dialog" id="Div3" style="width: 300px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="semi-bold pull-left">Message</h5>
                <br />
            </div>
            <div class="modal-body">
                <br />
                <label>{{msg1.strMessage}}</label>
                <br />
            </div>
            <div class="modal-footer" style="height: 60px">
                <button type="button" class="btn btn-primary btn-cons" data-dismiss="modal" ng-click="maindata();">Ok</button>
            </div>
        </div>
    </div>
</div>
<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>
