﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Costing Sheet Assetization"| translate }}</span></h3>
            </div>

            <div class="grid-body no-border">
                <div>
                    <div class="row" style="text-align: right">
                        <input type="text" class="input-sm" ng-model="ip.param" />
                        <button type="button" ng-click="searchCostingSheets(ip.param);" class="btn btn-success btn-cons btn-small">{{"Search"|translate}}</button>
                        <button type="button" ng-click="resetForm();" class="btn btn-warning btn-cons btn-small">{{"Reset"|translate}}</button>
                    </div>
                </div><br>
                <div>
                    <div class="row" style="border: 1px solid">
                        <div class="col-md-2">
                            <label style="font-weight: bold">{{"CS Provision Date"|translate}} </label>
                            <label class="semi-bold">{{ip.cs_prov_date}}</label>
                        </div>
                        <div class="col-md-2">
                            <div class="row form-row">
                                <div class="col-md-12">
                                    <label style="font-weight: bold">{{"Department"|translate}} </label>
                                    <label>{{ip.dep_name}} </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row form-row">
                                <div class="col-md-12">
                                    <label style="font-weight: bold">{{"Supplier"|translate}} </label>
                                    <label>{{ip.sup_name}} </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row form-row">
                                <div class="col-md-12">
                                    <label style="font-weight: bold">{{"Description"|translate}} </label>
                                    <label>{{ip.cs_desc}} </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div id="example_wrapper" class="dataTables_wrapper form-inline">
                            <div class="row margin-top" style="max-height: 300px; min-height: 250px;">
                                <div class="col-md-12">
                                    <table class="table table-bordered" id="fixTable">
                                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                                            <tr style="background-color: #edefef">
                                                <th><b>Sr.No.</b></th>
                                                <th><b>{{"Item Code"| translate }}</b></th>
                                                <th><b>{{"Item Description"| translate }}</b></th>
                                                <th><b>{{"Ordered QTY"| translate }}</b></th>
                                                <th><b>{{"Approved QTY"| translate }}</b></th>
                                                <th><b>{{"Received QTY"| translate }}</b></th>
                                                <th><b>{{"UOM"| translate }}</b></th>
                                                <th><b>{{"Rate"| translate}}</b></th>
                                                <th><b>{{"Line Total"| translate }}</b></th>

                                            </tr>
                                            <tr ng-repeat="obj in OrderData" ng-class="row1">
                                                <td>{{$index+1}}</td>
                                                <td>{{obj.im_item_code}}</td>
                                                <td>{{obj.im_desc}}</td>
                                                <td>{{obj.od_order_qty}}</td>
                                                <td>{{obj.od_approved_quantity}}</td>
                                                <td>{{obj.od_received_qty}}</td>
                                                <td>{{obj.uom_name}}</td>
                                                <td style="text-align: right">{{obj.rate.toFixed(2)}}</td>
                                                <td style="text-align: right">{{(obj.od_received_qty*obj.rate).toFixed(2)}}</td>
                                            </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div class="row margin-top">
                            <div class="pull-right">
                                <div ng-if="set.showExp">Total Amount: {{Total_Amount}}</div>
                                <div ng-if="set.showExp"><span>Expenses:</span> {{expenseSUMV}}</div>
                                <div ng-if="set.showExp"><span><b>Grand Total:</b></span> {{gTotal.toFixed(2)}}</div>
                            </div>
                        </div>
                        <div class="row margin-top">
                            <div class="pull-right">
                                <button class="btn btn-success btn-cons btn-small" type="button" ng-if="set.showFinal" ng-click="assetizationdetails()">Assetization</button>
                               <!-- <button class="btn btn-success btn-cons btn-small" type="button" ng-if="set.showFinal" ng-click="postingdetails()">Posting Details</button>
                                <button class="btn btn-success btn-cons btn-small" type="button" ng-if="set.showFinal" ng-click="finalizeCostingSheet(ip)">Finalize</button>-->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!--Costing Sheet-->

<div class="modal fade" id="CostingSheetModal" role="dialog">
    <div class="modal-dialog" style="width: 90%; background-color: white;">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header ng-scope" style="height: 40px">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="grid simple">
                <div class="grid-body no-border">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-2" style="text-align: left">
                                    <label for="username">{{"From Date" | translate}} </label>
                                    <div class="col-md-12">
                                        <input type="text" id="from_date" placeholder="Select Date" name="admpdate" class="k-textbox input-sm full-width" ng-model="cs.cs_from_date">
                                        <!--<span class="add-on" style="height: 30px; padding-top: 0px"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="col-md-12">
                                        <label>{{"To Date" | translate}}</label>
                                    </div>
                                    <div class="col-md-10">
                                        <input type="text" id="to_date" placeholder="Select Date" name="admpdate" class="k-textbox input-sm full-width" ng-model="cs.cs_to_date">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <label>{{"Search"|translate}}&nbsp;&nbsp;<span style="font-size: 11px; color: red">{{"( Enter Costing Sheet No.)"|translate}}</span></label>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="search" class="k-textbox input-sm full-width" id="search1" ng-model="cs.cs_prov_no" ng-keypress="seachShipmentKeyPress($event)" placeholder="To Search Enter Costing Sheet No/Supplier Name.">
                                    </div>
                                </div>

                                <div class="col-md-1">
                                    <div class="col-md-12">
                                        <label>&nbsp;</label>
                                    </div>
                                    <div class="col-md-10">
                                        <button class="btn btn-success btn-small" ng-click="searchCostingSheets1(cs)">{{"Submit"|translate}}</button>
                                    </div>
                                </div>

                                 <div class="col-md-1">
                                    <div class="col-md-12">
                                        <label>&nbsp;</label>
                                    </div>
                                    <div class="col-md-10">
                                         <button class="btn btn-successbtn-small" ng-click="resetCS()">{{"Reset"|translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>                     
                        
                        
                    </div>
                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <div class="row margin-top">
                            <div class="col-md-12">
                                <table class="table table-bordered table-condensed" id="fixTable2">
                            <tr>
                                <th></th>
                                <th class="semi-bold">{{"CS Prov No"| translate }}</th>
                                <th class="semi-bold">{{"CS Prove Date"| translate }}</th>
                                <th class="semi-bold">{{"CS No"| translate}}</th>
                                <th class="semi-bold">{{"CS Date"| translate}}</th>
                                <th class="semi-bold">{{"Description"| translate}}</th>
                                <th class="semi-bold">{{"Department"| translate}}</th>
                                <th class="semi-bold">{{"Supplier"| translate }}</th>
                                <th class="semi-bold">{{"Forward Agent"| translate }}</th>
                                <th class="semi-bold">{{"Delivery Mode"| translate }}</th>
                            </tr>
                            <tr ng-repeat="obj in CSDataSearch" ng-class="row1">
                                <td class="small-cell v-align-middle">
                                    <a href=""><i class="fa fa-edit" ng-click="GetCostingSheetsDetails(obj)"></i></a>
                                </td>
                                <td>{{obj.cs_prov_no}}</td>
                                <td>{{obj.cs_prov_date}}</td>
                                <td>{{obj.cs_no}}</td>
                                <td>{{obj.cs_date}}</td>
                                <td>{{obj.cs_desc}}</td>
                                <td>{{obj.dep_name}}</td>
                                <td>{{obj.sup_name}}</td>
                                <td>{{obj.fa_name}}</td>
                                <td>{{obj.dm_name}}</td>
                            </tr>
                        </table>
                    </div></div></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade in" id="MyModal2" role="dialog" style="display: none;">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 75%;">
        <div class="modal-content" uib-modal-transclude="">

            <div class="modal-header ng-scope" style="height: 40px">
                <button type="button" class="close" data-dismiss="modal" ng-click="okbuttonclick();">&times;</button>
            </div>

            <div class="grid simple">
                <div class="grid-body no-border">
                    <div class="row column-seperation">
                        <div class="tab-pane" id="Div7" aria-expanded="true">

                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <div id="Div8" class="dataTables_wrapper form-inline">
                                            <div class="row margin-top">
                                                <div class="col-md-12">
                                                    <table class="table table-bordered table-condensed" id="Table3">
                                                        <thead>
                                                            <tr>
                                                                <!--<th class="semi-bold">{{"Selete"| translate}}</th>-->
                                                                <th class="bold">{{"Item"| translate }}</th>
                                                                <th class="bold">{{"Debit Account"| translate }}</th>
                                                                <th class="bold">{{"Credit Account"| translate }}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                            <tr ng-repeat="ji in GetItems">

                                                                <td>{{ji.itemdesc}}</td>
                                                                <td>{{ji.debitacc}}</td>
                                                                <td>{{ji.creditacc}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="AssetModal" role="dialog" style="display: none;">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 75%;">
        <div class="modal-content" uib-modal-transclude="">

            <div class="modal-header ng-scope" style="height: 40px">
                <button type="button" class="close" data-dismiss="modal" ng-click="okbuttonclick();">&times;</button>
            </div>

            <div class="grid simple">
                <div class="grid-body no-border">
                    <div ng-show="csbody">
                        <div class="row column-seperation">

                            <div class="tab-pane" id="Div2" aria-expanded="true">
                                <div>
                                    &nbsp;
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div>
                                            <div id="Div3" class="dataTables_wrapper form-inline">
                                                <div class="row margin-top">
                                                    <div class="col-md-12">
                                                        <table class="table table-bordered table-condensed" id="Table1">
                                                            <thead>
                                                                <tr>
                                                                    <!--<th class="semi-bold">{{"Selete"| translate}}</th>-->
                                                                    <th class="bold">{{"Item"| translate }}</th>
                                                                    <th class="bold">{{"Quantity"| translate }}</th>
                                                                    <th class="bold">&nbsp;</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                                <tr ng-repeat="ji in GetAssetItems">

                                                                    <td>{{ji.itemdesc}}</td>
                                                                    <td>
                                                                        <!--<input style="width: 60px; height: 25px" aria-controls="example" ng-model="info.invs058_sup_price" class="form-control input-sm" ng-keypress="onlyNumbers($event,'')">-->
                                                                        {{ji.od_received_qty}}
                                                                    </td>
                                                                    <td>
                                                                        <button type="button" style="height: 30px; width: 80px; background-color: #0aa699" class="btn btn-primary btn-xs btn-mini" ng-click="assetmaster(ji)">Assetize</button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="assetbody">
                        <div class="col-md-12">
                            <div class="grid simple">
                                <!-- <div class="page-title">-->
                                <div class="col-md-12">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <div class="radio radio-success">
                                                <input id="rd_group" type="radio" name="rd" ng-model="group" value="true" ng-click="groupradio()">
                                                <label for="rd_group">Convert to Group on One</label>
                                                <input id="rd_individual" type="radio" name="rd" ng-model="individual" value="false" ng-click="individualradio()">
                                                <label for="rd_individual">Convert to Individual</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--</div>-->
                            </div>

                            <div class="grid-body no-border">
                                <div class="row">
                                    <!--<div class="form-group">
                                    <div class="card-header" style="background-color: #039BE5; padding: .35rem 1.25rem;">
                                        <span style="color: white; font-size: 16px">{{"Asset Master"|translate}}</span>
                                    </div>
                                </div>-->

                                    <div class="col-md-12">
                                        <div class="row form-row">
                                            <div class="col-md-3">
                                                <div class="row form-row">
                                                    <div class="col-md-12">
                                                        <label class="form-label-sm">{{ "Item No" | translate }}</label>
                                                    </div>
                                                    <div class="col-md-12" ng-class="{'has-error': !myForm.txt_item_no.$valid && (myForm.txt_item_no.$touched || myForm.$submitted) }">
                                                        <input name="txt_item_no" id="txt_item_no" type="text" class="form-control input-sm" placeholder="Please enter" ng-model="edt.gam_item_no" required ng-minlength="1" ng-maxlength="60" ng-disabled="true">
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="error-container"
                                                            ng-show="myForm.txt_item_no.$dirty && myForm.txt_item_no.$invalid || myForm.$submitted">
                                                            <small class="help-block"
                                                                ng-show="myForm.txt_item_no.$error.required &&(myForm.txt_item_no.$touched || myForm.$submitted)">Item No is required.
                                                            </small>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="row form-row">
                                                    <div class="col-md-12">
                                                        <label class="form-label">{{ "Description 1" | translate }}</label>
                                                    </div>
                                                    <div class="col-md-12" ng-class="{'has-error': !myForm.txt_desc1.$valid && (myForm.txt_desc1.$touched || myForm.$submitted) }">
                                                        <input name="txt_desc1" id="txt_desc1" type="text" class="form-control input-sm" placeholder="Please enter" ng-model="edt.gam_desc_1" required ng-minlength="1" ng-maxlength="100" ng-pattern="/^[a-zA-Z0-9\s-]*$/">
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="error-container"
                                                            ng-show="myForm.txt_desc1.$dirty && myForm.txt_desc1.$invalid || myForm.$submitted">
                                                            <small class="help-block"
                                                                ng-show="myForm.txt_desc1.$error.required &&(myForm.txt_desc1.$touched || myForm.$submitted)">Description 1 is required.
                                                            </small>
                                                            <small class="help-block"
                                                                ng-show="myForm.txt_desc1.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_desc1.$touched))">Enter Valid Data
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="row form-row">
                                                    <div class="col-md-12">
                                                        <label class="form-label">{{ "Description 2" | translate }}</label>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <input name="txt_desc2" id="txt_desc2" type="text" class="form-control input-sm" placeholder="Please enter" ng-model="edt.gam_desc_2">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="row form-row">
                                            <div class="col-md-3">
                                                <div class="row form-row">
                                                    <div class="col-md-12">
                                                        <label>{{ "Department *" | translate }}</label>
                                                    </div>
                                                    <div class="col-md-12" ng-class="{'has-error': !myForm.cmb_dept.$valid && (myForm.cmb_dept.$touched || myForm.$submitted) }">
                                                        <select id="cmb_dept" name="cmb_dept" class="form-control select2-sm"
                                                            ng-model="edt.gam_dept_code" required ng-maxlength="2" ng-minlength="1" ng-disabled="edit_data"
                                                            ng-options="item2.gam_dept_code as item2.gam_dept_code_name for item2 in dept_data">
                                                            <option value="">Please Select</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="error-container"
                                                            ng-show="myForm.cmb_dept.$dirty && myForm.cmb_dept.$invalid || myForm.$submitted">
                                                            <small class="help-block"
                                                                ng-show="myForm.cmb_dept.$error.required &&(myForm.cmb_dept.$touched || myForm.$submitted)">Department is required.
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="row form-row">
                                                    <div class="col-md-12">
                                                        <label class="form-label">{{ "Asset Type *" | translate }}</label>
                                                    </div>
                                                    <div class="col-md-12" ng-class="{'has-error': !myForm.cmb_asset_type.$valid && (myForm.cmb_asset_type.$touched || myForm.$submitted) }">
                                                        <select id="cmb_asset_type" name="cmb_asset_type" class="form-control select2-sm"
                                                            ng-model="edt.gam_asst_type" required ng-maxlength="2" ng-minlength="1" ng-disabled="edit_data" ng-change="getAccountNo(edt.gam_asst_type)"
                                                            ng-options="item2.gam_asst_type as item2.gam_asst_type_name for item2 in assetType_data">
                                                            <option value="">Please Select</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="error-container"
                                                            ng-show="myForm.cmb_asset_type.$dirty && myForm.cmb_asset_type.$invalid || myForm.$submitted">
                                                            <small class="help-block"
                                                                ng-show="myForm.cmb_asset_type.$error.required &&(myForm.cmb_asset_type.$touched || myForm.$submitted)">Asset Type is required.
                                                            </small>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="row form-row">
                                                    <div class="col-md-12">
                                                        <label class="form-label">{{ "Account Code" | translate }}</label>
                                                    </div>
                                                    <div class="col-md-12" ng-class="{'has-error': !myForm.txt_accnt_code.$valid && (myForm.txt_accnt_code.$touched || myForm.$submitted) }">
                                                        <input name="txt_accnt_code" id="txt_accnt_code" type="text" class="form-control input-sm" placeholder="Please enter" required ng-model="edt.gam_acct_code" maxlength="8" ng-disabled="true" ng-pattern="/^[a-zA-Z0-9\s-]*$/">
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="error-container"
                                                            ng-show="myForm.txt_accnt_code.$dirty && myForm.txt_accnt_code.$invalid || myForm.$submitted">
                                                            <small class="help-block"
                                                                ng-show="myForm.txt_accnt_code.$error.required &&(myForm.txt_accnt_code.$touched || myForm.$submitted)">Address Type is required.
                                                            </small>
                                                            <small class="help-block" ng-show="myForm.txt_accnt_code.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_accnt_code.$touched))">Enter Valid Data
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="row form-row">
                                                    <div class="col-md-12">
                                                        <label class="form-label">{{ "Location *" | translate }}</label>
                                                    </div>
                                                    <div class="col-md-12" ng-class="{'has-error': !myForm.cmb_location.$valid && (myForm.cmb_location.$touched || myForm.$submitted) }">
                                                        <select id="cmb_location" name="cmb_location" class="form-control select2-sm"
                                                            ng-model="edt.gam_location" required ng-maxlength="2" ng-minlength="1"
                                                            ng-options="item2.gam_location as item2.gam_location_name for item2 in location_data">
                                                            <option value="">Please Select</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="error-container"
                                                            ng-show="myForm.cmb_location.$dirty && myForm.cmb_location.$invalid || myForm.$submitted">
                                                            <small class="help-block"
                                                                ng-show="myForm.cmb_location.$error.required &&(myForm.cmb_location.$touched || myForm.$submitted)">Location is required.
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="row form-row">

                                            <div class="col-md-3" ng-class="{'has-error': !myForm.cmb_sup.$valid && (myForm.cmb_sup.$touched || myForm.$submitted) }">
                                                <label class="semi-bold" for="cmb_sup">{{"Custodian *"| translate }}</label>
                                                <select id="cmb_sup" name="cmb_sup" class="form-control select2" ng-model="edt.empcode">
                                                    <!--ng-options="item.glac_acct_code as item.glac_acct_name for item in accNo_data"-->
                                                    <option value="">Please Select</option>
                                                    <option ng-repeat="i in Custodian1"
                                                        value="{{i.empcode}}">{{i.empname}}
                                                    </option>
                                                </select>
                                                <div class="col-md-12">
                                                    <div class="error-container"
                                                        ng-show="myForm.cmb_sup.$dirty && myForm.cmb_sup.$invalid || myForm.$submitted">
                                                        <small class="error"
                                                            ng-show="myForm.cmb_sup.$error.required">Custodian is required.
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="row form-row">
                                                    <div class="col-md-12">
                                                        <label>{{ "Supplier Name" | translate }}</label>
                                                    </div>
                                                    <div class="col-md-12" ng-class="{'has-error': !myForm.cmb_supp.$valid && (myForm.cmb_supp.$touched || myForm.$submitted) }">
                                                        <select id="cmb_supp" name="cmb_supp" class="form-control select2-sm"
                                                            ng-model="edt.gam_supl_code" required ng-maxlength="2" ng-minlength="1"
                                                            ng-options="item2.gam_supl_code as item2.gam_supl_name for item2 in sup_data">
                                                            <option value="">Please Select</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="error-container"
                                                            ng-show="myForm.cmb_supp.$dirty && myForm.cmb_supp.$invalid || myForm.$submitted">
                                                            <small class="help-block"
                                                                ng-show="myForm.cmb_supp.$error.required &&(myForm.cmb_supp.$touched || myForm.$submitted)">Supplier is required.
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="row form-row">
                                                    <div class="col-md-12">
                                                        <label class="form-label">{{ "Order No" | translate }}</label>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <select id="cmb_order_no" name="cmb_order_no" class="form-control select2-sm" ng-disabled="ifedit"
                                                            ng-model="edt.gam_order_no"
                                                            ng-options="item2.gam_order_no as item2.gam_order_no for item2 in order_data">
                                                            <option value="">Please Select</option>
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="row form-row">
                                                    <div class="col-md-12">
                                                        <label class="form-label">{{ "Inv. No. *" | translate }}</label>
                                                    </div>
                                                    <div class="col-md-12" ng-class="{'has-error': !myForm.txt_inv_no.$valid && (myForm.txt_inv_no.$touched || myForm.$submitted) }">
                                                        <input name="txt_inv_no" id="txt_inv_no" type="text" class="form-control input-sm" placeholder="Please enter" required ng-model="edt.gam_invoice_no" maxlength="8" ng-pattern="/^[a-zA-Z0-9\s-]*$/">
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="error-container"
                                                            ng-show="myForm.txt_inv_no.$dirty && myForm.txt_inv_no.$invalid || myForm.$submitted">
                                                            <small class="help-block"
                                                                ng-show="myForm.txt_inv_no.$error.required &&(myForm.txt_inv_no.$touched || myForm.$submitted)">Inv. No. is required.
                                                            </small>
                                                            <small class="help-block" ng-show="myForm.txt_inv_no.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.txt_inv_no.$touched))">Enter Valid Data
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="row form-row">
                                            <div class="col-md-3">
                                                <div class="row form-row">
                                                    <div class="col-md-12">
                                                        <label>{{ "Page No" | translate }}</label>
                                                    </div>
                                                    <div class="col-md-12" ng-class="{'has-error': !myForm.txt_pg_no.$valid && (myForm.txt_pg_no.$touched || myForm.$submitted) }">
                                                        <input name="txt_pg_no" id="txt_pg_no" type="text" class="form-control input-sm" placeholder="Please enter" ng-model="edt.gam_page_no" maxlength="6" ng-pattern="/^[0-9]{1,30}$/">
                                                    </div>
                                                    <div class="error-container"
                                                        ng-show="myForm.txt_pg_no.$dirty && myForm.txt_pg_no.$invalid || myForm.$submitted">
                                                        <small class="help-block" ng-show=" myForm.txt_pg_no.$error.pattern && (!myForm.$pristine && (myForm.$submitted||myForm.txt_pg_no.$touched))">Enter Only Digit
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="row form-row">
                                                    <div class="col-md-12">
                                                        <label class="form-label">{{ "Line No" | translate }}</label>
                                                    </div>
                                                    <div class="col-md-12" ng-class="{'has-error': !myForm.txt_line_no.$valid && (myForm.txt_line_no.$touched || myForm.$submitted) }">
                                                        <input name="txt_line_no" id="Text9" type="text" class="form-control input-sm" placeholder="Please enter" ng-model="edt.gam_line_no" maxlength="6" ng-pattern="/^[0-9]{1,30}$/">
                                                    </div>
                                                    <div class="error-container"
                                                        ng-show="myForm.txt_line_no.$dirty && myForm.txt_line_no.$invalid || myForm.$submitted">
                                                        <small class="help-block" ng-show=" myForm.txt_line_no.$error.pattern && (!myForm.$pristine && (myForm.$submitted||myForm.txt_line_no.$touched))">Enter Only Digit
                                                        </small>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="row form-row">
                                                    <div class="col-md-12">
                                                        <label class="form-label">{{ "Quantity" | translate }}</label>
                                                    </div>
                                                    <div class="col-md-12" ng-class="{'has-error': !myForm.txt_quantity.$valid && (myForm.txt_quantity.$touched || myForm.$submitted) }">
                                                        <input name="txt_quantity" id="Text10" ng-disabled="ifedit" type="text" class="form-control input-sm" placeholder="Please enter" ng-model="edt.gam_quantity" maxlength="15" ng-maxlength="15" ng-pattern="/^[0-9]{1,12}(\.[0-9]+)?$/">
                                                    </div>
                                                    <div class="error-container"
                                                        ng-show="myForm.txt_quantity.$dirty && myForm.txt_quantity.$invalid || myForm.$submitted">
                                                        <small class="help-block" ng-show="myForm.txt_quantity.$error.maxlength && (!myForm.$pristine && myForm.$submitted)">length should be 15 
                                                        </small>
                                                        <small class="help-block" ng-show="myForm.txt_quantity.$error.pattern && (!myForm.$pristine && myForm.$submitted)">Quantity should be number and 2 digit
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="row form-row">
                                                    <div class="col-md-12">
                                                        <label>{{ "Inv. Amt." | translate }}</label>
                                                    </div>
                                                    <div class="col-md-12" ng-class="{'has-error': !myForm.txt_inv_amt.$valid && (myForm.txt_inv_amt.$touched || myForm.$submitted) }">
                                                        <input name="txt_inv_amt" id="Text11" ng-disabled="ifedit" type="text" class="form-control input-sm" placeholder="Please enter" ng-model="edt.gam_invoice_amount" ng-maxlength="18" step="0.01" ng-pattern="/^[0-9]{1,14}(\.[0-9]+)?$/">
                                                    </div>
                                                    <div class="error-container"
                                                        ng-show="myForm.txt_inv_amt.$dirty && myForm.txt_inv_amt.$invalid || myForm.$submitted">
                                                        <small class="help-block" ng-show="myForm.txt_inv_amt.$error.maxlength && (!myForm.$pristine && myForm.$submitted)">length should be 18 
                                                        </small>
                                                        <small class="help-block" ng-show="myForm.txt_inv_amt.$error.pattern && (!myForm.$pristine && myForm.$submitted)">Inv. Amt. should be number and 3 digit
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="row form-row">

                                            <div class="col-md-3">
                                                <div class="row form-row">
                                                    <div class="col-md-12">
                                                        <label class="form-label">{{ "Invoice Date" | translate }}</label>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="input-append success date col-md-4 no-padding" data-datepicker="true" style="width: auto">
                                                            <input type="text" id="Text12" placeholder="Select Date" name="dp_recdate" class="form-control" ng-model="edt.gam_receipt_date">
                                                            <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-md-3">
                                                <div class="row form-row">
                                                    <div class="col-md-12">
                                                        <label>{{ "Sale Date" | translate }}</label>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="input-append success date col-md-4 no-padding" data-datepicker="true" style="width: auto">
                                                            <input type="text" id="Text13" ng-disabled="ifedit" placeholder="Select Date" name="dp_recdate" class="form-control" ng-model="edt.gam_sale_date">
                                                            <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="row form-row">
                                                    <div class="col-md-12">
                                                        <label>{{ "Capitalization Date" | translate }}</label>
                                                    </div>
                                                    <div class="col-md-12" ng-class="{'has-error': !myForm.dp_entry_date.$valid && (myForm.dp_entry_date.$touched || myForm.$submitted) }">
                                                        <div class="input-append success date col-md-4 no-padding" data-datepicker="true" style="width: auto">
                                                            <input type="text" id="Text14" placeholder="Select Date" name="dp_entry_date" required class="form-control" ng-model="edt.gam_entry_date">
                                                            <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="error-container"
                                                            ng-show="myForm.dp_entry_date.$dirty && myForm.dp_entry_date.$invalid || myForm.$submitted">
                                                            <small class="help-block"
                                                                ng-show="myForm.dp_entry_date.$error.required &&(myForm.dp_entry_date.$touched || myForm.$submitted)">Entry Date is required.
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="row form-row">
                                                    <div class="col-md-12">
                                                        <label>{{ "Amend Date" | translate }}</label>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="input-append success date col-md-4 no-padding" data-datepicker="true" style="width: auto">
                                                            <input type="text" id="Text15" placeholder="Select Date" name="dp_amend_date" class="form-control" ng-model="edt.gam_amend_date">
                                                            <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="row form-row">

                                            <div class="col-md-3">
                                                <div class="row form-row">
                                                    <div class="col-md-12">
                                                        <label>{{ "NBV" | translate }}</label>
                                                    </div>
                                                    <div class="col-md-12" ng-class="{'has-error': !myForm.txt_nbv.$valid && (myForm.txt_nbv.$touched || myForm.$submitted) }">
                                                        <input name="txt_nbv" id="txt_nbv" type="text" ng-disabled="ifedit" class="form-control input-sm" placeholder="Please enter" ng-model="edt.gam_book_value" ng-maxlength="18" ng-pattern="/^[0-9]{1,14}(\.[0-9]+)?$/">
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="error-container"
                                                            ng-show="myForm.txt_nbv.$dirty && myForm.txt_nbv.$invalid || myForm.$submitted">
                                                            <small class="help-block" ng-show="myForm.txt_nbv.$error.maxlength && (!myForm.$pristine && myForm.$submitted)">length should be 18 Digit
                                                            </small>
                                                            <small class="help-block" ng-show="myForm.txt_nbv.$error.pattern && (!myForm.$pristine && myForm.$submitted)">Value should be number and 3 digit
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="row form-row">
                                                    <div class="col-md-12">
                                                        <label>{{ "Cum. Depr." | translate }}</label>
                                                    </div>
                                                    <div class="col-md-12" ng-class="{'has-error': !myForm.txt_cum_depr.$valid && (myForm.txt_cum_depr.$touched || myForm.$submitted) }">
                                                        <input name="txt_cum_depr" id="Text17" ng-disabled="ifedit" type="text" class="form-control input-sm" placeholder="Please enter" ng-model="edt.gam_cum_deprn" ng-maxlength="18" ng-pattern="/^[0-9]{1,14}(\.[0-9]+)?$/">
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="error-container"
                                                            ng-show="myForm.txt_cum_depr.$dirty && myForm.txt_cum_depr.$invalid || myForm.$submitted">
                                                            <small class="help-block" ng-show="myForm.txt_cum_depr.$error.maxlength && (!myForm.$pristine && myForm.$submitted)">length should be 18 Digit
                                                            </small>
                                                            <small class="help-block" ng-show="myForm.txt_cum_depr.$error.pattern && (!myForm.$pristine && myForm.$submitted)">Value should be number and 3 digit
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="row form-row">
                                                    <div class="col-md-12">
                                                        <label>{{ "YRLY. Depr." | translate }}</label>
                                                    </div>
                                                    <div class="col-md-12" ng-class="{'has-error': !myForm.txt_yrly_depr.$valid && (myForm.txt_yrly_depr.$touched || myForm.$submitted) }">
                                                        <input name="txt_yrly_depr" id="Text18" ng-disabled="ifedit" type="text" class="form-control input-sm" placeholder="Please enter" ng-model="edt.gam_ytd_deprn" ng-maxlength="18" ng-pattern="/^[0-9]{1,14}(\.[0-9]+)?$/">
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="error-container"
                                                            ng-show="myForm.txt_yrly_depr.$dirty && myForm.txt_yrly_depr.$invalid || myForm.$submitted">
                                                            <small class="help-block" ng-show="myForm.txt_yrly_depr.$error.maxlength && (!myForm.$pristine && myForm.$submitted)">length should be 18 Digit
                                                            </small>
                                                            <small class="help-block" ng-show="myForm.txt_yrly_depr.$error.pattern && (!myForm.$pristine && myForm.$submitted)">Value should be number and 3 digit
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="row form-row">
                                                    <div class="col-md-12">
                                                        <label>{{ "MTH. Depr." | translate }}</label>
                                                    </div>
                                                    <div class="col-md-12" ng-class="{'has-error': !myForm.txt_mth_depr.$valid && (myForm.txt_mth_depr.$touched || myForm.$submitted) }">
                                                        <input name="txt_mth_depr" id="Text19" ng-disabled="ifedit" type="text" class="form-control input-sm" placeholder="Please enter" ng-model="edt.gam_mth_deprn" ng-maxlength="18" ng-pattern="/^[0-9]{1,14}(\.[0-9]+)?$/">
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="error-container"
                                                            ng-show="myForm.txt_mth_depr.$dirty && myForm.txt_mth_depr.$invalid || myForm.$submitted">
                                                            <small class="help-block" ng-show="myForm.txt_mth_depr.$error.maxlength && (!myForm.$pristine && myForm.$submitted)">length should be 18 Digit
                                                            </small>
                                                            <small class="help-block" ng-show="myForm.txt_mth_depr.$error.pattern && (!myForm.$pristine && myForm.$submitted)">Value should be number and 3 digit
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="row form-row">

                                            <div class="col-md-3">
                                                <div class="row form-row">
                                                    <div class="col-md-12">
                                                        <label>{{ "Sale Value" | translate }}</label>
                                                    </div>
                                                    <div class="col-md-12" ng-class="{'has-error': !myForm.txt_sale_value.$valid && (myForm.txt_sale_value.$touched || myForm.$submitted) }">
                                                        <input name="txt_sale_value" id="txt_sale_value" type="text" class="form-control input-sm" placeholder="Please enter" ng-model="edt.gam_sale_value" ng-maxlength="18" ng-pattern="/^[0-9]{1,14}(\.[0-9]+)?$/">
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="error-container"
                                                            ng-show="myForm.txt_sale_value.$dirty && myForm.txt_sale_value.$invalid || myForm.$submitted">
                                                            <small class="help-block" ng-show="myForm.txt_sale_value.$error.maxlength && (!myForm.$pristine && myForm.$submitted)">length should be 18 Digit
                                                            </small>
                                                            <small class="help-block" ng-show="myForm.txt_sale_value.$error.pattern && (!myForm.$pristine && myForm.$submitted)">Value should be number and 3 digit
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="row form-row">
                                                    <div class="col-md-12">
                                                        <label>{{ "Depr. %" | translate }}</label>
                                                    </div>
                                                    <div class="col-md-12" ng-class="{'has-error': !myForm.txt_depr.$valid && (myForm.txt_depr.$touched || myForm.$submitted) }">
                                                        <input name="txt_depr" id="Text21" type="text" class="form-control input-sm" placeholder="Please enter" ng-model="edt.gam_deprn_percent" ng-disabled="true" ng-pattern="/^[0-9]{1,3}(\.[0-9]+)?$/" required>
                                                    </div>
                                                    <div class="error-container"
                                                        ng-show="myForm.txt_depr.$dirty && myForm.txt_depr.$invalid || myForm.$submitted">
                                                        <small class="help-block"
                                                            ng-show="myForm.txt_depr.$error.required &&(myForm.txt_depr.$touched || myForm.$submitted)">Depr. % is required.
                                                        </small>
                                                        <small class="help-block" ng-show="myForm.txt_depr.$error.maxlength && (!myForm.$pristine && myForm.$submitted)">Max length 3 Digit only
                                                        </small>
                                                        <small class="help-block" ng-show="myForm.txt_depr.$error.pattern && (!myForm.$pristine && myForm.$submitted)">Value should be Number
                                                        </small>
                                                    </div>


                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="row form-row">
                                                    <div class="col-md-12">
                                                        <label>{{ "Status *" | translate }}</label>
                                                    </div>
                                                    <div class="col-md-12" ng-class="{'has-error': !myForm.cmb_status.$valid && (myForm.cmb_status.$touched || myForm.$submitted) }">
                                                        <select id="Select7" name="cmb_status" class="form-control select2-sm" ng-model="edt.gam_status_code" ng-maxlength="2" ng-minlength="1"
                                                            ng-options="item3.gam_status_code as item3.gam_status_name for item3 in status_data" required>
                                                            <option value="">Please Select</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="error-container"
                                                            ng-show="myForm.cmb_status.$dirty && myForm.cmb_status.$invalid || myForm.$submitted">
                                                            <small class="help-block"
                                                                ng-show="myForm.cmb_status.$error.required &&(myForm.cmb_status.$touched || myForm.$submitted)">Status is required.
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="pull-right">
                                        <button class="btn btn-primary btn-cons" type="submit" ng-click="Save()">{{ "Submit" | translate }}</button>
                                        <button class="btn btn-warning btn-cons" type="button" ng-click="cancel()">{{ "Cancel" | translate }}</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="assets/js/calender-datepicker-id.js"></script>

