﻿<style>
    .bluegreed {
    background: #d8ebf4 !important;
    padding-bottom: 6px !important;
    padding-top: 6px !important;
  
}
    </style>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Inventory Create Order"| translate }}</span></h3>
            </div>
            <div class="grid-body no-border paddingcode"style="background-color:transparent;">
                <div ng-show="table">
                    <form name="myForm" novalidate>
                        <div class="row bluegreed"style="margin-left: -7px;margin-right:-7px;">
                                <!--Order Date-->

                                <div class="col-md-2" ng-class="{'has-error': !myForm.issuedate.$valid && (myForm.issuedate.$touched || myForm.$submitted) }">
                                    <label class="semi-bold" for="issuedate"><i class="fa fa-calendar"></i>&nbsp;{{"Order Date"| translate }}</label>
                                    <!--<div style="padding: 02px" class="input-append success date col-md-8" data-datepicker="true">-->
                                    <input type="text" id="from_date" name="from_date" class="k-textbox input-sm full-width" ng-model="temp.order_date" required>
                                    <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>-->
                                    <!--</div>-->
                                    <div class="error-container"
                                        ng-show="myForm.issuedate.$dirty && myForm.issuedate.$invalid || myForm.$submitted">
                                        <small class="error"
                                            ng-show="myForm.issuedate.$error.required">Order Date is required.
                                        </small>
                                    </div>
                                </div>

                                <!--Department-->
                                <div class="col-md-2" ng-class="{'has-error': !myForm.cmb_dept.$valid && (myForm.cmb_dept.$touched || myForm.$submitted) }">
                                    <label class="semi-bold" for="cmb_dept"><i class="fa fa-pencil-square-o"></i>&nbsp;{{"Department Name"| translate }}</label>
                                    <select id="cmb_dept" name="cmb_dept" data-role="dropdownlist" class="form-control input-sm full-width" required
                                        ng-model="temp.dep_code"
                                        ng-options="doc.dep_code as doc.dep_name for doc in Department" name="Assemb_code">
                                        <option value="">Please Select</option>
                                    </select>
                                    <div class="error-container"
                                        ng-show="myForm.cmb_dept.$dirty && myForm.cmb_dept.$invalid || myForm.$submitted">
                                        <small class="error"
                                            ng-show="myForm.cmb_dept.$error.required">Department is required.
                                        </small>
                                    </div>
                                </div>

                                <!--Supplier-->

                                <div class="col-md-2" ng-class="{'has-error': !myForm.reqtype.$valid && (myForm.reqtype.$touched || myForm.$submitted) }">
                                    <label class="semi-bold" for="reqtype"><i class="fa fa-bookmark-o"></i>&nbsp;{{"Request Type"| translate }}</label>
                                    <select id="reqtype" name="reqtype" data-role="dropdownlist" class="form-control input-sm full-width" required
                                        ng-model="temp.servicevalue"
                                        ng-options="doc.servicevalue as doc.servicetype for doc in ServiceTypes" name="Assemb_code" ng-change="checkreqtype()">
                                        <option value="">Please Select</option>
                                    </select>
                                    <div class="error-container"
                                        ng-show="myForm.reqtype.$dirty && myForm.reqtype.$invalid || myForm.$submitted">
                                        <small class="error"
                                            ng-show="myForm.reqtype.$error.required">Request Type is required.
                                        </small>
                                    </div>
                                </div>

                                <!--Supplier-->
                                <div class="col-md-2" ng-class="{'has-error': !myForm.cmb_sup.$valid && (myForm.cmb_sup.$touched || myForm.$submitted) }">
                                    <label class="semi-bold" for="cmb_sup"><i class="fa fa-user"></i>&nbsp;{{"Supplier"| translate }}</label>
                                    <select id="cmb_sup" data-role="dropdownlist" class="form-control input-sm full-width" name="cmb_sup" required
                                        ng-model="temp.sup_code"
                                        ng-options="doc.sup_code as doc.sup_name for doc in Suppliers" name="Assemb_code">
                                        <option value="">Please Select</option>
                                    </select>
                                    <div class="col-md-12">
                                        <div class="error-container"
                                            ng-show="myForm.cmb_sup.$dirty && myForm.cmb_sup.$invalid || myForm.$submitted">
                                            <small class="error"
                                                ng-show="myForm.cmb_sup.$error.required">Supplier is required.
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                 <!--Currency-->
                                <div class="col-md-2" ng-class="{'has-error': !myForm.cmb_currency.$valid && (myForm.cmb_currency.$touched || myForm.$submitted) }">
                                    <label class="semi-bold" for="EndDate"><i class="fa fa-money"></i>&nbsp;{{"Currency Description"| translate }}</label>
                                    <select id="cmb_currency" name="cmb_currency" data-role="dropdownlist" class="form-control input-sm full-width" required
                                        ng-model="temp.excg_curcy_code"
                                        ng-options="doc.excg_curcy_code as doc.excg_curcy_desc for doc in CurMaster" name="Assemb_code">
                                        <option value="">Please Select</option>
                                    </select>
                                    <div class="error-container"
                                        ng-show="myForm.cmb_currency.$dirty && myForm.cmb_currency.$invalid || myForm.$submitted">
                                        <small class="error"
                                            ng-show="myForm.cmb_currency.$error.required">Currency is required.
                                        </small>
                                    </div>
                                </div>

                                <!--Delivery Mode-->
                                <div class="col-md-2" ng-class="{'has-error': !myForm.cmb_delivery.$valid && (myForm.cmb_delivery.$touched || myForm.$submitted) }">
                                    <label class="semi-bold" for="EndDate"><i class="fa fa-align-justify"></i>&nbsp;{{"Delivery Mode"| translate }}</label>
                                    <select id="cmb_delivery" name="cmb_delivery" data-role="dropdownlist" class="form-control input-sm full-width" required
                                        ng-model="temp.dm_code"
                                        ng-options="doc.dm_code as doc.dm_name for doc in Deliverymode" name="Assemb_code">
                                        <option value="">Please Select</option>
                                    </select>
                                    <div class="error-container"
                                        ng-show="myForm.cmb_delivery.$dirty && myForm.cmb_delivery.$invalid || myForm.$submitted">
                                        <small class="error"
                                            ng-show="myForm.cmb_delivery.$error.required">Delivery Mode is required.
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="row bluegreed"style="margin-left: -7px;margin-right:-7px;">
                                <!--Expected Date-->
                                <div class="col-md-2" ng-class="{'has-error': !myForm.expecteddate.$valid && (myForm.expecteddate.$touched || myForm.$submitted) }">
                                    <label class="semi-bold" for="EndDate"><i class="fa fa-calendar"></i>&nbsp;{{"Expected Date"| translate }}</label>
                                    <!--<div style="padding: 02px" class="input-append success date col-md-8" data-datepicker="true">-->
                                    <input id="to_date" name="to_date" class="k-textbox full-width input-sm" ng-model="temp.expected_date">
                                    <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                    </div>-->
                                    <div class="error-container"
                                        ng-show="myForm.expecteddate.$dirty && myForm.expecteddate.$invalid || myForm.$submitted">
                                        <small class="error"
                                            ng-show="myForm.expecteddate.$error.required">Expected Date is required.
                                        </small>
                                    </div>
                                </div>

                                <!--Payment Mode-->
                                <div class="col-md-2" ng-class="{'has-error': !myForm.cmb_payment.$valid && (myForm.cmb_payment.$touched || myForm.$submitted) }">
                                    <label class="semi-bold" for="EndDate"><i class="fa fa-money"></i>&nbsp;{{"Payment Mode"| translate }}</label>
                                    <select id="cmb_payment" name="cmb_payment" data-role="dropdownlist" class="form-control input-sm full-width" required
                                        ng-model="temp.pm_code"
                                        ng-options="doc.pm_code as doc.pm_desc for doc in paymentmode" name="Assemb_code">
                                        <option value="">Please Select</option>
                                    </select>
                                    <div class="error-container"
                                        ng-show="myForm.cmb_payment.$dirty && myForm.cmb_payment.$invalid || myForm.$submitted">
                                        <small class="error"
                                            ng-show="myForm.cmb_payment.$error.required">Payment Mode is required.
                                        </small>
                                    </div>
                                </div>
                           
                                <!--Trade Term-->
                                <div class="col-md-2" ng-class="{'has-error': !myForm.cmb_tradeterm.$valid && (myForm.cmb_tradeterm.$touched || myForm.$submitted) }">
                                    <label class="semi-bold" for="EndDate"><i class="fa fa-align-justify"></i>&nbsp;{{"Trade Term"| translate }}</label>
                                    <select id="cmb_tradeterm" name="cmb_tradeterm" data-role="dropdownlist" class="form-control input-sm full-width" required
                                        ng-model="temp.trt_code"
                                        ng-options="doc.trt_code as doc.trt_desc for doc in Trades" name="Assemb_code">
                                        <option value="">Please Select</option>
                                    </select>
                                    <div class="error-container"
                                        ng-show="myForm.cmb_tradeterm.$dirty && myForm.cmb_tradeterm.$invalid || myForm.$submitted">
                                        <small class="error"
                                            ng-show="myForm.cmb_tradeterm.$error.required">Trade Term is required.
                                        </small>
                                    </div>
                                </div>

                                <!--Forward Agent-->
                                <div class="col-md-2" ng-class="{'has-error': !myForm.cmb_fwdagent.$valid && (myForm.cmb_fwdagent.$touched || myForm.$submitted) }">
                                    <label class="semi-bold" for="EndDate"><i class="fa fa-user"></i>&nbsp;{{"Forward Agent"| translate }}</label>
                                    <select id="cmb_fwdagent" name="cmb_fwdagent" data-role="dropdownlist" class="form-control input-sm full-width" required
                                        ng-model="temp.fa_code"
                                        ng-options="doc.fa_code as doc.fa_name for doc in Agent" name="Assemb_code">
                                        <option value="">Please Select</option>
                                    </select>
                                    <div class="error-container"
                                        ng-show="myForm.cmb_fwdagent.$dirty && myForm.cmb_fwdagent.$invalid || myForm.$submitted">
                                        <small class="error"
                                            ng-show="myForm.cmb_fwdagent.$error.required">Forward Agent is required.
                                        </small>
                                    </div>
                                </div>

                                <!--Letter Of Cr.-->
                                <div class="col-md-2" ng-show="lcshow">
                                    <label class="semi-bold" for="EndDate"><i class="fa fa-align-justify"></i>&nbsp;{{"Letter Of Credit"| translate }}</label>
                                    <select id="cmb_lc" data-role="dropdownlist" class="form-control input-sm full-width"
                                        ng-model="temp.lc_no"
                                        ng-options="doc.lc_no as doc.bk_code for doc in LOC" name="Assemb_code">
                                        <option value="">Please Select</option>
                                    </select>
                                </div>

                                <!--Supplyer Qty.Ref OF Cr.-->
                                <div class="col-md-4">
                                    <label class="semi-bold" for="EndDate"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Supplier Qty.Ref"| translate }}</label>
                                    <input type="text" name="Desc" id="Desc_Res" class="k-textbox input-sm full-width" ng-model="temp.supplier_qty_ref" />
                                </div>

                            </div>

                            <div class="row bluegreed"style="margin-left: -7px;margin-right:-7px;">
                                <div class="col-md-3">
                                    <label class="semi-bold" for="heading"><i class="fa fa-align-justify"></i>&nbsp;{{"Heading"| translate }}</label>
                                    <input type="text" name="heading" id="txt_heading" class="k-textbox input-sm full-width" ng-model="temp.invs058_heading" />
                                </div>
                                <div class="col-md-3">
                                    <label class="semi-bold" for="notes"><i class="fa fa-pencil"></i>&nbsp;{{"Notes"| translate }}</label>
                                    <input type="text" name="notes" id="txt_notes" class="k-textbox input-sm full-width" ng-model="temp.invs058_notes" />
                                </div>
                          

                          
                                <div class="col-md-3"><label>&nbsp;</label>
                                    <div class="checkbox check-success" style="height: 20px; margin-top:-3px;">
                                        <input type="checkbox" name="chk_appexp" id="chk_appexp" ng-model="temp.invs058_order_apply_aexp" ng-click="orcalculateamt12()">
                                        <label for="chk_appexp">{{"Apply Order Level Discount to Additional Expenses."| translate }}</label>
                                    </div>
                                </div>

                                <div class="col-md-3"style="margin-top:23px;">
                                    <div class="pull-right">
                                        <button class="btn btn-primary btn-small" type="button" id="designew" ng-click="SearchRequest()">{{"Request Details"| translate }}</button>
                                    </div>
                                </div>
                            </div>



                        

                            <div class="dataTables_wrapper form-inline">
                                    <div class="row margin-top">
                                        <div class="col-md-12"style="background-color:white;">
                                            <table class="table table-bordered table-hover table-condensed" id="fixTable">
                                                <thead>
                                                    <tr>
                                                        <th class="td" style="width: 5%; z-index: 1"></th>
                                                        <th class="semi-bold"><b><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Req No."| translate }}</b></th>
                                                        <th class="semi-bold"><b><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Line  No."| translate }}</b></th>
                                                        <th class="semi-bold"><b><i class="fa fa-align-justify"></i>&nbsp;{{"Item Name"| translate }}</b></th>
                                                        <!--<th class="semi-bold">{{"Suppliers"| translate }}</th>-->
                                                        <th class="semi-bold"><b><i class="fa fa-align-justify"></i>&nbsp;{{"Uom"| translate }}</b></th>
                                                        <th class="semi-bold"><b><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Req Qty"| translate }}</b></th>
                                                        <th class="semi-bold"><b><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Ord Qty"| translate }}</b></th>
                                                        <th class="semi-bold"><b><i class="fa fa-money"></i>&nbsp;{{"Supp Price"| translate }}</b></th>
                                                        <th class="semi-bold"><b><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Disc(%)"| translate }}</b></th>
                                                        <th class="semi-bold"><b><i class="fa fa-money"></i>&nbsp;{{"Disc(amt)"| translate }}</b></th>
                                                        <th class="semi-bold"><b><i class="fa fa-bookmark"></i>&nbsp;{{"Remark"| translate }}</b></th>
                                                        <th class="semi-bold"><b><i class="fa fa-user"></i>&nbsp;{{"Req By"| translate }}</b></th>
                                                        <th class="semi-bold"><b><i class="fa fa-calendar"></i>&nbsp;{{"Req Date"| translate }}</b></th>
                                                        <th class="semi-bold"><b><i class="fa fa-money"></i>&nbsp;{{"Gross Amt"| translate }}</b></th>
                                                        <th class="semi-bold"><b><i class="fa fa-money"></i>&nbsp;{{"Net Amt"| translate }}</b></th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr ng-repeat="info in testALL">
                                                        <!-- <td>
                                                     <div class="checkbox check-success" style="height: 20px">
                                                         <input id="t-{{$index}}" ng-model="info.invs058_rd_line_no1" type="checkbox" ng-click="adddata(info.invs058_rd_line_no1,info)">
                                                         <label for="t-{{$index}}">&nbsp;</label>
                                                     </div>
                                                 </td>-->
                                                        <!--<td><input type="button" value="x" ng-click="removeItem(info,$index)" /></td>-->
                                                        <td><i class="fa fa-cut" ng-click="removeItem(info,$index)"></i></td>
                                                        <!--<td><i class="fa fa-edit" ng-click="removeItem(info,$index)"></i></td>-->
                                                        <td class="td">{{info.invs058_req_no}}</td>
                                                        <td class="td">{{info.invs058_rd_line_no}}</td>
                                                        <td class="td">{{info.invs058_rd_item_desc}}</td>
                                                        <!--<td class="td">{{info.sup_name}}</td>-->
                                                        <td class="td">{{info.invs058_uom_code}}</td>
                                                        <!--<td class="td">{{info.invs058_rd_quantity}}</td>-->
                                                        <td class="td">{{info.req_imn_no_totqty}}</td>

                                                        <td>
                                                            <label id="Label5">
                                                                <input style="width: 60px; height: 25px" aria-controls="example" ng-model="info.invs058_ordered_quantity" class="k-textbox input-sm full-width" ng-change="IsChangeFunction(j)" ng-blur="calamount(info,'')" ng-keypress="onlyNumbers($event,'')">
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label id="Label1">
                                                                <input style="width: 60px; height: 25px" aria-controls="example" ng-model="info.invs058_sup_price" class="k-textbox input-sm full-width" ng-blur="calamount(info,'')" ng-keypress="onlyNumbers($event,'')">
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label id="Label2">
                                                                <input style="width: 50px; height: 25px" aria-controls="example" ng-model="info.invs058_discount" class="k-textbox input-sm full-width" ng-blur="calamount(info,'dis')" ng-keypress="onlyNumbers($event,'')">
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label id="Label3">
                                                                <input style="width: 50px; height: 25px" aria-controls="example" ng-model="info.invs058_discount_amt" class="k-textbox input-sm full-width" ng-blur="calamount(info,'amt')" ng-keypress="onlyNumbers($event,'')">
                                                            </label>
                                                        </td>
                                                        <td class="td">{{info.invs058_rd_remarks}}</td>
                                                        <td class="td">{{info.invs058_sm_name}}</td>
                                                        <td class="td">{{info.invs058_req_date}}</td>
                                                        <td class="td">{{info.invs058_gross_amt}}</td>
                                                        <td class="td">{{info.invs058_rqvalue}}</td>

                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>

                        

                        <div class="row"style="background-color:white;">
                            <div class="col-md-12" style="text-align: right">
                                <label for="grossamt"><b>{{"Total Gross Amount : "| translate }}{{total_grossamt}}</b></label><br />
                                <label for="netamt"><b>{{"Total Net Amount : "| translate }}{{total_netamt}}</b></label><br />
                            </div>
                        </div>

                        <div class="row form-row"style="background-color:white;">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="semi-bold" for="issuedate">{{"Select Expenses"| translate }}</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div id="div22" class="dataTables_wrapper form-inline">
                                    <div style="width: 450px; height: 200px; overflow-x: auto; overflow-y: auto">
                                        <table class="table table-bordered table-condensed" id="fixTable2">
                                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                <tr ng-repeat="ji in OrderAttrs">
                                                    <td>{{ji.or_atdesc}}</td>
                                                    <td>
                                                        <input type="text" name="txt_orvalue" id="order-{{$index}}" class="k-textbox input-sm full-width" ng-model="ji.or_atamount" ng-change="orcalculateamt(ji)" ng-keypress="onlyNumbers($event,'')" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <label for="EndDate"><b>{{"Total Amount" | translate}} : {{totAmt | currency:'':2}}</b></label>
                                    <button  ng-hide="showUpdateBtn" class="btn btn-primary btn-small" type="submit" ng-disabled="savedisabled" ng-click="savedata();">{{"Save"| translate }}</button>
                                    
                                    <button ng-show="showUpdateBtn" class="btn btn-primary btn-small" type="submit" ng-disabled="savedisabled" ng-click="updateRejectedOrder();">{{"Update"| translate }}</button>

                                    <!--<button class="btn btn-primary btn-cons" type="submit" ng-disabled="savedisabled">{{"Save & Finalize"| translate }}</button>-->
                                    <button class="btn btn-warning btn-small" type="button" id="Button2" ng-click="Cancel1()">{{"Cancel"| translate }}</button>
                                </div>
                            </div>
                        </div>

                        <!--<div class="row form-row">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <div class="checkbox check-success" style="height: 20px">
                                    <input type="checkbox" name="chk_appexp" id="chk_appexp" ng-model="applyexp" ng-click="orcalculateamt(ji)">
                                    <label for="chk_appexp">Apply Order Level Discount to Additional Expenses.</label>
                                </div>
                            </div>
                        </div>
                    </div>-->


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="MyModal1" role="dialog" style="display: none;">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 85%;">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header ng-scope" style="height: 40px">
                <button style="margin-top: 4px;margin-left:1072px; height :33px;line-height: 23px;" class="btn btn-primary btn-cons" data-dismiss="modal" type="submit">Close</button>

                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
            </div>
            <div class="grid simple">
                <div class="grid-body no-border paddingcode"style="background-color:transparent;">

                    <!--for search criteria-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row form-row">
                                <!-- <div class="col-md-2">-->
                                <!--<div class="row form-row">
                                        <div class="col-md-12">
                                            <label>Supplier</label>
                                        </div>
                                        <div class="col-md-12">
                                            <select id="sel_srchsupplier" data-role="dropdownlist" class="form-control input-sm full-width" name="cmb_srchsupplier" required
                                                ng-model="srchsupplier"
                                                ng-options="doc.sup_code as doc.sup_name for doc in Suppliers_srch" name="sel_nmsrchsupplier">
                                                <option value="">Please Select</option>
                                            </select>
                                        </div>
                                    </div>-->
                                <!--</div>-->
                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label><i class="fa fa-dashboard"></i>&nbsp;{{"Item Code" | translate}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <select id="rcbItem" 
                                                ng-model="srchitemcode" style="width: 100%"
                                                ng-options="doc as doc.im_desc for doc in rcbItems" tabindex="2" ng-change="getitemCode(srchitemcode);" name="srchnmitemcode">
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Requisition No" | translate}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <select id="sel_req_no" data-role="dropdownlist" class="form-control input-sm full-width"
                                                ng-model="srch_req_no" style="width: 100%"
                                                ng-options="doc.invs058_req_no as doc.invs058_req_no for doc in rcbreqs" tabindex="2" ng-change="rejectOrderNo='';showUpdateBtn=false;">
                                                <option value="">Requisition number</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2" ng-show="showRejectedOrders">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Rejected Order" | translate}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <select id="sel_req_no" data-role="dropdownlist" class="form-control input-sm full-width"
                                                    ng-model="rejectOrderNo" style="width: 100%"
                                                    ng-options="doc.ord_no as doc.ord_no for doc in rejectedOrders" tabindex="3" ng-change="srch_req_no=''; showUpdateBtn=true;">
                                                    <option value="">Rejected order number</option>  
                                            </select>
                                                
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="row form-row">

                                        <div class="col-md-12">
                                            <label>&nbsp;</label>
                                        </div>
                                        <div class="col-md-12">
                                            <button class="btn btn-success btn-small" ng-click="SearchRequests();" type="button">{{"Search"| translate }}</button>                                           
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>&nbsp;</label>
                                        </div>
                                        <div class="col-md-12">
                                            <button class="btn btn-warning btn-small" ng-click="ResetRequests();" type="button"style="margin-left:-21px;">{{"Reset"| translate }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row form-row">
                        <div class="col-md-6">
                            <select id="Select1" style="width: 65px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                                <option value="5" class="form-control input-sm">5
                                </option>
                                <option value="10" class="form-control input-sm">10
                                </option>
                                <option value="15" class="form-control input-sm">15
                                </option>
                                <option value="100" class="form-control input-sm">
                                    100
                                </option>
                                <option value="200" class="form-control input-sm">
                                    200
                                </option>
                                <option value="300" class="form-control input-sm">
                                    300
                                </option>
                                <option value="400" class="form-control input-sm">
                                    400
                                </option>
                            </select>
                            &nbsp;
                            <!--<button class="btn btn-success" style="height: 35px" type="button" ng-click="New()" ng-show="true"><span class="semi-bold">+&nbsp;</span>{{ "New" | translate }}</button>-->
                            <!--<button class="btn btn-success" style="height: 35px" type="button" ng-click="New()" ng-show="true"><span class="semi-bold">&nbsp;</span>{{ "" | translate }}</button>-->
                            &nbsp;
                            <button class="btn btn-white btn-small" type="button" ng-click="Delete()" ng-show="false"><span class="semi-bold"></span>{{ "Delete" | translate }}</button>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <div class="dataTables_filter" id="example_filter">
                                    <!--<label>
                                    {{ "Search:" | translate }} &nbsp;-->
                                    <span class="k-textbox k-space-right full-width">
                                        <input type="text" aria-controls="example" ng-model="searchText" placeholder="Item Desc/Req No" class="k-textbox input-sm" autofocus="autofocus" tabindex="1" ng-change="search()"><!--/label>-->
                                        <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-md-6">

                            <div class="pull-right">
                                <div class="dataTables_filter" id="example_filter">
                                    <label>
                                        {{ "Search:" | translate }} &nbsp;
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Item Code/Item Desc" class="input-medium" autofocus="autofocus" tabindex="1" ng-change="search()"></label>
                                </div>
                            </div>
                        </div>-->
                    </div>

                    <div class="row" ng-show="notshow">
                        <div class="col-xs-4">
                            <div class="well" class="form-group">
                                <div class="form-group">
                                    <label>Current Page:</label>
                                    <input placeholder="page"
                                        class="form-control"
                                        ng-model="currentPage"
                                        ng-init="currentPage = 1" />
                                </div>
                                <div class="form-group">
                                    <label>Page Size:</label>
                                    <input placeholder="Page Size"
                                        class="form-control"
                                        ng-model="numPerPage" />
                                </div>
                                <div class="form-group">
                                    <label>Total Items:</label>
                                    <input placeholder="Total"
                                        class="form-control"
                                        ng-model="pagersize" />
                                </div>
                                <hr />
                                <div class="form-group">
                                    <label>Dots Display:</label>
                                    <input placeholder="..."
                                        class="form-control"
                                        maxlength="3"
                                        ng-model="dots"
                                        ng-init="dots = '...'" />
                                </div>

                                <hr />
                                <div class="form-group">
                                    <label>UL Class:</label>
                                    <input placeholder="pagination"
                                        class="form-control"
                                        maxlength="100"
                                        ng-model="ulClass" />
                                </div>
                                <div class="form-group">
                                    <label>Active Class:</label>
                                    <input placeholder="active"
                                        class="form-control"
                                        maxlength="100"
                                        ng-model="activeClass"
                                        ng-init="activeClass = 'active'" />
                                </div>
                                <div class="form-group">
                                    <label>Disabled Class:</label>
                                    <input placeholder="disabled"
                                        class="form-control"
                                        maxlength="100"
                                        ng-model="disabledClass"
                                        ng-init="disabledClass = 'disabled'" />
                                </div>
                                <br />
                                <table class="table">

                                    <tr>
                                        <td>
                                            <label>Show Prev Next:</label>
                                        </td>
                                        <td>
                                            <input type="checkbox"
                                                ng-model="showPrevNext"
                                                ng-init="showPrevNext = true" />
                                            {{showPrevNext}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Show First Last:</label>
                                        </td>
                                        <td>
                                            <input type="checkbox"
                                                ng-model="showFirstLast"
                                                ng-init="showFirstLast = true" />
                                            {{showPrevNext}}
                                        </td>
                                    </tr>
                                </table>
                                <hr />
                                <span class="btn btn-default" onclick="location.reload()">
                                    <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                                </span>
                                <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                                </span>
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>

                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <div class="row margin-top">
                            <div class="col-md-12">
                                <table class="table table-bordered table-condensed" id="fixTable1">
                                    <thead>
                                        <tr>
                                            <th>
                                                <div class="checkbox check-success">
                                                    <input id="mainchk1" type="checkbox" value="1" ng-click="CheckAllService()">
                                                    <label for="mainchk1"></label>
                                                </div>
                                            </th>
                                            <th class="semi-bold"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Req No"| translate }}</th>
                                            <th class="semi-bold"><i class="fa fa-calendar"></i>&nbsp;{{"Req Date"| translate }}</th>
                                            <th class="semi-bold"><i class="fa fa-user"></i>&nbsp;{{"Req By"| translate }}</th>
                                            <th class="semi-bold" ng-click="sortBy('invs058_rd_line_no')"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Req Line No"| translate }}
                                                <span class="sortorder" ng-show="propertyName === 'invs058_rd_line_no'" ng-class="{reverse: reverse}"></span>                                            </th>
                                            <th class="semi-bold"><i class="fa fa-dashboard"></i>&nbsp;{{"Item Code"| translate }}</th>
                                            <th class="semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"Item Desc"| translate }}</th>
                                            <th class="semi-bold"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Cur Qty"| translate }}</th>
                                            <th class="semi-bold"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Ord Qty"| translate }}</th>
                                            <th class="semi-bold"><i class="fa fa-pencil-square-o"></i>&nbsp;{{"Dept"| translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <!--<tr ng-repeat="ji in search_Req_Data1" ng-click="editData(ji)">-->
                                        <tr ng-repeat="ji in filteredTodos | orderBy:propertyName:reverse" ng-click="editData(ji)">
                                            <td>
                                                <div class="checkbox check-success" style="height: 20px">
                                                    <input id="test-{{$index}}" ng-model="ji.req_no1" type="checkbox" value="1" ng-click="checkonebyoneselectServices()">
                                                    <label for="test-{{$index}}"></label>
                                                </div>
                                            </td>
                                            <td class="td">{{ji.invs058_req_no}}</td>
                                            <td class="td">{{ji.invs058_req_date}}</td>
                                            <td class="td">{{ji.invs058_sm_name}}</td>
                                            <td class="td">{{ji.invs058_rd_line_no}}</td>
                                            <td class="td">{{ji.im_item_code}}</td>
                                            <td class="td">{{ji.invs058_rd_item_desc}}</td>
                                            <td class="td">{{ji.currentqty}}</td>
                                            <td class="td">{{ji.orderedqty}}</td>
                                            <td class="td">{{ji.invs058_dep_name}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                    scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                    paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                    ng-click="index(currentPage)">
                                </paging>
                            </div>
                            
                            <div  class="row margin-top">
                                <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c btn-small" ng-click="okbuttonclick();" data-dismiss="modal" type="submit">{{"OK"| translate }}</button>
                                <!--<button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="selectmodeldatasave();" type="button">{{"Save"| translate }}</button>-->

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="modal fade in" id="Modal_AddSuppliers" role="dialog" style="display: none;">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 75%;">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header ng-scope" style="height: 40px">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="grid simple">
                <div class="grid-body no-border">
                    <div class="row column-seperation">
                        <div class="tab-pane" id="Div2" aria-expanded="true">
                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <div id="Div3" class="dataTables_wrapper form-inline">
                                            <div style="width: 100%; height: 300px; overflow-x: auto; overflow-y: auto">
                                                <table class="table table-bordered table-condensed" id="Table1">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th class="semi-bold">{{"REQUEST NO"| translate }}</th>
                                                            <th class="semi-bold">{{"REQUEST DATE"| translate }}</th>
                                                            <th class="semi-bold">{{"ITEM NO"| translate }}</th>
                                                            <th class="semi-bold">{{"ITEM DESC"| translate }}</th>
                                                            <th class="semi-bold">{{"SUPPLIER"| translate }}</th>
                                                            <th class="semi-bold">{{"ITEM QUANTITY"| translate }}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                        <tr ng-repeat="ji in search_Req_Data" ng-click="editData(ji)">
                                                            <td>
                                                                <div class="checkbox check-success" style="height: 20px">
                                                                    <input id="Checkbox1" ng-model="ji.req_no1" type="checkbox" value="1">
                                                                    <label for="{{invs058_req_no+$index}}"></label>
                                                                </div>
                                                            </td>

                                                            <td class="td">{{ji.invs058_req_no}}</td>
                                                            <td class="td">{{ji.invs058_req_date}}</td>
                                                            <td class="td">{{ji.invs058_im_inv_no}}</td>
                                                            <td class="td" style="width: 50px">
                                                                <select ng-options="i.sup_code as i.supname for i in info.lst_suppliers"></select>
                                                            </td>
                                                            <td class="td">{{ji.invs058_rd_item_desc}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="okbuttonclick();" data-dismiss="modal" type="submit">{{"OK"| translate }}</button>
                                <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="selectmodeldatasave();" type="button">{{"Save"| translate }}</button>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>-->

<script src="assets/js/tabs_accordian.js"></script>
<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>
