﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>


            <div class="page-title">
                <h3><span class="semi-bold">{{"Custom"| translate }}&nbsp;</span>{{"Expenses"| translate }}</h3>
            </div>

            <div class="grid-body no-border">
            <form name="myForm" ng-submit="Save(myForm.$valid)" novalidate="novalidate">
                <div  ng-show="operation">
                    <div class="row">
                                <div class="col-md-2" ng-class="{'has-error': !myForm.regno.$valid && (myForm.regno.$touched || myForm.$submitted) }">
                                    <label id="lbl_reg_no" for="txt_reg_no" class="form-label">{{"Registration No"| translate }}<span style="color:red; font-size:18px">*</span></label>
                                    <select id="cmb_reg_no"   data-role="dropdownlist" class="form-control input-sm full-width"name="regno" ng-show="newmode" required
                                            ng-model="edt.ccl_reg_no" ng-change="getShipmentDetails(edt.ccl_reg_no);"
                                            ng-options="CCl_Reg.ccl_reg_no as CCl_Reg.ccl_reg_no for CCl_Reg in CCl_Reg_no_data">
                                        <option value="">Please Select</option>
                                    </select>
                                    <p class="help-block" ng-show="myForm.regno.$error.required && (myForm.regno.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                    <input type="text" id="Text_reg_no" ng-model="edt.ccl_reg_no" class="k-textbox input-sm full-width" ng-show="editmode" disabled="disabled" />
                                </div>
                                <div class="col-md-2" ng-class="{'has-error': !myForm.petcode.$valid && (myForm.petcode.$touched || myForm.$submitted) }">
                                    <label id="lbl_pet_code" for="txt_pet_code" class="form-label">{{"Pet Code"| translate }}<span style="color:red; font-size:18px">*</span></label>
                                    <select id="cmb_pet_code"  data-role="dropdownlist" class="form-control input-sm full-width" name="petcode" required
                                            ng-model="edt.pet_code"
                                            ng-options="pet.pet_code as pet.pet_desc for pet in PetDesc_Data">
                                        <option value="">Please Select</option>
                                    </select>
                                    <p class="help-block" ng-show="myForm.petcode.$error.required &&  (myForm.petcode.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                    <!--<input type="text" id="Text_pet" ng-model="edt.pet_desc" class="form-control input-sm" ng-show="editmode" disabled="disabled" />-->
                                </div>
                                <div class="col-md-2" ng-class="{'has-error': !myForm.ccno.$valid && (myForm.ccno.$touched || myForm.$submitted) }">
                                    <label id="lbl_referance_no" for="txt_referance_no" class="form-label">{{"CC Number"| translate }}<span style="color:red; font-size:18px">*</span></label>
                                    <select id="cmb_referance_no"  data-role="dropdownlist" class="form-control input-sm full-width" name="ccno" required
                                            ng-model="edt.cc_no"
                                            ng-options="cc.cc_no as cc.cc_no for cc in CCNoFromCCheques">
                                        <option value="">Please Select</option>
                                    </select>
                                    <p class="help-block" ng-show="myForm.ccno.$error.required &&  (myForm.ccno.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                </div>

                                <div class="col-md-2" ng-class="{'has-error': !myForm.date.$valid && (myForm.date.$touched || myForm.$submitted) }">
                                    <label id="lbl_date" class="form-label">{{"Reference Date"| translate}}<span style="color:red; font-size:18px">*</span></label>
                                        <input id="from_date" required placeholder="Select Date" name="ref_date" class="k-textbox full-width input-sm" ng-model="edt.ce_ref_date">  
                                    
                                    <p class="help-block" ng-show="myForm.date.$error.required &&  (myForm.date.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                </div>

                                <div class="col-md-2" ng-class="{'has-error': !myForm.amount.$valid && (myForm.amount.$touched || myForm.$submitted) }">
                                    <label id="lbl_amount" for="txt_amount" class="form-label">{{"Amount"| translate }}<span style="color:red; font-size:18px">*</span></label>
                                    <input type="text" id="txt_amount" ng-model="edt.ce_amount" class="k-textbox input-sm full-width" name="amount" ng-maxlength="16" ng-pattern="/^[\.0-9]{1,20}$/" required />
                                    <p class="help-block" ng-show="myForm.amount.$error.required &&  (myForm.amount.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                    <p class="help-block" ng-show="myForm.amount.$error.maxlength &&  (myForm.amount.$touched || myForm.$submitted)">
                                        Amount should be 16 digit
                                    </p>
                                    <p class="help-block" ng-show="myForm.amount.$error.pattern &&  (myForm.amount.$touched || myForm.$submitted)">
                                        Enter Digit only
                                    </p>
                                </div>

                                <div class="col-md-2" ng-class="{'has-error': !myForm.ref_no.$valid && (myForm.ref_no.$touched || myForm.$submitted) }">
                                    <label id="lbl_ref_no" for="txt_ref_no" class="form-label">{{"Reference No"| translate }}<span style="color:red; font-size:18px">*</span></label>
                                    <input type="text" id="txt_ref_no" ng-model="edt.ce_ref_no" class="k-textbox input-sm full-width" name="ref_no" ng-maxlength="20" ng-pattern="/^[0-9]{1,20}$/" required />
                                    <p class="help-block" ng-show="myForm.ref_no.$error.required &&  (myForm.ref_no.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                    <p class="help-block" ng-show="myForm.ref_no.$error.maxlength &&  (myForm.ref_no.$touched || myForm.$submitted)">
                                        Referance no should be 20 digit
                                    </p>
                                    <p class="help-block" ng-show="myForm.ref_no.$error.pattern &&  (myForm.ref_no.$touched || myForm.$submitted)">
                                        Enter Digit only
                                    </p>
                                </div>
                            </div>

                    <div class="col-md-12">
                        <div class="form-actions">
                            <div class="pull-right">
                                <button class="btn btn-primary btn-small" type="submit" ng-show="savebtn"><i class="icon-ok"></i>{{"Save"| translate }}</button>
                                <button class="btn btn-primary btn-small" type="button" ng-show="updatebtn" ng-click="Update(myForm.$valid)"><i class="icon-ok"></i>{{"Update"| translate }}</button>
                                <button class="btn btn-danger btn-small" type="button" ng-show="deletebtn" ng-click="deleterecord()"><i class="icon-ok"></i>{{"Delete"| translate }}</button>
                                <button class="btn btn-warning btn-small" type="button" ng-click="cancel()">{{"Cancel"| translate }}</button>
                            </div>
                        </div>
                     </div>
                </div>
            </form>

                <div ng-show="showShipmentDetails">                   
                    <div id="example_wrapper" class="dataTables_wrapper form-inline">                        
                        <div class="row margin-top">
                            <div class="col-md-12">
                                <h4><strong>Shipment Details </strong></h4>
                                <table class="table table-bordered  table-condensed" id="fixTable">
                                    <thead>
                                        <tr style="background-color: #edefef">
                                            
                                            <th ng-click="orderByField='ar_code'; reverseSort = !reverseSort"><b>{{"Shipment No"| translate }} <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span></b></th>                                            
                                            <th class="semi-bold"><b>{{"Order No"| translate}}</b></th>
                                            <th class="semi-bold"><b>{{"Item Name"| translate}}</b></th>
                                            <th class="semi-bold"><b>{{"Order Qty"| translate}}</b></th>
                                            <th class="semi-bold"><b>{{"Shipped Qty"| translate }}</b></th>
                                            <th class="semi-bold"><b>{{"Supplier Name"| translate }}</b></th>
                                            <th class="semi-bold"><b>{{"Delivery Mode"| translate }}</b></th>
                                            <th class="semi-bold"><b>{{"Shipment Date"| translate }}</b></th>
                                            <th class="semi-bold"><b>{{"Party Ref"| translate }}</b></th>
                                            <th class="semi-bold"><b>{{"Remark"| translate }}</b></th>                                            
                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="obj in shipmentDetails | orderBy:orderByField:reverseSort" ng-class="row1">
                                           
                                            <td>{{obj.invs051_sr_shipment_no}}</td>
                                            <td>{{obj.ord_no}}</td>
                                            <td>{{obj.im_desc}}</td>
                                            <td>{{obj.od_order_qty}}</td>
                                            <td>{{obj.od_shipped_qty}}</td>
                                            <td>{{obj.od_sup_name}}</td>
                                            <td>{{obj.dm_name}}</td>
                                            <td>{{obj.sr_bill_of_lading_date}}</td>
                                            <td>{{obj.sr_party_ref}}</td>
                                            <td>{{obj.sr_remarks}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>



            <!--table-->


            <div  ng-show="table1">
                
                <div class="row form-row">
                    <div class="col-md-6">
                        <select id="Select12" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                            <option value="10" class="form-control input-sm">
                                10
                            </option>

                            <option value="20" class="form-control input-sm">
                                20
                            </option>

                            <option value="All" class="form-control input-sm">
                                All
                            </option>
                        </select>

                        &nbsp;
                        <button class="btn btn-success btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate}}</button>
                        &nbsp;
                        <button class="btn btn-danger btn-small" type="button" ng-click="deleterecord()"><span class="semi-bold"></span>{{"Delete"| translate}}</button>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="Div1">
                                <!--<label>
                                    {{"Search"| translate}}  &nbsp;--><span class="k-textbox k-space-right full-width">
                                    <input type="text" placeholder="Search" aria-controls="example" ng-model="searchText" class="k-textbox input-sm full-width" ng-change="search();">
                               <!-- </label>--><a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                   <div class="row margin-top">
                        <div class="col-md-12">
                        <table class="table table-bordered  table-condensed" id="fixTable">
                            <thead>
                                <tr style="background-color: #edefef">
                                    <th class="small-cell v-align-middle" style="z-index:1">
                                        <div class="checkbox check-success">
                                            <input type="checkbox" name="check" value="1" id="mainchk" ng-click="CheckAllChecked();">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>

                                    <th ng-click="orderByField='ar_code'; reverseSort = !reverseSort"><b>{{"Registration No"| translate }} <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span></b></th>
                                   <!-- <th class="semi-bold">{{"Registration No"| translate }}</th>-->
                                    <th class="semi-bold"><b>{{"Pet Code"| translate}}</b></th>
                                    <th class="semi-bold"><b>{{"Pet Desc"| translate}}</b></th>
                                    <th class="semi-bold"><b>{{"CC Number"| translate }}</b></th>
                                    <th class="semi-bold"><b>{{"Referance Date"| translate }}</b></th>
                                    <th class="semi-bold"><b>{{"Amount"| translate }}</b></th>
                                    <th class="semi-bold"><b>{{"Reference No"| translate }}</b></th>
                                    <th class="semi-bold"><i class="fa fa fa-cogs"></i></th>

                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <tr ng-repeat="obj in filteredTodos | orderBy:orderByField:reverseSort" ng-class="row1">
                                    <td class="small-cell v-align-middle">
                                        <div class="row-fluid" style="height: 20px">
                                            <div class="checkbox check-success">
                                                <input type="checkbox" value="1" id="{{$index}}" ng-click="checkonebyonedelete()">
                                                <label for="{{$index}}"></label>
                                            </div>
                                        </div>
                                    </td>

                                    <td>{{obj.ccl_reg_no}}</td>
                                    <td>{{obj.pet_code}}</td>
                                    <td>{{obj.pet_desc}}</td>
                                    <td>{{obj.cc_no}}</td>
                                    <td>{{obj.ce_ref_date}}</td>
                                    <td>{{obj.ce_amount}}</td>
                                    <td>{{obj.ce_ref_no}}</td>

                                    <td>
                                        <a href=""><i class="fa fa-edit" ng-click="up(obj)"></i></a>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div></div>
                </div>

                 <div class="row">
                        <div class="col-md-12">
                    <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>
                        </div>
                    </div>
                </div>

            
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="message">
    <div class="modal-dialog" id="Div4" style="width: 300px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="semi-bold pull-left">Message</h5>
                <br />
            </div>
            <div class="modal-body">
                <br />
                <label>{{msg1.strMessage}}</label>
                <br />
            </div>
            <div class="modal-footer" style="height: 60px">
                <button type="button" class="btn btn-primary btn-small" data-dismiss="modal" ng-click="maindata();">Ok</button>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!---end modal-->
</div>

<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>