﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                class="form-control"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                class="form-control"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>


            <div class="page-title">
                <h3><span class="semi-bold">{{"Custom"| translate }}&nbsp;</span>{{"Clearance"| translate }}</h3>
            </div>

            <div class="grid-body no-border">
                <form name="myForm" ng-submit="Save(myForm.$valid)" novalidate="novalidate">
                    <div ng-show="operation">

                        <div class="row">
                            <div class="col-md-2" ng-class="{'has-error': !myForm.ccldate.$valid && (myForm.ccldate.$touched || myForm.$submitted) }">
                                <label id="lbl_date" class="form-label">{{"Date"| translate}}<span style="color: red; font-size: 18px">*</span></label>
                                <!--<div class="input-append success date col-md-10 col-lg-6 no-padding" data-datepicker="true">-->
                                <input type="text" id="date1" class="k-textbox input-sm full-width" ng-model="edt.ccl_date" name="ccldate" required>
                                <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                    </div>-->
                                <p class="help-block" ng-show="myForm.ccldate.$error.required &&  (myForm.ccldate.$touched || myForm.$submitted)">
                                    This field is required
                                </p>
                            </div>
                            <div class="col-md-2" ng-class="{'has-error': !myForm.shipment.$valid && (myForm.shipment.$touched || myForm.$submitted) }">
                                <label id="lbl_shipment" for="txt_shipment" class="form-label">{{"Shipment Reg No"| translate }}<span style="color: red; font-size: 18px">*</span></label>
                                <select id="cmb_shipment" data-role="dropdownlist" class="form-control input-sm full-width" name="shipment" required
                                    ng-model="edt.sr_shipment_no"
                                    ng-options="ship_no.sr_shipment_no as ship_no.sr_shipment_no for ship_no in ShipmentNo">
                                    <option value="">Please Select</option>
                                </select>
                                <p class="help-block" ng-show="myForm.shipment.$error.required &&  (myForm.shipment.$touched || myForm.$submitted)">
                                    This field is required
                                </p>
                                <!-- <input type="text" id="Text_year" ng-model="temp.sims_academic_year_description" class="form-control input-sm" ng-show="editmode" disabled="disabled" />-->
                            </div>
                            <div class="col-md-2" ng-class="{'has-error': !myForm.entryno.$valid && (myForm.entryno.$touched || myForm.$submitted) }">
                                <label id="lbl_entryno" for="txt_entryno" class="form-label">{{"Customs Entry No"| translate }}<span style="color: red; font-size: 18px">*</span></label>
                                <input type="text" id="txt_entryno" ng-model="edt.ccl_customs_entry_no" class="form-control input-sm" name="entryno" ng-pattern="/^[0-9]{1,20}$/" ng-maxlength="20" required />

                                <p class="help-block" ng-show="myForm.entryno.$error.required &&  (myForm.entryno.$touched || myForm.$submitted)">
                                    This field is required
                                </p>

                                <p class="help-block" ng-show="myForm.entryno.$error.maxlength &&  (myForm.entryno.$touched || myForm.$submitted)">
                                    Customs entry no. should be 20 digit
                                </p>
                                <p class="help-block" ng-show="myForm.entryno.$error.pattern &&  (myForm.entryno.$touched || myForm.$submitted)">
                                    Enter Digit only
                                </p>
                            </div>
                            <div class="col-md-2" ng-class="{'has-error': !myForm.edate.$valid && (myForm.edate.$touched || myForm.$submitted) }">
                                <label id="lbl_entry_date" class="form-label">{{"Entry Date"| translate}}<span style="color: red; font-size: 18px">*</span></label>

                                <!--<div class="input-append success date col-md-10 col-lg-6 no-padding" data-datepicker="true">-->
                                <input type="text" id="entry_date" class="k-textbox input-sm full-width" ng-model="edt.ccl_customs_entry_date" name="edate" required>
                                <!-- <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                    </div>-->

                                <p class="help-block" ng-show="myForm.edate.$error.required &&  (myForm.edate.$touched || myForm.$submitted)">
                                    This field is required
                                </p>
                            </div>
                            <div class="col-md-2">
                                <label id="lbl_lading_date" class="form-label">{{"Lading Date"| translate}}</label>

                                <!--<div class="input-append success date col-md-10 col-lg-6 no-padding" data-datepicker="true">-->
                                <input type="text" id="lading_date" class="k-textbox input-sm full-width" ng-model="edt.ccl_bill_of_lading_date">
                                <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                    </div>-->
                            </div>
                            <div class="col-md-2" ng-class="{'has-error': !myForm.lading.$valid && (myForm.lading.$touched || myForm.$submitted) }">
                                <label id="lbl_ladingbill" for="txt_ladingbill" class="form-label">{{"Bill Of Lading"| translate }}</label>
                                <input type="text" id="txt_ladingbill" ng-model="edt.ccl_bill_of_lading" class="k-textbox input-sm full-width" name="lading" ng-maxlength="50" />
                                <p class="help-block" ng-show="myForm.lading.$error.maxlength &&  (myForm.lading.$touched || myForm.$submitted)">
                                    Bill of lading should be 50 digits
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4" ng-class="{'has-error': !myForm.remarks.$valid && (myForm.remarks.$touched || myForm.$submitted) }">
                                <label id="lbl_remark" for="txt_entryno" class="form-label">{{"Remark"| translate }}</label>
                                <input type="text" id="txt_remark" ng-model="edt.ccl_remarks" class="k-textbox input-sm full-width" name="remarks" ng-maxlength="100" />
                                <p class="help-block" ng-show="myForm.remarks.$error.maxlength &&  (myForm.remarks.$touched || myForm.$submitted)">
                                    Remark should be 100 characters
                                </p>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-actions">
                                <div class="pull-right">
                                    <button class="btn btn-primary btn-small" type="submit" ng-show="savebtn"><i class="icon-ok"></i>{{"Save"| translate }}</button>
                                    <button class="btn btn-primary btn-small" type="button" ng-show="updatebtn" ng-click="Update(myForm.$valid)"><i class="icon-ok"></i>{{"Update"| translate }}</button>
                                    <button class="btn btn-danger btn-small" type="button" ng-show="deletebtn" ng-click="deleterecord()"><i class="icon-ok"></i>{{"Delete"| translate }}</button>
                                    <button class="btn btn-warning btn-small" type="button" ng-click="cancel()">{{"Cancel"| translate }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>



                <!--table-->


                <div ng-show="table1">

                    <div class="row">
                        <div class="col-md-6">
                            <select id="Select12" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                <option value="10" class=" form-control input-sm">10
                                </option>

                                <option value="20" class=" form-control input-sm">20
                                </option>

                                <option value="All" class="form-control input-sm">All
                                </option>
                            </select>

                            &nbsp;
                        <button class="btn btn-success btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate}}</button>
                            &nbsp;
                        <button class="btn btn-danger btn-small" type="button" ng-click="deleterecord()"><span class="semi-bold"></span>{{"Delete"| translate}}</button>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <div class="dataTables_filter" id="Div1">
                                    <!--<label>
                                    {{"Search"| translate}}  &nbsp;-->
                                    <span class="k-textbox k-space-right full-width">
                                        <input type="text" placeholder="Search" aria-controls="example" ng-model="searchText" class="k-textbox input-sm full-width" ng-change="search();">
                                        <!--</label>-->
                                        <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <div class="row margin-top">
                            <div class="col-md-12">
                                <table class="table table-bordered  table-condensed" id="fixTable">
                                    <thead>
                                        <tr style="background-color: #edefef">
                                            <th class="small-cell v-align-middle" style="z-index: 1">
                                                <div class="checkbox check-success">
                                                    <input type="checkbox" name="check" value="1" id="mainchk" ng-click="CheckAllChecked();">
                                                    <label for="mainchk"></label>
                                                </div>
                                            </th>

                                            <th class="semi-bold">{{"Customer Register No"| translate }}</th>
                                            <th class="semi-bold">{{"Date"| translate}}</th>
                                            <th class="semi-bold">{{"Shipment Reg No"| translate }}</th>
                                            <th class="semi-bold">{{"Customs Entry No"| translate }}</th>
                                            <th class="semi-bold">{{"Entry Date"| translate }}</th>
                                            <th class="semi-bold">{{"Remark"| translate }}</th>
                                            <th class="semi-bold">{{"Lading Date"| translate}}</th>
                                            <th class="semi-bold">{{"Bill Of Lading"| translate}}</th>
                                            <th class="semi-bold"><i class="fa fa fa-cogs"></i></th>

                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="obj in filteredTodos" ng-class="row1">
                                            <td class="small-cell v-align-middle">
                                                <div class="row-fluid" style="height: 20px">
                                                    <div class="checkbox check-success">
                                                        <input type="checkbox" value="1" id="{{obj.ccl_reg_no+$index}}" ng-click="checkonebyonedelete()">
                                                        <label for="{{obj.ccl_reg_no+$index}}"></label>
                                                    </div>
                                                </div>
                                            </td>

                                            <td>{{obj.ccl_reg_no}}</td>
                                            <td>{{obj.ccl_date}}</td>
                                            <td>{{obj.sr_shipment_no}}</td>
                                            <td>{{obj.ccl_customs_entry_no}}</td>
                                            <td>{{obj.ccl_customs_entry_date}}</td>
                                            <td>{{obj.ccl_remarks}}</td>
                                            <td>{{obj.ccl_bill_of_lading_date}}</td>
                                            <td>{{obj.ccl_bill_of_lading}}</td>

                                            <td>
                                                <a href=""><i class="fa fa-edit" ng-click="up(obj)"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                    scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                    paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                    ng-click="index(currentPage)">
                                </paging>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="message">
    <div class="modal-dialog" id="Div4" style="width: 300px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="semi-bold pull-left">Message</h5>
                <br />
            </div>
            <div class="modal-body">
                <br />
                <label>{{msg1.strMessage}}</label>
                <br />
            </div>
            <div class="modal-footer" style="height: 60px">
                <button type="button" class="btn btn-primary btn-small" data-dismiss="modal" ng-click="maindata();">Ok</button>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!---end modal-->
</div>

<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>
