﻿<style>
    .bluegreed {
    background: #d8ebf4 !important;
    padding-bottom: 6px !important;
    padding-top: 6px !important;
}
    </style><div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Inventory Direct Order"| translate }}</span></h3>
            </div>
            <div class="grid-body no-border paddingcode"style="background-color:transparent;">
                <div ng-show="table">
                    <form name="myForm" novalidate>
                        <div class="row form-row">
                            <div class="col-md-12 bluegreed"style="margin-left:-4px;margin-right:-4px;">
                                <!--Order Date-->

                                <div class="col-md-2" ng-class="{'has-error': !myForm.issuedate.$valid && (myForm.issuedate.$touched || myForm.$submitted) }">
                                    <label class="semi-bold" for="issuedate"><i class="fa fa-calendar"></i>&nbsp;{{"Order Date"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <!--<div style="padding: 02px" class="input-append success date col-md-8" data-datepicker="true">-->
                                    <input type="text" id="from_date" name="from_date" class="k-textbox full-width input-sm" ng-model="temp.order_date" required>
                                    <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                </div>-->
                                    <div class="error-container"
                                        ng-show="myForm.issuedate.$dirty && myForm.issuedate.$invalid || myForm.$submitted">
                                        <small class="error"
                                            ng-show="myForm.issuedate.$error.required">Order Date is required.
                                        </small>
                                    </div>
                                </div>

                                <!--Department-->
                                <div class="col-md-2" ng-class="{'has-error': !myForm.cmb_dept.$valid && (myForm.cmb_dept.$touched || myForm.$submitted) }">
                                    <label class="semi-bold" for="cmb_dept"><i class="fa fa-pencil-square-o"></i>&nbsp;{{"Department Name"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <select id="cmb_dept" name="cmb_dept" data-role="dropdownlist" class="form-control input-sm full-width" required
                                        ng-model="temp.dep_code"
                                        ng-options="doc.dep_code as doc.dep_name for doc in Department" name="Assemb_code" ng-change="checkreqtype_dep()">
                                        <option value="">Please Select</option>
                                    </select>
                                    <div class="error-container"
                                        ng-show="myForm.cmb_dept.$dirty && myForm.cmb_dept.$invalid || myForm.$submitted">
                                        <small class="error"
                                            ng-show="myForm.cmb_dept.$error.required">Department is required.
                                        </small>
                                    </div>
                                </div>

                                <!--Supplier-->

                                <div class="col-md-2" ng-class="{'has-error': !myForm.reqtype.$valid && (myForm.reqtype.$touched || myForm.$submitted) }">
                                    <label class="semi-bold" for="reqtype"><i class="fa fa-bookmark-o"></i>&nbsp;{{"Request Type"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <select id="reqtype" name="reqtype" data-role="dropdownlist" class="form-control input-sm full-width" required
                                        ng-model="temp.servicevalue"
                                        ng-options="doc.servicevalue as doc.servicetype for doc in ServiceTypes" name="Assemb_code" ng-change="checkreqtype()">
                                        <option value="">Please Select</option>
                                    </select>
                                    <div class="error-container"
                                        ng-show="myForm.reqtype.$dirty && myForm.reqtype.$invalid || myForm.$submitted">
                                        <small class="error"
                                            ng-show="myForm.reqtype.$error.required">Request Type is required.
                                        </small>
                                    </div>
                                </div>

                                <!--Supplier-->
                                <div class="col-md-2" ng-class="{'has-error': !myForm.cmb_sup.$valid && (myForm.cmb_sup.$touched || myForm.$submitted) }">
                                    <label class="semi-bold" for="cmb_sup"><i class="fa fa-user"></i>&nbsp;{{"Supplier"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <!-- <select id="cmb_sup" data-role="dropdownlist" class="form-control input-sm full-width" name="cmb_sup" required
                                    ng-model="temp.sup_code"
                                    ng-options="doc.sup_code as doc.sup_name for doc in Suppliers" name="Assemb_code">
                                    <option value="">Please Select</option>
                                </select>-->
                                    <select id="cmb_sup"
                                        ng-model="temp.sup_code" style="width: 100%"
                                        ng-options="doc.sup_code as doc.sup_name for doc in Suppliers" tabindex="2" name="cmb_sup" required>
                                        <option value="">Please Select</option>
                                    </select>
                                    <div class="col-md-12">
                                        <div class="error-container"
                                            ng-show="myForm.cmb_sup.$dirty && myForm.cmb_sup.$invalid || myForm.$submitted">
                                            <small class="error"
                                                ng-show="myForm.cmb_sup.$error.required">Supplier is required.
                                            </small>
                                        </div>
                                    </div>
                                </div>


                                <!--Currency-->
                                <div class="col-md-2" ng-class="{'has-error': !myForm.cmb_currency.$valid && (myForm.cmb_currency.$touched || myForm.$submitted) }">
                                    <label class="semi-bold" for="EndDate"><i class="fa fa-money"></i>&nbsp;{{"Currency Description"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <!--<select id="cmb_currency" name="cmb_currency" data-role="dropdownlist" class="form-control input-sm full-width" required
                                    ng-model="temp.excg_curcy_code"
                                    ng-options="doc.excg_curcy_code as doc.excg_curcy_desc for doc in CurMaster" name="Assemb_code">
                                    <option value="">Please Select</option>
                                </select>-->
                                    <!--<select id="cmb_currency"
                                    ng-model="temp.excg_curcy_code" style="width: 100%"
                                    ng-options="doc.excg_curcy_code as doc.excg_curcy_desc for doc in CurMaster"  name="sims_goal" required>
                                    <option value="">Please Select</option>
                                </select>-->
                                    <select id="cmb_currency" name="cur_c" ng-model="temp.excg_curcy_code" style="width: 100%" required>
                                        <!--<option value="" selected disabled>Please Select</option>-->
                                        <option ng-repeat="doc in CurMaster" value="{{doc.excg_curcy_code}}">{{doc.excg_curcy_desc}}</option>

                                    </select>
                                    <div class="error-container"
                                        ng-show="myForm.cmb_currency.$dirty && myForm.cmb_currency.$invalid || myForm.$submitted">
                                        <small class="error"
                                            ng-show="myForm.cmb_currency.$error.required">Currency is required.
                                        </small>
                                    </div>
                                </div>

                                <!--Delivery Mode-->
                                <div class="col-md-2" ng-class="{'has-error': !myForm.cmb_delivery.$valid && (myForm.cmb_delivery.$touched || myForm.$submitted) }">
                                    <label class="semi-bold" for="EndDate"><i class="fa fa-align-justify"></i>&nbsp;{{"Delivery Mode"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <select id="cmb_delivery" name="cmb_delivery" data-role="dropdownlist" class="form-control input-sm full-width" required
                                        ng-model="temp.dm_code"
                                        ng-options="doc.dm_code as doc.dm_name for doc in Deliverymode" name="Assemb_code">
                                        <option value="">Please Select</option>
                                    </select>
                                    <div class="error-container"
                                        ng-show="myForm.cmb_delivery.$dirty && myForm.cmb_delivery.$invalid || myForm.$submitted">
                                        <small class="error"
                                            ng-show="myForm.cmb_delivery.$error.required">Delivery Mode is required.
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 bluegreed" style="margin-left:-4px;margin-right:-4px;
">


                                <!--Expected Date-->
                                <div class="col-md-2" ng-class="{'has-error': !myForm.expecteddate.$valid && (myForm.expecteddate.$touched || myForm.$submitted) }">
                                    <label for="EndDate"><i class="fa fa-calendar"></i>&nbsp;{{"Expected Date"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <!--<div style="padding: 02px" class="input-append success date col-md-8" data-datepicker="true">-->
                                    <input type="text" id="to_date" name="to_date" class="k-textbox full-width input-sm" ng-model="temp.expected_date" required>
                                    <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                </div>-->
                                    <div class="error-container"
                                        ng-show="myForm.expecteddate.$dirty && myForm.expecteddate.$invalid || myForm.$submitted">
                                        <small class="error"
                                            ng-show="myForm.expecteddate.$error.required">Expected Date is required.
                                        </small>
                                    </div>
                                </div>

                                <!--Payment Mode-->
                                <div class="col-md-2" ng-class="{'has-error': !myForm.cmb_payment.$valid && (myForm.cmb_payment.$touched || myForm.$submitted) }">
                                    <label class="semi-bold" for="EndDate"><i class="fa fa-money"></i>&nbsp;{{"Payment Mode"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <select id="cmb_payment" name="cmb_payment" data-role="dropdownlist" class="form-control input-sm full-width" required
                                        ng-model="temp.pm_code"
                                        ng-options="doc.pm_code as doc.pm_desc for doc in paymentmode" name="Assemb_code">
                                        <option value="">Please Select</option>
                                    </select>
                                    <div class="error-container"
                                        ng-show="myForm.cmb_payment.$dirty && myForm.cmb_payment.$invalid || myForm.$submitted">
                                        <small class="error"
                                            ng-show="myForm.cmb_payment.$error.required">Payment Mode is required.
                                        </small>
                                    </div>
                                </div>

                                <!--Trade Term-->
                                <div class="col-md-2" ng-class="{'has-error': !myForm.cmb_tradeterm.$valid && (myForm.cmb_tradeterm.$touched || myForm.$submitted) }">
                                    <label class="semi-bold" for="EndDate"><i class="fa fa-align-justify"></i>&nbsp;{{"Trade Term"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <select id="cmb_tradeterm" name="cmb_tradeterm" data-role="dropdownlist" class="form-control input-sm full-width" required
                                        ng-model="temp.trt_code"
                                        ng-options="doc.trt_code as doc.trt_desc for doc in Trades" name="Assemb_code">
                                        <option value="">Please Select</option>
                                    </select>
                                    <div class="error-container"
                                        ng-show="myForm.cmb_tradeterm.$dirty && myForm.cmb_tradeterm.$invalid || myForm.$submitted">
                                        <small class="error"
                                            ng-show="myForm.cmb_tradeterm.$error.required">Trade Term is required.
                                        </small>
                                    </div>
                                </div>

                                <!--Forward Agent-->
                                <div class="col-md-2" ng-class="{'has-error': !myForm.cmb_fwdagent.$valid && (myForm.cmb_fwdagent.$touched || myForm.$submitted) }">
                                    <label class="semi-bold" for="EndDate"><i class="fa fa-user"></i>&nbsp;{{"Forward Agent"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                    <select id="cmb_fwdagent" name="cmb_fwdagent" data-role="dropdownlist" class="form-control input-sm full-width" required
                                        ng-model="temp.fa_code"
                                        ng-options="doc.fa_code as doc.fa_name for doc in Agent" name="Assemb_code">
                                        <option value="">Please Select</option>
                                    </select>
                                    <div class="error-container"
                                        ng-show="myForm.cmb_fwdagent.$dirty && myForm.cmb_fwdagent.$invalid || myForm.$submitted">
                                        <small class="error"
                                            ng-show="myForm.cmb_fwdagent.$error.required">Forward Agent is required.
                                        </small>
                                    </div>
                                </div>

                                <!--Letter Of Cr.-->
                                <div class="col-md-2" ng-show="lcshow">
                                    <label class="semi-bold" for="EndDate"><i class="fa fa-align-justify"></i>&nbsp;{{"Letter Of Credit"| translate }}</label>
                                    <select id="cmb_lc" data-role="dropdownlist" class="form-control input-sm full-width"
                                        ng-model="temp.lc_no"
                                        ng-options="doc.lc_no as doc.bk_code for doc in LOC" name="Assemb_code">
                                        <option value="">Please Select</option>
                                    </select>
                                </div>

                                <!--Supplyer Qty.Ref OF Cr.-->
                                <div class="col-md-2">
                                    <label class="semi-bold" for="EndDate"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Supplier Qty.Ref"| translate }}</label>
                                    <input type="text" name="Desc" id="Desc_Res" class="k-textbox full-width input-sm" ng-model="temp.supplier_qty_ref" />
                                </div>

                                <div class="col-md-2">
                                    <label class="semi-bold" for="EndDate"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Vehicle Plate No."| translate }}</label>
                                    <select id="Select2" data-role="dropdownlist" class="form-control input-sm full-width" ng-disabled="show_vehicle"
                                        ng-model="temp.sims_transport_vehicle_code"
                                        ng-options="doc.sims_transport_vehicle_code as doc.sims_transport_vehicle_registration_number for doc in res_veh" name="vehicle_codes">
                                        <option value="">Please Select</option>
                                    </select>
                                </div>

                            </div>

                            <!--<div class="col-md-12">
                                <div class="col-md-6">
                                    <label class="semi-bold" for="heading">{{"Heading"| translate }}</label>
                                    <textarea name="heading" id="txt_heading" class="k-textbox input-sm full-width" ng-model="temp.invs058_heading" />
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label class="semi-bold" for="notes">{{"Notes"| translate }}</label>
                                    <textarea name="notes" id="txt_notes" class="k-textbox input-sm full-width" ng-model="temp.invs058_notes" />
                                </div>
                            </div>-->

                            <div class="col-md-12 bluegreed"style="margin-left:-4px;margin-right:-4px;">
                                <div class="col-md-3">
                                    <label class="semi-bold" for="heading"><i class="fa fa-align-justify"></i>&nbsp;{{"Heading"| translate }}</label>
                                    <input type="text" name="heading" id="txt_heading" class="k-textbox input-sm full-width" ng-model="temp.invs058_heading" />
                                </div>

                                <div class="col-md-3">
                                    <label class="semi-bold" for="notes"><i class="fa fa-pencil"></i>&nbsp;{{"Notes"| translate }}</label>
                                    <input type="text" name="notes" id="txt_notes" class="k-textbox input-sm full-width" ng-model="temp.invs058_notes" />
                                </div>
                     

                           

                                <div class="col-md-3"style="margin-top:28px;">
                                    <div class="checkbox check-success" style="height: 20px">
                                        <input type="checkbox" name="chk_appexp" id="chk_appexp" ng-model="temp.invs058_order_apply_aexp" ng-click="orcalculateamt12()">
                                        <label for="chk_appexp"><i class="fa fa-align-justify"></i>{{"Apply Order Level Discount to Additional Expenses."| translate }}</label>
                                    </div>
                                </div>
                                </div>
                            <div class="col-md-12 bluegreed"style="margin-left:-4px;margin-right:-4px;">
                                <!--<div class="col-md-7">-->
                                    <div class="pull-right">
                                        <button class="btn btn-primary btn-cons btn-small" type="button" id="designew" ng-click="SearchRequest()" ng-show="itemsearch_true">{{"Item Search"| translate }}</button>
                                        <button class="btn btn-primary btn-cons btn-small" type="button" ng-disabled="disable_btn" ng-click="ItemSetSearch();" ng-show="itemsearch_true">{{"Item Set"| translate }}</button>
                                        <button class="btn btn-primary btn-cons btn-small" type="button" ng-disabled="disable_btn" ng-click="SearchService();" ng-show="itemset_true">{{"Service Search"| translate }}</button>
                                    </div>
                                <!--</div>-->
                            </div>

                        </div>
                        <div class="row"style="margin-top:7px;">

                        </div>
                        
                        <div class="col-md-12"style="background-color:white;">
                            <div class="dataTables_wrapper form-inline">
                                <div class="row">
                                    <div class="row margin-top">
                                        <div class="col-md-12">
                                            <table class="table table-bordered table-hover table-condensed" id="fixTable">
                                                <thead>
                                                    <tr>
                                                        <th class="td" style="width: 2%; z-index: 1"></th>
                                                        <th class="td" style="width: 2%; z-index: 1"></th>
                                                        <!--<th class="semi-bold">{{"Req No."| translate }}</th>
                                                        <th class="semi-bold">{{"Line  No."| translate }}</th>-->

                                                          <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                        <a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"Item Name"| translate }}</a>
                                    </th>
                                                       
                                                        <!--<th class="semi-bold">{{"Suppliers"| translate }}</th>-->
                                                        <th><i class="fa fa-align-justify"></i>&nbsp;{{"Uom"| translate }}</th>
                                                        <!--<th class="semi-bold">{{"Req Qty"| translate }}</th>-->
                                                        <th><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Ord Qty"| translate }}</th>
                                                        <th><i class="fa fa-money"></i>&nbsp;{{"Supp Price"| translate }}</th>
                                                        <th><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Disc(%)"| translate }}</th>
                                                        <th><i class="fa fa-money"></i>&nbsp;{{"Disc(amt)"| translate }}</th>
                                                        <!--<th class="semi-bold">{{"Remark"| translate }}</th>
                                                        <th class="semi-bold">{{"Req By"| translate }}</th>
                                                        <th class="semi-bold">{{"Req Date"| translate }}</th>-->
                                                        <th><i class="fa fa-bookmark"></i>&nbsp;{{"Remarks"| translate }}</th>
                                                        <th><i class="fa fa-money"></i>&nbsp;{{"Gross Amt"| translate }}</th>
                                                        <th><i class="fa fa-money"></i>&nbsp;{{"Net Amt"| translate }}</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr ng-repeat="info in testALL | orderBy:orderByField:reverseSort">
                                                        <!-- <td>
                                                    <div class="checkbox check-success" style="height: 20px">
                                                        <input id="t-{{$index}}" ng-model="info.invs058_rd_line_no1" type="checkbox" ng-click="adddata(info.invs058_rd_line_no1,info)">
                                                        <label for="t-{{$index}}">&nbsp;</label>
                                                    </div>
                                                    </td>-->
                                                        <!--<td><input type="button" value="x" ng-click="removeItem(info,$index)" /></td>-->
                                                        <td><i class="fa fa-cut" ng-click="removeItem(info,$index)"></i></td>
                                                        <td><i class="fa fa-info" ng-click="getlastpurchaseinfo(info,$index)"></i></td>
                                                        <!--<td><i class="fa fa-edit" ng-click="removeItem(info,$index)"></i></td>-->
                                                        <!--<td class="td">{{info.invs058_req_no}}</td>
                                                        <td class="td">{{info.invs058_rd_line_no}}</td>-->
                                                        <td class="td">{{info.invs058_rd_item_desc}}</td>
                                                        <!--<td class="td">{{info.sup_name}}</td>-->
                                                        <td class="td">{{info.invs058_uom_code}}</td>
                                                        <!--<td class="td">{{info.invs058_rd_quantity}}</td>-->
                                                        <!-- <td class="td">{{info.req_imn_no_totqty}}</td>-->
                                                        <td>
                                                            <label id="Label5">
                                                                <input style="width: 60px; height: 25px" aria-controls="example" ng-model="info.invs058_ordered_quantity" class="k-textbox input-sm full-width" ng-change="IsChangeFunction(j)" ng-blur="calamount(info,'')" ng-keypress="onlyNumbers($event,'')">
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label id="Label1">
                                                                <input style="width: 60px; height: 25px" aria-controls="example" ng-model="info.invs058_sup_price" class="k-textbox input-sm full-width" ng-blur="calamount(info,'')" ng-keypress="onlyNumbers($event,'')">
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label id="Label2">
                                                                <input style="width: 50px; height: 25px" aria-controls="example" ng-model="info.invs058_discount" class="k-textbox input-sm full-width" ng-blur="calamount(info,'dis')" ng-keypress="onlyNumbers($event,'')">
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label id="Label3">
                                                                <input style="width: 50px; height: 25px" aria-controls="example" ng-model="info.invs058_discount_amt" class="k-textbox input-sm full-width" ng-blur="calamount(info,'amt')" ng-keypress="onlyNumbers($event,'')">
                                                            </label>
                                                        </td>
                                                        <!--<td class="td">{{info.invs058_rd_remarks}}</td>
                                                <td class="td">{{info.invs058_sm_name}}</td>
                                                <td class="td">{{info.invs058_req_date}}</td>-->
                                                        <td class="td">
                                                            <input type="text" name="Desc" id="txt_od_remarks" class="k-textbox input-sm full-width" ng-model="info.order_d_od_remarks" />
                                                        </td>
                                                        <td class="td">{{info.invs058_gross_amt  | currency:'':2}}</td>
                                                        <td class="td">{{info.invs058_rqvalue  | currency:'':2}}</td>

                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        

                        <div class="row form-row"style="background-color:white;">
                            <div class="col-md-12" style="text-align: right">
                                <label for="grossamt"><b>{{"Total Gross Amount : "| translate }}{{total_grossamt | currency:'':2 }}</b></label><br />
                                <label for="netamt"><b>{{"Total Net Amount : "| translate }}{{total_netamt | currency:'':2 }}</b></label><br />
                            </div>
                        </div>

                        <div class="row form-row"style="background-color:white;">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label for="issuedate"><b>{{"Select Expenses"| translate }}</b></label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div id="div22" class="dataTables_wrapper form-inline">
                                    <div style="width: 450px; height: 200px; overflow-x: auto; overflow-y: auto">
                                        <table class="table table-bordered table-condensed" id="fixTable2">
                                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                <tr ng-repeat="ji in OrderAttrs">
                                                    <td>{{ji.or_atdesc}}</td>
                                                    <td>
                                                        <input type="text" name="txt_orvalue" id="txt_orvalue" class="k-textbox input-sm full-width" ng-model="ji.or_atamount" ng-change="orcalculateamt(ji)" ng-keypress="onlyNumbers($event,'')" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <label class="semi-bold" for="EndDate">{{"Total Amount" |translate}}: {{totAmt | currency:'':2}}</label>
                                    <button class="btn btn-primary btn-cons btn-small" type="submit" ng-disabled="savedisabled" ng-click="savedata();">{{"Save"| translate }}</button>
                                    <!--<button class="btn btn-primary btn-cons" type="submit" ng-disabled="savedisabled">{{"Save & Finalize"| translate }}</button>-->
                                    <button class="btn btn-danger btn-cons btn-small" type="button" id="Button2" ng-click="Cancel1()">{{"Cancel"| translate }}</button>
                                </div>
                            </div>
                        </div>

                        <!--<div class="row form-row">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <div class="checkbox check-success" style="height: 20px">
                                    <input type="checkbox" name="chk_appexp" id="chk_appexp" ng-model="applyexp" ng-click="orcalculateamt(ji)">
                                    <label for="chk_appexp">Apply Order Level Discount to Additional Expenses.</label>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="MyModal1" role="dialog" style="display: none;">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 75%;">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header ng-scope" style="height: 40px">
                <!--<button type="button" class="close" data-dismiss="modal" style="margin-top:6px;">&times;</button>-->
                <button style="margin-top :4px;margin-left:934px;height: 33px;line-height :23px;" class="btn btn-primary btn-cons" data-dismiss="modal" type="submit">Close</button>

            </div>
           
                <div class="grid-body no-border paddingcode">
                    <div class="col-md-12" style="padding:1%;">
                    <div class="row column-seperation">
                        <div class="tab-pane" id="Div5" aria-expanded="true">

                                <div class="row">
                                    <!--Item Inv No-->
                                    <!--<div class="col-md-3">
                                        <label class="semi-bold" for="EndDate">Item Inv No</label>
                                        <input type="text" name="InvFor" id="Text1" class="k-textbox input-sm full-width" ng-model="temp1.im_inv_no" />
                                    </div>-->

                                    <!--Description-->
                                    <div class="col-md-6">
                                        <label class="semi-bold" for="EndDate"><i class="fa fa-align-justify"></i>&nbsp;{{"Description" | translate}}</label>
                                        <input type="text" name="Desc" id="Text3" class="k-textbox input-sm full-width" ng-model="temp1.im_desc" />
                                    </div>

                                    <!--Item Code-->
                                    <div class="col-md-3">
                                        <label class="semi-bold" for="EndDate"><i class="fa fa-dashboard"></i>&nbsp;{{"Item Code" | translate}}</label>
                                        <input type="text" name="Desc" id="Item_code" class="k-textbox input-sm full-width" ng-model="temp1.im_item_code" />
                                    </div>

                                    <!--Assembly Indicatror-->
                                    <div class="col-md-3">
                                        <label class="semi-bold" for="EndDate"><i class="fa fa-align-justify"></i>&nbsp;{{"Assembly Indicator" | translate}}</label>
                                        <input type="text" name="Section_code" id="Text26" class="k-textbox input-sm full-width" ng-model="temp1.im_assembly_ind_s" />

                                    </div>

                                </div>

                                <div class="row">
                                    <!--Dept Code-->
                                    <div class="col-md-3">
                                        <label class="semi-bold" for="EndDate"><i class="fa fa-dashboard"></i>&nbsp;{{"Dept Code" | translate}}</label>
                                        <input type="text" name="Dept" id="Text4" class="k-textbox input-sm full-width" ng-model="temp1.invs021_dep_code" />
                                    </div>

                                    <!--Section Code-->
                                    <div class="col-md-3">
                                        <label class="semi-bold" for="EndDate"><i class="fa fa-dashboard"></i>&nbsp;{{"Section Code" | translate}}</label>
                                        <input type="text" name="Section_code" id="Text8" class="k-textbox input-sm full-width" ng-model="temp1.sec_code" />
                                    </div>

                                    <!--Supplyer Code-->
                                    <div class="col-md-3">
                                        <label class="semi-bold" for="EndDate"><i class="fa fa-dashboard"></i>&nbsp;{{"Supplier Code" | translate}}</label>
                                        <select id="cmb_supp" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="temp1.invs021_sup_code"
                                            ng-options="doc.code as doc.name for doc in cmb_supplier" name="App_code">
                                        </select>
                                    </div>
                                    <!--Supplyer Group-->
                                    <div class="col-md-3">
                                        <label class="semi-bold" for="EndDate"><i class="fa fa-users"></i>&nbsp;{{"Supplier Group" | translate}}</label>
                                        <select id="Select5" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="temp1.invs021_sg_name"
                                            ng-options="doc.code as doc.name for doc in rcbGroup" name="App_code">
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <!--Category-->
                                    <div class="col-md-3">
                                        <label class="semi-bold" for="EndDate"><i class="fa fa-sitemap"></i>&nbsp;{{"Category" | translate}} </label>
                                        <select id="Select6" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="temp1.category_code"
                                            ng-options="doc.category_code as doc.category_name for doc in rcbCategories" ng-change="getCategories(temp1.category_code);" name="App_code">
                                        </select>
                                    </div>

                                    <!-- SubCategory-->
                                    <div class="col-md-3">
                                        <label class="semi-bold" for="EndDate"><i class="fa fa-sitemap"></i>&nbsp;{{"SubCategory" | translate}}</label>
                                        <select id="Select7" data-role="dropdownlist" class="form-control input-sm full-width"
                                            ng-model="temp1.subcategory_code"
                                            ng-options="doc.subcategory_code as doc.subcategory_name for doc in rcbSubCategories" name="App_code">
                                        </select>
                                    </div>

                                    <div class="col-md-2">
                                        <label class="semi-bold" for="EndDate"><i class="fa fa-align-justify"></i>&nbsp;{{"Consumable Items" | translate}}</label>
                                        <!--<input type="text" name="consumable_items" id="Text5" class="k-textbox input-sm full-width" ng-model="temp1.ifconsumable" />-->
                                        <input type="checkbox" name="em_consumable" id="em_chk" title="Status" ng-model="temp1.ifconsumable">
                                    </div>

                                    <div class="col-md-2">
                                        <label class="semi-bold" for="EndDate"><i class="fa fa-align-justify"></i>&nbsp;{{"Asset Master Items" | translate}}</label>
                                        <!--<input type="text" name="assetmaster_items" id="Text6" class="k-textbox input-sm full-width" ng-model="temp1.onetimeflag" />-->
                                        <input type="checkbox" name="em_asset" id="Checkbox2" title="Status" ng-model="temp1.onetimefla">
                                    </div>

                                    <!--Fetch-->
                                    <div class="col-md-2">
                                        <div class="pull-right">
                                            <label class="semi-bold" for="EndDate">&nbsp;</label>
                                            <button class="btn btn-primary btn-small" type="button" id="Button1" ng-click="getfetch()">{{"Fetch"| translate }}</button>
                                            <button class="btn btn-warning btn-small" type="button" id="Button3" ng-click="Reset()">{{"Reset"| translate }}</button>
                                        </div>
                                    </div>
                                </div>
                           
                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <div id="Div1" class="dataTables_wrapper form-inline">
                                            <div style="width: 100%; height: 300px; overflow-x: auto; overflow-y: auto">
                                                <table class="table table-bordered table-condensed" id="Table1">
                                                    <thead>
                                                        <tr>
                                                             <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                        <a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"Invoice no" | translate}}</a>
                                    </th>
                                                            <th><i class="fa fa-dashboard"></i>&nbsp;{{"Item Code" | translate}}</th>

                                                            <th><i class="fa fa-align-justify"></i>&nbsp;{{"Description" | translate}}</th>
                                                            <th><i class="fa fa-sitemap"></i>&nbsp;{{"Category" | translate}}</th>
                                                            <th><i class="fa fa-sitemap"></i>&nbsp;{{"SubCategory" | translate}}</th>
                                                            <th><i class="fa fa-align-justify"></i>&nbsp;{{"UOM Name" | translate}}</th>
                                                            <!--  <th class="semi-bold">Malc Rate</th>
                                                            <th class="semi-bold">Sale Price</th>
                                                            <th class="semi-bold">Current QTY.</th>-->
                                                            <th><i class="fa fa-pencil-square-o"></i>&nbsp;{{"Dept Name" | translate}}</th>
                                                            <th><i class="fa fa-align-justify"></i>&nbsp;{{"Section Name" | translate}}</th>
                                                            <th><i class="fa fa-user"></i>&nbsp;{{"Supplier Name" | translate}}</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                        <tr ng-repeat="ji in GetItems | orderBy:orderByField:reverseSort">


                                                            <td>{{ji.im_inv_no}}</td>
                                                            <td>{{ji.im_item_code}}</td>
                                                            <td>{{ji.im_desc}}</td>
                                                            <td>{{ji.category_name}} </td>
                                                            <td>{{ji.subcategory_name}} </td>
                                                            <td>{{ji.uom_name}}</td>
                                                            <!-- <td>{{ji.im_malc_rate}}  </td>
                                                            <td>{{ji.im_sell_price}}  </td>
                                                            <td>{{ji.id_cur_qty}} </td>-->
                                                            <td>{{ji.dep_name}}</td>
                                                            <td>{{ji.sec_name}}</td>
                                                            <td>{{ji.sup_name}}</td>
                                                            <td>
                                                                <div class="checkbox check-success">
                                                                    <input id="{{ji.im_inv_no+$index}}" value="1" type="checkbox" ng-model="ji.im_inv_chk" value="1">
                                                                    <label for="{{ji.im_inv_no+$index}}"></label>
                                                                </div>
                                                            </td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success btn-small" data-dismiss="modal" type="submit" ng-click="okbuttonclick(ji)">{{"OK" | translate}}</button>

                            </div>
                        </div>
                    </div>
                        </div>
                </div>

            </div>
    </div>
</div>

<div class="modal fade in" id="MyModal11" role="dialog" style="display: none;">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 75%;">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header ng-scope" style="height: 40px">
                <button type="button" class="close" data-dismiss="modal" style="margin-top:6px;">&times;</button>
            </div>
           
                <div class="grid-body no-border">
                <div class="col-md-12" style="padding:1%;">
                    <!--for search criteria-->
                   
                            <div class="row">
                                <!-- <div class="col-md-2">-->
                                <!--<div class="row form-row">
                                        <div class="col-md-12">
                                            <label>Supplier</label>
                                        </div>
                                        <div class="col-md-12">
                                            <select id="sel_srchsupplier" data-role="dropdownlist" class="form-control input-sm full-width" name="cmb_srchsupplier" required
                                                ng-model="srchsupplier"
                                                ng-options="doc.sup_code as doc.sup_name for doc in Suppliers_srch" name="sel_nmsrchsupplier">
                                                <option value="">Please Select</option>
                                            </select>
                                        </div>
                                    </div>-->
                                <!--</div>-->
                                <div class="col-md-3">
                                    <label>{{"Item Code" | translate}}</label>
                                            <select id="rcbItem"
                                                ng-model="srchitemcode" style="width: 100%"
                                                ng-options="doc as doc.im_desc for doc in rcbItems" tabindex="2" ng-change="getitemCode(srchitemcode);" name="srchnmitemcode">
                                            </select>
                                        </div>

                                <div class="col-md-2">
                                    <label>{{"Requisition No" | translate}}</label>
                                            <select id="sel_req_no" data-role="dropdownlist" class="form-control input-sm full-width"
                                                ng-model="srch_req_no" style="width: 100%"
                                                ng-options="doc.invs058_req_no as doc.invs058_req_no for doc in rcbreqs" tabindex="2">
                                            </select>
                                        </div>
                                <div class="col-md-2">
                                    <label>&nbsp;</label>
                                            <button class="btn btn-primary btn-small" ng-click="SearchRequests();" type="button">{{"Search"| translate }}</button>
                                             <button class="btn btn-warning btn-small" ng-click="ResetRequests();" type="button">{{"Reset"| translate }}</button>
                                        </div>
                        </div>
                   
                    <div class="row margin-top">
                        <div class="col-md-6">
                            <select id="Select1" style="width: 65px" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                                <option value="10" class=" form-control input-sm">10
                                </option>
                                <option value="20" class=" form-control input-sm">20
                                </option>
                                <option value="All" class=" form-control input-sm">All
                                </option>
                            </select>
                            &nbsp;
                            <!--<button class="btn btn-success" style="height: 35px" type="button" ng-click="New()" ng-show="true"><span class="semi-bold">+&nbsp;</span>{{ "New" | translate }}</button>-->
                            <!--<button class="btn btn-success" style="height: 35px" type="button" ng-click="New()" ng-show="true"><span class="semi-bold">&nbsp;</span>{{ "" | translate }}</button>-->
                            &nbsp;
                            <button class="btn btn-danger btn-small" type="button" ng-click="Delete()" ng-show="false"><span class="semi-bold"></span>{{ "Delete" | translate }}</button>
                        </div>
                        <!--<div class="col-md-6">

                            <div class="pull-right">
                                <div class="dataTables_filter" id="example_filter">
                                    <label>
                                        {{ "Search:" | translate }} &nbsp;
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Item Code/Item Desc" class="input-medium" autofocus="autofocus" tabindex="1" ng-change="search()"></label>
                                </div>
                            </div>
                        </div>-->
                    </div>

                    <div class="row" ng-show="notshow">
                        <div class="col-xs-4">
                            <div class="well" class="form-group">
                                <div class="form-group">
                                    <label>Current Page:</label>
                                    <input placeholder="page"
                                        class="form-control"
                                        ng-model="currentPage"
                                        ng-init="currentPage = 1" />
                                </div>
                                <div class="form-group">
                                    <label>Page Size:</label>
                                    <input placeholder="Page Size"
                                        class="form-control"
                                        ng-model="numPerPage" />
                                </div>
                                <div class="form-group">
                                    <label>Total Items:</label>
                                    <input placeholder="Total"
                                        class="form-control"
                                        ng-model="pagersize" />
                                </div>
                                <hr />
                                <div class="form-group">
                                    <label>Dots Display:</label>
                                    <input placeholder="..."
                                        class="form-control"
                                        maxlength="3"
                                        ng-model="dots"
                                        ng-init="dots = '...'" />
                                </div>

                                <hr />
                                <div class="form-group">
                                    <label>UL Class:</label>
                                    <input placeholder="pagination"
                                        class="form-control"
                                        maxlength="100"
                                        ng-model="ulClass" />
                                </div>
                                <div class="form-group">
                                    <label>Active Class:</label>
                                    <input placeholder="active"
                                        class="form-control"
                                        maxlength="100"
                                        ng-model="activeClass"
                                        ng-init="activeClass = 'active'" />
                                </div>
                                <div class="form-group">
                                    <label>Disabled Class:</label>
                                    <input placeholder="disabled"
                                        class="form-control"
                                        maxlength="100"
                                        ng-model="disabledClass"
                                        ng-init="disabledClass = 'disabled'" />
                                </div>
                                <br />
                                <table class="table">

                                    <tr>
                                        <td>
                                            <label>Show Prev Next:</label>
                                        </td>
                                        <td>
                                            <input type="checkbox"
                                                ng-model="showPrevNext"
                                                ng-init="showPrevNext = true" />
                                            {{showPrevNext}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Show First Last:</label>
                                        </td>
                                        <td>
                                            <input type="checkbox"
                                                ng-model="showFirstLast"
                                                ng-init="showFirstLast = true" />
                                            {{showPrevNext}}
                                        </td>
                                    </tr>
                                </table>
                                <hr />
                                <span class="btn btn-default" onclick="location.reload()">
                                    <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                                </span>
                                <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                                </span>
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>

                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <div style="width: 100%; height: 250px; overflow-x: auto; overflow-y: auto">
                            <table class="table table-bordered table-condensed" id="fixTable1">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="checkbox check-success">
                                                <input id="mainchk1" type="checkbox" value="1" ng-click="CheckAllService()">
                                                <label for="mainchk1"></label>
                                            </div>
                                        </th>
                                         <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                        <a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"Req No"| translate }}</a>
                                    </th>
                                        
                                        <th>{{"Req Date"| translate }}</th>
                                        <th>{{"Req By"| translate }}</th>
                                        <th>{{"Req Line No"| translate }}</th>
                                        <th>{{"Item Code"| translate }}</th>
                                        <th>{{"Item Desc"| translate }}</th>
                                        <th>{{"Cur Qty"| translate }}</th>
                                        <th>{{"Ord Qty"| translate }}</th>
                                        <th>{{"Dept"| translate }}</th>
                                    </tr>
                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    <!--<tr ng-repeat="ji in search_Req_Data1" ng-click="editData(ji)">-->
                                    <tr ng-repeat="ji in filteredTodos | orderBy:orderByField:reverseSort" ng-click="editData(ji)">
                                        <td>
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input id="test-{{$index}}" ng-model="ji.req_no1" type="checkbox" value="1" ng-click="checkonebyoneselectServices()">
                                                <label for="test-{{$index}}"></label>
                                            </div>
                                        </td>
                                        <td class="td">{{ji.invs058_req_no}}</td>
                                        <td class="td">{{ji.invs058_req_date}}</td>
                                        <td class="td">{{ji.invs058_sm_name}}</td>
                                        <td class="td">{{ji.invs058_rd_line_no}}</td>
                                        <td class="td">{{ji.im_item_code}}</td>
                                        <td class="td">{{ji.invs058_rd_item_desc}}</td>
                                        <td class="td">{{ji.currentqty}}</td>
                                        <td class="td">{{ji.orderedqty}}</td>
                                        <td class="td">{{ji.invs058_dep_name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row" ng-show="pager">
                        <div class="pull-right">
                            <div>
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                    scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                    paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                    ng-click="index(currentPage)">
                                </paging>
                            </div>
                            <br />

                            <div>
                                <button class="btn btn-success btn-small" ng-click="okbuttonclick(j);" data-dismiss="modal" type="submit">{{"OK"| translate }}</button>
                                <!--<button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="selectmodeldatasave();" type="button">{{"Save"| translate }}</button>-->

                            </div>
                        </div>
                    </div>
    </div>
                </div>
            </div>
    </div>
</div>

<div class="modal fade in" id="MyModal2" role="dialog" style="display: none;">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 75%;">
        <div class="modal-content" uib-modal-transclude="">

            <div class="modal-header ng-scope" style="height: 40px">
                <button type="button" class="close" data-dismiss="modal" ng-click="okbuttonclick();" style="margin-top:6px;">&times;</button>
            </div>

                <div class="grid-body no-border">
                    <div class="col-md-12" style="padding:1%;">
                    <div class="row column-seperation">

                        <div class="tab-pane" id="Div7" aria-expanded="true">

                            

                                <div class="row">
                                    <!--Item Inv No-->
                                    <div class="col-md-3">
                                        <label class="semi-bold" for="EndDate">{{"Service Sm No"| translate }}</label>
                                        <input type="text" name="InvFor" id="Text9" class="k-textbox input-sm full-width" ng-model="temp2.im_inv_no" />
                                    </div>

                                    <!--Description-->
                                    <div class="col-md-4">
                                        <label class="semi-bold" for="EndDate">{{"Description"| translate }}</label>
                                        <input type="text" name="Desc" id="Text2" class="k-textbox input-sm full-width" ng-model="temp2.im_desc" />
                                    </div>

                                    <!--Dept Code-->
                                    <div class="col-md-3">
                                        <label class="semi-bold" for="EndDate">{{"Dept Code"| translate }}</label>
                                        <input type="text" name="Dept" id="Text12" class="k-textbox input-sm full-width" ng-model="temp2.dept_name" />
                                    </div>

                                     <!--Fetch-->
                                    <div class="col-md-2">
                                        <div class="pull-right">
                                            <label class="semi-bold" for="EndDate">&nbsp;</label>
                                            <button class="btn btn-success btn-cons btn-small" type="button" id="Button4" ng-click="ServiceFetch()">{{"Fetch"| translate }}</button>
                                            <button class="btn btn-warning btn-cons btn-small" type="button" id="Button8" ng-click="ServiceReset()">{{"Reset"| translate }}</button>
                                        </div>
                                    </div>


                                </div>
                               

                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <div id="Div8" class="dataTables_wrapper form-inline">
                                            <div style="width: 100%; height: 300px; overflow-x: auto; overflow-y: auto">
                                                <table class="table table-bordered table-condensed" id="Table3">
                                                    <thead>
                                                        <tr>

                                                            <th class="small-cell v-align-middle" style="z-index: 1">
                                                                <div class="checkbox check-success">
                                                                    <input id="Checkbox1" type="checkbox" value="1" ng-click="CheckAllService()">
                                                                    <label for="mainchk1"></label>
                                                                </div>
                                                            </th>
                                                            <!--<th class="semi-bold">{{"Selete"| translate}}</th>-->
                                                             <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                        <a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"Sm No"| translate }}</a>
                                    </th>
                                                            <th>{{"Description"| translate }}</th>
                                                            <th>{{"Dept Name"| translate }}</th>
                                                            <th>{{"Supplier Name"| translate }}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                        <tr ng-repeat="ji in GetItems | orderBy:orderByField:reverseSort">
                                                            <td>
                                                                <div class="row-fluid">
                                                                    <div class="checkbox check-success" style="height: 20px">
                                                                        <input id="{{ji.im_inv_no}}+{{$index}}+{{$index}}" type="checkbox" value="1" ng-model="ji.ischecked" ng-click="checkonebyoneselectServices()">
                                                                        <label for="{{ji.im_inv_no}}+{{$index}}+{{$index}}"></label>

                                                                    </div>
                                                                    <!--<label>{{ji.im_inv_no}}+{{$index}}+{{$index}}</label>-->

                                                                </div>
                                                            </td>

                                                            <td>{{ji.im_inv_no}}</td>
                                                            <td>{{ji.im_desc}}</td>
                                                            <td>{{ji.dep_name}}</td>
                                                            <td>{{ji.sup_name}}</td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-success btn-small" ng-click="okbuttonclick1();" data-dismiss="modal" type="submit">{{"OK"| translate }}</button>
                            </div>
                        </div>
                    </div>
                        </div>
                </div>
            </div>
    </div>
</div>


<div class="modal fade in" id="Modal_LastPurchaseReport" role="dialog" style="display: none;">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 75%;">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header ng-scope" style="height: 40px">
                <button type="button" class="close" data-dismiss="modal" style="margin-top:6px;">&times;</button>
            </div>
            <div class="grid simple">
                <div class="grid-body no-border">
                    <!--for search criteria-->
                    <div class="row">
                        <div class="col-md-12">                            
                                <div class="col-md-6">
                                    <b>Item : {{ItemDesc}}</b>
                                </div>
                                <div class="col-md-6">
                                   <b>Current Quantity : {{CurrentQty}}</b>                                
                                </div>                            
                        </div>
                    </div>

                    <!--<div class="row form-row">
                        <div class="col-md-6">
                            <select id="Select8" style="width: 65px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                                <option value="5" class=" form-control input-sm">5
                                </option>
                                <option value="10" class=" form-control input-sm">10
                                </option>
                                <option value="15" class=" form-control input-sm">15
                                </option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <div class="dataTables_filter" id="example_filter">                                    
                                    <span class="k-textbox k-space-right full-width">
                                        <input type="text" aria-controls="example" ng-model="searchText" placeholder="Item Desc/Req No" class="k-textbox input-sm" autofocus="autofocus" tabindex="1" ng-change="search()">
                                        <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <!--<div class="row" ng-show="notshow">
                        <div class="col-xs-4">
                            <div class="well" class="form-group">
                                <div class="form-group">
                                    <label>Current Page:</label>
                                    <input placeholder="page"
                                        class="form-control"
                                        ng-model="currentPage"
                                        ng-init="currentPage = 1" />
                                </div>
                                <div class="form-group">
                                    <label>Page Size:</label>
                                    <input placeholder="Page Size"
                                        class="form-control"
                                        ng-model="numPerPage" />
                                </div>
                                <div class="form-group">
                                    <label>Total Items:</label>
                                    <input placeholder="Total"
                                        class="form-control"
                                        ng-model="pagersize" />
                                </div>
                                <hr />
                                <div class="form-group">
                                    <label>Dots Display:</label>
                                    <input placeholder="..."
                                        class="form-control"
                                        maxlength="3"
                                        ng-model="dots"
                                        ng-init="dots = '...'" />
                                </div>

                                <hr />
                                <div class="form-group">
                                    <label>UL Class:</label>
                                    <input placeholder="pagination"
                                        class="form-control"
                                        maxlength="100"
                                        ng-model="ulClass" />
                                </div>
                                <div class="form-group">
                                    <label>Active Class:</label>
                                    <input placeholder="active"
                                        class="form-control"
                                        maxlength="100"
                                        ng-model="activeClass"
                                        ng-init="activeClass = 'active'" />
                                </div>
                                <div class="form-group">
                                    <label>Disabled Class:</label>
                                    <input placeholder="disabled"
                                        class="form-control"
                                        maxlength="100"
                                        ng-model="disabledClass"
                                        ng-init="disabledClass = 'disabled'" />
                                </div>
                                <br />
                                <table class="table">

                                    <tr>
                                        <td>
                                            <label>Show Prev Next:</label>
                                        </td>
                                        <td>
                                            <input type="checkbox"
                                                ng-model="showPrevNext"
                                                ng-init="showPrevNext = true" />
                                            {{showPrevNext}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Show First Last:</label>
                                        </td>
                                        <td>
                                            <input type="checkbox"
                                                ng-model="showFirstLast"
                                                ng-init="showFirstLast = true" />
                                            {{showPrevNext}}
                                        </td>
                                    </tr>
                                </table>
                                <hr />
                                <span class="btn btn-default" onclick="location.reload()">
                                    <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                                </span>
                                <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                                </span>
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>-->

                    <div id="Div3" class="dataTables_wrapper form-inline">
                        <div class="row margin-top">
                            <div class="col-md-12">
                                <table class="table table-bordered table-condensed" id="Table2">
                                    <thead>
                                        <tr>
                                            <th><i class="fa fa-calendar"></i>&nbsp;{{"Order Date"| translate }}</th>
                                            <th><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Order No "| translate }}</th>
                                            <th><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Ordered Qty"| translate }}</th>
                                            <th><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Approved Qty"| translate }}</th>
                                            <th><i class="fa fa-money"></i>&nbsp;{{"Sell Price"| translate }}</th>
                                            <th><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Discount"| translate }}</th>
                                            <th><i class="fa fa-bookmark"></i>&nbsp;{{"Status"| translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <!--<tr ng-repeat="ji in search_Req_Data1" ng-click="editData(ji)">-->
                                        <tr ng-repeat="ji in LastPDetails">

                                            <td class="td">{{ji.order_ord_date}}</td>
                                            <td class="td">{{ji.ord_no}}</td>
                                            <td class="td">{{ji.order_d_od_order_qty}}</td>
                                            <td class="td">{{ji.order_d_od_received_qty}}</td>
                                            <td class="td">{{ji.invs058_sup_price}}</td>
                                            <td class="td">{{ji.order_d_od_discount_pct}}</td>
                                            <td class="td">{{ji.order_ord_status}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                     <!--<div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                    scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                    paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                    ng-click="index(currentPage)">
                                </paging>
                            </div>

                            <div class="row margin-top">
                                <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c btn-small" ng-click="okbuttonclick();" data-dismiss="modal" type="submit">{{"OK"| translate }}</button>                               
                            </div>
                        </div>
                    </div>-->

                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="modal fade in" id="Modal_AddSuppliers" role="dialog" style="display: none;">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 75%;">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header ng-scope" style="height: 40px">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="grid simple">
                <div class="grid-body no-border">
                    <div class="row column-seperation">
                        <div class="tab-pane" id="Div2" aria-expanded="true">
                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <div id="Div3" class="dataTables_wrapper form-inline">
                                            <div style="width: 100%; height: 300px; overflow-x: auto; overflow-y: auto">
                                                <table class="table table-bordered table-condensed" id="Table1">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th class="semi-bold">{{"REQUEST NO"| translate }}</th>
                                                            <th class="semi-bold">{{"REQUEST DATE"| translate }}</th>
                                                            <th class="semi-bold">{{"ITEM NO"| translate }}</th>
                                                            <th class="semi-bold">{{"ITEM DESC"| translate }}</th>
                                                            <th class="semi-bold">{{"SUPPLIER"| translate }}</th>
                                                            <th class="semi-bold">{{"ITEM QUANTITY"| translate }}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                        <tr ng-repeat="ji in search_Req_Data" ng-click="editData(ji)">
                                                            <td>
                                                                <div class="checkbox check-success" style="height: 20px">
                                                                    <input id="Checkbox1" ng-model="ji.req_no1" type="checkbox" value="1">
                                                                    <label for="{{invs058_req_no+$index}}"></label>
                                                                </div>
                                                            </td>

                                                            <td class="td">{{ji.invs058_req_no}}</td>
                                                            <td class="td">{{ji.invs058_req_date}}</td>
                                                            <td class="td">{{ji.invs058_im_inv_no}}</td>
                                                            <td class="td" style="width: 50px">
                                                                <select ng-options="i.sup_code as i.supname for i in info.lst_suppliers"></select>
                                                            </td>
                                                            <td class="td">{{ji.invs058_rd_item_desc}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="okbuttonclick();" data-dismiss="modal" type="submit">{{"OK"| translate }}</button>
                                <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="selectmodeldatasave();" type="button">{{"Save"| translate }}</button>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>-->

<script src="assets/js/tabs_accordian.js"></script>
<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>
