﻿
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>


                            <input placeholder="page"
                                class="form-control"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>


                            <input placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>


                            <input placeholder="Total"
                                class="form-control"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>


                            <input placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>


                            <input placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>


                            <input placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>


                            <input placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>


                                    <input type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>


                                    <input type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>

                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>



            <div class="page-title">
                <h3><span class="semi-bold">{{"Forward"| translate }}</span>&nbsp;{{"Agent"| translate }}</h3>
            </div>
            <div class="grid-title no-border">
            </div>
            <div class="grid-body no-border" ng-show="display">
                <form class="profile-settings" name="myForm" novalidate ng-submit="Save(myForm.$valid)">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="row form-row">

                                <!--Agent Code-->
                                <div class="col-md-3">
                                    {{"Agent Code" | translate }}<span class="text-red">*</span>
                                    <div ng-class="{'has-error': !myForm.comp_code.$valid && (myForm.comp_code.$touched || myForm.$submitted) }">
                                        <input type="text" class="k-textbox" style="width: 100%;" id="Text4" name="comp_code" maxlength="1" ng-maxlength="4" ng-model="edt.fa_code" ng-pattern="/^[0-9]{1,25}$/" ng-disabled="disabledata" ng-readonly="value" required />

                                    </div>
                                    <div class="error-container"
                                        ng-show="myForm.comp_code.$dirty && myForm.comp_code.$invalid || myForm.$submitted">
                                        <small class="help-block" ng-show="myForm.comp_code.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.comp_code.$touched))">Enter Only Digit
                                        </small>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="error-container"
                                            ng-show="myForm.comp_code.$dirty && myForm.comp_code.$invalid || myForm.$submitted">
                                            <small class="help-block"
                                                ng-show="myForm.comp_code.$error.required && (myForm.comp_code.$touched || myForm.$submitted)">Company Code is required.
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <!--Agent Name-->
                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Agent Name" | translate }}<span class="text-red">*</span></label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.a_name.$valid && (myForm.a_name.$touched || myForm.$submitted) }">
                                            <input type="text" placeholder="" class="k-textbox" style="width: 100%;" id="Text2" name="a_name" ng-model="edt.fa_name" required>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="error-container"
                                                ng-show="myForm.a_name.$dirty && myForm.a_name.$invalid || myForm.$submitted">
                                                <small class="help-block"
                                                    ng-show="myForm.a_name.$error.required && (myForm.a_name.$touched || myForm.$submitted)">Agent Name required.
                                                </small>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!--Currency Code-->
                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Currency" |translate }}<span class="text-red">*</span></label>
                                        </div>
                                        <div class="col-md-12"  ng-class="{'has-error': !myForm.curr_code.$valid && (myForm.curr_code.$touched || myForm.$submitted) }">
                                            <select id="Select4" data-role="dropdownlist" class="form-control select2-sm"
                                                aria-label="Please Select"
                                                ng-model="edt.excg_curcy_code"
                                                ng-options="sta.excg_curcy_code as sta.excg_curcy_desc for sta in currencyNames" name="curr_code" required>
                                            </select>
                                        </div>
                                        <p class="help-block" ng-show="myForm.curr_code.$error.required &&  (myForm.curr_code.$touched || myForm.$submitted)">
                                            This field Required
                                        </p>
                                    </div>
                                </div>

                                <!-- Location INdicator-->
                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Location Indicator" | translate }}<span class="text-red">*</span></label>
                                        </div>

                                        <div class="col-md-12" ng-class="{'has-error': !myForm.loc_ind.$valid && (myForm.loc_ind.$touched || myForm.$submitted) }">
                                            <input type="text"  class="k-textbox" style="width: 100%;" id="loc_ind" name="loc_ind" ng-model="edt.fa_location_ind" required />
                                        </div>
                                        <p class="help-block" ng-show="myForm.loc_ind.$error.required &&  (myForm.loc_ind.$touched || myForm.$submitted)">
                                            This field Required
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row form-row">
                                <!--Origin Code-->
                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Origin Code" | translate }}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="" class="k-textbox" style="width: 100%;" id="Text3" name="txt_incidence_user_code" ng-model="edt.fa_orig_code">
                                        </div>
                                    </div>
                                </div>

                                <!-- Address Line1-->
                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Address Line1" | translate }}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="" class="k-textbox" style="width: 100%;" id="Text1" name="txt_incidence_user_code" ng-model="edt.fa_address1">
                                        </div>
                                    </div>
                                </div>

                                <!--Address Line2-->
                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Address Line2" | translate }}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="" class="k-textbox" style="width: 100%;" id="Text8" name="txt_incidence_user_code" ng-model="edt.fa_address2">
                                        </div>
                                    </div>
                                </div>

                                <!--Address Line3-->
                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Address Line3" | translate }}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="" class="k-textbox" style="width: 100%;" id="Text9" name="txt_incidence_user_code" ng-model="edt.fa_address3">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">
                                <!--City-->
                                <div class="col-md-3" >
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"City" |translate }}<span class="text-red">*</span></label>
                                        </div>
                                        <div class="col-md-12" ng-class="{'has-error': !myForm.city.$valid && (myForm.city.$touched || myForm.$submitted) }">
                                            <input type="text" placeholder="" class="k-textbox" style="width: 100%;" id="Text14" name="city" ng-model="edt.fa_city" required />
                                        </div>
                                        <p class="help-block" ng-show="myForm.city.$error.required &&  (myForm.city.$touched || myForm.$submitted)">
                                        This field Required
                                    </p>
                                    </div>
                                </div>

                                <!--Country-->
                                <div class="col-md-3" ng-class="{'has-error': !myForm.concode.$valid && (myForm.concode.$touched || myForm.$submitted) }">
                                    <label for="DivCode">{{"Country" |translate}}<span class="text-red">*</span></label>
                                    <select id="cmb_library_category" data-role="dropdownlist" class="form-control input-sm full-width" name="concode" ng-model="edt.con_code" required>
                                        <option value="" selected disabled>Please Select</option>
                                        <option class="form-control input-sm" ng-repeat="edt in country_code" value="{{edt.con_code}}">{{edt.con_name}}</option>
                                    </select>
                                    <p class="help-block" ng-show="myForm.concode.$error.required &&  (myForm.concode.$touched || myForm.$submitted)">
                                        This field Required
                                    </p>
                                </div>

                                <!--Telephone No.-->
                                <div class="col-md-3" ng-class="{'has-error': !myForm.comp_tel_no.$valid && (myForm.comp_tel_no.$touched || myForm.$submitted) }">
                                    {{"Telephone No." | translate }}
                                        <div ng-class="{'has-error': !myForm.comp_tel_no.$valid && (myForm.comp_tel_no.$touched || myForm.$submitted) }">
                                            <input type="text" class="k-textbox" style="width: 100%;" id="Text5" name="comp_tel_no" maxlength="12" ng-maxlength="12" ng-model="edt.fa_telephone_no" ng-pattern="/^[0-9]{1,25}$/"  ng-disabled="disabledata" />

                                        </div>
                                    <div class="error-container"
                                        ng-show="myForm.comp_tel_no.$dirty && myForm.txt_father_mobile_no.$invalid || myForm.$submitted">
                                        <!--<small class="help-block" ng-show="myForm.comp_tel_no.$error.required &&(myForm.comp_tel_no.$touched || myForm.$submitted)">
                                                Telephone No. is required.
                                            </small>-->
                                        <small class="help-block" ng-show="myForm.comp_tel_no.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.comp_tel_no.$touched))">Enter Only Digit
                                        </small>
                                    </div>
                                </div>

                                <!--Fax No.-->
                                <div class="col-md-3" ng-class="{'has-error': !myForm.faxno.$valid && (myForm.faxno.$touched || myForm.$submitted) }">
                                    {{"Fax No" | translate }}
                                        <div>
                                            <input type="text" class="k-textbox" style="width: 100%;" id="comp_tel_no" name="faxno" ng-model="edt.fa_fax_no" ng-pattern="/^[0-9]{1,25}$/"/>
                                        </div>
                                     <small class="help-block" ng-show="myForm.faxno.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.faxno.$touched))">Enter Only Digit
                                        </small>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">
                                <!--Telex No.-->
                                <div class="col-md-3" ng-class="{'has-error': !myForm.telex.$valid && (myForm.telex.$touched || myForm.$submitted) }">
                                    {{"Telex Number" | translate }}
                                        <div>
                                            <input type="text" class="k-textbox" style="width: 100%;" id="Text11" name="telex" ng-model="fa_telex_no" />
                                        </div>
                                       <small class="help-block" ng-show="myForm.telex.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.telex.$touched))">Enter Only Digit
                                        </small>

                                </div>

                                <!--Email Address-->
                                <div class="col-md-3" ng-class="{'has-error': !myForm.email.$valid && (myForm.email.$touched || myForm.$submitted) }">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Email Address" | translate }}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="" class="k-textbox" style="width: 100%;" id="Text6" name="email" ng-model="edt.fa_email_address" pattern="[a-z0-9._%+-]+@[a-z0-9]+\.[a-z]{2,3}$" placeholder="abc@xyz.com">
                                        </div>
                                          <div ng-class="{'has-error': !myForm.email.$valid && (myForm.email.$touched || myForm.$submitted) }">
                                            <div class="error-container"
                                                 ng-show="myForm.comp_email.$dirty && myForm.comp_email.$invalid || myForm.$submitted">
                                                <small class="help-block" ng-show="myForm.email.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.email.$touched))">
                                                    Enter Valid Email Id
                                                </small>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>

                                <!--Contact Name-->
                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Contact Name" | translate }}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="" class="k-textbox" style="width: 100%;" id="Text7" name="c_name" ng-model="edt.fa_contact_name">
                                        </div>
                                    </div>
                                </div>

                                <!--Contact Designation-->
                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Contact Designation" | translate }}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="" class="k-textbox" style="width: 100%;" id="Text12" name="desig" ng-model="edt.fa_contact_designation">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">
                                <!--Discount Point-->
                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Discount Point" | translate }}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="" class="k-textbox" style="width: 100%;" id="Text13" name="dis_point" ng-model="edt.fa_discount_pct">
                                        </div>
                                    </div>
                                </div>

                                <!--Credit Period-->
                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Credit Period" | translate }}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="" class="k-textbox" style="width: 100%;" id="Text15" name="txt_incidence_user_code" ng-model="edt.fa_credit_period">
                                        </div>
                                    </div>
                                </div>

                                <!--Remark-->
                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Remark" | translate }}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="" class="k-textbox" style="width: 100%;" id="Text16" name="txt_incidence_user_code" ng-model="edt.fa_remarks">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                    <div class="form-actions">
                        <div class="pull-right">
                            <button class="btn btn-primary btn-cons" type="submit" ng-show="save1"><i class="icon-ok"></i>{{"Save"| translate }}</button>
                            <button class="btn btn-primary btn-cons" type="button" ng-click="Update()" ng-show="update1"><i class="icon-ok"></i>{{"Update" | translate}}</button>
                            <button class="btn btn-white btn-cons" type="button" ng-click="Delete()" ng-show="delete1"><i class="icon-ok"></i>{{"Delete" | translate}}</button>
                            <button class="btn btn-danger btn-cons" type="button" ng-click="cancel()">{{"Cancel" | translate}}</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="grid-body no-border" ng-show="grid">
                <div class="row form-row">
                    <div class="col-md-6">
                        <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="itemsPerPage" ng-change="size(itemsPerPage)">

                            <option value="10" class=" form-control input-sm">10
                            </option>

                            <option value="20" class=" form-control input-sm">20
                            </option>

                            <option value="All" class=" form-control input-sm">All
                            </option>
                        </select>

                        &nbsp;
                        <button class="btn btn-success btn-cons" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New" |translate}}</button>
                        &nbsp;
                        <button class="btn btn-danger btn-cons"  type="button" ng-click="Delete()"><span class="semi-bold"></span>{{"Delete" | translate}}</button>
                    </div>



                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                               <!-- <label>
                                    {{"Search" | translate }} &nbsp;
                                    <input type="text" aria-controls="example" ng-model="searchText" ng-change="search();" class="k-textbox" autofocus="true">
                                </label>-->
                                <div class="dataTables_filter" id="Div1">
                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div style="width: 100%; height: 320px; overflow-x: auto; overflow-y: auto">
                        <table class="table table-hover table-bordered table-condensed" id="Table1" aria-describedby="example2_info">
                            <thead style="background-color: #edefef">
                                <tr>
                                    <th>{{"More" | translate}}</th>

                                    <th class="small-cell v-align-middle">
                                        <div class="checkbox check-success">
                                            <input type="checkbox" name="check" class="k-checkbox" value="1" id="mainchk" ng-click="multipledelete();" class="checkall">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>
                                    <th ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                        <label><b><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class=" fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"Agent Code"| translate }}</a></b></label>
                                    </th>
                                   <!-- <th class="semi-bold">{{"Agent Code" | translate}}</th>-->
                                    <th><b>{{"Agent Name" | translate}}</b></th>
                                    <th><b>{{"Currency" | translate}}</b></th>
                                    <th><b>{{"Indicator" | translate}}</b></th>
                                    <th><b>{{"Origin Code" | translate}}</b></th>
                                    <th><b>{{"City" | translate}}</b></th>
                                    <th><b>{{"Country" | translate}}</b></th>
                                    <th><b>{{"Edit" | translate}}</b></th>
                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                 <tr ng-repeat="info in filteredTodos | orderBy:orderByField:reverseSort" ng-class="row1">
                               <!-- <tr ng-repeat="info in filteredTodos" class="row1" >-->
                                    <td class="text-center"><i class="{{info.icon}}" ng-click="expand(info, $event);"></i></td>
                                    <td>
                                        <div class="checkbox check-success" style="height: 20px">
                                            <input type="checkbox" name="check" class="k-checkbox" value="1" id="code-{{$index}}" ng-click="delete_onebyone(info.comp_code)" />
                                            <label for="code-{{$index}}"></label>
                                        </div>
                                    </td>
                                    <td>{{info.fa_code}}</td>
                                    <td>{{info.fa_name}}</td>
                                    <td>{{info.currency_name}}</td>
                                    <td>{{info.fa_location_ind}}</td>
                                    <td>{{info.fa_orig_code}}</td>
                                    <td>{{info.fa_city}}</td>
                                    <td>{{info.country_name}}</td>
                                    <td><a href=""><i class="fa fa-edit" ng-click="edit(info)"></i></a></td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                    <div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                            ng-click="index(currentPage)">
                        </paging>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


