﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"GRN Approve"| translate }}</span></h3>
            </div>

            <div class="grid-body no-border paddingcode">

                <div class="row">
                <div class="col-md-2">
                    <label class="semi-bold" for="StartDate"><i class="fa fa-calendar"></i>&nbsp;{{"Date From"| translate }}</label>
                     <input type="text" id="from_date" required placeholder="Select Date" name="date_from1" class="k-textbox input-sm full-width" ng-model="IP.dateFrom">
                </div>

                <div class="col-md-2">
                    <label class="semi-bold" for="StartDate"><i class="fa fa-calendar"></i>&nbsp;{{"Date Upto"| translate }}</label>
                       <input type="text" id="to_date" required placeholder="Select Date" name="date_from1" class="k-textbox input-sm full-width" ng-model="IP.dateUpto">
                </div>

                <!--Department Name-->
                <div class="col-md-3">
                    <label class="semi-bold" for="DeptName"><i class="fa fa-pencil-square-o"></i>&nbsp;{{"Dept Name"| translate }}</label>
                    <select id="AccountNo" class="form-control input-sm full-width" name="DeptName"
                        ng-model="IP.dep_code"
                        ng-options="d.dept_code as d.dept_name for d in dept_data" required>
                        <option value="">Please Select</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <label class="semi-bold" for="EndDate"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Item/Order No/Grn No"| translate }}</label>
                    <input type="text" name="Desc" id="Text4" class="k-textbox input-sm full-width" ng-model="IP.doc_no" />
                </div>

                <div class="col-md-2">
                        <label>&nbsp;</label>
                        <div class="dataTables_filter" id="example_filter">
                            <button class="btn btn-primary btn-small" type="button" id="designew" ng-click="SelectIetm()">{{"Search"| translate }}</button>
                            <button class="btn btn-danger btn-small" type="button" id="Button1" ng-click="Reset()">{{"Reset"| translate }}</button>
                        </div>
                    </div>
                    </div>

                <div class="row margin-top-2">
                    <div class="col-md-12">
                <div ng-show="hide_table" ng-style="{'display':row.isexpanded}">

                    <div style="padding: 5px; border: 1px solid" ng-repeat="row in rows">
                        <div style="display: flex; padding: 5px">
                            <div style="width: 30px; height: 30px">
                                <div class="checkbox check-success 	">
                                    <input id="{{row.ord_no+row.od_grv_no}}" type="checkbox" ng-model="row.isChecked" ng-click="ordclick(row)">
                                    <label for="{{row.ord_no+row.od_grv_no}}"></label>
                                </div>
                            </div>
                            <i class="{{row.sims_icon}}" ng-click="expand(row,$event1)" style="padding: 5px"></i>
                            <span style="padding: 5px"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Order No"| translate }}:- {{row.ord_no}}</span>
                            <span style="padding: 5px"><i class="fa fa-pencil-square-o"></i>&nbsp;{{"Dep Name"| translate }}:- {{row.dep_name}}</span>
                            <span style="padding: 5px"><i class="fa fa-user"></i>&nbsp;{{"Supplier Name"| translate }}:- {{row.sup_name}}</span>
                            <span style="padding: 5px"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"GRN No"| translate }}:- {{row.od_grv_no}}</span>
                            <span style="padding: 5px"><i class="fa fa-calendar"></i>&nbsp;{{"GRN Date"| translate }}:- {{row.od_grv_date}}</span>
                        </div>
                        <div ng-style="{'display':row.isexpanded}" style="overflow-x: auto; overflow-y: auto">
                            <div></div>
                            <table class="table table-striped dataTable" id="example2" aria-describedby="example2_info">
                                <thead>
                                    <tr style="background: #ecf0f2;">
                                        <td><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Line No."| translate }}</td>
                                        <td><i class="fa fa-dashboard"></i>&nbsp;{{"Item Code"| translate }}</td>
                                        <td><i class="fa fa-align-justify"></i>&nbsp;{{"Item Description"| translate }}</td>
                                        <td title="Remark"><i class="fa fa-bookmark"></i>&nbsp;{{"Remark"| translate }}</td>
                                        <td title="Ordered Quantity"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Ord qty"| translate }}</td>
                                        <td title="Approved Quantity"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Apprv. qty"| translate }}</td>
                                        <td title="Received Quantity"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Rec. qty"| translate }}</td>
                                        <td style="display: none"><i class="fa fa-align-justify"></i>&nbsp;{{"Line Description"| translate }}</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="sr in row.subItems" style="border: 1px solid">
                                        <td class="col-md-1" style="background: white; padding-top: 2px !important; padding-bottom: 2px !important;width: 5%;">{{sr.od_line_no}}</td>
                                        <td class="col-md-1" style="background: white; padding-top: 2px !important; padding-bottom: 2px !important;">{{sr.im_item_code}}</td>
                                        <td class="col-md-4" style="background: white; padding-top: 2px !important; padding-bottom: 2px !important;">{{sr.im_desc}}</td>
                                        <td class="col-md-3" style="background: white; padding-top: 2px !important; padding-bottom: 2px !important;">{{sr.od_line_remark}}</td>
                                        <td class="col-md-1" style="background: white; padding-top: 2px !important; padding-bottom: 2px !important;" align="right">{{sr.req_type=='S'?'N/A':sr.od_order_qty}} </td>
                                        <td class="col-md-1" style="background: white; padding-top: 2px !important; padding-bottom: 2px !important;" align="right">{{sr.req_type=='S'?'N/A':sr.od_approved_quantity}}</td>
                                        <td class="col-md-1" style="background: white; padding-top: 2px !important; padding-bottom: 2px !important;" align="right">{{sr.od_received_qty.toFixed(2)}}</td>
                                        <td class="col-md-2" style="background: white; padding-top: 2px !important; padding-bottom: 2px !important; display: none">
                                            <!--<input type="number" class="input-sm" style="text-align: right; width: 140px;" ng-model="sr.rd_remarks"/></td>-->
                                            <input type="text" name="Desc" id="Text14" class="k-textbox" style="width: 100%;" ng-model="sr.rd_remarks" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row margin-top-2">
                        <div class="col-md-1"><label>&nbsp;</label>
                            <label class="semi-bold" for="EndDate" ng-disabled="hide_save" ng-show="hide_saves">{{"Comment "| translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <label>&nbsp;</label>
                            <input type="text" name="Desc" id="Text5" class="k-textbox" style="width: 100%;" ng-model="IP.remark" ng-disabled="hide_save" ng-show="hide_saves" placeholder="Comment" />
                        </div>

                        <!--Button-->
                        <div class="col-md-2">
                            <div class="pull-left">
                                <label class="semi-bold" for="EndDate">&nbsp;</label>
                                <div class="dataTables_filter" id="Div2">
                                    <button type="button" class="btn btn-danger btn-cons" ng-click="Reject();" ng-disabled="hide_save" ng-show="hide_saves">{{"Reject"| translate }}</button>
                                &nbsp;<button type="button" class="btn btn-primary btn-small" ng-click="save();" ng-disabled="hide_save" ng-show="hide_saves">{{"Approve"| translate }}</button>
                                </div>
                            </div>
                        </div>

                        <!--Button-->
                        <div class="col-md-2">
                            <div class="pull-left">
                                <label class="semi-bold" for="EndDate">&nbsp;</label>
                                <div class="dataTables_filter" id="Div3">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<script src="assets/js/calender-datepicker-id.js"></script>
