﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>


            <div class="page-title">
                <h3><span class="semi-bold">{{"Interest"| translate }}&nbsp;</span>{{"Type"| translate }}</h3>
            </div>
            <div class="grid-body no-border">
            <form name="myForm" ng-submit="Save(myForm.$valid)" novalidate="novalidate">
                <div ng-show="operation">
                    <div class="row">
                                <div class="col-md-4" ng-class="{'has-error': !myForm.intdesc.$valid && (myForm.intdesc.$touched || myForm.$submitted) }">
                                    <label id="lbl_intdesc" for="txt_intdesc" class="form-label">{{"Expense Description"| translate }}</label>
                                    <input type="text" id="txt_intdesc" ng-model="edt.int_desc" class="form-control input-sm" name="intdesc" ng-maxlength="30" ng-pattern="/^[a-zA-Z\s]*$/" required />
                                    <p class="help-block" ng-show="myForm.intdesc.$error.required &&  (myForm.petdesc.$touched || myForm.$submitted)">
                                        This field is required
                                    </p>
                                    <p class="help-block" ng-show="myForm.intdesc.$error.maxlength &&  (myForm.intdesc.$touched || myForm.$submitted)">
                                        Description should be 30 characters
                                    </p>
                                    <p class="help-block" ng-show="myForm.intdesc.$error.pattern &&  (myForm.intdesc.$touched || myForm.$submitted)">
                                        Enter Character Only
                                    </p>
                                </div>
                    </div>
                    <div class="col-md-12">
                    <div class="form-actions">
                        <div class="pull-right">
                            <button class="btn btn-primary btn-small" type="submit" ng-show="savebtn"><i class="icon-ok"></i>{{"Save"| translate }}</button>
                            <button class="btn btn-primary btn-small" type="button" ng-show="updatebtn" ng-click="Update(myForm.$valid)"><i class="icon-ok"></i>{{"Update"| translate }}</button>
                            <button class="btn btn-danger btn-small" type="button" ng-show="deletebtn" ng-click="deleterecord()"><i class="icon-ok"></i>{{"Delete"| translate }}</button>
                            <button class="btn btn-warning btn-small" type="button" ng-click="cancel()">{{"Cancel"| translate }}</button>
                        </div>
                        </div>
                    </div>
                </div>
            </form>
            <!--table-->
            <div ng-show="table1">
                <div class="row">
                    <div class="col-md-6">
                        <select id="Select12" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="5" class="form-control input-sm">
                                5
                            </option>

                            <option value="10" class="form-control input-sm">
                                10
                            </option>

                            <option value="15" class="form-control input-sm">
                                15
                            </option>
                        </select>

                        &nbsp;
                        <button class="btn btn-success btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate}}</button>
                        &nbsp;
                        <button class="btn btn-danger btn-small" type="button" ng-click="deleterecord()"><span class="semi-bold"></span>{{"Delete"| translate}}</button>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="Div1">
                                <!--<label>
                                    {{"Search"| translate}}  &nbsp;
                                    <input type="text" placeholder="Search" aria-controls="example" ng-model="searchText" class="input-medium" ng-change="search();">
                                </label>-->

                                    <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a></span> 
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div class="row margin-top">
                        <div class="col-md-12">
                        <table class="table table-bordered  table-condensed" id="fixTable">
                            <thead>
                                <tr style="background-color: #edefef">
                                    <th class="small-cell v-align-middle" style="z-index:1">
                                        <div class="checkbox check-success">
                                            <input type="checkbox" name="check" value="1" id="mainchk" ng-click="CheckAllChecked();">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>

                                    <th class="semi-bold">{{"INTEREST CODE"| translate }}</th>
                                    <th class="semi-bold">{{"INTEREST DESCRIPTION"| translate}}</th>
                                    <th class="semi-bold"><i class="fa fa fa-cogs"></i></th>

                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <tr ng-repeat="obj in filteredTodos" ng-class="row1">
                                    <td class="small-cell v-align-middle">
                                        <div class="row-fluid" style="height: 20px">
                                            <div class="checkbox check-success">
                                                <input type="checkbox" value="1" id="{{$index}}" ng-click="checkonebyonedelete()">
                                                <label for="{{$index}}"></label>
                                            </div>
                                        </div>
                                    </td>


                                    <td>{{obj.int_code}}</td>
                                    <td>{{obj.int_desc}}</td>
                                    <td>
                                        <a href=""><i class="fa fa-edit" ng-click="up(obj)"></i></a>
                                    </td>

                                </tr>

                            </tbody>

                        </table>
                    </div>
                        </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>
                    </div>
                </div>

            </div>
            </div> 
        </div>
    </div>
</div>




<script src="assets/js/tableHeadFixer.js"></script>