﻿<!DOCTYPE html>
<html>
<body>

    <div class="grid simple">
        <div class="grid-body no-border">
            <div class="row" ng-hide="display">           

           


                <div class="col-md-2">
                    <label class="ng-binding">{{"Start Date"|translate}} </label>
                    <!--<div class="input-append success  no-padding" data-datepicker="true" style="width: auto">-->
                    <span class="k-widget k-datepicker k-header k-textbox input-sm full-width k-input" style="width: 100%;">
                        <span class="k-picker-wrap k-state-default">
                            <input type="text" id="from_date" name="start_date"
                                   class="k-textbox input-sm full-width k-input ng-pristine ng-valid ng-touched" ng-model="from_date "
                                   ng-change="" data-role="datepicker" role="combobox" aria-expanded="false" peaceholer="Select Date"
                                   aria-owns="start_date_dateview" aria-disabled="false" aria-readonly="false" style="width: 100%;"
                                   aria-activedescendant="8a8a008b-1b3c-42a7-be94-431c355f22e6_cell_selected">
                            <span unselectable="on" class="k-select" role="button" aria-controls="start_date_dateview">
                                <span unselectable="on" class="k-icon k-i-calendar">select</span>
                            </span>
                        </span>
                    </span>
                    <!-- <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
        </div>  -->
                </div>

                <div class="col-md-1">
                    <label class="form-label1">
                        {{"Null"| translate }}
                    </label>
                    <div class="checkbox check-success">
                        <input type="checkbox" id="chkmarks" ng-model="from_date_check" />
                        <label for="chkmarks"></label>
                    </div>
                </div>

                <div class="col-md-2">
                    <label class="ng-binding">{{"End Date"|translate}} </label>
                    <!--<div class="input-append success  no-padding" data-datepicker="true" >-->
                    <span class="k-widget k-datepicker k-header k-textbox input-sm full-width" style="width: 100%;">
                        <span class="k-picker-wrap k-state-default">
                            <input type="text" id="to_date" name="end_date"
                                   class="k-textbox input-sm full-width k-input ng-pristine ng-valid ng-touched" ng-model="to_date"
                                   ng-change="" data-role="datepicker" role="combobox" aria-expanded="false"
                                   aria-owns="expiry_date_dateview" aria-disabled="false" aria-readonly="false" style="width: 100%;">
                            <span unselectable="on" class="k-select" role="button" aria-controls="expiry_date_dateview">
                                <span unselectable="on" class="k-icon k-i-calendar">select</span>
                            </span>
                        </span>
                    </span>
                    <!--<span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
        </div>-->
                </div>

                <div class="col-md-1">
                    <label class="form-label1">
                        {{"Null"| translate }}
                    </label>
                    <div class="checkbox check-success">
                        <input type="checkbox" id="chkmarks1" ng-model="to_date_check" />
                        <label for="chkmarks1"></label>
                    </div>
                </div>

                 <div class="col-md-2">
                    <label id="Label" for="txt_Nationality_Code" class="form-label">{{"Status"|translate}}<span style="color:red">*</span></label>
                    <select id="status_box" data-role="dropdownlist" multiple="multiple"
                            ng-model="temp.doc_status" name="doc_status">
                        <option ng-repeat="cur in status_code" value="{{cur.doc_status}} ">{{cur.status_desc}}</option>
                    </select>
                </div>


                <div class="col-md-2">
                    <div class="pull-right">
                        <label id="Label" for="txt_Nationality_Code" class="form-label">&nbsp;</label>
                        <span class="k-textbox k-space-right">
                            <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                            <a href="#" class="k-icon k-i-search">&nbsp;</a>
                        </span>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="pull-right">
                        <label>&nbsp;</label>
                        <button type="button" class="btn btn-primary btn-cons" ng-click="getInventoryLoanDetailView()">{{"Submit"|translate}}</button>
                        <button type="button" class="btn btn-primary btn-cons" ng-click="exportData()">{{"Export"|translate}}</button>


                    </div>
                </div>

            </div>

               <div class="row">

                <div class="col-md-12" id="rpt_data1">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr style="background-color:#edefef">
                                <th><b>{{"Sr No"|translate}}</b></th>
                                <th ng-click="sort('doc_prov_date')"><b>{{"Date"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                <th ng-click="sort('requested_by')"><b>{{"Requested By"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                <th ng-click="sort('dept_name')"><b>{{"Department"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                <th ng-click="sort('em_designation')"><b>{{"Designation"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                <th ng-click="sort('status_desc')"><b>{{"Status"|translate}}</b><i class="material-icons">arrow_drop_down</i></th>
                                <th><b>{{"Print"|translate}}</b></th>

                            </tr>
                        </thead>
                        <tbody align="center">
                            <tr ng-repeat="r in report_data|orderBy:colname:reverse|filter:searchText">
                                <td>{{$index+1}}</td>
                                <td>{{r.doc_prov_date}}</td>
                                <td> {{r.requested_by}}</td>
                                <td>{{r.dept_name}}</td>
                                <td>{{r.em_designation}}</td>
                                <td>{{r.status_desc}}</td>
                                <td><button type="button" class="btn btn-primary btn-cons btn-small" ng-click="Report_call(r)">{{"Print"|translate}}</button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--For print and excell-->
                <div ng-show="dublicate">

                    <div class="col-md-12" id="rpt_data">
                        <table class="table table-bordered text-center">
                            <thead>
                                <tr>
                                    <th><b>{{"Sr No"|translate}}</b></th>
                                    <th> <b>{{"Date"|translate}}</b></th>
                                    <th><b> {{"Requested By"|translate}}</b></th>
                                    <th><b> {{"Department"|translate}}</b></th>
                                    <th> <b>{{"Designation"|translate}}</b></th>
                                    <th> <b>{{"Status"|translate}}</b></th>
                                </tr>
                            </thead>
                            <tbody align="center">
                                <tr ng-repeat="r in report_data|orderBy:colname:reverse|filter:searchText">
                                 <<td>{{$index+1}}</td>
                                <td>{{r.doc_prov_date}}</td>
                                <td> {{r.requested_by}}</td>
                                <td>{{r.dept_name}}</td>
                                <td>{{r.em_designation}}</td>
                                <td>{{r.status_desc}}</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>



<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/plugins/fileSaver.js"></script>
<script src="assets/js/jszip.js"></script>
<script src="assets/js/xlsx.js"></script>
<script src="assets/js/xlsx-reader.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>



