﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Inventory"| translate }}</span>{{"Item Assembly"| translate }}</h3>
            </div>
            <div class="grid-body no-border">
            <div ng-show="table">
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-left">
                            <div class="dataTables_filter" id="example_filter">
                                <button class="btn btn-success btn-small" type="button" id="designew" ng-click="SelectIetm()">{{"Select Item"| translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="example_wrapper" class="dataTables_wrapper ">
                    <div class="row" ng-show="Main_table">
                        <div class="col-md-12">
                            <table class="table table-bordered table-hover table-condensed" id="fixTable">
                                <thead style="background-color: white">
                                    <tr style="background-color: #edefef">
                                        <th class="small-cell v-align-middle" style="z-index: 1"></th>
                                        <th class="semi-bold" ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                            <label><b><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"ITEM INVENTORY NO" | translate }}</b></label>
                                        </th>

                                        <th class="semi-bold">
                                            <label><b><i class="fa fa-align-justify"></i>&nbsp;{{"Inventory Description" | translate }}</b></label>
                                        </th>


                                        <th class="semi-bold">
                                            <label><b><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Item Assembly Qty" | translate }}</b></label>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="j in im_inv_no track by $index | orderBy:orderByField:reverseSort" ng-class="row1">
                                        <td>
                                            <!--<div class="row-fluid">
                                                <div class="checkbox check-success" style="height: 20px">
                                                    <input id="{{$index}}" type="checkbox" value="1" ng-click="checkonebyonedelete()">
                                                    <label for="{{$index}}"></label>
                                                </div>
                                            </div>-->
                                            <span class="semi-bold"><a href="" ng-click="RemoveEnrollMentNo($event,$index,im_inv_no)">X</a></span>
                                        </td>
                                        <td>
                                            <label id="lbl">{{j.im_inv_no}}</label>
                                        </td>
                                        <td>
                                            <label id="Label1">{{j.im_desc}}</label>
                                        </td>

                                        <td>
                                            <input type="text" name="ItemAssembly" id="Item_Assembly" class="k-textbox input-sm full-width" ng-model="j.curr_qty" />
                                            <!--<label id="lbl">{{j.curr_qty}}</label>-->
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                 
                        <div class="row margin-top-2">
                                <!-- Inventory For-->
                                <div class="col-md-2">
                                    <label class="semi-bold" for="EndDate"><i class="fa fa-align-justify"></i>&nbsp;{{"Inventory For" | translate}}</label>
                                    <input type="text" name="InvFor" id="Desc_Res" class="k-textbox input-sm full-width" ng-model="inv_no" />

                                </div>

                                <!-- Bunch Name-->
                                <div class="col-md-2">
                                    <label class="semi-bold" for="EndDate"><i class="fa fa-align-justify"></i>&nbsp;{{"Bunch Name" | translate}}</label>
                                    <input type="text" name="Bunch_name" id="Text1" class="k-textbox input-sm full-width" ng-model="inv_desc" />

                                </div>

                                <!--Select Assembly Button -->
                                <div class="col-md-4">
                                    <label class="semi-bold" for="EndDate">&nbsp;</label>
                                    <button class="btn btn-success btn-small" type="button" id="Button1" ng-click="getitemdetals_search(temp1.im_inv_no,temp1.im_item_code,temp1.im_desc,temp1.old_dep_code,temp1.sec_code,temp1.invs021_sup_code,temp1.invs021_sup_group_code,temp1.category_code,temp1.subcategory_code)">{{"Select Assembly"| translate }}</button><!--SelectAssembly-->
                                    <button class="btn btn-primary btn-small" type="button" id="designew2" ng-click="Done()">{{"Submit"| translate }}</button>
                                </div>

                                <!--Submit Button-->
                             
                            </div>
                       <!--<hr class="color-bands green" style="display: block; width: 100%;height:1px;">-->
                       <div class="row margin-top">
                             <div class="col-md-3">
                                    <label class="semi-bold" for="EndDate"><i class="fa fa-align-justify"></i>&nbsp;{{"View Existing Assembly" | translate}}</label>
                                    <select id="AccountNo" class="form-control input-sm "
                                        ng-model="temp.assembly"
                                        ng-options="doc.im_inv_no as doc.im_desc for doc in fillcombo" name="Assemb_code">
                                    </select>
                                </div>
                                <div class="col-md-3">
                                        <label>&nbsp;</label>
                                        <button class="btn btn-success btn-small" type="button" id="Button2" ng-click="Preview()">{{"Preview"| translate }}</button>
                                        <button class="btn btn-warning btn-small" type="button" id="Button5" ng-click="Reset()">{{"Reset"| translate }}</button>
                                    </div>
                       </div>
                        <div class="row margin-top-2" ng-show="priview_table">

                            <div class="col-md-12">
                                <table class="table table-bordered table-hover" id="Table1">
                                    <thead>
                                        <tr>
                                            <th class="bold" ng-click="orderByField='sort'; reverseSort = !reverseSort"><i class="fa fa-align-justify"></i>&nbsp;{{"Item inventory no" | translate }}
                                            </th>

                                            <th class="bold"><i class="fa fa-align-justify"></i>&nbsp;{{"Item description" | translate }}
                                            </th>
                                            <th class="bold"><i class="fa fa-sitemap"></i>&nbsp;{{"Category" | translate }}
                                            </th>

                                            <th class="bold"><i class="fa fa-sitemap"></i>&nbsp;{{"Subcategoy" | translate }}
                                            </th>

                                            <th class="bold"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Item assembly qty" | translate }}
                                            </th>

                                            <th class="bold"><i class="fa fa-align-justify"></i>&nbsp;{{"Update" | translate }}
                                            </th>
                                            <th class="bold"><i class="fa fa-eraser"></i>&nbsp;{{"Delete" | translate }}
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="j in  PriviewData| orderBy:orderByField:reverseSort" ng-class="row1">
                                            <td>
                                                <label id="Label2">{{j.im_inv_no}}</label>
                                            </td>

                                            <td>
                                                <label id="Label3">{{j.descr}}</label>
                                            </td>

                                            <td>
                                                <label id="Label4">{{j.category}}</label>
                                            </td>

                                            <td>
                                                <label id="Label5">{{j.subCategory}}</label>
                                            </td>

                                            <td>
                                                <input type="text" name="ItemAssembly1" id="Item_Assembly_qty" class="k-textbox input-sm full-width" ng-model="j.ia_component_qty" />
                                                <!--<label id="lbl">{{j.ia_component_qty}}</label>-->
                                            </td>

                                            <td>
                                                <button class="btn btn-primary btn-mini" type="button" id="designew3" ng-click="Update(j)">{{"Update"| translate }}</button>
                                            </td>
                                            <td>
                                                <button class="btn btn-danger btn-mini" type="button" id="designew4" ng-click="Delete(j)">{{"Delete"| translate }}</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                    <!--<div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                ng-click="index(currentPage)">
                        </paging>
                    </div>-->

            </div>

                </div>
        </div>
    </div>
</div>



<div class="modal fade in" id="MyModal" role="dialog" style="display: none;">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 75%;">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px"><b>{{"Item Search" | translate}}</b></h4>
                </div>
                <div class="pull-right">
                    <button style="margin-top: 4px;margin-right: 0px;height: 33px;line-height: 23px;" class="btn btn-primary btn-cons" data-dismiss="modal" type="submit">Close</button>

                    <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                </div>
            </div>
            <div class="grid simple">
                <div class="grid-body no-border">
                    <div class="row column-seperation">
                        <div class="tab-pane" id="Div5" aria-expanded="true">

                            <div class="row">
                                <div class="col-md-12">
                                    <!--Item Inv No-->
                                   <!-- <div class="col-md-3">
                                        <label class="semi-bold" for="EndDate">Item Inv No</label>
                                        <input type="text" name="InvFor" id="Text2" class="k-textbox input-sm full-width" ng-model="edt.im_inv_no" />
                                    </div>-->

                                    <!--Description-->
                                    <div class="col-md-9">
                                        <label class="semi-bold" for="EndDate"><i class="fa fa-align-justify"></i>&nbsp;{{"Description" | translate}}</label>
                                        <input type="text" name="Desc" id="Text3" class="k-textbox input-sm full-width" ng-model="edt.im_desc" />
                                    </div>

                                    <!--Item Code-->
                                    <div class="col-md-3">
                                        <label class="semi-bold" for="EndDate"><i class="fa fa-dashboard"></i>&nbsp;{{"Item Code" | translate}}</label>
                                        <input type="text" name="Desc" id="Item_code" class="k-textbox input-sm full-width" ng-model="edt.im_item_code" />
                                    </div>

                                </div>

                                <div class="col-md-12">
                                    <!--Dept Code-->
                                    <div class="col-md-3">
                                        <label class="semi-bold" for="EndDate"><i class="fa fa-dashboard"></i>&nbsp;{{"Dept Code" | translate}}</label>
                                        <input type="text" name="Dept" id="Text4" class="k-textbox input-sm full-width" ng-model="edt.invs021_dep_code" />
                                    </div>

                                    <!--Section Code-->
                                    <div class="col-md-3">
                                        <label class="semi-bold" for="EndDate"><i class="fa fa-dashboard"></i>&nbsp;{{"Section Code" | translate}}</label>
                                        <input type="text" name="Section_code" id="Text5" class="k-textbox input-sm full-width" ng-model="edt.sec_code" />
                                    </div>

                                    <!--Supplyer Name-->
                                    <div class="col-md-3">
                                        <label class="semi-bold" for="EndDate"><i class="fa fa-dashboard"></i>&nbsp;{{"supplier Code" | translate}}</label>
                                        <select name="cmb_sims_gb_teacher_code" id="Select1" class="form-control" ng-model="edt.invs021_sup_code">
                                            <option value="" selected disabled>Please Select</option>
                                            <option ng-repeat="supp in Get_Adj_Suppliername" value="{{supp.sup_code}}">{{supp.sup_name}}</option>
                                        </select>
                                    </div>


                                    <!--Supplyer Group-->
                                    <div class="col-md-3">
                                        <label class="semi-bold" for="EndDate"><i class="fa fa-users"></i>&nbsp;{{"supplier Group" | translate}}</label>

                                        <select name="cmb_sims_gb_teacher_code" id="Select2" class="form-control" ng-model="edt.invs021_sup_group_code">
                                            <option value="" selected disabled>Please Select</option>
                                            <option ng-repeat="supp in Invs021_get_supplier_group_name" value="{{supp.code}}">{{supp.name}}</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="col-md-12">
                                    <!--Category-->
                                    <div class="col-md-3">
                                        <label class="semi-bold" for="EndDate"><i class="fa fa-sitemap"></i>&nbsp;{{"Category" | translate}} </label>
                                        <select name="cmb_sims_gb_teacher_code" id="Select4" class="form-control" ng-model="edt.category_code" ng-change="getsubcategory_code()">
                                            <option value="" selected disabled>Please Select</option>
                                            <option ng-repeat="supp in Invs021_get_Categories" value="{{supp.category_code}}">{{supp.category_name}}</option>
                                        </select>
                                    </div>

                                    <!-- SubCategory-->
                                    <div class="col-md-3">
                                        <label class="semi-bold" for="EndDate"><i class="fa fa-sitemap"></i>&nbsp;{{"SubCategory" | translate}}</label>
                                        <select name="cmb_sims_gb_teacher_code" id="Select3" class="form-control" ng-model="edt.subcategory_code">
                                            <option value="" selected disabled>Please Select</option>
                                            <option ng-repeat="supp in Invs021_get_SubCategories" value="{{supp.subcategory_code}}">{{supp.subcategory_name}}</option>
                                        </select>
                                    </div>

                                    <!--Assembly Indicatror-->
                                    <div class="col-md-2">
                                        <label class="semi-bold" for="EndDate"><i class="fa fa-align-justify"></i>&nbsp;{{"Assembly Indicatror" | translate}}</label>
                                        <div class="checkbox check-success">
                                            <input id="chk_term2" type="checkbox" ng-model="temp.check" ng-click="checkvalue()">
                                            <label for="chk_term2"></label>
                                        </div>
                                    </div>

                                    <!--Fetch-->
                                    <div class="col-md-4">
                                        <div class="pull-right">
                                            <label class="semi-bold" for="EndDate">&nbsp;</label>
                                            <button class="btn btn-primary btn-small" type="button" id="Button3" ng-click="Fetch(edt.im_inv_no,edt.im_desc,edt.im_item_code,edt.invs021_dep_code,edt.sec_code,edt.invs021_sup_code,edt.invs021_sup_group_code,edt.category_code,edt.subcategory_code)">{{"Search"| translate }}</button>
                                            <button class="btn btn-danger btn-small" type="button" id="Button4" ng-click="Reset1()">{{"Reset"| translate }}</button>
                                        </div>
                                    </div>



                                </div>


                            </div>
                            <div>
                                &nbsp;
                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                        <div id="Div1" class="dataTables_wrapper form-inline">
                                            <!--<div style="width: 100%; height: 300px; overflow-x: auto; overflow-y: auto">-->
                                                <table class="table table-bordered table-condensed" id="Table2">
                                                    <thead>
                                                        <tr>
                                                           <!-- <th class="semi-bold">Invoice no</th>-->
                                                            <th class="semi-bold"><i class="fa fa-dashboard"></i>&nbsp;{{"Item Code" | translate}}</th>
                                                            <th class="semi-bold" style="width: 167px;"><i class="fa fa-align-justify"></i>&nbsp;{{"Description" | translate}}</th>
                                                            <th class="semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"Category" | translate}}</th>
                                                            <th class="semi-bold"><i class="fa fa-sitemap"></i>&nbsp;{{"Sub-Category" | translate}}</th>
                                                            <th class="semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"UOM Name" | translate}}</th>
                                                            <th class="semi-bold"><i class="fa fa-money"></i>&nbsp;{{"MALC rate" | translate}}</th>
                                                            <th class="semi-bold"><i class="fa fa-money"></i>&nbsp;{{"Sale Price" | translate}}</th>
                                                            <th class="semi-bold"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Cur. Qty" | translate}}</th>
                                                            <th class="semi-bold"><i class="fa fa-pencil-square-o"></i>&nbsp;{{"Dept Name" | translate}}</th>
                                                            <th class="semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"Section Name" | translate}}</th>
                                                            <th class="semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"Supplier Name" | translate}}</th>
                                                            <th class="semi-bold"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                        <tr ng-repeat="ji in GetItems">
                                                            <!--<td>{{ji.im_inv_no}}</td>-->
                                                            <td>{{ji.im_item_code}}</td>
                                                            <td>{{ji.im_desc}}</td>
                                                            <td>{{ji.category}} </td>
                                                            <td>{{ji.subCategory}} </td>
                                                            <td>{{ji.uom_name}}</td>
                                                            <td>{{ji.im_malc_rate}}  </td>
                                                            <td>{{ji.im_sell_price}} </td>
                                                            <td>{{ji.curr_qty}} </td>
                                                            <td>{{ji.dep_name}}</td>
                                                            <td>{{ji.sec_name}}</td>
                                                            <td>{{ji.sup_name}}</td>
                                                            <td>
                                                                <div class="checkbox check-success">
                                                                    <input id="{{ji.im_inv_no+$index}}" value="1" type="checkbox">
                                                                    <label for="{{ji.im_inv_no+$index}}"></label>
                                                                </div>
                                                            </td>


                                                            <!--<div class="checkbox check-success" style="height: 20px">
                                                                <input type="checkbox" name="check" value="1" id="{{info.s_enroll_no+$index}}">
                                                                <label for="{{info.s_enroll_no+$index}}"></label>
                                                            </div>-->



                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                    </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                            <div class="modal-footer">
                                <button class="btn btn-primary btn-small btn-ef btn-ef-3 btn-ef-3c" ng-click="okbuttonclick();" data-dismiss="modal" type="submit">{{"OK" | translate}}</button>
                            </div>
                                    </div>
                                </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>



<div class="modal fade in" id="MyModal2" role="dialog" style="display: none;">
    <div class="modal-dialog" style="width: 1024px; border: solid; border-width: 02px; border-bottom-left-radius: 05px; border-bottom-right-radius: 05px; border-top-left-radius: 05px; border-top-right-radius: 05px; border-color: blue">
        <div class="modal-content">
            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px"><b>{{"Item Search" | translate}}</b></h4>
                </div>
                <div class="pull-right">
                    <a href="">
                        <button style="margin-top: 4px;margin-right: 0px;height: 33px;line-height: 23px;" class="btn btn-primary btn-cons" data-dismiss="modal" type="submit">Close</button>

                        <!--<h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>-->
                    </a>
                </div>

            </div>

                <div class="grid-body no-border">
                    <div class="col-md-12" style="padding:1%;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label><i class="fa fa-align-justify"></i>&nbsp;{{"Item Inv No"|translate}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input id="txtname" class="k-textbox input-sm full-width" ng-model="temp1.im_inv_no" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label><i class="fa fa-align-justify"></i>&nbsp;{{"Description"|translate}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input class="k-textbox input-sm full-width" id="txtid" ng-model="temp1.im_desc" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label><i class="fa fa-dashboard"></i>&nbsp;{{"Item Code"|translate}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input class="k-textbox input-sm full-width" id="txtmobile" ng-model="temp1.im_item_code" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label><i class="fa fa-dashboard"></i>&nbsp;{{"Department Code"|translate}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input class="k-textbox input-sm full-width" id="txtemailid" ng-model="temp1.old_dep_code" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label><i class="fa fa-align-justify"></i>&nbsp;{{"Assembly Indicator"|translate}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="checkbox check-success">
                                                <input id="im_assembly_ind" type="checkbox" value="1" checked="checked" ng-model="temp1.im_assembly_ind">
                                                <label for="im_assembly_ind"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label><i class="fa fa-dashboard"></i>&nbsp;{{"Section Code"|translate}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input id="Text6" class="k-textbox input-sm full-width" ng-model="temp1.sec_code" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label><i class="fa fa-align-justify"></i>&nbsp;{{"Supplier Name"|translate}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <select name="cmb_sims_gb_teacher_code" id="Select5" class="form-control" ng-model="temp1.invs021_sup_code">
                                                <option value="" selected disabled>Please Select</option>
                                                <option ng-repeat="supp in Get_Adj_Suppliername" value="{{supp.sup_code}}">{{supp.sup_name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label><i class="fa fa-users"></i>&nbsp;{{"Supplier Group"|translate}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <select name="cmb_sims_gb_teacher_code" id="Select6" class="form-control" ng-model="temp1.invs021_sup_group_code">
                                                <option value="" selected disabled>Please Select</option>
                                                <option ng-repeat="supp in Invs021_get_supplier_group_name" value="{{supp.code}}">{{supp.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label><i class="fa fa-sitemap"></i>&nbsp;{{"Category Code"|translate}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <select name="cmb_sims_gb_teacher_code" id="Select7" class="form-control" ng-model="temp1.category_code" ng-change="getsubcategory_code_set()">
                                                <option value="" selected disabled>Please Select</option>
                                                <option ng-repeat="supp in Invs021_get_Categories" value="{{supp.category_code}}">{{supp.category_name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="row form-row">

                                        <div class="col-md-12">
                                            <label><i class="fa fa-sitemap"></i>&nbsp;{{"Sub Category Code"|translate}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <select name="cmb_sims_gb_teacher_code" id="Select8" class="form-control" ng-model="temp1.subcategory_code">
                                                <option value="" selected disabled>Please Select</option>
                                                <option ng-repeat="supp in Invs021_get_SubCategories_set_data" value="{{supp.subcategory_code}}">{{supp.subcategory_name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>&nbsp;</label>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="pull-right">
                                                <button type="button" class="btn btn-primary btn-small" ng-click="btn_Fetch_ItemDetails(temp1.im_inv_no,temp1.im_item_code,temp1.im_desc,temp1.old_dep_code,temp1.sec_code,temp1.invs021_sup_code,temp1.invs021_sup_group_code,temp1.category_code,temp1.subcategory_code);">{{"Search"|translate}}</button>
                                                <button type="button" class="btn btn-primary btn-small" ng-click="Reset2();">{{"Reset"|translate}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row" ng-show="busy">
                            <div class="col-md-12">
                                <div class="row form-row">
                                    <div class="col-md-5">
                                    </div>
                                    <div class="col-md-2">
                                        <img src="assets/images/loading.gif" />
                                    </div>
                                    <div class="col-md-5">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <!--<hr class="color-bands green" style="display: block; width: 100%" />-->
                            <div ng-show="searchtable">
                                <div id="Div3" class="dataTables_wrapper form-inline">
                                    <div class="row">
                                        <div class="col-md-12 margin-top">
                                   <!-- <div style="width: 100%; height: 350px; overflow-x: auto; overflow-y: auto">-->
                                        <table class="table table-bordered table-condensed" id="Table3" aria-describedby="example2_info">
                                            <thead>
                                                <tr>
                                                    <th>&nbsp;</th>
                                                    <th class="semi-bold" style="text-align: left; vertical-align: middle"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Item No"|translate}}</th>
                                                    <th class="semi-bold" style="text-align: left; vertical-align: middle"><i class="fa fa-dashboard"></i>&nbsp;{{"Item Code"|translate}}</th>
                                                    <th class="semi-bold" style="text-align: left; vertical-align: middle"><i class="fa fa-align-justify"></i>&nbsp;{{"Description"|translate}}</th>
                                                    <th class="semi-bold" style="text-align: left; vertical-align: middle"><i class="fa fa-sitemap"></i>&nbsp;{{"Category"|translate}}</th>
                                                    <th class="semi-bold" style="text-align: left; vertical-align: middle"><i class="fa fa-sitemap"></i>&nbsp;{{"Sub Category"|translate}}</th>
                                                    <th class="semi-bold" style="text-align: left; vertical-align: middle"><i class="fa fa-align-justify"></i>&nbsp;{{"UOM Name"|translate}}</th>
                                                    <th class="semi-bold" style="text-align: left; vertical-align: middle"><i class="fa fa-money"></i>&nbsp;{{"Rate"|translate}}</th>
                                                    <th class="semi-bold" style="text-align: left; vertical-align: middle"><i class="fa fa-money"></i>&nbsp;{{"Sell Price"|translate}}</th>
                                                    <th class="semi-bold" style="text-align: left; vertical-align: middle"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Curr Quantity"|translate}}</th>
                                                    <th class="semi-bold" style="text-align: left; vertical-align: middle"><i class="fa fa-pencil-square-o"></i>&nbsp;{{"Dept Name"|translate}}</th>
                                                    <th class="semi-bold" style="text-align: left; vertical-align: middle"><i class="fa fa-user"></i>&nbsp;{{"Supplier Name"|translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                <tr ng-repeat="info in Fetch_ItemDetails">
                                                    <td><a href=""><i class="fa fa-edit" data-dismiss="modal" ng-click="getselected_items(info)"></i></a></td>
                                                    <td>{{info.im_inv_no}}</td>
                                                    <td>{{info.im_item_code}}</td>
                                                    <td>{{info.im_desc}}</td>
                                                    <td>{{info.category_name}}</td>
                                                    <td>{{info.subcategory_name}}</td>
                                                    <td>{{info.uom_name}}</td>
                                                    <td>{{info.im_malc_rate}}</td>
                                                    <td>{{info.im_sell_price}}</td>
                                                    <td>{{info.id_cur_qty}}</td>
                                                    <td>{{info.dep_name}}</td>
                                                    <td>{{info.sup_name}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="row">
                                        <div class="col-md-12 margin-top">
                    <div class="modal-footer" ng-show="searchtable">
                        <button class="btn btn-primary btn-small btn-cons" data-dismiss="modal" type="button" ng-click="Datateachercode()">{{"Ok"|translate}}</button>
                    </div>
                                            </div>
                         </div>
                </div>
                    </div>
            </div>
    </div>
</div>





<script src="assets/js/tabs_accordian.js"></script>
<script src="assets/js/tableHeadFixer.js"></script>
