﻿<script src="assets/js/tableHeadFixer.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Item Valuation"| translate }}</span></h3>
            </div>

            <div class="grid-title no-border">
            </div>

            <div class="grid-body no-border">


                <div class="row form-row">

                    <div class="col-md-12">

                        <!--Department Name-->
                        <div class="col-md-2">
                            <label class="semi-bold" for="DeptName">{{"Dept Name"| translate }}</label>
                            <select id="AccountNo" class="form-control input-sm full-width" data-role="dropdownlist" name="DeptName"
                                ng-model="temp.dept_code"
                                ng-options="d.dept_code as d.dept_name for d in dept_data" ng-change="getCategories();">
                                <option value="">Please Select</option>
                            </select>
                        </div>

                        <!--Category-->
                        <div class="col-md-2">
                            <label class="semi-bold">{{"Category"| translate }} </label>
                            <select id="Select9" class="form-control input-sm full-width" data-role="dropdownlist"
                                ng-model="temp.category_code"
                                ng-options="doc.category_code as doc.category_name for doc in categorycode" ng-change="getCategories();">
                                <option value="">Please Select</option>
                            </select>
                        </div>

                        <!-- SubCategory-->
                        <div class="col-md-2">
                            <label class="semi-bold">{{"SubCategory"| translate }}</label>
                            <select id="Select10" class="form-control input-sm full-width" data-role="dropdownlist"
                                ng-model="temp.subcategory_code"
                                ng-options="doc.subcategory_code as doc.subcategory_name for doc in allSubCategories" ng-change="getCategories();">
                                <option value="">Please Select</option>
                            </select>
                        </div>

                        <div class="col-md-5">
                            <label class="semi-bold" for="EndDate">{{"Description"| translate }}</label>
                            <!--  <select id="cmb_seritm_code" style="width: 100%;"  ng-model="temp1.im_item_code"
                                ng-options="itm.im_item_code as itm.im_desc for itm in items_Data">
                                <option value="">Select</option>
                            </select>-->

                            <select id="cmb_seritm_code" multiple="multiple" style="width: 100%; height: 35px" ng-model="temp1.im_item_code">
                                <option ng-repeat="itm in items_Data|filter:{im_desc:''}" value="{{itm.im_item_code}} ">{{itm.im_desc}}</option>
                            </select>

                            <!--  <div class="col-md-12">
                                            <select id="cmb_grade_code" multiple="multiple" style="width: 100%; height: 35px" ng-model="edt.sims_grade_code" ng-change="getSection(edt.sims_cur_code,edt.sims_academic_year,edt.sims_grade_code)">
                                                <option ng-repeat="grade in Grade_code|filter:{sims_grade_name:''}" value="{{grade.sims_grade_code}} ">{{grade.sims_grade_name}}</option>
                                            </select>
                                        </div>-->

                            <!--<select id="cmb_seritm_code" multiple="multiple" ng-model="temp1.im_item_code" style="width: 100%;height:100px">
                                <option ng-repeat="itm in items_Data|filter:{im_desc:''}" value="{{itm.im_item_code}} ">{{itm.im_desc}}</option>
                            </select>-->

                        </div>

                        <!--<div class="col-md-2">
                            <label>{{"Select All"| translate }}</label>
                            <div class="checkbox check-success">
                                <input id="chk_term" type="checkbox" ng-model="select_all">
                                <label for="chk_term"></label>
                            </div>
                        </div>-->

                    </div>

                    <div class="col-md-12">

                        <!--Button-->
                        <div class="col-md-12">
                            <div class="pull-right">
                                <label class="semi-bold" for="EndDate">&nbsp;</label>
                                <div class="dataTables_filter" id="Div1">
                                    <button class="btn btn-primary btn-cons" style="height: 35px" type="button" id="Button3" ng-click="SearchRequest()">{{"Search"| translate }}</button>
                                    <button class="btn btn-warning btn-cons" style="height: 35px" type="button" id="Button4" ng-click="Reset()">{{"Reset"| translate }}</button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-12">
                        <hr style="height: 6px; border: none; color: darkorange; background-color: darkorange;">
                    </div>

                    <div ng-show="Grid">

                        <div class="grid-body no-border" ng-show="Main_table">
                            <div style="width: 100%; height: 200px; overflow-x: auto; overflow-y: auto">
                                <table class="table table-bordered table-hover table-condensed" id="fixTable">
                                    <thead style="background-color: white">
                                        <tr style="background-color: #edefef">

                                            <th class="semi-bold">
                                                <label><b>{{"Item Description" | translate }}</b></label>
                                            </th>
                                            <th class="semi-bold">
                                                <label><b>{{"Sale Price" | translate }}</b></label>
                                            </th>
                                            <th class="semi-bold">
                                                <label><b>{{"MALC Rate" | translate }}</b></label>
                                            </th>
                                            <th class="semi-bold">
                                                <label><b>{{"Current Quantity" | translate }}</b></label>
                                            </th>
                                            <th class="semi-bold">
                                                <label><b>{{"Current Value" | translate }}</b></label>
                                            </th>
                                            <th class="semi-bold">
                                                <label><b>{{"Sale Value" | translate }}</b></label>
                                            </th>

                                            <th class="semi-bold">
                                                <label><b>{{"PRINT" | translate }}</b></label>
                                            </th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr ng-repeat="j in search_Req_Data | orderBy:orderByField:reverseSort" ng-class="row1">

                                            <td>
                                                <label id="lbl">{{j.im_desc}}</label>
                                            </td>
                                            <td>
                                                <label id="Label4" align="right">{{j.current_sell_price | currency:'':2}}</label>
                                            </td>
                                            <td>
                                                <label id="Label5" align="right">{{j.current_wac_cost | currency:'':2}}</label>
                                            </td>
                                            <td>
                                                <label id="Label7" align="center">{{j.current_qty}}</label>
                                            </td>
                                            <td>
                                                <label id="Label6" align="right">{{j.current_value | currency:'':2}}</label>
                                            </td>
                                            <td>
                                                <label id="Label3" align="right">{{j.sale_value | currency:'':2}}</label>
                                            </td>
                                            <td>
                                                <button class="btn btn-primary btn-cons" style="height: 35px" type="button" id="Button2" ng-click="PrintServiceItemRe(j)">{{"Print"| translate }}</button>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="grid-body no-border" ng-show="Main_table_Service">
                            <div style="width: 100%; height: 200px; overflow-x: auto; overflow-y: auto">
                                <table class="table table-bordered table-hover table-condensed" id="Table3">
                                    <thead style="background-color: white">
                                        <tr style="background-color: #edefef">

                                            <th class="semi-bold">
                                                <label><b>{{"TXN NO" | translate }}</b></label>
                                            </th>
                                            <th class="semi-bold">
                                                <label><b>{{"DEPT" | translate }}</b></label>
                                            </th>
                                            <th class="semi-bold">
                                                <label><b>{{"TXN DATE" | translate }}</b></label>
                                            </th>
                                            <th class="semi-bold">
                                                <label><b>{{"TXN BY" | translate }}</b></label>
                                            </th>
                                            <th class="semi-bold">
                                                <label><b>{{"TXN ACTION DATE" | translate }}</b></label>
                                            </th>
                                            <th class="semi-bold">
                                                <label><b>{{"TXN ACTION BY" | translate }}</b></label>
                                            </th>
                                            <!-- <th class="semi-bold">
                                                <label><b>{{"EST PRICE" | translate }}</b></label>
                                            </th>-->
                                            <th class="semi-bold">
                                                <label><b>{{"REMARK" | translate }}</b></label>
                                            </th>
                                            <th class="semi-bold">
                                                <label><b>{{"PRINT" | translate }}</b></label>
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="j in search_Req_Data | orderBy:orderByField:reverseSort" ng-class="row1">

                                            <td>
                                                <label id="Label1">{{j.req_no}}</label>
                                            </td>
                                            <td>
                                                <label id="Label2">{{j.dep_name}}</label>
                                            </td>
                                            <td>
                                                <label id="Label10">{{j.req_date}}</label>
                                            </td>
                                            <td>
                                                <label id="Label11">{{j.sm_code}}</label>
                                            </td>
                                            <td>
                                                <label id="Label12">{{j.req_approved_date}}</label>
                                            </td>
                                            <td>
                                                <label id="Label13">{{j.req_approved_by_user_code}}</label>
                                            </td>
                                            <!--  <td>
                                               <label id="Label16" align="right">{{j.rd_estimate_price| currency:'':2}}</label>
                                            </td>-->
                                            <td>
                                                <label id="Label15">{{j.req_remarks}}</label>
                                            </td>

                                            <td>
                                                <button class="btn btn-primary btn-cons" style="height: 35px" type="button" id="Button1" ng-click="PrintServiceItemRe(j)">{{"Print"| translate }}</button>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <hr style="height: 6px; border: none; color: darkorange; background-color: darkorange;" ng-show="Grid">
                        </div>


                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<script src="assets/js/tabs_accordian.js"></script>
<script src="assets/js/tableHeadFixer.js"></script>
