﻿<script src="assets/js/tableHeadFixer.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Item Movements"| translate }}</span></h3>
            </div>

            <div class="grid-body no-border">
                <div ng-show="table">

                    <form name="Myform" ng-submit="savedata(Myform.$valid)" novalidate="novalidate">

                        <div class="row">

                            <div class="row">

                                <!--Request Type-->
                                <div class="col-md-2" ng-class="{'has-error': !Myform.requesttype.$valid && (Myform.requesttype.$touched || Myform.$submitted) }">
                                    <label class="semi-bold" for="requesttype">{{"Request Type"| translate }}</label>
                                    <select id="Select1" class="form-control input-sm full-width" name="requesttype"
                                        ng-model="temp.request_mode_code"
                                        ng-options="reqtnew.request_mode_code as reqtnew.request_mode_name for reqtnew in req_type_detailsNew"
                                        ng-change="delivery_mode()"
                                        required>
                                        <option value="">Please Select</option>
                                    </select>
                                    <p class="help-block" ng-show="Myform.requesttype.$error.required  &&  (Myform.requesttype.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>
                                </div>

                                <!--Department Name-->
                                <!-- <div class="col-md-2" ng-class="{'has-error': !Myform.DeptName.$valid && (Myform.DeptName.$touched || Myform.$submitted) }">
                                    <label class="semi-bold" for="DeptName">{{"Dept Name"| translate }}</label>
                                    <select id="AccountNo" class="form-control input-sm full-width" name="DeptName"
                                        ng-model="temp.dept_code"
                                        ng-options="d.dept_code as d.dept_name for d in dept_data" required>
                                        <option value="">Please Select</option>
                                    </select>
                                    <p class="help-block" ng-show="Myform.DeptName.$error.required  &&  (Myform.DeptName.$touched || Myform.$submitted)">
                                        This field is required
                                    </p>
                                </div>-->

                                <div class="col-md-4" ng-show="desc_hide">
                                    <label class="semi-bold" for="EndDate">{{"Description"| translate }}</label>
                                    <select id="cmb_seritm_code" ng-model="im_item_codel" ng-change="getUOM(im_item_codel)" class="full-width"
                                        ng-options="itm.im_desc as itm.im_desc for itm in items_Data">
                                        <option value="">Select</option>
                                    </select>
                                </div>

                                <div class="col-md-4" ng-show="desc_hide1">
                                    <label class="semi-bold" for="EndDate">{{"Description"| translate }}</label>
                                    <input type="text" name="InvFor" id="Text2" class="form-control input-sm full-width" ng-model="itemcodedata" ng-disabled="disdata" />
                                </div>

                                <!--Button-->
                                <div class="col-md-2">
                                    <div class="pull-left">
                                        <label class="semi-bold" for="EndDate">&nbsp;</label>
                                        <div class="dataTables_filter" id="Div1">
                                            <button class="btn btn-success btn-small" type="button" id="Button5" ng-click="SelectIetm()" ng-show="hide_SelectIetm">{{"Item Search"| translate }}</button>
                                            <button class="btn btn-success btn-small" type="button" id="Button10" ng-click="SelectService()" ng-show="hide_SelectService">{{"Service Search"| translate }}</button>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <label id="Label10" for="txt_account_Code" class="semi-bold">{{"UOM"| translate }}</label>
                                    <input type="text" name="Desc" id="Text1" class="form-control input-sm full-width" ng-model="temp.uom_code" ng-disabled="disdata" />
                                </div>

                                <div class="col-md-2">
                                    <label class="semi-bold">{{"Supplier Code"| translate }}</label>
                                    <input type="text" name="Desc" id="Text14" class="form-control input-sm full-width" ng-model="temp.sg_name" ng-disabled="disdata" />
                                </div>

                            </div>

                            <div class="row">

                                <!--Satrt Date-->
                                <div class="col-md-2">
                                    <label class="semi-bold">{{"Start Date"| translate }}<span style="color: red;">&nbsp;*</span></label>
                                    <input type="text" name="dob" id="studDOB" class="k-textbox input-sm full-width" ng-model="dt.rd_date_required" placeholder="Please Select" />

                                </div>

                                <!--End Date-->
                                <div class="col-md-2">
                                    <label class="semi-bold">{{"End Date"| translate }}<span style="color: red;">&nbsp;*</span></label>
                                    <input type="text" name="dob" id="startdate" class="k-textbox input-sm full-width" ng-model="dt.req_date" placeholder="Please Select" />

                                </div>

                                <!--Button-->
                                <div class="col-md-2">
                                    <div class="pull-left">
                                        <label class="semi-bold" for="EndDate">&nbsp;</label>
                                        <div class="dataTables_filter" id="Div6">
                                            <button class="btn btn-primary btn-small" type="button" id="Button1" ng-click="showdetails()">{{"Show Details"| translate }}</button>
                                            <button class="btn btn-warning btn-small" type="button" id="Button13" ng-click="Clear()">{{"Reset"| translate }}</button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div>&nbsp;</div>

                            <div class="col-md-12">
                                <hr style="height: 6px; border: none; color: darkorange; background-color: darkorange;">
                            </div>

                        </div>

                    </form>

                    <div ng-show="table1">
                        <div class="row">
                            <div class="col-md-6">
                                <select id="Select2" style="width: 65px;" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                    <option value="10" class=" form-control input-sm">10
                                    </option>

                                    <option value="20" class=" form-control input-sm">20
                                    </option>

                                    <option value="All" class="form-control input-sm">All
                                    </option>
                                </select>
                            </div>

                            <!--<div class="row">
                            <div class="col-md-6">
                                <div class="pull-right">
                                    <div class="dataTables_filter" id="Div3">
                                        <span class="k-textbox k-space-right full-width">
                                            <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                            <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        </div>
                        <div id="example_wrapper" class="dataTables_wrapper form-inline">
                            <div class="row margin-top">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-hover table-condensed" id="fixTable">
                                        <thead>
                                            <tr style="background-color: #edefef">
                                                <th class="semi-bold">{{"Document Date"| translate }}</th>
                                                <th class="semi-bold">{{"Document No"| translate}}</th>
                                                <th class="semi-bold">{{"GRV No."| translate }}</th>
                                                <th class="semi-bold">{{"Document Type"| translate }}</th>
                                                <th class="semi-bold">{{"Location From"| translate }}</th>
                                                <th class="semi-bold">{{"Location To"| translate }}</th>
                                                <th class="semi-bold">{{"Spl Name"| translate}}</th>
                                                <th class="semi-bold">{{"Quantity"| translate}}</th>
                                                <th class="semi-bold">{{"Selling Price"| translate}}</th>
                                                <th class="semi-bold">{{"Total Quantity"| translate}}</th>
                                            </tr>
                                        </thead>

                                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                                            <tr ng-repeat="obj in filteredTodos | orderBy:propertyName:reverse" ng-class="row1">
                                                <!--<tr ng-repeat="obj in rows | orderBy:propertyName:reverse" ng-class="row1">-->
                                                <td>{{obj.doc_date}}</td>
                                                <td>{{obj.doc_no}}</td>
                                                <td>{{obj.grv_no}}</td>
                                                <td>{{obj.dt_code}}</td>
                                                <td>{{obj.loc_from}}</td>
                                                <td>{{obj.loc_to}}</td>
                                                <td>{{obj.doc_special_name}}</td>
                                                <td>{{obj.dd_qty}}</td>
                                                <td>{{obj.dd_sell_price}}</td>
                                                <td>{{obj.total_qty}}</td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>

                           <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                    </paging>
                                </div>
                            </div>
                        </div>

                       <!-- <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right" ng-show="pager">
                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                                </div>
                            </div>
                        </div>-->

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<!-- Item Search -->
<div class="modal fade in" id="MyModal" role="dialog" style="display: none;">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 75%;">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header ng-scope" style="height: 40px">
                <button type="button" class="close" data-dismiss="modal" ng-click="okbuttonclick();">&times;</button>
            </div>
            <div class=" ">
                <div class="grid-body no-border">
                    <div class="col-md-12">
                        <div class="row column-seperation">
                            <div class="tab-pane" id="Div5" aria-expanded="true">

                                <div class="row">

                                    <div class="col-md-12">

                                        <div class="col-md-3">
                                            <label class="semi-bold">{{"Item Inv No" | translate}}</label>
                                            <input type="text" name="InvFor" id="Text5" class="form-control input-sm full-width" ng-model="temp1.im_inv_no" />
                                        </div>

                                        <div class="col-md-6">
                                            <label class="semi-bold">{{"Description" | translate}}</label>
                                            <input type="text" name="Desc" id="Text6" class="form-control input-sm full-width" ng-model="temp1.im_desc" />
                                        </div>

                                        <div class="col-md-3">
                                            <label class="semi-bold">{{"Item Code" | translate}}</label>
                                            <input type="text" name="Desc" id="Text7" class="form-control input-sm full-width" ng-model="temp1.im_item_code" />
                                        </div>

                                    </div>

                                    <div class="col-md-12">
                                        <!--Section Code-->
                                        <div class="col-md-2">
                                            <label class="semi-bold">{{"Section Code" | translate}}</label>
                                            <input type="text" name="Section_code" id="Text11" class="form-control input-sm full-width" ng-model="temp1.sec_code" />
                                        </div>

                                        <!--Supplier Code-->
                                        <div class="col-md-2">
                                            <label class="semi-bold">{{"Supplier Code" | translate}}</label>
                                            <select id="Select7" class="form-control input-sm full-width"
                                                ng-model="temp1.sup_sblgr_acno"
                                                ng-options="supname712.sup_sblgr_acno as supname712.sup_name for supname712 in SupplierName">
                                            </select>
                                        </div>

                                        <!--Supplier Group-->
                                        <div class="col-md-2">
                                            <label class="semi-bold">{{"Supplier Group" | translate}}</label>
                                            <select id="Select8" class="form-control input-sm full-width"
                                                ng-model="temp1.code"
                                                ng-options="doc.code as doc.name for doc in supgname">
                                            </select>
                                        </div>

                                        <!--Category-->
                                        <div class="col-md-2">
                                            <label class="semi-bold">{{"Category" | translate}} </label>
                                            <select id="Select9" class="form-control input-sm full-width"
                                                ng-model="temp1.category_code"
                                                ng-options="doc.category_code as doc.category_name for doc in categorycode" ng-change="getCategories(temp1.category_code);">
                                            </select>
                                        </div>

                                        <!-- SubCategory-->
                                        <div class="col-md-2">
                                            <label class="semi-bold">{{"SubCategory" | translate}}</label>
                                            <select id="Select10" class="form-control input-sm full-width"
                                                ng-model="temp1.subcategory_code"
                                                ng-options="doc.subcategory_code as doc.subcategory_name for doc in allSubCategories">
                                            </select>
                                        </div>

                                        <!--Fetch-->
                                        <div class="col-md-2">
                                            <div class="pull-right">
                                                <label class="semi-bold">&nbsp;</label>
                                                <button class="btn btn-success btn-small" type="button" id="Button6" ng-click="Fetch()">{{"Fetch"| translate }}</button>
                                                <button class="btn btn-warning btn-small" type="button" id="Button7" ng-click="Reset()">{{"Reset"| translate }}</button>
                                            </div>
                                        </div>


                                    </div>

                                    <!--<div class="col-md-12">
                                        
                                    </div>-->

                                </div>

                                <div>
                                    &nbsp;
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div>
                                            <div id="Div2" class="dataTables_wrapper form-inline">
                                                <div style="width: 100%; height: 300px; overflow-x: auto; overflow-y: auto">
                                                    <table class="table table-bordered table-condensed" id="Table1">
                                                        <thead>
                                                            <tr>
                                                                <th class="small-cell v-align-middle" style="z-index: 1">
                                                                    <div class="checkbox check-success">
                                                                        <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllItems()">
                                                                        <label for="mainchk"></label>
                                                                    </div>
                                                                </th>
                                                                <th class="semi-bold">{{"Description"| translate }}</th>
                                                                <th class="semi-bold">{{"Supplier Code"| translate }}</th>
                                                                <th class="semi-bold">{{"Supplier Name"| translate }}</th>
                                                                <th class="semi-bold">{{"Supplier Group Code"| translate }}</th>
                                                                <th class="semi-bold">{{"Supplier Group Name"| translate }}</th>
                                                                <th class="semi-bold">{{"Location Code"| translate }}</th>
                                                                <th class="semi-bold">{{"Current Qty"| translate }}</th>
                                                                <th class="semi-bold">{{"Sell Price"| translate }}</th>

                                                            </tr>
                                                        </thead>

                                                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                            <tr ng-repeat="ji in GetItems">
                                                                <td>
                                                                    <div class="row-fluid">
                                                                        <div class="checkbox check-success" style="height: 20px">
                                                                            <input id="{{ji.im_inv_no+$index}}" value="1" type="checkbox" ng-click="checkonebyoneselectItem()">
                                                                            <label for="{{ji.im_inv_no+$index}}"></label>
                                                                        </div>
                                                                    </div>
                                                                </td>

                                                                <td>{{ji.im_desc}}</td>
                                                                <td>{{ji.sup_code}} </td>
                                                                <td>{{ji.sup_name}} </td>
                                                                <td>{{ji.sg_name}}</td>
                                                                <td>{{ji.sg_desc}}  </td>
                                                                <td>{{ji.loc_code}} </td>
                                                                <td>{{ji.il_cur_qty}}</td>
                                                                <td>{{ji.im_sell_price}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button class="btn btn-primary btn-ef btn-ef-3 btn-ef-3c btn-small" ng-click="okbuttonclick();" data-dismiss="modal" type="submit">{{"OK"| translate }}</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- Service Search -->
<div class="modal fade in" id="MyModal2" role="dialog" style="display: none;">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 75%;">
        <div class="modal-content" uib-modal-transclude="">

            <div class="modal-header ng-scope" style="height: 40px">
                <button type="button" class="close" data-dismiss="modal" ng-click="okbuttonclick();">&times;</button>
            </div>

            <div class="grid simple">

                <div class="grid-body no-border">

                    <div class="row column-seperation">

                        <div class="tab-pane" id="Div7" aria-expanded="true">

                            <div class="row">

                                <div class="col-md-12">
                                    <!--Item Inv No-->
                                    <div class="col-md-3">
                                        <label class="semi-bold" for="EndDate">{{"Service Sm No"| translate }}</label>
                                        <input type="text" name="InvFor" id="Text9" class="form-control input-sm full-width" ng-model="temp2.im_inv_no" />
                                    </div>

                                    <!--Description-->
                                    <div class="col-md-6">
                                        <label class="semi-bold" for="EndDate">{{"Description"| translate }}</label>
                                        <input type="text" name="Desc" id="Text10" class="form-control input-sm full-width" ng-model="temp2.im_desc" />
                                    </div>

                                    <!--Dept Code-->
                                    <div class="col-md-3">
                                        <label class="semi-bold" for="EndDate">{{"Dept Code"| translate }}</label>
                                        <input type="text" name="Dept" id="Text12" class="form-control input-sm full-width" ng-model="temp2.dept_name" />
                                    </div>

                                </div>

                                <div class="col-md-12">

                                    <!--Fetch-->
                                    <div class="col-md-4">
                                        <div class="pull-left">
                                            <label class="semi-bold" for="EndDate">&nbsp;</label>
                                            <button class="btn btn-success btn-small" type="button" id="Button4" ng-click="ServiceFetch()">{{"Fetch"| translate }}</button>
                                            <button class="btn btn-warning btn-small" type="button" id="Button8" ng-click="ServiceReset()">{{"Reset"| translate }}</button>
                                        </div>
                                    </div>


                                </div>

                            </div>

                            <div>
                                &nbsp;
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <div id="Div8" class="dataTables_wrapper form-inline">
                                            <div style="width: 100%; height: 300px; overflow-x: auto; overflow-y: auto">
                                                <table class="table table-bordered table-condensed" id="Table2">
                                                    <thead>
                                                        <tr>

                                                            <th class="small-cell v-align-middle" style="z-index: 1">
                                                                <div class="checkbox check-success">
                                                                    <input id="mainchk1" type="checkbox" value="1" ng-click="CheckAllService()">
                                                                    <label for="mainchk1"></label>
                                                                </div>
                                                            </th>
                                                            <!--<th class="semi-bold">{{"Selete"| translate}}</th>-->
                                                            <th class="semi-bold">{{"Sm No"| translate }}</th>
                                                            <th class="semi-bold">{{"Description"| translate }}</th>
                                                            <th class="semi-bold">{{"Dept Name"| translate }}</th>
                                                            <th class="semi-bold">{{"Supplier Name"| translate }}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                        <tr ng-repeat="ji in GetItems">

                                                            <!-- <td>
                                                                <div class="checkbox check-success">
                                                                    <input id="{{ji.im_inv_no+$index+1}}" value="1" type="checkbox">
                                                                    <label for="{{ji.im_inv_no+$index+1}}"></label>
                                                                </div>
                                                            </td>-->
                                                            <!--
                                                                 <td>
                                                                <div class="row-fluid">
                                                                    <div class="checkbox check-success" style="height: 20px">
                                                                        <input id="{{ji.im_inv_no+$index}}" value="1" type="checkbox" ng-click="checkonebyoneselectItem()">
                                                                        <label for="{{ji.im_inv_no+$index}}"></label>

                                                                    </div>
                                                                </div>
                                                            </td>


                                                                 -->

                                                            <td>
                                                                <div class="row-fluid">
                                                                    <div class="checkbox check-success" style="height: 20px">
                                                                        <input id="{{ji.im_inv_no}}+{{$index}}+{{$index}}" type="checkbox" value="1" ng-model="ji.ischecked" ng-click="checkonebyoneselectServices()">
                                                                        <label for="{{ji.im_inv_no}}+{{$index}}+{{$index}}"></label>

                                                                    </div>
                                                                    <!--<label>{{ji.im_inv_no}}+{{$index}}+{{$index}}</label>-->

                                                                </div>
                                                            </td>

                                                            <td>{{ji.im_inv_no}}</td>
                                                            <td>{{ji.im_desc}}</td>
                                                            <td>{{ji.dep_name}}</td>
                                                            <td>{{ji.sup_name}}</td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-primary btn-ef btn-ef-3 btn-ef-3c btn-small" ng-click="okbuttonclick();" data-dismiss="modal" type="submit">{{"OK"| translate }}</button>


                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="loader0712">
    <div class="modal-dialog" id="top">
        <div class="modal-content">
            <div class="box1" style="position: fixed; margin-top: 50%; left: 50%;">
                <img src="assets/img/loading_transparent_.gif">
            </div>
        </div>
    </div>
</div>

<script src="assets/js/tabs_accordian.js"></script>
<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>
