﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"LPO Process"| translate }}</span> </h3>
            </div>

            <div class="grid-body no-border">

                <div class="row">

                    <div class="col-md-3">
                        <label class="semi-bold" for="StartDate">{{"Date From"| translate }}</label>
                        <input type="text" id="from_date" placeholder="Select Date"
                               name="date_from1" class="k-textbox input-sm full-width" ng-model="IP.dateFrom">
                    </div>

                    <div class="col-md-3">
                        <label class="semi-bold" for="StartDate">{{"Date Upto"| translate }}</label>
                        <input type="text" id="to_date" placeholder="Select Date"
                               name="date_from1_upto" class="k-textbox input-sm full-width" ng-model="IP.dateUpto">
                    </div>

                    <div class="col-md-2">
                        <label class="form-label">{{"Department"| translate }}</label>
                        <!--<span class="help">e.g. "25/12/2013"</span>-->
                        <div class="controls">
                            <select id="cmb_dept_Code" data-role="dropdownlist" class="form-control input-sm" ng-model="IP.dep_code">
                                <option ng-repeat="d in sel.Dept" value="{{d.codp_dept_no}}">{{d.codp_dept_name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">{{"Doc No."| translate }}</label>
                        <!--<span class="help">e.g. "25/12/2013"</span>-->
                        <div class="controls">
                            <input type="text" class="k-textbox input-sm full-width" ng-model="IP.doc_no">
                        </div>
                    </div>
                    <div class="col-md-2">

                        <label class="form-label">{{"Item"| translate }}</label>
                        <!--<span class="help">e.g. "25/12/2013"</span>-->
                        <div class="controls">
                            <input type="text" class="k-textbox input-sm full-width" ng-model="IP.ar_desc">
                        </div>
                    </div>


                </div>
                <div class="row">

                    <div class="col-md-3">

                        <label class="form-label">{{"Supplier"| translate }} <span class="asterisk" style="color: red">*</span></label>
                        <!--<span class="help">e.g. "25/12/2013"</span>-->
                        <div class="controls">
                            <select id="Select1" data-role="dropdownlist" class="form-control input-sm full-width" ng-model="IP.sup_code">
                                <option ng-repeat="d in sel.SUP" value="{{d.sup_code}}">{{d.sup_name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">

                        <label class="form-label" style="visibility: hidden">{{"Show"| translate }}</label>
                        <!--<span class="help">e.g. "25/12/2013"</span>-->
                        <div class="controls">
                            <button type="button" class="btn btn-primary btn-small" ng-click="show();">{{"Show"| translate }}</button>
                            <button type="button" class="btn btn-warning btn-small" ng-click="reset();">{{"Reset"| translate }}</button>
                        </div>
                    </div>

                </div>

                <div class="row margin-top-2">
                    <div class="col-md-12">
                        <div style="padding: 5px; border: 1px solid" ng-repeat="row in rows">
                            <div style="display: flex; padding: 5px; padding-bottom: 0px;">
                                <div style="width: 30px; height: 30px">
                                    <div class="checkbox check-success 	">
                                        <input id="{{row.adj_doc_no}}" type="checkbox" ng-model="row.isChecked">
                                        <label for="{{row.adj_doc_no}}"></label>
                                    </div>
                                </div>
                                <i class="{{row.sims_icon}}" ng-click="expand(row,$event1)" style="padding: 5px"></i>
                                <span style="padding: 5px">{{row.adj_doc_no}}</span>
                                <span style="padding: 5px; color: red; font-size: smaller">{{row.r_Type}}</span>
                                <span style="padding: 5px"><b>{{"Dep Name"| translate }}:-</b> {{row.dep_name}}</span>
                                <span style="padding: 5px"><b>{{"Supplier Name"| translate }}:-</b>- {{row.sup_name}}({{row.supsub}})</span>
                                <span style="padding: 5px"><b>{{"Order Date"| translate }}:-</b> {{row.ord_date}}</span>
                                <span style="padding: 5px"><b>{{"Status"| translate }}:-</b> {{row.ord_status_info}}</span>
                            </div>
                            <div ng-style="{'display':row.isexpanded}">

                                <table class="table table-striped dataTable" id="example2" aria-describedby="example2_info" style="margin: 0px;">
                                    <thead>
                                        <tr style="background: #ecf0f2;">
                                            <td>{{"Item Code"| translate }}</td>
                                            <td>{{"Item Desc."| translate }}</td>
                                            <td title="Approved Quantity">{{"Debit Acc"| translate }}</td>
                                            <td title="Approved Quantity">{{"Appr. qty"| translate }}</td>
                                            <td title="Received Quantity">{{"Rec. qty"| translate }}</td>
                                            <td title="Quantity to Receive">{{"In order qty"| translate }}</td>
                                            <td>{{"Remark"| translate }}</td>
                                            <td>{{"Created By"| translate }}</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="sr in row.subItems" style="border: 1px solid">
                                            <td class="col-md-1" style="background: white; padding-top: 2px !important; padding-bottom: 2px !important;">{{sr.im_item_code}}</td>
                                            <td class="col-md-3" style="background: white; padding-top: 2px !important; padding-bottom: 2px !important;">{{sr.im_desc}}</td>
                                            <td class="col-md-1" style="background: white; padding-top: 2px !important; padding-bottom: 2px !important;">{{sr.accno=='-'?'NA':sr.accno}}</td>
                                            <td class="col-md-1" style="background: white; padding-top: 2px !important; padding-bottom: 2px !important; text-align: center">{{sr.ad_qty}}</td>
                                            <td class="col-md-1" style="background: white; padding-top: 2px !important; padding-bottom: 2px !important; text-align: center">{{sr.ad_recvd_qty}}</td>
                                            <td class="col-md-1" style="background: white; padding-top: 2px !important; padding-bottom: 2px !important;">
                                                <input type="number" step="0.01" class="k-textbox input-sm" style="text-align: right;" ng-model="sr.remqty" step="1" max="{{sr.ad_qty-sr.ad_recvd_qty}}" min="0" ng-blur="checkRange(sr)" ng-disabled="true"/>
                                            </td>
                                            <td class="col-md-3" style="background: white; padding-top: 2px !important; padding-bottom: 2px !important;">
                                                <input type="text" class="k-textbox input-sm" ng-model="sr.remarks">
                                            </td>
                                            <td class="col-md-2" style="background: white; padding-top: 2px !important; padding-bottom: 2px !important;">{{sr.createBy==""?sr.up_name:sr.createBy}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-actions">
                            <div class="pull-right">
                                <button type="button" class="btn btn-primary btn-small"  ng-click="pendingReuest();">{{"Approve"| translate }}</button>
                                <button type="button" class="btn btn-primary btn-small"  ng-click="approve();">{{"Release order"| translate }}</button>
                                <button type="button" class="btn btn-danger btn-small" ng-click="reject();">{{"Reject"| translate }}</button>
                                <button type="button" class="btn btn-warning btn-small" style="background: #f35958" ng-click="cancel();">{{"Cancel"| translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="loader">
    <div class="modal-dialog" id="top">
        <div class="modal-content">
            <div class="box1" style="position: fixed; margin-top: 50%; left: 50%;">
                <img src="assets/img/loading_transparent_.gif">
                <!--<img src="assets/theme/img/loading.gif" />-->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<script src="assets/js/calender-datepicker-id.js"></script>