﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Approve Order"| translate }}</span></h3>
            </div>

            <div class="grid-title no-border">
            </div>

            <!--<div style="margin-top: 1px">
                <div class="grid-title no-border" style="padding-bottom: 1px; margin-bottom: 0px; display: none">
                    <h4>Sub <span class="semi-bold">Title</span></h4>
                </div>
                <div class="grid-body no-border" style="padding-bottom: 0px">
                    <div class="col-md-12">
                        <div class="row form-row">
                            <div class="col-md-2">
                                <label class="semi-bold" for="StartDate">{{"Date From"| translate }}</label>
                                <div>
                                    <input type="text" id="cmb_date_from" placeholder="Select Date"
                                           name="date_from1" class="k-textbox full-width input-sm" ng-model="IP.rd_from_date">
                                </div>
                            </div>

                            <div class="col-md-2">
                                <label class="semi-bold" for="StartDate">{{"Date Upto"| translate }}</label>
                                <div>
                                    <input type="text" id="grn_date_to" placeholder="Select Date"
                                           name="date_from1_upto" class="k-textbox full-width input-sm" ng-model="IP.rd_up_date">
                                </div>
                            </div>

                            <!--Department Name-->
                            <!--<div class="col-md-2">
                                <label class="semi-bold" for="DeptName">{{"Dept Name"| translate }}</label>
                                <select id="AccountNo" class="form-control input-sm" name="DeptName"
                                        ng-model="IP.dep_code"
                                        ng-options="d.dept_code as d.dept_name for d in dept_data" required>
                                    <option value="">Please Select</option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <label class="semi-bold" for="EndDate">{{"Order No From"| translate }}</label>
                                <input type="text" name="Desc" id="ordernofrom" class="k-textbox full-width input-sm" ng-model="IP.ord_no" />
                            </div>

                            <div class="col-md-2">
                                <label class="semi-bold" for="EndDate">{{"Order No To"| translate }}</label>
                                <input type="text" name="Desc" id="ordernoto" class="k-textbox full-width input-sm" ng-model="IP.ord_range_no" />
                            </div>-->

                        <!--</div>
                    </div>-->
                    <!--<div class="col-md-12">

                        <div class="row form-row">-->

                            <!--Request Type-->
                            <!--<div class="col-md-2">
                                <label class="semi-bold" for="requesttype">{{"Order Type"| translate }}</label>
                                <select id="Select1" class="form-control input-sm" name="requesttype"
                                        ng-model="IP.request_mode_code"
                                        ng-options="reqtnew.request_mode_code as reqtnew.request_mode_name for reqtnew in req_type_detailsNew">
                                    <option value="">Please Select</option>
                                </select>

                            </div>

                            <div class="col-md-6">
                                <label class="semi-bold" for="EndDate">{{"Item/Service"| translate }}</label>
                                <input type="text" name="Desc" id="Text4" class="k-textbox full-width input-sm" ng-model="IP.rd_item_desc" ng-disabled="hide_itemne" />
                            </div>-->

                            <!--Button-->
                            <!--<div class="col-md-2">
                                <div class="pull-right">
                                    <label class="semi-bold" for="EndDate">&nbsp;</label>
                                    <div class="dataTables_filter" id="example_filter">
                                        <button class="btn btn-success btn-cons" style="height: 35px" type="button" id="designew" ng-click="SelectIetm()">{{"Search"| translate }}</button>
                                    </div>
                                </div>
                            </div>-->

                            <!--Button-->
                            <!--<div class="col-md-2">
                                <div class="pull-left">
                                    <label class="semi-bold" for="EndDate">&nbsp;</label>
                                    <div class="dataTables_filter" id="Div1">
                                        <button class="btn btn-warning btn-cons" style="height: 35px" type="button" id="Button1" ng-click="Reset()">{{"Reset"| translate }}</button>
                                    </div>
                                </div>
                            </div>-->

                        <!--</div>
                    </div>
                </div>-->
            <!--</div>-->

            <!--<div class="col-md-12">
                <hr style="height: 6px; border: none; color: darkorange; background-color: darkorange;">
            </div>-->

            <div class="grid-title no-border">
            </div>


            <div class="grid-body">
                <div class="row">
                    <div style="padding: 5px; border: 1px solid" ng-repeat="row in rows">
                        <div style="display: flex; padding: 5px">
                            <div style="width: 30px; height: 30px">
                                <div class="checkbox check-success 	">
                                    <input id="order-{{$index}}" type="checkbox" ng-model="row.isChecked" ng-click="ordclick(row)">
                                    <label for="order-{{$index}}"></label>
                                </div>
                            </div>
                            <i class="{{row.sims_icon}}" ng-click="expand(row,$event1)" style="padding: 5px"></i>
                            <span style="padding: 5px">{{row.invs_appl_form_field_value1}} - {{"Order No"| translate }} <b>{{row.ord_no}} ({{row.ord_date}})</b>,{{"Amount"| translate }} - <b>{{row.orderAmount}} </b>&nbsp;<b>{{row.cur_code}} </b>, {{"Forward Agent"| translate }} - <b>{{row.fagentname}}</b>,{{"Trade Term"| translate }} - <b>{{row.tradeterms}}</b>,{{"Additional Expenses"| translate }} -<b> {{row.ord_addexps}}</b>,{{"Discount"| translate }} - <b>{{row.orderdisamt}}</b>,{{"Supplier"| translate }} - <b>{{row.supname}}</b>
                                ,{{"Approved Date"| translate }} - <b>{{row.ord_approved_by_date}}</b> </span>
                            <button class="btn btn-primary btn-small" type="button" id="uploaddoc" ng-click="UploadDocuments(row.ord_no)">{{"Upload/View Documents"| translate }}</button>
                            &nbsp;&nbsp;
                            <button ng-show="row.sims_workflow_editable == 'Y' " class="btn btn-primary btn-small" type="button" id="editOrder" ng-click="editOrderModal(row)">{{"Edit"| translate }}</button>
                        </div>
                        <div ng-style="{'display':row.isexpanded}">
                            <div></div>
                            <table class="table table-striped dataTable" id="example2" aria-describedby="example2_info">
                                <thead>
                                    <tr style="background: #ecf0f2;">
                                        <td>{{"Select"| translate }}</td>
                                        <td>{{"Req No"| translate }}</td>
                                        <td>{{"Line No"| translate }}</td>
                                        <td>{{"Item Des"| translate }}</td>
                                        <td>{{"Remarks"| translate }}</td>
                                        <!-- <td>INV NO</td>-->
                                        <td>{{"Cur Qty"| translate }}</td>
                                        <td>{{"Ord Qty"| translate }}</td>
                                        <td>{{"Price"| translate }}</td>
                                        <td>{{"Discount"| translate }}</td>
                                        <td>{{"VAT"| translate }}</td>
                                        <td>{{"Net Amt"| translate }}</td>
                                        <!-- <td>Expense price</td> ng-style="sr.req_no === NULL && {'background-color':'#e5f2ff'} || sr.req_no != NULL && {'background-color':black}" >-->
                                        <!--ng-style="{'background':sr.req_no == undefined?'pink':'blue'}"-->
                                        <td>{{"Approved Quantity"| translate }}</td>

                                    </tr>
                                </thead>
                                <!-- ng-style="{'background':sr.req_no === '10160016'?'pink':'blue'}">
                                ng-style="sr.req_no === undefined && {'background-color':pink}  || sr.req_no != undefined && {'background-color':skyblue}">  -->
                                <tbody>
                                    <tr ng-repeat="sr in row.subItems" style="border: 1px solid">
                                        <td class="col-md-1" style="padding-top: 1px !important; padding-bottom: 2px !important;" ng-style="{'background':sr.req_no == undefined?'#FEF8AE':'white'}">
                                            <div>
                                                <div class="checkbox check-success">
                                                    <input id="test-{{sr.ord_no+sr.od_line_no}}" type="checkbox" ng-model="sr.isChecked" ng-click="ordlineclick(row,sr)">
                                                    <label for="test-{{sr.ord_no+sr.od_line_no}}"></label>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="col-md-1" ng-style="{'background':sr.req_no == undefined?'#FEF8AE':'white'}">{{sr.req_no==undefined?'NA':sr.req_no}}</td>
                                        <td class="col-md-1" ng-style="{'background':sr.req_no == undefined?'#FEF8AE':'white'}">{{sr.od_line_no}}</td>
                                        <td class="col-md-3" ng-style="{'background':sr.req_no == undefined?'#FEF8AE':'white'}">{{sr.rd_item_desc}}</td>
                                        <td class="col-md-2" ng-style="{'background':sr.req_no == undefined?'#FEF8AE':'white'}">{{sr.od_remarks}}</td>
                                        <!--<td class="col-md-2" ng-style="{'background':sr.req_no == undefined?'#FEF8AE':'white'}">{{sr.im_inv_no}}</td>-->
                                        <!--<td class="col-md-2" style="background: white; padding-top: 2px !important; padding-bottom: 2px !important;">{{sr.createBy==""?sr.up_name:sr.createBy}}</td>-->
                                        <td class="col-md-1" ng-style="{'background':sr.req_no == undefined?'#FEF8AE':'white'}" style="text-align: center">{{sr.id_cur_qty}}</td>
                                        <td class="col-md-1" ng-style="{'background':sr.req_no == undefined?'#FEF8AE':'white'}" style="text-align: center">{{sr.od_order_qty}}</td>
                                        <td class="col-md-1" ng-style="{'background':sr.req_no == undefined?'#FEF8AE':'white'}" style="text-align: right">{{sr.od_supplier_price | currency:'':2}}</td>
                                        <td class="col-md-1" ng-style="{'background':sr.req_no == undefined?'#FEF8AE':'white'}" style="text-align: center">{{sr.od_discount_pct}}</td>
                                        <td class="col-md-1" ng-style="{'background':sr.req_no == undefined?'#FEF8AE':'white'}" style="text-align: right">{{sr.od_item_vat_amount | currency:'':2}}</td>
                                        <td class="col-md-1" ng-style="{'background':sr.req_no == undefined?'#FEF8AE':'white'}" style="text-align: right">{{sr.netamt | currency:'':2}}</td>                                        
                                        <!--<td class="col-md-2" style="background: white; padding-top: 2px !important; padding-bottom: 2px !important;">{{sr.req_type=='S'?'NA':sr.od_expense_price}}</td>-->
                                        <td class="col-md-1" ng-style="{'background':sr.req_no == undefined?'#FEF8AE':'white'}">
                                            <input type="number" class="input-sm" style="text-align: right; width: auto;" ng-model="sr.final_qnt" step="0.01"
                                                   max="{{sr.od_order_qty}}" min="0" ng-blur="checkRange(sr)" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="margin: 0; text-align: left; padding-top: 5px;">
                                <label id="Label2" for="txt_item_remark" class="form-label" ng-show="hide_saves">{{"Approval Comment" | translate }}</label>
                                <input type="text" name="txt_item_remark" id="txt_item_remark" class="k-textbox input-sm" ng-model="row.ord_approval_comment" ng-show="hide_saves" />
                            </div>                            
                        </div>
                    </div>
                    <div class="row">
                        <!--<div class="col-md-6" style="margin: 0; text-align: left; padding-top: 5px;">ord_approved_by_date
                            <label id="Label2" for="txt_item_remark" class="form-label" ng-show="hide_saves">{{"Comment" | translate }}</label>
                            <input type="text" name="txt_item_remark" id="txt_item_remark" class="k-textbox input-sm" ng-model="remarks" ng-show="hide_saves" />
                        </div>-->
                        <div class="col-md-12" style="margin: 0; text-align: right; padding-top: 5px;">
                            <label id="Label1" for="txt_item_remark" class="form-label" ng-show="hide_saves">&nbsp;</label>
                            <button type="button" class="btn btn-success input-sm" ng-click="save();" ng-disabled="hide_save" ng-show="hide_saves">Approve</button>
                            <button type="button" class="btn btn-danger input-sm" ng-click="reject();" ng-disabled="hide_save" ng-show="hide_saves">Reject</button>
                        </div>
                        <!--<div class="col-md-12 controls">

                        </div>-->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="UploadDocModal" ng-style="style" tabindex="-1">
    <div class="modal-dialog" id="Div10">
        <div class="modal-content" style="height: 450px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="add_upload_doc()">&times;</span></button>
                <h5 class="semi-bold pull-left">{{"Upload Documents"| translate }} &nbsp;&nbsp; (Order No : {{ordno}})</h5>
                <br />
            </div>
            <div class="modal-body" style="background-color: white">
                <div>

                    <!--                <h5 class="semi-bold pull-left">Order No : {{ordno}}</h5>-->
                    <table>
                        <tr>
                            <td class="td">
                                <input type="file" id="file1" name="file" onchange="angular.element(this).scope().file_changed(this)"
                                       ng-files="getTheFiles($files)" accept="all" required style="float: initial; width: 120px; display: none" />
                                <button class="btn btn-green" type="button" ng-click="uploadClick(info)" onclick="document.getElementById('file1').click();"><i class="fa fa-cloud-upload"></i>&nbsp;{{"Upload"| translate }}</button>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    <label style="font-size: medium; font-weight: bold">{{doccount}}</label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <br />
                <div class="grid-body no-border" ng-show="Upload_doc">
                    <div id="Div11" class="dataTables_wrapper form-inline">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="Div13" class="dataTables_wrapper form-inline" style="width: 100%; height: 300px; overflow-x: auto; overflow-y: auto">
                                    <table class="table  table-bordered  table-condensed dataTable" aria-describedby="example2_info">
                                        <tr ng-repeat="Upload_doc in images_newfiles" ng-class="row1">
                                            <td class="td">
                                                <div>
                                                    <a href="#" ng-click="download(Upload_doc.new_filename)">{{Upload_doc.or_filename}}</a>
                                                    <div class="fa fa-times" ng-if="Upload_doc.or_filename!=''" ng-click="CancelFileUpload($index,Upload_doc)"></div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <button type="button" class="btn btn-success input-sm btn small" ng-click="saveorderdocs();">{{"Save"| translate }}</button>
                            <button type="button" class="btn btn-danger input-sm btn small" ng-click="cancelorderdocs();">{{"Cancel"| translate }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EditOrderModal" ng-style="style" tabindex="-1">
    <div class="modal-dialog" id="Div10" style="width: 90%;">
        <div class="modal-content" style="height: 450px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="cancel_modal();">&times;</span></button>
                <h5 class="semi-bold pull-left">{{"Edit Purchase Request"| translate }} &nbsp;&nbsp; (Order No : {{ord_no}})</h5>
                <br />
            </div>
            <div class="modal-body" style="background-color: white">

                <div class="row">
                    <div class="col-md-12">
                        <!--Supplier-->
                        <div class="col-md-2" ng-class="{'has-error': !myForm.cmb_sup.$valid && (myForm.cmb_sup.$touched || myForm.$submitted) }">
                            <label class="semi-bold" for="cmb_sup"><i class="fa fa-user"></i>&nbsp;{{"Supplier"| translate }} <span class="asterisk" style="color: red">*</span></label>
                            <select id="cmb_sup1"
                                    ng-model="temp.sup_code"
                                    ng-options="doc.sup_code as doc.sup_name for doc in Suppliers"
                                    ng-selected="temp.sup_code == doc.sup_code"
                                    tabindex="2" name="cmb_sup" class="form-control full-width" required></select>
                            <div class="col-md-12">
                                <div class="error-container"
                                     ng-show="myForm.cmb_sup.$dirty && myForm.cmb_sup.$invalid || myForm.$submitted">
                                    <small class="error"
                                           ng-show="myForm.cmb_sup.$error.required">
                                        Supplier is required.
                                    </small>
                                </div>
                            </div>
                        </div>

                        <!--Currency-->
                        <div class="col-md-2" ng-class="{'has-error': !myForm.cmb_currency.$valid && (myForm.cmb_currency.$touched || myForm.$submitted) }">
                            <label class="semi-bold" for="EndDate"><i class="fa fa-money"></i>&nbsp;{{"Currency Description"| translate }} <span class="asterisk" style="color: red">*</span></label>
                            <select id="cmb_currency1" name="cmb_currency" ng-model="temp.excg_curcy_code" class="form-control full-width" required>
                                <option ng-repeat="doc in CurMaster" value="{{doc.excg_curcy_code}}">{{doc.excg_curcy_desc}}</option>
                            </select>
                            <div class="error-container"
                                 ng-show="myForm.cmb_currency.$dirty && myForm.cmb_currency.$invalid || myForm.$submitted">
                                <small class="error"
                                       ng-show="myForm.cmb_currency.$error.required">
                                    Currency is required.
                                </small>
                            </div>
                        </div>

                        <!--Delivery Mode-->
                        <div class="col-md-2" ng-class="{'has-error': !myForm.cmb_delivery.$valid && (myForm.cmb_delivery.$touched || myForm.$submitted) }">
                            <label class="semi-bold" for="EndDate"><i class="fa fa-align-justify"></i>&nbsp;{{"Delivery Mode"| translate }} </label>
                            <select id="cmb_delivery" name="cmb_delivery" data-role="dropdownlist" class="form-control input-sm full-width" 
                                    ng-model="temp.dm_code"
                                    ng-options="doc.dm_code as doc.dm_name for doc in Deliverymode" name="Assemb_code">
                                <option value="">Please Select</option>
                            </select>                            
                        </div>


                        <!--Expected Date-->
                        <div class="col-md-2" ng-class="{'has-error': !myForm.expecteddate.$valid && (myForm.expecteddate.$touched || myForm.$submitted) }">
                            <label for="EndDate"><i class="fa fa-calendar"></i>&nbsp;{{"Expected Date"| translate }} <span class="asterisk" style="color: red">*</span></label>
                            <!--<div style="padding: 02px" class="input-append success date col-md-8" data-datepicker="true">-->
                            <input type="text" id="to_date" name="to_date" class="k-textbox full-width input-sm" ng-model="temp.expected_date" required>
                            <div class="error-container"
                                 ng-show="myForm.expecteddate.$dirty && myForm.expecteddate.$invalid || myForm.$submitted">
                                <small class="error"
                                       ng-show="myForm.expecteddate.$error.required">
                                    Expected Date is required.
                                </small>
                            </div>
                        </div>

                        <!--Payment Mode-->
                        <div class="col-md-2" ng-class="{'has-error': !myForm.cmb_payment.$valid && (myForm.cmb_payment.$touched || myForm.$submitted)}">
                            <label class="semi-bold" for="EndDate"><i class="fa fa-money"></i>&nbsp;{{"Payment Mode"| translate }} </label>
                            <select id="cmb_payment" name="cmb_payment" data-role="dropdownlist" class="form-control input-sm full-width" 
                                    ng-model="temp.pm_code"
                                    ng-options="doc.pm_code as doc.pm_desc for doc in paymentmode">
                                <option value="">Please Select</option>
                            </select>                           
                        </div>

                        <!--Trade Term-->
                        <div class="col-md-2" ng-class="{'has-error': !myForm.cmb_tradeterm.$valid && (myForm.cmb_tradeterm.$touched || myForm.$submitted) }">
                            <label class="semi-bold" for="EndDate"><i class="fa fa-align-justify"></i>&nbsp;{{"Trade Term"| translate }} </label>
                            <select id="cmb_tradeterm" name="cmb_tradeterm" data-role="dropdownlist" class="form-control input-sm full-width" 
                                    ng-model="temp.trt_code"
                                    ng-options="doc.trt_code as doc.trt_desc for doc in Trades">
                                <option value="">Please Select</option>
                            </select>                            
                        </div>
                    </div><!-- col-md-12-->
                </div><!-- row-->

                <div class="row">
                    <div class="col-md-12">
                        <!--Forward Agent-->
                        <div class="col-md-2" ng-class="{'has-error': !myForm.cmb_fwdagent.$valid && (myForm.cmb_fwdagent.$touched || myForm.$submitted) }">
                            <label class="semi-bold" for="EndDate"><i class="fa fa-user"></i>&nbsp;{{"Forward Agent"| translate }} </label>
                            <select id="cmb_fwdagent" name="cmb_fwdagent" data-role="dropdownlist" class="form-control input-sm full-width" 
                                    ng-model="temp.fa_code"
                                    ng-options="doc.fa_code as doc.fa_name for doc in Agent">
                                <option value="">Please Select</option>
                            </select>                            
                        </div>
                        <!--Supplyer Qty.Ref OF Cr.-->
                        <div class="col-md-2">
                            <label class="semi-bold" for="EndDate"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Supplier Qty.Ref"| translate }}</label>
                            <input type="text" name="Desc" id="Desc_Res" class="k-textbox full-width input-sm" ng-model="temp.supplier_qty_ref" />
                        </div>

                        <div class="col-md-2">
                            <label class="semi-bold" for="EndDate"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Vehicle Plate No."| translate }}</label>
                            <select id="Select2" data-role="dropdownlist" class="form-control input-sm full-width" ng-disabled="show_vehicle"
                                    ng-model="temp.sims_transport_vehicle_code"
                                    ng-options="doc.sims_transport_vehicle_code as doc.sims_transport_vehicle_registration_number for doc in res_veh" name="vehicle_codes">
                                <option value="">Please Select</option>
                            </select>
                        </div>

                        <div class="col-md-3">
                            <label class="semi-bold" for="heading"><i class="fa fa-align-justify"></i>&nbsp;{{"Heading"| translate }}</label>
                            <input type="text" name="heading" id="txt_heading" class="k-textbox input-sm full-width" ng-model="temp.invs058_heading" />
                        </div>

                        <div class="col-md-3">
                            <label class="semi-bold" for="notes"><i class="fa fa-pencil"></i>&nbsp;{{"Notes"| translate }}</label>
                            <input type="text" name="notes" id="txt_notes" class="k-textbox input-sm full-width" ng-model="temp.invs058_notes" />
                        </div>   

                    </div><!-- col-md-12-->
                </div><!-- row-->

                    <div class="dataTables_wrapper form-inline">
                        <div class="row margin-top">
                            <div class="col-md-12" style="background-color:white;">
                                <table class="table table-bordered table-hover table-condensed" id="fixTable">
                                    <thead>
                                        <tr>
                                            <!--<th class="td" style="width: 5%; z-index: 1"></th>-->
                                            <th class="semi-bold"><b><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Req No."| translate }}</b></th>
                                            <th class="semi-bold"><b><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Line  No."| translate }}</b></th>
                                            <th class="semi-bold"><b><i class="fa fa-align-justify"></i>&nbsp;{{"Item Name"| translate }}</b></th>
                                            <th class="semi-bold"><b><i class="fa fa-bookmark"></i>&nbsp;{{"Remark"| translate }}</b></th>
                                            <th class="semi-bold"><b><i class="fa fa-align-justify"></i>&nbsp;{{"Uom"| translate }}</b></th>
                                            <th class="semi-bold"><b><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Cur Qty"| translate }}</b></th>
                                            <th class="semi-bold"><b><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"MALC Rate"| translate }}</b></th>
                                            <th class="semi-bold"><b><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Ord Qty"| translate }}</b></th>
                                            <th class="semi-bold"><b><i class="fa fa-money"></i>&nbsp;{{"Supp Price"| translate }}</b></th>
                                            <th class="semi-bold"><b><i class="fa fa-money"></i>&nbsp;{{"Gross Amt"| translate }}</b></th>
                                            <th class="semi-bold"><b><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Disc(%)"| translate }}</b></th>
                                            <th class="semi-bold"><b><i class="fa fa-money"></i>&nbsp;{{"Disc(amt)"| translate }}</b></th>
                                            <th class="semi-bold"><b><i class="fa fa-money"></i>&nbsp;{{"VAT(%)"| translate }}</b></th>
                                            <th class="semi-bold"><b><i class="fa fa-money"></i>&nbsp;{{"VAT(amt)"| translate }}</b></th>                                            
                                            <th class="semi-bold"><b><i class="fa fa-user"></i>&nbsp;{{"Req By"| translate }}</b></th>
                                            <th class="semi-bold"><b><i class="fa fa-calendar"></i>&nbsp;{{"Req Date"| translate }}</b></th>                                            
                                            <th class="semi-bold"><b><i class="fa fa-money"></i>&nbsp;{{"Net Amt"| translate }}</b></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr ng-repeat="info in testALL">

                                            <!--<td><i class="fa fa-cut" ng-click="removeItem(info,$index)"></i></td>-->
                                            <td class="td">{{info.req_no}}</td>
                                            <td class="td">{{info.od_line_no}}</td>
                                            <td class="td">{{info.rd_item_desc}}</td>
                                            <td class="td">
                                                <label id="Label6">
                                                    <input style="width: 50px; height: 25px" aria-controls="example" ng-model="info.od_remarks" class="k-textbox input-sm full-width">
                                                </label>
                                            </td>
                                            <td class="td">{{info.uom_name}}</td>
                                            <td class="td">{{info.id_cur_qty}}</td>
                                            <td class="td">{{info.im_malc_rate}}</td>
                                            <td>
                                                <label id="Label5">
                                                    <input style="width: 60px; height: 25px" aria-controls="example" ng-model="info.invs058_ordered_quantity" class="k-textbox input-sm full-width" ng-change="calamount(info,'')" ng-keypress="onlyNumbers($event,'')">
                                                </label>
                                            </td>
                                            <td>
                                                <label id="Label1">
                                                    <input style="width: 60px; height: 25px" aria-controls="example" ng-model="info.invs058_sup_price" class="k-textbox input-sm full-width" ng-change="calamount(info,'')" ng-keypress="onlyNumbers($event,'')">
                                                </label>
                                            </td>
                                            <td class="td">{{info.invs058_gross_amt  | currency:'':2}}</td>
                                            <td>
                                                <label id="Label2">
                                                    <input style="width: 50px; height: 25px" aria-controls="example" ng-model="info.invs058_discount" class="k-textbox input-sm full-width" ng-change="calamount(info,'dis')" ng-keypress="onlyNumbers($event,'')">
                                                </label>
                                            </td>
                                            <td>
                                                <label id="Label3">
                                                    <input style="width: 50px; height: 25px" aria-controls="example" ng-model="info.invs058_discount_amt" class="k-textbox input-sm full-width" ng-change="calamount(info,'amt')" ng-keypress="onlyNumbers($event,'')">
                                                </label>
                                            </td>
                                            <td class="td">{{info.im_item_vat_percentage}}</td>
                                            <td>
                                                <label id="Label3">
                                                    <input style="width: 50px; height: 25px" aria-controls="example" ng-model="info.dd_item_vat_amount" class="k-textbox input-sm full-width" ng-disabled="true">
                                                </label>
                                            </td>                                           
                                            <td class="td">{{info.order_createdby}}</td>
                                            <td class="td">{{info.ord_date}}</td>                                            
                                            <td class="td">{{info.invs058_rqvalue  | currency:'':2}}</td>

                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>


                    <div class="row form-row" style="background-color:white">
                        <!--<div class="col-md-12 text-right">
                            <div class="col-md-12">
                                <label class="semi-bold" for="issuedate">{{"Select Expenses"| translate }}</label>
                            </div>
                        </div>-->
                        <!--<div class="col-md-12">
                            <div id="div22" class="dataTables_wrapper form-inline">
                                <div style="width: 450px; height: 200px; overflow-x: auto; overflow-y: auto">
                                    <table class="table table-bordered table-condensed" id="fixTable2">
                                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                                            <tr>
                                                <td>Additional Expenses</td>
                                                <td><input type="text" name="txt_orvalue" id="order1" class="k-textbox input-sm full-width" ng-model="totalExpense" ng-change="orcalculateamt('A')" ng-keypress="onlyNumbers($event,'')" /></td>
                                            </tr>
                                            <tr>
                                                <td>Discount (%) </td>
                                                <td><input type="text" name="txt_orvalue" id="order2" class="k-textbox input-sm full-width" ng-model="addDiscountper" ng-change="orcalculateamt('P')" ng-keypress="onlyNumbers($event,'')" /></td>
                                            </tr>
                                            <tr>
                                                <td>Discount (Amt)</td>
                                                <td><input type="text" name="txt_orvalue" id="order3" class="k-textbox input-sm full-width" ng-model="adddisAmt" ng-change="orcalculateamt('S')" ng-keypress="onlyNumbers($event,'')" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>-->
                        <div class="col-md-12">
                            <div id="div22" class="dataTables_wrapper form-inline pull-right">
                                <div style="width: 450px; height: 110px; overflow-x: auto; overflow-y: auto">
                                    <table class="table table-bordered table-condensed" id="fixTable2">
                                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                                            <tr ng-repeat="ji in OrderAttrs">
                                                <td>{{ji.or_atdesc}}</td>
                                                <td>
                                                    <input type="text" name="txt_orvalue" id="txt_orvalue" class="k-textbox input-sm full-width" ng-model="ji.or_atamount" ng-change="orcalculateamt(ji)" ng-keypress="onlyNumbers($event,'')" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="background-color:white;">
                            <div class="col-md-12" style="text-align: right">
                                <label for="grossamt"><b>{{"Total Gross Amount : "| translate }}{{total_grossamt}}</b></label><br />
                                <!--<label for="netamt"><b>{{"Total Net Amount : "| translate }}{{total_netamt}}</b></label><br />-->
                                <label for="vatamt"><b>{{"Total VAT Amount : "| translate }}{{vatTotalAmt}}</b></label><br />
                                <label class="semi-bold" for="EndDate"><b>{{"Total Net Amount" |translate}}: {{totAmt | currency:'':2}}</b></label>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="pull-right">
                                <!--<label for="EndDate"><b>{{"Total Amount" | translate}} : {{totAmt  | currency:'':2}}</b></label>-->
                                <button ng-hide="showUpdateBtn" class="btn btn-primary btn-small" type="submit" ng-disabled="savedisabled" ng-click="savedata();">{{"Update"| translate }}</button>

                                <button ng-show="showUpdateBtn" class="btn btn-primary btn-small" type="submit" ng-disabled="savedisabled" ng-click="updateRejectedOrder();">{{"Update"| translate }}</button>

                                <!--<button class="btn btn-primary btn-cons" type="submit" ng-disabled="savedisabled">{{"Save & Finalize"| translate }}</button>-->
                                <button class="btn btn-warning btn-small" type="button" id="Button2" ng-click="cancel_modal()">{{"Cancel"| translate }}</button>
                            </div>
                        </div>
                    </div>



                </div>
        </div>
    </div>
</div>

<script src="assets/js/calender-datepicker-id.js"></script>
