﻿<script src="assets/js/tableHeadFixer.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Pending Request"| translate }}</span></h3>
            </div>

            <div class="grid-title no-border">
            </div>

            <div class="grid-body no-border">


                <div class="row form-row">

                    <div class="col-md-12">

                        <!--Request Type-->
                        <div class="col-md-3" ng-class="{'has-error': !Myform.requesttype.$valid && (Myform.requesttype.$touched || Myform.$submitted) }">
                            <label class="semi-bold" for="requesttype">{{"Request Type"| translate }}</label>
                            <select id="Select1" class="form-control input-sm" name="requesttype"
                                    ng-model="temp.request_mode_code"
                                    ng-options="reqtnew.request_mode_code as reqtnew.request_mode_name for reqtnew in req_type_detailsNew"
                                    required>
                                <option value="">Please Select</option>
                            </select>
                            <p class="help-block" ng-show="Myform.requesttype.$error.required  &&  (Myform.requesttype.$touched || Myform.$submitted)">
                                This field is required
                            </p>
                        </div>

                        <div class="col-md-3">
                            <label class="semi-bold" for="salem_code">{{"Requested by User"| translate }}</label>
                            <select id="Select6" class="form-control input-sm"
                                    ng-model="temp.salesman_code"
                                    ng-options="sl.salesman_code as sl.salesman_name for sl in salesman_type" name="salem_code" required>
                                <option value="">Please Select</option>
                            </select>
                        </div>

                        <!--Department Name-->
                        <div class="col-md-3">
                            <label class="semi-bold" for="DeptName">{{"Dept Name"| translate }}</label>
                            <select id="AccountNo" class="form-control input-sm" name="DeptName"
                                    ng-model="temp.dept_code"
                                    ng-options="d.dept_code as d.dept_name for d in dept_data" required>
                                <option value="">Please Select</option>
                            </select>
                        </div>

                        <!--Button-->
                        <div class="col-md-3">
                            <div class="pull-right">
                                <label class="semi-bold" for="EndDate">&nbsp;</label>
                                <div class="dataTables_filter" id="example_filter">
                                    <button class="btn btn-primary btn-cons" style="height: 35px" type="button" id="Button1" ng-click="SearchRequest()">{{"Pending Request"| translate }}</button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-12">
                        <hr style="height: 6px; border: none; color: darkorange; background-color: darkorange;">
                    </div>

                    <div ng-show="Grid">

                        <div class="grid-body no-border" ng-show="Main_table">
                            <div style="width: 100%; height: 200px; overflow-x: auto; overflow-y: auto">
                                <table class="table table-bordered table-hover table-condensed" id="fixTable">
                                    <thead style="background-color: white">
                                        <tr style="background-color: #edefef">

                                            <th class="semi-bold">
                                                <label><b>{{"ITEM CODE" | translate }}</b></label>
                                            </th>
                                            <th class="semi-bold">
                                                <label><b>{{"ITEM DESC" | translate }}</b></label>
                                            </th>
                                            <!-- <th class="semi-bold">
                                                <label><b>{{"UOM CODE" | translate }}</b></label>
                                            </th>-->
                                            <th class="semi-bold">
                                                <label><b>{{"CURRENCY" | translate }}</b></label>
                                            </th>
                                            <th class="semi-bold">
                                                <label><b>{{"SELL PRICE" | translate }}</b></label>
                                            </th>
                                            <th class="semi-bold">
                                                <label><b>{{"SUPP CODE" | translate }}</b></label>
                                            </th>
                                            <th class="semi-bold">
                                                <label><b>{{"REQUIRE DATE" | translate }}</b></label>
                                            </th>
                                            <th class="semi-bold">
                                                <label><b>{{"CUR QTY" | translate }}</b></label>
                                            </th>
                                            <th class="semi-bold">
                                                <label><b>{{"REQUESTED QTY" | translate }}</b></label>
                                            </th>
                                            <th class="semi-bold">
                                                <label><b>{{"REMARK" | translate }}</b></label>
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="j in filteredTodos | orderBy:orderByField:reverseSort" ng-class="row1">

                                            <td>
                                                <label id="lbl">{{j.im_item_code}}</label>
                                            </td>
                                            <td>
                                                <label id="Label1">{{j.im_desc}}</label>
                                            </td>
                                            <!-- <td>
                                                <label id="Label2">{{j.uom_code}}</label>
                                            </td>-->
                                            <td>
                                                <label id="Label4">
                                                    {{j.excg_curcy_desc}}
                                                </label>

                                            </td>
                                            <td>
                                                <label id="Label5">
                                                    {{j.im_sell_price}}
                                                </label>
                                            </td>
                                            <td>
                                                <label id="Label7">{{j.sup_code}}</label>
                                            </td>
                                            <td>
                                                <label id="Label6">
                                                    {{j.rd_date_required}}
                                                </label>
                                            </td>
                                            <td>
                                                <label id="Label3">{{j.curr_qty}}</label>
                                            </td>
                                            <td>
                                                <label id="Label8">
                                                    {{j.rd_quantity}}
                                                </label>
                                            </td>
                                            <td>
                                                <label id="Label9">
                                                    {{j.rd_remarks}}
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="grid-body no-border" ng-show="Main_table_Service">
                            <div style="width: 100%; height: 200px; overflow-x: auto; overflow-y: auto">
                                <table class="table table-bordered table-hover table-condensed" id="Table3">
                                    <thead style="background-color: white">
                                        <tr style="background-color: #edefef">

                                            <th class="semi-bold">
                                                <label><b>{{"SERVICE DESC" | translate }}</b></label>
                                            </th>

                                            <th class="semi-bold">
                                                <label><b>{{"CURRENCY" | translate }}</b></label>
                                            </th>

                                            <th class="semi-bold">
                                                <label><b>{{"SUPP CODE" | translate }}</b></label>
                                            </th>

                                            <th class="semi-bold">
                                                <label><b>{{"REQUIRE DATE" | translate }}</b></label>
                                            </th>

                                            <th class="semi-bold">
                                                <label><b>{{"REMARK" | translate }}</b></label>
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="j in filteredTodos track by $index | orderBy:orderByField:reverseSort" ng-class="row1">

                                            <td>
                                                <label id="Label15">{{j.im_desc}}</label>
                                            </td>
                                            <td>
                                                <label id="Label2">
                                                    {{j.excg_curcy_desc}}
                                                </label>

                                            </td>
                                            <td>
                                                <label id="Label16">
                                                    {{j.sup_code}}
                                                </label>
                                            </td>

                                            <td>
                                                <label id="Label19">
                                                    {{j.rd_date_required}}
                                                </label>
                                            </td>

                                            <td>
                                                <label id="Label11">{{j.rd_remarks}}</label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <hr style="height: 6px; border: none; color: darkorange; background-color: darkorange;" ng-show="Grid">
                        </div>


                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<script src="assets/js/tabs_accordian.js"></script>
<script src="assets/js/tableHeadFixer.js"></script>
