﻿<div class="row">
    <div class="row" ng-show="notshow">
        <div class="col-xs-4">
            <div class="well" class="form-group">
                <div class="form-group">
                    <label>Current Page:</label>
                    <input placeholder="page"
                           class="form-control"
                           ng-model="currentPage"
                           ng-init="currentPage = 1" />
                </div>
                <div class="form-group">
                    <label>Page Size:</label>
                    <input placeholder="Page Size"
                           class="form-control"
                           ng-model="numPerPage" />
                </div>
                <div class="form-group">
                    <label>Total Items:</label>
                    <input placeholder="Total"
                           class="form-control"
                           ng-model="pagersize" />
                </div>
                <hr />
                <div class="form-group">
                    <label>Dots Display:</label>
                    <input placeholder="..."
                           class="form-control"
                           maxlength="3"
                           ng-model="dots"
                           ng-init="dots = '...'" />
                </div>

                <hr />
                <div class="form-group">
                    <label>UL Class:</label>
                    <input placeholder="pagination"
                           class="form-control"
                           maxlength="100"
                           ng-model="ulClass" />
                </div>
                <div class="form-group">
                    <label>Active Class:</label>
                    <input placeholder="active"
                           class="form-control"
                           maxlength="100"
                           ng-model="activeClass"
                           ng-init="activeClass = 'active'" />
                </div>
                <div class="form-group">
                    <label>Disabled Class:</label>
                    <input placeholder="disabled"
                           class="form-control"
                           maxlength="100"
                           ng-model="disabledClass"
                           ng-init="disabledClass = 'disabled'" />
                </div>
                <br />
                <table class="table">

                    <tr>
                        <td>
                            <label>Show Prev Next:</label>
                        </td>
                        <td>
                            <input type="checkbox"
                                   ng-model="showPrevNext"
                                   ng-init="showPrevNext = true" />
                            {{showPrevNext}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Show First Last:</label>
                        </td>
                        <td>
                            <input type="checkbox"
                                   ng-model="showFirstLast"
                                   ng-init="showFirstLast = true" />
                            {{showPrevNext}}
                        </td>
                    </tr>
                </table>
                <hr />
                <span class="btn btn-default" onclick="location.reload()">
                    <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                </span>
                <span class="btn btn-success" ng-click="currentPage = 0">
                    Apply Settings
                </span>
                <br />
                <br />
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3>{{ "Salesman" | translate }}<span class="semi-bold"></span></h3>
            </div>
            <div class="grid-body no-border paddingcode">
                <div ng-show="display">
                    <form name="myForm" novalidate="novalidate" >
                        <div class="row">

                            <div class="col-md-2" ng-class="{'has-error': !myForm.comp_code.$valid && (myForm.comp_code.$touched || myForm.$submitted) }">
                                <div class=" ">
                                    <label class="form-label"><i class="fa fa-building"></i>&nbsp;{{ "Company" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                </div>
                                <div class=" ">
                                    <select id="cmb_comp_code" data-role="dropdownlist" class="form-control input-sm full-width" name="comp_code" required
                                            ng-model="edt.com_code"
                                            ng-change="Getdeptinfo(edt.com_code)"
                                            ng-options="compnm.com_code as compnm.com_name for compnm in comp_data">
                                        <option value="">Please Select</option>
                                    </select>
                                </div>
                                <p class="help-block" ng-show="myForm.comp_code.$error.required &&  (myForm.comp_code.$touched || myForm.$submitted)">
                                    {{"This field is required" | translate }}
                                </p>
                            </div>

                            <div class="col-md-2" ng-class="{'has-error': !myForm.dept_code.$valid && (myForm.dept_code.$touched || myForm.$submitted) }">
                                <div class=" ">
                                    <label class="form-label-sm"><i class="fa fa-pencil-square-o"></i>&nbsp;{{ "Department" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                </div>
                                <div class=" ">
                                    <select id="cmb_dept" data-role="dropdownlist" class="form-control input-sm full-width" name="dept_code" required
                                            ng-model="edt.dep_code"
                                            ng-options="dept.dep_code as dept.dep_name for dept in dept_data">
                                        <option value="">Please Select</option>
                                    </select>
                                </div>
                                <p class="help-block" ng-show="myForm.dept_code.$error.required &&  (myForm.dept_code.$touched || myForm.$submitted)">
                                    {{"This field is required" | translate }}
                                </p>
                            </div>

                            <div class="col-md-2" ng-class="{'has-error': !myForm.salesman_code.$valid && (myForm.salesman_code.$touched || myForm.$submitted) }">
                                <div class=" ">
                                    <label class="form-label"><i class="fa fa-dashboard"></i>&nbsp;{{ "Salesman Code" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                </div>
                                <div class=" ">
                                    <input id="txt_salesman_code" ng-readonly="salesman_code" type="text" class="k-textbox input-sm full-width"
                                           ng-model="edt.sm_code" name="salesman_code" required>
                                </div>
                                <p class="help-block" ng-show="myForm.salesman_code.$error.required &&  (myForm.salesman_code.$touched || myForm.$submitted)">
                                    {{"This field is required" | translate }}
                                </p>
                            </div>



        <div class="col-md-2" ng-class="{'has-error': !myForm.salename.$valid && (myForm.salename.$touched || myForm.$submitted) }">
                                <div class=" ">
                                    <label class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{ "Salesman Name" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                </div>
                                <div class=" ">
                                    <div class=" ">
                                        <input id="txt_salename" type="text" class="k-textbox input-sm full-width" ng-model="temp.sm_name" ng-maxlength="50" name="salename" required><!--em_login_code-->
                                    </div>
                                </div>
                                <p class="help-block" ng-show="myForm.salename.$error.maxlength && (myForm.salename.$touched || myForm.salename.$submitted)">
                                    Name should be 50 character
                                </p>
                                <p class="help-block" ng-show="myForm.salename.$error.required &&  (myForm.salename.$touched || myForm.$submitted)">
                                    {{"This field is required" | translate }}
                                </p>
                            </div>




        <div class="col-md-2" ng-class="{'has-error': !myForm.salepwd.$valid && (myForm.salepwd.$touched || myForm.$submitted) }">
                                <div class=" ">
                                    <label class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{ "Salesman Password" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                </div>
                                <div class=" ">
                                    <input id="txt_salepwd" type="password" class="k-textbox input-sm full-width" ng-model="edt.sm_password" name="salepwd" ng-maxlength="12" required>
                                </div>
                                <p class="help-block" ng-show="myForm.salepwd.$error.required &&  (myForm.salepwd.$touched || myForm.$submitted)">
                                    {{"This field is required" | translate }}
                                </p>
                                <p class="help-block" ng-show="myForm.salepwd.$error.maxlength && (myForm.salepwd.$touched || myForm.salepwd.$submitted)">
                                    {{"Length should be 12 digits/characters" | translate }}
                                </p>
                            </div>

                    
                            <div class="col-md-1 pull-left">
                                <label class="form-label">&nbsp;</label>
                                <div class=" "><span class="btn btn-white btn-xs btn-mini" style="background-color: rgb(243, 125, 26); color: white" ng-click="getEmployee()"><b>{{"Search"|translate}}</b></span></div>
                            </div>
                        </div>

                        <div class="row margin-top">

                            

                            <div class="col-md-2" ng-class="{'has-error': !myForm.min_commssion.$valid && (myForm.min_commssion.$touched || myForm.$submitted) }">
                                <div class=" ">
                                    <label class="form-label"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{ "Min Commission" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                </div>
                                <div class=" ">
                                    <input id="txt_mincom" type="text" class="k-textbox input-sm full-width" name="min_commssion" ng-maxlength="8" required
                                           ng-model="edt.sm_min_comm" ng-pattern="/^[0-9]{1,4}(\.[0-9]+)?$/" step="0.01">
                                </div>

                                <p class="help-block" ng-show="myForm.min_commssion.$error.required &&  (myForm.min_commssion.$touched || myForm.$submitted)">
                                    {{"This field is required" | translate }}
                                </p>
                                <p class="help-block" ng-show="myForm.min_commssion.$error.maxlength && (myForm.min_commssion.$touched || myForm.rsn.$submitted)">
                                    {{"Length should be 4 digit" | translate }}
                                </p>
                                <p class="help-block" ng-show="myForm.min_commssion.$error.pattern && (myForm.min_commssion.$touched || myForm.rsn.$submitted)">
                                    {{"Maximum Basic should be number and 8 digit" | translate }}
                                </p>
                            </div>

                            <div class="col-md-2" ng-class="{'has-error': !myForm.max_commssion.$valid && (myForm.max_commssion.$touched || myForm.$submitted) }">
                                <div class=" ">
                                    <label class="form-label"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{ "Max Commission" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                </div>
                                <div class=" ">
                                    <input id="txt_maxcom" type="text" class="k-textbox input-sm full-width" name="max_commssion" ng-maxlength="8" required
                                           ng-model="edt.sm_max_comm" ng-pattern="/^[0-9]{1,4}(\.[0-9]+)?$/" step="0.01">
                                </div>
                                <p class="help-block" ng-show="myForm.max_commssion.$error.required &&  (myForm.max_commssion.$touched || myForm.$submitted)">
                                    {{"This field is required" | translate }}
                                </p>
                                <p class="help-block" ng-show="myForm.max_commssion.$error.maxlength && (myForm.max_commssion.$touched || myForm.max_commssion.$submitted)">
                                    {{"Length should be 4 digit" | translate }}
                                </p>
                                <p class="help-block" ng-show="myForm.max_commssion.$error.pattern && (myForm.max_commssion.$touched || myForm.max_commssion.$submitted)">
                                    {{"Maximum Basic should be number and 8 digit" | translate }}
                                </p>
                            </div>

                            <div class="col-md-2" ng-class="{'has-error': !myForm.max_disc.$valid && (myForm.max_disc.$touched || myForm.$submitted) }">
                                <div class=" ">
                                    <label class="form-label"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{ "Max Discount" | translate }} <span class="asterisk" style="color: red">*</span></label>
                                </div>
                                <div class=" ">
                                    <input id="txt_mandisc" type="text" class="k-textbox input-sm full-width" name="max_disc" ng-maxlength="8" required
                                           ng-model="edt.sm_max_discount" ng-pattern="/^[0-9]{1,4}(\.[0-9]+)?$/" step="0.01">
                                </div>
                                <p class="help-block" ng-show="myForm.max_disc.$error.required &&  (myForm.max_disc.$touched || myForm.$submitted)">
                                    {{"This field is required" | translate }}
                                </p>
                                <p class="help-block" ng-show="myForm.max_disc.$error.maxlength && (myForm.max_disc.$touched || myForm.max_disc.$submitted)">
                                    {{"Length should be 4 digit" | translate }}
                                </p>
                                <p class="help-block" ng-show="myForm.max_disc.$error.pattern && (myForm.max_disc.$touched || myForm.max_disc.$submitted)">
                                    {{"Maximum Basic should be number and 8 digit" | translate }}
                                </p>

                            </div>
                            <div class="col-md-2" ng-class="{'has-error': !myForm.pct_1.$valid && (myForm.pct_1.$touched || myForm.$submitted) }">
                                <div class=" ">
                                    <label class="form-label">{{ "PCT 1" | translate }}</label>
                                </div>
                                <div class=" ">
                                    <input id="txt_pct1" type="text" class="k-textbox input-sm full-width" maxlength="8" ng-maxlength="8"
                                           ng-model="edt.sm_pct_1_comm" ng-pattern="/^[0-9]{1,4}(\.[0-9]+)?$/" step="0.01" name="pct_1">

                                </div>
                                <p class="help-block" ng-show="myForm.pct_1.$error.maxlength && (myForm.pct_1.$touched || myForm.pct_1.$submitted)">
                                    {{"Length should be 17 digit" | translate }}
                                </p>
                                <p class="help-block" ng-show="myForm.pct_1.$error.pattern && (myForm.pct_1.$touched || myForm.pct_1.$submitted)">
                                    {{"Maximum Basic should be number and 13 digit" | translate }}
                                </p>
                            </div>

                            <div class="col-md-2" ng-class="{'has-error': !myForm.pct_2.$valid && (myForm.pct_2.$touched || myForm.$submitted) }">
                                <div class=" ">
                                    <label class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{ "PCT 2" | translate }}</label>
                                </div>
                                <div class=" ">
                                    <input id="txt_pct2" type="text" class="k-textbox input-sm full-width" maxlength="8" ng-maxlength="8"
                                           ng-model="edt.sm_pct_2_comm" ng-pattern="/^[0-9]{1,4}(\.[0-9]+)?$/" step="0.01" name="pct_2">
                                </div>

                                <p class="help-block" ng-show="myForm.pct_2.$error.maxlength && (myForm.pct_2.$touched || myForm.pct_2.$submitted)">
                                    {{"Length should be 17 digit" | translate }}
                                </p>
                                <p class="help-block" ng-show="myForm.pct_2.$error.pattern && (myForm.pct_2.$touched || myForm.pct_2.$submitted)">
                                    {{"Maximum Basic should be number and 13 digit" | translate }}
                                </p>
                            </div>

                            <div class="col-md-2">
                                <div class=" ">
                                    <label class="form-label"><i class="fa fa-bookmark"></i>&nbsp;{{ "Status" | translate }}</label>
                                </div>
                                <div class=" ">
                                    <div class="checkbox check-success" style="height: 20px">
                                        <input type="checkbox" value="1" id="chk_status" ng-model="edt.sm_status">
                                        <label for="chk_status" />
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="row margin-top">


                            <div class="col-md-2" ng-class="{'has-error': !myForm.target_lvl1.$valid && (myForm.target_lvl1.$touched || myForm.$submitted) }">
                                <div class=" ">
                                    <label class="form-label"><i class="fa fa-bullseye"></i>&nbsp;{{ "Target Level 1" | translate }}</label>
                                </div>
                                <div class=" ">
                                    <input id="txt_level1" type="text" class="k-textbox input-sm full-width" maxlength="17" ng-maxlength="17" name="target_lvl1"
                                           ng-model="edt.sm_target_level_1" ng-pattern="/^[0-9]{1,13}(\.[0-9]+)?$/" step="0.01">
                                </div>

                                <p class="help-block" ng-show="myForm.target_lvl1.$error.maxlength && (myForm.target_lvl1.$touched || myForm.target_lvl1.$submitted)">
                                    {{"Length should be 17 digit" | translate }}
                                </p>
                                <p class="help-block" ng-show="myForm.target_lvl1.$error.pattern && (myForm.target_lvl1.$touched || myForm.target_lvl1.$submitted)">
                                    {{"Maximum Basic should be number and 13 digit" | translate }}
                                </p>

                            </div>

                            <div class="col-md-2" ng-class="{'has-error': !myForm.target_lvl2.$valid && (myForm.target_lvl2.$touched || myForm.$submitted) }">
                                <div class=" ">
                                    <label class="form-label"><i class="fa fa-bullseye"></i>&nbsp;{{ "Target Level 2" | translate }}</label>
                                </div>
                                <div class=" ">
                                    <input id="txt_level2" type="text" class="k-textbox input-sm full-width" maxlength="17" ng-maxlength="17" name="target_lvl2"
                                           ng-model="edt.sm_target_level_2" ng-pattern="/^[0-9]{1,13}(\.[0-9]+)?$/" step="0.01">
                                </div>

                                <p class="help-block" ng-show="myForm.target_lvl2.$error.maxlength && (myForm.target_lvl2.$touched || myForm.target_lvl2.$submitted)">
                                    {{"Length should be 17 digit" | translate }}
                                </p>
                                <p class="help-block" ng-show="myForm.target_lvl2.$error.pattern && (myForm.target_lvl2.$touched || myForm.target_lvl2.$submitted)">
                                    {{"Maximum Basic should be number and 13 digit" | translate }}
                                </p>
                            </div>

                            <div class="col-md-2" ng-class="{'has-error': !myForm.target_lvl3.$valid && (myForm.target_lvl3.$touched || myForm.$submitted) }">
                                <div class=" ">
                                    <label class="form-label"><i class="fa fa-bullseye"></i>&nbsp;{{ "Level 3" | translate }}</label>
                                </div>
                                <div class=" ">
                                    <input id="txt_level3" type="text" class="k-textbox input-sm full-width" maxlength="17" ng-maxlength="17"
                                           ng-model="edt.sm_target_level_3" ng-pattern="/^[0-9]{1,13}(\.[0-9]+)?$/" step="0.01" name="target_lvl3">
                                </div>

                                <p class="help-block" ng-show="myForm.target_lvl3.$error.maxlength && (myForm.target_lvl3.$touched || myForm.target_lvl3.$submitted)">
                                    {{"Length should be 17 digit" | translate }}
                                </p>
                                <p class="help-block" ng-show="myForm.target_lvl3.$error.pattern && (myForm.target_lvl3.$touched || myForm.target_lvl3.$submitted)">
                                    {{"Maximum Basic should be number and 13 digit" | translate }}
                                </p>
                            </div>
                            

                        </div>

                        <div class="row margin-top">


                            

                            

                        </div>
                        <div class=" ">
                            <div class="col-md-12">
                                <div class="form-actions">
                                    <div class="pull-right">
                                        <button class="btn btn-primary btn-small" type="button" ng-click="Save(myForm.$valid)" ng-show="save1">{{ "Save" | translate }}</button>
                                        <button class="btn btn-primary btn-small" type="button" ng-show="update1" ng-click="Update(myForm.$valid)">{{ "Update" | translate }}</button>
                                        <button class="btn btn-danger btn-small" type="button" ng-click="cancel()">{{ "Cancel" | translate }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div ng-show="grid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="pull-left">
                                <select id="Select1" style="width: 65px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                    <option value="10" class=" form-control input-sm">
                                        10
                                    </option>

                                    <option value="20" class=" form-control input-sm">
                                        20
                                    </option>

                                    <option value="All" class=" form-control input-sm">
                                        All
                                    </option>
                                </select>

                            </div>

                            &nbsp;
                            <button class="btn btn-success btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{ "New" | translate }}</button>
                            &nbsp;
                            <button class="btn btn-danger btn-small" type="button" ng-click="Delete()"><span class="semi-bold"></span>{{ "Delete" | translate }}</button>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <div class="dataTables_filter" id="example_filter">
                                   <span class="k-textbox k-space-right full-width">
                                        <input type="text" aria-controls="example" ng-model="searchText" placeholder="Salesman Code/ Salesman Name" class="k-textbox input-sm" autofocus="autofocus" tabindex="1" ng-change="search()">
                                  <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                            <div id="example_wrapper" class="dataTables_wrapper form-inline">
                                <div class="row margin-top">
                        <div class="col-md-12"style="margin-top:-11px;">
                                <!-- <table class="table table-hover table-striped  no-more-tables">-->
                                <table class="table table-hover table-bordered table-condensed" id="fixedtable">
                                    <thead>
                                        <tr style="background-color: #e9e4e4">
                                            <th class="small-cell v-align-middle" style="z-index: 999">
                                                <div class="checkbox check-success">
                                                    <input type="checkbox" name="check" value="1" ng-model="chk.chk_all" id="mainchk" ng-click="CheckAllChecked();">
                                                    <label for="mainchk"></label>
                                                </div>
                                            </th>
                                            <th>
                                                <b>
                                                    <!--{{"MORE"| translate }}-->
                                                    &nbsp;
                                                </b>
                                            </th>
                                            <th><b><i class="fa fa-building"></i>&nbsp;{{ "Company" | translate }}</b></th>
                                            <th><b><i class="fa fa-pencil-square-o"></i>&nbsp;{{ "Department" | translate }}</b></th>
                                            <th><b><i class="fa fa-dashboard"></i>&nbsp;{{ "Salesman Name" | translate }}</b></th>
                                            <th><b><i class="fa fa-user"></i>&nbsp;{{ "Salesman Code" | translate }}</b></th>
                                            <th><b><i class="fa fa-money"></i>&nbsp;{{ "Min Commission" | translate }}</b></th>
                                            <th><b><i class="fa fa-money"></i>&nbsp;{{ "Max Commission" | translate }}</b></th>
                                            <th><b><i class="fa fa-money"></i>&nbsp;{{ "Max Discount" | translate }}</b></th>
                                            <!-- <th><b>{{ "TARGET LEVEL 1" | translate }}</b></th>
                                             <th><b>{{ "LEVEL 2" | translate }}</b></th>
                                             <th><b>{{ "LEVEL 3" | translate }}</b></th>
                                             <th><b>{{ "PCT 1" | translate }}</b></th>
                                             <th><b>{{ "PCT 2" | translate }}</b></th>-->
                                            <th><b><i class="fa fa-bookmark"></i>&nbsp;{{ "Status" | translate }}</b></th>
                                            <th class="small-cell v-align-middle"><b><i class="fa fa-cogs"></i></b></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="salesman in filteredTodos" ng-class="row1">
                                            <td>
                                                <div class="checkbox check-success" style="height: 20px">
                                                    <input type="checkbox" name="check" value="1" id="{{salesman.sm_code+$index}}" ng-click="checkonebyonedelete()">
                                                    <label for="{{salesman.sm_code+$index}}">
                                                    </label>
                                                </div>
                                            </td>
                                            <td class="text-center"><i class="{{salesman.icon}}" ng-click="expand(salesman, $event);"></i></td>
                                            <td>
                                                <div>{{salesman.com_name}}</div>
                                            </td>
                                            <td>
                                                <div>{{salesman.dep_name}}</div>
                                            </td>
                                            <td>
                                                <div>{{salesman.sm_name}}</div>
                                            </td>
                                            <td>
                                                <div>{{salesman.sm_code}}</div>
                                            </td>
                                            <td>
                                                <div>{{salesman.sm_min_comm}}</div>
                                            </td>
                                            <td>
                                                <div>{{salesman.sm_max_comm}}</div>
                                            </td>
                                            <td>
                                                <div>{{salesman.sm_max_discount}}</div>
                                            </td>
                                            <!-- <td>
                                                 <div>{{salesman.sm_target_level_1}}</div>
                                             </td>
                                             <td>
                                                 <div>{{salesman.sm_target_level_2}}</div>
                                             </td>
                                             <td>
                                                 <div>{{salesman.sm_target_level_3}}</div>
                                             </td>
                                             <td>
                                                 <div>{{salesman.sm_pct_1_comm}}</div>
                                             </td>
                                             <td>
                                                 <div>{{salesman.sm_pct_2_comm}}</div>
                                             </td>-->
                                            <td>
                                                <span class="label label-success" ng-if="salesman.sm_status == true">{{"Active" | translate }}</span>
                                                <span ng-if="salesman.sm_status==false" class="label label-important">{{"In Active" | translate }}</span>
                                            </td>
                                            <td>
                                                <a><i class="fa fa-edit" ng-click="edit(salesman)"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                            <div class="row" ng-show="pager">
                        <div class="col-md-12">
                                <div class="pull-right">
                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                            ng-click="index(currentPage)">
                                    </paging>
                                </div>
                            </div>
                                </div>
  
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/js/tabs_accordian.js"></script>