﻿<script src="assets/plugins/tableExport/tableExport.js"></script>
<script src="assets/plugins/tableExport/jquery.base64.js"></script>
<script src="assets/plugins/tableExport/html2canvas.js"></script>
<script src="assets/plugins/tableExport/jspdf/libs/sprintf.js"></script>
<script src="assets/plugins/tableExport/jspdf/jspdf.js"></script>
<script src="assets/plugins/tableExport/jspdf/libs/base64.js"></script>
﻿

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Sales Document"| translate }}</span> </h3>
            </div>

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                class="form-control"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                class="form-control"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>


            <div class="grid-title no-border">
            </div>

            <div class="grid-body no-border" ng-show="table">
                <div class="row form-row">

                    <div class="col-md-12">
                        <!--Doc Code-->
                        <div class="col-md-3">
                            <label id="Label1" for="txt_BankCode" class="form-label">{{"Prov Date" | translate }}</label>
                            <!--<input type="text" name="doc_Code" id="doccode" class="form-control input-sm" readonly ng-model="tdate" />-->
                            <div class="input-append success date col-md-4 no-padding" data-datepicker="true" style="width: auto">
                                        <input type="text" id="Text27" placeholder="Select Date" name="Subsexpdate" class="form-control" ng-model="temp.provDate">
                                        <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                    </div>
                        </div>

                        <!--Doc Date-->
                        <div class="col-md-3">
                            <label for="StartDate">{{"Type" | translate }}</label>
                            <select id="Select2" class="form-control"
                                ng-model="temp.sal_type"
                                ng-options="doc.sal_type as doc.sal_type_name for doc in rcbSalesType" ng-change="GetSalesTypeChange(temp.sal_type);" name="sims_goal" required>
                            </select>

                        </div>

                        <!--Post Date-->
                        <div class="col-md-3">
                            <label  for="StartDate">{{"Doc Type" | translate }}</label>
                              <select id="Select3" class="form-control"
                                ng-model="temp.doc_type"
                                ng-options="doc.dt_code as doc.dt_desc for doc in rcbDocType" ng-change="GetDocType(temp.sims_financial_year);" name="sims_goal" required>
                            </select>
                        </div>

                        <div class="col-md-3">
                            <label  for="StartDate">{{"Sal Code" | translate }}</label>
                            <input type="text" name="doc_Code" id="Text10" class="form-control input-sm" readonly ng-model="salesman.sm_name" />

                        </div>
                    </div>

                    <div class="col-md-12">
                        <!--Doc Narration-->
                        <div class="col-md-3">
                            <label id="Label12" for="txt_Country_Code" class="form-label">{{"Internal A/C" | translate }}</label>
                            <input type="text" name="doc_Code" id="Text24" class="form-control input-sm" list="languages" tabindex="1" ng-blur="enroll_change(temp.enroll)" ng-model="temp.enroll" />

                               <datalist id="languages">
                                        <option class="form-control" ng-repeat="doc in rcbInternal" value="{{doc.up_name}}">{{doc.up_name}}</option>
                                    </datalist>

                           <!-- <select id="cmb_Status" class="form-control"
                                ng-model="temp.gltd_doc_narr"
                                ng-options="doc.company_name as doc.company_name for doc in narrationCmb" ng-change="Getdates(temp.sims_financial_year);" name="sims_goal" required>
                            </select>-->
                        </div>

                        <div class="col-md-1">
                            <label id="Label4" for="txt_Country_Code" class="form-label">&nbsp;</label>

                            <span style="background-color: darkorange; color: white;" ng-disabled="searchDisable" class="btn btn-white btn-sm" ng-click="studentSearch();"><i class="fa fa-search" aria-hidden="true"></i></span>

                        </div>
                        <!--Doc Remark-->
                        <div class="col-md-6">
                            <label id="Label2" for="txt_BankCode" class="form-label">{{"Name" | translate }}</label>
                            <input type="text" name="doc_Code" id="Text1" class="form-control input-sm" ng-model="temp.name"  readonly/>
                            <!--<input type="text" name="doc_Code" id="Text27" class="form-control input-sm" ng-model="temp.special_nm" />-->

                        </div>

                        <!--Ledger Code-->
                        <div class="col-md-2">
                            <label id="Label3" for="txt_Country_Code" class="form-label">{{"Order Ref No" | translate }}</label>
                            <input type="text" name="doc_Code" id="Text19" class="form-control input-sm" ng-model="temp.oderRefNo" />
                           
                        </div>




                    </div>
                    <div class="col-md-12">
                         <div class="col-md-12">
                      
                             </div>
                    </div>
                    <div class="col-md-12">
                        <hr style="height: 6px; border: none; color: darkorange; background-color: darkorange;">
                    </div>
                    <div class="col-md-12 ">
                        <!--Ledger Code-->
                        <div class="col-md-3">
                            <label  for="txt_Country_Code" class="form-label">{{"Group" | translate }}</label>
                            <select id="rcbGroup" class="form-control"
                                ng-model="temp.gcode"
                                ng-options="doc.code as doc.code for doc in rcbGroup" ng-change="Getdates(temp.sims_financial_year);" name="sims_goal" required>   <!--ng-options="doc.code as doc.name for doc in rcbGroup"-->
                            </select>
                        </div>

                        <!--Account Code-->
                        <div class="col-md-3">
                            <label id="Label6" for="txt_BankCode" class="form-label">{{"Category" | translate }}</label>
                            <select id="accNo"
                                ng-model="temp.category_code" style="width: 100%"
                                ng-options="doc.category_code as doc.category_name for doc in rcbCategories" ng-change="getCategories(temp.category_code);" name="sims_goal" required>
                            </select>

                        </div>

                        <!--Department Code-->
                        <div class="col-md-3">
                            <label id="Label7" for="txt_BankCode" class="form-label">{{"SubCategory" | translate }}</label>
                          <select id="Select4"
                                ng-model="temp.subcategory_code" style="width: 100%"
                                ng-options="doc.subcategory_code as doc.subcategory_name for doc in rcbSubCategories"  ng-change="getSubCategories(temp.subcategory_code);" name="sims_goal" required>
                            </select>
                        </div>

                        <!--Amount-->
                        <div class="col-md-3">
                            <label id="Label8" for="txt_BankCode" class="form-label">{{"Item" | translate }}</label>
                            <select id="rcbItem"
                                ng-model="im_item_code1" style="width: 100%"
                                ng-options="doc as doc.im_desc for doc in rcbItems" tabindex="2" ng-change="getitemCode(im_item_code1);" name="sims_goal" required>
                            </select>


                            <!-- <select id="rcbItem"
                                ng-model="temp.im_item_code" style="width: 100%"
                                ng-options="doc.im_item_code as doc.im_desc for doc in rcbItems" ng-change="getitemCode(temp.im_item_code);" name="sims_goal" required>
                            </select>-->

                        </div>


                    </div>

                    <div class="col-md-12 ">

                        <!--Bank Code-->
                        <div class="col-md-3">
                            <label id="Label9" for="txt_Country_Code" class="form-label">{{"LOC" | translate }}</label>
                            <select id="rcbLocation" class="form-control"
                                ng-model="temp.loc_code"
                                ng-options="doc.loc_code as doc.item_location_name for doc in resloc" ng-change="Getbank(temp.pb_bank_from);" name="sims_goal" required>
                            </select>
                        </div>

                        <!--Cheque No-->
                        <div class="col-md-3">
                            <label id="Label10" for="txt_BankCode" class="form-label">{{"Qty" | translate }}</label>
                            <input type="text" name="doc_Code" id="Text5"  ng-blur="qtychange()" class="form-control input-sm" ng-model="temp.qty" />
                        </div>

                        <!--Due Date-->
                        <div class="col-md-3" >
                            <label class="semi-bold" for="StartDate">{{"Sell Price" | translate }}</label>
                            <input type="text" name="doc_Code" id="Text2" class="form-control input-sm" ng-model="temp.im_sell_price" />

                        </div>

                        <!--Number of Cheque -->
                        <div class="col-md-3">
                            <label id="Label11" for="txt_BankCode" class="form-label">{{"Final Value" | translate }}</label>
                            <input type="text" name="doc_Code" id="Text7" readonly class="form-control input-sm" ng-model="temp.finalValue" />
                        </div>


                    </div>

                    <div class="col-md-12 ">

                        <!--Bank Code-->
                        <div class="col-md-6">
                               <label id="Label28" for="txt_BankCode" class="form-label">{{"Remark" | translate }}</label>
                            <input type="text" name="doc_Code" id="Text28"  class="form-control input-sm" ng-model="temp.doc_remark" />
                      
                        </div>


                    </div>

                    <div class="col-md-12 ">
                      
                         <div class="col-md-12 ">
                          <div class="pull-left">
                               </br>
                            <button type="button" style="background-color: darkorange; color: black;" ng-disabled="disable_btn" class="btn btn-white btn-cons" ng-click="itemSearch();">{{"Item Search"| translate }}</button>
                            <button type="button" style="background-color: darkorange; color: black;"  ng-disabled="disable_btn" class="btn btn-white btn-cons" ng-click="ItemSetSearch();">{{"Item Set"| translate }}</button>
                        </div>

                        <div class="pull-right">
                            </br>
                            <button type="button" style="background-color: darkorange; color: black;"  ng-disabled="disable_btn" class="btn btn-white btn-cons" tabindex="3" ng-click="add();">{{"Add"| translate }}</button>
                            <button type="button" style="background-color: darkorange; color: black;"   ng-disabled="disable_btn" class="btn btn-white btn-cons" ng-click="CancelItem();">{{"Cancel"| translate }}</button>
                        </div>
                    </div>
                        </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div style="width: 100%;height:250px; overflow-x: auto; overflow-y: auto">
                        <table class="table table-bordered table-condensed" id="fixTable">
                            <thead style="background-color: white">
                                <tr style="background-color: #edefef">
                                    <!--                                    <td class="small-cell v-align-middle">
                                        <div class="checkbox check-success">
                                            <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                            <label for="mainchk"></label>
                                        </div>
                                    </td>-->
                                    <td class="semi-bold">
                                        <!--<label><b>{{"Delete" | translate }}</b></label>-->
                                         <label><i class="fa fa-cogs"></i></label>
                                    </td>

                                    <td class="semi-bold">
                                        <label><b>{{"Group" | translate }}</b></label>
                                    </td>

                                    <td class="semi-bold">
                                        <label><b>{{"Item CODE"| translate }}</b></label>
                                    </td>

                                    <td class="semi-bold">
                                        <label><b>{{"Description" | translate }}</b></label>
                                    </td>

                                    <td class="semi-bold">
                                        <label><b>{{"LOC" | translate }}</b></label>
                                    </td>

                                    <td class="semi-bold">
                                        <label><b>{{"Current Quantity" | translate }}</b></label>
                                    </td>

                                    <td class="semi-bold">
                                        <label><b>{{"Qty"| translate }}</b></label>
                                    </td>

                                    <td class="semi-bold">
                                        <label><b>{{"Sell Price" | translate }}</b></label>
                                    </td>

                                    <td class="semi-bold">
                                        <label><b>{{"Final Value"| translate }}</b></label>
                                    </td>

                                       <td class="semi-bold">
                                        <label><b>{{"Remark"| translate }}</b></label>
                                    </td>

                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="j in itemList">

                                    <!--<td>&NBSP;</td>-->
                                     <td><input type="button" value="Delete" ng-click="removeItem(j,$index)" /></td>
                                    <td>{{j.sg_name}}</td>
                                    <td>{{j.im_item_code}}</td>
                                    <td>{{j.im_desc}}</td>
                                    <td>{{j.item_location_name}}</td>
                                    <td>{{j.original_qty}}</td>
                                    <td> <input type="text" style="width:50px" name="Desc" id="Text23" class="form-control input-sm" ng-blur="qtychangeby(j)" ng-keypress="onlyNumbers($event)"  ng-model="j.dd_qty" /></td>
                                    <td>  <input type="text" style="width:90px" name="Desc" ng-disabled="(temp.doc_type=='02')?true:false" id="Text9" class="form-control input-sm"   ng-blur="qtychangeby(j)" ng-keypress="onlyNumbers($event)"  ng-model="j.dd_sell_price" /></td>
                                    <td>{{j.dd_sell_value_final}}</td>
                                       <td>
                                        <input type="text" style="width: 90px" name="Desc" id="Text29" class="form-control input-sm"  ng-model="j.doc_remark" /></td>
                                  
                                </tr>
                            </tbody>
                        </table>
                    </div>





                    <div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                            ng-click="index(currentPage)">
                        </paging>
                    </div>


                </div>
                <div class="row form-row">

                    <div class="col-md-12" >
                        <div class="col-md-6">
                            <label id="Label14" for="txt_Country_Code" class="form-label">{{"Description" | translate }}:{{acc_details.gldd_acct_name}}</label>
                            <input type="text" name="doc_Code" id="Text6" class="form-control input-sm"  ng-model="temp.doc_narration" />
                          </div>
                      <!--  <div class="col-md-3">

                            <label id="Label16" for="txt_Country_Code" class="form-label">{{"Sell Price" | translate }}</label>
                            <input type="text" name="doc_Code" id="Text11" class="form-control input-sm" readonly  ng-model="temp.pc_rec_no" />

                        </div>-->

                         <div class="col-md-3">

                            <label id="Label13" for="txt_Country_Code" class="form-label">{{"Overall Discount %" | translate }}</label>
                            <input type="text" name="doc_Code" id="Text12" class="form-control input-sm" ng-blur="overallDis(temp.overalldis)" ng-change="txt_discounted_price_TextChanged(temp.overalldis)"  ng-model="temp.overalldis" />

                        </div>

                         <div class="col-md-3">
                            <label id="Label15" for="txt_Country_Code" class="form-label">{{"Discount Amount" | translate }}</label>
                            <input type="text" name="doc_Code" id="Text13" class="form-control input-sm"  readonly ng-model="temp.disamt" />

                        </div>


                        <!--<div class="pull-right">
                            </br>
                                        <button type="button" style="background-color: darkorange; color: black;" class="btn btn-white btn-cons" ng-click="Add();">{{"Prepare"| translate }}</button>
                            <button type="button" style="background-color: darkorange; color: black;" class="btn btn-white btn-cons" ng-click="Add();">{{"Verify"| translate }}</button>
                            <button type="button" style="background-color: darkorange; color: black;" class="btn btn-white btn-cons" ng-click="Clear();">{{"Authorize"| translate }}</button>
                        </div>-->
                    </div>

                    <div class="col-md-12" >
                        <div class="col-md-2">
                            <label id="Label19" for="txt_Country_Code" class="form-label">{{"Line Dis %" | translate }}:{{acc_details.gldd_acct_name}}</label>
                            <input type="text" name="doc_Code" id="Text14" class="form-control input-sm" readonly  ng-model="temp.pc_rec_no" />
                          </div>
                        <div class="col-md-2">

                            <label id="Label20" for="txt_Country_Code" class="form-label">{{"Dis Amount" | translate }}</label>
                            <input type="text" name="doc_Code" id="Text15" class="form-control input-sm" readonly  ng-model="temp.pc_rec_no" />

                        </div>

                         <div class="col-md-2">

                            <label id="Label21" for="txt_Country_Code" class="form-label">{{"Password" | translate }}</label>
                            <input type="text" name="doc_Code" id="Text16" class="form-control input-sm" readonly  ng-model="temp.pc_rec_no" />

                        </div>

                         <div class="col-md-3">

                            <label id="Label22" for="txt_Country_Code" class="form-label">{{"Other Charges" | translate }}</label>
                            <input type="text" name="doc_Code" id="Text17" class="form-control input-sm" ng-change="otherChargesChange()"  ng-model="temp.otherCharges" />

                        </div>

                          <div class="col-md-3">

                            <label id="Label23" for="txt_Country_Code" class="form-label">{{"Total" | translate }}</label>
                             <button type="button" ng-hide="true" class="btn btn-primary btn-xs btn-mini" style="margin-bottom:4px" ng-click="totalAmtClick()">Total Amount</button>

                            <input type="text" name="doc_Code" id="Text18" class="form-control input-sm" ng-disabled="true"  ng-model="temp.totalFinal" />

                        </div>


                        <!--<div class="pull-right">
                            </br>
                                        <button type="button" style="background-color: darkorange; color: black;" class="btn btn-white btn-cons" ng-click="Add();">{{"Prepare"| translate }}</button>
                            <button type="button" style="background-color: darkorange; color: black;" class="btn btn-white btn-cons" ng-click="Add();">{{"Verify"| translate }}</button>
                            <button type="button" style="background-color: darkorange; color: black;" class="btn btn-white btn-cons" ng-click="Clear();">{{"Authorize"| translate }}</button>
                        </div>-->
                    </div>

                    <div class="col-md-12" >
                        <div class="col-md-3">
                            <label id="Label24" for="txt_Country_Code" class="form-label">{{"Payment Mode" | translate }}:{{acc_details.gldd_acct_name}}</label>
                            <!--<input type="text" name="doc_Code" id="Text19" class="form-control input-sm"  ng-model="temp.pc_rec_no" />-->
                         <select id="Select1"
                                ng-model="temp.paymentMode" style="width: 100%"
                                ng-options="doc.value as doc.name for doc in paymodeList"  ng-change="paymentChange(temp.paymentMode);" name="sims_goal" >
                            </select>  
                        </div>
                        <div class="col-md-3" ng-show="chequeShow">

                            <label id="Label25" for="txt_Country_Code" class="form-label">{{"Cheque/DD No" | translate }}</label>
                            <input type="text" name="doc_Code" id="Text20" class="form-control input-sm"  ng-model="temp.chequeNo" />

                        </div>

                        <div class="col-md-3"  ng-show="bankShow">

                            <label id="Label5" for="txt_Country_Code" class="form-label">{{"Transaction No" | translate }}</label>
                            <input type="text" name="doc_Code" id="Text21" class="form-control input-sm"  ng-model="temp.chequeNo" />

                        </div>

                          <div class="col-md-3"  ng-show="cardpay">

                            <label id="Label16" for="txt_Country_Code" class="form-label">{{"Transaction No" | translate }}</label>
                            <input type="text" name="doc_Code" id="Text11" class="form-control input-sm"  ng-model="temp.chequeNo" />

                        </div>

                        <div class="col-md-3"  ng-show="bankShow">

                            <label id="Label17" for="txt_Country_Code" class="form-label">{{"Transaction Date" | translate }}</label>
                            <!--<input type="text" name="doc_Code" id="Text21" class="form-control input-sm"  ng-model="temp.pc_rec_no" />-->
                               <div class="input-append success date col-md-4 no-padding" data-datepicker="true" style="width: auto">
                                        <input type="text" id="Text25" placeholder="Select Date" name="Subsexpdate" class="form-control" ng-model="temp.chequeDate">
                                        <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                    </div>
                        </div>
                         <div class="col-md-3"  ng-show="chequeShow">

                            <label id="Label26" for="txt_Country_Code" class="form-label">{{"Cheque/DD Date" | translate }}</label>
                            <!--<input type="text" name="doc_Code" id="Text21" class="form-control input-sm"  ng-model="temp.pc_rec_no" />-->
                               <div class="input-append success date col-md-4 no-padding" data-datepicker="true" style="width: auto">
                                        <input type="text" id="Text22" placeholder="Select Date" name="Subsexpdate" class="form-control" ng-model="temp.chequeDate">
                                        <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                    </div>
                        </div>

                         <div class="col-md-3" ng-show="bankShow">

                            <label id="Label27" for="txt_Country_Code" class="form-label">{{"Bank" | translate }}</label>
                            <select id="Select8"
                                ng-model="temp.bankCode" style="width: 100%"
                                ng-options="doc.bk_code as doc.bk_name for doc in bankList"   name="sims_goal" >
                            </select>  

                        </div>

                            <div class="col-md-3" ng-show="chequeShow">

                            <label id="Label18" for="txt_Country_Code" class="form-label">{{"Bank" | translate }}</label>
                            <select id="Select9"
                                ng-model="temp.bankCode" style="width: 100%"
                                ng-options="doc.bk_code as doc.bk_name for doc in bankList"   name="sims_goal" >
                            </select>  

                        </div>

                          


                        <!--<div class="pull-right">
                            </br>
                                        <button type="button" style="background-color: darkorange; color: black;" class="btn btn-white btn-cons" ng-click="Add();">{{"Prepare"| translate }}</button>
                            <button type="button" style="background-color: darkorange; color: black;" class="btn btn-white btn-cons" ng-click="Add();">{{"Verify"| translate }}</button>
                            <button type="button" style="background-color: darkorange; color: black;" class="btn btn-white btn-cons" ng-click="Clear();">{{"Authorize"| translate }}</button>
                        </div>-->
                    </div>

                     <div class="pull-right">
                            </br>

                                        <button type="button" style="background-color: darkorange; color: black;" class="btn btn-white btn-cons"  ng-disabled="disable_btn" ng-click="finalize()">{{"Finalize"| translate }}</button>
                                        <button type="button" style="background-color: darkorange; color: black;" class="btn btn-white btn-cons"   ng-click="print('tableIDDiv')">{{"Print"| translate }}</button>
                           
                          <button type="button" style="background-color: darkorange; color: black;" class="btn btn-white btn-cons" ng-click="cancel();">{{"Cancel"| translate }}</button>
                        
                        </div>
                </div>
            </div>

            
        </div>
    </div>
</div>





<div class="modal fade in" id="itemSearch" role="dialog" style="display: none;">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 75%;">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header ng-scope" style="height: 40px">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="grid simple">
                <div class="grid-body no-border">
                    <div class="row column-seperation">
                        <div class="tab-pane" id="Div5" aria-expanded="true">

                            <div class="row">
                                <div class="col-md-12">
                                                <!--Item Inv No-->
                                                <div class="col-md-3">
                                                    <label class="semi-bold" for="EndDate">Item Inv No</label>
                                                    <input type="text" name="InvFor" id="Desc_Res" class="form-control input-sm" ng-model="temp1.im_inv_no" />
                                                </div>

                                                <!--Description-->
                                                    <div class="col-md-6">
                                                        <label class="semi-bold" for="EndDate">Description</label>
                                                        <input type="text" name="Desc" id="Text3" class="form-control input-sm" ng-model="temp1.im_desc" />
                                                    </div>

                                                <!--Item Code-->
                                                    <div class="col-md-3">
                                                        <label class="semi-bold" for="EndDate">Item Code</label>
                                                        <input type="text" name="Desc" id="Item_code" class="form-control input-sm" ng-model="temp1.im_item_code" />
                                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <!--Dept Code-->
                                    <div class="col-md-3">
                                        <label class="semi-bold" for="EndDate">Dept Code</label>
                                        <input type="text" name="Dept" id="Text4" class="form-control input-sm" ng-model="temp1.invs021_dep_code" />
                                    </div>

                                    <!--Section Code-->
                                    <div class="col-md-3">
                                        <label class="semi-bold" for="EndDate">Section Code</label>
                                        <input type="text" name="Section_code" id="Text8" class="form-control input-sm" ng-model="temp1.sec_code" />
                                    </div>

                                    <!--Supplyer Code-->
                                    <div class="col-md-3">
                                        <label class="semi-bold" for="EndDate">Supplier Code</label>
                                        <select id="AccountNo" class="form-control"
                                                ng-model="temp1.invs021_sup_code"
                                                ng-options="doc.code as doc.name for doc in cmb_supplier" name="App_code" ></select>
                                    </div>


                                    <!--Supplyer Group-->
                                    <div class="col-md-3">
                                        <label class="semi-bold" for="EndDate">Supplier Group</label>
                                        <select id="Select5" class="form-control"
                                                ng-model="temp1.invs021_sg_name"
                                                ng-options="doc.code as doc.name for doc in rcbGroup" name="App_code" ></select>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <!--Category-->
                                    <div class="col-md-3">
                                        <label class="semi-bold" for="EndDate">Category </label>
                                        <select id="Select6" class="form-control"
                                                ng-model="temp1.category_code"
                                               ng-options="doc.category_code as doc.category_name for doc in rcbCategories"  ng-change="getCategories(temp1.category_code);"  name="App_code" ></select>
                                    </div>

                                    <!-- SubCategory-->
                                    <div class="col-md-3">
                                        <label class="semi-bold" for="EndDate">SubCategory</label>
                                        <select id="Select7" class="form-control"
                                                ng-model="temp1.subcategory_code"
                                            ng-options="doc.subcategory_code as doc.subcategory_name for doc in rcbSubCategories"  name="App_code" ></select>
                                    </div>

                                    <!--Assembly Indicatror-->
                                    <div class="col-md-2">
                                        <label class="semi-bold" for="EndDate">Assembly Indicatror</label>
                                      <input type="text" name="Section_code" id="Text26" class="form-control input-sm" ng-model="temp1.im_assembly_ind_s" />

                                    </div>

                                    <!--Fetch-->
                                    <div class="col-md-4">
                                        <div class="pull-right">
                                            <label class="semi-bold" for="EndDate">&nbsp;</label>
                                            <button class="btn btn-success" style="height: 35px" type="button" id="designew" ng-click="getfetch()">{{"Fetch"| translate }}</button>
                                            <button class="btn btn-warning" style="height: 35px" type="button" id="Button1" ng-click="Reset()">{{"Reset"| translate }}</button>
                                        </div>
                                    </div>

                                   

                                </div>

                                
                           </div>
                                <div>
                                   &nbsp;
                                </div>
                           
                               
                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <div id="Div1" class="dataTables_wrapper form-inline">
                                            <div style="width: 100%; height: 300px; overflow-x: auto; overflow-y: auto">
                                                <table class="table table-bordered table-condensed" id="Table1">
                                                    <thead>
                                                        <tr>
                                                            <th class="semi-bold">Invoice no</th>
                                                            <th class="semi-bold">Item Code</th>
                                                            
                                                            <th class="semi-bold">Description</th>
                                                            <th class="semi-bold">Category</th>
                                                            <th class="semi-bold">SubCategory</th>
                                                            <th class="semi-bold">UOM Name</th>
                                                            <th class="semi-bold">Malc Rate</th>
                                                            <th class="semi-bold">Sale Price</th>
                                                            <th class="semi-bold"> Current QTY.</th>
                                                            <th class="semi-bold">Dept Name</th>
                                                            <th class="semi-bold">Section Name</th>
                                                            <th class="semi-bold">Supplier Name</th>
                                                            <th class="semi-bold"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                        <tr ng-repeat="ji in GetItems">

                                                          
                                                            <td>{{ji.im_inv_no}}</td>
                                                            <td>{{ji.im_item_code}}</td>
                                                            <td> {{ji.im_desc}}</td>
                                                            <td> {{ji.category_name}} </td>
                                                            <td> {{ji.subcategory_name}} </td>
                                                            <td>{{ji.uom_name}}</td>
                                                            <td>{{ji.im_malc_rate}}  </td>
                                                            <td>{{ji.im_sell_price}}  </td>
                                                            <td>{{ji.id_cur_qty}} </td>
                                                            <td> {{ji.dep_name}}</td>
                                                            <td> {{ji.sec_name}}</td>
                                                            <td> {{ji.sup_name}}</td>
                                                            <td>
                                                                <div class="checkbox check-success">
                                                                    <input id="{{ji.im_inv_no+$index}}" value="1" type="checkbox" ng-model="ji.im_inv_chk" ng-click="chk_click_item(ji,ji.im_inv_chk)"   value="1" >
                                                                    <label for="{{ji.im_inv_no+$index}}"></label>
                                                                </div>
                                                            </td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                                <div class="modal-footer">
                                    <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c"  data-dismiss="modal" type="submit">OK</button><!--ng-click="okbuttonclick();"-->
                                   
                                </div>
                            </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>



<div class="modal fade in" id="stdSearch" role="dialog" style="display: none;">
                <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 1000px;">
                    <div class="modal-content" uib-modal-transclude="">
                        <div class="modal-header ng-scope" style="height: 40px">
                            <div class="pull-left">
                            <h4 class="modal-title custom-font" style="margin-top: -5px"><b>Search User</b></h4></div>
                        </div>
                       
                            <div class="grid simple">
                                <div class="grid-body no-border">
                                    <br />
                                    <div class="row">
                    <div class="col-md-12">
                        <div class="row form-row">
                            <div class="col-md-2">

                                <div class="row form-row">

                                    <div class="col-md-12">
                                        <label>Curriculum</label>
                                    </div>
                                    <div class="col-md-12">
                                        <select id="cmb_School_Code" class="form-control" name="user" ng-model="temp.s_cur_code">
                                            <option value="" selected disabled>Please Select</option>
                                            <option class="form-control input-sm" ng-repeat="cur in ComboBoxValues|filter:{sims_cur_full_name_en:''}" value="{{cur.sims_cur_code}} ">{{cur.sims_cur_full_name_en}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label>Academic Year</label>
                                    </div>
                                    <div class="col-md-12">
                                        <select id="cmb_academic_year" class="form-control" ng-model="temp.sims_academic_year">
                                            <option value="" selected disabled>Please Select</option>
                                        <option class="form-control input-sm" ng-repeat="year in ComboBoxValues|filter:{sims_acadmic_year:''}" value="{{year.sims_acadmic_year}} ">{{year.sims_acadmic_year_desc}}</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row form-row">

                                    <div class="col-md-12">
                                        <label>Grade</label>
                                    </div>
                                    <div class="col-md-12">
                                        <select id="cmb_grade_code" style="width: 100%" class="form-control" ng-model="temp.search_std_grade_name" ng-change="getsectioncode(temp.s_cur_code,temp.sims_academic_year,temp.search_std_grade_name)">
                                            <option value="" selected disabled>Please Select</option>
                                           <option class="form-control input-sm" ng-repeat="grade in ComboBoxValues|filter:{sims_grade_name:''}" value="{{grade.sims_grade_code}} ">{{grade.sims_grade_name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row form-row">

                                    <div class="col-md-12">
                                        <label>Section</label>
                                    </div>
                                    <div class="col-md-12">

                                        <select id="Select24" class=" form-control input-sm" ng-model="temp.search_std_section_name">
                                    <option value="" selected disabled>Please select</option>
                                    <option class="form-control" ng-repeat="section in sections" value="{{section.sims_section_code}}" class=" form-control input-sm">{{section.sims_section_name}}     
                                    </option>
                                </select>
                                    </div>
                                </div>
                            </div>

                             <div class="col-md-2">
                                <div class="row form-row">

                                    <div class="col-md-12">
                                        <label>Nationality</label>
                                    </div>
                                    <div class="col-md-12">

                                        <select id="Select35" style="width: 100%" class="form-control" ng-model="temp.sims_nationality_name_en">
                                            <option value="" selected disabled>Please Select</option>
                                            <option class="form-control input-sm" ng-repeat="section in ComboBoxValues|filter:{sims_nationality_name_en:''}" value="{{section.sims_nationality_code}} ">{{section.sims_nationality_name_en}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                             <div class="col-md-2">
                                <div class="row form-row">

                                    <div class="col-md-12">
                                        <label>National Id</label>
                                    </div>
                                    <div class="col-md-12">

                                        <input class="form-control input-sm">

                                    </div>
                                </div>
                            </div>

                            <!--<div class="col-md-4">

                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label>&nbsp</label>
                                    </div>
                                    <div class="pull-right">
                                        <div class="col-md-12">

                                            <button type="button" class="btn btn-primary btn-cons" ng-click="Show_Data()">Show</button>
                                        </div>
                                    </div>

                                </div>
                            </div>-->


                           

                        </div>
                    </div>
                </div>


                                    <div class="row">
                    <div class="col-md-12">
                        <div class="row form-row">
                            <div class="col-md-2">

                                <div class="row form-row">

                                    <div class="col-md-12">
                                        <label>Enrollment No</label>
                                    </div>
                                    <div class="col-md-12">
                                        <input class="form-control input-sm" ng-model="temp.search_std_enroll_no"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-12">
                                       <input class="form-control input-sm" ng-model="temp.search_std_name"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row form-row">

                                    <div class="col-md-12">
                                        <label>Passport No</label>
                                    </div>
                                    <div class="col-md-12">

                                       <input class="form-control input-sm" ng-model="temp.search_std_passport_no"/>
                                    </div>
                                </div>
                            </div>

                             <div class="col-md-2">
                                <div class="row form-row">

                                    <div class="col-md-12">
                                        <label>Family Name</label>
                                    </div>
                                    <div class="col-md-12">

                                        <input class="form-control input-sm" ng-model="temp.search_std_family_name"/>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="row form-row">

                                   <div class="col-md-12">
                                        <label>&nbsp;</label>
                                    </div>
                                    <div class="col-md-12">

                                        <button type="button" ng-click="searchstudent();" class="btn btn-primary btn-cons">Search</button>
                                    </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                                    <div class="row" ng-show="busy">
                    <div class="col-md-12">
                        <div class="row form-row">
                            <div class="col-md-5">
                            </div>
                            <div class="col-md-2">
                                <img src="assets/images/loading.gif" />

                            </div>
                            <div class="col-md-5">
                            </div>
                            </div>
                        </div>
                                        </div>

                                    <div class="row" ng-show="searchtable">
                                        <div id="Div3" class="dataTables_wrapper form-inline">
                                                <div style="width: 100%; height: 350px; overflow-x: auto; overflow-y: auto">
                                                    <table class="table  table-striped  table-condensed" id="Table2" aria-describedby="example2_info">
                                                        <thead style="background-color: white">
                                                            <tr>
                                                                <td class="semi-bold">ENROLL NO</td>
                                                                <td class="semi-bold">Name</td>
                                                                <td class="semi-bold">CLASS</td>
                                                                <td class="semi-bold">EMAIL ID </td>
                                                                <td class="semi-bold">GRADE</td>
                                                                <td class="semi-bold">SECTION</td>
                                                                 <td class="semi-bold">MOBILE NO</td>
                                                                <td class="semi-bold">ACTION</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                            <tr ng-repeat="info in student" ng-class="row1">

                                                                <td>{{info.s_enroll_no}}</td>
                                                                <td>{{info.s_sname_in_english}}</td>
                                                                <td>{{info.s_class}}</td>
                                                                <td>{{info.mail_id}}</td>
                                                                <td>{{info.sims_grade_name_en}}</td>
                                                                 <td>{{info.sims_section_name_en}}</td>
                                                                 <td>{{info.mobile_no}}</td>
                                                                <td><a href=""><i class="fa fa-edit" ng-click="edit(info)" data-dismiss="modal"></i></a>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="modal-footer">
                                                <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" data-dismiss="modal" type="submit"><i class="fa fa-arrow-right"></i>Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                          </div>
                    </div>
    </div>











<div id="tableIDDiv" class="dataTables_wrapper form-inline" style="display:none" >
                        <table class="table table-bordered table-condensed" id="tableID">
                            <thead style="background-color: white">
                                <tr style="background-color: #edefef">
                                   
                                    <td class="semi-bold">
                                        <label><b>{{"Group" | translate }}</b></label>
                                    </td>

                                    <td class="semi-bold">
                                        <label><b>{{"Item CODE"| translate }}</b></label>
                                    </td>

                                    <td class="semi-bold">
                                        <label><b>{{"Description" | translate }}</b></label>
                                    </td>

                                    <td class="semi-bold">
                                        <label><b>{{"LOC" | translate }}</b></label>
                                    </td>

                                    <td class="semi-bold">
                                        <label><b>{{"Current Quantity" | translate }}</b></label>
                                    </td>

                                    <td class="semi-bold">
                                        <label><b>{{"Qty"| translate }}</b></label>
                                    </td>

                                    <td class="semi-bold">
                                        <label><b>{{"Sell Price" | translate }}</b></label>
                                    </td>

                                    <td class="semi-bold">
                                        <label><b>{{"Final Value"| translate }}</b></label>
                                    </td>

                                       <td class="semi-bold">
                                        <label><b>{{"Remark"| translate }}</b></label>
                                    </td>

                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="j in itemList">

                                   
                                    <td>{{j.sg_name}}</td>
                                    <td>{{j.im_item_code}}</td>
                                    <td>{{j.im_desc}}</td>
                                    <td>{{j.item_location_name}}</td>
                                    <td>{{j.original_qty}}</td>
                                    <td>{{j.dd_qty}}</td>
                                    <td> {{j.dd_sell_price}}</td>
                                    <td>{{j.dd_sell_value_final}}</td>
                                       <td>
                                        {{j.doc_remark}}</td>
                                  
                                </tr>
                            </tbody>
                        </table>
                    </div>



                    


          