﻿<style>
    .bluegreed{
            background: #d8ebf4 !important;
                padding-bottom: 6px !important;
                    padding-top: 6px !important;

    }
</style>
<div class="row" style="padding-top: 12px">
    <div class="col-md-12">
        <div class="grid simple">

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                class="form-control"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                class="form-control"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="page-title">
                <h3><span class="semi-bold">{{"Stock"| translate }}</span>{{"Adjustment" | translate }}</h3>
            </div>

            <div class="grid-body no-border paddingcode" style="background-color:transparent;" ng-show="table">

                <div class="row bluegreed">
                    <div class="col-md-12">
                        <div class="row form-row">

                            <div class="col-md-2"style="margin-top:6px;">
                                <label class="semi-bold"><i class="fa fa-calendar"></i>&nbsp;{{"Select From Date" | translate }}</label>
                                <div><!--ng-disabled="End_date" readonly-->
                                    <input type="text" style="height: 12px" id="startdate" placeholder="Select Date"
                                        name="creation_date" class="k-textbox input-sm full-width" ng-model="dt.sims_from_date">
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label class="semi-bold"><i class="fa fa-map-marker"></i>&nbsp;{{"Location"|translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <select id="Select1" class="form-control input-sm" name="user"
                                            ng-model="isa.loc_code"
                                            ng-options="loca.loc_code as loca.loc_name for  loca in location">
                                            <option value="" selected disabled>Please Select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label class="semi-bold"><i class="fa fa-user"></i>&nbsp;{{"Supplier Name"|translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <select id="Select2" class="form-control input-sm"
                                            ng-model="isa1.sup_sblgr_acno"
                                            ng-options="supname712.sup_sblgr_acno as supname712.sup_name for supname712 in SupplierName">
                                            <option value="" selected disabled>Please Select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label class="semi-bold"><i class="fa fa-dashboard"></i>&nbsp;{{"Reason Code"|translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <select id="cmb_academic_year" class="form-control input-sm"
                                            ng-model="isa2.ar_code"
                                            ng-options="Reason1.ar_code as Reason1.ar_desc for Reason1 in Reason">
                                            <option value="" selected disabled>Please Select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2" ng-show="gkj">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"GRV No."|translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <input name="txt_rem" type="text" class="k-textbox input-sm full-width" ng-maxlength="50" ng-model="grvno" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label class="semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"Doc Type"|translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <select id="Select3" class="form-control input-sm"
                                                ng-model="isa3.dco_code" ng-disabled="itemdesc"
                                                ng-options="Type1.dco_code as Type1.dco_desc for Type1 in Type">
                                            <option value="" selected disabled>Please Select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label class="semi-bold"><i class="fa fa-pencil-square-o"></i>&nbsp;{{"Department"|translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <select id="Select4" class="form-control input-sm"
                                                ng-model="isa4.dep_code"
                                                ng-options="dept.dep_code as dept.dep_name for dept in department">
                                            <option value="" selected disabled>Please Select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div>
                    </div>
                </div>

                <div class="row bluegreed"style="margin-top:-2px;">
                    <div class="col-md-12">
                        <div class="row form-row">

                            

                            

                            <div class="col-md-2">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <label class="semi-bold"><i class="fa fa-bookmark"></i>&nbsp;{{"Remarks"|translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <input name="txt_remark" id="txt_remarks" type="text" class="k-textbox input-sm full-width" ng-maxlength="50" ng-model="remark" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div>
                    </div>
                </div>

                
                <div class="row">

                    <div class="col-md-12"style="margin-top:5px;">
                        <div class="row form-row bluegrid">

                            <!-- Item Code-->
                            <!--<div class="col-md-2">
                                <label class="semi-bold">Item Code</label>
                                <input type="text" name="Remark" id="Item_code" class="k-textbox input-sm full-width" ng-model="edt.item_code" ng-blur="Show_item_detais(edt.item_code)" />

                            </div>-->

                            <!--Item Description-->
                            <!-- <div class="col-md-4">
                                <label class="semi-bold">Item Description</label>
                                <input type="text" name="Remark" id="Item_Description" class="k-textbox input-sm full-width" ng-model="edt.im_desc" readonly />

                            </div>-->

                            <div class="col-md-3">
                                <label class="semi-bold" for="EndDate"><i class="fa fa-align-justify"></i>&nbsp;{{"Select Item"| translate }}</label>
                                <select id="cmb_seritm_code" ng-model="edt.im_item_code" ng-change="Show_item_detais(edt.im_item_code)" class="full-width"
                                    ng-options="itm.im_item_code as itm.im_desc for itm in items_Data">
                                    <option value="">Select</option>
                                </select>
                            </div>


                            <!--Quantity-->
                            <div class="col-md-2">
                                <label class="semi-bold"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Quantity"| translate }}</label>
                                <input type="text" name="quantity" id="Desc_Res" class="k-textbox input-sm full-width" ng-model="edt.id_cur_qty" ng-disabled="Quntity_show_txt" ng-blur="Val_Cal(edt.id_cur_qty,edt.im_malc_rate)"/>

                            </div>

                            <!-- Rate-->
                            <div class="col-md-2">
                                <label class="semi-bold"><i class="fa fa-money"></i>&nbsp;{{"Rate"| translate }}</label>
                                <input type="text" name="Remark" id="rate" class="k-textbox input-sm full-width" ng-model="edt.im_malc_rate" ng-disabled="Quntity_show_txt_1" ng-blur="Val_Cal(edt.id_cur_qty,edt.im_malc_rate)"/><!--ng-blur="Val_Cal(edt.id_cur_qty,edt.im_malc_rate)" -->

                            </div>

                            <!--Value-->
                            <div class="col-md-2">
                                <label class="semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"Value"| translate }}</label>
                                <input type="text" name="val" id="Text1" class="k-textbox input-sm full-width" ng-model="value" readonly />
                            </div>
                            <div class="col-md-3">
                                <div class="row pull-right">
                                    <label class="semi-bold">&nbsp;</label>
                                    <button class="btn btn-primary btn-small" type="button" id="Button1" ng-click="Add()">{{"Add"| translate }}</button>
                                    <button class="btn btn-success btn-small" type="button" id="designew" ng-click="ItemSearch()">{{"Add Item Search"| translate }}</button>
                                    <button class="btn btn-warning btn-cons" type="button" id="Button2" ng-click="Cancel()">{{"Reset"| translate }}</button>
                                </div>

                            </div>

                        </div>
                    

                    

                        <!--Buttons-->
                        

                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        
                    </div>
                </div>


                <div id="example_wrapper" class="dataTables_wrapper form-inline" ng-show="Addstock_show">
                    <div class="row" ng-show="Main_table">

                        <div style="width: 100%;background-color:white;margin-top:6px; height: 270px; overflow-x: auto; overflow-y: auto">
                            <table class="table table-bordered table-hover table-condensed" id="fixTable">
                                <thead style="background-color: white">
                                    <tr style="background-color: #edefef">

                                        <th class="small-cell v-align-middle" style="z-index: 1">
                                            <!--<label class="semi-bold">{{"DELETE" | translate }}</b></label>-->
                                            &nbsp;
                                        </th>


                                        <!--  <th class="semi-bold" ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                            <label class="semi-bold">{{"INVS NO" | translate }}</b></label>
                                        </th>-->

                                        <th class="semi-bold" ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                            <label class="semi-bold"><i class="fa fa-dashboard"></i>&nbsp;{{"Item Code" | translate }}</b></label>
                                        </th>

                                        <th class="semi-bold">
                                            <label><b><i class="fa fa-align-justify"></i>&nbsp;{{"Description" | translate }}</b></label>
                                        </th>

                                        <!--  <th class="semi-bold">
                                            <label><b>{{"Location" | translate }}</b></label>
                                        </th>-->

                                        <th class="semi-bold">
                                            <label><b><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Qty" | translate }}</b></label>
                                        </th>

                                        <th class="semi-bold">
                                            <label><b><i class="fa fa-money"></i>&nbsp;{{"Rate" | translate }}</b></label>
                                        </th>

                                        <th class="semi-bold">
                                            <label><b><i class="fa fa-align-justify"></i>&nbsp;{{"Value" | translate }}</b></label>
                                        </th>

                                        <th class="semi-bold">
                                            <label><b><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"New Qty" | translate }}</b></label>
                                        </th>

                                        <th class="semi-bold">
                                            <label><b><i class="fa fa-money"></i>&nbsp;{{"New Rate" | translate }}</b></label>
                                        </th>

                                        <th class="semi-bold">
                                            <label><b><i class="fa fa-align-justify"></i>&nbsp;{{"New Value" | translate }}</b></label>
                                        </th>

                                        <th class="semi-bold">
                                            <label><b><i class="fa fa-align-justify"></i>&nbsp;{{"New c Qty" | translate }}</b></label>
                                        </th>

                                        <th class="semi-bold">
                                            <label><b><i class="fa fa-align-justify"></i>&nbsp;{{"New Malc" | translate }}</b></label>
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="j in searchitems track by $index | orderBy:orderByField:reverseSort" ng-class="row1">

                                        <td>
                                            <span class="semi-bold"><a href="" ng-click="RemoveItemdetails($event,$index,searchitems)">X</a></span>
                                        </td>

                                        <!--                                        <td>
                                            <label id="Label5">{{j.im_inv_no}}</label>
                                        </td>-->

                                        <td>
                                            <label id="lbl">{{j.im_item_code}}</label>
                                        </td>

                                        <td>
                                            <label id="Label1">{{j.im_desc}}</label>
                                        </td>

                                        <!--  <td>
                                            <label id="Label2">{{j.loc_code}}</label>
                                        </td>-->

                                        <td>
                                            <label id="Label6">{{j.id_cur_qty}}</label>
                                        </td>

                                        <td>
                                            <label id="Label3">{{j.im_malc_rate}}</label>
                                        </td>

                                        <td>
                                            <label id="Label4">{{j.im_sell_price}}</label>
                                        </td>

                                        <td>
                                            <input type="text" name="ItemAssembly" id="Item_Assembly" class="k-textbox input-sm full-width" selectedindex="0" ng-model="j.new_qty" style="width: 90px" ng-blur="Val_Cal_new(j)" ng-disabled="Quntity_show_txt"/>
                                        </td>

                                        <td>
                                            <input type="text" name="ItemAssembly" id="Text9" class="k-textbox input-sm full-width" selectedindex="0" ng-model="j.new_rate" style="width: 80px" ng-blur="Val_Cal_new(j)" ng-disabled="Quntity_show_txt_1"/>
                                        </td>

                                        <td>
                                            <input type="text" name="ItemAssembly" id="Text10" class="k-textbox input-sm full-width" selectedindex="0" ng-model="j.new_value" style="width: 80px" readonly />
                                        </td>

                                        <td>
                                            <input type="text" name="ItemAssembly" id="Text11" class="k-textbox input-sm full-width" selectedindex="0" ng-model="j.new_quntity" readonly style="width: 90px" />
                                        </td>

                                        <td>
                                            <input type="text" name="ItemAssembly" id="Text12" class="k-textbox input-sm full-width" selectedindex="0" ng-model="j.new_malc" readonly style="width: 90px" />
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-12"style="background-color:white;">
                            <!--Buttons-->
                            <div class="col-md-12">
                                <div class="row pull-right">
                                    <label class="semi-bold">&nbsp;</label>
                                    <button class="btn btn-primary" style="height: 35px" type="button" id="Button5" ng-click="Save()" ng-show="Save_hide">{{"Save"| translate }}</button>
                                    <button class="btn btn-danger" style="height: 35px" type="button" id="Button6" ng-click="Clear()">{{"Cancel"| translate }}</button>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!--model pupup-->
<div class="modal fade in" id="itemSearch" role="dialog" style="display: none;">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 75%;">
        <div class="modal-content" uib-modal-transclude="">

            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px"><b>{{"Item Search" | translate}}</b></h4>
                </div>
                <div class="pull-right">
                   <!--- <button type="button" class="close" data-dismiss="modal">&times;</button>--->
                    <button style="margin-top: 4px;margin-right: 0px;height: 33px;line-height: 23px;" class="btn btn-primary btn-cons" data-dismiss="modal" type="submit">Close</button>

                </div>
            </div>

            <div class="grid simple">
                <div class="grid-body no-border paddingcode">
                    <div class="row column-seperation">
                        <div class="tab-pane" id="Div5" aria-expanded="true">
                            <div class="row">

                                <div class="col-md-12">

                                    <div class="col-md-3">
                                        <label class="semi-bold"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Item Inv No" | translate}}</label>
                                        <input type="text" name="InvFor" id="Text4" class="k-textbox input-sm full-width" ng-model="temp1.im_inv_no" />
                                    </div>


                                    <div class="col-md-6">
                                        <label class="semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"Description" | translate}}</label>
                                        <input type="text" name="Desc" id="Text5" class="k-textbox input-sm full-width" ng-model="temp1.im_desc" />
                                    </div>


                                    <div class="col-md-3">
                                        <label class="semi-bold"><i class="fa fa-dashboard"></i>&nbsp;{{"Item Code" | translate}}</label>
                                        <input type="text" name="Desc" id="Text6" class="k-textbox input-sm full-width" ng-model="temp1.im_item_code" />
                                    </div>

                                </div>

                                <div class="col-md-12">
                                    <!--Dept Code-->
                                    <div class="col-md-3">
                                        <label class="semi-bold"><i class="fa fa-dashboard"></i>&nbsp;{{"Dept Code" | translate}}</label>
                                        <input type="text" name="Dept" id="Text7" class="k-textbox input-sm full-width" ng-model="temp1.invs021_dep_code" />
                                    </div>

                                    <!--Section Code-->
                                    <div class="col-md-3">
                                        <label class="semi-bold"><i class="fa fa-dashboard"></i>&nbsp;{{"Section Code" | translate}}</label>
                                        <input type="text" name="Section_code" id="Text8" class="k-textbox input-sm full-width" ng-model="temp1.sec_code" />
                                    </div>

                                    <!--Supplyer Code-->
                                    <div class="col-md-3">
                                        <label class="semi-bold"><i class="fa fa-dashboard"></i>&nbsp;{{"Supplier Code" | translate}}</label>
                                        <select id="AccountNo" class="form-control input-sm"
                                            ng-model="temp1.sup_sblgr_acno"
                                            ng-options="supname712.sup_sblgr_acno as supname712.sup_name for supname712 in SupplierName" name="App_code">
                                        </select>
                                    </div>


                                    <!--Supplyer Group-->
                                    <div class="col-md-3">
                                        <label class="semi-bold"><i class="fa fa-users"></i>&nbsp;{{"Supplier Group" | translate}}</label>
                                        <select id="Select5" class="form-control input-sm"
                                            ng-model="temp1.code"
                                            ng-options="doc.code as doc.name for doc in supgname" name="App_code">
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <!--Category-->
                                    <div class="col-md-3">
                                        <label class="semi-bold"><i class="fa fa-sitemap"></i>&nbsp;{{"Category" | translate}} </label>
                                        <select id="Select6" class="form-control input-sm"
                                            ng-model="temp1.category_code"
                                            ng-options="doc.category_code as doc.category_name for doc in categorycode" ng-change="getCategories(temp1.category_code);" name="App_code">
                                        </select>
                                    </div>

                                    <!-- SubCategory-->
                                    <div class="col-md-3">
                                        <label class="semi-bold"><i class="fa fa-sitemap"></i>&nbsp;{{"SubCategory" | translate}}</label>
                                        <select id="Select7" class="form-control input-sm"
                                            ng-model="temp1.subcategory_code"
                                            ng-options="doc.subcategory_code as doc.subcategory_name for doc in allSubCategories" name="App_code">
                                        </select>
                                    </div>

                                    <!--Assembly Indicatror-->
                                    <div class="col-md-2">
                                        <div class="row form-row">
                                            <div class="col-md-12">
                                                <label class="semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"Assembly Indicator"|translate}}</label>
                                            </div>
                                            <div class="col-md-12">

                                                <div class="checkbox check-success">
                                                    <input id="im_assembly_ind" type="checkbox" value="1" checked="checked" ng-model="temp1.im_assembly_ind">
                                                    <label for="im_assembly_ind"></label>
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                    <!-- <div class="col-md-2">
                                            <label class="semi-bold">Assembly Indicatror</label>
                                            <!--<input type="text" name="Section_code" id="Text26" class="form-control input-sm" ng-model="temp1.im_assembly_ind_s" />
                                        <input id="im_assembly_ind" type="checkbox" value="1" checked="checked" ng-model="temp1.im_assembly_ind">
                                    </div>
                                    -->
                                    <!--Fetch-->
                                    <div class="col-md-4">
                                        <div class="pull-right">
                                            <label class="semi-bold">&nbsp;</label>
                                            <button class="btn btn-success" style="height: 35px" type="button" id="Button3" ng-click="getfetch()">{{"Fetch"| translate }}</button>
                                            <button class="btn btn-warning" style="height: 35px" type="button" id="Button4" ng-click="Reset_is()">{{"Reset"| translate }}</button>
                                        </div>
                                    </div>

                                </div>


                            </div>
                            <div>
                                &nbsp;
                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <div ng-show="is_dis">

                                        <div id="Div1" class="dataTables_wrapper form-inline">
                                            <div style="width: 100%; height: 300px; overflow-x: auto; overflow-y: auto">
                                                <table class="table table-bordered table-condensed" id="Table1">
                                                    <thead>
                                                        <tr>
                                                            <th class="semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"Invoice no" | translate}}</th>
                                                            <th class="semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"Item Code" | translate}}</th>

                                                            <th class="semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"Description" | translate}}</th>
                                                            <th class="semi-bold"><i class="fa fa-sitemap"></i>&nbsp;{{"Category" | translate}}</th>
                                                            <th class="semi-bold"><i class="fa fa-sitemap"></i>&nbsp;{{"SubCategory" | translate}}</th>
                                                            <th class="semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"UOM Name" | translate}}</th>
                                                            <th class="semi-bold"><i class="fa fa-money"></i>&nbsp;{{"Malc Rate" | translate}}</th>
                                                            <th class="semi-bold"><i class="fa fa-money"></i>&nbsp;{{"Sale Price" | translate}}</th>
                                                            <th class="semi-bold"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Current QTY" | translate}}</th>
                                                            <th class="semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"Dept Name" | translate}}</th>
                                                            <th class="semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"Section Name" | translate}}</th>
                                                            <th class="semi-bold"><i class="fa fa-user"></i>&nbsp;{{"Supplier Name" | translate}}</th>
                                                            <th class="semi-bold"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                        <tr ng-repeat="ji in GetItems">


                                                            <td>{{ji.im_inv_no}}</td>
                                                            <td>{{ji.im_item_code}}</td>
                                                            <td>{{ji.im_desc}}</td>
                                                            <td>{{ji.category_name}} </td>
                                                            <td>{{ji.subcategory_name}} </td>
                                                            <td>{{ji.uom_name}}</td>
                                                            <td>{{ji.im_malc_rate}}  </td>
                                                            <td>{{ji.im_sell_price}}  </td>
                                                            <td>{{ji.id_cur_qty}} </td>
                                                            <td>{{ji.dep_name}}</td>
                                                            <td>{{ji.sec_name}}</td>
                                                            <td>{{ji.sup_name}}</td>
                                                            <td>
                                                                <div class="checkbox check-success">
                                                                    <input id="{{ji.im_inv_no+$index}}" value="1" type="checkbox" ng-model="ji.im_inv_chk" ng-click="chk_click_item(ji,ji.im_inv_chk)">
                                                                    <label for="{{ji.im_inv_no+$index}}"></label>
                                                                </div>
                                                            </td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="modal-footer" ng-show="is_dis">
                                <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" data-dismiss="modal" ng-click="okbuttonclick();" type="submit">{{"OK" | translate}}</button><!--ng-click="okbuttonclick();"-->
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
<script src="assets/js/calender-datepicker-id.js"></script>
