﻿<script src="assets/plugins/tableExport/tableExport.js"></script>
<script src="assets/plugins/tableExport/jquery.base64.js"></script>
<script src="assets/plugins/tableExport/html2canvas.js"></script>
<script src="assets/plugins/tableExport/jspdf/libs/sprintf.js"></script>
<script src="assets/plugins/tableExport/jspdf/jspdf.js"></script>
<script src="assets/plugins/tableExport/jspdf/libs/base64.js"></script>
﻿
<style>
    .bluegreed{
        background: #d8ebf4 !important;
    padding-bottom: 6px !important;
    padding-top: 6px !important;
   
}
    .select2-container {
    width: 206px;
    height: 30px;
}
</style>
<div class="row">
    <div class="col-md-12 ">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Item Request"| translate }}</span> </h3>
            </div>

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>


            <div class="grid-title no-border">
            </div>

            <div class="grid-body no-border paddingcode" ng-show="table"style="background-color:transparent;">
                <div class="row form-row">
                    <div class="row bluegreed paddingcode"style="margin-left:-4px;margin-right:-4px;margin-top:-23px;">
                        <!--Doc Code-->
                        <div class="col-md-2">
                            <label id="Label1" for="txt_BankCode" class="form-label"><i class="fa fa-calendar"></i>&nbsp;{{"Prov Date" | translate }}</label>
                            <!--<input type="text" name="doc_Code" id="doccode" class="form-control input-sm" readonly ng-model="tdate" />-->
                            <div>
                                <input type="text" id="startdate" placeholder="Select Date" name="Subsexpdate" class="k-textbox input-sm" ng-model="temp.provDate">
                            </div>
                        </div>

                        <!--Post Date-->
                        <!--ng-options="doc.dt_code as doc.dt_desc for doc in rcbDocType" ng-change="GetDocType(temp.sims_financial_year);"-->

                        <div class="col-md-2">
                            <label for="StartDate"><i class="fa fa-pencil-square-o"></i>&nbsp;{{"Doc Type" | translate }}</label>
                            <!--<select id="Select3" class="form-control"
                                name="sims_goal" required>
                                <option value="01">Item Request</option>
                            </select>-->
                            <select id="reqtype" name="reqtype" class="form-control input-sm" required
                                    ng-model="temp.servicevalue"
                                    ng-options="doc.servicevalue as doc.servicetype for doc in ServiceTypes" ng-change="GetItemServiceMethods1(temp.servicevalue)"
                                    name="Assemb_code">
                                <option value="">Please Select</option>
                            </select>
                        </div>
                        <!--Department Name-->
                        <div class="col-md-2">
                            <label class="semi-bold" for="DeptName"><i class="fa fa-pencil-square-o"></i>&nbsp;{{"Department Name"| translate }}</label>
                            <select id="AccountNo" class="form-control input-sm full-width" name="DeptName"
                                    ng-model="temp.dept_code"
                                    ng-options="d.dept_code as d.dept_name for d in dept_data">                                
                            </select>                           
                        </div>
                        <div class="col-md-2">
                            <label for="txt_Country_Code" class="form-label"><i class="fa fa-users"></i>&nbsp;{{"Group" | translate }}</label>
                            <select id="Select1" class="form-control input-sm"
                                    ng-model="temp.gcode"
                                    ng-options="doc.code as doc.name for doc in rcbGroup" ng-change="getsupgrpitems(temp.gcode);" name="sims_goal" required>
                                <option value="" selected disabled>Please Select</option>
                                <!--ng-options="doc.code as doc.name for doc in rcbGroup"-->
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label id="Label3" for="txt_BankCode" class="form-label"><i class="fa fa-sitemap"></i>&nbsp;{{"Category" | translate }}</label>
                            <select id="Select2" class="form-control input-sm"
                                    ng-model="temp.category_code"
                                    ng-options="doc.category_code as doc.category_name for doc in rcbCategories" ng-change="getCategories(temp.category_code);" name="sims_goal" required></select>

                        </div>
                        <div class="col-md-2">
                            <label id="Label4" for="txt_BankCode" class="form-label"><i class="fa fa-sitemap"></i>&nbsp;{{"SubCategory" | translate }}</label>
                            <select id="Select3" class="form-control input-sm"
                                    ng-model="temp.subcategory_code" style="width: 100%"
                                    ng-options="doc.subcategory_code as doc.subcategory_name for doc in rcbSubCategories" ng-change="getSubCategories(temp.subcategory_code);" name="sims_goal" required></select>
                        </div>
                    </div>

                    

                    

                    <div id="div_search_service" ng-show="show_div_search_service">

                        <div class="col-md-12 ">

                            <!--Amount-->
                            <div class="col-md-3">
                                <label id="Label8" for="txt_seritem" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Service" | translate }}</label>
                                <select id="rcbItem1" class="form-control input-sm"
                                        ng-model="im_service_code1"
                                        ng-options="doc as doc.im_desc for doc in resitem1" tabindex="2" ng-change="getServiceCode(im_service_code1);" name="sims_goal" required></select>
                            </div>

                            <!--Cheque No-->
                            <div class="col-md-3">
                                <label id="Label10" for="txt_BankCode" class="form-label"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Qty" | translate }}</label>
                                <input type="text" name="doc_Code" id="Text5" class="k-textbox input-sm" ng-model="temp.ser_qty" ng-disabled="temp.servicevalue =='S'" />
                            </div>

                            <!--Bank Code-->
                            <div class="col-md-3">
                                <label id="Label28" for="txt_BankCode" class="form-label"><i class="fa fa-bookmark"></i>&nbsp;{{"Remark" | translate }}</label>
                                <input type="text" name="doc_Code" id="Text28" class="k-textbox input-sm" ng-model="temp.ser_doc_remark" />
                            </div>

                        </div>

                        <div class="col-md-12 ">

                            <div class="col-md-12 ">
                                <div class="pull-left">
                                    <br>
                                    <button type="button" style="background-color: darkorange; color: black;" ng-disabled="disable_btn" class="btn btn-white btn-cons" ng-click="SearchService();">{{"Service Search"| translate }}</button>
                                    <!--<button type="button" style="background-color: darkorange; color: black;" ng-disabled="disable_btn" class="btn btn-white btn-cons" ng-click="ItemSetSearch();">{{"Item Set"| translate }}</button>-->
                                </div>

                                <div class="pull-right">
                                    <br>
                                    <button type="button" style="background-color: #0aa699; color: white;" ng-disabled="disable_btn" class="btn btn-white btn-cons" tabindex="3" ng-click="addservice();">{{"Add"| translate }}</button>
                                    <button type="button" style="background-color: #f35958; color: white;" ng-disabled="disable_btn" class="btn btn-white btn-cons" ng-click="CancelService();">{{"Cancel"| translate }}</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="div_search_item" ng-show="show_div_search_item">

                        <div class="row bluegreed paddingcode "style="margin-left:-4px;margin-right:-4px;">
                            <!--Ledger Code-->
                            

                            <!--Account Code-->
                            

                            <!--Department Code-->
                            

                            <!--Amount-->
                            <div class="col-md-2">
                                <label id="Label5" for="txt_BankCode" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"Item" | translate }}</label>
                                <select id="rcbItem"
                                        ng-model="im_item_code1" 
                                        ng-options="doc as doc.im_desc for doc in rcbItems" tabindex="2" ng-change="getitemCode(im_item_code1);" name="sims_goal" required ></select>


                                <!-- <select id="rcbItem"
                                    ng-model="temp.im_item_code" style="width: 100%"
                                    ng-options="doc.im_item_code as doc.im_desc for doc in rcbItems" ng-change="getitemCode(temp.im_item_code);" name="sims_goal" required>
                                </select>-->

                            </div>
                            <div class="col-md-2">
                                <label id="Label12" for="txt_Country_Code" class="form-label"><i class="fa fa-align-justify"></i>&nbsp;{{"LOC" | translate }}</label>
                                <select id="Select9" class="form-control input-sm"
                                        ng-model="temp.loc_code"
                                        ng-options="doc.loc_code as doc.item_location_name for doc in resloc" ng-change="Getbank(temp.pb_bank_from);" name="sims_goal" required></select>
                                <option value="" selected disabled>Please Select</option>
                            </div>
                            <div class="col-md-2">
                                <label id="Label13" for="txt_BankCode" class="form-label"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Qty" | translate }}</label>
                                <input type="text" name="doc_Code" id="Text1" ng-change="qtychange()" class="k-textbox input-sm" ng-model="temp.qty" />
                            </div>
                            <div class="col-md-3">
                                <label id="Label15" for="txt_BankCode" class="form-label"><i class="fa fa-bookmark"></i>&nbsp;{{"Remark" | translate }}</label>
                                <input type="text" name="doc_Code" id="Text10" class="k-textbox input-sm" ng-model="temp.doc_remark" />

                            </div>

                        </div>

                        <!--<div class="row bluegreed"style="margin-left:-4px;margin-right:-4px;">-->

                            <!--Bank Code-->
                            

                            <!--Cheque No-->
                            

                            <!--Due Date-->
                            <!--<div class="col-md-3">
                                <label class="semi-bold" for="StartDate">{{"Sell Price" | translate }}</label>
                                <input type="text" name="doc_Code" id="Text6" class="form-control input-sm" ng-change="qtychange()" ng-disabled="(temp.doc_type=='02')?true:false" ng-model="temp.im_sell_price" />

                            </div>-->
                            <!--Number of Cheque -->
                            <!--<div class="col-md-3">
                                <label id="Label14" for="txt_BankCode" class="form-label">{{"Final Value" | translate }}</label>
                                <input type="text" name="doc_Code" id="Text9" readonly class="form-control input-sm" ng-model="temp.finalValue" />
                            </div>-->
                            


                        <!--</div>-->

                        <div class="col-md-12 "style="margin-top:-8px;">

                            <div class="col-md-12 bluegreed"style="margin-left:-4px;margin-right:-4px;margin-top:-4px;">
                                <div class="pull-left">
                                    <br>
                                    <button type="button" style="background-color: #fbb05e; color: white;" ng-disabled="disable_btn" class="btn btn-white btn-cons" ng-click="itemSearch();">{{"Item Search"| translate }}</button>
                                    <button type="button" style="background-color:#0090d9; color: white;" ng-disabled="disable_btn" class="btn btn-white btn-cons" ng-click="ItemSetSearch();">{{"Item Set"| translate }}</button>
                                </div>

                                <div class="pull-right">
                                    <br>
                                    <button type="button" style="background-color: #0aa699; color: white;" ng-disabled="disable_btn" class="btn btn-white btn-cons" tabindex="3" ng-click="add();">{{"Add"| translate }}</button>
                                    <button type="button" style="background-color: #f35958; color: white;" ng-disabled="disable_btn" class="btn btn-white btn-cons" ng-click="CancelItem();">{{"Cancel"| translate }}</button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline row"style="background-color:white;margin-top:7px;">
                    <div style="width: 100%; height: 250px; overflow-x: auto; overflow-y: auto">
                        <table class="table table-bordered table-condensed" id="fixTable">
                            <thead style="background-color: white">
                                <tr style="background-color: #edefef">
                                    <!--                                    <td class="small-cell v-align-middle">
                                        <div class="checkbox check-success">
                                            <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                            <label for="mainchk"></label>
                                        </div>
                                    </td>-->
                                    <td class="semi-bold">
                                        <!--<label><b>{{"Delete" | translate }}</b></label>-->
                                        <label><i class="fa fa-cogs"></i></label>
                                    </td>

                                    <td class="semi-bold">
                                        <label><b><i class="fa fa-users"></i>&nbsp;{{"Group" | translate }}</b></label>
                                    </td>

                                    <td class="semi-bold">
                                        <label><b><i class="fa fa-dashboard"></i>&nbsp;{{"Item CODE"| translate }}</b></label>
                                    </td>

                                    <td class="semi-bold">
                                        <label><b><i class="fa fa-align-justify"></i>&nbsp;{{"Description" | translate }}</b></label>
                                    </td>

                                    <!--<td class="semi-bold">
                                        <label><b>{{"LOC" | translate }}</b></label>
                                    </td>-->
                                    <!--<td class="semi-bold">
                                        <label><b>{{"Current Quantity" | translate }}</b></label>
                                    </td>-->

                                    <td class="semi-bold">
                                        <label><b><i class="fa fa-align-justify"></i>&nbsp;{{"UOM"| translate }}</b></label>
                                    </td>

                                    <td class="semi-bold">
                                        <label><b><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Qty"| translate }}</b></label>
                                    </td>

                                    <!--<td class="semi-bold">
                                        <label><b>{{"Sell Price" | translate }}</b></label>
                                    </td>

                                    <td class="semi-bold">
                                        <label><b>{{"Final Value"| translate }}</b></label>
                                    </td>-->

                                    <td class="semi-bold">
                                        <label><b><i class="fa fa-calendar"></i>&nbsp;{{"Exp. Require Date"| translate }}</b></label>
                                    </td>

                                    <td class="semi-bold">
                                        <label><b><i class="fa fa-bookmark"></i>&nbsp;{{"Remark"| translate }}</b></label>
                                    </td>


                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="j in itemList">

                                    <!--<td>&NBSP;</td>-->
                                    <td>
                                        <input type="button" value="Delete" ng-click="removeItem(j,$index)" />
                                    </td>
                                    <td>{{j.sg_name}}</td>
                                    <td>{{j.im_item_code}}</td>
                                    <td>{{j.im_desc}}</td>
                                    <!-- <td>{{j.item_location_name}}</td>-->
                                    <td>{{j.im_UOM}}</td>
                                    <!--<td>{{j.original_qty}}</td>-->
                                    <td>
                                        <input type="text" style="width: 50px" name="Desc" id="Text23" class="k-textbox input-sm" ng-blur="qtychangeby(j)" ng-keypress="onlyNumbers($event)" ng-disabled="temp.servicevalue =='S'" ng-model="j.dd_qty" />
                                    </td>
                                    <!--<td>
                                        <input type="text" style="width: 90px" name="Desc" ng-disabled="(temp.doc_type=='02')?true:false" id="Text9" class="form-control input-sm" ng-blur="qtychangeby(j)" ng-keypress="onlyNumbers($event)" ng-model="j.dd_sell_price" /></td>
                                    <td>{{j.dd_sell_value_final}}</td>-->
                                    <td>
                                        <input type="text" style="width: 120px" name="txt_doc_require_date" id="txt_doc_require_date" class="k-textbox input-sm" ng-model="j.doc_require_date" placeholder="dd-mm-yyyy" />
                                    </td>
                                    <td>
                                        <input type="text" style="width: 120px" name="Desc" id="Text29" class="k-textbox input-sm" ng-model="j.doc_remark" />
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                ng-click="index(currentPage)">
                        </paging>
                    </div>


                </div>

                <div class="row form-row"style="background-color:white;margin-left:0px;margin-right:0px;">
                    <div class="col-md-3">
                        <label id="Label2" for="txt_item_remark" class="form-label"><i class="fa fa-bookmark"></i>&nbsp;{{"Remark" | translate }}</label>
                        <input type="text" name="txt_item_remark" id="txt_item_remark" class="k-textbox input-sm" ng-model="temp.doc_delivery_remarks" />
                    </div>
                </div>

                <div class="row form-row"style="background-color:white;margin-left:0px;margin-right:0px;">

                    <div class="pull-right">
                        <br>

                        <button type="button" style="background-color: #0aa699; color: white;" class="btn btn-white btn-cons" ng-disabled="disable_btn" ng-click="finalize()">{{"Save"| translate }}</button>
                        <!--<button type="button" style="background-color: darkorange; color: black;" class="btn btn-white btn-cons" ng-click="print('tableIDDiv')">{{"Print"| translate }}</button>-->

                        <button type="button" style="background-color:#f35958; color: white;" class="btn btn-white btn-cons" ng-click="cancel();">{{"Cancel"| translate }}</button>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="modal fade in" id="itemSearch" role="dialog" style="display: none;">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 75%;">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header ng-scope" style="height: 40px">
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <button style="margin-top: 4px;margin-right: -938px;height:33px;line-height: 23px;" class="btn btn-primary btn-cons" data-dismiss="modal" type="submit">Close</button>

            </div>
            <div class="grid simple">
                <div class="grid-body no-border">
                    <div class="row column-seperation">
                        <div class="tab-pane" id="Div5" aria-expanded="true">

                            <div class="row">
                                <div class="col-md-12">
                                    <!--Item Inv No-->
                                    <div class="col-md-3">
                                        <label class="semi-bold" for="EndDate"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Item Inv No"| translate }}</label>
                                        <input type="text" name="InvFor" id="Desc_Res" class="k-textbox input-sm" ng-model="temp1.im_inv_no" />
                                    </div>

                                    <!--Description-->
                                    <div class="col-md-6">
                                        <label class="semi-bold" for="EndDate"><i class="fa fa-align-justify"></i>&nbsp;{{"Description"| translate }}</label>
                                        <input type="text" name="Desc" id="Text3" class="k-textbox input-sm" ng-model="temp1.im_desc" />
                                    </div>

                                    <!--Item Code-->
                                    <div class="col-md-3">
                                        <label class="semi-bold" for="EndDate"><i class="fa fa-dashboard"></i>&nbsp;{{"Item Code"| translate }}</label>
                                        <input type="text" name="Desc" id="Item_code" class="k-textbox input-sm" ng-model="temp1.im_item_code" />
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <!--Dept Code-->
                                    <div class="col-md-3">
                                        <label class="semi-bold" for="EndDate"><i class="fa fa-dashboard"></i>&nbsp;{{"Dept Code"| translate }}</label>
                                        <input type="text" name="Dept" id="Text4" class="k-textbox input-sm" ng-model="temp1.invs021_dep_code" />
                                    </div>

                                    <!--Section Code-->
                                    <div class="col-md-3">
                                        <label class="semi-bold" for="EndDate"><i class="fa fa-dashboard"></i>&nbsp;{{"Section Code"| translate }}</label>
                                        <input type="text" name="Section_code" id="Text8" class="k-textbox input-sm" ng-model="temp1.sec_code" />
                                    </div>

                                    <!--Supplyer Code-->
                                    <div class="col-md-3">
                                        <label class="semi-bold" for="EndDate"><i class="fa fa-dashboard"></i>&nbsp;{{"Supplier Code"| translate }}</label>
                                        <select id="AccountNo" class="form-control input-sm"
                                                ng-model="temp1.invs021_sup_code"
                                                ng-options="doc.code as doc.name for doc in cmb_supplier" name="App_code"></select>
                                    </div>


                                    <!--Supplyer Group-->
                                    <div class="col-md-3">
                                        <label class="semi-bold" for="EndDate"><i class="fa fa-align-justify"></i>&nbsp;{{"Description"| translate }}Supplier Group</label>
                                        <select id="Select5" class="form-control input-sm"
                                                ng-model="temp1.invs021_sg_name"
                                                ng-options="doc.code as doc.name for doc in rcbGroup" name="App_code"></select>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <!--Category-->
                                    <div class="col-md-3">
                                        <label class="semi-bold" for="EndDate"><i class="fa fa-sitemap"></i>&nbsp;{{"Category"| translate }} </label>
                                        <select id="Select6" class="form-control input-sm"
                                                ng-model="temp1.category_code"
                                                ng-options="doc.category_code as doc.category_name for doc in rcbCategories" ng-change="getCategories(temp1.category_code);" name="App_code"></select>
                                    </div>

                                    <!-- SubCategory-->
                                    <div class="col-md-3">
                                        <label class="semi-bold" for="EndDate"><i class="fa fa-sitemap"></i>&nbsp;{{"SubCategory"| translate }}</label>
                                        <select id="Select7" class="form-control input-sm"
                                                ng-model="temp1.subcategory_code"
                                                ng-options="doc.subcategory_code as doc.subcategory_name for doc in rcbSubCategories" name="App_code"></select>
                                    </div>

                                    <!--Assembly Indicatror-->
                                    <div class="col-md-2">
                                        <label class="semi-bold" for="EndDate"><i class="fa fa-align-justify"></i>&nbsp;{{"Assembly Indicator"| translate }}</label>
                                        <input type="text" name="Section_code" id="Text26" class="k-textbox input-sm" ng-model="temp1.im_assembly_ind_s" />

                                    </div>

                                    <!--Fetch-->
                                    <div class="col-md-4">
                                        <div class="pull-right">
                                            <label class="semi-bold" for="EndDate">&nbsp;</label>
                                            <button class="btn btn-success" style="height: 35px" type="button" id="designew" ng-click="getfetch()">{{"Fetch"| translate }}</button>
                                            <button class="btn btn-warning" style="height: 35px" type="button" id="Button1" ng-click="Reset()">{{"Reset"| translate }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                &nbsp;
                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <div id="Div1" class="dataTables_wrapper form-inline">
                                            <div style="width: 100%; height: 300px; overflow-x: auto; overflow-y: auto">
                                                <table class="table table-bordered table-condensed" id="Table1">
                                                    <thead>
                                                        <tr>
                                                            <th class="semi-bold"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Invoice no"| translate }}</th>
                                                            <th class="semi-bold"><i class="fa fa-dashboard"></i>&nbsp;{{"Item Code"| translate }}</th>

                                                            <th class="semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"Description"| translate }}</th>
                                                            <th class="semi-bold"><i class="fa fa-sitemap"></i>&nbsp;{{"Category"| translate }}</th>
                                                            <th class="semi-bold"><i class="fa fa-sitemap"></i>&nbsp;{{"SubCategory"| translate }}</th>
                                                            <th class="semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"UOM Name"| translate }}</th>
                                                            <!--  <th class="semi-bold">Malc Rate</th>
                                                              <th class="semi-bold">Sale Price</th>
                                                              <th class="semi-bold">Current QTY.</th>-->
                                                            <th class="semi-bold"><i class="fa fa-pencil-square-o"></i>&nbsp;{{"Dept Name"| translate }}</th>
                                                            <th class="semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"Section Name"| translate }}</th>
                                                            <th class="semi-bold"><i class="fa fa-user"></i>&nbsp;{{"Supplier Name"| translate }}</th>
                                                            <th class="semi-bold"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                        <tr ng-repeat="ji in GetItems">


                                                            <td>{{ji.im_inv_no}}</td>
                                                            <td>{{ji.im_item_code}}</td>
                                                            <td>{{ji.im_desc}}</td>
                                                            <td>{{ji.category_name}} </td>
                                                            <td>{{ji.subcategory_name}} </td>
                                                            <td>{{ji.uom_name}}</td>
                                                            <!-- <td>{{ji.im_malc_rate}}  </td>
                                                             <td>{{ji.im_sell_price}}  </td>
                                                             <td>{{ji.id_cur_qty}} </td>-->
                                                            <td>{{ji.dep_name}}</td>
                                                            <td>{{ji.sec_name}}</td>
                                                            <td>{{ji.sup_name}}</td>
                                                            <td>
                                                                <div class="checkbox check-success">
                                                                    <input id="{{ji.im_inv_no+$index}}" value="1" type="checkbox" ng-model="ji.im_inv_chk" ng-click="chk_click_item(ji,ji.im_inv_chk)" value="1">
                                                                    <label for="{{ji.im_inv_no+$index}}"></label>
                                                                </div>
                                                            </td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>


                            <div class="modal-footer">
                                <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" data-dismiss="modal" type="submit">OK</button><!--ng-click="okbuttonclick();"-->

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<div class="modal fade in" id="stdSearch" role="dialog" style="display: none;">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 1000px;">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px"><b>Search User</b></h4>
                </div>
            </div>

            <div class="grid simple">
                <div class="grid-body no-border">
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-2">

                                    <div class="row form-row">

                                        <div class="col-md-12">
                                            <label><i class="fa fa-book"></i>&nbsp;{{"Curriculum"| translate }}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <select id="cmb_School_Code" class="form-control input-sm" name="user" ng-model="temp.s_cur_code">
                                                <option value="" selected disabled>Please Select</option>
                                                <option class="form-control input-sm" ng-repeat="cur in ComboBoxValues|filter:{sims_cur_full_name_en:''}" value="{{cur.sims_cur_code}} ">{{cur.sims_cur_full_name_en}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label><i class="fa fa-calendar"></i>&nbsp;{{"Academic Year"| translate }}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <select id="cmb_academic_year" class="form-control input-sm" ng-model="temp.sims_academic_year">
                                                <option value="" selected disabled>Please Select</option>
                                                <option class="form-control input-sm" ng-repeat="year in ComboBoxValues|filter:{sims_acadmic_year:''}" value="{{year.sims_acadmic_year}} ">{{year.sims_acadmic_year_desc}}</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row form-row">

                                        <div class="col-md-12">
                                            <label><i class="fa fa-sitemap"></i>&nbsp;{{"Grade"| translate }}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <select id="cmb_grade_code" class="form-control input-sm" ng-model="temp.search_std_grade_name" ng-change="getsectioncode(temp.s_cur_code,temp.sims_academic_year,temp.search_std_grade_name)">
                                                <option value="" selected disabled>Please Select</option>
                                                <option class="form-control input-sm" ng-repeat="grade in ComboBoxValues|filter:{sims_grade_name:''}" value="{{grade.sims_grade_code}} ">{{grade.sims_grade_name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row form-row">

                                        <div class="col-md-12">
                                            <label><i class="fa fa-align-justify"></i>&nbsp;{{"Section"| translate }}</label>
                                        </div>
                                        <div class="col-md-12">

                                            <select id="Select24" class=" form-control input-sm" ng-model="temp.search_std_section_name">
                                                <option value="" selected disabled>Please select</option>
                                                <option class="form-control" ng-repeat="section in sections" value="{{section.sims_section_code}}" class=" form-control input-sm">
                                                    {{section.sims_section_name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="row form-row">

                                        <div class="col-md-12">
                                            <label><i class="fa fa-flag"></i>&nbsp;{{"Nationality"| translate }}</label>
                                        </div>
                                        <div class="col-md-12">

                                            <select id="Select35" class="form-control input-sm" ng-model="temp.sims_nationality_name_en">
                                                <option value="" selected disabled>Please Select</option>
                                                <option class="form-control input-sm" ng-repeat="section in ComboBoxValues|filter:{sims_nationality_name_en:''}" value="{{section.sims_nationality_code}} ">{{section.sims_nationality_name_en}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-2">
                                    <div class="row form-row">

                                        <div class="col-md-12">
                                            <label><i class="fa fa-flag"></i>&nbsp;{{"National Id"| translate }}</label>
                                        </div>
                                        <div class="col-md-12">

                                            <input class="k-textbox input-sm">
                                        </div>
                                    </div>
                                </div>

                                <!--<div class="col-md-4">

                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>&nbsp</label>
                                        </div>
                                        <div class="pull-right">
                                            <div class="col-md-12">

                                                <button type="button" class="btn btn-primary btn-cons" ng-click="Show_Data()">Show</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>-->




                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-2">

                                    <div class="row form-row">

                                        <div class="col-md-12">
                                            <label><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Enrollment No"| translate }}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input class="k-textbox input-sm" ng-model="temp.search_std_enroll_no" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label><i class="fa fa-align-justify"></i>&nbsp;{{"Name"| translate }}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input class="k-textbox input-sm" ng-model="temp.search_std_name" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row form-row">

                                        <div class="col-md-12">
                                            <label><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Passport No"| translate }}</label>
                                        </div>
                                        <div class="col-md-12">

                                            <input class="k-textbox input-sm" ng-model="temp.search_std_passport_no" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="row form-row">

                                        <div class="col-md-12">
                                            <label><i class="fa fa-users"></i>&nbsp;{{"Family Name"| translate }}</label>
                                        </div>
                                        <div class="col-md-12">

                                            <input class="k-textbox input-sm" ng-model="temp.search_std_family_name" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="row form-row">

                                        <div class="col-md-12">
                                            <label>&nbsp;</label>
                                        </div>
                                        <div class="col-md-12">

                                            <button type="button" ng-click="searchstudent();" class="btn btn-primary btn-cons">{{"Search"| translate }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="busy">
                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-5">
                                </div>
                                <div class="col-md-2">
                                    <img src="assets/images/loading.gif" />

                                </div>
                                <div class="col-md-5">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-show="searchtable">
                        <div id="Div3" class="dataTables_wrapper form-inline">
                            <div style="width: 100%; height: 350px; overflow-x: auto; overflow-y: auto">
                                <table class="table  table-striped  table-condensed" id="Table2" aria-describedby="example2_info">
                                    <thead style="background-color: white">
                                        <tr>
                                            <td class="semi-bold"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Enroll No"| translate }}</td>
                                            <td class="semi-bold"><i class="fa fa-user"></i>&nbsp;{{"Name"| translate }}</td>
                                            <td class="semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"Class"| translate }}</td>
                                            <td class="semi-bold"><i class="fa fa-envelope-o"></i>&nbsp;{{"Email Id"| translate }} </td>
                                            <td class="semi-bold"><i class="fa fa-sitemap"></i>&nbsp;{{"Grade"| translate }}</td>
                                            <td class="semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"Section"| translate }}</td>
                                            <td class="semi-bold"><i class="fa fa-mobile-phone"></i>&nbsp;{{"Mobile No"| translate }}</td>
                                            <td class="semi-bold">{{"ACTION"| translate }}</td>
                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="info in student" ng-class="row1">

                                            <td>{{info.s_enroll_no}}</td>
                                            <td>{{info.s_sname_in_english}}</td>
                                            <td>{{info.s_class}}</td>
                                            <td>{{info.mail_id}}</td>
                                            <td>{{info.sims_grade_name_en}}</td>
                                            <td>{{info.sims_section_name_en}}</td>
                                            <td>{{info.mobile_no}}</td>
                                            <td><a href=""><i class="fa fa-edit" ng-click="edit(info)" data-dismiss="modal"></i></a>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" data-dismiss="modal" type="submit"><i class="fa fa-arrow-right"></i>Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="tableIDDiv" class="dataTables_wrapper form-inline" style="display: none">
    <table class="table table-bordered table-condensed" id="tableID">
        <thead style="background-color: white">
            <tr style="background-color: #edefef">

                <td class="semi-bold">
                    <label><b>{{"Group" | translate }}</b></label>
                </td>

                <td class="semi-bold">
                    <label><b>{{"Item CODE"| translate }}</b></label>
                </td>

                <td class="semi-bold">
                    <label><b>{{"Description" | translate }}</b></label>
                </td>

                <td class="semi-bold">
                    <label><b>{{"LOC" | translate }}</b></label>
                </td>

                <td class="semi-bold">
                    <label><b>{{"Current Quantity" | translate }}</b></label>
                </td>

                <td class="semi-bold">
                    <label><b>{{"Qty"| translate }}</b></label>
                </td>

                <td class="semi-bold">
                    <label><b>{{"Sell Price" | translate }}</b></label>
                </td>

                <td class="semi-bold">
                    <label><b>{{"Final Value"| translate }}</b></label>
                </td>

                <td class="semi-bold">
                    <label><b>{{"Remark"| translate }}</b></label>
                </td>


            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="j in itemList">


                <td>{{j.sg_name}}</td>
                <td>{{j.im_item_code}}</td>
                <td>{{j.im_desc}}</td>
                <td>{{j.item_location_name}}</td>
                <td>{{j.original_qty}}</td>
                <td>{{j.dd_qty}}</td>
                <td>{{j.dd_sell_price}}</td>
                <td>{{j.dd_sell_value_final}}</td>
                <td>{{j.doc_remark}}</td>

            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade in" id="MyModal2" role="dialog" style="display: none;">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 75%;">
        <div class="modal-content" uib-modal-transclude="">

            <div class="modal-header ng-scope" style="height: 40px">
                <button style="margin-top: 4px;margin-right: 0px;height: 33px;line-height: 23px;" class="btn btn-primary btn-cons" data-dismiss="modal" type="submit">Close</button>

                <!--<button type="button" class="close" data-dismiss="modal" ng-click="okbuttonclick();">&times;</button>-->
            </div>

            <div class="grid simple">

                <div class="grid-body no-border">

                    <div class="row column-seperation">

                        <div class="tab-pane" id="Div7" aria-expanded="true">

                            <div class="row">

                                <div class="col-md-12">
                                    <!--Item Inv No-->
                                    <div class="col-md-3">
                                        <label class="semi-bold" for="EndDate"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Service Sm No"| translate }}</label>
                                        <input type="text" name="InvFor" id="Text9" class="k-textbox input-sm" ng-model="temp2.im_inv_no" />
                                    </div>

                                    <!--Description-->
                                    <div class="col-md-6">
                                        <label class="semi-bold" for="EndDate"><i class="fa fa-align-justify"></i>&nbsp;{{"Description"| translate }}</label>
                                        <input type="text" name="Desc" id="Text2" class="k-textbox input-sm" ng-model="temp2.im_desc" />
                                    </div>

                                    <!--Dept Code-->
                                    <div class="col-md-3">
                                        <label class="semi-bold" for="EndDate"><i class="fa fa-dashboard"></i>&nbsp;{{"Dept Code"| translate }}</label>
                                        <input type="text" name="Dept" id="Text12" class="k-textbox input-sm" ng-model="temp2.dept_name" />
                                    </div>

                                </div>

                                <div class="col-md-12">

                                    <!--Fetch-->
                                    <div class="col-md-4">
                                        <div class="pull-left">
                                            <label class="semi-bold" for="EndDate">&nbsp;</label>
                                            <button class="btn btn-success btn-cons" style="height: 35px" type="button" id="Button4" ng-click="ServiceFetch()">{{"Fetch"| translate }}</button>
                                            <button class="btn btn-warning btn-cons" style="height: 35px" type="button" id="Button8" ng-click="ServiceReset()">{{"Reset"| translate }}</button>
                                        </div>
                                    </div>


                                </div>

                            </div>

                            <div>
                                &nbsp;
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <div id="Div8" class="dataTables_wrapper form-inline">
                                            <div style="width: 100%; height: 300px; overflow-x: auto; overflow-y: auto">
                                                <table class="table table-bordered table-condensed" id="Table3">
                                                    <thead>
                                                        <tr>

                                                            <th class="small-cell v-align-middle" style="z-index: 1">
                                                                <div class="checkbox check-success">
                                                                    <input id="mainchk1" type="checkbox" value="1" ng-click="CheckAllService()">
                                                                    <label for="mainchk1"></label>
                                                                </div>
                                                            </th>
                                                            <!--<th class="semi-bold">{{"Selete"| translate}}</th>-->
                                                            <th class="semi-bold"><i class="fa fa-sort-numeric-desc"></i>&nbsp;{{"Sm No"| translate }}</th>
                                                            <th class="semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"Description"| translate }}</th>
                                                            <th class="semi-bold"><i class="fa fa-pencil-square-o"></i>&nbsp;{{"Dept Name"| translate }}</th>
                                                            <th class="semi-bold"><i class="fa fa-user"></i>&nbsp;{{"Supplier Name"| translate }}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                        <tr ng-repeat="ji in GetItems">

                                                            <!-- <td>
                                                                <div class="checkbox check-success">
                                                                    <input id="{{ji.im_inv_no+$index+1}}" value="1" type="checkbox">
                                                                    <label for="{{ji.im_inv_no+$index+1}}"></label>
                                                                </div>
                                                            </td>-->
                                                            <!--
                                                                 <td>
                                                                <div class="row-fluid">
                                                                    <div class="checkbox check-success" style="height: 20px">
                                                                        <input id="{{ji.im_inv_no+$index}}" value="1" type="checkbox" ng-click="checkonebyoneselectItem()">
                                                                        <label for="{{ji.im_inv_no+$index}}"></label>

                                                                    </div>
                                                                </div>
                                                            </td>


                                                                 -->

                                                            <td>
                                                                <div class="row-fluid">
                                                                    <div class="checkbox check-success" style="height: 20px">
                                                                        <input id="{{ji.im_inv_no}}+{{$index}}+{{$index}}" type="checkbox" value="1" ng-model="ji.ischecked" ng-click="checkonebyoneselectServices()">
                                                                        <label for="{{ji.im_inv_no}}+{{$index}}+{{$index}}"></label>

                                                                    </div>
                                                                    <!--<label>{{ji.im_inv_no}}+{{$index}}+{{$index}}</label>-->

                                                                </div>
                                                            </td>

                                                            <td>{{ji.im_inv_no}}</td>
                                                            <td>{{ji.im_desc}}</td>
                                                            <td>{{ji.dep_name}}</td>
                                                            <td>{{ji.sup_name}}</td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-primary btn-ef btn-ef-3 btn-ef-3c" ng-click="okbuttonclick1();" data-dismiss="modal" type="submit">{{"OK"| translate }}</button>


                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<script src="assets/js/calender-datepicker-id.js"></script>