﻿<style>
    .table.table-bordered > tbody > tr > td {
        padding: 0px !important;
    }

    .table.table-bordered > thead > tr > td {
        padding: 0px !important;
    }


    .table td {
        padding: 3px 10px !important;
    }
</style>
<div class="row form-row">
    <div class="page-title">
        <h3><span class="semi-bold">{{"Store Issue"| translate }}</span> </h3>
    </div>
    <div style="background-color: white">
        <form name="Myform" novalidate="novalidate" style="margin-left:9px; margin-top:20px;">

            <div class="row">
                <div class="col-md-3">
                    <label style="color:black">{{"Curriculum"| translate }}</label>
                    <select id="Select1" style="color:black" class="form-control" ng-model="edt.sims_cur_code" ng-change="select_cur(edt.sims_cur_code)"
                            ng-options="c.sims_cur_code as c.sims_cur_name for c in GetCur">
                        <option value="" selected disabled>Please Select</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label style="color:black">{{"Academic Year"| translate }}</label>
                    <select id="Select2" style="color:black" class="form-control" ng-model="edt.sims_acaedmic_year" ng-change="select_aca(edt.sims_acaedmic_year)"
                            ng-options="a.sims_acaedmic_year as a.sims_academic_year_description for a in GetAca">
                        <option value="" selected disabled>Please Select</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label style="color:black">{{"Grade"| translate }}</label>
                    <select id="Select6" style="width: 100%;color:black" class="form-control" ng-model="edt.sims_grade_code" ng-change="select_grd(edt.sims_grade_code)"
                            ng-options="a.sims_grade_code as a.sims_grade_name for a in Getgrd">
                        <option value="" selected disabled>Please Select</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label style="color:black">{{"Section"| translate }}</label>
                    <select id="Select3" style="width: 100%;color:black" class="form-control" ng-model="edt.sims_section_code"
                            ng-options="a.sims_section_code as a.sims_section_name for a in Getsec">
                        <option value="" selected disabled>Please Select</option>
                    </select>
                </div>


            </div>

            <div class="row">
                <div class="col-md-2">
                    <label id="Label1" for="txt_BankCode" class="form-label">{{"From Date" | translate }}</label>
                    <div class="no-padding">
                        <input id="from_date" placeholder="Select Date" name="fromdate" class="k-textbox input-sm full-width" ng-model="temp.from_date">
                    </div>
                </div>
                <div class="col-md-2">
                    <label id="label1" for="txt_bankcode" class="form-label">{{"To Date" | translate }}</label>
                    <div class="no-padding">
                        <input id="to_date" placeholder="select date" name="todate" class="k-textbox input-sm full-width" ng-model="temp.to_date">
                    </div>
                </div>      
                <div class="col-md-2">
                    <label id="label1" for="txt_bankcode" class="form-label">{{"Issue Date" | translate }}</label>
                    <div class="no-padding">
                        <input id="issue_date" placeholder="select date" name="issuecreation" class="k-textbox input-sm full-width" ng-model="temp.issue_creation_date">
                    </div>
                </div>          
                <div class="col-md-2">
                    <label>&nbsp</label>
                    <span class="k-textbox k-space-right full-width">
                        <input type="text" aria-controls="example" ng-model="searchText.$" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1">
                        <a href="#" class="k-icon k-i-search">&nbsp;</a>
                    </span>
                </div>
                <div class="col-md-2">
                    <label>&nbsp</label>
                    <button id="search123" style="margin-left:63px;" type="button" class="btn btn-primary btn-small" ng-click="get_Details(edt)">{{"Search" |translate }}</button>
                </div>
            </div>


        </form>
        <!--<div class="dataTables_wrapper form-inline">
            <div class="row margin-top">
                <div class="col-md-12">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead style="background-color: white">
                            <tr style="background-color: #edefef">
                                <th class="small-cell v-align-middle" style="z-index: 1">
                                </th>
                                <th class="small-cell v-align-middle"><label style="width:5%">{{"More" | translate }}</label></th>
                                <th style="width:5%">{{"Sr No." | translate}}</th>
                                <th ng-click="orderByField='invoice_date'; reverseSort = !reverseSort" style="width:8%">
                                    {{"Invoice Date"| translate }}
                                    <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort">
                                        <i class="fa fa-caret-up" ng-if="orderByField"></i>
                                    </span>
                                    <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                </th>
                                <th ng-click="orderByField='invoice_no'; reverseSort = !reverseSort" style="width:8%">
                                    {{"Invoice No."| translate }}
                                    <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort">
                                        <i class="fa fa-caret-up" ng-if="orderByField"></i>
                                    </span>
                                    <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                </th>
                                <th ng-click="orderByField='enroll_no'; reverseSort = !reverseSort" style="width:-17%">
                                    {{"Enroll No."| translate }}
                                    <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort">
                                        <i class="fa fa-caret-up" ng-if="orderByField"></i>
                                    </span>
                                    <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                </th>
                                <th ng-click="orderByField='student_name'; reverseSort = !reverseSort">
                                    {{"Student Name"| translate }}
                                    <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort">
                                        <i class="fa fa-caret-up" ng-if="orderByField"></i>
                                    </span>
                                    <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                </th>
                                <th ng-click="orderByField='sell_amt'; reverseSort = !reverseSort">
                                    {{"Sell Amt"| translate }}
                                    <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort">
                                        <i class="fa fa-caret-up" ng-if="orderByField"></i>
                                    </span>
                                    <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                </th>
                                <th ng-click="orderByField='created_By'; reverseSort = !reverseSort">
                                    {{"Created By"| translate }}
                                    <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort">
                                        <i class="fa fa-caret-up" ng-if="orderByField"></i>
                                    </span>
                                    <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                </th>
                                <th>{{"Vocher Details"| translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="f in store_issue_details | orderBy:orderByField:reverseSort | filter:searchText:strict">
                                <td>
                                    <div class="row-fluid">
                                        <div class="checkbox check-success" style="height:20px">
                                            <input id="helt-{{$index}}" ng-model="f.checked" type="checkbox" value="1" ng-click="selectedData()">
                                            <label for="helt-{{$index}}"></label>
                                        </div>
                                    </div>
                                </td>

                                <td class="text-center"><i class="{{f.icon}}" ng-click="expand(f, $event);"></i></td>

                                <td style="width:20px;">{{$index+1}}</td>
                                <td>
                                    <label id="lblinvoice_no" style="width:5px;">{{f.invoice_date}}</label>
                                </td>
                                <td>
                                    <label id="lblinvoice_no" style="width:5px;">{{f.invoice_no}}</label>
                                </td>
                                <td class="col-md-2">
                                    <label id="lblenroll_no">{{f.enroll_no}}</label>
                                </td>
                                <td>
                                    <label id="lblstudent_name">{{f.student_name}}</label>
                                </td>
                                <td>
                                    <label id="lblsale_amt">{{f.sell_amt}}</label>
                                </td>
                                <td>
                                    <label id="lblsale_amt">{{f.created_By}}</label>
                                </td>
                                <td>
                                    <button id="btnInvoce_details" class="btn btn-primary btn-small" style="margin:-3px;">{{"Invoice Details" |translate }}</button>
                                    <button id="btnStore_details" class="btn btn-primary btn-small" style="margin:-3px;">{{"Store Details" |translate }}</button>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>-->


        <div class="grid-body" ng-style="{'display':block}" style="overflow:hidden !important">
            <!--row.isexpanded-->
            <div class="row" id="printdata">

                <div class="col-md-12">
                    <div style="padding: 5px; border: 1px solid" ng-repeat="row in store_issue_details | filter:searchText:strict">
                        <div style="display: flex; padding: 5px">
                            <div class="col-md-10">
                                <i class="{{row.sims_icon}}" ng-model="expand_object" ng-click="expand(row,$event1)" style="padding: 5px"></i>
                                <span style="padding: 5px">
                                    <input ng-model="row.checked_outer" type="checkbox" value="1" ng-click="selectedData()">
                                </span>
                                <span> <strong>Invoice Date </strong>:- {{row.doc_prov_date}}</span>
                                <span> <strong>Invoice No. </strong>:- {{row.invoice_no}}</span>
                                <span> <strong>Enroll No. </strong>:- {{row.enroll_no}}</span>
                                <span> <strong>Student Name </strong>:- {{row.student_name}}</span>
                                <span> <strong>Sell Amt </strong>:- {{row.sell_amt}}</span>
                                <span> <strong>Created By </strong>:- {{row.creation_user}}</span>
                            </div>
                            <div class="col-md-1" style="margin-right: 13px;">                                
                                    <button class="btn btn-primary btn-small" ng-click="invoice_report(row.invoice_no)" type="button">{{"Invoice Details"| translate }}</button>
                            </div>
                            <div class="col-md-1">                                
                                    <button class="btn btn-primary btn-small" ng-click="stor_report(row)" type="button">{{"Store Details"| translate }}</button>                                
                            </div>
                        </div>

                        <div ng-show="row.isexpanded">
                            <!--row.isexpanded-->
                            <div></div>
                            <table class="table table-striped dataTable" id="example2" aria-describedby="example2_info">
                                <thead>
                                    <tr style="background: #ecf0f2; z-index: 1">
                                        <td style="top: 0px;width: 1% !important;"></td>
                                        <td style="top: 0px;width: 1%;">SR.No</td>
                                        <td style="top: 0px;width: 1%;">Item Code</td>
                                        <td style="top: 0px;width: 22%;">Particular</td>
                                        <td style="top: 0px;width: 0%;">Current Quantity</td>
                                        <td style="top: 0px;width: 0%;">Invoice Quantity</td>
                                        <td>Issue Quantity</td>
                                        <td style="top: 0px;width: 25%;">Remarks</td>
                                        <td>Deliverd Quantity</td>
                                        <td style="top: 0px;width: 44%;padding: -22px!important;">Deliverd Date</td>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="sr in row.sublist1" style="border: 1px solid">
                                        <td class="col-md-0" style="background: white;">
                                            <div class="row-fluid">
                                                <div class="checkbox check-success" style="height:20px">
                                                    <input type="checkbox" name="check" value="1" id="test-{{$index}}-{{row.invoice_no}}" ng-disabled="sr.inner_disabled" ng-model="sr.inner_checked" >
                                                    <label for="test-{{$index}}-{{row.invoice_no}}"></label>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="background: white;">{{$index+1}}</td>
                                        <td class="col-md-1" style="background: white;">{{sr.im_item_code}}</td>
                                        <td class="col-md-1" style="background: white;">{{sr.im_desc}}</td>
                                        <td class="col-md-1" style="background: white;">{{sr.id_cur_qty}}</td>
                                        <td class="col-md-1" style="background: white;">{{sr.dd_qty}}</td>
                                        <td class="col-md-1" style="background: white;"><input type="text" class="k-textbox input-sm full-width"ng-keyup="onlyNumbers(sr,$event)" g-disabled="sr.issue_quantity_dis"  autofocus="autofocus" ng-model="sr.issue_quantity" /> </td>
                                        <td class="col-md-1" style="background: white;"><input type="text" class="k-textbox input-sm full-width" ng-disabled="sr.remarks_dis" autofocus="autofocus" ng-model="sr.remarks" /></td>
                                        <td class="col-md-1" style="background: white;">{{sr.issued_dd_issue_qty}}</td>
                                        <td class="col-md-1" style="background: white;">{{sr.doc_issue_date}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        &nbsp;
        <div class="row" style="text-align:right">
            <button class="btn btn-primary btn-small" type="button" ng-show="hide_submit" ng-click="insertion_data()">{{"Submit"| translate }}</button>
            <button class="btn btn-primary btn-small ng-binding" ng-click="resetData()" type="button">{{"Reset"| translate }}</button>
        </div>
    </div>

</div>


<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>