﻿<style>
    .grid_details {
    background-color:#fff;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Quotation Comparison"| translate }}</span></h3>
            </div>
            <div class="grid-title no-border">
            </div>

            <div class="grid-body no-border" ng-show="table" style="padding:3px;background-color:transparent;">
                <form name="myForm" novalidate>
                    <div class="row bluegrid " style="height:100px;">
                        <div class="col-md-9">

                            <!--Department-->
                            <div class="col-md-3">
                                <label for="cmb_dept"><i class="fa fa-pencil-square-o"></i>&nbsp;{{"Department Name"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <select id="cmb_dept" name="cmb_dept" class="form-control input-sm full-width" required
                                        ng-model="temp.dep_code"
                                        ng-options="doc.dep_code as doc.dep_name for doc in Department" name="Assemb_code" ng-change="checkreqtype_dep()">
                                    <option value="">Please Select</option>
                                </select>

                            </div>

                            <!--Req Type-->

                            <div class="col-md-3">
                                <label for="reqtype"><i class="fa fa-bookmark-o"></i>&nbsp;{{"Request Type"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <select id="reqtype" name="reqtype" class="form-control input-sm full-width" required
                                        ng-model="temp.servicevalue"
                                        ng-options="doc.servicevalue as doc.servicetype for doc in ServiceTypes" name="Assemb_code" ng-change="checkreqtype_dep()">
                                    <option value="">Please Select</option>
                                </select>

                            </div>

                            <div class="col-md-3">
                                <label for="reqtype"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Request No"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <select id="cmb_req" name="requests" class="full-width" multiple="multiple" ng-model="temp.reqno">
                                    <option ng-repeat="i in reqs"
                                            value="{{i.req_no}}">
                                        {{i.req_no}}
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-3">
                                <label for="cmb_dept">&nbsp;</label>
                                <button class="btn btn-success btn-cons" type="button" id="btn_searchrfq" ng-click="SearchRrq()">{{"Search Quotations"| translate }}</button>
                            </div>

                            </div>
                         
                            <div class="col-md-3">
                                <!--<span class="btn btn-mini btn-success btn-demo-space" style="width: 70%;border:1px solid">{{"Quotation Codes" | translate }}</span>-->
                                <span class="btn btn-mini btn-gray" style="width: 70%; text-align: left;height: 26px;">
                                     <div class="row">
                                        <div class="col-md-12">
                                            <label style="font-size: 12px; color: #000">
                                        <span style="width: 16px; height: 16px;background-color:#ffb400"
                                              class="btn btn-primary btn-xs btn-mini">&nbsp;</span>&nbsp;Supplier Quantity
                                    </label>
                                        </div>
                                        <div class="col-md-12">
                                             <label style="font-size: 12px; color: #000">
                                        <span style="width: 16px; height: 16px;background-color:lightcoral"
                                              class="btn btn-primary btn-xs btn-mini">&nbsp;</span>&nbsp;Supplier Price/Item
                                    </label>
                                        </div>
                                        <div class="col-md-12">
                                             <label style="font-size: 12px; color: #000">
                                        <span style="width: 16px; height: 16px;background-color:#ffffcc"
                                              class="btn btn-primary btn-xs btn-mini">&nbsp;</span>&nbsp;Most Preferred Supplier
                                    </label>
                                        </div>
                                     </div>

                                </span>
                            </div>
                        
                    </div>
                    <!--div class="row margin-top">
                    <div class="col-md-12">
                        <hr style="height: 6px; border: none; color: darkorange; background-color: darkorange;">
                    </div>
                        </div-->
                    <div class="row grid_details" style="margin-top:6px;">
                    <div class="col-md-12">

                        <div class="dataTables_wrapper form-inline" id="example_wrapper">
                            <div style="width: 100%; height: auto; overflow-x: auto; overflow-y: auto">
                                <table class="table table-bordered table-condensed table-hover">
                                    <thead>
                                        <tr style="background-color: #edefef">
                                            <!-- <th>&nbsp;</th>-->
                                            <th>
                                             <i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Request No"|translate}}
                                            </th>
                                            <th style="width: 10%">
                                                <i class="fa fa-align-justify"></i>&nbsp;{{"Item Name"|translate}}
                                            </th>
                                            <th ng-repeat="leave in info1" style="width: 20%">
                                                <div class="checkbox check-success" style="z-index: 9999">
                                                    <!--<input type="checkbox" tabindex="{{$index}}" name="check" value="{{$index}}" id="{{leave.sup_code}}" ng-click="Select_ALL_Leave(leave.emp_leave_code);" class="checkall">
                                                    <label for="{{leave.sup_code}}">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp-->
                                                    <span>{{leave.sup_name}}</span>
                                                </div>
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="info in Get_items">
                                            <!-- <td class="small-cell v-align-middle">
                                                <div class="checkbox check-success">
                                                    <input type="checkbox" name="check" value="{{$index}}" id="{{info.im_inv_no}}" ng-click="Select_Emp_ALL_Leave(info.im_inv_no);" class="checkall">
                                                    <label for="{{info.im_inv_no}}"></label>
                                                </div>
                                            </td>-->
                                            <td>{{info.req_no}}</td>
                                            <td style="width: 10%">{{info.im_desc}}</td>
                                            <td ng-repeat="supi in info.lstqdetails" style="width: 20%"
                                                ng-style="{ 'background-color' : (supi.sup_itemchk == true) ? '#ffffcc' : 'white' }">
                                                <!-- ng-style="supi.sup_itemchk==='true' && {'background-color':'green'} || supi.sup_itemchk==='false' && {'background-color': 'blue'}">-->
                                                <!--ng-style="{ supi.sup_itemchk=='true'?'background-color': lightyellow : white}">-->
                                                <div class="checkbox check-success" style="height: 20px" ng-if="supi.pqd_quoted_price!=''">
                                                    <input type="checkbox" id="{{supi.sup_code+info.im_inv_no}}" ng-model="supi.sup_itemchk" />
                                                    <label for="{{supi.sup_code+info.im_inv_no}}">&nbsp;</label>
                                                    <!--<label for="{{supi.sup_code+info.im_inv_no}}">
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <span style="font-weight:bold;background-color:lightgreen">{{supi.pqd_quoted_qty}}</span>
                                                        &nbsp;&nbsp;<span  style="font-weight:bold;background-color:lightcoral">{{supi.pqd_quoted_price}}</span></label>-->
                                                    <span class="label label-success" style="background-color:#ffb400">{{supi.pqd_quoted_qty}}</span>
                                                    <span class="label label-success" style="background-color:lightcoral">{{supi.pqd_quoted_price}}</span>
                                                    <!--<label for="{{supi.sup_code+info.im_inv_no}}"></label>
                                                        <div>{{supi.pqd_quoted_qty}}</div>
                                                    <div>{{supi.pqd_quoted_price}}</div>-->
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
</div>
                    <!--div class="row margin-top">
                    <div class="col-md-12">
                        <hr style="height: 6px; border: none; color: darkorange; background-color: darkorange;">
                    </div>
                        </div-->
                    <div class="row form-row grid_details">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <!--<label class="semi-bold" for="EndDate">Total Amount : {{totAmt | currency:'':2}}</label>-->
                                <button class="btn btn-primary btn-cons" type="submit" ng-disabled="savedisabled" ng-click="savedata();">{{"Save"| translate }}</button>
                                <!--<button class="btn btn-primary btn-cons" type="submit" ng-disabled="savedisabled">{{"Save & Finalize"| translate }}</button>-->
                                <button class="btn btn-danger btn-cons" type="button" id="Button2" ng-click="Cancel1()">{{"Cancel"| translate }}</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="MyModal1" role="dialog" style="display: none;">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 75%;">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header ng-scope" style="height: 40px">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="grid simple">
                <div class="grid-body no-border">

                    <!--for search criteria-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row form-row">
                                <!-- <div class="col-md-2">-->
                                <!--<div class="row form-row">
                                        <div class="col-md-12">
                                            <label>Supplier</label>
                                        </div>
                                        <div class="col-md-12">
                                            <select id="sel_srchsupplier" class="form-control" name="cmb_srchsupplier" required
                                                ng-model="srchsupplier"
                                                ng-options="doc.sup_code as doc.sup_name for doc in Suppliers_srch" name="sel_nmsrchsupplier">
                                                <option value="">Please Select</option>
                                            </select>
                                        </div>
                                    </div>-->
                                <!--</div>-->
                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label><i class="fa fa-dashboard"></i>&nbsp;Item Code</label>
                                        </div>
                                        <div class="col-md-12">
                                            <select id="rcbItem" class="form-control input-sm"
                                                    ng-model="srchitemcode" style="width: 100%"
                                                    ng-options="doc as doc.im_desc for doc in rcbItems" tabindex="2" ng-change="getitemCode(srchitemcode);" name="srchnmitemcode"></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label><i class="fa fa-align-justify"></i>&nbsp;Supplier</label>
                                        </div>
                                        <div class="col-md-12">
                                            <select id="sel_req_no" class="form-control input-sm"
                                                    ng-model="sup_code" style="width: 100%"
                                                    ng-options="doc.sup_code as doc.sup_name for doc in Suppliers_srch" tabindex="2"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="row form-row">

                                        <div class="col-md-12">
                                            <label>&nbsp;</label>
                                        </div>
                                        <div class="col-md-12">
                                            <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="SearchRequests();" type="button">{{"Search"| translate }}</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>&nbsp;</label>
                                        </div>
                                        <div class="col-md-12">
                                            <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="ResetRequests();" type="button">{{"Reset"| translate }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row form-row">
                        <div class="col-md-6">
                            <select id="Select1" style="width: 65px" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                                <option value="5" class=" form-control input-sm">
                                    5
                                </option>
                                <option value="10" class=" form-control input-sm">
                                    10
                                </option>
                                <option value="15" class=" form-control input-sm">
                                    15
                                </option>
                            </select>
                            &nbsp;
                            <!--<button class="btn btn-success" style="height: 35px" type="button" ng-click="New()" ng-show="true"><span class="semi-bold">+&nbsp;</span>{{ "New" | translate }}</button>-->
                            <!--<button class="btn btn-success" style="height: 35px" type="button" ng-click="New()" ng-show="true"><span class="semi-bold">&nbsp;</span>{{ "" | translate }}</button>-->
                            &nbsp;
                            <button class="btn btn-white" style="height: 35px" type="button" ng-click="Delete()" ng-show="false"><span class="semi-bold"></span>{{ "Delete" | translate }}</button>
                        </div>

                    </div>

                    <div class="row" ng-show="notshow">
                        <div class="col-xs-4">
                            <div class="well" class="form-group">
                                <div class="form-group">
                                    <label>Current Page:</label>
                                    <input placeholder="page"
                                           class="form-control"
                                           ng-model="currentPage"
                                           ng-init="currentPage = 1" />
                                </div>
                                <div class="form-group">
                                    <label>Page Size:</label>
                                    <input placeholder="Page Size"
                                           class="form-control"
                                           ng-model="numPerPage" />
                                </div>
                                <div class="form-group">
                                    <label>Total Items:</label>
                                    <input placeholder="Total"
                                           class="form-control"
                                           ng-model="pagersize" />
                                </div>
                                <hr />
                                <div class="form-group">
                                    <label>Dots Display:</label>
                                    <input placeholder="..."
                                           class="form-control"
                                           maxlength="3"
                                           ng-model="dots"
                                           ng-init="dots = '...'" />
                                </div>

                                <hr />
                                <div class="form-group">
                                    <label>UL Class:</label>
                                    <input placeholder="pagination"
                                           class="form-control"
                                           maxlength="100"
                                           ng-model="ulClass" />
                                </div>
                                <div class="form-group">
                                    <label>Active Class:</label>
                                    <input placeholder="active"
                                           class="form-control"
                                           maxlength="100"
                                           ng-model="activeClass"
                                           ng-init="activeClass = 'active'" />
                                </div>
                                <div class="form-group">
                                    <label>Disabled Class:</label>
                                    <input placeholder="disabled"
                                           class="form-control"
                                           maxlength="100"
                                           ng-model="disabledClass"
                                           ng-init="disabledClass = 'disabled'" />
                                </div>
                                <br />
                                <table class="table">

                                    <tr>
                                        <td>
                                            <label>Show Prev Next:</label>
                                        </td>
                                        <td>
                                            <input type="checkbox"
                                                   ng-model="showPrevNext"
                                                   ng-init="showPrevNext = true" />
                                            {{showPrevNext}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Show First Last:</label>
                                        </td>
                                        <td>
                                            <input type="checkbox"
                                                   ng-model="showFirstLast"
                                                   ng-init="showFirstLast = true" />
                                            {{showPrevNext}}
                                        </td>
                                    </tr>
                                </table>
                                <hr />
                                <span class="btn btn-default" onclick="location.reload()">
                                    <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                                </span>
                                <span class="btn btn-success" ng-click="currentPage = 0">
                                    Apply Settings
                                </span>
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>

                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <div style="width: 100%; height: 250px; overflow-x: auto; overflow-y: auto">
                            <table class="table table-bordered table-condensed" id="fixTable1">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="semi-bold"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Rfq No"| translate }}</th>
                                        <th class="semi-bold"><i class="fa fa-calendar"></i>&nbsp;{{"Req Date"| translate }}</th>
                                        <th class="semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"Supplier"| translate }}</th>
                                        <th class="semi-bold"><i class="fa fa-calendar"></i>&nbsp;{{"Close Date"| translate }}</th>
                                        <th class="semi-bold"><i class="fa fa-money"></i>&nbsp;{{"Currency"| translate }}</th>
                                        <th class="semi-bold"><i class="fa fa-bookmark"></i>&nbsp;{{"Remarks"| translate }}</th>
                                    </tr>
                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    <tr ng-repeat="ji in filteredTodos">
                                        <td>
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input id="test-{{$index}}" ng-model="ji.req_no1" type="checkbox" value="1" ng-click="checkonebyoneselectServices()">
                                                <label for="test-{{$index}}"></label>
                                            </div>
                                        </td>
                                        <td class="td">{{ji.rfq_no}}</td>
                                        <td class="td">{{ji.rfq_date}}</td>
                                        <td class="td">{{ji.sup_name}}</td>
                                        <td class="td">{{ji.rfq_close_date}}</td>
                                        <td class="td">{{ji.cur_name}}</td>
                                        <td class="td">{{ji.rfq_remarks}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="pull-right">
                            <div>
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                                </paging>
                            </div>
                            <br />

                            <div>
                                <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="okbuttonclick();" data-dismiss="modal" type="submit">{{"OK"| translate }}</button>
                                <!--<button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="selectmodeldatasave();" type="button">{{"Save"| translate }}</button>-->

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="assets/js/tabs_accordian.js"></script>
<script src="assets/js/tableHeadFixer.js"></script>


