﻿<div class="loading-middle" ng-hide="display">
    {{ "Loading..." | translate }}
</div>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"UOM  "| translate }}</span>{{"Conversions"| translate}}</h3>
            </div>

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="k-textbox input-sm"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="k-textbox input-sm"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="k-textbox input-sm"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="k-textbox input-sm"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="k-textbox input-sm"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="k-textbox input-sm"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="k-textbox input-sm"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="grid-body no-border">
            <div ng-show="table">
                <div class="row">
                    <div class="col-md-6">
                        <select id="Select1" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                            <option value="5" class="form-control input-sm">
                                5
                            </option>

                            <option value="10" class="form-control input-sm">
                                10
                            </option>

                            <option value="15" class="form-control input-sm">
                                15
                            </option>
                        </select>
                        &nbsp;
                        <button class="btn btn-success btn-small" type="button" id="designew" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"| translate }}</button>
                        &nbsp;
                        <button class="btn btn-danger btn-small" type="button" ng-click="Delete()"><span class="semi-bold"></span>{{"Delete"| translate }}</button>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                               <span class="k-textbox k-space-right full-width">
                                    <!--<input type="text" aria-controls="example" ng-model="search.$" class="input-medium"></label>-->
                                    <input aria-controls="example" ng-model="searchText" class="k-textbox input-sm full-width" placeholder="Search" autofocus="autofocus" type="search" ng-change="search()">
                               <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div class="row margin-top">
                        <div class="col-md-12">
                        <table class="table table-bordered table-hover table-condensed" id="fixTable">
                            <thead>
                                <tr style="background-color: #edefef">
                                    <th class="small-cell v-align-middle" style="z-index:1;">
                                        <div class="checkbox check-success">
                                            <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>
                                    <th class="semi-bold" ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                        <label><b><a href=""><i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"UOM CODE" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><b>{{"UOM  CODE BELONGS" | translate }}</b></label>
                                    </th>
                                    <th class="semi-bold">
                                        <label><b>{{"UOM  FACTOR" | translate }}</b></label>
                                    </th>

                                    <th class="semi-bold">
                                        <label><i class="fa fa-cogs"></i></label>
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="j in filteredTodos | orderBy:orderByField:reverseSort" ng-class="row1">
                                    <td>
                                        <div class="row-fluid">
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input id="{{$index}}" type="checkbox" value="1" ng-click="checkonebyonedelete()">
                                                <label for="{{$index}}"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <label id="lbl">{{j.uom_name}}</label>
                                    </td>
                                    <td>
                                        <label id="Label1">{{j.uom_code_belongs}}</label>
                                    </td>

                                    <td>
                                        <label id="Label4">{{j.uc_factor}}</label>
                                    </td>

                                    <td>
                                        <a href=""><i class="fa fa-edit" ng-click="edit(j)"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                        </div>
                    <div class="row">
                        <div class="col-md-12">
                                <div class="pull-right">
                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                            ng-click="index(currentPage)">
                                    </paging>
                                </div>
                            </div>
                    </div>

                </div>

            </div>

            <form name="Myform" ng-submit="savedata(Myform.$valid)" novalidate="novalidate">
                <div ng-show="display">

                    <!--1ST ROW-->
                    <div class="row">
                            <div class="col-md-4" ng-class="{'has-error': !Myform.UOM_Code.$valid && (Myform.UOM_Code.$touched || Myform.$submitted) }">
                                <label id="Label2" for="UOM_Code" class="semi-bold">{{"UOM Code"| translate }}</label>
                                <select id="cmb_UomCode" name="UOM_Code" class="form-control input-sm full-width"
                                        ng-model="temp.uom_name" required ng-maxlength="2" ng-minlength="1"
                                        ng-options="temp.uom_name as temp.uom_name for temp in UOMCode_Data" ng-disabled="uomcodeReadonly">
                                    <option value="">Please Select</option>
                                </select>
                                <p class="help-block" ng-show="Myform.UOM_Code.$error.required  &&  (Myform.UOM_Code.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>

                            <div class="col-md-4" ng-class="{'has-error': !Myform.UOM_Code_Belongs.$valid && (Myform.UOM_Code_Belongs.$touched || Myform.$submitted) }">
                                <label id="Label3" for="UOM_Code_Belongs" class="semi-bold">{{"UOM Code Belongs"| translate }}</label>
                                <select id="cmb_UomCode_Belongs" name="UOM_Code_Belongs" class="form-control input-sm full-width"
                                        ng-model="edt.uom_name" required ng-maxlength="2" ng-minlength="1"
                                        ng-options="edt.uom_name as edt.uom_name for edt in UOMCode_Data" ng-disabled="uomBelongscodeReadonly">
                                    <option value="">Please Select</option>

                                </select>
                                <p class="help-block" ng-show="Myform.UOM_Code_Belongs.$error.required  &&  (Myform.UOM_Code_Belongs.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>

                            <div class="col-md-4" ng-class="{'has-error': !Myform.Uom_factor.$valid && (Myform.Uom_factor.$touched || Myform.$submitted) }">
                                <label class="semi-bold" for="Uom_factor">{{"UOM Factor"| translate}}</label>
                                <input type="text" name="Uom_factor" id="Uomname" placeholder="Enter Uom Factor" class="k-textbox input-sm full-width" ng-model="temp.uc_factor" ng-pattern="/^[0-9]{1,14}(\.[0-9]+)?$/" required />

                                <p class="help-block" ng-show=" Myform.Uom_factor.$error.pattern && (!Myform.$pristine && (Myform.$submitted ||Myform.Uom_factor.$touched))">
                                    Enter Only Digit
                                </p>

                                <p class="help-block" ng-show="Myform.Uom_factor.$error.required  &&  (Myform.Uom_factor.$touched || Myform.$submitted)">
                                    This field is required
                                </p>

                            </div>
                    </div>

                    <div class="col-md-12">
                    <div class="form-actions">
                        <div class="pull-right">
                            <button type="submit" id="desigsub" ng-show="save_btn" class="btn btn-primary btn-small">{{"Save" | translate }}</button>
                            <button type="button" ng-show="Update_btn" ng-click="update(Myform.$valid);" class="btn btn-primary btn-small">{{"Update" | translate }}</button>
                            <button type="button" class="btn btn-warning btn-small" ng-click="Cancel();">{{"Cancel"| translate }}</button>
                        </div>
                    </div>
                        </div>
                </div>
            </form>
</div>
        </div>
    </div>
</div>
<script src="assets/js/tableHeadFixer.js"></script>
<style>
    .selected_row {
        background-color: #fef8ae !important;
    }
</style>
