﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Add Exam" |translate}}</span>&nbsp;{{"Papers" | translate}}</h3>
            </div>
            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input
                                placeholder="page"
                                class="form-control"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input
                                placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input
                                placeholder="Total"
                                class="form-control"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input
                                placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input
                                placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input
                                placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input
                                placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label></td>
                                <td>
                                    <input
                                        type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="grid-body no-border">
            <div ng-show="display">
                <form name="Myform" ng-submit="savedata(Myform.$valid)" novalidate="novalidate">
                    <div class="row">
                            <div class="col-md-2" ng-class="{'has-error': !Myform.cur_code.$valid && (Myform.cur_code.$touched || Myform.$submitted) }">
                                        <label>{{"Curriculum" |translate}} <span class="asterisk" style="color: red">*</span></label>
                                         <select name="cur_code" id="Select5" ng-model="temp.sims_cur_code" class="form-control input-sm full-width" ng-change="getacademicYear(temp.sims_cur_code)"
                                        ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in Curriculum">
                                        <option selected disabled value="">Please Select</option>
                                    </select>
                                        <p class="help-block" ng-show="Myform.cur_code.$error.required &&  (Myform.cur_code.$touched || Myform.$submitted)">
                                        This field is required
                                        </p>
                            </div>
                            <div class="col-md-2" ng-class="{'has-error': !Myform.year.$valid && (Myform.year.$touched || Myform.$submitted) }">
                                        <label>{{"Academic Year" |translate}} <span class="asterisk" style="color: red">*</span></label>
                                        <select name="year" id="Select6" ng-model="temp.sims_academic_year" class="form-control input-sm full-width" ng-change="getGrade(temp.sims_cur_code,temp.sims_academic_year)"
                                        ng-options="year.sims_academic_year as year.sims_academic_year_desc for year in AcademicYear">
                                        <option selected disabled value=" ">Please Select</option>
                                    </select>
                                        <p class="help-block" ng-show="Myform.year.$error.required &&  (Myform.year.$touched || Myform.$submitted)">
                                        This field is required
                                        </p>
                            </div>
                            
                            <div class="col-md-2" ng-class="{'has-error': !Myform.grad_name.$valid && (Myform.grad_name.$touched || Myform.$submitted) }">
                                        <label>{{"Grade" |translate}} <span class="asterisk" style="color: red">*</span></label>
                                        <select name="grad_name" id="Select7" ng-model="temp.sims_grade_code" class="form-control input-sm full-width" ng-change="getsection(temp.sims_cur_code,temp.sims_grade_code,temp.sims_academic_year)"
                                        ng-options="grade.sims_grade_code as grade.sims_grade_name for grade in AllGrades">
                                        <option selected disabled value="">Please Select</option>
                                    </select>
                                        <p class="help-block" ng-show="Myform.grad_name.$error.required &&  (Myform.grad_name.$touched || Myform.$submitted)">
                                        This field is required
                                        </p>
                              </div>
                            <div class="col-md-4"ng-class="{'has-error': !Myform.sec_name.$valid && (Myform.sec_name.$touched || Myform.$submitted) }">
                                        <label>{{"Section" |translate}} <span class="asterisk" style="color: red">*</span></label>
                                       <!-- <select name="sec_name" id="Select9" multiple="multiple" ng-model="temp.sims_section_code" class="form-control input-sm" ng-change="getsubject(temp.sims_cur_code,temp.sims_grade_code,temp.sims_academic_year,temp.sims_section_code)" required
                                        ng-options="section.sims_section_code as section.sims_section_name for section in getSectionFromGrade">
                                    </select>-->
                                        <select id="cmb_Section" multiple="multiple" class="full-width" name="sec_name" ng-model="temp.sims_section_code" ng-change="getsubject(temp.sims_cur_code,temp.sims_grade_code,temp.sims_academic_year,temp.sims_section_code)" required>
                                    <!--<option value="" selected disabled>Please Select</option>-->                                    
                                    <option class="form-control input-sm" ng-repeat="temp in getSectionFromGrade" value="{{temp.sims_section_code}}">{{temp.sims_section_name}}</option>
                                         </select>
                                        <!--<p class="help-block" ng-show="Myform.sec_name.$error.required &&  (Myform.sec_name.$touched || Myform.$submitted)">
                                        This field is required
                                        </p>-->
                                    </div>
                            <div class="col-md-2" ng-class="{'has-error': !Myform.sub_name.$valid && (Myform.sub_name.$touched || Myform.$submitted) }">
                                <label id="Label3" for="txt_sub_Code" class="form-label">{{"Subject"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                 <select id="Select9" name="sub_name" class="form-control input-sm full-width"  ng-model="temp.sims_subject_code" required>
                                    <option value="" selected disabled>Please Select</option>                                    
                                    <option ng-repeat="temp in subjectdata" value="{{temp.sims_subject_code}}">{{temp.sims_subject_name_en}}</option>
                                </select>
                                <p class="help-block" ng-show="Myform.sub_name.$error.required &&  (Myform.sub_name.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>
                        </div>
    
                    <div class="row">
                            
                             <div class="col-md-2" ng-class="{'has-error': !Myform.mod_name.$valid && (Myform.mod_name.$touched || Myform.$submitted) }">
                                <label id="Label11" for="txt_Nationality_Code" class="form-label">{{"Examination"| translate }} <span class="asterisk" style="color: red">*</span></label>
                                <select id="Select4" name="mod_name" class="form-control input-sm full-width" ng-disabled="docdisabled" ng-model="temp.sims_exam_code" ng-change="getslr()" required>
                                    <option value="" selected disabled>Please Select</option>
                                    <option ng-repeat="temp in Exam" value="{{temp.sims_exam_code}}">{{temp.sims_exam_desc}}</option>
                                </select>
                                <p class="help-block" ng-show="Myform.mod_name.$error.required &&  (Myform.mod_name.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div> 
                            <div class="col-md-2" ng-class="{'has-error': !Myform.desti_desc.$valid && (Myform.desti_desc.$touched || Myform.$submitted) }">
                                <label id="Label7" for="txt_Country_Code" class="form-label">{{"Document Title"| translate }}<span class="asterisk" style="color: red">*</span></label>
                                <input type="text" name="desti_desc" class="k-textbox input-sm full-width" ng-model="temp.sims_doc_desc" />
                                  <p class="help-block" ng-show="Myform.desti_desc.$error.required &&  (Myform.desti_desc.$touched || Myform.$submitted)">
                                    This field is required
                                </p>
                            </div>
                             <div class="col-md-2">
                                        <label>{{"Status" |translate}}</label>
                                       <div class="checkbox check-success">
                                    <input id="Checkbox1"  type="checkbox" ng-model="temp.sims_exam_paper_status" checked>
                                    <label for="Checkbox1"></label>
                                       </div>
                            </div>
                            <div class="col-md-4">
                                <label>{{ "File Upload" |  translate }}<span style="font-size:10px;color:red">{{ "(Maximum file size 2 MB)" |  translate  }}</span></label>
                                            <input type="file" id="file1" name="file" onchange="angular.element(this).scope().file_changed(this)"
                                                   ng-files="getTheFiles($files)" style="float: initial; width: 120px; display: none" />
                                            <a href="" class="label label-important " type="button" onclick="document.getElementById('file1').click();">
                                                <i class="fa fa-cloud-upload"></i>{{"Upload" |  translate }}
                                            </a>
                                             <img src="assets/images/loading.gif" width="25px" height="25px" ng-hide="uploading_doc1"/>
                                </div>
                        </div>                        
                      
                    <div class="col-md-12">
                    <div class="form-actions">
                        <div class="pull-right">
                            <button type="button" ng-show="Update_btn" ng-click="search();" class="btn btn-primary btn-cons btn-small">{{"View"| translate }}</button>
                           
                            <button ng-show="inactive_btn" type="button" class="btn btn-danger btn-cons btn-small" ng-click="submit();">{{"Inactive"| translate }}</button>
                            <button ng-show="del_btn" type="button" class="btn btn-danger btn-cons btn-small" ng-click="delete();">{{"Delete"| translate }}</button>
                            <button type="submit" id="desigsub" ng-show="save_btn" class="btn btn-primary btn-cons btn-small">{{"Upload"| translate }}</button>                            
                            <button type="button" class="btn btn-primary btn-cons btn-small" ng-click="Cancel();">{{"Reset"| translate }}</button>
                        </div>
                    </div>
                        </div>

                       
                    <div ng-show="grid1">
                                    <div class="row margin-top-10">
                                        <div class="col-md-12">
                                        <table class="table  table-hover table-bordered table-condensed" aria-describedby="example2_info" id="Table1">
                                            <thead>
                                                <tr>
                                                    <th>{{"Sr.No."| translate}}</th>
                                                    <th>{{"Attachment"| translate}}</th>
                                                    <th>{{"View"| translate}}</th>
                                                    <!--<th>{{"Replace"| translate}}</th>-->
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                            <tr ng-repeat="file in file_attached">

                                                <td>{{file.sims_exam_paper_srl_no}}</td>
                                                <td>{{file.sims_exam_paper_display_name}}</td>
                                               
                                                <td><a href="" class="label label-success " type="button" ng-click="downloaddoc2(file.sims_exam_paper_path)">View</a></td>
                                               <!-- <td><a href="" class="label label-important" ng-click="deletedoc(file)"><i class="fa fa-times"></i> Delete</a></td>-->
                                            </tr>
                                        </table>
                                            </div>
                                        </div>
                                </div>

                    <div ng-show="grid2">
                                    <div class="row margin-top-10">
                                        <div class="col-md-12">
                                        <table class="table  table-hover table-bordered table-condensed" aria-describedby="example2_info" id="fixTable1">
                                            <thead>
                                                <tr>
                                                    <th>{{"Sr.No."| translate}}</th>
                                                    <th>{{"Attachment"| translate}}</th>
                                                    <th>{{"View"| translate}}</th>
                                                    <th>{{"Replace"| translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                            <tr ng-repeat="roll in file_doc">

                                                <td>{{roll.sims_doc_line}}</td>
                                                <td>{{roll.sims508_doc_name}}</td>
                                                <td><a href="" class="label label-success " type="button" ng-click="downloaddoc1(roll.sims508_doc)">View</a></td>
                                                <td><a href="" class="label label-important" ng-click="deletedoc(roll)"><i class="fa fa-times"></i> Delete</a></td>
                                            </tr>
                                        </table>
                                    </div>
                                    </div>
                                </div>
                    <div ng-show="grid3">
                                <div class=" ">
                                    <div ng-show="exampaper">
                                        <div id="Div4" class="dataTables_wrapper form-inline">
                                                <div class="row margin-top-10">
                                                    <div class="col-md-12">
                                                    <table class="table table-bordered table-hover" id="fixTable" aria-describedby="example2_info">
                                                        <thead style="background-color: white">
                                                            <tr>
                                                                <th> 
                                                                <div class="checkbox check-success">
                                                                    <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                                                    <label for="mainchk"></label>
                                                                </div>
                                                                </th>
                                                               <!--<th class="semi-bold">{{"CURRICULUM" |translate}}</th>
                                                                <th class="semi-bold">{{"YEAR" |translate}}</th>-->
                                                                <th class="semi-bold">{{"REF. No." |translate}}</th>
                                                                <th class="semi-bold">{{"GRADE" |translate}}</th>
                                                                <th class="semi-bold">{{"SECTION" |translate}}</th>
                                                                <th class="semi-bold">{{"SUBJECT" |translate}}</th>
                                                                <th class="semi-bold">{{"EXAM" |translate}}</th>
                                                                <th class="semi-bold">{{"PAPER SR. NO" |translate}}</th>
                                                                <th class="semi-bold">{{"PAPER NAME" |translate}}</th> 
                                                                <th class="semi-bold">{{"Paper" |translate}}</th>
                                                                <th class="semi-bold">{{"UPLOADED BY" |translate}}</th>
                                                                <th class="semi-bold">{{"STATUS" |translate}}</th>
                                                                <!--<th class="semi-bold">{{"DELETE" |translate}}</th>-->
                                                            </tr>
                                                        </thead>
                                                        <tbody role="alert" aria-live="polite" aria-relevant="all">                                                           
                                                                <tr ng-repeat="info in papers">  
                                                                <td>
                                                                <div class="row-fluid">
                                                                <!--<div class="radio radio-success">
                                                                <input id="{{$index}}" name="option" value="true" ng-model="info.isChanged" ng-click="checkonebyonedelete(info)" type="radio">
                                                                <label for="{{$index}}"></label>
                                                                </div>-->
                                                                    <div class="checkbox check-success" style="height: 20px">
                                                                    <input id="{{$index}}" type="checkbox" value="1" ng-click="checkonebyonedelete()" ng-model="chkb">
                                                                    <label for="{{$index}}"></label>
                                                                    </div>
                                                                </div>    
                                                                </td>                                                                 
                                                               <!-- <td>{{info.sims_cur_code}}</td>
                                                                <td>{{info.sims_academi_year}}</td>-->
                                                                <td>{{info.sims_exam_attach_refno}}</td>
                                                                <td>{{info.sims_grade_code_name}}</td>
                                                                <td>{{info.sims_section_code_name}}</td>
                                                                <td>{{info.sims_subject_code_name}}</td>
                                                                <td>{{info.sims_exam_code_name}}</td>
                                                                <!-- <td>{{info.sims_exam_paper_path}}</td>-->
                                                                <td>{{info.sims_exam_paper_srl_no}}</td>
                                                                <td> <a href="{{schoolUrl}}{{info.sims_exam_paper_path}}" target="_new"> {{info.sims_exam_paper_display_name}}</a></td>                                                                                                                       
                                                                <td>{{info.sims_exam_paper_title}}</td>
                                                                <td>{{info.sims_exam_paper_created_by}}</td>
                                                                <td class="v-align-middle">
                                                                <span ng-if="info.sims_exam_paper_status==true" class="label label-success">Active</span>
                                                                <span ng-if="info.sims_exam_paper_status==false" class="label label-important">Inactive</span>
                                                                <span ng-if="info.sims_exam_paper_status==false" class="label label-important">Deleted</span>
                                                                </td>
                                                                <!--<td><a href="" class="label label-important" ng-click="delete_file(info)"><i class="fa fa-times"></i> Delete</a></td>-->
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                        </div>
                                                </div>
                        <div class="row">
                        <div class="col-md-12">
                       <div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                ng-click="index(currentPage)">
                        </paging>
                    </div>
                            </div>
                            </div>
                              </div>
                             </div>
                              </div>
                             </div>
            </form>
            </div>
        </div>
    </div></div>
    </div>

<div class="modal fade in" id="myModal1" role="dialog" tabindex="-1" style="display: none;">
                <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 1250px; height:500px;">
                    <div class="modal-content" uib-modal-transclude="">
                        
                        <div class="modal-header ng-scope" style="height: 30px">
                            <div class="pull-left">
                            <h4 class="modal-title custom-font" style="margin-top: -5px"><b>{{"Exam Papers" |translate}}</b></h4></div>
                             <div class="pull-right">
                                 <a href="">
                                <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal" ng-click="Close();"><b>X</b></h6>
                                </a>
                             </div>
                        </div>
                       
                         <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
                         <div class="grid-body no-border" ng-show="display">
                <form name="Myform" ng-submit="savedata(Myform.$valid)" novalidate="novalidate">

                    <div class="row">

                        <div class="col-md-12 form-group">

                            <div class="col-md-3" >

                             
                                        <label>{{"Curriculum" |translate}}</label>
                                    
                                         <select name="cur_code" id="Select1" ng-model="temp.sims_cur_code" class="form-control input-sm full-width" ng-change="getacademicYear(temp.sims_cur_code)"
                                        ng-options="cur.sims_cur_code as cur.sims_cur_short_name_en for cur in Curriculum">
                                        <option selected disabled value="">Please Select</option>
                                    </select>
                                       
                                    
                            </div>
                            
                            <div class="col-md-2">
                                
                                        <label>{{"Academic Year" |translate}}</label>
                                   
                                    
                                        <select name="year" id="Select2" ng-model="temp.sims_academic_year" class="form-control input-sm full-width" ng-change="getGrade(temp.sims_cur_code,temp.sims_academic_year)"
                                        ng-options="year.sims_academic_year as year.sims_academic_year_desc for year in AcademicYear">
                                        <option selected disabled value=" ">Please Select</option>
                                    </select>
                                        
                                                                          
                            </div>
                            
                            <div class="col-md-2">
                                
                                        <label>{{"Grade" |translate}}</label>
                                   
                                    
                                        <select name="grad_name" id="Select8" ng-model="temp.sims_grade_code" class="form-control input-sm full-width" ng-change="getsection(temp.sims_cur_code,temp.sims_grade_code,temp.sims_academic_year)"
                                        ng-options="grade.sims_grade_code as grade.sims_grade_name for grade in AllGrades">
                                        <option selected disabled value="">Please Select</option>
                                    </select>
                                        
                                    
                              </div>
                                        

                            <div class="col-md-3">
                                        <label>{{"Section" |translate}}</label>
                                    

                                       <!-- <select name="sec_name" id="Select9" multiple="multiple" ng-model="temp.sims_section_code" class="form-control input-sm" ng-change="getsubject(temp.sims_cur_code,temp.sims_grade_code,temp.sims_academic_year,temp.sims_section_code)" required
                                        ng-options="section.sims_section_code as section.sims_section_name for section in getSectionFromGrade">
                                         
                                    </select>-->
                                        <select id="cmb_Section2" class="full-width" multiple="multiple" name="user" ng-model="temp.sims_section_code" ng-change="getsubject(temp.sims_cur_code,temp.sims_grade_code,temp.sims_academic_year,temp.sims_section_code)" required>
                                    <!--<option value="" selected disabled>Please Select</option>-->                                    
                                    <option class="form-control input-sm" ng-repeat="temp in getSectionFromGrade" value="{{temp.sims_section_code}}">{{temp.sims_section_name}}</option>
                                    
                                         </select>
                                       
                                    </div>
                                     
                           
                            </div>
                         <div class="col-md-12 form-group">
                         <div class="col-md-3">
                                <label id="Label1" for="txt_sub_Code" class="form-label">{{"Subject"| translate }}</label>

                                 <select id="Select10" name="sub_name" class="form-control input-sm full-width"  ng-model="temp.sims_subject_code" required>
                                    <option value="" selected disabled>Please Select</option>                                    
                                    <option ng-repeat="temp in subjectdata" value="{{temp.sims_subject_code}}">{{temp.sims_subject_name_en}}</option>
                                    
                                </select>
                                 <!--<select id="cmb_Subjects" multiple="multiple" name="sub_name" ng-model="temp.sims_subject_code" required>
                                    <!--<option value="" selected disabled>Please Select</option>                                 
                                    <option class="form-control input-sm" ng-repeat="temp in subjectdata" value="{{temp.sims_subject_code}}">{{temp.sims_subject_name_en}}</option>
                                    
                                         </select>-->
                                
                            </div>

                           <div class="col-md-3">
                                <label id="Label2" for="txt_Nationality_Code" class="form-label">{{"Examination"| translate }}</label>

                                <select id="Select11" name="mod_name" class="form-control input-sm full-width" ng-disabled="docdisabled" ng-model="temp.sims_exam_code" required>
                                    <option value="" selected disabled>Please Select</option>
                                    <option ng-repeat="temp in Exam" value="{{temp.sims_exam_code}}">{{temp.sims_exam_desc}}</option>
                                </select>
                                                               
                            </div> 
                     
                         <div class="col-md-1">
                             <br />
                         <button type="button" ng-show="search_btn" ng-click="search();" class="btn btn-primary btn-cons btn-small">{{"Search"| translate }}</button>
                         </div>
                        </div>
                              
                                                
                           </div>
                        
                    
                   
                    
                </form>
                
            </div>
                           
                          </div>
                    </div>
    </div>
<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>

