﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                class="form-control"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                class="form-control"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                class="form-control"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                class="form-control"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                class="form-control"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                class="form-control"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                class="form-control"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="page-title">
                <h3><span class="semi-bold">{{"Teacher Assignment"| translate }}</span>&nbsp;{{"View"| translate }}</h3>
            </div>
            <div class="grid-body no-border">
                <div class="row">
                    <div class="col-md-2">
                        <label>{{"Curriculum"|translate}}<span style="color: red; font-size: 18px">*</span></label>
                        <select id="Select1" class="form-control input-sm full-width" ng-model="edt.sims_cur_code" ng-change="getAccYear(edt.sims_cur_code)"
                            ng-options="c.sims_cur_code as c.sims_cur_short_name_en for c in curriculum">
                            <option value="" selected disabled>Please Select</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label>{{"Academic Year"|translate}}<span style="color: red; font-size: 18px">*</span></label>
                        <select id="Select2" class="form-control input-sm full-width" ng-model="edt.sims_academic_year" ng-change="select_aca(edt.sims_academic_year)"
                            ng-options="c.sims_academic_year as c.sims_academic_year_desc for c in Acc_year">
                            <option value="" selected disabled>Please Select</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>{{"Grade"|translate}}<span style="color: red; font-size: 18px">*</span></label>
                        <select id="cmb_grade_code" class="form-control input-sm full-width"
                            ng-model="edt.sims_grade_code"
                            ng-change="getgrd(edt.sims_grade_code);">
                            <option value="" selected disabled>Please Select</option>
                            <option class="form-control" ng-repeat="grade_cod in GradeByUsername" value="{{grade_cod.sims_grade_code}}">{{grade_cod.sims_grade_name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>{{"Section"|translate}}<span style="color: red; font-size: 18px">*</span></label>
                        <select id="cmb_section_code" class="form-control input-sm full-width"
                            ng-model="edt.sims_section_code">
                            <option value="" selected disabled>Please Select</option>
                            <option class="form-control" ng-repeat="section_cod in SectionByUserGrade" value="{{section_cod.sims_section_code}}">{{section_cod.sims_section_name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label>&nbsp</label>
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary btn-cons btn-small" ng-click="Show_Data()">{{"Show"|translate}}</button>
                            <button type="button" class="btn btn-warning btn-cons btn-small" ng-click="Reset()">{{"Reset"| translate }}</button>
                        </div>
                    </div>
                </div>
                <hr />
                <!--------------------------------------------Table_grid  TeacherViewRecord------------------------------------>
                <div ng-show="TeacherViewRecord">
                    <div class="row">
                        <div class="col-md-6">
                            <select id="Select12" style="width: 60px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                                <option value="10" class=" form-control input-sm">10
                                </option>

                                <option value="20" class=" form-control input-sm">20
                                </option>

                                <option value="All" class="form-control input-sm">All
                                </option>
                            </select>


                            &nbsp;
                            <button class="btn btn-danger btn-small" type="button" ng-click="deleterecord()"><span class="semi-bold"></span>{{"Delete"| translate}}</button>
                        </div>

                         <div class="pull-right">

                        <span class="k-textbox k-space-right">
                            <input type="text" aria-controls="example" ng-model="edt.searchText" placeholder="Search" class="k-textbox input-sm" autofocus="autofocus" tabindex="1" ng-change="search()"><!--</label>-->
                            <a href="#" class="k-icon k-i-search">&nbsp;</a>
                        </span>
                    </div>
                    </div>
                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <div class="row margin-top">
                            <div class="col-md-12">
                                <table class="table table-bordered  table-condensed" id="fixTable">
                                    <thead style="background-color: #edefef">
                                        <tr>
                                            <th class="small-cell v-align-middle" style="z-index: 1">
                                                <div class="checkbox check-success">
                                                    <input type="checkbox" name="check" value="1" id="mainchk" ng-click="CheckAllChecked();">
                                                    <label for="mainchk"></label>
                                                </div>
                                            </th>
                                            <th class="semi-bold" style="text-align: left; vertical-align: middle">{{"ASSIGNMENT No"|translate}}</th>
                                            <th class="semi-bold" style="text-align: left; vertical-align: middle">{{"ASSIGNMENT NAME"|translate}}</th>
                                            <th class="semi-bold" style="text-align: left; vertical-align: middle">{{"SUBJECT"|translate}}</th>
                                            <th class="semi-bold" style="text-align: left; vertical-align: middle">{{"GRADE"|translate}}</th>
                                            <th class="semi-bold" style="text-align: left; vertical-align: middle">{{"SECTION"|translate}}</th>
                                            <th class="semi-bold" style="text-align: left; vertical-align: middle">{{"SUBMISSION"|translate}}</th>
                                            <th class="semi-bold" style="text-align: left; vertical-align: middle">{{"ASSIGN DATE"|translate}}</th>
                                            <th class="semi-bold" style="text-align: left; vertical-align: middle">{{"FREEZE DATE"|translate}}</th>
                                            <th class="semi-bold" style="text-align: left; vertical-align: middle">{{"DOCUMENT"|translate}}</th>
                                            <th class="semi-bold" style="text-align: left; vertical-align: middle">{{"STATUS"|translate}}</th>
                                            <th class="semi-bold" style="text-align: left; vertical-align: middle">{{"REMARK by HOD"|translate}}</th>
                                            <th class="semi-bold" style="text-align: left; vertical-align: middle"><i class="fa fa-cogs"></i></th>

                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="info in filteredTodos" ng-class="row1">

                                            <td class="small-cell v-align-middle">
                                                <div class="row-fluid" style="height: 20px">
                                                    <div class="checkbox check-success">
                                                        <input type="checkbox" value="1" id="{{info.sims_assignment_title+$index}}" ng-click="checkonebyonedelete()">
                                                        <label for="{{info.sims_assignment_title+$index}}"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td ng-click="OpenAssignment(info);"><a href="">{{info.sims_assignment_number}}</a></td>
                                            <td ng-click="OpenAssignment(info);"><a href="">{{info.sims_assignment_title}}</a></td>
                                            <td>{{info.sims_subject_name}}</td>
                                            <td>{{info.sims_grade_name}}</td>
                                            <td>{{info.sims_section_name}}</td>
                                            <td ng-click="OpenSubmission(info)"><a href="">{{info.submission}}</a></td>
                                            <td>{{info.sims_assignment_start_date}}</td>
                                            <td>{{info.sims_assignment_freeze_date}}</td>

                                            <td ng-click="ViewDocument(info);"><a href="">{{"View"|translate}}</a></td>
                                            <td>{{info.sims_assignment_status_name}}</td>
                                            <td>{{info.reject_remark}}</td>
                                            <td>
                                                <button ng-click="Edit(info)"><i class="fa fa-edit"></i></button>
                                                <!--<a href=""><i class="fa fa-edit" ng-click="Edit(info)"></i></a>-->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                    scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                    paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                    ng-click="index(currentPage)">
                                </paging>
                            </div>
                        </div>
                    </div>
                </div>
                <!-----------------------------------------Table_grid_END  TeacherViewRecord----------------------------------->
            </div>
        </div>
    </div>
</div>
<!------------------------------------------- AssignmentDetails------------------------------------------------>

<div class="modal fade in" id="Model1" role="dialog" style="display: none;" tabindex="-1">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''">
        <div class="modal-content" uib-modal-transclude="" style="height: 400px;">

            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px"><b>{{ModelHeader}}</b></h4>
                </div>
                <div class="pull-right">
                    <a href="">
                        <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>
                    </a>
                </div>
            </div>

            <div class="row" ng-show="busy">
                <div class="col-md-5">
                </div>
                <div class="col-md-2">
                    <img src="assets/images/loading.gif" />
                </div>
                <div class="col-md-5">
                </div>
            </div>

            <div class="grid-body no-border" ng-show="AssignmentDetails">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row form-row">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-8">
                                <label id="lbl_Assign_nm" class="form-label">{{"Assignment Name : "| translate}}</label>
                                <label id="Label1" class="form-label">{{temp.sims_assignment_title}}</label>

                            </div>
                        </div>
                        <div class="row form-row">
                            <div class="col-md-4">
                                <label id="lbl_Desc" class="form-label">{{"Description  :"| translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <textarea id="Textarea1"
                                    ng-model="temp.sims_assignment_desc" readonly="true" class="k-textbox input-sm full-width" style="width: 300px; height: 100px" />
                                <!--<label id="Label2" class="form-label" style="width:200px"  wrap="hard">{{temp.sims_assignment_desc}}</label>-->
                            </div>
                        </div>
                        <div class="row form-row">
                            <div class="col-md-4">
                                <label id="lbl_Assign-Date" class="form-label">{{"Assign Date"| translate}}</label>
                                <label id="Label3" class="form-label">{{temp.sims_assignment_start_date}}</label>
                            </div>
                            <div class="col-md-4">
                                <label id="Label5" class="form-label">{{"Submission Date"| translate}}</label>
                                <label id="Label6" class="form-label">{{temp.sims_assignment_submission_date}}</label>
                            </div>
                            <div class="col-md-4">
                                <label id="lbl_Assign_Due" class="form-label">{{"Due Date"| translate}}</label>
                                <label id="Label4" class="form-label">{{temp.sims_assignment_freeze_date}}</label>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="form-actions">
                    <div class="pull-right">
                        <!--<button class="btn btn-primary btn-cons" type="submit" ng-show="savebtn1"><i class="icon-ok"></i>{{"Save"| translate }}</button>
                                                <button class="btn btn-primary btn-cons" type="button" ng-show="updatebtn1" ng-click="Update1()"><i class="icon-ok"></i>{{"Update"| translate }}</button>
                                                <button class="btn btn-white btn-cons" type="button" ng-show="deletebtn1" ng-click="deleterecord1()"><i class="icon-ok"></i>{{"Delete"| translate }}</button>
                                                <button class="btn btn-white btn-cons" type="button" ng-click="cancel1()">{{"Cancel"| translate }}</button>-->
                    </div>
                </div>

                <div id="Div1" class="dataTables_wrapper form-inline">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered  table-condensed" id="Table1">
                                <thead style="background-color: #edefef">
                                    <tr>

                                        <th class="semi-bold">{{"Student Enroll"| translate }}</th>
                                        <th class="semi-bold">{{"Student Name"| translate }}</th>
                                        <th class="semi-bold">{{"Submited Date"| translate }}</th>
                                        <th class="semi-bold">{{"Attachments"| translate }}</th>
                                        <th class="semi-bold">{{"Status"| translate }}</th>
                                        <th class="semi-bold">{{"Approval"| translate }}</th>

                                    </tr>
                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    <tr ng-repeat="std in getStudentAssignment">
                                        <td>{{std.sims_assignment_enroll_number}}</td>
                                        <td>{{std.StudentName}}</td>
                                        <td>{{std.sims_assignment_student_doc_date}}</td>
                                        <td>{{std.count}}</td>
                                        <td>{{std.sims_assignment_status}}</td>
                                        <td>
                                            <a href=""><i class="fa fa-edit" ng-click="OpenApproveStatus(std);"></i></a>
                                        </td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="assignment_approval">
                <div class="row">
                    <div class="col-md-4">
                        <label id="Label10" class="form-label">{{"Enroll No. : "| translate}}{{sims_assignment_enroll_number}}</label>
                    </div>

                    <div class="col-md-6">
                        <label id="Label12" class="form-label">{{"Student Name : "| translate}}{{StudentName}}</label>
                        <!--<textarea id="txt_Title_desc"  ng-model="temp.sims_assignment_desc" class="k-textbox input-sm full-width" name="assign_desc" readonly />-->
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">

                        <label id="Label9" class="form-label">{{"Student Remark : "| translate}}</label>
                    </div>
                    <div class="col-md-6">
                        <textarea class="form-control" wrap="hard" id="Textarea3" style="width: 250px; height: 70px" ng-model="sims_assignment_student_remark" class="k-textbox input-sm full-width" />
                        <!--<textarea id="txt_Title_desc"  ng-model="temp.sims_assignment_desc" class="k-textbox input-sm full-width" name="assign_desc" readonly />-->
                    </div>
                </div>

                <div class="row">

                    <div class="grid-body no-border">
                        <br />

                        <div id="Div2" class="dataTables_wrapper form-inline">
                            <div>
                                <table class="table table-bordered  table-condensed" id="Table2" style="width: 100%; height: 200px; overflow-x: auto; overflow-y: auto">
                                    <thead style="background-color: #edefef">
                                        <tr>

                                            <th class="semi-bold">{{"Attachment"| translate }}</th>
                                            <th class="semi-bold">{{"Remark"| translate }}</th>

                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="sta in studdocremark">

                                            <td>{{sta.sims509_doc}}</br> <a href="" class="label label-success " type="button" ng-click="downloaddoc_new(sta.sims509_doc)">View</a></td>

                                            <td>
                                                <textarea class="form-control" wrap="hard" maxlength="250" id="Textarea4" style="width: 250px" ng-model="sta.sims509_doc_remark" class="k-textbox input-sm full-width" />

                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label id="Label11" class="form-label">{{"Teacher Remark:"| translate}}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <textarea class="form-control" wrap="hard" maxlength="250" id="Textarea5" style="width: 300px; height: 100px" ng-model="sims_assignment_teacher_remark" class="k-textbox input-sm full-width" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="pull-right">
                                <button class="btn btn-primary btn-cons btn-small" type="submit" ng-click="Save()"><i class="icon-ok"></i>{{"Save"| translate }}</button>
                                <button class="btn btn-primary btn-cons btn-small" type="submit" ng-click="Backtoassignmentlist()"><i class="icon-ok"></i>{{"Back"| translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!----------------------------------------- SubmissionDetails-------------------------------------------------->

<div class="modal" id="MyModalSub" role="dialog" style="display: none;" tabindex="-1">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''">
        <div class="modal-content" uib-modal-transclude="" style="height: 550px;">
            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px"><b>Submission Details</b></h4>
                </div>
                <div class="pull-right">
                    <a href="">
                        <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>
                    </a>
                </div>

            </div>

            <div class="grid simple">
                <div class="grid-body no-border">
                    <div class="row">

                        <div class="grid-body no-border" ng-show="SubmissionDetails">
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="row form-row">
                                        <div class="col-md-4">
                                            <label id="Label7" class="form-label">{{"Assignment Name : "| translate}}</label>
                                        </div>
                                        <div class="col-md-8">
                                            <label id="Label13" class="form-label">{{temp.sims_assignment_title}}</label>

                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-4">
                                            <label id="Label14" class="form-label">{{"Description  :"| translate}}</label>
                                        </div>
                                        <div class="col-md-8">
                                            <label id="Label15" class="form-label">{{temp.sims_assignment_desc}}</label>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-4">
                                            <label id="Label16" class="form-label">{{"Assign Date"| translate}}</label>
                                            <label id="Label17" class="form-label">{{temp.sims_assignment_start_date}}</label>
                                        </div>
                                        <div class="col-md-4">
                                            <label id="Label18" class="form-label">{{"Submission Date"| translate}}</label>
                                            <label id="Label19" class="form-label">{{temp.sims_assignment_submission_date}}</label>
                                        </div>
                                        <div class="col-md-4">
                                            <label id="Label20" class="form-label">{{"Due Date"| translate}}</label>
                                            <label id="Label21" class="form-label">{{temp.sims_assignment_freeze_date}}</label>
                                        </div>

                                    </div>
                                </div>

                                <button class="btn btn-success btn-cons btn-small" type="button" ng-click="ViewUnassignStudentList()">View UnAssign Students</button>

                            </div>
                            <div class="form-actions">
                            </div>
                        </div>


                        <div class="grid-body no-border" ng-show="ModaltableSub">
                            <br />


                            <div id="Div3" class="dataTables_wrapper form-inline">
                                <div style="width: 100%; height: 270px; overflow-x: auto; overflow-y: auto">
                                    <table class="table table-bordered  table-condensed" id="Table3">
                                        <thead style="background-color: #edefef">
                                            <tr>



                                                <th class="semi-bold">{{"ENROLL NO"| translate }}</th>
                                                <th class="semi-bold">{{"STUDENT NAME"| translate }}</th>
                                                <th class="semi-bold">{{"STATUS"| translate }}</th>

                                            </tr>
                                        </thead>
                                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                                            <tr ng-repeat="sub in SubmissionDetailsData">

                                                <td>{{sub.sims_assignment_enroll_number}}</td>
                                                <td>{{sub.studentName}}</td>
                                                <td>{{sub.sims_assignment_status}}</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                        <div class=" " ng-show="Search_unassigned_Student_details">

                            <div class="grid-body no-border">

                                <!--<div class=" " ng-show="busy">

                                    <div class="col-md-5">
                                    </div>
                                    <div class="col-md-2">
                                        <img src="assets/images/loading.gif" />
                                    </div>
                                    <div class="col-md-5">
                                    </div>
                                </div>-->

                                <div class="col-md-12">
                                    <div id="Div5" class="dataTables_wrapper form-inline">
                                        <table class="table table-bordered  table-condensed" id="fixTable2">
                                            <thead style="background-color: #edefef">
                                                <tr>
                                                    <th class="semi-bold" style="z-index: 1">
                                                        <div class="checkbox check-success">
                                                            <input type="checkbox" name="check" value="1" id="mainchk2" ng-click="CheckAllChecked();">
                                                            <label for="mainchk2"></label>
                                                        </div>
                                                    </th>
                                                    <th class="semi-bold">{{"Enroll No"|translate}}</th>
                                                    <th class="semi-bold">{{"Student Name"|translate}}</th>
                                                </tr>
                                            </thead>

                                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                <tr ng-repeat="info in unassignedAssignments" ng-class="row2">
                                                    <td>
                                                        <div class="checkbox check-success" style="height: 20px">
                                                            <input type="checkbox" name="check" value="1" id="{{info.sims_assignment_enroll_number}}" ng-model="info.save_unassign">
                                                            <label for="{{info.sims_assignment_enroll_number}}"></label>
                                                        </div>
                                                    </td>
                                                    <td>{{info.sims_assignment_enroll_number}}</td>
                                                    <td>{{info.stud_name}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-success btn-cons btn-small" type="button" ng-click="Saveunassigndata()">Submit</button>
                                <button class="btn btn-success btn-cons btn-small" type="button" ng-click="backfromunassign()">Back</button>
                            </div>

                        </div>


                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<!--------------------------------------------DocumentDetails-------------------------------------------------->

<div class="modal fade in" id="MyModalDoc" role="dialog" style="display: none;" tabindex="-1">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 90%;">
        <div class="modal-content" uib-modal-transclude="" style="height: 300px">
            <div class="modal-header ng-scope" style="height: 40px">

                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px"><b>Document Details</b></h4>
                </div>

                <div class="pull-right">
                    <a href="">
                        <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>
                    </a>
                </div>

            </div>

            <div class="grid simple">
                <div class="grid-body no-border">
                    <div class="row">

                        <div class="grid-body no-border" ng-show="DocumentDetails">
                            <div class="row">
                                <div class="col-md-4">
                                    <label id="Label2" class="form-label">{{"Assignment Name"| translate}}</label>
                                    <input type="text" id="txt_Title"
                                        ng-model="temp.sims_assignment_title" class="k-textbox input-sm full-width" readonly />
                                </div>
                                <div class="col-md-4">
                                    <label id="Label8" class="form-label">{{"Due Date"| translate}}</label>
                                    <input type="text" id="due_date"
                                        ng-model="temp.sims_assignment_freeze_date" class="k-textbox input-sm full-width" readonly />
                                </div>
                            </div>
                        </div>


                        <div class="grid-body no-border">

                            <div id="Div4" class="dataTables_wrapper form-inline">
                                <table class="table table-bordered  table-condensed" id="Table4">
                                    <thead style="background-color: #edefef">
                                        <tr>

                                            <th class="semi-bold">{{"ENROLL NO"| translate }}</th>
                                            <th class="semi-bold">{{"STUDENT NAME"| translate }}</th>
                                            <th class="semi-bold">{{"SUBMISSION DATE"| translate }}</th>
                                            <th class="semi-bold">{{"ASSIGNMENT TITLE"| translate }}</th>
                                            <th class="semi-bold">{{"DOCUMENT"| translate }}</th>

                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="doc in DocumentDetails_Data">

                                            <td>{{doc.sims_student_enroll_number}}</td>
                                            <td>{{doc.stud_name}}</td>
                                            <td>{{doc.sims_assignment_submission_date}}</td>
                                            <td>{{doc.sims_assignment_title}}</td>

                                            <td>{{doc.sims_assignment_student_doc_path}}</br> <a href="" class="label label-success " type="button" ng-click="downloaddoc(doc.sims_assignment_student_doc_path)">View</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer" ng-show="searchtable">
                        <button class="btn btn-success btn-cons btn-small" data-dismiss="modal" type="button" ng-click="DataEnroll()">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--------------------------------------------Edit Assignments------------------------------------------------->

<div class="modal fade in" id="MyModalEdit" role="dialog" tabindex="-1">
    <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 70%">

        <div class="modal-content" uib-modal-transclude="" style="">

            <div class="modal-header ng-scope" style="height: 40px">
                <div class="pull-left">
                    <h4 class="modal-title custom-font" style="margin-top: -5px"><b>{{EditAssignmentHeader}}</b></h4>
                </div>

                <div class="pull-right">
                    <a href="">
                        <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>

                    </a>

                </div>

            </div>

            <div class=" " ng-show="Assignment_Details">
                <div class="grid-body no-border">
                    <div class=" ">
                        <div class="grid-body no-border">

                            <div class=" ">
                                <div class="col-md-6">
                                    <label id="Label22" class="form-label">{{"Assignment Name"| translate}}</label>
                                    <input type="text" id="Text1" maxlength="50"
                                           ng-model="temp.sims_assignment_title" class="k-textbox input-sm full-width" />
                                </div>
                                <div class="col-md-6">
                                    <label id="Label23" class="form-label">{{"Description"| translate}}</label>
                                    <textarea id="Textarea2"
                                              ng-model="temp.sims_assignment_desc" class="k-textbox input-sm full-width" />
                                </div>
                            </div>

                            <div class=" ">
                                <div class="col-md-3">
                                    <label id="Label24" class="form-label">{{"Start Date"| translate}}</label>
                                    <input id="start_date"
                                           ng-model="temp.sims_assignment_start_date" class="k-textbox input-sm full-width" readonly />
                                </div>
                                <div class="col-md-3" style="z-index: 10000">
                                    <label id="label25" class="form-label">{{"Freeze Date"| translate}}</label>
                                    <input type="text" class="k-textbox input-sm full-width" id="freeze_date"
                                           
                                           ng-model="temp.sims_assignment_freeze_date">
                                </div> <!--ng-change="createdate(temp.sims_assignment_freeze_date,temp.sims_assignment_submission_date,'sims_assignment_freeze_date')"-->
                                <div class="col-md-3" style="z-index: 10000">
                                    <label id="label26" class="form-label">{{"Submission Date"| translate}}</label>
                                    <input type="text" class="k-textbox input-sm full-width" id="submission_date"
                                           ng-change="showdate(temp.sims_assignment_submission_date,'sims_assignment_submission_date')"
                                           ng-model="temp.sims_assignment_submission_date">
                                </div>
                                <div class="col-md-3">
                                    <label id="Label28" for="txt_full_name" class="form-label">{{"Status"| translate }}</label>
                                    <label id="Label27" class="form-label">{{temp.sims_assignment_status_name}}</label>
                                </div>
                            </div>

                            <div class="">
                                <div class="col-md-6">
                                    <label>
                                        {{ "File Upload" |  translate }}
                                        <span style="font-size: 10px; color: red">{{ "(Maximum file size 2 MB)" }}</span>
                                    </label>
                                    <img src="assets/images/loading.gif" width="25px" height="25px" ng-hide="uploading_doc1" />

                                    <input type="file" id="file1" name="file" onchange="angular.element(this).scope().file_changed(this)"
                                           ng-files="getTheFiles($files)" style="float: initial; width: 120px; display: none" />
                                    <a href="" class="label label-important " type="button" onclick="document.getElementById('file1').click();">
                                        <i class="fa fa-cloud-upload"></i>Upload
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <label>&nbsp</label>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-primary btn-cons btn-small" ng-click="Search_Student()">{{"Search Student"|translate}}</button>
                                    </div>
                                </div>

                            </div>

                            <div class=" ">
                                <div class="col-md-12">
                                    <table class="table  table-hover table-bordered table-condensed" aria-describedby="example2_info" id="fixTable1">
                                        <thead>
                                            <tr>
                                                <th>{{"Sr.No."| translate}}</th>
                                                <th>{{"Attachment"| translate}}</th>
                                                <th>{{"View"| translate}}</th>
                                                <th>{{"Replace"| translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tr ng-repeat="roll in teacher_doc">

                                            <td>{{roll.sims_doc_line}}</td>
                                            <td>{{roll.sims509_doc_name}}</td>
                                            <td><a href="" class="label label-success " type="button" ng-click="downloaddoc1(roll.sims509_doc)">View</a></td>
                                            <td><a href="" class="label label-important" ng-click="deletedoc(roll.sims_doc_line)"><i class="fa fa-times"></i>Delete</a></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class=" ">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary btn-cons btn-small" ng-click="Submit_Assignment()">{{"Submit"|translate}}</button>
                                    <button type="button" class="btn btn-primary btn-cons btn-small" ng-click="Close_edit_Assignment()">{{"Close"|translate}}</button>
                                </div>
                            </div>

                            <div class=" ">

                                <div class="col-md-12" ng-show="temp.reject_remark">
                                    <label id="Label30" style="color: red" class="form-label">Rejection Remark :{{temp.reject_remark}}</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class=" " ng-show="Search_Student_details">

                <div class="grid-body no-border">

                    <div class=" " ng-show="busy">

                        <div class="col-md-5">
                        </div>
                        <div class="col-md-2">
                            <img src="assets/images/loading.gif" />
                        </div>
                        <div class="col-md-5">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div id="Div5" class="dataTables_wrapper form-inline">
                            <table class="table table-bordered  table-condensed" id="fixTable2">
                                <thead style="background-color: #edefef">
                                    <tr>
                                        <th class="semi-bold" style="z-index: 1">
                                            <div class="checkbox check-success">
                                                <input type="checkbox" name="check" value="1" id="mainchk2" ng-click="MultipleStudentSelect();">
                                                <label for="mainchk2"></label>
                                            </div>
                                        </th>
                                        <th class="semi-bold">{{"Enroll No"|translate}}</th>
                                        <th class="semi-bold">{{"Student Name"|translate}}</th>
                                        <th class="semi-bold">{{"Status"|translate}}</th>

                                    </tr>
                                </thead>

                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    <tr ng-repeat="info in StudentDetails" ng-class="row2">
                                        <td>
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" name="check" value="1" id="{{info.sims_assignment_enroll_number}}" ng-model="info.isselected" ng-click="StudentEnrollNumber(info);">
                                                <label for="{{info.sims_assignment_enroll_number}}"></label>
                                            </div>
                                        </td>
                                        <td>{{info.sims_assignment_enroll_number}}</td>
                                        <td>{{info.stud_name}}</td>
                                        <td>{{info.sims_assignment_status_name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-success btn-cons btn-small" type="button" data-dismiss="modal" ng-click="DataEnroll()">Submit</button>
                    <button class="btn btn-success btn-cons btn-small" type="button" ng-click="backDataEnroll()">Back</button>
                </div>

            </div>

        </div>
    </div>

</div>

<script src="assets/js/tableHeadFixer.js"></script>

<script src="assets/js/calender-datepicker-id.js"></script>
<!--<script src="assets/js/add-ng-disabled.js"></script>-->
