﻿<!--<div class="loading-middle" ng-hide="display">
    {{ "Loading..." | translate }}
</div>-->

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">

            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                class="k-textbox"
                                ng-model="currentPage"
                                ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                class="k-textbox"
                                ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                class="k-textbox"
                                ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                class="k-textbox"
                                maxlength="3"
                                ng-model="dots"
                                ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                class="k-textbox"
                                maxlength="100"
                                ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                class="k-textbox"
                                maxlength="100"
                                ng-model="activeClass"
                                ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                class="k-textbox"
                                maxlength="100"
                                ng-model="disabledClass"
                                ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        class="k-checkbox"
                                        ng-model="showPrevNext"
                                        ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                        class="k-checkbox"
                                        ng-model="showFirstLast"
                                        ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="page-title">
                <h3><span class="semi-bold">{{"Teacher"|translate}}</span>&nbsp;{{"Assignment Upload"|translate}}</h3>
            </div>

            <div class="grid-title no-border">
            </div>
            <div class="grid-body no-border" ng-show="display">
                <form name="MyForm" ng-submit="Save(MyForm.$valid)" novalidate="novalidate">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Curriculum"|translate}}<span style="color: red; font-size: 18px">*</span></label>
                                        </div>
                                        <div class="col-md-12">
                                            <select id="Select3" style="width: 100%" data-role="dropdownlist" class="form-control" ng-model="edt.sims_cur_code" ng-change="getacyr(edt.sims_cur_code)"
                                                ng-options="c.sims_cur_code as c.sims_cur_short_name_en for c in curriculum">
                                                <option value="" selected disabled>Please Select</option>
                                            </select>
                                            <!-- <select id="cmb_School_Code" class="form-control" name="curric" ng-model="edt.sims_cur_code" ng-change="getacyr(edt.sims_cur_code)">
                                                <option value="" selected disabled>Please Select</option>
                                                <option class="form-control input-sm" ng-repeat="cur in curriculum" value="{{cur.sims_cur_code}}">{{cur.sims_cur_short_name_en}}</option>
                                            </select>-->
                                            <!--<p class="help-block" ng-show="MyForm.curric.$error.required &&  (MyForm.curric.$touched || MyForm.$submitted)">
                                                This field is required
                                            </p>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Academic Year"|translate}}<span style="color: red; font-size: 18px">*</span></label>
                                        </div>
                                        <div class="col-md-12">
                                            <select id="Select4" style="width: 100%" data-role="dropdownlist" class="form-control" ng-model="edt.sims_academic_year" ng-change="getGrade(edt.sims_academic_year)"
                                                ng-options="a.sims_academic_year as a.sims_academic_year_desc for a in Academic_year">
                                                <option value="" selected disabled>Please Select</option>
                                            </select>
                                            <!--  <select id="cmb_academic_year" class="form-control" name="year" ng-model="edt.sims_academic_year" ng-change="getGrade(edt.sims_cur_code,edt.sims_academic_year);">
                                                <option value="" selected disabled>Please Select</option>
                                                <option class="form-control input-sm" ng-repeat="year1 in Academic_year" value="{{year1.sims_academic_year}}">{{year1.sims_academic_year_desc}}</option>
                                            </select>-->
                                            <!--<p class="help-block" ng-show="MyForm.year.$error.required &&  (MyForm.year.$touched || MyForm.$submitted)">
                                                This field is required
                                            </p>-->
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Grade"|translate}}<span style="color: red; font-size: 18px">*</span></label>
                                        </div>
                                        <div class="col-md-12">

                                            <div class="col-md-12">
                                                <select id="cmb_grade" name="Grade" data-role="dropdownlist" multiple="multiple" required style="margin-bottom: 0px; color: black" ng-model="edt.sims_grade_code" ng-change="select_grd_mult()">
                                                    <option ng-repeat="i in GradeByUsername"
                                                        value="{{i.sims_grade_code}}">{{i.sims_grade_name}}
                                                    </option>
                                                </select>

                                            </div>
                                            <!-- <select id="cmb_grade_code" style="width: 100%" class="form-control" name="grade"
                                                    ng-model="edt.sims_grade_code"
                                                    ng-change="getSection(edt.sims_grade_code,edt.sims_cur_code,edt.sims_academic_year,username);">
                                                <option value="" selected disabled>Please Select</option>
                                                <option class="form-control input-sm" ng-repeat="grade_cod in GradeByUsername" value="{{grade_cod.sims_grade_code}}">
                                                    {{grade_cod.sims_grade_name}}
                                                </option>
                                            </select>-->

                                            <!--<p class="help-block" ng-show="MyForm.grade.$error.required &&  (MyForm.grade.$touched || MyForm.$submitted)">
                                                This field is required
                                            </p>-->
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Section"|translate}}<span style="color: red; font-size: 18px">*</span></label>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <select id="cmb_section" name="Section" data-role="dropdownlist" multiple="multiple" required style="margin-bottom: 0px; color: black" ng-model="edt.sims_section_code" ng-change="select_sec_mult()">
                                                    <option ng-repeat="i in getSectionByUserGrade"
                                                        value="{{i.sims_section_code}}">{{i.sims_section_name}}
                                                    </option>
                                                </select>

                                            </div>
                                            <!--<select id="cmb_academic" class="form-control" ng-model="edt.sims_section_code" name="section" required>
                                                <option value="" selected disabled>Please Select</option>
                                                <option ng-if="edt.sims_grade_code==sec.sims_grade_code" class="form-control input-sm" ng-repeat="sec in  obj | 
                                                filter:{sims_section_name:''}" value="{{sec.sims_section_code}}">{{sec.sims_section_name}}</option>
                                            </select>-->
                                            <!-- <select id="cmb_section_code" style="width: 100%" class="form-control" name="section"
                                                ng-model="edt.sims_section_code" ng-change="getSubject(edt.sims_section_code,username)">
                                                <option value="" selected disabled>Please Select</option>
                                                <option class="form-control input-sm" ng-repeat="section_cod in SectionByUserGrade" 
                                               value="{{section_cod.sims_section_code}}">{{section_cod.sims_section_name}}
                                                </option>
                                            </select>-->

                                            <!--<p class="help-block" ng-show="MyForm.section.$error.required &&  (MyForm.section.$touched || MyForm.$submitted)">
                                                This field is required
                                            </p>-->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">

                                <div class="col-md-4">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Subject"|translate}}<span style="color: red; font-size: 18px">*</span></label>
                                        </div>
                                        <div class="col-md-12">
                                            <select id="cmb_academic" data-role="dropdownlist" class="form-control"
                                                ng-model="edt.sims_subject_code"
                                                ng-options="sub.sims_subject_code as sub.sims_subject_name for sub in  getSubjectByUseType" name="subject">
                                            </select>

                                            <!--<select id="cmb_academic" class="form-control" ng-model="edt.sims_subject_code" name="subject" required>
                                                <option value="" selected disabled>Please Select</option>
                                                <option class="form-control input-sm" ng-repeat="sub in  SubjectByUser | filter:{sims_subject_name:''}" value="{{sub.sims_subject_code}}">{{sub.sims_subject_name}}</option>
                                            </select>-->
                                            <!--<p class="help-block" ng-show="MyForm.subject.$error.required &&  (MyForm.subject.$touched || MyForm.$submitted)">
                                                This field is required
                                            </p>-->
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Term"|translate}}<span style="color: red; font-size: 18px">*</span></label>
                                        </div>
                                        <div class="col-md-12">
                                            <select id="Select1" data-role="dropdownlist" class="form-control"
                                                ng-model="edt.sims_term_code"
                                                ng-options="termcode.sims_term_code as termcode.sims_term_desc_ar for termcode in  AllTerms_Data" name="termcode">
                                            </select>
                                            <!--<p class="help-block" ng-show="MyForm.termcode.$error.required &&  (MyForm.termcode.$touched || MyForm.$submitted)">
                                                This field is required
                                            </p>-->
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>&nbsp;</label>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="pull-right">
                                                <button class="btn btn-primary" type="button" style="height: 33px" ng-click="SearchStudentWindow();">{{"Search Student"|translate}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <hr style="height: 2px; border: none; color: #6f7b8a; background-color: #6f7b8a;">
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">

                                <div class="col-md-3" ng-class="{'has-error': !MyForm.Assigntitle.$valid && (MyForm.Assigntitle.$touched || MyForm.$submitted) }">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Title"|translate}}<span style="color: red; font-size: 18px">*</span></label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" id="title_text" ng-model="edt.sims_assignment_title" class="k-textbox" style="width: 100%;" name="Assigntitle" />

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Description"|translate}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <textarea id="Assigndesc" class="k-textbox" style="width: 100%;" ng-model="edt.sims_assignment_desc" maxlength="800" name="Assigndesc" />
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="col-md-3">
                                    <label id="Label11" for="txt_full_name" class="form-label">{{"Include Grading"| translate }}</label>
                                    <div class="checkbox check-success">
                                        <input id="chk_term2" type="checkbox" ng-model="edt.sims_attendance_unexcused_flag">
                                        <label for="chk_term2"></label>
                                    </div>
                                </div>-->

                                <div class="col-md-3">
                                    <label id="Label1" for="txt_full_name" class="form-label">{{"Status"| translate }}</label>
                                    <div class="checkbox check-success">
                                        <input id="chk_term3" type="checkbox" ng-model="edt.sims_assignment_status" ng-checked="true">
                                        <label for="chk_term3"></label>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-12">
                            <hr style="height: 2px; border: none; color: #6f7b8a; background-color: #6f7b8a;">
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">

                                <div class="col-md-3">
                                    <label id="lbl_startdate" class="form-label">{{"Start Date"| translate}}</label>
                                    <div class="col-md-10 col-lg-6 no-padding">
                                        <input type="text" class="k-textbox btn-small" id="start_date" name="startdate" ng-change="showdate(edt.sims_assignment_start_date,'sims_assignment_start_date')" ng-model="edt.sims_assignment_start_date">
                                    </div>
                                    <!--<div class="input-append success date col-md-10 col-lg-6 no-padding" data-datepicker="true">
            <input type="text" class="form-control" name="startdate" ng-change="showdate(edt.sims_assignment_start_date,'sims_assignment_start_date')" ng-model="edt.sims_assignment_start_date">
            <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
        </div>-->
                                </div>

                                <div class="col-md-3">
                                    <label id="lbl_subdate" class="form-label">{{"Submission Date"| translate}}</label>

                                    <input type="text" class="k-textbox btn-small" id="submisssion_date" name="submitdate" ng-change="createdate(edt.sims_assignment_submission_date,edt.sims_assignment_start_date,'sims_assignment_submission_date')" ng-model="edt.sims_assignment_submission_date">

                                    <!--<div class="input-append success date col-md-10 col-lg-6 no-padding" data-datepicker="true">
                                        <input type="text" class="form-control" name="submitdate" ng-change="createdate(edt.sims_assignment_submission_date,edt.sims_assignment_start_date,'sims_assignment_submission_date')" ng-model="edt.sims_assignment_submission_date">
                                        <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                    </div>-->
                                </div>

                                <div class="col-md-3">
                                    <label id="lbl_frzdate" class="form-label">{{"Freeze Date"| translate}}</label>

                                    <input type="text" class="k-textbox btn-small" id="frzdate" ng-change="createdate(edt.sims_assignment_freeze_date,edt.sims_assignment_start_date,'sims_assignment_freeze_date')" ng-model="edt.sims_assignment_freeze_date">

                                    <!--<div class="input-append success date col-md-10 col-lg-6 no-padding" data-datepicker="true">
                                        <input type="text" class="form-control" ng-change="createdate(edt.sims_assignment_freeze_date,edt.sims_assignment_start_date,'sims_assignment_freeze_date')" ng-model="edt.sims_assignment_freeze_date">
                                        <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                    </div>-->
                                </div>

                                <div class="col-md-3">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>
                                                {{ "File Upload" |  translate }}
                                                                     <span style="font-size: 10px; color: red">{{ "(Maximum file size 2 MB)" }}</span></label>
                                        </div>
                                        <div class="col-md-12">
                                            <!--<input type="file" id="file1" name="file" class="form-control" ng-model="edt.sims_reference_filename"
                                                   onchange="angular.element(this).scope().file_changed(this)"
                                                   ng-files="getTheFiles($files)" accept="application/pdf" />-->

                                            <input type="file" id="file1" name="file" onchange="angular.element(this).scope().file_changed(this)"
                                                ng-files="getTheFiles($files)" style="float: initial; width: 120px; display: none" />
                                            <a href="" class="label label-important " type="button" onclick="document.getElementById('file1').click();">
                                                <i class="fa fa-cloud-upload"></i>{{"Upload" |  translate }}
                                            </a>
                                            <img src="assets/images/loading.gif" width="25px" height="25px" ng-hide="uploading_doc1" />

                                        </div>

                                    </div>
                                </div>

                                <!--<div class="col-md-3">
                                    <label id="label7" class="form-label">{{"Attach File"| translate}}</label>
                                    <div class="col-md-12">
                                        <input type="file" multiple id="file1" name="file" class="form-control"
                                               ng-model="edt.sims_assignment_doc_path"
                                               onchange="angular.element(this).scope().file_changed(this)"
                                               ng-files="getTheFiles($files)" accept="application/pdf" />
                                    </div>
                                </div>-->

                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-12">
                                    <br />
                                    <!--<label>{{"Student Name" |translate}}</label>-->
                                    <div style="width: 100%; height: 180px; overflow-x: scroll; overflow-y: scroll">
                                        <table class="table  table-hover table-bordered table-condensed" aria-describedby="example2_info" id="fixTable1">
                                            <thead>
                                                <tr>
                                                    <th>{{"Sr.No."| translate}}</th>
                                                    <th>{{"Attachment"| translate}}</th>
                                                    <th>{{"View"| translate}}</th>
                                                    <th>{{"Replace"| translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                            <tr ng-repeat="roll in file_doc">

                                                <td>{{roll.sims_doc_line}}</td>
                                                <td>{{roll.sims508_doc_name}}</td>
                                                <td><a href="" class="label label-success " type="button" ng-click="downloaddoc1(roll.sims508_doc)">View</a></td>
                                                <td><a href="" class="label label-important" ng-click="deletedoc(roll)"><i class="fa fa-times"></i>Delete</a></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-12" ng-show="enrollno">
                                    <!--<label>{{"Student Name" |translate}}</label>-->
                                    <div style="width: 100%; height: 250px; overflow-x: auto; overflow-y: auto">
                                        <table class="table table-bordered table-condensed" id="Table1">
                                            <thead>
                                                <tr style="background-color: #edefef">
                                                    <th>{{"ENROLL NUMBER"| translate}}</th>
                                                    <th>{{"STUDENT NAME"| translate}}</th>
                                                    <th>{{"REMOVE"| translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                            <tr ng-repeat="roll in student track by $index">

                                                <td>{{roll.sims_student_enroll_number}}</td>
                                                <td>{{roll.sims_student_passport_first_name_en}}</td>
                                                <td><span class="semi-bold"><a href="" ng-click="RemoveEnrollMentNo($event,$index,student)">X</a></span>  </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <!--<div class="col-md-6" ng-hide="enrollno">
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <label>{{"Student Name"| translate}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input class="form-control" style="width: 338px" ng-model="edt.sims_student_enroll_number" ng-hide="enrollno" />
                                        </div>

                                    </div>
                                </div>-->
                            </div>
                        </div>

                    </div>
                    <div class="form-actions">
                        <div class="pull-right">
                            <button class="btn btn-primary" type="button" ng-click="saveUploadedFiles(MyForm.$valid)" ng-show="save1">{{"Save"|translate}}</button>
                            <button class="btn btn-primary" type="button" ng-click="Update()" ng-show="update1">{{"Update"|translate}}</button>
                            <button class="btn btn-warning" type="button" ng-click="cancel()">{{"Cancel"|translate}}</button>
                        </div>
                    </div>
                </form>
            </div>

            <!--Table/Grid-->

            <div class="grid-body no-border" ng-show="grid">
                <div class="row form-row">
                    <div class="col-md-12">
                        <button class="btn btn-success" style="height: 35px" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"Create New Assignment"|translate}}</button>
                        &nbsp;
                        <!-- <button class="btn btn-danger" style="height: 35px" type="button" ng-click="Delete()"><span class="semi-bold"></span>{{"Delete"|translate}}</button>-->
                        &nbsp;
                        <select id="Select2" style="width: 60px" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                            <option value="10" class=" form-control input-sm">10
                            </option>

                            <option value="20" class=" form-control input-sm">20
                            </option>

                            <option value="All" class="form-control input-sm">All
                            </option>
                        </select>
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                                <label>
                                    {{"Search"|translate}}  &nbsp;
                                    <input type="text" aria-controls="example" ng-model="searchText" class="k-textbox" ng-change="search()">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div style="width: 100%; height: 300px; overflow-x: auto; overflow-y: auto">
                        <table class="table table-bordered table-hover table-condensed" id="fixTable">
                            <thead>
                                <tr>
                                    <!--<th class="semi-bold" style="vertical-align: middle">
                                        <div class="checkbox check-success" style="z-index:9999;">
                                            <input type="checkbox" name="check" value="1" id="mainchk" ng-click="CheckAllChecked();">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>-->
                                    <th class="semi-bold" style="text-align: left; vertical-align: middle">{{"Grade"|translate}}  </th>
                                    <th class="semi-bold" style="text-align: left; vertical-align: middle">{{"Section"|translate}}  </th>
                                    <th class="semi-bold" style="text-align: left; vertical-align: middle">{{"Subject"|translate}}</th>
                                    <th class="semi-bold" style="text-align: left; vertical-align: middle">{{"Assignment Title"|translate}}</th>
                                    <th class="semi-bold" style="text-align: left; vertical-align: middle">{{"Start Date"|translate}}</th>
                                    <th class="semi-bold" style="text-align: left; vertical-align: middle">{{"Submission Date"|translate}}</th>
                                    <th class="semi-bold" style="text-align: left; vertical-align: middle">{{"Freeze Date"|translate}}</th>

                                    <!--<th class="semi-bold" style="text-align: left; vertical-align: middle">{{"ACTION"|translate}}</th>-->

                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <tr ng-repeat="objs in filteredTodos" class="row1">
                                    <!--<td>
                                        <div class="checkbox check-success" style="height: 20px">
                                            <input type="checkbox" name="check" value="1" id="{{objs.sims_assignment_title}}" ng-click="checkonebyonedelete();">
                                            <label for="{{objs.sims_assignment_title}}"></label>
                                        </div>
                                    </td>-->
                                    <td>{{objs.sims_grade_name}}</td>
                                    <td>{{objs.sims_section_name}}</td>
                                    <td>{{objs.sims_subject_name_en}}</td>
                                    <td>{{objs.sims_assignment_title}}</td>
                                    <td>{{objs.sims_assignment_start_date}}</td>
                                    <td>{{objs.sims_assignment_submission_date}}</td>
                                    <td>{{objs.sims_assignment_freeze_date}}</td>


                                    <!--<td>
                                <a href=""><i class="fa fa-edit" ng-click="edit(objs)"></i></a>
                            </td>-->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                ng-click="index(currentPage)">
                            </paging>
                        </div>
                    </div>
                </div>
            </div>

            <!--EndTable/Grid-->

            <div class="modal fade in" id="MyModal" role="dialog" tabindex="-1" style="display: none;">
                <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''" style="width: 75%;">
                    <div class="modal-content" uib-modal-transclude="">
                        <div class="modal-header ng-scope" style="height: 40px">
                            <div class="pull-left">
                                <h4 class="modal-title custom-font" style="margin-top: -5px"><b>Search Student</b></h4>
                            </div>
                            <div class="pull-right">
                                <a href="">
                                    <h6 class="modal-title custom-font" style="margin-top: -5px" data-dismiss="modal"><b>X</b></h6>
                                </a>
                            </div>

                        </div>

                        <div class="grid simple">
                            <div class="grid-body no-border">
                                <div class="row">
                                    <div class="row" ng-show="busy">
                                        <div class="col-md-12">
                                            <div class="row form-row">
                                                <div class="col-md-5">
                                                </div>
                                                <div class="col-md-2">
                                                    <img src="assets/images/loading.gif" />
                                                </div>
                                                <div class="col-md-5">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div ng-show="searchtable">
                                            <div id="Div1" class="dataTables_wrapper form-inline">
                                                <div style="width: 100%; height: 350px; overflow-x: auto; overflow-y: auto">
                                                    <table class="table table-bordered table-condensed" id="Table2">
                                                        <thead>
                                                            <tr>
                                                                <th>{{"Sr.No."| translate}}</th>
                                                                <th class="semi-bold">ENROLL NO</th>
                                                                <th class="semi-bold">CLASS</th>
                                                                <th class="semi-bold">STUDENT NAME</th>

                                                                <th class="semi-bold" style="z-index: 1">
                                                                    <div class="checkbox check-success">
                                                                        <input type="checkbox" name="check" class="k-checkbox" value="1" id="mainchk1" ng-model="chk_all" ng-click="MultipleStudentSelect(chk_all);">
                                                                        <label for="mainchk1"></label>
                                                                    </div>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                            <tr ng-repeat="info in StudentsList_Data">
                                                                 <td>{{$index+1}}</td>
                                                                <td>{{info.sims_student_enroll_number}}</td>
                                                                <td>{{info.sims_section_name}}</td>
                                                                <td>{{info.sims_student_passport_first_name_en}}</td>

                                                                <td>
                                                                    <div class="checkbox check-success" style="height: 20px">
                                                                        <input type="checkbox" class="k-checkbox" name="check" value="1" id="{{info.sims_student_enroll_number+$index}}" ng-model="info.stud_chk" ng-click="StudentEnrollNumber(info);">
                                                                        <label for="{{info.sims_student_enroll_number+$index}}"></label>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer" ng-show="searchtable">
                                    <button class="btn btn-success btn-cons" data-dismiss="modal" type="button" ng-click="DataEnroll()">Ok</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="loader">
                <div class="modal-dialog" id="top">
                    <div class="modal-content">
                        <div class="box1" style="position: fixed; margin-top: 50%; left: 50%;">
                            <img src="assets/img/loading_transparent_.gif">
                            <!--<img src="assets/theme/img/loading.gif" />-->
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>

        </div>
    </div>
</div>

<!--<script src="assets/js/tableHeadFixer.js"></script>-->




<script src="assets/js/calender-datepicker-id.js"></script>
