﻿
<style>
    textarea {
        width: 479px;
    }

    .agendatxt {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 200px;
    }

    .subtxt {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 150px;
    }
    .record_grid {
   background-color:#fff;
   margin-top:-6px;
    }
    .grid.simple .form-actions {
    margin-right: -7px !important;
    margin-left: -7px !important;
    margin-bottom: -15px !important;
        padding: 8px 20px 8px;
}

</style>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Approve Meeting"| translate }}</span> </h3>
            </div>
            <div class="row" ng-show="notshow">
                <div class="col-xs-4">
                    <div class="well" class="form-group">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   ng-model="numPerPage" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   ng-model="pagersize" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Dots Display:</label>
                            <input placeholder="..."
                                   class="form-control"
                                   maxlength="3"
                                   ng-model="dots"
                                   ng-init="dots = '...'" />
                        </div>

                        <hr />
                        <div class="form-group">
                            <label>UL Class:</label>
                            <input placeholder="pagination"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="ulClass" />
                        </div>
                        <div class="form-group">
                            <label>Active Class:</label>
                            <input placeholder="active"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="activeClass"
                                   ng-init="activeClass = 'active'" />
                        </div>
                        <div class="form-group">
                            <label>Disabled Class:</label>
                            <input placeholder="disabled"
                                   class="form-control"
                                   maxlength="100"
                                   ng-model="disabledClass"
                                   ng-init="disabledClass = 'disabled'" />
                        </div>
                        <br />
                        <table class="table">

                            <tr>
                                <td>
                                    <label>Show Prev Next:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showPrevNext"
                                           ng-init="showPrevNext = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Show First Last:</label>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           ng-model="showFirstLast"
                                           ng-init="showFirstLast = true" />
                                    {{showPrevNext}}
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <span class="btn btn-default" onclick="location.reload()">
                            <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                        </span>
                        <span class="btn btn-success" ng-click="currentPage = 0">
                            Apply Settings
                        </span>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            
            <!-- Display Records -->
            <div class="grid-body no-border paddingcode bluegrid" ng-hide="table">
                

                <div class="row">
                    <div class="col-md-2">
                        <div class="row form-row">
                            <div class="col-md-12">
                                <label><i class="fa fa-calendar"></i>&nbsp;{{"From Date"| translate }}</label>
                            </div>
                            <div class="col-md-12">
                               
                                    <input type="text" id="from_date" placeholder="Select Date"
                                           name="from_date" class="k-textbox input-sm full-width" ng-model="temp.from_date" ng-disabled="editmode"
                                           ng-change="fdate(temp.from_date)">

                                </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row form-row">
                            <div class="col-md-12">
                                <label><i class="fa fa-calendar"></i>&nbsp;{{"To Date"| translate }}</label>
                            </div>
                            <div class="col-md-12">
                                
                                    <input style="width: 100%" type="text" id="to_date" placeholder="Select Date"
                                           name="from_date" class="k-textbox input-sm full-width" ng-model="temp.to_date" ng-disabled="editmode"
                                           ng-change="tdate(temp.to_date)">
                                </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row form-row">
                            <div class="col-md-12">
                                <label><i class="fa fa-user"></i>&nbsp;{{"Requested By"| translate }}</label>
                            </div>
                            <div class="col-md-12">
                                <select id="Select2" class="form-control input-sm full-width" data-role="dropdownlist"                                         
                                        ng-model="temp.em_number" ng-change="reqChange(temp.em_number)"
                                        ng-options="app.em_number as app.em_first_name for app in requester" name="requester" required>
                                    <option value="">Please Select</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row form-row">
                            <div class="col-md-12">
                                <label><i class="fa fa-pencil-square-o"></i>&nbsp;{{"Subject"| translate }}</label>
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="k-textbox input-sm full-width"  style="width:100%;" ng-model="temp.sims_mom_subject" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"><label>&nbsp;</label>
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary btn-cons" ng-hide="showclosebtn" ng-click="getdata()">{{"Show"|translate}}</button>
                        &nbsp;<button type="button" class="btn btn-warning btn-cons" ng-hide="showclosebtn" ng-click="resetdata()">{{"Reset"|translate}}</button>
                        </div>
                    </div>
                   
                </div>
  </div>
            <div class="record_grid paddingcode">
                <div class="row margin-top">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="row">
                                <select id="Select1" style="width: 65px;" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">
                                    <option value="10" class=" form-control input-sm">10</option>
                                    <option value="20" class=" form-control input-sm">20</option>
                                    <option value="All" class=" form-control input-sm">All</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <span class="k-textbox k-space-right full-width">
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Search" class="k-textbox input-sm full-width" autofocus="autofocus" tabindex="1" ng-change="search()">
                                    <a href="#" class="k-icon k-i-search">&nbsp;</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Table Recods -->
                <div id="example_wrapper" class="dataTables_wrapper form-inline" ng-show="tableshow">
                    <div class="row">
                        <div class="col-md-12">
                    <div style="width: 100%; height: auto; overflow-x: auto; overflow-y: auto">
                        <table class="table table-bordered table-hover table-condensed" id="fixTable">
                            <thead>
                                <tr style="background-color: #edefef">
                                    <th class="small-cell v-align-middle" style="z-index:1">

                                    </th>
                                    <th class="semi-bold" style="width:50px;z-index:999" ng-show="approvebtn">
                                        <div class="checkbox check-success" style="padding-left: 7px; padding-top: 10px;">
                                            <input id="mainchk" type="checkbox" value="1" ng-click="CheckAllChecked()">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>
                                    <th class="semi-bold">
                                        <label><i class="fa fa-pencil-square-o"></i>&nbsp;<b>{{"Subject" | translate }}</b></label>
                                    </th>
                                    <th class="semi-bold" style="width:100px;">
                                        <label><i class="fa fa-calendar"></i>&nbsp;<b>{{"Date"| translate }}</b></label>
                                    </th>
                                    <th class="semi-bold">
                                        <label><i class="fa fa-clock-o"></i>&nbsp;<b>{{"Start Time" | translate }}</b></label>
                                    </th>
                                    <th class="semi-bold">
                                        <label><i class="fa fa-clock-o"></i>&nbsp;<b>{{"End Time" | translate }}</b></label>
                                    </th>
                                    <th class="semi-bold" style="width:150px;">
                                        <label><i class="fa fa-pencil-square"></i>&nbsp;<b>{{"Agenda" | translate }}</b></label>
                                    </th>
                                    <th class="semi-bold">
                                        <label><i class="fa fa-user"></i>&nbsp;<b>{{"Requested By" | translate }}</b></label>
                                    </th>
                                    <th class="semi-bold">
                                        <label><i class="fa fa-bookmark"></i>&nbsp;<b>{{"Status" | translate }}</b></label>
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="rec in filteredTodos | orderBy:orderByField:reverseSort" ng-class="row1">
                                    <td class="small-cell v-align-middle" style="z-index:1">
                                        <button type="button" class="btn btn-primary btn-cons"
                                                ng-hide="showclosebtn" ng-click="viewRecord(rec)">
                                            {{"View"|translate}}
                                        </button>
                                    </td>
                                    <td class="semi-bold" ng-show="approvebtn">
                                        <div class="checkbox check-success">
                                            <input id="{{$index +  rec.sims_mom_reference_number}}" type="checkbox" ng-model="rec.check_mom_status" value="1" ng-click="checkonebyonedelete(rec)">
                                            <label for="{{$index + rec.sims_mom_reference_number}}"></label>
                                        </div>
                                    </td>
                                    <td><label id="Label" class="subtxt">{{rec.sims_mom_subject}}</label></td>
                                    <td><label id="Label5">{{rec.sims_mom_date}}</label></td>
                                    <td><label id="Label7">{{rec.sims_mom_start_time}}</label></td>
                                    <td><label id="Label8">{{rec.sims_mom_end_time}}</label></td>
                                    <td><label id="Label15" class="agendatxt">{{rec.sims_mom_agenda}}</label></td>
                                    <td><label id="Label24">{{rec.sims_mom_requester_user_name}}</label></td>
                                    <td>
                                        <!--<label id="Label1">{{rec.sims_mom_requester_user_name}}</label>-->
                                        <span class="label label-success" ng-if="rec.sims_mom_status=='S'">{{"Schedule"| translate }}</span>
                                        <span class="label label-important" ng-if="rec.sims_mom_status=='P'">{{"Pending"| translate }}</span>
                                        <span class="label label-warning" ng-if="rec.sims_mom_status=='C'">{{"Rejected"| translate }}</span>
                                        <span class="label label-info" ng-if="rec.sims_mom_status=='O'">{{"Over"| translate }}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>    
                    </div>
                    <div class="row" ng-show="pager">
                        <div class="col-md-12">
                    <div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                ng-click="index(currentPage)">
                        </paging>
                    </div>   
                            </div>
                        </div>                 
                    <div class="form-actions">
                        <div class="pull-right">
                            <button type="submit" id="Button1" ng-show="approvebtn" class="btn btn-primary btn-cons" ng-click="approveClick()">{{"Approve" | translate }}</button>
                            
                            <button type="button" ng-show="rejectbtn" class="btn btn-danger btn-cons" ng-click="rejectClick();">{{"Reject"| translate }}</button>
                        </div>
                    </div>
                </div>
                <div class="grid-title no-border" ng-hide="tableshow">
                    <h3>{{errmsg}}</h3>
                </div>
          </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewModal" style="margin-top:3%;">
    <div class="modal-dialog" id="top">
        <div class="modal-content" style="border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;">
            <div class="modal-header" style="height:40px;padding-top:2%;">
                <!--<label><b>Schedule Meeting</b></label>-->

                <div class="pull-left">

                    <span class="label label-success" style="font-size:13px;" ng-if="currRecord.sims_mom_status=='S'">{{"Schedule Meeting"| translate }}</span>
                    <span class="label label-important" style="font-size:13px;" ng-if="currRecord.sims_mom_status=='P'">{{"Pending Meeting"| translate }}</span>
                    <span class="label label-warning" style="font-size:13px;" ng-if="currRecord.sims_mom_status=='C'">{{"Rejected Meeting"| translate }}</span>
                    <span class="label label-info" style="font-size:13px;" ng-if="currRecord.sims_mom_status=='O'">{{"Over Meeting"| translate }}</span>
                </div>
                <div class="pull-right">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                    <!--<button style="margin-top: -20px" class="btn-sm" data-dismiss="modal" ng-click="modal_cancel()" type="submit">X</button>-->
                </div>
            </div>
        </div>

        <div class="modal-body" style="background:#fff">

            <div style="width:100%;height:30px;color:#fff">
                <div style="height:30px;width:35%;float:left;padding:6px;background:#0090d9;">
                    <label><i class="fa fa-sort-numeric-asc"></i>&nbsp;{{"Reference No:" | translate }}&nbsp;{{currRecord.sims_mom_reference_number}}</label>
                </div>
                <div style="height:30px;width:65%;float:right;padding:6px;background:#0090d9;">
                    <label>
                        <i class="fa fa-calendar"></i>&nbsp;{{"Date:" | translate }}&nbsp;{{currRecord.sims_mom_date}}&nbsp;&nbsp;
                        <i class="fa fa-clock-o"></i>&nbsp;{{"Start Time:" | translate }}&nbsp;{{currRecord.sims_mom_start_time}}&nbsp;&nbsp;
                        <i class="fa fa-clock-o"></i>&nbsp;{{"End Time:" | translate }}&nbsp;{{currRecord.sims_mom_end_time}}
                    </label>
                </div>
            </div>
            <div style="width:100%;height:auto;margin-top:1px;padding:6px;border: 1px solid #0090d9;">
                <label style="font-weight:bold"><i class="fa fa-pencil-square-o"></i>&nbsp;{{"Subject" | translate }}&nbsp;:&nbsp;&nbsp;{{currRecord.sims_mom_subject}}</label>
            </div>
            <div style="width:100%;height:auto;margin-top:1px;padding:6px;border: 1px solid #0090d9;">
                <label style="font-weight:bold"><i class="fa fa-pencil-square"></i>&nbsp;{{"Agenda" | translate }}&nbsp;:&nbsp;</label>
                <label>&nbsp;&nbsp;&nbsp;{{currRecord.sims_mom_agenda}}</label>
            </div>
            <!-- Attendees Table -->
            <br />
            <div id="Div2" class="dataTables_wrapper form-inline">
                <div style="width: 100%; height: 200px; overflow-x: auto; overflow-y: auto">
                    <table class="table  table-striped  table-condensed" id="fixTable2" aria-describedby="example2_info">
                        <thead style="background-color: white">
                            <tr>
                                <td class="semi-bold">
                                    <label><i class="fa fa-align-justify"></i>&nbsp;<b>{{"Attendees Name" | translate}}</b></label>
                                </td>
                                <td class="semi-bold" ng-show="approvebtn">
                                    {{"Remove" | translate}}
                                    <i class="fa fa-trash-o" aria-hidden="true" style="color:red"></i>
                                </td>
                            </tr>
                        </thead>
                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            <tr ng-repeat="info in attendees" ng-class="row1">
                                <td>{{info.sims_mom_attendees_name}}</td>
                                <td ng-show="approvebtn">
                                    <button type="button" class="btn btn-danger btn-mini" ng-show="rejectbtn" ng-if="info.meeting_conductor!='Ch' && info.meeting_conductor!='Rc'"
                                            ng-click="removeUser(info.sims_mom_chairperson_user_code,$index)">
                                        {{"Remove"| translate }}
                                        &nbsp;&nbsp; <i class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                                    <label ng-if="info.meeting_conductor=='Ch'">{{"Chairperson" | translate }}</label>
                                    <label ng-if="info.meeting_conductor=='Rc'">{{"Recorder" | translate }}</label>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
            <span style="color:red">{{ermsg}}</span>
            <span style="color:green">{{succmsg}}</span>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-cons" ng-show="approvebtn" ng-click="addAttendees();">
                {{"Attendees"| translate }}
                &nbsp;&nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </button>
            <!--<button type="button" class="btn btn-primary btn-cons"  ng-click="saveAttendees();">{{"Save"| translate }}</button>-->
            <button type="button" class="btn btn-danger btn-cons" data-dismiss="modal">{{"Cancel"| translate }}</button>

        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="assets/js/tableHeadFixer.js"></script>
<script src="assets/js/tabs_accordian.js"></script>
<script src="assets/plugins/modal_updated.js"></script>
<script src="assets/js/calender-datepicker-id.js"></script>
