﻿<div class="loading-middle" ng-hide="display">
    {{ "Loading..." | translate }}
</div>
<style>
    .semi-bold {
    font-weight:bold;
    }
</style>

<div class="row">
    <div class="row" ng-show="notshow">
        <div class="col-xs-4">
            <div class="well" class="form-group">
                <div class="form-group">
                    <label>Current Page:</label>
                    <input placeholder="page"
                        class="form-control"
                        ng-model="currentPage"
                        ng-init="currentPage = 1" />
                </div>
                <div class="form-group">
                    <label>Page Size:</label>
                    <input placeholder="Page Size"
                        class="form-control"
                        ng-model="numPerPage" />
                </div>
                <div class="form-group">
                    <label>Total Items:</label>
                    <input placeholder="Total"
                        class="form-control"
                        ng-model="pagersize" />
                </div>
                <hr />
                <div class="form-group">
                    <label>Dots Display:</label>
                    <input placeholder="..."
                        class="form-control"
                        maxlength="3"
                        ng-model="dots"
                        ng-init="dots = '...'" />
                </div>

                <hr />
                <div class="form-group">
                    <label>UL Class:</label>
                    <input placeholder="pagination"
                        class="form-control"
                        maxlength="100"
                        ng-model="ulClass" />
                </div>
                <div class="form-group">
                    <label>Active Class:</label>
                    <input placeholder="active"
                        class="form-control"
                        maxlength="100"
                        ng-model="activeClass"
                        ng-init="activeClass = 'active'" />
                </div>
                <div class="form-group">
                    <label>Disabled Class:</label>
                    <input placeholder="disabled"
                        class="form-control"
                        maxlength="100"
                        ng-model="disabledClass"
                        ng-init="disabledClass = 'disabled'" />
                </div>
                <br />
                <table class="table">

                    <tr>
                        <td>
                            <label>Show Prev Next:</label>
                        </td>
                        <td>
                            <input type="checkbox"
                                ng-model="showPrevNext"
                                ng-init="showPrevNext = true" />
                            {{showPrevNext}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Show First Last:</label>
                        </td>
                        <td>
                            <input type="checkbox"
                                ng-model="showFirstLast"
                                ng-init="showFirstLast = true" />
                            {{showPrevNext}}
                        </td>
                    </tr>
                </table>
                <hr />
                <span class="btn btn-default" onclick="location.reload()">
                    <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                </span>
                <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                </span>
                <br />
                <br />
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3><span class="semi-bold">{{"Incidence Action Category"|translate}}</span></h3>
            </div>
            <!-- form open-->
            <div class="grid-body no-border table_padding">
                <div ng-show="display">
                    <form name="MyForm" ng-submit="SaveData(MyForm.$valid)" novalidate="novalidate">

                        <div class="row">

                            <div class="col-md-2">
                                <label><i class="fa fa-sitemap"></i>&nbsp;{{"Action Category"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" placeholder="" class="k-textbox input-sm full-width" id="txt_Model_name" name="form3DateOfBirth" ng-model="edt.sims_incidence_action_code" readonly="true">
                            </div>


                            <div class="col-md-3">
                                <label><i class="fa fa-align-justify"></i>&nbsp;{{"Description"|translate}} <span class="asterisk" style="color: red">*</span></label>
                                <input type="text" placeholder="" class="k-textbox input-sm full-width" id="txt_desc" name="Description" ng-model="edt.sims_incidence_action_code_desc" required ng-maxlength="50" />

                                <label class="semi-bold">
                                    <span style="color: red" ng-show="MyForm.Description.$dirty && MyForm.Description.$invalid || MyForm.$submitted">
                                        <span ng-show="MyForm.Description.$error.required">This field is required</span>
                                        <span ng-show="MyForm.Description.$error.maxlength">Length should be 50 characters</span>
                                    </span>
                                </label>
                            </div>

                            <div class="col-md-2">
                                <label><i class="fa fa-bookmark"></i>&nbsp;{{"Status"|translate}}</label>
                                <div class="checkbox check-success">
                                    <input id="chk_incidence_action_status" type="checkbox" value="1" checked="checked" ng-model="edt.sims_incidence_action_status">
                                    <label for="chk_incidence_action_status"></label>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-actions">
                                    <div class="pull-right">
                                        <button class="btn btn-primary btn-small" type="submit" ng-show="btn_save"><i class="icon-ok"></i>{{"Save"|translate}}</button>
                                        <button class="btn btn-primary btn-small" type="button" ng-click="Update()" ng-show="btn_update"><i class="icon-ok"></i>{{"Update"|translate}}</button>
                                        <button class="btn btn-danger  btn-small" type="button" ng-click="Delete()" ng-show="btn_delete"><i class="icon-ok"></i>{{"Delete"|translate}}</button>
                                        <button class="btn btn-danger  btn-small" type="button" ng-click="cancel()">{{"Cancel"|translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!--Table/Grid-->

                <div ng-show="grid">
                    <div class="row">
                        <div class="col-md-6">
                            <select id="Select1" style="width: 65px" class="input-sm" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                <option value="10" class=" form-control input-sm">10
                                </option>

                                <option value="20" class=" form-control input-sm">20
                                </option>

                                <option value="All" class="form-control input-sm">All
                                </option>
                            </select>
                            &nbsp;
                        <button class="btn btn-success btn-small" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{"New"|translate}}</button>
                            &nbsp;
                        <button class="btn btn-danger  btn-small" type="button" ng-click="Delete()"><span class="semi-bold"></span>{{"Delete"|translate}}</button>
                        </div>

                        <div class="col-md-6">
                            <div class="pull-right">
                                <div class="dataTables_filter" id="example_filter">
                                    <span class="k-textbox k-space-right full-width">
                                        <input type="text" aria-controls="example" placeholder="Description" ng-model="searchText" class="k-textbox input-sm full-width" ng-change="search()">
                                        <a href="#" class="k-icon k-i-search">&nbsp;</a></span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- <div class="row">
                     <div class="col-md-12" style="margin-top:0px">
                        <hr style="border-width: 1px; display: block; background-color: #4e8ff6; height: 03px" />
                    </div>
                </div>-->

                    <div id="example_wrapper" class="dataTables_wrapper form-inline">
                        <div class="row margin-top">
                            <div class="col-md-12"style="margin-top:-9px;">
                                <table class="table  table-bordered table-hover  table-condensed" id="fixTable" aria-describedby="example2_info">
                                    <thead>
                                        <tr style="vertical-align: middle; height: 20px">

                                            <th class="small-cell v-align-middle" style="z-index: 1">
                                                <div class="checkbox check-success" style="height: 20px">
                                                    <input type="checkbox" name="check" value="1" id="mainchk" ng-click="multipledelete();" class="checkall">
                                                    <label for="mainchk"></label>
                                                </div>
                                            </th>
                                            <th class="semi-bold" ng-click="orderByField='sort'; reverseSort = !reverseSort">
                                                <label>
                                                    <b>
                                                        <a href="">
                                                            <i class="fa fa-sort" ng-if="!orderByField"></i><span ng-show="!reverseSort"><i class="fa fa-caret-up" ng-if="orderByField"></i></span>
                                                            <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>&nbsp;{{"Category"|translate}}
                                                        </a>
                                                    </b>
                                                </label>
                                            </th>

                                            <th class="semi-bold"><i class="fa fa-align-justify"></i>&nbsp;{{"Description"|translate}}</th>
                                            <th class="semi-bold"><i class="fa fa-bookmark"></i>&nbsp;{{"Status"|translate}}</th>
                                            <th class="semi-bold small-cell" style="vertical-align: middle; text-align: center; width: 10%"><i class="fa fa-cogs"></i></th>
                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="info in filteredTodos  | orderBy:orderByField:reverseSort" ng-class="row1">
                                            <td>
                                                <div class="checkbox check-success" style="height: 20px">
                                                    <input type="checkbox" name="check" value="1" id="{{info.sims_incidence_action_code}}" ng-click="delete_onebyone(info.sims_incidence_action_code)" />
                                                    <label for="{{info.sims_incidence_action_code}}"></label>
                                                </div>
                                            </td>
                                            <td>{{info.sims_incidence_action_code}}</td>
                                            <td>{{info.sims_incidence_action_code_desc}}</td>

                                            <td class="v-align-middle">
                                                <span ng-if="info.sims_incidence_action_status==true" class="label label-success">{{"Active"|translate}}</span>
                                                <span ng-if="info.sims_incidence_action_status==false" class="label label-important">{{"In active"|translate}}</span>
                                            </td>

                                            <td style="text-align: center"><a href=""><i class="fa fa-edit" ng-click="edit(info)"></i></a></td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                        <div class="row" ng-show="pager">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                        scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                        ng-click="index(currentPage)">
                        </paging>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--End Table/Grid-->
            </div>
        </div>
    </div>

</div>
<script src="assets/js/tableHeadFixer.js"></script>
