﻿<link href="assets/theme/css/ltr/SchoolTimeTable.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="row m-b-10">
                <div class="col-lg-2 col-md-12 col-sm-12 padding_none">
                    <div class="page-title">
                        <h3>{{"Timetable Class View"| translate }}</h3>
                    </div>
                </div>


                <div class="slot_options col-lg-12 col-md-12 col-sm-12 padding_none pull-right">
                      <select id="curr_select" style="width: 80px;" data-role="dropdownlist" ng-model="cur_code" class="selectpicker input-sm" ng-change="getAcademicYear(curr_code)">
                        <option selected disabled value="">Select Curriculum</option>
                        <option ng-repeat="curr in Allcurriculum" value="{{curr.sims_cur_code}}">{{curr.sims_cur_short_name_en}}</option>
                    </select>

                    <select id="aca_select" style="width: 110px;"  ng-model="aca_year" class="selectpicker input-sm" ng-change="getGrade()">
                        <option selected disabled value="">Select Academic Year</option>
                        <option ng-repeat="year in AllAcademicYear" ng-selected="year.sims_academic_year_status=='C'" value="{{year.sims_academic_year}}">{{ year.sims_academic_year_description}}</option>
                    </select>

                    <select id="grade_select"   ng-model="grade_code" class="selectpicker input-sm seldisabled" disabled data-show-subtext="false" data-live-search="true" ng-change="getsection()">
                        <option selected disabled value="">Please Select Grade</option>
                        <option ng-repeat="grade in AllGrades" data-bellcode="{{grade.sims_bell_code}}" data-acayear="{{grade.sims_aca_year}}" value="{{grade.sims_grade_code}}">{{ grade.sims_grade_name }}</option>
                    </select>

                    <select id="section_select"  ng-model="sec_code" class="input-sm" ng-change="genClassView()">
                        <option selected disabled value="">Please Select Section</option>
                        <option ng-repeat="section in getSectionFromGrade" value="{{section.sims_section_code}}">{{ section.sims_section_name_en }}</option>
                    </select>
                    <div class="checkbox check-primary inline-block">
                        <input type="checkbox" ng-checked="showTeacher" id="displayTeacher" ng-click="toggleTeacher()">
                        <label for="displayTeacher">Display Teacher</label>
                    </div>
                    <div class="checkbox check-primary inline-block">
                        <input type="checkbox" ng-checked="showLectureName" id="displayLectureName" ng-click="toggleLectureName()">
                        <label for="displayLectureName">Display Lecture</label>
                    </div>
                    <div class="checkbox check-primary inline-block">
                        <input type="checkbox" ng-checked="showLectureTime" id="displayLectureTime" ng-click="toggleLectureTime()">
                        <label for="displayLectureTime">Display Time</label>
                    </div>
                    <div class="checkbox check-primary inline-block">
                        <input type="checkbox" ng-checked="showDLec" id="displayDLec" ng-click="toggleDLec()">
                        <label for="displayDLec">Display D/Lec</label>
                    </div>
                </div>
            </div>


            <div class="grid-body no-border hide">
                <div class="pull-right">
                    <div class="total_count pull-left font-sm m-r-5">{{"Total Lectures Per Week"| translate }} : <span class="lec_count btn btn-mini btn-danger"></span></div>

                    <button id="printpdf" class="btn btn-mini btn-primary" ng-click="printDiv()">{{"Print"| translate }}</button>
                </div>
                <div id="printDiv" class="p-l-10 p-r-10 white-bg">
                    <div class="inline-block p-t-5 p-b-5 p-l-5 p-r-5 m-b-10 tt_title"></div>
                    <div id="CVgrid" class="m-b-10"></div>
                </div>
                
                
            </div>
        </div>
    </div>
</div>

